In [2]:
import pandas as pd
import numpy as np
import math
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans 
from sklearn import preprocessing, svm, model_selection

In [ ]:
path = "C:/Users/ozgur/Downloads/fantasy-basketball-master/data/Boxscores/2018-19"
all_files = glob.glob(path + "/*.csv")

In [ ]:
temp_list = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    temp_list.append(df)

dataframe = pd.concat(temp_list, axis=0, ignore_index=True)

In [ ]:
print(dataframe)

In [ ]:
missing_data = dataframe.isnull()

for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

In [ ]:
for index, row in dataframe.iterrows():
    if row['3PA'] is 0 and row.isnull()['3P_perc']:
        dataframe.loc[index, ['3P_perc']] = 0

In [ ]:
dataframe.fillna(0, inplace = True)
dataframe.to_csv("merged.csv", encoding='utf-8', index=False)

In [ ]:
data = np.load('C:\\Users\\ozgur\\Downloads\\fantasy-basketball-master\\data\\Names\\standard_names.npy',allow_pickle=True)
print(data)

In [3]:
merged_path = "C:/Users/ozgur/Desktop/dev/Fantasy-Basketball-Player-Recomendation-System/ML/data/Merged/df_2018-19.csv"
merged_df = pd.read_csv(merged_path, index_col=None, header=0)
# merged_df.drop(['Pos', 'Date', 'Salary', 'FPTS', 'Value', 'PG', 'SG', 'F', 'C', 'Name', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA'], axis=1, inplace=True)

for index, row in merged_df.iterrows():
    if row['W'] == row['Team']:
        merged_df.loc[index, ['W']] = 1
    else:
        merged_df.loc[index, ['W']] = 0

# merged_df.drop(['Team'], axis=1, inplace=True)
merged_df.drop(['L'], axis=1, inplace=True)
# merged_df.to_csv("merged.csv", encoding='utf-8', index=False)
print(merged_df)

                  Name    Pos      Date  Salary  Starter Team   FPTS  \
0         Terry Rozier  PG/SG  20181016  4500.0        0  BOS  24.50
1         Kyrie Irving     PG  20181016  7600.0        1  BOS  21.50
2         Marcus Smart  PG/SG  20181016  4400.0        0  BOS  15.25
3       Brad Wanamaker     PG  20181016  3000.0        0  BOS   3.25
4         Jayson Tatum  SF/PF  20181016  5600.0        1  BOS  40.75
...                ...    ...       ...     ...      ...  ...    ...
28906    Royce O'Neale     SF  20190410  3600.0        1  UTA  10.75
28907  Tyler Cavanaugh     PF  20190410  3000.0        0  UTA   5.25
28908        Ekpe Udoh      C  20190410  3300.0        1  UTA  47.25
28909     Tony Bradley      C  20190410  3000.0        0  UTA  37.50
28910   Derrick Favors   PF/C  20190410  6200.0        0  UTA   0.00

           Value  Home  W  ...  DRB_perc  ORB_perc  BLK_perc  TOV_perc  \
0       5.444444     1  1  ...      29.6       0.0       3.0       9.1
1       2.828947     1  1  ...      13.5       0.0       0.0      16.8
2       3.465909     1  1  ...      11.7       0.0       0.0      29.1
3       1.083333     1  1  ...     100.0       0.0       0.0       0.0
4       7.276786     1  1  ...      23.7       6.3       0.0       5.0
...          ...   ... ..  ...       ...       ...       ...       ...
28906   2.986111     0  0  ...      12.3       0.0       0.0      14.3
28907   1.750000     0  0  ...       6.5      11.9       0.0       0.0
28908  14.318182     0  0  ...      35.4       9.7       9.4       0.0
28909  12.500000     0  0  ...      12.6      26.9       5.6      13.4
28910   0.000000     0  0  ...       0.0       0.0       0.0       0.0

       STL_perc  eFG_perc  PG  SG  F  C
0           0.0     0.550   1   0  0  0
1           0.0     0.179   1   0  0  0
2           0.0     0.750   1   0  0  0
3           0.0     1.000   1   0  0  0
4           1.6     0.559   0   0  1  0
...         ...       ...  ..  .. .. ..
28906       0.0     0.500   0   0  1  0
28907       0.0     0.000   0   0  1  0
28908       0.0     0.714   0   0  0  1
28909       3.7     0.583   0   0  0  1
28910       0.0     0.000   0   0  0  1

[28911 rows x 47 columns]

In [4]:
merged_df.Date = merged_df.Date.astype(str).str.slice(0, 4) + '/' + merged_df.Date.astype(str).str.slice(4, 6) + '/' + merged_df.Date.astype(str).str.slice(6, 8)
merged_df.Date = pd.to_datetime(merged_df.Date)
merged_df.to_csv("merged.csv", encoding='utf-8', index=False)

In [5]:
days = (merged_df.loc[11000, ['Date']] - merged_df.loc[56, ['Date']]).dt.days
print(merged_df.loc[11000, ['Date']], merged_df.loc[56, ['Date']], days)

Date    2018-12-19 00:00:00
Name: 11000, dtype: object Date    2018-10-17 00:00:00
Name: 56, dtype: object Date    63
dtype: int64

In [4]:
merged_path = "C:/Users/ozgur/Desktop/dev/Fantasy-Basketball-Player-Recomendation-System/ML/main_merged2.csv"
merged_df = pd.read_csv(merged_path, index_col=None, header=0)
merged_df.columns

Index(['Name', 'Pos', 'Date', 'Starter', 'Team', 'Home', 'W', 'W_PTS', 'L_PTS',
       'MP', 'FG', 'FGA', 'FG_perc', '3P', '3PA', '3P_perc', 'FT', 'FTA',
       'FT_perc', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'USG_perc',
       'DRtg', 'ORtg', 'AST_perc', 'DRB_perc', 'ORB_perc', 'BLK_perc',
       'TOV_perc', 'STL_perc', 'eFG_perc', 'PG', 'SG', 'F', 'C',
       'PTS_AVG Last Month', 'PTS_AVG Last Week', 'AST Last Week', 'PTS_AVG',
       'AST Last Month', 'MP_AVG', 'FG_AVG', 'FGA_AVG', 'FG_perc_AVG',
       'FG_AVG Last Week', 'FGA_AVG Last Week', 'FG_perc_AVG Last Week',
       'AST_AVG', 'FG_AVG Last Month', 'FGA_AVG Last Month',
       'FG_perc_AVG Last Month', 'Opp', 'BLK_AVG', 'BLK Last Week',
       'BLK Last Month', 'TRB_AVG', 'STL_AVG'],
      dtype='object')

In [ ]:
WEEK = 7
MONTH = 30 

merged_df['MP Last Month'] = np.nan
merged_df.Date = pd.to_datetime(merged_df.Date)
temp_df = merged_df.drop(['Pos', 'Starter', 'Team', 'Home', 'W', 'W_PTS', 'L_PTS',
       'FG', 'FGA', 'FG_perc', '3P', '3PA', '3P_perc', 'FT', 'FTA',
       'FT_perc', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'USG_perc',
       'DRtg', 'ORtg', 'AST_perc', 'DRB_perc', 'ORB_perc', 'BLK_perc',
       'TOV_perc', 'STL_perc', 'eFG_perc', 'PG', 'SG', 'F', 'C',
       'PTS_AVG Last Month', 'PTS_AVG Last Week', 'AST Last Week', 'PTS_AVG',
       'AST Last Month', 'MP_AVG', 'FG_AVG', 'FGA_AVG', 'FG_perc_AVG',
       'FG_AVG Last Week', 'FGA_AVG Last Week', 'FG_perc_AVG Last Week',
       'AST_AVG', 'FG_AVG Last Month', 'FGA_AVG Last Month',
       'FG_perc_AVG Last Month', 'Opp', 'BLK_AVG', 'BLK Last Week',
       'BLK Last Month', 'TRB_AVG', 'STL_AVG'], axis=1)

for index_i, row_i in temp_df.iterrows():
    count = 0
    total = 0

    for index_j, row_j in temp_df.iterrows():
        if index_j >= index_i:
            break
        elif (row_i['Name'] == row_j['Name']) and (row_i['Date'] - row_j['Date']).days <= WEEK:
            count += 1
            total += row_j['MP']
     
    if total is 0:
        merged_df.loc[index_i, ['MP Last Month']] = 0
    else:
        merged_df.loc[index_i, ['MP Last Month']] = total/count
    
    print(index_i, total, count, merged_df.loc[index_i, ['MP Last Month']])
    
print(merged_df)

0 0 0 MP Last Month    0
Name: 0, dtype: object
1 0 0 MP Last Month    0
Name: 1, dtype: object
2 0 0 MP Last Month    0
Name: 2, dtype: object
3 0 0 MP Last Month    0
Name: 3, dtype: object
4 0 0 MP Last Month    0
Name: 4, dtype: object
5 0 0 MP Last Month    0
Name: 5, dtype: object
6 0 0 MP Last Month    0
Name: 6, dtype: object
7 0 0 MP Last Month    0
Name: 7, dtype: object
8 0 0 MP Last Month    0
Name: 8, dtype: object
9 0 0 MP Last Month    0
Name: 9, dtype: object
10 0 0 MP Last Month    0
Name: 10, dtype: object
11 0 0 MP Last Month    0
Name: 11, dtype: object
12 0 0 MP Last Month    0
Name: 12, dtype: object
13 0 0 MP Last Month    0
Name: 13, dtype: object
14 0 0 MP Last Month    0
Name: 14, dtype: object
15 0 0 MP Last Month    0
Name: 15, dtype: object
16 0 0 MP Last Month    0
Name: 16, dtype: object
17 0 0 MP Last Month    0
Name: 17, dtype: object
18 0 0 MP Last Month    0
Name: 18, dtype: object
19 0 0 MP Last Month    0
Name: 19, dtype: object
20 0 0 MP Last Month    0
Name: 20, dtype: object
21 0 0 MP Last Month    0
Name: 21, dtype: object
22 0 0 MP Last Month    0
Name: 22, dtype: object
23 0 0 MP Last Month    0
Name: 23, dtype: object
24 0 0 MP Last Month    0
Name: 24, dtype: object
25 0 0 MP Last Month    0
Name: 25, dtype: object
26 0 0 MP Last Month    0
Name: 26, dtype: object
27 0 0 MP Last Month    0
Name: 27, dtype: object
28 0 0 MP Last Month    0
Name: 28, dtype: object
29 0 0 MP Last Month    0
Name: 29, dtype: object
30 0 0 MP Last Month    0
Name: 30, dtype: object
31 0 0 MP Last Month    0
Name: 31, dtype: object
32 0 0 MP Last Month    0
Name: 32, dtype: object
33 0 0 MP Last Month    0
Name: 33, dtype: object
34 0 0 MP Last Month    0
Name: 34, dtype: object
35 0 0 MP Last Month    0
Name: 35, dtype: object
36 0 0 MP Last Month    0
Name: 36, dtype: object
37 0 0 MP Last Month    0
Name: 37, dtype: object
38 0 0 MP Last Month    0
Name: 38, dtype: object
39 0 0 MP Last Month    0
Name: 39, dtype: object
40 0 0 MP Last Month    0
Name: 40, dtype: object
41 0 0 MP Last Month    0
Name: 41, dtype: object
42 0 0 MP Last Month    0
Name: 42, dtype: object
43 0 0 MP Last Month    0
Name: 43, dtype: object
44 0 0 MP Last Month    0
Name: 44, dtype: object
45 0 0 MP Last Month    0
Name: 45, dtype: object
46 0 0 MP Last Month    0
Name: 46, dtype: object
47 0 0 MP Last Month    0
Name: 47, dtype: object
48 0 0 MP Last Month    0
Name: 48, dtype: object
49 0 0 MP Last Month    0
Name: 49, dtype: object
50 0 0 MP Last Month    0
Name: 50, dtype: object
51 0 0 MP Last Month    0
Name: 51, dtype: object
52 0 0 MP Last Month    0
Name: 52, dtype: object
53 0 0 MP Last Month    0
Name: 53, dtype: object
54 0 0 MP Last Month    0
Name: 54, dtype: object
55 0 0 MP Last Month    0
Name: 55, dtype: object
56 0 0 MP Last Month    0
Name: 56, dtype: object
57 0 0 MP Last Month    0
Name: 57, dtype: object
58 0 0 MP Last Month    0
Name: 58, dtype: object
59 0 0 MP Last Month    0
Name: 59, dtype: object
60 0 0 MP Last Month    0
Name: 60, dtype: object
61 0 0 MP Last Month    0
Name: 61, dtype: object
62 0 0 MP Last Month    0
Name: 62, dtype: object
63 0 0 MP Last Month    0
Name: 63, dtype: object
64 0 0 MP Last Month    0
Name: 64, dtype: object
65 0 0 MP Last Month    0
Name: 65, dtype: object
66 0 0 MP Last Month    0
Name: 66, dtype: object
67 0 0 MP Last Month    0
Name: 67, dtype: object
68 0 0 MP Last Month    0
Name: 68, dtype: object
69 0 0 MP Last Month    0
Name: 69, dtype: object
70 0 0 MP Last Month    0
Name: 70, dtype: object
71 0 0 MP Last Month    0
Name: 71, dtype: object
72 0 0 MP Last Month    0
Name: 72, dtype: object
73 0 0 MP Last Month    0
Name: 73, dtype: object
74 0 0 MP Last Month    0
Name: 74, dtype: object
75 0 0 MP Last Month    0
Name: 75, dtype: object
76 0 0 MP Last Month    0
Name: 76, dtype: object
77 0 0 MP Last Month    0
Name: 77, dtype: object
78 0 0 MP Last Month    0
Name: 78, dtype: object
79 0 0 MP Last Month    0
Name: 79, dtype: object
80 0 0 MP Last Month    0
Name: 80, dtype: object
81 0 0 MP Last Month    0
Name: 81, dtype: object
82 0 0 MP Last Month    0
Name: 82, dtype: object
83 0 0 MP Last Month    0
Name: 83, dtype: object
84 0 0 MP Last Month    0
Name: 84, dtype: object
85 0 0 MP Last Month    0
Name: 85, dtype: object
86 0 0 MP Last Month    0
Name: 86, dtype: object
87 0 0 MP Last Month    0
Name: 87, dtype: object
88 0 0 MP Last Month    0
Name: 88, dtype: object
89 0 0 MP Last Month    0
Name: 89, dtype: object
90 0 0 MP Last Month    0
Name: 90, dtype: object
91 0 0 MP Last Month    0
Name: 91, dtype: object
92 0 0 MP Last Month    0
Name: 92, dtype: object
93 0 0 MP Last Month    0
Name: 93, dtype: object
94 0 0 MP Last Month    0
Name: 94, dtype: object
95 0 0 MP Last Month    0
Name: 95, dtype: object
96 0 0 MP Last Month    0
Name: 96, dtype: object
97 0 0 MP Last Month    0
Name: 97, dtype: object
98 0 0 MP Last Month    0
Name: 98, dtype: object
99 0 0 MP Last Month    0
Name: 99, dtype: object
100 0 0 MP Last Month    0
Name: 100, dtype: object
101 0 0 MP Last Month    0
Name: 101, dtype: object
102 0 0 MP Last Month    0
Name: 102, dtype: object
103 0 0 MP Last Month    0
Name: 103, dtype: object
104 0 0 MP Last Month    0
Name: 104, dtype: object
105 0 0 MP Last Month    0
Name: 105, dtype: object
106 0 0 MP Last Month    0
Name: 106, dtype: object
107 0 0 MP Last Month    0
Name: 107, dtype: object
108 0 0 MP Last Month    0
Name: 108, dtype: object
109 0 0 MP Last Month    0
Name: 109, dtype: object
110 0 0 MP Last Month    0
Name: 110, dtype: object
111 0 0 MP Last Month    0
Name: 111, dtype: object
112 0 0 MP Last Month    0
Name: 112, dtype: object
113 0 0 MP Last Month    0
Name: 113, dtype: object
114 0 0 MP Last Month    0
Name: 114, dtype: object
115 0 0 MP Last Month    0
Name: 115, dtype: object
116 0 0 MP Last Month    0
Name: 116, dtype: object
117 0 0 MP Last Month    0
Name: 117, dtype: object
118 0 0 MP Last Month    0
Name: 118, dtype: object
119 0 0 MP Last Month    0
Name: 119, dtype: object
120 0 0 MP Last Month    0
Name: 120, dtype: object
121 0 0 MP Last Month    0
Name: 121, dtype: object
122 0 0 MP Last Month    0
Name: 122, dtype: object
123 0 0 MP Last Month    0
Name: 123, dtype: object
124 0 0 MP Last Month    0
Name: 124, dtype: object
125 0 0 MP Last Month    0
Name: 125, dtype: object
126 0 0 MP Last Month    0
Name: 126, dtype: object
127 0 0 MP Last Month    0
Name: 127, dtype: object
128 0 0 MP Last Month    0
Name: 128, dtype: object
129 0 0 MP Last Month    0
Name: 129, dtype: object
130 0 0 MP Last Month    0
Name: 130, dtype: object
131 0 0 MP Last Month    0
Name: 131, dtype: object
132 0 0 MP Last Month    0
Name: 132, dtype: object
133 0 0 MP Last Month    0
Name: 133, dtype: object
134 0 0 MP Last Month    0
Name: 134, dtype: object
135 0 0 MP Last Month    0
Name: 135, dtype: object
136 0 0 MP Last Month    0
Name: 136, dtype: object
137 0 0 MP Last Month    0
Name: 137, dtype: object
138 0 0 MP Last Month    0
Name: 138, dtype: object
139 0 0 MP Last Month    0
Name: 139, dtype: object
140 0 0 MP Last Month    0
Name: 140, dtype: object
141 0 0 MP Last Month    0
Name: 141, dtype: object
142 0 0 MP Last Month    0
Name: 142, dtype: object
143 0 0 MP Last Month    0
Name: 143, dtype: object
144 0 0 MP Last Month    0
Name: 144, dtype: object
145 0 0 MP Last Month    0
Name: 145, dtype: object
146 0 0 MP Last Month    0
Name: 146, dtype: object
147 0 0 MP Last Month    0
Name: 147, dtype: object
148 0 0 MP Last Month    0
Name: 148, dtype: object
149 0 0 MP Last Month    0
Name: 149, dtype: object
150 0 0 MP Last Month    0
Name: 150, dtype: object
151 0 0 MP Last Month    0
Name: 151, dtype: object
152 0 0 MP Last Month    0
Name: 152, dtype: object
153 0 0 MP Last Month    0
Name: 153, dtype: object
154 0 0 MP Last Month    0
Name: 154, dtype: object
155 0 0 MP Last Month    0
Name: 155, dtype: object
156 0 0 MP Last Month    0
Name: 156, dtype: object
157 0 0 MP Last Month    0
Name: 157, dtype: object
158 0 0 MP Last Month    0
Name: 158, dtype: object
159 0 0 MP Last Month    0
Name: 159, dtype: object
160 0 0 MP Last Month    0
Name: 160, dtype: object
161 0 0 MP Last Month    0
Name: 161, dtype: object
162 0 0 MP Last Month    0
Name: 162, dtype: object

163 0 0 MP Last Month    0
Name: 163, dtype: object
164 0 0 MP Last Month    0
Name: 164, dtype: object
165 0 0 MP Last Month    0
Name: 165, dtype: object
166 0 0 MP Last Month    0
Name: 166, dtype: object
167 0 0 MP Last Month    0
Name: 167, dtype: object
168 0 0 MP Last Month    0
Name: 168, dtype: object
169 0 0 MP Last Month    0
Name: 169, dtype: object
170 0 0 MP Last Month    0
Name: 170, dtype: object
171 0 0 MP Last Month    0
Name: 171, dtype: object
172 0 0 MP Last Month    0
Name: 172, dtype: object
173 0 0 MP Last Month    0
Name: 173, dtype: object
174 0 0 MP Last Month    0
Name: 174, dtype: object
175 0 0 MP Last Month    0
Name: 175, dtype: object
176 0 0 MP Last Month    0
Name: 176, dtype: object
177 0 0 MP Last Month    0
Name: 177, dtype: object
178 0 0 MP Last Month    0
Name: 178, dtype: object
179 0 0 MP Last Month    0
Name: 179, dtype: object
180 0 0 MP Last Month    0
Name: 180, dtype: object
181 0 0 MP Last Month    0
Name: 181, dtype: object
182 0 0 MP Last Month    0
Name: 182, dtype: object
183 0 0 MP Last Month    0
Name: 183, dtype: object
184 0 0 MP Last Month    0
Name: 184, dtype: object
185 0 0 MP Last Month    0
Name: 185, dtype: object
186 0 0 MP Last Month    0
Name: 186, dtype: object
187 0 0 MP Last Month    0
Name: 187, dtype: object
188 0 0 MP Last Month    0
Name: 188, dtype: object
189 0 0 MP Last Month    0
Name: 189, dtype: object
190 0 0 MP Last Month    0
Name: 190, dtype: object
191 0 0 MP Last Month    0
Name: 191, dtype: object
192 0 0 MP Last Month    0
Name: 192, dtype: object
193 0 0 MP Last Month    0
Name: 193, dtype: object
194 0 0 MP Last Month    0
Name: 194, dtype: object
195 0 0 MP Last Month    0
Name: 195, dtype: object
196 0 0 MP Last Month    0
Name: 196, dtype: object
197 0 0 MP Last Month    0
Name: 197, dtype: object
198 0 0 MP Last Month    0
Name: 198, dtype: object
199 0 0 MP Last Month    0
Name: 199, dtype: object
200 0 0 MP Last Month    0
Name: 200, dtype: object
201 0 0 MP Last Month    0
Name: 201, dtype: object
202 0 0 MP Last Month    0
Name: 202, dtype: object
203 0 0 MP Last Month    0
Name: 203, dtype: object
204 0 0 MP Last Month    0
Name: 204, dtype: object
205 0 0 MP Last Month    0
Name: 205, dtype: object
206 0 0 MP Last Month    0
Name: 206, dtype: object
207 0 0 MP Last Month    0
Name: 207, dtype: object
208 0 0 MP Last Month    0
Name: 208, dtype: object
209 0 0 MP Last Month    0
Name: 209, dtype: object
210 0 0 MP Last Month    0
Name: 210, dtype: object
211 0 0 MP Last Month    0
Name: 211, dtype: object
212 0 0 MP Last Month    0
Name: 212, dtype: object
213 0 0 MP Last Month    0
Name: 213, dtype: object
214 0 0 MP Last Month    0
Name: 214, dtype: object
215 0 0 MP Last Month    0
Name: 215, dtype: object
216 0 0 MP Last Month    0
Name: 216, dtype: object
217 0 0 MP Last Month    0
Name: 217, dtype: object
218 0 0 MP Last Month    0
Name: 218, dtype: object
219 0 0 MP Last Month    0
Name: 219, dtype: object
220 0 0 MP Last Month    0
Name: 220, dtype: object
221 0 0 MP Last Month    0
Name: 221, dtype: object
222 0 0 MP Last Month    0
Name: 222, dtype: object
223 0 0 MP Last Month    0
Name: 223, dtype: object
224 0 0 MP Last Month    0
Name: 224, dtype: object
225 0 0 MP Last Month    0
Name: 225, dtype: object
226 0 0 MP Last Month    0
Name: 226, dtype: object
227 0 0 MP Last Month    0
Name: 227, dtype: object
228 0 0 MP Last Month    0
Name: 228, dtype: object
229 0 0 MP Last Month    0
Name: 229, dtype: object
230 0 0 MP Last Month    0
Name: 230, dtype: object
231 0 0 MP Last Month    0
Name: 231, dtype: object
232 0 0 MP Last Month    0
Name: 232, dtype: object
233 0 0 MP Last Month    0
Name: 233, dtype: object
234 0 0 MP Last Month    0
Name: 234, dtype: object
235 0 0 MP Last Month    0
Name: 235, dtype: object
236 0 0 MP Last Month    0
Name: 236, dtype: object
237 0 0 MP Last Month    0
Name: 237, dtype: object
238 0 0 MP Last Month    0
Name: 238, dtype: object
239 0 0 MP Last Month    0
Name: 239, dtype: object
240 0 0 MP Last Month    0
Name: 240, dtype: object
241 0 0 MP Last Month    0
Name: 241, dtype: object
242 0 0 MP Last Month    0
Name: 242, dtype: object
243 0 0 MP Last Month    0
Name: 243, dtype: object
244 0 0 MP Last Month    0
Name: 244, dtype: object
245 0 0 MP Last Month    0
Name: 245, dtype: object
246 0 0 MP Last Month    0
Name: 246, dtype: object
247 0 0 MP Last Month    0
Name: 247, dtype: object
248 0 0 MP Last Month    0
Name: 248, dtype: object
249 0 0 MP Last Month    0
Name: 249, dtype: object
250 0 0 MP Last Month    0
Name: 250, dtype: object
251 0 0 MP Last Month    0
Name: 251, dtype: object
252 0 0 MP Last Month    0
Name: 252, dtype: object
253 0 0 MP Last Month    0
Name: 253, dtype: object
254 0 0 MP Last Month    0
Name: 254, dtype: object
255 0 0 MP Last Month    0
Name: 255, dtype: object
256 0 0 MP Last Month    0
Name: 256, dtype: object
257 0 0 MP Last Month    0
Name: 257, dtype: object
258 0 0 MP Last Month    0
Name: 258, dtype: object
259 0 0 MP Last Month    0
Name: 259, dtype: object
260 0 0 MP Last Month    0
Name: 260, dtype: object
261 0 0 MP Last Month    0
Name: 261, dtype: object
262 0 0 MP Last Month    0
Name: 262, dtype: object
263 0 0 MP Last Month    0
Name: 263, dtype: object
264 0 0 MP Last Month    0
Name: 264, dtype: object
265 0 0 MP Last Month    0
Name: 265, dtype: object
266 0 0 MP Last Month    0
Name: 266, dtype: object
267 0 0 MP Last Month    0
Name: 267, dtype: object
268 0 0 MP Last Month    0
Name: 268, dtype: object
269 0 0 MP Last Month    0
Name: 269, dtype: object
270 0 0 MP Last Month    0
Name: 270, dtype: object
271 0 0 MP Last Month    0
Name: 271, dtype: object
272 0 0 MP Last Month    0
Name: 272, dtype: object
273 0 0 MP Last Month    0
Name: 273, dtype: object
274 0 0 MP Last Month    0
Name: 274, dtype: object
275 0 0 MP Last Month    0
Name: 275, dtype: object
276 0 0 MP Last Month    0
Name: 276, dtype: object
277 0 0 MP Last Month    0
Name: 277, dtype: object
278 0 0 MP Last Month    0
Name: 278, dtype: object
279 0 0 MP Last Month    0
Name: 279, dtype: object
280 0 0 MP Last Month    0
Name: 280, dtype: object
281 0 0 MP Last Month    0
Name: 281, dtype: object
282 0 0 MP Last Month    0
Name: 282, dtype: object
283 0 0 MP Last Month    0
Name: 283, dtype: object
284 0 0 MP Last Month    0
Name: 284, dtype: object
285 0 0 MP Last Month    0
Name: 285, dtype: object
286 0 0 MP Last Month    0
Name: 286, dtype: object
287 0 0 MP Last Month    0
Name: 287, dtype: object
288 0 0 MP Last Month    0
Name: 288, dtype: object
289 0 0 MP Last Month    0
Name: 289, dtype: object
290 0 0 MP Last Month    0
Name: 290, dtype: object
291 0 0 MP Last Month    0
Name: 291, dtype: object
292 0 0 MP Last Month    0
Name: 292, dtype: object
293 0 0 MP Last Month    0
Name: 293, dtype: object
294 0 0 MP Last Month    0
Name: 294, dtype: object
295 0 0 MP Last Month    0
Name: 295, dtype: object
296 0 0 MP Last Month    0
Name: 296, dtype: object
297 0 0 MP Last Month    0
Name: 297, dtype: object
298 0 0 MP Last Month    0
Name: 298, dtype: object
299 0 0 MP Last Month    0
Name: 299, dtype: object
300 0 0 MP Last Month    0
Name: 300, dtype: object
301 0 0 MP Last Month    0
Name: 301, dtype: object
302 0 0 MP Last Month    0
Name: 302, dtype: object
303 0 0 MP Last Month    0
Name: 303, dtype: object
304 0 0 MP Last Month    0
Name: 304, dtype: object
305 0 0 MP Last Month    0
Name: 305, dtype: object
306 0 0 MP Last Month    0
Name: 306, dtype: object
307 0 0 MP Last Month    0
Name: 307, dtype: object
308 0 0 MP Last Month    0
Name: 308, dtype: object
309 0 0 MP Last Month    0
Name: 309, dtype: object
310 0 0 MP Last Month    0
Name: 310, dtype: object
311 0 0 MP Last Month    0
Name: 311, dtype: object
312 0 0 MP Last Month    0
Name: 312, dtype: object
313 0 0 MP Last Month    0
Name: 313, dtype: object
314 0 0 MP Last Month    0
Name: 314, dtype: object
315 0 0 MP Last Month    0
Name: 315, dtype: object
316 0 0 MP Last Month    0
Name: 316, dtype: object
317 0 0 MP Last Month    0
Name: 317, dtype: object
318 0 0 MP Last Month    0
Name: 318, dtype: object
319 0 0 MP Last Month    0
Name: 319, dtype: object
320 0 0 MP Last Month    0
Name: 320, dtype: object
321 0 0 MP Last Month    0
Name: 321, dtype: object

322 0 0 MP Last Month    0
Name: 322, dtype: object
323 0 0 MP Last Month    0
Name: 323, dtype: object
324 0 0 MP Last Month    0
Name: 324, dtype: object
325 0 0 MP Last Month    0
Name: 325, dtype: object
326 0 0 MP Last Month    0
Name: 326, dtype: object
327 0 0 MP Last Month    0
Name: 327, dtype: object
328 0 0 MP Last Month    0
Name: 328, dtype: object
329 0 0 MP Last Month    0
Name: 329, dtype: object
330 0 0 MP Last Month    0
Name: 330, dtype: object
331 0 0 MP Last Month    0
Name: 331, dtype: object
332 0 0 MP Last Month    0
Name: 332, dtype: object
333 0 0 MP Last Month    0
Name: 333, dtype: object
334 0 0 MP Last Month    0
Name: 334, dtype: object
335 0 0 MP Last Month    0
Name: 335, dtype: object
336 0 0 MP Last Month    0
Name: 336, dtype: object
337 0 0 MP Last Month    0
Name: 337, dtype: object
338 0 0 MP Last Month    0
Name: 338, dtype: object
339 0 0 MP Last Month    0
Name: 339, dtype: object
340 0 0 MP Last Month    0
Name: 340, dtype: object
341 0 0 MP Last Month    0
Name: 341, dtype: object
342 0 0 MP Last Month    0
Name: 342, dtype: object
343 0 0 MP Last Month    0
Name: 343, dtype: object
344 0 0 MP Last Month    0
Name: 344, dtype: object
345 32.9 1 MP Last Month    32.9
Name: 345, dtype: object
346 26.03 1 MP Last Month    26.03
Name: 346, dtype: object
347 23.75 1 MP Last Month    23.75
Name: 347, dtype: object
348 37.58 1 MP Last Month    37.58
Name: 348, dtype: object
349 31.5 1 MP Last Month    31.5
Name: 349, dtype: object
350 17.22 1 MP Last Month    17.22
Name: 350, dtype: object
351 0.0 1 MP Last Month    0
Name: 351, dtype: object
352 0.0 1 MP Last Month    0
Name: 352, dtype: object
353 0.0 1 MP Last Month    0
Name: 353, dtype: object
354 0.0 1 MP Last Month    0
Name: 354, dtype: object
355 33.58 1 MP Last Month    33.58
Name: 355, dtype: object
356 15.42 1 MP Last Month    15.42
Name: 356, dtype: object
357 21.98 1 MP Last Month    21.98
Name: 357, dtype: object
358 42.75 1 MP Last Month    42.75
Name: 358, dtype: object
359 24.33 1 MP Last Month    24.33
Name: 359, dtype: object
360 12.7 1 MP Last Month    12.7
Name: 360, dtype: object
361 22.43 1 MP Last Month    22.43
Name: 361, dtype: object
362 1.45 1 MP Last Month    1.45
Name: 362, dtype: object
363 0.0 1 MP Last Month    0
Name: 363, dtype: object
364 0.0 1 MP Last Month    0
Name: 364, dtype: object
365 34.2 1 MP Last Month    34.2
Name: 365, dtype: object
366 22.92 1 MP Last Month    22.92
Name: 366, dtype: object
367 29.77 1 MP Last Month    29.77
Name: 367, dtype: object
368 1.45 1 MP Last Month    1.45
Name: 368, dtype: object
369 36.82 1 MP Last Month    36.82
Name: 369, dtype: object
370 11.18 1 MP Last Month    11.18
Name: 370, dtype: object
371 0 0 MP Last Month    0
Name: 371, dtype: object
372 0 0 MP Last Month    0
Name: 372, dtype: object
373 0 0 MP Last Month    0
Name: 373, dtype: object
374 0 0 MP Last Month    0
Name: 374, dtype: object
375 0 0 MP Last Month    0
Name: 375, dtype: object
376 0 0 MP Last Month    0
Name: 376, dtype: object
377 0 0 MP Last Month    0
Name: 377, dtype: object
378 0 0 MP Last Month    0
Name: 378, dtype: object
379 0 0 MP Last Month    0
Name: 379, dtype: object
380 0 0 MP Last Month    0
Name: 380, dtype: object
381 0 0 MP Last Month    0
Name: 381, dtype: object
382 0 0 MP Last Month    0
Name: 382, dtype: object
383 0 0 MP Last Month    0
Name: 383, dtype: object
384 0 0 MP Last Month    0
Name: 384, dtype: object
385 0 0 MP Last Month    0
Name: 385, dtype: object
386 0 0 MP Last Month    0
Name: 386, dtype: object
387 0 0 MP Last Month    0
Name: 387, dtype: object
388 0 0 MP Last Month    0
Name: 388, dtype: object
389 0 0 MP Last Month    0
Name: 389, dtype: object
390 0 0 MP Last Month    0
Name: 390, dtype: object
391 0 0 MP Last Month    0
Name: 391, dtype: object
392 0 0 MP Last Month    0
Name: 392, dtype: object
393 0 0 MP Last Month    0
Name: 393, dtype: object
394 0 0 MP Last Month    0
Name: 394, dtype: object
395 33.13 1 MP Last Month    33.13
Name: 395, dtype: object
396 13.7 1 MP Last Month    13.7
Name: 396, dtype: object
397 4.58 1 MP Last Month    4.58
Name: 397, dtype: object
398 14.6 1 MP Last Month    14.6
Name: 398, dtype: object
399 4.28 1 MP Last Month    4.28
Name: 399, dtype: object
400 20.72 1 MP Last Month    20.72
Name: 400, dtype: object
401 30.27 1 MP Last Month    30.27
Name: 401, dtype: object
402 23.97 1 MP Last Month    23.97
Name: 402, dtype: object
403 9.37 1 MP Last Month    9.37
Name: 403, dtype: object
404 21.43 1 MP Last Month    21.43
Name: 404, dtype: object
405 29.0 1 MP Last Month    29
Name: 405, dtype: object
406 26.52 1 MP Last Month    26.52
Name: 406, dtype: object
407 25.02 1 MP Last Month    25.02
Name: 407, dtype: object
408 0.82 1 MP Last Month    0.82
Name: 408, dtype: object
409 28.93 1 MP Last Month    28.93
Name: 409, dtype: object
410 24.62 1 MP Last Month    24.62
Name: 410, dtype: object
411 28.38 1 MP Last Month    28.38
Name: 411, dtype: object
412 20.5 1 MP Last Month    20.5
Name: 412, dtype: object
413 1.45 1 MP Last Month    1.45
Name: 413, dtype: object
414 1.45 1 MP Last Month    1.45
Name: 414, dtype: object
415 29.95 1 MP Last Month    29.95
Name: 415, dtype: object
416 19.23 1 MP Last Month    19.23
Name: 416, dtype: object
417 4.13 1 MP Last Month    4.13
Name: 417, dtype: object
418 24.97 1 MP Last Month    24.97
Name: 418, dtype: object
419 32.28 1 MP Last Month    32.28
Name: 419, dtype: object
420 0.0 1 MP Last Month    0
Name: 420, dtype: object
421 33.98 1 MP Last Month    33.98
Name: 421, dtype: object
422 35.85 1 MP Last Month    35.85
Name: 422, dtype: object
423 37.13 1 MP Last Month    37.13
Name: 423, dtype: object
424 10.62 1 MP Last Month    10.62
Name: 424, dtype: object
425 0 0 MP Last Month    0
Name: 425, dtype: object
426 17.42 1 MP Last Month    17.42
Name: 426, dtype: object
427 0.0 1 MP Last Month    0
Name: 427, dtype: object
428 30.15 1 MP Last Month    30.15
Name: 428, dtype: object
429 17.6 1 MP Last Month    17.6
Name: 429, dtype: object
430 0.0 1 MP Last Month    0
Name: 430, dtype: object
431 38.65 1 MP Last Month    38.65
Name: 431, dtype: object
432 33.58 1 MP Last Month    33.58
Name: 432, dtype: object
433 19.8 1 MP Last Month    19.8
Name: 433, dtype: object
434 0.0 1 MP Last Month    0
Name: 434, dtype: object
435 31.82 1 MP Last Month    31.82
Name: 435, dtype: object
436 21.63 1 MP Last Month    21.63
Name: 436, dtype: object
437 14.5 1 MP Last Month    14.5
Name: 437, dtype: object
438 20.8 1 MP Last Month    20.8
Name: 438, dtype: object
439 25.85 1 MP Last Month    25.85
Name: 439, dtype: object
440 21.1 1 MP Last Month    21.1
Name: 440, dtype: object
441 0.0 1 MP Last Month    0
Name: 441, dtype: object
442 0.0 1 MP Last Month    0
Name: 442, dtype: object
443 23.15 1 MP Last Month    23.15
Name: 443, dtype: object
444 17.72 1 MP Last Month    17.72
Name: 444, dtype: object
445 31.45 1 MP Last Month    31.45
Name: 445, dtype: object
446 0 0 MP Last Month    0
Name: 446, dtype: object
447 33.08 1 MP Last Month    33.08
Name: 447, dtype: object
448 26.32 1 MP Last Month    26.32
Name: 448, dtype: object
449 16.27 1 MP Last Month    16.27
Name: 449, dtype: object
450 14.02 1 MP Last Month    14.02
Name: 450, dtype: object
451 1.7 1 MP Last Month    1.7
Name: 451, dtype: object
452 34.08 1 MP Last Month    34.08
Name: 452, dtype: object
453 27.08 1 MP Last Month    27.08
Name: 453, dtype: object
454 14.4 1 MP Last Month    14.4
Name: 454, dtype: object
455 0.0 1 MP Last Month    0
Name: 455, dtype: object
456 36.62 1 MP Last Month    36.62
Name: 456, dtype: object
457 34.98 1 MP Last Month    34.98
Name: 457, dtype: object
458 14.57 1 MP Last Month    14.57
Name: 458, dtype: object
459 13.2 1 MP Last Month    13.2
Name: 459, dtype: object
460 0 0 MP Last Month    0
Name: 460, dtype: object
461 37.72 1 MP Last Month    37.72
Name: 461, dtype: object
462 6.17 1 MP Last Month    6.17
Name: 462, dtype: object
463 2.35 1 MP Last Month    2.35
Name: 463, dtype: object
464 6.65 1 MP Last Month    6.65
Name: 464, dtype: object
465 32.75 1 MP Last Month    32.75
Name: 465, dtype: object
466 26.55 1 MP Last Month    26.55
Name: 466, dtype: object
467 18.07 1 MP Last Month    18.07
Name: 467, dtype: object

468 25.78 1 MP Last Month    25.78
Name: 468, dtype: object
469 21.48 1 MP Last Month    21.48
Name: 469, dtype: object
470 28.28 1 MP Last Month    28.28
Name: 470, dtype: object
471 3.97 1 MP Last Month    3.97
Name: 471, dtype: object
472 3.85 1 MP Last Month    3.85
Name: 472, dtype: object
473 23.57 1 MP Last Month    23.57
Name: 473, dtype: object
474 24.4 1 MP Last Month    24.4
Name: 474, dtype: object
475 27.72 1 MP Last Month    27.72
Name: 475, dtype: object
476 27.1 1 MP Last Month    27.1
Name: 476, dtype: object
477 0 0 MP Last Month    0
Name: 477, dtype: object
478 28.55 1 MP Last Month    28.55
Name: 478, dtype: object
479 20.37 1 MP Last Month    20.37
Name: 479, dtype: object
480 3.97 1 MP Last Month    3.97
Name: 480, dtype: object
481 19.52 1 MP Last Month    19.52
Name: 481, dtype: object
482 28.2 1 MP Last Month    28.2
Name: 482, dtype: object
483 27.93 1 MP Last Month    27.93
Name: 483, dtype: object
484 0 0 MP Last Month    0
Name: 484, dtype: object
485 0.0 1 MP Last Month    0
Name: 485, dtype: object
486 40.52 1 MP Last Month    40.52
Name: 486, dtype: object
487 33.88 1 MP Last Month    33.88
Name: 487, dtype: object
488 9.22 1 MP Last Month    9.22
Name: 488, dtype: object
489 3.98 1 MP Last Month    3.98
Name: 489, dtype: object
490 18.17 1 MP Last Month    18.17
Name: 490, dtype: object
491 17.85 1 MP Last Month    17.85
Name: 491, dtype: object
492 16.32 1 MP Last Month    16.32
Name: 492, dtype: object
493 28.97 1 MP Last Month    28.97
Name: 493, dtype: object
494 29.92 1 MP Last Month    29.92
Name: 494, dtype: object
495 6.28 1 MP Last Month    6.28
Name: 495, dtype: object
496 6.0 1 MP Last Month    6
Name: 496, dtype: object
497 0 0 MP Last Month    0
Name: 497, dtype: object
498 22.07 1 MP Last Month    22.07
Name: 498, dtype: object
499 24.5 1 MP Last Month    24.5
Name: 499, dtype: object
500 25.3 1 MP Last Month    25.3
Name: 500, dtype: object
501 19.25 1 MP Last Month    19.25
Name: 501, dtype: object
502 0.0 1 MP Last Month    0
Name: 502, dtype: object
503 24.98 1 MP Last Month    24.98
Name: 503, dtype: object
504 22.55 1 MP Last Month    22.55
Name: 504, dtype: object
505 30.18 1 MP Last Month    30.18
Name: 505, dtype: object
506 33.53 1 MP Last Month    33.53
Name: 506, dtype: object
507 38.02 1 MP Last Month    38.02
Name: 507, dtype: object
508 22.07 1 MP Last Month    22.07
Name: 508, dtype: object
509 0.12 1 MP Last Month    0.12
Name: 509, dtype: object
510 0.0 1 MP Last Month    0
Name: 510, dtype: object
511 34.77 1 MP Last Month    34.77
Name: 511, dtype: object
512 32.77 1 MP Last Month    32.77
Name: 512, dtype: object
513 11.33 1 MP Last Month    11.33
Name: 513, dtype: object
514 0.0 1 MP Last Month    0
Name: 514, dtype: object
515 12.0 1 MP Last Month    12
Name: 515, dtype: object
516 21.45 1 MP Last Month    21.45
Name: 516, dtype: object
517 29.0 1 MP Last Month    29
Name: 517, dtype: object
518 4.95 1 MP Last Month    4.95
Name: 518, dtype: object
519 30.52 1 MP Last Month    30.52
Name: 519, dtype: object
520 31.53 1 MP Last Month    31.53
Name: 520, dtype: object
521 16.47 1 MP Last Month    16.47
Name: 521, dtype: object
522 0.0 1 MP Last Month    0
Name: 522, dtype: object
523 31.6 1 MP Last Month    31.6
Name: 523, dtype: object
524 37.45 1 MP Last Month    37.45
Name: 524, dtype: object
525 26.95 1 MP Last Month    26.95
Name: 525, dtype: object
526 19.05 1 MP Last Month    19.05
Name: 526, dtype: object
527 0.0 1 MP Last Month    0
Name: 527, dtype: object
528 0.0 1 MP Last Month    0
Name: 528, dtype: object
529 0.0 1 MP Last Month    0
Name: 529, dtype: object
530 22.38 1 MP Last Month    22.38
Name: 530, dtype: object
531 24.05 1 MP Last Month    24.05
Name: 531, dtype: object
532 38.27 1 MP Last Month    38.27
Name: 532, dtype: object
533 36.87 1 MP Last Month    36.87
Name: 533, dtype: object
534 0.0 1 MP Last Month    0
Name: 534, dtype: object
535 1.58 1 MP Last Month    1.58
Name: 535, dtype: object
536 0 0 MP Last Month    0
Name: 536, dtype: object
537 29.9 1 MP Last Month    29.9
Name: 537, dtype: object
538 33.73 1 MP Last Month    33.73
Name: 538, dtype: object
539 19.93 1 MP Last Month    19.93
Name: 539, dtype: object
540 12.03 1 MP Last Month    12.03
Name: 540, dtype: object
541 1.58 1 MP Last Month    1.58
Name: 541, dtype: object
542 39.12 1 MP Last Month    39.12
Name: 542, dtype: object
543 23.82 1 MP Last Month    23.82
Name: 543, dtype: object
544 1.58 1 MP Last Month    1.58
Name: 544, dtype: object
545 20.57 1 MP Last Month    20.57
Name: 545, dtype: object
546 33.63 1 MP Last Month    33.63
Name: 546, dtype: object
547 26.28 1 MP Last Month    26.28
Name: 547, dtype: object
548 27.43 1 MP Last Month    27.43
Name: 548, dtype: object
549 0.0 1 MP Last Month    0
Name: 549, dtype: object
550 23.63 1 MP Last Month    23.63
Name: 550, dtype: object
551 15.5 1 MP Last Month    15.5
Name: 551, dtype: object
552 19.23 1 MP Last Month    19.23
Name: 552, dtype: object
553 0 0 MP Last Month    0
Name: 553, dtype: object
554 27.2 1 MP Last Month    27.2
Name: 554, dtype: object
555 16.37 1 MP Last Month    16.37
Name: 555, dtype: object
556 1.3 1 MP Last Month    1.3
Name: 556, dtype: object
557 13.92 1 MP Last Month    13.92
Name: 557, dtype: object
558 34.08 1 MP Last Month    34.08
Name: 558, dtype: object
559 8.62 1 MP Last Month    8.62
Name: 559, dtype: object
560 0.0 1 MP Last Month    0
Name: 560, dtype: object
561 37.4 1 MP Last Month    37.4
Name: 561, dtype: object
562 29.12 1 MP Last Month    29.12
Name: 562, dtype: object
563 23.47 1 MP Last Month    23.47
Name: 563, dtype: object
564 26.52 1 MP Last Month    26.52
Name: 564, dtype: object
565 0.0 1 MP Last Month    0
Name: 565, dtype: object
566 35.6 1 MP Last Month    35.6
Name: 566, dtype: object
567 12.4 1 MP Last Month    12.4
Name: 567, dtype: object
568 18.88 1 MP Last Month    18.88
Name: 568, dtype: object
569 25.7 1 MP Last Month    25.7
Name: 569, dtype: object
570 0.0 1 MP Last Month    0
Name: 570, dtype: object
571 22.27 1 MP Last Month    22.27
Name: 571, dtype: object
572 38.3 1 MP Last Month    38.3
Name: 572, dtype: object
573 25.53 1 MP Last Month    25.53
Name: 573, dtype: object
574 23.53 1 MP Last Month    23.53
Name: 574, dtype: object
575 33.43 1 MP Last Month    33.43
Name: 575, dtype: object
576 18.13 1 MP Last Month    18.13
Name: 576, dtype: object
577 0.0 1 MP Last Month    0
Name: 577, dtype: object
578 28.1 1 MP Last Month    28.1
Name: 578, dtype: object
579 24.97 1 MP Last Month    24.97
Name: 579, dtype: object
580 0.0 1 MP Last Month    0
Name: 580, dtype: object
581 37.5 1 MP Last Month    37.5
Name: 581, dtype: object
582 30.3 1 MP Last Month    30.3
Name: 582, dtype: object
583 12.12 1 MP Last Month    12.12
Name: 583, dtype: object
584 31.83 1 MP Last Month    31.83
Name: 584, dtype: object
585 17.57 1 MP Last Month    17.57
Name: 585, dtype: object
586 9.63 1 MP Last Month    9.63
Name: 586, dtype: object
587 30.5 1 MP Last Month    30.5
Name: 587, dtype: object
588 27.15 1 MP Last Month    27.15
Name: 588, dtype: object
589 0.0 1 MP Last Month    0
Name: 589, dtype: object
590 38.42 1 MP Last Month    38.42
Name: 590, dtype: object
591 0.0 1 MP Last Month    0
Name: 591, dtype: object
592 35.58 1 MP Last Month    35.58
Name: 592, dtype: object
593 25.4 1 MP Last Month    25.4
Name: 593, dtype: object
594 0.73 1 MP Last Month    0.73
Name: 594, dtype: object
595 0.42 1 MP Last Month    0.42
Name: 595, dtype: object
596 37.25 1 MP Last Month    37.25
Name: 596, dtype: object
597 32.75 1 MP Last Month    32.75
Name: 597, dtype: object
598 17.53 1 MP Last Month    17.53
Name: 598, dtype: object
599 19.95 1 MP Last Month    19.95
Name: 599, dtype: object
600 12.42 1 MP Last Month    12.42
Name: 600, dtype: object
601 10.38 1 MP Last Month    10.38
Name: 601, dtype: object
602 27.18 1 MP Last Month    27.18
Name: 602, dtype: object
603 20.4 1 MP Last Month    20.4
Name: 603, dtype: object
604 0.0 1 MP Last Month    0
Name: 604, dtype: object
605 21.87 1 MP Last Month    21.87
Name: 605, dtype: object
606 36.2 1 MP Last Month    36.2
Name: 606, dtype: object
607 26.12 1 MP Last Month    26.12
Name: 607, dtype: object
608 17.98 1 MP Last Month    17.98
Name: 608, dtype: object

609 0.0 1 MP Last Month    0
Name: 609, dtype: object
610 35.22 1 MP Last Month    35.22
Name: 610, dtype: object
611 33.22 1 MP Last Month    33.22
Name: 611, dtype: object
612 1.98 1 MP Last Month    1.98
Name: 612, dtype: object
613 6.6 1 MP Last Month    6.6
Name: 613, dtype: object
614 37.27 1 MP Last Month    37.27
Name: 614, dtype: object
615 23.55 1 MP Last Month    23.55
Name: 615, dtype: object
616 0.0 1 MP Last Month    0
Name: 616, dtype: object
617 64.93 2 MP Last Month    32.465
Name: 617, dtype: object
618 46.89 2 MP Last Month    23.445
Name: 618, dtype: object
619 49.739999999999995 2 MP Last Month    24.87
Name: 619, dtype: object
620 0.82 2 MP Last Month    0.41
Name: 620, dtype: object
621 65.71000000000001 2 MP Last Month    32.855
Name: 621, dtype: object
622 46.25 2 MP Last Month    23.125
Name: 622, dtype: object
623 52.55 2 MP Last Month    26.275
Name: 623, dtype: object
624 1.45 2 MP Last Month    0.725
Name: 624, dtype: object
625 1.45 2 MP Last Month    0.725
Name: 625, dtype: object
626 63.379999999999995 2 MP Last Month    31.69
Name: 626, dtype: object
627 33.8 2 MP Last Month    16.9
Name: 627, dtype: object
628 4.13 2 MP Last Month    2.065
Name: 628, dtype: object
629 0 0 MP Last Month    0
Name: 629, dtype: object
630 58.74 2 MP Last Month    29.37
Name: 630, dtype: object
631 63.38 2 MP Last Month    31.69
Name: 631, dtype: object
632 0.0 2 MP Last Month    0
Name: 632, dtype: object
633 66.36 2 MP Last Month    33.18
Name: 633, dtype: object
634 59.75 2 MP Last Month    29.875
Name: 634, dtype: object
635 27.939999999999998 2 MP Last Month    13.97
Name: 635, dtype: object
636 18.27 1 MP Last Month    18.27
Name: 636, dtype: object
637 62.92 2 MP Last Month    31.46
Name: 637, dtype: object
638 0.0 2 MP Last Month    0
Name: 638, dtype: object
639 31.830000000000002 2 MP Last Month    15.915
Name: 639, dtype: object
640 0.0 2 MP Last Month    0
Name: 640, dtype: object
641 63.68 2 MP Last Month    31.84
Name: 641, dtype: object
642 32.7 1 MP Last Month    32.7
Name: 642, dtype: object
643 21.57 1 MP Last Month    21.57
Name: 643, dtype: object
644 30.45 1 MP Last Month    30.45
Name: 644, dtype: object
645 28.27 1 MP Last Month    28.27
Name: 645, dtype: object
646 2.82 1 MP Last Month    2.82
Name: 646, dtype: object
647 27.38 1 MP Last Month    27.38
Name: 647, dtype: object
648 25.2 1 MP Last Month    25.2
Name: 648, dtype: object
649 33.1 1 MP Last Month    33.1
Name: 649, dtype: object
650 17.72 1 MP Last Month    17.72
Name: 650, dtype: object
651 0 0 MP Last Month    0
Name: 651, dtype: object
652 65.42 2 MP Last Month    32.71
Name: 652, dtype: object
653 57.2 2 MP Last Month    28.6
Name: 653, dtype: object
654 36.0 2 MP Last Month    18
Name: 654, dtype: object
655 0 0 MP Last Month    0
Name: 655, dtype: object
656 45.879999999999995 2 MP Last Month    22.94
Name: 656, dtype: object
657 46.33 2 MP Last Month    23.165
Name: 657, dtype: object
658 44.11 2 MP Last Month    22.055
Name: 658, dtype: object
659 61.8 2 MP Last Month    30.9
Name: 659, dtype: object
660 28.9 2 MP Last Month    14.45
Name: 660, dtype: object
661 43.85 2 MP Last Month    21.925
Name: 661, dtype: object
662 5.03 2 MP Last Month    2.515
Name: 662, dtype: object
663 7.95 2 MP Last Month    3.975
Name: 663, dtype: object
664 31.78 1 MP Last Month    31.78
Name: 664, dtype: object
665 19.12 1 MP Last Month    19.12
Name: 665, dtype: object
666 0 0 MP Last Month    0
Name: 666, dtype: object
667 30.35 1 MP Last Month    30.35
Name: 667, dtype: object
668 16.75 1 MP Last Month    16.75
Name: 668, dtype: object
669 3.98 1 MP Last Month    3.98
Name: 669, dtype: object
670 0.9 1 MP Last Month    0.9
Name: 670, dtype: object
671 30.52 1 MP Last Month    30.52
Name: 671, dtype: object
672 17.48 1 MP Last Month    17.48
Name: 672, dtype: object
673 0.0 1 MP Last Month    0
Name: 673, dtype: object
674 31.63 1 MP Last Month    31.63
Name: 674, dtype: object
675 34.42 1 MP Last Month    34.42
Name: 675, dtype: object
676 11.75 1 MP Last Month    11.75
Name: 676, dtype: object
677 16.38 1 MP Last Month    16.38
Name: 677, dtype: object
678 34.77 1 MP Last Month    34.77
Name: 678, dtype: object
679 15.05 1 MP Last Month    15.05
Name: 679, dtype: object
680 0.0 1 MP Last Month    0
Name: 680, dtype: object
681 18.78 1 MP Last Month    18.78
Name: 681, dtype: object
682 0.0 1 MP Last Month    0
Name: 682, dtype: object
683 33.53 1 MP Last Month    33.53
Name: 683, dtype: object
684 30.32 1 MP Last Month    30.32
Name: 684, dtype: object
685 13.37 1 MP Last Month    13.37
Name: 685, dtype: object
686 0.0 1 MP Last Month    0
Name: 686, dtype: object
687 35.02 1 MP Last Month    35.02
Name: 687, dtype: object
688 33.0 1 MP Last Month    33
Name: 688, dtype: object
689 0.0 1 MP Last Month    0
Name: 689, dtype: object
690 18.87 1 MP Last Month    18.87
Name: 690, dtype: object
691 0.0 1 MP Last Month    0
Name: 691, dtype: object
692 0.0 1 MP Last Month    0
Name: 692, dtype: object
693 0.0 1 MP Last Month    0
Name: 693, dtype: object
694 19.35 1 MP Last Month    19.35
Name: 694, dtype: object
695 34.28 1 MP Last Month    34.28
Name: 695, dtype: object
696 32.2 1 MP Last Month    32.2
Name: 696, dtype: object
697 14.72 1 MP Last Month    14.72
Name: 697, dtype: object
698 34.72 1 MP Last Month    34.72
Name: 698, dtype: object
699 32.35 1 MP Last Month    32.35
Name: 699, dtype: object
700 17.73 1 MP Last Month    17.73
Name: 700, dtype: object
701 27.0 1 MP Last Month    27
Name: 701, dtype: object
702 34.32 1 MP Last Month    34.32
Name: 702, dtype: object
703 24.72 1 MP Last Month    24.72
Name: 703, dtype: object
704 10.47 1 MP Last Month    10.47
Name: 704, dtype: object
705 29.35 1 MP Last Month    29.35
Name: 705, dtype: object
706 1.58 1 MP Last Month    1.58
Name: 706, dtype: object
707 1.58 1 MP Last Month    1.58
Name: 707, dtype: object
708 26.18 1 MP Last Month    26.18
Name: 708, dtype: object
709 0 0 MP Last Month    0
Name: 709, dtype: object
710 57.46 2 MP Last Month    28.73
Name: 710, dtype: object
711 46.08 2 MP Last Month    23.04
Name: 711, dtype: object
712 48.28 2 MP Last Month    24.14
Name: 712, dtype: object
713 8.200000000000001 2 MP Last Month    4.1
Name: 713, dtype: object
714 8.08 2 MP Last Month    4.04
Name: 714, dtype: object
715 46.2 2 MP Last Month    23.1
Name: 715, dtype: object
716 54.65 2 MP Last Month    27.325
Name: 716, dtype: object
717 44.75 2 MP Last Month    22.375
Name: 717, dtype: object
718 54.42 2 MP Last Month    27.21
Name: 718, dtype: object
719 4.23 1 MP Last Month    4.23
Name: 719, dtype: object
720 8.200000000000001 2 MP Last Month    4.1
Name: 720, dtype: object
721 47.75 2 MP Last Month    23.875
Name: 721, dtype: object
722 0 0 MP Last Month    0
Name: 722, dtype: object
723 31.75 1 MP Last Month    31.75
Name: 723, dtype: object
724 19.47 1 MP Last Month    19.47
Name: 724, dtype: object
725 27.47 1 MP Last Month    27.47
Name: 725, dtype: object
726 16.32 1 MP Last Month    16.32
Name: 726, dtype: object
727 27.58 1 MP Last Month    27.58
Name: 727, dtype: object
728 0.0 1 MP Last Month    0
Name: 728, dtype: object
729 37.33 1 MP Last Month    37.33
Name: 729, dtype: object
730 28.9 1 MP Last Month    28.9
Name: 730, dtype: object
731 27.3 1 MP Last Month    27.3
Name: 731, dtype: object
732 2.3 1 MP Last Month    2.3
Name: 732, dtype: object
733 21.58 1 MP Last Month    21.58
Name: 733, dtype: object
734 0.0 1 MP Last Month    0
Name: 734, dtype: object
735 64.15 2 MP Last Month    32.075
Name: 735, dtype: object
736 52.45 2 MP Last Month    26.225
Name: 736, dtype: object
737 48.22 2 MP Last Month    24.11
Name: 737, dtype: object
738 65.63 2 MP Last Month    32.815
Name: 738, dtype: object
739 41.07 2 MP Last Month    20.535
Name: 739, dtype: object
740 76.0 2 MP Last Month    38
Name: 740, dtype: object
741 0.0 2 MP Last Month    0
Name: 741, dtype: object
742 0.0 2 MP Last Month    0
Name: 742, dtype: object
743 0.0 2 MP Last Month    0
Name: 743, dtype: object
744 0.0 2 MP Last Month    0
Name: 744, dtype: object
745 62.56 2 MP Last Month    31.28
Name: 745, dtype: object
746 39.1 2 MP Last Month    19.55
Name: 746, dtype: object
747 30.79 2 MP Last Month    15.395
Name: 747, dtype: object

748 53.9 2 MP Last Month    26.95
Name: 748, dtype: object
749 63.0 2 MP Last Month    31.5
Name: 749, dtype: object
750 0.0 2 MP Last Month    0
Name: 750, dtype: object
751 33.05 2 MP Last Month    16.525
Name: 751, dtype: object
752 73.98 2 MP Last Month    36.99
Name: 752, dtype: object
753 55.120000000000005 2 MP Last Month    27.56
Name: 753, dtype: object
754 38.83 2 MP Last Month    19.415
Name: 754, dtype: object
755 0.0 2 MP Last Month    0
Name: 755, dtype: object
756 0.0 2 MP Last Month    0
Name: 756, dtype: object
757 0.0 2 MP Last Month    0
Name: 757, dtype: object
758 0 0 MP Last Month    0
Name: 758, dtype: object
759 57.06 2 MP Last Month    28.53
Name: 759, dtype: object
760 37.370000000000005 2 MP Last Month    18.685
Name: 760, dtype: object
761 50.5 2 MP Last Month    25.25
Name: 761, dtype: object
762 0.0 2 MP Last Month    0
Name: 762, dtype: object
763 41.8 2 MP Last Month    20.9
Name: 763, dtype: object
764 64.33 2 MP Last Month    32.165
Name: 764, dtype: object
765 45.5 2 MP Last Month    22.75
Name: 765, dtype: object
766 36.58 2 MP Last Month    18.29
Name: 766, dtype: object
767 32.55 2 MP Last Month    16.275
Name: 767, dtype: object
768 51.76 2 MP Last Month    25.88
Name: 768, dtype: object
769 0.0 1 MP Last Month    0
Name: 769, dtype: object
770 62.53 2 MP Last Month    31.265
Name: 770, dtype: object
771 27.82 2 MP Last Month    13.91
Name: 771, dtype: object
772 1.3 2 MP Last Month    0.65
Name: 772, dtype: object
773 43.17 2 MP Last Month    21.585
Name: 773, dtype: object
774 50.68 2 MP Last Month    25.34
Name: 774, dtype: object
775 10.07 2 MP Last Month    5.035
Name: 775, dtype: object
776 63.199999999999996 2 MP Last Month    31.6
Name: 776, dtype: object
777 48.61 2 MP Last Month    24.305
Name: 777, dtype: object
778 44.56 2 MP Last Month    22.28
Name: 778, dtype: object
779 32.55 2 MP Last Month    16.275
Name: 779, dtype: object
780 0 0 MP Last Month    0
Name: 780, dtype: object
781 10.07 2 MP Last Month    5.035
Name: 781, dtype: object
782 50.480000000000004 2 MP Last Month    25.24
Name: 782, dtype: object
783 43.59 2 MP Last Month    21.795
Name: 783, dtype: object
784 12.0 2 MP Last Month    6
Name: 784, dtype: object
785 56.46 2 MP Last Month    28.23
Name: 785, dtype: object
786 27.28 2 MP Last Month    13.64
Name: 786, dtype: object
787 76.45 2 MP Last Month    38.225
Name: 787, dtype: object
788 41.879999999999995 2 MP Last Month    20.94
Name: 788, dtype: object
789 9.2 2 MP Last Month    4.6
Name: 789, dtype: object
790 0.0 2 MP Last Month    0
Name: 790, dtype: object
791 0.0 2 MP Last Month    0
Name: 791, dtype: object
792 53.870000000000005 2 MP Last Month    26.935
Name: 792, dtype: object
793 51.25 2 MP Last Month    25.625
Name: 793, dtype: object
794 63.33 2 MP Last Month    31.665
Name: 794, dtype: object
795 4.27 2 MP Last Month    2.135
Name: 795, dtype: object
796 69.67 2 MP Last Month    34.835
Name: 796, dtype: object
797 26.33 2 MP Last Month    13.165
Name: 797, dtype: object
798 33.45 1 MP Last Month    33.45
Name: 798, dtype: object
799 33.57 1 MP Last Month    33.57
Name: 799, dtype: object
800 0 0 MP Last Month    0
Name: 800, dtype: object
801 7.5 1 MP Last Month    7.5
Name: 801, dtype: object
802 23.75 1 MP Last Month    23.75
Name: 802, dtype: object
803 0.18 1 MP Last Month    0.18
Name: 803, dtype: object
804 37.02 1 MP Last Month    37.02
Name: 804, dtype: object
805 28.38 1 MP Last Month    28.38
Name: 805, dtype: object
806 0.0 1 MP Last Month    0
Name: 806, dtype: object
807 36.48 1 MP Last Month    36.48
Name: 807, dtype: object
808 11.52 1 MP Last Month    11.52
Name: 808, dtype: object
809 24.02 1 MP Last Month    24.02
Name: 809, dtype: object
810 0.0 1 MP Last Month    0
Name: 810, dtype: object
811 35.4 1 MP Last Month    35.4
Name: 811, dtype: object
812 15.57 1 MP Last Month    15.57
Name: 812, dtype: object
813 0.0 1 MP Last Month    0
Name: 813, dtype: object
814 26.97 1 MP Last Month    26.97
Name: 814, dtype: object
815 21.22 1 MP Last Month    21.22
Name: 815, dtype: object
816 26.32 1 MP Last Month    26.32
Name: 816, dtype: object
817 18.43 1 MP Last Month    18.43
Name: 817, dtype: object
818 12.67 1 MP Last Month    12.67
Name: 818, dtype: object
819 27.2 1 MP Last Month    27.2
Name: 819, dtype: object
820 0.0 1 MP Last Month    0
Name: 820, dtype: object
821 17.18 1 MP Last Month    17.18
Name: 821, dtype: object
822 8.03 1 MP Last Month    8.03
Name: 822, dtype: object
823 30.03 1 MP Last Month    30.03
Name: 823, dtype: object
824 29.88 1 MP Last Month    29.88
Name: 824, dtype: object
825 38.18 1 MP Last Month    38.18
Name: 825, dtype: object
826 23.48 1 MP Last Month    23.48
Name: 826, dtype: object
827 21.78 1 MP Last Month    21.78
Name: 827, dtype: object
828 6.6 1 MP Last Month    6.6
Name: 828, dtype: object
829 0.0 1 MP Last Month    0
Name: 829, dtype: object
830 0.0 1 MP Last Month    0
Name: 830, dtype: object
831 41.65 1 MP Last Month    41.65
Name: 831, dtype: object
832 17.83 1 MP Last Month    17.83
Name: 832, dtype: object
833 22.68 1 MP Last Month    22.68
Name: 833, dtype: object
834 7.87 1 MP Last Month    7.87
Name: 834, dtype: object
835 0.0 1 MP Last Month    0
Name: 835, dtype: object
836 69.9 2 MP Last Month    34.95
Name: 836, dtype: object
837 53.12 2 MP Last Month    26.56
Name: 837, dtype: object
838 0.73 2 MP Last Month    0.365
Name: 838, dtype: object
839 0.42 2 MP Last Month    0.21
Name: 839, dtype: object
840 0 0 MP Last Month    0
Name: 840, dtype: object
841 37.55 2 MP Last Month    18.775
Name: 841, dtype: object
842 38.83 2 MP Last Month    19.415
Name: 842, dtype: object
843 22.66 2 MP Last Month    11.33
Name: 843, dtype: object
844 22.869999999999997 2 MP Last Month    11.435
Name: 844, dtype: object
845 65.22 2 MP Last Month    32.61
Name: 845, dtype: object
846 60.71 2 MP Last Month    30.355
Name: 846, dtype: object
847 34.87 2 MP Last Month    17.435
Name: 847, dtype: object
848 0.0 2 MP Last Month    0
Name: 848, dtype: object
849 27.18 1 MP Last Month    27.18
Name: 849, dtype: object
850 35.82 1 MP Last Month    35.82
Name: 850, dtype: object
851 25.0 1 MP Last Month    25
Name: 851, dtype: object
852 14.1 1 MP Last Month    14.1
Name: 852, dtype: object
853 0.18 1 MP Last Month    0.18
Name: 853, dtype: object
854 24.83 1 MP Last Month    24.83
Name: 854, dtype: object
855 33.62 1 MP Last Month    33.62
Name: 855, dtype: object
856 20.23 1 MP Last Month    20.23
Name: 856, dtype: object
857 32.5 1 MP Last Month    32.5
Name: 857, dtype: object
858 11.63 1 MP Last Month    11.63
Name: 858, dtype: object
859 14.9 1 MP Last Month    14.9
Name: 859, dtype: object
860 0.0 1 MP Last Month    0
Name: 860, dtype: object
861 66.21000000000001 2 MP Last Month    33.105
Name: 861, dtype: object
862 17.68 2 MP Last Month    8.84
Name: 862, dtype: object
863 31.02 2 MP Last Month    15.51
Name: 863, dtype: object
864 4.28 2 MP Last Month    2.14
Name: 864, dtype: object
865 26.68 2 MP Last Month    13.34
Name: 865, dtype: object
866 52.29 2 MP Last Month    26.145
Name: 866, dtype: object
867 8.32 1 MP Last Month    8.32
Name: 867, dtype: object
868 42.2 2 MP Last Month    21.1
Name: 868, dtype: object
869 44.22 2 MP Last Month    22.11
Name: 869, dtype: object
870 47.7 2 MP Last Month    23.85
Name: 870, dtype: object
871 28.29 2 MP Last Month    14.145
Name: 871, dtype: object
872 46.849999999999994 2 MP Last Month    23.425
Name: 872, dtype: object
873 56.4 2 MP Last Month    28.2
Name: 873, dtype: object
874 40.769999999999996 2 MP Last Month    20.385
Name: 874, dtype: object
875 3.67 1 MP Last Month    3.67
Name: 875, dtype: object
876 68.18 2 MP Last Month    34.09
Name: 876, dtype: object
877 55.47 2 MP Last Month    27.735
Name: 877, dtype: object
878 25.17 2 MP Last Month    12.585
Name: 878, dtype: object
879 19.25 2 MP Last Month    9.625
Name: 879, dtype: object
880 73.55 2 MP Last Month    36.775
Name: 880, dtype: object
881 63.01 2 MP Last Month    31.505
Name: 881, dtype: object
882 0 0 MP Last Month    0
Name: 882, dtype: object
883 25.25 2 MP Last Month    12.625
Name: 883, dtype: object
884 0.0 2 MP Last Month    0
Name: 884, dtype: object
885 69.57 2 MP Last Month    34.785
Name: 885, dtype: object
886 29.759999999999998 2 MP Last Month    14.88
Name: 886, dtype: object

887 68.78 2 MP Last Month    34.39
Name: 887, dtype: object
888 19.32 2 MP Last Month    9.66
Name: 888, dtype: object
889 0 0 MP Last Month    0
Name: 889, dtype: object
890 15.17 2 MP Last Month    7.585
Name: 890, dtype: object
891 35.400000000000006 2 MP Last Month    17.7
Name: 891, dtype: object
892 29.85 2 MP Last Month    14.925
Name: 892, dtype: object
893 1.57 2 MP Last Month    0.785
Name: 893, dtype: object
894 64.25 2 MP Last Month    32.125
Name: 894, dtype: object
895 62.44 2 MP Last Month    31.22
Name: 895, dtype: object
896 27.189999999999998 2 MP Last Month    13.595
Name: 896, dtype: object
897 2.72 2 MP Last Month    1.36
Name: 897, dtype: object
898 73.74 2 MP Last Month    36.87
Name: 898, dtype: object
899 70.86 2 MP Last Month    35.43
Name: 899, dtype: object
900 16.3 2 MP Last Month    8.15
Name: 900, dtype: object
901 0.0 1 MP Last Month    0
Name: 901, dtype: object
902 77.35 2 MP Last Month    38.675
Name: 902, dtype: object
903 10.38 1 MP Last Month    10.38
Name: 903, dtype: object
904 29.92 2 MP Last Month    14.96
Name: 904, dtype: object
905 6.65 2 MP Last Month    3.325
Name: 905, dtype: object
906 14.7 2 MP Last Month    7.35
Name: 906, dtype: object
907 36.67 2 MP Last Month    18.335
Name: 907, dtype: object
908 65.95 2 MP Last Month    32.975
Name: 908, dtype: object
909 44.6 2 MP Last Month    22.3
Name: 909, dtype: object
910 72.55 2 MP Last Month    36.275
Name: 910, dtype: object
911 20.21 2 MP Last Month    10.105
Name: 911, dtype: object
912 60.97 2 MP Last Month    30.485
Name: 912, dtype: object
913 56.1 2 MP Last Month    28.05
Name: 913, dtype: object
914 28.32 2 MP Last Month    14.16
Name: 914, dtype: object
915 69.97 2 MP Last Month    34.985
Name: 915, dtype: object
916 46.87 2 MP Last Month    23.435
Name: 916, dtype: object
917 1.58 2 MP Last Month    0.79
Name: 917, dtype: object
918 1.58 2 MP Last Month    0.79
Name: 918, dtype: object
919 59.83 2 MP Last Month    29.915
Name: 919, dtype: object
920 0.0 1 MP Last Month    0
Name: 920, dtype: object
921 51.47 2 MP Last Month    25.735
Name: 921, dtype: object
922 44.25 2 MP Last Month    22.125
Name: 922, dtype: object
923 56.8 2 MP Last Month    28.4
Name: 923, dtype: object
924 0.0 1 MP Last Month    0
Name: 924, dtype: object
925 0.0 2 MP Last Month    0
Name: 925, dtype: object
926 60.480000000000004 2 MP Last Month    30.24
Name: 926, dtype: object
927 77.6 2 MP Last Month    38.8
Name: 927, dtype: object
928 28.22 2 MP Last Month    14.11
Name: 928, dtype: object
929 8.33 2 MP Last Month    4.165
Name: 929, dtype: object
930 29.39 2 MP Last Month    14.695
Name: 930, dtype: object
931 38.64 2 MP Last Month    19.32
Name: 931, dtype: object
932 33.93 2 MP Last Month    16.965
Name: 932, dtype: object
933 0 0 MP Last Month    0
Name: 933, dtype: object
934 64.1 2 MP Last Month    32.05
Name: 934, dtype: object
935 17.15 2 MP Last Month    8.575
Name: 935, dtype: object
936 0.92 2 MP Last Month    0.46
Name: 936, dtype: object
937 31.9 2 MP Last Month    15.95
Name: 937, dtype: object
938 75.52 2 MP Last Month    37.76
Name: 938, dtype: object
939 56.75 2 MP Last Month    28.375
Name: 939, dtype: object
940 43.769999999999996 2 MP Last Month    21.885
Name: 940, dtype: object
941 55.57 2 MP Last Month    27.785
Name: 941, dtype: object
942 68.92 2 MP Last Month    34.46
Name: 942, dtype: object
943 27.08 2 MP Last Month    13.54
Name: 943, dtype: object
944 38.33 2 MP Last Month    19.165
Name: 944, dtype: object
945 64.42 2 MP Last Month    32.21
Name: 945, dtype: object
946 51.379999999999995 2 MP Last Month    25.69
Name: 946, dtype: object
947 38.3 2 MP Last Month    19.15
Name: 947, dtype: object
948 38.0 2 MP Last Month    19
Name: 948, dtype: object
949 58.66 2 MP Last Month    29.33
Name: 949, dtype: object
950 28.300000000000004 2 MP Last Month    14.15
Name: 950, dtype: object
951 51.870000000000005 2 MP Last Month    25.935
Name: 951, dtype: object
952 44.75 2 MP Last Month    22.375
Name: 952, dtype: object
953 5.98 2 MP Last Month    2.99
Name: 953, dtype: object
954 64.37 2 MP Last Month    32.185
Name: 954, dtype: object
955 7.9 2 MP Last Month    3.95
Name: 955, dtype: object
956 97.03 3 MP Last Month    32.3433
Name: 956, dtype: object
957 74.91 3 MP Last Month    24.97
Name: 957, dtype: object
958 72.63999999999999 3 MP Last Month    24.2133
Name: 958, dtype: object
959 0.82 3 MP Last Month    0.273333
Name: 959, dtype: object
960 100.89000000000001 3 MP Last Month    33.63
Name: 960, dtype: object
961 48.900000000000006 2 MP Last Month    24.45
Name: 961, dtype: object
962 91.0 3 MP Last Month    30.3333
Name: 962, dtype: object
963 71.9 3 MP Last Month    23.9667
Name: 963, dtype: object
964 3.75 3 MP Last Month    1.25
Name: 964, dtype: object
965 7.23 3 MP Last Month    2.41
Name: 965, dtype: object
966 87.3 3 MP Last Month    29.1
Name: 966, dtype: object
967 18.18 3 MP Last Month    6.06
Name: 967, dtype: object
968 0.0 1 MP Last Month    0
Name: 968, dtype: object
969 69.65 2 MP Last Month    34.825
Name: 969, dtype: object
970 0 0 MP Last Month    0
Name: 970, dtype: object
971 49.92 2 MP Last Month    24.96
Name: 971, dtype: object
972 2.82 2 MP Last Month    1.41
Name: 972, dtype: object
973 51.95 2 MP Last Month    25.975
Name: 973, dtype: object
974 0 0 MP Last Month    0
Name: 974, dtype: object
975 47.92 2 MP Last Month    23.96
Name: 975, dtype: object
976 48.9 2 MP Last Month    24.45
Name: 976, dtype: object
977 64.92999999999999 2 MP Last Month    32.465
Name: 977, dtype: object
978 62.45 2 MP Last Month    31.225
Name: 978, dtype: object
979 43.0 2 MP Last Month    21.5
Name: 979, dtype: object
980 0.0 1 MP Last Month    0
Name: 980, dtype: object
981 105.45 3 MP Last Month    35.15
Name: 981, dtype: object
982 82.4 3 MP Last Month    27.4667
Name: 982, dtype: object
983 45.1 3 MP Last Month    15.0333
Name: 983, dtype: object
984 0.0 1 MP Last Month    0
Name: 984, dtype: object
985 73.97999999999999 3 MP Last Month    24.66
Name: 985, dtype: object
986 103.53 3 MP Last Month    34.51
Name: 986, dtype: object
987 72.93 3 MP Last Month    24.31
Name: 987, dtype: object
988 28.9 3 MP Last Month    9.63333
Name: 988, dtype: object
989 76.47999999999999 3 MP Last Month    25.4933
Name: 989, dtype: object
990 68.38 3 MP Last Month    22.7933
Name: 990, dtype: object
991 5.03 3 MP Last Month    1.67667
Name: 991, dtype: object
992 7.95 3 MP Last Month    2.65
Name: 992, dtype: object
993 68.00999999999999 2 MP Last Month    34.005
Name: 993, dtype: object
994 39.17 2 MP Last Month    19.585
Name: 994, dtype: object
995 0.0 1 MP Last Month    0
Name: 995, dtype: object
996 60.35 2 MP Last Month    30.175
Name: 996, dtype: object
997 34.15 2 MP Last Month    17.075
Name: 997, dtype: object
998 8.26 2 MP Last Month    4.13
Name: 998, dtype: object
999 0.9 2 MP Last Month    0.45
Name: 999, dtype: object
1000 62.269999999999996 2 MP Last Month    31.135
Name: 1000, dtype: object
1001 34.33 2 MP Last Month    17.165
Name: 1001, dtype: object
1002 0.0 2 MP Last Month    0
Name: 1002, dtype: object
1003 112.96 3 MP Last Month    37.6533
Name: 1003, dtype: object
1004 107.18 3 MP Last Month    35.7267
Name: 1004, dtype: object
1005 27.15 3 MP Last Month    9.05
Name: 1005, dtype: object
1006 0.0 2 MP Last Month    0
Name: 1006, dtype: object
1007 115.97 3 MP Last Month    38.6567
Name: 1007, dtype: object
1008 41.39 3 MP Last Month    13.7967
Name: 1008, dtype: object
1009 17.95 3 MP Last Month    5.98333
Name: 1009, dtype: object
1010 35.95 2 MP Last Month    17.975
Name: 1010, dtype: object
1011 10.13 3 MP Last Month    3.37667
Name: 1011, dtype: object
1012 99.18 3 MP Last Month    33.06
Name: 1012, dtype: object
1013 63.53 3 MP Last Month    21.1767
Name: 1013, dtype: object
1014 55.74 3 MP Last Month    18.58
Name: 1014, dtype: object
1015 90.36 3 MP Last Month    30.12
Name: 1015, dtype: object
1016 71.16 3 MP Last Month    23.72
Name: 1016, dtype: object
1017 71.25 3 MP Last Month    23.75
Name: 1017, dtype: object
1018 11.9 3 MP Last Month    3.96667
Name: 1018, dtype: object
1019 11.47 3 MP Last Month    3.82333
Name: 1019, dtype: object
1020 81.87 3 MP Last Month    27.29
Name: 1020, dtype: object
1021 80.17 3 MP Last Month    26.7233
Name: 1021, dtype: object

1022 68.05000000000001 3 MP Last Month    22.6833
Name: 1022, dtype: object
1023 70.63 3 MP Last Month    23.5433
Name: 1023, dtype: object
1024 7.5 2 MP Last Month    3.75
Name: 1024, dtype: object
1025 74.3 3 MP Last Month    24.7667
Name: 1025, dtype: object
1026 50.72 2 MP Last Month    25.36
Name: 1026, dtype: object
1027 26.800000000000004 3 MP Last Month    8.93333
Name: 1027, dtype: object
1028 57.82 2 MP Last Month    28.91
Name: 1028, dtype: object
1029 45.739999999999995 2 MP Last Month    22.87
Name: 1029, dtype: object
1030 39.29 2 MP Last Month    19.645
Name: 1030, dtype: object
1031 0.0 2 MP Last Month    0
Name: 1031, dtype: object
1032 76.19999999999999 2 MP Last Month    38.1
Name: 1032, dtype: object
1033 53.92 2 MP Last Month    26.96
Name: 1033, dtype: object
1034 0 0 MP Last Month    0
Name: 1034, dtype: object
1035 45.43 2 MP Last Month    22.715
Name: 1035, dtype: object
1036 2.3 2 MP Last Month    1.15
Name: 1036, dtype: object
1037 41.43 2 MP Last Month    20.715
Name: 1037, dtype: object
1038 0.0 2 MP Last Month    0
Name: 1038, dtype: object
1039 53.97 2 MP Last Month    26.985
Name: 1039, dtype: object
1040 54.92 2 MP Last Month    27.46
Name: 1040, dtype: object
1041 13.530000000000001 2 MP Last Month    6.765
Name: 1041, dtype: object
1042 23.36 2 MP Last Month    11.68
Name: 1042, dtype: object
1043 22.07 2 MP Last Month    11.035
Name: 1043, dtype: object
1044 0.0 1 MP Last Month    0
Name: 1044, dtype: object
1045 52.900000000000006 2 MP Last Month    26.45
Name: 1045, dtype: object
1046 58.32 2 MP Last Month    29.16
Name: 1046, dtype: object
1047 39.129999999999995 2 MP Last Month    19.565
Name: 1047, dtype: object
1048 24.05 2 MP Last Month    12.025
Name: 1048, dtype: object
1049 39.83 2 MP Last Month    19.915
Name: 1049, dtype: object
1050 0.0 1 MP Last Month    0
Name: 1050, dtype: object
1051 58.91 2 MP Last Month    29.455
Name: 1051, dtype: object
1052 59.56 2 MP Last Month    29.78
Name: 1052, dtype: object
1053 65.45 2 MP Last Month    32.725
Name: 1053, dtype: object
1054 42.3 2 MP Last Month    21.15
Name: 1054, dtype: object
1055 3.85 2 MP Last Month    1.925
Name: 1055, dtype: object
1056 4.23 2 MP Last Month    2.115
Name: 1056, dtype: object
1057 66.75 2 MP Last Month    33.375
Name: 1057, dtype: object
1058 63.34 2 MP Last Month    31.67
Name: 1058, dtype: object
1059 29.159999999999997 2 MP Last Month    14.58
Name: 1059, dtype: object
1060 3.73 2 MP Last Month    1.865
Name: 1060, dtype: object
1061 43.72 2 MP Last Month    21.86
Name: 1061, dtype: object
1062 34.43 2 MP Last Month    17.215
Name: 1062, dtype: object
1063 52.72 2 MP Last Month    26.36
Name: 1063, dtype: object
1064 0 0 MP Last Month    0
Name: 1064, dtype: object
1065 46.93 3 MP Last Month    15.6433
Name: 1065, dtype: object
1066 97.12 3 MP Last Month    32.3733
Name: 1066, dtype: object
1067 86.28 3 MP Last Month    28.76
Name: 1067, dtype: object
1068 28.53 3 MP Last Month    9.51
Name: 1068, dtype: object
1069 86.30000000000001 3 MP Last Month    28.7667
Name: 1069, dtype: object
1070 67.68 2 MP Last Month    33.84
Name: 1070, dtype: object
1071 55.65 3 MP Last Month    18.55
Name: 1071, dtype: object
1072 101.26 3 MP Last Month    33.7533
Name: 1072, dtype: object
1073 0.0 3 MP Last Month    0
Name: 1073, dtype: object
1074 0.0 3 MP Last Month    0
Name: 1074, dtype: object
1075 0.0 3 MP Last Month    0
Name: 1075, dtype: object
1076 90.66 3 MP Last Month    30.22
Name: 1076, dtype: object
1077 51.77 3 MP Last Month    17.2567
Name: 1077, dtype: object
1078 80.95 3 MP Last Month    26.9833
Name: 1078, dtype: object
1079 22.35 3 MP Last Month    7.45
Name: 1079, dtype: object
1080 83.2 3 MP Last Month    27.7333
Name: 1080, dtype: object
1081 67.05 3 MP Last Month    22.35
Name: 1081, dtype: object
1082 57.95 3 MP Last Month    19.3167
Name: 1082, dtype: object
1083 42.3 3 MP Last Month    14.1
Name: 1083, dtype: object
1084 53.7 3 MP Last Month    17.9
Name: 1084, dtype: object
1085 0.0 2 MP Last Month    0
Name: 1085, dtype: object
1086 93.66 3 MP Last Month    31.22
Name: 1086, dtype: object
1087 49.519999999999996 3 MP Last Month    16.5067
Name: 1087, dtype: object
1088 10.72 3 MP Last Month    3.57333
Name: 1088, dtype: object
1089 77.7 3 MP Last Month    25.9
Name: 1089, dtype: object
1090 57.91 3 MP Last Month    19.3033
Name: 1090, dtype: object
1091 16.240000000000002 3 MP Last Month    5.41333
Name: 1091, dtype: object
1092 82.28 3 MP Last Month    27.4267
Name: 1092, dtype: object
1093 60.06999999999999 3 MP Last Month    20.0233
Name: 1093, dtype: object
1094 95.32 3 MP Last Month    31.7733
Name: 1094, dtype: object
1095 56.11 2 MP Last Month    28.055
Name: 1095, dtype: object
1096 73.53 3 MP Last Month    24.51
Name: 1096, dtype: object
1097 10.07 3 MP Last Month    3.35667
Name: 1097, dtype: object
1098 88.06 3 MP Last Month    29.3533
Name: 1098, dtype: object
1099 57.760000000000005 3 MP Last Month    19.2533
Name: 1099, dtype: object
1100 12.0 3 MP Last Month    4
Name: 1100, dtype: object
1101 69.9 2 MP Last Month    34.95
Name: 1101, dtype: object
1102 63.49 2 MP Last Month    31.745
Name: 1102, dtype: object
1103 6.8 1 MP Last Month    6.8
Name: 1103, dtype: object
1104 0 0 MP Last Month    0
Name: 1104, dtype: object
1105 45.93 2 MP Last Month    22.965
Name: 1105, dtype: object
1106 66.37 2 MP Last Month    33.185
Name: 1106, dtype: object
1107 14.98 2 MP Last Month    7.49
Name: 1107, dtype: object
1108 51.36 2 MP Last Month    25.68
Name: 1108, dtype: object
1109 3.7 2 MP Last Month    1.85
Name: 1109, dtype: object
1110 59.03 2 MP Last Month    29.515
Name: 1110, dtype: object
1111 29.19 2 MP Last Month    14.595
Name: 1111, dtype: object
1112 46.14 2 MP Last Month    23.07
Name: 1112, dtype: object
1113 7.78 2 MP Last Month    3.89
Name: 1113, dtype: object
1114 65.67 2 MP Last Month    32.835
Name: 1114, dtype: object
1115 30.27 2 MP Last Month    15.135
Name: 1115, dtype: object
1116 3.03 2 MP Last Month    1.515
Name: 1116, dtype: object
1117 56.3 2 MP Last Month    28.15
Name: 1117, dtype: object
1118 47.849999999999994 2 MP Last Month    23.925
Name: 1118, dtype: object
1119 45.75 2 MP Last Month    22.875
Name: 1119, dtype: object
1120 41.7 2 MP Last Month    20.85
Name: 1120, dtype: object
1121 38.78 2 MP Last Month    19.39
Name: 1121, dtype: object
1122 28.5 2 MP Last Month    14.25
Name: 1122, dtype: object
1123 3.03 2 MP Last Month    1.515
Name: 1123, dtype: object
1124 40.3 2 MP Last Month    20.15
Name: 1124, dtype: object
1125 17.53 2 MP Last Month    8.765
Name: 1125, dtype: object
1126 57.21 2 MP Last Month    28.605
Name: 1126, dtype: object
1127 52.03 2 MP Last Month    26.015
Name: 1127, dtype: object
1128 72.55 2 MP Last Month    36.275
Name: 1128, dtype: object
1129 50.1 2 MP Last Month    25.05
Name: 1129, dtype: object
1130 22.700000000000003 2 MP Last Month    11.35
Name: 1130, dtype: object
1131 38.3 2 MP Last Month    19.15
Name: 1131, dtype: object
1132 3.47 2 MP Last Month    1.735
Name: 1132, dtype: object
1133 3.47 2 MP Last Month    1.735
Name: 1133, dtype: object
1134 78.38 2 MP Last Month    39.19
Name: 1134, dtype: object
1135 39.81 2 MP Last Month    19.905
Name: 1135, dtype: object
1136 37.53 2 MP Last Month    18.765
Name: 1136, dtype: object
1137 3.47 2 MP Last Month    1.735
Name: 1137, dtype: object
1138 20.97 2 MP Last Month    10.485
Name: 1138, dtype: object
1139 104.67000000000002 3 MP Last Month    34.89
Name: 1139, dtype: object
1140 79.85 3 MP Last Month    26.6167
Name: 1140, dtype: object
1141 9.780000000000001 3 MP Last Month    3.26
Name: 1141, dtype: object
1142 0.42 3 MP Last Month    0.14
Name: 1142, dtype: object
1143 73.12 2 MP Last Month    36.56
Name: 1143, dtype: object
1144 96.15 3 MP Last Month    32.05
Name: 1144, dtype: object
1145 35.93 3 MP Last Month    11.9767
Name: 1145, dtype: object
1146 46.37 3 MP Last Month    15.4567
Name: 1146, dtype: object
1147 67.83 3 MP Last Month    22.61
Name: 1147, dtype: object
1148 63.98 3 MP Last Month    21.3267
Name: 1148, dtype: object
1149 53.699999999999996 3 MP Last Month    17.9
Name: 1149, dtype: object
1150 88.19 3 MP Last Month    29.3967
Name: 1150, dtype: object
1151 0.0 3 MP Last Month    0
Name: 1151, dtype: object

1152 70.88 2 MP Last Month    35.44
Name: 1152, dtype: object
1153 54.72 2 MP Last Month    27.36
Name: 1153, dtype: object
1154 44.32 2 MP Last Month    22.16
Name: 1154, dtype: object
1155 0.0 2 MP Last Month    0
Name: 1155, dtype: object
1156 29.700000000000003 2 MP Last Month    14.85
Name: 1156, dtype: object
1157 70.9 2 MP Last Month    35.45
Name: 1157, dtype: object
1158 61.769999999999996 2 MP Last Month    30.885
Name: 1158, dtype: object
1159 17.47 2 MP Last Month    8.735
Name: 1159, dtype: object
1160 10.66 2 MP Last Month    5.33
Name: 1160, dtype: object
1161 71.95 2 MP Last Month    35.975
Name: 1161, dtype: object
1162 44.519999999999996 2 MP Last Month    22.26
Name: 1162, dtype: object
1163 3.12 2 MP Last Month    1.56
Name: 1163, dtype: object
1164 62.41 2 MP Last Month    31.205
Name: 1164, dtype: object
1165 70.2 2 MP Last Month    35.1
Name: 1165, dtype: object
1166 52.15 2 MP Last Month    26.075
Name: 1166, dtype: object
1167 26.869999999999997 2 MP Last Month    13.435
Name: 1167, dtype: object
1168 0.18 2 MP Last Month    0.09
Name: 1168, dtype: object
1169 55.91 2 MP Last Month    27.955
Name: 1169, dtype: object
1170 58.5 2 MP Last Month    29.25
Name: 1170, dtype: object
1171 39.260000000000005 2 MP Last Month    19.63
Name: 1171, dtype: object
1172 53.120000000000005 2 MP Last Month    26.56
Name: 1172, dtype: object
1173 32.27 2 MP Last Month    16.135
Name: 1173, dtype: object
1174 29.11 2 MP Last Month    14.555
Name: 1174, dtype: object
1175 0.0 2 MP Last Month    0
Name: 1175, dtype: object
1176 104.44 3 MP Last Month    34.8133
Name: 1176, dtype: object
1177 95.18 3 MP Last Month    31.7267
Name: 1177, dtype: object
1178 51.36 3 MP Last Month    17.12
Name: 1178, dtype: object
1179 30.55 3 MP Last Month    10.1833
Name: 1179, dtype: object
1180 0.0 1 MP Last Month    0
Name: 1180, dtype: object
1181 56.970000000000006 3 MP Last Month    18.99
Name: 1181, dtype: object
1182 53.150000000000006 3 MP Last Month    17.7167
Name: 1182, dtype: object
1183 41.77 3 MP Last Month    13.9233
Name: 1183, dtype: object
1184 1.57 3 MP Last Month    0.523333
Name: 1184, dtype: object
1185 96.65 3 MP Last Month    32.2167
Name: 1185, dtype: object
1186 42.79 3 MP Last Month    14.2633
Name: 1186, dtype: object
1187 88.87 3 MP Last Month    29.6233
Name: 1187, dtype: object
1188 2.72 3 MP Last Month    0.906667
Name: 1188, dtype: object
1189 63.09 2 MP Last Month    31.545
Name: 1189, dtype: object
1190 59.15 2 MP Last Month    29.575
Name: 1190, dtype: object
1191 4.07 2 MP Last Month    2.035
Name: 1191, dtype: object
1192 18.87 2 MP Last Month    9.435
Name: 1192, dtype: object
1193 29.9 2 MP Last Month    14.95
Name: 1193, dtype: object
1194 19.35 2 MP Last Month    9.675
Name: 1194, dtype: object
1195 29.67 2 MP Last Month    14.835
Name: 1195, dtype: object
1196 68.85 2 MP Last Month    34.425
Name: 1196, dtype: object
1197 55.75 2 MP Last Month    27.875
Name: 1197, dtype: object
1198 37.85 2 MP Last Month    18.925
Name: 1198, dtype: object
1199 0.0 1 MP Last Month    0
Name: 1199, dtype: object
1200 67.75 3 MP Last Month    22.5833
Name: 1200, dtype: object
1201 77.05 3 MP Last Month    25.6833
Name: 1201, dtype: object
1202 80.92 3 MP Last Month    26.9733
Name: 1202, dtype: object
1203 0.0 3 MP Last Month    0
Name: 1203, dtype: object
1204 0.0 2 MP Last Month    0
Name: 1204, dtype: object
1205 112.42999999999999 3 MP Last Month    37.4767
Name: 1205, dtype: object
1206 92.91 3 MP Last Month    30.97
Name: 1206, dtype: object
1207 44.769999999999996 3 MP Last Month    14.9233
Name: 1207, dtype: object
1208 18.66 3 MP Last Month    6.22
Name: 1208, dtype: object
1209 53.47 3 MP Last Month    17.8233
Name: 1209, dtype: object
1210 57.04 3 MP Last Month    19.0133
Name: 1210, dtype: object
1211 39.05 3 MP Last Month    13.0167
Name: 1211, dtype: object
1212 60.949999999999996 2 MP Last Month    30.475
Name: 1212, dtype: object
1213 65.2 2 MP Last Month    32.6
Name: 1213, dtype: object
1214 17.88 2 MP Last Month    8.94
Name: 1214, dtype: object
1215 4.15 1 MP Last Month    4.15
Name: 1215, dtype: object
1216 7.5600000000000005 2 MP Last Month    3.78
Name: 1216, dtype: object
1217 61.22 2 MP Last Month    30.61
Name: 1217, dtype: object
1218 57.42999999999999 2 MP Last Month    28.715
Name: 1218, dtype: object
1219 32.38 2 MP Last Month    16.19
Name: 1219, dtype: object
1220 42.68 2 MP Last Month    21.34
Name: 1220, dtype: object
1221 0 0 MP Last Month    0
Name: 1221, dtype: object
1222 65.87 2 MP Last Month    32.935
Name: 1222, dtype: object
1223 48.24 2 MP Last Month    24.12
Name: 1223, dtype: object
1224 9.11 2 MP Last Month    4.555
Name: 1224, dtype: object
1225 52.650000000000006 3 MP Last Month    17.55
Name: 1225, dtype: object
1226 79.09 3 MP Last Month    26.3633
Name: 1226, dtype: object
1227 62.809999999999995 3 MP Last Month    20.9367
Name: 1227, dtype: object
1228 0.0 3 MP Last Month    0
Name: 1228, dtype: object
1229 15.7 3 MP Last Month    5.23333
Name: 1229, dtype: object
1230 86.15 3 MP Last Month    28.7167
Name: 1230, dtype: object
1231 88.82 3 MP Last Month    29.6067
Name: 1231, dtype: object
1232 102.3 3 MP Last Month    34.1
Name: 1232, dtype: object
1233 4.27 3 MP Last Month    1.42333
Name: 1233, dtype: object
1234 103.35 3 MP Last Month    34.45
Name: 1234, dtype: object
1235 0 0 MP Last Month    0
Name: 1235, dtype: object
1236 40.71 3 MP Last Month    13.57
Name: 1236, dtype: object
1237 106.4 3 MP Last Month    35.4667
Name: 1237, dtype: object
1238 70.94999999999999 3 MP Last Month    23.65
Name: 1238, dtype: object
1239 68.48 3 MP Last Month    22.8267
Name: 1239, dtype: object
1240 78.30000000000001 3 MP Last Month    26.1
Name: 1240, dtype: object
1241 68.5 3 MP Last Month    22.8333
Name: 1241, dtype: object
1242 68.72 3 MP Last Month    22.9067
Name: 1242, dtype: object
1243 82.06 3 MP Last Month    27.3533
Name: 1243, dtype: object
1244 8.76 3 MP Last Month    2.92
Name: 1244, dtype: object
1245 45.07000000000001 3 MP Last Month    15.0233
Name: 1245, dtype: object
1246 86.57000000000001 3 MP Last Month    28.8567
Name: 1246, dtype: object
1247 10.120000000000001 3 MP Last Month    3.37333
Name: 1247, dtype: object
1248 103.88000000000001 3 MP Last Month    34.6267
Name: 1248, dtype: object
1249 56.519999999999996 3 MP Last Month    18.84
Name: 1249, dtype: object
1250 40.72 3 MP Last Month    13.5733
Name: 1250, dtype: object
1251 26.68 3 MP Last Month    8.89333
Name: 1251, dtype: object
1252 84.57 3 MP Last Month    28.19
Name: 1252, dtype: object
1253 42.75 3 MP Last Month    14.25
Name: 1253, dtype: object
1254 66.0 3 MP Last Month    22
Name: 1254, dtype: object
1255 80.05000000000001 3 MP Last Month    26.6833
Name: 1255, dtype: object
1256 0 0 MP Last Month    0
Name: 1256, dtype: object
1257 32.07 2 MP Last Month    16.035
Name: 1257, dtype: object
1258 28.29 3 MP Last Month    9.43
Name: 1258, dtype: object
1259 89.42 3 MP Last Month    29.8067
Name: 1259, dtype: object
1260 0 0 MP Last Month    0
Name: 1260, dtype: object
1261 89.81 3 MP Last Month    29.9367
Name: 1261, dtype: object
1262 91.27 3 MP Last Month    30.4233
Name: 1262, dtype: object
1263 93.98 3 MP Last Month    31.3267
Name: 1263, dtype: object
1264 85.5 3 MP Last Month    28.5
Name: 1264, dtype: object
1265 43.599999999999994 2 MP Last Month    21.8
Name: 1265, dtype: object
1266 6.55 3 MP Last Month    2.18333
Name: 1266, dtype: object
1267 6.55 3 MP Last Month    2.18333
Name: 1267, dtype: object
1268 85.25 3 MP Last Month    28.4167
Name: 1268, dtype: object
1269 51.260000000000005 3 MP Last Month    17.0867
Name: 1269, dtype: object
1270 0 0 MP Last Month    0
Name: 1270, dtype: object
1271 6.8 3 MP Last Month    2.26667
Name: 1271, dtype: object
1272 106.75 3 MP Last Month    35.5833
Name: 1272, dtype: object
1273 67.62 3 MP Last Month    22.54
Name: 1273, dtype: object
1274 47.92 3 MP Last Month    15.9733
Name: 1274, dtype: object
1275 56.480000000000004 3 MP Last Month    18.8267
Name: 1275, dtype: object
1276 0.0 1 MP Last Month    0
Name: 1276, dtype: object
1277 72.93 3 MP Last Month    24.31
Name: 1277, dtype: object
1278 101.91 3 MP Last Month    33.97
Name: 1278, dtype: object
1279 20.44 3 MP Last Month    6.81333
Name: 1279, dtype: object

1280 0.0 2 MP Last Month    0
Name: 1280, dtype: object
1281 93.0 3 MP Last Month    31
Name: 1281, dtype: object
1282 52.5 3 MP Last Month    17.5
Name: 1282, dtype: object
1283 139.02 4 MP Last Month    34.755
Name: 1283, dtype: object
1284 107.08000000000001 4 MP Last Month    26.77
Name: 1284, dtype: object
1285 59.8 4 MP Last Month    14.95
Name: 1285, dtype: object
1286 5.6 2 MP Last Month    2.8
Name: 1286, dtype: object
1287 97.16 4 MP Last Month    24.29
Name: 1287, dtype: object
1288 139.48000000000002 4 MP Last Month    34.87
Name: 1288, dtype: object
1289 97.27999999999999 4 MP Last Month    24.32
Name: 1289, dtype: object
1290 89.21000000000001 4 MP Last Month    22.3025
Name: 1290, dtype: object
1291 47.48 4 MP Last Month    11.87
Name: 1291, dtype: object
1292 7.95 2 MP Last Month    3.975
Name: 1292, dtype: object
1293 83.64999999999999 4 MP Last Month    20.9125
Name: 1293, dtype: object
1294 12.75 4 MP Last Month    3.1875
Name: 1294, dtype: object
1295 69.88 3 MP Last Month    23.2933
Name: 1295, dtype: object
1296 68.32 3 MP Last Month    22.7733
Name: 1296, dtype: object
1297 83.95 3 MP Last Month    27.9833
Name: 1297, dtype: object
1298 3.67 2 MP Last Month    1.835
Name: 1298, dtype: object
1299 107.38000000000001 3 MP Last Month    35.7933
Name: 1299, dtype: object
1300 82.14 3 MP Last Month    27.38
Name: 1300, dtype: object
1301 19.25 3 MP Last Month    6.41667
Name: 1301, dtype: object
1302 39.650000000000006 3 MP Last Month    13.2167
Name: 1302, dtype: object
1303 1.7 2 MP Last Month    0.85
Name: 1303, dtype: object
1304 107.07 3 MP Last Month    35.69
Name: 1304, dtype: object
1305 90.28999999999999 3 MP Last Month    30.0967
Name: 1305, dtype: object
1306 17.3 1 MP Last Month    17.3
Name: 1306, dtype: object
1307 28.67 3 MP Last Month    9.55667
Name: 1307, dtype: object
1308 53.72 3 MP Last Month    17.9067
Name: 1308, dtype: object
1309 0.0 2 MP Last Month    0
Name: 1309, dtype: object
1310 103.80999999999999 3 MP Last Month    34.6033
Name: 1310, dtype: object
1311 53.78 3 MP Last Month    17.9267
Name: 1311, dtype: object
1312 100.15 3 MP Last Month    33.3833
Name: 1312, dtype: object
1313 10.809999999999999 3 MP Last Month    3.60333
Name: 1313, dtype: object
1314 0.9 3 MP Last Month    0.3
Name: 1314, dtype: object
1315 93.87 3 MP Last Month    31.29
Name: 1315, dtype: object
1316 50.73 3 MP Last Month    16.91
Name: 1316, dtype: object
1317 0.0 3 MP Last Month    0
Name: 1317, dtype: object
1318 142.63 4 MP Last Month    35.6575
Name: 1318, dtype: object
1319 132.31 4 MP Last Month    33.0775
Name: 1319, dtype: object
1320 32.85 2 MP Last Month    16.425
Name: 1320, dtype: object
1321 46.099999999999994 4 MP Last Month    11.525
Name: 1321, dtype: object
1322 142.45 4 MP Last Month    35.6125
Name: 1322, dtype: object
1323 62.36 4 MP Last Month    15.59
Name: 1323, dtype: object
1324 54.300000000000004 3 MP Last Month    18.1
Name: 1324, dtype: object
1325 35.65 4 MP Last Month    8.9125
Name: 1325, dtype: object
1326 126.75 4 MP Last Month    31.6875
Name: 1326, dtype: object
1327 18.78 4 MP Last Month    4.695
Name: 1327, dtype: object
1328 71.82 4 MP Last Month    17.955
Name: 1328, dtype: object
1329 83.95 4 MP Last Month    20.9875
Name: 1329, dtype: object
1330 112.3 3 MP Last Month    37.4333
Name: 1330, dtype: object
1331 33.86 3 MP Last Month    11.2867
Name: 1331, dtype: object
1332 82.87 3 MP Last Month    27.6233
Name: 1332, dtype: object
1333 107.17 3 MP Last Month    35.7233
Name: 1333, dtype: object
1334 93.89 3 MP Last Month    31.2967
Name: 1334, dtype: object
1335 49.65 3 MP Last Month    16.55
Name: 1335, dtype: object
1336 4.1 3 MP Last Month    1.36667
Name: 1336, dtype: object
1337 93.46000000000001 3 MP Last Month    31.1533
Name: 1337, dtype: object
1338 10.96 3 MP Last Month    3.65333
Name: 1338, dtype: object
1339 123.96000000000001 4 MP Last Month    30.99
Name: 1339, dtype: object
1340 97.73 4 MP Last Month    24.4325
Name: 1340, dtype: object
1341 96.31 4 MP Last Month    24.0775
Name: 1341, dtype: object
1342 11.9 4 MP Last Month    2.975
Name: 1342, dtype: object
1343 11.47 4 MP Last Month    2.8675
Name: 1343, dtype: object
1344 83.35000000000001 4 MP Last Month    20.8375
Name: 1344, dtype: object
1345 113.74000000000001 4 MP Last Month    28.435
Name: 1345, dtype: object
1346 86.64999999999999 4 MP Last Month    21.6625
Name: 1346, dtype: object
1347 117.57000000000001 4 MP Last Month    29.3925
Name: 1347, dtype: object
1348 68.19 3 MP Last Month    22.73
Name: 1348, dtype: object
1349 100.3 4 MP Last Month    25.075
Name: 1349, dtype: object
1350 37.52 4 MP Last Month    9.38
Name: 1350, dtype: object
1351 56.72 3 MP Last Month    18.9067
Name: 1351, dtype: object
1352 78.57 3 MP Last Month    26.19
Name: 1352, dtype: object
1353 96.47 3 MP Last Month    32.1567
Name: 1353, dtype: object
1354 119.07 3 MP Last Month    39.69
Name: 1354, dtype: object
1355 99.05000000000001 3 MP Last Month    33.0167
Name: 1355, dtype: object
1356 64.48 3 MP Last Month    21.4933
Name: 1356, dtype: object
1357 13.88 1 MP Last Month    13.88
Name: 1357, dtype: object
1358 16.63 3 MP Last Month    5.54333
Name: 1358, dtype: object
1359 7.8999999999999995 3 MP Last Month    2.63333
Name: 1359, dtype: object
1360 69.63 3 MP Last Month    23.21
Name: 1360, dtype: object
1361 4.72 3 MP Last Month    1.57333
Name: 1361, dtype: object
1362 88.62 3 MP Last Month    29.54
Name: 1362, dtype: object
1363 79.32 3 MP Last Month    26.44
Name: 1363, dtype: object
1364 25.9 3 MP Last Month    8.63333
Name: 1364, dtype: object
1365 0.0 2 MP Last Month    0
Name: 1365, dtype: object
1366 35.38 3 MP Last Month    11.7933
Name: 1366, dtype: object
1367 59.92999999999999 3 MP Last Month    19.9767
Name: 1367, dtype: object
1368 94.17 3 MP Last Month    31.39
Name: 1368, dtype: object
1369 34.3 3 MP Last Month    11.4333
Name: 1369, dtype: object
1370 44.51 3 MP Last Month    14.8367
Name: 1370, dtype: object
1371 46.3 3 MP Last Month    15.4333
Name: 1371, dtype: object
1372 80.10000000000001 3 MP Last Month    26.7
Name: 1372, dtype: object
1373 92.41 3 MP Last Month    30.8033
Name: 1373, dtype: object
1374 0.0 2 MP Last Month    0
Name: 1374, dtype: object
1375 102.87 3 MP Last Month    34.29
Name: 1375, dtype: object
1376 70.64 3 MP Last Month    23.5467
Name: 1376, dtype: object
1377 77.13 3 MP Last Month    25.71
Name: 1377, dtype: object
1378 107.15 3 MP Last Month    35.7167
Name: 1378, dtype: object
1379 102.83 3 MP Last Month    34.2767
Name: 1379, dtype: object
1380 0.0 3 MP Last Month    0
Name: 1380, dtype: object
1381 0.0 3 MP Last Month    0
Name: 1381, dtype: object
1382 0.0 3 MP Last Month    0
Name: 1382, dtype: object
1383 0 0 MP Last Month    0
Name: 1383, dtype: object
1384 87.39 3 MP Last Month    29.13
Name: 1384, dtype: object
1385 46.29 3 MP Last Month    15.43
Name: 1385, dtype: object
1386 54.57 3 MP Last Month    18.19
Name: 1386, dtype: object
1387 91.36 3 MP Last Month    30.4533
Name: 1387, dtype: object
1388 62.03 3 MP Last Month    20.6767
Name: 1388, dtype: object
1389 96.7 3 MP Last Month    32.2333
Name: 1389, dtype: object
1390 103.67 3 MP Last Month    34.5567
Name: 1390, dtype: object
1391 98.27000000000001 3 MP Last Month    32.7567
Name: 1391, dtype: object
1392 44.26 3 MP Last Month    14.7533
Name: 1392, dtype: object
1393 3.73 3 MP Last Month    1.24333
Name: 1393, dtype: object
1394 3.85 3 MP Last Month    1.28333
Name: 1394, dtype: object
1395 74.4 3 MP Last Month    24.8
Name: 1395, dtype: object
1396 51.75 3 MP Last Month    17.25
Name: 1396, dtype: object
1397 74.99 3 MP Last Month    24.9967
Name: 1397, dtype: object
1398 10.75 2 MP Last Month    5.375
Name: 1398, dtype: object
1399 0.0 1 MP Last Month    0
Name: 1399, dtype: object
1400 128.05 4 MP Last Month    32.0125
Name: 1400, dtype: object
1401 52.96 4 MP Last Month    13.24
Name: 1401, dtype: object
1402 113.18 4 MP Last Month    28.295
Name: 1402, dtype: object
1403 64.0 4 MP Last Month    16
Name: 1403, dtype: object
1404 104.26 3 MP Last Month    34.7533
Name: 1404, dtype: object
1405 71.0 4 MP Last Month    17.75
Name: 1405, dtype: object
1406 118.95000000000002 4 MP Last Month    29.7375
Name: 1406, dtype: object
1407 0.0 4 MP Last Month    0
Name: 1407, dtype: object

1408 0.0 4 MP Last Month    0
Name: 1408, dtype: object
1409 0.0 4 MP Last Month    0
Name: 1409, dtype: object
1410 7.8 1 MP Last Month    7.8
Name: 1410, dtype: object
1411 123.63 4 MP Last Month    30.9075
Name: 1411, dtype: object
1412 66.8 4 MP Last Month    16.7
Name: 1412, dtype: object
1413 118.2 4 MP Last Month    29.55
Name: 1413, dtype: object
1414 103.37 4 MP Last Month    25.8425
Name: 1414, dtype: object
1415 59.120000000000005 4 MP Last Month    14.78
Name: 1415, dtype: object
1416 53.85 4 MP Last Month    13.4625
Name: 1416, dtype: object
1417 71.87 4 MP Last Month    17.9675
Name: 1417, dtype: object
1418 72.3 4 MP Last Month    18.075
Name: 1418, dtype: object
1419 84.32 4 MP Last Month    21.08
Name: 1419, dtype: object
1420 125.78999999999999 4 MP Last Month    31.4475
Name: 1420, dtype: object
1421 68.14 4 MP Last Month    17.035
Name: 1421, dtype: object
1422 10.72 4 MP Last Month    2.68
Name: 1422, dtype: object
1423 0.0 3 MP Last Month    0
Name: 1423, dtype: object
1424 84.13 3 MP Last Month    28.0433
Name: 1424, dtype: object
1425 100.07000000000001 4 MP Last Month    25.0175
Name: 1425, dtype: object
1426 87.21 4 MP Last Month    21.8025
Name: 1426, dtype: object
1427 84.67000000000002 4 MP Last Month    21.1675
Name: 1427, dtype: object
1428 0.0 4 MP Last Month    0
Name: 1428, dtype: object
1429 123.48 4 MP Last Month    30.87
Name: 1429, dtype: object
1430 126.5 4 MP Last Month    31.625
Name: 1430, dtype: object
1431 146.5 4 MP Last Month    36.625
Name: 1431, dtype: object
1432 15.7 4 MP Last Month    3.925
Name: 1432, dtype: object
1433 4.27 4 MP Last Month    1.0675
Name: 1433, dtype: object
1434 142.03 4 MP Last Month    35.5075
Name: 1434, dtype: object
1435 16.7 1 MP Last Month    16.7
Name: 1435, dtype: object
1436 53.71 4 MP Last Month    13.4275
Name: 1436, dtype: object
1437 108.35000000000001 3 MP Last Month    36.1167
Name: 1437, dtype: object
1438 89.79 3 MP Last Month    29.93
Name: 1438, dtype: object
1439 13.5 2 MP Last Month    6.75
Name: 1439, dtype: object
1440 4.13 1 MP Last Month    4.13
Name: 1440, dtype: object
1441 101.39000000000001 3 MP Last Month    33.7967
Name: 1441, dtype: object
1442 70.53999999999999 3 MP Last Month    23.5133
Name: 1442, dtype: object
1443 70.35 3 MP Last Month    23.45
Name: 1443, dtype: object
1444 30.810000000000002 3 MP Last Month    10.27
Name: 1444, dtype: object
1445 90.13 3 MP Last Month    30.0433
Name: 1445, dtype: object
1446 43.370000000000005 3 MP Last Month    14.4567
Name: 1446, dtype: object
1447 66.81 3 MP Last Month    22.27
Name: 1447, dtype: object
1448 10.5 3 MP Last Month    3.5
Name: 1448, dtype: object
1449 6.42 3 MP Last Month    2.14
Name: 1449, dtype: object
1450 126.95 4 MP Last Month    31.7375
Name: 1450, dtype: object
1451 91.44999999999999 4 MP Last Month    22.8625
Name: 1451, dtype: object
1452 89.69 4 MP Last Month    22.4225
Name: 1452, dtype: object
1453 105.31 4 MP Last Month    26.3275
Name: 1453, dtype: object
1454 105.87 4 MP Last Month    26.4675
Name: 1454, dtype: object
1455 13.69 4 MP Last Month    3.4225
Name: 1455, dtype: object
1456 0 0 MP Last Month    0
Name: 1456, dtype: object
1457 110.12 4 MP Last Month    27.53
Name: 1457, dtype: object
1458 100.81 4 MP Last Month    25.2025
Name: 1458, dtype: object
1459 59.290000000000006 4 MP Last Month    14.8225
Name: 1459, dtype: object
1460 15.05 4 MP Last Month    3.7625
Name: 1460, dtype: object
1461 94.28999999999999 3 MP Last Month    31.43
Name: 1461, dtype: object
1462 83.06 3 MP Last Month    27.6867
Name: 1462, dtype: object
1463 83.43 3 MP Last Month    27.81
Name: 1463, dtype: object
1464 117.55 3 MP Last Month    39.1833
Name: 1464, dtype: object
1465 61.629999999999995 3 MP Last Month    20.5433
Name: 1465, dtype: object
1466 3.47 3 MP Last Month    1.15667
Name: 1466, dtype: object
1467 51.93000000000001 3 MP Last Month    17.31
Name: 1467, dtype: object
1468 118.35999999999999 3 MP Last Month    39.4533
Name: 1468, dtype: object
1469 45.38 3 MP Last Month    15.1267
Name: 1469, dtype: object
1470 57.96 3 MP Last Month    19.32
Name: 1470, dtype: object
1471 20.97 3 MP Last Month    6.99
Name: 1471, dtype: object
1472 3.47 3 MP Last Month    1.15667
Name: 1472, dtype: object
1473 3.47 3 MP Last Month    1.15667
Name: 1473, dtype: object
1474 136.49 4 MP Last Month    34.1225
Name: 1474, dtype: object
1475 13.66 4 MP Last Month    3.415
Name: 1475, dtype: object
1476 0 0 MP Last Month    0
Name: 1476, dtype: object
1477 4.3 4 MP Last Month    1.075
Name: 1477, dtype: object
1478 104.19 3 MP Last Month    34.73
Name: 1478, dtype: object
1479 83.75 4 MP Last Month    20.9375
Name: 1479, dtype: object
1480 92.56 4 MP Last Month    23.14
Name: 1480, dtype: object
1481 122.55000000000001 4 MP Last Month    30.6375
Name: 1481, dtype: object
1482 62.06999999999999 4 MP Last Month    15.5175
Name: 1482, dtype: object
1483 52.0 4 MP Last Month    13
Name: 1483, dtype: object
1484 73.39999999999999 4 MP Last Month    18.35
Name: 1484, dtype: object
1485 112.61 4 MP Last Month    28.1525
Name: 1485, dtype: object
1486 3.88 4 MP Last Month    0.97
Name: 1486, dtype: object
1487 107.85 3 MP Last Month    35.95
Name: 1487, dtype: object
1488 83.8 3 MP Last Month    27.9333
Name: 1488, dtype: object
1489 57.84 3 MP Last Month    19.28
Name: 1489, dtype: object
1490 35.6 3 MP Last Month    11.8667
Name: 1490, dtype: object
1491 10.52 3 MP Last Month    3.50667
Name: 1491, dtype: object
1492 107.83000000000001 3 MP Last Month    35.9433
Name: 1492, dtype: object
1493 90.91999999999999 3 MP Last Month    30.3067
Name: 1493, dtype: object
1494 18.63 3 MP Last Month    6.21
Name: 1494, dtype: object
1495 28.54 3 MP Last Month    9.51333
Name: 1495, dtype: object
1496 0 0 MP Last Month    0
Name: 1496, dtype: object
1497 105.43 3 MP Last Month    35.1433
Name: 1497, dtype: object
1498 69.91999999999999 3 MP Last Month    23.3067
Name: 1498, dtype: object
1499 3.12 3 MP Last Month    1.04
Name: 1499, dtype: object
1500 105.49 3 MP Last Month    35.1633
Name: 1500, dtype: object
1501 111.47 3 MP Last Month    37.1567
Name: 1501, dtype: object
1502 37.739999999999995 3 MP Last Month    12.58
Name: 1502, dtype: object
1503 74.03 3 MP Last Month    24.6767
Name: 1503, dtype: object
1504 0.18 3 MP Last Month    0.06
Name: 1504, dtype: object
1505 81.00999999999999 3 MP Last Month    27.0033
Name: 1505, dtype: object
1506 78.64000000000001 3 MP Last Month    26.2133
Name: 1506, dtype: object
1507 102.02000000000001 3 MP Last Month    34.0067
Name: 1507, dtype: object
1508 77.32000000000001 3 MP Last Month    25.7733
Name: 1508, dtype: object
1509 43.97 3 MP Last Month    14.6567
Name: 1509, dtype: object
1510 0.0 3 MP Last Month    0
Name: 1510, dtype: object
1511 33.11 3 MP Last Month    11.0367
Name: 1511, dtype: object
1512 131.05 4 MP Last Month    32.7625
Name: 1512, dtype: object
1513 88.11999999999999 4 MP Last Month    22.03
Name: 1513, dtype: object
1514 94.24 4 MP Last Month    23.56
Name: 1514, dtype: object
1515 0.82 4 MP Last Month    0.205
Name: 1515, dtype: object
1516 92.22 4 MP Last Month    23.055
Name: 1516, dtype: object
1517 135.31 4 MP Last Month    33.8275
Name: 1517, dtype: object
1518 73.83000000000001 3 MP Last Month    24.61
Name: 1518, dtype: object
1519 122.3 4 MP Last Month    30.575
Name: 1519, dtype: object
1520 10.629999999999999 4 MP Last Month    2.6575
Name: 1520, dtype: object
1521 9.75 4 MP Last Month    2.4375
Name: 1521, dtype: object
1522 119.53 4 MP Last Month    29.8825
Name: 1522, dtype: object
1523 33.25 4 MP Last Month    8.3125
Name: 1523, dtype: object
1524 3.5 2 MP Last Month    1.75
Name: 1524, dtype: object
1525 93.33999999999999 4 MP Last Month    23.335
Name: 1525, dtype: object
1526 92.46 4 MP Last Month    23.115
Name: 1526, dtype: object
1527 108.45 4 MP Last Month    27.1125
Name: 1527, dtype: object
1528 21.770000000000003 3 MP Last Month    7.25667
Name: 1528, dtype: object
1529 38.15 4 MP Last Month    9.5375
Name: 1529, dtype: object
1530 104.41 4 MP Last Month    26.1025
Name: 1530, dtype: object
1531 131.65 4 MP Last Month    32.9125
Name: 1531, dtype: object
1532 43.480000000000004 4 MP Last Month    10.87
Name: 1532, dtype: object
1533 5.53 3 MP Last Month    1.84333
Name: 1533, dtype: object

1534 37.67 2 MP Last Month    18.835
Name: 1534, dtype: object
1535 113.88999999999999 4 MP Last Month    28.4725
Name: 1535, dtype: object
1536 0.0 3 MP Last Month    0
Name: 1536, dtype: object
1537 32.7 4 MP Last Month    8.175
Name: 1537, dtype: object
1538 80.31 4 MP Last Month    20.0775
Name: 1538, dtype: object
1539 113.68 4 MP Last Month    28.42
Name: 1539, dtype: object
1540 130.76 4 MP Last Month    32.69
Name: 1540, dtype: object
1541 50.03 4 MP Last Month    12.5075
Name: 1541, dtype: object
1542 2.75 2 MP Last Month    1.375
Name: 1542, dtype: object
1543 80.09 4 MP Last Month    20.0225
Name: 1543, dtype: object
1544 64.64 4 MP Last Month    16.16
Name: 1544, dtype: object
1545 78.28 4 MP Last Month    19.57
Name: 1545, dtype: object
1546 4.32 4 MP Last Month    1.08
Name: 1546, dtype: object
1547 119.93 4 MP Last Month    29.9825
Name: 1547, dtype: object
1548 111.0 4 MP Last Month    27.75
Name: 1548, dtype: object
1549 63.56 4 MP Last Month    15.89
Name: 1549, dtype: object
1550 6.67 4 MP Last Month    1.6675
Name: 1550, dtype: object
1551 101.82 3 MP Last Month    33.94
Name: 1551, dtype: object
1552 83.87 3 MP Last Month    27.9567
Name: 1552, dtype: object
1553 18.87 3 MP Last Month    6.29
Name: 1553, dtype: object
1554 4.07 3 MP Last Month    1.35667
Name: 1554, dtype: object
1555 71.32 3 MP Last Month    23.7733
Name: 1555, dtype: object
1556 48.94 3 MP Last Month    16.3133
Name: 1556, dtype: object
1557 30.62 3 MP Last Month    10.2067
Name: 1557, dtype: object
1558 91.3 3 MP Last Month    30.4333
Name: 1558, dtype: object
1559 112.88 3 MP Last Month    37.6267
Name: 1559, dtype: object
1560 55.1 3 MP Last Month    18.3667
Name: 1560, dtype: object
1561 0.0 2 MP Last Month    0
Name: 1561, dtype: object
1562 106.83999999999999 4 MP Last Month    26.71
Name: 1562, dtype: object
1563 81.75 4 MP Last Month    20.4375
Name: 1563, dtype: object
1564 122.84 4 MP Last Month    30.71
Name: 1564, dtype: object
1565 38.709999999999994 4 MP Last Month    9.6775
Name: 1565, dtype: object
1566 147.14 4 MP Last Month    36.785
Name: 1566, dtype: object
1567 128.52 4 MP Last Month    32.13
Name: 1567, dtype: object
1568 97.2 4 MP Last Month    24.3
Name: 1568, dtype: object
1569 34.0 2 MP Last Month    17
Name: 1569, dtype: object
1570 7.8999999999999995 4 MP Last Month    1.975
Name: 1570, dtype: object
1571 95.17999999999999 4 MP Last Month    23.795
Name: 1571, dtype: object
1572 7.05 4 MP Last Month    1.7625
Name: 1572, dtype: object
1573 35.15 1 MP Last Month    35.15
Name: 1573, dtype: object
1574 96.47999999999999 3 MP Last Month    32.16
Name: 1574, dtype: object
1575 38.23 3 MP Last Month    12.7433
Name: 1575, dtype: object
1576 31.9 3 MP Last Month    10.6333
Name: 1576, dtype: object
1577 7.8 3 MP Last Month    2.6
Name: 1577, dtype: object
1578 108.15 3 MP Last Month    36.05
Name: 1578, dtype: object
1579 84.53 3 MP Last Month    28.1767
Name: 1579, dtype: object
1580 60.9 3 MP Last Month    20.3
Name: 1580, dtype: object
1581 62.81999999999999 3 MP Last Month    20.94
Name: 1581, dtype: object
1582 102.75 3 MP Last Month    34.25
Name: 1582, dtype: object
1583 50.9 3 MP Last Month    16.9667
Name: 1583, dtype: object
1584 40.379999999999995 3 MP Last Month    13.46
Name: 1584, dtype: object
1585 107.42 4 MP Last Month    26.855
Name: 1585, dtype: object
1586 76.19 4 MP Last Month    19.0475
Name: 1586, dtype: object
1587 16.240000000000002 4 MP Last Month    4.06
Name: 1587, dtype: object
1588 92.76 4 MP Last Month    23.19
Name: 1588, dtype: object
1589 115.00999999999999 4 MP Last Month    28.7525
Name: 1589, dtype: object
1590 86.13999999999999 4 MP Last Month    21.535
Name: 1590, dtype: object
1591 133.89999999999998 4 MP Last Month    33.475
Name: 1591, dtype: object
1592 79.64 3 MP Last Month    26.5467
Name: 1592, dtype: object
1593 10.07 4 MP Last Month    2.5175
Name: 1593, dtype: object
1594 120.68 4 MP Last Month    30.17
Name: 1594, dtype: object
1595 76.99000000000001 4 MP Last Month    19.2475
Name: 1595, dtype: object
1596 12.0 4 MP Last Month    3
Name: 1596, dtype: object
1597 106.2 3 MP Last Month    35.4
Name: 1597, dtype: object
1598 48.14 3 MP Last Month    16.0467
Name: 1598, dtype: object
1599 3.03 3 MP Last Month    1.01
Name: 1599, dtype: object
1600 60.97 3 MP Last Month    20.3233
Name: 1600, dtype: object
1601 91.78 3 MP Last Month    30.5933
Name: 1601, dtype: object
1602 65.83 3 MP Last Month    21.9433
Name: 1602, dtype: object
1603 78.14999999999999 3 MP Last Month    26.05
Name: 1603, dtype: object
1604 40.9 3 MP Last Month    13.6333
Name: 1604, dtype: object
1605 57.760000000000005 3 MP Last Month    19.2533
Name: 1605, dtype: object
1606 3.03 3 MP Last Month    1.01
Name: 1606, dtype: object
1607 72.02 3 MP Last Month    24.0067
Name: 1607, dtype: object
1608 17.53 3 MP Last Month    5.84333
Name: 1608, dtype: object
1609 116.57 4 MP Last Month    29.1425
Name: 1609, dtype: object
1610 110.43 4 MP Last Month    27.6075
Name: 1610, dtype: object
1611 14.92 1 MP Last Month    14.92
Name: 1611, dtype: object
1612 10.379999999999999 4 MP Last Month    2.595
Name: 1612, dtype: object
1613 125.66 4 MP Last Month    31.415
Name: 1613, dtype: object
1614 61.67999999999999 3 MP Last Month    20.56
Name: 1614, dtype: object
1615 117.89 4 MP Last Month    29.4725
Name: 1615, dtype: object
1616 109.68 4 MP Last Month    27.42
Name: 1616, dtype: object
1617 10.379999999999999 4 MP Last Month    2.595
Name: 1617, dtype: object
1618 112.4 4 MP Last Month    28.1
Name: 1618, dtype: object
1619 68.28 4 MP Last Month    17.07
Name: 1619, dtype: object
1620 21.08 1 MP Last Month    21.08
Name: 1620, dtype: object
1621 142.45 4 MP Last Month    35.6125
Name: 1621, dtype: object
1622 98.47 4 MP Last Month    24.6175
Name: 1622, dtype: object
1623 0.0 2 MP Last Month    0
Name: 1623, dtype: object
1624 65.36 4 MP Last Month    16.34
Name: 1624, dtype: object
1625 65.17 4 MP Last Month    16.2925
Name: 1625, dtype: object
1626 33.44 4 MP Last Month    8.36
Name: 1626, dtype: object
1627 103.60000000000001 4 MP Last Month    25.9
Name: 1627, dtype: object
1628 140.32999999999998 4 MP Last Month    35.0825
Name: 1628, dtype: object
1629 15.75 3 MP Last Month    5.25
Name: 1629, dtype: object
1630 52.5 4 MP Last Month    13.125
Name: 1630, dtype: object
1631 174.57 5 MP Last Month    34.914
Name: 1631, dtype: object
1632 77.1 5 MP Last Month    15.42
Name: 1632, dtype: object
1633 131.3 5 MP Last Month    26.26
Name: 1633, dtype: object
1634 7.95 3 MP Last Month    2.65
Name: 1634, dtype: object
1635 177.08 5 MP Last Month    35.416
Name: 1635, dtype: object
1636 105.31 5 MP Last Month    21.062
Name: 1636, dtype: object
1637 60.4 5 MP Last Month    12.08
Name: 1637, dtype: object
1638 125.40999999999998 5 MP Last Month    25.082
Name: 1638, dtype: object
1639 130.19 5 MP Last Month    26.038
Name: 1639, dtype: object
1640 104.97 5 MP Last Month    20.994
Name: 1640, dtype: object
1641 13.629999999999999 4 MP Last Month    3.4075
Name: 1641, dtype: object
1642 12.75 5 MP Last Month    2.55
Name: 1642, dtype: object
1643 137.98999999999998 4 MP Last Month    34.4975
Name: 1643, dtype: object
1644 72.27 4 MP Last Month    18.0675
Name: 1644, dtype: object
1645 0.0 3 MP Last Month    0
Name: 1645, dtype: object
1646 76.11 4 MP Last Month    19.0275
Name: 1646, dtype: object
1647 0 0 MP Last Month    0
Name: 1647, dtype: object
1648 129.22 4 MP Last Month    32.305
Name: 1648, dtype: object
1649 14.879999999999999 4 MP Last Month    3.72
Name: 1649, dtype: object
1650 129.39000000000001 4 MP Last Month    32.3475
Name: 1650, dtype: object
1651 63.209999999999994 4 MP Last Month    15.8025
Name: 1651, dtype: object
1652 0.0 4 MP Last Month    0
Name: 1652, dtype: object
1653 174.20999999999998 5 MP Last Month    34.842
Name: 1653, dtype: object
1654 161.89 5 MP Last Month    32.378
Name: 1654, dtype: object
1655 48.0 3 MP Last Month    16
Name: 1655, dtype: object
1656 52.83 5 MP Last Month    10.566
Name: 1656, dtype: object
1657 173.98 5 MP Last Month    34.796
Name: 1657, dtype: object
1658 77.39 5 MP Last Month    15.478
Name: 1658, dtype: object
1659 80.22 4 MP Last Month    20.055
Name: 1659, dtype: object
1660 42.379999999999995 5 MP Last Month    8.476
Name: 1660, dtype: object

1661 39.28 5 MP Last Month    7.856
Name: 1661, dtype: object
1662 154.77 5 MP Last Month    30.954
Name: 1662, dtype: object
1663 95.60000000000001 5 MP Last Month    19.12
Name: 1663, dtype: object
1664 85.33999999999999 5 MP Last Month    17.068
Name: 1664, dtype: object
1665 62.02 2 MP Last Month    31.01
Name: 1665, dtype: object
1666 54.28 4 MP Last Month    13.57
Name: 1666, dtype: object
1667 121.62 4 MP Last Month    30.405
Name: 1667, dtype: object
1668 145.99 4 MP Last Month    36.4975
Name: 1668, dtype: object
1669 77.63 4 MP Last Month    19.4075
Name: 1669, dtype: object
1670 133.61 4 MP Last Month    33.4025
Name: 1670, dtype: object
1671 13.530000000000001 4 MP Last Month    3.3825
Name: 1671, dtype: object
1672 6.52 4 MP Last Month    1.63
Name: 1672, dtype: object
1673 131.16000000000003 4 MP Last Month    32.79
Name: 1673, dtype: object
1674 0.0 3 MP Last Month    0
Name: 1674, dtype: object
1675 109.42 4 MP Last Month    27.355
Name: 1675, dtype: object
1676 99.22999999999999 4 MP Last Month    24.8075
Name: 1676, dtype: object
1677 94.45 4 MP Last Month    23.6125
Name: 1677, dtype: object
1678 0.0 1 MP Last Month    0
Name: 1678, dtype: object
1679 0.47 4 MP Last Month    0.1175
Name: 1679, dtype: object
1680 149.93 4 MP Last Month    37.4825
Name: 1680, dtype: object
1681 128.03 4 MP Last Month    32.0075
Name: 1681, dtype: object
1682 29.810000000000002 4 MP Last Month    7.4525
Name: 1682, dtype: object
1683 76.45 4 MP Last Month    19.1125
Name: 1683, dtype: object
1684 40.08 4 MP Last Month    10.02
Name: 1684, dtype: object
1685 69.07 4 MP Last Month    17.2675
Name: 1685, dtype: object
1686 124.53 4 MP Last Month    31.1325
Name: 1686, dtype: object
1687 81.6 4 MP Last Month    20.4
Name: 1687, dtype: object
1688 132.12 4 MP Last Month    33.03
Name: 1688, dtype: object
1689 4.23 3 MP Last Month    1.41
Name: 1689, dtype: object
1690 3.85 4 MP Last Month    0.9625
Name: 1690, dtype: object
1691 141.02 4 MP Last Month    35.255
Name: 1691, dtype: object
1692 131.75 4 MP Last Month    32.9375
Name: 1692, dtype: object
1693 3.73 4 MP Last Month    0.9325
Name: 1693, dtype: object
1694 61.29 4 MP Last Month    15.3225
Name: 1694, dtype: object
1695 67.83 4 MP Last Month    16.9575
Name: 1695, dtype: object
1696 90.89 4 MP Last Month    22.7225
Name: 1696, dtype: object
1697 106.4 4 MP Last Month    26.6
Name: 1697, dtype: object
1698 0.0 2 MP Last Month    0
Name: 1698, dtype: object
1699 142.9 5 MP Last Month    28.58
Name: 1699, dtype: object
1700 84.33 5 MP Last Month    16.866
Name: 1700, dtype: object
1701 79.68 5 MP Last Month    15.936
Name: 1701, dtype: object
1702 158.02 5 MP Last Month    31.604
Name: 1702, dtype: object
1703 138.9 5 MP Last Month    27.78
Name: 1703, dtype: object
1704 99.05 5 MP Last Month    19.81
Name: 1704, dtype: object
1705 141.53 4 MP Last Month    35.3825
Name: 1705, dtype: object
1706 0.0 5 MP Last Month    0
Name: 1706, dtype: object
1707 0.0 5 MP Last Month    0
Name: 1707, dtype: object
1708 0.0 5 MP Last Month    0
Name: 1708, dtype: object
1709 7.8 2 MP Last Month    3.9
Name: 1709, dtype: object
1710 159.03 5 MP Last Month    31.806
Name: 1710, dtype: object
1711 79.39999999999999 5 MP Last Month    15.88
Name: 1711, dtype: object
1712 103.1 3 MP Last Month    34.3667
Name: 1712, dtype: object
1713 96.69999999999999 3 MP Last Month    32.2333
Name: 1713, dtype: object
1714 21.65 3 MP Last Month    7.21667
Name: 1714, dtype: object
1715 4.15 2 MP Last Month    2.075
Name: 1715, dtype: object
1716 7.5600000000000005 3 MP Last Month    2.52
Name: 1716, dtype: object
1717 91.24 3 MP Last Month    30.4133
Name: 1717, dtype: object
1718 91.78 3 MP Last Month    30.5933
Name: 1718, dtype: object
1719 55.46 3 MP Last Month    18.4867
Name: 1719, dtype: object
1720 0.0 1 MP Last Month    0
Name: 1720, dtype: object
1721 55.8 3 MP Last Month    18.6
Name: 1721, dtype: object
1722 106.02000000000001 3 MP Last Month    35.34
Name: 1722, dtype: object
1723 70.11 3 MP Last Month    23.37
Name: 1723, dtype: object
1724 9.11 3 MP Last Month    3.03667
Name: 1724, dtype: object
1725 149.13 5 MP Last Month    29.826
Name: 1725, dtype: object
1726 88.32 5 MP Last Month    17.664
Name: 1726, dtype: object
1727 120.14 5 MP Last Month    24.028
Name: 1727, dtype: object
1728 105.69 5 MP Last Month    21.138
Name: 1728, dtype: object
1729 76.84 5 MP Last Month    15.368
Name: 1729, dtype: object
1730 94.22999999999999 5 MP Last Month    18.846
Name: 1730, dtype: object
1731 91.7 5 MP Last Month    18.34
Name: 1731, dtype: object
1732 6.23 4 MP Last Month    1.5575
Name: 1732, dtype: object
1733 144.48999999999998 5 MP Last Month    28.898
Name: 1733, dtype: object
1734 85.44 5 MP Last Month    17.088
Name: 1734, dtype: object
1735 22.72 5 MP Last Month    4.544
Name: 1735, dtype: object
1736 164.1 5 MP Last Month    32.82
Name: 1736, dtype: object
1737 102.17999999999999 5 MP Last Month    20.436
Name: 1737, dtype: object
1738 0.0 1 MP Last Month    0
Name: 1738, dtype: object
1739 121.37 5 MP Last Month    24.274
Name: 1739, dtype: object
1740 146.74 5 MP Last Month    29.348
Name: 1740, dtype: object
1741 123.14 5 MP Last Month    24.628
Name: 1741, dtype: object
1742 143.3 5 MP Last Month    28.66
Name: 1742, dtype: object
1743 88.25 4 MP Last Month    22.0625
Name: 1743, dtype: object
1744 65.97 5 MP Last Month    13.194
Name: 1744, dtype: object
1745 18.009999999999998 5 MP Last Month    3.602
Name: 1745, dtype: object
1746 145.42000000000002 5 MP Last Month    29.084
Name: 1746, dtype: object
1747 15.05 5 MP Last Month    3.01
Name: 1747, dtype: object
1748 171.42000000000002 5 MP Last Month    34.284
Name: 1748, dtype: object
1749 25.759999999999998 5 MP Last Month    5.152
Name: 1749, dtype: object
1750 4.3 5 MP Last Month    0.86
Name: 1750, dtype: object
1751 139.59 4 MP Last Month    34.8975
Name: 1751, dtype: object
1752 154.0 5 MP Last Month    30.8
Name: 1752, dtype: object
1753 103.47 5 MP Last Month    20.694
Name: 1753, dtype: object
1754 64.3 5 MP Last Month    12.86
Name: 1754, dtype: object
1755 74.64999999999999 5 MP Last Month    14.93
Name: 1755, dtype: object
1756 93.42999999999999 5 MP Last Month    18.686
Name: 1756, dtype: object
1757 140.57999999999998 5 MP Last Month    28.116
Name: 1757, dtype: object
1758 3.88 5 MP Last Month    0.776
Name: 1758, dtype: object
1759 138.74 4 MP Last Month    34.685
Name: 1759, dtype: object
1760 124.91 4 MP Last Month    31.2275
Name: 1760, dtype: object
1761 103.03 4 MP Last Month    25.7575
Name: 1761, dtype: object
1762 58.47 4 MP Last Month    14.6175
Name: 1762, dtype: object
1763 12.73 4 MP Last Month    3.1825
Name: 1763, dtype: object
1764 108.21000000000001 4 MP Last Month    27.0525
Name: 1764, dtype: object
1765 105.44000000000001 4 MP Last Month    26.36
Name: 1765, dtype: object
1766 104.02999999999999 4 MP Last Month    26.0075
Name: 1766, dtype: object
1767 125.74000000000001 4 MP Last Month    31.435
Name: 1767, dtype: object
1768 33.11 4 MP Last Month    8.2775
Name: 1768, dtype: object
1769 9.33 4 MP Last Month    2.3325
Name: 1769, dtype: object
1770 54.519999999999996 4 MP Last Month    13.63
Name: 1770, dtype: object
1771 129.46 4 MP Last Month    32.365
Name: 1771, dtype: object
1772 82.22 4 MP Last Month    20.555
Name: 1772, dtype: object
1773 60.33 4 MP Last Month    15.0825
Name: 1773, dtype: object
1774 50.55 4 MP Last Month    12.6375
Name: 1774, dtype: object
1775 5.16 3 MP Last Month    1.72
Name: 1775, dtype: object
1776 26.68 4 MP Last Month    6.67
Name: 1776, dtype: object
1777 47.72 3 MP Last Month    15.9067
Name: 1777, dtype: object
1778 118.02 4 MP Last Month    29.505
Name: 1778, dtype: object
1779 14.03 1 MP Last Month    14.03
Name: 1779, dtype: object
1780 107.92000000000002 4 MP Last Month    26.98
Name: 1780, dtype: object
1781 28.29 4 MP Last Month    7.0725
Name: 1781, dtype: object
1782 113.07 5 MP Last Month    22.614
Name: 1782, dtype: object
1783 115.61999999999999 5 MP Last Month    23.124
Name: 1783, dtype: object
1784 164.60000000000002 5 MP Last Month    32.92
Name: 1784, dtype: object
1785 0.82 5 MP Last Month    0.164
Name: 1785, dtype: object
1786 121.84 5 MP Last Month    24.368
Name: 1786, dtype: object
1787 146.07999999999998 5 MP Last Month    29.216
Name: 1787, dtype: object

1788 97.51000000000002 4 MP Last Month    24.3775
Name: 1788, dtype: object
1789 169.74 5 MP Last Month    33.948
Name: 1789, dtype: object
1790 9.75 5 MP Last Month    1.95
Name: 1790, dtype: object
1791 19.08 5 MP Last Month    3.816
Name: 1791, dtype: object
1792 41.95 5 MP Last Month    8.39
Name: 1792, dtype: object
1793 150.98 5 MP Last Month    30.196
Name: 1793, dtype: object
1794 3.5 3 MP Last Month    1.16667
Name: 1794, dtype: object
1795 168.27999999999997 5 MP Last Month    33.656
Name: 1795, dtype: object
1796 90.05 5 MP Last Month    18.01
Name: 1796, dtype: object
1797 121.59 5 MP Last Month    24.318
Name: 1797, dtype: object
1798 60.94 5 MP Last Month    12.188
Name: 1798, dtype: object
1799 87.53 5 MP Last Month    17.506
Name: 1799, dtype: object
1800 13.88 3 MP Last Month    4.62667
Name: 1800, dtype: object
1801 129.28 5 MP Last Month    25.856
Name: 1801, dtype: object
1802 169.26 5 MP Last Month    33.852
Name: 1802, dtype: object
1803 45.8 4 MP Last Month    11.45
Name: 1803, dtype: object
1804 52.5 5 MP Last Month    10.5
Name: 1804, dtype: object
1805 200.79 6 MP Last Month    33.465
Name: 1805, dtype: object
1806 5.6 3 MP Last Month    1.86667
Name: 1806, dtype: object
1807 155.55 6 MP Last Month    25.925
Name: 1807, dtype: object
1808 207.60000000000002 6 MP Last Month    34.6
Name: 1808, dtype: object
1809 147.47 6 MP Last Month    24.5783
Name: 1809, dtype: object
1810 85.97999999999999 6 MP Last Month    14.33
Name: 1810, dtype: object
1811 149.15999999999997 6 MP Last Month    24.86
Name: 1811, dtype: object
1812 124.69 6 MP Last Month    20.7817
Name: 1812, dtype: object
1813 125.34 6 MP Last Month    20.89
Name: 1813, dtype: object
1814 26.1 5 MP Last Month    5.22
Name: 1814, dtype: object
1815 17.17 6 MP Last Month    2.86167
Name: 1815, dtype: object
1816 131.42000000000002 5 MP Last Month    26.284
Name: 1816, dtype: object
1817 118.36999999999999 5 MP Last Month    23.674
Name: 1817, dtype: object
1818 113.13 5 MP Last Month    22.626
Name: 1818, dtype: object
1819 41.84 4 MP Last Month    10.46
Name: 1819, dtype: object
1820 134.26 5 MP Last Month    26.852
Name: 1820, dtype: object
1821 43.480000000000004 5 MP Last Month    8.696
Name: 1821, dtype: object
1822 161.38 5 MP Last Month    32.276
Name: 1822, dtype: object
1823 5.53 4 MP Last Month    1.3825
Name: 1823, dtype: object
1824 60.37 5 MP Last Month    12.074
Name: 1824, dtype: object
1825 65.24000000000001 3 MP Last Month    21.7467
Name: 1825, dtype: object
1826 134.58999999999997 5 MP Last Month    26.918
Name: 1826, dtype: object
1827 32.7 5 MP Last Month    6.54
Name: 1827, dtype: object
1828 124.49 4 MP Last Month    31.1225
Name: 1828, dtype: object
1829 20.79 4 MP Last Month    5.1975
Name: 1829, dtype: object
1830 110.82000000000001 4 MP Last Month    27.705
Name: 1830, dtype: object
1831 4.07 4 MP Last Month    1.0175
Name: 1831, dtype: object
1832 73.50999999999999 4 MP Last Month    18.3775
Name: 1832, dtype: object
1833 103.41999999999999 4 MP Last Month    25.855
Name: 1833, dtype: object
1834 0.0 2 MP Last Month    0
Name: 1834, dtype: object
1835 127.93 4 MP Last Month    31.9825
Name: 1835, dtype: object
1836 148.93 4 MP Last Month    37.2325
Name: 1836, dtype: object
1837 65.53 4 MP Last Month    16.3825
Name: 1837, dtype: object
1838 0.0 3 MP Last Month    0
Name: 1838, dtype: object
1839 157.38 5 MP Last Month    31.476
Name: 1839, dtype: object
1840 117.46000000000001 5 MP Last Month    23.492
Name: 1840, dtype: object
1841 122.01 5 MP Last Month    24.402
Name: 1841, dtype: object
1842 14.75 5 MP Last Month    2.95
Name: 1842, dtype: object
1843 14.32 5 MP Last Month    2.864
Name: 1843, dtype: object
1844 141.59 5 MP Last Month    28.318
Name: 1844, dtype: object
1845 144.92000000000002 5 MP Last Month    28.984
Name: 1845, dtype: object
1846 99.41999999999999 5 MP Last Month    19.884
Name: 1846, dtype: object
1847 7.5 3 MP Last Month    2.5
Name: 1847, dtype: object
1848 127.92999999999999 5 MP Last Month    25.586
Name: 1848, dtype: object
1849 89.32 4 MP Last Month    22.33
Name: 1849, dtype: object
1850 40.370000000000005 5 MP Last Month    8.074
Name: 1850, dtype: object
1851 106.5 5 MP Last Month    21.3
Name: 1851, dtype: object
1852 61.45 2 MP Last Month    30.725
Name: 1852, dtype: object
1853 154.76 5 MP Last Month    30.952
Name: 1853, dtype: object
1854 140.08999999999997 5 MP Last Month    28.018
Name: 1854, dtype: object
1855 51.10999999999999 5 MP Last Month    10.222
Name: 1855, dtype: object
1856 181.81 5 MP Last Month    36.362
Name: 1856, dtype: object
1857 162.8 5 MP Last Month    32.56
Name: 1857, dtype: object
1858 46.47 3 MP Last Month    15.49
Name: 1858, dtype: object
1859 119.22 5 MP Last Month    23.844
Name: 1859, dtype: object
1860 10.43 5 MP Last Month    2.086
Name: 1860, dtype: object
1861 126.89999999999999 5 MP Last Month    25.38
Name: 1861, dtype: object
1862 7.05 5 MP Last Month    1.41
Name: 1862, dtype: object
1863 124.79 4 MP Last Month    31.1975
Name: 1863, dtype: object
1864 39.05 4 MP Last Month    9.7625
Name: 1864, dtype: object
1865 58.06 4 MP Last Month    14.515
Name: 1865, dtype: object
1866 60.36 4 MP Last Month    15.09
Name: 1866, dtype: object
1867 102.38999999999999 4 MP Last Month    25.5975
Name: 1867, dtype: object
1868 0 0 MP Last Month    0
Name: 1868, dtype: object
1869 0.0 3 MP Last Month    0
Name: 1869, dtype: object
1870 122.99000000000001 4 MP Last Month    30.7475
Name: 1870, dtype: object
1871 110.55000000000001 4 MP Last Month    27.6375
Name: 1871, dtype: object
1872 44.56999999999999 4 MP Last Month    11.1425
Name: 1872, dtype: object
1873 0.0 3 MP Last Month    0
Name: 1873, dtype: object
1874 88.57999999999998 4 MP Last Month    22.145
Name: 1874, dtype: object
1875 123.31 4 MP Last Month    30.8275
Name: 1875, dtype: object
1876 131.39000000000001 4 MP Last Month    32.8475
Name: 1876, dtype: object
1877 103.03 4 MP Last Month    25.7575
Name: 1877, dtype: object
1878 97.97 4 MP Last Month    24.4925
Name: 1878, dtype: object
1879 138.43 4 MP Last Month    34.6075
Name: 1879, dtype: object
1880 137.68 4 MP Last Month    34.42
Name: 1880, dtype: object
1881 0.0 1 MP Last Month    0
Name: 1881, dtype: object
1882 0.0 4 MP Last Month    0
Name: 1882, dtype: object
1883 71.1 3 MP Last Month    23.7
Name: 1883, dtype: object
1884 3.88 4 MP Last Month    0.97
Name: 1884, dtype: object
1885 114.28999999999999 4 MP Last Month    28.5725
Name: 1885, dtype: object
1886 76.67 4 MP Last Month    19.1675
Name: 1886, dtype: object
1887 75.67 4 MP Last Month    18.9175
Name: 1887, dtype: object
1888 157.6 5 MP Last Month    31.52
Name: 1888, dtype: object
1889 145.28 5 MP Last Month    29.056
Name: 1889, dtype: object
1890 100.14999999999999 5 MP Last Month    20.03
Name: 1890, dtype: object
1891 14.35 4 MP Last Month    3.5875
Name: 1891, dtype: object
1892 13.969999999999999 5 MP Last Month    2.794
Name: 1892, dtype: object
1893 156.32 5 MP Last Month    31.264
Name: 1893, dtype: object
1894 164.5 5 MP Last Month    32.9
Name: 1894, dtype: object
1895 21.21 5 MP Last Month    4.242
Name: 1895, dtype: object
1896 76.76 5 MP Last Month    15.352
Name: 1896, dtype: object
1897 111.11 5 MP Last Month    22.222
Name: 1897, dtype: object
1898 85.88 5 MP Last Month    17.176
Name: 1898, dtype: object
1899 130.12 5 MP Last Month    26.024
Name: 1899, dtype: object
1900 12.0 3 MP Last Month    4
Name: 1900, dtype: object
1901 140.6 4 MP Last Month    35.15
Name: 1901, dtype: object
1902 7.5600000000000005 4 MP Last Month    1.89
Name: 1902, dtype: object
1903 4.15 3 MP Last Month    1.38333
Name: 1903, dtype: object
1904 128.12 4 MP Last Month    32.03
Name: 1904, dtype: object
1905 39.83 4 MP Last Month    9.9575
Name: 1905, dtype: object
1906 114.16 4 MP Last Month    28.54
Name: 1906, dtype: object
1907 79.99000000000001 4 MP Last Month    19.9975
Name: 1907, dtype: object
1908 5.73 2 MP Last Month    2.865
Name: 1908, dtype: object
1909 123.28 4 MP Last Month    30.82
Name: 1909, dtype: object
1910 8.6 2 MP Last Month    4.3
Name: 1910, dtype: object
1911 1.58 1 MP Last Month    1.58
Name: 1911, dtype: object
1912 9.11 4 MP Last Month    2.2775
Name: 1912, dtype: object
1913 93.38 4 MP Last Month    23.345
Name: 1913, dtype: object

1914 97.27 5 MP Last Month    19.454
Name: 1914, dtype: object
1915 134.34 5 MP Last Month    26.868
Name: 1915, dtype: object
1916 16.240000000000002 5 MP Last Month    3.248
Name: 1916, dtype: object
1917 100.59 4 MP Last Month    25.1475
Name: 1917, dtype: object
1918 162.32 5 MP Last Month    32.464
Name: 1918, dtype: object
1919 116.55999999999999 5 MP Last Month    23.312
Name: 1919, dtype: object
1920 122.04 5 MP Last Month    24.408
Name: 1920, dtype: object
1921 146.39 5 MP Last Month    29.278
Name: 1921, dtype: object
1922 10.07 5 MP Last Month    2.014
Name: 1922, dtype: object
1923 152.13 5 MP Last Month    30.426
Name: 1923, dtype: object
1924 97.07000000000001 5 MP Last Month    19.414
Name: 1924, dtype: object
1925 12.0 5 MP Last Month    2.4
Name: 1925, dtype: object
1926 121.66 4 MP Last Month    30.415
Name: 1926, dtype: object
1927 127.17000000000002 5 MP Last Month    25.434
Name: 1927, dtype: object
1928 89.54000000000002 5 MP Last Month    17.908
Name: 1928, dtype: object
1929 95.46 5 MP Last Month    19.092
Name: 1929, dtype: object
1930 21.77 5 MP Last Month    4.354
Name: 1930, dtype: object
1931 175.72 5 MP Last Month    35.144
Name: 1931, dtype: object
1932 160.0 5 MP Last Month    32
Name: 1932, dtype: object
1933 155.96 5 MP Last Month    31.192
Name: 1933, dtype: object
1934 4.27 5 MP Last Month    0.854
Name: 1934, dtype: object
1935 177.93 5 MP Last Month    35.586
Name: 1935, dtype: object
1936 34.980000000000004 2 MP Last Month    17.49
Name: 1936, dtype: object
1937 60.51 5 MP Last Month    12.102
Name: 1937, dtype: object
1938 117.82000000000001 4 MP Last Month    29.455
Name: 1938, dtype: object
1939 11.2 2 MP Last Month    5.6
Name: 1939, dtype: object
1940 27.630000000000003 3 MP Last Month    9.21
Name: 1940, dtype: object
1941 4.13 2 MP Last Month    2.065
Name: 1941, dtype: object
1942 95.71 4 MP Last Month    23.9275
Name: 1942, dtype: object
1943 135.17000000000002 4 MP Last Month    33.7925
Name: 1943, dtype: object
1944 44.74 4 MP Last Month    11.185
Name: 1944, dtype: object
1945 98.88 4 MP Last Month    24.72
Name: 1945, dtype: object
1946 6.42 4 MP Last Month    1.605
Name: 1946, dtype: object
1947 121.39999999999999 4 MP Last Month    30.35
Name: 1947, dtype: object
1948 86.14 4 MP Last Month    21.535
Name: 1948, dtype: object
1949 57.77 4 MP Last Month    14.4425
Name: 1949, dtype: object
1950 12.83 4 MP Last Month    3.2075
Name: 1950, dtype: object
1951 142.35 4 MP Last Month    35.5875
Name: 1951, dtype: object
1952 70.09 4 MP Last Month    17.5225
Name: 1952, dtype: object
1953 3.03 4 MP Last Month    0.7575
Name: 1953, dtype: object
1954 93.81 4 MP Last Month    23.4525
Name: 1954, dtype: object
1955 78.64 4 MP Last Month    19.66
Name: 1955, dtype: object
1956 77.84 4 MP Last Month    19.46
Name: 1956, dtype: object
1957 46.57 4 MP Last Month    11.6425
Name: 1957, dtype: object
1958 122.08 4 MP Last Month    30.52
Name: 1958, dtype: object
1959 95.32999999999998 4 MP Last Month    23.8325
Name: 1959, dtype: object
1960 3.03 4 MP Last Month    0.7575
Name: 1960, dtype: object
1961 101.74 4 MP Last Month    25.435
Name: 1961, dtype: object
1962 21.78 4 MP Last Month    5.445
Name: 1962, dtype: object
1963 125.36999999999999 4 MP Last Month    31.3425
Name: 1963, dtype: object
1964 107.69 4 MP Last Month    26.9225
Name: 1964, dtype: object
1965 151.03 4 MP Last Month    37.7575
Name: 1965, dtype: object
1966 109.13000000000001 4 MP Last Month    27.2825
Name: 1966, dtype: object
1967 63.650000000000006 4 MP Last Month    15.9125
Name: 1967, dtype: object
1968 82.06 4 MP Last Month    20.515
Name: 1968, dtype: object
1969 8.99 4 MP Last Month    2.2475
Name: 1969, dtype: object
1970 8.99 4 MP Last Month    2.2475
Name: 1970, dtype: object
1971 150.26 4 MP Last Month    37.565
Name: 1971, dtype: object
1972 73.24 4 MP Last Month    18.31
Name: 1972, dtype: object
1973 64.45 4 MP Last Month    16.1125
Name: 1973, dtype: object
1974 33.79 4 MP Last Month    8.4475
Name: 1974, dtype: object
1975 117.1 4 MP Last Month    29.275
Name: 1975, dtype: object
1976 146.98 4 MP Last Month    36.745
Name: 1976, dtype: object
1977 40.27 4 MP Last Month    10.0675
Name: 1977, dtype: object
1978 72.54 4 MP Last Month    18.135
Name: 1978, dtype: object
1979 14.719999999999999 4 MP Last Month    3.68
Name: 1979, dtype: object
1980 45.12 4 MP Last Month    11.28
Name: 1980, dtype: object
1981 139.25 4 MP Last Month    34.8125
Name: 1981, dtype: object
1982 122.46999999999998 4 MP Last Month    30.6175
Name: 1982, dtype: object
1983 22.71 4 MP Last Month    5.6775
Name: 1983, dtype: object
1984 0.0 1 MP Last Month    0
Name: 1984, dtype: object
1985 139.78 4 MP Last Month    34.945
Name: 1985, dtype: object
1986 92.44999999999999 4 MP Last Month    23.1125
Name: 1986, dtype: object
1987 6.6 4 MP Last Month    1.65
Name: 1987, dtype: object
1988 144.47 5 MP Last Month    28.894
Name: 1988, dtype: object
1989 157.07999999999998 5 MP Last Month    31.416
Name: 1989, dtype: object
1990 140.3 5 MP Last Month    28.06
Name: 1990, dtype: object
1991 83.78 4 MP Last Month    20.945
Name: 1991, dtype: object
1992 132.65 5 MP Last Month    26.53
Name: 1992, dtype: object
1993 144.81 5 MP Last Month    28.962
Name: 1993, dtype: object
1994 139.33 5 MP Last Month    27.866
Name: 1994, dtype: object
1995 88.35 5 MP Last Month    17.67
Name: 1995, dtype: object
1996 37.5 2 MP Last Month    18.75
Name: 1996, dtype: object
1997 30.34 2 MP Last Month    15.17
Name: 1997, dtype: object
1998 173.14 5 MP Last Month    34.628
Name: 1998, dtype: object
1999 101.94999999999999 5 MP Last Month    20.39
Name: 1999, dtype: object
2000 28.23 1 MP Last Month    28.23
Name: 2000, dtype: object
2001 106.49 5 MP Last Month    21.298
Name: 2001, dtype: object
2002 149.17 5 MP Last Month    29.834
Name: 2002, dtype: object
2003 14.879999999999999 5 MP Last Month    2.976
Name: 2003, dtype: object
2004 0.9 4 MP Last Month    0.225
Name: 2004, dtype: object
2005 162.89000000000001 5 MP Last Month    32.578
Name: 2005, dtype: object
2006 77.71 5 MP Last Month    15.542
Name: 2006, dtype: object
2007 0.0 5 MP Last Month    0
Name: 2007, dtype: object
2008 210.10999999999999 6 MP Last Month    35.0183
Name: 2008, dtype: object
2009 207.60999999999999 6 MP Last Month    34.6017
Name: 2009, dtype: object
2010 186.99 6 MP Last Month    31.165
Name: 2010, dtype: object
2011 195.60999999999999 6 MP Last Month    32.6017
Name: 2011, dtype: object
2012 51.059999999999995 6 MP Last Month    8.51
Name: 2012, dtype: object
2013 104.27 5 MP Last Month    20.854
Name: 2013, dtype: object
2014 96.02 6 MP Last Month    16.0033
Name: 2014, dtype: object
2015 109.73 6 MP Last Month    18.2883
Name: 2015, dtype: object
2016 50.480000000000004 6 MP Last Month    8.41333
Name: 2016, dtype: object
2017 100.13999999999999 6 MP Last Month    16.69
Name: 2017, dtype: object
2018 130.38 5 MP Last Month    26.076
Name: 2018, dtype: object
2019 134.37 5 MP Last Month    26.874
Name: 2019, dtype: object
2020 111.15 5 MP Last Month    22.23
Name: 2020, dtype: object
2021 17.42 4 MP Last Month    4.355
Name: 2021, dtype: object
2022 4.78 2 MP Last Month    2.39
Name: 2022, dtype: object
2023 4.3 5 MP Last Month    0.86
Name: 2023, dtype: object
2024 176.58 5 MP Last Month    35.316
Name: 2024, dtype: object
2025 149.13 5 MP Last Month    29.826
Name: 2025, dtype: object
2026 48.84 5 MP Last Month    9.768
Name: 2026, dtype: object
2027 44.43 5 MP Last Month    8.886
Name: 2027, dtype: object
2028 104.2 5 MP Last Month    20.84
Name: 2028, dtype: object
2029 84.97 5 MP Last Month    16.994
Name: 2029, dtype: object
2030 67.52 2 MP Last Month    33.76
Name: 2030, dtype: object
2031 120.21 4 MP Last Month    30.0525
Name: 2031, dtype: object
2032 7.8 4 MP Last Month    1.95
Name: 2032, dtype: object
2033 31.9 4 MP Last Month    7.975
Name: 2033, dtype: object
2034 144.08 4 MP Last Month    36.02
Name: 2034, dtype: object
2035 115.13 4 MP Last Month    28.7825
Name: 2035, dtype: object
2036 76.66999999999999 4 MP Last Month    19.1675
Name: 2036, dtype: object
2037 79.45 4 MP Last Month    19.8625
Name: 2037, dtype: object
2038 0.0 2 MP Last Month    0
Name: 2038, dtype: object

2039 55.55 4 MP Last Month    13.8875
Name: 2039, dtype: object
2040 68.3 4 MP Last Month    17.075
Name: 2040, dtype: object
2041 29.25 3 MP Last Month    9.75
Name: 2041, dtype: object
2042 8.649999999999999 3 MP Last Month    2.88333
Name: 2042, dtype: object
2043 40.900000000000006 4 MP Last Month    10.225
Name: 2043, dtype: object
2044 147.77 5 MP Last Month    29.554
Name: 2044, dtype: object
2045 117.3 5 MP Last Month    23.46
Name: 2045, dtype: object
2046 169.07000000000002 5 MP Last Month    33.814
Name: 2046, dtype: object
2047 69.02000000000001 5 MP Last Month    13.804
Name: 2047, dtype: object
2048 119.49 5 MP Last Month    23.898
Name: 2048, dtype: object
2049 10.55 5 MP Last Month    2.11
Name: 2049, dtype: object
2050 154.18 5 MP Last Month    30.836
Name: 2050, dtype: object
2051 107.84 5 MP Last Month    21.568
Name: 2051, dtype: object
2052 68.47 5 MP Last Month    13.694
Name: 2052, dtype: object
2053 17.35 5 MP Last Month    3.47
Name: 2053, dtype: object
2054 179.56 5 MP Last Month    35.912
Name: 2054, dtype: object
2055 146.65 5 MP Last Month    29.33
Name: 2055, dtype: object
2056 90.51 5 MP Last Month    18.102
Name: 2056, dtype: object
2057 20.049999999999997 5 MP Last Month    4.01
Name: 2057, dtype: object
2058 55.120000000000005 5 MP Last Month    11.024
Name: 2058, dtype: object
2059 167.72 5 MP Last Month    33.544
Name: 2059, dtype: object
2060 150.61999999999998 5 MP Last Month    30.124
Name: 2060, dtype: object
2061 34.16 5 MP Last Month    6.832
Name: 2061, dtype: object
2062 60.839999999999996 5 MP Last Month    12.168
Name: 2062, dtype: object
2063 0.0 2 MP Last Month    0
Name: 2063, dtype: object
2064 171.26 5 MP Last Month    34.252
Name: 2064, dtype: object
2065 12.45 5 MP Last Month    2.49
Name: 2065, dtype: object
2066 175.32 5 MP Last Month    35.064
Name: 2066, dtype: object
2067 163.93 5 MP Last Month    32.786
Name: 2067, dtype: object
2068 123.35 5 MP Last Month    24.67
Name: 2068, dtype: object
2069 69.85 5 MP Last Month    13.97
Name: 2069, dtype: object
2070 12.73 5 MP Last Month    2.546
Name: 2070, dtype: object
2071 132.19 5 MP Last Month    26.438
Name: 2071, dtype: object
2072 147.29000000000002 5 MP Last Month    29.458
Name: 2072, dtype: object
2073 137.09 5 MP Last Month    27.418
Name: 2073, dtype: object
2074 140.73 5 MP Last Month    28.146
Name: 2074, dtype: object
2075 51.93 5 MP Last Month    10.386
Name: 2075, dtype: object
2076 9.33 5 MP Last Month    1.866
Name: 2076, dtype: object
2077 54.519999999999996 5 MP Last Month    10.904
Name: 2077, dtype: object
2078 159.89000000000001 5 MP Last Month    31.978
Name: 2078, dtype: object
2079 105.39 5 MP Last Month    21.078
Name: 2079, dtype: object
2080 69.52 5 MP Last Month    13.904
Name: 2080, dtype: object
2081 5.16 4 MP Last Month    1.29
Name: 2081, dtype: object
2082 26.68 5 MP Last Month    5.336
Name: 2082, dtype: object
2083 149.04 5 MP Last Month    29.808
Name: 2083, dtype: object
2084 77.38 5 MP Last Month    15.476
Name: 2084, dtype: object
2085 62.4 4 MP Last Month    15.6
Name: 2085, dtype: object
2086 40.7 2 MP Last Month    20.35
Name: 2086, dtype: object
2087 28.29 5 MP Last Month    5.658
Name: 2087, dtype: object
2088 124.67000000000002 5 MP Last Month    24.934
Name: 2088, dtype: object
2089 162.83 6 MP Last Month    27.1383
Name: 2089, dtype: object
2090 173.97 6 MP Last Month    28.995
Name: 2090, dtype: object
2091 44.34 3 MP Last Month    14.78
Name: 2091, dtype: object
2092 174.48000000000002 6 MP Last Month    29.08
Name: 2092, dtype: object
2093 187.25 6 MP Last Month    31.2083
Name: 2093, dtype: object
2094 111.5 5 MP Last Month    22.3
Name: 2094, dtype: object
2095 154.58 6 MP Last Month    25.7633
Name: 2095, dtype: object
2096 10.379999999999999 5 MP Last Month    2.076
Name: 2096, dtype: object
2097 54.68 3 MP Last Month    18.2267
Name: 2097, dtype: object
2098 169.15 6 MP Last Month    28.1917
Name: 2098, dtype: object
2099 105.83 6 MP Last Month    17.6383
Name: 2099, dtype: object
2100 10.629999999999999 4 MP Last Month    2.6575
Name: 2100, dtype: object
2101 203.15999999999997 6 MP Last Month    33.86
Name: 2101, dtype: object
2102 102.73 6 MP Last Month    17.1217
Name: 2102, dtype: object
2103 18.21 4 MP Last Month    4.5525
Name: 2103, dtype: object
2104 139.37 6 MP Last Month    23.2283
Name: 2104, dtype: object
2105 120.72999999999999 6 MP Last Month    20.1217
Name: 2105, dtype: object
2106 163.38 6 MP Last Month    27.23
Name: 2106, dtype: object
2107 205.94 6 MP Last Month    34.3233
Name: 2107, dtype: object
2108 79.27 6 MP Last Month    13.2117
Name: 2108, dtype: object
2109 71.67999999999999 5 MP Last Month    14.336
Name: 2109, dtype: object
2110 52.5 6 MP Last Month    8.75
Name: 2110, dtype: object
2111 114.19999999999999 6 MP Last Month    19.0333
Name: 2111, dtype: object
2112 210.01999999999998 6 MP Last Month    35.0033
Name: 2112, dtype: object
2113 62.650000000000006 2 MP Last Month    31.325
Name: 2113, dtype: object
2114 160.14999999999998 6 MP Last Month    26.6917
Name: 2114, dtype: object
2115 119.71 6 MP Last Month    19.9517
Name: 2115, dtype: object
2116 15.229999999999999 6 MP Last Month    2.53833
Name: 2116, dtype: object
2117 199.49 6 MP Last Month    33.2483
Name: 2117, dtype: object
2118 89.08999999999999 6 MP Last Month    14.8483
Name: 2118, dtype: object
2119 0.0 6 MP Last Month    0
Name: 2119, dtype: object
2120 167.23 5 MP Last Month    33.446
Name: 2120, dtype: object
2121 147.70000000000002 5 MP Last Month    29.54
Name: 2121, dtype: object
2122 60.56 5 MP Last Month    12.112
Name: 2122, dtype: object
2123 107.59 5 MP Last Month    21.518
Name: 2123, dtype: object
2124 101.11 5 MP Last Month    20.222
Name: 2124, dtype: object
2125 90.99000000000001 5 MP Last Month    18.198
Name: 2125, dtype: object
2126 86.71000000000001 5 MP Last Month    17.342
Name: 2126, dtype: object
2127 2.75 3 MP Last Month    0.916667
Name: 2127, dtype: object
2128 4.32 5 MP Last Month    0.864
Name: 2128, dtype: object
2129 152.76 5 MP Last Month    30.552
Name: 2129, dtype: object
2130 139.23 5 MP Last Month    27.846
Name: 2130, dtype: object
2131 78.39 5 MP Last Month    15.678
Name: 2131, dtype: object
2132 231.19 7 MP Last Month    33.0271
Name: 2132, dtype: object
2133 243.88 7 MP Last Month    34.84
Name: 2133, dtype: object
2134 54.9 6 MP Last Month    9.15
Name: 2134, dtype: object
2135 67.94 7 MP Last Month    9.70571
Name: 2135, dtype: object
2136 249.23999999999998 7 MP Last Month    35.6057
Name: 2136, dtype: object
2137 111.36999999999999 7 MP Last Month    15.91
Name: 2137, dtype: object
2138 124.14 6 MP Last Month    20.69
Name: 2138, dtype: object
2139 223.31 7 MP Last Month    31.9014
Name: 2139, dtype: object
2140 112.55999999999999 7 MP Last Month    16.08
Name: 2140, dtype: object
2141 60.63 7 MP Last Month    8.66143
Name: 2141, dtype: object
2142 121.31 7 MP Last Month    17.33
Name: 2142, dtype: object
2143 194.06 6 MP Last Month    32.3433
Name: 2143, dtype: object
2144 147.33 6 MP Last Month    24.555
Name: 2144, dtype: object
2145 150.51 6 MP Last Month    25.085
Name: 2145, dtype: object
2146 19.82 6 MP Last Month    3.30333
Name: 2146, dtype: object
2147 16.1 6 MP Last Month    2.68333
Name: 2147, dtype: object
2148 177.9 6 MP Last Month    29.65
Name: 2148, dtype: object
2149 173.14000000000001 6 MP Last Month    28.8567
Name: 2149, dtype: object
2150 106.02000000000001 5 MP Last Month    21.204
Name: 2150, dtype: object
2151 117.23999999999998 6 MP Last Month    19.54
Name: 2151, dtype: object
2152 155.5 6 MP Last Month    25.9167
Name: 2152, dtype: object
2153 110.77 5 MP Last Month    22.154
Name: 2153, dtype: object
2154 40.370000000000005 6 MP Last Month    6.72833
Name: 2154, dtype: object
2155 56.43 2 MP Last Month    28.215
Name: 2155, dtype: object
2156 90.48 3 MP Last Month    30.16
Name: 2156, dtype: object
2157 129.22 6 MP Last Month    21.5367
Name: 2157, dtype: object
2158 191.03 6 MP Last Month    31.8383
Name: 2158, dtype: object
2159 167.01 6 MP Last Month    27.835
Name: 2159, dtype: object
2160 216.11 6 MP Last Month    36.0183
Name: 2160, dtype: object
2161 193.9 6 MP Last Month    32.3167
Name: 2161, dtype: object

2162 135.29 6 MP Last Month    22.5483
Name: 2162, dtype: object
2163 53.03999999999999 6 MP Last Month    8.84
Name: 2163, dtype: object
2164 151.38 6 MP Last Month    25.23
Name: 2164, dtype: object
2165 63.62 4 MP Last Month    15.905
Name: 2165, dtype: object
2166 7.05 6 MP Last Month    1.175
Name: 2166, dtype: object
2167 166.57000000000002 5 MP Last Month    33.314
Name: 2167, dtype: object
2168 116.57 5 MP Last Month    23.314
Name: 2168, dtype: object
2169 123.85 5 MP Last Month    24.77
Name: 2169, dtype: object
2170 173.93 5 MP Last Month    34.786
Name: 2170, dtype: object
2171 171.58 5 MP Last Month    34.316
Name: 2171, dtype: object
2172 19.2 2 MP Last Month    9.6
Name: 2172, dtype: object
2173 0.0 5 MP Last Month    0
Name: 2173, dtype: object
2174 71.1 4 MP Last Month    17.775
Name: 2174, dtype: object
2175 3.88 5 MP Last Month    0.776
Name: 2175, dtype: object
2176 148.70999999999998 5 MP Last Month    29.742
Name: 2176, dtype: object
2177 89.25 5 MP Last Month    17.85
Name: 2177, dtype: object
2178 105.47 5 MP Last Month    21.094
Name: 2178, dtype: object
2179 168.2 6 MP Last Month    28.0333
Name: 2179, dtype: object
2180 187.4 6 MP Last Month    31.2333
Name: 2180, dtype: object
2181 118.07999999999998 6 MP Last Month    19.68
Name: 2181, dtype: object
2182 20.4 5 MP Last Month    4.08
Name: 2182, dtype: object
2183 183.0 6 MP Last Month    30.5
Name: 2183, dtype: object
2184 100.08000000000001 6 MP Last Month    16.68
Name: 2184, dtype: object
2185 40.41 6 MP Last Month    6.735
Name: 2185, dtype: object
2186 21.52 6 MP Last Month    3.58667
Name: 2186, dtype: object
2187 136.73 6 MP Last Month    22.7883
Name: 2187, dtype: object
2188 18.05 4 MP Last Month    4.5125
Name: 2188, dtype: object
2189 150.87 6 MP Last Month    25.145
Name: 2189, dtype: object
2190 100.61 6 MP Last Month    16.7683
Name: 2190, dtype: object
2191 10.75 3 MP Last Month    3.58333
Name: 2191, dtype: object
2192 108.96000000000001 6 MP Last Month    18.16
Name: 2192, dtype: object
2193 169.62 6 MP Last Month    28.27
Name: 2193, dtype: object
2194 179.72 6 MP Last Month    29.9533
Name: 2194, dtype: object
2195 110.63 6 MP Last Month    18.4383
Name: 2195, dtype: object
2196 165.66 5 MP Last Month    33.132
Name: 2196, dtype: object
2197 158.22 6 MP Last Month    26.37
Name: 2197, dtype: object
2198 123.87 6 MP Last Month    20.645
Name: 2198, dtype: object
2199 3.87 6 MP Last Month    0.645
Name: 2199, dtype: object
2200 5.7 6 MP Last Month    0.95
Name: 2200, dtype: object
2201 12.0 6 MP Last Month    2
Name: 2201, dtype: object
2202 11.67 3 MP Last Month    3.89
Name: 2202, dtype: object
2203 185.86 6 MP Last Month    30.9767
Name: 2203, dtype: object
2204 94.86999999999999 6 MP Last Month    15.8117
Name: 2204, dtype: object
2205 170.0 5 MP Last Month    34
Name: 2205, dtype: object
2206 17.48 4 MP Last Month    4.37
Name: 2206, dtype: object
2207 30.240000000000002 5 MP Last Month    6.048
Name: 2207, dtype: object
2208 53.08 5 MP Last Month    10.616
Name: 2208, dtype: object
2209 142.48 5 MP Last Month    28.496
Name: 2209, dtype: object
2210 147.78 5 MP Last Month    29.556
Name: 2210, dtype: object
2211 100.12 5 MP Last Month    20.024
Name: 2211, dtype: object
2212 14.56 2 MP Last Month    7.28
Name: 2212, dtype: object
2213 24.58 3 MP Last Month    8.19333
Name: 2213, dtype: object
2214 111.91 5 MP Last Month    22.382
Name: 2214, dtype: object
2215 16.48 3 MP Last Month    5.49333
Name: 2215, dtype: object
2216 23.46 5 MP Last Month    4.692
Name: 2216, dtype: object
2217 143.67000000000002 4 MP Last Month    35.9175
Name: 2217, dtype: object
2218 175.07999999999998 6 MP Last Month    29.18
Name: 2218, dtype: object
2219 142.19 6 MP Last Month    23.6983
Name: 2219, dtype: object
2220 76.84 6 MP Last Month    12.8067
Name: 2220, dtype: object
2221 0 0 MP Last Month    0
Name: 2221, dtype: object
2222 122.12 6 MP Last Month    20.3533
Name: 2222, dtype: object
2223 112.07999999999998 6 MP Last Month    18.68
Name: 2223, dtype: object
2224 117.86999999999999 6 MP Last Month    19.645
Name: 2224, dtype: object
2225 111.15 6 MP Last Month    18.525
Name: 2225, dtype: object
2226 164.68999999999997 6 MP Last Month    27.4483
Name: 2226, dtype: object
2227 107.78999999999999 6 MP Last Month    17.965
Name: 2227, dtype: object
2228 52.14 6 MP Last Month    8.69
Name: 2228, dtype: object
2229 8.3 5 MP Last Month    1.66
Name: 2229, dtype: object
2230 153.84 5 MP Last Month    30.768
Name: 2230, dtype: object
2231 152.3 6 MP Last Month    25.3833
Name: 2231, dtype: object
2232 104.69 6 MP Last Month    17.4483
Name: 2232, dtype: object
2233 103.91000000000003 6 MP Last Month    17.3183
Name: 2233, dtype: object
2234 188.26 6 MP Last Month    31.3767
Name: 2234, dtype: object
2235 211.76999999999998 6 MP Last Month    35.295
Name: 2235, dtype: object
2236 190.55 6 MP Last Month    31.7583
Name: 2236, dtype: object
2237 4.27 6 MP Last Month    0.711667
Name: 2237, dtype: object
2238 21.77 6 MP Last Month    3.62833
Name: 2238, dtype: object
2239 214.70000000000002 6 MP Last Month    35.7833
Name: 2239, dtype: object
2240 52.18000000000001 3 MP Last Month    17.3933
Name: 2240, dtype: object
2241 66.73 6 MP Last Month    11.1217
Name: 2241, dtype: object
2242 179.22 5 MP Last Month    35.844
Name: 2242, dtype: object
2243 89.49000000000001 5 MP Last Month    17.898
Name: 2243, dtype: object
2244 0 0 MP Last Month    0
Name: 2244, dtype: object
2245 3.03 5 MP Last Month    0.606
Name: 2245, dtype: object
2246 119.01 5 MP Last Month    23.802
Name: 2246, dtype: object
2247 3.03 5 MP Last Month    0.606
Name: 2247, dtype: object
2248 142.98 5 MP Last Month    28.596
Name: 2248, dtype: object
2249 108.69999999999999 5 MP Last Month    21.74
Name: 2249, dtype: object
2250 59.32 5 MP Last Month    11.864
Name: 2250, dtype: object
2251 102.44 5 MP Last Month    20.488
Name: 2251, dtype: object
2252 125.86 5 MP Last Month    25.172
Name: 2252, dtype: object
2253 39.18 5 MP Last Month    7.836
Name: 2253, dtype: object
2254 194.5 6 MP Last Month    32.4167
Name: 2254, dtype: object
2255 113.8 6 MP Last Month    18.9667
Name: 2255, dtype: object
2256 182.54000000000002 6 MP Last Month    30.4233
Name: 2256, dtype: object
2257 157.52 6 MP Last Month    26.2533
Name: 2257, dtype: object
2258 105.57 5 MP Last Month    21.114
Name: 2258, dtype: object
2259 172.62 6 MP Last Month    28.77
Name: 2259, dtype: object
2260 18.009999999999998 6 MP Last Month    3.00167
Name: 2260, dtype: object
2261 11.83 2 MP Last Month    5.915
Name: 2261, dtype: object
2262 178.15 6 MP Last Month    29.6917
Name: 2262, dtype: object
2263 146.07 6 MP Last Month    24.345
Name: 2263, dtype: object
2264 0 0 MP Last Month    0
Name: 2264, dtype: object
2265 69.77 6 MP Last Month    11.6283
Name: 2265, dtype: object
2266 132.97 5 MP Last Month    26.594
Name: 2266, dtype: object
2267 156.04 5 MP Last Month    31.208
Name: 2267, dtype: object
2268 190.43 5 MP Last Month    38.086
Name: 2268, dtype: object
2269 141.78 5 MP Last Month    28.356
Name: 2269, dtype: object
2270 104.91 5 MP Last Month    20.982
Name: 2270, dtype: object
2271 89.68 5 MP Last Month    17.936
Name: 2271, dtype: object
2272 8.99 5 MP Last Month    1.798
Name: 2272, dtype: object
2273 183.23999999999998 5 MP Last Month    36.648
Name: 2273, dtype: object
2274 90.27 5 MP Last Month    18.054
Name: 2274, dtype: object
2275 77.5 5 MP Last Month    15.5
Name: 2275, dtype: object
2276 8.99 5 MP Last Month    1.798
Name: 2276, dtype: object
2277 33.79 5 MP Last Month    6.758
Name: 2277, dtype: object
2278 207.20000000000002 6 MP Last Month    34.5333
Name: 2278, dtype: object
2279 41.129999999999995 6 MP Last Month    6.855
Name: 2279, dtype: object
2280 5.23 1 MP Last Month    5.23
Name: 2280, dtype: object
2281 12.32 6 MP Last Month    2.05333
Name: 2281, dtype: object
2282 0.0 1 MP Last Month    0
Name: 2282, dtype: object
2283 140.89 6 MP Last Month    23.4817
Name: 2283, dtype: object
2284 184.3 6 MP Last Month    30.7167
Name: 2284, dtype: object
2285 94.11999999999999 6 MP Last Month    15.6867
Name: 2285, dtype: object
2286 75.32 6 MP Last Month    12.5533
Name: 2286, dtype: object
2287 166.54999999999998 6 MP Last Month    27.7583
Name: 2287, dtype: object

2288 115.46 6 MP Last Month    19.2433
Name: 2288, dtype: object
2289 0 0 MP Last Month    0
Name: 2289, dtype: object
2290 3.88 6 MP Last Month    0.646667
Name: 2290, dtype: object
2291 189.11 6 MP Last Month    31.5183
Name: 2291, dtype: object
2292 78.84 6 MP Last Month    13.14
Name: 2292, dtype: object
2293 125.67 6 MP Last Month    20.945
Name: 2293, dtype: object
2294 94.72999999999999 6 MP Last Month    15.7883
Name: 2294, dtype: object
2295 32.38 6 MP Last Month    5.39667
Name: 2295, dtype: object
2296 10.26 5 MP Last Month    2.052
Name: 2296, dtype: object
2297 181.58999999999997 6 MP Last Month    30.265
Name: 2297, dtype: object
2298 85.65 5 MP Last Month    17.13
Name: 2298, dtype: object
2299 139.17000000000002 6 MP Last Month    23.195
Name: 2299, dtype: object
2300 63.800000000000004 3 MP Last Month    21.2667
Name: 2300, dtype: object
2301 38.06 6 MP Last Month    6.34333
Name: 2301, dtype: object
2302 188.05 6 MP Last Month    31.3417
Name: 2302, dtype: object
2303 138.95 6 MP Last Month    23.1583
Name: 2303, dtype: object
2304 140.42 6 MP Last Month    23.4033
Name: 2304, dtype: object
2305 6.07 6 MP Last Month    1.01167
Name: 2305, dtype: object
2306 146.71 6 MP Last Month    24.4517
Name: 2306, dtype: object
2307 171.32999999999998 6 MP Last Month    28.555
Name: 2307, dtype: object
2308 198.06 6 MP Last Month    33.01
Name: 2308, dtype: object
2309 121.19000000000003 5 MP Last Month    24.238
Name: 2309, dtype: object
2310 15.0 6 MP Last Month    2.5
Name: 2310, dtype: object
2311 24.33 6 MP Last Month    4.055
Name: 2311, dtype: object
2312 171.67999999999998 6 MP Last Month    28.6133
Name: 2312, dtype: object
2313 45.449999999999996 3 MP Last Month    15.15
Name: 2313, dtype: object
2314 11.48 4 MP Last Month    2.87
Name: 2314, dtype: object
2315 96.3 6 MP Last Month    16.05
Name: 2315, dtype: object
2316 235.70999999999998 7 MP Last Month    33.6729
Name: 2316, dtype: object
2317 167.43 7 MP Last Month    23.9186
Name: 2317, dtype: object
2318 19.95 4 MP Last Month    4.9875
Name: 2318, dtype: object
2319 238.73000000000002 7 MP Last Month    34.1043
Name: 2319, dtype: object
2320 147.21 7 MP Last Month    21.03
Name: 2320, dtype: object
2321 177.70999999999998 7 MP Last Month    25.3871
Name: 2321, dtype: object
2322 170.84 7 MP Last Month    24.4057
Name: 2322, dtype: object
2323 116.30999999999999 7 MP Last Month    16.6157
Name: 2323, dtype: object
2324 151.01 7 MP Last Month    21.5729
Name: 2324, dtype: object
2325 44.650000000000006 6 MP Last Month    7.44167
Name: 2325, dtype: object
2326 17.17 7 MP Last Month    2.45286
Name: 2326, dtype: object
2327 140.94 6 MP Last Month    23.49
Name: 2327, dtype: object
2328 159.99 6 MP Last Month    26.665
Name: 2328, dtype: object
2329 132.7 6 MP Last Month    22.1167
Name: 2329, dtype: object
2330 48.040000000000006 5 MP Last Month    9.608
Name: 2330, dtype: object
2331 163.53 6 MP Last Month    27.255
Name: 2331, dtype: object
2332 67.56 6 MP Last Month    11.26
Name: 2332, dtype: object
2333 193.2 6 MP Last Month    32.2
Name: 2333, dtype: object
2334 75.84 6 MP Last Month    12.64
Name: 2334, dtype: object
2335 20.0 5 MP Last Month    4
Name: 2335, dtype: object
2336 156.43999999999997 6 MP Last Month    26.0733
Name: 2336, dtype: object
2337 87.92000000000002 4 MP Last Month    21.98
Name: 2337, dtype: object
2338 36.17 6 MP Last Month    6.02833
Name: 2338, dtype: object
2339 21.2 4 MP Last Month    5.3
Name: 2339, dtype: object
2340 32.37 5 MP Last Month    6.474
Name: 2340, dtype: object
2341 151.04 5 MP Last Month    30.208
Name: 2341, dtype: object
2342 14.4 5 MP Last Month    2.88
Name: 2342, dtype: object
2343 128.02 5 MP Last Month    25.604
Name: 2343, dtype: object
2344 129.45 5 MP Last Month    25.89
Name: 2344, dtype: object
2345 100.97999999999999 5 MP Last Month    20.196
Name: 2345, dtype: object
2346 7.52 3 MP Last Month    2.50667
Name: 2346, dtype: object
2347 179.15 5 MP Last Month    35.83
Name: 2347, dtype: object
2348 157.36 5 MP Last Month    31.472
Name: 2348, dtype: object
2349 77.68 5 MP Last Month    15.536
Name: 2349, dtype: object
2350 6.42 4 MP Last Month    1.605
Name: 2350, dtype: object
2351 96.39 3 MP Last Month    32.13
Name: 2351, dtype: object
2352 76.35 5 MP Last Month    15.27
Name: 2352, dtype: object
2353 180.06 5 MP Last Month    36.012
Name: 2353, dtype: object
2354 166.81 5 MP Last Month    33.362
Name: 2354, dtype: object
2355 18.32 5 MP Last Month    3.664
Name: 2355, dtype: object
2356 156.0 5 MP Last Month    31.2
Name: 2356, dtype: object
2357 100.46 5 MP Last Month    20.092
Name: 2357, dtype: object
2358 26.85 5 MP Last Month    5.37
Name: 2358, dtype: object
2359 165.13000000000002 5 MP Last Month    33.026
Name: 2359, dtype: object
2360 0 0 MP Last Month    0
Name: 2360, dtype: object
2361 0 0 MP Last Month    0
Name: 2361, dtype: object
2362 136.57 6 MP Last Month    22.7617
Name: 2362, dtype: object
2363 157.54000000000002 6 MP Last Month    26.2567
Name: 2363, dtype: object
2364 158.75 6 MP Last Month    26.4583
Name: 2364, dtype: object
2365 27.94 5 MP Last Month    5.588
Name: 2365, dtype: object
2366 11.83 3 MP Last Month    3.94333
Name: 2366, dtype: object
2367 11.35 6 MP Last Month    1.89167
Name: 2367, dtype: object
2368 175.18 6 MP Last Month    29.1967
Name: 2368, dtype: object
2369 206.18 6 MP Last Month    34.3633
Name: 2369, dtype: object
2370 67.89 6 MP Last Month    11.315
Name: 2370, dtype: object
2371 120.68 6 MP Last Month    20.1133
Name: 2371, dtype: object
2372 56.26 6 MP Last Month    9.37667
Name: 2372, dtype: object
2373 104.65 6 MP Last Month    17.4417
Name: 2373, dtype: object
2374 153.26 5 MP Last Month    30.652
Name: 2374, dtype: object
2375 117.93999999999998 5 MP Last Month    23.588
Name: 2375, dtype: object
2376 85.11 5 MP Last Month    17.022
Name: 2376, dtype: object
2377 85.73 5 MP Last Month    17.146
Name: 2377, dtype: object
2378 0 0 MP Last Month    0
Name: 2378, dtype: object
2379 4.52 4 MP Last Month    1.13
Name: 2379, dtype: object
2380 58.17999999999999 5 MP Last Month    11.636
Name: 2380, dtype: object
2381 146.72 5 MP Last Month    29.344
Name: 2381, dtype: object
2382 109.55999999999999 5 MP Last Month    21.912
Name: 2382, dtype: object
2383 58.61999999999999 5 MP Last Month    11.724
Name: 2383, dtype: object
2384 11.17 4 MP Last Month    2.7925
Name: 2384, dtype: object
2385 125.47000000000001 5 MP Last Month    25.094
Name: 2385, dtype: object
2386 153.86 5 MP Last Month    30.772
Name: 2386, dtype: object
2387 151.2 6 MP Last Month    25.2
Name: 2387, dtype: object
2388 141.54999999999998 6 MP Last Month    23.5917
Name: 2388, dtype: object
2389 197.67000000000002 6 MP Last Month    32.945
Name: 2389, dtype: object
2390 210.5 6 MP Last Month    35.0833
Name: 2390, dtype: object
2391 203.95000000000002 6 MP Last Month    33.9917
Name: 2391, dtype: object
2392 43.08 3 MP Last Month    14.36
Name: 2392, dtype: object
2393 71.1 5 MP Last Month    14.22
Name: 2393, dtype: object
2394 0.0 6 MP Last Month    0
Name: 2394, dtype: object
2395 3.88 6 MP Last Month    0.646667
Name: 2395, dtype: object
2396 177.73 6 MP Last Month    29.6217
Name: 2396, dtype: object
2397 121.22 6 MP Last Month    20.2033
Name: 2397, dtype: object
2398 108.23 6 MP Last Month    18.0383
Name: 2398, dtype: object
2399 98.39 3 MP Last Month    32.7967
Name: 2399, dtype: object
2400 147.07999999999998 5 MP Last Month    29.416
Name: 2400, dtype: object
2401 57.8 4 MP Last Month    14.45
Name: 2401, dtype: object
2402 31.9 5 MP Last Month    6.38
Name: 2402, dtype: object
2403 174.43 5 MP Last Month    34.886
Name: 2403, dtype: object
2404 152.23 5 MP Last Month    30.446
Name: 2404, dtype: object
2405 103.78 5 MP Last Month    20.756
Name: 2405, dtype: object
2406 103.93999999999998 5 MP Last Month    20.788
Name: 2406, dtype: object
2407 1.95 3 MP Last Month    0.65
Name: 2407, dtype: object
2408 135.57999999999998 4 MP Last Month    33.895
Name: 2408, dtype: object
2409 98.03 5 MP Last Month    19.606
Name: 2409, dtype: object
2410 81.38 5 MP Last Month    16.276
Name: 2410, dtype: object
2411 155.94 6 MP Last Month    25.99
Name: 2411, dtype: object
2412 123.66999999999999 6 MP Last Month    20.6117
Name: 2412, dtype: object

2413 23.060000000000002 6 MP Last Month    3.84333
Name: 2413, dtype: object
2414 193.07 6 MP Last Month    32.1783
Name: 2414, dtype: object
2415 139.57 6 MP Last Month    23.2617
Name: 2415, dtype: object
2416 118.07000000000001 5 MP Last Month    23.614
Name: 2416, dtype: object
2417 138.92999999999998 6 MP Last Month    23.155
Name: 2417, dtype: object
2418 173.33999999999997 6 MP Last Month    28.89
Name: 2418, dtype: object
2419 16.89 6 MP Last Month    2.815
Name: 2419, dtype: object
2420 173.6 6 MP Last Month    28.9333
Name: 2420, dtype: object
2421 119.94000000000001 6 MP Last Month    19.99
Name: 2421, dtype: object
2422 18.82 6 MP Last Month    3.13667
Name: 2422, dtype: object
2423 180.74 6 MP Last Month    30.1233
Name: 2423, dtype: object
2424 177.73000000000002 7 MP Last Month    25.39
Name: 2424, dtype: object
2425 129.39 7 MP Last Month    18.4843
Name: 2425, dtype: object
2426 109.94000000000003 7 MP Last Month    15.7057
Name: 2426, dtype: object
2427 26.35 7 MP Last Month    3.76429
Name: 2427, dtype: object
2428 242.84999999999997 7 MP Last Month    34.6929
Name: 2428, dtype: object
2429 213.53 7 MP Last Month    30.5043
Name: 2429, dtype: object
2430 216.68 7 MP Last Month    30.9543
Name: 2430, dtype: object
2431 11.07 7 MP Last Month    1.58143
Name: 2431, dtype: object
2432 244.28000000000003 7 MP Last Month    34.8971
Name: 2432, dtype: object
2433 71.05000000000001 4 MP Last Month    17.7625
Name: 2433, dtype: object
2434 81.35000000000001 7 MP Last Month    11.6214
Name: 2434, dtype: object
2435 212.04 6 MP Last Month    35.34
Name: 2435, dtype: object
2436 106.84 6 MP Last Month    17.8067
Name: 2436, dtype: object
2437 0.0 1 MP Last Month    0
Name: 2437, dtype: object
2438 3.03 6 MP Last Month    0.505
Name: 2438, dtype: object
2439 129.37 6 MP Last Month    21.5617
Name: 2439, dtype: object
2440 144.74 6 MP Last Month    24.1233
Name: 2440, dtype: object
2441 21.630000000000003 6 MP Last Month    3.605
Name: 2441, dtype: object
2442 132.85 6 MP Last Month    22.1417
Name: 2442, dtype: object
2443 171.7 6 MP Last Month    28.6167
Name: 2443, dtype: object
2444 71.45 6 MP Last Month    11.9083
Name: 2444, dtype: object
2445 143.66 6 MP Last Month    23.9433
Name: 2445, dtype: object
2446 42.45 6 MP Last Month    7.075
Name: 2446, dtype: object
2447 228.53 7 MP Last Month    32.6471
Name: 2447, dtype: object
2448 11.83 3 MP Last Month    3.94333
Name: 2448, dtype: object
2449 122.67 7 MP Last Month    17.5243
Name: 2449, dtype: object
2450 218.04000000000002 7 MP Last Month    31.1486
Name: 2450, dtype: object
2451 190.04000000000002 7 MP Last Month    27.1486
Name: 2451, dtype: object
2452 163.01999999999998 7 MP Last Month    23.2886
Name: 2452, dtype: object
2453 194.54000000000002 7 MP Last Month    27.7914
Name: 2453, dtype: object
2454 18.009999999999998 7 MP Last Month    2.57286
Name: 2454, dtype: object
2455 69.77 7 MP Last Month    9.96714
Name: 2455, dtype: object
2456 211.95 7 MP Last Month    30.2786
Name: 2456, dtype: object
2457 11.98 1 MP Last Month    11.98
Name: 2457, dtype: object
2458 15.05 6 MP Last Month    2.50833
Name: 2458, dtype: object
2459 241.35000000000002 7 MP Last Month    34.4786
Name: 2459, dtype: object
2460 18.380000000000003 2 MP Last Month    9.19
Name: 2460, dtype: object
2461 60.25 7 MP Last Month    8.60714
Name: 2461, dtype: object
2462 25.490000000000002 7 MP Last Month    3.64143
Name: 2462, dtype: object
2463 174.22 5 MP Last Month    34.844
Name: 2463, dtype: object
2464 174.20999999999998 7 MP Last Month    24.8871
Name: 2464, dtype: object
2465 214.0 7 MP Last Month    30.5714
Name: 2465, dtype: object
2466 94.8 7 MP Last Month    13.5429
Name: 2466, dtype: object
2467 121.24 7 MP Last Month    17.32
Name: 2467, dtype: object
2468 195.04999999999998 7 MP Last Month    27.8643
Name: 2468, dtype: object
2469 128.38 7 MP Last Month    18.34
Name: 2469, dtype: object
2470 8.7 7 MP Last Month    1.24286
Name: 2470, dtype: object
2471 202.94 6 MP Last Month    33.8233
Name: 2471, dtype: object
2472 192.88 6 MP Last Month    32.1467
Name: 2472, dtype: object
2473 145.45 6 MP Last Month    24.2417
Name: 2473, dtype: object
2474 85.61999999999999 6 MP Last Month    14.27
Name: 2474, dtype: object
2475 20.61 6 MP Last Month    3.435
Name: 2475, dtype: object
2476 177.76000000000002 6 MP Last Month    29.6267
Name: 2476, dtype: object
2477 162.79 6 MP Last Month    27.1317
Name: 2477, dtype: object
2478 153.66 6 MP Last Month    25.61
Name: 2478, dtype: object
2479 54.519999999999996 6 MP Last Month    9.08667
Name: 2479, dtype: object
2480 80.81 6 MP Last Month    13.4683
Name: 2480, dtype: object
2481 19.98 6 MP Last Month    3.33
Name: 2481, dtype: object
2482 188.23000000000002 7 MP Last Month    26.89
Name: 2482, dtype: object
2483 201.29 7 MP Last Month    28.7557
Name: 2483, dtype: object
2484 63.22 4 MP Last Month    15.805
Name: 2484, dtype: object
2485 216.73 7 MP Last Month    30.9614
Name: 2485, dtype: object
2486 202.03000000000003 7 MP Last Month    28.8614
Name: 2486, dtype: object
2487 172.78 7 MP Last Month    24.6829
Name: 2487, dtype: object
2488 136.5 6 MP Last Month    22.75
Name: 2488, dtype: object
2489 14.53 6 MP Last Month    2.42167
Name: 2489, dtype: object
2490 189.63 7 MP Last Month    27.09
Name: 2490, dtype: object
2491 81.68 4 MP Last Month    20.42
Name: 2491, dtype: object
2492 118.21 7 MP Last Month    16.8871
Name: 2492, dtype: object
2493 14.78 5 MP Last Month    2.956
Name: 2493, dtype: object
2494 230.05999999999997 7 MP Last Month    32.8657
Name: 2494, dtype: object
2495 148.64999999999998 7 MP Last Month    21.2357
Name: 2495, dtype: object
2496 123.83000000000001 7 MP Last Month    17.69
Name: 2496, dtype: object
2497 102.19999999999999 7 MP Last Month    14.6
Name: 2497, dtype: object
2498 159.45 7 MP Last Month    22.7786
Name: 2498, dtype: object
2499 36.38 5 MP Last Month    7.276
Name: 2499, dtype: object
2500 234.47 7 MP Last Month    33.4957
Name: 2500, dtype: object
2501 189.75 7 MP Last Month    27.1071
Name: 2501, dtype: object
2502 92.91 6 MP Last Month    15.485
Name: 2502, dtype: object
2503 52.5 7 MP Last Month    7.5
Name: 2503, dtype: object
2504 249.94 7 MP Last Month    35.7057
Name: 2504, dtype: object
2505 128.22 7 MP Last Month    18.3171
Name: 2505, dtype: object
2506 96.73 3 MP Last Month    32.2433
Name: 2506, dtype: object
2507 135.82999999999998 7 MP Last Month    19.4043
Name: 2507, dtype: object
2508 176.14999999999998 7 MP Last Month    25.1643
Name: 2508, dtype: object
2509 15.229999999999999 7 MP Last Month    2.17571
Name: 2509, dtype: object
2510 240.62 7 MP Last Month    34.3743
Name: 2510, dtype: object
2511 100.83999999999999 7 MP Last Month    14.4057
Name: 2511, dtype: object
2512 0.0 7 MP Last Month    0
Name: 2512, dtype: object
2513 186.57000000000002 6 MP Last Month    31.095
Name: 2513, dtype: object
2514 200.25 6 MP Last Month    33.375
Name: 2514, dtype: object
2515 92.01 6 MP Last Month    15.335
Name: 2515, dtype: object
2516 131.77 6 MP Last Month    21.9617
Name: 2516, dtype: object
2517 2.75 4 MP Last Month    0.6875
Name: 2517, dtype: object
2518 122.24 6 MP Last Month    20.3733
Name: 2518, dtype: object
2519 100.34 6 MP Last Month    16.7233
Name: 2519, dtype: object
2520 94.39000000000001 6 MP Last Month    15.7317
Name: 2520, dtype: object
2521 4.32 6 MP Last Month    0.72
Name: 2521, dtype: object
2522 181.70999999999998 6 MP Last Month    30.285
Name: 2522, dtype: object
2523 166.1 6 MP Last Month    27.6833
Name: 2523, dtype: object
2524 96.89 6 MP Last Month    16.1483
Name: 2524, dtype: object
2525 177.81 6 MP Last Month    29.635
Name: 2525, dtype: object
2526 26.32 6 MP Last Month    4.38667
Name: 2526, dtype: object
2527 45.519999999999996 6 MP Last Month    7.58667
Name: 2527, dtype: object
2528 128.02 6 MP Last Month    21.3367
Name: 2528, dtype: object
2529 135.54999999999998 6 MP Last Month    22.5917
Name: 2529, dtype: object
2530 161.97 6 MP Last Month    26.995
Name: 2530, dtype: object
2531 7.52 4 MP Last Month    1.88
Name: 2531, dtype: object
2532 188.61 6 MP Last Month    31.435
Name: 2532, dtype: object
2533 213.52 6 MP Last Month    35.5867
Name: 2533, dtype: object

2534 94.43 6 MP Last Month    15.7383
Name: 2534, dtype: object
2535 6.42 5 MP Last Month    1.284
Name: 2535, dtype: object
2536 268.71 8 MP Last Month    33.5887
Name: 2536, dtype: object
2537 257.74 8 MP Last Month    32.2175
Name: 2537, dtype: object
2538 71.78 7 MP Last Month    10.2543
Name: 2538, dtype: object
2539 277.37 8 MP Last Month    34.6713
Name: 2539, dtype: object
2540 131.04 8 MP Last Month    16.38
Name: 2540, dtype: object
2541 131.24 7 MP Last Month    18.7486
Name: 2541, dtype: object
2542 94.92 8 MP Last Month    11.865
Name: 2542, dtype: object
2543 78.16 8 MP Last Month    9.77
Name: 2543, dtype: object
2544 248.43 8 MP Last Month    31.0538
Name: 2544, dtype: object
2545 129.83999999999997 8 MP Last Month    16.23
Name: 2545, dtype: object
2546 135.14000000000001 8 MP Last Month    16.8925
Name: 2546, dtype: object
2547 230.06 7 MP Last Month    32.8657
Name: 2547, dtype: object
2548 183.4 7 MP Last Month    26.2
Name: 2548, dtype: object
2549 165.01 7 MP Last Month    23.5729
Name: 2549, dtype: object
2550 19.82 7 MP Last Month    2.83143
Name: 2550, dtype: object
2551 16.1 7 MP Last Month    2.3
Name: 2551, dtype: object
2552 209.15 7 MP Last Month    29.8786
Name: 2552, dtype: object
2553 120.55000000000001 6 MP Last Month    20.0917
Name: 2553, dtype: object
2554 210.44 7 MP Last Month    30.0629
Name: 2554, dtype: object
2555 127.78999999999998 7 MP Last Month    18.2557
Name: 2555, dtype: object
2556 134.6 6 MP Last Month    22.4333
Name: 2556, dtype: object
2557 187.42000000000002 7 MP Last Month    26.7743
Name: 2557, dtype: object
2558 40.370000000000005 7 MP Last Month    5.76714
Name: 2558, dtype: object
2559 190.60999999999999 7 MP Last Month    27.23
Name: 2559, dtype: object
2560 81.56 3 MP Last Month    27.1867
Name: 2560, dtype: object
2561 122.35000000000001 4 MP Last Month    30.5875
Name: 2561, dtype: object
2562 215.5 7 MP Last Month    30.7857
Name: 2562, dtype: object
2563 143.74 7 MP Last Month    20.5343
Name: 2563, dtype: object
2564 53.03999999999999 7 MP Last Month    7.57714
Name: 2564, dtype: object
2565 252.38000000000002 7 MP Last Month    36.0543
Name: 2565, dtype: object
2566 226.17000000000002 7 MP Last Month    32.31
Name: 2566, dtype: object
2567 142.04 7 MP Last Month    20.2914
Name: 2567, dtype: object
2568 77.89 5 MP Last Month    15.578
Name: 2568, dtype: object
2569 182.25 7 MP Last Month    26.0357
Name: 2569, dtype: object
2570 0 0 MP Last Month    0
Name: 2570, dtype: object
2571 7.05 7 MP Last Month    1.00714
Name: 2571, dtype: object
2572 198.9 7 MP Last Month    28.4143
Name: 2572, dtype: object
2573 139.04000000000002 7 MP Last Month    19.8629
Name: 2573, dtype: object
2574 211.94 7 MP Last Month    30.2771
Name: 2574, dtype: object
2575 109.34 4 MP Last Month    27.335
Name: 2575, dtype: object
2576 187.09 7 MP Last Month    26.7271
Name: 2576, dtype: object
2577 143.0 7 MP Last Month    20.4286
Name: 2577, dtype: object
2578 3.87 7 MP Last Month    0.552857
Name: 2578, dtype: object
2579 11.67 4 MP Last Month    2.9175
Name: 2579, dtype: object
2580 5.7 7 MP Last Month    0.814286
Name: 2580, dtype: object
2581 12.0 7 MP Last Month    1.71429
Name: 2581, dtype: object
2582 217.86 7 MP Last Month    31.1229
Name: 2582, dtype: object
2583 110.86999999999999 7 MP Last Month    15.8386
Name: 2583, dtype: object
2584 204.52 6 MP Last Month    34.0867
Name: 2584, dtype: object
2585 37.45 5 MP Last Month    7.49
Name: 2585, dtype: object
2586 58.78 6 MP Last Month    9.79667
Name: 2586, dtype: object
2587 56.71 6 MP Last Month    9.45167
Name: 2587, dtype: object
2588 180.35999999999999 6 MP Last Month    30.06
Name: 2588, dtype: object
2589 185.55 6 MP Last Month    30.925
Name: 2589, dtype: object
2590 119.89 6 MP Last Month    19.9817
Name: 2590, dtype: object
2591 14.56 3 MP Last Month    4.85333
Name: 2591, dtype: object
2592 30.130000000000003 4 MP Last Month    7.5325
Name: 2592, dtype: object
2593 24.58 4 MP Last Month    6.145
Name: 2593, dtype: object
2594 143.67000000000002 5 MP Last Month    28.734
Name: 2594, dtype: object
2595 138.41 6 MP Last Month    23.0683
Name: 2595, dtype: object
2596 41.24 6 MP Last Month    6.87333
Name: 2596, dtype: object
2597 146.8 7 MP Last Month    20.9714
Name: 2597, dtype: object
2598 145.87 7 MP Last Month    20.8386
Name: 2598, dtype: object
2599 206.65999999999997 7 MP Last Month    29.5229
Name: 2599, dtype: object
2600 156.21 7 MP Last Month    22.3157
Name: 2600, dtype: object
2601 79.24000000000001 7 MP Last Month    11.32
Name: 2601, dtype: object
2602 2.4 1 MP Last Month    2.4
Name: 2602, dtype: object
2603 132.29999999999998 7 MP Last Month    18.9
Name: 2603, dtype: object
2604 120.47 7 MP Last Month    17.21
Name: 2604, dtype: object
2605 10.700000000000001 6 MP Last Month    1.78333
Name: 2605, dtype: object
2606 136.44 7 MP Last Month    19.4914
Name: 2606, dtype: object
2607 191.00999999999996 7 MP Last Month    27.2871
Name: 2607, dtype: object
2608 67.26 7 MP Last Month    9.60857
Name: 2608, dtype: object
2609 59.8 4 MP Last Month    14.95
Name: 2609, dtype: object
2610 2.72 1 MP Last Month    2.72
Name: 2610, dtype: object
2611 25.47 4 MP Last Month    6.3675
Name: 2611, dtype: object
2612 56.78000000000001 5 MP Last Month    11.356
Name: 2612, dtype: object
2613 197.29000000000002 6 MP Last Month    32.8817
Name: 2613, dtype: object
2614 138.93 6 MP Last Month    23.155
Name: 2614, dtype: object
2615 90.75000000000001 6 MP Last Month    15.125
Name: 2615, dtype: object
2616 140.16 6 MP Last Month    23.36
Name: 2616, dtype: object
2617 10.55 6 MP Last Month    1.75833
Name: 2617, dtype: object
2618 186.61 6 MP Last Month    31.1017
Name: 2618, dtype: object
2619 80.03999999999999 6 MP Last Month    13.34
Name: 2619, dtype: object
2620 138.77 6 MP Last Month    23.1283
Name: 2620, dtype: object
2621 21.3 6 MP Last Month    3.55
Name: 2621, dtype: object
2622 185.62 6 MP Last Month    30.9367
Name: 2622, dtype: object
2623 167.05 6 MP Last Month    27.8417
Name: 2623, dtype: object
2624 233.31 6 MP Last Month    38.885
Name: 2624, dtype: object
2625 181.81 6 MP Last Month    30.3017
Name: 2625, dtype: object
2626 128.18 6 MP Last Month    21.3633
Name: 2626, dtype: object
2627 13.870000000000001 6 MP Last Month    2.31167
Name: 2627, dtype: object
2628 115.88000000000001 6 MP Last Month    19.3133
Name: 2628, dtype: object
2629 8.99 6 MP Last Month    1.49833
Name: 2629, dtype: object
2630 105.1 6 MP Last Month    17.5167
Name: 2630, dtype: object
2631 223.20999999999998 6 MP Last Month    37.2017
Name: 2631, dtype: object
2632 86.77 6 MP Last Month    14.4617
Name: 2632, dtype: object
2633 33.79 6 MP Last Month    5.63167
Name: 2633, dtype: object
2634 214.63 6 MP Last Month    35.7717
Name: 2634, dtype: object
2635 106.63000000000001 6 MP Last Month    17.7717
Name: 2635, dtype: object
2636 178.53 6 MP Last Month    29.755
Name: 2636, dtype: object
2637 32.98 6 MP Last Month    5.49667
Name: 2637, dtype: object
2638 185.11999999999998 6 MP Last Month    30.8533
Name: 2638, dtype: object
2639 198.64 6 MP Last Month    33.1067
Name: 2639, dtype: object
2640 77.91999999999999 6 MP Last Month    12.9867
Name: 2640, dtype: object
2641 47.64 6 MP Last Month    7.94
Name: 2641, dtype: object
2642 0.0 3 MP Last Month    0
Name: 2642, dtype: object
2643 204.31 6 MP Last Month    34.0517
Name: 2643, dtype: object
2644 111.04999999999998 5 MP Last Month    22.21
Name: 2644, dtype: object
2645 27.4 6 MP Last Month    4.56667
Name: 2645, dtype: object
2646 220.49 7 MP Last Month    31.4986
Name: 2646, dtype: object
2647 102.34 7 MP Last Month    14.62
Name: 2647, dtype: object
2648 35.080000000000005 7 MP Last Month    5.01143
Name: 2648, dtype: object
2649 149.39 7 MP Last Month    21.3414
Name: 2649, dtype: object
2650 110.05999999999999 7 MP Last Month    15.7229
Name: 2650, dtype: object
2651 209.61999999999998 7 MP Last Month    29.9457
Name: 2651, dtype: object
2652 72.4 4 MP Last Month    18.1
Name: 2652, dtype: object
2653 106.03 6 MP Last Month    17.6717
Name: 2653, dtype: object
2654 165.8 7 MP Last Month    23.6857
Name: 2654, dtype: object
2655 79.52000000000001 4 MP Last Month    19.88
Name: 2655, dtype: object

2656 39.21 7 MP Last Month    5.60143
Name: 2656, dtype: object
2657 221.47000000000003 7 MP Last Month    31.6386
Name: 2657, dtype: object
2658 159.89 7 MP Last Month    22.8414
Name: 2658, dtype: object
2659 157.98 7 MP Last Month    22.5686
Name: 2659, dtype: object
2660 6.07 7 MP Last Month    0.867143
Name: 2660, dtype: object
2661 147.07000000000002 6 MP Last Month    24.5117
Name: 2661, dtype: object
2662 177.66 7 MP Last Month    25.38
Name: 2662, dtype: object
2663 228.16 7 MP Last Month    32.5943
Name: 2663, dtype: object
2664 24.33 7 MP Last Month    3.47571
Name: 2664, dtype: object
2665 17.98 7 MP Last Month    2.56857
Name: 2665, dtype: object
2666 204.51 7 MP Last Month    29.2157
Name: 2666, dtype: object
2667 57.599999999999994 4 MP Last Month    14.4
Name: 2667, dtype: object
2668 12.46 5 MP Last Month    2.492
Name: 2668, dtype: object
2669 270.99 8 MP Last Month    33.8738
Name: 2669, dtype: object
2670 191.03 8 MP Last Month    23.8788
Name: 2670, dtype: object
2671 121.44999999999999 7 MP Last Month    17.35
Name: 2671, dtype: object
2672 20.65 5 MP Last Month    4.13
Name: 2672, dtype: object
2673 271.06 8 MP Last Month    33.8825
Name: 2673, dtype: object
2674 196.82999999999998 8 MP Last Month    24.6037
Name: 2674, dtype: object
2675 172.86 8 MP Last Month    21.6075
Name: 2675, dtype: object
2676 132.64 8 MP Last Month    16.58
Name: 2676, dtype: object
2677 188.94 8 MP Last Month    23.6175
Name: 2677, dtype: object
2678 176.33999999999997 8 MP Last Month    22.0425
Name: 2678, dtype: object
2679 44.650000000000006 7 MP Last Month    6.37857
Name: 2679, dtype: object
2680 17.17 8 MP Last Month    2.14625
Name: 2680, dtype: object
2681 159.95 7 MP Last Month    22.85
Name: 2681, dtype: object
2682 168.64 7 MP Last Month    24.0914
Name: 2682, dtype: object
2683 180.29000000000002 7 MP Last Month    25.7557
Name: 2683, dtype: object
2684 48.040000000000006 6 MP Last Month    8.00667
Name: 2684, dtype: object
2685 194.4 7 MP Last Month    27.7714
Name: 2685, dtype: object
2686 226.85 7 MP Last Month    32.4071
Name: 2686, dtype: object
2687 96.38 7 MP Last Month    13.7686
Name: 2687, dtype: object
2688 28.6 6 MP Last Month    4.76667
Name: 2688, dtype: object
2689 90.66 7 MP Last Month    12.9514
Name: 2689, dtype: object
2690 185.71999999999997 7 MP Last Month    26.5314
Name: 2690, dtype: object
2691 104.17000000000002 5 MP Last Month    20.834
Name: 2691, dtype: object
2692 38.64 7 MP Last Month    5.52
Name: 2692, dtype: object
2693 21.2 5 MP Last Month    4.24
Name: 2693, dtype: object
2694 238.15 7 MP Last Month    34.0214
Name: 2694, dtype: object
2695 156.35000000000002 7 MP Last Month    22.3357
Name: 2695, dtype: object
2696 230.09000000000003 7 MP Last Month    32.87
Name: 2696, dtype: object
2697 122.53 7 MP Last Month    17.5043
Name: 2697, dtype: object
2698 2.75 5 MP Last Month    0.55
Name: 2698, dtype: object
2699 94.39000000000001 7 MP Last Month    13.4843
Name: 2699, dtype: object
2700 142.29 7 MP Last Month    20.3271
Name: 2700, dtype: object
2701 122.82000000000001 7 MP Last Month    17.5457
Name: 2701, dtype: object
2702 4.32 7 MP Last Month    0.617143
Name: 2702, dtype: object
2703 199.05 7 MP Last Month    28.4357
Name: 2703, dtype: object
2704 117.11 7 MP Last Month    16.73
Name: 2704, dtype: object
2705 214.48 7 MP Last Month    30.64
Name: 2705, dtype: object
2706 162.5 7 MP Last Month    23.2143
Name: 2706, dtype: object
2707 181.42000000000002 7 MP Last Month    25.9171
Name: 2707, dtype: object
2708 187.69000000000003 7 MP Last Month    26.8129
Name: 2708, dtype: object
2709 34.79 6 MP Last Month    5.79833
Name: 2709, dtype: object
2710 14.5 7 MP Last Month    2.07143
Name: 2710, dtype: object
2711 15.58 4 MP Last Month    3.895
Name: 2711, dtype: object
2712 238.26 7 MP Last Month    34.0371
Name: 2712, dtype: object
2713 201.53 7 MP Last Month    28.79
Name: 2713, dtype: object
2714 79.81 7 MP Last Month    11.4014
Name: 2714, dtype: object
2715 66.61 7 MP Last Month    9.51571
Name: 2715, dtype: object
2716 143.11 7 MP Last Month    20.4443
Name: 2716, dtype: object
2717 123.9 7 MP Last Month    17.7
Name: 2717, dtype: object
2718 215.18 7 MP Last Month    30.74
Name: 2718, dtype: object
2719 194.13 7 MP Last Month    27.7329
Name: 2719, dtype: object
2720 140.85999999999999 7 MP Last Month    20.1229
Name: 2720, dtype: object
2721 26.0 7 MP Last Month    3.71429
Name: 2721, dtype: object
2722 24.88 6 MP Last Month    4.14667
Name: 2722, dtype: object
2723 183.88 6 MP Last Month    30.6467
Name: 2723, dtype: object
2724 214.25 7 MP Last Month    30.6071
Name: 2724, dtype: object
2725 116.48000000000002 7 MP Last Month    16.64
Name: 2725, dtype: object
2726 56.83 7 MP Last Month    8.11857
Name: 2726, dtype: object
2727 160.23 7 MP Last Month    22.89
Name: 2727, dtype: object
2728 179.52 7 MP Last Month    25.6457
Name: 2728, dtype: object
2729 111.26 7 MP Last Month    15.8943
Name: 2729, dtype: object
2730 41.269999999999996 5 MP Last Month    8.254
Name: 2730, dtype: object
2731 246.49 7 MP Last Month    35.2129
Name: 2731, dtype: object
2732 58.22 6 MP Last Month    9.70333
Name: 2732, dtype: object
2733 70.78 7 MP Last Month    10.1114
Name: 2733, dtype: object
2734 74.73 7 MP Last Month    10.6757
Name: 2734, dtype: object
2735 212.20999999999998 7 MP Last Month    30.3157
Name: 2735, dtype: object
2736 224.42000000000002 7 MP Last Month    32.06
Name: 2736, dtype: object
2737 30.130000000000003 5 MP Last Month    6.026
Name: 2737, dtype: object
2738 14.56 4 MP Last Month    3.64
Name: 2738, dtype: object
2739 132.27 7 MP Last Month    18.8957
Name: 2739, dtype: object
2740 24.58 5 MP Last Month    4.916
Name: 2740, dtype: object
2741 161.28 7 MP Last Month    23.04
Name: 2741, dtype: object
2742 41.24 7 MP Last Month    5.89143
Name: 2742, dtype: object
2743 184.95000000000002 6 MP Last Month    30.825
Name: 2743, dtype: object
2744 131.89 4 MP Last Month    32.9725
Name: 2744, dtype: object
2745 171.63 6 MP Last Month    28.605
Name: 2745, dtype: object
2746 68.62 5 MP Last Month    13.724
Name: 2746, dtype: object
2747 31.9 6 MP Last Month    5.31667
Name: 2747, dtype: object
2748 208.51 6 MP Last Month    34.7517
Name: 2748, dtype: object
2749 118.95 6 MP Last Month    19.825
Name: 2749, dtype: object
2750 177.75 6 MP Last Month    29.625
Name: 2750, dtype: object
2751 129.82 6 MP Last Month    21.6367
Name: 2751, dtype: object
2752 3.95 4 MP Last Month    0.9875
Name: 2752, dtype: object
2753 173.13 5 MP Last Month    34.626
Name: 2753, dtype: object
2754 90.28 6 MP Last Month    15.0467
Name: 2754, dtype: object
2755 118.51 6 MP Last Month    19.7517
Name: 2755, dtype: object
2756 214.89000000000001 7 MP Last Month    30.6986
Name: 2756, dtype: object
2757 196.55 8 MP Last Month    24.5688
Name: 2757, dtype: object
2758 145.81 8 MP Last Month    18.2263
Name: 2758, dtype: object
2759 26.35 8 MP Last Month    3.29375
Name: 2759, dtype: object
2760 117.74000000000002 8 MP Last Month    14.7175
Name: 2760, dtype: object
2761 279.78 8 MP Last Month    34.9725
Name: 2761, dtype: object
2762 243.41 8 MP Last Month    30.4262
Name: 2762, dtype: object
2763 248.3 8 MP Last Month    31.0375
Name: 2763, dtype: object
2764 14.89 8 MP Last Month    1.86125
Name: 2764, dtype: object
2765 276.81000000000006 8 MP Last Month    34.6013
Name: 2765, dtype: object
2766 87.10000000000001 5 MP Last Month    17.42
Name: 2766, dtype: object
2767 93.33000000000001 8 MP Last Month    11.6663
Name: 2767, dtype: object
2768 239.64 7 MP Last Month    34.2343
Name: 2768, dtype: object
2769 130.16 7 MP Last Month    18.5943
Name: 2769, dtype: object
2770 0.95 2 MP Last Month    0.475
Name: 2770, dtype: object
2771 3.03 7 MP Last Month    0.432857
Name: 2771, dtype: object
2772 170.62 7 MP Last Month    24.3743
Name: 2772, dtype: object
2773 199.29999999999998 7 MP Last Month    28.4714
Name: 2773, dtype: object
2774 86.4 7 MP Last Month    12.3429
Name: 2774, dtype: object
2775 156.54999999999998 7 MP Last Month    22.3643
Name: 2775, dtype: object
2776 42.03 7 MP Last Month    6.00429
Name: 2776, dtype: object
2777 153.25 7 MP Last Month    21.8929
Name: 2777, dtype: object
2778 167.78 7 MP Last Month    23.9686
Name: 2778, dtype: object

2779 42.45 7 MP Last Month    6.06429
Name: 2779, dtype: object
2780 259.28 8 MP Last Month    32.41
Name: 2780, dtype: object
2781 122.67 8 MP Last Month    15.3338
Name: 2781, dtype: object
2782 256.71000000000004 8 MP Last Month    32.0888
Name: 2782, dtype: object
2783 220.46000000000004 8 MP Last Month    27.5575
Name: 2783, dtype: object
2784 185.73999999999998 8 MP Last Month    23.2175
Name: 2784, dtype: object
2785 132.39999999999998 6 MP Last Month    22.0667
Name: 2785, dtype: object
2786 214.99 8 MP Last Month    26.8738
Name: 2786, dtype: object
2787 69.77 8 MP Last Month    8.72125
Name: 2787, dtype: object
2788 18.009999999999998 8 MP Last Month    2.25125
Name: 2788, dtype: object
2789 241.73 8 MP Last Month    30.2162
Name: 2789, dtype: object
2790 24.58 2 MP Last Month    12.29
Name: 2790, dtype: object
2791 15.05 7 MP Last Month    2.15
Name: 2791, dtype: object
2792 226.32 8 MP Last Month    28.29
Name: 2792, dtype: object
2793 219.81 8 MP Last Month    27.4763
Name: 2793, dtype: object
2794 68.94 5 MP Last Month    13.788
Name: 2794, dtype: object
2795 256.34999999999997 8 MP Last Month    32.0437
Name: 2795, dtype: object
2796 242.68000000000004 8 MP Last Month    30.335
Name: 2796, dtype: object
2797 156.67000000000002 7 MP Last Month    22.3814
Name: 2797, dtype: object
2798 210.31 8 MP Last Month    26.2888
Name: 2798, dtype: object
2799 42.87 3 MP Last Month    14.29
Name: 2799, dtype: object
2800 14.53 7 MP Last Month    2.07571
Name: 2800, dtype: object
2801 211.2 8 MP Last Month    26.4
Name: 2801, dtype: object
2802 136.48 8 MP Last Month    17.06
Name: 2802, dtype: object
2803 106.55000000000001 5 MP Last Month    21.31
Name: 2803, dtype: object
2804 14.78 6 MP Last Month    2.46333
Name: 2804, dtype: object
2805 269.39 8 MP Last Month    33.6737
Name: 2805, dtype: object
2806 137.5 8 MP Last Month    17.1875
Name: 2806, dtype: object
2807 184.17 8 MP Last Month    23.0212
Name: 2807, dtype: object
2808 178.29999999999998 8 MP Last Month    22.2875
Name: 2808, dtype: object
2809 132.17 8 MP Last Month    16.5212
Name: 2809, dtype: object
2810 273.54 8 MP Last Month    34.1925
Name: 2810, dtype: object
2811 225.32999999999998 8 MP Last Month    28.1662
Name: 2811, dtype: object
2812 108.11 7 MP Last Month    15.4443
Name: 2812, dtype: object
2813 52.5 8 MP Last Month    6.5625
Name: 2813, dtype: object
2814 278.07 8 MP Last Month    34.7587
Name: 2814, dtype: object
2815 139.34 8 MP Last Month    17.4175
Name: 2815, dtype: object
2816 201.29999999999998 8 MP Last Month    25.1625
Name: 2816, dtype: object
2817 124.61 4 MP Last Month    31.1525
Name: 2817, dtype: object
2818 155.90999999999997 8 MP Last Month    19.4887
Name: 2818, dtype: object
2819 15.229999999999999 8 MP Last Month    1.90375
Name: 2819, dtype: object
2820 271.37 8 MP Last Month    33.9213
Name: 2820, dtype: object
2821 118.08999999999999 8 MP Last Month    14.7612
Name: 2821, dtype: object
2822 0.0 8 MP Last Month    0
Name: 2822, dtype: object
2823 305.60999999999996 9 MP Last Month    33.9567
Name: 2823, dtype: object
2824 294.74 9 MP Last Month    32.7489
Name: 2824, dtype: object
2825 71.78 8 MP Last Month    8.9725
Name: 2825, dtype: object
2826 317.52 9 MP Last Month    35.28
Name: 2826, dtype: object
2827 151.09 8 MP Last Month    18.8863
Name: 2827, dtype: object
2828 105.87 9 MP Last Month    11.7633
Name: 2828, dtype: object
2829 147.73999999999998 9 MP Last Month    16.4156
Name: 2829, dtype: object
2830 89.03999999999999 9 MP Last Month    9.89333
Name: 2830, dtype: object
2831 282.63 9 MP Last Month    31.4033
Name: 2831, dtype: object
2832 151.18999999999997 9 MP Last Month    16.7989
Name: 2832, dtype: object
2833 145.76000000000002 9 MP Last Month    16.1956
Name: 2833, dtype: object
2834 133.49 4 MP Last Month    33.3725
Name: 2834, dtype: object
2835 90.92999999999999 6 MP Last Month    15.155
Name: 2835, dtype: object
2836 187.17000000000002 6 MP Last Month    31.195
Name: 2836, dtype: object
2837 198.24 6 MP Last Month    33.04
Name: 2837, dtype: object
2838 214.06 6 MP Last Month    35.6767
Name: 2838, dtype: object
2839 126.25999999999999 6 MP Last Month    21.0433
Name: 2839, dtype: object
2840 69.72 3 MP Last Month    23.24
Name: 2840, dtype: object
2841 33.83 6 MP Last Month    5.63833
Name: 2841, dtype: object
2842 37.769999999999996 6 MP Last Month    6.295
Name: 2842, dtype: object
2843 195.53000000000003 6 MP Last Month    32.5883
Name: 2843, dtype: object
2844 8.13 1 MP Last Month    8.13
Name: 2844, dtype: object
2845 262.34000000000003 8 MP Last Month    32.7925
Name: 2845, dtype: object
2846 207.18 8 MP Last Month    25.8975
Name: 2846, dtype: object
2847 196.66 8 MP Last Month    24.5825
Name: 2847, dtype: object
2848 19.82 8 MP Last Month    2.4775
Name: 2848, dtype: object
2849 16.1 8 MP Last Month    2.0125
Name: 2849, dtype: object
2850 243.03 8 MP Last Month    30.3788
Name: 2850, dtype: object
2851 141.05 7 MP Last Month    20.15
Name: 2851, dtype: object
2852 242.42 8 MP Last Month    30.3025
Name: 2852, dtype: object
2853 140.36999999999998 8 MP Last Month    17.5462
Name: 2853, dtype: object
2854 216.34000000000003 8 MP Last Month    27.0425
Name: 2854, dtype: object
2855 156.03 7 MP Last Month    22.29
Name: 2855, dtype: object
2856 43.35 8 MP Last Month    5.41875
Name: 2856, dtype: object
2857 39.839999999999996 7 MP Last Month    5.69143
Name: 2857, dtype: object
2858 192.88 8 MP Last Month    24.11
Name: 2858, dtype: object
2859 198.94000000000003 8 MP Last Month    24.8675
Name: 2859, dtype: object
2860 224.04000000000002 8 MP Last Month    28.005
Name: 2860, dtype: object
2861 14.97 8 MP Last Month    1.87125
Name: 2861, dtype: object
2862 15.96 5 MP Last Month    3.192
Name: 2862, dtype: object
2863 271.64 8 MP Last Month    33.955
Name: 2863, dtype: object
2864 237.0 8 MP Last Month    29.625
Name: 2864, dtype: object
2865 89.64 8 MP Last Month    11.205
Name: 2865, dtype: object
2866 158.09 8 MP Last Month    19.7613
Name: 2866, dtype: object
2867 89.25999999999999 8 MP Last Month    11.1575
Name: 2867, dtype: object
2868 133.03 8 MP Last Month    16.6288
Name: 2868, dtype: object
2869 188.45999999999998 6 MP Last Month    31.41
Name: 2869, dtype: object
2870 147.55999999999997 6 MP Last Month    24.5933
Name: 2870, dtype: object
2871 110.28999999999999 6 MP Last Month    18.3817
Name: 2871, dtype: object
2872 93.80000000000001 6 MP Last Month    15.6333
Name: 2872, dtype: object
2873 63.50999999999999 6 MP Last Month    10.585
Name: 2873, dtype: object
2874 182.49 6 MP Last Month    30.415
Name: 2874, dtype: object
2875 135.52 6 MP Last Month    22.5867
Name: 2875, dtype: object
2876 137.82999999999998 6 MP Last Month    22.9717
Name: 2876, dtype: object
2877 73.13999999999999 6 MP Last Month    12.19
Name: 2877, dtype: object
2878 22.990000000000002 5 MP Last Month    4.598
Name: 2878, dtype: object
2879 46.3 4 MP Last Month    11.575
Name: 2879, dtype: object
2880 190.04000000000002 6 MP Last Month    31.6733
Name: 2880, dtype: object
2881 126.41 7 MP Last Month    18.0586
Name: 2881, dtype: object
2882 175.94000000000003 8 MP Last Month    21.9925
Name: 2882, dtype: object
2883 239.75 8 MP Last Month    29.9688
Name: 2883, dtype: object
2884 147.02 5 MP Last Month    29.404
Name: 2884, dtype: object
2885 202.29 6 MP Last Month    33.715
Name: 2885, dtype: object
2886 211.32 8 MP Last Month    26.415
Name: 2886, dtype: object
2887 166.77 8 MP Last Month    20.8463
Name: 2887, dtype: object
2888 25.290000000000003 8 MP Last Month    3.16125
Name: 2888, dtype: object
2889 12.0 8 MP Last Month    1.5
Name: 2889, dtype: object
2890 18.82 5 MP Last Month    3.764
Name: 2890, dtype: object
2891 257.99 8 MP Last Month    32.2488
Name: 2891, dtype: object
2892 118.74 8 MP Last Month    14.8425
Name: 2892, dtype: object
2893 169.92000000000002 8 MP Last Month    21.24
Name: 2893, dtype: object
2894 177.82 8 MP Last Month    22.2275
Name: 2894, dtype: object
2895 239.48999999999995 8 MP Last Month    29.9362
Name: 2895, dtype: object
2896 2.4 2 MP Last Month    1.2
Name: 2896, dtype: object
2897 170.21 8 MP Last Month    21.2763
Name: 2897, dtype: object
2898 79.24000000000001 8 MP Last Month    9.905
Name: 2898, dtype: object

2899 136.55 8 MP Last Month    17.0688
Name: 2899, dtype: object
2900 144.79999999999998 8 MP Last Month    18.1
Name: 2900, dtype: object
2901 10.700000000000001 7 MP Last Month    1.52857
Name: 2901, dtype: object
2902 84.94 8 MP Last Month    10.6175
Name: 2902, dtype: object
2903 212.08999999999997 8 MP Last Month    26.5112
Name: 2903, dtype: object
2904 169.26 8 MP Last Month    21.1575
Name: 2904, dtype: object
2905 169.01999999999998 5 MP Last Month    33.804
Name: 2905, dtype: object
2906 201.9 7 MP Last Month    28.8429
Name: 2906, dtype: object
2907 79.39 6 MP Last Month    13.2317
Name: 2907, dtype: object
2908 31.9 7 MP Last Month    4.55714
Name: 2908, dtype: object
2909 202.52 7 MP Last Month    28.9314
Name: 2909, dtype: object
2910 247.83999999999997 7 MP Last Month    35.4057
Name: 2910, dtype: object
2911 149.22 7 MP Last Month    21.3171
Name: 2911, dtype: object
2912 147.45 7 MP Last Month    21.0643
Name: 2912, dtype: object
2913 3.95 5 MP Last Month    0.79
Name: 2913, dtype: object
2914 207.01 6 MP Last Month    34.5017
Name: 2914, dtype: object
2915 98.93 7 MP Last Month    14.1329
Name: 2915, dtype: object
2916 125.76 7 MP Last Month    17.9657
Name: 2916, dtype: object
2917 182.56 7 MP Last Month    26.08
Name: 2917, dtype: object
2918 145.04999999999998 7 MP Last Month    20.7214
Name: 2918, dtype: object
2919 23.060000000000002 7 MP Last Month    3.29429
Name: 2919, dtype: object
2920 201.28999999999996 7 MP Last Month    28.7557
Name: 2920, dtype: object
2921 166.75 7 MP Last Month    23.8214
Name: 2921, dtype: object
2922 227.42 7 MP Last Month    32.4886
Name: 2922, dtype: object
2923 16.89 7 MP Last Month    2.41286
Name: 2923, dtype: object
2924 163.87999999999997 7 MP Last Month    23.4114
Name: 2924, dtype: object
2925 0.0 1 MP Last Month    0
Name: 2925, dtype: object
2926 200.85 7 MP Last Month    28.6929
Name: 2926, dtype: object
2927 144.37 7 MP Last Month    20.6243
Name: 2927, dtype: object
2928 18.82 7 MP Last Month    2.68857
Name: 2928, dtype: object
2929 137.43 4 MP Last Month    34.3575
Name: 2929, dtype: object
2930 153.39000000000001 6 MP Last Month    25.565
Name: 2930, dtype: object
2931 88.22999999999999 5 MP Last Month    17.646
Name: 2931, dtype: object
2932 66.63000000000001 6 MP Last Month    11.105
Name: 2932, dtype: object
2933 227.64000000000001 7 MP Last Month    32.52
Name: 2933, dtype: object
2934 160.96 7 MP Last Month    22.9943
Name: 2934, dtype: object
2935 174.53 7 MP Last Month    24.9329
Name: 2935, dtype: object
2936 117.95000000000002 7 MP Last Month    16.85
Name: 2936, dtype: object
2937 14.47 7 MP Last Month    2.06714
Name: 2937, dtype: object
2938 217.48000000000002 7 MP Last Month    31.0686
Name: 2938, dtype: object
2939 146.82000000000002 7 MP Last Month    20.9743
Name: 2939, dtype: object
2940 25.55 7 MP Last Month    3.65
Name: 2940, dtype: object
2941 89.00999999999999 7 MP Last Month    12.7157
Name: 2941, dtype: object
2942 278.8 8 MP Last Month    34.85
Name: 2942, dtype: object
2943 98.53 4 MP Last Month    24.6325
Name: 2943, dtype: object
2944 32.35 3 MP Last Month    10.7833
Name: 2944, dtype: object
2945 63.8 8 MP Last Month    7.975
Name: 2945, dtype: object
2946 208.05 6 MP Last Month    34.675
Name: 2946, dtype: object
2947 207.60999999999999 8 MP Last Month    25.9512
Name: 2947, dtype: object
2948 112.44999999999999 8 MP Last Month    14.0562
Name: 2948, dtype: object
2949 248.97 8 MP Last Month    31.1212
Name: 2949, dtype: object
2950 135.19 8 MP Last Month    16.8987
Name: 2950, dtype: object
2951 120.84 5 MP Last Month    24.168
Name: 2951, dtype: object
2952 145.51 8 MP Last Month    18.1887
Name: 2952, dtype: object
2953 225.42999999999998 8 MP Last Month    28.1787
Name: 2953, dtype: object
2954 8.7 8 MP Last Month    1.0875
Name: 2954, dtype: object
2955 205.6 7 MP Last Month    29.3714
Name: 2955, dtype: object
2956 41.059999999999995 7 MP Last Month    5.86571
Name: 2956, dtype: object
2957 131.93 7 MP Last Month    18.8471
Name: 2957, dtype: object
2958 214.86999999999998 7 MP Last Month    30.6957
Name: 2958, dtype: object
2959 233.64 7 MP Last Month    33.3771
Name: 2959, dtype: object
2960 55.16 7 MP Last Month    7.88
Name: 2960, dtype: object
2961 95.6 7 MP Last Month    13.6571
Name: 2961, dtype: object
2962 0.0 4 MP Last Month    0
Name: 2962, dtype: object
2963 237.81 7 MP Last Month    33.9729
Name: 2963, dtype: object
2964 133.89999999999998 6 MP Last Month    22.3167
Name: 2964, dtype: object
2965 29.779999999999998 7 MP Last Month    4.25429
Name: 2965, dtype: object
2966 233.15 7 MP Last Month    33.3071
Name: 2966, dtype: object
2967 237.32 7 MP Last Month    33.9029
Name: 2967, dtype: object
2968 91.21999999999998 7 MP Last Month    13.0314
Name: 2968, dtype: object
2969 164.38 7 MP Last Month    23.4829
Name: 2969, dtype: object
2970 191.59 7 MP Last Month    27.37
Name: 2970, dtype: object
2971 215.71000000000004 7 MP Last Month    30.8157
Name: 2971, dtype: object
2972 154.38 6 MP Last Month    25.73
Name: 2972, dtype: object
2973 183.07999999999998 7 MP Last Month    26.1543
Name: 2973, dtype: object
2974 0 0 MP Last Month    0
Name: 2974, dtype: object
2975 78.97 7 MP Last Month    11.2814
Name: 2975, dtype: object
2976 101.01 7 MP Last Month    14.43
Name: 2976, dtype: object
2977 19.98 7 MP Last Month    2.85429
Name: 2977, dtype: object
2978 247.52 8 MP Last Month    30.94
Name: 2978, dtype: object
2979 111.50999999999999 8 MP Last Month    13.9387
Name: 2979, dtype: object
2980 165.69 8 MP Last Month    20.7112
Name: 2980, dtype: object
2981 125.52000000000001 8 MP Last Month    15.69
Name: 2981, dtype: object
2982 51.800000000000004 8 MP Last Month    6.475
Name: 2982, dtype: object
2983 126.48 7 MP Last Month    18.0686
Name: 2983, dtype: object
2984 234.95 8 MP Last Month    29.3687
Name: 2984, dtype: object
2985 89.33000000000001 5 MP Last Month    17.866
Name: 2985, dtype: object
2986 91.52000000000001 5 MP Last Month    18.304
Name: 2986, dtype: object
2987 188.03 8 MP Last Month    23.5038
Name: 2987, dtype: object
2988 44.38 8 MP Last Month    5.5475
Name: 2988, dtype: object
2989 254.75000000000003 8 MP Last Month    31.8438
Name: 2989, dtype: object
2990 185.91 8 MP Last Month    23.2387
Name: 2990, dtype: object
2991 186.01999999999998 8 MP Last Month    23.2525
Name: 2991, dtype: object
2992 6.07 8 MP Last Month    0.75875
Name: 2992, dtype: object
2993 202.01 8 MP Last Month    25.2512
Name: 2993, dtype: object
2994 259.81 8 MP Last Month    32.4763
Name: 2994, dtype: object
2995 203.52999999999997 7 MP Last Month    29.0757
Name: 2995, dtype: object
2996 173.70000000000002 7 MP Last Month    24.8143
Name: 2996, dtype: object
2997 17.98 8 MP Last Month    2.2475
Name: 2997, dtype: object
2998 46.8 8 MP Last Month    5.85
Name: 2998, dtype: object
2999 236.45999999999998 8 MP Last Month    29.5575
Name: 2999, dtype: object
3000 73.16999999999999 5 MP Last Month    14.634
Name: 3000, dtype: object
3001 12.49 6 MP Last Month    2.08167
Name: 3001, dtype: object
3002 304.37 9 MP Last Month    33.8189
Name: 3002, dtype: object
3003 148.83999999999997 9 MP Last Month    16.5378
Name: 3003, dtype: object
3004 209.42 9 MP Last Month    23.2689
Name: 3004, dtype: object
3005 200.64999999999998 9 MP Last Month    22.2944
Name: 3005, dtype: object
3006 163.03 9 MP Last Month    18.1144
Name: 3006, dtype: object
3007 36.38 6 MP Last Month    6.06333
Name: 3007, dtype: object
3008 309.42 9 MP Last Month    34.38
Name: 3008, dtype: object
3009 255.13 9 MP Last Month    28.3478
Name: 3009, dtype: object
3010 129.59 8 MP Last Month    16.1988
Name: 3010, dtype: object
3011 56.4 9 MP Last Month    6.26667
Name: 3011, dtype: object
3012 302.14 9 MP Last Month    33.5711
Name: 3012, dtype: object
3013 214.03 9 MP Last Month    23.7811
Name: 3013, dtype: object
3014 144.85 8 MP Last Month    18.1062
Name: 3014, dtype: object
3015 20.65 6 MP Last Month    3.44167
Name: 3015, dtype: object
3016 221.90999999999997 9 MP Last Month    24.6567
Name: 3016, dtype: object
3017 306.71 9 MP Last Month    34.0789
Name: 3017, dtype: object
3018 197.68 9 MP Last Month    21.9644
Name: 3018, dtype: object
3019 151.98999999999998 9 MP Last Month    16.8878
Name: 3019, dtype: object

3020 206.91 9 MP Last Month    22.99
Name: 3020, dtype: object
3021 203.56999999999996 9 MP Last Month    22.6189
Name: 3021, dtype: object
3022 44.650000000000006 8 MP Last Month    5.58125
Name: 3022, dtype: object
3023 17.17 9 MP Last Month    1.90778
Name: 3023, dtype: object
3024 48.040000000000006 7 MP Last Month    6.86286
Name: 3024, dtype: object
3025 179.67 8 MP Last Month    22.4587
Name: 3025, dtype: object
3026 193.70999999999998 8 MP Last Month    24.2137
Name: 3026, dtype: object
3027 204.11 8 MP Last Month    25.5138
Name: 3027, dtype: object
3028 256.63 8 MP Last Month    32.0787
Name: 3028, dtype: object
3029 108.86 8 MP Last Month    13.6075
Name: 3029, dtype: object
3030 221.93 8 MP Last Month    27.7413
Name: 3030, dtype: object
3031 130.88 8 MP Last Month    16.36
Name: 3031, dtype: object
3032 38.42 7 MP Last Month    5.48857
Name: 3032, dtype: object
3033 213.94999999999996 8 MP Last Month    26.7437
Name: 3033, dtype: object
3034 122.74000000000001 6 MP Last Month    20.4567
Name: 3034, dtype: object
3035 43.41 8 MP Last Month    5.42625
Name: 3035, dtype: object
3036 21.2 6 MP Last Month    3.53333
Name: 3036, dtype: object
3037 252.82000000000002 8 MP Last Month    31.6025
Name: 3037, dtype: object
3038 266.08 8 MP Last Month    33.26
Name: 3038, dtype: object
3039 146.5 8 MP Last Month    18.3125
Name: 3039, dtype: object
3040 178.53000000000003 8 MP Last Month    22.3163
Name: 3040, dtype: object
3041 5.279999999999999 6 MP Last Month    0.88
Name: 3041, dtype: object
3042 166.91 8 MP Last Month    20.8637
Name: 3042, dtype: object
3043 123.37000000000002 8 MP Last Month    15.4213
Name: 3043, dtype: object
3044 141.02 8 MP Last Month    17.6275
Name: 3044, dtype: object
3045 8.25 8 MP Last Month    1.03125
Name: 3045, dtype: object
3046 236.82999999999998 8 MP Last Month    29.6037
Name: 3046, dtype: object
3047 219.9 8 MP Last Month    27.4875
Name: 3047, dtype: object
3048 138.82999999999998 8 MP Last Month    17.3537
Name: 3048, dtype: object
3049 255.19 7 MP Last Month    36.4557
Name: 3049, dtype: object
3050 226.51000000000002 7 MP Last Month    32.3586
Name: 3050, dtype: object
3051 107.18 7 MP Last Month    15.3114
Name: 3051, dtype: object
3052 6.42 6 MP Last Month    1.07
Name: 3052, dtype: object
3053 213.23000000000002 7 MP Last Month    30.4614
Name: 3053, dtype: object
3054 133.55 7 MP Last Month    19.0786
Name: 3054, dtype: object
3055 168.79999999999998 7 MP Last Month    24.1143
Name: 3055, dtype: object
3056 41.84 7 MP Last Month    5.97714
Name: 3056, dtype: object
3057 74.16999999999999 7 MP Last Month    10.5957
Name: 3057, dtype: object
3058 143.93 4 MP Last Month    35.9825
Name: 3058, dtype: object
3059 170.56 5 MP Last Month    34.112
Name: 3059, dtype: object
3060 96.55 7 MP Last Month    13.7929
Name: 3060, dtype: object
3061 217.84000000000003 7 MP Last Month    31.12
Name: 3061, dtype: object
3062 88.92 4 MP Last Month    22.23
Name: 3062, dtype: object
3063 46.81999999999999 7 MP Last Month    6.68857
Name: 3063, dtype: object
3064 253.13 7 MP Last Month    36.1614
Name: 3064, dtype: object
3065 142.98999999999998 7 MP Last Month    20.4271
Name: 3065, dtype: object
3066 41.48 7 MP Last Month    5.92571
Name: 3066, dtype: object
3067 232.84 7 MP Last Month    33.2629
Name: 3067, dtype: object
3068 232.91000000000003 7 MP Last Month    33.2729
Name: 3068, dtype: object
3069 11.100000000000001 2 MP Last Month    5.55
Name: 3069, dtype: object
3070 297.91 9 MP Last Month    33.1011
Name: 3070, dtype: object
3071 242.71 9 MP Last Month    26.9678
Name: 3071, dtype: object
3072 219.18 9 MP Last Month    24.3533
Name: 3072, dtype: object
3073 19.82 9 MP Last Month    2.20222
Name: 3073, dtype: object
3074 16.1 9 MP Last Month    1.78889
Name: 3074, dtype: object
3075 270.24 9 MP Last Month    30.0267
Name: 3075, dtype: object
3076 158.87 8 MP Last Month    19.8588
Name: 3076, dtype: object
3077 274.51 9 MP Last Month    30.5011
Name: 3077, dtype: object
3078 154.84999999999997 9 MP Last Month    17.2056
Name: 3078, dtype: object
3079 177.41 8 MP Last Month    22.1762
Name: 3079, dtype: object
3080 243.64000000000004 9 MP Last Month    27.0711
Name: 3080, dtype: object
3081 43.35 9 MP Last Month    4.81667
Name: 3081, dtype: object
3082 139.47 5 MP Last Month    27.894
Name: 3082, dtype: object
3083 231.67000000000002 8 MP Last Month    28.9588
Name: 3083, dtype: object
3084 113.01 4 MP Last Month    28.2525
Name: 3084, dtype: object
3085 153.27 8 MP Last Month    19.1588
Name: 3085, dtype: object
3086 223.90999999999997 8 MP Last Month    27.9887
Name: 3086, dtype: object
3087 53.03999999999999 8 MP Last Month    6.63
Name: 3087, dtype: object
3088 290.95000000000005 8 MP Last Month    36.3688
Name: 3088, dtype: object
3089 256.75 8 MP Last Month    32.0938
Name: 3089, dtype: object
3090 162.94 8 MP Last Month    20.3675
Name: 3090, dtype: object
3091 85.24 6 MP Last Month    14.2067
Name: 3091, dtype: object
3092 217.28 8 MP Last Month    27.16
Name: 3092, dtype: object
3093 7.05 8 MP Last Month    0.88125
Name: 3093, dtype: object
3094 175.85 7 MP Last Month    25.1214
Name: 3094, dtype: object
3095 167.76999999999998 7 MP Last Month    23.9671
Name: 3095, dtype: object
3096 72.86 4 MP Last Month    18.215
Name: 3096, dtype: object
3097 239.23 7 MP Last Month    34.1757
Name: 3097, dtype: object
3098 238.93 7 MP Last Month    34.1329
Name: 3098, dtype: object
3099 0.0 7 MP Last Month    0
Name: 3099, dtype: object
3100 76.16999999999999 6 MP Last Month    12.695
Name: 3100, dtype: object
3101 3.88 7 MP Last Month    0.554286
Name: 3101, dtype: object
3102 206.75 7 MP Last Month    29.5357
Name: 3102, dtype: object
3103 123.71000000000001 7 MP Last Month    17.6729
Name: 3103, dtype: object
3104 142.64 7 MP Last Month    20.3771
Name: 3104, dtype: object
3105 281.81 8 MP Last Month    35.2263
Name: 3105, dtype: object
3106 94.13 8 MP Last Month    11.7662
Name: 3106, dtype: object
3107 88.4 7 MP Last Month    12.6286
Name: 3107, dtype: object
3108 86.58 8 MP Last Month    10.8225
Name: 3108, dtype: object
3109 247.98999999999998 8 MP Last Month    30.9987
Name: 3109, dtype: object
3110 255.10000000000002 8 MP Last Month    31.8875
Name: 3110, dtype: object
3111 24.58 6 MP Last Month    4.09667
Name: 3111, dtype: object
3112 60.23 4 MP Last Month    15.0575
Name: 3112, dtype: object
3113 50.03 6 MP Last Month    8.33833
Name: 3113, dtype: object
3114 141.82000000000002 8 MP Last Month    17.7275
Name: 3114, dtype: object
3115 184.95000000000002 7 MP Last Month    26.4214
Name: 3115, dtype: object
3116 187.23 8 MP Last Month    23.4037
Name: 3116, dtype: object
3117 55.31 8 MP Last Month    6.91375
Name: 3117, dtype: object
3118 309.94000000000005 9 MP Last Month    34.4378
Name: 3118, dtype: object
3119 249.57000000000002 8 MP Last Month    31.1963
Name: 3119, dtype: object
3120 278.04 9 MP Last Month    30.8933
Name: 3120, dtype: object
3121 110.82000000000001 6 MP Last Month    18.47
Name: 3121, dtype: object
3122 217.57000000000002 9 MP Last Month    24.1744
Name: 3122, dtype: object
3123 105.21000000000001 9 MP Last Month    11.69
Name: 3123, dtype: object
3124 169.04 9 MP Last Month    18.7822
Name: 3124, dtype: object
3125 272.58000000000004 9 MP Last Month    30.2867
Name: 3125, dtype: object
3126 313.2 9 MP Last Month    34.8
Name: 3126, dtype: object
3127 0 0 MP Last Month    0
Name: 3127, dtype: object
3128 270.62 8 MP Last Month    33.8275
Name: 3128, dtype: object
3129 148.79 8 MP Last Month    18.5987
Name: 3129, dtype: object
3130 4.88 8 MP Last Month    0.61
Name: 3130, dtype: object
3131 232.48 8 MP Last Month    29.06
Name: 3131, dtype: object
3132 102.13000000000001 8 MP Last Month    12.7663
Name: 3132, dtype: object
3133 197.57 8 MP Last Month    24.6962
Name: 3133, dtype: object
3134 170.53 8 MP Last Month    21.3163
Name: 3134, dtype: object
3135 177.42 8 MP Last Month    22.1775
Name: 3135, dtype: object
3136 56.85 8 MP Last Month    7.10625
Name: 3136, dtype: object
3137 195.85 8 MP Last Month    24.4812
Name: 3137, dtype: object
3138 42.45 8 MP Last Month    5.30625
Name: 3138, dtype: object
3139 187.42000000000002 7 MP Last Month    26.7743
Name: 3139, dtype: object

3140 207.87 7 MP Last Month    29.6957
Name: 3140, dtype: object
3141 261.16 7 MP Last Month    37.3086
Name: 3141, dtype: object
3142 142.10000000000002 7 MP Last Month    20.3
Name: 3142, dtype: object
3143 151.48000000000002 7 MP Last Month    21.64
Name: 3143, dtype: object
3144 204.56 7 MP Last Month    29.2229
Name: 3144, dtype: object
3145 15.74 7 MP Last Month    2.24857
Name: 3145, dtype: object
3146 32.75 7 MP Last Month    4.67857
Name: 3146, dtype: object
3147 246.98 7 MP Last Month    35.2829
Name: 3147, dtype: object
3148 121.19999999999999 7 MP Last Month    17.3143
Name: 3148, dtype: object
3149 110.39999999999999 7 MP Last Month    15.7714
Name: 3149, dtype: object
3150 41.92 7 MP Last Month    5.98857
Name: 3150, dtype: object
3151 245.5 7 MP Last Month    35.0714
Name: 3151, dtype: object
3152 237.43 8 MP Last Month    29.6788
Name: 3152, dtype: object
3153 151.05 8 MP Last Month    18.8813
Name: 3153, dtype: object
3154 68.25999999999999 8 MP Last Month    8.5325
Name: 3154, dtype: object
3155 247.03999999999996 8 MP Last Month    30.88
Name: 3155, dtype: object
3156 270.57 8 MP Last Month    33.8212
Name: 3156, dtype: object
3157 116.63 8 MP Last Month    14.5787
Name: 3157, dtype: object
3158 67.19 8 MP Last Month    8.39875
Name: 3158, dtype: object
3159 0.0 5 MP Last Month    0
Name: 3159, dtype: object
3160 274.34000000000003 8 MP Last Month    34.2925
Name: 3160, dtype: object
3161 157.04999999999998 7 MP Last Month    22.4357
Name: 3161, dtype: object
3162 29.779999999999998 8 MP Last Month    3.7225
Name: 3162, dtype: object
3163 248.75 9 MP Last Month    27.6389
Name: 3163, dtype: object
3164 247.41 9 MP Last Month    27.49
Name: 3164, dtype: object
3165 85.34 6 MP Last Month    14.2233
Name: 3165, dtype: object
3166 286.59999999999997 9 MP Last Month    31.8444
Name: 3166, dtype: object
3167 274.66 9 MP Last Month    30.5178
Name: 3167, dtype: object
3168 182.25 8 MP Last Month    22.7812
Name: 3168, dtype: object
3169 233.36 9 MP Last Month    25.9289
Name: 3169, dtype: object
3170 42.87 4 MP Last Month    10.7175
Name: 3170, dtype: object
3171 14.53 8 MP Last Month    1.81625
Name: 3171, dtype: object
3172 238.07 9 MP Last Month    26.4522
Name: 3172, dtype: object
3173 125.65 6 MP Last Month    20.9417
Name: 3173, dtype: object
3174 153.20999999999998 9 MP Last Month    17.0233
Name: 3174, dtype: object
3175 14.78 7 MP Last Month    2.11143
Name: 3175, dtype: object
3176 242.73999999999995 9 MP Last Month    26.9711
Name: 3176, dtype: object
3177 146.06 5 MP Last Month    29.212
Name: 3177, dtype: object
3178 256.97 9 MP Last Month    28.5522
Name: 3178, dtype: object
3179 165.3 6 MP Last Month    27.55
Name: 3179, dtype: object
3180 53.03999999999999 9 MP Last Month    5.89333
Name: 3180, dtype: object
3181 168.5 9 MP Last Month    18.7222
Name: 3181, dtype: object
3182 285.33 9 MP Last Month    31.7033
Name: 3182, dtype: object
3183 322.30000000000007 9 MP Last Month    35.8111
Name: 3183, dtype: object
3184 178.02 9 MP Last Month    19.78
Name: 3184, dtype: object
3185 85.24 7 MP Last Month    12.1771
Name: 3185, dtype: object
3186 244.35 9 MP Last Month    27.15
Name: 3186, dtype: object
3187 26.720000000000002 9 MP Last Month    2.96889
Name: 3187, dtype: object
3188 0.0 1 MP Last Month    0
Name: 3188, dtype: object
3189 180.73999999999998 7 MP Last Month    25.82
Name: 3189, dtype: object
3190 221.38 7 MP Last Month    31.6257
Name: 3190, dtype: object
3191 73.57999999999998 7 MP Last Month    10.5114
Name: 3191, dtype: object
3192 125.30999999999999 7 MP Last Month    17.9014
Name: 3192, dtype: object
3193 169.13 7 MP Last Month    24.1614
Name: 3193, dtype: object
3194 109.27000000000001 7 MP Last Month    15.61
Name: 3194, dtype: object
3195 217.47 7 MP Last Month    31.0671
Name: 3195, dtype: object
3196 155.94 7 MP Last Month    22.2771
Name: 3196, dtype: object
3197 79.98999999999998 7 MP Last Month    11.4271
Name: 3197, dtype: object
3198 26.310000000000002 6 MP Last Month    4.385
Name: 3198, dtype: object
3199 226.52 7 MP Last Month    32.36
Name: 3199, dtype: object
3200 220.15 7 MP Last Month    31.45
Name: 3200, dtype: object
3201 226.98 8 MP Last Month    28.3725
Name: 3201, dtype: object
3202 186.6 8 MP Last Month    23.325
Name: 3202, dtype: object
3203 244.16 8 MP Last Month    30.52
Name: 3203, dtype: object
3204 248.53 8 MP Last Month    31.0663
Name: 3204, dtype: object
3205 65.73 8 MP Last Month    8.21625
Name: 3205, dtype: object
3206 203.0 8 MP Last Month    25.375
Name: 3206, dtype: object
3207 121.18 8 MP Last Month    15.1475
Name: 3207, dtype: object
3208 165.26 8 MP Last Month    20.6575
Name: 3208, dtype: object
3209 131.03000000000003 8 MP Last Month    16.3788
Name: 3209, dtype: object
3210 24.88 7 MP Last Month    3.55429
Name: 3210, dtype: object
3211 26.0 8 MP Last Month    3.25
Name: 3211, dtype: object
3212 41.269999999999996 6 MP Last Month    6.87833
Name: 3212, dtype: object
3213 166.91 8 MP Last Month    20.8637
Name: 3213, dtype: object
3214 0 0 MP Last Month    0
Name: 3214, dtype: object
3215 200.94000000000003 9 MP Last Month    22.3267
Name: 3215, dtype: object
3216 244.47 9 MP Last Month    27.1633
Name: 3216, dtype: object
3217 183.84 6 MP Last Month    30.64
Name: 3217, dtype: object
3218 235.45 9 MP Last Month    26.1611
Name: 3218, dtype: object
3219 189.0 9 MP Last Month    21
Name: 3219, dtype: object
3220 18.82 6 MP Last Month    3.13667
Name: 3220, dtype: object
3221 5.7 8 MP Last Month    0.7125
Name: 3221, dtype: object
3222 12.0 9 MP Last Month    1.33333
Name: 3222, dtype: object
3223 28.610000000000003 9 MP Last Month    3.17889
Name: 3223, dtype: object
3224 293.36 9 MP Last Month    32.5956
Name: 3224, dtype: object
3225 131.37 9 MP Last Month    14.5967
Name: 3225, dtype: object
3226 177.04000000000002 9 MP Last Month    19.6711
Name: 3226, dtype: object
3227 214.17 9 MP Last Month    23.7967
Name: 3227, dtype: object
3228 271.52 9 MP Last Month    30.1689
Name: 3228, dtype: object
3229 18.37 3 MP Last Month    6.12333
Name: 3229, dtype: object
3230 193.95000000000002 9 MP Last Month    21.55
Name: 3230, dtype: object
3231 79.24000000000001 9 MP Last Month    8.80444
Name: 3231, dtype: object
3232 153.88 9 MP Last Month    17.0978
Name: 3232, dtype: object
3233 153.97000000000003 9 MP Last Month    17.1078
Name: 3233, dtype: object
3234 10.700000000000001 8 MP Last Month    1.3375
Name: 3234, dtype: object
3235 232.26 9 MP Last Month    25.8067
Name: 3235, dtype: object
3236 118.96000000000001 9 MP Last Month    13.2178
Name: 3236, dtype: object
3237 179.54 9 MP Last Month    19.9489
Name: 3237, dtype: object
3238 209.56 8 MP Last Month    26.195
Name: 3238, dtype: object
3239 166.04999999999998 8 MP Last Month    20.7562
Name: 3239, dtype: object
3240 28.580000000000002 8 MP Last Month    3.5725
Name: 3240, dtype: object
3241 250.98999999999998 8 MP Last Month    31.3737
Name: 3241, dtype: object
3242 229.36999999999995 8 MP Last Month    28.6712
Name: 3242, dtype: object
3243 186.63 8 MP Last Month    23.3287
Name: 3243, dtype: object
3244 143.95000000000002 6 MP Last Month    23.9917
Name: 3244, dtype: object
3245 5.52 2 MP Last Month    2.76
Name: 3245, dtype: object
3246 22.41 8 MP Last Month    2.80125
Name: 3246, dtype: object
3247 233.07 8 MP Last Month    29.1337
Name: 3247, dtype: object
3248 164.34 8 MP Last Month    20.5425
Name: 3248, dtype: object
3249 27.189999999999998 8 MP Last Month    3.39875
Name: 3249, dtype: object
3250 278.87 9 MP Last Month    30.9856
Name: 3250, dtype: object
3251 241.00000000000003 10 MP Last Month    24.1
Name: 3251, dtype: object
3252 188.45999999999998 10 MP Last Month    18.846
Name: 3252, dtype: object
3253 117.74000000000002 9 MP Last Month    13.0822
Name: 3253, dtype: object
3254 26.35 9 MP Last Month    2.92778
Name: 3254, dtype: object
3255 308.84000000000003 10 MP Last Month    30.884
Name: 3255, dtype: object
3256 294.80000000000007 10 MP Last Month    29.48
Name: 3256, dtype: object
3257 344.75 10 MP Last Month    34.475
Name: 3257, dtype: object
3258 14.89 9 MP Last Month    1.65444
Name: 3258, dtype: object
3259 343.74000000000007 10 MP Last Month    34.374
Name: 3259, dtype: object

3260 119.41000000000001 10 MP Last Month    11.941
Name: 3260, dtype: object
3261 136.60000000000002 7 MP Last Month    19.5143
Name: 3261, dtype: object
3262 172.98000000000002 5 MP Last Month    34.596
Name: 3262, dtype: object
3263 185.46 7 MP Last Month    26.4943
Name: 3263, dtype: object
3264 103.92999999999999 6 MP Last Month    17.3217
Name: 3264, dtype: object
3265 70.38000000000001 7 MP Last Month    10.0543
Name: 3265, dtype: object
3266 22.439999999999998 2 MP Last Month    11.22
Name: 3266, dtype: object
3267 37.47 5 MP Last Month    7.494
Name: 3267, dtype: object
3268 262.07 8 MP Last Month    32.7587
Name: 3268, dtype: object
3269 128.87 8 MP Last Month    16.1088
Name: 3269, dtype: object
3270 172.54000000000002 8 MP Last Month    21.5675
Name: 3270, dtype: object
3271 14.47 8 MP Last Month    1.80875
Name: 3271, dtype: object
3272 252.8 8 MP Last Month    31.6
Name: 3272, dtype: object
3273 38.230000000000004 8 MP Last Month    4.77875
Name: 3273, dtype: object
3274 172.17000000000002 8 MP Last Month    21.5213
Name: 3274, dtype: object
3275 306.42 9 MP Last Month    34.0467
Name: 3275, dtype: object
3276 170.72 9 MP Last Month    18.9689
Name: 3276, dtype: object
3277 4.88 9 MP Last Month    0.542222
Name: 3277, dtype: object
3278 120.9 9 MP Last Month    13.4333
Name: 3278, dtype: object
3279 221.29 9 MP Last Month    24.5878
Name: 3279, dtype: object
3280 264.58 9 MP Last Month    29.3978
Name: 3280, dtype: object
3281 188.38 9 MP Last Month    20.9311
Name: 3281, dtype: object
3282 193.14999999999998 9 MP Last Month    21.4611
Name: 3282, dtype: object
3283 61.85 9 MP Last Month    6.87222
Name: 3283, dtype: object
3284 225.95 9 MP Last Month    25.1056
Name: 3284, dtype: object
3285 45.650000000000006 9 MP Last Month    5.07222
Name: 3285, dtype: object
3286 293.2 9 MP Last Month    32.5778
Name: 3286, dtype: object
3287 237.64000000000001 9 MP Last Month    26.4044
Name: 3287, dtype: object
3288 289.88000000000005 9 MP Last Month    32.2089
Name: 3288, dtype: object
3289 209.85999999999999 9 MP Last Month    23.3178
Name: 3289, dtype: object
3290 45.66 4 MP Last Month    11.415
Name: 3290, dtype: object
3291 266.84999999999997 9 MP Last Month    29.65
Name: 3291, dtype: object
3292 156.86999999999998 7 MP Last Month    22.41
Name: 3292, dtype: object
3293 36.41 3 MP Last Month    12.1367
Name: 3293, dtype: object
3294 244.43000000000004 9 MP Last Month    27.1589
Name: 3294, dtype: object
3295 75.25 9 MP Last Month    8.36111
Name: 3295, dtype: object
3296 20.53 8 MP Last Month    2.56625
Name: 3296, dtype: object
3297 133.45 9 MP Last Month    14.8278
Name: 3297, dtype: object
3298 216.04000000000002 8 MP Last Month    27.005
Name: 3298, dtype: object
3299 231.2 8 MP Last Month    28.9
Name: 3299, dtype: object
3300 299.44000000000005 8 MP Last Month    37.43
Name: 3300, dtype: object
3301 178.68 8 MP Last Month    22.335
Name: 3301, dtype: object
3302 179.75000000000003 8 MP Last Month    22.4688
Name: 3302, dtype: object
3303 33.65 8 MP Last Month    4.20625
Name: 3303, dtype: object
3304 16.64 8 MP Last Month    2.08
Name: 3304, dtype: object
3305 223.83 8 MP Last Month    27.9788
Name: 3305, dtype: object
3306 134.39999999999998 8 MP Last Month    16.8
Name: 3306, dtype: object
3307 286.65999999999997 8 MP Last Month    35.8325
Name: 3307, dtype: object
3308 120.47 8 MP Last Month    15.0587
Name: 3308, dtype: object
3309 42.82 8 MP Last Month    5.3525
Name: 3309, dtype: object
3310 6.32 4 MP Last Month    1.58
Name: 3310, dtype: object
3311 310.68 9 MP Last Month    34.52
Name: 3311, dtype: object
3312 39.050000000000004 4 MP Last Month    9.7625
Name: 3312, dtype: object
3313 118.85 5 MP Last Month    23.77
Name: 3313, dtype: object
3314 63.8 9 MP Last Month    7.08889
Name: 3314, dtype: object
3315 29.21 8 MP Last Month    3.65125
Name: 3315, dtype: object
3316 234.20999999999998 9 MP Last Month    26.0233
Name: 3316, dtype: object
3317 274.82 9 MP Last Month    30.5356
Name: 3317, dtype: object
3318 142.24 6 MP Last Month    23.7067
Name: 3318, dtype: object
3319 128.07 9 MP Last Month    14.23
Name: 3319, dtype: object
3320 149.14 9 MP Last Month    16.5711
Name: 3320, dtype: object
3321 248.09999999999997 9 MP Last Month    27.5667
Name: 3321, dtype: object
3322 169.93 9 MP Last Month    18.8811
Name: 3322, dtype: object
3323 9.62 9 MP Last Month    1.06889
Name: 3323, dtype: object
3324 271.21999999999997 8 MP Last Month    33.9025
Name: 3324, dtype: object
3325 264.33 8 MP Last Month    33.0412
Name: 3325, dtype: object
3326 185.66 8 MP Last Month    23.2075
Name: 3326, dtype: object
3327 105.31999999999998 8 MP Last Month    13.165
Name: 3327, dtype: object
3328 20.61 7 MP Last Month    2.94429
Name: 3328, dtype: object
3329 183.05 7 MP Last Month    26.15
Name: 3329, dtype: object
3330 198.26 8 MP Last Month    24.7825
Name: 3330, dtype: object
3331 224.02 8 MP Last Month    28.0025
Name: 3331, dtype: object
3332 23.18 1 MP Last Month    23.18
Name: 3332, dtype: object
3333 88.6 8 MP Last Month    11.075
Name: 3333, dtype: object
3334 106.31 8 MP Last Month    13.2888
Name: 3334, dtype: object
3335 19.98 8 MP Last Month    2.4975
Name: 3335, dtype: object
3336 282.13000000000005 9 MP Last Month    31.3478
Name: 3336, dtype: object
3337 209.04 9 MP Last Month    23.2267
Name: 3337, dtype: object
3338 204.95 9 MP Last Month    22.7722
Name: 3338, dtype: object
3339 6.07 9 MP Last Month    0.674444
Name: 3339, dtype: object
3340 293.09000000000003 9 MP Last Month    32.5656
Name: 3340, dtype: object
3341 234.62999999999997 8 MP Last Month    29.3287
Name: 3341, dtype: object
3342 199.4 8 MP Last Month    24.925
Name: 3342, dtype: object
3343 234.51 9 MP Last Month    26.0567
Name: 3343, dtype: object
3344 46.8 9 MP Last Month    5.2
Name: 3344, dtype: object
3345 17.98 9 MP Last Month    1.99778
Name: 3345, dtype: object
3346 265.08 9 MP Last Month    29.4533
Name: 3346, dtype: object
3347 92.51999999999998 6 MP Last Month    15.42
Name: 3347, dtype: object
3348 12.49 7 MP Last Month    1.78429
Name: 3348, dtype: object
3349 342.47 10 MP Last Month    34.247
Name: 3349, dtype: object
3350 172.93 10 MP Last Month    17.293
Name: 3350, dtype: object
3351 234.04999999999998 10 MP Last Month    23.405
Name: 3351, dtype: object
3352 176.28999999999996 10 MP Last Month    17.629
Name: 3352, dtype: object
3353 218.21999999999997 10 MP Last Month    21.822
Name: 3353, dtype: object
3354 36.38 7 MP Last Month    5.19714
Name: 3354, dtype: object
3355 295.51 10 MP Last Month    29.551
Name: 3355, dtype: object
3356 343.39 10 MP Last Month    34.339
Name: 3356, dtype: object
3357 141.76 9 MP Last Month    15.7511
Name: 3357, dtype: object
3358 56.4 10 MP Last Month    5.64
Name: 3358, dtype: object
3359 232.11 9 MP Last Month    25.79
Name: 3359, dtype: object
3360 72.36000000000001 8 MP Last Month    9.045
Name: 3360, dtype: object
3361 201.07 9 MP Last Month    22.3411
Name: 3361, dtype: object
3362 213.01 9 MP Last Month    23.6678
Name: 3362, dtype: object
3363 288.43 9 MP Last Month    32.0478
Name: 3363, dtype: object
3364 245.41 9 MP Last Month    27.2678
Name: 3364, dtype: object
3365 155.03 9 MP Last Month    17.2256
Name: 3365, dtype: object
3366 123.03 9 MP Last Month    13.67
Name: 3366, dtype: object
3367 43.82 8 MP Last Month    5.4775
Name: 3367, dtype: object
3368 241.31999999999996 9 MP Last Month    26.8133
Name: 3368, dtype: object
3369 138.92000000000002 7 MP Last Month    19.8457
Name: 3369, dtype: object
3370 21.2 7 MP Last Month    3.02857
Name: 3370, dtype: object
3371 47.79 9 MP Last Month    5.31
Name: 3371, dtype: object
3372 288.04 9 MP Last Month    32.0044
Name: 3372, dtype: object
3373 297.61 9 MP Last Month    33.0678
Name: 3373, dtype: object
3374 190.58000000000004 9 MP Last Month    21.1756
Name: 3374, dtype: object
3375 165.07 9 MP Last Month    18.3411
Name: 3375, dtype: object
3376 7.2299999999999995 7 MP Last Month    1.03286
Name: 3376, dtype: object
3377 187.29 9 MP Last Month    20.81
Name: 3377, dtype: object
3378 151.55 9 MP Last Month    16.8389
Name: 3378, dtype: object
3379 162.05 9 MP Last Month    18.0056
Name: 3379, dtype: object
3380 10.2 9 MP Last Month    1.13333
Name: 3380, dtype: object

3381 265.72999999999996 9 MP Last Month    29.5256
Name: 3381, dtype: object
3382 242.98000000000002 9 MP Last Month    26.9978
Name: 3382, dtype: object
3383 155.98 9 MP Last Month    17.3311
Name: 3383, dtype: object
3384 153.72000000000003 8 MP Last Month    19.215
Name: 3384, dtype: object
3385 239.95000000000002 8 MP Last Month    29.9938
Name: 3385, dtype: object
3386 54.540000000000006 8 MP Last Month    6.8175
Name: 3386, dtype: object
3387 85.94999999999999 8 MP Last Month    10.7437
Name: 3387, dtype: object
3388 0 0 MP Last Month    0
Name: 3388, dtype: object
3389 199.07 8 MP Last Month    24.8837
Name: 3389, dtype: object
3390 7.52 5 MP Last Month    1.504
Name: 3390, dtype: object
3391 247.28000000000003 8 MP Last Month    30.91
Name: 3391, dtype: object
3392 292.22 8 MP Last Month    36.5275
Name: 3392, dtype: object
3393 28.89 7 MP Last Month    4.12714
Name: 3393, dtype: object
3394 122.91000000000001 8 MP Last Month    15.3638
Name: 3394, dtype: object
3395 341.0799999999999 10 MP Last Month    34.108
Name: 3395, dtype: object
3396 331.04 10 MP Last Month    33.104
Name: 3396, dtype: object
3397 71.78 9 MP Last Month    7.97556
Name: 3397, dtype: object
3398 2.17 3 MP Last Month    0.723333
Name: 3398, dtype: object
3399 353.54999999999995 10 MP Last Month    35.355
Name: 3399, dtype: object
3400 133.24 10 MP Last Month    13.324
Name: 3400, dtype: object
3401 161.71999999999997 10 MP Last Month    16.172
Name: 3401, dtype: object
3402 94.91 10 MP Last Month    9.491
Name: 3402, dtype: object
3403 166.65999999999997 10 MP Last Month    16.666
Name: 3403, dtype: object
3404 162.38000000000002 10 MP Last Month    16.238
Name: 3404, dtype: object
3405 315.7 10 MP Last Month    31.57
Name: 3405, dtype: object
3406 177.20000000000002 5 MP Last Month    35.44
Name: 3406, dtype: object
3407 205.93 6 MP Last Month    34.3217
Name: 3407, dtype: object
3408 96.55 8 MP Last Month    12.0687
Name: 3408, dtype: object
3409 67.97 8 MP Last Month    8.49625
Name: 3409, dtype: object
3410 286.8 8 MP Last Month    35.85
Name: 3410, dtype: object
3411 106.22 5 MP Last Month    21.244
Name: 3411, dtype: object
3412 250.01000000000005 8 MP Last Month    31.2513
Name: 3412, dtype: object
3413 162.07 8 MP Last Month    20.2587
Name: 3413, dtype: object
3414 54.26 8 MP Last Month    6.7825
Name: 3414, dtype: object
3415 268.13 8 MP Last Month    33.5162
Name: 3415, dtype: object
3416 11.100000000000001 3 MP Last Month    3.7
Name: 3416, dtype: object
3417 334.43 10 MP Last Month    33.443
Name: 3417, dtype: object
3418 268.46000000000004 10 MP Last Month    26.846
Name: 3418, dtype: object
3419 244.18 10 MP Last Month    24.418
Name: 3419, dtype: object
3420 19.82 10 MP Last Month    1.982
Name: 3420, dtype: object
3421 16.1 10 MP Last Month    1.61
Name: 3421, dtype: object
3422 293.72 10 MP Last Month    29.372
Name: 3422, dtype: object
3423 303.90999999999997 10 MP Last Month    30.391
Name: 3423, dtype: object
3424 180.69 9 MP Last Month    20.0767
Name: 3424, dtype: object
3425 166.27999999999997 10 MP Last Month    16.628
Name: 3425, dtype: object
3426 204.49 9 MP Last Month    22.7211
Name: 3426, dtype: object
3427 271.6700000000001 10 MP Last Month    27.167
Name: 3427, dtype: object
3428 43.35 10 MP Last Month    4.335
Name: 3428, dtype: object
3429 216.1 9 MP Last Month    24.0111
Name: 3429, dtype: object
3430 223.72000000000003 9 MP Last Month    24.8578
Name: 3430, dtype: object
3431 56.61 8 MP Last Month    7.07625
Name: 3431, dtype: object
3432 21.48 6 MP Last Month    3.58
Name: 3432, dtype: object
3433 19.740000000000002 9 MP Last Month    2.19333
Name: 3433, dtype: object
3434 0 0 MP Last Month    0
Name: 3434, dtype: object
3435 298.06 9 MP Last Month    33.1178
Name: 3435, dtype: object
3436 260.78 9 MP Last Month    28.9756
Name: 3436, dtype: object
3437 112.42 9 MP Last Month    12.4911
Name: 3437, dtype: object
3438 183.57 9 MP Last Month    20.3967
Name: 3438, dtype: object
3439 111.77999999999999 9 MP Last Month    12.42
Name: 3439, dtype: object
3440 133.03 9 MP Last Month    14.7811
Name: 3440, dtype: object
3441 208.61999999999998 8 MP Last Month    26.0775
Name: 3441, dtype: object
3442 195.70999999999998 8 MP Last Month    24.4637
Name: 3442, dtype: object
3443 154.57999999999998 8 MP Last Month    19.3225
Name: 3443, dtype: object
3444 248.25 8 MP Last Month    31.0312
Name: 3444, dtype: object
3445 118.55000000000001 8 MP Last Month    14.8188
Name: 3445, dtype: object
3446 89.07999999999998 8 MP Last Month    11.135
Name: 3446, dtype: object
3447 178.46 8 MP Last Month    22.3075
Name: 3447, dtype: object
3448 253.6 8 MP Last Month    31.7
Name: 3448, dtype: object
3449 31.130000000000003 7 MP Last Month    4.44714
Name: 3449, dtype: object
3450 263.2 8 MP Last Month    32.9
Name: 3450, dtype: object
3451 222.32000000000002 7 MP Last Month    31.76
Name: 3451, dtype: object
3452 202.28 8 MP Last Month    25.285
Name: 3452, dtype: object
3453 192.04 8 MP Last Month    24.005
Name: 3453, dtype: object
3454 277.13 8 MP Last Month    34.6412
Name: 3454, dtype: object
3455 109.63 5 MP Last Month    21.926
Name: 3455, dtype: object
3456 273.25 8 MP Last Month    34.1562
Name: 3456, dtype: object
3457 88.32 7 MP Last Month    12.6171
Name: 3457, dtype: object
3458 8.0 8 MP Last Month    1
Name: 3458, dtype: object
3459 3.88 8 MP Last Month    0.485
Name: 3459, dtype: object
3460 154.34 8 MP Last Month    19.2925
Name: 3460, dtype: object
3461 156.44 8 MP Last Month    19.555
Name: 3461, dtype: object
3462 244.47 10 MP Last Month    24.447
Name: 3462, dtype: object
3463 193.64 9 MP Last Month    21.5156
Name: 3463, dtype: object
3464 230.47000000000003 10 MP Last Month    23.047
Name: 3464, dtype: object
3465 237.57 7 MP Last Month    33.9386
Name: 3465, dtype: object
3466 258.2 10 MP Last Month    25.82
Name: 3466, dtype: object
3467 214.77 7 MP Last Month    30.6814
Name: 3467, dtype: object
3468 208.05 10 MP Last Month    20.805
Name: 3468, dtype: object
3469 34.81 10 MP Last Month    3.481
Name: 3469, dtype: object
3470 17.7 9 MP Last Month    1.96667
Name: 3470, dtype: object
3471 19.0 10 MP Last Month    1.9
Name: 3471, dtype: object
3472 42.35 7 MP Last Month    6.05
Name: 3472, dtype: object
3473 318.74 10 MP Last Month    31.874
Name: 3473, dtype: object
3474 146.99 10 MP Last Month    14.699
Name: 3474, dtype: object
3475 320.91 9 MP Last Month    35.6567
Name: 3475, dtype: object
3476 112.8 9 MP Last Month    12.5333
Name: 3476, dtype: object
3477 95.45 8 MP Last Month    11.9313
Name: 3477, dtype: object
3478 87.48 9 MP Last Month    9.72
Name: 3478, dtype: object
3479 283.76 9 MP Last Month    31.5289
Name: 3479, dtype: object
3480 52.31 7 MP Last Month    7.47286
Name: 3480, dtype: object
3481 74.3 5 MP Last Month    14.86
Name: 3481, dtype: object
3482 45.86 7 MP Last Month    6.55143
Name: 3482, dtype: object
3483 289.20000000000005 9 MP Last Month    32.1333
Name: 3483, dtype: object
3484 141.82000000000002 9 MP Last Month    15.7578
Name: 3484, dtype: object
3485 213.42999999999998 9 MP Last Month    23.7144
Name: 3485, dtype: object
3486 224.63000000000002 8 MP Last Month    28.0788
Name: 3486, dtype: object
3487 56.21 9 MP Last Month    6.24556
Name: 3487, dtype: object
3488 215.47000000000003 10 MP Last Month    21.547
Name: 3488, dtype: object
3489 244.7 10 MP Last Month    24.47
Name: 3489, dtype: object
3490 41.19 4 MP Last Month    10.2975
Name: 3490, dtype: object
3491 197.19000000000003 10 MP Last Month    19.719
Name: 3491, dtype: object
3492 294.03999999999996 10 MP Last Month    29.404
Name: 3492, dtype: object
3493 81.41000000000001 10 MP Last Month    8.141
Name: 3493, dtype: object
3494 179.01 10 MP Last Month    17.901
Name: 3494, dtype: object
3495 55.879999999999995 3 MP Last Month    18.6267
Name: 3495, dtype: object
3496 161.75000000000003 10 MP Last Month    16.175
Name: 3496, dtype: object
3497 256.53 10 MP Last Month    25.653
Name: 3497, dtype: object
3498 189.89 10 MP Last Month    18.989
Name: 3498, dtype: object
3499 145.26000000000002 10 MP Last Month    14.526
Name: 3499, dtype: object
3500 195.01999999999998 6 MP Last Month    32.5033
Name: 3500, dtype: object
3501 229.37 8 MP Last Month    28.6713
Name: 3501, dtype: object

3502 98.11 7 MP Last Month    14.0157
Name: 3502, dtype: object
3503 31.9 8 MP Last Month    3.9875
Name: 3503, dtype: object
3504 277.27 8 MP Last Month    34.6587
Name: 3504, dtype: object
3505 236.59 8 MP Last Month    29.5738
Name: 3505, dtype: object
3506 173.69 8 MP Last Month    21.7112
Name: 3506, dtype: object
3507 164.88 8 MP Last Month    20.61
Name: 3507, dtype: object
3508 6.25 6 MP Last Month    1.04167
Name: 3508, dtype: object
3509 230.26 7 MP Last Month    32.8943
Name: 3509, dtype: object
3510 143.54000000000002 8 MP Last Month    17.9425
Name: 3510, dtype: object
3511 115.71000000000001 8 MP Last Month    14.4638
Name: 3511, dtype: object
3512 181.52999999999997 9 MP Last Month    20.17
Name: 3512, dtype: object
3513 242.08 9 MP Last Month    26.8978
Name: 3513, dtype: object
3514 28.580000000000002 9 MP Last Month    3.17556
Name: 3514, dtype: object
3515 292.21 9 MP Last Month    32.4678
Name: 3515, dtype: object
3516 262.13999999999993 9 MP Last Month    29.1267
Name: 3516, dtype: object
3517 218.03 9 MP Last Month    24.2256
Name: 3517, dtype: object
3518 161.93 7 MP Last Month    23.1329
Name: 3518, dtype: object
3519 5.52 3 MP Last Month    1.84
Name: 3519, dtype: object
3520 22.41 9 MP Last Month    2.49
Name: 3520, dtype: object
3521 265.53999999999996 9 MP Last Month    29.5044
Name: 3521, dtype: object
3522 179.87 9 MP Last Month    19.9856
Name: 3522, dtype: object
3523 33.97 9 MP Last Month    3.77444
Name: 3523, dtype: object
3524 344.05 10 MP Last Month    34.405
Name: 3524, dtype: object
3525 141.95 6 MP Last Month    23.6583
Name: 3525, dtype: object
3526 60.620000000000005 5 MP Last Month    12.124
Name: 3526, dtype: object
3527 63.8 10 MP Last Month    6.38
Name: 3527, dtype: object
3528 29.21 9 MP Last Month    3.24556
Name: 3528, dtype: object
3529 268.84 10 MP Last Month    26.884
Name: 3529, dtype: object
3530 166.31 7 MP Last Month    23.7586
Name: 3530, dtype: object
3531 300.77 10 MP Last Month    30.077
Name: 3531, dtype: object
3532 144.97 10 MP Last Month    14.497
Name: 3532, dtype: object
3533 163.36999999999998 10 MP Last Month    16.337
Name: 3533, dtype: object
3534 187.0 10 MP Last Month    18.7
Name: 3534, dtype: object
3535 277.21999999999997 10 MP Last Month    27.722
Name: 3535, dtype: object
3536 9.62 10 MP Last Month    0.962
Name: 3536, dtype: object
3537 55.120000000000005 6 MP Last Month    9.18667
Name: 3537, dtype: object
3538 270.05 9 MP Last Month    30.0056
Name: 3538, dtype: object
3539 168.70000000000002 9 MP Last Month    18.7444
Name: 3539, dtype: object
3540 73.47999999999999 9 MP Last Month    8.16444
Name: 3540, dtype: object
3541 140.0 9 MP Last Month    15.5556
Name: 3541, dtype: object
3542 278.55999999999995 9 MP Last Month    30.9511
Name: 3542, dtype: object
3543 303.3 9 MP Last Month    33.7
Name: 3543, dtype: object
3544 71.97 9 MP Last Month    7.99667
Name: 3544, dtype: object
3545 3.03 6 MP Last Month    0.505
Name: 3545, dtype: object
3546 309.54 9 MP Last Month    34.3933
Name: 3546, dtype: object
3547 175.98 8 MP Last Month    21.9975
Name: 3547, dtype: object
3548 32.309999999999995 9 MP Last Month    3.59
Name: 3548, dtype: object
3549 278.95 9 MP Last Month    30.9944
Name: 3549, dtype: object
3550 141.70000000000002 9 MP Last Month    15.7444
Name: 3550, dtype: object
3551 140.85999999999999 9 MP Last Month    15.6511
Name: 3551, dtype: object
3552 184.37 9 MP Last Month    20.4856
Name: 3552, dtype: object
3553 51.800000000000004 9 MP Last Month    5.75556
Name: 3553, dtype: object
3554 0 0 MP Last Month    0
Name: 3554, dtype: object
3555 257.23 9 MP Last Month    28.5811
Name: 3555, dtype: object
3556 99.08000000000001 6 MP Last Month    16.5133
Name: 3556, dtype: object
3557 146.71 8 MP Last Month    18.3388
Name: 3557, dtype: object
3558 114.09 6 MP Last Month    19.015
Name: 3558, dtype: object
3559 211.98 9 MP Last Month    23.5533
Name: 3559, dtype: object
3560 44.38 9 MP Last Month    4.93111
Name: 3560, dtype: object
3561 273.8 10 MP Last Month    27.38
Name: 3561, dtype: object
3562 269.65999999999997 10 MP Last Month    26.966
Name: 3562, dtype: object
3563 101.67 7 MP Last Month    14.5243
Name: 3563, dtype: object
3564 315.11999999999995 10 MP Last Month    31.512
Name: 3564, dtype: object
3565 205.68 9 MP Last Month    22.8533
Name: 3565, dtype: object
3566 303.53000000000003 10 MP Last Month    30.353
Name: 3566, dtype: object
3567 248.21 10 MP Last Month    24.821
Name: 3567, dtype: object
3568 46.019999999999996 5 MP Last Month    9.204
Name: 3568, dtype: object
3569 264.9 10 MP Last Month    26.49
Name: 3569, dtype: object
3570 167.87999999999997 10 MP Last Month    16.788
Name: 3570, dtype: object
3571 155.4 7 MP Last Month    22.2
Name: 3571, dtype: object
3572 17.93 8 MP Last Month    2.24125
Name: 3572, dtype: object
3573 332.07 10 MP Last Month    33.207
Name: 3573, dtype: object
3574 235.11 10 MP Last Month    23.511
Name: 3574, dtype: object
3575 162.95 9 MP Last Month    18.1056
Name: 3575, dtype: object
3576 27.88 7 MP Last Month    3.98286
Name: 3576, dtype: object
3577 229.34 10 MP Last Month    22.934
Name: 3577, dtype: object
3578 333.01 10 MP Last Month    33.301
Name: 3578, dtype: object
3579 246.05999999999997 10 MP Last Month    24.606
Name: 3579, dtype: object
3580 174.85999999999999 10 MP Last Month    17.486
Name: 3580, dtype: object
3581 216.11 10 MP Last Month    21.611
Name: 3581, dtype: object
3582 221.19999999999996 10 MP Last Month    22.12
Name: 3582, dtype: object
3583 51.88000000000001 9 MP Last Month    5.76444
Name: 3583, dtype: object
3584 21.75 10 MP Last Month    2.175
Name: 3584, dtype: object
3585 313.03999999999996 9 MP Last Month    34.7822
Name: 3585, dtype: object
3586 142.79 9 MP Last Month    15.8656
Name: 3586, dtype: object
3587 159.86 5 MP Last Month    31.972
Name: 3587, dtype: object
3588 228.54999999999998 9 MP Last Month    25.3944
Name: 3588, dtype: object
3589 169.13999999999996 9 MP Last Month    18.7933
Name: 3589, dtype: object
3590 15.229999999999999 9 MP Last Month    1.69222
Name: 3590, dtype: object
3591 303.65 9 MP Last Month    33.7389
Name: 3591, dtype: object
3592 133.32 9 MP Last Month    14.8133
Name: 3592, dtype: object
3593 0.0 9 MP Last Month    0
Name: 3593, dtype: object
3594 248.5 9 MP Last Month    27.6111
Name: 3594, dtype: object
3595 271.94 9 MP Last Month    30.2156
Name: 3595, dtype: object
3596 181.81 9 MP Last Month    20.2011
Name: 3596, dtype: object
3597 33.8 9 MP Last Month    3.75556
Name: 3597, dtype: object
3598 32.68 8 MP Last Month    4.085
Name: 3598, dtype: object
3599 270.58 9 MP Last Month    30.0644
Name: 3599, dtype: object
3600 250.25 8 MP Last Month    31.2812
Name: 3600, dtype: object
3601 149.18000000000004 9 MP Last Month    16.5756
Name: 3601, dtype: object
3602 83.61 9 MP Last Month    9.29
Name: 3602, dtype: object
3603 222.52 9 MP Last Month    24.7244
Name: 3603, dtype: object
3604 208.01999999999998 9 MP Last Month    23.1133
Name: 3604, dtype: object
3605 140.83 9 MP Last Month    15.6478
Name: 3605, dtype: object
3606 51.05 7 MP Last Month    7.29286
Name: 3606, dtype: object
3607 207.96 6 MP Last Month    34.66
Name: 3607, dtype: object
3608 216.13 8 MP Last Month    27.0162
Name: 3608, dtype: object
3609 118.38 7 MP Last Month    16.9114
Name: 3609, dtype: object
3610 76.33000000000001 8 MP Last Month    9.54125
Name: 3610, dtype: object
3611 37.47 6 MP Last Month    6.245
Name: 3611, dtype: object
3612 301.12 9 MP Last Month    33.4578
Name: 3612, dtype: object
3613 154.55 9 MP Last Month    17.1722
Name: 3613, dtype: object
3614 197.18 8 MP Last Month    24.6475
Name: 3614, dtype: object
3615 185.94000000000003 9 MP Last Month    20.66
Name: 3615, dtype: object
3616 14.47 9 MP Last Month    1.60778
Name: 3616, dtype: object
3617 289.32 9 MP Last Month    32.1467
Name: 3617, dtype: object
3618 49.71000000000001 9 MP Last Month    5.52333
Name: 3618, dtype: object
3619 199.99 9 MP Last Month    22.2211
Name: 3619, dtype: object
3620 334.44 10 MP Last Month    33.444
Name: 3620, dtype: object
3621 186.15 10 MP Last Month    18.615
Name: 3621, dtype: object
3622 2.8 3 MP Last Month    0.933333
Name: 3622, dtype: object
3623 14.760000000000002 10 MP Last Month    1.476
Name: 3623, dtype: object

3624 243.35999999999999 10 MP Last Month    24.336
Name: 3624, dtype: object
3625 287.72999999999996 10 MP Last Month    28.773
Name: 3625, dtype: object
3626 145.15 10 MP Last Month    14.515
Name: 3626, dtype: object
3627 206.82999999999998 10 MP Last Month    20.683
Name: 3627, dtype: object
3628 202.48 10 MP Last Month    20.248
Name: 3628, dtype: object
3629 71.73 10 MP Last Month    7.173
Name: 3629, dtype: object
3630 248.64999999999998 10 MP Last Month    24.865
Name: 3630, dtype: object
3631 67.47 10 MP Last Month    6.747
Name: 3631, dtype: object
3632 309.09999999999997 9 MP Last Month    34.3444
Name: 3632, dtype: object
3633 303.86 9 MP Last Month    33.7622
Name: 3633, dtype: object
3634 210.79 9 MP Last Month    23.4211
Name: 3634, dtype: object
3635 119.76999999999998 9 MP Last Month    13.3078
Name: 3635, dtype: object
3636 231.28000000000003 8 MP Last Month    28.91
Name: 3636, dtype: object
3637 225.73 9 MP Last Month    25.0811
Name: 3637, dtype: object
3638 248.12 9 MP Last Month    27.5689
Name: 3638, dtype: object
3639 214.15 8 MP Last Month    26.7688
Name: 3639, dtype: object
3640 53.8 2 MP Last Month    26.9
Name: 3640, dtype: object
3641 93.97 9 MP Last Month    10.4411
Name: 3641, dtype: object
3642 21.43 9 MP Last Month    2.38111
Name: 3642, dtype: object
3643 106.31 9 MP Last Month    11.8122
Name: 3643, dtype: object
3644 308.77 10 MP Last Month    30.877
Name: 3644, dtype: object
3645 159.88000000000002 10 MP Last Month    15.988
Name: 3645, dtype: object
3646 207.14000000000001 10 MP Last Month    20.714
Name: 3646, dtype: object
3647 0.0 1 MP Last Month    0
Name: 3647, dtype: object
3648 59.080000000000005 10 MP Last Month    5.908
Name: 3648, dtype: object
3649 163.46 9 MP Last Month    18.1622
Name: 3649, dtype: object
3650 285.3 10 MP Last Month    28.53
Name: 3650, dtype: object
3651 116.46000000000001 7 MP Last Month    16.6371
Name: 3651, dtype: object
3652 231.06 10 MP Last Month    23.106
Name: 3652, dtype: object
3653 44.38 10 MP Last Month    4.438
Name: 3653, dtype: object
3654 133.32 7 MP Last Month    19.0457
Name: 3654, dtype: object
3655 391.49 11 MP Last Month    35.59
Name: 3655, dtype: object
3656 235.48999999999998 11 MP Last Month    21.4082
Name: 3656, dtype: object
3657 193.06 11 MP Last Month    17.5509
Name: 3657, dtype: object
3658 274.78 11 MP Last Month    24.98
Name: 3658, dtype: object
3659 191.83999999999997 11 MP Last Month    17.44
Name: 3659, dtype: object
3660 36.38 8 MP Last Month    4.5475
Name: 3660, dtype: object
3661 337.93 11 MP Last Month    30.7209
Name: 3661, dtype: object
3662 390.24 11 MP Last Month    35.4764
Name: 3662, dtype: object
3663 73.72 11 MP Last Month    6.70182
Name: 3663, dtype: object
3664 160.14 10 MP Last Month    16.014
Name: 3664, dtype: object
3665 226.64 10 MP Last Month    22.664
Name: 3665, dtype: object
3666 97.53000000000002 9 MP Last Month    10.8367
Name: 3666, dtype: object
3667 229.73999999999998 10 MP Last Month    22.974
Name: 3667, dtype: object
3668 276.11 10 MP Last Month    27.611
Name: 3668, dtype: object
3669 127.4 10 MP Last Month    12.74
Name: 3669, dtype: object
3670 43.82 9 MP Last Month    4.86889
Name: 3670, dtype: object
3671 331.03000000000003 10 MP Last Month    33.103
Name: 3671, dtype: object
3672 275.65 10 MP Last Month    27.565
Name: 3672, dtype: object
3673 47.79 10 MP Last Month    4.779
Name: 3673, dtype: object
3674 152.54000000000002 8 MP Last Month    19.0675
Name: 3674, dtype: object
3675 346.30999999999995 10 MP Last Month    34.631
Name: 3675, dtype: object
3676 144.06 10 MP Last Month    14.406
Name: 3676, dtype: object
3677 191.18 6 MP Last Month    31.8633
Name: 3677, dtype: object
3678 185.56999999999996 10 MP Last Month    18.557
Name: 3678, dtype: object
3679 257.02 10 MP Last Month    25.702
Name: 3679, dtype: object
3680 16.5 10 MP Last Month    1.65
Name: 3680, dtype: object
3681 335.9 10 MP Last Month    33.59
Name: 3681, dtype: object
3682 148.47 10 MP Last Month    14.847
Name: 3682, dtype: object
3683 1.27 10 MP Last Month    0.127
Name: 3683, dtype: object
3684 326.26 10 MP Last Month    32.626
Name: 3684, dtype: object
3685 334.96000000000004 10 MP Last Month    33.496
Name: 3685, dtype: object
3686 210.08000000000004 10 MP Last Month    21.008
Name: 3686, dtype: object
3687 186.95 10 MP Last Month    18.695
Name: 3687, dtype: object
3688 7.2299999999999995 8 MP Last Month    0.90375
Name: 3688, dtype: object
3689 210.37 10 MP Last Month    21.037
Name: 3689, dtype: object
3690 175.87 10 MP Last Month    17.587
Name: 3690, dtype: object
3691 164.78 10 MP Last Month    16.478
Name: 3691, dtype: object
3692 10.2 10 MP Last Month    1.02
Name: 3692, dtype: object
3693 173.45999999999998 10 MP Last Month    17.346
Name: 3693, dtype: object
3694 293.17999999999995 10 MP Last Month    29.318
Name: 3694, dtype: object
3695 270.96000000000004 10 MP Last Month    27.096
Name: 3695, dtype: object
3696 188.75000000000003 9 MP Last Month    20.9722
Name: 3696, dtype: object
3697 277.92 9 MP Last Month    30.88
Name: 3697, dtype: object
3698 65.72 9 MP Last Month    7.30222
Name: 3698, dtype: object
3699 213.04999999999998 9 MP Last Month    23.6722
Name: 3699, dtype: object
3700 170.72 7 MP Last Month    24.3886
Name: 3700, dtype: object
3701 291.36 9 MP Last Month    32.3733
Name: 3701, dtype: object
3702 332.29 9 MP Last Month    36.9211
Name: 3702, dtype: object
3703 131.84 9 MP Last Month    14.6489
Name: 3703, dtype: object
3704 33.41 8 MP Last Month    4.17625
Name: 3704, dtype: object
3705 370.25 11 MP Last Month    33.6591
Name: 3705, dtype: object
3706 266.5 11 MP Last Month    24.2273
Name: 3706, dtype: object
3707 295.96000000000004 11 MP Last Month    26.9055
Name: 3707, dtype: object
3708 16.1 11 MP Last Month    1.46364
Name: 3708, dtype: object
3709 323.90000000000003 11 MP Last Month    29.4455
Name: 3709, dtype: object
3710 334.23999999999995 11 MP Last Month    30.3855
Name: 3710, dtype: object
3711 197.12 10 MP Last Month    19.712
Name: 3711, dtype: object
3712 178.45999999999998 11 MP Last Month    16.2236
Name: 3712, dtype: object
3713 234.92000000000002 10 MP Last Month    23.492
Name: 3713, dtype: object
3714 295.00000000000006 11 MP Last Month    26.8182
Name: 3714, dtype: object
3715 43.35 11 MP Last Month    3.94091
Name: 3715, dtype: object
3716 180.31 6 MP Last Month    30.0517
Name: 3716, dtype: object
3717 286.85 10 MP Last Month    28.685
Name: 3717, dtype: object
3718 190.15 7 MP Last Month    27.1643
Name: 3718, dtype: object
3719 265.88999999999993 10 MP Last Month    26.589
Name: 3719, dtype: object
3720 181.47 10 MP Last Month    18.147
Name: 3720, dtype: object
3721 62.56999999999999 10 MP Last Month    6.257
Name: 3721, dtype: object
3722 350.58000000000004 10 MP Last Month    35.058
Name: 3722, dtype: object
3723 194.99 10 MP Last Month    19.499
Name: 3723, dtype: object
3724 10.43 6 MP Last Month    1.73833
Name: 3724, dtype: object
3725 317.01 10 MP Last Month    31.701
Name: 3725, dtype: object
3726 261.58 10 MP Last Month    26.158
Name: 3726, dtype: object
3727 37.92 10 MP Last Month    3.792
Name: 3727, dtype: object
3728 89.00999999999999 8 MP Last Month    11.1262
Name: 3728, dtype: object
3729 224.76 9 MP Last Month    24.9733
Name: 3729, dtype: object
3730 279.15 9 MP Last Month    31.0167
Name: 3730, dtype: object
3731 232.33999999999997 9 MP Last Month    25.8156
Name: 3731, dtype: object
3732 178.13 9 MP Last Month    19.7922
Name: 3732, dtype: object
3733 105.14999999999998 9 MP Last Month    11.6833
Name: 3733, dtype: object
3734 137.92000000000002 9 MP Last Month    15.3244
Name: 3734, dtype: object
3735 0.0 1 MP Last Month    0
Name: 3735, dtype: object
3736 210.79000000000002 9 MP Last Month    23.4211
Name: 3736, dtype: object
3737 281.42 9 MP Last Month    31.2689
Name: 3737, dtype: object
3738 39.910000000000004 8 MP Last Month    4.98875
Name: 3738, dtype: object
3739 0 0 MP Last Month    0
Name: 3739, dtype: object
3740 291.59999999999997 9 MP Last Month    32.4
Name: 3740, dtype: object
3741 213.76 9 MP Last Month    23.7511
Name: 3741, dtype: object
3742 255.82000000000002 8 MP Last Month    31.9775
Name: 3742, dtype: object
3743 11.67 9 MP Last Month    1.29667
Name: 3743, dtype: object

3744 315.18 9 MP Last Month    35.02
Name: 3744, dtype: object
3745 144.15 6 MP Last Month    24.025
Name: 3745, dtype: object
3746 306.6 9 MP Last Month    34.0667
Name: 3746, dtype: object
3747 106.8 8 MP Last Month    13.35
Name: 3747, dtype: object
3748 9.85 4 MP Last Month    2.4625
Name: 3748, dtype: object
3749 3.88 9 MP Last Month    0.431111
Name: 3749, dtype: object
3750 222.48 8 MP Last Month    27.81
Name: 3750, dtype: object
3751 183.36 9 MP Last Month    20.3733
Name: 3751, dtype: object
3752 180.39 9 MP Last Month    20.0433
Name: 3752, dtype: object
3753 279.4 11 MP Last Month    25.4
Name: 3753, dtype: object
3754 209.01999999999998 10 MP Last Month    20.902
Name: 3754, dtype: object
3755 250.40000000000003 11 MP Last Month    22.7636
Name: 3755, dtype: object
3756 276.89 8 MP Last Month    34.6112
Name: 3756, dtype: object
3757 290.43 11 MP Last Month    26.4027
Name: 3757, dtype: object
3758 249.20000000000002 8 MP Last Month    31.15
Name: 3758, dtype: object
3759 223.82000000000002 11 MP Last Month    20.3473
Name: 3759, dtype: object
3760 34.81 11 MP Last Month    3.16455
Name: 3760, dtype: object
3761 17.7 10 MP Last Month    1.77
Name: 3761, dtype: object
3762 19.0 11 MP Last Month    1.72727
Name: 3762, dtype: object
3763 42.35 8 MP Last Month    5.29375
Name: 3763, dtype: object
3764 354.37 11 MP Last Month    32.2155
Name: 3764, dtype: object
3765 159.36 11 MP Last Month    14.4873
Name: 3765, dtype: object
3766 360.86 10 MP Last Month    36.086
Name: 3766, dtype: object
3767 103.5 9 MP Last Month    11.5
Name: 3767, dtype: object
3768 144.4 10 MP Last Month    14.44
Name: 3768, dtype: object
3769 87.48 10 MP Last Month    8.748
Name: 3769, dtype: object
3770 315.53 10 MP Last Month    31.553
Name: 3770, dtype: object
3771 64.84 8 MP Last Month    8.105
Name: 3771, dtype: object
3772 305.6 10 MP Last Month    30.56
Name: 3772, dtype: object
3773 91.32 6 MP Last Month    15.22
Name: 3773, dtype: object
3774 62.38 8 MP Last Month    7.7975
Name: 3774, dtype: object
3775 17.93 5 MP Last Month    3.586
Name: 3775, dtype: object
3776 141.82000000000002 10 MP Last Month    14.182
Name: 3776, dtype: object
3777 262.56 9 MP Last Month    29.1733
Name: 3777, dtype: object
3778 241.65999999999997 10 MP Last Month    24.166
Name: 3778, dtype: object
3779 75.61 5 MP Last Month    15.122
Name: 3779, dtype: object
3780 257.27000000000004 11 MP Last Month    23.3882
Name: 3780, dtype: object
3781 310.23999999999995 11 MP Last Month    28.2036
Name: 3781, dtype: object
3782 286.09999999999997 11 MP Last Month    26.0091
Name: 3782, dtype: object
3783 81.41000000000001 11 MP Last Month    7.40091
Name: 3783, dtype: object
3784 220.82000000000002 11 MP Last Month    20.0745
Name: 3784, dtype: object
3785 215.01 11 MP Last Month    19.5464
Name: 3785, dtype: object
3786 60.86 4 MP Last Month    15.215
Name: 3786, dtype: object
3787 166.75000000000003 11 MP Last Month    15.1591
Name: 3787, dtype: object
3788 224.45999999999998 11 MP Last Month    20.4055
Name: 3788, dtype: object
3789 297.47999999999996 11 MP Last Month    27.0436
Name: 3789, dtype: object
3790 156.31000000000003 11 MP Last Month    14.21
Name: 3790, dtype: object
3791 252.94 9 MP Last Month    28.1044
Name: 3791, dtype: object
3792 34.87 9 MP Last Month    3.87444
Name: 3792, dtype: object
3793 108.91 8 MP Last Month    13.6137
Name: 3793, dtype: object
3794 314.46999999999997 9 MP Last Month    34.9411
Name: 3794, dtype: object
3795 267.87 9 MP Last Month    29.7633
Name: 3795, dtype: object
3796 203.96 9 MP Last Month    22.6622
Name: 3796, dtype: object
3797 178.9 9 MP Last Month    19.8778
Name: 3797, dtype: object
3798 6.25 7 MP Last Month    0.892857
Name: 3798, dtype: object
3799 267.14 8 MP Last Month    33.3925
Name: 3799, dtype: object
3800 126.83000000000001 9 MP Last Month    14.0922
Name: 3800, dtype: object
3801 160.26000000000002 9 MP Last Month    17.8067
Name: 3801, dtype: object
3802 268.7 10 MP Last Month    26.87
Name: 3802, dtype: object
3803 202.62999999999997 10 MP Last Month    20.263
Name: 3803, dtype: object
3804 28.580000000000002 10 MP Last Month    2.858
Name: 3804, dtype: object
3805 294.1099999999999 10 MP Last Month    29.411
Name: 3805, dtype: object
3806 325.65999999999997 10 MP Last Month    32.566
Name: 3806, dtype: object
3807 248.21 10 MP Last Month    24.821
Name: 3807, dtype: object
3808 183.15 8 MP Last Month    22.8938
Name: 3808, dtype: object
3809 5.52 4 MP Last Month    1.38
Name: 3809, dtype: object
3810 22.41 10 MP Last Month    2.241
Name: 3810, dtype: object
3811 292.48999999999995 10 MP Last Month    29.249
Name: 3811, dtype: object
3812 48.519999999999996 10 MP Last Month    4.852
Name: 3812, dtype: object
3813 200.92000000000002 10 MP Last Month    20.092
Name: 3813, dtype: object
3814 306.35 10 MP Last Month    30.635
Name: 3814, dtype: object
3815 266.82000000000005 11 MP Last Month    24.2564
Name: 3815, dtype: object
3816 216.90999999999997 11 MP Last Month    19.7191
Name: 3816, dtype: object
3817 29.8 10 MP Last Month    2.98
Name: 3817, dtype: object
3818 123.36000000000003 10 MP Last Month    12.336
Name: 3818, dtype: object
3819 319.68000000000006 11 MP Last Month    29.0618
Name: 3819, dtype: object
3820 374.02 11 MP Last Month    34.0018
Name: 3820, dtype: object
3821 336.21000000000004 11 MP Last Month    30.5645
Name: 3821, dtype: object
3822 9.5 1 MP Last Month    9.5
Name: 3822, dtype: object
3823 14.89 10 MP Last Month    1.489
Name: 3823, dtype: object
3824 376.07000000000005 11 MP Last Month    34.1882
Name: 3824, dtype: object
3825 126.38000000000001 11 MP Last Month    11.4891
Name: 3825, dtype: object
3826 319.02 10 MP Last Month    31.902
Name: 3826, dtype: object
3827 61.29 5 MP Last Month    12.258
Name: 3827, dtype: object
3828 143.23 10 MP Last Month    14.323
Name: 3828, dtype: object
3829 313.93000000000006 10 MP Last Month    31.393
Name: 3829, dtype: object
3830 181.24999999999997 8 MP Last Month    22.6562
Name: 3830, dtype: object
3831 230.16 10 MP Last Month    23.016
Name: 3831, dtype: object
3832 265.56000000000006 10 MP Last Month    26.556
Name: 3832, dtype: object
3833 0 0 MP Last Month    0
Name: 3833, dtype: object
3834 262.56 10 MP Last Month    26.256
Name: 3834, dtype: object
3835 85.03 10 MP Last Month    8.503
Name: 3835, dtype: object
3836 285.46999999999997 10 MP Last Month    28.547
Name: 3836, dtype: object
3837 52.01 4 MP Last Month    13.0025
Name: 3837, dtype: object
3838 248.46000000000004 9 MP Last Month    27.6067
Name: 3838, dtype: object
3839 257.18 9 MP Last Month    28.5756
Name: 3839, dtype: object
3840 0 0 MP Last Month    0
Name: 3840, dtype: object
3841 332.22 9 MP Last Month    36.9133
Name: 3841, dtype: object
3842 199.71 9 MP Last Month    22.19
Name: 3842, dtype: object
3843 196.47000000000003 9 MP Last Month    21.83
Name: 3843, dtype: object
3844 44.78 9 MP Last Month    4.97556
Name: 3844, dtype: object
3845 20.27 9 MP Last Month    2.25222
Name: 3845, dtype: object
3846 146.05 9 MP Last Month    16.2278
Name: 3846, dtype: object
3847 320.05999999999995 9 MP Last Month    35.5622
Name: 3847, dtype: object
3848 57.120000000000005 9 MP Last Month    6.34667
Name: 3848, dtype: object
3849 373.0 11 MP Last Month    33.9091
Name: 3849, dtype: object
3850 170.13 7 MP Last Month    24.3043
Name: 3850, dtype: object
3851 84.35000000000001 6 MP Last Month    14.0583
Name: 3851, dtype: object
3852 33.43 10 MP Last Month    3.343
Name: 3852, dtype: object
3853 68.02 11 MP Last Month    6.18364
Name: 3853, dtype: object
3854 237.73000000000002 7 MP Last Month    33.9614
Name: 3854, dtype: object
3855 299.66999999999996 11 MP Last Month    27.2427
Name: 3855, dtype: object
3856 191.24 8 MP Last Month    23.905
Name: 3856, dtype: object
3857 322.84 11 MP Last Month    29.3491
Name: 3857, dtype: object
3858 290.98999999999995 11 MP Last Month    26.4536
Name: 3858, dtype: object
3859 208.6 11 MP Last Month    18.9636
Name: 3859, dtype: object
3860 22.25 11 MP Last Month    2.02273
Name: 3860, dtype: object
3861 277.92 8 MP Last Month    34.74
Name: 3861, dtype: object
3862 297.67 10 MP Last Month    29.767
Name: 3862, dtype: object
3863 81.62 7 MP Last Month    11.66
Name: 3863, dtype: object

3864 184.78000000000003 10 MP Last Month    18.478
Name: 3864, dtype: object
3865 89.69999999999999 10 MP Last Month    8.97
Name: 3865, dtype: object
3866 335.42 10 MP Last Month    33.542
Name: 3866, dtype: object
3867 301.53 10 MP Last Month    30.153
Name: 3867, dtype: object
3868 159.18 10 MP Last Month    15.918
Name: 3868, dtype: object
3869 82.28999999999999 10 MP Last Month    8.229
Name: 3869, dtype: object
3870 9.31 7 MP Last Month    1.33
Name: 3870, dtype: object
3871 339.06 10 MP Last Month    33.906
Name: 3871, dtype: object
3872 199.23 9 MP Last Month    22.1367
Name: 3872, dtype: object
3873 38.589999999999996 10 MP Last Month    3.859
Name: 3873, dtype: object
3874 316.08000000000004 10 MP Last Month    31.608
Name: 3874, dtype: object
3875 227.29999999999998 10 MP Last Month    22.73
Name: 3875, dtype: object
3876 234.12 10 MP Last Month    23.412
Name: 3876, dtype: object
3877 6.07 10 MP Last Month    0.607
Name: 3877, dtype: object
3878 254.89 10 MP Last Month    25.489
Name: 3878, dtype: object
3879 263.45 9 MP Last Month    29.2722
Name: 3879, dtype: object
3880 327.79 10 MP Last Month    32.779
Name: 3880, dtype: object
3881 225.27 9 MP Last Month    25.03
Name: 3881, dtype: object
3882 50.08 10 MP Last Month    5.008
Name: 3882, dtype: object
3883 297.75 10 MP Last Month    29.775
Name: 3883, dtype: object
3884 103.06999999999998 7 MP Last Month    14.7243
Name: 3884, dtype: object
3885 17.98 10 MP Last Month    1.798
Name: 3885, dtype: object
3886 14.84 8 MP Last Month    1.855
Name: 3886, dtype: object
3887 363.29 11 MP Last Month    33.0264
Name: 3887, dtype: object
3888 91.1 10 MP Last Month    9.11
Name: 3888, dtype: object
3889 373.1499999999999 11 MP Last Month    33.9227
Name: 3889, dtype: object
3890 385.46999999999997 11 MP Last Month    35.0427
Name: 3890, dtype: object
3891 162.29000000000002 11 MP Last Month    14.7536
Name: 3891, dtype: object
3892 6.2 4 MP Last Month    1.55
Name: 3892, dtype: object
3893 170.92000000000002 9 MP Last Month    18.9911
Name: 3893, dtype: object
3894 181.49999999999997 11 MP Last Month    16.5
Name: 3894, dtype: object
3895 173.40000000000003 11 MP Last Month    15.7636
Name: 3895, dtype: object
3896 115.97999999999999 11 MP Last Month    10.5436
Name: 3896, dtype: object
3897 186.37999999999997 11 MP Last Month    16.9436
Name: 3897, dtype: object
3898 212.32000000000002 6 MP Last Month    35.3867
Name: 3898, dtype: object
3899 243.5 7 MP Last Month    34.7857
Name: 3899, dtype: object
3900 319.98 9 MP Last Month    35.5533
Name: 3900, dtype: object
3901 178.99 9 MP Last Month    19.8878
Name: 3901, dtype: object
3902 91.47 9 MP Last Month    10.1633
Name: 3902, dtype: object
3903 133.42 6 MP Last Month    22.2367
Name: 3903, dtype: object
3904 273.78000000000003 9 MP Last Month    30.42
Name: 3904, dtype: object
3905 303.15 9 MP Last Month    33.6833
Name: 3905, dtype: object
3906 11.100000000000001 4 MP Last Month    2.775
Name: 3906, dtype: object
3907 61.989999999999995 9 MP Last Month    6.88778
Name: 3907, dtype: object
3908 248.27000000000004 10 MP Last Month    24.827
Name: 3908, dtype: object
3909 254.68 10 MP Last Month    25.468
Name: 3909, dtype: object
3910 28.310000000000002 7 MP Last Month    4.04429
Name: 3910, dtype: object
3911 68.49 9 MP Last Month    7.61
Name: 3911, dtype: object
3912 19.740000000000002 10 MP Last Month    1.974
Name: 3912, dtype: object
3913 332.86 10 MP Last Month    33.286
Name: 3913, dtype: object
3914 291.85999999999996 10 MP Last Month    29.186
Name: 3914, dtype: object
3915 129.34 10 MP Last Month    12.934
Name: 3915, dtype: object
3916 0.0 1 MP Last Month    0
Name: 3916, dtype: object
3917 213.7 10 MP Last Month    21.37
Name: 3917, dtype: object
3918 129.64999999999998 10 MP Last Month    12.965
Name: 3918, dtype: object
3919 133.03 10 MP Last Month    13.303
Name: 3919, dtype: object
3920 278.83 10 MP Last Month    27.883
Name: 3920, dtype: object
3921 298.49 10 MP Last Month    29.849
Name: 3921, dtype: object
3922 205.26 10 MP Last Month    20.526
Name: 3922, dtype: object
3923 32.68 9 MP Last Month    3.63111
Name: 3923, dtype: object
3924 287.32 9 MP Last Month    31.9244
Name: 3924, dtype: object
3925 306.08 10 MP Last Month    30.608
Name: 3925, dtype: object
3926 89.73 10 MP Last Month    8.973
Name: 3926, dtype: object
3927 165.91000000000003 10 MP Last Month    16.591
Name: 3927, dtype: object
3928 33.8 10 MP Last Month    3.38
Name: 3928, dtype: object
3929 232.14999999999998 10 MP Last Month    23.215
Name: 3929, dtype: object
3930 252.32000000000002 10 MP Last Month    25.232
Name: 3930, dtype: object
3931 51.05 8 MP Last Month    6.38125
Name: 3931, dtype: object
3932 151.15 10 MP Last Month    15.115
Name: 3932, dtype: object
3933 286.96 10 MP Last Month    28.696
Name: 3933, dtype: object
3934 48.849999999999994 10 MP Last Month    4.885
Name: 3934, dtype: object
3935 353.02 10 MP Last Month    35.302
Name: 3935, dtype: object
3936 200.68 10 MP Last Month    20.068
Name: 3936, dtype: object
3937 295.29 10 MP Last Month    29.529
Name: 3937, dtype: object
3938 122.06 9 MP Last Month    13.5622
Name: 3938, dtype: object
3939 230.18 10 MP Last Month    23.018
Name: 3939, dtype: object
3940 6.25 8 MP Last Month    0.78125
Name: 3940, dtype: object
3941 301.61 9 MP Last Month    33.5122
Name: 3941, dtype: object
3942 140.36 10 MP Last Month    14.036
Name: 3942, dtype: object
3943 177.14000000000001 10 MP Last Month    17.714
Name: 3943, dtype: object
3944 244.34 7 MP Last Month    34.9057
Name: 3944, dtype: object
3945 252.16 9 MP Last Month    28.0178
Name: 3945, dtype: object
3946 131.56 8 MP Last Month    16.445
Name: 3946, dtype: object
3947 79.86000000000001 9 MP Last Month    8.87333
Name: 3947, dtype: object
3948 37.47 7 MP Last Month    5.35286
Name: 3948, dtype: object
3949 210.51000000000002 9 MP Last Month    23.39
Name: 3949, dtype: object
3950 332.32 10 MP Last Month    33.232
Name: 3950, dtype: object
3951 192.81000000000003 10 MP Last Month    19.281
Name: 3951, dtype: object
3952 182.18 10 MP Last Month    18.218
Name: 3952, dtype: object
3953 321.24 10 MP Last Month    32.124
Name: 3953, dtype: object
3954 67.33000000000001 10 MP Last Month    6.733
Name: 3954, dtype: object
3955 222.29000000000002 10 MP Last Month    22.229
Name: 3955, dtype: object
3956 14.47 10 MP Last Month    1.447
Name: 3956, dtype: object
3957 370.54 11 MP Last Month    33.6855
Name: 3957, dtype: object
3958 198.27 11 MP Last Month    18.0245
Name: 3958, dtype: object
3959 14.760000000000002 11 MP Last Month    1.34182
Name: 3959, dtype: object
3960 319.22999999999996 11 MP Last Month    29.0209
Name: 3960, dtype: object
3961 274.89 11 MP Last Month    24.99
Name: 3961, dtype: object
3962 215.70999999999998 11 MP Last Month    19.61
Name: 3962, dtype: object
3963 160.5 11 MP Last Month    14.5909
Name: 3963, dtype: object
3964 273.25 11 MP Last Month    24.8409
Name: 3964, dtype: object
3965 231.0 11 MP Last Month    21
Name: 3965, dtype: object
3966 82.99 11 MP Last Month    7.54455
Name: 3966, dtype: object
3967 71.73 11 MP Last Month    6.52091
Name: 3967, dtype: object
3968 181.8 11 MP Last Month    16.5273
Name: 3968, dtype: object
3969 339.4 11 MP Last Month    30.8545
Name: 3969, dtype: object
3970 173.07999999999998 10 MP Last Month    17.308
Name: 3970, dtype: object
3971 217.66000000000003 11 MP Last Month    19.7873
Name: 3971, dtype: object
3972 59.080000000000005 11 MP Last Month    5.37091
Name: 3972, dtype: object
3973 191.93 10 MP Last Month    19.193
Name: 3973, dtype: object
3974 316.62 11 MP Last Month    28.7836
Name: 3974, dtype: object
3975 125.28 8 MP Last Month    15.66
Name: 3975, dtype: object
3976 150.45 8 MP Last Month    18.8062
Name: 3976, dtype: object
3977 55.510000000000005 11 MP Last Month    5.04636
Name: 3977, dtype: object
3978 247.11 11 MP Last Month    22.4645
Name: 3978, dtype: object
3979 261.1 11 MP Last Month    23.7364
Name: 3979, dtype: object
3980 247.88 11 MP Last Month    22.5345
Name: 3980, dtype: object
3981 6.07 11 MP Last Month    0.551818
Name: 3981, dtype: object
3982 357.46000000000004 11 MP Last Month    32.4964
Name: 3982, dtype: object
3983 282.96999999999997 11 MP Last Month    25.7245
Name: 3983, dtype: object

3984 250.17000000000002 10 MP Last Month    25.017
Name: 3984, dtype: object
3985 302.07 10 MP Last Month    30.207
Name: 3985, dtype: object
3986 57.48 11 MP Last Month    5.22545
Name: 3986, dtype: object
3987 22.76 11 MP Last Month    2.06909
Name: 3987, dtype: object
3988 330.47 11 MP Last Month    30.0427
Name: 3988, dtype: object
3989 111.04999999999998 8 MP Last Month    13.8812
Name: 3989, dtype: object
3990 14.84 9 MP Last Month    1.64889
Name: 3990, dtype: object
3991 300.72 11 MP Last Month    27.3382
Name: 3991, dtype: object
3992 299.59 11 MP Last Month    27.2355
Name: 3992, dtype: object
3993 116.87 8 MP Last Month    14.6088
Name: 3993, dtype: object
3994 347.29999999999995 11 MP Last Month    31.5727
Name: 3994, dtype: object
3995 331.85 11 MP Last Month    30.1682
Name: 3995, dtype: object
3996 272.69 11 MP Last Month    24.79
Name: 3996, dtype: object
3997 0 0 MP Last Month    0
Name: 3997, dtype: object
3998 228.10000000000002 10 MP Last Month    22.81
Name: 3998, dtype: object
3999 46.019999999999996 6 MP Last Month    7.67
Name: 3999, dtype: object
4000 289.22999999999996 11 MP Last Month    26.2936
Name: 4000, dtype: object
4001 167.95000000000002 8 MP Last Month    20.9938
Name: 4001, dtype: object
4002 191.54999999999995 11 MP Last Month    17.4136
Name: 4002, dtype: object
4003 17.93 9 MP Last Month    1.99222
Name: 4003, dtype: object
4004 367.96999999999997 11 MP Last Month    33.4518
Name: 4004, dtype: object
4005 255.86 11 MP Last Month    23.26
Name: 4005, dtype: object
4006 27.88 8 MP Last Month    3.485
Name: 4006, dtype: object
4007 184.42999999999998 10 MP Last Month    18.443
Name: 4007, dtype: object
4008 233.23000000000002 11 MP Last Month    21.2027
Name: 4008, dtype: object
4009 268.59 11 MP Last Month    24.4173
Name: 4009, dtype: object
4010 194.73 11 MP Last Month    17.7027
Name: 4010, dtype: object
4011 365.58 11 MP Last Month    33.2345
Name: 4011, dtype: object
4012 256.02 11 MP Last Month    23.2745
Name: 4012, dtype: object
4013 248.64999999999995 11 MP Last Month    22.6045
Name: 4013, dtype: object
4014 51.88000000000001 10 MP Last Month    5.188
Name: 4014, dtype: object
4015 21.75 11 MP Last Month    1.97727
Name: 4015, dtype: object
4016 236.53000000000003 11 MP Last Month    21.5027
Name: 4016, dtype: object
4017 363.03 11 MP Last Month    33.0027
Name: 4017, dtype: object
4018 193.07999999999998 11 MP Last Month    17.5527
Name: 4018, dtype: object
4019 367.74 11 MP Last Month    33.4309
Name: 4019, dtype: object
4020 7.2299999999999995 9 MP Last Month    0.803333
Name: 4020, dtype: object
4021 238.47 11 MP Last Month    21.6791
Name: 4021, dtype: object
4022 184.55 11 MP Last Month    16.7773
Name: 4022, dtype: object
4023 198.19 11 MP Last Month    18.0173
Name: 4023, dtype: object
4024 10.2 11 MP Last Month    0.927273
Name: 4024, dtype: object
4025 318.78 11 MP Last Month    28.98
Name: 4025, dtype: object
4026 290.64000000000004 11 MP Last Month    26.4218
Name: 4026, dtype: object
4027 195.85999999999999 11 MP Last Month    17.8055
Name: 4027, dtype: object
4028 214.83000000000004 10 MP Last Month    21.483
Name: 4028, dtype: object
4029 304.3 10 MP Last Month    30.43
Name: 4029, dtype: object
4030 78.22 10 MP Last Month    7.822
Name: 4030, dtype: object
4031 0.0 1 MP Last Month    0
Name: 4031, dtype: object
4032 98.29999999999998 9 MP Last Month    10.9222
Name: 4032, dtype: object
4033 235.13 10 MP Last Month    23.513
Name: 4033, dtype: object
4034 188.82 8 MP Last Month    23.6025
Name: 4034, dtype: object
4035 326.49 10 MP Last Month    32.649
Name: 4035, dtype: object
4036 367.42 10 MP Last Month    36.742
Name: 4036, dtype: object
4037 144.71 10 MP Last Month    14.471
Name: 4037, dtype: object
4038 33.41 9 MP Last Month    3.71222
Name: 4038, dtype: object
4039 406.9 12 MP Last Month    33.9083
Name: 4039, dtype: object
4040 314.34000000000003 12 MP Last Month    26.195
Name: 4040, dtype: object
4041 297.7 12 MP Last Month    24.8083
Name: 4041, dtype: object
4042 16.1 12 MP Last Month    1.34167
Name: 4042, dtype: object
4043 360.45000000000005 12 MP Last Month    30.0375
Name: 4043, dtype: object
4044 355.38999999999993 12 MP Last Month    29.6158
Name: 4044, dtype: object
4045 218.24 11 MP Last Month    19.84
Name: 4045, dtype: object
4046 189.80999999999997 12 MP Last Month    15.8175
Name: 4046, dtype: object
4047 266.67 11 MP Last Month    24.2427
Name: 4047, dtype: object
4048 325.1700000000001 12 MP Last Month    27.0975
Name: 4048, dtype: object
4049 45.03 12 MP Last Month    3.7525
Name: 4049, dtype: object
4050 245.26 10 MP Last Month    24.526
Name: 4050, dtype: object
4051 352.93 10 MP Last Month    35.293
Name: 4051, dtype: object
4052 343.87 10 MP Last Month    34.387
Name: 4052, dtype: object
4053 174.98000000000002 7 MP Last Month    24.9971
Name: 4053, dtype: object
4054 115.07 9 MP Last Month    12.7856
Name: 4054, dtype: object
4055 48.79 10 MP Last Month    4.879
Name: 4055, dtype: object
4056 9.85 5 MP Last Month    1.97
Name: 4056, dtype: object
4057 3.88 10 MP Last Month    0.388
Name: 4057, dtype: object
4058 254.7 9 MP Last Month    28.3
Name: 4058, dtype: object
4059 192.97 10 MP Last Month    19.297
Name: 4059, dtype: object
4060 195.83 10 MP Last Month    19.583
Name: 4060, dtype: object
4061 315.92999999999995 12 MP Last Month    26.3275
Name: 4061, dtype: object
4062 221.29999999999998 11 MP Last Month    20.1182
Name: 4062, dtype: object
4063 262.3 12 MP Last Month    21.8583
Name: 4063, dtype: object
4064 21.27 1 MP Last Month    21.27
Name: 4064, dtype: object
4065 320.02 9 MP Last Month    35.5578
Name: 4065, dtype: object
4066 327.78000000000003 12 MP Last Month    27.315
Name: 4066, dtype: object
4067 233.65000000000003 12 MP Last Month    19.4708
Name: 4067, dtype: object
4068 42.35 9 MP Last Month    4.70556
Name: 4068, dtype: object
4069 34.81 12 MP Last Month    2.90083
Name: 4069, dtype: object
4070 17.7 11 MP Last Month    1.60909
Name: 4070, dtype: object
4071 19.0 12 MP Last Month    1.58333
Name: 4071, dtype: object
4072 393.2 12 MP Last Month    32.7667
Name: 4072, dtype: object
4073 168.53 12 MP Last Month    14.0442
Name: 4073, dtype: object
4074 219.64999999999998 11 MP Last Month    19.9682
Name: 4074, dtype: object
4075 299.68 11 MP Last Month    27.2436
Name: 4075, dtype: object
4076 28.580000000000002 11 MP Last Month    2.59818
Name: 4076, dtype: object
4077 353.72999999999996 11 MP Last Month    32.1573
Name: 4077, dtype: object
4078 325.1299999999999 11 MP Last Month    29.5573
Name: 4078, dtype: object
4079 275.76 11 MP Last Month    25.0691
Name: 4079, dtype: object
4080 202.8 9 MP Last Month    22.5333
Name: 4080, dtype: object
4081 5.52 5 MP Last Month    1.104
Name: 4081, dtype: object
4082 22.41 11 MP Last Month    2.03727
Name: 4082, dtype: object
4083 326.91999999999996 11 MP Last Month    29.72
Name: 4083, dtype: object
4084 214.49 11 MP Last Month    19.4991
Name: 4084, dtype: object
4085 68.44999999999999 11 MP Last Month    6.22273
Name: 4085, dtype: object
4086 340.67 11 MP Last Month    30.97
Name: 4086, dtype: object
4087 292.4200000000001 12 MP Last Month    24.3683
Name: 4087, dtype: object
4088 239.78999999999996 12 MP Last Month    19.9825
Name: 4088, dtype: object
4089 123.36000000000003 11 MP Last Month    11.2145
Name: 4089, dtype: object
4090 29.8 11 MP Last Month    2.70909
Name: 4090, dtype: object
4091 355.58000000000004 12 MP Last Month    29.6317
Name: 4091, dtype: object
4092 365.01000000000005 12 MP Last Month    30.4175
Name: 4092, dtype: object
4093 409.95 12 MP Last Month    34.1625
Name: 4093, dtype: object
4094 24.869999999999997 2 MP Last Month    12.435
Name: 4094, dtype: object
4095 14.89 11 MP Last Month    1.35364
Name: 4095, dtype: object
4096 412.12000000000006 12 MP Last Month    34.3433
Name: 4096, dtype: object
4097 131.53 12 MP Last Month    10.9608
Name: 4097, dtype: object
4098 354.82 11 MP Last Month    32.2564
Name: 4098, dtype: object
4099 75.53999999999999 6 MP Last Month    12.59
Name: 4099, dtype: object
4100 143.23 11 MP Last Month    13.0209
Name: 4100, dtype: object
4101 349.4800000000001 11 MP Last Month    31.7709
Name: 4101, dtype: object
4102 284.4100000000001 11 MP Last Month    25.8555
Name: 4102, dtype: object

4103 210.37999999999997 9 MP Last Month    23.3756
Name: 4103, dtype: object
4104 255.54 11 MP Last Month    23.2309
Name: 4104, dtype: object
4105 270.24 11 MP Last Month    24.5673
Name: 4105, dtype: object
4106 85.03 11 MP Last Month    7.73
Name: 4106, dtype: object
4107 318.95 11 MP Last Month    28.9955
Name: 4107, dtype: object
4108 66.31 5 MP Last Month    13.262
Name: 4108, dtype: object
4109 28.330000000000002 9 MP Last Month    3.14778
Name: 4109, dtype: object
4110 334.3 11 MP Last Month    30.3909
Name: 4110, dtype: object
4111 310.89 9 MP Last Month    34.5433
Name: 4111, dtype: object
4112 96.65 8 MP Last Month    12.0813
Name: 4112, dtype: object
4113 196.15000000000003 11 MP Last Month    17.8318
Name: 4113, dtype: object
4114 89.69999999999999 11 MP Last Month    8.15455
Name: 4114, dtype: object
4115 371.40000000000003 11 MP Last Month    33.7636
Name: 4115, dtype: object
4116 331.88 11 MP Last Month    30.1709
Name: 4116, dtype: object
4117 171.20000000000002 11 MP Last Month    15.5636
Name: 4117, dtype: object
4118 89.55999999999999 11 MP Last Month    8.14182
Name: 4118, dtype: object
4119 9.31 8 MP Last Month    1.16375
Name: 4119, dtype: object
4120 370.78 11 MP Last Month    33.7073
Name: 4120, dtype: object
4121 223.92999999999998 10 MP Last Month    22.393
Name: 4121, dtype: object
4122 40.559999999999995 11 MP Last Month    3.68727
Name: 4122, dtype: object
4123 350.13 10 MP Last Month    35.013
Name: 4123, dtype: object
4124 340.74 10 MP Last Month    34.074
Name: 4124, dtype: object
4125 229.56 10 MP Last Month    22.956
Name: 4125, dtype: object
4126 125.46999999999998 10 MP Last Month    12.547
Name: 4126, dtype: object
4127 270.94 10 MP Last Month    27.094
Name: 4127, dtype: object
4128 240.79999999999998 10 MP Last Month    24.08
Name: 4128, dtype: object
4129 268.86 9 MP Last Month    29.8733
Name: 4129, dtype: object
4130 236.57 9 MP Last Month    26.2856
Name: 4130, dtype: object
4131 86.72999999999999 3 MP Last Month    28.91
Name: 4131, dtype: object
4132 106.31 10 MP Last Month    10.631
Name: 4132, dtype: object
4133 22.7 10 MP Last Month    2.27
Name: 4133, dtype: object
4134 98.24 10 MP Last Month    9.824
Name: 4134, dtype: object
4135 326.82000000000005 12 MP Last Month    27.235
Name: 4135, dtype: object
4136 329.39 12 MP Last Month    27.4492
Name: 4136, dtype: object
4137 116.87 9 MP Last Month    12.9856
Name: 4137, dtype: object
4138 358.45000000000005 12 MP Last Month    29.8708
Name: 4138, dtype: object
4139 14.13 1 MP Last Month    14.13
Name: 4139, dtype: object
4140 46.019999999999996 7 MP Last Month    6.57429
Name: 4140, dtype: object
4141 251.28000000000003 11 MP Last Month    22.8436
Name: 4141, dtype: object
4142 378.72999999999996 12 MP Last Month    31.5608
Name: 4142, dtype: object
4143 296.90999999999997 12 MP Last Month    24.7425
Name: 4143, dtype: object
4144 319.85999999999996 12 MP Last Month    26.655
Name: 4144, dtype: object
4145 17.93 10 MP Last Month    1.793
Name: 4145, dtype: object
4146 207.62999999999994 12 MP Last Month    17.3025
Name: 4146, dtype: object
4147 185.77 9 MP Last Month    20.6411
Name: 4147, dtype: object
4148 429.41 12 MP Last Month    35.7842
Name: 4148, dtype: object
4149 268.59 12 MP Last Month    22.3825
Name: 4149, dtype: object
4150 36.38 9 MP Last Month    4.04222
Name: 4150, dtype: object
4151 209.63 12 MP Last Month    17.4692
Name: 4151, dtype: object
4152 207.33999999999997 12 MP Last Month    17.2783
Name: 4152, dtype: object
4153 289.67999999999995 12 MP Last Month    24.14
Name: 4153, dtype: object
4154 428.32 12 MP Last Month    35.6933
Name: 4154, dtype: object
4155 373.86 12 MP Last Month    31.155
Name: 4155, dtype: object
4156 84.34 12 MP Last Month    7.02833
Name: 4156, dtype: object
4157 168.05999999999997 11 MP Last Month    15.2782
Name: 4157, dtype: object
4158 271.51 11 MP Last Month    24.6827
Name: 4158, dtype: object
4159 259.56 11 MP Last Month    23.5964
Name: 4159, dtype: object
4160 129.8 10 MP Last Month    12.98
Name: 4160, dtype: object
4161 4.52 5 MP Last Month    0.904
Name: 4161, dtype: object
4162 298.71000000000004 11 MP Last Month    27.1555
Name: 4162, dtype: object
4163 148.58 11 MP Last Month    13.5073
Name: 4163, dtype: object
4164 56.9 10 MP Last Month    5.69
Name: 4164, dtype: object
4165 306.91999999999996 11 MP Last Month    27.9018
Name: 4165, dtype: object
4166 174.87 9 MP Last Month    19.43
Name: 4166, dtype: object
4167 64.52 11 MP Last Month    5.86545
Name: 4167, dtype: object
4168 21.2 8 MP Last Month    2.65
Name: 4168, dtype: object
4169 381.50999999999993 11 MP Last Month    34.6827
Name: 4169, dtype: object
4170 6.2 1 MP Last Month    6.2
Name: 4170, dtype: object
4171 159.84 11 MP Last Month    14.5309
Name: 4171, dtype: object
4172 199.16999999999996 11 MP Last Month    18.1064
Name: 4172, dtype: object
4173 275.71999999999997 11 MP Last Month    25.0655
Name: 4173, dtype: object
4174 226.96 7 MP Last Month    32.4229
Name: 4174, dtype: object
4175 16.5 11 MP Last Month    1.5
Name: 4175, dtype: object
4176 367.29999999999995 11 MP Last Month    33.3909
Name: 4176, dtype: object
4177 159.42 11 MP Last Month    14.4927
Name: 4177, dtype: object
4178 5.539999999999999 11 MP Last Month    0.503636
Name: 4178, dtype: object
4179 109.83 11 MP Last Month    9.98455
Name: 4179, dtype: object
4180 396.56 12 MP Last Month    33.0467
Name: 4180, dtype: object
4181 18.2 5 MP Last Month    3.64
Name: 4181, dtype: object
4182 416.25 12 MP Last Month    34.6875
Name: 4182, dtype: object
4183 137.57999999999998 12 MP Last Month    11.465
Name: 4183, dtype: object
4184 187.22000000000003 10 MP Last Month    18.722
Name: 4184, dtype: object
4185 197.71999999999997 12 MP Last Month    16.4767
Name: 4185, dtype: object
4186 182.67000000000002 12 MP Last Month    15.2225
Name: 4186, dtype: object
4187 0 0 MP Last Month    0
Name: 4187, dtype: object
4188 196.70000000000005 12 MP Last Month    16.3917
Name: 4188, dtype: object
4189 207.69999999999996 12 MP Last Month    17.3083
Name: 4189, dtype: object
4190 249.85000000000002 7 MP Last Month    35.6929
Name: 4190, dtype: object
4191 232.84 8 MP Last Month    29.105
Name: 4191, dtype: object
4192 279.62 8 MP Last Month    34.9525
Name: 4192, dtype: object
4193 96.55 9 MP Last Month    10.7278
Name: 4193, dtype: object
4194 68.11 10 MP Last Month    6.811
Name: 4194, dtype: object
4195 118.59 10 MP Last Month    11.859
Name: 4195, dtype: object
4196 352.5 10 MP Last Month    35.25
Name: 4196, dtype: object
4197 195.26000000000002 10 MP Last Month    19.526
Name: 4197, dtype: object
4198 157.7 7 MP Last Month    22.5286
Name: 4198, dtype: object
4199 336.91999999999996 10 MP Last Month    33.692
Name: 4199, dtype: object
4200 17.0 5 MP Last Month    3.4
Name: 4200, dtype: object
4201 283.62000000000006 11 MP Last Month    25.7836
Name: 4201, dtype: object
4202 289.96000000000004 11 MP Last Month    26.36
Name: 4202, dtype: object
4203 19.740000000000002 11 MP Last Month    1.79455
Name: 4203, dtype: object
4204 0.0 2 MP Last Month    0
Name: 4204, dtype: object
4205 72.52 10 MP Last Month    7.252
Name: 4205, dtype: object
4206 34.89 8 MP Last Month    4.36125
Name: 4206, dtype: object
4207 369.63 11 MP Last Month    33.6027
Name: 4207, dtype: object
4208 321.93999999999994 11 MP Last Month    29.2673
Name: 4208, dtype: object
4209 148.44 11 MP Last Month    13.4945
Name: 4209, dtype: object
4210 238.73 11 MP Last Month    21.7027
Name: 4210, dtype: object
4211 133.03 11 MP Last Month    12.0936
Name: 4211, dtype: object
4212 141.89999999999998 11 MP Last Month    12.9
Name: 4212, dtype: object
4213 308.3 11 MP Last Month    28.0273
Name: 4213, dtype: object
4214 214.89 7 MP Last Month    30.6986
Name: 4214, dtype: object
4215 216.97 8 MP Last Month    27.1212
Name: 4215, dtype: object
4216 185.47 11 MP Last Month    16.8609
Name: 4216, dtype: object
4217 286.91999999999996 11 MP Last Month    26.0836
Name: 4217, dtype: object
4218 62.56999999999999 11 MP Last Month    5.68818
Name: 4218, dtype: object
4219 389.11 11 MP Last Month    35.3736
Name: 4219, dtype: object
4220 349.64 11 MP Last Month    31.7855
Name: 4220, dtype: object
4221 207.94 11 MP Last Month    18.9036
Name: 4221, dtype: object

4222 10.43 7 MP Last Month    1.49
Name: 4222, dtype: object
4223 286.65 11 MP Last Month    26.0591
Name: 4223, dtype: object
4224 111.94 9 MP Last Month    12.4378
Name: 4224, dtype: object
4225 37.92 11 MP Last Month    3.44727
Name: 4225, dtype: object
4226 315.4 10 MP Last Month    31.54
Name: 4226, dtype: object
4227 257.28999999999996 10 MP Last Month    25.729
Name: 4227, dtype: object
4228 251.53999999999996 10 MP Last Month    25.154
Name: 4228, dtype: object
4229 116.77999999999997 10 MP Last Month    11.678
Name: 4229, dtype: object
4230 199.6 10 MP Last Month    19.96
Name: 4230, dtype: object
4231 152.54000000000002 10 MP Last Month    15.254
Name: 4231, dtype: object
4232 0.0 2 MP Last Month    0
Name: 4232, dtype: object
4233 311.40000000000003 10 MP Last Month    31.14
Name: 4233, dtype: object
4234 243.59000000000003 10 MP Last Month    24.359
Name: 4234, dtype: object
4235 45.46 9 MP Last Month    5.05111
Name: 4235, dtype: object
4236 0.0 1 MP Last Month    0
Name: 4236, dtype: object
4237 327.56999999999994 10 MP Last Month    32.757
Name: 4237, dtype: object
4238 278.36 11 MP Last Month    25.3055
Name: 4238, dtype: object
4239 255.82000000000002 9 MP Last Month    28.4244
Name: 4239, dtype: object
4240 381.6 11 MP Last Month    34.6909
Name: 4240, dtype: object
4241 377.75 11 MP Last Month    34.3409
Name: 4241, dtype: object
4242 72.50999999999999 11 MP Last Month    6.59182
Name: 4242, dtype: object
4243 202.76000000000002 8 MP Last Month    25.345
Name: 4243, dtype: object
4244 140.57 10 MP Last Month    14.057
Name: 4244, dtype: object
4245 15.399999999999999 6 MP Last Month    2.56667
Name: 4245, dtype: object
4246 3.88 11 MP Last Month    0.352727
Name: 4246, dtype: object
4247 288.15 10 MP Last Month    28.815
Name: 4247, dtype: object
4248 202.91000000000003 11 MP Last Month    18.4464
Name: 4248, dtype: object
4249 214.24 11 MP Last Month    19.4764
Name: 4249, dtype: object
4250 304.88 11 MP Last Month    27.7164
Name: 4250, dtype: object
4251 323.31 11 MP Last Month    29.3918
Name: 4251, dtype: object
4252 219.26 11 MP Last Month    19.9327
Name: 4252, dtype: object
4253 40.53 11 MP Last Month    3.68455
Name: 4253, dtype: object
4254 39.41 10 MP Last Month    3.941
Name: 4254, dtype: object
4255 313.74 10 MP Last Month    31.374
Name: 4255, dtype: object
4256 111.0 11 MP Last Month    10.0909
Name: 4256, dtype: object
4257 335.0 11 MP Last Month    30.4545
Name: 4257, dtype: object
4258 186.26000000000002 11 MP Last Month    16.9327
Name: 4258, dtype: object
4259 273.82000000000005 11 MP Last Month    24.8927
Name: 4259, dtype: object
4260 164.43 11 MP Last Month    14.9482
Name: 4260, dtype: object
4261 255.34999999999997 11 MP Last Month    23.2136
Name: 4261, dtype: object
4262 57.78 9 MP Last Month    6.42
Name: 4262, dtype: object
4263 398.08000000000004 11 MP Last Month    36.1891
Name: 4263, dtype: object
4264 163.43 11 MP Last Month    14.8573
Name: 4264, dtype: object
4265 111.8 10 MP Last Month    11.18
Name: 4265, dtype: object
4266 87.48 11 MP Last Month    7.95273
Name: 4266, dtype: object
4267 336.82000000000005 11 MP Last Month    30.62
Name: 4267, dtype: object
4268 68.3 9 MP Last Month    7.58889
Name: 4268, dtype: object
4269 111.28999999999999 7 MP Last Month    15.8986
Name: 4269, dtype: object
4270 88.74000000000001 9 MP Last Month    9.86
Name: 4270, dtype: object
4271 22.3 6 MP Last Month    3.71667
Name: 4271, dtype: object
4272 141.82000000000002 11 MP Last Month    12.8927
Name: 4272, dtype: object
4273 299.61 10 MP Last Month    29.961
Name: 4273, dtype: object
4274 265.18999999999994 11 MP Last Month    24.1082
Name: 4274, dtype: object
4275 56.21 10 MP Last Month    5.621
Name: 4275, dtype: object
4276 97.18 6 MP Last Month    16.1967
Name: 4276, dtype: object
4277 303.95 12 MP Last Month    25.3292
Name: 4277, dtype: object
4278 333.16999999999996 12 MP Last Month    27.7642
Name: 4278, dtype: object
4279 293.74 12 MP Last Month    24.4783
Name: 4279, dtype: object
4280 81.41000000000001 12 MP Last Month    6.78417
Name: 4280, dtype: object
4281 220.82000000000002 12 MP Last Month    18.4017
Name: 4281, dtype: object
4282 226.66 12 MP Last Month    18.8883
Name: 4282, dtype: object
4283 70.03 5 MP Last Month    14.006
Name: 4283, dtype: object
4284 327.44999999999993 12 MP Last Month    27.2875
Name: 4284, dtype: object
4285 171.19000000000003 12 MP Last Month    14.2658
Name: 4285, dtype: object
4286 263.40999999999997 12 MP Last Month    21.9508
Name: 4286, dtype: object
4287 320.67999999999995 11 MP Last Month    29.1527
Name: 4287, dtype: object
4288 62.14999999999999 11 MP Last Month    5.65
Name: 4288, dtype: object
4289 133.76 10 MP Last Month    13.376
Name: 4289, dtype: object
4290 388.29999999999995 11 MP Last Month    35.3
Name: 4290, dtype: object
4291 329.41 11 MP Last Month    29.9464
Name: 4291, dtype: object
4292 249.33 11 MP Last Month    22.6664
Name: 4292, dtype: object
4293 230.55 11 MP Last Month    20.9591
Name: 4293, dtype: object
4294 7.23 9 MP Last Month    0.803333
Name: 4294, dtype: object
4295 333.89 10 MP Last Month    33.389
Name: 4295, dtype: object
4296 156.08 11 MP Last Month    14.1891
Name: 4296, dtype: object
4297 190.04000000000002 11 MP Last Month    17.2764
Name: 4297, dtype: object
4298 381.72 12 MP Last Month    31.81
Name: 4298, dtype: object
4299 127.11000000000003 12 MP Last Month    10.5925
Name: 4299, dtype: object
4300 29.8 12 MP Last Month    2.48333
Name: 4300, dtype: object
4301 315.7200000000001 13 MP Last Month    24.2862
Name: 4301, dtype: object
4302 258.30999999999995 13 MP Last Month    19.87
Name: 4302, dtype: object
4303 401.69000000000005 13 MP Last Month    30.8992
Name: 4303, dtype: object
4304 25.84 12 MP Last Month    2.15333
Name: 4304, dtype: object
4305 40.599999999999994 3 MP Last Month    13.5333
Name: 4305, dtype: object
4306 451.1700000000001 13 MP Last Month    34.7054
Name: 4306, dtype: object
4307 137.21 13 MP Last Month    10.5546
Name: 4307, dtype: object
4308 164.97000000000003 8 MP Last Month    20.6213
Name: 4308, dtype: object
4309 286.99 8 MP Last Month    35.8738
Name: 4309, dtype: object
4310 294.06 10 MP Last Month    29.406
Name: 4310, dtype: object
4311 142.13 9 MP Last Month    15.7922
Name: 4311, dtype: object
4312 79.86000000000001 10 MP Last Month    7.986
Name: 4312, dtype: object
4313 37.47 8 MP Last Month    4.68375
Name: 4313, dtype: object
4314 252.21000000000004 10 MP Last Month    25.221
Name: 4314, dtype: object
4315 198.04000000000002 11 MP Last Month    18.0036
Name: 4315, dtype: object
4316 374.07 11 MP Last Month    34.0064
Name: 4316, dtype: object
4317 195.05 11 MP Last Month    17.7318
Name: 4317, dtype: object
4318 14.47 11 MP Last Month    1.31545
Name: 4318, dtype: object
4319 359.54 11 MP Last Month    32.6855
Name: 4319, dtype: object
4320 82.03000000000002 11 MP Last Month    7.45727
Name: 4320, dtype: object
4321 237.62000000000003 11 MP Last Month    21.6018
Name: 4321, dtype: object
4322 387.99 12 MP Last Month    32.3325
Name: 4322, dtype: object
4323 95.35999999999999 7 MP Last Month    13.6229
Name: 4323, dtype: object
4324 152.32999999999998 12 MP Last Month    12.6942
Name: 4324, dtype: object
4325 382.81000000000006 12 MP Last Month    31.9008
Name: 4325, dtype: object
4326 271.84 12 MP Last Month    22.6533
Name: 4326, dtype: object
4327 18.45 1 MP Last Month    18.45
Name: 4327, dtype: object
4328 242.19999999999996 10 MP Last Month    24.22
Name: 4328, dtype: object
4329 311.7900000000001 12 MP Last Month    25.9825
Name: 4329, dtype: object
4330 276.49 12 MP Last Month    23.0408
Name: 4330, dtype: object
4331 85.03 12 MP Last Month    7.08583
Name: 4331, dtype: object
4332 347.55 12 MP Last Month    28.9625
Name: 4332, dtype: object
4333 85.71000000000001 6 MP Last Month    14.285
Name: 4333, dtype: object
4334 15.98 1 MP Last Month    15.98
Name: 4334, dtype: object
4335 289.05 10 MP Last Month    28.905
Name: 4335, dtype: object
4336 276.21000000000004 10 MP Last Month    27.621
Name: 4336, dtype: object
4337 368.79 10 MP Last Month    36.879
Name: 4337, dtype: object
4338 227.31 10 MP Last Month    22.731
Name: 4338, dtype: object
4339 49.010000000000005 10 MP Last Month    4.901
Name: 4339, dtype: object

4340 218.04000000000002 10 MP Last Month    21.804
Name: 4340, dtype: object
4341 20.27 10 MP Last Month    2.027
Name: 4341, dtype: object
4342 355.67999999999995 10 MP Last Month    35.568
Name: 4342, dtype: object
4343 172.48000000000002 10 MP Last Month    17.248
Name: 4343, dtype: object
4344 6.32 5 MP Last Month    1.264
Name: 4344, dtype: object
4345 97.35000000000001 7 MP Last Month    13.9071
Name: 4345, dtype: object
4346 408.27 12 MP Last Month    34.0225
Name: 4346, dtype: object
4347 191.5 8 MP Last Month    23.9375
Name: 4347, dtype: object
4348 68.02 12 MP Last Month    5.66833
Name: 4348, dtype: object
4349 34.8 11 MP Last Month    3.16364
Name: 4349, dtype: object
4350 334.64 12 MP Last Month    27.8867
Name: 4350, dtype: object
4351 269.11 8 MP Last Month    33.6388
Name: 4351, dtype: object
4352 214.99 9 MP Last Month    23.8878
Name: 4352, dtype: object
4353 353.96 12 MP Last Month    29.4967
Name: 4353, dtype: object
4354 169.62 11 MP Last Month    15.42
Name: 4354, dtype: object
4355 228.37 12 MP Last Month    19.0308
Name: 4355, dtype: object
4356 319.00999999999993 12 MP Last Month    26.5842
Name: 4356, dtype: object
4357 22.25 12 MP Last Month    1.85417
Name: 4357, dtype: object
4358 392.46 11 MP Last Month    35.6782
Name: 4358, dtype: object
4359 253.04 11 MP Last Month    23.0036
Name: 4359, dtype: object
4360 382.51 11 MP Last Month    34.7736
Name: 4360, dtype: object
4361 133.04 11 MP Last Month    12.0945
Name: 4361, dtype: object
4362 265.2 11 MP Last Month    24.1091
Name: 4362, dtype: object
4363 292.04 10 MP Last Month    29.204
Name: 4363, dtype: object
4364 296.12 11 MP Last Month    26.92
Name: 4364, dtype: object
4365 262.57 10 MP Last Month    26.257
Name: 4365, dtype: object
4366 112.80999999999999 4 MP Last Month    28.2025
Name: 4366, dtype: object
4367 106.31 11 MP Last Month    9.66455
Name: 4367, dtype: object
4368 22.7 11 MP Last Month    2.06364
Name: 4368, dtype: object
4369 98.24 11 MP Last Month    8.93091
Name: 4369, dtype: object
4370 362.62 12 MP Last Month    30.2183
Name: 4370, dtype: object
4371 203.4 12 MP Last Month    16.95
Name: 4371, dtype: object
4372 223.76000000000002 12 MP Last Month    18.6467
Name: 4372, dtype: object
4373 201.98 11 MP Last Month    18.3618
Name: 4373, dtype: object
4374 0.0 2 MP Last Month    0
Name: 4374, dtype: object
4375 68.88000000000001 12 MP Last Month    5.74
Name: 4375, dtype: object
4376 338.37 12 MP Last Month    28.1975
Name: 4376, dtype: object
4377 218.61 11 MP Last Month    19.8736
Name: 4377, dtype: object
4378 136.2 9 MP Last Month    15.1333
Name: 4378, dtype: object
4379 255.06 12 MP Last Month    21.255
Name: 4379, dtype: object
4380 72.99000000000001 12 MP Last Month    6.0825
Name: 4380, dtype: object
4381 359.36 11 MP Last Month    32.6691
Name: 4381, dtype: object
4382 294.32000000000005 12 MP Last Month    24.5267
Name: 4382, dtype: object
4383 284.03 12 MP Last Month    23.6692
Name: 4383, dtype: object
4384 6.07 12 MP Last Month    0.505833
Name: 4384, dtype: object
4385 393.68000000000006 12 MP Last Month    32.8067
Name: 4385, dtype: object
4386 275.84000000000003 11 MP Last Month    25.0764
Name: 4386, dtype: object
4387 309.98999999999995 12 MP Last Month    25.8325
Name: 4387, dtype: object
4388 331.96999999999997 11 MP Last Month    30.1791
Name: 4388, dtype: object
4389 65.58 12 MP Last Month    5.465
Name: 4389, dtype: object
4390 23.040000000000003 12 MP Last Month    1.92
Name: 4390, dtype: object
4391 359.0 12 MP Last Month    29.9167
Name: 4391, dtype: object
4392 125.96999999999998 9 MP Last Month    13.9967
Name: 4392, dtype: object
4393 61.27 6 MP Last Month    10.2117
Name: 4393, dtype: object
4394 408.23999999999995 12 MP Last Month    34.02
Name: 4394, dtype: object
4395 198.20999999999998 11 MP Last Month    18.0191
Name: 4395, dtype: object
4396 273.37999999999994 12 MP Last Month    22.7817
Name: 4396, dtype: object
4397 292.96999999999997 12 MP Last Month    24.4142
Name: 4397, dtype: object
4398 382.31 12 MP Last Month    31.8592
Name: 4398, dtype: object
4399 223.14999999999998 12 MP Last Month    18.5958
Name: 4399, dtype: object
4400 270.59999999999997 12 MP Last Month    22.55
Name: 4400, dtype: object
4401 283.33000000000004 12 MP Last Month    23.6108
Name: 4401, dtype: object
4402 260.03000000000003 12 MP Last Month    21.6692
Name: 4402, dtype: object
4403 258.65000000000003 12 MP Last Month    21.5542
Name: 4403, dtype: object
4404 404.11 12 MP Last Month    33.6758
Name: 4404, dtype: object
4405 403.46 12 MP Last Month    33.6217
Name: 4405, dtype: object
4406 215.15999999999997 12 MP Last Month    17.93
Name: 4406, dtype: object
4407 7.2299999999999995 10 MP Last Month    0.723
Name: 4407, dtype: object
4408 259.6 12 MP Last Month    21.6333
Name: 4408, dtype: object
4409 211.99 12 MP Last Month    17.6658
Name: 4409, dtype: object
4410 193.75 12 MP Last Month    16.1458
Name: 4410, dtype: object
4411 10.2 12 MP Last Month    0.85
Name: 4411, dtype: object
4412 317.51000000000005 12 MP Last Month    26.4592
Name: 4412, dtype: object
4413 351.97999999999996 12 MP Last Month    29.3317
Name: 4413, dtype: object
4414 210.66 12 MP Last Month    17.555
Name: 4414, dtype: object
4415 359.07 11 MP Last Month    32.6427
Name: 4415, dtype: object
4416 212.35 9 MP Last Month    23.5944
Name: 4416, dtype: object
4417 325.55 11 MP Last Month    29.5955
Name: 4417, dtype: object
4418 393.37 11 MP Last Month    35.7609
Name: 4418, dtype: object
4419 238.78000000000003 11 MP Last Month    21.7073
Name: 4419, dtype: object
4420 259.36 11 MP Last Month    23.5782
Name: 4420, dtype: object
4421 156.48000000000002 11 MP Last Month    14.2255
Name: 4421, dtype: object
4422 288.37 8 MP Last Month    36.0463
Name: 4422, dtype: object
4423 319.82 9 MP Last Month    35.5356
Name: 4423, dtype: object
4424 263.04 9 MP Last Month    29.2267
Name: 4424, dtype: object
4425 96.55 10 MP Last Month    9.655
Name: 4425, dtype: object
4426 142.14000000000001 11 MP Last Month    12.9218
Name: 4426, dtype: object
4427 391.03 11 MP Last Month    35.5482
Name: 4427, dtype: object
4428 77.96 11 MP Last Month    7.08727
Name: 4428, dtype: object
4429 176.82 8 MP Last Month    22.1025
Name: 4429, dtype: object
4430 369.84999999999997 11 MP Last Month    33.6227
Name: 4430, dtype: object
4431 17.0 6 MP Last Month    2.83333
Name: 4431, dtype: object
4432 443.62 13 MP Last Month    34.1246
Name: 4432, dtype: object
4433 350.74 13 MP Last Month    26.98
Name: 4433, dtype: object
4434 329.53 13 MP Last Month    25.3485
Name: 4434, dtype: object
4435 16.1 13 MP Last Month    1.23846
Name: 4435, dtype: object
4436 390.07000000000005 13 MP Last Month    30.0054
Name: 4436, dtype: object
4437 372.2699999999999 13 MP Last Month    28.6362
Name: 4437, dtype: object
4438 236.49 12 MP Last Month    19.7075
Name: 4438, dtype: object
4439 204.98999999999998 13 MP Last Month    15.7685
Name: 4439, dtype: object
4440 290.70000000000005 12 MP Last Month    24.225
Name: 4440, dtype: object
4441 349.1400000000001 13 MP Last Month    26.8569
Name: 4441, dtype: object
4442 45.03 13 MP Last Month    3.46385
Name: 4442, dtype: object
4443 306.52 12 MP Last Month    25.5433
Name: 4443, dtype: object
4444 199.25 12 MP Last Month    16.6042
Name: 4444, dtype: object
4445 245.37 9 MP Last Month    27.2633
Name: 4445, dtype: object
4446 326.1 12 MP Last Month    27.175
Name: 4446, dtype: object
4447 245.23999999999998 8 MP Last Month    30.655
Name: 4447, dtype: object
4448 64.22 12 MP Last Month    5.35167
Name: 4448, dtype: object
4449 420.39 12 MP Last Month    35.0325
Name: 4449, dtype: object
4450 381.11 12 MP Last Month    31.7592
Name: 4450, dtype: object
4451 225.61 12 MP Last Month    18.8008
Name: 4451, dtype: object
4452 309.54999999999995 12 MP Last Month    25.7958
Name: 4452, dtype: object
4453 135.39 10 MP Last Month    13.539
Name: 4453, dtype: object
4454 0.0 2 MP Last Month    0
Name: 4454, dtype: object
4455 360.51 12 MP Last Month    30.0425
Name: 4455, dtype: object
4456 339.21 12 MP Last Month    28.2675
Name: 4456, dtype: object
4457 234.32999999999998 12 MP Last Month    19.5275
Name: 4457, dtype: object
4458 40.53 12 MP Last Month    3.3775
Name: 4458, dtype: object

4459 39.41 11 MP Last Month    3.58273
Name: 4459, dtype: object
4460 354.86 11 MP Last Month    32.26
Name: 4460, dtype: object
4461 363.55 12 MP Last Month    30.2958
Name: 4461, dtype: object
4462 136.88 12 MP Last Month    11.4067
Name: 4462, dtype: object
4463 198.04000000000002 12 MP Last Month    16.5033
Name: 4463, dtype: object
4464 310.99000000000007 12 MP Last Month    25.9158
Name: 4464, dtype: object
4465 278.58 12 MP Last Month    23.215
Name: 4465, dtype: object
4466 175.1 12 MP Last Month    14.5917
Name: 4466, dtype: object
4467 57.78 10 MP Last Month    5.778
Name: 4467, dtype: object
4468 311.64 13 MP Last Month    23.9723
Name: 4468, dtype: object
4469 220.82000000000002 13 MP Last Month    16.9862
Name: 4469, dtype: object
4470 81.41000000000001 13 MP Last Month    6.26231
Name: 4470, dtype: object
4471 327.2 13 MP Last Month    25.1692
Name: 4471, dtype: object
4472 120.13000000000001 7 MP Last Month    17.1614
Name: 4472, dtype: object
4473 357.74999999999994 13 MP Last Month    27.5192
Name: 4473, dtype: object
4474 248.21 13 MP Last Month    19.0931
Name: 4474, dtype: object
4475 94.26 6 MP Last Month    15.71
Name: 4475, dtype: object
4476 347.0299999999999 13 MP Last Month    26.6946
Name: 4476, dtype: object
4477 199.61 13 MP Last Month    15.3546
Name: 4477, dtype: object
4478 289.39 13 MP Last Month    22.2608
Name: 4478, dtype: object
4479 242.57999999999998 12 MP Last Month    20.215
Name: 4479, dtype: object
4480 324.75 12 MP Last Month    27.0625
Name: 4480, dtype: object
4481 28.580000000000002 12 MP Last Month    2.38167
Name: 4481, dtype: object
4482 305.49 12 MP Last Month    25.4575
Name: 4482, dtype: object
4483 217.77 10 MP Last Month    21.777
Name: 4483, dtype: object
4484 361.82999999999987 12 MP Last Month    30.1525
Name: 4484, dtype: object
4485 22.41 12 MP Last Month    1.8675
Name: 4485, dtype: object
4486 5.52 6 MP Last Month    0.92
Name: 4486, dtype: object
4487 357.54999999999995 12 MP Last Month    29.7958
Name: 4487, dtype: object
4488 231.86 12 MP Last Month    19.3217
Name: 4488, dtype: object
4489 74.11999999999999 12 MP Last Month    6.17667
Name: 4489, dtype: object
4490 405.49 12 MP Last Month    33.7908
Name: 4490, dtype: object
4491 211.32000000000002 12 MP Last Month    17.61
Name: 4491, dtype: object
4492 2.8 4 MP Last Month    0.7
Name: 4492, dtype: object
4493 14.760000000000002 12 MP Last Month    1.23
Name: 4493, dtype: object
4494 345.53 12 MP Last Month    28.7942
Name: 4494, dtype: object
4495 257.57 12 MP Last Month    21.4642
Name: 4495, dtype: object
4496 174.2 12 MP Last Month    14.5167
Name: 4496, dtype: object
4497 304.34 12 MP Last Month    25.3617
Name: 4497, dtype: object
4498 233.60999999999999 12 MP Last Month    19.4675
Name: 4498, dtype: object
4499 79.68 12 MP Last Month    6.64
Name: 4499, dtype: object
4500 296.52 12 MP Last Month    24.71
Name: 4500, dtype: object
4501 94.91 12 MP Last Month    7.90917
Name: 4501, dtype: object
4502 349.30000000000007 13 MP Last Month    26.8692
Name: 4502, dtype: object
4503 351.37 13 MP Last Month    27.0285
Name: 4503, dtype: object
4504 136.65 10 MP Last Month    13.665
Name: 4504, dtype: object
4505 313.78999999999996 13 MP Last Month    24.1377
Name: 4505, dtype: object
4506 399.62999999999994 13 MP Last Month    30.7408
Name: 4506, dtype: object
4507 30.300000000000004 2 MP Last Month    15.15
Name: 4507, dtype: object
4508 379.32000000000005 13 MP Last Month    29.1785
Name: 4508, dtype: object
4509 278.86 12 MP Last Month    23.2383
Name: 4509, dtype: object
4510 54.3 8 MP Last Month    6.7875
Name: 4510, dtype: object
4511 202.84 10 MP Last Month    20.284
Name: 4511, dtype: object
4512 224.64999999999995 13 MP Last Month    17.2808
Name: 4512, dtype: object
4513 342.55999999999995 13 MP Last Month    26.3508
Name: 4513, dtype: object
4514 26.21 11 MP Last Month    2.38273
Name: 4514, dtype: object
4515 468.69000000000005 13 MP Last Month    36.0531
Name: 4515, dtype: object
4516 298.53999999999996 13 MP Last Month    22.9646
Name: 4516, dtype: object
4517 225.61999999999998 13 MP Last Month    17.3554
Name: 4517, dtype: object
4518 54.43000000000001 10 MP Last Month    5.443
Name: 4518, dtype: object
4519 228.9 13 MP Last Month    17.6077
Name: 4519, dtype: object
4520 289.67999999999995 13 MP Last Month    22.2831
Name: 4520, dtype: object
4521 404.09000000000003 13 MP Last Month    31.0838
Name: 4521, dtype: object
4522 465.46999999999997 13 MP Last Month    35.8054
Name: 4522, dtype: object
4523 106.71000000000001 13 MP Last Month    8.20846
Name: 4523, dtype: object
4524 168.05999999999997 12 MP Last Month    14.005
Name: 4524, dtype: object
4525 412.87999999999994 12 MP Last Month    34.4067
Name: 4525, dtype: object
4526 17.7 2 MP Last Month    8.85
Name: 4526, dtype: object
4527 161.47 12 MP Last Month    13.4558
Name: 4527, dtype: object
4528 244.19 8 MP Last Month    30.5237
Name: 4528, dtype: object
4529 225.19999999999996 12 MP Last Month    18.7667
Name: 4529, dtype: object
4530 300.89 12 MP Last Month    25.0742
Name: 4530, dtype: object
4531 16.5 12 MP Last Month    1.375
Name: 4531, dtype: object
4532 395.28 12 MP Last Month    32.94
Name: 4532, dtype: object
4533 179.44 12 MP Last Month    14.9533
Name: 4533, dtype: object
4534 5.539999999999999 12 MP Last Month    0.461667
Name: 4534, dtype: object
4535 425.28 13 MP Last Month    32.7138
Name: 4535, dtype: object
4536 139.45 12 MP Last Month    11.6208
Name: 4536, dtype: object
4537 56.9 4 MP Last Month    14.225
Name: 4537, dtype: object
4538 24.13 6 MP Last Month    4.02167
Name: 4538, dtype: object
4539 446.67 13 MP Last Month    34.3592
Name: 4539, dtype: object
4540 208.72000000000003 11 MP Last Month    18.9745
Name: 4540, dtype: object
4541 224.11999999999998 13 MP Last Month    17.24
Name: 4541, dtype: object
4542 210.62 13 MP Last Month    16.2015
Name: 4542, dtype: object
4543 164.55999999999997 13 MP Last Month    12.6585
Name: 4543, dtype: object
4544 329.38 11 MP Last Month    29.9436
Name: 4544, dtype: object
4545 221.14999999999995 13 MP Last Month    17.0115
Name: 4545, dtype: object
4546 215.83000000000004 13 MP Last Month    16.6023
Name: 4546, dtype: object
4547 323.4700000000001 12 MP Last Month    26.9558
Name: 4547, dtype: object
4548 320.36 12 MP Last Month    26.6967
Name: 4548, dtype: object
4549 32.44 12 MP Last Month    2.70333
Name: 4549, dtype: object
4550 3.8 3 MP Last Month    1.26667
Name: 4550, dtype: object
4551 72.52 11 MP Last Month    6.59273
Name: 4551, dtype: object
4552 34.89 9 MP Last Month    3.87667
Name: 4552, dtype: object
4553 407.01 12 MP Last Month    33.9175
Name: 4553, dtype: object
4554 362.73999999999995 12 MP Last Month    30.2283
Name: 4554, dtype: object
4555 164.07 12 MP Last Month    13.6725
Name: 4555, dtype: object
4556 270.8 12 MP Last Month    22.5667
Name: 4556, dtype: object
4557 152.46 12 MP Last Month    12.705
Name: 4557, dtype: object
4558 141.89999999999998 12 MP Last Month    11.825
Name: 4558, dtype: object
4559 357.46999999999997 11 MP Last Month    32.4973
Name: 4559, dtype: object
4560 290.21999999999997 11 MP Last Month    26.3836
Name: 4560, dtype: object
4561 284.28999999999996 11 MP Last Month    25.8445
Name: 4561, dtype: object
4562 135.50999999999996 11 MP Last Month    12.3191
Name: 4562, dtype: object
4563 169.61 11 MP Last Month    15.4191
Name: 4563, dtype: object
4564 0.0 3 MP Last Month    0
Name: 4564, dtype: object
4565 4.52 1 MP Last Month    4.52
Name: 4565, dtype: object
4566 274.17 11 MP Last Month    24.9245
Name: 4566, dtype: object
4567 348.03000000000003 11 MP Last Month    31.6391
Name: 4567, dtype: object
4568 0.0 2 MP Last Month    0
Name: 4568, dtype: object
4569 50.160000000000004 10 MP Last Month    5.016
Name: 4569, dtype: object
4570 368.5999999999999 11 MP Last Month    33.5091
Name: 4570, dtype: object
4571 277.1 10 MP Last Month    27.71
Name: 4571, dtype: object
4572 311.99 12 MP Last Month    25.9992
Name: 4572, dtype: object
4573 234.76000000000002 9 MP Last Month    26.0844
Name: 4573, dtype: object
4574 417.8 12 MP Last Month    34.8167
Name: 4574, dtype: object
4575 102.69 12 MP Last Month    8.5575
Name: 4575, dtype: object
4576 404.5 12 MP Last Month    33.7083
Name: 4576, dtype: object

4577 141.09 11 MP Last Month    12.8264
Name: 4577, dtype: object
4578 15.399999999999999 7 MP Last Month    2.2
Name: 4578, dtype: object
4579 3.88 12 MP Last Month    0.323333
Name: 4579, dtype: object
4580 322.65 11 MP Last Month    29.3318
Name: 4580, dtype: object
4581 225.84 12 MP Last Month    18.82
Name: 4581, dtype: object
4582 216.24000000000004 12 MP Last Month    18.02
Name: 4582, dtype: object
4583 211.94 8 MP Last Month    26.4925
Name: 4583, dtype: object
4584 350.53 13 MP Last Month    26.9638
Name: 4584, dtype: object
4585 289.65000000000003 13 MP Last Month    22.2808
Name: 4585, dtype: object
4586 246.89999999999998 12 MP Last Month    20.575
Name: 4586, dtype: object
4587 357.40000000000003 13 MP Last Month    27.4923
Name: 4587, dtype: object
4588 290.17 9 MP Last Month    32.2411
Name: 4588, dtype: object
4589 252.03000000000003 13 MP Last Month    19.3869
Name: 4589, dtype: object
4590 53.32 10 MP Last Month    5.332
Name: 4590, dtype: object
4591 39.09 13 MP Last Month    3.00692
Name: 4591, dtype: object
4592 17.7 12 MP Last Month    1.475
Name: 4592, dtype: object
4593 19.0 13 MP Last Month    1.46154
Name: 4593, dtype: object
4594 432.8 13 MP Last Month    33.2923
Name: 4594, dtype: object
4595 176.93 13 MP Last Month    13.61
Name: 4595, dtype: object
4596 434.30000000000007 12 MP Last Month    36.1917
Name: 4596, dtype: object
4597 178.8 12 MP Last Month    14.9
Name: 4597, dtype: object
4598 123.47999999999999 11 MP Last Month    11.2255
Name: 4598, dtype: object
4599 89.26 12 MP Last Month    7.43833
Name: 4599, dtype: object
4600 364.05000000000007 12 MP Last Month    30.3375
Name: 4600, dtype: object
4601 85.92999999999999 10 MP Last Month    8.593
Name: 4601, dtype: object
4602 133.09 8 MP Last Month    16.6363
Name: 4602, dtype: object
4603 116.67000000000002 10 MP Last Month    11.667
Name: 4603, dtype: object
4604 27.22 7 MP Last Month    3.88857
Name: 4604, dtype: object
4605 141.82000000000002 12 MP Last Month    11.8183
Name: 4605, dtype: object
4606 335.73 11 MP Last Month    30.5209
Name: 4606, dtype: object
4607 302.7199999999999 12 MP Last Month    25.2267
Name: 4607, dtype: object
4608 57.99 11 MP Last Month    5.27182
Name: 4608, dtype: object
4609 352.30999999999995 12 MP Last Month    29.3592
Name: 4609, dtype: object
4610 141.07999999999998 11 MP Last Month    12.8255
Name: 4610, dtype: object
4611 78.16999999999999 12 MP Last Month    6.51417
Name: 4611, dtype: object
4612 12.5 5 MP Last Month    2.5
Name: 4612, dtype: object
4613 426.56999999999994 12 MP Last Month    35.5475
Name: 4613, dtype: object
4614 358.68 12 MP Last Month    29.89
Name: 4614, dtype: object
4615 275.41 12 MP Last Month    22.9508
Name: 4615, dtype: object
4616 255.43 12 MP Last Month    21.2858
Name: 4616, dtype: object
4617 8.86 10 MP Last Month    0.886
Name: 4617, dtype: object
4618 370.59 11 MP Last Month    33.69
Name: 4618, dtype: object
4619 167.38000000000002 12 MP Last Month    13.9483
Name: 4619, dtype: object
4620 205.31000000000003 12 MP Last Month    17.1092
Name: 4620, dtype: object
4621 348.45 13 MP Last Month    26.8038
Name: 4621, dtype: object
4622 270.81 13 MP Last Month    20.8315
Name: 4622, dtype: object
4623 33.81 13 MP Last Month    2.60077
Name: 4623, dtype: object
4624 396.05999999999995 12 MP Last Month    33.005
Name: 4624, dtype: object
4625 380.82999999999987 13 MP Last Month    29.2946
Name: 4625, dtype: object
4626 327.89 13 MP Last Month    25.2223
Name: 4626, dtype: object
4627 245.59 11 MP Last Month    22.3264
Name: 4627, dtype: object
4628 27.64 13 MP Last Month    2.12615
Name: 4628, dtype: object
4629 10.75 7 MP Last Month    1.53571
Name: 4629, dtype: object
4630 383.9 13 MP Last Month    29.5308
Name: 4630, dtype: object
4631 101.63999999999999 13 MP Last Month    7.81846
Name: 4631, dtype: object
4632 249.51000000000002 13 MP Last Month    19.1931
Name: 4632, dtype: object
4633 420.17 13 MP Last Month    32.3208
Name: 4633, dtype: object
4634 52.68 13 MP Last Month    4.05231
Name: 4634, dtype: object
4635 340.4700000000001 14 MP Last Month    24.3193
Name: 4635, dtype: object
4636 300.80999999999995 14 MP Last Month    21.4864
Name: 4636, dtype: object
4637 161.51000000000002 13 MP Last Month    12.4238
Name: 4637, dtype: object
4638 0.0 3 MP Last Month    0
Name: 4638, dtype: object
4639 0.0 5 MP Last Month    0
Name: 4639, dtype: object
4640 436.1600000000001 14 MP Last Month    31.1543
Name: 4640, dtype: object
4641 40.599999999999994 4 MP Last Month    10.15
Name: 4641, dtype: object
4642 40.39 13 MP Last Month    3.10692
Name: 4642, dtype: object
4643 490.5400000000001 14 MP Last Month    35.0386
Name: 4643, dtype: object
4644 164.97000000000003 9 MP Last Month    18.33
Name: 4644, dtype: object
4645 150.84 14 MP Last Month    10.7743
Name: 4645, dtype: object
4646 321.52 9 MP Last Month    35.7244
Name: 4646, dtype: object
4647 92.68 11 MP Last Month    8.42545
Name: 4647, dtype: object
4648 320.19 11 MP Last Month    29.1082
Name: 4648, dtype: object
4649 152.98 10 MP Last Month    15.298
Name: 4649, dtype: object
4650 37.47 9 MP Last Month    4.16333
Name: 4650, dtype: object
4651 288.91 11 MP Last Month    26.2645
Name: 4651, dtype: object
4652 213.72000000000003 12 MP Last Month    17.81
Name: 4652, dtype: object
4653 407.37 12 MP Last Month    33.9475
Name: 4653, dtype: object
4654 217.04000000000002 12 MP Last Month    18.0867
Name: 4654, dtype: object
4655 14.47 12 MP Last Month    1.20583
Name: 4655, dtype: object
4656 389.89000000000004 12 MP Last Month    32.4908
Name: 4656, dtype: object
4657 99.68 12 MP Last Month    8.30667
Name: 4657, dtype: object
4658 237.62000000000003 12 MP Last Month    19.8017
Name: 4658, dtype: object
4659 426.89 13 MP Last Month    32.8377
Name: 4659, dtype: object
4660 103.67999999999998 8 MP Last Month    12.96
Name: 4660, dtype: object
4661 152.32999999999998 13 MP Last Month    11.7177
Name: 4661, dtype: object
4662 38.8 2 MP Last Month    19.4
Name: 4662, dtype: object
4663 408.76000000000005 13 MP Last Month    31.4431
Name: 4663, dtype: object
4664 337.9200000000001 13 MP Last Month    25.9938
Name: 4664, dtype: object
4665 87.38 13 MP Last Month    6.72154
Name: 4665, dtype: object
4666 293.71 13 MP Last Month    22.5931
Name: 4666, dtype: object
4667 268.67999999999995 11 MP Last Month    24.4255
Name: 4667, dtype: object
4668 292.01 13 MP Last Month    22.4623
Name: 4668, dtype: object
4669 373.48 13 MP Last Month    28.7292
Name: 4669, dtype: object
4670 28.330000000000002 10 MP Last Month    2.833
Name: 4670, dtype: object
4671 45.7 2 MP Last Month    22.85
Name: 4671, dtype: object
4672 305.09000000000003 11 MP Last Month    27.7355
Name: 4672, dtype: object
4673 318.78000000000003 11 MP Last Month    28.98
Name: 4673, dtype: object
4674 408.11 11 MP Last Month    37.1009
Name: 4674, dtype: object
4675 223.83 9 MP Last Month    24.87
Name: 4675, dtype: object
4676 228.46 11 MP Last Month    20.7691
Name: 4676, dtype: object
4677 245.49 11 MP Last Month    22.3173
Name: 4677, dtype: object
4678 64.49000000000001 11 MP Last Month    5.86273
Name: 4678, dtype: object
4679 32.55 11 MP Last Month    2.95909
Name: 4679, dtype: object
4680 391.4 11 MP Last Month    35.5818
Name: 4680, dtype: object
4681 192.75000000000003 11 MP Last Month    17.5227
Name: 4681, dtype: object
4682 69.5 10 MP Last Month    6.95
Name: 4682, dtype: object
4683 434.87 13 MP Last Month    33.4515
Name: 4683, dtype: object
4684 213.57 9 MP Last Month    23.73
Name: 4684, dtype: object
4685 121.65 8 MP Last Month    15.2063
Name: 4685, dtype: object
4686 70.39999999999999 13 MP Last Month    5.41538
Name: 4686, dtype: object
4687 34.8 12 MP Last Month    2.9
Name: 4687, dtype: object
4688 363.01 13 MP Last Month    27.9238
Name: 4688, dtype: object
4689 292.36 9 MP Last Month    32.4844
Name: 4689, dtype: object
4690 239.74 10 MP Last Month    23.974
Name: 4690, dtype: object
4691 375.08 13 MP Last Month    28.8523
Name: 4691, dtype: object
4692 187.95 12 MP Last Month    15.6625
Name: 4692, dtype: object
4693 344.67999999999995 13 MP Last Month    26.5138
Name: 4693, dtype: object
4694 249.15 13 MP Last Month    19.1654
Name: 4694, dtype: object

4695 24.63 13 MP Last Month    1.89462
Name: 4695, dtype: object
4696 344.71999999999997 10 MP Last Month    34.472
Name: 4696, dtype: object
4697 117.85000000000001 9 MP Last Month    13.0944
Name: 4697, dtype: object
4698 371.35 12 MP Last Month    30.9458
Name: 4698, dtype: object
4699 198.93000000000004 12 MP Last Month    16.5775
Name: 4699, dtype: object
4700 89.69999999999999 12 MP Last Month    7.475
Name: 4700, dtype: object
4701 406.42 12 MP Last Month    33.8683
Name: 4701, dtype: object
4702 362.05 12 MP Last Month    30.1708
Name: 4702, dtype: object
4703 185.27 12 MP Last Month    15.4392
Name: 4703, dtype: object
4704 97.77999999999999 12 MP Last Month    8.14833
Name: 4704, dtype: object
4705 9.31 9 MP Last Month    1.03444
Name: 4705, dtype: object
4706 406.79999999999995 12 MP Last Month    33.9
Name: 4706, dtype: object
4707 245.57999999999998 11 MP Last Month    22.3255
Name: 4707, dtype: object
4708 40.559999999999995 12 MP Last Month    3.38
Name: 4708, dtype: object
4709 433.40999999999997 12 MP Last Month    36.1175
Name: 4709, dtype: object
4710 410.34 12 MP Last Month    34.195
Name: 4710, dtype: object
4711 139.19 12 MP Last Month    11.5992
Name: 4711, dtype: object
4712 281.01 12 MP Last Month    23.4175
Name: 4712, dtype: object
4713 298.87 12 MP Last Month    24.9058
Name: 4713, dtype: object
4714 277.7 11 MP Last Month    25.2455
Name: 4714, dtype: object
4715 315.17 11 MP Last Month    28.6518
Name: 4715, dtype: object
4716 314.34000000000003 12 MP Last Month    26.195
Name: 4716, dtype: object
4717 146.06 5 MP Last Month    29.212
Name: 4717, dtype: object
4718 120.01 12 MP Last Month    10.0008
Name: 4718, dtype: object
4719 22.7 12 MP Last Month    1.89167
Name: 4719, dtype: object
4720 98.24 12 MP Last Month    8.18667
Name: 4720, dtype: object
4721 397.75 13 MP Last Month    30.5962
Name: 4721, dtype: object
4722 244.89000000000001 13 MP Last Month    18.8377
Name: 4722, dtype: object
4723 218.33 13 MP Last Month    16.7946
Name: 4723, dtype: object
4724 213.63 12 MP Last Month    17.8025
Name: 4724, dtype: object
4725 68.88000000000001 13 MP Last Month    5.29846
Name: 4725, dtype: object
4726 0.0 3 MP Last Month    0
Name: 4726, dtype: object
4727 371.24 13 MP Last Month    28.5569
Name: 4727, dtype: object
4728 139.48 10 MP Last Month    13.948
Name: 4728, dtype: object
4729 246.54000000000002 12 MP Last Month    20.545
Name: 4729, dtype: object
4730 281.89 13 MP Last Month    21.6838
Name: 4730, dtype: object
4731 88.07000000000001 13 MP Last Month    6.77462
Name: 4731, dtype: object
4732 444.27 13 MP Last Month    34.1746
Name: 4732, dtype: object
4733 226.03999999999996 12 MP Last Month    18.8367
Name: 4733, dtype: object
4734 301.25000000000006 13 MP Last Month    23.1731
Name: 4734, dtype: object
4735 50.45 9 MP Last Month    5.60556
Name: 4735, dtype: object
4736 18.68 4 MP Last Month    4.67
Name: 4736, dtype: object
4737 316.28999999999996 13 MP Last Month    24.33
Name: 4737, dtype: object
4738 298.04999999999995 13 MP Last Month    22.9269
Name: 4738, dtype: object
4739 416.43 13 MP Last Month    32.0331
Name: 4739, dtype: object
4740 246.89999999999998 13 MP Last Month    18.9923
Name: 4740, dtype: object
4741 304.87999999999994 13 MP Last Month    23.4523
Name: 4741, dtype: object
4742 21.75 12 MP Last Month    1.8125
Name: 4742, dtype: object
4743 56.78000000000001 11 MP Last Month    5.16182
Name: 4743, dtype: object
4744 284.54 12 MP Last Month    23.7117
Name: 4744, dtype: object
4745 305.84 12 MP Last Month    25.4867
Name: 4745, dtype: object
4746 18.189999999999998 6 MP Last Month    3.03167
Name: 4746, dtype: object
4747 73.97999999999999 11 MP Last Month    6.72545
Name: 4747, dtype: object
4748 152.58 11 MP Last Month    13.8709
Name: 4748, dtype: object
4749 327.49 12 MP Last Month    27.2908
Name: 4749, dtype: object
4750 336.88000000000005 11 MP Last Month    30.6255
Name: 4750, dtype: object
4751 340.59999999999997 12 MP Last Month    28.3833
Name: 4751, dtype: object
4752 205.72 10 MP Last Month    20.572
Name: 4752, dtype: object
4753 21.2 9 MP Last Month    2.35556
Name: 4753, dtype: object
4754 78.57 12 MP Last Month    6.5475
Name: 4754, dtype: object
4755 286.45000000000005 13 MP Last Month    22.0346
Name: 4755, dtype: object
4756 434.23 13 MP Last Month    33.4023
Name: 4756, dtype: object
4757 437.78999999999996 13 MP Last Month    33.6762
Name: 4757, dtype: object
4758 237.05999999999997 13 MP Last Month    18.2354
Name: 4758, dtype: object
4759 7.2299999999999995 11 MP Last Month    0.657273
Name: 4759, dtype: object
4760 241.84 13 MP Last Month    18.6031
Name: 4760, dtype: object
4761 280.05 13 MP Last Month    21.5423
Name: 4761, dtype: object
4762 193.75 13 MP Last Month    14.9038
Name: 4762, dtype: object
4763 10.2 13 MP Last Month    0.784615
Name: 4763, dtype: object
4764 381.4 13 MP Last Month    29.3385
Name: 4764, dtype: object
4765 348.48 13 MP Last Month    26.8062
Name: 4765, dtype: object
4766 225.82999999999998 13 MP Last Month    17.3715
Name: 4766, dtype: object
4767 470.59999999999997 14 MP Last Month    33.6143
Name: 4767, dtype: object
4768 161.48 13 MP Last Month    12.4215
Name: 4768, dtype: object
4769 75.4 5 MP Last Month    15.08
Name: 4769, dtype: object
4770 24.13 7 MP Last Month    3.44714
Name: 4770, dtype: object
4771 485.69 14 MP Last Month    34.6921
Name: 4771, dtype: object
4772 236.48999999999998 14 MP Last Month    16.8921
Name: 4772, dtype: object
4773 241.24000000000004 12 MP Last Month    20.1033
Name: 4773, dtype: object
4774 166.67999999999998 14 MP Last Month    11.9057
Name: 4774, dtype: object
4775 221.39000000000001 14 MP Last Month    15.8136
Name: 4775, dtype: object
4776 247.31999999999994 14 MP Last Month    17.6657
Name: 4776, dtype: object
4777 229.33000000000004 14 MP Last Month    16.3807
Name: 4777, dtype: object
4778 326.35 9 MP Last Month    36.2611
Name: 4778, dtype: object
4779 354.89 10 MP Last Month    35.489
Name: 4779, dtype: object
4780 294.09000000000003 10 MP Last Month    29.409
Name: 4780, dtype: object
4781 96.55 11 MP Last Month    8.77727
Name: 4781, dtype: object
4782 198.51999999999998 9 MP Last Month    22.0578
Name: 4782, dtype: object
4783 430.85999999999996 12 MP Last Month    35.905
Name: 4783, dtype: object
4784 175.07000000000002 12 MP Last Month    14.5892
Name: 4784, dtype: object
4785 90.63 12 MP Last Month    7.5525
Name: 4785, dtype: object
4786 398.61999999999995 12 MP Last Month    33.2183
Name: 4786, dtype: object
4787 17.0 7 MP Last Month    2.42857
Name: 4787, dtype: object
4788 391.74 12 MP Last Month    32.645
Name: 4788, dtype: object
4789 302.71 13 MP Last Month    23.2854
Name: 4789, dtype: object
4790 316.09000000000003 13 MP Last Month    24.3146
Name: 4790, dtype: object
4791 6.07 13 MP Last Month    0.466923
Name: 4791, dtype: object
4792 360.59 12 MP Last Month    30.0492
Name: 4792, dtype: object
4793 306.91 12 MP Last Month    25.5758
Name: 4793, dtype: object
4794 428.43000000000006 13 MP Last Month    32.9562
Name: 4794, dtype: object
4795 23.040000000000003 13 MP Last Month    1.77231
Name: 4795, dtype: object
4796 65.58 13 MP Last Month    5.04462
Name: 4796, dtype: object
4797 134.79999999999998 10 MP Last Month    13.48
Name: 4797, dtype: object
4798 393.43 13 MP Last Month    30.2638
Name: 4798, dtype: object
4799 66.0 7 MP Last Month    9.42857
Name: 4799, dtype: object
4800 379.8 14 MP Last Month    27.1286
Name: 4800, dtype: object
4801 381.9700000000001 14 MP Last Month    27.2836
Name: 4801, dtype: object
4802 140.85 11 MP Last Month    12.8045
Name: 4802, dtype: object
4803 413.1700000000001 14 MP Last Month    29.5121
Name: 4803, dtype: object
4804 342.21 14 MP Last Month    24.4436
Name: 4804, dtype: object
4805 54.080000000000005 3 MP Last Month    18.0267
Name: 4805, dtype: object
4806 302.79 13 MP Last Month    23.2915
Name: 4806, dtype: object
4807 54.3 9 MP Last Month    6.03333
Name: 4807, dtype: object
4808 17.68 9 MP Last Month    1.96444
Name: 4808, dtype: object
4809 229.54 11 MP Last Month    20.8673
Name: 4809, dtype: object
4810 245.94999999999996 14 MP Last Month    17.5679
Name: 4810, dtype: object
4811 26.21 12 MP Last Month    2.18417
Name: 4811, dtype: object

4812 0 0 MP Last Month    0
Name: 4812, dtype: object
4813 67.28 11 MP Last Month    6.11636
Name: 4813, dtype: object
4814 509.89000000000004 14 MP Last Month    36.4207
Name: 4814, dtype: object
4815 333.78999999999996 14 MP Last Month    23.8421
Name: 4815, dtype: object
4816 247.55 14 MP Last Month    17.6821
Name: 4816, dtype: object
4817 244.04999999999998 14 MP Last Month    17.4321
Name: 4817, dtype: object
4818 289.67999999999995 14 MP Last Month    20.6914
Name: 4818, dtype: object
4819 433.59000000000003 14 MP Last Month    30.9707
Name: 4819, dtype: object
4820 501.68999999999994 14 MP Last Month    35.835
Name: 4820, dtype: object
4821 170.85999999999999 13 MP Last Month    13.1431
Name: 4821, dtype: object
4822 125.11000000000001 14 MP Last Month    8.93643
Name: 4822, dtype: object
4823 338.51 13 MP Last Month    26.0392
Name: 4823, dtype: object
4824 30.99 7 MP Last Month    4.42714
Name: 4824, dtype: object
4825 312.07000000000005 13 MP Last Month    24.0054
Name: 4825, dtype: object
4826 100.74999999999999 12 MP Last Month    8.39583
Name: 4826, dtype: object
4827 336.88000000000005 12 MP Last Month    28.0733
Name: 4827, dtype: object
4828 356.09000000000003 13 MP Last Month    27.3915
Name: 4828, dtype: object
4829 191.96 12 MP Last Month    15.9967
Name: 4829, dtype: object
4830 240.55 11 MP Last Month    21.8682
Name: 4830, dtype: object
4831 368.81999999999994 13 MP Last Month    28.3708
Name: 4831, dtype: object
4832 84.75 13 MP Last Month    6.51923
Name: 4832, dtype: object
4833 24.22 10 MP Last Month    2.422
Name: 4833, dtype: object
4834 444.65999999999997 13 MP Last Month    34.2046
Name: 4834, dtype: object
4835 174.37 13 MP Last Month    13.4131
Name: 4835, dtype: object
4836 36.18 3 MP Last Month    12.06
Name: 4836, dtype: object
4837 276.89 9 MP Last Month    30.7656
Name: 4837, dtype: object
4838 333.71999999999997 13 MP Last Month    25.6708
Name: 4838, dtype: object
4839 240.69999999999996 13 MP Last Month    18.5154
Name: 4839, dtype: object
4840 16.5 13 MP Last Month    1.26923
Name: 4840, dtype: object
4841 196.26 13 MP Last Month    15.0969
Name: 4841, dtype: object
4842 426.26 13 MP Last Month    32.7892
Name: 4842, dtype: object
4843 5.539999999999999 13 MP Last Month    0.426154
Name: 4843, dtype: object
4844 357.75 12 MP Last Month    29.8125
Name: 4844, dtype: object
4845 263.76000000000005 12 MP Last Month    21.98
Name: 4845, dtype: object
4846 100.65 11 MP Last Month    9.15
Name: 4846, dtype: object
4847 103.62999999999998 10 MP Last Month    10.363
Name: 4847, dtype: object
4848 3.65 2 MP Last Month    1.825
Name: 4848, dtype: object
4849 276.81 12 MP Last Month    23.0675
Name: 4849, dtype: object
4850 246.7 10 MP Last Month    24.67
Name: 4850, dtype: object
4851 423.8 12 MP Last Month    35.3167
Name: 4851, dtype: object
4852 395.75 12 MP Last Month    32.9792
Name: 4852, dtype: object
4853 37.059999999999995 10 MP Last Month    3.706
Name: 4853, dtype: object
4854 165.96 12 MP Last Month    13.83
Name: 4854, dtype: object
4855 273.78999999999996 9 MP Last Month    30.4211
Name: 4855, dtype: object
4856 333.59999999999997 13 MP Last Month    25.6615
Name: 4856, dtype: object
4857 348.8 13 MP Last Month    26.8308
Name: 4857, dtype: object
4858 214.72 13 MP Last Month    16.5169
Name: 4858, dtype: object
4859 261.75 10 MP Last Month    26.175
Name: 4859, dtype: object
4860 64.22 13 MP Last Month    4.94
Name: 4860, dtype: object
4861 454.69 13 MP Last Month    34.9762
Name: 4861, dtype: object
4862 241.58 13 MP Last Month    18.5831
Name: 4862, dtype: object
4863 412.66 13 MP Last Month    31.7431
Name: 4863, dtype: object
4864 10.43 8 MP Last Month    1.30375
Name: 4864, dtype: object
4865 336.22999999999996 13 MP Last Month    25.8638
Name: 4865, dtype: object
4866 156.70999999999998 11 MP Last Month    14.2464
Name: 4866, dtype: object
4867 39.57 12 MP Last Month    3.2975
Name: 4867, dtype: object
4868 393.18999999999994 12 MP Last Month    32.7658
Name: 4868, dtype: object
4869 313.36999999999995 12 MP Last Month    26.1142
Name: 4869, dtype: object
4870 327.75 12 MP Last Month    27.3125
Name: 4870, dtype: object
4871 158.08999999999997 12 MP Last Month    13.1742
Name: 4871, dtype: object
4872 187.88000000000002 12 MP Last Month    15.6567
Name: 4872, dtype: object
4873 4.52 2 MP Last Month    2.26
Name: 4873, dtype: object
4874 0.0 4 MP Last Month    0
Name: 4874, dtype: object
4875 382.15000000000003 12 MP Last Month    31.8458
Name: 4875, dtype: object
4876 301.65000000000003 12 MP Last Month    25.1375
Name: 4876, dtype: object
4877 0.0 3 MP Last Month    0
Name: 4877, dtype: object
4878 50.160000000000004 11 MP Last Month    4.56
Name: 4878, dtype: object
4879 46.3 5 MP Last Month    9.26
Name: 4879, dtype: object
4880 403.81999999999994 12 MP Last Month    33.6517
Name: 4880, dtype: object
4881 339.44 13 MP Last Month    26.1108
Name: 4881, dtype: object
4882 305.90000000000003 11 MP Last Month    27.8091
Name: 4882, dtype: object
4883 255.63000000000002 10 MP Last Month    25.563
Name: 4883, dtype: object
4884 455.05 13 MP Last Month    35.0038
Name: 4884, dtype: object
4885 128.79 13 MP Last Month    9.90692
Name: 4885, dtype: object
4886 430.6 13 MP Last Month    33.1231
Name: 4886, dtype: object
4887 3.88 13 MP Last Month    0.298462
Name: 4887, dtype: object
4888 15.399999999999999 8 MP Last Month    1.925
Name: 4888, dtype: object
4889 344.5 12 MP Last Month    28.7083
Name: 4889, dtype: object
4890 248.02 13 MP Last Month    19.0785
Name: 4890, dtype: object
4891 235.59000000000003 13 MP Last Month    18.1223
Name: 4891, dtype: object
4892 369.24 13 MP Last Month    28.4031
Name: 4892, dtype: object
4893 393.69 13 MP Last Month    30.2838
Name: 4893, dtype: object
4894 247.23 13 MP Last Month    19.0177
Name: 4894, dtype: object
4895 0 0 MP Last Month    0
Name: 4895, dtype: object
4896 39.41 12 MP Last Month    3.28417
Name: 4896, dtype: object
4897 391.06 12 MP Last Month    32.5883
Name: 4897, dtype: object
4898 398.02 13 MP Last Month    30.6169
Name: 4898, dtype: object
4899 154.93 13 MP Last Month    11.9177
Name: 4899, dtype: object
4900 211.36 13 MP Last Month    16.2585
Name: 4900, dtype: object
4901 347.5200000000001 13 MP Last Month    26.7323
Name: 4901, dtype: object
4902 57.78 11 MP Last Month    5.25273
Name: 4902, dtype: object
4903 295.97999999999996 13 MP Last Month    22.7677
Name: 4903, dtype: object
4904 183.01999999999998 13 MP Last Month    14.0785
Name: 4904, dtype: object
4905 246.54 9 MP Last Month    27.3933
Name: 4905, dtype: object
4906 309.22 14 MP Last Month    22.0871
Name: 4906, dtype: object
4907 260.29999999999995 13 MP Last Month    20.0231
Name: 4907, dtype: object
4908 327.67 10 MP Last Month    32.767
Name: 4908, dtype: object
4909 439.98 13 MP Last Month    33.8446
Name: 4909, dtype: object
4910 390.62 14 MP Last Month    27.9014
Name: 4910, dtype: object
4911 395.83000000000004 13 MP Last Month    30.4485
Name: 4911, dtype: object
4912 266.81 14 MP Last Month    19.0579
Name: 4912, dtype: object
4913 39.09 14 MP Last Month    2.79214
Name: 4913, dtype: object
4914 17.7 13 MP Last Month    1.36154
Name: 4914, dtype: object
4915 19.0 14 MP Last Month    1.35714
Name: 4915, dtype: object
4916 470.0 14 MP Last Month    33.5714
Name: 4916, dtype: object
4917 187.68 14 MP Last Month    13.4057
Name: 4917, dtype: object
4918 472.9800000000001 13 MP Last Month    36.3831
Name: 4918, dtype: object
4919 130.38 12 MP Last Month    10.865
Name: 4919, dtype: object
4920 199.67000000000002 13 MP Last Month    15.3592
Name: 4920, dtype: object
4921 89.26 13 MP Last Month    6.86615
Name: 4921, dtype: object
4922 399.95000000000005 13 MP Last Month    30.7654
Name: 4922, dtype: object
4923 345.03 11 MP Last Month    31.3664
Name: 4923, dtype: object
4924 137.4 11 MP Last Month    12.4909
Name: 4924, dtype: object
4925 105.35999999999999 11 MP Last Month    9.57818
Name: 4925, dtype: object
4926 155.54 9 MP Last Month    17.2822
Name: 4926, dtype: object
4927 141.82000000000002 13 MP Last Month    10.9092
Name: 4927, dtype: object
4928 375.45000000000005 12 MP Last Month    31.2875
Name: 4928, dtype: object
4929 338.0399999999999 13 MP Last Month    26.0031
Name: 4929, dtype: object

4930 57.99 12 MP Last Month    4.8325
Name: 4930, dtype: object
4931 333.53999999999996 14 MP Last Month    23.8243
Name: 4931, dtype: object
4932 348.0 14 MP Last Month    24.8571
Name: 4932, dtype: object
4933 137.38 8 MP Last Month    17.1725
Name: 4933, dtype: object
4934 363.49999999999994 14 MP Last Month    25.9643
Name: 4934, dtype: object
4935 86.64000000000001 14 MP Last Month    6.18857
Name: 4935, dtype: object
4936 240.59000000000003 14 MP Last Month    17.185
Name: 4936, dtype: object
4937 119.84 7 MP Last Month    17.12
Name: 4937, dtype: object
4938 274.74 14 MP Last Month    19.6243
Name: 4938, dtype: object
4939 373.3299999999999 14 MP Last Month    26.6664
Name: 4939, dtype: object
4940 221.83 14 MP Last Month    15.845
Name: 4940, dtype: object
4941 311.96 14 MP Last Month    22.2829
Name: 4941, dtype: object
4942 387.93999999999994 13 MP Last Month    29.8415
Name: 4942, dtype: object
4943 155.05999999999997 12 MP Last Month    12.9217
Name: 4943, dtype: object
4944 14.03 6 MP Last Month    2.33833
Name: 4944, dtype: object
4945 88.99999999999999 13 MP Last Month    6.84615
Name: 4945, dtype: object
4946 462.2199999999999 13 MP Last Month    35.5554
Name: 4946, dtype: object
4947 389.7 13 MP Last Month    29.9769
Name: 4947, dtype: object
4948 281.61 13 MP Last Month    21.6623
Name: 4948, dtype: object
4949 8.86 11 MP Last Month    0.805455
Name: 4949, dtype: object
4950 295.59000000000003 13 MP Last Month    22.7377
Name: 4950, dtype: object
4951 403.59 12 MP Last Month    33.6325
Name: 4951, dtype: object
4952 182.38000000000002 13 MP Last Month    14.0292
Name: 4952, dtype: object
4953 220.76000000000002 13 MP Last Month    16.9815
Name: 4953, dtype: object
4954 379.8 14 MP Last Month    27.1286
Name: 4954, dtype: object
4955 287.46 14 MP Last Month    20.5329
Name: 4955, dtype: object
4956 33.81 14 MP Last Month    2.415
Name: 4956, dtype: object
4957 429.43999999999994 13 MP Last Month    33.0338
Name: 4957, dtype: object
4958 352.76 14 MP Last Month    25.1971
Name: 4958, dtype: object
4959 272.31 12 MP Last Month    22.6925
Name: 4959, dtype: object
4960 176.02999999999997 8 MP Last Month    22.0037
Name: 4960, dtype: object
4961 410.04999999999984 14 MP Last Month    29.2893
Name: 4961, dtype: object
4962 32.47 14 MP Last Month    2.31929
Name: 4962, dtype: object
4963 415.95 14 MP Last Month    29.7107
Name: 4963, dtype: object
4964 260.63 14 MP Last Month    18.6164
Name: 4964, dtype: object
4965 116.25999999999999 14 MP Last Month    8.30429
Name: 4965, dtype: object
4966 455.39 14 MP Last Month    32.5279
Name: 4966, dtype: object
4967 75.1 14 MP Last Month    5.36429
Name: 4967, dtype: object
4968 365.4500000000001 15 MP Last Month    24.3633
Name: 4968, dtype: object
4969 324.50999999999993 15 MP Last Month    21.634
Name: 4969, dtype: object
4970 175.83 14 MP Last Month    12.5593
Name: 4970, dtype: object
4971 0.0 6 MP Last Month    0
Name: 4971, dtype: object
4972 467.1600000000001 15 MP Last Month    31.144
Name: 4972, dtype: object
4973 64.03 5 MP Last Month    12.806
Name: 4973, dtype: object
4974 361.21999999999997 10 MP Last Month    36.122
Name: 4974, dtype: object
4975 40.39 14 MP Last Month    2.885
Name: 4975, dtype: object
4976 526.21 15 MP Last Month    35.0807
Name: 4976, dtype: object
4977 192.24000000000004 10 MP Last Month    19.224
Name: 4977, dtype: object
4978 152.84 15 MP Last Month    10.1893
Name: 4978, dtype: object
4979 358.53999999999996 10 MP Last Month    35.854
Name: 4979, dtype: object
4980 342.72 12 MP Last Month    28.56
Name: 4980, dtype: object
4981 109.83000000000001 12 MP Last Month    9.1525
Name: 4981, dtype: object
4982 22.439999999999998 3 MP Last Month    7.48
Name: 4982, dtype: object
4983 37.47 10 MP Last Month    3.747
Name: 4983, dtype: object
4984 329.29 12 MP Last Month    27.4408
Name: 4984, dtype: object
4985 224.37000000000003 13 MP Last Month    17.2592
Name: 4985, dtype: object
4986 239.42000000000002 13 MP Last Month    18.4169
Name: 4986, dtype: object
4987 14.47 13 MP Last Month    1.11308
Name: 4987, dtype: object
4988 424.47 13 MP Last Month    32.6515
Name: 4988, dtype: object
4989 113.10000000000001 13 MP Last Month    8.7
Name: 4989, dtype: object
4990 237.62000000000003 13 MP Last Month    18.2785
Name: 4990, dtype: object
4991 440.74 13 MP Last Month    33.9031
Name: 4991, dtype: object
4992 230.99 13 MP Last Month    17.7685
Name: 4992, dtype: object
4993 14.760000000000002 13 MP Last Month    1.13538
Name: 4993, dtype: object
4994 375.59999999999997 13 MP Last Month    28.8923
Name: 4994, dtype: object
4995 331.48999999999995 13 MP Last Month    25.4992
Name: 4995, dtype: object
4996 188.57 13 MP Last Month    14.5054
Name: 4996, dtype: object
4997 277.71999999999997 13 MP Last Month    21.3631
Name: 4997, dtype: object
4998 246.66 13 MP Last Month    18.9738
Name: 4998, dtype: object
4999 79.68 13 MP Last Month    6.12923
Name: 4999, dtype: object
5000 324.07 13 MP Last Month    24.9285
Name: 5000, dtype: object
5001 112.84 13 MP Last Month    8.68
Name: 5001, dtype: object
5002 71.88 3 MP Last Month    23.96
Name: 5002, dtype: object
5003 326.91 12 MP Last Month    27.2425
Name: 5003, dtype: object
5004 347.8 12 MP Last Month    28.9833
Name: 5004, dtype: object
5005 445.01 12 MP Last Month    37.0842
Name: 5005, dtype: object
5006 263.86 12 MP Last Month    21.9883
Name: 5006, dtype: object
5007 257.58 12 MP Last Month    21.465
Name: 5007, dtype: object
5008 33.349999999999994 12 MP Last Month    2.77917
Name: 5008, dtype: object
5009 67.04 12 MP Last Month    5.58667
Name: 5009, dtype: object
5010 82.5 11 MP Last Month    7.5
Name: 5010, dtype: object
5011 425.16999999999996 12 MP Last Month    35.4308
Name: 5011, dtype: object
5012 200.57000000000002 12 MP Last Month    16.7142
Name: 5012, dtype: object
5013 468.0 14 MP Last Month    33.4286
Name: 5013, dtype: object
5014 236.0 10 MP Last Month    23.6
Name: 5014, dtype: object
5015 137.82 9 MP Last Month    15.3133
Name: 5015, dtype: object
5016 36.33 13 MP Last Month    2.79462
Name: 5016, dtype: object
5017 77.1 14 MP Last Month    5.50714
Name: 5017, dtype: object
5018 326.14 10 MP Last Month    32.614
Name: 5018, dtype: object
5019 391.39 14 MP Last Month    27.9564
Name: 5019, dtype: object
5020 263.97 11 MP Last Month    23.9973
Name: 5020, dtype: object
5021 397.81 14 MP Last Month    28.415
Name: 5021, dtype: object
5022 26.16 14 MP Last Month    1.86857
Name: 5022, dtype: object
5023 264.03000000000003 14 MP Last Month    18.8593
Name: 5023, dtype: object
5024 395.67 13 MP Last Month    30.4362
Name: 5024, dtype: object
5025 381.02 11 MP Last Month    34.6382
Name: 5025, dtype: object
5026 140.67000000000002 10 MP Last Month    14.067
Name: 5026, dtype: object
5027 219.45000000000005 13 MP Last Month    16.8808
Name: 5027, dtype: object
5028 89.69999999999999 13 MP Last Month    6.9
Name: 5028, dtype: object
5029 442.42 13 MP Last Month    34.0323
Name: 5029, dtype: object
5030 389.5 13 MP Last Month    29.9615
Name: 5030, dtype: object
5031 9.31 10 MP Last Month    0.931
Name: 5031, dtype: object
5032 189.32000000000002 13 MP Last Month    14.5631
Name: 5032, dtype: object
5033 105.29999999999998 13 MP Last Month    8.1
Name: 5033, dtype: object
5034 438.81999999999994 13 MP Last Month    33.7554
Name: 5034, dtype: object
5035 273.33 12 MP Last Month    22.7775
Name: 5035, dtype: object
5036 41.83 13 MP Last Month    3.21769
Name: 5036, dtype: object
5037 447.62 13 MP Last Month    34.4323
Name: 5037, dtype: object
5038 466.46 13 MP Last Month    35.8815
Name: 5038, dtype: object
5039 151.52 13 MP Last Month    11.6554
Name: 5039, dtype: object
5040 299.15999999999997 13 MP Last Month    23.0123
Name: 5040, dtype: object
5041 336.87 12 MP Last Month    28.0725
Name: 5041, dtype: object
5042 319.82 13 MP Last Month    24.6015
Name: 5042, dtype: object
5043 335.82000000000005 13 MP Last Month    25.8323
Name: 5043, dtype: object
5044 316.75 12 MP Last Month    26.3958
Name: 5044, dtype: object
5045 127.11 13 MP Last Month    9.77769
Name: 5045, dtype: object
5046 174.96 6 MP Last Month    29.16
Name: 5046, dtype: object
5047 22.7 13 MP Last Month    1.74615
Name: 5047, dtype: object

5048 98.24 13 MP Last Month    7.55692
Name: 5048, dtype: object
5049 238.83 14 MP Last Month    17.0593
Name: 5049, dtype: object
5050 227.35 13 MP Last Month    17.4885
Name: 5050, dtype: object
5051 425.25 14 MP Last Month    30.375
Name: 5051, dtype: object
5052 68.88000000000001 14 MP Last Month    4.92
Name: 5052, dtype: object
5053 262.27000000000004 14 MP Last Month    18.7336
Name: 5053, dtype: object
5054 0.0 4 MP Last Month    0
Name: 5054, dtype: object
5055 260.77000000000004 13 MP Last Month    20.0592
Name: 5055, dtype: object
5056 160.07999999999998 11 MP Last Month    14.5527
Name: 5056, dtype: object
5057 398.07 14 MP Last Month    28.4336
Name: 5057, dtype: object
5058 313.89 14 MP Last Month    22.4207
Name: 5058, dtype: object
5059 99.42 14 MP Last Month    7.10143
Name: 5059, dtype: object
5060 470.58000000000004 14 MP Last Month    33.6129
Name: 5060, dtype: object
5061 472.34 14 MP Last Month    33.7386
Name: 5061, dtype: object
5062 243.53999999999996 14 MP Last Month    17.3957
Name: 5062, dtype: object
5063 317.47 14 MP Last Month    22.6764
Name: 5063, dtype: object
5064 7.2299999999999995 12 MP Last Month    0.6025
Name: 5064, dtype: object
5065 280.66 14 MP Last Month    20.0471
Name: 5065, dtype: object
5066 292.77000000000004 14 MP Last Month    20.9121
Name: 5066, dtype: object
5067 10.2 14 MP Last Month    0.728571
Name: 5067, dtype: object
5068 201.0 14 MP Last Month    14.3571
Name: 5068, dtype: object
5069 374.13 14 MP Last Month    26.7236
Name: 5069, dtype: object
5070 414.38 14 MP Last Month    29.5986
Name: 5070, dtype: object
5071 240.01 14 MP Last Month    17.1436
Name: 5071, dtype: object
5072 195.01 14 MP Last Month    13.9293
Name: 5072, dtype: object
5073 508.86999999999995 15 MP Last Month    33.9247
Name: 5073, dtype: object
5074 91.25 6 MP Last Month    15.2083
Name: 5074, dtype: object
5075 522.21 15 MP Last Month    34.814
Name: 5075, dtype: object
5076 266.96000000000004 13 MP Last Month    20.5354
Name: 5076, dtype: object
5077 261.14 15 MP Last Month    17.4093
Name: 5077, dtype: object
5078 177.85999999999999 15 MP Last Month    11.8573
Name: 5078, dtype: object
5079 238.86 15 MP Last Month    15.924
Name: 5079, dtype: object
5080 266.5199999999999 15 MP Last Month    17.768
Name: 5080, dtype: object
5081 372.08 12 MP Last Month    31.0067
Name: 5081, dtype: object
5082 246.95000000000005 15 MP Last Month    16.4633
Name: 5082, dtype: object
5083 363.17 10 MP Last Month    36.317
Name: 5083, dtype: object
5084 387.15999999999997 11 MP Last Month    35.1964
Name: 5084, dtype: object
5085 327.26000000000005 11 MP Last Month    29.7509
Name: 5085, dtype: object
5086 96.55 12 MP Last Month    8.04583
Name: 5086, dtype: object
5087 232.14999999999998 10 MP Last Month    23.215
Name: 5087, dtype: object
5088 190.47000000000003 13 MP Last Month    14.6515
Name: 5088, dtype: object
5089 102.22999999999999 13 MP Last Month    7.86385
Name: 5089, dtype: object
5090 471.62999999999994 13 MP Last Month    36.2792
Name: 5090, dtype: object
5091 202.36 11 MP Last Month    18.3964
Name: 5091, dtype: object
5092 434.96999999999997 13 MP Last Month    33.4592
Name: 5092, dtype: object
5093 17.0 8 MP Last Month    2.125
Name: 5093, dtype: object
5094 343.88 13 MP Last Month    26.4523
Name: 5094, dtype: object
5095 361.9200000000001 13 MP Last Month    27.84
Name: 5095, dtype: object
5096 13.899999999999999 4 MP Last Month    3.475
Name: 5096, dtype: object
5097 44.309999999999995 13 MP Last Month    3.40846
Name: 5097, dtype: object
5098 72.52 12 MP Last Month    6.04333
Name: 5098, dtype: object
5099 34.89 10 MP Last Month    3.489
Name: 5099, dtype: object
5100 449.48 13 MP Last Month    34.5754
Name: 5100, dtype: object
5101 399.65999999999997 13 MP Last Month    30.7431
Name: 5101, dtype: object
5102 181.0 13 MP Last Month    13.9231
Name: 5102, dtype: object
5103 303.25 13 MP Last Month    23.3269
Name: 5103, dtype: object
5104 173.01000000000002 13 MP Last Month    13.3085
Name: 5104, dtype: object
5105 141.89999999999998 13 MP Last Month    10.9154
Name: 5105, dtype: object
5106 347.93 13 MP Last Month    26.7638
Name: 5106, dtype: object
5107 375.52 13 MP Last Month    28.8862
Name: 5107, dtype: object
5108 101.06 4 MP Last Month    25.265
Name: 5108, dtype: object
5109 477.28 13 MP Last Month    36.7138
Name: 5109, dtype: object
5110 244.5 10 MP Last Month    24.45
Name: 5110, dtype: object
5111 289.29 13 MP Last Month    22.2531
Name: 5111, dtype: object
5112 282.63 13 MP Last Month    21.7408
Name: 5112, dtype: object
5113 78.02000000000001 13 MP Last Month    6.00154
Name: 5113, dtype: object
5114 40.05 13 MP Last Month    3.08077
Name: 5114, dtype: object
5115 453.74999999999994 13 MP Last Month    34.9038
Name: 5115, dtype: object
5116 101.92 12 MP Last Month    8.49333
Name: 5116, dtype: object
5117 214.22000000000003 13 MP Last Month    16.4785
Name: 5117, dtype: object
5118 390.49 12 MP Last Month    32.5408
Name: 5118, dtype: object
5119 309.13999999999993 13 MP Last Month    23.78
Name: 5119, dtype: object
5120 305.81 13 MP Last Month    23.5238
Name: 5120, dtype: object
5121 14.07 13 MP Last Month    1.08231
Name: 5121, dtype: object
5122 426.15 13 MP Last Month    32.7808
Name: 5122, dtype: object
5123 311.02 12 MP Last Month    25.9183
Name: 5123, dtype: object
5124 314.21999999999997 12 MP Last Month    26.185
Name: 5124, dtype: object
5125 357.5899999999999 12 MP Last Month    29.7992
Name: 5125, dtype: object
5126 27.220000000000002 13 MP Last Month    2.09385
Name: 5126, dtype: object
5127 85.47999999999999 13 MP Last Month    6.57538
Name: 5127, dtype: object
5128 383.53 13 MP Last Month    29.5023
Name: 5128, dtype: object
5129 134.14999999999998 10 MP Last Month    13.415
Name: 5129, dtype: object
5130 71.24000000000001 7 MP Last Month    10.1771
Name: 5130, dtype: object
5131 408.82 15 MP Last Month    27.2547
Name: 5131, dtype: object
5132 405.5200000000001 15 MP Last Month    27.0347
Name: 5132, dtype: object
5133 166.68 12 MP Last Month    13.89
Name: 5133, dtype: object
5134 81.60000000000001 4 MP Last Month    20.4
Name: 5134, dtype: object
5135 438.24000000000007 15 MP Last Month    29.216
Name: 5135, dtype: object
5136 61.43 10 MP Last Month    6.143
Name: 5136, dtype: object
5137 366.78 15 MP Last Month    24.452
Name: 5137, dtype: object
5138 328.44 14 MP Last Month    23.46
Name: 5138, dtype: object
5139 20.75 10 MP Last Month    2.075
Name: 5139, dtype: object
5140 342.55999999999995 14 MP Last Month    24.4686
Name: 5140, dtype: object
5141 262.79999999999995 15 MP Last Month    17.52
Name: 5141, dtype: object
5142 34.74 13 MP Last Month    2.67231
Name: 5142, dtype: object
5143 541.4100000000001 15 MP Last Month    36.094
Name: 5143, dtype: object
5144 266.03000000000003 15 MP Last Month    17.7353
Name: 5144, dtype: object
5145 90.18 12 MP Last Month    7.515
Name: 5145, dtype: object
5146 364.52 15 MP Last Month    24.3013
Name: 5146, dtype: object
5147 265.52 15 MP Last Month    17.7013
Name: 5147, dtype: object
5148 298.12999999999994 15 MP Last Month    19.8753
Name: 5148, dtype: object
5149 533.6099999999999 15 MP Last Month    35.574
Name: 5149, dtype: object
5150 460.12 15 MP Last Month    30.6747
Name: 5150, dtype: object
5151 138.13000000000002 15 MP Last Month    9.20867
Name: 5151, dtype: object
5152 180.33999999999997 14 MP Last Month    12.8814
Name: 5152, dtype: object
5153 356.46 14 MP Last Month    25.4614
Name: 5153, dtype: object
5154 483.47 14 MP Last Month    34.5336
Name: 5154, dtype: object
5155 385.47 14 MP Last Month    27.5336
Name: 5155, dtype: object
5156 16.1 14 MP Last Month    1.15
Name: 5156, dtype: object
5157 255.49 13 MP Last Month    19.6531
Name: 5157, dtype: object
5158 427.25000000000006 14 MP Last Month    30.5179
Name: 5158, dtype: object
5159 395.4899999999999 14 MP Last Month    28.2493
Name: 5159, dtype: object
5160 213.14 14 MP Last Month    15.2243
Name: 5160, dtype: object
5161 312.93000000000006 13 MP Last Month    24.0715
Name: 5161, dtype: object
5162 373.3100000000001 14 MP Last Month    26.665
Name: 5162, dtype: object
5163 49.56 14 MP Last Month    3.54
Name: 5163, dtype: object
5164 428.81999999999994 13 MP Last Month    32.9862
Name: 5164, dtype: object

5165 342.23999999999995 13 MP Last Month    26.3262
Name: 5165, dtype: object
5166 366.87 13 MP Last Month    28.2208
Name: 5166, dtype: object
5167 208.71000000000004 13 MP Last Month    16.0546
Name: 5167, dtype: object
5168 174.14 13 MP Last Month    13.3954
Name: 5168, dtype: object
5169 0.0 5 MP Last Month    0
Name: 5169, dtype: object
5170 12.29 3 MP Last Month    4.09667
Name: 5170, dtype: object
5171 317.22 13 MP Last Month    24.4015
Name: 5171, dtype: object
5172 420.37 13 MP Last Month    32.3362
Name: 5172, dtype: object
5173 84.45999999999998 8 MP Last Month    10.5575
Name: 5173, dtype: object
5174 0.0 4 MP Last Month    0
Name: 5174, dtype: object
5175 50.160000000000004 12 MP Last Month    4.18
Name: 5175, dtype: object
5176 441.7699999999999 13 MP Last Month    33.9823
Name: 5176, dtype: object
5177 370.17 14 MP Last Month    26.4407
Name: 5177, dtype: object
5178 289.61 11 MP Last Month    26.3282
Name: 5178, dtype: object
5179 335.02000000000004 12 MP Last Month    27.9183
Name: 5179, dtype: object
5180 490.55 14 MP Last Month    35.0393
Name: 5180, dtype: object
5181 464.20000000000005 14 MP Last Month    33.1571
Name: 5181, dtype: object
5182 154.89 14 MP Last Month    11.0636
Name: 5182, dtype: object
5183 16.619999999999997 9 MP Last Month    1.84667
Name: 5183, dtype: object
5184 151.14000000000001 12 MP Last Month    12.595
Name: 5184, dtype: object
5185 6.05 14 MP Last Month    0.432143
Name: 5185, dtype: object
5186 366.15 13 MP Last Month    28.1654
Name: 5186, dtype: object
5187 245.66000000000003 14 MP Last Month    17.5471
Name: 5187, dtype: object
5188 263.89 14 MP Last Month    18.8493
Name: 5188, dtype: object
5189 399.17 14 MP Last Month    28.5121
Name: 5189, dtype: object
5190 420.97 14 MP Last Month    30.0693
Name: 5190, dtype: object
5191 39.41 13 MP Last Month    3.03154
Name: 5191, dtype: object
5192 40.53 13 MP Last Month    3.11769
Name: 5192, dtype: object
5193 0.0 1 MP Last Month    0
Name: 5193, dtype: object
5194 430.28999999999996 14 MP Last Month    30.735
Name: 5194, dtype: object
5195 425.56 13 MP Last Month    32.7354
Name: 5195, dtype: object
5196 182.06 14 MP Last Month    13.0043
Name: 5196, dtype: object
5197 228.91000000000003 14 MP Last Month    16.3507
Name: 5197, dtype: object
5198 372.4200000000001 14 MP Last Month    26.6014
Name: 5198, dtype: object
5199 67.26 12 MP Last Month    5.605
Name: 5199, dtype: object
5200 15.2 4 MP Last Month    3.8
Name: 5200, dtype: object
5201 321.15 14 MP Last Month    22.9393
Name: 5201, dtype: object
5202 389.46 14 MP Last Month    27.8186
Name: 5202, dtype: object
5203 283.52 10 MP Last Month    28.352
Name: 5203, dtype: object
5204 271.31999999999994 14 MP Last Month    19.38
Name: 5204, dtype: object
5205 326.0 15 MP Last Month    21.7333
Name: 5205, dtype: object
5206 365.72 11 MP Last Month    33.2473
Name: 5206, dtype: object
5207 446.95 13 MP Last Month    34.3808
Name: 5207, dtype: object
5208 418.45 15 MP Last Month    27.8967
Name: 5208, dtype: object
5209 393.08 13 MP Last Month    30.2369
Name: 5209, dtype: object
5210 39.09 15 MP Last Month    2.606
Name: 5210, dtype: object
5211 266.81 15 MP Last Month    17.7873
Name: 5211, dtype: object
5212 19.0 15 MP Last Month    1.26667
Name: 5212, dtype: object
5213 504.77 15 MP Last Month    33.6513
Name: 5213, dtype: object
5214 200.91 15 MP Last Month    13.394
Name: 5214, dtype: object
5215 511.81000000000006 14 MP Last Month    36.5579
Name: 5215, dtype: object
5216 212.54000000000002 14 MP Last Month    15.1814
Name: 5216, dtype: object
5217 89.26 14 MP Last Month    6.37571
Name: 5217, dtype: object
5218 143.9 5 MP Last Month    28.78
Name: 5218, dtype: object
5219 136.85999999999999 13 MP Last Month    10.5277
Name: 5219, dtype: object
5220 378.53 12 MP Last Month    31.5442
Name: 5220, dtype: object
5221 173.85999999999999 10 MP Last Month    17.386
Name: 5221, dtype: object
5222 438.13000000000005 14 MP Last Month    31.295
Name: 5222, dtype: object
5223 167.15 12 MP Last Month    13.9292
Name: 5223, dtype: object
5224 141.82000000000002 14 MP Last Month    10.13
Name: 5224, dtype: object
5225 112.57999999999998 12 MP Last Month    9.38167
Name: 5225, dtype: object
5226 416.23 13 MP Last Month    32.0177
Name: 5226, dtype: object
5227 352.1099999999999 14 MP Last Month    25.1507
Name: 5227, dtype: object
5228 158.68 9 MP Last Month    17.6311
Name: 5228, dtype: object
5229 240.59000000000003 15 MP Last Month    16.0393
Name: 5229, dtype: object
5230 365.85999999999996 15 MP Last Month    24.3907
Name: 5230, dtype: object
5231 371.3 15 MP Last Month    24.7533
Name: 5231, dtype: object
5232 384.91999999999996 15 MP Last Month    25.6613
Name: 5232, dtype: object
5233 91.99000000000001 15 MP Last Month    6.13267
Name: 5233, dtype: object
5234 149.17000000000002 8 MP Last Month    18.6463
Name: 5234, dtype: object
5235 296.74 15 MP Last Month    19.7827
Name: 5235, dtype: object
5236 239.58 15 MP Last Month    15.972
Name: 5236, dtype: object
5237 332.35999999999996 15 MP Last Month    22.1573
Name: 5237, dtype: object
5238 395.4599999999999 15 MP Last Month    26.364
Name: 5238, dtype: object
5239 444.06 14 MP Last Month    31.7186
Name: 5239, dtype: object
5240 361.87000000000006 15 MP Last Month    24.1247
Name: 5240, dtype: object
5241 326.58 15 MP Last Month    21.772
Name: 5241, dtype: object
5242 88.73 14 MP Last Month    6.33786
Name: 5242, dtype: object
5243 153.4 14 MP Last Month    10.9571
Name: 5243, dtype: object
5244 394.14 11 MP Last Month    35.8309
Name: 5244, dtype: object
5245 470.71999999999997 15 MP Last Month    31.3813
Name: 5245, dtype: object
5246 87.26 6 MP Last Month    14.5433
Name: 5246, dtype: object
5247 525.19 15 MP Last Month    35.0127
Name: 5247, dtype: object
5248 148.06 15 MP Last Month    9.87067
Name: 5248, dtype: object
5249 218.54000000000005 11 MP Last Month    19.8673
Name: 5249, dtype: object
5250 478.26 14 MP Last Month    34.1614
Name: 5250, dtype: object
5251 2.8 5 MP Last Month    0.56
Name: 5251, dtype: object
5252 14.760000000000002 14 MP Last Month    1.05429
Name: 5252, dtype: object
5253 410.03 14 MP Last Month    29.2879
Name: 5253, dtype: object
5254 293.69 14 MP Last Month    20.9779
Name: 5254, dtype: object
5255 261.13 14 MP Last Month    18.6521
Name: 5255, dtype: object
5256 358.9599999999999 14 MP Last Month    25.64
Name: 5256, dtype: object
5257 212.2 14 MP Last Month    15.1571
Name: 5257, dtype: object
5258 79.68 14 MP Last Month    5.69143
Name: 5258, dtype: object
5259 359.1 14 MP Last Month    25.65
Name: 5259, dtype: object
5260 121.14 14 MP Last Month    8.65286
Name: 5260, dtype: object
5261 457.81 14 MP Last Month    32.7007
Name: 5261, dtype: object
5262 103.67999999999998 9 MP Last Month    11.52
Name: 5262, dtype: object
5263 152.32999999999998 14 MP Last Month    10.8807
Name: 5263, dtype: object
5264 434.61000000000007 14 MP Last Month    31.0436
Name: 5264, dtype: object
5265 364.6500000000001 14 MP Last Month    26.0464
Name: 5265, dtype: object
5266 294.94999999999993 12 MP Last Month    24.5792
Name: 5266, dtype: object
5267 63.519999999999996 3 MP Last Month    21.1733
Name: 5267, dtype: object
5268 314.97999999999996 14 MP Last Month    22.4986
Name: 5268, dtype: object
5269 103.19999999999999 14 MP Last Month    7.37143
Name: 5269, dtype: object
5270 311.18 14 MP Last Month    22.2271
Name: 5270, dtype: object
5271 405.66 14 MP Last Month    28.9757
Name: 5271, dtype: object
5272 28.330000000000002 11 MP Last Month    2.57545
Name: 5272, dtype: object
5273 506.43 15 MP Last Month    33.762
Name: 5273, dtype: object
5274 151.9 10 MP Last Month    15.19
Name: 5274, dtype: object
5275 258.7 11 MP Last Month    23.5182
Name: 5275, dtype: object
5276 77.1 15 MP Last Month    5.14
Name: 5276, dtype: object
5277 44.98 14 MP Last Month    3.21286
Name: 5277, dtype: object
5278 2.28 2 MP Last Month    1.14
Name: 5278, dtype: object
5279 360.87 11 MP Last Month    32.8064
Name: 5279, dtype: object
5280 420.82 15 MP Last Month    28.0547
Name: 5280, dtype: object
5281 417.83 15 MP Last Month    27.8553
Name: 5281, dtype: object
5282 287.94000000000005 12 MP Last Month    23.995
Name: 5282, dtype: object
5283 371.65 14 MP Last Month    26.5464
Name: 5283, dtype: object

5284 290.98 15 MP Last Month    19.3987
Name: 5284, dtype: object
5285 47.19 15 MP Last Month    3.146
Name: 5285, dtype: object
5286 405.75 12 MP Last Month    33.8125
Name: 5286, dtype: object
5287 420.29 14 MP Last Month    30.0207
Name: 5287, dtype: object
5288 239.95000000000005 14 MP Last Month    17.1393
Name: 5288, dtype: object
5289 157.32000000000002 11 MP Last Month    14.3018
Name: 5289, dtype: object
5290 110.49999999999999 14 MP Last Month    7.89286
Name: 5290, dtype: object
5291 467.37 14 MP Last Month    33.3836
Name: 5291, dtype: object
5292 411.07 14 MP Last Month    29.3621
Name: 5292, dtype: object
5293 21.310000000000002 11 MP Last Month    1.93727
Name: 5293, dtype: object
5294 198.95000000000002 14 MP Last Month    14.2107
Name: 5294, dtype: object
5295 111.04999999999998 14 MP Last Month    7.93214
Name: 5295, dtype: object
5296 464.48999999999995 14 MP Last Month    33.1779
Name: 5296, dtype: object
5297 295.26 13 MP Last Month    22.7123
Name: 5297, dtype: object
5298 53.03 14 MP Last Month    3.78786
Name: 5298, dtype: object
5299 475.6 14 MP Last Month    33.9714
Name: 5299, dtype: object
5300 487.85999999999996 14 MP Last Month    34.8471
Name: 5300, dtype: object
5301 168.35000000000002 14 MP Last Month    12.025
Name: 5301, dtype: object
5302 328.21 14 MP Last Month    23.4436
Name: 5302, dtype: object
5303 354.22 14 MP Last Month    25.3014
Name: 5303, dtype: object
5304 363.1 13 MP Last Month    27.9308
Name: 5304, dtype: object
5305 337.42 13 MP Last Month    25.9554
Name: 5305, dtype: object
5306 344.05 14 MP Last Month    24.575
Name: 5306, dtype: object
5307 194.81 7 MP Last Month    27.83
Name: 5307, dtype: object
5308 151.16 14 MP Last Month    10.7971
Name: 5308, dtype: object
5309 101.33999999999999 14 MP Last Month    7.23857
Name: 5309, dtype: object
5310 250.36 14 MP Last Month    17.8829
Name: 5310, dtype: object
5311 418.72 14 MP Last Month    29.9086
Name: 5311, dtype: object
5312 250.9 13 MP Last Month    19.3
Name: 5312, dtype: object
5313 254.78 14 MP Last Month    18.1986
Name: 5313, dtype: object
5314 73.4 14 MP Last Month    5.24286
Name: 5314, dtype: object
5315 388.75 14 MP Last Month    27.7679
Name: 5315, dtype: object
5316 279.12 13 MP Last Month    21.4708
Name: 5316, dtype: object
5317 163.13000000000002 11 MP Last Month    14.83
Name: 5317, dtype: object
5318 176.87 9 MP Last Month    19.6522
Name: 5318, dtype: object
5319 305.15999999999997 14 MP Last Month    21.7971
Name: 5319, dtype: object
5320 0 0 MP Last Month    0
Name: 5320, dtype: object
5321 106.42999999999999 14 MP Last Month    7.60214
Name: 5321, dtype: object
5322 429.04 13 MP Last Month    33.0031
Name: 5322, dtype: object
5323 325.64 14 MP Last Month    23.26
Name: 5323, dtype: object
5324 327.7699999999999 14 MP Last Month    23.4121
Name: 5324, dtype: object
5325 14.07 14 MP Last Month    1.005
Name: 5325, dtype: object
5326 350.07 13 MP Last Month    26.9285
Name: 5326, dtype: object
5327 463.67999999999995 14 MP Last Month    33.12
Name: 5327, dtype: object
5328 27.220000000000002 14 MP Last Month    1.94429
Name: 5328, dtype: object
5329 382.9199999999999 13 MP Last Month    29.4554
Name: 5329, dtype: object
5330 347.28999999999996 13 MP Last Month    26.7146
Name: 5330, dtype: object
5331 85.47999999999999 14 MP Last Month    6.10571
Name: 5331, dtype: object
5332 418.76 14 MP Last Month    29.9114
Name: 5332, dtype: object
5333 151.92 11 MP Last Month    13.8109
Name: 5333, dtype: object
5334 71.24000000000001 8 MP Last Month    8.905
Name: 5334, dtype: object
5335 410.33000000000004 15 MP Last Month    27.3553
Name: 5335, dtype: object
5336 344.21 14 MP Last Month    24.5864
Name: 5336, dtype: object
5337 426.1400000000001 15 MP Last Month    28.4093
Name: 5337, dtype: object
5338 407.84000000000003 15 MP Last Month    27.1893
Name: 5338, dtype: object
5339 348.82 15 MP Last Month    23.2547
Name: 5339, dtype: object
5340 260.09999999999997 15 MP Last Month    17.34
Name: 5340, dtype: object
5341 105.88000000000001 5 MP Last Month    21.176
Name: 5341, dtype: object
5342 252.76 12 MP Last Month    21.0633
Name: 5342, dtype: object
5343 353.34999999999997 15 MP Last Month    23.5567
Name: 5343, dtype: object
5344 185.01 13 MP Last Month    14.2315
Name: 5344, dtype: object
5345 108.96000000000001 13 MP Last Month    8.38154
Name: 5345, dtype: object
5346 288.52 16 MP Last Month    18.0325
Name: 5346, dtype: object
5347 301.60999999999996 16 MP Last Month    18.8506
Name: 5347, dtype: object
5348 286.78000000000003 16 MP Last Month    17.9238
Name: 5348, dtype: object
5349 393.74 16 MP Last Month    24.6088
Name: 5349, dtype: object
5350 493.87 16 MP Last Month    30.8669
Name: 5350, dtype: object
5351 562.81 16 MP Last Month    35.1756
Name: 5351, dtype: object
5352 158.03000000000003 16 MP Last Month    9.87688
Name: 5352, dtype: object
5353 183.81999999999996 15 MP Last Month    12.2547
Name: 5353, dtype: object
5354 441.47 13 MP Last Month    33.9592
Name: 5354, dtype: object
5355 66.83 9 MP Last Month    7.42556
Name: 5355, dtype: object
5356 222.02 12 MP Last Month    18.5017
Name: 5356, dtype: object
5357 290.98999999999995 13 MP Last Month    22.3838
Name: 5357, dtype: object
5358 25.259999999999998 5 MP Last Month    5.052
Name: 5358, dtype: object
5359 327.44 13 MP Last Month    25.1877
Name: 5359, dtype: object
5360 248.06999999999996 13 MP Last Month    19.0823
Name: 5360, dtype: object
5361 302.08000000000004 13 MP Last Month    23.2369
Name: 5361, dtype: object
5362 413.69 13 MP Last Month    31.8223
Name: 5362, dtype: object
5363 301.63 13 MP Last Month    23.2023
Name: 5363, dtype: object
5364 63.30000000000001 11 MP Last Month    5.75455
Name: 5364, dtype: object
5365 26.27 12 MP Last Month    2.18917
Name: 5365, dtype: object
5366 438.03 13 MP Last Month    33.6946
Name: 5366, dtype: object
5367 42.85 3 MP Last Month    14.2833
Name: 5367, dtype: object
5368 163.78 13 MP Last Month    12.5985
Name: 5368, dtype: object
5369 303.36 10 MP Last Month    30.336
Name: 5369, dtype: object
5370 325.69 13 MP Last Month    25.0531
Name: 5370, dtype: object
5371 245.26999999999998 13 MP Last Month    18.8669
Name: 5371, dtype: object
5372 20.04 13 MP Last Month    1.54154
Name: 5372, dtype: object
5373 418.12 13 MP Last Month    32.1631
Name: 5373, dtype: object
5374 204.4 13 MP Last Month    15.7231
Name: 5374, dtype: object
5375 12.34 13 MP Last Month    0.949231
Name: 5375, dtype: object
5376 463.43000000000006 14 MP Last Month    33.1021
Name: 5376, dtype: object
5377 463.78999999999996 14 MP Last Month    33.1279
Name: 5377, dtype: object
5378 330.24 14 MP Last Month    23.5886
Name: 5378, dtype: object
5379 255.38999999999996 14 MP Last Month    18.2421
Name: 5379, dtype: object
5380 13.16 13 MP Last Month    1.01231
Name: 5380, dtype: object
5381 296.84000000000003 14 MP Last Month    21.2029
Name: 5381, dtype: object
5382 301.26 14 MP Last Month    21.5186
Name: 5382, dtype: object
5383 204.73 14 MP Last Month    14.6236
Name: 5383, dtype: object
5384 16.83 14 MP Last Month    1.20214
Name: 5384, dtype: object
5385 406.2200000000001 14 MP Last Month    29.0157
Name: 5385, dtype: object
5386 238.79 14 MP Last Month    17.0564
Name: 5386, dtype: object
5387 368.38999999999993 14 MP Last Month    26.3136
Name: 5387, dtype: object
5388 6.67 4 MP Last Month    1.6675
Name: 5388, dtype: object
5389 503.3399999999999 15 MP Last Month    33.556
Name: 5389, dtype: object
5390 206.26000000000002 14 MP Last Month    14.7329
Name: 5390, dtype: object
5391 92.94999999999999 6 MP Last Month    15.4917
Name: 5391, dtype: object
5392 24.13 8 MP Last Month    3.01625
Name: 5392, dtype: object
5393 514.2199999999999 15 MP Last Month    34.2813
Name: 5393, dtype: object
5394 275.32 15 MP Last Month    18.3547
Name: 5394, dtype: object
5395 279.71000000000004 13 MP Last Month    21.5162
Name: 5395, dtype: object
5396 183.85999999999999 15 MP Last Month    12.2573
Name: 5396, dtype: object
5397 5.55 1 MP Last Month    5.55
Name: 5397, dtype: object
5398 238.88000000000002 15 MP Last Month    15.9253
Name: 5398, dtype: object
5399 266.66999999999996 15 MP Last Month    17.778
Name: 5399, dtype: object
5400 360.53 10 MP Last Month    36.053
Name: 5400, dtype: object

5401 383.00999999999993 11 MP Last Month    34.8191
Name: 5401, dtype: object
5402 82.54 12 MP Last Month    6.87833
Name: 5402, dtype: object
5403 326.98 11 MP Last Month    29.7255
Name: 5403, dtype: object
5404 195.60999999999999 11 MP Last Month    17.7827
Name: 5404, dtype: object
5405 468.57999999999987 13 MP Last Month    36.0446
Name: 5405, dtype: object
5406 216.41000000000003 13 MP Last Month    16.6469
Name: 5406, dtype: object
5407 240.15 10 MP Last Month    24.015
Name: 5407, dtype: object
5408 115.3 13 MP Last Month    8.86923
Name: 5408, dtype: object
5409 438.41999999999996 13 MP Last Month    33.7246
Name: 5409, dtype: object
5410 20.72 9 MP Last Month    2.30222
Name: 5410, dtype: object
5411 388.24 14 MP Last Month    27.7314
Name: 5411, dtype: object
5412 358.25 14 MP Last Month    25.5893
Name: 5412, dtype: object
5413 12.129999999999999 14 MP Last Month    0.866429
Name: 5413, dtype: object
5414 487.21000000000004 14 MP Last Month    34.8007
Name: 5414, dtype: object
5415 433.07 14 MP Last Month    30.9336
Name: 5415, dtype: object
5416 394.16999999999996 14 MP Last Month    28.155
Name: 5416, dtype: object
5417 257.32 13 MP Last Month    19.7938
Name: 5417, dtype: object
5418 207.22 14 MP Last Month    14.8014
Name: 5418, dtype: object
5419 309.28 13 MP Last Month    23.7908
Name: 5419, dtype: object
5420 381.0100000000001 14 MP Last Month    27.215
Name: 5420, dtype: object
5421 45.59 14 MP Last Month    3.25643
Name: 5421, dtype: object
5422 447.88000000000005 13 MP Last Month    34.4523
Name: 5422, dtype: object
5423 396.55 13 MP Last Month    30.5038
Name: 5423, dtype: object
5424 313.94999999999993 13 MP Last Month    24.15
Name: 5424, dtype: object
5425 349.69 13 MP Last Month    26.8992
Name: 5425, dtype: object
5426 175.81 13 MP Last Month    13.5238
Name: 5426, dtype: object
5427 190.99 13 MP Last Month    14.6915
Name: 5427, dtype: object
5428 59.83 13 MP Last Month    4.60231
Name: 5428, dtype: object
5429 360.8 13 MP Last Month    27.7538
Name: 5429, dtype: object
5430 34.89 10 MP Last Month    3.489
Name: 5430, dtype: object
5431 26.25 5 MP Last Month    5.25
Name: 5431, dtype: object
5432 372.65000000000003 14 MP Last Month    26.6179
Name: 5432, dtype: object
5433 365.7 14 MP Last Month    26.1214
Name: 5433, dtype: object
5434 64.22 14 MP Last Month    4.58714
Name: 5434, dtype: object
5435 490.69 14 MP Last Month    35.0493
Name: 5435, dtype: object
5436 227.47 14 MP Last Month    16.2479
Name: 5436, dtype: object
5437 306.14 10 MP Last Month    30.614
Name: 5437, dtype: object
5438 437.73 14 MP Last Month    31.2664
Name: 5438, dtype: object
5439 258.95 14 MP Last Month    18.4964
Name: 5439, dtype: object
5440 10.43 9 MP Last Month    1.15889
Name: 5440, dtype: object
5441 360.15 14 MP Last Month    25.725
Name: 5441, dtype: object
5442 165.89000000000001 11 MP Last Month    15.0809
Name: 5442, dtype: object
5443 0.0 3 MP Last Month    0
Name: 5443, dtype: object
5444 39.57 13 MP Last Month    3.04385
Name: 5444, dtype: object
5445 509.41999999999996 14 MP Last Month    36.3871
Name: 5445, dtype: object
5446 227.34000000000003 14 MP Last Month    16.2386
Name: 5446, dtype: object
5447 99.30999999999999 14 MP Last Month    7.09357
Name: 5447, dtype: object
5448 136.85999999999999 14 MP Last Month    9.77571
Name: 5448, dtype: object
5449 375.68 12 MP Last Month    31.3067
Name: 5449, dtype: object
5450 434.50000000000006 14 MP Last Month    31.0357
Name: 5450, dtype: object
5451 179.27 13 MP Last Month    13.79
Name: 5451, dtype: object
5452 183.59999999999997 10 MP Last Month    18.36
Name: 5452, dtype: object
5453 129.79 14 MP Last Month    9.27071
Name: 5453, dtype: object
5454 111.0 12 MP Last Month    9.25
Name: 5454, dtype: object
5455 417.49 13 MP Last Month    32.1146
Name: 5455, dtype: object
5456 358.53999999999996 14 MP Last Month    25.61
Name: 5456, dtype: object
5457 56.41 12 MP Last Month    4.70083
Name: 5457, dtype: object
5458 383.76 13 MP Last Month    29.52
Name: 5458, dtype: object
5459 165.87 12 MP Last Month    13.8225
Name: 5459, dtype: object
5460 91.91 13 MP Last Month    7.07
Name: 5460, dtype: object
5461 26.03 6 MP Last Month    4.33833
Name: 5461, dtype: object
5462 453.43999999999994 13 MP Last Month    34.88
Name: 5462, dtype: object
5463 388.45 13 MP Last Month    29.8808
Name: 5463, dtype: object
5464 11.459999999999999 11 MP Last Month    1.04182
Name: 5464, dtype: object
5465 398.43999999999994 12 MP Last Month    33.2033
Name: 5465, dtype: object
5466 183.65 13 MP Last Month    14.1269
Name: 5466, dtype: object
5467 220.16 13 MP Last Month    16.9354
Name: 5467, dtype: object
5468 388.70000000000005 14 MP Last Month    27.7643
Name: 5468, dtype: object
5469 278.48 14 MP Last Month    19.8914
Name: 5469, dtype: object
5470 33.81 14 MP Last Month    2.415
Name: 5470, dtype: object
5471 422.9099999999999 13 MP Last Month    32.5315
Name: 5471, dtype: object
5472 414.2 14 MP Last Month    29.5857
Name: 5472, dtype: object
5473 257.46 12 MP Last Month    21.455
Name: 5473, dtype: object
5474 174.13 8 MP Last Month    21.7662
Name: 5474, dtype: object
5475 358.35 14 MP Last Month    25.5964
Name: 5475, dtype: object
5476 32.47 14 MP Last Month    2.31929
Name: 5476, dtype: object
5477 427.17 14 MP Last Month    30.5121
Name: 5477, dtype: object
5478 244.34000000000003 14 MP Last Month    17.4529
Name: 5478, dtype: object
5479 116.25999999999999 14 MP Last Month    8.30429
Name: 5479, dtype: object
5480 480.04 15 MP Last Month    32.0027
Name: 5480, dtype: object
5481 376.32000000000005 16 MP Last Month    23.52
Name: 5481, dtype: object
5482 99.23 15 MP Last Month    6.61533
Name: 5482, dtype: object
5483 340.85999999999996 16 MP Last Month    21.3037
Name: 5483, dtype: object
5484 153.4 15 MP Last Month    10.2267
Name: 5484, dtype: object
5485 400.04 11 MP Last Month    36.3673
Name: 5485, dtype: object
5486 504.43999999999994 16 MP Last Month    31.5275
Name: 5486, dtype: object
5487 108.88000000000001 7 MP Last Month    15.5543
Name: 5487, dtype: object
5488 551.4200000000001 16 MP Last Month    34.4638
Name: 5488, dtype: object
5489 250.09000000000006 12 MP Last Month    20.8408
Name: 5489, dtype: object
5490 162.23 16 MP Last Month    10.1394
Name: 5490, dtype: object
5491 362.26 10 MP Last Month    36.226
Name: 5491, dtype: object
5492 126.61000000000001 13 MP Last Month    9.73923
Name: 5492, dtype: object
5493 340.83 12 MP Last Month    28.4025
Name: 5493, dtype: object
5494 32.809999999999995 4 MP Last Month    8.2025
Name: 5494, dtype: object
5495 158.85 10 MP Last Month    15.885
Name: 5495, dtype: object
5496 33.34 10 MP Last Month    3.334
Name: 5496, dtype: object
5497 343.29 12 MP Last Month    28.6075
Name: 5497, dtype: object
5498 264.32 13 MP Last Month    20.3323
Name: 5498, dtype: object
5499 217.92000000000004 13 MP Last Month    16.7631
Name: 5499, dtype: object
5500 18.8 13 MP Last Month    1.44615
Name: 5500, dtype: object
5501 417.92 13 MP Last Month    32.1477
Name: 5501, dtype: object
5502 131.17000000000002 13 MP Last Month    10.09
Name: 5502, dtype: object
5503 220.50000000000003 13 MP Last Month    16.9615
Name: 5503, dtype: object
5504 456.41 14 MP Last Month    32.6007
Name: 5504, dtype: object
5505 122.03 14 MP Last Month    8.71643
Name: 5505, dtype: object
5506 122.32999999999998 10 MP Last Month    12.233
Name: 5506, dtype: object
5507 430.31000000000006 14 MP Last Month    30.7364
Name: 5507, dtype: object
5508 323.05999999999995 14 MP Last Month    23.0757
Name: 5508, dtype: object
5509 87.35 4 MP Last Month    21.8375
Name: 5509, dtype: object
5510 280.68 14 MP Last Month    20.0486
Name: 5510, dtype: object
5511 308.86 12 MP Last Month    25.7383
Name: 5511, dtype: object
5512 100.69999999999999 14 MP Last Month    7.19286
Name: 5512, dtype: object
5513 365.67 14 MP Last Month    26.1193
Name: 5513, dtype: object
5514 402.06 14 MP Last Month    28.7186
Name: 5514, dtype: object
5515 28.330000000000002 11 MP Last Month    2.57545
Name: 5515, dtype: object
5516 513.4300000000001 15 MP Last Month    34.2287
Name: 5516, dtype: object
5517 255.42 11 MP Last Month    23.22
Name: 5517, dtype: object
5518 177.42000000000002 11 MP Last Month    16.1291
Name: 5518, dtype: object

5519 76.36999999999999 15 MP Last Month    5.09133
Name: 5519, dtype: object
5520 2.28 3 MP Last Month    0.76
Name: 5520, dtype: object
5521 44.559999999999995 14 MP Last Month    3.18286
Name: 5521, dtype: object
5522 440.09999999999997 15 MP Last Month    29.34
Name: 5522, dtype: object
5523 415.2 15 MP Last Month    27.68
Name: 5523, dtype: object
5524 2.28 1 MP Last Month    2.28
Name: 5524, dtype: object
5525 378.95000000000005 14 MP Last Month    27.0679
Name: 5525, dtype: object
5526 289.65 15 MP Last Month    19.31
Name: 5526, dtype: object
5527 47.19 15 MP Last Month    3.146
Name: 5527, dtype: object
5528 403.33000000000004 12 MP Last Month    33.6108
Name: 5528, dtype: object
5529 429.8 14 MP Last Month    30.7
Name: 5529, dtype: object
5530 232.13000000000005 14 MP Last Month    16.5807
Name: 5530, dtype: object
5531 150.77 11 MP Last Month    13.7064
Name: 5531, dtype: object
5532 110.49999999999999 14 MP Last Month    7.89286
Name: 5532, dtype: object
5533 464.70000000000005 14 MP Last Month    33.1929
Name: 5533, dtype: object
5534 407.97 14 MP Last Month    29.1407
Name: 5534, dtype: object
5535 208.97000000000003 14 MP Last Month    14.9264
Name: 5535, dtype: object
5536 109.07 14 MP Last Month    7.79071
Name: 5536, dtype: object
5537 32.190000000000005 12 MP Last Month    2.6825
Name: 5537, dtype: object
5538 455.54999999999995 14 MP Last Month    32.5393
Name: 5538, dtype: object
5539 296.47999999999996 13 MP Last Month    22.8062
Name: 5539, dtype: object
5540 54.86 14 MP Last Month    3.91857
Name: 5540, dtype: object
5541 227.88000000000002 15 MP Last Month    15.192
Name: 5541, dtype: object
5542 541.0899999999999 16 MP Last Month    33.8181
Name: 5542, dtype: object
5543 112.66999999999999 7 MP Last Month    16.0957
Name: 5543, dtype: object
5544 42.81 9 MP Last Month    4.75667
Name: 5544, dtype: object
5545 550.8699999999999 16 MP Last Month    34.4294
Name: 5545, dtype: object
5546 300.44 16 MP Last Month    18.7775
Name: 5546, dtype: object
5547 307.98 14 MP Last Month    21.9986
Name: 5547, dtype: object
5548 184.13 16 MP Last Month    11.5081
Name: 5548, dtype: object
5549 8.48 2 MP Last Month    4.24
Name: 5549, dtype: object
5550 293.52 16 MP Last Month    18.345
Name: 5550, dtype: object
5551 261.03000000000003 16 MP Last Month    16.3144
Name: 5551, dtype: object
5552 374.45000000000005 14 MP Last Month    26.7464
Name: 5552, dtype: object
5553 365.36 14 MP Last Month    26.0971
Name: 5553, dtype: object
5554 74.72 14 MP Last Month    5.33714
Name: 5554, dtype: object
5555 479.23999999999995 14 MP Last Month    34.2314
Name: 5555, dtype: object
5556 259.97 14 MP Last Month    18.5693
Name: 5556, dtype: object
5557 312.21 10 MP Last Month    31.221
Name: 5557, dtype: object
5558 435.98 14 MP Last Month    31.1414
Name: 5558, dtype: object
5559 232.82 14 MP Last Month    16.63
Name: 5559, dtype: object
5560 17.2 9 MP Last Month    1.91111
Name: 5560, dtype: object
5561 183.24 12 MP Last Month    15.27
Name: 5561, dtype: object
5562 354.49 14 MP Last Month    25.3207
Name: 5562, dtype: object
5563 2.1 4 MP Last Month    0.525
Name: 5563, dtype: object
5564 39.57 13 MP Last Month    3.04385
Name: 5564, dtype: object
5565 446.55999999999995 13 MP Last Month    34.3508
Name: 5565, dtype: object
5566 434.32000000000005 13 MP Last Month    33.4092
Name: 5566, dtype: object
5567 14.02 1 MP Last Month    14.02
Name: 5567, dtype: object
5568 378.34000000000003 13 MP Last Month    29.1031
Name: 5568, dtype: object
5569 424.82 13 MP Last Month    32.6785
Name: 5569, dtype: object
5570 323.40000000000003 13 MP Last Month    24.8769
Name: 5570, dtype: object
5571 339.55 13 MP Last Month    26.1192
Name: 5571, dtype: object
5572 165.85 13 MP Last Month    12.7577
Name: 5572, dtype: object
5573 93.12999999999998 8 MP Last Month    11.6412
Name: 5573, dtype: object
5574 50.160000000000004 12 MP Last Month    4.18
Name: 5574, dtype: object
5575 232.44000000000003 13 MP Last Month    17.88
Name: 5575, dtype: object
5576 351.59999999999997 13 MP Last Month    27.0462
Name: 5576, dtype: object
5577 312.29 12 MP Last Month    26.0242
Name: 5577, dtype: object
5578 455.27 13 MP Last Month    35.0208
Name: 5578, dtype: object
5579 430.05000000000007 13 MP Last Month    33.0808
Name: 5579, dtype: object
5580 172.44 13 MP Last Month    13.2646
Name: 5580, dtype: object
5581 0 0 MP Last Month    0
Name: 5581, dtype: object
5582 110.07 11 MP Last Month    10.0064
Name: 5582, dtype: object
5583 16.619999999999997 8 MP Last Month    2.0775
Name: 5583, dtype: object
5584 0.0 1 MP Last Month    0
Name: 5584, dtype: object
5585 6.05 13 MP Last Month    0.465385
Name: 5585, dtype: object
5586 332.16999999999996 12 MP Last Month    27.6808
Name: 5586, dtype: object
5587 225.76 13 MP Last Month    17.3662
Name: 5587, dtype: object
5588 249.57000000000002 13 MP Last Month    19.1977
Name: 5588, dtype: object
5589 515.9399999999999 15 MP Last Month    34.396
Name: 5589, dtype: object
5590 441.19 13 MP Last Month    33.9377
Name: 5590, dtype: object
5591 392.89 14 MP Last Month    28.0636
Name: 5591, dtype: object
5592 391.77 13 MP Last Month    30.1362
Name: 5592, dtype: object
5593 365.47 11 MP Last Month    33.2245
Name: 5593, dtype: object
5594 289.19 10 MP Last Month    28.919
Name: 5594, dtype: object
5595 265.87 14 MP Last Month    18.9907
Name: 5595, dtype: object
5596 412.4800000000001 15 MP Last Month    27.4987
Name: 5596, dtype: object
5597 191.30999999999997 15 MP Last Month    12.754
Name: 5597, dtype: object
5598 245.77 15 MP Last Month    16.3847
Name: 5598, dtype: object
5599 181.5 10 MP Last Month    18.15
Name: 5599, dtype: object
5600 371.88 15 MP Last Month    24.792
Name: 5600, dtype: object
5601 366.09 15 MP Last Month    24.406
Name: 5601, dtype: object
5602 389.83000000000004 15 MP Last Month    25.9887
Name: 5602, dtype: object
5603 64.55999999999999 15 MP Last Month    4.304
Name: 5603, dtype: object
5604 146.37 8 MP Last Month    18.2963
Name: 5604, dtype: object
5605 277.51 15 MP Last Month    18.5007
Name: 5605, dtype: object
5606 383.38 15 MP Last Month    25.5587
Name: 5606, dtype: object
5607 343.43999999999994 15 MP Last Month    22.896
Name: 5607, dtype: object
5608 262.6000000000001 15 MP Last Month    17.5067
Name: 5608, dtype: object
5609 415.82000000000005 15 MP Last Month    27.7213
Name: 5609, dtype: object
5610 35.54 15 MP Last Month    2.36933
Name: 5610, dtype: object
5611 297.71000000000004 15 MP Last Month    19.8473
Name: 5611, dtype: object
5612 452.2799999999999 14 MP Last Month    32.3057
Name: 5612, dtype: object
5613 447.71999999999997 15 MP Last Month    29.848
Name: 5613, dtype: object
5614 191.03 9 MP Last Month    21.2256
Name: 5614, dtype: object
5615 374.65000000000003 15 MP Last Month    24.9767
Name: 5615, dtype: object
5616 283.51 13 MP Last Month    21.8085
Name: 5616, dtype: object
5617 34.199999999999996 15 MP Last Month    2.28
Name: 5617, dtype: object
5618 458.54 15 MP Last Month    30.5693
Name: 5618, dtype: object
5619 259.24 15 MP Last Month    17.2827
Name: 5619, dtype: object
5620 117.99 15 MP Last Month    7.866
Name: 5620, dtype: object
5621 479.43999999999994 14 MP Last Month    34.2457
Name: 5621, dtype: object
5622 16.22 6 MP Last Month    2.70333
Name: 5622, dtype: object
5623 20.490000000000002 14 MP Last Month    1.46357
Name: 5623, dtype: object
5624 358.86 14 MP Last Month    25.6329
Name: 5624, dtype: object
5625 413.01 14 MP Last Month    29.5007
Name: 5625, dtype: object
5626 214.9 14 MP Last Month    15.35
Name: 5626, dtype: object
5627 290.89 14 MP Last Month    20.7779
Name: 5627, dtype: object
5628 249.31 14 MP Last Month    17.8079
Name: 5628, dtype: object
5629 85.41000000000001 14 MP Last Month    6.10071
Name: 5629, dtype: object
5630 365.04999999999995 14 MP Last Month    26.075
Name: 5630, dtype: object
5631 126.78 14 MP Last Month    9.05571
Name: 5631, dtype: object
5632 351.3 13 MP Last Month    27.0231
Name: 5632, dtype: object
5633 378.76999999999987 13 MP Last Month    29.1362
Name: 5633, dtype: object
5634 117.64 5 MP Last Month    23.528
Name: 5634, dtype: object
5635 479.94999999999993 13 MP Last Month    36.9192
Name: 5635, dtype: object

5636 245.80000000000004 10 MP Last Month    24.58
Name: 5636, dtype: object
5637 291.38 13 MP Last Month    22.4138
Name: 5637, dtype: object
5638 292.96 13 MP Last Month    22.5354
Name: 5638, dtype: object
5639 78.04 13 MP Last Month    6.00308
Name: 5639, dtype: object
5640 40.05 13 MP Last Month    3.08077
Name: 5640, dtype: object
5641 450.11999999999995 13 MP Last Month    34.6246
Name: 5641, dtype: object
5642 104.02 12 MP Last Month    8.66833
Name: 5642, dtype: object
5643 489.96000000000004 14 MP Last Month    34.9971
Name: 5643, dtype: object
5644 486.48999999999995 14 MP Last Month    34.7493
Name: 5644, dtype: object
5645 166.2 14 MP Last Month    11.8714
Name: 5645, dtype: object
5646 316.60999999999996 14 MP Last Month    22.615
Name: 5646, dtype: object
5647 361.87 14 MP Last Month    25.8479
Name: 5647, dtype: object
5648 334.75 14 MP Last Month    23.9107
Name: 5648, dtype: object
5649 358.4 13 MP Last Month    27.5692
Name: 5649, dtype: object
5650 332.71000000000004 13 MP Last Month    25.5931
Name: 5650, dtype: object
5651 26.799999999999997 13 MP Last Month    2.06154
Name: 5651, dtype: object
5652 86.44 14 MP Last Month    6.17429
Name: 5652, dtype: object
5653 222.14 8 MP Last Month    27.7675
Name: 5653, dtype: object
5654 149.45 14 MP Last Month    10.675
Name: 5654, dtype: object
5655 409.36 14 MP Last Month    29.24
Name: 5655, dtype: object
5656 267.08000000000004 13 MP Last Month    20.5446
Name: 5656, dtype: object
5657 257.32000000000005 14 MP Last Month    18.38
Name: 5657, dtype: object
5658 397.31 14 MP Last Month    28.3793
Name: 5658, dtype: object
5659 291.5 14 MP Last Month    20.8214
Name: 5659, dtype: object
5660 250.7 14 MP Last Month    17.9071
Name: 5660, dtype: object
5661 0 0 MP Last Month    0
Name: 5661, dtype: object
5662 199.52 10 MP Last Month    19.952
Name: 5662, dtype: object
5663 299.31999999999994 14 MP Last Month    21.38
Name: 5663, dtype: object
5664 12.13 1 MP Last Month    12.13
Name: 5664, dtype: object
5665 87.50999999999999 14 MP Last Month    6.25071
Name: 5665, dtype: object
5666 423.4800000000001 13 MP Last Month    32.5754
Name: 5666, dtype: object
5667 322.5299999999999 14 MP Last Month    23.0379
Name: 5667, dtype: object
5668 323.34999999999997 14 MP Last Month    23.0964
Name: 5668, dtype: object
5669 23.04 14 MP Last Month    1.64571
Name: 5669, dtype: object
5670 450.42999999999995 14 MP Last Month    32.1736
Name: 5670, dtype: object
5671 351.86 13 MP Last Month    27.0662
Name: 5671, dtype: object
5672 383.47 13 MP Last Month    29.4977
Name: 5672, dtype: object
5673 341.35999999999996 13 MP Last Month    26.2585
Name: 5673, dtype: object
5674 36.190000000000005 14 MP Last Month    2.585
Name: 5674, dtype: object
5675 97.47999999999999 14 MP Last Month    6.96286
Name: 5675, dtype: object
5676 406.58000000000004 14 MP Last Month    29.0414
Name: 5676, dtype: object
5677 83.64000000000001 8 MP Last Month    10.455
Name: 5677, dtype: object
5678 151.70000000000002 11 MP Last Month    13.7909
Name: 5678, dtype: object
5679 460.08000000000004 13 MP Last Month    35.3908
Name: 5679, dtype: object
5680 221.06999999999996 12 MP Last Month    18.4225
Name: 5680, dtype: object
5681 87.44999999999999 9 MP Last Month    9.71667
Name: 5681, dtype: object
5682 278.48999999999995 13 MP Last Month    21.4223
Name: 5682, dtype: object
5683 25.259999999999998 6 MP Last Month    4.21
Name: 5683, dtype: object
5684 342.11 13 MP Last Month    26.3162
Name: 5684, dtype: object
5685 402.69 13 MP Last Month    30.9762
Name: 5685, dtype: object
5686 259.91999999999996 13 MP Last Month    19.9938
Name: 5686, dtype: object
5687 308.3 13 MP Last Month    23.7154
Name: 5687, dtype: object
5688 314.35 13 MP Last Month    24.1808
Name: 5688, dtype: object
5689 63.05000000000001 11 MP Last Month    5.73182
Name: 5689, dtype: object
5690 18.32 12 MP Last Month    1.52667
Name: 5690, dtype: object
5691 331.62 12 MP Last Month    27.635
Name: 5691, dtype: object
5692 292.57 12 MP Last Month    24.3808
Name: 5692, dtype: object
5693 49.709999999999994 7 MP Last Month    7.10143
Name: 5693, dtype: object
5694 316.67 12 MP Last Month    26.3892
Name: 5694, dtype: object
5695 292.22 11 MP Last Month    26.5655
Name: 5695, dtype: object
5696 127.69999999999999 11 MP Last Month    11.6091
Name: 5696, dtype: object
5697 149.11 10 MP Last Month    14.911
Name: 5697, dtype: object
5698 212.76999999999998 12 MP Last Month    17.7308
Name: 5698, dtype: object
5699 325.15999999999997 12 MP Last Month    27.0967
Name: 5699, dtype: object
5700 74.57 12 MP Last Month    6.21417
Name: 5700, dtype: object
5701 266.93 12 MP Last Month    22.2442
Name: 5701, dtype: object
5702 30.77 9 MP Last Month    3.41889
Name: 5702, dtype: object
5703 473.80999999999995 14 MP Last Month    33.8436
Name: 5703, dtype: object
5704 163.78 14 MP Last Month    11.6986
Name: 5704, dtype: object
5705 61.8 4 MP Last Month    15.45
Name: 5705, dtype: object
5706 365.94 14 MP Last Month    26.1386
Name: 5706, dtype: object
5707 340.06 11 MP Last Month    30.9145
Name: 5707, dtype: object
5708 257.5 14 MP Last Month    18.3929
Name: 5708, dtype: object
5709 20.04 14 MP Last Month    1.43143
Name: 5709, dtype: object
5710 449.04 14 MP Last Month    32.0743
Name: 5710, dtype: object
5711 12.34 14 MP Last Month    0.881429
Name: 5711, dtype: object
5712 492.52 15 MP Last Month    32.8347
Name: 5712, dtype: object
5713 502.2300000000001 15 MP Last Month    33.482
Name: 5713, dtype: object
5714 269.25999999999993 15 MP Last Month    17.9507
Name: 5714, dtype: object
5715 364.47 15 MP Last Month    24.298
Name: 5715, dtype: object
5716 13.16 14 MP Last Month    0.94
Name: 5716, dtype: object
5717 332.17 15 MP Last Month    22.1447
Name: 5717, dtype: object
5718 321.53999999999996 15 MP Last Month    21.436
Name: 5718, dtype: object
5719 204.73 15 MP Last Month    13.6487
Name: 5719, dtype: object
5720 16.83 15 MP Last Month    1.122
Name: 5720, dtype: object
5721 440.30000000000007 15 MP Last Month    29.3533
Name: 5721, dtype: object
5722 390.1599999999999 15 MP Last Month    26.0107
Name: 5722, dtype: object
5723 251.69 15 MP Last Month    16.7793
Name: 5723, dtype: object
5724 6.67 5 MP Last Month    1.334
Name: 5724, dtype: object
5725 349.85999999999996 12 MP Last Month    29.155
Name: 5725, dtype: object
5726 261.47999999999996 12 MP Last Month    21.79
Name: 5726, dtype: object
5727 106.25 11 MP Last Month    9.65909
Name: 5727, dtype: object
5728 3.65 3 MP Last Month    1.21667
Name: 5728, dtype: object
5729 84.75999999999999 10 MP Last Month    8.476
Name: 5729, dtype: object
5730 275.63 10 MP Last Month    27.563
Name: 5730, dtype: object
5731 298.84000000000003 12 MP Last Month    24.9033
Name: 5731, dtype: object
5732 399.48 12 MP Last Month    33.29
Name: 5732, dtype: object
5733 429.12000000000006 12 MP Last Month    35.76
Name: 5733, dtype: object
5734 156.67000000000002 12 MP Last Month    13.0558
Name: 5734, dtype: object
5735 43.67999999999999 10 MP Last Month    4.368
Name: 5735, dtype: object
5736 23.130000000000003 14 MP Last Month    1.65214
Name: 5736, dtype: object
5737 387.71 14 MP Last Month    27.6936
Name: 5737, dtype: object
5738 369.98 14 MP Last Month    26.4271
Name: 5738, dtype: object
5739 434.03 14 MP Last Month    31.0021
Name: 5739, dtype: object
5740 259.11 13 MP Last Month    19.9315
Name: 5740, dtype: object
5741 393.9699999999999 14 MP Last Month    28.1407
Name: 5741, dtype: object
5742 212.32 14 MP Last Month    15.1657
Name: 5742, dtype: object
5743 315.5799999999999 13 MP Last Month    24.2754
Name: 5743, dtype: object
5744 378.2800000000001 14 MP Last Month    27.02
Name: 5744, dtype: object
5745 43.88 14 MP Last Month    3.13429
Name: 5745, dtype: object
5746 357.54999999999995 13 MP Last Month    27.5038
Name: 5746, dtype: object
5747 358.21 13 MP Last Month    27.5546
Name: 5747, dtype: object
5748 190.37 7 MP Last Month    27.1957
Name: 5748, dtype: object
5749 69.78 13 MP Last Month    5.36769
Name: 5749, dtype: object
5750 72.52 12 MP Last Month    6.04333
Name: 5750, dtype: object
5751 37.22 6 MP Last Month    6.20333
Name: 5751, dtype: object
5752 40.31 11 MP Last Month    3.66455
Name: 5752, dtype: object

5753 447.32 13 MP Last Month    34.4092
Name: 5753, dtype: object
5754 206.84 13 MP Last Month    15.9108
Name: 5754, dtype: object
5755 328.0799999999999 13 MP Last Month    25.2369
Name: 5755, dtype: object
5756 171.24 13 MP Last Month    13.1723
Name: 5756, dtype: object
5757 107.97 12 MP Last Month    8.9975
Name: 5757, dtype: object
5758 444.40000000000003 13 MP Last Month    34.1846
Name: 5758, dtype: object
5759 389.89000000000004 13 MP Last Month    29.9915
Name: 5759, dtype: object
5760 342.48 13 MP Last Month    26.3446
Name: 5760, dtype: object
5761 235.29 13 MP Last Month    18.0992
Name: 5761, dtype: object
5762 178.17 13 MP Last Month    13.7054
Name: 5762, dtype: object
5763 314.53000000000003 13 MP Last Month    24.1946
Name: 5763, dtype: object
5764 21.03 1 MP Last Month    21.03
Name: 5764, dtype: object
5765 424.36999999999995 13 MP Last Month    32.6438
Name: 5765, dtype: object
5766 0.0 5 MP Last Month    0
Name: 5766, dtype: object
5767 52.940000000000005 13 MP Last Month    4.07231
Name: 5767, dtype: object
5768 80.00999999999999 8 MP Last Month    10.0012
Name: 5768, dtype: object
5769 453.80999999999995 13 MP Last Month    34.9085
Name: 5769, dtype: object
5770 369.60999999999996 13 MP Last Month    28.4315
Name: 5770, dtype: object
5771 384.14 13 MP Last Month    29.5492
Name: 5771, dtype: object
5772 46.91 12 MP Last Month    3.90917
Name: 5772, dtype: object
5773 3.48 2 MP Last Month    1.74
Name: 5773, dtype: object
5774 38.66 12 MP Last Month    3.22167
Name: 5774, dtype: object
5775 390.43 12 MP Last Month    32.5358
Name: 5775, dtype: object
5776 400.07000000000005 13 MP Last Month    30.7746
Name: 5776, dtype: object
5777 201.10000000000002 13 MP Last Month    15.4692
Name: 5777, dtype: object
5778 216.76999999999998 13 MP Last Month    16.6746
Name: 5778, dtype: object
5779 358.20000000000005 13 MP Last Month    27.5538
Name: 5779, dtype: object
5780 277.26 13 MP Last Month    21.3277
Name: 5780, dtype: object
5781 85.11000000000001 13 MP Last Month    6.54692
Name: 5781, dtype: object
5782 7.93 3 MP Last Month    2.64333
Name: 5782, dtype: object
5783 513.99 14 MP Last Month    36.7136
Name: 5783, dtype: object
5784 97.13 14 MP Last Month    6.93786
Name: 5784, dtype: object
5785 231.83000000000004 14 MP Last Month    16.5593
Name: 5785, dtype: object
5786 132.70999999999998 14 MP Last Month    9.47929
Name: 5786, dtype: object
5787 446.63 14 MP Last Month    31.9021
Name: 5787, dtype: object
5788 378.19 12 MP Last Month    31.5158
Name: 5788, dtype: object
5789 184.05 10 MP Last Month    18.405
Name: 5789, dtype: object
5790 203.67000000000002 14 MP Last Month    14.5479
Name: 5790, dtype: object
5791 106.85 12 MP Last Month    8.90417
Name: 5791, dtype: object
5792 109.43999999999998 14 MP Last Month    7.81714
Name: 5792, dtype: object
5793 361.47 14 MP Last Month    25.8193
Name: 5793, dtype: object
5794 428.46000000000004 13 MP Last Month    32.9585
Name: 5794, dtype: object
5795 48.88 12 MP Last Month    4.07333
Name: 5795, dtype: object
5796 220.2 7 MP Last Month    31.4571
Name: 5796, dtype: object
5797 176.51 12 MP Last Month    14.7092
Name: 5797, dtype: object
5798 389.69 13 MP Last Month    29.9762
Name: 5798, dtype: object
5799 87.42999999999999 13 MP Last Month    6.72538
Name: 5799, dtype: object
5800 35.43 6 MP Last Month    5.905
Name: 5800, dtype: object
5801 455.29999999999995 13 MP Last Month    35.0231
Name: 5801, dtype: object
5802 393.24 13 MP Last Month    30.2492
Name: 5802, dtype: object
5803 247.40000000000003 12 MP Last Month    20.6167
Name: 5803, dtype: object
5804 11.459999999999999 11 MP Last Month    1.04182
Name: 5804, dtype: object
5805 401.64 12 MP Last Month    33.47
Name: 5805, dtype: object
5806 216.29000000000002 13 MP Last Month    16.6377
Name: 5806, dtype: object
5807 485.5400000000001 15 MP Last Month    32.3693
Name: 5807, dtype: object
5808 335.15 16 MP Last Month    20.9469
Name: 5808, dtype: object
5809 107.26 15 MP Last Month    7.15067
Name: 5809, dtype: object
5810 148.54999999999998 15 MP Last Month    9.90333
Name: 5810, dtype: object
5811 363.29 16 MP Last Month    22.7056
Name: 5811, dtype: object
5812 509.8699999999999 16 MP Last Month    31.8669
Name: 5812, dtype: object
5813 401.17999999999995 11 MP Last Month    36.4709
Name: 5813, dtype: object
5814 122.93 8 MP Last Month    15.3663
Name: 5814, dtype: object
5815 558.69 16 MP Last Month    34.9181
Name: 5815, dtype: object
5816 286.86000000000007 13 MP Last Month    22.0662
Name: 5816, dtype: object
5817 156.85 16 MP Last Month    9.80312
Name: 5817, dtype: object
5818 401.49 11 MP Last Month    36.4991
Name: 5818, dtype: object
5819 364.90999999999997 13 MP Last Month    28.07
Name: 5819, dtype: object
5820 150.24 14 MP Last Month    10.7314
Name: 5820, dtype: object
5821 33.34 11 MP Last Month    3.03091
Name: 5821, dtype: object
5822 158.85 11 MP Last Month    14.4409
Name: 5822, dtype: object
5823 398.87 12 MP Last Month    33.2392
Name: 5823, dtype: object
5824 383.74 13 MP Last Month    29.5185
Name: 5824, dtype: object
5825 294.85 14 MP Last Month    21.0607
Name: 5825, dtype: object
5826 235.00000000000006 14 MP Last Month    16.7857
Name: 5826, dtype: object
5827 26.200000000000003 14 MP Last Month    1.87143
Name: 5827, dtype: object
5828 453.54 14 MP Last Month    32.3957
Name: 5828, dtype: object
5829 143.55 14 MP Last Month    10.2536
Name: 5829, dtype: object
5830 220.50000000000003 14 MP Last Month    15.75
Name: 5830, dtype: object
5831 454.9700000000001 14 MP Last Month    32.4979
Name: 5831, dtype: object
5832 137.23 11 MP Last Month    12.4755
Name: 5832, dtype: object
5833 121.67999999999999 14 MP Last Month    8.69143
Name: 5833, dtype: object
5834 317.71000000000004 14 MP Last Month    22.6936
Name: 5834, dtype: object
5835 309.31 12 MP Last Month    25.7758
Name: 5835, dtype: object
5836 433.18 14 MP Last Month    30.9414
Name: 5836, dtype: object
5837 107.27 5 MP Last Month    21.454
Name: 5837, dtype: object
5838 368.57000000000005 14 MP Last Month    26.3264
Name: 5838, dtype: object
5839 88.91 14 MP Last Month    6.35071
Name: 5839, dtype: object
5840 280.21 14 MP Last Month    20.015
Name: 5840, dtype: object
5841 394.29 14 MP Last Month    28.1636
Name: 5841, dtype: object
5842 27.31 11 MP Last Month    2.48273
Name: 5842, dtype: object
5843 403.41999999999985 14 MP Last Month    28.8157
Name: 5843, dtype: object
5844 135.46 6 MP Last Month    22.5767
Name: 5844, dtype: object
5845 375.82 14 MP Last Month    26.8443
Name: 5845, dtype: object
5846 519.53 14 MP Last Month    37.1093
Name: 5846, dtype: object
5847 320.49 14 MP Last Month    22.8921
Name: 5847, dtype: object
5848 276.20000000000005 11 MP Last Month    25.1091
Name: 5848, dtype: object
5849 316.3 14 MP Last Month    22.5929
Name: 5849, dtype: object
5850 40.05 14 MP Last Month    2.86071
Name: 5850, dtype: object
5851 80.62 14 MP Last Month    5.75857
Name: 5851, dtype: object
5852 490.21999999999997 14 MP Last Month    35.0157
Name: 5852, dtype: object
5853 111.92 13 MP Last Month    8.60923
Name: 5853, dtype: object
5854 6.32 5 MP Last Month    1.264
Name: 5854, dtype: object
5855 425.23 14 MP Last Month    30.3736
Name: 5855, dtype: object
5856 233.93 14 MP Last Month    16.7093
Name: 5856, dtype: object
5857 404.6200000000001 12 MP Last Month    33.7183
Name: 5857, dtype: object
5858 151.55 11 MP Last Month    13.7773
Name: 5858, dtype: object
5859 0 0 MP Last Month    0
Name: 5859, dtype: object
5860 112.82999999999998 14 MP Last Month    8.05929
Name: 5860, dtype: object
5861 406.57 14 MP Last Month    29.0407
Name: 5861, dtype: object
5862 459.04999999999995 14 MP Last Month    32.7893
Name: 5862, dtype: object
5863 217.60000000000002 14 MP Last Month    15.5429
Name: 5863, dtype: object
5864 32.190000000000005 13 MP Last Month    2.47615
Name: 5864, dtype: object
5865 451.65 14 MP Last Month    32.2607
Name: 5865, dtype: object
5866 299.06 13 MP Last Month    23.0046
Name: 5866, dtype: object
5867 54.06999999999999 14 MP Last Month    3.86214
Name: 5867, dtype: object
5868 380.4 14 MP Last Month    27.1714
Name: 5868, dtype: object
5869 378.14 14 MP Last Month    27.01
Name: 5869, dtype: object
5870 197.78 14 MP Last Month    14.1271
Name: 5870, dtype: object

5871 125.76 6 MP Last Month    20.96
Name: 5871, dtype: object
5872 335.15 14 MP Last Month    23.9393
Name: 5872, dtype: object
5873 402.37 14 MP Last Month    28.7407
Name: 5873, dtype: object
5874 329.37 14 MP Last Month    23.5264
Name: 5874, dtype: object
5875 39.34 8 MP Last Month    4.9175
Name: 5875, dtype: object
5876 317.39 13 MP Last Month    24.4146
Name: 5876, dtype: object
5877 244.99000000000004 14 MP Last Month    17.4993
Name: 5877, dtype: object
5878 264.96 13 MP Last Month    20.3815
Name: 5878, dtype: object
5879 27.939999999999998 11 MP Last Month    2.54
Name: 5879, dtype: object
5880 386.69999999999993 14 MP Last Month    27.6214
Name: 5880, dtype: object
5881 377.33 14 MP Last Month    26.9521
Name: 5881, dtype: object
5882 209.87 8 MP Last Month    26.2338
Name: 5882, dtype: object
5883 76.71000000000001 14 MP Last Month    5.47929
Name: 5883, dtype: object
5884 43.07 7 MP Last Month    6.15286
Name: 5884, dtype: object
5885 82.27 13 MP Last Month    6.32846
Name: 5885, dtype: object
5886 480.46999999999997 14 MP Last Month    34.3193
Name: 5886, dtype: object
5887 402.55 13 MP Last Month    30.9654
Name: 5887, dtype: object
5888 235.09 14 MP Last Month    16.7921
Name: 5888, dtype: object
5889 359.99999999999994 14 MP Last Month    25.7143
Name: 5889, dtype: object
5890 187.32 14 MP Last Month    13.38
Name: 5890, dtype: object
5891 117.9 13 MP Last Month    9.06923
Name: 5891, dtype: object
5892 210.44 13 MP Last Month    16.1877
Name: 5892, dtype: object
5893 336.91 13 MP Last Month    25.9162
Name: 5893, dtype: object
5894 153.9 6 MP Last Month    25.65
Name: 5894, dtype: object
5895 453.2099999999999 13 MP Last Month    34.8623
Name: 5895, dtype: object
5896 426.61000000000007 13 MP Last Month    32.8162
Name: 5896, dtype: object
5897 15.25 1 MP Last Month    15.25
Name: 5897, dtype: object
5898 92.58999999999999 11 MP Last Month    8.41727
Name: 5898, dtype: object
5899 16.619999999999997 8 MP Last Month    2.0775
Name: 5899, dtype: object
5900 0.0 1 MP Last Month    0
Name: 5900, dtype: object
5901 6.05 13 MP Last Month    0.465385
Name: 5901, dtype: object
5902 334.01 12 MP Last Month    27.8342
Name: 5902, dtype: object
5903 226.95999999999998 13 MP Last Month    17.4585
Name: 5903, dtype: object
5904 242.55 13 MP Last Month    18.6577
Name: 5904, dtype: object
5905 214.57 14 MP Last Month    15.3264
Name: 5905, dtype: object
5906 204.17000000000002 11 MP Last Month    18.5609
Name: 5906, dtype: object
5907 338.04 14 MP Last Month    24.1457
Name: 5907, dtype: object
5908 343.79 14 MP Last Month    24.5564
Name: 5908, dtype: object
5909 34.04 14 MP Last Month    2.43143
Name: 5909, dtype: object
5910 381.13 14 MP Last Month    27.2236
Name: 5910, dtype: object
5911 254.44000000000003 14 MP Last Month    18.1743
Name: 5911, dtype: object
5912 137.54999999999998 7 MP Last Month    19.65
Name: 5912, dtype: object
5913 344.81999999999994 14 MP Last Month    24.63
Name: 5913, dtype: object
5914 354.6 14 MP Last Month    25.3286
Name: 5914, dtype: object
5915 261.88000000000005 14 MP Last Month    18.7057
Name: 5915, dtype: object
5916 388.04 14 MP Last Month    27.7171
Name: 5916, dtype: object
5917 269.52 14 MP Last Month    19.2514
Name: 5917, dtype: object
5918 35.629999999999995 14 MP Last Month    2.545
Name: 5918, dtype: object
5919 418.53999999999996 14 MP Last Month    29.8957
Name: 5919, dtype: object
5920 424.68999999999994 13 MP Last Month    32.6685
Name: 5920, dtype: object
5921 173.11 8 MP Last Month    21.6388
Name: 5921, dtype: object
5922 349.37 14 MP Last Month    24.955
Name: 5922, dtype: object
5923 283.76 13 MP Last Month    21.8277
Name: 5923, dtype: object
5924 24.13 14 MP Last Month    1.72357
Name: 5924, dtype: object
5925 430.20000000000005 14 MP Last Month    30.7286
Name: 5925, dtype: object
5926 242.83000000000004 14 MP Last Month    17.345
Name: 5926, dtype: object
5927 105.99000000000001 14 MP Last Month    7.57071
Name: 5927, dtype: object
5928 487.21999999999997 14 MP Last Month    34.8014
Name: 5928, dtype: object
5929 19.490000000000002 14 MP Last Month    1.39214
Name: 5929, dtype: object
5930 21.65 7 MP Last Month    3.09286
Name: 5930, dtype: object
5931 365.79999999999995 14 MP Last Month    26.1286
Name: 5931, dtype: object
5932 420.01 14 MP Last Month    30.0007
Name: 5932, dtype: object
5933 242.01 14 MP Last Month    17.2864
Name: 5933, dtype: object
5934 225.24 14 MP Last Month    16.0886
Name: 5934, dtype: object
5935 288.4599999999999 14 MP Last Month    20.6043
Name: 5935, dtype: object
5936 82.38000000000001 14 MP Last Month    5.88429
Name: 5936, dtype: object
5937 373.05999999999995 14 MP Last Month    26.6471
Name: 5937, dtype: object
5938 121.2 14 MP Last Month    8.65714
Name: 5938, dtype: object
5939 473.64 14 MP Last Month    33.8314
Name: 5939, dtype: object
5940 89.19 14 MP Last Month    6.37071
Name: 5940, dtype: object
5941 230.07 10 MP Last Month    23.007
Name: 5941, dtype: object
5942 196.57000000000002 12 MP Last Month    16.3808
Name: 5942, dtype: object
5943 63.38999999999999 13 MP Last Month    4.87615
Name: 5943, dtype: object
5944 14.28 3 MP Last Month    4.76
Name: 5944, dtype: object
5945 425.24 14 MP Last Month    30.3743
Name: 5945, dtype: object
5946 330.28 10 MP Last Month    33.028
Name: 5946, dtype: object
5947 377.74999999999994 14 MP Last Month    26.9821
Name: 5947, dtype: object
5948 8.91 2 MP Last Month    4.455
Name: 5948, dtype: object
5949 340.77000000000004 13 MP Last Month    26.2131
Name: 5949, dtype: object
5950 270.32000000000005 14 MP Last Month    19.3086
Name: 5950, dtype: object
5951 58.39 14 MP Last Month    4.17071
Name: 5951, dtype: object
5952 486.84999999999997 14 MP Last Month    34.775
Name: 5952, dtype: object
5953 477.69000000000005 14 MP Last Month    34.1207
Name: 5953, dtype: object
5954 172.15999999999997 14 MP Last Month    12.2971
Name: 5954, dtype: object
5955 318.08 14 MP Last Month    22.72
Name: 5955, dtype: object
5956 21.88 6 MP Last Month    3.64667
Name: 5956, dtype: object
5957 361.77000000000004 13 MP Last Month    27.8285
Name: 5957, dtype: object
5958 339.36 14 MP Last Month    24.24
Name: 5958, dtype: object
5959 320.63000000000005 13 MP Last Month    24.6638
Name: 5959, dtype: object
5960 372.32000000000005 14 MP Last Month    26.5943
Name: 5960, dtype: object
5961 31.749999999999996 13 MP Last Month    2.44231
Name: 5961, dtype: object
5962 131.97 14 MP Last Month    9.42643
Name: 5962, dtype: object
5963 79.19 14 MP Last Month    5.65643
Name: 5963, dtype: object
5964 260.32 14 MP Last Month    18.5943
Name: 5964, dtype: object
5965 255.71 13 MP Last Month    19.67
Name: 5965, dtype: object
5966 408.6600000000001 14 MP Last Month    29.19
Name: 5966, dtype: object
5967 75.7 13 MP Last Month    5.82308
Name: 5967, dtype: object
5968 7.9 5 MP Last Month    1.58
Name: 5968, dtype: object
5969 252.17 14 MP Last Month    18.0121
Name: 5969, dtype: object
5970 391.4599999999999 14 MP Last Month    27.9614
Name: 5970, dtype: object
5971 2.5 1 MP Last Month    2.5
Name: 5971, dtype: object
5972 223.52 11 MP Last Month    20.32
Name: 5972, dtype: object
5973 32.63 2 MP Last Month    16.315
Name: 5973, dtype: object
5974 87.50999999999999 14 MP Last Month    6.25071
Name: 5974, dtype: object
5975 425.08000000000004 13 MP Last Month    32.6985
Name: 5975, dtype: object
5976 320.83 14 MP Last Month    22.9164
Name: 5976, dtype: object
5977 319.9 14 MP Last Month    22.85
Name: 5977, dtype: object
5978 23.04 14 MP Last Month    1.64571
Name: 5978, dtype: object
5979 341.31 13 MP Last Month    26.2546
Name: 5979, dtype: object
5980 382.68 14 MP Last Month    27.3343
Name: 5980, dtype: object
5981 445.7199999999999 14 MP Last Month    31.8371
Name: 5981, dtype: object
5982 364.44 13 MP Last Month    28.0338
Name: 5982, dtype: object
5983 30.410000000000004 14 MP Last Month    2.17214
Name: 5983, dtype: object
5984 95.18 14 MP Last Month    6.79857
Name: 5984, dtype: object
5985 413.64000000000004 14 MP Last Month    29.5457
Name: 5985, dtype: object
5986 147.42000000000002 11 MP Last Month    13.4018
Name: 5986, dtype: object
5987 85.47 8 MP Last Month    10.6837
Name: 5987, dtype: object
5988 408.46999999999997 15 MP Last Month    27.2313
Name: 5988, dtype: object

5989 412.46999999999997 15 MP Last Month    27.498
Name: 5989, dtype: object
5990 207.06 15 MP Last Month    13.804
Name: 5990, dtype: object
5991 363.97999999999996 15 MP Last Month    24.2653
Name: 5991, dtype: object
5992 430.69 15 MP Last Month    28.7127
Name: 5992, dtype: object
5993 351.07 15 MP Last Month    23.4047
Name: 5993, dtype: object
5994 141.43 7 MP Last Month    20.2043
Name: 5994, dtype: object
5995 39.34 9 MP Last Month    4.37111
Name: 5995, dtype: object
5996 262.62000000000006 15 MP Last Month    17.508
Name: 5996, dtype: object
5997 290.76 14 MP Last Month    20.7686
Name: 5997, dtype: object
5998 347.76 14 MP Last Month    24.84
Name: 5998, dtype: object
5999 27.939999999999998 12 MP Last Month    2.32833
Name: 5999, dtype: object
6000 505.5799999999999 14 MP Last Month    36.1129
Name: 6000, dtype: object
6001 376.6 15 MP Last Month    25.1067
Name: 6001, dtype: object
6002 136.19 14 MP Last Month    9.72786
Name: 6002, dtype: object
6003 267.40000000000003 15 MP Last Month    17.8267
Name: 6003, dtype: object
6004 274.01 15 MP Last Month    18.2673
Name: 6004, dtype: object
6005 472.25 15 MP Last Month    31.4833
Name: 6005, dtype: object
6006 528.98 15 MP Last Month    35.2653
Name: 6006, dtype: object
6007 129.54999999999998 15 MP Last Month    8.63667
Name: 6007, dtype: object
6008 195.01999999999995 15 MP Last Month    13.0013
Name: 6008, dtype: object
6009 458.96999999999997 13 MP Last Month    35.3054
Name: 6009, dtype: object
6010 100.99999999999999 10 MP Last Month    10.1
Name: 6010, dtype: object
6011 261.09 13 MP Last Month    20.0838
Name: 6011, dtype: object
6012 232.22 12 MP Last Month    19.3517
Name: 6012, dtype: object
6013 25.259999999999998 6 MP Last Month    4.21
Name: 6013, dtype: object
6014 341.98 13 MP Last Month    26.3062
Name: 6014, dtype: object
6015 303.20000000000005 13 MP Last Month    23.3231
Name: 6015, dtype: object
6016 282.86999999999995 13 MP Last Month    21.7592
Name: 6016, dtype: object
6017 396.8300000000001 13 MP Last Month    30.5254
Name: 6017, dtype: object
6018 321.86999999999995 13 MP Last Month    24.7592
Name: 6018, dtype: object
6019 18.32 12 MP Last Month    1.52667
Name: 6019, dtype: object
6020 63.05000000000001 11 MP Last Month    5.73182
Name: 6020, dtype: object
6021 295.01 12 MP Last Month    24.5842
Name: 6021, dtype: object
6022 327.84000000000003 12 MP Last Month    27.32
Name: 6022, dtype: object
6023 66.88999999999999 8 MP Last Month    8.36125
Name: 6023, dtype: object
6024 283.29 11 MP Last Month    25.7536
Name: 6024, dtype: object
6025 319.53 12 MP Last Month    26.6275
Name: 6025, dtype: object
6026 167.54000000000002 10 MP Last Month    16.754
Name: 6026, dtype: object
6027 149.32 12 MP Last Month    12.4433
Name: 6027, dtype: object
6028 328.26000000000005 12 MP Last Month    27.355
Name: 6028, dtype: object
6029 269.5 12 MP Last Month    22.4583
Name: 6029, dtype: object
6030 30.77 9 MP Last Month    3.41889
Name: 6030, dtype: object
6031 88.77000000000001 12 MP Last Month    7.3975
Name: 6031, dtype: object
6032 474.1099999999999 14 MP Last Month    33.865
Name: 6032, dtype: object
6033 78.94999999999999 5 MP Last Month    15.79
Name: 6033, dtype: object
6034 168.67999999999998 14 MP Last Month    12.0486
Name: 6034, dtype: object
6035 377.01 12 MP Last Month    31.4175
Name: 6035, dtype: object
6036 260.79999999999995 14 MP Last Month    18.6286
Name: 6036, dtype: object
6037 369.71 14 MP Last Month    26.4079
Name: 6037, dtype: object
6038 16.34 14 MP Last Month    1.16714
Name: 6038, dtype: object
6039 455.64000000000004 14 MP Last Month    32.5457
Name: 6039, dtype: object
6040 12.34 14 MP Last Month    0.881429
Name: 6040, dtype: object
6041 465.2 14 MP Last Month    33.2286
Name: 6041, dtype: object
6042 466.94000000000005 14 MP Last Month    33.3529
Name: 6042, dtype: object
6043 354.52 14 MP Last Month    25.3229
Name: 6043, dtype: object
6044 272.88999999999993 14 MP Last Month    19.4921
Name: 6044, dtype: object
6045 13.16 14 MP Last Month    0.94
Name: 6045, dtype: object
6046 323.14 14 MP Last Month    23.0814
Name: 6046, dtype: object
6047 299.0199999999999 14 MP Last Month    21.3586
Name: 6047, dtype: object
6048 162.95999999999998 14 MP Last Month    11.64
Name: 6048, dtype: object
6049 15.259999999999998 14 MP Last Month    1.09
Name: 6049, dtype: object
6050 360.43999999999994 14 MP Last Month    25.7457
Name: 6050, dtype: object
6051 409.75 14 MP Last Month    29.2679
Name: 6051, dtype: object
6052 237.70000000000002 14 MP Last Month    16.9786
Name: 6052, dtype: object
6053 3.95 4 MP Last Month    0.9875
Name: 6053, dtype: object
6054 264.03 12 MP Last Month    22.0025
Name: 6054, dtype: object
6055 344.21999999999997 12 MP Last Month    28.685
Name: 6055, dtype: object
6056 113.73 11 MP Last Month    10.3391
Name: 6056, dtype: object
6057 84.75999999999999 10 MP Last Month    8.476
Name: 6057, dtype: object
6058 11.32 4 MP Last Month    2.83
Name: 6058, dtype: object
6059 276.96000000000004 10 MP Last Month    27.696
Name: 6059, dtype: object
6060 283.4 12 MP Last Month    23.6167
Name: 6060, dtype: object
6061 431.77 12 MP Last Month    35.9808
Name: 6061, dtype: object
6062 414.6 12 MP Last Month    34.55
Name: 6062, dtype: object
6063 46.35999999999999 11 MP Last Month    4.21455
Name: 6063, dtype: object
6064 142.87000000000003 12 MP Last Month    11.9058
Name: 6064, dtype: object
6065 506.84 15 MP Last Month    33.7893
Name: 6065, dtype: object
6066 242.80999999999997 14 MP Last Month    17.3436
Name: 6066, dtype: object
6067 61.06 8 MP Last Month    7.6325
Name: 6067, dtype: object
6068 111.51 7 MP Last Month    15.93
Name: 6068, dtype: object
6069 510.0199999999999 15 MP Last Month    34.0013
Name: 6069, dtype: object
6070 290.87 15 MP Last Month    19.3913
Name: 6070, dtype: object
6071 308.73 14 MP Last Month    22.0521
Name: 6071, dtype: object
6072 186.43 15 MP Last Month    12.4287
Name: 6072, dtype: object
6073 275.17999999999995 15 MP Last Month    18.3453
Name: 6073, dtype: object
6074 246.88 15 MP Last Month    16.4587
Name: 6074, dtype: object
6075 317.23 9 MP Last Month    35.2478
Name: 6075, dtype: object
6076 386.15999999999997 11 MP Last Month    35.1055
Name: 6076, dtype: object
6077 68.39 11 MP Last Month    6.21727
Name: 6077, dtype: object
6078 222.6 9 MP Last Month    24.7333
Name: 6078, dtype: object
6079 425.33 12 MP Last Month    35.4442
Name: 6079, dtype: object
6080 291.06 10 MP Last Month    29.106
Name: 6080, dtype: object
6081 115.69 12 MP Last Month    9.64083
Name: 6081, dtype: object
6082 170.1 10 MP Last Month    17.01
Name: 6082, dtype: object
6083 237.24000000000004 12 MP Last Month    19.77
Name: 6083, dtype: object
6084 406.26 12 MP Last Month    33.855
Name: 6084, dtype: object
6085 24.07 10 MP Last Month    2.407
Name: 6085, dtype: object
6086 40.96 14 MP Last Month    2.92571
Name: 6086, dtype: object
6087 369.55999999999995 14 MP Last Month    26.3971
Name: 6087, dtype: object
6088 391.72999999999996 14 MP Last Month    27.9807
Name: 6088, dtype: object
6089 0 0 MP Last Month    0
Name: 6089, dtype: object
6090 436.71000000000004 14 MP Last Month    31.1936
Name: 6090, dtype: object
6091 207.26999999999998 14 MP Last Month    14.805
Name: 6091, dtype: object
6092 397.56999999999994 14 MP Last Month    28.3979
Name: 6092, dtype: object
6093 264.43 13 MP Last Month    20.3408
Name: 6093, dtype: object
6094 378.1 14 MP Last Month    27.0071
Name: 6094, dtype: object
6095 341.7099999999999 14 MP Last Month    24.4079
Name: 6095, dtype: object
6096 28.080000000000002 14 MP Last Month    2.00571
Name: 6096, dtype: object
6097 369.93000000000006 14 MP Last Month    26.4236
Name: 6097, dtype: object
6098 364.06000000000006 14 MP Last Month    26.0043
Name: 6098, dtype: object
6099 77.97 14 MP Last Month    5.56929
Name: 6099, dtype: object
6100 478.84999999999997 14 MP Last Month    34.2036
Name: 6100, dtype: object
6101 269.84000000000003 14 MP Last Month    19.2743
Name: 6101, dtype: object
6102 432.05999999999995 14 MP Last Month    30.8614
Name: 6102, dtype: object
6103 319.23999999999995 10 MP Last Month    31.924
Name: 6103, dtype: object
6104 224.78000000000003 14 MP Last Month    16.0557
Name: 6104, dtype: object

6105 17.2 9 MP Last Month    1.91111
Name: 6105, dtype: object
6106 358.39 14 MP Last Month    25.5993
Name: 6106, dtype: object
6107 189.37 12 MP Last Month    15.7808
Name: 6107, dtype: object
6108 2.1 5 MP Last Month    0.42
Name: 6108, dtype: object
6109 39.57 13 MP Last Month    3.04385
Name: 6109, dtype: object
6110 479.52000000000004 14 MP Last Month    34.2514
Name: 6110, dtype: object
6111 423.04 14 MP Last Month    30.2171
Name: 6111, dtype: object
6112 189.32 14 MP Last Month    13.5229
Name: 6112, dtype: object
6113 251.70999999999998 14 MP Last Month    17.9793
Name: 6113, dtype: object
6114 360.8 14 MP Last Month    25.7714
Name: 6114, dtype: object
6115 84.69 9 MP Last Month    9.41
Name: 6115, dtype: object
6116 36.18 2 MP Last Month    18.09
Name: 6116, dtype: object
6117 350.83000000000004 14 MP Last Month    25.0593
Name: 6117, dtype: object
6118 457.06999999999994 14 MP Last Month    32.6479
Name: 6118, dtype: object
6119 0.0 6 MP Last Month    0
Name: 6119, dtype: object
6120 52.940000000000005 14 MP Last Month    3.78143
Name: 6120, dtype: object
6121 6.47 4 MP Last Month    1.6175
Name: 6121, dtype: object
6122 490.8299999999999 14 MP Last Month    35.0593
Name: 6122, dtype: object
6123 404.85999999999996 14 MP Last Month    28.9186
Name: 6123, dtype: object
6124 414.66999999999996 14 MP Last Month    29.6193
Name: 6124, dtype: object
6125 52.86 13 MP Last Month    4.06615
Name: 6125, dtype: object
6126 3.48 3 MP Last Month    1.16
Name: 6126, dtype: object
6127 38.66 13 MP Last Month    2.97385
Name: 6127, dtype: object
6128 429.91 13 MP Last Month    33.07
Name: 6128, dtype: object
6129 436.9200000000001 14 MP Last Month    31.2086
Name: 6129, dtype: object
6130 219.07000000000002 14 MP Last Month    15.6479
Name: 6130, dtype: object
6131 235.21999999999997 14 MP Last Month    16.8014
Name: 6131, dtype: object
6132 88.79000000000002 14 MP Last Month    6.34214
Name: 6132, dtype: object
6133 7.93 4 MP Last Month    1.9825
Name: 6133, dtype: object
6134 295.88 14 MP Last Month    21.1343
Name: 6134, dtype: object
6135 391.4200000000001 14 MP Last Month    27.9586
Name: 6135, dtype: object
6136 366.95 13 MP Last Month    28.2269
Name: 6136, dtype: object
6137 252.64999999999998 9 MP Last Month    28.0722
Name: 6137, dtype: object
6138 250.13000000000002 13 MP Last Month    19.2408
Name: 6138, dtype: object
6139 298.1 13 MP Last Month    22.9308
Name: 6139, dtype: object
6140 382.98 13 MP Last Month    29.46
Name: 6140, dtype: object
6141 439.6000000000001 13 MP Last Month    33.8154
Name: 6141, dtype: object
6142 334.68999999999994 10 MP Last Month    33.469
Name: 6142, dtype: object
6143 372.3499999999999 14 MP Last Month    26.5964
Name: 6143, dtype: object
6144 211.16000000000003 13 MP Last Month    16.2431
Name: 6144, dtype: object
6145 39.720000000000006 13 MP Last Month    3.05538
Name: 6145, dtype: object
6146 19.0 13 MP Last Month    1.46154
Name: 6146, dtype: object
6147 485.99 14 MP Last Month    34.7136
Name: 6147, dtype: object
6148 173.26 14 MP Last Month    12.3757
Name: 6148, dtype: object
6149 545.76 15 MP Last Month    36.384
Name: 6149, dtype: object
6150 121.38 15 MP Last Month    8.092
Name: 6150, dtype: object
6151 250.83000000000004 15 MP Last Month    16.722
Name: 6151, dtype: object
6152 132.70999999999998 15 MP Last Month    8.84733
Name: 6152, dtype: object
6153 476.25 15 MP Last Month    31.75
Name: 6153, dtype: object
6154 406.89 13 MP Last Month    31.2992
Name: 6154, dtype: object
6155 220.89000000000001 15 MP Last Month    14.726
Name: 6155, dtype: object
6156 206.20000000000002 11 MP Last Month    18.7455
Name: 6156, dtype: object
6157 109.43999999999998 15 MP Last Month    7.296
Name: 6157, dtype: object
6158 115.88 13 MP Last Month    8.91385
Name: 6158, dtype: object
6159 460.61 14 MP Last Month    32.9007
Name: 6159, dtype: object
6160 386.8 15 MP Last Month    25.7867
Name: 6160, dtype: object
6161 49.660000000000004 13 MP Last Month    3.82
Name: 6161, dtype: object
6162 240.29999999999998 15 MP Last Month    16.02
Name: 6162, dtype: object
6163 358.42 15 MP Last Month    23.8947
Name: 6163, dtype: object
6164 228.44000000000003 12 MP Last Month    19.0367
Name: 6164, dtype: object
6165 365.57000000000005 15 MP Last Month    24.3713
Name: 6165, dtype: object
6166 34.04 15 MP Last Month    2.26933
Name: 6166, dtype: object
6167 381.13 15 MP Last Month    25.4087
Name: 6167, dtype: object
6168 150.13 8 MP Last Month    18.7662
Name: 6168, dtype: object
6169 271.54 15 MP Last Month    18.1027
Name: 6169, dtype: object
6170 381.56999999999994 15 MP Last Month    25.438
Name: 6170, dtype: object
6171 279.93000000000006 15 MP Last Month    18.662
Name: 6171, dtype: object
6172 381.22 15 MP Last Month    25.4147
Name: 6172, dtype: object
6173 221.62 7 MP Last Month    31.66
Name: 6173, dtype: object
6174 386.68999999999994 13 MP Last Month    29.7454
Name: 6174, dtype: object
6175 177.81 12 MP Last Month    14.8175
Name: 6175, dtype: object
6176 35.6 6 MP Last Month    5.93333
Name: 6176, dtype: object
6177 93.16 13 MP Last Month    7.16615
Name: 6177, dtype: object
6178 459.41999999999996 13 MP Last Month    35.34
Name: 6178, dtype: object
6179 391.08 13 MP Last Month    30.0831
Name: 6179, dtype: object
6180 11.459999999999999 12 MP Last Month    0.955
Name: 6180, dtype: object
6181 250.49 11 MP Last Month    22.7718
Name: 6181, dtype: object
6182 404.68999999999994 12 MP Last Month    33.7242
Name: 6182, dtype: object
6183 167.14999999999998 12 MP Last Month    13.9292
Name: 6183, dtype: object
6184 218.87 13 MP Last Month    16.8362
Name: 6184, dtype: object
6185 510.26 15 MP Last Month    34.0173
Name: 6185, dtype: object
6186 334.81999999999994 16 MP Last Month    20.9262
Name: 6186, dtype: object
6187 131.70000000000002 15 MP Last Month    8.78
Name: 6187, dtype: object
6188 116.48 15 MP Last Month    7.76533
Name: 6188, dtype: object
6189 0.0 1 MP Last Month    0
Name: 6189, dtype: object
6190 0.0 4 MP Last Month    0
Name: 6190, dtype: object
6191 433.4599999999999 12 MP Last Month    36.1217
Name: 6191, dtype: object
6192 154.21 9 MP Last Month    17.1344
Name: 6192, dtype: object
6193 504.9899999999999 16 MP Last Month    31.5619
Name: 6193, dtype: object
6194 560.54 16 MP Last Month    35.0337
Name: 6194, dtype: object
6195 309.7800000000001 14 MP Last Month    22.1271
Name: 6195, dtype: object
6196 148.74 16 MP Last Month    9.29625
Name: 6196, dtype: object
6197 401.49 11 MP Last Month    36.4991
Name: 6197, dtype: object
6198 159.66 14 MP Last Month    11.4043
Name: 6198, dtype: object
6199 355.71000000000004 13 MP Last Month    27.3623
Name: 6199, dtype: object
6200 155.15 11 MP Last Month    14.1045
Name: 6200, dtype: object
6201 36.02 12 MP Last Month    3.00167
Name: 6201, dtype: object
6202 400.76 13 MP Last Month    30.8277
Name: 6202, dtype: object
6203 410.79999999999995 12 MP Last Month    34.2333
Name: 6203, dtype: object
6204 303.22999999999996 14 MP Last Month    21.6593
Name: 6204, dtype: object
6205 224.29 14 MP Last Month    16.0207
Name: 6205, dtype: object
6206 22.5 14 MP Last Month    1.60714
Name: 6206, dtype: object
6207 457.8400000000001 14 MP Last Month    32.7029
Name: 6207, dtype: object
6208 156.92000000000002 14 MP Last Month    11.2086
Name: 6208, dtype: object
6209 198.38000000000002 14 MP Last Month    14.17
Name: 6209, dtype: object
6210 523.42 15 MP Last Month    34.8947
Name: 6210, dtype: object
6211 26.19 15 MP Last Month    1.746
Name: 6211, dtype: object
6212 21.65 8 MP Last Month    2.70625
Name: 6212, dtype: object
6213 448.81 15 MP Last Month    29.9207
Name: 6213, dtype: object
6214 301.62999999999994 15 MP Last Month    20.1087
Name: 6214, dtype: object
6215 49.49 3 MP Last Month    16.4967
Name: 6215, dtype: object
6216 399.5799999999999 15 MP Last Month    26.6387
Name: 6216, dtype: object
6217 259.69 15 MP Last Month    17.3127
Name: 6217, dtype: object
6218 82.38000000000001 15 MP Last Month    5.492
Name: 6218, dtype: object
6219 242.44 15 MP Last Month    16.1627
Name: 6219, dtype: object
6220 403.62999999999994 15 MP Last Month    26.9087
Name: 6220, dtype: object
6221 138.63 15 MP Last Month    9.242
Name: 6221, dtype: object

6222 447.9700000000001 14 MP Last Month    31.9979
Name: 6222, dtype: object
6223 137.23 12 MP Last Month    11.4358
Name: 6223, dtype: object
6224 102.11 14 MP Last Month    7.29357
Name: 6224, dtype: object
6225 360.70000000000005 14 MP Last Month    25.7643
Name: 6225, dtype: object
6226 132.2 6 MP Last Month    22.0333
Name: 6226, dtype: object
6227 319.81 14 MP Last Month    22.8436
Name: 6227, dtype: object
6228 444.98 14 MP Last Month    31.7843
Name: 6228, dtype: object
6229 309.03000000000003 12 MP Last Month    25.7525
Name: 6229, dtype: object
6230 262.4 14 MP Last Month    18.7429
Name: 6230, dtype: object
6231 85.69 14 MP Last Month    6.12071
Name: 6231, dtype: object
6232 403.19 14 MP Last Month    28.7993
Name: 6232, dtype: object
6233 25.09 11 MP Last Month    2.28091
Name: 6233, dtype: object
6234 367.03999999999996 14 MP Last Month    26.2171
Name: 6234, dtype: object
6235 404.5399999999999 14 MP Last Month    28.8957
Name: 6235, dtype: object
6236 148.51000000000002 7 MP Last Month    21.2157
Name: 6236, dtype: object
6237 515.7799999999999 14 MP Last Month    36.8414
Name: 6237, dtype: object
6238 275.81000000000006 11 MP Last Month    25.0736
Name: 6238, dtype: object
6239 336.21999999999997 14 MP Last Month    24.0157
Name: 6239, dtype: object
6240 325.5 14 MP Last Month    23.25
Name: 6240, dtype: object
6241 83.47999999999999 14 MP Last Month    5.96286
Name: 6241, dtype: object
6242 50.06 14 MP Last Month    3.57571
Name: 6242, dtype: object
6243 483.2099999999999 14 MP Last Month    34.515
Name: 6243, dtype: object
6244 179.14 12 MP Last Month    14.9283
Name: 6244, dtype: object
6245 113.84000000000002 13 MP Last Month    8.75692
Name: 6245, dtype: object
6246 506.06 15 MP Last Month    33.7373
Name: 6246, dtype: object
6247 256.42 11 MP Last Month    23.3109
Name: 6247, dtype: object
6248 209.82000000000002 13 MP Last Month    16.14
Name: 6248, dtype: object
6249 108.74 15 MP Last Month    7.24933
Name: 6249, dtype: object
6250 14.28 4 MP Last Month    3.57
Name: 6250, dtype: object
6251 63.38999999999999 14 MP Last Month    4.52786
Name: 6251, dtype: object
6252 458.89 15 MP Last Month    30.5927
Name: 6252, dtype: object
6253 411.41999999999996 15 MP Last Month    27.428
Name: 6253, dtype: object
6254 8.91 3 MP Last Month    2.97
Name: 6254, dtype: object
6255 290.9200000000001 15 MP Last Month    19.3947
Name: 6255, dtype: object
6256 371.02000000000004 14 MP Last Month    26.5014
Name: 6256, dtype: object
6257 58.39 15 MP Last Month    3.89267
Name: 6257, dtype: object
6258 436.6500000000001 13 MP Last Month    33.5885
Name: 6258, dtype: object
6259 453.1 15 MP Last Month    30.2067
Name: 6259, dtype: object
6260 162.97 12 MP Last Month    13.5808
Name: 6260, dtype: object
6261 252.23000000000002 15 MP Last Month    16.8153
Name: 6261, dtype: object
6262 9.45 1 MP Last Month    9.45
Name: 6262, dtype: object
6263 487.17999999999995 15 MP Last Month    32.4787
Name: 6263, dtype: object
6264 431.71999999999997 15 MP Last Month    28.7813
Name: 6264, dtype: object
6265 232.13000000000002 15 MP Last Month    15.4753
Name: 6265, dtype: object
6266 43.77 14 MP Last Month    3.12643
Name: 6266, dtype: object
6267 107.95999999999998 14 MP Last Month    7.71143
Name: 6267, dtype: object
6268 476.84999999999997 15 MP Last Month    31.79
Name: 6268, dtype: object
6269 325.79 14 MP Last Month    23.2707
Name: 6269, dtype: object
6270 59.11999999999999 15 MP Last Month    3.94133
Name: 6270, dtype: object
6271 286.03999999999996 15 MP Last Month    19.0693
Name: 6271, dtype: object
6272 281.08 14 MP Last Month    20.0771
Name: 6272, dtype: object
6273 430.94000000000005 15 MP Last Month    28.7293
Name: 6273, dtype: object
6274 16.28 2 MP Last Month    8.14
Name: 6274, dtype: object
6275 405.8299999999999 15 MP Last Month    27.0553
Name: 6275, dtype: object
6276 273.59 15 MP Last Month    18.2393
Name: 6276, dtype: object
6277 281.88 14 MP Last Month    20.1343
Name: 6277, dtype: object
6278 59.38 3 MP Last Month    19.7933
Name: 6278, dtype: object
6279 290.57 14 MP Last Month    20.755
Name: 6279, dtype: object
6280 254.70000000000002 12 MP Last Month    21.225
Name: 6280, dtype: object
6281 101.96 15 MP Last Month    6.79733
Name: 6281, dtype: object
6282 320.29 14 MP Last Month    22.8779
Name: 6282, dtype: object
6283 428.0300000000001 13 MP Last Month    32.9254
Name: 6283, dtype: object
6284 321.43 14 MP Last Month    22.9593
Name: 6284, dtype: object
6285 23.04 14 MP Last Month    1.64571
Name: 6285, dtype: object
6286 389.33 14 MP Last Month    27.8093
Name: 6286, dtype: object
6287 440.29999999999995 14 MP Last Month    31.45
Name: 6287, dtype: object
6288 359.11 13 MP Last Month    27.6238
Name: 6288, dtype: object
6289 350.99 13 MP Last Month    26.9992
Name: 6289, dtype: object
6290 88.30000000000001 14 MP Last Month    6.30714
Name: 6290, dtype: object
6291 27.89 14 MP Last Month    1.99214
Name: 6291, dtype: object
6292 159.17000000000002 12 MP Last Month    13.2642
Name: 6292, dtype: object
6293 74.05 8 MP Last Month    9.25625
Name: 6293, dtype: object
6294 11.34 8 MP Last Month    1.4175
Name: 6294, dtype: object
6295 436.73999999999995 16 MP Last Month    27.2962
Name: 6295, dtype: object
6296 223.61 16 MP Last Month    13.9756
Name: 6296, dtype: object
6297 438.59999999999997 16 MP Last Month    27.4125
Name: 6297, dtype: object
6298 459.15999999999997 16 MP Last Month    28.6975
Name: 6298, dtype: object
6299 161.03 8 MP Last Month    20.1288
Name: 6299, dtype: object
6300 393.79999999999995 16 MP Last Month    24.6125
Name: 6300, dtype: object
6301 369.37 16 MP Last Month    23.0856
Name: 6301, dtype: object
6302 317.36 15 MP Last Month    21.1573
Name: 6302, dtype: object
6303 373.96 15 MP Last Month    24.9307
Name: 6303, dtype: object
6304 282.69000000000005 16 MP Last Month    17.6681
Name: 6304, dtype: object
6305 27.939999999999998 13 MP Last Month    2.14923
Name: 6305, dtype: object
6306 505.9099999999999 14 MP Last Month    36.1364
Name: 6306, dtype: object
6307 407.63 15 MP Last Month    27.1753
Name: 6307, dtype: object
6308 287.49 15 MP Last Month    19.166
Name: 6308, dtype: object
6309 154.17 14 MP Last Month    11.0121
Name: 6309, dtype: object
6310 264.33 15 MP Last Month    17.622
Name: 6310, dtype: object
6311 525.28 15 MP Last Month    35.0187
Name: 6311, dtype: object
6312 487.84000000000003 15 MP Last Month    32.5227
Name: 6312, dtype: object
6313 0 0 MP Last Month    0
Name: 6313, dtype: object
6314 131.54999999999995 15 MP Last Month    8.77
Name: 6314, dtype: object
6315 209.71999999999994 15 MP Last Month    13.9813
Name: 6315, dtype: object
6316 452.50000000000006 13 MP Last Month    34.8077
Name: 6316, dtype: object
6317 126.26999999999998 11 MP Last Month    11.4791
Name: 6317, dtype: object
6318 22.98 6 MP Last Month    3.83
Name: 6318, dtype: object
6319 255.19000000000003 13 MP Last Month    19.63
Name: 6319, dtype: object
6320 347.15 13 MP Last Month    26.7038
Name: 6320, dtype: object
6321 383.95 13 MP Last Month    29.5346
Name: 6321, dtype: object
6322 305.69000000000005 13 MP Last Month    23.5146
Name: 6322, dtype: object
6323 289.12 13 MP Last Month    22.24
Name: 6323, dtype: object
6324 35.55 12 MP Last Month    2.9625
Name: 6324, dtype: object
6325 329.81999999999994 13 MP Last Month    25.3708
Name: 6325, dtype: object
6326 54.45 11 MP Last Month    4.95
Name: 6326, dtype: object
6327 363.62 13 MP Last Month    27.9708
Name: 6327, dtype: object
6328 321.51 13 MP Last Month    24.7315
Name: 6328, dtype: object
6329 78.96999999999998 8 MP Last Month    9.87125
Name: 6329, dtype: object
6330 353.7 13 MP Last Month    27.2077
Name: 6330, dtype: object
6331 325.71000000000004 12 MP Last Month    27.1425
Name: 6331, dtype: object
6332 172.92 13 MP Last Month    13.3015
Name: 6332, dtype: object
6333 185.12 11 MP Last Month    16.8291
Name: 6333, dtype: object
6334 358.16 13 MP Last Month    27.5508
Name: 6334, dtype: object
6335 287.47 13 MP Last Month    22.1131
Name: 6335, dtype: object
6336 88.77000000000001 13 MP Last Month    6.82846
Name: 6336, dtype: object
6337 30.77 10 MP Last Month    3.077
Name: 6337, dtype: object
6338 485.41999999999996 14 MP Last Month    34.6729
Name: 6338, dtype: object

6339 348.72 14 MP Last Month    24.9086
Name: 6339, dtype: object
6340 476.87000000000006 14 MP Last Month    34.0621
Name: 6340, dtype: object
6341 267.65999999999997 14 MP Last Month    19.1186
Name: 6341, dtype: object
6342 10.41 14 MP Last Month    0.743571
Name: 6342, dtype: object
6343 290.00000000000006 14 MP Last Month    20.7143
Name: 6343, dtype: object
6344 329.76 14 MP Last Month    23.5543
Name: 6344, dtype: object
6345 140.09 14 MP Last Month    10.0064
Name: 6345, dtype: object
6346 12.51 14 MP Last Month    0.893571
Name: 6346, dtype: object
6347 234.48000000000002 14 MP Last Month    16.7486
Name: 6347, dtype: object
6348 423.17 14 MP Last Month    30.2264
Name: 6348, dtype: object
6349 365.8399999999999 14 MP Last Month    26.1314
Name: 6349, dtype: object
6350 0.0 4 MP Last Month    0
Name: 6350, dtype: object
6351 328.91 12 MP Last Month    27.4092
Name: 6351, dtype: object
6352 84.75999999999999 10 MP Last Month    8.476
Name: 6352, dtype: object
6353 265.17999999999995 12 MP Last Month    22.0983
Name: 6353, dtype: object
6354 113.9 11 MP Last Month    10.3545
Name: 6354, dtype: object
6355 11.32 5 MP Last Month    2.264
Name: 6355, dtype: object
6356 271.52 10 MP Last Month    27.152
Name: 6356, dtype: object
6357 289.93 12 MP Last Month    24.1608
Name: 6357, dtype: object
6358 406.8 12 MP Last Month    33.9
Name: 6358, dtype: object
6359 425.86 12 MP Last Month    35.4883
Name: 6359, dtype: object
6360 132.89000000000001 12 MP Last Month    11.0742
Name: 6360, dtype: object
6361 59.33999999999999 11 MP Last Month    5.39455
Name: 6361, dtype: object
6362 512.26 15 MP Last Month    34.1507
Name: 6362, dtype: object
6363 256.64 14 MP Last Month    18.3314
Name: 6363, dtype: object
6364 128.89000000000001 8 MP Last Month    16.1113
Name: 6364, dtype: object
6365 85.42 8 MP Last Month    10.6775
Name: 6365, dtype: object
6366 518.2699999999999 15 MP Last Month    34.5513
Name: 6366, dtype: object
6367 181.96000000000004 15 MP Last Month    12.1307
Name: 6367, dtype: object
6368 290.75000000000006 15 MP Last Month    19.3833
Name: 6368, dtype: object
6369 316.0 14 MP Last Month    22.5714
Name: 6369, dtype: object
6370 280.9 15 MP Last Month    18.7267
Name: 6370, dtype: object
6371 247.83999999999997 15 MP Last Month    16.5227
Name: 6371, dtype: object
6372 353.6 10 MP Last Month    35.36
Name: 6372, dtype: object
6373 421.30999999999995 12 MP Last Month    35.1092
Name: 6373, dtype: object
6374 68.39 12 MP Last Month    5.69917
Name: 6374, dtype: object
6375 450.51 13 MP Last Month    34.6546
Name: 6375, dtype: object
6376 322.13 11 MP Last Month    29.2845
Name: 6376, dtype: object
6377 255.13 10 MP Last Month    25.513
Name: 6377, dtype: object
6378 255.21000000000004 13 MP Last Month    19.6315
Name: 6378, dtype: object
6379 126.72 13 MP Last Month    9.74769
Name: 6379, dtype: object
6380 183.93 11 MP Last Month    16.7209
Name: 6380, dtype: object
6381 443.13 13 MP Last Month    34.0869
Name: 6381, dtype: object
6382 24.07 11 MP Last Month    2.18818
Name: 6382, dtype: object
6383 368.3499999999999 14 MP Last Month    26.3107
Name: 6383, dtype: object
6384 64.83 14 MP Last Month    4.63071
Name: 6384, dtype: object
6385 390.71 14 MP Last Month    27.9079
Name: 6385, dtype: object
6386 3.32 1 MP Last Month    3.32
Name: 6386, dtype: object
6387 435.11 14 MP Last Month    31.0793
Name: 6387, dtype: object
6388 390.48 14 MP Last Month    27.8914
Name: 6388, dtype: object
6389 270.88000000000005 13 MP Last Month    20.8369
Name: 6389, dtype: object
6390 217.5 14 MP Last Month    15.5357
Name: 6390, dtype: object
6391 342.89 14 MP Last Month    24.4921
Name: 6391, dtype: object
6392 20.68 14 MP Last Month    1.47714
Name: 6392, dtype: object
6393 0 0 MP Last Month    0
Name: 6393, dtype: object
6394 189.15 7 MP Last Month    27.0214
Name: 6394, dtype: object
6395 347.93000000000006 13 MP Last Month    26.7638
Name: 6395, dtype: object
6396 367.8399999999999 13 MP Last Month    28.2954
Name: 6396, dtype: object
6397 82.27 12 MP Last Month    6.85583
Name: 6397, dtype: object
6398 81.99000000000001 13 MP Last Month    6.30692
Name: 6398, dtype: object
6399 43.6 8 MP Last Month    5.45
Name: 6399, dtype: object
6400 363.32 12 MP Last Month    30.2767
Name: 6400, dtype: object
6401 445.1700000000001 13 MP Last Month    34.2438
Name: 6401, dtype: object
6402 227.17999999999998 13 MP Last Month    17.4754
Name: 6402, dtype: object
6403 344.09000000000003 13 MP Last Month    26.4685
Name: 6403, dtype: object
6404 172.35999999999999 13 MP Last Month    13.2585
Name: 6404, dtype: object
6405 115.55 12 MP Last Month    9.62917
Name: 6405, dtype: object
6406 373.43 14 MP Last Month    26.6736
Name: 6406, dtype: object
6407 346.79 14 MP Last Month    24.7707
Name: 6407, dtype: object
6408 61.339999999999996 14 MP Last Month    4.38143
Name: 6408, dtype: object
6409 471.47999999999996 14 MP Last Month    33.6771
Name: 6409, dtype: object
6410 354.86999999999995 11 MP Last Month    32.2609
Name: 6410, dtype: object
6411 415.60999999999996 14 MP Last Month    29.6864
Name: 6411, dtype: object
6412 275.31 14 MP Last Month    19.665
Name: 6412, dtype: object
6413 221.22000000000003 14 MP Last Month    15.8014
Name: 6413, dtype: object
6414 11.6 9 MP Last Month    1.28889
Name: 6414, dtype: object
6415 354.96 14 MP Last Month    25.3543
Name: 6415, dtype: object
6416 194.51 12 MP Last Month    16.2092
Name: 6416, dtype: object
6417 2.1 6 MP Last Month    0.35
Name: 6417, dtype: object
6418 34.85 13 MP Last Month    2.68077
Name: 6418, dtype: object
6419 479.77000000000004 14 MP Last Month    34.2693
Name: 6419, dtype: object
6420 440.66999999999996 14 MP Last Month    31.4764
Name: 6420, dtype: object
6421 355.07000000000005 14 MP Last Month    25.3621
Name: 6421, dtype: object
6422 248.31 14 MP Last Month    17.7364
Name: 6422, dtype: object
6423 197.82000000000002 14 MP Last Month    14.13
Name: 6423, dtype: object
6424 336.05 14 MP Last Month    24.0036
Name: 6424, dtype: object
6425 55.11 3 MP Last Month    18.37
Name: 6425, dtype: object
6426 453.0199999999999 14 MP Last Month    32.3586
Name: 6426, dtype: object
6427 93.74 9 MP Last Month    10.4156
Name: 6427, dtype: object
6428 0.0 7 MP Last Month    0
Name: 6428, dtype: object
6429 52.940000000000005 14 MP Last Month    3.78143
Name: 6429, dtype: object
6430 492.0999999999999 14 MP Last Month    35.15
Name: 6430, dtype: object
6431 243.22 14 MP Last Month    17.3729
Name: 6431, dtype: object
6432 353.83000000000004 14 MP Last Month    25.2736
Name: 6432, dtype: object
6433 167.83 7 MP Last Month    23.9757
Name: 6433, dtype: object
6434 492.2099999999999 14 MP Last Month    35.1579
Name: 6434, dtype: object
6435 462.83000000000004 14 MP Last Month    33.0593
Name: 6435, dtype: object
6436 38.5 2 MP Last Month    19.25
Name: 6436, dtype: object
6437 29.04 9 MP Last Month    3.22667
Name: 6437, dtype: object
6438 110.07 12 MP Last Month    9.1725
Name: 6438, dtype: object
6439 6.05 14 MP Last Month    0.432143
Name: 6439, dtype: object
6440 365.81 13 MP Last Month    28.1392
Name: 6440, dtype: object
6441 243.15999999999997 14 MP Last Month    17.3686
Name: 6441, dtype: object
6442 242.55 14 MP Last Month    17.325
Name: 6442, dtype: object
6443 407.78999999999996 14 MP Last Month    29.1279
Name: 6443, dtype: object
6444 396.89 14 MP Last Month    28.3493
Name: 6444, dtype: object
6445 49.89 13 MP Last Month    3.83769
Name: 6445, dtype: object
6446 72.31 13 MP Last Month    5.56231
Name: 6446, dtype: object
6447 13.38 4 MP Last Month    3.345
Name: 6447, dtype: object
6448 422.64 13 MP Last Month    32.5108
Name: 6448, dtype: object
6449 425.52 14 MP Last Month    30.3943
Name: 6449, dtype: object
6450 238.04000000000002 14 MP Last Month    17.0029
Name: 6450, dtype: object
6451 235.57 14 MP Last Month    16.8264
Name: 6451, dtype: object
6452 380.34000000000003 14 MP Last Month    27.1671
Name: 6452, dtype: object
6453 286.00999999999993 14 MP Last Month    20.4293
Name: 6453, dtype: object
6454 109.71000000000002 14 MP Last Month    7.83643
Name: 6454, dtype: object
6455 18.63 5 MP Last Month    3.726
Name: 6455, dtype: object
6456 250.59000000000003 9 MP Last Month    27.8433
Name: 6456, dtype: object

6457 369.46999999999997 13 MP Last Month    28.4208
Name: 6457, dtype: object
6458 252.19 13 MP Last Month    19.3992
Name: 6458, dtype: object
6459 273.66999999999996 13 MP Last Month    21.0515
Name: 6459, dtype: object
6460 358.8299999999999 14 MP Last Month    25.6307
Name: 6460, dtype: object
6461 432.57000000000005 13 MP Last Month    33.2746
Name: 6461, dtype: object
6462 356.98 10 MP Last Month    35.698
Name: 6462, dtype: object
6463 373.11999999999995 13 MP Last Month    28.7015
Name: 6463, dtype: object
6464 195.91000000000003 13 MP Last Month    15.07
Name: 6464, dtype: object
6465 39.720000000000006 13 MP Last Month    3.05538
Name: 6465, dtype: object
6466 19.0 13 MP Last Month    1.46154
Name: 6466, dtype: object
6467 481.04999999999995 14 MP Last Month    34.3607
Name: 6467, dtype: object
6468 178.2 14 MP Last Month    12.7286
Name: 6468, dtype: object
6469 548.58 15 MP Last Month    36.572
Name: 6469, dtype: object
6470 257.98 15 MP Last Month    17.1987
Name: 6470, dtype: object
6471 133.93 15 MP Last Month    8.92867
Name: 6471, dtype: object
6472 132.70999999999998 15 MP Last Month    8.84733
Name: 6472, dtype: object
6473 406.14 13 MP Last Month    31.2415
Name: 6473, dtype: object
6474 209.83 11 MP Last Month    19.0755
Name: 6474, dtype: object
6475 243.17000000000002 15 MP Last Month    16.2113
Name: 6475, dtype: object
6476 115.88 14 MP Last Month    8.27714
Name: 6476, dtype: object
6477 480.28000000000003 15 MP Last Month    32.0187
Name: 6477, dtype: object
6478 86.35999999999999 15 MP Last Month    5.75733
Name: 6478, dtype: object
6479 461.44000000000005 14 MP Last Month    32.96
Name: 6479, dtype: object
6480 393.05 15 MP Last Month    26.2033
Name: 6480, dtype: object
6481 49.690000000000005 13 MP Last Month    3.82231
Name: 6481, dtype: object
6482 247.94000000000003 13 MP Last Month    19.0723
Name: 6482, dtype: object
6483 356.47 15 MP Last Month    23.7647
Name: 6483, dtype: object
6484 357.70000000000005 15 MP Last Month    23.8467
Name: 6484, dtype: object
6485 249.8 15 MP Last Month    16.6533
Name: 6485, dtype: object
6486 349.63 15 MP Last Month    23.3087
Name: 6486, dtype: object
6487 254.57 15 MP Last Month    16.9713
Name: 6487, dtype: object
6488 175.85999999999999 9 MP Last Month    19.54
Name: 6488, dtype: object
6489 393.29999999999995 15 MP Last Month    26.22
Name: 6489, dtype: object
6490 372.07000000000005 15 MP Last Month    24.8047
Name: 6490, dtype: object
6491 296.3500000000001 15 MP Last Month    19.7567
Name: 6491, dtype: object
6492 254.5 8 MP Last Month    31.8125
Name: 6492, dtype: object
6493 414.63999999999993 14 MP Last Month    29.6171
Name: 6493, dtype: object
6494 38.75 7 MP Last Month    5.53571
Name: 6494, dtype: object
6495 93.16 14 MP Last Month    6.65429
Name: 6495, dtype: object
6496 494.54999999999995 14 MP Last Month    35.325
Name: 6496, dtype: object
6497 425.56 14 MP Last Month    30.3971
Name: 6497, dtype: object
6498 242.07 12 MP Last Month    20.1725
Name: 6498, dtype: object
6499 14.61 13 MP Last Month    1.12385
Name: 6499, dtype: object
6500 438.15999999999997 13 MP Last Month    33.7046
Name: 6500, dtype: object
6501 181.67999999999998 13 MP Last Month    13.9754
Name: 6501, dtype: object
6502 232.39000000000001 14 MP Last Month    16.5993
Name: 6502, dtype: object
6503 0 0 MP Last Month    0
Name: 6503, dtype: object
6504 384.44 14 MP Last Month    27.46
Name: 6504, dtype: object
6505 273.12 14 MP Last Month    19.5086
Name: 6505, dtype: object
6506 35.629999999999995 14 MP Last Month    2.545
Name: 6506, dtype: object
6507 422.62999999999994 13 MP Last Month    32.51
Name: 6507, dtype: object
6508 350.39 14 MP Last Month    25.0279
Name: 6508, dtype: object
6509 420.5799999999999 14 MP Last Month    30.0414
Name: 6509, dtype: object
6510 167.12 8 MP Last Month    20.89
Name: 6510, dtype: object
6511 269.96000000000004 13 MP Last Month    20.7662
Name: 6511, dtype: object
6512 24.13 14 MP Last Month    1.72357
Name: 6512, dtype: object
6513 431.16 14 MP Last Month    30.7971
Name: 6513, dtype: object
6514 238.02 14 MP Last Month    17.0014
Name: 6514, dtype: object
6515 105.99000000000001 14 MP Last Month    7.57071
Name: 6515, dtype: object
6516 545.63 16 MP Last Month    34.1019
Name: 6516, dtype: object
6517 330.59 16 MP Last Month    20.6619
Name: 6517, dtype: object
6518 116.96 15 MP Last Month    7.79733
Name: 6518, dtype: object
6519 121.33 15 MP Last Month    8.08867
Name: 6519, dtype: object
6520 0.0 2 MP Last Month    0
Name: 6520, dtype: object
6521 0.0 4 MP Last Month    0
Name: 6521, dtype: object
6522 431.48 12 MP Last Month    35.9567
Name: 6522, dtype: object
6523 503.83 16 MP Last Month    31.4894
Name: 6523, dtype: object
6524 185.11 10 MP Last Month    18.511
Name: 6524, dtype: object
6525 554.03 16 MP Last Month    34.6269
Name: 6525, dtype: object
6526 309.73 14 MP Last Month    22.1236
Name: 6526, dtype: object
6527 147.59 16 MP Last Month    9.22438
Name: 6527, dtype: object
6528 396.61 11 MP Last Month    36.0555
Name: 6528, dtype: object
6529 173.63 14 MP Last Month    12.4021
Name: 6529, dtype: object
6530 355.53999999999996 13 MP Last Month    27.3492
Name: 6530, dtype: object
6531 155.15 12 MP Last Month    12.9292
Name: 6531, dtype: object
6532 36.02 13 MP Last Month    2.77077
Name: 6532, dtype: object
6533 412.47999999999996 12 MP Last Month    34.3733
Name: 6533, dtype: object
6534 408.87 13 MP Last Month    31.4515
Name: 6534, dtype: object
6535 218.41000000000005 14 MP Last Month    15.6007
Name: 6535, dtype: object
6536 316.50000000000006 14 MP Last Month    22.6071
Name: 6536, dtype: object
6537 19.78 14 MP Last Month    1.41286
Name: 6537, dtype: object
6538 459.74000000000007 14 MP Last Month    32.8386
Name: 6538, dtype: object
6539 169.20000000000002 14 MP Last Month    12.0857
Name: 6539, dtype: object
6540 177.71000000000004 14 MP Last Month    12.6936
Name: 6540, dtype: object
6541 513.67 15 MP Last Month    34.2447
Name: 6541, dtype: object
6542 190.65000000000003 11 MP Last Month    17.3318
Name: 6542, dtype: object
6543 38.19 15 MP Last Month    2.546
Name: 6543, dtype: object
6544 439.08000000000004 15 MP Last Month    29.272
Name: 6544, dtype: object
6545 401.23 15 MP Last Month    26.7487
Name: 6545, dtype: object
6546 300.62999999999994 15 MP Last Month    20.042
Name: 6546, dtype: object
6547 245.77 15 MP Last Month    16.3847
Name: 6547, dtype: object
6548 239.05999999999997 15 MP Last Month    15.9373
Name: 6548, dtype: object
6549 93.08000000000001 15 MP Last Month    6.20533
Name: 6549, dtype: object
6550 43.69 3 MP Last Month    14.5633
Name: 6550, dtype: object
6551 393.66 15 MP Last Month    26.244
Name: 6551, dtype: object
6552 154.18 15 MP Last Month    10.2787
Name: 6552, dtype: object
6553 360.7299999999999 14 MP Last Month    25.7664
Name: 6553, dtype: object
6554 393.56 14 MP Last Month    28.1114
Name: 6554, dtype: object
6555 158.81000000000003 8 MP Last Month    19.8513
Name: 6555, dtype: object
6556 276.93 11 MP Last Month    25.1755
Name: 6556, dtype: object
6557 508.01 14 MP Last Month    36.2864
Name: 6557, dtype: object
6558 317.54999999999995 14 MP Last Month    22.6821
Name: 6558, dtype: object
6559 330.65999999999997 14 MP Last Month    23.6186
Name: 6559, dtype: object
6560 50.06 14 MP Last Month    3.57571
Name: 6560, dtype: object
6561 85.47999999999999 14 MP Last Month    6.10571
Name: 6561, dtype: object
6562 484.11 14 MP Last Month    34.5793
Name: 6562, dtype: object
6563 119.66000000000003 13 MP Last Month    9.20462
Name: 6563, dtype: object
6564 190.73999999999998 12 MP Last Month    15.895
Name: 6564, dtype: object
6565 506.12 15 MP Last Month    33.7413
Name: 6565, dtype: object
6566 274.14 11 MP Last Month    24.9218
Name: 6566, dtype: object
6567 232.32000000000002 14 MP Last Month    16.5943
Name: 6567, dtype: object
6568 120.09 15 MP Last Month    8.006
Name: 6568, dtype: object
6569 62.55999999999999 14 MP Last Month    4.46857
Name: 6569, dtype: object
6570 329.48 10 MP Last Month    32.948
Name: 6570, dtype: object
6571 470.82 15 MP Last Month    31.388
Name: 6571, dtype: object
6572 204.73 9 MP Last Month    22.7478
Name: 6572, dtype: object
6573 416.9 15 MP Last Month    27.7933
Name: 6573, dtype: object

6574 143.47 9 MP Last Month    15.9411
Name: 6574, dtype: object
6575 368.0800000000001 14 MP Last Month    26.2914
Name: 6575, dtype: object
6576 297.93999999999994 15 MP Last Month    19.8627
Name: 6576, dtype: object
6577 67.56 15 MP Last Month    4.504
Name: 6577, dtype: object
6578 173.64 12 MP Last Month    14.47
Name: 6578, dtype: object
6579 453.94 15 MP Last Month    30.2627
Name: 6579, dtype: object
6580 432.1600000000001 13 MP Last Month    33.2431
Name: 6580, dtype: object
6581 252.96000000000004 15 MP Last Month    16.864
Name: 6581, dtype: object
6582 106.85999999999999 14 MP Last Month    7.63286
Name: 6582, dtype: object
6583 11.18 2 MP Last Month    5.59
Name: 6583, dtype: object
6584 487.5 15 MP Last Month    32.5
Name: 6584, dtype: object
6585 439.48999999999995 15 MP Last Month    29.2993
Name: 6585, dtype: object
6586 235.56000000000003 15 MP Last Month    15.704
Name: 6586, dtype: object
6587 43.77 15 MP Last Month    2.918
Name: 6587, dtype: object
6588 478.13999999999993 15 MP Last Month    31.876
Name: 6588, dtype: object
6589 322.01000000000005 14 MP Last Month    23.0007
Name: 6589, dtype: object
6590 59.11999999999999 15 MP Last Month    3.94133
Name: 6590, dtype: object
6591 475.73 14 MP Last Month    33.9807
Name: 6591, dtype: object
6592 486.45 14 MP Last Month    34.7464
Name: 6592, dtype: object
6593 185.42 14 MP Last Month    13.2443
Name: 6593, dtype: object
6594 309.84999999999997 14 MP Last Month    22.1321
Name: 6594, dtype: object
6595 355.87 13 MP Last Month    27.3746
Name: 6595, dtype: object
6596 320.86 13 MP Last Month    24.6815
Name: 6596, dtype: object
6597 345.09 14 MP Last Month    24.6493
Name: 6597, dtype: object
6598 341.23 14 MP Last Month    24.3736
Name: 6598, dtype: object
6599 50.81999999999999 13 MP Last Month    3.90923
Name: 6599, dtype: object
6600 127.97 14 MP Last Month    9.14071
Name: 6600, dtype: object
6601 67.49 14 MP Last Month    4.82071
Name: 6601, dtype: object
6602 0 0 MP Last Month    0
Name: 6602, dtype: object
6603 447.8300000000001 14 MP Last Month    31.9879
Name: 6603, dtype: object
6604 344.65 15 MP Last Month    22.9767
Name: 6604, dtype: object
6605 345.36 15 MP Last Month    23.024
Name: 6605, dtype: object
6606 30.32 15 MP Last Month    2.02133
Name: 6606, dtype: object
6607 463.22999999999996 15 MP Last Month    30.882
Name: 6607, dtype: object
6608 380.41 14 MP Last Month    27.1721
Name: 6608, dtype: object
6609 375.46000000000004 14 MP Last Month    26.8186
Name: 6609, dtype: object
6610 111.83000000000001 15 MP Last Month    7.45533
Name: 6610, dtype: object
6611 30.69 15 MP Last Month    2.046
Name: 6611, dtype: object
6612 416.69000000000005 14 MP Last Month    29.7636
Name: 6612, dtype: object
6613 182.20000000000002 13 MP Last Month    14.0154
Name: 6613, dtype: object
6614 89.95 9 MP Last Month    9.99444
Name: 6614, dtype: object
6615 19.96 9 MP Last Month    2.21778
Name: 6615, dtype: object
6616 505.59 14 MP Last Month    36.1136
Name: 6616, dtype: object
6617 296.81 15 MP Last Month    19.7873
Name: 6617, dtype: object
6618 430.51 15 MP Last Month    28.7007
Name: 6618, dtype: object
6619 171.29 14 MP Last Month    12.235
Name: 6619, dtype: object
6620 239.29999999999998 15 MP Last Month    15.9533
Name: 6620, dtype: object
6621 275.8 13 MP Last Month    21.2154
Name: 6621, dtype: object
6622 496.03999999999996 15 MP Last Month    33.0693
Name: 6622, dtype: object
6623 526.48 15 MP Last Month    35.0987
Name: 6623, dtype: object
6624 156.84999999999997 15 MP Last Month    10.4567
Name: 6624, dtype: object
6625 199.93999999999997 15 MP Last Month    13.3293
Name: 6625, dtype: object
6626 370.1 13 MP Last Month    28.4692
Name: 6626, dtype: object
6627 319.05 13 MP Last Month    24.5423
Name: 6627, dtype: object
6628 96.38999999999999 8 MP Last Month    12.0487
Name: 6628, dtype: object
6629 156.16 6 MP Last Month    26.0267
Name: 6629, dtype: object
6630 198.85999999999999 13 MP Last Month    15.2969
Name: 6630, dtype: object
6631 172.37000000000003 11 MP Last Month    15.67
Name: 6631, dtype: object
6632 342.94 12 MP Last Month    28.5783
Name: 6632, dtype: object
6633 370.6 13 MP Last Month    28.5077
Name: 6633, dtype: object
6634 369.81 13 MP Last Month    28.4469
Name: 6634, dtype: object
6635 285.67 13 MP Last Month    21.9746
Name: 6635, dtype: object
6636 85.31 13 MP Last Month    6.56231
Name: 6636, dtype: object
6637 30.77 11 MP Last Month    2.79727
Name: 6637, dtype: object
6638 438.0 13 MP Last Month    33.6923
Name: 6638, dtype: object
6639 97.16999999999999 6 MP Last Month    16.195
Name: 6639, dtype: object
6640 135.58 13 MP Last Month    10.4292
Name: 6640, dtype: object
6641 412.03 13 MP Last Month    31.6946
Name: 6641, dtype: object
6642 332.90999999999997 13 MP Last Month    25.6085
Name: 6642, dtype: object
6643 236.40999999999997 13 MP Last Month    18.1854
Name: 6643, dtype: object
6644 18.72 13 MP Last Month    1.44
Name: 6644, dtype: object
6645 418.00000000000006 13 MP Last Month    32.1538
Name: 6645, dtype: object
6646 29.12 13 MP Last Month    2.24
Name: 6646, dtype: object
6647 521.1999999999999 15 MP Last Month    34.7467
Name: 6647, dtype: object
6648 374.34000000000003 15 MP Last Month    24.956
Name: 6648, dtype: object
6649 282.97999999999996 15 MP Last Month    18.8653
Name: 6649, dtype: object
6650 15.34 15 MP Last Month    1.02267
Name: 6650, dtype: object
6651 501.94000000000005 15 MP Last Month    33.4627
Name: 6651, dtype: object
6652 362.11 15 MP Last Month    24.1407
Name: 6652, dtype: object
6653 145.02 15 MP Last Month    9.668
Name: 6653, dtype: object
6654 308.12000000000006 15 MP Last Month    20.5413
Name: 6654, dtype: object
6655 17.439999999999998 15 MP Last Month    1.16267
Name: 6655, dtype: object
6656 446.04 15 MP Last Month    29.736
Name: 6656, dtype: object
6657 255.35000000000002 15 MP Last Month    17.0233
Name: 6657, dtype: object
6658 389.80999999999995 15 MP Last Month    25.9873
Name: 6658, dtype: object
6659 515.53 15 MP Last Month    34.3687
Name: 6659, dtype: object
6660 279.48 14 MP Last Month    19.9629
Name: 6660, dtype: object
6661 130.34 8 MP Last Month    16.2925
Name: 6661, dtype: object
6662 107.65 9 MP Last Month    11.9611
Name: 6662, dtype: object
6663 524.3399999999999 15 MP Last Month    34.956
Name: 6663, dtype: object
6664 315.43000000000006 14 MP Last Month    22.5307
Name: 6664, dtype: object
6665 296.89000000000004 15 MP Last Month    19.7927
Name: 6665, dtype: object
6666 182.01000000000005 15 MP Last Month    12.134
Name: 6666, dtype: object
6667 245.94 15 MP Last Month    16.396
Name: 6667, dtype: object
6668 288.3999999999999 15 MP Last Month    19.2267
Name: 6668, dtype: object
6669 362.85 10 MP Last Month    36.285
Name: 6669, dtype: object
6670 47.96999999999999 12 MP Last Month    3.9975
Name: 6670, dtype: object
6671 458.22999999999996 13 MP Last Month    35.2485
Name: 6671, dtype: object
6672 316.80999999999995 11 MP Last Month    28.8009
Name: 6672, dtype: object
6673 455.76 13 MP Last Month    35.0585
Name: 6673, dtype: object
6674 170.7 11 MP Last Month    15.5182
Name: 6674, dtype: object
6675 267.21000000000004 13 MP Last Month    20.5546
Name: 6675, dtype: object
6676 284.26 11 MP Last Month    25.8418
Name: 6676, dtype: object
6677 131.1 13 MP Last Month    10.0846
Name: 6677, dtype: object
6678 448.9100000000001 13 MP Last Month    34.5315
Name: 6678, dtype: object
6679 24.07 12 MP Last Month    2.00583
Name: 6679, dtype: object
6680 394.18999999999994 14 MP Last Month    28.1564
Name: 6680, dtype: object
6681 402.64 14 MP Last Month    28.76
Name: 6681, dtype: object
6682 80.79 13 MP Last Month    6.21462
Name: 6682, dtype: object
6683 56.870000000000005 14 MP Last Month    4.06214
Name: 6683, dtype: object
6684 13.38 5 MP Last Month    2.676
Name: 6684, dtype: object
6685 421.76 13 MP Last Month    32.4431
Name: 6685, dtype: object
6686 421.96 14 MP Last Month    30.14
Name: 6686, dtype: object
6687 259.12 14 MP Last Month    18.5086
Name: 6687, dtype: object
6688 238.04 14 MP Last Month    17.0029
Name: 6688, dtype: object
6689 380.47 14 MP Last Month    27.1764
Name: 6689, dtype: object
6690 117.88000000000002 14 MP Last Month    8.42
Name: 6690, dtype: object

6691 286.64 14 MP Last Month    20.4743
Name: 6691, dtype: object
6692 18.63 5 MP Last Month    3.726
Name: 6692, dtype: object
6693 369.2 13 MP Last Month    28.4
Name: 6693, dtype: object
6694 251.02 9 MP Last Month    27.8911
Name: 6694, dtype: object
6695 249.46 13 MP Last Month    19.1892
Name: 6695, dtype: object
6696 246.95 13 MP Last Month    18.9962
Name: 6696, dtype: object
6697 355.63999999999993 13 MP Last Month    27.3569
Name: 6697, dtype: object
6698 441.1300000000001 13 MP Last Month    33.9331
Name: 6698, dtype: object
6699 364.8 14 MP Last Month    26.0571
Name: 6699, dtype: object
6700 392.0 11 MP Last Month    35.6364
Name: 6700, dtype: object
6701 167.85999999999999 13 MP Last Month    12.9123
Name: 6701, dtype: object
6702 39.720000000000006 13 MP Last Month    3.05538
Name: 6702, dtype: object
6703 19.0 13 MP Last Month    1.46154
Name: 6703, dtype: object
6704 473.29999999999995 14 MP Last Month    33.8071
Name: 6704, dtype: object
6705 185.76999999999998 14 MP Last Month    13.2693
Name: 6705, dtype: object
6706 585.1800000000001 16 MP Last Month    36.5738
Name: 6706, dtype: object
6707 145.16 16 MP Last Month    9.0725
Name: 6707, dtype: object
6708 274.71000000000004 16 MP Last Month    17.1694
Name: 6708, dtype: object
6709 132.70999999999998 16 MP Last Month    8.29437
Name: 6709, dtype: object
6710 435.99 14 MP Last Month    31.1421
Name: 6710, dtype: object
6711 511.33000000000004 16 MP Last Month    31.9581
Name: 6711, dtype: object
6712 234.35000000000002 12 MP Last Month    19.5292
Name: 6712, dtype: object
6713 121.00999999999999 15 MP Last Month    8.06733
Name: 6713, dtype: object
6714 267.17 16 MP Last Month    16.6981
Name: 6714, dtype: object
6715 86.35999999999999 16 MP Last Month    5.3975
Name: 6715, dtype: object
6716 421.92 16 MP Last Month    26.37
Name: 6716, dtype: object
6717 49.690000000000005 14 MP Last Month    3.54929
Name: 6717, dtype: object
6718 289.2 9 MP Last Month    32.1333
Name: 6718, dtype: object
6719 446.4099999999999 15 MP Last Month    29.7607
Name: 6719, dtype: object
6720 60.0 8 MP Last Month    7.5
Name: 6720, dtype: object
6721 98.47999999999999 15 MP Last Month    6.56533
Name: 6721, dtype: object
6722 531.9 15 MP Last Month    35.46
Name: 6722, dtype: object
6723 460.71 15 MP Last Month    30.714
Name: 6723, dtype: object
6724 248.84 13 MP Last Month    19.1415
Name: 6724, dtype: object
6725 14.61 14 MP Last Month    1.04357
Name: 6725, dtype: object
6726 475.51 14 MP Last Month    33.965
Name: 6726, dtype: object
6727 192.32999999999998 14 MP Last Month    13.7379
Name: 6727, dtype: object
6728 245.24 15 MP Last Month    16.3493
Name: 6728, dtype: object
6729 427.1900000000001 13 MP Last Month    32.8608
Name: 6729, dtype: object
6730 137.23 12 MP Last Month    11.4358
Name: 6730, dtype: object
6731 70.88 13 MP Last Month    5.45231
Name: 6731, dtype: object
6732 292.22 13 MP Last Month    22.4785
Name: 6732, dtype: object
6733 409.9 13 MP Last Month    31.5308
Name: 6733, dtype: object
6734 212.62 13 MP Last Month    16.3554
Name: 6734, dtype: object
6735 318.51 12 MP Last Month    26.5425
Name: 6735, dtype: object
6736 72.34 13 MP Last Month    5.56462
Name: 6736, dtype: object
6737 162.35 7 MP Last Month    23.1929
Name: 6737, dtype: object
6738 332.6 13 MP Last Month    25.5846
Name: 6738, dtype: object
6739 6.37 4 MP Last Month    1.5925
Name: 6739, dtype: object
6740 378.62 13 MP Last Month    29.1246
Name: 6740, dtype: object
6741 388.48 14 MP Last Month    27.7486
Name: 6741, dtype: object
6742 365.37 14 MP Last Month    26.0979
Name: 6742, dtype: object
6743 166.14000000000004 9 MP Last Month    18.46
Name: 6743, dtype: object
6744 511.67999999999995 14 MP Last Month    36.5486
Name: 6744, dtype: object
6745 278.48 11 MP Last Month    25.3164
Name: 6745, dtype: object
6746 337.31 14 MP Last Month    24.0936
Name: 6746, dtype: object
6747 323.9 14 MP Last Month    23.1357
Name: 6747, dtype: object
6748 81.19 14 MP Last Month    5.79929
Name: 6748, dtype: object
6749 45.77 14 MP Last Month    3.26929
Name: 6749, dtype: object
6750 184.22 12 MP Last Month    15.3517
Name: 6750, dtype: object
6751 489.6099999999999 14 MP Last Month    34.9721
Name: 6751, dtype: object
6752 122.27000000000001 13 MP Last Month    9.40538
Name: 6752, dtype: object
6753 490.06000000000006 14 MP Last Month    35.0043
Name: 6753, dtype: object
6754 491.18 14 MP Last Month    35.0843
Name: 6754, dtype: object
6755 296.84999999999997 14 MP Last Month    21.2036
Name: 6755, dtype: object
6756 188.94 14 MP Last Month    13.4957
Name: 6756, dtype: object
6757 368.32 13 MP Last Month    28.3323
Name: 6757, dtype: object
6758 326.69000000000005 13 MP Last Month    25.13
Name: 6758, dtype: object
6759 340.29999999999995 14 MP Last Month    24.3071
Name: 6759, dtype: object
6760 336.51 14 MP Last Month    24.0364
Name: 6760, dtype: object
6761 59.06999999999999 13 MP Last Month    4.54385
Name: 6761, dtype: object
6762 127.97 14 MP Last Month    9.14071
Name: 6762, dtype: object
6763 56.94 14 MP Last Month    4.06714
Name: 6763, dtype: object
6764 424.79 15 MP Last Month    28.3193
Name: 6764, dtype: object
6765 306.33 15 MP Last Month    20.422
Name: 6765, dtype: object
6766 286.68 14 MP Last Month    20.4771
Name: 6766, dtype: object
6767 382.55999999999995 15 MP Last Month    25.504
Name: 6767, dtype: object
6768 274.0 14 MP Last Month    19.5714
Name: 6768, dtype: object
6769 258.07 15 MP Last Month    17.2047
Name: 6769, dtype: object
6770 33.71 3 MP Last Month    11.2367
Name: 6770, dtype: object
6771 89.43 4 MP Last Month    22.3575
Name: 6771, dtype: object
6772 282.32 14 MP Last Month    20.1657
Name: 6772, dtype: object
6773 265.02000000000004 12 MP Last Month    22.085
Name: 6773, dtype: object
6774 106.00999999999999 15 MP Last Month    7.06733
Name: 6774, dtype: object
6775 437.27 16 MP Last Month    27.3294
Name: 6775, dtype: object
6776 445.93999999999994 16 MP Last Month    27.8712
Name: 6776, dtype: object
6777 226.06 16 MP Last Month    14.1288
Name: 6777, dtype: object
6778 466.46999999999997 16 MP Last Month    29.1544
Name: 6778, dtype: object
6779 184.6 9 MP Last Month    20.5111
Name: 6779, dtype: object
6780 360.32 16 MP Last Month    22.52
Name: 6780, dtype: object
6781 405.98999999999995 16 MP Last Month    25.3744
Name: 6781, dtype: object
6782 372.84000000000003 15 MP Last Month    24.856
Name: 6782, dtype: object
6783 315.79999999999995 15 MP Last Month    21.0533
Name: 6783, dtype: object
6784 278.37000000000006 16 MP Last Month    17.3981
Name: 6784, dtype: object
6785 29.96 13 MP Last Month    2.30462
Name: 6785, dtype: object
6786 455.0200000000001 13 MP Last Month    35.0015
Name: 6786, dtype: object
6787 230.97 13 MP Last Month    17.7669
Name: 6787, dtype: object
6788 42.05 6 MP Last Month    7.00833
Name: 6788, dtype: object
6789 147.07 11 MP Last Month    13.37
Name: 6789, dtype: object
6790 303.24 13 MP Last Month    23.3262
Name: 6790, dtype: object
6791 354.84999999999997 13 MP Last Month    27.2962
Name: 6791, dtype: object
6792 377.42 13 MP Last Month    29.0323
Name: 6792, dtype: object
6793 296.07 13 MP Last Month    22.7746
Name: 6793, dtype: object
6794 334.6 13 MP Last Month    25.7385
Name: 6794, dtype: object
6795 54.17 12 MP Last Month    4.51417
Name: 6795, dtype: object
6796 54.45 12 MP Last Month    4.5375
Name: 6796, dtype: object
6797 339.67 12 MP Last Month    28.3058
Name: 6797, dtype: object
6798 259.33 12 MP Last Month    21.6108
Name: 6798, dtype: object
6799 108.07 10 MP Last Month    10.807
Name: 6799, dtype: object
6800 113.9 11 MP Last Month    10.3545
Name: 6800, dtype: object
6801 11.32 6 MP Last Month    1.88667
Name: 6801, dtype: object
6802 280.78999999999996 12 MP Last Month    23.3992
Name: 6802, dtype: object
6803 278.8 10 MP Last Month    27.88
Name: 6803, dtype: object
6804 414.42 12 MP Last Month    34.535
Name: 6804, dtype: object
6805 433.24000000000007 12 MP Last Month    36.1033
Name: 6805, dtype: object
6806 126.76 12 MP Last Month    10.5633
Name: 6806, dtype: object
6807 63.78999999999999 11 MP Last Month    5.79909
Name: 6807, dtype: object
6808 396.9199999999999 14 MP Last Month    28.3514
Name: 6808, dtype: object

6809 222.10000000000002 8 MP Last Month    27.7625
Name: 6809, dtype: object
6810 372.9800000000001 14 MP Last Month    26.6414
Name: 6810, dtype: object
6811 82.27 13 MP Last Month    6.32846
Name: 6811, dtype: object
6812 81.99000000000001 14 MP Last Month    5.85643
Name: 6812, dtype: object
6813 43.6 9 MP Last Month    4.84444
Name: 6813, dtype: object
6814 480.8400000000001 14 MP Last Month    34.3457
Name: 6814, dtype: object
6815 402.49 13 MP Last Month    30.9608
Name: 6815, dtype: object
6816 243.05999999999997 14 MP Last Month    17.3614
Name: 6816, dtype: object
6817 378.66 14 MP Last Month    27.0471
Name: 6817, dtype: object
6818 189.77999999999997 14 MP Last Month    13.5557
Name: 6818, dtype: object
6819 120.97 13 MP Last Month    9.30538
Name: 6819, dtype: object
6820 345.39 13 MP Last Month    26.5685
Name: 6820, dtype: object
6821 302.98 13 MP Last Month    23.3062
Name: 6821, dtype: object
6822 26.86 13 MP Last Month    2.06615
Name: 6822, dtype: object
6823 443.81 13 MP Last Month    34.1392
Name: 6823, dtype: object
6824 380.78000000000003 13 MP Last Month    29.2908
Name: 6824, dtype: object
6825 392.19999999999993 12 MP Last Month    32.6833
Name: 6825, dtype: object
6826 189.04 13 MP Last Month    14.5415
Name: 6826, dtype: object
6827 247.39999999999998 13 MP Last Month    19.0308
Name: 6827, dtype: object
6828 9.07 8 MP Last Month    1.13375
Name: 6828, dtype: object
6829 324.91999999999996 13 MP Last Month    24.9938
Name: 6829, dtype: object
6830 199.16000000000003 12 MP Last Month    16.5967
Name: 6830, dtype: object
6831 2.1 7 MP Last Month    0.3
Name: 6831, dtype: object
6832 32.52 12 MP Last Month    2.71
Name: 6832, dtype: object
6833 473.58 14 MP Last Month    33.8271
Name: 6833, dtype: object
6834 451.24 14 MP Last Month    32.2314
Name: 6834, dtype: object
6835 237.23 14 MP Last Month    16.945
Name: 6835, dtype: object
6836 356.9 14 MP Last Month    25.4929
Name: 6836, dtype: object
6837 184.67000000000002 14 MP Last Month    13.1907
Name: 6837, dtype: object
6838 0.0 6 MP Last Month    0
Name: 6838, dtype: object
6839 12.29 4 MP Last Month    3.0725
Name: 6839, dtype: object
6840 340.57000000000005 14 MP Last Month    24.3264
Name: 6840, dtype: object
6841 88.58 4 MP Last Month    22.145
Name: 6841, dtype: object
6842 461.87 14 MP Last Month    32.9907
Name: 6842, dtype: object
6843 97.25 9 MP Last Month    10.8056
Name: 6843, dtype: object
6844 52.940000000000005 14 MP Last Month    3.78143
Name: 6844, dtype: object
6845 498.31999999999994 14 MP Last Month    35.5943
Name: 6845, dtype: object
6846 165.98000000000002 7 MP Last Month    23.7114
Name: 6846, dtype: object
6847 382.61 14 MP Last Month    27.3293
Name: 6847, dtype: object
6848 277.25 14 MP Last Month    19.8036
Name: 6848, dtype: object
6849 491.18 14 MP Last Month    35.0843
Name: 6849, dtype: object
6850 463.68000000000006 14 MP Last Month    33.12
Name: 6850, dtype: object
6851 65.1 3 MP Last Month    21.7
Name: 6851, dtype: object
6852 19.189999999999998 9 MP Last Month    2.13222
Name: 6852, dtype: object
6853 110.07 13 MP Last Month    8.46692
Name: 6853, dtype: object
6854 2.17 14 MP Last Month    0.155
Name: 6854, dtype: object
6855 248.40999999999994 14 MP Last Month    17.7436
Name: 6855, dtype: object
6856 224.75 14 MP Last Month    16.0536
Name: 6856, dtype: object
6857 360.56 13 MP Last Month    27.7354
Name: 6857, dtype: object
6858 276.44000000000005 14 MP Last Month    19.7457
Name: 6858, dtype: object
6859 252.52999999999997 15 MP Last Month    16.8353
Name: 6859, dtype: object
6860 369.32000000000005 15 MP Last Month    24.6213
Name: 6860, dtype: object
6861 341.09 15 MP Last Month    22.7393
Name: 6861, dtype: object
6862 15.15 14 MP Last Month    1.08214
Name: 6862, dtype: object
6863 315.15999999999997 15 MP Last Month    21.0107
Name: 6863, dtype: object
6864 251.31 15 MP Last Month    16.754
Name: 6864, dtype: object
6865 185.17999999999998 10 MP Last Month    18.518
Name: 6865, dtype: object
6866 386.64000000000004 15 MP Last Month    25.776
Name: 6866, dtype: object
6867 412.8 15 MP Last Month    27.52
Name: 6867, dtype: object
6868 293.61999999999995 15 MP Last Month    19.5747
Name: 6868, dtype: object
6869 381.62 14 MP Last Month    27.2586
Name: 6869, dtype: object
6870 270.40999999999997 14 MP Last Month    19.315
Name: 6870, dtype: object
6871 41.16 14 MP Last Month    2.94
Name: 6871, dtype: object
6872 343.68 14 MP Last Month    24.5486
Name: 6872, dtype: object
6873 426.5299999999999 13 MP Last Month    32.81
Name: 6873, dtype: object
6874 256.16 13 MP Last Month    19.7046
Name: 6874, dtype: object
6875 157.73 8 MP Last Month    19.7162
Name: 6875, dtype: object
6876 421.0799999999999 14 MP Last Month    30.0771
Name: 6876, dtype: object
6877 29.66 14 MP Last Month    2.11857
Name: 6877, dtype: object
6878 427.40999999999997 14 MP Last Month    30.5293
Name: 6878, dtype: object
6879 232.71 14 MP Last Month    16.6221
Name: 6879, dtype: object
6880 111.52000000000001 14 MP Last Month    7.96571
Name: 6880, dtype: object
6881 544.95 16 MP Last Month    34.0594
Name: 6881, dtype: object
6882 351.5100000000001 16 MP Last Month    21.9694
Name: 6882, dtype: object
6883 123.93999999999998 15 MP Last Month    8.26267
Name: 6883, dtype: object
6884 115.25999999999999 15 MP Last Month    7.684
Name: 6884, dtype: object
6885 0.0 3 MP Last Month    0
Name: 6885, dtype: object
6886 0.0 4 MP Last Month    0
Name: 6886, dtype: object
6887 427.91 12 MP Last Month    35.6592
Name: 6887, dtype: object
6888 497.95 16 MP Last Month    31.1219
Name: 6888, dtype: object
6889 216.58 11 MP Last Month    19.6891
Name: 6889, dtype: object
6890 551.0 16 MP Last Month    34.4375
Name: 6890, dtype: object
6891 315.27000000000004 14 MP Last Month    22.5193
Name: 6891, dtype: object
6892 154.47000000000003 16 MP Last Month    9.65438
Name: 6892, dtype: object
6893 406.86 11 MP Last Month    36.9873
Name: 6893, dtype: object
6894 183.17000000000002 14 MP Last Month    13.0836
Name: 6894, dtype: object
6895 344.14 13 MP Last Month    26.4723
Name: 6895, dtype: object
6896 155.15 13 MP Last Month    11.9346
Name: 6896, dtype: object
6897 36.02 13 MP Last Month    2.77077
Name: 6897, dtype: object
6898 419.58 12 MP Last Month    34.965
Name: 6898, dtype: object
6899 209.07000000000005 14 MP Last Month    14.9336
Name: 6899, dtype: object
6900 326.9 14 MP Last Month    23.35
Name: 6900, dtype: object
6901 411.66 13 MP Last Month    31.6662
Name: 6901, dtype: object
6902 19.78 14 MP Last Month    1.41286
Name: 6902, dtype: object
6903 459.2700000000001 14 MP Last Month    32.805
Name: 6903, dtype: object
6904 184.07 14 MP Last Month    13.1479
Name: 6904, dtype: object
6905 158.38000000000002 14 MP Last Month    11.3129
Name: 6905, dtype: object
6906 512.27 15 MP Last Month    34.1513
Name: 6906, dtype: object
6907 180.62000000000003 11 MP Last Month    16.42
Name: 6907, dtype: object
6908 41.51 15 MP Last Month    2.76733
Name: 6908, dtype: object
6909 401.12 15 MP Last Month    26.7413
Name: 6909, dtype: object
6910 301.06 15 MP Last Month    20.0707
Name: 6910, dtype: object
6911 436.08 15 MP Last Month    29.072
Name: 6911, dtype: object
6912 238.36 15 MP Last Month    15.8907
Name: 6912, dtype: object
6913 30.509999999999998 3 MP Last Month    10.17
Name: 6913, dtype: object
6914 96.4 15 MP Last Month    6.42667
Name: 6914, dtype: object
6915 162.68 15 MP Last Month    10.8453
Name: 6915, dtype: object
6916 391.57 15 MP Last Month    26.1047
Name: 6916, dtype: object
6917 461.0100000000001 14 MP Last Month    32.9293
Name: 6917, dtype: object
6918 144.88 13 MP Last Month    11.1446
Name: 6918, dtype: object
6919 70.88 14 MP Last Month    5.06286
Name: 6919, dtype: object
6920 83.31 14 MP Last Month    5.95071
Name: 6920, dtype: object
6921 189.95 8 MP Last Month    23.7437
Name: 6921, dtype: object
6922 326.0 14 MP Last Month    23.2857
Name: 6922, dtype: object
6923 351.57000000000005 14 MP Last Month    25.1121
Name: 6923, dtype: object
6924 443.07 14 MP Last Month    31.6479
Name: 6924, dtype: object
6925 232.67000000000002 14 MP Last Month    16.6193
Name: 6925, dtype: object
6926 6.37 5 MP Last Month    1.274
Name: 6926, dtype: object

6927 398.5 14 MP Last Month    28.4643
Name: 6927, dtype: object
6928 20.16 10 MP Last Month    2.016
Name: 6928, dtype: object
6929 501.4200000000001 15 MP Last Month    33.428
Name: 6929, dtype: object
6930 297.02 12 MP Last Month    24.7517
Name: 6930, dtype: object
6931 245.59000000000003 14 MP Last Month    17.5421
Name: 6931, dtype: object
6932 109.22000000000001 15 MP Last Month    7.28133
Name: 6932, dtype: object
6933 63.789999999999985 14 MP Last Month    4.55643
Name: 6933, dtype: object
6934 324.4 10 MP Last Month    32.44
Name: 6934, dtype: object
6935 476.71999999999997 15 MP Last Month    31.7813
Name: 6935, dtype: object
6936 149.39999999999998 9 MP Last Month    16.6
Name: 6936, dtype: object
6937 195.5 9 MP Last Month    21.7222
Name: 6937, dtype: object
6938 410.15 15 MP Last Month    27.3433
Name: 6938, dtype: object
6939 296.14 15 MP Last Month    19.7427
Name: 6939, dtype: object
6940 366.99 14 MP Last Month    26.2136
Name: 6940, dtype: object
6941 70.44 15 MP Last Month    4.696
Name: 6941, dtype: object
6942 445.71000000000004 15 MP Last Month    29.714
Name: 6942, dtype: object
6943 191.3 12 MP Last Month    15.9417
Name: 6943, dtype: object
6944 11.18 3 MP Last Month    3.72667
Name: 6944, dtype: object
6945 256.98 15 MP Last Month    17.132
Name: 6945, dtype: object
6946 105.30999999999999 14 MP Last Month    7.52214
Name: 6946, dtype: object
6947 493.4799999999999 15 MP Last Month    32.8987
Name: 6947, dtype: object
6948 435.7099999999999 15 MP Last Month    29.0473
Name: 6948, dtype: object
6949 54.620000000000005 15 MP Last Month    3.64133
Name: 6949, dtype: object
6950 95.91 13 MP Last Month    7.37769
Name: 6950, dtype: object
6951 245.26000000000002 15 MP Last Month    16.3507
Name: 6951, dtype: object
6952 477.5199999999999 15 MP Last Month    31.8347
Name: 6952, dtype: object
6953 323.13 14 MP Last Month    23.0807
Name: 6953, dtype: object
6954 55.64 15 MP Last Month    3.70933
Name: 6954, dtype: object
6955 448.83000000000004 14 MP Last Month    32.0593
Name: 6955, dtype: object
6956 348.45 15 MP Last Month    23.23
Name: 6956, dtype: object
6957 337.69000000000005 15 MP Last Month    22.5127
Name: 6957, dtype: object
6958 30.32 15 MP Last Month    2.02133
Name: 6958, dtype: object
6959 375.47 14 MP Last Month    26.8193
Name: 6959, dtype: object
6960 465.2 15 MP Last Month    31.0133
Name: 6960, dtype: object
6961 387.69999999999993 14 MP Last Month    27.6929
Name: 6961, dtype: object
6962 121.92999999999999 15 MP Last Month    8.12867
Name: 6962, dtype: object
6963 30.69 15 MP Last Month    2.046
Name: 6963, dtype: object
6964 416.61 14 MP Last Month    29.7579
Name: 6964, dtype: object
6965 198.83 14 MP Last Month    14.2021
Name: 6965, dtype: object
6966 19.96 9 MP Last Month    2.21778
Name: 6966, dtype: object
6967 81.25000000000001 9 MP Last Month    9.02778
Name: 6967, dtype: object
6968 517.6899999999999 14 MP Last Month    36.9779
Name: 6968, dtype: object
6969 439.32999999999987 15 MP Last Month    29.2887
Name: 6969, dtype: object
6970 171.71 14 MP Last Month    12.265
Name: 6970, dtype: object
6971 248.3 13 MP Last Month    19.1
Name: 6971, dtype: object
6972 294.16999999999996 15 MP Last Month    19.6113
Name: 6972, dtype: object
6973 222.79999999999998 15 MP Last Month    14.8533
Name: 6973, dtype: object
6974 508.86 15 MP Last Month    33.924
Name: 6974, dtype: object
6975 537.9699999999999 15 MP Last Month    35.8647
Name: 6975, dtype: object
6976 173.19999999999996 15 MP Last Month    11.5467
Name: 6976, dtype: object
6977 170.88999999999996 15 MP Last Month    11.3927
Name: 6977, dtype: object
6978 462.63000000000005 13 MP Last Month    35.5869
Name: 6978, dtype: object
6979 201.77 10 MP Last Month    20.177
Name: 6979, dtype: object
6980 230.54 13 MP Last Month    17.7338
Name: 6980, dtype: object
6981 149.87 11 MP Last Month    13.6245
Name: 6981, dtype: object
6982 57.099999999999994 7 MP Last Month    8.15714
Name: 6982, dtype: object
6983 360.9 13 MP Last Month    27.7615
Name: 6983, dtype: object
6984 321.53999999999996 13 MP Last Month    24.7338
Name: 6984, dtype: object
6985 139.97000000000003 7 MP Last Month    19.9957
Name: 6985, dtype: object
6986 374.47999999999996 13 MP Last Month    28.8062
Name: 6986, dtype: object
6987 289.51 13 MP Last Month    22.27
Name: 6987, dtype: object
6988 342.41 13 MP Last Month    26.3392
Name: 6988, dtype: object
6989 62.08 12 MP Last Month    5.17333
Name: 6989, dtype: object
6990 378.72 13 MP Last Month    29.1323
Name: 6990, dtype: object
6991 326.28 13 MP Last Month    25.0985
Name: 6991, dtype: object
6992 110.73999999999998 9 MP Last Month    12.3044
Name: 6992, dtype: object
6993 133.19 6 MP Last Month    22.1983
Name: 6993, dtype: object
6994 169.12 11 MP Last Month    15.3745
Name: 6994, dtype: object
6995 366.47 13 MP Last Month    28.19
Name: 6995, dtype: object
6996 336.63000000000005 12 MP Last Month    28.0525
Name: 6996, dtype: object
6997 388.26 13 MP Last Month    29.8662
Name: 6997, dtype: object
6998 276.5 13 MP Last Month    21.2692
Name: 6998, dtype: object
6999 85.31 13 MP Last Month    6.56231
Name: 6999, dtype: object
7000 9.57 11 MP Last Month    0.87
Name: 7000, dtype: object
7001 518.09 15 MP Last Month    34.5393
Name: 7001, dtype: object
7002 306.63 14 MP Last Month    21.9021
Name: 7002, dtype: object
7003 137.56 8 MP Last Month    17.195
Name: 7003, dtype: object
7004 124.10000000000001 10 MP Last Month    12.41
Name: 7004, dtype: object
7005 528.29 15 MP Last Month    35.2193
Name: 7005, dtype: object
7006 323.35 14 MP Last Month    23.0964
Name: 7006, dtype: object
7007 184.19000000000003 15 MP Last Month    12.2793
Name: 7007, dtype: object
7008 299.61000000000007 15 MP Last Month    19.974
Name: 7008, dtype: object
7009 286.91999999999996 15 MP Last Month    19.128
Name: 7009, dtype: object
7010 253.11 15 MP Last Month    16.874
Name: 7010, dtype: object
7011 406.48 11 MP Last Month    36.9527
Name: 7011, dtype: object
7012 30.27 12 MP Last Month    2.5225
Name: 7012, dtype: object
7013 322.3299999999999 11 MP Last Month    29.3027
Name: 7013, dtype: object
7014 463.51 13 MP Last Month    35.6546
Name: 7014, dtype: object
7015 314.33 12 MP Last Month    26.1942
Name: 7015, dtype: object
7016 277.19 13 MP Last Month    21.3223
Name: 7016, dtype: object
7017 120.63 13 MP Last Month    9.27923
Name: 7017, dtype: object
7018 454.89000000000004 13 MP Last Month    34.9915
Name: 7018, dtype: object
7019 24.07 13 MP Last Month    1.85154
Name: 7019, dtype: object
7020 0 0 MP Last Month    0
Name: 7020, dtype: object
7021 395.80999999999995 14 MP Last Month    28.2721
Name: 7021, dtype: object
7022 375.4699999999999 14 MP Last Month    26.8193
Name: 7022, dtype: object
7023 82.66 14 MP Last Month    5.90429
Name: 7023, dtype: object
7024 5.07 6 MP Last Month    0.845
Name: 7024, dtype: object
7025 218.91000000000003 14 MP Last Month    15.6364
Name: 7025, dtype: object
7026 443.16 14 MP Last Month    31.6543
Name: 7026, dtype: object
7027 268.06000000000006 13 MP Last Month    20.62
Name: 7027, dtype: object
7028 390.13 14 MP Last Month    27.8664
Name: 7028, dtype: object
7029 356.13 14 MP Last Month    25.4379
Name: 7029, dtype: object
7030 354.02 13 MP Last Month    27.2323
Name: 7030, dtype: object
7031 30.230000000000004 14 MP Last Month    2.15929
Name: 7031, dtype: object
7032 1.23 1 MP Last Month    1.23
Name: 7032, dtype: object
7033 411.68999999999994 14 MP Last Month    29.4064
Name: 7033, dtype: object
7034 408.2699999999999 14 MP Last Month    29.1621
Name: 7034, dtype: object
7035 153.48000000000002 9 MP Last Month    17.0533
Name: 7035, dtype: object
7036 86.67000000000002 13 MP Last Month    6.66692
Name: 7036, dtype: object
7037 56.97 14 MP Last Month    4.06929
Name: 7037, dtype: object
7038 13.38 6 MP Last Month    2.23
Name: 7038, dtype: object
7039 437.09999999999997 13 MP Last Month    33.6231
Name: 7039, dtype: object
7040 432.22 14 MP Last Month    30.8729
Name: 7040, dtype: object
7041 257.76 14 MP Last Month    18.4114
Name: 7041, dtype: object
7042 231.17 14 MP Last Month    16.5121
Name: 7042, dtype: object
7043 385.98 14 MP Last Month    27.57
Name: 7043, dtype: object
7044 122.70000000000002 14 MP Last Month    8.76429
Name: 7044, dtype: object

7045 18.63 6 MP Last Month    3.105
Name: 7045, dtype: object
7046 257.65000000000003 9 MP Last Month    28.6278
Name: 7046, dtype: object
7047 373.61 13 MP Last Month    28.7392
Name: 7047, dtype: object
7048 242.83000000000004 13 MP Last Month    18.6792
Name: 7048, dtype: object
7049 218.67 13 MP Last Month    16.8208
Name: 7049, dtype: object
7050 476.48000000000013 14 MP Last Month    34.0343
Name: 7050, dtype: object
7051 420.52 12 MP Last Month    35.0433
Name: 7051, dtype: object
7052 368.88000000000005 14 MP Last Month    26.3486
Name: 7052, dtype: object
7053 380.23999999999995 14 MP Last Month    27.16
Name: 7053, dtype: object
7054 143.04 13 MP Last Month    11.0031
Name: 7054, dtype: object
7055 35.85 13 MP Last Month    2.75769
Name: 7055, dtype: object
7056 7.0 13 MP Last Month    0.538462
Name: 7056, dtype: object
7057 483.7999999999999 14 MP Last Month    34.5571
Name: 7057, dtype: object
7058 180.97 14 MP Last Month    12.9264
Name: 7058, dtype: object
7059 583.71 16 MP Last Month    36.4819
Name: 7059, dtype: object
7060 132.70999999999998 16 MP Last Month    8.29437
Name: 7060, dtype: object
7061 165.88 16 MP Last Month    10.3675
Name: 7061, dtype: object
7062 265.53000000000003 16 MP Last Month    16.5956
Name: 7062, dtype: object
7063 453.27 14 MP Last Month    32.3764
Name: 7063, dtype: object
7064 260.6 12 MP Last Month    21.7167
Name: 7064, dtype: object
7065 271.50000000000006 16 MP Last Month    16.9688
Name: 7065, dtype: object
7066 61.83 16 MP Last Month    3.86437
Name: 7066, dtype: object
7067 514.46 16 MP Last Month    32.1538
Name: 7067, dtype: object
7068 138.19 16 MP Last Month    8.63687
Name: 7068, dtype: object
7069 455.80999999999995 14 MP Last Month    32.5579
Name: 7069, dtype: object
7070 437.27000000000004 16 MP Last Month    27.3294
Name: 7070, dtype: object
7071 49.690000000000005 14 MP Last Month    3.54929
Name: 7071, dtype: object
7072 410.67 15 MP Last Month    27.378
Name: 7072, dtype: object
7073 289.35999999999996 15 MP Last Month    19.2907
Name: 7073, dtype: object
7074 41.16 15 MP Last Month    2.744
Name: 7074, dtype: object
7075 372.66 15 MP Last Month    24.844
Name: 7075, dtype: object
7076 181.91 9 MP Last Month    20.2122
Name: 7076, dtype: object
7077 281.19000000000005 14 MP Last Month    20.085
Name: 7077, dtype: object
7078 448.94999999999993 15 MP Last Month    29.93
Name: 7078, dtype: object
7079 457.5299999999999 14 MP Last Month    32.6807
Name: 7079, dtype: object
7080 29.66 15 MP Last Month    1.97733
Name: 7080, dtype: object
7081 463.26 15 MP Last Month    30.884
Name: 7081, dtype: object
7082 244.69 15 MP Last Month    16.3127
Name: 7082, dtype: object
7083 113.17000000000002 15 MP Last Month    7.54467
Name: 7083, dtype: object
7084 419.0 15 MP Last Month    27.9333
Name: 7084, dtype: object
7085 388.17 15 MP Last Month    25.878
Name: 7085, dtype: object
7086 171.51000000000005 10 MP Last Month    17.151
Name: 7086, dtype: object
7087 546.5999999999999 15 MP Last Month    36.44
Name: 7087, dtype: object
7088 341.03 15 MP Last Month    22.7353
Name: 7088, dtype: object
7089 309.08000000000004 12 MP Last Month    25.7567
Name: 7089, dtype: object
7090 368.01 15 MP Last Month    24.534
Name: 7090, dtype: object
7091 45.77 15 MP Last Month    3.05133
Name: 7091, dtype: object
7092 81.31 15 MP Last Month    5.42067
Name: 7092, dtype: object
7093 520.1899999999999 15 MP Last Month    34.6793
Name: 7093, dtype: object
7094 136.32000000000002 14 MP Last Month    9.73714
Name: 7094, dtype: object
7095 207.44 13 MP Last Month    15.9569
Name: 7095, dtype: object
7096 472.44000000000005 16 MP Last Month    29.5275
Name: 7096, dtype: object
7097 277.03000000000003 16 MP Last Month    17.3144
Name: 7097, dtype: object
7098 30.03 4 MP Last Month    7.5075
Name: 7098, dtype: object
7099 212.78 13 MP Last Month    16.3677
Name: 7099, dtype: object
7100 118.50999999999999 15 MP Last Month    7.90067
Name: 7100, dtype: object
7101 521.7599999999999 16 MP Last Month    32.61
Name: 7101, dtype: object
7102 461.30999999999995 16 MP Last Month    28.8319
Name: 7102, dtype: object
7103 260.66 16 MP Last Month    16.2913
Name: 7103, dtype: object
7104 98.86 14 MP Last Month    7.06143
Name: 7104, dtype: object
7105 66.5 16 MP Last Month    4.15625
Name: 7105, dtype: object
7106 506.2699999999999 16 MP Last Month    31.6419
Name: 7106, dtype: object
7107 347.0 15 MP Last Month    23.1333
Name: 7107, dtype: object
7108 58.59 16 MP Last Month    3.66188
Name: 7108, dtype: object
7109 489.06999999999994 14 MP Last Month    34.9336
Name: 7109, dtype: object
7110 495.5400000000001 14 MP Last Month    35.3957
Name: 7110, dtype: object
7111 192.59 14 MP Last Month    13.7564
Name: 7111, dtype: object
7112 303.51000000000005 14 MP Last Month    21.6793
Name: 7112, dtype: object
7113 317.67 13 MP Last Month    24.4362
Name: 7113, dtype: object
7114 378.27 13 MP Last Month    29.0977
Name: 7114, dtype: object
7115 330.2799999999999 14 MP Last Month    23.5914
Name: 7115, dtype: object
7116 334.24999999999994 14 MP Last Month    23.875
Name: 7116, dtype: object
7117 3.22 1 MP Last Month    3.22
Name: 7117, dtype: object
7118 75.55 13 MP Last Month    5.81154
Name: 7118, dtype: object
7119 109.14999999999999 14 MP Last Month    7.79643
Name: 7119, dtype: object
7120 56.94 14 MP Last Month    4.06714
Name: 7120, dtype: object
7121 424.1600000000001 15 MP Last Month    28.2773
Name: 7121, dtype: object
7122 308.69 15 MP Last Month    20.5793
Name: 7122, dtype: object
7123 292.11 14 MP Last Month    20.865
Name: 7123, dtype: object
7124 272.77 14 MP Last Month    19.4836
Name: 7124, dtype: object
7125 376.36999999999995 15 MP Last Month    25.0913
Name: 7125, dtype: object
7126 33.71 4 MP Last Month    8.4275
Name: 7126, dtype: object
7127 234.89999999999998 15 MP Last Month    15.66
Name: 7127, dtype: object
7128 119.56 5 MP Last Month    23.912
Name: 7128, dtype: object
7129 260.63 12 MP Last Month    21.7192
Name: 7129, dtype: object
7130 280.9699999999999 14 MP Last Month    20.0693
Name: 7130, dtype: object
7131 106.00999999999999 15 MP Last Month    7.06733
Name: 7131, dtype: object
7132 285.17 15 MP Last Month    19.0113
Name: 7132, dtype: object
7133 526.85 15 MP Last Month    35.1233
Name: 7133, dtype: object
7134 367.34000000000003 15 MP Last Month    24.4893
Name: 7134, dtype: object
7135 15.34 15 MP Last Month    1.02267
Name: 7135, dtype: object
7136 388.95 15 MP Last Month    25.93
Name: 7136, dtype: object
7137 306.67999999999995 15 MP Last Month    20.4453
Name: 7137, dtype: object
7138 154.74 15 MP Last Month    10.316
Name: 7138, dtype: object
7139 17.439999999999998 15 MP Last Month    1.16267
Name: 7139, dtype: object
7140 390.00000000000006 15 MP Last Month    26
Name: 7140, dtype: object
7141 440.39 15 MP Last Month    29.3593
Name: 7141, dtype: object
7142 261.34000000000003 15 MP Last Month    17.4227
Name: 7142, dtype: object
7143 344.39 12 MP Last Month    28.6992
Name: 7143, dtype: object
7144 268.71 12 MP Last Month    22.3925
Name: 7144, dtype: object
7145 112.41 10 MP Last Month    11.241
Name: 7145, dtype: object
7146 11.32 7 MP Last Month    1.61714
Name: 7146, dtype: object
7147 103.57 11 MP Last Month    9.41545
Name: 7147, dtype: object
7148 278.02 12 MP Last Month    23.1683
Name: 7148, dtype: object
7149 284.25 10 MP Last Month    28.425
Name: 7149, dtype: object
7150 438.32000000000005 12 MP Last Month    36.5267
Name: 7150, dtype: object
7151 415.67 12 MP Last Month    34.6392
Name: 7151, dtype: object
7152 127.53999999999999 12 MP Last Month    10.6283
Name: 7152, dtype: object
7153 57.370000000000005 11 MP Last Month    5.21545
Name: 7153, dtype: object
7154 392.18999999999994 14 MP Last Month    28.0136
Name: 7154, dtype: object
7155 373.94999999999993 14 MP Last Month    26.7107
Name: 7155, dtype: object
7156 102.63 14 MP Last Month    7.33071
Name: 7156, dtype: object
7157 4.53 6 MP Last Month    0.755
Name: 7157, dtype: object
7158 223.99000000000004 14 MP Last Month    15.9993
Name: 7158, dtype: object
7159 379.87 14 MP Last Month    27.1336
Name: 7159, dtype: object
7160 443.63000000000005 14 MP Last Month    31.6879
Name: 7160, dtype: object
7161 291.09000000000003 14 MP Last Month    20.7921
Name: 7161, dtype: object

7162 358.15 14 MP Last Month    25.5821
Name: 7162, dtype: object
7163 351.66999999999996 13 MP Last Month    27.0515
Name: 7163, dtype: object
7164 3.3 2 MP Last Month    1.65
Name: 7164, dtype: object
7165 34.760000000000005 14 MP Last Month    2.48286
Name: 7165, dtype: object
7166 347.03999999999996 13 MP Last Month    26.6954
Name: 7166, dtype: object
7167 281.85999999999996 13 MP Last Month    21.6815
Name: 7167, dtype: object
7168 33.9 13 MP Last Month    2.60769
Name: 7168, dtype: object
7169 449.96 13 MP Last Month    34.6123
Name: 7169, dtype: object
7170 384.43000000000006 13 MP Last Month    29.5715
Name: 7170, dtype: object
7171 423.62999999999994 13 MP Last Month    32.5869
Name: 7171, dtype: object
7172 180.95 13 MP Last Month    13.9192
Name: 7172, dtype: object
7173 9.07 8 MP Last Month    1.13375
Name: 7173, dtype: object
7174 258.59999999999997 13 MP Last Month    19.8923
Name: 7174, dtype: object
7175 324.62000000000006 13 MP Last Month    24.9708
Name: 7175, dtype: object
7176 203.06000000000003 12 MP Last Month    16.9217
Name: 7176, dtype: object
7177 32.52 12 MP Last Month    2.71
Name: 7177, dtype: object
7178 2.1 8 MP Last Month    0.2625
Name: 7178, dtype: object
7179 483.78 14 MP Last Month    34.5557
Name: 7179, dtype: object
7180 360.71999999999997 14 MP Last Month    25.7657
Name: 7180, dtype: object
7181 464.34 14 MP Last Month    33.1671
Name: 7181, dtype: object
7182 222.76 14 MP Last Month    15.9114
Name: 7182, dtype: object
7183 176.47 14 MP Last Month    12.605
Name: 7183, dtype: object
7184 471.15999999999997 14 MP Last Month    33.6543
Name: 7184, dtype: object
7185 107.9 5 MP Last Month    21.58
Name: 7185, dtype: object
7186 87.25 9 MP Last Month    9.69444
Name: 7186, dtype: object
7187 355.38 14 MP Last Month    25.3843
Name: 7187, dtype: object
7188 41.77 14 MP Last Month    2.98357
Name: 7188, dtype: object
7189 0.0 3 MP Last Month    0
Name: 7189, dtype: object
7190 507.7 14 MP Last Month    36.2643
Name: 7190, dtype: object
7191 300.07 14 MP Last Month    21.4336
Name: 7191, dtype: object
7192 179.26000000000002 7 MP Last Month    25.6086
Name: 7192, dtype: object
7193 393.8800000000001 14 MP Last Month    28.1343
Name: 7193, dtype: object
7194 489.0 14 MP Last Month    34.9286
Name: 7194, dtype: object
7195 465.38 14 MP Last Month    33.2414
Name: 7195, dtype: object
7196 84.14999999999999 4 MP Last Month    21.0375
Name: 7196, dtype: object
7197 110.07 13 MP Last Month    8.46692
Name: 7197, dtype: object
7198 19.189999999999998 10 MP Last Month    1.919
Name: 7198, dtype: object
7199 2.17 14 MP Last Month    0.155
Name: 7199, dtype: object
7200 338.24 13 MP Last Month    26.0185
Name: 7200, dtype: object
7201 271.30999999999995 14 MP Last Month    19.3793
Name: 7201, dtype: object
7202 212.01999999999998 14 MP Last Month    15.1443
Name: 7202, dtype: object
7203 375.39 15 MP Last Month    25.026
Name: 7203, dtype: object
7204 285.61 15 MP Last Month    19.0407
Name: 7204, dtype: object
7205 299.9100000000001 15 MP Last Month    19.994
Name: 7205, dtype: object
7206 259.76 15 MP Last Month    17.3173
Name: 7206, dtype: object
7207 15.15 14 MP Last Month    1.08214
Name: 7207, dtype: object
7208 328.22 15 MP Last Month    21.8813
Name: 7208, dtype: object
7209 254.48999999999998 15 MP Last Month    16.966
Name: 7209, dtype: object
7210 192.60999999999999 11 MP Last Month    17.51
Name: 7210, dtype: object
7211 407.29 15 MP Last Month    27.1527
Name: 7211, dtype: object
7212 421.08 15 MP Last Month    28.072
Name: 7212, dtype: object
7213 277.49999999999994 15 MP Last Month    18.5
Name: 7213, dtype: object
7214 444.23 12 MP Last Month    37.0192
Name: 7214, dtype: object
7215 195.67000000000004 14 MP Last Month    13.9764
Name: 7215, dtype: object
7216 333.91999999999996 13 MP Last Month    25.6862
Name: 7216, dtype: object
7217 137.1 13 MP Last Month    10.5462
Name: 7217, dtype: object
7218 31.5 13 MP Last Month    2.42308
Name: 7218, dtype: object
7219 408.18999999999994 13 MP Last Month    31.3992
Name: 7219, dtype: object
7220 209.26000000000002 14 MP Last Month    14.9471
Name: 7220, dtype: object
7221 421.71000000000004 12 MP Last Month    35.1425
Name: 7221, dtype: object
7222 336.79999999999995 14 MP Last Month    24.0571
Name: 7222, dtype: object
7223 15.65 14 MP Last Month    1.11786
Name: 7223, dtype: object
7224 458.69000000000005 14 MP Last Month    32.7636
Name: 7224, dtype: object
7225 195.35000000000002 14 MP Last Month    13.9536
Name: 7225, dtype: object
7226 136.68 14 MP Last Month    9.76286
Name: 7226, dtype: object
7227 500.29 15 MP Last Month    33.3527
Name: 7227, dtype: object
7228 316.12 13 MP Last Month    24.3169
Name: 7228, dtype: object
7229 258.94000000000005 15 MP Last Month    17.2627
Name: 7229, dtype: object
7230 93.85000000000001 15 MP Last Month    6.25667
Name: 7230, dtype: object
7231 55.769999999999996 14 MP Last Month    3.98357
Name: 7231, dtype: object
7232 326.15 10 MP Last Month    32.615
Name: 7232, dtype: object
7233 469.92999999999995 15 MP Last Month    31.3287
Name: 7233, dtype: object
7234 409.07000000000005 15 MP Last Month    27.2713
Name: 7234, dtype: object
7235 151.35999999999996 9 MP Last Month    16.8178
Name: 7235, dtype: object
7236 211.18 10 MP Last Month    21.118
Name: 7236, dtype: object
7237 364.78999999999996 14 MP Last Month    26.0564
Name: 7237, dtype: object
7238 298.34 15 MP Last Month    19.8893
Name: 7238, dtype: object
7239 455.49000000000007 16 MP Last Month    28.4681
Name: 7239, dtype: object
7240 402.69999999999993 16 MP Last Month    25.1687
Name: 7240, dtype: object
7241 311.31 15 MP Last Month    20.754
Name: 7241, dtype: object
7242 36.11 5 MP Last Month    7.222
Name: 7242, dtype: object
7243 234.89999999999998 16 MP Last Month    14.6812
Name: 7243, dtype: object
7244 7.9 6 MP Last Month    1.31667
Name: 7244, dtype: object
7245 148.76 6 MP Last Month    24.7933
Name: 7245, dtype: object
7246 282.8 13 MP Last Month    21.7538
Name: 7246, dtype: object
7247 293.09999999999997 15 MP Last Month    19.54
Name: 7247, dtype: object
7248 106.00999999999999 16 MP Last Month    6.62562
Name: 7248, dtype: object
7249 298.5999999999999 15 MP Last Month    19.9067
Name: 7249, dtype: object
7250 414.34000000000003 15 MP Last Month    27.6227
Name: 7250, dtype: object
7251 422.28999999999996 15 MP Last Month    28.1527
Name: 7251, dtype: object
7252 211.02000000000004 15 MP Last Month    14.068
Name: 7252, dtype: object
7253 439.3999999999999 15 MP Last Month    29.2933
Name: 7253, dtype: object
7254 381.28999999999996 15 MP Last Month    25.4193
Name: 7254, dtype: object
7255 202.82999999999998 10 MP Last Month    20.283
Name: 7255, dtype: object
7256 329.25 15 MP Last Month    21.95
Name: 7256, dtype: object
7257 39.34 10 MP Last Month    3.934
Name: 7257, dtype: object
7258 11.350000000000001 6 MP Last Month    1.89167
Name: 7258, dtype: object
7259 311.9 14 MP Last Month    22.2786
Name: 7259, dtype: object
7260 351.67 14 MP Last Month    25.1193
Name: 7260, dtype: object
7261 251.23999999999998 15 MP Last Month    16.7493
Name: 7261, dtype: object
7262 29.96 14 MP Last Month    2.14
Name: 7262, dtype: object
7263 518.04 14 MP Last Month    37.0029
Name: 7263, dtype: object
7264 444.81999999999994 15 MP Last Month    29.6547
Name: 7264, dtype: object
7265 213.93999999999997 15 MP Last Month    14.2627
Name: 7265, dtype: object
7266 184.91000000000003 14 MP Last Month    13.2079
Name: 7266, dtype: object
7267 281.74 15 MP Last Month    18.7827
Name: 7267, dtype: object
7268 510.33 15 MP Last Month    34.022
Name: 7268, dtype: object
7269 538.47 15 MP Last Month    35.898
Name: 7269, dtype: object
7270 248.6 13 MP Last Month    19.1231
Name: 7270, dtype: object
7271 196.79999999999995 15 MP Last Month    13.12
Name: 7271, dtype: object
7272 145.01 15 MP Last Month    9.66733
Name: 7272, dtype: object
7273 465.68000000000006 13 MP Last Month    35.8215
Name: 7273, dtype: object
7274 239.39 13 MP Last Month    18.4146
Name: 7274, dtype: object
7275 223.07000000000002 11 MP Last Month    20.2791
Name: 7275, dtype: object
7276 44.019999999999996 7 MP Last Month    6.28857
Name: 7276, dtype: object
7277 368.86999999999995 13 MP Last Month    28.3746
Name: 7277, dtype: object

7278 377.3499999999999 13 MP Last Month    29.0269
Name: 7278, dtype: object
7279 270.49999999999994 13 MP Last Month    20.8077
Name: 7279, dtype: object
7280 135.07 7 MP Last Month    19.2957
Name: 7280, dtype: object
7281 335.41999999999996 13 MP Last Month    25.8015
Name: 7281, dtype: object
7282 149.87 12 MP Last Month    12.4892
Name: 7282, dtype: object
7283 335.9200000000001 13 MP Last Month    25.84
Name: 7283, dtype: object
7284 66.2 12 MP Last Month    5.51667
Name: 7284, dtype: object
7285 395.09999999999997 13 MP Last Month    30.3923
Name: 7285, dtype: object
7286 328.31 13 MP Last Month    25.2546
Name: 7286, dtype: object
7287 104.62 6 MP Last Month    17.4367
Name: 7287, dtype: object
7288 115.27 9 MP Last Month    12.8078
Name: 7288, dtype: object
7289 335.19000000000005 12 MP Last Month    27.9325
Name: 7289, dtype: object
7290 372.57000000000005 13 MP Last Month    28.6592
Name: 7290, dtype: object
7291 101.89 4 MP Last Month    25.4725
Name: 7291, dtype: object
7292 222.84000000000003 12 MP Last Month    18.57
Name: 7292, dtype: object
7293 292.3 13 MP Last Month    22.4846
Name: 7293, dtype: object
7294 406.23999999999995 13 MP Last Month    31.2492
Name: 7294, dtype: object
7295 86.44 13 MP Last Month    6.64923
Name: 7295, dtype: object
7296 9.57 12 MP Last Month    0.7975
Name: 7296, dtype: object
7297 114.24999999999999 7 MP Last Month    16.3214
Name: 7297, dtype: object
7298 102.25 12 MP Last Month    8.52083
Name: 7298, dtype: object
7299 396.84000000000003 12 MP Last Month    33.07
Name: 7299, dtype: object
7300 331.85999999999996 12 MP Last Month    27.655
Name: 7300, dtype: object
7301 379.81 12 MP Last Month    31.6508
Name: 7301, dtype: object
7302 215.45999999999998 12 MP Last Month    17.955
Name: 7302, dtype: object
7303 18.369999999999997 12 MP Last Month    1.53083
Name: 7303, dtype: object
7304 381.33000000000004 12 MP Last Month    31.7775
Name: 7304, dtype: object
7305 149.85999999999999 9 MP Last Month    16.6511
Name: 7305, dtype: object
7306 36.92 12 MP Last Month    3.07667
Name: 7306, dtype: object
7307 453.83000000000004 12 MP Last Month    37.8192
Name: 7307, dtype: object
7308 33.2 13 MP Last Month    2.55385
Name: 7308, dtype: object
7309 365.6499999999999 12 MP Last Month    30.4708
Name: 7309, dtype: object
7310 28.48 1 MP Last Month    28.48
Name: 7310, dtype: object
7311 345.13 13 MP Last Month    26.5485
Name: 7311, dtype: object
7312 506.76 14 MP Last Month    36.1971
Name: 7312, dtype: object
7313 296.39 14 MP Last Month    21.1707
Name: 7313, dtype: object
7314 492.84000000000003 14 MP Last Month    35.2029
Name: 7314, dtype: object
7315 127.14999999999999 14 MP Last Month    9.08214
Name: 7315, dtype: object
7316 29.27 14 MP Last Month    2.09071
Name: 7316, dtype: object
7317 367.02 13 MP Last Month    28.2323
Name: 7317, dtype: object
7318 207.53000000000003 7 MP Last Month    29.6471
Name: 7318, dtype: object
7319 351.46000000000004 13 MP Last Month    27.0354
Name: 7319, dtype: object
7320 61.31 12 MP Last Month    5.10917
Name: 7320, dtype: object
7321 71.11000000000001 13 MP Last Month    5.47
Name: 7321, dtype: object
7322 386.06000000000006 12 MP Last Month    32.1717
Name: 7322, dtype: object
7323 460.94 13 MP Last Month    35.4569
Name: 7323, dtype: object
7324 43.6 10 MP Last Month    4.36
Name: 7324, dtype: object
7325 222.26 13 MP Last Month    17.0969
Name: 7325, dtype: object
7326 366.00999999999993 13 MP Last Month    28.1546
Name: 7326, dtype: object
7327 104.78999999999999 12 MP Last Month    8.7325
Name: 7327, dtype: object
7328 418.41999999999996 14 MP Last Month    29.8871
Name: 7328, dtype: object
7329 420.9 14 MP Last Month    30.0643
Name: 7329, dtype: object
7330 146.4 9 MP Last Month    16.2667
Name: 7330, dtype: object
7331 13.38 7 MP Last Month    1.91143
Name: 7331, dtype: object
7332 457.64 13 MP Last Month    35.2031
Name: 7332, dtype: object
7333 444.5100000000001 14 MP Last Month    31.7507
Name: 7333, dtype: object
7334 264.59000000000003 14 MP Last Month    18.8993
Name: 7334, dtype: object
7335 215.38 14 MP Last Month    15.3843
Name: 7335, dtype: object
7336 85.64 13 MP Last Month    6.58769
Name: 7336, dtype: object
7337 391.86 14 MP Last Month    27.99
Name: 7337, dtype: object
7338 240.80000000000004 13 MP Last Month    18.5231
Name: 7338, dtype: object
7339 122.53 14 MP Last Month    8.75214
Name: 7339, dtype: object
7340 293.85 10 MP Last Month    29.385
Name: 7340, dtype: object
7341 254.63000000000005 14 MP Last Month    18.1879
Name: 7341, dtype: object
7342 402.79 14 MP Last Month    28.7707
Name: 7342, dtype: object
7343 479.1500000000001 14 MP Last Month    34.225
Name: 7343, dtype: object
7344 218.67 14 MP Last Month    15.6193
Name: 7344, dtype: object
7345 448.62 13 MP Last Month    34.5092
Name: 7345, dtype: object
7346 368.02 14 MP Last Month    26.2871
Name: 7346, dtype: object
7347 7.0 14 MP Last Month    0.5
Name: 7347, dtype: object
7348 143.04 14 MP Last Month    10.2171
Name: 7348, dtype: object
7349 35.85 14 MP Last Month    2.56071
Name: 7349, dtype: object
7350 521.8699999999999 15 MP Last Month    34.7913
Name: 7350, dtype: object
7351 398.55000000000007 15 MP Last Month    26.57
Name: 7351, dtype: object
7352 190.9 15 MP Last Month    12.7267
Name: 7352, dtype: object
7353 591.7299999999999 16 MP Last Month    36.9831
Name: 7353, dtype: object
7354 123.89999999999998 16 MP Last Month    7.74375
Name: 7354, dtype: object
7355 253.26 16 MP Last Month    15.8287
Name: 7355, dtype: object
7356 461.82 14 MP Last Month    32.9871
Name: 7356, dtype: object
7357 515.56 16 MP Last Month    32.2225
Name: 7357, dtype: object
7358 61.82000000000001 16 MP Last Month    3.86375
Name: 7358, dtype: object
7359 290.87 13 MP Last Month    22.3746
Name: 7359, dtype: object
7360 12.66 6 MP Last Month    2.11
Name: 7360, dtype: object
7361 272.67 16 MP Last Month    17.0419
Name: 7361, dtype: object
7362 493.05999999999995 15 MP Last Month    32.8707
Name: 7362, dtype: object
7363 439.76 16 MP Last Month    27.485
Name: 7363, dtype: object
7364 129.87 16 MP Last Month    8.11688
Name: 7364, dtype: object
7365 35.34 14 MP Last Month    2.52429
Name: 7365, dtype: object
7366 274.83 16 MP Last Month    17.1769
Name: 7366, dtype: object
7367 406.16999999999996 16 MP Last Month    25.3856
Name: 7367, dtype: object
7368 322.31000000000006 16 MP Last Month    20.1444
Name: 7368, dtype: object
7369 343.0 16 MP Last Month    21.4375
Name: 7369, dtype: object
7370 15.15 15 MP Last Month    1.01
Name: 7370, dtype: object
7371 270.34 16 MP Last Month    16.8962
Name: 7371, dtype: object
7372 308.86 16 MP Last Month    19.3038
Name: 7372, dtype: object
7373 208.13 12 MP Last Month    17.3442
Name: 7373, dtype: object
7374 443.02000000000004 16 MP Last Month    27.6888
Name: 7374, dtype: object
7375 294.22999999999996 16 MP Last Month    18.3894
Name: 7375, dtype: object
7376 440.21 16 MP Last Month    27.5131
Name: 7376, dtype: object
7377 265.44 8 MP Last Month    33.18
Name: 7377, dtype: object
7378 69.28 7 MP Last Month    9.89714
Name: 7378, dtype: object
7379 425.30999999999995 14 MP Last Month    30.3793
Name: 7379, dtype: object
7380 98.47999999999999 14 MP Last Month    7.03429
Name: 7380, dtype: object
7381 424.36000000000007 14 MP Last Month    30.3114
Name: 7381, dtype: object
7382 505.55000000000007 14 MP Last Month    36.1107
Name: 7382, dtype: object
7383 213.76000000000002 12 MP Last Month    17.8133
Name: 7383, dtype: object
7384 12.66 14 MP Last Month    0.904286
Name: 7384, dtype: object
7385 479.99999999999994 14 MP Last Month    34.2857
Name: 7385, dtype: object
7386 162.01000000000002 13 MP Last Month    12.4623
Name: 7386, dtype: object
7387 207.11 14 MP Last Month    14.7936
Name: 7387, dtype: object
7388 0.0 1 MP Last Month    0
Name: 7388, dtype: object
7389 281.74 15 MP Last Month    18.7827
Name: 7389, dtype: object
7390 418.28999999999996 15 MP Last Month    27.886
Name: 7390, dtype: object
7391 34.339999999999996 15 MP Last Month    2.28933
Name: 7391, dtype: object
7392 453.78 15 MP Last Month    30.252
Name: 7392, dtype: object
7393 189.54 9 MP Last Month    21.06
Name: 7393, dtype: object
7394 382.80000000000007 15 MP Last Month    25.52
Name: 7394, dtype: object

7395 291.36 14 MP Last Month    20.8114
Name: 7395, dtype: object
7396 10.75 7 MP Last Month    1.53571
Name: 7396, dtype: object
7397 474.36999999999995 15 MP Last Month    31.6247
Name: 7397, dtype: object
7398 237.24 15 MP Last Month    15.816
Name: 7398, dtype: object
7399 107.80000000000001 15 MP Last Month    7.18667
Name: 7399, dtype: object
7400 22.84 15 MP Last Month    1.52267
Name: 7400, dtype: object
7401 551.0 16 MP Last Month    34.4375
Name: 7401, dtype: object
7402 127.93999999999998 15 MP Last Month    8.52933
Name: 7402, dtype: object
7403 361.6600000000001 16 MP Last Month    22.6038
Name: 7403, dtype: object
7404 0.0 5 MP Last Month    0
Name: 7404, dtype: object
7405 498.2999999999999 16 MP Last Month    31.1437
Name: 7405, dtype: object
7406 251.78000000000003 12 MP Last Month    20.9817
Name: 7406, dtype: object
7407 440.55 12 MP Last Month    36.7125
Name: 7407, dtype: object
7408 122.46 15 MP Last Month    8.164
Name: 7408, dtype: object
7409 550.5 16 MP Last Month    34.4062
Name: 7409, dtype: object
7410 314.0 14 MP Last Month    22.4286
Name: 7410, dtype: object
7411 148.25000000000003 16 MP Last Month    9.26563
Name: 7411, dtype: object
7412 480.58000000000004 13 MP Last Month    36.9677
Name: 7412, dtype: object
7413 106.54999999999998 13 MP Last Month    8.19615
Name: 7413, dtype: object
7414 201.84000000000006 14 MP Last Month    14.4171
Name: 7414, dtype: object
7415 14.68 13 MP Last Month    1.12923
Name: 7415, dtype: object
7416 210.92000000000002 14 MP Last Month    15.0657
Name: 7416, dtype: object
7417 422.37 12 MP Last Month    35.1975
Name: 7417, dtype: object
7418 425.2099999999999 13 MP Last Month    32.7085
Name: 7418, dtype: object
7419 337.99 14 MP Last Month    24.1421
Name: 7419, dtype: object
7420 208.77 14 MP Last Month    14.9121
Name: 7420, dtype: object
7421 456.89000000000004 14 MP Last Month    32.635
Name: 7421, dtype: object
7422 15.65 14 MP Last Month    1.11786
Name: 7422, dtype: object
7423 105.75000000000001 14 MP Last Month    7.55357
Name: 7423, dtype: object
7424 516.42 15 MP Last Month    34.428
Name: 7424, dtype: object
7425 183.87 11 MP Last Month    16.7155
Name: 7425, dtype: object
7426 41.51 15 MP Last Month    2.76733
Name: 7426, dtype: object
7427 402.61999999999995 15 MP Last Month    26.8413
Name: 7427, dtype: object
7428 231.97 15 MP Last Month    15.4647
Name: 7428, dtype: object
7429 445.9 15 MP Last Month    29.7267
Name: 7429, dtype: object
7430 36.9 3 MP Last Month    12.3
Name: 7430, dtype: object
7431 240.77 14 MP Last Month    17.1979
Name: 7431, dtype: object
7432 382.85 15 MP Last Month    25.5233
Name: 7432, dtype: object
7433 296.43 15 MP Last Month    19.762
Name: 7433, dtype: object
7434 169.6 15 MP Last Month    11.3067
Name: 7434, dtype: object
7435 96.4 15 MP Last Month    6.42667
Name: 7435, dtype: object
7436 195.39000000000004 11 MP Last Month    17.7627
Name: 7436, dtype: object
7437 386.19000000000005 15 MP Last Month    25.746
Name: 7437, dtype: object
7438 416.79999999999995 15 MP Last Month    27.7867
Name: 7438, dtype: object
7439 293.4 12 MP Last Month    24.45
Name: 7439, dtype: object
7440 541.5300000000001 15 MP Last Month    36.102
Name: 7440, dtype: object
7441 81.31 15 MP Last Month    5.42067
Name: 7441, dtype: object
7442 342.04999999999995 15 MP Last Month    22.8033
Name: 7442, dtype: object
7443 364.73 15 MP Last Month    24.3153
Name: 7443, dtype: object
7444 153.99 14 MP Last Month    10.9993
Name: 7444, dtype: object
7445 517.54 15 MP Last Month    34.5027
Name: 7445, dtype: object
7446 212.82 13 MP Last Month    16.3708
Name: 7446, dtype: object
7447 45.77 15 MP Last Month    3.05133
Name: 7447, dtype: object
7448 336.93 11 MP Last Month    30.63
Name: 7448, dtype: object
7449 45.71 5 MP Last Month    9.142
Name: 7449, dtype: object
7450 437.24 15 MP Last Month    29.1493
Name: 7450, dtype: object
7451 259.36 15 MP Last Month    17.2907
Name: 7451, dtype: object
7452 113.53 14 MP Last Month    8.10929
Name: 7452, dtype: object
7453 491.22 15 MP Last Month    32.748
Name: 7453, dtype: object
7454 255.10999999999999 15 MP Last Month    17.0073
Name: 7454, dtype: object
7455 419.73999999999995 15 MP Last Month    27.9827
Name: 7455, dtype: object
7456 81.64999999999999 13 MP Last Month    6.28077
Name: 7456, dtype: object
7457 76.83 15 MP Last Month    5.122
Name: 7457, dtype: object
7458 467.05999999999995 15 MP Last Month    31.1373
Name: 7458, dtype: object
7459 352.23 15 MP Last Month    23.482
Name: 7459, dtype: object
7460 45.51 15 MP Last Month    3.034
Name: 7460, dtype: object
7461 516.22 14 MP Last Month    36.8729
Name: 7461, dtype: object
7462 501.5799999999999 14 MP Last Month    35.8271
Name: 7462, dtype: object
7463 298.29 14 MP Last Month    21.3064
Name: 7463, dtype: object
7464 196.24 14 MP Last Month    14.0171
Name: 7464, dtype: object
7465 0 0 MP Last Month    0
Name: 7465, dtype: object
7466 328.17 14 MP Last Month    23.4407
Name: 7466, dtype: object
7467 344.99 13 MP Last Month    26.5377
Name: 7467, dtype: object
7468 384.88 13 MP Last Month    29.6062
Name: 7468, dtype: object
7469 338.0399999999999 14 MP Last Month    24.1457
Name: 7469, dtype: object
7470 76.93 13 MP Last Month    5.91769
Name: 7470, dtype: object
7471 80.27000000000001 14 MP Last Month    5.73357
Name: 7471, dtype: object
7472 56.94 14 MP Last Month    4.06714
Name: 7472, dtype: object
7473 496.18000000000006 14 MP Last Month    35.4414
Name: 7473, dtype: object
7474 157.63 9 MP Last Month    17.5144
Name: 7474, dtype: object
7475 138.22 11 MP Last Month    12.5655
Name: 7475, dtype: object
7476 321.4 14 MP Last Month    22.9571
Name: 7476, dtype: object
7477 500.73 14 MP Last Month    35.7664
Name: 7477, dtype: object
7478 282.19000000000005 14 MP Last Month    20.1564
Name: 7478, dtype: object
7479 324.85 13 MP Last Month    24.9885
Name: 7479, dtype: object
7480 168.48000000000002 14 MP Last Month    12.0343
Name: 7480, dtype: object
7481 277.52000000000004 14 MP Last Month    19.8229
Name: 7481, dtype: object
7482 243.61999999999998 14 MP Last Month    17.4014
Name: 7482, dtype: object
7483 386.92999999999995 14 MP Last Month    27.6379
Name: 7483, dtype: object
7484 388.27 14 MP Last Month    27.7336
Name: 7484, dtype: object
7485 118.47999999999999 14 MP Last Month    8.46286
Name: 7485, dtype: object
7486 4.53 6 MP Last Month    0.755
Name: 7486, dtype: object
7487 376.64 14 MP Last Month    26.9029
Name: 7487, dtype: object
7488 303.59000000000003 14 MP Last Month    21.685
Name: 7488, dtype: object
7489 430.78 14 MP Last Month    30.77
Name: 7489, dtype: object
7490 237.74000000000004 14 MP Last Month    16.9814
Name: 7490, dtype: object
7491 356.91999999999996 14 MP Last Month    25.4943
Name: 7491, dtype: object
7492 348.9 13 MP Last Month    26.8385
Name: 7492, dtype: object
7493 3.3 3 MP Last Month    1.1
Name: 7493, dtype: object
7494 34.760000000000005 14 MP Last Month    2.48286
Name: 7494, dtype: object
7495 395.94 14 MP Last Month    28.2814
Name: 7495, dtype: object
7496 236.30000000000004 8 MP Last Month    29.5375
Name: 7496, dtype: object
7497 369.34000000000003 14 MP Last Month    26.3814
Name: 7497, dtype: object
7498 61.31 13 MP Last Month    4.71615
Name: 7498, dtype: object
7499 55.72 11 MP Last Month    5.06545
Name: 7499, dtype: object
7500 71.11000000000001 14 MP Last Month    5.07929
Name: 7500, dtype: object
7501 495.54 14 MP Last Month    35.3957
Name: 7501, dtype: object
7502 419.21000000000004 13 MP Last Month    32.2469
Name: 7502, dtype: object
7503 236.59 14 MP Last Month    16.8993
Name: 7503, dtype: object
7504 394.5799999999999 14 MP Last Month    28.1843
Name: 7504, dtype: object
7505 170.14999999999998 13 MP Last Month    13.0885
Name: 7505, dtype: object
7506 124.22 13 MP Last Month    9.55538
Name: 7506, dtype: object
7507 278.28999999999996 13 MP Last Month    21.4069
Name: 7507, dtype: object
7508 341.57 13 MP Last Month    26.2746
Name: 7508, dtype: object
7509 45.9 13 MP Last Month    3.53077
Name: 7509, dtype: object
7510 443.76 13 MP Last Month    34.1354
Name: 7510, dtype: object
7511 428.29999999999995 13 MP Last Month    32.9462
Name: 7511, dtype: object
7512 383.18 13 MP Last Month    29.4754
Name: 7512, dtype: object

7513 275.4 13 MP Last Month    21.1846
Name: 7513, dtype: object
7514 21.939999999999998 9 MP Last Month    2.43778
Name: 7514, dtype: object
7515 180.5 13 MP Last Month    13.8846
Name: 7515, dtype: object
7516 309.4800000000001 13 MP Last Month    23.8062
Name: 7516, dtype: object
7517 211.76000000000002 12 MP Last Month    17.6467
Name: 7517, dtype: object
7518 6.220000000000001 9 MP Last Month    0.691111
Name: 7518, dtype: object
7519 40.0 12 MP Last Month    3.33333
Name: 7519, dtype: object
7520 422.4100000000001 13 MP Last Month    32.4931
Name: 7520, dtype: object
7521 137.72 12 MP Last Month    11.4767
Name: 7521, dtype: object
7522 55.06 13 MP Last Month    4.23538
Name: 7522, dtype: object
7523 223.79999999999998 9 MP Last Month    24.8667
Name: 7523, dtype: object
7524 316.3 13 MP Last Month    24.3308
Name: 7524, dtype: object
7525 403.4 13 MP Last Month    31.0308
Name: 7525, dtype: object
7526 300.57 13 MP Last Month    23.1208
Name: 7526, dtype: object
7527 202.10000000000002 13 MP Last Month    15.5462
Name: 7527, dtype: object
7528 99.39 13 MP Last Month    7.64538
Name: 7528, dtype: object
7529 301.69 11 MP Last Month    27.4264
Name: 7529, dtype: object
7530 11.55 4 MP Last Month    2.8875
Name: 7530, dtype: object
7531 355.05 13 MP Last Month    27.3115
Name: 7531, dtype: object
7532 503.19 15 MP Last Month    33.546
Name: 7532, dtype: object
7533 259.32 15 MP Last Month    17.288
Name: 7533, dtype: object
7534 338.1 14 MP Last Month    24.15
Name: 7534, dtype: object
7535 74.81 15 MP Last Month    4.98733
Name: 7535, dtype: object
7536 42.59999999999999 14 MP Last Month    3.04286
Name: 7536, dtype: object
7537 362.87 11 MP Last Month    32.9882
Name: 7537, dtype: object
7538 467.56 15 MP Last Month    31.1707
Name: 7538, dtype: object
7539 407.12 15 MP Last Month    27.1413
Name: 7539, dtype: object
7540 228.23000000000002 11 MP Last Month    20.7482
Name: 7540, dtype: object
7541 137.06 9 MP Last Month    15.2289
Name: 7541, dtype: object
7542 371.53999999999996 14 MP Last Month    26.5386
Name: 7542, dtype: object
7543 299.87 15 MP Last Month    19.9913
Name: 7543, dtype: object
7544 65.61999999999999 14 MP Last Month    4.68714
Name: 7544, dtype: object
7545 423.3399999999999 15 MP Last Month    28.2227
Name: 7545, dtype: object
7546 312.25 14 MP Last Month    22.3036
Name: 7546, dtype: object
7547 69.77 10 MP Last Month    6.977
Name: 7547, dtype: object
7548 367.09999999999997 15 MP Last Month    24.4733
Name: 7548, dtype: object
7549 52.879999999999995 6 MP Last Month    8.81333
Name: 7549, dtype: object
7550 271.04 14 MP Last Month    19.36
Name: 7550, dtype: object
7551 200.23 15 MP Last Month    13.3487
Name: 7551, dtype: object
7552 179.98999999999998 7 MP Last Month    25.7129
Name: 7552, dtype: object
7553 257.46999999999997 14 MP Last Month    18.3907
Name: 7553, dtype: object
7554 264.08000000000004 12 MP Last Month    22.0067
Name: 7554, dtype: object
7555 98.72 15 MP Last Month    6.58133
Name: 7555, dtype: object
7556 423.91 13 MP Last Month    32.6085
Name: 7556, dtype: object
7557 345.76 14 MP Last Month    24.6971
Name: 7557, dtype: object
7558 309.7 14 MP Last Month    22.1214
Name: 7558, dtype: object
7559 0 0 MP Last Month    0
Name: 7559, dtype: object
7560 25.07 14 MP Last Month    1.79071
Name: 7560, dtype: object
7561 361.30999999999995 13 MP Last Month    27.7931
Name: 7561, dtype: object
7562 350.0 13 MP Last Month    26.9231
Name: 7562, dtype: object
7563 441.63000000000005 14 MP Last Month    31.545
Name: 7563, dtype: object
7564 24.140000000000004 14 MP Last Month    1.72429
Name: 7564, dtype: object
7565 122.19999999999999 14 MP Last Month    8.72857
Name: 7565, dtype: object
7566 206.79999999999998 14 MP Last Month    14.7714
Name: 7566, dtype: object
7567 61.93 9 MP Last Month    6.88111
Name: 7567, dtype: object
7568 12.72 8 MP Last Month    1.59
Name: 7568, dtype: object
7569 422.4 15 MP Last Month    28.16
Name: 7569, dtype: object
7570 208.41000000000003 15 MP Last Month    13.894
Name: 7570, dtype: object
7571 418.76 15 MP Last Month    27.9173
Name: 7571, dtype: object
7572 222.20999999999998 11 MP Last Month    20.2009
Name: 7572, dtype: object
7573 381.92 15 MP Last Month    25.4613
Name: 7573, dtype: object
7574 329.18 15 MP Last Month    21.9453
Name: 7574, dtype: object
7575 39.34 11 MP Last Month    3.57636
Name: 7575, dtype: object
7576 360.36 14 MP Last Month    25.74
Name: 7576, dtype: object
7577 313.08 14 MP Last Month    22.3629
Name: 7577, dtype: object
7578 255.73 15 MP Last Month    17.0487
Name: 7578, dtype: object
7579 25.810000000000002 14 MP Last Month    1.84357
Name: 7579, dtype: object
7580 527.59 14 MP Last Month    37.685
Name: 7580, dtype: object
7581 210.42999999999995 15 MP Last Month    14.0287
Name: 7581, dtype: object
7582 242.1 13 MP Last Month    18.6231
Name: 7582, dtype: object
7583 178.21 14 MP Last Month    12.7293
Name: 7583, dtype: object
7584 454.78 15 MP Last Month    30.3187
Name: 7584, dtype: object
7585 260.64 15 MP Last Month    17.376
Name: 7585, dtype: object
7586 550.9200000000001 15 MP Last Month    36.728
Name: 7586, dtype: object
7587 517.3299999999999 15 MP Last Month    34.4887
Name: 7587, dtype: object
7588 219.94999999999996 15 MP Last Month    14.6633
Name: 7588, dtype: object
7589 123.78000000000002 15 MP Last Month    8.252
Name: 7589, dtype: object
7590 464.37 13 MP Last Month    35.7208
Name: 7590, dtype: object
7591 217.04000000000002 11 MP Last Month    19.7309
Name: 7591, dtype: object
7592 223.70999999999998 13 MP Last Month    17.2085
Name: 7592, dtype: object
7593 45.699999999999996 8 MP Last Month    5.7125
Name: 7593, dtype: object
7594 159.32000000000002 12 MP Last Month    13.2767
Name: 7594, dtype: object
7595 381.29999999999995 13 MP Last Month    29.3308
Name: 7595, dtype: object
7596 339.05 13 MP Last Month    26.0808
Name: 7596, dtype: object
7597 274.99 13 MP Last Month    21.1531
Name: 7597, dtype: object
7598 125.07000000000001 7 MP Last Month    17.8671
Name: 7598, dtype: object
7599 378.02 13 MP Last Month    29.0785
Name: 7599, dtype: object
7600 85.75 12 MP Last Month    7.14583
Name: 7600, dtype: object
7601 333.77000000000004 13 MP Last Month    25.6746
Name: 7601, dtype: object
7602 405.34999999999997 13 MP Last Month    31.1808
Name: 7602, dtype: object
7603 332.71 13 MP Last Month    25.5931
Name: 7603, dtype: object
7604 127.25 9 MP Last Month    14.1389
Name: 7604, dtype: object
7605 84.32 6 MP Last Month    14.0533
Name: 7605, dtype: object
7606 214.20999999999998 12 MP Last Month    17.8508
Name: 7606, dtype: object
7607 376.97 13 MP Last Month    28.9977
Name: 7607, dtype: object
7608 341.11 12 MP Last Month    28.4258
Name: 7608, dtype: object
7609 411.92999999999995 13 MP Last Month    31.6869
Name: 7609, dtype: object
7610 311.63 13 MP Last Month    23.9715
Name: 7610, dtype: object
7611 96.99999999999999 13 MP Last Month    7.46154
Name: 7611, dtype: object
7612 9.57 12 MP Last Month    0.7975
Name: 7612, dtype: object
7613 381.20000000000005 12 MP Last Month    31.7667
Name: 7613, dtype: object
7614 129.23 8 MP Last Month    16.1537
Name: 7614, dtype: object
7615 92.92999999999999 12 MP Last Month    7.74417
Name: 7615, dtype: object
7616 374.97999999999996 12 MP Last Month    31.2483
Name: 7616, dtype: object
7617 342.89 12 MP Last Month    28.5742
Name: 7617, dtype: object
7618 22.139999999999997 12 MP Last Month    1.845
Name: 7618, dtype: object
7619 156.70999999999998 9 MP Last Month    17.4122
Name: 7619, dtype: object
7620 363.85 12 MP Last Month    30.3208
Name: 7620, dtype: object
7621 40.690000000000005 12 MP Last Month    3.39083
Name: 7621, dtype: object
7622 432.45000000000005 14 MP Last Month    30.8893
Name: 7622, dtype: object
7623 369.80999999999995 15 MP Last Month    24.654
Name: 7623, dtype: object
7624 522.3100000000001 15 MP Last Month    34.8207
Name: 7624, dtype: object
7625 289.59 15 MP Last Month    19.306
Name: 7625, dtype: object
7626 405.02 15 MP Last Month    27.0013
Name: 7626, dtype: object
7627 310.42999999999995 15 MP Last Month    20.6953
Name: 7627, dtype: object
7628 165.81 15 MP Last Month    11.054
Name: 7628, dtype: object
7629 22.139999999999997 15 MP Last Month    1.476
Name: 7629, dtype: object

7630 386.25000000000006 15 MP Last Month    25.75
Name: 7630, dtype: object
7631 434.04 15 MP Last Month    28.936
Name: 7631, dtype: object
7632 263.54 15 MP Last Month    17.5693
Name: 7632, dtype: object
7633 344.44 12 MP Last Month    28.7033
Name: 7633, dtype: object
7634 117.23 10 MP Last Month    11.723
Name: 7634, dtype: object
7635 290.59 12 MP Last Month    24.2158
Name: 7635, dtype: object
7636 11.32 8 MP Last Month    1.415
Name: 7636, dtype: object
7637 91.64999999999999 11 MP Last Month    8.33182
Name: 7637, dtype: object
7638 281.40999999999997 10 MP Last Month    28.141
Name: 7638, dtype: object
7639 271.27 12 MP Last Month    22.6058
Name: 7639, dtype: object
7640 414.62 12 MP Last Month    34.5517
Name: 7640, dtype: object
7641 439.98 12 MP Last Month    36.665
Name: 7641, dtype: object
7642 128.09 12 MP Last Month    10.6742
Name: 7642, dtype: object
7643 57.370000000000005 11 MP Last Month    5.21545
Name: 7643, dtype: object
7644 491.18000000000006 13 MP Last Month    37.7831
Name: 7644, dtype: object
7645 386.76 12 MP Last Month    32.23
Name: 7645, dtype: object
7646 51.900000000000006 2 MP Last Month    25.95
Name: 7646, dtype: object
7647 25.69 13 MP Last Month    1.97615
Name: 7647, dtype: object
7648 368.18999999999994 12 MP Last Month    30.6825
Name: 7648, dtype: object
7649 507.69 14 MP Last Month    36.2636
Name: 7649, dtype: object
7650 138.89 10 MP Last Month    13.889
Name: 7650, dtype: object
7651 297.06 14 MP Last Month    21.2186
Name: 7651, dtype: object
7652 377.21 14 MP Last Month    26.9436
Name: 7652, dtype: object
7653 131.65 14 MP Last Month    9.40357
Name: 7653, dtype: object
7654 494.96000000000004 14 MP Last Month    35.3543
Name: 7654, dtype: object
7655 28.21 14 MP Last Month    2.015
Name: 7655, dtype: object
7656 0 0 MP Last Month    0
Name: 7656, dtype: object
7657 375.24 14 MP Last Month    26.8029
Name: 7657, dtype: object
7658 303.36999999999995 14 MP Last Month    21.6693
Name: 7658, dtype: object
7659 45.9 14 MP Last Month    3.27857
Name: 7659, dtype: object
7660 481.90999999999997 14 MP Last Month    34.4221
Name: 7660, dtype: object
7661 416.2 14 MP Last Month    29.7286
Name: 7661, dtype: object
7662 459.53 14 MP Last Month    32.8236
Name: 7662, dtype: object
7663 293.17999999999995 14 MP Last Month    20.9414
Name: 7663, dtype: object
7664 185.07 14 MP Last Month    13.2193
Name: 7664, dtype: object
7665 30.809999999999995 10 MP Last Month    3.081
Name: 7665, dtype: object
7666 237.28000000000003 13 MP Last Month    18.2523
Name: 7666, dtype: object
7667 331.6000000000001 14 MP Last Month    23.6857
Name: 7667, dtype: object
7668 6.220000000000001 10 MP Last Month    0.622
Name: 7668, dtype: object
7669 40.0 13 MP Last Month    3.07692
Name: 7669, dtype: object
7670 483.09999999999997 14 MP Last Month    34.5071
Name: 7670, dtype: object
7671 470.3 14 MP Last Month    33.5929
Name: 7671, dtype: object
7672 354.28000000000003 14 MP Last Month    25.3057
Name: 7672, dtype: object
7673 171.14000000000001 14 MP Last Month    12.2243
Name: 7673, dtype: object
7674 229.85999999999999 14 MP Last Month    16.4186
Name: 7674, dtype: object
7675 364.0799999999999 14 MP Last Month    26.0057
Name: 7675, dtype: object
7676 466.44 14 MP Last Month    33.3171
Name: 7676, dtype: object
7677 134.57 6 MP Last Month    22.4283
Name: 7677, dtype: object
7678 90.0 9 MP Last Month    10
Name: 7678, dtype: object
7679 0.0 8 MP Last Month    0
Name: 7679, dtype: object
7680 29.950000000000003 14 MP Last Month    2.13929
Name: 7680, dtype: object
7681 0.0 4 MP Last Month    0
Name: 7681, dtype: object
7682 510.69000000000005 14 MP Last Month    36.4779
Name: 7682, dtype: object
7683 153.95999999999998 6 MP Last Month    25.66
Name: 7683, dtype: object
7684 331.84 13 MP Last Month    25.5262
Name: 7684, dtype: object
7685 365.77000000000004 13 MP Last Month    28.1362
Name: 7685, dtype: object
7686 459.41999999999996 13 MP Last Month    35.34
Name: 7686, dtype: object
7687 433.85999999999996 13 MP Last Month    33.3738
Name: 7687, dtype: object
7688 102.85 5 MP Last Month    20.57
Name: 7688, dtype: object
7689 2.17 13 MP Last Month    0.166923
Name: 7689, dtype: object
7690 305.07000000000005 12 MP Last Month    25.4225
Name: 7690, dtype: object
7691 196.32 13 MP Last Month    15.1015
Name: 7691, dtype: object
7692 250.61999999999998 13 MP Last Month    19.2785
Name: 7692, dtype: object
7693 593.29 16 MP Last Month    37.0806
Name: 7693, dtype: object
7694 140.70000000000002 16 MP Last Month    8.79375
Name: 7694, dtype: object
7695 250.36 16 MP Last Month    15.6475
Name: 7695, dtype: object
7696 451.94 14 MP Last Month    32.2814
Name: 7696, dtype: object
7697 504.61 16 MP Last Month    31.5381
Name: 7697, dtype: object
7698 59.199999999999996 16 MP Last Month    3.7
Name: 7698, dtype: object
7699 281.32 16 MP Last Month    17.5825
Name: 7699, dtype: object
7700 304.97 14 MP Last Month    21.7836
Name: 7700, dtype: object
7701 121.95 16 MP Last Month    7.62188
Name: 7701, dtype: object
7702 14.29 6 MP Last Month    2.38167
Name: 7702, dtype: object
7703 527.4599999999999 15 MP Last Month    35.164
Name: 7703, dtype: object
7704 439.49 16 MP Last Month    27.4681
Name: 7704, dtype: object
7705 19.19 14 MP Last Month    1.37071
Name: 7705, dtype: object
7706 269.18999999999994 8 MP Last Month    33.6487
Name: 7706, dtype: object
7707 424.01 14 MP Last Month    30.2864
Name: 7707, dtype: object
7708 85.6 8 MP Last Month    10.7
Name: 7708, dtype: object
7709 164.39000000000001 11 MP Last Month    14.9445
Name: 7709, dtype: object
7710 104.30999999999999 14 MP Last Month    7.45071
Name: 7710, dtype: object
7711 496.27000000000004 14 MP Last Month    35.4479
Name: 7711, dtype: object
7712 225.17000000000002 12 MP Last Month    18.7642
Name: 7712, dtype: object
7713 432.66 14 MP Last Month    30.9043
Name: 7713, dtype: object
7714 17.34 14 MP Last Month    1.23857
Name: 7714, dtype: object
7715 475.37 14 MP Last Month    33.955
Name: 7715, dtype: object
7716 167.29000000000002 13 MP Last Month    12.8685
Name: 7716, dtype: object
7717 199.91000000000003 14 MP Last Month    14.2793
Name: 7717, dtype: object
7718 414.59999999999997 15 MP Last Month    27.64
Name: 7718, dtype: object
7719 285.43 15 MP Last Month    19.0287
Name: 7719, dtype: object
7720 34.339999999999996 15 MP Last Month    2.28933
Name: 7720, dtype: object
7721 414.40999999999997 13 MP Last Month    31.8777
Name: 7721, dtype: object
7722 381.75000000000006 15 MP Last Month    25.45
Name: 7722, dtype: object
7723 461.49999999999994 15 MP Last Month    30.7667
Name: 7723, dtype: object
7724 288.6 14 MP Last Month    20.6143
Name: 7724, dtype: object
7725 194.77 9 MP Last Month    21.6411
Name: 7725, dtype: object
7726 22.84 15 MP Last Month    1.52267
Name: 7726, dtype: object
7727 475.79999999999995 15 MP Last Month    31.72
Name: 7727, dtype: object
7728 231.91 15 MP Last Month    15.4607
Name: 7728, dtype: object
7729 125.4 15 MP Last Month    8.36
Name: 7729, dtype: object
7730 513.97 15 MP Last Month    34.2647
Name: 7730, dtype: object
7731 140.63 14 MP Last Month    10.045
Name: 7731, dtype: object
7732 139.49 14 MP Last Month    9.96357
Name: 7732, dtype: object
7733 342.14000000000004 15 MP Last Month    22.8093
Name: 7733, dtype: object
7734 0.0 4 MP Last Month    0
Name: 7734, dtype: object
7735 428.95000000000005 12 MP Last Month    35.7458
Name: 7735, dtype: object
7736 469.5499999999999 15 MP Last Month    31.3033
Name: 7736, dtype: object
7737 277.3 13 MP Last Month    21.3308
Name: 7737, dtype: object
7738 518.6600000000001 15 MP Last Month    34.5773
Name: 7738, dtype: object
7739 304.05000000000007 13 MP Last Month    23.3885
Name: 7739, dtype: object
7740 130.14999999999998 15 MP Last Month    8.67667
Name: 7740, dtype: object
7741 218.31000000000006 15 MP Last Month    14.554
Name: 7741, dtype: object
7742 138.42 14 MP Last Month    9.88714
Name: 7742, dtype: object
7743 14.68 14 MP Last Month    1.04857
Name: 7743, dtype: object
7744 39.669999999999995 4 MP Last Month    9.9175
Name: 7744, dtype: object
7745 230.85000000000002 15 MP Last Month    15.39
Name: 7745, dtype: object
7746 461.65 13 MP Last Month    35.5115
Name: 7746, dtype: object

7747 353.44 15 MP Last Month    23.5627
Name: 7747, dtype: object
7748 15.65 15 MP Last Month    1.04333
Name: 7748, dtype: object
7749 487.32000000000005 15 MP Last Month    32.488
Name: 7749, dtype: object
7750 226.34 15 MP Last Month    15.0893
Name: 7750, dtype: object
7751 105.75000000000001 15 MP Last Month    7.05
Name: 7751, dtype: object
7752 493.37 14 MP Last Month    35.2407
Name: 7752, dtype: object
7753 157.23 10 MP Last Month    15.723
Name: 7753, dtype: object
7754 41.51 14 MP Last Month    2.965
Name: 7754, dtype: object
7755 416.28000000000003 14 MP Last Month    29.7343
Name: 7755, dtype: object
7756 377.06000000000006 14 MP Last Month    26.9329
Name: 7756, dtype: object
7757 266.7 14 MP Last Month    19.05
Name: 7757, dtype: object
7758 49.5 4 MP Last Month    12.375
Name: 7758, dtype: object
7759 203.5 14 MP Last Month    14.5357
Name: 7759, dtype: object
7760 213.68999999999997 13 MP Last Month    16.4377
Name: 7760, dtype: object
7761 57.40000000000001 14 MP Last Month    4.1
Name: 7761, dtype: object
7762 374.31 14 MP Last Month    26.7364
Name: 7762, dtype: object
7763 180.95000000000002 14 MP Last Month    12.925
Name: 7763, dtype: object
7764 218.39000000000004 12 MP Last Month    18.1992
Name: 7764, dtype: object
7765 370.33000000000004 15 MP Last Month    24.6887
Name: 7765, dtype: object
7766 408.62 15 MP Last Month    27.2413
Name: 7766, dtype: object
7767 526.88 15 MP Last Month    35.1253
Name: 7767, dtype: object
7768 272.34000000000003 12 MP Last Month    22.695
Name: 7768, dtype: object
7769 340.21000000000004 15 MP Last Month    22.6807
Name: 7769, dtype: object
7770 57.77 15 MP Last Month    3.85133
Name: 7770, dtype: object
7771 360.83000000000004 15 MP Last Month    24.0553
Name: 7771, dtype: object
7772 88.43 15 MP Last Month    5.89533
Name: 7772, dtype: object
7773 502.0999999999999 15 MP Last Month    33.4733
Name: 7773, dtype: object
7774 220.75 13 MP Last Month    16.9808
Name: 7774, dtype: object
7775 174.71 14 MP Last Month    12.4793
Name: 7775, dtype: object
7776 373.36 12 MP Last Month    31.1133
Name: 7776, dtype: object
7777 469.27 16 MP Last Month    29.3294
Name: 7777, dtype: object
7778 61.18 6 MP Last Month    10.1967
Name: 7778, dtype: object
7779 113.53 15 MP Last Month    7.56867
Name: 7779, dtype: object
7780 266.24 16 MP Last Month    16.64
Name: 7780, dtype: object
7781 443.35999999999996 16 MP Last Month    27.71
Name: 7781, dtype: object
7782 160.55999999999997 10 MP Last Month    16.056
Name: 7782, dtype: object
7783 526.24 16 MP Last Month    32.89
Name: 7783, dtype: object
7784 284.31 16 MP Last Month    17.7694
Name: 7784, dtype: object
7785 76.83 16 MP Last Month    4.80187
Name: 7785, dtype: object
7786 500.50999999999993 16 MP Last Month    31.2819
Name: 7786, dtype: object
7787 376.8 16 MP Last Month    23.55
Name: 7787, dtype: object
7788 45.51 16 MP Last Month    2.84437
Name: 7788, dtype: object
7789 493.0299999999999 14 MP Last Month    35.2164
Name: 7789, dtype: object
7790 510.75 14 MP Last Month    36.4821
Name: 7790, dtype: object
7791 303.64 14 MP Last Month    21.6886
Name: 7791, dtype: object
7792 212.81 14 MP Last Month    15.2007
Name: 7792, dtype: object
7793 3.57 1 MP Last Month    3.57
Name: 7793, dtype: object
7794 334.34999999999997 14 MP Last Month    23.8821
Name: 7794, dtype: object
7795 377.06 14 MP Last Month    26.9329
Name: 7795, dtype: object
7796 328.06999999999994 14 MP Last Month    23.4336
Name: 7796, dtype: object
7797 91.33000000000001 13 MP Last Month    7.02538
Name: 7797, dtype: object
7798 32.49 14 MP Last Month    2.32071
Name: 7798, dtype: object
7799 60.07000000000001 14 MP Last Month    4.29071
Name: 7799, dtype: object
7800 450.99 14 MP Last Month    32.2136
Name: 7800, dtype: object
7801 330.33 15 MP Last Month    22.022
Name: 7801, dtype: object
7802 375.01 15 MP Last Month    25.0007
Name: 7802, dtype: object
7803 34.17 15 MP Last Month    2.278
Name: 7803, dtype: object
7804 385.18999999999994 14 MP Last Month    27.5136
Name: 7804, dtype: object
7805 462.06000000000006 15 MP Last Month    30.804
Name: 7805, dtype: object
7806 376.07 14 MP Last Month    26.8621
Name: 7806, dtype: object
7807 136.82999999999998 15 MP Last Month    9.122
Name: 7807, dtype: object
7808 39.27 15 MP Last Month    2.618
Name: 7808, dtype: object
7809 395.23 13 MP Last Month    30.4023
Name: 7809, dtype: object
7810 229.6 15 MP Last Month    15.3067
Name: 7810, dtype: object
7811 79.3 10 MP Last Month    7.93
Name: 7811, dtype: object
7812 20.55 9 MP Last Month    2.28333
Name: 7812, dtype: object
7813 227.06000000000003 15 MP Last Month    15.1373
Name: 7813, dtype: object
7814 442.85 15 MP Last Month    29.5233
Name: 7814, dtype: object
7815 430.03000000000003 15 MP Last Month    28.6687
Name: 7815, dtype: object
7816 0 0 MP Last Month    0
Name: 7816, dtype: object
7817 384.8 15 MP Last Month    25.6533
Name: 7817, dtype: object
7818 260.94 12 MP Last Month    21.745
Name: 7818, dtype: object
7819 39.34 12 MP Last Month    3.27833
Name: 7819, dtype: object
7820 311.47999999999996 15 MP Last Month    20.7653
Name: 7820, dtype: object
7821 7.199999999999999 5 MP Last Month    1.44
Name: 7821, dtype: object
7822 326.35999999999996 14 MP Last Month    23.3114
Name: 7822, dtype: object
7823 256.38 15 MP Last Month    17.092
Name: 7823, dtype: object
7824 377.40999999999997 14 MP Last Month    26.9579
Name: 7824, dtype: object
7825 25.810000000000002 14 MP Last Month    1.84357
Name: 7825, dtype: object
7826 520.84 14 MP Last Month    37.2029
Name: 7826, dtype: object
7827 210.89 15 MP Last Month    14.0593
Name: 7827, dtype: object
7828 196.28 14 MP Last Month    14.02
Name: 7828, dtype: object
7829 451.93 15 MP Last Month    30.1287
Name: 7829, dtype: object
7830 231.13 13 MP Last Month    17.7792
Name: 7830, dtype: object
7831 250.36999999999998 15 MP Last Month    16.6913
Name: 7831, dtype: object
7832 512.8 15 MP Last Month    34.1867
Name: 7832, dtype: object
7833 545.62 15 MP Last Month    36.3747
Name: 7833, dtype: object
7834 0.0 1 MP Last Month    0
Name: 7834, dtype: object
7835 111.98000000000002 15 MP Last Month    7.46533
Name: 7835, dtype: object
7836 237.61999999999995 15 MP Last Month    15.8413
Name: 7836, dtype: object
7837 354.44 14 MP Last Month    25.3171
Name: 7837, dtype: object
7838 438.46999999999997 14 MP Last Month    31.3193
Name: 7838, dtype: object
7839 84.32 7 MP Last Month    12.0457
Name: 7839, dtype: object
7840 143.73 10 MP Last Month    14.373
Name: 7840, dtype: object
7841 375.59000000000003 13 MP Last Month    28.8915
Name: 7841, dtype: object
7842 398.55 14 MP Last Month    28.4679
Name: 7842, dtype: object
7843 240.63 13 MP Last Month    18.51
Name: 7843, dtype: object
7844 439.9599999999999 14 MP Last Month    31.4257
Name: 7844, dtype: object
7845 342.73 14 MP Last Month    24.4807
Name: 7845, dtype: object
7846 16.65 13 MP Last Month    1.28077
Name: 7846, dtype: object
7847 336.07 12 MP Last Month    28.0058
Name: 7847, dtype: object
7848 304.89 12 MP Last Month    25.4075
Name: 7848, dtype: object
7849 111.86 10 MP Last Month    11.186
Name: 7849, dtype: object
7850 76.13 11 MP Last Month    6.92091
Name: 7850, dtype: object
7851 12.870000000000001 9 MP Last Month    1.43
Name: 7851, dtype: object
7852 257.02 12 MP Last Month    21.4183
Name: 7852, dtype: object
7853 304.28 10 MP Last Month    30.428
Name: 7853, dtype: object
7854 406.65000000000003 12 MP Last Month    33.8875
Name: 7854, dtype: object
7855 429.35999999999996 12 MP Last Month    35.78
Name: 7855, dtype: object
7856 133.41 12 MP Last Month    11.1175
Name: 7856, dtype: object
7857 57.370000000000005 11 MP Last Month    5.21545
Name: 7857, dtype: object
7858 93.63999999999999 3 MP Last Month    31.2133
Name: 7858, dtype: object
7859 503.01000000000005 14 MP Last Month    35.9293
Name: 7859, dtype: object
7860 174.28 10 MP Last Month    17.428
Name: 7860, dtype: object
7861 156.34 12 MP Last Month    13.0283
Name: 7861, dtype: object
7862 342.71999999999997 14 MP Last Month    24.48
Name: 7862, dtype: object
7863 503.51 14 MP Last Month    35.965
Name: 7863, dtype: object
7864 173.47000000000003 14 MP Last Month    12.3907
Name: 7864, dtype: object

7865 341.3 13 MP Last Month    26.2538
Name: 7865, dtype: object
7866 298.06 14 MP Last Month    21.29
Name: 7866, dtype: object
7867 243.77999999999997 14 MP Last Month    17.4129
Name: 7867, dtype: object
7868 282.47 14 MP Last Month    20.1764
Name: 7868, dtype: object
7869 518.7600000000001 14 MP Last Month    37.0543
Name: 7869, dtype: object
7870 414.46 13 MP Last Month    31.8815
Name: 7870, dtype: object
7871 76.25 3 MP Last Month    25.4167
Name: 7871, dtype: object
7872 34.510000000000005 14 MP Last Month    2.465
Name: 7872, dtype: object
7873 532.01 15 MP Last Month    35.4673
Name: 7873, dtype: object
7874 393.93999999999994 13 MP Last Month    30.3031
Name: 7874, dtype: object
7875 163.36999999999998 11 MP Last Month    14.8518
Name: 7875, dtype: object
7876 389.56 15 MP Last Month    25.9707
Name: 7876, dtype: object
7877 134.77 15 MP Last Month    8.98467
Name: 7877, dtype: object
7878 315.14 15 MP Last Month    21.0093
Name: 7878, dtype: object
7879 524.49 15 MP Last Month    34.966
Name: 7879, dtype: object
7880 0.0 1 MP Last Month    0
Name: 7880, dtype: object
7881 42.13 15 MP Last Month    2.80867
Name: 7881, dtype: object
7882 391.14 14 MP Last Month    27.9386
Name: 7882, dtype: object
7883 382.40000000000003 14 MP Last Month    27.3143
Name: 7883, dtype: object
7884 131.75 14 MP Last Month    9.41071
Name: 7884, dtype: object
7885 4.53 6 MP Last Month    0.755
Name: 7885, dtype: object
7886 436.95 14 MP Last Month    31.2107
Name: 7886, dtype: object
7887 307.76000000000005 14 MP Last Month    21.9829
Name: 7887, dtype: object
7888 375.40999999999997 14 MP Last Month    26.815
Name: 7888, dtype: object
7889 243.58000000000004 14 MP Last Month    17.3986
Name: 7889, dtype: object
7890 349.95000000000005 13 MP Last Month    26.9192
Name: 7890, dtype: object
7891 364.61 14 MP Last Month    26.0436
Name: 7891, dtype: object
7892 3.3 4 MP Last Month    0.825
Name: 7892, dtype: object
7893 31.78 14 MP Last Month    2.27
Name: 7893, dtype: object
7894 491.57 14 MP Last Month    35.1121
Name: 7894, dtype: object
7895 423.6699999999999 14 MP Last Month    30.2621
Name: 7895, dtype: object
7896 419.94 14 MP Last Month    29.9957
Name: 7896, dtype: object
7897 393.58000000000004 14 MP Last Month    28.1129
Name: 7897, dtype: object
7898 444.4100000000001 14 MP Last Month    31.7436
Name: 7898, dtype: object
7899 81.16 13 MP Last Month    6.24308
Name: 7899, dtype: object
7900 110.69 14 MP Last Month    7.90643
Name: 7900, dtype: object
7901 272.65 14 MP Last Month    19.475
Name: 7901, dtype: object
7902 215.82999999999996 14 MP Last Month    15.4164
Name: 7902, dtype: object
7903 137.14000000000001 9 MP Last Month    15.2378
Name: 7903, dtype: object
7904 350.59000000000003 13 MP Last Month    26.9685
Name: 7904, dtype: object
7905 285.61 9 MP Last Month    31.7344
Name: 7905, dtype: object
7906 262.87 14 MP Last Month    18.7764
Name: 7906, dtype: object
7907 162.06 13 MP Last Month    12.4662
Name: 7907, dtype: object
7908 442.1100000000001 13 MP Last Month    34.0085
Name: 7908, dtype: object
7909 440.60999999999996 13 MP Last Month    33.8931
Name: 7909, dtype: object
7910 327.21999999999997 13 MP Last Month    25.1708
Name: 7910, dtype: object
7911 107.20999999999998 13 MP Last Month    8.24692
Name: 7911, dtype: object
7912 19.61 13 MP Last Month    1.50846
Name: 7912, dtype: object
7913 14.07 13 MP Last Month    1.08231
Name: 7913, dtype: object
7914 477.76999999999987 14 MP Last Month    34.1264
Name: 7914, dtype: object
7915 369.43 14 MP Last Month    26.3879
Name: 7915, dtype: object
7916 181.81 14 MP Last Month    12.9864
Name: 7916, dtype: object
7917 340.7300000000001 15 MP Last Month    22.7153
Name: 7917, dtype: object
7918 231.6 13 MP Last Month    17.8154
Name: 7918, dtype: object
7919 272.53000000000003 15 MP Last Month    18.1687
Name: 7919, dtype: object
7920 396.62000000000006 15 MP Last Month    26.4413
Name: 7920, dtype: object
7921 380.05 15 MP Last Month    25.3367
Name: 7921, dtype: object
7922 421.62000000000006 15 MP Last Month    28.108
Name: 7922, dtype: object
7923 278.83 15 MP Last Month    18.5887
Name: 7923, dtype: object
7924 263.27 15 MP Last Month    17.5513
Name: 7924, dtype: object
7925 423.15999999999997 13 MP Last Month    32.5508
Name: 7925, dtype: object
7926 126.76000000000002 12 MP Last Month    10.5633
Name: 7926, dtype: object
7927 56.260000000000005 13 MP Last Month    4.32769
Name: 7927, dtype: object
7928 259.13 10 MP Last Month    25.913
Name: 7928, dtype: object
7929 394.6 13 MP Last Month    30.3538
Name: 7929, dtype: object
7930 289.42 13 MP Last Month    22.2631
Name: 7930, dtype: object
7931 323.65999999999997 12 MP Last Month    26.9717
Name: 7931, dtype: object
7932 193.30000000000004 13 MP Last Month    14.8692
Name: 7932, dtype: object
7933 11.55 4 MP Last Month    2.8875
Name: 7933, dtype: object
7934 106.27 13 MP Last Month    8.17462
Name: 7934, dtype: object
7935 355.74 13 MP Last Month    27.3646
Name: 7935, dtype: object
7936 73.26 5 MP Last Month    14.652
Name: 7936, dtype: object
7937 352.97 15 MP Last Month    23.5313
Name: 7937, dtype: object
7938 257.4 15 MP Last Month    17.16
Name: 7938, dtype: object
7939 71.26 15 MP Last Month    4.75067
Name: 7939, dtype: object
7940 38.87999999999999 14 MP Last Month    2.77714
Name: 7940, dtype: object
7941 506.52 15 MP Last Month    33.768
Name: 7941, dtype: object
7942 373.14 11 MP Last Month    33.9218
Name: 7942, dtype: object
7943 410.66999999999996 15 MP Last Month    27.378
Name: 7943, dtype: object
7944 476.64 15 MP Last Month    31.776
Name: 7944, dtype: object
7945 244.38000000000002 12 MP Last Month    20.365
Name: 7945, dtype: object
7946 122.84 9 MP Last Month    13.6489
Name: 7946, dtype: object
7947 378.01 14 MP Last Month    27.0007
Name: 7947, dtype: object
7948 298.50999999999993 15 MP Last Month    19.9007
Name: 7948, dtype: object
7949 65.61999999999999 14 MP Last Month    4.68714
Name: 7949, dtype: object
7950 518.41 15 MP Last Month    34.5607
Name: 7950, dtype: object
7951 530.1 15 MP Last Month    35.34
Name: 7951, dtype: object
7952 235.43 15 MP Last Month    15.6953
Name: 7952, dtype: object
7953 333.03999999999996 15 MP Last Month    22.2027
Name: 7953, dtype: object
7954 371.81 13 MP Last Month    28.6008
Name: 7954, dtype: object
7955 357.66999999999996 15 MP Last Month    23.8447
Name: 7955, dtype: object
7956 399.18 15 MP Last Month    26.612
Name: 7956, dtype: object
7957 110.03000000000002 14 MP Last Month    7.85929
Name: 7957, dtype: object
7958 69.65 15 MP Last Month    4.64333
Name: 7958, dtype: object
7959 44.49 15 MP Last Month    2.966
Name: 7959, dtype: object
7960 469.99 13 MP Last Month    36.1531
Name: 7960, dtype: object
7961 226.16000000000003 11 MP Last Month    20.56
Name: 7961, dtype: object
7962 46.55 9 MP Last Month    5.17222
Name: 7962, dtype: object
7963 206.43999999999997 13 MP Last Month    15.88
Name: 7963, dtype: object
7964 271.53999999999996 13 MP Last Month    20.8877
Name: 7964, dtype: object
7965 394.28999999999996 13 MP Last Month    30.33
Name: 7965, dtype: object
7966 124.05 7 MP Last Month    17.7214
Name: 7966, dtype: object
7967 353.72999999999996 13 MP Last Month    27.21
Name: 7967, dtype: object
7968 373.37 13 MP Last Month    28.7208
Name: 7968, dtype: object
7969 159.32000000000002 12 MP Last Month    13.2767
Name: 7969, dtype: object
7970 101.37 12 MP Last Month    8.4475
Name: 7970, dtype: object
7971 23.43 9 MP Last Month    2.60333
Name: 7971, dtype: object
7972 149.73 9 MP Last Month    16.6367
Name: 7972, dtype: object
7973 84.41 12 MP Last Month    7.03417
Name: 7973, dtype: object
7974 381.27 12 MP Last Month    31.7725
Name: 7974, dtype: object
7975 340.94 12 MP Last Month    28.4117
Name: 7975, dtype: object
7976 25.559999999999995 12 MP Last Month    2.13
Name: 7976, dtype: object
7977 363.34999999999997 12 MP Last Month    30.2792
Name: 7977, dtype: object
7978 156.39 9 MP Last Month    17.3767
Name: 7978, dtype: object
7979 43.290000000000006 12 MP Last Month    3.6075
Name: 7979, dtype: object
7980 201.47000000000003 7 MP Last Month    28.7814
Name: 7980, dtype: object
7981 328.91 13 MP Last Month    25.3008
Name: 7981, dtype: object

7982 388.22 13 MP Last Month    29.8631
Name: 7982, dtype: object
7983 55.36 12 MP Last Month    4.61333
Name: 7983, dtype: object
7984 67.84 13 MP Last Month    5.21846
Name: 7984, dtype: object
7985 390.76 12 MP Last Month    32.5633
Name: 7985, dtype: object
7986 462.8600000000001 13 MP Last Month    35.6046
Name: 7986, dtype: object
7987 230.06000000000003 13 MP Last Month    17.6969
Name: 7987, dtype: object
7988 64.37 12 MP Last Month    5.36417
Name: 7988, dtype: object
7989 383.66999999999996 13 MP Last Month    29.5131
Name: 7989, dtype: object
7990 159.82000000000002 12 MP Last Month    13.3183
Name: 7990, dtype: object
7991 91.22 12 MP Last Month    7.60167
Name: 7991, dtype: object
7992 370.24 14 MP Last Month    26.4457
Name: 7992, dtype: object
7993 310.28 14 MP Last Month    22.1629
Name: 7993, dtype: object
7994 422.54999999999995 14 MP Last Month    30.1821
Name: 7994, dtype: object
7995 474.65999999999997 14 MP Last Month    33.9043
Name: 7995, dtype: object
7996 468.16 14 MP Last Month    33.44
Name: 7996, dtype: object
7997 35.779999999999994 11 MP Last Month    3.25273
Name: 7997, dtype: object
7998 181.07 14 MP Last Month    12.9336
Name: 7998, dtype: object
7999 296.5 14 MP Last Month    21.1786
Name: 7999, dtype: object
8000 47.879999999999995 14 MP Last Month    3.42
Name: 8000, dtype: object
8001 316.94 14 MP Last Month    22.6386
Name: 8001, dtype: object
8002 7.2700000000000005 10 MP Last Month    0.727
Name: 8002, dtype: object
8003 250.48000000000002 13 MP Last Month    19.2677
Name: 8003, dtype: object
8004 40.0 13 MP Last Month    3.07692
Name: 8004, dtype: object
8005 528.78 15 MP Last Month    35.252
Name: 8005, dtype: object
8006 495.25 15 MP Last Month    33.0167
Name: 8006, dtype: object
8007 182.56 15 MP Last Month    12.1707
Name: 8007, dtype: object
8008 388.46000000000004 15 MP Last Month    25.8973
Name: 8008, dtype: object
8009 0.0 6 MP Last Month    0
Name: 8009, dtype: object
8010 160.47 7 MP Last Month    22.9243
Name: 8010, dtype: object
8011 509.06 15 MP Last Month    33.9373
Name: 8011, dtype: object
8012 105.25 10 MP Last Month    10.525
Name: 8012, dtype: object
8013 0.0 9 MP Last Month    0
Name: 8013, dtype: object
8014 229.85999999999999 15 MP Last Month    15.324
Name: 8014, dtype: object
8015 407.29999999999995 15 MP Last Month    27.1533
Name: 8015, dtype: object
8016 557.47 15 MP Last Month    37.1647
Name: 8016, dtype: object
8017 29.950000000000003 15 MP Last Month    1.99667
Name: 8017, dtype: object
8018 180.73999999999998 7 MP Last Month    25.82
Name: 8018, dtype: object
8019 365.82 14 MP Last Month    26.13
Name: 8019, dtype: object
8020 389.44000000000005 14 MP Last Month    27.8171
Name: 8020, dtype: object
8021 495.36999999999995 14 MP Last Month    35.3836
Name: 8021, dtype: object
8022 122.25 6 MP Last Month    20.375
Name: 8022, dtype: object
8023 461.00999999999993 14 MP Last Month    32.9293
Name: 8023, dtype: object
8024 2.17 14 MP Last Month    0.155
Name: 8024, dtype: object
8025 325.24000000000007 13 MP Last Month    25.0185
Name: 8025, dtype: object
8026 221.39 14 MP Last Month    15.8136
Name: 8026, dtype: object
8027 278.45 14 MP Last Month    19.8893
Name: 8027, dtype: object
8028 556.02 15 MP Last Month    37.068
Name: 8028, dtype: object
8029 114.2 15 MP Last Month    7.61333
Name: 8029, dtype: object
8030 228.83 15 MP Last Month    15.2553
Name: 8030, dtype: object
8031 93.24 13 MP Last Month    7.17231
Name: 8031, dtype: object
8032 413.33 13 MP Last Month    31.7946
Name: 8032, dtype: object
8033 56.3 15 MP Last Month    3.75333
Name: 8033, dtype: object
8034 312.69000000000005 15 MP Last Month    20.846
Name: 8034, dtype: object
8035 288.89 15 MP Last Month    19.2593
Name: 8035, dtype: object
8036 460.74 15 MP Last Month    30.716
Name: 8036, dtype: object
8037 527.18 14 MP Last Month    37.6557
Name: 8037, dtype: object
8038 416.64 15 MP Last Month    27.776
Name: 8038, dtype: object
8039 5.119999999999999 13 MP Last Month    0.393846
Name: 8039, dtype: object
8040 107.78 15 MP Last Month    7.18533
Name: 8040, dtype: object
8041 504.71999999999997 15 MP Last Month    33.648
Name: 8041, dtype: object
8042 161.07 14 MP Last Month    11.505
Name: 8042, dtype: object
8043 346.28000000000003 15 MP Last Month    23.0853
Name: 8043, dtype: object
8044 10.52 5 MP Last Month    2.104
Name: 8044, dtype: object
8045 5.57 6 MP Last Month    0.928333
Name: 8045, dtype: object
8046 454.1699999999999 15 MP Last Month    30.278
Name: 8046, dtype: object
8047 454.35 13 MP Last Month    34.95
Name: 8047, dtype: object
8048 160.45999999999998 14 MP Last Month    11.4614
Name: 8048, dtype: object
8049 507.83000000000004 15 MP Last Month    33.8553
Name: 8049, dtype: object
8050 312.35 13 MP Last Month    24.0269
Name: 8050, dtype: object
8051 132.96999999999997 15 MP Last Month    8.86467
Name: 8051, dtype: object
8052 239.23000000000005 15 MP Last Month    15.9487
Name: 8052, dtype: object
8053 18.63 14 MP Last Month    1.33071
Name: 8053, dtype: object
8054 515.6800000000001 14 MP Last Month    36.8343
Name: 8054, dtype: object
8055 24.22 4 MP Last Month    6.055
Name: 8055, dtype: object
8056 138.91000000000003 14 MP Last Month    9.92214
Name: 8056, dtype: object
8057 464.96999999999997 13 MP Last Month    35.7669
Name: 8057, dtype: object
8058 248.28 15 MP Last Month    16.552
Name: 8058, dtype: object
8059 346.21000000000004 15 MP Last Month    23.0807
Name: 8059, dtype: object
8060 238.47 15 MP Last Month    15.898
Name: 8060, dtype: object
8061 488.07000000000005 15 MP Last Month    32.538
Name: 8061, dtype: object
8062 11.73 15 MP Last Month    0.782
Name: 8062, dtype: object
8063 117.93 15 MP Last Month    7.862
Name: 8063, dtype: object
8064 502.12 14 MP Last Month    35.8657
Name: 8064, dtype: object
8065 155.22 10 MP Last Month    15.522
Name: 8065, dtype: object
8066 30.85 6 MP Last Month    5.14167
Name: 8066, dtype: object
8067 39.660000000000004 14 MP Last Month    2.83286
Name: 8067, dtype: object
8068 412.08 14 MP Last Month    29.4343
Name: 8068, dtype: object
8069 63.53 5 MP Last Month    12.706
Name: 8069, dtype: object
8070 192.15 14 MP Last Month    13.725
Name: 8070, dtype: object
8071 197.96 13 MP Last Month    15.2277
Name: 8071, dtype: object
8072 375.09 14 MP Last Month    26.7921
Name: 8072, dtype: object
8073 207.18 14 MP Last Month    14.7986
Name: 8073, dtype: object
8074 260.79999999999995 14 MP Last Month    18.6286
Name: 8074, dtype: object
8075 370.99 15 MP Last Month    24.7327
Name: 8075, dtype: object
8076 251.52000000000004 13 MP Last Month    19.3477
Name: 8076, dtype: object
8077 407.29 15 MP Last Month    27.1527
Name: 8077, dtype: object
8078 526.0 15 MP Last Month    35.0667
Name: 8078, dtype: object
8079 274.86 12 MP Last Month    22.905
Name: 8079, dtype: object
8080 352.58000000000004 15 MP Last Month    23.5053
Name: 8080, dtype: object
8081 81.54999999999998 15 MP Last Month    5.43667
Name: 8081, dtype: object
8082 332.84000000000003 15 MP Last Month    22.1893
Name: 8082, dtype: object
8083 508.50999999999993 15 MP Last Month    33.9007
Name: 8083, dtype: object
8084 179.60000000000002 14 MP Last Month    12.8286
Name: 8084, dtype: object
8085 215.34 13 MP Last Month    16.5646
Name: 8085, dtype: object
8086 56.38999999999999 15 MP Last Month    3.75933
Name: 8086, dtype: object
8087 475.37000000000006 16 MP Last Month    29.7106
Name: 8087, dtype: object
8088 376.46000000000004 12 MP Last Month    31.3717
Name: 8088, dtype: object
8089 69.71 7 MP Last Month    9.95857
Name: 8089, dtype: object
8090 240.94 16 MP Last Month    15.0587
Name: 8090, dtype: object
8091 105.45 15 MP Last Month    7.03
Name: 8091, dtype: object
8092 446.78000000000003 16 MP Last Month    27.9238
Name: 8092, dtype: object
8093 515.4399999999999 16 MP Last Month    32.215
Name: 8093, dtype: object
8094 291.61000000000007 16 MP Last Month    18.2256
Name: 8094, dtype: object
8095 163.93 10 MP Last Month    16.393
Name: 8095, dtype: object
8096 79.88 16 MP Last Month    4.9925
Name: 8096, dtype: object
8097 505.2799999999999 16 MP Last Month    31.58
Name: 8097, dtype: object
8098 373.05 16 MP Last Month    23.3156
Name: 8098, dtype: object
8099 43.129999999999995 16 MP Last Month    2.69562
Name: 8099, dtype: object

8100 271.29 13 MP Last Month    20.8685
Name: 8100, dtype: object
8101 336.1 14 MP Last Month    24.0071
Name: 8101, dtype: object
8102 424.78999999999996 15 MP Last Month    28.3193
Name: 8102, dtype: object
8103 183.93000000000004 15 MP Last Month    12.262
Name: 8103, dtype: object
8104 364.46999999999997 15 MP Last Month    24.298
Name: 8104, dtype: object
8105 63.879999999999995 7 MP Last Month    9.12571
Name: 8105, dtype: object
8106 265.81 14 MP Last Month    18.9864
Name: 8106, dtype: object
8107 212.76999999999998 8 MP Last Month    26.5962
Name: 8107, dtype: object
8108 269.5 12 MP Last Month    22.4583
Name: 8108, dtype: object
8109 100.47 15 MP Last Month    6.698
Name: 8109, dtype: object
8110 258.46000000000004 14 MP Last Month    18.4614
Name: 8110, dtype: object
8111 445.62000000000006 15 MP Last Month    29.708
Name: 8111, dtype: object
8112 430.71000000000004 15 MP Last Month    28.714
Name: 8112, dtype: object
8113 235.96000000000004 15 MP Last Month    15.7307
Name: 8113, dtype: object
8114 391.96999999999997 15 MP Last Month    26.1313
Name: 8114, dtype: object
8115 53.660000000000004 12 MP Last Month    4.47167
Name: 8115, dtype: object
8116 281.47 13 MP Last Month    21.6515
Name: 8116, dtype: object
8117 304.91 15 MP Last Month    20.3273
Name: 8117, dtype: object
8118 11.62 5 MP Last Month    2.324
Name: 8118, dtype: object
8119 368.34 13 MP Last Month    28.3338
Name: 8119, dtype: object
8120 376.01 14 MP Last Month    26.8579
Name: 8120, dtype: object
8121 250.07999999999998 15 MP Last Month    16.672
Name: 8121, dtype: object
8122 335.39 14 MP Last Month    23.9564
Name: 8122, dtype: object
8123 30.080000000000002 14 MP Last Month    2.14857
Name: 8123, dtype: object
8124 363.74 14 MP Last Month    25.9814
Name: 8124, dtype: object
8125 439.82 14 MP Last Month    31.4157
Name: 8125, dtype: object
8126 79.48 7 MP Last Month    11.3543
Name: 8126, dtype: object
8127 264.58 14 MP Last Month    18.8986
Name: 8127, dtype: object
8128 380.94 13 MP Last Month    29.3031
Name: 8128, dtype: object
8129 412.55000000000007 14 MP Last Month    29.4679
Name: 8129, dtype: object
8130 451.4799999999999 14 MP Last Month    32.2486
Name: 8130, dtype: object
8131 345.91 14 MP Last Month    24.7079
Name: 8131, dtype: object
8132 20.119999999999997 13 MP Last Month    1.54769
Name: 8132, dtype: object
8133 491.6600000000001 14 MP Last Month    35.1186
Name: 8133, dtype: object
8134 248.35000000000002 14 MP Last Month    17.7393
Name: 8134, dtype: object
8135 353.15 14 MP Last Month    25.225
Name: 8135, dtype: object
8136 403.09000000000003 13 MP Last Month    31.0069
Name: 8136, dtype: object
8137 0 0 MP Last Month    0
Name: 8137, dtype: object
8138 404.61999999999995 14 MP Last Month    28.9014
Name: 8138, dtype: object
8139 125.68 14 MP Last Month    8.97714
Name: 8139, dtype: object
8140 278.53 14 MP Last Month    19.895
Name: 8140, dtype: object
8141 18.21 14 MP Last Month    1.30071
Name: 8141, dtype: object
8142 410.97 14 MP Last Month    29.355
Name: 8142, dtype: object
8143 235.83 14 MP Last Month    16.845
Name: 8143, dtype: object
8144 368.8500000000001 14 MP Last Month    26.3464
Name: 8144, dtype: object
8145 126.43 11 MP Last Month    11.4936
Name: 8145, dtype: object
8146 362.57 13 MP Last Month    27.89
Name: 8146, dtype: object
8147 76.78 12 MP Last Month    6.39833
Name: 8147, dtype: object
8148 332.76 13 MP Last Month    25.5969
Name: 8148, dtype: object
8149 279.59 13 MP Last Month    21.5069
Name: 8149, dtype: object
8150 0 0 MP Last Month    0
Name: 8150, dtype: object
8151 336.10999999999996 11 MP Last Month    30.5555
Name: 8151, dtype: object
8152 463.53 13 MP Last Month    35.6562
Name: 8152, dtype: object
8153 440.13000000000005 13 MP Last Month    33.8562
Name: 8153, dtype: object
8154 57.370000000000005 12 MP Last Month    4.78083
Name: 8154, dtype: object
8155 145.43 13 MP Last Month    11.1869
Name: 8155, dtype: object
8156 502.5800000000001 14 MP Last Month    35.8986
Name: 8156, dtype: object
8157 94.67 3 MP Last Month    31.5567
Name: 8157, dtype: object
8158 188.7 11 MP Last Month    17.1545
Name: 8158, dtype: object
8159 349.4 14 MP Last Month    24.9571
Name: 8159, dtype: object
8160 162.79 13 MP Last Month    12.5223
Name: 8160, dtype: object
8161 507.53000000000003 14 MP Last Month    36.2521
Name: 8161, dtype: object
8162 307.11 14 MP Last Month    21.9364
Name: 8162, dtype: object
8163 181.93000000000004 14 MP Last Month    12.995
Name: 8163, dtype: object
8164 342.14 13 MP Last Month    26.3185
Name: 8164, dtype: object
8165 8.48 3 MP Last Month    2.82667
Name: 8165, dtype: object
8166 288.15 14 MP Last Month    20.5821
Name: 8166, dtype: object
8167 549.1300000000001 15 MP Last Month    36.6087
Name: 8167, dtype: object
8168 408.52 13 MP Last Month    31.4246
Name: 8168, dtype: object
8169 93.48 4 MP Last Month    23.37
Name: 8169, dtype: object
8170 31.82 14 MP Last Month    2.27286
Name: 8170, dtype: object
8171 523.71 15 MP Last Month    34.914
Name: 8171, dtype: object
8172 390.82000000000005 13 MP Last Month    30.0631
Name: 8172, dtype: object
8173 395.54 15 MP Last Month    26.3693
Name: 8173, dtype: object
8174 163.67 11 MP Last Month    14.8791
Name: 8174, dtype: object
8175 309.02 15 MP Last Month    20.6013
Name: 8175, dtype: object
8176 130.05 15 MP Last Month    8.67
Name: 8176, dtype: object
8177 519.88 15 MP Last Month    34.6587
Name: 8177, dtype: object
8178 12.3 2 MP Last Month    6.15
Name: 8178, dtype: object
8179 42.09 15 MP Last Month    2.806
Name: 8179, dtype: object
8180 214.58999999999997 7 MP Last Month    30.6557
Name: 8180, dtype: object
8181 322.67 13 MP Last Month    24.8208
Name: 8181, dtype: object
8182 63.07000000000001 13 MP Last Month    4.85154
Name: 8182, dtype: object
8183 387.72 13 MP Last Month    29.8246
Name: 8183, dtype: object
8184 69.74000000000001 13 MP Last Month    5.36462
Name: 8184, dtype: object
8185 39.690000000000005 12 MP Last Month    3.3075
Name: 8185, dtype: object
8186 472.32000000000005 13 MP Last Month    36.3323
Name: 8186, dtype: object
8187 401.46000000000004 12 MP Last Month    33.455
Name: 8187, dtype: object
8188 221.81 13 MP Last Month    17.0623
Name: 8188, dtype: object
8189 382.14 13 MP Last Month    29.3954
Name: 8189, dtype: object
8190 179.49 12 MP Last Month    14.9575
Name: 8190, dtype: object
8191 69.77999999999999 12 MP Last Month    5.815
Name: 8191, dtype: object
8192 318.36 10 MP Last Month    31.836
Name: 8192, dtype: object
8193 237.47000000000003 14 MP Last Month    16.9621
Name: 8193, dtype: object
8194 375.29 13 MP Last Month    28.8685
Name: 8194, dtype: object
8195 137.06 13 MP Last Month    10.5431
Name: 8195, dtype: object
8196 446.99000000000007 13 MP Last Month    34.3838
Name: 8196, dtype: object
8197 436.66999999999996 13 MP Last Month    33.59
Name: 8197, dtype: object
8198 323.34 13 MP Last Month    24.8723
Name: 8198, dtype: object
8199 84.97999999999999 13 MP Last Month    6.53692
Name: 8199, dtype: object
8200 16.29 13 MP Last Month    1.25308
Name: 8200, dtype: object
8201 14.07 13 MP Last Month    1.08231
Name: 8201, dtype: object
8202 479.9999999999999 14 MP Last Month    34.2857
Name: 8202, dtype: object
8203 368.45 14 MP Last Month    26.3179
Name: 8203, dtype: object
8204 179.58 14 MP Last Month    12.8271
Name: 8204, dtype: object
8205 587.55 16 MP Last Month    36.7219
Name: 8205, dtype: object
8206 152.47 16 MP Last Month    9.52937
Name: 8206, dtype: object
8207 238.56 16 MP Last Month    14.91
Name: 8207, dtype: object
8208 93.24 14 MP Last Month    6.66
Name: 8208, dtype: object
8209 336.27000000000004 16 MP Last Month    21.0169
Name: 8209, dtype: object
8210 84.65 16 MP Last Month    5.29063
Name: 8210, dtype: object
8211 460.74 16 MP Last Month    28.7963
Name: 8211, dtype: object
8212 303.40999999999997 16 MP Last Month    18.9631
Name: 8212, dtype: object
8213 109.86 16 MP Last Month    6.86625
Name: 8213, dtype: object
8214 564.4799999999999 15 MP Last Month    37.632
Name: 8214, dtype: object
8215 437.32 16 MP Last Month    27.3325
Name: 8215, dtype: object
8216 8.85 14 MP Last Month    0.632143
Name: 8216, dtype: object
8217 269.55 15 MP Last Month    17.97
Name: 8217, dtype: object

8218 360.51000000000005 15 MP Last Month    24.034
Name: 8218, dtype: object
8219 373.24999999999994 15 MP Last Month    24.8833
Name: 8219, dtype: object
8220 18.32 13 MP Last Month    1.40923
Name: 8220, dtype: object
8221 260.94 14 MP Last Month    18.6386
Name: 8221, dtype: object
8222 268.42 14 MP Last Month    19.1729
Name: 8222, dtype: object
8223 0 0 MP Last Month    0
Name: 8223, dtype: object
8224 266.32000000000005 15 MP Last Month    17.7547
Name: 8224, dtype: object
8225 2.17 1 MP Last Month    2.17
Name: 8225, dtype: object
8226 428.35 15 MP Last Month    28.5567
Name: 8226, dtype: object
8227 421.41 15 MP Last Month    28.094
Name: 8227, dtype: object
8228 264.51000000000005 15 MP Last Month    17.634
Name: 8228, dtype: object
8229 236.78999999999996 7 MP Last Month    33.8271
Name: 8229, dtype: object
8230 394.57 13 MP Last Month    30.3515
Name: 8230, dtype: object
8231 104.30999999999999 13 MP Last Month    8.02385
Name: 8231, dtype: object
8232 105.27 9 MP Last Month    11.6967
Name: 8232, dtype: object
8233 134.89999999999998 10 MP Last Month    13.49
Name: 8233, dtype: object
8234 456.0400000000001 13 MP Last Month    35.08
Name: 8234, dtype: object
8235 400.52 13 MP Last Month    30.8092
Name: 8235, dtype: object
8236 154.74999999999997 7 MP Last Month    22.1071
Name: 8236, dtype: object
8237 196.26 11 MP Last Month    17.8418
Name: 8237, dtype: object
8238 24.159999999999997 13 MP Last Month    1.85846
Name: 8238, dtype: object
8239 449.97 13 MP Last Month    34.6131
Name: 8239, dtype: object
8240 158.13000000000002 12 MP Last Month    13.1775
Name: 8240, dtype: object
8241 196.18 13 MP Last Month    15.0908
Name: 8241, dtype: object
8242 474.64 15 MP Last Month    31.6427
Name: 8242, dtype: object
8243 270.27000000000004 15 MP Last Month    18.018
Name: 8243, dtype: object
8244 365.65000000000003 15 MP Last Month    24.3767
Name: 8244, dtype: object
8245 71.26 15 MP Last Month    4.75067
Name: 8245, dtype: object
8246 38.87999999999999 15 MP Last Month    2.592
Name: 8246, dtype: object
8247 380.29 11 MP Last Month    34.5718
Name: 8247, dtype: object
8248 483.40999999999997 15 MP Last Month    32.2273
Name: 8248, dtype: object
8249 416.43999999999994 15 MP Last Month    27.7627
Name: 8249, dtype: object
8250 121.89 9 MP Last Month    13.5433
Name: 8250, dtype: object
8251 244.58 12 MP Last Month    20.3817
Name: 8251, dtype: object
8252 386.41 14 MP Last Month    27.6007
Name: 8252, dtype: object
8253 292.37 15 MP Last Month    19.4913
Name: 8253, dtype: object
8254 64.7 14 MP Last Month    4.62143
Name: 8254, dtype: object
8255 541.45 15 MP Last Month    36.0967
Name: 8255, dtype: object
8256 521.43 15 MP Last Month    34.762
Name: 8256, dtype: object
8257 247.63 15 MP Last Month    16.5087
Name: 8257, dtype: object
8258 336.96 15 MP Last Month    22.464
Name: 8258, dtype: object
8259 346.74 15 MP Last Month    23.116
Name: 8259, dtype: object
8260 394.14 13 MP Last Month    30.3185
Name: 8260, dtype: object
8261 334.77 14 MP Last Month    23.9121
Name: 8261, dtype: object
8262 3.22 2 MP Last Month    1.61
Name: 8262, dtype: object
8263 399.0299999999999 15 MP Last Month    26.602
Name: 8263, dtype: object
8264 129.51000000000002 14 MP Last Month    9.25071
Name: 8264, dtype: object
8265 64.35 15 MP Last Month    4.29
Name: 8265, dtype: object
8266 34.86 15 MP Last Month    2.324
Name: 8266, dtype: object
8267 482.64 13 MP Last Month    37.1262
Name: 8267, dtype: object
8268 178.88000000000002 14 MP Last Month    12.7771
Name: 8268, dtype: object
8269 202.98999999999998 12 MP Last Month    16.9158
Name: 8269, dtype: object
8270 208.1 14 MP Last Month    14.8643
Name: 8270, dtype: object
8271 438.71000000000004 14 MP Last Month    31.3364
Name: 8271, dtype: object
8272 218.89000000000001 14 MP Last Month    15.635
Name: 8272, dtype: object
8273 25.57 2 MP Last Month    12.785
Name: 8273, dtype: object
8274 501.64000000000004 14 MP Last Month    35.8314
Name: 8274, dtype: object
8275 474.85 14 MP Last Month    33.9179
Name: 8275, dtype: object
8276 241.93999999999997 14 MP Last Month    17.2814
Name: 8276, dtype: object
8277 82.28 14 MP Last Month    5.87714
Name: 8277, dtype: object
8278 349.82000000000005 11 MP Last Month    31.8018
Name: 8278, dtype: object
8279 167.1 10 MP Last Month    16.71
Name: 8279, dtype: object
8280 86.33 12 MP Last Month    7.19417
Name: 8280, dtype: object
8281 184.01 10 MP Last Month    18.401
Name: 8281, dtype: object
8282 384.24 12 MP Last Month    32.02
Name: 8282, dtype: object
8283 347.61 12 MP Last Month    28.9675
Name: 8283, dtype: object
8284 25.559999999999995 12 MP Last Month    2.13
Name: 8284, dtype: object
8285 364.64 12 MP Last Month    30.3867
Name: 8285, dtype: object
8286 157.60999999999999 9 MP Last Month    17.5122
Name: 8286, dtype: object
8287 48.910000000000004 12 MP Last Month    4.07583
Name: 8287, dtype: object
8288 363.65999999999997 13 MP Last Month    27.9738
Name: 8288, dtype: object
8289 364.45000000000005 13 MP Last Month    28.0346
Name: 8289, dtype: object
8290 138.73 13 MP Last Month    10.6715
Name: 8290, dtype: object
8291 4.53 5 MP Last Month    0.906
Name: 8291, dtype: object
8292 422.74999999999994 13 MP Last Month    32.5192
Name: 8292, dtype: object
8293 339.96 13 MP Last Month    26.1508
Name: 8293, dtype: object
8294 297.24 13 MP Last Month    22.8646
Name: 8294, dtype: object
8295 239.70000000000002 13 MP Last Month    18.4385
Name: 8295, dtype: object
8296 0 0 MP Last Month    0
Name: 8296, dtype: object
8297 326.32 12 MP Last Month    27.1933
Name: 8297, dtype: object
8298 340.42 13 MP Last Month    26.1862
Name: 8298, dtype: object
8299 31.78 13 MP Last Month    2.44462
Name: 8299, dtype: object
8300 384.75000000000006 14 MP Last Month    27.4821
Name: 8300, dtype: object
8301 184.74 7 MP Last Month    26.3914
Name: 8301, dtype: object
8302 242.7 8 MP Last Month    30.3375
Name: 8302, dtype: object
8303 395.02 14 MP Last Month    28.2157
Name: 8303, dtype: object
8304 431.81 14 MP Last Month    30.8436
Name: 8304, dtype: object
8305 496.64 14 MP Last Month    35.4743
Name: 8305, dtype: object
8306 141.02 7 MP Last Month    20.1457
Name: 8306, dtype: object
8307 98.48 11 MP Last Month    8.95273
Name: 8307, dtype: object
8308 2.17 14 MP Last Month    0.155
Name: 8308, dtype: object
8309 343.5400000000001 13 MP Last Month    26.4262
Name: 8309, dtype: object
8310 236.76 14 MP Last Month    16.9114
Name: 8310, dtype: object
8311 261.84 14 MP Last Month    18.7029
Name: 8311, dtype: object
8312 416.33 15 MP Last Month    27.7553
Name: 8312, dtype: object
8313 283.7 15 MP Last Month    18.9133
Name: 8313, dtype: object
8314 28.82 15 MP Last Month    1.92133
Name: 8314, dtype: object
8315 424.89 13 MP Last Month    32.6838
Name: 8315, dtype: object
8316 209.1 9 MP Last Month    23.2333
Name: 8316, dtype: object
8317 392.69 15 MP Last Month    26.1793
Name: 8317, dtype: object
8318 465.62 15 MP Last Month    31.0413
Name: 8318, dtype: object
8319 309.05 15 MP Last Month    20.6033
Name: 8319, dtype: object
8320 17.32 15 MP Last Month    1.15467
Name: 8320, dtype: object
8321 475.47999999999996 15 MP Last Month    31.6987
Name: 8321, dtype: object
8322 228.03999999999996 15 MP Last Month    15.2027
Name: 8322, dtype: object
8323 117.03000000000003 15 MP Last Month    7.802
Name: 8323, dtype: object
8324 32.44 5 MP Last Month    6.488
Name: 8324, dtype: object
8325 33.85 15 MP Last Month    2.25667
Name: 8325, dtype: object
8326 252.63000000000005 15 MP Last Month    16.842
Name: 8326, dtype: object
8327 152.86 14 MP Last Month    10.9186
Name: 8327, dtype: object
8328 461.46000000000004 13 MP Last Month    35.4969
Name: 8328, dtype: object
8329 365.93999999999994 15 MP Last Month    24.396
Name: 8329, dtype: object
8330 266.37999999999994 15 MP Last Month    17.7587
Name: 8330, dtype: object
8331 17.03 15 MP Last Month    1.13533
Name: 8331, dtype: object
8332 249.20999999999998 15 MP Last Month    16.614
Name: 8332, dtype: object
8333 477.33000000000004 15 MP Last Month    31.822
Name: 8333, dtype: object
8334 100.71000000000001 15 MP Last Month    6.714
Name: 8334, dtype: object
8335 507.70000000000005 14 MP Last Month    36.2643
Name: 8335, dtype: object

8336 149.59 10 MP Last Month    14.959
Name: 8336, dtype: object
8337 39.660000000000004 14 MP Last Month    2.83286
Name: 8337, dtype: object
8338 416.36000000000007 14 MP Last Month    29.74
Name: 8338, dtype: object
8339 353.19 13 MP Last Month    27.1685
Name: 8339, dtype: object
8340 194.54999999999998 14 MP Last Month    13.8964
Name: 8340, dtype: object
8341 97.15 6 MP Last Month    16.1917
Name: 8341, dtype: object
8342 254.32999999999998 14 MP Last Month    18.1664
Name: 8342, dtype: object
8343 179.19 13 MP Last Month    13.7838
Name: 8343, dtype: object
8344 37.580000000000005 13 MP Last Month    2.89077
Name: 8344, dtype: object
8345 376.13999999999993 14 MP Last Month    26.8671
Name: 8345, dtype: object
8346 217.07999999999998 14 MP Last Month    15.5057
Name: 8346, dtype: object
8347 425.87 13 MP Last Month    32.7592
Name: 8347, dtype: object
8348 142.79000000000002 13 MP Last Month    10.9838
Name: 8348, dtype: object
8349 45.480000000000004 13 MP Last Month    3.49846
Name: 8349, dtype: object
8350 395.9 13 MP Last Month    30.4538
Name: 8350, dtype: object
8351 290.5 11 MP Last Month    26.4091
Name: 8351, dtype: object
8352 285.33 13 MP Last Month    21.9485
Name: 8352, dtype: object
8353 100.78999999999999 13 MP Last Month    7.75308
Name: 8353, dtype: object
8354 195.32 13 MP Last Month    15.0246
Name: 8354, dtype: object
8355 327.31000000000006 12 MP Last Month    27.2758
Name: 8355, dtype: object
8356 5.18 4 MP Last Month    1.295
Name: 8356, dtype: object
8357 364.17 13 MP Last Month    28.0131
Name: 8357, dtype: object
8358 76.71 5 MP Last Month    15.342
Name: 8358, dtype: object
8359 284.39000000000004 14 MP Last Month    20.3136
Name: 8359, dtype: object
8360 367.14 15 MP Last Month    24.476
Name: 8360, dtype: object
8361 406.90999999999997 15 MP Last Month    27.1273
Name: 8361, dtype: object
8362 526.15 15 MP Last Month    35.0767
Name: 8362, dtype: object
8363 55.769999999999996 15 MP Last Month    3.718
Name: 8363, dtype: object
8364 326.1000000000001 15 MP Last Month    21.74
Name: 8364, dtype: object
8365 305.64000000000004 15 MP Last Month    20.376
Name: 8365, dtype: object
8366 80.93 15 MP Last Month    5.39533
Name: 8366, dtype: object
8367 290.42 12 MP Last Month    24.2017
Name: 8367, dtype: object
8368 192.02 14 MP Last Month    13.7157
Name: 8368, dtype: object
8369 503.22999999999985 15 MP Last Month    33.5487
Name: 8369, dtype: object
8370 231.97 13 MP Last Month    17.8438
Name: 8370, dtype: object
8371 447.0 15 MP Last Month    29.8
Name: 8371, dtype: object
8372 381.7100000000001 12 MP Last Month    31.8092
Name: 8372, dtype: object
8373 72.83 8 MP Last Month    9.10375
Name: 8373, dtype: object
8374 206.09 15 MP Last Month    13.7393
Name: 8374, dtype: object
8375 474.94999999999993 15 MP Last Month    31.6633
Name: 8375, dtype: object
8376 265.92999999999995 15 MP Last Month    17.7287
Name: 8376, dtype: object
8377 167.14 10 MP Last Month    16.714
Name: 8377, dtype: object
8378 83.50000000000001 15 MP Last Month    5.56667
Name: 8378, dtype: object
8379 417.24 15 MP Last Month    27.816
Name: 8379, dtype: object
8380 60.65 11 MP Last Month    5.51364
Name: 8380, dtype: object
8381 470.79999999999995 15 MP Last Month    31.3867
Name: 8381, dtype: object
8382 348.85 15 MP Last Month    23.2567
Name: 8382, dtype: object
8383 40.599999999999994 15 MP Last Month    2.70667
Name: 8383, dtype: object
8384 182.62000000000003 15 MP Last Month    12.1747
Name: 8384, dtype: object
8385 418.73 15 MP Last Month    27.9153
Name: 8385, dtype: object
8386 334.19999999999993 14 MP Last Month    23.8714
Name: 8386, dtype: object
8387 57.02 9 MP Last Month    6.33556
Name: 8387, dtype: object
8388 279.33 13 MP Last Month    21.4869
Name: 8388, dtype: object
8389 361.25999999999993 15 MP Last Month    24.084
Name: 8389, dtype: object
8390 67.6 8 MP Last Month    8.45
Name: 8390, dtype: object
8391 253.26000000000002 14 MP Last Month    18.09
Name: 8391, dtype: object
8392 242.51999999999998 9 MP Last Month    26.9467
Name: 8392, dtype: object
8393 278.0 12 MP Last Month    23.1667
Name: 8393, dtype: object
8394 104.19 15 MP Last Month    6.946
Name: 8394, dtype: object
8395 238.16 14 MP Last Month    17.0114
Name: 8395, dtype: object
8396 453.25 15 MP Last Month    30.2167
Name: 8396, dtype: object
8397 440.71000000000004 15 MP Last Month    29.3807
Name: 8397, dtype: object
8398 237.51000000000002 15 MP Last Month    15.834
Name: 8398, dtype: object
8399 339.46999999999997 13 MP Last Month    26.1131
Name: 8399, dtype: object
8400 401.11 15 MP Last Month    26.7407
Name: 8400, dtype: object
8401 304.40000000000003 14 MP Last Month    21.7429
Name: 8401, dtype: object
8402 307.84000000000003 15 MP Last Month    20.5227
Name: 8402, dtype: object
8403 64.48 12 MP Last Month    5.37333
Name: 8403, dtype: object
8404 381.58000000000004 14 MP Last Month    27.2557
Name: 8404, dtype: object
8405 327.57 14 MP Last Month    23.3979
Name: 8405, dtype: object
8406 251.00999999999996 15 MP Last Month    16.734
Name: 8406, dtype: object
8407 26.929999999999996 14 MP Last Month    1.92357
Name: 8407, dtype: object
8408 472.56000000000006 13 MP Last Month    36.3508
Name: 8408, dtype: object
8409 194.85999999999999 13 MP Last Month    14.9892
Name: 8409, dtype: object
8410 232.16000000000003 11 MP Last Month    21.1055
Name: 8410, dtype: object
8411 64.15 10 MP Last Month    6.415
Name: 8411, dtype: object
8412 157.59 12 MP Last Month    13.1325
Name: 8412, dtype: object
8413 360.89 13 MP Last Month    27.7608
Name: 8413, dtype: object
8414 403.02 13 MP Last Month    31.0015
Name: 8414, dtype: object
8415 125.34 7 MP Last Month    17.9057
Name: 8415, dtype: object
8416 277.84000000000003 13 MP Last Month    21.3723
Name: 8416, dtype: object
8417 296.01000000000005 12 MP Last Month    24.6675
Name: 8417, dtype: object
8418 122.27000000000001 12 MP Last Month    10.1892
Name: 8418, dtype: object
8419 21.43 9 MP Last Month    2.38111
Name: 8419, dtype: object
8420 452.5 14 MP Last Month    32.3214
Name: 8420, dtype: object
8421 370.39 14 MP Last Month    26.4564
Name: 8421, dtype: object
8422 293.53 15 MP Last Month    19.5687
Name: 8422, dtype: object
8423 86.85 7 MP Last Month    12.4071
Name: 8423, dtype: object
8424 377.49 13 MP Last Month    29.0377
Name: 8424, dtype: object
8425 422.81999999999994 14 MP Last Month    30.2014
Name: 8425, dtype: object
8426 0 0 MP Last Month    0
Name: 8426, dtype: object
8427 0 0 MP Last Month    0
Name: 8427, dtype: object
8428 458.3299999999999 14 MP Last Month    32.7379
Name: 8428, dtype: object
8429 345.28000000000003 14 MP Last Month    24.6629
Name: 8429, dtype: object
8430 20.119999999999997 13 MP Last Month    1.54769
Name: 8430, dtype: object
8431 86.33 13 MP Last Month    6.64077
Name: 8431, dtype: object
8432 381.5400000000001 12 MP Last Month    31.795
Name: 8432, dtype: object
8433 183.9 11 MP Last Month    16.7182
Name: 8433, dtype: object
8434 364.86 13 MP Last Month    28.0662
Name: 8434, dtype: object
8435 416.42 13 MP Last Month    32.0323
Name: 8435, dtype: object
8436 25.559999999999995 13 MP Last Month    1.96615
Name: 8436, dtype: object
8437 199.82999999999998 11 MP Last Month    18.1664
Name: 8437, dtype: object
8438 173.57999999999998 10 MP Last Month    17.358
Name: 8438, dtype: object
8439 395.71 13 MP Last Month    30.4392
Name: 8439, dtype: object
8440 497.00999999999993 14 MP Last Month    35.5007
Name: 8440, dtype: object
8441 363.20000000000005 14 MP Last Month    25.9429
Name: 8441, dtype: object
8442 256.36 14 MP Last Month    18.3114
Name: 8442, dtype: object
8443 13.84 12 MP Last Month    1.15333
Name: 8443, dtype: object
8444 0.0 1 MP Last Month    0
Name: 8444, dtype: object
8445 405.2099999999999 14 MP Last Month    28.9436
Name: 8445, dtype: object
8446 270.57 14 MP Last Month    19.3264
Name: 8446, dtype: object
8447 121.67 14 MP Last Month    8.69071
Name: 8447, dtype: object
8448 16.259999999999998 14 MP Last Month    1.16143
Name: 8448, dtype: object
8449 417.57000000000005 14 MP Last Month    29.8264
Name: 8449, dtype: object
8450 375.30000000000007 14 MP Last Month    26.8071
Name: 8450, dtype: object
8451 237.23000000000002 14 MP Last Month    16.945
Name: 8451, dtype: object

8452 363.8300000000001 13 MP Last Month    27.9869
Name: 8452, dtype: object
8453 134.4 11 MP Last Month    12.2182
Name: 8453, dtype: object
8454 12.870000000000001 10 MP Last Month    1.287
Name: 8454, dtype: object
8455 338.05999999999995 13 MP Last Month    26.0046
Name: 8455, dtype: object
8456 72.60000000000001 12 MP Last Month    6.05
Name: 8456, dtype: object
8457 263.65 13 MP Last Month    20.2808
Name: 8457, dtype: object
8458 12.28 1 MP Last Month    12.28
Name: 8458, dtype: object
8459 456.95 13 MP Last Month    35.15
Name: 8459, dtype: object
8460 442.24 13 MP Last Month    34.0185
Name: 8460, dtype: object
8461 143.85000000000002 13 MP Last Month    11.0654
Name: 8461, dtype: object
8462 43.42 12 MP Last Month    3.61833
Name: 8462, dtype: object
8463 123.77000000000001 4 MP Last Month    30.9425
Name: 8463, dtype: object
8464 534.6000000000001 15 MP Last Month    35.64
Name: 8464, dtype: object
8465 362.42999999999995 15 MP Last Month    24.162
Name: 8465, dtype: object
8466 207.1 12 MP Last Month    17.2583
Name: 8466, dtype: object
8467 541.08 15 MP Last Month    36.072
Name: 8467, dtype: object
8468 330.88 15 MP Last Month    22.0587
Name: 8468, dtype: object
8469 117.99 6 MP Last Month    19.665
Name: 8469, dtype: object
8470 201.01000000000005 15 MP Last Month    13.4007
Name: 8470, dtype: object
8471 363.78999999999996 14 MP Last Month    25.985
Name: 8471, dtype: object
8472 12.68 4 MP Last Month    3.17
Name: 8472, dtype: object
8473 316.96999999999997 15 MP Last Month    21.1313
Name: 8473, dtype: object
8474 410.99 14 MP Last Month    29.3564
Name: 8474, dtype: object
8475 243.86999999999998 8 MP Last Month    30.4837
Name: 8475, dtype: object
8476 343.72 14 MP Last Month    24.5514
Name: 8476, dtype: object
8477 74.10000000000001 14 MP Last Month    5.29286
Name: 8477, dtype: object
8478 39.690000000000005 13 MP Last Month    3.05308
Name: 8478, dtype: object
8479 69.79 14 MP Last Month    4.985
Name: 8479, dtype: object
8480 432.93000000000006 13 MP Last Month    33.3023
Name: 8480, dtype: object
8481 507.75000000000006 14 MP Last Month    36.2679
Name: 8481, dtype: object
8482 238.34 14 MP Last Month    17.0243
Name: 8482, dtype: object
8483 69.77999999999999 13 MP Last Month    5.36769
Name: 8483, dtype: object
8484 409.31 14 MP Last Month    29.2364
Name: 8484, dtype: object
8485 200.31 13 MP Last Month    15.4085
Name: 8485, dtype: object
8486 358.83000000000004 13 MP Last Month    27.6023
Name: 8486, dtype: object
8487 273.02000000000004 13 MP Last Month    21.0015
Name: 8487, dtype: object
8488 45.42 13 MP Last Month    3.49385
Name: 8488, dtype: object
8489 446.01 13 MP Last Month    34.3085
Name: 8489, dtype: object
8490 391.23999999999995 13 MP Last Month    30.0954
Name: 8490, dtype: object
8491 286.33000000000004 13 MP Last Month    22.0254
Name: 8491, dtype: object
8492 428.99 13 MP Last Month    32.9992
Name: 8492, dtype: object
8493 162.76999999999998 13 MP Last Month    12.5208
Name: 8493, dtype: object
8494 48.85999999999999 12 MP Last Month    4.07167
Name: 8494, dtype: object
8495 267.93 13 MP Last Month    20.61
Name: 8495, dtype: object
8496 293.19 13 MP Last Month    22.5531
Name: 8496, dtype: object
8497 17.17 10 MP Last Month    1.717
Name: 8497, dtype: object
8498 12.75 12 MP Last Month    1.0625
Name: 8498, dtype: object
8499 502.47 14 MP Last Month    35.8907
Name: 8499, dtype: object
8500 464.95 14 MP Last Month    33.2107
Name: 8500, dtype: object
8501 177.72 14 MP Last Month    12.6943
Name: 8501, dtype: object
8502 348.13 14 MP Last Month    24.8664
Name: 8502, dtype: object
8503 7.77 4 MP Last Month    1.9425
Name: 8503, dtype: object
8504 205.10999999999999 14 MP Last Month    14.6507
Name: 8504, dtype: object
8505 185.82 8 MP Last Month    23.2275
Name: 8505, dtype: object
8506 387.78000000000003 14 MP Last Month    27.6986
Name: 8506, dtype: object
8507 108.83 9 MP Last Month    12.0922
Name: 8507, dtype: object
8508 469.30000000000007 14 MP Last Month    33.5214
Name: 8508, dtype: object
8509 26.189999999999998 14 MP Last Month    1.87071
Name: 8509, dtype: object
8510 522.38 14 MP Last Month    37.3129
Name: 8510, dtype: object
8511 0 0 MP Last Month    0
Name: 8511, dtype: object
8512 405.93 13 MP Last Month    31.2254
Name: 8512, dtype: object
8513 399.95 13 MP Last Month    30.7654
Name: 8513, dtype: object
8514 94.89 12 MP Last Month    7.9075
Name: 8514, dtype: object
8515 44.22 11 MP Last Month    4.02
Name: 8515, dtype: object
8516 109.07 8 MP Last Month    13.6337
Name: 8516, dtype: object
8517 13.38 8 MP Last Month    1.6725
Name: 8517, dtype: object
8518 467.03 13 MP Last Month    35.9254
Name: 8518, dtype: object
8519 202.53 13 MP Last Month    15.5792
Name: 8519, dtype: object
8520 0 0 MP Last Month    0
Name: 8520, dtype: object
8521 282.35 13 MP Last Month    21.7192
Name: 8521, dtype: object
8522 378.65000000000003 13 MP Last Month    29.1269
Name: 8522, dtype: object
8523 113.78999999999999 13 MP Last Month    8.75308
Name: 8523, dtype: object
8524 14.18 6 MP Last Month    2.36333
Name: 8524, dtype: object
8525 354.28000000000003 11 MP Last Month    32.2073
Name: 8525, dtype: object
8526 400.57000000000005 13 MP Last Month    30.8131
Name: 8526, dtype: object
8527 222.82000000000002 14 MP Last Month    15.9157
Name: 8527, dtype: object
8528 107.53 13 MP Last Month    8.27154
Name: 8528, dtype: object
8529 439.82 13 MP Last Month    33.8323
Name: 8529, dtype: object
8530 424.97 12 MP Last Month    35.4142
Name: 8530, dtype: object
8531 297.15999999999997 12 MP Last Month    24.7633
Name: 8531, dtype: object
8532 10.09 13 MP Last Month    0.776154
Name: 8532, dtype: object
8533 65.93 13 MP Last Month    5.07154
Name: 8533, dtype: object
8534 7.07 13 MP Last Month    0.543846
Name: 8534, dtype: object
8535 487.26999999999987 14 MP Last Month    34.805
Name: 8535, dtype: object
8536 372.78 14 MP Last Month    26.6271
Name: 8536, dtype: object
8537 177.14000000000001 14 MP Last Month    12.6529
Name: 8537, dtype: object
8538 590.5799999999999 16 MP Last Month    36.9112
Name: 8538, dtype: object
8539 174.32 16 MP Last Month    10.895
Name: 8539, dtype: object
8540 219.88999999999996 16 MP Last Month    13.7431
Name: 8540, dtype: object
8541 446.66 16 MP Last Month    27.9163
Name: 8541, dtype: object
8542 107.58 16 MP Last Month    6.72375
Name: 8542, dtype: object
8543 346.98 16 MP Last Month    21.6863
Name: 8543, dtype: object
8544 113.78 16 MP Last Month    7.11125
Name: 8544, dtype: object
8545 299.13 16 MP Last Month    18.6956
Name: 8545, dtype: object
8546 563.5799999999999 15 MP Last Month    37.572
Name: 8546, dtype: object
8547 450.37000000000006 16 MP Last Month    28.1481
Name: 8547, dtype: object
8548 7.949999999999999 14 MP Last Month    0.567857
Name: 8548, dtype: object
8549 265.77 8 MP Last Month    33.2212
Name: 8549, dtype: object
8550 419.21999999999997 14 MP Last Month    29.9443
Name: 8550, dtype: object
8551 134.89999999999998 11 MP Last Month    12.2636
Name: 8551, dtype: object
8552 113.05 10 MP Last Month    11.305
Name: 8552, dtype: object
8553 111.15999999999998 14 MP Last Month    7.94
Name: 8553, dtype: object
8554 486.81000000000006 14 MP Last Month    34.7721
Name: 8554, dtype: object
8555 424.78999999999996 14 MP Last Month    30.3421
Name: 8555, dtype: object
8556 181.72999999999996 8 MP Last Month    22.7162
Name: 8556, dtype: object
8557 214.23999999999998 12 MP Last Month    17.8533
Name: 8557, dtype: object
8558 29.279999999999998 14 MP Last Month    2.09143
Name: 8558, dtype: object
8559 477.6 14 MP Last Month    34.1143
Name: 8559, dtype: object
8560 178.50000000000003 13 MP Last Month    13.7308
Name: 8560, dtype: object
8561 214.8 14 MP Last Month    15.3429
Name: 8561, dtype: object
8562 411.94 15 MP Last Month    27.4627
Name: 8562, dtype: object
8563 288.09 15 MP Last Month    19.206
Name: 8563, dtype: object
8564 28.82 15 MP Last Month    1.92133
Name: 8564, dtype: object
8565 459.75 15 MP Last Month    30.65
Name: 8565, dtype: object
8566 418.20000000000005 13 MP Last Month    32.1692
Name: 8566, dtype: object
8567 391.26 15 MP Last Month    26.084
Name: 8567, dtype: object
8568 240.57999999999998 10 MP Last Month    24.058
Name: 8568, dtype: object

8569 312.19 15 MP Last Month    20.8127
Name: 8569, dtype: object
8570 17.32 15 MP Last Month    1.15467
Name: 8570, dtype: object
8571 476.03999999999996 15 MP Last Month    31.736
Name: 8571, dtype: object
8572 227.48 15 MP Last Month    15.1653
Name: 8572, dtype: object
8573 110.25000000000003 15 MP Last Month    7.35
Name: 8573, dtype: object
8574 485.02000000000004 14 MP Last Month    34.6443
Name: 8574, dtype: object
8575 186.7 14 MP Last Month    13.3357
Name: 8575, dtype: object
8576 316.16 14 MP Last Month    22.5829
Name: 8576, dtype: object
8577 172.14 14 MP Last Month    12.2957
Name: 8577, dtype: object
8578 451.93999999999994 13 MP Last Month    34.7646
Name: 8578, dtype: object
8579 426.24999999999994 14 MP Last Month    30.4464
Name: 8579, dtype: object
8580 289.40000000000003 13 MP Last Month    22.2615
Name: 8580, dtype: object
8581 25.5 5 MP Last Month    5.1
Name: 8581, dtype: object
8582 479.46999999999997 14 MP Last Month    34.2479
Name: 8582, dtype: object
8583 285.87 12 MP Last Month    23.8225
Name: 8583, dtype: object
8584 122.03 14 MP Last Month    8.71643
Name: 8584, dtype: object
8585 352.1499999999999 15 MP Last Month    23.4767
Name: 8585, dtype: object
8586 305.72 15 MP Last Month    20.3813
Name: 8586, dtype: object
8587 400.53 15 MP Last Month    26.702
Name: 8587, dtype: object
8588 517.7 15 MP Last Month    34.5133
Name: 8588, dtype: object
8589 309.14 12 MP Last Month    25.7617
Name: 8589, dtype: object
8590 330.76000000000005 15 MP Last Month    22.0507
Name: 8590, dtype: object
8591 307.76 15 MP Last Month    20.5173
Name: 8591, dtype: object
8592 65.06 15 MP Last Month    4.33733
Name: 8592, dtype: object
8593 84.88 15 MP Last Month    5.65867
Name: 8593, dtype: object
8594 491.56 15 MP Last Month    32.7707
Name: 8594, dtype: object
8595 197.19 14 MP Last Month    14.085
Name: 8595, dtype: object
8596 231.23999999999998 13 MP Last Month    17.7877
Name: 8596, dtype: object
8597 475.07 15 MP Last Month    31.6713
Name: 8597, dtype: object
8598 360.78000000000003 15 MP Last Month    24.052
Name: 8598, dtype: object
8599 263.8 15 MP Last Month    17.5867
Name: 8599, dtype: object
8600 71.26 15 MP Last Month    4.75067
Name: 8600, dtype: object
8601 414.84000000000003 12 MP Last Month    34.57
Name: 8601, dtype: object
8602 478.23 15 MP Last Month    31.882
Name: 8602, dtype: object
8603 421.66 15 MP Last Month    28.1107
Name: 8603, dtype: object
8604 232.04000000000005 12 MP Last Month    19.3367
Name: 8604, dtype: object
8605 121.47000000000003 9 MP Last Month    13.4967
Name: 8605, dtype: object
8606 293.62999999999994 15 MP Last Month    19.5753
Name: 8606, dtype: object
8607 388.64000000000004 14 MP Last Month    27.76
Name: 8607, dtype: object
8608 64.7 14 MP Last Month    4.62143
Name: 8608, dtype: object
8609 540.1899999999999 15 MP Last Month    36.0127
Name: 8609, dtype: object
8610 257.03000000000003 15 MP Last Month    17.1353
Name: 8610, dtype: object
8611 325.53 15 MP Last Month    21.702
Name: 8611, dtype: object
8612 426.36 14 MP Last Month    30.4543
Name: 8612, dtype: object
8613 354.36 15 MP Last Month    23.624
Name: 8613, dtype: object
8614 3.22 3 MP Last Month    1.07333
Name: 8614, dtype: object
8615 146.83 14 MP Last Month    10.4879
Name: 8615, dtype: object
8616 391.9 15 MP Last Month    26.1267
Name: 8616, dtype: object
8617 29.49 15 MP Last Month    1.966
Name: 8617, dtype: object
8618 69.61999999999999 15 MP Last Month    4.64133
Name: 8618, dtype: object
8619 391.12999999999994 12 MP Last Month    32.5942
Name: 8619, dtype: object
8620 283.48999999999995 13 MP Last Month    21.8069
Name: 8620, dtype: object
8621 326.39 13 MP Last Month    25.1069
Name: 8621, dtype: object
8622 34.17 13 MP Last Month    2.62846
Name: 8622, dtype: object
8623 397.75 13 MP Last Month    30.5962
Name: 8623, dtype: object
8624 269.66 10 MP Last Month    26.966
Name: 8624, dtype: object
8625 336.76 12 MP Last Month    28.0633
Name: 8625, dtype: object
8626 325.89 12 MP Last Month    27.1575
Name: 8626, dtype: object
8627 118.85999999999999 13 MP Last Month    9.14308
Name: 8627, dtype: object
8628 334.25999999999993 11 MP Last Month    30.3873
Name: 8628, dtype: object
8629 87.77 11 MP Last Month    7.97909
Name: 8629, dtype: object
8630 39.27 13 MP Last Month    3.02077
Name: 8630, dtype: object
8631 200.65000000000003 13 MP Last Month    15.4346
Name: 8631, dtype: object
8632 517.7600000000001 14 MP Last Month    36.9829
Name: 8632, dtype: object
8633 31.82 13 MP Last Month    2.44769
Name: 8633, dtype: object
8634 372.03 12 MP Last Month    31.0025
Name: 8634, dtype: object
8635 105.81 5 MP Last Month    21.162
Name: 8635, dtype: object
8636 138.45 10 MP Last Month    13.845
Name: 8636, dtype: object
8637 424.87000000000006 13 MP Last Month    32.6823
Name: 8637, dtype: object
8638 375.64000000000004 14 MP Last Month    26.8314
Name: 8638, dtype: object
8639 264.37 14 MP Last Month    18.8836
Name: 8639, dtype: object
8640 493.63 14 MP Last Month    35.2593
Name: 8640, dtype: object
8641 487.56 14 MP Last Month    34.8257
Name: 8641, dtype: object
8642 22.380000000000003 3 MP Last Month    7.46
Name: 8642, dtype: object
8643 42.09 14 MP Last Month    3.00643
Name: 8643, dtype: object
8644 339.47 14 MP Last Month    24.2479
Name: 8644, dtype: object
8645 325.28000000000003 14 MP Last Month    23.2343
Name: 8645, dtype: object
8646 16.15 12 MP Last Month    1.34583
Name: 8646, dtype: object
8647 222.22 13 MP Last Month    17.0938
Name: 8647, dtype: object
8648 291.40999999999997 14 MP Last Month    20.815
Name: 8648, dtype: object
8649 221.95 14 MP Last Month    15.8536
Name: 8649, dtype: object
8650 15.52 1 MP Last Month    15.52
Name: 8650, dtype: object
8651 225.07000000000002 14 MP Last Month    16.0764
Name: 8651, dtype: object
8652 407.96999999999997 14 MP Last Month    29.1407
Name: 8652, dtype: object
8653 388.18 14 MP Last Month    27.7271
Name: 8653, dtype: object
8654 241.35999999999999 14 MP Last Month    17.24
Name: 8654, dtype: object
8655 0.0 1 MP Last Month    0
Name: 8655, dtype: object
8656 55.81 5 MP Last Month    11.162
Name: 8656, dtype: object
8657 164.69 14 MP Last Month    11.7636
Name: 8657, dtype: object
8658 54.53 15 MP Last Month    3.63533
Name: 8658, dtype: object
8659 268.76000000000005 15 MP Last Month    17.9173
Name: 8659, dtype: object
8660 279.7 15 MP Last Month    18.6467
Name: 8660, dtype: object
8661 374.48 15 MP Last Month    24.9653
Name: 8661, dtype: object
8662 449.53 13 MP Last Month    34.5792
Name: 8662, dtype: object
8663 461.38999999999993 15 MP Last Month    30.7593
Name: 8663, dtype: object
8664 259.85 15 MP Last Month    17.3233
Name: 8664, dtype: object
8665 29.03 15 MP Last Month    1.93533
Name: 8665, dtype: object
8666 77.72 15 MP Last Month    5.18133
Name: 8666, dtype: object
8667 517.21 14 MP Last Month    36.9436
Name: 8667, dtype: object
8668 29.78 14 MP Last Month    2.12714
Name: 8668, dtype: object
8669 143.44000000000003 10 MP Last Month    14.344
Name: 8669, dtype: object
8670 154.94 13 MP Last Month    11.9185
Name: 8670, dtype: object
8671 360.99 13 MP Last Month    27.7685
Name: 8671, dtype: object
8672 426.72999999999996 14 MP Last Month    30.4807
Name: 8672, dtype: object
8673 200.2 14 MP Last Month    14.3
Name: 8673, dtype: object
8674 120.10000000000001 7 MP Last Month    17.1571
Name: 8674, dtype: object
8675 383.12 14 MP Last Month    27.3657
Name: 8675, dtype: object
8676 252.43 14 MP Last Month    18.0307
Name: 8676, dtype: object
8677 201.31 14 MP Last Month    14.3793
Name: 8677, dtype: object
8678 27.7 13 MP Last Month    2.13077
Name: 8678, dtype: object
8679 448.36 15 MP Last Month    29.8907
Name: 8679, dtype: object
8680 200.98000000000002 15 MP Last Month    13.3987
Name: 8680, dtype: object
8681 406.9400000000001 13 MP Last Month    31.3031
Name: 8681, dtype: object
8682 88.17999999999999 9 MP Last Month    9.79778
Name: 8682, dtype: object
8683 56.81 13 MP Last Month    4.37
Name: 8683, dtype: object
8684 469.5999999999999 15 MP Last Month    31.3067
Name: 8684, dtype: object
8685 263.47999999999996 15 MP Last Month    17.5653
Name: 8685, dtype: object
8686 415.2 15 MP Last Month    27.68
Name: 8686, dtype: object

8687 93.89000000000001 15 MP Last Month    6.25933
Name: 8687, dtype: object
8688 177.89000000000001 10 MP Last Month    17.789
Name: 8688, dtype: object
8689 348.95000000000005 15 MP Last Month    23.2633
Name: 8689, dtype: object
8690 40.44 15 MP Last Month    2.696
Name: 8690, dtype: object
8691 470.21 15 MP Last Month    31.3473
Name: 8691, dtype: object
8692 456.18 15 MP Last Month    30.412
Name: 8692, dtype: object
8693 440.6600000000001 15 MP Last Month    29.3773
Name: 8693, dtype: object
8694 222.74000000000004 15 MP Last Month    14.8493
Name: 8694, dtype: object
8695 323.53000000000003 15 MP Last Month    21.5687
Name: 8695, dtype: object
8696 344.92999999999995 13 MP Last Month    26.5331
Name: 8696, dtype: object
8697 416.11 15 MP Last Month    27.7407
Name: 8697, dtype: object
8698 64.48 12 MP Last Month    5.37333
Name: 8698, dtype: object
8699 302.88 15 MP Last Month    20.192
Name: 8699, dtype: object
8700 385.18 14 MP Last Month    27.5129
Name: 8700, dtype: object
8701 337.04999999999995 14 MP Last Month    24.075
Name: 8701, dtype: object
8702 247.36 15 MP Last Month    16.4907
Name: 8702, dtype: object
8703 26.929999999999996 14 MP Last Month    1.92357
Name: 8703, dtype: object
8704 467.75 13 MP Last Month    35.9808
Name: 8704, dtype: object
8705 158.53 14 MP Last Month    11.3236
Name: 8705, dtype: object
8706 450.79 14 MP Last Month    32.1993
Name: 8706, dtype: object
8707 221.62 14 MP Last Month    15.83
Name: 8707, dtype: object
8708 198.76 14 MP Last Month    14.1971
Name: 8708, dtype: object
8709 57.75 3 MP Last Month    19.25
Name: 8709, dtype: object
8710 495.84000000000003 14 MP Last Month    35.4171
Name: 8710, dtype: object
8711 461.68 14 MP Last Month    32.9771
Name: 8711, dtype: object
8712 196.12 12 MP Last Month    16.3433
Name: 8712, dtype: object
8713 224.61999999999998 14 MP Last Month    16.0443
Name: 8713, dtype: object
8714 63.9 14 MP Last Month    4.56429
Name: 8714, dtype: object
8715 466.98999999999995 13 MP Last Month    35.9223
Name: 8715, dtype: object
8716 225.95000000000002 11 MP Last Month    20.5409
Name: 8716, dtype: object
8717 191.89 13 MP Last Month    14.7608
Name: 8717, dtype: object
8718 66.55000000000001 11 MP Last Month    6.05
Name: 8718, dtype: object
8719 315.13999999999993 12 MP Last Month    26.2617
Name: 8719, dtype: object
8720 278.89000000000004 13 MP Last Month    21.4531
Name: 8720, dtype: object
8721 364.9 13 MP Last Month    28.0692
Name: 8721, dtype: object
8722 410.71000000000004 13 MP Last Month    31.5931
Name: 8722, dtype: object
8723 131.49 7 MP Last Month    18.7843
Name: 8723, dtype: object
8724 159.99 12 MP Last Month    13.3325
Name: 8724, dtype: object
8725 143.82000000000002 12 MP Last Month    11.985
Name: 8725, dtype: object
8726 301.61000000000007 12 MP Last Month    25.1342
Name: 8726, dtype: object
8727 289.76 15 MP Last Month    19.3173
Name: 8727, dtype: object
8728 374.85 14 MP Last Month    26.775
Name: 8728, dtype: object
8729 471.04 14 MP Last Month    33.6457
Name: 8729, dtype: object
8730 368.02000000000004 13 MP Last Month    28.3092
Name: 8730, dtype: object
8731 422.75 14 MP Last Month    30.1964
Name: 8731, dtype: object
8732 3.08 1 MP Last Month    3.08
Name: 8732, dtype: object
8733 3.08 1 MP Last Month    3.08
Name: 8733, dtype: object
8734 355.46000000000004 14 MP Last Month    25.39
Name: 8734, dtype: object
8735 453.93 14 MP Last Month    32.4236
Name: 8735, dtype: object
8736 23.199999999999996 13 MP Last Month    1.78462
Name: 8736, dtype: object
8737 107.82 11 MP Last Month    9.80182
Name: 8737, dtype: object
8738 504.9199999999999 14 MP Last Month    36.0657
Name: 8738, dtype: object
8739 265.38 14 MP Last Month    18.9557
Name: 8739, dtype: object
8740 364.00000000000006 14 MP Last Month    26
Name: 8740, dtype: object
8741 0.0 2 MP Last Month    0
Name: 8741, dtype: object
8742 417.43999999999994 14 MP Last Month    29.8171
Name: 8742, dtype: object
8743 266.31999999999994 14 MP Last Month    19.0229
Name: 8743, dtype: object
8744 144.11999999999998 14 MP Last Month    10.2943
Name: 8744, dtype: object
8745 13.84 12 MP Last Month    1.15333
Name: 8745, dtype: object
8746 16.259999999999998 14 MP Last Month    1.16143
Name: 8746, dtype: object
8747 424.75 14 MP Last Month    30.3393
Name: 8747, dtype: object
8748 380.0199999999999 14 MP Last Month    27.1443
Name: 8748, dtype: object
8749 239.52 14 MP Last Month    17.1086
Name: 8749, dtype: object
8750 350.16 13 MP Last Month    26.9354
Name: 8750, dtype: object
8751 325.7 13 MP Last Month    25.0538
Name: 8751, dtype: object
8752 148.42000000000002 11 MP Last Month    13.4927
Name: 8752, dtype: object
8753 74.69 12 MP Last Month    6.22417
Name: 8753, dtype: object
8754 23.4 10 MP Last Month    2.34
Name: 8754, dtype: object
8755 19.03 2 MP Last Month    9.515
Name: 8755, dtype: object
8756 276.5 13 MP Last Month    21.2692
Name: 8756, dtype: object
8757 447.1600000000001 13 MP Last Month    34.3969
Name: 8757, dtype: object
8758 428.64000000000004 13 MP Last Month    32.9723
Name: 8758, dtype: object
8759 152.44 13 MP Last Month    11.7262
Name: 8759, dtype: object
8760 46.28 12 MP Last Month    3.85667
Name: 8760, dtype: object
8761 0 0 MP Last Month    0
Name: 8761, dtype: object
8762 534.1700000000001 15 MP Last Month    35.6113
Name: 8762, dtype: object
8763 125.48 4 MP Last Month    31.37
Name: 8763, dtype: object
8764 223.35 13 MP Last Month    17.1808
Name: 8764, dtype: object
8765 358.9299999999999 15 MP Last Month    23.9287
Name: 8765, dtype: object
8766 385.64 15 MP Last Month    25.7093
Name: 8766, dtype: object
8767 543.14 15 MP Last Month    36.2093
Name: 8767, dtype: object
8768 333.1199999999999 15 MP Last Month    22.208
Name: 8768, dtype: object
8769 102.00999999999999 6 MP Last Month    17.0017
Name: 8769, dtype: object
8770 18.509999999999998 5 MP Last Month    3.702
Name: 8770, dtype: object
8771 322.25000000000006 15 MP Last Month    21.4833
Name: 8771, dtype: object
8772 197.44 15 MP Last Month    13.1627
Name: 8772, dtype: object
8773 150.6 13 MP Last Month    11.5846
Name: 8773, dtype: object
8774 368.30000000000007 13 MP Last Month    28.3308
Name: 8774, dtype: object
8775 371.26 13 MP Last Month    28.5585
Name: 8775, dtype: object
8776 4.53 5 MP Last Month    0.906
Name: 8776, dtype: object
8777 425.86999999999995 13 MP Last Month    32.7592
Name: 8777, dtype: object
8778 339.15 13 MP Last Month    26.0885
Name: 8778, dtype: object
8779 305.18 13 MP Last Month    23.4754
Name: 8779, dtype: object
8780 244.84 13 MP Last Month    18.8338
Name: 8780, dtype: object
8781 0.0 1 MP Last Month    0
Name: 8781, dtype: object
8782 31.78 13 MP Last Month    2.44462
Name: 8782, dtype: object
8783 337.17 12 MP Last Month    28.0975
Name: 8783, dtype: object
8784 398.46000000000004 14 MP Last Month    28.4614
Name: 8784, dtype: object
8785 286.37000000000006 14 MP Last Month    20.455
Name: 8785, dtype: object
8786 485.71 14 MP Last Month    34.6936
Name: 8786, dtype: object
8787 429.85999999999996 14 MP Last Month    30.7043
Name: 8787, dtype: object
8788 314.63000000000005 14 MP Last Month    22.4736
Name: 8788, dtype: object
8789 57.02 14 MP Last Month    4.07286
Name: 8789, dtype: object
8790 52.43999999999999 13 MP Last Month    4.03385
Name: 8790, dtype: object
8791 175.23999999999998 14 MP Last Month    12.5171
Name: 8791, dtype: object
8792 312.42 14 MP Last Month    22.3157
Name: 8792, dtype: object
8793 296.01 14 MP Last Month    21.1436
Name: 8793, dtype: object
8794 0 0 MP Last Month    0
Name: 8794, dtype: object
8795 17.17 11 MP Last Month    1.56091
Name: 8795, dtype: object
8796 12.75 13 MP Last Month    0.980769
Name: 8796, dtype: object
8797 464.25000000000006 14 MP Last Month    33.1607
Name: 8797, dtype: object
8798 505.89 14 MP Last Month    36.135
Name: 8798, dtype: object
8799 351.53000000000003 14 MP Last Month    25.1093
Name: 8799, dtype: object
8800 177.54999999999998 14 MP Last Month    12.6821
Name: 8800, dtype: object
8801 214.6 9 MP Last Month    23.8444
Name: 8801, dtype: object
8802 460.63 14 MP Last Month    32.9021
Name: 8802, dtype: object
8803 128.48 10 MP Last Month    12.848
Name: 8803, dtype: object
8804 0.0 10 MP Last Month    0
Name: 8804, dtype: object

8805 185.73999999999998 14 MP Last Month    13.2671
Name: 8805, dtype: object
8806 526.5 14 MP Last Month    37.6071
Name: 8806, dtype: object
8807 12.98 1 MP Last Month    12.98
Name: 8807, dtype: object
8808 376.68 14 MP Last Month    26.9057
Name: 8808, dtype: object
8809 381.73 14 MP Last Month    27.2664
Name: 8809, dtype: object
8810 112.87 5 MP Last Month    22.574
Name: 8810, dtype: object
8811 233.98000000000002 8 MP Last Month    29.2475
Name: 8811, dtype: object
8812 178.19 7 MP Last Month    25.4557
Name: 8812, dtype: object
8813 490.54 14 MP Last Month    35.0386
Name: 8813, dtype: object
8814 425.35999999999996 14 MP Last Month    30.3829
Name: 8814, dtype: object
8815 161.32000000000002 8 MP Last Month    20.165
Name: 8815, dtype: object
8816 80.0 11 MP Last Month    7.27273
Name: 8816, dtype: object
8817 2.17 14 MP Last Month    0.155
Name: 8817, dtype: object
8818 255.97000000000003 14 MP Last Month    18.2836
Name: 8818, dtype: object
8819 240.51 14 MP Last Month    17.1793
Name: 8819, dtype: object
8820 394.62 13 MP Last Month    30.3554
Name: 8820, dtype: object
8821 401.73 13 MP Last Month    30.9023
Name: 8821, dtype: object
8822 0 0 MP Last Month    0
Name: 8822, dtype: object
8823 102.35 8 MP Last Month    12.7937
Name: 8823, dtype: object
8824 456.21000000000004 13 MP Last Month    35.0931
Name: 8824, dtype: object
8825 371.0999999999999 12 MP Last Month    30.925
Name: 8825, dtype: object
8826 294.88 13 MP Last Month    22.6831
Name: 8826, dtype: object
8827 210.65 13 MP Last Month    16.2038
Name: 8827, dtype: object
8828 113.89 12 MP Last Month    9.49083
Name: 8828, dtype: object
8829 375.15 13 MP Last Month    28.8577
Name: 8829, dtype: object
8830 165.7 10 MP Last Month    16.57
Name: 8830, dtype: object
8831 135.01 13 MP Last Month    10.3854
Name: 8831, dtype: object
8832 5.62 1 MP Last Month    5.62
Name: 8832, dtype: object
8833 585.08 16 MP Last Month    36.5675
Name: 8833, dtype: object
8834 189.62 16 MP Last Month    11.8513
Name: 8834, dtype: object
8835 143.73 11 MP Last Month    13.0664
Name: 8835, dtype: object
8836 191.83999999999997 16 MP Last Month    11.99
Name: 8836, dtype: object
8837 136.55 16 MP Last Month    8.53438
Name: 8837, dtype: object
8838 456.65999999999997 16 MP Last Month    28.5412
Name: 8838, dtype: object
8839 356.34000000000003 16 MP Last Month    22.2713
Name: 8839, dtype: object
8840 376.01 12 MP Last Month    31.3342
Name: 8840, dtype: object
8841 283.70000000000005 16 MP Last Month    17.7313
Name: 8841, dtype: object
8842 559.3 15 MP Last Month    37.2867
Name: 8842, dtype: object
8843 457.62000000000006 16 MP Last Month    28.6013
Name: 8843, dtype: object
8844 120.83000000000001 16 MP Last Month    7.55188
Name: 8844, dtype: object
8845 11.5 14 MP Last Month    0.821429
Name: 8845, dtype: object
8846 280.27 8 MP Last Month    35.0337
Name: 8846, dtype: object
8847 425.77 14 MP Last Month    30.4121
Name: 8847, dtype: object
8848 117.42 11 MP Last Month    10.6745
Name: 8848, dtype: object
8849 108.18999999999998 14 MP Last Month    7.72786
Name: 8849, dtype: object
8850 486.79 14 MP Last Month    34.7707
Name: 8850, dtype: object
8851 420.15999999999997 14 MP Last Month    30.0114
Name: 8851, dtype: object
8852 193.42999999999998 8 MP Last Month    24.1787
Name: 8852, dtype: object
8853 202.86999999999995 12 MP Last Month    16.9058
Name: 8853, dtype: object
8854 128.83 11 MP Last Month    11.7118
Name: 8854, dtype: object
8855 29.279999999999998 14 MP Last Month    2.09143
Name: 8855, dtype: object
8856 472.20000000000005 14 MP Last Month    33.7286
Name: 8856, dtype: object
8857 181.76000000000002 13 MP Last Month    13.9815
Name: 8857, dtype: object
8858 204.86 14 MP Last Month    14.6329
Name: 8858, dtype: object
8859 288.94 15 MP Last Month    19.2627
Name: 8859, dtype: object
8860 416.27 15 MP Last Month    27.7513
Name: 8860, dtype: object
8861 28.82 15 MP Last Month    1.92133
Name: 8861, dtype: object
8862 424.0700000000001 13 MP Last Month    32.6208
Name: 8862, dtype: object
8863 265.21 11 MP Last Month    24.11
Name: 8863, dtype: object
8864 393.20000000000005 15 MP Last Month    26.2133
Name: 8864, dtype: object
8865 466.22999999999996 15 MP Last Month    31.082
Name: 8865, dtype: object
8866 315.55 15 MP Last Month    21.0367
Name: 8866, dtype: object
8867 486.11 15 MP Last Month    32.4073
Name: 8867, dtype: object
8868 222.40999999999997 15 MP Last Month    14.8273
Name: 8868, dtype: object
8869 17.32 15 MP Last Month    1.15467
Name: 8869, dtype: object
8870 95.70000000000002 15 MP Last Month    6.38
Name: 8870, dtype: object
8871 519.47 15 MP Last Month    34.6313
Name: 8871, dtype: object
8872 209.57999999999998 15 MP Last Month    13.972
Name: 8872, dtype: object
8873 333.24 15 MP Last Month    22.216
Name: 8873, dtype: object
8874 450.94 13 MP Last Month    34.6877
Name: 8874, dtype: object
8875 315.63000000000005 14 MP Last Month    22.545
Name: 8875, dtype: object
8876 460.78 15 MP Last Month    30.7187
Name: 8876, dtype: object
8877 178.92 15 MP Last Month    11.928
Name: 8877, dtype: object
8878 25.5 6 MP Last Month    4.25
Name: 8878, dtype: object
8879 309.17 13 MP Last Month    23.7823
Name: 8879, dtype: object
8880 122.03 15 MP Last Month    8.13533
Name: 8880, dtype: object
8881 0 0 MP Last Month    0
Name: 8881, dtype: object
8882 76.56 15 MP Last Month    5.104
Name: 8882, dtype: object
8883 81.54 6 MP Last Month    13.59
Name: 8883, dtype: object
8884 179.31 14 MP Last Month    12.8079
Name: 8884, dtype: object
8885 284.43 15 MP Last Month    18.962
Name: 8885, dtype: object
8886 441.61 13 MP Last Month    33.97
Name: 8886, dtype: object
8887 370.13 15 MP Last Month    24.6753
Name: 8887, dtype: object
8888 298.78 15 MP Last Month    19.9187
Name: 8888, dtype: object
8889 0 0 MP Last Month    0
Name: 8889, dtype: object
8890 456.91999999999996 15 MP Last Month    30.4613
Name: 8890, dtype: object
8891 262.78000000000003 15 MP Last Month    17.5187
Name: 8891, dtype: object
8892 53.75 15 MP Last Month    3.58333
Name: 8892, dtype: object
8893 55.42 15 MP Last Month    3.69467
Name: 8893, dtype: object
8894 426.87999999999994 13 MP Last Month    32.8369
Name: 8894, dtype: object
8895 46.480000000000004 13 MP Last Month    3.57538
Name: 8895, dtype: object
8896 389.70000000000005 13 MP Last Month    29.9769
Name: 8896, dtype: object
8897 311.0 12 MP Last Month    25.9167
Name: 8897, dtype: object
8898 285.12000000000006 13 MP Last Month    21.9323
Name: 8898, dtype: object
8899 326.11000000000007 12 MP Last Month    27.1758
Name: 8899, dtype: object
8900 190.47000000000003 13 MP Last Month    14.6515
Name: 8900, dtype: object
8901 148.74 13 MP Last Month    11.4415
Name: 8901, dtype: object
8902 364.23 13 MP Last Month    28.0177
Name: 8902, dtype: object
8903 276.53 11 MP Last Month    25.1391
Name: 8903, dtype: object
8904 80.18 5 MP Last Month    16.036
Name: 8904, dtype: object
8905 101.25999999999999 13 MP Last Month    7.78923
Name: 8905, dtype: object
8906 372.6499999999999 16 MP Last Month    23.2906
Name: 8906, dtype: object
8907 421.85999999999996 16 MP Last Month    26.3662
Name: 8907, dtype: object
8908 324.3 16 MP Last Month    20.2688
Name: 8908, dtype: object
8909 559.0200000000001 16 MP Last Month    34.9388
Name: 8909, dtype: object
8910 344.57 13 MP Last Month    26.5054
Name: 8910, dtype: object
8911 364.59000000000003 16 MP Last Month    22.7869
Name: 8911, dtype: object
8912 315.71 16 MP Last Month    19.7319
Name: 8912, dtype: object
8913 84.88 16 MP Last Month    5.305
Name: 8913, dtype: object
8914 212.37 15 MP Last Month    14.158
Name: 8914, dtype: object
8915 523.69 16 MP Last Month    32.7306
Name: 8915, dtype: object
8916 244.96999999999997 14 MP Last Month    17.4979
Name: 8916, dtype: object
8917 65.06 16 MP Last Month    4.06625
Name: 8917, dtype: object
8918 478.8500000000001 15 MP Last Month    31.9233
Name: 8918, dtype: object
8919 351.25 15 MP Last Month    23.4167
Name: 8919, dtype: object
8920 252.6 15 MP Last Month    16.84
Name: 8920, dtype: object
8921 67.92 15 MP Last Month    4.528
Name: 8921, dtype: object
8922 449.96000000000004 13 MP Last Month    34.6123
Name: 8922, dtype: object
8923 478.75 15 MP Last Month    31.9167
Name: 8923, dtype: object

8924 431.66999999999996 15 MP Last Month    28.778
Name: 8924, dtype: object
8925 107.14000000000001 9 MP Last Month    11.9044
Name: 8925, dtype: object
8926 225.44 12 MP Last Month    18.7867
Name: 8926, dtype: object
8927 34.66 14 MP Last Month    2.47571
Name: 8927, dtype: object
8928 290.03 15 MP Last Month    19.3353
Name: 8928, dtype: object
8929 399.27 14 MP Last Month    28.5193
Name: 8929, dtype: object
8930 57.67 14 MP Last Month    4.11929
Name: 8930, dtype: object
8931 170.83 14 MP Last Month    12.2021
Name: 8931, dtype: object
8932 391.40000000000003 14 MP Last Month    27.9571
Name: 8932, dtype: object
8933 69.57 8 MP Last Month    8.69625
Name: 8933, dtype: object
8934 0 0 MP Last Month    0
Name: 8934, dtype: object
8935 336.85 14 MP Last Month    24.0607
Name: 8935, dtype: object
8936 329.19999999999993 14 MP Last Month    23.5143
Name: 8936, dtype: object
8937 69.22 9 MP Last Month    7.69111
Name: 8937, dtype: object
8938 274.34999999999997 10 MP Last Month    27.435
Name: 8938, dtype: object
8939 264.03999999999996 11 MP Last Month    24.0036
Name: 8939, dtype: object
8940 212.8 13 MP Last Month    16.3692
Name: 8940, dtype: object
8941 307.86999999999995 14 MP Last Month    21.9907
Name: 8941, dtype: object
8942 421.25999999999993 13 MP Last Month    32.4046
Name: 8942, dtype: object
8943 350.03999999999996 14 MP Last Month    25.0029
Name: 8943, dtype: object
8944 36.89 14 MP Last Month    2.635
Name: 8944, dtype: object
8945 294.86 11 MP Last Month    26.8055
Name: 8945, dtype: object
8946 356.21 13 MP Last Month    27.4008
Name: 8946, dtype: object
8947 423.77 14 MP Last Month    30.2693
Name: 8947, dtype: object
8948 121.57999999999998 14 MP Last Month    8.68429
Name: 8948, dtype: object
8949 361.88 13 MP Last Month    27.8369
Name: 8949, dtype: object
8950 105.16999999999999 12 MP Last Month    8.76417
Name: 8950, dtype: object
8951 41.99 14 MP Last Month    2.99929
Name: 8951, dtype: object
8952 471.3900000000001 16 MP Last Month    29.4619
Name: 8952, dtype: object
8953 488.06 16 MP Last Month    30.5038
Name: 8953, dtype: object
8954 222.74000000000004 16 MP Last Month    13.9213
Name: 8954, dtype: object
8955 441.13 16 MP Last Month    27.5706
Name: 8955, dtype: object
8956 380.47999999999996 14 MP Last Month    27.1771
Name: 8956, dtype: object
8957 351.95000000000005 16 MP Last Month    21.9969
Name: 8957, dtype: object
8958 314.13 16 MP Last Month    19.6331
Name: 8958, dtype: object
8959 78.05000000000001 13 MP Last Month    6.00385
Name: 8959, dtype: object
8960 372.71999999999997 15 MP Last Month    24.848
Name: 8960, dtype: object
8961 417.55 15 MP Last Month    27.8367
Name: 8961, dtype: object
8962 267.91 16 MP Last Month    16.7444
Name: 8962, dtype: object
8963 26.929999999999996 15 MP Last Month    1.79533
Name: 8963, dtype: object
8964 236.29 14 MP Last Month    16.8779
Name: 8964, dtype: object
8965 155.23 14 MP Last Month    11.0879
Name: 8965, dtype: object
8966 466.22999999999996 13 MP Last Month    35.8638
Name: 8966, dtype: object
8967 451.02000000000004 14 MP Last Month    32.2157
Name: 8967, dtype: object
8968 182.19 14 MP Last Month    13.0136
Name: 8968, dtype: object
8969 449.13000000000005 14 MP Last Month    32.0807
Name: 8969, dtype: object
8970 86.22 4 MP Last Month    21.555
Name: 8970, dtype: object
8971 192.20000000000002 12 MP Last Month    16.0167
Name: 8971, dtype: object
8972 494.18000000000006 14 MP Last Month    35.2986
Name: 8972, dtype: object
8973 55.98 14 MP Last Month    3.99857
Name: 8973, dtype: object
8974 237.41999999999996 14 MP Last Month    16.9586
Name: 8974, dtype: object
8975 463.95000000000005 14 MP Last Month    33.1393
Name: 8975, dtype: object
8976 312.66 15 MP Last Month    20.844
Name: 8976, dtype: object
8977 371.81000000000006 14 MP Last Month    26.5579
Name: 8977, dtype: object
8978 7.71 2 MP Last Month    3.855
Name: 8978, dtype: object
8979 394.5 13 MP Last Month    30.3462
Name: 8979, dtype: object
8980 19.759999999999998 2 MP Last Month    9.88
Name: 8980, dtype: object
8981 452.18 14 MP Last Month    32.2986
Name: 8981, dtype: object
8982 364.21000000000004 14 MP Last Month    26.015
Name: 8982, dtype: object
8983 27.029999999999994 14 MP Last Month    1.93071
Name: 8983, dtype: object
8984 95.72 11 MP Last Month    8.70182
Name: 8984, dtype: object
8985 356.43 12 MP Last Month    29.7025
Name: 8985, dtype: object
8986 335.07000000000005 11 MP Last Month    30.4609
Name: 8986, dtype: object
8987 372.89 12 MP Last Month    31.0742
Name: 8987, dtype: object
8988 94.33000000000001 12 MP Last Month    7.86083
Name: 8988, dtype: object
8989 346.31 12 MP Last Month    28.8592
Name: 8989, dtype: object
8990 171.10999999999999 9 MP Last Month    19.0122
Name: 8990, dtype: object
8991 193.12 12 MP Last Month    16.0933
Name: 8991, dtype: object
8992 362.05000000000007 14 MP Last Month    25.8607
Name: 8992, dtype: object
8993 292.03 14 MP Last Month    20.8593
Name: 8993, dtype: object
8994 504.84999999999997 14 MP Last Month    36.0607
Name: 8994, dtype: object
8995 0.0 3 MP Last Month    0
Name: 8995, dtype: object
8996 431.61999999999995 14 MP Last Month    30.83
Name: 8996, dtype: object
8997 256.93999999999994 14 MP Last Month    18.3529
Name: 8997, dtype: object
8998 142.85 14 MP Last Month    10.2036
Name: 8998, dtype: object
8999 13.84 12 MP Last Month    1.15333
Name: 8999, dtype: object
9000 16.259999999999998 14 MP Last Month    1.16143
Name: 9000, dtype: object
9001 432.52000000000004 14 MP Last Month    30.8943
Name: 9001, dtype: object
9002 237.27 14 MP Last Month    16.9479
Name: 9002, dtype: object
9003 5.25 4 MP Last Month    1.3125
Name: 9003, dtype: object
9004 545.7300000000001 15 MP Last Month    36.382
Name: 9004, dtype: object
9005 397.26 13 MP Last Month    30.5585
Name: 9005, dtype: object
9006 513.84 15 MP Last Month    34.256
Name: 9006, dtype: object
9007 403.47 15 MP Last Month    26.898
Name: 9007, dtype: object
9008 448.84000000000003 14 MP Last Month    32.06
Name: 9008, dtype: object
9009 511.95 15 MP Last Month    34.13
Name: 9009, dtype: object
9010 35.86 4 MP Last Month    8.965
Name: 9010, dtype: object
9011 164.01999999999998 11 MP Last Month    14.9109
Name: 9011, dtype: object
9012 129.78 6 MP Last Month    21.63
Name: 9012, dtype: object
9013 361.95000000000005 13 MP Last Month    27.8423
Name: 9013, dtype: object
9014 379.2 13 MP Last Month    29.1692
Name: 9014, dtype: object
9015 172.28 13 MP Last Month    13.2523
Name: 9015, dtype: object
9016 7.91 6 MP Last Month    1.31833
Name: 9016, dtype: object
9017 348.93 13 MP Last Month    26.8408
Name: 9017, dtype: object
9018 306.89 13 MP Last Month    23.6069
Name: 9018, dtype: object
9019 418.55 13 MP Last Month    32.1962
Name: 9019, dtype: object
9020 247.19000000000003 13 MP Last Month    19.0146
Name: 9020, dtype: object
9021 3.38 2 MP Last Month    1.69
Name: 9021, dtype: object
9022 327.58000000000004 12 MP Last Month    27.2983
Name: 9022, dtype: object
9023 306.42 12 MP Last Month    25.535
Name: 9023, dtype: object
9024 57.52 13 MP Last Month    4.42462
Name: 9024, dtype: object
9025 321.87000000000006 14 MP Last Month    22.9907
Name: 9025, dtype: object
9026 415.11000000000007 14 MP Last Month    29.6507
Name: 9026, dtype: object
9027 276.53999999999996 9 MP Last Month    30.7267
Name: 9027, dtype: object
9028 76.77000000000001 14 MP Last Month    5.48357
Name: 9028, dtype: object
9029 27.810000000000002 13 MP Last Month    2.13923
Name: 9029, dtype: object
9030 505.9000000000001 14 MP Last Month    36.1357
Name: 9030, dtype: object
9031 435.42 13 MP Last Month    33.4938
Name: 9031, dtype: object
9032 234.72000000000003 14 MP Last Month    16.7657
Name: 9032, dtype: object
9033 69.79 14 MP Last Month    4.985
Name: 9033, dtype: object
9034 405.48 14 MP Last Month    28.9629
Name: 9034, dtype: object
9035 65.36 13 MP Last Month    5.02769
Name: 9035, dtype: object
9036 214.99 13 MP Last Month    16.5377
Name: 9036, dtype: object
9037 301.09000000000003 14 MP Last Month    21.5064
Name: 9037, dtype: object
9038 415.30999999999995 14 MP Last Month    29.665
Name: 9038, dtype: object
9039 1.12 1 MP Last Month    1.12
Name: 9039, dtype: object
9040 435.92999999999995 14 MP Last Month    31.1379
Name: 9040, dtype: object

9041 484.53 14 MP Last Month    34.6093
Name: 9041, dtype: object
9042 328.45000000000005 14 MP Last Month    23.4607
Name: 9042, dtype: object
9043 171.61999999999998 14 MP Last Month    12.2586
Name: 9043, dtype: object
9044 68.24000000000001 14 MP Last Month    4.87429
Name: 9044, dtype: object
9045 311.45000000000005 14 MP Last Month    22.2464
Name: 9045, dtype: object
9046 291.59999999999997 14 MP Last Month    20.8286
Name: 9046, dtype: object
9047 12.75 13 MP Last Month    0.980769
Name: 9047, dtype: object
9048 17.17 12 MP Last Month    1.43083
Name: 9048, dtype: object
9049 504.21999999999997 14 MP Last Month    36.0157
Name: 9049, dtype: object
9050 464.42 14 MP Last Month    33.1729
Name: 9050, dtype: object
9051 355.70000000000005 14 MP Last Month    25.4071
Name: 9051, dtype: object
9052 180.44 14 MP Last Month    12.8886
Name: 9052, dtype: object
9053 171.12 14 MP Last Month    12.2229
Name: 9053, dtype: object
9054 242.12 10 MP Last Month    24.212
Name: 9054, dtype: object
9055 139.04999999999998 11 MP Last Month    12.6409
Name: 9055, dtype: object
9056 463.57000000000005 14 MP Last Month    33.1121
Name: 9056, dtype: object
9057 0.0 10 MP Last Month    0
Name: 9057, dtype: object
9058 0.0 4 MP Last Month    0
Name: 9058, dtype: object
9059 523.11 14 MP Last Month    37.365
Name: 9059, dtype: object
9060 358.61000000000007 14 MP Last Month    25.615
Name: 9060, dtype: object
9061 29.5 2 MP Last Month    14.75
Name: 9061, dtype: object
9062 199.26 8 MP Last Month    24.9075
Name: 9062, dtype: object
9063 224.23000000000002 8 MP Last Month    28.0288
Name: 9063, dtype: object
9064 382.32000000000005 14 MP Last Month    27.3086
Name: 9064, dtype: object
9065 177.90000000000003 9 MP Last Month    19.7667
Name: 9065, dtype: object
9066 78.23 11 MP Last Month    7.11182
Name: 9066, dtype: object
9067 416.59 14 MP Last Month    29.7564
Name: 9067, dtype: object
9068 2.17 14 MP Last Month    0.155
Name: 9068, dtype: object
9069 491.34000000000003 14 MP Last Month    35.0957
Name: 9069, dtype: object
9070 250.25 14 MP Last Month    17.875
Name: 9070, dtype: object
9071 275.57 14 MP Last Month    19.6836
Name: 9071, dtype: object
9072 354.63 12 MP Last Month    29.5525
Name: 9072, dtype: object
9073 388.66 12 MP Last Month    32.3883
Name: 9073, dtype: object
9074 208.78 13 MP Last Month    16.06
Name: 9074, dtype: object
9075 398.64 12 MP Last Month    33.22
Name: 9075, dtype: object
9076 282.61 12 MP Last Month    23.5508
Name: 9076, dtype: object
9077 77.22 12 MP Last Month    6.435
Name: 9077, dtype: object
9078 41.85 12 MP Last Month    3.4875
Name: 9078, dtype: object
9079 11.61 12 MP Last Month    0.9675
Name: 9079, dtype: object
9080 7.07 12 MP Last Month    0.589167
Name: 9080, dtype: object
9081 448.55999999999995 13 MP Last Month    34.5046
Name: 9081, dtype: object
9082 328.33 13 MP Last Month    25.2562
Name: 9082, dtype: object
9083 167.85000000000002 13 MP Last Month    12.9115
Name: 9083, dtype: object
9084 352.16999999999996 14 MP Last Month    25.155
Name: 9084, dtype: object
9085 306.44 14 MP Last Month    21.8886
Name: 9085, dtype: object
9086 199.29 13 MP Last Month    15.33
Name: 9086, dtype: object
9087 16.15 12 MP Last Month    1.34583
Name: 9087, dtype: object
9088 231.87 14 MP Last Month    16.5621
Name: 9088, dtype: object
9089 224.10000000000002 14 MP Last Month    16.0071
Name: 9089, dtype: object
9090 306.99 14 MP Last Month    21.9279
Name: 9090, dtype: object
9091 25.869999999999997 2 MP Last Month    12.935
Name: 9091, dtype: object
9092 381.96 14 MP Last Month    27.2829
Name: 9092, dtype: object
9093 247.1 14 MP Last Month    17.65
Name: 9093, dtype: object
9094 403.29999999999995 14 MP Last Month    28.8071
Name: 9094, dtype: object
9095 2.72 2 MP Last Month    1.36
Name: 9095, dtype: object
9096 508.81 14 MP Last Month    36.3436
Name: 9096, dtype: object
9097 148.79 10 MP Last Month    14.879
Name: 9097, dtype: object
9098 36.660000000000004 14 MP Last Month    2.61857
Name: 9098, dtype: object
9099 420.28000000000003 14 MP Last Month    30.02
Name: 9099, dtype: object
9100 135.38 8 MP Last Month    16.9225
Name: 9100, dtype: object
9101 348.46 13 MP Last Month    26.8046
Name: 9101, dtype: object
9102 165.76 13 MP Last Month    12.7508
Name: 9102, dtype: object
9103 214.6 14 MP Last Month    15.3286
Name: 9103, dtype: object
9104 381.79999999999995 14 MP Last Month    27.2714
Name: 9104, dtype: object
9105 254.73 14 MP Last Month    18.195
Name: 9105, dtype: object
9106 197.09000000000003 14 MP Last Month    14.0779
Name: 9106, dtype: object
9107 34.58 13 MP Last Month    2.66
Name: 9107, dtype: object
9108 420.12999999999994 13 MP Last Month    32.3177
Name: 9108, dtype: object
9109 49.410000000000004 13 MP Last Month    3.80077
Name: 9109, dtype: object
9110 315.48 12 MP Last Month    26.29
Name: 9110, dtype: object
9111 386.88 13 MP Last Month    29.76
Name: 9111, dtype: object
9112 296.03999999999996 13 MP Last Month    22.7723
Name: 9112, dtype: object
9113 205.38999999999996 13 MP Last Month    15.7992
Name: 9113, dtype: object
9114 138.22 13 MP Last Month    10.6323
Name: 9114, dtype: object
9115 15.43 5 MP Last Month    3.086
Name: 9115, dtype: object
9116 357.7 13 MP Last Month    27.5154
Name: 9116, dtype: object
9117 80.11 5 MP Last Month    16.022
Name: 9117, dtype: object
9118 276.2 11 MP Last Month    25.1091
Name: 9118, dtype: object
9119 101.25999999999999 13 MP Last Month    7.78923
Name: 9119, dtype: object
9120 545.0100000000001 15 MP Last Month    36.334
Name: 9120, dtype: object
9121 289.78000000000003 15 MP Last Month    19.3187
Name: 9121, dtype: object
9122 479.57 14 MP Last Month    34.255
Name: 9122, dtype: object
9123 341.05999999999995 15 MP Last Month    22.7373
Name: 9123, dtype: object
9124 431.33 14 MP Last Month    30.8093
Name: 9124, dtype: object
9125 356.35999999999996 15 MP Last Month    23.7573
Name: 9125, dtype: object
9126 307.43 13 MP Last Month    23.6485
Name: 9126, dtype: object
9127 392.15000000000003 15 MP Last Month    26.1433
Name: 9127, dtype: object
9128 69.61999999999999 15 MP Last Month    4.64133
Name: 9128, dtype: object
9129 166.43000000000004 14 MP Last Month    11.8879
Name: 9129, dtype: object
9130 503.34 14 MP Last Month    35.9529
Name: 9130, dtype: object
9131 248.33 12 MP Last Month    20.6942
Name: 9131, dtype: object
9132 213.91 14 MP Last Month    15.2793
Name: 9132, dtype: object
9133 66.55000000000001 12 MP Last Month    5.54583
Name: 9133, dtype: object
9134 431.26000000000005 14 MP Last Month    30.8043
Name: 9134, dtype: object
9135 347.73999999999995 13 MP Last Month    26.7492
Name: 9135, dtype: object
9136 391.33 14 MP Last Month    27.9521
Name: 9136, dtype: object
9137 146.94 8 MP Last Month    18.3675
Name: 9137, dtype: object
9138 295.11 14 MP Last Month    21.0793
Name: 9138, dtype: object
9139 333.1600000000001 13 MP Last Month    25.6277
Name: 9139, dtype: object
9140 160.27 13 MP Last Month    12.3285
Name: 9140, dtype: object
9141 25.259999999999998 9 MP Last Month    2.80667
Name: 9141, dtype: object
9142 427.23 13 MP Last Month    32.8638
Name: 9142, dtype: object
9143 449.80000000000007 13 MP Last Month    34.6
Name: 9143, dtype: object
9144 330.3399999999999 13 MP Last Month    25.4108
Name: 9144, dtype: object
9145 75.82 12 MP Last Month    6.31833
Name: 9145, dtype: object
9146 153.85 13 MP Last Month    11.8346
Name: 9146, dtype: object
9147 357.98 13 MP Last Month    27.5369
Name: 9147, dtype: object
9148 56.46 12 MP Last Month    4.705
Name: 9148, dtype: object
9149 180.10000000000002 12 MP Last Month    15.0083
Name: 9149, dtype: object
9150 37.28 3 MP Last Month    12.4267
Name: 9150, dtype: object
9151 400.52 13 MP Last Month    30.8092
Name: 9151, dtype: object
9152 405.16 13 MP Last Month    31.1662
Name: 9152, dtype: object
9153 79.57 7 MP Last Month    11.3671
Name: 9153, dtype: object
9154 88.35 8 MP Last Month    11.0437
Name: 9154, dtype: object
9155 463.74 13 MP Last Month    35.6723
Name: 9155, dtype: object
9156 369.12999999999994 12 MP Last Month    30.7608
Name: 9156, dtype: object
9157 122.96 12 MP Last Month    10.2467
Name: 9157, dtype: object
9158 211.73 13 MP Last Month    16.2869
Name: 9158, dtype: object

9159 295.97999999999996 13 MP Last Month    22.7677
Name: 9159, dtype: object
9160 387.97999999999996 13 MP Last Month    29.8446
Name: 9160, dtype: object
9161 155.08 10 MP Last Month    15.508
Name: 9161, dtype: object
9162 140.66 13 MP Last Month    10.82
Name: 9162, dtype: object
9163 31.52 15 MP Last Month    2.10133
Name: 9163, dtype: object
9164 586.94 16 MP Last Month    36.6838
Name: 9164, dtype: object
9165 468.96 16 MP Last Month    29.31
Name: 9165, dtype: object
9166 210.79 16 MP Last Month    13.1744
Name: 9166, dtype: object
9167 558.1 15 MP Last Month    37.2067
Name: 9167, dtype: object
9168 366.94 12 MP Last Month    30.5783
Name: 9168, dtype: object
9169 166.8 16 MP Last Month    10.425
Name: 9169, dtype: object
9170 119.76000000000002 16 MP Last Month    7.485
Name: 9170, dtype: object
9171 356.17 16 MP Last Month    22.2606
Name: 9171, dtype: object
9172 450.84 16 MP Last Month    28.1775
Name: 9172, dtype: object
9173 215.01 14 MP Last Month    15.3579
Name: 9173, dtype: object
9174 378.03999999999996 15 MP Last Month    25.2027
Name: 9174, dtype: object
9175 16.15 13 MP Last Month    1.24231
Name: 9175, dtype: object
9176 327.32 15 MP Last Month    21.8213
Name: 9176, dtype: object
9177 253.68 15 MP Last Month    16.912
Name: 9177, dtype: object
9178 29.29 3 MP Last Month    9.76333
Name: 9178, dtype: object
9179 258.52 15 MP Last Month    17.2347
Name: 9179, dtype: object
9180 424.21999999999997 15 MP Last Month    28.2813
Name: 9180, dtype: object
9181 268.08 15 MP Last Month    17.872
Name: 9181, dtype: object
9182 408.42999999999995 15 MP Last Month    27.2287
Name: 9182, dtype: object
9183 2.72 3 MP Last Month    0.906667
Name: 9183, dtype: object
9184 407.59000000000003 16 MP Last Month    25.4744
Name: 9184, dtype: object
9185 315.87 16 MP Last Month    19.7419
Name: 9185, dtype: object
9186 374.18000000000006 16 MP Last Month    23.3863
Name: 9186, dtype: object
9187 558.6700000000001 16 MP Last Month    34.9169
Name: 9187, dtype: object
9188 370.27 14 MP Last Month    26.4479
Name: 9188, dtype: object
9189 315.23999999999995 16 MP Last Month    19.7025
Name: 9189, dtype: object
9190 81.77 16 MP Last Month    5.11062
Name: 9190, dtype: object
9191 510.7 16 MP Last Month    31.9187
Name: 9191, dtype: object
9192 223.86 15 MP Last Month    14.924
Name: 9192, dtype: object
9193 66.18 16 MP Last Month    4.13625
Name: 9193, dtype: object
9194 6.33 2 MP Last Month    3.165
Name: 9194, dtype: object
9195 356.90999999999997 15 MP Last Month    23.794
Name: 9195, dtype: object
9196 479.3800000000001 15 MP Last Month    31.9587
Name: 9196, dtype: object
9197 256.43 15 MP Last Month    17.0953
Name: 9197, dtype: object
9198 67.92 15 MP Last Month    4.528
Name: 9198, dtype: object
9199 456.23 13 MP Last Month    35.0946
Name: 9199, dtype: object
9200 480.45000000000005 15 MP Last Month    32.03
Name: 9200, dtype: object
9201 434.59999999999997 15 MP Last Month    28.9733
Name: 9201, dtype: object
9202 120.71000000000001 10 MP Last Month    12.071
Name: 9202, dtype: object
9203 218.61 12 MP Last Month    18.2175
Name: 9203, dtype: object
9204 33.28999999999999 14 MP Last Month    2.37786
Name: 9204, dtype: object
9205 391.42 14 MP Last Month    27.9586
Name: 9205, dtype: object
9206 296.58 15 MP Last Month    19.772
Name: 9206, dtype: object
9207 57.67 14 MP Last Month    4.11929
Name: 9207, dtype: object
9208 399.68999999999994 13 MP Last Month    30.7454
Name: 9208, dtype: object
9209 436.01 15 MP Last Month    29.0673
Name: 9209, dtype: object
9210 97.44999999999999 10 MP Last Month    9.745
Name: 9210, dtype: object
9211 65.26 13 MP Last Month    5.02
Name: 9211, dtype: object
9212 211.38000000000002 15 MP Last Month    14.092
Name: 9212, dtype: object
9213 108.39000000000001 15 MP Last Month    7.226
Name: 9213, dtype: object
9214 459.12 15 MP Last Month    30.608
Name: 9214, dtype: object
9215 274.13 15 MP Last Month    18.2753
Name: 9215, dtype: object
9216 410.65000000000003 15 MP Last Month    27.3767
Name: 9216, dtype: object
9217 170.76000000000002 10 MP Last Month    17.076
Name: 9217, dtype: object
9218 441.2699999999999 15 MP Last Month    29.418
Name: 9218, dtype: object
9219 350.2300000000001 15 MP Last Month    23.3487
Name: 9219, dtype: object
9220 57.7 15 MP Last Month    3.84667
Name: 9220, dtype: object
9221 276.37 13 MP Last Month    21.2592
Name: 9221, dtype: object
9222 311.12 13 MP Last Month    23.9323
Name: 9222, dtype: object
9223 44.16 13 MP Last Month    3.39692
Name: 9223, dtype: object
9224 5.78 1 MP Last Month    5.78
Name: 9224, dtype: object
9225 326.37999999999994 12 MP Last Month    27.1983
Name: 9225, dtype: object
9226 254.82 10 MP Last Month    25.482
Name: 9226, dtype: object
9227 379.18 13 MP Last Month    29.1677
Name: 9227, dtype: object
9228 120.5 13 MP Last Month    9.26923
Name: 9228, dtype: object
9229 18.17 5 MP Last Month    3.634
Name: 9229, dtype: object
9230 137.44 13 MP Last Month    10.5723
Name: 9230, dtype: object
9231 485.10999999999996 14 MP Last Month    34.6507
Name: 9231, dtype: object
9232 0 0 MP Last Month    0
Name: 9232, dtype: object
9233 470.74 15 MP Last Month    31.3827
Name: 9233, dtype: object
9234 265.40999999999997 15 MP Last Month    17.694
Name: 9234, dtype: object
9235 213.33 13 MP Last Month    16.41
Name: 9235, dtype: object
9236 179.76 15 MP Last Month    11.984
Name: 9236, dtype: object
9237 104.53999999999999 5 MP Last Month    20.908
Name: 9237, dtype: object
9238 513.9000000000001 15 MP Last Month    34.26
Name: 9238, dtype: object
9239 475.81000000000006 15 MP Last Month    31.7207
Name: 9239, dtype: object
9240 0 0 MP Last Month    0
Name: 9240, dtype: object
9241 250.28999999999996 15 MP Last Month    16.686
Name: 9241, dtype: object
9242 72.8 15 MP Last Month    4.85333
Name: 9242, dtype: object
9243 504.07000000000005 15 MP Last Month    33.6047
Name: 9243, dtype: object
9244 57.86 10 MP Last Month    5.786
Name: 9244, dtype: object
9245 394.46000000000004 15 MP Last Month    26.2973
Name: 9245, dtype: object
9246 325.7099999999999 15 MP Last Month    21.714
Name: 9246, dtype: object
9247 40.14 3 MP Last Month    13.38
Name: 9247, dtype: object
9248 433.92 14 MP Last Month    30.9943
Name: 9248, dtype: object
9249 414.92999999999995 14 MP Last Month    29.6379
Name: 9249, dtype: object
9250 21.86 3 MP Last Month    7.28667
Name: 9250, dtype: object
9251 391.51000000000005 15 MP Last Month    26.1007
Name: 9251, dtype: object
9252 493.91 15 MP Last Month    32.9273
Name: 9252, dtype: object
9253 27.029999999999994 15 MP Last Month    1.802
Name: 9253, dtype: object
9254 95.72 12 MP Last Month    7.97667
Name: 9254, dtype: object
9255 367.07000000000005 12 MP Last Month    30.5892
Name: 9255, dtype: object
9256 124.50000000000001 13 MP Last Month    9.57692
Name: 9256, dtype: object
9257 209.12 13 MP Last Month    16.0862
Name: 9257, dtype: object
9258 410.12 13 MP Last Month    31.5477
Name: 9258, dtype: object
9259 374.19 13 MP Last Month    28.7838
Name: 9259, dtype: object
9260 194.23 10 MP Last Month    19.423
Name: 9260, dtype: object
9261 40.51 12 MP Last Month    3.37583
Name: 9261, dtype: object
9262 388.43 13 MP Last Month    29.8792
Name: 9262, dtype: object
9263 187.10999999999999 10 MP Last Month    18.711
Name: 9263, dtype: object
9264 43.370000000000005 11 MP Last Month    3.94273
Name: 9264, dtype: object
9265 370.36000000000007 14 MP Last Month    26.4543
Name: 9265, dtype: object
9266 488.41999999999996 14 MP Last Month    34.8871
Name: 9266, dtype: object
9267 293.03 14 MP Last Month    20.9307
Name: 9267, dtype: object
9268 13.84 12 MP Last Month    1.15333
Name: 9268, dtype: object
9269 274.28 14 MP Last Month    19.5914
Name: 9269, dtype: object
9270 457.95 14 MP Last Month    32.7107
Name: 9270, dtype: object
9271 165.52 14 MP Last Month    11.8229
Name: 9271, dtype: object
9272 16.259999999999998 14 MP Last Month    1.16143
Name: 9272, dtype: object
9273 431.95000000000005 14 MP Last Month    30.8536
Name: 9273, dtype: object
9274 241.85 14 MP Last Month    17.275
Name: 9274, dtype: object
9275 5.25 5 MP Last Month    1.05
Name: 9275, dtype: object
9276 362.95000000000005 13 MP Last Month    27.9192
Name: 9276, dtype: object

9277 75.17 12 MP Last Month    6.26417
Name: 9277, dtype: object
9278 193.34 12 MP Last Month    16.1117
Name: 9278, dtype: object
9279 19.75 10 MP Last Month    1.975
Name: 9279, dtype: object
9280 343.14 13 MP Last Month    26.3954
Name: 9280, dtype: object
9281 63.400000000000006 4 MP Last Month    15.85
Name: 9281, dtype: object
9282 0.0 1 MP Last Month    0
Name: 9282, dtype: object
9283 429.37 13 MP Last Month    33.0285
Name: 9283, dtype: object
9284 152.78 13 MP Last Month    11.7523
Name: 9284, dtype: object
9285 65.58 12 MP Last Month    5.465
Name: 9285, dtype: object
9286 135.0 4 MP Last Month    33.75
Name: 9286, dtype: object
9287 535.63 15 MP Last Month    35.7087
Name: 9287, dtype: object
9288 242.26999999999998 14 MP Last Month    17.305
Name: 9288, dtype: object
9289 340.31999999999994 15 MP Last Month    22.688
Name: 9289, dtype: object
9290 549.51 15 MP Last Month    36.634
Name: 9290, dtype: object
9291 341.54999999999995 15 MP Last Month    22.77
Name: 9291, dtype: object
9292 98.75999999999999 6 MP Last Month    16.46
Name: 9292, dtype: object
9293 191.91000000000003 15 MP Last Month    12.794
Name: 9293, dtype: object
9294 397.22 15 MP Last Month    26.4813
Name: 9294, dtype: object
9295 66.48 2 MP Last Month    33.24
Name: 9295, dtype: object
9296 328.6600000000001 15 MP Last Month    21.9107
Name: 9296, dtype: object
9297 374.72 13 MP Last Month    28.8246
Name: 9297, dtype: object
9298 188.68 13 MP Last Month    14.5138
Name: 9298, dtype: object
9299 357.75000000000006 13 MP Last Month    27.5192
Name: 9299, dtype: object
9300 7.91 7 MP Last Month    1.13
Name: 9300, dtype: object
9301 370.46999999999997 13 MP Last Month    28.4977
Name: 9301, dtype: object
9302 416.81 13 MP Last Month    32.0623
Name: 9302, dtype: object
9303 309.64 13 MP Last Month    23.8185
Name: 9303, dtype: object
9304 251.18 13 MP Last Month    19.3215
Name: 9304, dtype: object
9305 3.38 3 MP Last Month    1.12667
Name: 9305, dtype: object
9306 334.80999999999995 12 MP Last Month    27.9008
Name: 9306, dtype: object
9307 306.52 12 MP Last Month    25.5433
Name: 9307, dtype: object
9308 57.52 13 MP Last Month    4.42462
Name: 9308, dtype: object
9309 399.11000000000007 14 MP Last Month    28.5079
Name: 9309, dtype: object
9310 310.72 14 MP Last Month    22.1943
Name: 9310, dtype: object
9311 23.78 13 MP Last Month    1.82923
Name: 9311, dtype: object
9312 313.27 10 MP Last Month    31.327
Name: 9312, dtype: object
9313 83.67000000000002 14 MP Last Month    5.97643
Name: 9313, dtype: object
9314 70.99000000000001 14 MP Last Month    5.07071
Name: 9314, dtype: object
9315 504.98 14 MP Last Month    36.07
Name: 9315, dtype: object
9316 438.19 13 MP Last Month    33.7069
Name: 9316, dtype: object
9317 228.59000000000003 14 MP Last Month    16.3279
Name: 9317, dtype: object
9318 66.16 13 MP Last Month    5.08923
Name: 9318, dtype: object
9319 409.07000000000005 14 MP Last Month    29.2193
Name: 9319, dtype: object
9320 214.99 13 MP Last Month    16.5377
Name: 9320, dtype: object
9321 438.23999999999995 15 MP Last Month    29.216
Name: 9321, dtype: object
9322 336.81000000000006 15 MP Last Month    22.454
Name: 9322, dtype: object
9323 91.26 15 MP Last Month    6.084
Name: 9323, dtype: object
9324 516.16 15 MP Last Month    34.4107
Name: 9324, dtype: object
9325 470.15 15 MP Last Month    31.3433
Name: 9325, dtype: object
9326 349.93000000000006 15 MP Last Month    23.3287
Name: 9326, dtype: object
9327 187.09999999999997 15 MP Last Month    12.4733
Name: 9327, dtype: object
9328 333.08000000000004 15 MP Last Month    22.2053
Name: 9328, dtype: object
9329 314.04999999999995 15 MP Last Month    20.9367
Name: 9329, dtype: object
9330 21.0 13 MP Last Month    1.61538
Name: 9330, dtype: object
9331 15.93 14 MP Last Month    1.13786
Name: 9331, dtype: object
9332 5.54 2 MP Last Month    2.77
Name: 9332, dtype: object
9333 533.9399999999999 15 MP Last Month    35.596
Name: 9333, dtype: object
9334 490.84000000000003 15 MP Last Month    32.7227
Name: 9334, dtype: object
9335 377.82000000000005 15 MP Last Month    25.188
Name: 9335, dtype: object
9336 191.97 15 MP Last Month    12.798
Name: 9336, dtype: object
9337 192.0 15 MP Last Month    12.8
Name: 9337, dtype: object
9338 260.89 11 MP Last Month    23.7173
Name: 9338, dtype: object
9339 151.79999999999998 12 MP Last Month    12.65
Name: 9339, dtype: object
9340 385.31000000000006 15 MP Last Month    25.6873
Name: 9340, dtype: object
9341 481.77000000000004 15 MP Last Month    32.118
Name: 9341, dtype: object
9342 6.73 11 MP Last Month    0.611818
Name: 9342, dtype: object
9343 551.14 15 MP Last Month    36.7427
Name: 9343, dtype: object
9344 47.65 3 MP Last Month    15.8833
Name: 9344, dtype: object
9345 231.23 9 MP Last Month    25.6922
Name: 9345, dtype: object
9346 134.12 5 MP Last Month    26.824
Name: 9346, dtype: object
9347 197.95 8 MP Last Month    24.7437
Name: 9347, dtype: object
9348 348.96 12 MP Last Month    29.08
Name: 9348, dtype: object
9349 393.89000000000004 14 MP Last Month    28.135
Name: 9349, dtype: object
9350 77.51 11 MP Last Month    7.04636
Name: 9350, dtype: object
9351 462.6700000000001 14 MP Last Month    33.0479
Name: 9351, dtype: object
9352 422.7899999999999 14 MP Last Month    30.1993
Name: 9352, dtype: object
9353 207.27000000000004 10 MP Last Month    20.727
Name: 9353, dtype: object
9354 10.42 14 MP Last Month    0.744286
Name: 9354, dtype: object
9355 297.81 14 MP Last Month    21.2721
Name: 9355, dtype: object
9356 259.04999999999995 14 MP Last Month    18.5036
Name: 9356, dtype: object
9357 438.41 14 MP Last Month    31.315
Name: 9357, dtype: object
9358 432.25 14 MP Last Month    30.875
Name: 9358, dtype: object
9359 145.07999999999998 13 MP Last Month    11.16
Name: 9359, dtype: object
9360 79.57 8 MP Last Month    9.94625
Name: 9360, dtype: object
9361 88.35 9 MP Last Month    9.81667
Name: 9361, dtype: object
9362 402.65999999999997 13 MP Last Month    30.9738
Name: 9362, dtype: object
9363 5.62 2 MP Last Month    2.81
Name: 9363, dtype: object
9364 231.23 14 MP Last Month    16.5164
Name: 9364, dtype: object
9365 500.79 14 MP Last Month    35.7707
Name: 9365, dtype: object
9366 420.65 14 MP Last Month    30.0464
Name: 9366, dtype: object
9367 171.81 11 MP Last Month    15.6191
Name: 9367, dtype: object
9368 149.01 14 MP Last Month    10.6436
Name: 9368, dtype: object
9369 31.52 15 MP Last Month    2.10133
Name: 9369, dtype: object
9370 357.30999999999995 12 MP Last Month    29.7758
Name: 9370, dtype: object
9371 420.16 13 MP Last Month    32.32
Name: 9371, dtype: object
9372 199.68 13 MP Last Month    15.36
Name: 9372, dtype: object
9373 75.57000000000001 12 MP Last Month    6.2975
Name: 9373, dtype: object
9374 431.65999999999997 13 MP Last Month    33.2046
Name: 9374, dtype: object
9375 264.96 12 MP Last Month    22.08
Name: 9375, dtype: object
9376 392.24000000000007 11 MP Last Month    35.6582
Name: 9376, dtype: object
9377 23.47 12 MP Last Month    1.95583
Name: 9377, dtype: object
9378 7.33 12 MP Last Month    0.610833
Name: 9378, dtype: object
9379 7.07 12 MP Last Month    0.589167
Name: 9379, dtype: object
9380 439.38000000000005 13 MP Last Month    33.7985
Name: 9380, dtype: object
9381 177.03000000000003 13 MP Last Month    13.6177
Name: 9381, dtype: object
9382 324.10999999999996 13 MP Last Month    24.9315
Name: 9382, dtype: object
9383 245.10999999999999 17 MP Last Month    14.4182
Name: 9383, dtype: object
9384 627.37 17 MP Last Month    36.9041
Name: 9384, dtype: object
9385 143.73 12 MP Last Month    11.9775
Name: 9385, dtype: object
9386 172.81 16 MP Last Month    10.8006
Name: 9386, dtype: object
9387 129.89000000000001 17 MP Last Month    7.64059
Name: 9387, dtype: object
9388 378.24 17 MP Last Month    22.2494
Name: 9388, dtype: object
9389 194.10000000000002 17 MP Last Month    11.4176
Name: 9389, dtype: object
9390 6.55 4 MP Last Month    1.6375
Name: 9390, dtype: object
9391 259.8 16 MP Last Month    16.2375
Name: 9391, dtype: object
9392 583.95 16 MP Last Month    36.4969
Name: 9392, dtype: object
9393 502.53999999999996 17 MP Last Month    29.5612
Name: 9393, dtype: object
9394 397.42 13 MP Last Month    30.5708
Name: 9394, dtype: object

9395 11.5 15 MP Last Month    0.766667
Name: 9395, dtype: object
9396 315.32 9 MP Last Month    35.0356
Name: 9396, dtype: object
9397 384.78000000000003 13 MP Last Month    29.5985
Name: 9397, dtype: object
9398 113.66 10 MP Last Month    11.366
Name: 9398, dtype: object
9399 117.42 12 MP Last Month    9.785
Name: 9399, dtype: object
9400 80.90999999999998 13 MP Last Month    6.22385
Name: 9400, dtype: object
9401 449.42999999999995 13 MP Last Month    34.5715
Name: 9401, dtype: object
9402 392.63999999999993 13 MP Last Month    30.2031
Name: 9402, dtype: object
9403 167.75000000000003 7 MP Last Month    23.9643
Name: 9403, dtype: object
9404 172.3 11 MP Last Month    15.6636
Name: 9404, dtype: object
9405 28.3 13 MP Last Month    2.17692
Name: 9405, dtype: object
9406 436.55000000000007 13 MP Last Month    33.5808
Name: 9406, dtype: object
9407 167.53 12 MP Last Month    13.9608
Name: 9407, dtype: object
9408 186.23000000000002 13 MP Last Month    14.3254
Name: 9408, dtype: object
9409 274.65999999999997 14 MP Last Month    19.6186
Name: 9409, dtype: object
9410 382.55 14 MP Last Month    27.325
Name: 9410, dtype: object
9411 32.95 14 MP Last Month    2.35357
Name: 9411, dtype: object
9412 302.9599999999999 14 MP Last Month    21.64
Name: 9412, dtype: object
9413 387.59000000000003 12 MP Last Month    32.2992
Name: 9413, dtype: object
9414 21.45 14 MP Last Month    1.53214
Name: 9414, dtype: object
9415 361.91999999999996 14 MP Last Month    25.8514
Name: 9415, dtype: object
9416 285.81 12 MP Last Month    23.8175
Name: 9416, dtype: object
9417 5.23 3 MP Last Month    1.74333
Name: 9417, dtype: object
9418 446.67999999999995 14 MP Last Month    31.9057
Name: 9418, dtype: object
9419 74.22999999999999 14 MP Last Month    5.30214
Name: 9419, dtype: object
9420 209.69999999999996 14 MP Last Month    14.9786
Name: 9420, dtype: object
9421 484.58 14 MP Last Month    34.6129
Name: 9421, dtype: object
9422 183.14999999999998 14 MP Last Month    13.0821
Name: 9422, dtype: object
9423 226.88 14 MP Last Month    16.2057
Name: 9423, dtype: object
9424 307.56 14 MP Last Month    21.9686
Name: 9424, dtype: object
9425 10.52 6 MP Last Month    1.75333
Name: 9425, dtype: object
9426 429.78 14 MP Last Month    30.6986
Name: 9426, dtype: object
9427 321.58000000000004 13 MP Last Month    24.7369
Name: 9427, dtype: object
9428 405.59000000000003 12 MP Last Month    33.7992
Name: 9428, dtype: object
9429 440.78999999999996 13 MP Last Month    33.9069
Name: 9429, dtype: object
9430 338.94 14 MP Last Month    24.21
Name: 9430, dtype: object
9431 127.46999999999998 14 MP Last Month    9.105
Name: 9431, dtype: object
9432 106.27000000000001 7 MP Last Month    15.1814
Name: 9432, dtype: object
9433 190.77 14 MP Last Month    13.6264
Name: 9433, dtype: object
9434 108.43 15 MP Last Month    7.22867
Name: 9434, dtype: object
9435 0 0 MP Last Month    0
Name: 9435, dtype: object
9436 317.27 15 MP Last Month    21.1513
Name: 9436, dtype: object
9437 433.09000000000003 13 MP Last Month    33.3146
Name: 9437, dtype: object
9438 391.83 15 MP Last Month    26.122
Name: 9438, dtype: object
9439 345.83 10 MP Last Month    34.583
Name: 9439, dtype: object
9440 53.75 15 MP Last Month    3.58333
Name: 9440, dtype: object
9441 0.0 1 MP Last Month    0
Name: 9441, dtype: object
9442 447.85 15 MP Last Month    29.8567
Name: 9442, dtype: object
9443 266.85 15 MP Last Month    17.79
Name: 9443, dtype: object
9444 40.09 15 MP Last Month    2.67267
Name: 9444, dtype: object
9445 419.05999999999995 13 MP Last Month    32.2354
Name: 9445, dtype: object
9446 131.88 13 MP Last Month    10.1446
Name: 9446, dtype: object
9447 41.459999999999994 13 MP Last Month    3.18923
Name: 9447, dtype: object
9448 348.43 13 MP Last Month    26.8023
Name: 9448, dtype: object
9449 288.28 11 MP Last Month    26.2073
Name: 9449, dtype: object
9450 385.95000000000005 13 MP Last Month    29.6885
Name: 9450, dtype: object
9451 269.62000000000006 11 MP Last Month    24.5109
Name: 9451, dtype: object
9452 295.72999999999996 13 MP Last Month    22.7485
Name: 9452, dtype: object
9453 224.11999999999995 13 MP Last Month    17.24
Name: 9453, dtype: object
9454 102.41 13 MP Last Month    7.87769
Name: 9454, dtype: object
9455 359.66999999999996 13 MP Last Month    27.6669
Name: 9455, dtype: object
9456 78.69000000000001 5 MP Last Month    15.738
Name: 9456, dtype: object
9457 401.33000000000004 13 MP Last Month    30.8715
Name: 9457, dtype: object
9458 434.4899999999999 15 MP Last Month    28.966
Name: 9458, dtype: object
9459 211.32999999999998 15 MP Last Month    14.0887
Name: 9459, dtype: object
9460 103.07999999999998 11 MP Last Month    9.37091
Name: 9460, dtype: object
9461 452.38 15 MP Last Month    30.1587
Name: 9461, dtype: object
9462 399.15000000000003 15 MP Last Month    26.61
Name: 9462, dtype: object
9463 122.72000000000001 15 MP Last Month    8.18133
Name: 9463, dtype: object
9464 39.69 9 MP Last Month    4.41
Name: 9464, dtype: object
9465 185.78000000000003 11 MP Last Month    16.8891
Name: 9465, dtype: object
9466 285.28999999999996 15 MP Last Month    19.0193
Name: 9466, dtype: object
9467 439.1499999999999 15 MP Last Month    29.2767
Name: 9467, dtype: object
9468 353.05000000000007 15 MP Last Month    23.5367
Name: 9468, dtype: object
9469 58.07 15 MP Last Month    3.87133
Name: 9469, dtype: object
9470 536.5400000000001 15 MP Last Month    35.7693
Name: 9470, dtype: object
9471 341.45 15 MP Last Month    22.7633
Name: 9471, dtype: object
9472 309.49 15 MP Last Month    20.6327
Name: 9472, dtype: object
9473 463.31 14 MP Last Month    33.0936
Name: 9473, dtype: object
9474 354.51 15 MP Last Month    23.634
Name: 9474, dtype: object
9475 302.68 13 MP Last Month    23.2831
Name: 9475, dtype: object
9476 0.0 1 MP Last Month    0
Name: 9476, dtype: object
9477 437.50000000000006 14 MP Last Month    31.25
Name: 9477, dtype: object
9478 397.00000000000006 15 MP Last Month    26.4667
Name: 9478, dtype: object
9479 177.85000000000002 14 MP Last Month    12.7036
Name: 9479, dtype: object
9480 84.49999999999999 15 MP Last Month    5.63333
Name: 9480, dtype: object
9481 358.64 12 MP Last Month    29.8867
Name: 9481, dtype: object
9482 506.33000000000004 14 MP Last Month    36.1664
Name: 9482, dtype: object
9483 43.82 13 MP Last Month    3.37077
Name: 9483, dtype: object
9484 154.08 10 MP Last Month    15.408
Name: 9484, dtype: object
9485 138.6 7 MP Last Month    19.8
Name: 9485, dtype: object
9486 451.09 14 MP Last Month    32.2207
Name: 9486, dtype: object
9487 480.0799999999999 14 MP Last Month    34.2914
Name: 9487, dtype: object
9488 383.84000000000003 14 MP Last Month    27.4171
Name: 9488, dtype: object
9489 229.07999999999998 13 MP Last Month    17.6215
Name: 9489, dtype: object
9490 477.66999999999996 14 MP Last Month    34.1193
Name: 9490, dtype: object
9491 53.33 5 MP Last Month    10.666
Name: 9491, dtype: object
9492 93.57000000000001 12 MP Last Month    7.7975
Name: 9492, dtype: object
9493 74.82000000000001 14 MP Last Month    5.34429
Name: 9493, dtype: object
9494 392.84000000000003 14 MP Last Month    28.06
Name: 9494, dtype: object
9495 35.910000000000004 13 MP Last Month    2.76231
Name: 9495, dtype: object
9496 314.15 14 MP Last Month    22.4393
Name: 9496, dtype: object
9497 350.7 11 MP Last Month    31.8818
Name: 9497, dtype: object
9498 227.29000000000002 14 MP Last Month    16.235
Name: 9498, dtype: object
9499 434.52000000000004 13 MP Last Month    33.4246
Name: 9499, dtype: object
9500 508.92 14 MP Last Month    36.3514
Name: 9500, dtype: object
9501 67.31 14 MP Last Month    4.80786
Name: 9501, dtype: object
9502 82.66 13 MP Last Month    6.35846
Name: 9502, dtype: object
9503 400.2 14 MP Last Month    28.5857
Name: 9503, dtype: object
9504 195.56 13 MP Last Month    15.0431
Name: 9504, dtype: object
9505 142.07 8 MP Last Month    17.7587
Name: 9505, dtype: object
9506 0.0 1 MP Last Month    0
Name: 9506, dtype: object
9507 140.33 15 MP Last Month    9.35533
Name: 9507, dtype: object
9508 293.46000000000004 14 MP Last Month    20.9614
Name: 9508, dtype: object
9509 321.4099999999999 10 MP Last Month    32.141
Name: 9509, dtype: object
9510 329.0 15 MP Last Month    21.9333
Name: 9510, dtype: object

9511 411.89000000000004 15 MP Last Month    27.4593
Name: 9511, dtype: object
9512 0.0 2 MP Last Month    0
Name: 9512, dtype: object
9513 439.4100000000001 13 MP Last Month    33.8008
Name: 9513, dtype: object
9514 445.48 15 MP Last Month    29.6987
Name: 9514, dtype: object
9515 274.22 15 MP Last Month    18.2813
Name: 9515, dtype: object
9516 53.75 15 MP Last Month    3.58333
Name: 9516, dtype: object
9517 40.09 15 MP Last Month    2.67267
Name: 9517, dtype: object
9518 510.0400000000001 14 MP Last Month    36.4314
Name: 9518, dtype: object
9519 135.74 10 MP Last Month    13.574
Name: 9519, dtype: object
9520 36.660000000000004 14 MP Last Month    2.61857
Name: 9520, dtype: object
9521 429.55 14 MP Last Month    30.6821
Name: 9521, dtype: object
9522 159.01 9 MP Last Month    17.6678
Name: 9522, dtype: object
9523 343.03 13 MP Last Month    26.3869
Name: 9523, dtype: object
9524 167.34 13 MP Last Month    12.8723
Name: 9524, dtype: object
9525 208.51999999999998 14 MP Last Month    14.8943
Name: 9525, dtype: object
9526 387.58 14 MP Last Month    27.6843
Name: 9526, dtype: object
9527 249.69 14 MP Last Month    17.835
Name: 9527, dtype: object
9528 195.02 14 MP Last Month    13.93
Name: 9528, dtype: object
9529 26.63 13 MP Last Month    2.04846
Name: 9529, dtype: object
9530 409.19 16 MP Last Month    25.5744
Name: 9530, dtype: object
9531 316.38 16 MP Last Month    19.7737
Name: 9531, dtype: object
9532 372.87000000000006 16 MP Last Month    23.3044
Name: 9532, dtype: object
9533 404.44 15 MP Last Month    26.9627
Name: 9533, dtype: object
9534 557.48 16 MP Last Month    34.8425
Name: 9534, dtype: object
9535 359.75 15 MP Last Month    23.9833
Name: 9535, dtype: object
9536 320.71 16 MP Last Month    20.0444
Name: 9536, dtype: object
9537 66.66000000000001 16 MP Last Month    4.16625
Name: 9537, dtype: object
9538 504.30999999999995 16 MP Last Month    31.5194
Name: 9538, dtype: object
9539 242.53000000000003 16 MP Last Month    15.1581
Name: 9539, dtype: object
9540 60.08 16 MP Last Month    3.755
Name: 9540, dtype: object
9541 486.30000000000007 15 MP Last Month    32.42
Name: 9541, dtype: object
9542 362.2399999999999 15 MP Last Month    24.1493
Name: 9542, dtype: object
9543 242.60999999999999 15 MP Last Month    16.174
Name: 9543, dtype: object
9544 65.54 15 MP Last Month    4.36933
Name: 9544, dtype: object
9545 477.43000000000006 15 MP Last Month    31.8287
Name: 9545, dtype: object
9546 206.24 12 MP Last Month    17.1867
Name: 9546, dtype: object
9547 447.40000000000003 15 MP Last Month    29.8267
Name: 9547, dtype: object
9548 116.64999999999999 10 MP Last Month    11.665
Name: 9548, dtype: object
9549 33.28999999999999 14 MP Last Month    2.37786
Name: 9549, dtype: object
9550 397.95 14 MP Last Month    28.425
Name: 9550, dtype: object
9551 288.79999999999995 15 MP Last Month    19.2533
Name: 9551, dtype: object
9552 55.290000000000006 14 MP Last Month    3.94929
Name: 9552, dtype: object
9553 365.22 13 MP Last Month    28.0938
Name: 9553, dtype: object
9554 160.02000000000004 13 MP Last Month    12.3092
Name: 9554, dtype: object
9555 75.69 7 MP Last Month    10.8129
Name: 9555, dtype: object
9556 4.63 1 MP Last Month    4.63
Name: 9556, dtype: object
9557 314.84999999999997 13 MP Last Month    24.2192
Name: 9557, dtype: object
9558 324.96999999999997 13 MP Last Month    24.9977
Name: 9558, dtype: object
9559 72.3 10 MP Last Month    7.23
Name: 9559, dtype: object
9560 11.92 4 MP Last Month    2.98
Name: 9560, dtype: object
9561 307.58 11 MP Last Month    27.9618
Name: 9561, dtype: object
9562 267.21999999999997 11 MP Last Month    24.2927
Name: 9562, dtype: object
9563 194.77 12 MP Last Month    16.2308
Name: 9563, dtype: object
9564 368.36999999999995 12 MP Last Month    30.6975
Name: 9564, dtype: object
9565 318.47 13 MP Last Month    24.4977
Name: 9565, dtype: object
9566 289.19 13 MP Last Month    22.2454
Name: 9566, dtype: object
9567 62.64 13 MP Last Month    4.81846
Name: 9567, dtype: object
9568 7.51 2 MP Last Month    3.755
Name: 9568, dtype: object
9569 333.7 12 MP Last Month    27.8083
Name: 9569, dtype: object
9570 377.85 13 MP Last Month    29.0654
Name: 9570, dtype: object
9571 142.15 13 MP Last Month    10.9346
Name: 9571, dtype: object
9572 43.67 6 MP Last Month    7.27833
Name: 9572, dtype: object
9573 154.54000000000002 13 MP Last Month    11.8877
Name: 9573, dtype: object
9574 170.67000000000002 11 MP Last Month    15.5155
Name: 9574, dtype: object
9575 449.24 15 MP Last Month    29.9493
Name: 9575, dtype: object
9576 469.65000000000003 15 MP Last Month    31.31
Name: 9576, dtype: object
9577 202.96 15 MP Last Month    13.5307
Name: 9577, dtype: object
9578 422.15 15 MP Last Month    28.1433
Name: 9578, dtype: object
9579 360.18000000000006 13 MP Last Month    27.7062
Name: 9579, dtype: object
9580 82.4 12 MP Last Month    6.86667
Name: 9580, dtype: object
9581 345.53 15 MP Last Month    23.0353
Name: 9581, dtype: object
9582 280.04999999999995 15 MP Last Month    18.67
Name: 9582, dtype: object
9583 254.49000000000007 15 MP Last Month    16.966
Name: 9583, dtype: object
9584 390.46999999999997 14 MP Last Month    27.8907
Name: 9584, dtype: object
9585 369.6100000000001 14 MP Last Month    26.4007
Name: 9585, dtype: object
9586 18.65 14 MP Last Month    1.33214
Name: 9586, dtype: object
9587 457.57000000000005 13 MP Last Month    35.1977
Name: 9587, dtype: object
9588 223.5 11 MP Last Month    20.3182
Name: 9588, dtype: object
9589 188.75000000000003 13 MP Last Month    14.5192
Name: 9589, dtype: object
9590 332.81 12 MP Last Month    27.7342
Name: 9590, dtype: object
9591 411.33 13 MP Last Month    31.6408
Name: 9591, dtype: object
9592 364.08 13 MP Last Month    28.0062
Name: 9592, dtype: object
9593 265.61 13 MP Last Month    20.4315
Name: 9593, dtype: object
9594 137.42 12 MP Last Month    11.4517
Name: 9594, dtype: object
9595 138.74 7 MP Last Month    19.82
Name: 9595, dtype: object
9596 302.61 12 MP Last Month    25.2175
Name: 9596, dtype: object
9597 172.69 13 MP Last Month    13.2838
Name: 9597, dtype: object
9598 20.36 9 MP Last Month    2.26222
Name: 9598, dtype: object
9599 389.75 15 MP Last Month    25.9833
Name: 9599, dtype: object
9600 73.61 9 MP Last Month    8.17889
Name: 9600, dtype: object
9601 501.99000000000007 15 MP Last Month    33.466
Name: 9601, dtype: object
9602 354.7799999999999 16 MP Last Month    22.1737
Name: 9602, dtype: object
9603 406.53 14 MP Last Month    29.0379
Name: 9603, dtype: object
9604 463.95000000000005 15 MP Last Month    30.93
Name: 9604, dtype: object
9605 168.86 7 MP Last Month    24.1229
Name: 9605, dtype: object
9606 65.77 4 MP Last Month    16.4425
Name: 9606, dtype: object
9607 40.480000000000004 4 MP Last Month    10.12
Name: 9607, dtype: object
9608 385.71 15 MP Last Month    25.714
Name: 9608, dtype: object
9609 32.199999999999996 15 MP Last Month    2.14667
Name: 9609, dtype: object
9610 81.67 12 MP Last Month    6.80583
Name: 9610, dtype: object
9611 210.65 13 MP Last Month    16.2038
Name: 9611, dtype: object
9612 154.5 13 MP Last Month    11.8846
Name: 9612, dtype: object
9613 361.30000000000007 12 MP Last Month    30.1083
Name: 9613, dtype: object
9614 420.53999999999996 13 MP Last Month    32.3492
Name: 9614, dtype: object
9615 371.41999999999996 13 MP Last Month    28.5708
Name: 9615, dtype: object
9616 181.70000000000002 10 MP Last Month    18.17
Name: 9616, dtype: object
9617 49.879999999999995 12 MP Last Month    4.15667
Name: 9617, dtype: object
9618 387.7 13 MP Last Month    29.8231
Name: 9618, dtype: object
9619 187.84 10 MP Last Month    18.784
Name: 9619, dtype: object
9620 50.220000000000006 11 MP Last Month    4.56545
Name: 9620, dtype: object
9621 340.67999999999995 13 MP Last Month    26.2062
Name: 9621, dtype: object
9622 359.0 13 MP Last Month    27.6154
Name: 9622, dtype: object
9623 218.26 13 MP Last Month    16.7892
Name: 9623, dtype: object
9624 97.09 13 MP Last Month    7.46846
Name: 9624, dtype: object
9625 22.9 11 MP Last Month    2.08182
Name: 9625, dtype: object
9626 0 0 MP Last Month    0
Name: 9626, dtype: object
9627 0 0 MP Last Month    0
Name: 9627, dtype: object
9628 212.74 11 MP Last Month    19.34
Name: 9628, dtype: object

9629 100.13 5 MP Last Month    20.026
Name: 9629, dtype: object
9630 431.23999999999995 12 MP Last Month    35.9367
Name: 9630, dtype: object
9631 429.89000000000004 13 MP Last Month    33.0685
Name: 9631, dtype: object
9632 154.1 13 MP Last Month    11.8538
Name: 9632, dtype: object
9633 96.28 13 MP Last Month    7.40615
Name: 9633, dtype: object
9634 543.43 15 MP Last Month    36.2287
Name: 9634, dtype: object
9635 170.75 5 MP Last Month    34.15
Name: 9635, dtype: object
9636 310.8 15 MP Last Month    20.72
Name: 9636, dtype: object
9637 258.65 15 MP Last Month    17.2433
Name: 9637, dtype: object
9638 554.46 15 MP Last Month    36.964
Name: 9638, dtype: object
9639 344.5299999999999 15 MP Last Month    22.9687
Name: 9639, dtype: object
9640 94.71000000000001 6 MP Last Month    15.785
Name: 9640, dtype: object
9641 153.01 11 MP Last Month    13.91
Name: 9641, dtype: object
9642 95.93 3 MP Last Month    31.9767
Name: 9642, dtype: object
9643 175.38 15 MP Last Month    11.692
Name: 9643, dtype: object
9644 337.91 15 MP Last Month    22.5273
Name: 9644, dtype: object
9645 34.15 2 MP Last Month    17.075
Name: 9645, dtype: object
9646 347.67 13 MP Last Month    26.7438
Name: 9646, dtype: object
9647 377.64 13 MP Last Month    29.0492
Name: 9647, dtype: object
9648 199.03 13 MP Last Month    15.31
Name: 9648, dtype: object
9649 384.02000000000004 13 MP Last Month    29.54
Name: 9649, dtype: object
9650 416.6600000000001 13 MP Last Month    32.0508
Name: 9650, dtype: object
9651 255.04999999999998 13 MP Last Month    19.6192
Name: 9651, dtype: object
9652 323.71 13 MP Last Month    24.9008
Name: 9652, dtype: object
9653 3.38 4 MP Last Month    0.845
Name: 9653, dtype: object
9654 349.21999999999997 12 MP Last Month    29.1017
Name: 9654, dtype: object
9655 301.97 12 MP Last Month    25.1642
Name: 9655, dtype: object
9656 52.99 13 MP Last Month    4.07615
Name: 9656, dtype: object
9657 523.57 15 MP Last Month    34.9047
Name: 9657, dtype: object
9658 179.79000000000002 15 MP Last Month    11.986
Name: 9658, dtype: object
9659 486.79 15 MP Last Month    32.4527
Name: 9659, dtype: object
9660 368.69000000000005 15 MP Last Month    24.5793
Name: 9660, dtype: object
9661 286.40999999999997 12 MP Last Month    23.8675
Name: 9661, dtype: object
9662 479.31000000000006 15 MP Last Month    31.954
Name: 9662, dtype: object
9663 174.92999999999998 15 MP Last Month    11.662
Name: 9663, dtype: object
9664 170.92 13 MP Last Month    13.1477
Name: 9664, dtype: object
9665 541.54 15 MP Last Month    36.1027
Name: 9665, dtype: object
9666 374.8 15 MP Last Month    24.9867
Name: 9666, dtype: object
9667 66.6 4 MP Last Month    16.65
Name: 9667, dtype: object
9668 7.16 12 MP Last Month    0.596667
Name: 9668, dtype: object
9669 263.23 10 MP Last Month    26.323
Name: 9669, dtype: object
9670 318.78 12 MP Last Month    26.565
Name: 9670, dtype: object
9671 164.32 8 MP Last Month    20.54
Name: 9671, dtype: object
9672 420.0199999999999 14 MP Last Month    30.0014
Name: 9672, dtype: object
9673 106.04 11 MP Last Month    9.64
Name: 9673, dtype: object
9674 399.49000000000007 14 MP Last Month    28.535
Name: 9674, dtype: object
9675 456.92 14 MP Last Month    32.6371
Name: 9675, dtype: object
9676 223.92000000000004 11 MP Last Month    20.3564
Name: 9676, dtype: object
9677 10.42 14 MP Last Month    0.744286
Name: 9677, dtype: object
9678 271.4 14 MP Last Month    19.3857
Name: 9678, dtype: object
9679 313.20000000000005 14 MP Last Month    22.3714
Name: 9679, dtype: object
9680 402.05 13 MP Last Month    30.9269
Name: 9680, dtype: object
9681 390.3900000000001 13 MP Last Month    30.03
Name: 9681, dtype: object
9682 92.16999999999999 9 MP Last Month    10.2411
Name: 9682, dtype: object
9683 73.69999999999999 8 MP Last Month    9.2125
Name: 9683, dtype: object
9684 423.46999999999997 13 MP Last Month    32.5746
Name: 9684, dtype: object
9685 368.09 12 MP Last Month    30.6742
Name: 9685, dtype: object
9686 175.70999999999998 12 MP Last Month    14.6425
Name: 9686, dtype: object
9687 225.32999999999998 13 MP Last Month    17.3331
Name: 9687, dtype: object
9688 257.12 12 MP Last Month    21.4267
Name: 9688, dtype: object
9689 371.43 13 MP Last Month    28.5715
Name: 9689, dtype: object
9690 152.45000000000002 10 MP Last Month    15.245
Name: 9690, dtype: object
9691 164.53 13 MP Last Month    12.6562
Name: 9691, dtype: object
9692 36.39 15 MP Last Month    2.426
Name: 9692, dtype: object
9693 448.24 14 MP Last Month    32.0171
Name: 9693, dtype: object
9694 391.35999999999996 13 MP Last Month    30.1046
Name: 9694, dtype: object
9695 216.98000000000002 14 MP Last Month    15.4986
Name: 9695, dtype: object
9696 295.60999999999996 13 MP Last Month    22.7392
Name: 9696, dtype: object
9697 468.05999999999995 14 MP Last Month    33.4329
Name: 9697, dtype: object
9698 417.89000000000004 12 MP Last Month    34.8242
Name: 9698, dtype: object
9699 78.09 13 MP Last Month    6.00692
Name: 9699, dtype: object
9700 23.47 13 MP Last Month    1.80538
Name: 9700, dtype: object
9701 7.33 13 MP Last Month    0.563846
Name: 9701, dtype: object
9702 7.07 13 MP Last Month    0.543846
Name: 9702, dtype: object
9703 473.45000000000005 14 MP Last Month    33.8179
Name: 9703, dtype: object
9704 341.46 14 MP Last Month    24.39
Name: 9704, dtype: object
9705 190.96000000000004 14 MP Last Month    13.64
Name: 9705, dtype: object
9706 629.8799999999999 17 MP Last Month    37.0518
Name: 9706, dtype: object
9707 265.85 17 MP Last Month    15.6382
Name: 9707, dtype: object
9708 90.56 11 MP Last Month    8.23273
Name: 9708, dtype: object
9709 133.41 12 MP Last Month    11.1175
Name: 9709, dtype: object
9710 174.61 16 MP Last Month    10.9131
Name: 9710, dtype: object
9711 214.12000000000003 17 MP Last Month    12.5953
Name: 9711, dtype: object
9712 383.71000000000004 17 MP Last Month    22.5712
Name: 9712, dtype: object
9713 4.9 4 MP Last Month    1.225
Name: 9713, dtype: object
9714 234.42000000000004 16 MP Last Month    14.6513
Name: 9714, dtype: object
9715 585.61 16 MP Last Month    36.6006
Name: 9715, dtype: object
9716 493.44 17 MP Last Month    29.0259
Name: 9716, dtype: object
9717 131.73 17 MP Last Month    7.74882
Name: 9717, dtype: object
9718 12.219999999999999 15 MP Last Month    0.814667
Name: 9718, dtype: object
9719 356.84 14 MP Last Month    25.4886
Name: 9719, dtype: object
9720 204.68 13 MP Last Month    15.7446
Name: 9720, dtype: object
9721 19.92 12 MP Last Month    1.66
Name: 9721, dtype: object
9722 318.74 14 MP Last Month    22.7671
Name: 9722, dtype: object
9723 240.95 14 MP Last Month    17.2107
Name: 9723, dtype: object
9724 215.26 14 MP Last Month    15.3757
Name: 9724, dtype: object
9725 380.71999999999997 14 MP Last Month    27.1943
Name: 9725, dtype: object
9726 405.39 14 MP Last Month    28.9564
Name: 9726, dtype: object
9727 236.18999999999997 14 MP Last Month    16.8707
Name: 9727, dtype: object
9728 2.72 4 MP Last Month    0.68
Name: 9728, dtype: object
9729 351.27 10 MP Last Month    35.127
Name: 9729, dtype: object
9730 383.07 13 MP Last Month    29.4669
Name: 9730, dtype: object
9731 64.89 13 MP Last Month    4.99154
Name: 9731, dtype: object
9732 441.35999999999996 13 MP Last Month    33.9508
Name: 9732, dtype: object
9733 392.91999999999996 13 MP Last Month    30.2246
Name: 9733, dtype: object
9734 165.34 11 MP Last Month    15.0309
Name: 9734, dtype: object
9735 158.52 7 MP Last Month    22.6457
Name: 9735, dtype: object
9736 116.69 10 MP Last Month    11.669
Name: 9736, dtype: object
9737 28.049999999999997 13 MP Last Month    2.15769
Name: 9737, dtype: object
9738 429.15000000000003 13 MP Last Month    33.0115
Name: 9738, dtype: object
9739 174.93000000000004 12 MP Last Month    14.5775
Name: 9739, dtype: object
9740 189.41 13 MP Last Month    14.57
Name: 9740, dtype: object
9741 476.06 14 MP Last Month    34.0043
Name: 9741, dtype: object
9742 220.58 14 MP Last Month    15.7557
Name: 9742, dtype: object
9743 286.98 14 MP Last Month    20.4986
Name: 9743, dtype: object
9744 13.67 7 MP Last Month    1.95286
Name: 9744, dtype: object
9745 5.57 7 MP Last Month    0.795714
Name: 9745, dtype: object
9746 186.07 14 MP Last Month    13.2907
Name: 9746, dtype: object

9747 349.26000000000005 13 MP Last Month    26.8662
Name: 9747, dtype: object
9748 427.37999999999994 14 MP Last Month    30.5271
Name: 9748, dtype: object
9749 434.11999999999995 13 MP Last Month    33.3938
Name: 9749, dtype: object
9750 116.99000000000001 14 MP Last Month    8.35643
Name: 9750, dtype: object
9751 513.39 14 MP Last Month    36.6707
Name: 9751, dtype: object
9752 133.59 10 MP Last Month    13.359
Name: 9752, dtype: object
9753 36.660000000000004 14 MP Last Month    2.61857
Name: 9753, dtype: object
9754 334.6 13 MP Last Month    25.7385
Name: 9754, dtype: object
9755 436.51 14 MP Last Month    31.1793
Name: 9755, dtype: object
9756 200.84999999999997 14 MP Last Month    14.3464
Name: 9756, dtype: object
9757 157.14 13 MP Last Month    12.0877
Name: 9757, dtype: object
9758 391.56000000000006 14 MP Last Month    27.9686
Name: 9758, dtype: object
9759 181.64000000000001 14 MP Last Month    12.9743
Name: 9759, dtype: object
9760 241.45999999999998 14 MP Last Month    17.2471
Name: 9760, dtype: object
9761 26.63 13 MP Last Month    2.04846
Name: 9761, dtype: object
9762 41.459999999999994 13 MP Last Month    3.18923
Name: 9762, dtype: object
9763 413.89000000000004 13 MP Last Month    31.8377
Name: 9763, dtype: object
9764 290.87 13 MP Last Month    22.3746
Name: 9764, dtype: object
9765 358.26 13 MP Last Month    27.5585
Name: 9765, dtype: object
9766 393.42 13 MP Last Month    30.2631
Name: 9766, dtype: object
9767 295.63 11 MP Last Month    26.8755
Name: 9767, dtype: object
9768 216.46999999999997 13 MP Last Month    16.6515
Name: 9768, dtype: object
9769 123.56 13 MP Last Month    9.50462
Name: 9769, dtype: object
9770 274.25 11 MP Last Month    24.9318
Name: 9770, dtype: object
9771 361.18999999999994 13 MP Last Month    27.7838
Name: 9771, dtype: object
9772 81.94 5 MP Last Month    16.388
Name: 9772, dtype: object
9773 102.18999999999998 13 MP Last Month    7.86077
Name: 9773, dtype: object
9774 518.6500000000001 16 MP Last Month    32.4156
Name: 9774, dtype: object
9775 391.6399999999999 16 MP Last Month    24.4775
Name: 9775, dtype: object
9776 263.22999999999996 16 MP Last Month    16.4519
Name: 9776, dtype: object
9777 77.54 16 MP Last Month    4.84625
Name: 9777, dtype: object
9778 475.15000000000003 16 MP Last Month    29.6969
Name: 9778, dtype: object
9779 503.9800000000001 16 MP Last Month    31.4988
Name: 9779, dtype: object
9780 133.5 11 MP Last Month    12.1364
Name: 9780, dtype: object
9781 226.81 13 MP Last Month    17.4469
Name: 9781, dtype: object
9782 37.63999999999999 15 MP Last Month    2.50933
Name: 9782, dtype: object
9783 421.95 15 MP Last Month    28.13
Name: 9783, dtype: object
9784 307.21999999999997 16 MP Last Month    19.2012
Name: 9784, dtype: object
9785 62.440000000000005 15 MP Last Month    4.16267
Name: 9785, dtype: object
9786 428.30000000000007 14 MP Last Month    30.5929
Name: 9786, dtype: object
9787 457.0899999999999 16 MP Last Month    28.5681
Name: 9787, dtype: object
9788 220.55999999999997 16 MP Last Month    13.785
Name: 9788, dtype: object
9789 65.63000000000001 13 MP Last Month    5.04846
Name: 9789, dtype: object
9790 183.88000000000002 11 MP Last Month    16.7164
Name: 9790, dtype: object
9791 477.53 16 MP Last Month    29.8456
Name: 9791, dtype: object
9792 302.96 16 MP Last Month    18.935
Name: 9792, dtype: object
9793 418.92 16 MP Last Month    26.1825
Name: 9793, dtype: object
9794 138.97000000000003 16 MP Last Month    8.68563
Name: 9794, dtype: object
9795 46.17 10 MP Last Month    4.617
Name: 9795, dtype: object
9796 460.2799999999999 16 MP Last Month    28.7675
Name: 9796, dtype: object
9797 380.9700000000001 16 MP Last Month    23.8106
Name: 9797, dtype: object
9798 67.3 16 MP Last Month    4.20625
Name: 9798, dtype: object
9799 422.36 14 MP Last Month    30.1686
Name: 9799, dtype: object
9800 552.83 15 MP Last Month    36.8553
Name: 9800, dtype: object
9801 331.02000000000004 15 MP Last Month    22.068
Name: 9801, dtype: object
9802 348.40999999999997 15 MP Last Month    23.2273
Name: 9802, dtype: object
9803 18.27 2 MP Last Month    9.135
Name: 9803, dtype: object
9804 299.56 13 MP Last Month    23.0431
Name: 9804, dtype: object
9805 373.55999999999995 15 MP Last Month    24.904
Name: 9805, dtype: object
9806 10.42 2 MP Last Month    5.21
Name: 9806, dtype: object
9807 403.12000000000006 15 MP Last Month    26.8747
Name: 9807, dtype: object
9808 197.62000000000003 14 MP Last Month    14.1157
Name: 9808, dtype: object
9809 77.78 15 MP Last Month    5.18533
Name: 9809, dtype: object
9810 437.04999999999995 13 MP Last Month    33.6192
Name: 9810, dtype: object
9811 431.81000000000006 14 MP Last Month    30.8436
Name: 9811, dtype: object
9812 20.07 1 MP Last Month    20.07
Name: 9812, dtype: object
9813 246.06 14 MP Last Month    17.5757
Name: 9813, dtype: object
9814 162.44000000000005 13 MP Last Month    12.4954
Name: 9814, dtype: object
9815 181.89 14 MP Last Month    12.9921
Name: 9815, dtype: object
9816 475.2000000000001 14 MP Last Month    33.9429
Name: 9816, dtype: object
9817 133.10999999999999 6 MP Last Month    22.185
Name: 9817, dtype: object
9818 434.70000000000005 14 MP Last Month    31.05
Name: 9818, dtype: object
9819 18.63 1 MP Last Month    18.63
Name: 9819, dtype: object
9820 218.71999999999997 14 MP Last Month    15.6229
Name: 9820, dtype: object
9821 72.13 14 MP Last Month    5.15214
Name: 9821, dtype: object
9822 164.5 13 MP Last Month    12.6538
Name: 9822, dtype: object
9823 208.29000000000002 13 MP Last Month    16.0223
Name: 9823, dtype: object
9824 364.29 12 MP Last Month    30.3575
Name: 9824, dtype: object
9825 419.21000000000004 13 MP Last Month    32.2469
Name: 9825, dtype: object
9826 365.15999999999997 13 MP Last Month    28.0892
Name: 9826, dtype: object
9827 182.83 10 MP Last Month    18.283
Name: 9827, dtype: object
9828 49.879999999999995 12 MP Last Month    4.15667
Name: 9828, dtype: object
9829 390.0 13 MP Last Month    30
Name: 9829, dtype: object
9830 185.74 10 MP Last Month    18.574
Name: 9830, dtype: object
9831 0 0 MP Last Month    0
Name: 9831, dtype: object
9832 50.220000000000006 11 MP Last Month    4.56545
Name: 9832, dtype: object
9833 500.82000000000005 14 MP Last Month    35.7729
Name: 9833, dtype: object
9834 357.19 12 MP Last Month    29.7658
Name: 9834, dtype: object
9835 0 0 MP Last Month    0
Name: 9835, dtype: object
9836 43.82 13 MP Last Month    3.37077
Name: 9836, dtype: object
9837 157.43 8 MP Last Month    19.6788
Name: 9837, dtype: object
9838 458.72 14 MP Last Month    32.7657
Name: 9838, dtype: object
9839 469.41999999999996 14 MP Last Month    33.53
Name: 9839, dtype: object
9840 175.26000000000002 11 MP Last Month    15.9327
Name: 9840, dtype: object
9841 196.15000000000003 13 MP Last Month    15.0885
Name: 9841, dtype: object
9842 476.07 14 MP Last Month    34.005
Name: 9842, dtype: object
9843 74.16 6 MP Last Month    12.36
Name: 9843, dtype: object
9844 372.58 12 MP Last Month    31.0483
Name: 9844, dtype: object
9845 376.31000000000006 14 MP Last Month    26.8793
Name: 9845, dtype: object
9846 310.96 14 MP Last Month    22.2114
Name: 9846, dtype: object
9847 87.2 14 MP Last Month    6.22857
Name: 9847, dtype: object
9848 54.980000000000004 13 MP Last Month    4.22923
Name: 9848, dtype: object
9849 418.1000000000001 13 MP Last Month    32.1615
Name: 9849, dtype: object
9850 489.07 14 MP Last Month    34.9336
Name: 9850, dtype: object
9851 230.78000000000003 14 MP Last Month    16.4843
Name: 9851, dtype: object
9852 70.00999999999999 14 MP Last Month    5.00071
Name: 9852, dtype: object
9853 193.51 13 MP Last Month    14.8854
Name: 9853, dtype: object
9854 389.5 14 MP Last Month    27.8214
Name: 9854, dtype: object
9855 98.63 13 MP Last Month    7.58692
Name: 9855, dtype: object
9856 331.23999999999995 14 MP Last Month    23.66
Name: 9856, dtype: object
9857 428.66 14 MP Last Month    30.6186
Name: 9857, dtype: object
9858 5.54 3 MP Last Month    1.84667
Name: 9858, dtype: object
9859 488.09999999999997 14 MP Last Month    34.8643
Name: 9859, dtype: object
9860 446.86 14 MP Last Month    31.9186
Name: 9860, dtype: object
9861 173.74999999999997 14 MP Last Month    12.4107
Name: 9861, dtype: object

9862 340.09000000000003 14 MP Last Month    24.2921
Name: 9862, dtype: object
9863 101.43 14 MP Last Month    7.245
Name: 9863, dtype: object
9864 298.1 14 MP Last Month    21.2929
Name: 9864, dtype: object
9865 293.88 14 MP Last Month    20.9914
Name: 9865, dtype: object
9866 21.0 13 MP Last Month    1.61538
Name: 9866, dtype: object
9867 14.280000000000001 14 MP Last Month    1.02
Name: 9867, dtype: object
9868 352.07 13 MP Last Month    27.0823
Name: 9868, dtype: object
9869 245.01000000000002 13 MP Last Month    18.8469
Name: 9869, dtype: object
9870 35.92 13 MP Last Month    2.76308
Name: 9870, dtype: object
9871 313.41 13 MP Last Month    24.1085
Name: 9871, dtype: object
9872 385.58000000000004 12 MP Last Month    32.1317
Name: 9872, dtype: object
9873 379.34 12 MP Last Month    31.6117
Name: 9873, dtype: object
9874 270.37 13 MP Last Month    20.7977
Name: 9874, dtype: object
9875 338.41999999999996 13 MP Last Month    26.0323
Name: 9875, dtype: object
9876 414.26 13 MP Last Month    31.8662
Name: 9876, dtype: object
9877 180.92999999999998 13 MP Last Month    13.9177
Name: 9877, dtype: object
9878 37.42 13 MP Last Month    2.87846
Name: 9878, dtype: object
9879 33.41 13 MP Last Month    2.57
Name: 9879, dtype: object
9880 276.31 14 MP Last Month    19.7364
Name: 9880, dtype: object
9881 175.29999999999998 9 MP Last Month    19.4778
Name: 9881, dtype: object
9882 156.88000000000002 15 MP Last Month    10.4587
Name: 9882, dtype: object
9883 26.18 2 MP Last Month    13.09
Name: 9883, dtype: object
9884 410.8900000000001 13 MP Last Month    31.6069
Name: 9884, dtype: object
9885 305.90999999999997 10 MP Last Month    30.591
Name: 9885, dtype: object
9886 356.84 15 MP Last Month    23.7893
Name: 9886, dtype: object
9887 418.12 15 MP Last Month    27.8747
Name: 9887, dtype: object
9888 0 0 MP Last Month    0
Name: 9888, dtype: object
9889 277.98 15 MP Last Month    18.532
Name: 9889, dtype: object
9890 441.72 15 MP Last Month    29.448
Name: 9890, dtype: object
9891 71.9 15 MP Last Month    4.79333
Name: 9891, dtype: object
9892 40.09 15 MP Last Month    2.67267
Name: 9892, dtype: object
9893 375.48 16 MP Last Month    23.4675
Name: 9893, dtype: object
9894 317.27 16 MP Last Month    19.8294
Name: 9894, dtype: object
9895 412.59000000000003 16 MP Last Month    25.7869
Name: 9895, dtype: object
9896 407.6 15 MP Last Month    27.1733
Name: 9896, dtype: object
9897 546.3 16 MP Last Month    34.1437
Name: 9897, dtype: object
9898 326.09 16 MP Last Month    20.3806
Name: 9898, dtype: object
9899 353.97999999999996 15 MP Last Month    23.5987
Name: 9899, dtype: object
9900 73.44 16 MP Last Month    4.59
Name: 9900, dtype: object
9901 495.01 16 MP Last Month    30.9381
Name: 9901, dtype: object
9902 250.25000000000003 16 MP Last Month    15.6406
Name: 9902, dtype: object
9903 211.07999999999998 12 MP Last Month    17.59
Name: 9903, dtype: object
9904 64.19999999999999 16 MP Last Month    4.0125
Name: 9904, dtype: object
9905 186.17 9 MP Last Month    20.6856
Name: 9905, dtype: object
9906 372.93999999999994 13 MP Last Month    28.6877
Name: 9906, dtype: object
9907 157.04000000000002 13 MP Last Month    12.08
Name: 9907, dtype: object
9908 87.46 7 MP Last Month    12.4943
Name: 9908, dtype: object
9909 7.26 2 MP Last Month    3.63
Name: 9909, dtype: object
9910 347.69999999999993 13 MP Last Month    26.7462
Name: 9910, dtype: object
9911 320.37 13 MP Last Month    24.6438
Name: 9911, dtype: object
9912 11.92 4 MP Last Month    2.98
Name: 9912, dtype: object
9913 80.28 11 MP Last Month    7.29818
Name: 9913, dtype: object
9914 299.09999999999997 12 MP Last Month    24.925
Name: 9914, dtype: object
9915 343.51 12 MP Last Month    28.6258
Name: 9915, dtype: object
9916 176.29000000000002 12 MP Last Month    14.6908
Name: 9916, dtype: object
9917 408.5199999999999 13 MP Last Month    31.4246
Name: 9917, dtype: object
9918 323.99 14 MP Last Month    23.1421
Name: 9918, dtype: object
9919 357.67 14 MP Last Month    25.5479
Name: 9919, dtype: object
9920 72.86 14 MP Last Month    5.20429
Name: 9920, dtype: object
9921 373.37 13 MP Last Month    28.7208
Name: 9921, dtype: object
9922 417.67 14 MP Last Month    29.8336
Name: 9922, dtype: object
9923 306.22 11 MP Last Month    27.8382
Name: 9923, dtype: object
9924 250.92 10 MP Last Month    25.092
Name: 9924, dtype: object
9925 158.77 14 MP Last Month    11.3407
Name: 9925, dtype: object
9926 168.92000000000002 14 MP Last Month    12.0657
Name: 9926, dtype: object
9927 57.79 7 MP Last Month    8.25571
Name: 9927, dtype: object
9928 186.70000000000002 12 MP Last Month    15.5583
Name: 9928, dtype: object
9929 451.2800000000001 15 MP Last Month    30.0853
Name: 9929, dtype: object
9930 459.03000000000003 15 MP Last Month    30.602
Name: 9930, dtype: object
9931 198.76000000000002 15 MP Last Month    13.2507
Name: 9931, dtype: object
9932 355.35 13 MP Last Month    27.3346
Name: 9932, dtype: object
9933 101.55000000000001 12 MP Last Month    8.4625
Name: 9933, dtype: object
9934 343.25 15 MP Last Month    22.8833
Name: 9934, dtype: object
9935 270.31 15 MP Last Month    18.0207
Name: 9935, dtype: object
9936 8.469999999999999 5 MP Last Month    1.694
Name: 9936, dtype: object
9937 4.42 1 MP Last Month    4.42
Name: 9937, dtype: object
9938 365.2600000000001 14 MP Last Month    26.09
Name: 9938, dtype: object
9939 406.84 14 MP Last Month    29.06
Name: 9939, dtype: object
9940 262.9100000000001 15 MP Last Month    17.5273
Name: 9940, dtype: object
9941 18.65 14 MP Last Month    1.33214
Name: 9941, dtype: object
9942 459.37 13 MP Last Month    35.3362
Name: 9942, dtype: object
9943 176.11 13 MP Last Month    13.5469
Name: 9943, dtype: object
9944 226.8 11 MP Last Month    20.6182
Name: 9944, dtype: object
9945 65.67 12 MP Last Month    5.4725
Name: 9945, dtype: object
9946 365.58 13 MP Last Month    28.1215
Name: 9946, dtype: object
9947 414.81000000000006 13 MP Last Month    31.9085
Name: 9947, dtype: object
9948 340.68 12 MP Last Month    28.39
Name: 9948, dtype: object
9949 267.46 13 MP Last Month    20.5738
Name: 9949, dtype: object
9950 138.74 8 MP Last Month    17.3425
Name: 9950, dtype: object
9951 121.04 12 MP Last Month    10.0867
Name: 9951, dtype: object
9952 311.64000000000004 12 MP Last Month    25.97
Name: 9952, dtype: object
9953 176.92 13 MP Last Month    13.6092
Name: 9953, dtype: object
9954 396.2499999999999 15 MP Last Month    26.4167
Name: 9954, dtype: object
9955 358.0899999999999 16 MP Last Month    22.3806
Name: 9955, dtype: object
9956 95.19 10 MP Last Month    9.519
Name: 9956, dtype: object
9957 497.99000000000007 15 MP Last Month    33.1993
Name: 9957, dtype: object
9958 400.44999999999993 14 MP Last Month    28.6036
Name: 9958, dtype: object
9959 152.54 7 MP Last Month    21.7914
Name: 9959, dtype: object
9960 496.37000000000006 15 MP Last Month    33.0913
Name: 9960, dtype: object
9961 76.36999999999999 5 MP Last Month    15.274
Name: 9961, dtype: object
9962 46.080000000000005 5 MP Last Month    9.216
Name: 9962, dtype: object
9963 384.2 15 MP Last Month    25.6133
Name: 9963, dtype: object
9964 43.86 15 MP Last Month    2.924
Name: 9964, dtype: object
9965 75.49 12 MP Last Month    6.29083
Name: 9965, dtype: object
9966 339.87 13 MP Last Month    26.1438
Name: 9966, dtype: object
9967 455.71 13 MP Last Month    35.0546
Name: 9967, dtype: object
9968 280.07 13 MP Last Month    21.5438
Name: 9968, dtype: object
9969 182.95000000000002 13 MP Last Month    14.0731
Name: 9969, dtype: object
9970 426.51 13 MP Last Month    32.8085
Name: 9970, dtype: object
9971 263.48 13 MP Last Month    20.2677
Name: 9971, dtype: object
9972 0 0 MP Last Month    0
Name: 9972, dtype: object
9973 18.43 13 MP Last Month    1.41769
Name: 9973, dtype: object
9974 13.84 11 MP Last Month    1.25818
Name: 9974, dtype: object
9975 407.95 13 MP Last Month    31.3808
Name: 9975, dtype: object
9976 247.70000000000005 13 MP Last Month    19.0538
Name: 9976, dtype: object
9977 5.28 6 MP Last Month    0.88
Name: 9977, dtype: object
9978 203.28 6 MP Last Month    33.88
Name: 9978, dtype: object
9979 493.96 14 MP Last Month    35.2829
Name: 9979, dtype: object
9980 268.67 14 MP Last Month    19.1907
Name: 9980, dtype: object

9981 512.1 14 MP Last Month    36.5786
Name: 9981, dtype: object
9982 83.8 5 MP Last Month    16.76
Name: 9982, dtype: object
9983 331.09 14 MP Last Month    23.6493
Name: 9983, dtype: object
9984 158.35999999999999 10 MP Last Month    15.836
Name: 9984, dtype: object
9985 78.01 3 MP Last Month    26.0033
Name: 9985, dtype: object
9986 312.91 14 MP Last Month    22.3507
Name: 9986, dtype: object
9987 176.95 14 MP Last Month    12.6393
Name: 9987, dtype: object
9988 63.3 3 MP Last Month    21.1
Name: 9988, dtype: object
9989 407.02 14 MP Last Month    29.0729
Name: 9989, dtype: object
9990 372.87 14 MP Last Month    26.6336
Name: 9990, dtype: object
9991 199.03 14 MP Last Month    14.2164
Name: 9991, dtype: object
9992 417.92 14 MP Last Month    29.8514
Name: 9992, dtype: object
9993 450.0300000000001 14 MP Last Month    32.145
Name: 9993, dtype: object
9994 338.81 14 MP Last Month    24.2007
Name: 9994, dtype: object
9995 273.5 14 MP Last Month    19.5357
Name: 9995, dtype: object
9996 3.38 5 MP Last Month    0.676
Name: 9996, dtype: object
9997 326.07000000000005 13 MP Last Month    25.0823
Name: 9997, dtype: object
9998 380.57 13 MP Last Month    29.2746
Name: 9998, dtype: object
9999 52.99 14 MP Last Month    3.785
Name: 9999, dtype: object
10000 519.87 15 MP Last Month    34.658
Name: 10000, dtype: object
10001 355.59000000000003 15 MP Last Month    23.706
Name: 10001, dtype: object
10002 474.38000000000005 15 MP Last Month    31.6253
Name: 10002, dtype: object
10003 174.84000000000003 15 MP Last Month    11.656
Name: 10003, dtype: object
10004 475.56000000000006 15 MP Last Month    31.704
Name: 10004, dtype: object
10005 309.78 13 MP Last Month    23.8292
Name: 10005, dtype: object
10006 173.64000000000001 15 MP Last Month    11.576
Name: 10006, dtype: object
10007 177.85 14 MP Last Month    12.7036
Name: 10007, dtype: object
10008 7.77 4 MP Last Month    1.9425
Name: 10008, dtype: object
10009 534.17 15 MP Last Month    35.6113
Name: 10009, dtype: object
10010 377.95 15 MP Last Month    25.1967
Name: 10010, dtype: object
10011 79.72 5 MP Last Month    15.944
Name: 10011, dtype: object
10012 7.16 12 MP Last Month    0.596667
Name: 10012, dtype: object
10013 158.44 8 MP Last Month    19.805
Name: 10013, dtype: object
10014 309.61 12 MP Last Month    25.8008
Name: 10014, dtype: object
10015 282.16 11 MP Last Month    25.6509
Name: 10015, dtype: object
10016 445.12 14 MP Last Month    31.7943
Name: 10016, dtype: object
10017 121.99 11 MP Last Month    11.09
Name: 10017, dtype: object
10018 242.04000000000005 12 MP Last Month    20.17
Name: 10018, dtype: object
10019 422.98999999999995 14 MP Last Month    30.2136
Name: 10019, dtype: object
10020 407.57000000000005 14 MP Last Month    29.1121
Name: 10020, dtype: object
10021 10.42 14 MP Last Month    0.744286
Name: 10021, dtype: object
10022 276.78999999999996 14 MP Last Month    19.7707
Name: 10022, dtype: object
10023 321.27000000000004 14 MP Last Month    22.9479
Name: 10023, dtype: object
10024 246.37 10 MP Last Month    24.637
Name: 10024, dtype: object
10025 435.47 14 MP Last Month    31.105
Name: 10025, dtype: object
10026 73.69999999999999 9 MP Last Month    8.18889
Name: 10026, dtype: object
10027 114.64999999999999 10 MP Last Month    11.465
Name: 10027, dtype: object
10028 19.66 9 MP Last Month    2.18444
Name: 10028, dtype: object
10029 454.95 14 MP Last Month    32.4964
Name: 10029, dtype: object
10030 257.12 13 MP Last Month    19.7785
Name: 10030, dtype: object
10031 236.27999999999997 14 MP Last Month    16.8771
Name: 10031, dtype: object
10032 401.71999999999997 13 MP Last Month    30.9015
Name: 10032, dtype: object
10033 203.10999999999999 13 MP Last Month    15.6238
Name: 10033, dtype: object
10034 402.76 14 MP Last Month    28.7686
Name: 10034, dtype: object
10035 165.48000000000002 11 MP Last Month    15.0436
Name: 10035, dtype: object
10036 175.35 14 MP Last Month    12.525
Name: 10036, dtype: object
10037 36.39 15 MP Last Month    2.426
Name: 10037, dtype: object
10038 387.51 15 MP Last Month    25.834
Name: 10038, dtype: object
10039 228.20000000000002 14 MP Last Month    16.3
Name: 10039, dtype: object
10040 351.46000000000004 15 MP Last Month    23.4307
Name: 10040, dtype: object
10041 42.54 4 MP Last Month    10.635
Name: 10041, dtype: object
10042 226.09 15 MP Last Month    15.0727
Name: 10042, dtype: object
10043 429.71999999999997 15 MP Last Month    28.648
Name: 10043, dtype: object
10044 10.35 5 MP Last Month    2.07
Name: 10044, dtype: object
10045 413.21999999999997 15 MP Last Month    27.548
Name: 10045, dtype: object
10046 251.68999999999997 15 MP Last Month    16.7793
Name: 10046, dtype: object
10047 389.5 11 MP Last Month    35.4091
Name: 10047, dtype: object
10048 379.65999999999997 13 MP Last Month    29.2046
Name: 10048, dtype: object
10049 54.06 13 MP Last Month    4.15846
Name: 10049, dtype: object
10050 442.92999999999995 13 MP Last Month    34.0715
Name: 10050, dtype: object
10051 388.28 13 MP Last Month    29.8677
Name: 10051, dtype: object
10052 153.47 7 MP Last Month    21.9243
Name: 10052, dtype: object
10053 28.049999999999997 13 MP Last Month    2.15769
Name: 10053, dtype: object
10054 107.73 10 MP Last Month    10.773
Name: 10054, dtype: object
10055 158.94 11 MP Last Month    14.4491
Name: 10055, dtype: object
10056 432.85 13 MP Last Month    33.2962
Name: 10056, dtype: object
10057 171.23 12 MP Last Month    14.2692
Name: 10057, dtype: object
10058 191.98 13 MP Last Month    14.7677
Name: 10058, dtype: object
10059 476.23999999999995 14 MP Last Month    34.0171
Name: 10059, dtype: object
10060 234.93 14 MP Last Month    16.7807
Name: 10060, dtype: object
10061 283.7 14 MP Last Month    20.2643
Name: 10061, dtype: object
10062 18.240000000000002 7 MP Last Month    2.60571
Name: 10062, dtype: object
10063 433.62999999999994 14 MP Last Month    30.9736
Name: 10063, dtype: object
10064 358.41 13 MP Last Month    27.57
Name: 10064, dtype: object
10065 198.32 14 MP Last Month    14.1657
Name: 10065, dtype: object
10066 1.97 3 MP Last Month    0.656667
Name: 10066, dtype: object
10067 436.50000000000006 13 MP Last Month    33.5769
Name: 10067, dtype: object
10068 337.5 13 MP Last Month    25.9615
Name: 10068, dtype: object
10069 123.39000000000001 14 MP Last Month    8.81357
Name: 10069, dtype: object
10070 551.51 15 MP Last Month    36.7673
Name: 10070, dtype: object
10071 133.59 11 MP Last Month    12.1445
Name: 10071, dtype: object
10072 36.660000000000004 15 MP Last Month    2.444
Name: 10072, dtype: object
10073 366.23 14 MP Last Month    26.1593
Name: 10073, dtype: object
10074 471.01 15 MP Last Month    31.4007
Name: 10074, dtype: object
10075 221.61999999999998 15 MP Last Month    14.7747
Name: 10075, dtype: object
10076 190.32999999999998 10 MP Last Month    19.033
Name: 10076, dtype: object
10077 171.41 14 MP Last Month    12.2436
Name: 10077, dtype: object
10078 421.51000000000005 15 MP Last Month    28.1007
Name: 10078, dtype: object
10079 256.43 15 MP Last Month    17.0953
Name: 10079, dtype: object
10080 191.17000000000002 15 MP Last Month    12.7447
Name: 10080, dtype: object
10081 33.45 14 MP Last Month    2.38929
Name: 10081, dtype: object
10082 414.84000000000003 13 MP Last Month    31.9108
Name: 10082, dtype: object
10083 57.58999999999999 13 MP Last Month    4.43
Name: 10083, dtype: object
10084 394.03999999999996 13 MP Last Month    30.3108
Name: 10084, dtype: object
10085 292.66 13 MP Last Month    22.5123
Name: 10085, dtype: object
10086 364.24 13 MP Last Month    28.0185
Name: 10086, dtype: object
10087 300.31 11 MP Last Month    27.3009
Name: 10087, dtype: object
10088 205.17999999999998 13 MP Last Month    15.7831
Name: 10088, dtype: object
10089 16.58 6 MP Last Month    2.76333
Name: 10089, dtype: object
10090 358.7299999999999 13 MP Last Month    27.5946
Name: 10090, dtype: object
10091 93.22 6 MP Last Month    15.5367
Name: 10091, dtype: object
10092 279.46000000000004 11 MP Last Month    25.4055
Name: 10092, dtype: object
10093 86.36999999999999 13 MP Last Month    6.64385
Name: 10093, dtype: object
10094 396.7799999999999 16 MP Last Month    24.7987
Name: 10094, dtype: object
10095 267.78 16 MP Last Month    16.7362
Name: 10095, dtype: object

10096 75.56 16 MP Last Month    4.7225
Name: 10096, dtype: object
10097 523.59 16 MP Last Month    32.7244
Name: 10097, dtype: object
10098 436.68 12 MP Last Month    36.39
Name: 10098, dtype: object
10099 483.90000000000003 16 MP Last Month    30.2438
Name: 10099, dtype: object
10100 141.57999999999998 11 MP Last Month    12.8709
Name: 10100, dtype: object
10101 510.37 16 MP Last Month    31.8981
Name: 10101, dtype: object
10102 221.65999999999997 13 MP Last Month    17.0508
Name: 10102, dtype: object
10103 40.129999999999995 15 MP Last Month    2.67533
Name: 10103, dtype: object
10104 423.65000000000003 15 MP Last Month    28.2433
Name: 10104, dtype: object
10105 68.38000000000001 15 MP Last Month    4.55867
Name: 10105, dtype: object
10106 9.68 3 MP Last Month    3.22667
Name: 10106, dtype: object
10107 553.58 15 MP Last Month    36.9053
Name: 10107, dtype: object
10108 429.89 14 MP Last Month    30.7064
Name: 10108, dtype: object
10109 349.23 15 MP Last Month    23.282
Name: 10109, dtype: object
10110 345.24 15 MP Last Month    23.016
Name: 10110, dtype: object
10111 18.27 3 MP Last Month    6.09
Name: 10111, dtype: object
10112 14.35 3 MP Last Month    4.78333
Name: 10112, dtype: object
10113 324.05999999999995 13 MP Last Month    24.9277
Name: 10113, dtype: object
10114 390.55999999999995 15 MP Last Month    26.0373
Name: 10114, dtype: object
10115 398.89 15 MP Last Month    26.5927
Name: 10115, dtype: object
10116 215.80000000000004 14 MP Last Month    15.4143
Name: 10116, dtype: object
10117 70.67999999999999 15 MP Last Month    4.712
Name: 10117, dtype: object
10118 404.3399999999999 13 MP Last Month    31.1031
Name: 10118, dtype: object
10119 367.06999999999994 14 MP Last Month    26.2193
Name: 10119, dtype: object
10120 319.24999999999994 14 MP Last Month    22.8036
Name: 10120, dtype: object
10121 71.89 14 MP Last Month    5.135
Name: 10121, dtype: object
10122 419.57000000000005 14 MP Last Month    29.9693
Name: 10122, dtype: object
10123 398.19 14 MP Last Month    28.4421
Name: 10123, dtype: object
10124 295.17 11 MP Last Month    26.8336
Name: 10124, dtype: object
10125 247.53999999999996 10 MP Last Month    24.754
Name: 10125, dtype: object
10126 149.42 14 MP Last Month    10.6729
Name: 10126, dtype: object
10127 180.52 14 MP Last Month    12.8943
Name: 10127, dtype: object
10128 181.94 12 MP Last Month    15.1617
Name: 10128, dtype: object
10129 74.19 8 MP Last Month    9.27375
Name: 10129, dtype: object
10130 45.9 2 MP Last Month    22.95
Name: 10130, dtype: object
10131 423.66 14 MP Last Month    30.2614
Name: 10131, dtype: object
10132 236.01000000000002 14 MP Last Month    16.8579
Name: 10132, dtype: object
10133 173.44 14 MP Last Month    12.3886
Name: 10133, dtype: object
10134 143.96 13 MP Last Month    11.0738
Name: 10134, dtype: object
10135 161.07999999999998 7 MP Last Month    23.0114
Name: 10135, dtype: object
10136 481.45000000000005 14 MP Last Month    34.3893
Name: 10136, dtype: object
10137 161.47 11 MP Last Month    14.6791
Name: 10137, dtype: object
10138 412.34000000000003 14 MP Last Month    29.4529
Name: 10138, dtype: object
10139 233.92999999999998 14 MP Last Month    16.7093
Name: 10139, dtype: object
10140 40.599999999999994 2 MP Last Month    20.3
Name: 10140, dtype: object
10141 62.650000000000006 14 MP Last Month    4.475
Name: 10141, dtype: object
10142 187.98000000000002 14 MP Last Month    13.4271
Name: 10142, dtype: object
10143 65.67 13 MP Last Month    5.05154
Name: 10143, dtype: object
10144 500.1 14 MP Last Month    35.7214
Name: 10144, dtype: object
10145 245.58 12 MP Last Month    20.465
Name: 10145, dtype: object
10146 278.21 14 MP Last Month    19.8721
Name: 10146, dtype: object
10147 453.14000000000004 14 MP Last Month    32.3671
Name: 10147, dtype: object
10148 121.04 13 MP Last Month    9.31077
Name: 10148, dtype: object
10149 404.11 14 MP Last Month    28.865
Name: 10149, dtype: object
10150 154.72 9 MP Last Month    17.1911
Name: 10150, dtype: object
10151 377.78000000000003 13 MP Last Month    29.06
Name: 10151, dtype: object
10152 348.4200000000001 13 MP Last Month    26.8015
Name: 10152, dtype: object
10153 193.04999999999998 14 MP Last Month    13.7893
Name: 10153, dtype: object
10154 112.11 13 MP Last Month    8.62385
Name: 10154, dtype: object
10155 359.02 13 MP Last Month    27.6169
Name: 10155, dtype: object
10156 337.7899999999999 13 MP Last Month    25.9838
Name: 10156, dtype: object
10157 249.18 13 MP Last Month    19.1677
Name: 10157, dtype: object
10158 22.9 11 MP Last Month    2.08182
Name: 10158, dtype: object
10159 234.14999999999998 8 MP Last Month    29.2687
Name: 10159, dtype: object
10160 125.03 6 MP Last Month    20.8383
Name: 10160, dtype: object
10161 208.90999999999997 11 MP Last Month    18.9918
Name: 10161, dtype: object
10162 425.69 13 MP Last Month    32.7454
Name: 10162, dtype: object
10163 428.0399999999999 12 MP Last Month    35.67
Name: 10163, dtype: object
10164 95.64 13 MP Last Month    7.35692
Name: 10164, dtype: object
10165 499.47 14 MP Last Month    35.6764
Name: 10165, dtype: object
10166 362.09 12 MP Last Month    30.1742
Name: 10166, dtype: object
10167 3.68 1 MP Last Month    3.68
Name: 10167, dtype: object
10168 43.82 13 MP Last Month    3.37077
Name: 10168, dtype: object
10169 466.08 14 MP Last Month    33.2914
Name: 10169, dtype: object
10170 191.64000000000001 12 MP Last Month    15.97
Name: 10170, dtype: object
10171 458.15 14 MP Last Month    32.725
Name: 10171, dtype: object
10172 186.70000000000002 9 MP Last Month    20.7444
Name: 10172, dtype: object
10173 180.75 13 MP Last Month    13.9038
Name: 10173, dtype: object
10174 474.66999999999996 14 MP Last Month    33.905
Name: 10174, dtype: object
10175 87.21 7 MP Last Month    12.4586
Name: 10175, dtype: object
10176 36.19 11 MP Last Month    3.29
Name: 10176, dtype: object
10177 69.30000000000003 11 MP Last Month    6.3
Name: 10177, dtype: object
10178 400.97999999999996 13 MP Last Month    30.8446
Name: 10178, dtype: object
10179 336.47999999999996 15 MP Last Month    22.432
Name: 10179, dtype: object
10180 404.56000000000006 15 MP Last Month    26.9707
Name: 10180, dtype: object
10181 66.81 14 MP Last Month    4.77214
Name: 10181, dtype: object
10182 100.43 15 MP Last Month    6.69533
Name: 10182, dtype: object
10183 445.3800000000001 14 MP Last Month    31.8129
Name: 10183, dtype: object
10184 517.3199999999999 15 MP Last Month    34.488
Name: 10184, dtype: object
10185 248.80000000000004 15 MP Last Month    16.5867
Name: 10185, dtype: object
10186 82.80999999999999 15 MP Last Month    5.52067
Name: 10186, dtype: object
10187 404.53 15 MP Last Month    26.9687
Name: 10187, dtype: object
10188 216.38 14 MP Last Month    15.4557
Name: 10188, dtype: object
10189 107.14999999999999 14 MP Last Month    7.65357
Name: 10189, dtype: object
10190 431.49 14 MP Last Month    30.8207
Name: 10190, dtype: object
10191 336.09000000000003 14 MP Last Month    24.0064
Name: 10191, dtype: object
10192 6.54 4 MP Last Month    1.635
Name: 10192, dtype: object
10193 488.53000000000003 14 MP Last Month    34.895
Name: 10193, dtype: object
10194 183.89999999999998 14 MP Last Month    13.1357
Name: 10194, dtype: object
10195 458.8400000000001 14 MP Last Month    32.7743
Name: 10195, dtype: object
10196 110.48 14 MP Last Month    7.89143
Name: 10196, dtype: object
10197 344.74 14 MP Last Month    24.6243
Name: 10197, dtype: object
10198 304.4 14 MP Last Month    21.7429
Name: 10198, dtype: object
10199 290.87999999999994 14 MP Last Month    20.7771
Name: 10199, dtype: object
10200 21.0 14 MP Last Month    1.5
Name: 10200, dtype: object
10201 14.280000000000001 14 MP Last Month    1.02
Name: 10201, dtype: object
10202 521.6099999999999 15 MP Last Month    34.774
Name: 10202, dtype: object
10203 0.0 3 MP Last Month    0
Name: 10203, dtype: object
10204 174.51999999999998 15 MP Last Month    11.6347
Name: 10204, dtype: object
10205 352.22 15 MP Last Month    23.4813
Name: 10205, dtype: object
10206 333.40999999999997 14 MP Last Month    23.815
Name: 10206, dtype: object
10207 472.99 15 MP Last Month    31.5327
Name: 10207, dtype: object
10208 182.63 15 MP Last Month    12.1753
Name: 10208, dtype: object

10209 163.73 15 MP Last Month    10.9153
Name: 10209, dtype: object
10210 0.0 4 MP Last Month    0
Name: 10210, dtype: object
10211 532.0899999999999 15 MP Last Month    35.4727
Name: 10211, dtype: object
10212 384.58 15 MP Last Month    25.6387
Name: 10212, dtype: object
10213 92.55 6 MP Last Month    15.425
Name: 10213, dtype: object
10214 7.16 12 MP Last Month    0.596667
Name: 10214, dtype: object
10215 374.53000000000003 13 MP Last Month    28.81
Name: 10215, dtype: object
10216 408.92999999999995 13 MP Last Month    31.4562
Name: 10216, dtype: object
10217 208.29000000000002 13 MP Last Month    16.0223
Name: 10217, dtype: object
10218 306.7199999999999 13 MP Last Month    23.5938
Name: 10218, dtype: object
10219 429.24 13 MP Last Month    33.0185
Name: 10219, dtype: object
10220 408.09 12 MP Last Month    34.0075
Name: 10220, dtype: object
10221 47.54 12 MP Last Month    3.96167
Name: 10221, dtype: object
10222 8.69 12 MP Last Month    0.724167
Name: 10222, dtype: object
10223 7.33 12 MP Last Month    0.610833
Name: 10223, dtype: object
10224 7.07 12 MP Last Month    0.589167
Name: 10224, dtype: object
10225 436.09999999999997 13 MP Last Month    33.5462
Name: 10225, dtype: object
10226 180.36 13 MP Last Month    13.8738
Name: 10226, dtype: object
10227 425.75 12 MP Last Month    35.4792
Name: 10227, dtype: object
10228 377.93 13 MP Last Month    29.0715
Name: 10228, dtype: object
10229 37.230000000000004 13 MP Last Month    2.86385
Name: 10229, dtype: object
10230 454.13999999999993 13 MP Last Month    34.9338
Name: 10230, dtype: object
10231 395.34 13 MP Last Month    30.4108
Name: 10231, dtype: object
10232 92.05 10 MP Last Month    9.205
Name: 10232, dtype: object
10233 170.45999999999998 11 MP Last Month    15.4964
Name: 10233, dtype: object
10234 145.32 7 MP Last Month    20.76
Name: 10234, dtype: object
10235 26.0 13 MP Last Month    2
Name: 10235, dtype: object
10236 439.53000000000003 13 MP Last Month    33.81
Name: 10236, dtype: object
10237 168.43 12 MP Last Month    14.0358
Name: 10237, dtype: object
10238 179.22 13 MP Last Month    13.7862
Name: 10238, dtype: object
10239 407.72 13 MP Last Month    31.3631
Name: 10239, dtype: object
10240 381.96 12 MP Last Month    31.83
Name: 10240, dtype: object
10241 336.66999999999996 13 MP Last Month    25.8977
Name: 10241, dtype: object
10242 187.46999999999997 13 MP Last Month    14.4208
Name: 10242, dtype: object
10243 353.5 13 MP Last Month    27.1923
Name: 10243, dtype: object
10244 323.06 13 MP Last Month    24.8508
Name: 10244, dtype: object
10245 390.96 12 MP Last Month    32.58
Name: 10245, dtype: object
10246 273.09 13 MP Last Month    21.0069
Name: 10246, dtype: object
10247 243.69 13 MP Last Month    18.7454
Name: 10247, dtype: object
10248 37.42 13 MP Last Month    2.87846
Name: 10248, dtype: object
10249 274.47999999999996 8 MP Last Month    34.31
Name: 10249, dtype: object
10250 186.27999999999997 9 MP Last Month    20.6978
Name: 10250, dtype: object
10251 286.18 14 MP Last Month    20.4414
Name: 10251, dtype: object
10252 29.4 3 MP Last Month    9.8
Name: 10252, dtype: object
10253 168.23000000000002 15 MP Last Month    11.2153
Name: 10253, dtype: object
10254 303.99 10 MP Last Month    30.399
Name: 10254, dtype: object
10255 415.14 15 MP Last Month    27.676
Name: 10255, dtype: object
10256 369.34000000000003 15 MP Last Month    24.6227
Name: 10256, dtype: object
10257 437.81 15 MP Last Month    29.1873
Name: 10257, dtype: object
10258 281.89000000000004 15 MP Last Month    18.7927
Name: 10258, dtype: object
10259 67.57 15 MP Last Month    4.50467
Name: 10259, dtype: object
10260 0.0 1 MP Last Month    0
Name: 10260, dtype: object
10261 33.19 15 MP Last Month    2.21267
Name: 10261, dtype: object
10262 407.2200000000001 16 MP Last Month    25.4513
Name: 10262, dtype: object
10263 373.99 16 MP Last Month    23.3744
Name: 10263, dtype: object
10264 313.06000000000006 16 MP Last Month    19.5663
Name: 10264, dtype: object
10265 543.76 16 MP Last Month    33.985
Name: 10265, dtype: object
10266 322.51000000000005 16 MP Last Month    20.1569
Name: 10266, dtype: object
10267 435.77000000000004 16 MP Last Month    27.2356
Name: 10267, dtype: object
10268 342.73 15 MP Last Month    22.8487
Name: 10268, dtype: object
10269 70.47999999999999 16 MP Last Month    4.405
Name: 10269, dtype: object
10270 493.04999999999995 16 MP Last Month    30.8156
Name: 10270, dtype: object
10271 251.83 16 MP Last Month    15.7394
Name: 10271, dtype: object
10272 214.42999999999998 12 MP Last Month    17.8692
Name: 10272, dtype: object
10273 6.7 2 MP Last Month    3.35
Name: 10273, dtype: object
10274 428.1599999999999 15 MP Last Month    28.544
Name: 10274, dtype: object
10275 350.54 15 MP Last Month    23.3693
Name: 10275, dtype: object
10276 393.30000000000007 13 MP Last Month    30.2538
Name: 10276, dtype: object
10277 440.9599999999999 15 MP Last Month    29.3973
Name: 10277, dtype: object
10278 433.67999999999995 15 MP Last Month    28.912
Name: 10278, dtype: object
10279 389.9 15 MP Last Month    25.9933
Name: 10279, dtype: object
10280 200.25000000000003 12 MP Last Month    16.6875
Name: 10280, dtype: object
10281 144.1 15 MP Last Month    9.60667
Name: 10281, dtype: object
10282 202.00999999999996 15 MP Last Month    13.4673
Name: 10282, dtype: object
10283 309.16 15 MP Last Month    20.6107
Name: 10283, dtype: object
10284 368.96000000000004 13 MP Last Month    28.3815
Name: 10284, dtype: object
10285 156.73000000000002 13 MP Last Month    12.0562
Name: 10285, dtype: object
10286 178.07 9 MP Last Month    19.7856
Name: 10286, dtype: object
10287 11.71 3 MP Last Month    3.90333
Name: 10287, dtype: object
10288 80.82000000000001 7 MP Last Month    11.5457
Name: 10288, dtype: object
10289 328.34999999999997 13 MP Last Month    25.2577
Name: 10289, dtype: object
10290 87.01 12 MP Last Month    7.25083
Name: 10290, dtype: object
10291 10.75 4 MP Last Month    2.6875
Name: 10291, dtype: object
10292 350.67 13 MP Last Month    26.9746
Name: 10292, dtype: object
10293 326.88 13 MP Last Month    25.1446
Name: 10293, dtype: object
10294 372.73 13 MP Last Month    28.6715
Name: 10294, dtype: object
10295 179.69000000000003 12 MP Last Month    14.9742
Name: 10295, dtype: object
10296 463.98 15 MP Last Month    30.932
Name: 10296, dtype: object
10297 453.78 15 MP Last Month    30.252
Name: 10297, dtype: object
10298 172.93 15 MP Last Month    11.5287
Name: 10298, dtype: object
10299 361.16 13 MP Last Month    27.7815
Name: 10299, dtype: object
10300 263.11 15 MP Last Month    17.5407
Name: 10300, dtype: object
10301 124.23999999999998 12 MP Last Month    10.3533
Name: 10301, dtype: object
10302 341.46000000000004 15 MP Last Month    22.764
Name: 10302, dtype: object
10303 374.3900000000001 14 MP Last Month    26.7421
Name: 10303, dtype: object
10304 261.71000000000004 15 MP Last Month    17.4473
Name: 10304, dtype: object
10305 435.02 15 MP Last Month    29.0013
Name: 10305, dtype: object
10306 10.12 14 MP Last Month    0.722857
Name: 10306, dtype: object
10307 401.66999999999996 15 MP Last Month    26.778
Name: 10307, dtype: object
10308 121.94 10 MP Last Month    12.194
Name: 10308, dtype: object
10309 488.08000000000004 15 MP Last Month    32.5387
Name: 10309, dtype: object
10310 368.74 16 MP Last Month    23.0463
Name: 10310, dtype: object
10311 498.9200000000001 15 MP Last Month    33.2613
Name: 10311, dtype: object
10312 412.91999999999996 14 MP Last Month    29.4943
Name: 10312, dtype: object
10313 136.44 7 MP Last Month    19.4914
Name: 10313, dtype: object
10314 87.83999999999999 6 MP Last Month    14.64
Name: 10314, dtype: object
10315 46.080000000000005 6 MP Last Month    7.68
Name: 10315, dtype: object
10316 394.70000000000005 15 MP Last Month    26.3133
Name: 10316, dtype: object
10317 60.42 12 MP Last Month    5.035
Name: 10317, dtype: object
10318 51.040000000000006 15 MP Last Month    3.40267
Name: 10318, dtype: object
10319 176.7 13 MP Last Month    13.5923
Name: 10319, dtype: object
10320 212.19000000000003 13 MP Last Month    16.3223
Name: 10320, dtype: object
10321 370.37 12 MP Last Month    30.8642
Name: 10321, dtype: object
10322 424.69 13 MP Last Month    32.6685
Name: 10322, dtype: object

10323 360.41999999999996 13 MP Last Month    27.7246
Name: 10323, dtype: object
10324 42.35999999999999 12 MP Last Month    3.53
Name: 10324, dtype: object
10325 399.9 13 MP Last Month    30.7615
Name: 10325, dtype: object
10326 175.83999999999997 10 MP Last Month    17.584
Name: 10326, dtype: object
10327 171.39000000000001 10 MP Last Month    17.139
Name: 10327, dtype: object
10328 6.17 1 MP Last Month    6.17
Name: 10328, dtype: object
10329 43.42 11 MP Last Month    3.94727
Name: 10329, dtype: object
10330 465.63 13 MP Last Month    35.8177
Name: 10330, dtype: object
10331 337.18999999999994 13 MP Last Month    25.9377
Name: 10331, dtype: object
10332 272.12 13 MP Last Month    20.9323
Name: 10332, dtype: object
10333 214.55 13 MP Last Month    16.5038
Name: 10333, dtype: object
10334 266.47999999999996 13 MP Last Month    20.4985
Name: 10334, dtype: object
10335 428.58000000000004 13 MP Last Month    32.9677
Name: 10335, dtype: object
10336 8.9 1 MP Last Month    8.9
Name: 10336, dtype: object
10337 12.35 13 MP Last Month    0.95
Name: 10337, dtype: object
10338 418.33 13 MP Last Month    32.1792
Name: 10338, dtype: object
10339 255.18 13 MP Last Month    19.6292
Name: 10339, dtype: object
10340 5.88 7 MP Last Month    0.84
Name: 10340, dtype: object
10341 94.3 4 MP Last Month    23.575
Name: 10341, dtype: object
10342 398.17 15 MP Last Month    26.5447
Name: 10342, dtype: object
10343 432.75 15 MP Last Month    28.85
Name: 10343, dtype: object
10344 199.03 15 MP Last Month    13.2687
Name: 10344, dtype: object
10345 457.32 15 MP Last Month    30.488
Name: 10345, dtype: object
10346 484.30000000000007 15 MP Last Month    32.2867
Name: 10346, dtype: object
10347 289.65 15 MP Last Month    19.31
Name: 10347, dtype: object
10348 3.38 6 MP Last Month    0.563333
Name: 10348, dtype: object
10349 397.34 14 MP Last Month    28.3814
Name: 10349, dtype: object
10350 356.87000000000006 14 MP Last Month    25.4907
Name: 10350, dtype: object
10351 54.59 15 MP Last Month    3.63933
Name: 10351, dtype: object
10352 466.36 15 MP Last Month    31.0907
Name: 10352, dtype: object
10353 362.21000000000004 15 MP Last Month    24.1473
Name: 10353, dtype: object
10354 12.96 5 MP Last Month    2.592
Name: 10354, dtype: object
10355 365.92 15 MP Last Month    24.3947
Name: 10355, dtype: object
10356 486.5200000000001 15 MP Last Month    32.4347
Name: 10356, dtype: object
10357 206.82999999999998 15 MP Last Month    13.7887
Name: 10357, dtype: object
10358 518.75 15 MP Last Month    34.5833
Name: 10358, dtype: object
10359 128.26 15 MP Last Month    8.55067
Name: 10359, dtype: object
10360 27.9 15 MP Last Month    1.86
Name: 10360, dtype: object
10361 307.35999999999996 15 MP Last Month    20.4907
Name: 10361, dtype: object
10362 25.86 15 MP Last Month    1.724
Name: 10362, dtype: object
10363 282.16 12 MP Last Month    23.5133
Name: 10363, dtype: object
10364 158.98 8 MP Last Month    19.8725
Name: 10364, dtype: object
10365 288.93 12 MP Last Month    24.0775
Name: 10365, dtype: object
10366 446.24 14 MP Last Month    31.8743
Name: 10366, dtype: object
10367 145.34 12 MP Last Month    12.1117
Name: 10367, dtype: object
10368 412.44 14 MP Last Month    29.46
Name: 10368, dtype: object
10369 264.0400000000001 13 MP Last Month    20.3108
Name: 10369, dtype: object
10370 397.89000000000004 14 MP Last Month    28.4207
Name: 10370, dtype: object
10371 8.25 14 MP Last Month    0.589286
Name: 10371, dtype: object
10372 246.69999999999996 10 MP Last Month    24.67
Name: 10372, dtype: object
10373 337.21999999999997 14 MP Last Month    24.0871
Name: 10373, dtype: object
10374 286.91999999999996 14 MP Last Month    20.4943
Name: 10374, dtype: object
10375 586.3999999999999 16 MP Last Month    36.65
Name: 10375, dtype: object
10376 108.46000000000001 11 MP Last Month    9.86
Name: 10376, dtype: object
10377 288.15000000000003 16 MP Last Month    18.0094
Name: 10377, dtype: object
10378 109.89 10 MP Last Month    10.989
Name: 10378, dtype: object
10379 140.87 15 MP Last Month    9.39133
Name: 10379, dtype: object
10380 247.87000000000003 16 MP Last Month    15.4919
Name: 10380, dtype: object
10381 365.3599999999999 14 MP Last Month    26.0971
Name: 10381, dtype: object
10382 366.69 16 MP Last Month    22.9181
Name: 10382, dtype: object
10383 183.94000000000003 15 MP Last Month    12.2627
Name: 10383, dtype: object
10384 544.91 15 MP Last Month    36.3273
Name: 10384, dtype: object
10385 475.75 16 MP Last Month    29.7344
Name: 10385, dtype: object
10386 120.45999999999998 16 MP Last Month    7.52875
Name: 10386, dtype: object
10387 12.219999999999999 14 MP Last Month    0.872857
Name: 10387, dtype: object
10388 407.21000000000004 15 MP Last Month    27.1473
Name: 10388, dtype: object
10389 192.76 8 MP Last Month    24.095
Name: 10389, dtype: object
10390 221.48 14 MP Last Month    15.82
Name: 10390, dtype: object
10391 364.23 15 MP Last Month    24.282
Name: 10391, dtype: object
10392 65.14 5 MP Last Month    13.028
Name: 10392, dtype: object
10393 216.11 15 MP Last Month    14.4073
Name: 10393, dtype: object
10394 0 0 MP Last Month    0
Name: 10394, dtype: object
10395 415.07 15 MP Last Month    27.6713
Name: 10395, dtype: object
10396 451.17 15 MP Last Month    30.078
Name: 10396, dtype: object
10397 34.53 6 MP Last Month    5.755
Name: 10397, dtype: object
10398 482.65 14 MP Last Month    34.475
Name: 10398, dtype: object
10399 293.28000000000003 14 MP Last Month    20.9486
Name: 10399, dtype: object
10400 264.31 14 MP Last Month    18.8793
Name: 10400, dtype: object
10401 21.64 8 MP Last Month    2.705
Name: 10401, dtype: object
10402 382.34000000000003 12 MP Last Month    31.8617
Name: 10402, dtype: object
10403 365.37999999999994 13 MP Last Month    28.1062
Name: 10403, dtype: object
10404 434.85 14 MP Last Month    31.0607
Name: 10404, dtype: object
10405 212.64000000000001 14 MP Last Month    15.1886
Name: 10405, dtype: object
10406 1.97 3 MP Last Month    0.656667
Name: 10406, dtype: object
10407 434.85 13 MP Last Month    33.45
Name: 10407, dtype: object
10408 327.93 13 MP Last Month    25.2254
Name: 10408, dtype: object
10409 116.99000000000001 14 MP Last Month    8.35643
Name: 10409, dtype: object
10410 449.57000000000005 14 MP Last Month    32.1121
Name: 10410, dtype: object
10411 72.16999999999999 14 MP Last Month    5.155
Name: 10411, dtype: object
10412 314.33000000000004 14 MP Last Month    22.4521
Name: 10412, dtype: object
10413 426.71999999999997 14 MP Last Month    30.48
Name: 10413, dtype: object
10414 398.39 14 MP Last Month    28.4564
Name: 10414, dtype: object
10415 230.76 14 MP Last Month    16.4829
Name: 10415, dtype: object
10416 123.56 13 MP Last Month    9.50462
Name: 10416, dtype: object
10417 16.58 7 MP Last Month    2.36857
Name: 10417, dtype: object
10418 323.58 12 MP Last Month    26.965
Name: 10418, dtype: object
10419 392.0999999999999 14 MP Last Month    28.0071
Name: 10419, dtype: object
10420 107.85 7 MP Last Month    15.4071
Name: 10420, dtype: object
10421 86.36999999999999 14 MP Last Month    6.16929
Name: 10421, dtype: object
10422 271.12 16 MP Last Month    16.945
Name: 10422, dtype: object
10423 75.56 16 MP Last Month    4.7225
Name: 10423, dtype: object
10424 439.84999999999997 12 MP Last Month    36.6542
Name: 10424, dtype: object
10425 216.26 13 MP Last Month    16.6354
Name: 10425, dtype: object
10426 161.20999999999998 12 MP Last Month    13.4342
Name: 10426, dtype: object
10427 499.83000000000004 16 MP Last Month    31.2394
Name: 10427, dtype: object
10428 31.48 15 MP Last Month    2.09867
Name: 10428, dtype: object
10429 458.98 16 MP Last Month    28.6863
Name: 10429, dtype: object
10430 60.019999999999996 15 MP Last Month    4.00133
Name: 10430, dtype: object
10431 9.68 4 MP Last Month    2.42
Name: 10431, dtype: object
10432 443.97 14 MP Last Month    31.7121
Name: 10432, dtype: object
10433 564.82 15 MP Last Month    37.6547
Name: 10433, dtype: object
10434 344.19000000000005 15 MP Last Month    22.946
Name: 10434, dtype: object
10435 0.0 1 MP Last Month    0
Name: 10435, dtype: object
10436 32.0 4 MP Last Month    8
Name: 10436, dtype: object
10437 325.18 13 MP Last Month    25.0138
Name: 10437, dtype: object
10438 4.15 4 MP Last Month    1.0375
Name: 10438, dtype: object

10439 228.23000000000002 14 MP Last Month    16.3021
Name: 10439, dtype: object
10440 405.39000000000004 15 MP Last Month    27.026
Name: 10440, dtype: object
10441 46.629999999999995 15 MP Last Month    3.10867
Name: 10441, dtype: object
10442 183.12999999999997 14 MP Last Month    13.0807
Name: 10442, dtype: object
10443 81.65 3 MP Last Month    27.2167
Name: 10443, dtype: object
10444 227.54999999999998 14 MP Last Month    16.2536
Name: 10444, dtype: object
10445 0 0 MP Last Month    0
Name: 10445, dtype: object
10446 433.39 14 MP Last Month    30.9564
Name: 10446, dtype: object
10447 123.21000000000001 13 MP Last Month    9.47769
Name: 10447, dtype: object
10448 197.67999999999998 8 MP Last Month    24.71
Name: 10448, dtype: object
10449 493.8300000000001 14 MP Last Month    35.2736
Name: 10449, dtype: object
10450 142.7 11 MP Last Month    12.9727
Name: 10450, dtype: object
10451 59.669999999999995 3 MP Last Month    19.89
Name: 10451, dtype: object
10452 59.17 14 MP Last Month    4.22643
Name: 10452, dtype: object
10453 233.41 14 MP Last Month    16.6721
Name: 10453, dtype: object
10454 383.0 14 MP Last Month    27.3571
Name: 10454, dtype: object
10455 136.13 14 MP Last Month    9.72357
Name: 10455, dtype: object
10456 366.38999999999993 14 MP Last Month    26.1707
Name: 10456, dtype: object
10457 265.18 14 MP Last Month    18.9414
Name: 10457, dtype: object
10458 22.9 12 MP Last Month    1.90833
Name: 10458, dtype: object
10459 220.98999999999998 12 MP Last Month    18.4158
Name: 10459, dtype: object
10460 264.17999999999995 9 MP Last Month    29.3533
Name: 10460, dtype: object
10461 147.05 7 MP Last Month    21.0071
Name: 10461, dtype: object
10462 463.8599999999999 13 MP Last Month    35.6815
Name: 10462, dtype: object
10463 458.65999999999997 14 MP Last Month    32.7614
Name: 10463, dtype: object
10464 110.12 14 MP Last Month    7.86571
Name: 10464, dtype: object
10465 164.94 13 MP Last Month    12.6877
Name: 10465, dtype: object
10466 502.24 14 MP Last Month    35.8743
Name: 10466, dtype: object
10467 239.28 7 MP Last Month    34.1829
Name: 10467, dtype: object
10468 223.12999999999997 13 MP Last Month    17.1638
Name: 10468, dtype: object
10469 256.22 14 MP Last Month    18.3014
Name: 10469, dtype: object
10470 518.95 14 MP Last Month    37.0679
Name: 10470, dtype: object
10471 334.79 14 MP Last Month    23.9136
Name: 10471, dtype: object
10472 294.35 12 MP Last Month    24.5292
Name: 10472, dtype: object
10473 86.94999999999999 5 MP Last Month    17.39
Name: 10473, dtype: object
10474 85.63 3 MP Last Month    28.5433
Name: 10474, dtype: object
10475 174.17999999999998 14 MP Last Month    12.4414
Name: 10475, dtype: object
10476 322.82 14 MP Last Month    23.0586
Name: 10476, dtype: object
10477 507.91999999999996 14 MP Last Month    36.28
Name: 10477, dtype: object
10478 370.11 12 MP Last Month    30.8425
Name: 10478, dtype: object
10479 7.5600000000000005 2 MP Last Month    3.78
Name: 10479, dtype: object
10480 40.1 13 MP Last Month    3.08462
Name: 10480, dtype: object
10481 474.23 14 MP Last Month    33.8736
Name: 10481, dtype: object
10482 460.26000000000005 14 MP Last Month    32.8757
Name: 10482, dtype: object
10483 205.88000000000002 10 MP Last Month    20.588
Name: 10483, dtype: object
10484 209.5 12 MP Last Month    17.4583
Name: 10484, dtype: object
10485 153.23000000000002 13 MP Last Month    11.7869
Name: 10485, dtype: object
10486 479.73999999999995 14 MP Last Month    34.2671
Name: 10486, dtype: object
10487 100.50999999999999 8 MP Last Month    12.5637
Name: 10487, dtype: object
10488 32.47 11 MP Last Month    2.95182
Name: 10488, dtype: object
10489 340.9199999999999 15 MP Last Month    22.728
Name: 10489, dtype: object
10490 398.68 15 MP Last Month    26.5787
Name: 10490, dtype: object
10491 84.91000000000001 15 MP Last Month    5.66067
Name: 10491, dtype: object
10492 435.34999999999997 14 MP Last Month    31.0964
Name: 10492, dtype: object
10493 77.48 14 MP Last Month    5.53429
Name: 10493, dtype: object
10494 516.82 15 MP Last Month    34.4547
Name: 10494, dtype: object
10495 452.04 14 MP Last Month    32.2886
Name: 10495, dtype: object
10496 249.9 15 MP Last Month    16.66
Name: 10496, dtype: object
10497 75.53999999999999 15 MP Last Month    5.036
Name: 10497, dtype: object
10498 403.13 15 MP Last Month    26.8753
Name: 10498, dtype: object
10499 217.79000000000002 14 MP Last Month    15.5564
Name: 10499, dtype: object
10500 107.14999999999999 14 MP Last Month    7.65357
Name: 10500, dtype: object
10501 420.06 14 MP Last Month    30.0043
Name: 10501, dtype: object
10502 352.77 15 MP Last Month    23.518
Name: 10502, dtype: object
10503 22.22 3 MP Last Month    7.40667
Name: 10503, dtype: object
10504 181.68 15 MP Last Month    12.112
Name: 10504, dtype: object
10505 471.84000000000003 15 MP Last Month    31.456
Name: 10505, dtype: object
10506 358.47999999999996 15 MP Last Month    23.8987
Name: 10506, dtype: object
10507 173.92 15 MP Last Month    11.5947
Name: 10507, dtype: object
10508 0.0 4 MP Last Month    0
Name: 10508, dtype: object
10509 142.17 15 MP Last Month    9.478
Name: 10509, dtype: object
10510 529.3699999999999 15 MP Last Month    35.2913
Name: 10510, dtype: object
10511 383.99999999999994 15 MP Last Month    25.6
Name: 10511, dtype: object
10512 100.33 7 MP Last Month    14.3329
Name: 10512, dtype: object
10513 7.16 12 MP Last Month    0.596667
Name: 10513, dtype: object
10514 406.41 13 MP Last Month    31.2623
Name: 10514, dtype: object
10515 138.47 11 MP Last Month    12.5882
Name: 10515, dtype: object
10516 90.62 9 MP Last Month    10.0689
Name: 10516, dtype: object
10517 25.009999999999998 8 MP Last Month    3.12625
Name: 10517, dtype: object
10518 426.34999999999997 13 MP Last Month    32.7962
Name: 10518, dtype: object
10519 336.33 12 MP Last Month    28.0275
Name: 10519, dtype: object
10520 228.43999999999997 13 MP Last Month    17.5723
Name: 10520, dtype: object
10521 192.88 13 MP Last Month    14.8369
Name: 10521, dtype: object
10522 237.65 12 MP Last Month    19.8042
Name: 10522, dtype: object
10523 380.74 13 MP Last Month    29.2877
Name: 10523, dtype: object
10524 18.77 3 MP Last Month    6.25667
Name: 10524, dtype: object
10525 158.49999999999997 13 MP Last Month    12.1923
Name: 10525, dtype: object
10526 33.29 14 MP Last Month    2.37786
Name: 10526, dtype: object
10527 213.65 13 MP Last Month    16.4346
Name: 10527, dtype: object
10528 373.3500000000001 13 MP Last Month    28.7192
Name: 10528, dtype: object
10529 403.34999999999997 13 MP Last Month    31.0269
Name: 10529, dtype: object
10530 410.19000000000005 12 MP Last Month    34.1825
Name: 10530, dtype: object
10531 425.31999999999994 13 MP Last Month    32.7169
Name: 10531, dtype: object
10532 314.63 13 MP Last Month    24.2023
Name: 10532, dtype: object
10533 51.39 12 MP Last Month    4.2825
Name: 10533, dtype: object
10534 21.759999999999998 12 MP Last Month    1.81333
Name: 10534, dtype: object
10535 7.07 12 MP Last Month    0.589167
Name: 10535, dtype: object
10536 6.699999999999999 12 MP Last Month    0.558333
Name: 10536, dtype: object
10537 440.5799999999999 13 MP Last Month    33.8908
Name: 10537, dtype: object
10538 276.15 12 MP Last Month    23.0125
Name: 10538, dtype: object
10539 175.88000000000002 13 MP Last Month    13.5292
Name: 10539, dtype: object
10540 414.51 15 MP Last Month    27.634
Name: 10540, dtype: object
10541 225.06 14 MP Last Month    16.0757
Name: 10541, dtype: object
10542 179.59 8 MP Last Month    22.4488
Name: 10542, dtype: object
10543 378.5800000000001 15 MP Last Month    25.2387
Name: 10543, dtype: object
10544 229.44000000000003 15 MP Last Month    15.296
Name: 10544, dtype: object
10545 83.57 6 MP Last Month    13.9283
Name: 10545, dtype: object
10546 0.0 1 MP Last Month    0
Name: 10546, dtype: object
10547 435.91999999999996 15 MP Last Month    29.0613
Name: 10547, dtype: object
10548 43.980000000000004 7 MP Last Month    6.28286
Name: 10548, dtype: object
10549 454.84999999999997 15 MP Last Month    30.3233
Name: 10549, dtype: object
10550 461.75 13 MP Last Month    35.5192
Name: 10550, dtype: object
10551 402.28000000000003 14 MP Last Month    28.7343
Name: 10551, dtype: object

10552 37.230000000000004 14 MP Last Month    2.65929
Name: 10552, dtype: object
10553 490.7199999999999 14 MP Last Month    35.0514
Name: 10553, dtype: object
10554 429.57 14 MP Last Month    30.6836
Name: 10554, dtype: object
10555 190.63 12 MP Last Month    15.8858
Name: 10555, dtype: object
10556 103.47 11 MP Last Month    9.40636
Name: 10556, dtype: object
10557 160.79999999999998 8 MP Last Month    20.1
Name: 10557, dtype: object
10558 26.0 14 MP Last Month    1.85714
Name: 10558, dtype: object
10559 471.26000000000005 14 MP Last Month    33.6614
Name: 10559, dtype: object
10560 184.70000000000002 13 MP Last Month    14.2077
Name: 10560, dtype: object
10561 192.99 14 MP Last Month    13.785
Name: 10561, dtype: object
10562 478.64 14 MP Last Month    34.1886
Name: 10562, dtype: object
10563 288.64 14 MP Last Month    20.6171
Name: 10563, dtype: object
10564 28.02 9 MP Last Month    3.11333
Name: 10564, dtype: object
10565 294.18000000000006 14 MP Last Month    21.0129
Name: 10565, dtype: object
10566 373.13999999999993 13 MP Last Month    28.7031
Name: 10566, dtype: object
10567 428.8 14 MP Last Month    30.6286
Name: 10567, dtype: object
10568 369.86 12 MP Last Month    30.8217
Name: 10568, dtype: object
10569 223.89000000000001 14 MP Last Month    15.9921
Name: 10569, dtype: object
10570 4.6 4 MP Last Month    1.15
Name: 10570, dtype: object
10571 437.3 13 MP Last Month    33.6385
Name: 10571, dtype: object
10572 320.75000000000006 13 MP Last Month    24.6731
Name: 10572, dtype: object
10573 105.45 14 MP Last Month    7.53214
Name: 10573, dtype: object
10574 310.46 9 MP Last Month    34.4956
Name: 10574, dtype: object
10575 311.71000000000004 15 MP Last Month    20.7807
Name: 10575, dtype: object
10576 207.47999999999996 10 MP Last Month    20.748
Name: 10576, dtype: object
10577 43.25 4 MP Last Month    10.8125
Name: 10577, dtype: object
10578 168.23000000000002 16 MP Last Month    10.5144
Name: 10578, dtype: object
10579 336.59000000000003 11 MP Last Month    30.5991
Name: 10579, dtype: object
10580 391.84000000000003 16 MP Last Month    24.49
Name: 10580, dtype: object
10581 455.46999999999997 16 MP Last Month    28.4669
Name: 10581, dtype: object
10582 463.31 16 MP Last Month    28.9569
Name: 10582, dtype: object
10583 304.39000000000004 16 MP Last Month    19.0244
Name: 10583, dtype: object
10584 67.57 16 MP Last Month    4.22312
Name: 10584, dtype: object
10585 33.19 16 MP Last Month    2.07437
Name: 10585, dtype: object
10586 0.0 2 MP Last Month    0
Name: 10586, dtype: object
10587 506.8900000000001 14 MP Last Month    36.2064
Name: 10587, dtype: object
10588 144.31 11 MP Last Month    13.1191
Name: 10588, dtype: object
10589 30.93 14 MP Last Month    2.20929
Name: 10589, dtype: object
10590 433.55 14 MP Last Month    30.9679
Name: 10590, dtype: object
10591 217.25 11 MP Last Month    19.75
Name: 10591, dtype: object
10592 339.06 13 MP Last Month    26.0815
Name: 10592, dtype: object
10593 211.67 14 MP Last Month    15.1193
Name: 10593, dtype: object
10594 132.41 13 MP Last Month    10.1854
Name: 10594, dtype: object
10595 389.93000000000006 14 MP Last Month    27.8521
Name: 10595, dtype: object
10596 238.01999999999998 14 MP Last Month    17.0014
Name: 10596, dtype: object
10597 190.28000000000003 14 MP Last Month    13.5914
Name: 10597, dtype: object
10598 27.72 13 MP Last Month    2.13231
Name: 10598, dtype: object
10599 86.82 14 MP Last Month    6.20143
Name: 10599, dtype: object
10600 446.82000000000005 14 MP Last Month    31.9157
Name: 10600, dtype: object
10601 438.40999999999997 14 MP Last Month    31.315
Name: 10601, dtype: object
10602 115.46000000000001 13 MP Last Month    8.88154
Name: 10602, dtype: object
10603 253.32999999999998 14 MP Last Month    18.095
Name: 10603, dtype: object
10604 16.58 8 MP Last Month    2.0725
Name: 10604, dtype: object
10605 411.62999999999994 14 MP Last Month    29.4021
Name: 10605, dtype: object
10606 320.76000000000005 14 MP Last Month    22.9114
Name: 10606, dtype: object
10607 12.059999999999999 4 MP Last Month    3.015
Name: 10607, dtype: object
10608 79.24 14 MP Last Month    5.66
Name: 10608, dtype: object
10609 123.66999999999999 8 MP Last Month    15.4587
Name: 10609, dtype: object
10610 389.46 14 MP Last Month    27.8186
Name: 10610, dtype: object
10611 314.15000000000003 16 MP Last Month    19.6344
Name: 10611, dtype: object
10612 366.02 16 MP Last Month    22.8762
Name: 10612, dtype: object
10613 397.27000000000004 16 MP Last Month    24.8294
Name: 10613, dtype: object
10614 540.04 16 MP Last Month    33.7525
Name: 10614, dtype: object
10615 437.01000000000005 16 MP Last Month    27.3131
Name: 10615, dtype: object
10616 328.36 16 MP Last Month    20.5225
Name: 10616, dtype: object
10617 70.46 16 MP Last Month    4.40375
Name: 10617, dtype: object
10618 333.85 15 MP Last Month    22.2567
Name: 10618, dtype: object
10619 491.96 16 MP Last Month    30.7475
Name: 10619, dtype: object
10620 232.04999999999998 12 MP Last Month    19.3375
Name: 10620, dtype: object
10621 257.65999999999997 16 MP Last Month    16.1037
Name: 10621, dtype: object
10622 6.7 3 MP Last Month    2.23333
Name: 10622, dtype: object
10623 393.89 13 MP Last Month    30.2992
Name: 10623, dtype: object
10624 434.59999999999997 15 MP Last Month    28.9733
Name: 10624, dtype: object
10625 199.40999999999997 15 MP Last Month    13.294
Name: 10625, dtype: object
10626 54.15999999999999 11 MP Last Month    4.92364
Name: 10626, dtype: object
10627 122.79999999999998 12 MP Last Month    10.2333
Name: 10627, dtype: object
10628 385.08000000000004 15 MP Last Month    25.672
Name: 10628, dtype: object
10629 304.05999999999995 15 MP Last Month    20.2707
Name: 10629, dtype: object
10630 441.55999999999995 15 MP Last Month    29.4373
Name: 10630, dtype: object
10631 217.57000000000002 13 MP Last Month    16.7362
Name: 10631, dtype: object
10632 145.75 15 MP Last Month    9.71667
Name: 10632, dtype: object
10633 432.7299999999999 15 MP Last Month    28.8487
Name: 10633, dtype: object
10634 350.69 15 MP Last Month    23.3793
Name: 10634, dtype: object
10635 61.0 14 MP Last Month    4.35714
Name: 10635, dtype: object
10636 374.31 13 MP Last Month    28.7931
Name: 10636, dtype: object
10637 167.12 9 MP Last Month    18.5689
Name: 10637, dtype: object
10638 159.81 13 MP Last Month    12.2931
Name: 10638, dtype: object
10639 14.46 4 MP Last Month    3.615
Name: 10639, dtype: object
10640 329.45 13 MP Last Month    25.3423
Name: 10640, dtype: object
10641 349.21000000000004 13 MP Last Month    26.8623
Name: 10641, dtype: object
10642 24.57 5 MP Last Month    4.914
Name: 10642, dtype: object
10643 89.76 13 MP Last Month    6.90462
Name: 10643, dtype: object
10644 394.52000000000004 13 MP Last Month    30.3477
Name: 10644, dtype: object
10645 335.78000000000003 13 MP Last Month    25.8292
Name: 10645, dtype: object
10646 167.48999999999998 12 MP Last Month    13.9575
Name: 10646, dtype: object
10647 429.08 14 MP Last Month    30.6486
Name: 10647, dtype: object
10648 418.66999999999996 14 MP Last Month    29.905
Name: 10648, dtype: object
10649 146.78 14 MP Last Month    10.4843
Name: 10649, dtype: object
10650 331.51 12 MP Last Month    27.6258
Name: 10650, dtype: object
10651 240.40000000000003 14 MP Last Month    17.1714
Name: 10651, dtype: object
10652 328.78000000000003 14 MP Last Month    23.4843
Name: 10652, dtype: object
10653 131.86 12 MP Last Month    10.9883
Name: 10653, dtype: object
10654 384.81000000000006 14 MP Last Month    27.4864
Name: 10654, dtype: object
10655 389.52 14 MP Last Month    27.8229
Name: 10655, dtype: object
10656 256.73 14 MP Last Month    18.3379
Name: 10656, dtype: object
10657 15.07 14 MP Last Month    1.07643
Name: 10657, dtype: object
10658 370.88999999999993 15 MP Last Month    24.726
Name: 10658, dtype: object
10659 139.98 10 MP Last Month    13.998
Name: 10659, dtype: object
10660 518.58 16 MP Last Month    32.4113
Name: 10660, dtype: object
10661 439.93999999999994 15 MP Last Month    29.3293
Name: 10661, dtype: object
10662 534.3000000000001 16 MP Last Month    33.3938
Name: 10662, dtype: object
10663 97.16 7 MP Last Month    13.88
Name: 10663, dtype: object
10664 151.01 8 MP Last Month    18.8762
Name: 10664, dtype: object

10665 420.32000000000005 16 MP Last Month    26.27
Name: 10665, dtype: object
10666 77.42 13 MP Last Month    5.95538
Name: 10666, dtype: object
10667 56.42000000000001 16 MP Last Month    3.52625
Name: 10667, dtype: object
10668 211.61 13 MP Last Month    16.2777
Name: 10668, dtype: object
10669 206.88 13 MP Last Month    15.9138
Name: 10669, dtype: object
10670 369.62 12 MP Last Month    30.8017
Name: 10670, dtype: object
10671 417.09000000000003 13 MP Last Month    32.0838
Name: 10671, dtype: object
10672 341.96999999999997 13 MP Last Month    26.3054
Name: 10672, dtype: object
10673 48.93999999999999 12 MP Last Month    4.07833
Name: 10673, dtype: object
10674 398.5799999999999 13 MP Last Month    30.66
Name: 10674, dtype: object
10675 177.17 10 MP Last Month    17.717
Name: 10675, dtype: object
10676 14.54 2 MP Last Month    7.27
Name: 10676, dtype: object
10677 43.42 11 MP Last Month    3.94727
Name: 10677, dtype: object
10678 474.84999999999997 13 MP Last Month    36.5269
Name: 10678, dtype: object
10679 340.76000000000005 13 MP Last Month    26.2123
Name: 10679, dtype: object
10680 273.57 13 MP Last Month    21.0438
Name: 10680, dtype: object
10681 0.0 4 MP Last Month    0
Name: 10681, dtype: object
10682 421.62 13 MP Last Month    32.4323
Name: 10682, dtype: object
10683 259.63 13 MP Last Month    19.9715
Name: 10683, dtype: object
10684 253.92000000000002 13 MP Last Month    19.5323
Name: 10684, dtype: object
10685 15.48 2 MP Last Month    7.74
Name: 10685, dtype: object
10686 12.35 13 MP Last Month    0.95
Name: 10686, dtype: object
10687 418.82 13 MP Last Month    32.2169
Name: 10687, dtype: object
10688 268.90000000000003 13 MP Last Month    20.6846
Name: 10688, dtype: object
10689 5.88 7 MP Last Month    0.84
Name: 10689, dtype: object
10690 95.92 3 MP Last Month    31.9733
Name: 10690, dtype: object
10691 399.13 14 MP Last Month    28.5093
Name: 10691, dtype: object
10692 368.52000000000004 14 MP Last Month    26.3229
Name: 10692, dtype: object
10693 197.53 14 MP Last Month    14.1093
Name: 10693, dtype: object
10694 436.51 14 MP Last Month    31.1793
Name: 10694, dtype: object
10695 457.52000000000004 14 MP Last Month    32.68
Name: 10695, dtype: object
10696 267.36999999999995 14 MP Last Month    19.0979
Name: 10696, dtype: object
10697 307.97 13 MP Last Month    23.69
Name: 10697, dtype: object
10698 378.68999999999994 13 MP Last Month    29.13
Name: 10698, dtype: object
10699 324.70000000000005 13 MP Last Month    24.9769
Name: 10699, dtype: object
10700 52.07 14 MP Last Month    3.71929
Name: 10700, dtype: object
10701 472.59000000000003 15 MP Last Month    31.506
Name: 10701, dtype: object
10702 362.53 15 MP Last Month    24.1687
Name: 10702, dtype: object
10703 16.86 6 MP Last Month    2.81
Name: 10703, dtype: object
10704 524.87 15 MP Last Month    34.9913
Name: 10704, dtype: object
10705 487.99 15 MP Last Month    32.5327
Name: 10705, dtype: object
10706 365.08000000000004 15 MP Last Month    24.3387
Name: 10706, dtype: object
10707 207.93 15 MP Last Month    13.862
Name: 10707, dtype: object
10708 145.26 15 MP Last Month    9.684
Name: 10708, dtype: object
10709 309.63 15 MP Last Month    20.642
Name: 10709, dtype: object
10710 42.379999999999995 15 MP Last Month    2.82533
Name: 10710, dtype: object
10711 32.44 15 MP Last Month    2.16267
Name: 10711, dtype: object
10712 565.28 15 MP Last Month    37.6853
Name: 10712, dtype: object
10713 448.12 14 MP Last Month    32.0086
Name: 10713, dtype: object
10714 377.86 15 MP Last Month    25.1907
Name: 10714, dtype: object
10715 2.43 2 MP Last Month    1.215
Name: 10715, dtype: object
10716 447.9600000000001 14 MP Last Month    31.9971
Name: 10716, dtype: object
10717 335.25 13 MP Last Month    25.7885
Name: 10717, dtype: object
10718 53.83 5 MP Last Month    10.766
Name: 10718, dtype: object
10719 395.97 15 MP Last Month    26.398
Name: 10719, dtype: object
10720 256.31 15 MP Last Month    17.0873
Name: 10720, dtype: object
10721 36.71 15 MP Last Month    2.44733
Name: 10721, dtype: object
10722 0 0 MP Last Month    0
Name: 10722, dtype: object
10723 368.28999999999996 12 MP Last Month    30.6908
Name: 10723, dtype: object
10724 361.5899999999999 13 MP Last Month    27.8146
Name: 10724, dtype: object
10725 301.31999999999994 13 MP Last Month    23.1785
Name: 10725, dtype: object
10726 62.919999999999995 13 MP Last Month    4.84
Name: 10726, dtype: object
10727 388.48 13 MP Last Month    29.8831
Name: 10727, dtype: object
10728 258.12 10 MP Last Month    25.812
Name: 10728, dtype: object
10729 220.01000000000002 9 MP Last Month    24.4456
Name: 10729, dtype: object
10730 137.42 13 MP Last Month    10.5708
Name: 10730, dtype: object
10731 84.21 9 MP Last Month    9.35667
Name: 10731, dtype: object
10732 186.28999999999996 13 MP Last Month    14.33
Name: 10732, dtype: object
10733 168.19 11 MP Last Month    15.29
Name: 10733, dtype: object
10734 452.34999999999997 15 MP Last Month    30.1567
Name: 10734, dtype: object
10735 463.15 15 MP Last Month    30.8767
Name: 10735, dtype: object
10736 146.78 15 MP Last Month    9.78533
Name: 10736, dtype: object
10737 369.38 13 MP Last Month    28.4138
Name: 10737, dtype: object
10738 148.91000000000003 13 MP Last Month    11.4546
Name: 10738, dtype: object
10739 264.47 15 MP Last Month    17.6313
Name: 10739, dtype: object
10740 352.35 15 MP Last Month    23.49
Name: 10740, dtype: object
10741 409.96999999999997 15 MP Last Month    27.3313
Name: 10741, dtype: object
10742 422.36000000000007 15 MP Last Month    28.1573
Name: 10742, dtype: object
10743 268.43 15 MP Last Month    17.8953
Name: 10743, dtype: object
10744 15.07 15 MP Last Month    1.00467
Name: 10744, dtype: object
10745 107.38000000000001 4 MP Last Month    26.845
Name: 10745, dtype: object
10746 218.79 14 MP Last Month    15.6279
Name: 10746, dtype: object
10747 425.7399999999999 14 MP Last Month    30.41
Name: 10747, dtype: object
10748 183.27999999999997 14 MP Last Month    13.0914
Name: 10748, dtype: object
10749 96.84000000000002 13 MP Last Month    7.44923
Name: 10749, dtype: object
10750 2.88 1 MP Last Month    2.88
Name: 10750, dtype: object
10751 225.52999999999997 9 MP Last Month    25.0589
Name: 10751, dtype: object
10752 491.75000000000006 14 MP Last Month    35.125
Name: 10752, dtype: object
10753 140.96 11 MP Last Month    12.8145
Name: 10753, dtype: object
10754 82.5 4 MP Last Month    20.625
Name: 10754, dtype: object
10755 235.83999999999997 14 MP Last Month    16.8457
Name: 10755, dtype: object
10756 54.17 14 MP Last Month    3.86929
Name: 10756, dtype: object
10757 480.04 14 MP Last Month    34.2886
Name: 10757, dtype: object
10758 243.75 12 MP Last Month    20.3125
Name: 10758, dtype: object
10759 82.04 13 MP Last Month    6.31077
Name: 10759, dtype: object
10760 204.29000000000002 14 MP Last Month    14.5921
Name: 10760, dtype: object
10761 436.52000000000004 14 MP Last Month    31.18
Name: 10761, dtype: object
10762 363.48 13 MP Last Month    27.96
Name: 10762, dtype: object
10763 164.32 10 MP Last Month    16.432
Name: 10763, dtype: object
10764 412.5 14 MP Last Month    29.4643
Name: 10764, dtype: object
10765 280.29 14 MP Last Month    20.0207
Name: 10765, dtype: object
10766 105.05000000000001 13 MP Last Month    8.08077
Name: 10766, dtype: object
10767 333.1700000000001 13 MP Last Month    25.6285
Name: 10767, dtype: object
10768 200.67999999999998 14 MP Last Month    14.3343
Name: 10768, dtype: object
10769 429.28999999999996 16 MP Last Month    26.8306
Name: 10769, dtype: object
10770 397.2699999999999 16 MP Last Month    24.8294
Name: 10770, dtype: object
10771 551.01 17 MP Last Month    32.4124
Name: 10771, dtype: object
10772 155.53 11 MP Last Month    14.1391
Name: 10772, dtype: object
10773 120.03 8 MP Last Month    15.0038
Name: 10773, dtype: object
10774 574.6300000000001 17 MP Last Month    33.8018
Name: 10774, dtype: object
10775 475.2199999999999 16 MP Last Month    29.7012
Name: 10775, dtype: object
10776 164.73999999999998 9 MP Last Month    18.3044
Name: 10776, dtype: object
10777 453.75000000000006 17 MP Last Month    26.6912
Name: 10777, dtype: object
10778 91.32000000000001 14 MP Last Month    6.52286
Name: 10778, dtype: object

10779 62.50000000000001 17 MP Last Month    3.67647
Name: 10779, dtype: object
10780 406.8 15 MP Last Month    27.12
Name: 10780, dtype: object
10781 160.32999999999998 15 MP Last Month    10.6887
Name: 10781, dtype: object
10782 389.00999999999993 15 MP Last Month    25.934
Name: 10782, dtype: object
10783 269.3 15 MP Last Month    17.9533
Name: 10783, dtype: object
10784 22.9 13 MP Last Month    1.76154
Name: 10784, dtype: object
10785 298.4 10 MP Last Month    29.84
Name: 10785, dtype: object
10786 170.20000000000002 8 MP Last Month    21.275
Name: 10786, dtype: object
10787 245.93999999999997 13 MP Last Month    18.9185
Name: 10787, dtype: object
10788 498.8099999999999 14 MP Last Month    35.6293
Name: 10788, dtype: object
10789 492.90999999999997 15 MP Last Month    32.8607
Name: 10789, dtype: object
10790 164.94 14 MP Last Month    11.7814
Name: 10790, dtype: object
10791 123.87 15 MP Last Month    8.258
Name: 10791, dtype: object
10792 274.31 8 MP Last Month    34.2888
Name: 10792, dtype: object
10793 458.24000000000007 13 MP Last Month    35.2492
Name: 10793, dtype: object
10794 201.14 12 MP Last Month    16.7617
Name: 10794, dtype: object
10795 212.55 13 MP Last Month    16.35
Name: 10795, dtype: object
10796 478.00000000000006 13 MP Last Month    36.7692
Name: 10796, dtype: object
10797 310.32000000000005 13 MP Last Month    23.8708
Name: 10797, dtype: object
10798 95.71999999999998 6 MP Last Month    15.9533
Name: 10798, dtype: object
10799 256.24 11 MP Last Month    23.2945
Name: 10799, dtype: object
10800 119.19999999999999 4 MP Last Month    29.8
Name: 10800, dtype: object
10801 294.44 13 MP Last Month    22.6492
Name: 10801, dtype: object
10802 180.35999999999999 13 MP Last Month    13.8738
Name: 10802, dtype: object
10803 514.21 14 MP Last Month    36.7293
Name: 10803, dtype: object
10804 373.81000000000006 12 MP Last Month    31.1508
Name: 10804, dtype: object
10805 38.120000000000005 13 MP Last Month    2.93231
Name: 10805, dtype: object
10806 15.780000000000001 3 MP Last Month    5.26
Name: 10806, dtype: object
10807 479.50000000000006 14 MP Last Month    34.25
Name: 10807, dtype: object
10808 469.02000000000004 14 MP Last Month    33.5014
Name: 10808, dtype: object
10809 211.76 12 MP Last Month    17.6467
Name: 10809, dtype: object
10810 224.40000000000003 11 MP Last Month    20.4
Name: 10810, dtype: object
10811 129.88000000000002 13 MP Last Month    9.99077
Name: 10811, dtype: object
10812 479.5899999999999 14 MP Last Month    34.2564
Name: 10812, dtype: object
10813 44.879999999999995 10 MP Last Month    4.488
Name: 10813, dtype: object
10814 29.119999999999997 11 MP Last Month    2.64727
Name: 10814, dtype: object
10815 113.53999999999999 9 MP Last Month    12.6156
Name: 10815, dtype: object
10816 129.64 4 MP Last Month    32.41
Name: 10816, dtype: object
10817 428.48 15 MP Last Month    28.5653
Name: 10817, dtype: object
10818 389.20000000000005 15 MP Last Month    25.9467
Name: 10818, dtype: object
10819 197.53 15 MP Last Month    13.1687
Name: 10819, dtype: object
10820 491.99 15 MP Last Month    32.7993
Name: 10820, dtype: object
10821 468.14 15 MP Last Month    31.2093
Name: 10821, dtype: object
10822 322.25 14 MP Last Month    23.0179
Name: 10822, dtype: object
10823 288.36999999999995 15 MP Last Month    19.2247
Name: 10823, dtype: object
10824 409.2699999999999 14 MP Last Month    29.2336
Name: 10824, dtype: object
10825 348.98 14 MP Last Month    24.9271
Name: 10825, dtype: object
10826 52.07 15 MP Last Month    3.47133
Name: 10826, dtype: object
10827 489.19 14 MP Last Month    34.9421
Name: 10827, dtype: object
10828 413.05 14 MP Last Month    29.5036
Name: 10828, dtype: object
10829 350.42 15 MP Last Month    23.3613
Name: 10829, dtype: object
10830 47.54 4 MP Last Month    11.885
Name: 10830, dtype: object
10831 463.84000000000003 15 MP Last Month    30.9227
Name: 10831, dtype: object
10832 360.0 15 MP Last Month    24
Name: 10832, dtype: object
10833 135.19 15 MP Last Month    9.01267
Name: 10833, dtype: object
10834 0.0 4 MP Last Month    0
Name: 10834, dtype: object
10835 181.0 15 MP Last Month    12.0667
Name: 10835, dtype: object
10836 519.5600000000001 15 MP Last Month    34.6373
Name: 10836, dtype: object
10837 387.7199999999999 15 MP Last Month    25.848
Name: 10837, dtype: object
10838 9.879999999999999 12 MP Last Month    0.823333
Name: 10838, dtype: object
10839 359.94 12 MP Last Month    29.995
Name: 10839, dtype: object
10840 441.23 14 MP Last Month    31.5164
Name: 10840, dtype: object
10841 152.45 12 MP Last Month    12.7042
Name: 10841, dtype: object
10842 457.53 14 MP Last Month    32.6807
Name: 10842, dtype: object
10843 372.88 13 MP Last Month    28.6831
Name: 10843, dtype: object
10844 257.40999999999997 14 MP Last Month    18.3864
Name: 10844, dtype: object
10845 219.35 14 MP Last Month    15.6679
Name: 10845, dtype: object
10846 237.65 13 MP Last Month    18.2808
Name: 10846, dtype: object
10847 44.5 4 MP Last Month    11.125
Name: 10847, dtype: object
10848 409.49 14 MP Last Month    29.2493
Name: 10848, dtype: object
10849 164.52999999999997 14 MP Last Month    11.7521
Name: 10849, dtype: object
10850 23.17 14 MP Last Month    1.655
Name: 10850, dtype: object
10851 367.96000000000004 13 MP Last Month    28.3046
Name: 10851, dtype: object
10852 222.49999999999997 13 MP Last Month    17.1154
Name: 10852, dtype: object
10853 0 0 MP Last Month    0
Name: 10853, dtype: object
10854 408.44000000000005 12 MP Last Month    34.0367
Name: 10854, dtype: object
10855 419.02 13 MP Last Month    32.2323
Name: 10855, dtype: object
10856 306.08000000000004 13 MP Last Month    23.5446
Name: 10856, dtype: object
10857 79.01 13 MP Last Month    6.07769
Name: 10857, dtype: object
10858 27.779999999999998 13 MP Last Month    2.13692
Name: 10858, dtype: object
10859 12.719999999999999 13 MP Last Month    0.978462
Name: 10859, dtype: object
10860 12.9 13 MP Last Month    0.992308
Name: 10860, dtype: object
10861 423.7 13 MP Last Month    32.5923
Name: 10861, dtype: object
10862 278.67999999999995 12 MP Last Month    23.2233
Name: 10862, dtype: object
10863 186.93 13 MP Last Month    14.3792
Name: 10863, dtype: object
10864 559.6899999999999 15 MP Last Month    37.3127
Name: 10864, dtype: object
10865 99.22999999999999 9 MP Last Month    11.0256
Name: 10865, dtype: object
10866 300.32000000000005 15 MP Last Month    20.0213
Name: 10866, dtype: object
10867 122.49000000000001 12 MP Last Month    10.2075
Name: 10867, dtype: object
10868 344.78999999999996 15 MP Last Month    22.986
Name: 10868, dtype: object
10869 334.24999999999994 13 MP Last Month    25.7115
Name: 10869, dtype: object
10870 274.34000000000003 15 MP Last Month    18.2893
Name: 10870, dtype: object
10871 147.42000000000002 14 MP Last Month    10.53
Name: 10871, dtype: object
10872 4.9 4 MP Last Month    1.225
Name: 10872, dtype: object
10873 505.71 14 MP Last Month    36.1221
Name: 10873, dtype: object
10874 12.219999999999999 14 MP Last Month    0.872857
Name: 10874, dtype: object
10875 127.47999999999998 15 MP Last Month    8.49867
Name: 10875, dtype: object
10876 424.40999999999997 15 MP Last Month    28.294
Name: 10876, dtype: object
10877 232.29 14 MP Last Month    16.5921
Name: 10877, dtype: object
10878 174.07999999999998 8 MP Last Month    21.76
Name: 10878, dtype: object
10879 392.55 15 MP Last Month    26.17
Name: 10879, dtype: object
10880 204.6 12 MP Last Month    17.05
Name: 10880, dtype: object
10881 19.75 2 MP Last Month    9.875
Name: 10881, dtype: object
10882 105.52 7 MP Last Month    15.0743
Name: 10882, dtype: object
10883 246.91000000000003 15 MP Last Month    16.4607
Name: 10883, dtype: object
10884 437.28999999999996 15 MP Last Month    29.1527
Name: 10884, dtype: object
10885 426.07 15 MP Last Month    28.4047
Name: 10885, dtype: object
10886 57.63 8 MP Last Month    7.20375
Name: 10886, dtype: object
10887 493.28 14 MP Last Month    35.2343
Name: 10887, dtype: object
10888 481.6699999999999 14 MP Last Month    34.405
Name: 10888, dtype: object
10889 426.8 14 MP Last Month    30.4857
Name: 10889, dtype: object
10890 174.7 9 MP Last Month    19.4111
Name: 10890, dtype: object
10891 204.21 13 MP Last Month    15.7085
Name: 10891, dtype: object

10892 101.37 11 MP Last Month    9.21545
Name: 10892, dtype: object
10893 30.42 14 MP Last Month    2.17286
Name: 10893, dtype: object
10894 465.24 14 MP Last Month    33.2314
Name: 10894, dtype: object
10895 190.72000000000003 13 MP Last Month    14.6708
Name: 10895, dtype: object
10896 195.76000000000005 14 MP Last Month    13.9829
Name: 10896, dtype: object
10897 332.99999999999994 12 MP Last Month    27.75
Name: 10897, dtype: object
10898 234.17 12 MP Last Month    19.5142
Name: 10898, dtype: object
10899 17.86 11 MP Last Month    1.62364
Name: 10899, dtype: object
10900 360.46 11 MP Last Month    32.7691
Name: 10900, dtype: object
10901 315.96 12 MP Last Month    26.33
Name: 10901, dtype: object
10902 351.8500000000001 11 MP Last Month    31.9864
Name: 10902, dtype: object
10903 320.82 12 MP Last Month    26.735
Name: 10903, dtype: object
10904 245.20999999999998 12 MP Last Month    20.4342
Name: 10904, dtype: object
10905 173.86 12 MP Last Month    14.4883
Name: 10905, dtype: object
10906 40.51 12 MP Last Month    3.37583
Name: 10906, dtype: object
10907 31.68 11 MP Last Month    2.88
Name: 10907, dtype: object
10908 468.86999999999995 14 MP Last Month    33.4907
Name: 10908, dtype: object
10909 287.90999999999997 14 MP Last Month    20.565
Name: 10909, dtype: object
10910 314.37 14 MP Last Month    22.455
Name: 10910, dtype: object
10911 36.1 10 MP Last Month    3.61
Name: 10911, dtype: object
10912 5.57 6 MP Last Month    0.928333
Name: 10912, dtype: object
10913 363.01000000000005 12 MP Last Month    30.2508
Name: 10913, dtype: object
10914 421.99 14 MP Last Month    30.1421
Name: 10914, dtype: object
10915 383.37 13 MP Last Month    29.49
Name: 10915, dtype: object
10916 225.73999999999998 14 MP Last Month    16.1243
Name: 10916, dtype: object
10917 426.21000000000004 13 MP Last Month    32.7854
Name: 10917, dtype: object
10918 302.31000000000006 13 MP Last Month    23.2546
Name: 10918, dtype: object
10919 103.76 14 MP Last Month    7.41143
Name: 10919, dtype: object
10920 308.5 9 MP Last Month    34.2778
Name: 10920, dtype: object
10921 314.26000000000005 15 MP Last Month    20.9507
Name: 10921, dtype: object
10922 218.62999999999997 10 MP Last Month    21.863
Name: 10922, dtype: object
10923 45.9 5 MP Last Month    9.18
Name: 10923, dtype: object
10924 173.26000000000002 16 MP Last Month    10.8288
Name: 10924, dtype: object
10925 335.19000000000005 11 MP Last Month    30.4718
Name: 10925, dtype: object
10926 343.19999999999993 13 MP Last Month    26.4
Name: 10926, dtype: object
10927 400.65999999999997 16 MP Last Month    25.0412
Name: 10927, dtype: object
10928 458.32 16 MP Last Month    28.645
Name: 10928, dtype: object
10929 456.79 16 MP Last Month    28.5494
Name: 10929, dtype: object
10930 310.91 16 MP Last Month    19.4319
Name: 10930, dtype: object
10931 61.96999999999999 16 MP Last Month    3.87312
Name: 10931, dtype: object
10932 0.0 3 MP Last Month    0
Name: 10932, dtype: object
10933 504.34000000000003 14 MP Last Month    36.0243
Name: 10933, dtype: object
10934 157.83 12 MP Last Month    13.1525
Name: 10934, dtype: object
10935 28.9 14 MP Last Month    2.06429
Name: 10935, dtype: object
10936 330.0900000000001 13 MP Last Month    25.3915
Name: 10936, dtype: object
10937 246.82 12 MP Last Month    20.5683
Name: 10937, dtype: object
10938 212.94 14 MP Last Month    15.21
Name: 10938, dtype: object
10939 430.4 14 MP Last Month    30.7429
Name: 10939, dtype: object
10940 106.24 13 MP Last Month    8.17231
Name: 10940, dtype: object
10941 197.78 14 MP Last Month    14.1271
Name: 10941, dtype: object
10942 241.69 14 MP Last Month    17.2636
Name: 10942, dtype: object
10943 387.5799999999999 14 MP Last Month    27.6843
Name: 10943, dtype: object
10944 27.72 13 MP Last Month    2.13231
Name: 10944, dtype: object
10945 427.37000000000006 14 MP Last Month    30.5264
Name: 10945, dtype: object
10946 89.92 14 MP Last Month    6.42286
Name: 10946, dtype: object
10947 427.01000000000005 14 MP Last Month    30.5007
Name: 10947, dtype: object
10948 257.13 14 MP Last Month    18.3664
Name: 10948, dtype: object
10949 312.18000000000006 14 MP Last Month    22.2986
Name: 10949, dtype: object
10950 34.36 9 MP Last Month    3.81778
Name: 10950, dtype: object
10951 130.19 13 MP Last Month    10.0146
Name: 10951, dtype: object
10952 402.08 14 MP Last Month    28.72
Name: 10952, dtype: object
10953 378.46000000000004 14 MP Last Month    27.0329
Name: 10953, dtype: object
10954 146.72 9 MP Last Month    16.3022
Name: 10954, dtype: object
10955 33.9 4 MP Last Month    8.475
Name: 10955, dtype: object
10956 395.67 16 MP Last Month    24.7294
Name: 10956, dtype: object
10957 313.65999999999997 16 MP Last Month    19.6037
Name: 10957, dtype: object
10958 362.68 16 MP Last Month    22.6675
Name: 10958, dtype: object
10959 529.94 16 MP Last Month    33.1213
Name: 10959, dtype: object
10960 436.21 16 MP Last Month    27.2631
Name: 10960, dtype: object
10961 322.01000000000005 16 MP Last Month    20.1256
Name: 10961, dtype: object
10962 319.77 15 MP Last Month    21.318
Name: 10962, dtype: object
10963 75.96 16 MP Last Month    4.7475
Name: 10963, dtype: object
10964 478.93999999999994 16 MP Last Month    29.9337
Name: 10964, dtype: object
10965 270.68 16 MP Last Month    16.9175
Name: 10965, dtype: object
10966 256.57 13 MP Last Month    19.7362
Name: 10966, dtype: object
10967 13.43 4 MP Last Month    3.3575
Name: 10967, dtype: object
10968 360.72999999999996 14 MP Last Month    25.7664
Name: 10968, dtype: object
10969 264.83 15 MP Last Month    17.6553
Name: 10969, dtype: object
10970 68.34 15 MP Last Month    4.556
Name: 10970, dtype: object
10971 435.7 12 MP Last Month    36.3083
Name: 10971, dtype: object
10972 437.21000000000004 14 MP Last Month    31.2293
Name: 10972, dtype: object
10973 232.53999999999996 13 MP Last Month    17.8877
Name: 10973, dtype: object
10974 481.93000000000006 15 MP Last Month    32.1287
Name: 10974, dtype: object
10975 0 0 MP Last Month    0
Name: 10975, dtype: object
10976 194.33999999999997 13 MP Last Month    14.9492
Name: 10976, dtype: object
10977 16.299999999999997 14 MP Last Month    1.16429
Name: 10977, dtype: object
10978 61.4 14 MP Last Month    4.38571
Name: 10978, dtype: object
10979 4.67 4 MP Last Month    1.1675
Name: 10979, dtype: object
10980 396.93999999999994 13 MP Last Month    30.5338
Name: 10980, dtype: object
10981 441.49 15 MP Last Month    29.4327
Name: 10981, dtype: object
10982 199.12999999999997 15 MP Last Month    13.2753
Name: 10982, dtype: object
10983 122.79999999999998 13 MP Last Month    9.44615
Name: 10983, dtype: object
10984 390.85 15 MP Last Month    26.0567
Name: 10984, dtype: object
10985 437.0 15 MP Last Month    29.1333
Name: 10985, dtype: object
10986 230.77 14 MP Last Month    16.4836
Name: 10986, dtype: object
10987 153.82 15 MP Last Month    10.2547
Name: 10987, dtype: object
10988 303.00999999999993 15 MP Last Month    20.2007
Name: 10988, dtype: object
10989 31.380000000000003 7 MP Last Month    4.48286
Name: 10989, dtype: object
10990 433.49999999999994 15 MP Last Month    28.9
Name: 10990, dtype: object
10991 343.59 15 MP Last Month    22.906
Name: 10991, dtype: object
10992 58.67 14 MP Last Month    4.19071
Name: 10992, dtype: object
10993 578.73 15 MP Last Month    38.582
Name: 10993, dtype: object
10994 442.92 14 MP Last Month    31.6371
Name: 10994, dtype: object
10995 380.33 15 MP Last Month    25.3553
Name: 10995, dtype: object
10996 2.43 3 MP Last Month    0.81
Name: 10996, dtype: object
10997 486.0900000000001 15 MP Last Month    32.406
Name: 10997, dtype: object
10998 66.9 6 MP Last Month    11.15
Name: 10998, dtype: object
10999 347.79 13 MP Last Month    26.7531
Name: 10999, dtype: object
11000 265.64 15 MP Last Month    17.7093
Name: 11000, dtype: object
11001 394.42 15 MP Last Month    26.2947
Name: 11001, dtype: object
11002 52.74 15 MP Last Month    3.516
Name: 11002, dtype: object
11003 16.12 1 MP Last Month    16.12
Name: 11003, dtype: object
11004 209.54000000000005 13 MP Last Month    16.1185
Name: 11004, dtype: object
11005 206.48000000000002 13 MP Last Month    15.8831
Name: 11005, dtype: object
11006 367.59000000000003 12 MP Last Month    30.6325
Name: 11006, dtype: object

11007 414.11 13 MP Last Month    31.8546
Name: 11007, dtype: object
11008 335.55000000000007 13 MP Last Month    25.8115
Name: 11008, dtype: object
11009 387.03000000000003 13 MP Last Month    29.7715
Name: 11009, dtype: object
11010 43.42 11 MP Last Month    3.94727
Name: 11010, dtype: object
11011 194.08999999999997 11 MP Last Month    17.6445
Name: 11011, dtype: object
11012 148.99 9 MP Last Month    16.5544
Name: 11012, dtype: object
11013 21.759999999999998 3 MP Last Month    7.25333
Name: 11013, dtype: object
11014 547.84 15 MP Last Month    36.5227
Name: 11014, dtype: object
11015 402.1600000000001 13 MP Last Month    30.9354
Name: 11015, dtype: object
11016 21.5 4 MP Last Month    5.375
Name: 11016, dtype: object
11017 42.370000000000005 14 MP Last Month    3.02643
Name: 11017, dtype: object
11018 500.25000000000006 15 MP Last Month    33.35
Name: 11018, dtype: object
11019 513.5 15 MP Last Month    34.2333
Name: 11019, dtype: object
11020 249.60000000000002 12 MP Last Month    20.8
Name: 11020, dtype: object
11021 239.68 13 MP Last Month    18.4369
Name: 11021, dtype: object
11022 134.13000000000002 14 MP Last Month    9.58071
Name: 11022, dtype: object
11023 514.7399999999999 15 MP Last Month    34.316
Name: 11023, dtype: object
11024 113.53999999999999 10 MP Last Month    11.354
Name: 11024, dtype: object
11025 33.37 12 MP Last Month    2.78083
Name: 11025, dtype: object
11026 319.44999999999993 14 MP Last Month    22.8179
Name: 11026, dtype: object
11027 86.0 14 MP Last Month    6.14286
Name: 11027, dtype: object
11028 387.33000000000004 14 MP Last Month    27.6664
Name: 11028, dtype: object
11029 445.88 14 MP Last Month    31.8486
Name: 11029, dtype: object
11030 67.73 14 MP Last Month    4.83786
Name: 11030, dtype: object
11031 453.14 14 MP Last Month    32.3671
Name: 11031, dtype: object
11032 482.52000000000004 14 MP Last Month    34.4657
Name: 11032, dtype: object
11033 213.55 14 MP Last Month    15.2536
Name: 11033, dtype: object
11034 58.769999999999996 14 MP Last Month    4.19786
Name: 11034, dtype: object
11035 371.09 14 MP Last Month    26.5064
Name: 11035, dtype: object
11036 195.66 13 MP Last Month    15.0508
Name: 11036, dtype: object
11037 102.34999999999998 14 MP Last Month    7.31071
Name: 11037, dtype: object
11038 120.28 7 MP Last Month    17.1829
Name: 11038, dtype: object
11039 305.33000000000004 13 MP Last Month    23.4869
Name: 11039, dtype: object
11040 233.37999999999997 11 MP Last Month    21.2164
Name: 11040, dtype: object
11041 416.35 13 MP Last Month    32.0269
Name: 11041, dtype: object
11042 154.17 11 MP Last Month    14.0155
Name: 11042, dtype: object
11043 264.52 13 MP Last Month    20.3477
Name: 11043, dtype: object
11044 366.11 13 MP Last Month    28.1623
Name: 11044, dtype: object
11045 8.25 13 MP Last Month    0.634615
Name: 11045, dtype: object
11046 0.0 1 MP Last Month    0
Name: 11046, dtype: object
11047 214.12 9 MP Last Month    23.7911
Name: 11047, dtype: object
11048 294.23999999999995 13 MP Last Month    22.6338
Name: 11048, dtype: object
11049 326.67999999999995 13 MP Last Month    25.1292
Name: 11049, dtype: object
11050 363.77 13 MP Last Month    27.9823
Name: 11050, dtype: object
11051 177.99 9 MP Last Month    19.7767
Name: 11051, dtype: object
11052 167.01000000000002 13 MP Last Month    12.8469
Name: 11052, dtype: object
11053 14.46 5 MP Last Month    2.892
Name: 11053, dtype: object
11054 69.19 7 MP Last Month    9.88429
Name: 11054, dtype: object
11055 333.84 13 MP Last Month    25.68
Name: 11055, dtype: object
11056 370.68 13 MP Last Month    28.5138
Name: 11056, dtype: object
11057 32.19 6 MP Last Month    5.365
Name: 11057, dtype: object
11058 89.09 13 MP Last Month    6.85308
Name: 11058, dtype: object
11059 399.22 13 MP Last Month    30.7092
Name: 11059, dtype: object
11060 164.44 12 MP Last Month    13.7033
Name: 11060, dtype: object
11061 339.23 13 MP Last Month    26.0946
Name: 11061, dtype: object
11062 370.57 12 MP Last Month    30.8808
Name: 11062, dtype: object
11063 367.4 13 MP Last Month    28.2615
Name: 11063, dtype: object
11064 305.3399999999999 13 MP Last Month    23.4877
Name: 11064, dtype: object
11065 62.919999999999995 13 MP Last Month    4.84
Name: 11065, dtype: object
11066 224.16 9 MP Last Month    24.9067
Name: 11066, dtype: object
11067 393.51 13 MP Last Month    30.27
Name: 11067, dtype: object
11068 149.92 13 MP Last Month    11.5323
Name: 11068, dtype: object
11069 256.63 10 MP Last Month    25.663
Name: 11069, dtype: object
11070 191.79000000000002 13 MP Last Month    14.7531
Name: 11070, dtype: object
11071 108.28 10 MP Last Month    10.828
Name: 11071, dtype: object
11072 38.06 8 MP Last Month    4.7575
Name: 11072, dtype: object
11073 453.56999999999994 15 MP Last Month    30.238
Name: 11073, dtype: object
11074 462.34999999999997 15 MP Last Month    30.8233
Name: 11074, dtype: object
11075 147.55 15 MP Last Month    9.83667
Name: 11075, dtype: object
11076 172.13000000000002 13 MP Last Month    13.2408
Name: 11076, dtype: object
11077 263.24 15 MP Last Month    17.5493
Name: 11077, dtype: object
11078 355.88 15 MP Last Month    23.7253
Name: 11078, dtype: object
11079 369.68000000000006 13 MP Last Month    28.4369
Name: 11079, dtype: object
11080 4.42 2 MP Last Month    2.21
Name: 11080, dtype: object
11081 424.23000000000013 15 MP Last Month    28.282
Name: 11081, dtype: object
11082 410.46999999999997 15 MP Last Month    27.3647
Name: 11082, dtype: object
11083 267.9 15 MP Last Month    17.86
Name: 11083, dtype: object
11084 15.07 15 MP Last Month    1.00467
Name: 11084, dtype: object
11085 141.70000000000002 5 MP Last Month    28.34
Name: 11085, dtype: object
11086 448.8099999999999 15 MP Last Month    29.9207
Name: 11086, dtype: object
11087 244.37 15 MP Last Month    16.2913
Name: 11087, dtype: object
11088 96.84000000000002 14 MP Last Month    6.91714
Name: 11088, dtype: object
11089 2.88 2 MP Last Month    1.44
Name: 11089, dtype: object
11090 258.60999999999996 10 MP Last Month    25.861
Name: 11090, dtype: object
11091 526.62 15 MP Last Month    35.108
Name: 11091, dtype: object
11092 147.36 12 MP Last Month    12.28
Name: 11092, dtype: object
11093 250.75999999999996 15 MP Last Month    16.7173
Name: 11093, dtype: object
11094 54.17 15 MP Last Month    3.61133
Name: 11094, dtype: object
11095 478.87000000000006 14 MP Last Month    34.205
Name: 11095, dtype: object
11096 246.3 12 MP Last Month    20.525
Name: 11096, dtype: object
11097 82.04 13 MP Last Month    6.31077
Name: 11097, dtype: object
11098 196.49 14 MP Last Month    14.035
Name: 11098, dtype: object
11099 376.26 13 MP Last Month    28.9431
Name: 11099, dtype: object
11100 184.75 11 MP Last Month    16.7955
Name: 11100, dtype: object
11101 450.42 14 MP Last Month    32.1729
Name: 11101, dtype: object
11102 406.90999999999997 14 MP Last Month    29.065
Name: 11102, dtype: object
11103 270.89000000000004 14 MP Last Month    19.3493
Name: 11103, dtype: object
11104 91.50000000000001 13 MP Last Month    7.03846
Name: 11104, dtype: object
11105 329.09000000000003 13 MP Last Month    25.3146
Name: 11105, dtype: object
11106 204.32999999999998 14 MP Last Month    14.595
Name: 11106, dtype: object
11107 439.0899999999999 16 MP Last Month    27.4431
Name: 11107, dtype: object
11108 554.42 17 MP Last Month    32.6129
Name: 11108, dtype: object
11109 410.91999999999996 16 MP Last Month    25.6825
Name: 11109, dtype: object
11110 155.53 11 MP Last Month    14.1391
Name: 11110, dtype: object
11111 572.08 17 MP Last Month    33.6518
Name: 11111, dtype: object
11112 481.50999999999993 16 MP Last Month    30.0944
Name: 11112, dtype: object
11113 143.13 9 MP Last Month    15.9033
Name: 11113, dtype: object
11114 159.32 9 MP Last Month    17.7022
Name: 11114, dtype: object
11115 468.03000000000003 17 MP Last Month    27.5312
Name: 11115, dtype: object
11116 89.2 14 MP Last Month    6.37143
Name: 11116, dtype: object
11117 62.50000000000001 17 MP Last Month    3.67647
Name: 11117, dtype: object
11118 417.9200000000001 15 MP Last Month    27.8613
Name: 11118, dtype: object
11119 286.25 15 MP Last Month    19.0833
Name: 11119, dtype: object
11120 168.26 15 MP Last Month    11.2173
Name: 11120, dtype: object

11121 384.14 15 MP Last Month    25.6093
Name: 11121, dtype: object
11122 15.23 13 MP Last Month    1.17154
Name: 11122, dtype: object
11123 309.87 10 MP Last Month    30.987
Name: 11123, dtype: object
11124 246.63 13 MP Last Month    18.9715
Name: 11124, dtype: object
11125 188.92000000000002 9 MP Last Month    20.9911
Name: 11125, dtype: object
11126 496.72 15 MP Last Month    33.1147
Name: 11126, dtype: object
11127 503.46999999999997 14 MP Last Month    35.9621
Name: 11127, dtype: object
11128 160.48000000000002 14 MP Last Month    11.4629
Name: 11128, dtype: object
11129 126.81000000000002 15 MP Last Month    8.454
Name: 11129, dtype: object
11130 165.69 5 MP Last Month    33.138
Name: 11130, dtype: object
11131 432.18 15 MP Last Month    28.812
Name: 11131, dtype: object
11132 387.18 15 MP Last Month    25.812
Name: 11132, dtype: object
11133 176.42999999999998 15 MP Last Month    11.762
Name: 11133, dtype: object
11134 474.18999999999994 15 MP Last Month    31.6127
Name: 11134, dtype: object
11135 495.23 15 MP Last Month    33.0153
Name: 11135, dtype: object
11136 285.73999999999995 15 MP Last Month    19.0493
Name: 11136, dtype: object
11137 408.7199999999999 14 MP Last Month    29.1943
Name: 11137, dtype: object
11138 348.0 14 MP Last Month    24.8571
Name: 11138, dtype: object
11139 49.27 15 MP Last Month    3.28467
Name: 11139, dtype: object
11140 239.06 8 MP Last Month    29.8825
Name: 11140, dtype: object
11141 0 0 MP Last Month    0
Name: 11141, dtype: object
11142 490.26000000000005 15 MP Last Month    32.684
Name: 11142, dtype: object
11143 367.84999999999997 15 MP Last Month    24.5233
Name: 11143, dtype: object
11144 527.59 15 MP Last Month    35.1727
Name: 11144, dtype: object
11145 509.49 15 MP Last Month    33.966
Name: 11145, dtype: object
11146 374.58 15 MP Last Month    24.972
Name: 11146, dtype: object
11147 204.87000000000003 15 MP Last Month    13.658
Name: 11147, dtype: object
11148 147.51 15 MP Last Month    9.834
Name: 11148, dtype: object
11149 34.86 15 MP Last Month    2.324
Name: 11149, dtype: object
11150 302.96 15 MP Last Month    20.1973
Name: 11150, dtype: object
11151 50.379999999999995 15 MP Last Month    3.35867
Name: 11151, dtype: object
11152 491.25 14 MP Last Month    35.0893
Name: 11152, dtype: object
11153 354.41999999999996 15 MP Last Month    23.628
Name: 11153, dtype: object
11154 415.32000000000005 14 MP Last Month    29.6657
Name: 11154, dtype: object
11155 59.16 5 MP Last Month    11.832
Name: 11155, dtype: object
11156 460.09000000000003 15 MP Last Month    30.6727
Name: 11156, dtype: object
11157 365.67 15 MP Last Month    24.378
Name: 11157, dtype: object
11158 127.29 15 MP Last Month    8.486
Name: 11158, dtype: object
11159 169.85 15 MP Last Month    11.3233
Name: 11159, dtype: object
11160 3.97 5 MP Last Month    0.794
Name: 11160, dtype: object
11161 518.71 15 MP Last Month    34.5807
Name: 11161, dtype: object
11162 380.4899999999999 15 MP Last Month    25.366
Name: 11162, dtype: object
11163 19.83 12 MP Last Month    1.6525
Name: 11163, dtype: object
11164 354.96 12 MP Last Month    29.58
Name: 11164, dtype: object
11165 429.51 14 MP Last Month    30.6793
Name: 11165, dtype: object
11166 181.2 13 MP Last Month    13.9385
Name: 11166, dtype: object
11167 25.009999999999998 8 MP Last Month    3.12625
Name: 11167, dtype: object
11168 451.8 14 MP Last Month    32.2714
Name: 11168, dtype: object
11169 369.28000000000003 13 MP Last Month    28.4062
Name: 11169, dtype: object
11170 256.65999999999997 14 MP Last Month    18.3329
Name: 11170, dtype: object
11171 232.18 14 MP Last Month    16.5843
Name: 11171, dtype: object
11172 219.68 13 MP Last Month    16.8985
Name: 11172, dtype: object
11173 175.35 14 MP Last Month    12.525
Name: 11173, dtype: object
11174 396.54 14 MP Last Month    28.3243
Name: 11174, dtype: object
11175 68.42 5 MP Last Month    13.684
Name: 11175, dtype: object
11176 23.17 14 MP Last Month    1.655
Name: 11176, dtype: object
11177 237.27999999999997 14 MP Last Month    16.9486
Name: 11177, dtype: object
11178 0.0 1 MP Last Month    0
Name: 11178, dtype: object
11179 406.18000000000006 14 MP Last Month    29.0129
Name: 11179, dtype: object
11180 445.64000000000004 13 MP Last Month    34.28
Name: 11180, dtype: object
11181 456.95 14 MP Last Month    32.6393
Name: 11181, dtype: object
11182 337.93000000000006 14 MP Last Month    24.1379
Name: 11182, dtype: object
11183 110.03 14 MP Last Month    7.85929
Name: 11183, dtype: object
11184 12.719999999999999 14 MP Last Month    0.908571
Name: 11184, dtype: object
11185 27.859999999999996 14 MP Last Month    1.99
Name: 11185, dtype: object
11186 12.9 14 MP Last Month    0.921429
Name: 11186, dtype: object
11187 464.58 14 MP Last Month    33.1843
Name: 11187, dtype: object
11188 300.99999999999994 13 MP Last Month    23.1538
Name: 11188, dtype: object
11189 197.65 14 MP Last Month    14.1179
Name: 11189, dtype: object
11190 564.8499999999999 15 MP Last Month    37.6567
Name: 11190, dtype: object
11191 324.72 15 MP Last Month    21.648
Name: 11191, dtype: object
11192 93.13 9 MP Last Month    10.3478
Name: 11192, dtype: object
11193 109.59 12 MP Last Month    9.1325
Name: 11193, dtype: object
11194 359.16999999999996 15 MP Last Month    23.9447
Name: 11194, dtype: object
11195 329.05 13 MP Last Month    25.3115
Name: 11195, dtype: object
11196 306.26000000000005 15 MP Last Month    20.4173
Name: 11196, dtype: object
11197 11.45 5 MP Last Month    2.29
Name: 11197, dtype: object
11198 139.02 14 MP Last Month    9.93
Name: 11198, dtype: object
11199 502.74 14 MP Last Month    35.91
Name: 11199, dtype: object
11200 423.02 14 MP Last Month    30.2157
Name: 11200, dtype: object
11201 24.490000000000002 14 MP Last Month    1.74929
Name: 11201, dtype: object
11202 124.21999999999998 15 MP Last Month    8.28133
Name: 11202, dtype: object
11203 432.01 15 MP Last Month    28.8007
Name: 11203, dtype: object
11204 220.89 14 MP Last Month    15.7779
Name: 11204, dtype: object
11205 148.35000000000002 8 MP Last Month    18.5438
Name: 11205, dtype: object
11206 415.91999999999996 15 MP Last Month    27.728
Name: 11206, dtype: object
11207 36.730000000000004 3 MP Last Month    12.2433
Name: 11207, dtype: object
11208 226.9 12 MP Last Month    18.9083
Name: 11208, dtype: object
11209 115.52 8 MP Last Month    14.44
Name: 11209, dtype: object
11210 233.59 15 MP Last Month    15.5727
Name: 11210, dtype: object
11211 436.30999999999995 15 MP Last Month    29.0873
Name: 11211, dtype: object
11212 428.73 15 MP Last Month    28.582
Name: 11212, dtype: object
11213 67.81 9 MP Last Month    7.53444
Name: 11213, dtype: object
11214 331.0 12 MP Last Month    27.5833
Name: 11214, dtype: object
11215 236.17 12 MP Last Month    19.6808
Name: 11215, dtype: object
11216 24.13 11 MP Last Month    2.19364
Name: 11216, dtype: object
11217 355.24 11 MP Last Month    32.2945
Name: 11217, dtype: object
11218 341.75000000000006 11 MP Last Month    31.0682
Name: 11218, dtype: object
11219 320.65 12 MP Last Month    26.7208
Name: 11219, dtype: object
11220 322.2 12 MP Last Month    26.85
Name: 11220, dtype: object
11221 5.33 2 MP Last Month    2.665
Name: 11221, dtype: object
11222 341.29999999999995 11 MP Last Month    31.0273
Name: 11222, dtype: object
11223 185.11 12 MP Last Month    15.4258
Name: 11223, dtype: object
11224 46.78 12 MP Last Month    3.89833
Name: 11224, dtype: object
11225 50.9 11 MP Last Month    4.62727
Name: 11225, dtype: object
11226 501.51000000000005 14 MP Last Month    35.8221
Name: 11226, dtype: object
11227 22.2 14 MP Last Month    1.58571
Name: 11227, dtype: object
11228 176.28 13 MP Last Month    13.56
Name: 11228, dtype: object
11229 322.36 13 MP Last Month    24.7969
Name: 11229, dtype: object
11230 209.89 14 MP Last Month    14.9921
Name: 11230, dtype: object
11231 268.77 13 MP Last Month    20.6746
Name: 11231, dtype: object
11232 423.55 14 MP Last Month    30.2536
Name: 11232, dtype: object
11233 89.03999999999999 13 MP Last Month    6.84923
Name: 11233, dtype: object
11234 378.44 14 MP Last Month    27.0314
Name: 11234, dtype: object
11235 206.92 14 MP Last Month    14.78
Name: 11235, dtype: object
11236 254.57 14 MP Last Month    18.1836
Name: 11236, dtype: object

11237 27.72 13 MP Last Month    2.13231
Name: 11237, dtype: object
11238 429.51 14 MP Last Month    30.6793
Name: 11238, dtype: object
11239 103.85 14 MP Last Month    7.41786
Name: 11239, dtype: object
11240 426.76 14 MP Last Month    30.4829
Name: 11240, dtype: object
11241 312.00000000000006 14 MP Last Month    22.2857
Name: 11241, dtype: object
11242 377.15 14 MP Last Month    26.9393
Name: 11242, dtype: object
11243 241.00000000000003 10 MP Last Month    24.1
Name: 11243, dtype: object
11244 285.44 14 MP Last Month    20.3886
Name: 11244, dtype: object
11245 46.23 10 MP Last Month    4.623
Name: 11245, dtype: object
11246 379.08000000000004 14 MP Last Month    27.0771
Name: 11246, dtype: object
11247 160.15 10 MP Last Month    16.015
Name: 11247, dtype: object
11248 49.879999999999995 4 MP Last Month    12.47
Name: 11248, dtype: object
11249 392.8500000000001 16 MP Last Month    24.5531
Name: 11249, dtype: object
11250 366.14 16 MP Last Month    22.8837
Name: 11250, dtype: object
11251 334.64 16 MP Last Month    20.915
Name: 11251, dtype: object
11252 313.54 16 MP Last Month    19.5963
Name: 11252, dtype: object
11253 529.6700000000001 16 MP Last Month    33.1044
Name: 11253, dtype: object
11254 433.31000000000006 16 MP Last Month    27.0819
Name: 11254, dtype: object
11255 77.67999999999999 16 MP Last Month    4.855
Name: 11255, dtype: object
11256 299.94 15 MP Last Month    19.996
Name: 11256, dtype: object
11257 475.42 16 MP Last Month    29.7138
Name: 11257, dtype: object
11258 271.64 14 MP Last Month    19.4029
Name: 11258, dtype: object
11259 277.46000000000004 16 MP Last Month    17.3413
Name: 11259, dtype: object
11260 16.7 4 MP Last Month    4.175
Name: 11260, dtype: object
11261 365.25 14 MP Last Month    26.0893
Name: 11261, dtype: object
11262 273.21 15 MP Last Month    18.214
Name: 11262, dtype: object
11263 55.92 15 MP Last Month    3.728
Name: 11263, dtype: object
11264 444.2 12 MP Last Month    37.0167
Name: 11264, dtype: object
11265 438.48 14 MP Last Month    31.32
Name: 11265, dtype: object
11266 252.80999999999997 14 MP Last Month    18.0579
Name: 11266, dtype: object
11267 14.78 1 MP Last Month    14.78
Name: 11267, dtype: object
11268 202.15999999999997 14 MP Last Month    14.44
Name: 11268, dtype: object
11269 20.849999999999998 14 MP Last Month    1.48929
Name: 11269, dtype: object
11270 82.95 14 MP Last Month    5.925
Name: 11270, dtype: object
11271 14.39 4 MP Last Month    3.5975
Name: 11271, dtype: object
11272 444.92 15 MP Last Month    29.6613
Name: 11272, dtype: object
11273 197.52999999999997 15 MP Last Month    13.1687
Name: 11273, dtype: object
11274 400.92999999999995 13 MP Last Month    30.8408
Name: 11274, dtype: object
11275 113.35 13 MP Last Month    8.71923
Name: 11275, dtype: object
11276 443.62 15 MP Last Month    29.5747
Name: 11276, dtype: object
11277 232.72 14 MP Last Month    16.6229
Name: 11277, dtype: object
11278 397.18 15 MP Last Month    26.4787
Name: 11278, dtype: object
11279 31.380000000000003 8 MP Last Month    3.9225
Name: 11279, dtype: object
11280 145.82 15 MP Last Month    9.72133
Name: 11280, dtype: object
11281 296.00999999999993 15 MP Last Month    19.734
Name: 11281, dtype: object
11282 440.6499999999999 15 MP Last Month    29.3767
Name: 11282, dtype: object
11283 342.75999999999993 15 MP Last Month    22.8507
Name: 11283, dtype: object
11284 53.61999999999999 14 MP Last Month    3.83
Name: 11284, dtype: object
11285 227.35000000000002 13 MP Last Month    17.4885
Name: 11285, dtype: object
11286 210.07000000000002 13 MP Last Month    16.1592
Name: 11286, dtype: object
11287 364.72 12 MP Last Month    30.3933
Name: 11287, dtype: object
11288 413.59000000000003 13 MP Last Month    31.8146
Name: 11288, dtype: object
11289 322.3 13 MP Last Month    24.7923
Name: 11289, dtype: object
11290 40.42999999999999 11 MP Last Month    3.67545
Name: 11290, dtype: object
11291 390.28000000000003 13 MP Last Month    30.0215
Name: 11291, dtype: object
11292 139.14 9 MP Last Month    15.46
Name: 11292, dtype: object
11293 27.54 4 MP Last Month    6.885
Name: 11293, dtype: object
11294 200.58999999999997 12 MP Last Month    16.7158
Name: 11294, dtype: object
11295 35.41 11 MP Last Month    3.21909
Name: 11295, dtype: object
11296 384.49999999999994 12 MP Last Month    32.0417
Name: 11296, dtype: object
11297 269.85 12 MP Last Month    22.4875
Name: 11297, dtype: object
11298 263.39 12 MP Last Month    21.9492
Name: 11298, dtype: object
11299 439.33 12 MP Last Month    36.6108
Name: 11299, dtype: object
11300 317.29999999999995 12 MP Last Month    26.4417
Name: 11300, dtype: object
11301 250.94 12 MP Last Month    20.9117
Name: 11301, dtype: object
11302 391.27 12 MP Last Month    32.6058
Name: 11302, dtype: object
11303 274.22 12 MP Last Month    22.8517
Name: 11303, dtype: object
11304 5.88 6 MP Last Month    0.98
Name: 11304, dtype: object
11305 0.03 5 MP Last Month    0.006
Name: 11305, dtype: object
11306 12.35 12 MP Last Month    1.02917
Name: 11306, dtype: object
11307 24.060000000000002 3 MP Last Month    8.02
Name: 11307, dtype: object
11308 311.31 9 MP Last Month    34.59
Name: 11308, dtype: object
11309 464.29 13 MP Last Month    35.7146
Name: 11309, dtype: object
11310 199.89 12 MP Last Month    16.6575
Name: 11310, dtype: object
11311 181.57000000000002 13 MP Last Month    13.9669
Name: 11311, dtype: object
11312 479.69000000000005 13 MP Last Month    36.8992
Name: 11312, dtype: object
11313 247.95 11 MP Last Month    22.5409
Name: 11313, dtype: object
11314 107.49999999999999 7 MP Last Month    15.3571
Name: 11314, dtype: object
11315 103.60000000000001 8 MP Last Month    12.95
Name: 11315, dtype: object
11316 156.54999999999998 5 MP Last Month    31.31
Name: 11316, dtype: object
11317 310.12 13 MP Last Month    23.8554
Name: 11317, dtype: object
11318 288.84 13 MP Last Month    22.2185
Name: 11318, dtype: object
11319 184.90999999999997 13 MP Last Month    14.2238
Name: 11319, dtype: object
11320 554.29 15 MP Last Month    36.9527
Name: 11320, dtype: object
11321 39.22 5 MP Last Month    7.844
Name: 11321, dtype: object
11322 42.370000000000005 14 MP Last Month    3.02643
Name: 11322, dtype: object
11323 526.07 15 MP Last Month    35.0713
Name: 11323, dtype: object
11324 507.43 15 MP Last Month    33.8287
Name: 11324, dtype: object
11325 250.83 13 MP Last Month    19.2946
Name: 11325, dtype: object
11326 267.95000000000005 13 MP Last Month    20.6115
Name: 11326, dtype: object
11327 116.16000000000001 14 MP Last Month    8.29714
Name: 11327, dtype: object
11328 507.1899999999999 15 MP Last Month    33.8127
Name: 11328, dtype: object
11329 132.22 11 MP Last Month    12.02
Name: 11329, dtype: object
11330 33.37 12 MP Last Month    2.78083
Name: 11330, dtype: object
11331 368.30999999999995 14 MP Last Month    26.3079
Name: 11331, dtype: object
11332 482.56000000000006 14 MP Last Month    34.4686
Name: 11332, dtype: object
11333 458.68999999999994 14 MP Last Month    32.7636
Name: 11333, dtype: object
11334 377.63 14 MP Last Month    26.9736
Name: 11334, dtype: object
11335 214.11 14 MP Last Month    15.2936
Name: 11335, dtype: object
11336 323.88 14 MP Last Month    23.1343
Name: 11336, dtype: object
11337 192.46 13 MP Last Month    14.8046
Name: 11337, dtype: object
11338 441.68 14 MP Last Month    31.5486
Name: 11338, dtype: object
11339 91.13 14 MP Last Month    6.50929
Name: 11339, dtype: object
11340 105.91999999999999 14 MP Last Month    7.56571
Name: 11340, dtype: object
11341 58.239999999999995 14 MP Last Month    4.16
Name: 11341, dtype: object
11342 317.2 13 MP Last Month    24.4
Name: 11342, dtype: object
11343 348.42 12 MP Last Month    29.035
Name: 11343, dtype: object
11344 152.03 8 MP Last Month    19.0038
Name: 11344, dtype: object
11345 205.6 11 MP Last Month    18.6909
Name: 11345, dtype: object
11346 259.34 13 MP Last Month    19.9492
Name: 11346, dtype: object
11347 415.27000000000004 13 MP Last Month    31.9438
Name: 11347, dtype: object
11348 354.04 13 MP Last Month    27.2338
Name: 11348, dtype: object
11349 163.86 11 MP Last Month    14.8964
Name: 11349, dtype: object
11350 8.25 13 MP Last Month    0.634615
Name: 11350, dtype: object
11351 206.47 9 MP Last Month    22.9411
Name: 11351, dtype: object

11352 316.36999999999995 13 MP Last Month    24.3362
Name: 11352, dtype: object
11353 334.34999999999997 13 MP Last Month    25.7192
Name: 11353, dtype: object
11354 435.3299999999999 14 MP Last Month    31.095
Name: 11354, dtype: object
11355 204.13 14 MP Last Month    14.5807
Name: 11355, dtype: object
11356 15.11 8 MP Last Month    1.88875
Name: 11356, dtype: object
11357 379.37 13 MP Last Month    29.1823
Name: 11357, dtype: object
11358 455.27 14 MP Last Month    32.5193
Name: 11358, dtype: object
11359 259.67999999999995 14 MP Last Month    18.5486
Name: 11359, dtype: object
11360 237.70000000000002 14 MP Last Month    16.9786
Name: 11360, dtype: object
11361 200.71 13 MP Last Month    15.4392
Name: 11361, dtype: object
11362 400.47 14 MP Last Month    28.605
Name: 11362, dtype: object
11363 81.2 6 MP Last Month    13.5333
Name: 11363, dtype: object
11364 169.48 14 MP Last Month    12.1057
Name: 11364, dtype: object
11365 23.17 15 MP Last Month    1.54467
Name: 11365, dtype: object
11366 458.48 13 MP Last Month    35.2677
Name: 11366, dtype: object
11367 338.68000000000006 12 MP Last Month    28.2233
Name: 11367, dtype: object
11368 18.0 12 MP Last Month    1.5
Name: 11368, dtype: object
11369 448.24 13 MP Last Month    34.48
Name: 11369, dtype: object
11370 403.28000000000003 13 MP Last Month    31.0215
Name: 11370, dtype: object
11371 78.72 10 MP Last Month    7.872
Name: 11371, dtype: object
11372 227.54000000000002 13 MP Last Month    17.5031
Name: 11372, dtype: object
11373 197.65 9 MP Last Month    21.9611
Name: 11373, dtype: object
11374 28.869999999999997 13 MP Last Month    2.22077
Name: 11374, dtype: object
11375 429.36 13 MP Last Month    33.0277
Name: 11375, dtype: object
11376 189.72000000000003 13 MP Last Month    14.5938
Name: 11376, dtype: object
11377 176.91000000000003 13 MP Last Month    13.6085
Name: 11377, dtype: object
11378 431.74999999999994 13 MP Last Month    33.2115
Name: 11378, dtype: object
11379 308.67 13 MP Last Month    23.7438
Name: 11379, dtype: object
11380 39.88 10 MP Last Month    3.988
Name: 11380, dtype: object
11381 269.54 13 MP Last Month    20.7338
Name: 11381, dtype: object
11382 9.35 6 MP Last Month    1.55833
Name: 11382, dtype: object
11383 327.26 11 MP Last Month    29.7509
Name: 11383, dtype: object
11384 384.0200000000001 13 MP Last Month    29.54
Name: 11384, dtype: object
11385 222.04 13 MP Last Month    17.08
Name: 11385, dtype: object
11386 13.7 5 MP Last Month    2.74
Name: 11386, dtype: object
11387 384.33 12 MP Last Month    32.0275
Name: 11387, dtype: object
11388 289.21000000000004 12 MP Last Month    24.1008
Name: 11388, dtype: object
11389 89.42 13 MP Last Month    6.87846
Name: 11389, dtype: object
11390 275.71 8 MP Last Month    34.4637
Name: 11390, dtype: object
11391 235.05999999999997 11 MP Last Month    21.3691
Name: 11391, dtype: object
11392 292.78999999999996 14 MP Last Month    20.9136
Name: 11392, dtype: object
11393 189.47000000000003 10 MP Last Month    18.947
Name: 11393, dtype: object
11394 170.58 15 MP Last Month    11.372
Name: 11394, dtype: object
11395 299.56 10 MP Last Month    29.956
Name: 11395, dtype: object
11396 357.19999999999993 13 MP Last Month    27.4769
Name: 11396, dtype: object
11397 439.19 15 MP Last Month    29.2793
Name: 11397, dtype: object
11398 402.60999999999996 15 MP Last Month    26.8407
Name: 11398, dtype: object
11399 428.97 15 MP Last Month    28.598
Name: 11399, dtype: object
11400 290.73 15 MP Last Month    19.382
Name: 11400, dtype: object
11401 61.96999999999999 15 MP Last Month    4.13133
Name: 11401, dtype: object
11402 0.0 4 MP Last Month    0
Name: 11402, dtype: object
11403 349.17 16 MP Last Month    21.8231
Name: 11403, dtype: object
11404 396.5300000000001 16 MP Last Month    24.7831
Name: 11404, dtype: object
11405 363.99999999999994 16 MP Last Month    22.75
Name: 11405, dtype: object
11406 524.0200000000001 16 MP Last Month    32.7513
Name: 11406, dtype: object
11407 417.80999999999995 16 MP Last Month    26.1131
Name: 11407, dtype: object
11408 323.94000000000005 16 MP Last Month    20.2463
Name: 11408, dtype: object
11409 280.59 15 MP Last Month    18.706
Name: 11409, dtype: object
11410 80.8 16 MP Last Month    5.05
Name: 11410, dtype: object
11411 457.2399999999999 16 MP Last Month    28.5775
Name: 11411, dtype: object
11412 275.07 14 MP Last Month    19.6479
Name: 11412, dtype: object
11413 298.79 16 MP Last Month    18.6744
Name: 11413, dtype: object
11414 21.02 5 MP Last Month    4.204
Name: 11414, dtype: object
11415 348.97999999999996 12 MP Last Month    29.0817
Name: 11415, dtype: object
11416 366.53000000000003 14 MP Last Month    26.1807
Name: 11416, dtype: object
11417 283.64 15 MP Last Month    18.9093
Name: 11417, dtype: object
11418 57.010000000000005 15 MP Last Month    3.80067
Name: 11418, dtype: object
11419 444.23 14 MP Last Month    31.7307
Name: 11419, dtype: object
11420 40.98 2 MP Last Month    20.49
Name: 11420, dtype: object
11421 274.97999999999996 15 MP Last Month    18.332
Name: 11421, dtype: object
11422 444.38000000000005 14 MP Last Month    31.7414
Name: 11422, dtype: object
11423 19.82 14 MP Last Month    1.41571
Name: 11423, dtype: object
11424 219.07999999999998 15 MP Last Month    14.6053
Name: 11424, dtype: object
11425 83.92 14 MP Last Month    5.99429
Name: 11425, dtype: object
11426 13.36 4 MP Last Month    3.34
Name: 11426, dtype: object
11427 441.9800000000001 15 MP Last Month    29.4653
Name: 11427, dtype: object
11428 396.37999999999994 13 MP Last Month    30.4908
Name: 11428, dtype: object
11429 204.3 15 MP Last Month    13.62
Name: 11429, dtype: object
11430 115.94 13 MP Last Month    8.91846
Name: 11430, dtype: object
11431 434.17 15 MP Last Month    28.9447
Name: 11431, dtype: object
11432 155.39 15 MP Last Month    10.3593
Name: 11432, dtype: object
11433 384.5900000000001 15 MP Last Month    25.6393
Name: 11433, dtype: object
11434 240.96999999999997 14 MP Last Month    17.2121
Name: 11434, dtype: object
11435 291.63 15 MP Last Month    19.442
Name: 11435, dtype: object
11436 35.68 8 MP Last Month    4.46
Name: 11436, dtype: object
11437 435.43 15 MP Last Month    29.0287
Name: 11437, dtype: object
11438 345.0899999999999 15 MP Last Month    23.006
Name: 11438, dtype: object
11439 57.91999999999999 14 MP Last Month    4.13714
Name: 11439, dtype: object
11440 576.14 15 MP Last Month    38.4093
Name: 11440, dtype: object
11441 377.8 15 MP Last Month    25.1867
Name: 11441, dtype: object
11442 23.62 2 MP Last Month    11.81
Name: 11442, dtype: object
11443 14.57 8 MP Last Month    1.82125
Name: 11443, dtype: object
11444 6.35 3 MP Last Month    2.11667
Name: 11444, dtype: object
11445 444.3900000000001 14 MP Last Month    31.7421
Name: 11445, dtype: object
11446 348.1 13 MP Last Month    26.7769
Name: 11446, dtype: object
11447 82.18 7 MP Last Month    11.74
Name: 11447, dtype: object
11448 270.29 15 MP Last Month    18.0193
Name: 11448, dtype: object
11449 393.09000000000003 15 MP Last Month    26.206
Name: 11449, dtype: object
11450 52.74 15 MP Last Month    3.516
Name: 11450, dtype: object
11451 159.11 13 MP Last Month    12.2392
Name: 11451, dtype: object
11452 369.64 13 MP Last Month    28.4338
Name: 11452, dtype: object
11453 172.97 9 MP Last Month    19.2189
Name: 11453, dtype: object
11454 14.46 6 MP Last Month    2.41
Name: 11454, dtype: object
11455 66.72 7 MP Last Month    9.53143
Name: 11455, dtype: object
11456 349.34 13 MP Last Month    26.8723
Name: 11456, dtype: object
11457 75.30999999999999 13 MP Last Month    5.79308
Name: 11457, dtype: object
11458 379.59000000000003 13 MP Last Month    29.1992
Name: 11458, dtype: object
11459 0 0 MP Last Month    0
Name: 11459, dtype: object
11460 35.989999999999995 6 MP Last Month    5.99833
Name: 11460, dtype: object
11461 185.56 13 MP Last Month    14.2738
Name: 11461, dtype: object
11462 335.65000000000003 13 MP Last Month    25.8192
Name: 11462, dtype: object
11463 372.38 12 MP Last Month    31.0317
Name: 11463, dtype: object
11464 308.8999999999999 13 MP Last Month    23.7615
Name: 11464, dtype: object
11465 376.62 13 MP Last Month    28.9708
Name: 11465, dtype: object
11466 64.64999999999999 13 MP Last Month    4.97308
Name: 11466, dtype: object

11467 396.31 13 MP Last Month    30.4854
Name: 11467, dtype: object
11468 317.12 11 MP Last Month    28.8291
Name: 11468, dtype: object
11469 260.63 10 MP Last Month    26.063
Name: 11469, dtype: object
11470 228.29000000000002 9 MP Last Month    25.3656
Name: 11470, dtype: object
11471 166.58999999999997 13 MP Last Month    12.8146
Name: 11471, dtype: object
11472 123.66999999999999 4 MP Last Month    30.9175
Name: 11472, dtype: object
11473 212.21999999999997 13 MP Last Month    16.3246
Name: 11473, dtype: object
11474 116.33 11 MP Last Month    10.5755
Name: 11474, dtype: object
11475 42.68 8 MP Last Month    5.335
Name: 11475, dtype: object
11476 461.95 15 MP Last Month    30.7967
Name: 11476, dtype: object
11477 457.74999999999994 15 MP Last Month    30.5167
Name: 11477, dtype: object
11478 131.0 15 MP Last Month    8.73333
Name: 11478, dtype: object
11479 206.50000000000003 13 MP Last Month    15.8846
Name: 11479, dtype: object
11480 372.33000000000004 13 MP Last Month    28.6408
Name: 11480, dtype: object
11481 272.61 15 MP Last Month    18.174
Name: 11481, dtype: object
11482 356.61 15 MP Last Month    23.774
Name: 11482, dtype: object
11483 4.42 3 MP Last Month    1.47333
Name: 11483, dtype: object
11484 266.4 15 MP Last Month    17.76
Name: 11484, dtype: object
11485 413.70000000000005 15 MP Last Month    27.58
Name: 11485, dtype: object
11486 417.96000000000004 15 MP Last Month    27.864
Name: 11486, dtype: object
11487 15.07 15 MP Last Month    1.00467
Name: 11487, dtype: object
11488 177.53000000000003 6 MP Last Month    29.5883
Name: 11488, dtype: object
11489 450.87999999999994 15 MP Last Month    30.0587
Name: 11489, dtype: object
11490 83.9 14 MP Last Month    5.99286
Name: 11490, dtype: object
11491 247.96999999999997 15 MP Last Month    16.5313
Name: 11491, dtype: object
11492 2.88 3 MP Last Month    0.96
Name: 11492, dtype: object
11493 195.06 14 MP Last Month    13.9329
Name: 11493, dtype: object
11494 295.35999999999996 11 MP Last Month    26.8509
Name: 11494, dtype: object
11495 530.02 15 MP Last Month    35.3347
Name: 11495, dtype: object
11496 164.09 13 MP Last Month    12.6223
Name: 11496, dtype: object
11497 311.69000000000005 12 MP Last Month    25.9742
Name: 11497, dtype: object
11498 262.15999999999997 15 MP Last Month    17.4773
Name: 11498, dtype: object
11499 39.470000000000006 15 MP Last Month    2.63133
Name: 11499, dtype: object
11500 486.04 14 MP Last Month    34.7171
Name: 11500, dtype: object
11501 78.72000000000001 13 MP Last Month    6.05538
Name: 11501, dtype: object
11502 177.71 14 MP Last Month    12.6936
Name: 11502, dtype: object
11503 244.97000000000003 12 MP Last Month    20.4142
Name: 11503, dtype: object
11504 452.2 14 MP Last Month    32.3
Name: 11504, dtype: object
11505 269.88000000000005 14 MP Last Month    19.2771
Name: 11505, dtype: object
11506 420.09000000000003 14 MP Last Month    30.0064
Name: 11506, dtype: object
11507 207.68 12 MP Last Month    17.3067
Name: 11507, dtype: object
11508 385.01 13 MP Last Month    29.6162
Name: 11508, dtype: object
11509 66.23 13 MP Last Month    5.09462
Name: 11509, dtype: object
11510 327.2700000000001 13 MP Last Month    25.1746
Name: 11510, dtype: object
11511 182.29999999999998 14 MP Last Month    13.0214
Name: 11511, dtype: object
11512 422.92999999999995 16 MP Last Month    26.4331
Name: 11512, dtype: object
11513 445.2899999999999 16 MP Last Month    27.8306
Name: 11513, dtype: object
11514 546.7600000000001 17 MP Last Month    32.1624
Name: 11514, dtype: object
11515 162.63 11 MP Last Month    14.7845
Name: 11515, dtype: object
11516 551.81 17 MP Last Month    32.4594
Name: 11516, dtype: object
11517 150.0 9 MP Last Month    16.6667
Name: 11517, dtype: object
11518 173.2 10 MP Last Month    17.32
Name: 11518, dtype: object
11519 46.080000000000005 7 MP Last Month    6.58286
Name: 11519, dtype: object
11520 480.24 17 MP Last Month    28.2494
Name: 11520, dtype: object
11521 107.02000000000001 14 MP Last Month    7.64429
Name: 11521, dtype: object
11522 62.50000000000001 17 MP Last Month    3.67647
Name: 11522, dtype: object
11523 251.8 14 MP Last Month    17.9857
Name: 11523, dtype: object
11524 222.54000000000002 14 MP Last Month    15.8957
Name: 11524, dtype: object
11525 394.39000000000004 13 MP Last Month    30.3377
Name: 11525, dtype: object
11526 449.27000000000004 14 MP Last Month    32.0907
Name: 11526, dtype: object
11527 343.72 14 MP Last Month    24.5514
Name: 11527, dtype: object
11528 40.42999999999999 12 MP Last Month    3.36917
Name: 11528, dtype: object
11529 425.96000000000004 14 MP Last Month    30.4257
Name: 11529, dtype: object
11530 151.45999999999998 10 MP Last Month    15.146
Name: 11530, dtype: object
11531 200.58999999999997 13 MP Last Month    15.43
Name: 11531, dtype: object
11532 35.41 12 MP Last Month    2.95083
Name: 11532, dtype: object
11533 39.86 5 MP Last Month    7.972
Name: 11533, dtype: object
11534 422.25 15 MP Last Month    28.15
Name: 11534, dtype: object
11535 372.92 15 MP Last Month    24.8613
Name: 11535, dtype: object
11536 301.58 15 MP Last Month    20.1053
Name: 11536, dtype: object
11537 188.34 15 MP Last Month    12.556
Name: 11537, dtype: object
11538 15.23 13 MP Last Month    1.17154
Name: 11538, dtype: object
11539 0.0 1 MP Last Month    0
Name: 11539, dtype: object
11540 310.53999999999996 10 MP Last Month    31.054
Name: 11540, dtype: object
11541 242.75999999999996 13 MP Last Month    18.6738
Name: 11541, dtype: object
11542 207.52 10 MP Last Month    20.752
Name: 11542, dtype: object
11543 506.72 15 MP Last Month    33.7813
Name: 11543, dtype: object
11544 157.94000000000003 14 MP Last Month    11.2814
Name: 11544, dtype: object
11545 502.17999999999995 14 MP Last Month    35.87
Name: 11545, dtype: object
11546 119.35000000000001 15 MP Last Month    7.95667
Name: 11546, dtype: object
11547 350.79 10 MP Last Month    35.079
Name: 11547, dtype: object
11548 497.29 14 MP Last Month    35.5207
Name: 11548, dtype: object
11549 216.76999999999998 13 MP Last Month    16.6746
Name: 11549, dtype: object
11550 181.57000000000002 14 MP Last Month    12.9693
Name: 11550, dtype: object
11551 516.5400000000001 14 MP Last Month    36.8957
Name: 11551, dtype: object
11552 114.44999999999999 8 MP Last Month    14.3062
Name: 11552, dtype: object
11553 271.4 12 MP Last Month    22.6167
Name: 11553, dtype: object
11554 103.60000000000001 9 MP Last Month    11.5111
Name: 11554, dtype: object
11555 191.79999999999998 6 MP Last Month    31.9667
Name: 11555, dtype: object
11556 312.91999999999996 14 MP Last Month    22.3514
Name: 11556, dtype: object
11557 330.92 14 MP Last Month    23.6371
Name: 11557, dtype: object
11558 188.15999999999997 14 MP Last Month    13.44
Name: 11558, dtype: object
11559 201.49 6 MP Last Month    33.5817
Name: 11559, dtype: object
11560 381.41 15 MP Last Month    25.4273
Name: 11560, dtype: object
11561 437.8 15 MP Last Month    29.1867
Name: 11561, dtype: object
11562 164.86 15 MP Last Month    10.9907
Name: 11562, dtype: object
11563 496.56 15 MP Last Month    33.104
Name: 11563, dtype: object
11564 478.53999999999996 15 MP Last Month    31.9027
Name: 11564, dtype: object
11565 280.37 15 MP Last Month    18.6913
Name: 11565, dtype: object
11566 416.15 14 MP Last Month    29.725
Name: 11566, dtype: object
11567 347.87 14 MP Last Month    24.8479
Name: 11567, dtype: object
11568 45.95 15 MP Last Month    3.06333
Name: 11568, dtype: object
11569 463.73 15 MP Last Month    30.9153
Name: 11569, dtype: object
11570 342.6 15 MP Last Month    22.84
Name: 11570, dtype: object
11571 410.2 15 MP Last Month    27.3467
Name: 11571, dtype: object
11572 111.19999999999999 15 MP Last Month    7.41333
Name: 11572, dtype: object
11573 67.73 14 MP Last Month    4.83786
Name: 11573, dtype: object
11574 509.24000000000007 15 MP Last Month    33.9493
Name: 11574, dtype: object
11575 483.35999999999996 15 MP Last Month    32.224
Name: 11575, dtype: object
11576 237.26000000000002 15 MP Last Month    15.8173
Name: 11576, dtype: object
11577 65.61999999999999 15 MP Last Month    4.37467
Name: 11577, dtype: object
11578 387.68999999999994 15 MP Last Month    25.846
Name: 11578, dtype: object
11579 212.24 14 MP Last Month    15.16
Name: 11579, dtype: object

11580 114.74999999999999 15 MP Last Month    7.65
Name: 11580, dtype: object
11581 236.15 8 MP Last Month    29.5188
Name: 11581, dtype: object
11582 366.34000000000003 15 MP Last Month    24.4227
Name: 11582, dtype: object
11583 480.08 15 MP Last Month    32.0053
Name: 11583, dtype: object
11584 21.85 1 MP Last Month    21.85
Name: 11584, dtype: object
11585 530.8399999999999 15 MP Last Month    35.3893
Name: 11585, dtype: object
11586 518.19 15 MP Last Month    34.546
Name: 11586, dtype: object
11587 365.34000000000003 15 MP Last Month    24.356
Name: 11587, dtype: object
11588 191.00000000000003 15 MP Last Month    12.7333
Name: 11588, dtype: object
11589 147.51 15 MP Last Month    9.834
Name: 11589, dtype: object
11590 67.13 15 MP Last Month    4.47533
Name: 11590, dtype: object
11591 50.379999999999995 15 MP Last Month    3.35867
Name: 11591, dtype: object
11592 488.55 14 MP Last Month    34.8964
Name: 11592, dtype: object
11593 409.97 14 MP Last Month    29.2836
Name: 11593, dtype: object
11594 361.3 15 MP Last Month    24.0867
Name: 11594, dtype: object
11595 62.559999999999995 6 MP Last Month    10.4267
Name: 11595, dtype: object
11596 466.21999999999997 15 MP Last Month    31.0813
Name: 11596, dtype: object
11597 373.9700000000001 15 MP Last Month    24.9313
Name: 11597, dtype: object
11598 124.86 15 MP Last Month    8.324
Name: 11598, dtype: object
11599 0 0 MP Last Month    0
Name: 11599, dtype: object
11600 3.97 6 MP Last Month    0.661667
Name: 11600, dtype: object
11601 521.6100000000001 15 MP Last Month    34.774
Name: 11601, dtype: object
11602 392.3399999999999 15 MP Last Month    26.156
Name: 11602, dtype: object
11603 19.83 12 MP Last Month    1.6525
Name: 11603, dtype: object
11604 375.97 13 MP Last Month    28.9208
Name: 11604, dtype: object
11605 170.43 9 MP Last Month    18.9367
Name: 11605, dtype: object
11606 343.73 14 MP Last Month    24.5521
Name: 11606, dtype: object
11607 205.6 12 MP Last Month    17.1333
Name: 11607, dtype: object
11608 453.94000000000005 14 MP Last Month    32.4243
Name: 11608, dtype: object
11609 289.66999999999996 14 MP Last Month    20.6907
Name: 11609, dtype: object
11610 172.39000000000001 12 MP Last Month    14.3658
Name: 11610, dtype: object
11611 8.25 14 MP Last Month    0.589286
Name: 11611, dtype: object
11612 234.2 10 MP Last Month    23.42
Name: 11612, dtype: object
11613 352.33 14 MP Last Month    25.1664
Name: 11613, dtype: object
11614 336.31999999999994 14 MP Last Month    24.0229
Name: 11614, dtype: object
11615 243.95 14 MP Last Month    17.425
Name: 11615, dtype: object
11616 12.0 2 MP Last Month    6
Name: 11616, dtype: object
11617 0 0 MP Last Month    0
Name: 11617, dtype: object
11618 455.9100000000001 14 MP Last Month    32.565
Name: 11618, dtype: object
11619 439.14 13 MP Last Month    33.78
Name: 11619, dtype: object
11620 136.03 14 MP Last Month    9.71643
Name: 11620, dtype: object
11621 330.2100000000001 14 MP Last Month    23.5864
Name: 11621, dtype: object
11622 32.08 14 MP Last Month    2.29143
Name: 11622, dtype: object
11623 17.04 14 MP Last Month    1.21714
Name: 11623, dtype: object
11624 12.9 14 MP Last Month    0.921429
Name: 11624, dtype: object
11625 465.47 14 MP Last Month    33.2479
Name: 11625, dtype: object
11626 196.76 14 MP Last Month    14.0543
Name: 11626, dtype: object
11627 305.44999999999993 13 MP Last Month    23.4962
Name: 11627, dtype: object
11628 561.78 15 MP Last Month    37.452
Name: 11628, dtype: object
11629 336.89000000000004 15 MP Last Month    22.4593
Name: 11629, dtype: object
11630 90.10999999999999 9 MP Last Month    10.0122
Name: 11630, dtype: object
11631 73.78 12 MP Last Month    6.14833
Name: 11631, dtype: object
11632 374.14 15 MP Last Month    24.9427
Name: 11632, dtype: object
11633 322.37000000000006 13 MP Last Month    24.7977
Name: 11633, dtype: object
11634 320.84000000000003 15 MP Last Month    21.3893
Name: 11634, dtype: object
11635 22.25 6 MP Last Month    3.70833
Name: 11635, dtype: object
11636 116.73999999999998 14 MP Last Month    8.33857
Name: 11636, dtype: object
11637 501.1100000000001 14 MP Last Month    35.7936
Name: 11637, dtype: object
11638 428.5199999999999 14 MP Last Month    30.6086
Name: 11638, dtype: object
11639 37.61 14 MP Last Month    2.68643
Name: 11639, dtype: object
11640 124.21999999999998 15 MP Last Month    8.28133
Name: 11640, dtype: object
11641 493.41 14 MP Last Month    35.2436
Name: 11641, dtype: object
11642 365.38000000000005 13 MP Last Month    28.1062
Name: 11642, dtype: object
11643 18.0 13 MP Last Month    1.38462
Name: 11643, dtype: object
11644 488.37 14 MP Last Month    34.8836
Name: 11644, dtype: object
11645 442.71000000000004 14 MP Last Month    31.6221
Name: 11645, dtype: object
11646 86.67 11 MP Last Month    7.87909
Name: 11646, dtype: object
11647 243.07000000000002 14 MP Last Month    17.3621
Name: 11647, dtype: object
11648 216.38 10 MP Last Month    21.638
Name: 11648, dtype: object
11649 28.869999999999997 14 MP Last Month    2.06214
Name: 11649, dtype: object
11650 468.66 14 MP Last Month    33.4757
Name: 11650, dtype: object
11651 198.44000000000003 14 MP Last Month    14.1743
Name: 11651, dtype: object
11652 185.48000000000002 14 MP Last Month    13.2486
Name: 11652, dtype: object
11653 364.8 13 MP Last Month    28.0615
Name: 11653, dtype: object
11654 250.36999999999998 13 MP Last Month    19.2592
Name: 11654, dtype: object
11655 24.13 12 MP Last Month    2.01083
Name: 11655, dtype: object
11656 376.13000000000005 12 MP Last Month    31.3442
Name: 11656, dtype: object
11657 392.27 12 MP Last Month    32.6892
Name: 11657, dtype: object
11658 340.27 13 MP Last Month    26.1746
Name: 11658, dtype: object
11659 350.12 13 MP Last Month    26.9323
Name: 11659, dtype: object
11660 251.23000000000002 12 MP Last Month    20.9358
Name: 11660, dtype: object
11661 196.06 13 MP Last Month    15.0815
Name: 11661, dtype: object
11662 377.97999999999996 12 MP Last Month    31.4983
Name: 11662, dtype: object
11663 50.9 12 MP Last Month    4.24167
Name: 11663, dtype: object
11664 50.480000000000004 13 MP Last Month    3.88308
Name: 11664, dtype: object
11665 330.31 9 MP Last Month    36.7011
Name: 11665, dtype: object
11666 170.58 16 MP Last Month    10.6613
Name: 11666, dtype: object
11667 325.43999999999994 15 MP Last Month    21.696
Name: 11667, dtype: object
11668 255.02999999999997 12 MP Last Month    21.2525
Name: 11668, dtype: object
11669 189.47000000000003 11 MP Last Month    17.2245
Name: 11669, dtype: object
11670 471.77 16 MP Last Month    29.4856
Name: 11670, dtype: object
11671 419.30999999999995 16 MP Last Month    26.2069
Name: 11671, dtype: object
11672 399.54999999999995 14 MP Last Month    28.5393
Name: 11672, dtype: object
11673 352.71 11 MP Last Month    32.0645
Name: 11673, dtype: object
11674 467.52000000000004 16 MP Last Month    29.22
Name: 11674, dtype: object
11675 315.18 16 MP Last Month    19.6988
Name: 11675, dtype: object
11676 61.96999999999999 16 MP Last Month    3.87312
Name: 11676, dtype: object
11677 0.0 5 MP Last Month    0
Name: 11677, dtype: object
11678 504.7600000000001 14 MP Last Month    36.0543
Name: 11678, dtype: object
11679 192.18 14 MP Last Month    13.7271
Name: 11679, dtype: object
11680 15.98 14 MP Last Month    1.14143
Name: 11680, dtype: object
11681 420.58000000000004 14 MP Last Month    30.0414
Name: 11681, dtype: object
11682 274.23999999999995 13 MP Last Month    21.0954
Name: 11682, dtype: object
11683 324.2 13 MP Last Month    24.9385
Name: 11683, dtype: object
11684 207.48 14 MP Last Month    14.82
Name: 11684, dtype: object
11685 85.8 13 MP Last Month    6.6
Name: 11685, dtype: object
11686 383.36 14 MP Last Month    27.3829
Name: 11686, dtype: object
11687 206.92 14 MP Last Month    14.78
Name: 11687, dtype: object
11688 257.63 14 MP Last Month    18.4021
Name: 11688, dtype: object
11689 22.8 13 MP Last Month    1.75385
Name: 11689, dtype: object
11690 425.52000000000004 14 MP Last Month    30.3943
Name: 11690, dtype: object
11691 114.55 14 MP Last Month    8.18214
Name: 11691, dtype: object
11692 374.35 14 MP Last Month    26.7393
Name: 11692, dtype: object
11693 435.48999999999995 14 MP Last Month    31.1064
Name: 11693, dtype: object

11694 323.08000000000004 14 MP Last Month    23.0771
Name: 11694, dtype: object
11695 232.42000000000002 10 MP Last Month    23.242
Name: 11695, dtype: object
11696 292.61999999999995 14 MP Last Month    20.9014
Name: 11696, dtype: object
11697 46.23 11 MP Last Month    4.20273
Name: 11697, dtype: object
11698 381.47999999999996 14 MP Last Month    27.2486
Name: 11698, dtype: object
11699 72.99000000000001 12 MP Last Month    6.0825
Name: 11699, dtype: object
11700 175.47 11 MP Last Month    15.9518
Name: 11700, dtype: object
11701 49.879999999999995 4 MP Last Month    12.47
Name: 11701, dtype: object
11702 630.0699999999999 16 MP Last Month    39.3794
Name: 11702, dtype: object
11703 42.55 3 MP Last Month    14.1833
Name: 11703, dtype: object
11704 440.58000000000004 14 MP Last Month    31.47
Name: 11704, dtype: object
11705 425.92 16 MP Last Month    26.62
Name: 11705, dtype: object
11706 28.57 9 MP Last Month    3.17444
Name: 11706, dtype: object
11707 6.35 4 MP Last Month    1.5875
Name: 11707, dtype: object
11708 397.07000000000005 14 MP Last Month    28.3621
Name: 11708, dtype: object
11709 498.5600000000001 15 MP Last Month    33.2373
Name: 11709, dtype: object
11710 96.21000000000001 8 MP Last Month    12.0263
Name: 11710, dtype: object
11711 420.04 16 MP Last Month    26.2525
Name: 11711, dtype: object
11712 306.19 16 MP Last Month    19.1369
Name: 11712, dtype: object
11713 52.74 16 MP Last Month    3.29625
Name: 11713, dtype: object
11714 346.90999999999997 11 MP Last Month    31.5373
Name: 11714, dtype: object
11715 292.04999999999995 12 MP Last Month    24.3375
Name: 11715, dtype: object
11716 356.78999999999996 12 MP Last Month    29.7325
Name: 11716, dtype: object
11717 64.53999999999999 12 MP Last Month    5.37833
Name: 11717, dtype: object
11718 360.22999999999996 12 MP Last Month    30.0192
Name: 11718, dtype: object
11719 283.47 10 MP Last Month    28.347
Name: 11719, dtype: object
11720 192.34 8 MP Last Month    24.0425
Name: 11720, dtype: object
11721 262.75 10 MP Last Month    26.275
Name: 11721, dtype: object
11722 136.51 12 MP Last Month    11.3758
Name: 11722, dtype: object
11723 111.42999999999999 4 MP Last Month    27.8575
Name: 11723, dtype: object
11724 214.19 12 MP Last Month    17.8492
Name: 11724, dtype: object
11725 46.150000000000006 7 MP Last Month    6.59286
Name: 11725, dtype: object
11726 118.71 10 MP Last Month    11.871
Name: 11726, dtype: object
11727 386.44 11 MP Last Month    35.1309
Name: 11727, dtype: object
11728 464.63 13 MP Last Month    35.7408
Name: 11728, dtype: object
11729 200.98 12 MP Last Month    16.7483
Name: 11729, dtype: object
11730 122.78 13 MP Last Month    9.44462
Name: 11730, dtype: object
11731 476.53000000000003 13 MP Last Month    36.6562
Name: 11731, dtype: object
11732 238.29999999999998 11 MP Last Month    21.6636
Name: 11732, dtype: object
11733 128.17999999999998 9 MP Last Month    14.2422
Name: 11733, dtype: object
11734 64.92 8 MP Last Month    8.115
Name: 11734, dtype: object
11735 224.2 7 MP Last Month    32.0286
Name: 11735, dtype: object
11736 300.4 13 MP Last Month    23.1077
Name: 11736, dtype: object
11737 309.52 13 MP Last Month    23.8092
Name: 11737, dtype: object
11738 154.23 13 MP Last Month    11.8638
Name: 11738, dtype: object
11739 510.9 14 MP Last Month    36.4929
Name: 11739, dtype: object
11740 38.0 13 MP Last Month    2.92308
Name: 11740, dtype: object
11741 51.2 6 MP Last Month    8.53333
Name: 11741, dtype: object
11742 470.88000000000005 14 MP Last Month    33.6343
Name: 11742, dtype: object
11743 474.8500000000001 14 MP Last Month    33.9179
Name: 11743, dtype: object
11744 295.52000000000004 14 MP Last Month    21.1086
Name: 11744, dtype: object
11745 250.38000000000002 12 MP Last Month    20.865
Name: 11745, dtype: object
11746 88.94 13 MP Last Month    6.84154
Name: 11746, dtype: object
11747 458.3399999999999 14 MP Last Month    32.7386
Name: 11747, dtype: object
11748 145.64 12 MP Last Month    12.1367
Name: 11748, dtype: object
11749 33.37 11 MP Last Month    3.03364
Name: 11749, dtype: object
11750 30.1 8 MP Last Month    3.7625
Name: 11750, dtype: object
11751 255.95 10 MP Last Month    25.595
Name: 11751, dtype: object
11752 40.25 2 MP Last Month    20.125
Name: 11752, dtype: object
11753 236.3 8 MP Last Month    29.5375
Name: 11753, dtype: object
11754 378.53999999999996 15 MP Last Month    25.236
Name: 11754, dtype: object
11755 473.88 15 MP Last Month    31.592
Name: 11755, dtype: object
11756 531.39 15 MP Last Month    35.426
Name: 11756, dtype: object
11757 526.45 15 MP Last Month    35.0967
Name: 11757, dtype: object
11758 357.63 15 MP Last Month    23.842
Name: 11758, dtype: object
11759 174.65000000000003 15 MP Last Month    11.6433
Name: 11759, dtype: object
11760 147.51 15 MP Last Month    9.834
Name: 11760, dtype: object
11761 100.00999999999999 15 MP Last Month    6.66733
Name: 11761, dtype: object
11762 280.32 14 MP Last Month    20.0229
Name: 11762, dtype: object
11763 54.48 15 MP Last Month    3.632
Name: 11763, dtype: object
11764 291.65999999999997 10 MP Last Month    29.166
Name: 11764, dtype: object
11765 404.13 13 MP Last Month    31.0869
Name: 11765, dtype: object
11766 220.65 14 MP Last Month    15.7607
Name: 11766, dtype: object
11767 98.14 10 MP Last Month    9.814
Name: 11767, dtype: object
11768 413.6 13 MP Last Month    31.8154
Name: 11768, dtype: object
11769 349.14 12 MP Last Month    29.095
Name: 11769, dtype: object
11770 224.8 13 MP Last Month    17.2923
Name: 11770, dtype: object
11771 264.55999999999995 13 MP Last Month    20.3508
Name: 11771, dtype: object
11772 177.93 12 MP Last Month    14.8275
Name: 11772, dtype: object
11773 366.96000000000004 13 MP Last Month    28.2277
Name: 11773, dtype: object
11774 152.77 13 MP Last Month    11.7515
Name: 11774, dtype: object
11775 107.33 7 MP Last Month    15.3329
Name: 11775, dtype: object
11776 23.17 14 MP Last Month    1.655
Name: 11776, dtype: object
11777 418.15999999999997 14 MP Last Month    29.8686
Name: 11777, dtype: object
11778 152.52 7 MP Last Month    21.7886
Name: 11778, dtype: object
11779 96.93 7 MP Last Month    13.8471
Name: 11779, dtype: object
11780 193.29 13 MP Last Month    14.8685
Name: 11780, dtype: object
11781 417.47 14 MP Last Month    29.8193
Name: 11781, dtype: object
11782 242.5 11 MP Last Month    22.0455
Name: 11782, dtype: object
11783 55.56 4 MP Last Month    13.89
Name: 11783, dtype: object
11784 125.75 9 MP Last Month    13.9722
Name: 11784, dtype: object
11785 201.89000000000001 14 MP Last Month    14.4207
Name: 11785, dtype: object
11786 405.73999999999995 14 MP Last Month    28.9814
Name: 11786, dtype: object
11787 396.90000000000003 14 MP Last Month    28.35
Name: 11787, dtype: object
11788 79.16 10 MP Last Month    7.916
Name: 11788, dtype: object
11789 455.05999999999995 13 MP Last Month    35.0046
Name: 11789, dtype: object
11790 329.59 12 MP Last Month    27.4658
Name: 11790, dtype: object
11791 12.68 12 MP Last Month    1.05667
Name: 11791, dtype: object
11792 49.57 6 MP Last Month    8.26167
Name: 11792, dtype: object
11793 449.66999999999996 13 MP Last Month    34.59
Name: 11793, dtype: object
11794 409.49 13 MP Last Month    31.4992
Name: 11794, dtype: object
11795 96.1 12 MP Last Month    8.00833
Name: 11795, dtype: object
11796 224.03 11 MP Last Month    20.3664
Name: 11796, dtype: object
11797 28.869999999999997 13 MP Last Month    2.22077
Name: 11797, dtype: object
11798 421.94000000000005 13 MP Last Month    32.4569
Name: 11798, dtype: object
11799 194.83 13 MP Last Month    14.9869
Name: 11799, dtype: object
11800 180.68 13 MP Last Month    13.8985
Name: 11800, dtype: object
11801 428.3999999999999 13 MP Last Month    32.9538
Name: 11801, dtype: object
11802 325.28999999999996 13 MP Last Month    25.0223
Name: 11802, dtype: object
11803 256.47 13 MP Last Month    19.7285
Name: 11803, dtype: object
11804 44.11 10 MP Last Month    4.411
Name: 11804, dtype: object
11805 13.58 6 MP Last Month    2.26333
Name: 11805, dtype: object
11806 322.17999999999995 11 MP Last Month    29.2891
Name: 11806, dtype: object
11807 319.34000000000003 11 MP Last Month    29.0309
Name: 11807, dtype: object
11808 385.09 13 MP Last Month    29.6223
Name: 11808, dtype: object

11809 241.42 13 MP Last Month    18.5708
Name: 11809, dtype: object
11810 39.019999999999996 6 MP Last Month    6.50333
Name: 11810, dtype: object
11811 382.09 12 MP Last Month    31.8408
Name: 11811, dtype: object
11812 283.01 12 MP Last Month    23.5842
Name: 11812, dtype: object
11813 79.97000000000001 13 MP Last Month    6.15154
Name: 11813, dtype: object
11814 509.43 14 MP Last Month    36.3879
Name: 11814, dtype: object
11815 201.95999999999998 14 MP Last Month    14.4257
Name: 11815, dtype: object
11816 12.66 14 MP Last Month    0.904286
Name: 11816, dtype: object
11817 428.9800000000001 14 MP Last Month    30.6414
Name: 11817, dtype: object
11818 320.55000000000007 13 MP Last Month    24.6577
Name: 11818, dtype: object
11819 293.62 13 MP Last Month    22.5862
Name: 11819, dtype: object
11820 211.41 14 MP Last Month    15.1007
Name: 11820, dtype: object
11821 65.67 13 MP Last Month    5.05154
Name: 11821, dtype: object
11822 384.73 14 MP Last Month    27.4807
Name: 11822, dtype: object
11823 257.34999999999997 14 MP Last Month    18.3821
Name: 11823, dtype: object
11824 217.29999999999998 14 MP Last Month    15.5214
Name: 11824, dtype: object
11825 19.48 13 MP Last Month    1.49846
Name: 11825, dtype: object
11826 454.23 15 MP Last Month    30.282
Name: 11826, dtype: object
11827 421.51 13 MP Last Month    32.4238
Name: 11827, dtype: object
11828 196.16000000000003 15 MP Last Month    13.0773
Name: 11828, dtype: object
11829 115.94 13 MP Last Month    8.91846
Name: 11829, dtype: object
11830 430.25000000000006 15 MP Last Month    28.6833
Name: 11830, dtype: object
11831 234.71999999999997 13 MP Last Month    18.0554
Name: 11831, dtype: object
11832 377.20000000000005 15 MP Last Month    25.1467
Name: 11832, dtype: object
11833 272.49999999999994 15 MP Last Month    18.1667
Name: 11833, dtype: object
11834 158.36 15 MP Last Month    10.5573
Name: 11834, dtype: object
11835 35.68 9 MP Last Month    3.96444
Name: 11835, dtype: object
11836 435.70000000000005 15 MP Last Month    29.0467
Name: 11836, dtype: object
11837 349.15999999999997 15 MP Last Month    23.2773
Name: 11837, dtype: object
11838 57.91999999999999 14 MP Last Month    4.13714
Name: 11838, dtype: object
11839 351.38 12 MP Last Month    29.2817
Name: 11839, dtype: object
11840 138.55 8 MP Last Month    17.3188
Name: 11840, dtype: object
11841 176.83000000000004 12 MP Last Month    14.7358
Name: 11841, dtype: object
11842 66.72 8 MP Last Month    8.34
Name: 11842, dtype: object
11843 349.36 12 MP Last Month    29.1133
Name: 11843, dtype: object
11844 368.31000000000006 12 MP Last Month    30.6925
Name: 11844, dtype: object
11845 71.89999999999999 12 MP Last Month    5.99167
Name: 11845, dtype: object
11846 3.18 1 MP Last Month    3.18
Name: 11846, dtype: object
11847 39.88999999999999 7 MP Last Month    5.69857
Name: 11847, dtype: object
11848 310.02000000000004 12 MP Last Month    25.835
Name: 11848, dtype: object
11849 345.22 11 MP Last Month    31.3836
Name: 11849, dtype: object
11850 64.8 5 MP Last Month    12.96
Name: 11850, dtype: object
11851 425.29999999999995 14 MP Last Month    30.3786
Name: 11851, dtype: object
11852 432.48999999999995 14 MP Last Month    30.8921
Name: 11852, dtype: object
11853 101.75 14 MP Last Month    7.26786
Name: 11853, dtype: object
11854 239.48000000000002 14 MP Last Month    17.1057
Name: 11854, dtype: object
11855 341.23 12 MP Last Month    28.4358
Name: 11855, dtype: object
11856 343.30999999999995 14 MP Last Month    24.5221
Name: 11856, dtype: object
11857 264.88 14 MP Last Month    18.92
Name: 11857, dtype: object
11858 5.14 4 MP Last Month    1.285
Name: 11858, dtype: object
11859 385.51 14 MP Last Month    27.5364
Name: 11859, dtype: object
11860 375.85999999999996 14 MP Last Month    26.8471
Name: 11860, dtype: object
11861 267.51 14 MP Last Month    19.1079
Name: 11861, dtype: object
11862 0 0 MP Last Month    0
Name: 11862, dtype: object
11863 9.219999999999999 14 MP Last Month    0.658571
Name: 11863, dtype: object
11864 301.45000000000005 9 MP Last Month    33.4944
Name: 11864, dtype: object
11865 206.21000000000004 7 MP Last Month    29.4586
Name: 11865, dtype: object
11866 239.72999999999996 14 MP Last Month    17.1236
Name: 11866, dtype: object
11867 410.33000000000004 14 MP Last Month    29.3093
Name: 11867, dtype: object
11868 59.72 13 MP Last Month    4.59385
Name: 11868, dtype: object
11869 182.62 13 MP Last Month    14.0477
Name: 11869, dtype: object
11870 327.71 11 MP Last Month    29.7918
Name: 11870, dtype: object
11871 484.35 14 MP Last Month    34.5964
Name: 11871, dtype: object
11872 196.54000000000002 13 MP Last Month    15.1185
Name: 11872, dtype: object
11873 234.32 11 MP Last Month    21.3018
Name: 11873, dtype: object
11874 240.33999999999997 14 MP Last Month    17.1671
Name: 11874, dtype: object
11875 34.08 14 MP Last Month    2.43429
Name: 11875, dtype: object
11876 442.77 13 MP Last Month    34.0592
Name: 11876, dtype: object
11877 256.32000000000005 13 MP Last Month    19.7169
Name: 11877, dtype: object
11878 168.92000000000002 13 MP Last Month    12.9938
Name: 11878, dtype: object
11879 56.6 12 MP Last Month    4.71667
Name: 11879, dtype: object
11880 414.12000000000006 13 MP Last Month    31.8554
Name: 11880, dtype: object
11881 344.77000000000004 12 MP Last Month    28.7308
Name: 11881, dtype: object
11882 384.40999999999997 13 MP Last Month    29.57
Name: 11882, dtype: object
11883 225.70000000000002 13 MP Last Month    17.3615
Name: 11883, dtype: object
11884 257.71000000000004 13 MP Last Month    19.8238
Name: 11884, dtype: object
11885 39.61 12 MP Last Month    3.30083
Name: 11885, dtype: object
11886 292.81999999999994 12 MP Last Month    24.4017
Name: 11886, dtype: object
11887 151.35 13 MP Last Month    11.6423
Name: 11887, dtype: object
11888 428.14 15 MP Last Month    28.5427
Name: 11888, dtype: object
11889 514.46 16 MP Last Month    32.1538
Name: 11889, dtype: object
11890 407.29999999999995 15 MP Last Month    27.1533
Name: 11890, dtype: object
11891 164.11 10 MP Last Month    16.411
Name: 11891, dtype: object
11892 523.91 16 MP Last Month    32.7444
Name: 11892, dtype: object
11893 195.26999999999998 11 MP Last Month    17.7518
Name: 11893, dtype: object
11894 47.660000000000004 8 MP Last Month    5.9575
Name: 11894, dtype: object
11895 476.07000000000005 16 MP Last Month    29.7544
Name: 11895, dtype: object
11896 119.21999999999998 13 MP Last Month    9.17077
Name: 11896, dtype: object
11897 64.93 16 MP Last Month    4.05813
Name: 11897, dtype: object
11898 223.66000000000003 14 MP Last Month    15.9757
Name: 11898, dtype: object
11899 275.95 14 MP Last Month    19.7107
Name: 11899, dtype: object
11900 398.95000000000005 13 MP Last Month    30.6885
Name: 11900, dtype: object
11901 454.27 14 MP Last Month    32.4479
Name: 11901, dtype: object
11902 331.41 14 MP Last Month    23.6721
Name: 11902, dtype: object
11903 40.42999999999999 12 MP Last Month    3.36917
Name: 11903, dtype: object
11904 426.8800000000001 14 MP Last Month    30.4914
Name: 11904, dtype: object
11905 146.37999999999997 10 MP Last Month    14.638
Name: 11905, dtype: object
11906 39.86 6 MP Last Month    6.64333
Name: 11906, dtype: object
11907 219.26999999999998 14 MP Last Month    15.6621
Name: 11907, dtype: object
11908 27.61 12 MP Last Month    2.30083
Name: 11908, dtype: object
11909 263.49999999999994 11 MP Last Month    23.9545
Name: 11909, dtype: object
11910 296.16999999999996 11 MP Last Month    26.9245
Name: 11910, dtype: object
11911 394.78 11 MP Last Month    35.8891
Name: 11911, dtype: object
11912 6.430000000000001 6 MP Last Month    1.07167
Name: 11912, dtype: object
11913 346.91999999999996 11 MP Last Month    31.5382
Name: 11913, dtype: object
11914 259.35 11 MP Last Month    23.5773
Name: 11914, dtype: object
11915 230.94 11 MP Last Month    20.9945
Name: 11915, dtype: object
11916 16.7 11 MP Last Month    1.51818
Name: 11916, dtype: object
11917 37.13 4 MP Last Month    9.2825
Name: 11917, dtype: object
11918 355.07 11 MP Last Month    32.2791
Name: 11918, dtype: object
11919 258.14000000000004 11 MP Last Month    23.4673
Name: 11919, dtype: object
11920 10.360000000000001 6 MP Last Month    1.72667
Name: 11920, dtype: object

11921 388.43000000000006 14 MP Last Month    27.745
Name: 11921, dtype: object
11922 346.97 14 MP Last Month    24.7836
Name: 11922, dtype: object
11923 276.45 14 MP Last Month    19.7464
Name: 11923, dtype: object
11924 205.42000000000002 14 MP Last Month    14.6729
Name: 11924, dtype: object
11925 15.23 12 MP Last Month    1.26917
Name: 11925, dtype: object
11926 0.0 2 MP Last Month    0
Name: 11926, dtype: object
11927 276.85999999999996 9 MP Last Month    30.7622
Name: 11927, dtype: object
11928 223.06 12 MP Last Month    18.5883
Name: 11928, dtype: object
11929 216.95000000000002 11 MP Last Month    19.7227
Name: 11929, dtype: object
11930 462.6499999999999 13 MP Last Month    35.5885
Name: 11930, dtype: object
11931 460.73999999999995 14 MP Last Month    32.91
Name: 11931, dtype: object
11932 159.79000000000002 13 MP Last Month    12.2915
Name: 11932, dtype: object
11933 114.9 14 MP Last Month    8.20714
Name: 11933, dtype: object
11934 237.71 7 MP Last Month    33.9586
Name: 11934, dtype: object
11935 433.4800000000001 15 MP Last Month    28.8987
Name: 11935, dtype: object
11936 377.94 15 MP Last Month    25.196
Name: 11936, dtype: object
11937 475.44 15 MP Last Month    31.696
Name: 11937, dtype: object
11938 266.4 12 MP Last Month    22.2
Name: 11938, dtype: object
11939 493.90999999999997 15 MP Last Month    32.9273
Name: 11939, dtype: object
11940 287.22 15 MP Last Month    19.148
Name: 11940, dtype: object
11941 0 0 MP Last Month    0
Name: 11941, dtype: object
11942 338.7699999999999 14 MP Last Month    24.1979
Name: 11942, dtype: object
11943 448.38 15 MP Last Month    29.892
Name: 11943, dtype: object
11944 428.28000000000003 14 MP Last Month    30.5914
Name: 11944, dtype: object
11945 379.18 14 MP Last Month    27.0843
Name: 11945, dtype: object
11946 320.58000000000004 14 MP Last Month    22.8986
Name: 11946, dtype: object
11947 118.72999999999999 14 MP Last Month    8.48071
Name: 11947, dtype: object
11948 60.75 13 MP Last Month    4.67308
Name: 11948, dtype: object
11949 475.14 14 MP Last Month    33.9386
Name: 11949, dtype: object
11950 450.04999999999995 14 MP Last Month    32.1464
Name: 11950, dtype: object
11951 217.53 14 MP Last Month    15.5379
Name: 11951, dtype: object
11952 66.13999999999999 14 MP Last Month    4.72429
Name: 11952, dtype: object
11953 347.09000000000003 14 MP Last Month    24.7921
Name: 11953, dtype: object
11954 109.32999999999998 14 MP Last Month    7.80929
Name: 11954, dtype: object
11955 189.87 13 MP Last Month    14.6054
Name: 11955, dtype: object
11956 360.45000000000005 13 MP Last Month    27.7269
Name: 11956, dtype: object
11957 455.03 13 MP Last Month    35.0023
Name: 11957, dtype: object
11958 333.33000000000004 14 MP Last Month    23.8093
Name: 11958, dtype: object
11959 435.46000000000004 14 MP Last Month    31.1043
Name: 11959, dtype: object
11960 343.4 14 MP Last Month    24.5286
Name: 11960, dtype: object
11961 118.08 14 MP Last Month    8.43429
Name: 11961, dtype: object
11962 12.4 1 MP Last Month    12.4
Name: 11962, dtype: object
11963 150.14 11 MP Last Month    13.6491
Name: 11963, dtype: object
11964 149.24 13 MP Last Month    11.48
Name: 11964, dtype: object
11965 476.09000000000003 14 MP Last Month    34.0064
Name: 11965, dtype: object
11966 358.26 14 MP Last Month    25.59
Name: 11966, dtype: object
11967 115.00999999999999 8 MP Last Month    14.3762
Name: 11967, dtype: object
11968 29.9 11 MP Last Month    2.71818
Name: 11968, dtype: object
11969 198.5 10 MP Last Month    19.85
Name: 11969, dtype: object
11970 347.21999999999997 12 MP Last Month    28.935
Name: 11970, dtype: object
11971 309.28000000000003 13 MP Last Month    23.7908
Name: 11971, dtype: object
11972 153.12 11 MP Last Month    13.92
Name: 11972, dtype: object
11973 423.15000000000003 13 MP Last Month    32.55
Name: 11973, dtype: object
11974 268.59999999999997 13 MP Last Month    20.6615
Name: 11974, dtype: object
11975 311.37999999999994 12 MP Last Month    25.9483
Name: 11975, dtype: object
11976 194.36 11 MP Last Month    17.6691
Name: 11976, dtype: object
11977 0.0 1 MP Last Month    0
Name: 11977, dtype: object
11978 8.25 13 MP Last Month    0.634615
Name: 11978, dtype: object
11979 228.27 9 MP Last Month    25.3633
Name: 11979, dtype: object
11980 329.39 13 MP Last Month    25.3377
Name: 11980, dtype: object
11981 309.68 13 MP Last Month    23.8215
Name: 11981, dtype: object
11982 332.06000000000006 12 MP Last Month    27.6717
Name: 11982, dtype: object
11983 238.18 13 MP Last Month    18.3215
Name: 11983, dtype: object
11984 28.27 3 MP Last Month    9.42333
Name: 11984, dtype: object
11985 394.81 12 MP Last Month    32.9008
Name: 11985, dtype: object
11986 434.8 13 MP Last Month    33.4462
Name: 11986, dtype: object
11987 312.26000000000005 13 MP Last Month    24.02
Name: 11987, dtype: object
11988 160.03 13 MP Last Month    12.31
Name: 11988, dtype: object
11989 32.08 13 MP Last Month    2.46769
Name: 11989, dtype: object
11990 17.04 13 MP Last Month    1.31077
Name: 11990, dtype: object
11991 12.9 13 MP Last Month    0.992308
Name: 11991, dtype: object
11992 427.54 13 MP Last Month    32.8877
Name: 11992, dtype: object
11993 281.46 12 MP Last Month    23.455
Name: 11993, dtype: object
11994 186.87 13 MP Last Month    14.3746
Name: 11994, dtype: object
11995 526.13 14 MP Last Month    37.5807
Name: 11995, dtype: object
11996 359.39000000000004 14 MP Last Month    25.6707
Name: 11996, dtype: object
11997 71.72999999999999 8 MP Last Month    8.96625
Name: 11997, dtype: object
11998 48.050000000000004 11 MP Last Month    4.36818
Name: 11998, dtype: object
11999 354.09000000000003 14 MP Last Month    25.2921
Name: 11999, dtype: object
12000 287.24 12 MP Last Month    23.9367
Name: 12000, dtype: object
12001 333.71000000000004 14 MP Last Month    23.8364
Name: 12001, dtype: object
12002 22.25 7 MP Last Month    3.17857
Name: 12002, dtype: object
12003 79.81 13 MP Last Month    6.13923
Name: 12003, dtype: object
12004 508.94000000000005 14 MP Last Month    36.3529
Name: 12004, dtype: object
12005 391.84999999999997 13 MP Last Month    30.1423
Name: 12005, dtype: object
12006 55.33 13 MP Last Month    4.25615
Name: 12006, dtype: object
12007 101.91 14 MP Last Month    7.27929
Name: 12007, dtype: object
12008 333.66999999999996 12 MP Last Month    27.8058
Name: 12008, dtype: object
12009 239.02999999999997 12 MP Last Month    19.9192
Name: 12009, dtype: object
12010 22.369999999999997 11 MP Last Month    2.03364
Name: 12010, dtype: object
12011 361.83000000000004 11 MP Last Month    32.8936
Name: 12011, dtype: object
12012 343.1 11 MP Last Month    31.1909
Name: 12012, dtype: object
12013 326.50000000000006 12 MP Last Month    27.2083
Name: 12013, dtype: object
12014 319.53 12 MP Last Month    26.6275
Name: 12014, dtype: object
12015 239.74999999999997 11 MP Last Month    21.7955
Name: 12015, dtype: object
12016 343.88 11 MP Last Month    31.2618
Name: 12016, dtype: object
12017 184.09 12 MP Last Month    15.3408
Name: 12017, dtype: object
12018 47.07 12 MP Last Month    3.9225
Name: 12018, dtype: object
12019 49.14 11 MP Last Month    4.46727
Name: 12019, dtype: object
12020 283.65999999999997 8 MP Last Month    35.4575
Name: 12020, dtype: object
12021 189.47000000000003 10 MP Last Month    18.947
Name: 12021, dtype: object
12022 280.42999999999995 13 MP Last Month    21.5715
Name: 12022, dtype: object
12023 45.9 6 MP Last Month    7.65
Name: 12023, dtype: object
12024 184.93 15 MP Last Month    12.3287
Name: 12024, dtype: object
12025 335.54 10 MP Last Month    33.554
Name: 12025, dtype: object
12026 371.7199999999999 13 MP Last Month    28.5938
Name: 12026, dtype: object
12027 402.68999999999994 15 MP Last Month    26.846
Name: 12027, dtype: object
12028 449.23999999999995 15 MP Last Month    29.9493
Name: 12028, dtype: object
12029 436.79 15 MP Last Month    29.1193
Name: 12029, dtype: object
12030 297.91 15 MP Last Month    19.8607
Name: 12030, dtype: object
12031 61.96999999999999 15 MP Last Month    4.13133
Name: 12031, dtype: object
12032 0.0 6 MP Last Month    0
Name: 12032, dtype: object
12033 399.74 13 MP Last Month    30.7492
Name: 12033, dtype: object
12034 118.68 13 MP Last Month    9.12923
Name: 12034, dtype: object

12035 316.21 13 MP Last Month    24.3238
Name: 12035, dtype: object
12036 344.27000000000004 13 MP Last Month    26.4823
Name: 12036, dtype: object
12037 407.22 13 MP Last Month    31.3246
Name: 12037, dtype: object
12038 41.05 10 MP Last Month    4.105
Name: 12038, dtype: object
12039 226.49000000000004 10 MP Last Month    22.649
Name: 12039, dtype: object
12040 271.43 13 MP Last Month    20.8792
Name: 12040, dtype: object
12041 373.80000000000007 13 MP Last Month    28.7538
Name: 12041, dtype: object
12042 188.19 12 MP Last Month    15.6825
Name: 12042, dtype: object
12043 52.870000000000005 11 MP Last Month    4.80636
Name: 12043, dtype: object
12044 44.7 4 MP Last Month    11.175
Name: 12044, dtype: object
12045 368.6300000000001 15 MP Last Month    24.5753
Name: 12045, dtype: object
12046 364.0 15 MP Last Month    24.2667
Name: 12046, dtype: object
12047 332.4 15 MP Last Month    22.16
Name: 12047, dtype: object
12048 0 0 MP Last Month    0
Name: 12048, dtype: object
12049 489.48000000000013 15 MP Last Month    32.632
Name: 12049, dtype: object
12050 300.59999999999997 15 MP Last Month    20.04
Name: 12050, dtype: object
12051 394.10999999999996 15 MP Last Month    26.274
Name: 12051, dtype: object
12052 231.51999999999998 14 MP Last Month    16.5371
Name: 12052, dtype: object
12053 79.44999999999999 15 MP Last Month    5.29667
Name: 12053, dtype: object
12054 420.67999999999995 15 MP Last Month    28.0453
Name: 12054, dtype: object
12055 285.89 15 MP Last Month    19.0593
Name: 12055, dtype: object
12056 262.43 13 MP Last Month    20.1869
Name: 12056, dtype: object
12057 49.760000000000005 10 MP Last Month    4.976
Name: 12057, dtype: object
12058 352.45 13 MP Last Month    27.1115
Name: 12058, dtype: object
12059 268.99 14 MP Last Month    19.2136
Name: 12059, dtype: object
12060 61.93 14 MP Last Month    4.42357
Name: 12060, dtype: object
12061 409.78 11 MP Last Month    37.2527
Name: 12061, dtype: object
12062 415.08000000000004 13 MP Last Month    31.9292
Name: 12062, dtype: object
12063 266.73 14 MP Last Month    19.0521
Name: 12063, dtype: object
12064 66.21 3 MP Last Month    22.07
Name: 12064, dtype: object
12065 22.82 13 MP Last Month    1.75538
Name: 12065, dtype: object
12066 200.17000000000002 14 MP Last Month    14.2979
Name: 12066, dtype: object
12067 425.24999999999994 13 MP Last Month    32.7115
Name: 12067, dtype: object
12068 333.09 11 MP Last Month    30.2809
Name: 12068, dtype: object
12069 102.91999999999999 13 MP Last Month    7.91692
Name: 12069, dtype: object
12070 401.79 13 MP Last Month    30.9069
Name: 12070, dtype: object
12071 575.6899999999999 15 MP Last Month    38.3793
Name: 12071, dtype: object
12072 406.52000000000004 15 MP Last Month    27.1013
Name: 12072, dtype: object
12073 61.03 4 MP Last Month    15.2575
Name: 12073, dtype: object
12074 44.870000000000005 9 MP Last Month    4.98556
Name: 12074, dtype: object
12075 449.28000000000003 14 MP Last Month    32.0914
Name: 12075, dtype: object
12076 379.03 13 MP Last Month    29.1562
Name: 12076, dtype: object
12077 118.33000000000001 9 MP Last Month    13.1478
Name: 12077, dtype: object
12078 388.53 15 MP Last Month    25.902
Name: 12078, dtype: object
12079 58.14 15 MP Last Month    3.876
Name: 12079, dtype: object
12080 289.71 15 MP Last Month    19.314
Name: 12080, dtype: object
12081 354.51 11 MP Last Month    32.2282
Name: 12081, dtype: object
12082 346.71999999999997 12 MP Last Month    28.8933
Name: 12082, dtype: object
12083 292.89000000000004 12 MP Last Month    24.4075
Name: 12083, dtype: object
12084 64.53999999999999 12 MP Last Month    5.37833
Name: 12084, dtype: object
12085 289.72 10 MP Last Month    28.972
Name: 12085, dtype: object
12086 268.01 10 MP Last Month    26.801
Name: 12086, dtype: object
12087 212.61 9 MP Last Month    23.6233
Name: 12087, dtype: object
12088 363.55000000000007 12 MP Last Month    30.2958
Name: 12088, dtype: object
12089 130.99 12 MP Last Month    10.9158
Name: 12089, dtype: object
12090 109.75 4 MP Last Month    27.4375
Name: 12090, dtype: object
12091 236.42 12 MP Last Month    19.7017
Name: 12091, dtype: object
12092 44.47 7 MP Last Month    6.35286
Name: 12092, dtype: object
12093 423.24 12 MP Last Month    35.27
Name: 12093, dtype: object
12094 457.55999999999995 13 MP Last Month    35.1969
Name: 12094, dtype: object
12095 196.23 12 MP Last Month    16.3525
Name: 12095, dtype: object
12096 94.69999999999999 13 MP Last Month    7.28462
Name: 12096, dtype: object
12097 473.65000000000003 13 MP Last Month    36.4346
Name: 12097, dtype: object
12098 236.74999999999994 11 MP Last Month    21.5227
Name: 12098, dtype: object
12099 140.95 10 MP Last Month    14.095
Name: 12099, dtype: object
12100 249.52999999999997 8 MP Last Month    31.1912
Name: 12100, dtype: object
12101 303.8 13 MP Last Month    23.3692
Name: 12101, dtype: object
12102 307.41999999999996 13 MP Last Month    23.6477
Name: 12102, dtype: object
12103 148.82999999999998 13 MP Last Month    11.4485
Name: 12103, dtype: object
12104 502.34999999999997 14 MP Last Month    35.8821
Name: 12104, dtype: object
12105 270.1 10 MP Last Month    27.01
Name: 12105, dtype: object
12106 35.07 13 MP Last Month    2.69769
Name: 12106, dtype: object
12107 51.2 7 MP Last Month    7.31429
Name: 12107, dtype: object
12108 466.94 14 MP Last Month    33.3529
Name: 12108, dtype: object
12109 292.51 14 MP Last Month    20.8936
Name: 12109, dtype: object
12110 270.38 13 MP Last Month    20.7985
Name: 12110, dtype: object
12111 468.92 14 MP Last Month    33.4943
Name: 12111, dtype: object
12112 69.74000000000001 13 MP Last Month    5.36462
Name: 12112, dtype: object
12113 451.11 14 MP Last Month    32.2221
Name: 12113, dtype: object
12114 162.92 13 MP Last Month    12.5323
Name: 12114, dtype: object
12115 28.17 11 MP Last Month    2.56091
Name: 12115, dtype: object
12116 469.48999999999995 15 MP Last Month    31.2993
Name: 12116, dtype: object
12117 229.02 8 MP Last Month    28.6275
Name: 12117, dtype: object
12118 392.36 15 MP Last Month    26.1573
Name: 12118, dtype: object
12119 0 0 MP Last Month    0
Name: 12119, dtype: object
12120 523.1 15 MP Last Month    34.8733
Name: 12120, dtype: object
12121 171.50000000000003 15 MP Last Month    11.4333
Name: 12121, dtype: object
12122 356.09000000000003 15 MP Last Month    23.7393
Name: 12122, dtype: object
12123 140.37000000000003 15 MP Last Month    9.358
Name: 12123, dtype: object
12124 281.21999999999997 14 MP Last Month    20.0871
Name: 12124, dtype: object
12125 130.68 15 MP Last Month    8.712
Name: 12125, dtype: object
12126 206.38 10 MP Last Month    20.638
Name: 12126, dtype: object
12127 56.309999999999995 15 MP Last Month    3.754
Name: 12127, dtype: object
12128 0 0 MP Last Month    0
Name: 12128, dtype: object
12129 281.95000000000005 10 MP Last Month    28.195
Name: 12129, dtype: object
12130 397.23 13 MP Last Month    30.5562
Name: 12130, dtype: object
12131 248.20000000000002 14 MP Last Month    17.7286
Name: 12131, dtype: object
12132 89.99 10 MP Last Month    8.999
Name: 12132, dtype: object
12133 408.86 13 MP Last Month    31.4508
Name: 12133, dtype: object
12134 339.64 12 MP Last Month    28.3033
Name: 12134, dtype: object
12135 271.45 13 MP Last Month    20.8808
Name: 12135, dtype: object
12136 232.68 13 MP Last Month    17.8985
Name: 12136, dtype: object
12137 151.89999999999998 12 MP Last Month    12.6583
Name: 12137, dtype: object
12138 123.66 8 MP Last Month    15.4575
Name: 12138, dtype: object
12139 369.73 13 MP Last Month    28.4408
Name: 12139, dtype: object
12140 161.97000000000003 13 MP Last Month    12.4592
Name: 12140, dtype: object
12141 23.17 14 MP Last Month    1.655
Name: 12141, dtype: object
12142 428.22 14 MP Last Month    30.5871
Name: 12142, dtype: object
12143 147.84999999999997 7 MP Last Month    21.1214
Name: 12143, dtype: object
12144 180.20999999999998 13 MP Last Month    13.8623
Name: 12144, dtype: object
12145 82.12 7 MP Last Month    11.7314
Name: 12145, dtype: object
12146 447.51 14 MP Last Month    31.965
Name: 12146, dtype: object
12147 125.75 10 MP Last Month    12.575
Name: 12147, dtype: object
12148 261.62 11 MP Last Month    23.7836
Name: 12148, dtype: object
12149 67.84 5 MP Last Month    13.568
Name: 12149, dtype: object

12150 180.86000000000004 14 MP Last Month    12.9186
Name: 12150, dtype: object
12151 408.30999999999995 14 MP Last Month    29.165
Name: 12151, dtype: object
12152 92.97999999999999 11 MP Last Month    8.45273
Name: 12152, dtype: object
12153 381.08000000000004 14 MP Last Month    27.22
Name: 12153, dtype: object
12154 428.14 13 MP Last Month    32.9338
Name: 12154, dtype: object
12155 330.79999999999995 13 MP Last Month    25.4462
Name: 12155, dtype: object
12156 251.19 13 MP Last Month    19.3223
Name: 12156, dtype: object
12157 13.58 6 MP Last Month    2.26333
Name: 12157, dtype: object
12158 391.34 13 MP Last Month    30.1031
Name: 12158, dtype: object
12159 328.78000000000003 11 MP Last Month    29.8891
Name: 12159, dtype: object
12160 243.84 13 MP Last Month    18.7569
Name: 12160, dtype: object
12161 39.019999999999996 7 MP Last Month    5.57429
Name: 12161, dtype: object
12162 323.71999999999997 11 MP Last Month    29.4291
Name: 12162, dtype: object
12163 386.03999999999996 12 MP Last Month    32.17
Name: 12163, dtype: object
12164 284.43 12 MP Last Month    23.7025
Name: 12164, dtype: object
12165 79.97000000000001 13 MP Last Month    6.15154
Name: 12165, dtype: object
12166 502.71000000000004 14 MP Last Month    35.9079
Name: 12166, dtype: object
12167 193.87999999999997 14 MP Last Month    13.8486
Name: 12167, dtype: object
12168 15.33 14 MP Last Month    1.095
Name: 12168, dtype: object
12169 301.52 13 MP Last Month    23.1938
Name: 12169, dtype: object
12170 431.03000000000003 14 MP Last Month    30.7879
Name: 12170, dtype: object
12171 216.45 14 MP Last Month    15.4607
Name: 12171, dtype: object
12172 313.18 13 MP Last Month    24.0908
Name: 12172, dtype: object
12173 68.34 14 MP Last Month    4.88143
Name: 12173, dtype: object
12174 395.20000000000005 14 MP Last Month    28.2286
Name: 12174, dtype: object
12175 212.45 14 MP Last Month    15.175
Name: 12175, dtype: object
12176 253.41 14 MP Last Month    18.1007
Name: 12176, dtype: object
12177 22.15 13 MP Last Month    1.70385
Name: 12177, dtype: object
12178 429.59000000000003 14 MP Last Month    30.685
Name: 12178, dtype: object
12179 135.81 14 MP Last Month    9.70071
Name: 12179, dtype: object
12180 253.04000000000005 11 MP Last Month    23.0036
Name: 12180, dtype: object
12181 341.42999999999995 14 MP Last Month    24.3879
Name: 12181, dtype: object
12182 368.07000000000005 14 MP Last Month    26.2907
Name: 12182, dtype: object
12183 433.6 14 MP Last Month    30.9714
Name: 12183, dtype: object
12184 290.41 14 MP Last Month    20.7436
Name: 12184, dtype: object
12185 49.949999999999996 11 MP Last Month    4.54091
Name: 12185, dtype: object
12186 396.70000000000005 14 MP Last Month    28.3357
Name: 12186, dtype: object
12187 202.74 13 MP Last Month    15.5954
Name: 12187, dtype: object
12188 63.42 12 MP Last Month    5.285
Name: 12188, dtype: object
12189 53.6 5 MP Last Month    10.72
Name: 12189, dtype: object
12190 452.65999999999997 14 MP Last Month    32.3329
Name: 12190, dtype: object
12191 176.82000000000002 14 MP Last Month    12.63
Name: 12191, dtype: object
12192 432.14000000000004 14 MP Last Month    30.8671
Name: 12192, dtype: object
12193 83.47999999999999 12 MP Last Month    6.95667
Name: 12193, dtype: object
12194 405.9700000000001 14 MP Last Month    28.9979
Name: 12194, dtype: object
12195 234.01000000000002 13 MP Last Month    18.0008
Name: 12195, dtype: object
12196 144.37 14 MP Last Month    10.3121
Name: 12196, dtype: object
12197 358.42 14 MP Last Month    25.6014
Name: 12197, dtype: object
12198 27.080000000000002 8 MP Last Month    3.385
Name: 12198, dtype: object
12199 238.76999999999998 14 MP Last Month    17.055
Name: 12199, dtype: object
12200 414.71000000000004 14 MP Last Month    29.6221
Name: 12200, dtype: object
12201 320.34000000000003 14 MP Last Month    22.8814
Name: 12201, dtype: object
12202 53.1 13 MP Last Month    4.08462
Name: 12202, dtype: object
12203 347.9 12 MP Last Month    28.9917
Name: 12203, dtype: object
12204 140.1 8 MP Last Month    17.5125
Name: 12204, dtype: object
12205 194.83000000000004 12 MP Last Month    16.2358
Name: 12205, dtype: object
12206 66.72 9 MP Last Month    7.41333
Name: 12206, dtype: object
12207 353.92999999999995 12 MP Last Month    29.4942
Name: 12207, dtype: object
12208 379.99 12 MP Last Month    31.6658
Name: 12208, dtype: object
12209 5.36 2 MP Last Month    2.68
Name: 12209, dtype: object
12210 80.98 12 MP Last Month    6.74833
Name: 12210, dtype: object
12211 39.88999999999999 8 MP Last Month    4.98625
Name: 12211, dtype: object
12212 343.09 11 MP Last Month    31.19
Name: 12212, dtype: object
12213 324.90000000000003 12 MP Last Month    27.075
Name: 12213, dtype: object
12214 51.87 5 MP Last Month    10.374
Name: 12214, dtype: object
12215 459.46999999999997 15 MP Last Month    30.6313
Name: 12215, dtype: object
12216 466.78 15 MP Last Month    31.1187
Name: 12216, dtype: object
12217 101.75 15 MP Last Month    6.78333
Name: 12217, dtype: object
12218 368.4599999999999 15 MP Last Month    24.564
Name: 12218, dtype: object
12219 300.90999999999997 15 MP Last Month    20.0607
Name: 12219, dtype: object
12220 278.25 15 MP Last Month    18.55
Name: 12220, dtype: object
12221 382.56 13 MP Last Month    29.4277
Name: 12221, dtype: object
12222 281.49 15 MP Last Month    18.766
Name: 12222, dtype: object
12223 399.5799999999999 15 MP Last Month    26.6387
Name: 12223, dtype: object
12224 428.06 15 MP Last Month    28.5373
Name: 12224, dtype: object
12225 9.219999999999999 15 MP Last Month    0.614667
Name: 12225, dtype: object
12226 236.49000000000004 8 MP Last Month    29.5613
Name: 12226, dtype: object
12227 292.62 9 MP Last Month    32.5133
Name: 12227, dtype: object
12228 245.38 14 MP Last Month    17.5271
Name: 12228, dtype: object
12229 401.78999999999996 14 MP Last Month    28.6993
Name: 12229, dtype: object
12230 61.900000000000006 13 MP Last Month    4.76154
Name: 12230, dtype: object
12231 177.36999999999998 13 MP Last Month    13.6438
Name: 12231, dtype: object
12232 359.78 12 MP Last Month    29.9817
Name: 12232, dtype: object
12233 476.39 14 MP Last Month    34.0279
Name: 12233, dtype: object
12234 192.51000000000002 13 MP Last Month    14.8085
Name: 12234, dtype: object
12235 198.75 11 MP Last Month    18.0682
Name: 12235, dtype: object
12236 236.77 14 MP Last Month    16.9121
Name: 12236, dtype: object
12237 39.03 14 MP Last Month    2.78786
Name: 12237, dtype: object
12238 449.21999999999997 13 MP Last Month    34.5554
Name: 12238, dtype: object
12239 256.42 13 MP Last Month    19.7246
Name: 12239, dtype: object
12240 170.87000000000003 13 MP Last Month    13.1438
Name: 12240, dtype: object
12241 56.6 12 MP Last Month    4.71667
Name: 12241, dtype: object
12242 426.65000000000003 13 MP Last Month    32.8192
Name: 12242, dtype: object
12243 394.34 13 MP Last Month    30.3338
Name: 12243, dtype: object
12244 351.52000000000004 12 MP Last Month    29.2933
Name: 12244, dtype: object
12245 222.68 13 MP Last Month    17.1292
Name: 12245, dtype: object
12246 260.44 13 MP Last Month    20.0338
Name: 12246, dtype: object
12247 39.61 12 MP Last Month    3.30083
Name: 12247, dtype: object
12248 295.21 12 MP Last Month    24.6008
Name: 12248, dtype: object
12249 147.25000000000003 13 MP Last Month    11.3269
Name: 12249, dtype: object
12250 419.9 15 MP Last Month    27.9933
Name: 12250, dtype: object
12251 437.40999999999997 15 MP Last Month    29.1607
Name: 12251, dtype: object
12252 505.6400000000001 16 MP Last Month    31.6025
Name: 12252, dtype: object
12253 176.4 10 MP Last Month    17.64
Name: 12253, dtype: object
12254 213.79999999999998 12 MP Last Month    17.8167
Name: 12254, dtype: object
12255 524.28 16 MP Last Month    32.7675
Name: 12255, dtype: object
12256 60.93000000000001 9 MP Last Month    6.77
Name: 12256, dtype: object
12257 364.84999999999997 13 MP Last Month    28.0654
Name: 12257, dtype: object
12258 468.57000000000005 16 MP Last Month    29.2856
Name: 12258, dtype: object
12259 82.10000000000001 16 MP Last Month    5.13125
Name: 12259, dtype: object
12260 136.17 13 MP Last Month    10.4746
Name: 12260, dtype: object
12261 240.76000000000002 15 MP Last Month    16.0507
Name: 12261, dtype: object

12262 275.95 15 MP Last Month    18.3967
Name: 12262, dtype: object
12263 430.30000000000007 14 MP Last Month    30.7357
Name: 12263, dtype: object
12264 485.29999999999995 15 MP Last Month    32.3533
Name: 12264, dtype: object
12265 351.04 15 MP Last Month    23.4027
Name: 12265, dtype: object
12266 40.42999999999999 13 MP Last Month    3.11
Name: 12266, dtype: object
12267 457.0100000000001 15 MP Last Month    30.4673
Name: 12267, dtype: object
12268 237.07 15 MP Last Month    15.8047
Name: 12268, dtype: object
12269 170.59999999999997 11 MP Last Month    15.5091
Name: 12269, dtype: object
12270 51.54 7 MP Last Month    7.36286
Name: 12270, dtype: object
12271 27.68 13 MP Last Month    2.12923
Name: 12271, dtype: object
12272 387.46999999999997 11 MP Last Month    35.2245
Name: 12272, dtype: object
12273 299.0 11 MP Last Month    27.1818
Name: 12273, dtype: object
12274 257.93 11 MP Last Month    23.4482
Name: 12274, dtype: object
12275 9.350000000000001 7 MP Last Month    1.33571
Name: 12275, dtype: object
12276 273.31 11 MP Last Month    24.8464
Name: 12276, dtype: object
12277 220.63 11 MP Last Month    20.0573
Name: 12277, dtype: object
12278 358.94999999999993 11 MP Last Month    32.6318
Name: 12278, dtype: object
12279 37.13 5 MP Last Month    7.426
Name: 12279, dtype: object
12280 14.48 11 MP Last Month    1.31636
Name: 12280, dtype: object
12281 363.45000000000005 11 MP Last Month    33.0409
Name: 12281, dtype: object
12282 266.61 11 MP Last Month    24.2373
Name: 12282, dtype: object
12283 13.280000000000001 7 MP Last Month    1.89714
Name: 12283, dtype: object
12284 391.23 14 MP Last Month    27.945
Name: 12284, dtype: object
12285 223.8 14 MP Last Month    15.9857
Name: 12285, dtype: object
12286 280.90000000000003 14 MP Last Month    20.0643
Name: 12286, dtype: object
12287 348.14 14 MP Last Month    24.8671
Name: 12287, dtype: object
12288 15.23 12 MP Last Month    1.26917
Name: 12288, dtype: object
12289 279.51000000000005 9 MP Last Month    31.0567
Name: 12289, dtype: object
12290 216.95000000000002 12 MP Last Month    18.0792
Name: 12290, dtype: object
12291 213.43999999999997 12 MP Last Month    17.7867
Name: 12291, dtype: object
12292 465.84000000000003 14 MP Last Month    33.2743
Name: 12292, dtype: object
12293 460.84999999999997 13 MP Last Month    35.45
Name: 12293, dtype: object
12294 155.19 13 MP Last Month    11.9377
Name: 12294, dtype: object
12295 128.67000000000002 14 MP Last Month    9.19071
Name: 12295, dtype: object
12296 404.28000000000003 14 MP Last Month    28.8771
Name: 12296, dtype: object
12297 272.38 8 MP Last Month    34.0475
Name: 12297, dtype: object
12298 347.25 14 MP Last Month    24.8036
Name: 12298, dtype: object
12299 121.37999999999998 13 MP Last Month    9.33692
Name: 12299, dtype: object
12300 458.57 14 MP Last Month    32.755
Name: 12300, dtype: object
12301 235.26 11 MP Last Month    21.3873
Name: 12301, dtype: object
12302 468.12000000000006 14 MP Last Month    33.4371
Name: 12302, dtype: object
12303 253.35 14 MP Last Month    18.0964
Name: 12303, dtype: object
12304 0.0 1 MP Last Month    0
Name: 12304, dtype: object
12305 322.0 13 MP Last Month    24.7692
Name: 12305, dtype: object
12306 420.28 14 MP Last Month    30.02
Name: 12306, dtype: object
12307 31.120000000000005 13 MP Last Month    2.39385
Name: 12307, dtype: object
12308 458.61 15 MP Last Month    30.574
Name: 12308, dtype: object
12309 134.5 15 MP Last Month    8.96667
Name: 12309, dtype: object
12310 345.43000000000006 15 MP Last Month    23.0287
Name: 12310, dtype: object
12311 405.33 15 MP Last Month    27.022
Name: 12311, dtype: object
12312 60.75 14 MP Last Month    4.33929
Name: 12312, dtype: object
12313 473.04999999999995 15 MP Last Month    31.5367
Name: 12313, dtype: object
12314 505.51 15 MP Last Month    33.7007
Name: 12314, dtype: object
12315 68.86999999999999 15 MP Last Month    4.59133
Name: 12315, dtype: object
12316 233.9 15 MP Last Month    15.5933
Name: 12316, dtype: object
12317 374.57000000000005 15 MP Last Month    24.9713
Name: 12317, dtype: object
12318 189.87 14 MP Last Month    13.5621
Name: 12318, dtype: object
12319 129.85 15 MP Last Month    8.65667
Name: 12319, dtype: object
12320 488.18999999999994 15 MP Last Month    32.546
Name: 12320, dtype: object
12321 404.34000000000003 15 MP Last Month    26.956
Name: 12321, dtype: object
12322 236.82 8 MP Last Month    29.6025
Name: 12322, dtype: object
12323 3.67 1 MP Last Month    3.67
Name: 12323, dtype: object
12324 16.86 7 MP Last Month    2.40857
Name: 12324, dtype: object
12325 532.11 15 MP Last Month    35.474
Name: 12325, dtype: object
12326 360.51 15 MP Last Month    24.034
Name: 12326, dtype: object
12327 176.60000000000002 15 MP Last Month    11.7733
Name: 12327, dtype: object
12328 129.17000000000002 15 MP Last Month    8.61133
Name: 12328, dtype: object
12329 281.7199999999999 14 MP Last Month    20.1229
Name: 12329, dtype: object
12330 143.43 15 MP Last Month    9.562
Name: 12330, dtype: object
12331 52.19 15 MP Last Month    3.47933
Name: 12331, dtype: object
12332 0.0 1 MP Last Month    0
Name: 12332, dtype: object
12333 354.54 12 MP Last Month    29.545
Name: 12333, dtype: object
12334 306.21 13 MP Last Month    23.5546
Name: 12334, dtype: object
12335 227.78 11 MP Last Month    20.7073
Name: 12335, dtype: object
12336 121.35000000000001 11 MP Last Month    11.0318
Name: 12336, dtype: object
12337 423.76000000000005 13 MP Last Month    32.5969
Name: 12337, dtype: object
12338 290.17 12 MP Last Month    24.1808
Name: 12338, dtype: object
12339 197.75000000000003 11 MP Last Month    17.9773
Name: 12339, dtype: object
12340 279.17999999999995 13 MP Last Month    21.4754
Name: 12340, dtype: object
12341 313.19000000000005 13 MP Last Month    24.0915
Name: 12341, dtype: object
12342 234.12 9 MP Last Month    26.0133
Name: 12342, dtype: object
12343 324.89 13 MP Last Month    24.9915
Name: 12343, dtype: object
12344 341.06 12 MP Last Month    28.4217
Name: 12344, dtype: object
12345 246.9 13 MP Last Month    18.9923
Name: 12345, dtype: object
12346 30.35 4 MP Last Month    7.5875
Name: 12346, dtype: object
12347 392.97 12 MP Last Month    32.7475
Name: 12347, dtype: object
12348 438.65 13 MP Last Month    33.7423
Name: 12348, dtype: object
12349 313.55 13 MP Last Month    24.1192
Name: 12349, dtype: object
12350 174.41 13 MP Last Month    13.4162
Name: 12350, dtype: object
12351 34.16 13 MP Last Month    2.62769
Name: 12351, dtype: object
12352 19.119999999999997 13 MP Last Month    1.47077
Name: 12352, dtype: object
12353 12.9 13 MP Last Month    0.992308
Name: 12353, dtype: object
12354 424.39 13 MP Last Month    32.6454
Name: 12354, dtype: object
12355 278.09 12 MP Last Month    23.1742
Name: 12355, dtype: object
12356 187.94 13 MP Last Month    14.4569
Name: 12356, dtype: object
12357 524.01 14 MP Last Month    37.4293
Name: 12357, dtype: object
12358 378.64 14 MP Last Month    27.0457
Name: 12358, dtype: object
12359 47.07000000000001 11 MP Last Month    4.27909
Name: 12359, dtype: object
12360 79.1 8 MP Last Month    9.8875
Name: 12360, dtype: object
12361 332.82000000000005 14 MP Last Month    23.7729
Name: 12361, dtype: object
12362 288.96 12 MP Last Month    24.08
Name: 12362, dtype: object
12363 355.95000000000005 14 MP Last Month    25.425
Name: 12363, dtype: object
12364 62.65999999999999 13 MP Last Month    4.82
Name: 12364, dtype: object
12365 22.25 8 MP Last Month    2.78125
Name: 12365, dtype: object
12366 506.02000000000004 14 MP Last Month    36.1443
Name: 12366, dtype: object
12367 408.2 13 MP Last Month    31.4
Name: 12367, dtype: object
12368 72.13 13 MP Last Month    5.54846
Name: 12368, dtype: object
12369 99.47999999999999 14 MP Last Month    7.10571
Name: 12369, dtype: object
12370 492.97999999999996 14 MP Last Month    35.2129
Name: 12370, dtype: object
12371 364.01 13 MP Last Month    28.0008
Name: 12371, dtype: object
12372 12.68 13 MP Last Month    0.975385
Name: 12372, dtype: object
12373 439.82 14 MP Last Month    31.4157
Name: 12373, dtype: object
12374 38.519999999999996 14 MP Last Month    2.75143
Name: 12374, dtype: object
12375 109.07 13 MP Last Month    8.39
Name: 12375, dtype: object
12376 248.01 12 MP Last Month    20.6675
Name: 12376, dtype: object

12377 487.34 14 MP Last Month    34.81
Name: 12377, dtype: object
12378 458.99000000000007 14 MP Last Month    32.785
Name: 12378, dtype: object
12379 205.78 14 MP Last Month    14.6986
Name: 12379, dtype: object
12380 185.75 14 MP Last Month    13.2679
Name: 12380, dtype: object
12381 345.8 12 MP Last Month    28.8167
Name: 12381, dtype: object
12382 231.77999999999997 12 MP Last Month    19.315
Name: 12382, dtype: object
12383 22.369999999999997 11 MP Last Month    2.03364
Name: 12383, dtype: object
12384 315.09999999999997 12 MP Last Month    26.2583
Name: 12384, dtype: object
12385 382.15000000000003 11 MP Last Month    34.7409
Name: 12385, dtype: object
12386 334.93000000000006 12 MP Last Month    27.9108
Name: 12386, dtype: object
12387 346.37000000000006 11 MP Last Month    31.4882
Name: 12387, dtype: object
12388 232.17 11 MP Last Month    21.1064
Name: 12388, dtype: object
12389 350.34999999999997 11 MP Last Month    31.85
Name: 12389, dtype: object
12390 182.6 12 MP Last Month    15.2167
Name: 12390, dtype: object
12391 49.14 11 MP Last Month    4.46727
Name: 12391, dtype: object
12392 45.62000000000001 12 MP Last Month    3.80167
Name: 12392, dtype: object
12393 287.18 8 MP Last Month    35.8975
Name: 12393, dtype: object
12394 268.09999999999997 13 MP Last Month    20.6231
Name: 12394, dtype: object
12395 298.60999999999996 14 MP Last Month    21.3293
Name: 12395, dtype: object
12396 213.49000000000004 10 MP Last Month    21.349
Name: 12396, dtype: object
12397 184.93 15 MP Last Month    12.3287
Name: 12397, dtype: object
12398 461.69999999999993 15 MP Last Month    30.78
Name: 12398, dtype: object
12399 333.1700000000001 10 MP Last Month    33.317
Name: 12399, dtype: object
12400 407.71 15 MP Last Month    27.1807
Name: 12400, dtype: object
12401 383.02000000000004 13 MP Last Month    29.4631
Name: 12401, dtype: object
12402 440.23 15 MP Last Month    29.3487
Name: 12402, dtype: object
12403 299.47 15 MP Last Month    19.9647
Name: 12403, dtype: object
12404 61.96999999999999 15 MP Last Month    4.13133
Name: 12404, dtype: object
12405 0.0 7 MP Last Month    0
Name: 12405, dtype: object
12406 368.3 15 MP Last Month    24.5533
Name: 12406, dtype: object
12407 370.49000000000007 15 MP Last Month    24.6993
Name: 12407, dtype: object
12408 328.8 15 MP Last Month    21.92
Name: 12408, dtype: object
12409 492.8200000000001 15 MP Last Month    32.8547
Name: 12409, dtype: object
12410 402.0899999999999 15 MP Last Month    26.806
Name: 12410, dtype: object
12411 298.87999999999994 15 MP Last Month    19.9253
Name: 12411, dtype: object
12412 208.76999999999998 14 MP Last Month    14.9121
Name: 12412, dtype: object
12413 79.44999999999999 15 MP Last Month    5.29667
Name: 12413, dtype: object
12414 422.84999999999997 15 MP Last Month    28.19
Name: 12414, dtype: object
12415 286.99000000000007 15 MP Last Month    19.1327
Name: 12415, dtype: object
12416 268.86999999999995 13 MP Last Month    20.6823
Name: 12416, dtype: object
12417 21.02 6 MP Last Month    3.50333
Name: 12417, dtype: object
12418 0 0 MP Last Month    0
Name: 12418, dtype: object
12419 271.56 14 MP Last Month    19.3971
Name: 12419, dtype: object
12420 368.59 13 MP Last Month    28.3531
Name: 12420, dtype: object
12421 61.85 14 MP Last Month    4.41786
Name: 12421, dtype: object
12422 408.25999999999993 11 MP Last Month    37.1145
Name: 12422, dtype: object
12423 194.99 14 MP Last Month    13.9279
Name: 12423, dtype: object
12424 275.04999999999995 14 MP Last Month    19.6464
Name: 12424, dtype: object
12425 421.26000000000005 13 MP Last Month    32.4046
Name: 12425, dtype: object
12426 22.82 13 MP Last Month    1.75538
Name: 12426, dtype: object
12427 328.22 11 MP Last Month    29.8382
Name: 12427, dtype: object
12428 19.14 5 MP Last Month    3.828
Name: 12428, dtype: object
12429 427.85 13 MP Last Month    32.9115
Name: 12429, dtype: object
12430 114.13999999999999 14 MP Last Month    8.15286
Name: 12430, dtype: object
12431 570.9599999999999 15 MP Last Month    38.064
Name: 12431, dtype: object
12432 408.5 15 MP Last Month    27.2333
Name: 12432, dtype: object
12433 71.36 5 MP Last Month    14.272
Name: 12433, dtype: object
12434 44.870000000000005 9 MP Last Month    4.98556
Name: 12434, dtype: object
12435 18.27 4 MP Last Month    4.5675
Name: 12435, dtype: object
12436 10.42 5 MP Last Month    2.084
Name: 12436, dtype: object
12437 358.9000000000001 13 MP Last Month    27.6077
Name: 12437, dtype: object
12438 458.88000000000005 14 MP Last Month    32.7771
Name: 12438, dtype: object
12439 118.33000000000001 10 MP Last Month    11.833
Name: 12439, dtype: object
12440 291.19999999999993 15 MP Last Month    19.4133
Name: 12440, dtype: object
12441 85.99000000000001 15 MP Last Month    5.73267
Name: 12441, dtype: object
12442 349.70000000000005 12 MP Last Month    29.1417
Name: 12442, dtype: object
12443 199.12000000000003 12 MP Last Month    16.5933
Name: 12443, dtype: object
12444 162.35 9 MP Last Month    18.0389
Name: 12444, dtype: object
12445 66.72 10 MP Last Month    6.672
Name: 12445, dtype: object
12446 371.57 12 MP Last Month    30.9642
Name: 12446, dtype: object
12447 28.009999999999998 3 MP Last Month    9.33667
Name: 12447, dtype: object
12448 362.11999999999995 12 MP Last Month    30.1767
Name: 12448, dtype: object
12449 78.93 12 MP Last Month    6.5775
Name: 12449, dtype: object
12450 35.870000000000005 8 MP Last Month    4.48375
Name: 12450, dtype: object
12451 351.03000000000003 11 MP Last Month    31.9118
Name: 12451, dtype: object
12452 167.63 10 MP Last Month    16.763
Name: 12452, dtype: object
12453 17.21 3 MP Last Month    5.73667
Name: 12453, dtype: object
12454 390.26 12 MP Last Month    32.5217
Name: 12454, dtype: object
12455 378.09 13 MP Last Month    29.0838
Name: 12455, dtype: object
12456 307.92 13 MP Last Month    23.6862
Name: 12456, dtype: object
12457 64.53999999999999 13 MP Last Month    4.96462
Name: 12457, dtype: object
12458 392.45000000000005 13 MP Last Month    30.1885
Name: 12458, dtype: object
12459 318.67 11 MP Last Month    28.97
Name: 12459, dtype: object
12460 292.21 11 MP Last Month    26.5645
Name: 12460, dtype: object
12461 236.88000000000002 10 MP Last Month    23.688
Name: 12461, dtype: object
12462 135.62 13 MP Last Month    10.4323
Name: 12462, dtype: object
12463 134.0 5 MP Last Month    26.8
Name: 12463, dtype: object
12464 49.04 8 MP Last Month    6.13
Name: 12464, dtype: object
12465 254.48999999999998 13 MP Last Month    19.5762
Name: 12465, dtype: object
12466 96.93 15 MP Last Month    6.462
Name: 12466, dtype: object
12467 9.219999999999999 15 MP Last Month    0.614667
Name: 12467, dtype: object
12468 380.04999999999995 15 MP Last Month    25.3367
Name: 12468, dtype: object
12469 472.63 15 MP Last Month    31.5087
Name: 12469, dtype: object
12470 5.14 5 MP Last Month    1.028
Name: 12470, dtype: object
12471 381.29 13 MP Last Month    29.33
Name: 12471, dtype: object
12472 387.4800000000001 15 MP Last Month    25.832
Name: 12472, dtype: object
12473 310.60999999999996 15 MP Last Month    20.7073
Name: 12473, dtype: object
12474 298.57 15 MP Last Month    19.9047
Name: 12474, dtype: object
12475 417.81 15 MP Last Month    27.854
Name: 12475, dtype: object
12476 450.9 13 MP Last Month    34.6846
Name: 12476, dtype: object
12477 60.150000000000006 12 MP Last Month    5.0125
Name: 12477, dtype: object
12478 178.28000000000003 13 MP Last Month    13.7138
Name: 12478, dtype: object
12479 364.46000000000004 12 MP Last Month    30.3717
Name: 12479, dtype: object
12480 390.05999999999995 13 MP Last Month    30.0046
Name: 12480, dtype: object
12481 220.88000000000002 13 MP Last Month    16.9908
Name: 12481, dtype: object
12482 435.02000000000004 13 MP Last Month    33.4631
Name: 12482, dtype: object
12483 29.46 12 MP Last Month    2.455
Name: 12483, dtype: object
12484 242.99000000000004 13 MP Last Month    18.6915
Name: 12484, dtype: object
12485 298.35999999999996 12 MP Last Month    24.8633
Name: 12485, dtype: object
12486 9.06 4 MP Last Month    2.265
Name: 12486, dtype: object
12487 127.7 13 MP Last Month    9.82308
Name: 12487, dtype: object
12488 449.4 16 MP Last Month    28.0875
Name: 12488, dtype: object
12489 496.31000000000006 16 MP Last Month    31.0194
Name: 12489, dtype: object

12490 436.98 15 MP Last Month    29.132
Name: 12490, dtype: object
12491 195.78 11 MP Last Month    17.7982
Name: 12491, dtype: object
12492 513.2599999999999 16 MP Last Month    32.0787
Name: 12492, dtype: object
12493 83.55000000000001 10 MP Last Month    8.355
Name: 12493, dtype: object
12494 246.45 13 MP Last Month    18.9577
Name: 12494, dtype: object
12495 329.58 13 MP Last Month    25.3523
Name: 12495, dtype: object
12496 462.19 16 MP Last Month    28.8869
Name: 12496, dtype: object
12497 100.37 16 MP Last Month    6.27313
Name: 12497, dtype: object
12498 123.13999999999999 13 MP Last Month    9.47231
Name: 12498, dtype: object
12499 427.59999999999997 12 MP Last Month    35.6333
Name: 12499, dtype: object
12500 283.66 12 MP Last Month    23.6383
Name: 12500, dtype: object
12501 319.62 12 MP Last Month    26.635
Name: 12501, dtype: object
12502 15.020000000000001 8 MP Last Month    1.8775
Name: 12502, dtype: object
12503 390.12999999999994 12 MP Last Month    32.5108
Name: 12503, dtype: object
12504 303.54 12 MP Last Month    25.295
Name: 12504, dtype: object
12505 238.03 12 MP Last Month    19.8358
Name: 12505, dtype: object
12506 37.13 6 MP Last Month    6.18833
Name: 12506, dtype: object
12507 14.48 12 MP Last Month    1.20667
Name: 12507, dtype: object
12508 400.38000000000005 12 MP Last Month    33.365
Name: 12508, dtype: object
12509 298.68 12 MP Last Month    24.89
Name: 12509, dtype: object
12510 117.41000000000001 4 MP Last Month    29.3525
Name: 12510, dtype: object
12511 13.280000000000001 8 MP Last Month    1.66
Name: 12511, dtype: object
12512 464.87 13 MP Last Month    35.7592
Name: 12512, dtype: object
12513 496.5899999999999 14 MP Last Month    35.4707
Name: 12513, dtype: object
12514 97.35 14 MP Last Month    6.95357
Name: 12514, dtype: object
12515 211.70999999999998 13 MP Last Month    16.2854
Name: 12515, dtype: object
12516 515.23 14 MP Last Month    36.8021
Name: 12516, dtype: object
12517 143.6 11 MP Last Month    13.0545
Name: 12517, dtype: object
12518 264.6499999999999 12 MP Last Month    22.0542
Name: 12518, dtype: object
12519 290.34999999999997 9 MP Last Month    32.2611
Name: 12519, dtype: object
12520 334.98999999999995 14 MP Last Month    23.9279
Name: 12520, dtype: object
12521 328.57 14 MP Last Month    23.4693
Name: 12521, dtype: object
12522 149.74999999999997 14 MP Last Month    10.6964
Name: 12522, dtype: object
12523 503.52 14 MP Last Month    35.9657
Name: 12523, dtype: object
12524 279.15000000000003 10 MP Last Month    27.915
Name: 12524, dtype: object
12525 28.0 13 MP Last Month    2.15385
Name: 12525, dtype: object
12526 467.20000000000005 14 MP Last Month    33.3714
Name: 12526, dtype: object
12527 296.69 14 MP Last Month    21.1921
Name: 12527, dtype: object
12528 469.32000000000005 14 MP Last Month    33.5229
Name: 12528, dtype: object
12529 293.36 14 MP Last Month    20.9543
Name: 12529, dtype: object
12530 49.620000000000005 13 MP Last Month    3.81692
Name: 12530, dtype: object
12531 456.25999999999993 14 MP Last Month    32.59
Name: 12531, dtype: object
12532 173.25 14 MP Last Month    12.375
Name: 12532, dtype: object
12533 21.1 11 MP Last Month    1.91818
Name: 12533, dtype: object
12534 458.94000000000005 15 MP Last Month    30.596
Name: 12534, dtype: object
12535 353.00000000000006 15 MP Last Month    23.5333
Name: 12535, dtype: object
12536 144.88 15 MP Last Month    9.65867
Name: 12536, dtype: object
12537 393.78999999999996 15 MP Last Month    26.2527
Name: 12537, dtype: object
12538 60.75 14 MP Last Month    4.33929
Name: 12538, dtype: object
12539 474.53 15 MP Last Month    31.6353
Name: 12539, dtype: object
12540 504.0400000000001 15 MP Last Month    33.6027
Name: 12540, dtype: object
12541 228.92 15 MP Last Month    15.2613
Name: 12541, dtype: object
12542 65.72 15 MP Last Month    4.38133
Name: 12542, dtype: object
12543 366.6 15 MP Last Month    24.44
Name: 12543, dtype: object
12544 123.35 15 MP Last Month    8.22333
Name: 12544, dtype: object
12545 197.39000000000001 15 MP Last Month    13.1593
Name: 12545, dtype: object
12546 453.69 13 MP Last Month    34.8992
Name: 12546, dtype: object
12547 361.39000000000004 13 MP Last Month    27.7992
Name: 12547, dtype: object
12548 328.25000000000006 14 MP Last Month    23.4464
Name: 12548, dtype: object
12549 62.559999999999995 6 MP Last Month    10.4267
Name: 12549, dtype: object
12550 27.28 2 MP Last Month    13.64
Name: 12550, dtype: object
12551 337.78000000000003 14 MP Last Month    24.1271
Name: 12551, dtype: object
12552 115.36 14 MP Last Month    8.24
Name: 12552, dtype: object
12553 435.39000000000004 14 MP Last Month    31.0993
Name: 12553, dtype: object
12554 132.87 11 MP Last Month    12.0791
Name: 12554, dtype: object
12555 149.24 13 MP Last Month    11.48
Name: 12555, dtype: object
12556 472.00000000000006 14 MP Last Month    33.7143
Name: 12556, dtype: object
12557 367.98 14 MP Last Month    26.2843
Name: 12557, dtype: object
12558 125.63999999999999 9 MP Last Month    13.96
Name: 12558, dtype: object
12559 409.63 13 MP Last Month    31.51
Name: 12559, dtype: object
12560 341.07 12 MP Last Month    28.4225
Name: 12560, dtype: object
12561 365.43 13 MP Last Month    28.11
Name: 12561, dtype: object
12562 284.0 10 MP Last Month    28.4
Name: 12562, dtype: object
12563 144.44 9 MP Last Month    16.0489
Name: 12563, dtype: object
12564 268.55 14 MP Last Month    19.1821
Name: 12564, dtype: object
12565 399.38 13 MP Last Month    30.7215
Name: 12565, dtype: object
12566 246.13 13 MP Last Month    18.9331
Name: 12566, dtype: object
12567 271.88 13 MP Last Month    20.9138
Name: 12567, dtype: object
12568 163.17000000000004 13 MP Last Month    12.5515
Name: 12568, dtype: object
12569 523.3 14 MP Last Month    37.3786
Name: 12569, dtype: object
12570 363.89 14 MP Last Month    25.9921
Name: 12570, dtype: object
12571 54.92 11 MP Last Month    4.99273
Name: 12571, dtype: object
12572 87.66999999999999 9 MP Last Month    9.74111
Name: 12572, dtype: object
12573 50.44 8 MP Last Month    6.305
Name: 12573, dtype: object
12574 286.69 12 MP Last Month    23.8908
Name: 12574, dtype: object
12575 348.15000000000003 14 MP Last Month    24.8679
Name: 12575, dtype: object
12576 20.62 8 MP Last Month    2.5775
Name: 12576, dtype: object
12577 61.089999999999996 13 MP Last Month    4.69923
Name: 12577, dtype: object
12578 0 0 MP Last Month    0
Name: 12578, dtype: object
12579 419.71999999999997 13 MP Last Month    32.2862
Name: 12579, dtype: object
12580 514.59 14 MP Last Month    36.7564
Name: 12580, dtype: object
12581 77.22 13 MP Last Month    5.94
Name: 12581, dtype: object
12582 412.25 13 MP Last Month    31.7115
Name: 12582, dtype: object
12583 50.72 6 MP Last Month    8.45333
Name: 12583, dtype: object
12584 114.01 6 MP Last Month    19.0017
Name: 12584, dtype: object
12585 171.79999999999998 12 MP Last Month    14.3167
Name: 12585, dtype: object
12586 447.2 13 MP Last Month    34.4
Name: 12586, dtype: object
12587 243.43 10 MP Last Month    24.343
Name: 12587, dtype: object
12588 67.84 6 MP Last Month    11.3067
Name: 12588, dtype: object
12589 139.35999999999999 13 MP Last Month    10.72
Name: 12589, dtype: object
12590 148.85 11 MP Last Month    13.5318
Name: 12590, dtype: object
12591 126.54999999999998 12 MP Last Month    10.5458
Name: 12591, dtype: object
12592 406.21999999999997 13 MP Last Month    31.2477
Name: 12592, dtype: object
12593 333.78000000000003 13 MP Last Month    25.6754
Name: 12593, dtype: object
12594 285.0 8 MP Last Month    35.625
Name: 12594, dtype: object
12595 323.05999999999995 15 MP Last Month    21.5373
Name: 12595, dtype: object
12596 270.45000000000005 13 MP Last Month    20.8038
Name: 12596, dtype: object
12597 181.62000000000003 10 MP Last Month    18.162
Name: 12597, dtype: object
12598 184.93 15 MP Last Month    12.3287
Name: 12598, dtype: object
12599 330.57 10 MP Last Month    33.057
Name: 12599, dtype: object
12600 476.11999999999995 15 MP Last Month    31.7413
Name: 12600, dtype: object
12601 372.21000000000004 13 MP Last Month    28.6315
Name: 12601, dtype: object
12602 418.26 15 MP Last Month    27.884
Name: 12602, dtype: object
12603 442.17999999999995 15 MP Last Month    29.4787
Name: 12603, dtype: object

12604 297.52 15 MP Last Month    19.8347
Name: 12604, dtype: object
12605 61.96999999999999 15 MP Last Month    4.13133
Name: 12605, dtype: object
12606 0.0 8 MP Last Month    0
Name: 12606, dtype: object
12607 506.66 14 MP Last Month    36.19
Name: 12607, dtype: object
12608 197.74999999999997 14 MP Last Month    14.125
Name: 12608, dtype: object
12609 15.33 14 MP Last Month    1.095
Name: 12609, dtype: object
12610 319.93999999999994 13 MP Last Month    24.6108
Name: 12610, dtype: object
12611 439.61 14 MP Last Month    31.4007
Name: 12611, dtype: object
12612 208.74999999999997 14 MP Last Month    14.9107
Name: 12612, dtype: object
12613 305.60999999999996 13 MP Last Month    23.5085
Name: 12613, dtype: object
12614 68.34 14 MP Last Month    4.88143
Name: 12614, dtype: object
12615 397.07000000000005 14 MP Last Month    28.3621
Name: 12615, dtype: object
12616 215.5 14 MP Last Month    15.3929
Name: 12616, dtype: object
12617 249.4 14 MP Last Month    17.8143
Name: 12617, dtype: object
12618 22.15 13 MP Last Month    1.70385
Name: 12618, dtype: object
12619 373.40000000000003 15 MP Last Month    24.8933
Name: 12619, dtype: object
12620 382.0400000000001 15 MP Last Month    25.4693
Name: 12620, dtype: object
12621 330.47999999999996 15 MP Last Month    22.032
Name: 12621, dtype: object
12622 502.24000000000007 15 MP Last Month    33.4827
Name: 12622, dtype: object
12623 407.53999999999996 15 MP Last Month    27.1693
Name: 12623, dtype: object
12624 295.21999999999997 15 MP Last Month    19.6813
Name: 12624, dtype: object
12625 191.25 14 MP Last Month    13.6607
Name: 12625, dtype: object
12626 67.45 15 MP Last Month    4.49667
Name: 12626, dtype: object
12627 436.3499999999999 15 MP Last Month    29.09
Name: 12627, dtype: object
12628 284.12000000000006 15 MP Last Month    18.9413
Name: 12628, dtype: object
12629 270.19 13 MP Last Month    20.7838
Name: 12629, dtype: object
12630 21.02 7 MP Last Month    3.00286
Name: 12630, dtype: object
12631 0.0 1 MP Last Month    0
Name: 12631, dtype: object
12632 191.41 14 MP Last Month    13.6721
Name: 12632, dtype: object
12633 449.58 14 MP Last Month    32.1129
Name: 12633, dtype: object
12634 69.97999999999999 12 MP Last Month    5.83167
Name: 12634, dtype: object
12635 162.27 14 MP Last Month    11.5907
Name: 12635, dtype: object
12636 217.05 14 MP Last Month    15.5036
Name: 12636, dtype: object
12637 254.49 14 MP Last Month    18.1779
Name: 12637, dtype: object
12638 400.3000000000001 14 MP Last Month    28.5929
Name: 12638, dtype: object
12639 25.72 8 MP Last Month    3.215
Name: 12639, dtype: object
12640 417.63000000000005 14 MP Last Month    29.8307
Name: 12640, dtype: object
12641 314.62 14 MP Last Month    22.4729
Name: 12641, dtype: object
12642 55.95 13 MP Last Month    4.30385
Name: 12642, dtype: object
12643 0 0 MP Last Month    0
Name: 12643, dtype: object
12644 574.1400000000001 15 MP Last Month    38.276
Name: 12644, dtype: object
12645 425.05000000000007 15 MP Last Month    28.3367
Name: 12645, dtype: object
12646 86.14 6 MP Last Month    14.3567
Name: 12646, dtype: object
12647 52.23 9 MP Last Month    5.80333
Name: 12647, dtype: object
12648 459.18000000000006 14 MP Last Month    32.7986
Name: 12648, dtype: object
12649 372.40000000000003 13 MP Last Month    28.6462
Name: 12649, dtype: object
12650 133.38000000000002 10 MP Last Month    13.338
Name: 12650, dtype: object
12651 306.42 15 MP Last Month    20.428
Name: 12651, dtype: object
12652 104.37 15 MP Last Month    6.958
Name: 12652, dtype: object
12653 268.57000000000005 9 MP Last Month    29.8411
Name: 12653, dtype: object
12654 285.07 9 MP Last Month    31.6744
Name: 12654, dtype: object
12655 386.89 14 MP Last Month    27.635
Name: 12655, dtype: object
12656 256.89 14 MP Last Month    18.3493
Name: 12656, dtype: object
12657 65.12 13 MP Last Month    5.00923
Name: 12657, dtype: object
12658 160.79999999999998 13 MP Last Month    12.3692
Name: 12658, dtype: object
12659 388.59999999999997 13 MP Last Month    29.8923
Name: 12659, dtype: object
12660 473.40999999999997 14 MP Last Month    33.815
Name: 12660, dtype: object
12661 191.10000000000002 13 MP Last Month    14.7
Name: 12661, dtype: object
12662 165.38 11 MP Last Month    15.0345
Name: 12662, dtype: object
12663 228.92 14 MP Last Month    16.3514
Name: 12663, dtype: object
12664 39.03 14 MP Last Month    2.78786
Name: 12664, dtype: object
12665 240.23 15 MP Last Month    16.0153
Name: 12665, dtype: object
12666 271.25 15 MP Last Month    18.0833
Name: 12666, dtype: object
12667 439.57000000000005 14 MP Last Month    31.3979
Name: 12667, dtype: object
12668 491.36999999999995 15 MP Last Month    32.758
Name: 12668, dtype: object
12669 344.18000000000006 15 MP Last Month    22.9453
Name: 12669, dtype: object
12670 36.66 13 MP Last Month    2.82
Name: 12670, dtype: object
12671 468.13000000000005 15 MP Last Month    31.2087
Name: 12671, dtype: object
12672 181.78999999999996 11 MP Last Month    16.5264
Name: 12672, dtype: object
12673 62.89 8 MP Last Month    7.86125
Name: 12673, dtype: object
12674 231.70000000000002 15 MP Last Month    15.4467
Name: 12674, dtype: object
12675 23.91 13 MP Last Month    1.83923
Name: 12675, dtype: object
12676 491.49 15 MP Last Month    32.766
Name: 12676, dtype: object
12677 173.14 14 MP Last Month    12.3671
Name: 12677, dtype: object
12678 238.18 13 MP Last Month    18.3215
Name: 12678, dtype: object
12679 492.56999999999994 14 MP Last Month    35.1836
Name: 12679, dtype: object
12680 416.46000000000004 15 MP Last Month    27.764
Name: 12680, dtype: object
12681 306.34000000000003 10 MP Last Month    30.634
Name: 12681, dtype: object
12682 301.55 15 MP Last Month    20.1033
Name: 12682, dtype: object
12683 368.74 15 MP Last Month    24.5827
Name: 12683, dtype: object
12684 246.57000000000002 15 MP Last Month    16.438
Name: 12684, dtype: object
12685 229.71999999999997 13 MP Last Month    17.6708
Name: 12685, dtype: object
12686 238.45999999999998 8 MP Last Month    29.8075
Name: 12686, dtype: object
12687 414.06 15 MP Last Month    27.604
Name: 12687, dtype: object
12688 497.21999999999997 15 MP Last Month    33.148
Name: 12688, dtype: object
12689 16.86 8 MP Last Month    2.1075
Name: 12689, dtype: object
12690 541.07 15 MP Last Month    36.0713
Name: 12690, dtype: object
12691 368.78000000000003 15 MP Last Month    24.5853
Name: 12691, dtype: object
12692 189.35000000000002 15 MP Last Month    12.6233
Name: 12692, dtype: object
12693 129.17000000000002 15 MP Last Month    8.61133
Name: 12693, dtype: object
12694 168.52999999999997 9 MP Last Month    18.7256
Name: 12694, dtype: object
12695 279.84999999999997 14 MP Last Month    19.9893
Name: 12695, dtype: object
12696 0.0 2 MP Last Month    0
Name: 12696, dtype: object
12697 52.19 15 MP Last Month    3.47933
Name: 12697, dtype: object
12698 162.63 15 MP Last Month    10.842
Name: 12698, dtype: object
12699 330.03 14 MP Last Month    23.5736
Name: 12699, dtype: object
12700 388.76 13 MP Last Month    29.9046
Name: 12700, dtype: object
12701 251.38 12 MP Last Month    20.9483
Name: 12701, dtype: object
12702 121.35000000000001 12 MP Last Month    10.1125
Name: 12702, dtype: object
12703 216.15000000000003 12 MP Last Month    18.0125
Name: 12703, dtype: object
12704 456.76000000000005 14 MP Last Month    32.6257
Name: 12704, dtype: object
12705 319.15000000000003 13 MP Last Month    24.55
Name: 12705, dtype: object
12706 8.25 13 MP Last Month    0.634615
Name: 12706, dtype: object
12707 346.71 14 MP Last Month    24.765
Name: 12707, dtype: object
12708 251.97 10 MP Last Month    25.197
Name: 12708, dtype: object
12709 343.34000000000003 14 MP Last Month    24.5243
Name: 12709, dtype: object
12710 248.26000000000002 13 MP Last Month    19.0969
Name: 12710, dtype: object
12711 30.35 5 MP Last Month    6.07
Name: 12711, dtype: object
12712 0.0 1 MP Last Month    0
Name: 12712, dtype: object
12713 406.73 12 MP Last Month    33.8942
Name: 12713, dtype: object
12714 449.85 13 MP Last Month    34.6038
Name: 12714, dtype: object
12715 324.08000000000004 13 MP Last Month    24.9292
Name: 12715, dtype: object
12716 173.29 13 MP Last Month    13.33
Name: 12716, dtype: object
12717 27.089999999999996 13 MP Last Month    2.08385
Name: 12717, dtype: object

12718 13.94 13 MP Last Month    1.07231
Name: 12718, dtype: object
12719 5.83 13 MP Last Month    0.448462
Name: 12719, dtype: object
12720 438.99000000000007 13 MP Last Month    33.7685
Name: 12720, dtype: object
12721 279.62999999999994 12 MP Last Month    23.3025
Name: 12721, dtype: object
12722 183.52999999999997 13 MP Last Month    14.1177
Name: 12722, dtype: object
12723 494.76 14 MP Last Month    35.34
Name: 12723, dtype: object
12724 379.78000000000003 13 MP Last Month    29.2138
Name: 12724, dtype: object
12725 18.78 13 MP Last Month    1.44462
Name: 12725, dtype: object
12726 462.53999999999996 14 MP Last Month    33.0386
Name: 12726, dtype: object
12727 443.84999999999997 14 MP Last Month    31.7036
Name: 12727, dtype: object
12728 123.0 14 MP Last Month    8.78571
Name: 12728, dtype: object
12729 65.00999999999999 14 MP Last Month    4.64357
Name: 12729, dtype: object
12730 254.92999999999998 13 MP Last Month    19.61
Name: 12730, dtype: object
12731 461.44 14 MP Last Month    32.96
Name: 12731, dtype: object
12732 182.61999999999998 14 MP Last Month    13.0443
Name: 12732, dtype: object
12733 204.23 14 MP Last Month    14.5879
Name: 12733, dtype: object
12734 355.04 11 MP Last Month    32.2764
Name: 12734, dtype: object
12735 347.84000000000003 12 MP Last Month    28.9867
Name: 12735, dtype: object
12736 417.18000000000006 12 MP Last Month    34.765
Name: 12736, dtype: object
12737 343.38 11 MP Last Month    31.2164
Name: 12737, dtype: object
12738 330.12000000000006 12 MP Last Month    27.51
Name: 12738, dtype: object
12739 174.77 12 MP Last Month    14.5642
Name: 12739, dtype: object
12740 314.3 12 MP Last Month    26.1917
Name: 12740, dtype: object
12741 229.14999999999998 11 MP Last Month    20.8318
Name: 12741, dtype: object
12742 435.34000000000003 13 MP Last Month    33.4877
Name: 12742, dtype: object
12743 328.21999999999997 13 MP Last Month    25.2477
Name: 12743, dtype: object
12744 9.98 6 MP Last Month    1.66333
Name: 12744, dtype: object
12745 242.14000000000001 13 MP Last Month    18.6262
Name: 12745, dtype: object
12746 236.81 13 MP Last Month    18.2162
Name: 12746, dtype: object
12747 52.239999999999995 8 MP Last Month    6.53
Name: 12747, dtype: object
12748 396.65999999999997 13 MP Last Month    30.5123
Name: 12748, dtype: object
12749 339.68 11 MP Last Month    30.88
Name: 12749, dtype: object
12750 317.5199999999999 11 MP Last Month    28.8655
Name: 12750, dtype: object
12751 280.51 12 MP Last Month    23.3758
Name: 12751, dtype: object
12752 73.44 13 MP Last Month    5.64923
Name: 12752, dtype: object
12753 545.38 15 MP Last Month    36.3587
Name: 12753, dtype: object
12754 213.56999999999996 15 MP Last Month    14.238
Name: 12754, dtype: object
12755 17.15 15 MP Last Month    1.14333
Name: 12755, dtype: object
12756 0.0 1 MP Last Month    0
Name: 12756, dtype: object
12757 466.43 15 MP Last Month    31.0953
Name: 12757, dtype: object
12758 323.43999999999994 14 MP Last Month    23.1029
Name: 12758, dtype: object
12759 219.56999999999996 15 MP Last Month    14.638
Name: 12759, dtype: object
12760 70.16 15 MP Last Month    4.67733
Name: 12760, dtype: object
12761 429.37000000000006 15 MP Last Month    28.6247
Name: 12761, dtype: object
12762 255.27 15 MP Last Month    17.018
Name: 12762, dtype: object
12763 229.38 15 MP Last Month    15.292
Name: 12763, dtype: object
12764 23.97 14 MP Last Month    1.71214
Name: 12764, dtype: object
12765 433.02000000000004 14 MP Last Month    30.93
Name: 12765, dtype: object
12766 139.08999999999997 14 MP Last Month    9.935
Name: 12766, dtype: object
12767 363.01 14 MP Last Month    25.9293
Name: 12767, dtype: object
12768 433.03000000000003 14 MP Last Month    30.9307
Name: 12768, dtype: object
12769 267.97 11 MP Last Month    24.3609
Name: 12769, dtype: object
12770 350.23999999999995 14 MP Last Month    25.0171
Name: 12770, dtype: object
12771 57.81999999999999 11 MP Last Month    5.25636
Name: 12771, dtype: object
12772 305.88 14 MP Last Month    21.8486
Name: 12772, dtype: object
12773 400.43 14 MP Last Month    28.6021
Name: 12773, dtype: object
12774 209.54000000000002 14 MP Last Month    14.9671
Name: 12774, dtype: object
12775 56.540000000000006 12 MP Last Month    4.71167
Name: 12775, dtype: object
12776 53.6 6 MP Last Month    8.93333
Name: 12776, dtype: object
12777 376.78999999999996 13 MP Last Month    28.9838
Name: 12777, dtype: object
12778 290.31 14 MP Last Month    20.7364
Name: 12778, dtype: object
12779 67.75 14 MP Last Month    4.83929
Name: 12779, dtype: object
12780 393.59000000000003 11 MP Last Month    35.7809
Name: 12780, dtype: object
12781 401.1600000000001 13 MP Last Month    30.8585
Name: 12781, dtype: object
12782 281.72999999999996 14 MP Last Month    20.1236
Name: 12782, dtype: object
12783 82.33999999999999 4 MP Last Month    20.585
Name: 12783, dtype: object
12784 26.87 13 MP Last Month    2.06692
Name: 12784, dtype: object
12785 217.24 14 MP Last Month    15.5171
Name: 12785, dtype: object
12786 414.07 13 MP Last Month    31.8515
Name: 12786, dtype: object
12787 323.22 11 MP Last Month    29.3836
Name: 12787, dtype: object
12788 124.20999999999998 14 MP Last Month    8.87214
Name: 12788, dtype: object
12789 28.310000000000002 6 MP Last Month    4.71833
Name: 12789, dtype: object
12790 354.92 12 MP Last Month    29.5767
Name: 12790, dtype: object
12791 178.48 10 MP Last Month    17.848
Name: 12791, dtype: object
12792 222.20000000000005 12 MP Last Month    18.5167
Name: 12792, dtype: object
12793 62.75 10 MP Last Month    6.275
Name: 12793, dtype: object
12794 376.32000000000005 12 MP Last Month    31.36
Name: 12794, dtype: object
12795 35.870000000000005 9 MP Last Month    3.98556
Name: 12795, dtype: object
12796 83.26 12 MP Last Month    6.93833
Name: 12796, dtype: object
12797 43.81 4 MP Last Month    10.9525
Name: 12797, dtype: object
12798 345.68 11 MP Last Month    31.4255
Name: 12798, dtype: object
12799 168.01 10 MP Last Month    16.801
Name: 12799, dtype: object
12800 15.91 3 MP Last Month    5.30333
Name: 12800, dtype: object
12801 398.05 12 MP Last Month    33.1708
Name: 12801, dtype: object
12802 305.98999999999995 13 MP Last Month    23.5377
Name: 12802, dtype: object
12803 377.01000000000005 13 MP Last Month    29.0008
Name: 12803, dtype: object
12804 55.44 13 MP Last Month    4.26462
Name: 12804, dtype: object
12805 256.20000000000005 11 MP Last Month    23.2909
Name: 12805, dtype: object
12806 401.5 13 MP Last Month    30.8846
Name: 12806, dtype: object
12807 325.68 11 MP Last Month    29.6073
Name: 12807, dtype: object
12808 294.95 11 MP Last Month    26.8136
Name: 12808, dtype: object
12809 125.74 13 MP Last Month    9.67231
Name: 12809, dtype: object
12810 157.28 6 MP Last Month    26.2133
Name: 12810, dtype: object
12811 242.79999999999998 13 MP Last Month    18.6769
Name: 12811, dtype: object
12812 49.959999999999994 8 MP Last Month    6.245
Name: 12812, dtype: object
12813 450.25999999999993 13 MP Last Month    34.6354
Name: 12813, dtype: object
12814 189.53000000000003 13 MP Last Month    14.5792
Name: 12814, dtype: object
12815 81.0 12 MP Last Month    6.75
Name: 12815, dtype: object
12816 228.11 12 MP Last Month    19.0092
Name: 12816, dtype: object
12817 368.11000000000007 12 MP Last Month    30.6758
Name: 12817, dtype: object
12818 395.22999999999996 13 MP Last Month    30.4023
Name: 12818, dtype: object
12819 428.13000000000005 13 MP Last Month    32.9331
Name: 12819, dtype: object
12820 227.09 13 MP Last Month    17.4685
Name: 12820, dtype: object
12821 224.15 13 MP Last Month    17.2423
Name: 12821, dtype: object
12822 315.84 12 MP Last Month    26.32
Name: 12822, dtype: object
12823 112.08 13 MP Last Month    8.62154
Name: 12823, dtype: object
12824 9.06 5 MP Last Month    1.812
Name: 12824, dtype: object
12825 233.51 15 MP Last Month    15.5673
Name: 12825, dtype: object
12826 268.65 15 MP Last Month    17.91
Name: 12826, dtype: object
12827 492.58 15 MP Last Month    32.8387
Name: 12827, dtype: object
12828 441.6700000000001 14 MP Last Month    31.5479
Name: 12828, dtype: object
12829 343.26 15 MP Last Month    22.884
Name: 12829, dtype: object
12830 33.239999999999995 13 MP Last Month    2.55692
Name: 12830, dtype: object

12831 471.33 15 MP Last Month    31.422
Name: 12831, dtype: object
12832 21.31 13 MP Last Month    1.63923
Name: 12832, dtype: object
12833 229.32000000000002 15 MP Last Month    15.288
Name: 12833, dtype: object
12834 210.20999999999998 12 MP Last Month    17.5175
Name: 12834, dtype: object
12835 501.05 14 MP Last Month    35.7893
Name: 12835, dtype: object
12836 486.34 14 MP Last Month    34.7386
Name: 12836, dtype: object
12837 209.52999999999997 13 MP Last Month    16.1177
Name: 12837, dtype: object
12838 87.93 14 MP Last Month    6.28071
Name: 12838, dtype: object
12839 506.2300000000001 14 MP Last Month    36.1593
Name: 12839, dtype: object
12840 240.72 12 MP Last Month    20.06
Name: 12840, dtype: object
12841 157.03 12 MP Last Month    13.0858
Name: 12841, dtype: object
12842 10.030000000000001 3 MP Last Month    3.34333
Name: 12842, dtype: object
12843 324.22999999999996 10 MP Last Month    32.423
Name: 12843, dtype: object
12844 140.5 14 MP Last Month    10.0357
Name: 12844, dtype: object
12845 333.90999999999997 14 MP Last Month    23.8507
Name: 12845, dtype: object
12846 313.13 14 MP Last Month    22.3664
Name: 12846, dtype: object
12847 512.96 14 MP Last Month    36.64
Name: 12847, dtype: object
12848 287.15 10 MP Last Month    28.715
Name: 12848, dtype: object
12849 51.2 8 MP Last Month    6.4
Name: 12849, dtype: object
12850 19.18 13 MP Last Month    1.47538
Name: 12850, dtype: object
12851 291.76 14 MP Last Month    20.84
Name: 12851, dtype: object
12852 304.65999999999997 14 MP Last Month    21.7614
Name: 12852, dtype: object
12853 480.37000000000006 14 MP Last Month    34.3121
Name: 12853, dtype: object
12854 31.540000000000003 13 MP Last Month    2.42615
Name: 12854, dtype: object
12855 459.72999999999996 14 MP Last Month    32.8379
Name: 12855, dtype: object
12856 188.25 14 MP Last Month    13.4464
Name: 12856, dtype: object
12857 7.18 11 MP Last Month    0.652727
Name: 12857, dtype: object
12858 297.98 9 MP Last Month    33.1089
Name: 12858, dtype: object
12859 402.06 14 MP Last Month    28.7186
Name: 12859, dtype: object
12860 349.50999999999993 14 MP Last Month    24.965
Name: 12860, dtype: object
12861 111.98 13 MP Last Month    8.61385
Name: 12861, dtype: object
12862 457.0400000000001 14 MP Last Month    32.6457
Name: 12862, dtype: object
12863 450.47 14 MP Last Month    32.1764
Name: 12863, dtype: object
12864 230.28999999999996 11 MP Last Month    20.9355
Name: 12864, dtype: object
12865 257.33 14 MP Last Month    18.3807
Name: 12865, dtype: object
12866 3.18 2 MP Last Month    1.59
Name: 12866, dtype: object
12867 415.21 14 MP Last Month    29.6579
Name: 12867, dtype: object
12868 318.58 13 MP Last Month    24.5062
Name: 12868, dtype: object
12869 36.470000000000006 13 MP Last Month    2.80538
Name: 12869, dtype: object
12870 374.76 13 MP Last Month    28.8277
Name: 12870, dtype: object
12871 444.18 13 MP Last Month    34.1677
Name: 12871, dtype: object
12872 308.35 14 MP Last Month    22.025
Name: 12872, dtype: object
12873 62.559999999999995 7 MP Last Month    8.93714
Name: 12873, dtype: object
12874 334.9100000000001 14 MP Last Month    23.9221
Name: 12874, dtype: object
12875 420.7900000000001 14 MP Last Month    30.0564
Name: 12875, dtype: object
12876 117.61999999999999 11 MP Last Month    10.6927
Name: 12876, dtype: object
12877 51.980000000000004 3 MP Last Month    17.3267
Name: 12877, dtype: object
12878 137.82000000000002 13 MP Last Month    10.6015
Name: 12878, dtype: object
12879 121.31 14 MP Last Month    8.665
Name: 12879, dtype: object
12880 462.2200000000001 14 MP Last Month    33.0157
Name: 12880, dtype: object
12881 346.28999999999996 14 MP Last Month    24.735
Name: 12881, dtype: object
12882 136.64 10 MP Last Month    13.664
Name: 12882, dtype: object
12883 284.71000000000004 14 MP Last Month    20.3364
Name: 12883, dtype: object
12884 42.5 6 MP Last Month    7.08333
Name: 12884, dtype: object
12885 0.0 2 MP Last Month    0
Name: 12885, dtype: object
12886 442.61 13 MP Last Month    34.0469
Name: 12886, dtype: object
12887 485.83000000000004 14 MP Last Month    34.7021
Name: 12887, dtype: object
12888 197.12 14 MP Last Month    14.08
Name: 12888, dtype: object
12889 342.66 14 MP Last Month    24.4757
Name: 12889, dtype: object
12890 27.089999999999996 14 MP Last Month    1.935
Name: 12890, dtype: object
12891 13.94 14 MP Last Month    0.995714
Name: 12891, dtype: object
12892 5.83 14 MP Last Month    0.416429
Name: 12892, dtype: object
12893 476.06000000000006 14 MP Last Month    34.0043
Name: 12893, dtype: object
12894 309.2799999999999 13 MP Last Month    23.7908
Name: 12894, dtype: object
12895 193.89999999999998 14 MP Last Month    13.85
Name: 12895, dtype: object
12896 525.01 14 MP Last Month    37.5007
Name: 12896, dtype: object
12897 0 0 MP Last Month    0
Name: 12897, dtype: object
12898 360.90999999999997 14 MP Last Month    25.7793
Name: 12898, dtype: object
12899 344.5 13 MP Last Month    26.5
Name: 12899, dtype: object
12900 297.76 12 MP Last Month    24.8133
Name: 12900, dtype: object
12901 348.02000000000004 14 MP Last Month    24.8586
Name: 12901, dtype: object
12902 433.6 13 MP Last Month    33.3538
Name: 12902, dtype: object
12903 86.27 13 MP Last Month    6.63615
Name: 12903, dtype: object
12904 89.5 13 MP Last Month    6.88462
Name: 12904, dtype: object
12905 501.60999999999996 14 MP Last Month    35.8293
Name: 12905, dtype: object
12906 384.42999999999995 13 MP Last Month    29.5715
Name: 12906, dtype: object
12907 30.15 13 MP Last Month    2.31923
Name: 12907, dtype: object
12908 470.53999999999996 14 MP Last Month    33.61
Name: 12908, dtype: object
12909 451.83000000000004 14 MP Last Month    32.2736
Name: 12909, dtype: object
12910 71.57 14 MP Last Month    5.11214
Name: 12910, dtype: object
12911 254.92999999999998 14 MP Last Month    18.2093
Name: 12911, dtype: object
12912 132.88 14 MP Last Month    9.49143
Name: 12912, dtype: object
12913 467.64 14 MP Last Month    33.4029
Name: 12913, dtype: object
12914 198.02999999999997 14 MP Last Month    14.145
Name: 12914, dtype: object
12915 174.64 14 MP Last Month    12.4743
Name: 12915, dtype: object
12916 190.81 11 MP Last Month    17.3464
Name: 12916, dtype: object
12917 0 0 MP Last Month    0
Name: 12917, dtype: object
12918 25.74 10 MP Last Month    2.574
Name: 12918, dtype: object
12919 417.61 12 MP Last Month    34.8008
Name: 12919, dtype: object
12920 326.75 12 MP Last Month    27.2292
Name: 12920, dtype: object
12921 340.78 11 MP Last Month    30.98
Name: 12921, dtype: object
12922 320.42 12 MP Last Month    26.7017
Name: 12922, dtype: object
12923 357.40999999999997 11 MP Last Month    32.4918
Name: 12923, dtype: object
12924 172.4 12 MP Last Month    14.3667
Name: 12924, dtype: object
12925 52.51 10 MP Last Month    5.251
Name: 12925, dtype: object
12926 31.39 11 MP Last Month    2.85364
Name: 12926, dtype: object
12927 0 0 MP Last Month    0
Name: 12927, dtype: object
12928 321.18 9 MP Last Month    35.6867
Name: 12928, dtype: object
12929 349.10999999999996 15 MP Last Month    23.274
Name: 12929, dtype: object
12930 247.18 13 MP Last Month    19.0138
Name: 12930, dtype: object
12931 162.70000000000002 10 MP Last Month    16.27
Name: 12931, dtype: object
12932 168.98 15 MP Last Month    11.2653
Name: 12932, dtype: object
12933 371.27 11 MP Last Month    33.7518
Name: 12933, dtype: object
12934 361.56 13 MP Last Month    27.8123
Name: 12934, dtype: object
12935 495.04999999999995 15 MP Last Month    33.0033
Name: 12935, dtype: object
12936 395.58000000000004 15 MP Last Month    26.372
Name: 12936, dtype: object
12937 449.9599999999999 15 MP Last Month    29.9973
Name: 12937, dtype: object
12938 61.96999999999999 15 MP Last Month    4.13133
Name: 12938, dtype: object
12939 0.0 9 MP Last Month    0
Name: 12939, dtype: object
12940 12.96 9 MP Last Month    1.44
Name: 12940, dtype: object
12941 369.72 15 MP Last Month    24.648
Name: 12941, dtype: object
12942 394.03999999999996 15 MP Last Month    26.2693
Name: 12942, dtype: object
12943 329.05 15 MP Last Month    21.9367
Name: 12943, dtype: object
12944 513.1700000000001 15 MP Last Month    34.2113
Name: 12944, dtype: object
12945 299.89 15 MP Last Month    19.9927
Name: 12945, dtype: object

12946 174.6 14 MP Last Month    12.4714
Name: 12946, dtype: object
12947 56.769999999999996 15 MP Last Month    3.78467
Name: 12947, dtype: object
12948 442.41999999999996 15 MP Last Month    29.4947
Name: 12948, dtype: object
12949 274.49 13 MP Last Month    21.1146
Name: 12949, dtype: object
12950 281.5300000000001 15 MP Last Month    18.7687
Name: 12950, dtype: object
12951 0.0 2 MP Last Month    0
Name: 12951, dtype: object
12952 22.34 8 MP Last Month    2.7925
Name: 12952, dtype: object
12953 299.11 12 MP Last Month    24.9258
Name: 12953, dtype: object
12954 431.5799999999999 12 MP Last Month    35.965
Name: 12954, dtype: object
12955 319.14000000000004 12 MP Last Month    26.595
Name: 12955, dtype: object
12956 8.97 1 MP Last Month    8.97
Name: 12956, dtype: object
12957 15.020000000000001 9 MP Last Month    1.66889
Name: 12957, dtype: object
12958 328.57 12 MP Last Month    27.3808
Name: 12958, dtype: object
12959 233.23000000000002 12 MP Last Month    19.4358
Name: 12959, dtype: object
12960 396.6799999999999 12 MP Last Month    33.0567
Name: 12960, dtype: object
12961 14.48 12 MP Last Month    1.20667
Name: 12961, dtype: object
12962 406.00000000000006 12 MP Last Month    33.8333
Name: 12962, dtype: object
12963 95.18 4 MP Last Month    23.795
Name: 12963, dtype: object
12964 306.03 12 MP Last Month    25.5025
Name: 12964, dtype: object
12965 391.18 14 MP Last Month    27.9414
Name: 12965, dtype: object
12966 18.08 11 MP Last Month    1.64364
Name: 12966, dtype: object
12967 293.4 14 MP Last Month    20.9571
Name: 12967, dtype: object
12968 334.16 14 MP Last Month    23.8686
Name: 12968, dtype: object
12969 265.62 14 MP Last Month    18.9729
Name: 12969, dtype: object
12970 270.56 9 MP Last Month    30.0622
Name: 12970, dtype: object
12971 261.0 14 MP Last Month    18.6429
Name: 12971, dtype: object
12972 205.1 12 MP Last Month    17.0917
Name: 12972, dtype: object
12973 461.13 13 MP Last Month    35.4715
Name: 12973, dtype: object
12974 453.06 14 MP Last Month    32.3614
Name: 12974, dtype: object
12975 135.35000000000002 13 MP Last Month    10.4115
Name: 12975, dtype: object
12976 166.07000000000002 13 MP Last Month    12.7746
Name: 12976, dtype: object
12977 382.2199999999999 15 MP Last Month    25.4813
Name: 12977, dtype: object
12978 359.49000000000007 15 MP Last Month    23.966
Name: 12978, dtype: object
12979 459.78999999999996 15 MP Last Month    30.6527
Name: 12979, dtype: object
12980 158.53 15 MP Last Month    10.5687
Name: 12980, dtype: object
12981 54.8 14 MP Last Month    3.91429
Name: 12981, dtype: object
12982 469.58 15 MP Last Month    31.3053
Name: 12982, dtype: object
12983 505.09000000000003 15 MP Last Month    33.6727
Name: 12983, dtype: object
12984 233.27999999999997 15 MP Last Month    15.552
Name: 12984, dtype: object
12985 59.05 15 MP Last Month    3.93667
Name: 12985, dtype: object
12986 368.0300000000001 15 MP Last Month    24.5353
Name: 12986, dtype: object
12987 183.64000000000004 15 MP Last Month    12.2427
Name: 12987, dtype: object
12988 130.42 15 MP Last Month    8.69467
Name: 12988, dtype: object
12989 386.38 13 MP Last Month    29.7215
Name: 12989, dtype: object
12990 276.78 10 MP Last Month    27.678
Name: 12990, dtype: object
12991 273.47 13 MP Last Month    21.0362
Name: 12991, dtype: object
12992 63.59 9 MP Last Month    7.06556
Name: 12992, dtype: object
12993 402.13 13 MP Last Month    30.9331
Name: 12993, dtype: object
12994 357.35 12 MP Last Month    29.7792
Name: 12994, dtype: object
12995 242.57 13 MP Last Month    18.6592
Name: 12995, dtype: object
12996 266.62999999999994 13 MP Last Month    20.51
Name: 12996, dtype: object
12997 90.94 11 MP Last Month    8.26727
Name: 12997, dtype: object
12998 366.06 13 MP Last Month    28.1585
Name: 12998, dtype: object
12999 163.44000000000003 13 MP Last Month    12.5723
Name: 12999, dtype: object
13000 164.26 10 MP Last Month    16.426
Name: 13000, dtype: object
13001 11.17 12 MP Last Month    0.930833
Name: 13001, dtype: object
13002 400.42 13 MP Last Month    30.8015
Name: 13002, dtype: object
13003 188.27999999999997 13 MP Last Month    14.4831
Name: 13003, dtype: object
13004 118.51 6 MP Last Month    19.7517
Name: 13004, dtype: object
13005 58.32 7 MP Last Month    8.33143
Name: 13005, dtype: object
13006 451.65000000000003 13 MP Last Month    34.7423
Name: 13006, dtype: object
13007 231.36 10 MP Last Month    23.136
Name: 13007, dtype: object
13008 74.92 7 MP Last Month    10.7029
Name: 13008, dtype: object
13009 148.85 12 MP Last Month    12.4042
Name: 13009, dtype: object
13010 131.82999999999998 13 MP Last Month    10.1408
Name: 13010, dtype: object
13011 324.0799999999999 13 MP Last Month    24.9292
Name: 13011, dtype: object
13012 155.17999999999998 13 MP Last Month    11.9369
Name: 13012, dtype: object
13013 395.07 13 MP Last Month    30.39
Name: 13013, dtype: object
13014 434.51 13 MP Last Month    33.4238
Name: 13014, dtype: object
13015 333.1599999999999 13 MP Last Month    25.6277
Name: 13015, dtype: object
13016 237.72 13 MP Last Month    18.2862
Name: 13016, dtype: object
13017 20.21 7 MP Last Month    2.88714
Name: 13017, dtype: object
13018 340.4 11 MP Last Month    30.9455
Name: 13018, dtype: object
13019 400.97999999999996 13 MP Last Month    30.8446
Name: 13019, dtype: object
13020 78.59 9 MP Last Month    8.73222
Name: 13020, dtype: object
13021 317.02000000000004 11 MP Last Month    28.82
Name: 13021, dtype: object
13022 238.67999999999998 13 MP Last Month    18.36
Name: 13022, dtype: object
13023 366.02000000000004 11 MP Last Month    33.2745
Name: 13023, dtype: object
13024 272.81 12 MP Last Month    22.7342
Name: 13024, dtype: object
13025 71.28999999999999 13 MP Last Month    5.48385
Name: 13025, dtype: object
13026 532.8299999999999 15 MP Last Month    35.522
Name: 13026, dtype: object
13027 216.51999999999998 15 MP Last Month    14.4347
Name: 13027, dtype: object
13028 27.38 15 MP Last Month    1.82533
Name: 13028, dtype: object
13029 459.78 15 MP Last Month    30.652
Name: 13029, dtype: object
13030 343.17999999999995 13 MP Last Month    26.3985
Name: 13030, dtype: object
13031 319.69 14 MP Last Month    22.835
Name: 13031, dtype: object
13032 223.88 15 MP Last Month    14.9253
Name: 13032, dtype: object
13033 82.22999999999999 15 MP Last Month    5.482
Name: 13033, dtype: object
13034 421.57 15 MP Last Month    28.1047
Name: 13034, dtype: object
13035 269.56 15 MP Last Month    17.9707
Name: 13035, dtype: object
13036 219.86999999999998 15 MP Last Month    14.658
Name: 13036, dtype: object
13037 430.78999999999996 14 MP Last Month    30.7707
Name: 13037, dtype: object
13038 147.43999999999997 14 MP Last Month    10.5314
Name: 13038, dtype: object
13039 435.74 14 MP Last Month    31.1243
Name: 13039, dtype: object
13040 351.98999999999995 14 MP Last Month    25.1421
Name: 13040, dtype: object
13041 364.37 14 MP Last Month    26.0264
Name: 13041, dtype: object
13042 268.03000000000003 11 MP Last Month    24.3664
Name: 13042, dtype: object
13043 304.85999999999996 14 MP Last Month    21.7757
Name: 13043, dtype: object
13044 74.07 11 MP Last Month    6.73364
Name: 13044, dtype: object
13045 399.85999999999996 14 MP Last Month    28.5614
Name: 13045, dtype: object
13046 56.540000000000006 12 MP Last Month    4.71167
Name: 13046, dtype: object
13047 198.89000000000001 14 MP Last Month    14.2064
Name: 13047, dtype: object
13048 53.6 7 MP Last Month    7.65714
Name: 13048, dtype: object
13049 376.99 13 MP Last Month    28.9992
Name: 13049, dtype: object
13050 285.54 14 MP Last Month    20.3957
Name: 13050, dtype: object
13051 71.03 14 MP Last Month    5.07357
Name: 13051, dtype: object
13052 391.14 11 MP Last Month    35.5582
Name: 13052, dtype: object
13053 105.28999999999999 5 MP Last Month    21.058
Name: 13053, dtype: object
13054 280.71 14 MP Last Month    20.0507
Name: 13054, dtype: object
13055 398.61 13 MP Last Month    30.6623
Name: 13055, dtype: object
13056 202.57 14 MP Last Month    14.4693
Name: 13056, dtype: object
13057 26.87 13 MP Last Month    2.06692
Name: 13057, dtype: object
13058 414.43 13 MP Last Month    31.8792
Name: 13058, dtype: object
13059 316.37 11 MP Last Month    28.7609
Name: 13059, dtype: object

13060 142.58999999999997 14 MP Last Month    10.185
Name: 13060, dtype: object
13061 33.71 7 MP Last Month    4.81571
Name: 13061, dtype: object
13062 396.84000000000003 13 MP Last Month    30.5262
Name: 13062, dtype: object
13063 442.99 14 MP Last Month    31.6421
Name: 13063, dtype: object
13064 217.53 14 MP Last Month    15.5379
Name: 13064, dtype: object
13065 81.32 12 MP Last Month    6.77667
Name: 13065, dtype: object
13066 319.7 13 MP Last Month    24.5923
Name: 13066, dtype: object
13067 396.9200000000001 14 MP Last Month    28.3514
Name: 13067, dtype: object
13068 179.59 14 MP Last Month    12.8279
Name: 13068, dtype: object
13069 254.5 14 MP Last Month    18.1786
Name: 13069, dtype: object
13070 210.5 14 MP Last Month    15.0357
Name: 13070, dtype: object
13071 35.39 9 MP Last Month    3.93222
Name: 13071, dtype: object
13072 320.1 14 MP Last Month    22.8643
Name: 13072, dtype: object
13073 404.33000000000004 14 MP Last Month    28.8807
Name: 13073, dtype: object
13074 64.97 13 MP Last Month    4.99769
Name: 13074, dtype: object
13075 198.54999999999998 11 MP Last Month    18.05
Name: 13075, dtype: object
13076 384.85 13 MP Last Month    29.6038
Name: 13076, dtype: object
13077 67.08 11 MP Last Month    6.09818
Name: 13077, dtype: object
13078 416.1 13 MP Last Month    32.0077
Name: 13078, dtype: object
13079 51.400000000000006 10 MP Last Month    5.14
Name: 13079, dtype: object
13080 239.47000000000006 13 MP Last Month    18.4208
Name: 13080, dtype: object
13081 89.98 13 MP Last Month    6.92154
Name: 13081, dtype: object
13082 192.93 11 MP Last Month    17.5391
Name: 13082, dtype: object
13083 382.83 12 MP Last Month    31.9025
Name: 13083, dtype: object
13084 316.21 11 MP Last Month    28.7464
Name: 13084, dtype: object
13085 28.09 4 MP Last Month    7.0225
Name: 13085, dtype: object
13086 305.49999999999994 13 MP Last Month    23.5
Name: 13086, dtype: object
13087 376.46000000000004 13 MP Last Month    28.9585
Name: 13087, dtype: object
13088 55.44 13 MP Last Month    4.26462
Name: 13088, dtype: object
13089 1.73 2 MP Last Month    0.865
Name: 13089, dtype: object
13090 287.16 11 MP Last Month    26.1055
Name: 13090, dtype: object
13091 326.76 11 MP Last Month    29.7055
Name: 13091, dtype: object
13092 287.18000000000006 12 MP Last Month    23.9317
Name: 13092, dtype: object
13093 401.28000000000003 13 MP Last Month    30.8677
Name: 13093, dtype: object
13094 117.96 13 MP Last Month    9.07385
Name: 13094, dtype: object
13095 150.19 6 MP Last Month    25.0317
Name: 13095, dtype: object
13096 253.3 13 MP Last Month    19.4846
Name: 13096, dtype: object
13097 53.809999999999995 8 MP Last Month    6.72625
Name: 13097, dtype: object
13098 387.33000000000004 13 MP Last Month    29.7946
Name: 13098, dtype: object
13099 422.15 14 MP Last Month    30.1536
Name: 13099, dtype: object
13100 80.26 14 MP Last Month    5.73286
Name: 13100, dtype: object
13101 355.93999999999994 14 MP Last Month    25.4243
Name: 13101, dtype: object
13102 402.61 14 MP Last Month    28.7579
Name: 13102, dtype: object
13103 306.28 14 MP Last Month    21.8771
Name: 13103, dtype: object
13104 303.27 14 MP Last Month    21.6621
Name: 13104, dtype: object
13105 28.619999999999997 5 MP Last Month    5.724
Name: 13105, dtype: object
13106 344.0899999999999 14 MP Last Month    24.5779
Name: 13106, dtype: object
13107 260.21999999999997 13 MP Last Month    20.0169
Name: 13107, dtype: object
13108 32.25 14 MP Last Month    2.30357
Name: 13108, dtype: object
13109 299.87000000000006 10 MP Last Month    29.987
Name: 13109, dtype: object
13110 250.44 8 MP Last Month    31.305
Name: 13110, dtype: object
13111 240.26999999999998 13 MP Last Month    18.4823
Name: 13111, dtype: object
13112 57.769999999999996 12 MP Last Month    4.81417
Name: 13112, dtype: object
13113 355.39 13 MP Last Month    27.3377
Name: 13113, dtype: object
13114 117.75 12 MP Last Month    9.8125
Name: 13114, dtype: object
13115 402.09999999999997 13 MP Last Month    30.9308
Name: 13115, dtype: object
13116 170.52000000000004 12 MP Last Month    14.21
Name: 13116, dtype: object
13117 453.46999999999997 13 MP Last Month    34.8823
Name: 13117, dtype: object
13118 102.10000000000001 10 MP Last Month    10.21
Name: 13118, dtype: object
13119 31.679999999999996 13 MP Last Month    2.43692
Name: 13119, dtype: object
13120 217.35 13 MP Last Month    16.7192
Name: 13120, dtype: object
13121 444.78 13 MP Last Month    34.2138
Name: 13121, dtype: object
13122 87.47 12 MP Last Month    7.28917
Name: 13122, dtype: object
13123 0 0 MP Last Month    0
Name: 13123, dtype: object
13124 216.32999999999998 12 MP Last Month    18.0275
Name: 13124, dtype: object
13125 204.40000000000003 13 MP Last Month    15.7231
Name: 13125, dtype: object
13126 407.91 13 MP Last Month    31.3777
Name: 13126, dtype: object
13127 381.2900000000001 12 MP Last Month    31.7742
Name: 13127, dtype: object
13128 218.52 13 MP Last Month    16.8092
Name: 13128, dtype: object
13129 224.35000000000002 13 MP Last Month    17.2577
Name: 13129, dtype: object
13130 23.96 11 MP Last Month    2.17818
Name: 13130, dtype: object
13131 10.48 5 MP Last Month    2.096
Name: 13131, dtype: object
13132 94.41999999999999 13 MP Last Month    7.26308
Name: 13132, dtype: object
13133 464.8200000000001 15 MP Last Month    30.988
Name: 13133, dtype: object
13134 415.06 14 MP Last Month    29.6471
Name: 13134, dtype: object
13135 439.04999999999995 15 MP Last Month    29.27
Name: 13135, dtype: object
13136 215.43 12 MP Last Month    17.9525
Name: 13136, dtype: object
13137 266.46999999999997 12 MP Last Month    22.2058
Name: 13137, dtype: object
13138 479.3499999999999 15 MP Last Month    31.9567
Name: 13138, dtype: object
13139 100.57000000000001 11 MP Last Month    9.14273
Name: 13139, dtype: object
13140 269.16999999999996 14 MP Last Month    19.2264
Name: 13140, dtype: object
13141 445.79 15 MP Last Month    29.7193
Name: 13141, dtype: object
13142 153.18 5 MP Last Month    30.636
Name: 13142, dtype: object
13143 101.36999999999999 15 MP Last Month    6.758
Name: 13143, dtype: object
13144 0 0 MP Last Month    0
Name: 13144, dtype: object
13145 272.95 15 MP Last Month    18.1967
Name: 13145, dtype: object
13146 231.93999999999997 15 MP Last Month    15.4627
Name: 13146, dtype: object
13147 464.20000000000005 15 MP Last Month    30.9467
Name: 13147, dtype: object
13148 483.68999999999994 15 MP Last Month    32.246
Name: 13148, dtype: object
13149 333.21000000000004 15 MP Last Month    22.214
Name: 13149, dtype: object
13150 228.37000000000003 15 MP Last Month    15.2247
Name: 13150, dtype: object
13151 461.31 15 MP Last Month    30.754
Name: 13151, dtype: object
13152 228.88 13 MP Last Month    17.6062
Name: 13152, dtype: object
13153 73.21000000000001 9 MP Last Month    8.13444
Name: 13153, dtype: object
13154 24.64 13 MP Last Month    1.89538
Name: 13154, dtype: object
13155 413.55 15 MP Last Month    27.57
Name: 13155, dtype: object
13156 344.49 15 MP Last Month    22.966
Name: 13156, dtype: object
13157 322.25 15 MP Last Month    21.4833
Name: 13157, dtype: object
13158 281.79 15 MP Last Month    18.786
Name: 13158, dtype: object
13159 37.61 12 MP Last Month    3.13417
Name: 13159, dtype: object
13160 281.07 15 MP Last Month    18.738
Name: 13160, dtype: object
13161 297.24 10 MP Last Month    29.724
Name: 13161, dtype: object
13162 205.1 13 MP Last Month    15.7769
Name: 13162, dtype: object
13163 494.25 14 MP Last Month    35.3036
Name: 13163, dtype: object
13164 483.33 15 MP Last Month    32.222
Name: 13164, dtype: object
13165 160.55 14 MP Last Month    11.4679
Name: 13165, dtype: object
13166 166.07000000000002 14 MP Last Month    11.8621
Name: 13166, dtype: object
13167 412.63 14 MP Last Month    29.4736
Name: 13167, dtype: object
13168 209.42000000000002 7 MP Last Month    29.9171
Name: 13168, dtype: object
13169 469.7 14 MP Last Month    33.55
Name: 13169, dtype: object
13170 351.15 14 MP Last Month    25.0821
Name: 13170, dtype: object
13171 181.77 14 MP Last Month    12.9836
Name: 13171, dtype: object
13172 515.4200000000001 14 MP Last Month    36.8157
Name: 13172, dtype: object
13173 129.37 14 MP Last Month    9.24071
Name: 13173, dtype: object

13174 151.10999999999999 8 MP Last Month    18.8887
Name: 13174, dtype: object
13175 159.01 14 MP Last Month    11.3579
Name: 13175, dtype: object
13176 256.68 13 MP Last Month    19.7446
Name: 13176, dtype: object
13177 41.24 14 MP Last Month    2.94571
Name: 13177, dtype: object
13178 385.83000000000004 13 MP Last Month    29.6792
Name: 13178, dtype: object
13179 300.84000000000003 14 MP Last Month    21.4886
Name: 13179, dtype: object
13180 447.43 13 MP Last Month    34.4177
Name: 13180, dtype: object
13181 329.51000000000005 14 MP Last Month    23.5364
Name: 13181, dtype: object
13182 70.88 4 MP Last Month    17.72
Name: 13182, dtype: object
13183 415.36 14 MP Last Month    29.6686
Name: 13183, dtype: object
13184 125.73 14 MP Last Month    8.98071
Name: 13184, dtype: object
13185 118.82000000000002 11 MP Last Month    10.8018
Name: 13185, dtype: object
13186 119.91 13 MP Last Month    9.22385
Name: 13186, dtype: object
13187 336.2999999999999 14 MP Last Month    24.0214
Name: 13187, dtype: object
13188 460.03000000000003 14 MP Last Month    32.8593
Name: 13188, dtype: object
13189 145.54 11 MP Last Month    13.2309
Name: 13189, dtype: object
13190 25.52 9 MP Last Month    2.83556
Name: 13190, dtype: object
13191 278.05 13 MP Last Month    21.3885
Name: 13191, dtype: object
13192 362.61 12 MP Last Month    30.2175
Name: 13192, dtype: object
13193 50.169999999999995 11 MP Last Month    4.56091
Name: 13193, dtype: object
13194 417.96000000000004 13 MP Last Month    32.1508
Name: 13194, dtype: object
13195 241.02000000000004 13 MP Last Month    18.54
Name: 13195, dtype: object
13196 249.17999999999995 12 MP Last Month    20.765
Name: 13196, dtype: object
13197 310.46 12 MP Last Month    25.8717
Name: 13197, dtype: object
13198 0 0 MP Last Month    0
Name: 13198, dtype: object
13199 8.25 12 MP Last Month    0.6875
Name: 13199, dtype: object
13200 225.4 9 MP Last Month    25.0444
Name: 13200, dtype: object
13201 319.39 13 MP Last Month    24.5685
Name: 13201, dtype: object
13202 318.03999999999996 13 MP Last Month    24.4646
Name: 13202, dtype: object
13203 307.91 14 MP Last Month    21.9936
Name: 13203, dtype: object
13204 52.2 7 MP Last Month    7.45714
Name: 13204, dtype: object
13205 0.0 3 MP Last Month    0
Name: 13205, dtype: object
13206 491.43 14 MP Last Month    35.1021
Name: 13206, dtype: object
13207 27.089999999999996 14 MP Last Month    1.935
Name: 13207, dtype: object
13208 338.63 14 MP Last Month    24.1879
Name: 13208, dtype: object
13209 216.52 14 MP Last Month    15.4657
Name: 13209, dtype: object
13210 13.94 14 MP Last Month    0.995714
Name: 13210, dtype: object
13211 0 0 MP Last Month    0
Name: 13211, dtype: object
13212 5.83 14 MP Last Month    0.416429
Name: 13212, dtype: object
13213 475.01000000000005 14 MP Last Month    33.9293
Name: 13213, dtype: object
13214 317.75999999999993 13 MP Last Month    24.4431
Name: 13214, dtype: object
13215 194.93 14 MP Last Month    13.9236
Name: 13215, dtype: object
13216 24.22 1 MP Last Month    24.22
Name: 13216, dtype: object
13217 531.76 14 MP Last Month    37.9829
Name: 13217, dtype: object
13218 50.970000000000006 10 MP Last Month    5.097
Name: 13218, dtype: object
13219 343.87 14 MP Last Month    24.5621
Name: 13219, dtype: object
13220 97.58999999999999 9 MP Last Month    10.8433
Name: 13220, dtype: object
13221 330.84 12 MP Last Month    27.57
Name: 13221, dtype: object
13222 348.25 13 MP Last Month    26.7885
Name: 13222, dtype: object
13223 348.82 14 MP Last Month    24.9157
Name: 13223, dtype: object
13224 41.73 12 MP Last Month    3.4775
Name: 13224, dtype: object
13225 475.23999999999995 13 MP Last Month    36.5569
Name: 13225, dtype: object
13226 450.8 13 MP Last Month    34.6769
Name: 13226, dtype: object
13227 96.30999999999999 13 MP Last Month    7.40846
Name: 13227, dtype: object
13228 102.45 13 MP Last Month    7.88077
Name: 13228, dtype: object
13229 536.13 15 MP Last Month    35.742
Name: 13229, dtype: object
13230 411.67999999999995 14 MP Last Month    29.4057
Name: 13230, dtype: object
13231 30.15 14 MP Last Month    2.15357
Name: 13231, dtype: object
13232 503.28999999999996 15 MP Last Month    33.5527
Name: 13232, dtype: object
13233 479.66 15 MP Last Month    31.9773
Name: 13233, dtype: object
13234 84.19999999999999 15 MP Last Month    5.61333
Name: 13234, dtype: object
13235 279.85999999999996 15 MP Last Month    18.6573
Name: 13235, dtype: object
13236 146.79999999999998 15 MP Last Month    9.78667
Name: 13236, dtype: object
13237 0 0 MP Last Month    0
Name: 13237, dtype: object
13238 500.71 15 MP Last Month    33.3807
Name: 13238, dtype: object
13239 212.95999999999998 15 MP Last Month    14.1973
Name: 13239, dtype: object
13240 192.81 15 MP Last Month    12.854
Name: 13240, dtype: object
13241 356.69 12 MP Last Month    29.7242
Name: 13241, dtype: object
13242 216.56 12 MP Last Month    18.0467
Name: 13242, dtype: object
13243 5.48 1 MP Last Month    5.48
Name: 13243, dtype: object
13244 52.91 11 MP Last Month    4.81
Name: 13244, dtype: object
13245 450.73 13 MP Last Month    34.6715
Name: 13245, dtype: object
13246 345.42 13 MP Last Month    26.5708
Name: 13246, dtype: object
13247 365.95 12 MP Last Month    30.4958
Name: 13247, dtype: object
13248 342.72 13 MP Last Month    26.3631
Name: 13248, dtype: object
13249 380.48999999999995 12 MP Last Month    31.7075
Name: 13249, dtype: object
13250 190.67000000000002 13 MP Last Month    14.6669
Name: 13250, dtype: object
13251 39.21 12 MP Last Month    3.2675
Name: 13251, dtype: object
13252 59.16 11 MP Last Month    5.37818
Name: 13252, dtype: object
13253 430.26000000000005 13 MP Last Month    33.0969
Name: 13253, dtype: object
13254 330.26 13 MP Last Month    25.4046
Name: 13254, dtype: object
13255 233.44 13 MP Last Month    17.9569
Name: 13255, dtype: object
13256 20.21 7 MP Last Month    2.88714
Name: 13256, dtype: object
13257 405.26 13 MP Last Month    31.1738
Name: 13257, dtype: object
13258 235.21999999999997 13 MP Last Month    18.0938
Name: 13258, dtype: object
13259 93.76 10 MP Last Month    9.376
Name: 13259, dtype: object
13260 363.53 11 MP Last Month    33.0482
Name: 13260, dtype: object
13261 257.86 12 MP Last Month    21.4883
Name: 13261, dtype: object
13262 61.06 13 MP Last Month    4.69692
Name: 13262, dtype: object
13263 336.87 9 MP Last Month    37.43
Name: 13263, dtype: object
13264 367.6099999999999 15 MP Last Month    24.5073
Name: 13264, dtype: object
13265 136.82000000000002 10 MP Last Month    13.682
Name: 13265, dtype: object
13266 158.70999999999998 15 MP Last Month    10.5807
Name: 13266, dtype: object
13267 247.55 13 MP Last Month    19.0423
Name: 13267, dtype: object
13268 379.5300000000001 15 MP Last Month    25.302
Name: 13268, dtype: object
13269 496.9199999999999 15 MP Last Month    33.128
Name: 13269, dtype: object
13270 405.74 12 MP Last Month    33.8117
Name: 13270, dtype: object
13271 361.96000000000004 13 MP Last Month    27.8431
Name: 13271, dtype: object
13272 459.97999999999996 15 MP Last Month    30.6653
Name: 13272, dtype: object
13273 266.49999999999994 14 MP Last Month    19.0357
Name: 13273, dtype: object
13274 68.89 15 MP Last Month    4.59267
Name: 13274, dtype: object
13275 4.95 10 MP Last Month    0.495
Name: 13275, dtype: object
13276 408.63 14 MP Last Month    29.1879
Name: 13276, dtype: object
13277 550.1599999999999 14 MP Last Month    39.2971
Name: 13277, dtype: object
13278 101.79 7 MP Last Month    14.5414
Name: 13278, dtype: object
13279 52.23 10 MP Last Month    5.223
Name: 13279, dtype: object
13280 388.62000000000006 13 MP Last Month    29.8938
Name: 13280, dtype: object
13281 435.12 13 MP Last Month    33.4708
Name: 13281, dtype: object
13282 111.15 4 MP Last Month    27.7875
Name: 13282, dtype: object
13283 155.41000000000003 11 MP Last Month    14.1282
Name: 13283, dtype: object
13284 303.96000000000004 14 MP Last Month    21.7114
Name: 13284, dtype: object
13285 94.78999999999999 14 MP Last Month    6.77071
Name: 13285, dtype: object
13286 423.35999999999996 12 MP Last Month    35.28
Name: 13286, dtype: object
13287 19.87 1 MP Last Month    19.87
Name: 13287, dtype: object
13288 302.46000000000004 12 MP Last Month    25.205
Name: 13288, dtype: object

13289 319.80999999999995 12 MP Last Month    26.6508
Name: 13289, dtype: object
13290 15.020000000000001 9 MP Last Month    1.66889
Name: 13290, dtype: object
13291 387.74 12 MP Last Month    32.3117
Name: 13291, dtype: object
13292 336.17 12 MP Last Month    28.0142
Name: 13292, dtype: object
13293 230.74 12 MP Last Month    19.2283
Name: 13293, dtype: object
13294 14.48 12 MP Last Month    1.20667
Name: 13294, dtype: object
13295 404.9800000000001 12 MP Last Month    33.7483
Name: 13295, dtype: object
13296 311.26 12 MP Last Month    25.9383
Name: 13296, dtype: object
13297 88.08000000000001 4 MP Last Month    22.02
Name: 13297, dtype: object
13298 443.16999999999985 13 MP Last Month    34.09
Name: 13298, dtype: object
13299 467.33 13 MP Last Month    35.9485
Name: 13299, dtype: object
13300 193.50999999999996 12 MP Last Month    16.1258
Name: 13300, dtype: object
13301 84.67 13 MP Last Month    6.51308
Name: 13301, dtype: object
13302 462.40999999999997 13 MP Last Month    35.57
Name: 13302, dtype: object
13303 220.08 11 MP Last Month    20.0073
Name: 13303, dtype: object
13304 170.71 13 MP Last Month    13.1315
Name: 13304, dtype: object
13305 357.19999999999993 11 MP Last Month    32.4727
Name: 13305, dtype: object
13306 297.0199999999999 13 MP Last Month    22.8477
Name: 13306, dtype: object
13307 122.61000000000001 13 MP Last Month    9.43154
Name: 13307, dtype: object
13308 286.00000000000006 13 MP Last Month    22
Name: 13308, dtype: object
13309 486.62 13 MP Last Month    37.4323
Name: 13309, dtype: object
13310 288.92 9 MP Last Month    32.1022
Name: 13310, dtype: object
13311 61.75 9 MP Last Month    6.86111
Name: 13311, dtype: object
13312 16.25 12 MP Last Month    1.35417
Name: 13312, dtype: object
13313 288.91999999999996 13 MP Last Month    22.2246
Name: 13313, dtype: object
13314 302.49999999999994 13 MP Last Month    23.2692
Name: 13314, dtype: object
13315 450.25 13 MP Last Month    34.6346
Name: 13315, dtype: object
13316 69.64999999999999 3 MP Last Month    23.2167
Name: 13316, dtype: object
13317 38.56 12 MP Last Month    3.21333
Name: 13317, dtype: object
13318 427.19 13 MP Last Month    32.8608
Name: 13318, dtype: object
13319 175.72000000000003 13 MP Last Month    13.5169
Name: 13319, dtype: object
13320 4.25 10 MP Last Month    0.425
Name: 13320, dtype: object
13321 468.60999999999996 15 MP Last Month    31.2407
Name: 13321, dtype: object
13322 161.98999999999998 15 MP Last Month    10.7993
Name: 13322, dtype: object
13323 474.77 15 MP Last Month    31.6513
Name: 13323, dtype: object
13324 387.93999999999994 15 MP Last Month    25.8627
Name: 13324, dtype: object
13325 399.92 15 MP Last Month    26.6613
Name: 13325, dtype: object
13326 328.8299999999999 15 MP Last Month    21.922
Name: 13326, dtype: object
13327 292.63000000000005 12 MP Last Month    24.3858
Name: 13327, dtype: object
13328 74.07 12 MP Last Month    6.1725
Name: 13328, dtype: object
13329 432.42999999999995 15 MP Last Month    28.8287
Name: 13329, dtype: object
13330 69.81 13 MP Last Month    5.37
Name: 13330, dtype: object
13331 206.59 15 MP Last Month    13.7727
Name: 13331, dtype: object
13332 53.6 8 MP Last Month    6.7
Name: 13332, dtype: object
13333 409.26 15 MP Last Month    27.284
Name: 13333, dtype: object
13334 365.59999999999997 15 MP Last Month    24.3733
Name: 13334, dtype: object
13335 323.53000000000003 15 MP Last Month    21.5687
Name: 13335, dtype: object
13336 0.0 1 MP Last Month    0
Name: 13336, dtype: object
13337 510.10999999999996 15 MP Last Month    34.0073
Name: 13337, dtype: object
13338 373.81999999999994 14 MP Last Month    26.7014
Name: 13338, dtype: object
13339 278.62 13 MP Last Month    21.4323
Name: 13339, dtype: object
13340 323.15999999999997 15 MP Last Month    21.544
Name: 13340, dtype: object
13341 166.64999999999995 14 MP Last Month    11.9036
Name: 13341, dtype: object
13342 56.489999999999995 15 MP Last Month    3.766
Name: 13342, dtype: object
13343 443.84999999999997 15 MP Last Month    29.59
Name: 13343, dtype: object
13344 288.33000000000004 15 MP Last Month    19.222
Name: 13344, dtype: object
13345 5.2 3 MP Last Month    1.73333
Name: 13345, dtype: object
13346 288.76 14 MP Last Month    20.6257
Name: 13346, dtype: object
13347 391.09 13 MP Last Month    30.0838
Name: 13347, dtype: object
13348 71.03 14 MP Last Month    5.07357
Name: 13348, dtype: object
13349 203.42 7 MP Last Month    29.06
Name: 13349, dtype: object
13350 392.02000000000004 11 MP Last Month    35.6382
Name: 13350, dtype: object
13351 127.44 6 MP Last Month    21.24
Name: 13351, dtype: object
13352 398.09000000000003 13 MP Last Month    30.6223
Name: 13352, dtype: object
13353 287.1 14 MP Last Month    20.5071
Name: 13353, dtype: object
13354 189.07000000000002 14 MP Last Month    13.505
Name: 13354, dtype: object
13355 417.20000000000005 13 MP Last Month    32.0923
Name: 13355, dtype: object
13356 314.95 11 MP Last Month    28.6318
Name: 13356, dtype: object
13357 160.65999999999997 14 MP Last Month    11.4757
Name: 13357, dtype: object
13358 33.71 8 MP Last Month    4.21375
Name: 13358, dtype: object
13359 387.11 13 MP Last Month    29.7777
Name: 13359, dtype: object
13360 194.29999999999998 11 MP Last Month    17.6636
Name: 13360, dtype: object
13361 67.88 12 MP Last Month    5.65667
Name: 13361, dtype: object
13362 433.08 13 MP Last Month    33.3138
Name: 13362, dtype: object
13363 235.97 13 MP Last Month    18.1515
Name: 13363, dtype: object
13364 72.25 11 MP Last Month    6.56818
Name: 13364, dtype: object
13365 91.46000000000001 13 MP Last Month    7.03538
Name: 13365, dtype: object
13366 216.70999999999998 11 MP Last Month    19.7009
Name: 13366, dtype: object
13367 379.97999999999996 12 MP Last Month    31.665
Name: 13367, dtype: object
13368 312.14 11 MP Last Month    28.3764
Name: 13368, dtype: object
13369 398.71000000000004 14 MP Last Month    28.4793
Name: 13369, dtype: object
13370 337.9699999999999 14 MP Last Month    24.1407
Name: 13370, dtype: object
13371 58.22 14 MP Last Month    4.15857
Name: 13371, dtype: object
13372 1.95 3 MP Last Month    0.65
Name: 13372, dtype: object
13373 318.76000000000005 12 MP Last Month    26.5633
Name: 13373, dtype: object
13374 316.26000000000005 13 MP Last Month    24.3277
Name: 13374, dtype: object
13375 432.76000000000005 14 MP Last Month    30.9114
Name: 13375, dtype: object
13376 136.34 14 MP Last Month    9.73857
Name: 13376, dtype: object
13377 173.67 7 MP Last Month    24.81
Name: 13377, dtype: object
13378 266.93 14 MP Last Month    19.0664
Name: 13378, dtype: object
13379 64.91 9 MP Last Month    7.21222
Name: 13379, dtype: object
13380 389.42 13 MP Last Month    29.9554
Name: 13380, dtype: object
13381 414.58 14 MP Last Month    29.6129
Name: 13381, dtype: object
13382 86.50999999999999 14 MP Last Month    6.17929
Name: 13382, dtype: object
13383 432.09000000000003 14 MP Last Month    30.8636
Name: 13383, dtype: object
13384 362.1099999999999 14 MP Last Month    25.865
Name: 13384, dtype: object
13385 318.42999999999995 14 MP Last Month    22.745
Name: 13385, dtype: object
13386 0 0 MP Last Month    0
Name: 13386, dtype: object
13387 309.22 14 MP Last Month    22.0871
Name: 13387, dtype: object
13388 343.12 14 MP Last Month    24.5086
Name: 13388, dtype: object
13389 261.16999999999996 13 MP Last Month    20.09
Name: 13389, dtype: object
13390 32.25 14 MP Last Month    2.30357
Name: 13390, dtype: object
13391 327.6000000000001 11 MP Last Month    29.7818
Name: 13391, dtype: object
13392 244.34 8 MP Last Month    30.5425
Name: 13392, dtype: object
13393 82.19999999999999 12 MP Last Month    6.85
Name: 13393, dtype: object
13394 252.78 13 MP Last Month    19.4446
Name: 13394, dtype: object
13395 341.51000000000005 13 MP Last Month    26.27
Name: 13395, dtype: object
13396 4.46 4 MP Last Month    1.115
Name: 13396, dtype: object
13397 398.05 13 MP Last Month    30.6192
Name: 13397, dtype: object
13398 72.85000000000001 10 MP Last Month    7.285
Name: 13398, dtype: object
13399 183.77000000000004 12 MP Last Month    15.3142
Name: 13399, dtype: object
13400 233.01999999999998 13 MP Last Month    17.9246
Name: 13400, dtype: object
13401 39.11 13 MP Last Month    3.00846
Name: 13401, dtype: object

13402 437.49999999999994 15 MP Last Month    29.1667
Name: 13402, dtype: object
13403 462.86 15 MP Last Month    30.8573
Name: 13403, dtype: object
13404 411.69000000000005 14 MP Last Month    29.4064
Name: 13404, dtype: object
13405 259.09 12 MP Last Month    21.5908
Name: 13405, dtype: object
13406 480.35 15 MP Last Month    32.0233
Name: 13406, dtype: object
13407 18.02 1 MP Last Month    18.02
Name: 13407, dtype: object
13408 115.45 12 MP Last Month    9.62083
Name: 13408, dtype: object
13409 452.16 15 MP Last Month    30.144
Name: 13409, dtype: object
13410 142.39000000000001 5 MP Last Month    28.478
Name: 13410, dtype: object
13411 104.02 15 MP Last Month    6.93467
Name: 13411, dtype: object
13412 228.08999999999997 15 MP Last Month    15.206
Name: 13412, dtype: object
13413 284.95 15 MP Last Month    18.9967
Name: 13413, dtype: object
13414 458.78000000000003 15 MP Last Month    30.5853
Name: 13414, dtype: object
13415 480.84 15 MP Last Month    32.056
Name: 13415, dtype: object
13416 337.66 15 MP Last Month    22.5107
Name: 13416, dtype: object
13417 454.49 15 MP Last Month    30.2993
Name: 13417, dtype: object
13418 236.15 15 MP Last Month    15.7433
Name: 13418, dtype: object
13419 79.88000000000001 10 MP Last Month    7.988
Name: 13419, dtype: object
13420 34.29 13 MP Last Month    2.63769
Name: 13420, dtype: object
13421 225.06 13 MP Last Month    17.3123
Name: 13421, dtype: object
13422 331.76 10 MP Last Month    33.176
Name: 13422, dtype: object
13423 317.91999999999996 13 MP Last Month    24.4554
Name: 13423, dtype: object
13424 361.68 13 MP Last Month    27.8215
Name: 13424, dtype: object
13425 93.13 12 MP Last Month    7.76083
Name: 13425, dtype: object
13426 432.15000000000003 13 MP Last Month    33.2423
Name: 13426, dtype: object
13427 419.34 13 MP Last Month    32.2569
Name: 13427, dtype: object
13428 195.53 10 MP Last Month    19.553
Name: 13428, dtype: object
13429 232.95000000000002 13 MP Last Month    17.9192
Name: 13429, dtype: object
13430 293.35 12 MP Last Month    24.4458
Name: 13430, dtype: object
13431 372.63 13 MP Last Month    28.6638
Name: 13431, dtype: object
13432 36.470000000000006 12 MP Last Month    3.03917
Name: 13432, dtype: object
13433 354.56 14 MP Last Month    25.3257
Name: 13433, dtype: object
13434 354.7899999999999 14 MP Last Month    25.3421
Name: 13434, dtype: object
13435 152.53 14 MP Last Month    10.895
Name: 13435, dtype: object
13436 423.40999999999997 14 MP Last Month    30.2436
Name: 13436, dtype: object
13437 438.08000000000004 14 MP Last Month    31.2914
Name: 13437, dtype: object
13438 458.38000000000005 14 MP Last Month    32.7414
Name: 13438, dtype: object
13439 212.37000000000003 14 MP Last Month    15.1693
Name: 13439, dtype: object
13440 58.16 14 MP Last Month    4.15429
Name: 13440, dtype: object
13441 165.28 14 MP Last Month    11.8057
Name: 13441, dtype: object
13442 337.8800000000001 14 MP Last Month    24.1343
Name: 13442, dtype: object
13443 0 0 MP Last Month    0
Name: 13443, dtype: object
13444 134.30999999999997 14 MP Last Month    9.59357
Name: 13444, dtype: object
13445 250.14000000000001 8 MP Last Month    31.2675
Name: 13445, dtype: object
13446 504.96999999999997 15 MP Last Month    33.6647
Name: 13446, dtype: object
13447 450.35 15 MP Last Month    30.0233
Name: 13447, dtype: object
13448 16.86 9 MP Last Month    1.87333
Name: 13448, dtype: object
13449 385.28 15 MP Last Month    25.6853
Name: 13449, dtype: object
13450 202.94 15 MP Last Month    13.5293
Name: 13450, dtype: object
13451 11.379999999999999 2 MP Last Month    5.69
Name: 13451, dtype: object
13452 136.34 15 MP Last Month    9.08933
Name: 13452, dtype: object
13453 171.41 9 MP Last Month    19.0456
Name: 13453, dtype: object
13454 169.35999999999999 15 MP Last Month    11.2907
Name: 13454, dtype: object
13455 274.03000000000003 14 MP Last Month    19.5736
Name: 13455, dtype: object
13456 41.24 15 MP Last Month    2.74933
Name: 13456, dtype: object
13457 475.91 14 MP Last Month    33.9936
Name: 13457, dtype: object
13458 416.81000000000006 14 MP Last Month    29.7721
Name: 13458, dtype: object
13459 67.64 7 MP Last Month    9.66286
Name: 13459, dtype: object
13460 323.52000000000004 15 MP Last Month    21.568
Name: 13460, dtype: object
13461 353.18000000000006 15 MP Last Month    23.5453
Name: 13461, dtype: object
13462 452.78000000000003 15 MP Last Month    30.1853
Name: 13462, dtype: object
13463 88.96 5 MP Last Month    17.792
Name: 13463, dtype: object
13464 123.32000000000002 12 MP Last Month    10.2767
Name: 13464, dtype: object
13465 489.71000000000004 15 MP Last Month    32.6473
Name: 13465, dtype: object
13466 371.4499999999999 15 MP Last Month    24.7633
Name: 13466, dtype: object
13467 149.48999999999998 12 MP Last Month    12.4575
Name: 13467, dtype: object
13468 25.52 10 MP Last Month    2.552
Name: 13468, dtype: object
13469 358.24 12 MP Last Month    29.8533
Name: 13469, dtype: object
13470 278.45 12 MP Last Month    23.2042
Name: 13470, dtype: object
13471 291.27 13 MP Last Month    22.4054
Name: 13471, dtype: object
13472 31.720000000000002 11 MP Last Month    2.88364
Name: 13472, dtype: object
13473 417.96 13 MP Last Month    32.1508
Name: 13473, dtype: object
13474 245.4 12 MP Last Month    20.45
Name: 13474, dtype: object
13475 272.50000000000006 13 MP Last Month    20.9615
Name: 13475, dtype: object
13476 304.06 12 MP Last Month    25.3383
Name: 13476, dtype: object
13477 10.7 1 MP Last Month    10.7
Name: 13477, dtype: object
13478 8.25 12 MP Last Month    0.6875
Name: 13478, dtype: object
13479 223.98000000000002 9 MP Last Month    24.8867
Name: 13479, dtype: object
13480 320.80999999999995 13 MP Last Month    24.6777
Name: 13480, dtype: object
13481 317.84 13 MP Last Month    24.4492
Name: 13481, dtype: object
13482 416.0 14 MP Last Month    29.7143
Name: 13482, dtype: object
13483 302.30999999999995 11 MP Last Month    27.4827
Name: 13483, dtype: object
13484 257.62 13 MP Last Month    19.8169
Name: 13484, dtype: object
13485 428.51 14 MP Last Month    30.6079
Name: 13485, dtype: object
13486 385.37 13 MP Last Month    29.6438
Name: 13486, dtype: object
13487 95.32 12 MP Last Month    7.94333
Name: 13487, dtype: object
13488 284.37999999999994 14 MP Last Month    20.3129
Name: 13488, dtype: object
13489 258.15 14 MP Last Month    18.4393
Name: 13489, dtype: object
13490 79.23 5 MP Last Month    15.846
Name: 13490, dtype: object
13491 181.48999999999998 11 MP Last Month    16.4991
Name: 13491, dtype: object
13492 396.33 14 MP Last Month    28.3093
Name: 13492, dtype: object
13493 15.55 12 MP Last Month    1.29583
Name: 13493, dtype: object
13494 181.17000000000002 14 MP Last Month    12.9407
Name: 13494, dtype: object
13495 157.85 6 MP Last Month    26.3083
Name: 13495, dtype: object
13496 335.90000000000003 14 MP Last Month    23.9929
Name: 13496, dtype: object
13497 57.35 8 MP Last Month    7.16875
Name: 13497, dtype: object
13498 2.78 4 MP Last Month    0.695
Name: 13498, dtype: object
13499 500.48 14 MP Last Month    35.7486
Name: 13499, dtype: object
13500 53.03999999999999 14 MP Last Month    3.78857
Name: 13500, dtype: object
13501 240.79000000000002 14 MP Last Month    17.1993
Name: 13501, dtype: object
13502 340.15999999999997 14 MP Last Month    24.2971
Name: 13502, dtype: object
13503 16.59 14 MP Last Month    1.185
Name: 13503, dtype: object
13504 5.83 14 MP Last Month    0.416429
Name: 13504, dtype: object
13505 479.43 14 MP Last Month    34.245
Name: 13505, dtype: object
13506 316.23 13 MP Last Month    24.3254
Name: 13506, dtype: object
13507 192.68 14 MP Last Month    13.7629
Name: 13507, dtype: object
13508 395.93999999999994 13 MP Last Month    30.4569
Name: 13508, dtype: object
13509 58.32 8 MP Last Month    7.29
Name: 13509, dtype: object
13510 122.49000000000001 6 MP Last Month    20.415
Name: 13510, dtype: object
13511 206.52999999999997 13 MP Last Month    15.8869
Name: 13511, dtype: object
13512 220.15000000000003 10 MP Last Month    22.015
Name: 13512, dtype: object
13513 462.38 13 MP Last Month    35.5677
Name: 13513, dtype: object
13514 111.94999999999999 13 MP Last Month    8.61154
Name: 13514, dtype: object
13515 74.92 8 MP Last Month    9.365
Name: 13515, dtype: object

13516 133.33 12 MP Last Month    11.1108
Name: 13516, dtype: object
13517 319.08 13 MP Last Month    24.5446
Name: 13517, dtype: object
13518 397.92 13 MP Last Month    30.6092
Name: 13518, dtype: object
13519 182.15999999999997 13 MP Last Month    14.0123
Name: 13519, dtype: object
13520 543.1299999999999 15 MP Last Month    36.2087
Name: 13520, dtype: object
13521 416.42999999999995 14 MP Last Month    29.745
Name: 13521, dtype: object
13522 23.299999999999997 14 MP Last Month    1.66429
Name: 13522, dtype: object
13523 506.87 15 MP Last Month    33.7913
Name: 13523, dtype: object
13524 491.36 15 MP Last Month    32.7573
Name: 13524, dtype: object
13525 271.5 15 MP Last Month    18.1
Name: 13525, dtype: object
13526 158.11999999999998 15 MP Last Month    10.5413
Name: 13526, dtype: object
13527 93.41 15 MP Last Month    6.22733
Name: 13527, dtype: object
13528 509.40999999999997 15 MP Last Month    33.9607
Name: 13528, dtype: object
13529 204.25999999999996 15 MP Last Month    13.6173
Name: 13529, dtype: object
13530 186.22 15 MP Last Month    12.4147
Name: 13530, dtype: object
13531 354.01 12 MP Last Month    29.5008
Name: 13531, dtype: object
13532 215.44 12 MP Last Month    17.9533
Name: 13532, dtype: object
13533 56.709999999999994 11 MP Last Month    5.15545
Name: 13533, dtype: object
13534 369.2 12 MP Last Month    30.7667
Name: 13534, dtype: object
13535 453.20000000000005 13 MP Last Month    34.8615
Name: 13535, dtype: object
13536 196.49999999999997 10 MP Last Month    19.65
Name: 13536, dtype: object
13537 336.62000000000006 13 MP Last Month    25.8938
Name: 13537, dtype: object
13538 340.28000000000003 13 MP Last Month    26.1754
Name: 13538, dtype: object
13539 373.65999999999997 12 MP Last Month    31.1383
Name: 13539, dtype: object
13540 195.20000000000002 13 MP Last Month    15.0154
Name: 13540, dtype: object
13541 59.16 11 MP Last Month    5.37818
Name: 13541, dtype: object
13542 43.01 12 MP Last Month    3.58417
Name: 13542, dtype: object
13543 372.22 10 MP Last Month    37.222
Name: 13543, dtype: object
13544 230.75 13 MP Last Month    17.75
Name: 13544, dtype: object
13545 366.9099999999999 15 MP Last Month    24.4607
Name: 13545, dtype: object
13546 128.26 10 MP Last Month    12.826
Name: 13546, dtype: object
13547 153.23 15 MP Last Month    10.2153
Name: 13547, dtype: object
13548 425.77 13 MP Last Month    32.7515
Name: 13548, dtype: object
13549 488.7799999999999 15 MP Last Month    32.5853
Name: 13549, dtype: object
13550 379.4800000000001 15 MP Last Month    25.2987
Name: 13550, dtype: object
13551 353.24 13 MP Last Month    27.1723
Name: 13551, dtype: object
13552 258.86 14 MP Last Month    18.49
Name: 13552, dtype: object
13553 472.91999999999996 15 MP Last Month    31.528
Name: 13553, dtype: object
13554 56.88999999999999 15 MP Last Month    3.79267
Name: 13554, dtype: object
13555 0.0 8 MP Last Month    0
Name: 13555, dtype: object
13556 495.82 14 MP Last Month    35.4157
Name: 13556, dtype: object
13557 212.91 14 MP Last Month    15.2079
Name: 13557, dtype: object
13558 10.23 1 MP Last Month    10.23
Name: 13558, dtype: object
13559 427.43 14 MP Last Month    30.5307
Name: 13559, dtype: object
13560 304.15 14 MP Last Month    21.725
Name: 13560, dtype: object
13561 319.89 12 MP Last Month    26.6575
Name: 13561, dtype: object
13562 82.22999999999999 14 MP Last Month    5.87357
Name: 13562, dtype: object
13563 200.07000000000002 14 MP Last Month    14.2907
Name: 13563, dtype: object
13564 398.29 14 MP Last Month    28.4493
Name: 13564, dtype: object
13565 216.17 14 MP Last Month    15.4407
Name: 13565, dtype: object
13566 256.63 14 MP Last Month    18.3307
Name: 13566, dtype: object
13567 415.16 13 MP Last Month    31.9354
Name: 13567, dtype: object
13568 363.1 12 MP Last Month    30.2583
Name: 13568, dtype: object
13569 222.99 13 MP Last Month    17.1531
Name: 13569, dtype: object
13570 62.849999999999994 11 MP Last Month    5.71364
Name: 13570, dtype: object
13571 375.0100000000001 13 MP Last Month    28.8469
Name: 13571, dtype: object
13572 291.44 12 MP Last Month    24.2867
Name: 13572, dtype: object
13573 240.03 13 MP Last Month    18.4638
Name: 13573, dtype: object
13574 182.24999999999997 13 MP Last Month    14.0192
Name: 13574, dtype: object
13575 165.77 13 MP Last Month    12.7515
Name: 13575, dtype: object
13576 30.54 9 MP Last Month    3.39333
Name: 13576, dtype: object
13577 370.4 13 MP Last Month    28.4923
Name: 13577, dtype: object
13578 306.3 13 MP Last Month    23.5615
Name: 13578, dtype: object
13579 58.849999999999994 12 MP Last Month    4.90417
Name: 13579, dtype: object
13580 547.99 14 MP Last Month    39.1421
Name: 13580, dtype: object
13581 421.40999999999997 14 MP Last Month    30.1007
Name: 13581, dtype: object
13582 119.04 8 MP Last Month    14.88
Name: 13582, dtype: object
13583 52.23 10 MP Last Month    5.223
Name: 13583, dtype: object
13584 447.15 13 MP Last Month    34.3962
Name: 13584, dtype: object
13585 92.55000000000001 4 MP Last Month    23.1375
Name: 13585, dtype: object
13586 409.67 13 MP Last Month    31.5131
Name: 13586, dtype: object
13587 171.18000000000004 12 MP Last Month    14.265
Name: 13587, dtype: object
13588 89.52 14 MP Last Month    6.39429
Name: 13588, dtype: object
13589 324.40999999999997 14 MP Last Month    23.1721
Name: 13589, dtype: object
13590 21.42 5 MP Last Month    4.284
Name: 13590, dtype: object
13591 403.7200000000001 13 MP Last Month    31.0554
Name: 13591, dtype: object
13592 399.51 13 MP Last Month    30.7315
Name: 13592, dtype: object
13593 441.15 13 MP Last Month    33.9346
Name: 13593, dtype: object
13594 118.66999999999999 12 MP Last Month    9.88917
Name: 13594, dtype: object
13595 191.75 13 MP Last Month    14.75
Name: 13595, dtype: object
13596 214.85 13 MP Last Month    16.5269
Name: 13596, dtype: object
13597 207.11 12 MP Last Month    17.2592
Name: 13597, dtype: object
13598 221.95 13 MP Last Month    17.0731
Name: 13598, dtype: object
13599 400.80999999999995 14 MP Last Month    28.6293
Name: 13599, dtype: object
13600 444.36999999999995 15 MP Last Month    29.6247
Name: 13600, dtype: object
13601 457.22 15 MP Last Month    30.4813
Name: 13601, dtype: object
13602 213.04 12 MP Last Month    17.7533
Name: 13602, dtype: object
13603 477.8399999999999 15 MP Last Month    31.856
Name: 13603, dtype: object
13604 125.22 12 MP Last Month    10.435
Name: 13604, dtype: object
13605 35.97 2 MP Last Month    17.985
Name: 13605, dtype: object
13606 253.59 12 MP Last Month    21.1325
Name: 13606, dtype: object
13607 139.94 5 MP Last Month    27.988
Name: 13607, dtype: object
13608 458.96000000000004 15 MP Last Month    30.5973
Name: 13608, dtype: object
13609 117.92 15 MP Last Month    7.86133
Name: 13609, dtype: object
13610 262.29999999999995 15 MP Last Month    17.4867
Name: 13610, dtype: object
13611 234.96999999999997 15 MP Last Month    15.6647
Name: 13611, dtype: object
13612 465.70000000000005 15 MP Last Month    31.0467
Name: 13612, dtype: object
13613 23.17 11 MP Last Month    2.10636
Name: 13613, dtype: object
13614 489.06999999999994 15 MP Last Month    32.6047
Name: 13614, dtype: object
13615 326.99 15 MP Last Month    21.7993
Name: 13615, dtype: object
13616 229.89000000000001 15 MP Last Month    15.326
Name: 13616, dtype: object
13617 460.75 15 MP Last Month    30.7167
Name: 13617, dtype: object
13618 200.63000000000005 13 MP Last Month    15.4331
Name: 13618, dtype: object
13619 34.29 14 MP Last Month    2.44929
Name: 13619, dtype: object
13620 401.93000000000006 12 MP Last Month    33.4942
Name: 13620, dtype: object
13621 77.6 4 MP Last Month    19.4
Name: 13621, dtype: object
13622 50.99 2 MP Last Month    25.495
Name: 13622, dtype: object
13623 414.65000000000003 12 MP Last Month    34.5542
Name: 13623, dtype: object
13624 321.31 12 MP Last Month    26.7758
Name: 13624, dtype: object
13625 220.25999999999996 12 MP Last Month    18.355
Name: 13625, dtype: object
13626 339.36 12 MP Last Month    28.28
Name: 13626, dtype: object
13627 310.0899999999999 12 MP Last Month    25.8408
Name: 13627, dtype: object
13628 296.59000000000003 12 MP Last Month    24.7158
Name: 13628, dtype: object
13629 366.7099999999999 12 MP Last Month    30.5592
Name: 13629, dtype: object

13630 296.61 14 MP Last Month    21.1864
Name: 13630, dtype: object
13631 392.74 14 MP Last Month    28.0529
Name: 13631, dtype: object
13632 276.53 14 MP Last Month    19.7521
Name: 13632, dtype: object
13633 315.1 14 MP Last Month    22.5071
Name: 13633, dtype: object
13634 27.080000000000002 12 MP Last Month    2.25667
Name: 13634, dtype: object
13635 322.19 10 MP Last Month    32.219
Name: 13635, dtype: object
13636 169.76 12 MP Last Month    14.1467
Name: 13636, dtype: object
13637 289.46000000000004 14 MP Last Month    20.6757
Name: 13637, dtype: object
13638 472.45 13 MP Last Month    36.3423
Name: 13638, dtype: object
13639 468.41999999999996 14 MP Last Month    33.4586
Name: 13639, dtype: object
13640 158.89999999999998 13 MP Last Month    12.2231
Name: 13640, dtype: object
13641 473.77 13 MP Last Month    36.4438
Name: 13641, dtype: object
13642 454.5499999999999 13 MP Last Month    34.9654
Name: 13642, dtype: object
13643 76.08 13 MP Last Month    5.85231
Name: 13643, dtype: object
13644 193.53 12 MP Last Month    16.1275
Name: 13644, dtype: object
13645 470.62999999999994 13 MP Last Month    36.2023
Name: 13645, dtype: object
13646 232.40000000000003 11 MP Last Month    21.1273
Name: 13646, dtype: object
13647 162.89000000000001 13 MP Last Month    12.53
Name: 13647, dtype: object
13648 394.12999999999994 12 MP Last Month    32.8442
Name: 13648, dtype: object
13649 293.63999999999993 13 MP Last Month    22.5877
Name: 13649, dtype: object
13650 274.61 13 MP Last Month    21.1238
Name: 13650, dtype: object
13651 112.38000000000001 13 MP Last Month    8.64462
Name: 13651, dtype: object
13652 530.64 14 MP Last Month    37.9029
Name: 13652, dtype: object
13653 298.44 9 MP Last Month    33.16
Name: 13653, dtype: object
13654 73.35 10 MP Last Month    7.335
Name: 13654, dtype: object
13655 16.25 13 MP Last Month    1.25
Name: 13655, dtype: object
13656 341.81999999999994 14 MP Last Month    24.4157
Name: 13656, dtype: object
13657 318.91999999999996 14 MP Last Month    22.78
Name: 13657, dtype: object
13658 486.72 14 MP Last Month    34.7657
Name: 13658, dtype: object
13659 77.97 4 MP Last Month    19.4925
Name: 13659, dtype: object
13660 44.260000000000005 13 MP Last Month    3.40462
Name: 13660, dtype: object
13661 472.94 14 MP Last Month    33.7814
Name: 13661, dtype: object
13662 175.72000000000003 14 MP Last Month    12.5514
Name: 13662, dtype: object
13663 4.25 11 MP Last Month    0.386364
Name: 13663, dtype: object
13664 479.3400000000001 14 MP Last Month    34.2386
Name: 13664, dtype: object
13665 426.13 14 MP Last Month    30.4379
Name: 13665, dtype: object
13666 78.74 8 MP Last Month    9.8425
Name: 13666, dtype: object
13667 300.27000000000004 15 MP Last Month    20.018
Name: 13667, dtype: object
13668 343.63 15 MP Last Month    22.9087
Name: 13668, dtype: object
13669 105.08999999999999 6 MP Last Month    17.515
Name: 13669, dtype: object
13670 474.25000000000006 15 MP Last Month    31.6167
Name: 13670, dtype: object
13671 438.6 13 MP Last Month    33.7385
Name: 13671, dtype: object
13672 107.91999999999999 12 MP Last Month    8.99333
Name: 13672, dtype: object
13673 380.98999999999995 15 MP Last Month    25.3993
Name: 13673, dtype: object
13674 491.32000000000005 15 MP Last Month    32.7547
Name: 13674, dtype: object
13675 140.98999999999998 12 MP Last Month    11.7492
Name: 13675, dtype: object
13676 25.52 10 MP Last Month    2.552
Name: 13676, dtype: object
13677 411.99 14 MP Last Month    29.4279
Name: 13677, dtype: object
13678 300.62 11 MP Last Month    27.3291
Name: 13678, dtype: object
13679 248.95000000000005 13 MP Last Month    19.15
Name: 13679, dtype: object
13680 421.65999999999997 14 MP Last Month    30.1186
Name: 13680, dtype: object
13681 407.49 14 MP Last Month    29.1064
Name: 13681, dtype: object
13682 239.15 14 MP Last Month    17.0821
Name: 13682, dtype: object
13683 282.28 14 MP Last Month    20.1629
Name: 13683, dtype: object
13684 102.47 12 MP Last Month    8.53917
Name: 13684, dtype: object
13685 98.66 6 MP Last Month    16.4433
Name: 13685, dtype: object
13686 391.96 14 MP Last Month    27.9971
Name: 13686, dtype: object
13687 197.81999999999996 11 MP Last Month    17.9836
Name: 13687, dtype: object
13688 174.32 14 MP Last Month    12.4514
Name: 13688, dtype: object
13689 23.28 12 MP Last Month    1.94
Name: 13689, dtype: object
13690 492.33000000000004 13 MP Last Month    37.8715
Name: 13690, dtype: object
13691 57.79 2 MP Last Month    28.895
Name: 13691, dtype: object
13692 102.08999999999999 9 MP Last Month    11.3433
Name: 13692, dtype: object
13693 55.79 9 MP Last Month    6.19889
Name: 13693, dtype: object
13694 300.2 13 MP Last Month    23.0923
Name: 13694, dtype: object
13695 325.78999999999996 12 MP Last Month    27.1492
Name: 13695, dtype: object
13696 320.77000000000004 11 MP Last Month    29.1609
Name: 13696, dtype: object
13697 21.180000000000003 11 MP Last Month    1.92545
Name: 13697, dtype: object
13698 303.49999999999994 13 MP Last Month    23.3462
Name: 13698, dtype: object
13699 410.15 12 MP Last Month    34.1792
Name: 13699, dtype: object
13700 444.93 12 MP Last Month    37.0775
Name: 13700, dtype: object
13701 92.75999999999999 12 MP Last Month    7.73
Name: 13701, dtype: object
13702 79.13000000000001 12 MP Last Month    6.59417
Name: 13702, dtype: object
13703 436.11 13 MP Last Month    33.5469
Name: 13703, dtype: object
13704 335.38 13 MP Last Month    25.7985
Name: 13704, dtype: object
13705 33.59 8 MP Last Month    4.19875
Name: 13705, dtype: object
13706 232.45999999999998 13 MP Last Month    17.8815
Name: 13706, dtype: object
13707 33.88 8 MP Last Month    4.235
Name: 13707, dtype: object
13708 109.64 10 MP Last Month    10.964
Name: 13708, dtype: object
13709 407.53000000000003 13 MP Last Month    31.3485
Name: 13709, dtype: object
13710 258.27 13 MP Last Month    19.8669
Name: 13710, dtype: object
13711 363.29 11 MP Last Month    33.0264
Name: 13711, dtype: object
13712 257.79 12 MP Last Month    21.4825
Name: 13712, dtype: object
13713 61.06 13 MP Last Month    4.69692
Name: 13713, dtype: object
13714 531.47 15 MP Last Month    35.4313
Name: 13714, dtype: object
13715 228.96 15 MP Last Month    15.264
Name: 13715, dtype: object
13716 10.23 2 MP Last Month    5.115
Name: 13716, dtype: object
13717 328.04999999999995 15 MP Last Month    21.87
Name: 13717, dtype: object
13718 460.23 15 MP Last Month    30.682
Name: 13718, dtype: object
13719 94.57999999999998 15 MP Last Month    6.30533
Name: 13719, dtype: object
13720 200.07000000000002 15 MP Last Month    13.338
Name: 13720, dtype: object
13721 428.52000000000004 15 MP Last Month    28.568
Name: 13721, dtype: object
13722 233.94 15 MP Last Month    15.596
Name: 13722, dtype: object
13723 271.83 15 MP Last Month    18.122
Name: 13723, dtype: object
13724 470.46 15 MP Last Month    31.364
Name: 13724, dtype: object
13725 170.52999999999997 15 MP Last Month    11.3687
Name: 13725, dtype: object
13726 491.46999999999997 15 MP Last Month    32.7647
Name: 13726, dtype: object
13727 408.79 15 MP Last Month    27.2527
Name: 13727, dtype: object
13728 329.28 15 MP Last Month    21.952
Name: 13728, dtype: object
13729 398.66999999999996 15 MP Last Month    26.578
Name: 13729, dtype: object
13730 63.81999999999999 12 MP Last Month    5.31833
Name: 13730, dtype: object
13731 443.7 15 MP Last Month    29.58
Name: 13731, dtype: object
13732 78.71000000000001 13 MP Last Month    6.05462
Name: 13732, dtype: object
13733 192.83999999999997 15 MP Last Month    12.856
Name: 13733, dtype: object
13734 53.6 9 MP Last Month    5.95556
Name: 13734, dtype: object
13735 358.82 14 MP Last Month    25.63
Name: 13735, dtype: object
13736 300.83000000000004 14 MP Last Month    21.4879
Name: 13736, dtype: object
13737 396.96 14 MP Last Month    28.3543
Name: 13737, dtype: object
13738 477.85999999999996 14 MP Last Month    34.1329
Name: 13738, dtype: object
13739 342.94 13 MP Last Month    26.38
Name: 13739, dtype: object
13740 267.26 12 MP Last Month    22.2717
Name: 13740, dtype: object
13741 314.36 14 MP Last Month    22.4543
Name: 13741, dtype: object
13742 45.51 14 MP Last Month    3.25071
Name: 13742, dtype: object
13743 116.16 13 MP Last Month    8.93538
Name: 13743, dtype: object

13744 420.09 14 MP Last Month    30.0064
Name: 13744, dtype: object
13745 266.86 14 MP Last Month    19.0614
Name: 13745, dtype: object
13746 22.34 9 MP Last Month    2.48222
Name: 13746, dtype: object
13747 5.2 4 MP Last Month    1.3
Name: 13747, dtype: object
13748 400.14 13 MP Last Month    30.78
Name: 13748, dtype: object
13749 300.23 14 MP Last Month    21.445
Name: 13749, dtype: object
13750 74.87 14 MP Last Month    5.34786
Name: 13750, dtype: object
13751 170.68999999999997 7 MP Last Month    24.3843
Name: 13751, dtype: object
13752 389.68000000000006 11 MP Last Month    35.4255
Name: 13752, dtype: object
13753 391.98 13 MP Last Month    30.1523
Name: 13753, dtype: object
13754 152.59 7 MP Last Month    21.7986
Name: 13754, dtype: object
13755 286.57000000000005 14 MP Last Month    20.4693
Name: 13755, dtype: object
13756 185.55000000000004 14 MP Last Month    13.2536
Name: 13756, dtype: object
13757 412.93 13 MP Last Month    31.7638
Name: 13757, dtype: object
13758 316.65000000000003 11 MP Last Month    28.7864
Name: 13758, dtype: object
13759 172.23999999999998 14 MP Last Month    12.3029
Name: 13759, dtype: object
13760 38.43 9 MP Last Month    4.27
Name: 13760, dtype: object
13761 446.68 14 MP Last Month    31.9057
Name: 13761, dtype: object
13762 387.88 13 MP Last Month    29.8369
Name: 13762, dtype: object
13763 242.94 14 MP Last Month    17.3529
Name: 13763, dtype: object
13764 67.39999999999999 12 MP Last Month    5.61667
Name: 13764, dtype: object
13765 402.3400000000001 14 MP Last Month    28.7386
Name: 13765, dtype: object
13766 315.79 13 MP Last Month    24.2915
Name: 13766, dtype: object
13767 177.10000000000002 14 MP Last Month    12.65
Name: 13767, dtype: object
13768 261.76 14 MP Last Month    18.6971
Name: 13768, dtype: object
13769 193.11999999999998 14 MP Last Month    13.7943
Name: 13769, dtype: object
13770 33.81 10 MP Last Month    3.381
Name: 13770, dtype: object
13771 331.23 14 MP Last Month    23.6593
Name: 13771, dtype: object
13772 401.22999999999996 14 MP Last Month    28.6593
Name: 13772, dtype: object
13773 63.39999999999999 13 MP Last Month    4.87692
Name: 13773, dtype: object
13774 211.0 11 MP Last Month    19.1818
Name: 13774, dtype: object
13775 385.51 13 MP Last Month    29.6546
Name: 13775, dtype: object
13776 64.17 12 MP Last Month    5.3475
Name: 13776, dtype: object
13777 439.3900000000001 13 MP Last Month    33.7992
Name: 13777, dtype: object
13778 94.48 12 MP Last Month    7.87333
Name: 13778, dtype: object
13779 223.34 13 MP Last Month    17.18
Name: 13779, dtype: object
13780 106.29 13 MP Last Month    8.17615
Name: 13780, dtype: object
13781 373.71999999999997 12 MP Last Month    31.1433
Name: 13781, dtype: object
13782 310.73999999999995 11 MP Last Month    28.2491
Name: 13782, dtype: object
13783 228.31 11 MP Last Month    20.7555
Name: 13783, dtype: object
13784 7.4 2 MP Last Month    3.7
Name: 13784, dtype: object
13785 395.07 13 MP Last Month    30.39
Name: 13785, dtype: object
13786 109.46 14 MP Last Month    7.81857
Name: 13786, dtype: object
13787 411.75 14 MP Last Month    29.4107
Name: 13787, dtype: object
13788 370.12999999999994 14 MP Last Month    26.4379
Name: 13788, dtype: object
13789 315.50000000000006 14 MP Last Month    22.5357
Name: 13789, dtype: object
13790 331.5799999999999 14 MP Last Month    23.6843
Name: 13790, dtype: object
13791 427.34000000000003 14 MP Last Month    30.5243
Name: 13791, dtype: object
13792 11.7 1 MP Last Month    11.7
Name: 13792, dtype: object
13793 341.29 14 MP Last Month    24.3779
Name: 13793, dtype: object
13794 262.28 13 MP Last Month    20.1754
Name: 13794, dtype: object
13795 32.25 14 MP Last Month    2.30357
Name: 13795, dtype: object
13796 278.96 9 MP Last Month    30.9956
Name: 13796, dtype: object
13797 367.87000000000006 12 MP Last Month    30.6558
Name: 13797, dtype: object
13798 276.03 14 MP Last Month    19.7164
Name: 13798, dtype: object
13799 355.9800000000001 14 MP Last Month    25.4271
Name: 13799, dtype: object
13800 102.07999999999998 13 MP Last Month    7.85231
Name: 13800, dtype: object
13801 439.75 14 MP Last Month    31.4107
Name: 13801, dtype: object
13802 210.25000000000003 13 MP Last Month    16.1731
Name: 13802, dtype: object
13803 131.13 14 MP Last Month    9.36643
Name: 13803, dtype: object
13804 87.17000000000002 11 MP Last Month    7.92455
Name: 13804, dtype: object
13805 106.73 5 MP Last Month    21.346
Name: 13805, dtype: object
13806 240.49999999999997 14 MP Last Month    17.1786
Name: 13806, dtype: object
13807 39.11 14 MP Last Month    2.79357
Name: 13807, dtype: object
13808 474.45 14 MP Last Month    33.8893
Name: 13808, dtype: object
13809 223.44 13 MP Last Month    17.1877
Name: 13809, dtype: object
13810 145.14 13 MP Last Month    11.1646
Name: 13810, dtype: object
13811 214.0 14 MP Last Month    15.2857
Name: 13811, dtype: object
13812 13.8 1 MP Last Month    13.8
Name: 13812, dtype: object
13813 438.0200000000001 14 MP Last Month    31.2871
Name: 13813, dtype: object
13814 433.03999999999996 14 MP Last Month    30.9314
Name: 13814, dtype: object
13815 230.9 14 MP Last Month    16.4929
Name: 13815, dtype: object
13816 234.07 14 MP Last Month    16.7193
Name: 13816, dtype: object
13817 38.540000000000006 11 MP Last Month    3.50364
Name: 13817, dtype: object
13818 51.49 6 MP Last Month    8.58167
Name: 13818, dtype: object
13819 89.10000000000001 13 MP Last Month    6.85385
Name: 13819, dtype: object
13820 368.76 11 MP Last Month    33.5236
Name: 13820, dtype: object
13821 386.65 14 MP Last Month    27.6179
Name: 13821, dtype: object
13822 348.89 14 MP Last Month    24.9207
Name: 13822, dtype: object
13823 93.13 13 MP Last Month    7.16385
Name: 13823, dtype: object
13824 459.21 14 MP Last Month    32.8007
Name: 13824, dtype: object
13825 473.35 14 MP Last Month    33.8107
Name: 13825, dtype: object
13826 248.98000000000002 14 MP Last Month    17.7843
Name: 13826, dtype: object
13827 213.95 11 MP Last Month    19.45
Name: 13827, dtype: object
13828 323.90000000000003 13 MP Last Month    24.9154
Name: 13828, dtype: object
13829 36.470000000000006 13 MP Last Month    2.80538
Name: 13829, dtype: object
13830 344.63999999999993 14 MP Last Month    24.6171
Name: 13830, dtype: object
13831 367.22999999999996 14 MP Last Month    26.2307
Name: 13831, dtype: object
13832 411.05999999999995 14 MP Last Month    29.3614
Name: 13832, dtype: object
13833 162.54000000000002 14 MP Last Month    11.61
Name: 13833, dtype: object
13834 461.63000000000005 14 MP Last Month    32.9736
Name: 13834, dtype: object
13835 441.09 14 MP Last Month    31.5064
Name: 13835, dtype: object
13836 207.24 14 MP Last Month    14.8029
Name: 13836, dtype: object
13837 60.04 14 MP Last Month    4.28857
Name: 13837, dtype: object
13838 175.82 14 MP Last Month    12.5586
Name: 13838, dtype: object
13839 334.36 14 MP Last Month    23.8829
Name: 13839, dtype: object
13840 0.48 1 MP Last Month    0.48
Name: 13840, dtype: object
13841 120.85999999999999 14 MP Last Month    8.63286
Name: 13841, dtype: object
13842 281.38 8 MP Last Month    35.1725
Name: 13842, dtype: object
13843 470.18 15 MP Last Month    31.3453
Name: 13843, dtype: object
13844 499.05999999999995 15 MP Last Month    33.2707
Name: 13844, dtype: object
13845 16.86 10 MP Last Month    1.686
Name: 13845, dtype: object
13846 219.71999999999997 15 MP Last Month    14.648
Name: 13846, dtype: object
13847 19.419999999999998 2 MP Last Month    9.71
Name: 13847, dtype: object
13848 393.13 15 MP Last Month    26.2087
Name: 13848, dtype: object
13849 136.16 15 MP Last Month    9.07733
Name: 13849, dtype: object
13850 257.45 14 MP Last Month    18.3893
Name: 13850, dtype: object
13851 180.91 15 MP Last Month    12.0607
Name: 13851, dtype: object
13852 41.24 15 MP Last Month    2.74933
Name: 13852, dtype: object
13853 177.13 9 MP Last Month    19.6811
Name: 13853, dtype: object
13854 389.57 13 MP Last Month    29.9669
Name: 13854, dtype: object
13855 303.62 13 MP Last Month    23.3554
Name: 13855, dtype: object
13856 315.24 14 MP Last Month    22.5171
Name: 13856, dtype: object
13857 31.720000000000002 12 MP Last Month    2.64333
Name: 13857, dtype: object
13858 292.4200000000001 14 MP Last Month    20.8871
Name: 13858, dtype: object

13859 455.03 14 MP Last Month    32.5021
Name: 13859, dtype: object
13860 272.93 13 MP Last Month    20.9946
Name: 13860, dtype: object
13861 323.28 13 MP Last Month    24.8677
Name: 13861, dtype: object
13862 10.7 2 MP Last Month    5.35
Name: 13862, dtype: object
13863 8.25 13 MP Last Month    0.634615
Name: 13863, dtype: object
13864 339.28 14 MP Last Month    24.2343
Name: 13864, dtype: object
13865 325.64 14 MP Last Month    23.26
Name: 13865, dtype: object
13866 253.51000000000002 10 MP Last Month    25.351
Name: 13866, dtype: object
13867 151.95 6 MP Last Month    25.325
Name: 13867, dtype: object
13868 341.8 14 MP Last Month    24.4143
Name: 13868, dtype: object
13869 57.35 9 MP Last Month    6.37222
Name: 13869, dtype: object
13870 2.78 5 MP Last Month    0.556
Name: 13870, dtype: object
13871 499.26000000000005 14 MP Last Month    35.6614
Name: 13871, dtype: object
13872 272.45 14 MP Last Month    19.4607
Name: 13872, dtype: object
13873 341.89 14 MP Last Month    24.4207
Name: 13873, dtype: object
13874 81.34 14 MP Last Month    5.81
Name: 13874, dtype: object
13875 17.59 14 MP Last Month    1.25643
Name: 13875, dtype: object
13876 5.83 14 MP Last Month    0.416429
Name: 13876, dtype: object
13877 475.46000000000004 14 MP Last Month    33.9614
Name: 13877, dtype: object
13878 313.5 13 MP Last Month    24.1154
Name: 13878, dtype: object
13879 196.65 14 MP Last Month    14.0464
Name: 13879, dtype: object
13880 540.6 15 MP Last Month    36.04
Name: 13880, dtype: object
13881 414.8299999999999 14 MP Last Month    29.6307
Name: 13881, dtype: object
13882 23.299999999999997 14 MP Last Month    1.66429
Name: 13882, dtype: object
13883 506.4200000000001 15 MP Last Month    33.7613
Name: 13883, dtype: object
13884 492.3399999999999 15 MP Last Month    32.8227
Name: 13884, dtype: object
13885 272.53 15 MP Last Month    18.1687
Name: 13885, dtype: object
13886 107.33 15 MP Last Month    7.15533
Name: 13886, dtype: object
13887 160.89 15 MP Last Month    10.726
Name: 13887, dtype: object
13888 511.76 15 MP Last Month    34.1173
Name: 13888, dtype: object
13889 204.04999999999995 15 MP Last Month    13.6033
Name: 13889, dtype: object
13890 193.23999999999998 15 MP Last Month    12.8827
Name: 13890, dtype: object
13891 354.43999999999994 12 MP Last Month    29.5367
Name: 13891, dtype: object
13892 192.98999999999998 10 MP Last Month    19.299
Name: 13892, dtype: object
13893 60.459999999999994 11 MP Last Month    5.49636
Name: 13893, dtype: object
13894 197.24 12 MP Last Month    16.4367
Name: 13894, dtype: object
13895 445.08 13 MP Last Month    34.2369
Name: 13895, dtype: object
13896 331.64000000000004 13 MP Last Month    25.5108
Name: 13896, dtype: object
13897 360.73 12 MP Last Month    30.0608
Name: 13897, dtype: object
13898 340.69 13 MP Last Month    26.2069
Name: 13898, dtype: object
13899 363.91999999999996 12 MP Last Month    30.3267
Name: 13899, dtype: object
13900 196.19000000000003 13 MP Last Month    15.0915
Name: 13900, dtype: object
13901 62.91 11 MP Last Month    5.71909
Name: 13901, dtype: object
13902 46.76 12 MP Last Month    3.89667
Name: 13902, dtype: object
13903 230.93 13 MP Last Month    17.7638
Name: 13903, dtype: object
13904 357.28000000000003 15 MP Last Month    23.8187
Name: 13904, dtype: object
13905 409.32000000000005 11 MP Last Month    37.2109
Name: 13905, dtype: object
13906 117.17999999999999 10 MP Last Month    11.718
Name: 13906, dtype: object
13907 131.2 15 MP Last Month    8.74667
Name: 13907, dtype: object
13908 454.84 14 MP Last Month    32.4886
Name: 13908, dtype: object
13909 371.4800000000001 15 MP Last Month    24.7653
Name: 13909, dtype: object
13910 497.87999999999994 15 MP Last Month    33.192
Name: 13910, dtype: object
13911 351.72 13 MP Last Month    27.0554
Name: 13911, dtype: object
13912 472.89 15 MP Last Month    31.526
Name: 13912, dtype: object
13913 258.89 14 MP Last Month    18.4921
Name: 13913, dtype: object
13914 32.17 15 MP Last Month    2.14467
Name: 13914, dtype: object
13915 0.0 8 MP Last Month    0
Name: 13915, dtype: object
13916 170.68999999999997 8 MP Last Month    21.3362
Name: 13916, dtype: object
13917 314.03000000000003 15 MP Last Month    20.9353
Name: 13917, dtype: object
13918 435.37 14 MP Last Month    31.0979
Name: 13918, dtype: object
13919 74.87 15 MP Last Month    4.99133
Name: 13919, dtype: object
13920 167.91 8 MP Last Month    20.9887
Name: 13920, dtype: object
13921 432.41 14 MP Last Month    30.8864
Name: 13921, dtype: object
13922 303.25000000000006 15 MP Last Month    20.2167
Name: 13922, dtype: object
13923 185.55000000000004 15 MP Last Month    12.37
Name: 13923, dtype: object
13924 451.76 14 MP Last Month    32.2686
Name: 13924, dtype: object
13925 352.40000000000003 12 MP Last Month    29.3667
Name: 13925, dtype: object
13926 178.17 15 MP Last Month    11.878
Name: 13926, dtype: object
13927 38.43 10 MP Last Month    3.843
Name: 13927, dtype: object
13928 546.32 14 MP Last Month    39.0229
Name: 13928, dtype: object
13929 416.38999999999993 14 MP Last Month    29.7421
Name: 13929, dtype: object
13930 132.31 9 MP Last Month    14.7011
Name: 13930, dtype: object
13931 52.23 10 MP Last Month    5.223
Name: 13931, dtype: object
13932 71.33 4 MP Last Month    17.8325
Name: 13932, dtype: object
13933 444.92 14 MP Last Month    31.78
Name: 13933, dtype: object
13934 466.09000000000003 13 MP Last Month    35.8531
Name: 13934, dtype: object
13935 188.06000000000003 13 MP Last Month    14.4662
Name: 13935, dtype: object
13936 103.8 14 MP Last Month    7.41429
Name: 13936, dtype: object
13937 326.8400000000001 14 MP Last Month    23.3457
Name: 13937, dtype: object
13938 361.92 11 MP Last Month    32.9018
Name: 13938, dtype: object
13939 407.11000000000007 14 MP Last Month    29.0793
Name: 13939, dtype: object
13940 341.31000000000006 14 MP Last Month    24.3793
Name: 13940, dtype: object
13941 77.45 14 MP Last Month    5.53214
Name: 13941, dtype: object
13942 437.96000000000004 14 MP Last Month    31.2829
Name: 13942, dtype: object
13943 323.77000000000004 12 MP Last Month    26.9808
Name: 13943, dtype: object
13944 319.96 11 MP Last Month    29.0873
Name: 13944, dtype: object
13945 318.41 13 MP Last Month    24.4931
Name: 13945, dtype: object
13946 150.4 14 MP Last Month    10.7429
Name: 13946, dtype: object
13947 170.69 7 MP Last Month    24.3843
Name: 13947, dtype: object
13948 272.63 14 MP Last Month    19.4736
Name: 13948, dtype: object
13949 109.15999999999998 8 MP Last Month    13.645
Name: 13949, dtype: object
13950 64.59 9 MP Last Month    7.17667
Name: 13950, dtype: object
13951 136.34 14 MP Last Month    9.73857
Name: 13951, dtype: object
13952 406.96999999999997 14 MP Last Month    29.0693
Name: 13952, dtype: object
13953 396.36 13 MP Last Month    30.4892
Name: 13953, dtype: object
13954 337.96 14 MP Last Month    24.14
Name: 13954, dtype: object
13955 27.1 2 MP Last Month    13.55
Name: 13955, dtype: object
13956 28.619999999999997 6 MP Last Month    4.77
Name: 13956, dtype: object
13957 324.05 14 MP Last Month    23.1464
Name: 13957, dtype: object
13958 372.53999999999996 14 MP Last Month    26.61
Name: 13958, dtype: object
13959 32.25 14 MP Last Month    2.30357
Name: 13959, dtype: object
13960 266.21 13 MP Last Month    20.4777
Name: 13960, dtype: object
13961 332.44 14 MP Last Month    23.7457
Name: 13961, dtype: object
13962 234.96999999999997 16 MP Last Month    14.6856
Name: 13962, dtype: object
13963 288.04999999999995 16 MP Last Month    18.0031
Name: 13963, dtype: object
13964 492.00000000000006 16 MP Last Month    30.75
Name: 13964, dtype: object
13965 515.3699999999999 16 MP Last Month    32.2106
Name: 13965, dtype: object
13966 350.96000000000004 16 MP Last Month    21.935
Name: 13966, dtype: object
13967 44.870000000000005 12 MP Last Month    3.73917
Name: 13967, dtype: object
13968 491.48 16 MP Last Month    30.7175
Name: 13968, dtype: object
13969 247.14000000000001 16 MP Last Month    15.4463
Name: 13969, dtype: object
13970 96.00000000000001 11 MP Last Month    8.72727
Name: 13970, dtype: object
13971 222.33000000000004 14 MP Last Month    15.8807
Name: 13971, dtype: object
13972 300.66999999999996 12 MP Last Month    25.0558
Name: 13972, dtype: object

13973 76.49000000000001 3 MP Last Month    25.4967
Name: 13973, dtype: object
13974 286.29 12 MP Last Month    23.8575
Name: 13974, dtype: object
13975 409.65000000000003 12 MP Last Month    34.1375
Name: 13975, dtype: object
13976 15.020000000000001 8 MP Last Month    1.8775
Name: 13976, dtype: object
13977 349.96 12 MP Last Month    29.1633
Name: 13977, dtype: object
13978 349.44 12 MP Last Month    29.12
Name: 13978, dtype: object
13979 215.60999999999999 12 MP Last Month    17.9675
Name: 13979, dtype: object
13980 14.48 11 MP Last Month    1.31636
Name: 13980, dtype: object
13981 402.83 12 MP Last Month    33.5692
Name: 13981, dtype: object
13982 86.3 4 MP Last Month    21.575
Name: 13982, dtype: object
13983 320.43999999999994 12 MP Last Month    26.7033
Name: 13983, dtype: object
13984 384.01 14 MP Last Month    27.4293
Name: 13984, dtype: object
13985 285.42999999999995 14 MP Last Month    20.3879
Name: 13985, dtype: object
13986 299.76 14 MP Last Month    21.4114
Name: 13986, dtype: object
13987 287.45 14 MP Last Month    20.5321
Name: 13987, dtype: object
13988 27.080000000000002 12 MP Last Month    2.25667
Name: 13988, dtype: object
13989 361.21 11 MP Last Month    32.8373
Name: 13989, dtype: object
13990 284.47999999999996 14 MP Last Month    20.32
Name: 13990, dtype: object
13991 184.13 12 MP Last Month    15.3442
Name: 13991, dtype: object
13992 474.13 13 MP Last Month    36.4715
Name: 13992, dtype: object
13993 472.23 14 MP Last Month    33.7307
Name: 13993, dtype: object
13994 159.19 13 MP Last Month    12.2454
Name: 13994, dtype: object
13995 120.11999999999999 12 MP Last Month    10.01
Name: 13995, dtype: object
13996 539.65 14 MP Last Month    38.5464
Name: 13996, dtype: object
13997 340.56 10 MP Last Month    34.056
Name: 13997, dtype: object
13998 86.57 11 MP Last Month    7.87
Name: 13998, dtype: object
13999 501.91999999999996 14 MP Last Month    35.8514
Name: 13999, dtype: object
14000 321.78000000000003 14 MP Last Month    22.9843
Name: 14000, dtype: object
14001 344.06999999999994 14 MP Last Month    24.5764
Name: 14001, dtype: object
14002 62.02 4 MP Last Month    15.505
Name: 14002, dtype: object
14003 28.88 13 MP Last Month    2.22154
Name: 14003, dtype: object
14004 481.09000000000003 14 MP Last Month    34.3636
Name: 14004, dtype: object
14005 175.43999999999997 14 MP Last Month    12.5314
Name: 14005, dtype: object
14006 4.25 11 MP Last Month    0.386364
Name: 14006, dtype: object
14007 459.88000000000005 15 MP Last Month    30.6587
Name: 14007, dtype: object
14008 306.6 9 MP Last Month    34.0667
Name: 14008, dtype: object
14009 483.81000000000006 15 MP Last Month    32.254
Name: 14009, dtype: object
14010 20.740000000000002 10 MP Last Month    2.074
Name: 14010, dtype: object
14011 454.13 13 MP Last Month    34.9331
Name: 14011, dtype: object
14012 32.39 2 MP Last Month    16.195
Name: 14012, dtype: object
14013 388.7299999999999 15 MP Last Month    25.9153
Name: 14013, dtype: object
14014 246.71999999999997 15 MP Last Month    16.448
Name: 14014, dtype: object
14015 140.47 15 MP Last Month    9.36467
Name: 14015, dtype: object
14016 168.90999999999997 9 MP Last Month    18.7678
Name: 14016, dtype: object
14017 261.01 14 MP Last Month    18.6436
Name: 14017, dtype: object
14018 199.41 15 MP Last Month    13.294
Name: 14018, dtype: object
14019 60.010000000000005 15 MP Last Month    4.00067
Name: 14019, dtype: object
14020 470.09000000000003 14 MP Last Month    33.5779
Name: 14020, dtype: object
14021 422.38 14 MP Last Month    30.17
Name: 14021, dtype: object
14022 101.41 9 MP Last Month    11.2678
Name: 14022, dtype: object
14023 276.9 15 MP Last Month    18.46
Name: 14023, dtype: object
14024 345.23 15 MP Last Month    23.0153
Name: 14024, dtype: object
14025 471.1 15 MP Last Month    31.4067
Name: 14025, dtype: object
14026 97.35 12 MP Last Month    8.1125
Name: 14026, dtype: object
14027 422.75999999999993 13 MP Last Month    32.52
Name: 14027, dtype: object
14028 3.97 5 MP Last Month    0.794
Name: 14028, dtype: object
14029 131.35 12 MP Last Month    10.9458
Name: 14029, dtype: object
14030 484.19 15 MP Last Month    32.2793
Name: 14030, dtype: object
14031 399.93999999999994 15 MP Last Month    26.6627
Name: 14031, dtype: object
14032 26.39 11 MP Last Month    2.39909
Name: 14032, dtype: object
14033 303.33 11 MP Last Month    27.5755
Name: 14033, dtype: object
14034 414.81000000000006 14 MP Last Month    29.6293
Name: 14034, dtype: object
14035 277.28000000000003 14 MP Last Month    19.8057
Name: 14035, dtype: object
14036 0 0 MP Last Month    0
Name: 14036, dtype: object
14037 427.34 14 MP Last Month    30.5243
Name: 14037, dtype: object
14038 412.61 14 MP Last Month    29.4721
Name: 14038, dtype: object
14039 274.20000000000005 14 MP Last Month    19.5857
Name: 14039, dtype: object
14040 237.78000000000003 14 MP Last Month    16.9843
Name: 14040, dtype: object
14041 80.10000000000001 12 MP Last Month    6.675
Name: 14041, dtype: object
14042 381.76 14 MP Last Month    27.2686
Name: 14042, dtype: object
14043 161.94 14 MP Last Month    11.5671
Name: 14043, dtype: object
14044 99.46000000000001 6 MP Last Month    16.5767
Name: 14044, dtype: object
14045 23.28 13 MP Last Month    1.79077
Name: 14045, dtype: object
14046 480.23 13 MP Last Month    36.9408
Name: 14046, dtype: object
14047 81.46000000000001 3 MP Last Month    27.1533
Name: 14047, dtype: object
14048 120.58999999999999 10 MP Last Month    12.059
Name: 14048, dtype: object
14049 290.46000000000004 13 MP Last Month    22.3431
Name: 14049, dtype: object
14050 63.19 9 MP Last Month    7.02111
Name: 14050, dtype: object
14051 328.74 12 MP Last Month    27.395
Name: 14051, dtype: object
14052 21.67 8 MP Last Month    2.70875
Name: 14052, dtype: object
14053 21.180000000000003 11 MP Last Month    1.92545
Name: 14053, dtype: object
14054 277.29999999999995 13 MP Last Month    21.3308
Name: 14054, dtype: object
14055 437.65999999999997 12 MP Last Month    36.4717
Name: 14055, dtype: object
14056 408.23 12 MP Last Month    34.0192
Name: 14056, dtype: object
14057 112.17999999999999 12 MP Last Month    9.34833
Name: 14057, dtype: object
14058 82.97999999999999 12 MP Last Month    6.915
Name: 14058, dtype: object
14059 394.86999999999995 13 MP Last Month    30.3746
Name: 14059, dtype: object
14060 77.28999999999999 9 MP Last Month    8.58778
Name: 14060, dtype: object
14061 113.68 6 MP Last Month    18.9467
Name: 14061, dtype: object
14062 106.99999999999999 13 MP Last Month    8.23077
Name: 14062, dtype: object
14063 474.63 13 MP Last Month    36.51
Name: 14063, dtype: object
14064 224.32 10 MP Last Month    22.432
Name: 14064, dtype: object
14065 74.92 9 MP Last Month    8.32444
Name: 14065, dtype: object
14066 122.98000000000002 12 MP Last Month    10.2483
Name: 14066, dtype: object
14067 380.69 13 MP Last Month    29.2838
Name: 14067, dtype: object
14068 322.15 13 MP Last Month    24.7808
Name: 14068, dtype: object
14069 200.61999999999998 13 MP Last Month    15.4323
Name: 14069, dtype: object
14070 58.25 11 MP Last Month    5.29545
Name: 14070, dtype: object
14071 357.06 12 MP Last Month    29.755
Name: 14071, dtype: object
14072 173.48999999999998 12 MP Last Month    14.4575
Name: 14072, dtype: object
14073 192.08999999999997 10 MP Last Month    19.209
Name: 14073, dtype: object
14074 332.31 13 MP Last Month    25.5623
Name: 14074, dtype: object
14075 448.01000000000005 13 MP Last Month    34.4623
Name: 14075, dtype: object
14076 362.46000000000004 12 MP Last Month    30.205
Name: 14076, dtype: object
14077 346.51 13 MP Last Month    26.6546
Name: 14077, dtype: object
14078 370.39 12 MP Last Month    30.8658
Name: 14078, dtype: object
14079 44.55 12 MP Last Month    3.7125
Name: 14079, dtype: object
14080 60.699999999999996 11 MP Last Month    5.51818
Name: 14080, dtype: object
14081 191.94 13 MP Last Month    14.7646
Name: 14081, dtype: object
14082 539.9699999999999 15 MP Last Month    35.998
Name: 14082, dtype: object
14083 234.19 15 MP Last Month    15.6127
Name: 14083, dtype: object
14084 10.23 3 MP Last Month    3.41
Name: 14084, dtype: object
14085 89.99 15 MP Last Month    5.99933
Name: 14085, dtype: object
14086 465.0799999999999 15 MP Last Month    31.0053
Name: 14086, dtype: object

14087 339.87999999999994 15 MP Last Month    22.6587
Name: 14087, dtype: object
14088 328.71000000000004 12 MP Last Month    27.3925
Name: 14088, dtype: object
14089 172.44 15 MP Last Month    11.496
Name: 14089, dtype: object
14090 436.6700000000001 15 MP Last Month    29.1113
Name: 14090, dtype: object
14091 236.70999999999998 15 MP Last Month    15.7807
Name: 14091, dtype: object
14092 258.62999999999994 15 MP Last Month    17.242
Name: 14092, dtype: object
14093 472.49 15 MP Last Month    31.4993
Name: 14093, dtype: object
14094 184.52000000000004 15 MP Last Month    12.3013
Name: 14094, dtype: object
14095 420.83000000000004 15 MP Last Month    28.0553
Name: 14095, dtype: object
14096 340.90999999999997 15 MP Last Month    22.7273
Name: 14096, dtype: object
14097 493.59 15 MP Last Month    32.906
Name: 14097, dtype: object
14098 401.7299999999999 15 MP Last Month    26.782
Name: 14098, dtype: object
14099 75.08999999999999 13 MP Last Month    5.77615
Name: 14099, dtype: object
14100 448.28 15 MP Last Month    29.8853
Name: 14100, dtype: object
14101 91.03 13 MP Last Month    7.00231
Name: 14101, dtype: object
14102 68.03 4 MP Last Month    17.0075
Name: 14102, dtype: object
14103 178.60999999999999 15 MP Last Month    11.9073
Name: 14103, dtype: object
14104 53.6 10 MP Last Month    5.36
Name: 14104, dtype: object
14105 378.29999999999995 14 MP Last Month    27.0214
Name: 14105, dtype: object
14106 295.11999999999995 14 MP Last Month    21.08
Name: 14106, dtype: object
14107 409.44 14 MP Last Month    29.2457
Name: 14107, dtype: object
14108 475.91999999999996 14 MP Last Month    33.9943
Name: 14108, dtype: object
14109 267.66 12 MP Last Month    22.305
Name: 14109, dtype: object
14110 306.35 14 MP Last Month    21.8821
Name: 14110, dtype: object
14111 96.71 13 MP Last Month    7.43923
Name: 14111, dtype: object
14112 46.60999999999999 14 MP Last Month    3.32929
Name: 14112, dtype: object
14113 428.42999999999995 14 MP Last Month    30.6021
Name: 14113, dtype: object
14114 260.02 14 MP Last Month    18.5729
Name: 14114, dtype: object
14115 5.2 5 MP Last Month    1.04
Name: 14115, dtype: object
14116 24.56 10 MP Last Month    2.456
Name: 14116, dtype: object
14117 459.21 14 MP Last Month    32.8007
Name: 14117, dtype: object
14118 70.61 12 MP Last Month    5.88417
Name: 14118, dtype: object
14119 393.1799999999999 13 MP Last Month    30.2446
Name: 14119, dtype: object
14120 315.86 13 MP Last Month    24.2969
Name: 14120, dtype: object
14121 409.52 14 MP Last Month    29.2514
Name: 14121, dtype: object
14122 178.95000000000002 14 MP Last Month    12.7821
Name: 14122, dtype: object
14123 262.08 14 MP Last Month    18.72
Name: 14123, dtype: object
14124 0 0 MP Last Month    0
Name: 14124, dtype: object
14125 33.81 11 MP Last Month    3.07364
Name: 14125, dtype: object
14126 425.13 14 MP Last Month    30.3664
Name: 14126, dtype: object
14127 333.5 14 MP Last Month    23.8214
Name: 14127, dtype: object
14128 50.52 13 MP Last Month    3.88615
Name: 14128, dtype: object
14129 227.55 12 MP Last Month    18.9625
Name: 14129, dtype: object
14130 383.71 13 MP Last Month    29.5162
Name: 14130, dtype: object
14131 55.72 12 MP Last Month    4.64333
Name: 14131, dtype: object
14132 117.95 13 MP Last Month    9.07308
Name: 14132, dtype: object
14133 226.7 13 MP Last Month    17.4385
Name: 14133, dtype: object
14134 105.86000000000001 13 MP Last Month    8.14308
Name: 14134, dtype: object
14135 439.2900000000001 13 MP Last Month    33.7915
Name: 14135, dtype: object
14136 367.63999999999993 12 MP Last Month    30.6367
Name: 14136, dtype: object
14137 307.87 11 MP Last Month    27.9882
Name: 14137, dtype: object
14138 231.24 11 MP Last Month    21.0218
Name: 14138, dtype: object
14139 10.05 3 MP Last Month    3.35
Name: 14139, dtype: object
14140 470.36999999999995 14 MP Last Month    33.5979
Name: 14140, dtype: object
14141 208.46 14 MP Last Month    14.89
Name: 14141, dtype: object
14142 227.73000000000002 13 MP Last Month    17.5177
Name: 14142, dtype: object
14143 165.79 13 MP Last Month    12.7531
Name: 14143, dtype: object
14144 440.07000000000005 14 MP Last Month    31.4336
Name: 14144, dtype: object
14145 442.59000000000003 14 MP Last Month    31.6136
Name: 14145, dtype: object
14146 353.61 11 MP Last Month    32.1464
Name: 14146, dtype: object
14147 231.02 14 MP Last Month    16.5014
Name: 14147, dtype: object
14148 230.54999999999998 14 MP Last Month    16.4679
Name: 14148, dtype: object
14149 38.540000000000006 11 MP Last Month    3.50364
Name: 14149, dtype: object
14150 72.84 7 MP Last Month    10.4057
Name: 14150, dtype: object
14151 72.65 13 MP Last Month    5.58846
Name: 14151, dtype: object
14152 372.45 13 MP Last Month    28.65
Name: 14152, dtype: object
14153 407.79 14 MP Last Month    29.1279
Name: 14153, dtype: object
14154 413.1 14 MP Last Month    29.5071
Name: 14154, dtype: object
14155 66.72 10 MP Last Month    6.672
Name: 14155, dtype: object
14156 213.04 13 MP Last Month    16.3877
Name: 14156, dtype: object
14157 438.99 14 MP Last Month    31.3564
Name: 14157, dtype: object
14158 134.26 11 MP Last Month    12.2055
Name: 14158, dtype: object
14159 94.86 4 MP Last Month    23.715
Name: 14159, dtype: object
14160 98.53999999999999 11 MP Last Month    8.95818
Name: 14160, dtype: object
14161 133.91 14 MP Last Month    9.565
Name: 14161, dtype: object
14162 426.53000000000003 14 MP Last Month    30.4664
Name: 14162, dtype: object
14163 414.82000000000005 12 MP Last Month    34.5683
Name: 14163, dtype: object
14164 289.49 12 MP Last Month    24.1242
Name: 14164, dtype: object
14165 294.64 12 MP Last Month    24.5533
Name: 14165, dtype: object
14166 19.55 8 MP Last Month    2.44375
Name: 14166, dtype: object
14167 343.19 12 MP Last Month    28.5992
Name: 14167, dtype: object
14168 194.73999999999998 12 MP Last Month    16.2283
Name: 14168, dtype: object
14169 329.72999999999996 12 MP Last Month    27.4775
Name: 14169, dtype: object
14170 14.48 11 MP Last Month    1.31636
Name: 14170, dtype: object
14171 398.33 12 MP Last Month    33.1942
Name: 14171, dtype: object
14172 108.17999999999999 5 MP Last Month    21.636
Name: 14172, dtype: object
14173 316.38999999999993 12 MP Last Month    26.3658
Name: 14173, dtype: object
14174 459.3199999999999 13 MP Last Month    35.3323
Name: 14174, dtype: object
14175 476.63 13 MP Last Month    36.6638
Name: 14175, dtype: object
14176 85.47999999999999 13 MP Last Month    6.57538
Name: 14176, dtype: object
14177 472.37999999999994 13 MP Last Month    36.3369
Name: 14177, dtype: object
14178 230.10000000000002 11 MP Last Month    20.9182
Name: 14178, dtype: object
14179 153.49 13 MP Last Month    11.8069
Name: 14179, dtype: object
14180 426.0799999999999 13 MP Last Month    32.7754
Name: 14180, dtype: object
14181 289.40999999999997 13 MP Last Month    22.2623
Name: 14181, dtype: object
14182 263.14 13 MP Last Month    20.2415
Name: 14182, dtype: object
14183 104.18000000000002 13 MP Last Month    8.01385
Name: 14183, dtype: object
14184 352.76 13 MP Last Month    27.1354
Name: 14184, dtype: object
14185 403.06 12 MP Last Month    33.5883
Name: 14185, dtype: object
14186 324.03 13 MP Last Month    24.9254
Name: 14186, dtype: object
14187 0.0 1 MP Last Month    0
Name: 14187, dtype: object
14188 56.77999999999999 12 MP Last Month    4.73167
Name: 14188, dtype: object
14189 436.62 13 MP Last Month    33.5862
Name: 14189, dtype: object
14190 439.13 13 MP Last Month    33.7792
Name: 14190, dtype: object
14191 233.48000000000002 13 MP Last Month    17.96
Name: 14191, dtype: object
14192 185.37 10 MP Last Month    18.537
Name: 14192, dtype: object
14193 0.0 4 MP Last Month    0
Name: 14193, dtype: object
14194 330.40000000000003 13 MP Last Month    25.4154
Name: 14194, dtype: object
14195 26.42 12 MP Last Month    2.20167
Name: 14195, dtype: object
14196 348.30999999999995 14 MP Last Month    24.8793
Name: 14196, dtype: object
14197 399.54999999999995 14 MP Last Month    28.5393
Name: 14197, dtype: object
14198 368.2 14 MP Last Month    26.3
Name: 14198, dtype: object
14199 169.36 14 MP Last Month    12.0971
Name: 14199, dtype: object
14200 441.19 14 MP Last Month    31.5136
Name: 14200, dtype: object

14201 461.28000000000003 14 MP Last Month    32.9486
Name: 14201, dtype: object
14202 202.23999999999998 14 MP Last Month    14.4457
Name: 14202, dtype: object
14203 60.76 14 MP Last Month    4.34
Name: 14203, dtype: object
14204 328.57 14 MP Last Month    23.4693
Name: 14204, dtype: object
14205 200.99 14 MP Last Month    14.3564
Name: 14205, dtype: object
14206 2.4 2 MP Last Month    1.2
Name: 14206, dtype: object
14207 107.80999999999997 14 MP Last Month    7.70071
Name: 14207, dtype: object
14208 349.03000000000003 12 MP Last Month    29.0858
Name: 14208, dtype: object
14209 273.47999999999996 12 MP Last Month    22.79
Name: 14209, dtype: object
14210 303.8900000000001 13 MP Last Month    23.3762
Name: 14210, dtype: object
14211 31.720000000000002 13 MP Last Month    2.44
Name: 14211, dtype: object
14212 10.7 3 MP Last Month    3.56667
Name: 14212, dtype: object
14213 445.23 13 MP Last Month    34.2485
Name: 14213, dtype: object
14214 277.17999999999995 12 MP Last Month    23.0983
Name: 14214, dtype: object
14215 245.73 12 MP Last Month    20.4775
Name: 14215, dtype: object
14216 290.57 13 MP Last Month    22.3515
Name: 14216, dtype: object
14217 0.0 12 MP Last Month    0
Name: 14217, dtype: object
14218 274.43 11 MP Last Month    24.9482
Name: 14218, dtype: object
14219 295.6499999999999 13 MP Last Month    22.7423
Name: 14219, dtype: object
14220 304.77 13 MP Last Month    23.4438
Name: 14220, dtype: object
14221 149.4 6 MP Last Month    24.9
Name: 14221, dtype: object
14222 344.35 14 MP Last Month    24.5964
Name: 14222, dtype: object
14223 57.35 10 MP Last Month    5.735
Name: 14223, dtype: object
14224 244.4 8 MP Last Month    30.55
Name: 14224, dtype: object
14225 4.25 6 MP Last Month    0.708333
Name: 14225, dtype: object
14226 501.97 14 MP Last Month    35.855
Name: 14226, dtype: object
14227 341.10999999999996 14 MP Last Month    24.365
Name: 14227, dtype: object
14228 105.91 14 MP Last Month    7.565
Name: 14228, dtype: object
14229 280.98 14 MP Last Month    20.07
Name: 14229, dtype: object
14230 5.83 14 MP Last Month    0.416429
Name: 14230, dtype: object
14231 480.36999999999995 14 MP Last Month    34.3121
Name: 14231, dtype: object
14232 314.28 13 MP Last Month    24.1754
Name: 14232, dtype: object
14233 191.74 14 MP Last Month    13.6957
Name: 14233, dtype: object
14234 99.78000000000002 6 MP Last Month    16.63
Name: 14234, dtype: object
14235 403.68000000000006 13 MP Last Month    31.0523
Name: 14235, dtype: object
14236 91.38999999999999 10 MP Last Month    9.139
Name: 14236, dtype: object
14237 111.53 13 MP Last Month    8.57923
Name: 14237, dtype: object
14238 475.86999999999995 13 MP Last Month    36.6054
Name: 14238, dtype: object
14239 216.36 10 MP Last Month    21.636
Name: 14239, dtype: object
14240 74.92 10 MP Last Month    7.492
Name: 14240, dtype: object
14241 119.56 12 MP Last Month    9.96333
Name: 14241, dtype: object
14242 324.84999999999997 13 MP Last Month    24.9885
Name: 14242, dtype: object
14243 388.40000000000003 13 MP Last Month    29.8769
Name: 14243, dtype: object
14244 219.45 13 MP Last Month    16.8808
Name: 14244, dtype: object
14245 542.72 15 MP Last Month    36.1813
Name: 14245, dtype: object
14246 404.44999999999993 14 MP Last Month    28.8893
Name: 14246, dtype: object
14247 23.299999999999997 14 MP Last Month    1.66429
Name: 14247, dtype: object
14248 505.6 15 MP Last Month    33.7067
Name: 14248, dtype: object
14249 280.46 15 MP Last Month    18.6973
Name: 14249, dtype: object
14250 491.06999999999994 15 MP Last Month    32.738
Name: 14250, dtype: object
14251 155.93999999999997 15 MP Last Month    10.396
Name: 14251, dtype: object
14252 121.33 15 MP Last Month    8.08867
Name: 14252, dtype: object
14253 511.98999999999995 15 MP Last Month    34.1327
Name: 14253, dtype: object
14254 197.34 15 MP Last Month    13.156
Name: 14254, dtype: object
14255 205.7 15 MP Last Month    13.7133
Name: 14255, dtype: object
14256 431.43 13 MP Last Month    33.1869
Name: 14256, dtype: object
14257 240.33999999999997 13 MP Last Month    18.4877
Name: 14257, dtype: object
14258 343.66 13 MP Last Month    26.4354
Name: 14258, dtype: object
14259 44.31 9 MP Last Month    4.92333
Name: 14259, dtype: object
14260 259.55 9 MP Last Month    28.8389
Name: 14260, dtype: object
14261 281.85999999999996 13 MP Last Month    21.6815
Name: 14261, dtype: object
14262 280.40999999999997 10 MP Last Month    28.041
Name: 14262, dtype: object
14263 136.74 10 MP Last Month    13.674
Name: 14263, dtype: object
14264 397.99 12 MP Last Month    33.1658
Name: 14264, dtype: object
14265 243.43999999999997 12 MP Last Month    20.2867
Name: 14265, dtype: object
14266 44.790000000000006 13 MP Last Month    3.44538
Name: 14266, dtype: object
14267 0 0 MP Last Month    0
Name: 14267, dtype: object
14268 359.02 15 MP Last Month    23.9347
Name: 14268, dtype: object
14269 99.33 15 MP Last Month    6.622
Name: 14269, dtype: object
14270 232.43 13 MP Last Month    17.8792
Name: 14270, dtype: object
14271 107.72 10 MP Last Month    10.772
Name: 14271, dtype: object
14272 345.59000000000003 13 MP Last Month    26.5838
Name: 14272, dtype: object
14273 380.06000000000006 15 MP Last Month    25.3373
Name: 14273, dtype: object
14274 492.15999999999997 15 MP Last Month    32.8107
Name: 14274, dtype: object
14275 493.8399999999999 15 MP Last Month    32.9227
Name: 14275, dtype: object
14276 475.03000000000003 15 MP Last Month    31.6687
Name: 14276, dtype: object
14277 256.75 14 MP Last Month    18.3393
Name: 14277, dtype: object
14278 32.17 15 MP Last Month    2.14467
Name: 14278, dtype: object
14279 0.0 8 MP Last Month    0
Name: 14279, dtype: object
14280 462.89 15 MP Last Month    30.8593
Name: 14280, dtype: object
14281 208.87 15 MP Last Month    13.9247
Name: 14281, dtype: object
14282 80.11 13 MP Last Month    6.16231
Name: 14282, dtype: object
14283 342.5 15 MP Last Month    22.8333
Name: 14283, dtype: object
14284 486.02 15 MP Last Month    32.4013
Name: 14284, dtype: object
14285 420.15 15 MP Last Month    28.01
Name: 14285, dtype: object
14286 396.48999999999995 15 MP Last Month    26.4327
Name: 14286, dtype: object
14287 435.39000000000004 15 MP Last Month    29.026
Name: 14287, dtype: object
14288 107.06 13 MP Last Month    8.23538
Name: 14288, dtype: object
14289 174.28 15 MP Last Month    11.6187
Name: 14289, dtype: object
14290 58.95 11 MP Last Month    5.35909
Name: 14290, dtype: object
14291 166.46999999999997 8 MP Last Month    20.8087
Name: 14291, dtype: object
14292 442.84 14 MP Last Month    31.6314
Name: 14292, dtype: object
14293 322.43000000000006 15 MP Last Month    21.4953
Name: 14293, dtype: object
14294 0 0 MP Last Month    0
Name: 14294, dtype: object
14295 390.04999999999995 11 MP Last Month    35.4591
Name: 14295, dtype: object
14296 310.61 15 MP Last Month    20.7073
Name: 14296, dtype: object
14297 199.85999999999999 9 MP Last Month    22.2067
Name: 14297, dtype: object
14298 171.98 15 MP Last Month    11.4653
Name: 14298, dtype: object
14299 441.17 14 MP Last Month    31.5121
Name: 14299, dtype: object
14300 354.76 12 MP Last Month    29.5633
Name: 14300, dtype: object
14301 199.54 15 MP Last Month    13.3027
Name: 14301, dtype: object
14302 40.16 11 MP Last Month    3.65091
Name: 14302, dtype: object
14303 550.0 14 MP Last Month    39.2857
Name: 14303, dtype: object
14304 417.18999999999994 14 MP Last Month    29.7993
Name: 14304, dtype: object
14305 150.29 10 MP Last Month    15.029
Name: 14305, dtype: object
14306 0.0 3 MP Last Month    0
Name: 14306, dtype: object
14307 204.18000000000004 14 MP Last Month    14.5843
Name: 14307, dtype: object
14308 459.22 14 MP Last Month    32.8014
Name: 14308, dtype: object
14309 465.69 13 MP Last Month    35.8223
Name: 14309, dtype: object
14310 65.50999999999999 4 MP Last Month    16.3775
Name: 14310, dtype: object
14311 113.8 14 MP Last Month    8.12857
Name: 14311, dtype: object
14312 336.69 14 MP Last Month    24.0493
Name: 14312, dtype: object
14313 413.85999999999996 14 MP Last Month    29.5614
Name: 14313, dtype: object
14314 262.05 13 MP Last Month    20.1577
Name: 14314, dtype: object
14315 71.7 13 MP Last Month    5.51538
Name: 14315, dtype: object
14316 439.2900000000001 14 MP Last Month    31.3779
Name: 14316, dtype: object

14317 240.11999999999998 14 MP Last Month    17.1514
Name: 14317, dtype: object
14318 132.52 14 MP Last Month    9.46571
Name: 14318, dtype: object
14319 117.73000000000002 14 MP Last Month    8.40929
Name: 14319, dtype: object
14320 402.50999999999993 13 MP Last Month    30.9623
Name: 14320, dtype: object
14321 333.4 12 MP Last Month    27.7833
Name: 14321, dtype: object
14322 253.39000000000001 12 MP Last Month    21.1158
Name: 14322, dtype: object
14323 10.05 4 MP Last Month    2.5125
Name: 14323, dtype: object
14324 335.98 14 MP Last Month    23.9986
Name: 14324, dtype: object
14325 366.97999999999996 11 MP Last Month    33.3618
Name: 14325, dtype: object
14326 413.04999999999995 14 MP Last Month    29.5036
Name: 14326, dtype: object
14327 74.61000000000001 14 MP Last Month    5.32929
Name: 14327, dtype: object
14328 313.45 13 MP Last Month    24.1115
Name: 14328, dtype: object
14329 320.7099999999999 11 MP Last Month    29.1555
Name: 14329, dtype: object
14330 443.61000000000007 14 MP Last Month    31.6864
Name: 14330, dtype: object
14331 323.76 12 MP Last Month    26.98
Name: 14331, dtype: object
14332 141.57999999999998 14 MP Last Month    10.1129
Name: 14332, dtype: object
14333 259.68999999999994 14 MP Last Month    18.5493
Name: 14333, dtype: object
14334 195.06 8 MP Last Month    24.3825
Name: 14334, dtype: object
14335 113.58999999999997 9 MP Last Month    12.6211
Name: 14335, dtype: object
14336 53.29 9 MP Last Month    5.92111
Name: 14336, dtype: object
14337 389.53999999999996 13 MP Last Month    29.9646
Name: 14337, dtype: object
14338 400.87 14 MP Last Month    28.6336
Name: 14338, dtype: object
14339 169.24 14 MP Last Month    12.0886
Name: 14339, dtype: object
14340 384.62 13 MP Last Month    29.5862
Name: 14340, dtype: object
14341 353.54999999999995 14 MP Last Month    25.2536
Name: 14341, dtype: object
14342 348.65999999999997 14 MP Last Month    24.9043
Name: 14342, dtype: object
14343 53.38 3 MP Last Month    17.7933
Name: 14343, dtype: object
14344 334.35999999999996 14 MP Last Month    23.8829
Name: 14344, dtype: object
14345 266.30999999999995 13 MP Last Month    20.4854
Name: 14345, dtype: object
14346 330.17 14 MP Last Month    23.5836
Name: 14346, dtype: object
14347 60.879999999999995 14 MP Last Month    4.34857
Name: 14347, dtype: object
14348 401.39000000000004 13 MP Last Month    30.8762
Name: 14348, dtype: object
14349 258.68000000000006 8 MP Last Month    32.335
Name: 14349, dtype: object
14350 96.88 12 MP Last Month    8.07333
Name: 14350, dtype: object
14351 252.49 13 MP Last Month    19.4223
Name: 14351, dtype: object
14352 322.86000000000007 13 MP Last Month    24.8354
Name: 14352, dtype: object
14353 426.44 13 MP Last Month    32.8031
Name: 14353, dtype: object
14354 199.85999999999999 12 MP Last Month    16.655
Name: 14354, dtype: object
14355 113.57 13 MP Last Month    8.73615
Name: 14355, dtype: object
14356 37.11 10 MP Last Month    3.711
Name: 14356, dtype: object
14357 126.41 6 MP Last Month    21.0683
Name: 14357, dtype: object
14358 217.81 13 MP Last Month    16.7546
Name: 14358, dtype: object
14359 25.61 13 MP Last Month    1.97
Name: 14359, dtype: object
14360 404.59999999999997 14 MP Last Month    28.9
Name: 14360, dtype: object
14361 231.06 14 MP Last Month    16.5043
Name: 14361, dtype: object
14362 437.66 15 MP Last Month    29.1773
Name: 14362, dtype: object
14363 443.08000000000004 15 MP Last Month    29.5387
Name: 14363, dtype: object
14364 88.77 11 MP Last Month    8.07
Name: 14364, dtype: object
14365 471.12 15 MP Last Month    31.408
Name: 14365, dtype: object
14366 149.73 12 MP Last Month    12.4775
Name: 14366, dtype: object
14367 232.33 12 MP Last Month    19.3608
Name: 14367, dtype: object
14368 238.81 12 MP Last Month    19.9008
Name: 14368, dtype: object
14369 129.74 5 MP Last Month    25.948
Name: 14369, dtype: object
14370 111.66 12 MP Last Month    9.305
Name: 14370, dtype: object
14371 141.09 15 MP Last Month    9.406
Name: 14371, dtype: object
14372 257.88 16 MP Last Month    16.1175
Name: 14372, dtype: object
14373 232.09999999999997 16 MP Last Month    14.5062
Name: 14373, dtype: object
14374 494.87000000000006 16 MP Last Month    30.9294
Name: 14374, dtype: object
14375 512.6199999999999 16 MP Last Month    32.0387
Name: 14375, dtype: object
14376 337.62999999999994 16 MP Last Month    21.1019
Name: 14376, dtype: object
14377 44.870000000000005 13 MP Last Month    3.45154
Name: 14377, dtype: object
14378 227.18000000000004 15 MP Last Month    15.1453
Name: 14378, dtype: object
14379 492.93 16 MP Last Month    30.8081
Name: 14379, dtype: object
14380 245.69000000000003 16 MP Last Month    15.3556
Name: 14380, dtype: object
14381 34.29 15 MP Last Month    2.286
Name: 14381, dtype: object
14382 381.23999999999995 14 MP Last Month    27.2314
Name: 14382, dtype: object
14383 255.63 14 MP Last Month    18.2593
Name: 14383, dtype: object
14384 314.96 14 MP Last Month    22.4971
Name: 14384, dtype: object
14385 286.78 14 MP Last Month    20.4843
Name: 14385, dtype: object
14386 27.080000000000002 13 MP Last Month    2.08308
Name: 14386, dtype: object
14387 274.00999999999993 14 MP Last Month    19.5721
Name: 14387, dtype: object
14388 397.24 12 MP Last Month    33.1033
Name: 14388, dtype: object
14389 194.88 13 MP Last Month    14.9908
Name: 14389, dtype: object
14390 474.39 14 MP Last Month    33.885
Name: 14390, dtype: object
14391 473.55999999999995 13 MP Last Month    36.4277
Name: 14391, dtype: object
14392 157.54 13 MP Last Month    12.1185
Name: 14392, dtype: object
14393 542.8699999999999 14 MP Last Month    38.7764
Name: 14393, dtype: object
14394 357.14 10 MP Last Month    35.714
Name: 14394, dtype: object
14395 92.6 12 MP Last Month    7.71667
Name: 14395, dtype: object
14396 500.42 14 MP Last Month    35.7443
Name: 14396, dtype: object
14397 336.15 14 MP Last Month    24.0107
Name: 14397, dtype: object
14398 361.2 14 MP Last Month    25.8
Name: 14398, dtype: object
14399 28.88 14 MP Last Month    2.06286
Name: 14399, dtype: object
14400 52.47 4 MP Last Month    13.1175
Name: 14400, dtype: object
14401 487.2800000000001 14 MP Last Month    34.8057
Name: 14401, dtype: object
14402 169.24999999999997 14 MP Last Month    12.0893
Name: 14402, dtype: object
14403 4.25 12 MP Last Month    0.354167
Name: 14403, dtype: object
14404 436.76 13 MP Last Month    33.5969
Name: 14404, dtype: object
14405 379.11 14 MP Last Month    27.0793
Name: 14405, dtype: object
14406 350.09999999999997 14 MP Last Month    25.0071
Name: 14406, dtype: object
14407 56.77999999999999 13 MP Last Month    4.36769
Name: 14407, dtype: object
14408 0.0 2 MP Last Month    0
Name: 14408, dtype: object
14409 197.79 11 MP Last Month    17.9809
Name: 14409, dtype: object
14410 472.24 14 MP Last Month    33.7314
Name: 14410, dtype: object
14411 470.75 14 MP Last Month    33.625
Name: 14411, dtype: object
14412 248.05 14 MP Last Month    17.7179
Name: 14412, dtype: object
14413 0.0 5 MP Last Month    0
Name: 14413, dtype: object
14414 364.52000000000004 14 MP Last Month    26.0371
Name: 14414, dtype: object
14415 40.300000000000004 13 MP Last Month    3.1
Name: 14415, dtype: object
14416 498.0 15 MP Last Month    33.2
Name: 14416, dtype: object
14417 343.97 10 MP Last Month    34.397
Name: 14417, dtype: object
14418 467.86 15 MP Last Month    31.1907
Name: 14418, dtype: object
14419 457.33 13 MP Last Month    35.1792
Name: 14419, dtype: object
14420 41.77 3 MP Last Month    13.9233
Name: 14420, dtype: object
14421 388.47 15 MP Last Month    25.898
Name: 14421, dtype: object
14422 234.36 15 MP Last Month    15.624
Name: 14422, dtype: object
14423 121.75 15 MP Last Month    8.11667
Name: 14423, dtype: object
14424 199.85999999999999 15 MP Last Month    13.324
Name: 14424, dtype: object
14425 170.66 9 MP Last Month    18.9622
Name: 14425, dtype: object
14426 257.93 14 MP Last Month    18.4236
Name: 14426, dtype: object
14427 56.17999999999999 15 MP Last Month    3.74533
Name: 14427, dtype: object
14428 473.57000000000005 14 MP Last Month    33.8264
Name: 14428, dtype: object
14429 254.78000000000003 15 MP Last Month    16.9853
Name: 14429, dtype: object
14430 426.88 14 MP Last Month    30.4914
Name: 14430, dtype: object

14431 118.36 10 MP Last Month    11.836
Name: 14431, dtype: object
14432 351.09000000000003 15 MP Last Month    23.406
Name: 14432, dtype: object
14433 415.39000000000004 13 MP Last Month    31.9531
Name: 14433, dtype: object
14434 485.13 15 MP Last Month    32.342
Name: 14434, dtype: object
14435 103.35 12 MP Last Month    8.6125
Name: 14435, dtype: object
14436 7.07 6 MP Last Month    1.17833
Name: 14436, dtype: object
14437 485.38 15 MP Last Month    32.3587
Name: 14437, dtype: object
14438 394.84000000000003 15 MP Last Month    26.3227
Name: 14438, dtype: object
14439 127.15 12 MP Last Month    10.5958
Name: 14439, dtype: object
14440 29.490000000000002 12 MP Last Month    2.4575
Name: 14440, dtype: object
14441 302.62 11 MP Last Month    27.5109
Name: 14441, dtype: object
14442 409.99000000000007 14 MP Last Month    29.285
Name: 14442, dtype: object
14443 299.91 14 MP Last Month    21.4221
Name: 14443, dtype: object
14444 425.66999999999996 14 MP Last Month    30.405
Name: 14444, dtype: object
14445 411.72999999999996 14 MP Last Month    29.4093
Name: 14445, dtype: object
14446 228.53000000000003 14 MP Last Month    16.3236
Name: 14446, dtype: object
14447 272.27 14 MP Last Month    19.4479
Name: 14447, dtype: object
14448 75.03 12 MP Last Month    6.2525
Name: 14448, dtype: object
14449 379.66999999999996 14 MP Last Month    27.1193
Name: 14449, dtype: object
14450 93.47999999999999 6 MP Last Month    15.58
Name: 14450, dtype: object
14451 171.71 14 MP Last Month    12.265
Name: 14451, dtype: object
14452 206.73999999999995 11 MP Last Month    18.7945
Name: 14452, dtype: object
14453 23.28 13 MP Last Month    1.79077
Name: 14453, dtype: object
14454 472.86999999999995 13 MP Last Month    36.3746
Name: 14454, dtype: object
14455 105.88000000000001 4 MP Last Month    26.47
Name: 14455, dtype: object
14456 139.81 11 MP Last Month    12.71
Name: 14456, dtype: object
14457 279.44 13 MP Last Month    21.4954
Name: 14457, dtype: object
14458 68.71 10 MP Last Month    6.871
Name: 14458, dtype: object
14459 336.74 12 MP Last Month    28.0617
Name: 14459, dtype: object
14460 30.490000000000002 9 MP Last Month    3.38778
Name: 14460, dtype: object
14461 21.180000000000003 12 MP Last Month    1.765
Name: 14461, dtype: object
14462 250.0 13 MP Last Month    19.2308
Name: 14462, dtype: object
14463 447.28999999999996 12 MP Last Month    37.2742
Name: 14463, dtype: object
14464 408.07 12 MP Last Month    34.0058
Name: 14464, dtype: object
14465 7.05 1 MP Last Month    7.05
Name: 14465, dtype: object
14466 135.78 13 MP Last Month    10.4446
Name: 14466, dtype: object
14467 376.46 13 MP Last Month    28.9585
Name: 14467, dtype: object
14468 75.25 12 MP Last Month    6.27083
Name: 14468, dtype: object
14469 178.83999999999997 13 MP Last Month    13.7569
Name: 14469, dtype: object
14470 482.11000000000007 14 MP Last Month    34.4364
Name: 14470, dtype: object
14471 355.66 14 MP Last Month    25.4043
Name: 14471, dtype: object
14472 369.08 14 MP Last Month    26.3629
Name: 14472, dtype: object
14473 388.44000000000005 13 MP Last Month    29.88
Name: 14473, dtype: object
14474 203.68999999999997 11 MP Last Month    18.5173
Name: 14474, dtype: object
14475 395.01 13 MP Last Month    30.3854
Name: 14475, dtype: object
14476 71.3 12 MP Last Month    5.94167
Name: 14476, dtype: object
14477 50.72 13 MP Last Month    3.90154
Name: 14477, dtype: object
14478 459.16 14 MP Last Month    32.7971
Name: 14478, dtype: object
14479 366.28000000000003 14 MP Last Month    26.1629
Name: 14479, dtype: object
14480 263.96999999999997 14 MP Last Month    18.855
Name: 14480, dtype: object
14481 64.74000000000001 10 MP Last Month    6.474
Name: 14481, dtype: object
14482 287.12 10 MP Last Month    28.712
Name: 14482, dtype: object
14483 306.22999999999996 14 MP Last Month    21.8736
Name: 14483, dtype: object
14484 302.98999999999995 11 MP Last Month    27.5445
Name: 14484, dtype: object
14485 154.57 11 MP Last Month    14.0518
Name: 14485, dtype: object
14486 421.76 13 MP Last Month    32.4431
Name: 14486, dtype: object
14487 261.76 13 MP Last Month    20.1354
Name: 14487, dtype: object
14488 50.71000000000001 14 MP Last Month    3.62214
Name: 14488, dtype: object
14489 390.49 16 MP Last Month    24.4056
Name: 14489, dtype: object
14490 107.72 11 MP Last Month    9.79273
Name: 14490, dtype: object
14491 115.63 16 MP Last Month    7.22687
Name: 14491, dtype: object
14492 249.03 14 MP Last Month    17.7879
Name: 14492, dtype: object
14493 411.09000000000003 16 MP Last Month    25.6931
Name: 14493, dtype: object
14494 527.98 16 MP Last Month    32.9988
Name: 14494, dtype: object
14495 375.72 14 MP Last Month    26.8371
Name: 14495, dtype: object
14496 516.0699999999999 16 MP Last Month    32.2544
Name: 14496, dtype: object
14497 0 0 MP Last Month    0
Name: 14497, dtype: object
14498 274.9 15 MP Last Month    18.3267
Name: 14498, dtype: object
14499 504.88000000000005 16 MP Last Month    31.555
Name: 14499, dtype: object
14500 32.17 16 MP Last Month    2.01063
Name: 14500, dtype: object
14501 0.0 9 MP Last Month    0
Name: 14501, dtype: object
14502 536.0899999999999 15 MP Last Month    35.7393
Name: 14502, dtype: object
14503 256.54 15 MP Last Month    17.1027
Name: 14503, dtype: object
14504 10.23 4 MP Last Month    2.5575
Name: 14504, dtype: object
14505 462.40999999999997 15 MP Last Month    30.8273
Name: 14505, dtype: object
14506 337.93999999999994 15 MP Last Month    22.5293
Name: 14506, dtype: object
14507 160.62 15 MP Last Month    10.708
Name: 14507, dtype: object
14508 96.69000000000001 15 MP Last Month    6.446
Name: 14508, dtype: object
14509 258.88 15 MP Last Month    17.2587
Name: 14509, dtype: object
14510 426.9000000000001 15 MP Last Month    28.46
Name: 14510, dtype: object
14511 248.46 15 MP Last Month    16.564
Name: 14511, dtype: object
14512 293.97 14 MP Last Month    20.9979
Name: 14512, dtype: object
14513 412.59000000000003 14 MP Last Month    29.4707
Name: 14513, dtype: object
14514 383.40000000000003 14 MP Last Month    27.3857
Name: 14514, dtype: object
14515 471.90999999999997 14 MP Last Month    33.7079
Name: 14515, dtype: object
14516 303.68 14 MP Last Month    21.6914
Name: 14516, dtype: object
14517 96.71 14 MP Last Month    6.90786
Name: 14517, dtype: object
14518 292.61 13 MP Last Month    22.5085
Name: 14518, dtype: object
14519 46.24 14 MP Last Month    3.30286
Name: 14519, dtype: object
14520 427.25 14 MP Last Month    30.5179
Name: 14520, dtype: object
14521 13.7 6 MP Last Month    2.28333
Name: 14521, dtype: object
14522 268.42 14 MP Last Month    19.1729
Name: 14522, dtype: object
14523 24.189999999999998 10 MP Last Month    2.419
Name: 14523, dtype: object
14524 463.66 14 MP Last Month    33.1186
Name: 14524, dtype: object
14525 94.13 12 MP Last Month    7.84417
Name: 14525, dtype: object
14526 413.04 14 MP Last Month    29.5029
Name: 14526, dtype: object
14527 272.08 14 MP Last Month    19.4343
Name: 14527, dtype: object
14528 326.57 13 MP Last Month    25.1208
Name: 14528, dtype: object
14529 165.77 14 MP Last Month    11.8407
Name: 14529, dtype: object
14530 34.510000000000005 12 MP Last Month    2.87583
Name: 14530, dtype: object
14531 0.7 1 MP Last Month    0.7
Name: 14531, dtype: object
14532 429.81 14 MP Last Month    30.7007
Name: 14532, dtype: object
14533 336.40999999999997 14 MP Last Month    24.0293
Name: 14533, dtype: object
14534 50.15 13 MP Last Month    3.85769
Name: 14534, dtype: object
14535 581.3 15 MP Last Month    38.7533
Name: 14535, dtype: object
14536 441.2699999999999 15 MP Last Month    29.418
Name: 14536, dtype: object
14537 174.20999999999998 11 MP Last Month    15.8373
Name: 14537, dtype: object
14538 11.25 4 MP Last Month    2.8125
Name: 14538, dtype: object
14539 10.42 6 MP Last Month    1.73667
Name: 14539, dtype: object
14540 84.72999999999999 5 MP Last Month    16.946
Name: 14540, dtype: object
14541 493.26 14 MP Last Month    35.2329
Name: 14541, dtype: object
14542 486.67 15 MP Last Month    32.4447
Name: 14542, dtype: object
14543 226.61000000000004 15 MP Last Month    15.1073
Name: 14543, dtype: object
14544 130.73 15 MP Last Month    8.71533
Name: 14544, dtype: object
14545 354.26 15 MP Last Month    23.6173
Name: 14545, dtype: object

14546 390.96 12 MP Last Month    32.58
Name: 14546, dtype: object
14547 406.17999999999995 14 MP Last Month    29.0129
Name: 14547, dtype: object
14548 324.46000000000004 14 MP Last Month    23.1757
Name: 14548, dtype: object
14549 62.300000000000004 14 MP Last Month    4.45
Name: 14549, dtype: object
14550 312.08 11 MP Last Month    28.3709
Name: 14550, dtype: object
14551 435.44 14 MP Last Month    31.1029
Name: 14551, dtype: object
14552 345.81 13 MP Last Month    26.6008
Name: 14552, dtype: object
14553 317.46000000000004 13 MP Last Month    24.42
Name: 14553, dtype: object
14554 133.93 14 MP Last Month    9.56643
Name: 14554, dtype: object
14555 213.29 9 MP Last Month    23.6989
Name: 14555, dtype: object
14556 100.08999999999997 9 MP Last Month    11.1211
Name: 14556, dtype: object
14557 255.63000000000002 14 MP Last Month    18.2593
Name: 14557, dtype: object
14558 59.46 10 MP Last Month    5.946
Name: 14558, dtype: object
14559 410.22 12 MP Last Month    34.185
Name: 14559, dtype: object
14560 310.34 12 MP Last Month    25.8617
Name: 14560, dtype: object
14561 290.88 12 MP Last Month    24.24
Name: 14561, dtype: object
14562 23.75 9 MP Last Month    2.63889
Name: 14562, dtype: object
14563 103.64000000000001 4 MP Last Month    25.91
Name: 14563, dtype: object
14564 357.13 12 MP Last Month    29.7608
Name: 14564, dtype: object
14565 187.52 12 MP Last Month    15.6267
Name: 14565, dtype: object
14566 301.28 12 MP Last Month    25.1067
Name: 14566, dtype: object
14567 12.31 11 MP Last Month    1.11909
Name: 14567, dtype: object
14568 399.55 12 MP Last Month    33.2958
Name: 14568, dtype: object
14569 292.11 12 MP Last Month    24.3425
Name: 14569, dtype: object
14570 138.5 6 MP Last Month    23.0833
Name: 14570, dtype: object
14571 313.71 14 MP Last Month    22.4079
Name: 14571, dtype: object
14572 277.46000000000004 14 MP Last Month    19.8186
Name: 14572, dtype: object
14573 247.63000000000002 14 MP Last Month    17.6879
Name: 14573, dtype: object
14574 384.65999999999997 14 MP Last Month    27.4757
Name: 14574, dtype: object
14575 23.93 13 MP Last Month    1.84077
Name: 14575, dtype: object
14576 429.77 13 MP Last Month    33.0592
Name: 14576, dtype: object
14577 212.82999999999998 14 MP Last Month    15.2021
Name: 14577, dtype: object
14578 256.60999999999996 14 MP Last Month    18.3293
Name: 14578, dtype: object
14579 469.41999999999996 14 MP Last Month    33.53
Name: 14579, dtype: object
14580 142.60999999999999 13 MP Last Month    10.97
Name: 14580, dtype: object
14581 355.93999999999994 14 MP Last Month    25.4243
Name: 14581, dtype: object
14582 183.76 14 MP Last Month    13.1257
Name: 14582, dtype: object
14583 391.37 14 MP Last Month    27.955
Name: 14583, dtype: object
14584 335.84999999999997 14 MP Last Month    23.9893
Name: 14584, dtype: object
14585 452.15999999999997 14 MP Last Month    32.2971
Name: 14585, dtype: object
14586 434.62999999999994 14 MP Last Month    31.045
Name: 14586, dtype: object
14587 201.26 14 MP Last Month    14.3757
Name: 14587, dtype: object
14588 63.21 14 MP Last Month    4.515
Name: 14588, dtype: object
14589 334.88999999999993 14 MP Last Month    23.9207
Name: 14589, dtype: object
14590 6.18 3 MP Last Month    2.06
Name: 14590, dtype: object
14591 213.71 14 MP Last Month    15.265
Name: 14591, dtype: object
14592 91.31 14 MP Last Month    6.52214
Name: 14592, dtype: object
14593 334.45 12 MP Last Month    27.8708
Name: 14593, dtype: object
14594 270.21000000000004 12 MP Last Month    22.5175
Name: 14594, dtype: object
14595 322.7400000000001 13 MP Last Month    24.8262
Name: 14595, dtype: object
14596 31.720000000000002 13 MP Last Month    2.44
Name: 14596, dtype: object
14597 449.2 13 MP Last Month    34.5538
Name: 14597, dtype: object
14598 261.52000000000004 13 MP Last Month    20.1169
Name: 14598, dtype: object
14599 245.35000000000002 12 MP Last Month    20.4458
Name: 14599, dtype: object
14600 35.3 4 MP Last Month    8.825
Name: 14600, dtype: object
14601 269.46999999999997 12 MP Last Month    22.4558
Name: 14601, dtype: object
14602 0.0 12 MP Last Month    0
Name: 14602, dtype: object
14603 300.2 13 MP Last Month    23.0923
Name: 14603, dtype: object
14604 298.25 12 MP Last Month    24.8542
Name: 14604, dtype: object
14605 301.58 13 MP Last Month    23.1985
Name: 14605, dtype: object
14606 545.4 15 MP Last Month    36.36
Name: 14606, dtype: object
14607 402.42999999999995 14 MP Last Month    28.745
Name: 14607, dtype: object
14608 23.299999999999997 14 MP Last Month    1.66429
Name: 14608, dtype: object
14609 495.46999999999997 15 MP Last Month    33.0313
Name: 14609, dtype: object
14610 513.0799999999999 15 MP Last Month    34.2053
Name: 14610, dtype: object
14611 290.18 15 MP Last Month    19.3453
Name: 14611, dtype: object
14612 129.32 15 MP Last Month    8.62133
Name: 14612, dtype: object
14613 155.91 15 MP Last Month    10.394
Name: 14613, dtype: object
14614 519.8699999999999 15 MP Last Month    34.658
Name: 14614, dtype: object
14615 192.94000000000003 15 MP Last Month    12.8627
Name: 14615, dtype: object
14616 460.51 15 MP Last Month    30.7007
Name: 14616, dtype: object
14617 228.95 15 MP Last Month    15.2633
Name: 14617, dtype: object
14618 391.4999999999999 15 MP Last Month    26.1
Name: 14618, dtype: object
14619 483.6 15 MP Last Month    32.24
Name: 14619, dtype: object
14620 419.54 15 MP Last Month    27.9693
Name: 14620, dtype: object
14621 234.0 10 MP Last Month    23.4
Name: 14621, dtype: object
14622 368.7 15 MP Last Month    24.58
Name: 14622, dtype: object
14623 98.38 14 MP Last Month    7.02714
Name: 14623, dtype: object
14624 439.36 15 MP Last Month    29.2907
Name: 14624, dtype: object
14625 121.38000000000001 13 MP Last Month    9.33692
Name: 14625, dtype: object
14626 52.11 3 MP Last Month    17.37
Name: 14626, dtype: object
14627 170.42 15 MP Last Month    11.3613
Name: 14627, dtype: object
14628 399.1 15 MP Last Month    26.6067
Name: 14628, dtype: object
14629 324.59000000000003 15 MP Last Month    21.6393
Name: 14629, dtype: object
14630 445.09000000000003 15 MP Last Month    29.6727
Name: 14630, dtype: object
14631 503.34 15 MP Last Month    33.556
Name: 14631, dtype: object
14632 332.75 15 MP Last Month    22.1833
Name: 14632, dtype: object
14633 310.68 14 MP Last Month    22.1914
Name: 14633, dtype: object
14634 105.80999999999999 15 MP Last Month    7.054
Name: 14634, dtype: object
14635 52.120000000000005 15 MP Last Month    3.47467
Name: 14635, dtype: object
14636 456.88 15 MP Last Month    30.4587
Name: 14636, dtype: object
14637 33.629999999999995 7 MP Last Month    4.80429
Name: 14637, dtype: object
14638 282.07 15 MP Last Month    18.8047
Name: 14638, dtype: object
14639 28.61 11 MP Last Month    2.60091
Name: 14639, dtype: object
14640 442.84 15 MP Last Month    29.5227
Name: 14640, dtype: object
14641 290.23 14 MP Last Month    20.7307
Name: 14641, dtype: object
14642 80.4 14 MP Last Month    5.74286
Name: 14642, dtype: object
14643 476.0100000000001 15 MP Last Month    31.734
Name: 14643, dtype: object
14644 117.73000000000002 15 MP Last Month    7.84867
Name: 14644, dtype: object
14645 254.89 15 MP Last Month    16.9927
Name: 14645, dtype: object
14646 144.89000000000001 15 MP Last Month    9.65933
Name: 14646, dtype: object
14647 360.4 13 MP Last Month    27.7231
Name: 14647, dtype: object
14648 437.4799999999999 14 MP Last Month    31.2486
Name: 14648, dtype: object
14649 272.66 13 MP Last Month    20.9738
Name: 14649, dtype: object
14650 10.05 5 MP Last Month    2.01
Name: 14650, dtype: object
14651 415.03999999999996 14 MP Last Month    29.6457
Name: 14651, dtype: object
14652 191.97 15 MP Last Month    12.798
Name: 14652, dtype: object
14653 430.2 15 MP Last Month    28.68
Name: 14653, dtype: object
14654 370.03999999999996 15 MP Last Month    24.6693
Name: 14654, dtype: object
14655 415.1 14 MP Last Month    29.65
Name: 14655, dtype: object
14656 44.599999999999994 7 MP Last Month    6.37143
Name: 14656, dtype: object
14657 71.23 4 MP Last Month    17.8075
Name: 14657, dtype: object
14658 382.5799999999999 15 MP Last Month    25.5053
Name: 14658, dtype: object
14659 355.64 15 MP Last Month    23.7093
Name: 14659, dtype: object
14660 0.0 1 MP Last Month    0
Name: 14660, dtype: object

14661 288.8399999999999 14 MP Last Month    20.6314
Name: 14661, dtype: object
14662 60.879999999999995 15 MP Last Month    4.05867
Name: 14662, dtype: object
14663 259.66 8 MP Last Month    32.4575
Name: 14663, dtype: object
14664 411.03999999999996 13 MP Last Month    31.6185
Name: 14664, dtype: object
14665 312.59000000000003 13 MP Last Month    24.0454
Name: 14665, dtype: object
14666 255.79 13 MP Last Month    19.6762
Name: 14666, dtype: object
14667 116.75999999999999 13 MP Last Month    8.98154
Name: 14667, dtype: object
14668 223.94 12 MP Last Month    18.6617
Name: 14668, dtype: object
14669 430.35 13 MP Last Month    33.1038
Name: 14669, dtype: object
14670 118.13999999999999 13 MP Last Month    9.08769
Name: 14670, dtype: object
14671 18.490000000000002 10 MP Last Month    1.849
Name: 14671, dtype: object
14672 126.71000000000001 6 MP Last Month    21.1183
Name: 14672, dtype: object
14673 215.23999999999998 13 MP Last Month    16.5569
Name: 14673, dtype: object
14674 28.05 13 MP Last Month    2.15769
Name: 14674, dtype: object
14675 470.8599999999999 14 MP Last Month    33.6329
Name: 14675, dtype: object
14676 209.04999999999998 14 MP Last Month    14.9321
Name: 14676, dtype: object
14677 172.82 13 MP Last Month    13.2938
Name: 14677, dtype: object
14678 225.82 13 MP Last Month    17.3708
Name: 14678, dtype: object
14679 354.54 11 MP Last Month    32.2309
Name: 14679, dtype: object
14680 441.62 14 MP Last Month    31.5443
Name: 14680, dtype: object
14681 456.11 14 MP Last Month    32.5793
Name: 14681, dtype: object
14682 226.91 14 MP Last Month    16.2079
Name: 14682, dtype: object
14683 221.7 14 MP Last Month    15.8357
Name: 14683, dtype: object
14684 42.32000000000001 12 MP Last Month    3.52667
Name: 14684, dtype: object
14685 88.32000000000001 7 MP Last Month    12.6171
Name: 14685, dtype: object
14686 60.230000000000004 13 MP Last Month    4.63308
Name: 14686, dtype: object
14687 435.21999999999997 15 MP Last Month    29.0147
Name: 14687, dtype: object
14688 108.92 11 MP Last Month    9.90182
Name: 14688, dtype: object
14689 435.76 15 MP Last Month    29.0507
Name: 14689, dtype: object
14690 414.18000000000006 14 MP Last Month    29.5843
Name: 14690, dtype: object
14691 235.71 14 MP Last Month    16.8364
Name: 14691, dtype: object
14692 473.96 15 MP Last Month    31.5973
Name: 14692, dtype: object
14693 149.51 12 MP Last Month    12.4592
Name: 14693, dtype: object
14694 218.43 12 MP Last Month    18.2025
Name: 14694, dtype: object
14695 211.77 12 MP Last Month    17.6475
Name: 14695, dtype: object
14696 131.88 12 MP Last Month    10.99
Name: 14696, dtype: object
14697 140.81 5 MP Last Month    28.162
Name: 14697, dtype: object
14698 146.42000000000002 15 MP Last Month    9.76133
Name: 14698, dtype: object
14699 241.0 16 MP Last Month    15.0625
Name: 14699, dtype: object
14700 227.59 16 MP Last Month    14.2244
Name: 14700, dtype: object
14701 505.15000000000003 16 MP Last Month    31.5719
Name: 14701, dtype: object
14702 519.89 16 MP Last Month    32.4931
Name: 14702, dtype: object
14703 332.95000000000005 16 MP Last Month    20.8094
Name: 14703, dtype: object
14704 497.33 16 MP Last Month    31.0831
Name: 14704, dtype: object
14705 241.29000000000002 16 MP Last Month    15.0806
Name: 14705, dtype: object
14706 247.36000000000004 15 MP Last Month    16.4907
Name: 14706, dtype: object
14707 109.47000000000001 12 MP Last Month    9.1225
Name: 14707, dtype: object
14708 27.439999999999998 15 MP Last Month    1.82933
Name: 14708, dtype: object
14709 472.85 13 MP Last Month    36.3731
Name: 14709, dtype: object
14710 456.57 13 MP Last Month    35.1208
Name: 14710, dtype: object
14711 101.41 13 MP Last Month    7.80077
Name: 14711, dtype: object
14712 162.01 11 MP Last Month    14.7282
Name: 14712, dtype: object
14713 467.35999999999996 13 MP Last Month    35.9508
Name: 14713, dtype: object
14714 253.22000000000003 11 MP Last Month    23.02
Name: 14714, dtype: object
14715 3.77 1 MP Last Month    3.77
Name: 14715, dtype: object
14716 145.89000000000001 13 MP Last Month    11.2223
Name: 14716, dtype: object
14717 292.98 13 MP Last Month    22.5369
Name: 14717, dtype: object
14718 430.08 13 MP Last Month    33.0831
Name: 14718, dtype: object
14719 99.28 13 MP Last Month    7.63692
Name: 14719, dtype: object
14720 251.41 13 MP Last Month    19.3392
Name: 14720, dtype: object
14721 551.3 14 MP Last Month    39.3786
Name: 14721, dtype: object
14722 99.69999999999999 13 MP Last Month    7.66923
Name: 14722, dtype: object
14723 361.47999999999996 10 MP Last Month    36.148
Name: 14723, dtype: object
14724 367.48999999999995 14 MP Last Month    26.2493
Name: 14724, dtype: object
14725 45.24 4 MP Last Month    11.31
Name: 14725, dtype: object
14726 34.35 14 MP Last Month    2.45357
Name: 14726, dtype: object
14727 514.68 14 MP Last Month    36.7629
Name: 14727, dtype: object
14728 347.82000000000005 14 MP Last Month    24.8443
Name: 14728, dtype: object
14729 495.16 14 MP Last Month    35.3686
Name: 14729, dtype: object
14730 4.25 13 MP Last Month    0.326923
Name: 14730, dtype: object
14731 148.42 14 MP Last Month    10.6014
Name: 14731, dtype: object
14732 463.13 14 MP Last Month    33.0807
Name: 14732, dtype: object
14733 363.24 14 MP Last Month    25.9457
Name: 14733, dtype: object
14734 353.30000000000007 14 MP Last Month    25.2357
Name: 14734, dtype: object
14735 52.599999999999994 13 MP Last Month    4.04615
Name: 14735, dtype: object
14736 4.37 2 MP Last Month    2.185
Name: 14736, dtype: object
14737 461.84 14 MP Last Month    32.9886
Name: 14737, dtype: object
14738 187.0 11 MP Last Month    17
Name: 14738, dtype: object
14739 457.89000000000004 14 MP Last Month    32.7064
Name: 14739, dtype: object
14740 252.61 14 MP Last Month    18.0436
Name: 14740, dtype: object
14741 6.17 5 MP Last Month    1.234
Name: 14741, dtype: object
14742 374.02000000000004 14 MP Last Month    26.7157
Name: 14742, dtype: object
14743 61.120000000000005 13 MP Last Month    4.70154
Name: 14743, dtype: object
14744 495.57 15 MP Last Month    33.038
Name: 14744, dtype: object
14745 373.47 11 MP Last Month    33.9518
Name: 14745, dtype: object
14746 459.22999999999996 15 MP Last Month    30.6153
Name: 14746, dtype: object
14747 60.540000000000006 4 MP Last Month    15.135
Name: 14747, dtype: object
14748 446.8300000000001 13 MP Last Month    34.3715
Name: 14748, dtype: object
14749 390.93999999999994 15 MP Last Month    26.0627
Name: 14749, dtype: object
14750 240.15999999999997 15 MP Last Month    16.0107
Name: 14750, dtype: object
14751 112.71 15 MP Last Month    7.514
Name: 14751, dtype: object
14752 223.26 15 MP Last Month    14.884
Name: 14752, dtype: object
14753 180.66 9 MP Last Month    20.0733
Name: 14753, dtype: object
14754 58.959999999999994 15 MP Last Month    3.93067
Name: 14754, dtype: object
14755 233.32999999999998 14 MP Last Month    16.6664
Name: 14755, dtype: object
14756 410.07000000000005 14 MP Last Month    29.2907
Name: 14756, dtype: object
14757 310.02000000000004 11 MP Last Month    28.1836
Name: 14757, dtype: object
14758 311.09000000000003 14 MP Last Month    22.2207
Name: 14758, dtype: object
14759 417.83 14 MP Last Month    29.845
Name: 14759, dtype: object
14760 219.17000000000004 14 MP Last Month    15.655
Name: 14760, dtype: object
14761 260.0 14 MP Last Month    18.5714
Name: 14761, dtype: object
14762 75.03 13 MP Last Month    5.77154
Name: 14762, dtype: object
14763 388.63999999999993 14 MP Last Month    27.76
Name: 14763, dtype: object
14764 88.86000000000001 6 MP Last Month    14.81
Name: 14764, dtype: object
14765 193.58999999999997 11 MP Last Month    17.5991
Name: 14765, dtype: object
14766 159.02 14 MP Last Month    11.3586
Name: 14766, dtype: object
14767 0 0 MP Last Month    0
Name: 14767, dtype: object
14768 18.41 13 MP Last Month    1.41615
Name: 14768, dtype: object
14769 210.35000000000002 8 MP Last Month    26.2938
Name: 14769, dtype: object
14770 146.67000000000002 6 MP Last Month    24.445
Name: 14770, dtype: object
14771 350.85 14 MP Last Month    25.0607
Name: 14771, dtype: object
14772 57.35 11 MP Last Month    5.21364
Name: 14772, dtype: object
14773 503.19000000000005 14 MP Last Month    35.9421
Name: 14773, dtype: object

14774 315.34000000000003 14 MP Last Month    22.5243
Name: 14774, dtype: object
14775 335.56 14 MP Last Month    23.9686
Name: 14775, dtype: object
14776 126.25999999999999 14 MP Last Month    9.01857
Name: 14776, dtype: object
14777 0.0 1 MP Last Month    0
Name: 14777, dtype: object
14778 5.83 14 MP Last Month    0.416429
Name: 14778, dtype: object
14779 470.67 14 MP Last Month    33.6193
Name: 14779, dtype: object
14780 321.28000000000003 13 MP Last Month    24.7138
Name: 14780, dtype: object
14781 199.99 14 MP Last Month    14.285
Name: 14781, dtype: object
14782 409.4000000000001 13 MP Last Month    31.4923
Name: 14782, dtype: object
14783 115.57 11 MP Last Month    10.5064
Name: 14783, dtype: object
14784 128.31 7 MP Last Month    18.33
Name: 14784, dtype: object
14785 131.94 13 MP Last Month    10.1492
Name: 14785, dtype: object
14786 207.39000000000001 10 MP Last Month    20.739
Name: 14786, dtype: object
14787 466.27 13 MP Last Month    35.8669
Name: 14787, dtype: object
14788 74.92 11 MP Last Month    6.81091
Name: 14788, dtype: object
14789 106.31 12 MP Last Month    8.85917
Name: 14789, dtype: object
14790 377.48 13 MP Last Month    29.0369
Name: 14790, dtype: object
14791 238.32999999999998 13 MP Last Month    18.3331
Name: 14791, dtype: object
14792 464.0100000000001 14 MP Last Month    33.1436
Name: 14792, dtype: object
14793 362.48 14 MP Last Month    25.8914
Name: 14793, dtype: object
14794 266.22999999999996 14 MP Last Month    19.0164
Name: 14794, dtype: object
14795 71.42 10 MP Last Month    7.142
Name: 14795, dtype: object
14796 313.53 10 MP Last Month    31.353
Name: 14796, dtype: object
14797 374.51 12 MP Last Month    31.2092
Name: 14797, dtype: object
14798 300.87999999999994 11 MP Last Month    27.3527
Name: 14798, dtype: object
14799 165.92 12 MP Last Month    13.8267
Name: 14799, dtype: object
14800 306.3299999999999 14 MP Last Month    21.8807
Name: 14800, dtype: object
14801 250.10999999999999 13 MP Last Month    19.2392
Name: 14801, dtype: object
14802 530.87 15 MP Last Month    35.3913
Name: 14802, dtype: object
14803 262.5 15 MP Last Month    17.5
Name: 14803, dtype: object
14804 13.25 5 MP Last Month    2.65
Name: 14804, dtype: object
14805 340.03999999999996 15 MP Last Month    22.6693
Name: 14805, dtype: object
14806 170.76000000000002 15 MP Last Month    11.384
Name: 14806, dtype: object
14807 452.4599999999999 15 MP Last Month    30.164
Name: 14807, dtype: object
14808 109.52 15 MP Last Month    7.30133
Name: 14808, dtype: object
14809 415.92000000000013 15 MP Last Month    27.728
Name: 14809, dtype: object
14810 273.35999999999996 15 MP Last Month    18.224
Name: 14810, dtype: object
14811 262.85999999999996 15 MP Last Month    17.524
Name: 14811, dtype: object
14812 306.86 14 MP Last Month    21.9186
Name: 14812, dtype: object
14813 420.47 13 MP Last Month    32.3438
Name: 14813, dtype: object
14814 132.98 7 MP Last Month    18.9971
Name: 14814, dtype: object
14815 387.52000000000004 11 MP Last Month    35.2291
Name: 14815, dtype: object
14816 356.07 12 MP Last Month    29.6725
Name: 14816, dtype: object
14817 305.72999999999996 14 MP Last Month    21.8379
Name: 14817, dtype: object
14818 216.95999999999998 10 MP Last Month    21.696
Name: 14818, dtype: object
14819 140.86 14 MP Last Month    10.0614
Name: 14819, dtype: object
14820 22.52 10 MP Last Month    2.252
Name: 14820, dtype: object
14821 424.1499999999999 13 MP Last Month    32.6269
Name: 14821, dtype: object
14822 331.03 11 MP Last Month    30.0936
Name: 14822, dtype: object
14823 202.57 14 MP Last Month    14.4693
Name: 14823, dtype: object
14824 40.16 12 MP Last Month    3.34667
Name: 14824, dtype: object
14825 473.94 14 MP Last Month    33.8529
Name: 14825, dtype: object
14826 422.62000000000006 14 MP Last Month    30.1871
Name: 14826, dtype: object
14827 165.78000000000003 14 MP Last Month    11.8414
Name: 14827, dtype: object
14828 340.79999999999995 13 MP Last Month    26.2154
Name: 14828, dtype: object
14829 277.90000000000003 14 MP Last Month    19.85
Name: 14829, dtype: object
14830 33.1 12 MP Last Month    2.75833
Name: 14830, dtype: object
14831 0.7 2 MP Last Month    0.35
Name: 14831, dtype: object
14832 444.76 14 MP Last Month    31.7686
Name: 14832, dtype: object
14833 329.41 14 MP Last Month    23.5293
Name: 14833, dtype: object
14834 40.92 13 MP Last Month    3.14769
Name: 14834, dtype: object
14835 574.53 15 MP Last Month    38.302
Name: 14835, dtype: object
14836 442.87 15 MP Last Month    29.5247
Name: 14836, dtype: object
14837 192.92999999999998 12 MP Last Month    16.0775
Name: 14837, dtype: object
14838 13.83 5 MP Last Month    2.766
Name: 14838, dtype: object
14839 13.0 7 MP Last Month    1.85714
Name: 14839, dtype: object
14840 484.59 13 MP Last Month    37.2762
Name: 14840, dtype: object
14841 480.69 15 MP Last Month    32.046
Name: 14841, dtype: object
14842 110.97 5 MP Last Month    22.194
Name: 14842, dtype: object
14843 234.94000000000003 15 MP Last Month    15.6627
Name: 14843, dtype: object
14844 348.64 15 MP Last Month    23.2427
Name: 14844, dtype: object
14845 148.97 15 MP Last Month    9.93133
Name: 14845, dtype: object
14846 385.54 12 MP Last Month    32.1283
Name: 14846, dtype: object
14847 400.08000000000004 14 MP Last Month    28.5771
Name: 14847, dtype: object
14848 306.39 14 MP Last Month    21.885
Name: 14848, dtype: object
14849 54.61000000000001 14 MP Last Month    3.90071
Name: 14849, dtype: object
14850 301.14000000000004 11 MP Last Month    27.3764
Name: 14850, dtype: object
14851 427.25000000000006 14 MP Last Month    30.5179
Name: 14851, dtype: object
14852 331.29 14 MP Last Month    23.6636
Name: 14852, dtype: object
14853 365.93 14 MP Last Month    26.1379
Name: 14853, dtype: object
14854 122.83 14 MP Last Month    8.77357
Name: 14854, dtype: object
14855 236.45999999999998 10 MP Last Month    23.646
Name: 14855, dtype: object
14856 254.30000000000004 14 MP Last Month    18.1643
Name: 14856, dtype: object
14857 100.28999999999999 9 MP Last Month    11.1433
Name: 14857, dtype: object
14858 61.99 11 MP Last Month    5.63545
Name: 14858, dtype: object
14859 435.60999999999996 14 MP Last Month    31.115
Name: 14859, dtype: object
14860 286.16 9 MP Last Month    31.7956
Name: 14860, dtype: object
14861 273.64 14 MP Last Month    19.5457
Name: 14861, dtype: object
14862 337.37 14 MP Last Month    24.0979
Name: 14862, dtype: object
14863 130.19 14 MP Last Month    9.29929
Name: 14863, dtype: object
14864 456.13 14 MP Last Month    32.5807
Name: 14864, dtype: object
14865 253.39 13 MP Last Month    19.4915
Name: 14865, dtype: object
14866 18.490000000000002 11 MP Last Month    1.68091
Name: 14866, dtype: object
14867 122.46 13 MP Last Month    9.42
Name: 14867, dtype: object
14868 228.57 14 MP Last Month    16.3264
Name: 14868, dtype: object
14869 36.82 14 MP Last Month    2.63
Name: 14869, dtype: object
14870 465.03999999999996 14 MP Last Month    33.2171
Name: 14870, dtype: object
14871 179.73999999999998 14 MP Last Month    12.8386
Name: 14871, dtype: object
14872 221.54999999999998 14 MP Last Month    15.825
Name: 14872, dtype: object
14873 13.8 2 MP Last Month    6.9
Name: 14873, dtype: object
14874 449.3300000000001 14 MP Last Month    32.095
Name: 14874, dtype: object
14875 427.24 14 MP Last Month    30.5171
Name: 14875, dtype: object
14876 244.53 14 MP Last Month    17.4664
Name: 14876, dtype: object
14877 346.24 11 MP Last Month    31.4764
Name: 14877, dtype: object
14878 227.59999999999997 14 MP Last Month    16.2571
Name: 14878, dtype: object
14879 50.10000000000001 12 MP Last Month    4.175
Name: 14879, dtype: object
14880 110.67000000000002 7 MP Last Month    15.81
Name: 14880, dtype: object
14881 59.260000000000005 13 MP Last Month    4.55846
Name: 14881, dtype: object
14882 442.39000000000004 13 MP Last Month    34.03
Name: 14882, dtype: object
14883 314.75 13 MP Last Month    24.2115
Name: 14883, dtype: object
14884 341.37 13 MP Last Month    26.2592
Name: 14884, dtype: object
14885 26.82 10 MP Last Month    2.682
Name: 14885, dtype: object
14886 0 0 MP Last Month    0
Name: 14886, dtype: object
14887 387.55 13 MP Last Month    29.8115
Name: 14887, dtype: object
14888 323.65 13 MP Last Month    24.8962
Name: 14888, dtype: object

14889 15.38 12 MP Last Month    1.28167
Name: 14889, dtype: object
14890 427.35 13 MP Last Month    32.8731
Name: 14890, dtype: object
14891 162.18 7 MP Last Month    23.1686
Name: 14891, dtype: object
14892 312.31 13 MP Last Month    24.0238
Name: 14892, dtype: object
14893 381.58 14 MP Last Month    27.2557
Name: 14893, dtype: object
14894 303.65999999999997 14 MP Last Month    21.69
Name: 14894, dtype: object
14895 277.17 14 MP Last Month    19.7979
Name: 14895, dtype: object
14896 40.5 13 MP Last Month    3.11538
Name: 14896, dtype: object
14897 244.75000000000003 14 MP Last Month    17.4821
Name: 14897, dtype: object
14898 460.2 14 MP Last Month    32.8714
Name: 14898, dtype: object
14899 217.35 14 MP Last Month    15.525
Name: 14899, dtype: object
14900 254.61000000000004 14 MP Last Month    18.1864
Name: 14900, dtype: object
14901 474.42999999999995 13 MP Last Month    36.4946
Name: 14901, dtype: object
14902 469.16999999999996 14 MP Last Month    33.5121
Name: 14902, dtype: object
14903 153.15 13 MP Last Month    11.7808
Name: 14903, dtype: object
14904 82.35 10 MP Last Month    8.235
Name: 14904, dtype: object
14905 178.85999999999999 14 MP Last Month    12.7757
Name: 14905, dtype: object
14906 334.36 14 MP Last Month    23.8829
Name: 14906, dtype: object
14907 358.15999999999997 14 MP Last Month    25.5829
Name: 14907, dtype: object
14908 395.31 14 MP Last Month    28.2364
Name: 14908, dtype: object
14909 446.50999999999993 14 MP Last Month    31.8936
Name: 14909, dtype: object
14910 460.65999999999997 14 MP Last Month    32.9043
Name: 14910, dtype: object
14911 190.21999999999997 14 MP Last Month    13.5871
Name: 14911, dtype: object
14912 55.160000000000004 14 MP Last Month    3.94
Name: 14912, dtype: object
14913 335.1599999999999 14 MP Last Month    23.94
Name: 14913, dtype: object
14914 212.46 14 MP Last Month    15.1757
Name: 14914, dtype: object
14915 81.32000000000001 14 MP Last Month    5.80857
Name: 14915, dtype: object
14916 10.53 4 MP Last Month    2.6325
Name: 14916, dtype: object
14917 441.48 13 MP Last Month    33.96
Name: 14917, dtype: object
14918 231.55 14 MP Last Month    16.5393
Name: 14918, dtype: object
14919 406.2 13 MP Last Month    31.2462
Name: 14919, dtype: object
14920 118.36 11 MP Last Month    10.76
Name: 14920, dtype: object
14921 329.91999999999996 14 MP Last Month    23.5657
Name: 14921, dtype: object
14922 94.13000000000001 11 MP Last Month    8.55727
Name: 14922, dtype: object
14923 447.97 14 MP Last Month    31.9979
Name: 14923, dtype: object
14924 401.34 13 MP Last Month    30.8723
Name: 14924, dtype: object
14925 7.07 7 MP Last Month    1.01
Name: 14925, dtype: object
14926 462.88 14 MP Last Month    33.0629
Name: 14926, dtype: object
14927 362.27000000000004 14 MP Last Month    25.8764
Name: 14927, dtype: object
14928 106.30000000000001 11 MP Last Month    9.66364
Name: 14928, dtype: object
14929 29.490000000000002 12 MP Last Month    2.4575
Name: 14929, dtype: object
14930 337.37 12 MP Last Month    28.1142
Name: 14930, dtype: object
14931 273.85 12 MP Last Month    22.8208
Name: 14931, dtype: object
14932 316.49999999999994 13 MP Last Month    24.3462
Name: 14932, dtype: object
14933 14.79 13 MP Last Month    1.13769
Name: 14933, dtype: object
14934 457.43 13 MP Last Month    35.1869
Name: 14934, dtype: object
14935 264.02 13 MP Last Month    20.3092
Name: 14935, dtype: object
14936 255.33 12 MP Last Month    21.2775
Name: 14936, dtype: object
14937 55.65 5 MP Last Month    11.13
Name: 14937, dtype: object
14938 0.0 12 MP Last Month    0
Name: 14938, dtype: object
14939 299.46 13 MP Last Month    23.0354
Name: 14939, dtype: object
14940 279.28000000000003 13 MP Last Month    21.4831
Name: 14940, dtype: object
14941 246.73000000000002 12 MP Last Month    20.5608
Name: 14941, dtype: object
14942 353.92 14 MP Last Month    25.28
Name: 14942, dtype: object
14943 145.13 6 MP Last Month    24.1883
Name: 14943, dtype: object
14944 57.35 12 MP Last Month    4.77917
Name: 14944, dtype: object
14945 4.25 7 MP Last Month    0.607143
Name: 14945, dtype: object
14946 505.31000000000006 14 MP Last Month    36.0936
Name: 14946, dtype: object
14947 332.31 14 MP Last Month    23.7364
Name: 14947, dtype: object
14948 323.04999999999995 14 MP Last Month    23.075
Name: 14948, dtype: object
14949 5.83 14 MP Last Month    0.416429
Name: 14949, dtype: object
14950 131.60999999999999 14 MP Last Month    9.40071
Name: 14950, dtype: object
14951 0.0 2 MP Last Month    0
Name: 14951, dtype: object
14952 466.38 14 MP Last Month    33.3129
Name: 14952, dtype: object
14953 334.49000000000007 13 MP Last Month    25.73
Name: 14953, dtype: object
14954 203.58 14 MP Last Month    14.5414
Name: 14954, dtype: object
14955 436.18999999999994 12 MP Last Month    36.3492
Name: 14955, dtype: object
14956 134.03 5 MP Last Month    26.806
Name: 14956, dtype: object
14957 139.93 11 MP Last Month    12.7209
Name: 14957, dtype: object
14958 226.94 12 MP Last Month    18.9117
Name: 14958, dtype: object
14959 51.53999999999999 9 MP Last Month    5.72667
Name: 14959, dtype: object
14960 306.81 10 MP Last Month    30.681
Name: 14960, dtype: object
14961 322.2 11 MP Last Month    29.2909
Name: 14961, dtype: object
14962 18.63 11 MP Last Month    1.69364
Name: 14962, dtype: object
14963 196.23000000000005 12 MP Last Month    16.3525
Name: 14963, dtype: object
14964 406.49 11 MP Last Month    36.9536
Name: 14964, dtype: object
14965 374.99 11 MP Last Month    34.09
Name: 14965, dtype: object
14966 21.83 1 MP Last Month    21.83
Name: 14966, dtype: object
14967 144.88 12 MP Last Month    12.0733
Name: 14967, dtype: object
14968 556.75 15 MP Last Month    37.1167
Name: 14968, dtype: object
14969 406.26 14 MP Last Month    29.0186
Name: 14969, dtype: object
14970 23.299999999999997 14 MP Last Month    1.66429
Name: 14970, dtype: object
14971 522.3900000000001 15 MP Last Month    34.826
Name: 14971, dtype: object
14972 512.99 15 MP Last Month    34.1993
Name: 14972, dtype: object
14973 141.54 15 MP Last Month    9.436
Name: 14973, dtype: object
14974 310.07 15 MP Last Month    20.6713
Name: 14974, dtype: object
14975 162.35999999999999 15 MP Last Month    10.824
Name: 14975, dtype: object
14976 520.77 15 MP Last Month    34.718
Name: 14976, dtype: object
14977 186.55 15 MP Last Month    12.4367
Name: 14977, dtype: object
14978 381.61999999999995 13 MP Last Month    29.3554
Name: 14978, dtype: object
14979 85.32 12 MP Last Month    7.11
Name: 14979, dtype: object
14980 163.61 13 MP Last Month    12.5854
Name: 14980, dtype: object
14981 486.79 14 MP Last Month    34.7707
Name: 14981, dtype: object
14982 360.77000000000004 14 MP Last Month    25.7693
Name: 14982, dtype: object
14983 425.2900000000001 14 MP Last Month    30.3779
Name: 14983, dtype: object
14984 367.76 14 MP Last Month    26.2686
Name: 14984, dtype: object
14985 0.0 1 MP Last Month    0
Name: 14985, dtype: object
14986 181.74 11 MP Last Month    16.5218
Name: 14986, dtype: object
14987 399.6500000000001 13 MP Last Month    30.7423
Name: 14987, dtype: object
14988 66.66 12 MP Last Month    5.555
Name: 14988, dtype: object
14989 45.39 13 MP Last Month    3.49154
Name: 14989, dtype: object
14990 346.29 15 MP Last Month    23.086
Name: 14990, dtype: object
14991 107.96999999999998 11 MP Last Month    9.81545
Name: 14991, dtype: object
14992 77.85 15 MP Last Month    5.19
Name: 14992, dtype: object
14993 332.55 13 MP Last Month    25.5808
Name: 14993, dtype: object
14994 375.15999999999997 15 MP Last Month    25.0107
Name: 14994, dtype: object
14995 529.79 15 MP Last Month    35.3193
Name: 14995, dtype: object
14996 468.18999999999994 15 MP Last Month    31.2127
Name: 14996, dtype: object
14997 466.35 15 MP Last Month    31.09
Name: 14997, dtype: object
14998 260.43 14 MP Last Month    18.6021
Name: 14998, dtype: object
14999 9.03 1 MP Last Month    9.03
Name: 14999, dtype: object
15000 14.020000000000001 15 MP Last Month    0.934667
Name: 15000, dtype: object
15001 0.0 8 MP Last Month    0
Name: 15001, dtype: object
15002 452.90999999999997 15 MP Last Month    30.194
Name: 15002, dtype: object
15003 236.54999999999998 15 MP Last Month    15.77
Name: 15003, dtype: object
15004 409.80999999999995 15 MP Last Month    27.3207
Name: 15004, dtype: object

15005 485.76 15 MP Last Month    32.384
Name: 15005, dtype: object
15006 224.76999999999998 10 MP Last Month    22.477
Name: 15006, dtype: object
15007 388.4599999999999 15 MP Last Month    25.8973
Name: 15007, dtype: object
15008 380.59 15 MP Last Month    25.3727
Name: 15008, dtype: object
15009 101.97999999999999 15 MP Last Month    6.79867
Name: 15009, dtype: object
15010 434.69 15 MP Last Month    28.9793
Name: 15010, dtype: object
15011 45.86 3 MP Last Month    15.2867
Name: 15011, dtype: object
15012 144.33 13 MP Last Month    11.1023
Name: 15012, dtype: object
15013 159.14 15 MP Last Month    10.6093
Name: 15013, dtype: object
15014 420.4 15 MP Last Month    28.0267
Name: 15014, dtype: object
15015 454.99 15 MP Last Month    30.3327
Name: 15015, dtype: object
15016 329.53999999999996 15 MP Last Month    21.9693
Name: 15016, dtype: object
15017 526.9899999999999 15 MP Last Month    35.1327
Name: 15017, dtype: object
15018 331.58000000000004 15 MP Last Month    22.1053
Name: 15018, dtype: object
15019 336.36 15 MP Last Month    22.424
Name: 15019, dtype: object
15020 82.50999999999999 15 MP Last Month    5.50067
Name: 15020, dtype: object
15021 42.790000000000006 15 MP Last Month    2.85267
Name: 15021, dtype: object
15022 480.97999999999996 15 MP Last Month    32.0653
Name: 15022, dtype: object
15023 269.24999999999994 15 MP Last Month    17.95
Name: 15023, dtype: object
15024 49.41 8 MP Last Month    6.17625
Name: 15024, dtype: object
15025 28.61 12 MP Last Month    2.38417
Name: 15025, dtype: object
15026 480.79 14 MP Last Month    34.3421
Name: 15026, dtype: object
15027 0.0 1 MP Last Month    0
Name: 15027, dtype: object
15028 185.53 14 MP Last Month    13.2521
Name: 15028, dtype: object
15029 282.45000000000005 14 MP Last Month    20.175
Name: 15029, dtype: object
15030 429.29 14 MP Last Month    30.6636
Name: 15030, dtype: object
15031 349.3299999999999 13 MP Last Month    26.8715
Name: 15031, dtype: object
15032 3.7199999999999998 3 MP Last Month    1.24
Name: 15032, dtype: object
15033 47.62 12 MP Last Month    3.96833
Name: 15033, dtype: object
15034 450.8399999999999 14 MP Last Month    32.2029
Name: 15034, dtype: object
15035 335.88 14 MP Last Month    23.9914
Name: 15035, dtype: object
15036 35.94 13 MP Last Month    2.76462
Name: 15036, dtype: object
15037 439.99 15 MP Last Month    29.3327
Name: 15037, dtype: object
15038 435.36999999999995 14 MP Last Month    31.0979
Name: 15038, dtype: object
15039 12.920000000000002 6 MP Last Month    2.15333
Name: 15039, dtype: object
15040 478.76000000000005 15 MP Last Month    31.9173
Name: 15040, dtype: object
15041 272.16 13 MP Last Month    20.9354
Name: 15041, dtype: object
15042 310.90000000000003 15 MP Last Month    20.7267
Name: 15042, dtype: object
15043 253.89000000000001 15 MP Last Month    16.926
Name: 15043, dtype: object
15044 120.92000000000002 15 MP Last Month    8.06133
Name: 15044, dtype: object
15045 436.40999999999997 15 MP Last Month    29.094
Name: 15045, dtype: object
15046 435.29 15 MP Last Month    29.0193
Name: 15046, dtype: object
15047 405.25000000000006 14 MP Last Month    28.9464
Name: 15047, dtype: object
15048 233.93 14 MP Last Month    16.7093
Name: 15048, dtype: object
15049 129.6 11 MP Last Month    11.7818
Name: 15049, dtype: object
15050 469.21000000000004 15 MP Last Month    31.2807
Name: 15050, dtype: object
15051 213.94 12 MP Last Month    17.8283
Name: 15051, dtype: object
15052 206.04 12 MP Last Month    17.17
Name: 15052, dtype: object
15053 164.24 12 MP Last Month    13.6867
Name: 15053, dtype: object
15054 165.08 6 MP Last Month    27.5133
Name: 15054, dtype: object
15055 155.60999999999999 12 MP Last Month    12.9675
Name: 15055, dtype: object
15056 131.74 15 MP Last Month    8.78267
Name: 15056, dtype: object
15057 474.07000000000005 15 MP Last Month    31.6047
Name: 15057, dtype: object
15058 213.57 15 MP Last Month    14.238
Name: 15058, dtype: object
15059 194.7 15 MP Last Month    12.98
Name: 15059, dtype: object
15060 0 0 MP Last Month    0
Name: 15060, dtype: object
15061 489.70000000000005 15 MP Last Month    32.6467
Name: 15061, dtype: object
15062 308.5799999999999 15 MP Last Month    20.572
Name: 15062, dtype: object
15063 35.5 11 MP Last Month    3.22727
Name: 15063, dtype: object
15064 461.34 15 MP Last Month    30.756
Name: 15064, dtype: object
15065 251.12 14 MP Last Month    17.9371
Name: 15065, dtype: object
15066 229.12 15 MP Last Month    15.2747
Name: 15066, dtype: object
15067 116.47999999999999 12 MP Last Month    9.70667
Name: 15067, dtype: object
15068 27.439999999999998 14 MP Last Month    1.96
Name: 15068, dtype: object
15069 476.12000000000006 14 MP Last Month    34.0086
Name: 15069, dtype: object
15070 381.44 14 MP Last Month    27.2457
Name: 15070, dtype: object
15071 344.13 14 MP Last Month    24.5807
Name: 15071, dtype: object
15072 27.240000000000002 11 MP Last Month    2.47636
Name: 15072, dtype: object
15073 411.88 14 MP Last Month    29.42
Name: 15073, dtype: object
15074 15.9 1 MP Last Month    15.9
Name: 15074, dtype: object
15075 337.83 14 MP Last Month    24.1307
Name: 15075, dtype: object
15076 15.38 13 MP Last Month    1.18308
Name: 15076, dtype: object
15077 461.15000000000003 14 MP Last Month    32.9393
Name: 15077, dtype: object
15078 328.63 14 MP Last Month    23.4736
Name: 15078, dtype: object
15079 194.05 8 MP Last Month    24.2563
Name: 15079, dtype: object
15080 13.25 7 MP Last Month    1.89286
Name: 15080, dtype: object
15081 467.52000000000004 13 MP Last Month    35.9631
Name: 15081, dtype: object
15082 447.71999999999997 13 MP Last Month    34.44
Name: 15082, dtype: object
15083 156.18 11 MP Last Month    14.1982
Name: 15083, dtype: object
15084 108.23 13 MP Last Month    8.32538
Name: 15084, dtype: object
15085 462.41 13 MP Last Month    35.57
Name: 15085, dtype: object
15086 271.99 12 MP Last Month    22.6658
Name: 15086, dtype: object
15087 148.88 13 MP Last Month    11.4523
Name: 15087, dtype: object
15088 425.97 13 MP Last Month    32.7669
Name: 15088, dtype: object
15089 295.33000000000004 13 MP Last Month    22.7177
Name: 15089, dtype: object
15090 248.63000000000002 13 MP Last Month    19.1254
Name: 15090, dtype: object
15091 98.92999999999999 13 MP Last Month    7.61
Name: 15091, dtype: object
15092 545.4 14 MP Last Month    38.9571
Name: 15092, dtype: object
15093 366.71 10 MP Last Month    36.671
Name: 15093, dtype: object
15094 114.44999999999999 13 MP Last Month    8.80385
Name: 15094, dtype: object
15095 503.23 14 MP Last Month    35.945
Name: 15095, dtype: object
15096 368.21999999999997 14 MP Last Month    26.3014
Name: 15096, dtype: object
15097 355.71000000000004 14 MP Last Month    25.4079
Name: 15097, dtype: object
15098 65.29 5 MP Last Month    13.058
Name: 15098, dtype: object
15099 53.85 14 MP Last Month    3.84643
Name: 15099, dtype: object
15100 489.78 14 MP Last Month    34.9843
Name: 15100, dtype: object
15101 16.25 14 MP Last Month    1.16071
Name: 15101, dtype: object
15102 141.8 14 MP Last Month    10.1286
Name: 15102, dtype: object
15103 491.87000000000006 15 MP Last Month    32.7913
Name: 15103, dtype: object
15104 408.24 12 MP Last Month    34.02
Name: 15104, dtype: object
15105 460.05 15 MP Last Month    30.67
Name: 15105, dtype: object
15106 446.06000000000006 13 MP Last Month    34.3123
Name: 15106, dtype: object
15107 395.59999999999997 15 MP Last Month    26.3733
Name: 15107, dtype: object
15108 78.26 5 MP Last Month    15.652
Name: 15108, dtype: object
15109 110.25999999999999 15 MP Last Month    7.35067
Name: 15109, dtype: object
15110 231.42999999999998 15 MP Last Month    15.4287
Name: 15110, dtype: object
15111 166.35999999999999 9 MP Last Month    18.4844
Name: 15111, dtype: object
15112 237.31 15 MP Last Month    15.8207
Name: 15112, dtype: object
15113 220.95 14 MP Last Month    15.7821
Name: 15113, dtype: object
15114 66.71 15 MP Last Month    4.44733
Name: 15114, dtype: object
15115 430.7199999999999 13 MP Last Month    33.1323
Name: 15115, dtype: object
15116 404.41999999999996 14 MP Last Month    28.8871
Name: 15116, dtype: object
15117 420.83 14 MP Last Month    30.0593
Name: 15117, dtype: object
15118 315.1 11 MP Last Month    28.6455
Name: 15118, dtype: object

15119 213.73999999999998 12 MP Last Month    17.8117
Name: 15119, dtype: object
15120 303.53000000000003 14 MP Last Month    21.6807
Name: 15120, dtype: object
15121 101.91 6 MP Last Month    16.985
Name: 15121, dtype: object
15122 388.67999999999995 14 MP Last Month    27.7629
Name: 15122, dtype: object
15123 269.57 14 MP Last Month    19.255
Name: 15123, dtype: object
15124 218.45000000000005 14 MP Last Month    15.6036
Name: 15124, dtype: object
15125 18.41 13 MP Last Month    1.41615
Name: 15125, dtype: object
15126 75.03 13 MP Last Month    5.77154
Name: 15126, dtype: object
15127 406.75 13 MP Last Month    31.2885
Name: 15127, dtype: object
15128 148.22 10 MP Last Month    14.822
Name: 15128, dtype: object
15129 144.59 8 MP Last Month    18.0738
Name: 15129, dtype: object
15130 141.39 12 MP Last Month    11.7825
Name: 15130, dtype: object
15131 461.15 13 MP Last Month    35.4731
Name: 15131, dtype: object
15132 151.26 13 MP Last Month    11.6354
Name: 15132, dtype: object
15133 215.83999999999997 10 MP Last Month    21.584
Name: 15133, dtype: object
15134 90.19 12 MP Last Month    7.51583
Name: 15134, dtype: object
15135 106.31 13 MP Last Month    8.17769
Name: 15135, dtype: object
15136 251.67 13 MP Last Month    19.3592
Name: 15136, dtype: object
15137 372.50000000000006 13 MP Last Month    28.6538
Name: 15137, dtype: object
15138 375.84 13 MP Last Month    28.9108
Name: 15138, dtype: object
15139 106.44999999999999 12 MP Last Month    8.87083
Name: 15139, dtype: object
15140 148.20999999999998 13 MP Last Month    11.4008
Name: 15140, dtype: object
15141 486.64000000000004 14 MP Last Month    34.76
Name: 15141, dtype: object
15142 362.21999999999997 14 MP Last Month    25.8729
Name: 15142, dtype: object
15143 433.76 14 MP Last Month    30.9829
Name: 15143, dtype: object
15144 366.5 14 MP Last Month    26.1786
Name: 15144, dtype: object
15145 0.0 2 MP Last Month    0
Name: 15145, dtype: object
15146 160.44 11 MP Last Month    14.5855
Name: 15146, dtype: object
15147 397.35 13 MP Last Month    30.5654
Name: 15147, dtype: object
15148 84.17999999999999 12 MP Last Month    7.015
Name: 15148, dtype: object
15149 45.39 13 MP Last Month    3.49154
Name: 15149, dtype: object
15150 471.73 14 MP Last Month    33.695
Name: 15150, dtype: object
15151 367.33 14 MP Last Month    26.2379
Name: 15151, dtype: object
15152 261.76 14 MP Last Month    18.6971
Name: 15152, dtype: object
15153 66.85000000000001 10 MP Last Month    6.685
Name: 15153, dtype: object
15154 372.71 12 MP Last Month    31.0592
Name: 15154, dtype: object
15155 353.47999999999996 11 MP Last Month    32.1345
Name: 15155, dtype: object
15156 293.99999999999994 11 MP Last Month    26.7273
Name: 15156, dtype: object
15157 180.98999999999998 13 MP Last Month    13.9223
Name: 15157, dtype: object
15158 276.13 14 MP Last Month    19.7236
Name: 15158, dtype: object
15159 5.23 1 MP Last Month    5.23
Name: 15159, dtype: object
15160 384.83 12 MP Last Month    32.0692
Name: 15160, dtype: object
15161 276.89 14 MP Last Month    19.7779
Name: 15161, dtype: object
15162 39.16 13 MP Last Month    3.01231
Name: 15162, dtype: object
15163 521.4799999999999 15 MP Last Month    34.7653
Name: 15163, dtype: object
15164 274.85 15 MP Last Month    18.3233
Name: 15164, dtype: object
15165 20.17 6 MP Last Month    3.36167
Name: 15165, dtype: object
15166 446.69 15 MP Last Month    29.7793
Name: 15166, dtype: object
15167 329.63 15 MP Last Month    21.9753
Name: 15167, dtype: object
15168 122.03 15 MP Last Month    8.13533
Name: 15168, dtype: object
15169 169.26 15 MP Last Month    11.284
Name: 15169, dtype: object
15170 416.4200000000001 15 MP Last Month    27.7613
Name: 15170, dtype: object
15171 277.65999999999997 15 MP Last Month    18.5107
Name: 15171, dtype: object
15172 263.96 15 MP Last Month    17.5973
Name: 15172, dtype: object
15173 117.84 7 MP Last Month    16.8343
Name: 15173, dtype: object
15174 309.37000000000006 14 MP Last Month    22.0979
Name: 15174, dtype: object
15175 0.0 1 MP Last Month    0
Name: 15175, dtype: object
15176 411.58 13 MP Last Month    31.66
Name: 15176, dtype: object
15177 414.29 12 MP Last Month    34.5242
Name: 15177, dtype: object
15178 350.02000000000004 12 MP Last Month    29.1683
Name: 15178, dtype: object
15179 308.70000000000005 14 MP Last Month    22.05
Name: 15179, dtype: object
15180 237.57999999999998 11 MP Last Month    21.5982
Name: 15180, dtype: object
15181 20.63 10 MP Last Month    2.063
Name: 15181, dtype: object
15182 52.87 3 MP Last Month    17.6233
Name: 15182, dtype: object
15183 415.15999999999997 13 MP Last Month    31.9354
Name: 15183, dtype: object
15184 327.79 11 MP Last Month    29.7991
Name: 15184, dtype: object
15185 209.82999999999998 14 MP Last Month    14.9879
Name: 15185, dtype: object
15186 575.92 15 MP Last Month    38.3947
Name: 15186, dtype: object
15187 451.61999999999995 15 MP Last Month    30.108
Name: 15187, dtype: object
15188 205.62999999999997 13 MP Last Month    15.8177
Name: 15188, dtype: object
15189 13.83 5 MP Last Month    2.766
Name: 15189, dtype: object
15190 13.0 8 MP Last Month    1.625
Name: 15190, dtype: object
15191 487.6499999999999 13 MP Last Month    37.5115
Name: 15191, dtype: object
15192 141.2 6 MP Last Month    23.5333
Name: 15192, dtype: object
15193 474.36 15 MP Last Month    31.624
Name: 15193, dtype: object
15194 244.41000000000003 15 MP Last Month    16.294
Name: 15194, dtype: object
15195 354.68999999999994 15 MP Last Month    23.646
Name: 15195, dtype: object
15196 154.44 15 MP Last Month    10.296
Name: 15196, dtype: object
15197 46.76 14 MP Last Month    3.34
Name: 15197, dtype: object
15198 298.56 14 MP Last Month    21.3257
Name: 15198, dtype: object
15199 2.62 2 MP Last Month    1.31
Name: 15199, dtype: object
15200 426.75 14 MP Last Month    30.4821
Name: 15200, dtype: object
15201 333.26 14 MP Last Month    23.8043
Name: 15201, dtype: object
15202 307.70000000000005 11 MP Last Month    27.9727
Name: 15202, dtype: object
15203 373.44999999999993 14 MP Last Month    26.675
Name: 15203, dtype: object
15204 110.83 14 MP Last Month    7.91643
Name: 15204, dtype: object
15205 249.0 14 MP Last Month    17.7857
Name: 15205, dtype: object
15206 266.67999999999995 11 MP Last Month    24.2436
Name: 15206, dtype: object
15207 61.99 12 MP Last Month    5.16583
Name: 15207, dtype: object
15208 86.13999999999999 9 MP Last Month    9.57111
Name: 15208, dtype: object
15209 391.69000000000005 13 MP Last Month    30.13
Name: 15209, dtype: object
15210 389.44 14 MP Last Month    27.8171
Name: 15210, dtype: object
15211 217.47 14 MP Last Month    15.5336
Name: 15211, dtype: object
15212 343.72999999999996 14 MP Last Month    24.5521
Name: 15212, dtype: object
15213 355.6299999999999 14 MP Last Month    25.4021
Name: 15213, dtype: object
15214 376.53000000000003 13 MP Last Month    28.9638
Name: 15214, dtype: object
15215 99.95 5 MP Last Month    19.99
Name: 15215, dtype: object
15216 57.67999999999999 7 MP Last Month    8.24
Name: 15216, dtype: object
15217 333.42 14 MP Last Month    23.8157
Name: 15217, dtype: object
15218 260.42 13 MP Last Month    20.0323
Name: 15218, dtype: object
15219 72.88 14 MP Last Month    5.20571
Name: 15219, dtype: object
15220 8.72 2 MP Last Month    4.36
Name: 15220, dtype: object
15221 458.0899999999999 14 MP Last Month    32.7207
Name: 15221, dtype: object
15222 199.69000000000003 12 MP Last Month    16.6408
Name: 15222, dtype: object
15223 202.70999999999998 14 MP Last Month    14.4793
Name: 15223, dtype: object
15224 229.59999999999997 14 MP Last Month    16.4
Name: 15224, dtype: object
15225 333.68999999999994 11 MP Last Month    30.3355
Name: 15225, dtype: object
15226 422.86 14 MP Last Month    30.2043
Name: 15226, dtype: object
15227 438.13 14 MP Last Month    31.295
Name: 15227, dtype: object
15228 232.29999999999995 14 MP Last Month    16.5929
Name: 15228, dtype: object
15229 254.32000000000005 14 MP Last Month    18.1657
Name: 15229, dtype: object
15230 50.10000000000001 12 MP Last Month    4.175
Name: 15230, dtype: object
15231 135.57000000000002 8 MP Last Month    16.9463
Name: 15231, dtype: object
15232 43.129999999999995 13 MP Last Month    3.31769
Name: 15232, dtype: object

15233 421.68 15 MP Last Month    28.112
Name: 15233, dtype: object
15234 330.89 15 MP Last Month    22.0593
Name: 15234, dtype: object
15235 259.53000000000003 15 MP Last Month    17.302
Name: 15235, dtype: object
15236 44.75 14 MP Last Month    3.19643
Name: 15236, dtype: object
15237 285.07 15 MP Last Month    19.0047
Name: 15237, dtype: object
15238 495.13 15 MP Last Month    33.0087
Name: 15238, dtype: object
15239 267.68000000000006 15 MP Last Month    17.8453
Name: 15239, dtype: object
15240 228.76999999999998 15 MP Last Month    15.2513
Name: 15240, dtype: object
15241 510.81999999999994 15 MP Last Month    34.0547
Name: 15241, dtype: object
15242 514.5 14 MP Last Month    36.75
Name: 15242, dtype: object
15243 157.75 14 MP Last Month    11.2679
Name: 15243, dtype: object
15244 588.42 15 MP Last Month    39.228
Name: 15244, dtype: object
15245 369.10999999999996 10 MP Last Month    36.911
Name: 15245, dtype: object
15246 374.81000000000006 15 MP Last Month    24.9873
Name: 15246, dtype: object
15247 541.91 15 MP Last Month    36.1273
Name: 15247, dtype: object
15248 398.04999999999995 15 MP Last Month    26.5367
Name: 15248, dtype: object
15249 64.22 15 MP Last Month    4.28133
Name: 15249, dtype: object
15250 80.52000000000001 6 MP Last Month    13.42
Name: 15250, dtype: object
15251 6.05 3 MP Last Month    2.01667
Name: 15251, dtype: object
15252 141.8 15 MP Last Month    9.45333
Name: 15252, dtype: object
15253 26.92 15 MP Last Month    1.79467
Name: 15253, dtype: object
15254 366.31 14 MP Last Month    26.165
Name: 15254, dtype: object
15255 388.96000000000004 14 MP Last Month    27.7829
Name: 15255, dtype: object
15256 179.25 14 MP Last Month    12.8036
Name: 15256, dtype: object
15257 322.98 14 MP Last Month    23.07
Name: 15257, dtype: object
15258 456.9 14 MP Last Month    32.6357
Name: 15258, dtype: object
15259 469.22999999999996 14 MP Last Month    33.5164
Name: 15259, dtype: object
15260 175.12999999999997 14 MP Last Month    12.5093
Name: 15260, dtype: object
15261 42.580000000000005 14 MP Last Month    3.04143
Name: 15261, dtype: object
15262 353.85999999999996 14 MP Last Month    25.2757
Name: 15262, dtype: object
15263 203.86 14 MP Last Month    14.5614
Name: 15263, dtype: object
15264 72.8 14 MP Last Month    5.2
Name: 15264, dtype: object
15265 10.53 5 MP Last Month    2.106
Name: 15265, dtype: object
15266 438.97999999999996 13 MP Last Month    33.7677
Name: 15266, dtype: object
15267 234.55 14 MP Last Month    16.7536
Name: 15267, dtype: object
15268 124.81 12 MP Last Month    10.4008
Name: 15268, dtype: object
15269 442.99000000000007 14 MP Last Month    31.6421
Name: 15269, dtype: object
15270 106.33 11 MP Last Month    9.66636
Name: 15270, dtype: object
15271 328.71999999999997 14 MP Last Month    23.48
Name: 15271, dtype: object
15272 7.07 7 MP Last Month    1.01
Name: 15272, dtype: object
15273 379.15000000000003 13 MP Last Month    29.1654
Name: 15273, dtype: object
15274 367.89 14 MP Last Month    26.2779
Name: 15274, dtype: object
15275 460.94 14 MP Last Month    32.9243
Name: 15275, dtype: object
15276 107.53999999999999 11 MP Last Month    9.77636
Name: 15276, dtype: object
15277 29.490000000000002 12 MP Last Month    2.4575
Name: 15277, dtype: object
15278 476.06999999999994 13 MP Last Month    36.6208
Name: 15278, dtype: object
15279 160.61 6 MP Last Month    26.7683
Name: 15279, dtype: object
15280 155.4 12 MP Last Month    12.95
Name: 15280, dtype: object
15281 233.52 13 MP Last Month    17.9631
Name: 15281, dtype: object
15282 51.53999999999999 10 MP Last Month    5.154
Name: 15282, dtype: object
15283 341.63 12 MP Last Month    28.4692
Name: 15283, dtype: object
15284 337.96 11 MP Last Month    30.7236
Name: 15284, dtype: object
15285 196.23000000000005 13 MP Last Month    15.0946
Name: 15285, dtype: object
15286 18.63 12 MP Last Month    1.5525
Name: 15286, dtype: object
15287 442.62 12 MP Last Month    36.885
Name: 15287, dtype: object
15288 408.89 12 MP Last Month    34.0742
Name: 15288, dtype: object
15289 148.79999999999998 13 MP Last Month    11.4462
Name: 15289, dtype: object
15290 48.75 2 MP Last Month    24.375
Name: 15290, dtype: object
15291 530.0 15 MP Last Month    35.3333
Name: 15291, dtype: object
15292 275.47999999999996 15 MP Last Month    18.3653
Name: 15292, dtype: object
15293 20.17 7 MP Last Month    2.88143
Name: 15293, dtype: object
15294 454.04999999999995 15 MP Last Month    30.27
Name: 15294, dtype: object
15295 335.99 15 MP Last Month    22.3993
Name: 15295, dtype: object
15296 140.38 15 MP Last Month    9.35867
Name: 15296, dtype: object
15297 157.18 15 MP Last Month    10.4787
Name: 15297, dtype: object
15298 255.47 10 MP Last Month    25.547
Name: 15298, dtype: object
15299 415.21000000000004 15 MP Last Month    27.6807
Name: 15299, dtype: object
15300 260.80999999999995 15 MP Last Month    17.3873
Name: 15300, dtype: object
15301 270.68000000000006 15 MP Last Month    18.0453
Name: 15301, dtype: object
15302 448.65 15 MP Last Month    29.91
Name: 15302, dtype: object
15303 239.49999999999994 15 MP Last Month    15.9667
Name: 15303, dtype: object
15304 483.53000000000003 15 MP Last Month    32.2353
Name: 15304, dtype: object
15305 404.78 15 MP Last Month    26.9853
Name: 15305, dtype: object
15306 383.34 15 MP Last Month    25.556
Name: 15306, dtype: object
15307 376.01 15 MP Last Month    25.0673
Name: 15307, dtype: object
15308 222.82999999999998 10 MP Last Month    22.283
Name: 15308, dtype: object
15309 101.97999999999999 15 MP Last Month    6.79867
Name: 15309, dtype: object
15310 65.76 3 MP Last Month    21.92
Name: 15310, dtype: object
15311 433.07 15 MP Last Month    28.8713
Name: 15311, dtype: object
15312 160.9 13 MP Last Month    12.3769
Name: 15312, dtype: object
15313 144.51000000000002 15 MP Last Month    9.634
Name: 15313, dtype: object
15314 426.72999999999996 15 MP Last Month    28.4487
Name: 15314, dtype: object
15315 460.46 15 MP Last Month    30.6973
Name: 15315, dtype: object
15316 325.78 15 MP Last Month    21.7187
Name: 15316, dtype: object
15317 532.1600000000001 15 MP Last Month    35.4773
Name: 15317, dtype: object
15318 349.76 15 MP Last Month    23.3173
Name: 15318, dtype: object
15319 72.66 15 MP Last Month    4.844
Name: 15319, dtype: object
15320 38.720000000000006 15 MP Last Month    2.58133
Name: 15320, dtype: object
15321 487.17999999999995 15 MP Last Month    32.4787
Name: 15321, dtype: object
15322 63.64 9 MP Last Month    7.07111
Name: 15322, dtype: object
15323 266.8 15 MP Last Month    17.7867
Name: 15323, dtype: object
15324 32.56 13 MP Last Month    2.50462
Name: 15324, dtype: object
15325 518.37 15 MP Last Month    34.558
Name: 15325, dtype: object
15326 13.68 2 MP Last Month    6.84
Name: 15326, dtype: object
15327 460.17 15 MP Last Month    30.678
Name: 15327, dtype: object
15328 308.27000000000004 15 MP Last Month    20.5513
Name: 15328, dtype: object
15329 222.11 15 MP Last Month    14.8073
Name: 15329, dtype: object
15330 374.30999999999995 14 MP Last Month    26.7364
Name: 15330, dtype: object
15331 50.169999999999995 13 MP Last Month    3.85923
Name: 15331, dtype: object
15332 3.7199999999999998 4 MP Last Month    0.93
Name: 15332, dtype: object
15333 490.4899999999999 15 MP Last Month    32.6993
Name: 15333, dtype: object
15334 364.15 15 MP Last Month    24.2767
Name: 15334, dtype: object
15335 35.94 14 MP Last Month    2.56714
Name: 15335, dtype: object
15336 450.97 15 MP Last Month    30.0647
Name: 15336, dtype: object
15337 2.75 4 MP Last Month    0.6875
Name: 15337, dtype: object
15338 485.53000000000003 15 MP Last Month    32.3687
Name: 15338, dtype: object
15339 138.49000000000004 14 MP Last Month    9.89214
Name: 15339, dtype: object
15340 250.12 15 MP Last Month    16.6747
Name: 15340, dtype: object
15341 117.26000000000002 15 MP Last Month    7.81733
Name: 15341, dtype: object
15342 273.13 13 MP Last Month    21.01
Name: 15342, dtype: object
15343 439.72 14 MP Last Month    31.4086
Name: 15343, dtype: object
15344 42.82 7 MP Last Month    6.11714
Name: 15344, dtype: object
15345 275.01 9 MP Last Month    30.5567
Name: 15345, dtype: object
15346 294.44000000000005 13 MP Last Month    22.6492
Name: 15346, dtype: object

15347 404.40000000000003 13 MP Last Month    31.1077
Name: 15347, dtype: object
15348 264.7 13 MP Last Month    20.3615
Name: 15348, dtype: object
15349 130.19 13 MP Last Month    10.0146
Name: 15349, dtype: object
15350 33.09 10 MP Last Month    3.309
Name: 15350, dtype: object
15351 425.56000000000006 13 MP Last Month    32.7354
Name: 15351, dtype: object
15352 274.30999999999995 13 MP Last Month    21.1008
Name: 15352, dtype: object
15353 129.69 12 MP Last Month    10.8075
Name: 15353, dtype: object
15354 102.64000000000001 5 MP Last Month    20.528
Name: 15354, dtype: object
15355 36.82 13 MP Last Month    2.83231
Name: 15355, dtype: object
15356 194.35999999999999 13 MP Last Month    14.9508
Name: 15356, dtype: object
15357 476.54 14 MP Last Month    34.0386
Name: 15357, dtype: object
15358 403.1099999999999 14 MP Last Month    28.7936
Name: 15358, dtype: object
15359 27.240000000000002 12 MP Last Month    2.27
Name: 15359, dtype: object
15360 344.99 14 MP Last Month    24.6421
Name: 15360, dtype: object
15361 30.03 2 MP Last Month    15.015
Name: 15361, dtype: object
15362 179.57999999999998 12 MP Last Month    14.965
Name: 15362, dtype: object
15363 401.23 14 MP Last Month    28.6593
Name: 15363, dtype: object
15364 316.78 14 MP Last Month    22.6271
Name: 15364, dtype: object
15365 20.88 13 MP Last Month    1.60615
Name: 15365, dtype: object
15366 462.12 14 MP Last Month    33.0086
Name: 15366, dtype: object
15367 329.68 14 MP Last Month    23.5486
Name: 15367, dtype: object
15368 221.47000000000003 9 MP Last Month    24.6078
Name: 15368, dtype: object
15369 12.65 7 MP Last Month    1.80714
Name: 15369, dtype: object
15370 468.37000000000006 13 MP Last Month    36.0285
Name: 15370, dtype: object
15371 443.86999999999995 13 MP Last Month    34.1438
Name: 15371, dtype: object
15372 96.23 13 MP Last Month    7.40231
Name: 15372, dtype: object
15373 170.36 12 MP Last Month    14.1967
Name: 15373, dtype: object
15374 463.83 13 MP Last Month    35.6792
Name: 15374, dtype: object
15375 301.96000000000004 13 MP Last Month    23.2277
Name: 15375, dtype: object
15376 149.67999999999998 13 MP Last Month    11.5138
Name: 15376, dtype: object
15377 426.8999999999999 13 MP Last Month    32.8385
Name: 15377, dtype: object
15378 284.12000000000006 13 MP Last Month    21.8554
Name: 15378, dtype: object
15379 238.23000000000002 13 MP Last Month    18.3254
Name: 15379, dtype: object
15380 96.92 13 MP Last Month    7.45538
Name: 15380, dtype: object
15381 334.98 13 MP Last Month    25.7677
Name: 15381, dtype: object
15382 431.01 13 MP Last Month    33.1546
Name: 15382, dtype: object
15383 324.03000000000003 13 MP Last Month    24.9254
Name: 15383, dtype: object
15384 54.699999999999996 12 MP Last Month    4.55833
Name: 15384, dtype: object
15385 416.08000000000004 13 MP Last Month    32.0062
Name: 15385, dtype: object
15386 418.84000000000003 13 MP Last Month    32.2185
Name: 15386, dtype: object
15387 172.5 10 MP Last Month    17.25
Name: 15387, dtype: object
15388 236.98999999999998 13 MP Last Month    18.23
Name: 15388, dtype: object
15389 8.27 4 MP Last Month    2.0675
Name: 15389, dtype: object
15390 260.1 9 MP Last Month    28.9
Name: 15390, dtype: object
15391 351.0 13 MP Last Month    27
Name: 15391, dtype: object
15392 73.54 12 MP Last Month    6.12833
Name: 15392, dtype: object
15393 497.68000000000006 15 MP Last Month    33.1787
Name: 15393, dtype: object
15394 448.22 13 MP Last Month    34.4785
Name: 15394, dtype: object
15395 466.15 15 MP Last Month    31.0767
Name: 15395, dtype: object
15396 454.6300000000001 13 MP Last Month    34.9715
Name: 15396, dtype: object
15397 400.52000000000004 15 MP Last Month    26.7013
Name: 15397, dtype: object
15398 97.50999999999999 15 MP Last Month    6.50067
Name: 15398, dtype: object
15399 85.34 6 MP Last Month    14.2233
Name: 15399, dtype: object
15400 223.71999999999997 15 MP Last Month    14.9147
Name: 15400, dtype: object
15401 171.70999999999998 9 MP Last Month    19.0789
Name: 15401, dtype: object
15402 207.96999999999997 14 MP Last Month    14.855
Name: 15402, dtype: object
15403 236.45000000000002 15 MP Last Month    15.7633
Name: 15403, dtype: object
15404 59.81 15 MP Last Month    3.98733
Name: 15404, dtype: object
15405 346.71999999999997 12 MP Last Month    28.8933
Name: 15405, dtype: object
15406 298.70000000000005 12 MP Last Month    24.8917
Name: 15406, dtype: object
15407 313.26 13 MP Last Month    24.0969
Name: 15407, dtype: object
15408 9.370000000000001 13 MP Last Month    0.720769
Name: 15408, dtype: object
15409 456.38 13 MP Last Month    35.1062
Name: 15409, dtype: object
15410 258.52000000000004 13 MP Last Month    19.8862
Name: 15410, dtype: object
15411 245.96 12 MP Last Month    20.4967
Name: 15411, dtype: object
15412 65.38 6 MP Last Month    10.8967
Name: 15412, dtype: object
15413 0.0 12 MP Last Month    0
Name: 15413, dtype: object
15414 297.59 12 MP Last Month    24.7992
Name: 15414, dtype: object
15415 238.41000000000003 12 MP Last Month    19.8675
Name: 15415, dtype: object
15416 311.40999999999997 13 MP Last Month    23.9546
Name: 15416, dtype: object
15417 278.26000000000005 13 MP Last Month    21.4046
Name: 15417, dtype: object
15418 399.79999999999995 14 MP Last Month    28.5571
Name: 15418, dtype: object
15419 342.3 12 MP Last Month    28.525
Name: 15419, dtype: object
15420 305.81 14 MP Last Month    21.8436
Name: 15420, dtype: object
15421 424.06999999999994 13 MP Last Month    32.6208
Name: 15421, dtype: object
15422 448.97999999999996 14 MP Last Month    32.07
Name: 15422, dtype: object
15423 234.85000000000005 14 MP Last Month    16.775
Name: 15423, dtype: object
15424 261.34000000000003 14 MP Last Month    18.6671
Name: 15424, dtype: object
15425 46.88 13 MP Last Month    3.60615
Name: 15425, dtype: object
15426 382.65000000000003 14 MP Last Month    27.3321
Name: 15426, dtype: object
15427 231.04 13 MP Last Month    17.7723
Name: 15427, dtype: object
15428 143.07000000000002 13 MP Last Month    11.0054
Name: 15428, dtype: object
15429 103.50999999999999 6 MP Last Month    17.2517
Name: 15429, dtype: object
15430 21.79 13 MP Last Month    1.67615
Name: 15430, dtype: object
15431 182.98000000000002 7 MP Last Month    26.14
Name: 15431, dtype: object
15432 135.18 6 MP Last Month    22.53
Name: 15432, dtype: object
15433 365.94 14 MP Last Month    26.1386
Name: 15433, dtype: object
15434 57.35 13 MP Last Month    4.41154
Name: 15434, dtype: object
15435 511.53000000000003 14 MP Last Month    36.5379
Name: 15435, dtype: object
15436 304.35 14 MP Last Month    21.7393
Name: 15436, dtype: object
15437 10.33 14 MP Last Month    0.737857
Name: 15437, dtype: object
15438 369.54999999999995 14 MP Last Month    26.3964
Name: 15438, dtype: object
15439 131.26 14 MP Last Month    9.37571
Name: 15439, dtype: object
15440 0.0 3 MP Last Month    0
Name: 15440, dtype: object
15441 465.56999999999994 14 MP Last Month    33.255
Name: 15441, dtype: object
15442 204.38000000000002 14 MP Last Month    14.5986
Name: 15442, dtype: object
15443 361.76000000000005 14 MP Last Month    25.84
Name: 15443, dtype: object
15444 517.23 14 MP Last Month    36.945
Name: 15444, dtype: object
15445 379.21000000000004 13 MP Last Month    29.17
Name: 15445, dtype: object
15446 23.299999999999997 13 MP Last Month    1.79231
Name: 15446, dtype: object
15447 0.0 1 MP Last Month    0
Name: 15447, dtype: object
15448 480.28000000000003 14 MP Last Month    34.3057
Name: 15448, dtype: object
15449 474.29999999999995 14 MP Last Month    33.8786
Name: 15449, dtype: object
15450 300.72 14 MP Last Month    21.48
Name: 15450, dtype: object
15451 159.72000000000003 14 MP Last Month    11.4086
Name: 15451, dtype: object
15452 157.97 14 MP Last Month    11.2836
Name: 15452, dtype: object
15453 486.40999999999997 14 MP Last Month    34.7436
Name: 15453, dtype: object
15454 189.84000000000003 14 MP Last Month    13.56
Name: 15454, dtype: object
15455 470.9 14 MP Last Month    33.6357
Name: 15455, dtype: object
15456 251.55999999999997 14 MP Last Month    17.9686
Name: 15456, dtype: object
15457 359.03 14 MP Last Month    25.645
Name: 15457, dtype: object
15458 381.94999999999993 12 MP Last Month    31.8292
Name: 15458, dtype: object

15459 293.78 11 MP Last Month    26.7073
Name: 15459, dtype: object
15460 198.92 13 MP Last Month    15.3015
Name: 15460, dtype: object
15461 372.38 12 MP Last Month    31.0317
Name: 15461, dtype: object
15462 255.9 14 MP Last Month    18.2786
Name: 15462, dtype: object
15463 383.04999999999995 12 MP Last Month    31.9208
Name: 15463, dtype: object
15464 39.16 13 MP Last Month    3.01231
Name: 15464, dtype: object
15465 275.78999999999996 14 MP Last Month    19.6993
Name: 15465, dtype: object
15466 0 0 MP Last Month    0
Name: 15466, dtype: object
15467 336.15999999999997 14 MP Last Month    24.0114
Name: 15467, dtype: object
15468 385.61 11 MP Last Month    35.0555
Name: 15468, dtype: object
15469 123.54999999999998 12 MP Last Month    10.2958
Name: 15469, dtype: object
15470 81.52 14 MP Last Month    5.82286
Name: 15470, dtype: object
15471 333.87 13 MP Last Month    25.6823
Name: 15471, dtype: object
15472 497.0299999999999 14 MP Last Month    35.5021
Name: 15472, dtype: object
15473 429.73 14 MP Last Month    30.695
Name: 15473, dtype: object
15474 349.53000000000003 14 MP Last Month    24.9664
Name: 15474, dtype: object
15475 444.41 14 MP Last Month    31.7436
Name: 15475, dtype: object
15476 234.37 13 MP Last Month    18.0285
Name: 15476, dtype: object
15477 17.36 2 MP Last Month    8.68
Name: 15477, dtype: object
15478 14.020000000000001 14 MP Last Month    1.00143
Name: 15478, dtype: object
15479 0.0 7 MP Last Month    0
Name: 15479, dtype: object
15480 361.98 11 MP Last Month    32.9073
Name: 15480, dtype: object
15481 376.16 13 MP Last Month    28.9354
Name: 15481, dtype: object
15482 300.98 14 MP Last Month    21.4986
Name: 15482, dtype: object
15483 72.59 14 MP Last Month    5.185
Name: 15483, dtype: object
15484 2.62 3 MP Last Month    0.873333
Name: 15484, dtype: object
15485 432.4 14 MP Last Month    30.8857
Name: 15485, dtype: object
15486 370.3 14 MP Last Month    26.45
Name: 15486, dtype: object
15487 343.12 14 MP Last Month    24.5086
Name: 15487, dtype: object
15488 304.55 11 MP Last Month    27.6864
Name: 15488, dtype: object
15489 122.03 14 MP Last Month    8.71643
Name: 15489, dtype: object
15490 286.42999999999995 12 MP Last Month    23.8692
Name: 15490, dtype: object
15491 2.07 1 MP Last Month    2.07
Name: 15491, dtype: object
15492 74.52 13 MP Last Month    5.73231
Name: 15492, dtype: object
15493 249.25 14 MP Last Month    17.8036
Name: 15493, dtype: object
15494 393.12 14 MP Last Month    28.08
Name: 15494, dtype: object
15495 399.36 13 MP Last Month    30.72
Name: 15495, dtype: object
15496 212.51999999999998 14 MP Last Month    15.18
Name: 15496, dtype: object
15497 385.68 13 MP Last Month    29.6677
Name: 15497, dtype: object
15498 345.08 14 MP Last Month    24.6486
Name: 15498, dtype: object
15499 126.85 6 MP Last Month    21.1417
Name: 15499, dtype: object
15500 360.44999999999993 14 MP Last Month    25.7464
Name: 15500, dtype: object
15501 57.67999999999999 8 MP Last Month    7.21
Name: 15501, dtype: object
15502 351.87 14 MP Last Month    25.1336
Name: 15502, dtype: object
15503 165.78 7 MP Last Month    23.6829
Name: 15503, dtype: object
15504 246.29999999999998 13 MP Last Month    18.9462
Name: 15504, dtype: object
15505 67.93 14 MP Last Month    4.85214
Name: 15505, dtype: object
15506 372.41 13 MP Last Month    28.6469
Name: 15506, dtype: object
15507 202.23 13 MP Last Month    15.5562
Name: 15507, dtype: object
15508 122.26 11 MP Last Month    11.1145
Name: 15508, dtype: object
15509 414.24000000000007 14 MP Last Month    29.5886
Name: 15509, dtype: object
15510 415.90000000000003 14 MP Last Month    29.7071
Name: 15510, dtype: object
15511 182.85 11 MP Last Month    16.6227
Name: 15511, dtype: object
15512 194.4 11 MP Last Month    17.6727
Name: 15512, dtype: object
15513 450.01 14 MP Last Month    32.1436
Name: 15513, dtype: object
15514 149.04 11 MP Last Month    13.5491
Name: 15514, dtype: object
15515 202.51000000000002 7 MP Last Month    28.93
Name: 15515, dtype: object
15516 112.63 14 MP Last Month    8.045
Name: 15516, dtype: object
15517 213.20999999999998 15 MP Last Month    14.214
Name: 15517, dtype: object
15518 187.07999999999998 15 MP Last Month    12.472
Name: 15518, dtype: object
15519 0.0 1 MP Last Month    0
Name: 15519, dtype: object
15520 470.99 15 MP Last Month    31.3993
Name: 15520, dtype: object
15521 497.38 15 MP Last Month    33.1587
Name: 15521, dtype: object
15522 312.88 15 MP Last Month    20.8587
Name: 15522, dtype: object
15523 28.92 11 MP Last Month    2.62909
Name: 15523, dtype: object
15524 462.24 15 MP Last Month    30.816
Name: 15524, dtype: object
15525 267.07 14 MP Last Month    19.0764
Name: 15525, dtype: object
15526 227.75000000000003 15 MP Last Month    15.1833
Name: 15526, dtype: object
15527 115.19000000000001 12 MP Last Month    9.59917
Name: 15527, dtype: object
15528 27.439999999999998 14 MP Last Month    1.96
Name: 15528, dtype: object
15529 426.98 15 MP Last Month    28.4653
Name: 15529, dtype: object
15530 252.31 15 MP Last Month    16.8207
Name: 15530, dtype: object
15531 329.21000000000004 15 MP Last Month    21.9473
Name: 15531, dtype: object
15532 261.04999999999995 15 MP Last Month    17.4033
Name: 15532, dtype: object
15533 268.89 15 MP Last Month    17.926
Name: 15533, dtype: object
15534 492.5199999999999 15 MP Last Month    32.8347
Name: 15534, dtype: object
15535 228.83999999999997 15 MP Last Month    15.256
Name: 15535, dtype: object
15536 514.53 14 MP Last Month    36.7521
Name: 15536, dtype: object
15537 513.2499999999999 15 MP Last Month    34.2167
Name: 15537, dtype: object
15538 82.35 11 MP Last Month    7.48636
Name: 15538, dtype: object
15539 155.86999999999998 14 MP Last Month    11.1336
Name: 15539, dtype: object
15540 498.07000000000005 14 MP Last Month    35.5764
Name: 15540, dtype: object
15541 468.71999999999997 14 MP Last Month    33.48
Name: 15541, dtype: object
15542 180.01000000000002 13 MP Last Month    13.8469
Name: 15542, dtype: object
15543 109.88000000000001 14 MP Last Month    7.84857
Name: 15543, dtype: object
15544 493.53 14 MP Last Month    35.2521
Name: 15544, dtype: object
15545 323.44000000000005 14 MP Last Month    23.1029
Name: 15545, dtype: object
15546 171.40999999999997 14 MP Last Month    12.2436
Name: 15546, dtype: object
15547 458.19999999999993 14 MP Last Month    32.7286
Name: 15547, dtype: object
15548 307.6700000000001 14 MP Last Month    21.9764
Name: 15548, dtype: object
15549 256.53000000000003 14 MP Last Month    18.3236
Name: 15549, dtype: object
15550 105.57000000000001 14 MP Last Month    7.54071
Name: 15550, dtype: object
15551 581.99 15 MP Last Month    38.7993
Name: 15551, dtype: object
15552 407.72999999999996 11 MP Last Month    37.0664
Name: 15552, dtype: object
15553 533.7900000000001 15 MP Last Month    35.586
Name: 15553, dtype: object
15554 244.06 7 MP Last Month    34.8657
Name: 15554, dtype: object
15555 383.26 15 MP Last Month    25.5507
Name: 15555, dtype: object
15556 90.5 15 MP Last Month    6.03333
Name: 15556, dtype: object
15557 142.3 15 MP Last Month    9.48667
Name: 15557, dtype: object
15558 34.0 15 MP Last Month    2.26667
Name: 15558, dtype: object
15559 12.98 3 MP Last Month    4.32667
Name: 15559, dtype: object
15560 17.59 11 MP Last Month    1.59909
Name: 15560, dtype: object
15561 384.52000000000004 14 MP Last Month    27.4657
Name: 15561, dtype: object
15562 361.21000000000004 14 MP Last Month    25.8007
Name: 15562, dtype: object
15563 314.76000000000005 14 MP Last Month    22.4829
Name: 15563, dtype: object
15564 199.22 14 MP Last Month    14.23
Name: 15564, dtype: object
15565 466.69 14 MP Last Month    33.335
Name: 15565, dtype: object
15566 452.84 14 MP Last Month    32.3457
Name: 15566, dtype: object
15567 165.03 14 MP Last Month    11.7879
Name: 15567, dtype: object
15568 37.5 14 MP Last Month    2.67857
Name: 15568, dtype: object
15569 361.84000000000003 14 MP Last Month    25.8457
Name: 15569, dtype: object
15570 195.88000000000002 14 MP Last Month    13.9914
Name: 15570, dtype: object
15571 10.53 6 MP Last Month    1.755
Name: 15571, dtype: object
15572 72.8 14 MP Last Month    5.2
Name: 15572, dtype: object
15573 117.32000000000001 12 MP Last Month    9.77667
Name: 15573, dtype: object

15574 434.84999999999997 13 MP Last Month    33.45
Name: 15574, dtype: object
15575 230.22 14 MP Last Month    16.4443
Name: 15575, dtype: object
15576 325.5 14 MP Last Month    23.25
Name: 15576, dtype: object
15577 123.43 11 MP Last Month    11.2209
Name: 15577, dtype: object
15578 351.47 13 MP Last Month    27.0362
Name: 15578, dtype: object
15579 449.2900000000001 14 MP Last Month    32.0921
Name: 15579, dtype: object
15580 10.67 7 MP Last Month    1.52429
Name: 15580, dtype: object
15581 453.67 14 MP Last Month    32.405
Name: 15581, dtype: object
15582 367.94 14 MP Last Month    26.2814
Name: 15582, dtype: object
15583 110.77999999999999 11 MP Last Month    10.0709
Name: 15583, dtype: object
15584 33.09 12 MP Last Month    2.7575
Name: 15584, dtype: object
15585 422.24999999999994 15 MP Last Month    28.15
Name: 15585, dtype: object
15586 365.40000000000003 13 MP Last Month    28.1077
Name: 15586, dtype: object
15587 322.81 15 MP Last Month    21.5207
Name: 15587, dtype: object
15588 448.93999999999994 14 MP Last Month    32.0671
Name: 15588, dtype: object
15589 256.83000000000004 15 MP Last Month    17.122
Name: 15589, dtype: object
15590 475.05999999999995 15 MP Last Month    31.6707
Name: 15590, dtype: object
15591 57.5 14 MP Last Month    4.10714
Name: 15591, dtype: object
15592 282.51000000000005 15 MP Last Month    18.834
Name: 15592, dtype: object
15593 248.10999999999999 14 MP Last Month    17.7221
Name: 15593, dtype: object
15594 407.72 15 MP Last Month    27.1813
Name: 15594, dtype: object
15595 116.63999999999999 7 MP Last Month    16.6629
Name: 15595, dtype: object
15596 152.84000000000003 14 MP Last Month    10.9171
Name: 15596, dtype: object
15597 29.49 14 MP Last Month    2.10643
Name: 15597, dtype: object
15598 474.09999999999997 13 MP Last Month    36.4692
Name: 15598, dtype: object
15599 190.01000000000002 7 MP Last Month    27.1443
Name: 15599, dtype: object
15600 165.45 12 MP Last Month    13.7875
Name: 15600, dtype: object
15601 221.35000000000002 13 MP Last Month    17.0269
Name: 15601, dtype: object
15602 51.53999999999999 10 MP Last Month    5.154
Name: 15602, dtype: object
15603 332.46 11 MP Last Month    30.2236
Name: 15603, dtype: object
15604 339.33000000000004 12 MP Last Month    28.2775
Name: 15604, dtype: object
15605 18.63 12 MP Last Month    1.5525
Name: 15605, dtype: object
15606 169.76000000000002 13 MP Last Month    13.0585
Name: 15606, dtype: object
15607 442.62 12 MP Last Month    36.885
Name: 15607, dtype: object
15608 66.15 3 MP Last Month    22.05
Name: 15608, dtype: object
15609 411.76 12 MP Last Month    34.3133
Name: 15609, dtype: object
15610 158.52999999999997 13 MP Last Month    12.1946
Name: 15610, dtype: object
15611 372.28999999999996 13 MP Last Month    28.6377
Name: 15611, dtype: object
15612 123.72999999999999 13 MP Last Month    9.51769
Name: 15612, dtype: object
15613 134.48 13 MP Last Month    10.3446
Name: 15613, dtype: object
15614 367.59999999999997 14 MP Last Month    26.2571
Name: 15614, dtype: object
15615 437.65 14 MP Last Month    31.2607
Name: 15615, dtype: object
15616 493.41 14 MP Last Month    35.2436
Name: 15616, dtype: object
15617 361.47999999999996 14 MP Last Month    25.82
Name: 15617, dtype: object
15618 0.0 3 MP Last Month    0
Name: 15618, dtype: object
15619 139.34 11 MP Last Month    12.6673
Name: 15619, dtype: object
15620 402.3 13 MP Last Month    30.9462
Name: 15620, dtype: object
15621 97.08 13 MP Last Month    7.46769
Name: 15621, dtype: object
15622 40.57000000000001 13 MP Last Month    3.12077
Name: 15622, dtype: object
15623 566.9 16 MP Last Month    35.4312
Name: 15623, dtype: object
15624 296.22999999999996 16 MP Last Month    18.5144
Name: 15624, dtype: object
15625 20.17 8 MP Last Month    2.52125
Name: 15625, dtype: object
15626 162.82999999999998 16 MP Last Month    10.1769
Name: 15626, dtype: object
15627 480.22999999999996 16 MP Last Month    30.0144
Name: 15627, dtype: object
15628 362.71000000000004 16 MP Last Month    22.6694
Name: 15628, dtype: object
15629 164.33 16 MP Last Month    10.2706
Name: 15629, dtype: object
15630 255.47 11 MP Last Month    23.2245
Name: 15630, dtype: object
15631 444.11 16 MP Last Month    27.7569
Name: 15631, dtype: object
15632 279.90999999999997 16 MP Last Month    17.4944
Name: 15632, dtype: object
15633 292.31000000000006 16 MP Last Month    18.2694
Name: 15633, dtype: object
15634 324.19999999999993 15 MP Last Month    21.6133
Name: 15634, dtype: object
15635 473.63 15 MP Last Month    31.5753
Name: 15635, dtype: object
15636 443.43 15 MP Last Month    29.562
Name: 15636, dtype: object
15637 534.26 15 MP Last Month    35.6173
Name: 15637, dtype: object
15638 302.38 14 MP Last Month    21.5986
Name: 15638, dtype: object
15639 229.79999999999998 9 MP Last Month    25.5333
Name: 15639, dtype: object
15640 358.31 15 MP Last Month    23.8873
Name: 15640, dtype: object
15641 45.74000000000001 15 MP Last Month    3.04933
Name: 15641, dtype: object
15642 75.38 15 MP Last Month    5.02533
Name: 15642, dtype: object
15643 262.05 15 MP Last Month    17.47
Name: 15643, dtype: object
15644 487.2 15 MP Last Month    32.48
Name: 15644, dtype: object
15645 74.39 10 MP Last Month    7.439
Name: 15645, dtype: object
15646 33.61 13 MP Last Month    2.58538
Name: 15646, dtype: object
15647 167.54000000000002 7 MP Last Month    23.9343
Name: 15647, dtype: object
15648 373.71 13 MP Last Month    28.7469
Name: 15648, dtype: object
15649 275.39 13 MP Last Month    21.1838
Name: 15649, dtype: object
15650 0.0 2 MP Last Month    0
Name: 15650, dtype: object
15651 382.99 11 MP Last Month    34.8173
Name: 15651, dtype: object
15652 317.63000000000005 11 MP Last Month    28.8755
Name: 15652, dtype: object
15653 250.89999999999998 12 MP Last Month    20.9083
Name: 15653, dtype: object
15654 16.98 9 MP Last Month    1.88667
Name: 15654, dtype: object
15655 52.87 4 MP Last Month    13.2175
Name: 15655, dtype: object
15656 299.97999999999996 10 MP Last Month    29.998
Name: 15656, dtype: object
15657 434.7099999999999 13 MP Last Month    33.4392
Name: 15657, dtype: object
15658 196.38000000000002 13 MP Last Month    15.1062
Name: 15658, dtype: object
15659 520.05 15 MP Last Month    34.67
Name: 15659, dtype: object
15660 33.33 3 MP Last Month    11.11
Name: 15660, dtype: object
15661 377.03 14 MP Last Month    26.9307
Name: 15661, dtype: object
15662 323.07 15 MP Last Month    21.538
Name: 15662, dtype: object
15663 237.31000000000003 15 MP Last Month    15.8207
Name: 15663, dtype: object
15664 456.49 15 MP Last Month    30.4327
Name: 15664, dtype: object
15665 58.449999999999996 14 MP Last Month    4.175
Name: 15665, dtype: object
15666 3.7199999999999998 5 MP Last Month    0.744
Name: 15666, dtype: object
15667 493.63999999999993 15 MP Last Month    32.9093
Name: 15667, dtype: object
15668 362.88 15 MP Last Month    24.192
Name: 15668, dtype: object
15669 35.94 15 MP Last Month    2.396
Name: 15669, dtype: object
15670 307.51 10 MP Last Month    30.751
Name: 15670, dtype: object
15671 409.82 13 MP Last Month    31.5246
Name: 15671, dtype: object
15672 290.68 13 MP Last Month    22.36
Name: 15672, dtype: object
15673 270.95 13 MP Last Month    20.8423
Name: 15673, dtype: object
15674 123.98999999999998 13 MP Last Month    9.53769
Name: 15674, dtype: object
15675 428.76000000000005 13 MP Last Month    32.9815
Name: 15675, dtype: object
15676 50.040000000000006 11 MP Last Month    4.54909
Name: 15676, dtype: object
15677 281.84999999999997 13 MP Last Month    21.6808
Name: 15677, dtype: object
15678 136.04000000000002 12 MP Last Month    11.3367
Name: 15678, dtype: object
15679 96.69 5 MP Last Month    19.338
Name: 15679, dtype: object
15680 177.41000000000003 13 MP Last Month    13.6469
Name: 15680, dtype: object
15681 33.39 13 MP Last Month    2.56846
Name: 15681, dtype: object
15682 469.39 14 MP Last Month    33.5279
Name: 15682, dtype: object
15683 205.72 12 MP Last Month    17.1433
Name: 15683, dtype: object
15684 207.02 14 MP Last Month    14.7871
Name: 15684, dtype: object
15685 197.28999999999996 14 MP Last Month    14.0921
Name: 15685, dtype: object
15686 437.71000000000004 14 MP Last Month    31.265
Name: 15686, dtype: object

15687 341.38999999999993 11 MP Last Month    31.0355
Name: 15687, dtype: object
15688 269.90000000000003 14 MP Last Month    19.2786
Name: 15688, dtype: object
15689 222.64 14 MP Last Month    15.9029
Name: 15689, dtype: object
15690 441.11 14 MP Last Month    31.5079
Name: 15690, dtype: object
15691 37.52 12 MP Last Month    3.12667
Name: 15691, dtype: object
15692 157.52 9 MP Last Month    17.5022
Name: 15692, dtype: object
15693 35.5 13 MP Last Month    2.73077
Name: 15693, dtype: object
15694 469.74 14 MP Last Month    33.5529
Name: 15694, dtype: object
15695 420.52 14 MP Last Month    30.0371
Name: 15695, dtype: object
15696 103.64000000000001 5 MP Last Month    20.728
Name: 15696, dtype: object
15697 321.4100000000001 14 MP Last Month    22.9579
Name: 15697, dtype: object
15698 36.39 13 MP Last Month    2.79923
Name: 15698, dtype: object
15699 175.29999999999998 12 MP Last Month    14.6083
Name: 15699, dtype: object
15700 385.01 14 MP Last Month    27.5007
Name: 15700, dtype: object
15701 304.88 14 MP Last Month    21.7771
Name: 15701, dtype: object
15702 30.03 13 MP Last Month    2.31
Name: 15702, dtype: object
15703 450.7700000000001 14 MP Last Month    32.1979
Name: 15703, dtype: object
15704 242.39000000000004 10 MP Last Month    24.239
Name: 15704, dtype: object
15705 323.33 14 MP Last Month    23.095
Name: 15705, dtype: object
15706 425.12 13 MP Last Month    32.7015
Name: 15706, dtype: object
15707 345.38000000000005 13 MP Last Month    26.5677
Name: 15707, dtype: object
15708 314.63000000000005 13 MP Last Month    24.2023
Name: 15708, dtype: object
15709 45.790000000000006 12 MP Last Month    3.81583
Name: 15709, dtype: object
15710 414.74 13 MP Last Month    31.9031
Name: 15710, dtype: object
15711 187.02 11 MP Last Month    17.0018
Name: 15711, dtype: object
15712 410.93999999999994 13 MP Last Month    31.6108
Name: 15712, dtype: object
15713 233.46 13 MP Last Month    17.9585
Name: 15713, dtype: object
15714 11.87 4 MP Last Month    2.9675
Name: 15714, dtype: object
15715 253.91 9 MP Last Month    28.2122
Name: 15715, dtype: object
15716 349.57 13 MP Last Month    26.89
Name: 15716, dtype: object
15717 78.36000000000001 12 MP Last Month    6.53
Name: 15717, dtype: object
15718 501.03000000000003 15 MP Last Month    33.402
Name: 15718, dtype: object
15719 467.75 15 MP Last Month    31.1833
Name: 15719, dtype: object
15720 488.15000000000003 14 MP Last Month    34.8679
Name: 15720, dtype: object
15721 456.6900000000001 13 MP Last Month    35.13
Name: 15721, dtype: object
15722 404.17 15 MP Last Month    26.9447
Name: 15722, dtype: object
15723 86.49000000000001 15 MP Last Month    5.766
Name: 15723, dtype: object
15724 96.14 7 MP Last Month    13.7343
Name: 15724, dtype: object
15725 204.01999999999998 15 MP Last Month    13.6013
Name: 15725, dtype: object
15726 237.85000000000002 15 MP Last Month    15.8567
Name: 15726, dtype: object
15727 214.40000000000003 14 MP Last Month    15.3143
Name: 15727, dtype: object
15728 43.230000000000004 15 MP Last Month    2.882
Name: 15728, dtype: object
15729 185.67999999999998 10 MP Last Month    18.568
Name: 15729, dtype: object
15730 238.02 11 MP Last Month    21.6382
Name: 15730, dtype: object
15731 330.5899999999999 11 MP Last Month    30.0536
Name: 15731, dtype: object
15732 300.68 11 MP Last Month    27.3345
Name: 15732, dtype: object
15733 156.36 9 MP Last Month    17.3733
Name: 15733, dtype: object
15734 252.20999999999998 11 MP Last Month    22.9282
Name: 15734, dtype: object
15735 113.94 8 MP Last Month    14.2425
Name: 15735, dtype: object
15736 390.34000000000003 11 MP Last Month    35.4855
Name: 15736, dtype: object
15737 0 0 MP Last Month    0
Name: 15737, dtype: object
15738 130.37 11 MP Last Month    11.8518
Name: 15738, dtype: object
15739 521.2 14 MP Last Month    37.2286
Name: 15739, dtype: object
15740 376.92999999999995 13 MP Last Month    28.9946
Name: 15740, dtype: object
15741 23.299999999999997 13 MP Last Month    1.79231
Name: 15741, dtype: object
15742 486.2000000000001 14 MP Last Month    34.7286
Name: 15742, dtype: object
15743 309.57 14 MP Last Month    22.1121
Name: 15743, dtype: object
15744 484.77 14 MP Last Month    34.6264
Name: 15744, dtype: object
15745 153.8 14 MP Last Month    10.9857
Name: 15745, dtype: object
15746 167.97 14 MP Last Month    11.9979
Name: 15746, dtype: object
15747 493.89 14 MP Last Month    35.2779
Name: 15747, dtype: object
15748 184.71 14 MP Last Month    13.1936
Name: 15748, dtype: object
15749 136.61 11 MP Last Month    12.4191
Name: 15749, dtype: object
15750 435.85 13 MP Last Month    33.5269
Name: 15750, dtype: object
15751 330.41999999999996 13 MP Last Month    25.4169
Name: 15751, dtype: object
15752 241.68 13 MP Last Month    18.5908
Name: 15752, dtype: object
15753 354.8299999999999 11 MP Last Month    32.2573
Name: 15753, dtype: object
15754 347.49 11 MP Last Month    31.59
Name: 15754, dtype: object
15755 265.62 10 MP Last Month    26.562
Name: 15755, dtype: object
15756 202.96999999999997 12 MP Last Month    16.9142
Name: 15756, dtype: object
15757 226.92 13 MP Last Month    17.4554
Name: 15757, dtype: object
15758 8.12 1 MP Last Month    8.12
Name: 15758, dtype: object
15759 352.41999999999996 11 MP Last Month    32.0382
Name: 15759, dtype: object
15760 252.36999999999998 13 MP Last Month    19.4131
Name: 15760, dtype: object
15761 38.22 12 MP Last Month    3.185
Name: 15761, dtype: object
15762 374.89000000000004 11 MP Last Month    34.0809
Name: 15762, dtype: object
15763 144.17999999999998 13 MP Last Month    11.0908
Name: 15763, dtype: object
15764 337.47999999999996 14 MP Last Month    24.1057
Name: 15764, dtype: object
15765 81.31 14 MP Last Month    5.80786
Name: 15765, dtype: object
15766 358.07 14 MP Last Month    25.5764
Name: 15766, dtype: object
15767 426.32000000000005 14 MP Last Month    30.4514
Name: 15767, dtype: object
15768 488.69999999999993 14 MP Last Month    34.9071
Name: 15768, dtype: object
15769 342.96000000000004 14 MP Last Month    24.4971
Name: 15769, dtype: object
15770 444.11 14 MP Last Month    31.7221
Name: 15770, dtype: object
15771 234.67000000000002 13 MP Last Month    18.0515
Name: 15771, dtype: object
15772 26.28 3 MP Last Month    8.76
Name: 15772, dtype: object
15773 17.04 14 MP Last Month    1.21714
Name: 15773, dtype: object
15774 0.0 7 MP Last Month    0
Name: 15774, dtype: object
15775 440.82 14 MP Last Month    31.4871
Name: 15775, dtype: object
15776 217.39 14 MP Last Month    15.5279
Name: 15776, dtype: object
15777 454.15999999999997 14 MP Last Month    32.44
Name: 15777, dtype: object
15778 388.77000000000004 14 MP Last Month    27.7693
Name: 15778, dtype: object
15779 364.64 14 MP Last Month    26.0457
Name: 15779, dtype: object
15780 344.71000000000004 14 MP Last Month    24.6221
Name: 15780, dtype: object
15781 246.7 10 MP Last Month    24.67
Name: 15781, dtype: object
15782 84.19999999999999 14 MP Last Month    6.01429
Name: 15782, dtype: object
15783 423.0600000000001 14 MP Last Month    30.2186
Name: 15783, dtype: object
15784 89.36000000000001 4 MP Last Month    22.34
Name: 15784, dtype: object
15785 157.82 12 MP Last Month    13.1517
Name: 15785, dtype: object
15786 105.64 14 MP Last Month    7.54571
Name: 15786, dtype: object
15787 201.07000000000002 8 MP Last Month    25.1338
Name: 15787, dtype: object
15788 391.83 14 MP Last Month    27.9879
Name: 15788, dtype: object
15789 287.64 14 MP Last Month    20.5457
Name: 15789, dtype: object
15790 79.82 12 MP Last Month    6.65167
Name: 15790, dtype: object
15791 348.45000000000005 12 MP Last Month    29.0375
Name: 15791, dtype: object
15792 274.87 13 MP Last Month    21.1438
Name: 15792, dtype: object
15793 52.87 5 MP Last Month    10.574
Name: 15793, dtype: object
15794 470.4899999999999 14 MP Last Month    33.6064
Name: 15794, dtype: object
15795 333.65 11 MP Last Month    30.3318
Name: 15795, dtype: object
15796 211.78000000000003 14 MP Last Month    15.1271
Name: 15796, dtype: object
15797 43.419999999999995 11 MP Last Month    3.94727
Name: 15797, dtype: object
15798 552.7700000000001 14 MP Last Month    39.4836
Name: 15798, dtype: object
15799 185.32 7 MP Last Month    26.4743
Name: 15799, dtype: object
15800 535.9799999999999 14 MP Last Month    38.2843
Name: 15800, dtype: object

15801 426.43999999999994 14 MP Last Month    30.46
Name: 15801, dtype: object
15802 344.23 14 MP Last Month    24.5879
Name: 15802, dtype: object
15803 217.71 14 MP Last Month    15.5507
Name: 15803, dtype: object
15804 450.38999999999993 14 MP Last Month    32.1707
Name: 15804, dtype: object
15805 213.20999999999998 14 MP Last Month    15.2293
Name: 15805, dtype: object
15806 161.64 14 MP Last Month    11.5457
Name: 15806, dtype: object
15807 399.95000000000005 12 MP Last Month    33.3292
Name: 15807, dtype: object
15808 407.64000000000004 14 MP Last Month    29.1171
Name: 15808, dtype: object
15809 320.0 15 MP Last Month    21.3333
Name: 15809, dtype: object
15810 72.59 15 MP Last Month    4.83933
Name: 15810, dtype: object
15811 366.1 15 MP Last Month    24.4067
Name: 15811, dtype: object
15812 329.47 12 MP Last Month    27.4558
Name: 15812, dtype: object
15813 394.67 15 MP Last Month    26.3113
Name: 15813, dtype: object
15814 463.65 15 MP Last Month    30.91
Name: 15814, dtype: object
15815 122.03 15 MP Last Month    8.13533
Name: 15815, dtype: object
15816 16.2 2 MP Last Month    8.1
Name: 15816, dtype: object
15817 320.28 13 MP Last Month    24.6369
Name: 15817, dtype: object
15818 74.52 14 MP Last Month    5.32286
Name: 15818, dtype: object
15819 249.25 15 MP Last Month    16.6167
Name: 15819, dtype: object
15820 393.01 13 MP Last Month    30.2315
Name: 15820, dtype: object
15821 220.86999999999998 14 MP Last Month    15.7764
Name: 15821, dtype: object
15822 391.7900000000001 14 MP Last Month    27.985
Name: 15822, dtype: object
15823 390.83 13 MP Last Month    30.0638
Name: 15823, dtype: object
15824 356.28999999999996 14 MP Last Month    25.4493
Name: 15824, dtype: object
15825 158.4 7 MP Last Month    22.6286
Name: 15825, dtype: object
15826 372.95 14 MP Last Month    26.6393
Name: 15826, dtype: object
15827 374.46999999999997 14 MP Last Month    26.7479
Name: 15827, dtype: object
15828 241.87 13 MP Last Month    18.6054
Name: 15828, dtype: object
15829 135.6 7 MP Last Month    19.3714
Name: 15829, dtype: object
15830 67.93 14 MP Last Month    4.85214
Name: 15830, dtype: object
15831 120.42 11 MP Last Month    10.9473
Name: 15831, dtype: object
15832 412.06000000000006 14 MP Last Month    29.4329
Name: 15832, dtype: object
15833 401.58000000000004 14 MP Last Month    28.6843
Name: 15833, dtype: object
15834 413.28999999999996 14 MP Last Month    29.5207
Name: 15834, dtype: object
15835 205.71 13 MP Last Month    15.8238
Name: 15835, dtype: object
15836 200.08000000000004 11 MP Last Month    18.1891
Name: 15836, dtype: object
15837 425.78000000000003 14 MP Last Month    30.4129
Name: 15837, dtype: object
15838 172.07 11 MP Last Month    15.6427
Name: 15838, dtype: object
15839 161.67000000000002 11 MP Last Month    14.6973
Name: 15839, dtype: object
15840 106.55000000000001 14 MP Last Month    7.61071
Name: 15840, dtype: object
15841 433.93000000000006 15 MP Last Month    28.9287
Name: 15841, dtype: object
15842 236.85 15 MP Last Month    15.79
Name: 15842, dtype: object
15843 346.71000000000004 15 MP Last Month    23.114
Name: 15843, dtype: object
15844 250.22 15 MP Last Month    16.6813
Name: 15844, dtype: object
15845 54.4 13 MP Last Month    4.18462
Name: 15845, dtype: object
15846 271.26 15 MP Last Month    18.084
Name: 15846, dtype: object
15847 216.64 15 MP Last Month    14.4427
Name: 15847, dtype: object
15848 496.65000000000003 15 MP Last Month    33.11
Name: 15848, dtype: object
15849 519.8299999999999 14 MP Last Month    37.1307
Name: 15849, dtype: object
15850 97.07 11 MP Last Month    8.82455
Name: 15850, dtype: object
15851 517.27 15 MP Last Month    34.4847
Name: 15851, dtype: object
15852 498.1700000000001 14 MP Last Month    35.5836
Name: 15852, dtype: object
15853 472.71999999999997 14 MP Last Month    33.7657
Name: 15853, dtype: object
15854 108.18 14 MP Last Month    7.72714
Name: 15854, dtype: object
15855 181.64000000000001 13 MP Last Month    13.9723
Name: 15855, dtype: object
15856 498.61000000000007 14 MP Last Month    35.615
Name: 15856, dtype: object
15857 330.31000000000006 14 MP Last Month    23.5936
Name: 15857, dtype: object
15858 177.45999999999998 14 MP Last Month    12.6757
Name: 15858, dtype: object
15859 460.49999999999994 14 MP Last Month    32.8929
Name: 15859, dtype: object
15860 0 0 MP Last Month    0
Name: 15860, dtype: object
15861 319.7200000000001 14 MP Last Month    22.8371
Name: 15861, dtype: object
15862 93.34 14 MP Last Month    6.66714
Name: 15862, dtype: object
15863 235.63000000000002 14 MP Last Month    16.8307
Name: 15863, dtype: object
15864 299.01000000000005 14 MP Last Month    21.3579
Name: 15864, dtype: object
15865 355.73 14 MP Last Month    25.4093
Name: 15865, dtype: object
15866 379.42 14 MP Last Month    27.1014
Name: 15866, dtype: object
15867 194.62 14 MP Last Month    13.9014
Name: 15867, dtype: object
15868 0 0 MP Last Month    0
Name: 15868, dtype: object
15869 463.42 14 MP Last Month    33.1014
Name: 15869, dtype: object
15870 159.15 14 MP Last Month    11.3679
Name: 15870, dtype: object
15871 453.21 14 MP Last Month    32.3721
Name: 15871, dtype: object
15872 43.25 14 MP Last Month    3.08929
Name: 15872, dtype: object
15873 360.5400000000001 14 MP Last Month    25.7529
Name: 15873, dtype: object
15874 14.85 7 MP Last Month    2.12143
Name: 15874, dtype: object
15875 200.78 14 MP Last Month    14.3414
Name: 15875, dtype: object
15876 71.99000000000001 14 MP Last Month    5.14214
Name: 15876, dtype: object
15877 458.27 14 MP Last Month    32.7336
Name: 15877, dtype: object
15878 222.36 14 MP Last Month    15.8829
Name: 15878, dtype: object
15879 120.42000000000002 12 MP Last Month    10.035
Name: 15879, dtype: object
15880 339.32 13 MP Last Month    26.1015
Name: 15880, dtype: object
15881 329.41999999999996 14 MP Last Month    23.53
Name: 15881, dtype: object
15882 138.0 11 MP Last Month    12.5455
Name: 15882, dtype: object
15883 444.44000000000005 14 MP Last Month    31.7457
Name: 15883, dtype: object
15884 12.8 7 MP Last Month    1.82857
Name: 15884, dtype: object
15885 452.29999999999995 14 MP Last Month    32.3071
Name: 15885, dtype: object
15886 366.77 14 MP Last Month    26.1979
Name: 15886, dtype: object
15887 108.65 11 MP Last Month    9.87727
Name: 15887, dtype: object
15888 33.690000000000005 12 MP Last Month    2.8075
Name: 15888, dtype: object
15889 297.66 12 MP Last Month    24.805
Name: 15889, dtype: object
15890 360.78999999999996 12 MP Last Month    30.0658
Name: 15890, dtype: object
15891 312.07 13 MP Last Month    24.0054
Name: 15891, dtype: object
15892 17.07 13 MP Last Month    1.31308
Name: 15892, dtype: object
15893 240.10999999999999 12 MP Last Month    20.0092
Name: 15893, dtype: object
15894 77.31 7 MP Last Month    11.0443
Name: 15894, dtype: object
15895 255.16000000000003 13 MP Last Month    19.6277
Name: 15895, dtype: object
15896 446.09999999999997 13 MP Last Month    34.3154
Name: 15896, dtype: object
15897 0.0 12 MP Last Month    0
Name: 15897, dtype: object
15898 301.09999999999997 12 MP Last Month    25.0917
Name: 15898, dtype: object
15899 309.41 13 MP Last Month    23.8008
Name: 15899, dtype: object
15900 244.06 12 MP Last Month    20.3383
Name: 15900, dtype: object
15901 259.11 13 MP Last Month    19.9315
Name: 15901, dtype: object
15902 180.13 7 MP Last Month    25.7329
Name: 15902, dtype: object
15903 161.10000000000002 6 MP Last Month    26.85
Name: 15903, dtype: object
15904 65.47 14 MP Last Month    4.67643
Name: 15904, dtype: object
15905 511.82 14 MP Last Month    36.5586
Name: 15905, dtype: object
15906 363.2099999999999 14 MP Last Month    25.9436
Name: 15906, dtype: object
15907 306.77 14 MP Last Month    21.9121
Name: 15907, dtype: object
15908 139.35999999999999 14 MP Last Month    9.95429
Name: 15908, dtype: object
15909 7.38 4 MP Last Month    1.845
Name: 15909, dtype: object
15910 19.32 14 MP Last Month    1.38
Name: 15910, dtype: object
15911 0 0 MP Last Month    0
Name: 15911, dtype: object
15912 357.98 14 MP Last Month    25.57
Name: 15912, dtype: object
15913 472.44 14 MP Last Month    33.7457
Name: 15913, dtype: object
15914 203.34000000000003 14 MP Last Month    14.5243
Name: 15914, dtype: object
15915 515.1999999999999 14 MP Last Month    36.8
Name: 15915, dtype: object

15916 219.24 8 MP Last Month    27.405
Name: 15916, dtype: object
15917 221.35000000000002 14 MP Last Month    15.8107
Name: 15917, dtype: object
15918 170.64999999999998 13 MP Last Month    13.1269
Name: 15918, dtype: object
15919 54.50999999999999 11 MP Last Month    4.95545
Name: 15919, dtype: object
15920 365.64 12 MP Last Month    30.47
Name: 15920, dtype: object
15921 371.65000000000003 13 MP Last Month    28.5885
Name: 15921, dtype: object
15922 169.76000000000002 14 MP Last Month    12.1257
Name: 15922, dtype: object
15923 18.63 13 MP Last Month    1.43308
Name: 15923, dtype: object
15924 433.44 13 MP Last Month    33.3415
Name: 15924, dtype: object
15925 483.49 13 MP Last Month    37.1915
Name: 15925, dtype: object
15926 95.13000000000001 4 MP Last Month    23.7825
Name: 15926, dtype: object
15927 162.99999999999997 14 MP Last Month    11.6429
Name: 15927, dtype: object
15928 404.55999999999995 14 MP Last Month    28.8971
Name: 15928, dtype: object
15929 144.01 14 MP Last Month    10.2864
Name: 15929, dtype: object
15930 134.48 14 MP Last Month    9.60571
Name: 15930, dtype: object
15931 477.17999999999995 15 MP Last Month    31.812
Name: 15931, dtype: object
15932 530.48 15 MP Last Month    35.3653
Name: 15932, dtype: object
15933 400.59999999999997 15 MP Last Month    26.7067
Name: 15933, dtype: object
15934 394.22999999999996 15 MP Last Month    26.282
Name: 15934, dtype: object
15935 139.34 12 MP Last Month    11.6117
Name: 15935, dtype: object
15936 440.18 14 MP Last Month    31.4414
Name: 15936, dtype: object
15937 171.83 11 MP Last Month    15.6209
Name: 15937, dtype: object
15938 40.57000000000001 14 MP Last Month    2.89786
Name: 15938, dtype: object
15939 112.2 14 MP Last Month    8.01429
Name: 15939, dtype: object
15940 563.4 16 MP Last Month    35.2125
Name: 15940, dtype: object
15941 300.83 16 MP Last Month    18.8019
Name: 15941, dtype: object
15942 22.39 9 MP Last Month    2.48778
Name: 15942, dtype: object
15943 475.38 16 MP Last Month    29.7112
Name: 15943, dtype: object
15944 361.44000000000005 16 MP Last Month    22.59
Name: 15944, dtype: object
15945 188.76 16 MP Last Month    11.7975
Name: 15945, dtype: object
15946 225.89999999999998 11 MP Last Month    20.5364
Name: 15946, dtype: object
15947 165.27999999999997 16 MP Last Month    10.33
Name: 15947, dtype: object
15948 443.66 16 MP Last Month    27.7288
Name: 15948, dtype: object
15949 292.71000000000004 16 MP Last Month    18.2944
Name: 15949, dtype: object
15950 288.16 16 MP Last Month    18.01
Name: 15950, dtype: object
15951 450.47999999999996 15 MP Last Month    30.032
Name: 15951, dtype: object
15952 326.56999999999994 15 MP Last Month    21.7713
Name: 15952, dtype: object
15953 483.36 15 MP Last Month    32.224
Name: 15953, dtype: object
15954 222.58 9 MP Last Month    24.7311
Name: 15954, dtype: object
15955 307.76 14 MP Last Month    21.9829
Name: 15955, dtype: object
15956 359.06999999999994 15 MP Last Month    23.938
Name: 15956, dtype: object
15957 61.93000000000001 15 MP Last Month    4.12867
Name: 15957, dtype: object
15958 544.3000000000001 15 MP Last Month    36.2867
Name: 15958, dtype: object
15959 37.809999999999995 15 MP Last Month    2.52067
Name: 15959, dtype: object
15960 482.99999999999994 15 MP Last Month    32.2
Name: 15960, dtype: object
15961 79.79 11 MP Last Month    7.25364
Name: 15961, dtype: object
15962 260.85 15 MP Last Month    17.39
Name: 15962, dtype: object
15963 0.88 1 MP Last Month    0.88
Name: 15963, dtype: object
15964 516.1999999999999 15 MP Last Month    34.4133
Name: 15964, dtype: object
15965 48.379999999999995 3 MP Last Month    16.1267
Name: 15965, dtype: object
15966 254.58999999999997 15 MP Last Month    16.9727
Name: 15966, dtype: object
15967 373.34000000000003 14 MP Last Month    26.6671
Name: 15967, dtype: object
15968 461.29999999999995 15 MP Last Month    30.7533
Name: 15968, dtype: object
15969 333.99 15 MP Last Month    22.266
Name: 15969, dtype: object
15970 65.25 15 MP Last Month    4.35
Name: 15970, dtype: object
15971 6.22 6 MP Last Month    1.03667
Name: 15971, dtype: object
15972 495.66999999999996 15 MP Last Month    33.0447
Name: 15972, dtype: object
15973 368.75999999999993 15 MP Last Month    24.584
Name: 15973, dtype: object
15974 38.64 15 MP Last Month    2.576
Name: 15974, dtype: object
15975 428.1 14 MP Last Month    30.5786
Name: 15975, dtype: object
15976 283.24 13 MP Last Month    21.7877
Name: 15976, dtype: object
15977 53.400000000000006 12 MP Last Month    4.45
Name: 15977, dtype: object
15978 459.72 14 MP Last Month    32.8371
Name: 15978, dtype: object
15979 225.07 14 MP Last Month    16.0764
Name: 15979, dtype: object
15980 112.68 14 MP Last Month    8.04857
Name: 15980, dtype: object
15981 128.9 13 MP Last Month    9.91538
Name: 15981, dtype: object
15982 408.98 13 MP Last Month    31.46
Name: 15982, dtype: object
15983 274.85 12 MP Last Month    22.9042
Name: 15983, dtype: object
15984 64.69 8 MP Last Month    8.08625
Name: 15984, dtype: object
15985 274.34000000000003 10 MP Last Month    27.434
Name: 15985, dtype: object
15986 399.94000000000005 12 MP Last Month    33.3283
Name: 15986, dtype: object
15987 314.84999999999997 15 MP Last Month    20.99
Name: 15987, dtype: object
15988 404.5400000000001 14 MP Last Month    28.8957
Name: 15988, dtype: object
15989 72.59 15 MP Last Month    4.83933
Name: 15989, dtype: object
15990 456.97999999999996 15 MP Last Month    30.4653
Name: 15990, dtype: object
15991 363.53 15 MP Last Month    24.2353
Name: 15991, dtype: object
15992 354.45000000000005 13 MP Last Month    27.2654
Name: 15992, dtype: object
15993 109.53 15 MP Last Month    7.302
Name: 15993, dtype: object
15994 351.21 14 MP Last Month    25.0864
Name: 15994, dtype: object
15995 36.910000000000004 2 MP Last Month    18.455
Name: 15995, dtype: object
15996 230.24 15 MP Last Month    15.3493
Name: 15996, dtype: object
15997 76.33999999999999 15 MP Last Month    5.08933
Name: 15997, dtype: object
15998 61.88 8 MP Last Month    7.735
Name: 15998, dtype: object
15999 336.31 11 MP Last Month    30.5736
Name: 15999, dtype: object
16000 405.36999999999995 13 MP Last Month    31.1823
Name: 16000, dtype: object
16001 279.98 13 MP Last Month    21.5369
Name: 16001, dtype: object
16002 251.14 13 MP Last Month    19.3185
Name: 16002, dtype: object
16003 133.11999999999998 13 MP Last Month    10.24
Name: 16003, dtype: object
16004 420.85 13 MP Last Month    32.3731
Name: 16004, dtype: object
16005 68.27000000000001 12 MP Last Month    5.68917
Name: 16005, dtype: object
16006 308.45 13 MP Last Month    23.7269
Name: 16006, dtype: object
16007 152.59 12 MP Last Month    12.7158
Name: 16007, dtype: object
16008 100.28 5 MP Last Month    20.056
Name: 16008, dtype: object
16009 181.51000000000002 13 MP Last Month    13.9623
Name: 16009, dtype: object
16010 39.16 13 MP Last Month    3.01231
Name: 16010, dtype: object
16011 460.34 14 MP Last Month    32.8814
Name: 16011, dtype: object
16012 200.45 12 MP Last Month    16.7042
Name: 16012, dtype: object
16013 220.19 14 MP Last Month    15.7279
Name: 16013, dtype: object
16014 206.51999999999995 14 MP Last Month    14.7514
Name: 16014, dtype: object
16015 325.8399999999999 11 MP Last Month    29.6218
Name: 16015, dtype: object
16016 437.55000000000007 14 MP Last Month    31.2536
Name: 16016, dtype: object
16017 429.38 14 MP Last Month    30.67
Name: 16017, dtype: object
16018 231.41999999999996 14 MP Last Month    16.53
Name: 16018, dtype: object
16019 279.72 14 MP Last Month    19.98
Name: 16019, dtype: object
16020 38.85 12 MP Last Month    3.2375
Name: 16020, dtype: object
16021 166.94 10 MP Last Month    16.694
Name: 16021, dtype: object
16022 31.85 13 MP Last Month    2.45
Name: 16022, dtype: object
16023 415.03000000000003 14 MP Last Month    29.645
Name: 16023, dtype: object
16024 397.63000000000005 14 MP Last Month    28.4021
Name: 16024, dtype: object
16025 412.02 14 MP Last Month    29.43
Name: 16025, dtype: object
16026 223.56 13 MP Last Month    17.1969
Name: 16026, dtype: object
16027 124.82 11 MP Last Month    11.3473
Name: 16027, dtype: object
16028 152.93 11 MP Last Month    13.9027
Name: 16028, dtype: object
16029 421.86000000000007 14 MP Last Month    30.1329
Name: 16029, dtype: object

16030 201.18 11 MP Last Month    18.2891
Name: 16030, dtype: object
16031 0 0 MP Last Month    0
Name: 16031, dtype: object
16032 180.57000000000002 11 MP Last Month    16.4155
Name: 16032, dtype: object
16033 120.15 14 MP Last Month    8.58214
Name: 16033, dtype: object
16034 472.29 15 MP Last Month    31.486
Name: 16034, dtype: object
16035 208.72999999999996 15 MP Last Month    13.9153
Name: 16035, dtype: object
16036 178.83000000000004 15 MP Last Month    11.922
Name: 16036, dtype: object
16037 0.0 2 MP Last Month    0
Name: 16037, dtype: object
16038 498.7600000000001 15 MP Last Month    33.2507
Name: 16038, dtype: object
16039 305.72999999999996 15 MP Last Month    20.382
Name: 16039, dtype: object
16040 27.85 11 MP Last Month    2.53182
Name: 16040, dtype: object
16041 465.09 15 MP Last Month    31.006
Name: 16041, dtype: object
16042 231.35000000000002 15 MP Last Month    15.4233
Name: 16042, dtype: object
16043 295.03999999999996 15 MP Last Month    19.6693
Name: 16043, dtype: object
16044 27.439999999999998 14 MP Last Month    1.96
Name: 16044, dtype: object
16045 118.45000000000002 12 MP Last Month    9.87083
Name: 16045, dtype: object
16046 459.38 14 MP Last Month    32.8129
Name: 16046, dtype: object
16047 312.77000000000004 14 MP Last Month    22.3407
Name: 16047, dtype: object
16048 427.91999999999996 14 MP Last Month    30.5657
Name: 16048, dtype: object
16049 122.24000000000001 6 MP Last Month    20.3733
Name: 16049, dtype: object
16050 40.76 13 MP Last Month    3.13538
Name: 16050, dtype: object
16051 175.25 12 MP Last Month    14.6042
Name: 16051, dtype: object
16052 53.03 3 MP Last Month    17.6767
Name: 16052, dtype: object
16053 388.19 14 MP Last Month    27.7279
Name: 16053, dtype: object
16054 34.43 13 MP Last Month    2.64846
Name: 16054, dtype: object
16055 292.8800000000001 14 MP Last Month    20.92
Name: 16055, dtype: object
16056 441.2900000000001 14 MP Last Month    31.5207
Name: 16056, dtype: object
16057 267.79 11 MP Last Month    24.3445
Name: 16057, dtype: object
16058 309.0999999999999 14 MP Last Month    22.0786
Name: 16058, dtype: object
16059 344.88 15 MP Last Month    22.992
Name: 16059, dtype: object
16060 435.2 15 MP Last Month    29.0133
Name: 16060, dtype: object
16061 228.89999999999998 15 MP Last Month    15.26
Name: 16061, dtype: object
16062 54.4 13 MP Last Month    4.18462
Name: 16062, dtype: object
16063 239.19 15 MP Last Month    15.946
Name: 16063, dtype: object
16064 286.74 15 MP Last Month    19.116
Name: 16064, dtype: object
16065 487.8700000000001 15 MP Last Month    32.5247
Name: 16065, dtype: object
16066 224.94 15 MP Last Month    14.996
Name: 16066, dtype: object
16067 515.23 14 MP Last Month    36.8021
Name: 16067, dtype: object
16068 120.42999999999999 11 MP Last Month    10.9482
Name: 16068, dtype: object
16069 136.5 13 MP Last Month    10.5
Name: 16069, dtype: object
16070 0 0 MP Last Month    0
Name: 16070, dtype: object
16071 552.8199999999999 14 MP Last Month    39.4871
Name: 16071, dtype: object
16072 453.65 12 MP Last Month    37.8042
Name: 16072, dtype: object
16073 196.47 6 MP Last Month    32.745
Name: 16073, dtype: object
16074 506.6500000000001 14 MP Last Month    36.1893
Name: 16074, dtype: object
16075 96.85000000000001 7 MP Last Month    13.8357
Name: 16075, dtype: object
16076 380.19000000000005 14 MP Last Month    27.1564
Name: 16076, dtype: object
16077 36.1 10 MP Last Month    3.61
Name: 16077, dtype: object
16078 144.97 14 MP Last Month    10.355
Name: 16078, dtype: object
16079 110.12 14 MP Last Month    7.86571
Name: 16079, dtype: object
16080 6.93 3 MP Last Month    2.31
Name: 16080, dtype: object
16081 36.17 14 MP Last Month    2.58357
Name: 16081, dtype: object
16082 388.97 12 MP Last Month    32.4142
Name: 16082, dtype: object
16083 315.01 12 MP Last Month    26.2508
Name: 16083, dtype: object
16084 292.59999999999997 12 MP Last Month    24.3833
Name: 16084, dtype: object
16085 46.940000000000005 11 MP Last Month    4.26727
Name: 16085, dtype: object
16086 379.84000000000003 12 MP Last Month    31.6533
Name: 16086, dtype: object
16087 174.67000000000002 10 MP Last Month    17.467
Name: 16087, dtype: object
16088 378.18 12 MP Last Month    31.515
Name: 16088, dtype: object
16089 205.85999999999996 12 MP Last Month    17.155
Name: 16089, dtype: object
16090 13.02 5 MP Last Month    2.604
Name: 16090, dtype: object
16091 321.77 12 MP Last Month    26.8142
Name: 16091, dtype: object
16092 229.60999999999999 8 MP Last Month    28.7012
Name: 16092, dtype: object
16093 78.36000000000001 11 MP Last Month    7.12364
Name: 16093, dtype: object
16094 494.6600000000001 15 MP Last Month    32.9773
Name: 16094, dtype: object
16095 205.61999999999998 15 MP Last Month    13.708
Name: 16095, dtype: object
16096 466.53 15 MP Last Month    31.102
Name: 16096, dtype: object
16097 450.37 13 MP Last Month    34.6438
Name: 16097, dtype: object
16098 525.77 15 MP Last Month    35.0513
Name: 16098, dtype: object
16099 390.04 15 MP Last Month    26.0027
Name: 16099, dtype: object
16100 104.76 8 MP Last Month    13.095
Name: 16100, dtype: object
16101 99.63999999999999 15 MP Last Month    6.64267
Name: 16101, dtype: object
16102 194.42999999999998 11 MP Last Month    17.6755
Name: 16102, dtype: object
16103 263.6 15 MP Last Month    17.5733
Name: 16103, dtype: object
16104 213.27000000000004 14 MP Last Month    15.2336
Name: 16104, dtype: object
16105 43.11000000000001 15 MP Last Month    2.874
Name: 16105, dtype: object
16106 222.87 14 MP Last Month    15.9193
Name: 16106, dtype: object
16107 456.90999999999997 14 MP Last Month    32.6364
Name: 16107, dtype: object
16108 110.85000000000001 12 MP Last Month    9.2375
Name: 16108, dtype: object
16109 340.2199999999999 13 MP Last Month    26.1708
Name: 16109, dtype: object
16110 442.2900000000001 14 MP Last Month    31.5921
Name: 16110, dtype: object
16111 158.7 12 MP Last Month    13.225
Name: 16111, dtype: object
16112 331.58000000000004 14 MP Last Month    23.6843
Name: 16112, dtype: object
16113 12.8 8 MP Last Month    1.6
Name: 16113, dtype: object
16114 23.740000000000002 12 MP Last Month    1.97833
Name: 16114, dtype: object
16115 364.25000000000006 14 MP Last Month    26.0179
Name: 16115, dtype: object
16116 326.14000000000004 13 MP Last Month    25.0877
Name: 16116, dtype: object
16117 396.46999999999997 13 MP Last Month    30.4977
Name: 16117, dtype: object
16118 346.77 14 MP Last Month    24.7693
Name: 16118, dtype: object
16119 20.85 14 MP Last Month    1.48929
Name: 16119, dtype: object
16120 446.09999999999997 14 MP Last Month    31.8643
Name: 16120, dtype: object
16121 85.93 8 MP Last Month    10.7413
Name: 16121, dtype: object
16122 265.14000000000004 14 MP Last Month    18.9386
Name: 16122, dtype: object
16123 270.26 13 MP Last Month    20.7892
Name: 16123, dtype: object
16124 0.0 13 MP Last Month    0
Name: 16124, dtype: object
16125 320.41999999999996 13 MP Last Month    24.6477
Name: 16125, dtype: object
16126 274.76 13 MP Last Month    21.1354
Name: 16126, dtype: object
16127 335.83000000000004 14 MP Last Month    23.9879
Name: 16127, dtype: object
16128 271.28000000000003 14 MP Last Month    19.3771
Name: 16128, dtype: object
16129 388.52 14 MP Last Month    27.7514
Name: 16129, dtype: object
16130 365.9800000000001 13 MP Last Month    28.1523
Name: 16130, dtype: object
16131 295.05000000000007 14 MP Last Month    21.075
Name: 16131, dtype: object
16132 6.300000000000001 3 MP Last Month    2.1
Name: 16132, dtype: object
16133 405.58 13 MP Last Month    31.1985
Name: 16133, dtype: object
16134 432.11 14 MP Last Month    30.865
Name: 16134, dtype: object
16135 241.12000000000003 14 MP Last Month    17.2229
Name: 16135, dtype: object
16136 239.63000000000002 14 MP Last Month    17.1164
Name: 16136, dtype: object
16137 69.5 13 MP Last Month    5.34615
Name: 16137, dtype: object
16138 383.73 14 MP Last Month    27.4093
Name: 16138, dtype: object
16139 221.39000000000001 13 MP Last Month    17.03
Name: 16139, dtype: object
16140 134.51 8 MP Last Month    16.8137
Name: 16140, dtype: object
16141 140.91 13 MP Last Month    10.8392
Name: 16141, dtype: object
16142 529.9 14 MP Last Month    37.85
Name: 16142, dtype: object

16143 393.42999999999995 14 MP Last Month    28.1021
Name: 16143, dtype: object
16144 23.299999999999997 14 MP Last Month    1.66429
Name: 16144, dtype: object
16145 491.27000000000004 14 MP Last Month    35.0907
Name: 16145, dtype: object
16146 487.1700000000001 14 MP Last Month    34.7979
Name: 16146, dtype: object
16147 317.67 14 MP Last Month    22.6907
Name: 16147, dtype: object
16148 177.76999999999998 14 MP Last Month    12.6979
Name: 16148, dtype: object
16149 148.35000000000002 14 MP Last Month    10.5964
Name: 16149, dtype: object
16150 500.74 14 MP Last Month    35.7671
Name: 16150, dtype: object
16151 134.76000000000002 11 MP Last Month    12.2509
Name: 16151, dtype: object
16152 184.52 14 MP Last Month    13.18
Name: 16152, dtype: object
16153 407.9699999999999 14 MP Last Month    29.1407
Name: 16153, dtype: object
16154 158.21 14 MP Last Month    11.3007
Name: 16154, dtype: object
16155 110.6 14 MP Last Month    7.9
Name: 16155, dtype: object
16156 406.86999999999995 15 MP Last Month    27.1247
Name: 16156, dtype: object
16157 490.93 15 MP Last Month    32.7287
Name: 16157, dtype: object
16158 402.83 15 MP Last Month    26.8553
Name: 16158, dtype: object
16159 123.58999999999997 12 MP Last Month    10.2992
Name: 16159, dtype: object
16160 529.7600000000001 15 MP Last Month    35.3173
Name: 16160, dtype: object
16161 472.95 15 MP Last Month    31.53
Name: 16161, dtype: object
16162 34.300000000000004 14 MP Last Month    2.45
Name: 16162, dtype: object
16163 161.39 11 MP Last Month    14.6718
Name: 16163, dtype: object
16164 92.98 14 MP Last Month    6.64143
Name: 16164, dtype: object
16165 438.55000000000007 13 MP Last Month    33.7346
Name: 16165, dtype: object
16166 331.36999999999995 13 MP Last Month    25.49
Name: 16166, dtype: object
16167 233.93 13 MP Last Month    17.9946
Name: 16167, dtype: object
16168 358.41999999999996 11 MP Last Month    32.5836
Name: 16168, dtype: object
16169 355.21999999999997 11 MP Last Month    32.2927
Name: 16169, dtype: object
16170 268.11999999999995 10 MP Last Month    26.812
Name: 16170, dtype: object
16171 215.61999999999998 13 MP Last Month    16.5862
Name: 16171, dtype: object
16172 211.20000000000002 13 MP Last Month    16.2462
Name: 16172, dtype: object
16173 8.12 2 MP Last Month    4.06
Name: 16173, dtype: object
16174 361.20000000000005 11 MP Last Month    32.8364
Name: 16174, dtype: object
16175 248.28 13 MP Last Month    19.0985
Name: 16175, dtype: object
16176 34.44 12 MP Last Month    2.87
Name: 16176, dtype: object
16177 372.84000000000003 11 MP Last Month    33.8945
Name: 16177, dtype: object
16178 159.84999999999997 14 MP Last Month    11.4179
Name: 16178, dtype: object
16179 337.17 14 MP Last Month    24.0836
Name: 16179, dtype: object
16180 81.31 14 MP Last Month    5.80786
Name: 16180, dtype: object
16181 361.74 14 MP Last Month    25.8386
Name: 16181, dtype: object
16182 493.48 14 MP Last Month    35.2486
Name: 16182, dtype: object
16183 423.37000000000006 14 MP Last Month    30.2407
Name: 16183, dtype: object
16184 334.15999999999997 14 MP Last Month    23.8686
Name: 16184, dtype: object
16185 447.22999999999996 14 MP Last Month    31.945
Name: 16185, dtype: object
16186 31.66 4 MP Last Month    7.915
Name: 16186, dtype: object
16187 231.54999999999998 13 MP Last Month    17.8115
Name: 16187, dtype: object
16188 17.04 14 MP Last Month    1.21714
Name: 16188, dtype: object
16189 0.0 8 MP Last Month    0
Name: 16189, dtype: object
16190 434.2 14 MP Last Month    31.0143
Name: 16190, dtype: object
16191 219.83 14 MP Last Month    15.7021
Name: 16191, dtype: object
16192 451.31 14 MP Last Month    32.2364
Name: 16192, dtype: object
16193 266.83 11 MP Last Month    24.2573
Name: 16193, dtype: object
16194 416.1 14 MP Last Month    29.7214
Name: 16194, dtype: object
16195 361.34000000000003 14 MP Last Month    25.81
Name: 16195, dtype: object
16196 331.90000000000003 14 MP Last Month    23.7071
Name: 16196, dtype: object
16197 74.09999999999998 14 MP Last Month    5.29286
Name: 16197, dtype: object
16198 418.74 14 MP Last Month    29.91
Name: 16198, dtype: object
16199 112.28000000000002 5 MP Last Month    22.456
Name: 16199, dtype: object
16200 174.04999999999998 13 MP Last Month    13.3885
Name: 16200, dtype: object
16201 92.21000000000001 14 MP Last Month    6.58643
Name: 16201, dtype: object
16202 240.77000000000004 9 MP Last Month    26.7522
Name: 16202, dtype: object
16203 284.51 14 MP Last Month    20.3221
Name: 16203, dtype: object
16204 392.0399999999999 14 MP Last Month    28.0029
Name: 16204, dtype: object
16205 0.0 3 MP Last Month    0
Name: 16205, dtype: object
16206 346.65 12 MP Last Month    28.8875
Name: 16206, dtype: object
16207 280.77 13 MP Last Month    21.5977
Name: 16207, dtype: object
16208 89.0 12 MP Last Month    7.41667
Name: 16208, dtype: object
16209 58.699999999999996 6 MP Last Month    9.78333
Name: 16209, dtype: object
16210 12.43 9 MP Last Month    1.38111
Name: 16210, dtype: object
16211 468.56999999999994 14 MP Last Month    33.4693
Name: 16211, dtype: object
16212 364.9 12 MP Last Month    30.4083
Name: 16212, dtype: object
16213 38.99999999999999 11 MP Last Month    3.54545
Name: 16213, dtype: object
16214 201.66000000000003 14 MP Last Month    14.4043
Name: 16214, dtype: object
16215 492.90999999999997 15 MP Last Month    32.8607
Name: 16215, dtype: object
16216 238.82 15 MP Last Month    15.9213
Name: 16216, dtype: object
16217 218.92 13 MP Last Month    16.84
Name: 16217, dtype: object
16218 209.08999999999995 15 MP Last Month    13.9393
Name: 16218, dtype: object
16219 451.5 15 MP Last Month    30.1
Name: 16219, dtype: object
16220 349.7399999999999 12 MP Last Month    29.145
Name: 16220, dtype: object
16221 469.9800000000001 15 MP Last Month    31.332
Name: 16221, dtype: object
16222 249.23999999999995 15 MP Last Month    16.616
Name: 16222, dtype: object
16223 304.02000000000004 15 MP Last Month    20.268
Name: 16223, dtype: object
16224 41.42 13 MP Last Month    3.18615
Name: 16224, dtype: object
16225 194.22 11 MP Last Month    17.6564
Name: 16225, dtype: object
16226 31.85 14 MP Last Month    2.275
Name: 16226, dtype: object
16227 421.14000000000004 13 MP Last Month    32.3954
Name: 16227, dtype: object
16228 338.71 13 MP Last Month    26.0546
Name: 16228, dtype: object
16229 315.4 13 MP Last Month    24.2615
Name: 16229, dtype: object
16230 48.440000000000005 12 MP Last Month    4.03667
Name: 16230, dtype: object
16231 411.2 13 MP Last Month    31.6308
Name: 16231, dtype: object
16232 199.9 11 MP Last Month    18.1727
Name: 16232, dtype: object
16233 407.92 13 MP Last Month    31.3785
Name: 16233, dtype: object
16234 221.68999999999997 13 MP Last Month    17.0531
Name: 16234, dtype: object
16235 14.52 6 MP Last Month    2.42
Name: 16235, dtype: object
16236 254.48999999999998 9 MP Last Month    28.2767
Name: 16236, dtype: object
16237 348.87 13 MP Last Month    26.8362
Name: 16237, dtype: object
16238 81.04000000000002 12 MP Last Month    6.75333
Name: 16238, dtype: object
16239 356.18000000000006 14 MP Last Month    25.4414
Name: 16239, dtype: object
16240 384.74 14 MP Last Month    27.4814
Name: 16240, dtype: object
16241 322.31000000000006 14 MP Last Month    23.0221
Name: 16241, dtype: object
16242 202.21 14 MP Last Month    14.4436
Name: 16242, dtype: object
16243 7.43 1 MP Last Month    7.43
Name: 16243, dtype: object
16244 462.07000000000005 14 MP Last Month    33.005
Name: 16244, dtype: object
16245 47.78 14 MP Last Month    3.41286
Name: 16245, dtype: object
16246 158.65 14 MP Last Month    11.3321
Name: 16246, dtype: object
16247 358.9000000000001 14 MP Last Month    25.6357
Name: 16247, dtype: object
16248 22.4 8 MP Last Month    2.8
Name: 16248, dtype: object
16249 202.23 14 MP Last Month    14.445
Name: 16249, dtype: object
16250 67.62 14 MP Last Month    4.83
Name: 16250, dtype: object
16251 168.59000000000003 7 MP Last Month    24.0843
Name: 16251, dtype: object
16252 191.08 7 MP Last Month    27.2971
Name: 16252, dtype: object
16253 77.72 14 MP Last Month    5.55143
Name: 16253, dtype: object
16254 303.04 14 MP Last Month    21.6457
Name: 16254, dtype: object
16255 509.96 14 MP Last Month    36.4257
Name: 16255, dtype: object

16256 158.25 14 MP Last Month    11.3036
Name: 16256, dtype: object
16257 357.48999999999995 14 MP Last Month    25.535
Name: 16257, dtype: object
16258 19.32 14 MP Last Month    1.38
Name: 16258, dtype: object
16259 7.38 5 MP Last Month    1.476
Name: 16259, dtype: object
16260 0.0 1 MP Last Month    0
Name: 16260, dtype: object
16261 452.81 14 MP Last Month    32.3436
Name: 16261, dtype: object
16262 367.40999999999997 14 MP Last Month    26.2436
Name: 16262, dtype: object
16263 202.22 14 MP Last Month    14.4443
Name: 16263, dtype: object
16264 410.37 12 MP Last Month    34.1975
Name: 16264, dtype: object
16265 155.25 10 MP Last Month    15.525
Name: 16265, dtype: object
16266 350.40000000000003 15 MP Last Month    23.36
Name: 16266, dtype: object
16267 172.51999999999995 15 MP Last Month    11.5013
Name: 16267, dtype: object
16268 91.78 15 MP Last Month    6.11867
Name: 16268, dtype: object
16269 391.81 15 MP Last Month    26.1207
Name: 16269, dtype: object
16270 527.46 15 MP Last Month    35.164
Name: 16270, dtype: object
16271 361.92999999999995 15 MP Last Month    24.1287
Name: 16271, dtype: object
16272 449.6500000000001 15 MP Last Month    29.9767
Name: 16272, dtype: object
16273 19.61 15 MP Last Month    1.30733
Name: 16273, dtype: object
16274 41.09 5 MP Last Month    8.218
Name: 16274, dtype: object
16275 0.0 9 MP Last Month    0
Name: 16275, dtype: object
16276 447.18 15 MP Last Month    29.812
Name: 16276, dtype: object
16277 332.18999999999994 15 MP Last Month    22.146
Name: 16277, dtype: object
16278 483.3 15 MP Last Month    32.22
Name: 16278, dtype: object
16279 4.72 2 MP Last Month    2.36
Name: 16279, dtype: object
16280 233.18 9 MP Last Month    25.9089
Name: 16280, dtype: object
16281 513.95 15 MP Last Month    34.2633
Name: 16281, dtype: object
16282 324.28999999999996 14 MP Last Month    23.1636
Name: 16282, dtype: object
16283 372.6 15 MP Last Month    24.84
Name: 16283, dtype: object
16284 56.03000000000001 15 MP Last Month    3.73533
Name: 16284, dtype: object
16285 29.759999999999998 15 MP Last Month    1.984
Name: 16285, dtype: object
16286 493.21999999999997 15 MP Last Month    32.8813
Name: 16286, dtype: object
16287 250.62000000000003 15 MP Last Month    16.708
Name: 16287, dtype: object
16288 90.74000000000001 12 MP Last Month    7.56167
Name: 16288, dtype: object
16289 433.90000000000003 14 MP Last Month    30.9929
Name: 16289, dtype: object
16290 283.44 13 MP Last Month    21.8031
Name: 16290, dtype: object
16291 53.400000000000006 12 MP Last Month    4.45
Name: 16291, dtype: object
16292 125.10000000000001 13 MP Last Month    9.62308
Name: 16292, dtype: object
16293 219.96999999999997 14 MP Last Month    15.7121
Name: 16293, dtype: object
16294 112.68 14 MP Last Month    8.04857
Name: 16294, dtype: object
16295 460.26000000000005 14 MP Last Month    32.8757
Name: 16295, dtype: object
16296 271.41999999999996 10 MP Last Month    27.142
Name: 16296, dtype: object
16297 404.63 13 MP Last Month    31.1254
Name: 16297, dtype: object
16298 272.66 12 MP Last Month    22.7217
Name: 16298, dtype: object
16299 80.07 9 MP Last Month    8.89667
Name: 16299, dtype: object
16300 397.68999999999994 12 MP Last Month    33.1408
Name: 16300, dtype: object
16301 392.64 14 MP Last Month    28.0457
Name: 16301, dtype: object
16302 324.64 15 MP Last Month    21.6427
Name: 16302, dtype: object
16303 76.44 15 MP Last Month    5.096
Name: 16303, dtype: object
16304 382.77000000000004 14 MP Last Month    27.3407
Name: 16304, dtype: object
16305 459.78 15 MP Last Month    30.652
Name: 16305, dtype: object
16306 361.33 15 MP Last Month    24.0887
Name: 16306, dtype: object
16307 353.73 14 MP Last Month    25.2664
Name: 16307, dtype: object
16308 104.36 15 MP Last Month    6.95733
Name: 16308, dtype: object
16309 378.76 15 MP Last Month    25.2507
Name: 16309, dtype: object
16310 52.88 3 MP Last Month    17.6267
Name: 16310, dtype: object
16311 71.72 15 MP Last Month    4.78133
Name: 16311, dtype: object
16312 211.74000000000004 15 MP Last Month    14.116
Name: 16312, dtype: object
16313 369.38 12 MP Last Month    30.7817
Name: 16313, dtype: object
16314 355.04 13 MP Last Month    27.3108
Name: 16314, dtype: object
16315 229.19999999999996 13 MP Last Month    17.6308
Name: 16315, dtype: object
16316 360.7099999999999 12 MP Last Month    30.0592
Name: 16316, dtype: object
16317 187.12 8 MP Last Month    23.39
Name: 16317, dtype: object
16318 326.81 13 MP Last Month    25.1392
Name: 16318, dtype: object
16319 346.38 13 MP Last Month    26.6446
Name: 16319, dtype: object
16320 228.64999999999998 12 MP Last Month    19.0542
Name: 16320, dtype: object
16321 339.72 13 MP Last Month    26.1323
Name: 16321, dtype: object
16322 101.2 6 MP Last Month    16.8667
Name: 16322, dtype: object
16323 402.52000000000004 13 MP Last Month    30.9631
Name: 16323, dtype: object
16324 370.91 12 MP Last Month    30.9092
Name: 16324, dtype: object
16325 265.61 13 MP Last Month    20.4315
Name: 16325, dtype: object
16326 246.15999999999997 13 MP Last Month    18.9354
Name: 16326, dtype: object
16327 121.44 13 MP Last Month    9.34154
Name: 16327, dtype: object
16328 417.62 13 MP Last Month    32.1246
Name: 16328, dtype: object
16329 314.92 13 MP Last Month    24.2246
Name: 16329, dtype: object
16330 85.74000000000001 13 MP Last Month    6.59538
Name: 16330, dtype: object
16331 154.45 12 MP Last Month    12.8708
Name: 16331, dtype: object
16332 179.54 13 MP Last Month    13.8108
Name: 16332, dtype: object
16333 124.36 6 MP Last Month    20.7267
Name: 16333, dtype: object
16334 39.16 13 MP Last Month    3.01231
Name: 16334, dtype: object
16335 420.09 14 MP Last Month    30.0064
Name: 16335, dtype: object
16336 144.51999999999998 12 MP Last Month    12.0433
Name: 16336, dtype: object
16337 388.38000000000005 14 MP Last Month    27.7414
Name: 16337, dtype: object
16338 220.04999999999998 13 MP Last Month    16.9269
Name: 16338, dtype: object
16339 405.11 14 MP Last Month    28.9364
Name: 16339, dtype: object
16340 190.13000000000002 11 MP Last Month    17.2845
Name: 16340, dtype: object
16341 429.7100000000001 14 MP Last Month    30.6936
Name: 16341, dtype: object
16342 162.10999999999999 11 MP Last Month    14.7373
Name: 16342, dtype: object
16343 5.13 1 MP Last Month    5.13
Name: 16343, dtype: object
16344 193.52 11 MP Last Month    17.5927
Name: 16344, dtype: object
16345 135.47 14 MP Last Month    9.67643
Name: 16345, dtype: object
16346 465.77000000000004 15 MP Last Month    31.0513
Name: 16346, dtype: object
16347 209.69 15 MP Last Month    13.9793
Name: 16347, dtype: object
16348 174.63000000000002 15 MP Last Month    11.642
Name: 16348, dtype: object
16349 2.98 3 MP Last Month    0.993333
Name: 16349, dtype: object
16350 310.76000000000005 15 MP Last Month    20.7173
Name: 16350, dtype: object
16351 496.6900000000001 15 MP Last Month    33.1127
Name: 16351, dtype: object
16352 37.3 12 MP Last Month    3.10833
Name: 16352, dtype: object
16353 0 0 MP Last Month    0
Name: 16353, dtype: object
16354 463.35999999999996 15 MP Last Month    30.8907
Name: 16354, dtype: object
16355 310.80000000000007 15 MP Last Month    20.72
Name: 16355, dtype: object
16356 238.97000000000003 15 MP Last Month    15.9313
Name: 16356, dtype: object
16357 122.44000000000001 12 MP Last Month    10.2033
Name: 16357, dtype: object
16358 359.03000000000003 15 MP Last Month    23.9353
Name: 16358, dtype: object
16359 436.23 15 MP Last Month    29.082
Name: 16359, dtype: object
16360 225.86999999999998 15 MP Last Month    15.058
Name: 16360, dtype: object
16361 224.54 15 MP Last Month    14.9693
Name: 16361, dtype: object
16362 68.42999999999999 13 MP Last Month    5.26385
Name: 16362, dtype: object
16363 0 0 MP Last Month    0
Name: 16363, dtype: object
16364 480.8200000000001 15 MP Last Month    32.0547
Name: 16364, dtype: object
16365 214.89000000000001 15 MP Last Month    14.326
Name: 16365, dtype: object
16366 291.27000000000004 15 MP Last Month    19.418
Name: 16366, dtype: object
16367 516.27 14 MP Last Month    36.8764
Name: 16367, dtype: object
16368 151.07 11 MP Last Month    13.7336
Name: 16368, dtype: object
16369 143.60999999999999 13 MP Last Month    11.0469
Name: 16369, dtype: object

16370 470.17 14 MP Last Month    33.5836
Name: 16370, dtype: object
16371 494.2200000000001 14 MP Last Month    35.3014
Name: 16371, dtype: object
16372 180.81 13 MP Last Month    13.9085
Name: 16372, dtype: object
16373 114.33 14 MP Last Month    8.16643
Name: 16373, dtype: object
16374 497.59000000000003 14 MP Last Month    35.5421
Name: 16374, dtype: object
16375 218.95000000000005 14 MP Last Month    15.6393
Name: 16375, dtype: object
16376 336.38000000000005 14 MP Last Month    24.0271
Name: 16376, dtype: object
16377 176.82999999999998 14 MP Last Month    12.6307
Name: 16377, dtype: object
16378 331.44000000000005 14 MP Last Month    23.6743
Name: 16378, dtype: object
16379 15.05 1 MP Last Month    15.05
Name: 16379, dtype: object
16380 451.95000000000005 14 MP Last Month    32.2821
Name: 16380, dtype: object
16381 88.58 14 MP Last Month    6.32714
Name: 16381, dtype: object
16382 552.13 14 MP Last Month    39.4379
Name: 16382, dtype: object
16383 499.91999999999996 13 MP Last Month    38.4554
Name: 16383, dtype: object
16384 78.91 10 MP Last Month    7.891
Name: 16384, dtype: object
16385 383.58000000000004 14 MP Last Month    27.3986
Name: 16385, dtype: object
16386 124.28 8 MP Last Month    15.535
Name: 16386, dtype: object
16387 510.68000000000006 14 MP Last Month    36.4771
Name: 16387, dtype: object
16388 67.93 13 MP Last Month    5.22538
Name: 16388, dtype: object
16389 190.37000000000003 6 MP Last Month    31.7283
Name: 16389, dtype: object
16390 36.17 14 MP Last Month    2.58357
Name: 16390, dtype: object
16391 123.97 14 MP Last Month    8.855
Name: 16391, dtype: object
16392 146.32 14 MP Last Month    10.4514
Name: 16392, dtype: object
16393 230.61999999999998 15 MP Last Month    15.3747
Name: 16393, dtype: object
16394 5.1 2 MP Last Month    2.55
Name: 16394, dtype: object
16395 472.67999999999995 15 MP Last Month    31.512
Name: 16395, dtype: object
16396 5.0 5 MP Last Month    1
Name: 16396, dtype: object
16397 529.2 15 MP Last Month    35.28
Name: 16397, dtype: object
16398 114.06 9 MP Last Month    12.6733
Name: 16398, dtype: object
16399 456.69 13 MP Last Month    35.13
Name: 16399, dtype: object
16400 110.66999999999999 15 MP Last Month    7.378
Name: 16400, dtype: object
16401 414.5400000000001 15 MP Last Month    27.636
Name: 16401, dtype: object
16402 252.77999999999997 15 MP Last Month    16.852
Name: 16402, dtype: object
16403 210.54999999999998 12 MP Last Month    17.5458
Name: 16403, dtype: object
16404 43.11000000000001 15 MP Last Month    2.874
Name: 16404, dtype: object
16405 212.01 14 MP Last Month    15.1436
Name: 16405, dtype: object
16406 447.13 14 MP Last Month    31.9379
Name: 16406, dtype: object
16407 414.33000000000004 13 MP Last Month    31.8715
Name: 16407, dtype: object
16408 430.04 14 MP Last Month    30.7171
Name: 16408, dtype: object
16409 333.48999999999995 13 MP Last Month    25.6531
Name: 16409, dtype: object
16410 368.5300000000001 14 MP Last Month    26.3236
Name: 16410, dtype: object
16411 317.92 14 MP Last Month    22.7086
Name: 16411, dtype: object
16412 45.52 12 MP Last Month    3.79333
Name: 16412, dtype: object
16413 223.54999999999998 14 MP Last Month    15.9679
Name: 16413, dtype: object
16414 133.62 12 MP Last Month    11.135
Name: 16414, dtype: object
16415 421.73999999999995 14 MP Last Month    30.1243
Name: 16415, dtype: object
16416 327.12 13 MP Last Month    25.1631
Name: 16416, dtype: object
16417 340.71999999999997 14 MP Last Month    24.3371
Name: 16417, dtype: object
16418 15.85 14 MP Last Month    1.13214
Name: 16418, dtype: object
16419 256.59 14 MP Last Month    18.3279
Name: 16419, dtype: object
16420 437.81 14 MP Last Month    31.2721
Name: 16420, dtype: object
16421 107.75 9 MP Last Month    11.9722
Name: 16421, dtype: object
16422 261.26 13 MP Last Month    20.0969
Name: 16422, dtype: object
16423 0.0 13 MP Last Month    0
Name: 16423, dtype: object
16424 334.64000000000004 14 MP Last Month    23.9029
Name: 16424, dtype: object
16425 321.24 13 MP Last Month    24.7108
Name: 16425, dtype: object
16426 281.82 13 MP Last Month    21.6785
Name: 16426, dtype: object
16427 253.4 14 MP Last Month    18.1
Name: 16427, dtype: object
16428 369.4600000000001 13 MP Last Month    28.42
Name: 16428, dtype: object
16429 389.8399999999999 14 MP Last Month    27.8457
Name: 16429, dtype: object
16430 295.57 14 MP Last Month    21.1121
Name: 16430, dtype: object
16431 6.300000000000001 4 MP Last Month    1.575
Name: 16431, dtype: object
16432 404.85999999999996 13 MP Last Month    31.1431
Name: 16432, dtype: object
16433 426.36 14 MP Last Month    30.4543
Name: 16433, dtype: object
16434 233.21 14 MP Last Month    16.6579
Name: 16434, dtype: object
16435 236.47 14 MP Last Month    16.8907
Name: 16435, dtype: object
16436 69.5 13 MP Last Month    5.34615
Name: 16436, dtype: object
16437 387.47 14 MP Last Month    27.6764
Name: 16437, dtype: object
16438 230.28000000000003 13 MP Last Month    17.7138
Name: 16438, dtype: object
16439 125.85999999999999 13 MP Last Month    9.68154
Name: 16439, dtype: object
16440 149.17999999999998 9 MP Last Month    16.5756
Name: 16440, dtype: object
16441 477.6 13 MP Last Month    36.7385
Name: 16441, dtype: object
16442 436.78999999999996 13 MP Last Month    33.5992
Name: 16442, dtype: object
16443 143.7 13 MP Last Month    11.0538
Name: 16443, dtype: object
16444 118.73000000000002 5 MP Last Month    23.746
Name: 16444, dtype: object
16445 235.94 9 MP Last Month    26.2156
Name: 16445, dtype: object
16446 154.57 12 MP Last Month    12.8808
Name: 16446, dtype: object
16447 336.07000000000005 11 MP Last Month    30.5518
Name: 16447, dtype: object
16448 329.38 12 MP Last Month    27.4483
Name: 16448, dtype: object
16449 203.83 13 MP Last Month    15.6792
Name: 16449, dtype: object
16450 28.31 7 MP Last Month    4.04429
Name: 16450, dtype: object
16451 179.84 10 MP Last Month    17.984
Name: 16451, dtype: object
16452 9.95 1 MP Last Month    9.95
Name: 16452, dtype: object
16453 100.73 7 MP Last Month    14.39
Name: 16453, dtype: object
16454 295.80000000000007 10 MP Last Month    29.58
Name: 16454, dtype: object
16455 348.47 10 MP Last Month    34.847
Name: 16455, dtype: object
16456 252.98000000000002 10 MP Last Month    25.298
Name: 16456, dtype: object
16457 157.88 7 MP Last Month    22.5543
Name: 16457, dtype: object
16458 239.63 10 MP Last Month    23.963
Name: 16458, dtype: object
16459 146.09 10 MP Last Month    14.609
Name: 16459, dtype: object
16460 250.40999999999997 10 MP Last Month    25.041
Name: 16460, dtype: object
16461 531.6500000000001 15 MP Last Month    35.4433
Name: 16461, dtype: object
16462 566.77 15 MP Last Month    37.7847
Name: 16462, dtype: object
16463 185.64999999999998 15 MP Last Month    12.3767
Name: 16463, dtype: object
16464 521.1700000000001 15 MP Last Month    34.7447
Name: 16464, dtype: object
16465 418.90999999999997 15 MP Last Month    27.9273
Name: 16465, dtype: object
16466 536.44 15 MP Last Month    35.7627
Name: 16466, dtype: object
16467 147.06000000000003 12 MP Last Month    12.255
Name: 16467, dtype: object
16468 346.72 15 MP Last Month    23.1147
Name: 16468, dtype: object
16469 152.68000000000004 15 MP Last Month    10.1787
Name: 16469, dtype: object
16470 198.52 15 MP Last Month    13.2347
Name: 16470, dtype: object
16471 402.77 14 MP Last Month    28.7693
Name: 16471, dtype: object
16472 177.61 14 MP Last Month    12.6864
Name: 16472, dtype: object
16473 96.39999999999999 14 MP Last Month    6.88571
Name: 16473, dtype: object
16474 487.88 15 MP Last Month    32.5253
Name: 16474, dtype: object
16475 408.62 15 MP Last Month    27.2413
Name: 16475, dtype: object
16476 412.53 15 MP Last Month    27.502
Name: 16476, dtype: object
16477 142.51 13 MP Last Month    10.9623
Name: 16477, dtype: object
16478 0.0 3 MP Last Month    0
Name: 16478, dtype: object
16479 466.07000000000005 15 MP Last Month    31.0713
Name: 16479, dtype: object
16480 168.64 11 MP Last Month    15.3309
Name: 16480, dtype: object
16481 49.28 14 MP Last Month    3.52
Name: 16481, dtype: object
16482 92.98 14 MP Last Month    6.64143
Name: 16482, dtype: object
16483 474.93000000000006 14 MP Last Month    33.9236
Name: 16483, dtype: object

16484 350.69999999999993 14 MP Last Month    25.05
Name: 16484, dtype: object
16485 248.45000000000002 14 MP Last Month    17.7464
Name: 16485, dtype: object
16486 302.03999999999996 11 MP Last Month    27.4582
Name: 16486, dtype: object
16487 388.7 12 MP Last Month    32.3917
Name: 16487, dtype: object
16488 8.12 3 MP Last Month    2.70667
Name: 16488, dtype: object
16489 228.43999999999997 14 MP Last Month    16.3171
Name: 16489, dtype: object
16490 211.20000000000002 14 MP Last Month    15.0857
Name: 16490, dtype: object
16491 394.87000000000006 12 MP Last Month    32.9058
Name: 16491, dtype: object
16492 34.44 13 MP Last Month    2.64923
Name: 16492, dtype: object
16493 266.01 14 MP Last Month    19.0007
Name: 16493, dtype: object
16494 0 0 MP Last Month    0
Name: 16494, dtype: object
16495 532.58 15 MP Last Month    35.5053
Name: 16495, dtype: object
16496 278.79999999999995 15 MP Last Month    18.5867
Name: 16496, dtype: object
16497 14.72 6 MP Last Month    2.45333
Name: 16497, dtype: object
16498 337.29999999999995 15 MP Last Month    22.4867
Name: 16498, dtype: object
16499 201.45999999999998 15 MP Last Month    13.4307
Name: 16499, dtype: object
16500 462.7 15 MP Last Month    30.8467
Name: 16500, dtype: object
16501 206.02999999999997 10 MP Last Month    20.603
Name: 16501, dtype: object
16502 136.67999999999998 15 MP Last Month    9.112
Name: 16502, dtype: object
16503 421.8399999999999 15 MP Last Month    28.1227
Name: 16503, dtype: object
16504 259.73999999999995 15 MP Last Month    17.316
Name: 16504, dtype: object
16505 264.81 15 MP Last Month    17.654
Name: 16505, dtype: object
16506 14.72 5 MP Last Month    2.944
Name: 16506, dtype: object
16507 436.47 14 MP Last Month    31.1764
Name: 16507, dtype: object
16508 215.48 14 MP Last Month    15.3914
Name: 16508, dtype: object
16509 411.8 14 MP Last Month    29.4143
Name: 16509, dtype: object
16510 321.37 14 MP Last Month    22.955
Name: 16510, dtype: object
16511 450.53 14 MP Last Month    32.1807
Name: 16511, dtype: object
16512 283.15 11 MP Last Month    25.7409
Name: 16512, dtype: object
16513 340.35999999999996 14 MP Last Month    24.3114
Name: 16513, dtype: object
16514 74.09999999999998 14 MP Last Month    5.29286
Name: 16514, dtype: object
16515 406.19 14 MP Last Month    29.0136
Name: 16515, dtype: object
16516 138.98000000000002 6 MP Last Month    23.1633
Name: 16516, dtype: object
16517 192.24999999999997 14 MP Last Month    13.7321
Name: 16517, dtype: object
16518 82.22 14 MP Last Month    5.87286
Name: 16518, dtype: object
16519 478.47 14 MP Last Month    34.1764
Name: 16519, dtype: object
16520 188.39 7 MP Last Month    26.9129
Name: 16520, dtype: object
16521 72.38 4 MP Last Month    18.095
Name: 16521, dtype: object
16522 339.35999999999996 13 MP Last Month    26.1046
Name: 16522, dtype: object
16523 272.86 14 MP Last Month    19.49
Name: 16523, dtype: object
16524 423.68 14 MP Last Month    30.2629
Name: 16524, dtype: object
16525 309.76000000000005 14 MP Last Month    22.1257
Name: 16525, dtype: object
16526 78.22 14 MP Last Month    5.58714
Name: 16526, dtype: object
16527 8.89 7 MP Last Month    1.27
Name: 16527, dtype: object
16528 460.3999999999999 14 MP Last Month    32.8857
Name: 16528, dtype: object
16529 341.64 14 MP Last Month    24.4029
Name: 16529, dtype: object
16530 41.87 14 MP Last Month    2.99071
Name: 16530, dtype: object
16531 514.3800000000001 13 MP Last Month    39.5677
Name: 16531, dtype: object
16532 413.89 13 MP Last Month    31.8377
Name: 16532, dtype: object
16533 212.84 13 MP Last Month    16.3723
Name: 16533, dtype: object
16534 6.65 6 MP Last Month    1.10833
Name: 16534, dtype: object
16535 499.98999999999995 13 MP Last Month    38.4608
Name: 16535, dtype: object
16536 220.22 8 MP Last Month    27.5275
Name: 16536, dtype: object
16537 208.73000000000002 13 MP Last Month    16.0562
Name: 16537, dtype: object
16538 407.2099999999999 13 MP Last Month    31.3238
Name: 16538, dtype: object
16539 321.90000000000003 13 MP Last Month    24.7615
Name: 16539, dtype: object
16540 153.35999999999999 13 MP Last Month    11.7969
Name: 16540, dtype: object
16541 469.0200000000001 15 MP Last Month    31.268
Name: 16541, dtype: object
16542 180.06000000000003 15 MP Last Month    12.004
Name: 16542, dtype: object
16543 215.01000000000002 15 MP Last Month    14.334
Name: 16543, dtype: object
16544 492.16 15 MP Last Month    32.8107
Name: 16544, dtype: object
16545 322.44000000000005 15 MP Last Month    21.496
Name: 16545, dtype: object
16546 37.3 12 MP Last Month    3.10833
Name: 16546, dtype: object
16547 458.7099999999999 15 MP Last Month    30.5807
Name: 16547, dtype: object
16548 110.11999999999999 12 MP Last Month    9.17667
Name: 16548, dtype: object
16549 315.33000000000004 15 MP Last Month    21.022
Name: 16549, dtype: object
16550 255.19000000000003 15 MP Last Month    17.0127
Name: 16550, dtype: object
16551 21.55 13 MP Last Month    1.65769
Name: 16551, dtype: object
16552 379.04 14 MP Last Month    27.0743
Name: 16552, dtype: object
16553 404.01 14 MP Last Month    28.8579
Name: 16553, dtype: object
16554 327.41 14 MP Last Month    23.3864
Name: 16554, dtype: object
16555 14.08 2 MP Last Month    7.04
Name: 16555, dtype: object
16556 478.57 14 MP Last Month    34.1836
Name: 16556, dtype: object
16557 135.5 14 MP Last Month    9.67857
Name: 16557, dtype: object
16558 188.94000000000003 14 MP Last Month    13.4957
Name: 16558, dtype: object
16559 50.28 14 MP Last Month    3.59143
Name: 16559, dtype: object
16560 367.66999999999996 14 MP Last Month    26.2621
Name: 16560, dtype: object
16561 40.53 9 MP Last Month    4.50333
Name: 16561, dtype: object
16562 189.08 14 MP Last Month    13.5057
Name: 16562, dtype: object
16563 58.79 14 MP Last Month    4.19929
Name: 16563, dtype: object
16564 87.55 14 MP Last Month    6.25357
Name: 16564, dtype: object
16565 190.31 7 MP Last Month    27.1871
Name: 16565, dtype: object
16566 4.25 8 MP Last Month    0.53125
Name: 16566, dtype: object
16567 342.56999999999994 14 MP Last Month    24.4693
Name: 16567, dtype: object
16568 520.6 14 MP Last Month    37.1857
Name: 16568, dtype: object
16569 303.24 14 MP Last Month    21.66
Name: 16569, dtype: object
16570 169.08 14 MP Last Month    12.0771
Name: 16570, dtype: object
16571 23.37 14 MP Last Month    1.66929
Name: 16571, dtype: object
16572 0.0 2 MP Last Month    0
Name: 16572, dtype: object
16573 7.38 6 MP Last Month    1.23
Name: 16573, dtype: object
16574 462.9699999999999 14 MP Last Month    33.0693
Name: 16574, dtype: object
16575 367.6599999999999 14 MP Last Month    26.2614
Name: 16575, dtype: object
16576 186.64000000000001 14 MP Last Month    13.3314
Name: 16576, dtype: object
16577 560.57 15 MP Last Month    37.3713
Name: 16577, dtype: object
16578 420.84000000000003 15 MP Last Month    28.056
Name: 16578, dtype: object
16579 23.299999999999997 14 MP Last Month    1.66429
Name: 16579, dtype: object
16580 522.19 15 MP Last Month    34.8127
Name: 16580, dtype: object
16581 347.9700000000001 15 MP Last Month    23.198
Name: 16581, dtype: object
16582 515.62 15 MP Last Month    34.3747
Name: 16582, dtype: object
16583 205.99999999999997 15 MP Last Month    13.7333
Name: 16583, dtype: object
16584 162.06 15 MP Last Month    10.804
Name: 16584, dtype: object
16585 27.02 1 MP Last Month    27.02
Name: 16585, dtype: object
16586 526.66 15 MP Last Month    35.1107
Name: 16586, dtype: object
16587 158.14000000000001 12 MP Last Month    13.1783
Name: 16587, dtype: object
16588 198.95000000000002 15 MP Last Month    13.2633
Name: 16588, dtype: object
16589 388.71999999999997 12 MP Last Month    32.3933
Name: 16589, dtype: object
16590 343.4800000000001 15 MP Last Month    22.8987
Name: 16590, dtype: object
16591 91.78 15 MP Last Month    6.11867
Name: 16591, dtype: object
16592 143.68 10 MP Last Month    14.368
Name: 16592, dtype: object
16593 178.98999999999995 15 MP Last Month    11.9327
Name: 16593, dtype: object
16594 368.46000000000004 15 MP Last Month    24.564
Name: 16594, dtype: object
16595 378.26 15 MP Last Month    25.2173
Name: 16595, dtype: object
16596 445.89000000000004 15 MP Last Month    29.726
Name: 16596, dtype: object
16597 512.01 15 MP Last Month    34.134
Name: 16597, dtype: object

16598 48.980000000000004 15 MP Last Month    3.26533
Name: 16598, dtype: object
16599 59.620000000000005 6 MP Last Month    9.93667
Name: 16599, dtype: object
16600 0.0 10 MP Last Month    0
Name: 16600, dtype: object
16601 569.01 16 MP Last Month    35.5631
Name: 16601, dtype: object
16602 293.09999999999997 16 MP Last Month    18.3187
Name: 16602, dtype: object
16603 14.72 7 MP Last Month    2.10286
Name: 16603, dtype: object
16604 487.71999999999997 16 MP Last Month    30.4825
Name: 16604, dtype: object
16605 226.80999999999997 16 MP Last Month    14.1756
Name: 16605, dtype: object
16606 224.30999999999997 11 MP Last Month    20.3918
Name: 16606, dtype: object
16607 363.77 16 MP Last Month    22.7356
Name: 16607, dtype: object
16608 136.67999999999998 16 MP Last Month    8.5425
Name: 16608, dtype: object
16609 453.75999999999993 16 MP Last Month    28.36
Name: 16609, dtype: object
16610 275.64 16 MP Last Month    17.2275
Name: 16610, dtype: object
16611 273.06999999999994 16 MP Last Month    17.0669
Name: 16611, dtype: object
16612 14.72 6 MP Last Month    2.45333
Name: 16612, dtype: object
16613 232.14999999999998 15 MP Last Month    15.4767
Name: 16613, dtype: object
16614 465.64000000000004 15 MP Last Month    31.0427
Name: 16614, dtype: object
16615 444.05 15 MP Last Month    29.6033
Name: 16615, dtype: object
16616 477.80999999999995 15 MP Last Month    31.854
Name: 16616, dtype: object
16617 74.09999999999998 15 MP Last Month    4.94
Name: 16617, dtype: object
16618 350.4 15 MP Last Month    23.36
Name: 16618, dtype: object
16619 345.12999999999994 15 MP Last Month    23.0087
Name: 16619, dtype: object
16620 159.13000000000002 7 MP Last Month    22.7329
Name: 16620, dtype: object
16621 211.22999999999996 15 MP Last Month    14.082
Name: 16621, dtype: object
16622 433.36 15 MP Last Month    28.8907
Name: 16622, dtype: object
16623 82.22 15 MP Last Month    5.48133
Name: 16623, dtype: object
16624 352.78999999999996 13 MP Last Month    27.1377
Name: 16624, dtype: object
16625 238.85 9 MP Last Month    26.5389
Name: 16625, dtype: object
16626 257.21 13 MP Last Month    19.7854
Name: 16626, dtype: object
16627 4.83 4 MP Last Month    1.2075
Name: 16627, dtype: object
16628 77.26 11 MP Last Month    7.02364
Name: 16628, dtype: object
16629 344.71 12 MP Last Month    28.7258
Name: 16629, dtype: object
16630 248.45999999999998 12 MP Last Month    20.705
Name: 16630, dtype: object
16631 76.63 7 MP Last Month    10.9471
Name: 16631, dtype: object
16632 11.01 8 MP Last Month    1.37625
Name: 16632, dtype: object
16633 390.66999999999996 13 MP Last Month    30.0515
Name: 16633, dtype: object
16634 422.5499999999999 13 MP Last Month    32.5038
Name: 16634, dtype: object
16635 40.269999999999996 10 MP Last Month    4.027
Name: 16635, dtype: object
16636 177.14000000000001 13 MP Last Month    13.6262
Name: 16636, dtype: object
16637 432.1600000000001 14 MP Last Month    30.8686
Name: 16637, dtype: object
16638 296.08 13 MP Last Month    22.7754
Name: 16638, dtype: object
16639 63.370000000000005 12 MP Last Month    5.28083
Name: 16639, dtype: object
16640 98.66000000000001 14 MP Last Month    7.04714
Name: 16640, dtype: object
16641 136.87 13 MP Last Month    10.5285
Name: 16641, dtype: object
16642 198.94 14 MP Last Month    14.21
Name: 16642, dtype: object
16643 436.45 14 MP Last Month    31.175
Name: 16643, dtype: object
16644 276.99 10 MP Last Month    27.699
Name: 16644, dtype: object
16645 251.96000000000004 12 MP Last Month    20.9967
Name: 16645, dtype: object
16646 96.8 10 MP Last Month    9.68
Name: 16646, dtype: object
16647 316.89 15 MP Last Month    21.126
Name: 16647, dtype: object
16648 69.27 15 MP Last Month    4.618
Name: 16648, dtype: object
16649 398.30000000000007 14 MP Last Month    28.45
Name: 16649, dtype: object
16650 365.6 15 MP Last Month    24.3733
Name: 16650, dtype: object
16651 348.63000000000005 14 MP Last Month    24.9021
Name: 16651, dtype: object
16652 467.58000000000004 15 MP Last Month    31.172
Name: 16652, dtype: object
16653 392.97 14 MP Last Month    28.0693
Name: 16653, dtype: object
16654 98.14 15 MP Last Month    6.54267
Name: 16654, dtype: object
16655 193.86999999999998 15 MP Last Month    12.9247
Name: 16655, dtype: object
16656 67.68 4 MP Last Month    16.92
Name: 16656, dtype: object
16657 42.83 7 MP Last Month    6.11857
Name: 16657, dtype: object
16658 65.45 15 MP Last Month    4.36333
Name: 16658, dtype: object
16659 370.5300000000001 12 MP Last Month    30.8775
Name: 16659, dtype: object
16660 357.84000000000003 13 MP Last Month    27.5262
Name: 16660, dtype: object
16661 238.52999999999997 13 MP Last Month    18.3485
Name: 16661, dtype: object
16662 342.1 13 MP Last Month    26.3154
Name: 16662, dtype: object
16663 357.43 12 MP Last Month    29.7858
Name: 16663, dtype: object
16664 317.22999999999996 13 MP Last Month    24.4023
Name: 16664, dtype: object
16665 216.77 9 MP Last Month    24.0856
Name: 16665, dtype: object
16666 56.959999999999994 7 MP Last Month    8.13714
Name: 16666, dtype: object
16667 339.15 13 MP Last Month    26.0885
Name: 16667, dtype: object
16668 229.22 12 MP Last Month    19.1017
Name: 16668, dtype: object
16669 97.35999999999999 6 MP Last Month    16.2267
Name: 16669, dtype: object
16670 395.69000000000005 13 MP Last Month    30.4377
Name: 16670, dtype: object
16671 405.05999999999995 13 MP Last Month    31.1585
Name: 16671, dtype: object
16672 239.75999999999996 13 MP Last Month    18.4431
Name: 16672, dtype: object
16673 251.02999999999997 13 MP Last Month    19.31
Name: 16673, dtype: object
16674 110.51999999999998 13 MP Last Month    8.50154
Name: 16674, dtype: object
16675 416.94 13 MP Last Month    32.0723
Name: 16675, dtype: object
16676 314.28999999999996 13 MP Last Month    24.1762
Name: 16676, dtype: object
16677 161.67999999999998 12 MP Last Month    13.4733
Name: 16677, dtype: object
16678 142.99 7 MP Last Month    20.4271
Name: 16678, dtype: object
16679 183.44 13 MP Last Month    14.1108
Name: 16679, dtype: object
16680 40.21 13 MP Last Month    3.09308
Name: 16680, dtype: object
16681 466.81 14 MP Last Month    33.3436
Name: 16681, dtype: object
16682 203.49999999999997 12 MP Last Month    16.9583
Name: 16682, dtype: object
16683 239.56999999999996 14 MP Last Month    17.1121
Name: 16683, dtype: object
16684 199.31999999999994 14 MP Last Month    14.2371
Name: 16684, dtype: object
16685 442.99000000000007 14 MP Last Month    31.6421
Name: 16685, dtype: object
16686 321.7699999999999 11 MP Last Month    29.2518
Name: 16686, dtype: object
16687 424.63 14 MP Last Month    30.3307
Name: 16687, dtype: object
16688 281.5 14 MP Last Month    20.1071
Name: 16688, dtype: object
16689 213.22 14 MP Last Month    15.23
Name: 16689, dtype: object
16690 218.24 12 MP Last Month    18.1867
Name: 16690, dtype: object
16691 31.85 13 MP Last Month    2.45
Name: 16691, dtype: object
16692 394.13 14 MP Last Month    28.1521
Name: 16692, dtype: object
16693 416.59000000000003 14 MP Last Month    29.7564
Name: 16693, dtype: object
16694 377.36 14 MP Last Month    26.9543
Name: 16694, dtype: object
16695 220.01999999999998 13 MP Last Month    16.9246
Name: 16695, dtype: object
16696 170.29999999999998 12 MP Last Month    14.1917
Name: 16696, dtype: object
16697 424.77000000000004 14 MP Last Month    30.3407
Name: 16697, dtype: object
16698 188.92999999999998 12 MP Last Month    15.7442
Name: 16698, dtype: object
16699 184.98000000000002 11 MP Last Month    16.8164
Name: 16699, dtype: object
16700 10.8 2 MP Last Month    5.4
Name: 16700, dtype: object
16701 209.12000000000003 11 MP Last Month    19.0109
Name: 16701, dtype: object
16702 152.35999999999999 14 MP Last Month    10.8829
Name: 16702, dtype: object
16703 139.32 7 MP Last Month    19.9029
Name: 16703, dtype: object
16704 453.41 14 MP Last Month    32.3864
Name: 16704, dtype: object
16705 307.43 14 MP Last Month    21.9593
Name: 16705, dtype: object
16706 430.69 14 MP Last Month    30.7636
Name: 16706, dtype: object
16707 74.15 4 MP Last Month    18.5375
Name: 16707, dtype: object
16708 388.94 14 MP Last Month    27.7814
Name: 16708, dtype: object
16709 176.98 12 MP Last Month    14.7483
Name: 16709, dtype: object
16710 269.61 14 MP Last Month    19.2579
Name: 16710, dtype: object

16711 30.9 13 MP Last Month    2.37692
Name: 16711, dtype: object
16712 448.32000000000005 14 MP Last Month    32.0229
Name: 16712, dtype: object
16713 290.77000000000004 12 MP Last Month    24.2308
Name: 16713, dtype: object
16714 299.29999999999995 14 MP Last Month    21.3786
Name: 16714, dtype: object
16715 428.72 15 MP Last Month    28.5813
Name: 16715, dtype: object
16716 222.34 15 MP Last Month    14.8227
Name: 16716, dtype: object
16717 221.31 15 MP Last Month    14.754
Name: 16717, dtype: object
16718 364.36000000000007 15 MP Last Month    24.2907
Name: 16718, dtype: object
16719 80.77999999999999 13 MP Last Month    6.21385
Name: 16719, dtype: object
16720 479.2900000000001 15 MP Last Month    31.9527
Name: 16720, dtype: object
16721 303.02000000000004 15 MP Last Month    20.2013
Name: 16721, dtype: object
16722 216.74 15 MP Last Month    14.4493
Name: 16722, dtype: object
16723 513.0500000000001 14 MP Last Month    36.6464
Name: 16723, dtype: object
16724 155.67000000000002 11 MP Last Month    14.1518
Name: 16724, dtype: object
16725 149.08999999999997 13 MP Last Month    11.4685
Name: 16725, dtype: object
16726 541.83 14 MP Last Month    38.7021
Name: 16726, dtype: object
16727 526.49 14 MP Last Month    37.6064
Name: 16727, dtype: object
16728 66.93 10 MP Last Month    6.693
Name: 16728, dtype: object
16729 180.74999999999997 6 MP Last Month    30.125
Name: 16729, dtype: object
16730 505.6800000000001 14 MP Last Month    36.12
Name: 16730, dtype: object
16731 383.31000000000006 14 MP Last Month    27.3793
Name: 16731, dtype: object
16732 154.98 9 MP Last Month    17.22
Name: 16732, dtype: object
16733 91.08000000000001 13 MP Last Month    7.00615
Name: 16733, dtype: object
16734 128.42 14 MP Last Month    9.17286
Name: 16734, dtype: object
16735 141.12 14 MP Last Month    10.08
Name: 16735, dtype: object
16736 43.82 14 MP Last Month    3.13
Name: 16736, dtype: object
16737 317.34999999999997 12 MP Last Month    26.4458
Name: 16737, dtype: object
16738 291.03999999999996 12 MP Last Month    24.2533
Name: 16738, dtype: object
16739 381.00000000000006 12 MP Last Month    31.75
Name: 16739, dtype: object
16740 23.569999999999997 11 MP Last Month    2.14273
Name: 16740, dtype: object
16741 377.28999999999996 12 MP Last Month    31.4408
Name: 16741, dtype: object
16742 373.99999999999994 12 MP Last Month    31.1667
Name: 16742, dtype: object
16743 215.35 12 MP Last Month    17.9458
Name: 16743, dtype: object
16744 195.13 12 MP Last Month    16.2608
Name: 16744, dtype: object
16745 16.75 7 MP Last Month    2.39286
Name: 16745, dtype: object
16746 215.53 8 MP Last Month    26.9413
Name: 16746, dtype: object
16747 328.15000000000003 12 MP Last Month    27.3458
Name: 16747, dtype: object
16748 81.17 11 MP Last Month    7.37909
Name: 16748, dtype: object
16749 411.46 14 MP Last Month    29.39
Name: 16749, dtype: object
16750 320.1 14 MP Last Month    22.8643
Name: 16750, dtype: object
16751 390.68 14 MP Last Month    27.9057
Name: 16751, dtype: object
16752 23.630000000000003 3 MP Last Month    7.87667
Name: 16752, dtype: object
16753 475.03000000000003 14 MP Last Month    33.9307
Name: 16753, dtype: object
16754 57.14 14 MP Last Month    4.08143
Name: 16754, dtype: object
16755 191.01000000000002 14 MP Last Month    13.6436
Name: 16755, dtype: object
16756 131.72 14 MP Last Month    9.40857
Name: 16756, dtype: object
16757 373.44 14 MP Last Month    26.6743
Name: 16757, dtype: object
16758 183.36 14 MP Last Month    13.0971
Name: 16758, dtype: object
16759 55.760000000000005 10 MP Last Month    5.576
Name: 16759, dtype: object
16760 58.79 14 MP Last Month    4.19929
Name: 16760, dtype: object
16761 449.47 14 MP Last Month    32.105
Name: 16761, dtype: object
16762 221.47999999999996 14 MP Last Month    15.82
Name: 16762, dtype: object
16763 148.49 12 MP Last Month    12.3742
Name: 16763, dtype: object
16764 310.65 14 MP Last Month    22.1893
Name: 16764, dtype: object
16765 336.75 13 MP Last Month    25.9038
Name: 16765, dtype: object
16766 428.43 14 MP Last Month    30.6021
Name: 16766, dtype: object
16767 186.89999999999998 13 MP Last Month    14.3769
Name: 16767, dtype: object
16768 0 0 MP Last Month    0
Name: 16768, dtype: object
16769 30.25 7 MP Last Month    4.32143
Name: 16769, dtype: object
16770 417.43000000000006 13 MP Last Month    32.11
Name: 16770, dtype: object
16771 369.05999999999995 14 MP Last Month    26.3614
Name: 16771, dtype: object
16772 44.830000000000005 12 MP Last Month    3.73583
Name: 16772, dtype: object
16773 322.28 13 MP Last Month    24.7908
Name: 16773, dtype: object
16774 300.07 12 MP Last Month    25.0058
Name: 16774, dtype: object
16775 391.68999999999994 13 MP Last Month    30.13
Name: 16775, dtype: object
16776 11.48 13 MP Last Month    0.883077
Name: 16776, dtype: object
16777 393.68999999999994 13 MP Last Month    30.2838
Name: 16777, dtype: object
16778 133.63 10 MP Last Month    13.363
Name: 16778, dtype: object
16779 255.06 13 MP Last Month    19.62
Name: 16779, dtype: object
16780 0.0 12 MP Last Month    0
Name: 16780, dtype: object
16781 244.97000000000003 13 MP Last Month    18.8438
Name: 16781, dtype: object
16782 285.98999999999995 12 MP Last Month    23.8325
Name: 16782, dtype: object
16783 324.18 13 MP Last Month    24.9369
Name: 16783, dtype: object
16784 245.15999999999997 12 MP Last Month    20.43
Name: 16784, dtype: object
16785 211.73 13 MP Last Month    16.2869
Name: 16785, dtype: object
16786 479.57 13 MP Last Month    36.89
Name: 16786, dtype: object
16787 268.02 10 MP Last Month    26.802
Name: 16787, dtype: object
16788 157.2 12 MP Last Month    13.1
Name: 16788, dtype: object
16789 190.10000000000002 13 MP Last Month    14.6231
Name: 16789, dtype: object
16790 54.50999999999999 11 MP Last Month    4.95545
Name: 16790, dtype: object
16791 325.97 11 MP Last Month    29.6336
Name: 16791, dtype: object
16792 321.78000000000003 12 MP Last Month    26.815
Name: 16792, dtype: object
16793 110.38999999999999 12 MP Last Month    9.19917
Name: 16793, dtype: object
16794 9.81 11 MP Last Month    0.891818
Name: 16794, dtype: object
16795 161.38000000000002 13 MP Last Month    12.4138
Name: 16795, dtype: object
16796 433.44000000000005 13 MP Last Month    33.3415
Name: 16796, dtype: object
16797 151.05 6 MP Last Month    25.175
Name: 16797, dtype: object
16798 29.13 7 MP Last Month    4.16143
Name: 16798, dtype: object
16799 209.62 11 MP Last Month    19.0564
Name: 16799, dtype: object
16800 313.75000000000006 11 MP Last Month    28.5227
Name: 16800, dtype: object
16801 130.78 8 MP Last Month    16.3475
Name: 16801, dtype: object
16802 105.13999999999999 9 MP Last Month    11.6822
Name: 16802, dtype: object
16803 374.99 11 MP Last Month    34.09
Name: 16803, dtype: object
16804 263.25 11 MP Last Month    23.9318
Name: 16804, dtype: object
16805 53.849999999999994 9 MP Last Month    5.98333
Name: 16805, dtype: object
16806 23.1 9 MP Last Month    2.56667
Name: 16806, dtype: object
16807 156.82 11 MP Last Month    14.2564
Name: 16807, dtype: object
16808 285.45000000000005 11 MP Last Month    25.95
Name: 16808, dtype: object
16809 25.479999999999997 2 MP Last Month    12.74
Name: 16809, dtype: object
16810 177.10999999999999 8 MP Last Month    22.1387
Name: 16810, dtype: object
16811 408.3 14 MP Last Month    29.1643
Name: 16811, dtype: object
16812 70.41999999999999 14 MP Last Month    5.03
Name: 16812, dtype: object
16813 194.29 14 MP Last Month    13.8779
Name: 16813, dtype: object
16814 419.83 15 MP Last Month    27.9887
Name: 16814, dtype: object
16815 459.84999999999997 14 MP Last Month    32.8464
Name: 16815, dtype: object
16816 142.48 13 MP Last Month    10.96
Name: 16816, dtype: object
16817 497.78 15 MP Last Month    33.1853
Name: 16817, dtype: object
16818 407.36 15 MP Last Month    27.1573
Name: 16818, dtype: object
16819 471.15 15 MP Last Month    31.41
Name: 16819, dtype: object
16820 167.32999999999998 11 MP Last Month    15.2118
Name: 16820, dtype: object
16821 61.74000000000001 14 MP Last Month    4.41
Name: 16821, dtype: object
16822 89.21000000000001 14 MP Last Month    6.37214
Name: 16822, dtype: object
16823 469.1 14 MP Last Month    33.5071
Name: 16823, dtype: object
16824 343.36 14 MP Last Month    24.5257
Name: 16824, dtype: object

16825 252.38 14 MP Last Month    18.0271
Name: 16825, dtype: object
16826 389.0 12 MP Last Month    32.4167
Name: 16826, dtype: object
16827 40.839999999999996 4 MP Last Month    10.21
Name: 16827, dtype: object
16828 329.26 12 MP Last Month    27.4383
Name: 16828, dtype: object
16829 214.84 14 MP Last Month    15.3457
Name: 16829, dtype: object
16830 202.75 14 MP Last Month    14.4821
Name: 16830, dtype: object
16831 390.77 12 MP Last Month    32.5642
Name: 16831, dtype: object
16832 272.72 14 MP Last Month    19.48
Name: 16832, dtype: object
16833 39.96 13 MP Last Month    3.07385
Name: 16833, dtype: object
16834 429.50000000000006 14 MP Last Month    30.6786
Name: 16834, dtype: object
16835 451.92999999999995 14 MP Last Month    32.2807
Name: 16835, dtype: object
16836 308.09 14 MP Last Month    22.0064
Name: 16836, dtype: object
16837 4.72 3 MP Last Month    1.57333
Name: 16837, dtype: object
16838 473.80999999999995 14 MP Last Month    33.8436
Name: 16838, dtype: object
16839 208.73000000000002 8 MP Last Month    26.0913
Name: 16839, dtype: object
16840 304.56999999999994 13 MP Last Month    23.4285
Name: 16840, dtype: object
16841 56.81 14 MP Last Month    4.05786
Name: 16841, dtype: object
16842 24.639999999999997 14 MP Last Month    1.76
Name: 16842, dtype: object
16843 471.85 14 MP Last Month    33.7036
Name: 16843, dtype: object
16844 219.74 14 MP Last Month    15.6957
Name: 16844, dtype: object
16845 0.88 2 MP Last Month    0.44
Name: 16845, dtype: object
16846 92.79 13 MP Last Month    7.13769
Name: 16846, dtype: object
16847 272.98 10 MP Last Month    27.298
Name: 16847, dtype: object
16848 384.96999999999997 14 MP Last Month    27.4979
Name: 16848, dtype: object
16849 281.58 14 MP Last Month    20.1129
Name: 16849, dtype: object
16850 6.3100000000000005 5 MP Last Month    1.262
Name: 16850, dtype: object
16851 367.42999999999995 13 MP Last Month    28.2638
Name: 16851, dtype: object
16852 269.26 13 MP Last Month    20.7123
Name: 16852, dtype: object
16853 84.00999999999999 8 MP Last Month    10.5012
Name: 16853, dtype: object
16854 92.86 12 MP Last Month    7.73833
Name: 16854, dtype: object
16855 415.96999999999997 14 MP Last Month    29.7121
Name: 16855, dtype: object
16856 453.8999999999999 14 MP Last Month    32.4214
Name: 16856, dtype: object
16857 188.69000000000003 14 MP Last Month    13.4779
Name: 16857, dtype: object
16858 475.41999999999996 14 MP Last Month    33.9586
Name: 16858, dtype: object
16859 164.7 7 MP Last Month    23.5286
Name: 16859, dtype: object
16860 72.38 5 MP Last Month    14.476
Name: 16860, dtype: object
16861 426.71999999999997 14 MP Last Month    30.48
Name: 16861, dtype: object
16862 352.21 13 MP Last Month    27.0931
Name: 16862, dtype: object
16863 302.97999999999996 14 MP Last Month    21.6414
Name: 16863, dtype: object
16864 313.84000000000003 14 MP Last Month    22.4171
Name: 16864, dtype: object
16865 83.84 14 MP Last Month    5.98857
Name: 16865, dtype: object
16866 8.89 8 MP Last Month    1.11125
Name: 16866, dtype: object
16867 459.49999999999994 14 MP Last Month    32.8214
Name: 16867, dtype: object
16868 41.87 14 MP Last Month    2.99071
Name: 16868, dtype: object
16869 337.97 14 MP Last Month    24.1407
Name: 16869, dtype: object
16870 449.21999999999997 13 MP Last Month    34.5554
Name: 16870, dtype: object
16871 160.33 12 MP Last Month    13.3608
Name: 16871, dtype: object
16872 427.55000000000007 13 MP Last Month    32.8885
Name: 16872, dtype: object
16873 126.42999999999999 13 MP Last Month    9.72538
Name: 16873, dtype: object
16874 453.3 13 MP Last Month    34.8692
Name: 16874, dtype: object
16875 309.69 13 MP Last Month    23.8223
Name: 16875, dtype: object
16876 177.42 13 MP Last Month    13.6477
Name: 16876, dtype: object
16877 15.77 2 MP Last Month    7.885
Name: 16877, dtype: object
16878 3.57 1 MP Last Month    3.57
Name: 16878, dtype: object
16879 406.85 13 MP Last Month    31.2962
Name: 16879, dtype: object
16880 36.35 2 MP Last Month    18.175
Name: 16880, dtype: object
16881 307.6400000000001 13 MP Last Month    23.6646
Name: 16881, dtype: object
16882 92.48 13 MP Last Month    7.11385
Name: 16882, dtype: object
16883 23.0 1 MP Last Month    23
Name: 16883, dtype: object
16884 245.7 15 MP Last Month    16.38
Name: 16884, dtype: object
16885 525.6999999999999 15 MP Last Month    35.0467
Name: 16885, dtype: object
16886 417.0900000000001 15 MP Last Month    27.806
Name: 16886, dtype: object
16887 452.73999999999995 13 MP Last Month    34.8262
Name: 16887, dtype: object
16888 465.88 15 MP Last Month    31.0587
Name: 16888, dtype: object
16889 131.63 10 MP Last Month    13.163
Name: 16889, dtype: object
16890 129.89999999999998 15 MP Last Month    8.66
Name: 16890, dtype: object
16891 229.46999999999997 13 MP Last Month    17.6515
Name: 16891, dtype: object
16892 240.59999999999997 15 MP Last Month    16.04
Name: 16892, dtype: object
16893 50.580000000000005 15 MP Last Month    3.372
Name: 16893, dtype: object
16894 220.39 15 MP Last Month    14.6927
Name: 16894, dtype: object
16895 99.65 14 MP Last Month    7.11786
Name: 16895, dtype: object
16896 213.54 8 MP Last Month    26.6925
Name: 16896, dtype: object
16897 9.85 8 MP Last Month    1.23125
Name: 16897, dtype: object
16898 214.68 8 MP Last Month    26.835
Name: 16898, dtype: object
16899 511.94999999999993 14 MP Last Month    36.5679
Name: 16899, dtype: object
16900 342.5199999999999 14 MP Last Month    24.4657
Name: 16900, dtype: object
16901 297.46999999999997 14 MP Last Month    21.2479
Name: 16901, dtype: object
16902 38.07 14 MP Last Month    2.71929
Name: 16902, dtype: object
16903 188.9 14 MP Last Month    13.4929
Name: 16903, dtype: object
16904 12.98 7 MP Last Month    1.85429
Name: 16904, dtype: object
16905 467.41999999999996 14 MP Last Month    33.3871
Name: 16905, dtype: object
16906 366.83 14 MP Last Month    26.2021
Name: 16906, dtype: object
16907 171.14 14 MP Last Month    12.2243
Name: 16907, dtype: object
16908 517.75 14 MP Last Month    36.9821
Name: 16908, dtype: object
16909 300.27 11 MP Last Month    27.2973
Name: 16909, dtype: object
16910 173.27999999999997 13 MP Last Month    13.3292
Name: 16910, dtype: object
16911 54.50999999999999 12 MP Last Month    4.5425
Name: 16911, dtype: object
16912 196.02 14 MP Last Month    14.0014
Name: 16912, dtype: object
16913 351.40000000000003 13 MP Last Month    27.0308
Name: 16913, dtype: object
16914 115.80999999999999 13 MP Last Month    8.90846
Name: 16914, dtype: object
16915 16.84 5 MP Last Month    3.368
Name: 16915, dtype: object
16916 9.81 12 MP Last Month    0.8175
Name: 16916, dtype: object
16917 192.36 14 MP Last Month    13.74
Name: 16917, dtype: object
16918 29.13 8 MP Last Month    3.64125
Name: 16918, dtype: object
16919 561.46 15 MP Last Month    37.4307
Name: 16919, dtype: object
16920 418.11 15 MP Last Month    27.874
Name: 16920, dtype: object
16921 23.299999999999997 14 MP Last Month    1.66429
Name: 16921, dtype: object
16922 521.53 15 MP Last Month    34.7687
Name: 16922, dtype: object
16923 515.51 15 MP Last Month    34.3673
Name: 16923, dtype: object
16924 376.82000000000005 15 MP Last Month    25.1213
Name: 16924, dtype: object
16925 216.11999999999998 15 MP Last Month    14.408
Name: 16925, dtype: object
16926 152.63000000000005 15 MP Last Month    10.1753
Name: 16926, dtype: object
16927 0.0 1 MP Last Month    0
Name: 16927, dtype: object
16928 535.13 15 MP Last Month    35.6753
Name: 16928, dtype: object
16929 196.73000000000002 15 MP Last Month    13.1153
Name: 16929, dtype: object
16930 152.0 12 MP Last Month    12.6667
Name: 16930, dtype: object
16931 382.87 12 MP Last Month    31.9058
Name: 16931, dtype: object
16932 182.78999999999996 15 MP Last Month    12.186
Name: 16932, dtype: object
16933 151.10999999999996 10 MP Last Month    15.111
Name: 16933, dtype: object
16934 94.83000000000001 15 MP Last Month    6.322
Name: 16934, dtype: object
16935 340.35 15 MP Last Month    22.69
Name: 16935, dtype: object
16936 384.81 15 MP Last Month    25.654
Name: 16936, dtype: object
16937 438.76000000000005 15 MP Last Month    29.2507
Name: 16937, dtype: object
16938 376.76 15 MP Last Month    25.1173
Name: 16938, dtype: object
16939 78.98 15 MP Last Month    5.26533
Name: 16939, dtype: object

16940 77.62 7 MP Last Month    11.0886
Name: 16940, dtype: object
16941 0.0 11 MP Last Month    0
Name: 16941, dtype: object
16942 569.99 16 MP Last Month    35.6244
Name: 16942, dtype: object
16943 283.88 16 MP Last Month    17.7425
Name: 16943, dtype: object
16944 14.72 7 MP Last Month    2.10286
Name: 16944, dtype: object
16945 244.73999999999998 16 MP Last Month    15.2962
Name: 16945, dtype: object
16946 215.95 11 MP Last Month    19.6318
Name: 16946, dtype: object
16947 356.9800000000001 16 MP Last Month    22.3113
Name: 16947, dtype: object
16948 482.69000000000005 16 MP Last Month    30.1681
Name: 16948, dtype: object
16949 122.97999999999999 16 MP Last Month    7.68625
Name: 16949, dtype: object
16950 461.25999999999993 16 MP Last Month    28.8287
Name: 16950, dtype: object
16951 269.94 16 MP Last Month    16.8712
Name: 16951, dtype: object
16952 14.72 6 MP Last Month    2.45333
Name: 16952, dtype: object
16953 266.32 16 MP Last Month    16.645
Name: 16953, dtype: object
16954 383.96 12 MP Last Month    31.9967
Name: 16954, dtype: object
16955 470.78000000000003 12 MP Last Month    39.2317
Name: 16955, dtype: object
16956 190.31 12 MP Last Month    15.8592
Name: 16956, dtype: object
16957 3.6100000000000003 5 MP Last Month    0.722
Name: 16957, dtype: object
16958 0 0 MP Last Month    0
Name: 16958, dtype: object
16959 451.77 12 MP Last Month    37.6475
Name: 16959, dtype: object
16960 246.35 9 MP Last Month    27.3722
Name: 16960, dtype: object
16961 357.03000000000003 12 MP Last Month    29.7525
Name: 16961, dtype: object
16962 191.93 12 MP Last Month    15.9942
Name: 16962, dtype: object
16963 294.19 12 MP Last Month    24.5158
Name: 16963, dtype: object
16964 167.92999999999998 12 MP Last Month    13.9942
Name: 16964, dtype: object
16965 250.85999999999999 14 MP Last Month    17.9186
Name: 16965, dtype: object
16966 404.2600000000001 13 MP Last Month    31.0969
Name: 16966, dtype: object
16967 388.21000000000004 14 MP Last Month    27.7293
Name: 16967, dtype: object
16968 56.959999999999994 8 MP Last Month    7.12
Name: 16968, dtype: object
16969 388.4 13 MP Last Month    29.8769
Name: 16969, dtype: object
16970 339.40999999999997 14 MP Last Month    24.2436
Name: 16970, dtype: object
16971 374.42 14 MP Last Month    26.7443
Name: 16971, dtype: object
16972 241.12 10 MP Last Month    24.112
Name: 16972, dtype: object
16973 248.12 13 MP Last Month    19.0862
Name: 16973, dtype: object
16974 103.22999999999999 7 MP Last Month    14.7471
Name: 16974, dtype: object
16975 368.13 14 MP Last Month    26.295
Name: 16975, dtype: object
16976 0 0 MP Last Month    0
Name: 16976, dtype: object
16977 429.84000000000003 14 MP Last Month    30.7029
Name: 16977, dtype: object
16978 431.8299999999999 14 MP Last Month    30.845
Name: 16978, dtype: object
16979 268.55999999999995 14 MP Last Month    19.1829
Name: 16979, dtype: object
16980 259.76 14 MP Last Month    18.5543
Name: 16980, dtype: object
16981 113.98999999999998 14 MP Last Month    8.14214
Name: 16981, dtype: object
16982 451.42 14 MP Last Month    32.2443
Name: 16982, dtype: object
16983 347.61999999999995 14 MP Last Month    24.83
Name: 16983, dtype: object
16984 97.89000000000001 13 MP Last Month    7.53
Name: 16984, dtype: object
16985 180.2 13 MP Last Month    13.8615
Name: 16985, dtype: object
16986 176.22 8 MP Last Month    22.0275
Name: 16986, dtype: object
16987 198.49 14 MP Last Month    14.1779
Name: 16987, dtype: object
16988 43.68 14 MP Last Month    3.12
Name: 16988, dtype: object
16989 505.78 15 MP Last Month    33.7187
Name: 16989, dtype: object
16990 199.31999999999994 15 MP Last Month    13.288
Name: 16990, dtype: object
16991 257.34 15 MP Last Month    17.156
Name: 16991, dtype: object
16992 220.42999999999998 13 MP Last Month    16.9562
Name: 16992, dtype: object
16993 479.61000000000007 15 MP Last Month    31.974
Name: 16993, dtype: object
16994 301.1 15 MP Last Month    20.0733
Name: 16994, dtype: object
16995 453.68 15 MP Last Month    30.2453
Name: 16995, dtype: object
16996 351.63999999999993 12 MP Last Month    29.3033
Name: 16996, dtype: object
16997 217.25 15 MP Last Month    14.4833
Name: 16997, dtype: object
16998 34.67 12 MP Last Month    2.88917
Name: 16998, dtype: object
16999 247.06 13 MP Last Month    19.0046
Name: 16999, dtype: object
17000 31.85 14 MP Last Month    2.275
Name: 17000, dtype: object
17001 419.68 15 MP Last Month    27.9787
Name: 17001, dtype: object
17002 399.78000000000003 15 MP Last Month    26.652
Name: 17002, dtype: object
17003 447.84000000000003 15 MP Last Month    29.856
Name: 17003, dtype: object
17004 236.76999999999998 14 MP Last Month    16.9121
Name: 17004, dtype: object
17005 185.17999999999998 13 MP Last Month    14.2446
Name: 17005, dtype: object
17006 457.94000000000005 15 MP Last Month    30.5293
Name: 17006, dtype: object
17007 212.64999999999998 13 MP Last Month    16.3577
Name: 17007, dtype: object
17008 13.520000000000001 3 MP Last Month    4.50667
Name: 17008, dtype: object
17009 206.53000000000003 12 MP Last Month    17.2108
Name: 17009, dtype: object
17010 241.69000000000003 12 MP Last Month    20.1408
Name: 17010, dtype: object
17011 180.25 7 MP Last Month    25.75
Name: 17011, dtype: object
17012 167.79 15 MP Last Month    11.186
Name: 17012, dtype: object
17013 465.8900000000001 15 MP Last Month    31.0593
Name: 17013, dtype: object
17014 179.16000000000003 15 MP Last Month    11.944
Name: 17014, dtype: object
17015 186.04000000000002 15 MP Last Month    12.4027
Name: 17015, dtype: object
17016 325.89 15 MP Last Month    21.726
Name: 17016, dtype: object
17017 490.28 15 MP Last Month    32.6853
Name: 17017, dtype: object
17018 37.3 12 MP Last Month    3.10833
Name: 17018, dtype: object
17019 459.3099999999999 15 MP Last Month    30.6207
Name: 17019, dtype: object
17020 312.21000000000004 15 MP Last Month    20.814
Name: 17020, dtype: object
17021 239.19000000000003 15 MP Last Month    15.946
Name: 17021, dtype: object
17022 120.49 12 MP Last Month    10.0408
Name: 17022, dtype: object
17023 21.55 13 MP Last Month    1.65769
Name: 17023, dtype: object
17024 438.49 15 MP Last Month    29.2327
Name: 17024, dtype: object
17025 481.86 15 MP Last Month    32.124
Name: 17025, dtype: object
17026 330.88 15 MP Last Month    22.0587
Name: 17026, dtype: object
17027 167.17 8 MP Last Month    20.8962
Name: 17027, dtype: object
17028 103.80000000000001 5 MP Last Month    20.76
Name: 17028, dtype: object
17029 196.95999999999998 13 MP Last Month    15.1508
Name: 17029, dtype: object
17030 427.32 15 MP Last Month    28.488
Name: 17030, dtype: object
17031 275.31 15 MP Last Month    18.354
Name: 17031, dtype: object
17032 0 0 MP Last Month    0
Name: 17032, dtype: object
17033 30.9 14 MP Last Month    2.20714
Name: 17033, dtype: object
17034 308.87000000000006 13 MP Last Month    23.7592
Name: 17034, dtype: object
17035 302.84999999999997 15 MP Last Month    20.19
Name: 17035, dtype: object
17036 485.40000000000003 15 MP Last Month    32.36
Name: 17036, dtype: object
17037 458.74 16 MP Last Month    28.6713
Name: 17037, dtype: object
17038 248.79 16 MP Last Month    15.5494
Name: 17038, dtype: object
17039 386.38000000000005 16 MP Last Month    24.1488
Name: 17039, dtype: object
17040 240.32 16 MP Last Month    15.02
Name: 17040, dtype: object
17041 80.77999999999999 14 MP Last Month    5.77
Name: 17041, dtype: object
17042 506.0900000000001 16 MP Last Month    31.6306
Name: 17042, dtype: object
17043 226.89000000000001 16 MP Last Month    14.1806
Name: 17043, dtype: object
17044 324.22 16 MP Last Month    20.2638
Name: 17044, dtype: object
17045 550.9000000000001 15 MP Last Month    36.7267
Name: 17045, dtype: object
17046 415.31999999999994 13 MP Last Month    31.9477
Name: 17046, dtype: object
17047 186.87 12 MP Last Month    15.5725
Name: 17047, dtype: object
17048 164.39 14 MP Last Month    11.7421
Name: 17048, dtype: object
17049 543.03 14 MP Last Month    38.7879
Name: 17049, dtype: object
17050 529.29 14 MP Last Month    37.8064
Name: 17050, dtype: object
17051 66.93 10 MP Last Month    6.693
Name: 17051, dtype: object
17052 177.96999999999997 6 MP Last Month    29.6617
Name: 17052, dtype: object
17053 507.1400000000001 14 MP Last Month    36.2243
Name: 17053, dtype: object

17054 181.85999999999999 10 MP Last Month    18.186
Name: 17054, dtype: object
17055 391.7900000000001 14 MP Last Month    27.985
Name: 17055, dtype: object
17056 117.08000000000001 14 MP Last Month    8.36286
Name: 17056, dtype: object
17057 123.84 14 MP Last Month    8.84571
Name: 17057, dtype: object
17058 137.83999999999997 14 MP Last Month    9.84571
Name: 17058, dtype: object
17059 43.82 14 MP Last Month    3.13
Name: 17059, dtype: object
17060 446.19 15 MP Last Month    29.746
Name: 17060, dtype: object
17061 424.71000000000004 15 MP Last Month    28.314
Name: 17061, dtype: object
17062 39.81 4 MP Last Month    9.9525
Name: 17062, dtype: object
17063 350.93 15 MP Last Month    23.3953
Name: 17063, dtype: object
17064 514.3100000000001 15 MP Last Month    34.2873
Name: 17064, dtype: object
17065 63.71 15 MP Last Month    4.24733
Name: 17065, dtype: object
17066 191.01000000000002 15 MP Last Month    12.734
Name: 17066, dtype: object
17067 131.72 15 MP Last Month    8.78133
Name: 17067, dtype: object
17068 205.86 15 MP Last Month    13.724
Name: 17068, dtype: object
17069 398.94 15 MP Last Month    26.596
Name: 17069, dtype: object
17070 64.99000000000001 11 MP Last Month    5.90818
Name: 17070, dtype: object
17071 58.79 15 MP Last Month    3.91933
Name: 17071, dtype: object
17072 485.49 15 MP Last Month    32.366
Name: 17072, dtype: object
17073 238.35999999999996 15 MP Last Month    15.8907
Name: 17073, dtype: object
17074 152.62 13 MP Last Month    11.74
Name: 17074, dtype: object
17075 199.62999999999997 14 MP Last Month    14.2593
Name: 17075, dtype: object
17076 337.84999999999997 15 MP Last Month    22.5233
Name: 17076, dtype: object
17077 377.13 14 MP Last Month    26.9379
Name: 17077, dtype: object
17078 464.96000000000004 15 MP Last Month    30.9973
Name: 17078, dtype: object
17079 0 0 MP Last Month    0
Name: 17079, dtype: object
17080 0.0 1 MP Last Month    0
Name: 17080, dtype: object
17081 456.2300000000001 14 MP Last Month    32.5879
Name: 17081, dtype: object
17082 394.60999999999996 15 MP Last Month    26.3073
Name: 17082, dtype: object
17083 119.28 12 MP Last Month    9.94
Name: 17083, dtype: object
17084 46.60000000000001 13 MP Last Month    3.58462
Name: 17084, dtype: object
17085 422.93999999999994 14 MP Last Month    30.21
Name: 17085, dtype: object
17086 323.39 13 MP Last Month    24.8762
Name: 17086, dtype: object
17087 357.78 14 MP Last Month    25.5557
Name: 17087, dtype: object
17088 11.48 14 MP Last Month    0.82
Name: 17088, dtype: object
17089 265.76 14 MP Last Month    18.9829
Name: 17089, dtype: object
17090 430.80999999999995 14 MP Last Month    30.7721
Name: 17090, dtype: object
17091 244.97000000000003 14 MP Last Month    17.4979
Name: 17091, dtype: object
17092 0.0 13 MP Last Month    0
Name: 17092, dtype: object
17093 318.4599999999999 13 MP Last Month    24.4969
Name: 17093, dtype: object
17094 339.71 14 MP Last Month    24.265
Name: 17094, dtype: object
17095 270.72999999999996 13 MP Last Month    20.8254
Name: 17095, dtype: object
17096 211.73 14 MP Last Month    15.1236
Name: 17096, dtype: object
17097 359.59000000000003 13 MP Last Month    27.6608
Name: 17097, dtype: object
17098 375.4900000000001 13 MP Last Month    28.8838
Name: 17098, dtype: object
17099 273.02 13 MP Last Month    21.0015
Name: 17099, dtype: object
17100 371.8299999999999 12 MP Last Month    30.9858
Name: 17100, dtype: object
17101 395.47 13 MP Last Month    30.4208
Name: 17101, dtype: object
17102 226.38000000000002 13 MP Last Month    17.4138
Name: 17102, dtype: object
17103 195.07000000000002 13 MP Last Month    15.0054
Name: 17103, dtype: object
17104 55.08 12 MP Last Month    4.59
Name: 17104, dtype: object
17105 364.44000000000005 13 MP Last Month    28.0338
Name: 17105, dtype: object
17106 155.92999999999998 10 MP Last Month    15.593
Name: 17106, dtype: object
17107 201.94 12 MP Last Month    16.8283
Name: 17107, dtype: object
17108 106.52999999999999 12 MP Last Month    8.8775
Name: 17108, dtype: object
17109 35.589999999999996 10 MP Last Month    3.559
Name: 17109, dtype: object
17110 129.62 15 MP Last Month    8.64133
Name: 17110, dtype: object
17111 19.63 9 MP Last Month    2.18111
Name: 17111, dtype: object
17112 225.72 9 MP Last Month    25.08
Name: 17112, dtype: object
17113 549.02 15 MP Last Month    36.6013
Name: 17113, dtype: object
17114 382.0199999999999 15 MP Last Month    25.468
Name: 17114, dtype: object
17115 49.72 15 MP Last Month    3.31467
Name: 17115, dtype: object
17116 192.75 15 MP Last Month    12.85
Name: 17116, dtype: object
17117 5.6 3 MP Last Month    1.86667
Name: 17117, dtype: object
17118 317.64 15 MP Last Month    21.176
Name: 17118, dtype: object
17119 14.26 8 MP Last Month    1.7825
Name: 17119, dtype: object
17120 498.73999999999995 15 MP Last Month    33.2493
Name: 17120, dtype: object
17121 186.54 15 MP Last Month    12.436
Name: 17121, dtype: object
17122 394.65999999999997 15 MP Last Month    26.3107
Name: 17122, dtype: object
17123 90.66999999999999 9 MP Last Month    10.0744
Name: 17123, dtype: object
17124 154.73 8 MP Last Month    19.3412
Name: 17124, dtype: object
17125 224.41 11 MP Last Month    20.4009
Name: 17125, dtype: object
17126 56.0 9 MP Last Month    6.22222
Name: 17126, dtype: object
17127 370.32 11 MP Last Month    33.6655
Name: 17127, dtype: object
17128 268.98 11 MP Last Month    24.4527
Name: 17128, dtype: object
17129 23.1 9 MP Last Month    2.56667
Name: 17129, dtype: object
17130 156.82 11 MP Last Month    14.2564
Name: 17130, dtype: object
17131 282.87 11 MP Last Month    25.7155
Name: 17131, dtype: object
17132 42.86 3 MP Last Month    14.2867
Name: 17132, dtype: object
17133 152.07999999999998 8 MP Last Month    19.01
Name: 17133, dtype: object
17134 436.38 15 MP Last Month    29.092
Name: 17134, dtype: object
17135 89.26999999999998 15 MP Last Month    5.95133
Name: 17135, dtype: object
17136 484.67999999999995 15 MP Last Month    32.312
Name: 17136, dtype: object
17137 434.46000000000004 16 MP Last Month    27.1538
Name: 17137, dtype: object
17138 454.97999999999996 16 MP Last Month    28.4362
Name: 17138, dtype: object
17139 166.60999999999999 14 MP Last Month    11.9007
Name: 17139, dtype: object
17140 530.68 16 MP Last Month    33.1675
Name: 17140, dtype: object
17141 0.0 4 MP Last Month    0
Name: 17141, dtype: object
17142 504.33 16 MP Last Month    31.5206
Name: 17142, dtype: object
17143 182.14999999999998 12 MP Last Month    15.1792
Name: 17143, dtype: object
17144 61.74000000000001 15 MP Last Month    4.116
Name: 17144, dtype: object
17145 89.21000000000001 15 MP Last Month    5.94733
Name: 17145, dtype: object
17146 413.12 13 MP Last Month    31.7785
Name: 17146, dtype: object
17147 210.55999999999997 16 MP Last Month    13.16
Name: 17147, dtype: object
17148 174.35999999999996 11 MP Last Month    15.8509
Name: 17148, dtype: object
17149 101.46000000000001 16 MP Last Month    6.34125
Name: 17149, dtype: object
17150 405.23 16 MP Last Month    25.3269
Name: 17150, dtype: object
17151 419.44 16 MP Last Month    26.215
Name: 17151, dtype: object
17152 468.0400000000001 16 MP Last Month    29.2525
Name: 17152, dtype: object
17153 106.55000000000001 16 MP Last Month    6.65938
Name: 17153, dtype: object
17154 98.05000000000001 8 MP Last Month    12.2563
Name: 17154, dtype: object
17155 0.0 12 MP Last Month    0
Name: 17155, dtype: object
17156 431.77000000000004 15 MP Last Month    28.7847
Name: 17156, dtype: object
17157 261.85 15 MP Last Month    17.4567
Name: 17157, dtype: object
17158 315.35999999999996 15 MP Last Month    21.024
Name: 17158, dtype: object
17159 476.72999999999996 15 MP Last Month    31.782
Name: 17159, dtype: object
17160 293.88 11 MP Last Month    26.7164
Name: 17160, dtype: object
17161 348.05 15 MP Last Month    23.2033
Name: 17161, dtype: object
17162 448.75 15 MP Last Month    29.9167
Name: 17162, dtype: object
17163 87.01999999999998 15 MP Last Month    5.80133
Name: 17163, dtype: object
17164 422.70000000000005 15 MP Last Month    28.18
Name: 17164, dtype: object
17165 196.93 8 MP Last Month    24.6163
Name: 17165, dtype: object
17166 223.16999999999996 15 MP Last Month    14.878
Name: 17166, dtype: object
17167 74.8 15 MP Last Month    4.98667
Name: 17167, dtype: object

17168 309.55 11 MP Last Month    28.1409
Name: 17168, dtype: object
17169 422.36999999999995 15 MP Last Month    28.158
Name: 17169, dtype: object
17170 295.84999999999997 15 MP Last Month    19.7233
Name: 17170, dtype: object
17171 348.37 10 MP Last Month    34.837
Name: 17171, dtype: object
17172 394.29999999999995 14 MP Last Month    28.1643
Name: 17172, dtype: object
17173 289.74 14 MP Last Month    20.6957
Name: 17173, dtype: object
17174 216.68 10 MP Last Month    21.668
Name: 17174, dtype: object
17175 104.76 13 MP Last Month    8.05846
Name: 17175, dtype: object
17176 96.41 9 MP Last Month    10.7122
Name: 17176, dtype: object
17177 490.8999999999999 15 MP Last Month    32.7267
Name: 17177, dtype: object
17178 451.09999999999997 15 MP Last Month    30.0733
Name: 17178, dtype: object
17179 196.67000000000002 15 MP Last Month    13.1113
Name: 17179, dtype: object
17180 482.65 14 MP Last Month    34.475
Name: 17180, dtype: object
17181 158.05 7 MP Last Month    22.5786
Name: 17181, dtype: object
17182 75.66 6 MP Last Month    12.61
Name: 17182, dtype: object
17183 311.07 14 MP Last Month    22.2193
Name: 17183, dtype: object
17184 430.06999999999994 14 MP Last Month    30.7193
Name: 17184, dtype: object
17185 357.43 13 MP Last Month    27.4946
Name: 17185, dtype: object
17186 317.73 14 MP Last Month    22.695
Name: 17186, dtype: object
17187 91.64999999999999 14 MP Last Month    6.54643
Name: 17187, dtype: object
17188 8.89 9 MP Last Month    0.987778
Name: 17188, dtype: object
17189 463.02 14 MP Last Month    33.0729
Name: 17189, dtype: object
17190 324.44000000000005 14 MP Last Month    23.1743
Name: 17190, dtype: object
17191 47.06999999999999 14 MP Last Month    3.36214
Name: 17191, dtype: object
17192 510.6 13 MP Last Month    39.2769
Name: 17192, dtype: object
17193 422.92999999999995 13 MP Last Month    32.5331
Name: 17193, dtype: object
17194 3.6100000000000003 6 MP Last Month    0.601667
Name: 17194, dtype: object
17195 205.39000000000001 13 MP Last Month    15.7992
Name: 17195, dtype: object
17196 384.96000000000004 13 MP Last Month    29.6123
Name: 17196, dtype: object
17197 491.19 13 MP Last Month    37.7838
Name: 17197, dtype: object
17198 280.77 10 MP Last Month    28.077
Name: 17198, dtype: object
17199 208.48000000000002 13 MP Last Month    16.0369
Name: 17199, dtype: object
17200 315.56 13 MP Last Month    24.2738
Name: 17200, dtype: object
17201 167.92999999999998 13 MP Last Month    12.9177
Name: 17201, dtype: object
17202 437.06 14 MP Last Month    31.2186
Name: 17202, dtype: object
17203 297.63 13 MP Last Month    22.8946
Name: 17203, dtype: object
17204 180.94 14 MP Last Month    12.9243
Name: 17204, dtype: object
17205 65.24000000000001 12 MP Last Month    5.43667
Name: 17205, dtype: object
17206 395.0 13 MP Last Month    30.3846
Name: 17206, dtype: object
17207 105.25999999999999 14 MP Last Month    7.51857
Name: 17207, dtype: object
17208 150.44 13 MP Last Month    11.5723
Name: 17208, dtype: object
17209 438.55 14 MP Last Month    31.325
Name: 17209, dtype: object
17210 264.71 10 MP Last Month    26.471
Name: 17210, dtype: object
17211 274.46000000000004 13 MP Last Month    21.1123
Name: 17211, dtype: object
17212 108.97 10 MP Last Month    10.897
Name: 17212, dtype: object
17213 363.49 11 MP Last Month    33.0445
Name: 17213, dtype: object
17214 393.82000000000005 14 MP Last Month    28.13
Name: 17214, dtype: object
17215 327.0 15 MP Last Month    21.8
Name: 17215, dtype: object
17216 89.57 15 MP Last Month    5.97133
Name: 17216, dtype: object
17217 460.33000000000004 15 MP Last Month    30.6887
Name: 17217, dtype: object
17218 381.74 14 MP Last Month    27.2671
Name: 17218, dtype: object
17219 345.55 14 MP Last Month    24.6821
Name: 17219, dtype: object
17220 370.51 15 MP Last Month    24.7007
Name: 17220, dtype: object
17221 100.86 15 MP Last Month    6.724
Name: 17221, dtype: object
17222 361.58000000000004 14 MP Last Month    25.8271
Name: 17222, dtype: object
17223 90.03 5 MP Last Month    18.006
Name: 17223, dtype: object
17224 186.52 15 MP Last Month    12.4347
Name: 17224, dtype: object
17225 70.0 15 MP Last Month    4.66667
Name: 17225, dtype: object
17226 187.82 9 MP Last Month    20.8689
Name: 17226, dtype: object
17227 431.09000000000003 15 MP Last Month    28.7393
Name: 17227, dtype: object
17228 326.97999999999996 15 MP Last Month    21.7987
Name: 17228, dtype: object
17229 35.07 12 MP Last Month    2.9225
Name: 17229, dtype: object
17230 414.56 15 MP Last Month    27.6373
Name: 17230, dtype: object
17231 130.05 6 MP Last Month    21.675
Name: 17231, dtype: object
17232 204.66000000000003 13 MP Last Month    15.7431
Name: 17232, dtype: object
17233 261.21 15 MP Last Month    17.414
Name: 17233, dtype: object
17234 33.050000000000004 14 MP Last Month    2.36071
Name: 17234, dtype: object
17235 454.42 15 MP Last Month    30.2947
Name: 17235, dtype: object
17236 298.65 15 MP Last Month    19.91
Name: 17236, dtype: object
17237 331.1500000000001 14 MP Last Month    23.6536
Name: 17237, dtype: object
17238 447.89 13 MP Last Month    34.4531
Name: 17238, dtype: object
17239 430.1000000000001 13 MP Last Month    33.0846
Name: 17239, dtype: object
17240 160.73000000000002 12 MP Last Month    13.3942
Name: 17240, dtype: object
17241 122.86 13 MP Last Month    9.45077
Name: 17241, dtype: object
17242 453.71000000000004 13 MP Last Month    34.9008
Name: 17242, dtype: object
17243 307.89 13 MP Last Month    23.6838
Name: 17243, dtype: object
17244 181.07 13 MP Last Month    13.9285
Name: 17244, dtype: object
17245 15.77 3 MP Last Month    5.25667
Name: 17245, dtype: object
17246 0.0 1 MP Last Month    0
Name: 17246, dtype: object
17247 414.65000000000003 13 MP Last Month    31.8962
Name: 17247, dtype: object
17248 60.7 3 MP Last Month    20.2333
Name: 17248, dtype: object
17249 297.19000000000005 13 MP Last Month    22.8608
Name: 17249, dtype: object
17250 85.91000000000001 13 MP Last Month    6.60846
Name: 17250, dtype: object
17251 320.28 12 MP Last Month    26.69
Name: 17251, dtype: object
17252 298.82000000000005 12 MP Last Month    24.9017
Name: 17252, dtype: object
17253 23.569999999999997 12 MP Last Month    1.96417
Name: 17253, dtype: object
17254 6.470000000000001 3 MP Last Month    2.15667
Name: 17254, dtype: object
17255 377.3 12 MP Last Month    31.4417
Name: 17255, dtype: object
17256 376.40000000000003 12 MP Last Month    31.3667
Name: 17256, dtype: object
17257 223.23 12 MP Last Month    18.6025
Name: 17257, dtype: object
17258 200.82000000000002 12 MP Last Month    16.735
Name: 17258, dtype: object
17259 16.75 8 MP Last Month    2.09375
Name: 17259, dtype: object
17260 226.88 8 MP Last Month    28.36
Name: 17260, dtype: object
17261 312.47 12 MP Last Month    26.0392
Name: 17261, dtype: object
17262 83.09 12 MP Last Month    6.92417
Name: 17262, dtype: object
17263 486.40999999999997 15 MP Last Month    32.4273
Name: 17263, dtype: object
17264 242.94 15 MP Last Month    16.196
Name: 17264, dtype: object
17265 165.8 14 MP Last Month    11.8429
Name: 17265, dtype: object
17266 369.38 14 MP Last Month    26.3843
Name: 17266, dtype: object
17267 8.3 1 MP Last Month    8.3
Name: 17267, dtype: object
17268 346.93 15 MP Last Month    23.1287
Name: 17268, dtype: object
17269 0.0 2 MP Last Month    0
Name: 17269, dtype: object
17270 447.05 14 MP Last Month    31.9321
Name: 17270, dtype: object
17271 392.76 15 MP Last Month    26.184
Name: 17271, dtype: object
17272 129.46999999999997 12 MP Last Month    10.7892
Name: 17272, dtype: object
17273 46.60000000000001 13 MP Last Month    3.58462
Name: 17273, dtype: object
17274 200.83 14 MP Last Month    14.345
Name: 17274, dtype: object
17275 519.05 14 MP Last Month    37.075
Name: 17275, dtype: object
17276 185.09999999999997 13 MP Last Month    14.2385
Name: 17276, dtype: object
17277 357.37000000000006 13 MP Last Month    27.49
Name: 17277, dtype: object
17278 133.65 13 MP Last Month    10.2808
Name: 17278, dtype: object
17279 329.69 12 MP Last Month    27.4742
Name: 17279, dtype: object
17280 172.25000000000003 14 MP Last Month    12.3036
Name: 17280, dtype: object
17281 51.86 8 MP Last Month    6.4825
Name: 17281, dtype: object
17282 322.09999999999997 11 MP Last Month    29.2818
Name: 17282, dtype: object

17283 61.35999999999999 12 MP Last Month    5.11333
Name: 17283, dtype: object
17284 35.239999999999995 5 MP Last Month    7.048
Name: 17284, dtype: object
17285 466.51000000000005 14 MP Last Month    33.3221
Name: 17285, dtype: object
17286 340.95000000000005 14 MP Last Month    24.3536
Name: 17286, dtype: object
17287 260.6 14 MP Last Month    18.6143
Name: 17287, dtype: object
17288 40.98 5 MP Last Month    8.196
Name: 17288, dtype: object
17289 68.52 5 MP Last Month    13.704
Name: 17289, dtype: object
17290 386.52000000000004 12 MP Last Month    32.21
Name: 17290, dtype: object
17291 193.13000000000002 14 MP Last Month    13.795
Name: 17291, dtype: object
17292 225.81 14 MP Last Month    16.1293
Name: 17292, dtype: object
17293 5.23 2 MP Last Month    2.615
Name: 17293, dtype: object
17294 268.09000000000003 14 MP Last Month    19.1493
Name: 17294, dtype: object
17295 39.96 13 MP Last Month    3.07385
Name: 17295, dtype: object
17296 299.21 16 MP Last Month    18.7006
Name: 17296, dtype: object
17297 18.68 7 MP Last Month    2.66857
Name: 17297, dtype: object
17298 465.8500000000001 16 MP Last Month    29.1156
Name: 17298, dtype: object
17299 214.21 11 MP Last Month    19.4736
Name: 17299, dtype: object
17300 275.5 16 MP Last Month    17.2188
Name: 17300, dtype: object
17301 361.15000000000003 16 MP Last Month    22.5719
Name: 17301, dtype: object
17302 110.95999999999998 16 MP Last Month    6.935
Name: 17302, dtype: object
17303 459.19000000000005 16 MP Last Month    28.6994
Name: 17303, dtype: object
17304 278.91 16 MP Last Month    17.4319
Name: 17304, dtype: object
17305 246.85 16 MP Last Month    15.4281
Name: 17305, dtype: object
17306 16.78 6 MP Last Month    2.79667
Name: 17306, dtype: object
17307 474.08000000000004 14 MP Last Month    33.8629
Name: 17307, dtype: object
17308 214.2 8 MP Last Month    26.775
Name: 17308, dtype: object
17309 92.79 14 MP Last Month    6.62786
Name: 17309, dtype: object
17310 437.57000000000005 14 MP Last Month    31.255
Name: 17310, dtype: object
17311 453.0 14 MP Last Month    32.3571
Name: 17311, dtype: object
17312 311.44 14 MP Last Month    22.2457
Name: 17312, dtype: object
17313 4.72 3 MP Last Month    1.57333
Name: 17313, dtype: object
17314 305.3 13 MP Last Month    23.4846
Name: 17314, dtype: object
17315 67.73 14 MP Last Month    4.83786
Name: 17315, dtype: object
17316 24.639999999999997 14 MP Last Month    1.76
Name: 17316, dtype: object
17317 214.22000000000003 14 MP Last Month    15.3014
Name: 17317, dtype: object
17318 0.0 2 MP Last Month    0
Name: 17318, dtype: object
17319 439.81000000000006 14 MP Last Month    31.415
Name: 17319, dtype: object
17320 437.99999999999994 14 MP Last Month    31.2857
Name: 17320, dtype: object
17321 253.74999999999997 14 MP Last Month    18.125
Name: 17321, dtype: object
17322 109.03999999999999 14 MP Last Month    7.78857
Name: 17322, dtype: object
17323 243.26 14 MP Last Month    17.3757
Name: 17323, dtype: object
17324 0.0 1 MP Last Month    0
Name: 17324, dtype: object
17325 0 0 MP Last Month    0
Name: 17325, dtype: object
17326 450.57000000000005 14 MP Last Month    32.1836
Name: 17326, dtype: object
17327 178.3 13 MP Last Month    13.7154
Name: 17327, dtype: object
17328 121.22000000000001 13 MP Last Month    9.32462
Name: 17328, dtype: object
17329 186.23999999999998 14 MP Last Month    13.3029
Name: 17329, dtype: object
17330 209.89 9 MP Last Month    23.3211
Name: 17330, dtype: object
17331 38.73 14 MP Last Month    2.76643
Name: 17331, dtype: object
17332 396.21000000000004 15 MP Last Month    26.414
Name: 17332, dtype: object
17333 420.73 15 MP Last Month    28.0487
Name: 17333, dtype: object
17334 239.92000000000002 14 MP Last Month    17.1371
Name: 17334, dtype: object
17335 444.69 15 MP Last Month    29.646
Name: 17335, dtype: object
17336 466.34000000000003 15 MP Last Month    31.0893
Name: 17336, dtype: object
17337 242.42999999999998 14 MP Last Month    17.3164
Name: 17337, dtype: object
17338 28.12 4 MP Last Month    7.03
Name: 17338, dtype: object
17339 247.07000000000002 12 MP Last Month    20.5892
Name: 17339, dtype: object
17340 170.34 7 MP Last Month    24.3343
Name: 17340, dtype: object
17341 150.62 15 MP Last Month    10.0413
Name: 17341, dtype: object
17342 469.61000000000007 15 MP Last Month    31.3073
Name: 17342, dtype: object
17343 186.04000000000002 15 MP Last Month    12.4027
Name: 17343, dtype: object
17344 179.18 15 MP Last Month    11.9453
Name: 17344, dtype: object
17345 494.62 15 MP Last Month    32.9747
Name: 17345, dtype: object
17346 324.21 15 MP Last Month    21.614
Name: 17346, dtype: object
17347 37.3 12 MP Last Month    3.10833
Name: 17347, dtype: object
17348 460.41 15 MP Last Month    30.694
Name: 17348, dtype: object
17349 242.07000000000005 15 MP Last Month    16.138
Name: 17349, dtype: object
17350 118.71000000000002 12 MP Last Month    9.8925
Name: 17350, dtype: object
17351 309.71000000000004 15 MP Last Month    20.6473
Name: 17351, dtype: object
17352 21.48 13 MP Last Month    1.65231
Name: 17352, dtype: object
17353 544.8100000000001 14 MP Last Month    38.915
Name: 17353, dtype: object
17354 0 0 MP Last Month    0
Name: 17354, dtype: object
17355 532.1899999999999 14 MP Last Month    38.0136
Name: 17355, dtype: object
17356 66.93 10 MP Last Month    6.693
Name: 17356, dtype: object
17357 180.47 6 MP Last Month    30.0783
Name: 17357, dtype: object
17358 209.16 11 MP Last Month    19.0145
Name: 17358, dtype: object
17359 507.94000000000005 14 MP Last Month    36.2814
Name: 17359, dtype: object
17360 387.46000000000004 14 MP Last Month    27.6757
Name: 17360, dtype: object
17361 154.96 14 MP Last Month    11.0686
Name: 17361, dtype: object
17362 120.28 14 MP Last Month    8.59143
Name: 17362, dtype: object
17363 137.83999999999997 14 MP Last Month    9.84571
Name: 17363, dtype: object
17364 43.82 14 MP Last Month    3.13
Name: 17364, dtype: object
17365 436.94 15 MP Last Month    29.1293
Name: 17365, dtype: object
17366 346.60999999999996 15 MP Last Month    23.1073
Name: 17366, dtype: object
17367 451.16 15 MP Last Month    30.0773
Name: 17367, dtype: object
17368 57.24 5 MP Last Month    11.448
Name: 17368, dtype: object
17369 521.61 15 MP Last Month    34.774
Name: 17369, dtype: object
17370 115.35 15 MP Last Month    7.69
Name: 17370, dtype: object
17371 175.24 15 MP Last Month    11.6827
Name: 17371, dtype: object
17372 61.11000000000001 15 MP Last Month    4.074
Name: 17372, dtype: object
17373 401.60999999999996 15 MP Last Month    26.774
Name: 17373, dtype: object
17374 223.71 15 MP Last Month    14.914
Name: 17374, dtype: object
17375 75.32000000000001 12 MP Last Month    6.27667
Name: 17375, dtype: object
17376 38.269999999999996 15 MP Last Month    2.55133
Name: 17376, dtype: object
17377 37.22 1 MP Last Month    37.22
Name: 17377, dtype: object
17378 134.74 14 MP Last Month    9.62429
Name: 17378, dtype: object
17379 13.43 2 MP Last Month    6.715
Name: 17379, dtype: object
17380 500.1 14 MP Last Month    35.7214
Name: 17380, dtype: object
17381 390.77000000000004 14 MP Last Month    27.9121
Name: 17381, dtype: object
17382 237.12 14 MP Last Month    16.9371
Name: 17382, dtype: object
17383 143.95 11 MP Last Month    13.0864
Name: 17383, dtype: object
17384 425.4 14 MP Last Month    30.3857
Name: 17384, dtype: object
17385 210.47 14 MP Last Month    15.0336
Name: 17385, dtype: object
17386 251.89999999999998 13 MP Last Month    19.3769
Name: 17386, dtype: object
17387 53.480000000000004 14 MP Last Month    3.82
Name: 17387, dtype: object
17388 184.12 14 MP Last Month    13.1514
Name: 17388, dtype: object
17389 327.75999999999993 13 MP Last Month    25.2123
Name: 17389, dtype: object
17390 425.69 14 MP Last Month    30.4064
Name: 17390, dtype: object
17391 11.48 14 MP Last Month    0.82
Name: 17391, dtype: object
17392 430.97999999999996 14 MP Last Month    30.7843
Name: 17392, dtype: object
17393 162.18 11 MP Last Month    14.7436
Name: 17393, dtype: object
17394 279.76 14 MP Last Month    19.9829
Name: 17394, dtype: object
17395 240.02 14 MP Last Month    17.1443
Name: 17395, dtype: object
17396 0.0 13 MP Last Month    0
Name: 17396, dtype: object
17397 310.11 13 MP Last Month    23.8546
Name: 17397, dtype: object

17398 265.37999999999994 13 MP Last Month    20.4138
Name: 17398, dtype: object
17399 348.06 14 MP Last Month    24.8614
Name: 17399, dtype: object
17400 199.26 14 MP Last Month    14.2329
Name: 17400, dtype: object
17401 375.0299999999999 12 MP Last Month    31.2525
Name: 17401, dtype: object
17402 396.09000000000003 13 MP Last Month    30.4685
Name: 17402, dtype: object
17403 362.74 13 MP Last Month    27.9031
Name: 17403, dtype: object
17404 372.81000000000006 13 MP Last Month    28.6777
Name: 17404, dtype: object
17405 359.49 13 MP Last Month    27.6531
Name: 17405, dtype: object
17406 192.06 13 MP Last Month    14.7738
Name: 17406, dtype: object
17407 266.96999999999997 13 MP Last Month    20.5362
Name: 17407, dtype: object
17408 235.8 13 MP Last Month    18.1385
Name: 17408, dtype: object
17409 193.61 12 MP Last Month    16.1342
Name: 17409, dtype: object
17410 167.74 15 MP Last Month    11.1827
Name: 17410, dtype: object
17411 32.21 10 MP Last Month    3.221
Name: 17411, dtype: object
17412 554.17 15 MP Last Month    36.9447
Name: 17412, dtype: object
17413 71.4 15 MP Last Month    4.76
Name: 17413, dtype: object
17414 315.19 15 MP Last Month    21.0127
Name: 17414, dtype: object
17415 395.49 15 MP Last Month    26.366
Name: 17415, dtype: object
17416 206.89999999999998 15 MP Last Month    13.7933
Name: 17416, dtype: object
17417 14.26 9 MP Last Month    1.58444
Name: 17417, dtype: object
17418 12.02 4 MP Last Month    3.005
Name: 17418, dtype: object
17419 492.37 15 MP Last Month    32.8247
Name: 17419, dtype: object
17420 187.03999999999996 15 MP Last Month    12.4693
Name: 17420, dtype: object
17421 389.08000000000004 15 MP Last Month    25.9387
Name: 17421, dtype: object
17422 123.69999999999999 9 MP Last Month    13.7444
Name: 17422, dtype: object
17423 152.5 8 MP Last Month    19.0625
Name: 17423, dtype: object
17424 229.56 11 MP Last Month    20.8691
Name: 17424, dtype: object
17425 262.71999999999997 11 MP Last Month    23.8836
Name: 17425, dtype: object
17426 156.82 11 MP Last Month    14.2564
Name: 17426, dtype: object
17427 81.62 9 MP Last Month    9.06889
Name: 17427, dtype: object
17428 356.57 11 MP Last Month    32.4155
Name: 17428, dtype: object
17429 4.78 9 MP Last Month    0.531111
Name: 17429, dtype: object
17430 58.61 4 MP Last Month    14.6525
Name: 17430, dtype: object
17431 280.2 11 MP Last Month    25.4727
Name: 17431, dtype: object
17432 137.64999999999998 8 MP Last Month    17.2062
Name: 17432, dtype: object
17433 521.5400000000001 15 MP Last Month    34.7693
Name: 17433, dtype: object
17434 560.22 15 MP Last Month    37.348
Name: 17434, dtype: object
17435 519.83 15 MP Last Month    34.6553
Name: 17435, dtype: object
17436 533.8 15 MP Last Month    35.5867
Name: 17436, dtype: object
17437 406.1600000000001 15 MP Last Month    27.0773
Name: 17437, dtype: object
17438 387.92 15 MP Last Month    25.8613
Name: 17438, dtype: object
17439 153.33 12 MP Last Month    12.7775
Name: 17439, dtype: object
17440 218.55 15 MP Last Month    14.57
Name: 17440, dtype: object
17441 205.01 15 MP Last Month    13.6673
Name: 17441, dtype: object
17442 97.39000000000001 15 MP Last Month    6.49267
Name: 17442, dtype: object
17443 423.38 15 MP Last Month    28.2253
Name: 17443, dtype: object
17444 481.2799999999999 15 MP Last Month    32.0853
Name: 17444, dtype: object
17445 523.71 16 MP Last Month    32.7319
Name: 17445, dtype: object
17446 431.58000000000004 16 MP Last Month    26.9738
Name: 17446, dtype: object
17447 450.9899999999999 16 MP Last Month    28.1869
Name: 17447, dtype: object
17448 168.76 14 MP Last Month    12.0543
Name: 17448, dtype: object
17449 0.0 5 MP Last Month    0
Name: 17449, dtype: object
17450 496.71000000000004 16 MP Last Month    31.0444
Name: 17450, dtype: object
17451 61.74000000000001 15 MP Last Month    4.116
Name: 17451, dtype: object
17452 89.21000000000001 15 MP Last Month    5.94733
Name: 17452, dtype: object
17453 184.79 12 MP Last Month    15.3992
Name: 17453, dtype: object
17454 403.28 13 MP Last Month    31.0215
Name: 17454, dtype: object
17455 194.88999999999996 12 MP Last Month    16.2408
Name: 17455, dtype: object
17456 217.17 16 MP Last Month    13.5731
Name: 17456, dtype: object
17457 116.08000000000001 16 MP Last Month    7.255
Name: 17457, dtype: object
17458 0 0 MP Last Month    0
Name: 17458, dtype: object
17459 419.65 16 MP Last Month    26.2281
Name: 17459, dtype: object
17460 467.8800000000001 16 MP Last Month    29.2425
Name: 17460, dtype: object
17461 407.7100000000001 16 MP Last Month    25.4819
Name: 17461, dtype: object
17462 186.76999999999998 11 MP Last Month    16.9791
Name: 17462, dtype: object
17463 138.12 16 MP Last Month    8.6325
Name: 17463, dtype: object
17464 0.0 13 MP Last Month    0
Name: 17464, dtype: object
17465 0 0 MP Last Month    0
Name: 17465, dtype: object
17466 402.77 14 MP Last Month    28.7693
Name: 17466, dtype: object
17467 252.46 14 MP Last Month    18.0329
Name: 17467, dtype: object
17468 456.73 14 MP Last Month    32.6236
Name: 17468, dtype: object
17469 258.59999999999997 10 MP Last Month    25.86
Name: 17469, dtype: object
17470 414.51 14 MP Last Month    29.6079
Name: 17470, dtype: object
17471 294.62999999999994 14 MP Last Month    21.045
Name: 17471, dtype: object
17472 314.27 14 MP Last Month    22.4479
Name: 17472, dtype: object
17473 70.25 14 MP Last Month    5.01786
Name: 17473, dtype: object
17474 396.27000000000004 14 MP Last Month    28.305
Name: 17474, dtype: object
17475 225.91 9 MP Last Month    25.1011
Name: 17475, dtype: object
17476 216.4 14 MP Last Month    15.4571
Name: 17476, dtype: object
17477 53.44999999999999 14 MP Last Month    3.81786
Name: 17477, dtype: object
17478 332.27 15 MP Last Month    22.1513
Name: 17478, dtype: object
17479 464.90000000000003 15 MP Last Month    30.9933
Name: 17479, dtype: object
17480 485.28 15 MP Last Month    32.352
Name: 17480, dtype: object
17481 19.95 4 MP Last Month    4.9875
Name: 17481, dtype: object
17482 324.05 13 MP Last Month    24.9269
Name: 17482, dtype: object
17483 246.07 9 MP Last Month    27.3411
Name: 17483, dtype: object
17484 327.65000000000003 14 MP Last Month    23.4036
Name: 17484, dtype: object
17485 89.4 15 MP Last Month    5.96
Name: 17485, dtype: object
17486 32.97 15 MP Last Month    2.198
Name: 17486, dtype: object
17487 503.31000000000006 15 MP Last Month    33.554
Name: 17487, dtype: object
17488 219.95000000000002 15 MP Last Month    14.6633
Name: 17488, dtype: object
17489 115.07000000000001 15 MP Last Month    7.67133
Name: 17489, dtype: object
17490 2.85 3 MP Last Month    0.95
Name: 17490, dtype: object
17491 347.57 12 MP Last Month    28.9642
Name: 17491, dtype: object
17492 404.8299999999999 15 MP Last Month    26.9887
Name: 17492, dtype: object
17493 279.74999999999994 15 MP Last Month    18.65
Name: 17493, dtype: object
17494 351.99 10 MP Last Month    35.199
Name: 17494, dtype: object
17495 391.39 14 MP Last Month    27.9564
Name: 17495, dtype: object
17496 293.36 14 MP Last Month    20.9543
Name: 17496, dtype: object
17497 201.83 10 MP Last Month    20.183
Name: 17497, dtype: object
17498 97.06 10 MP Last Month    9.706
Name: 17498, dtype: object
17499 113.26 13 MP Last Month    8.71231
Name: 17499, dtype: object
17500 452.49 15 MP Last Month    30.166
Name: 17500, dtype: object
17501 490.96999999999997 15 MP Last Month    32.7313
Name: 17501, dtype: object
17502 192.22000000000003 15 MP Last Month    12.8147
Name: 17502, dtype: object
17503 487.72999999999996 14 MP Last Month    34.8379
Name: 17503, dtype: object
17504 151.08 7 MP Last Month    21.5829
Name: 17504, dtype: object
17505 75.66 7 MP Last Month    10.8086
Name: 17505, dtype: object
17506 433.47 14 MP Last Month    30.9621
Name: 17506, dtype: object
17507 365.33000000000004 13 MP Last Month    28.1023
Name: 17507, dtype: object
17508 317.37 14 MP Last Month    22.6693
Name: 17508, dtype: object
17509 100.63 14 MP Last Month    7.18786
Name: 17509, dtype: object
17510 333.35 14 MP Last Month    23.8107
Name: 17510, dtype: object
17511 8.89 10 MP Last Month    0.889
Name: 17511, dtype: object
17512 462.95000000000005 14 MP Last Month    33.0679
Name: 17512, dtype: object
17513 328.3700000000001 14 MP Last Month    23.455
Name: 17513, dtype: object

17514 44.22 14 MP Last Month    3.15857
Name: 17514, dtype: object
17515 437.30999999999995 13 MP Last Month    33.6392
Name: 17515, dtype: object
17516 502.91999999999996 13 MP Last Month    38.6862
Name: 17516, dtype: object
17517 204.39000000000004 13 MP Last Month    15.7223
Name: 17517, dtype: object
17518 3.6100000000000003 7 MP Last Month    0.515714
Name: 17518, dtype: object
17519 13.83 5 MP Last Month    2.766
Name: 17519, dtype: object
17520 486.90999999999997 13 MP Last Month    37.4546
Name: 17520, dtype: object
17521 312.65 11 MP Last Month    28.4227
Name: 17521, dtype: object
17522 413.53000000000003 13 MP Last Month    31.81
Name: 17522, dtype: object
17523 322.03999999999996 13 MP Last Month    24.7723
Name: 17523, dtype: object
17524 438.78 14 MP Last Month    31.3414
Name: 17524, dtype: object
17525 295.96 13 MP Last Month    22.7662
Name: 17525, dtype: object
17526 181.89999999999998 14 MP Last Month    12.9929
Name: 17526, dtype: object
17527 74.39000000000001 12 MP Last Month    6.19917
Name: 17527, dtype: object
17528 390.93 13 MP Last Month    30.0715
Name: 17528, dtype: object
17529 90.53999999999999 14 MP Last Month    6.46714
Name: 17529, dtype: object
17530 150.44 13 MP Last Month    11.5723
Name: 17530, dtype: object
17531 288.19000000000005 14 MP Last Month    20.585
Name: 17531, dtype: object
17532 428.15 14 MP Last Month    30.5821
Name: 17532, dtype: object
17533 259.18 10 MP Last Month    25.918
Name: 17533, dtype: object
17534 124.02 10 MP Last Month    12.402
Name: 17534, dtype: object
17535 391.25000000000006 14 MP Last Month    27.9464
Name: 17535, dtype: object
17536 330.6 15 MP Last Month    22.04
Name: 17536, dtype: object
17537 89.57 15 MP Last Month    5.97133
Name: 17537, dtype: object
17538 381.53999999999996 14 MP Last Month    27.2529
Name: 17538, dtype: object
17539 368.71999999999997 15 MP Last Month    24.5813
Name: 17539, dtype: object
17540 462.76 15 MP Last Month    30.8507
Name: 17540, dtype: object
17541 343.4700000000001 14 MP Last Month    24.5336
Name: 17541, dtype: object
17542 96.23 15 MP Last Month    6.41533
Name: 17542, dtype: object
17543 371.96000000000004 14 MP Last Month    26.5686
Name: 17543, dtype: object
17544 99.7 6 MP Last Month    16.6167
Name: 17544, dtype: object
17545 65.43 15 MP Last Month    4.362
Name: 17545, dtype: object
17546 172.15 15 MP Last Month    11.4767
Name: 17546, dtype: object
17547 56.31 7 MP Last Month    8.04429
Name: 17547, dtype: object
17548 366.86 12 MP Last Month    30.5717
Name: 17548, dtype: object
17549 267.61 13 MP Last Month    20.5854
Name: 17549, dtype: object
17550 0.03 1 MP Last Month    0.03
Name: 17550, dtype: object
17551 342.53000000000003 13 MP Last Month    26.3485
Name: 17551, dtype: object
17552 298.24 13 MP Last Month    22.9415
Name: 17552, dtype: object
17553 347.0 12 MP Last Month    28.9167
Name: 17553, dtype: object
17554 82.83999999999999 8 MP Last Month    10.355
Name: 17554, dtype: object
17555 261.74 11 MP Last Month    23.7945
Name: 17555, dtype: object
17556 66.57999999999998 6 MP Last Month    11.0967
Name: 17556, dtype: object
17557 237.32000000000002 12 MP Last Month    19.7767
Name: 17557, dtype: object
17558 347.21 13 MP Last Month    26.7085
Name: 17558, dtype: object
17559 461.16 14 MP Last Month    32.94
Name: 17559, dtype: object
17560 175.70000000000002 12 MP Last Month    14.6417
Name: 17560, dtype: object
17561 231.54999999999998 14 MP Last Month    16.5393
Name: 17561, dtype: object
17562 215.30999999999995 14 MP Last Month    15.3793
Name: 17562, dtype: object
17563 292.20000000000005 11 MP Last Month    26.5636
Name: 17563, dtype: object
17564 218.6 14 MP Last Month    15.6143
Name: 17564, dtype: object
17565 445.0800000000001 14 MP Last Month    31.7914
Name: 17565, dtype: object
17566 409.98 14 MP Last Month    29.2843
Name: 17566, dtype: object
17567 298.20000000000005 14 MP Last Month    21.3
Name: 17567, dtype: object
17568 34.67 11 MP Last Month    3.15182
Name: 17568, dtype: object
17569 263.09000000000003 14 MP Last Month    18.7921
Name: 17569, dtype: object
17570 31.830000000000002 13 MP Last Month    2.44846
Name: 17570, dtype: object
17571 425.66 15 MP Last Month    28.3773
Name: 17571, dtype: object
17572 212.32 10 MP Last Month    21.232
Name: 17572, dtype: object
17573 333.55999999999995 15 MP Last Month    22.2373
Name: 17573, dtype: object
17574 32.35 12 MP Last Month    2.69583
Name: 17574, dtype: object
17575 155.8 7 MP Last Month    22.2571
Name: 17575, dtype: object
17576 418.90999999999997 15 MP Last Month    27.9273
Name: 17576, dtype: object
17577 243.01 15 MP Last Month    16.2007
Name: 17577, dtype: object
17578 203.11 13 MP Last Month    15.6238
Name: 17578, dtype: object
17579 36.00000000000001 14 MP Last Month    2.57143
Name: 17579, dtype: object
17580 451.2200000000001 15 MP Last Month    30.0813
Name: 17580, dtype: object
17581 288.61 15 MP Last Month    19.2407
Name: 17581, dtype: object
17582 348.3200000000001 15 MP Last Month    23.2213
Name: 17582, dtype: object
17583 444.33 13 MP Last Month    34.1792
Name: 17583, dtype: object
17584 425.95000000000005 13 MP Last Month    32.7654
Name: 17584, dtype: object
17585 120.21 13 MP Last Month    9.24692
Name: 17585, dtype: object
17586 160.08000000000004 12 MP Last Month    13.34
Name: 17586, dtype: object
17587 306.81999999999994 13 MP Last Month    23.6015
Name: 17587, dtype: object
17588 451.15 13 MP Last Month    34.7038
Name: 17588, dtype: object
17589 0.0 2 MP Last Month    0
Name: 17589, dtype: object
17590 187.15 13 MP Last Month    14.3962
Name: 17590, dtype: object
17591 15.77 4 MP Last Month    3.9425
Name: 17591, dtype: object
17592 83.97 4 MP Last Month    20.9925
Name: 17592, dtype: object
17593 289.8399999999999 13 MP Last Month    22.2954
Name: 17593, dtype: object
17594 84.99000000000001 13 MP Last Month    6.53769
Name: 17594, dtype: object
17595 327.77 12 MP Last Month    27.3142
Name: 17595, dtype: object
17596 35.5 12 MP Last Month    2.95833
Name: 17596, dtype: object
17597 294.26 12 MP Last Month    24.5217
Name: 17597, dtype: object
17598 6.470000000000001 4 MP Last Month    1.6175
Name: 17598, dtype: object
17599 375.17 12 MP Last Month    31.2642
Name: 17599, dtype: object
17600 386.24999999999994 12 MP Last Month    32.1875
Name: 17600, dtype: object
17601 194.34000000000003 12 MP Last Month    16.195
Name: 17601, dtype: object
17602 0.0 1 MP Last Month    0
Name: 17602, dtype: object
17603 16.75 9 MP Last Month    1.86111
Name: 17603, dtype: object
17604 229.63 8 MP Last Month    28.7037
Name: 17604, dtype: object
17605 318.16999999999996 12 MP Last Month    26.5142
Name: 17605, dtype: object
17606 78.19000000000001 12 MP Last Month    6.51583
Name: 17606, dtype: object
17607 447.40999999999997 15 MP Last Month    29.8273
Name: 17607, dtype: object
17608 360.46 15 MP Last Month    24.0307
Name: 17608, dtype: object
17609 458.59000000000003 15 MP Last Month    30.5727
Name: 17609, dtype: object
17610 69.32000000000001 6 MP Last Month    11.5533
Name: 17610, dtype: object
17611 521.7500000000001 15 MP Last Month    34.7833
Name: 17611, dtype: object
17612 119.98 15 MP Last Month    7.99867
Name: 17612, dtype: object
17613 165.61 15 MP Last Month    11.0407
Name: 17613, dtype: object
17614 52.14000000000001 15 MP Last Month    3.476
Name: 17614, dtype: object
17615 410.38999999999993 15 MP Last Month    27.3593
Name: 17615, dtype: object
17616 229.76999999999998 15 MP Last Month    15.318
Name: 17616, dtype: object
17617 25.34 15 MP Last Month    1.68933
Name: 17617, dtype: object
17618 81.10000000000001 13 MP Last Month    6.23846
Name: 17618, dtype: object
17619 518.14 16 MP Last Month    32.3837
Name: 17619, dtype: object
17620 247.11 8 MP Last Month    30.8888
Name: 17620, dtype: object
17621 261.40999999999997 16 MP Last Month    16.3381
Name: 17621, dtype: object
17622 192.25 15 MP Last Month    12.8167
Name: 17622, dtype: object
17623 370.53 14 MP Last Month    26.4664
Name: 17623, dtype: object
17624 36.93 2 MP Last Month    18.465
Name: 17624, dtype: object
17625 0.0 3 MP Last Month    0
Name: 17625, dtype: object
17626 354.25 16 MP Last Month    22.1406
Name: 17626, dtype: object

17627 476.85 15 MP Last Month    31.79
Name: 17627, dtype: object
17628 423.90999999999997 16 MP Last Month    26.4944
Name: 17628, dtype: object
17629 147.66999999999996 13 MP Last Month    11.3592
Name: 17629, dtype: object
17630 55.70000000000001 14 MP Last Month    3.97857
Name: 17630, dtype: object
17631 147.07999999999998 10 MP Last Month    14.708
Name: 17631, dtype: object
17632 249.14 12 MP Last Month    20.7617
Name: 17632, dtype: object
17633 378.75 12 MP Last Month    31.5625
Name: 17633, dtype: object
17634 187.17 12 MP Last Month    15.5975
Name: 17634, dtype: object
17635 99.75 10 MP Last Month    9.975
Name: 17635, dtype: object
17636 288.77 12 MP Last Month    24.0642
Name: 17636, dtype: object
17637 11.46 10 MP Last Month    1.146
Name: 17637, dtype: object
17638 305.38 12 MP Last Month    25.4483
Name: 17638, dtype: object
17639 81.43 5 MP Last Month    16.286
Name: 17639, dtype: object
17640 137.64999999999998 9 MP Last Month    15.2944
Name: 17640, dtype: object
17641 0 0 MP Last Month    0
Name: 17641, dtype: object
17642 390.39 13 MP Last Month    30.03
Name: 17642, dtype: object
17643 261.09 13 MP Last Month    20.0838
Name: 17643, dtype: object
17644 345.03 12 MP Last Month    28.7525
Name: 17644, dtype: object
17645 335.11 13 MP Last Month    25.7777
Name: 17645, dtype: object
17646 302.49 13 MP Last Month    23.2685
Name: 17646, dtype: object
17647 261.74 12 MP Last Month    21.8117
Name: 17647, dtype: object
17648 80.39 8 MP Last Month    10.0488
Name: 17648, dtype: object
17649 18.650000000000002 2 MP Last Month    9.325
Name: 17649, dtype: object
17650 90.97999999999999 6 MP Last Month    15.1633
Name: 17650, dtype: object
17651 348.99 13 MP Last Month    26.8454
Name: 17651, dtype: object
17652 260.0 13 MP Last Month    20
Name: 17652, dtype: object
17653 447.14 14 MP Last Month    31.9386
Name: 17653, dtype: object
17654 440.55 14 MP Last Month    31.4679
Name: 17654, dtype: object
17655 229.0 14 MP Last Month    16.3571
Name: 17655, dtype: object
17656 245.92 14 MP Last Month    17.5657
Name: 17656, dtype: object
17657 117.58999999999999 14 MP Last Month    8.39929
Name: 17657, dtype: object
17658 0.0 1 MP Last Month    0
Name: 17658, dtype: object
17659 460.67 14 MP Last Month    32.905
Name: 17659, dtype: object
17660 132.65 13 MP Last Month    10.2038
Name: 17660, dtype: object
17661 209.85000000000002 13 MP Last Month    16.1423
Name: 17661, dtype: object
17662 0.0 2 MP Last Month    0
Name: 17662, dtype: object
17663 229.10999999999999 10 MP Last Month    22.911
Name: 17663, dtype: object
17664 197.37 14 MP Last Month    14.0979
Name: 17664, dtype: object
17665 38.73 14 MP Last Month    2.76643
Name: 17665, dtype: object
17666 358.08000000000004 14 MP Last Month    25.5771
Name: 17666, dtype: object
17667 383.54 14 MP Last Month    27.3957
Name: 17667, dtype: object
17668 413.75000000000006 14 MP Last Month    29.5536
Name: 17668, dtype: object
17669 223.16000000000003 13 MP Last Month    17.1662
Name: 17669, dtype: object
17670 0 0 MP Last Month    0
Name: 17670, dtype: object
17671 440.96999999999997 14 MP Last Month    31.4979
Name: 17671, dtype: object
17672 273.25 13 MP Last Month    21.0192
Name: 17672, dtype: object
17673 38.69 5 MP Last Month    7.738
Name: 17673, dtype: object
17674 121.99 6 MP Last Month    20.3317
Name: 17674, dtype: object
17675 282.85 11 MP Last Month    25.7136
Name: 17675, dtype: object
17676 125.20000000000002 14 MP Last Month    8.94286
Name: 17676, dtype: object
17677 439.14 15 MP Last Month    29.276
Name: 17677, dtype: object
17678 78.71 13 MP Last Month    6.05462
Name: 17678, dtype: object
17679 218.29000000000002 15 MP Last Month    14.5527
Name: 17679, dtype: object
17680 361.13 15 MP Last Month    24.0753
Name: 17680, dtype: object
17681 211.20000000000002 15 MP Last Month    14.08
Name: 17681, dtype: object
17682 5.58 1 MP Last Month    5.58
Name: 17682, dtype: object
17683 319.04 15 MP Last Month    21.2693
Name: 17683, dtype: object
17684 214.98000000000002 15 MP Last Month    14.332
Name: 17684, dtype: object
17685 392.44999999999993 12 MP Last Month    32.7042
Name: 17685, dtype: object
17686 524.8200000000002 14 MP Last Month    37.4871
Name: 17686, dtype: object
17687 166.14 11 MP Last Month    15.1036
Name: 17687, dtype: object
17688 143.94 13 MP Last Month    11.0723
Name: 17688, dtype: object
17689 544.9399999999999 14 MP Last Month    38.9243
Name: 17689, dtype: object
17690 25.23 1 MP Last Month    25.23
Name: 17690, dtype: object
17691 515.74 14 MP Last Month    36.8386
Name: 17691, dtype: object
17692 66.93 11 MP Last Month    6.08455
Name: 17692, dtype: object
17693 511.49000000000007 14 MP Last Month    36.535
Name: 17693, dtype: object
17694 190.17999999999998 6 MP Last Month    31.6967
Name: 17694, dtype: object
17695 231.81 12 MP Last Month    19.3175
Name: 17695, dtype: object
17696 374.95000000000005 14 MP Last Month    26.7821
Name: 17696, dtype: object
17697 163.88 13 MP Last Month    12.6062
Name: 17697, dtype: object
17698 117.06 14 MP Last Month    8.36143
Name: 17698, dtype: object
17699 137.83999999999997 14 MP Last Month    9.84571
Name: 17699, dtype: object
17700 43.82 14 MP Last Month    3.13
Name: 17700, dtype: object
17701 79.65 2 MP Last Month    39.825
Name: 17701, dtype: object
17702 150.29000000000002 14 MP Last Month    10.735
Name: 17702, dtype: object
17703 13.3 2 MP Last Month    6.65
Name: 17703, dtype: object
17704 498.85 14 MP Last Month    35.6321
Name: 17704, dtype: object
17705 400.96999999999997 14 MP Last Month    28.6407
Name: 17705, dtype: object
17706 408.05 14 MP Last Month    29.1464
Name: 17706, dtype: object
17707 241.72000000000003 14 MP Last Month    17.2657
Name: 17707, dtype: object
17708 170.07999999999998 12 MP Last Month    14.1733
Name: 17708, dtype: object
17709 262.65 14 MP Last Month    18.7607
Name: 17709, dtype: object
17710 226.25 14 MP Last Month    16.1607
Name: 17710, dtype: object
17711 160.47 14 MP Last Month    11.4621
Name: 17711, dtype: object
17712 55.1 14 MP Last Month    3.93571
Name: 17712, dtype: object
17713 367.23 13 MP Last Month    28.2485
Name: 17713, dtype: object
17714 264.32000000000005 13 MP Last Month    20.3323
Name: 17714, dtype: object
17715 375.36999999999995 12 MP Last Month    31.2808
Name: 17715, dtype: object
17716 395.4600000000001 13 MP Last Month    30.42
Name: 17716, dtype: object
17717 67.16 12 MP Last Month    5.59667
Name: 17717, dtype: object
17718 192.19 13 MP Last Month    14.7838
Name: 17718, dtype: object
17719 238.20000000000002 13 MP Last Month    18.3231
Name: 17719, dtype: object
17720 364.51 13 MP Last Month    28.0392
Name: 17720, dtype: object
17721 189.82000000000002 12 MP Last Month    15.8183
Name: 17721, dtype: object
17722 165.07999999999998 11 MP Last Month    15.0073
Name: 17722, dtype: object
17723 80.8 11 MP Last Month    7.34545
Name: 17723, dtype: object
17724 35.589999999999996 10 MP Last Month    3.559
Name: 17724, dtype: object
17725 476.25000000000006 13 MP Last Month    36.6346
Name: 17725, dtype: object
17726 144.54 13 MP Last Month    11.1185
Name: 17726, dtype: object
17727 193.14000000000001 12 MP Last Month    16.095
Name: 17727, dtype: object
17728 35.19 11 MP Last Month    3.19909
Name: 17728, dtype: object
17729 40.19 4 MP Last Month    10.0475
Name: 17729, dtype: object
17730 372.85 13 MP Last Month    28.6808
Name: 17730, dtype: object
17731 112.37 12 MP Last Month    9.36417
Name: 17731, dtype: object
17732 0.0 10 MP Last Month    0
Name: 17732, dtype: object
17733 221.44 13 MP Last Month    17.0338
Name: 17733, dtype: object
17734 61.99999999999999 8 MP Last Month    7.75
Name: 17734, dtype: object
17735 557.27 15 MP Last Month    37.1513
Name: 17735, dtype: object
17736 394.82 15 MP Last Month    26.3213
Name: 17736, dtype: object
17737 11.37 13 MP Last Month    0.874615
Name: 17737, dtype: object
17738 559.19 15 MP Last Month    37.2793
Name: 17738, dtype: object
17739 515.4300000000001 15 MP Last Month    34.362
Name: 17739, dtype: object
17740 125.73000000000002 14 MP Last Month    8.98071
Name: 17740, dtype: object
17741 200.76000000000002 15 MP Last Month    13.384
Name: 17741, dtype: object
17742 0.0 2 MP Last Month    0
Name: 17742, dtype: object

17743 157.8 12 MP Last Month    13.15
Name: 17743, dtype: object
17744 209.41000000000003 15 MP Last Month    13.9607
Name: 17744, dtype: object
17745 426.59 15 MP Last Month    28.4393
Name: 17745, dtype: object
17746 113.84 15 MP Last Month    7.58933
Name: 17746, dtype: object
17747 191.86999999999998 13 MP Last Month    14.7592
Name: 17747, dtype: object
17748 486.6299999999999 15 MP Last Month    32.442
Name: 17748, dtype: object
17749 446.93999999999994 16 MP Last Month    27.9337
Name: 17749, dtype: object
17750 440.5400000000001 16 MP Last Month    27.5338
Name: 17750, dtype: object
17751 521.6999999999999 16 MP Last Month    32.6062
Name: 17751, dtype: object
17752 165.99 14 MP Last Month    11.8564
Name: 17752, dtype: object
17753 497.11 16 MP Last Month    31.0694
Name: 17753, dtype: object
17754 187.74999999999997 12 MP Last Month    15.6458
Name: 17754, dtype: object
17755 58.370000000000005 15 MP Last Month    3.89133
Name: 17755, dtype: object
17756 85.84 15 MP Last Month    5.72267
Name: 17756, dtype: object
17757 470.49 14 MP Last Month    33.6064
Name: 17757, dtype: object
17758 345.46999999999997 14 MP Last Month    24.6764
Name: 17758, dtype: object
17759 275.58000000000004 14 MP Last Month    19.6843
Name: 17759, dtype: object
17760 288.65 9 MP Last Month    32.0722
Name: 17760, dtype: object
17761 306.38 11 MP Last Month    27.8527
Name: 17761, dtype: object
17762 382.32 12 MP Last Month    31.86
Name: 17762, dtype: object
17763 100.55 6 MP Last Month    16.7583
Name: 17763, dtype: object
17764 186.53 14 MP Last Month    13.3236
Name: 17764, dtype: object
17765 355.03 11 MP Last Month    32.2755
Name: 17765, dtype: object
17766 274.21 14 MP Last Month    19.5864
Name: 17766, dtype: object
17767 57.11 13 MP Last Month    4.39308
Name: 17767, dtype: object
17768 370.47999999999996 12 MP Last Month    30.8733
Name: 17768, dtype: object
17769 191.29 11 MP Last Month    17.39
Name: 17769, dtype: object
17770 228.76999999999998 15 MP Last Month    15.2513
Name: 17770, dtype: object
17771 125.06000000000002 15 MP Last Month    8.33733
Name: 17771, dtype: object
17772 0.0 1 MP Last Month    0
Name: 17772, dtype: object
17773 436.24 15 MP Last Month    29.0827
Name: 17773, dtype: object
17774 395.76 15 MP Last Month    26.384
Name: 17774, dtype: object
17775 413.93 15 MP Last Month    27.5953
Name: 17775, dtype: object
17776 8.83 1 MP Last Month    8.83
Name: 17776, dtype: object
17777 189.09 10 MP Last Month    18.909
Name: 17777, dtype: object
17778 150.64000000000001 15 MP Last Month    10.0427
Name: 17778, dtype: object
17779 0.0 14 MP Last Month    0
Name: 17779, dtype: object
17780 437.90000000000003 14 MP Last Month    31.2786
Name: 17780, dtype: object
17781 314.69 14 MP Last Month    22.4779
Name: 17781, dtype: object
17782 450.17999999999995 14 MP Last Month    32.1557
Name: 17782, dtype: object
17783 24.78 5 MP Last Month    4.956
Name: 17783, dtype: object
17784 311.31 12 MP Last Month    25.9425
Name: 17784, dtype: object
17785 222.14999999999998 8 MP Last Month    27.7687
Name: 17785, dtype: object
17786 313.85 13 MP Last Month    24.1423
Name: 17786, dtype: object
17787 91.53000000000002 14 MP Last Month    6.53786
Name: 17787, dtype: object
17788 35.08 14 MP Last Month    2.50571
Name: 17788, dtype: object
17789 461.98 14 MP Last Month    32.9986
Name: 17789, dtype: object
17790 206.72 14 MP Last Month    14.7657
Name: 17790, dtype: object
17791 124.15 14 MP Last Month    8.86786
Name: 17791, dtype: object
17792 6.28 4 MP Last Month    1.57
Name: 17792, dtype: object
17793 466.03999999999996 12 MP Last Month    38.8367
Name: 17793, dtype: object
17794 0.0 1 MP Last Month    0
Name: 17794, dtype: object
17795 7.760000000000001 7 MP Last Month    1.10857
Name: 17795, dtype: object
17796 402.84000000000003 12 MP Last Month    33.57
Name: 17796, dtype: object
17797 188.94000000000003 12 MP Last Month    15.745
Name: 17797, dtype: object
17798 448.67 12 MP Last Month    37.3892
Name: 17798, dtype: object
17799 341.04999999999995 12 MP Last Month    28.4208
Name: 17799, dtype: object
17800 373.0 12 MP Last Month    31.0833
Name: 17800, dtype: object
17801 189.72 11 MP Last Month    17.2473
Name: 17801, dtype: object
17802 287.09999999999997 12 MP Last Month    23.925
Name: 17802, dtype: object
17803 137.3 11 MP Last Month    12.4818
Name: 17803, dtype: object
17804 436.26000000000005 14 MP Last Month    31.1614
Name: 17804, dtype: object
17805 304.03 13 MP Last Month    23.3869
Name: 17805, dtype: object
17806 391.0 13 MP Last Month    30.0769
Name: 17806, dtype: object
17807 0 0 MP Last Month    0
Name: 17807, dtype: object
17808 75.21 14 MP Last Month    5.37214
Name: 17808, dtype: object
17809 150.44 13 MP Last Month    11.5723
Name: 17809, dtype: object
17810 166.29 14 MP Last Month    11.8779
Name: 17810, dtype: object
17811 430.84999999999997 14 MP Last Month    30.775
Name: 17811, dtype: object
17812 286.33 11 MP Last Month    26.03
Name: 17812, dtype: object
17813 285.44000000000005 14 MP Last Month    20.3886
Name: 17813, dtype: object
17814 134.54 11 MP Last Month    12.2309
Name: 17814, dtype: object
17815 347.15 15 MP Last Month    23.1433
Name: 17815, dtype: object
17816 396.05000000000007 14 MP Last Month    28.2893
Name: 17816, dtype: object
17817 95.24 15 MP Last Month    6.34933
Name: 17817, dtype: object
17818 380.9 15 MP Last Month    25.3933
Name: 17818, dtype: object
17819 463.71000000000004 15 MP Last Month    30.914
Name: 17819, dtype: object
17820 337.38 14 MP Last Month    24.0986
Name: 17820, dtype: object
17821 379.21 14 MP Last Month    27.0864
Name: 17821, dtype: object
17822 93.7 15 MP Last Month    6.24667
Name: 17822, dtype: object
17823 377.98 14 MP Last Month    26.9986
Name: 17823, dtype: object
17824 166.47 15 MP Last Month    11.098
Name: 17824, dtype: object
17825 49.379999999999995 15 MP Last Month    3.292
Name: 17825, dtype: object
17826 121.08 7 MP Last Month    17.2971
Name: 17826, dtype: object
17827 440.47999999999996 14 MP Last Month    31.4629
Name: 17827, dtype: object
17828 240.35 14 MP Last Month    17.1679
Name: 17828, dtype: object
17829 241.03000000000003 14 MP Last Month    17.2164
Name: 17829, dtype: object
17830 0.0 2 MP Last Month    0
Name: 17830, dtype: object
17831 124.33999999999999 14 MP Last Month    8.88143
Name: 17831, dtype: object
17832 238.28000000000003 14 MP Last Month    17.02
Name: 17832, dtype: object
17833 452.1300000000001 14 MP Last Month    32.295
Name: 17833, dtype: object
17834 155.4 13 MP Last Month    11.9538
Name: 17834, dtype: object
17835 0.0 3 MP Last Month    0
Name: 17835, dtype: object
17836 252.63 11 MP Last Month    22.9664
Name: 17836, dtype: object
17837 202.57000000000002 14 MP Last Month    14.4693
Name: 17837, dtype: object
17838 38.73 14 MP Last Month    2.76643
Name: 17838, dtype: object
17839 460.63000000000005 14 MP Last Month    32.9021
Name: 17839, dtype: object
17840 236.97000000000003 14 MP Last Month    16.9264
Name: 17840, dtype: object
17841 193.60999999999996 14 MP Last Month    13.8293
Name: 17841, dtype: object
17842 0 0 MP Last Month    0
Name: 17842, dtype: object
17843 440.11 14 MP Last Month    31.4364
Name: 17843, dtype: object
17844 409.8299999999999 14 MP Last Month    29.2736
Name: 17844, dtype: object
17845 288.21999999999997 11 MP Last Month    26.2018
Name: 17845, dtype: object
17846 34.67 11 MP Last Month    3.15182
Name: 17846, dtype: object
17847 281.1 14 MP Last Month    20.0786
Name: 17847, dtype: object
17848 243.0 14 MP Last Month    17.3571
Name: 17848, dtype: object
17849 275.74 14 MP Last Month    19.6957
Name: 17849, dtype: object
17850 31.830000000000002 13 MP Last Month    2.44846
Name: 17850, dtype: object
17851 438.12 14 MP Last Month    31.2943
Name: 17851, dtype: object
17852 192.02 14 MP Last Month    13.7157
Name: 17852, dtype: object
17853 158.62 14 MP Last Month    11.33
Name: 17853, dtype: object
17854 455.19999999999993 14 MP Last Month    32.5143
Name: 17854, dtype: object
17855 309.60999999999996 14 MP Last Month    22.115
Name: 17855, dtype: object
17856 37.57 11 MP Last Month    3.41545
Name: 17856, dtype: object
17857 421.76 14 MP Last Month    30.1257
Name: 17857, dtype: object

17858 226.51000000000002 14 MP Last Month    16.1793
Name: 17858, dtype: object
17859 107.11000000000001 11 MP Last Month    9.73727
Name: 17859, dtype: object
17860 264.45 14 MP Last Month    18.8893
Name: 17860, dtype: object
17861 21.48 12 MP Last Month    1.79
Name: 17861, dtype: object
17862 328.52 15 MP Last Month    21.9013
Name: 17862, dtype: object
17863 421.34 15 MP Last Month    28.0893
Name: 17863, dtype: object
17864 243.72 11 MP Last Month    22.1564
Name: 17864, dtype: object
17865 32.35 12 MP Last Month    2.69583
Name: 17865, dtype: object
17866 191.53 8 MP Last Month    23.9413
Name: 17866, dtype: object
17867 208.54000000000002 13 MP Last Month    16.0415
Name: 17867, dtype: object
17868 215.13 15 MP Last Month    14.342
Name: 17868, dtype: object
17869 414.0 15 MP Last Month    27.6
Name: 17869, dtype: object
17870 36.00000000000001 14 MP Last Month    2.57143
Name: 17870, dtype: object
17871 448.15000000000003 15 MP Last Month    29.8767
Name: 17871, dtype: object
17872 363.42 15 MP Last Month    24.228
Name: 17872, dtype: object
17873 285.75 15 MP Last Month    19.05
Name: 17873, dtype: object
17874 34.75 5 MP Last Month    6.95
Name: 17874, dtype: object
17875 57.730000000000004 13 MP Last Month    4.44077
Name: 17875, dtype: object
17876 314.89 13 MP Last Month    24.2223
Name: 17876, dtype: object
17877 352.62 13 MP Last Month    27.1246
Name: 17877, dtype: object
17878 401.17 13 MP Last Month    30.8592
Name: 17878, dtype: object
17879 414.22999999999996 13 MP Last Month    31.8638
Name: 17879, dtype: object
17880 212.91000000000003 13 MP Last Month    16.3777
Name: 17880, dtype: object
17881 2.75 2 MP Last Month    1.375
Name: 17881, dtype: object
17882 337.94999999999993 13 MP Last Month    25.9962
Name: 17882, dtype: object
17883 255.98 9 MP Last Month    28.4422
Name: 17883, dtype: object
17884 83.02000000000001 13 MP Last Month    6.38615
Name: 17884, dtype: object
17885 518.5400000000001 16 MP Last Month    32.4088
Name: 17885, dtype: object
17886 238.77 8 MP Last Month    29.8463
Name: 17886, dtype: object
17887 265.21 16 MP Last Month    16.5756
Name: 17887, dtype: object
17888 192.25 15 MP Last Month    12.8167
Name: 17888, dtype: object
17889 59.96 3 MP Last Month    19.9867
Name: 17889, dtype: object
17890 370.90000000000003 14 MP Last Month    26.4929
Name: 17890, dtype: object
17891 0.0 4 MP Last Month    0
Name: 17891, dtype: object
17892 331.21999999999997 16 MP Last Month    20.7012
Name: 17892, dtype: object
17893 477.58000000000004 15 MP Last Month    31.8387
Name: 17893, dtype: object
17894 60.47000000000001 15 MP Last Month    4.03133
Name: 17894, dtype: object
17895 160.95 13 MP Last Month    12.3808
Name: 17895, dtype: object
17896 427.85999999999996 16 MP Last Month    26.7412
Name: 17896, dtype: object
17897 396.57 13 MP Last Month    30.5054
Name: 17897, dtype: object
17898 309.0 12 MP Last Month    25.75
Name: 17898, dtype: object
17899 42.43 13 MP Last Month    3.26385
Name: 17899, dtype: object
17900 395.85999999999996 13 MP Last Month    30.4508
Name: 17900, dtype: object
17901 180.15 12 MP Last Month    15.0125
Name: 17901, dtype: object
17902 0.0 13 MP Last Month    0
Name: 17902, dtype: object
17903 187.83 13 MP Last Month    14.4485
Name: 17903, dtype: object
17904 318.93 13 MP Last Month    24.5331
Name: 17904, dtype: object
17905 288.61 12 MP Last Month    24.0508
Name: 17905, dtype: object
17906 168.89999999999998 13 MP Last Month    12.9923
Name: 17906, dtype: object
17907 287.19 13 MP Last Month    22.0915
Name: 17907, dtype: object
17908 192.27 14 MP Last Month    13.7336
Name: 17908, dtype: object
17909 515.3 14 MP Last Month    36.8071
Name: 17909, dtype: object
17910 298.95000000000005 14 MP Last Month    21.3536
Name: 17910, dtype: object
17911 206.89999999999998 14 MP Last Month    14.7786
Name: 17911, dtype: object
17912 392.72999999999996 14 MP Last Month    28.0521
Name: 17912, dtype: object
17913 97.07000000000001 14 MP Last Month    6.93357
Name: 17913, dtype: object
17914 14.26 10 MP Last Month    1.426
Name: 17914, dtype: object
17915 448.8 14 MP Last Month    32.0571
Name: 17915, dtype: object
17916 352.09 14 MP Last Month    25.1493
Name: 17916, dtype: object
17917 178.17 14 MP Last Month    12.7264
Name: 17917, dtype: object
17918 0 0 MP Last Month    0
Name: 17918, dtype: object
17919 514.6 14 MP Last Month    36.7571
Name: 17919, dtype: object
17920 164.70999999999998 14 MP Last Month    11.765
Name: 17920, dtype: object
17921 216.16000000000003 13 MP Last Month    16.6277
Name: 17921, dtype: object
17922 53.06999999999999 12 MP Last Month    4.4225
Name: 17922, dtype: object
17923 69.94 5 MP Last Month    13.988
Name: 17923, dtype: object
17924 413.08000000000004 14 MP Last Month    29.5057
Name: 17924, dtype: object
17925 130.8 13 MP Last Month    10.0615
Name: 17925, dtype: object
17926 4.37 11 MP Last Month    0.397273
Name: 17926, dtype: object
17927 258.29 14 MP Last Month    18.4493
Name: 17927, dtype: object
17928 72.94999999999999 9 MP Last Month    8.10556
Name: 17928, dtype: object
17929 164.16 10 MP Last Month    16.416
Name: 17929, dtype: object
17930 248.41000000000003 12 MP Last Month    20.7008
Name: 17930, dtype: object
17931 18.12 1 MP Last Month    18.12
Name: 17931, dtype: object
17932 372.16 12 MP Last Month    31.0133
Name: 17932, dtype: object
17933 208.19 12 MP Last Month    17.3492
Name: 17933, dtype: object
17934 281.65 12 MP Last Month    23.4708
Name: 17934, dtype: object
17935 115.04999999999998 10 MP Last Month    11.505
Name: 17935, dtype: object
17936 11.46 10 MP Last Month    1.146
Name: 17936, dtype: object
17937 94.30000000000001 6 MP Last Month    15.7167
Name: 17937, dtype: object
17938 316.59 12 MP Last Month    26.3825
Name: 17938, dtype: object
17939 120.45 9 MP Last Month    13.3833
Name: 17939, dtype: object
17940 457.98999999999995 13 MP Last Month    35.23
Name: 17940, dtype: object
17941 277.74 14 MP Last Month    19.8386
Name: 17941, dtype: object
17942 15.05 5 MP Last Month    3.01
Name: 17942, dtype: object
17943 287.03999999999996 14 MP Last Month    20.5029
Name: 17943, dtype: object
17944 313.87 14 MP Last Month    22.4193
Name: 17944, dtype: object
17945 177.09000000000003 10 MP Last Month    17.709
Name: 17945, dtype: object
17946 412.29 14 MP Last Month    29.4493
Name: 17946, dtype: object
17947 207.96 14 MP Last Month    14.8543
Name: 17947, dtype: object
17948 245.42000000000002 14 MP Last Month    17.53
Name: 17948, dtype: object
17949 4.73 4 MP Last Month    1.1825
Name: 17949, dtype: object
17950 404.56000000000006 14 MP Last Month    28.8971
Name: 17950, dtype: object
17951 400.34000000000003 14 MP Last Month    28.5957
Name: 17951, dtype: object
17952 253.20999999999998 14 MP Last Month    18.0864
Name: 17952, dtype: object
17953 412.85999999999996 14 MP Last Month    29.49
Name: 17953, dtype: object
17954 457.96999999999997 14 MP Last Month    32.7121
Name: 17954, dtype: object
17955 291.88 14 MP Last Month    20.8486
Name: 17955, dtype: object
17956 261.89 10 MP Last Month    26.189
Name: 17956, dtype: object
17957 307.15 14 MP Last Month    21.9393
Name: 17957, dtype: object
17958 245.73 10 MP Last Month    24.573
Name: 17958, dtype: object
17959 227.95000000000002 14 MP Last Month    16.2821
Name: 17959, dtype: object
17960 394.47 14 MP Last Month    28.1764
Name: 17960, dtype: object
17961 48.81999999999999 14 MP Last Month    3.48714
Name: 17961, dtype: object
17962 5.35 5 MP Last Month    1.07
Name: 17962, dtype: object
17963 496.65 14 MP Last Month    35.475
Name: 17963, dtype: object
17964 180.91000000000003 8 MP Last Month    22.6138
Name: 17964, dtype: object
17965 76.41 8 MP Last Month    9.55125
Name: 17965, dtype: object
17966 448.37 14 MP Last Month    32.0264
Name: 17966, dtype: object
17967 392.38000000000005 14 MP Last Month    28.0271
Name: 17967, dtype: object
17968 335.44 14 MP Last Month    23.96
Name: 17968, dtype: object
17969 315.91999999999996 14 MP Last Month    22.5657
Name: 17969, dtype: object
17970 100.13999999999999 14 MP Last Month    7.15286
Name: 17970, dtype: object
17971 9.64 11 MP Last Month    0.876364
Name: 17971, dtype: object
17972 470.06 14 MP Last Month    33.5757
Name: 17972, dtype: object

17973 330.71999999999997 14 MP Last Month    23.6229
Name: 17973, dtype: object
17974 35.2 14 MP Last Month    2.51429
Name: 17974, dtype: object
17975 501.89 13 MP Last Month    38.6069
Name: 17975, dtype: object
17976 197.82000000000002 13 MP Last Month    15.2169
Name: 17976, dtype: object
17977 16.01 8 MP Last Month    2.00125
Name: 17977, dtype: object
17978 433.86 13 MP Last Month    33.3738
Name: 17978, dtype: object
17979 12.0 2 MP Last Month    6
Name: 17979, dtype: object
17980 398.02 13 MP Last Month    30.6169
Name: 17980, dtype: object
17981 204.62 12 MP Last Month    17.0517
Name: 17981, dtype: object
17982 476.44 13 MP Last Month    36.6492
Name: 17982, dtype: object
17983 366.54999999999995 13 MP Last Month    28.1962
Name: 17983, dtype: object
17984 310.45 13 MP Last Month    23.8808
Name: 17984, dtype: object
17985 153.58 12 MP Last Month    12.7983
Name: 17985, dtype: object
17986 425.96 14 MP Last Month    30.4257
Name: 17986, dtype: object
17987 286.23999999999995 14 MP Last Month    20.4457
Name: 17987, dtype: object
17988 361.44 14 MP Last Month    25.8171
Name: 17988, dtype: object
17989 377.5 13 MP Last Month    29.0385
Name: 17989, dtype: object
17990 327.31 14 MP Last Month    23.3793
Name: 17990, dtype: object
17991 290.72 13 MP Last Month    22.3631
Name: 17991, dtype: object
17992 80.39 9 MP Last Month    8.93222
Name: 17992, dtype: object
17993 18.650000000000002 3 MP Last Month    6.21667
Name: 17993, dtype: object
17994 378.16 14 MP Last Month    27.0114
Name: 17994, dtype: object
17995 276.28 14 MP Last Month    19.7343
Name: 17995, dtype: object
17996 112.21 7 MP Last Month    16.03
Name: 17996, dtype: object
17997 8.72 2 MP Last Month    4.36
Name: 17997, dtype: object
17998 154.46999999999997 14 MP Last Month    11.0336
Name: 17998, dtype: object
17999 192.4 14 MP Last Month    13.7429
Name: 17999, dtype: object
18000 2.98 4 MP Last Month    0.745
Name: 18000, dtype: object
18001 454.87 14 MP Last Month    32.4907
Name: 18001, dtype: object
18002 310.06 14 MP Last Month    22.1471
Name: 18002, dtype: object
18003 36.0 11 MP Last Month    3.27273
Name: 18003, dtype: object
18004 230.56000000000003 14 MP Last Month    16.4686
Name: 18004, dtype: object
18005 262.9 14 MP Last Month    18.7786
Name: 18005, dtype: object
18006 15.200000000000001 12 MP Last Month    1.26667
Name: 18006, dtype: object
18007 118.69000000000001 12 MP Last Month    9.89083
Name: 18007, dtype: object
18008 447.82 15 MP Last Month    29.8547
Name: 18008, dtype: object
18009 225.29000000000002 15 MP Last Month    15.0193
Name: 18009, dtype: object
18010 344.66 15 MP Last Month    22.9773
Name: 18010, dtype: object
18011 194.92 15 MP Last Month    12.9947
Name: 18011, dtype: object
18012 88.96 14 MP Last Month    6.35429
Name: 18012, dtype: object
18013 452.19000000000005 14 MP Last Month    32.2993
Name: 18013, dtype: object
18014 227.33 15 MP Last Month    15.1553
Name: 18014, dtype: object
18015 324.1 15 MP Last Month    21.6067
Name: 18015, dtype: object
18016 403.03999999999996 12 MP Last Month    33.5867
Name: 18016, dtype: object
18017 529.84 14 MP Last Month    37.8457
Name: 18017, dtype: object
18018 155.54999999999998 11 MP Last Month    14.1409
Name: 18018, dtype: object
18019 143.94 14 MP Last Month    10.2814
Name: 18019, dtype: object
18020 403.0899999999999 12 MP Last Month    33.5908
Name: 18020, dtype: object
18021 142.78 11 MP Last Month    12.98
Name: 18021, dtype: object
18022 113.03999999999999 12 MP Last Month    9.42
Name: 18022, dtype: object
18023 417.67 12 MP Last Month    34.8058
Name: 18023, dtype: object
18024 172.01 12 MP Last Month    14.3342
Name: 18024, dtype: object
18025 299.79999999999995 12 MP Last Month    24.9833
Name: 18025, dtype: object
18026 20.95 4 MP Last Month    5.2375
Name: 18026, dtype: object
18027 115.58000000000001 9 MP Last Month    12.8422
Name: 18027, dtype: object
18028 341.13 11 MP Last Month    31.0118
Name: 18028, dtype: object
18029 108.97 5 MP Last Month    21.794
Name: 18029, dtype: object
18030 269.34000000000003 12 MP Last Month    22.445
Name: 18030, dtype: object
18031 81.72999999999999 12 MP Last Month    6.81083
Name: 18031, dtype: object
18032 348.67 13 MP Last Month    26.8208
Name: 18032, dtype: object
18033 316.99 13 MP Last Month    24.3838
Name: 18033, dtype: object
18034 56.5 6 MP Last Month    9.41667
Name: 18034, dtype: object
18035 78.78 13 MP Last Month    6.06
Name: 18035, dtype: object
18036 391.26 13 MP Last Month    30.0969
Name: 18036, dtype: object
18037 408.58000000000004 13 MP Last Month    31.4292
Name: 18037, dtype: object
18038 219.09 13 MP Last Month    16.8531
Name: 18038, dtype: object
18039 4.93 2 MP Last Month    2.465
Name: 18039, dtype: object
18040 259.75 9 MP Last Month    28.8611
Name: 18040, dtype: object
18041 333.6499999999999 13 MP Last Month    25.6654
Name: 18041, dtype: object
18042 87.67000000000002 13 MP Last Month    6.74385
Name: 18042, dtype: object
18043 463.05999999999995 15 MP Last Month    30.8707
Name: 18043, dtype: object
18044 455.5400000000001 15 MP Last Month    30.3693
Name: 18044, dtype: object
18045 364.01 15 MP Last Month    24.2673
Name: 18045, dtype: object
18046 83.45 7 MP Last Month    11.9214
Name: 18046, dtype: object
18047 523.89 15 MP Last Month    34.926
Name: 18047, dtype: object
18048 112.43 15 MP Last Month    7.49533
Name: 18048, dtype: object
18049 53.88000000000001 15 MP Last Month    3.592
Name: 18049, dtype: object
18050 154.81 15 MP Last Month    10.3207
Name: 18050, dtype: object
18051 414.93999999999994 15 MP Last Month    27.6627
Name: 18051, dtype: object
18052 18.27 15 MP Last Month    1.218
Name: 18052, dtype: object
18053 240.99 15 MP Last Month    16.066
Name: 18053, dtype: object
18054 81.10000000000001 14 MP Last Month    5.79286
Name: 18054, dtype: object
18055 115.57000000000001 3 MP Last Month    38.5233
Name: 18055, dtype: object
18056 168.72 14 MP Last Month    12.0514
Name: 18056, dtype: object
18057 0 0 MP Last Month    0
Name: 18057, dtype: object
18058 249.70000000000002 14 MP Last Month    17.8357
Name: 18058, dtype: object
18059 499.0799999999999 14 MP Last Month    35.6486
Name: 18059, dtype: object
18060 327.20000000000005 10 MP Last Month    32.72
Name: 18060, dtype: object
18061 398.15000000000003 14 MP Last Month    28.4393
Name: 18061, dtype: object
18062 403.26 14 MP Last Month    28.8043
Name: 18062, dtype: object
18063 180.45 13 MP Last Month    13.8808
Name: 18063, dtype: object
18064 265.97 14 MP Last Month    18.9979
Name: 18064, dtype: object
18065 148.22 14 MP Last Month    10.5871
Name: 18065, dtype: object
18066 243.23 14 MP Last Month    17.3736
Name: 18066, dtype: object
18067 56.28 14 MP Last Month    4.02
Name: 18067, dtype: object
18068 397.46000000000004 14 MP Last Month    28.39
Name: 18068, dtype: object
18069 375.84000000000003 13 MP Last Month    28.9108
Name: 18069, dtype: object
18070 293.89000000000004 14 MP Last Month    20.9921
Name: 18070, dtype: object
18071 410.23999999999995 13 MP Last Month    31.5569
Name: 18071, dtype: object
18072 429.3300000000001 14 MP Last Month    30.6664
Name: 18072, dtype: object
18073 216.01999999999998 14 MP Last Month    15.43
Name: 18073, dtype: object
18074 238.20000000000002 14 MP Last Month    17.0143
Name: 18074, dtype: object
18075 89.08 13 MP Last Month    6.85231
Name: 18075, dtype: object
18076 207.84000000000003 13 MP Last Month    15.9877
Name: 18076, dtype: object
18077 398.28 14 MP Last Month    28.4486
Name: 18077, dtype: object
18078 179.01 12 MP Last Month    14.9175
Name: 18078, dtype: object
18079 80.8 12 MP Last Month    6.73333
Name: 18079, dtype: object
18080 35.589999999999996 11 MP Last Month    3.23545
Name: 18080, dtype: object
18081 421.06000000000006 15 MP Last Month    28.0707
Name: 18081, dtype: object
18082 164.69999999999996 13 MP Last Month    12.6692
Name: 18082, dtype: object
18083 104.04 15 MP Last Month    6.936
Name: 18083, dtype: object
18084 426.12000000000006 15 MP Last Month    28.408
Name: 18084, dtype: object
18085 419.43999999999994 15 MP Last Month    27.9627
Name: 18085, dtype: object
18086 497.56 15 MP Last Month    33.1707
Name: 18086, dtype: object
18087 455.9299999999999 14 MP Last Month    32.5664
Name: 18087, dtype: object

18088 0.0 6 MP Last Month    0
Name: 18088, dtype: object
18089 473.74 15 MP Last Month    31.5827
Name: 18089, dtype: object
18090 169.77 11 MP Last Month    15.4336
Name: 18090, dtype: object
18091 79.19000000000001 15 MP Last Month    5.27933
Name: 18091, dtype: object
18092 482.56000000000006 14 MP Last Month    34.4686
Name: 18092, dtype: object
18093 271.93 14 MP Last Month    19.4236
Name: 18093, dtype: object
18094 338.13 14 MP Last Month    24.1521
Name: 18094, dtype: object
18095 291.13000000000005 9 MP Last Month    32.3478
Name: 18095, dtype: object
18096 197.16 13 MP Last Month    15.1662
Name: 18096, dtype: object
18097 387.45000000000005 12 MP Last Month    32.2875
Name: 18097, dtype: object
18098 313.68 11 MP Last Month    28.5164
Name: 18098, dtype: object
18099 123.85 7 MP Last Month    17.6929
Name: 18099, dtype: object
18100 166.01000000000002 14 MP Last Month    11.8579
Name: 18100, dtype: object
18101 385.40999999999997 12 MP Last Month    32.1175
Name: 18101, dtype: object
18102 274.16999999999996 14 MP Last Month    19.5836
Name: 18102, dtype: object
18103 438.48 14 MP Last Month    31.32
Name: 18103, dtype: object
18104 322.15999999999997 14 MP Last Month    23.0114
Name: 18104, dtype: object
18105 443.65999999999997 14 MP Last Month    31.69
Name: 18105, dtype: object
18106 28.85 6 MP Last Month    4.80833
Name: 18106, dtype: object
18107 362.32000000000005 11 MP Last Month    32.9382
Name: 18107, dtype: object
18108 253.84999999999997 9 MP Last Month    28.2056
Name: 18108, dtype: object
18109 317.04999999999995 13 MP Last Month    24.3885
Name: 18109, dtype: object
18110 316.45000000000005 12 MP Last Month    26.3708
Name: 18110, dtype: object
18111 36.28 14 MP Last Month    2.59143
Name: 18111, dtype: object
18112 93.21000000000002 14 MP Last Month    6.65786
Name: 18112, dtype: object
18113 462.43000000000006 14 MP Last Month    33.0307
Name: 18113, dtype: object
18114 122.37 14 MP Last Month    8.74071
Name: 18114, dtype: object
18115 194.9 14 MP Last Month    13.9214
Name: 18115, dtype: object
18116 369.73999999999995 14 MP Last Month    26.41
Name: 18116, dtype: object
18117 384.82 13 MP Last Month    29.6015
Name: 18117, dtype: object
18118 247.4 14 MP Last Month    17.6714
Name: 18118, dtype: object
18119 322.98 9 MP Last Month    35.8867
Name: 18119, dtype: object
18120 285.92999999999995 14 MP Last Month    20.4236
Name: 18120, dtype: object
18121 374.95 13 MP Last Month    28.8423
Name: 18121, dtype: object
18122 97.06 11 MP Last Month    8.82364
Name: 18122, dtype: object
18123 169.35000000000002 9 MP Last Month    18.8167
Name: 18123, dtype: object
18124 87.58 12 MP Last Month    7.29833
Name: 18124, dtype: object
18125 465.17 14 MP Last Month    33.2264
Name: 18125, dtype: object
18126 432.84999999999997 14 MP Last Month    30.9179
Name: 18126, dtype: object
18127 166.72 14 MP Last Month    11.9086
Name: 18127, dtype: object
18128 37.35 9 MP Last Month    4.15
Name: 18128, dtype: object
18129 435.15999999999997 14 MP Last Month    31.0829
Name: 18129, dtype: object
18130 303.13 13 MP Last Month    23.3177
Name: 18130, dtype: object
18131 70.06 11 MP Last Month    6.36909
Name: 18131, dtype: object
18132 375.44000000000005 13 MP Last Month    28.88
Name: 18132, dtype: object
18133 18.85 1 MP Last Month    18.85
Name: 18133, dtype: object
18134 152.92000000000002 14 MP Last Month    10.9229
Name: 18134, dtype: object
18135 139.24 13 MP Last Month    10.7108
Name: 18135, dtype: object
18136 309.93 12 MP Last Month    25.8275
Name: 18136, dtype: object
18137 419.13 14 MP Last Month    29.9379
Name: 18137, dtype: object
18138 158.64 12 MP Last Month    13.22
Name: 18138, dtype: object
18139 278.46999999999997 14 MP Last Month    19.8907
Name: 18139, dtype: object
18140 304.0 9 MP Last Month    33.7778
Name: 18140, dtype: object
18141 354.14000000000004 15 MP Last Month    23.6093
Name: 18141, dtype: object
18142 398.08000000000004 14 MP Last Month    28.4343
Name: 18142, dtype: object
18143 110.32 15 MP Last Month    7.35467
Name: 18143, dtype: object
18144 377.83000000000004 14 MP Last Month    26.9879
Name: 18144, dtype: object
18145 455.68000000000006 15 MP Last Month    30.3787
Name: 18145, dtype: object
18146 338.91999999999996 14 MP Last Month    24.2086
Name: 18146, dtype: object
18147 379.54 15 MP Last Month    25.3027
Name: 18147, dtype: object
18148 101.45 15 MP Last Month    6.76333
Name: 18148, dtype: object
18149 376.98 14 MP Last Month    26.9271
Name: 18149, dtype: object
18150 130.03 8 MP Last Month    16.2538
Name: 18150, dtype: object
18151 51.68 15 MP Last Month    3.44533
Name: 18151, dtype: object
18152 162.37 15 MP Last Month    10.8247
Name: 18152, dtype: object
18153 460.13000000000005 14 MP Last Month    32.8664
Name: 18153, dtype: object
18154 238.47000000000003 14 MP Last Month    17.0336
Name: 18154, dtype: object
18155 182.45999999999998 12 MP Last Month    15.205
Name: 18155, dtype: object
18156 188.46999999999997 14 MP Last Month    13.4621
Name: 18156, dtype: object
18157 440.24 14 MP Last Month    31.4457
Name: 18157, dtype: object
18158 413.51 14 MP Last Month    29.5364
Name: 18158, dtype: object
18159 280.0300000000001 14 MP Last Month    20.0021
Name: 18159, dtype: object
18160 302.26000000000005 11 MP Last Month    27.4782
Name: 18160, dtype: object
18161 244.28000000000003 14 MP Last Month    17.4486
Name: 18161, dtype: object
18162 282.65999999999997 14 MP Last Month    20.19
Name: 18162, dtype: object
18163 32.84 13 MP Last Month    2.52615
Name: 18163, dtype: object
18164 420.85999999999996 15 MP Last Month    28.0573
Name: 18164, dtype: object
18165 345.56999999999994 15 MP Last Month    23.038
Name: 18165, dtype: object
18166 34.800000000000004 12 MP Last Month    2.9
Name: 18166, dtype: object
18167 396.96 15 MP Last Month    26.464
Name: 18167, dtype: object
18168 217.56 9 MP Last Month    24.1733
Name: 18168, dtype: object
18169 209.49 13 MP Last Month    16.1146
Name: 18169, dtype: object
18170 200.04999999999998 15 MP Last Month    13.3367
Name: 18170, dtype: object
18171 36.00000000000001 14 MP Last Month    2.57143
Name: 18171, dtype: object
18172 450.79 15 MP Last Month    30.0527
Name: 18172, dtype: object
18173 374.5900000000001 15 MP Last Month    24.9727
Name: 18173, dtype: object
18174 276.37 15 MP Last Month    18.4247
Name: 18174, dtype: object
18175 543.34 14 MP Last Month    38.81
Name: 18175, dtype: object
18176 51.58 2 MP Last Month    25.79
Name: 18176, dtype: object
18177 505.9699999999999 14 MP Last Month    36.1407
Name: 18177, dtype: object
18178 56.38 11 MP Last Month    5.12545
Name: 18178, dtype: object
18179 223.52999999999997 7 MP Last Month    31.9329
Name: 18179, dtype: object
18180 510.8400000000001 14 MP Last Month    36.4886
Name: 18180, dtype: object
18181 361.01 14 MP Last Month    25.7864
Name: 18181, dtype: object
18182 252.84 13 MP Last Month    19.4492
Name: 18182, dtype: object
18183 194.35 14 MP Last Month    13.8821
Name: 18183, dtype: object
18184 6.93 3 MP Last Month    2.31
Name: 18184, dtype: object
18185 127.89 14 MP Last Month    9.135
Name: 18185, dtype: object
18186 43.82 14 MP Last Month    3.13
Name: 18186, dtype: object
18187 117.86 14 MP Last Month    8.41857
Name: 18187, dtype: object
18188 268.06 16 MP Last Month    16.7538
Name: 18188, dtype: object
18189 195.70000000000002 15 MP Last Month    13.0467
Name: 18189, dtype: object
18190 234.97 8 MP Last Month    29.3712
Name: 18190, dtype: object
18191 393.90000000000003 15 MP Last Month    26.26
Name: 18191, dtype: object
18192 91.78 4 MP Last Month    22.945
Name: 18192, dtype: object
18193 316.15 16 MP Last Month    19.7594
Name: 18193, dtype: object
18194 3.45 5 MP Last Month    0.69
Name: 18194, dtype: object
18195 30.25 8 MP Last Month    3.78125
Name: 18195, dtype: object
18196 391.98999999999995 13 MP Last Month    30.1531
Name: 18196, dtype: object
18197 164.38000000000002 13 MP Last Month    12.6446
Name: 18197, dtype: object
18198 83.47000000000001 16 MP Last Month    5.21688
Name: 18198, dtype: object
18199 484.59999999999997 15 MP Last Month    32.3067
Name: 18199, dtype: object
18200 436.84999999999997 16 MP Last Month    27.3031
Name: 18200, dtype: object

18201 303.83000000000004 12 MP Last Month    25.3192
Name: 18201, dtype: object
18202 431.35 14 MP Last Month    30.8107
Name: 18202, dtype: object
18203 336.52 13 MP Last Month    25.8862
Name: 18203, dtype: object
18204 433.98999999999995 14 MP Last Month    30.9993
Name: 18204, dtype: object
18205 198.28 13 MP Last Month    15.2523
Name: 18205, dtype: object
18206 75.13 14 MP Last Month    5.36643
Name: 18206, dtype: object
18207 187.83 14 MP Last Month    13.4164
Name: 18207, dtype: object
18208 0.0 14 MP Last Month    0
Name: 18208, dtype: object
18209 303.79 13 MP Last Month    23.3685
Name: 18209, dtype: object
18210 191.64999999999998 14 MP Last Month    13.6893
Name: 18210, dtype: object
18211 351.75 14 MP Last Month    25.125
Name: 18211, dtype: object
18212 305.17 14 MP Last Month    21.7979
Name: 18212, dtype: object
18213 35.769999999999996 2 MP Last Month    17.885
Name: 18213, dtype: object
18214 248.35000000000005 12 MP Last Month    20.6958
Name: 18214, dtype: object
18215 360.74 12 MP Last Month    30.0617
Name: 18215, dtype: object
18216 289.01000000000005 12 MP Last Month    24.0842
Name: 18216, dtype: object
18217 239.76999999999998 12 MP Last Month    19.9808
Name: 18217, dtype: object
18218 131.1 10 MP Last Month    13.11
Name: 18218, dtype: object
18219 296.74000000000007 12 MP Last Month    24.7283
Name: 18219, dtype: object
18220 118.48000000000002 7 MP Last Month    16.9257
Name: 18220, dtype: object
18221 109.73 9 MP Last Month    12.1922
Name: 18221, dtype: object
18222 154.16000000000003 7 MP Last Month    22.0229
Name: 18222, dtype: object
18223 0 0 MP Last Month    0
Name: 18223, dtype: object
18224 523.5200000000001 14 MP Last Month    37.3943
Name: 18224, dtype: object
18225 362.6500000000001 14 MP Last Month    25.9036
Name: 18225, dtype: object
18226 0.0 12 MP Last Month    0
Name: 18226, dtype: object
18227 529.03 14 MP Last Month    37.7879
Name: 18227, dtype: object
18228 495.12 14 MP Last Month    35.3657
Name: 18228, dtype: object
18229 188.95000000000002 14 MP Last Month    13.4964
Name: 18229, dtype: object
18230 119.35000000000001 13 MP Last Month    9.18077
Name: 18230, dtype: object
18231 383.27000000000004 13 MP Last Month    29.4823
Name: 18231, dtype: object
18232 5.77 3 MP Last Month    1.92333
Name: 18232, dtype: object
18233 458.3299999999999 13 MP Last Month    35.2562
Name: 18233, dtype: object
18234 166.98000000000002 11 MP Last Month    15.18
Name: 18234, dtype: object
18235 196.35000000000002 14 MP Last Month    14.025
Name: 18235, dtype: object
18236 175.93999999999997 8 MP Last Month    21.9925
Name: 18236, dtype: object
18237 488.78000000000003 14 MP Last Month    34.9129
Name: 18237, dtype: object
18238 93.83 9 MP Last Month    10.4256
Name: 18238, dtype: object
18239 441.5399999999999 14 MP Last Month    31.5386
Name: 18239, dtype: object
18240 390.09000000000003 14 MP Last Month    27.8636
Name: 18240, dtype: object
18241 311.46 14 MP Last Month    22.2471
Name: 18241, dtype: object
18242 114.28999999999999 14 MP Last Month    8.16357
Name: 18242, dtype: object
18243 349.48999999999995 14 MP Last Month    24.9636
Name: 18243, dtype: object
18244 13.670000000000002 12 MP Last Month    1.13917
Name: 18244, dtype: object
18245 464.44000000000005 14 MP Last Month    33.1743
Name: 18245, dtype: object
18246 327.62 14 MP Last Month    23.4014
Name: 18246, dtype: object
18247 41.870000000000005 14 MP Last Month    2.99071
Name: 18247, dtype: object
18248 444.71 14 MP Last Month    31.765
Name: 18248, dtype: object
18249 293.97999999999996 13 MP Last Month    22.6138
Name: 18249, dtype: object
18250 70.83999999999999 11 MP Last Month    6.44
Name: 18250, dtype: object
18251 359.99 13 MP Last Month    27.6915
Name: 18251, dtype: object
18252 36.33 2 MP Last Month    18.165
Name: 18252, dtype: object
18253 152.38000000000005 14 MP Last Month    10.8843
Name: 18253, dtype: object
18254 66.71 13 MP Last Month    5.13154
Name: 18254, dtype: object
18255 419.26 14 MP Last Month    29.9471
Name: 18255, dtype: object
18256 311.01000000000005 12 MP Last Month    25.9175
Name: 18256, dtype: object
18257 259.76 14 MP Last Month    18.5543
Name: 18257, dtype: object
18258 177.36999999999998 13 MP Last Month    13.6438
Name: 18258, dtype: object
18259 424.39 14 MP Last Month    30.3136
Name: 18259, dtype: object
18260 291.40999999999997 14 MP Last Month    20.815
Name: 18260, dtype: object
18261 359.64000000000004 14 MP Last Month    25.6886
Name: 18261, dtype: object
18262 328.14 14 MP Last Month    23.4386
Name: 18262, dtype: object
18263 80.39 9 MP Last Month    8.93222
Name: 18263, dtype: object
18264 380.2400000000001 13 MP Last Month    29.2492
Name: 18264, dtype: object
18265 315.59000000000003 14 MP Last Month    22.5421
Name: 18265, dtype: object
18266 18.650000000000002 4 MP Last Month    4.6625
Name: 18266, dtype: object
18267 279.40000000000003 14 MP Last Month    19.9571
Name: 18267, dtype: object
18268 375.0100000000001 14 MP Last Month    26.7864
Name: 18268, dtype: object
18269 130.43 8 MP Last Month    16.3038
Name: 18269, dtype: object
18270 8.72 3 MP Last Month    2.90667
Name: 18270, dtype: object
18271 421.81000000000006 13 MP Last Month    32.4469
Name: 18271, dtype: object
18272 447.13 14 MP Last Month    31.9379
Name: 18272, dtype: object
18273 239.18000000000004 14 MP Last Month    17.0843
Name: 18273, dtype: object
18274 259.0 14 MP Last Month    18.5
Name: 18274, dtype: object
18275 11.95 3 MP Last Month    3.98333
Name: 18275, dtype: object
18276 103.83999999999999 14 MP Last Month    7.41714
Name: 18276, dtype: object
18277 457.85000000000014 14 MP Last Month    32.7036
Name: 18277, dtype: object
18278 263.89000000000004 13 MP Last Month    20.2992
Name: 18278, dtype: object
18279 0.0 4 MP Last Month    0
Name: 18279, dtype: object
18280 277.11 12 MP Last Month    23.0925
Name: 18280, dtype: object
18281 210.42000000000002 14 MP Last Month    15.03
Name: 18281, dtype: object
18282 31.299999999999997 14 MP Last Month    2.23571
Name: 18282, dtype: object
18283 470.66 14 MP Last Month    33.6186
Name: 18283, dtype: object
18284 258.97 14 MP Last Month    18.4979
Name: 18284, dtype: object
18285 198.03000000000003 12 MP Last Month    16.5025
Name: 18285, dtype: object
18286 154.87 14 MP Last Month    11.0621
Name: 18286, dtype: object
18287 316.06000000000006 12 MP Last Month    26.3383
Name: 18287, dtype: object
18288 424.44999999999993 14 MP Last Month    30.3179
Name: 18288, dtype: object
18289 447.09000000000003 14 MP Last Month    31.935
Name: 18289, dtype: object
18290 231.01000000000005 14 MP Last Month    16.5007
Name: 18290, dtype: object
18291 291.08000000000004 14 MP Last Month    20.7914
Name: 18291, dtype: object
18292 299.90999999999997 14 MP Last Month    21.4221
Name: 18292, dtype: object
18293 16.61 13 MP Last Month    1.27769
Name: 18293, dtype: object
18294 391.31000000000006 14 MP Last Month    27.9507
Name: 18294, dtype: object
18295 362.65000000000003 14 MP Last Month    25.9036
Name: 18295, dtype: object
18296 413.41 14 MP Last Month    29.5293
Name: 18296, dtype: object
18297 222.95000000000002 13 MP Last Month    17.15
Name: 18297, dtype: object
18298 0.0 1 MP Last Month    0
Name: 18298, dtype: object
18299 0 0 MP Last Month    0
Name: 18299, dtype: object
18300 447.52 14 MP Last Month    31.9657
Name: 18300, dtype: object
18301 276.46 13 MP Last Month    21.2662
Name: 18301, dtype: object
18302 53.36 6 MP Last Month    8.89333
Name: 18302, dtype: object
18303 132.56 9 MP Last Month    14.7289
Name: 18303, dtype: object
18304 124.57 6 MP Last Month    20.7617
Name: 18304, dtype: object
18305 306.33000000000004 12 MP Last Month    25.5275
Name: 18305, dtype: object
18306 122.55000000000001 14 MP Last Month    8.75357
Name: 18306, dtype: object
18307 417.96 13 MP Last Month    32.1508
Name: 18307, dtype: object
18308 213.07 14 MP Last Month    15.2193
Name: 18308, dtype: object
18309 164.32000000000002 14 MP Last Month    11.7371
Name: 18309, dtype: object
18310 2.98 5 MP Last Month    0.596
Name: 18310, dtype: object
18311 464.71999999999997 14 MP Last Month    33.1943
Name: 18311, dtype: object
18312 322.03 14 MP Last Month    23.0021
Name: 18312, dtype: object

18313 62.629999999999995 12 MP Last Month    5.21917
Name: 18313, dtype: object
18314 279.54999999999995 14 MP Last Month    19.9679
Name: 18314, dtype: object
18315 231.03000000000003 14 MP Last Month    16.5021
Name: 18315, dtype: object
18316 125.17 12 MP Last Month    10.4308
Name: 18316, dtype: object
18317 24.580000000000002 12 MP Last Month    2.04833
Name: 18317, dtype: object
18318 382.44999999999993 16 MP Last Month    23.9031
Name: 18318, dtype: object
18319 462.28999999999996 16 MP Last Month    28.8931
Name: 18319, dtype: object
18320 35.580000000000005 13 MP Last Month    2.73692
Name: 18320, dtype: object
18321 226.84 14 MP Last Month    16.2029
Name: 18321, dtype: object
18322 241.76 10 MP Last Month    24.176
Name: 18322, dtype: object
18323 431.26 16 MP Last Month    26.9537
Name: 18323, dtype: object
18324 205.67 16 MP Last Month    12.8544
Name: 18324, dtype: object
18325 36.78000000000001 15 MP Last Month    2.452
Name: 18325, dtype: object
18326 482.22 16 MP Last Month    30.1388
Name: 18326, dtype: object
18327 295.55 16 MP Last Month    18.4719
Name: 18327, dtype: object
18328 402.6200000000001 16 MP Last Month    25.1638
Name: 18328, dtype: object
18329 497.21000000000004 13 MP Last Month    38.2469
Name: 18329, dtype: object
18330 429.26 14 MP Last Month    30.6614
Name: 18330, dtype: object
18331 370.92 11 MP Last Month    33.72
Name: 18331, dtype: object
18332 428.03000000000003 13 MP Last Month    32.9254
Name: 18332, dtype: object
18333 166.92 10 MP Last Month    16.692
Name: 18333, dtype: object
18334 296.14 14 MP Last Month    21.1529
Name: 18334, dtype: object
18335 233.01000000000002 14 MP Last Month    16.6436
Name: 18335, dtype: object
18336 315.40999999999997 14 MP Last Month    22.5293
Name: 18336, dtype: object
18337 218.45999999999998 14 MP Last Month    15.6043
Name: 18337, dtype: object
18338 398.8 12 MP Last Month    33.2333
Name: 18338, dtype: object
18339 441.2899999999999 13 MP Last Month    33.9454
Name: 18339, dtype: object
18340 125.07 13 MP Last Month    9.62077
Name: 18340, dtype: object
18341 158.0 12 MP Last Month    13.1667
Name: 18341, dtype: object
18342 455.20000000000005 13 MP Last Month    35.0154
Name: 18342, dtype: object
18343 327.22999999999996 13 MP Last Month    25.1715
Name: 18343, dtype: object
18344 198.79 13 MP Last Month    15.2915
Name: 18344, dtype: object
18345 20.95 5 MP Last Month    4.19
Name: 18345, dtype: object
18346 115.58000000000001 10 MP Last Month    11.558
Name: 18346, dtype: object
18347 134.09 6 MP Last Month    22.3483
Name: 18347, dtype: object
18348 375.93 12 MP Last Month    31.3275
Name: 18348, dtype: object
18349 292.22 13 MP Last Month    22.4785
Name: 18349, dtype: object
18350 81.72999999999999 13 MP Last Month    6.28692
Name: 18350, dtype: object
18351 580.5400000000001 15 MP Last Month    38.7027
Name: 18351, dtype: object
18352 530.6499999999999 15 MP Last Month    35.3767
Name: 18352, dtype: object
18353 56.38 12 MP Last Month    4.69833
Name: 18353, dtype: object
18354 385.51 15 MP Last Month    25.7007
Name: 18354, dtype: object
18355 277.36 14 MP Last Month    19.8114
Name: 18355, dtype: object
18356 544.7600000000001 15 MP Last Month    36.3173
Name: 18356, dtype: object
18357 248.67999999999998 8 MP Last Month    31.085
Name: 18357, dtype: object
18358 225.01999999999998 14 MP Last Month    16.0729
Name: 18358, dtype: object
18359 117.86 15 MP Last Month    7.85733
Name: 18359, dtype: object
18360 15.01 4 MP Last Month    3.7525
Name: 18360, dtype: object
18361 43.82 15 MP Last Month    2.92133
Name: 18361, dtype: object
18362 129.94 15 MP Last Month    8.66267
Name: 18362, dtype: object
18363 380.82 14 MP Last Month    27.2014
Name: 18363, dtype: object
18364 353.51 14 MP Last Month    25.2507
Name: 18364, dtype: object
18365 93.2 14 MP Last Month    6.65714
Name: 18365, dtype: object
18366 443.25000000000006 14 MP Last Month    31.6607
Name: 18366, dtype: object
18367 421.94 14 MP Last Month    30.1386
Name: 18367, dtype: object
18368 208.54999999999998 11 MP Last Month    18.9591
Name: 18368, dtype: object
18369 66.97 7 MP Last Month    9.56714
Name: 18369, dtype: object
18370 4.93 3 MP Last Month    1.64333
Name: 18370, dtype: object
18371 294.57 10 MP Last Month    29.457
Name: 18371, dtype: object
18372 353.3299999999999 14 MP Last Month    25.2379
Name: 18372, dtype: object
18373 87.67000000000002 14 MP Last Month    6.26214
Name: 18373, dtype: object
18374 365.09 15 MP Last Month    24.3393
Name: 18374, dtype: object
18375 417.03999999999996 15 MP Last Month    27.8027
Name: 18375, dtype: object
18376 26.58 15 MP Last Month    1.772
Name: 18376, dtype: object
18377 118.21000000000001 15 MP Last Month    7.88067
Name: 18377, dtype: object
18378 466.9099999999999 15 MP Last Month    31.1273
Name: 18378, dtype: object
18379 542.37 15 MP Last Month    36.158
Name: 18379, dtype: object
18380 461.7900000000001 15 MP Last Month    30.786
Name: 18380, dtype: object
18381 100.93 8 MP Last Month    12.6163
Name: 18381, dtype: object
18382 235.34 15 MP Last Month    15.6893
Name: 18382, dtype: object
18383 81.10000000000001 15 MP Last Month    5.40667
Name: 18383, dtype: object
18384 152.05 4 MP Last Month    38.0125
Name: 18384, dtype: object
18385 11.530000000000001 4 MP Last Month    2.8825
Name: 18385, dtype: object
18386 161.75 14 MP Last Month    11.5536
Name: 18386, dtype: object
18387 502.09 14 MP Last Month    35.8636
Name: 18387, dtype: object
18388 258.71 14 MP Last Month    18.4793
Name: 18388, dtype: object
18389 375.14 14 MP Last Month    26.7957
Name: 18389, dtype: object
18390 334.45000000000005 10 MP Last Month    33.445
Name: 18390, dtype: object
18391 386.46999999999997 14 MP Last Month    27.605
Name: 18391, dtype: object
18392 186.73 14 MP Last Month    13.3379
Name: 18392, dtype: object
18393 250.60999999999996 14 MP Last Month    17.9007
Name: 18393, dtype: object
18394 56.28 14 MP Last Month    4.02
Name: 18394, dtype: object
18395 262.3 14 MP Last Month    18.7357
Name: 18395, dtype: object
18396 149.05 14 MP Last Month    10.6464
Name: 18396, dtype: object
18397 326.41 13 MP Last Month    25.1085
Name: 18397, dtype: object
18398 435.29 14 MP Last Month    31.0921
Name: 18398, dtype: object
18399 331.82 13 MP Last Month    25.5246
Name: 18399, dtype: object
18400 435.78999999999996 14 MP Last Month    31.1279
Name: 18400, dtype: object
18401 214.06 13 MP Last Month    16.4662
Name: 18401, dtype: object
18402 79.42999999999999 14 MP Last Month    5.67357
Name: 18402, dtype: object
18403 0.0 14 MP Last Month    0
Name: 18403, dtype: object
18404 171.63000000000002 14 MP Last Month    12.2593
Name: 18404, dtype: object
18405 300.26 13 MP Last Month    23.0969
Name: 18405, dtype: object
18406 194.97 14 MP Last Month    13.9264
Name: 18406, dtype: object
18407 352.0300000000001 14 MP Last Month    25.145
Name: 18407, dtype: object
18408 309.08 14 MP Last Month    22.0771
Name: 18408, dtype: object
18409 383.88 13 MP Last Month    29.5292
Name: 18409, dtype: object
18410 298.32 14 MP Last Month    21.3086
Name: 18410, dtype: object
18411 398.77000000000004 14 MP Last Month    28.4836
Name: 18411, dtype: object
18412 412.03000000000003 13 MP Last Month    31.6946
Name: 18412, dtype: object
18413 436.73 14 MP Last Month    31.195
Name: 18413, dtype: object
18414 84.7 13 MP Last Month    6.51538
Name: 18414, dtype: object
18415 213.49000000000004 14 MP Last Month    15.2493
Name: 18415, dtype: object
18416 233.09000000000003 14 MP Last Month    16.6493
Name: 18416, dtype: object
18417 401.40999999999997 14 MP Last Month    28.6721
Name: 18417, dtype: object
18418 212.94 13 MP Last Month    16.38
Name: 18418, dtype: object
18419 185.56 13 MP Last Month    14.2738
Name: 18419, dtype: object
18420 0.0 1 MP Last Month    0
Name: 18420, dtype: object
18421 63.07 12 MP Last Month    5.25583
Name: 18421, dtype: object
18422 220.82000000000002 13 MP Last Month    16.9862
Name: 18422, dtype: object
18423 148.76999999999998 8 MP Last Month    18.5962
Name: 18423, dtype: object
18424 13.02 1 MP Last Month    13.02
Name: 18424, dtype: object
18425 475.07 13 MP Last Month    36.5438
Name: 18425, dtype: object
18426 116.4 13 MP Last Month    8.95385
Name: 18426, dtype: object

18427 278.35 13 MP Last Month    21.4115
Name: 18427, dtype: object
18428 368.86 13 MP Last Month    28.3738
Name: 18428, dtype: object
18429 205.67999999999998 13 MP Last Month    15.8215
Name: 18429, dtype: object
18430 14.26 10 MP Last Month    1.426
Name: 18430, dtype: object
18431 401.63 13 MP Last Month    30.8946
Name: 18431, dtype: object
18432 331.31 13 MP Last Month    25.4854
Name: 18432, dtype: object
18433 178.07999999999998 13 MP Last Month    13.6985
Name: 18433, dtype: object
18434 233.51000000000002 13 MP Last Month    17.9623
Name: 18434, dtype: object
18435 156.02 13 MP Last Month    12.0015
Name: 18435, dtype: object
18436 475.3 13 MP Last Month    36.5615
Name: 18436, dtype: object
18437 64.95 12 MP Last Month    5.4125
Name: 18437, dtype: object
18438 301.96999999999997 11 MP Last Month    27.4518
Name: 18438, dtype: object
18439 107.49 6 MP Last Month    17.915
Name: 18439, dtype: object
18440 394.08000000000004 13 MP Last Month    30.3138
Name: 18440, dtype: object
18441 113.13999999999999 12 MP Last Month    9.42833
Name: 18441, dtype: object
18442 4.37 11 MP Last Month    0.397273
Name: 18442, dtype: object
18443 75.07 8 MP Last Month    9.38375
Name: 18443, dtype: object
18444 275.37 13 MP Last Month    21.1823
Name: 18444, dtype: object
18445 420.76 15 MP Last Month    28.0507
Name: 18445, dtype: object
18446 183.74999999999997 13 MP Last Month    14.1346
Name: 18446, dtype: object
18447 85.29 15 MP Last Month    5.686
Name: 18447, dtype: object
18448 425.23999999999995 15 MP Last Month    28.3493
Name: 18448, dtype: object
18449 452.2499999999999 14 MP Last Month    32.3036
Name: 18449, dtype: object
18450 503.42999999999995 15 MP Last Month    33.562
Name: 18450, dtype: object
18451 428.39000000000004 15 MP Last Month    28.5593
Name: 18451, dtype: object
18452 0.0 7 MP Last Month    0
Name: 18452, dtype: object
18453 482.18999999999994 15 MP Last Month    32.146
Name: 18453, dtype: object
18454 79.19000000000001 15 MP Last Month    5.27933
Name: 18454, dtype: object
18455 163.61999999999998 11 MP Last Month    14.8745
Name: 18455, dtype: object
18456 447.83 13 MP Last Month    34.4485
Name: 18456, dtype: object
18457 298.23 13 MP Last Month    22.9408
Name: 18457, dtype: object
18458 61.459999999999994 6 MP Last Month    10.2433
Name: 18458, dtype: object
18459 258.06 13 MP Last Month    19.8508
Name: 18459, dtype: object
18460 298.68 9 MP Last Month    33.1867
Name: 18460, dtype: object
18461 133.65 8 MP Last Month    16.7063
Name: 18461, dtype: object
18462 180.30999999999997 12 MP Last Month    15.0258
Name: 18462, dtype: object
18463 124.51000000000002 13 MP Last Month    9.57769
Name: 18463, dtype: object
18464 347.75 11 MP Last Month    31.6136
Name: 18464, dtype: object
18465 259.57 13 MP Last Month    19.9669
Name: 18465, dtype: object
18466 44.56 11 MP Last Month    4.05091
Name: 18466, dtype: object
18467 342.64 11 MP Last Month    31.1491
Name: 18467, dtype: object
18468 226.75 14 MP Last Month    16.1964
Name: 18468, dtype: object
18469 198.55999999999997 10 MP Last Month    19.856
Name: 18469, dtype: object
18470 0.0 2 MP Last Month    0
Name: 18470, dtype: object
18471 111.13 14 MP Last Month    7.93786
Name: 18471, dtype: object
18472 388.55999999999995 14 MP Last Month    27.7543
Name: 18472, dtype: object
18473 412.89 14 MP Last Month    29.4921
Name: 18473, dtype: object
18474 400.26 14 MP Last Month    28.59
Name: 18474, dtype: object
18475 224.11 8 MP Last Month    28.0138
Name: 18475, dtype: object
18476 204.91000000000003 10 MP Last Month    20.491
Name: 18476, dtype: object
18477 141.84 14 MP Last Month    10.1314
Name: 18477, dtype: object
18478 0.0 14 MP Last Month    0
Name: 18478, dtype: object
18479 19.5 2 MP Last Month    9.75
Name: 18479, dtype: object
18480 384.3500000000001 14 MP Last Month    27.4536
Name: 18480, dtype: object
18481 263.26 14 MP Last Month    18.8043
Name: 18481, dtype: object
18482 444.42 14 MP Last Month    31.7443
Name: 18482, dtype: object
18483 257.57 10 MP Last Month    25.757
Name: 18483, dtype: object
18484 405.99 14 MP Last Month    28.9993
Name: 18484, dtype: object
18485 276.6 14 MP Last Month    19.7571
Name: 18485, dtype: object
18486 302.80000000000007 14 MP Last Month    21.6286
Name: 18486, dtype: object
18487 382.05 14 MP Last Month    27.2893
Name: 18487, dtype: object
18488 273.9 11 MP Last Month    24.9
Name: 18488, dtype: object
18489 235.26 14 MP Last Month    16.8043
Name: 18489, dtype: object
18490 45.699999999999996 14 MP Last Month    3.26429
Name: 18490, dtype: object
18491 7.279999999999999 5 MP Last Month    1.456
Name: 18491, dtype: object
18492 471.17999999999995 15 MP Last Month    31.412
Name: 18492, dtype: object
18493 352.34 15 MP Last Month    23.4893
Name: 18493, dtype: object
18494 463.16 15 MP Last Month    30.8773
Name: 18494, dtype: object
18495 282.15 10 MP Last Month    28.215
Name: 18495, dtype: object
18496 397.84000000000003 12 MP Last Month    33.1533
Name: 18496, dtype: object
18497 333.9 14 MP Last Month    23.85
Name: 18497, dtype: object
18498 338.37000000000006 13 MP Last Month    26.0285
Name: 18498, dtype: object
18499 39.51 15 MP Last Month    2.634
Name: 18499, dtype: object
18500 97.01000000000002 15 MP Last Month    6.46733
Name: 18500, dtype: object
18501 500.38000000000005 15 MP Last Month    33.3587
Name: 18501, dtype: object
18502 128.39000000000001 15 MP Last Month    8.55933
Name: 18502, dtype: object
18503 198.93 15 MP Last Month    13.262
Name: 18503, dtype: object
18504 6.28 5 MP Last Month    1.256
Name: 18504, dtype: object
18505 521.6800000000001 15 MP Last Month    34.7787
Name: 18505, dtype: object
18506 211.21999999999997 9 MP Last Month    23.4689
Name: 18506, dtype: object
18507 102.08 10 MP Last Month    10.208
Name: 18507, dtype: object
18508 420.21000000000004 15 MP Last Month    28.014
Name: 18508, dtype: object
18509 358.53999999999996 15 MP Last Month    23.9027
Name: 18509, dtype: object
18510 473.9699999999999 15 MP Last Month    31.598
Name: 18510, dtype: object
18511 122.16999999999999 15 MP Last Month    8.14467
Name: 18511, dtype: object
18512 335.96 15 MP Last Month    22.3973
Name: 18512, dtype: object
18513 13.670000000000002 13 MP Last Month    1.05154
Name: 18513, dtype: object
18514 492.4200000000001 15 MP Last Month    32.828
Name: 18514, dtype: object
18515 354.25 15 MP Last Month    23.6167
Name: 18515, dtype: object
18516 45.25000000000001 15 MP Last Month    3.01667
Name: 18516, dtype: object
18517 496.71 13 MP Last Month    38.2085
Name: 18517, dtype: object
18518 420.5 13 MP Last Month    32.3462
Name: 18518, dtype: object
18519 42.21 9 MP Last Month    4.69
Name: 18519, dtype: object
18520 205.3 13 MP Last Month    15.7923
Name: 18520, dtype: object
18521 0 0 MP Last Month    0
Name: 18521, dtype: object
18522 368.55999999999995 13 MP Last Month    28.3508
Name: 18522, dtype: object
18523 391.0 13 MP Last Month    30.0769
Name: 18523, dtype: object
18524 460.28999999999996 13 MP Last Month    35.4069
Name: 18524, dtype: object
18525 213.85000000000002 12 MP Last Month    17.8208
Name: 18525, dtype: object
18526 290.33000000000004 13 MP Last Month    22.3331
Name: 18526, dtype: object
18527 170.73000000000002 12 MP Last Month    14.2275
Name: 18527, dtype: object
18528 339.58 10 MP Last Month    33.958
Name: 18528, dtype: object
18529 404.35 14 MP Last Month    28.8821
Name: 18529, dtype: object
18530 346.42 15 MP Last Month    23.0947
Name: 18530, dtype: object
18531 107.53999999999999 15 MP Last Month    7.16933
Name: 18531, dtype: object
18532 449.83000000000004 15 MP Last Month    29.9887
Name: 18532, dtype: object
18533 383.96 14 MP Last Month    27.4257
Name: 18533, dtype: object
18534 371.68000000000006 15 MP Last Month    24.7787
Name: 18534, dtype: object
18535 328.36999999999995 14 MP Last Month    23.455
Name: 18535, dtype: object
18536 87.17 15 MP Last Month    5.81133
Name: 18536, dtype: object
18537 380.48 14 MP Last Month    27.1771
Name: 18537, dtype: object
18538 148.74 15 MP Last Month    9.916
Name: 18538, dtype: object
18539 41.83 15 MP Last Month    2.78867
Name: 18539, dtype: object
18540 395.10999999999996 16 MP Last Month    24.6944
Name: 18540, dtype: object

18541 497.68999999999994 16 MP Last Month    31.1056
Name: 18541, dtype: object
18542 109.9 9 MP Last Month    12.2111
Name: 18542, dtype: object
18543 149.78 15 MP Last Month    9.98533
Name: 18543, dtype: object
18544 571.79 16 MP Last Month    35.7369
Name: 18544, dtype: object
18545 138.99 16 MP Last Month    8.68688
Name: 18545, dtype: object
18546 487.2200000000001 16 MP Last Month    30.4513
Name: 18546, dtype: object
18547 53.20000000000001 15 MP Last Month    3.54667
Name: 18547, dtype: object
18548 43.2 16 MP Last Month    2.7
Name: 18548, dtype: object
18549 453.09 16 MP Last Month    28.3181
Name: 18549, dtype: object
18550 82.55000000000001 16 MP Last Month    5.15938
Name: 18550, dtype: object
18551 239.04 16 MP Last Month    14.94
Name: 18551, dtype: object
18552 495.08 15 MP Last Month    33.0053
Name: 18552, dtype: object
18553 281.25 16 MP Last Month    17.5781
Name: 18553, dtype: object
18554 230.02 16 MP Last Month    14.3763
Name: 18554, dtype: object
18555 402.68999999999994 15 MP Last Month    26.846
Name: 18555, dtype: object
18556 19.77 6 MP Last Month    3.295
Name: 18556, dtype: object
18557 312.33 16 MP Last Month    19.5206
Name: 18557, dtype: object
18558 114.75 5 MP Last Month    22.95
Name: 18558, dtype: object
18559 30.25 9 MP Last Month    3.36111
Name: 18559, dtype: object
18560 481.42 15 MP Last Month    32.0947
Name: 18560, dtype: object
18561 401.70000000000005 16 MP Last Month    25.1063
Name: 18561, dtype: object
18562 181.93000000000004 13 MP Last Month    13.9946
Name: 18562, dtype: object
18563 111.19000000000001 16 MP Last Month    6.94938
Name: 18563, dtype: object
18564 71.1 3 MP Last Month    23.7
Name: 18564, dtype: object
18565 274.13000000000005 13 MP Last Month    21.0869
Name: 18565, dtype: object
18566 262.03999999999996 13 MP Last Month    20.1569
Name: 18566, dtype: object
18567 400.97 13 MP Last Month    30.8438
Name: 18567, dtype: object
18568 326.68000000000006 13 MP Last Month    25.1292
Name: 18568, dtype: object
18569 131.1 11 MP Last Month    11.9182
Name: 18569, dtype: object
18570 400.26000000000005 13 MP Last Month    30.7892
Name: 18570, dtype: object
18571 170.68000000000004 8 MP Last Month    21.335
Name: 18571, dtype: object
18572 327.46000000000004 13 MP Last Month    25.1892
Name: 18572, dtype: object
18573 0.0 1 MP Last Month    0
Name: 18573, dtype: object
18574 123.05000000000001 10 MP Last Month    12.305
Name: 18574, dtype: object
18575 519.4599999999999 14 MP Last Month    37.1043
Name: 18575, dtype: object
18576 362.62 14 MP Last Month    25.9014
Name: 18576, dtype: object
18577 0.0 12 MP Last Month    0
Name: 18577, dtype: object
18578 530.13 14 MP Last Month    37.8664
Name: 18578, dtype: object
18579 488.3299999999999 14 MP Last Month    34.8807
Name: 18579, dtype: object
18580 387.58 13 MP Last Month    29.8138
Name: 18580, dtype: object
18581 110.76 13 MP Last Month    8.52
Name: 18581, dtype: object
18582 15.12 4 MP Last Month    3.78
Name: 18582, dtype: object
18583 449.18 13 MP Last Month    34.5523
Name: 18583, dtype: object
18584 200.40000000000003 14 MP Last Month    14.3143
Name: 18584, dtype: object
18585 176.13 11 MP Last Month    16.0118
Name: 18585, dtype: object
18586 339.74 13 MP Last Month    26.1338
Name: 18586, dtype: object
18587 221.18 13 MP Last Month    17.0138
Name: 18587, dtype: object
18588 6.3100000000000005 6 MP Last Month    1.05167
Name: 18588, dtype: object
18589 289.84 8 MP Last Month    36.23
Name: 18589, dtype: object
18590 77.8 11 MP Last Month    7.07273
Name: 18590, dtype: object
18591 261.86 13 MP Last Month    20.1431
Name: 18591, dtype: object
18592 331.05 12 MP Last Month    27.5875
Name: 18592, dtype: object
18593 140.18 8 MP Last Month    17.5225
Name: 18593, dtype: object
18594 83.11000000000001 11 MP Last Month    7.55545
Name: 18594, dtype: object
18595 416.07 13 MP Last Month    32.0054
Name: 18595, dtype: object
18596 443.39 13 MP Last Month    34.1069
Name: 18596, dtype: object
18597 132.6 13 MP Last Month    10.2
Name: 18597, dtype: object
18598 32.63 8 MP Last Month    4.07875
Name: 18598, dtype: object
18599 447.52 14 MP Last Month    31.9657
Name: 18599, dtype: object
18600 286.97999999999996 13 MP Last Month    22.0754
Name: 18600, dtype: object
18601 360.64000000000004 13 MP Last Month    27.7415
Name: 18601, dtype: object
18602 147.09000000000003 14 MP Last Month    10.5064
Name: 18602, dtype: object
18603 51.83 3 MP Last Month    17.2767
Name: 18603, dtype: object
18604 50.26 13 MP Last Month    3.86615
Name: 18604, dtype: object
18605 97.73999999999998 12 MP Last Month    8.145
Name: 18605, dtype: object
18606 184.45 14 MP Last Month    13.175
Name: 18606, dtype: object
18607 432.50999999999993 14 MP Last Month    30.8936
Name: 18607, dtype: object
18608 316.93000000000006 12 MP Last Month    26.4108
Name: 18608, dtype: object
18609 256.71999999999997 14 MP Last Month    18.3371
Name: 18609, dtype: object
18610 293.70000000000005 14 MP Last Month    20.9786
Name: 18610, dtype: object
18611 421.15999999999997 14 MP Last Month    30.0829
Name: 18611, dtype: object
18612 360.07 14 MP Last Month    25.7193
Name: 18612, dtype: object
18613 91.47 10 MP Last Month    9.147
Name: 18613, dtype: object
18614 20.28 5 MP Last Month    4.056
Name: 18614, dtype: object
18615 326.11 14 MP Last Month    23.2936
Name: 18615, dtype: object
18616 335.21000000000004 14 MP Last Month    23.9436
Name: 18616, dtype: object
18617 0 0 MP Last Month    0
Name: 18617, dtype: object
18618 380.18000000000006 13 MP Last Month    29.2446
Name: 18618, dtype: object
18619 374.68999999999994 14 MP Last Month    26.7636
Name: 18619, dtype: object
18620 152.8 9 MP Last Month    16.9778
Name: 18620, dtype: object
18621 10.350000000000001 4 MP Last Month    2.5875
Name: 18621, dtype: object
18622 278.85 14 MP Last Month    19.9179
Name: 18622, dtype: object
18623 412.66999999999996 16 MP Last Month    25.7919
Name: 18623, dtype: object
18624 465.96 16 MP Last Month    29.1225
Name: 18624, dtype: object
18625 35.580000000000005 13 MP Last Month    2.73692
Name: 18625, dtype: object
18626 238.31 14 MP Last Month    17.0221
Name: 18626, dtype: object
18627 273.18 11 MP Last Month    24.8345
Name: 18627, dtype: object
18628 205.71999999999997 16 MP Last Month    12.8575
Name: 18628, dtype: object
18629 36.78000000000001 15 MP Last Month    2.452
Name: 18629, dtype: object
18630 430.40999999999997 16 MP Last Month    26.9006
Name: 18630, dtype: object
18631 291.73 16 MP Last Month    18.2331
Name: 18631, dtype: object
18632 479.91 16 MP Last Month    29.9944
Name: 18632, dtype: object
18633 231.68999999999997 15 MP Last Month    15.446
Name: 18633, dtype: object
18634 465.64 15 MP Last Month    31.0427
Name: 18634, dtype: object
18635 337.03 15 MP Last Month    22.4687
Name: 18635, dtype: object
18636 69.43 13 MP Last Month    5.34077
Name: 18636, dtype: object
18637 174.37 14 MP Last Month    12.455
Name: 18637, dtype: object
18638 250.76000000000002 15 MP Last Month    16.7173
Name: 18638, dtype: object
18639 460.90000000000003 14 MP Last Month    32.9214
Name: 18639, dtype: object
18640 312.82 15 MP Last Month    20.8547
Name: 18640, dtype: object
18641 393.59000000000003 12 MP Last Month    32.7992
Name: 18641, dtype: object
18642 539.58 14 MP Last Month    38.5414
Name: 18642, dtype: object
18643 191.73999999999998 11 MP Last Month    17.4309
Name: 18643, dtype: object
18644 104.49 13 MP Last Month    8.03769
Name: 18644, dtype: object
18645 576.22 15 MP Last Month    38.4147
Name: 18645, dtype: object
18646 80.81 3 MP Last Month    26.9367
Name: 18646, dtype: object
18647 521.4999999999999 15 MP Last Month    34.7667
Name: 18647, dtype: object
18648 44.78 12 MP Last Month    3.73167
Name: 18648, dtype: object
18649 299.09000000000003 14 MP Last Month    21.3636
Name: 18649, dtype: object
18650 539.59 15 MP Last Month    35.9727
Name: 18650, dtype: object
18651 380.51 15 MP Last Month    25.3673
Name: 18651, dtype: object
18652 245.23999999999998 14 MP Last Month    17.5171
Name: 18652, dtype: object
18653 134.96 15 MP Last Month    8.99733
Name: 18653, dtype: object
18654 46.2 15 MP Last Month    3.08
Name: 18654, dtype: object
18655 22.96 5 MP Last Month    4.592
Name: 18655, dtype: object

18656 390.06999999999994 14 MP Last Month    27.8621
Name: 18656, dtype: object
18657 353.86 14 MP Last Month    25.2757
Name: 18657, dtype: object
18658 106.98 14 MP Last Month    7.64143
Name: 18658, dtype: object
18659 416.64000000000004 14 MP Last Month    29.76
Name: 18659, dtype: object
18660 441.63000000000005 14 MP Last Month    31.545
Name: 18660, dtype: object
18661 206.35999999999999 11 MP Last Month    18.76
Name: 18661, dtype: object
18662 77.17 8 MP Last Month    9.64625
Name: 18662, dtype: object
18663 4.93 4 MP Last Month    1.2325
Name: 18663, dtype: object
18664 299.7 10 MP Last Month    29.97
Name: 18664, dtype: object
18665 346.51 14 MP Last Month    24.7507
Name: 18665, dtype: object
18666 87.67000000000002 14 MP Last Month    6.26214
Name: 18666, dtype: object
18667 376.65000000000003 14 MP Last Month    26.9036
Name: 18667, dtype: object
18668 390.91999999999996 13 MP Last Month    30.0708
Name: 18668, dtype: object
18669 304.75 14 MP Last Month    21.7679
Name: 18669, dtype: object
18670 425.33 13 MP Last Month    32.7177
Name: 18670, dtype: object
18671 444.28000000000003 14 MP Last Month    31.7343
Name: 18671, dtype: object
18672 250.22000000000003 14 MP Last Month    17.8729
Name: 18672, dtype: object
18673 84.75 13 MP Last Month    6.51923
Name: 18673, dtype: object
18674 215.14000000000004 14 MP Last Month    15.3671
Name: 18674, dtype: object
18675 406.75 14 MP Last Month    29.0536
Name: 18675, dtype: object
18676 172.88000000000002 13 MP Last Month    13.2985
Name: 18676, dtype: object
18677 213.76000000000002 13 MP Last Month    16.4431
Name: 18677, dtype: object
18678 3.92 2 MP Last Month    1.96
Name: 18678, dtype: object
18679 48.70000000000001 12 MP Last Month    4.05833
Name: 18679, dtype: object
18680 505.17 14 MP Last Month    36.0836
Name: 18680, dtype: object
18681 79.25 13 MP Last Month    6.09615
Name: 18681, dtype: object
18682 275.51 14 MP Last Month    19.6793
Name: 18682, dtype: object
18683 183.17000000000002 14 MP Last Month    13.0836
Name: 18683, dtype: object
18684 301.96999999999997 12 MP Last Month    25.1642
Name: 18684, dtype: object
18685 137.92 7 MP Last Month    19.7029
Name: 18685, dtype: object
18686 427.78000000000003 14 MP Last Month    30.5557
Name: 18686, dtype: object
18687 124.53999999999999 13 MP Last Month    9.58
Name: 18687, dtype: object
18688 7.52 12 MP Last Month    0.626667
Name: 18688, dtype: object
18689 299.99 14 MP Last Month    21.4279
Name: 18689, dtype: object
18690 98.44999999999999 9 MP Last Month    10.9389
Name: 18690, dtype: object
18691 348.27 11 MP Last Month    31.6609
Name: 18691, dtype: object
18692 186.28 10 MP Last Month    18.628
Name: 18692, dtype: object
18693 241.31 14 MP Last Month    17.2364
Name: 18693, dtype: object
18694 4.37 3 MP Last Month    1.45667
Name: 18694, dtype: object
18695 111.13 14 MP Last Month    7.93786
Name: 18695, dtype: object
18696 406.83 14 MP Last Month    29.0593
Name: 18696, dtype: object
18697 407.28000000000003 14 MP Last Month    29.0914
Name: 18697, dtype: object
18698 416.53 14 MP Last Month    29.7521
Name: 18698, dtype: object
18699 229.59 8 MP Last Month    28.6988
Name: 18699, dtype: object
18700 203.4 10 MP Last Month    20.34
Name: 18700, dtype: object
18701 141.84 14 MP Last Month    10.1314
Name: 18701, dtype: object
18702 0.0 14 MP Last Month    0
Name: 18702, dtype: object
18703 19.5 3 MP Last Month    6.5
Name: 18703, dtype: object
18704 390.64 14 MP Last Month    27.9029
Name: 18704, dtype: object
18705 256.96999999999997 14 MP Last Month    18.355
Name: 18705, dtype: object
18706 445.3500000000001 14 MP Last Month    31.8107
Name: 18706, dtype: object
18707 265.8 10 MP Last Month    26.58
Name: 18707, dtype: object
18708 398.94 14 MP Last Month    28.4957
Name: 18708, dtype: object
18709 257.72999999999996 14 MP Last Month    18.4093
Name: 18709, dtype: object
18710 292.72999999999996 14 MP Last Month    20.9093
Name: 18710, dtype: object
18711 307.13 12 MP Last Month    25.5942
Name: 18711, dtype: object
18712 231.21 14 MP Last Month    16.515
Name: 18712, dtype: object
18713 385.0 14 MP Last Month    27.5
Name: 18713, dtype: object
18714 40.379999999999995 14 MP Last Month    2.88429
Name: 18714, dtype: object
18715 7.279999999999999 5 MP Last Month    1.456
Name: 18715, dtype: object
18716 473.4499999999998 15 MP Last Month    31.5633
Name: 18716, dtype: object
18717 359.50999999999993 15 MP Last Month    23.9673
Name: 18717, dtype: object
18718 24.130000000000003 6 MP Last Month    4.02167
Name: 18718, dtype: object
18719 393.0400000000001 12 MP Last Month    32.7533
Name: 18719, dtype: object
18720 330.57000000000005 13 MP Last Month    25.4285
Name: 18720, dtype: object
18721 288.06 10 MP Last Month    28.806
Name: 18721, dtype: object
18722 335.32000000000005 14 MP Last Month    23.9514
Name: 18722, dtype: object
18723 92.29000000000002 15 MP Last Month    6.15267
Name: 18723, dtype: object
18724 44.66 15 MP Last Month    2.97733
Name: 18724, dtype: object
18725 496.95000000000005 15 MP Last Month    33.13
Name: 18725, dtype: object
18726 192.55 15 MP Last Month    12.8367
Name: 18726, dtype: object
18727 142.89000000000001 15 MP Last Month    9.526
Name: 18727, dtype: object
18728 9.75 6 MP Last Month    1.625
Name: 18728, dtype: object
18729 494.15 13 MP Last Month    38.0115
Name: 18729, dtype: object
18730 411.06999999999994 13 MP Last Month    31.6208
Name: 18730, dtype: object
18731 55.71 10 MP Last Month    5.571
Name: 18731, dtype: object
18732 206.4 13 MP Last Month    15.8769
Name: 18732, dtype: object
18733 3.92 1 MP Last Month    3.92
Name: 18733, dtype: object
18734 389.5 13 MP Last Month    29.9615
Name: 18734, dtype: object
18735 456.82 13 MP Last Month    35.14
Name: 18735, dtype: object
18736 381.67999999999995 13 MP Last Month    29.36
Name: 18736, dtype: object
18737 214.79000000000002 12 MP Last Month    17.8992
Name: 18737, dtype: object
18738 285.1 13 MP Last Month    21.9308
Name: 18738, dtype: object
18739 156.45000000000002 12 MP Last Month    13.0375
Name: 18739, dtype: object
18740 400.22999999999996 14 MP Last Month    28.5879
Name: 18740, dtype: object
18741 335.63 15 MP Last Month    22.3753
Name: 18741, dtype: object
18742 85.58999999999999 15 MP Last Month    5.706
Name: 18742, dtype: object
18743 0.0 2 MP Last Month    0
Name: 18743, dtype: object
18744 449.18999999999994 15 MP Last Month    29.946
Name: 18744, dtype: object
18745 321.96000000000004 14 MP Last Month    22.9971
Name: 18745, dtype: object
18746 366.96000000000004 15 MP Last Month    24.464
Name: 18746, dtype: object
18747 70.38999999999999 15 MP Last Month    4.69267
Name: 18747, dtype: object
18748 417.34 15 MP Last Month    27.8227
Name: 18748, dtype: object
18749 386.25000000000006 14 MP Last Month    27.5893
Name: 18749, dtype: object
18750 142.97 15 MP Last Month    9.53133
Name: 18750, dtype: object
18751 39.42999999999999 15 MP Last Month    2.62867
Name: 18751, dtype: object
18752 473.97999999999996 14 MP Last Month    33.8557
Name: 18752, dtype: object
18753 256.74 14 MP Last Month    18.3386
Name: 18753, dtype: object
18754 194.22 12 MP Last Month    16.185
Name: 18754, dtype: object
18755 128.4 14 MP Last Month    9.17143
Name: 18755, dtype: object
18756 342.26000000000005 13 MP Last Month    26.3277
Name: 18756, dtype: object
18757 425.63 14 MP Last Month    30.4021
Name: 18757, dtype: object
18758 444.63999999999993 14 MP Last Month    31.76
Name: 18758, dtype: object
18759 245.44000000000005 14 MP Last Month    17.5314
Name: 18759, dtype: object
18760 297.85 14 MP Last Month    21.275
Name: 18760, dtype: object
18761 0 0 MP Last Month    0
Name: 18761, dtype: object
18762 288.51000000000005 14 MP Last Month    20.6079
Name: 18762, dtype: object
18763 16.61 14 MP Last Month    1.18643
Name: 18763, dtype: object
18764 384.1700000000001 13 MP Last Month    29.5515
Name: 18764, dtype: object
18765 359.73 13 MP Last Month    27.6715
Name: 18765, dtype: object
18766 350.01 13 MP Last Month    26.9238
Name: 18766, dtype: object
18767 241.73000000000002 13 MP Last Month    18.5946
Name: 18767, dtype: object
18768 21.72 5 MP Last Month    4.344
Name: 18768, dtype: object
18769 15.18 1 MP Last Month    15.18
Name: 18769, dtype: object

18770 134.36 10 MP Last Month    13.436
Name: 18770, dtype: object
18771 67.76 7 MP Last Month    9.68
Name: 18771, dtype: object
18772 95.94999999999999 5 MP Last Month    19.19
Name: 18772, dtype: object
18773 326.40000000000003 13 MP Last Month    25.1077
Name: 18773, dtype: object
18774 85.75 13 MP Last Month    6.59615
Name: 18774, dtype: object
18775 462.27 15 MP Last Month    30.818
Name: 18775, dtype: object
18776 157.36999999999998 14 MP Last Month    11.2407
Name: 18776, dtype: object
18777 315.38 15 MP Last Month    21.0253
Name: 18777, dtype: object
18778 253.36999999999998 15 MP Last Month    16.8913
Name: 18778, dtype: object
18779 77.80000000000001 13 MP Last Month    5.98462
Name: 18779, dtype: object
18780 448.01000000000005 14 MP Last Month    32.0007
Name: 18780, dtype: object
18781 260.94 15 MP Last Month    17.396
Name: 18781, dtype: object
18782 323.12 15 MP Last Month    21.5413
Name: 18782, dtype: object
18783 381.88000000000005 12 MP Last Month    31.8233
Name: 18783, dtype: object
18784 523.58 14 MP Last Month    37.3986
Name: 18784, dtype: object
18785 210.51999999999998 12 MP Last Month    17.5433
Name: 18785, dtype: object
18786 97.42 13 MP Last Month    7.49385
Name: 18786, dtype: object
18787 120.43 15 MP Last Month    8.02867
Name: 18787, dtype: object
18788 424.61999999999995 15 MP Last Month    28.308
Name: 18788, dtype: object
18789 384.96000000000004 15 MP Last Month    25.664
Name: 18789, dtype: object
18790 451.44000000000005 15 MP Last Month    30.096
Name: 18790, dtype: object
18791 474.9800000000001 15 MP Last Month    31.6653
Name: 18791, dtype: object
18792 91.35 9 MP Last Month    10.15
Name: 18792, dtype: object
18793 225.07999999999998 12 MP Last Month    18.7567
Name: 18793, dtype: object
18794 4.93 5 MP Last Month    0.986
Name: 18794, dtype: object
18795 331.37 11 MP Last Month    30.1245
Name: 18795, dtype: object
18796 369.03999999999996 15 MP Last Month    24.6027
Name: 18796, dtype: object
18797 87.67000000000002 15 MP Last Month    5.84467
Name: 18797, dtype: object
18798 497.91999999999996 16 MP Last Month    31.12
Name: 18798, dtype: object
18799 402.77 16 MP Last Month    25.1731
Name: 18799, dtype: object
18800 127.05000000000001 10 MP Last Month    12.705
Name: 18800, dtype: object
18801 147.9 15 MP Last Month    9.86
Name: 18801, dtype: object
18802 566.91 16 MP Last Month    35.4319
Name: 18802, dtype: object
18803 152.75000000000003 16 MP Last Month    9.54688
Name: 18803, dtype: object
18804 488.48 16 MP Last Month    30.53
Name: 18804, dtype: object
18805 59.09 15 MP Last Month    3.93933
Name: 18805, dtype: object
18806 459.88999999999993 16 MP Last Month    28.7431
Name: 18806, dtype: object
18807 213.82 16 MP Last Month    13.3637
Name: 18807, dtype: object
18808 59.82000000000001 16 MP Last Month    3.73875
Name: 18808, dtype: object
18809 88.24000000000001 16 MP Last Month    5.515
Name: 18809, dtype: object
18810 189.93 5 MP Last Month    37.986
Name: 18810, dtype: object
18811 152.46 14 MP Last Month    10.89
Name: 18811, dtype: object
18812 40.43 1 MP Last Month    40.43
Name: 18812, dtype: object
18813 504.57 14 MP Last Month    36.0407
Name: 18813, dtype: object
18814 253.54000000000002 14 MP Last Month    18.11
Name: 18814, dtype: object
18815 366.07000000000005 11 MP Last Month    33.2791
Name: 18815, dtype: object
18816 182.98999999999998 14 MP Last Month    13.0707
Name: 18816, dtype: object
18817 366.18999999999994 14 MP Last Month    26.1564
Name: 18817, dtype: object
18818 248.13000000000002 14 MP Last Month    17.7236
Name: 18818, dtype: object
18819 264.97999999999996 14 MP Last Month    18.9271
Name: 18819, dtype: object
18820 66.88 14 MP Last Month    4.77714
Name: 18820, dtype: object
18821 137.55 14 MP Last Month    9.825
Name: 18821, dtype: object
18822 466.12000000000006 14 MP Last Month    33.2943
Name: 18822, dtype: object
18823 302.46 15 MP Last Month    20.164
Name: 18823, dtype: object
18824 137.37 6 MP Last Month    22.895
Name: 18824, dtype: object
18825 206.74999999999997 15 MP Last Month    13.7833
Name: 18825, dtype: object
18826 419.09000000000003 15 MP Last Month    27.9393
Name: 18826, dtype: object
18827 131.65 6 MP Last Month    21.9417
Name: 18827, dtype: object
18828 39.65 7 MP Last Month    5.66429
Name: 18828, dtype: object
18829 30.25 10 MP Last Month    3.025
Name: 18829, dtype: object
18830 273.42999999999995 15 MP Last Month    18.2287
Name: 18830, dtype: object
18831 123.94000000000001 15 MP Last Month    8.26267
Name: 18831, dtype: object
18832 362.9800000000001 15 MP Last Month    24.1987
Name: 18832, dtype: object
18833 186.59000000000003 12 MP Last Month    15.5492
Name: 18833, dtype: object
18834 328.60999999999996 13 MP Last Month    25.2777
Name: 18834, dtype: object
18835 435.90999999999997 14 MP Last Month    31.1364
Name: 18835, dtype: object
18836 331.27 13 MP Last Month    25.4823
Name: 18836, dtype: object
18837 434.57 14 MP Last Month    31.0407
Name: 18837, dtype: object
18838 242.39 13 MP Last Month    18.6454
Name: 18838, dtype: object
18839 79.42999999999999 14 MP Last Month    5.67357
Name: 18839, dtype: object
18840 0.0 14 MP Last Month    0
Name: 18840, dtype: object
18841 152.41 14 MP Last Month    10.8864
Name: 18841, dtype: object
18842 301.5 13 MP Last Month    23.1923
Name: 18842, dtype: object
18843 292.87 14 MP Last Month    20.9193
Name: 18843, dtype: object
18844 221.44000000000003 14 MP Last Month    15.8171
Name: 18844, dtype: object
18845 350.2900000000001 14 MP Last Month    25.0207
Name: 18845, dtype: object
18846 255.57000000000002 13 MP Last Month    19.6592
Name: 18846, dtype: object
18847 17.369999999999997 2 MP Last Month    8.685
Name: 18847, dtype: object
18848 101.20000000000002 5 MP Last Month    20.24
Name: 18848, dtype: object
18849 186.2 8 MP Last Month    23.275
Name: 18849, dtype: object
18850 274.05 13 MP Last Month    21.0808
Name: 18850, dtype: object
18851 136.53 13 MP Last Month    10.5023
Name: 18851, dtype: object
18852 476.82 13 MP Last Month    36.6785
Name: 18852, dtype: object
18853 356.20000000000005 13 MP Last Month    27.4
Name: 18853, dtype: object
18854 187.14 13 MP Last Month    14.3954
Name: 18854, dtype: object
18855 14.26 11 MP Last Month    1.29636
Name: 18855, dtype: object
18856 406.95 13 MP Last Month    31.3038
Name: 18856, dtype: object
18857 176.89000000000001 13 MP Last Month    13.6069
Name: 18857, dtype: object
18858 331.7899999999999 13 MP Last Month    25.5223
Name: 18858, dtype: object
18859 91.52 4 MP Last Month    22.88
Name: 18859, dtype: object
18860 280.34 13 MP Last Month    21.5646
Name: 18860, dtype: object
18861 399.02000000000004 13 MP Last Month    30.6938
Name: 18861, dtype: object
18862 322.06000000000006 13 MP Last Month    24.7738
Name: 18862, dtype: object
18863 131.1 11 MP Last Month    11.9182
Name: 18863, dtype: object
18864 270.53999999999996 13 MP Last Month    20.8108
Name: 18864, dtype: object
18865 136.65000000000003 8 MP Last Month    17.0813
Name: 18865, dtype: object
18866 368.37 12 MP Last Month    30.6975
Name: 18866, dtype: object
18867 334.6600000000001 13 MP Last Month    25.7431
Name: 18867, dtype: object
18868 169.78000000000003 8 MP Last Month    21.2225
Name: 18868, dtype: object
18869 96.22999999999999 10 MP Last Month    9.623
Name: 18869, dtype: object
18870 519.41 14 MP Last Month    37.1007
Name: 18870, dtype: object
18871 357.17 14 MP Last Month    25.5121
Name: 18871, dtype: object
18872 0.0 1 MP Last Month    0
Name: 18872, dtype: object
18873 0.0 12 MP Last Month    0
Name: 18873, dtype: object
18874 532.6800000000001 14 MP Last Month    38.0486
Name: 18874, dtype: object
18875 493.5 14 MP Last Month    35.25
Name: 18875, dtype: object
18876 395.29999999999995 13 MP Last Month    30.4077
Name: 18876, dtype: object
18877 175.68 13 MP Last Month    13.5138
Name: 18877, dtype: object
18878 113.34 13 MP Last Month    8.71846
Name: 18878, dtype: object
18879 451.31999999999994 13 MP Last Month    34.7169
Name: 18879, dtype: object
18880 173.99 11 MP Last Month    15.8173
Name: 18880, dtype: object
18881 201.8 14 MP Last Month    14.4143
Name: 18881, dtype: object
18882 418.35 15 MP Last Month    27.89
Name: 18882, dtype: object

18883 199.02999999999997 13 MP Last Month    15.31
Name: 18883, dtype: object
18884 81.54 15 MP Last Month    5.436
Name: 18884, dtype: object
18885 458.5999999999999 14 MP Last Month    32.7571
Name: 18885, dtype: object
18886 506.84999999999997 15 MP Last Month    33.79
Name: 18886, dtype: object
18887 431.34000000000003 15 MP Last Month    28.756
Name: 18887, dtype: object
18888 424.78999999999996 15 MP Last Month    28.3193
Name: 18888, dtype: object
18889 0.0 8 MP Last Month    0
Name: 18889, dtype: object
18890 487.13 15 MP Last Month    32.4753
Name: 18890, dtype: object
18891 91.22 15 MP Last Month    6.08133
Name: 18891, dtype: object
18892 43.0 13 MP Last Month    3.30769
Name: 18892, dtype: object
18893 0 0 MP Last Month    0
Name: 18893, dtype: object
18894 453.97999999999996 13 MP Last Month    34.9215
Name: 18894, dtype: object
18895 295.3 13 MP Last Month    22.7154
Name: 18895, dtype: object
18896 268.21000000000004 13 MP Last Month    20.6315
Name: 18896, dtype: object
18897 337.61 10 MP Last Month    33.761
Name: 18897, dtype: object
18898 99.79000000000002 13 MP Last Month    7.67615
Name: 18898, dtype: object
18899 8.83 3 MP Last Month    2.94333
Name: 18899, dtype: object
18900 352.07 11 MP Last Month    32.0064
Name: 18900, dtype: object
18901 262.07 13 MP Last Month    20.1592
Name: 18901, dtype: object
18902 163.82 12 MP Last Month    13.6517
Name: 18902, dtype: object
18903 44.56 11 MP Last Month    4.05091
Name: 18903, dtype: object
18904 381.27 11 MP Last Month    34.6609
Name: 18904, dtype: object
18905 239.12 12 MP Last Month    19.9267
Name: 18905, dtype: object
18906 13.46 7 MP Last Month    1.92286
Name: 18906, dtype: object
18907 280.06 12 MP Last Month    23.3383
Name: 18907, dtype: object
18908 264.26 12 MP Last Month    22.0217
Name: 18908, dtype: object
18909 141.06 9 MP Last Month    15.6733
Name: 18909, dtype: object
18910 333.62 12 MP Last Month    27.8017
Name: 18910, dtype: object
18911 305.35 12 MP Last Month    25.4458
Name: 18911, dtype: object
18912 185.5 12 MP Last Month    15.4583
Name: 18912, dtype: object
18913 225.12 12 MP Last Month    18.76
Name: 18913, dtype: object
18914 11.4 5 MP Last Month    2.28
Name: 18914, dtype: object
18915 419.15 12 MP Last Month    34.9292
Name: 18915, dtype: object
18916 227.53 13 MP Last Month    17.5023
Name: 18916, dtype: object
18917 330.51 13 MP Last Month    25.4238
Name: 18917, dtype: object
18918 10.71 7 MP Last Month    1.53
Name: 18918, dtype: object
18919 278.17 8 MP Last Month    34.7713
Name: 18919, dtype: object
18920 262.26000000000005 13 MP Last Month    20.1738
Name: 18920, dtype: object
18921 310.95 12 MP Last Month    25.9125
Name: 18921, dtype: object
18922 147.17 8 MP Last Month    18.3962
Name: 18922, dtype: object
18923 99.44999999999999 11 MP Last Month    9.04091
Name: 18923, dtype: object
18924 60.209999999999994 10 MP Last Month    6.021
Name: 18924, dtype: object
18925 401.84000000000003 13 MP Last Month    30.9108
Name: 18925, dtype: object
18926 426.34000000000003 13 MP Last Month    32.7954
Name: 18926, dtype: object
18927 146.89999999999998 13 MP Last Month    11.3
Name: 18927, dtype: object
18928 416.5599999999999 14 MP Last Month    29.7543
Name: 18928, dtype: object
18929 295.25 14 MP Last Month    21.0893
Name: 18929, dtype: object
18930 355.90999999999997 14 MP Last Month    25.4221
Name: 18930, dtype: object
18931 360.18000000000006 13 MP Last Month    27.7062
Name: 18931, dtype: object
18932 333.61 14 MP Last Month    23.8293
Name: 18932, dtype: object
18933 0 0 MP Last Month    0
Name: 18933, dtype: object
18934 342.03999999999996 14 MP Last Month    24.4314
Name: 18934, dtype: object
18935 117.7 11 MP Last Month    10.7
Name: 18935, dtype: object
18936 35.63 6 MP Last Month    5.93833
Name: 18936, dtype: object
18937 375.09999999999997 14 MP Last Month    26.7929
Name: 18937, dtype: object
18938 260.89 14 MP Last Month    18.635
Name: 18938, dtype: object
18939 173.13 10 MP Last Month    17.313
Name: 18939, dtype: object
18940 383.5400000000001 12 MP Last Month    31.9617
Name: 18940, dtype: object
18941 404.97 13 MP Last Month    31.1515
Name: 18941, dtype: object
18942 212.33000000000004 13 MP Last Month    16.3331
Name: 18942, dtype: object
18943 240.97000000000003 13 MP Last Month    18.5362
Name: 18943, dtype: object
18944 70.99000000000001 13 MP Last Month    5.46077
Name: 18944, dtype: object
18945 25.25 4 MP Last Month    6.3125
Name: 18945, dtype: object
18946 415.69000000000005 13 MP Last Month    31.9762
Name: 18946, dtype: object
18947 295.27 13 MP Last Month    22.7131
Name: 18947, dtype: object
18948 206.07000000000002 13 MP Last Month    15.8515
Name: 18948, dtype: object
18949 40.36 13 MP Last Month    3.10462
Name: 18949, dtype: object
18950 480.47999999999996 14 MP Last Month    34.32
Name: 18950, dtype: object
18951 107.75 14 MP Last Month    7.69643
Name: 18951, dtype: object
18952 254.74 14 MP Last Month    18.1957
Name: 18952, dtype: object
18953 448.9599999999999 14 MP Last Month    32.0686
Name: 18953, dtype: object
18954 369.24000000000007 14 MP Last Month    26.3743
Name: 18954, dtype: object
18955 425.88 14 MP Last Month    30.42
Name: 18955, dtype: object
18956 251.61 14 MP Last Month    17.9721
Name: 18956, dtype: object
18957 301.75 14 MP Last Month    21.5536
Name: 18957, dtype: object
18958 29.69 10 MP Last Month    2.969
Name: 18958, dtype: object
18959 22.72 1 MP Last Month    22.72
Name: 18959, dtype: object
18960 281.44 14 MP Last Month    20.1029
Name: 18960, dtype: object
18961 16.61 14 MP Last Month    1.18643
Name: 18961, dtype: object
18962 395.47 12 MP Last Month    32.9558
Name: 18962, dtype: object
18963 217.64000000000001 13 MP Last Month    16.7415
Name: 18963, dtype: object
18964 168.62000000000003 13 MP Last Month    12.9708
Name: 18964, dtype: object
18965 177.36 9 MP Last Month    19.7067
Name: 18965, dtype: object
18966 307.71000000000004 13 MP Last Month    23.67
Name: 18966, dtype: object
18967 442.74000000000007 13 MP Last Month    34.0569
Name: 18967, dtype: object
18968 70.0 12 MP Last Month    5.83333
Name: 18968, dtype: object
18969 11.46 9 MP Last Month    1.27333
Name: 18969, dtype: object
18970 220.58000000000004 13 MP Last Month    16.9677
Name: 18970, dtype: object
18971 284.59999999999997 13 MP Last Month    21.8923
Name: 18971, dtype: object
18972 118.02 12 MP Last Month    9.835
Name: 18972, dtype: object
18973 24.580000000000002 11 MP Last Month    2.23455
Name: 18973, dtype: object
18974 296.94000000000005 10 MP Last Month    29.694
Name: 18974, dtype: object
18975 432.07 16 MP Last Month    27.0044
Name: 18975, dtype: object
18976 474.04999999999995 16 MP Last Month    29.6281
Name: 18976, dtype: object
18977 41.11000000000001 14 MP Last Month    2.93643
Name: 18977, dtype: object
18978 253.26 14 MP Last Month    18.09
Name: 18978, dtype: object
18979 423.1099999999999 16 MP Last Month    26.4444
Name: 18979, dtype: object
18980 303.05 12 MP Last Month    25.2542
Name: 18980, dtype: object
18981 3.88 1 MP Last Month    3.88
Name: 18981, dtype: object
18982 208.23999999999998 16 MP Last Month    13.015
Name: 18982, dtype: object
18983 45.400000000000006 16 MP Last Month    2.8375
Name: 18983, dtype: object
18984 471.37000000000006 16 MP Last Month    29.4606
Name: 18984, dtype: object
18985 305.08000000000004 16 MP Last Month    19.0675
Name: 18985, dtype: object
18986 351.6 11 MP Last Month    31.9636
Name: 18986, dtype: object
18987 395.44 12 MP Last Month    32.9533
Name: 18987, dtype: object
18988 113.36999999999999 12 MP Last Month    9.4475
Name: 18988, dtype: object
18989 152.86999999999998 11 MP Last Month    13.8973
Name: 18989, dtype: object
18990 408.72 12 MP Last Month    34.06
Name: 18990, dtype: object
18991 293.49999999999994 12 MP Last Month    24.4583
Name: 18991, dtype: object
18992 93.9 9 MP Last Month    10.4333
Name: 18992, dtype: object
18993 199.49 12 MP Last Month    16.6242
Name: 18993, dtype: object
18994 23.08 6 MP Last Month    3.84667
Name: 18994, dtype: object
18995 158.67000000000002 7 MP Last Month    22.6671
Name: 18995, dtype: object
18996 334.45 11 MP Last Month    30.4045
Name: 18996, dtype: object
18997 266.08000000000004 12 MP Last Month    22.1733
Name: 18997, dtype: object

18998 68.72 12 MP Last Month    5.72667
Name: 18998, dtype: object
18999 577.71 15 MP Last Month    38.514
Name: 18999, dtype: object
19000 113.94 4 MP Last Month    28.485
Name: 19000, dtype: object
19001 508.01 15 MP Last Month    33.8673
Name: 19001, dtype: object
19002 31.56 12 MP Last Month    2.63
Name: 19002, dtype: object
19003 376.04999999999995 15 MP Last Month    25.07
Name: 19003, dtype: object
19004 539.94 15 MP Last Month    35.996
Name: 19004, dtype: object
19005 277.92999999999995 9 MP Last Month    30.8811
Name: 19005, dtype: object
19006 321.34000000000003 14 MP Last Month    22.9529
Name: 19006, dtype: object
19007 279.64 14 MP Last Month    19.9743
Name: 19007, dtype: object
19008 22.96 6 MP Last Month    3.82667
Name: 19008, dtype: object
19009 46.2 15 MP Last Month    3.08
Name: 19009, dtype: object
19010 135.16000000000003 15 MP Last Month    9.01067
Name: 19010, dtype: object
19011 371.18 14 MP Last Month    26.5129
Name: 19011, dtype: object
19012 383.41999999999996 13 MP Last Month    29.4938
Name: 19012, dtype: object
19013 293.22 14 MP Last Month    20.9443
Name: 19013, dtype: object
19014 417.4200000000001 13 MP Last Month    32.1092
Name: 19014, dtype: object
19015 436.89000000000004 14 MP Last Month    31.2064
Name: 19015, dtype: object
19016 251.99 14 MP Last Month    17.9993
Name: 19016, dtype: object
19017 223.41999999999996 14 MP Last Month    15.9586
Name: 19017, dtype: object
19018 93.28 13 MP Last Month    7.17538
Name: 19018, dtype: object
19019 404.5499999999999 14 MP Last Month    28.8964
Name: 19019, dtype: object
19020 179.05 13 MP Last Month    13.7731
Name: 19020, dtype: object
19021 227.64000000000007 13 MP Last Month    17.5108
Name: 19021, dtype: object
19022 7.3 3 MP Last Month    2.43333
Name: 19022, dtype: object
19023 517.2900000000001 14 MP Last Month    36.9493
Name: 19023, dtype: object
19024 180.94 14 MP Last Month    12.9243
Name: 19024, dtype: object
19025 279.94 14 MP Last Month    19.9957
Name: 19025, dtype: object
19026 100.19999999999999 13 MP Last Month    7.70769
Name: 19026, dtype: object
19027 172.44 8 MP Last Month    21.555
Name: 19027, dtype: object
19028 441.73 14 MP Last Month    31.5521
Name: 19028, dtype: object
19029 125.96000000000001 13 MP Last Month    9.68923
Name: 19029, dtype: object
19030 7.52 12 MP Last Month    0.626667
Name: 19030, dtype: object
19031 247.24 8 MP Last Month    30.905
Name: 19031, dtype: object
19032 112.05 9 MP Last Month    12.45
Name: 19032, dtype: object
19033 313.7 14 MP Last Month    22.4071
Name: 19033, dtype: object
19034 247.01 14 MP Last Month    17.6436
Name: 19034, dtype: object
19035 193.27999999999997 10 MP Last Month    19.328
Name: 19035, dtype: object
19036 4.37 4 MP Last Month    1.0925
Name: 19036, dtype: object
19037 111.13 14 MP Last Month    7.93786
Name: 19037, dtype: object
19038 411.88 14 MP Last Month    29.42
Name: 19038, dtype: object
19039 425.58 14 MP Last Month    30.3986
Name: 19039, dtype: object
19040 424.1 14 MP Last Month    30.2929
Name: 19040, dtype: object
19041 232.26999999999998 8 MP Last Month    29.0337
Name: 19041, dtype: object
19042 200.51999999999998 10 MP Last Month    20.052
Name: 19042, dtype: object
19043 141.84 14 MP Last Month    10.1314
Name: 19043, dtype: object
19044 390.59000000000003 14 MP Last Month    27.8993
Name: 19044, dtype: object
19045 257.02 14 MP Last Month    18.3586
Name: 19045, dtype: object
19046 445.12000000000006 14 MP Last Month    31.7943
Name: 19046, dtype: object
19047 384.46999999999997 14 MP Last Month    27.4621
Name: 19047, dtype: object
19048 246.25 14 MP Last Month    17.5893
Name: 19048, dtype: object
19049 266.1 14 MP Last Month    19.0071
Name: 19049, dtype: object
19050 300.3 11 MP Last Month    27.3
Name: 19050, dtype: object
19051 337.75 13 MP Last Month    25.9808
Name: 19051, dtype: object
19052 233.71 14 MP Last Month    16.6936
Name: 19052, dtype: object
19053 381.46999999999997 14 MP Last Month    27.2479
Name: 19053, dtype: object
19054 7.279999999999999 5 MP Last Month    1.456
Name: 19054, dtype: object
19055 40.379999999999995 14 MP Last Month    2.88429
Name: 19055, dtype: object
19056 360.47 15 MP Last Month    24.0313
Name: 19056, dtype: object
19057 475.5999999999999 15 MP Last Month    31.7067
Name: 19057, dtype: object
19058 26.080000000000002 7 MP Last Month    3.72571
Name: 19058, dtype: object
19059 289.28 10 MP Last Month    28.928
Name: 19059, dtype: object
19060 343.31000000000006 13 MP Last Month    26.4085
Name: 19060, dtype: object
19061 91.19 15 MP Last Month    6.07933
Name: 19061, dtype: object
19062 43.66 15 MP Last Month    2.91067
Name: 19062, dtype: object
19063 340.57000000000005 14 MP Last Month    24.3264
Name: 19063, dtype: object
19064 191.3 15 MP Last Month    12.7533
Name: 19064, dtype: object
19065 9.420000000000002 6 MP Last Month    1.57
Name: 19065, dtype: object
19066 10.97 7 MP Last Month    1.56714
Name: 19066, dtype: object
19067 149.29000000000002 15 MP Last Month    9.95267
Name: 19067, dtype: object
19068 184.04000000000002 8 MP Last Month    23.005
Name: 19068, dtype: object
19069 488.08000000000004 14 MP Last Month    34.8629
Name: 19069, dtype: object
19070 59.72 2 MP Last Month    29.86
Name: 19070, dtype: object
19071 105.39999999999999 11 MP Last Month    9.58182
Name: 19071, dtype: object
19072 444.03000000000003 14 MP Last Month    31.7164
Name: 19072, dtype: object
19073 362.94 14 MP Last Month    25.9243
Name: 19073, dtype: object
19074 404.89 14 MP Last Month    28.9207
Name: 19074, dtype: object
19075 131.57 14 MP Last Month    9.39786
Name: 19075, dtype: object
19076 317.16 14 MP Last Month    22.6543
Name: 19076, dtype: object
19077 16.990000000000002 14 MP Last Month    1.21357
Name: 19077, dtype: object
19078 463.41 14 MP Last Month    33.1007
Name: 19078, dtype: object
19079 317.25 14 MP Last Month    22.6607
Name: 19079, dtype: object
19080 37.67 14 MP Last Month    2.69071
Name: 19080, dtype: object
19081 493.0200000000001 13 MP Last Month    37.9246
Name: 19081, dtype: object
19082 411.66999999999996 13 MP Last Month    31.6669
Name: 19082, dtype: object
19083 195.48999999999998 13 MP Last Month    15.0377
Name: 19083, dtype: object
19084 81.43 11 MP Last Month    7.40273
Name: 19084, dtype: object
19085 3.92 2 MP Last Month    1.96
Name: 19085, dtype: object
19086 391.82 13 MP Last Month    30.14
Name: 19086, dtype: object
19087 466.86 13 MP Last Month    35.9123
Name: 19087, dtype: object
19088 203.8 12 MP Last Month    16.9833
Name: 19088, dtype: object
19089 396.34999999999997 13 MP Last Month    30.4885
Name: 19089, dtype: object
19090 275.56 13 MP Last Month    21.1969
Name: 19090, dtype: object
19091 140.04999999999998 12 MP Last Month    11.6708
Name: 19091, dtype: object
19092 444.03 14 MP Last Month    31.7164
Name: 19092, dtype: object
19093 291.55 13 MP Last Month    22.4269
Name: 19093, dtype: object
19094 15.45 1 MP Last Month    15.45
Name: 19094, dtype: object
19095 356.57 13 MP Last Month    27.4285
Name: 19095, dtype: object
19096 142.84 14 MP Last Month    10.2029
Name: 19096, dtype: object
19097 68.08 4 MP Last Month    17.02
Name: 19097, dtype: object
19098 47.61 13 MP Last Month    3.66231
Name: 19098, dtype: object
19099 421.93999999999994 14 MP Last Month    30.1386
Name: 19099, dtype: object
19100 310.45000000000005 12 MP Last Month    25.8708
Name: 19100, dtype: object
19101 211.73 14 MP Last Month    15.1236
Name: 19101, dtype: object
19102 250.73999999999995 14 MP Last Month    17.91
Name: 19102, dtype: object
19103 348.57 10 MP Last Month    34.857
Name: 19103, dtype: object
19104 347.93 15 MP Last Month    23.1953
Name: 19104, dtype: object
19105 404.58 14 MP Last Month    28.8986
Name: 19105, dtype: object
19106 98.81 15 MP Last Month    6.58733
Name: 19106, dtype: object
19107 456.53999999999996 15 MP Last Month    30.436
Name: 19107, dtype: object
19108 371.97 15 MP Last Month    24.798
Name: 19108, dtype: object
19109 326.59000000000003 14 MP Last Month    23.3279
Name: 19109, dtype: object
19110 391.31999999999994 15 MP Last Month    26.088
Name: 19110, dtype: object
19111 81.94 15 MP Last Month    5.46267
Name: 19111, dtype: object
19112 141.74 15 MP Last Month    9.44933
Name: 19112, dtype: object

19113 391.78000000000003 14 MP Last Month    27.9843
Name: 19113, dtype: object
19114 35.0 15 MP Last Month    2.33333
Name: 19114, dtype: object
19115 51.879999999999995 7 MP Last Month    7.41143
Name: 19115, dtype: object
19116 378.26 15 MP Last Month    25.2173
Name: 19116, dtype: object
19117 425.6 15 MP Last Month    28.3733
Name: 19117, dtype: object
19118 141.37 15 MP Last Month    9.42467
Name: 19118, dtype: object
19119 470.6500000000001 15 MP Last Month    31.3767
Name: 19119, dtype: object
19120 443.1 15 MP Last Month    29.54
Name: 19120, dtype: object
19121 235.57999999999998 12 MP Last Month    19.6317
Name: 19121, dtype: object
19122 108.72 10 MP Last Month    10.872
Name: 19122, dtype: object
19123 353.44 12 MP Last Month    29.4533
Name: 19123, dtype: object
19124 360.28999999999996 15 MP Last Month    24.0193
Name: 19124, dtype: object
19125 77.42000000000002 15 MP Last Month    5.16133
Name: 19125, dtype: object
19126 133.32000000000002 11 MP Last Month    12.12
Name: 19126, dtype: object
19127 502.3999999999999 16 MP Last Month    31.4
Name: 19127, dtype: object
19128 397.3999999999999 16 MP Last Month    24.8375
Name: 19128, dtype: object
19129 134.18 15 MP Last Month    8.94533
Name: 19129, dtype: object
19130 176.08 6 MP Last Month    29.3467
Name: 19130, dtype: object
19131 70.74000000000001 15 MP Last Month    4.716
Name: 19131, dtype: object
19132 465.01 16 MP Last Month    29.0631
Name: 19132, dtype: object
19133 86.32000000000001 16 MP Last Month    5.395
Name: 19133, dtype: object
19134 0 0 MP Last Month    0
Name: 19134, dtype: object
19135 218.35000000000002 6 MP Last Month    36.3917
Name: 19135, dtype: object
19136 471.03 13 MP Last Month    36.2331
Name: 19136, dtype: object
19137 251.32000000000002 13 MP Last Month    19.3323
Name: 19137, dtype: object
19138 70.65 2 MP Last Month    35.325
Name: 19138, dtype: object
19139 353.53 11 MP Last Month    32.1391
Name: 19139, dtype: object
19140 346.06999999999994 13 MP Last Month    26.6208
Name: 19140, dtype: object
19141 304.34 12 MP Last Month    25.3617
Name: 19141, dtype: object
19142 224.24 13 MP Last Month    17.2492
Name: 19142, dtype: object
19143 101.0 13 MP Last Month    7.76923
Name: 19143, dtype: object
19144 60.11 13 MP Last Month    4.62385
Name: 19144, dtype: object
19145 466.50000000000006 14 MP Last Month    33.3214
Name: 19145, dtype: object
19146 196.02999999999997 15 MP Last Month    13.0687
Name: 19146, dtype: object
19147 106.45000000000002 6 MP Last Month    17.7417
Name: 19147, dtype: object
19148 153.9 7 MP Last Month    21.9857
Name: 19148, dtype: object
19149 445.86 15 MP Last Month    29.724
Name: 19149, dtype: object
19150 45.9 10 MP Last Month    4.59
Name: 19150, dtype: object
19151 70.97 8 MP Last Month    8.87125
Name: 19151, dtype: object
19152 378.95000000000005 15 MP Last Month    25.2633
Name: 19152, dtype: object
19153 154.31 15 MP Last Month    10.2873
Name: 19153, dtype: object
19154 172.64000000000001 12 MP Last Month    14.3867
Name: 19154, dtype: object
19155 30.939999999999998 3 MP Last Month    10.3133
Name: 19155, dtype: object
19156 292.8 13 MP Last Month    22.5231
Name: 19156, dtype: object
19157 157.25 8 MP Last Month    19.6562
Name: 19157, dtype: object
19158 476.46000000000004 13 MP Last Month    36.6508
Name: 19158, dtype: object
19159 284.90000000000003 13 MP Last Month    21.9154
Name: 19159, dtype: object
19160 347.90000000000003 13 MP Last Month    26.7615
Name: 19160, dtype: object
19161 158.73 13 MP Last Month    12.21
Name: 19161, dtype: object
19162 175.57 13 MP Last Month    13.5054
Name: 19162, dtype: object
19163 12.02 5 MP Last Month    2.404
Name: 19163, dtype: object
19164 14.26 12 MP Last Month    1.18833
Name: 19164, dtype: object
19165 406.27 13 MP Last Month    31.2515
Name: 19165, dtype: object
19166 318.72999999999996 13 MP Last Month    24.5177
Name: 19166, dtype: object
19167 176.49 13 MP Last Month    13.5762
Name: 19167, dtype: object
19168 518.0200000000001 14 MP Last Month    37.0014
Name: 19168, dtype: object
19169 363.32 14 MP Last Month    25.9514
Name: 19169, dtype: object
19170 3.15 2 MP Last Month    1.575
Name: 19170, dtype: object
19171 0.0 12 MP Last Month    0
Name: 19171, dtype: object
19172 533.11 14 MP Last Month    38.0793
Name: 19172, dtype: object
19173 495.3299999999999 14 MP Last Month    35.3807
Name: 19173, dtype: object
19174 391.7 13 MP Last Month    30.1308
Name: 19174, dtype: object
19175 177.85000000000002 13 MP Last Month    13.6808
Name: 19175, dtype: object
19176 108.61 13 MP Last Month    8.35462
Name: 19176, dtype: object
19177 0 0 MP Last Month    0
Name: 19177, dtype: object
19178 455.9899999999999 13 MP Last Month    35.0762
Name: 19178, dtype: object
19179 169.32 11 MP Last Month    15.3927
Name: 19179, dtype: object
19180 199.97 14 MP Last Month    14.2836
Name: 19180, dtype: object
19181 405.77 14 MP Last Month    28.9836
Name: 19181, dtype: object
19182 196.33999999999997 12 MP Last Month    16.3617
Name: 19182, dtype: object
19183 74.27 14 MP Last Month    5.305
Name: 19183, dtype: object
19184 407.57000000000005 14 MP Last Month    29.1121
Name: 19184, dtype: object
19185 423.57 13 MP Last Month    32.5823
Name: 19185, dtype: object
19186 404.77 14 MP Last Month    28.9121
Name: 19186, dtype: object
19187 484.6599999999999 14 MP Last Month    34.6186
Name: 19187, dtype: object
19188 0.0 9 MP Last Month    0
Name: 19188, dtype: object
19189 464.40999999999997 14 MP Last Month    33.1721
Name: 19189, dtype: object
19190 92.69999999999999 14 MP Last Month    6.62143
Name: 19190, dtype: object
19191 34.91 12 MP Last Month    2.90917
Name: 19191, dtype: object
19192 0.0 1 MP Last Month    0
Name: 19192, dtype: object
19193 384.13999999999993 11 MP Last Month    34.9218
Name: 19193, dtype: object
19194 232.29 12 MP Last Month    19.3575
Name: 19194, dtype: object
19195 13.46 7 MP Last Month    1.92286
Name: 19195, dtype: object
19196 317.39000000000004 12 MP Last Month    26.4492
Name: 19196, dtype: object
19197 290.68 12 MP Last Month    24.2233
Name: 19197, dtype: object
19198 281.51 12 MP Last Month    23.4592
Name: 19198, dtype: object
19199 268.58 12 MP Last Month    22.3817
Name: 19199, dtype: object
19200 151.16 9 MP Last Month    16.7956
Name: 19200, dtype: object
19201 308.94000000000005 12 MP Last Month    25.745
Name: 19201, dtype: object
19202 187.95 12 MP Last Month    15.6625
Name: 19202, dtype: object
19203 211.81000000000003 12 MP Last Month    17.6508
Name: 19203, dtype: object
19204 351.50000000000006 15 MP Last Month    23.4333
Name: 19204, dtype: object
19205 460.0899999999999 15 MP Last Month    30.6727
Name: 19205, dtype: object
19206 357.86 11 MP Last Month    32.5327
Name: 19206, dtype: object
19207 308.84999999999997 11 MP Last Month    28.0773
Name: 19207, dtype: object
19208 344.37 14 MP Last Month    24.5979
Name: 19208, dtype: object
19209 341.03000000000003 13 MP Last Month    26.2331
Name: 19209, dtype: object
19210 122.02 15 MP Last Month    8.13467
Name: 19210, dtype: object
19211 63.629999999999995 15 MP Last Month    4.242
Name: 19211, dtype: object
19212 470.58000000000004 14 MP Last Month    33.6129
Name: 19212, dtype: object
19213 184.25000000000003 15 MP Last Month    12.2833
Name: 19213, dtype: object
19214 30.55 6 MP Last Month    5.09167
Name: 19214, dtype: object
19215 24.37 8 MP Last Month    3.04625
Name: 19215, dtype: object
19216 146.14 15 MP Last Month    9.74267
Name: 19216, dtype: object
19217 321.14 13 MP Last Month    24.7031
Name: 19217, dtype: object
19218 422.69 12 MP Last Month    35.2242
Name: 19218, dtype: object
19219 10.71 8 MP Last Month    1.33875
Name: 19219, dtype: object
19220 136.82 8 MP Last Month    17.1025
Name: 19220, dtype: object
19221 312.89 12 MP Last Month    26.0742
Name: 19221, dtype: object
19222 246.33 13 MP Last Month    18.9485
Name: 19222, dtype: object
19223 60.209999999999994 11 MP Last Month    5.47364
Name: 19223, dtype: object
19224 313.14 9 MP Last Month    34.7933
Name: 19224, dtype: object
19225 430.40999999999997 13 MP Last Month    33.1085
Name: 19225, dtype: object
19226 406.73 13 MP Last Month    31.2869
Name: 19226, dtype: object
19227 428.24 14 MP Last Month    30.5886
Name: 19227, dtype: object

19228 0 0 MP Last Month    0
Name: 19228, dtype: object
19229 289.23 14 MP Last Month    20.6593
Name: 19229, dtype: object
19230 391.8500000000001 14 MP Last Month    27.9893
Name: 19230, dtype: object
19231 13.4 1 MP Last Month    13.4
Name: 19231, dtype: object
19232 384.38 14 MP Last Month    27.4557
Name: 19232, dtype: object
19233 330.1599999999999 14 MP Last Month    23.5829
Name: 19233, dtype: object
19234 331.0199999999999 14 MP Last Month    23.6443
Name: 19234, dtype: object
19235 374.63999999999993 14 MP Last Month    26.76
Name: 19235, dtype: object
19236 192.65 11 MP Last Month    17.5136
Name: 19236, dtype: object
19237 262.59 14 MP Last Month    18.7564
Name: 19237, dtype: object
19238 416.7600000000001 13 MP Last Month    32.0585
Name: 19238, dtype: object
19239 442.49 14 MP Last Month    31.6064
Name: 19239, dtype: object
19240 255.75000000000003 14 MP Last Month    18.2679
Name: 19240, dtype: object
19241 238.43000000000004 14 MP Last Month    17.0307
Name: 19241, dtype: object
19242 70.99000000000001 14 MP Last Month    5.07071
Name: 19242, dtype: object
19243 25.25 5 MP Last Month    5.05
Name: 19243, dtype: object
19244 377.12999999999994 13 MP Last Month    29.01
Name: 19244, dtype: object
19245 314.9 14 MP Last Month    22.4929
Name: 19245, dtype: object
19246 456.56000000000006 14 MP Last Month    32.6114
Name: 19246, dtype: object
19247 235.27 14 MP Last Month    16.805
Name: 19247, dtype: object
19248 59.61 14 MP Last Month    4.25786
Name: 19248, dtype: object
19249 344.49 13 MP Last Month    26.4992
Name: 19249, dtype: object
19250 395.97 13 MP Last Month    30.4592
Name: 19250, dtype: object
19251 240.61000000000004 13 MP Last Month    18.5085
Name: 19251, dtype: object
19252 25.53 12 MP Last Month    2.1275
Name: 19252, dtype: object
19253 37.96 2 MP Last Month    18.98
Name: 19253, dtype: object
19254 92.73 8 MP Last Month    11.5913
Name: 19254, dtype: object
19255 120.07000000000001 5 MP Last Month    24.014
Name: 19255, dtype: object
19256 46.2 15 MP Last Month    3.08
Name: 19256, dtype: object
19257 336.01000000000005 13 MP Last Month    25.8469
Name: 19257, dtype: object
19258 0 0 MP Last Month    0
Name: 19258, dtype: object
19259 78.57000000000001 13 MP Last Month    6.04385
Name: 19259, dtype: object
19260 143.55999999999997 8 MP Last Month    17.945
Name: 19260, dtype: object
19261 395.27000000000004 12 MP Last Month    32.9392
Name: 19261, dtype: object
19262 248.04000000000002 13 MP Last Month    19.08
Name: 19262, dtype: object
19263 170.32000000000005 13 MP Last Month    13.1015
Name: 19263, dtype: object
19264 4.46 6 MP Last Month    0.743333
Name: 19264, dtype: object
19265 326.33000000000004 13 MP Last Month    25.1023
Name: 19265, dtype: object
19266 70.0 12 MP Last Month    5.83333
Name: 19266, dtype: object
19267 205.45999999999998 13 MP Last Month    15.8046
Name: 19267, dtype: object
19268 11.46 8 MP Last Month    1.4325
Name: 19268, dtype: object
19269 232.98000000000002 13 MP Last Month    17.9215
Name: 19269, dtype: object
19270 308.42 13 MP Last Month    23.7246
Name: 19270, dtype: object
19271 119.1 12 MP Last Month    9.925
Name: 19271, dtype: object
19272 268.13 9 MP Last Month    29.7922
Name: 19272, dtype: object
19273 443.3299999999999 15 MP Last Month    29.5553
Name: 19273, dtype: object
19274 410.99999999999994 15 MP Last Month    27.4
Name: 19274, dtype: object
19275 32.379999999999995 13 MP Last Month    2.49077
Name: 19275, dtype: object
19276 322.45 13 MP Last Month    24.8038
Name: 19276, dtype: object
19277 242.79 13 MP Last Month    18.6762
Name: 19277, dtype: object
19278 193.44000000000003 15 MP Last Month    12.896
Name: 19278, dtype: object
19279 381.47 15 MP Last Month    25.4313
Name: 19279, dtype: object
19280 11.86 2 MP Last Month    5.93
Name: 19280, dtype: object
19281 45.400000000000006 15 MP Last Month    3.02667
Name: 19281, dtype: object
19282 437.42 15 MP Last Month    29.1613
Name: 19282, dtype: object
19283 307.21000000000004 15 MP Last Month    20.4807
Name: 19283, dtype: object
19284 7.43 2 MP Last Month    3.715
Name: 19284, dtype: object
19285 472.19000000000005 15 MP Last Month    31.4793
Name: 19285, dtype: object
19286 259.09 15 MP Last Month    17.2727
Name: 19286, dtype: object
19287 81.87 13 MP Last Month    6.29769
Name: 19287, dtype: object
19288 148.86 14 MP Last Month    10.6329
Name: 19288, dtype: object
19289 298.93 15 MP Last Month    19.9287
Name: 19289, dtype: object
19290 319.74 15 MP Last Month    21.316
Name: 19290, dtype: object
19291 144.63 13 MP Last Month    11.1254
Name: 19291, dtype: object
19292 381.47 12 MP Last Month    31.7892
Name: 19292, dtype: object
19293 524.4300000000001 14 MP Last Month    37.4593
Name: 19293, dtype: object
19294 222.04999999999998 12 MP Last Month    18.5042
Name: 19294, dtype: object
19295 30.58 11 MP Last Month    2.78
Name: 19295, dtype: object
19296 346.71 11 MP Last Month    31.5191
Name: 19296, dtype: object
19297 392.07000000000005 12 MP Last Month    32.6725
Name: 19297, dtype: object
19298 165.39 12 MP Last Month    13.7825
Name: 19298, dtype: object
19299 110.92 12 MP Last Month    9.24333
Name: 19299, dtype: object
19300 406.95 12 MP Last Month    33.9125
Name: 19300, dtype: object
19301 289.53 12 MP Last Month    24.1275
Name: 19301, dtype: object
19302 90.32 9 MP Last Month    10.0356
Name: 19302, dtype: object
19303 197.76 12 MP Last Month    16.48
Name: 19303, dtype: object
19304 31.86 7 MP Last Month    4.55143
Name: 19304, dtype: object
19305 175.37 8 MP Last Month    21.9213
Name: 19305, dtype: object
19306 325.43 11 MP Last Month    29.5845
Name: 19306, dtype: object
19307 257.94 12 MP Last Month    21.495
Name: 19307, dtype: object
19308 75.16999999999999 12 MP Last Month    6.26417
Name: 19308, dtype: object
19309 418.09 13 MP Last Month    32.1608
Name: 19309, dtype: object
19310 305.81 12 MP Last Month    25.4842
Name: 19310, dtype: object
19311 405.13000000000005 13 MP Last Month    31.1638
Name: 19311, dtype: object
19312 236.58999999999997 12 MP Last Month    19.7158
Name: 19312, dtype: object
19313 113.66 13 MP Last Month    8.74308
Name: 19313, dtype: object
19314 0 0 MP Last Month    0
Name: 19314, dtype: object
19315 0.0 13 MP Last Month    0
Name: 19315, dtype: object
19316 286.78 12 MP Last Month    23.8983
Name: 19316, dtype: object
19317 284.49999999999994 13 MP Last Month    21.8846
Name: 19317, dtype: object
19318 188.68 13 MP Last Month    14.5138
Name: 19318, dtype: object
19319 317.24000000000007 13 MP Last Month    24.4031
Name: 19319, dtype: object
19320 0.0 13 MP Last Month    0
Name: 19320, dtype: object
19321 369.45 14 MP Last Month    26.3893
Name: 19321, dtype: object
19322 379.63 13 MP Last Month    29.2023
Name: 19322, dtype: object
19323 295.52 14 MP Last Month    21.1086
Name: 19323, dtype: object
19324 0 0 MP Last Month    0
Name: 19324, dtype: object
19325 413.5100000000001 13 MP Last Month    31.8085
Name: 19325, dtype: object
19326 257.44 14 MP Last Month    18.3886
Name: 19326, dtype: object
19327 96.08 13 MP Last Month    7.39077
Name: 19327, dtype: object
19328 222.93 14 MP Last Month    15.9236
Name: 19328, dtype: object
19329 396.14 14 MP Last Month    28.2957
Name: 19329, dtype: object
19330 249.51000000000008 14 MP Last Month    17.8221
Name: 19330, dtype: object
19331 186.03000000000003 13 MP Last Month    14.31
Name: 19331, dtype: object
19332 10.1 4 MP Last Month    2.525
Name: 19332, dtype: object
19333 52.31999999999999 4 MP Last Month    13.08
Name: 19333, dtype: object
19334 131.9 8 MP Last Month    16.4875
Name: 19334, dtype: object
19335 319.42 13 MP Last Month    24.5708
Name: 19335, dtype: object
19336 474.91 13 MP Last Month    36.5315
Name: 19336, dtype: object
19337 280.93 13 MP Last Month    21.61
Name: 19337, dtype: object
19338 173.57999999999998 13 MP Last Month    13.3523
Name: 19338, dtype: object
19339 340.34 13 MP Last Month    26.18
Name: 19339, dtype: object
19340 173.52 13 MP Last Month    13.3477
Name: 19340, dtype: object
19341 16.09 13 MP Last Month    1.23769
Name: 19341, dtype: object
19342 13.85 6 MP Last Month    2.30833
Name: 19342, dtype: object
19343 418.04999999999995 13 MP Last Month    32.1577
Name: 19343, dtype: object

19344 166.16 13 MP Last Month    12.7815
Name: 19344, dtype: object
19345 315.05 13 MP Last Month    24.2346
Name: 19345, dtype: object
19346 517.34 14 MP Last Month    36.9529
Name: 19346, dtype: object
19347 181.62 14 MP Last Month    12.9729
Name: 19347, dtype: object
19348 278.74 14 MP Last Month    19.91
Name: 19348, dtype: object
19349 115.73 13 MP Last Month    8.90231
Name: 19349, dtype: object
19350 199.17000000000002 8 MP Last Month    24.8963
Name: 19350, dtype: object
19351 441.64 14 MP Last Month    31.5457
Name: 19351, dtype: object
19352 276.07000000000005 15 MP Last Month    18.4047
Name: 19352, dtype: object
19353 125.96000000000001 13 MP Last Month    9.68923
Name: 19353, dtype: object
19354 17.18 8 MP Last Month    2.1475
Name: 19354, dtype: object
19355 188.35000000000002 5 MP Last Month    37.67
Name: 19355, dtype: object
19356 244.35000000000002 8 MP Last Month    30.5438
Name: 19356, dtype: object
19357 131.88 9 MP Last Month    14.6533
Name: 19357, dtype: object
19358 252.26000000000005 12 MP Last Month    21.0217
Name: 19358, dtype: object
19359 102.55 5 MP Last Month    20.51
Name: 19359, dtype: object
19360 214.13000000000002 12 MP Last Month    17.8442
Name: 19360, dtype: object
19361 297.76000000000005 12 MP Last Month    24.8133
Name: 19361, dtype: object
19362 380.0400000000001 12 MP Last Month    31.67
Name: 19362, dtype: object
19363 157.72 10 MP Last Month    15.772
Name: 19363, dtype: object
19364 359.37000000000006 12 MP Last Month    29.9475
Name: 19364, dtype: object
19365 160.20000000000005 9 MP Last Month    17.8
Name: 19365, dtype: object
19366 132.07 7 MP Last Month    18.8671
Name: 19366, dtype: object
19367 0.0 2 MP Last Month    0
Name: 19367, dtype: object
19368 308.61 12 MP Last Month    25.7175
Name: 19368, dtype: object
19369 470.44999999999993 13 MP Last Month    36.1885
Name: 19369, dtype: object
19370 295.08 13 MP Last Month    22.6985
Name: 19370, dtype: object
19371 349.26 10 MP Last Month    34.926
Name: 19371, dtype: object
19372 314.99 10 MP Last Month    31.499
Name: 19372, dtype: object
19373 535.39 15 MP Last Month    35.6927
Name: 19373, dtype: object
19374 94.99000000000001 13 MP Last Month    7.30692
Name: 19374, dtype: object
19375 155.56 15 MP Last Month    10.3707
Name: 19375, dtype: object
19376 370.65000000000003 11 MP Last Month    33.6955
Name: 19376, dtype: object
19377 59.82000000000001 15 MP Last Month    3.988
Name: 19377, dtype: object
19378 38.64 11 MP Last Month    3.51273
Name: 19378, dtype: object
19379 152.86 12 MP Last Month    12.7383
Name: 19379, dtype: object
19380 335.37 14 MP Last Month    23.955
Name: 19380, dtype: object
19381 280.14 14 MP Last Month    20.01
Name: 19381, dtype: object
19382 324.23 12 MP Last Month    27.0192
Name: 19382, dtype: object
19383 186.84999999999997 10 MP Last Month    18.685
Name: 19383, dtype: object
19384 15.600000000000001 5 MP Last Month    3.12
Name: 19384, dtype: object
19385 108.35 14 MP Last Month    7.73929
Name: 19385, dtype: object
19386 427.5 14 MP Last Month    30.5357
Name: 19386, dtype: object
19387 419.22999999999996 14 MP Last Month    29.945
Name: 19387, dtype: object
19388 441.54 14 MP Last Month    31.5386
Name: 19388, dtype: object
19389 231.96999999999997 8 MP Last Month    28.9962
Name: 19389, dtype: object
19390 155.69 14 MP Last Month    11.1207
Name: 19390, dtype: object
19391 200.82 10 MP Last Month    20.082
Name: 19391, dtype: object
19392 365.36 13 MP Last Month    28.1046
Name: 19392, dtype: object
19393 367.18 13 MP Last Month    28.2446
Name: 19393, dtype: object
19394 236.22 13 MP Last Month    18.1708
Name: 19394, dtype: object
19395 421.8400000000001 13 MP Last Month    32.4492
Name: 19395, dtype: object
19396 354.25 13 MP Last Month    27.25
Name: 19396, dtype: object
19397 434.09000000000003 13 MP Last Month    33.3915
Name: 19397, dtype: object
19398 233.58999999999997 13 MP Last Month    17.9685
Name: 19398, dtype: object
19399 354.09000000000003 13 MP Last Month    27.2377
Name: 19399, dtype: object
19400 217.3 13 MP Last Month    16.7154
Name: 19400, dtype: object
19401 344.73 13 MP Last Month    26.5177
Name: 19401, dtype: object
19402 21.979999999999997 13 MP Last Month    1.69077
Name: 19402, dtype: object
19403 500.85 13 MP Last Month    38.5269
Name: 19403, dtype: object
19404 425.21 13 MP Last Month    32.7085
Name: 19404, dtype: object
19405 186.9 13 MP Last Month    14.3769
Name: 19405, dtype: object
19406 100.75 12 MP Last Month    8.39583
Name: 19406, dtype: object
19407 10.8 3 MP Last Month    3.6
Name: 19407, dtype: object
19408 155.23000000000002 11 MP Last Month    14.1118
Name: 19408, dtype: object
19409 401.50000000000006 13 MP Last Month    30.8846
Name: 19409, dtype: object
19410 471.16999999999996 13 MP Last Month    36.2438
Name: 19410, dtype: object
19411 7.52 12 MP Last Month    0.626667
Name: 19411, dtype: object
19412 202.32 12 MP Last Month    16.86
Name: 19412, dtype: object
19413 291.3 12 MP Last Month    24.275
Name: 19413, dtype: object
19414 289.74 13 MP Last Month    22.2877
Name: 19414, dtype: object
19415 123.11999999999999 12 MP Last Month    10.26
Name: 19415, dtype: object
19416 413.57 13 MP Last Month    31.8131
Name: 19416, dtype: object
19417 245.95 12 MP Last Month    20.4958
Name: 19417, dtype: object
19418 347.91999999999996 12 MP Last Month    28.9933
Name: 19418, dtype: object
19419 83.42999999999999 5 MP Last Month    16.686
Name: 19419, dtype: object
19420 131.22 13 MP Last Month    10.0938
Name: 19420, dtype: object
19421 37.99 12 MP Last Month    3.16583
Name: 19421, dtype: object
19422 282.22 11 MP Last Month    25.6564
Name: 19422, dtype: object
19423 383.9999999999999 13 MP Last Month    29.5385
Name: 19423, dtype: object
19424 215.6 13 MP Last Month    16.5846
Name: 19424, dtype: object
19425 227.01 13 MP Last Month    17.4623
Name: 19425, dtype: object
19426 347.34999999999997 15 MP Last Month    23.1567
Name: 19426, dtype: object
19427 360.37 10 MP Last Month    36.037
Name: 19427, dtype: object
19428 406.78 14 MP Last Month    29.0557
Name: 19428, dtype: object
19429 92.63999999999999 15 MP Last Month    6.176
Name: 19429, dtype: object
19430 330.56000000000006 14 MP Last Month    23.6114
Name: 19430, dtype: object
19431 392.38 15 MP Last Month    26.1587
Name: 19431, dtype: object
19432 467.73999999999995 15 MP Last Month    31.1827
Name: 19432, dtype: object
19433 368.66 15 MP Last Month    24.5773
Name: 19433, dtype: object
19434 67.94 15 MP Last Month    4.52933
Name: 19434, dtype: object
19435 398.80000000000007 14 MP Last Month    28.4857
Name: 19435, dtype: object
19436 146.72 15 MP Last Month    9.78133
Name: 19436, dtype: object
19437 39.879999999999995 7 MP Last Month    5.69714
Name: 19437, dtype: object
19438 28.83 15 MP Last Month    1.922
Name: 19438, dtype: object
19439 420.76 13 MP Last Month    32.3662
Name: 19439, dtype: object
19440 443.14 14 MP Last Month    31.6529
Name: 19440, dtype: object
19441 257.25 14 MP Last Month    18.375
Name: 19441, dtype: object
19442 25.75 6 MP Last Month    4.29167
Name: 19442, dtype: object
19443 233.23000000000002 14 MP Last Month    16.6593
Name: 19443, dtype: object
19444 377.51 13 MP Last Month    29.0392
Name: 19444, dtype: object
19445 335.40999999999997 14 MP Last Month    23.9579
Name: 19445, dtype: object
19446 462.50000000000006 14 MP Last Month    33.0357
Name: 19446, dtype: object
19447 246.49 14 MP Last Month    17.6064
Name: 19447, dtype: object
19448 70.12 14 MP Last Month    5.00857
Name: 19448, dtype: object
19449 486.01 14 MP Last Month    34.715
Name: 19449, dtype: object
19450 253.64 14 MP Last Month    18.1171
Name: 19450, dtype: object
19451 106.47000000000001 14 MP Last Month    7.605
Name: 19451, dtype: object
19452 369.09000000000003 14 MP Last Month    26.3636
Name: 19452, dtype: object
19453 423.3 14 MP Last Month    30.2357
Name: 19453, dtype: object
19454 447.11 14 MP Last Month    31.9364
Name: 19454, dtype: object
19455 296.1 14 MP Last Month    21.15
Name: 19455, dtype: object
19456 258.94 14 MP Last Month    18.4957
Name: 19456, dtype: object
19457 25.91 10 MP Last Month    2.591
Name: 19457, dtype: object
19458 47.4 2 MP Last Month    23.7
Name: 19458, dtype: object

19459 289.06 14 MP Last Month    20.6471
Name: 19459, dtype: object
19460 16.61 14 MP Last Month    1.18643
Name: 19460, dtype: object
19461 346.32000000000005 13 MP Last Month    26.64
Name: 19461, dtype: object
19462 408.68999999999994 13 MP Last Month    31.4377
Name: 19462, dtype: object
19463 243.71000000000004 13 MP Last Month    18.7469
Name: 19463, dtype: object
19464 18.43 12 MP Last Month    1.53583
Name: 19464, dtype: object
19465 67.09 3 MP Last Month    22.3633
Name: 19465, dtype: object
19466 146.91 10 MP Last Month    14.691
Name: 19466, dtype: object
19467 128.7 9 MP Last Month    14.3
Name: 19467, dtype: object
19468 153.09 6 MP Last Month    25.515
Name: 19468, dtype: object
19469 68.92 15 MP Last Month    4.59467
Name: 19469, dtype: object
19470 71.49000000000001 13 MP Last Month    5.49923
Name: 19470, dtype: object
19471 332.22 13 MP Last Month    25.5554
Name: 19471, dtype: object
19472 143.82 5 MP Last Month    28.764
Name: 19472, dtype: object
19473 528.5699999999999 14 MP Last Month    37.755
Name: 19473, dtype: object
19474 456.82000000000005 14 MP Last Month    32.63
Name: 19474, dtype: object
19475 299.44999999999993 10 MP Last Month    29.945
Name: 19475, dtype: object
19476 493.20000000000005 14 MP Last Month    35.2286
Name: 19476, dtype: object
19477 300.3 12 MP Last Month    25.025
Name: 19477, dtype: object
19478 343.96999999999997 14 MP Last Month    24.5693
Name: 19478, dtype: object
19479 281.49 13 MP Last Month    21.6531
Name: 19479, dtype: object
19480 123.88000000000002 14 MP Last Month    8.84857
Name: 19480, dtype: object
19481 364.52000000000004 14 MP Last Month    26.0371
Name: 19481, dtype: object
19482 403.34000000000003 14 MP Last Month    28.81
Name: 19482, dtype: object
19483 156.62 14 MP Last Month    11.1871
Name: 19483, dtype: object
19484 446.79 14 MP Last Month    31.9136
Name: 19484, dtype: object
19485 217.20999999999998 11 MP Last Month    19.7464
Name: 19485, dtype: object
19486 404.9399999999999 14 MP Last Month    28.9243
Name: 19486, dtype: object
19487 120.41999999999999 9 MP Last Month    13.38
Name: 19487, dtype: object
19488 320.81 14 MP Last Month    22.915
Name: 19488, dtype: object
19489 380.89 13 MP Last Month    29.2992
Name: 19489, dtype: object
19490 54.72 14 MP Last Month    3.90857
Name: 19490, dtype: object
19491 504.63 16 MP Last Month    31.5394
Name: 19491, dtype: object
19492 402.2799999999999 16 MP Last Month    25.1425
Name: 19492, dtype: object
19493 160.82000000000002 12 MP Last Month    13.4017
Name: 19493, dtype: object
19494 140.13 15 MP Last Month    9.342
Name: 19494, dtype: object
19495 165.24 6 MP Last Month    27.54
Name: 19495, dtype: object
19496 254.02 12 MP Last Month    21.1683
Name: 19496, dtype: object
19497 224.57 9 MP Last Month    24.9522
Name: 19497, dtype: object
19498 221.07999999999998 14 MP Last Month    15.7914
Name: 19498, dtype: object
19499 97.49000000000001 15 MP Last Month    6.49933
Name: 19499, dtype: object
19500 464.56999999999994 16 MP Last Month    29.0356
Name: 19500, dtype: object
19501 238.64999999999998 12 MP Last Month    19.8875
Name: 19501, dtype: object
19502 111.82000000000001 16 MP Last Month    6.98875
Name: 19502, dtype: object
19503 462.4700000000001 14 MP Last Month    33.0336
Name: 19503, dtype: object
19504 473.94 15 MP Last Month    31.596
Name: 19504, dtype: object
19505 204.75 12 MP Last Month    17.0625
Name: 19505, dtype: object
19506 218.05999999999997 15 MP Last Month    14.5373
Name: 19506, dtype: object
19507 22.57 8 MP Last Month    2.82125
Name: 19507, dtype: object
19508 456.96000000000004 15 MP Last Month    30.464
Name: 19508, dtype: object
19509 99.85 10 MP Last Month    9.985
Name: 19509, dtype: object
19510 183.75 8 MP Last Month    22.9688
Name: 19510, dtype: object
19511 108.17 9 MP Last Month    12.0189
Name: 19511, dtype: object
19512 72.67 10 MP Last Month    7.267
Name: 19512, dtype: object
19513 161.42000000000002 12 MP Last Month    13.4517
Name: 19513, dtype: object
19514 394.52000000000004 15 MP Last Month    26.3013
Name: 19514, dtype: object
19515 185.44 15 MP Last Month    12.3627
Name: 19515, dtype: object
19516 368.82 14 MP Last Month    26.3443
Name: 19516, dtype: object
19517 369.88 13 MP Last Month    28.4523
Name: 19517, dtype: object
19518 293.39 14 MP Last Month    20.9564
Name: 19518, dtype: object
19519 0.88 1 MP Last Month    0.88
Name: 19519, dtype: object
19520 396.59000000000003 13 MP Last Month    30.5069
Name: 19520, dtype: object
19521 235.53 14 MP Last Month    16.8236
Name: 19521, dtype: object
19522 114.25999999999999 13 MP Last Month    8.78923
Name: 19522, dtype: object
19523 264.49 14 MP Last Month    18.8921
Name: 19523, dtype: object
19524 389.40999999999997 14 MP Last Month    27.815
Name: 19524, dtype: object
19525 188.40000000000003 13 MP Last Month    14.4923
Name: 19525, dtype: object
19526 270.8900000000001 14 MP Last Month    19.3493
Name: 19526, dtype: object
19527 10.1 5 MP Last Month    2.02
Name: 19527, dtype: object
19528 153.64 6 MP Last Month    25.6067
Name: 19528, dtype: object
19529 517.3800000000001 14 MP Last Month    36.9557
Name: 19529, dtype: object
19530 280.61 14 MP Last Month    20.0436
Name: 19530, dtype: object
19531 197.85000000000002 14 MP Last Month    14.1321
Name: 19531, dtype: object
19532 122.5 13 MP Last Month    9.42308
Name: 19532, dtype: object
19533 229.17 8 MP Last Month    28.6462
Name: 19533, dtype: object
19534 434.83 14 MP Last Month    31.0593
Name: 19534, dtype: object
19535 183.38 7 MP Last Month    26.1971
Name: 19535, dtype: object
19536 277.77 15 MP Last Month    18.518
Name: 19536, dtype: object
19537 125.96000000000001 13 MP Last Month    9.68923
Name: 19537, dtype: object
19538 17.18 8 MP Last Month    2.1475
Name: 19538, dtype: object
19539 176.39 5 MP Last Month    35.278
Name: 19539, dtype: object
19540 241.3 8 MP Last Month    30.1625
Name: 19540, dtype: object
19541 140.75 10 MP Last Month    14.075
Name: 19541, dtype: object
19542 117.53 6 MP Last Month    19.5883
Name: 19542, dtype: object
19543 282.2900000000001 13 MP Last Month    21.7146
Name: 19543, dtype: object
19544 415.4700000000001 13 MP Last Month    31.9592
Name: 19544, dtype: object
19545 246.76000000000002 13 MP Last Month    18.9815
Name: 19545, dtype: object
19546 321.69000000000005 13 MP Last Month    24.7454
Name: 19546, dtype: object
19547 170.94 11 MP Last Month    15.54
Name: 19547, dtype: object
19548 357.09999999999997 12 MP Last Month    29.7583
Name: 19548, dtype: object
19549 175.27000000000004 10 MP Last Month    17.527
Name: 19549, dtype: object
19550 311.99 13 MP Last Month    23.9992
Name: 19550, dtype: object
19551 135.62 8 MP Last Month    16.9525
Name: 19551, dtype: object
19552 3.55 3 MP Last Month    1.18333
Name: 19552, dtype: object
19553 512.6200000000001 14 MP Last Month    36.6157
Name: 19553, dtype: object
19554 366.73999999999995 14 MP Last Month    26.1957
Name: 19554, dtype: object
19555 5.63 3 MP Last Month    1.87667
Name: 19555, dtype: object
19556 0.0 12 MP Last Month    0
Name: 19556, dtype: object
19557 527.3100000000001 14 MP Last Month    37.665
Name: 19557, dtype: object
19558 491.69999999999993 14 MP Last Month    35.1214
Name: 19558, dtype: object
19559 393.88 13 MP Last Month    30.2985
Name: 19559, dtype: object
19560 188.20999999999995 13 MP Last Month    14.4777
Name: 19560, dtype: object
19561 99.86 13 MP Last Month    7.68154
Name: 19561, dtype: object
19562 437.93999999999994 13 MP Last Month    33.6877
Name: 19562, dtype: object
19563 184.15 11 MP Last Month    16.7409
Name: 19563, dtype: object
19564 206.75 14 MP Last Month    14.7679
Name: 19564, dtype: object
19565 198.04999999999998 12 MP Last Month    16.5042
Name: 19565, dtype: object
19566 404.05999999999995 14 MP Last Month    28.8614
Name: 19566, dtype: object
19567 74.27 14 MP Last Month    5.305
Name: 19567, dtype: object
19568 407.07 14 MP Last Month    29.0764
Name: 19568, dtype: object
19569 409.71000000000004 14 MP Last Month    29.265
Name: 19569, dtype: object
19570 482.28 14 MP Last Month    34.4486
Name: 19570, dtype: object
19571 419.29999999999995 13 MP Last Month    32.2538
Name: 19571, dtype: object
19572 0.0 10 MP Last Month    0
Name: 19572, dtype: object

19573 465.02 14 MP Last Month    33.2157
Name: 19573, dtype: object
19574 92.08999999999999 14 MP Last Month    6.57786
Name: 19574, dtype: object
19575 0.0 2 MP Last Month    0
Name: 19575, dtype: object
19576 34.91 12 MP Last Month    2.90917
Name: 19576, dtype: object
19577 476.0799999999999 14 MP Last Month    34.0057
Name: 19577, dtype: object
19578 360.96000000000004 11 MP Last Month    32.8145
Name: 19578, dtype: object
19579 350.0799999999999 15 MP Last Month    23.3387
Name: 19579, dtype: object
19580 183.47 15 MP Last Month    12.2313
Name: 19580, dtype: object
19581 340.19999999999993 14 MP Last Month    24.3
Name: 19581, dtype: object
19582 346.96000000000004 13 MP Last Month    26.6892
Name: 19582, dtype: object
19583 451.01000000000005 15 MP Last Month    30.0673
Name: 19583, dtype: object
19584 130.12 15 MP Last Month    8.67467
Name: 19584, dtype: object
19585 126.21 15 MP Last Month    8.414
Name: 19585, dtype: object
19586 28.41 6 MP Last Month    4.735
Name: 19586, dtype: object
19587 60.03 15 MP Last Month    4.002
Name: 19587, dtype: object
19588 426.51 12 MP Last Month    35.5425
Name: 19588, dtype: object
19589 323.59000000000003 13 MP Last Month    24.8915
Name: 19589, dtype: object
19590 17.810000000000002 8 MP Last Month    2.22625
Name: 19590, dtype: object
19591 278.19 9 MP Last Month    30.91
Name: 19591, dtype: object
19592 340.36 13 MP Last Month    26.1815
Name: 19592, dtype: object
19593 250.03000000000003 13 MP Last Month    19.2331
Name: 19593, dtype: object
19594 79.28999999999999 12 MP Last Month    6.6075
Name: 19594, dtype: object
19595 134.47 8 MP Last Month    16.8087
Name: 19595, dtype: object
19596 400.5400000000001 13 MP Last Month    30.8108
Name: 19596, dtype: object
19597 436.0 13 MP Last Month    33.5385
Name: 19597, dtype: object
19598 387.55999999999995 12 MP Last Month    32.2967
Name: 19598, dtype: object
19599 37.15 6 MP Last Month    6.19167
Name: 19599, dtype: object
19600 421.58 13 MP Last Month    32.4292
Name: 19600, dtype: object
19601 442.83 13 MP Last Month    34.0638
Name: 19601, dtype: object
19602 210.99 8 MP Last Month    26.3738
Name: 19602, dtype: object
19603 291.95 13 MP Last Month    22.4577
Name: 19603, dtype: object
19604 360.17999999999995 13 MP Last Month    27.7062
Name: 19604, dtype: object
19605 361.49 13 MP Last Month    27.8069
Name: 19605, dtype: object
19606 411.07000000000005 13 MP Last Month    31.6208
Name: 19606, dtype: object
19607 12.03 1 MP Last Month    12.03
Name: 19607, dtype: object
19608 283.09 13 MP Last Month    21.7762
Name: 19608, dtype: object
19609 108.38 12 MP Last Month    9.03167
Name: 19609, dtype: object
19610 131.78 13 MP Last Month    10.1369
Name: 19610, dtype: object
19611 40.620000000000005 13 MP Last Month    3.12462
Name: 19611, dtype: object
19612 0 0 MP Last Month    0
Name: 19612, dtype: object
19613 500.83 13 MP Last Month    38.5254
Name: 19613, dtype: object
19614 432.03000000000003 13 MP Last Month    33.2331
Name: 19614, dtype: object
19615 185.18 13 MP Last Month    14.2446
Name: 19615, dtype: object
19616 99.57 12 MP Last Month    8.2975
Name: 19616, dtype: object
19617 12.200000000000001 4 MP Last Month    3.05
Name: 19617, dtype: object
19618 178.71 11 MP Last Month    16.2464
Name: 19618, dtype: object
19619 476.39 13 MP Last Month    36.6454
Name: 19619, dtype: object
19620 22.119999999999997 12 MP Last Month    1.84333
Name: 19620, dtype: object
19621 403.1 13 MP Last Month    31.0077
Name: 19621, dtype: object
19622 183.57 12 MP Last Month    15.2975
Name: 19622, dtype: object
19623 299.8399999999999 12 MP Last Month    24.9867
Name: 19623, dtype: object
19624 294.46999999999997 13 MP Last Month    22.6515
Name: 19624, dtype: object
19625 97.90000000000002 12 MP Last Month    8.15833
Name: 19625, dtype: object
19626 441.77 14 MP Last Month    31.555
Name: 19626, dtype: object
19627 265.75 13 MP Last Month    20.4423
Name: 19627, dtype: object
19628 382.24999999999994 13 MP Last Month    29.4038
Name: 19628, dtype: object
19629 103.32999999999998 6 MP Last Month    17.2217
Name: 19629, dtype: object
19630 38.29 13 MP Last Month    2.94538
Name: 19630, dtype: object
19631 141.67 14 MP Last Month    10.1193
Name: 19631, dtype: object
19632 419.1699999999999 14 MP Last Month    29.9407
Name: 19632, dtype: object
19633 226.18 14 MP Last Month    16.1557
Name: 19633, dtype: object
19634 238.88 14 MP Last Month    17.0629
Name: 19634, dtype: object
19635 309.85 12 MP Last Month    25.8208
Name: 19635, dtype: object
19636 386.09000000000003 12 MP Last Month    32.1742
Name: 19636, dtype: object
19637 257.34000000000003 13 MP Last Month    19.7954
Name: 19637, dtype: object
19638 170.18999999999997 9 MP Last Month    18.91
Name: 19638, dtype: object
19639 178.3 13 MP Last Month    13.7154
Name: 19639, dtype: object
19640 7.58 7 MP Last Month    1.08286
Name: 19640, dtype: object
19641 334.51 13 MP Last Month    25.7315
Name: 19641, dtype: object
19642 88.62 12 MP Last Month    7.385
Name: 19642, dtype: object
19643 15.84 9 MP Last Month    1.76
Name: 19643, dtype: object
19644 190.07 13 MP Last Month    14.6208
Name: 19644, dtype: object
19645 236.91 13 MP Last Month    18.2238
Name: 19645, dtype: object
19646 299.34000000000003 13 MP Last Month    23.0262
Name: 19646, dtype: object
19647 136.82 13 MP Last Month    10.5246
Name: 19647, dtype: object
19648 382.85999999999996 12 MP Last Month    31.905
Name: 19648, dtype: object
19649 427.62000000000006 13 MP Last Month    32.8938
Name: 19649, dtype: object
19650 181.35999999999999 13 MP Last Month    13.9508
Name: 19650, dtype: object
19651 119.7 13 MP Last Month    9.20769
Name: 19651, dtype: object
19652 441.38 13 MP Last Month    33.9523
Name: 19652, dtype: object
19653 107.89999999999999 10 MP Last Month    10.79
Name: 19653, dtype: object
19654 199.20999999999998 13 MP Last Month    15.3238
Name: 19654, dtype: object
19655 31.86 8 MP Last Month    3.9825
Name: 19655, dtype: object
19656 351.15 12 MP Last Month    29.2625
Name: 19656, dtype: object
19657 202.07 9 MP Last Month    22.4522
Name: 19657, dtype: object
19658 275.01 13 MP Last Month    21.1546
Name: 19658, dtype: object
19659 75.16999999999999 13 MP Last Month    5.78231
Name: 19659, dtype: object
19660 481.5 13 MP Last Month    37.0385
Name: 19660, dtype: object
19661 253.37000000000003 7 MP Last Month    36.1957
Name: 19661, dtype: object
19662 246.70000000000005 13 MP Last Month    18.9769
Name: 19662, dtype: object
19663 358.77 11 MP Last Month    32.6155
Name: 19663, dtype: object
19664 108.38 3 MP Last Month    36.1267
Name: 19664, dtype: object
19665 343.06999999999994 13 MP Last Month    26.39
Name: 19665, dtype: object
19666 384.75000000000006 12 MP Last Month    32.0625
Name: 19666, dtype: object
19667 285.97 12 MP Last Month    23.8308
Name: 19667, dtype: object
19668 229.31 13 MP Last Month    17.6392
Name: 19668, dtype: object
19669 261.35 12 MP Last Month    21.7792
Name: 19669, dtype: object
19670 57.33 13 MP Last Month    4.41
Name: 19670, dtype: object
19671 115.87 13 MP Last Month    8.91308
Name: 19671, dtype: object
19672 417.18999999999994 13 MP Last Month    32.0915
Name: 19672, dtype: object
19673 309.14 12 MP Last Month    25.7617
Name: 19673, dtype: object
19674 408.9200000000001 13 MP Last Month    31.4554
Name: 19674, dtype: object
19675 247.94 12 MP Last Month    20.6617
Name: 19675, dtype: object
19676 120.05000000000001 13 MP Last Month    9.23462
Name: 19676, dtype: object
19677 5.27 1 MP Last Month    5.27
Name: 19677, dtype: object
19678 0.48 13 MP Last Month    0.0369231
Name: 19678, dtype: object
19679 293.76 12 MP Last Month    24.48
Name: 19679, dtype: object
19680 310.26 13 MP Last Month    23.8662
Name: 19680, dtype: object
19681 201.69000000000003 13 MP Last Month    15.5146
Name: 19681, dtype: object
19682 285.62 13 MP Last Month    21.9708
Name: 19682, dtype: object
19683 0.0 13 MP Last Month    0
Name: 19683, dtype: object
19684 424.4599999999999 15 MP Last Month    28.2973
Name: 19684, dtype: object
19685 222.54999999999998 13 MP Last Month    17.1192
Name: 19685, dtype: object
19686 77.36999999999999 15 MP Last Month    5.158
Name: 19686, dtype: object
19687 438.07 15 MP Last Month    29.2047
Name: 19687, dtype: object

19688 514.31 15 MP Last Month    34.2873
Name: 19688, dtype: object
19689 434.68000000000006 15 MP Last Month    28.9787
Name: 19689, dtype: object
19690 448.42999999999995 14 MP Last Month    32.0307
Name: 19690, dtype: object
19691 3.1 11 MP Last Month    0.281818
Name: 19691, dtype: object
19692 491.28999999999996 15 MP Last Month    32.7527
Name: 19692, dtype: object
19693 110.71999999999998 15 MP Last Month    7.38133
Name: 19693, dtype: object
19694 38.01 13 MP Last Month    2.92385
Name: 19694, dtype: object
19695 3.1 3 MP Last Month    1.03333
Name: 19695, dtype: object
19696 284.96 13 MP Last Month    21.92
Name: 19696, dtype: object
19697 469.48999999999995 13 MP Last Month    36.1146
Name: 19697, dtype: object
19698 536.75 15 MP Last Month    35.7833
Name: 19698, dtype: object
19699 347.89 11 MP Last Month    31.6264
Name: 19699, dtype: object
19700 348.87999999999994 10 MP Last Month    34.888
Name: 19700, dtype: object
19701 81.39 13 MP Last Month    6.26077
Name: 19701, dtype: object
19702 162.18 15 MP Last Month    10.812
Name: 19702, dtype: object
19703 120.64 10 MP Last Month    12.064
Name: 19703, dtype: object
19704 339.17 14 MP Last Month    24.2264
Name: 19704, dtype: object
19705 370.21 11 MP Last Month    33.6555
Name: 19705, dtype: object
19706 68.46000000000001 15 MP Last Month    4.564
Name: 19706, dtype: object
19707 141.51000000000002 12 MP Last Month    11.7925
Name: 19707, dtype: object
19708 38.64 11 MP Last Month    3.51273
Name: 19708, dtype: object
19709 368.63 11 MP Last Month    33.5118
Name: 19709, dtype: object
19710 336.4 12 MP Last Month    28.0333
Name: 19710, dtype: object
19711 277.47 14 MP Last Month    19.8193
Name: 19711, dtype: object
19712 207.92999999999995 10 MP Last Month    20.793
Name: 19712, dtype: object
19713 15.600000000000001 6 MP Last Month    2.6
Name: 19713, dtype: object
19714 97.68 14 MP Last Month    6.97714
Name: 19714, dtype: object
19715 422.36 14 MP Last Month    30.1686
Name: 19715, dtype: object
19716 456.21000000000004 14 MP Last Month    32.5864
Name: 19716, dtype: object
19717 429.12 14 MP Last Month    30.6514
Name: 19717, dtype: object
19718 244.82999999999998 8 MP Last Month    30.6037
Name: 19718, dtype: object
19719 187.96 10 MP Last Month    18.796
Name: 19719, dtype: object
19720 173.86 14 MP Last Month    12.4186
Name: 19720, dtype: object
19721 386.78000000000003 11 MP Last Month    35.1618
Name: 19721, dtype: object
19722 215.89000000000001 12 MP Last Month    17.9908
Name: 19722, dtype: object
19723 11.82 7 MP Last Month    1.68857
Name: 19723, dtype: object
19724 265.28000000000003 12 MP Last Month    22.1067
Name: 19724, dtype: object
19725 166.03 10 MP Last Month    16.603
Name: 19725, dtype: object
19726 306.86 12 MP Last Month    25.5717
Name: 19726, dtype: object
19727 304.41 12 MP Last Month    25.3675
Name: 19727, dtype: object
19728 312.69 12 MP Last Month    26.0575
Name: 19728, dtype: object
19729 321.19 12 MP Last Month    26.7658
Name: 19729, dtype: object
19730 192.14 12 MP Last Month    16.0117
Name: 19730, dtype: object
19731 178.77 12 MP Last Month    14.8975
Name: 19731, dtype: object
19732 13.93 4 MP Last Month    3.4825
Name: 19732, dtype: object
19733 370.6599999999999 13 MP Last Month    28.5123
Name: 19733, dtype: object
19734 230.92000000000002 13 MP Last Month    17.7631
Name: 19734, dtype: object
19735 355.23 13 MP Last Month    27.3254
Name: 19735, dtype: object
19736 367.28 13 MP Last Month    28.2523
Name: 19736, dtype: object
19737 219.29000000000002 13 MP Last Month    16.8685
Name: 19737, dtype: object
19738 427.3800000000001 13 MP Last Month    32.8754
Name: 19738, dtype: object
19739 435.96999999999997 13 MP Last Month    33.5362
Name: 19739, dtype: object
19740 139.62 9 MP Last Month    15.5133
Name: 19740, dtype: object
19741 344.6 13 MP Last Month    26.5077
Name: 19741, dtype: object
19742 353.31000000000006 13 MP Last Month    27.1777
Name: 19742, dtype: object
19743 211.15 13 MP Last Month    16.2423
Name: 19743, dtype: object
19744 21.979999999999997 13 MP Last Month    1.69077
Name: 19744, dtype: object
19745 407.93999999999994 13 MP Last Month    31.38
Name: 19745, dtype: object
19746 253.03 13 MP Last Month    19.4638
Name: 19746, dtype: object
19747 14.93 1 MP Last Month    14.93
Name: 19747, dtype: object
19748 371.42 13 MP Last Month    28.5708
Name: 19748, dtype: object
19749 34.68 2 MP Last Month    17.34
Name: 19749, dtype: object
19750 298.84 13 MP Last Month    22.9877
Name: 19750, dtype: object
19751 307.55999999999995 13 MP Last Month    23.6585
Name: 19751, dtype: object
19752 356.03999999999996 13 MP Last Month    27.3877
Name: 19752, dtype: object
19753 236.05999999999995 13 MP Last Month    18.1585
Name: 19753, dtype: object
19754 209.15 12 MP Last Month    17.4292
Name: 19754, dtype: object
19755 429.83 13 MP Last Month    33.0638
Name: 19755, dtype: object
19756 451.12 14 MP Last Month    32.2229
Name: 19756, dtype: object
19757 250.00000000000003 14 MP Last Month    17.8571
Name: 19757, dtype: object
19758 228.93000000000004 14 MP Last Month    16.3521
Name: 19758, dtype: object
19759 38.31 13 MP Last Month    2.94692
Name: 19759, dtype: object
19760 381.60999999999996 13 MP Last Month    29.3546
Name: 19760, dtype: object
19761 339.36 14 MP Last Month    24.24
Name: 19761, dtype: object
19762 0.0 4 MP Last Month    0
Name: 19762, dtype: object
19763 468.3900000000001 14 MP Last Month    33.4564
Name: 19763, dtype: object
19764 251.78 14 MP Last Month    17.9843
Name: 19764, dtype: object
19765 73.13 14 MP Last Month    5.22357
Name: 19765, dtype: object
19766 491.13000000000005 14 MP Last Month    35.0807
Name: 19766, dtype: object
19767 240.74 14 MP Last Month    17.1957
Name: 19767, dtype: object
19768 378.36 14 MP Last Month    27.0257
Name: 19768, dtype: object
19769 434.78000000000003 14 MP Last Month    31.0557
Name: 19769, dtype: object
19770 457.92999999999995 14 MP Last Month    32.7093
Name: 19770, dtype: object
19771 251.99000000000004 14 MP Last Month    17.9993
Name: 19771, dtype: object
19772 307.5 14 MP Last Month    21.9643
Name: 19772, dtype: object
19773 18.13 10 MP Last Month    1.813
Name: 19773, dtype: object
19774 73.38 3 MP Last Month    24.46
Name: 19774, dtype: object
19775 271.09 14 MP Last Month    19.3636
Name: 19775, dtype: object
19776 8.83 14 MP Last Month    0.630714
Name: 19776, dtype: object
19777 303.80999999999995 14 MP Last Month    21.7007
Name: 19777, dtype: object
19778 410.1699999999999 13 MP Last Month    31.5515
Name: 19778, dtype: object
19779 246.53000000000003 13 MP Last Month    18.9638
Name: 19779, dtype: object
19780 352.49 13 MP Last Month    27.1146
Name: 19780, dtype: object
19781 11.73 12 MP Last Month    0.9775
Name: 19781, dtype: object
19782 90.56 4 MP Last Month    22.64
Name: 19782, dtype: object
19783 153.57 10 MP Last Month    15.357
Name: 19783, dtype: object
19784 305.81000000000006 10 MP Last Month    30.581
Name: 19784, dtype: object
19785 191.82 7 MP Last Month    27.4029
Name: 19785, dtype: object
19786 81.04 15 MP Last Month    5.40267
Name: 19786, dtype: object
19787 6.48 1 MP Last Month    6.48
Name: 19787, dtype: object
19788 73.77000000000001 13 MP Last Month    5.67462
Name: 19788, dtype: object
19789 35.19 8 MP Last Month    4.39875
Name: 19789, dtype: object
19790 388.67 12 MP Last Month    32.3892
Name: 19790, dtype: object
19791 264.66 13 MP Last Month    20.3585
Name: 19791, dtype: object
19792 161.19 9 MP Last Month    17.91
Name: 19792, dtype: object
19793 185.05 13 MP Last Month    14.2346
Name: 19793, dtype: object
19794 349.99999999999994 13 MP Last Month    26.9231
Name: 19794, dtype: object
19795 194.29 14 MP Last Month    13.8779
Name: 19795, dtype: object
19796 97.4 13 MP Last Month    7.49231
Name: 19796, dtype: object
19797 24.810000000000002 9 MP Last Month    2.75667
Name: 19797, dtype: object
19798 245.54000000000002 13 MP Last Month    18.8877
Name: 19798, dtype: object
19799 295.14000000000004 13 MP Last Month    22.7031
Name: 19799, dtype: object
19800 136.57 13 MP Last Month    10.5054
Name: 19800, dtype: object
19801 399.79999999999995 15 MP Last Month    26.6533
Name: 19801, dtype: object
19802 447.63 15 MP Last Month    29.842
Name: 19802, dtype: object

19803 271.64 9 MP Last Month    30.1822
Name: 19803, dtype: object
19804 360.68 14 MP Last Month    25.7629
Name: 19804, dtype: object
19805 360.70000000000005 15 MP Last Month    24.0467
Name: 19805, dtype: object
19806 11.86 3 MP Last Month    3.95333
Name: 19806, dtype: object
19807 244.24 13 MP Last Month    18.7877
Name: 19807, dtype: object
19808 184.00000000000003 15 MP Last Month    12.2667
Name: 19808, dtype: object
19809 444.94 15 MP Last Month    29.6627
Name: 19809, dtype: object
19810 323.40999999999997 15 MP Last Month    21.5607
Name: 19810, dtype: object
19811 297.96 12 MP Last Month    24.83
Name: 19811, dtype: object
19812 443.22 14 MP Last Month    31.6586
Name: 19812, dtype: object
19813 239.45 14 MP Last Month    17.1036
Name: 19813, dtype: object
19814 273.21999999999997 14 MP Last Month    19.5157
Name: 19814, dtype: object
19815 118.83000000000003 13 MP Last Month    9.14077
Name: 19815, dtype: object
19816 84.9 12 MP Last Month    7.075
Name: 19816, dtype: object
19817 306.03 14 MP Last Month    21.8593
Name: 19817, dtype: object
19818 79.42999999999999 12 MP Last Month    6.61917
Name: 19818, dtype: object
19819 144.47 12 MP Last Month    12.0392
Name: 19819, dtype: object
19820 350.98 11 MP Last Month    31.9073
Name: 19820, dtype: object
19821 516.0600000000001 14 MP Last Month    36.8614
Name: 19821, dtype: object
19822 30.549999999999997 10 MP Last Month    3.055
Name: 19822, dtype: object
19823 233.92999999999998 13 MP Last Month    17.9946
Name: 19823, dtype: object
19824 536.1999999999999 14 MP Last Month    38.3
Name: 19824, dtype: object
19825 178.74 6 MP Last Month    29.79
Name: 19825, dtype: object
19826 448.27 14 MP Last Month    32.0193
Name: 19826, dtype: object
19827 331.87 14 MP Last Month    23.705
Name: 19827, dtype: object
19828 331.5799999999999 11 MP Last Month    30.1436
Name: 19828, dtype: object
19829 503.05000000000007 14 MP Last Month    35.9321
Name: 19829, dtype: object
19830 302.73 12 MP Last Month    25.2275
Name: 19830, dtype: object
19831 300.21000000000004 13 MP Last Month    23.0931
Name: 19831, dtype: object
19832 29.73 7 MP Last Month    4.24714
Name: 19832, dtype: object
19833 101.64999999999998 11 MP Last Month    9.24091
Name: 19833, dtype: object
19834 134.68 14 MP Last Month    9.62
Name: 19834, dtype: object
19835 410.47 14 MP Last Month    29.3193
Name: 19835, dtype: object
19836 374.11000000000007 14 MP Last Month    26.7221
Name: 19836, dtype: object
19837 168.54000000000005 14 MP Last Month    12.0386
Name: 19837, dtype: object
19838 408.41999999999996 14 MP Last Month    29.1729
Name: 19838, dtype: object
19839 214.81 11 MP Last Month    19.5282
Name: 19839, dtype: object
19840 454.58000000000004 14 MP Last Month    32.47
Name: 19840, dtype: object
19841 151.34 9 MP Last Month    16.8156
Name: 19841, dtype: object
19842 132.7 9 MP Last Month    14.7444
Name: 19842, dtype: object
19843 403.09 14 MP Last Month    28.7921
Name: 19843, dtype: object
19844 318.61 14 MP Last Month    22.7579
Name: 19844, dtype: object
19845 43.03 14 MP Last Month    3.07357
Name: 19845, dtype: object
19846 513.3 16 MP Last Month    32.0812
Name: 19846, dtype: object
19847 407.66999999999996 16 MP Last Month    25.4794
Name: 19847, dtype: object
19848 168.47000000000003 13 MP Last Month    12.9592
Name: 19848, dtype: object
19849 124.94999999999999 15 MP Last Month    8.33
Name: 19849, dtype: object
19850 264.74 12 MP Last Month    22.0617
Name: 19850, dtype: object
19851 236.02999999999997 15 MP Last Month    15.7353
Name: 19851, dtype: object
19852 162.23999999999998 6 MP Last Month    27.04
Name: 19852, dtype: object
19853 244.24 10 MP Last Month    24.424
Name: 19853, dtype: object
19854 93.27 15 MP Last Month    6.218
Name: 19854, dtype: object
19855 471.08000000000004 16 MP Last Month    29.4425
Name: 19855, dtype: object
19856 247.72999999999996 12 MP Last Month    20.6442
Name: 19856, dtype: object
19857 107.47000000000001 16 MP Last Month    6.71688
Name: 19857, dtype: object
19858 446.0899999999999 14 MP Last Month    31.8636
Name: 19858, dtype: object
19859 338.07 13 MP Last Month    26.0054
Name: 19859, dtype: object
19860 446.07000000000005 14 MP Last Month    31.8621
Name: 19860, dtype: object
19861 288.96 13 MP Last Month    22.2277
Name: 19861, dtype: object
19862 135.75 14 MP Last Month    9.69643
Name: 19862, dtype: object
19863 5.27 2 MP Last Month    2.635
Name: 19863, dtype: object
19864 0.48 14 MP Last Month    0.0342857
Name: 19864, dtype: object
19865 304.75 14 MP Last Month    21.7679
Name: 19865, dtype: object
19866 223.86 14 MP Last Month    15.99
Name: 19866, dtype: object
19867 315.51 13 MP Last Month    24.27
Name: 19867, dtype: object
19868 335.48 14 MP Last Month    23.9629
Name: 19868, dtype: object
19869 0.0 14 MP Last Month    0
Name: 19869, dtype: object
19870 362.90000000000003 13 MP Last Month    27.9154
Name: 19870, dtype: object
19871 370.27 14 MP Last Month    26.4479
Name: 19871, dtype: object
19872 292.81999999999994 14 MP Last Month    20.9157
Name: 19872, dtype: object
19873 5.31 2 MP Last Month    2.655
Name: 19873, dtype: object
19874 407.68 13 MP Last Month    31.36
Name: 19874, dtype: object
19875 392.23 13 MP Last Month    30.1715
Name: 19875, dtype: object
19876 234.83 14 MP Last Month    16.7736
Name: 19876, dtype: object
19877 251.80999999999997 14 MP Last Month    17.9864
Name: 19877, dtype: object
19878 131.56 13 MP Last Month    10.12
Name: 19878, dtype: object
19879 384.06999999999994 14 MP Last Month    27.4336
Name: 19879, dtype: object
19880 187.64999999999998 13 MP Last Month    14.4346
Name: 19880, dtype: object
19881 280.01000000000005 14 MP Last Month    20.0007
Name: 19881, dtype: object
19882 14.53 5 MP Last Month    2.906
Name: 19882, dtype: object
19883 118.02000000000001 8 MP Last Month    14.7525
Name: 19883, dtype: object
19884 141.69 7 MP Last Month    20.2414
Name: 19884, dtype: object
19885 319.42 13 MP Last Month    24.5708
Name: 19885, dtype: object
19886 83.69999999999999 5 MP Last Month    16.74
Name: 19886, dtype: object
19887 287.05999999999995 13 MP Last Month    22.0815
Name: 19887, dtype: object
19888 204.85 13 MP Last Month    15.7577
Name: 19888, dtype: object
19889 347.4 13 MP Last Month    26.7231
Name: 19889, dtype: object
19890 171.39000000000001 13 MP Last Month    13.1838
Name: 19890, dtype: object
19891 16.09 13 MP Last Month    1.23769
Name: 19891, dtype: object
19892 420.52 13 MP Last Month    32.3477
Name: 19892, dtype: object
19893 160.39 13 MP Last Month    12.3377
Name: 19893, dtype: object
19894 308.22 13 MP Last Month    23.7092
Name: 19894, dtype: object
19895 145.3 7 MP Last Month    20.7571
Name: 19895, dtype: object
19896 14.330000000000002 5 MP Last Month    2.866
Name: 19896, dtype: object
19897 290.19 13 MP Last Month    22.3223
Name: 19897, dtype: object
19898 428.02000000000004 13 MP Last Month    32.9246
Name: 19898, dtype: object
19899 313.51 13 MP Last Month    24.1162
Name: 19899, dtype: object
19900 241.70999999999998 13 MP Last Month    18.5931
Name: 19900, dtype: object
19901 155.67 11 MP Last Month    14.1518
Name: 19901, dtype: object
19902 353.04999999999995 12 MP Last Month    29.4208
Name: 19902, dtype: object
19903 197.75000000000003 11 MP Last Month    17.9773
Name: 19903, dtype: object
19904 317.64 13 MP Last Month    24.4338
Name: 19904, dtype: object
19905 114.65 8 MP Last Month    14.3313
Name: 19905, dtype: object
19906 3.55 4 MP Last Month    0.8875
Name: 19906, dtype: object
19907 501.44000000000005 14 MP Last Month    35.8171
Name: 19907, dtype: object
19908 15.18 4 MP Last Month    3.795
Name: 19908, dtype: object
19909 0.0 12 MP Last Month    0
Name: 19909, dtype: object
19910 522.0500000000001 14 MP Last Month    37.2893
Name: 19910, dtype: object
19911 387.58000000000004 13 MP Last Month    29.8138
Name: 19911, dtype: object
19912 179.93999999999997 13 MP Last Month    13.8415
Name: 19912, dtype: object
19913 88.38999999999999 13 MP Last Month    6.79923
Name: 19913, dtype: object
19914 1.57 1 MP Last Month    1.57
Name: 19914, dtype: object
19915 438.41 13 MP Last Month    33.7238
Name: 19915, dtype: object
19916 194.07 12 MP Last Month    16.1725
Name: 19916, dtype: object

19917 201.64000000000001 14 MP Last Month    14.4029
Name: 19917, dtype: object
19918 394.37 11 MP Last Month    35.8518
Name: 19918, dtype: object
19919 214.12000000000003 12 MP Last Month    17.8433
Name: 19919, dtype: object
19920 303.6 12 MP Last Month    25.3
Name: 19920, dtype: object
19921 305.99 12 MP Last Month    25.4992
Name: 19921, dtype: object
19922 189.56 11 MP Last Month    17.2327
Name: 19922, dtype: object
19923 259.51000000000005 12 MP Last Month    21.6258
Name: 19923, dtype: object
19924 313.30000000000007 12 MP Last Month    26.1083
Name: 19924, dtype: object
19925 312.06 12 MP Last Month    26.005
Name: 19925, dtype: object
19926 191.09 12 MP Last Month    15.9242
Name: 19926, dtype: object
19927 176.61 12 MP Last Month    14.7175
Name: 19927, dtype: object
19928 13.93 5 MP Last Month    2.786
Name: 19928, dtype: object
19929 437.5 12 MP Last Month    36.4583
Name: 19929, dtype: object
19930 17.810000000000002 9 MP Last Month    1.97889
Name: 19930, dtype: object
19931 283.16999999999996 9 MP Last Month    31.4633
Name: 19931, dtype: object
19932 344.56000000000006 13 MP Last Month    26.5046
Name: 19932, dtype: object
19933 91.94 13 MP Last Month    7.07231
Name: 19933, dtype: object
19934 128.26999999999998 8 MP Last Month    16.0337
Name: 19934, dtype: object
19935 244.99000000000004 13 MP Last Month    18.8454
Name: 19935, dtype: object
19936 404.31 13 MP Last Month    31.1008
Name: 19936, dtype: object
19937 443.04 13 MP Last Month    34.08
Name: 19937, dtype: object
19938 406.35999999999996 13 MP Last Month    31.2585
Name: 19938, dtype: object
19939 32.27 6 MP Last Month    5.37833
Name: 19939, dtype: object
19940 495.53000000000003 13 MP Last Month    38.1177
Name: 19940, dtype: object
19941 108.83999999999999 12 MP Last Month    9.07
Name: 19941, dtype: object
19942 197.91000000000003 13 MP Last Month    15.2238
Name: 19942, dtype: object
19943 466.68 13 MP Last Month    35.8985
Name: 19943, dtype: object
19944 42.06999999999999 13 MP Last Month    3.23615
Name: 19944, dtype: object
19945 373.17999999999995 13 MP Last Month    28.7062
Name: 19945, dtype: object
19946 213.21 11 MP Last Month    19.3827
Name: 19946, dtype: object
19947 170.17 12 MP Last Month    14.1808
Name: 19947, dtype: object
19948 312.25 12 MP Last Month    26.0208
Name: 19948, dtype: object
19949 287.01 13 MP Last Month    22.0777
Name: 19949, dtype: object
19950 92.43000000000002 12 MP Last Month    7.7025
Name: 19950, dtype: object
19951 435.47999999999996 14 MP Last Month    31.1057
Name: 19951, dtype: object
19952 128.26999999999998 14 MP Last Month    9.16214
Name: 19952, dtype: object
19953 119.47999999999999 7 MP Last Month    17.0686
Name: 19953, dtype: object
19954 371.37999999999994 13 MP Last Month    28.5677
Name: 19954, dtype: object
19955 36.42 13 MP Last Month    2.80154
Name: 19955, dtype: object
19956 410.16999999999996 14 MP Last Month    29.2979
Name: 19956, dtype: object
19957 301.33 12 MP Last Month    25.1108
Name: 19957, dtype: object
19958 232.52999999999997 14 MP Last Month    16.6093
Name: 19958, dtype: object
19959 262.34 14 MP Last Month    18.7386
Name: 19959, dtype: object
19960 344.74999999999994 14 MP Last Month    24.625
Name: 19960, dtype: object
19961 367.52000000000004 13 MP Last Month    28.2708
Name: 19961, dtype: object
19962 95.72999999999999 14 MP Last Month    6.83786
Name: 19962, dtype: object
19963 437.41 14 MP Last Month    31.2436
Name: 19963, dtype: object
19964 312.22 13 MP Last Month    24.0169
Name: 19964, dtype: object
19965 363.37000000000006 14 MP Last Month    25.955
Name: 19965, dtype: object
19966 354.90999999999997 14 MP Last Month    25.3507
Name: 19966, dtype: object
19967 62.42 14 MP Last Month    4.45857
Name: 19967, dtype: object
19968 377.41 13 MP Last Month    29.0315
Name: 19968, dtype: object
19969 134.42000000000002 14 MP Last Month    9.60143
Name: 19969, dtype: object
19970 26.299999999999997 14 MP Last Month    1.87857
Name: 19970, dtype: object
19971 25.160000000000004 6 MP Last Month    4.19333
Name: 19971, dtype: object
19972 436.8400000000001 13 MP Last Month    33.6031
Name: 19972, dtype: object
19973 395.40999999999997 12 MP Last Month    32.9508
Name: 19973, dtype: object
19974 187.87 13 MP Last Month    14.4515
Name: 19974, dtype: object
19975 112.51999999999998 13 MP Last Month    8.65538
Name: 19975, dtype: object
19976 449.83 13 MP Last Month    34.6023
Name: 19976, dtype: object
19977 291.36 12 MP Last Month    24.28
Name: 19977, dtype: object
19978 183.10999999999999 13 MP Last Month    14.0854
Name: 19978, dtype: object
19979 99.75000000000001 10 MP Last Month    9.975
Name: 19979, dtype: object
19980 7.02 3 MP Last Month    2.34
Name: 19980, dtype: object
19981 228.67 10 MP Last Month    22.867
Name: 19981, dtype: object
19982 365.83000000000004 12 MP Last Month    30.4858
Name: 19982, dtype: object
19983 273.67 13 MP Last Month    21.0515
Name: 19983, dtype: object
19984 60.65 13 MP Last Month    4.66538
Name: 19984, dtype: object
19985 269.09000000000003 8 MP Last Month    33.6363
Name: 19985, dtype: object
19986 480.36 13 MP Last Month    36.9508
Name: 19986, dtype: object
19987 244.90000000000003 13 MP Last Month    18.8385
Name: 19987, dtype: object
19988 141.53 4 MP Last Month    35.3825
Name: 19988, dtype: object
19989 354.39 11 MP Last Month    32.2173
Name: 19989, dtype: object
19990 380.4200000000001 12 MP Last Month    31.7017
Name: 19990, dtype: object
19991 343.61 13 MP Last Month    26.4315
Name: 19991, dtype: object
19992 239.41 13 MP Last Month    18.4162
Name: 19992, dtype: object
19993 52.9 13 MP Last Month    4.06923
Name: 19993, dtype: object
19994 247.72000000000003 12 MP Last Month    20.6433
Name: 19994, dtype: object
19995 450.84 14 MP Last Month    32.2029
Name: 19995, dtype: object
19996 204.75 12 MP Last Month    17.0625
Name: 19996, dtype: object
19997 227.14 15 MP Last Month    15.1427
Name: 19997, dtype: object
19998 22.57 8 MP Last Month    2.82125
Name: 19998, dtype: object
19999 460.07000000000005 14 MP Last Month    32.8621
Name: 19999, dtype: object
20000 113.25 10 MP Last Month    11.325
Name: 20000, dtype: object
20001 472.03000000000003 15 MP Last Month    31.4687
Name: 20001, dtype: object
20002 190.85 9 MP Last Month    21.2056
Name: 20002, dtype: object
20003 0 0 MP Last Month    0
Name: 20003, dtype: object
20004 177.63 12 MP Last Month    14.8025
Name: 20004, dtype: object
20005 393.77 15 MP Last Month    26.2513
Name: 20005, dtype: object
20006 213.22 15 MP Last Month    14.2147
Name: 20006, dtype: object
20007 507.18000000000006 14 MP Last Month    36.2271
Name: 20007, dtype: object
20008 212.26999999999998 14 MP Last Month    15.1621
Name: 20008, dtype: object
20009 291.4200000000001 14 MP Last Month    20.8157
Name: 20009, dtype: object
20010 127.97 13 MP Last Month    9.84385
Name: 20010, dtype: object
20011 168.07999999999998 7 MP Last Month    24.0114
Name: 20011, dtype: object
20012 435.0 14 MP Last Month    31.0714
Name: 20012, dtype: object
20013 266.3 9 MP Last Month    29.5889
Name: 20013, dtype: object
20014 251.18000000000004 14 MP Last Month    17.9414
Name: 20014, dtype: object
20015 125.96000000000001 13 MP Last Month    9.68923
Name: 20015, dtype: object
20016 238.18 8 MP Last Month    29.7725
Name: 20016, dtype: object
20017 299.40999999999997 12 MP Last Month    24.9508
Name: 20017, dtype: object
20018 174.23 5 MP Last Month    34.846
Name: 20018, dtype: object
20019 153.43 11 MP Last Month    13.9482
Name: 20019, dtype: object
20020 224.2 13 MP Last Month    17.2462
Name: 20020, dtype: object
20021 422.8599999999999 15 MP Last Month    28.1907
Name: 20021, dtype: object
20022 80.82 15 MP Last Month    5.388
Name: 20022, dtype: object
20023 441.4 15 MP Last Month    29.4267
Name: 20023, dtype: object
20024 509.21999999999997 15 MP Last Month    33.948
Name: 20024, dtype: object
20025 437.1600000000001 14 MP Last Month    31.2257
Name: 20025, dtype: object
20026 427.49 15 MP Last Month    28.4993
Name: 20026, dtype: object
20027 6.550000000000001 11 MP Last Month    0.595455
Name: 20027, dtype: object
20028 489.5400000000001 15 MP Last Month    32.636
Name: 20028, dtype: object
20029 109.01999999999998 15 MP Last Month    7.268
Name: 20029, dtype: object

20030 6.550000000000001 4 MP Last Month    1.6375
Name: 20030, dtype: object
20031 45.68 13 MP Last Month    3.51385
Name: 20031, dtype: object
20032 455.56999999999994 13 MP Last Month    35.0438
Name: 20032, dtype: object
20033 270.24 13 MP Last Month    20.7877
Name: 20033, dtype: object
20034 339.63 10 MP Last Month    33.963
Name: 20034, dtype: object
20035 340.77 11 MP Last Month    30.9791
Name: 20035, dtype: object
20036 528.7099999999999 15 MP Last Month    35.2473
Name: 20036, dtype: object
20037 123.96 10 MP Last Month    12.396
Name: 20037, dtype: object
20038 93.49000000000001 13 MP Last Month    7.19154
Name: 20038, dtype: object
20039 180.68 15 MP Last Month    12.0453
Name: 20039, dtype: object
20040 336.20000000000005 14 MP Last Month    24.0143
Name: 20040, dtype: object
20041 402.59 12 MP Last Month    33.5492
Name: 20041, dtype: object
20042 81.86000000000001 15 MP Last Month    5.45733
Name: 20042, dtype: object
20043 126.44000000000001 12 MP Last Month    10.5367
Name: 20043, dtype: object
20044 38.64 12 MP Last Month    3.22
Name: 20044, dtype: object
20045 328.62999999999994 14 MP Last Month    23.4736
Name: 20045, dtype: object
20046 411.89000000000004 14 MP Last Month    29.4207
Name: 20046, dtype: object
20047 51.95 8 MP Last Month    6.49375
Name: 20047, dtype: object
20048 340.74999999999994 12 MP Last Month    28.3958
Name: 20048, dtype: object
20049 311.86 10 MP Last Month    31.186
Name: 20049, dtype: object
20050 323.38 12 MP Last Month    26.9483
Name: 20050, dtype: object
20051 322.85 13 MP Last Month    24.8346
Name: 20051, dtype: object
20052 142.94 14 MP Last Month    10.21
Name: 20052, dtype: object
20053 59.41 14 MP Last Month    4.24357
Name: 20053, dtype: object
20054 426.8399999999999 13 MP Last Month    32.8338
Name: 20054, dtype: object
20055 180.92000000000002 14 MP Last Month    12.9229
Name: 20055, dtype: object
20056 27.79 5 MP Last Month    5.558
Name: 20056, dtype: object
20057 103.35000000000001 14 MP Last Month    7.38214
Name: 20057, dtype: object
20058 411.42 12 MP Last Month    34.285
Name: 20058, dtype: object
20059 237.76000000000002 9 MP Last Month    26.4178
Name: 20059, dtype: object
20060 25.56 2 MP Last Month    12.78
Name: 20060, dtype: object
20061 97.45 12 MP Last Month    8.12083
Name: 20061, dtype: object
20062 309.35 12 MP Last Month    25.7792
Name: 20062, dtype: object
20063 376.14 12 MP Last Month    31.345
Name: 20063, dtype: object
20064 258.8 12 MP Last Month    21.5667
Name: 20064, dtype: object
20065 332.98 12 MP Last Month    27.7483
Name: 20065, dtype: object
20066 2.75 1 MP Last Month    2.75
Name: 20066, dtype: object
20067 111.41 12 MP Last Month    9.28417
Name: 20067, dtype: object
20068 381.04999999999995 12 MP Last Month    31.7542
Name: 20068, dtype: object
20069 257.01 12 MP Last Month    21.4175
Name: 20069, dtype: object
20070 40.35 12 MP Last Month    3.3625
Name: 20070, dtype: object
20071 401.00000000000006 14 MP Last Month    28.6429
Name: 20071, dtype: object
20072 102.52999999999999 15 MP Last Month    6.83533
Name: 20072, dtype: object
20073 0.0 3 MP Last Month    0
Name: 20073, dtype: object
20074 340.6 14 MP Last Month    24.3286
Name: 20074, dtype: object
20075 472.24 15 MP Last Month    31.4827
Name: 20075, dtype: object
20076 378.89 15 MP Last Month    25.2593
Name: 20076, dtype: object
20077 396.87000000000006 15 MP Last Month    26.458
Name: 20077, dtype: object
20078 62.42 15 MP Last Month    4.16133
Name: 20078, dtype: object
20079 412.59000000000003 14 MP Last Month    29.4707
Name: 20079, dtype: object
20080 147.24 15 MP Last Month    9.816
Name: 20080, dtype: object
20081 26.299999999999997 15 MP Last Month    1.75333
Name: 20081, dtype: object
20082 441.7199999999999 14 MP Last Month    31.5514
Name: 20082, dtype: object
20083 37.68 2 MP Last Month    18.84
Name: 20083, dtype: object
20084 269.63 14 MP Last Month    19.2593
Name: 20084, dtype: object
20085 401.3 14 MP Last Month    28.6643
Name: 20085, dtype: object
20086 368.56000000000006 13 MP Last Month    28.3508
Name: 20086, dtype: object
20087 65.81 3 MP Last Month    21.9367
Name: 20087, dtype: object
20088 385.28999999999996 14 MP Last Month    27.5207
Name: 20088, dtype: object
20089 254.80999999999995 14 MP Last Month    18.2007
Name: 20089, dtype: object
20090 230.75 13 MP Last Month    17.75
Name: 20090, dtype: object
20091 436.4800000000001 13 MP Last Month    33.5754
Name: 20091, dtype: object
20092 246.63000000000002 14 MP Last Month    17.6164
Name: 20092, dtype: object
20093 225.15 14 MP Last Month    16.0821
Name: 20093, dtype: object
20094 38.31 13 MP Last Month    2.94692
Name: 20094, dtype: object
20095 374.85999999999996 13 MP Last Month    28.8354
Name: 20095, dtype: object
20096 334.34 14 MP Last Month    23.8814
Name: 20096, dtype: object
20097 0.0 5 MP Last Month    0
Name: 20097, dtype: object
20098 472.3400000000001 14 MP Last Month    33.7386
Name: 20098, dtype: object
20099 271.3 14 MP Last Month    19.3786
Name: 20099, dtype: object
20100 73.13 14 MP Last Month    5.22357
Name: 20100, dtype: object
20101 352.92 13 MP Last Month    27.1477
Name: 20101, dtype: object
20102 415.41999999999996 13 MP Last Month    31.9554
Name: 20102, dtype: object
20103 256.49 13 MP Last Month    19.73
Name: 20103, dtype: object
20104 27.96 12 MP Last Month    2.33
Name: 20104, dtype: object
20105 263.56 10 MP Last Month    26.356
Name: 20105, dtype: object
20106 123.28999999999999 5 MP Last Month    24.658
Name: 20106, dtype: object
20107 47.4 8 MP Last Month    5.925
Name: 20107, dtype: object
20108 157.92 11 MP Last Month    14.3564
Name: 20108, dtype: object
20109 92.80000000000001 15 MP Last Month    6.18667
Name: 20109, dtype: object
20110 226.22 8 MP Last Month    28.2775
Name: 20110, dtype: object
20111 314.59000000000003 12 MP Last Month    26.2158
Name: 20111, dtype: object
20112 74.69000000000001 13 MP Last Month    5.74538
Name: 20112, dtype: object
20113 392.92 12 MP Last Month    32.7433
Name: 20113, dtype: object
20114 260.81000000000006 13 MP Last Month    20.0623
Name: 20114, dtype: object
20115 188.63000000000002 13 MP Last Month    14.51
Name: 20115, dtype: object
20116 180.97 9 MP Last Month    20.1078
Name: 20116, dtype: object
20117 360.24999999999994 13 MP Last Month    27.7115
Name: 20117, dtype: object
20118 99.18 13 MP Last Month    7.62923
Name: 20118, dtype: object
20119 184.59 14 MP Last Month    13.185
Name: 20119, dtype: object
20120 30.330000000000002 9 MP Last Month    3.37
Name: 20120, dtype: object
20121 291.26000000000005 13 MP Last Month    22.4046
Name: 20121, dtype: object
20122 139.64 13 MP Last Month    10.7415
Name: 20122, dtype: object
20123 256.78 13 MP Last Month    19.7523
Name: 20123, dtype: object
20124 24.580000000000002 9 MP Last Month    2.73111
Name: 20124, dtype: object
20125 397.81999999999994 14 MP Last Month    28.4157
Name: 20125, dtype: object
20126 371.01 14 MP Last Month    26.5007
Name: 20126, dtype: object
20127 238.16000000000003 8 MP Last Month    29.77
Name: 20127, dtype: object
20128 0 0 MP Last Month    0
Name: 20128, dtype: object
20129 362.92999999999995 13 MP Last Month    27.9177
Name: 20129, dtype: object
20130 332.35999999999996 14 MP Last Month    23.74
Name: 20130, dtype: object
20131 250.79000000000002 14 MP Last Month    17.9136
Name: 20131, dtype: object
20132 159.45000000000002 14 MP Last Month    11.3893
Name: 20132, dtype: object
20133 13.739999999999998 4 MP Last Month    3.435
Name: 20133, dtype: object
20134 36.28 13 MP Last Month    2.79077
Name: 20134, dtype: object
20135 410.90000000000003 14 MP Last Month    29.35
Name: 20135, dtype: object
20136 258.77000000000004 11 MP Last Month    23.5245
Name: 20136, dtype: object
20137 317.39 14 MP Last Month    22.6707
Name: 20137, dtype: object
20138 431.89 14 MP Last Month    30.8493
Name: 20138, dtype: object
20139 245.34000000000003 14 MP Last Month    17.5243
Name: 20139, dtype: object
20140 110.96000000000002 13 MP Last Month    8.53538
Name: 20140, dtype: object
20141 80.65 12 MP Last Month    6.72083
Name: 20141, dtype: object
20142 321.49 14 MP Last Month    22.9636
Name: 20142, dtype: object
20143 98.8 12 MP Last Month    8.23333
Name: 20143, dtype: object

20144 273.41999999999996 14 MP Last Month    19.53
Name: 20144, dtype: object
20145 344.91 11 MP Last Month    31.3555
Name: 20145, dtype: object
20146 515.91 14 MP Last Month    36.8507
Name: 20146, dtype: object
20147 44.199999999999996 11 MP Last Month    4.01818
Name: 20147, dtype: object
20148 240.74999999999997 13 MP Last Month    18.5192
Name: 20148, dtype: object
20149 436.1600000000001 13 MP Last Month    33.5508
Name: 20149, dtype: object
20150 393.7099999999999 12 MP Last Month    32.8092
Name: 20150, dtype: object
20151 117.54999999999998 13 MP Last Month    9.04231
Name: 20151, dtype: object
20152 448.96 13 MP Last Month    34.5354
Name: 20152, dtype: object
20153 93.47000000000001 10 MP Last Month    9.347
Name: 20153, dtype: object
20154 7.02 4 MP Last Month    1.755
Name: 20154, dtype: object
20155 172.12 13 MP Last Month    13.24
Name: 20155, dtype: object
20156 367.07 12 MP Last Month    30.5892
Name: 20156, dtype: object
20157 52.78000000000001 13 MP Last Month    4.06
Name: 20157, dtype: object
20158 268.7 13 MP Last Month    20.6692
Name: 20158, dtype: object
20159 528.7299999999999 14 MP Last Month    37.7664
Name: 20159, dtype: object
20160 207.99 7 MP Last Month    29.7129
Name: 20160, dtype: object
20161 360.8599999999999 12 MP Last Month    30.0717
Name: 20161, dtype: object
20162 500.87 14 MP Last Month    35.7764
Name: 20162, dtype: object
20163 334.82 14 MP Last Month    23.9157
Name: 20163, dtype: object
20164 305.9 12 MP Last Month    25.4917
Name: 20164, dtype: object
20165 332.04 14 MP Last Month    23.7171
Name: 20165, dtype: object
20166 134.68 14 MP Last Month    9.62
Name: 20166, dtype: object
20167 42.51 8 MP Last Month    5.31375
Name: 20167, dtype: object
20168 92.08 11 MP Last Month    8.37091
Name: 20168, dtype: object
20169 442.8 15 MP Last Month    29.52
Name: 20169, dtype: object
20170 394.61000000000007 15 MP Last Month    26.3073
Name: 20170, dtype: object
20171 168.54000000000005 15 MP Last Month    11.236
Name: 20171, dtype: object
20172 485.1 15 MP Last Month    32.34
Name: 20172, dtype: object
20173 442.44999999999993 15 MP Last Month    29.4967
Name: 20173, dtype: object
20174 235.26 12 MP Last Month    19.605
Name: 20174, dtype: object
20175 161.94 10 MP Last Month    16.194
Name: 20175, dtype: object
20176 132.7 10 MP Last Month    13.27
Name: 20176, dtype: object
20177 339.53000000000003 15 MP Last Month    22.6353
Name: 20177, dtype: object
20178 436.28999999999996 15 MP Last Month    29.086
Name: 20178, dtype: object
20179 45.410000000000004 15 MP Last Month    3.02733
Name: 20179, dtype: object
20180 412.79999999999995 16 MP Last Month    25.8
Name: 20180, dtype: object
20181 111.33 15 MP Last Month    7.422
Name: 20181, dtype: object
20182 511.31 16 MP Last Month    31.9569
Name: 20182, dtype: object
20183 173.77000000000004 14 MP Last Month    12.4121
Name: 20183, dtype: object
20184 150.2 6 MP Last Month    25.0333
Name: 20184, dtype: object
20185 234.06999999999996 15 MP Last Month    15.6047
Name: 20185, dtype: object
20186 283.91 12 MP Last Month    23.6592
Name: 20186, dtype: object
20187 231.67 10 MP Last Month    23.167
Name: 20187, dtype: object
20188 93.11999999999999 15 MP Last Month    6.208
Name: 20188, dtype: object
20189 471.94999999999993 16 MP Last Month    29.4969
Name: 20189, dtype: object
20190 251.85999999999999 12 MP Last Month    20.9883
Name: 20190, dtype: object
20191 107.47000000000001 16 MP Last Month    6.71688
Name: 20191, dtype: object
20192 217.40999999999997 12 MP Last Month    18.1175
Name: 20192, dtype: object
20193 488.73999999999995 15 MP Last Month    32.5827
Name: 20193, dtype: object
20194 460.07000000000005 15 MP Last Month    30.6713
Name: 20194, dtype: object
20195 241.16 16 MP Last Month    15.0725
Name: 20195, dtype: object
20196 22.57 9 MP Last Month    2.50778
Name: 20196, dtype: object
20197 211.43 10 MP Last Month    21.143
Name: 20197, dtype: object
20198 136.27 11 MP Last Month    12.3882
Name: 20198, dtype: object
20199 507.43 16 MP Last Month    31.7144
Name: 20199, dtype: object
20200 21.33 1 MP Last Month    21.33
Name: 20200, dtype: object
20201 195.76 13 MP Last Month    15.0585
Name: 20201, dtype: object
20202 417.44 16 MP Last Month    26.09
Name: 20202, dtype: object
20203 224.69 16 MP Last Month    14.0431
Name: 20203, dtype: object
20204 448.88999999999993 14 MP Last Month    32.0636
Name: 20204, dtype: object
20205 335.34999999999997 13 MP Last Month    25.7962
Name: 20205, dtype: object
20206 309.33 13 MP Last Month    23.7946
Name: 20206, dtype: object
20207 443.33 14 MP Last Month    31.6664
Name: 20207, dtype: object
20208 142.67000000000002 14 MP Last Month    10.1907
Name: 20208, dtype: object
20209 7.1499999999999995 3 MP Last Month    2.38333
Name: 20209, dtype: object
20210 0.48 14 MP Last Month    0.0342857
Name: 20210, dtype: object
20211 318.42 14 MP Last Month    22.7443
Name: 20211, dtype: object
20212 316.18 14 MP Last Month    22.5843
Name: 20212, dtype: object
20213 335.38 14 MP Last Month    23.9557
Name: 20213, dtype: object
20214 227.10999999999999 14 MP Last Month    16.2221
Name: 20214, dtype: object
20215 1.88 14 MP Last Month    0.134286
Name: 20215, dtype: object
20216 366.43000000000006 13 MP Last Month    28.1869
Name: 20216, dtype: object
20217 283.37 14 MP Last Month    20.2407
Name: 20217, dtype: object
20218 373.57 14 MP Last Month    26.6836
Name: 20218, dtype: object
20219 5.58 3 MP Last Month    1.86
Name: 20219, dtype: object
20220 411.64 13 MP Last Month    31.6646
Name: 20220, dtype: object
20221 396.91 13 MP Last Month    30.5315
Name: 20221, dtype: object
20222 231.9 14 MP Last Month    16.5643
Name: 20222, dtype: object
20223 251.43999999999997 14 MP Last Month    17.96
Name: 20223, dtype: object
20224 136.58 13 MP Last Month    10.5062
Name: 20224, dtype: object
20225 388.19000000000005 14 MP Last Month    27.7279
Name: 20225, dtype: object
20226 188.65 13 MP Last Month    14.5115
Name: 20226, dtype: object
20227 269.99 14 MP Last Month    19.285
Name: 20227, dtype: object
20228 14.799999999999999 6 MP Last Month    2.46667
Name: 20228, dtype: object
20229 131.26999999999998 8 MP Last Month    16.4087
Name: 20229, dtype: object
20230 166.26999999999998 8 MP Last Month    20.7837
Name: 20230, dtype: object
20231 88.99999999999999 6 MP Last Month    14.8333
Name: 20231, dtype: object
20232 334.09000000000003 13 MP Last Month    25.6992
Name: 20232, dtype: object
20233 238.18 13 MP Last Month    18.3215
Name: 20233, dtype: object
20234 332.38 13 MP Last Month    25.5677
Name: 20234, dtype: object
20235 304.29999999999995 13 MP Last Month    23.4077
Name: 20235, dtype: object
20236 158.67000000000002 13 MP Last Month    12.2054
Name: 20236, dtype: object
20237 16.09 13 MP Last Month    1.23769
Name: 20237, dtype: object
20238 410.17999999999995 13 MP Last Month    31.5523
Name: 20238, dtype: object
20239 302.13000000000005 13 MP Last Month    23.2408
Name: 20239, dtype: object
20240 164.08999999999997 13 MP Last Month    12.6223
Name: 20240, dtype: object
20241 294.97 13 MP Last Month    22.69
Name: 20241, dtype: object
20242 177.52 8 MP Last Month    22.19
Name: 20242, dtype: object
20243 23.400000000000002 6 MP Last Month    3.9
Name: 20243, dtype: object
20244 299.46999999999997 13 MP Last Month    23.0362
Name: 20244, dtype: object
20245 136.45 11 MP Last Month    12.4045
Name: 20245, dtype: object
20246 419.93000000000006 13 MP Last Month    32.3023
Name: 20246, dtype: object
20247 235.51 13 MP Last Month    18.1162
Name: 20247, dtype: object
20248 221.43000000000004 12 MP Last Month    18.4525
Name: 20248, dtype: object
20249 346.87 12 MP Last Month    28.9058
Name: 20249, dtype: object
20250 93.02 8 MP Last Month    11.6275
Name: 20250, dtype: object
20251 316.49 13 MP Last Month    24.3454
Name: 20251, dtype: object
20252 3.55 5 MP Last Month    0.71
Name: 20252, dtype: object
20253 453.55 13 MP Last Month    34.8885
Name: 20253, dtype: object
20254 262.18 13 MP Last Month    20.1677
Name: 20254, dtype: object
20255 347.26 10 MP Last Month    34.726
Name: 20255, dtype: object
20256 563.2399999999999 16 MP Last Month    35.2025
Name: 20256, dtype: object
20257 341.16999999999996 11 MP Last Month    31.0155
Name: 20257, dtype: object

20258 194.21 16 MP Last Month    12.1381
Name: 20258, dtype: object
20259 138.48 10 MP Last Month    13.848
Name: 20259, dtype: object
20260 320.97 14 MP Last Month    22.9264
Name: 20260, dtype: object
20261 407.65 12 MP Last Month    33.9708
Name: 20261, dtype: object
20262 92.36000000000001 16 MP Last Month    5.7725
Name: 20262, dtype: object
20263 38.64 12 MP Last Month    3.22
Name: 20263, dtype: object
20264 108.51 12 MP Last Month    9.0425
Name: 20264, dtype: object
20265 212.14999999999995 11 MP Last Month    19.2864
Name: 20265, dtype: object
20266 404.0 12 MP Last Month    33.6667
Name: 20266, dtype: object
20267 339.89 12 MP Last Month    28.3242
Name: 20267, dtype: object
20268 82.66 14 MP Last Month    5.90429
Name: 20268, dtype: object
20269 280.37 14 MP Last Month    20.0264
Name: 20269, dtype: object
20270 15.600000000000001 7 MP Last Month    2.22857
Name: 20270, dtype: object
20271 419.54999999999995 14 MP Last Month    29.9679
Name: 20271, dtype: object
20272 466.97 14 MP Last Month    33.355
Name: 20272, dtype: object
20273 423.55999999999995 14 MP Last Month    30.2543
Name: 20273, dtype: object
20274 247.52 8 MP Last Month    30.94
Name: 20274, dtype: object
20275 185.26999999999998 10 MP Last Month    18.527
Name: 20275, dtype: object
20276 188.89000000000001 14 MP Last Month    13.4921
Name: 20276, dtype: object
20277 393.19 11 MP Last Month    35.7445
Name: 20277, dtype: object
20278 200.54000000000002 12 MP Last Month    16.7117
Name: 20278, dtype: object
20279 4.9 6 MP Last Month    0.816667
Name: 20279, dtype: object
20280 305.03000000000003 12 MP Last Month    25.4192
Name: 20280, dtype: object
20281 245.35000000000002 12 MP Last Month    20.4458
Name: 20281, dtype: object
20282 313.63 12 MP Last Month    26.1358
Name: 20282, dtype: object
20283 210.04 12 MP Last Month    17.5033
Name: 20283, dtype: object
20284 305.5 12 MP Last Month    25.4583
Name: 20284, dtype: object
20285 316.19 12 MP Last Month    26.3492
Name: 20285, dtype: object
20286 187.14 12 MP Last Month    15.595
Name: 20286, dtype: object
20287 13.93 6 MP Last Month    2.32167
Name: 20287, dtype: object
20288 167.03 12 MP Last Month    13.9192
Name: 20288, dtype: object
20289 372.01 13 MP Last Month    28.6162
Name: 20289, dtype: object
20290 228.19000000000003 13 MP Last Month    17.5531
Name: 20290, dtype: object
20291 316.17 12 MP Last Month    26.3475
Name: 20291, dtype: object
20292 396.26 12 MP Last Month    33.0217
Name: 20292, dtype: object
20293 422.80000000000007 13 MP Last Month    32.5231
Name: 20293, dtype: object
20294 364.73999999999995 13 MP Last Month    28.0569
Name: 20294, dtype: object
20295 224.41000000000003 13 MP Last Month    17.2623
Name: 20295, dtype: object
20296 139.62 10 MP Last Month    13.962
Name: 20296, dtype: object
20297 348.3299999999999 13 MP Last Month    26.7946
Name: 20297, dtype: object
20298 351.05 13 MP Last Month    27.0038
Name: 20298, dtype: object
20299 204.05999999999997 13 MP Last Month    15.6969
Name: 20299, dtype: object
20300 21.979999999999997 13 MP Last Month    1.69077
Name: 20300, dtype: object
20301 421.8 12 MP Last Month    35.15
Name: 20301, dtype: object
20302 240.63 12 MP Last Month    20.0525
Name: 20302, dtype: object
20303 17.810000000000002 9 MP Last Month    1.97889
Name: 20303, dtype: object
20304 124.93999999999998 8 MP Last Month    15.6175
Name: 20304, dtype: object
20305 249.37 13 MP Last Month    19.1823
Name: 20305, dtype: object
20306 335.73 13 MP Last Month    25.8254
Name: 20306, dtype: object
20307 434.02 13 MP Last Month    33.3862
Name: 20307, dtype: object
20308 388.7900000000001 13 MP Last Month    29.9069
Name: 20308, dtype: object
20309 394.56 13 MP Last Month    30.3508
Name: 20309, dtype: object
20310 32.27 7 MP Last Month    4.61
Name: 20310, dtype: object
20311 482.11 13 MP Last Month    37.0854
Name: 20311, dtype: object
20312 209.26000000000002 13 MP Last Month    16.0969
Name: 20312, dtype: object
20313 128.20999999999998 12 MP Last Month    10.6842
Name: 20313, dtype: object
20314 214.37 11 MP Last Month    19.4882
Name: 20314, dtype: object
20315 458.02000000000004 13 MP Last Month    35.2323
Name: 20315, dtype: object
20316 366.59999999999997 13 MP Last Month    28.2
Name: 20316, dtype: object
20317 66.91999999999999 13 MP Last Month    5.14769
Name: 20317, dtype: object
20318 157.39 12 MP Last Month    13.1158
Name: 20318, dtype: object
20319 343.75 13 MP Last Month    26.4423
Name: 20319, dtype: object
20320 269.36 13 MP Last Month    20.72
Name: 20320, dtype: object
20321 85.23 12 MP Last Month    7.1025
Name: 20321, dtype: object
20322 439.90999999999997 14 MP Last Month    31.4221
Name: 20322, dtype: object
20323 135.78 8 MP Last Month    16.9725
Name: 20323, dtype: object
20324 358.71 13 MP Last Month    27.5931
Name: 20324, dtype: object
20325 140.29 14 MP Last Month    10.0207
Name: 20325, dtype: object
20326 33.35 13 MP Last Month    2.56538
Name: 20326, dtype: object
20327 0 0 MP Last Month    0
Name: 20327, dtype: object
20328 325.7 13 MP Last Month    25.0538
Name: 20328, dtype: object
20329 246.17 14 MP Last Month    17.5836
Name: 20329, dtype: object
20330 227.83999999999997 14 MP Last Month    16.2743
Name: 20330, dtype: object
20331 410.52 14 MP Last Month    29.3229
Name: 20331, dtype: object
20332 225.49 13 MP Last Month    17.3454
Name: 20332, dtype: object
20333 459.33000000000004 13 MP Last Month    35.3331
Name: 20333, dtype: object
20334 76.67999999999999 12 MP Last Month    6.39
Name: 20334, dtype: object
20335 263.99 13 MP Last Month    20.3069
Name: 20335, dtype: object
20336 434.5 13 MP Last Month    33.4231
Name: 20336, dtype: object
20337 360.23 13 MP Last Month    27.71
Name: 20337, dtype: object
20338 405.51 13 MP Last Month    31.1931
Name: 20338, dtype: object
20339 228.89000000000004 13 MP Last Month    17.6069
Name: 20339, dtype: object
20340 271.41999999999996 13 MP Last Month    20.8785
Name: 20340, dtype: object
20341 18.13 9 MP Last Month    2.01444
Name: 20341, dtype: object
20342 108.13 4 MP Last Month    27.0325
Name: 20342, dtype: object
20343 13.25 13 MP Last Month    1.01923
Name: 20343, dtype: object
20344 492.75000000000006 14 MP Last Month    35.1964
Name: 20344, dtype: object
20345 289.0 14 MP Last Month    20.6429
Name: 20345, dtype: object
20346 243.07 14 MP Last Month    17.3621
Name: 20346, dtype: object
20347 127.97 13 MP Last Month    9.84385
Name: 20347, dtype: object
20348 297.82 10 MP Last Month    29.782
Name: 20348, dtype: object
20349 165.18 7 MP Last Month    23.5971
Name: 20349, dtype: object
20350 427.79999999999995 14 MP Last Month    30.5571
Name: 20350, dtype: object
20351 243.96000000000004 14 MP Last Month    17.4257
Name: 20351, dtype: object
20352 125.96000000000001 13 MP Last Month    9.68923
Name: 20352, dtype: object
20353 226.84 8 MP Last Month    28.355
Name: 20353, dtype: object
20354 159.32999999999998 5 MP Last Month    31.866
Name: 20354, dtype: object
20355 318.75 12 MP Last Month    26.5625
Name: 20355, dtype: object
20356 166.83 12 MP Last Month    13.9025
Name: 20356, dtype: object
20357 200.72 9 MP Last Month    22.3022
Name: 20357, dtype: object
20358 23.400000000000002 7 MP Last Month    3.34286
Name: 20358, dtype: object
20359 321.77000000000004 14 MP Last Month    22.9836
Name: 20359, dtype: object
20360 330.15 14 MP Last Month    23.5821
Name: 20360, dtype: object
20361 438.9000000000001 14 MP Last Month    31.35
Name: 20361, dtype: object
20362 151.51999999999998 12 MP Last Month    12.6267
Name: 20362, dtype: object
20363 366.45 13 MP Last Month    28.1885
Name: 20363, dtype: object
20364 121.14 9 MP Last Month    13.46
Name: 20364, dtype: object
20365 249.85000000000002 13 MP Last Month    19.2192
Name: 20365, dtype: object
20366 334.37 14 MP Last Month    23.8836
Name: 20366, dtype: object
20367 3.55 6 MP Last Month    0.591667
Name: 20367, dtype: object
20368 505.59000000000003 14 MP Last Month    36.1136
Name: 20368, dtype: object
20369 21.05 12 MP Last Month    1.75417
Name: 20369, dtype: object
20370 41.25 5 MP Last Month    8.25
Name: 20370, dtype: object
20371 530.77 14 MP Last Month    37.9121
Name: 20371, dtype: object
20372 386.5200000000001 13 MP Last Month    29.7323
Name: 20372, dtype: object

20373 175.30999999999997 13 MP Last Month    13.4854
Name: 20373, dtype: object
20374 76.83999999999999 13 MP Last Month    5.91077
Name: 20374, dtype: object
20375 1.57 2 MP Last Month    0.785
Name: 20375, dtype: object
20376 207.5 13 MP Last Month    15.9615
Name: 20376, dtype: object
20377 438.48 13 MP Last Month    33.7292
Name: 20377, dtype: object
20378 202.08999999999997 14 MP Last Month    14.435
Name: 20378, dtype: object
20379 234.94 13 MP Last Month    18.0723
Name: 20379, dtype: object
20380 412.12 15 MP Last Month    27.4747
Name: 20380, dtype: object
20381 84.83999999999999 15 MP Last Month    5.656
Name: 20381, dtype: object
20382 435.44000000000005 14 MP Last Month    31.1029
Name: 20382, dtype: object
20383 507.04999999999995 15 MP Last Month    33.8033
Name: 20383, dtype: object
20384 416.80999999999995 15 MP Last Month    27.7873
Name: 20384, dtype: object
20385 441.5199999999999 15 MP Last Month    29.4347
Name: 20385, dtype: object
20386 10.57 11 MP Last Month    0.960909
Name: 20386, dtype: object
20387 481.31000000000006 15 MP Last Month    32.0873
Name: 20387, dtype: object
20388 113.24000000000001 15 MP Last Month    7.54933
Name: 20388, dtype: object
20389 49.55 13 MP Last Month    3.81154
Name: 20389, dtype: object
20390 10.57 5 MP Last Month    2.114
Name: 20390, dtype: object
20391 162.34 5 MP Last Month    32.468
Name: 20391, dtype: object
20392 320.56 11 MP Last Month    29.1418
Name: 20392, dtype: object
20393 266.21000000000004 10 MP Last Month    26.621
Name: 20393, dtype: object
20394 0 0 MP Last Month    0
Name: 20394, dtype: object
20395 84.74999999999999 11 MP Last Month    7.70455
Name: 20395, dtype: object
20396 344.66999999999996 11 MP Last Month    31.3336
Name: 20396, dtype: object
20397 284.53999999999996 11 MP Last Month    25.8673
Name: 20397, dtype: object
20398 293.11 11 MP Last Month    26.6464
Name: 20398, dtype: object
20399 53.269999999999996 11 MP Last Month    4.84273
Name: 20399, dtype: object
20400 299.14000000000004 10 MP Last Month    29.914
Name: 20400, dtype: object
20401 11.95 11 MP Last Month    1.08636
Name: 20401, dtype: object
20402 138.0 11 MP Last Month    12.5455
Name: 20402, dtype: object
20403 15.33 5 MP Last Month    3.066
Name: 20403, dtype: object
20404 354.25999999999993 11 MP Last Month    32.2055
Name: 20404, dtype: object
20405 253.49 11 MP Last Month    23.0445
Name: 20405, dtype: object
20406 68.18 3 MP Last Month    22.7267
Name: 20406, dtype: object
20407 99.01 4 MP Last Month    24.7525
Name: 20407, dtype: object
20408 292.94 10 MP Last Month    29.294
Name: 20408, dtype: object
20409 313.06 11 MP Last Month    28.46
Name: 20409, dtype: object
20410 210.86999999999998 10 MP Last Month    21.087
Name: 20410, dtype: object
20411 0 0 MP Last Month    0
Name: 20411, dtype: object
20412 217.34 10 MP Last Month    21.734
Name: 20412, dtype: object
20413 302.24 11 MP Last Month    27.4764
Name: 20413, dtype: object
20414 207.01 11 MP Last Month    18.8191
Name: 20414, dtype: object
20415 226.00000000000003 11 MP Last Month    20.5455
Name: 20415, dtype: object
20416 226.17 10 MP Last Month    22.617
Name: 20416, dtype: object
20417 296.65999999999997 10 MP Last Month    29.666
Name: 20417, dtype: object
20418 43.43 12 MP Last Month    3.61917
Name: 20418, dtype: object
20419 337.64 10 MP Last Month    33.764
Name: 20419, dtype: object
20420 186.55999999999997 7 MP Last Month    26.6514
Name: 20420, dtype: object
20421 150.94 6 MP Last Month    25.1567
Name: 20421, dtype: object
20422 48.1 5 MP Last Month    9.62
Name: 20422, dtype: object
20423 224.64000000000001 9 MP Last Month    24.96
Name: 20423, dtype: object
20424 258.99 9 MP Last Month    28.7767
Name: 20424, dtype: object
20425 22.200000000000003 2 MP Last Month    11.1
Name: 20425, dtype: object
20426 99.37 12 MP Last Month    8.28083
Name: 20426, dtype: object
20427 26.450000000000003 10 MP Last Month    2.645
Name: 20427, dtype: object
20428 340.77000000000004 10 MP Last Month    34.077
Name: 20428, dtype: object
20429 304.48 9 MP Last Month    33.8311
Name: 20429, dtype: object
20430 94.1 10 MP Last Month    9.41
Name: 20430, dtype: object
20431 133.75 9 MP Last Month    14.8611
Name: 20431, dtype: object
20432 348.46999999999997 10 MP Last Month    34.847
Name: 20432, dtype: object
20433 200.31 8 MP Last Month    25.0388
Name: 20433, dtype: object
20434 77.4 7 MP Last Month    11.0571
Name: 20434, dtype: object
20435 120.7 10 MP Last Month    12.07
Name: 20435, dtype: object
20436 20.240000000000002 5 MP Last Month    4.048
Name: 20436, dtype: object
20437 220.64 9 MP Last Month    24.5156
Name: 20437, dtype: object
20438 280.71999999999997 9 MP Last Month    31.1911
Name: 20438, dtype: object
20439 189.09999999999997 10 MP Last Month    18.91
Name: 20439, dtype: object
20440 49.43 10 MP Last Month    4.943
Name: 20440, dtype: object
20441 243.16000000000003 8 MP Last Month    30.395
Name: 20441, dtype: object
20442 416.33 11 MP Last Month    37.8482
Name: 20442, dtype: object
20443 271.52 10 MP Last Month    27.152
Name: 20443, dtype: object
20444 316.84000000000003 10 MP Last Month    31.684
Name: 20444, dtype: object
20445 390.84 11 MP Last Month    35.5309
Name: 20445, dtype: object
20446 232.23999999999998 11 MP Last Month    21.1127
Name: 20446, dtype: object
20447 0 0 MP Last Month    0
Name: 20447, dtype: object
20448 338.62 11 MP Last Month    30.7836
Name: 20448, dtype: object
20449 93.64999999999999 11 MP Last Month    8.51364
Name: 20449, dtype: object
20450 14.649999999999999 8 MP Last Month    1.83125
Name: 20450, dtype: object
20451 326.91999999999996 9 MP Last Month    36.3244
Name: 20451, dtype: object
20452 302.66 9 MP Last Month    33.6289
Name: 20452, dtype: object
20453 186.59 9 MP Last Month    20.7322
Name: 20453, dtype: object
20454 2.48 2 MP Last Month    1.24
Name: 20454, dtype: object
20455 184.57999999999998 5 MP Last Month    36.916
Name: 20455, dtype: object
20456 209.52 7 MP Last Month    29.9314
Name: 20456, dtype: object
20457 250.91 8 MP Last Month    31.3637
Name: 20457, dtype: object
20458 226.66 9 MP Last Month    25.1844
Name: 20458, dtype: object
20459 123.08000000000001 7 MP Last Month    17.5829
Name: 20459, dtype: object
20460 171.59 9 MP Last Month    19.0656
Name: 20460, dtype: object
20461 55.08 8 MP Last Month    6.885
Name: 20461, dtype: object
20462 38.919999999999995 9 MP Last Month    4.32444
Name: 20462, dtype: object
20463 0 0 MP Last Month    0
Name: 20463, dtype: object
20464 256.88 10 MP Last Month    25.688
Name: 20464, dtype: object
20465 363.28999999999996 11 MP Last Month    33.0264
Name: 20465, dtype: object
20466 271.86 10 MP Last Month    27.186
Name: 20466, dtype: object
20467 391.92999999999995 11 MP Last Month    35.63
Name: 20467, dtype: object
20468 96.51 11 MP Last Month    8.77364
Name: 20468, dtype: object
20469 37.9 3 MP Last Month    12.6333
Name: 20469, dtype: object
20470 7.1499999999999995 4 MP Last Month    1.7875
Name: 20470, dtype: object
20471 0.48 11 MP Last Month    0.0436364
Name: 20471, dtype: object
20472 218.60000000000002 11 MP Last Month    19.8727
Name: 20472, dtype: object
20473 266.64000000000004 11 MP Last Month    24.24
Name: 20473, dtype: object
20474 242.01999999999995 11 MP Last Month    22.0018
Name: 20474, dtype: object
20475 249.13 11 MP Last Month    22.6482
Name: 20475, dtype: object
20476 1.88 11 MP Last Month    0.170909
Name: 20476, dtype: object
20477 285.21999999999997 10 MP Last Month    28.522
Name: 20477, dtype: object
20478 225.85000000000002 11 MP Last Month    20.5318
Name: 20478, dtype: object
20479 283.75 11 MP Last Month    25.7955
Name: 20479, dtype: object
20480 335.05999999999995 10 MP Last Month    33.506
Name: 20480, dtype: object
20481 316.51000000000005 10 MP Last Month    31.651
Name: 20481, dtype: object
20482 202.17999999999998 11 MP Last Month    18.38
Name: 20482, dtype: object
20483 178.56 11 MP Last Month    16.2327
Name: 20483, dtype: object
20484 113.95999999999998 10 MP Last Month    11.396
Name: 20484, dtype: object
20485 311.18 11 MP Last Month    28.2891
Name: 20485, dtype: object
20486 159.17999999999998 10 MP Last Month    15.918
Name: 20486, dtype: object
20487 24.42 2 MP Last Month    12.21
Name: 20487, dtype: object

20488 203.38 11 MP Last Month    18.4891
Name: 20488, dtype: object
20489 14.799999999999999 7 MP Last Month    2.11429
Name: 20489, dtype: object
20490 363.52 10 MP Last Month    36.352
Name: 20490, dtype: object
20491 193.50000000000003 10 MP Last Month    19.35
Name: 20491, dtype: object
20492 451.58000000000004 13 MP Last Month    34.7369
Name: 20492, dtype: object
20493 280.2 8 MP Last Month    35.025
Name: 20493, dtype: object
20494 254.60999999999999 8 MP Last Month    31.8262
Name: 20494, dtype: object
20495 188.71 13 MP Last Month    14.5162
Name: 20495, dtype: object
20496 112.80999999999999 7 MP Last Month    16.1157
Name: 20496, dtype: object
20497 254.26 12 MP Last Month    21.1883
Name: 20497, dtype: object
20498 98.88999999999999 13 MP Last Month    7.60692
Name: 20498, dtype: object
20499 55.54 9 MP Last Month    6.17111
Name: 20499, dtype: object
20500 19.12 9 MP Last Month    2.12444
Name: 20500, dtype: object
20501 304.59 9 MP Last Month    33.8433
Name: 20501, dtype: object
20502 253.71 9 MP Last Month    28.19
Name: 20502, dtype: object
20503 207.39999999999998 11 MP Last Month    18.8545
Name: 20503, dtype: object
20504 240.25 11 MP Last Month    21.8409
Name: 20504, dtype: object
20505 33.99 2 MP Last Month    16.995
Name: 20505, dtype: object
20506 80.46999999999998 11 MP Last Month    7.31545
Name: 20506, dtype: object
20507 338.34 11 MP Last Month    30.7582
Name: 20507, dtype: object
20508 349.53000000000003 11 MP Last Month    31.7755
Name: 20508, dtype: object
20509 378.33 11 MP Last Month    34.3936
Name: 20509, dtype: object
20510 190.95000000000002 6 MP Last Month    31.825
Name: 20510, dtype: object
20511 157.84 8 MP Last Month    19.73
Name: 20511, dtype: object
20512 164.03 11 MP Last Month    14.9118
Name: 20512, dtype: object
20513 282.91 8 MP Last Month    35.3638
Name: 20513, dtype: object
20514 154.86999999999998 9 MP Last Month    17.2078
Name: 20514, dtype: object
20515 190.81 9 MP Last Month    21.2011
Name: 20515, dtype: object
20516 215.82999999999998 9 MP Last Month    23.9811
Name: 20516, dtype: object
20517 247.54999999999998 9 MP Last Month    27.5056
Name: 20517, dtype: object
20518 235.77999999999997 9 MP Last Month    26.1978
Name: 20518, dtype: object
20519 165.98 9 MP Last Month    18.4422
Name: 20519, dtype: object
20520 226.10999999999999 9 MP Last Month    25.1233
Name: 20520, dtype: object
20521 22.65 8 MP Last Month    2.83125
Name: 20521, dtype: object
20522 140.01 9 MP Last Month    15.5567
Name: 20522, dtype: object
20523 14.75 7 MP Last Month    2.10714
Name: 20523, dtype: object
20524 101.22999999999999 9 MP Last Month    11.2478
Name: 20524, dtype: object
20525 277.23999999999995 10 MP Last Month    27.724
Name: 20525, dtype: object
20526 187.8 10 MP Last Month    18.78
Name: 20526, dtype: object
20527 236.73 9 MP Last Month    26.3033
Name: 20527, dtype: object
20528 331.29 10 MP Last Month    33.129
Name: 20528, dtype: object
20529 277.55 10 MP Last Month    27.755
Name: 20529, dtype: object
20530 338.63 10 MP Last Month    33.863
Name: 20530, dtype: object
20531 98.78 7 MP Last Month    14.1114
Name: 20531, dtype: object
20532 184.63 10 MP Last Month    18.463
Name: 20532, dtype: object
20533 280.93 10 MP Last Month    28.093
Name: 20533, dtype: object
20534 262.23 10 MP Last Month    26.223
Name: 20534, dtype: object
20535 144.35 10 MP Last Month    14.435
Name: 20535, dtype: object
20536 23.27 10 MP Last Month    2.327
Name: 20536, dtype: object
20537 375.20000000000005 12 MP Last Month    31.2667
Name: 20537, dtype: object
20538 2.25 1 MP Last Month    2.25
Name: 20538, dtype: object
20539 0 0 MP Last Month    0
Name: 20539, dtype: object
20540 162.76 9 MP Last Month    18.0844
Name: 20540, dtype: object
20541 121.96000000000001 12 MP Last Month    10.1633
Name: 20541, dtype: object
20542 38.370000000000005 11 MP Last Month    3.48818
Name: 20542, dtype: object
20543 300.75 12 MP Last Month    25.0625
Name: 20543, dtype: object
20544 346.92 12 MP Last Month    28.91
Name: 20544, dtype: object
20545 187.92000000000002 12 MP Last Month    15.66
Name: 20545, dtype: object
20546 209.31000000000003 12 MP Last Month    17.4425
Name: 20546, dtype: object
20547 349.92 10 MP Last Month    34.992
Name: 20547, dtype: object
20548 177.4 11 MP Last Month    16.1273
Name: 20548, dtype: object
20549 328.29999999999995 10 MP Last Month    32.83
Name: 20549, dtype: object
20550 211.01 11 MP Last Month    19.1827
Name: 20550, dtype: object
20551 347.93 12 MP Last Month    28.9942
Name: 20551, dtype: object
20552 276.82 11 MP Last Month    25.1655
Name: 20552, dtype: object
20553 385.91 11 MP Last Month    35.0827
Name: 20553, dtype: object
20554 239.52 11 MP Last Month    21.7745
Name: 20554, dtype: object
20555 76.39 11 MP Last Month    6.94455
Name: 20555, dtype: object
20556 388.93000000000006 11 MP Last Month    35.3573
Name: 20556, dtype: object
20557 79.38 6 MP Last Month    13.23
Name: 20557, dtype: object
20558 202.41 11 MP Last Month    18.4009
Name: 20558, dtype: object
20559 194.63 10 MP Last Month    19.463
Name: 20559, dtype: object
20560 368.59000000000003 11 MP Last Month    33.5082
Name: 20560, dtype: object
20561 297.98 11 MP Last Month    27.0891
Name: 20561, dtype: object
20562 195.92 11 MP Last Month    17.8109
Name: 20562, dtype: object
20563 345.3 11 MP Last Month    31.3909
Name: 20563, dtype: object
20564 212.07 11 MP Last Month    19.2791
Name: 20564, dtype: object
20565 137.81 5 MP Last Month    27.562
Name: 20565, dtype: object
20566 174.79 10 MP Last Month    17.479
Name: 20566, dtype: object
20567 18.6 11 MP Last Month    1.69091
Name: 20567, dtype: object
20568 208.76000000000002 10 MP Last Month    20.876
Name: 20568, dtype: object
20569 149.6 10 MP Last Month    14.96
Name: 20569, dtype: object
20570 186.77 10 MP Last Month    18.677
Name: 20570, dtype: object
20571 290.28000000000003 10 MP Last Month    29.028
Name: 20571, dtype: object
20572 36.2 10 MP Last Month    3.62
Name: 20572, dtype: object
20573 98.85 10 MP Last Month    9.885
Name: 20573, dtype: object
20574 97.91 10 MP Last Month    9.791
Name: 20574, dtype: object
20575 229.27 10 MP Last Month    22.927
Name: 20575, dtype: object
20576 29.42 7 MP Last Month    4.20286
Name: 20576, dtype: object
20577 125.59 10 MP Last Month    12.559
Name: 20577, dtype: object
20578 233.69 10 MP Last Month    23.369
Name: 20578, dtype: object
20579 184.23999999999998 6 MP Last Month    30.7067
Name: 20579, dtype: object
20580 330.9899999999999 12 MP Last Month    27.5825
Name: 20580, dtype: object
20581 13.12 1 MP Last Month    13.12
Name: 20581, dtype: object
20582 345.90000000000003 12 MP Last Month    28.825
Name: 20582, dtype: object
20583 138.32 5 MP Last Month    27.664
Name: 20583, dtype: object
20584 350.42999999999995 12 MP Last Month    29.2025
Name: 20584, dtype: object
20585 124.50999999999999 12 MP Last Month    10.3758
Name: 20585, dtype: object
20586 13.739999999999998 5 MP Last Month    2.748
Name: 20586, dtype: object
20587 16.979999999999997 11 MP Last Month    1.54364
Name: 20587, dtype: object
20588 271.90000000000003 12 MP Last Month    22.6583
Name: 20588, dtype: object
20589 370.76 12 MP Last Month    30.8967
Name: 20589, dtype: object
20590 220.37 9 MP Last Month    24.4856
Name: 20590, dtype: object
20591 278.79 12 MP Last Month    23.2325
Name: 20591, dtype: object
20592 316.11 10 MP Last Month    31.611
Name: 20592, dtype: object
20593 183.68 10 MP Last Month    18.368
Name: 20593, dtype: object
20594 68.66000000000001 9 MP Last Month    7.62889
Name: 20594, dtype: object
20595 44.620000000000005 9 MP Last Month    4.95778
Name: 20595, dtype: object
20596 184.25000000000003 10 MP Last Month    18.425
Name: 20596, dtype: object
20597 120.42000000000002 9 MP Last Month    13.38
Name: 20597, dtype: object
20598 230.68 10 MP Last Month    23.068
Name: 20598, dtype: object
20599 298.61 9 MP Last Month    33.1789
Name: 20599, dtype: object
20600 365.48 10 MP Last Month    36.548
Name: 20600, dtype: object
20601 40.85 8 MP Last Month    5.10625
Name: 20601, dtype: object
20602 18.7 6 MP Last Month    3.11667
Name: 20602, dtype: object
20603 144.3 10 MP Last Month    14.43
Name: 20603, dtype: object

20604 361.53 12 MP Last Month    30.1275
Name: 20604, dtype: object
20605 326.41 12 MP Last Month    27.2008
Name: 20605, dtype: object
20606 158.84 12 MP Last Month    13.2367
Name: 20606, dtype: object
20607 364.38999999999993 12 MP Last Month    30.3658
Name: 20607, dtype: object
20608 183.51 9 MP Last Month    20.39
Name: 20608, dtype: object
20609 392.44 12 MP Last Month    32.7033
Name: 20609, dtype: object
20610 116.83999999999999 7 MP Last Month    16.6914
Name: 20610, dtype: object
20611 10.76 6 MP Last Month    1.79333
Name: 20611, dtype: object
20612 132.7 11 MP Last Month    12.0636
Name: 20612, dtype: object
20613 274.06 12 MP Last Month    22.8383
Name: 20613, dtype: object
20614 35.68000000000001 12 MP Last Month    2.97333
Name: 20614, dtype: object
20615 380.17 12 MP Last Month    31.6808
Name: 20615, dtype: object
20616 298.84000000000003 12 MP Last Month    24.9033
Name: 20616, dtype: object
20617 64.34 11 MP Last Month    5.84909
Name: 20617, dtype: object
20618 154.46 12 MP Last Month    12.8717
Name: 20618, dtype: object
20619 94.31 4 MP Last Month    23.5775
Name: 20619, dtype: object
20620 158.9 11 MP Last Month    14.4455
Name: 20620, dtype: object
20621 235.93999999999997 9 MP Last Month    26.2156
Name: 20621, dtype: object
20622 107.2 6 MP Last Month    17.8667
Name: 20622, dtype: object
20623 77.93 11 MP Last Month    7.08455
Name: 20623, dtype: object
20624 348.52 12 MP Last Month    29.0433
Name: 20624, dtype: object
20625 195.09 9 MP Last Month    21.6767
Name: 20625, dtype: object
20626 66.56 12 MP Last Month    5.54667
Name: 20626, dtype: object
20627 333.76000000000005 11 MP Last Month    30.3418
Name: 20627, dtype: object
20628 349.68999999999994 11 MP Last Month    31.79
Name: 20628, dtype: object
20629 165.71 9 MP Last Month    18.4122
Name: 20629, dtype: object
20630 22.22 8 MP Last Month    2.7775
Name: 20630, dtype: object
20631 169.84 12 MP Last Month    14.1533
Name: 20631, dtype: object
20632 221.81 11 MP Last Month    20.1645
Name: 20632, dtype: object
20633 109.96 9 MP Last Month    12.2178
Name: 20633, dtype: object
20634 0 0 MP Last Month    0
Name: 20634, dtype: object
20635 394.84000000000003 12 MP Last Month    32.9033
Name: 20635, dtype: object
20636 181.56 11 MP Last Month    16.5055
Name: 20636, dtype: object
20637 192.65 12 MP Last Month    16.0542
Name: 20637, dtype: object
20638 89.6 6 MP Last Month    14.9333
Name: 20638, dtype: object
20639 79.93 5 MP Last Month    15.986
Name: 20639, dtype: object
20640 0.0 1 MP Last Month    0
Name: 20640, dtype: object
20641 94.82999999999998 7 MP Last Month    13.5471
Name: 20641, dtype: object
20642 274.75 10 MP Last Month    27.475
Name: 20642, dtype: object
20643 295.17 8 MP Last Month    36.8963
Name: 20643, dtype: object
20644 240.7 10 MP Last Month    24.07
Name: 20644, dtype: object
20645 102.99 10 MP Last Month    10.299
Name: 20645, dtype: object
20646 240.41000000000003 10 MP Last Month    24.041
Name: 20646, dtype: object
20647 282.09 10 MP Last Month    28.209
Name: 20647, dtype: object
20648 3.1100000000000003 10 MP Last Month    0.311
Name: 20648, dtype: object
20649 226.16000000000003 10 MP Last Month    22.616
Name: 20649, dtype: object
20650 414.52 12 MP Last Month    34.5433
Name: 20650, dtype: object
20651 91.74000000000001 5 MP Last Month    18.348
Name: 20651, dtype: object
20652 266.15 12 MP Last Month    22.1792
Name: 20652, dtype: object
20653 222.58 12 MP Last Month    18.5483
Name: 20653, dtype: object
20654 127.17 12 MP Last Month    10.5975
Name: 20654, dtype: object
20655 332.25 11 MP Last Month    30.2045
Name: 20655, dtype: object
20656 102.08 5 MP Last Month    20.416
Name: 20656, dtype: object
20657 173.83 11 MP Last Month    15.8027
Name: 20657, dtype: object
20658 125.96000000000001 12 MP Last Month    10.4967
Name: 20658, dtype: object
20659 183.84000000000003 12 MP Last Month    15.32
Name: 20659, dtype: object
20660 98.63999999999999 4 MP Last Month    24.66
Name: 20660, dtype: object
20661 179.62 6 MP Last Month    29.9367
Name: 20661, dtype: object
20662 294.78 10 MP Last Month    29.478
Name: 20662, dtype: object
20663 28.18 1 MP Last Month    28.18
Name: 20663, dtype: object
20664 287.09 13 MP Last Month    22.0838
Name: 20664, dtype: object
20665 49.3 8 MP Last Month    6.1625
Name: 20665, dtype: object
20666 302.38000000000005 13 MP Last Month    23.26
Name: 20666, dtype: object
20667 403.79999999999995 13 MP Last Month    31.0615
Name: 20667, dtype: object
20668 151.51999999999998 13 MP Last Month    11.6554
Name: 20668, dtype: object
20669 0 0 MP Last Month    0
Name: 20669, dtype: object
20670 211.75999999999996 12 MP Last Month    17.6467
Name: 20670, dtype: object
20671 268.69 10 MP Last Month    26.869
Name: 20671, dtype: object
20672 293.87 13 MP Last Month    22.6054
Name: 20672, dtype: object
20673 243.5 12 MP Last Month    20.2917
Name: 20673, dtype: object
20674 111.85 8 MP Last Month    13.9812
Name: 20674, dtype: object
20675 363.44999999999993 10 MP Last Month    36.345
Name: 20675, dtype: object
20676 206.79000000000002 8 MP Last Month    25.8488
Name: 20676, dtype: object
20677 55.58 5 MP Last Month    11.116
Name: 20677, dtype: object
20678 44.07 9 MP Last Month    4.89667
Name: 20678, dtype: object
20679 382.35999999999996 10 MP Last Month    38.236
Name: 20679, dtype: object
20680 272.4599999999999 8 MP Last Month    34.0575
Name: 20680, dtype: object
20681 277.04 9 MP Last Month    30.7822
Name: 20681, dtype: object
20682 125.01 9 MP Last Month    13.89
Name: 20682, dtype: object
20683 0 0 MP Last Month    0
Name: 20683, dtype: object
20684 32.78 9 MP Last Month    3.64222
Name: 20684, dtype: object
20685 293.06 9 MP Last Month    32.5622
Name: 20685, dtype: object
20686 173.86999999999998 10 MP Last Month    17.387
Name: 20686, dtype: object
20687 156.81 10 MP Last Month    15.681
Name: 20687, dtype: object
20688 318.0400000000001 12 MP Last Month    26.5033
Name: 20688, dtype: object
20689 180.47 10 MP Last Month    18.047
Name: 20689, dtype: object
20690 90.18999999999998 12 MP Last Month    7.51583
Name: 20690, dtype: object
20691 399.36000000000007 12 MP Last Month    33.28
Name: 20691, dtype: object
20692 388.42999999999995 12 MP Last Month    32.3692
Name: 20692, dtype: object
20693 321.39000000000004 12 MP Last Month    26.7825
Name: 20693, dtype: object
20694 341.01 12 MP Last Month    28.4175
Name: 20694, dtype: object
20695 371.95 12 MP Last Month    30.9958
Name: 20695, dtype: object
20696 115.15 12 MP Last Month    9.59583
Name: 20696, dtype: object
20697 19.990000000000002 10 MP Last Month    1.999
Name: 20697, dtype: object
20698 15.92 6 MP Last Month    2.65333
Name: 20698, dtype: object
20699 267.4 11 MP Last Month    24.3091
Name: 20699, dtype: object
20700 173.23999999999998 6 MP Last Month    28.8733
Name: 20700, dtype: object
20701 318.96 11 MP Last Month    28.9964
Name: 20701, dtype: object
20702 245.19 7 MP Last Month    35.0271
Name: 20702, dtype: object
20703 290.37 10 MP Last Month    29.037
Name: 20703, dtype: object
20704 266.69 11 MP Last Month    24.2445
Name: 20704, dtype: object
20705 246.42000000000002 9 MP Last Month    27.38
Name: 20705, dtype: object
20706 125.05 11 MP Last Month    11.3682
Name: 20706, dtype: object
20707 52.239999999999995 11 MP Last Month    4.74909
Name: 20707, dtype: object
20708 138.60999999999999 11 MP Last Month    12.6009
Name: 20708, dtype: object
20709 332.96 10 MP Last Month    33.296
Name: 20709, dtype: object
20710 26.650000000000002 8 MP Last Month    3.33125
Name: 20710, dtype: object
20711 74.2 11 MP Last Month    6.74545
Name: 20711, dtype: object
20712 319.71000000000004 9 MP Last Month    35.5233
Name: 20712, dtype: object
20713 215.16 11 MP Last Month    19.56
Name: 20713, dtype: object
20714 81.1 9 MP Last Month    9.01111
Name: 20714, dtype: object
20715 0 0 MP Last Month    0
Name: 20715, dtype: object
20716 235.95999999999998 8 MP Last Month    29.495
Name: 20716, dtype: object
20717 260.81 10 MP Last Month    26.081
Name: 20717, dtype: object
20718 160.65999999999997 9 MP Last Month    17.8511
Name: 20718, dtype: object
20719 195.60000000000002 10 MP Last Month    19.56
Name: 20719, dtype: object
20720 0 0 MP Last Month    0
Name: 20720, dtype: object

20721 337.86 10 MP Last Month    33.786
Name: 20721, dtype: object
20722 303.40000000000003 10 MP Last Month    30.34
Name: 20722, dtype: object
20723 293.61 10 MP Last Month    29.361
Name: 20723, dtype: object
20724 9.72 5 MP Last Month    1.944
Name: 20724, dtype: object
20725 316.53000000000003 9 MP Last Month    35.17
Name: 20725, dtype: object
20726 255.7 9 MP Last Month    28.4111
Name: 20726, dtype: object
20727 34.83 3 MP Last Month    11.61
Name: 20727, dtype: object
20728 38.75 9 MP Last Month    4.30556
Name: 20728, dtype: object
20729 248.79999999999998 9 MP Last Month    27.6444
Name: 20729, dtype: object
20730 282.69 9 MP Last Month    31.41
Name: 20730, dtype: object
20731 201.85999999999999 9 MP Last Month    22.4289
Name: 20731, dtype: object
20732 176.30999999999997 9 MP Last Month    19.59
Name: 20732, dtype: object
20733 2.75 2 MP Last Month    1.375
Name: 20733, dtype: object
20734 73.44 9 MP Last Month    8.16
Name: 20734, dtype: object
20735 287.16 9 MP Last Month    31.9067
Name: 20735, dtype: object
20736 189.05 9 MP Last Month    21.0056
Name: 20736, dtype: object
20737 30.119999999999997 9 MP Last Month    3.34667
Name: 20737, dtype: object
20738 451.82 12 MP Last Month    37.6517
Name: 20738, dtype: object
20739 321.02000000000004 10 MP Last Month    32.102
Name: 20739, dtype: object
20740 186.0 12 MP Last Month    15.5
Name: 20740, dtype: object
20741 418.1000000000001 12 MP Last Month    34.8417
Name: 20741, dtype: object
20742 183.59 8 MP Last Month    22.9488
Name: 20742, dtype: object
20743 86.03999999999999 11 MP Last Month    7.82182
Name: 20743, dtype: object
20744 118.67 11 MP Last Month    10.7882
Name: 20744, dtype: object
20745 284.74 10 MP Last Month    28.474
Name: 20745, dtype: object
20746 360.53 12 MP Last Month    30.0442
Name: 20746, dtype: object
20747 247.14999999999998 12 MP Last Month    20.5958
Name: 20747, dtype: object
20748 57.510000000000005 11 MP Last Month    5.22818
Name: 20748, dtype: object
20749 379.13000000000005 12 MP Last Month    31.5942
Name: 20749, dtype: object
20750 13.7 2 MP Last Month    6.85
Name: 20750, dtype: object
20751 0.0 1 MP Last Month    0
Name: 20751, dtype: object
20752 196.35999999999999 10 MP Last Month    19.636
Name: 20752, dtype: object
20753 20.29 11 MP Last Month    1.84455
Name: 20753, dtype: object
20754 137.94 12 MP Last Month    11.495
Name: 20754, dtype: object
20755 299.05 12 MP Last Month    24.9208
Name: 20755, dtype: object
20756 351.98 12 MP Last Month    29.3317
Name: 20756, dtype: object
20757 208.42 12 MP Last Month    17.3683
Name: 20757, dtype: object
20758 185.08999999999997 12 MP Last Month    15.4242
Name: 20758, dtype: object
20759 203.44 6 MP Last Month    33.9067
Name: 20759, dtype: object
20760 326.36 11 MP Last Month    29.6691
Name: 20760, dtype: object
20761 255.95000000000002 10 MP Last Month    25.595
Name: 20761, dtype: object
20762 64.44999999999999 11 MP Last Month    5.85909
Name: 20762, dtype: object
20763 298.77 11 MP Last Month    27.1609
Name: 20763, dtype: object
20764 283.03000000000003 11 MP Last Month    25.73
Name: 20764, dtype: object
20765 347.98 11 MP Last Month    31.6345
Name: 20765, dtype: object
20766 257.12 10 MP Last Month    25.712
Name: 20766, dtype: object
20767 62.08 11 MP Last Month    5.64364
Name: 20767, dtype: object
20768 336.27000000000004 11 MP Last Month    30.57
Name: 20768, dtype: object
20769 129.32 11 MP Last Month    11.7564
Name: 20769, dtype: object
20770 12.07 11 MP Last Month    1.09727
Name: 20770, dtype: object
20771 1.85 5 MP Last Month    0.37
Name: 20771, dtype: object
20772 349.23 11 MP Last Month    31.7482
Name: 20772, dtype: object
20773 88.76 4 MP Last Month    22.19
Name: 20773, dtype: object
20774 262.51000000000005 11 MP Last Month    23.8645
Name: 20774, dtype: object
20775 310.71 11 MP Last Month    28.2464
Name: 20775, dtype: object
20776 287.61999999999995 10 MP Last Month    28.762
Name: 20776, dtype: object
20777 128.19 5 MP Last Month    25.638
Name: 20777, dtype: object
20778 195.16000000000003 10 MP Last Month    19.516
Name: 20778, dtype: object
20779 203.3 10 MP Last Month    20.33
Name: 20779, dtype: object
20780 6.65 1 MP Last Month    6.65
Name: 20780, dtype: object
20781 295.98 11 MP Last Month    26.9073
Name: 20781, dtype: object
20782 211.33999999999997 11 MP Last Month    19.2127
Name: 20782, dtype: object
20783 235.31000000000003 11 MP Last Month    21.3918
Name: 20783, dtype: object
20784 349.0 10 MP Last Month    34.9
Name: 20784, dtype: object
20785 213.04999999999995 11 MP Last Month    19.3682
Name: 20785, dtype: object
20786 171.25 11 MP Last Month    15.5682
Name: 20786, dtype: object
20787 330.78000000000003 10 MP Last Month    33.078
Name: 20787, dtype: object
20788 24.759999999999998 9 MP Last Month    2.75111
Name: 20788, dtype: object
20789 282.62 11 MP Last Month    25.6927
Name: 20789, dtype: object
20790 385.71000000000004 13 MP Last Month    29.67
Name: 20790, dtype: object
20791 389.1000000000001 11 MP Last Month    35.3727
Name: 20791, dtype: object
20792 255.52 11 MP Last Month    23.2291
Name: 20792, dtype: object
20793 80.8 11 MP Last Month    7.34545
Name: 20793, dtype: object
20794 385.74 11 MP Last Month    35.0673
Name: 20794, dtype: object
20795 75.93 6 MP Last Month    12.655
Name: 20795, dtype: object
20796 196.16 11 MP Last Month    17.8327
Name: 20796, dtype: object
20797 177.75 10 MP Last Month    17.775
Name: 20797, dtype: object
20798 350.5 11 MP Last Month    31.8636
Name: 20798, dtype: object
20799 368.87 11 MP Last Month    33.5336
Name: 20799, dtype: object
20800 209.69 11 MP Last Month    19.0627
Name: 20800, dtype: object
20801 221.10999999999999 11 MP Last Month    20.1009
Name: 20801, dtype: object
20802 291.06 11 MP Last Month    26.46
Name: 20802, dtype: object
20803 168.59 6 MP Last Month    28.0983
Name: 20803, dtype: object
20804 153.87000000000003 10 MP Last Month    15.387
Name: 20804, dtype: object
20805 18.6 11 MP Last Month    1.69091
Name: 20805, dtype: object
20806 336.87 10 MP Last Month    33.687
Name: 20806, dtype: object
20807 229.8 10 MP Last Month    22.98
Name: 20807, dtype: object
20808 65.23 12 MP Last Month    5.43583
Name: 20808, dtype: object
20809 298.01 10 MP Last Month    29.801
Name: 20809, dtype: object
20810 187.07 7 MP Last Month    26.7243
Name: 20810, dtype: object
20811 168.06 7 MP Last Month    24.0086
Name: 20811, dtype: object
20812 48.1 5 MP Last Month    9.62
Name: 20812, dtype: object
20813 44.42 3 MP Last Month    14.8067
Name: 20813, dtype: object
20814 217.92 9 MP Last Month    24.2133
Name: 20814, dtype: object
20815 114.79 12 MP Last Month    9.56583
Name: 20815, dtype: object
20816 288.27 10 MP Last Month    28.827
Name: 20816, dtype: object
20817 11.02 10 MP Last Month    1.102
Name: 20817, dtype: object
20818 204.27 10 MP Last Month    20.427
Name: 20818, dtype: object
20819 239.24 11 MP Last Month    21.7491
Name: 20819, dtype: object
20820 168.15 11 MP Last Month    15.2864
Name: 20820, dtype: object
20821 319.6 11 MP Last Month    29.0545
Name: 20821, dtype: object
20822 112.85 11 MP Last Month    10.2591
Name: 20822, dtype: object
20823 46.980000000000004 10 MP Last Month    4.698
Name: 20823, dtype: object
20824 104.09 11 MP Last Month    9.46273
Name: 20824, dtype: object
20825 254.57000000000002 11 MP Last Month    23.1427
Name: 20825, dtype: object
20826 143.97 11 MP Last Month    13.0882
Name: 20826, dtype: object
20827 53.120000000000005 8 MP Last Month    6.64
Name: 20827, dtype: object
20828 164.18 10 MP Last Month    16.418
Name: 20828, dtype: object
20829 320.59000000000003 10 MP Last Month    32.059
Name: 20829, dtype: object
20830 44.620000000000005 9 MP Last Month    4.95778
Name: 20830, dtype: object
20831 225.95000000000002 10 MP Last Month    22.595
Name: 20831, dtype: object
20832 157.5 9 MP Last Month    17.5
Name: 20832, dtype: object
20833 194.45 10 MP Last Month    19.445
Name: 20833, dtype: object
20834 337.84000000000003 10 MP Last Month    33.784
Name: 20834, dtype: object
20835 350.65999999999997 10 MP Last Month    35.066
Name: 20835, dtype: object
20836 59.13 9 MP Last Month    6.57
Name: 20836, dtype: object
20837 121.04999999999998 10 MP Last Month    12.105
Name: 20837, dtype: object

20838 10.22 6 MP Last Month    1.70333
Name: 20838, dtype: object
20839 377.00000000000006 11 MP Last Month    34.2727
Name: 20839, dtype: object
20840 341.3 10 MP Last Month    34.13
Name: 20840, dtype: object
20841 133.75 10 MP Last Month    13.375
Name: 20841, dtype: object
20842 105.86999999999999 11 MP Last Month    9.62455
Name: 20842, dtype: object
20843 385.15 11 MP Last Month    35.0136
Name: 20843, dtype: object
20844 230.43 9 MP Last Month    25.6033
Name: 20844, dtype: object
20845 84.92 8 MP Last Month    10.615
Name: 20845, dtype: object
20846 128.9 11 MP Last Month    11.7182
Name: 20846, dtype: object
20847 247.48999999999998 10 MP Last Month    24.749
Name: 20847, dtype: object
20848 49.43 11 MP Last Month    4.49364
Name: 20848, dtype: object
20849 314.4 10 MP Last Month    31.44
Name: 20849, dtype: object
20850 201.22999999999996 11 MP Last Month    18.2936
Name: 20850, dtype: object
20851 277.66 9 MP Last Month    30.8511
Name: 20851, dtype: object
20852 259.37 10 MP Last Month    25.937
Name: 20852, dtype: object
20853 385.89 11 MP Last Month    35.0809
Name: 20853, dtype: object
20854 318.77 10 MP Last Month    31.877
Name: 20854, dtype: object
20855 222.41 11 MP Last Month    20.2191
Name: 20855, dtype: object
20856 330.52 11 MP Last Month    30.0473
Name: 20856, dtype: object
20857 33.13 1 MP Last Month    33.13
Name: 20857, dtype: object
20858 98.72 11 MP Last Month    8.97455
Name: 20858, dtype: object
20859 5.2299999999999995 8 MP Last Month    0.65375
Name: 20859, dtype: object
20860 357.29999999999995 12 MP Last Month    29.775
Name: 20860, dtype: object
20861 318.11 12 MP Last Month    26.5092
Name: 20861, dtype: object
20862 158.84 12 MP Last Month    13.2367
Name: 20862, dtype: object
20863 365.34000000000003 12 MP Last Month    30.445
Name: 20863, dtype: object
20864 383.64 12 MP Last Month    31.97
Name: 20864, dtype: object
20865 117.05 7 MP Last Month    16.7214
Name: 20865, dtype: object
20866 175.59 9 MP Last Month    19.51
Name: 20866, dtype: object
20867 132.7 12 MP Last Month    11.0583
Name: 20867, dtype: object
20868 288.39000000000004 12 MP Last Month    24.0325
Name: 20868, dtype: object
20869 53.81 12 MP Last Month    4.48417
Name: 20869, dtype: object
20870 367.99999999999994 10 MP Last Month    36.8
Name: 20870, dtype: object
20871 322.06 10 MP Last Month    32.206
Name: 20871, dtype: object
20872 192.57 10 MP Last Month    19.257
Name: 20872, dtype: object
20873 2.48 3 MP Last Month    0.826667
Name: 20873, dtype: object
20874 224.70999999999998 6 MP Last Month    37.4517
Name: 20874, dtype: object
20875 247.42000000000002 8 MP Last Month    30.9275
Name: 20875, dtype: object
20876 254.07999999999998 8 MP Last Month    31.76
Name: 20876, dtype: object
20877 141.63000000000002 8 MP Last Month    17.7038
Name: 20877, dtype: object
20878 247.98 10 MP Last Month    24.798
Name: 20878, dtype: object
20879 191.57 10 MP Last Month    19.157
Name: 20879, dtype: object
20880 38.919999999999995 10 MP Last Month    3.892
Name: 20880, dtype: object
20881 60.76 9 MP Last Month    6.75111
Name: 20881, dtype: object
20882 135.65 7 MP Last Month    19.3786
Name: 20882, dtype: object
20883 333.26 11 MP Last Month    30.2964
Name: 20883, dtype: object
20884 176.94 9 MP Last Month    19.66
Name: 20884, dtype: object
20885 347.69 11 MP Last Month    31.6082
Name: 20885, dtype: object
20886 168.55999999999997 12 MP Last Month    14.0467
Name: 20886, dtype: object
20887 28.35 8 MP Last Month    3.54375
Name: 20887, dtype: object
20888 379.51000000000005 12 MP Last Month    31.6258
Name: 20888, dtype: object
20889 19.55 1 MP Last Month    19.55
Name: 20889, dtype: object
20890 232.63 12 MP Last Month    19.3858
Name: 20890, dtype: object
20891 123.25999999999999 9 MP Last Month    13.6956
Name: 20891, dtype: object
20892 43.95 2 MP Last Month    21.975
Name: 20892, dtype: object
20893 211.58 12 MP Last Month    17.6317
Name: 20893, dtype: object
20894 215.63 12 MP Last Month    17.9692
Name: 20894, dtype: object
20895 264.44 10 MP Last Month    26.444
Name: 20895, dtype: object
20896 0 0 MP Last Month    0
Name: 20896, dtype: object
20897 391.7099999999999 11 MP Last Month    35.61
Name: 20897, dtype: object
20898 273.78 10 MP Last Month    27.378
Name: 20898, dtype: object
20899 43.7 3 MP Last Month    14.5667
Name: 20899, dtype: object
20900 7.1499999999999995 5 MP Last Month    1.43
Name: 20900, dtype: object
20901 19.5 4 MP Last Month    4.875
Name: 20901, dtype: object
20902 119.81 11 MP Last Month    10.8918
Name: 20902, dtype: object
20903 0.48 11 MP Last Month    0.0436364
Name: 20903, dtype: object
20904 254.84000000000003 11 MP Last Month    23.1673
Name: 20904, dtype: object
20905 247.23000000000002 11 MP Last Month    22.4755
Name: 20905, dtype: object
20906 243.36999999999998 11 MP Last Month    22.1245
Name: 20906, dtype: object
20907 1.88 11 MP Last Month    0.170909
Name: 20907, dtype: object
20908 315.57 12 MP Last Month    26.2975
Name: 20908, dtype: object
20909 319.28999999999996 11 MP Last Month    29.0264
Name: 20909, dtype: object
20910 247.22000000000003 12 MP Last Month    20.6017
Name: 20910, dtype: object
20911 371.78999999999996 11 MP Last Month    33.7991
Name: 20911, dtype: object
20912 347.38000000000005 11 MP Last Month    31.58
Name: 20912, dtype: object
20913 187.31 12 MP Last Month    15.6092
Name: 20913, dtype: object
20914 218.49999999999997 12 MP Last Month    18.2083
Name: 20914, dtype: object
20915 113.95999999999998 11 MP Last Month    10.36
Name: 20915, dtype: object
20916 345.66 12 MP Last Month    28.805
Name: 20916, dtype: object
20917 13.97 2 MP Last Month    6.985
Name: 20917, dtype: object
20918 170.80999999999997 11 MP Last Month    15.5282
Name: 20918, dtype: object
20919 203.38 12 MP Last Month    16.9483
Name: 20919, dtype: object
20920 14.799999999999999 8 MP Last Month    1.85
Name: 20920, dtype: object
20921 17.4 2 MP Last Month    8.7
Name: 20921, dtype: object
20922 103.30000000000001 6 MP Last Month    17.2167
Name: 20922, dtype: object
20923 120.85 7 MP Last Month    17.2643
Name: 20923, dtype: object
20924 274.75 11 MP Last Month    24.9773
Name: 20924, dtype: object
20925 330.44 9 MP Last Month    36.7156
Name: 20925, dtype: object
20926 123.11 11 MP Last Month    11.1918
Name: 20926, dtype: object
20927 263.8 11 MP Last Month    23.9818
Name: 20927, dtype: object
20928 15.84 11 MP Last Month    1.44
Name: 20928, dtype: object
20929 298.90999999999997 11 MP Last Month    27.1736
Name: 20929, dtype: object
20930 268.99 11 MP Last Month    24.4536
Name: 20930, dtype: object
20931 257.53000000000003 11 MP Last Month    23.4118
Name: 20931, dtype: object
20932 401.10999999999996 12 MP Last Month    33.4258
Name: 20932, dtype: object
20933 87.81 5 MP Last Month    17.562
Name: 20933, dtype: object
20934 127.17 12 MP Last Month    10.5975
Name: 20934, dtype: object
20935 276.89000000000004 12 MP Last Month    23.0742
Name: 20935, dtype: object
20936 216.66000000000003 12 MP Last Month    18.055
Name: 20936, dtype: object
20937 365.18 12 MP Last Month    30.4317
Name: 20937, dtype: object
20938 183.30000000000004 11 MP Last Month    16.6636
Name: 20938, dtype: object
20939 120.53999999999999 12 MP Last Month    10.045
Name: 20939, dtype: object
20940 0.0 5 MP Last Month    0
Name: 20940, dtype: object
20941 346.98 11 MP Last Month    31.5436
Name: 20941, dtype: object
20942 210.31000000000003 12 MP Last Month    17.5258
Name: 20942, dtype: object
20943 171.31 6 MP Last Month    28.5517
Name: 20943, dtype: object
20944 280.37 10 MP Last Month    28.037
Name: 20944, dtype: object
20945 406.3499999999999 11 MP Last Month    36.9409
Name: 20945, dtype: object
20946 242.24 9 MP Last Month    26.9156
Name: 20946, dtype: object
20947 44.07 10 MP Last Month    4.407
Name: 20947, dtype: object
20948 63.46 6 MP Last Month    10.5767
Name: 20948, dtype: object
20949 432.78999999999996 11 MP Last Month    39.3445
Name: 20949, dtype: object
20950 17.1 1 MP Last Month    17.1
Name: 20950, dtype: object
20951 313.3599999999999 9 MP Last Month    34.8178
Name: 20951, dtype: object
20952 303.94 10 MP Last Month    30.394
Name: 20952, dtype: object
20953 135.39000000000001 10 MP Last Month    13.539
Name: 20953, dtype: object

20954 32.78 10 MP Last Month    3.278
Name: 20954, dtype: object
20955 184.71999999999997 11 MP Last Month    16.7927
Name: 20955, dtype: object
20956 340.19 10 MP Last Month    34.019
Name: 20956, dtype: object
20957 156.81 11 MP Last Month    14.2555
Name: 20957, dtype: object
20958 366.15999999999997 10 MP Last Month    36.616
Name: 20958, dtype: object
20959 413.5400000000001 12 MP Last Month    34.4617
Name: 20959, dtype: object
20960 196.01 12 MP Last Month    16.3342
Name: 20960, dtype: object
20961 315.68 9 MP Last Month    35.0756
Name: 20961, dtype: object
20962 183.35000000000002 10 MP Last Month    18.335
Name: 20962, dtype: object
20963 106.45 7 MP Last Month    15.2071
Name: 20963, dtype: object
20964 59.3 9 MP Last Month    6.58889
Name: 20964, dtype: object
20965 253.17000000000002 8 MP Last Month    31.6463
Name: 20965, dtype: object
20966 125.96999999999998 12 MP Last Month    10.4975
Name: 20966, dtype: object
20967 19.12 9 MP Last Month    2.12444
Name: 20967, dtype: object
20968 235.43 12 MP Last Month    19.6192
Name: 20968, dtype: object
20969 251.33 9 MP Last Month    27.9256
Name: 20969, dtype: object
20970 318.34 9 MP Last Month    35.3711
Name: 20970, dtype: object
20971 11.72 2 MP Last Month    5.86
Name: 20971, dtype: object
20972 63.07 11 MP Last Month    5.73364
Name: 20972, dtype: object
20973 199.73999999999998 11 MP Last Month    18.1582
Name: 20973, dtype: object
20974 239.72 11 MP Last Month    21.7927
Name: 20974, dtype: object
20975 352.88 11 MP Last Month    32.08
Name: 20975, dtype: object
20976 373.71000000000004 11 MP Last Month    33.9736
Name: 20976, dtype: object
20977 347.65 11 MP Last Month    31.6045
Name: 20977, dtype: object
20978 0 0 MP Last Month    0
Name: 20978, dtype: object
20979 225.78000000000003 7 MP Last Month    32.2543
Name: 20979, dtype: object
20980 171.01 9 MP Last Month    19.0011
Name: 20980, dtype: object
20981 143.08 11 MP Last Month    13.0073
Name: 20981, dtype: object
20982 217.80999999999997 9 MP Last Month    24.2011
Name: 20982, dtype: object
20983 278.94 8 MP Last Month    34.8675
Name: 20983, dtype: object
20984 201.46999999999997 9 MP Last Month    22.3856
Name: 20984, dtype: object
20985 42.45 8 MP Last Month    5.30625
Name: 20985, dtype: object
20986 215.22999999999996 9 MP Last Month    23.9144
Name: 20986, dtype: object
20987 253.33999999999997 9 MP Last Month    28.1489
Name: 20987, dtype: object
20988 157.32 9 MP Last Month    17.48
Name: 20988, dtype: object
20989 231.48000000000002 9 MP Last Month    25.72
Name: 20989, dtype: object
20990 127.89000000000001 9 MP Last Month    14.21
Name: 20990, dtype: object
20991 14.75 8 MP Last Month    1.84375
Name: 20991, dtype: object
20992 309.06999999999994 10 MP Last Month    30.907
Name: 20992, dtype: object
20993 165.47000000000003 10 MP Last Month    16.547
Name: 20993, dtype: object
20994 216.5 9 MP Last Month    24.0556
Name: 20994, dtype: object
20995 327.16 10 MP Last Month    32.716
Name: 20995, dtype: object
20996 272.81 10 MP Last Month    27.281
Name: 20996, dtype: object
20997 337.90000000000003 10 MP Last Month    33.79
Name: 20997, dtype: object
20998 84.53 7 MP Last Month    12.0757
Name: 20998, dtype: object
20999 184.63 10 MP Last Month    18.463
Name: 20999, dtype: object
21000 276.95 10 MP Last Month    27.695
Name: 21000, dtype: object
21001 265.16 10 MP Last Month    26.516
Name: 21001, dtype: object
21002 138.1 10 MP Last Month    13.81
Name: 21002, dtype: object
21003 17.97 10 MP Last Month    1.797
Name: 21003, dtype: object
21004 323.73 9 MP Last Month    35.97
Name: 21004, dtype: object
21005 272.73 9 MP Last Month    30.3033
Name: 21005, dtype: object
21006 47.23 4 MP Last Month    11.8075
Name: 21006, dtype: object
21007 35.47 9 MP Last Month    3.94111
Name: 21007, dtype: object
21008 292.78999999999996 9 MP Last Month    32.5322
Name: 21008, dtype: object
21009 252.30999999999997 9 MP Last Month    28.0344
Name: 21009, dtype: object
21010 169.13 9 MP Last Month    18.7922
Name: 21010, dtype: object
21011 195.56 9 MP Last Month    21.7289
Name: 21011, dtype: object
21012 6.48 3 MP Last Month    2.16
Name: 21012, dtype: object
21013 63.56 9 MP Last Month    7.06222
Name: 21013, dtype: object
21014 294.54 9 MP Last Month    32.7267
Name: 21014, dtype: object
21015 215.33 9 MP Last Month    23.9256
Name: 21015, dtype: object
21016 19.07 9 MP Last Month    2.11889
Name: 21016, dtype: object
21017 493.78999999999996 13 MP Last Month    37.9838
Name: 21017, dtype: object
21018 347.15000000000003 11 MP Last Month    31.5591
Name: 21018, dtype: object
21019 198.83 13 MP Last Month    15.2946
Name: 21019, dtype: object
21020 457.3800000000001 13 MP Last Month    35.1831
Name: 21020, dtype: object
21021 208.74 9 MP Last Month    23.1933
Name: 21021, dtype: object
21022 99.66 11 MP Last Month    9.06
Name: 21022, dtype: object
21023 119.89 12 MP Last Month    9.99083
Name: 21023, dtype: object
21024 264.37 13 MP Last Month    20.3362
Name: 21024, dtype: object
21025 282.78999999999996 10 MP Last Month    28.279
Name: 21025, dtype: object
21026 391.83 13 MP Last Month    30.1408
Name: 21026, dtype: object
21027 57.510000000000005 12 MP Last Month    4.7925
Name: 21027, dtype: object
21028 189.07 6 MP Last Month    31.5117
Name: 21028, dtype: object
21029 341.70000000000005 12 MP Last Month    28.475
Name: 21029, dtype: object
21030 131.39 5 MP Last Month    26.278
Name: 21030, dtype: object
21031 28.9 2 MP Last Month    14.45
Name: 21031, dtype: object
21032 350.00999999999993 12 MP Last Month    29.1675
Name: 21032, dtype: object
21033 348.7 12 MP Last Month    29.0583
Name: 21033, dtype: object
21034 233.52000000000004 12 MP Last Month    19.46
Name: 21034, dtype: object
21035 128.48999999999998 12 MP Last Month    10.7075
Name: 21035, dtype: object
21036 14.709999999999999 6 MP Last Month    2.45167
Name: 21036, dtype: object
21037 17.949999999999996 11 MP Last Month    1.63182
Name: 21037, dtype: object
21038 234.58999999999997 9 MP Last Month    26.0656
Name: 21038, dtype: object
21039 364.1 12 MP Last Month    30.3417
Name: 21039, dtype: object
21040 296.86 12 MP Last Month    24.7383
Name: 21040, dtype: object
21041 378.01000000000005 12 MP Last Month    31.5008
Name: 21041, dtype: object
21042 283.36000000000007 12 MP Last Month    23.6133
Name: 21042, dtype: object
21043 138.28 12 MP Last Month    11.5233
Name: 21043, dtype: object
21044 79.54 11 MP Last Month    7.23091
Name: 21044, dtype: object
21045 149.3 11 MP Last Month    13.5727
Name: 21045, dtype: object
21046 125.11 5 MP Last Month    25.022
Name: 21046, dtype: object
21047 245.09999999999997 9 MP Last Month    27.2333
Name: 21047, dtype: object
21048 87.94 6 MP Last Month    14.6567
Name: 21048, dtype: object
21049 72.29 11 MP Last Month    6.57182
Name: 21049, dtype: object
21050 195.47 9 MP Last Month    21.7189
Name: 21050, dtype: object
21051 349.45 12 MP Last Month    29.1208
Name: 21051, dtype: object
21052 57.33 12 MP Last Month    4.7775
Name: 21052, dtype: object
21053 26.33 1 MP Last Month    26.33
Name: 21053, dtype: object
21054 284.02000000000004 13 MP Last Month    21.8477
Name: 21054, dtype: object
21055 58.22 9 MP Last Month    6.46889
Name: 21055, dtype: object
21056 311.36 13 MP Last Month    23.9508
Name: 21056, dtype: object
21057 409.12 13 MP Last Month    31.4708
Name: 21057, dtype: object
21058 137.09 13 MP Last Month    10.5454
Name: 21058, dtype: object
21059 211.75999999999996 12 MP Last Month    17.6467
Name: 21059, dtype: object
21060 239.12 12 MP Last Month    19.9267
Name: 21060, dtype: object
21061 288.6499999999999 13 MP Last Month    22.2038
Name: 21061, dtype: object
21062 0.0 1 MP Last Month    0
Name: 21062, dtype: object
21063 122.39999999999999 9 MP Last Month    13.6
Name: 21063, dtype: object
21064 317.01000000000005 12 MP Last Month    26.4175
Name: 21064, dtype: object
21065 71.34 12 MP Last Month    5.945
Name: 21065, dtype: object
21066 320.32000000000005 12 MP Last Month    26.6933
Name: 21066, dtype: object
21067 337.21000000000004 12 MP Last Month    28.1008
Name: 21067, dtype: object
21068 406.81000000000006 12 MP Last Month    33.9008
Name: 21068, dtype: object
21069 393.10999999999996 12 MP Last Month    32.7592
Name: 21069, dtype: object

21070 367.50000000000006 12 MP Last Month    30.625
Name: 21070, dtype: object
21071 131.97 12 MP Last Month    10.9975
Name: 21071, dtype: object
21072 19.990000000000002 10 MP Last Month    1.999
Name: 21072, dtype: object
21073 15.92 7 MP Last Month    2.27429
Name: 21073, dtype: object
21074 314.53999999999996 11 MP Last Month    28.5945
Name: 21074, dtype: object
21075 272.13 11 MP Last Month    24.7391
Name: 21075, dtype: object
21076 157.20999999999998 6 MP Last Month    26.2017
Name: 21076, dtype: object
21077 242.26000000000005 7 MP Last Month    34.6086
Name: 21077, dtype: object
21078 284.32 10 MP Last Month    28.432
Name: 21078, dtype: object
21079 52.239999999999995 11 MP Last Month    4.74909
Name: 21079, dtype: object
21080 273.82 10 MP Last Month    27.382
Name: 21080, dtype: object
21081 274.88 11 MP Last Month    24.9891
Name: 21081, dtype: object
21082 114.13000000000001 11 MP Last Month    10.3755
Name: 21082, dtype: object
21083 329.21000000000004 10 MP Last Month    32.921
Name: 21083, dtype: object
21084 142.38 11 MP Last Month    12.9436
Name: 21084, dtype: object
21085 74.2 11 MP Last Month    6.74545
Name: 21085, dtype: object
21086 26.650000000000002 8 MP Last Month    3.33125
Name: 21086, dtype: object
21087 318.41 9 MP Last Month    35.3789
Name: 21087, dtype: object
21088 79.92 9 MP Last Month    8.88
Name: 21088, dtype: object
21089 212.91 11 MP Last Month    19.3555
Name: 21089, dtype: object
21090 0.0 1 MP Last Month    0
Name: 21090, dtype: object
21091 262.92 10 MP Last Month    26.292
Name: 21091, dtype: object
21092 176.70999999999998 10 MP Last Month    17.671
Name: 21092, dtype: object
21093 188.45000000000002 10 MP Last Month    18.845
Name: 21093, dtype: object
21094 333.79 10 MP Last Month    33.379
Name: 21094, dtype: object
21095 271.71 10 MP Last Month    27.171
Name: 21095, dtype: object
21096 299.34999999999997 10 MP Last Month    29.935
Name: 21096, dtype: object
21097 9.72 6 MP Last Month    1.62
Name: 21097, dtype: object
21098 412.75000000000006 13 MP Last Month    31.75
Name: 21098, dtype: object
21099 28.08 3 MP Last Month    9.36
Name: 21099, dtype: object
21100 0.0 2 MP Last Month    0
Name: 21100, dtype: object
21101 228.88 11 MP Last Month    20.8073
Name: 21101, dtype: object
21102 309.69 11 MP Last Month    28.1536
Name: 21102, dtype: object
21103 143.52 13 MP Last Month    11.04
Name: 21103, dtype: object
21104 26.56 12 MP Last Month    2.21333
Name: 21104, dtype: object
21105 0.0 1 MP Last Month    0
Name: 21105, dtype: object
21106 382.20000000000005 13 MP Last Month    29.4
Name: 21106, dtype: object
21107 330.1 13 MP Last Month    25.3923
Name: 21107, dtype: object
21108 229.95 13 MP Last Month    17.6885
Name: 21108, dtype: object
21109 198.28999999999996 13 MP Last Month    15.2531
Name: 21109, dtype: object
21110 361.16 11 MP Last Month    32.8327
Name: 21110, dtype: object
21111 118.41 5 MP Last Month    23.682
Name: 21111, dtype: object
21112 248.80999999999997 11 MP Last Month    22.6191
Name: 21112, dtype: object
21113 289.32 10 MP Last Month    28.932
Name: 21113, dtype: object
21114 315.5 11 MP Last Month    28.6818
Name: 21114, dtype: object
21115 187.04000000000002 10 MP Last Month    18.704
Name: 21115, dtype: object
21116 201.40999999999997 10 MP Last Month    20.141
Name: 21116, dtype: object
21117 153.92 6 MP Last Month    25.6533
Name: 21117, dtype: object
21118 7.82 1 MP Last Month    7.82
Name: 21118, dtype: object
21119 6.65 2 MP Last Month    3.325
Name: 21119, dtype: object
21120 307.58000000000004 11 MP Last Month    27.9618
Name: 21120, dtype: object
21121 199.39000000000001 11 MP Last Month    18.1264
Name: 21121, dtype: object
21122 211.48000000000002 11 MP Last Month    19.2255
Name: 21122, dtype: object
21123 351.51 10 MP Last Month    35.151
Name: 21123, dtype: object
21124 227.65999999999997 11 MP Last Month    20.6964
Name: 21124, dtype: object
21125 24.759999999999998 9 MP Last Month    2.75111
Name: 21125, dtype: object
21126 183.29 11 MP Last Month    16.6627
Name: 21126, dtype: object
21127 297.8 11 MP Last Month    27.0727
Name: 21127, dtype: object
21128 394.88000000000005 11 MP Last Month    35.8982
Name: 21128, dtype: object
21129 275.07000000000005 11 MP Last Month    25.0064
Name: 21129, dtype: object
21130 95.92999999999999 11 MP Last Month    8.72091
Name: 21130, dtype: object
21131 390.44000000000005 11 MP Last Month    35.4945
Name: 21131, dtype: object
21132 105.45 6 MP Last Month    17.575
Name: 21132, dtype: object
21133 191.41000000000003 11 MP Last Month    17.4009
Name: 21133, dtype: object
21134 155.07 10 MP Last Month    15.507
Name: 21134, dtype: object
21135 280.45000000000005 11 MP Last Month    25.4955
Name: 21135, dtype: object
21136 368.6 11 MP Last Month    33.5091
Name: 21136, dtype: object
21137 346.01 11 MP Last Month    31.4555
Name: 21137, dtype: object
21138 214.72 11 MP Last Month    19.52
Name: 21138, dtype: object
21139 210.36 11 MP Last Month    19.1236
Name: 21139, dtype: object
21140 195.02 7 MP Last Month    27.86
Name: 21140, dtype: object
21141 148.42000000000002 10 MP Last Month    14.842
Name: 21141, dtype: object
21142 18.6 11 MP Last Month    1.69091
Name: 21142, dtype: object
21143 292.49 10 MP Last Month    29.249
Name: 21143, dtype: object
21144 342.24 10 MP Last Month    34.224
Name: 21144, dtype: object
21145 232.03 10 MP Last Month    23.203
Name: 21145, dtype: object
21146 83.85000000000001 12 MP Last Month    6.9875
Name: 21146, dtype: object
21147 180.32000000000002 7 MP Last Month    25.76
Name: 21147, dtype: object
21148 184.63 8 MP Last Month    23.0787
Name: 21148, dtype: object
21149 53.18 5 MP Last Month    10.636
Name: 21149, dtype: object
21150 70.35 4 MP Last Month    17.5875
Name: 21150, dtype: object
21151 290.21999999999997 10 MP Last Month    29.022
Name: 21151, dtype: object
21152 126.12 12 MP Last Month    10.51
Name: 21152, dtype: object
21153 220.66000000000003 9 MP Last Month    24.5178
Name: 21153, dtype: object
21154 11.02 10 MP Last Month    1.102
Name: 21154, dtype: object
21155 265.7 8 MP Last Month    33.2125
Name: 21155, dtype: object
21156 264.14 11 MP Last Month    24.0127
Name: 21156, dtype: object
21157 166.83000000000004 11 MP Last Month    15.1664
Name: 21157, dtype: object
21158 194.34 10 MP Last Month    19.434
Name: 21158, dtype: object
21159 330.98 11 MP Last Month    30.0891
Name: 21159, dtype: object
21160 124.65 11 MP Last Month    11.3318
Name: 21160, dtype: object
21161 110.41 11 MP Last Month    10.0373
Name: 21161, dtype: object
21162 58.230000000000004 10 MP Last Month    5.823
Name: 21162, dtype: object
21163 263.57 11 MP Last Month    23.9609
Name: 21163, dtype: object
21164 159.39999999999998 11 MP Last Month    14.4909
Name: 21164, dtype: object
21165 230.17 10 MP Last Month    23.017
Name: 21165, dtype: object
21166 71.44 8 MP Last Month    8.93
Name: 21166, dtype: object
21167 307.96000000000004 10 MP Last Month    30.796
Name: 21167, dtype: object
21168 167.46 10 MP Last Month    16.746
Name: 21168, dtype: object
21169 48.769999999999996 9 MP Last Month    5.41889
Name: 21169, dtype: object
21170 243.22 10 MP Last Month    24.322
Name: 21170, dtype: object
21171 182.0 9 MP Last Month    20.2222
Name: 21171, dtype: object
21172 189.71 10 MP Last Month    18.971
Name: 21172, dtype: object
21173 330.86000000000007 10 MP Last Month    33.086
Name: 21173, dtype: object
21174 344.15999999999997 10 MP Last Month    34.416
Name: 21174, dtype: object
21175 73.76 9 MP Last Month    8.19556
Name: 21175, dtype: object
21176 125.71 10 MP Last Month    12.571
Name: 21176, dtype: object
21177 12.540000000000001 6 MP Last Month    2.09
Name: 21177, dtype: object
21178 377.23 11 MP Last Month    34.2936
Name: 21178, dtype: object
21179 343.17999999999995 10 MP Last Month    34.318
Name: 21179, dtype: object
21180 133.26 10 MP Last Month    13.326
Name: 21180, dtype: object
21181 110.54999999999998 11 MP Last Month    10.05
Name: 21181, dtype: object
21182 385.99 11 MP Last Month    35.09
Name: 21182, dtype: object
21183 233.57999999999998 9 MP Last Month    25.9533
Name: 21183, dtype: object
21184 112.48 11 MP Last Month    10.2255
Name: 21184, dtype: object

21185 92.07000000000001 9 MP Last Month    10.23
Name: 21185, dtype: object
21186 20.240000000000002 5 MP Last Month    4.048
Name: 21186, dtype: object
21187 249.73999999999998 10 MP Last Month    24.974
Name: 21187, dtype: object
21188 305.52 10 MP Last Month    30.552
Name: 21188, dtype: object
21189 189.65999999999997 11 MP Last Month    17.2418
Name: 21189, dtype: object
21190 313.69000000000005 10 MP Last Month    31.369
Name: 21190, dtype: object
21191 372.73 10 MP Last Month    37.273
Name: 21191, dtype: object
21192 257.37 10 MP Last Month    25.737
Name: 21192, dtype: object
21193 0 0 MP Last Month    0
Name: 21193, dtype: object
21194 315.86999999999995 10 MP Last Month    31.587
Name: 21194, dtype: object
21195 386.51 11 MP Last Month    35.1373
Name: 21195, dtype: object
21196 225.28 11 MP Last Month    20.48
Name: 21196, dtype: object
21197 185.32999999999998 8 MP Last Month    23.1662
Name: 21197, dtype: object
21198 325.82 11 MP Last Month    29.62
Name: 21198, dtype: object
21199 61.510000000000005 2 MP Last Month    30.755
Name: 21199, dtype: object
21200 5.2299999999999995 8 MP Last Month    0.65375
Name: 21200, dtype: object
21201 0 0 MP Last Month    0
Name: 21201, dtype: object
21202 388.79999999999995 13 MP Last Month    29.9077
Name: 21202, dtype: object
21203 337.99 13 MP Last Month    25.9992
Name: 21203, dtype: object
21204 158.84 13 MP Last Month    12.2185
Name: 21204, dtype: object
21205 397.87 13 MP Last Month    30.6054
Name: 21205, dtype: object
21206 414.81 13 MP Last Month    31.9085
Name: 21206, dtype: object
21207 130.5 8 MP Last Month    16.3125
Name: 21207, dtype: object
21208 189.57 10 MP Last Month    18.957
Name: 21208, dtype: object
21209 132.7 13 MP Last Month    10.2077
Name: 21209, dtype: object
21210 314.94000000000005 13 MP Last Month    24.2262
Name: 21210, dtype: object
21211 311.40999999999997 11 MP Last Month    28.31
Name: 21211, dtype: object
21212 75.26 13 MP Last Month    5.78923
Name: 21212, dtype: object
21213 366.48 12 MP Last Month    30.54
Name: 21213, dtype: object
21214 87.56 11 MP Last Month    7.96
Name: 21214, dtype: object
21215 291.34999999999997 12 MP Last Month    24.2792
Name: 21215, dtype: object
21216 125.72 12 MP Last Month    10.4767
Name: 21216, dtype: object
21217 149.68 6 MP Last Month    24.9467
Name: 21217, dtype: object
21218 141.61999999999998 11 MP Last Month    12.8745
Name: 21218, dtype: object
21219 99.11999999999999 6 MP Last Month    16.52
Name: 21219, dtype: object
21220 273.61999999999995 10 MP Last Month    27.362
Name: 21220, dtype: object
21221 77.03000000000002 11 MP Last Month    7.00273
Name: 21221, dtype: object
21222 335.78 12 MP Last Month    27.9817
Name: 21222, dtype: object
21223 214.67 10 MP Last Month    21.467
Name: 21223, dtype: object
21224 55.43 12 MP Last Month    4.61917
Name: 21224, dtype: object
21225 357.45 10 MP Last Month    35.745
Name: 21225, dtype: object
21226 313.46 10 MP Last Month    31.346
Name: 21226, dtype: object
21227 180.98 10 MP Last Month    18.098
Name: 21227, dtype: object
21228 4.13 4 MP Last Month    1.0325
Name: 21228, dtype: object
21229 263.22999999999996 7 MP Last Month    37.6043
Name: 21229, dtype: object
21230 250.62000000000003 8 MP Last Month    31.3275
Name: 21230, dtype: object
21231 250.97 8 MP Last Month    31.3712
Name: 21231, dtype: object
21232 236.47 10 MP Last Month    23.647
Name: 21232, dtype: object
21233 149.46 8 MP Last Month    18.6825
Name: 21233, dtype: object
21234 185.52 10 MP Last Month    18.552
Name: 21234, dtype: object
21235 135.65 8 MP Last Month    16.9563
Name: 21235, dtype: object
21236 65.49 9 MP Last Month    7.27667
Name: 21236, dtype: object
21237 42.019999999999996 10 MP Last Month    4.202
Name: 21237, dtype: object
21238 329.21 11 MP Last Month    29.9282
Name: 21238, dtype: object
21239 331.29 11 MP Last Month    30.1173
Name: 21239, dtype: object
21240 209.41 9 MP Last Month    23.2678
Name: 21240, dtype: object
21241 155.38 12 MP Last Month    12.9483
Name: 21241, dtype: object
21242 28.35 9 MP Last Month    3.15
Name: 21242, dtype: object
21243 243.75 12 MP Last Month    20.3125
Name: 21243, dtype: object
21244 37.120000000000005 2 MP Last Month    18.56
Name: 21244, dtype: object
21245 384.16 12 MP Last Month    32.0133
Name: 21245, dtype: object
21246 108.17 8 MP Last Month    13.5213
Name: 21246, dtype: object
21247 133.83999999999997 9 MP Last Month    14.8711
Name: 21247, dtype: object
21248 73.58 3 MP Last Month    24.5267
Name: 21248, dtype: object
21249 214.33 12 MP Last Month    17.8608
Name: 21249, dtype: object
21250 238.82999999999998 12 MP Last Month    19.9025
Name: 21250, dtype: object
21251 262.37 10 MP Last Month    26.237
Name: 21251, dtype: object
21252 15.87 1 MP Last Month    15.87
Name: 21252, dtype: object
21253 306.46 11 MP Last Month    27.86
Name: 21253, dtype: object
21254 390.85999999999996 11 MP Last Month    35.5327
Name: 21254, dtype: object
21255 19.97 6 MP Last Month    3.32833
Name: 21255, dtype: object
21256 47.35 3 MP Last Month    15.7833
Name: 21256, dtype: object
21257 0.48 11 MP Last Month    0.0436364
Name: 21257, dtype: object
21258 22.75 5 MP Last Month    4.55
Name: 21258, dtype: object
21259 263.22 11 MP Last Month    23.9291
Name: 21259, dtype: object
21260 266.1 11 MP Last Month    24.1909
Name: 21260, dtype: object
21261 231.73999999999998 11 MP Last Month    21.0673
Name: 21261, dtype: object
21262 5.13 10 MP Last Month    0.513
Name: 21262, dtype: object
21263 321.19 11 MP Last Month    29.1991
Name: 21263, dtype: object
21264 314.74 12 MP Last Month    26.2283
Name: 21264, dtype: object
21265 5.58 4 MP Last Month    1.395
Name: 21265, dtype: object
21266 346.71000000000004 11 MP Last Month    31.5191
Name: 21266, dtype: object
21267 117.53 11 MP Last Month    10.6845
Name: 21267, dtype: object
21268 213.60999999999996 12 MP Last Month    17.8008
Name: 21268, dtype: object
21269 352.84000000000003 12 MP Last Month    29.4033
Name: 21269, dtype: object
21270 32.2 3 MP Last Month    10.7333
Name: 21270, dtype: object
21271 181.82999999999998 11 MP Last Month    16.53
Name: 21271, dtype: object
21272 190.93 12 MP Last Month    15.9108
Name: 21272, dtype: object
21273 14.799999999999999 9 MP Last Month    1.64444
Name: 21273, dtype: object
21274 0 0 MP Last Month    0
Name: 21274, dtype: object
21275 94.82999999999998 8 MP Last Month    11.8537
Name: 21275, dtype: object
21276 45.769999999999996 3 MP Last Month    15.2567
Name: 21276, dtype: object
21277 114.30000000000001 5 MP Last Month    22.86
Name: 21277, dtype: object
21278 204.57999999999998 10 MP Last Month    20.458
Name: 21278, dtype: object
21279 139.43 7 MP Last Month    19.9186
Name: 21279, dtype: object
21280 255.32999999999998 10 MP Last Month    25.533
Name: 21280, dtype: object
21281 294.09 8 MP Last Month    36.7612
Name: 21281, dtype: object
21282 249.52999999999994 10 MP Last Month    24.953
Name: 21282, dtype: object
21283 256.06 10 MP Last Month    25.606
Name: 21283, dtype: object
21284 128.01 10 MP Last Month    12.801
Name: 21284, dtype: object
21285 29.41 10 MP Last Month    2.941
Name: 21285, dtype: object
21286 263.73 8 MP Last Month    32.9663
Name: 21286, dtype: object
21287 233.96 10 MP Last Month    23.396
Name: 21287, dtype: object
21288 100.78999999999999 8 MP Last Month    12.5987
Name: 21288, dtype: object
21289 397.51 12 MP Last Month    33.1258
Name: 21289, dtype: object
21290 94.49000000000001 5 MP Last Month    18.898
Name: 21290, dtype: object
21291 275.84000000000003 12 MP Last Month    22.9867
Name: 21291, dtype: object
21292 146.29000000000002 12 MP Last Month    12.1908
Name: 21292, dtype: object
21293 216.66000000000003 12 MP Last Month    18.055
Name: 21293, dtype: object
21294 98.16 5 MP Last Month    19.632
Name: 21294, dtype: object
21295 380.6 12 MP Last Month    31.7167
Name: 21295, dtype: object
21296 177.23000000000002 11 MP Last Month    16.1118
Name: 21296, dtype: object
21297 83.47 12 MP Last Month    6.95583
Name: 21297, dtype: object
21298 209.36 7 MP Last Month    29.9086
Name: 21298, dtype: object
21299 118.25999999999999 5 MP Last Month    23.652
Name: 21299, dtype: object
21300 206.3 12 MP Last Month    17.1917
Name: 21300, dtype: object

21301 268.43 10 MP Last Month    26.843
Name: 21301, dtype: object
21302 402.22999999999996 11 MP Last Month    36.5664
Name: 21302, dtype: object
21303 202.08 11 MP Last Month    18.3709
Name: 21303, dtype: object
21304 411.04 12 MP Last Month    34.2533
Name: 21304, dtype: object
21305 345.98 10 MP Last Month    34.598
Name: 21305, dtype: object
21306 283.47 9 MP Last Month    31.4967
Name: 21306, dtype: object
21307 225.93 12 MP Last Month    18.8275
Name: 21307, dtype: object
21308 101.93 7 MP Last Month    14.5614
Name: 21308, dtype: object
21309 215.35 12 MP Last Month    17.9458
Name: 21309, dtype: object
21310 145.33999999999997 12 MP Last Month    12.1117
Name: 21310, dtype: object
21311 70.62 10 MP Last Month    7.062
Name: 21311, dtype: object
21312 23.04 10 MP Last Month    2.304
Name: 21312, dtype: object
21313 294.16 8 MP Last Month    36.77
Name: 21313, dtype: object
21314 255.13000000000002 9 MP Last Month    28.3478
Name: 21314, dtype: object
21315 155.96 10 MP Last Month    15.596
Name: 21315, dtype: object
21316 47.59 10 MP Last Month    4.759
Name: 21316, dtype: object
21317 13.63 2 MP Last Month    6.815
Name: 21317, dtype: object
21318 181.32 10 MP Last Month    18.132
Name: 21318, dtype: object
21319 322.2 10 MP Last Month    32.22
Name: 21319, dtype: object
21320 343.09000000000003 10 MP Last Month    34.309
Name: 21320, dtype: object
21321 305.32000000000005 10 MP Last Month    30.532
Name: 21321, dtype: object
21322 0.0 1 MP Last Month    0
Name: 21322, dtype: object
21323 259.13000000000005 8 MP Last Month    32.3913
Name: 21323, dtype: object
21324 185.66 10 MP Last Month    18.566
Name: 21324, dtype: object
21325 100.94 10 MP Last Month    10.094
Name: 21325, dtype: object
21326 279.05 8 MP Last Month    34.8813
Name: 21326, dtype: object
21327 149.85 9 MP Last Month    16.65
Name: 21327, dtype: object
21328 2.1999999999999997 4 MP Last Month    0.55
Name: 21328, dtype: object
21329 200.77 9 MP Last Month    22.3078
Name: 21329, dtype: object
21330 226.27999999999997 9 MP Last Month    25.1422
Name: 21330, dtype: object
21331 247.41 9 MP Last Month    27.49
Name: 21331, dtype: object
21332 224.04999999999998 9 MP Last Month    24.8944
Name: 21332, dtype: object
21333 217.54 9 MP Last Month    24.1711
Name: 21333, dtype: object
21334 63.120000000000005 8 MP Last Month    7.89
Name: 21334, dtype: object
21335 107.49 9 MP Last Month    11.9433
Name: 21335, dtype: object
21336 18.1 9 MP Last Month    2.01111
Name: 21336, dtype: object
21337 84.85 8 MP Last Month    10.6062
Name: 21337, dtype: object
21338 306.90999999999997 10 MP Last Month    30.691
Name: 21338, dtype: object
21339 168.05 10 MP Last Month    16.805
Name: 21339, dtype: object
21340 202.4 9 MP Last Month    22.4889
Name: 21340, dtype: object
21341 327.31 10 MP Last Month    32.731
Name: 21341, dtype: object
21342 276.78 10 MP Last Month    27.678
Name: 21342, dtype: object
21343 334.3 10 MP Last Month    33.43
Name: 21343, dtype: object
21344 84.53 8 MP Last Month    10.5663
Name: 21344, dtype: object
21345 152.06 10 MP Last Month    15.206
Name: 21345, dtype: object
21346 284.3 10 MP Last Month    28.43
Name: 21346, dtype: object
21347 152.62 10 MP Last Month    15.262
Name: 21347, dtype: object
21348 264.19 10 MP Last Month    26.419
Name: 21348, dtype: object
21349 17.97 10 MP Last Month    1.797
Name: 21349, dtype: object
21350 157.20999999999998 7 MP Last Month    22.4586
Name: 21350, dtype: object
21351 342.35999999999996 12 MP Last Month    28.53
Name: 21351, dtype: object
21352 304.81 12 MP Last Month    25.4008
Name: 21352, dtype: object
21353 274.5400000000001 8 MP Last Month    34.3175
Name: 21353, dtype: object
21354 310.12 11 MP Last Month    28.1927
Name: 21354, dtype: object
21355 297.65 11 MP Last Month    27.0591
Name: 21355, dtype: object
21356 299.2 12 MP Last Month    24.9333
Name: 21356, dtype: object
21357 129.15 12 MP Last Month    10.7625
Name: 21357, dtype: object
21358 62.489999999999995 12 MP Last Month    5.2075
Name: 21358, dtype: object
21359 350.38000000000005 11 MP Last Month    31.8527
Name: 21359, dtype: object
21360 162.07999999999998 12 MP Last Month    13.5067
Name: 21360, dtype: object
21361 79.93 12 MP Last Month    6.66083
Name: 21361, dtype: object
21362 28.05 9 MP Last Month    3.11667
Name: 21362, dtype: object
21363 204.21 6 MP Last Month    34.035
Name: 21363, dtype: object
21364 253.10000000000002 10 MP Last Month    25.31
Name: 21364, dtype: object
21365 327.67999999999995 11 MP Last Month    29.7891
Name: 21365, dtype: object
21366 283.08000000000004 11 MP Last Month    25.7345
Name: 21366, dtype: object
21367 298.44 11 MP Last Month    27.1309
Name: 21367, dtype: object
21368 348.12 11 MP Last Month    31.6473
Name: 21368, dtype: object
21369 258.73 10 MP Last Month    25.873
Name: 21369, dtype: object
21370 62.08 11 MP Last Month    5.64364
Name: 21370, dtype: object
21371 331.82 11 MP Last Month    30.1655
Name: 21371, dtype: object
21372 1.85 6 MP Last Month    0.308333
Name: 21372, dtype: object
21373 12.07 11 MP Last Month    1.09727
Name: 21373, dtype: object
21374 142.73999999999998 11 MP Last Month    12.9764
Name: 21374, dtype: object
21375 190.22 6 MP Last Month    31.7033
Name: 21375, dtype: object
21376 331.33 11 MP Last Month    30.1209
Name: 21376, dtype: object
21377 52.65 3 MP Last Month    17.55
Name: 21377, dtype: object
21378 311.18999999999994 11 MP Last Month    28.29
Name: 21378, dtype: object
21379 108.06 4 MP Last Month    27.015
Name: 21379, dtype: object
21380 321.13 11 MP Last Month    29.1936
Name: 21380, dtype: object
21381 185.1 11 MP Last Month    16.8273
Name: 21381, dtype: object
21382 11.67 10 MP Last Month    1.167
Name: 21382, dtype: object
21383 106.05999999999999 11 MP Last Month    9.64182
Name: 21383, dtype: object
21384 13.55 6 MP Last Month    2.25833
Name: 21384, dtype: object
21385 358.07 11 MP Last Month    32.5518
Name: 21385, dtype: object
21386 226.77 8 MP Last Month    28.3463
Name: 21386, dtype: object
21387 265.28000000000003 11 MP Last Month    24.1164
Name: 21387, dtype: object
21388 288.65000000000003 13 MP Last Month    22.2038
Name: 21388, dtype: object
21389 45.4 2 MP Last Month    22.7
Name: 21389, dtype: object
21390 69.62 10 MP Last Month    6.962
Name: 21390, dtype: object
21391 417.07000000000005 13 MP Last Month    32.0823
Name: 21391, dtype: object
21392 325.5400000000001 13 MP Last Month    25.0415
Name: 21392, dtype: object
21393 141.84 13 MP Last Month    10.9108
Name: 21393, dtype: object
21394 253.42000000000002 12 MP Last Month    21.1183
Name: 21394, dtype: object
21395 3.55 2 MP Last Month    1.775
Name: 21395, dtype: object
21396 274.34999999999997 13 MP Last Month    21.1038
Name: 21396, dtype: object
21397 122.39999999999999 10 MP Last Month    12.24
Name: 21397, dtype: object
21398 404.98999999999995 11 MP Last Month    36.8173
Name: 21398, dtype: object
21399 242.23999999999998 9 MP Last Month    26.9156
Name: 21399, dtype: object
21400 49.64 10 MP Last Month    4.964
Name: 21400, dtype: object
21401 66.11 7 MP Last Month    9.44429
Name: 21401, dtype: object
21402 433.59 11 MP Last Month    39.4173
Name: 21402, dtype: object
21403 306.51 9 MP Last Month    34.0567
Name: 21403, dtype: object
21404 37.3 2 MP Last Month    18.65
Name: 21404, dtype: object
21405 298.78 10 MP Last Month    29.878
Name: 21405, dtype: object
21406 132.91 10 MP Last Month    13.291
Name: 21406, dtype: object
21407 32.78 10 MP Last Month    3.278
Name: 21407, dtype: object
21408 332.36999999999995 10 MP Last Month    33.237
Name: 21408, dtype: object
21409 192.53999999999996 11 MP Last Month    17.5036
Name: 21409, dtype: object
21410 143.46 11 MP Last Month    13.0418
Name: 21410, dtype: object
21411 315.66 12 MP Last Month    26.305
Name: 21411, dtype: object
21412 72.69 12 MP Last Month    6.0575
Name: 21412, dtype: object
21413 397.78999999999996 12 MP Last Month    33.1492
Name: 21413, dtype: object
21414 396.2499999999999 12 MP Last Month    33.0208
Name: 21414, dtype: object
21415 346.36 12 MP Last Month    28.8633
Name: 21415, dtype: object
21416 316.95000000000005 12 MP Last Month    26.4125
Name: 21416, dtype: object
21417 366.7 12 MP Last Month    30.5583
Name: 21417, dtype: object

21418 149.34 12 MP Last Month    12.445
Name: 21418, dtype: object
21419 19.990000000000002 10 MP Last Month    1.999
Name: 21419, dtype: object
21420 15.92 8 MP Last Month    1.99
Name: 21420, dtype: object
21421 316.12 9 MP Last Month    35.1244
Name: 21421, dtype: object
21422 210.76 11 MP Last Month    19.16
Name: 21422, dtype: object
21423 94.44 9 MP Last Month    10.4933
Name: 21423, dtype: object
21424 16.75 2 MP Last Month    8.375
Name: 21424, dtype: object
21425 231.91 8 MP Last Month    28.9887
Name: 21425, dtype: object
21426 259.17999999999995 10 MP Last Month    25.918
Name: 21426, dtype: object
21427 183.87 10 MP Last Month    18.387
Name: 21427, dtype: object
21428 190.57 10 MP Last Month    19.057
Name: 21428, dtype: object
21429 0.0 1 MP Last Month    0
Name: 21429, dtype: object
21430 336.90000000000003 10 MP Last Month    33.69
Name: 21430, dtype: object
21431 239.56000000000003 9 MP Last Month    26.6178
Name: 21431, dtype: object
21432 291.4 10 MP Last Month    29.14
Name: 21432, dtype: object
21433 12.700000000000001 7 MP Last Month    1.81429
Name: 21433, dtype: object
21434 421.46000000000004 13 MP Last Month    32.42
Name: 21434, dtype: object
21435 0.0 3 MP Last Month    0
Name: 21435, dtype: object
21436 41.56 4 MP Last Month    10.39
Name: 21436, dtype: object
21437 142.09 13 MP Last Month    10.93
Name: 21437, dtype: object
21438 311.53 11 MP Last Month    28.3209
Name: 21438, dtype: object
21439 260.38 12 MP Last Month    21.6983
Name: 21439, dtype: object
21440 27.009999999999998 12 MP Last Month    2.25083
Name: 21440, dtype: object
21441 385.76000000000005 13 MP Last Month    29.6738
Name: 21441, dtype: object
21442 339.8 13 MP Last Month    26.1385
Name: 21442, dtype: object
21443 234.92000000000004 13 MP Last Month    18.0708
Name: 21443, dtype: object
21444 193.83 13 MP Last Month    14.91
Name: 21444, dtype: object
21445 232.04000000000002 7 MP Last Month    33.1486
Name: 21445, dtype: object
21446 351.29999999999995 12 MP Last Month    29.275
Name: 21446, dtype: object
21447 64.44999999999999 11 MP Last Month    5.85909
Name: 21447, dtype: object
21448 305.26000000000005 12 MP Last Month    25.4383
Name: 21448, dtype: object
21449 372.52 12 MP Last Month    31.0433
Name: 21449, dtype: object
21450 324.79 12 MP Last Month    27.0658
Name: 21450, dtype: object
21451 281.63 11 MP Last Month    25.6027
Name: 21451, dtype: object
21452 75.28 12 MP Last Month    6.27333
Name: 21452, dtype: object
21453 355.94 12 MP Last Month    29.6617
Name: 21453, dtype: object
21454 151.43999999999997 12 MP Last Month    12.62
Name: 21454, dtype: object
21455 21.650000000000002 7 MP Last Month    3.09286
Name: 21455, dtype: object
21456 16.72 12 MP Last Month    1.39333
Name: 21456, dtype: object
21457 396.69000000000005 12 MP Last Month    33.0575
Name: 21457, dtype: object
21458 265.01 12 MP Last Month    22.0842
Name: 21458, dtype: object
21459 145.07999999999998 6 MP Last Month    24.18
Name: 21459, dtype: object
21460 178.48999999999998 7 MP Last Month    25.4986
Name: 21460, dtype: object
21461 197.99 11 MP Last Month    17.9991
Name: 21461, dtype: object
21462 220.85999999999996 11 MP Last Month    20.0782
Name: 21462, dtype: object
21463 316.53999999999996 11 MP Last Month    28.7764
Name: 21463, dtype: object
21464 346.92 12 MP Last Month    28.91
Name: 21464, dtype: object
21465 6.65 3 MP Last Month    2.21667
Name: 21465, dtype: object
21466 334.40000000000003 12 MP Last Month    27.8667
Name: 21466, dtype: object
21467 211.48000000000002 12 MP Last Month    17.6233
Name: 21467, dtype: object
21468 220.57000000000002 12 MP Last Month    18.3808
Name: 21468, dtype: object
21469 351.76 10 MP Last Month    35.176
Name: 21469, dtype: object
21470 284.25000000000006 9 MP Last Month    31.5833
Name: 21470, dtype: object
21471 242.98999999999998 11 MP Last Month    22.09
Name: 21471, dtype: object
21472 195.04999999999998 11 MP Last Month    17.7318
Name: 21472, dtype: object
21473 28.36 9 MP Last Month    3.15111
Name: 21473, dtype: object
21474 27.88 6 MP Last Month    4.64667
Name: 21474, dtype: object
21475 305.24 11 MP Last Month    27.7491
Name: 21475, dtype: object
21476 289.32 11 MP Last Month    26.3018
Name: 21476, dtype: object
21477 391.61 11 MP Last Month    35.6009
Name: 21477, dtype: object
21478 282.56000000000006 11 MP Last Month    25.6873
Name: 21478, dtype: object
21479 106.5 11 MP Last Month    9.68182
Name: 21479, dtype: object
21480 431.1600000000001 12 MP Last Month    35.93
Name: 21480, dtype: object
21481 118.52000000000001 7 MP Last Month    16.9314
Name: 21481, dtype: object
21482 136.6 10 MP Last Month    13.66
Name: 21482, dtype: object
21483 198.14000000000001 12 MP Last Month    16.5117
Name: 21483, dtype: object
21484 311.6700000000001 12 MP Last Month    25.9725
Name: 21484, dtype: object
21485 405.62 12 MP Last Month    33.8017
Name: 21485, dtype: object
21486 372.24 12 MP Last Month    31.02
Name: 21486, dtype: object
21487 240.04 12 MP Last Month    20.0033
Name: 21487, dtype: object
21488 222.06 12 MP Last Month    18.505
Name: 21488, dtype: object
21489 20.68 6 MP Last Month    3.44667
Name: 21489, dtype: object
21490 232.35000000000002 8 MP Last Month    29.0438
Name: 21490, dtype: object
21491 159.09 11 MP Last Month    14.4627
Name: 21491, dtype: object
21492 262.48999999999995 8 MP Last Month    32.8112
Name: 21492, dtype: object
21493 278.94000000000005 11 MP Last Month    25.3582
Name: 21493, dtype: object
21494 174.43000000000004 11 MP Last Month    15.8573
Name: 21494, dtype: object
21495 337.38 11 MP Last Month    30.6709
Name: 21495, dtype: object
21496 110.80000000000001 11 MP Last Month    10.0727
Name: 21496, dtype: object
21497 110.14000000000001 11 MP Last Month    10.0127
Name: 21497, dtype: object
21498 51.550000000000004 10 MP Last Month    5.155
Name: 21498, dtype: object
21499 288.08000000000004 11 MP Last Month    26.1891
Name: 21499, dtype: object
21500 175.17999999999998 11 MP Last Month    15.9255
Name: 21500, dtype: object
21501 236.08999999999997 10 MP Last Month    23.609
Name: 21501, dtype: object
21502 83.92 8 MP Last Month    10.49
Name: 21502, dtype: object
21503 334.58000000000004 11 MP Last Month    30.4164
Name: 21503, dtype: object
21504 185.08 11 MP Last Month    16.8255
Name: 21504, dtype: object
21505 48.769999999999996 10 MP Last Month    4.877
Name: 21505, dtype: object
21506 175.55 9 MP Last Month    19.5056
Name: 21506, dtype: object
21507 266.8 11 MP Last Month    24.2545
Name: 21507, dtype: object
21508 220.03 11 MP Last Month    20.0027
Name: 21508, dtype: object
21509 369.24000000000007 11 MP Last Month    33.5673
Name: 21509, dtype: object
21510 379.55999999999995 11 MP Last Month    34.5055
Name: 21510, dtype: object
21511 135.28 11 MP Last Month    12.2982
Name: 21511, dtype: object
21512 86.36 10 MP Last Month    8.636
Name: 21512, dtype: object
21513 12.540000000000001 7 MP Last Month    1.79143
Name: 21513, dtype: object
21514 345.53000000000003 10 MP Last Month    34.553
Name: 21514, dtype: object
21515 374.21000000000004 11 MP Last Month    34.0191
Name: 21515, dtype: object
21516 111.77999999999999 11 MP Last Month    10.1618
Name: 21516, dtype: object
21517 132.56 10 MP Last Month    13.256
Name: 21517, dtype: object
21518 382.59999999999997 11 MP Last Month    34.7818
Name: 21518, dtype: object
21519 92.07000000000001 10 MP Last Month    9.207
Name: 21519, dtype: object
21520 230.98 9 MP Last Month    25.6644
Name: 21520, dtype: object
21521 20.240000000000002 5 MP Last Month    4.048
Name: 21521, dtype: object
21522 119.48 11 MP Last Month    10.8618
Name: 21522, dtype: object
21523 66.58 10 MP Last Month    6.658
Name: 21523, dtype: object
21524 305.8 10 MP Last Month    30.58
Name: 21524, dtype: object
21525 180.35999999999996 11 MP Last Month    16.3964
Name: 21525, dtype: object
21526 371.15999999999997 10 MP Last Month    37.116
Name: 21526, dtype: object
21527 323.71000000000004 10 MP Last Month    32.371
Name: 21527, dtype: object
21528 256.34999999999997 10 MP Last Month    25.635
Name: 21528, dtype: object
21529 228.57999999999998 11 MP Last Month    20.78
Name: 21529, dtype: object
21530 377.96 11 MP Last Month    34.36
Name: 21530, dtype: object

21531 311.15999999999997 10 MP Last Month    31.116
Name: 21531, dtype: object
21532 167.23 8 MP Last Month    20.9037
Name: 21532, dtype: object
21533 95.63 3 MP Last Month    31.8767
Name: 21533, dtype: object

In [9]:
merged_df.to_csv("main_merged3.csv", encoding='utf-8', index=False)

In [92]:
merged_path = "C:/Users/ozgur/Desktop/dev/Fantasy-Basketball-Player-Recomendation-System/ML/merged1.csv"
merged_df = pd.read_csv(merged_path, index_col=None, header=0)
temp_df = merged_df.drop(['Pos', 'Date', 'Name', 'Team', 'Value', 'Home', 'W', 'W_PTS', 'L_PTS', 'Salary', 'FPTS'], axis=1)

k_means = KMeans(init = "k-means++", n_clusters = 8, n_init = 100)
k_means.fit(temp_df)

merged_df['POS Type'] = k_means.labels_
merged_df.to_csv("merged2.csv", encoding='utf-8', index=False)