In [1]:
import pandas as pd
import numpy as np
import math
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans 
from sklearn import preprocessing, svm, model_selection

In [ ]:
path = "C:/Users/ozgur/Downloads/fantasy-basketball-master/data/Boxscores/2018-19"
all_files = glob.glob(path + "/*.csv")

In [ ]:
temp_list = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    temp_list.append(df)

dataframe = pd.concat(temp_list, axis=0, ignore_index=True)

In [ ]:
print(dataframe)

In [ ]:
missing_data = dataframe.isnull()

for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

In [ ]:
for index, row in dataframe.iterrows():
    if row['3PA'] is 0 and row.isnull()['3P_perc']:
        dataframe.loc[index, ['3P_perc']] = 0

In [ ]:
dataframe.fillna(0, inplace = True)
dataframe.to_csv("merged.csv", encoding='utf-8', index=False)

In [ ]:
data = np.load('C:\\Users\\ozgur\\Downloads\\fantasy-basketball-master\\data\\Names\\standard_names.npy',allow_pickle=True)
print(data)

In [3]:
merged_path = "C:/Users/ozgur/Desktop/dev/Fantasy-Basketball-Player-Recomendation-System/ML/data/Merged/df_2018-19.csv"
merged_df = pd.read_csv(merged_path, index_col=None, header=0)
# merged_df.drop(['Pos', 'Date', 'Salary', 'FPTS', 'Value', 'PG', 'SG', 'F', 'C', 'Name', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA'], axis=1, inplace=True)

for index, row in merged_df.iterrows():
    if row['W'] == row['Team']:
        merged_df.loc[index, ['W']] = 1
    else:
        merged_df.loc[index, ['W']] = 0

# merged_df.drop(['Team'], axis=1, inplace=True)
merged_df.drop(['L'], axis=1, inplace=True)
# merged_df.to_csv("merged.csv", encoding='utf-8', index=False)
print(merged_df)

                  Name    Pos      Date  Salary  Starter Team   FPTS  \
0         Terry Rozier  PG/SG  20181016  4500.0        0  BOS  24.50
1         Kyrie Irving     PG  20181016  7600.0        1  BOS  21.50
2         Marcus Smart  PG/SG  20181016  4400.0        0  BOS  15.25
3       Brad Wanamaker     PG  20181016  3000.0        0  BOS   3.25
4         Jayson Tatum  SF/PF  20181016  5600.0        1  BOS  40.75
...                ...    ...       ...     ...      ...  ...    ...
28906    Royce O'Neale     SF  20190410  3600.0        1  UTA  10.75
28907  Tyler Cavanaugh     PF  20190410  3000.0        0  UTA   5.25
28908        Ekpe Udoh      C  20190410  3300.0        1  UTA  47.25
28909     Tony Bradley      C  20190410  3000.0        0  UTA  37.50
28910   Derrick Favors   PF/C  20190410  6200.0        0  UTA   0.00

           Value  Home  W  ...  DRB_perc  ORB_perc  BLK_perc  TOV_perc  \
0       5.444444     1  1  ...      29.6       0.0       3.0       9.1
1       2.828947     1  1  ...      13.5       0.0       0.0      16.8
2       3.465909     1  1  ...      11.7       0.0       0.0      29.1
3       1.083333     1  1  ...     100.0       0.0       0.0       0.0
4       7.276786     1  1  ...      23.7       6.3       0.0       5.0
...          ...   ... ..  ...       ...       ...       ...       ...
28906   2.986111     0  0  ...      12.3       0.0       0.0      14.3
28907   1.750000     0  0  ...       6.5      11.9       0.0       0.0
28908  14.318182     0  0  ...      35.4       9.7       9.4       0.0
28909  12.500000     0  0  ...      12.6      26.9       5.6      13.4
28910   0.000000     0  0  ...       0.0       0.0       0.0       0.0

       STL_perc  eFG_perc  PG  SG  F  C
0           0.0     0.550   1   0  0  0
1           0.0     0.179   1   0  0  0
2           0.0     0.750   1   0  0  0
3           0.0     1.000   1   0  0  0
4           1.6     0.559   0   0  1  0
...         ...       ...  ..  .. .. ..
28906       0.0     0.500   0   0  1  0
28907       0.0     0.000   0   0  1  0
28908       0.0     0.714   0   0  0  1
28909       3.7     0.583   0   0  0  1
28910       0.0     0.000   0   0  0  1

[28911 rows x 47 columns]

In [4]:
merged_df.Date = merged_df.Date.astype(str).str.slice(0, 4) + '/' + merged_df.Date.astype(str).str.slice(4, 6) + '/' + merged_df.Date.astype(str).str.slice(6, 8)
merged_df.Date = pd.to_datetime(merged_df.Date)
merged_df.to_csv("merged.csv", encoding='utf-8', index=False)

In [5]:
days = (merged_df.loc[11000, ['Date']] - merged_df.loc[56, ['Date']]).dt.days
print(merged_df.loc[11000, ['Date']], merged_df.loc[56, ['Date']], days)

Date    2018-12-19 00:00:00
Name: 11000, dtype: object Date    2018-10-17 00:00:00
Name: 56, dtype: object Date    63
dtype: int64

In [14]:
merged_path = "C:/Users/ozgur/Desktop/dev/Fantasy-Basketball-Player-Recomendation-System/ML/main_merged5v2.csv"
merged_df = pd.read_csv(merged_path, index_col=None, header=0)
merged_df.columns

Index(['Name', 'Pos', 'Date', 'Starter', 'Team', 'Home', 'W', 'MP', 'FG',
       'FGA', 'FG_perc', '3P', '3PA', '3P_perc', 'FT', 'FTA', 'FT_perc', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'USG_perc', 'DRtg', 'ORtg',
       'AST_perc', 'DRB_perc', 'ORB_perc', 'BLK_perc', 'TOV_perc', 'STL_perc',
       'eFG_perc', 'PG', 'SG', 'F', 'C', 'PTS_AVG Last Month',
       'PTS_AVG Last Week', 'AST Last Week', 'PTS_AVG', 'AST Last Month',
       'MP_AVG', 'FG_AVG', 'FGA_AVG', 'FG_perc_AVG', 'FG_AVG Last Week',
       'FGA_AVG Last Week', 'FG_perc_AVG Last Week', 'AST_AVG',
       'FG_AVG Last Month', 'FGA_AVG Last Month', 'FG_perc_AVG Last Month',
       'Opp', 'BLK_AVG', 'BLK Last Week', 'BLK Last Month', 'TRB_AVG',
       'STL_AVG', 'MP Last Month', 'MP Last Week', 'ORtg_AVG', 'eFG_perc_AVG',
       '3PA_AVG', 'TOV_AVG', 'DRtg_AVG', 'USG_perc_AVG', '3P_AVG',
       'ORtg Last Month'],
      dtype='object')

In [15]:
WEEK = 7
MONTH = 30 

merged_df['ORtg Last Month'] = np.nan
merged_df.Date = pd.to_datetime(merged_df.Date)
temp_df = merged_df.drop(['Pos', 'Starter', 'Team', 'Home', 'W', 'MP', 'FG',
       'FGA', 'FG_perc', '3P', '3PA', '3P_perc', 'FT', 'FTA', 'FT_perc', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'USG_perc', 'DRtg',
       'AST_perc', 'DRB_perc', 'ORB_perc', 'BLK_perc', 'TOV_perc', 'STL_perc',
       'eFG_perc', 'PG', 'SG', 'F', 'C', 'PTS_AVG Last Month',
       'PTS_AVG Last Week', 'AST Last Week', 'PTS_AVG', 'AST Last Month',
       'MP_AVG', 'FG_AVG', 'FGA_AVG', 'FG_perc_AVG', 'FG_AVG Last Week',
       'FGA_AVG Last Week', 'FG_perc_AVG Last Week', 'AST_AVG',
       'FG_AVG Last Month', 'FGA_AVG Last Month', 'FG_perc_AVG Last Month',
       'Opp', 'BLK_AVG', 'BLK Last Week', 'BLK Last Month', 'TRB_AVG',
       'STL_AVG', 'MP Last Month', 'MP Last Week', 'ORtg_AVG', 'eFG_perc_AVG',
       '3PA_AVG', 'TOV_AVG', 'DRtg_AVG', 'USG_perc_AVG', '3P_AVG',
       'ORtg Last Month'], axis=1)

for index_i, row_i in temp_df.iterrows():
    count = 0
    total = 0

    for index_j, row_j in temp_df.iterrows():
        if index_j >= index_i:
            break
        elif (row_i['Name'] == row_j['Name']) and ((row_i['Date'] - row_j['Date']).days <= MONTH):  
            count += 1
            total += row_j['ORtg']
     
    if total is 0:
        merged_df.loc[index_i, ['ORtg Last Month']] = 0
    else:
        merged_df.loc[index_i, ['ORtg Last Month']] = total/count
    
    print(index_i, total, count, merged_df.loc[index_i, ['ORtg Last Month']])
    
print(merged_df)
# and (row_i['Date'] - row_j['Date']).days <= MONTH:

0 0 0 ORtg Last Month    0
Name: 0, dtype: object
1 0 0 ORtg Last Month    0
Name: 1, dtype: object
2 0 0 ORtg Last Month    0
Name: 2, dtype: object
3 0 0 ORtg Last Month    0
Name: 3, dtype: object
4 0 0 ORtg Last Month    0
Name: 4, dtype: object
5 0 0 ORtg Last Month    0
Name: 5, dtype: object
6 0 0 ORtg Last Month    0
Name: 6, dtype: object
7 0 0 ORtg Last Month    0
Name: 7, dtype: object
8 0 0 ORtg Last Month    0
Name: 8, dtype: object
9 0 0 ORtg Last Month    0
Name: 9, dtype: object
10 0 0 ORtg Last Month    0
Name: 10, dtype: object
11 0 0 ORtg Last Month    0
Name: 11, dtype: object
12 0 0 ORtg Last Month    0
Name: 12, dtype: object
13 0 0 ORtg Last Month    0
Name: 13, dtype: object
14 0 0 ORtg Last Month    0
Name: 14, dtype: object
15 0 0 ORtg Last Month    0
Name: 15, dtype: object
16 0 0 ORtg Last Month    0
Name: 16, dtype: object
17 0 0 ORtg Last Month    0
Name: 17, dtype: object
18 0 0 ORtg Last Month    0
Name: 18, dtype: object
19 0 0 ORtg Last Month    0
Name: 19, dtype: object
20 0 0 ORtg Last Month    0
Name: 20, dtype: object
21 0 0 ORtg Last Month    0
Name: 21, dtype: object
22 0 0 ORtg Last Month    0
Name: 22, dtype: object
23 0 0 ORtg Last Month    0
Name: 23, dtype: object
24 0 0 ORtg Last Month    0
Name: 24, dtype: object
25 0 0 ORtg Last Month    0
Name: 25, dtype: object
26 0 0 ORtg Last Month    0
Name: 26, dtype: object
27 0 0 ORtg Last Month    0
Name: 27, dtype: object
28 0 0 ORtg Last Month    0
Name: 28, dtype: object
29 0 0 ORtg Last Month    0
Name: 29, dtype: object
30 0 0 ORtg Last Month    0
Name: 30, dtype: object
31 0 0 ORtg Last Month    0
Name: 31, dtype: object
32 0 0 ORtg Last Month    0
Name: 32, dtype: object
33 0 0 ORtg Last Month    0
Name: 33, dtype: object
34 0 0 ORtg Last Month    0
Name: 34, dtype: object
35 0 0 ORtg Last Month    0
Name: 35, dtype: object
36 0 0 ORtg Last Month    0
Name: 36, dtype: object
37 0 0 ORtg Last Month    0
Name: 37, dtype: object
38 0 0 ORtg Last Month    0
Name: 38, dtype: object
39 0 0 ORtg Last Month    0
Name: 39, dtype: object
40 0 0 ORtg Last Month    0
Name: 40, dtype: object
41 0 0 ORtg Last Month    0
Name: 41, dtype: object
42 0 0 ORtg Last Month    0
Name: 42, dtype: object
43 0 0 ORtg Last Month    0
Name: 43, dtype: object
44 0 0 ORtg Last Month    0
Name: 44, dtype: object
45 0 0 ORtg Last Month    0
Name: 45, dtype: object
46 0 0 ORtg Last Month    0
Name: 46, dtype: object
47 0 0 ORtg Last Month    0
Name: 47, dtype: object
48 0 0 ORtg Last Month    0
Name: 48, dtype: object
49 0 0 ORtg Last Month    0
Name: 49, dtype: object
50 0 0 ORtg Last Month    0
Name: 50, dtype: object
51 0 0 ORtg Last Month    0
Name: 51, dtype: object
52 0 0 ORtg Last Month    0
Name: 52, dtype: object
53 0 0 ORtg Last Month    0
Name: 53, dtype: object
54 0 0 ORtg Last Month    0
Name: 54, dtype: object
55 0 0 ORtg Last Month    0
Name: 55, dtype: object
56 0 0 ORtg Last Month    0
Name: 56, dtype: object
57 0 0 ORtg Last Month    0
Name: 57, dtype: object
58 0 0 ORtg Last Month    0
Name: 58, dtype: object
59 0 0 ORtg Last Month    0
Name: 59, dtype: object
60 0 0 ORtg Last Month    0
Name: 60, dtype: object
61 0 0 ORtg Last Month    0
Name: 61, dtype: object
62 0 0 ORtg Last Month    0
Name: 62, dtype: object
63 0 0 ORtg Last Month    0
Name: 63, dtype: object
64 0 0 ORtg Last Month    0
Name: 64, dtype: object
65 0 0 ORtg Last Month    0
Name: 65, dtype: object
66 0 0 ORtg Last Month    0
Name: 66, dtype: object
67 0 0 ORtg Last Month    0
Name: 67, dtype: object
68 0 0 ORtg Last Month    0
Name: 68, dtype: object
69 0 0 ORtg Last Month    0
Name: 69, dtype: object
70 0 0 ORtg Last Month    0
Name: 70, dtype: object
71 0 0 ORtg Last Month    0
Name: 71, dtype: object
72 0 0 ORtg Last Month    0
Name: 72, dtype: object
73 0 0 ORtg Last Month    0
Name: 73, dtype: object
74 0 0 ORtg Last Month    0
Name: 74, dtype: object
75 0 0 ORtg Last Month    0
Name: 75, dtype: object
76 0 0 ORtg Last Month    0
Name: 76, dtype: object
77 0 0 ORtg Last Month    0
Name: 77, dtype: object
78 0 0 ORtg Last Month    0
Name: 78, dtype: object
79 0 0 ORtg Last Month    0
Name: 79, dtype: object
80 0 0 ORtg Last Month    0
Name: 80, dtype: object
81 0 0 ORtg Last Month    0
Name: 81, dtype: object
82 0 0 ORtg Last Month    0
Name: 82, dtype: object
83 0 0 ORtg Last Month    0
Name: 83, dtype: object
84 0 0 ORtg Last Month    0
Name: 84, dtype: object
85 0 0 ORtg Last Month    0
Name: 85, dtype: object
86 0 0 ORtg Last Month    0
Name: 86, dtype: object
87 0 0 ORtg Last Month    0
Name: 87, dtype: object
88 0 0 ORtg Last Month    0
Name: 88, dtype: object
89 0 0 ORtg Last Month    0
Name: 89, dtype: object
90 0 0 ORtg Last Month    0
Name: 90, dtype: object
91 0 0 ORtg Last Month    0
Name: 91, dtype: object
92 0 0 ORtg Last Month    0
Name: 92, dtype: object
93 0 0 ORtg Last Month    0
Name: 93, dtype: object
94 0 0 ORtg Last Month    0
Name: 94, dtype: object
95 0 0 ORtg Last Month    0
Name: 95, dtype: object
96 0 0 ORtg Last Month    0
Name: 96, dtype: object
97 0 0 ORtg Last Month    0
Name: 97, dtype: object
98 0 0 ORtg Last Month    0
Name: 98, dtype: object
99 0 0 ORtg Last Month    0
Name: 99, dtype: object
100 0 0 ORtg Last Month    0
Name: 100, dtype: object
101 0 0 ORtg Last Month    0
Name: 101, dtype: object
102 0 0 ORtg Last Month    0
Name: 102, dtype: object
103 0 0 ORtg Last Month    0
Name: 103, dtype: object
104 0 0 ORtg Last Month    0
Name: 104, dtype: object
105 0 0 ORtg Last Month    0
Name: 105, dtype: object
106 0 0 ORtg Last Month    0
Name: 106, dtype: object
107 0 0 ORtg Last Month    0
Name: 107, dtype: object
108 0 0 ORtg Last Month    0
Name: 108, dtype: object
109 0 0 ORtg Last Month    0
Name: 109, dtype: object
110 0 0 ORtg Last Month    0
Name: 110, dtype: object
111 0 0 ORtg Last Month    0
Name: 111, dtype: object
112 0 0 ORtg Last Month    0
Name: 112, dtype: object
113 0 0 ORtg Last Month    0
Name: 113, dtype: object
114 0 0 ORtg Last Month    0
Name: 114, dtype: object
115 0 0 ORtg Last Month    0
Name: 115, dtype: object
116 0 0 ORtg Last Month    0
Name: 116, dtype: object
117 0 0 ORtg Last Month    0
Name: 117, dtype: object
118 0 0 ORtg Last Month    0
Name: 118, dtype: object
119 0 0 ORtg Last Month    0
Name: 119, dtype: object
120 0 0 ORtg Last Month    0
Name: 120, dtype: object
121 0 0 ORtg Last Month    0
Name: 121, dtype: object
122 0 0 ORtg Last Month    0
Name: 122, dtype: object
123 0 0 ORtg Last Month    0
Name: 123, dtype: object
124 0 0 ORtg Last Month    0
Name: 124, dtype: object
125 0 0 ORtg Last Month    0
Name: 125, dtype: object
126 0 0 ORtg Last Month    0
Name: 126, dtype: object
127 0 0 ORtg Last Month    0
Name: 127, dtype: object
128 0 0 ORtg Last Month    0
Name: 128, dtype: object
129 0 0 ORtg Last Month    0
Name: 129, dtype: object
130 0 0 ORtg Last Month    0
Name: 130, dtype: object
131 0 0 ORtg Last Month    0
Name: 131, dtype: object
132 0 0 ORtg Last Month    0
Name: 132, dtype: object
133 0 0 ORtg Last Month    0
Name: 133, dtype: object
134 0 0 ORtg Last Month    0
Name: 134, dtype: object
135 0 0 ORtg Last Month    0
Name: 135, dtype: object
136 0 0 ORtg Last Month    0
Name: 136, dtype: object
137 0 0 ORtg Last Month    0
Name: 137, dtype: object
138 0 0 ORtg Last Month    0
Name: 138, dtype: object
139 0 0 ORtg Last Month    0
Name: 139, dtype: object
140 0 0 ORtg Last Month    0
Name: 140, dtype: object
141 0 0 ORtg Last Month    0
Name: 141, dtype: object
142 0 0 ORtg Last Month    0
Name: 142, dtype: object
143 0 0 ORtg Last Month    0
Name: 143, dtype: object
144 0 0 ORtg Last Month    0
Name: 144, dtype: object
145 0 0 ORtg Last Month    0
Name: 145, dtype: object
146 0 0 ORtg Last Month    0
Name: 146, dtype: object
147 0 0 ORtg Last Month    0
Name: 147, dtype: object
148 0 0 ORtg Last Month    0
Name: 148, dtype: object
149 0 0 ORtg Last Month    0
Name: 149, dtype: object
150 0 0 ORtg Last Month    0
Name: 150, dtype: object
151 0 0 ORtg Last Month    0
Name: 151, dtype: object
152 0 0 ORtg Last Month    0
Name: 152, dtype: object
153 0 0 ORtg Last Month    0
Name: 153, dtype: object
154 0 0 ORtg Last Month    0
Name: 154, dtype: object
155 0 0 ORtg Last Month    0
Name: 155, dtype: object

156 0 0 ORtg Last Month    0
Name: 156, dtype: object
157 0 0 ORtg Last Month    0
Name: 157, dtype: object
158 0 0 ORtg Last Month    0
Name: 158, dtype: object
159 0 0 ORtg Last Month    0
Name: 159, dtype: object
160 0 0 ORtg Last Month    0
Name: 160, dtype: object
161 0 0 ORtg Last Month    0
Name: 161, dtype: object
162 0 0 ORtg Last Month    0
Name: 162, dtype: object
163 0 0 ORtg Last Month    0
Name: 163, dtype: object
164 0 0 ORtg Last Month    0
Name: 164, dtype: object
165 0 0 ORtg Last Month    0
Name: 165, dtype: object
166 0 0 ORtg Last Month    0
Name: 166, dtype: object
167 0 0 ORtg Last Month    0
Name: 167, dtype: object
168 0 0 ORtg Last Month    0
Name: 168, dtype: object
169 0 0 ORtg Last Month    0
Name: 169, dtype: object
170 0 0 ORtg Last Month    0
Name: 170, dtype: object
171 0 0 ORtg Last Month    0
Name: 171, dtype: object
172 0 0 ORtg Last Month    0
Name: 172, dtype: object
173 0 0 ORtg Last Month    0
Name: 173, dtype: object
174 0 0 ORtg Last Month    0
Name: 174, dtype: object
175 0 0 ORtg Last Month    0
Name: 175, dtype: object
176 0 0 ORtg Last Month    0
Name: 176, dtype: object
177 0 0 ORtg Last Month    0
Name: 177, dtype: object
178 0 0 ORtg Last Month    0
Name: 178, dtype: object
179 0 0 ORtg Last Month    0
Name: 179, dtype: object
180 0 0 ORtg Last Month    0
Name: 180, dtype: object
181 0 0 ORtg Last Month    0
Name: 181, dtype: object
182 0 0 ORtg Last Month    0
Name: 182, dtype: object
183 0 0 ORtg Last Month    0
Name: 183, dtype: object
184 0 0 ORtg Last Month    0
Name: 184, dtype: object
185 0 0 ORtg Last Month    0
Name: 185, dtype: object
186 0 0 ORtg Last Month    0
Name: 186, dtype: object
187 0 0 ORtg Last Month    0
Name: 187, dtype: object
188 0 0 ORtg Last Month    0
Name: 188, dtype: object
189 0 0 ORtg Last Month    0
Name: 189, dtype: object
190 0 0 ORtg Last Month    0
Name: 190, dtype: object
191 0 0 ORtg Last Month    0
Name: 191, dtype: object
192 0 0 ORtg Last Month    0
Name: 192, dtype: object
193 0 0 ORtg Last Month    0
Name: 193, dtype: object
194 0 0 ORtg Last Month    0
Name: 194, dtype: object
195 0 0 ORtg Last Month    0
Name: 195, dtype: object
196 0 0 ORtg Last Month    0
Name: 196, dtype: object
197 0 0 ORtg Last Month    0
Name: 197, dtype: object
198 0 0 ORtg Last Month    0
Name: 198, dtype: object
199 0 0 ORtg Last Month    0
Name: 199, dtype: object
200 0 0 ORtg Last Month    0
Name: 200, dtype: object
201 0 0 ORtg Last Month    0
Name: 201, dtype: object
202 0 0 ORtg Last Month    0
Name: 202, dtype: object
203 0 0 ORtg Last Month    0
Name: 203, dtype: object
204 0 0 ORtg Last Month    0
Name: 204, dtype: object
205 0 0 ORtg Last Month    0
Name: 205, dtype: object
206 0 0 ORtg Last Month    0
Name: 206, dtype: object
207 0 0 ORtg Last Month    0
Name: 207, dtype: object
208 0 0 ORtg Last Month    0
Name: 208, dtype: object
209 0 0 ORtg Last Month    0
Name: 209, dtype: object
210 0 0 ORtg Last Month    0
Name: 210, dtype: object
211 0 0 ORtg Last Month    0
Name: 211, dtype: object
212 0 0 ORtg Last Month    0
Name: 212, dtype: object
213 0 0 ORtg Last Month    0
Name: 213, dtype: object
214 0 0 ORtg Last Month    0
Name: 214, dtype: object
215 0 0 ORtg Last Month    0
Name: 215, dtype: object
216 0 0 ORtg Last Month    0
Name: 216, dtype: object
217 0 0 ORtg Last Month    0
Name: 217, dtype: object
218 0 0 ORtg Last Month    0
Name: 218, dtype: object
219 0 0 ORtg Last Month    0
Name: 219, dtype: object
220 0 0 ORtg Last Month    0
Name: 220, dtype: object
221 0 0 ORtg Last Month    0
Name: 221, dtype: object
222 0 0 ORtg Last Month    0
Name: 222, dtype: object
223 0 0 ORtg Last Month    0
Name: 223, dtype: object
224 0 0 ORtg Last Month    0
Name: 224, dtype: object
225 0 0 ORtg Last Month    0
Name: 225, dtype: object
226 0 0 ORtg Last Month    0
Name: 226, dtype: object
227 0 0 ORtg Last Month    0
Name: 227, dtype: object
228 0 0 ORtg Last Month    0
Name: 228, dtype: object
229 0 0 ORtg Last Month    0
Name: 229, dtype: object
230 0 0 ORtg Last Month    0
Name: 230, dtype: object
231 0 0 ORtg Last Month    0
Name: 231, dtype: object
232 0 0 ORtg Last Month    0
Name: 232, dtype: object
233 0 0 ORtg Last Month    0
Name: 233, dtype: object
234 0 0 ORtg Last Month    0
Name: 234, dtype: object
235 0 0 ORtg Last Month    0
Name: 235, dtype: object
236 0 0 ORtg Last Month    0
Name: 236, dtype: object
237 0 0 ORtg Last Month    0
Name: 237, dtype: object
238 0 0 ORtg Last Month    0
Name: 238, dtype: object
239 0 0 ORtg Last Month    0
Name: 239, dtype: object
240 0 0 ORtg Last Month    0
Name: 240, dtype: object
241 0 0 ORtg Last Month    0
Name: 241, dtype: object
242 0 0 ORtg Last Month    0
Name: 242, dtype: object
243 0 0 ORtg Last Month    0
Name: 243, dtype: object
244 0 0 ORtg Last Month    0
Name: 244, dtype: object
245 0 0 ORtg Last Month    0
Name: 245, dtype: object
246 0 0 ORtg Last Month    0
Name: 246, dtype: object
247 0 0 ORtg Last Month    0
Name: 247, dtype: object
248 0 0 ORtg Last Month    0
Name: 248, dtype: object
249 0 0 ORtg Last Month    0
Name: 249, dtype: object
250 0 0 ORtg Last Month    0
Name: 250, dtype: object
251 0 0 ORtg Last Month    0
Name: 251, dtype: object
252 0 0 ORtg Last Month    0
Name: 252, dtype: object
253 0 0 ORtg Last Month    0
Name: 253, dtype: object
254 0 0 ORtg Last Month    0
Name: 254, dtype: object
255 0 0 ORtg Last Month    0
Name: 255, dtype: object
256 0 0 ORtg Last Month    0
Name: 256, dtype: object
257 0 0 ORtg Last Month    0
Name: 257, dtype: object
258 0 0 ORtg Last Month    0
Name: 258, dtype: object
259 0 0 ORtg Last Month    0
Name: 259, dtype: object
260 0 0 ORtg Last Month    0
Name: 260, dtype: object
261 0 0 ORtg Last Month    0
Name: 261, dtype: object
262 0 0 ORtg Last Month    0
Name: 262, dtype: object
263 0 0 ORtg Last Month    0
Name: 263, dtype: object
264 0 0 ORtg Last Month    0
Name: 264, dtype: object
265 0 0 ORtg Last Month    0
Name: 265, dtype: object
266 0 0 ORtg Last Month    0
Name: 266, dtype: object
267 0 0 ORtg Last Month    0
Name: 267, dtype: object
268 0 0 ORtg Last Month    0
Name: 268, dtype: object
269 0 0 ORtg Last Month    0
Name: 269, dtype: object
270 0 0 ORtg Last Month    0
Name: 270, dtype: object
271 0 0 ORtg Last Month    0
Name: 271, dtype: object
272 0 0 ORtg Last Month    0
Name: 272, dtype: object
273 0 0 ORtg Last Month    0
Name: 273, dtype: object
274 0 0 ORtg Last Month    0
Name: 274, dtype: object
275 0 0 ORtg Last Month    0
Name: 275, dtype: object
276 0 0 ORtg Last Month    0
Name: 276, dtype: object
277 0 0 ORtg Last Month    0
Name: 277, dtype: object
278 0 0 ORtg Last Month    0
Name: 278, dtype: object
279 0 0 ORtg Last Month    0
Name: 279, dtype: object
280 0 0 ORtg Last Month    0
Name: 280, dtype: object
281 0 0 ORtg Last Month    0
Name: 281, dtype: object
282 0 0 ORtg Last Month    0
Name: 282, dtype: object
283 0 0 ORtg Last Month    0
Name: 283, dtype: object
284 0 0 ORtg Last Month    0
Name: 284, dtype: object
285 0 0 ORtg Last Month    0
Name: 285, dtype: object
286 0 0 ORtg Last Month    0
Name: 286, dtype: object
287 0 0 ORtg Last Month    0
Name: 287, dtype: object
288 0 0 ORtg Last Month    0
Name: 288, dtype: object
289 0 0 ORtg Last Month    0
Name: 289, dtype: object
290 0 0 ORtg Last Month    0
Name: 290, dtype: object
291 0 0 ORtg Last Month    0
Name: 291, dtype: object
292 0 0 ORtg Last Month    0
Name: 292, dtype: object
293 0 0 ORtg Last Month    0
Name: 293, dtype: object
294 0 0 ORtg Last Month    0
Name: 294, dtype: object
295 0 0 ORtg Last Month    0
Name: 295, dtype: object
296 0 0 ORtg Last Month    0
Name: 296, dtype: object
297 0 0 ORtg Last Month    0
Name: 297, dtype: object
298 0 0 ORtg Last Month    0
Name: 298, dtype: object
299 0 0 ORtg Last Month    0
Name: 299, dtype: object
300 0 0 ORtg Last Month    0
Name: 300, dtype: object
301 0 0 ORtg Last Month    0
Name: 301, dtype: object
302 0 0 ORtg Last Month    0
Name: 302, dtype: object
303 0 0 ORtg Last Month    0
Name: 303, dtype: object
304 0 0 ORtg Last Month    0
Name: 304, dtype: object
305 0 0 ORtg Last Month    0
Name: 305, dtype: object
306 0 0 ORtg Last Month    0
Name: 306, dtype: object
307 0 0 ORtg Last Month    0
Name: 307, dtype: object
308 0 0 ORtg Last Month    0
Name: 308, dtype: object
309 0 0 ORtg Last Month    0
Name: 309, dtype: object

310 0 0 ORtg Last Month    0
Name: 310, dtype: object
311 0 0 ORtg Last Month    0
Name: 311, dtype: object
312 0 0 ORtg Last Month    0
Name: 312, dtype: object
313 0 0 ORtg Last Month    0
Name: 313, dtype: object
314 0 0 ORtg Last Month    0
Name: 314, dtype: object
315 0 0 ORtg Last Month    0
Name: 315, dtype: object
316 0 0 ORtg Last Month    0
Name: 316, dtype: object
317 0 0 ORtg Last Month    0
Name: 317, dtype: object
318 0 0 ORtg Last Month    0
Name: 318, dtype: object
319 0 0 ORtg Last Month    0
Name: 319, dtype: object
320 0 0 ORtg Last Month    0
Name: 320, dtype: object
321 0 0 ORtg Last Month    0
Name: 321, dtype: object
322 0 0 ORtg Last Month    0
Name: 322, dtype: object
323 0 0 ORtg Last Month    0
Name: 323, dtype: object
324 0 0 ORtg Last Month    0
Name: 324, dtype: object
325 0 0 ORtg Last Month    0
Name: 325, dtype: object
326 0 0 ORtg Last Month    0
Name: 326, dtype: object
327 0 0 ORtg Last Month    0
Name: 327, dtype: object
328 0 0 ORtg Last Month    0
Name: 328, dtype: object
329 0 0 ORtg Last Month    0
Name: 329, dtype: object
330 0 0 ORtg Last Month    0
Name: 330, dtype: object
331 0 0 ORtg Last Month    0
Name: 331, dtype: object
332 0 0 ORtg Last Month    0
Name: 332, dtype: object
333 0 0 ORtg Last Month    0
Name: 333, dtype: object
334 0 0 ORtg Last Month    0
Name: 334, dtype: object
335 0 0 ORtg Last Month    0
Name: 335, dtype: object
336 0 0 ORtg Last Month    0
Name: 336, dtype: object
337 0 0 ORtg Last Month    0
Name: 337, dtype: object
338 0 0 ORtg Last Month    0
Name: 338, dtype: object
339 0 0 ORtg Last Month    0
Name: 339, dtype: object
340 0 0 ORtg Last Month    0
Name: 340, dtype: object
341 0 0 ORtg Last Month    0
Name: 341, dtype: object
342 0 0 ORtg Last Month    0
Name: 342, dtype: object
343 0 0 ORtg Last Month    0
Name: 343, dtype: object
344 0 0 ORtg Last Month    0
Name: 344, dtype: object
345 135 1 ORtg Last Month    135
Name: 345, dtype: object
346 69 1 ORtg Last Month    69
Name: 346, dtype: object
347 108 1 ORtg Last Month    108
Name: 347, dtype: object
348 95 1 ORtg Last Month    95
Name: 348, dtype: object
349 90 1 ORtg Last Month    90
Name: 349, dtype: object
350 87 1 ORtg Last Month    87
Name: 350, dtype: object
351 0 1 ORtg Last Month    0
Name: 351, dtype: object
352 0 1 ORtg Last Month    0
Name: 352, dtype: object
353 0 1 ORtg Last Month    0
Name: 353, dtype: object
354 0 1 ORtg Last Month    0
Name: 354, dtype: object
355 88 1 ORtg Last Month    88
Name: 355, dtype: object
356 83 1 ORtg Last Month    83
Name: 356, dtype: object
357 101 1 ORtg Last Month    101
Name: 357, dtype: object
358 104 1 ORtg Last Month    104
Name: 358, dtype: object
359 52 1 ORtg Last Month    52
Name: 359, dtype: object
360 23 1 ORtg Last Month    23
Name: 360, dtype: object
361 97 1 ORtg Last Month    97
Name: 361, dtype: object
362 0 1 ORtg Last Month    0
Name: 362, dtype: object
363 0 1 ORtg Last Month    0
Name: 363, dtype: object
364 0 1 ORtg Last Month    0
Name: 364, dtype: object
365 67 1 ORtg Last Month    67
Name: 365, dtype: object
366 55 1 ORtg Last Month    55
Name: 366, dtype: object
367 92 1 ORtg Last Month    92
Name: 367, dtype: object
368 0 1 ORtg Last Month    0
Name: 368, dtype: object
369 84 1 ORtg Last Month    84
Name: 369, dtype: object
370 193 1 ORtg Last Month    193
Name: 370, dtype: object
371 0 0 ORtg Last Month    0
Name: 371, dtype: object
372 0 0 ORtg Last Month    0
Name: 372, dtype: object
373 0 0 ORtg Last Month    0
Name: 373, dtype: object
374 0 0 ORtg Last Month    0
Name: 374, dtype: object
375 0 0 ORtg Last Month    0
Name: 375, dtype: object
376 0 0 ORtg Last Month    0
Name: 376, dtype: object
377 0 0 ORtg Last Month    0
Name: 377, dtype: object
378 0 0 ORtg Last Month    0
Name: 378, dtype: object
379 0 0 ORtg Last Month    0
Name: 379, dtype: object
380 0 0 ORtg Last Month    0
Name: 380, dtype: object
381 0 0 ORtg Last Month    0
Name: 381, dtype: object
382 0 0 ORtg Last Month    0
Name: 382, dtype: object
383 0 0 ORtg Last Month    0
Name: 383, dtype: object
384 0 0 ORtg Last Month    0
Name: 384, dtype: object
385 0 0 ORtg Last Month    0
Name: 385, dtype: object
386 0 0 ORtg Last Month    0
Name: 386, dtype: object
387 0 0 ORtg Last Month    0
Name: 387, dtype: object
388 0 0 ORtg Last Month    0
Name: 388, dtype: object
389 0 0 ORtg Last Month    0
Name: 389, dtype: object
390 0 0 ORtg Last Month    0
Name: 390, dtype: object
391 0 0 ORtg Last Month    0
Name: 391, dtype: object
392 0 0 ORtg Last Month    0
Name: 392, dtype: object
393 0 0 ORtg Last Month    0
Name: 393, dtype: object
394 0 0 ORtg Last Month    0
Name: 394, dtype: object
395 83 1 ORtg Last Month    83
Name: 395, dtype: object
396 94 1 ORtg Last Month    94
Name: 396, dtype: object
397 60 1 ORtg Last Month    60
Name: 397, dtype: object
398 76 1 ORtg Last Month    76
Name: 398, dtype: object
399 52 1 ORtg Last Month    52
Name: 399, dtype: object
400 77 1 ORtg Last Month    77
Name: 400, dtype: object
401 102 1 ORtg Last Month    102
Name: 401, dtype: object
402 99 1 ORtg Last Month    99
Name: 402, dtype: object
403 223 1 ORtg Last Month    223
Name: 403, dtype: object
404 86 1 ORtg Last Month    86
Name: 404, dtype: object
405 63 1 ORtg Last Month    63
Name: 405, dtype: object
406 102 1 ORtg Last Month    102
Name: 406, dtype: object
407 109 1 ORtg Last Month    109
Name: 407, dtype: object
408 200 1 ORtg Last Month    200
Name: 408, dtype: object
409 125 1 ORtg Last Month    125
Name: 409, dtype: object
410 90 1 ORtg Last Month    90
Name: 410, dtype: object
411 91 1 ORtg Last Month    91
Name: 411, dtype: object
412 122 1 ORtg Last Month    122
Name: 412, dtype: object
413 0 1 ORtg Last Month    0
Name: 413, dtype: object
414 0 1 ORtg Last Month    0
Name: 414, dtype: object
415 90 1 ORtg Last Month    90
Name: 415, dtype: object
416 124 1 ORtg Last Month    124
Name: 416, dtype: object
417 0 1 ORtg Last Month    0
Name: 417, dtype: object
418 82 1 ORtg Last Month    82
Name: 418, dtype: object
419 98 1 ORtg Last Month    98
Name: 419, dtype: object
420 0 1 ORtg Last Month    0
Name: 420, dtype: object
421 114 1 ORtg Last Month    114
Name: 421, dtype: object
422 64 1 ORtg Last Month    64
Name: 422, dtype: object
423 89 1 ORtg Last Month    89
Name: 423, dtype: object
424 94 1 ORtg Last Month    94
Name: 424, dtype: object
425 0 0 ORtg Last Month    0
Name: 425, dtype: object
426 18 1 ORtg Last Month    18
Name: 426, dtype: object
427 0 1 ORtg Last Month    0
Name: 427, dtype: object
428 118 1 ORtg Last Month    118
Name: 428, dtype: object
429 116 1 ORtg Last Month    116
Name: 429, dtype: object
430 0 1 ORtg Last Month    0
Name: 430, dtype: object
431 121 1 ORtg Last Month    121
Name: 431, dtype: object
432 115 1 ORtg Last Month    115
Name: 432, dtype: object
433 107 1 ORtg Last Month    107
Name: 433, dtype: object
434 0 1 ORtg Last Month    0
Name: 434, dtype: object
435 71 1 ORtg Last Month    71
Name: 435, dtype: object
436 123 1 ORtg Last Month    123
Name: 436, dtype: object
437 54 1 ORtg Last Month    54
Name: 437, dtype: object
438 104 1 ORtg Last Month    104
Name: 438, dtype: object
439 69 1 ORtg Last Month    69
Name: 439, dtype: object
440 266 1 ORtg Last Month    266
Name: 440, dtype: object
441 0 1 ORtg Last Month    0
Name: 441, dtype: object
442 0 1 ORtg Last Month    0
Name: 442, dtype: object
443 105 1 ORtg Last Month    105
Name: 443, dtype: object
444 76 1 ORtg Last Month    76
Name: 444, dtype: object
445 132 1 ORtg Last Month    132
Name: 445, dtype: object
446 0 0 ORtg Last Month    0
Name: 446, dtype: object
447 124 1 ORtg Last Month    124
Name: 447, dtype: object
448 102 1 ORtg Last Month    102
Name: 448, dtype: object
449 94 1 ORtg Last Month    94
Name: 449, dtype: object
450 154 1 ORtg Last Month    154
Name: 450, dtype: object
451 0 1 ORtg Last Month    0
Name: 451, dtype: object
452 92 1 ORtg Last Month    92
Name: 452, dtype: object
453 60 1 ORtg Last Month    60
Name: 453, dtype: object
454 181 1 ORtg Last Month    181
Name: 454, dtype: object
455 0 1 ORtg Last Month    0
Name: 455, dtype: object
456 141 1 ORtg Last Month    141
Name: 456, dtype: object
457 75 1 ORtg Last Month    75
Name: 457, dtype: object
458 114 1 ORtg Last Month    114
Name: 458, dtype: object
459 81 1 ORtg Last Month    81
Name: 459, dtype: object
460 0 0 ORtg Last Month    0
Name: 460, dtype: object

461 116 1 ORtg Last Month    116
Name: 461, dtype: object
462 0 1 ORtg Last Month    0
Name: 462, dtype: object
463 0 1 ORtg Last Month    0
Name: 463, dtype: object
464 220 1 ORtg Last Month    220
Name: 464, dtype: object
465 42 1 ORtg Last Month    42
Name: 465, dtype: object
466 130 1 ORtg Last Month    130
Name: 466, dtype: object
467 117 1 ORtg Last Month    117
Name: 467, dtype: object
468 121 1 ORtg Last Month    121
Name: 468, dtype: object
469 46 1 ORtg Last Month    46
Name: 469, dtype: object
470 127 1 ORtg Last Month    127
Name: 470, dtype: object
471 232 1 ORtg Last Month    232
Name: 471, dtype: object
472 111 1 ORtg Last Month    111
Name: 472, dtype: object
473 129 1 ORtg Last Month    129
Name: 473, dtype: object
474 136 1 ORtg Last Month    136
Name: 474, dtype: object
475 111 1 ORtg Last Month    111
Name: 475, dtype: object
476 132 1 ORtg Last Month    132
Name: 476, dtype: object
477 0 0 ORtg Last Month    0
Name: 477, dtype: object
478 112 1 ORtg Last Month    112
Name: 478, dtype: object
479 114 1 ORtg Last Month    114
Name: 479, dtype: object
480 86 1 ORtg Last Month    86
Name: 480, dtype: object
481 34 1 ORtg Last Month    34
Name: 481, dtype: object
482 116 1 ORtg Last Month    116
Name: 482, dtype: object
483 73 1 ORtg Last Month    73
Name: 483, dtype: object
484 0 0 ORtg Last Month    0
Name: 484, dtype: object
485 0 1 ORtg Last Month    0
Name: 485, dtype: object
486 110 1 ORtg Last Month    110
Name: 486, dtype: object
487 106 1 ORtg Last Month    106
Name: 487, dtype: object
488 22 1 ORtg Last Month    22
Name: 488, dtype: object
489 0 1 ORtg Last Month    0
Name: 489, dtype: object
490 128 1 ORtg Last Month    128
Name: 490, dtype: object
491 142 1 ORtg Last Month    142
Name: 491, dtype: object
492 83 1 ORtg Last Month    83
Name: 492, dtype: object
493 93 1 ORtg Last Month    93
Name: 493, dtype: object
494 50 1 ORtg Last Month    50
Name: 494, dtype: object
495 0 1 ORtg Last Month    0
Name: 495, dtype: object
496 143 1 ORtg Last Month    143
Name: 496, dtype: object
497 0 0 ORtg Last Month    0
Name: 497, dtype: object
498 82 1 ORtg Last Month    82
Name: 498, dtype: object
499 85 1 ORtg Last Month    85
Name: 499, dtype: object
500 133 1 ORtg Last Month    133
Name: 500, dtype: object
501 59 1 ORtg Last Month    59
Name: 501, dtype: object
502 0 1 ORtg Last Month    0
Name: 502, dtype: object
503 118 1 ORtg Last Month    118
Name: 503, dtype: object
504 65 1 ORtg Last Month    65
Name: 504, dtype: object
505 104 1 ORtg Last Month    104
Name: 505, dtype: object
506 122 1 ORtg Last Month    122
Name: 506, dtype: object
507 94 1 ORtg Last Month    94
Name: 507, dtype: object
508 120 1 ORtg Last Month    120
Name: 508, dtype: object
509 0 1 ORtg Last Month    0
Name: 509, dtype: object
510 0 1 ORtg Last Month    0
Name: 510, dtype: object
511 91 1 ORtg Last Month    91
Name: 511, dtype: object
512 124 1 ORtg Last Month    124
Name: 512, dtype: object
513 65 1 ORtg Last Month    65
Name: 513, dtype: object
514 0 1 ORtg Last Month    0
Name: 514, dtype: object
515 87 1 ORtg Last Month    87
Name: 515, dtype: object
516 130 1 ORtg Last Month    130
Name: 516, dtype: object
517 153 1 ORtg Last Month    153
Name: 517, dtype: object
518 300 1 ORtg Last Month    300
Name: 518, dtype: object
519 84 1 ORtg Last Month    84
Name: 519, dtype: object
520 158 1 ORtg Last Month    158
Name: 520, dtype: object
521 68 1 ORtg Last Month    68
Name: 521, dtype: object
522 0 1 ORtg Last Month    0
Name: 522, dtype: object
523 106 1 ORtg Last Month    106
Name: 523, dtype: object
524 106 1 ORtg Last Month    106
Name: 524, dtype: object
525 126 1 ORtg Last Month    126
Name: 525, dtype: object
526 83 1 ORtg Last Month    83
Name: 526, dtype: object
527 0 1 ORtg Last Month    0
Name: 527, dtype: object
528 0 1 ORtg Last Month    0
Name: 528, dtype: object
529 0 1 ORtg Last Month    0
Name: 529, dtype: object
530 98 1 ORtg Last Month    98
Name: 530, dtype: object
531 136 1 ORtg Last Month    136
Name: 531, dtype: object
532 94 1 ORtg Last Month    94
Name: 532, dtype: object
533 106 1 ORtg Last Month    106
Name: 533, dtype: object
534 0 1 ORtg Last Month    0
Name: 534, dtype: object
535 0 1 ORtg Last Month    0
Name: 535, dtype: object
536 0 0 ORtg Last Month    0
Name: 536, dtype: object
537 148 1 ORtg Last Month    148
Name: 537, dtype: object
538 140 1 ORtg Last Month    140
Name: 538, dtype: object
539 17 1 ORtg Last Month    17
Name: 539, dtype: object
540 123 1 ORtg Last Month    123
Name: 540, dtype: object
541 0 1 ORtg Last Month    0
Name: 541, dtype: object
542 146 1 ORtg Last Month    146
Name: 542, dtype: object
543 156 1 ORtg Last Month    156
Name: 543, dtype: object
544 0 1 ORtg Last Month    0
Name: 544, dtype: object
545 119 1 ORtg Last Month    119
Name: 545, dtype: object
546 71 1 ORtg Last Month    71
Name: 546, dtype: object
547 107 1 ORtg Last Month    107
Name: 547, dtype: object
548 68 1 ORtg Last Month    68
Name: 548, dtype: object
549 0 1 ORtg Last Month    0
Name: 549, dtype: object
550 55 1 ORtg Last Month    55
Name: 550, dtype: object
551 90 1 ORtg Last Month    90
Name: 551, dtype: object
552 85 1 ORtg Last Month    85
Name: 552, dtype: object
553 0 0 ORtg Last Month    0
Name: 553, dtype: object
554 141 1 ORtg Last Month    141
Name: 554, dtype: object
555 192 1 ORtg Last Month    192
Name: 555, dtype: object
556 200 1 ORtg Last Month    200
Name: 556, dtype: object
557 76 1 ORtg Last Month    76
Name: 557, dtype: object
558 102 1 ORtg Last Month    102
Name: 558, dtype: object
559 99 1 ORtg Last Month    99
Name: 559, dtype: object
560 0 1 ORtg Last Month    0
Name: 560, dtype: object
561 93 1 ORtg Last Month    93
Name: 561, dtype: object
562 104 1 ORtg Last Month    104
Name: 562, dtype: object
563 104 1 ORtg Last Month    104
Name: 563, dtype: object
564 48 1 ORtg Last Month    48
Name: 564, dtype: object
565 0 1 ORtg Last Month    0
Name: 565, dtype: object
566 114 1 ORtg Last Month    114
Name: 566, dtype: object
567 142 1 ORtg Last Month    142
Name: 567, dtype: object
568 80 1 ORtg Last Month    80
Name: 568, dtype: object
569 86 1 ORtg Last Month    86
Name: 569, dtype: object
570 0 1 ORtg Last Month    0
Name: 570, dtype: object
571 116 1 ORtg Last Month    116
Name: 571, dtype: object
572 113 1 ORtg Last Month    113
Name: 572, dtype: object
573 63 1 ORtg Last Month    63
Name: 573, dtype: object
574 87 1 ORtg Last Month    87
Name: 574, dtype: object
575 106 1 ORtg Last Month    106
Name: 575, dtype: object
576 116 1 ORtg Last Month    116
Name: 576, dtype: object
577 0 1 ORtg Last Month    0
Name: 577, dtype: object
578 83 1 ORtg Last Month    83
Name: 578, dtype: object
579 150 1 ORtg Last Month    150
Name: 579, dtype: object
580 0 1 ORtg Last Month    0
Name: 580, dtype: object
581 107 1 ORtg Last Month    107
Name: 581, dtype: object
582 127 1 ORtg Last Month    127
Name: 582, dtype: object
583 107 1 ORtg Last Month    107
Name: 583, dtype: object
584 86 1 ORtg Last Month    86
Name: 584, dtype: object
585 72 1 ORtg Last Month    72
Name: 585, dtype: object
586 77 1 ORtg Last Month    77
Name: 586, dtype: object
587 85 1 ORtg Last Month    85
Name: 587, dtype: object
588 153 1 ORtg Last Month    153
Name: 588, dtype: object
589 0 1 ORtg Last Month    0
Name: 589, dtype: object
590 140 1 ORtg Last Month    140
Name: 590, dtype: object
591 0 1 ORtg Last Month    0
Name: 591, dtype: object
592 166 1 ORtg Last Month    166
Name: 592, dtype: object
593 101 1 ORtg Last Month    101
Name: 593, dtype: object
594 0 1 ORtg Last Month    0
Name: 594, dtype: object
595 0 1 ORtg Last Month    0
Name: 595, dtype: object
596 99 1 ORtg Last Month    99
Name: 596, dtype: object
597 126 1 ORtg Last Month    126
Name: 597, dtype: object
598 92 1 ORtg Last Month    92
Name: 598, dtype: object
599 165 1 ORtg Last Month    165
Name: 599, dtype: object
600 161 1 ORtg Last Month    161
Name: 600, dtype: object
601 76 1 ORtg Last Month    76
Name: 601, dtype: object
602 86 1 ORtg Last Month    86
Name: 602, dtype: object
603 108 1 ORtg Last Month    108
Name: 603, dtype: object
604 0 1 ORtg Last Month    0
Name: 604, dtype: object
605 54 1 ORtg Last Month    54
Name: 605, dtype: object
606 90 1 ORtg Last Month    90
Name: 606, dtype: object
607 117 1 ORtg Last Month    117
Name: 607, dtype: object

608 154 1 ORtg Last Month    154
Name: 608, dtype: object
609 0 1 ORtg Last Month    0
Name: 609, dtype: object
610 128 1 ORtg Last Month    128
Name: 610, dtype: object
611 151 1 ORtg Last Month    151
Name: 611, dtype: object
612 0 1 ORtg Last Month    0
Name: 612, dtype: object
613 0 1 ORtg Last Month    0
Name: 613, dtype: object
614 149 1 ORtg Last Month    149
Name: 614, dtype: object
615 132 1 ORtg Last Month    132
Name: 615, dtype: object
616 0 1 ORtg Last Month    0
Name: 616, dtype: object
617 180 2 ORtg Last Month    90
Name: 617, dtype: object
618 197 2 ORtg Last Month    98.5
Name: 618, dtype: object
619 236 2 ORtg Last Month    118
Name: 619, dtype: object
620 200 2 ORtg Last Month    100
Name: 620, dtype: object
621 202 2 ORtg Last Month    101
Name: 621, dtype: object
622 210 2 ORtg Last Month    105
Name: 622, dtype: object
623 195 2 ORtg Last Month    97.5
Name: 623, dtype: object
624 0 2 ORtg Last Month    0
Name: 624, dtype: object
625 0 2 ORtg Last Month    0
Name: 625, dtype: object
626 210 2 ORtg Last Month    105
Name: 626, dtype: object
627 199 2 ORtg Last Month    99.5
Name: 627, dtype: object
628 0 2 ORtg Last Month    0
Name: 628, dtype: object
629 0 0 ORtg Last Month    0
Name: 629, dtype: object
630 191 2 ORtg Last Month    95.5
Name: 630, dtype: object
631 187 2 ORtg Last Month    93.5
Name: 631, dtype: object
632 0 2 ORtg Last Month    0
Name: 632, dtype: object
633 254 2 ORtg Last Month    127
Name: 633, dtype: object
634 183 2 ORtg Last Month    91.5
Name: 634, dtype: object
635 203 2 ORtg Last Month    101.5
Name: 635, dtype: object
636 70 1 ORtg Last Month    70
Name: 636, dtype: object
637 232 2 ORtg Last Month    116
Name: 637, dtype: object
638 0 2 ORtg Last Month    0
Name: 638, dtype: object
639 272 2 ORtg Last Month    136
Name: 639, dtype: object
640 0 2 ORtg Last Month    0
Name: 640, dtype: object
641 251 2 ORtg Last Month    125.5
Name: 641, dtype: object
642 106 1 ORtg Last Month    106
Name: 642, dtype: object
643 48 1 ORtg Last Month    48
Name: 643, dtype: object
644 83 1 ORtg Last Month    83
Name: 644, dtype: object
645 202 1 ORtg Last Month    202
Name: 645, dtype: object
646 0 1 ORtg Last Month    0
Name: 646, dtype: object
647 82 1 ORtg Last Month    82
Name: 647, dtype: object
648 82 1 ORtg Last Month    82
Name: 648, dtype: object
649 125 1 ORtg Last Month    125
Name: 649, dtype: object
650 63 1 ORtg Last Month    63
Name: 650, dtype: object
651 0 0 ORtg Last Month    0
Name: 651, dtype: object
652 249 2 ORtg Last Month    124.5
Name: 652, dtype: object
653 208 2 ORtg Last Month    104
Name: 653, dtype: object
654 162 2 ORtg Last Month    81
Name: 654, dtype: object
655 0 0 ORtg Last Month    0
Name: 655, dtype: object
656 220 2 ORtg Last Month    110
Name: 656, dtype: object
657 170 2 ORtg Last Month    85
Name: 657, dtype: object
658 258 2 ORtg Last Month    129
Name: 658, dtype: object
659 217 2 ORtg Last Month    108.5
Name: 659, dtype: object
660 211 2 ORtg Last Month    105.5
Name: 660, dtype: object
661 390 2 ORtg Last Month    195
Name: 661, dtype: object
662 200 2 ORtg Last Month    100
Name: 662, dtype: object
663 134 2 ORtg Last Month    67
Name: 663, dtype: object
664 62 1 ORtg Last Month    62
Name: 664, dtype: object
665 109 1 ORtg Last Month    109
Name: 665, dtype: object
666 0 0 ORtg Last Month    0
Name: 666, dtype: object
667 151 1 ORtg Last Month    151
Name: 667, dtype: object
668 139 1 ORtg Last Month    139
Name: 668, dtype: object
669 93 1 ORtg Last Month    93
Name: 669, dtype: object
670 0 1 ORtg Last Month    0
Name: 670, dtype: object
671 133 1 ORtg Last Month    133
Name: 671, dtype: object
672 153 1 ORtg Last Month    153
Name: 672, dtype: object
673 0 1 ORtg Last Month    0
Name: 673, dtype: object
674 77 1 ORtg Last Month    77
Name: 674, dtype: object
675 123 1 ORtg Last Month    123
Name: 675, dtype: object
676 78 1 ORtg Last Month    78
Name: 676, dtype: object
677 105 1 ORtg Last Month    105
Name: 677, dtype: object
678 124 1 ORtg Last Month    124
Name: 678, dtype: object
679 179 1 ORtg Last Month    179
Name: 679, dtype: object
680 0 1 ORtg Last Month    0
Name: 680, dtype: object
681 107 1 ORtg Last Month    107
Name: 681, dtype: object
682 0 1 ORtg Last Month    0
Name: 682, dtype: object
683 124 1 ORtg Last Month    124
Name: 683, dtype: object
684 96 1 ORtg Last Month    96
Name: 684, dtype: object
685 67 1 ORtg Last Month    67
Name: 685, dtype: object
686 0 1 ORtg Last Month    0
Name: 686, dtype: object
687 97 1 ORtg Last Month    97
Name: 687, dtype: object
688 120 1 ORtg Last Month    120
Name: 688, dtype: object
689 0 1 ORtg Last Month    0
Name: 689, dtype: object
690 14 1 ORtg Last Month    14
Name: 690, dtype: object
691 0 1 ORtg Last Month    0
Name: 691, dtype: object
692 0 1 ORtg Last Month    0
Name: 692, dtype: object
693 0 1 ORtg Last Month    0
Name: 693, dtype: object
694 111 1 ORtg Last Month    111
Name: 694, dtype: object
695 133 1 ORtg Last Month    133
Name: 695, dtype: object
696 106 1 ORtg Last Month    106
Name: 696, dtype: object
697 97 1 ORtg Last Month    97
Name: 697, dtype: object
698 110 1 ORtg Last Month    110
Name: 698, dtype: object
699 137 1 ORtg Last Month    137
Name: 699, dtype: object
700 81 1 ORtg Last Month    81
Name: 700, dtype: object
701 71 1 ORtg Last Month    71
Name: 701, dtype: object
702 148 1 ORtg Last Month    148
Name: 702, dtype: object
703 117 1 ORtg Last Month    117
Name: 703, dtype: object
704 0 1 ORtg Last Month    0
Name: 704, dtype: object
705 133 1 ORtg Last Month    133
Name: 705, dtype: object
706 0 1 ORtg Last Month    0
Name: 706, dtype: object
707 0 1 ORtg Last Month    0
Name: 707, dtype: object
708 99 1 ORtg Last Month    99
Name: 708, dtype: object
709 0 0 ORtg Last Month    0
Name: 709, dtype: object
710 215 2 ORtg Last Month    107.5
Name: 710, dtype: object
711 181 2 ORtg Last Month    90.5
Name: 711, dtype: object
712 153 2 ORtg Last Month    76.5
Name: 712, dtype: object
713 279 2 ORtg Last Month    139.5
Name: 713, dtype: object
714 138 2 ORtg Last Month    69
Name: 714, dtype: object
715 216 2 ORtg Last Month    108
Name: 715, dtype: object
716 197 2 ORtg Last Month    98.5
Name: 716, dtype: object
717 309 2 ORtg Last Month    154.5
Name: 717, dtype: object
718 167 2 ORtg Last Month    83.5
Name: 718, dtype: object
719 156 1 ORtg Last Month    156
Name: 719, dtype: object
720 187 2 ORtg Last Month    93.5
Name: 720, dtype: object
721 198 2 ORtg Last Month    99
Name: 721, dtype: object
722 0 0 ORtg Last Month    0
Name: 722, dtype: object
723 103 1 ORtg Last Month    103
Name: 723, dtype: object
724 97 1 ORtg Last Month    97
Name: 724, dtype: object
725 121 1 ORtg Last Month    121
Name: 725, dtype: object
726 70 1 ORtg Last Month    70
Name: 726, dtype: object
727 95 1 ORtg Last Month    95
Name: 727, dtype: object
728 0 1 ORtg Last Month    0
Name: 728, dtype: object
729 110 1 ORtg Last Month    110
Name: 729, dtype: object
730 85 1 ORtg Last Month    85
Name: 730, dtype: object
731 135 1 ORtg Last Month    135
Name: 731, dtype: object
732 0 1 ORtg Last Month    0
Name: 732, dtype: object
733 177 1 ORtg Last Month    177
Name: 733, dtype: object
734 0 1 ORtg Last Month    0
Name: 734, dtype: object
735 209 2 ORtg Last Month    104.5
Name: 735, dtype: object
736 153 2 ORtg Last Month    76.5
Name: 736, dtype: object
737 212 2 ORtg Last Month    106
Name: 737, dtype: object
738 237 2 ORtg Last Month    118.5
Name: 738, dtype: object
739 230 2 ORtg Last Month    115
Name: 739, dtype: object
740 224 2 ORtg Last Month    112
Name: 740, dtype: object
741 0 2 ORtg Last Month    0
Name: 741, dtype: object
742 0 2 ORtg Last Month    0
Name: 742, dtype: object
743 0 2 ORtg Last Month    0
Name: 743, dtype: object
744 0 2 ORtg Last Month    0
Name: 744, dtype: object
745 192 2 ORtg Last Month    96
Name: 745, dtype: object
746 164 2 ORtg Last Month    82
Name: 746, dtype: object
747 248 2 ORtg Last Month    124
Name: 747, dtype: object
748 255 2 ORtg Last Month    127.5
Name: 748, dtype: object
749 268 2 ORtg Last Month    134
Name: 749, dtype: object
750 0 2 ORtg Last Month    0
Name: 750, dtype: object
751 214 2 ORtg Last Month    107
Name: 751, dtype: object
752 211 2 ORtg Last Month    105.5
Name: 752, dtype: object
753 238 2 ORtg Last Month    119
Name: 753, dtype: object

754 197 2 ORtg Last Month    98.5
Name: 754, dtype: object
755 0 2 ORtg Last Month    0
Name: 755, dtype: object
756 0 2 ORtg Last Month    0
Name: 756, dtype: object
757 0 2 ORtg Last Month    0
Name: 757, dtype: object
758 0 0 ORtg Last Month    0
Name: 758, dtype: object
759 186 2 ORtg Last Month    93
Name: 759, dtype: object
760 252 2 ORtg Last Month    126
Name: 760, dtype: object
761 223 2 ORtg Last Month    111.5
Name: 761, dtype: object
762 0 2 ORtg Last Month    0
Name: 762, dtype: object
763 193 2 ORtg Last Month    96.5
Name: 763, dtype: object
764 189 2 ORtg Last Month    94.5
Name: 764, dtype: object
765 111 2 ORtg Last Month    55.5
Name: 765, dtype: object
766 134 2 ORtg Last Month    67
Name: 766, dtype: object
767 169 2 ORtg Last Month    84.5
Name: 767, dtype: object
768 186 2 ORtg Last Month    93
Name: 768, dtype: object
769 0 1 ORtg Last Month    0
Name: 769, dtype: object
770 295 2 ORtg Last Month    147.5
Name: 770, dtype: object
771 291 2 ORtg Last Month    145.5
Name: 771, dtype: object
772 200 2 ORtg Last Month    100
Name: 772, dtype: object
773 164 2 ORtg Last Month    82
Name: 773, dtype: object
774 169 2 ORtg Last Month    84.5
Name: 774, dtype: object
775 165 2 ORtg Last Month    82.5
Name: 775, dtype: object
776 172 2 ORtg Last Month    86
Name: 776, dtype: object
777 169 2 ORtg Last Month    84.5
Name: 777, dtype: object
778 174 2 ORtg Last Month    87
Name: 778, dtype: object
779 164 2 ORtg Last Month    82
Name: 779, dtype: object
780 0 0 ORtg Last Month    0
Name: 780, dtype: object
781 0 2 ORtg Last Month    0
Name: 781, dtype: object
782 190 2 ORtg Last Month    95
Name: 782, dtype: object
783 170 2 ORtg Last Month    85
Name: 783, dtype: object
784 152 2 ORtg Last Month    76
Name: 784, dtype: object
785 150 2 ORtg Last Month    75
Name: 785, dtype: object
786 321 2 ORtg Last Month    160.5
Name: 786, dtype: object
787 237 2 ORtg Last Month    118.5
Name: 787, dtype: object
788 186 2 ORtg Last Month    93
Name: 788, dtype: object
789 0 2 ORtg Last Month    0
Name: 789, dtype: object
790 0 2 ORtg Last Month    0
Name: 790, dtype: object
791 0 2 ORtg Last Month    0
Name: 791, dtype: object
792 183 2 ORtg Last Month    91.5
Name: 792, dtype: object
793 157 2 ORtg Last Month    78.5
Name: 793, dtype: object
794 183 2 ORtg Last Month    91.5
Name: 794, dtype: object
795 0 2 ORtg Last Month    0
Name: 795, dtype: object
796 228 2 ORtg Last Month    114
Name: 796, dtype: object
797 318 2 ORtg Last Month    159
Name: 797, dtype: object
798 141 1 ORtg Last Month    141
Name: 798, dtype: object
799 106 1 ORtg Last Month    106
Name: 799, dtype: object
800 0 0 ORtg Last Month    0
Name: 800, dtype: object
801 122 1 ORtg Last Month    122
Name: 801, dtype: object
802 102 1 ORtg Last Month    102
Name: 802, dtype: object
803 0 1 ORtg Last Month    0
Name: 803, dtype: object
804 170 1 ORtg Last Month    170
Name: 804, dtype: object
805 113 1 ORtg Last Month    113
Name: 805, dtype: object
806 0 1 ORtg Last Month    0
Name: 806, dtype: object
807 170 1 ORtg Last Month    170
Name: 807, dtype: object
808 0 1 ORtg Last Month    0
Name: 808, dtype: object
809 109 1 ORtg Last Month    109
Name: 809, dtype: object
810 0 1 ORtg Last Month    0
Name: 810, dtype: object
811 116 1 ORtg Last Month    116
Name: 811, dtype: object
812 83 1 ORtg Last Month    83
Name: 812, dtype: object
813 0 1 ORtg Last Month    0
Name: 813, dtype: object
814 47 1 ORtg Last Month    47
Name: 814, dtype: object
815 121 1 ORtg Last Month    121
Name: 815, dtype: object
816 133 1 ORtg Last Month    133
Name: 816, dtype: object
817 135 1 ORtg Last Month    135
Name: 817, dtype: object
818 63 1 ORtg Last Month    63
Name: 818, dtype: object
819 189 1 ORtg Last Month    189
Name: 819, dtype: object
820 0 1 ORtg Last Month    0
Name: 820, dtype: object
821 112 1 ORtg Last Month    112
Name: 821, dtype: object
822 127 1 ORtg Last Month    127
Name: 822, dtype: object
823 103 1 ORtg Last Month    103
Name: 823, dtype: object
824 91 1 ORtg Last Month    91
Name: 824, dtype: object
825 111 1 ORtg Last Month    111
Name: 825, dtype: object
826 135 1 ORtg Last Month    135
Name: 826, dtype: object
827 141 1 ORtg Last Month    141
Name: 827, dtype: object
828 21 1 ORtg Last Month    21
Name: 828, dtype: object
829 0 1 ORtg Last Month    0
Name: 829, dtype: object
830 0 1 ORtg Last Month    0
Name: 830, dtype: object
831 100 1 ORtg Last Month    100
Name: 831, dtype: object
832 227 1 ORtg Last Month    227
Name: 832, dtype: object
833 140 1 ORtg Last Month    140
Name: 833, dtype: object
834 151 1 ORtg Last Month    151
Name: 834, dtype: object
835 0 1 ORtg Last Month    0
Name: 835, dtype: object
836 334 2 ORtg Last Month    167
Name: 836, dtype: object
837 207 2 ORtg Last Month    103.5
Name: 837, dtype: object
838 0 2 ORtg Last Month    0
Name: 838, dtype: object
839 0 2 ORtg Last Month    0
Name: 839, dtype: object
840 0 0 ORtg Last Month    0
Name: 840, dtype: object
841 230 2 ORtg Last Month    115
Name: 841, dtype: object
842 223 2 ORtg Last Month    111.5
Name: 842, dtype: object
843 115 2 ORtg Last Month    57.5
Name: 843, dtype: object
844 220 2 ORtg Last Month    110
Name: 844, dtype: object
845 284 2 ORtg Last Month    142
Name: 845, dtype: object
846 230 2 ORtg Last Month    115
Name: 846, dtype: object
847 187 2 ORtg Last Month    93.5
Name: 847, dtype: object
848 0 2 ORtg Last Month    0
Name: 848, dtype: object
849 107 1 ORtg Last Month    107
Name: 849, dtype: object
850 125 1 ORtg Last Month    125
Name: 850, dtype: object
851 123 1 ORtg Last Month    123
Name: 851, dtype: object
852 126 1 ORtg Last Month    126
Name: 852, dtype: object
853 0 1 ORtg Last Month    0
Name: 853, dtype: object
854 91 1 ORtg Last Month    91
Name: 854, dtype: object
855 118 1 ORtg Last Month    118
Name: 855, dtype: object
856 93 1 ORtg Last Month    93
Name: 856, dtype: object
857 114 1 ORtg Last Month    114
Name: 857, dtype: object
858 90 1 ORtg Last Month    90
Name: 858, dtype: object
859 70 1 ORtg Last Month    70
Name: 859, dtype: object
860 0 1 ORtg Last Month    0
Name: 860, dtype: object
861 194 2 ORtg Last Month    97
Name: 861, dtype: object
862 181 2 ORtg Last Month    90.5
Name: 862, dtype: object
863 221 2 ORtg Last Month    110.5
Name: 863, dtype: object
864 52 2 ORtg Last Month    26
Name: 864, dtype: object
865 206 2 ORtg Last Month    103
Name: 865, dtype: object
866 163 2 ORtg Last Month    81.5
Name: 866, dtype: object
867 169 1 ORtg Last Month    169
Name: 867, dtype: object
868 235 2 ORtg Last Month    117.5
Name: 868, dtype: object
869 228 2 ORtg Last Month    114
Name: 869, dtype: object
870 185 2 ORtg Last Month    92.5
Name: 870, dtype: object
871 346 2 ORtg Last Month    173
Name: 871, dtype: object
872 212 2 ORtg Last Month    106
Name: 872, dtype: object
873 230 2 ORtg Last Month    115
Name: 873, dtype: object
874 226 2 ORtg Last Month    113
Name: 874, dtype: object
875 0 1 ORtg Last Month    0
Name: 875, dtype: object
876 246 2 ORtg Last Month    123
Name: 876, dtype: object
877 198 2 ORtg Last Month    99
Name: 877, dtype: object
878 217 2 ORtg Last Month    108.5
Name: 878, dtype: object
879 154 2 ORtg Last Month    77
Name: 879, dtype: object
880 209 2 ORtg Last Month    104.5
Name: 880, dtype: object
881 211 2 ORtg Last Month    105.5
Name: 881, dtype: object
882 0 0 ORtg Last Month    0
Name: 882, dtype: object
883 350 2 ORtg Last Month    175
Name: 883, dtype: object
884 0 2 ORtg Last Month    0
Name: 884, dtype: object
885 236 2 ORtg Last Month    118
Name: 885, dtype: object
886 105 2 ORtg Last Month    52.5
Name: 886, dtype: object
887 196 2 ORtg Last Month    98
Name: 887, dtype: object
888 179 2 ORtg Last Month    89.5
Name: 888, dtype: object
889 0 0 ORtg Last Month    0
Name: 889, dtype: object
890 63 2 ORtg Last Month    31.5
Name: 890, dtype: object
891 130 2 ORtg Last Month    65
Name: 891, dtype: object
892 238 2 ORtg Last Month    119
Name: 892, dtype: object
893 0 2 ORtg Last Month    0
Name: 893, dtype: object
894 350 2 ORtg Last Month    175
Name: 894, dtype: object
895 208 2 ORtg Last Month    104
Name: 895, dtype: object
896 165 2 ORtg Last Month    82.5
Name: 896, dtype: object
897 0 2 ORtg Last Month    0
Name: 897, dtype: object

898 259 2 ORtg Last Month    129.5
Name: 898, dtype: object
899 180 2 ORtg Last Month    90
Name: 899, dtype: object
900 81 2 ORtg Last Month    40.5
Name: 900, dtype: object
901 0 1 ORtg Last Month    0
Name: 901, dtype: object
902 251 2 ORtg Last Month    125.5
Name: 902, dtype: object
903 139 1 ORtg Last Month    139
Name: 903, dtype: object
904 164 2 ORtg Last Month    82
Name: 904, dtype: object
905 220 2 ORtg Last Month    110
Name: 905, dtype: object
906 88 2 ORtg Last Month    44
Name: 906, dtype: object
907 260 2 ORtg Last Month    130
Name: 907, dtype: object
908 139 2 ORtg Last Month    69.5
Name: 908, dtype: object
909 284 2 ORtg Last Month    142
Name: 909, dtype: object
910 232 2 ORtg Last Month    116
Name: 910, dtype: object
911 108 2 ORtg Last Month    54
Name: 911, dtype: object
912 206 2 ORtg Last Month    103
Name: 912, dtype: object
913 143 2 ORtg Last Month    71.5
Name: 913, dtype: object
914 211 2 ORtg Last Month    105.5
Name: 914, dtype: object
915 266 2 ORtg Last Month    133
Name: 915, dtype: object
916 225 2 ORtg Last Month    112.5
Name: 916, dtype: object
917 0 2 ORtg Last Month    0
Name: 917, dtype: object
918 0 2 ORtg Last Month    0
Name: 918, dtype: object
919 202 2 ORtg Last Month    101
Name: 919, dtype: object
920 0 1 ORtg Last Month    0
Name: 920, dtype: object
921 194 2 ORtg Last Month    97
Name: 921, dtype: object
922 157 2 ORtg Last Month    78.5
Name: 922, dtype: object
923 129 2 ORtg Last Month    64.5
Name: 923, dtype: object
924 0 1 ORtg Last Month    0
Name: 924, dtype: object
925 0 2 ORtg Last Month    0
Name: 925, dtype: object
926 252 2 ORtg Last Month    126
Name: 926, dtype: object
927 209 2 ORtg Last Month    104.5
Name: 927, dtype: object
928 166 2 ORtg Last Month    83
Name: 928, dtype: object
929 231 2 ORtg Last Month    115.5
Name: 929, dtype: object
930 134 2 ORtg Last Month    67
Name: 930, dtype: object
931 236 2 ORtg Last Month    118
Name: 931, dtype: object
932 292 2 ORtg Last Month    146
Name: 932, dtype: object
933 0 0 ORtg Last Month    0
Name: 933, dtype: object
934 166 2 ORtg Last Month    83
Name: 934, dtype: object
935 241 2 ORtg Last Month    120.5
Name: 935, dtype: object
936 0 2 ORtg Last Month    0
Name: 936, dtype: object
937 179 2 ORtg Last Month    89.5
Name: 937, dtype: object
938 171 2 ORtg Last Month    85.5
Name: 938, dtype: object
939 160 2 ORtg Last Month    80
Name: 939, dtype: object
940 116 2 ORtg Last Month    58
Name: 940, dtype: object
941 194 2 ORtg Last Month    97
Name: 941, dtype: object
942 267 2 ORtg Last Month    133.5
Name: 942, dtype: object
943 302 2 ORtg Last Month    151
Name: 943, dtype: object
944 215 2 ORtg Last Month    107.5
Name: 944, dtype: object
945 216 2 ORtg Last Month    108
Name: 945, dtype: object
946 275 2 ORtg Last Month    137.5
Name: 946, dtype: object
947 284 2 ORtg Last Month    142
Name: 947, dtype: object
948 244 2 ORtg Last Month    122
Name: 948, dtype: object
949 218 2 ORtg Last Month    109
Name: 949, dtype: object
950 135 2 ORtg Last Month    67.5
Name: 950, dtype: object
951 135 2 ORtg Last Month    67.5
Name: 951, dtype: object
952 257 2 ORtg Last Month    128.5
Name: 952, dtype: object
953 100 2 ORtg Last Month    50
Name: 953, dtype: object
954 267 2 ORtg Last Month    133.5
Name: 954, dtype: object
955 103 2 ORtg Last Month    51.5
Name: 955, dtype: object
956 272 3 ORtg Last Month    90.6667
Name: 956, dtype: object
957 297 3 ORtg Last Month    99
Name: 957, dtype: object
958 349 3 ORtg Last Month    116.333
Name: 958, dtype: object
959 200 3 ORtg Last Month    66.6667
Name: 959, dtype: object
960 311 3 ORtg Last Month    103.667
Name: 960, dtype: object
961 200 2 ORtg Last Month    100
Name: 961, dtype: object
962 272 3 ORtg Last Month    90.6667
Name: 962, dtype: object
963 324 3 ORtg Last Month    108
Name: 963, dtype: object
964 0 3 ORtg Last Month    0
Name: 964, dtype: object
965 200 3 ORtg Last Month    66.6667
Name: 965, dtype: object
966 306 3 ORtg Last Month    102
Name: 966, dtype: object
967 88 3 ORtg Last Month    29.3333
Name: 967, dtype: object
968 0 1 ORtg Last Month    0
Name: 968, dtype: object
969 229 2 ORtg Last Month    114.5
Name: 969, dtype: object
970 0 0 ORtg Last Month    0
Name: 970, dtype: object
971 172 2 ORtg Last Month    86
Name: 971, dtype: object
972 0 2 ORtg Last Month    0
Name: 972, dtype: object
973 242 2 ORtg Last Month    121
Name: 973, dtype: object
974 0 0 ORtg Last Month    0
Name: 974, dtype: object
975 323 2 ORtg Last Month    161.5
Name: 975, dtype: object
976 185 2 ORtg Last Month    92.5
Name: 976, dtype: object
977 270 2 ORtg Last Month    135
Name: 977, dtype: object
978 190 2 ORtg Last Month    95
Name: 978, dtype: object
979 146 2 ORtg Last Month    73
Name: 979, dtype: object
980 0 1 ORtg Last Month    0
Name: 980, dtype: object
981 368 3 ORtg Last Month    122.667
Name: 981, dtype: object
982 341 3 ORtg Last Month    113.667
Name: 982, dtype: object
983 195 3 ORtg Last Month    65
Name: 983, dtype: object
984 0 1 ORtg Last Month    0
Name: 984, dtype: object
985 328 3 ORtg Last Month    109.333
Name: 985, dtype: object
986 311 3 ORtg Last Month    103.667
Name: 986, dtype: object
987 343 3 ORtg Last Month    114.333
Name: 987, dtype: object
988 211 3 ORtg Last Month    70.3333
Name: 988, dtype: object
989 285 3 ORtg Last Month    95
Name: 989, dtype: object
990 523 3 ORtg Last Month    174.333
Name: 990, dtype: object
991 200 3 ORtg Last Month    66.6667
Name: 991, dtype: object
992 134 3 ORtg Last Month    44.6667
Name: 992, dtype: object
993 170 2 ORtg Last Month    85
Name: 993, dtype: object
994 209 2 ORtg Last Month    104.5
Name: 994, dtype: object
995 0 1 ORtg Last Month    0
Name: 995, dtype: object
996 274 2 ORtg Last Month    137
Name: 996, dtype: object
997 262 2 ORtg Last Month    131
Name: 997, dtype: object
998 206 2 ORtg Last Month    103
Name: 998, dtype: object
999 0 2 ORtg Last Month    0
Name: 999, dtype: object
1000 302 2 ORtg Last Month    151
Name: 1000, dtype: object
1001 295 2 ORtg Last Month    147.5
Name: 1001, dtype: object
1002 0 2 ORtg Last Month    0
Name: 1002, dtype: object
1003 375 3 ORtg Last Month    125
Name: 1003, dtype: object
1004 254 3 ORtg Last Month    84.6667
Name: 1004, dtype: object
1005 81 3 ORtg Last Month    27
Name: 1005, dtype: object
1006 0 2 ORtg Last Month    0
Name: 1006, dtype: object
1007 340 3 ORtg Last Month    113.333
Name: 1007, dtype: object
1008 270 3 ORtg Last Month    90
Name: 1008, dtype: object
1009 88 3 ORtg Last Month    29.3333
Name: 1009, dtype: object
1010 244 2 ORtg Last Month    122
Name: 1010, dtype: object
1011 470 3 ORtg Last Month    156.667
Name: 1011, dtype: object
1012 210 3 ORtg Last Month    70
Name: 1012, dtype: object
1013 397 3 ORtg Last Month    132.333
Name: 1013, dtype: object
1014 407 3 ORtg Last Month    135.667
Name: 1014, dtype: object
1015 322 3 ORtg Last Month    107.333
Name: 1015, dtype: object
1016 316 3 ORtg Last Month    105.333
Name: 1016, dtype: object
1017 329 3 ORtg Last Month    109.667
Name: 1017, dtype: object
1018 138 3 ORtg Last Month    46
Name: 1018, dtype: object
1019 279 3 ORtg Last Month    93
Name: 1019, dtype: object
1020 317 3 ORtg Last Month    105.667
Name: 1020, dtype: object
1021 328 3 ORtg Last Month    109.333
Name: 1021, dtype: object
1022 341 3 ORtg Last Month    113.667
Name: 1022, dtype: object
1023 544 3 ORtg Last Month    181.333
Name: 1023, dtype: object
1024 223 2 ORtg Last Month    111.5
Name: 1024, dtype: object
1025 362 3 ORtg Last Month    120.667
Name: 1025, dtype: object
1026 243 2 ORtg Last Month    121.5
Name: 1026, dtype: object
1027 306 3 ORtg Last Month    102
Name: 1027, dtype: object
1028 194 2 ORtg Last Month    97
Name: 1028, dtype: object
1029 243 2 ORtg Last Month    121.5
Name: 1029, dtype: object
1030 197 2 ORtg Last Month    98.5
Name: 1030, dtype: object
1031 0 2 ORtg Last Month    0
Name: 1031, dtype: object
1032 211 2 ORtg Last Month    105.5
Name: 1032, dtype: object
1033 183 2 ORtg Last Month    91.5
Name: 1033, dtype: object
1034 0 0 ORtg Last Month    0
Name: 1034, dtype: object
1035 200 2 ORtg Last Month    100
Name: 1035, dtype: object
1036 0 2 ORtg Last Month    0
Name: 1036, dtype: object
1037 293 2 ORtg Last Month    146.5
Name: 1037, dtype: object
1038 0 2 ORtg Last Month    0
Name: 1038, dtype: object

1039 234 2 ORtg Last Month    117
Name: 1039, dtype: object
1040 170 2 ORtg Last Month    85
Name: 1040, dtype: object
1041 248 2 ORtg Last Month    124
Name: 1041, dtype: object
1042 60 2 ORtg Last Month    30
Name: 1042, dtype: object
1043 82 2 ORtg Last Month    41
Name: 1043, dtype: object
1044 0 1 ORtg Last Month    0
Name: 1044, dtype: object
1045 266 2 ORtg Last Month    133
Name: 1045, dtype: object
1046 269 2 ORtg Last Month    134.5
Name: 1046, dtype: object
1047 132 2 ORtg Last Month    66
Name: 1047, dtype: object
1048 118 2 ORtg Last Month    59
Name: 1048, dtype: object
1049 213 2 ORtg Last Month    106.5
Name: 1049, dtype: object
1050 0 1 ORtg Last Month    0
Name: 1050, dtype: object
1051 238 2 ORtg Last Month    119
Name: 1051, dtype: object
1052 288 2 ORtg Last Month    144
Name: 1052, dtype: object
1053 239 2 ORtg Last Month    119.5
Name: 1053, dtype: object
1054 192 2 ORtg Last Month    96
Name: 1054, dtype: object
1055 37 2 ORtg Last Month    18.5
Name: 1055, dtype: object
1056 0 2 ORtg Last Month    0
Name: 1056, dtype: object
1057 189 2 ORtg Last Month    94.5
Name: 1057, dtype: object
1058 244 2 ORtg Last Month    122
Name: 1058, dtype: object
1059 200 2 ORtg Last Month    100
Name: 1059, dtype: object
1060 200 2 ORtg Last Month    100
Name: 1060, dtype: object
1061 232 2 ORtg Last Month    116
Name: 1061, dtype: object
1062 218 2 ORtg Last Month    109
Name: 1062, dtype: object
1063 225 2 ORtg Last Month    112.5
Name: 1063, dtype: object
1064 0 0 ORtg Last Month    0
Name: 1064, dtype: object
1065 347 3 ORtg Last Month    115.667
Name: 1065, dtype: object
1066 390 3 ORtg Last Month    130
Name: 1066, dtype: object
1067 372 3 ORtg Last Month    124
Name: 1067, dtype: object
1068 84 3 ORtg Last Month    28
Name: 1068, dtype: object
1069 367 3 ORtg Last Month    122.333
Name: 1069, dtype: object
1070 283 2 ORtg Last Month    141.5
Name: 1070, dtype: object
1071 341 3 ORtg Last Month    113.667
Name: 1071, dtype: object
1072 334 3 ORtg Last Month    111.333
Name: 1072, dtype: object
1073 0 3 ORtg Last Month    0
Name: 1073, dtype: object
1074 0 3 ORtg Last Month    0
Name: 1074, dtype: object
1075 0 3 ORtg Last Month    0
Name: 1075, dtype: object
1076 346 3 ORtg Last Month    115.333
Name: 1076, dtype: object
1077 410 3 ORtg Last Month    136.667
Name: 1077, dtype: object
1078 328 3 ORtg Last Month    109.333
Name: 1078, dtype: object
1079 131 3 ORtg Last Month    43.6667
Name: 1079, dtype: object
1080 250 3 ORtg Last Month    83.3333
Name: 1080, dtype: object
1081 296 3 ORtg Last Month    98.6667
Name: 1081, dtype: object
1082 324 3 ORtg Last Month    108
Name: 1082, dtype: object
1083 214 3 ORtg Last Month    71.3333
Name: 1083, dtype: object
1084 209 3 ORtg Last Month    69.6667
Name: 1084, dtype: object
1085 0 2 ORtg Last Month    0
Name: 1085, dtype: object
1086 399 3 ORtg Last Month    133
Name: 1086, dtype: object
1087 422 3 ORtg Last Month    140.667
Name: 1087, dtype: object
1088 286 3 ORtg Last Month    95.3333
Name: 1088, dtype: object
1089 288 3 ORtg Last Month    96
Name: 1089, dtype: object
1090 169 3 ORtg Last Month    56.3333
Name: 1090, dtype: object
1091 165 3 ORtg Last Month    55
Name: 1091, dtype: object
1092 297 3 ORtg Last Month    99
Name: 1092, dtype: object
1093 248 3 ORtg Last Month    82.6667
Name: 1093, dtype: object
1094 285 3 ORtg Last Month    95
Name: 1094, dtype: object
1095 185 2 ORtg Last Month    92.5
Name: 1095, dtype: object
1096 292 3 ORtg Last Month    97.3333
Name: 1096, dtype: object
1097 0 3 ORtg Last Month    0
Name: 1097, dtype: object
1098 356 3 ORtg Last Month    118.667
Name: 1098, dtype: object
1099 288 3 ORtg Last Month    96
Name: 1099, dtype: object
1100 152 3 ORtg Last Month    50.6667
Name: 1100, dtype: object
1101 241 2 ORtg Last Month    120.5
Name: 1101, dtype: object
1102 234 2 ORtg Last Month    117
Name: 1102, dtype: object
1103 75 1 ORtg Last Month    75
Name: 1103, dtype: object
1104 0 0 ORtg Last Month    0
Name: 1104, dtype: object
1105 220 2 ORtg Last Month    110
Name: 1105, dtype: object
1106 227 2 ORtg Last Month    113.5
Name: 1106, dtype: object
1107 150 2 ORtg Last Month    75
Name: 1107, dtype: object
1108 146 2 ORtg Last Month    73
Name: 1108, dtype: object
1109 0 2 ORtg Last Month    0
Name: 1109, dtype: object
1110 230 2 ORtg Last Month    115
Name: 1110, dtype: object
1111 115 2 ORtg Last Month    57.5
Name: 1111, dtype: object
1112 194 2 ORtg Last Month    97
Name: 1112, dtype: object
1113 32 2 ORtg Last Month    16
Name: 1113, dtype: object
1114 247 2 ORtg Last Month    123.5
Name: 1114, dtype: object
1115 208 2 ORtg Last Month    104
Name: 1115, dtype: object
1116 0 2 ORtg Last Month    0
Name: 1116, dtype: object
1117 225 2 ORtg Last Month    112.5
Name: 1117, dtype: object
1118 289 2 ORtg Last Month    144.5
Name: 1118, dtype: object
1119 226 2 ORtg Last Month    113
Name: 1119, dtype: object
1120 259 2 ORtg Last Month    129.5
Name: 1120, dtype: object
1121 237 2 ORtg Last Month    118.5
Name: 1121, dtype: object
1122 191 2 ORtg Last Month    95.5
Name: 1122, dtype: object
1123 0 2 ORtg Last Month    0
Name: 1123, dtype: object
1124 218 2 ORtg Last Month    109
Name: 1124, dtype: object
1125 342 2 ORtg Last Month    171
Name: 1125, dtype: object
1126 240 2 ORtg Last Month    120
Name: 1126, dtype: object
1127 172 2 ORtg Last Month    86
Name: 1127, dtype: object
1128 235 2 ORtg Last Month    117.5
Name: 1128, dtype: object
1129 221 2 ORtg Last Month    110.5
Name: 1129, dtype: object
1130 125 2 ORtg Last Month    62.5
Name: 1130, dtype: object
1131 199 2 ORtg Last Month    99.5
Name: 1131, dtype: object
1132 65 2 ORtg Last Month    32.5
Name: 1132, dtype: object
1133 128 2 ORtg Last Month    64
Name: 1133, dtype: object
1134 221 2 ORtg Last Month    110.5
Name: 1134, dtype: object
1135 315 2 ORtg Last Month    157.5
Name: 1135, dtype: object
1136 360 2 ORtg Last Month    180
Name: 1136, dtype: object
1137 99 2 ORtg Last Month    49.5
Name: 1137, dtype: object
1138 381 2 ORtg Last Month    190.5
Name: 1138, dtype: object
1139 462 3 ORtg Last Month    154
Name: 1139, dtype: object
1140 338 3 ORtg Last Month    112.667
Name: 1140, dtype: object
1141 0 3 ORtg Last Month    0
Name: 1141, dtype: object
1142 0 3 ORtg Last Month    0
Name: 1142, dtype: object
1143 210 2 ORtg Last Month    105
Name: 1143, dtype: object
1144 350 3 ORtg Last Month    116.667
Name: 1144, dtype: object
1145 218 3 ORtg Last Month    72.6667
Name: 1145, dtype: object
1146 304 3 ORtg Last Month    101.333
Name: 1146, dtype: object
1147 343 3 ORtg Last Month    114.333
Name: 1147, dtype: object
1148 340 3 ORtg Last Month    113.333
Name: 1148, dtype: object
1149 334 3 ORtg Last Month    111.333
Name: 1149, dtype: object
1150 345 3 ORtg Last Month    115
Name: 1150, dtype: object
1151 0 3 ORtg Last Month    0
Name: 1151, dtype: object
1152 208 2 ORtg Last Month    104
Name: 1152, dtype: object
1153 169 2 ORtg Last Month    84.5
Name: 1153, dtype: object
1154 279 2 ORtg Last Month    139.5
Name: 1154, dtype: object
1155 0 2 ORtg Last Month    0
Name: 1155, dtype: object
1156 224 2 ORtg Last Month    112
Name: 1156, dtype: object
1157 292 2 ORtg Last Month    146
Name: 1157, dtype: object
1158 314 2 ORtg Last Month    157
Name: 1158, dtype: object
1159 0 2 ORtg Last Month    0
Name: 1159, dtype: object
1160 125 2 ORtg Last Month    62.5
Name: 1160, dtype: object
1161 243 2 ORtg Last Month    121.5
Name: 1161, dtype: object
1162 205 2 ORtg Last Month    102.5
Name: 1162, dtype: object
1163 58 2 ORtg Last Month    29
Name: 1163, dtype: object
1164 245 2 ORtg Last Month    122.5
Name: 1164, dtype: object
1165 238 2 ORtg Last Month    119
Name: 1165, dtype: object
1166 239 2 ORtg Last Month    119.5
Name: 1166, dtype: object
1167 244 2 ORtg Last Month    122
Name: 1167, dtype: object
1168 0 2 ORtg Last Month    0
Name: 1168, dtype: object
1169 208 2 ORtg Last Month    104
Name: 1169, dtype: object
1170 234 2 ORtg Last Month    117
Name: 1170, dtype: object
1171 174 2 ORtg Last Month    87
Name: 1171, dtype: object
1172 150 2 ORtg Last Month    75
Name: 1172, dtype: object
1173 173 2 ORtg Last Month    86.5
Name: 1173, dtype: object
1174 190 2 ORtg Last Month    95
Name: 1174, dtype: object
1175 0 2 ORtg Last Month    0
Name: 1175, dtype: object

1176 362 3 ORtg Last Month    120.667
Name: 1176, dtype: object
1177 241 3 ORtg Last Month    80.3333
Name: 1177, dtype: object
1178 195 3 ORtg Last Month    65
Name: 1178, dtype: object
1179 256 3 ORtg Last Month    85.3333
Name: 1179, dtype: object
1180 0 1 ORtg Last Month    0
Name: 1180, dtype: object
1181 208 3 ORtg Last Month    69.3333
Name: 1181, dtype: object
1182 394 3 ORtg Last Month    131.333
Name: 1182, dtype: object
1183 200 3 ORtg Last Month    66.6667
Name: 1183, dtype: object
1184 0 3 ORtg Last Month    0
Name: 1184, dtype: object
1185 476 3 ORtg Last Month    158.667
Name: 1185, dtype: object
1186 278 3 ORtg Last Month    92.6667
Name: 1186, dtype: object
1187 270 3 ORtg Last Month    90
Name: 1187, dtype: object
1188 0 3 ORtg Last Month    0
Name: 1188, dtype: object
1189 251 2 ORtg Last Month    125.5
Name: 1189, dtype: object
1190 244 2 ORtg Last Month    122
Name: 1190, dtype: object
1191 0 2 ORtg Last Month    0
Name: 1191, dtype: object
1192 14 2 ORtg Last Month    7
Name: 1192, dtype: object
1193 106 2 ORtg Last Month    53
Name: 1193, dtype: object
1194 111 2 ORtg Last Month    55.5
Name: 1194, dtype: object
1195 91 2 ORtg Last Month    45.5
Name: 1195, dtype: object
1196 283 2 ORtg Last Month    141.5
Name: 1196, dtype: object
1197 199 2 ORtg Last Month    99.5
Name: 1197, dtype: object
1198 192 2 ORtg Last Month    96
Name: 1198, dtype: object
1199 0 1 ORtg Last Month    0
Name: 1199, dtype: object
1200 232 3 ORtg Last Month    77.3333
Name: 1200, dtype: object
1201 314 3 ORtg Last Month    104.667
Name: 1201, dtype: object
1202 238 3 ORtg Last Month    79.3333
Name: 1202, dtype: object
1203 0 3 ORtg Last Month    0
Name: 1203, dtype: object
1204 0 2 ORtg Last Month    0
Name: 1204, dtype: object
1205 339 3 ORtg Last Month    113
Name: 1205, dtype: object
1206 359 3 ORtg Last Month    119.667
Name: 1206, dtype: object
1207 303 3 ORtg Last Month    101
Name: 1207, dtype: object
1208 500 3 ORtg Last Month    166.667
Name: 1208, dtype: object
1209 275 3 ORtg Last Month    91.6667
Name: 1209, dtype: object
1210 397 3 ORtg Last Month    132.333
Name: 1210, dtype: object
1211 492 3 ORtg Last Month    164
Name: 1211, dtype: object
1212 251 2 ORtg Last Month    125.5
Name: 1212, dtype: object
1213 223 2 ORtg Last Month    111.5
Name: 1213, dtype: object
1214 157 2 ORtg Last Month    78.5
Name: 1214, dtype: object
1215 97 1 ORtg Last Month    97
Name: 1215, dtype: object
1216 183 2 ORtg Last Month    91.5
Name: 1216, dtype: object
1217 303 2 ORtg Last Month    151.5
Name: 1217, dtype: object
1218 247 2 ORtg Last Month    123.5
Name: 1218, dtype: object
1219 240 2 ORtg Last Month    120
Name: 1219, dtype: object
1220 145 2 ORtg Last Month    72.5
Name: 1220, dtype: object
1221 0 0 ORtg Last Month    0
Name: 1221, dtype: object
1222 281 2 ORtg Last Month    140.5
Name: 1222, dtype: object
1223 242 2 ORtg Last Month    121
Name: 1223, dtype: object
1224 128 2 ORtg Last Month    64
Name: 1224, dtype: object
1225 424 3 ORtg Last Month    141.333
Name: 1225, dtype: object
1226 257 3 ORtg Last Month    85.6667
Name: 1226, dtype: object
1227 241 3 ORtg Last Month    80.3333
Name: 1227, dtype: object
1228 0 3 ORtg Last Month    0
Name: 1228, dtype: object
1229 0 3 ORtg Last Month    0
Name: 1229, dtype: object
1230 332 3 ORtg Last Month    110.667
Name: 1230, dtype: object
1231 271 3 ORtg Last Month    90.3333
Name: 1231, dtype: object
1232 299 3 ORtg Last Month    99.6667
Name: 1232, dtype: object
1233 0 3 ORtg Last Month    0
Name: 1233, dtype: object
1234 356 3 ORtg Last Month    118.667
Name: 1234, dtype: object
1235 0 0 ORtg Last Month    0
Name: 1235, dtype: object
1236 457 3 ORtg Last Month    152.333
Name: 1236, dtype: object
1237 346 3 ORtg Last Month    115.333
Name: 1237, dtype: object
1238 387 3 ORtg Last Month    129
Name: 1238, dtype: object
1239 340 3 ORtg Last Month    113.333
Name: 1239, dtype: object
1240 283 3 ORtg Last Month    94.3333
Name: 1240, dtype: object
1241 436 3 ORtg Last Month    145.333
Name: 1241, dtype: object
1242 413 3 ORtg Last Month    137.667
Name: 1242, dtype: object
1243 341 3 ORtg Last Month    113.667
Name: 1243, dtype: object
1244 162 3 ORtg Last Month    54
Name: 1244, dtype: object
1245 226 3 ORtg Last Month    75.3333
Name: 1245, dtype: object
1246 389 3 ORtg Last Month    129.667
Name: 1246, dtype: object
1247 103 3 ORtg Last Month    34.3333
Name: 1247, dtype: object
1248 346 3 ORtg Last Month    115.333
Name: 1248, dtype: object
1249 325 3 ORtg Last Month    108.333
Name: 1249, dtype: object
1250 221 3 ORtg Last Month    73.6667
Name: 1250, dtype: object
1251 206 3 ORtg Last Month    68.6667
Name: 1251, dtype: object
1252 304 3 ORtg Last Month    101.333
Name: 1252, dtype: object
1253 328 3 ORtg Last Month    109.333
Name: 1253, dtype: object
1254 347 3 ORtg Last Month    115.667
Name: 1254, dtype: object
1255 319 3 ORtg Last Month    106.333
Name: 1255, dtype: object
1256 0 0 ORtg Last Month    0
Name: 1256, dtype: object
1257 303 2 ORtg Last Month    151.5
Name: 1257, dtype: object
1258 346 3 ORtg Last Month    115.333
Name: 1258, dtype: object
1259 280 3 ORtg Last Month    93.3333
Name: 1259, dtype: object
1260 0 0 ORtg Last Month    0
Name: 1260, dtype: object
1261 299 3 ORtg Last Month    99.6667
Name: 1261, dtype: object
1262 330 3 ORtg Last Month    110
Name: 1262, dtype: object
1263 379 3 ORtg Last Month    126.333
Name: 1263, dtype: object
1264 380 3 ORtg Last Month    126.667
Name: 1264, dtype: object
1265 159 2 ORtg Last Month    79.5
Name: 1265, dtype: object
1266 90 3 ORtg Last Month    30
Name: 1266, dtype: object
1267 82 3 ORtg Last Month    27.3333
Name: 1267, dtype: object
1268 310 3 ORtg Last Month    103.333
Name: 1268, dtype: object
1269 377 3 ORtg Last Month    125.667
Name: 1269, dtype: object
1270 0 0 ORtg Last Month    0
Name: 1270, dtype: object
1271 142 3 ORtg Last Month    47.3333
Name: 1271, dtype: object
1272 371 3 ORtg Last Month    123.667
Name: 1272, dtype: object
1273 251 3 ORtg Last Month    83.6667
Name: 1273, dtype: object
1274 323 3 ORtg Last Month    107.667
Name: 1274, dtype: object
1275 338 3 ORtg Last Month    112.667
Name: 1275, dtype: object
1276 0 1 ORtg Last Month    0
Name: 1276, dtype: object
1277 314 3 ORtg Last Month    104.667
Name: 1277, dtype: object
1278 412 3 ORtg Last Month    137.333
Name: 1278, dtype: object
1279 124 3 ORtg Last Month    41.3333
Name: 1279, dtype: object
1280 0 2 ORtg Last Month    0
Name: 1280, dtype: object
1281 291 3 ORtg Last Month    97
Name: 1281, dtype: object
1282 227 3 ORtg Last Month    75.6667
Name: 1282, dtype: object
1283 487 4 ORtg Last Month    121.75
Name: 1283, dtype: object
1284 427 4 ORtg Last Month    106.75
Name: 1284, dtype: object
1285 268 4 ORtg Last Month    67
Name: 1285, dtype: object
1286 222 2 ORtg Last Month    111
Name: 1286, dtype: object
1287 373 4 ORtg Last Month    93.25
Name: 1287, dtype: object
1288 421 4 ORtg Last Month    105.25
Name: 1288, dtype: object
1289 428 4 ORtg Last Month    107
Name: 1289, dtype: object
1290 445 4 ORtg Last Month    111.25
Name: 1290, dtype: object
1291 335 4 ORtg Last Month    83.75
Name: 1291, dtype: object
1292 58 2 ORtg Last Month    29
Name: 1292, dtype: object
1293 638 4 ORtg Last Month    159.5
Name: 1293, dtype: object
1294 206 4 ORtg Last Month    51.5
Name: 1294, dtype: object
1295 350 3 ORtg Last Month    116.667
Name: 1295, dtype: object
1296 275 3 ORtg Last Month    91.6667
Name: 1296, dtype: object
1297 391 3 ORtg Last Month    130.333
Name: 1297, dtype: object
1298 0 2 ORtg Last Month    0
Name: 1298, dtype: object
1299 318 3 ORtg Last Month    106
Name: 1299, dtype: object
1300 311 3 ORtg Last Month    103.667
Name: 1300, dtype: object
1301 154 3 ORtg Last Month    51.3333
Name: 1301, dtype: object
1302 341 3 ORtg Last Month    113.667
Name: 1302, dtype: object
1303 0 2 ORtg Last Month    0
Name: 1303, dtype: object
1304 300 3 ORtg Last Month    100
Name: 1304, dtype: object
1305 357 3 ORtg Last Month    119
Name: 1305, dtype: object
1306 124 1 ORtg Last Month    124
Name: 1306, dtype: object
1307 424 3 ORtg Last Month    141.333
Name: 1307, dtype: object
1308 321 3 ORtg Last Month    107
Name: 1308, dtype: object
1309 0 2 ORtg Last Month    0
Name: 1309, dtype: object

1310 291 3 ORtg Last Month    97
Name: 1310, dtype: object
1311 413 3 ORtg Last Month    137.667
Name: 1311, dtype: object
1312 383 3 ORtg Last Month    127.667
Name: 1312, dtype: object
1313 206 3 ORtg Last Month    68.6667
Name: 1313, dtype: object
1314 0 3 ORtg Last Month    0
Name: 1314, dtype: object
1315 430 3 ORtg Last Month    143.333
Name: 1315, dtype: object
1316 466 3 ORtg Last Month    155.333
Name: 1316, dtype: object
1317 0 3 ORtg Last Month    0
Name: 1317, dtype: object
1318 504 4 ORtg Last Month    126
Name: 1318, dtype: object
1319 370 4 ORtg Last Month    92.5
Name: 1319, dtype: object
1320 263 2 ORtg Last Month    131.5
Name: 1320, dtype: object
1321 184 4 ORtg Last Month    46
Name: 1321, dtype: object
1322 443 4 ORtg Last Month    110.75
Name: 1322, dtype: object
1323 395 4 ORtg Last Month    98.75
Name: 1323, dtype: object
1324 276 3 ORtg Last Month    92
Name: 1324, dtype: object
1325 234 4 ORtg Last Month    58.5
Name: 1325, dtype: object
1326 324 4 ORtg Last Month    81
Name: 1326, dtype: object
1327 470 4 ORtg Last Month    117.5
Name: 1327, dtype: object
1328 563 4 ORtg Last Month    140.75
Name: 1328, dtype: object
1329 587 4 ORtg Last Month    146.75
Name: 1329, dtype: object
1330 348 3 ORtg Last Month    116
Name: 1330, dtype: object
1331 168 3 ORtg Last Month    56
Name: 1331, dtype: object
1332 237 3 ORtg Last Month    79
Name: 1332, dtype: object
1333 386 3 ORtg Last Month    128.667
Name: 1333, dtype: object
1334 320 3 ORtg Last Month    106.667
Name: 1334, dtype: object
1335 320 3 ORtg Last Month    106.667
Name: 1335, dtype: object
1336 0 3 ORtg Last Month    0
Name: 1336, dtype: object
1337 349 3 ORtg Last Month    116.333
Name: 1337, dtype: object
1338 86 3 ORtg Last Month    28.6667
Name: 1338, dtype: object
1339 403 4 ORtg Last Month    100.75
Name: 1339, dtype: object
1340 424 4 ORtg Last Month    106
Name: 1340, dtype: object
1341 395 4 ORtg Last Month    98.75
Name: 1341, dtype: object
1342 138 4 ORtg Last Month    34.5
Name: 1342, dtype: object
1343 279 4 ORtg Last Month    69.75
Name: 1343, dtype: object
1344 378 4 ORtg Last Month    94.5
Name: 1344, dtype: object
1345 419 4 ORtg Last Month    104.75
Name: 1345, dtype: object
1346 544 4 ORtg Last Month    136
Name: 1346, dtype: object
1347 435 4 ORtg Last Month    108.75
Name: 1347, dtype: object
1348 342 3 ORtg Last Month    114
Name: 1348, dtype: object
1349 476 4 ORtg Last Month    119
Name: 1349, dtype: object
1350 392 4 ORtg Last Month    98
Name: 1350, dtype: object
1351 308 3 ORtg Last Month    102.667
Name: 1351, dtype: object
1352 385 3 ORtg Last Month    128.333
Name: 1352, dtype: object
1353 325 3 ORtg Last Month    108.333
Name: 1353, dtype: object
1354 326 3 ORtg Last Month    108.667
Name: 1354, dtype: object
1355 313 3 ORtg Last Month    104.333
Name: 1355, dtype: object
1356 306 3 ORtg Last Month    102
Name: 1356, dtype: object
1357 157 1 ORtg Last Month    157
Name: 1357, dtype: object
1358 57 3 ORtg Last Month    19
Name: 1358, dtype: object
1359 76 3 ORtg Last Month    25.3333
Name: 1359, dtype: object
1360 416 3 ORtg Last Month    138.667
Name: 1360, dtype: object
1361 73 3 ORtg Last Month    24.3333
Name: 1361, dtype: object
1362 336 3 ORtg Last Month    112
Name: 1362, dtype: object
1363 286 3 ORtg Last Month    95.3333
Name: 1363, dtype: object
1364 82 3 ORtg Last Month    27.3333
Name: 1364, dtype: object
1365 0 2 ORtg Last Month    0
Name: 1365, dtype: object
1366 341 3 ORtg Last Month    113.667
Name: 1366, dtype: object
1367 216 3 ORtg Last Month    72
Name: 1367, dtype: object
1368 336 3 ORtg Last Month    112
Name: 1368, dtype: object
1369 271 3 ORtg Last Month    90.3333
Name: 1369, dtype: object
1370 157 3 ORtg Last Month    52.3333
Name: 1370, dtype: object
1371 213 3 ORtg Last Month    71
Name: 1371, dtype: object
1372 357 3 ORtg Last Month    119
Name: 1372, dtype: object
1373 347 3 ORtg Last Month    115.667
Name: 1373, dtype: object
1374 0 2 ORtg Last Month    0
Name: 1374, dtype: object
1375 333 3 ORtg Last Month    111
Name: 1375, dtype: object
1376 316 3 ORtg Last Month    105.333
Name: 1376, dtype: object
1377 270 3 ORtg Last Month    90
Name: 1377, dtype: object
1378 366 3 ORtg Last Month    122
Name: 1378, dtype: object
1379 290 3 ORtg Last Month    96.6667
Name: 1379, dtype: object
1380 0 3 ORtg Last Month    0
Name: 1380, dtype: object
1381 0 3 ORtg Last Month    0
Name: 1381, dtype: object
1382 0 3 ORtg Last Month    0
Name: 1382, dtype: object
1383 0 0 ORtg Last Month    0
Name: 1383, dtype: object
1384 314 3 ORtg Last Month    104.667
Name: 1384, dtype: object
1385 367 3 ORtg Last Month    122.333
Name: 1385, dtype: object
1386 305 3 ORtg Last Month    101.667
Name: 1386, dtype: object
1387 442 3 ORtg Last Month    147.333
Name: 1387, dtype: object
1388 244 3 ORtg Last Month    81.3333
Name: 1388, dtype: object
1389 365 3 ORtg Last Month    121.667
Name: 1389, dtype: object
1390 304 3 ORtg Last Month    101.333
Name: 1390, dtype: object
1391 409 3 ORtg Last Month    136.333
Name: 1391, dtype: object
1392 292 3 ORtg Last Month    97.3333
Name: 1392, dtype: object
1393 200 3 ORtg Last Month    66.6667
Name: 1393, dtype: object
1394 37 3 ORtg Last Month    12.3333
Name: 1394, dtype: object
1395 383 3 ORtg Last Month    127.667
Name: 1395, dtype: object
1396 314 3 ORtg Last Month    104.667
Name: 1396, dtype: object
1397 318 3 ORtg Last Month    106
Name: 1397, dtype: object
1398 338 2 ORtg Last Month    169
Name: 1398, dtype: object
1399 0 1 ORtg Last Month    0
Name: 1399, dtype: object
1400 482 4 ORtg Last Month    120.5
Name: 1400, dtype: object
1401 163 4 ORtg Last Month    40.75
Name: 1401, dtype: object
1402 466 4 ORtg Last Month    116.5
Name: 1402, dtype: object
1403 444 4 ORtg Last Month    111
Name: 1403, dtype: object
1404 395 3 ORtg Last Month    131.667
Name: 1404, dtype: object
1405 418 4 ORtg Last Month    104.5
Name: 1405, dtype: object
1406 485 4 ORtg Last Month    121.25
Name: 1406, dtype: object
1407 0 4 ORtg Last Month    0
Name: 1407, dtype: object
1408 0 4 ORtg Last Month    0
Name: 1408, dtype: object
1409 0 4 ORtg Last Month    0
Name: 1409, dtype: object
1410 0 1 ORtg Last Month    0
Name: 1410, dtype: object
1411 449 4 ORtg Last Month    112.25
Name: 1411, dtype: object
1412 552 4 ORtg Last Month    138
Name: 1412, dtype: object
1413 350 4 ORtg Last Month    87.5
Name: 1413, dtype: object
1414 431 4 ORtg Last Month    107.75
Name: 1414, dtype: object
1415 324 4 ORtg Last Month    81
Name: 1415, dtype: object
1416 246 4 ORtg Last Month    61.5
Name: 1416, dtype: object
1417 334 4 ORtg Last Month    83.5
Name: 1417, dtype: object
1418 320 4 ORtg Last Month    80
Name: 1418, dtype: object
1419 437 4 ORtg Last Month    109.25
Name: 1419, dtype: object
1420 508 4 ORtg Last Month    127
Name: 1420, dtype: object
1421 567 4 ORtg Last Month    141.75
Name: 1421, dtype: object
1422 286 4 ORtg Last Month    71.5
Name: 1422, dtype: object
1423 0 3 ORtg Last Month    0
Name: 1423, dtype: object
1424 407 3 ORtg Last Month    135.667
Name: 1424, dtype: object
1425 374 4 ORtg Last Month    93.5
Name: 1425, dtype: object
1426 356 4 ORtg Last Month    89
Name: 1426, dtype: object
1427 527 4 ORtg Last Month    131.75
Name: 1427, dtype: object
1428 0 4 ORtg Last Month    0
Name: 1428, dtype: object
1429 466 4 ORtg Last Month    116.5
Name: 1429, dtype: object
1430 366 4 ORtg Last Month    91.5
Name: 1430, dtype: object
1431 428 4 ORtg Last Month    107
Name: 1431, dtype: object
1432 0 4 ORtg Last Month    0
Name: 1432, dtype: object
1433 0 4 ORtg Last Month    0
Name: 1433, dtype: object
1434 492 4 ORtg Last Month    123
Name: 1434, dtype: object
1435 166 1 ORtg Last Month    166
Name: 1435, dtype: object
1436 538 4 ORtg Last Month    134.5
Name: 1436, dtype: object
1437 335 3 ORtg Last Month    111.667
Name: 1437, dtype: object
1438 309 3 ORtg Last Month    103
Name: 1438, dtype: object
1439 298 2 ORtg Last Month    149
Name: 1439, dtype: object
1440 241 1 ORtg Last Month    241
Name: 1440, dtype: object
1441 287 3 ORtg Last Month    95.6667
Name: 1441, dtype: object
1442 188 3 ORtg Last Month    62.6667
Name: 1442, dtype: object
1443 378 3 ORtg Last Month    126
Name: 1443, dtype: object
1444 248 3 ORtg Last Month    82.6667
Name: 1444, dtype: object

1445 371 3 ORtg Last Month    123.667
Name: 1445, dtype: object
1446 159 3 ORtg Last Month    53
Name: 1446, dtype: object
1447 285 3 ORtg Last Month    95
Name: 1447, dtype: object
1448 32 3 ORtg Last Month    10.6667
Name: 1448, dtype: object
1449 212 3 ORtg Last Month    70.6667
Name: 1449, dtype: object
1450 423 4 ORtg Last Month    105.75
Name: 1450, dtype: object
1451 505 4 ORtg Last Month    126.25
Name: 1451, dtype: object
1452 514 4 ORtg Last Month    128.5
Name: 1452, dtype: object
1453 415 4 ORtg Last Month    103.75
Name: 1453, dtype: object
1454 438 4 ORtg Last Month    109.5
Name: 1454, dtype: object
1455 391 4 ORtg Last Month    97.75
Name: 1455, dtype: object
1456 0 0 ORtg Last Month    0
Name: 1456, dtype: object
1457 548 4 ORtg Last Month    137
Name: 1457, dtype: object
1458 456 4 ORtg Last Month    114
Name: 1458, dtype: object
1459 247 4 ORtg Last Month    61.75
Name: 1459, dtype: object
1460 217 4 ORtg Last Month    54.25
Name: 1460, dtype: object
1461 348 3 ORtg Last Month    116
Name: 1461, dtype: object
1462 314 3 ORtg Last Month    104.667
Name: 1462, dtype: object
1463 353 3 ORtg Last Month    117.667
Name: 1463, dtype: object
1464 351 3 ORtg Last Month    117
Name: 1464, dtype: object
1465 318 3 ORtg Last Month    106
Name: 1465, dtype: object
1466 128 3 ORtg Last Month    42.6667
Name: 1466, dtype: object
1467 302 3 ORtg Last Month    100.667
Name: 1467, dtype: object
1468 356 3 ORtg Last Month    118.667
Name: 1468, dtype: object
1469 530 3 ORtg Last Month    176.667
Name: 1469, dtype: object
1470 490 3 ORtg Last Month    163.333
Name: 1470, dtype: object
1471 381 3 ORtg Last Month    127
Name: 1471, dtype: object
1472 65 3 ORtg Last Month    21.6667
Name: 1472, dtype: object
1473 99 3 ORtg Last Month    33
Name: 1473, dtype: object
1474 630 4 ORtg Last Month    157.5
Name: 1474, dtype: object
1475 216 4 ORtg Last Month    54
Name: 1475, dtype: object
1476 0 0 ORtg Last Month    0
Name: 1476, dtype: object
1477 214 4 ORtg Last Month    53.5
Name: 1477, dtype: object
1478 348 3 ORtg Last Month    116
Name: 1478, dtype: object
1479 429 4 ORtg Last Month    107.25
Name: 1479, dtype: object
1480 421 4 ORtg Last Month    105.25
Name: 1480, dtype: object
1481 507 4 ORtg Last Month    126.75
Name: 1481, dtype: object
1482 408 4 ORtg Last Month    102
Name: 1482, dtype: object
1483 344 4 ORtg Last Month    86
Name: 1483, dtype: object
1484 517 4 ORtg Last Month    129.25
Name: 1484, dtype: object
1485 427 4 ORtg Last Month    106.75
Name: 1485, dtype: object
1486 128 4 ORtg Last Month    32
Name: 1486, dtype: object
1487 273 3 ORtg Last Month    91
Name: 1487, dtype: object
1488 244 3 ORtg Last Month    81.3333
Name: 1488, dtype: object
1489 319 3 ORtg Last Month    106.333
Name: 1489, dtype: object
1490 224 3 ORtg Last Month    74.6667
Name: 1490, dtype: object
1491 250 3 ORtg Last Month    83.3333
Name: 1491, dtype: object
1492 372 3 ORtg Last Month    124
Name: 1492, dtype: object
1493 466 3 ORtg Last Month    155.333
Name: 1493, dtype: object
1494 264 3 ORtg Last Month    88
Name: 1494, dtype: object
1495 126 3 ORtg Last Month    42
Name: 1495, dtype: object
1496 0 0 ORtg Last Month    0
Name: 1496, dtype: object
1497 369 3 ORtg Last Month    123
Name: 1497, dtype: object
1498 281 3 ORtg Last Month    93.6667
Name: 1498, dtype: object
1499 58 3 ORtg Last Month    19.3333
Name: 1499, dtype: object
1500 356 3 ORtg Last Month    118.667
Name: 1500, dtype: object
1501 314 3 ORtg Last Month    104.667
Name: 1501, dtype: object
1502 289 3 ORtg Last Month    96.3333
Name: 1502, dtype: object
1503 312 3 ORtg Last Month    104
Name: 1503, dtype: object
1504 0 3 ORtg Last Month    0
Name: 1504, dtype: object
1505 364 3 ORtg Last Month    121.333
Name: 1505, dtype: object
1506 335 3 ORtg Last Month    111.667
Name: 1506, dtype: object
1507 326 3 ORtg Last Month    108.667
Name: 1507, dtype: object
1508 244 3 ORtg Last Month    81.3333
Name: 1508, dtype: object
1509 276 3 ORtg Last Month    92
Name: 1509, dtype: object
1510 0 3 ORtg Last Month    0
Name: 1510, dtype: object
1511 241 3 ORtg Last Month    80.3333
Name: 1511, dtype: object
1512 371 4 ORtg Last Month    92.75
Name: 1512, dtype: object
1513 412 4 ORtg Last Month    103
Name: 1513, dtype: object
1514 388 4 ORtg Last Month    97
Name: 1514, dtype: object
1515 200 4 ORtg Last Month    50
Name: 1515, dtype: object
1516 420 4 ORtg Last Month    105
Name: 1516, dtype: object
1517 389 4 ORtg Last Month    97.25
Name: 1517, dtype: object
1518 309 3 ORtg Last Month    103
Name: 1518, dtype: object
1519 336 4 ORtg Last Month    84
Name: 1519, dtype: object
1520 117 4 ORtg Last Month    29.25
Name: 1520, dtype: object
1521 200 4 ORtg Last Month    50
Name: 1521, dtype: object
1522 423 4 ORtg Last Month    105.75
Name: 1522, dtype: object
1523 190 4 ORtg Last Month    47.5
Name: 1523, dtype: object
1524 0 2 ORtg Last Month    0
Name: 1524, dtype: object
1525 386 4 ORtg Last Month    96.5
Name: 1525, dtype: object
1526 433 4 ORtg Last Month    108.25
Name: 1526, dtype: object
1527 484 4 ORtg Last Month    121
Name: 1527, dtype: object
1528 136 3 ORtg Last Month    45.3333
Name: 1528, dtype: object
1529 246 4 ORtg Last Month    61.5
Name: 1529, dtype: object
1530 420 4 ORtg Last Month    105
Name: 1530, dtype: object
1531 382 4 ORtg Last Month    95.5
Name: 1531, dtype: object
1532 541 4 ORtg Last Month    135.25
Name: 1532, dtype: object
1533 209 3 ORtg Last Month    69.6667
Name: 1533, dtype: object
1534 192 2 ORtg Last Month    96
Name: 1534, dtype: object
1535 421 4 ORtg Last Month    105.25
Name: 1535, dtype: object
1536 0 3 ORtg Last Month    0
Name: 1536, dtype: object
1537 424 4 ORtg Last Month    106
Name: 1537, dtype: object
1538 320 4 ORtg Last Month    80
Name: 1538, dtype: object
1539 420 4 ORtg Last Month    105
Name: 1539, dtype: object
1540 512 4 ORtg Last Month    128
Name: 1540, dtype: object
1541 373 4 ORtg Last Month    93.25
Name: 1541, dtype: object
1542 208 2 ORtg Last Month    104
Name: 1542, dtype: object
1543 294 4 ORtg Last Month    73.5
Name: 1543, dtype: object
1544 318 4 ORtg Last Month    79.5
Name: 1544, dtype: object
1545 484 4 ORtg Last Month    121
Name: 1545, dtype: object
1546 45 4 ORtg Last Month    11.25
Name: 1546, dtype: object
1547 594 4 ORtg Last Month    148.5
Name: 1547, dtype: object
1548 421 4 ORtg Last Month    105.25
Name: 1548, dtype: object
1549 405 4 ORtg Last Month    101.25
Name: 1549, dtype: object
1550 222 4 ORtg Last Month    55.5
Name: 1550, dtype: object
1551 393 3 ORtg Last Month    131
Name: 1551, dtype: object
1552 359 3 ORtg Last Month    119.667
Name: 1552, dtype: object
1553 14 3 ORtg Last Month    4.66667
Name: 1553, dtype: object
1554 0 3 ORtg Last Month    0
Name: 1554, dtype: object
1555 233 3 ORtg Last Month    77.6667
Name: 1555, dtype: object
1556 129 3 ORtg Last Month    43
Name: 1556, dtype: object
1557 211 3 ORtg Last Month    70.3333
Name: 1557, dtype: object
1558 270 3 ORtg Last Month    90
Name: 1558, dtype: object
1559 415 3 ORtg Last Month    138.333
Name: 1559, dtype: object
1560 290 3 ORtg Last Month    96.6667
Name: 1560, dtype: object
1561 0 2 ORtg Last Month    0
Name: 1561, dtype: object
1562 507 4 ORtg Last Month    126.75
Name: 1562, dtype: object
1563 447 4 ORtg Last Month    111.75
Name: 1563, dtype: object
1564 471 4 ORtg Last Month    117.75
Name: 1564, dtype: object
1565 125 4 ORtg Last Month    31.25
Name: 1565, dtype: object
1566 458 4 ORtg Last Month    114.5
Name: 1566, dtype: object
1567 427 4 ORtg Last Month    106.75
Name: 1567, dtype: object
1568 400 4 ORtg Last Month    100
Name: 1568, dtype: object
1569 320 2 ORtg Last Month    160
Name: 1569, dtype: object
1570 76 4 ORtg Last Month    19
Name: 1570, dtype: object
1571 552 4 ORtg Last Month    138
Name: 1571, dtype: object
1572 176 4 ORtg Last Month    44
Name: 1572, dtype: object
1573 111 1 ORtg Last Month    111
Name: 1573, dtype: object
1574 264 3 ORtg Last Month    88
Name: 1574, dtype: object
1575 385 3 ORtg Last Month    128.333
Name: 1575, dtype: object
1576 179 3 ORtg Last Month    59.6667
Name: 1576, dtype: object
1577 134 3 ORtg Last Month    44.6667
Name: 1577, dtype: object
1578 295 3 ORtg Last Month    98.3333
Name: 1578, dtype: object

1579 231 3 ORtg Last Month    77
Name: 1579, dtype: object
1580 286 3 ORtg Last Month    95.3333
Name: 1580, dtype: object
1581 155 3 ORtg Last Month    51.6667
Name: 1581, dtype: object
1582 365 3 ORtg Last Month    121.667
Name: 1582, dtype: object
1583 295 3 ORtg Last Month    98.3333
Name: 1583, dtype: object
1584 506 3 ORtg Last Month    168.667
Name: 1584, dtype: object
1585 374 4 ORtg Last Month    93.5
Name: 1585, dtype: object
1586 234 4 ORtg Last Month    58.5
Name: 1586, dtype: object
1587 165 4 ORtg Last Month    41.25
Name: 1587, dtype: object
1588 311 4 ORtg Last Month    77.75
Name: 1588, dtype: object
1589 419 4 ORtg Last Month    104.75
Name: 1589, dtype: object
1590 394 4 ORtg Last Month    98.5
Name: 1590, dtype: object
1591 379 4 ORtg Last Month    94.75
Name: 1591, dtype: object
1592 225 3 ORtg Last Month    75
Name: 1592, dtype: object
1593 0 4 ORtg Last Month    0
Name: 1593, dtype: object
1594 482 4 ORtg Last Month    120.5
Name: 1594, dtype: object
1595 351 4 ORtg Last Month    87.75
Name: 1595, dtype: object
1596 152 4 ORtg Last Month    38
Name: 1596, dtype: object
1597 353 3 ORtg Last Month    117.667
Name: 1597, dtype: object
1598 328 3 ORtg Last Month    109.333
Name: 1598, dtype: object
1599 0 3 ORtg Last Month    0
Name: 1599, dtype: object
1600 345 3 ORtg Last Month    115
Name: 1600, dtype: object
1601 362 3 ORtg Last Month    120.667
Name: 1601, dtype: object
1602 323 3 ORtg Last Month    107.667
Name: 1602, dtype: object
1603 418 3 ORtg Last Month    139.333
Name: 1603, dtype: object
1604 262 3 ORtg Last Month    87.3333
Name: 1604, dtype: object
1605 338 3 ORtg Last Month    112.667
Name: 1605, dtype: object
1606 0 3 ORtg Last Month    0
Name: 1606, dtype: object
1607 349 3 ORtg Last Month    116.333
Name: 1607, dtype: object
1608 342 3 ORtg Last Month    114
Name: 1608, dtype: object
1609 403 4 ORtg Last Month    100.75
Name: 1609, dtype: object
1610 381 4 ORtg Last Month    95.25
Name: 1610, dtype: object
1611 92 1 ORtg Last Month    92
Name: 1611, dtype: object
1612 319 4 ORtg Last Month    79.75
Name: 1612, dtype: object
1613 463 4 ORtg Last Month    115.75
Name: 1613, dtype: object
1614 176 3 ORtg Last Month    58.6667
Name: 1614, dtype: object
1615 465 4 ORtg Last Month    116.25
Name: 1615, dtype: object
1616 601 4 ORtg Last Month    150.25
Name: 1616, dtype: object
1617 90 4 ORtg Last Month    22.5
Name: 1617, dtype: object
1618 430 4 ORtg Last Month    107.5
Name: 1618, dtype: object
1619 524 4 ORtg Last Month    131
Name: 1619, dtype: object
1620 65 1 ORtg Last Month    65
Name: 1620, dtype: object
1621 491 4 ORtg Last Month    122.75
Name: 1621, dtype: object
1622 384 4 ORtg Last Month    96
Name: 1622, dtype: object
1623 0 2 ORtg Last Month    0
Name: 1623, dtype: object
1624 477 4 ORtg Last Month    119.25
Name: 1624, dtype: object
1625 467 4 ORtg Last Month    116.75
Name: 1625, dtype: object
1626 241 4 ORtg Last Month    60.25
Name: 1626, dtype: object
1627 420 4 ORtg Last Month    105
Name: 1627, dtype: object
1628 506 4 ORtg Last Month    126.5
Name: 1628, dtype: object
1629 170 3 ORtg Last Month    56.6667
Name: 1629, dtype: object
1630 227 4 ORtg Last Month    56.75
Name: 1630, dtype: object
1631 617 5 ORtg Last Month    123.4
Name: 1631, dtype: object
1632 373 5 ORtg Last Month    74.6
Name: 1632, dtype: object
1633 517 5 ORtg Last Month    103.4
Name: 1633, dtype: object
1634 58 3 ORtg Last Month    19.3333
Name: 1634, dtype: object
1635 499 5 ORtg Last Month    99.8
Name: 1635, dtype: object
1636 642 5 ORtg Last Month    128.4
Name: 1636, dtype: object
1637 448 5 ORtg Last Month    89.6
Name: 1637, dtype: object
1638 565 5 ORtg Last Month    113
Name: 1638, dtype: object
1639 477 5 ORtg Last Month    95.4
Name: 1639, dtype: object
1640 798 5 ORtg Last Month    159.6
Name: 1640, dtype: object
1641 315 4 ORtg Last Month    78.75
Name: 1641, dtype: object
1642 206 5 ORtg Last Month    41.2
Name: 1642, dtype: object
1643 379 4 ORtg Last Month    94.75
Name: 1643, dtype: object
1644 385 4 ORtg Last Month    96.25
Name: 1644, dtype: object
1645 0 3 ORtg Last Month    0
Name: 1645, dtype: object
1646 553 4 ORtg Last Month    138.25
Name: 1646, dtype: object
1647 0 0 ORtg Last Month    0
Name: 1647, dtype: object
1648 445 4 ORtg Last Month    111.25
Name: 1648, dtype: object
1649 206 4 ORtg Last Month    51.5
Name: 1649, dtype: object
1650 530 4 ORtg Last Month    132.5
Name: 1650, dtype: object
1651 673 4 ORtg Last Month    168.25
Name: 1651, dtype: object
1652 0 4 ORtg Last Month    0
Name: 1652, dtype: object
1653 667 5 ORtg Last Month    133.4
Name: 1653, dtype: object
1654 476 5 ORtg Last Month    95.2
Name: 1654, dtype: object
1655 393 3 ORtg Last Month    131
Name: 1655, dtype: object
1656 284 5 ORtg Last Month    56.8
Name: 1656, dtype: object
1657 584 5 ORtg Last Month    116.8
Name: 1657, dtype: object
1658 507 5 ORtg Last Month    101.4
Name: 1658, dtype: object
1659 319 4 ORtg Last Month    79.75
Name: 1659, dtype: object
1660 234 5 ORtg Last Month    46.8
Name: 1660, dtype: object
1661 636 5 ORtg Last Month    127.2
Name: 1661, dtype: object
1662 435 5 ORtg Last Month    87
Name: 1662, dtype: object
1663 795 5 ORtg Last Month    159
Name: 1663, dtype: object
1664 739 5 ORtg Last Month    147.8
Name: 1664, dtype: object
1665 276 2 ORtg Last Month    138
Name: 1665, dtype: object
1666 265 4 ORtg Last Month    66.25
Name: 1666, dtype: object
1667 367 4 ORtg Last Month    91.75
Name: 1667, dtype: object
1668 449 4 ORtg Last Month    112.25
Name: 1668, dtype: object
1669 401 4 ORtg Last Month    100.25
Name: 1669, dtype: object
1670 386 4 ORtg Last Month    96.5
Name: 1670, dtype: object
1671 86 4 ORtg Last Month    21.5
Name: 1671, dtype: object
1672 0 4 ORtg Last Month    0
Name: 1672, dtype: object
1673 433 4 ORtg Last Month    108.25
Name: 1673, dtype: object
1674 0 3 ORtg Last Month    0
Name: 1674, dtype: object
1675 271 4 ORtg Last Month    67.75
Name: 1675, dtype: object
1676 404 4 ORtg Last Month    101
Name: 1676, dtype: object
1677 341 4 ORtg Last Month    85.25
Name: 1677, dtype: object
1678 0 1 ORtg Last Month    0
Name: 1678, dtype: object
1679 0 4 ORtg Last Month    0
Name: 1679, dtype: object
1680 473 4 ORtg Last Month    118.25
Name: 1680, dtype: object
1681 501 4 ORtg Last Month    125.25
Name: 1681, dtype: object
1682 703 4 ORtg Last Month    175.75
Name: 1682, dtype: object
1683 410 4 ORtg Last Month    102.5
Name: 1683, dtype: object
1684 492 4 ORtg Last Month    123
Name: 1684, dtype: object
1685 424 4 ORtg Last Month    106
Name: 1685, dtype: object
1686 544 4 ORtg Last Month    136
Name: 1686, dtype: object
1687 350 4 ORtg Last Month    87.5
Name: 1687, dtype: object
1688 445 4 ORtg Last Month    111.25
Name: 1688, dtype: object
1689 0 3 ORtg Last Month    0
Name: 1689, dtype: object
1690 37 4 ORtg Last Month    9.25
Name: 1690, dtype: object
1691 417 4 ORtg Last Month    104.25
Name: 1691, dtype: object
1692 521 4 ORtg Last Month    130.25
Name: 1692, dtype: object
1693 200 4 ORtg Last Month    50
Name: 1693, dtype: object
1694 440 4 ORtg Last Month    110
Name: 1694, dtype: object
1695 397 4 ORtg Last Month    99.25
Name: 1695, dtype: object
1696 407 4 ORtg Last Month    101.75
Name: 1696, dtype: object
1697 530 4 ORtg Last Month    132.5
Name: 1697, dtype: object
1698 0 2 ORtg Last Month    0
Name: 1698, dtype: object
1699 574 5 ORtg Last Month    114.8
Name: 1699, dtype: object
1700 519 5 ORtg Last Month    103.8
Name: 1700, dtype: object
1701 249 5 ORtg Last Month    49.8
Name: 1701, dtype: object
1702 610 5 ORtg Last Month    122
Name: 1702, dtype: object
1703 629 5 ORtg Last Month    125.8
Name: 1703, dtype: object
1704 563 5 ORtg Last Month    112.6
Name: 1704, dtype: object
1705 526 4 ORtg Last Month    131.5
Name: 1705, dtype: object
1706 0 5 ORtg Last Month    0
Name: 1706, dtype: object
1707 0 5 ORtg Last Month    0
Name: 1707, dtype: object
1708 0 5 ORtg Last Month    0
Name: 1708, dtype: object
1709 0 2 ORtg Last Month    0
Name: 1709, dtype: object
1710 525 5 ORtg Last Month    105
Name: 1710, dtype: object
1711 615 5 ORtg Last Month    123
Name: 1711, dtype: object
1712 289 3 ORtg Last Month    96.3333
Name: 1712, dtype: object
1713 387 3 ORtg Last Month    129
Name: 1713, dtype: object

1714 157 3 ORtg Last Month    52.3333
Name: 1714, dtype: object
1715 97 2 ORtg Last Month    48.5
Name: 1715, dtype: object
1716 183 3 ORtg Last Month    61
Name: 1716, dtype: object
1717 398 3 ORtg Last Month    132.667
Name: 1717, dtype: object
1718 362 3 ORtg Last Month    120.667
Name: 1718, dtype: object
1719 316 3 ORtg Last Month    105.333
Name: 1719, dtype: object
1720 0 1 ORtg Last Month    0
Name: 1720, dtype: object
1721 262 3 ORtg Last Month    87.3333
Name: 1721, dtype: object
1722 417 3 ORtg Last Month    139
Name: 1722, dtype: object
1723 376 3 ORtg Last Month    125.333
Name: 1723, dtype: object
1724 128 3 ORtg Last Month    42.6667
Name: 1724, dtype: object
1725 443 5 ORtg Last Month    88.6
Name: 1725, dtype: object
1726 371 5 ORtg Last Month    74.2
Name: 1726, dtype: object
1727 478 5 ORtg Last Month    95.6
Name: 1727, dtype: object
1728 491 5 ORtg Last Month    98.2
Name: 1728, dtype: object
1729 324 5 ORtg Last Month    64.8
Name: 1729, dtype: object
1730 389 5 ORtg Last Month    77.8
Name: 1730, dtype: object
1731 430 5 ORtg Last Month    86
Name: 1731, dtype: object
1732 24 4 ORtg Last Month    6
Name: 1732, dtype: object
1733 606 5 ORtg Last Month    121.2
Name: 1733, dtype: object
1734 652 5 ORtg Last Month    130.4
Name: 1734, dtype: object
1735 438 5 ORtg Last Month    87.6
Name: 1735, dtype: object
1736 531 5 ORtg Last Month    106.2
Name: 1736, dtype: object
1737 518 5 ORtg Last Month    103.6
Name: 1737, dtype: object
1738 0 1 ORtg Last Month    0
Name: 1738, dtype: object
1739 673 5 ORtg Last Month    134.6
Name: 1739, dtype: object
1740 521 5 ORtg Last Month    104.2
Name: 1740, dtype: object
1741 575 5 ORtg Last Month    115
Name: 1741, dtype: object
1742 522 5 ORtg Last Month    104.4
Name: 1742, dtype: object
1743 561 4 ORtg Last Month    140.25
Name: 1743, dtype: object
1744 273 5 ORtg Last Month    54.6
Name: 1744, dtype: object
1745 391 5 ORtg Last Month    78.2
Name: 1745, dtype: object
1746 649 5 ORtg Last Month    129.8
Name: 1746, dtype: object
1747 217 5 ORtg Last Month    43.4
Name: 1747, dtype: object
1748 732 5 ORtg Last Month    146.4
Name: 1748, dtype: object
1749 270 5 ORtg Last Month    54
Name: 1749, dtype: object
1750 214 5 ORtg Last Month    42.8
Name: 1750, dtype: object
1751 475 4 ORtg Last Month    118.75
Name: 1751, dtype: object
1752 596 5 ORtg Last Month    119.2
Name: 1752, dtype: object
1753 588 5 ORtg Last Month    117.6
Name: 1753, dtype: object
1754 344 5 ORtg Last Month    68.8
Name: 1754, dtype: object
1755 525 5 ORtg Last Month    105
Name: 1755, dtype: object
1756 664 5 ORtg Last Month    132.8
Name: 1756, dtype: object
1757 550 5 ORtg Last Month    110
Name: 1757, dtype: object
1758 128 5 ORtg Last Month    25.6
Name: 1758, dtype: object
1759 400 4 ORtg Last Month    100
Name: 1759, dtype: object
1760 504 4 ORtg Last Month    126
Name: 1760, dtype: object
1761 393 4 ORtg Last Month    98.25
Name: 1761, dtype: object
1762 420 4 ORtg Last Month    105
Name: 1762, dtype: object
1763 53 4 ORtg Last Month    13.25
Name: 1763, dtype: object
1764 448 4 ORtg Last Month    112
Name: 1764, dtype: object
1765 364 4 ORtg Last Month    91
Name: 1765, dtype: object
1766 504 4 ORtg Last Month    126
Name: 1766, dtype: object
1767 441 4 ORtg Last Month    110.25
Name: 1767, dtype: object
1768 241 4 ORtg Last Month    60.25
Name: 1768, dtype: object
1769 113 4 ORtg Last Month    28.25
Name: 1769, dtype: object
1770 399 4 ORtg Last Month    99.75
Name: 1770, dtype: object
1771 436 4 ORtg Last Month    109
Name: 1771, dtype: object
1772 435 4 ORtg Last Month    108.75
Name: 1772, dtype: object
1773 386 4 ORtg Last Month    96.5
Name: 1773, dtype: object
1774 293 4 ORtg Last Month    73.25
Name: 1774, dtype: object
1775 52 3 ORtg Last Month    17.3333
Name: 1775, dtype: object
1776 206 4 ORtg Last Month    51.5
Name: 1776, dtype: object
1777 382 3 ORtg Last Month    127.333
Name: 1777, dtype: object
1778 442 4 ORtg Last Month    110.5
Name: 1778, dtype: object
1779 97 1 ORtg Last Month    97
Name: 1779, dtype: object
1780 408 4 ORtg Last Month    102
Name: 1780, dtype: object
1781 346 4 ORtg Last Month    86.5
Name: 1781, dtype: object
1782 521 5 ORtg Last Month    104.2
Name: 1782, dtype: object
1783 472 5 ORtg Last Month    94.4
Name: 1783, dtype: object
1784 465 5 ORtg Last Month    93
Name: 1784, dtype: object
1785 200 5 ORtg Last Month    40
Name: 1785, dtype: object
1786 554 5 ORtg Last Month    110.8
Name: 1786, dtype: object
1787 414 5 ORtg Last Month    82.8
Name: 1787, dtype: object
1788 372 4 ORtg Last Month    93
Name: 1788, dtype: object
1789 498 5 ORtg Last Month    99.6
Name: 1789, dtype: object
1790 200 5 ORtg Last Month    40
Name: 1790, dtype: object
1791 178 5 ORtg Last Month    35.6
Name: 1791, dtype: object
1792 280 5 ORtg Last Month    56
Name: 1792, dtype: object
1793 539 5 ORtg Last Month    107.8
Name: 1793, dtype: object
1794 0 3 ORtg Last Month    0
Name: 1794, dtype: object
1795 596 5 ORtg Last Month    119.2
Name: 1795, dtype: object
1796 615 5 ORtg Last Month    123
Name: 1796, dtype: object
1797 521 5 ORtg Last Month    104.2
Name: 1797, dtype: object
1798 269 5 ORtg Last Month    53.8
Name: 1798, dtype: object
1799 591 5 ORtg Last Month    118.2
Name: 1799, dtype: object
1800 111 3 ORtg Last Month    37
Name: 1800, dtype: object
1801 526 5 ORtg Last Month    105.2
Name: 1801, dtype: object
1802 593 5 ORtg Last Month    118.6
Name: 1802, dtype: object
1803 276 4 ORtg Last Month    69
Name: 1803, dtype: object
1804 227 5 ORtg Last Month    45.4
Name: 1804, dtype: object
1805 770 6 ORtg Last Month    128.333
Name: 1805, dtype: object
1806 222 3 ORtg Last Month    74
Name: 1806, dtype: object
1807 622 6 ORtg Last Month    103.667
Name: 1807, dtype: object
1808 675 6 ORtg Last Month    112.5
Name: 1808, dtype: object
1809 565 6 ORtg Last Month    94.1667
Name: 1809, dtype: object
1810 595 6 ORtg Last Month    99.1667
Name: 1810, dtype: object
1811 697 6 ORtg Last Month    116.167
Name: 1811, dtype: object
1812 800 6 ORtg Last Month    133.333
Name: 1812, dtype: object
1813 939 6 ORtg Last Month    156.5
Name: 1813, dtype: object
1814 360 5 ORtg Last Month    72
Name: 1814, dtype: object
1815 247 6 ORtg Last Month    41.1667
Name: 1815, dtype: object
1816 587 5 ORtg Last Month    117.4
Name: 1816, dtype: object
1817 515 5 ORtg Last Month    103
Name: 1817, dtype: object
1818 575 5 ORtg Last Month    115
Name: 1818, dtype: object
1819 136 4 ORtg Last Month    34
Name: 1819, dtype: object
1820 509 5 ORtg Last Month    101.8
Name: 1820, dtype: object
1821 541 5 ORtg Last Month    108.2
Name: 1821, dtype: object
1822 441 5 ORtg Last Month    88.2
Name: 1822, dtype: object
1823 209 4 ORtg Last Month    52.25
Name: 1823, dtype: object
1824 398 5 ORtg Last Month    79.6
Name: 1824, dtype: object
1825 343 3 ORtg Last Month    114.333
Name: 1825, dtype: object
1826 499 5 ORtg Last Month    99.8
Name: 1826, dtype: object
1827 424 5 ORtg Last Month    84.8
Name: 1827, dtype: object
1828 511 4 ORtg Last Month    127.75
Name: 1828, dtype: object
1829 14 4 ORtg Last Month    3.5
Name: 1829, dtype: object
1830 466 4 ORtg Last Month    116.5
Name: 1830, dtype: object
1831 0 4 ORtg Last Month    0
Name: 1831, dtype: object
1832 251 4 ORtg Last Month    62.75
Name: 1832, dtype: object
1833 307 4 ORtg Last Month    76.75
Name: 1833, dtype: object
1834 0 2 ORtg Last Month    0
Name: 1834, dtype: object
1835 384 4 ORtg Last Month    96
Name: 1835, dtype: object
1836 541 4 ORtg Last Month    135.25
Name: 1836, dtype: object
1837 432 4 ORtg Last Month    108
Name: 1837, dtype: object
1838 0 3 ORtg Last Month    0
Name: 1838, dtype: object
1839 551 5 ORtg Last Month    110.2
Name: 1839, dtype: object
1840 476 5 ORtg Last Month    95.2
Name: 1840, dtype: object
1841 575 5 ORtg Last Month    115
Name: 1841, dtype: object
1842 138 5 ORtg Last Month    27.6
Name: 1842, dtype: object
1843 279 5 ORtg Last Month    55.8
Name: 1843, dtype: object
1844 522 5 ORtg Last Month    104.4
Name: 1844, dtype: object
1845 534 5 ORtg Last Month    106.8
Name: 1845, dtype: object
1846 687 5 ORtg Last Month    137.4
Name: 1846, dtype: object
1847 223 3 ORtg Last Month    74.3333
Name: 1847, dtype: object
1848 575 5 ORtg Last Month    115
Name: 1848, dtype: object
1849 524 4 ORtg Last Month    131
Name: 1849, dtype: object

1850 604 5 ORtg Last Month    120.8
Name: 1850, dtype: object
1851 565 5 ORtg Last Month    113
Name: 1851, dtype: object
1852 249 2 ORtg Last Month    124.5
Name: 1852, dtype: object
1853 560 5 ORtg Last Month    112
Name: 1853, dtype: object
1854 617 5 ORtg Last Month    123.4
Name: 1854, dtype: object
1855 276 5 ORtg Last Month    55.2
Name: 1855, dtype: object
1856 594 5 ORtg Last Month    118.8
Name: 1856, dtype: object
1857 535 5 ORtg Last Month    107
Name: 1857, dtype: object
1858 402 3 ORtg Last Month    134
Name: 1858, dtype: object
1859 497 5 ORtg Last Month    99.4
Name: 1859, dtype: object
1860 76 5 ORtg Last Month    15.2
Name: 1860, dtype: object
1861 694 5 ORtg Last Month    138.8
Name: 1861, dtype: object
1862 176 5 ORtg Last Month    35.2
Name: 1862, dtype: object
1863 447 4 ORtg Last Month    111.75
Name: 1863, dtype: object
1864 168 4 ORtg Last Month    42
Name: 1864, dtype: object
1865 294 4 ORtg Last Month    73.5
Name: 1865, dtype: object
1866 450 4 ORtg Last Month    112.5
Name: 1866, dtype: object
1867 358 4 ORtg Last Month    89.5
Name: 1867, dtype: object
1868 0 0 ORtg Last Month    0
Name: 1868, dtype: object
1869 0 3 ORtg Last Month    0
Name: 1869, dtype: object
1870 395 4 ORtg Last Month    98.75
Name: 1870, dtype: object
1871 447 4 ORtg Last Month    111.75
Name: 1871, dtype: object
1872 380 4 ORtg Last Month    95
Name: 1872, dtype: object
1873 0 3 ORtg Last Month    0
Name: 1873, dtype: object
1874 307 4 ORtg Last Month    76.75
Name: 1874, dtype: object
1875 420 4 ORtg Last Month    105
Name: 1875, dtype: object
1876 449 4 ORtg Last Month    112.25
Name: 1876, dtype: object
1877 343 4 ORtg Last Month    85.75
Name: 1877, dtype: object
1878 396 4 ORtg Last Month    99
Name: 1878, dtype: object
1879 555 4 ORtg Last Month    138.75
Name: 1879, dtype: object
1880 394 4 ORtg Last Month    98.5
Name: 1880, dtype: object
1881 0 1 ORtg Last Month    0
Name: 1881, dtype: object
1882 0 4 ORtg Last Month    0
Name: 1882, dtype: object
1883 317 3 ORtg Last Month    105.667
Name: 1883, dtype: object
1884 0 4 ORtg Last Month    0
Name: 1884, dtype: object
1885 424 4 ORtg Last Month    106
Name: 1885, dtype: object
1886 509 4 ORtg Last Month    127.25
Name: 1886, dtype: object
1887 406 4 ORtg Last Month    101.5
Name: 1887, dtype: object
1888 573 5 ORtg Last Month    114.6
Name: 1888, dtype: object
1889 641 5 ORtg Last Month    128.2
Name: 1889, dtype: object
1890 484 5 ORtg Last Month    96.8
Name: 1890, dtype: object
1891 98 4 ORtg Last Month    24.5
Name: 1891, dtype: object
1892 171 5 ORtg Last Month    34.2
Name: 1892, dtype: object
1893 640 5 ORtg Last Month    128
Name: 1893, dtype: object
1894 529 5 ORtg Last Month    105.8
Name: 1894, dtype: object
1895 275 5 ORtg Last Month    55
Name: 1895, dtype: object
1896 530 5 ORtg Last Month    106
Name: 1896, dtype: object
1897 560 5 ORtg Last Month    112
Name: 1897, dtype: object
1898 548 5 ORtg Last Month    109.6
Name: 1898, dtype: object
1899 637 5 ORtg Last Month    127.4
Name: 1899, dtype: object
1900 161 3 ORtg Last Month    53.6667
Name: 1900, dtype: object
1901 420 4 ORtg Last Month    105
Name: 1901, dtype: object
1902 183 4 ORtg Last Month    45.75
Name: 1902, dtype: object
1903 97 3 ORtg Last Month    32.3333
Name: 1903, dtype: object
1904 484 4 ORtg Last Month    121
Name: 1904, dtype: object
1905 334 4 ORtg Last Month    83.5
Name: 1905, dtype: object
1906 523 4 ORtg Last Month    130.75
Name: 1906, dtype: object
1907 428 4 ORtg Last Month    107
Name: 1907, dtype: object
1908 71 2 ORtg Last Month    35.5
Name: 1908, dtype: object
1909 501 4 ORtg Last Month    125.25
Name: 1909, dtype: object
1910 59 2 ORtg Last Month    29.5
Name: 1910, dtype: object
1911 0 1 ORtg Last Month    0
Name: 1911, dtype: object
1912 128 4 ORtg Last Month    32
Name: 1912, dtype: object
1913 477 4 ORtg Last Month    119.25
Name: 1913, dtype: object
1914 321 5 ORtg Last Month    64.2
Name: 1914, dtype: object
1915 535 5 ORtg Last Month    107
Name: 1915, dtype: object
1916 165 5 ORtg Last Month    33
Name: 1916, dtype: object
1917 320 4 ORtg Last Month    80
Name: 1917, dtype: object
1918 491 5 ORtg Last Month    98.2
Name: 1918, dtype: object
1919 510 5 ORtg Last Month    102
Name: 1919, dtype: object
1920 427 5 ORtg Last Month    85.4
Name: 1920, dtype: object
1921 530 5 ORtg Last Month    106
Name: 1921, dtype: object
1922 0 5 ORtg Last Month    0
Name: 1922, dtype: object
1923 607 5 ORtg Last Month    121.4
Name: 1923, dtype: object
1924 495 5 ORtg Last Month    99
Name: 1924, dtype: object
1925 152 5 ORtg Last Month    30.4
Name: 1925, dtype: object
1926 501 4 ORtg Last Month    125.25
Name: 1926, dtype: object
1927 452 5 ORtg Last Month    90.4
Name: 1927, dtype: object
1928 727 5 ORtg Last Month    145.4
Name: 1928, dtype: object
1929 411 5 ORtg Last Month    82.2
Name: 1929, dtype: object
1930 93 5 ORtg Last Month    18.6
Name: 1930, dtype: object
1931 486 5 ORtg Last Month    97.2
Name: 1931, dtype: object
1932 474 5 ORtg Last Month    94.8
Name: 1932, dtype: object
1933 578 5 ORtg Last Month    115.6
Name: 1933, dtype: object
1934 0 5 ORtg Last Month    0
Name: 1934, dtype: object
1935 599 5 ORtg Last Month    119.8
Name: 1935, dtype: object
1936 275 2 ORtg Last Month    137.5
Name: 1936, dtype: object
1937 788 5 ORtg Last Month    157.6
Name: 1937, dtype: object
1938 357 4 ORtg Last Month    89.25
Name: 1938, dtype: object
1939 122 2 ORtg Last Month    61
Name: 1939, dtype: object
1940 415 3 ORtg Last Month    138.333
Name: 1940, dtype: object
1941 241 2 ORtg Last Month    120.5
Name: 1941, dtype: object
1942 269 4 ORtg Last Month    67.25
Name: 1942, dtype: object
1943 409 4 ORtg Last Month    102.25
Name: 1943, dtype: object
1944 368 4 ORtg Last Month    92
Name: 1944, dtype: object
1945 464 4 ORtg Last Month    116
Name: 1945, dtype: object
1946 212 4 ORtg Last Month    53
Name: 1946, dtype: object
1947 528 4 ORtg Last Month    132
Name: 1947, dtype: object
1948 418 4 ORtg Last Month    104.5
Name: 1948, dtype: object
1949 306 4 ORtg Last Month    76.5
Name: 1949, dtype: object
1950 32 4 ORtg Last Month    8
Name: 1950, dtype: object
1951 508 4 ORtg Last Month    127
Name: 1951, dtype: object
1952 477 4 ORtg Last Month    119.25
Name: 1952, dtype: object
1953 0 4 ORtg Last Month    0
Name: 1953, dtype: object
1954 460 4 ORtg Last Month    115
Name: 1954, dtype: object
1955 540 4 ORtg Last Month    135
Name: 1955, dtype: object
1956 403 4 ORtg Last Month    100.75
Name: 1956, dtype: object
1957 562 4 ORtg Last Month    140.5
Name: 1957, dtype: object
1958 451 4 ORtg Last Month    112.75
Name: 1958, dtype: object
1959 488 4 ORtg Last Month    122
Name: 1959, dtype: object
1960 0 4 ORtg Last Month    0
Name: 1960, dtype: object
1961 452 4 ORtg Last Month    113
Name: 1961, dtype: object
1962 342 4 ORtg Last Month    85.5
Name: 1962, dtype: object
1963 485 4 ORtg Last Month    121.25
Name: 1963, dtype: object
1964 340 4 ORtg Last Month    85
Name: 1964, dtype: object
1965 454 4 ORtg Last Month    113.5
Name: 1965, dtype: object
1966 457 4 ORtg Last Month    114.25
Name: 1966, dtype: object
1967 432 4 ORtg Last Month    108
Name: 1967, dtype: object
1968 455 4 ORtg Last Month    113.75
Name: 1968, dtype: object
1969 143 4 ORtg Last Month    35.75
Name: 1969, dtype: object
1970 199 4 ORtg Last Month    49.75
Name: 1970, dtype: object
1971 453 4 ORtg Last Month    113.25
Name: 1971, dtype: object
1972 562 4 ORtg Last Month    140.5
Name: 1972, dtype: object
1973 662 4 ORtg Last Month    165.5
Name: 1973, dtype: object
1974 457 4 ORtg Last Month    114.25
Name: 1974, dtype: object
1975 295 4 ORtg Last Month    73.75
Name: 1975, dtype: object
1976 403 4 ORtg Last Month    100.75
Name: 1976, dtype: object
1977 369 4 ORtg Last Month    92.25
Name: 1977, dtype: object
1978 461 4 ORtg Last Month    115.25
Name: 1978, dtype: object
1979 250 4 ORtg Last Month    62.5
Name: 1979, dtype: object
1980 189 4 ORtg Last Month    47.25
Name: 1980, dtype: object
1981 473 4 ORtg Last Month    118.25
Name: 1981, dtype: object
1982 566 4 ORtg Last Month    141.5
Name: 1982, dtype: object
1983 365 4 ORtg Last Month    91.25
Name: 1983, dtype: object
1984 0 1 ORtg Last Month    0
Name: 1984, dtype: object

1985 480 4 ORtg Last Month    120
Name: 1985, dtype: object
1986 403 4 ORtg Last Month    100.75
Name: 1986, dtype: object
1987 287 4 ORtg Last Month    71.75
Name: 1987, dtype: object
1988 519 5 ORtg Last Month    103.8
Name: 1988, dtype: object
1989 566 5 ORtg Last Month    113.2
Name: 1989, dtype: object
1990 548 5 ORtg Last Month    109.6
Name: 1990, dtype: object
1991 294 4 ORtg Last Month    73.5
Name: 1991, dtype: object
1992 704 5 ORtg Last Month    140.8
Name: 1992, dtype: object
1993 554 5 ORtg Last Month    110.8
Name: 1993, dtype: object
1994 517 5 ORtg Last Month    103.4
Name: 1994, dtype: object
1995 627 5 ORtg Last Month    125.4
Name: 1995, dtype: object
1996 152 2 ORtg Last Month    76
Name: 1996, dtype: object
1997 226 2 ORtg Last Month    113
Name: 1997, dtype: object
1998 502 5 ORtg Last Month    100.4
Name: 1998, dtype: object
1999 461 5 ORtg Last Month    92.2
Name: 1999, dtype: object
2000 83 1 ORtg Last Month    83
Name: 2000, dtype: object
2001 672 5 ORtg Last Month    134.4
Name: 2001, dtype: object
2002 545 5 ORtg Last Month    109
Name: 2002, dtype: object
2003 206 5 ORtg Last Month    41.2
Name: 2003, dtype: object
2004 0 4 ORtg Last Month    0
Name: 2004, dtype: object
2005 666 5 ORtg Last Month    133.2
Name: 2005, dtype: object
2006 749 5 ORtg Last Month    149.8
Name: 2006, dtype: object
2007 0 5 ORtg Last Month    0
Name: 2007, dtype: object
2008 732 6 ORtg Last Month    122
Name: 2008, dtype: object
2009 796 6 ORtg Last Month    132.667
Name: 2009, dtype: object
2010 581 6 ORtg Last Month    96.8333
Name: 2010, dtype: object
2011 548 6 ORtg Last Month    91.3333
Name: 2011, dtype: object
2012 414 6 ORtg Last Month    69
Name: 2012, dtype: object
2013 457 5 ORtg Last Month    91.4
Name: 2013, dtype: object
2014 619 6 ORtg Last Month    103.167
Name: 2014, dtype: object
2015 944 6 ORtg Last Month    157.333
Name: 2015, dtype: object
2016 636 6 ORtg Last Month    106
Name: 2016, dtype: object
2017 919 6 ORtg Last Month    153.167
Name: 2017, dtype: object
2018 528 5 ORtg Last Month    105.6
Name: 2018, dtype: object
2019 380 5 ORtg Last Month    76
Name: 2019, dtype: object
2020 451 5 ORtg Last Month    90.2
Name: 2020, dtype: object
2021 154 4 ORtg Last Month    38.5
Name: 2021, dtype: object
2022 101 2 ORtg Last Month    50.5
Name: 2022, dtype: object
2023 200 5 ORtg Last Month    40
Name: 2023, dtype: object
2024 565 5 ORtg Last Month    113
Name: 2024, dtype: object
2025 683 5 ORtg Last Month    136.6
Name: 2025, dtype: object
2026 805 5 ORtg Last Month    161
Name: 2026, dtype: object
2027 619 5 ORtg Last Month    123.8
Name: 2027, dtype: object
2028 564 5 ORtg Last Month    112.8
Name: 2028, dtype: object
2029 479 5 ORtg Last Month    95.8
Name: 2029, dtype: object
2030 180 2 ORtg Last Month    90
Name: 2030, dtype: object
2031 363 4 ORtg Last Month    90.75
Name: 2031, dtype: object
2032 134 4 ORtg Last Month    33.5
Name: 2032, dtype: object
2033 179 4 ORtg Last Month    44.75
Name: 2033, dtype: object
2034 385 4 ORtg Last Month    96.25
Name: 2034, dtype: object
2035 324 4 ORtg Last Month    81
Name: 2035, dtype: object
2036 261 4 ORtg Last Month    65.25
Name: 2036, dtype: object
2037 409 4 ORtg Last Month    102.25
Name: 2037, dtype: object
2038 0 2 ORtg Last Month    0
Name: 2038, dtype: object
2039 659 4 ORtg Last Month    164.75
Name: 2039, dtype: object
2040 416 4 ORtg Last Month    104
Name: 2040, dtype: object
2041 230 3 ORtg Last Month    76.6667
Name: 2041, dtype: object
2042 319 3 ORtg Last Month    106.333
Name: 2042, dtype: object
2043 567 4 ORtg Last Month    141.75
Name: 2043, dtype: object
2044 468 5 ORtg Last Month    93.6
Name: 2044, dtype: object
2045 543 5 ORtg Last Month    108.6
Name: 2045, dtype: object
2046 471 5 ORtg Last Month    94.2
Name: 2046, dtype: object
2047 453 5 ORtg Last Month    90.6
Name: 2047, dtype: object
2048 316 5 ORtg Last Month    63.2
Name: 2048, dtype: object
2049 342 5 ORtg Last Month    68.4
Name: 2049, dtype: object
2050 715 5 ORtg Last Month    143
Name: 2050, dtype: object
2051 519 5 ORtg Last Month    103.8
Name: 2051, dtype: object
2052 391 5 ORtg Last Month    78.2
Name: 2052, dtype: object
2053 32 5 ORtg Last Month    6.4
Name: 2053, dtype: object
2054 567 5 ORtg Last Month    113.4
Name: 2054, dtype: object
2055 450 5 ORtg Last Month    90
Name: 2055, dtype: object
2056 546 5 ORtg Last Month    109.2
Name: 2056, dtype: object
2057 334 5 ORtg Last Month    66.8
Name: 2057, dtype: object
2058 489 5 ORtg Last Month    97.8
Name: 2058, dtype: object
2059 535 5 ORtg Last Month    107
Name: 2059, dtype: object
2060 658 5 ORtg Last Month    131.6
Name: 2060, dtype: object
2061 476 5 ORtg Last Month    95.2
Name: 2061, dtype: object
2062 330 5 ORtg Last Month    66
Name: 2062, dtype: object
2063 0 2 ORtg Last Month    0
Name: 2063, dtype: object
2064 647 5 ORtg Last Month    129.4
Name: 2064, dtype: object
2065 341 5 ORtg Last Month    68.2
Name: 2065, dtype: object
2066 517 5 ORtg Last Month    103.4
Name: 2066, dtype: object
2067 581 5 ORtg Last Month    116.2
Name: 2067, dtype: object
2068 465 5 ORtg Last Month    93
Name: 2068, dtype: object
2069 562 5 ORtg Last Month    112.4
Name: 2069, dtype: object
2070 53 5 ORtg Last Month    10.6
Name: 2070, dtype: object
2071 473 5 ORtg Last Month    94.6
Name: 2071, dtype: object
2072 519 5 ORtg Last Month    103.8
Name: 2072, dtype: object
2073 594 5 ORtg Last Month    118.8
Name: 2073, dtype: object
2074 591 5 ORtg Last Month    118.2
Name: 2074, dtype: object
2075 334 5 ORtg Last Month    66.8
Name: 2075, dtype: object
2076 113 5 ORtg Last Month    22.6
Name: 2076, dtype: object
2077 399 5 ORtg Last Month    79.8
Name: 2077, dtype: object
2078 510 5 ORtg Last Month    102
Name: 2078, dtype: object
2079 543 5 ORtg Last Month    108.6
Name: 2079, dtype: object
2080 346 5 ORtg Last Month    69.2
Name: 2080, dtype: object
2081 52 4 ORtg Last Month    13
Name: 2081, dtype: object
2082 206 5 ORtg Last Month    41.2
Name: 2082, dtype: object
2083 500 5 ORtg Last Month    100
Name: 2083, dtype: object
2084 517 5 ORtg Last Month    103.4
Name: 2084, dtype: object
2085 460 4 ORtg Last Month    115
Name: 2085, dtype: object
2086 227 2 ORtg Last Month    113.5
Name: 2086, dtype: object
2087 346 5 ORtg Last Month    69.2
Name: 2087, dtype: object
2088 464 5 ORtg Last Month    92.8
Name: 2088, dtype: object
2089 627 6 ORtg Last Month    104.5
Name: 2089, dtype: object
2090 639 6 ORtg Last Month    106.5
Name: 2090, dtype: object
2091 304 3 ORtg Last Month    101.333
Name: 2091, dtype: object
2092 651 6 ORtg Last Month    108.5
Name: 2092, dtype: object
2093 681 6 ORtg Last Month    113.5
Name: 2093, dtype: object
2094 400 5 ORtg Last Month    80
Name: 2094, dtype: object
2095 827 6 ORtg Last Month    137.833
Name: 2095, dtype: object
2096 90 5 ORtg Last Month    18
Name: 2096, dtype: object
2097 222 3 ORtg Last Month    74
Name: 2097, dtype: object
2098 697 6 ORtg Last Month    116.167
Name: 2098, dtype: object
2099 842 6 ORtg Last Month    140.333
Name: 2099, dtype: object
2100 200 4 ORtg Last Month    50
Name: 2100, dtype: object
2101 680 6 ORtg Last Month    113.333
Name: 2101, dtype: object
2102 680 6 ORtg Last Month    113.333
Name: 2102, dtype: object
2103 344 4 ORtg Last Month    86
Name: 2103, dtype: object
2104 632 6 ORtg Last Month    105.333
Name: 2104, dtype: object
2105 746 6 ORtg Last Month    124.333
Name: 2105, dtype: object
2106 621 6 ORtg Last Month    103.5
Name: 2106, dtype: object
2107 697 6 ORtg Last Month    116.167
Name: 2107, dtype: object
2108 341 6 ORtg Last Month    56.8333
Name: 2108, dtype: object
2109 342 5 ORtg Last Month    68.4
Name: 2109, dtype: object
2110 227 6 ORtg Last Month    37.8333
Name: 2110, dtype: object
2111 517 6 ORtg Last Month    86.1667
Name: 2111, dtype: object
2112 588 6 ORtg Last Month    98
Name: 2112, dtype: object
2113 139 2 ORtg Last Month    69.5
Name: 2113, dtype: object
2114 690 6 ORtg Last Month    115
Name: 2114, dtype: object
2115 779 6 ORtg Last Month    129.833
Name: 2115, dtype: object
2116 206 6 ORtg Last Month    34.3333
Name: 2116, dtype: object
2117 829 6 ORtg Last Month    138.167
Name: 2117, dtype: object
2118 834 6 ORtg Last Month    139
Name: 2118, dtype: object

2119 0 6 ORtg Last Month    0
Name: 2119, dtype: object
2120 620 5 ORtg Last Month    124
Name: 2120, dtype: object
2121 519 5 ORtg Last Month    103.8
Name: 2121, dtype: object
2122 573 5 ORtg Last Month    114.6
Name: 2122, dtype: object
2123 507 5 ORtg Last Month    101.4
Name: 2123, dtype: object
2124 383 5 ORtg Last Month    76.6
Name: 2124, dtype: object
2125 352 5 ORtg Last Month    70.4
Name: 2125, dtype: object
2126 588 5 ORtg Last Month    117.6
Name: 2126, dtype: object
2127 208 3 ORtg Last Month    69.3333
Name: 2127, dtype: object
2128 45 5 ORtg Last Month    9
Name: 2128, dtype: object
2129 698 5 ORtg Last Month    139.6
Name: 2129, dtype: object
2130 489 5 ORtg Last Month    97.8
Name: 2130, dtype: object
2131 541 5 ORtg Last Month    108.2
Name: 2131, dtype: object
2132 651 7 ORtg Last Month    93
Name: 2132, dtype: object
2133 917 7 ORtg Last Month    131
Name: 2133, dtype: object
2134 284 6 ORtg Last Month    47.3333
Name: 2134, dtype: object
2135 552 7 ORtg Last Month    78.8571
Name: 2135, dtype: object
2136 865 7 ORtg Last Month    123.571
Name: 2136, dtype: object
2137 762 7 ORtg Last Month    108.857
Name: 2137, dtype: object
2138 629 6 ORtg Last Month    104.833
Name: 2138, dtype: object
2139 712 7 ORtg Last Month    101.714
Name: 2139, dtype: object
2140 1009 7 ORtg Last Month    144.143
Name: 2140, dtype: object
2141 848 7 ORtg Last Month    121.143
Name: 2141, dtype: object
2142 1006 7 ORtg Last Month    143.714
Name: 2142, dtype: object
2143 679 6 ORtg Last Month    113.167
Name: 2143, dtype: object
2144 615 6 ORtg Last Month    102.5
Name: 2144, dtype: object
2145 713 6 ORtg Last Month    118.833
Name: 2145, dtype: object
2146 216 6 ORtg Last Month    36
Name: 2146, dtype: object
2147 479 6 ORtg Last Month    79.8333
Name: 2147, dtype: object
2148 660 6 ORtg Last Month    110
Name: 2148, dtype: object
2149 649 6 ORtg Last Month    108.167
Name: 2149, dtype: object
2150 515 5 ORtg Last Month    103
Name: 2150, dtype: object
2151 829 6 ORtg Last Month    138.167
Name: 2151, dtype: object
2152 694 6 ORtg Last Month    115.667
Name: 2152, dtype: object
2153 647 5 ORtg Last Month    129.4
Name: 2153, dtype: object
2154 604 6 ORtg Last Month    100.667
Name: 2154, dtype: object
2155 197 2 ORtg Last Month    98.5
Name: 2155, dtype: object
2156 379 3 ORtg Last Month    126.333
Name: 2156, dtype: object
2157 679 6 ORtg Last Month    113.167
Name: 2157, dtype: object
2158 634 6 ORtg Last Month    105.667
Name: 2158, dtype: object
2159 680 6 ORtg Last Month    113.333
Name: 2159, dtype: object
2160 721 6 ORtg Last Month    120.167
Name: 2160, dtype: object
2161 647 6 ORtg Last Month    107.833
Name: 2161, dtype: object
2162 616 6 ORtg Last Month    102.667
Name: 2162, dtype: object
2163 276 6 ORtg Last Month    46
Name: 2163, dtype: object
2164 771 6 ORtg Last Month    128.5
Name: 2164, dtype: object
2165 496 4 ORtg Last Month    124
Name: 2165, dtype: object
2166 176 6 ORtg Last Month    29.3333
Name: 2166, dtype: object
2167 585 5 ORtg Last Month    117
Name: 2167, dtype: object
2168 502 5 ORtg Last Month    100.4
Name: 2168, dtype: object
2169 474 5 ORtg Last Month    94.8
Name: 2169, dtype: object
2170 479 5 ORtg Last Month    95.8
Name: 2170, dtype: object
2171 693 5 ORtg Last Month    138.6
Name: 2171, dtype: object
2172 115 2 ORtg Last Month    57.5
Name: 2172, dtype: object
2173 0 5 ORtg Last Month    0
Name: 2173, dtype: object
2174 317 4 ORtg Last Month    79.25
Name: 2174, dtype: object
2175 0 5 ORtg Last Month    0
Name: 2175, dtype: object
2176 486 5 ORtg Last Month    97.2
Name: 2176, dtype: object
2177 510 5 ORtg Last Month    102
Name: 2177, dtype: object
2178 679 5 ORtg Last Month    135.8
Name: 2178, dtype: object
2179 728 6 ORtg Last Month    121.333
Name: 2179, dtype: object
2180 699 6 ORtg Last Month    116.5
Name: 2180, dtype: object
2181 612 6 ORtg Last Month    102
Name: 2181, dtype: object
2182 98 5 ORtg Last Month    19.6
Name: 2182, dtype: object
2183 765 6 ORtg Last Month    127.5
Name: 2183, dtype: object
2184 666 6 ORtg Last Month    111
Name: 2184, dtype: object
2185 389 6 ORtg Last Month    64.8333
Name: 2185, dtype: object
2186 183 6 ORtg Last Month    30.5
Name: 2186, dtype: object
2187 680 6 ORtg Last Month    113.333
Name: 2187, dtype: object
2188 263 4 ORtg Last Month    65.75
Name: 2188, dtype: object
2189 744 6 ORtg Last Month    124
Name: 2189, dtype: object
2190 619 6 ORtg Last Month    103.167
Name: 2190, dtype: object
2191 338 3 ORtg Last Month    112.667
Name: 2191, dtype: object
2192 307 6 ORtg Last Month    51.1667
Name: 2192, dtype: object
2193 676 6 ORtg Last Month    112.667
Name: 2193, dtype: object
2194 657 6 ORtg Last Month    109.5
Name: 2194, dtype: object
2195 613 6 ORtg Last Month    102.167
Name: 2195, dtype: object
2196 575 5 ORtg Last Month    115
Name: 2196, dtype: object
2197 737 6 ORtg Last Month    122.833
Name: 2197, dtype: object
2198 669 6 ORtg Last Month    111.5
Name: 2198, dtype: object
2199 0 6 ORtg Last Month    0
Name: 2199, dtype: object
2200 0 6 ORtg Last Month    0
Name: 2200, dtype: object
2201 78 6 ORtg Last Month    13
Name: 2201, dtype: object
2202 166 3 ORtg Last Month    55.3333
Name: 2202, dtype: object
2203 626 6 ORtg Last Month    104.333
Name: 2203, dtype: object
2204 706 6 ORtg Last Month    117.667
Name: 2204, dtype: object
2205 537 5 ORtg Last Month    107.4
Name: 2205, dtype: object
2206 177 4 ORtg Last Month    44.25
Name: 2206, dtype: object
2207 306 5 ORtg Last Month    61.2
Name: 2207, dtype: object
2208 406 5 ORtg Last Month    81.2
Name: 2208, dtype: object
2209 637 5 ORtg Last Month    127.4
Name: 2209, dtype: object
2210 581 5 ORtg Last Month    116.2
Name: 2210, dtype: object
2211 498 5 ORtg Last Month    99.6
Name: 2211, dtype: object
2212 0 2 ORtg Last Month    0
Name: 2212, dtype: object
2213 205 3 ORtg Last Month    68.3333
Name: 2213, dtype: object
2214 560 5 ORtg Last Month    112
Name: 2214, dtype: object
2215 171 3 ORtg Last Month    57
Name: 2215, dtype: object
2216 251 5 ORtg Last Month    50.2
Name: 2216, dtype: object
2217 517 4 ORtg Last Month    129.25
Name: 2217, dtype: object
2218 560 6 ORtg Last Month    93.3333
Name: 2218, dtype: object
2219 584 6 ORtg Last Month    97.3333
Name: 2219, dtype: object
2220 324 6 ORtg Last Month    54
Name: 2220, dtype: object
2221 0 0 ORtg Last Month    0
Name: 2221, dtype: object
2222 523 6 ORtg Last Month    87.1667
Name: 2222, dtype: object
2223 464 6 ORtg Last Month    77.3333
Name: 2223, dtype: object
2224 473 6 ORtg Last Month    78.8333
Name: 2224, dtype: object
2225 484 6 ORtg Last Month    80.6667
Name: 2225, dtype: object
2226 695 6 ORtg Last Month    115.833
Name: 2226, dtype: object
2227 797 6 ORtg Last Month    132.833
Name: 2227, dtype: object
2228 559 6 ORtg Last Month    93.1667
Name: 2228, dtype: object
2229 24 5 ORtg Last Month    4.8
Name: 2229, dtype: object
2230 575 5 ORtg Last Month    115
Name: 2230, dtype: object
2231 565 6 ORtg Last Month    94.1667
Name: 2231, dtype: object
2232 537 6 ORtg Last Month    89.5
Name: 2232, dtype: object
2233 869 6 ORtg Last Month    144.833
Name: 2233, dtype: object
2234 702 6 ORtg Last Month    117
Name: 2234, dtype: object
2235 612 6 ORtg Last Month    102
Name: 2235, dtype: object
2236 589 6 ORtg Last Month    98.1667
Name: 2236, dtype: object
2237 0 6 ORtg Last Month    0
Name: 2237, dtype: object
2238 93 6 ORtg Last Month    15.5
Name: 2238, dtype: object
2239 706 6 ORtg Last Month    117.667
Name: 2239, dtype: object
2240 349 3 ORtg Last Month    116.333
Name: 2240, dtype: object
2241 1029 6 ORtg Last Month    171.5
Name: 2241, dtype: object
2242 649 5 ORtg Last Month    129.8
Name: 2242, dtype: object
2243 567 5 ORtg Last Month    113.4
Name: 2243, dtype: object
2244 0 0 ORtg Last Month    0
Name: 2244, dtype: object
2245 0 5 ORtg Last Month    0
Name: 2245, dtype: object
2246 535 5 ORtg Last Month    107
Name: 2246, dtype: object
2247 0 5 ORtg Last Month    0
Name: 2247, dtype: object
2248 530 5 ORtg Last Month    106
Name: 2248, dtype: object
2249 589 5 ORtg Last Month    117.8
Name: 2249, dtype: object
2250 738 5 ORtg Last Month    147.6
Name: 2250, dtype: object
2251 727 5 ORtg Last Month    145.4
Name: 2251, dtype: object

2252 507 5 ORtg Last Month    101.4
Name: 2252, dtype: object
2253 434 5 ORtg Last Month    86.8
Name: 2253, dtype: object
2254 654 6 ORtg Last Month    109
Name: 2254, dtype: object
2255 652 6 ORtg Last Month    108.667
Name: 2255, dtype: object
2256 628 6 ORtg Last Month    104.667
Name: 2256, dtype: object
2257 823 6 ORtg Last Month    137.167
Name: 2257, dtype: object
2258 576 5 ORtg Last Month    115.2
Name: 2258, dtype: object
2259 611 6 ORtg Last Month    101.833
Name: 2259, dtype: object
2260 391 6 ORtg Last Month    65.1667
Name: 2260, dtype: object
2261 300 2 ORtg Last Month    150
Name: 2261, dtype: object
2262 755 6 ORtg Last Month    125.833
Name: 2262, dtype: object
2263 648 6 ORtg Last Month    108
Name: 2263, dtype: object
2264 0 0 ORtg Last Month    0
Name: 2264, dtype: object
2265 394 6 ORtg Last Month    65.6667
Name: 2265, dtype: object
2266 486 5 ORtg Last Month    97.2
Name: 2266, dtype: object
2267 599 5 ORtg Last Month    119.8
Name: 2267, dtype: object
2268 572 5 ORtg Last Month    114.4
Name: 2268, dtype: object
2269 573 5 ORtg Last Month    114.6
Name: 2269, dtype: object
2270 533 5 ORtg Last Month    106.6
Name: 2270, dtype: object
2271 528 5 ORtg Last Month    105.6
Name: 2271, dtype: object
2272 199 5 ORtg Last Month    39.8
Name: 2272, dtype: object
2273 537 5 ORtg Last Month    107.4
Name: 2273, dtype: object
2274 716 5 ORtg Last Month    143.2
Name: 2274, dtype: object
2275 691 5 ORtg Last Month    138.2
Name: 2275, dtype: object
2276 143 5 ORtg Last Month    28.6
Name: 2276, dtype: object
2277 457 5 ORtg Last Month    91.4
Name: 2277, dtype: object
2278 891 6 ORtg Last Month    148.5
Name: 2278, dtype: object
2279 373 6 ORtg Last Month    62.1667
Name: 2279, dtype: object
2280 0 1 ORtg Last Month    0
Name: 2280, dtype: object
2281 306 6 ORtg Last Month    51
Name: 2281, dtype: object
2282 0 1 ORtg Last Month    0
Name: 2282, dtype: object
2283 686 6 ORtg Last Month    114.333
Name: 2283, dtype: object
2284 767 6 ORtg Last Month    127.833
Name: 2284, dtype: object
2285 604 6 ORtg Last Month    100.667
Name: 2285, dtype: object
2286 469 6 ORtg Last Month    78.1667
Name: 2286, dtype: object
2287 619 6 ORtg Last Month    103.167
Name: 2287, dtype: object
2288 775 6 ORtg Last Month    129.167
Name: 2288, dtype: object
2289 0 0 ORtg Last Month    0
Name: 2289, dtype: object
2290 128 6 ORtg Last Month    21.3333
Name: 2290, dtype: object
2291 615 6 ORtg Last Month    102.5
Name: 2291, dtype: object
2292 446 6 ORtg Last Month    74.3333
Name: 2292, dtype: object
2293 609 6 ORtg Last Month    101.5
Name: 2293, dtype: object
2294 570 6 ORtg Last Month    95
Name: 2294, dtype: object
2295 287 6 ORtg Last Month    47.8333
Name: 2295, dtype: object
2296 187 5 ORtg Last Month    37.4
Name: 2296, dtype: object
2297 587 6 ORtg Last Month    97.8333
Name: 2297, dtype: object
2298 559 5 ORtg Last Month    111.8
Name: 2298, dtype: object
2299 580 6 ORtg Last Month    96.6667
Name: 2299, dtype: object
2300 350 3 ORtg Last Month    116.667
Name: 2300, dtype: object
2301 457 6 ORtg Last Month    76.1667
Name: 2301, dtype: object
2302 541 6 ORtg Last Month    90.1667
Name: 2302, dtype: object
2303 616 6 ORtg Last Month    102.667
Name: 2303, dtype: object
2304 670 6 ORtg Last Month    111.667
Name: 2304, dtype: object
2305 283 6 ORtg Last Month    47.1667
Name: 2305, dtype: object
2306 681 6 ORtg Last Month    113.5
Name: 2306, dtype: object
2307 518 6 ORtg Last Month    86.3333
Name: 2307, dtype: object
2308 577 6 ORtg Last Month    96.1667
Name: 2308, dtype: object
2309 461 5 ORtg Last Month    92.2
Name: 2309, dtype: object
2310 319 6 ORtg Last Month    53.1667
Name: 2310, dtype: object
2311 178 6 ORtg Last Month    29.6667
Name: 2311, dtype: object
2312 598 6 ORtg Last Month    99.6667
Name: 2312, dtype: object
2313 369 3 ORtg Last Month    123
Name: 2313, dtype: object
2314 218 4 ORtg Last Month    54.5
Name: 2314, dtype: object
2315 531 6 ORtg Last Month    88.5
Name: 2315, dtype: object
2316 875 7 ORtg Last Month    125
Name: 2316, dtype: object
2317 681 7 ORtg Last Month    97.2857
Name: 2317, dtype: object
2318 251 4 ORtg Last Month    62.75
Name: 2318, dtype: object
2319 752 7 ORtg Last Month    107.429
Name: 2319, dtype: object
2320 863 7 ORtg Last Month    123.286
Name: 2320, dtype: object
2321 797 7 ORtg Last Month    113.857
Name: 2321, dtype: object
2322 684 7 ORtg Last Month    97.7143
Name: 2322, dtype: object
2323 716 7 ORtg Last Month    102.286
Name: 2323, dtype: object
2324 1068 7 ORtg Last Month    152.571
Name: 2324, dtype: object
2325 474 6 ORtg Last Month    79
Name: 2325, dtype: object
2326 247 7 ORtg Last Month    35.2857
Name: 2326, dtype: object
2327 632 6 ORtg Last Month    105.333
Name: 2327, dtype: object
2328 709 6 ORtg Last Month    118.167
Name: 2328, dtype: object
2329 700 6 ORtg Last Month    116.667
Name: 2329, dtype: object
2330 380 5 ORtg Last Month    76
Name: 2330, dtype: object
2331 636 6 ORtg Last Month    106
Name: 2331, dtype: object
2332 667 6 ORtg Last Month    111.167
Name: 2332, dtype: object
2333 510 6 ORtg Last Month    85
Name: 2333, dtype: object
2334 481 6 ORtg Last Month    80.1667
Name: 2334, dtype: object
2335 358 5 ORtg Last Month    71.6
Name: 2335, dtype: object
2336 631 6 ORtg Last Month    105.167
Name: 2336, dtype: object
2337 528 4 ORtg Last Month    132
Name: 2337, dtype: object
2338 569 6 ORtg Last Month    94.8333
Name: 2338, dtype: object
2339 131 4 ORtg Last Month    32.75
Name: 2339, dtype: object
2340 112 5 ORtg Last Month    22.4
Name: 2340, dtype: object
2341 594 5 ORtg Last Month    118.8
Name: 2341, dtype: object
2342 168 5 ORtg Last Month    33.6
Name: 2342, dtype: object
2343 500 5 ORtg Last Month    100
Name: 2343, dtype: object
2344 373 5 ORtg Last Month    74.6
Name: 2344, dtype: object
2345 356 5 ORtg Last Month    71.2
Name: 2345, dtype: object
2346 117 3 ORtg Last Month    39
Name: 2346, dtype: object
2347 589 5 ORtg Last Month    117.8
Name: 2347, dtype: object
2348 490 5 ORtg Last Month    98
Name: 2348, dtype: object
2349 557 5 ORtg Last Month    111.4
Name: 2349, dtype: object
2350 227 4 ORtg Last Month    56.75
Name: 2350, dtype: object
2351 360 3 ORtg Last Month    120
Name: 2351, dtype: object
2352 373 5 ORtg Last Month    74.6
Name: 2352, dtype: object
2353 569 5 ORtg Last Month    113.8
Name: 2353, dtype: object
2354 450 5 ORtg Last Month    90
Name: 2354, dtype: object
2355 124 5 ORtg Last Month    24.8
Name: 2355, dtype: object
2356 498 5 ORtg Last Month    99.6
Name: 2356, dtype: object
2357 516 5 ORtg Last Month    103.2
Name: 2357, dtype: object
2358 229 5 ORtg Last Month    45.8
Name: 2358, dtype: object
2359 576 5 ORtg Last Month    115.2
Name: 2359, dtype: object
2360 0 0 ORtg Last Month    0
Name: 2360, dtype: object
2361 0 0 ORtg Last Month    0
Name: 2361, dtype: object
2362 583 6 ORtg Last Month    97.1667
Name: 2362, dtype: object
2363 504 6 ORtg Last Month    84
Name: 2363, dtype: object
2364 666 6 ORtg Last Month    111
Name: 2364, dtype: object
2365 411 5 ORtg Last Month    82.2
Name: 2365, dtype: object
2366 206 3 ORtg Last Month    68.6667
Name: 2366, dtype: object
2367 257 6 ORtg Last Month    42.8333
Name: 2367, dtype: object
2368 770 6 ORtg Last Month    128.333
Name: 2368, dtype: object
2369 695 6 ORtg Last Month    115.833
Name: 2369, dtype: object
2370 1021 6 ORtg Last Month    170.167
Name: 2370, dtype: object
2371 678 6 ORtg Last Month    113
Name: 2371, dtype: object
2372 774 6 ORtg Last Month    129
Name: 2372, dtype: object
2373 589 6 ORtg Last Month    98.1667
Name: 2373, dtype: object
2374 557 5 ORtg Last Month    111.4
Name: 2374, dtype: object
2375 566 5 ORtg Last Month    113.2
Name: 2375, dtype: object
2376 387 5 ORtg Last Month    77.4
Name: 2376, dtype: object
2377 591 5 ORtg Last Month    118.2
Name: 2377, dtype: object
2378 0 0 ORtg Last Month    0
Name: 2378, dtype: object
2379 109 4 ORtg Last Month    27.25
Name: 2379, dtype: object
2380 339 5 ORtg Last Month    67.8
Name: 2380, dtype: object
2381 572 5 ORtg Last Month    114.4
Name: 2381, dtype: object
2382 373 5 ORtg Last Month    74.6
Name: 2382, dtype: object
2383 523 5 ORtg Last Month    104.6
Name: 2383, dtype: object
2384 74 4 ORtg Last Month    18.5
Name: 2384, dtype: object

2385 539 5 ORtg Last Month    107.8
Name: 2385, dtype: object
2386 521 5 ORtg Last Month    104.2
Name: 2386, dtype: object
2387 557 6 ORtg Last Month    92.8333
Name: 2387, dtype: object
2388 616 6 ORtg Last Month    102.667
Name: 2388, dtype: object
2389 703 6 ORtg Last Month    117.167
Name: 2389, dtype: object
2390 618 6 ORtg Last Month    103
Name: 2390, dtype: object
2391 796 6 ORtg Last Month    132.667
Name: 2391, dtype: object
2392 216 3 ORtg Last Month    72
Name: 2392, dtype: object
2393 317 5 ORtg Last Month    63.4
Name: 2393, dtype: object
2394 0 6 ORtg Last Month    0
Name: 2394, dtype: object
2395 0 6 ORtg Last Month    0
Name: 2395, dtype: object
2396 575 6 ORtg Last Month    95.8333
Name: 2396, dtype: object
2397 715 6 ORtg Last Month    119.167
Name: 2397, dtype: object
2398 609 6 ORtg Last Month    101.5
Name: 2398, dtype: object
2399 289 3 ORtg Last Month    96.3333
Name: 2399, dtype: object
2400 467 5 ORtg Last Month    93.4
Name: 2400, dtype: object
2401 473 4 ORtg Last Month    118.25
Name: 2401, dtype: object
2402 179 5 ORtg Last Month    35.8
Name: 2402, dtype: object
2403 517 5 ORtg Last Month    103.4
Name: 2403, dtype: object
2404 437 5 ORtg Last Month    87.4
Name: 2404, dtype: object
2405 450 5 ORtg Last Month    90
Name: 2405, dtype: object
2406 323 5 ORtg Last Month    64.6
Name: 2406, dtype: object
2407 0 3 ORtg Last Month    0
Name: 2407, dtype: object
2408 469 4 ORtg Last Month    117.25
Name: 2408, dtype: object
2409 564 5 ORtg Last Month    112.8
Name: 2409, dtype: object
2410 796 5 ORtg Last Month    159.2
Name: 2410, dtype: object
2411 664 6 ORtg Last Month    110.667
Name: 2411, dtype: object
2412 392 6 ORtg Last Month    65.3333
Name: 2412, dtype: object
2413 287 6 ORtg Last Month    47.8333
Name: 2413, dtype: object
2414 555 6 ORtg Last Month    92.5
Name: 2414, dtype: object
2415 494 6 ORtg Last Month    82.3333
Name: 2415, dtype: object
2416 411 5 ORtg Last Month    82.2
Name: 2416, dtype: object
2417 544 6 ORtg Last Month    90.6667
Name: 2417, dtype: object
2418 614 6 ORtg Last Month    102.333
Name: 2418, dtype: object
2419 70 6 ORtg Last Month    11.6667
Name: 2419, dtype: object
2420 719 6 ORtg Last Month    119.833
Name: 2420, dtype: object
2421 615 6 ORtg Last Month    102.5
Name: 2421, dtype: object
2422 195 6 ORtg Last Month    32.5
Name: 2422, dtype: object
2423 734 6 ORtg Last Month    122.333
Name: 2423, dtype: object
2424 678 7 ORtg Last Month    96.8571
Name: 2424, dtype: object
2425 669 7 ORtg Last Month    95.5714
Name: 2425, dtype: object
2426 927 7 ORtg Last Month    132.429
Name: 2426, dtype: object
2427 194 7 ORtg Last Month    27.7143
Name: 2427, dtype: object
2428 689 7 ORtg Last Month    98.4286
Name: 2428, dtype: object
2429 787 7 ORtg Last Month    112.429
Name: 2429, dtype: object
2430 653 7 ORtg Last Month    93.2857
Name: 2430, dtype: object
2431 66 7 ORtg Last Month    9.42857
Name: 2431, dtype: object
2432 800 7 ORtg Last Month    114.286
Name: 2432, dtype: object
2433 494 4 ORtg Last Month    123.5
Name: 2433, dtype: object
2434 1185 7 ORtg Last Month    169.286
Name: 2434, dtype: object
2435 748 6 ORtg Last Month    124.667
Name: 2435, dtype: object
2436 653 6 ORtg Last Month    108.833
Name: 2436, dtype: object
2437 0 1 ORtg Last Month    0
Name: 2437, dtype: object
2438 0 6 ORtg Last Month    0
Name: 2438, dtype: object
2439 876 6 ORtg Last Month    146
Name: 2439, dtype: object
2440 669 6 ORtg Last Month    111.5
Name: 2440, dtype: object
2441 121 6 ORtg Last Month    20.1667
Name: 2441, dtype: object
2442 719 6 ORtg Last Month    119.833
Name: 2442, dtype: object
2443 636 6 ORtg Last Month    106
Name: 2443, dtype: object
2444 772 6 ORtg Last Month    128.667
Name: 2444, dtype: object
2445 583 6 ORtg Last Month    97.1667
Name: 2445, dtype: object
2446 434 6 ORtg Last Month    72.3333
Name: 2446, dtype: object
2447 753 7 ORtg Last Month    107.571
Name: 2447, dtype: object
2448 300 3 ORtg Last Month    100
Name: 2448, dtype: object
2449 750 7 ORtg Last Month    107.143
Name: 2449, dtype: object
2450 752 7 ORtg Last Month    107.429
Name: 2450, dtype: object
2451 946 7 ORtg Last Month    135.143
Name: 2451, dtype: object
2452 738 7 ORtg Last Month    105.429
Name: 2452, dtype: object
2453 690 7 ORtg Last Month    98.5714
Name: 2453, dtype: object
2454 391 7 ORtg Last Month    55.8571
Name: 2454, dtype: object
2455 394 7 ORtg Last Month    56.2857
Name: 2455, dtype: object
2456 889 7 ORtg Last Month    127
Name: 2456, dtype: object
2457 152 1 ORtg Last Month    152
Name: 2457, dtype: object
2458 217 6 ORtg Last Month    36.1667
Name: 2458, dtype: object
2459 971 7 ORtg Last Month    138.714
Name: 2459, dtype: object
2460 83 2 ORtg Last Month    41.5
Name: 2460, dtype: object
2461 439 7 ORtg Last Month    62.7143
Name: 2461, dtype: object
2462 351 7 ORtg Last Month    50.1429
Name: 2462, dtype: object
2463 609 5 ORtg Last Month    121.8
Name: 2463, dtype: object
2464 801 7 ORtg Last Month    114.429
Name: 2464, dtype: object
2465 881 7 ORtg Last Month    125.857
Name: 2465, dtype: object
2466 518 7 ORtg Last Month    74
Name: 2466, dtype: object
2467 812 7 ORtg Last Month    116
Name: 2467, dtype: object
2468 753 7 ORtg Last Month    107.571
Name: 2468, dtype: object
2469 875 7 ORtg Last Month    125
Name: 2469, dtype: object
2470 162 7 ORtg Last Month    23.1429
Name: 2470, dtype: object
2471 612 6 ORtg Last Month    102
Name: 2471, dtype: object
2472 677 6 ORtg Last Month    112.833
Name: 2472, dtype: object
2473 570 6 ORtg Last Month    95
Name: 2473, dtype: object
2474 703 6 ORtg Last Month    117.167
Name: 2474, dtype: object
2475 78 6 ORtg Last Month    13
Name: 2475, dtype: object
2476 604 6 ORtg Last Month    100.667
Name: 2476, dtype: object
2477 656 6 ORtg Last Month    109.333
Name: 2477, dtype: object
2478 620 6 ORtg Last Month    103.333
Name: 2478, dtype: object
2479 399 6 ORtg Last Month    66.5
Name: 2479, dtype: object
2480 458 6 ORtg Last Month    76.3333
Name: 2480, dtype: object
2481 211 6 ORtg Last Month    35.1667
Name: 2481, dtype: object
2482 768 7 ORtg Last Month    109.714
Name: 2482, dtype: object
2483 746 7 ORtg Last Month    106.571
Name: 2483, dtype: object
2484 450 4 ORtg Last Month    112.5
Name: 2484, dtype: object
2485 735 7 ORtg Last Month    105
Name: 2485, dtype: object
2486 766 7 ORtg Last Month    109.429
Name: 2486, dtype: object
2487 861 7 ORtg Last Month    123
Name: 2487, dtype: object
2488 490 6 ORtg Last Month    81.6667
Name: 2488, dtype: object
2489 90 6 ORtg Last Month    15
Name: 2489, dtype: object
2490 818 7 ORtg Last Month    116.857
Name: 2490, dtype: object
2491 326 4 ORtg Last Month    81.5
Name: 2491, dtype: object
2492 973 7 ORtg Last Month    139
Name: 2492, dtype: object
2493 400 5 ORtg Last Month    80
Name: 2493, dtype: object
2494 776 7 ORtg Last Month    110.857
Name: 2494, dtype: object
2495 838 7 ORtg Last Month    119.714
Name: 2495, dtype: object
2496 834 7 ORtg Last Month    119.143
Name: 2496, dtype: object
2497 440 7 ORtg Last Month    62.8571
Name: 2497, dtype: object
2498 782 7 ORtg Last Month    111.714
Name: 2498, dtype: object
2499 462 5 ORtg Last Month    92.4
Name: 2499, dtype: object
2500 800 7 ORtg Last Month    114.286
Name: 2500, dtype: object
2501 722 7 ORtg Last Month    103.143
Name: 2501, dtype: object
2502 484 6 ORtg Last Month    80.6667
Name: 2502, dtype: object
2503 227 7 ORtg Last Month    32.4286
Name: 2503, dtype: object
2504 710 7 ORtg Last Month    101.429
Name: 2504, dtype: object
2505 614 7 ORtg Last Month    87.7143
Name: 2505, dtype: object
2506 249 3 ORtg Last Month    83
Name: 2506, dtype: object
2507 802 7 ORtg Last Month    114.571
Name: 2507, dtype: object
2508 816 7 ORtg Last Month    116.571
Name: 2508, dtype: object
2509 206 7 ORtg Last Month    29.4286
Name: 2509, dtype: object
2510 918 7 ORtg Last Month    131.143
Name: 2510, dtype: object
2511 834 7 ORtg Last Month    119.143
Name: 2511, dtype: object
2512 0 7 ORtg Last Month    0
Name: 2512, dtype: object
2513 620 6 ORtg Last Month    103.333
Name: 2513, dtype: object
2514 753 6 ORtg Last Month    125.5
Name: 2514, dtype: object
2515 690 6 ORtg Last Month    115
Name: 2515, dtype: object
2516 577 6 ORtg Last Month    96.1667
Name: 2516, dtype: object

2517 208 4 ORtg Last Month    52
Name: 2517, dtype: object
2518 495 6 ORtg Last Month    82.5
Name: 2518, dtype: object
2519 405 6 ORtg Last Month    67.5
Name: 2519, dtype: object
2520 814 6 ORtg Last Month    135.667
Name: 2520, dtype: object
2521 45 6 ORtg Last Month    7.5
Name: 2521, dtype: object
2522 853 6 ORtg Last Month    142.167
Name: 2522, dtype: object
2523 606 6 ORtg Last Month    101
Name: 2523, dtype: object
2524 606 6 ORtg Last Month    101
Name: 2524, dtype: object
2525 664 6 ORtg Last Month    110.667
Name: 2525, dtype: object
2526 271 6 ORtg Last Month    45.1667
Name: 2526, dtype: object
2527 247 6 ORtg Last Month    41.1667
Name: 2527, dtype: object
2528 500 6 ORtg Last Month    83.3333
Name: 2528, dtype: object
2529 427 6 ORtg Last Month    71.1667
Name: 2529, dtype: object
2530 498 6 ORtg Last Month    83
Name: 2530, dtype: object
2531 117 4 ORtg Last Month    29.25
Name: 2531, dtype: object
2532 597 6 ORtg Last Month    99.5
Name: 2532, dtype: object
2533 690 6 ORtg Last Month    115
Name: 2533, dtype: object
2534 714 6 ORtg Last Month    119
Name: 2534, dtype: object
2535 227 5 ORtg Last Month    45.4
Name: 2535, dtype: object
2536 1102 8 ORtg Last Month    137.75
Name: 2536, dtype: object
2537 794 8 ORtg Last Month    99.25
Name: 2537, dtype: object
2538 398 7 ORtg Last Month    56.8571
Name: 2538, dtype: object
2539 1028 8 ORtg Last Month    128.5
Name: 2539, dtype: object
2540 951 8 ORtg Last Month    118.875
Name: 2540, dtype: object
2541 874 7 ORtg Last Month    124.857
Name: 2541, dtype: object
2542 683 8 ORtg Last Month    85.375
Name: 2542, dtype: object
2543 915 8 ORtg Last Month    114.375
Name: 2543, dtype: object
2544 859 8 ORtg Last Month    107.375
Name: 2544, dtype: object
2545 1127 8 ORtg Last Month    140.875
Name: 2545, dtype: object
2546 1105 8 ORtg Last Month    138.125
Name: 2546, dtype: object
2547 771 7 ORtg Last Month    110.143
Name: 2547, dtype: object
2548 741 7 ORtg Last Month    105.857
Name: 2548, dtype: object
2549 753 7 ORtg Last Month    107.571
Name: 2549, dtype: object
2550 216 7 ORtg Last Month    30.8571
Name: 2550, dtype: object
2551 479 7 ORtg Last Month    68.4286
Name: 2551, dtype: object
2552 771 7 ORtg Last Month    110.143
Name: 2552, dtype: object
2553 601 6 ORtg Last Month    100.167
Name: 2553, dtype: object
2554 752 7 ORtg Last Month    107.429
Name: 2554, dtype: object
2555 829 7 ORtg Last Month    118.429
Name: 2555, dtype: object
2556 747 6 ORtg Last Month    124.5
Name: 2556, dtype: object
2557 782 7 ORtg Last Month    111.714
Name: 2557, dtype: object
2558 604 7 ORtg Last Month    86.2857
Name: 2558, dtype: object
2559 753 7 ORtg Last Month    107.571
Name: 2559, dtype: object
2560 310 3 ORtg Last Month    103.333
Name: 2560, dtype: object
2561 498 4 ORtg Last Month    124.5
Name: 2561, dtype: object
2562 730 7 ORtg Last Month    104.286
Name: 2562, dtype: object
2563 784 7 ORtg Last Month    112
Name: 2563, dtype: object
2564 276 7 ORtg Last Month    39.4286
Name: 2564, dtype: object
2565 837 7 ORtg Last Month    119.571
Name: 2565, dtype: object
2566 771 7 ORtg Last Month    110.143
Name: 2566, dtype: object
2567 616 7 ORtg Last Month    88
Name: 2567, dtype: object
2568 622 5 ORtg Last Month    124.4
Name: 2568, dtype: object
2569 880 7 ORtg Last Month    125.714
Name: 2569, dtype: object
2570 0 0 ORtg Last Month    0
Name: 2570, dtype: object
2571 176 7 ORtg Last Month    25.1429
Name: 2571, dtype: object
2572 770 7 ORtg Last Month    110
Name: 2572, dtype: object
2573 448 7 ORtg Last Month    64
Name: 2573, dtype: object
2574 744 7 ORtg Last Month    106.286
Name: 2574, dtype: object
2575 416 4 ORtg Last Month    104
Name: 2575, dtype: object
2576 847 7 ORtg Last Month    121
Name: 2576, dtype: object
2577 838 7 ORtg Last Month    119.714
Name: 2577, dtype: object
2578 0 7 ORtg Last Month    0
Name: 2578, dtype: object
2579 166 4 ORtg Last Month    41.5
Name: 2579, dtype: object
2580 0 7 ORtg Last Month    0
Name: 2580, dtype: object
2581 78 7 ORtg Last Month    11.1429
Name: 2581, dtype: object
2582 750 7 ORtg Last Month    107.143
Name: 2582, dtype: object
2583 800 7 ORtg Last Month    114.286
Name: 2583, dtype: object
2584 640 6 ORtg Last Month    106.667
Name: 2584, dtype: object
2585 417 5 ORtg Last Month    83.4
Name: 2585, dtype: object
2586 465 6 ORtg Last Month    77.5
Name: 2586, dtype: object
2587 430 6 ORtg Last Month    71.6667
Name: 2587, dtype: object
2588 723 6 ORtg Last Month    120.5
Name: 2588, dtype: object
2589 685 6 ORtg Last Month    114.167
Name: 2589, dtype: object
2590 583 6 ORtg Last Month    97.1667
Name: 2590, dtype: object
2591 0 3 ORtg Last Month    0
Name: 2591, dtype: object
2592 300 4 ORtg Last Month    75
Name: 2592, dtype: object
2593 205 4 ORtg Last Month    51.25
Name: 2593, dtype: object
2594 517 5 ORtg Last Month    103.4
Name: 2594, dtype: object
2595 675 6 ORtg Last Month    112.5
Name: 2595, dtype: object
2596 336 6 ORtg Last Month    56
Name: 2596, dtype: object
2597 698 7 ORtg Last Month    99.7143
Name: 2597, dtype: object
2598 570 7 ORtg Last Month    81.4286
Name: 2598, dtype: object
2599 710 7 ORtg Last Month    101.429
Name: 2599, dtype: object
2600 731 7 ORtg Last Month    104.429
Name: 2600, dtype: object
2601 544 7 ORtg Last Month    77.7143
Name: 2601, dtype: object
2602 0 1 ORtg Last Month    0
Name: 2602, dtype: object
2603 568 7 ORtg Last Month    81.1429
Name: 2603, dtype: object
2604 567 7 ORtg Last Month    81
Name: 2604, dtype: object
2605 24 6 ORtg Last Month    4
Name: 2605, dtype: object
2606 932 7 ORtg Last Month    133.143
Name: 2606, dtype: object
2607 791 7 ORtg Last Month    113
Name: 2607, dtype: object
2608 750 7 ORtg Last Month    107.143
Name: 2608, dtype: object
2609 367 4 ORtg Last Month    91.75
Name: 2609, dtype: object
2610 0 1 ORtg Last Month    0
Name: 2610, dtype: object
2611 472 4 ORtg Last Month    118
Name: 2611, dtype: object
2612 663 5 ORtg Last Month    132.6
Name: 2612, dtype: object
2613 548 6 ORtg Last Month    91.3333
Name: 2613, dtype: object
2614 655 6 ORtg Last Month    109.167
Name: 2614, dtype: object
2615 526 6 ORtg Last Month    87.6667
Name: 2615, dtype: object
2616 371 6 ORtg Last Month    61.8333
Name: 2616, dtype: object
2617 342 6 ORtg Last Month    57
Name: 2617, dtype: object
2618 805 6 ORtg Last Month    134.167
Name: 2618, dtype: object
2619 615 6 ORtg Last Month    102.5
Name: 2619, dtype: object
2620 632 6 ORtg Last Month    105.333
Name: 2620, dtype: object
2621 174 6 ORtg Last Month    29
Name: 2621, dtype: object
2622 685 6 ORtg Last Month    114.167
Name: 2622, dtype: object
2623 575 6 ORtg Last Month    95.8333
Name: 2623, dtype: object
2624 706 6 ORtg Last Month    117.667
Name: 2624, dtype: object
2625 648 6 ORtg Last Month    108
Name: 2625, dtype: object
2626 634 6 ORtg Last Month    105.667
Name: 2626, dtype: object
2627 399 6 ORtg Last Month    66.5
Name: 2627, dtype: object
2628 632 6 ORtg Last Month    105.333
Name: 2628, dtype: object
2629 143 6 ORtg Last Month    23.8333
Name: 2629, dtype: object
2630 783 6 ORtg Last Month    130.5
Name: 2630, dtype: object
2631 645 6 ORtg Last Month    107.5
Name: 2631, dtype: object
2632 772 6 ORtg Last Month    128.667
Name: 2632, dtype: object
2633 457 6 ORtg Last Month    76.1667
Name: 2633, dtype: object
2634 657 6 ORtg Last Month    109.5
Name: 2634, dtype: object
2635 640 6 ORtg Last Month    106.667
Name: 2635, dtype: object
2636 544 6 ORtg Last Month    90.6667
Name: 2636, dtype: object
2637 516 6 ORtg Last Month    86
Name: 2637, dtype: object
2638 775 6 ORtg Last Month    129.167
Name: 2638, dtype: object
2639 625 6 ORtg Last Month    104.167
Name: 2639, dtype: object
2640 418 6 ORtg Last Month    69.6667
Name: 2640, dtype: object
2641 678 6 ORtg Last Month    113
Name: 2641, dtype: object
2642 0 3 ORtg Last Month    0
Name: 2642, dtype: object
2643 782 6 ORtg Last Month    130.333
Name: 2643, dtype: object
2644 498 5 ORtg Last Month    99.6
Name: 2644, dtype: object
2645 580 6 ORtg Last Month    96.6667
Name: 2645, dtype: object
2646 746 7 ORtg Last Month    106.571
Name: 2646, dtype: object
2647 559 7 ORtg Last Month    79.8571
Name: 2647, dtype: object
2648 587 7 ORtg Last Month    83.8571
Name: 2648, dtype: object

2649 722 7 ORtg Last Month    103.143
Name: 2649, dtype: object
2650 703 7 ORtg Last Month    100.429
Name: 2650, dtype: object
2651 651 7 ORtg Last Month    93
Name: 2651, dtype: object
2652 470 4 ORtg Last Month    117.5
Name: 2652, dtype: object
2653 613 6 ORtg Last Month    102.167
Name: 2653, dtype: object
2654 748 7 ORtg Last Month    106.857
Name: 2654, dtype: object
2655 447 4 ORtg Last Month    111.75
Name: 2655, dtype: object
2656 688 7 ORtg Last Month    98.2857
Name: 2656, dtype: object
2657 686 7 ORtg Last Month    98
Name: 2657, dtype: object
2658 737 7 ORtg Last Month    105.286
Name: 2658, dtype: object
2659 685 7 ORtg Last Month    97.8571
Name: 2659, dtype: object
2660 283 7 ORtg Last Month    40.4286
Name: 2660, dtype: object
2661 534 6 ORtg Last Month    89
Name: 2661, dtype: object
2662 772 7 ORtg Last Month    110.286
Name: 2662, dtype: object
2663 687 7 ORtg Last Month    98.1429
Name: 2663, dtype: object
2664 178 7 ORtg Last Month    25.4286
Name: 2664, dtype: object
2665 358 7 ORtg Last Month    51.1429
Name: 2665, dtype: object
2666 696 7 ORtg Last Month    99.4286
Name: 2666, dtype: object
2667 522 4 ORtg Last Month    130.5
Name: 2667, dtype: object
2668 218 5 ORtg Last Month    43.6
Name: 2668, dtype: object
2669 1010 8 ORtg Last Month    126.25
Name: 2669, dtype: object
2670 841 8 ORtg Last Month    105.125
Name: 2670, dtype: object
2671 673 7 ORtg Last Month    96.1429
Name: 2671, dtype: object
2672 251 5 ORtg Last Month    50.2
Name: 2672, dtype: object
2673 872 8 ORtg Last Month    109
Name: 2673, dtype: object
2674 915 8 ORtg Last Month    114.375
Name: 2674, dtype: object
2675 1018 8 ORtg Last Month    127.25
Name: 2675, dtype: object
2676 743 8 ORtg Last Month    92.875
Name: 2676, dtype: object
2677 751 8 ORtg Last Month    93.875
Name: 2677, dtype: object
2678 1174 8 ORtg Last Month    146.75
Name: 2678, dtype: object
2679 474 7 ORtg Last Month    67.7143
Name: 2679, dtype: object
2680 247 8 ORtg Last Month    30.875
Name: 2680, dtype: object
2681 804 7 ORtg Last Month    114.857
Name: 2681, dtype: object
2682 756 7 ORtg Last Month    108
Name: 2682, dtype: object
2683 879 7 ORtg Last Month    125.571
Name: 2683, dtype: object
2684 380 6 ORtg Last Month    63.3333
Name: 2684, dtype: object
2685 796 7 ORtg Last Month    113.714
Name: 2685, dtype: object
2686 619 7 ORtg Last Month    88.4286
Name: 2686, dtype: object
2687 856 7 ORtg Last Month    122.286
Name: 2687, dtype: object
2688 410 6 ORtg Last Month    68.3333
Name: 2688, dtype: object
2689 541 7 ORtg Last Month    77.2857
Name: 2689, dtype: object
2690 755 7 ORtg Last Month    107.857
Name: 2690, dtype: object
2691 645 5 ORtg Last Month    129
Name: 2691, dtype: object
2692 732 7 ORtg Last Month    104.571
Name: 2692, dtype: object
2693 131 5 ORtg Last Month    26.2
Name: 2693, dtype: object
2694 838 7 ORtg Last Month    119.714
Name: 2694, dtype: object
2695 670 7 ORtg Last Month    95.7143
Name: 2695, dtype: object
2696 729 7 ORtg Last Month    104.143
Name: 2696, dtype: object
2697 754 7 ORtg Last Month    107.714
Name: 2697, dtype: object
2698 208 5 ORtg Last Month    41.6
Name: 2698, dtype: object
2699 814 7 ORtg Last Month    116.286
Name: 2699, dtype: object
2700 595 7 ORtg Last Month    85
Name: 2700, dtype: object
2701 552 7 ORtg Last Month    78.8571
Name: 2701, dtype: object
2702 45 7 ORtg Last Month    6.42857
Name: 2702, dtype: object
2703 744 7 ORtg Last Month    106.286
Name: 2703, dtype: object
2704 728 7 ORtg Last Month    104
Name: 2704, dtype: object
2705 958 7 ORtg Last Month    136.857
Name: 2705, dtype: object
2706 669 7 ORtg Last Month    95.5714
Name: 2706, dtype: object
2707 759 7 ORtg Last Month    108.429
Name: 2707, dtype: object
2708 584 7 ORtg Last Month    83.4286
Name: 2708, dtype: object
2709 454 6 ORtg Last Month    75.6667
Name: 2709, dtype: object
2710 381 7 ORtg Last Month    54.4286
Name: 2710, dtype: object
2711 406 4 ORtg Last Month    101.5
Name: 2711, dtype: object
2712 795 7 ORtg Last Month    113.571
Name: 2712, dtype: object
2713 906 7 ORtg Last Month    129.429
Name: 2713, dtype: object
2714 1095 7 ORtg Last Month    156.429
Name: 2714, dtype: object
2715 851 7 ORtg Last Month    121.571
Name: 2715, dtype: object
2716 778 7 ORtg Last Month    111.143
Name: 2716, dtype: object
2717 752 7 ORtg Last Month    107.429
Name: 2717, dtype: object
2718 822 7 ORtg Last Month    117.429
Name: 2718, dtype: object
2719 854 7 ORtg Last Month    122
Name: 2719, dtype: object
2720 728 7 ORtg Last Month    104
Name: 2720, dtype: object
2721 183 7 ORtg Last Month    26.1429
Name: 2721, dtype: object
2722 98 6 ORtg Last Month    16.3333
Name: 2722, dtype: object
2723 636 6 ORtg Last Month    106
Name: 2723, dtype: object
2724 877 7 ORtg Last Month    125.286
Name: 2724, dtype: object
2725 937 7 ORtg Last Month    133.857
Name: 2725, dtype: object
2726 477 7 ORtg Last Month    68.1429
Name: 2726, dtype: object
2727 825 7 ORtg Last Month    117.857
Name: 2727, dtype: object
2728 832 7 ORtg Last Month    118.857
Name: 2728, dtype: object
2729 708 7 ORtg Last Month    101.143
Name: 2729, dtype: object
2730 373 5 ORtg Last Month    74.6
Name: 2730, dtype: object
2731 757 7 ORtg Last Month    108.143
Name: 2731, dtype: object
2732 524 6 ORtg Last Month    87.3333
Name: 2732, dtype: object
2733 564 7 ORtg Last Month    80.5714
Name: 2733, dtype: object
2734 472 7 ORtg Last Month    67.4286
Name: 2734, dtype: object
2735 872 7 ORtg Last Month    124.571
Name: 2735, dtype: object
2736 824 7 ORtg Last Month    117.714
Name: 2736, dtype: object
2737 300 5 ORtg Last Month    60
Name: 2737, dtype: object
2738 0 4 ORtg Last Month    0
Name: 2738, dtype: object
2739 686 7 ORtg Last Month    98
Name: 2739, dtype: object
2740 205 5 ORtg Last Month    41
Name: 2740, dtype: object
2741 779 7 ORtg Last Month    111.286
Name: 2741, dtype: object
2742 336 7 ORtg Last Month    48
Name: 2742, dtype: object
2743 628 6 ORtg Last Month    104.667
Name: 2743, dtype: object
2744 408 4 ORtg Last Month    102
Name: 2744, dtype: object
2745 565 6 ORtg Last Month    94.1667
Name: 2745, dtype: object
2746 547 5 ORtg Last Month    109.4
Name: 2746, dtype: object
2747 179 6 ORtg Last Month    29.8333
Name: 2747, dtype: object
2748 641 6 ORtg Last Month    106.833
Name: 2748, dtype: object
2749 543 6 ORtg Last Month    90.5
Name: 2749, dtype: object
2750 569 6 ORtg Last Month    94.8333
Name: 2750, dtype: object
2751 528 6 ORtg Last Month    88
Name: 2751, dtype: object
2752 0 4 ORtg Last Month    0
Name: 2752, dtype: object
2753 588 5 ORtg Last Month    117.6
Name: 2753, dtype: object
2754 869 6 ORtg Last Month    144.833
Name: 2754, dtype: object
2755 741 6 ORtg Last Month    123.5
Name: 2755, dtype: object
2756 807 7 ORtg Last Month    115.286
Name: 2756, dtype: object
2757 757 8 ORtg Last Month    94.625
Name: 2757, dtype: object
2758 777 8 ORtg Last Month    97.125
Name: 2758, dtype: object
2759 194 8 ORtg Last Month    24.25
Name: 2759, dtype: object
2760 1164 8 ORtg Last Month    145.5
Name: 2760, dtype: object
2761 839 8 ORtg Last Month    104.875
Name: 2761, dtype: object
2762 890 8 ORtg Last Month    111.25
Name: 2762, dtype: object
2763 732 8 ORtg Last Month    91.5
Name: 2763, dtype: object
2764 215 8 ORtg Last Month    26.875
Name: 2764, dtype: object
2765 935 8 ORtg Last Month    116.875
Name: 2765, dtype: object
2766 654 5 ORtg Last Month    130.8
Name: 2766, dtype: object
2767 1252 8 ORtg Last Month    156.5
Name: 2767, dtype: object
2768 879 7 ORtg Last Month    125.571
Name: 2768, dtype: object
2769 717 7 ORtg Last Month    102.429
Name: 2769, dtype: object
2770 0 2 ORtg Last Month    0
Name: 2770, dtype: object
2771 0 7 ORtg Last Month    0
Name: 2771, dtype: object
2772 730 7 ORtg Last Month    104.286
Name: 2772, dtype: object
2773 789 7 ORtg Last Month    112.714
Name: 2773, dtype: object
2774 910 7 ORtg Last Month    130
Name: 2774, dtype: object
2775 812 7 ORtg Last Month    116
Name: 2775, dtype: object
2776 165 7 ORtg Last Month    23.5714
Name: 2776, dtype: object
2777 960 7 ORtg Last Month    137.143
Name: 2777, dtype: object
2778 724 7 ORtg Last Month    103.429
Name: 2778, dtype: object
2779 434 7 ORtg Last Month    62
Name: 2779, dtype: object

2780 831 8 ORtg Last Month    103.875
Name: 2780, dtype: object
2781 750 8 ORtg Last Month    93.75
Name: 2781, dtype: object
2782 883 8 ORtg Last Month    110.375
Name: 2782, dtype: object
2783 1067 8 ORtg Last Month    133.375
Name: 2783, dtype: object
2784 844 8 ORtg Last Month    105.5
Name: 2784, dtype: object
2785 693 6 ORtg Last Month    115.5
Name: 2785, dtype: object
2786 761 8 ORtg Last Month    95.125
Name: 2786, dtype: object
2787 394 8 ORtg Last Month    49.25
Name: 2787, dtype: object
2788 391 8 ORtg Last Month    48.875
Name: 2788, dtype: object
2789 977 8 ORtg Last Month    122.125
Name: 2789, dtype: object
2790 292 2 ORtg Last Month    146
Name: 2790, dtype: object
2791 217 7 ORtg Last Month    31
Name: 2791, dtype: object
2792 805 8 ORtg Last Month    100.625
Name: 2792, dtype: object
2793 910 8 ORtg Last Month    113.75
Name: 2793, dtype: object
2794 474 5 ORtg Last Month    94.8
Name: 2794, dtype: object
2795 851 8 ORtg Last Month    106.375
Name: 2795, dtype: object
2796 913 8 ORtg Last Month    114.125
Name: 2796, dtype: object
2797 548 7 ORtg Last Month    78.2857
Name: 2797, dtype: object
2798 988 8 ORtg Last Month    123.5
Name: 2798, dtype: object
2799 307 3 ORtg Last Month    102.333
Name: 2799, dtype: object
2800 90 7 ORtg Last Month    12.8571
Name: 2800, dtype: object
2801 938 8 ORtg Last Month    117.25
Name: 2801, dtype: object
2802 1080 8 ORtg Last Month    135
Name: 2802, dtype: object
2803 426 5 ORtg Last Month    85.2
Name: 2803, dtype: object
2804 400 6 ORtg Last Month    66.6667
Name: 2804, dtype: object
2805 888 8 ORtg Last Month    111
Name: 2805, dtype: object
2806 946 8 ORtg Last Month    118.25
Name: 2806, dtype: object
2807 827 8 ORtg Last Month    103.375
Name: 2807, dtype: object
2808 987 8 ORtg Last Month    123.375
Name: 2808, dtype: object
2809 552 8 ORtg Last Month    69
Name: 2809, dtype: object
2810 955 8 ORtg Last Month    119.375
Name: 2810, dtype: object
2811 775 8 ORtg Last Month    96.875
Name: 2811, dtype: object
2812 567 7 ORtg Last Month    81
Name: 2812, dtype: object
2813 227 8 ORtg Last Month    28.375
Name: 2813, dtype: object
2814 833 8 ORtg Last Month    104.125
Name: 2814, dtype: object
2815 841 8 ORtg Last Month    105.125
Name: 2815, dtype: object
2816 947 8 ORtg Last Month    118.375
Name: 2816, dtype: object
2817 356 4 ORtg Last Month    89
Name: 2817, dtype: object
2818 915 8 ORtg Last Month    114.375
Name: 2818, dtype: object
2819 206 8 ORtg Last Month    25.75
Name: 2819, dtype: object
2820 998 8 ORtg Last Month    124.75
Name: 2820, dtype: object
2821 950 8 ORtg Last Month    118.75
Name: 2821, dtype: object
2822 0 8 ORtg Last Month    0
Name: 2822, dtype: object
2823 1236 9 ORtg Last Month    137.333
Name: 2823, dtype: object
2824 889 9 ORtg Last Month    98.7778
Name: 2824, dtype: object
2825 398 8 ORtg Last Month    49.75
Name: 2825, dtype: object
2826 1159 9 ORtg Last Month    128.778
Name: 2826, dtype: object
2827 995 8 ORtg Last Month    124.375
Name: 2827, dtype: object
2828 784 9 ORtg Last Month    87.1111
Name: 2828, dtype: object
2829 1093 9 ORtg Last Month    121.444
Name: 2829, dtype: object
2830 991 9 ORtg Last Month    110.111
Name: 2830, dtype: object
2831 998 9 ORtg Last Month    110.889
Name: 2831, dtype: object
2832 1281 9 ORtg Last Month    142.333
Name: 2832, dtype: object
2833 1259 9 ORtg Last Month    139.889
Name: 2833, dtype: object
2834 458 4 ORtg Last Month    114.5
Name: 2834, dtype: object
2835 474 6 ORtg Last Month    79
Name: 2835, dtype: object
2836 568 6 ORtg Last Month    94.6667
Name: 2836, dtype: object
2837 527 6 ORtg Last Month    87.8333
Name: 2837, dtype: object
2838 675 6 ORtg Last Month    112.5
Name: 2838, dtype: object
2839 572 6 ORtg Last Month    95.3333
Name: 2839, dtype: object
2840 338 3 ORtg Last Month    112.667
Name: 2840, dtype: object
2841 306 6 ORtg Last Month    51
Name: 2841, dtype: object
2842 259 6 ORtg Last Month    43.1667
Name: 2842, dtype: object
2843 663 6 ORtg Last Month    110.5
Name: 2843, dtype: object
2844 67 1 ORtg Last Month    67
Name: 2844, dtype: object
2845 880 8 ORtg Last Month    110
Name: 2845, dtype: object
2846 867 8 ORtg Last Month    108.375
Name: 2846, dtype: object
2847 880 8 ORtg Last Month    110
Name: 2847, dtype: object
2848 216 8 ORtg Last Month    27
Name: 2848, dtype: object
2849 479 8 ORtg Last Month    59.875
Name: 2849, dtype: object
2850 903 8 ORtg Last Month    112.875
Name: 2850, dtype: object
2851 671 7 ORtg Last Month    95.8571
Name: 2851, dtype: object
2852 843 8 ORtg Last Month    105.375
Name: 2852, dtype: object
2853 981 8 ORtg Last Month    122.625
Name: 2853, dtype: object
2854 880 8 ORtg Last Month    110
Name: 2854, dtype: object
2855 881 7 ORtg Last Month    125.857
Name: 2855, dtype: object
2856 604 8 ORtg Last Month    75.5
Name: 2856, dtype: object
2857 489 7 ORtg Last Month    69.8571
Name: 2857, dtype: object
2858 737 8 ORtg Last Month    92.125
Name: 2858, dtype: object
2859 845 8 ORtg Last Month    105.625
Name: 2859, dtype: object
2860 626 8 ORtg Last Month    78.25
Name: 2860, dtype: object
2861 381 8 ORtg Last Month    47.625
Name: 2861, dtype: object
2862 406 5 ORtg Last Month    81.2
Name: 2862, dtype: object
2863 932 8 ORtg Last Month    116.5
Name: 2863, dtype: object
2864 1041 8 ORtg Last Month    130.125
Name: 2864, dtype: object
2865 1221 8 ORtg Last Month    152.625
Name: 2865, dtype: object
2866 909 8 ORtg Last Month    113.625
Name: 2866, dtype: object
2867 975 8 ORtg Last Month    121.875
Name: 2867, dtype: object
2868 790 8 ORtg Last Month    98.75
Name: 2868, dtype: object
2869 655 6 ORtg Last Month    109.167
Name: 2869, dtype: object
2870 740 6 ORtg Last Month    123.333
Name: 2870, dtype: object
2871 504 6 ORtg Last Month    84
Name: 2871, dtype: object
2872 636 6 ORtg Last Month    106
Name: 2872, dtype: object
2873 339 6 ORtg Last Month    56.5
Name: 2873, dtype: object
2874 679 6 ORtg Last Month    113.167
Name: 2874, dtype: object
2875 614 6 ORtg Last Month    102.333
Name: 2875, dtype: object
2876 512 6 ORtg Last Month    85.3333
Name: 2876, dtype: object
2877 631 6 ORtg Last Month    105.167
Name: 2877, dtype: object
2878 169 5 ORtg Last Month    33.8
Name: 2878, dtype: object
2879 213 4 ORtg Last Month    53.25
Name: 2879, dtype: object
2880 672 6 ORtg Last Month    112
Name: 2880, dtype: object
2881 745 7 ORtg Last Month    106.429
Name: 2881, dtype: object
2882 574 8 ORtg Last Month    71.75
Name: 2882, dtype: object
2883 896 8 ORtg Last Month    112
Name: 2883, dtype: object
2884 520 5 ORtg Last Month    104
Name: 2884, dtype: object
2885 745 6 ORtg Last Month    124.167
Name: 2885, dtype: object
2886 983 8 ORtg Last Month    122.875
Name: 2886, dtype: object
2887 918 8 ORtg Last Month    114.75
Name: 2887, dtype: object
2888 148 8 ORtg Last Month    18.5
Name: 2888, dtype: object
2889 78 8 ORtg Last Month    9.75
Name: 2889, dtype: object
2890 366 5 ORtg Last Month    73.2
Name: 2890, dtype: object
2891 883 8 ORtg Last Month    110.375
Name: 2891, dtype: object
2892 934 8 ORtg Last Month    116.75
Name: 2892, dtype: object
2893 896 8 ORtg Last Month    112
Name: 2893, dtype: object
2894 690 8 ORtg Last Month    86.25
Name: 2894, dtype: object
2895 787 8 ORtg Last Month    98.375
Name: 2895, dtype: object
2896 0 2 ORtg Last Month    0
Name: 2896, dtype: object
2897 854 8 ORtg Last Month    106.75
Name: 2897, dtype: object
2898 544 8 ORtg Last Month    68
Name: 2898, dtype: object
2899 643 8 ORtg Last Month    80.375
Name: 2899, dtype: object
2900 616 8 ORtg Last Month    77
Name: 2900, dtype: object
2901 24 7 ORtg Last Month    3.42857
Name: 2901, dtype: object
2902 769 8 ORtg Last Month    96.125
Name: 2902, dtype: object
2903 868 8 ORtg Last Month    108.5
Name: 2903, dtype: object
2904 1046 8 ORtg Last Month    130.75
Name: 2904, dtype: object
2905 521 5 ORtg Last Month    104.2
Name: 2905, dtype: object
2906 723 7 ORtg Last Month    103.286
Name: 2906, dtype: object
2907 707 6 ORtg Last Month    117.833
Name: 2907, dtype: object
2908 179 7 ORtg Last Month    25.5714
Name: 2908, dtype: object
2909 699 7 ORtg Last Month    99.8571
Name: 2909, dtype: object
2910 703 7 ORtg Last Month    100.429
Name: 2910, dtype: object

2911 659 7 ORtg Last Month    94.1429
Name: 2911, dtype: object
2912 553 7 ORtg Last Month    79
Name: 2912, dtype: object
2913 0 5 ORtg Last Month    0
Name: 2913, dtype: object
2914 685 6 ORtg Last Month    114.167
Name: 2914, dtype: object
2915 1072 7 ORtg Last Month    153.143
Name: 2915, dtype: object
2916 741 7 ORtg Last Month    105.857
Name: 2916, dtype: object
2917 774 7 ORtg Last Month    110.571
Name: 2917, dtype: object
2918 513 7 ORtg Last Month    73.2857
Name: 2918, dtype: object
2919 287 7 ORtg Last Month    41
Name: 2919, dtype: object
2920 674 7 ORtg Last Month    96.2857
Name: 2920, dtype: object
2921 587 7 ORtg Last Month    83.8571
Name: 2921, dtype: object
2922 656 7 ORtg Last Month    93.7143
Name: 2922, dtype: object
2923 70 7 ORtg Last Month    10
Name: 2923, dtype: object
2924 649 7 ORtg Last Month    92.7143
Name: 2924, dtype: object
2925 0 1 ORtg Last Month    0
Name: 2925, dtype: object
2926 830 7 ORtg Last Month    118.571
Name: 2926, dtype: object
2927 704 7 ORtg Last Month    100.571
Name: 2927, dtype: object
2928 195 7 ORtg Last Month    27.8571
Name: 2928, dtype: object
2929 446 4 ORtg Last Month    111.5
Name: 2929, dtype: object
2930 520 6 ORtg Last Month    86.6667
Name: 2930, dtype: object
2931 449 5 ORtg Last Month    89.8
Name: 2931, dtype: object
2932 687 6 ORtg Last Month    114.5
Name: 2932, dtype: object
2933 670 7 ORtg Last Month    95.7143
Name: 2933, dtype: object
2934 431 7 ORtg Last Month    61.5714
Name: 2934, dtype: object
2935 770 7 ORtg Last Month    110
Name: 2935, dtype: object
2936 662 7 ORtg Last Month    94.5714
Name: 2936, dtype: object
2937 411 7 ORtg Last Month    58.7143
Name: 2937, dtype: object
2938 890 7 ORtg Last Month    127.143
Name: 2938, dtype: object
2939 632 7 ORtg Last Month    90.2857
Name: 2939, dtype: object
2940 174 7 ORtg Last Month    24.8571
Name: 2940, dtype: object
2941 660 7 ORtg Last Month    94.2857
Name: 2941, dtype: object
2942 1086 8 ORtg Last Month    135.75
Name: 2942, dtype: object
2943 436 4 ORtg Last Month    109
Name: 2943, dtype: object
2944 177 3 ORtg Last Month    59
Name: 2944, dtype: object
2945 662 8 ORtg Last Month    82.75
Name: 2945, dtype: object
2946 754 6 ORtg Last Month    125.667
Name: 2946, dtype: object
2947 920 8 ORtg Last Month    115
Name: 2947, dtype: object
2948 620 8 ORtg Last Month    77.5
Name: 2948, dtype: object
2949 988 8 ORtg Last Month    123.5
Name: 2949, dtype: object
2950 960 8 ORtg Last Month    120
Name: 2950, dtype: object
2951 523 5 ORtg Last Month    104.6
Name: 2951, dtype: object
2952 993 8 ORtg Last Month    124.125
Name: 2952, dtype: object
2953 868 8 ORtg Last Month    108.5
Name: 2953, dtype: object
2954 162 8 ORtg Last Month    20.25
Name: 2954, dtype: object
2955 610 7 ORtg Last Month    87.1429
Name: 2955, dtype: object
2956 620 7 ORtg Last Month    88.5714
Name: 2956, dtype: object
2957 791 7 ORtg Last Month    113
Name: 2957, dtype: object
2958 909 7 ORtg Last Month    129.857
Name: 2958, dtype: object
2959 723 7 ORtg Last Month    103.286
Name: 2959, dtype: object
2960 820 7 ORtg Last Month    117.143
Name: 2960, dtype: object
2961 543 7 ORtg Last Month    77.5714
Name: 2961, dtype: object
2962 0 4 ORtg Last Month    0
Name: 2962, dtype: object
2963 925 7 ORtg Last Month    132.143
Name: 2963, dtype: object
2964 627 6 ORtg Last Month    104.5
Name: 2964, dtype: object
2965 702 7 ORtg Last Month    100.286
Name: 2965, dtype: object
2966 767 7 ORtg Last Month    109.571
Name: 2966, dtype: object
2967 704 7 ORtg Last Month    100.571
Name: 2967, dtype: object
2968 827 7 ORtg Last Month    118.143
Name: 2968, dtype: object
2969 636 7 ORtg Last Month    90.8571
Name: 2969, dtype: object
2970 765 7 ORtg Last Month    109.286
Name: 2970, dtype: object
2971 713 7 ORtg Last Month    101.857
Name: 2971, dtype: object
2972 591 6 ORtg Last Month    98.5
Name: 2972, dtype: object
2973 674 7 ORtg Last Month    96.2857
Name: 2973, dtype: object
2974 0 0 ORtg Last Month    0
Name: 2974, dtype: object
2975 545 7 ORtg Last Month    77.8571
Name: 2975, dtype: object
2976 614 7 ORtg Last Month    87.7143
Name: 2976, dtype: object
2977 211 7 ORtg Last Month    30.1429
Name: 2977, dtype: object
2978 826 8 ORtg Last Month    103.25
Name: 2978, dtype: object
2979 1003 8 ORtg Last Month    125.375
Name: 2979, dtype: object
2980 793 8 ORtg Last Month    99.125
Name: 2980, dtype: object
2981 667 8 ORtg Last Month    83.375
Name: 2981, dtype: object
2982 691 8 ORtg Last Month    86.375
Name: 2982, dtype: object
2983 730 7 ORtg Last Month    104.286
Name: 2983, dtype: object
2984 780 8 ORtg Last Month    97.5
Name: 2984, dtype: object
2985 604 5 ORtg Last Month    120.8
Name: 2985, dtype: object
2986 607 5 ORtg Last Month    121.4
Name: 2986, dtype: object
2987 852 8 ORtg Last Month    106.5
Name: 2987, dtype: object
2988 688 8 ORtg Last Month    86
Name: 2988, dtype: object
2989 817 8 ORtg Last Month    102.125
Name: 2989, dtype: object
2990 740 8 ORtg Last Month    92.5
Name: 2990, dtype: object
2991 812 8 ORtg Last Month    101.5
Name: 2991, dtype: object
2992 283 8 ORtg Last Month    35.375
Name: 2992, dtype: object
2993 893 8 ORtg Last Month    111.625
Name: 2993, dtype: object
2994 804 8 ORtg Last Month    100.5
Name: 2994, dtype: object
2995 628 7 ORtg Last Month    89.7143
Name: 2995, dtype: object
2996 684 7 ORtg Last Month    97.7143
Name: 2996, dtype: object
2997 358 8 ORtg Last Month    44.75
Name: 2997, dtype: object
2998 327 8 ORtg Last Month    40.875
Name: 2998, dtype: object
2999 811 8 ORtg Last Month    101.375
Name: 2999, dtype: object
3000 617 5 ORtg Last Month    123.4
Name: 3000, dtype: object
3001 218 6 ORtg Last Month    36.3333
Name: 3001, dtype: object
3002 974 9 ORtg Last Month    108.222
Name: 3002, dtype: object
3003 661 9 ORtg Last Month    73.4444
Name: 3003, dtype: object
3004 952 9 ORtg Last Month    105.778
Name: 3004, dtype: object
3005 1142 9 ORtg Last Month    126.889
Name: 3005, dtype: object
3006 1083 9 ORtg Last Month    120.333
Name: 3006, dtype: object
3007 462 6 ORtg Last Month    77
Name: 3007, dtype: object
3008 1076 9 ORtg Last Month    119.556
Name: 3008, dtype: object
3009 849 9 ORtg Last Month    94.3333
Name: 3009, dtype: object
3010 677 8 ORtg Last Month    84.625
Name: 3010, dtype: object
3011 458 9 ORtg Last Month    50.8889
Name: 3011, dtype: object
3012 1129 9 ORtg Last Month    125.444
Name: 3012, dtype: object
3013 947 9 ORtg Last Month    105.222
Name: 3013, dtype: object
3014 795 8 ORtg Last Month    99.375
Name: 3014, dtype: object
3015 251 6 ORtg Last Month    41.8333
Name: 3015, dtype: object
3016 1026 9 ORtg Last Month    114
Name: 3016, dtype: object
3017 968 9 ORtg Last Month    107.556
Name: 3017, dtype: object
3018 1108 9 ORtg Last Month    123.111
Name: 3018, dtype: object
3019 815 9 ORtg Last Month    90.5556
Name: 3019, dtype: object
3020 809 9 ORtg Last Month    89.8889
Name: 3020, dtype: object
3021 1263 9 ORtg Last Month    140.333
Name: 3021, dtype: object
3022 474 8 ORtg Last Month    59.25
Name: 3022, dtype: object
3023 247 9 ORtg Last Month    27.4444
Name: 3023, dtype: object
3024 380 7 ORtg Last Month    54.2857
Name: 3024, dtype: object
3025 929 8 ORtg Last Month    116.125
Name: 3025, dtype: object
3026 841 8 ORtg Last Month    105.125
Name: 3026, dtype: object
3027 998 8 ORtg Last Month    124.75
Name: 3027, dtype: object
3028 708 8 ORtg Last Month    88.5
Name: 3028, dtype: object
3029 563 8 ORtg Last Month    70.375
Name: 3029, dtype: object
3030 894 8 ORtg Last Month    111.75
Name: 3030, dtype: object
3031 926 8 ORtg Last Month    115.75
Name: 3031, dtype: object
3032 634 7 ORtg Last Month    90.5714
Name: 3032, dtype: object
3033 922 8 ORtg Last Month    115.25
Name: 3033, dtype: object
3034 759 6 ORtg Last Month    126.5
Name: 3034, dtype: object
3035 829 8 ORtg Last Month    103.625
Name: 3035, dtype: object
3036 131 6 ORtg Last Month    21.8333
Name: 3036, dtype: object
3037 857 8 ORtg Last Month    107.125
Name: 3037, dtype: object
3038 957 8 ORtg Last Month    119.625
Name: 3038, dtype: object
3039 845 8 ORtg Last Month    105.625
Name: 3039, dtype: object
3040 787 8 ORtg Last Month    98.375
Name: 3040, dtype: object
3041 431 6 ORtg Last Month    71.8333
Name: 3041, dtype: object

3042 691 8 ORtg Last Month    86.375
Name: 3042, dtype: object
3043 972 8 ORtg Last Month    121.5
Name: 3043, dtype: object
3044 694 8 ORtg Last Month    86.75
Name: 3044, dtype: object
3045 167 8 ORtg Last Month    20.875
Name: 3045, dtype: object
3046 1046 8 ORtg Last Month    130.75
Name: 3046, dtype: object
3047 910 8 ORtg Last Month    113.75
Name: 3047, dtype: object
3048 865 8 ORtg Last Month    108.125
Name: 3048, dtype: object
3049 793 7 ORtg Last Month    113.286
Name: 3049, dtype: object
3050 723 7 ORtg Last Month    103.286
Name: 3050, dtype: object
3051 899 7 ORtg Last Month    128.429
Name: 3051, dtype: object
3052 227 6 ORtg Last Month    37.8333
Name: 3052, dtype: object
3053 761 7 ORtg Last Month    108.714
Name: 3053, dtype: object
3054 603 7 ORtg Last Month    86.1429
Name: 3054, dtype: object
3055 524 7 ORtg Last Month    74.8571
Name: 3055, dtype: object
3056 392 7 ORtg Last Month    56
Name: 3056, dtype: object
3057 334 7 ORtg Last Month    47.7143
Name: 3057, dtype: object
3058 453 4 ORtg Last Month    113.25
Name: 3058, dtype: object
3059 592 5 ORtg Last Month    118.4
Name: 3059, dtype: object
3060 510 7 ORtg Last Month    72.8571
Name: 3060, dtype: object
3061 737 7 ORtg Last Month    105.286
Name: 3061, dtype: object
3062 393 4 ORtg Last Month    98.25
Name: 3062, dtype: object
3063 259 7 ORtg Last Month    37
Name: 3063, dtype: object
3064 926 7 ORtg Last Month    132.286
Name: 3064, dtype: object
3065 695 7 ORtg Last Month    99.2857
Name: 3065, dtype: object
3066 306 7 ORtg Last Month    43.7143
Name: 3066, dtype: object
3067 637 7 ORtg Last Month    91
Name: 3067, dtype: object
3068 828 7 ORtg Last Month    118.286
Name: 3068, dtype: object
3069 67 2 ORtg Last Month    33.5
Name: 3069, dtype: object
3070 1012 9 ORtg Last Month    112.444
Name: 3070, dtype: object
3071 961 9 ORtg Last Month    106.778
Name: 3071, dtype: object
3072 1010 9 ORtg Last Month    112.222
Name: 3072, dtype: object
3073 216 9 ORtg Last Month    24
Name: 3073, dtype: object
3074 479 9 ORtg Last Month    53.2222
Name: 3074, dtype: object
3075 945 9 ORtg Last Month    105
Name: 3075, dtype: object
3076 770 8 ORtg Last Month    96.25
Name: 3076, dtype: object
3077 1000 9 ORtg Last Month    111.111
Name: 3077, dtype: object
3078 1140 9 ORtg Last Month    126.667
Name: 3078, dtype: object
3079 1005 8 ORtg Last Month    125.625
Name: 3079, dtype: object
3080 998 9 ORtg Last Month    110.889
Name: 3080, dtype: object
3081 604 9 ORtg Last Month    67.1111
Name: 3081, dtype: object
3082 572 5 ORtg Last Month    114.4
Name: 3082, dtype: object
3083 824 8 ORtg Last Month    103
Name: 3083, dtype: object
3084 393 4 ORtg Last Month    98.25
Name: 3084, dtype: object
3085 872 8 ORtg Last Month    109
Name: 3085, dtype: object
3086 941 8 ORtg Last Month    117.625
Name: 3086, dtype: object
3087 276 8 ORtg Last Month    34.5
Name: 3087, dtype: object
3088 961 8 ORtg Last Month    120.125
Name: 3088, dtype: object
3089 891 8 ORtg Last Month    111.375
Name: 3089, dtype: object
3090 718 8 ORtg Last Month    89.75
Name: 3090, dtype: object
3091 622 6 ORtg Last Month    103.667
Name: 3091, dtype: object
3092 982 8 ORtg Last Month    122.75
Name: 3092, dtype: object
3093 176 8 ORtg Last Month    22
Name: 3093, dtype: object
3094 715 7 ORtg Last Month    102.143
Name: 3094, dtype: object
3095 733 7 ORtg Last Month    104.714
Name: 3095, dtype: object
3096 297 4 ORtg Last Month    74.25
Name: 3096, dtype: object
3097 724 7 ORtg Last Month    103.429
Name: 3097, dtype: object
3098 896 7 ORtg Last Month    128
Name: 3098, dtype: object
3099 0 7 ORtg Last Month    0
Name: 3099, dtype: object
3100 388 6 ORtg Last Month    64.6667
Name: 3100, dtype: object
3101 0 7 ORtg Last Month    0
Name: 3101, dtype: object
3102 698 7 ORtg Last Month    99.7143
Name: 3102, dtype: object
3103 784 7 ORtg Last Month    112
Name: 3103, dtype: object
3104 858 7 ORtg Last Month    122.571
Name: 3104, dtype: object
3105 862 8 ORtg Last Month    107.75
Name: 3105, dtype: object
3106 715 8 ORtg Last Month    89.375
Name: 3106, dtype: object
3107 622 7 ORtg Last Month    88.8571
Name: 3107, dtype: object
3108 518 8 ORtg Last Month    64.75
Name: 3108, dtype: object
3109 974 8 ORtg Last Month    121.75
Name: 3109, dtype: object
3110 959 8 ORtg Last Month    119.875
Name: 3110, dtype: object
3111 205 6 ORtg Last Month    34.1667
Name: 3111, dtype: object
3112 396 4 ORtg Last Month    99
Name: 3112, dtype: object
3113 411 6 ORtg Last Month    68.5
Name: 3113, dtype: object
3114 686 8 ORtg Last Month    85.75
Name: 3114, dtype: object
3115 628 7 ORtg Last Month    89.7143
Name: 3115, dtype: object
3116 907 8 ORtg Last Month    113.375
Name: 3116, dtype: object
3117 445 8 ORtg Last Month    55.625
Name: 3117, dtype: object
3118 1048 9 ORtg Last Month    116.444
Name: 3118, dtype: object
3119 938 8 ORtg Last Month    117.25
Name: 3119, dtype: object
3120 995 9 ORtg Last Month    110.556
Name: 3120, dtype: object
3121 753 6 ORtg Last Month    125.5
Name: 3121, dtype: object
3122 877 9 ORtg Last Month    97.4444
Name: 3122, dtype: object
3123 1343 9 ORtg Last Month    149.222
Name: 3123, dtype: object
3124 918 9 ORtg Last Month    102
Name: 3124, dtype: object
3125 806 9 ORtg Last Month    89.5556
Name: 3125, dtype: object
3126 993 9 ORtg Last Month    110.333
Name: 3126, dtype: object
3127 0 0 ORtg Last Month    0
Name: 3127, dtype: object
3128 1006 8 ORtg Last Month    125.75
Name: 3128, dtype: object
3129 897 8 ORtg Last Month    112.125
Name: 3129, dtype: object
3130 0 8 ORtg Last Month    0
Name: 3130, dtype: object
3131 928 8 ORtg Last Month    116
Name: 3131, dtype: object
3132 1093 8 ORtg Last Month    136.625
Name: 3132, dtype: object
3133 850 8 ORtg Last Month    106.25
Name: 3133, dtype: object
3134 1076 8 ORtg Last Month    134.5
Name: 3134, dtype: object
3135 987 8 ORtg Last Month    123.375
Name: 3135, dtype: object
3136 250 8 ORtg Last Month    31.25
Name: 3136, dtype: object
3137 881 8 ORtg Last Month    110.125
Name: 3137, dtype: object
3138 434 8 ORtg Last Month    54.25
Name: 3138, dtype: object
3139 674 7 ORtg Last Month    96.2857
Name: 3139, dtype: object
3140 797 7 ORtg Last Month    113.857
Name: 3140, dtype: object
3141 872 7 ORtg Last Month    124.571
Name: 3141, dtype: object
3142 740 7 ORtg Last Month    105.714
Name: 3142, dtype: object
3143 718 7 ORtg Last Month    102.571
Name: 3143, dtype: object
3144 743 7 ORtg Last Month    106.143
Name: 3144, dtype: object
3145 233 7 ORtg Last Month    33.2857
Name: 3145, dtype: object
3146 540 7 ORtg Last Month    77.1429
Name: 3146, dtype: object
3147 776 7 ORtg Last Month    110.857
Name: 3147, dtype: object
3148 898 7 ORtg Last Month    128.286
Name: 3148, dtype: object
3149 954 7 ORtg Last Month    136.286
Name: 3149, dtype: object
3150 664 7 ORtg Last Month    94.8571
Name: 3150, dtype: object
3151 779 7 ORtg Last Month    111.286
Name: 3151, dtype: object
3152 731 8 ORtg Last Month    91.375
Name: 3152, dtype: object
3153 863 8 ORtg Last Month    107.875
Name: 3153, dtype: object
3154 731 8 ORtg Last Month    91.375
Name: 3154, dtype: object
3155 1064 8 ORtg Last Month    133
Name: 3155, dtype: object
3156 819 8 ORtg Last Month    102.375
Name: 3156, dtype: object
3157 601 8 ORtg Last Month    75.125
Name: 3157, dtype: object
3158 939 8 ORtg Last Month    117.375
Name: 3158, dtype: object
3159 0 5 ORtg Last Month    0
Name: 3159, dtype: object
3160 1038 8 ORtg Last Month    129.75
Name: 3160, dtype: object
3161 767 7 ORtg Last Month    109.571
Name: 3161, dtype: object
3162 702 8 ORtg Last Month    87.75
Name: 3162, dtype: object
3163 899 9 ORtg Last Month    99.8889
Name: 3163, dtype: object
3164 992 9 ORtg Last Month    110.222
Name: 3164, dtype: object
3165 622 6 ORtg Last Month    103.667
Name: 3165, dtype: object
3166 993 9 ORtg Last Month    110.333
Name: 3166, dtype: object
3167 1115 9 ORtg Last Month    123.889
Name: 3167, dtype: object
3168 640 8 ORtg Last Month    80
Name: 3168, dtype: object
3169 1095 9 ORtg Last Month    121.667
Name: 3169, dtype: object
3170 307 4 ORtg Last Month    76.75
Name: 3170, dtype: object
3171 90 8 ORtg Last Month    11.25
Name: 3171, dtype: object
3172 1037 9 ORtg Last Month    115.222
Name: 3172, dtype: object

3173 524 6 ORtg Last Month    87.3333
Name: 3173, dtype: object
3174 1248 9 ORtg Last Month    138.667
Name: 3174, dtype: object
3175 400 7 ORtg Last Month    57.1429
Name: 3175, dtype: object
3176 1007 9 ORtg Last Month    111.889
Name: 3176, dtype: object
3177 449 5 ORtg Last Month    89.8
Name: 3177, dtype: object
3178 1054 9 ORtg Last Month    117.111
Name: 3178, dtype: object
3179 700 6 ORtg Last Month    116.667
Name: 3179, dtype: object
3180 276 9 ORtg Last Month    30.6667
Name: 3180, dtype: object
3181 941 9 ORtg Last Month    104.556
Name: 3181, dtype: object
3182 988 9 ORtg Last Month    109.778
Name: 3182, dtype: object
3183 1076 9 ORtg Last Month    119.556
Name: 3183, dtype: object
3184 846 9 ORtg Last Month    94
Name: 3184, dtype: object
3185 622 7 ORtg Last Month    88.8571
Name: 3185, dtype: object
3186 1099 9 ORtg Last Month    122.111
Name: 3186, dtype: object
3187 307 9 ORtg Last Month    34.1111
Name: 3187, dtype: object
3188 0 1 ORtg Last Month    0
Name: 3188, dtype: object
3189 867 7 ORtg Last Month    123.857
Name: 3189, dtype: object
3190 794 7 ORtg Last Month    113.429
Name: 3190, dtype: object
3191 616 7 ORtg Last Month    88
Name: 3191, dtype: object
3192 613 7 ORtg Last Month    87.5714
Name: 3192, dtype: object
3193 590 7 ORtg Last Month    84.2857
Name: 3193, dtype: object
3194 763 7 ORtg Last Month    109
Name: 3194, dtype: object
3195 788 7 ORtg Last Month    112.571
Name: 3195, dtype: object
3196 717 7 ORtg Last Month    102.429
Name: 3196, dtype: object
3197 796 7 ORtg Last Month    113.714
Name: 3197, dtype: object
3198 292 6 ORtg Last Month    48.6667
Name: 3198, dtype: object
3199 787 7 ORtg Last Month    112.429
Name: 3199, dtype: object
3200 747 7 ORtg Last Month    106.714
Name: 3200, dtype: object
3201 962 8 ORtg Last Month    120.25
Name: 3201, dtype: object
3202 957 8 ORtg Last Month    119.625
Name: 3202, dtype: object
3203 955 8 ORtg Last Month    119.375
Name: 3203, dtype: object
3204 966 8 ORtg Last Month    120.75
Name: 3204, dtype: object
3205 609 8 ORtg Last Month    76.125
Name: 3205, dtype: object
3206 865 8 ORtg Last Month    108.125
Name: 3206, dtype: object
3207 830 8 ORtg Last Month    103.75
Name: 3207, dtype: object
3208 864 8 ORtg Last Month    108
Name: 3208, dtype: object
3209 1082 8 ORtg Last Month    135.25
Name: 3209, dtype: object
3210 98 7 ORtg Last Month    14
Name: 3210, dtype: object
3211 183 8 ORtg Last Month    22.875
Name: 3211, dtype: object
3212 373 6 ORtg Last Month    62.1667
Name: 3212, dtype: object
3213 852 8 ORtg Last Month    106.5
Name: 3213, dtype: object
3214 0 0 ORtg Last Month    0
Name: 3214, dtype: object
3215 675 9 ORtg Last Month    75
Name: 3215, dtype: object
3216 1173 9 ORtg Last Month    130.333
Name: 3216, dtype: object
3217 605 6 ORtg Last Month    100.833
Name: 3217, dtype: object
3218 1111 9 ORtg Last Month    123.444
Name: 3218, dtype: object
3219 1016 9 ORtg Last Month    112.889
Name: 3219, dtype: object
3220 366 6 ORtg Last Month    61
Name: 3220, dtype: object
3221 0 8 ORtg Last Month    0
Name: 3221, dtype: object
3222 78 9 ORtg Last Month    8.66667
Name: 3222, dtype: object
3223 148 9 ORtg Last Month    16.4444
Name: 3223, dtype: object
3224 965 9 ORtg Last Month    107.222
Name: 3224, dtype: object
3225 973 9 ORtg Last Month    108.111
Name: 3225, dtype: object
3226 956 9 ORtg Last Month    106.222
Name: 3226, dtype: object
3227 774 9 ORtg Last Month    86
Name: 3227, dtype: object
3228 874 9 ORtg Last Month    97.1111
Name: 3228, dtype: object
3229 127 3 ORtg Last Month    42.3333
Name: 3229, dtype: object
3230 1036 9 ORtg Last Month    115.111
Name: 3230, dtype: object
3231 544 9 ORtg Last Month    60.4444
Name: 3231, dtype: object
3232 751 9 ORtg Last Month    83.4444
Name: 3232, dtype: object
3233 832 9 ORtg Last Month    92.4444
Name: 3233, dtype: object
3234 24 8 ORtg Last Month    3
Name: 3234, dtype: object
3235 1006 9 ORtg Last Month    111.778
Name: 3235, dtype: object
3236 954 9 ORtg Last Month    106
Name: 3236, dtype: object
3237 1128 9 ORtg Last Month    125.333
Name: 3237, dtype: object
3238 907 8 ORtg Last Month    113.375
Name: 3238, dtype: object
3239 594 8 ORtg Last Month    74.25
Name: 3239, dtype: object
3240 487 8 ORtg Last Month    60.875
Name: 3240, dtype: object
3241 721 8 ORtg Last Month    90.125
Name: 3241, dtype: object
3242 780 8 ORtg Last Month    97.5
Name: 3242, dtype: object
3243 666 8 ORtg Last Month    83.25
Name: 3243, dtype: object
3244 494 6 ORtg Last Month    82.3333
Name: 3244, dtype: object
3245 0 2 ORtg Last Month    0
Name: 3245, dtype: object
3246 70 8 ORtg Last Month    8.75
Name: 3246, dtype: object
3247 933 8 ORtg Last Month    116.625
Name: 3247, dtype: object
3248 828 8 ORtg Last Month    103.5
Name: 3248, dtype: object
3249 308 8 ORtg Last Month    38.5
Name: 3249, dtype: object
3250 1064 9 ORtg Last Month    118.222
Name: 3250, dtype: object
3251 945 10 ORtg Last Month    94.5
Name: 3251, dtype: object
3252 1033 10 ORtg Last Month    103.3
Name: 3252, dtype: object
3253 1164 9 ORtg Last Month    129.333
Name: 3253, dtype: object
3254 194 9 ORtg Last Month    21.5556
Name: 3254, dtype: object
3255 1103 10 ORtg Last Month    110.3
Name: 3255, dtype: object
3256 873 10 ORtg Last Month    87.3
Name: 3256, dtype: object
3257 1073 10 ORtg Last Month    107.3
Name: 3257, dtype: object
3258 215 9 ORtg Last Month    23.8889
Name: 3258, dtype: object
3259 1168 10 ORtg Last Month    116.8
Name: 3259, dtype: object
3260 1472 10 ORtg Last Month    147.2
Name: 3260, dtype: object
3261 843 7 ORtg Last Month    120.429
Name: 3261, dtype: object
3262 538 5 ORtg Last Month    107.6
Name: 3262, dtype: object
3263 664 7 ORtg Last Month    94.8571
Name: 3263, dtype: object
3264 503 6 ORtg Last Month    83.8333
Name: 3264, dtype: object
3265 687 7 ORtg Last Month    98.1429
Name: 3265, dtype: object
3266 52 2 ORtg Last Month    26
Name: 3266, dtype: object
3267 515 5 ORtg Last Month    103
Name: 3267, dtype: object
3268 770 8 ORtg Last Month    96.25
Name: 3268, dtype: object
3269 736 8 ORtg Last Month    92
Name: 3269, dtype: object
3270 549 8 ORtg Last Month    68.625
Name: 3270, dtype: object
3271 411 8 ORtg Last Month    51.375
Name: 3271, dtype: object
3272 1031 8 ORtg Last Month    128.875
Name: 3272, dtype: object
3273 228 8 ORtg Last Month    28.5
Name: 3273, dtype: object
3274 714 8 ORtg Last Month    89.25
Name: 3274, dtype: object
3275 1123 9 ORtg Last Month    124.778
Name: 3275, dtype: object
3276 897 9 ORtg Last Month    99.6667
Name: 3276, dtype: object
3277 0 9 ORtg Last Month    0
Name: 3277, dtype: object
3278 1257 9 ORtg Last Month    139.667
Name: 3278, dtype: object
3279 949 9 ORtg Last Month    105.444
Name: 3279, dtype: object
3280 1013 9 ORtg Last Month    112.556
Name: 3280, dtype: object
3281 1156 9 ORtg Last Month    128.444
Name: 3281, dtype: object
3282 1067 9 ORtg Last Month    118.556
Name: 3282, dtype: object
3283 267 9 ORtg Last Month    29.6667
Name: 3283, dtype: object
3284 983 9 ORtg Last Month    109.222
Name: 3284, dtype: object
3285 478 9 ORtg Last Month    53.1111
Name: 3285, dtype: object
3286 998 9 ORtg Last Month    110.889
Name: 3286, dtype: object
3287 882 9 ORtg Last Month    98
Name: 3287, dtype: object
3288 1010 9 ORtg Last Month    112.222
Name: 3288, dtype: object
3289 995 9 ORtg Last Month    110.556
Name: 3289, dtype: object
3290 432 4 ORtg Last Month    108
Name: 3290, dtype: object
3291 1082 9 ORtg Last Month    120.222
Name: 3291, dtype: object
3292 810 7 ORtg Last Month    115.714
Name: 3292, dtype: object
3293 410 3 ORtg Last Month    136.667
Name: 3293, dtype: object
3294 1189 9 ORtg Last Month    132.111
Name: 3294, dtype: object
3295 511 9 ORtg Last Month    56.7778
Name: 3295, dtype: object
3296 359 8 ORtg Last Month    44.875
Name: 3296, dtype: object
3297 794 9 ORtg Last Month    88.2222
Name: 3297, dtype: object
3298 825 8 ORtg Last Month    103.125
Name: 3298, dtype: object
3299 866 8 ORtg Last Month    108.25
Name: 3299, dtype: object
3300 970 8 ORtg Last Month    121.25
Name: 3300, dtype: object
3301 837 8 ORtg Last Month    104.625
Name: 3301, dtype: object
3302 893 8 ORtg Last Month    111.625
Name: 3302, dtype: object
3303 540 8 ORtg Last Month    67.5
Name: 3303, dtype: object

3304 233 8 ORtg Last Month    29.125
Name: 3304, dtype: object
3305 803 8 ORtg Last Month    100.375
Name: 3305, dtype: object
3306 976 8 ORtg Last Month    122
Name: 3306, dtype: object
3307 890 8 ORtg Last Month    111.25
Name: 3307, dtype: object
3308 1080 8 ORtg Last Month    135
Name: 3308, dtype: object
3309 664 8 ORtg Last Month    83
Name: 3309, dtype: object
3310 349 4 ORtg Last Month    87.25
Name: 3310, dtype: object
3311 1208 9 ORtg Last Month    134.222
Name: 3311, dtype: object
3312 427 4 ORtg Last Month    106.75
Name: 3312, dtype: object
3313 544 5 ORtg Last Month    108.8
Name: 3313, dtype: object
3314 662 9 ORtg Last Month    73.5556
Name: 3314, dtype: object
3315 351 8 ORtg Last Month    43.875
Name: 3315, dtype: object
3316 1072 9 ORtg Last Month    119.111
Name: 3316, dtype: object
3317 1059 9 ORtg Last Month    117.667
Name: 3317, dtype: object
3318 588 6 ORtg Last Month    98
Name: 3318, dtype: object
3319 747 9 ORtg Last Month    83
Name: 3319, dtype: object
3320 1076 9 ORtg Last Month    119.556
Name: 3320, dtype: object
3321 961 9 ORtg Last Month    106.778
Name: 3321, dtype: object
3322 1108 9 ORtg Last Month    123.111
Name: 3322, dtype: object
3323 162 9 ORtg Last Month    18
Name: 3323, dtype: object
3324 803 8 ORtg Last Month    100.375
Name: 3324, dtype: object
3325 883 8 ORtg Last Month    110.375
Name: 3325, dtype: object
3326 636 8 ORtg Last Month    79.5
Name: 3326, dtype: object
3327 943 8 ORtg Last Month    117.875
Name: 3327, dtype: object
3328 78 7 ORtg Last Month    11.1429
Name: 3328, dtype: object
3329 687 7 ORtg Last Month    98.1429
Name: 3329, dtype: object
3330 733 8 ORtg Last Month    91.625
Name: 3330, dtype: object
3331 837 8 ORtg Last Month    104.625
Name: 3331, dtype: object
3332 163 1 ORtg Last Month    163
Name: 3332, dtype: object
3333 673 8 ORtg Last Month    84.125
Name: 3333, dtype: object
3334 693 8 ORtg Last Month    86.625
Name: 3334, dtype: object
3335 211 8 ORtg Last Month    26.375
Name: 3335, dtype: object
3336 931 9 ORtg Last Month    103.444
Name: 3336, dtype: object
3337 827 9 ORtg Last Month    91.8889
Name: 3337, dtype: object
3338 929 9 ORtg Last Month    103.222
Name: 3338, dtype: object
3339 283 9 ORtg Last Month    31.4444
Name: 3339, dtype: object
3340 909 9 ORtg Last Month    101
Name: 3340, dtype: object
3341 706 8 ORtg Last Month    88.25
Name: 3341, dtype: object
3342 751 8 ORtg Last Month    93.875
Name: 3342, dtype: object
3343 1035 9 ORtg Last Month    115
Name: 3343, dtype: object
3344 327 9 ORtg Last Month    36.3333
Name: 3344, dtype: object
3345 358 9 ORtg Last Month    39.7778
Name: 3345, dtype: object
3346 926 9 ORtg Last Month    102.889
Name: 3346, dtype: object
3347 801 6 ORtg Last Month    133.5
Name: 3347, dtype: object
3348 218 7 ORtg Last Month    31.1429
Name: 3348, dtype: object
3349 1068 10 ORtg Last Month    106.8
Name: 3349, dtype: object
3350 1122 10 ORtg Last Month    112.2
Name: 3350, dtype: object
3351 1022 10 ORtg Last Month    102.2
Name: 3351, dtype: object
3352 787 10 ORtg Last Month    78.7
Name: 3352, dtype: object
3353 1236 10 ORtg Last Month    123.6
Name: 3353, dtype: object
3354 462 7 ORtg Last Month    66
Name: 3354, dtype: object
3355 918 10 ORtg Last Month    91.8
Name: 3355, dtype: object
3356 1194 10 ORtg Last Month    119.4
Name: 3356, dtype: object
3357 802 9 ORtg Last Month    89.1111
Name: 3357, dtype: object
3358 458 10 ORtg Last Month    45.8
Name: 3358, dtype: object
3359 1050 9 ORtg Last Month    116.667
Name: 3359, dtype: object
3360 536 8 ORtg Last Month    67
Name: 3360, dtype: object
3361 1019 9 ORtg Last Month    113.222
Name: 3361, dtype: object
3362 913 9 ORtg Last Month    101.444
Name: 3362, dtype: object
3363 814 9 ORtg Last Month    90.4444
Name: 3363, dtype: object
3364 971 9 ORtg Last Month    107.889
Name: 3364, dtype: object
3365 1036 9 ORtg Last Month    115.111
Name: 3365, dtype: object
3366 707 9 ORtg Last Month    78.5556
Name: 3366, dtype: object
3367 762 8 ORtg Last Month    95.25
Name: 3367, dtype: object
3368 1003 9 ORtg Last Month    111.444
Name: 3368, dtype: object
3369 840 7 ORtg Last Month    120
Name: 3369, dtype: object
3370 131 7 ORtg Last Month    18.7143
Name: 3370, dtype: object
3371 919 9 ORtg Last Month    102.111
Name: 3371, dtype: object
3372 962 9 ORtg Last Month    106.889
Name: 3372, dtype: object
3373 1059 9 ORtg Last Month    117.667
Name: 3373, dtype: object
3374 909 9 ORtg Last Month    101
Name: 3374, dtype: object
3375 967 9 ORtg Last Month    107.444
Name: 3375, dtype: object
3376 631 7 ORtg Last Month    90.1429
Name: 3376, dtype: object
3377 787 9 ORtg Last Month    87.4444
Name: 3377, dtype: object
3378 1094 9 ORtg Last Month    121.556
Name: 3378, dtype: object
3379 767 9 ORtg Last Month    85.2222
Name: 3379, dtype: object
3380 167 9 ORtg Last Month    18.5556
Name: 3380, dtype: object
3381 1150 9 ORtg Last Month    127.778
Name: 3381, dtype: object
3382 1012 9 ORtg Last Month    112.444
Name: 3382, dtype: object
3383 950 9 ORtg Last Month    105.556
Name: 3383, dtype: object
3384 723 8 ORtg Last Month    90.375
Name: 3384, dtype: object
3385 841 8 ORtg Last Month    105.125
Name: 3385, dtype: object
3386 448 8 ORtg Last Month    56
Name: 3386, dtype: object
3387 358 8 ORtg Last Month    44.75
Name: 3387, dtype: object
3388 0 0 ORtg Last Month    0
Name: 3388, dtype: object
3389 544 8 ORtg Last Month    68
Name: 3389, dtype: object
3390 117 5 ORtg Last Month    23.4
Name: 3390, dtype: object
3391 803 8 ORtg Last Month    100.375
Name: 3391, dtype: object
3392 905 8 ORtg Last Month    113.125
Name: 3392, dtype: object
3393 337 7 ORtg Last Month    48.1429
Name: 3393, dtype: object
3394 1043 8 ORtg Last Month    130.375
Name: 3394, dtype: object
3395 1345 10 ORtg Last Month    134.5
Name: 3395, dtype: object
3396 1000 10 ORtg Last Month    100
Name: 3396, dtype: object
3397 398 9 ORtg Last Month    44.2222
Name: 3397, dtype: object
3398 0 3 ORtg Last Month    0
Name: 3398, dtype: object
3399 1283 10 ORtg Last Month    128.3
Name: 3399, dtype: object
3400 982 10 ORtg Last Month    98.2
Name: 3400, dtype: object
3401 1192 10 ORtg Last Month    119.2
Name: 3401, dtype: object
3402 991 10 ORtg Last Month    99.1
Name: 3402, dtype: object
3403 1393 10 ORtg Last Month    139.3
Name: 3403, dtype: object
3404 1428 10 ORtg Last Month    142.8
Name: 3404, dtype: object
3405 1112 10 ORtg Last Month    111.2
Name: 3405, dtype: object
3406 549 5 ORtg Last Month    109.8
Name: 3406, dtype: object
3407 662 6 ORtg Last Month    110.333
Name: 3407, dtype: object
3408 510 8 ORtg Last Month    63.75
Name: 3408, dtype: object
3409 369 8 ORtg Last Month    46.125
Name: 3409, dtype: object
3410 1042 8 ORtg Last Month    130.25
Name: 3410, dtype: object
3411 562 5 ORtg Last Month    112.4
Name: 3411, dtype: object
3412 852 8 ORtg Last Month    106.5
Name: 3412, dtype: object
3413 768 8 ORtg Last Month    96
Name: 3413, dtype: object
3414 421 8 ORtg Last Month    52.625
Name: 3414, dtype: object
3415 915 8 ORtg Last Month    114.375
Name: 3415, dtype: object
3416 67 3 ORtg Last Month    22.3333
Name: 3416, dtype: object
3417 1109 10 ORtg Last Month    110.9
Name: 3417, dtype: object
3418 1087 10 ORtg Last Month    108.7
Name: 3418, dtype: object
3419 1049 10 ORtg Last Month    104.9
Name: 3419, dtype: object
3420 216 10 ORtg Last Month    21.6
Name: 3420, dtype: object
3421 479 10 ORtg Last Month    47.9
Name: 3421, dtype: object
3422 1044 10 ORtg Last Month    104.4
Name: 3422, dtype: object
3423 1068 10 ORtg Last Month    106.8
Name: 3423, dtype: object
3424 885 9 ORtg Last Month    98.3333
Name: 3424, dtype: object
3425 1140 10 ORtg Last Month    114
Name: 3425, dtype: object
3426 1145 9 ORtg Last Month    127.222
Name: 3426, dtype: object
3427 1111 10 ORtg Last Month    111.1
Name: 3427, dtype: object
3428 604 10 ORtg Last Month    60.4
Name: 3428, dtype: object
3429 839 9 ORtg Last Month    93.2222
Name: 3429, dtype: object
3430 927 9 ORtg Last Month    103
Name: 3430, dtype: object
3431 631 8 ORtg Last Month    78.875
Name: 3431, dtype: object
3432 466 6 ORtg Last Month    77.6667
Name: 3432, dtype: object
3433 526 9 ORtg Last Month    58.4444
Name: 3433, dtype: object
3434 0 0 ORtg Last Month    0
Name: 3434, dtype: object

3435 1117 9 ORtg Last Month    124.111
Name: 3435, dtype: object
3436 1166 9 ORtg Last Month    129.556
Name: 3436, dtype: object
3437 1341 9 ORtg Last Month    149
Name: 3437, dtype: object
3438 1030 9 ORtg Last Month    114.444
Name: 3438, dtype: object
3439 1079 9 ORtg Last Month    119.889
Name: 3439, dtype: object
3440 790 9 ORtg Last Month    87.7778
Name: 3440, dtype: object
3441 1007 8 ORtg Last Month    125.875
Name: 3441, dtype: object
3442 690 8 ORtg Last Month    86.25
Name: 3442, dtype: object
3443 767 8 ORtg Last Month    95.875
Name: 3443, dtype: object
3444 870 8 ORtg Last Month    108.75
Name: 3444, dtype: object
3445 902 8 ORtg Last Month    112.75
Name: 3445, dtype: object
3446 723 8 ORtg Last Month    90.375
Name: 3446, dtype: object
3447 886 8 ORtg Last Month    110.75
Name: 3447, dtype: object
3448 910 8 ORtg Last Month    113.75
Name: 3448, dtype: object
3449 376 7 ORtg Last Month    53.7143
Name: 3449, dtype: object
3450 847 8 ORtg Last Month    105.875
Name: 3450, dtype: object
3451 772 7 ORtg Last Month    110.286
Name: 3451, dtype: object
3452 816 8 ORtg Last Month    102
Name: 3452, dtype: object
3453 860 8 ORtg Last Month    107.5
Name: 3453, dtype: object
3454 880 8 ORtg Last Month    110
Name: 3454, dtype: object
3455 414 5 ORtg Last Month    82.8
Name: 3455, dtype: object
3456 1026 8 ORtg Last Month    128.25
Name: 3456, dtype: object
3457 448 7 ORtg Last Month    64
Name: 3457, dtype: object
3458 139 8 ORtg Last Month    17.375
Name: 3458, dtype: object
3459 0 8 ORtg Last Month    0
Name: 3459, dtype: object
3460 884 8 ORtg Last Month    110.5
Name: 3460, dtype: object
3461 858 8 ORtg Last Month    107.25
Name: 3461, dtype: object
3462 1173 10 ORtg Last Month    117.3
Name: 3462, dtype: object
3463 909 9 ORtg Last Month    101
Name: 3463, dtype: object
3464 754 10 ORtg Last Month    75.4
Name: 3464, dtype: object
3465 843 7 ORtg Last Month    120.429
Name: 3465, dtype: object
3466 1194 10 ORtg Last Month    119.4
Name: 3466, dtype: object
3467 698 7 ORtg Last Month    99.7143
Name: 3467, dtype: object
3468 1092 10 ORtg Last Month    109.2
Name: 3468, dtype: object
3469 231 10 ORtg Last Month    23.1
Name: 3469, dtype: object
3470 59 9 ORtg Last Month    6.55556
Name: 3470, dtype: object
3471 128 10 ORtg Last Month    12.8
Name: 3471, dtype: object
3472 441 7 ORtg Last Month    63
Name: 3472, dtype: object
3473 1100 10 ORtg Last Month    110
Name: 3473, dtype: object
3474 1047 10 ORtg Last Month    104.7
Name: 3474, dtype: object
3475 982 9 ORtg Last Month    109.111
Name: 3475, dtype: object
3476 773 9 ORtg Last Month    85.8889
Name: 3476, dtype: object
3477 667 8 ORtg Last Month    83.375
Name: 3477, dtype: object
3478 518 9 ORtg Last Month    57.5556
Name: 3478, dtype: object
3479 1101 9 ORtg Last Month    122.333
Name: 3479, dtype: object
3480 411 7 ORtg Last Month    58.7143
Name: 3480, dtype: object
3481 445 5 ORtg Last Month    89
Name: 3481, dtype: object
3482 252 7 ORtg Last Month    36
Name: 3482, dtype: object
3483 1087 9 ORtg Last Month    120.778
Name: 3483, dtype: object
3484 686 9 ORtg Last Month    76.2222
Name: 3484, dtype: object
3485 981 9 ORtg Last Month    109
Name: 3485, dtype: object
3486 718 8 ORtg Last Month    89.75
Name: 3486, dtype: object
3487 445 9 ORtg Last Month    49.4444
Name: 3487, dtype: object
3488 1112 10 ORtg Last Month    111.2
Name: 3488, dtype: object
3489 869 10 ORtg Last Month    86.9
Name: 3489, dtype: object
3490 204 4 ORtg Last Month    51
Name: 3490, dtype: object
3491 1051 10 ORtg Last Month    105.1
Name: 3491, dtype: object
3492 939 10 ORtg Last Month    93.9
Name: 3492, dtype: object
3493 544 10 ORtg Last Month    54.4
Name: 3493, dtype: object
3494 866 10 ORtg Last Month    86.6
Name: 3494, dtype: object
3495 248 3 ORtg Last Month    82.6667
Name: 3495, dtype: object
3496 926 10 ORtg Last Month    92.6
Name: 3496, dtype: object
3497 1134 10 ORtg Last Month    113.4
Name: 3497, dtype: object
3498 1206 10 ORtg Last Month    120.6
Name: 3498, dtype: object
3499 1108 10 ORtg Last Month    110.8
Name: 3499, dtype: object
3500 669 6 ORtg Last Month    111.5
Name: 3500, dtype: object
3501 836 8 ORtg Last Month    104.5
Name: 3501, dtype: object
3502 828 7 ORtg Last Month    118.286
Name: 3502, dtype: object
3503 179 8 ORtg Last Month    22.375
Name: 3503, dtype: object
3504 826 8 ORtg Last Month    103.25
Name: 3504, dtype: object
3505 863 8 ORtg Last Month    107.875
Name: 3505, dtype: object
3506 773 8 ORtg Last Month    96.625
Name: 3506, dtype: object
3507 671 8 ORtg Last Month    83.875
Name: 3507, dtype: object
3508 0 6 ORtg Last Month    0
Name: 3508, dtype: object
3509 840 7 ORtg Last Month    120
Name: 3509, dtype: object
3510 863 8 ORtg Last Month    107.875
Name: 3510, dtype: object
3511 1280 8 ORtg Last Month    160
Name: 3511, dtype: object
3512 767 9 ORtg Last Month    85.2222
Name: 3512, dtype: object
3513 1062 9 ORtg Last Month    118
Name: 3513, dtype: object
3514 487 9 ORtg Last Month    54.1111
Name: 3514, dtype: object
3515 845 9 ORtg Last Month    93.8889
Name: 3515, dtype: object
3516 884 9 ORtg Last Month    98.2222
Name: 3516, dtype: object
3517 810 9 ORtg Last Month    90
Name: 3517, dtype: object
3518 555 7 ORtg Last Month    79.2857
Name: 3518, dtype: object
3519 0 3 ORtg Last Month    0
Name: 3519, dtype: object
3520 70 9 ORtg Last Month    7.77778
Name: 3520, dtype: object
3521 1050 9 ORtg Last Month    116.667
Name: 3521, dtype: object
3522 960 9 ORtg Last Month    106.667
Name: 3522, dtype: object
3523 427 9 ORtg Last Month    47.4444
Name: 3523, dtype: object
3524 1341 10 ORtg Last Month    134.1
Name: 3524, dtype: object
3525 579 6 ORtg Last Month    96.5
Name: 3525, dtype: object
3526 575 5 ORtg Last Month    115
Name: 3526, dtype: object
3527 662 10 ORtg Last Month    66.2
Name: 3527, dtype: object
3528 351 9 ORtg Last Month    39
Name: 3528, dtype: object
3529 1191 10 ORtg Last Month    119.1
Name: 3529, dtype: object
3530 684 7 ORtg Last Month    97.7143
Name: 3530, dtype: object
3531 1220 10 ORtg Last Month    122
Name: 3531, dtype: object
3532 761 10 ORtg Last Month    76.1
Name: 3532, dtype: object
3533 1109 10 ORtg Last Month    110.9
Name: 3533, dtype: object
3534 1250 10 ORtg Last Month    125
Name: 3534, dtype: object
3535 1137 10 ORtg Last Month    113.7
Name: 3535, dtype: object
3536 162 10 ORtg Last Month    16.2
Name: 3536, dtype: object
3537 489 6 ORtg Last Month    81.5
Name: 3537, dtype: object
3538 805 9 ORtg Last Month    89.4444
Name: 3538, dtype: object
3539 1005 9 ORtg Last Month    111.667
Name: 3539, dtype: object
3540 731 9 ORtg Last Month    81.2222
Name: 3540, dtype: object
3541 768 9 ORtg Last Month    85.3333
Name: 3541, dtype: object
3542 1169 9 ORtg Last Month    129.889
Name: 3542, dtype: object
3543 908 9 ORtg Last Month    100.889
Name: 3543, dtype: object
3544 997 9 ORtg Last Month    110.778
Name: 3544, dtype: object
3545 0 6 ORtg Last Month    0
Name: 3545, dtype: object
3546 1132 9 ORtg Last Month    125.778
Name: 3546, dtype: object
3547 887 8 ORtg Last Month    110.875
Name: 3547, dtype: object
3548 902 9 ORtg Last Month    100.222
Name: 3548, dtype: object
3549 945 9 ORtg Last Month    105
Name: 3549, dtype: object
3550 828 9 ORtg Last Month    92
Name: 3550, dtype: object
3551 1127 9 ORtg Last Month    125.222
Name: 3551, dtype: object
3552 950 9 ORtg Last Month    105.556
Name: 3552, dtype: object
3553 691 9 ORtg Last Month    76.7778
Name: 3553, dtype: object
3554 0 0 ORtg Last Month    0
Name: 3554, dtype: object
3555 858 9 ORtg Last Month    95.3333
Name: 3555, dtype: object
3556 777 6 ORtg Last Month    129.5
Name: 3556, dtype: object
3557 888 8 ORtg Last Month    111
Name: 3557, dtype: object
3558 722 6 ORtg Last Month    120.333
Name: 3558, dtype: object
3559 990 9 ORtg Last Month    110
Name: 3559, dtype: object
3560 688 9 ORtg Last Month    76.4444
Name: 3560, dtype: object
3561 1012 10 ORtg Last Month    101.2
Name: 3561, dtype: object
3562 1116 10 ORtg Last Month    111.6
Name: 3562, dtype: object
3563 706 7 ORtg Last Month    100.857
Name: 3563, dtype: object
3564 1092 10 ORtg Last Month    109.2
Name: 3564, dtype: object
3565 696 9 ORtg Last Month    77.3333
Name: 3565, dtype: object

3566 1274 10 ORtg Last Month    127.4
Name: 3566, dtype: object
3567 1192 10 ORtg Last Month    119.2
Name: 3567, dtype: object
3568 515 5 ORtg Last Month    103
Name: 3568, dtype: object
3569 1210 10 ORtg Last Month    121
Name: 3569, dtype: object
3570 1354 10 ORtg Last Month    135.4
Name: 3570, dtype: object
3571 665 7 ORtg Last Month    95
Name: 3571, dtype: object
3572 474 8 ORtg Last Month    59.25
Name: 3572, dtype: object
3573 1258 10 ORtg Last Month    125.8
Name: 3573, dtype: object
3574 1065 10 ORtg Last Month    106.5
Name: 3574, dtype: object
3575 899 9 ORtg Last Month    99.8889
Name: 3575, dtype: object
3576 451 7 ORtg Last Month    64.4286
Name: 3576, dtype: object
3577 943 10 ORtg Last Month    94.3
Name: 3577, dtype: object
3578 1091 10 ORtg Last Month    109.1
Name: 3578, dtype: object
3579 1146 10 ORtg Last Month    114.6
Name: 3579, dtype: object
3580 962 10 ORtg Last Month    96.2
Name: 3580, dtype: object
3581 1260 10 ORtg Last Month    126
Name: 3581, dtype: object
3582 1378 10 ORtg Last Month    137.8
Name: 3582, dtype: object
3583 715 9 ORtg Last Month    79.4444
Name: 3583, dtype: object
3584 247 10 ORtg Last Month    24.7
Name: 3584, dtype: object
3585 940 9 ORtg Last Month    104.444
Name: 3585, dtype: object
3586 841 9 ORtg Last Month    93.4444
Name: 3586, dtype: object
3587 445 5 ORtg Last Month    89
Name: 3587, dtype: object
3588 1112 9 ORtg Last Month    123.556
Name: 3588, dtype: object
3589 1033 9 ORtg Last Month    114.778
Name: 3589, dtype: object
3590 206 9 ORtg Last Month    22.8889
Name: 3590, dtype: object
3591 1091 9 ORtg Last Month    121.222
Name: 3591, dtype: object
3592 1106 9 ORtg Last Month    122.889
Name: 3592, dtype: object
3593 0 9 ORtg Last Month    0
Name: 3593, dtype: object
3594 1078 9 ORtg Last Month    119.778
Name: 3594, dtype: object
3595 1082 9 ORtg Last Month    120.222
Name: 3595, dtype: object
3596 1008 9 ORtg Last Month    112
Name: 3596, dtype: object
3597 337 9 ORtg Last Month    37.4444
Name: 3597, dtype: object
3598 235 8 ORtg Last Month    29.375
Name: 3598, dtype: object
3599 1066 9 ORtg Last Month    118.444
Name: 3599, dtype: object
3600 892 8 ORtg Last Month    111.5
Name: 3600, dtype: object
3601 1240 9 ORtg Last Month    137.778
Name: 3601, dtype: object
3602 774 9 ORtg Last Month    86
Name: 3602, dtype: object
3603 953 9 ORtg Last Month    105.889
Name: 3603, dtype: object
3604 1135 9 ORtg Last Month    126.111
Name: 3604, dtype: object
3605 956 9 ORtg Last Month    106.222
Name: 3605, dtype: object
3606 437 7 ORtg Last Month    62.4286
Name: 3606, dtype: object
3607 653 6 ORtg Last Month    108.833
Name: 3607, dtype: object
3608 784 8 ORtg Last Month    98
Name: 3608, dtype: object
3609 585 7 ORtg Last Month    83.5714
Name: 3609, dtype: object
3610 788 8 ORtg Last Month    98.5
Name: 3610, dtype: object
3611 515 6 ORtg Last Month    85.8333
Name: 3611, dtype: object
3612 882 9 ORtg Last Month    98
Name: 3612, dtype: object
3613 890 9 ORtg Last Month    98.8889
Name: 3613, dtype: object
3614 843 8 ORtg Last Month    105.375
Name: 3614, dtype: object
3615 646 9 ORtg Last Month    71.7778
Name: 3615, dtype: object
3616 411 9 ORtg Last Month    45.6667
Name: 3616, dtype: object
3617 1138 9 ORtg Last Month    126.444
Name: 3617, dtype: object
3618 345 9 ORtg Last Month    38.3333
Name: 3618, dtype: object
3619 784 9 ORtg Last Month    87.1111
Name: 3619, dtype: object
3620 1236 10 ORtg Last Month    123.6
Name: 3620, dtype: object
3621 1033 10 ORtg Last Month    103.3
Name: 3621, dtype: object
3622 96 3 ORtg Last Month    32
Name: 3622, dtype: object
3623 29 10 ORtg Last Month    2.9
Name: 3623, dtype: object
3624 1039 10 ORtg Last Month    103.9
Name: 3624, dtype: object
3625 1143 10 ORtg Last Month    114.3
Name: 3625, dtype: object
3626 1368 10 ORtg Last Month    136.8
Name: 3626, dtype: object
3627 1283 10 ORtg Last Month    128.3
Name: 3627, dtype: object
3628 1175 10 ORtg Last Month    117.5
Name: 3628, dtype: object
3629 305 10 ORtg Last Month    30.5
Name: 3629, dtype: object
3630 1116 10 ORtg Last Month    111.6
Name: 3630, dtype: object
3631 639 10 ORtg Last Month    63.9
Name: 3631, dtype: object
3632 923 9 ORtg Last Month    102.556
Name: 3632, dtype: object
3633 1000 9 ORtg Last Month    111.111
Name: 3633, dtype: object
3634 754 9 ORtg Last Month    83.7778
Name: 3634, dtype: object
3635 1052 9 ORtg Last Month    116.889
Name: 3635, dtype: object
3636 821 8 ORtg Last Month    102.625
Name: 3636, dtype: object
3637 845 9 ORtg Last Month    93.8889
Name: 3637, dtype: object
3638 929 9 ORtg Last Month    103.222
Name: 3638, dtype: object
3639 804 8 ORtg Last Month    100.5
Name: 3639, dtype: object
3640 274 2 ORtg Last Month    137
Name: 3640, dtype: object
3641 764 9 ORtg Last Month    84.8889
Name: 3641, dtype: object
3642 211 9 ORtg Last Month    23.4444
Name: 3642, dtype: object
3643 693 9 ORtg Last Month    77
Name: 3643, dtype: object
3644 1032 10 ORtg Last Month    103.2
Name: 3644, dtype: object
3645 960 10 ORtg Last Month    96
Name: 3645, dtype: object
3646 1072 10 ORtg Last Month    107.2
Name: 3646, dtype: object
3647 0 1 ORtg Last Month    0
Name: 3647, dtype: object
3648 741 10 ORtg Last Month    74.1
Name: 3648, dtype: object
3649 952 9 ORtg Last Month    105.778
Name: 3649, dtype: object
3650 953 10 ORtg Last Month    95.3
Name: 3650, dtype: object
3651 896 7 ORtg Last Month    128
Name: 3651, dtype: object
3652 1066 10 ORtg Last Month    106.6
Name: 3652, dtype: object
3653 688 10 ORtg Last Month    68.8
Name: 3653, dtype: object
3654 793 7 ORtg Last Month    113.286
Name: 3654, dtype: object
3655 1177 11 ORtg Last Month    107
Name: 3655, dtype: object
3656 1357 11 ORtg Last Month    123.364
Name: 3656, dtype: object
3657 1231 11 ORtg Last Month    111.909
Name: 3657, dtype: object
3658 1109 11 ORtg Last Month    100.818
Name: 3658, dtype: object
3659 913 11 ORtg Last Month    83
Name: 3659, dtype: object
3660 462 8 ORtg Last Month    57.75
Name: 3660, dtype: object
3661 1003 11 ORtg Last Month    91.1818
Name: 3661, dtype: object
3662 1273 11 ORtg Last Month    115.727
Name: 3662, dtype: object
3663 545 11 ORtg Last Month    49.5455
Name: 3663, dtype: object
3664 915 10 ORtg Last Month    91.5
Name: 3664, dtype: object
3665 1142 10 ORtg Last Month    114.2
Name: 3665, dtype: object
3666 673 9 ORtg Last Month    74.7778
Name: 3666, dtype: object
3667 988 10 ORtg Last Month    98.8
Name: 3667, dtype: object
3668 1098 10 ORtg Last Month    109.8
Name: 3668, dtype: object
3669 751 10 ORtg Last Month    75.1
Name: 3669, dtype: object
3670 762 9 ORtg Last Month    84.6667
Name: 3670, dtype: object
3671 874 10 ORtg Last Month    87.4
Name: 3671, dtype: object
3672 1134 10 ORtg Last Month    113.4
Name: 3672, dtype: object
3673 919 10 ORtg Last Month    91.9
Name: 3673, dtype: object
3674 876 8 ORtg Last Month    109.5
Name: 3674, dtype: object
3675 1047 10 ORtg Last Month    104.7
Name: 3675, dtype: object
3676 841 10 ORtg Last Month    84.1
Name: 3676, dtype: object
3677 574 6 ORtg Last Month    95.6667
Name: 3677, dtype: object
3678 1100 10 ORtg Last Month    110
Name: 3678, dtype: object
3679 1247 10 ORtg Last Month    124.7
Name: 3679, dtype: object
3680 206 10 ORtg Last Month    20.6
Name: 3680, dtype: object
3681 1211 10 ORtg Last Month    121.1
Name: 3681, dtype: object
3682 1220 10 ORtg Last Month    122
Name: 3682, dtype: object
3683 0 10 ORtg Last Month    0
Name: 3683, dtype: object
3684 1092 10 ORtg Last Month    109.2
Name: 3684, dtype: object
3685 1176 10 ORtg Last Month    117.6
Name: 3685, dtype: object
3686 1061 10 ORtg Last Month    106.1
Name: 3686, dtype: object
3687 1017 10 ORtg Last Month    101.7
Name: 3687, dtype: object
3688 631 8 ORtg Last Month    78.875
Name: 3688, dtype: object
3689 909 10 ORtg Last Month    90.9
Name: 3689, dtype: object
3690 1250 10 ORtg Last Month    125
Name: 3690, dtype: object
3691 767 10 ORtg Last Month    76.7
Name: 3691, dtype: object
3692 167 10 ORtg Last Month    16.7
Name: 3692, dtype: object
3693 1021 10 ORtg Last Month    102.1
Name: 3693, dtype: object
3694 1276 10 ORtg Last Month    127.6
Name: 3694, dtype: object
3695 1124 10 ORtg Last Month    112.4
Name: 3695, dtype: object

3696 848 9 ORtg Last Month    94.2222
Name: 3696, dtype: object
3697 952 9 ORtg Last Month    105.778
Name: 3697, dtype: object
3698 481 9 ORtg Last Month    53.4444
Name: 3698, dtype: object
3699 563 9 ORtg Last Month    62.5556
Name: 3699, dtype: object
3700 498 7 ORtg Last Month    71.1429
Name: 3700, dtype: object
3701 911 9 ORtg Last Month    101.222
Name: 3701, dtype: object
3702 1009 9 ORtg Last Month    112.111
Name: 3702, dtype: object
3703 1043 9 ORtg Last Month    115.889
Name: 3703, dtype: object
3704 555 8 ORtg Last Month    69.375
Name: 3704, dtype: object
3705 1214 11 ORtg Last Month    110.364
Name: 3705, dtype: object
3706 1094 11 ORtg Last Month    99.4545
Name: 3706, dtype: object
3707 1187 11 ORtg Last Month    107.909
Name: 3707, dtype: object
3708 479 11 ORtg Last Month    43.5455
Name: 3708, dtype: object
3709 1171 11 ORtg Last Month    106.455
Name: 3709, dtype: object
3710 1166 11 ORtg Last Month    106
Name: 3710, dtype: object
3711 976 10 ORtg Last Month    97.6
Name: 3711, dtype: object
3712 1210 11 ORtg Last Month    110
Name: 3712, dtype: object
3713 1299 10 ORtg Last Month    129.9
Name: 3713, dtype: object
3714 1177 11 ORtg Last Month    107
Name: 3714, dtype: object
3715 604 11 ORtg Last Month    54.9091
Name: 3715, dtype: object
3716 570 6 ORtg Last Month    95
Name: 3716, dtype: object
3717 1160 10 ORtg Last Month    116
Name: 3717, dtype: object
3718 798 7 ORtg Last Month    114
Name: 3718, dtype: object
3719 1139 10 ORtg Last Month    113.9
Name: 3719, dtype: object
3720 980 10 ORtg Last Month    98
Name: 3720, dtype: object
3721 377 10 ORtg Last Month    37.7
Name: 3721, dtype: object
3722 1182 10 ORtg Last Month    118.2
Name: 3722, dtype: object
3723 880 10 ORtg Last Month    88
Name: 3723, dtype: object
3724 76 6 ORtg Last Month    12.6667
Name: 3724, dtype: object
3725 1097 10 ORtg Last Month    109.7
Name: 3725, dtype: object
3726 1198 10 ORtg Last Month    119.8
Name: 3726, dtype: object
3727 425 10 ORtg Last Month    42.5
Name: 3727, dtype: object
3728 660 8 ORtg Last Month    82.5
Name: 3728, dtype: object
3729 791 9 ORtg Last Month    87.8889
Name: 3729, dtype: object
3730 955 9 ORtg Last Month    106.111
Name: 3730, dtype: object
3731 1137 9 ORtg Last Month    126.333
Name: 3731, dtype: object
3732 875 9 ORtg Last Month    97.2222
Name: 3732, dtype: object
3733 824 9 ORtg Last Month    91.5556
Name: 3733, dtype: object
3734 983 9 ORtg Last Month    109.222
Name: 3734, dtype: object
3735 0 1 ORtg Last Month    0
Name: 3735, dtype: object
3736 966 9 ORtg Last Month    107.333
Name: 3736, dtype: object
3737 1014 9 ORtg Last Month    112.667
Name: 3737, dtype: object
3738 506 8 ORtg Last Month    63.25
Name: 3738, dtype: object
3739 0 0 ORtg Last Month    0
Name: 3739, dtype: object
3740 1009 9 ORtg Last Month    112.111
Name: 3740, dtype: object
3741 953 9 ORtg Last Month    105.889
Name: 3741, dtype: object
3742 876 8 ORtg Last Month    109.5
Name: 3742, dtype: object
3743 139 9 ORtg Last Month    15.4444
Name: 3743, dtype: object
3744 1006 9 ORtg Last Month    111.778
Name: 3744, dtype: object
3745 504 6 ORtg Last Month    84
Name: 3745, dtype: object
3746 1104 9 ORtg Last Month    122.667
Name: 3746, dtype: object
3747 519 8 ORtg Last Month    64.875
Name: 3747, dtype: object
3748 93 4 ORtg Last Month    23.25
Name: 3748, dtype: object
3749 0 9 ORtg Last Month    0
Name: 3749, dtype: object
3750 823 8 ORtg Last Month    102.875
Name: 3750, dtype: object
3751 1060 9 ORtg Last Month    117.778
Name: 3751, dtype: object
3752 962 9 ORtg Last Month    106.889
Name: 3752, dtype: object
3753 1274 11 ORtg Last Month    115.818
Name: 3753, dtype: object
3754 996 10 ORtg Last Month    99.6
Name: 3754, dtype: object
3755 861 11 ORtg Last Month    78.2727
Name: 3755, dtype: object
3756 957 8 ORtg Last Month    119.625
Name: 3756, dtype: object
3757 1346 11 ORtg Last Month    122.364
Name: 3757, dtype: object
3758 773 8 ORtg Last Month    96.625
Name: 3758, dtype: object
3759 1215 11 ORtg Last Month    110.455
Name: 3759, dtype: object
3760 231 11 ORtg Last Month    21
Name: 3760, dtype: object
3761 59 10 ORtg Last Month    5.9
Name: 3761, dtype: object
3762 128 11 ORtg Last Month    11.6364
Name: 3762, dtype: object
3763 441 8 ORtg Last Month    55.125
Name: 3763, dtype: object
3764 1223 11 ORtg Last Month    111.182
Name: 3764, dtype: object
3765 1260 11 ORtg Last Month    114.545
Name: 3765, dtype: object
3766 1100 10 ORtg Last Month    110
Name: 3766, dtype: object
3767 710 9 ORtg Last Month    78.8889
Name: 3767, dtype: object
3768 863 10 ORtg Last Month    86.3
Name: 3768, dtype: object
3769 518 10 ORtg Last Month    51.8
Name: 3769, dtype: object
3770 1214 10 ORtg Last Month    121.4
Name: 3770, dtype: object
3771 336 8 ORtg Last Month    42
Name: 3771, dtype: object
3772 1172 10 ORtg Last Month    117.2
Name: 3772, dtype: object
3773 570 6 ORtg Last Month    95
Name: 3773, dtype: object
3774 638 8 ORtg Last Month    79.75
Name: 3774, dtype: object
3775 250 5 ORtg Last Month    50
Name: 3775, dtype: object
3776 686 10 ORtg Last Month    68.6
Name: 3776, dtype: object
3777 802 9 ORtg Last Month    89.1111
Name: 3777, dtype: object
3778 1179 10 ORtg Last Month    117.9
Name: 3778, dtype: object
3779 308 5 ORtg Last Month    61.6
Name: 3779, dtype: object
3780 1230 11 ORtg Last Month    111.818
Name: 3780, dtype: object
3781 961 11 ORtg Last Month    87.3636
Name: 3781, dtype: object
3782 1010 11 ORtg Last Month    91.8182
Name: 3782, dtype: object
3783 544 11 ORtg Last Month    49.4545
Name: 3783, dtype: object
3784 1163 11 ORtg Last Month    105.727
Name: 3784, dtype: object
3785 950 11 ORtg Last Month    86.3636
Name: 3785, dtype: object
3786 312 4 ORtg Last Month    78
Name: 3786, dtype: object
3787 1037 11 ORtg Last Month    94.2727
Name: 3787, dtype: object
3788 1290 11 ORtg Last Month    117.273
Name: 3788, dtype: object
3789 1264 11 ORtg Last Month    114.909
Name: 3789, dtype: object
3790 1140 11 ORtg Last Month    103.636
Name: 3790, dtype: object
3791 951 9 ORtg Last Month    105.667
Name: 3791, dtype: object
3792 247 9 ORtg Last Month    27.4444
Name: 3792, dtype: object
3793 916 8 ORtg Last Month    114.5
Name: 3793, dtype: object
3794 956 9 ORtg Last Month    106.222
Name: 3794, dtype: object
3795 969 9 ORtg Last Month    107.667
Name: 3795, dtype: object
3796 905 9 ORtg Last Month    100.556
Name: 3796, dtype: object
3797 830 9 ORtg Last Month    92.2222
Name: 3797, dtype: object
3798 0 7 ORtg Last Month    0
Name: 3798, dtype: object
3799 962 8 ORtg Last Month    120.25
Name: 3799, dtype: object
3800 1387 9 ORtg Last Month    154.111
Name: 3800, dtype: object
3801 1055 9 ORtg Last Month    117.222
Name: 3801, dtype: object
3802 1199 10 ORtg Last Month    119.9
Name: 3802, dtype: object
3803 861 10 ORtg Last Month    86.1
Name: 3803, dtype: object
3804 487 10 ORtg Last Month    48.7
Name: 3804, dtype: object
3805 979 10 ORtg Last Month    97.9
Name: 3805, dtype: object
3806 991 10 ORtg Last Month    99.1
Name: 3806, dtype: object
3807 897 10 ORtg Last Month    89.7
Name: 3807, dtype: object
3808 667 8 ORtg Last Month    83.375
Name: 3808, dtype: object
3809 0 4 ORtg Last Month    0
Name: 3809, dtype: object
3810 70 10 ORtg Last Month    7
Name: 3810, dtype: object
3811 1146 10 ORtg Last Month    114.6
Name: 3811, dtype: object
3812 480 10 ORtg Last Month    48
Name: 3812, dtype: object
3813 1068 10 ORtg Last Month    106.8
Name: 3813, dtype: object
3814 1169 10 ORtg Last Month    116.9
Name: 3814, dtype: object
3815 1048 11 ORtg Last Month    95.2727
Name: 3815, dtype: object
3816 1171 11 ORtg Last Month    106.455
Name: 3816, dtype: object
3817 296 10 ORtg Last Month    29.6
Name: 3817, dtype: object
3818 1288 10 ORtg Last Month    128.8
Name: 3818, dtype: object
3819 1020 11 ORtg Last Month    92.7273
Name: 3819, dtype: object
3820 1115 11 ORtg Last Month    101.364
Name: 3820, dtype: object
3821 1199 11 ORtg Last Month    109
Name: 3821, dtype: object
3822 232 1 ORtg Last Month    232
Name: 3822, dtype: object
3823 215 10 ORtg Last Month    21.5
Name: 3823, dtype: object
3824 1273 11 ORtg Last Month    115.727
Name: 3824, dtype: object
3825 1550 11 ORtg Last Month    140.909
Name: 3825, dtype: object

3826 1102 10 ORtg Last Month    110.2
Name: 3826, dtype: object
3827 613 5 ORtg Last Month    122.6
Name: 3827, dtype: object
3828 858 10 ORtg Last Month    85.8
Name: 3828, dtype: object
3829 1111 10 ORtg Last Month    111.1
Name: 3829, dtype: object
3830 876 8 ORtg Last Month    109.5
Name: 3830, dtype: object
3831 1077 10 ORtg Last Month    107.7
Name: 3831, dtype: object
3832 1247 10 ORtg Last Month    124.7
Name: 3832, dtype: object
3833 0 0 ORtg Last Month    0
Name: 3833, dtype: object
3834 1034 10 ORtg Last Month    103.4
Name: 3834, dtype: object
3835 578 10 ORtg Last Month    57.8
Name: 3835, dtype: object
3836 1157 10 ORtg Last Month    115.7
Name: 3836, dtype: object
3837 568 4 ORtg Last Month    142
Name: 3837, dtype: object
3838 947 9 ORtg Last Month    105.222
Name: 3838, dtype: object
3839 963 9 ORtg Last Month    107
Name: 3839, dtype: object
3840 0 0 ORtg Last Month    0
Name: 3840, dtype: object
3841 1089 9 ORtg Last Month    121
Name: 3841, dtype: object
3842 983 9 ORtg Last Month    109.222
Name: 3842, dtype: object
3843 966 9 ORtg Last Month    107.333
Name: 3843, dtype: object
3844 667 9 ORtg Last Month    74.1111
Name: 3844, dtype: object
3845 463 9 ORtg Last Month    51.4444
Name: 3845, dtype: object
3846 1159 9 ORtg Last Month    128.778
Name: 3846, dtype: object
3847 974 9 ORtg Last Month    108.222
Name: 3847, dtype: object
3848 901 9 ORtg Last Month    100.111
Name: 3848, dtype: object
3849 1484 11 ORtg Last Month    134.909
Name: 3849, dtype: object
3850 696 7 ORtg Last Month    99.4286
Name: 3850, dtype: object
3851 711 6 ORtg Last Month    118.5
Name: 3851, dtype: object
3852 351 10 ORtg Last Month    35.1
Name: 3852, dtype: object
3853 662 11 ORtg Last Month    60.1818
Name: 3853, dtype: object
3854 869 7 ORtg Last Month    124.143
Name: 3854, dtype: object
3855 1315 11 ORtg Last Month    119.545
Name: 3855, dtype: object
3856 799 8 ORtg Last Month    99.875
Name: 3856, dtype: object
3857 1360 11 ORtg Last Month    123.636
Name: 3857, dtype: object
3858 1293 11 ORtg Last Month    117.545
Name: 3858, dtype: object
3859 1346 11 ORtg Last Month    122.364
Name: 3859, dtype: object
3860 294 11 ORtg Last Month    26.7273
Name: 3860, dtype: object
3861 856 8 ORtg Last Month    107
Name: 3861, dtype: object
3862 900 10 ORtg Last Month    90
Name: 3862, dtype: object
3863 641 7 ORtg Last Month    91.5714
Name: 3863, dtype: object
3864 1122 10 ORtg Last Month    112.2
Name: 3864, dtype: object
3865 826 10 ORtg Last Month    82.6
Name: 3865, dtype: object
3866 973 10 ORtg Last Month    97.3
Name: 3866, dtype: object
3867 1257 10 ORtg Last Month    125.7
Name: 3867, dtype: object
3868 874 10 ORtg Last Month    87.4
Name: 3868, dtype: object
3869 1125 10 ORtg Last Month    112.5
Name: 3869, dtype: object
3870 171 7 ORtg Last Month    24.4286
Name: 3870, dtype: object
3871 1248 10 ORtg Last Month    124.8
Name: 3871, dtype: object
3872 1029 9 ORtg Last Month    114.333
Name: 3872, dtype: object
3873 1102 10 ORtg Last Month    110.2
Name: 3873, dtype: object
3874 1090 10 ORtg Last Month    109
Name: 3874, dtype: object
3875 990 10 ORtg Last Month    99
Name: 3875, dtype: object
3876 953 10 ORtg Last Month    95.3
Name: 3876, dtype: object
3877 283 10 ORtg Last Month    28.3
Name: 3877, dtype: object
3878 1084 10 ORtg Last Month    108.4
Name: 3878, dtype: object
3879 816 9 ORtg Last Month    90.6667
Name: 3879, dtype: object
3880 1009 10 ORtg Last Month    100.9
Name: 3880, dtype: object
3881 857 9 ORtg Last Month    95.2222
Name: 3881, dtype: object
3882 327 10 ORtg Last Month    32.7
Name: 3882, dtype: object
3883 1069 10 ORtg Last Month    106.9
Name: 3883, dtype: object
3884 919 7 ORtg Last Month    131.286
Name: 3884, dtype: object
3885 358 10 ORtg Last Month    35.8
Name: 3885, dtype: object
3886 387 8 ORtg Last Month    48.375
Name: 3886, dtype: object
3887 1121 11 ORtg Last Month    101.909
Name: 3887, dtype: object
3888 537 10 ORtg Last Month    53.7
Name: 3888, dtype: object
3889 1445 11 ORtg Last Month    131.364
Name: 3889, dtype: object
3890 1453 11 ORtg Last Month    132.091
Name: 3890, dtype: object
3891 1145 11 ORtg Last Month    104.091
Name: 3891, dtype: object
3892 0 4 ORtg Last Month    0
Name: 3892, dtype: object
3893 1082 9 ORtg Last Month    120.222
Name: 3893, dtype: object
3894 1333 11 ORtg Last Month    121.182
Name: 3894, dtype: object
3895 1586 11 ORtg Last Month    144.182
Name: 3895, dtype: object
3896 1113 11 ORtg Last Month    101.182
Name: 3896, dtype: object
3897 1536 11 ORtg Last Month    139.636
Name: 3897, dtype: object
3898 671 6 ORtg Last Month    111.833
Name: 3898, dtype: object
3899 752 7 ORtg Last Month    107.429
Name: 3899, dtype: object
3900 1145 9 ORtg Last Month    127.222
Name: 3900, dtype: object
3901 819 9 ORtg Last Month    91
Name: 3901, dtype: object
3902 456 9 ORtg Last Month    50.6667
Name: 3902, dtype: object
3903 684 6 ORtg Last Month    114
Name: 3903, dtype: object
3904 954 9 ORtg Last Month    106
Name: 3904, dtype: object
3905 1053 9 ORtg Last Month    117
Name: 3905, dtype: object
3906 67 4 ORtg Last Month    16.75
Name: 3906, dtype: object
3907 503 9 ORtg Last Month    55.8889
Name: 3907, dtype: object
3908 1035 10 ORtg Last Month    103.5
Name: 3908, dtype: object
3909 970 10 ORtg Last Month    97
Name: 3909, dtype: object
3910 641 7 ORtg Last Month    91.5714
Name: 3910, dtype: object
3911 791 9 ORtg Last Month    87.8889
Name: 3911, dtype: object
3912 526 10 ORtg Last Month    52.6
Name: 3912, dtype: object
3913 1244 10 ORtg Last Month    124.4
Name: 3913, dtype: object
3914 1285 10 ORtg Last Month    128.5
Name: 3914, dtype: object
3915 1540 10 ORtg Last Month    154
Name: 3915, dtype: object
3916 0 1 ORtg Last Month    0
Name: 3916, dtype: object
3917 1145 10 ORtg Last Month    114.5
Name: 3917, dtype: object
3918 1205 10 ORtg Last Month    120.5
Name: 3918, dtype: object
3919 790 10 ORtg Last Month    79
Name: 3919, dtype: object
3920 1158 10 ORtg Last Month    115.8
Name: 3920, dtype: object
3921 1159 10 ORtg Last Month    115.9
Name: 3921, dtype: object
3922 1090 10 ORtg Last Month    109
Name: 3922, dtype: object
3923 235 9 ORtg Last Month    26.1111
Name: 3923, dtype: object
3924 992 9 ORtg Last Month    110.222
Name: 3924, dtype: object
3925 1188 10 ORtg Last Month    118.8
Name: 3925, dtype: object
3926 1019 10 ORtg Last Month    101.9
Name: 3926, dtype: object
3927 1414 10 ORtg Last Month    141.4
Name: 3927, dtype: object
3928 337 10 ORtg Last Month    33.7
Name: 3928, dtype: object
3929 1221 10 ORtg Last Month    122.1
Name: 3929, dtype: object
3930 1101 10 ORtg Last Month    110.1
Name: 3930, dtype: object
3931 437 8 ORtg Last Month    54.625
Name: 3931, dtype: object
3932 1080 10 ORtg Last Month    108
Name: 3932, dtype: object
3933 1066 10 ORtg Last Month    106.6
Name: 3933, dtype: object
3934 317 10 ORtg Last Month    31.7
Name: 3934, dtype: object
3935 1050 10 ORtg Last Month    105
Name: 3935, dtype: object
3936 928 10 ORtg Last Month    92.8
Name: 3936, dtype: object
3937 1084 10 ORtg Last Month    108.4
Name: 3937, dtype: object
3938 1008 9 ORtg Last Month    112
Name: 3938, dtype: object
3939 983 10 ORtg Last Month    98.3
Name: 3939, dtype: object
3940 0 8 ORtg Last Month    0
Name: 3940, dtype: object
3941 1072 9 ORtg Last Month    119.111
Name: 3941, dtype: object
3942 1411 10 ORtg Last Month    141.1
Name: 3942, dtype: object
3943 1116 10 ORtg Last Month    111.6
Name: 3943, dtype: object
3944 735 7 ORtg Last Month    105
Name: 3944, dtype: object
3945 888 9 ORtg Last Month    98.6667
Name: 3945, dtype: object
3946 650 8 ORtg Last Month    81.25
Name: 3946, dtype: object
3947 788 9 ORtg Last Month    87.5556
Name: 3947, dtype: object
3948 515 7 ORtg Last Month    73.5714
Name: 3948, dtype: object
3949 843 9 ORtg Last Month    93.6667
Name: 3949, dtype: object
3950 988 10 ORtg Last Month    98.8
Name: 3950, dtype: object
3951 721 10 ORtg Last Month    72.1
Name: 3951, dtype: object
3952 982 10 ORtg Last Month    98.2
Name: 3952, dtype: object
3953 1215 10 ORtg Last Month    121.5
Name: 3953, dtype: object
3954 471 10 ORtg Last Month    47.1
Name: 3954, dtype: object
3955 812 10 ORtg Last Month    81.2
Name: 3955, dtype: object

3956 411 10 ORtg Last Month    41.1
Name: 3956, dtype: object
3957 1330 11 ORtg Last Month    120.909
Name: 3957, dtype: object
3958 1139 11 ORtg Last Month    103.545
Name: 3958, dtype: object
3959 29 11 ORtg Last Month    2.63636
Name: 3959, dtype: object
3960 1310 11 ORtg Last Month    119.091
Name: 3960, dtype: object
3961 1191 11 ORtg Last Month    108.273
Name: 3961, dtype: object
3962 1243 11 ORtg Last Month    113
Name: 3962, dtype: object
3963 1484 11 ORtg Last Month    134.909
Name: 3963, dtype: object
3964 1242 11 ORtg Last Month    112.909
Name: 3964, dtype: object
3965 1378 11 ORtg Last Month    125.273
Name: 3965, dtype: object
3966 778 11 ORtg Last Month    70.7273
Name: 3966, dtype: object
3967 305 11 ORtg Last Month    27.7273
Name: 3967, dtype: object
3968 1065 11 ORtg Last Month    96.8182
Name: 3968, dtype: object
3969 1125 11 ORtg Last Month    102.273
Name: 3969, dtype: object
3970 1243 10 ORtg Last Month    124.3
Name: 3970, dtype: object
3971 1143 11 ORtg Last Month    103.909
Name: 3971, dtype: object
3972 741 11 ORtg Last Month    67.3636
Name: 3972, dtype: object
3973 1116 10 ORtg Last Month    111.6
Name: 3973, dtype: object
3974 1045 11 ORtg Last Month    95
Name: 3974, dtype: object
3975 969 8 ORtg Last Month    121.125
Name: 3975, dtype: object
3976 855 8 ORtg Last Month    106.875
Name: 3976, dtype: object
3977 859 11 ORtg Last Month    78.0909
Name: 3977, dtype: object
3978 1150 11 ORtg Last Month    104.545
Name: 3978, dtype: object
3979 1038 11 ORtg Last Month    94.3636
Name: 3979, dtype: object
3980 1102 11 ORtg Last Month    100.182
Name: 3980, dtype: object
3981 283 11 ORtg Last Month    25.7273
Name: 3981, dtype: object
3982 1095 11 ORtg Last Month    99.5455
Name: 3982, dtype: object
3983 1201 11 ORtg Last Month    109.182
Name: 3983, dtype: object
3984 977 10 ORtg Last Month    97.7
Name: 3984, dtype: object
3985 922 10 ORtg Last Month    92.2
Name: 3985, dtype: object
3986 463 11 ORtg Last Month    42.0909
Name: 3986, dtype: object
3987 408 11 ORtg Last Month    37.0909
Name: 3987, dtype: object
3988 1165 11 ORtg Last Month    105.909
Name: 3988, dtype: object
3989 1003 8 ORtg Last Month    125.375
Name: 3989, dtype: object
3990 387 9 ORtg Last Month    43
Name: 3990, dtype: object
3991 1122 11 ORtg Last Month    102
Name: 3991, dtype: object
3992 1291 11 ORtg Last Month    117.364
Name: 3992, dtype: object
3993 820 8 ORtg Last Month    102.5
Name: 3993, dtype: object
3994 1214 11 ORtg Last Month    110.364
Name: 3994, dtype: object
3995 1380 11 ORtg Last Month    125.455
Name: 3995, dtype: object
3996 1253 11 ORtg Last Month    113.909
Name: 3996, dtype: object
3997 0 0 ORtg Last Month    0
Name: 3997, dtype: object
3998 774 10 ORtg Last Month    77.4
Name: 3998, dtype: object
3999 515 6 ORtg Last Month    85.8333
Name: 3999, dtype: object
4000 1346 11 ORtg Last Month    122.364
Name: 4000, dtype: object
4001 726 8 ORtg Last Month    90.75
Name: 4001, dtype: object
4002 1468 11 ORtg Last Month    133.455
Name: 4002, dtype: object
4003 474 9 ORtg Last Month    52.6667
Name: 4003, dtype: object
4004 1367 11 ORtg Last Month    124.273
Name: 4004, dtype: object
4005 1164 11 ORtg Last Month    105.818
Name: 4005, dtype: object
4006 451 8 ORtg Last Month    56.375
Name: 4006, dtype: object
4007 986 10 ORtg Last Month    98.6
Name: 4007, dtype: object
4008 1331 11 ORtg Last Month    121
Name: 4008, dtype: object
4009 1236 11 ORtg Last Month    112.364
Name: 4009, dtype: object
4010 1066 11 ORtg Last Month    96.9091
Name: 4010, dtype: object
4011 1197 11 ORtg Last Month    108.818
Name: 4011, dtype: object
4012 1056 11 ORtg Last Month    96
Name: 4012, dtype: object
4013 1439 11 ORtg Last Month    130.818
Name: 4013, dtype: object
4014 715 10 ORtg Last Month    71.5
Name: 4014, dtype: object
4015 247 11 ORtg Last Month    22.4545
Name: 4015, dtype: object
4016 1163 11 ORtg Last Month    105.727
Name: 4016, dtype: object
4017 1176 11 ORtg Last Month    106.909
Name: 4017, dtype: object
4018 1017 11 ORtg Last Month    92.4545
Name: 4018, dtype: object
4019 1280 11 ORtg Last Month    116.364
Name: 4019, dtype: object
4020 631 9 ORtg Last Month    70.1111
Name: 4020, dtype: object
4021 1069 11 ORtg Last Month    97.1818
Name: 4021, dtype: object
4022 873 11 ORtg Last Month    79.3636
Name: 4022, dtype: object
4023 1386 11 ORtg Last Month    126
Name: 4023, dtype: object
4024 167 11 ORtg Last Month    15.1818
Name: 4024, dtype: object
4025 1342 11 ORtg Last Month    122
Name: 4025, dtype: object
4026 1162 11 ORtg Last Month    105.636
Name: 4026, dtype: object
4027 1143 11 ORtg Last Month    103.909
Name: 4027, dtype: object
4028 987 10 ORtg Last Month    98.7
Name: 4028, dtype: object
4029 1044 10 ORtg Last Month    104.4
Name: 4029, dtype: object
4030 548 10 ORtg Last Month    54.8
Name: 4030, dtype: object
4031 0 1 ORtg Last Month    0
Name: 4031, dtype: object
4032 358 9 ORtg Last Month    39.7778
Name: 4032, dtype: object
4033 689 10 ORtg Last Month    68.9
Name: 4033, dtype: object
4034 523 8 ORtg Last Month    65.375
Name: 4034, dtype: object
4035 1047 10 ORtg Last Month    104.7
Name: 4035, dtype: object
4036 1109 10 ORtg Last Month    110.9
Name: 4036, dtype: object
4037 1111 10 ORtg Last Month    111.1
Name: 4037, dtype: object
4038 555 9 ORtg Last Month    61.6667
Name: 4038, dtype: object
4039 1328 12 ORtg Last Month    110.667
Name: 4039, dtype: object
4040 1200 12 ORtg Last Month    100
Name: 4040, dtype: object
4041 1228 12 ORtg Last Month    102.333
Name: 4041, dtype: object
4042 479 12 ORtg Last Month    39.9167
Name: 4042, dtype: object
4043 1285 12 ORtg Last Month    107.083
Name: 4043, dtype: object
4044 1227 12 ORtg Last Month    102.25
Name: 4044, dtype: object
4045 1044 11 ORtg Last Month    94.9091
Name: 4045, dtype: object
4046 1238 12 ORtg Last Month    103.167
Name: 4046, dtype: object
4047 1413 11 ORtg Last Month    128.455
Name: 4047, dtype: object
4048 1260 12 ORtg Last Month    105
Name: 4048, dtype: object
4049 629 12 ORtg Last Month    52.4167
Name: 4049, dtype: object
4050 1037 10 ORtg Last Month    103.7
Name: 4050, dtype: object
4051 1085 10 ORtg Last Month    108.5
Name: 4051, dtype: object
4052 1176 10 ORtg Last Month    117.6
Name: 4052, dtype: object
4053 585 7 ORtg Last Month    83.5714
Name: 4053, dtype: object
4054 560 9 ORtg Last Month    62.2222
Name: 4054, dtype: object
4055 265 10 ORtg Last Month    26.5
Name: 4055, dtype: object
4056 93 5 ORtg Last Month    18.6
Name: 4056, dtype: object
4057 0 10 ORtg Last Month    0
Name: 4057, dtype: object
4058 960 9 ORtg Last Month    106.667
Name: 4058, dtype: object
4059 1041 10 ORtg Last Month    104.1
Name: 4059, dtype: object
4060 1210 10 ORtg Last Month    121
Name: 4060, dtype: object
4061 1416 12 ORtg Last Month    118
Name: 4061, dtype: object
4062 1057 11 ORtg Last Month    96.0909
Name: 4062, dtype: object
4063 861 12 ORtg Last Month    71.75
Name: 4063, dtype: object
4064 42 1 ORtg Last Month    42
Name: 4064, dtype: object
4065 1104 9 ORtg Last Month    122.667
Name: 4065, dtype: object
4066 1477 12 ORtg Last Month    123.083
Name: 4066, dtype: object
4067 1303 12 ORtg Last Month    108.583
Name: 4067, dtype: object
4068 441 9 ORtg Last Month    49
Name: 4068, dtype: object
4069 231 12 ORtg Last Month    19.25
Name: 4069, dtype: object
4070 59 11 ORtg Last Month    5.36364
Name: 4070, dtype: object
4071 128 12 ORtg Last Month    10.6667
Name: 4071, dtype: object
4072 1289 12 ORtg Last Month    107.417
Name: 4072, dtype: object
4073 1333 12 ORtg Last Month    111.083
Name: 4073, dtype: object
4074 934 11 ORtg Last Month    84.9091
Name: 4074, dtype: object
4075 1360 11 ORtg Last Month    123.636
Name: 4075, dtype: object
4076 487 11 ORtg Last Month    44.2727
Name: 4076, dtype: object
4077 1097 11 ORtg Last Month    99.7273
Name: 4077, dtype: object
4078 1086 11 ORtg Last Month    98.7273
Name: 4078, dtype: object
4079 984 11 ORtg Last Month    89.4545
Name: 4079, dtype: object
4080 706 9 ORtg Last Month    78.4444
Name: 4080, dtype: object
4081 0 5 ORtg Last Month    0
Name: 4081, dtype: object
4082 70 11 ORtg Last Month    6.36364
Name: 4082, dtype: object
4083 1226 11 ORtg Last Month    111.455
Name: 4083, dtype: object

4084 1101 11 ORtg Last Month    100.091
Name: 4084, dtype: object
4085 504 11 ORtg Last Month    45.8182
Name: 4085, dtype: object
4086 1293 11 ORtg Last Month    117.545
Name: 4086, dtype: object
4087 1148 12 ORtg Last Month    95.6667
Name: 4087, dtype: object
4088 1289 12 ORtg Last Month    107.417
Name: 4088, dtype: object
4089 1288 11 ORtg Last Month    117.091
Name: 4089, dtype: object
4090 296 11 ORtg Last Month    26.9091
Name: 4090, dtype: object
4091 1137 12 ORtg Last Month    94.75
Name: 4091, dtype: object
4092 1291 12 ORtg Last Month    107.583
Name: 4092, dtype: object
4093 1232 12 ORtg Last Month    102.667
Name: 4093, dtype: object
4094 309 2 ORtg Last Month    154.5
Name: 4094, dtype: object
4095 215 11 ORtg Last Month    19.5455
Name: 4095, dtype: object
4096 1360 12 ORtg Last Month    113.333
Name: 4096, dtype: object
4097 1591 12 ORtg Last Month    132.583
Name: 4097, dtype: object
4098 1193 11 ORtg Last Month    108.455
Name: 4098, dtype: object
4099 801 6 ORtg Last Month    133.5
Name: 4099, dtype: object
4100 858 11 ORtg Last Month    78
Name: 4100, dtype: object
4101 1211 11 ORtg Last Month    110.091
Name: 4101, dtype: object
4102 1276 11 ORtg Last Month    116
Name: 4102, dtype: object
4103 1000 9 ORtg Last Month    111.111
Name: 4103, dtype: object
4104 1190 11 ORtg Last Month    108.182
Name: 4104, dtype: object
4105 1117 11 ORtg Last Month    101.545
Name: 4105, dtype: object
4106 578 11 ORtg Last Month    52.5455
Name: 4106, dtype: object
4107 1290 11 ORtg Last Month    117.273
Name: 4107, dtype: object
4108 611 5 ORtg Last Month    122.2
Name: 4108, dtype: object
4109 446 9 ORtg Last Month    49.5556
Name: 4109, dtype: object
4110 990 11 ORtg Last Month    90
Name: 4110, dtype: object
4111 988 9 ORtg Last Month    109.778
Name: 4111, dtype: object
4112 791 8 ORtg Last Month    98.875
Name: 4112, dtype: object
4113 1323 11 ORtg Last Month    120.273
Name: 4113, dtype: object
4114 826 11 ORtg Last Month    75.0909
Name: 4114, dtype: object
4115 1046 11 ORtg Last Month    95.0909
Name: 4115, dtype: object
4116 1343 11 ORtg Last Month    122.091
Name: 4116, dtype: object
4117 994 11 ORtg Last Month    90.3636
Name: 4117, dtype: object
4118 1125 11 ORtg Last Month    102.273
Name: 4118, dtype: object
4119 171 8 ORtg Last Month    21.375
Name: 4119, dtype: object
4120 1394 11 ORtg Last Month    126.727
Name: 4120, dtype: object
4121 1149 10 ORtg Last Month    114.9
Name: 4121, dtype: object
4122 1102 11 ORtg Last Month    100.182
Name: 4122, dtype: object
4123 1032 10 ORtg Last Month    103.2
Name: 4123, dtype: object
4124 1092 10 ORtg Last Month    109.2
Name: 4124, dtype: object
4125 846 10 ORtg Last Month    84.6
Name: 4125, dtype: object
4126 1052 10 ORtg Last Month    105.2
Name: 4126, dtype: object
4127 992 10 ORtg Last Month    99.2
Name: 4127, dtype: object
4128 953 10 ORtg Last Month    95.3
Name: 4128, dtype: object
4129 974 9 ORtg Last Month    108.222
Name: 4129, dtype: object
4130 857 9 ORtg Last Month    95.2222
Name: 4130, dtype: object
4131 391 3 ORtg Last Month    130.333
Name: 4131, dtype: object
4132 693 10 ORtg Last Month    69.3
Name: 4132, dtype: object
4133 211 10 ORtg Last Month    21.1
Name: 4133, dtype: object
4134 964 10 ORtg Last Month    96.4
Name: 4134, dtype: object
4135 1249 12 ORtg Last Month    104.083
Name: 4135, dtype: object
4136 1410 12 ORtg Last Month    117.5
Name: 4136, dtype: object
4137 820 9 ORtg Last Month    91.1111
Name: 4137, dtype: object
4138 1485 12 ORtg Last Month    123.75
Name: 4138, dtype: object
4139 108 1 ORtg Last Month    108
Name: 4139, dtype: object
4140 515 7 ORtg Last Month    73.5714
Name: 4140, dtype: object
4141 875 11 ORtg Last Month    79.5455
Name: 4141, dtype: object
4142 1329 12 ORtg Last Month    110.75
Name: 4142, dtype: object
4143 1319 12 ORtg Last Month    109.917
Name: 4143, dtype: object
4144 1466 12 ORtg Last Month    122.167
Name: 4144, dtype: object
4145 474 10 ORtg Last Month    47.4
Name: 4145, dtype: object
4146 1605 12 ORtg Last Month    133.75
Name: 4146, dtype: object
4147 826 9 ORtg Last Month    91.7778
Name: 4147, dtype: object
4148 1262 12 ORtg Last Month    105.167
Name: 4148, dtype: object
4149 1485 12 ORtg Last Month    123.75
Name: 4149, dtype: object
4150 462 9 ORtg Last Month    51.3333
Name: 4150, dtype: object
4151 1285 12 ORtg Last Month    107.083
Name: 4151, dtype: object
4152 969 12 ORtg Last Month    80.75
Name: 4152, dtype: object
4153 1163 12 ORtg Last Month    96.9167
Name: 4153, dtype: object
4154 1371 12 ORtg Last Month    114.25
Name: 4154, dtype: object
4155 1111 12 ORtg Last Month    92.5833
Name: 4155, dtype: object
4156 614 12 ORtg Last Month    51.1667
Name: 4156, dtype: object
4157 1137 11 ORtg Last Month    103.364
Name: 4157, dtype: object
4158 1077 11 ORtg Last Month    97.9091
Name: 4158, dtype: object
4159 1223 11 ORtg Last Month    111.182
Name: 4159, dtype: object
4160 741 10 ORtg Last Month    74.1
Name: 4160, dtype: object
4161 109 5 ORtg Last Month    21.8
Name: 4161, dtype: object
4162 1232 11 ORtg Last Month    112
Name: 4162, dtype: object
4163 825 11 ORtg Last Month    75
Name: 4163, dtype: object
4164 887 10 ORtg Last Month    88.7
Name: 4164, dtype: object
4165 1219 11 ORtg Last Month    110.818
Name: 4165, dtype: object
4166 958 9 ORtg Last Month    106.444
Name: 4166, dtype: object
4167 1028 11 ORtg Last Month    93.4545
Name: 4167, dtype: object
4168 131 8 ORtg Last Month    16.375
Name: 4168, dtype: object
4169 1163 11 ORtg Last Month    105.727
Name: 4169, dtype: object
4170 29 1 ORtg Last Month    29
Name: 4170, dtype: object
4171 966 11 ORtg Last Month    87.8182
Name: 4171, dtype: object
4172 1173 11 ORtg Last Month    106.636
Name: 4172, dtype: object
4173 1278 11 ORtg Last Month    116.182
Name: 4173, dtype: object
4174 652 7 ORtg Last Month    93.1429
Name: 4174, dtype: object
4175 206 11 ORtg Last Month    18.7273
Name: 4175, dtype: object
4176 1314 11 ORtg Last Month    119.455
Name: 4176, dtype: object
4177 1388 11 ORtg Last Month    126.182
Name: 4177, dtype: object
4178 28 11 ORtg Last Month    2.54545
Name: 4178, dtype: object
4179 647 11 ORtg Last Month    58.8182
Name: 4179, dtype: object
4180 1251 12 ORtg Last Month    104.25
Name: 4180, dtype: object
4181 166 5 ORtg Last Month    33.2
Name: 4181, dtype: object
4182 1542 12 ORtg Last Month    128.5
Name: 4182, dtype: object
4183 1273 12 ORtg Last Month    106.083
Name: 4183, dtype: object
4184 1177 10 ORtg Last Month    117.7
Name: 4184, dtype: object
4185 1364 12 ORtg Last Month    113.667
Name: 4185, dtype: object
4186 1234 12 ORtg Last Month    102.833
Name: 4186, dtype: object
4187 0 0 ORtg Last Month    0
Name: 4187, dtype: object
4188 1707 12 ORtg Last Month    142.25
Name: 4188, dtype: object
4189 1684 12 ORtg Last Month    140.333
Name: 4189, dtype: object
4190 756 7 ORtg Last Month    108
Name: 4190, dtype: object
4191 637 8 ORtg Last Month    79.625
Name: 4191, dtype: object
4192 825 8 ORtg Last Month    103.125
Name: 4192, dtype: object
4193 510 9 ORtg Last Month    56.6667
Name: 4193, dtype: object
4194 528 10 ORtg Last Month    52.8
Name: 4194, dtype: object
4195 520 10 ORtg Last Month    52
Name: 4195, dtype: object
4196 1289 10 ORtg Last Month    128.9
Name: 4196, dtype: object
4197 925 10 ORtg Last Month    92.5
Name: 4197, dtype: object
4198 786 7 ORtg Last Month    112.286
Name: 4198, dtype: object
4199 1186 10 ORtg Last Month    118.6
Name: 4199, dtype: object
4200 165 5 ORtg Last Month    33
Name: 4200, dtype: object
4201 1160 11 ORtg Last Month    105.455
Name: 4201, dtype: object
4202 1097 11 ORtg Last Month    99.7273
Name: 4202, dtype: object
4203 526 11 ORtg Last Month    47.8182
Name: 4203, dtype: object
4204 0 2 ORtg Last Month    0
Name: 4204, dtype: object
4205 791 10 ORtg Last Month    79.1
Name: 4205, dtype: object
4206 757 8 ORtg Last Month    94.625
Name: 4206, dtype: object
4207 1339 11 ORtg Last Month    121.727
Name: 4207, dtype: object
4208 1405 11 ORtg Last Month    127.727
Name: 4208, dtype: object
4209 1582 11 ORtg Last Month    143.818
Name: 4209, dtype: object
4210 1304 11 ORtg Last Month    118.545
Name: 4210, dtype: object
4211 790 11 ORtg Last Month    71.8182
Name: 4211, dtype: object

4212 1304 11 ORtg Last Month    118.545
Name: 4212, dtype: object
4213 1344 11 ORtg Last Month    122.182
Name: 4213, dtype: object
4214 694 7 ORtg Last Month    99.1429
Name: 4214, dtype: object
4215 883 8 ORtg Last Month    110.375
Name: 4215, dtype: object
4216 980 11 ORtg Last Month    89.0909
Name: 4216, dtype: object
4217 1211 11 ORtg Last Month    110.091
Name: 4217, dtype: object
4218 377 11 ORtg Last Month    34.2727
Name: 4218, dtype: object
4219 1297 11 ORtg Last Month    117.909
Name: 4219, dtype: object
4220 1210 11 ORtg Last Month    110
Name: 4220, dtype: object
4221 1004 11 ORtg Last Month    91.2727
Name: 4221, dtype: object
4222 76 7 ORtg Last Month    10.8571
Name: 4222, dtype: object
4223 1360 11 ORtg Last Month    123.636
Name: 4223, dtype: object
4224 746 9 ORtg Last Month    82.8889
Name: 4224, dtype: object
4225 425 11 ORtg Last Month    38.6364
Name: 4225, dtype: object
4226 1028 10 ORtg Last Month    102.8
Name: 4226, dtype: object
4227 900 10 ORtg Last Month    90
Name: 4227, dtype: object
4228 1249 10 ORtg Last Month    124.9
Name: 4228, dtype: object
4229 930 10 ORtg Last Month    93
Name: 4229, dtype: object
4230 942 10 ORtg Last Month    94.2
Name: 4230, dtype: object
4231 1168 10 ORtg Last Month    116.8
Name: 4231, dtype: object
4232 0 2 ORtg Last Month    0
Name: 4232, dtype: object
4233 1094 10 ORtg Last Month    109.4
Name: 4233, dtype: object
4234 1067 10 ORtg Last Month    106.7
Name: 4234, dtype: object
4235 565 9 ORtg Last Month    62.7778
Name: 4235, dtype: object
4236 0 1 ORtg Last Month    0
Name: 4236, dtype: object
4237 1129 10 ORtg Last Month    112.9
Name: 4237, dtype: object
4238 1124 11 ORtg Last Month    102.182
Name: 4238, dtype: object
4239 876 9 ORtg Last Month    97.3333
Name: 4239, dtype: object
4240 1168 11 ORtg Last Month    106.182
Name: 4240, dtype: object
4241 1283 11 ORtg Last Month    116.636
Name: 4241, dtype: object
4242 344 11 ORtg Last Month    31.2727
Name: 4242, dtype: object
4243 665 8 ORtg Last Month    83.125
Name: 4243, dtype: object
4244 707 10 ORtg Last Month    70.7
Name: 4244, dtype: object
4245 93 6 ORtg Last Month    15.5
Name: 4245, dtype: object
4246 0 11 ORtg Last Month    0
Name: 4246, dtype: object
4247 1047 10 ORtg Last Month    104.7
Name: 4247, dtype: object
4248 1314 11 ORtg Last Month    119.455
Name: 4248, dtype: object
4249 1198 11 ORtg Last Month    108.909
Name: 4249, dtype: object
4250 1307 11 ORtg Last Month    118.818
Name: 4250, dtype: object
4251 1305 11 ORtg Last Month    118.636
Name: 4251, dtype: object
4252 1196 11 ORtg Last Month    108.727
Name: 4252, dtype: object
4253 448 11 ORtg Last Month    40.7273
Name: 4253, dtype: object
4254 330 10 ORtg Last Month    33
Name: 4254, dtype: object
4255 1116 10 ORtg Last Month    111.6
Name: 4255, dtype: object
4256 1147 11 ORtg Last Month    104.273
Name: 4256, dtype: object
4257 1295 11 ORtg Last Month    117.727
Name: 4257, dtype: object
4258 1513 11 ORtg Last Month    137.545
Name: 4258, dtype: object
4259 1183 11 ORtg Last Month    107.545
Name: 4259, dtype: object
4260 1162 11 ORtg Last Month    105.636
Name: 4260, dtype: object
4261 1388 11 ORtg Last Month    126.182
Name: 4261, dtype: object
4262 574 9 ORtg Last Month    63.7778
Name: 4262, dtype: object
4263 1201 11 ORtg Last Month    109.182
Name: 4263, dtype: object
4264 902 11 ORtg Last Month    82
Name: 4264, dtype: object
4265 750 10 ORtg Last Month    75
Name: 4265, dtype: object
4266 518 11 ORtg Last Month    47.0909
Name: 4266, dtype: object
4267 1281 11 ORtg Last Month    116.455
Name: 4267, dtype: object
4268 868 9 ORtg Last Month    96.4444
Name: 4268, dtype: object
4269 736 7 ORtg Last Month    105.143
Name: 4269, dtype: object
4270 504 9 ORtg Last Month    56
Name: 4270, dtype: object
4271 250 6 ORtg Last Month    41.6667
Name: 4271, dtype: object
4272 686 11 ORtg Last Month    62.3636
Name: 4272, dtype: object
4273 911 10 ORtg Last Month    91.1
Name: 4273, dtype: object
4274 1298 11 ORtg Last Month    118
Name: 4274, dtype: object
4275 445 10 ORtg Last Month    44.5
Name: 4275, dtype: object
4276 434 6 ORtg Last Month    72.3333
Name: 4276, dtype: object
4277 1282 12 ORtg Last Month    106.833
Name: 4277, dtype: object
4278 1071 12 ORtg Last Month    89.25
Name: 4278, dtype: object
4279 1352 12 ORtg Last Month    112.667
Name: 4279, dtype: object
4280 544 12 ORtg Last Month    45.3333
Name: 4280, dtype: object
4281 1163 12 ORtg Last Month    96.9167
Name: 4281, dtype: object
4282 993 12 ORtg Last Month    82.75
Name: 4282, dtype: object
4283 323 5 ORtg Last Month    64.6
Name: 4283, dtype: object
4284 1372 12 ORtg Last Month    114.333
Name: 4284, dtype: object
4285 1281 12 ORtg Last Month    106.75
Name: 4285, dtype: object
4286 1405 12 ORtg Last Month    117.083
Name: 4286, dtype: object
4287 1154 11 ORtg Last Month    104.909
Name: 4287, dtype: object
4288 438 11 ORtg Last Month    39.8182
Name: 4288, dtype: object
4289 1109 10 ORtg Last Month    110.9
Name: 4289, dtype: object
4290 1157 11 ORtg Last Month    105.182
Name: 4290, dtype: object
4291 1238 11 ORtg Last Month    112.545
Name: 4291, dtype: object
4292 1001 11 ORtg Last Month    91
Name: 4292, dtype: object
4293 1046 11 ORtg Last Month    95.0909
Name: 4293, dtype: object
4294 0 9 ORtg Last Month    0
Name: 4294, dtype: object
4295 1208 10 ORtg Last Month    120.8
Name: 4295, dtype: object
4296 1557 11 ORtg Last Month    141.545
Name: 4296, dtype: object
4297 1193 11 ORtg Last Month    108.455
Name: 4297, dtype: object
4298 1422 12 ORtg Last Month    118.5
Name: 4298, dtype: object
4299 1348 12 ORtg Last Month    112.333
Name: 4299, dtype: object
4300 296 12 ORtg Last Month    24.6667
Name: 4300, dtype: object
4301 1249 13 ORtg Last Month    96.0769
Name: 4301, dtype: object
4302 1356 13 ORtg Last Month    104.308
Name: 4302, dtype: object
4303 1400 13 ORtg Last Month    107.692
Name: 4303, dtype: object
4304 314 12 ORtg Last Month    26.1667
Name: 4304, dtype: object
4305 428 3 ORtg Last Month    142.667
Name: 4305, dtype: object
4306 1507 13 ORtg Last Month    115.923
Name: 4306, dtype: object
4307 1742 13 ORtg Last Month    134
Name: 4307, dtype: object
4308 877 8 ORtg Last Month    109.625
Name: 4308, dtype: object
4309 838 8 ORtg Last Month    104.75
Name: 4309, dtype: object
4310 953 10 ORtg Last Month    95.3
Name: 4310, dtype: object
4311 720 9 ORtg Last Month    80
Name: 4311, dtype: object
4312 788 10 ORtg Last Month    78.8
Name: 4312, dtype: object
4313 515 8 ORtg Last Month    64.375
Name: 4313, dtype: object
4314 984 10 ORtg Last Month    98.4
Name: 4314, dtype: object
4315 766 11 ORtg Last Month    69.6364
Name: 4315, dtype: object
4316 1122 11 ORtg Last Month    102
Name: 4316, dtype: object
4317 1022 11 ORtg Last Month    92.9091
Name: 4317, dtype: object
4318 411 11 ORtg Last Month    37.3636
Name: 4318, dtype: object
4319 1320 11 ORtg Last Month    120
Name: 4319, dtype: object
4320 522 11 ORtg Last Month    47.4545
Name: 4320, dtype: object
4321 861 11 ORtg Last Month    78.2727
Name: 4321, dtype: object
4322 1354 12 ORtg Last Month    112.833
Name: 4322, dtype: object
4323 888 7 ORtg Last Month    126.857
Name: 4323, dtype: object
4324 1033 12 ORtg Last Month    86.0833
Name: 4324, dtype: object
4325 1317 12 ORtg Last Month    109.75
Name: 4325, dtype: object
4326 1270 12 ORtg Last Month    105.833
Name: 4326, dtype: object
4327 100 1 ORtg Last Month    100
Name: 4327, dtype: object
4328 1105 10 ORtg Last Month    110.5
Name: 4328, dtype: object
4329 1359 12 ORtg Last Month    113.25
Name: 4329, dtype: object
4330 1174 12 ORtg Last Month    97.8333
Name: 4330, dtype: object
4331 578 12 ORtg Last Month    48.1667
Name: 4331, dtype: object
4332 1425 12 ORtg Last Month    118.75
Name: 4332, dtype: object
4333 777 6 ORtg Last Month    129.5
Name: 4333, dtype: object
4334 28 1 ORtg Last Month    28
Name: 4334, dtype: object
4335 1068 10 ORtg Last Month    106.8
Name: 4335, dtype: object
4336 1029 10 ORtg Last Month    102.9
Name: 4336, dtype: object
4337 1198 10 ORtg Last Month    119.8
Name: 4337, dtype: object
4338 1046 10 ORtg Last Month    104.6
Name: 4338, dtype: object
4339 667 10 ORtg Last Month    66.7
Name: 4339, dtype: object
4340 1076 10 ORtg Last Month    107.6
Name: 4340, dtype: object

4341 463 10 ORtg Last Month    46.3
Name: 4341, dtype: object
4342 1028 10 ORtg Last Month    102.8
Name: 4342, dtype: object
4343 1325 10 ORtg Last Month    132.5
Name: 4343, dtype: object
4344 349 5 ORtg Last Month    69.8
Name: 4344, dtype: object
4345 774 7 ORtg Last Month    110.571
Name: 4345, dtype: object
4346 1596 12 ORtg Last Month    133
Name: 4346, dtype: object
4347 812 8 ORtg Last Month    101.5
Name: 4347, dtype: object
4348 662 12 ORtg Last Month    55.1667
Name: 4348, dtype: object
4349 351 11 ORtg Last Month    31.9091
Name: 4349, dtype: object
4350 1474 12 ORtg Last Month    122.833
Name: 4350, dtype: object
4351 981 8 ORtg Last Month    122.625
Name: 4351, dtype: object
4352 943 9 ORtg Last Month    104.778
Name: 4352, dtype: object
4353 1416 12 ORtg Last Month    118
Name: 4353, dtype: object
4354 886 11 ORtg Last Month    80.5455
Name: 4354, dtype: object
4355 1477 12 ORtg Last Month    123.083
Name: 4355, dtype: object
4356 1407 12 ORtg Last Month    117.25
Name: 4356, dtype: object
4357 294 12 ORtg Last Month    24.5
Name: 4357, dtype: object
4358 1132 11 ORtg Last Month    102.909
Name: 4358, dtype: object
4359 891 11 ORtg Last Month    81
Name: 4359, dtype: object
4360 1205 11 ORtg Last Month    109.545
Name: 4360, dtype: object
4361 1082 11 ORtg Last Month    98.3636
Name: 4361, dtype: object
4362 1162 11 ORtg Last Month    105.636
Name: 4362, dtype: object
4363 1074 10 ORtg Last Month    107.4
Name: 4363, dtype: object
4364 1144 11 ORtg Last Month    104
Name: 4364, dtype: object
4365 936 10 ORtg Last Month    93.6
Name: 4365, dtype: object
4366 479 4 ORtg Last Month    119.75
Name: 4366, dtype: object
4367 693 11 ORtg Last Month    63
Name: 4367, dtype: object
4368 211 11 ORtg Last Month    19.1818
Name: 4368, dtype: object
4369 964 11 ORtg Last Month    87.6364
Name: 4369, dtype: object
4370 1225 12 ORtg Last Month    102.083
Name: 4370, dtype: object
4371 1236 12 ORtg Last Month    103
Name: 4371, dtype: object
4372 1262 12 ORtg Last Month    105.167
Name: 4372, dtype: object
4373 1315 11 ORtg Last Month    119.545
Name: 4373, dtype: object
4374 0 2 ORtg Last Month    0
Name: 4374, dtype: object
4375 790 12 ORtg Last Month    65.8333
Name: 4375, dtype: object
4376 1139 12 ORtg Last Month    94.9167
Name: 4376, dtype: object
4377 1243 11 ORtg Last Month    113
Name: 4377, dtype: object
4378 1086 9 ORtg Last Month    120.667
Name: 4378, dtype: object
4379 1205 12 ORtg Last Month    100.417
Name: 4379, dtype: object
4380 993 12 ORtg Last Month    82.75
Name: 4380, dtype: object
4381 1219 11 ORtg Last Month    110.818
Name: 4381, dtype: object
4382 1179 12 ORtg Last Month    98.25
Name: 4382, dtype: object
4383 1251 12 ORtg Last Month    104.25
Name: 4383, dtype: object
4384 283 12 ORtg Last Month    23.5833
Name: 4384, dtype: object
4385 1220 12 ORtg Last Month    101.667
Name: 4385, dtype: object
4386 1102 11 ORtg Last Month    100.182
Name: 4386, dtype: object
4387 1308 12 ORtg Last Month    109
Name: 4387, dtype: object
4388 982 11 ORtg Last Month    89.2727
Name: 4388, dtype: object
4389 588 12 ORtg Last Month    49
Name: 4389, dtype: object
4390 408 12 ORtg Last Month    34
Name: 4390, dtype: object
4391 1270 12 ORtg Last Month    105.833
Name: 4391, dtype: object
4392 1126 9 ORtg Last Month    125.111
Name: 4392, dtype: object
4393 414 6 ORtg Last Month    69
Name: 4393, dtype: object
4394 1476 12 ORtg Last Month    123
Name: 4394, dtype: object
4395 1086 11 ORtg Last Month    98.7273
Name: 4395, dtype: object
4396 1577 12 ORtg Last Month    131.417
Name: 4396, dtype: object
4397 1358 12 ORtg Last Month    113.167
Name: 4397, dtype: object
4398 1305 12 ORtg Last Month    108.75
Name: 4398, dtype: object
4399 1176 12 ORtg Last Month    98
Name: 4399, dtype: object
4400 1171 12 ORtg Last Month    97.5833
Name: 4400, dtype: object
4401 1245 12 ORtg Last Month    103.75
Name: 4401, dtype: object
4402 1468 12 ORtg Last Month    122.333
Name: 4402, dtype: object
4403 1309 12 ORtg Last Month    109.083
Name: 4403, dtype: object
4404 1346 12 ORtg Last Month    112.167
Name: 4404, dtype: object
4405 1285 12 ORtg Last Month    107.083
Name: 4405, dtype: object
4406 1186 12 ORtg Last Month    98.8333
Name: 4406, dtype: object
4407 631 10 ORtg Last Month    63.1
Name: 4407, dtype: object
4408 1193 12 ORtg Last Month    99.4167
Name: 4408, dtype: object
4409 1513 12 ORtg Last Month    126.083
Name: 4409, dtype: object
4410 956 12 ORtg Last Month    79.6667
Name: 4410, dtype: object
4411 167 12 ORtg Last Month    13.9167
Name: 4411, dtype: object
4412 1257 12 ORtg Last Month    104.75
Name: 4412, dtype: object
4413 1466 12 ORtg Last Month    122.167
Name: 4413, dtype: object
4414 1273 12 ORtg Last Month    106.083
Name: 4414, dtype: object
4415 1162 11 ORtg Last Month    105.636
Name: 4415, dtype: object
4416 657 9 ORtg Last Month    73
Name: 4416, dtype: object
4417 1152 11 ORtg Last Month    104.727
Name: 4417, dtype: object
4418 1199 11 ORtg Last Month    109
Name: 4418, dtype: object
4419 1150 11 ORtg Last Month    104.545
Name: 4419, dtype: object
4420 820 11 ORtg Last Month    74.5455
Name: 4420, dtype: object
4421 1208 11 ORtg Last Month    109.818
Name: 4421, dtype: object
4422 842 8 ORtg Last Month    105.25
Name: 4422, dtype: object
4423 926 9 ORtg Last Month    102.889
Name: 4423, dtype: object
4424 739 9 ORtg Last Month    82.1111
Name: 4424, dtype: object
4425 510 10 ORtg Last Month    51
Name: 4425, dtype: object
4426 721 11 ORtg Last Month    65.5455
Name: 4426, dtype: object
4427 1366 11 ORtg Last Month    124.182
Name: 4427, dtype: object
4428 636 11 ORtg Last Month    57.8182
Name: 4428, dtype: object
4429 806 8 ORtg Last Month    100.75
Name: 4429, dtype: object
4430 1299 11 ORtg Last Month    118.091
Name: 4430, dtype: object
4431 165 6 ORtg Last Month    27.5
Name: 4431, dtype: object
4432 1436 13 ORtg Last Month    110.462
Name: 4432, dtype: object
4433 1328 13 ORtg Last Month    102.154
Name: 4433, dtype: object
4434 1399 13 ORtg Last Month    107.615
Name: 4434, dtype: object
4435 479 13 ORtg Last Month    36.8462
Name: 4435, dtype: object
4436 1413 13 ORtg Last Month    108.692
Name: 4436, dtype: object
4437 1294 13 ORtg Last Month    99.5385
Name: 4437, dtype: object
4438 1103 12 ORtg Last Month    91.9167
Name: 4438, dtype: object
4439 1369 13 ORtg Last Month    105.308
Name: 4439, dtype: object
4440 1552 12 ORtg Last Month    129.333
Name: 4440, dtype: object
4441 1324 13 ORtg Last Month    101.846
Name: 4441, dtype: object
4442 629 13 ORtg Last Month    48.3846
Name: 4442, dtype: object
4443 1286 12 ORtg Last Month    107.167
Name: 4443, dtype: object
4444 1115 12 ORtg Last Month    92.9167
Name: 4444, dtype: object
4445 966 9 ORtg Last Month    107.333
Name: 4445, dtype: object
4446 1484 12 ORtg Last Month    123.667
Name: 4446, dtype: object
4447 783 8 ORtg Last Month    97.875
Name: 4447, dtype: object
4448 377 12 ORtg Last Month    31.4167
Name: 4448, dtype: object
4449 1412 12 ORtg Last Month    117.667
Name: 4449, dtype: object
4450 1307 12 ORtg Last Month    108.917
Name: 4450, dtype: object
4451 1117 12 ORtg Last Month    93.0833
Name: 4451, dtype: object
4452 1481 12 ORtg Last Month    123.417
Name: 4452, dtype: object
4453 807 10 ORtg Last Month    80.7
Name: 4453, dtype: object
4454 0 2 ORtg Last Month    0
Name: 4454, dtype: object
4455 1436 12 ORtg Last Month    119.667
Name: 4455, dtype: object
4456 1399 12 ORtg Last Month    116.583
Name: 4456, dtype: object
4457 1248 12 ORtg Last Month    104
Name: 4457, dtype: object
4458 448 12 ORtg Last Month    37.3333
Name: 4458, dtype: object
4459 330 11 ORtg Last Month    30
Name: 4459, dtype: object
4460 1214 11 ORtg Last Month    110.364
Name: 4460, dtype: object
4461 1380 12 ORtg Last Month    115
Name: 4461, dtype: object
4462 1294 12 ORtg Last Month    107.833
Name: 4462, dtype: object
4463 1556 12 ORtg Last Month    129.667
Name: 4463, dtype: object
4464 1339 12 ORtg Last Month    111.583
Name: 4464, dtype: object
4465 1497 12 ORtg Last Month    124.75
Name: 4465, dtype: object
4466 1327 12 ORtg Last Month    110.583
Name: 4466, dtype: object
4467 574 10 ORtg Last Month    57.4
Name: 4467, dtype: object
4468 1463 13 ORtg Last Month    112.538
Name: 4468, dtype: object

4469 1163 13 ORtg Last Month    89.4615
Name: 4469, dtype: object
4470 544 13 ORtg Last Month    41.8462
Name: 4470, dtype: object
4471 1373 13 ORtg Last Month    105.615
Name: 4471, dtype: object
4472 538 7 ORtg Last Month    76.8571
Name: 4472, dtype: object
4473 1144 13 ORtg Last Month    88
Name: 4473, dtype: object
4474 1103 13 ORtg Last Month    84.8462
Name: 4474, dtype: object
4475 445 6 ORtg Last Month    74.1667
Name: 4475, dtype: object
4476 1486 13 ORtg Last Month    114.308
Name: 4476, dtype: object
4477 1375 13 ORtg Last Month    105.769
Name: 4477, dtype: object
4478 1534 13 ORtg Last Month    118
Name: 4478, dtype: object
4479 1126 12 ORtg Last Month    93.8333
Name: 4479, dtype: object
4480 1491 12 ORtg Last Month    124.25
Name: 4480, dtype: object
4481 487 12 ORtg Last Month    40.5833
Name: 4481, dtype: object
4482 1067 12 ORtg Last Month    88.9167
Name: 4482, dtype: object
4483 804 10 ORtg Last Month    80.4
Name: 4483, dtype: object
4484 1178 12 ORtg Last Month    98.1667
Name: 4484, dtype: object
4485 70 12 ORtg Last Month    5.83333
Name: 4485, dtype: object
4486 0 6 ORtg Last Month    0
Name: 4486, dtype: object
4487 1355 12 ORtg Last Month    112.917
Name: 4487, dtype: object
4488 1270 12 ORtg Last Month    105.833
Name: 4488, dtype: object
4489 504 12 ORtg Last Month    42
Name: 4489, dtype: object
4490 1436 12 ORtg Last Month    119.667
Name: 4490, dtype: object
4491 1240 12 ORtg Last Month    103.333
Name: 4491, dtype: object
4492 96 4 ORtg Last Month    24
Name: 4492, dtype: object
4493 29 12 ORtg Last Month    2.41667
Name: 4493, dtype: object
4494 1525 12 ORtg Last Month    127.083
Name: 4494, dtype: object
4495 1512 12 ORtg Last Month    126
Name: 4495, dtype: object
4496 1484 12 ORtg Last Month    123.667
Name: 4496, dtype: object
4497 1316 12 ORtg Last Month    109.667
Name: 4497, dtype: object
4498 1338 12 ORtg Last Month    111.5
Name: 4498, dtype: object
4499 398 12 ORtg Last Month    33.1667
Name: 4499, dtype: object
4500 1361 12 ORtg Last Month    113.417
Name: 4500, dtype: object
4501 947 12 ORtg Last Month    78.9167
Name: 4501, dtype: object
4502 1348 13 ORtg Last Month    103.692
Name: 4502, dtype: object
4503 1540 13 ORtg Last Month    118.462
Name: 4503, dtype: object
4504 959 10 ORtg Last Month    95.9
Name: 4504, dtype: object
4505 1361 13 ORtg Last Month    104.692
Name: 4505, dtype: object
4506 1375 13 ORtg Last Month    105.769
Name: 4506, dtype: object
4507 226 2 ORtg Last Month    113
Name: 4507, dtype: object
4508 1635 13 ORtg Last Month    125.769
Name: 4508, dtype: object
4509 921 12 ORtg Last Month    76.75
Name: 4509, dtype: object
4510 685 8 ORtg Last Month    85.625
Name: 4510, dtype: object
4511 873 10 ORtg Last Month    87.3
Name: 4511, dtype: object
4512 1730 13 ORtg Last Month    133.077
Name: 4512, dtype: object
4513 1631 13 ORtg Last Month    125.462
Name: 4513, dtype: object
4514 590 11 ORtg Last Month    53.6364
Name: 4514, dtype: object
4515 1367 13 ORtg Last Month    105.154
Name: 4515, dtype: object
4516 1633 13 ORtg Last Month    125.615
Name: 4516, dtype: object
4517 1081 13 ORtg Last Month    83.1538
Name: 4517, dtype: object
4518 552 10 ORtg Last Month    55.2
Name: 4518, dtype: object
4519 1364 13 ORtg Last Month    104.923
Name: 4519, dtype: object
4520 1163 13 ORtg Last Month    89.4615
Name: 4520, dtype: object
4521 1199 13 ORtg Last Month    92.2308
Name: 4521, dtype: object
4522 1450 13 ORtg Last Month    111.538
Name: 4522, dtype: object
4523 725 13 ORtg Last Month    55.7692
Name: 4523, dtype: object
4524 1137 12 ORtg Last Month    94.75
Name: 4524, dtype: object
4525 1280 12 ORtg Last Month    106.667
Name: 4525, dtype: object
4526 194 2 ORtg Last Month    97
Name: 4526, dtype: object
4527 1021 12 ORtg Last Month    85.0833
Name: 4527, dtype: object
4528 755 8 ORtg Last Month    94.375
Name: 4528, dtype: object
4529 1309 12 ORtg Last Month    109.083
Name: 4529, dtype: object
4530 1417 12 ORtg Last Month    118.083
Name: 4530, dtype: object
4531 206 12 ORtg Last Month    17.1667
Name: 4531, dtype: object
4532 1431 12 ORtg Last Month    119.25
Name: 4532, dtype: object
4533 1488 12 ORtg Last Month    124
Name: 4533, dtype: object
4534 28 12 ORtg Last Month    2.33333
Name: 4534, dtype: object
4535 1344 13 ORtg Last Month    103.385
Name: 4535, dtype: object
4536 809 12 ORtg Last Month    67.4167
Name: 4536, dtype: object
4537 459 4 ORtg Last Month    114.75
Name: 4537, dtype: object
4538 304 6 ORtg Last Month    50.6667
Name: 4538, dtype: object
4539 1692 13 ORtg Last Month    130.154
Name: 4539, dtype: object
4540 1273 11 ORtg Last Month    115.727
Name: 4540, dtype: object
4541 1454 13 ORtg Last Month    111.846
Name: 4541, dtype: object
4542 1363 13 ORtg Last Month    104.846
Name: 4542, dtype: object
4543 1391 13 ORtg Last Month    107
Name: 4543, dtype: object
4544 1151 11 ORtg Last Month    104.636
Name: 4544, dtype: object
4545 1745 13 ORtg Last Month    134.231
Name: 4545, dtype: object
4546 1904 13 ORtg Last Month    146.462
Name: 4546, dtype: object
4547 1271 12 ORtg Last Month    105.917
Name: 4547, dtype: object
4548 1260 12 ORtg Last Month    105
Name: 4548, dtype: object
4549 640 12 ORtg Last Month    53.3333
Name: 4549, dtype: object
4550 0 3 ORtg Last Month    0
Name: 4550, dtype: object
4551 791 11 ORtg Last Month    71.9091
Name: 4551, dtype: object
4552 757 9 ORtg Last Month    84.1111
Name: 4552, dtype: object
4553 1433 12 ORtg Last Month    119.417
Name: 4553, dtype: object
4554 1496 12 ORtg Last Month    124.667
Name: 4554, dtype: object
4555 1693 12 ORtg Last Month    141.083
Name: 4555, dtype: object
4556 1444 12 ORtg Last Month    120.333
Name: 4556, dtype: object
4557 882 12 ORtg Last Month    73.5
Name: 4557, dtype: object
4558 1304 12 ORtg Last Month    108.667
Name: 4558, dtype: object
4559 1158 11 ORtg Last Month    105.273
Name: 4559, dtype: object
4560 1005 11 ORtg Last Month    91.3636
Name: 4560, dtype: object
4561 1349 11 ORtg Last Month    122.636
Name: 4561, dtype: object
4562 1034 11 ORtg Last Month    94
Name: 4562, dtype: object
4563 1279 11 ORtg Last Month    116.273
Name: 4563, dtype: object
4564 0 3 ORtg Last Month    0
Name: 4564, dtype: object
4565 91 1 ORtg Last Month    91
Name: 4565, dtype: object
4566 1155 11 ORtg Last Month    105
Name: 4566, dtype: object
4567 1212 11 ORtg Last Month    110.182
Name: 4567, dtype: object
4568 0 2 ORtg Last Month    0
Name: 4568, dtype: object
4569 648 10 ORtg Last Month    64.8
Name: 4569, dtype: object
4570 1237 11 ORtg Last Month    112.455
Name: 4570, dtype: object
4571 903 10 ORtg Last Month    90.3
Name: 4571, dtype: object
4572 1213 12 ORtg Last Month    101.083
Name: 4572, dtype: object
4573 762 9 ORtg Last Month    84.6667
Name: 4573, dtype: object
4574 1304 12 ORtg Last Month    108.667
Name: 4574, dtype: object
4575 437 12 ORtg Last Month    36.4167
Name: 4575, dtype: object
4576 1407 12 ORtg Last Month    117.25
Name: 4576, dtype: object
4577 707 11 ORtg Last Month    64.2727
Name: 4577, dtype: object
4578 93 7 ORtg Last Month    13.2857
Name: 4578, dtype: object
4579 0 12 ORtg Last Month    0
Name: 4579, dtype: object
4580 1187 11 ORtg Last Month    107.909
Name: 4580, dtype: object
4581 1298 12 ORtg Last Month    108.167
Name: 4581, dtype: object
4582 1476 12 ORtg Last Month    123
Name: 4582, dtype: object
4583 744 8 ORtg Last Month    93
Name: 4583, dtype: object
4584 1529 13 ORtg Last Month    117.615
Name: 4584, dtype: object
4585 932 13 ORtg Last Month    71.6923
Name: 4585, dtype: object
4586 1142 12 ORtg Last Month    95.1667
Name: 4586, dtype: object
4587 1572 13 ORtg Last Month    120.923
Name: 4587, dtype: object
4588 914 9 ORtg Last Month    101.556
Name: 4588, dtype: object
4589 1430 13 ORtg Last Month    110
Name: 4589, dtype: object
4590 520 10 ORtg Last Month    52
Name: 4590, dtype: object
4591 336 13 ORtg Last Month    25.8462
Name: 4591, dtype: object
4592 59 12 ORtg Last Month    4.91667
Name: 4592, dtype: object
4593 128 13 ORtg Last Month    9.84615
Name: 4593, dtype: object
4594 1415 13 ORtg Last Month    108.846
Name: 4594, dtype: object
4595 1392 13 ORtg Last Month    107.077
Name: 4595, dtype: object
4596 1303 12 ORtg Last Month    108.583
Name: 4596, dtype: object

4597 992 12 ORtg Last Month    82.6667
Name: 4597, dtype: object
4598 823 11 ORtg Last Month    74.8182
Name: 4598, dtype: object
4599 575 12 ORtg Last Month    47.9167
Name: 4599, dtype: object
4600 1443 12 ORtg Last Month    120.25
Name: 4600, dtype: object
4601 994 10 ORtg Last Month    99.4
Name: 4601, dtype: object
4602 921 8 ORtg Last Month    115.125
Name: 4602, dtype: object
4603 700 10 ORtg Last Month    70
Name: 4603, dtype: object
4604 250 7 ORtg Last Month    35.7143
Name: 4604, dtype: object
4605 686 12 ORtg Last Month    57.1667
Name: 4605, dtype: object
4606 1051 11 ORtg Last Month    95.5455
Name: 4606, dtype: object
4607 1403 12 ORtg Last Month    116.917
Name: 4607, dtype: object
4608 445 11 ORtg Last Month    40.4545
Name: 4608, dtype: object
4609 1246 12 ORtg Last Month    103.833
Name: 4609, dtype: object
4610 1163 11 ORtg Last Month    105.727
Name: 4610, dtype: object
4611 533 12 ORtg Last Month    44.4167
Name: 4611, dtype: object
4612 134 5 ORtg Last Month    26.8
Name: 4612, dtype: object
4613 1256 12 ORtg Last Month    104.667
Name: 4613, dtype: object
4614 1394 12 ORtg Last Month    116.167
Name: 4614, dtype: object
4615 1102 12 ORtg Last Month    91.8333
Name: 4615, dtype: object
4616 1107 12 ORtg Last Month    92.25
Name: 4616, dtype: object
4617 63 10 ORtg Last Month    6.3
Name: 4617, dtype: object
4618 1365 11 ORtg Last Month    124.091
Name: 4618, dtype: object
4619 1611 12 ORtg Last Month    134.25
Name: 4619, dtype: object
4620 1282 12 ORtg Last Month    106.833
Name: 4620, dtype: object
4621 1603 13 ORtg Last Month    123.308
Name: 4621, dtype: object
4622 1275 13 ORtg Last Month    98.0769
Name: 4622, dtype: object
4623 591 13 ORtg Last Month    45.4615
Name: 4623, dtype: object
4624 1238 12 ORtg Last Month    103.167
Name: 4624, dtype: object
4625 1283 13 ORtg Last Month    98.6923
Name: 4625, dtype: object
4626 1218 13 ORtg Last Month    93.6923
Name: 4626, dtype: object
4627 917 11 ORtg Last Month    83.3636
Name: 4627, dtype: object
4628 70 13 ORtg Last Month    5.38462
Name: 4628, dtype: object
4629 0 7 ORtg Last Month    0
Name: 4629, dtype: object
4630 1468 13 ORtg Last Month    112.923
Name: 4630, dtype: object
4631 593 13 ORtg Last Month    45.6154
Name: 4631, dtype: object
4632 1384 13 ORtg Last Month    106.462
Name: 4632, dtype: object
4633 1516 13 ORtg Last Month    116.615
Name: 4633, dtype: object
4634 408 13 ORtg Last Month    31.3846
Name: 4634, dtype: object
4635 1378 14 ORtg Last Month    98.4286
Name: 4635, dtype: object
4636 1416 14 ORtg Last Month    101.143
Name: 4636, dtype: object
4637 1489 13 ORtg Last Month    114.538
Name: 4637, dtype: object
4638 0 3 ORtg Last Month    0
Name: 4638, dtype: object
4639 0 5 ORtg Last Month    0
Name: 4639, dtype: object
4640 1529 14 ORtg Last Month    109.214
Name: 4640, dtype: object
4641 428 4 ORtg Last Month    107
Name: 4641, dtype: object
4642 314 13 ORtg Last Month    24.1538
Name: 4642, dtype: object
4643 1579 14 ORtg Last Month    112.786
Name: 4643, dtype: object
4644 877 9 ORtg Last Month    97.4444
Name: 4644, dtype: object
4645 1877 14 ORtg Last Month    134.071
Name: 4645, dtype: object
4646 926 9 ORtg Last Month    102.889
Name: 4646, dtype: object
4647 850 11 ORtg Last Month    77.2727
Name: 4647, dtype: object
4648 1041 11 ORtg Last Month    94.6364
Name: 4648, dtype: object
4649 833 10 ORtg Last Month    83.3
Name: 4649, dtype: object
4650 515 9 ORtg Last Month    57.2222
Name: 4650, dtype: object
4651 1116 11 ORtg Last Month    101.455
Name: 4651, dtype: object
4652 1091 12 ORtg Last Month    90.9167
Name: 4652, dtype: object
4653 1229 12 ORtg Last Month    102.417
Name: 4653, dtype: object
4654 839 12 ORtg Last Month    69.9167
Name: 4654, dtype: object
4655 411 12 ORtg Last Month    34.25
Name: 4655, dtype: object
4656 1463 12 ORtg Last Month    121.917
Name: 4656, dtype: object
4657 591 12 ORtg Last Month    49.25
Name: 4657, dtype: object
4658 861 12 ORtg Last Month    71.75
Name: 4658, dtype: object
4659 1454 13 ORtg Last Month    111.846
Name: 4659, dtype: object
4660 935 8 ORtg Last Month    116.875
Name: 4660, dtype: object
4661 1033 13 ORtg Last Month    79.4615
Name: 4661, dtype: object
4662 192 2 ORtg Last Month    96
Name: 4662, dtype: object
4663 1388 13 ORtg Last Month    106.769
Name: 4663, dtype: object
4664 1411 13 ORtg Last Month    108.538
Name: 4664, dtype: object
4665 783 13 ORtg Last Month    60.2308
Name: 4665, dtype: object
4666 1350 13 ORtg Last Month    103.846
Name: 4666, dtype: object
4667 1204 11 ORtg Last Month    109.455
Name: 4667, dtype: object
4668 1242 13 ORtg Last Month    95.5385
Name: 4668, dtype: object
4669 1500 13 ORtg Last Month    115.385
Name: 4669, dtype: object
4670 446 10 ORtg Last Month    44.6
Name: 4670, dtype: object
4671 153 2 ORtg Last Month    76.5
Name: 4671, dtype: object
4672 1145 11 ORtg Last Month    104.091
Name: 4672, dtype: object
4673 1171 11 ORtg Last Month    106.455
Name: 4673, dtype: object
4674 1282 11 ORtg Last Month    116.545
Name: 4674, dtype: object
4675 803 9 ORtg Last Month    89.2222
Name: 4675, dtype: object
4676 1138 11 ORtg Last Month    103.455
Name: 4676, dtype: object
4677 1175 11 ORtg Last Month    106.818
Name: 4677, dtype: object
4678 818 11 ORtg Last Month    74.3636
Name: 4678, dtype: object
4679 490 11 ORtg Last Month    44.5455
Name: 4679, dtype: object
4680 1137 11 ORtg Last Month    103.364
Name: 4680, dtype: object
4681 1450 11 ORtg Last Month    131.818
Name: 4681, dtype: object
4682 985 10 ORtg Last Month    98.5
Name: 4682, dtype: object
4683 1770 13 ORtg Last Month    136.154
Name: 4683, dtype: object
4684 931 9 ORtg Last Month    103.444
Name: 4684, dtype: object
4685 937 8 ORtg Last Month    117.125
Name: 4685, dtype: object
4686 726 13 ORtg Last Month    55.8462
Name: 4686, dtype: object
4687 351 12 ORtg Last Month    29.25
Name: 4687, dtype: object
4688 1650 13 ORtg Last Month    126.923
Name: 4688, dtype: object
4689 1089 9 ORtg Last Month    121
Name: 4689, dtype: object
4690 1075 10 ORtg Last Month    107.5
Name: 4690, dtype: object
4691 1500 13 ORtg Last Month    115.385
Name: 4691, dtype: object
4692 972 12 ORtg Last Month    81
Name: 4692, dtype: object
4693 1518 13 ORtg Last Month    116.769
Name: 4693, dtype: object
4694 1627 13 ORtg Last Month    125.154
Name: 4694, dtype: object
4695 294 13 ORtg Last Month    22.6154
Name: 4695, dtype: object
4696 1089 10 ORtg Last Month    108.9
Name: 4696, dtype: object
4697 896 9 ORtg Last Month    99.5556
Name: 4697, dtype: object
4698 1104 12 ORtg Last Month    92
Name: 4698, dtype: object
4699 1349 12 ORtg Last Month    112.417
Name: 4699, dtype: object
4700 826 12 ORtg Last Month    68.8333
Name: 4700, dtype: object
4701 1220 12 ORtg Last Month    101.667
Name: 4701, dtype: object
4702 1475 12 ORtg Last Month    122.917
Name: 4702, dtype: object
4703 1056 12 ORtg Last Month    88
Name: 4703, dtype: object
4704 1160 12 ORtg Last Month    96.6667
Name: 4704, dtype: object
4705 171 9 ORtg Last Month    19
Name: 4705, dtype: object
4706 1577 12 ORtg Last Month    131.417
Name: 4706, dtype: object
4707 1350 11 ORtg Last Month    122.727
Name: 4707, dtype: object
4708 1102 12 ORtg Last Month    91.8333
Name: 4708, dtype: object
4709 1270 12 ORtg Last Month    105.833
Name: 4709, dtype: object
4710 1330 12 ORtg Last Month    110.833
Name: 4710, dtype: object
4711 1082 12 ORtg Last Month    90.1667
Name: 4711, dtype: object
4712 1033 12 ORtg Last Month    86.0833
Name: 4712, dtype: object
4713 1305 12 ORtg Last Month    108.75
Name: 4713, dtype: object
4714 1000 11 ORtg Last Month    90.9091
Name: 4714, dtype: object
4715 1189 11 ORtg Last Month    108.091
Name: 4715, dtype: object
4716 1222 12 ORtg Last Month    101.833
Name: 4716, dtype: object
4717 594 5 ORtg Last Month    118.8
Name: 4717, dtype: object
4718 828 12 ORtg Last Month    69
Name: 4718, dtype: object
4719 211 12 ORtg Last Month    17.5833
Name: 4719, dtype: object
4720 964 12 ORtg Last Month    80.3333
Name: 4720, dtype: object
4721 1338 13 ORtg Last Month    102.923
Name: 4721, dtype: object
4722 1334 13 ORtg Last Month    102.615
Name: 4722, dtype: object
4723 1315 13 ORtg Last Month    101.154
Name: 4723, dtype: object

4724 1327 12 ORtg Last Month    110.583
Name: 4724, dtype: object
4725 790 13 ORtg Last Month    60.7692
Name: 4725, dtype: object
4726 0 3 ORtg Last Month    0
Name: 4726, dtype: object
4727 1287 13 ORtg Last Month    99
Name: 4727, dtype: object
4728 1086 10 ORtg Last Month    108.6
Name: 4728, dtype: object
4729 1293 12 ORtg Last Month    107.75
Name: 4729, dtype: object
4730 1294 13 ORtg Last Month    99.5385
Name: 4730, dtype: object
4731 1125 13 ORtg Last Month    86.5385
Name: 4731, dtype: object
4732 1612 13 ORtg Last Month    124
Name: 4732, dtype: object
4733 1206 12 ORtg Last Month    100.5
Name: 4733, dtype: object
4734 1316 13 ORtg Last Month    101.231
Name: 4734, dtype: object
4735 625 9 ORtg Last Month    69.4444
Name: 4735, dtype: object
4736 327 4 ORtg Last Month    81.75
Name: 4736, dtype: object
4737 1502 13 ORtg Last Month    115.538
Name: 4737, dtype: object
4738 1278 13 ORtg Last Month    98.3077
Name: 4738, dtype: object
4739 1374 13 ORtg Last Month    105.692
Name: 4739, dtype: object
4740 1324 13 ORtg Last Month    101.846
Name: 4740, dtype: object
4741 1692 13 ORtg Last Month    130.154
Name: 4741, dtype: object
4742 247 12 ORtg Last Month    20.5833
Name: 4742, dtype: object
4743 810 11 ORtg Last Month    73.6364
Name: 4743, dtype: object
4744 1330 12 ORtg Last Month    110.833
Name: 4744, dtype: object
4745 1205 12 ORtg Last Month    100.417
Name: 4745, dtype: object
4746 109 6 ORtg Last Month    18.1667
Name: 4746, dtype: object
4747 977 11 ORtg Last Month    88.8182
Name: 4747, dtype: object
4748 812 11 ORtg Last Month    73.8182
Name: 4748, dtype: object
4749 1369 12 ORtg Last Month    114.083
Name: 4749, dtype: object
4750 874 11 ORtg Last Month    79.4545
Name: 4750, dtype: object
4751 1364 12 ORtg Last Month    113.667
Name: 4751, dtype: object
4752 1005 10 ORtg Last Month    100.5
Name: 4752, dtype: object
4753 131 9 ORtg Last Month    14.5556
Name: 4753, dtype: object
4754 1086 12 ORtg Last Month    90.5
Name: 4754, dtype: object
4755 1454 13 ORtg Last Month    111.846
Name: 4755, dtype: object
4756 1432 13 ORtg Last Month    110.154
Name: 4756, dtype: object
4757 1372 13 ORtg Last Month    105.538
Name: 4757, dtype: object
4758 1288 13 ORtg Last Month    99.0769
Name: 4758, dtype: object
4759 631 11 ORtg Last Month    57.3636
Name: 4759, dtype: object
4760 1637 13 ORtg Last Month    125.923
Name: 4760, dtype: object
4761 1336 13 ORtg Last Month    102.769
Name: 4761, dtype: object
4762 956 13 ORtg Last Month    73.5385
Name: 4762, dtype: object
4763 167 13 ORtg Last Month    12.8462
Name: 4763, dtype: object
4764 1589 13 ORtg Last Month    122.231
Name: 4764, dtype: object
4765 1409 13 ORtg Last Month    108.385
Name: 4765, dtype: object
4766 1381 13 ORtg Last Month    106.231
Name: 4766, dtype: object
4767 1436 14 ORtg Last Month    102.571
Name: 4767, dtype: object
4768 902 13 ORtg Last Month    69.3846
Name: 4768, dtype: object
4769 571 5 ORtg Last Month    114.2
Name: 4769, dtype: object
4770 304 7 ORtg Last Month    43.4286
Name: 4770, dtype: object
4771 1806 14 ORtg Last Month    129
Name: 4771, dtype: object
4772 1714 14 ORtg Last Month    122.429
Name: 4772, dtype: object
4773 1415 12 ORtg Last Month    117.917
Name: 4773, dtype: object
4774 1600 14 ORtg Last Month    114.286
Name: 4774, dtype: object
4775 1462 14 ORtg Last Month    104.429
Name: 4775, dtype: object
4776 1877 14 ORtg Last Month    134.071
Name: 4776, dtype: object
4777 2015 14 ORtg Last Month    143.929
Name: 4777, dtype: object
4778 967 9 ORtg Last Month    107.444
Name: 4778, dtype: object
4779 1078 10 ORtg Last Month    107.8
Name: 4779, dtype: object
4780 796 10 ORtg Last Month    79.6
Name: 4780, dtype: object
4781 510 11 ORtg Last Month    46.3636
Name: 4781, dtype: object
4782 848 9 ORtg Last Month    94.2222
Name: 4782, dtype: object
4783 1525 12 ORtg Last Month    127.083
Name: 4783, dtype: object
4784 873 12 ORtg Last Month    72.75
Name: 4784, dtype: object
4785 737 12 ORtg Last Month    61.4167
Name: 4785, dtype: object
4786 1453 12 ORtg Last Month    121.083
Name: 4786, dtype: object
4787 165 7 ORtg Last Month    23.5714
Name: 4787, dtype: object
4788 1310 12 ORtg Last Month    109.167
Name: 4788, dtype: object
4789 1358 13 ORtg Last Month    104.462
Name: 4789, dtype: object
4790 1268 13 ORtg Last Month    97.5385
Name: 4790, dtype: object
4791 283 13 ORtg Last Month    21.7692
Name: 4791, dtype: object
4792 1055 12 ORtg Last Month    87.9167
Name: 4792, dtype: object
4793 1216 12 ORtg Last Month    101.333
Name: 4793, dtype: object
4794 1354 13 ORtg Last Month    104.154
Name: 4794, dtype: object
4795 408 13 ORtg Last Month    31.3846
Name: 4795, dtype: object
4796 588 13 ORtg Last Month    45.2308
Name: 4796, dtype: object
4797 1204 10 ORtg Last Month    120.4
Name: 4797, dtype: object
4798 1353 13 ORtg Last Month    104.077
Name: 4798, dtype: object
4799 414 7 ORtg Last Month    59.1429
Name: 4799, dtype: object
4800 1646 14 ORtg Last Month    117.571
Name: 4800, dtype: object
4801 1466 14 ORtg Last Month    104.714
Name: 4801, dtype: object
4802 1168 11 ORtg Last Month    106.182
Name: 4802, dtype: object
4803 1708 14 ORtg Last Month    122
Name: 4803, dtype: object
4804 1480 14 ORtg Last Month    105.714
Name: 4804, dtype: object
4805 322 3 ORtg Last Month    107.333
Name: 4805, dtype: object
4806 978 13 ORtg Last Month    75.2308
Name: 4806, dtype: object
4807 685 9 ORtg Last Month    76.1111
Name: 4807, dtype: object
4808 214 9 ORtg Last Month    23.7778
Name: 4808, dtype: object
4809 1004 11 ORtg Last Month    91.2727
Name: 4809, dtype: object
4810 1899 14 ORtg Last Month    135.643
Name: 4810, dtype: object
4811 590 12 ORtg Last Month    49.1667
Name: 4811, dtype: object
4812 0 0 ORtg Last Month    0
Name: 4812, dtype: object
4813 611 11 ORtg Last Month    55.5455
Name: 4813, dtype: object
4814 1449 14 ORtg Last Month    103.5
Name: 4814, dtype: object
4815 1744 14 ORtg Last Month    124.571
Name: 4815, dtype: object
4816 1458 14 ORtg Last Month    104.143
Name: 4816, dtype: object
4817 1191 14 ORtg Last Month    85.0714
Name: 4817, dtype: object
4818 1163 14 ORtg Last Month    83.0714
Name: 4818, dtype: object
4819 1291 14 ORtg Last Month    92.2143
Name: 4819, dtype: object
4820 1578 14 ORtg Last Month    112.714
Name: 4820, dtype: object
4821 1137 13 ORtg Last Month    87.4615
Name: 4821, dtype: object
4822 834 14 ORtg Last Month    59.5714
Name: 4822, dtype: object
4823 1299 13 ORtg Last Month    99.9231
Name: 4823, dtype: object
4824 185 7 ORtg Last Month    26.4286
Name: 4824, dtype: object
4825 1450 13 ORtg Last Month    111.538
Name: 4825, dtype: object
4826 1162 12 ORtg Last Month    96.8333
Name: 4826, dtype: object
4827 874 12 ORtg Last Month    72.8333
Name: 4827, dtype: object
4828 1503 13 ORtg Last Month    115.615
Name: 4828, dtype: object
4829 933 12 ORtg Last Month    77.75
Name: 4829, dtype: object
4830 1131 11 ORtg Last Month    102.818
Name: 4830, dtype: object
4831 1495 13 ORtg Last Month    115
Name: 4831, dtype: object
4832 1086 13 ORtg Last Month    83.5385
Name: 4832, dtype: object
4833 431 10 ORtg Last Month    43.1
Name: 4833, dtype: object
4834 1362 13 ORtg Last Month    104.769
Name: 4834, dtype: object
4835 1074 13 ORtg Last Month    82.6154
Name: 4835, dtype: object
4836 296 3 ORtg Last Month    98.6667
Name: 4836, dtype: object
4837 864 9 ORtg Last Month    96
Name: 4837, dtype: object
4838 1504 13 ORtg Last Month    115.692
Name: 4838, dtype: object
4839 1489 13 ORtg Last Month    114.538
Name: 4839, dtype: object
4840 206 13 ORtg Last Month    15.8462
Name: 4840, dtype: object
4841 1641 13 ORtg Last Month    126.231
Name: 4841, dtype: object
4842 1525 13 ORtg Last Month    117.308
Name: 4842, dtype: object
4843 28 13 ORtg Last Month    2.15385
Name: 4843, dtype: object
4844 1262 12 ORtg Last Month    105.167
Name: 4844, dtype: object
4845 1281 12 ORtg Last Month    106.75
Name: 4845, dtype: object
4846 694 11 ORtg Last Month    63.0909
Name: 4846, dtype: object
4847 358 10 ORtg Last Month    35.8
Name: 4847, dtype: object
4848 0 2 ORtg Last Month    0
Name: 4848, dtype: object
4849 876 12 ORtg Last Month    73
Name: 4849, dtype: object
4850 833 10 ORtg Last Month    83.3
Name: 4850, dtype: object

4851 1274 12 ORtg Last Month    106.167
Name: 4851, dtype: object
4852 1292 12 ORtg Last Month    107.667
Name: 4852, dtype: object
4853 620 10 ORtg Last Month    62
Name: 4853, dtype: object
4854 1295 12 ORtg Last Month    107.917
Name: 4854, dtype: object
4855 847 9 ORtg Last Month    94.1111
Name: 4855, dtype: object
4856 1414 13 ORtg Last Month    108.769
Name: 4856, dtype: object
4857 1571 13 ORtg Last Month    120.846
Name: 4857, dtype: object
4858 1238 13 ORtg Last Month    95.2308
Name: 4858, dtype: object
4859 1063 10 ORtg Last Month    106.3
Name: 4859, dtype: object
4860 377 13 ORtg Last Month    29
Name: 4860, dtype: object
4861 1517 13 ORtg Last Month    116.692
Name: 4861, dtype: object
4862 1246 13 ORtg Last Month    95.8462
Name: 4862, dtype: object
4863 1415 13 ORtg Last Month    108.846
Name: 4863, dtype: object
4864 76 8 ORtg Last Month    9.5
Name: 4864, dtype: object
4865 1571 13 ORtg Last Month    120.846
Name: 4865, dtype: object
4866 905 11 ORtg Last Month    82.2727
Name: 4866, dtype: object
4867 456 12 ORtg Last Month    38
Name: 4867, dtype: object
4868 1276 12 ORtg Last Month    106.333
Name: 4868, dtype: object
4869 1437 12 ORtg Last Month    119.75
Name: 4869, dtype: object
4870 1084 12 ORtg Last Month    90.3333
Name: 4870, dtype: object
4871 1117 12 ORtg Last Month    93.0833
Name: 4871, dtype: object
4872 1365 12 ORtg Last Month    113.75
Name: 4872, dtype: object
4873 91 2 ORtg Last Month    45.5
Name: 4873, dtype: object
4874 0 4 ORtg Last Month    0
Name: 4874, dtype: object
4875 1276 12 ORtg Last Month    106.333
Name: 4875, dtype: object
4876 1247 12 ORtg Last Month    103.917
Name: 4876, dtype: object
4877 0 3 ORtg Last Month    0
Name: 4877, dtype: object
4878 648 11 ORtg Last Month    58.9091
Name: 4878, dtype: object
4879 213 5 ORtg Last Month    42.6
Name: 4879, dtype: object
4880 1336 12 ORtg Last Month    111.333
Name: 4880, dtype: object
4881 1322 13 ORtg Last Month    101.692
Name: 4881, dtype: object
4882 1024 11 ORtg Last Month    93.0909
Name: 4882, dtype: object
4883 888 10 ORtg Last Month    88.8
Name: 4883, dtype: object
4884 1427 13 ORtg Last Month    109.769
Name: 4884, dtype: object
4885 553 13 ORtg Last Month    42.5385
Name: 4885, dtype: object
4886 1531 13 ORtg Last Month    117.769
Name: 4886, dtype: object
4887 0 13 ORtg Last Month    0
Name: 4887, dtype: object
4888 93 8 ORtg Last Month    11.625
Name: 4888, dtype: object
4889 1308 12 ORtg Last Month    109
Name: 4889, dtype: object
4890 1417 13 ORtg Last Month    109
Name: 4890, dtype: object
4891 1573 13 ORtg Last Month    121
Name: 4891, dtype: object
4892 1510 13 ORtg Last Month    116.154
Name: 4892, dtype: object
4893 1570 13 ORtg Last Month    120.769
Name: 4893, dtype: object
4894 1351 13 ORtg Last Month    103.923
Name: 4894, dtype: object
4895 0 0 ORtg Last Month    0
Name: 4895, dtype: object
4896 330 12 ORtg Last Month    27.5
Name: 4896, dtype: object
4897 1330 12 ORtg Last Month    110.833
Name: 4897, dtype: object
4898 1510 13 ORtg Last Month    116.154
Name: 4898, dtype: object
4899 1384 13 ORtg Last Month    106.462
Name: 4899, dtype: object
4900 1806 13 ORtg Last Month    138.923
Name: 4900, dtype: object
4901 1485 13 ORtg Last Month    114.231
Name: 4901, dtype: object
4902 574 11 ORtg Last Month    52.1818
Name: 4902, dtype: object
4903 1624 13 ORtg Last Month    124.923
Name: 4903, dtype: object
4904 1442 13 ORtg Last Month    110.923
Name: 4904, dtype: object
4905 875 9 ORtg Last Month    97.2222
Name: 4905, dtype: object
4906 1030 14 ORtg Last Month    73.5714
Name: 4906, dtype: object
4907 1269 13 ORtg Last Month    97.6154
Name: 4907, dtype: object
4908 1016 10 ORtg Last Month    101.6
Name: 4908, dtype: object
4909 1332 13 ORtg Last Month    102.462
Name: 4909, dtype: object
4910 1711 14 ORtg Last Month    122.214
Name: 4910, dtype: object
4911 1237 13 ORtg Last Month    95.1538
Name: 4911, dtype: object
4912 1524 14 ORtg Last Month    108.857
Name: 4912, dtype: object
4913 336 14 ORtg Last Month    24
Name: 4913, dtype: object
4914 59 13 ORtg Last Month    4.53846
Name: 4914, dtype: object
4915 128 14 ORtg Last Month    9.14286
Name: 4915, dtype: object
4916 1516 14 ORtg Last Month    108.286
Name: 4916, dtype: object
4917 1519 14 ORtg Last Month    108.5
Name: 4917, dtype: object
4918 1457 13 ORtg Last Month    112.077
Name: 4918, dtype: object
4919 888 12 ORtg Last Month    74
Name: 4919, dtype: object
4920 1087 13 ORtg Last Month    83.6154
Name: 4920, dtype: object
4921 575 13 ORtg Last Month    44.2308
Name: 4921, dtype: object
4922 1586 13 ORtg Last Month    122
Name: 4922, dtype: object
4923 1272 11 ORtg Last Month    115.636
Name: 4923, dtype: object
4924 803 11 ORtg Last Month    73
Name: 4924, dtype: object
4925 1097 11 ORtg Last Month    99.7273
Name: 4925, dtype: object
4926 991 9 ORtg Last Month    110.111
Name: 4926, dtype: object
4927 686 13 ORtg Last Month    52.7692
Name: 4927, dtype: object
4928 1175 12 ORtg Last Month    97.9167
Name: 4928, dtype: object
4929 1525 13 ORtg Last Month    117.308
Name: 4929, dtype: object
4930 445 12 ORtg Last Month    37.0833
Name: 4930, dtype: object
4931 1544 14 ORtg Last Month    110.286
Name: 4931, dtype: object
4932 1451 14 ORtg Last Month    103.643
Name: 4932, dtype: object
4933 581 8 ORtg Last Month    72.625
Name: 4933, dtype: object
4934 1144 14 ORtg Last Month    81.7143
Name: 4934, dtype: object
4935 781 14 ORtg Last Month    55.7857
Name: 4935, dtype: object
4936 1252 14 ORtg Last Month    89.4286
Name: 4936, dtype: object
4937 552 7 ORtg Last Month    78.8571
Name: 4937, dtype: object
4938 1218 14 ORtg Last Month    87
Name: 4938, dtype: object
4939 1599 14 ORtg Last Month    114.214
Name: 4939, dtype: object
4940 1510 14 ORtg Last Month    107.857
Name: 4940, dtype: object
4941 1583 14 ORtg Last Month    113.071
Name: 4941, dtype: object
4942 1365 13 ORtg Last Month    105
Name: 4942, dtype: object
4943 1255 12 ORtg Last Month    104.583
Name: 4943, dtype: object
4944 134 6 ORtg Last Month    22.3333
Name: 4944, dtype: object
4945 609 13 ORtg Last Month    46.8462
Name: 4945, dtype: object
4946 1394 13 ORtg Last Month    107.231
Name: 4946, dtype: object
4947 1503 13 ORtg Last Month    115.615
Name: 4947, dtype: object
4948 1198 13 ORtg Last Month    92.1538
Name: 4948, dtype: object
4949 63 11 ORtg Last Month    5.72727
Name: 4949, dtype: object
4950 1222 13 ORtg Last Month    94
Name: 4950, dtype: object
4951 1487 12 ORtg Last Month    123.917
Name: 4951, dtype: object
4952 1764 13 ORtg Last Month    135.692
Name: 4952, dtype: object
4953 1465 13 ORtg Last Month    112.692
Name: 4953, dtype: object
4954 1735 14 ORtg Last Month    123.929
Name: 4954, dtype: object
4955 1419 14 ORtg Last Month    101.357
Name: 4955, dtype: object
4956 591 14 ORtg Last Month    42.2143
Name: 4956, dtype: object
4957 1360 13 ORtg Last Month    104.615
Name: 4957, dtype: object
4958 1346 14 ORtg Last Month    96.1429
Name: 4958, dtype: object
4959 965 12 ORtg Last Month    80.4167
Name: 4959, dtype: object
4960 716 8 ORtg Last Month    89.5
Name: 4960, dtype: object
4961 1411 14 ORtg Last Month    100.786
Name: 4961, dtype: object
4962 70 14 ORtg Last Month    5
Name: 4962, dtype: object
4963 1573 14 ORtg Last Month    112.357
Name: 4963, dtype: object
4964 1443 14 ORtg Last Month    103.071
Name: 4964, dtype: object
4965 655 14 ORtg Last Month    46.7857
Name: 4965, dtype: object
4966 1640 14 ORtg Last Month    117.143
Name: 4966, dtype: object
4967 566 14 ORtg Last Month    40.4286
Name: 4967, dtype: object
4968 1466 15 ORtg Last Month    97.7333
Name: 4968, dtype: object
4969 1590 15 ORtg Last Month    106
Name: 4969, dtype: object
4970 1539 14 ORtg Last Month    109.929
Name: 4970, dtype: object
4971 0 6 ORtg Last Month    0
Name: 4971, dtype: object
4972 1650 15 ORtg Last Month    110
Name: 4972, dtype: object
4973 546 5 ORtg Last Month    109.2
Name: 4973, dtype: object
4974 1198 10 ORtg Last Month    119.8
Name: 4974, dtype: object
4975 314 14 ORtg Last Month    22.4286
Name: 4975, dtype: object
4976 1731 15 ORtg Last Month    115.4
Name: 4976, dtype: object
4977 987 10 ORtg Last Month    98.7
Name: 4977, dtype: object
4978 1939 15 ORtg Last Month    129.267
Name: 4978, dtype: object

4979 1028 10 ORtg Last Month    102.8
Name: 4979, dtype: object
4980 1096 12 ORtg Last Month    91.3333
Name: 4980, dtype: object
4981 954 12 ORtg Last Month    79.5
Name: 4981, dtype: object
4982 52 3 ORtg Last Month    17.3333
Name: 4982, dtype: object
4983 515 10 ORtg Last Month    51.5
Name: 4983, dtype: object
4984 1248 12 ORtg Last Month    104
Name: 4984, dtype: object
4985 883 13 ORtg Last Month    67.9231
Name: 4985, dtype: object
4986 1200 13 ORtg Last Month    92.3077
Name: 4986, dtype: object
4987 411 13 ORtg Last Month    31.6154
Name: 4987, dtype: object
4988 1556 13 ORtg Last Month    119.692
Name: 4988, dtype: object
4989 758 13 ORtg Last Month    58.3077
Name: 4989, dtype: object
4990 861 13 ORtg Last Month    66.2308
Name: 4990, dtype: object
4991 1558 13 ORtg Last Month    119.846
Name: 4991, dtype: object
4992 1365 13 ORtg Last Month    105
Name: 4992, dtype: object
4993 29 13 ORtg Last Month    2.23077
Name: 4993, dtype: object
4994 1648 13 ORtg Last Month    126.769
Name: 4994, dtype: object
4995 1366 13 ORtg Last Month    105.077
Name: 4995, dtype: object
4996 1583 13 ORtg Last Month    121.769
Name: 4996, dtype: object
4997 1651 13 ORtg Last Month    127
Name: 4997, dtype: object
4998 1403 13 ORtg Last Month    107.923
Name: 4998, dtype: object
4999 398 13 ORtg Last Month    30.6154
Name: 4999, dtype: object
5000 1475 13 ORtg Last Month    113.462
Name: 5000, dtype: object
5001 1036 13 ORtg Last Month    79.6923
Name: 5001, dtype: object
5002 262 3 ORtg Last Month    87.3333
Name: 5002, dtype: object
5003 1221 12 ORtg Last Month    101.75
Name: 5003, dtype: object
5004 1266 12 ORtg Last Month    105.5
Name: 5004, dtype: object
5005 1389 12 ORtg Last Month    115.75
Name: 5005, dtype: object
5006 1236 12 ORtg Last Month    103
Name: 5006, dtype: object
5007 1260 12 ORtg Last Month    105
Name: 5007, dtype: object
5008 490 12 ORtg Last Month    40.8333
Name: 5008, dtype: object
5009 870 12 ORtg Last Month    72.5
Name: 5009, dtype: object
5010 1132 11 ORtg Last Month    102.909
Name: 5010, dtype: object
5011 1224 12 ORtg Last Month    102
Name: 5011, dtype: object
5012 1576 12 ORtg Last Month    131.333
Name: 5012, dtype: object
5013 1850 14 ORtg Last Month    132.143
Name: 5013, dtype: object
5014 1068 10 ORtg Last Month    106.8
Name: 5014, dtype: object
5015 1062 9 ORtg Last Month    118
Name: 5015, dtype: object
5016 388 13 ORtg Last Month    29.8462
Name: 5016, dtype: object
5017 745 14 ORtg Last Month    53.2143
Name: 5017, dtype: object
5018 1189 10 ORtg Last Month    118.9
Name: 5018, dtype: object
5019 1813 14 ORtg Last Month    129.5
Name: 5019, dtype: object
5020 1180 11 ORtg Last Month    107.273
Name: 5020, dtype: object
5021 1572 14 ORtg Last Month    112.286
Name: 5021, dtype: object
5022 294 14 ORtg Last Month    21
Name: 5022, dtype: object
5023 1689 14 ORtg Last Month    120.643
Name: 5023, dtype: object
5024 1176 13 ORtg Last Month    90.4615
Name: 5024, dtype: object
5025 1178 11 ORtg Last Month    107.091
Name: 5025, dtype: object
5026 992 10 ORtg Last Month    99.2
Name: 5026, dtype: object
5027 1447 13 ORtg Last Month    111.308
Name: 5027, dtype: object
5028 826 13 ORtg Last Month    63.5385
Name: 5028, dtype: object
5029 1339 13 ORtg Last Month    103
Name: 5029, dtype: object
5030 1541 13 ORtg Last Month    118.538
Name: 5030, dtype: object
5031 171 10 ORtg Last Month    17.1
Name: 5031, dtype: object
5032 1115 13 ORtg Last Month    85.7692
Name: 5032, dtype: object
5033 1221 13 ORtg Last Month    93.9231
Name: 5033, dtype: object
5034 1699 13 ORtg Last Month    130.692
Name: 5034, dtype: object
5035 1504 12 ORtg Last Month    125.333
Name: 5035, dtype: object
5036 1307 13 ORtg Last Month    100.538
Name: 5036, dtype: object
5037 1427 13 ORtg Last Month    109.769
Name: 5037, dtype: object
5038 1409 13 ORtg Last Month    108.385
Name: 5038, dtype: object
5039 1236 13 ORtg Last Month    95.0769
Name: 5039, dtype: object
5040 1133 13 ORtg Last Month    87.1538
Name: 5040, dtype: object
5041 1360 12 ORtg Last Month    113.333
Name: 5041, dtype: object
5042 1463 13 ORtg Last Month    112.538
Name: 5042, dtype: object
5043 1270 13 ORtg Last Month    97.6923
Name: 5043, dtype: object
5044 1138 12 ORtg Last Month    94.8333
Name: 5044, dtype: object
5045 905 13 ORtg Last Month    69.6154
Name: 5045, dtype: object
5046 731 6 ORtg Last Month    121.833
Name: 5046, dtype: object
5047 211 13 ORtg Last Month    16.2308
Name: 5047, dtype: object
5048 964 13 ORtg Last Month    74.1538
Name: 5048, dtype: object
5049 1420 14 ORtg Last Month    101.429
Name: 5049, dtype: object
5050 1360 13 ORtg Last Month    104.615
Name: 5050, dtype: object
5051 1400 14 ORtg Last Month    100
Name: 5051, dtype: object
5052 790 14 ORtg Last Month    56.4286
Name: 5052, dtype: object
5053 1476 14 ORtg Last Month    105.429
Name: 5053, dtype: object
5054 0 4 ORtg Last Month    0
Name: 5054, dtype: object
5055 1312 13 ORtg Last Month    100.923
Name: 5055, dtype: object
5056 1195 11 ORtg Last Month    108.636
Name: 5056, dtype: object
5057 1389 14 ORtg Last Month    99.2143
Name: 5057, dtype: object
5058 1422 14 ORtg Last Month    101.571
Name: 5058, dtype: object
5059 1252 14 ORtg Last Month    89.4286
Name: 5059, dtype: object
5060 1528 14 ORtg Last Month    109.143
Name: 5060, dtype: object
5061 1473 14 ORtg Last Month    105.214
Name: 5061, dtype: object
5062 1348 14 ORtg Last Month    96.2857
Name: 5062, dtype: object
5063 1595 14 ORtg Last Month    113.929
Name: 5063, dtype: object
5064 631 12 ORtg Last Month    52.5833
Name: 5064, dtype: object
5065 1757 14 ORtg Last Month    125.5
Name: 5065, dtype: object
5066 1451 14 ORtg Last Month    103.643
Name: 5066, dtype: object
5067 167 14 ORtg Last Month    11.9286
Name: 5067, dtype: object
5068 1024 14 ORtg Last Month    73.1429
Name: 5068, dtype: object
5069 1511 14 ORtg Last Month    107.929
Name: 5069, dtype: object
5070 1694 14 ORtg Last Month    121
Name: 5070, dtype: object
5071 1500 14 ORtg Last Month    107.143
Name: 5071, dtype: object
5072 1010 14 ORtg Last Month    72.1429
Name: 5072, dtype: object
5073 1557 15 ORtg Last Month    103.8
Name: 5073, dtype: object
5074 630 6 ORtg Last Month    105
Name: 5074, dtype: object
5075 1908 15 ORtg Last Month    127.2
Name: 5075, dtype: object
5076 1542 13 ORtg Last Month    118.615
Name: 5076, dtype: object
5077 1869 15 ORtg Last Month    124.6
Name: 5077, dtype: object
5078 1717 15 ORtg Last Month    114.467
Name: 5078, dtype: object
5079 1546 15 ORtg Last Month    103.067
Name: 5079, dtype: object
5080 2007 15 ORtg Last Month    133.8
Name: 5080, dtype: object
5081 1204 12 ORtg Last Month    100.333
Name: 5081, dtype: object
5082 2150 15 ORtg Last Month    143.333
Name: 5082, dtype: object
5083 1086 10 ORtg Last Month    108.6
Name: 5083, dtype: object
5084 1205 11 ORtg Last Month    109.545
Name: 5084, dtype: object
5085 889 11 ORtg Last Month    80.8182
Name: 5085, dtype: object
5086 510 12 ORtg Last Month    42.5
Name: 5086, dtype: object
5087 1005 10 ORtg Last Month    100.5
Name: 5087, dtype: object
5088 945 13 ORtg Last Month    72.6923
Name: 5088, dtype: object
5089 819 13 ORtg Last Month    63
Name: 5089, dtype: object
5090 1657 13 ORtg Last Month    127.462
Name: 5090, dtype: object
5091 988 11 ORtg Last Month    89.8182
Name: 5091, dtype: object
5092 1595 13 ORtg Last Month    122.692
Name: 5092, dtype: object
5093 165 8 ORtg Last Month    20.625
Name: 5093, dtype: object
5094 1378 13 ORtg Last Month    106
Name: 5094, dtype: object
5095 1382 13 ORtg Last Month    106.308
Name: 5095, dtype: object
5096 0 4 ORtg Last Month    0
Name: 5096, dtype: object
5097 681 13 ORtg Last Month    52.3846
Name: 5097, dtype: object
5098 791 12 ORtg Last Month    65.9167
Name: 5098, dtype: object
5099 757 10 ORtg Last Month    75.7
Name: 5099, dtype: object
5100 1518 13 ORtg Last Month    116.769
Name: 5100, dtype: object
5101 1593 13 ORtg Last Month    122.538
Name: 5101, dtype: object
5102 1808 13 ORtg Last Month    139.077
Name: 5102, dtype: object
5103 1576 13 ORtg Last Month    121.231
Name: 5103, dtype: object
5104 1070 13 ORtg Last Month    82.3077
Name: 5104, dtype: object
5105 1304 13 ORtg Last Month    100.308
Name: 5105, dtype: object

5106 1350 13 ORtg Last Month    103.846
Name: 5106, dtype: object
5107 1393 13 ORtg Last Month    107.154
Name: 5107, dtype: object
5108 355 4 ORtg Last Month    88.75
Name: 5108, dtype: object
5109 1516 13 ORtg Last Month    116.615
Name: 5109, dtype: object
5110 908 10 ORtg Last Month    90.8
Name: 5110, dtype: object
5111 1332 13 ORtg Last Month    102.462
Name: 5111, dtype: object
5112 1342 13 ORtg Last Month    103.231
Name: 5112, dtype: object
5113 983 13 ORtg Last Month    75.6154
Name: 5113, dtype: object
5114 559 13 ORtg Last Month    43
Name: 5114, dtype: object
5115 1286 13 ORtg Last Month    98.9231
Name: 5115, dtype: object
5116 1228 12 ORtg Last Month    102.333
Name: 5116, dtype: object
5117 1643 13 ORtg Last Month    126.385
Name: 5117, dtype: object
5118 1419 12 ORtg Last Month    118.25
Name: 5118, dtype: object
5119 1258 13 ORtg Last Month    96.7692
Name: 5119, dtype: object
5120 1340 13 ORtg Last Month    103.077
Name: 5120, dtype: object
5121 196 13 ORtg Last Month    15.0769
Name: 5121, dtype: object
5122 1317 13 ORtg Last Month    101.308
Name: 5122, dtype: object
5123 1224 12 ORtg Last Month    102
Name: 5123, dtype: object
5124 1280 12 ORtg Last Month    106.667
Name: 5124, dtype: object
5125 1066 12 ORtg Last Month    88.8333
Name: 5125, dtype: object
5126 541 13 ORtg Last Month    41.6154
Name: 5126, dtype: object
5127 679 13 ORtg Last Month    52.2308
Name: 5127, dtype: object
5128 1431 13 ORtg Last Month    110.077
Name: 5128, dtype: object
5129 1198 10 ORtg Last Month    119.8
Name: 5129, dtype: object
5130 489 7 ORtg Last Month    69.8571
Name: 5130, dtype: object
5131 1753 15 ORtg Last Month    116.867
Name: 5131, dtype: object
5132 1541 15 ORtg Last Month    102.733
Name: 5132, dtype: object
5133 1277 12 ORtg Last Month    106.417
Name: 5133, dtype: object
5134 420 4 ORtg Last Month    105
Name: 5134, dtype: object
5135 1850 15 ORtg Last Month    123.333
Name: 5135, dtype: object
5136 792 10 ORtg Last Month    79.2
Name: 5136, dtype: object
5137 1569 15 ORtg Last Month    104.6
Name: 5137, dtype: object
5138 1068 14 ORtg Last Month    76.2857
Name: 5138, dtype: object
5139 214 10 ORtg Last Month    21.4
Name: 5139, dtype: object
5140 1631 14 ORtg Last Month    116.5
Name: 5140, dtype: object
5141 2024 15 ORtg Last Month    134.933
Name: 5141, dtype: object
5142 706 13 ORtg Last Month    54.3077
Name: 5142, dtype: object
5143 1522 15 ORtg Last Month    101.467
Name: 5143, dtype: object
5144 1509 15 ORtg Last Month    100.6
Name: 5144, dtype: object
5145 757 12 ORtg Last Month    63.0833
Name: 5145, dtype: object
5146 1878 15 ORtg Last Month    125.2
Name: 5146, dtype: object
5147 1201 15 ORtg Last Month    80.0667
Name: 5147, dtype: object
5148 1224 15 ORtg Last Month    81.6
Name: 5148, dtype: object
5149 1651 15 ORtg Last Month    110.067
Name: 5149, dtype: object
5150 1367 15 ORtg Last Month    91.1333
Name: 5150, dtype: object
5151 883 15 ORtg Last Month    58.8667
Name: 5151, dtype: object
5152 1304 14 ORtg Last Month    93.1429
Name: 5152, dtype: object
5153 1532 14 ORtg Last Month    109.429
Name: 5153, dtype: object
5154 1525 14 ORtg Last Month    108.929
Name: 5154, dtype: object
5155 1435 14 ORtg Last Month    102.5
Name: 5155, dtype: object
5156 479 14 ORtg Last Month    34.2143
Name: 5156, dtype: object
5157 1185 13 ORtg Last Month    91.1538
Name: 5157, dtype: object
5158 1542 14 ORtg Last Month    110.143
Name: 5158, dtype: object
5159 1422 14 ORtg Last Month    101.571
Name: 5159, dtype: object
5160 1526 14 ORtg Last Month    109
Name: 5160, dtype: object
5161 1654 13 ORtg Last Month    127.231
Name: 5161, dtype: object
5162 1445 14 ORtg Last Month    103.214
Name: 5162, dtype: object
5163 860 14 ORtg Last Month    61.4286
Name: 5163, dtype: object
5164 1400 13 ORtg Last Month    107.692
Name: 5164, dtype: object
5165 1561 13 ORtg Last Month    120.077
Name: 5165, dtype: object
5166 1198 13 ORtg Last Month    92.1538
Name: 5166, dtype: object
5167 1490 13 ORtg Last Month    114.615
Name: 5167, dtype: object
5168 1214 13 ORtg Last Month    93.3846
Name: 5168, dtype: object
5169 0 5 ORtg Last Month    0
Name: 5169, dtype: object
5170 91 3 ORtg Last Month    30.3333
Name: 5170, dtype: object
5171 1383 13 ORtg Last Month    106.385
Name: 5171, dtype: object
5172 1378 13 ORtg Last Month    106
Name: 5172, dtype: object
5173 930 8 ORtg Last Month    116.25
Name: 5173, dtype: object
5174 0 4 ORtg Last Month    0
Name: 5174, dtype: object
5175 648 12 ORtg Last Month    54
Name: 5175, dtype: object
5176 1445 13 ORtg Last Month    111.154
Name: 5176, dtype: object
5177 1484 14 ORtg Last Month    106
Name: 5177, dtype: object
5178 953 11 ORtg Last Month    86.6364
Name: 5178, dtype: object
5179 1132 12 ORtg Last Month    94.3333
Name: 5179, dtype: object
5180 1527 14 ORtg Last Month    109.071
Name: 5180, dtype: object
5181 1623 14 ORtg Last Month    115.929
Name: 5181, dtype: object
5182 697 14 ORtg Last Month    49.7857
Name: 5182, dtype: object
5183 93 9 ORtg Last Month    10.3333
Name: 5183, dtype: object
5184 839 12 ORtg Last Month    69.9167
Name: 5184, dtype: object
5185 94 14 ORtg Last Month    6.71429
Name: 5185, dtype: object
5186 1419 13 ORtg Last Month    109.154
Name: 5186, dtype: object
5187 1775 14 ORtg Last Month    126.786
Name: 5187, dtype: object
5188 1523 14 ORtg Last Month    108.786
Name: 5188, dtype: object
5189 1640 14 ORtg Last Month    117.143
Name: 5189, dtype: object
5190 1627 14 ORtg Last Month    116.214
Name: 5190, dtype: object
5191 330 13 ORtg Last Month    25.3846
Name: 5191, dtype: object
5192 448 13 ORtg Last Month    34.4615
Name: 5192, dtype: object
5193 0 1 ORtg Last Month    0
Name: 5193, dtype: object
5194 1639 14 ORtg Last Month    117.071
Name: 5194, dtype: object
5195 1457 13 ORtg Last Month    112.077
Name: 5195, dtype: object
5196 1526 14 ORtg Last Month    109
Name: 5196, dtype: object
5197 1840 14 ORtg Last Month    131.429
Name: 5197, dtype: object
5198 1625 14 ORtg Last Month    116.071
Name: 5198, dtype: object
5199 735 12 ORtg Last Month    61.25
Name: 5199, dtype: object
5200 418 4 ORtg Last Month    104.5
Name: 5200, dtype: object
5201 1709 14 ORtg Last Month    122.071
Name: 5201, dtype: object
5202 1645 14 ORtg Last Month    117.5
Name: 5202, dtype: object
5203 984 10 ORtg Last Month    98.4
Name: 5203, dtype: object
5204 1330 14 ORtg Last Month    95
Name: 5204, dtype: object
5205 1137 15 ORtg Last Month    75.8
Name: 5205, dtype: object
5206 1116 11 ORtg Last Month    101.455
Name: 5206, dtype: object
5207 1371 13 ORtg Last Month    105.462
Name: 5207, dtype: object
5208 1833 15 ORtg Last Month    122.2
Name: 5208, dtype: object
5209 1292 13 ORtg Last Month    99.3846
Name: 5209, dtype: object
5210 336 15 ORtg Last Month    22.4
Name: 5210, dtype: object
5211 1524 15 ORtg Last Month    101.6
Name: 5211, dtype: object
5212 128 15 ORtg Last Month    8.53333
Name: 5212, dtype: object
5213 1627 15 ORtg Last Month    108.467
Name: 5213, dtype: object
5214 1573 15 ORtg Last Month    104.867
Name: 5214, dtype: object
5215 1536 14 ORtg Last Month    109.714
Name: 5215, dtype: object
5216 1087 14 ORtg Last Month    77.6429
Name: 5216, dtype: object
5217 575 14 ORtg Last Month    41.0714
Name: 5217, dtype: object
5218 550 5 ORtg Last Month    110
Name: 5218, dtype: object
5219 970 13 ORtg Last Month    74.6154
Name: 5219, dtype: object
5220 1372 12 ORtg Last Month    114.333
Name: 5220, dtype: object
5221 1016 10 ORtg Last Month    101.6
Name: 5221, dtype: object
5222 1702 14 ORtg Last Month    121.571
Name: 5222, dtype: object
5223 948 12 ORtg Last Month    79
Name: 5223, dtype: object
5224 686 14 ORtg Last Month    49
Name: 5224, dtype: object
5225 1227 12 ORtg Last Month    102.25
Name: 5225, dtype: object
5226 1286 13 ORtg Last Month    98.9231
Name: 5226, dtype: object
5227 1557 14 ORtg Last Month    111.214
Name: 5227, dtype: object
5228 672 9 ORtg Last Month    74.6667
Name: 5228, dtype: object
5229 1252 15 ORtg Last Month    83.4667
Name: 5229, dtype: object
5230 1621 15 ORtg Last Month    108.067
Name: 5230, dtype: object
5231 1543 15 ORtg Last Month    102.867
Name: 5231, dtype: object
5232 1229 15 ORtg Last Month    81.9333
Name: 5232, dtype: object

5233 884 15 ORtg Last Month    58.9333
Name: 5233, dtype: object
5234 633 8 ORtg Last Month    79.125
Name: 5234, dtype: object
5235 1281 15 ORtg Last Month    85.4
Name: 5235, dtype: object
5236 1664 15 ORtg Last Month    110.933
Name: 5236, dtype: object
5237 1707 15 ORtg Last Month    113.8
Name: 5237, dtype: object
5238 1731 15 ORtg Last Month    115.4
Name: 5238, dtype: object
5239 1670 14 ORtg Last Month    119.286
Name: 5239, dtype: object
5240 1541 15 ORtg Last Month    102.733
Name: 5240, dtype: object
5241 1679 15 ORtg Last Month    111.933
Name: 5241, dtype: object
5242 682 14 ORtg Last Month    48.7143
Name: 5242, dtype: object
5243 1442 14 ORtg Last Month    103
Name: 5243, dtype: object
5244 1300 11 ORtg Last Month    118.182
Name: 5244, dtype: object
5245 1680 15 ORtg Last Month    112
Name: 5245, dtype: object
5246 672 6 ORtg Last Month    112
Name: 5246, dtype: object
5247 1750 15 ORtg Last Month    116.667
Name: 5247, dtype: object
5248 1826 15 ORtg Last Month    121.733
Name: 5248, dtype: object
5249 1070 11 ORtg Last Month    97.2727
Name: 5249, dtype: object
5250 1682 14 ORtg Last Month    120.143
Name: 5250, dtype: object
5251 96 5 ORtg Last Month    19.2
Name: 5251, dtype: object
5252 29 14 ORtg Last Month    2.07143
Name: 5252, dtype: object
5253 1767 14 ORtg Last Month    126.214
Name: 5253, dtype: object
5254 1706 14 ORtg Last Month    121.857
Name: 5254, dtype: object
5255 1441 14 ORtg Last Month    102.929
Name: 5255, dtype: object
5256 1461 14 ORtg Last Month    104.357
Name: 5256, dtype: object
5257 1741 14 ORtg Last Month    124.357
Name: 5257, dtype: object
5258 398 14 ORtg Last Month    28.4286
Name: 5258, dtype: object
5259 1606 14 ORtg Last Month    114.714
Name: 5259, dtype: object
5260 1165 14 ORtg Last Month    83.2143
Name: 5260, dtype: object
5261 1582 14 ORtg Last Month    113
Name: 5261, dtype: object
5262 935 9 ORtg Last Month    103.889
Name: 5262, dtype: object
5263 1033 14 ORtg Last Month    73.7857
Name: 5263, dtype: object
5264 1490 14 ORtg Last Month    106.429
Name: 5264, dtype: object
5265 1615 14 ORtg Last Month    115.357
Name: 5265, dtype: object
5266 1281 12 ORtg Last Month    106.75
Name: 5266, dtype: object
5267 310 3 ORtg Last Month    103.333
Name: 5267, dtype: object
5268 1416 14 ORtg Last Month    101.143
Name: 5268, dtype: object
5269 876 14 ORtg Last Month    62.5714
Name: 5269, dtype: object
5270 1298 14 ORtg Last Month    92.7143
Name: 5270, dtype: object
5271 1597 14 ORtg Last Month    114.071
Name: 5271, dtype: object
5272 446 11 ORtg Last Month    40.5455
Name: 5272, dtype: object
5273 1950 15 ORtg Last Month    130
Name: 5273, dtype: object
5274 1097 10 ORtg Last Month    109.7
Name: 5274, dtype: object
5275 1157 11 ORtg Last Month    105.182
Name: 5275, dtype: object
5276 745 15 ORtg Last Month    49.6667
Name: 5276, dtype: object
5277 388 14 ORtg Last Month    27.7143
Name: 5277, dtype: object
5278 148 2 ORtg Last Month    74
Name: 5278, dtype: object
5279 1289 11 ORtg Last Month    117.182
Name: 5279, dtype: object
5280 1945 15 ORtg Last Month    129.667
Name: 5280, dtype: object
5281 1708 15 ORtg Last Month    113.867
Name: 5281, dtype: object
5282 1256 12 ORtg Last Month    104.667
Name: 5282, dtype: object
5283 1649 14 ORtg Last Month    117.786
Name: 5283, dtype: object
5284 1783 15 ORtg Last Month    118.867
Name: 5284, dtype: object
5285 411 15 ORtg Last Month    27.4
Name: 5285, dtype: object
5286 1251 12 ORtg Last Month    104.25
Name: 5286, dtype: object
5287 1256 14 ORtg Last Month    89.7143
Name: 5287, dtype: object
5288 1504 14 ORtg Last Month    107.429
Name: 5288, dtype: object
5289 1050 11 ORtg Last Month    95.4545
Name: 5289, dtype: object
5290 866 14 ORtg Last Month    61.8571
Name: 5290, dtype: object
5291 1422 14 ORtg Last Month    101.571
Name: 5291, dtype: object
5292 1584 14 ORtg Last Month    113.143
Name: 5292, dtype: object
5293 171 11 ORtg Last Month    15.5455
Name: 5293, dtype: object
5294 1151 14 ORtg Last Month    82.2143
Name: 5294, dtype: object
5295 1221 14 ORtg Last Month    87.2143
Name: 5295, dtype: object
5296 1826 14 ORtg Last Month    130.429
Name: 5296, dtype: object
5297 1589 13 ORtg Last Month    122.231
Name: 5297, dtype: object
5298 1366 14 ORtg Last Month    97.5714
Name: 5298, dtype: object
5299 1538 14 ORtg Last Month    109.857
Name: 5299, dtype: object
5300 1508 14 ORtg Last Month    107.714
Name: 5300, dtype: object
5301 1370 14 ORtg Last Month    97.8571
Name: 5301, dtype: object
5302 1227 14 ORtg Last Month    87.6429
Name: 5302, dtype: object
5303 1331 14 ORtg Last Month    95.0714
Name: 5303, dtype: object
5304 1469 13 ORtg Last Month    113
Name: 5304, dtype: object
5305 1305 13 ORtg Last Month    100.385
Name: 5305, dtype: object
5306 1554 14 ORtg Last Month    111
Name: 5306, dtype: object
5307 816 7 ORtg Last Month    116.571
Name: 5307, dtype: object
5308 1086 14 ORtg Last Month    77.5714
Name: 5308, dtype: object
5309 1214 14 ORtg Last Month    86.7143
Name: 5309, dtype: object
5310 1431 14 ORtg Last Month    102.214
Name: 5310, dtype: object
5311 1368 14 ORtg Last Month    97.7143
Name: 5311, dtype: object
5312 1383 13 ORtg Last Month    106.385
Name: 5312, dtype: object
5313 1545 14 ORtg Last Month    110.357
Name: 5313, dtype: object
5314 792 14 ORtg Last Month    56.5714
Name: 5314, dtype: object
5315 1417 14 ORtg Last Month    101.214
Name: 5315, dtype: object
5316 1222 13 ORtg Last Month    94
Name: 5316, dtype: object
5317 1245 11 ORtg Last Month    113.182
Name: 5317, dtype: object
5318 979 9 ORtg Last Month    108.778
Name: 5318, dtype: object
5319 1414 14 ORtg Last Month    101
Name: 5319, dtype: object
5320 0 0 ORtg Last Month    0
Name: 5320, dtype: object
5321 1080 14 ORtg Last Month    77.1429
Name: 5321, dtype: object
5322 1563 13 ORtg Last Month    120.231
Name: 5322, dtype: object
5323 1407 14 ORtg Last Month    100.5
Name: 5323, dtype: object
5324 1315 14 ORtg Last Month    93.9286
Name: 5324, dtype: object
5325 196 14 ORtg Last Month    14
Name: 5325, dtype: object
5326 1360 13 ORtg Last Month    104.615
Name: 5326, dtype: object
5327 1435 14 ORtg Last Month    102.5
Name: 5327, dtype: object
5328 541 14 ORtg Last Month    38.6429
Name: 5328, dtype: object
5329 1137 13 ORtg Last Month    87.4615
Name: 5329, dtype: object
5330 1380 13 ORtg Last Month    106.154
Name: 5330, dtype: object
5331 679 14 ORtg Last Month    48.5
Name: 5331, dtype: object
5332 1550 14 ORtg Last Month    110.714
Name: 5332, dtype: object
5333 1364 11 ORtg Last Month    124
Name: 5333, dtype: object
5334 489 8 ORtg Last Month    61.125
Name: 5334, dtype: object
5335 1569 15 ORtg Last Month    104.6
Name: 5335, dtype: object
5336 1648 14 ORtg Last Month    117.714
Name: 5336, dtype: object
5337 1845 15 ORtg Last Month    123
Name: 5337, dtype: object
5338 1811 15 ORtg Last Month    120.733
Name: 5338, dtype: object
5339 1149 15 ORtg Last Month    76.6
Name: 5339, dtype: object
5340 2008 15 ORtg Last Month    133.867
Name: 5340, dtype: object
5341 525 5 ORtg Last Month    105
Name: 5341, dtype: object
5342 1099 12 ORtg Last Month    91.5833
Name: 5342, dtype: object
5343 1590 15 ORtg Last Month    106
Name: 5343, dtype: object
5344 1381 13 ORtg Last Month    106.231
Name: 5344, dtype: object
5345 856 13 ORtg Last Month    65.8462
Name: 5345, dtype: object
5346 1278 16 ORtg Last Month    79.875
Name: 5346, dtype: object
5347 1474 16 ORtg Last Month    92.125
Name: 5347, dtype: object
5348 1619 16 ORtg Last Month    101.188
Name: 5348, dtype: object
5349 1950 16 ORtg Last Month    121.875
Name: 5349, dtype: object
5350 1456 16 ORtg Last Month    91
Name: 5350, dtype: object
5351 1800 16 ORtg Last Month    112.5
Name: 5351, dtype: object
5352 968 16 ORtg Last Month    60.5
Name: 5352, dtype: object
5353 1304 15 ORtg Last Month    86.9333
Name: 5353, dtype: object
5354 1545 13 ORtg Last Month    118.846
Name: 5354, dtype: object
5355 713 9 ORtg Last Month    79.2222
Name: 5355, dtype: object
5356 1189 12 ORtg Last Month    99.0833
Name: 5356, dtype: object
5357 1252 13 ORtg Last Month    96.3077
Name: 5357, dtype: object
5358 351 5 ORtg Last Month    70.2
Name: 5358, dtype: object
5359 1502 13 ORtg Last Month    115.538
Name: 5359, dtype: object

5360 1386 13 ORtg Last Month    106.615
Name: 5360, dtype: object
5361 1315 13 ORtg Last Month    101.154
Name: 5361, dtype: object
5362 1398 13 ORtg Last Month    107.538
Name: 5362, dtype: object
5363 1613 13 ORtg Last Month    124.077
Name: 5363, dtype: object
5364 810 11 ORtg Last Month    73.6364
Name: 5364, dtype: object
5365 388 12 ORtg Last Month    32.3333
Name: 5365, dtype: object
5366 1388 13 ORtg Last Month    106.769
Name: 5366, dtype: object
5367 316 3 ORtg Last Month    105.333
Name: 5367, dtype: object
5368 1141 13 ORtg Last Month    87.7692
Name: 5368, dtype: object
5369 1022 10 ORtg Last Month    102.2
Name: 5369, dtype: object
5370 1514 13 ORtg Last Month    116.462
Name: 5370, dtype: object
5371 1440 13 ORtg Last Month    110.769
Name: 5371, dtype: object
5372 363 13 ORtg Last Month    27.9231
Name: 5372, dtype: object
5373 1491 13 ORtg Last Month    114.692
Name: 5373, dtype: object
5374 1622 13 ORtg Last Month    124.769
Name: 5374, dtype: object
5375 248 13 ORtg Last Month    19.0769
Name: 5375, dtype: object
5376 1566 14 ORtg Last Month    111.857
Name: 5376, dtype: object
5377 1531 14 ORtg Last Month    109.357
Name: 5377, dtype: object
5378 1596 14 ORtg Last Month    114
Name: 5378, dtype: object
5379 1379 14 ORtg Last Month    98.5
Name: 5379, dtype: object
5380 739 13 ORtg Last Month    56.8462
Name: 5380, dtype: object
5381 1740 14 ORtg Last Month    124.286
Name: 5381, dtype: object
5382 1452 14 ORtg Last Month    103.714
Name: 5382, dtype: object
5383 1024 14 ORtg Last Month    73.1429
Name: 5383, dtype: object
5384 348 14 ORtg Last Month    24.8571
Name: 5384, dtype: object
5385 1684 14 ORtg Last Month    120.286
Name: 5385, dtype: object
5386 1528 14 ORtg Last Month    109.143
Name: 5386, dtype: object
5387 1560 14 ORtg Last Month    111.429
Name: 5387, dtype: object
5388 222 4 ORtg Last Month    55.5
Name: 5388, dtype: object
5389 1542 15 ORtg Last Month    102.8
Name: 5389, dtype: object
5390 1074 14 ORtg Last Month    76.7143
Name: 5390, dtype: object
5391 604 6 ORtg Last Month    100.667
Name: 5391, dtype: object
5392 304 8 ORtg Last Month    38
Name: 5392, dtype: object
5393 1905 15 ORtg Last Month    127
Name: 5393, dtype: object
5394 2001 15 ORtg Last Month    133.4
Name: 5394, dtype: object
5395 1501 13 ORtg Last Month    115.462
Name: 5395, dtype: object
5396 1645 15 ORtg Last Month    109.667
Name: 5396, dtype: object
5397 98 1 ORtg Last Month    98
Name: 5397, dtype: object
5398 2146 15 ORtg Last Month    143.067
Name: 5398, dtype: object
5399 2016 15 ORtg Last Month    134.4
Name: 5399, dtype: object
5400 1090 10 ORtg Last Month    109
Name: 5400, dtype: object
5401 1179 11 ORtg Last Month    107.182
Name: 5401, dtype: object
5402 429 12 ORtg Last Month    35.75
Name: 5402, dtype: object
5403 871 11 ORtg Last Month    79.1818
Name: 5403, dtype: object
5404 1045 11 ORtg Last Month    95
Name: 5404, dtype: object
5405 1620 13 ORtg Last Month    124.615
Name: 5405, dtype: object
5406 1102 13 ORtg Last Month    84.7692
Name: 5406, dtype: object
5407 1044 10 ORtg Last Month    104.4
Name: 5407, dtype: object
5408 982 13 ORtg Last Month    75.5385
Name: 5408, dtype: object
5409 1623 13 ORtg Last Month    124.846
Name: 5409, dtype: object
5410 325 9 ORtg Last Month    36.1111
Name: 5410, dtype: object
5411 1441 14 ORtg Last Month    102.929
Name: 5411, dtype: object
5412 1544 14 ORtg Last Month    110.286
Name: 5412, dtype: object
5413 247 14 ORtg Last Month    17.6429
Name: 5413, dtype: object
5414 1477 14 ORtg Last Month    105.5
Name: 5414, dtype: object
5415 1508 14 ORtg Last Month    107.714
Name: 5415, dtype: object
5416 1386 14 ORtg Last Month    99
Name: 5416, dtype: object
5417 1193 13 ORtg Last Month    91.7692
Name: 5417, dtype: object
5418 1453 14 ORtg Last Month    103.786
Name: 5418, dtype: object
5419 1652 13 ORtg Last Month    127.077
Name: 5419, dtype: object
5420 1423 14 ORtg Last Month    101.643
Name: 5420, dtype: object
5421 774 14 ORtg Last Month    55.2857
Name: 5421, dtype: object
5422 1522 13 ORtg Last Month    117.077
Name: 5422, dtype: object
5423 1628 13 ORtg Last Month    125.231
Name: 5423, dtype: object
5424 1614 13 ORtg Last Month    124.154
Name: 5424, dtype: object
5425 1447 13 ORtg Last Month    111.308
Name: 5425, dtype: object
5426 1111 13 ORtg Last Month    85.4615
Name: 5426, dtype: object
5427 1892 13 ORtg Last Month    145.538
Name: 5427, dtype: object
5428 820 13 ORtg Last Month    63.0769
Name: 5428, dtype: object
5429 1351 13 ORtg Last Month    103.923
Name: 5429, dtype: object
5430 757 10 ORtg Last Month    75.7
Name: 5430, dtype: object
5431 238 5 ORtg Last Month    47.6
Name: 5431, dtype: object
5432 1643 14 ORtg Last Month    117.357
Name: 5432, dtype: object
5433 1527 14 ORtg Last Month    109.071
Name: 5433, dtype: object
5434 377 14 ORtg Last Month    26.9286
Name: 5434, dtype: object
5435 1675 14 ORtg Last Month    119.643
Name: 5435, dtype: object
5436 1299 14 ORtg Last Month    92.7857
Name: 5436, dtype: object
5437 963 10 ORtg Last Month    96.3
Name: 5437, dtype: object
5438 1493 14 ORtg Last Month    106.643
Name: 5438, dtype: object
5439 1382 14 ORtg Last Month    98.7143
Name: 5439, dtype: object
5440 76 9 ORtg Last Month    8.44444
Name: 5440, dtype: object
5441 1715 14 ORtg Last Month    122.5
Name: 5441, dtype: object
5442 1134 11 ORtg Last Month    103.091
Name: 5442, dtype: object
5443 0 3 ORtg Last Month    0
Name: 5443, dtype: object
5444 456 13 ORtg Last Month    35.0769
Name: 5444, dtype: object
5445 1562 14 ORtg Last Month    111.571
Name: 5445, dtype: object
5446 1166 14 ORtg Last Month    83.2857
Name: 5446, dtype: object
5447 649 14 ORtg Last Month    46.3571
Name: 5447, dtype: object
5448 970 14 ORtg Last Month    69.2857
Name: 5448, dtype: object
5449 1340 12 ORtg Last Month    111.667
Name: 5449, dtype: object
5450 1686 14 ORtg Last Month    120.429
Name: 5450, dtype: object
5451 1023 13 ORtg Last Month    78.6923
Name: 5451, dtype: object
5452 1100 10 ORtg Last Month    110
Name: 5452, dtype: object
5453 563 14 ORtg Last Month    40.2143
Name: 5453, dtype: object
5454 1227 12 ORtg Last Month    102.25
Name: 5454, dtype: object
5455 1279 13 ORtg Last Month    98.3846
Name: 5455, dtype: object
5456 1524 14 ORtg Last Month    108.857
Name: 5456, dtype: object
5457 445 12 ORtg Last Month    37.0833
Name: 5457, dtype: object
5458 1403 13 ORtg Last Month    107.923
Name: 5458, dtype: object
5459 1273 12 ORtg Last Month    106.083
Name: 5459, dtype: object
5460 652 13 ORtg Last Month    50.1538
Name: 5460, dtype: object
5461 247 6 ORtg Last Month    41.1667
Name: 5461, dtype: object
5462 1463 13 ORtg Last Month    112.538
Name: 5462, dtype: object
5463 1493 13 ORtg Last Month    114.846
Name: 5463, dtype: object
5464 208 11 ORtg Last Month    18.9091
Name: 5464, dtype: object
5465 1508 12 ORtg Last Month    125.667
Name: 5465, dtype: object
5466 1751 13 ORtg Last Month    134.692
Name: 5466, dtype: object
5467 1496 13 ORtg Last Month    115.077
Name: 5467, dtype: object
5468 1729 14 ORtg Last Month    123.5
Name: 5468, dtype: object
5469 1461 14 ORtg Last Month    104.357
Name: 5469, dtype: object
5470 591 14 ORtg Last Month    42.2143
Name: 5470, dtype: object
5471 1370 13 ORtg Last Month    105.385
Name: 5471, dtype: object
5472 1387 14 ORtg Last Month    99.0714
Name: 5472, dtype: object
5473 1031 12 ORtg Last Month    85.9167
Name: 5473, dtype: object
5474 733 8 ORtg Last Month    91.625
Name: 5474, dtype: object
5475 1406 14 ORtg Last Month    100.429
Name: 5475, dtype: object
5476 70 14 ORtg Last Month    5
Name: 5476, dtype: object
5477 1622 14 ORtg Last Month    115.857
Name: 5477, dtype: object
5478 1371 14 ORtg Last Month    97.9286
Name: 5478, dtype: object
5479 655 14 ORtg Last Month    46.7857
Name: 5479, dtype: object
5480 1767 15 ORtg Last Month    117.8
Name: 5480, dtype: object
5481 1645 16 ORtg Last Month    102.812
Name: 5481, dtype: object
5482 892 15 ORtg Last Month    59.4667
Name: 5482, dtype: object
5483 1796 16 ORtg Last Month    112.25
Name: 5483, dtype: object
5484 1442 15 ORtg Last Month    96.1333
Name: 5484, dtype: object
5485 1334 11 ORtg Last Month    121.273
Name: 5485, dtype: object
5486 1784 16 ORtg Last Month    111.5
Name: 5486, dtype: object

5487 724 7 ORtg Last Month    103.429
Name: 5487, dtype: object
5488 1857 16 ORtg Last Month    116.062
Name: 5488, dtype: object
5489 1183 12 ORtg Last Month    98.5833
Name: 5489, dtype: object
5490 1953 16 ORtg Last Month    122.062
Name: 5490, dtype: object
5491 978 10 ORtg Last Month    97.8
Name: 5491, dtype: object
5492 1080 13 ORtg Last Month    83.0769
Name: 5492, dtype: object
5493 1153 12 ORtg Last Month    96.0833
Name: 5493, dtype: object
5494 328 4 ORtg Last Month    82
Name: 5494, dtype: object
5495 867 10 ORtg Last Month    86.7
Name: 5495, dtype: object
5496 274 10 ORtg Last Month    27.4
Name: 5496, dtype: object
5497 1291 12 ORtg Last Month    107.583
Name: 5497, dtype: object
5498 1327 13 ORtg Last Month    102.077
Name: 5498, dtype: object
5499 889 13 ORtg Last Month    68.3846
Name: 5499, dtype: object
5500 411 13 ORtg Last Month    31.6154
Name: 5500, dtype: object
5501 1529 13 ORtg Last Month    117.615
Name: 5501, dtype: object
5502 824 13 ORtg Last Month    63.3846
Name: 5502, dtype: object
5503 752 13 ORtg Last Month    57.8462
Name: 5503, dtype: object
5504 1580 14 ORtg Last Month    112.857
Name: 5504, dtype: object
5505 906 14 ORtg Last Month    64.7143
Name: 5505, dtype: object
5506 1027 10 ORtg Last Month    102.7
Name: 5506, dtype: object
5507 1509 14 ORtg Last Month    107.786
Name: 5507, dtype: object
5508 1416 14 ORtg Last Month    101.143
Name: 5508, dtype: object
5509 411 4 ORtg Last Month    102.75
Name: 5509, dtype: object
5510 1213 14 ORtg Last Month    86.6429
Name: 5510, dtype: object
5511 1340 12 ORtg Last Month    111.667
Name: 5511, dtype: object
5512 915 14 ORtg Last Month    65.3571
Name: 5512, dtype: object
5513 1574 14 ORtg Last Month    112.429
Name: 5513, dtype: object
5514 1564 14 ORtg Last Month    111.714
Name: 5514, dtype: object
5515 446 11 ORtg Last Month    40.5455
Name: 5515, dtype: object
5516 1874 15 ORtg Last Month    124.933
Name: 5516, dtype: object
5517 1083 11 ORtg Last Month    98.4545
Name: 5517, dtype: object
5518 1211 11 ORtg Last Month    110.091
Name: 5518, dtype: object
5519 745 15 ORtg Last Month    49.6667
Name: 5519, dtype: object
5520 148 3 ORtg Last Month    49.3333
Name: 5520, dtype: object
5521 388 14 ORtg Last Month    27.7143
Name: 5521, dtype: object
5522 1899 15 ORtg Last Month    126.6
Name: 5522, dtype: object
5523 1699 15 ORtg Last Month    113.267
Name: 5523, dtype: object
5524 219 1 ORtg Last Month    219
Name: 5524, dtype: object
5525 1698 14 ORtg Last Month    121.286
Name: 5525, dtype: object
5526 1791 15 ORtg Last Month    119.4
Name: 5526, dtype: object
5527 411 15 ORtg Last Month    27.4
Name: 5527, dtype: object
5528 1247 12 ORtg Last Month    103.917
Name: 5528, dtype: object
5529 1299 14 ORtg Last Month    92.7857
Name: 5529, dtype: object
5530 1476 14 ORtg Last Month    105.429
Name: 5530, dtype: object
5531 1039 11 ORtg Last Month    94.4545
Name: 5531, dtype: object
5532 866 14 ORtg Last Month    61.8571
Name: 5532, dtype: object
5533 1410 14 ORtg Last Month    100.714
Name: 5533, dtype: object
5534 1543 14 ORtg Last Month    110.214
Name: 5534, dtype: object
5535 1252 14 ORtg Last Month    89.4286
Name: 5535, dtype: object
5536 1221 14 ORtg Last Month    87.2143
Name: 5536, dtype: object
5537 273 12 ORtg Last Month    22.75
Name: 5537, dtype: object
5538 1778 14 ORtg Last Month    127
Name: 5538, dtype: object
5539 1632 13 ORtg Last Month    125.538
Name: 5539, dtype: object
5540 1366 14 ORtg Last Month    97.5714
Name: 5540, dtype: object
5541 1211 15 ORtg Last Month    80.7333
Name: 5541, dtype: object
5542 1638 16 ORtg Last Month    102.375
Name: 5542, dtype: object
5543 745 7 ORtg Last Month    106.429
Name: 5543, dtype: object
5544 450 9 ORtg Last Month    50
Name: 5544, dtype: object
5545 2009 16 ORtg Last Month    125.562
Name: 5545, dtype: object
5546 2116 16 ORtg Last Month    132.25
Name: 5546, dtype: object
5547 1596 14 ORtg Last Month    114
Name: 5547, dtype: object
5548 1645 16 ORtg Last Month    102.812
Name: 5548, dtype: object
5549 98 2 ORtg Last Month    49
Name: 5549, dtype: object
5550 2109 16 ORtg Last Month    131.812
Name: 5550, dtype: object
5551 2224 16 ORtg Last Month    139
Name: 5551, dtype: object
5552 1460 14 ORtg Last Month    104.286
Name: 5552, dtype: object
5553 1703 14 ORtg Last Month    121.643
Name: 5553, dtype: object
5554 581 14 ORtg Last Month    41.5
Name: 5554, dtype: object
5555 1672 14 ORtg Last Month    119.429
Name: 5555, dtype: object
5556 1362 14 ORtg Last Month    97.2857
Name: 5556, dtype: object
5557 1003 10 ORtg Last Month    100.3
Name: 5557, dtype: object
5558 1458 14 ORtg Last Month    104.143
Name: 5558, dtype: object
5559 1389 14 ORtg Last Month    99.2143
Name: 5559, dtype: object
5560 194 9 ORtg Last Month    21.5556
Name: 5560, dtype: object
5561 1215 12 ORtg Last Month    101.25
Name: 5561, dtype: object
5562 1669 14 ORtg Last Month    119.214
Name: 5562, dtype: object
5563 0 4 ORtg Last Month    0
Name: 5563, dtype: object
5564 456 13 ORtg Last Month    35.0769
Name: 5564, dtype: object
5565 1456 13 ORtg Last Month    112
Name: 5565, dtype: object
5566 1400 13 ORtg Last Month    107.692
Name: 5566, dtype: object
5567 74 1 ORtg Last Month    74
Name: 5567, dtype: object
5568 1213 13 ORtg Last Month    93.3077
Name: 5568, dtype: object
5569 1507 13 ORtg Last Month    115.923
Name: 5569, dtype: object
5570 1387 13 ORtg Last Month    106.692
Name: 5570, dtype: object
5571 1616 13 ORtg Last Month    124.308
Name: 5571, dtype: object
5572 1221 13 ORtg Last Month    93.9231
Name: 5572, dtype: object
5573 1078 8 ORtg Last Month    134.75
Name: 5573, dtype: object
5574 648 12 ORtg Last Month    54
Name: 5574, dtype: object
5575 1446 13 ORtg Last Month    111.231
Name: 5575, dtype: object
5576 1370 13 ORtg Last Month    105.385
Name: 5576, dtype: object
5577 1031 12 ORtg Last Month    85.9167
Name: 5577, dtype: object
5578 1436 13 ORtg Last Month    110.462
Name: 5578, dtype: object
5579 1483 13 ORtg Last Month    114.077
Name: 5579, dtype: object
5580 794 13 ORtg Last Month    61.0769
Name: 5580, dtype: object
5581 0 0 ORtg Last Month    0
Name: 5581, dtype: object
5582 609 11 ORtg Last Month    55.3636
Name: 5582, dtype: object
5583 93 8 ORtg Last Month    11.625
Name: 5583, dtype: object
5584 0 1 ORtg Last Month    0
Name: 5584, dtype: object
5585 94 13 ORtg Last Month    7.23077
Name: 5585, dtype: object
5586 1310 12 ORtg Last Month    109.167
Name: 5586, dtype: object
5587 1712 13 ORtg Last Month    131.692
Name: 5587, dtype: object
5588 1300 13 ORtg Last Month    100
Name: 5588, dtype: object
5589 1616 15 ORtg Last Month    107.733
Name: 5589, dtype: object
5590 1409 13 ORtg Last Month    108.385
Name: 5590, dtype: object
5591 1675 14 ORtg Last Month    119.643
Name: 5591, dtype: object
5592 1271 13 ORtg Last Month    97.7692
Name: 5592, dtype: object
5593 1136 11 ORtg Last Month    103.273
Name: 5593, dtype: object
5594 928 10 ORtg Last Month    92.8
Name: 5594, dtype: object
5595 1470 14 ORtg Last Month    105
Name: 5595, dtype: object
5596 1852 15 ORtg Last Month    123.467
Name: 5596, dtype: object
5597 1580 15 ORtg Last Month    105.333
Name: 5597, dtype: object
5598 1282 15 ORtg Last Month    85.4667
Name: 5598, dtype: object
5599 807 10 ORtg Last Month    80.7
Name: 5599, dtype: object
5600 1624 15 ORtg Last Month    108.267
Name: 5600, dtype: object
5601 1246 15 ORtg Last Month    83.0667
Name: 5601, dtype: object
5602 1613 15 ORtg Last Month    107.533
Name: 5602, dtype: object
5603 816 15 ORtg Last Month    54.4
Name: 5603, dtype: object
5604 688 8 ORtg Last Month    86
Name: 5604, dtype: object
5605 1196 15 ORtg Last Month    79.7333
Name: 5605, dtype: object
5606 1707 15 ORtg Last Month    113.8
Name: 5606, dtype: object
5607 1598 15 ORtg Last Month    106.533
Name: 5607, dtype: object
5608 1581 15 ORtg Last Month    105.4
Name: 5608, dtype: object
5609 1901 15 ORtg Last Month    126.733
Name: 5609, dtype: object
5610 591 15 ORtg Last Month    39.4
Name: 5610, dtype: object
5611 1560 15 ORtg Last Month    104
Name: 5611, dtype: object
5612 1475 14 ORtg Last Month    105.357
Name: 5612, dtype: object
5613 1499 15 ORtg Last Month    99.9333
Name: 5613, dtype: object
5614 837 9 ORtg Last Month    93
Name: 5614, dtype: object

5615 1547 15 ORtg Last Month    103.133
Name: 5615, dtype: object
5616 1165 13 ORtg Last Month    89.6154
Name: 5616, dtype: object
5617 270 15 ORtg Last Month    18
Name: 5617, dtype: object
5618 1751 15 ORtg Last Month    116.733
Name: 5618, dtype: object
5619 1480 15 ORtg Last Month    98.6667
Name: 5619, dtype: object
5620 877 15 ORtg Last Month    58.4667
Name: 5620, dtype: object
5621 1645 14 ORtg Last Month    117.5
Name: 5621, dtype: object
5622 196 6 ORtg Last Month    32.6667
Name: 5622, dtype: object
5623 162 14 ORtg Last Month    11.5714
Name: 5623, dtype: object
5624 1379 14 ORtg Last Month    98.5
Name: 5624, dtype: object
5625 1794 14 ORtg Last Month    128.143
Name: 5625, dtype: object
5626 1753 14 ORtg Last Month    125.214
Name: 5626, dtype: object
5627 1664 14 ORtg Last Month    118.857
Name: 5627, dtype: object
5628 1361 14 ORtg Last Month    97.2143
Name: 5628, dtype: object
5629 543 14 ORtg Last Month    38.7857
Name: 5629, dtype: object
5630 1595 14 ORtg Last Month    113.929
Name: 5630, dtype: object
5631 1204 14 ORtg Last Month    86
Name: 5631, dtype: object
5632 1368 13 ORtg Last Month    105.231
Name: 5632, dtype: object
5633 1448 13 ORtg Last Month    111.385
Name: 5633, dtype: object
5634 365 5 ORtg Last Month    73
Name: 5634, dtype: object
5635 1516 13 ORtg Last Month    116.615
Name: 5635, dtype: object
5636 933 10 ORtg Last Month    93.3
Name: 5636, dtype: object
5637 1317 13 ORtg Last Month    101.308
Name: 5637, dtype: object
5638 1470 13 ORtg Last Month    113.077
Name: 5638, dtype: object
5639 983 13 ORtg Last Month    75.6154
Name: 5639, dtype: object
5640 559 13 ORtg Last Month    43
Name: 5640, dtype: object
5641 1261 13 ORtg Last Month    97
Name: 5641, dtype: object
5642 1200 12 ORtg Last Month    100
Name: 5642, dtype: object
5643 1467 14 ORtg Last Month    104.786
Name: 5643, dtype: object
5644 1536 14 ORtg Last Month    109.714
Name: 5644, dtype: object
5645 1386 14 ORtg Last Month    99
Name: 5645, dtype: object
5646 1104 14 ORtg Last Month    78.8571
Name: 5646, dtype: object
5647 1435 14 ORtg Last Month    102.5
Name: 5647, dtype: object
5648 1532 14 ORtg Last Month    109.429
Name: 5648, dtype: object
5649 1424 13 ORtg Last Month    109.538
Name: 5649, dtype: object
5650 1288 13 ORtg Last Month    99.0769
Name: 5650, dtype: object
5651 423 13 ORtg Last Month    32.5385
Name: 5651, dtype: object
5652 1144 14 ORtg Last Month    81.7143
Name: 5652, dtype: object
5653 954 8 ORtg Last Month    119.25
Name: 5653, dtype: object
5654 1073 14 ORtg Last Month    76.6429
Name: 5654, dtype: object
5655 1324 14 ORtg Last Month    94.5714
Name: 5655, dtype: object
5656 1315 13 ORtg Last Month    101.154
Name: 5656, dtype: object
5657 1404 14 ORtg Last Month    100.286
Name: 5657, dtype: object
5658 1445 14 ORtg Last Month    103.214
Name: 5658, dtype: object
5659 1285 14 ORtg Last Month    91.7857
Name: 5659, dtype: object
5660 1492 14 ORtg Last Month    106.571
Name: 5660, dtype: object
5661 0 0 ORtg Last Month    0
Name: 5661, dtype: object
5662 1095 10 ORtg Last Month    109.5
Name: 5662, dtype: object
5663 1394 14 ORtg Last Month    99.5714
Name: 5663, dtype: object
5664 100 1 ORtg Last Month    100
Name: 5664, dtype: object
5665 957 14 ORtg Last Month    68.3571
Name: 5665, dtype: object
5666 1560 13 ORtg Last Month    120
Name: 5666, dtype: object
5667 1338 14 ORtg Last Month    95.5714
Name: 5667, dtype: object
5668 1328 14 ORtg Last Month    94.8571
Name: 5668, dtype: object
5669 249 14 ORtg Last Month    17.7857
Name: 5669, dtype: object
5670 1440 14 ORtg Last Month    102.857
Name: 5670, dtype: object
5671 1331 13 ORtg Last Month    102.385
Name: 5671, dtype: object
5672 1090 13 ORtg Last Month    83.8462
Name: 5672, dtype: object
5673 1342 13 ORtg Last Month    103.231
Name: 5673, dtype: object
5674 693 14 ORtg Last Month    49.5
Name: 5674, dtype: object
5675 767 14 ORtg Last Month    54.7857
Name: 5675, dtype: object
5676 1527 14 ORtg Last Month    109.071
Name: 5676, dtype: object
5677 615 8 ORtg Last Month    76.875
Name: 5677, dtype: object
5678 1394 11 ORtg Last Month    126.727
Name: 5678, dtype: object
5679 1537 13 ORtg Last Month    118.231
Name: 5679, dtype: object
5680 1214 12 ORtg Last Month    101.167
Name: 5680, dtype: object
5681 744 9 ORtg Last Month    82.6667
Name: 5681, dtype: object
5682 1196 13 ORtg Last Month    92
Name: 5682, dtype: object
5683 351 6 ORtg Last Month    58.5
Name: 5683, dtype: object
5684 1492 13 ORtg Last Month    114.769
Name: 5684, dtype: object
5685 1303 13 ORtg Last Month    100.231
Name: 5685, dtype: object
5686 1333 13 ORtg Last Month    102.538
Name: 5686, dtype: object
5687 1311 13 ORtg Last Month    100.846
Name: 5687, dtype: object
5688 1621 13 ORtg Last Month    124.692
Name: 5688, dtype: object
5689 707 11 ORtg Last Month    64.2727
Name: 5689, dtype: object
5690 254 12 ORtg Last Month    21.1667
Name: 5690, dtype: object
5691 1181 12 ORtg Last Month    98.4167
Name: 5691, dtype: object
5692 1287 12 ORtg Last Month    107.25
Name: 5692, dtype: object
5693 332 7 ORtg Last Month    47.4286
Name: 5693, dtype: object
5694 1435 12 ORtg Last Month    119.583
Name: 5694, dtype: object
5695 694 11 ORtg Last Month    63.0909
Name: 5695, dtype: object
5696 1275 11 ORtg Last Month    115.909
Name: 5696, dtype: object
5697 843 10 ORtg Last Month    84.3
Name: 5697, dtype: object
5698 993 12 ORtg Last Month    82.75
Name: 5698, dtype: object
5699 1385 12 ORtg Last Month    115.417
Name: 5699, dtype: object
5700 857 12 ORtg Last Month    71.4167
Name: 5700, dtype: object
5701 1251 12 ORtg Last Month    104.25
Name: 5701, dtype: object
5702 431 9 ORtg Last Month    47.8889
Name: 5702, dtype: object
5703 1494 14 ORtg Last Month    106.714
Name: 5703, dtype: object
5704 1141 14 ORtg Last Month    81.5
Name: 5704, dtype: object
5705 383 4 ORtg Last Month    95.75
Name: 5705, dtype: object
5706 1633 14 ORtg Last Month    116.643
Name: 5706, dtype: object
5707 1152 11 ORtg Last Month    104.727
Name: 5707, dtype: object
5708 1471 14 ORtg Last Month    105.071
Name: 5708, dtype: object
5709 363 14 ORtg Last Month    25.9286
Name: 5709, dtype: object
5710 1609 14 ORtg Last Month    114.929
Name: 5710, dtype: object
5711 248 14 ORtg Last Month    17.7143
Name: 5711, dtype: object
5712 1624 15 ORtg Last Month    108.267
Name: 5712, dtype: object
5713 1718 15 ORtg Last Month    114.533
Name: 5713, dtype: object
5714 1444 15 ORtg Last Month    96.2667
Name: 5714, dtype: object
5715 1741 15 ORtg Last Month    116.067
Name: 5715, dtype: object
5716 739 14 ORtg Last Month    52.7857
Name: 5716, dtype: object
5717 1858 15 ORtg Last Month    123.867
Name: 5717, dtype: object
5718 1519 15 ORtg Last Month    101.267
Name: 5718, dtype: object
5719 1024 15 ORtg Last Month    68.2667
Name: 5719, dtype: object
5720 348 15 ORtg Last Month    23.2
Name: 5720, dtype: object
5721 1814 15 ORtg Last Month    120.933
Name: 5721, dtype: object
5722 1649 15 ORtg Last Month    109.933
Name: 5722, dtype: object
5723 1623 15 ORtg Last Month    108.2
Name: 5723, dtype: object
5724 222 5 ORtg Last Month    44.4
Name: 5724, dtype: object
5725 1255 12 ORtg Last Month    104.583
Name: 5725, dtype: object
5726 1282 12 ORtg Last Month    106.833
Name: 5726, dtype: object
5727 769 11 ORtg Last Month    69.9091
Name: 5727, dtype: object
5728 0 3 ORtg Last Month    0
Name: 5728, dtype: object
5729 344 10 ORtg Last Month    34.4
Name: 5729, dtype: object
5730 894 10 ORtg Last Month    89.4
Name: 5730, dtype: object
5731 1021 12 ORtg Last Month    85.0833
Name: 5731, dtype: object
5732 1275 12 ORtg Last Month    106.25
Name: 5732, dtype: object
5733 1246 12 ORtg Last Month    103.833
Name: 5733, dtype: object
5734 1278 12 ORtg Last Month    106.5
Name: 5734, dtype: object
5735 709 10 ORtg Last Month    70.9
Name: 5735, dtype: object
5736 319 14 ORtg Last Month    22.7857
Name: 5736, dtype: object
5737 1453 14 ORtg Last Month    103.786
Name: 5737, dtype: object
5738 1533 14 ORtg Last Month    109.5
Name: 5738, dtype: object
5739 1583 14 ORtg Last Month    113.071
Name: 5739, dtype: object
5740 1173 13 ORtg Last Month    90.2308
Name: 5740, dtype: object
5741 1401 14 ORtg Last Month    100.071
Name: 5741, dtype: object

5742 1341 14 ORtg Last Month    95.7857
Name: 5742, dtype: object
5743 1659 13 ORtg Last Month    127.615
Name: 5743, dtype: object
5744 1411 14 ORtg Last Month    100.786
Name: 5744, dtype: object
5745 761 14 ORtg Last Month    54.3571
Name: 5745, dtype: object
5746 1328 13 ORtg Last Month    102.154
Name: 5746, dtype: object
5747 1466 13 ORtg Last Month    112.769
Name: 5747, dtype: object
5748 563 7 ORtg Last Month    80.4286
Name: 5748, dtype: object
5749 899 13 ORtg Last Month    69.1538
Name: 5749, dtype: object
5750 791 12 ORtg Last Month    65.9167
Name: 5750, dtype: object
5751 341 6 ORtg Last Month    56.8333
Name: 5751, dtype: object
5752 1057 11 ORtg Last Month    96.0909
Name: 5752, dtype: object
5753 1549 13 ORtg Last Month    119.154
Name: 5753, dtype: object
5754 1806 13 ORtg Last Month    138.923
Name: 5754, dtype: object
5755 1714 13 ORtg Last Month    131.846
Name: 5755, dtype: object
5756 1156 13 ORtg Last Month    88.9231
Name: 5756, dtype: object
5757 1012 12 ORtg Last Month    84.3333
Name: 5757, dtype: object
5758 1384 13 ORtg Last Month    106.462
Name: 5758, dtype: object
5759 1262 13 ORtg Last Month    97.0769
Name: 5759, dtype: object
5760 1616 13 ORtg Last Month    124.308
Name: 5760, dtype: object
5761 1341 13 ORtg Last Month    103.154
Name: 5761, dtype: object
5762 1301 13 ORtg Last Month    100.077
Name: 5762, dtype: object
5763 1346 13 ORtg Last Month    103.538
Name: 5763, dtype: object
5764 98 1 ORtg Last Month    98
Name: 5764, dtype: object
5765 1405 13 ORtg Last Month    108.077
Name: 5765, dtype: object
5766 0 5 ORtg Last Month    0
Name: 5766, dtype: object
5767 713 13 ORtg Last Month    54.8462
Name: 5767, dtype: object
5768 1062 8 ORtg Last Month    132.75
Name: 5768, dtype: object
5769 1457 13 ORtg Last Month    112.077
Name: 5769, dtype: object
5770 1500 13 ORtg Last Month    115.385
Name: 5770, dtype: object
5771 1518 13 ORtg Last Month    116.769
Name: 5771, dtype: object
5772 478 12 ORtg Last Month    39.8333
Name: 5772, dtype: object
5773 68 2 ORtg Last Month    34
Name: 5773, dtype: object
5774 568 12 ORtg Last Month    47.3333
Name: 5774, dtype: object
5775 1383 12 ORtg Last Month    115.25
Name: 5775, dtype: object
5776 1537 13 ORtg Last Month    118.231
Name: 5776, dtype: object
5777 1433 13 ORtg Last Month    110.231
Name: 5777, dtype: object
5778 1746 13 ORtg Last Month    134.308
Name: 5778, dtype: object
5779 1505 13 ORtg Last Month    115.769
Name: 5779, dtype: object
5780 1522 13 ORtg Last Month    117.077
Name: 5780, dtype: object
5781 841 13 ORtg Last Month    64.6923
Name: 5781, dtype: object
5782 80 3 ORtg Last Month    26.6667
Name: 5782, dtype: object
5783 1540 14 ORtg Last Month    110
Name: 5783, dtype: object
5784 466 14 ORtg Last Month    33.2857
Name: 5784, dtype: object
5785 1076 14 ORtg Last Month    76.8571
Name: 5785, dtype: object
5786 873 14 ORtg Last Month    62.3571
Name: 5786, dtype: object
5787 1670 14 ORtg Last Month    119.286
Name: 5787, dtype: object
5788 1320 12 ORtg Last Month    110
Name: 5788, dtype: object
5789 1042 10 ORtg Last Month    104.2
Name: 5789, dtype: object
5790 1220 14 ORtg Last Month    87.1429
Name: 5790, dtype: object
5791 1156 12 ORtg Last Month    96.3333
Name: 5791, dtype: object
5792 446 14 ORtg Last Month    31.8571
Name: 5792, dtype: object
5793 1576 14 ORtg Last Month    112.571
Name: 5793, dtype: object
5794 1303 13 ORtg Last Month    100.231
Name: 5794, dtype: object
5795 317 12 ORtg Last Month    26.4167
Name: 5795, dtype: object
5796 754 7 ORtg Last Month    107.714
Name: 5796, dtype: object
5797 1251 12 ORtg Last Month    104.25
Name: 5797, dtype: object
5798 1432 13 ORtg Last Month    110.154
Name: 5798, dtype: object
5799 604 13 ORtg Last Month    46.4615
Name: 5799, dtype: object
5800 247 6 ORtg Last Month    41.1667
Name: 5800, dtype: object
5801 1499 13 ORtg Last Month    115.308
Name: 5801, dtype: object
5802 1597 13 ORtg Last Month    122.846
Name: 5802, dtype: object
5803 1028 12 ORtg Last Month    85.6667
Name: 5803, dtype: object
5804 208 11 ORtg Last Month    18.9091
Name: 5804, dtype: object
5805 1499 12 ORtg Last Month    124.917
Name: 5805, dtype: object
5806 1453 13 ORtg Last Month    111.769
Name: 5806, dtype: object
5807 1755 15 ORtg Last Month    117
Name: 5807, dtype: object
5808 1717 16 ORtg Last Month    107.312
Name: 5808, dtype: object
5809 991 15 ORtg Last Month    66.0667
Name: 5809, dtype: object
5810 1218 15 ORtg Last Month    81.2
Name: 5810, dtype: object
5811 1625 16 ORtg Last Month    101.562
Name: 5811, dtype: object
5812 1821 16 ORtg Last Month    113.812
Name: 5812, dtype: object
5813 1252 11 ORtg Last Month    113.818
Name: 5813, dtype: object
5814 822 8 ORtg Last Month    102.75
Name: 5814, dtype: object
5815 1822 16 ORtg Last Month    113.875
Name: 5815, dtype: object
5816 1250 13 ORtg Last Month    96.1538
Name: 5816, dtype: object
5817 1930 16 ORtg Last Month    120.625
Name: 5817, dtype: object
5818 1086 11 ORtg Last Month    98.7273
Name: 5818, dtype: object
5819 1284 13 ORtg Last Month    98.7692
Name: 5819, dtype: object
5820 1202 14 ORtg Last Month    85.8571
Name: 5820, dtype: object
5821 274 11 ORtg Last Month    24.9091
Name: 5821, dtype: object
5822 867 11 ORtg Last Month    78.8182
Name: 5822, dtype: object
5823 1157 12 ORtg Last Month    96.4167
Name: 5823, dtype: object
5824 1391 13 ORtg Last Month    107
Name: 5824, dtype: object
5825 1455 14 ORtg Last Month    103.929
Name: 5825, dtype: object
5826 956 14 ORtg Last Month    68.2857
Name: 5826, dtype: object
5827 447 14 ORtg Last Month    31.9286
Name: 5827, dtype: object
5828 1621 14 ORtg Last Month    115.786
Name: 5828, dtype: object
5829 981 14 ORtg Last Month    70.0714
Name: 5829, dtype: object
5830 752 14 ORtg Last Month    53.7143
Name: 5830, dtype: object
5831 1584 14 ORtg Last Month    113.143
Name: 5831, dtype: object
5832 1114 11 ORtg Last Month    101.273
Name: 5832, dtype: object
5833 840 14 ORtg Last Month    60
Name: 5833, dtype: object
5834 1393 14 ORtg Last Month    99.5
Name: 5834, dtype: object
5835 1213 12 ORtg Last Month    101.083
Name: 5835, dtype: object
5836 1508 14 ORtg Last Month    107.714
Name: 5836, dtype: object
5837 556 5 ORtg Last Month    111.2
Name: 5837, dtype: object
5838 1558 14 ORtg Last Month    111.286
Name: 5838, dtype: object
5839 908 14 ORtg Last Month    64.8571
Name: 5839, dtype: object
5840 1303 14 ORtg Last Month    93.0714
Name: 5840, dtype: object
5841 1496 14 ORtg Last Month    106.857
Name: 5841, dtype: object
5842 476 11 ORtg Last Month    43.2727
Name: 5842, dtype: object
5843 1546 14 ORtg Last Month    110.429
Name: 5843, dtype: object
5844 421 6 ORtg Last Month    70.1667
Name: 5844, dtype: object
5845 1477 14 ORtg Last Month    105.5
Name: 5845, dtype: object
5846 1621 14 ORtg Last Month    115.786
Name: 5846, dtype: object
5847 1560 14 ORtg Last Month    111.429
Name: 5847, dtype: object
5848 1063 11 ORtg Last Month    96.6364
Name: 5848, dtype: object
5849 1397 14 ORtg Last Month    99.7857
Name: 5849, dtype: object
5850 559 14 ORtg Last Month    39.9286
Name: 5850, dtype: object
5851 1047 14 ORtg Last Month    74.7857
Name: 5851, dtype: object
5852 1396 14 ORtg Last Month    99.7143
Name: 5852, dtype: object
5853 1319 13 ORtg Last Month    101.462
Name: 5853, dtype: object
5854 349 5 ORtg Last Month    69.8
Name: 5854, dtype: object
5855 1305 14 ORtg Last Month    93.2143
Name: 5855, dtype: object
5856 1416 14 ORtg Last Month    101.143
Name: 5856, dtype: object
5857 1241 12 ORtg Last Month    103.417
Name: 5857, dtype: object
5858 1006 11 ORtg Last Month    91.4545
Name: 5858, dtype: object
5859 0 0 ORtg Last Month    0
Name: 5859, dtype: object
5860 866 14 ORtg Last Month    61.8571
Name: 5860, dtype: object
5861 1459 14 ORtg Last Month    104.214
Name: 5861, dtype: object
5862 1343 14 ORtg Last Month    95.9286
Name: 5862, dtype: object
5863 1309 14 ORtg Last Month    93.5
Name: 5863, dtype: object
5864 273 13 ORtg Last Month    21
Name: 5864, dtype: object
5865 1841 14 ORtg Last Month    131.5
Name: 5865, dtype: object
5866 1679 13 ORtg Last Month    129.154
Name: 5866, dtype: object
5867 1308 14 ORtg Last Month    93.4286
Name: 5867, dtype: object
5868 1527 14 ORtg Last Month    109.071
Name: 5868, dtype: object

5869 1689 14 ORtg Last Month    120.643
Name: 5869, dtype: object
5870 1396 14 ORtg Last Month    99.7143
Name: 5870, dtype: object
5871 649 6 ORtg Last Month    108.167
Name: 5871, dtype: object
5872 1130 14 ORtg Last Month    80.7143
Name: 5872, dtype: object
5873 1762 14 ORtg Last Month    125.857
Name: 5873, dtype: object
5874 1521 14 ORtg Last Month    108.643
Name: 5874, dtype: object
5875 607 8 ORtg Last Month    75.875
Name: 5875, dtype: object
5876 1609 13 ORtg Last Month    123.769
Name: 5876, dtype: object
5877 1917 14 ORtg Last Month    136.929
Name: 5877, dtype: object
5878 1202 13 ORtg Last Month    92.4615
Name: 5878, dtype: object
5879 564 11 ORtg Last Month    51.2727
Name: 5879, dtype: object
5880 1440 14 ORtg Last Month    102.857
Name: 5880, dtype: object
5881 1537 14 ORtg Last Month    109.786
Name: 5881, dtype: object
5882 641 8 ORtg Last Month    80.125
Name: 5882, dtype: object
5883 954 14 ORtg Last Month    68.1429
Name: 5883, dtype: object
5884 397 7 ORtg Last Month    56.7143
Name: 5884, dtype: object
5885 818 13 ORtg Last Month    62.9231
Name: 5885, dtype: object
5886 1672 14 ORtg Last Month    119.429
Name: 5886, dtype: object
5887 1646 13 ORtg Last Month    126.615
Name: 5887, dtype: object
5888 1931 14 ORtg Last Month    137.929
Name: 5888, dtype: object
5889 1866 14 ORtg Last Month    133.286
Name: 5889, dtype: object
5890 1280 14 ORtg Last Month    91.4286
Name: 5890, dtype: object
5891 1178 13 ORtg Last Month    90.6154
Name: 5891, dtype: object
5892 919 13 ORtg Last Month    70.6923
Name: 5892, dtype: object
5893 1136 13 ORtg Last Month    87.3846
Name: 5893, dtype: object
5894 637 6 ORtg Last Month    106.167
Name: 5894, dtype: object
5895 1519 13 ORtg Last Month    116.846
Name: 5895, dtype: object
5896 1450 13 ORtg Last Month    111.538
Name: 5896, dtype: object
5897 109 1 ORtg Last Month    109
Name: 5897, dtype: object
5898 616 11 ORtg Last Month    56
Name: 5898, dtype: object
5899 93 8 ORtg Last Month    11.625
Name: 5899, dtype: object
5900 0 1 ORtg Last Month    0
Name: 5900, dtype: object
5901 94 13 ORtg Last Month    7.23077
Name: 5901, dtype: object
5902 1255 12 ORtg Last Month    104.583
Name: 5902, dtype: object
5903 1649 13 ORtg Last Month    126.846
Name: 5903, dtype: object
5904 1327 13 ORtg Last Month    102.077
Name: 5904, dtype: object
5905 1201 14 ORtg Last Month    85.7857
Name: 5905, dtype: object
5906 923 11 ORtg Last Month    83.9091
Name: 5906, dtype: object
5907 1164 14 ORtg Last Month    83.1429
Name: 5907, dtype: object
5908 1583 14 ORtg Last Month    113.071
Name: 5908, dtype: object
5909 560 14 ORtg Last Month    40
Name: 5909, dtype: object
5910 1551 14 ORtg Last Month    110.786
Name: 5910, dtype: object
5911 1067 14 ORtg Last Month    76.2143
Name: 5911, dtype: object
5912 557 7 ORtg Last Month    79.5714
Name: 5912, dtype: object
5913 1479 14 ORtg Last Month    105.643
Name: 5913, dtype: object
5914 1570 14 ORtg Last Month    112.143
Name: 5914, dtype: object
5915 1600 14 ORtg Last Month    114.286
Name: 5915, dtype: object
5916 1887 14 ORtg Last Month    134.786
Name: 5916, dtype: object
5917 1477 14 ORtg Last Month    105.5
Name: 5917, dtype: object
5918 653 14 ORtg Last Month    46.6429
Name: 5918, dtype: object
5919 1422 14 ORtg Last Month    101.571
Name: 5919, dtype: object
5920 1427 13 ORtg Last Month    109.769
Name: 5920, dtype: object
5921 864 8 ORtg Last Month    108
Name: 5921, dtype: object
5922 1394 14 ORtg Last Month    99.5714
Name: 5922, dtype: object
5923 1191 13 ORtg Last Month    91.6154
Name: 5923, dtype: object
5924 270 14 ORtg Last Month    19.2857
Name: 5924, dtype: object
5925 1631 14 ORtg Last Month    116.5
Name: 5925, dtype: object
5926 1427 14 ORtg Last Month    101.929
Name: 5926, dtype: object
5927 725 14 ORtg Last Month    51.7857
Name: 5927, dtype: object
5928 1636 14 ORtg Last Month    116.857
Name: 5928, dtype: object
5929 162 14 ORtg Last Month    11.5714
Name: 5929, dtype: object
5930 196 7 ORtg Last Month    28
Name: 5930, dtype: object
5931 1363 14 ORtg Last Month    97.3571
Name: 5931, dtype: object
5932 1723 14 ORtg Last Month    123.071
Name: 5932, dtype: object
5933 1341 14 ORtg Last Month    95.7857
Name: 5933, dtype: object
5934 1720 14 ORtg Last Month    122.857
Name: 5934, dtype: object
5935 1631 14 ORtg Last Month    116.5
Name: 5935, dtype: object
5936 543 14 ORtg Last Month    38.7857
Name: 5936, dtype: object
5937 1624 14 ORtg Last Month    116
Name: 5937, dtype: object
5938 1239 14 ORtg Last Month    88.5
Name: 5938, dtype: object
5939 1674 14 ORtg Last Month    119.571
Name: 5939, dtype: object
5940 824 14 ORtg Last Month    58.8571
Name: 5940, dtype: object
5941 1001 10 ORtg Last Month    100.1
Name: 5941, dtype: object
5942 1302 12 ORtg Last Month    108.5
Name: 5942, dtype: object
5943 460 13 ORtg Last Month    35.3846
Name: 5943, dtype: object
5944 418 3 ORtg Last Month    139.333
Name: 5944, dtype: object
5945 1845 14 ORtg Last Month    131.786
Name: 5945, dtype: object
5946 1189 10 ORtg Last Month    118.9
Name: 5946, dtype: object
5947 1674 14 ORtg Last Month    119.571
Name: 5947, dtype: object
5948 274 2 ORtg Last Month    137
Name: 5948, dtype: object
5949 1540 13 ORtg Last Month    118.462
Name: 5949, dtype: object
5950 1684 14 ORtg Last Month    120.286
Name: 5950, dtype: object
5951 508 14 ORtg Last Month    36.2857
Name: 5951, dtype: object
5952 1455 14 ORtg Last Month    103.929
Name: 5952, dtype: object
5953 1488 14 ORtg Last Month    106.286
Name: 5953, dtype: object
5954 1453 14 ORtg Last Month    103.786
Name: 5954, dtype: object
5955 1076 14 ORtg Last Month    76.8571
Name: 5955, dtype: object
5956 78 6 ORtg Last Month    13
Name: 5956, dtype: object
5957 1416 13 ORtg Last Month    108.923
Name: 5957, dtype: object
5958 1597 14 ORtg Last Month    114.071
Name: 5958, dtype: object
5959 1222 13 ORtg Last Month    94
Name: 5959, dtype: object
5960 1484 14 ORtg Last Month    106
Name: 5960, dtype: object
5961 608 13 ORtg Last Month    46.7692
Name: 5961, dtype: object
5962 973 14 ORtg Last Month    69.5
Name: 5962, dtype: object
5963 1113 14 ORtg Last Month    79.5
Name: 5963, dtype: object
5964 1530 14 ORtg Last Month    109.286
Name: 5964, dtype: object
5965 1274 13 ORtg Last Month    98
Name: 5965, dtype: object
5966 1278 14 ORtg Last Month    91.2857
Name: 5966, dtype: object
5967 662 13 ORtg Last Month    50.9231
Name: 5967, dtype: object
5968 29 5 ORtg Last Month    5.8
Name: 5968, dtype: object
5969 1454 14 ORtg Last Month    103.857
Name: 5969, dtype: object
5970 1375 14 ORtg Last Month    98.2143
Name: 5970, dtype: object
5971 0 1 ORtg Last Month    0
Name: 5971, dtype: object
5972 1185 11 ORtg Last Month    107.727
Name: 5972, dtype: object
5973 282 2 ORtg Last Month    141
Name: 5973, dtype: object
5974 957 14 ORtg Last Month    68.3571
Name: 5974, dtype: object
5975 1581 13 ORtg Last Month    121.615
Name: 5975, dtype: object
5976 1409 14 ORtg Last Month    100.643
Name: 5976, dtype: object
5977 1343 14 ORtg Last Month    95.9286
Name: 5977, dtype: object
5978 249 14 ORtg Last Month    17.7857
Name: 5978, dtype: object
5979 1304 13 ORtg Last Month    100.308
Name: 5979, dtype: object
5980 1412 14 ORtg Last Month    100.857
Name: 5980, dtype: object
5981 1448 14 ORtg Last Month    103.429
Name: 5981, dtype: object
5982 1159 13 ORtg Last Month    89.1538
Name: 5982, dtype: object
5983 493 14 ORtg Last Month    35.2143
Name: 5983, dtype: object
5984 767 14 ORtg Last Month    54.7857
Name: 5984, dtype: object
5985 1555 14 ORtg Last Month    111.071
Name: 5985, dtype: object
5986 1278 11 ORtg Last Month    116.182
Name: 5986, dtype: object
5987 642 8 ORtg Last Month    80.25
Name: 5987, dtype: object
5988 1811 15 ORtg Last Month    120.733
Name: 5988, dtype: object
5989 1621 15 ORtg Last Month    108.067
Name: 5989, dtype: object
5990 1532 15 ORtg Last Month    102.133
Name: 5990, dtype: object
5991 1238 15 ORtg Last Month    82.5333
Name: 5991, dtype: object
5992 1856 15 ORtg Last Month    123.733
Name: 5992, dtype: object
5993 1521 15 ORtg Last Month    101.4
Name: 5993, dtype: object
5994 789 7 ORtg Last Month    112.714
Name: 5994, dtype: object
5995 607 9 ORtg Last Month    67.4444
Name: 5995, dtype: object

5996 2050 15 ORtg Last Month    136.667
Name: 5996, dtype: object
5997 1292 14 ORtg Last Month    92.2857
Name: 5997, dtype: object
5998 1766 14 ORtg Last Month    126.143
Name: 5998, dtype: object
5999 564 12 ORtg Last Month    47
Name: 5999, dtype: object
6000 1361 14 ORtg Last Month    97.2143
Name: 6000, dtype: object
6001 1709 15 ORtg Last Month    113.933
Name: 6001, dtype: object
6002 926 14 ORtg Last Month    66.1429
Name: 6002, dtype: object
6003 1433 15 ORtg Last Month    95.5333
Name: 6003, dtype: object
6004 1372 15 ORtg Last Month    91.4667
Name: 6004, dtype: object
6005 1342 15 ORtg Last Month    89.4667
Name: 6005, dtype: object
6006 1629 15 ORtg Last Month    108.6
Name: 6006, dtype: object
6007 902 15 ORtg Last Month    60.1333
Name: 6007, dtype: object
6008 1524 15 ORtg Last Month    101.6
Name: 6008, dtype: object
6009 1555 13 ORtg Last Month    119.615
Name: 6009, dtype: object
6010 813 10 ORtg Last Month    81.3
Name: 6010, dtype: object
6011 1088 13 ORtg Last Month    83.6923
Name: 6011, dtype: object
6012 1325 12 ORtg Last Month    110.417
Name: 6012, dtype: object
6013 351 6 ORtg Last Month    58.5
Name: 6013, dtype: object
6014 1494 13 ORtg Last Month    114.923
Name: 6014, dtype: object
6015 1293 13 ORtg Last Month    99.4615
Name: 6015, dtype: object
6016 1451 13 ORtg Last Month    111.615
Name: 6016, dtype: object
6017 1298 13 ORtg Last Month    99.8462
Name: 6017, dtype: object
6018 1599 13 ORtg Last Month    123
Name: 6018, dtype: object
6019 254 12 ORtg Last Month    21.1667
Name: 6019, dtype: object
6020 707 11 ORtg Last Month    64.2727
Name: 6020, dtype: object
6021 1269 12 ORtg Last Month    105.75
Name: 6021, dtype: object
6022 1286 12 ORtg Last Month    107.167
Name: 6022, dtype: object
6023 441 8 ORtg Last Month    55.125
Name: 6023, dtype: object
6024 722 11 ORtg Last Month    65.6364
Name: 6024, dtype: object
6025 1425 12 ORtg Last Month    118.75
Name: 6025, dtype: object
6026 901 10 ORtg Last Month    90.1
Name: 6026, dtype: object
6027 1374 12 ORtg Last Month    114.5
Name: 6027, dtype: object
6028 1361 12 ORtg Last Month    113.417
Name: 6028, dtype: object
6029 1231 12 ORtg Last Month    102.583
Name: 6029, dtype: object
6030 431 9 ORtg Last Month    47.8889
Name: 6030, dtype: object
6031 922 12 ORtg Last Month    76.8333
Name: 6031, dtype: object
6032 1457 14 ORtg Last Month    104.071
Name: 6032, dtype: object
6033 484 5 ORtg Last Month    96.8
Name: 6033, dtype: object
6034 1143 14 ORtg Last Month    81.6429
Name: 6034, dtype: object
6035 1217 12 ORtg Last Month    101.417
Name: 6035, dtype: object
6036 1394 14 ORtg Last Month    99.5714
Name: 6036, dtype: object
6037 1632 14 ORtg Last Month    116.571
Name: 6037, dtype: object
6038 250 14 ORtg Last Month    17.8571
Name: 6038, dtype: object
6039 1556 14 ORtg Last Month    111.143
Name: 6039, dtype: object
6040 248 14 ORtg Last Month    17.7143
Name: 6040, dtype: object
6041 1561 14 ORtg Last Month    111.5
Name: 6041, dtype: object
6042 1566 14 ORtg Last Month    111.857
Name: 6042, dtype: object
6043 1763 14 ORtg Last Month    125.929
Name: 6043, dtype: object
6044 1429 14 ORtg Last Month    102.071
Name: 6044, dtype: object
6045 739 14 ORtg Last Month    52.7857
Name: 6045, dtype: object
6046 1713 14 ORtg Last Month    122.357
Name: 6046, dtype: object
6047 1487 14 ORtg Last Month    106.214
Name: 6047, dtype: object
6048 824 14 ORtg Last Month    58.8571
Name: 6048, dtype: object
6049 348 14 ORtg Last Month    24.8571
Name: 6049, dtype: object
6050 1569 14 ORtg Last Month    112.071
Name: 6050, dtype: object
6051 1567 14 ORtg Last Month    111.929
Name: 6051, dtype: object
6052 1512 14 ORtg Last Month    108
Name: 6052, dtype: object
6053 222 4 ORtg Last Month    55.5
Name: 6053, dtype: object
6054 1237 12 ORtg Last Month    103.083
Name: 6054, dtype: object
6055 1210 12 ORtg Last Month    100.833
Name: 6055, dtype: object
6056 796 11 ORtg Last Month    72.3636
Name: 6056, dtype: object
6057 344 10 ORtg Last Month    34.4
Name: 6057, dtype: object
6058 65 4 ORtg Last Month    16.25
Name: 6058, dtype: object
6059 981 10 ORtg Last Month    98.1
Name: 6059, dtype: object
6060 1042 12 ORtg Last Month    86.8333
Name: 6060, dtype: object
6061 1215 12 ORtg Last Month    101.25
Name: 6061, dtype: object
6062 1324 12 ORtg Last Month    110.333
Name: 6062, dtype: object
6063 909 11 ORtg Last Month    82.6364
Name: 6063, dtype: object
6064 1269 12 ORtg Last Month    105.75
Name: 6064, dtype: object
6065 1541 15 ORtg Last Month    102.733
Name: 6065, dtype: object
6066 1326 14 ORtg Last Month    94.7143
Name: 6066, dtype: object
6067 450 8 ORtg Last Month    56.25
Name: 6067, dtype: object
6068 680 7 ORtg Last Month    97.1429
Name: 6068, dtype: object
6069 1878 15 ORtg Last Month    125.2
Name: 6069, dtype: object
6070 2019 15 ORtg Last Month    134.6
Name: 6070, dtype: object
6071 1621 14 ORtg Last Month    115.786
Name: 6071, dtype: object
6072 1395 15 ORtg Last Month    93
Name: 6072, dtype: object
6073 1926 15 ORtg Last Month    128.4
Name: 6073, dtype: object
6074 2058 15 ORtg Last Month    137.2
Name: 6074, dtype: object
6075 987 9 ORtg Last Month    109.667
Name: 6075, dtype: object
6076 1169 11 ORtg Last Month    106.273
Name: 6076, dtype: object
6077 585 11 ORtg Last Month    53.1818
Name: 6077, dtype: object
6078 952 9 ORtg Last Month    105.778
Name: 6078, dtype: object
6079 1452 12 ORtg Last Month    121
Name: 6079, dtype: object
6080 794 10 ORtg Last Month    79.4
Name: 6080, dtype: object
6081 1001 12 ORtg Last Month    83.4167
Name: 6081, dtype: object
6082 854 10 ORtg Last Month    85.4
Name: 6082, dtype: object
6083 1249 12 ORtg Last Month    104.083
Name: 6083, dtype: object
6084 1523 12 ORtg Last Month    126.917
Name: 6084, dtype: object
6085 384 10 ORtg Last Month    38.4
Name: 6085, dtype: object
6086 470 14 ORtg Last Month    33.5714
Name: 6086, dtype: object
6087 1486 14 ORtg Last Month    106.143
Name: 6087, dtype: object
6088 1428 14 ORtg Last Month    102
Name: 6088, dtype: object
6089 0 0 ORtg Last Month    0
Name: 6089, dtype: object
6090 1580 14 ORtg Last Month    112.857
Name: 6090, dtype: object
6091 1270 14 ORtg Last Month    90.7143
Name: 6091, dtype: object
6092 1371 14 ORtg Last Month    97.9286
Name: 6092, dtype: object
6093 1150 13 ORtg Last Month    88.4615
Name: 6093, dtype: object
6094 1352 14 ORtg Last Month    96.5714
Name: 6094, dtype: object
6095 1789 14 ORtg Last Month    127.786
Name: 6095, dtype: object
6096 738 14 ORtg Last Month    52.7143
Name: 6096, dtype: object
6097 1399 14 ORtg Last Month    99.9286
Name: 6097, dtype: object
6098 1723 14 ORtg Last Month    123.071
Name: 6098, dtype: object
6099 581 14 ORtg Last Month    41.5
Name: 6099, dtype: object
6100 1714 14 ORtg Last Month    122.429
Name: 6100, dtype: object
6101 1436 14 ORtg Last Month    102.571
Name: 6101, dtype: object
6102 1480 14 ORtg Last Month    105.714
Name: 6102, dtype: object
6103 993 10 ORtg Last Month    99.3
Name: 6103, dtype: object
6104 1280 14 ORtg Last Month    91.4286
Name: 6104, dtype: object
6105 194 9 ORtg Last Month    21.5556
Name: 6105, dtype: object
6106 1670 14 ORtg Last Month    119.286
Name: 6106, dtype: object
6107 1188 12 ORtg Last Month    99
Name: 6107, dtype: object
6108 0 5 ORtg Last Month    0
Name: 6108, dtype: object
6109 456 13 ORtg Last Month    35.0769
Name: 6109, dtype: object
6110 1505 14 ORtg Last Month    107.5
Name: 6110, dtype: object
6111 1411 14 ORtg Last Month    100.786
Name: 6111, dtype: object
6112 1335 14 ORtg Last Month    95.3571
Name: 6112, dtype: object
6113 1387 14 ORtg Last Month    99.0714
Name: 6113, dtype: object
6114 1752 14 ORtg Last Month    125.143
Name: 6114, dtype: object
6115 1062 9 ORtg Last Month    118
Name: 6115, dtype: object
6116 217 2 ORtg Last Month    108.5
Name: 6116, dtype: object
6117 1430 14 ORtg Last Month    102.143
Name: 6117, dtype: object
6118 1655 14 ORtg Last Month    118.214
Name: 6118, dtype: object
6119 0 6 ORtg Last Month    0
Name: 6119, dtype: object
6120 713 14 ORtg Last Month    50.9286
Name: 6120, dtype: object
6121 0 4 ORtg Last Month    0
Name: 6121, dtype: object
6122 1553 14 ORtg Last Month    110.929
Name: 6122, dtype: object
6123 1630 14 ORtg Last Month    116.429
Name: 6123, dtype: object

6124 1616 14 ORtg Last Month    115.429
Name: 6124, dtype: object
6125 533 13 ORtg Last Month    41
Name: 6125, dtype: object
6126 68 3 ORtg Last Month    22.6667
Name: 6126, dtype: object
6127 568 13 ORtg Last Month    43.6923
Name: 6127, dtype: object
6128 1490 13 ORtg Last Month    114.615
Name: 6128, dtype: object
6129 1645 14 ORtg Last Month    117.5
Name: 6129, dtype: object
6130 1618 14 ORtg Last Month    115.571
Name: 6130, dtype: object
6131 1820 14 ORtg Last Month    130
Name: 6131, dtype: object
6132 841 14 ORtg Last Month    60.0714
Name: 6132, dtype: object
6133 80 4 ORtg Last Month    20
Name: 6133, dtype: object
6134 1644 14 ORtg Last Month    117.429
Name: 6134, dtype: object
6135 1589 14 ORtg Last Month    113.5
Name: 6135, dtype: object
6136 1514 13 ORtg Last Month    116.462
Name: 6136, dtype: object
6137 738 9 ORtg Last Month    82
Name: 6137, dtype: object
6138 1317 13 ORtg Last Month    101.308
Name: 6138, dtype: object
6139 1053 13 ORtg Last Month    81
Name: 6139, dtype: object
6140 1255 13 ORtg Last Month    96.5385
Name: 6140, dtype: object
6141 1423 13 ORtg Last Month    109.462
Name: 6141, dtype: object
6142 979 10 ORtg Last Month    97.9
Name: 6142, dtype: object
6143 1689 14 ORtg Last Month    120.643
Name: 6143, dtype: object
6144 1183 13 ORtg Last Month    91
Name: 6144, dtype: object
6145 336 13 ORtg Last Month    25.8462
Name: 6145, dtype: object
6146 128 13 ORtg Last Month    9.84615
Name: 6146, dtype: object
6147 1474 14 ORtg Last Month    105.286
Name: 6147, dtype: object
6148 1349 14 ORtg Last Month    96.3571
Name: 6148, dtype: object
6149 1660 15 ORtg Last Month    110.667
Name: 6149, dtype: object
6150 578 15 ORtg Last Month    38.5333
Name: 6150, dtype: object
6151 1162 15 ORtg Last Month    77.4667
Name: 6151, dtype: object
6152 873 15 ORtg Last Month    58.2
Name: 6152, dtype: object
6153 1821 15 ORtg Last Month    121.4
Name: 6153, dtype: object
6154 1498 13 ORtg Last Month    115.231
Name: 6154, dtype: object
6155 1341 15 ORtg Last Month    89.4
Name: 6155, dtype: object
6156 1170 11 ORtg Last Month    106.364
Name: 6156, dtype: object
6157 446 15 ORtg Last Month    29.7333
Name: 6157, dtype: object
6158 1362 13 ORtg Last Month    104.769
Name: 6158, dtype: object
6159 1434 14 ORtg Last Month    102.429
Name: 6159, dtype: object
6160 1754 15 ORtg Last Month    116.933
Name: 6160, dtype: object
6161 317 13 ORtg Last Month    24.3846
Name: 6161, dtype: object
6162 1321 15 ORtg Last Month    88.0667
Name: 6162, dtype: object
6163 1677 15 ORtg Last Month    111.8
Name: 6163, dtype: object
6164 1065 12 ORtg Last Month    88.75
Name: 6164, dtype: object
6165 1259 15 ORtg Last Month    83.9333
Name: 6165, dtype: object
6166 560 15 ORtg Last Month    37.3333
Name: 6166, dtype: object
6167 1551 15 ORtg Last Month    103.4
Name: 6167, dtype: object
6168 630 8 ORtg Last Month    78.75
Name: 6168, dtype: object
6169 1126 15 ORtg Last Month    75.0667
Name: 6169, dtype: object
6170 1618 15 ORtg Last Month    107.867
Name: 6170, dtype: object
6171 1728 15 ORtg Last Month    115.2
Name: 6171, dtype: object
6172 1677 15 ORtg Last Month    111.8
Name: 6172, dtype: object
6173 751 7 ORtg Last Month    107.286
Name: 6173, dtype: object
6174 1381 13 ORtg Last Month    106.231
Name: 6174, dtype: object
6175 1339 12 ORtg Last Month    111.583
Name: 6175, dtype: object
6176 113 6 ORtg Last Month    18.8333
Name: 6176, dtype: object
6177 886 13 ORtg Last Month    68.1538
Name: 6177, dtype: object
6178 1476 13 ORtg Last Month    113.538
Name: 6178, dtype: object
6179 1604 13 ORtg Last Month    123.385
Name: 6179, dtype: object
6180 208 12 ORtg Last Month    17.3333
Name: 6180, dtype: object
6181 1158 11 ORtg Last Month    105.273
Name: 6181, dtype: object
6182 1511 12 ORtg Last Month    125.917
Name: 6182, dtype: object
6183 1486 12 ORtg Last Month    123.833
Name: 6183, dtype: object
6184 1397 13 ORtg Last Month    107.462
Name: 6184, dtype: object
6185 1697 15 ORtg Last Month    113.133
Name: 6185, dtype: object
6186 1868 16 ORtg Last Month    116.75
Name: 6186, dtype: object
6187 1208 15 ORtg Last Month    80.5333
Name: 6187, dtype: object
6188 1059 15 ORtg Last Month    70.6
Name: 6188, dtype: object
6189 0 1 ORtg Last Month    0
Name: 6189, dtype: object
6190 0 4 ORtg Last Month    0
Name: 6190, dtype: object
6191 1378 12 ORtg Last Month    114.833
Name: 6191, dtype: object
6192 912 9 ORtg Last Month    101.333
Name: 6192, dtype: object
6193 1788 16 ORtg Last Month    111.75
Name: 6193, dtype: object
6194 1798 16 ORtg Last Month    112.375
Name: 6194, dtype: object
6195 1439 14 ORtg Last Month    102.786
Name: 6195, dtype: object
6196 1791 16 ORtg Last Month    111.938
Name: 6196, dtype: object
6197 1104 11 ORtg Last Month    100.364
Name: 6197, dtype: object
6198 1149 14 ORtg Last Month    82.0714
Name: 6198, dtype: object
6199 1212 13 ORtg Last Month    93.2308
Name: 6199, dtype: object
6200 867 11 ORtg Last Month    78.8182
Name: 6200, dtype: object
6201 274 12 ORtg Last Month    22.8333
Name: 6201, dtype: object
6202 1391 13 ORtg Last Month    107
Name: 6202, dtype: object
6203 1213 12 ORtg Last Month    101.083
Name: 6203, dtype: object
6204 1478 14 ORtg Last Month    105.571
Name: 6204, dtype: object
6205 1006 14 ORtg Last Month    71.8571
Name: 6205, dtype: object
6206 447 14 ORtg Last Month    31.9286
Name: 6206, dtype: object
6207 1683 14 ORtg Last Month    120.214
Name: 6207, dtype: object
6208 1053 14 ORtg Last Month    75.2143
Name: 6208, dtype: object
6209 667 14 ORtg Last Month    47.6429
Name: 6209, dtype: object
6210 1752 15 ORtg Last Month    116.8
Name: 6210, dtype: object
6211 162 15 ORtg Last Month    10.8
Name: 6211, dtype: object
6212 196 8 ORtg Last Month    24.5
Name: 6212, dtype: object
6213 1844 15 ORtg Last Month    122.933
Name: 6213, dtype: object
6214 1687 15 ORtg Last Month    112.467
Name: 6214, dtype: object
6215 284 3 ORtg Last Month    94.6667
Name: 6215, dtype: object
6216 1467 15 ORtg Last Month    97.8
Name: 6216, dtype: object
6217 1506 15 ORtg Last Month    100.4
Name: 6217, dtype: object
6218 543 15 ORtg Last Month    36.2
Name: 6218, dtype: object
6219 1856 15 ORtg Last Month    123.733
Name: 6219, dtype: object
6220 1730 15 ORtg Last Month    115.333
Name: 6220, dtype: object
6221 1405 15 ORtg Last Month    93.6667
Name: 6221, dtype: object
6222 1533 14 ORtg Last Month    109.5
Name: 6222, dtype: object
6223 1114 12 ORtg Last Month    92.8333
Name: 6223, dtype: object
6224 728 14 ORtg Last Month    52
Name: 6224, dtype: object
6225 1526 14 ORtg Last Month    109
Name: 6225, dtype: object
6226 653 6 ORtg Last Month    108.833
Name: 6226, dtype: object
6227 1425 14 ORtg Last Month    101.786
Name: 6227, dtype: object
6228 1522 14 ORtg Last Month    108.714
Name: 6228, dtype: object
6229 1184 12 ORtg Last Month    98.6667
Name: 6229, dtype: object
6230 1434 14 ORtg Last Month    102.429
Name: 6230, dtype: object
6231 896 14 ORtg Last Month    64
Name: 6231, dtype: object
6232 1458 14 ORtg Last Month    104.143
Name: 6232, dtype: object
6233 476 11 ORtg Last Month    43.2727
Name: 6233, dtype: object
6234 1443 14 ORtg Last Month    103.071
Name: 6234, dtype: object
6235 1599 14 ORtg Last Month    114.214
Name: 6235, dtype: object
6236 501 7 ORtg Last Month    71.5714
Name: 6236, dtype: object
6237 1609 14 ORtg Last Month    114.929
Name: 6237, dtype: object
6238 1076 11 ORtg Last Month    97.8182
Name: 6238, dtype: object
6239 1676 14 ORtg Last Month    119.714
Name: 6239, dtype: object
6240 1486 14 ORtg Last Month    106.143
Name: 6240, dtype: object
6241 999 14 ORtg Last Month    71.3571
Name: 6241, dtype: object
6242 643 14 ORtg Last Month    45.9286
Name: 6242, dtype: object
6243 1357 14 ORtg Last Month    96.9286
Name: 6243, dtype: object
6244 1283 12 ORtg Last Month    106.917
Name: 6244, dtype: object
6245 1216 13 ORtg Last Month    93.5385
Name: 6245, dtype: object
6246 1765 15 ORtg Last Month    117.667
Name: 6246, dtype: object
6247 1090 11 ORtg Last Month    99.0909
Name: 6247, dtype: object
6248 1369 13 ORtg Last Month    105.308
Name: 6248, dtype: object
6249 971 15 ORtg Last Month    64.7333
Name: 6249, dtype: object
6250 418 4 ORtg Last Month    104.5
Name: 6250, dtype: object

6251 460 14 ORtg Last Month    32.8571
Name: 6251, dtype: object
6252 1954 15 ORtg Last Month    130.267
Name: 6252, dtype: object
6253 1765 15 ORtg Last Month    117.667
Name: 6253, dtype: object
6254 274 3 ORtg Last Month    91.3333
Name: 6254, dtype: object
6255 1749 15 ORtg Last Month    116.6
Name: 6255, dtype: object
6256 1634 14 ORtg Last Month    116.714
Name: 6256, dtype: object
6257 508 15 ORtg Last Month    33.8667
Name: 6257, dtype: object
6258 1301 13 ORtg Last Month    100.077
Name: 6258, dtype: object
6259 1444 15 ORtg Last Month    96.2667
Name: 6259, dtype: object
6260 1075 12 ORtg Last Month    89.5833
Name: 6260, dtype: object
6261 1506 15 ORtg Last Month    100.4
Name: 6261, dtype: object
6262 72 1 ORtg Last Month    72
Name: 6262, dtype: object
6263 1414 15 ORtg Last Month    94.2667
Name: 6263, dtype: object
6264 1601 15 ORtg Last Month    106.733
Name: 6264, dtype: object
6265 1414 15 ORtg Last Month    94.2667
Name: 6265, dtype: object
6266 316 14 ORtg Last Month    22.5714
Name: 6266, dtype: object
6267 1140 14 ORtg Last Month    81.4286
Name: 6267, dtype: object
6268 1961 15 ORtg Last Month    130.733
Name: 6268, dtype: object
6269 1747 14 ORtg Last Month    124.786
Name: 6269, dtype: object
6270 1508 15 ORtg Last Month    100.533
Name: 6270, dtype: object
6271 1700 15 ORtg Last Month    113.333
Name: 6271, dtype: object
6272 1403 14 ORtg Last Month    100.214
Name: 6272, dtype: object
6273 1371 15 ORtg Last Month    91.4
Name: 6273, dtype: object
6274 101 2 ORtg Last Month    50.5
Name: 6274, dtype: object
6275 1471 15 ORtg Last Month    98.0667
Name: 6275, dtype: object
6276 1550 15 ORtg Last Month    103.333
Name: 6276, dtype: object
6277 1277 14 ORtg Last Month    91.2143
Name: 6277, dtype: object
6278 358 3 ORtg Last Month    119.333
Name: 6278, dtype: object
6279 1381 14 ORtg Last Month    98.6429
Name: 6279, dtype: object
6280 1253 12 ORtg Last Month    104.417
Name: 6280, dtype: object
6281 1092 15 ORtg Last Month    72.8
Name: 6281, dtype: object
6282 1280 14 ORtg Last Month    91.4286
Name: 6282, dtype: object
6283 1587 13 ORtg Last Month    122.077
Name: 6283, dtype: object
6284 1402 14 ORtg Last Month    100.143
Name: 6284, dtype: object
6285 249 14 ORtg Last Month    17.7857
Name: 6285, dtype: object
6286 1423 14 ORtg Last Month    101.643
Name: 6286, dtype: object
6287 1480 14 ORtg Last Month    105.714
Name: 6287, dtype: object
6288 1174 13 ORtg Last Month    90.3077
Name: 6288, dtype: object
6289 1347 13 ORtg Last Month    103.615
Name: 6289, dtype: object
6290 650 14 ORtg Last Month    46.4286
Name: 6290, dtype: object
6291 493 14 ORtg Last Month    35.2143
Name: 6291, dtype: object
6292 1307 12 ORtg Last Month    108.917
Name: 6292, dtype: object
6293 576 8 ORtg Last Month    72
Name: 6293, dtype: object
6294 387 8 ORtg Last Month    48.375
Name: 6294, dtype: object
6295 1951 16 ORtg Last Month    121.938
Name: 6295, dtype: object
6296 1668 16 ORtg Last Month    104.25
Name: 6296, dtype: object
6297 1719 16 ORtg Last Month    107.438
Name: 6297, dtype: object
6298 1941 16 ORtg Last Month    121.312
Name: 6298, dtype: object
6299 789 8 ORtg Last Month    98.625
Name: 6299, dtype: object
6300 1381 16 ORtg Last Month    86.3125
Name: 6300, dtype: object
6301 1590 16 ORtg Last Month    99.375
Name: 6301, dtype: object
6302 1389 15 ORtg Last Month    92.6
Name: 6302, dtype: object
6303 1872 15 ORtg Last Month    124.8
Name: 6303, dtype: object
6304 2232 16 ORtg Last Month    139.5
Name: 6304, dtype: object
6305 564 13 ORtg Last Month    43.3846
Name: 6305, dtype: object
6306 1340 14 ORtg Last Month    95.7143
Name: 6306, dtype: object
6307 1874 15 ORtg Last Month    124.933
Name: 6307, dtype: object
6308 1439 15 ORtg Last Month    95.9333
Name: 6308, dtype: object
6309 1059 14 ORtg Last Month    75.6429
Name: 6309, dtype: object
6310 1566 15 ORtg Last Month    104.4
Name: 6310, dtype: object
6311 1569 15 ORtg Last Month    104.6
Name: 6311, dtype: object
6312 1348 15 ORtg Last Month    89.8667
Name: 6312, dtype: object
6313 0 0 ORtg Last Month    0
Name: 6313, dtype: object
6314 915 15 ORtg Last Month    61
Name: 6314, dtype: object
6315 1603 15 ORtg Last Month    106.867
Name: 6315, dtype: object
6316 1583 13 ORtg Last Month    121.769
Name: 6316, dtype: object
6317 942 11 ORtg Last Month    85.6364
Name: 6317, dtype: object
6318 129 6 ORtg Last Month    21.5
Name: 6318, dtype: object
6319 1122 13 ORtg Last Month    86.3077
Name: 6319, dtype: object
6320 1546 13 ORtg Last Month    118.923
Name: 6320, dtype: object
6321 1385 13 ORtg Last Month    106.538
Name: 6321, dtype: object
6322 1387 13 ORtg Last Month    106.692
Name: 6322, dtype: object
6323 1603 13 ORtg Last Month    123.308
Name: 6323, dtype: object
6324 281 12 ORtg Last Month    23.4167
Name: 6324, dtype: object
6325 1608 13 ORtg Last Month    123.692
Name: 6325, dtype: object
6326 592 11 ORtg Last Month    53.8182
Name: 6326, dtype: object
6327 1369 13 ORtg Last Month    105.308
Name: 6327, dtype: object
6328 1383 13 ORtg Last Month    106.385
Name: 6328, dtype: object
6329 564 8 ORtg Last Month    70.5
Name: 6329, dtype: object
6330 1514 13 ORtg Last Month    116.462
Name: 6330, dtype: object
6331 882 12 ORtg Last Month    73.5
Name: 6331, dtype: object
6332 1464 13 ORtg Last Month    112.615
Name: 6332, dtype: object
6333 1050 11 ORtg Last Month    95.4545
Name: 6333, dtype: object
6334 1473 13 ORtg Last Month    113.308
Name: 6334, dtype: object
6335 1334 13 ORtg Last Month    102.615
Name: 6335, dtype: object
6336 922 13 ORtg Last Month    70.9231
Name: 6336, dtype: object
6337 431 10 ORtg Last Month    43.1
Name: 6337, dtype: object
6338 1493 14 ORtg Last Month    106.643
Name: 6338, dtype: object
6339 1775 14 ORtg Last Month    126.786
Name: 6339, dtype: object
6340 1520 14 ORtg Last Month    108.571
Name: 6340, dtype: object
6341 1506 14 ORtg Last Month    107.571
Name: 6341, dtype: object
6342 531 14 ORtg Last Month    37.9286
Name: 6342, dtype: object
6343 1445 14 ORtg Last Month    103.214
Name: 6343, dtype: object
6344 1705 14 ORtg Last Month    121.786
Name: 6344, dtype: object
6345 706 14 ORtg Last Month    50.4286
Name: 6345, dtype: object
6346 303 14 ORtg Last Month    21.6429
Name: 6346, dtype: object
6347 1534 14 ORtg Last Month    109.571
Name: 6347, dtype: object
6348 1533 14 ORtg Last Month    109.5
Name: 6348, dtype: object
6349 1572 14 ORtg Last Month    112.286
Name: 6349, dtype: object
6350 0 4 ORtg Last Month    0
Name: 6350, dtype: object
6351 1156 12 ORtg Last Month    96.3333
Name: 6351, dtype: object
6352 344 10 ORtg Last Month    34.4
Name: 6352, dtype: object
6353 1292 12 ORtg Last Month    107.667
Name: 6353, dtype: object
6354 796 11 ORtg Last Month    72.3636
Name: 6354, dtype: object
6355 65 5 ORtg Last Month    13
Name: 6355, dtype: object
6356 996 10 ORtg Last Month    99.6
Name: 6356, dtype: object
6357 1137 12 ORtg Last Month    94.75
Name: 6357, dtype: object
6358 1378 12 ORtg Last Month    114.833
Name: 6358, dtype: object
6359 1198 12 ORtg Last Month    99.8333
Name: 6359, dtype: object
6360 1292 12 ORtg Last Month    107.667
Name: 6360, dtype: object
6361 1050 11 ORtg Last Month    95.4545
Name: 6361, dtype: object
6362 1523 15 ORtg Last Month    101.533
Name: 6362, dtype: object
6363 1302 14 ORtg Last Month    93
Name: 6363, dtype: object
6364 728 8 ORtg Last Month    91
Name: 6364, dtype: object
6365 543 8 ORtg Last Month    67.875
Name: 6365, dtype: object
6366 1865 15 ORtg Last Month    124.333
Name: 6366, dtype: object
6367 1395 15 ORtg Last Month    93
Name: 6367, dtype: object
6368 1940 15 ORtg Last Month    129.333
Name: 6368, dtype: object
6369 1709 14 ORtg Last Month    122.071
Name: 6369, dtype: object
6370 1887 15 ORtg Last Month    125.8
Name: 6370, dtype: object
6371 1971 15 ORtg Last Month    131.4
Name: 6371, dtype: object
6372 1128 10 ORtg Last Month    112.8
Name: 6372, dtype: object
6373 1284 12 ORtg Last Month    107
Name: 6373, dtype: object
6374 585 12 ORtg Last Month    48.75
Name: 6374, dtype: object
6375 1585 13 ORtg Last Month    121.923
Name: 6375, dtype: object
6376 887 11 ORtg Last Month    80.6364
Name: 6376, dtype: object
6377 1113 10 ORtg Last Month    111.3
Name: 6377, dtype: object

6378 1249 13 ORtg Last Month    96.0769
Name: 6378, dtype: object
6379 1088 13 ORtg Last Month    83.6923
Name: 6379, dtype: object
6380 974 11 ORtg Last Month    88.5455
Name: 6380, dtype: object
6381 1690 13 ORtg Last Month    130
Name: 6381, dtype: object
6382 384 11 ORtg Last Month    34.9091
Name: 6382, dtype: object
6383 1466 14 ORtg Last Month    104.714
Name: 6383, dtype: object
6384 572 14 ORtg Last Month    40.8571
Name: 6384, dtype: object
6385 1434 14 ORtg Last Month    102.429
Name: 6385, dtype: object
6386 22 1 ORtg Last Month    22
Name: 6386, dtype: object
6387 1635 14 ORtg Last Month    116.786
Name: 6387, dtype: object
6388 1399 14 ORtg Last Month    99.9286
Name: 6388, dtype: object
6389 1234 13 ORtg Last Month    94.9231
Name: 6389, dtype: object
6390 1430 14 ORtg Last Month    102.143
Name: 6390, dtype: object
6391 1824 14 ORtg Last Month    130.286
Name: 6391, dtype: object
6392 791 14 ORtg Last Month    56.5
Name: 6392, dtype: object
6393 0 0 ORtg Last Month    0
Name: 6393, dtype: object
6394 558 7 ORtg Last Month    79.7143
Name: 6394, dtype: object
6395 1479 13 ORtg Last Month    113.769
Name: 6395, dtype: object
6396 1352 13 ORtg Last Month    104
Name: 6396, dtype: object
6397 818 12 ORtg Last Month    68.1667
Name: 6397, dtype: object
6398 1081 13 ORtg Last Month    83.1538
Name: 6398, dtype: object
6399 647 8 ORtg Last Month    80.875
Name: 6399, dtype: object
6400 1465 12 ORtg Last Month    122.083
Name: 6400, dtype: object
6401 1529 13 ORtg Last Month    117.615
Name: 6401, dtype: object
6402 1583 13 ORtg Last Month    121.769
Name: 6402, dtype: object
6403 1736 13 ORtg Last Month    133.538
Name: 6403, dtype: object
6404 1194 13 ORtg Last Month    91.8462
Name: 6404, dtype: object
6405 978 12 ORtg Last Month    81.5
Name: 6405, dtype: object
6406 1372 14 ORtg Last Month    98
Name: 6406, dtype: object
6407 1657 14 ORtg Last Month    118.357
Name: 6407, dtype: object
6408 524 14 ORtg Last Month    37.4286
Name: 6408, dtype: object
6409 1719 14 ORtg Last Month    122.786
Name: 6409, dtype: object
6410 1099 11 ORtg Last Month    99.9091
Name: 6410, dtype: object
6411 1447 14 ORtg Last Month    103.357
Name: 6411, dtype: object
6412 1455 14 ORtg Last Month    103.929
Name: 6412, dtype: object
6413 1245 14 ORtg Last Month    88.9286
Name: 6413, dtype: object
6414 118 9 ORtg Last Month    13.1111
Name: 6414, dtype: object
6415 1691 14 ORtg Last Month    120.786
Name: 6415, dtype: object
6416 1282 12 ORtg Last Month    106.833
Name: 6416, dtype: object
6417 0 6 ORtg Last Month    0
Name: 6417, dtype: object
6418 383 13 ORtg Last Month    29.4615
Name: 6418, dtype: object
6419 1534 14 ORtg Last Month    109.571
Name: 6419, dtype: object
6420 1497 14 ORtg Last Month    106.929
Name: 6420, dtype: object
6421 1685 14 ORtg Last Month    120.357
Name: 6421, dtype: object
6422 1329 14 ORtg Last Month    94.9286
Name: 6422, dtype: object
6423 1452 14 ORtg Last Month    103.714
Name: 6423, dtype: object
6424 1478 14 ORtg Last Month    105.571
Name: 6424, dtype: object
6425 300 3 ORtg Last Month    100
Name: 6425, dtype: object
6426 1643 14 ORtg Last Month    117.357
Name: 6426, dtype: object
6427 1071 9 ORtg Last Month    119
Name: 6427, dtype: object
6428 0 7 ORtg Last Month    0
Name: 6428, dtype: object
6429 713 14 ORtg Last Month    50.9286
Name: 6429, dtype: object
6430 1572 14 ORtg Last Month    112.286
Name: 6430, dtype: object
6431 1039 14 ORtg Last Month    74.2143
Name: 6431, dtype: object
6432 1264 14 ORtg Last Month    90.2857
Name: 6432, dtype: object
6433 703 7 ORtg Last Month    100.429
Name: 6433, dtype: object
6434 1596 14 ORtg Last Month    114
Name: 6434, dtype: object
6435 1550 14 ORtg Last Month    110.714
Name: 6435, dtype: object
6436 196 2 ORtg Last Month    98
Name: 6436, dtype: object
6437 204 9 ORtg Last Month    22.6667
Name: 6437, dtype: object
6438 663 12 ORtg Last Month    55.25
Name: 6438, dtype: object
6439 94 14 ORtg Last Month    6.71429
Name: 6439, dtype: object
6440 1351 13 ORtg Last Month    103.923
Name: 6440, dtype: object
6441 1745 14 ORtg Last Month    124.643
Name: 6441, dtype: object
6442 1327 14 ORtg Last Month    94.7857
Name: 6442, dtype: object
6443 1621 14 ORtg Last Month    115.786
Name: 6443, dtype: object
6444 1618 14 ORtg Last Month    115.571
Name: 6444, dtype: object
6445 630 13 ORtg Last Month    48.4615
Name: 6445, dtype: object
6446 654 13 ORtg Last Month    50.3077
Name: 6446, dtype: object
6447 300 4 ORtg Last Month    75
Name: 6447, dtype: object
6448 1517 13 ORtg Last Month    116.692
Name: 6448, dtype: object
6449 1632 14 ORtg Last Month    116.571
Name: 6449, dtype: object
6450 1772 14 ORtg Last Month    126.571
Name: 6450, dtype: object
6451 1845 14 ORtg Last Month    131.786
Name: 6451, dtype: object
6452 1502 14 ORtg Last Month    107.286
Name: 6452, dtype: object
6453 1569 14 ORtg Last Month    112.071
Name: 6453, dtype: object
6454 942 14 ORtg Last Month    67.2857
Name: 6454, dtype: object
6455 270 5 ORtg Last Month    54
Name: 6455, dtype: object
6456 747 9 ORtg Last Month    83
Name: 6456, dtype: object
6457 1568 13 ORtg Last Month    120.615
Name: 6457, dtype: object
6458 1276 13 ORtg Last Month    98.1538
Name: 6458, dtype: object
6459 974 13 ORtg Last Month    74.9231
Name: 6459, dtype: object
6460 1782 14 ORtg Last Month    127.286
Name: 6460, dtype: object
6461 1402 13 ORtg Last Month    107.846
Name: 6461, dtype: object
6462 975 10 ORtg Last Month    97.5
Name: 6462, dtype: object
6463 1298 13 ORtg Last Month    99.8462
Name: 6463, dtype: object
6464 1106 13 ORtg Last Month    85.0769
Name: 6464, dtype: object
6465 336 13 ORtg Last Month    25.8462
Name: 6465, dtype: object
6466 128 13 ORtg Last Month    9.84615
Name: 6466, dtype: object
6467 1465 14 ORtg Last Month    104.643
Name: 6467, dtype: object
6468 1253 14 ORtg Last Month    89.5
Name: 6468, dtype: object
6469 1708 15 ORtg Last Month    113.867
Name: 6469, dtype: object
6470 1222 15 ORtg Last Month    81.4667
Name: 6470, dtype: object
6471 705 15 ORtg Last Month    47
Name: 6471, dtype: object
6472 873 15 ORtg Last Month    58.2
Name: 6472, dtype: object
6473 1516 13 ORtg Last Month    116.615
Name: 6473, dtype: object
6474 1216 11 ORtg Last Month    110.545
Name: 6474, dtype: object
6475 1455 15 ORtg Last Month    97
Name: 6475, dtype: object
6476 1362 14 ORtg Last Month    97.2857
Name: 6476, dtype: object
6477 1831 15 ORtg Last Month    122.067
Name: 6477, dtype: object
6478 370 15 ORtg Last Month    24.6667
Name: 6478, dtype: object
6479 1381 14 ORtg Last Month    98.6429
Name: 6479, dtype: object
6480 1757 15 ORtg Last Month    117.133
Name: 6480, dtype: object
6481 317 13 ORtg Last Month    24.3846
Name: 6481, dtype: object
6482 1157 13 ORtg Last Month    89
Name: 6482, dtype: object
6483 1658 15 ORtg Last Month    110.533
Name: 6483, dtype: object
6484 1236 15 ORtg Last Month    82.4
Name: 6484, dtype: object
6485 1353 15 ORtg Last Month    90.2
Name: 6485, dtype: object
6486 1436 15 ORtg Last Month    95.7333
Name: 6486, dtype: object
6487 1067 15 ORtg Last Month    71.1333
Name: 6487, dtype: object
6488 766 9 ORtg Last Month    85.1111
Name: 6488, dtype: object
6489 1646 15 ORtg Last Month    109.733
Name: 6489, dtype: object
6490 1683 15 ORtg Last Month    112.2
Name: 6490, dtype: object
6491 1932 15 ORtg Last Month    128.8
Name: 6491, dtype: object
6492 842 8 ORtg Last Month    105.25
Name: 6492, dtype: object
6493 1539 14 ORtg Last Month    109.929
Name: 6493, dtype: object
6494 317 7 ORtg Last Month    45.2857
Name: 6494, dtype: object
6495 886 14 ORtg Last Month    63.2857
Name: 6495, dtype: object
6496 1583 14 ORtg Last Month    113.071
Name: 6496, dtype: object
6497 1744 14 ORtg Last Month    124.571
Name: 6497, dtype: object
6498 936 12 ORtg Last Month    78
Name: 6498, dtype: object
6499 271 13 ORtg Last Month    20.8462
Name: 6499, dtype: object
6500 1669 13 ORtg Last Month    128.385
Name: 6500, dtype: object
6501 1642 13 ORtg Last Month    126.308
Name: 6501, dtype: object
6502 1417 14 ORtg Last Month    101.214
Name: 6502, dtype: object
6503 0 0 ORtg Last Month    0
Name: 6503, dtype: object
6504 1914 14 ORtg Last Month    136.714
Name: 6504, dtype: object
6505 1479 14 ORtg Last Month    105.643
Name: 6505, dtype: object

6506 653 14 ORtg Last Month    46.6429
Name: 6506, dtype: object
6507 1422 13 ORtg Last Month    109.385
Name: 6507, dtype: object
6508 1419 14 ORtg Last Month    101.357
Name: 6508, dtype: object
6509 1415 14 ORtg Last Month    101.071
Name: 6509, dtype: object
6510 834 8 ORtg Last Month    104.25
Name: 6510, dtype: object
6511 1151 13 ORtg Last Month    88.5385
Name: 6511, dtype: object
6512 270 14 ORtg Last Month    19.2857
Name: 6512, dtype: object
6513 1607 14 ORtg Last Month    114.786
Name: 6513, dtype: object
6514 1516 14 ORtg Last Month    108.286
Name: 6514, dtype: object
6515 725 14 ORtg Last Month    51.7857
Name: 6515, dtype: object
6516 1793 16 ORtg Last Month    112.062
Name: 6516, dtype: object
6517 1955 16 ORtg Last Month    122.188
Name: 6517, dtype: object
6518 1175 15 ORtg Last Month    78.3333
Name: 6518, dtype: object
6519 1128 15 ORtg Last Month    75.2
Name: 6519, dtype: object
6520 0 2 ORtg Last Month    0
Name: 6520, dtype: object
6521 0 4 ORtg Last Month    0
Name: 6521, dtype: object
6522 1365 12 ORtg Last Month    113.75
Name: 6522, dtype: object
6523 1752 16 ORtg Last Month    109.5
Name: 6523, dtype: object
6524 1100 10 ORtg Last Month    110
Name: 6524, dtype: object
6525 1761 16 ORtg Last Month    110.062
Name: 6525, dtype: object
6526 1457 14 ORtg Last Month    104.071
Name: 6526, dtype: object
6527 1800 16 ORtg Last Month    112.5
Name: 6527, dtype: object
6528 1100 11 ORtg Last Month    100
Name: 6528, dtype: object
6529 1063 14 ORtg Last Month    75.9286
Name: 6529, dtype: object
6530 1219 13 ORtg Last Month    93.7692
Name: 6530, dtype: object
6531 867 12 ORtg Last Month    72.25
Name: 6531, dtype: object
6532 274 13 ORtg Last Month    21.0769
Name: 6532, dtype: object
6533 1273 12 ORtg Last Month    106.083
Name: 6533, dtype: object
6534 1352 13 ORtg Last Month    104
Name: 6534, dtype: object
6535 1046 14 ORtg Last Month    74.7143
Name: 6535, dtype: object
6536 1481 14 ORtg Last Month    105.786
Name: 6536, dtype: object
6537 235 14 ORtg Last Month    16.7857
Name: 6537, dtype: object
6538 1664 14 ORtg Last Month    118.857
Name: 6538, dtype: object
6539 1174 14 ORtg Last Month    83.8571
Name: 6539, dtype: object
6540 576 14 ORtg Last Month    41.1429
Name: 6540, dtype: object
6541 1758 15 ORtg Last Month    117.2
Name: 6541, dtype: object
6542 1037 11 ORtg Last Month    94.2727
Name: 6542, dtype: object
6543 241 15 ORtg Last Month    16.0667
Name: 6543, dtype: object
6544 1741 15 ORtg Last Month    116.067
Name: 6544, dtype: object
6545 1472 15 ORtg Last Month    98.1333
Name: 6545, dtype: object
6546 1799 15 ORtg Last Month    119.933
Name: 6546, dtype: object
6547 1439 15 ORtg Last Month    95.9333
Name: 6547, dtype: object
6548 1835 15 ORtg Last Month    122.333
Name: 6548, dtype: object
6549 587 15 ORtg Last Month    39.1333
Name: 6549, dtype: object
6550 238 3 ORtg Last Month    79.3333
Name: 6550, dtype: object
6551 1725 15 ORtg Last Month    115
Name: 6551, dtype: object
6552 1517 15 ORtg Last Month    101.133
Name: 6552, dtype: object
6553 1457 14 ORtg Last Month    104.071
Name: 6553, dtype: object
6554 1564 14 ORtg Last Month    111.714
Name: 6554, dtype: object
6555 721 8 ORtg Last Month    90.125
Name: 6555, dtype: object
6556 1117 11 ORtg Last Month    101.545
Name: 6556, dtype: object
6557 1584 14 ORtg Last Month    113.143
Name: 6557, dtype: object
6558 1388 14 ORtg Last Month    99.1429
Name: 6558, dtype: object
6559 1631 14 ORtg Last Month    116.5
Name: 6559, dtype: object
6560 643 14 ORtg Last Month    45.9286
Name: 6560, dtype: object
6561 999 14 ORtg Last Month    71.3571
Name: 6561, dtype: object
6562 1327 14 ORtg Last Month    94.7857
Name: 6562, dtype: object
6563 1416 13 ORtg Last Month    108.923
Name: 6563, dtype: object
6564 1308 12 ORtg Last Month    109
Name: 6564, dtype: object
6565 1665 15 ORtg Last Month    111
Name: 6565, dtype: object
6566 1112 11 ORtg Last Month    101.091
Name: 6566, dtype: object
6567 1450 14 ORtg Last Month    103.571
Name: 6567, dtype: object
6568 819 15 ORtg Last Month    54.6
Name: 6568, dtype: object
6569 487 14 ORtg Last Month    34.7857
Name: 6569, dtype: object
6570 1145 10 ORtg Last Month    114.5
Name: 6570, dtype: object
6571 2007 15 ORtg Last Month    133.8
Name: 6571, dtype: object
6572 918 9 ORtg Last Month    102
Name: 6572, dtype: object
6573 1774 15 ORtg Last Month    118.267
Name: 6573, dtype: object
6574 731 9 ORtg Last Month    81.2222
Name: 6574, dtype: object
6575 1669 14 ORtg Last Month    119.214
Name: 6575, dtype: object
6576 1708 15 ORtg Last Month    113.867
Name: 6576, dtype: object
6577 473 15 ORtg Last Month    31.5333
Name: 6577, dtype: object
6578 1190 12 ORtg Last Month    99.1667
Name: 6578, dtype: object
6579 1466 15 ORtg Last Month    97.7333
Name: 6579, dtype: object
6580 1372 13 ORtg Last Month    105.538
Name: 6580, dtype: object
6581 1539 15 ORtg Last Month    102.6
Name: 6581, dtype: object
6582 687 14 ORtg Last Month    49.0714
Name: 6582, dtype: object
6583 72 2 ORtg Last Month    36
Name: 6583, dtype: object
6584 1433 15 ORtg Last Month    95.5333
Name: 6584, dtype: object
6585 1546 15 ORtg Last Month    103.067
Name: 6585, dtype: object
6586 1389 15 ORtg Last Month    92.6
Name: 6586, dtype: object
6587 316 15 ORtg Last Month    21.0667
Name: 6587, dtype: object
6588 1979 15 ORtg Last Month    131.933
Name: 6588, dtype: object
6589 1779 14 ORtg Last Month    127.071
Name: 6589, dtype: object
6590 1508 15 ORtg Last Month    100.533
Name: 6590, dtype: object
6591 1501 14 ORtg Last Month    107.214
Name: 6591, dtype: object
6592 1495 14 ORtg Last Month    106.786
Name: 6592, dtype: object
6593 1563 14 ORtg Last Month    111.643
Name: 6593, dtype: object
6594 1054 14 ORtg Last Month    75.2857
Name: 6594, dtype: object
6595 1451 13 ORtg Last Month    111.615
Name: 6595, dtype: object
6596 1176 13 ORtg Last Month    90.4615
Name: 6596, dtype: object
6597 1382 14 ORtg Last Month    98.7143
Name: 6597, dtype: object
6598 1678 14 ORtg Last Month    119.857
Name: 6598, dtype: object
6599 718 13 ORtg Last Month    55.2308
Name: 6599, dtype: object
6600 922 14 ORtg Last Month    65.8571
Name: 6600, dtype: object
6601 1010 14 ORtg Last Month    72.1429
Name: 6601, dtype: object
6602 0 0 ORtg Last Month    0
Name: 6602, dtype: object
6603 1689 14 ORtg Last Month    120.643
Name: 6603, dtype: object
6604 1495 15 ORtg Last Month    99.6667
Name: 6604, dtype: object
6605 1383 15 ORtg Last Month    92.2
Name: 6605, dtype: object
6606 387 15 ORtg Last Month    25.8
Name: 6606, dtype: object
6607 1608 15 ORtg Last Month    107.2
Name: 6607, dtype: object
6608 1277 14 ORtg Last Month    91.2143
Name: 6608, dtype: object
6609 1426 14 ORtg Last Month    101.857
Name: 6609, dtype: object
6610 699 15 ORtg Last Month    46.6
Name: 6610, dtype: object
6611 577 15 ORtg Last Month    38.4667
Name: 6611, dtype: object
6612 1599 14 ORtg Last Month    114.214
Name: 6612, dtype: object
6613 1461 13 ORtg Last Month    112.385
Name: 6613, dtype: object
6614 708 9 ORtg Last Month    78.6667
Name: 6614, dtype: object
6615 587 9 ORtg Last Month    65.2222
Name: 6615, dtype: object
6616 1311 14 ORtg Last Month    93.6429
Name: 6616, dtype: object
6617 1309 15 ORtg Last Month    87.2667
Name: 6617, dtype: object
6618 1818 15 ORtg Last Month    121.2
Name: 6618, dtype: object
6619 1097 14 ORtg Last Month    78.3571
Name: 6619, dtype: object
6620 1433 15 ORtg Last Month    95.5333
Name: 6620, dtype: object
6621 1100 13 ORtg Last Month    84.6154
Name: 6621, dtype: object
6622 1344 15 ORtg Last Month    89.6
Name: 6622, dtype: object
6623 1595 15 ORtg Last Month    106.333
Name: 6623, dtype: object
6624 1002 15 ORtg Last Month    66.8
Name: 6624, dtype: object
6625 1460 15 ORtg Last Month    97.3333
Name: 6625, dtype: object
6626 1380 13 ORtg Last Month    106.154
Name: 6626, dtype: object
6627 1430 13 ORtg Last Month    110
Name: 6627, dtype: object
6628 763 8 ORtg Last Month    95.375
Name: 6628, dtype: object
6629 725 6 ORtg Last Month    120.833
Name: 6629, dtype: object
6630 1375 13 ORtg Last Month    105.769
Name: 6630, dtype: object
6631 958 11 ORtg Last Month    87.0909
Name: 6631, dtype: object
6632 951 12 ORtg Last Month    79.25
Name: 6632, dtype: object

6633 1550 13 ORtg Last Month    119.231
Name: 6633, dtype: object
6634 1541 13 ORtg Last Month    118.538
Name: 6634, dtype: object
6635 1431 13 ORtg Last Month    110.077
Name: 6635, dtype: object
6636 922 13 ORtg Last Month    70.9231
Name: 6636, dtype: object
6637 431 11 ORtg Last Month    39.1818
Name: 6637, dtype: object
6638 1375 13 ORtg Last Month    105.769
Name: 6638, dtype: object
6639 635 6 ORtg Last Month    105.833
Name: 6639, dtype: object
6640 967 13 ORtg Last Month    74.3846
Name: 6640, dtype: object
6641 1344 13 ORtg Last Month    103.385
Name: 6641, dtype: object
6642 1531 13 ORtg Last Month    117.769
Name: 6642, dtype: object
6643 1280 13 ORtg Last Month    98.4615
Name: 6643, dtype: object
6644 250 13 ORtg Last Month    19.2308
Name: 6644, dtype: object
6645 1442 13 ORtg Last Month    110.923
Name: 6645, dtype: object
6646 340 13 ORtg Last Month    26.1538
Name: 6646, dtype: object
6647 1573 15 ORtg Last Month    104.867
Name: 6647, dtype: object
6648 1912 15 ORtg Last Month    127.467
Name: 6648, dtype: object
6649 1678 15 ORtg Last Month    111.867
Name: 6649, dtype: object
6650 653 15 ORtg Last Month    43.5333
Name: 6650, dtype: object
6651 1588 15 ORtg Last Month    105.867
Name: 6651, dtype: object
6652 1907 15 ORtg Last Month    127.133
Name: 6652, dtype: object
6653 728 15 ORtg Last Month    48.5333
Name: 6653, dtype: object
6654 1573 15 ORtg Last Month    104.867
Name: 6654, dtype: object
6655 323 15 ORtg Last Month    21.5333
Name: 6655, dtype: object
6656 1672 15 ORtg Last Month    111.467
Name: 6656, dtype: object
6657 1711 15 ORtg Last Month    114.067
Name: 6657, dtype: object
6658 1697 15 ORtg Last Month    113.133
Name: 6658, dtype: object
6659 1528 15 ORtg Last Month    101.867
Name: 6659, dtype: object
6660 1323 14 ORtg Last Month    94.5
Name: 6660, dtype: object
6661 749 8 ORtg Last Month    93.625
Name: 6661, dtype: object
6662 655 9 ORtg Last Month    72.7778
Name: 6662, dtype: object
6663 1842 15 ORtg Last Month    122.8
Name: 6663, dtype: object
6664 1935 14 ORtg Last Month    138.214
Name: 6664, dtype: object
6665 1927 15 ORtg Last Month    128.467
Name: 6665, dtype: object
6666 1401 15 ORtg Last Month    93.4
Name: 6666, dtype: object
6667 1830 15 ORtg Last Month    122
Name: 6667, dtype: object
6668 1852 15 ORtg Last Month    123.467
Name: 6668, dtype: object
6669 1123 10 ORtg Last Month    112.3
Name: 6669, dtype: object
6670 488 12 ORtg Last Month    40.6667
Name: 6670, dtype: object
6671 1410 13 ORtg Last Month    108.462
Name: 6671, dtype: object
6672 915 11 ORtg Last Month    83.1818
Name: 6672, dtype: object
6673 1637 13 ORtg Last Month    125.923
Name: 6673, dtype: object
6674 893 11 ORtg Last Month    81.1818
Name: 6674, dtype: object
6675 1249 13 ORtg Last Month    96.0769
Name: 6675, dtype: object
6676 1226 11 ORtg Last Month    111.455
Name: 6676, dtype: object
6677 1196 13 ORtg Last Month    92
Name: 6677, dtype: object
6678 1739 13 ORtg Last Month    133.769
Name: 6678, dtype: object
6679 384 12 ORtg Last Month    32
Name: 6679, dtype: object
6680 1611 14 ORtg Last Month    115.071
Name: 6680, dtype: object
6681 1734 14 ORtg Last Month    123.857
Name: 6681, dtype: object
6682 721 13 ORtg Last Month    55.4615
Name: 6682, dtype: object
6683 854 14 ORtg Last Month    61
Name: 6683, dtype: object
6684 300 5 ORtg Last Month    60
Name: 6684, dtype: object
6685 1536 13 ORtg Last Month    118.154
Name: 6685, dtype: object
6686 1624 14 ORtg Last Month    116
Name: 6686, dtype: object
6687 1890 14 ORtg Last Month    135
Name: 6687, dtype: object
6688 1784 14 ORtg Last Month    127.429
Name: 6688, dtype: object
6689 1397 14 ORtg Last Month    99.7857
Name: 6689, dtype: object
6690 1017 14 ORtg Last Month    72.6429
Name: 6690, dtype: object
6691 1588 14 ORtg Last Month    113.429
Name: 6691, dtype: object
6692 270 5 ORtg Last Month    54
Name: 6692, dtype: object
6693 1585 13 ORtg Last Month    121.923
Name: 6693, dtype: object
6694 758 9 ORtg Last Month    84.2222
Name: 6694, dtype: object
6695 1335 13 ORtg Last Month    102.692
Name: 6695, dtype: object
6696 888 13 ORtg Last Month    68.3077
Name: 6696, dtype: object
6697 1273 13 ORtg Last Month    97.9231
Name: 6697, dtype: object
6698 1449 13 ORtg Last Month    111.462
Name: 6698, dtype: object
6699 1836 14 ORtg Last Month    131.143
Name: 6699, dtype: object
6700 1054 11 ORtg Last Month    95.8182
Name: 6700, dtype: object
6701 961 13 ORtg Last Month    73.9231
Name: 6701, dtype: object
6702 336 13 ORtg Last Month    25.8462
Name: 6702, dtype: object
6703 128 13 ORtg Last Month    9.84615
Name: 6703, dtype: object
6704 1498 14 ORtg Last Month    107
Name: 6704, dtype: object
6705 1275 14 ORtg Last Month    91.0714
Name: 6705, dtype: object
6706 1795 16 ORtg Last Month    112.188
Name: 6706, dtype: object
6707 760 16 ORtg Last Month    47.5
Name: 6707, dtype: object
6708 1367 16 ORtg Last Month    85.4375
Name: 6708, dtype: object
6709 873 16 ORtg Last Month    54.5625
Name: 6709, dtype: object
6710 1636 14 ORtg Last Month    116.857
Name: 6710, dtype: object
6711 1881 16 ORtg Last Month    117.562
Name: 6711, dtype: object
6712 1342 12 ORtg Last Month    111.833
Name: 6712, dtype: object
6713 1465 15 ORtg Last Month    97.6667
Name: 6713, dtype: object
6714 1529 16 ORtg Last Month    95.5625
Name: 6714, dtype: object
6715 370 16 ORtg Last Month    23.125
Name: 6715, dtype: object
6716 1857 16 ORtg Last Month    116.062
Name: 6716, dtype: object
6717 317 14 ORtg Last Month    22.6429
Name: 6717, dtype: object
6718 965 9 ORtg Last Month    107.222
Name: 6718, dtype: object
6719 1641 15 ORtg Last Month    109.4
Name: 6719, dtype: object
6720 446 8 ORtg Last Month    55.75
Name: 6720, dtype: object
6721 926 15 ORtg Last Month    61.7333
Name: 6721, dtype: object
6722 1695 15 ORtg Last Month    113
Name: 6722, dtype: object
6723 1889 15 ORtg Last Month    125.933
Name: 6723, dtype: object
6724 936 13 ORtg Last Month    72
Name: 6724, dtype: object
6725 271 14 ORtg Last Month    19.3571
Name: 6725, dtype: object
6726 1766 14 ORtg Last Month    126.143
Name: 6726, dtype: object
6727 1704 14 ORtg Last Month    121.714
Name: 6727, dtype: object
6728 1439 15 ORtg Last Month    95.9333
Name: 6728, dtype: object
6729 1472 13 ORtg Last Month    113.231
Name: 6729, dtype: object
6730 1114 12 ORtg Last Month    92.8333
Name: 6730, dtype: object
6731 597 13 ORtg Last Month    45.9231
Name: 6731, dtype: object
6732 1288 13 ORtg Last Month    99.0769
Name: 6732, dtype: object
6733 1421 13 ORtg Last Month    109.308
Name: 6733, dtype: object
6734 1362 13 ORtg Last Month    104.769
Name: 6734, dtype: object
6735 1239 12 ORtg Last Month    103.25
Name: 6735, dtype: object
6736 920 13 ORtg Last Month    70.7692
Name: 6736, dtype: object
6737 754 7 ORtg Last Month    107.714
Name: 6737, dtype: object
6738 1420 13 ORtg Last Month    109.231
Name: 6738, dtype: object
6739 81 4 ORtg Last Month    20.25
Name: 6739, dtype: object
6740 1332 13 ORtg Last Month    102.462
Name: 6740, dtype: object
6741 1514 14 ORtg Last Month    108.143
Name: 6741, dtype: object
6742 1565 14 ORtg Last Month    111.786
Name: 6742, dtype: object
6743 844 9 ORtg Last Month    93.7778
Name: 6743, dtype: object
6744 1590 14 ORtg Last Month    113.571
Name: 6744, dtype: object
6745 1152 11 ORtg Last Month    104.727
Name: 6745, dtype: object
6746 1655 14 ORtg Last Month    118.214
Name: 6746, dtype: object
6747 1367 14 ORtg Last Month    97.6429
Name: 6747, dtype: object
6748 928 14 ORtg Last Month    66.2857
Name: 6748, dtype: object
6749 565 14 ORtg Last Month    40.3571
Name: 6749, dtype: object
6750 1261 12 ORtg Last Month    105.083
Name: 6750, dtype: object
6751 1347 14 ORtg Last Month    96.2143
Name: 6751, dtype: object
6752 1440 13 ORtg Last Month    110.769
Name: 6752, dtype: object
6753 1471 14 ORtg Last Month    105.071
Name: 6753, dtype: object
6754 1486 14 ORtg Last Month    106.143
Name: 6754, dtype: object
6755 1049 14 ORtg Last Month    74.9286
Name: 6755, dtype: object
6756 1550 14 ORtg Last Month    110.714
Name: 6756, dtype: object
6757 1476 13 ORtg Last Month    113.538
Name: 6757, dtype: object
6758 1171 13 ORtg Last Month    90.0769
Name: 6758, dtype: object
6759 1368 14 ORtg Last Month    97.7143
Name: 6759, dtype: object

6760 1631 14 ORtg Last Month    116.5
Name: 6760, dtype: object
6761 737 13 ORtg Last Month    56.6923
Name: 6761, dtype: object
6762 922 14 ORtg Last Month    65.8571
Name: 6762, dtype: object
6763 887 14 ORtg Last Month    63.3571
Name: 6763, dtype: object
6764 1336 15 ORtg Last Month    89.0667
Name: 6764, dtype: object
6765 1775 15 ORtg Last Month    118.333
Name: 6765, dtype: object
6766 1450 14 ORtg Last Month    103.571
Name: 6766, dtype: object
6767 1359 15 ORtg Last Month    90.6
Name: 6767, dtype: object
6768 1230 14 ORtg Last Month    87.8571
Name: 6768, dtype: object
6769 1440 15 ORtg Last Month    96
Name: 6769, dtype: object
6770 193 3 ORtg Last Month    64.3333
Name: 6770, dtype: object
6771 455 4 ORtg Last Month    113.75
Name: 6771, dtype: object
6772 1406 14 ORtg Last Month    100.429
Name: 6772, dtype: object
6773 1240 12 ORtg Last Month    103.333
Name: 6773, dtype: object
6774 1092 15 ORtg Last Month    72.8
Name: 6774, dtype: object
6775 1651 16 ORtg Last Month    103.188
Name: 6775, dtype: object
6776 1992 16 ORtg Last Month    124.5
Name: 6776, dtype: object
6777 1686 16 ORtg Last Month    105.375
Name: 6777, dtype: object
6778 1927 16 ORtg Last Month    120.438
Name: 6778, dtype: object
6779 896 9 ORtg Last Month    99.5556
Name: 6779, dtype: object
6780 1457 16 ORtg Last Month    91.0625
Name: 6780, dtype: object
6781 1462 16 ORtg Last Month    91.375
Name: 6781, dtype: object
6782 1877 15 ORtg Last Month    125.133
Name: 6782, dtype: object
6783 1438 15 ORtg Last Month    95.8667
Name: 6783, dtype: object
6784 2159 16 ORtg Last Month    134.938
Name: 6784, dtype: object
6785 506 13 ORtg Last Month    38.9231
Name: 6785, dtype: object
6786 1546 13 ORtg Last Month    118.923
Name: 6786, dtype: object
6787 1032 13 ORtg Last Month    79.3846
Name: 6787, dtype: object
6788 213 6 ORtg Last Month    35.5
Name: 6788, dtype: object
6789 1048 11 ORtg Last Month    95.2727
Name: 6789, dtype: object
6790 1416 13 ORtg Last Month    108.923
Name: 6790, dtype: object
6791 1508 13 ORtg Last Month    116
Name: 6791, dtype: object
6792 1419 13 ORtg Last Month    109.154
Name: 6792, dtype: object
6793 1578 13 ORtg Last Month    121.385
Name: 6793, dtype: object
6794 1569 13 ORtg Last Month    120.692
Name: 6794, dtype: object
6795 405 12 ORtg Last Month    33.75
Name: 6795, dtype: object
6796 592 12 ORtg Last Month    49.3333
Name: 6796, dtype: object
6797 1178 12 ORtg Last Month    98.1667
Name: 6797, dtype: object
6798 1254 12 ORtg Last Month    104.5
Name: 6798, dtype: object
6799 511 10 ORtg Last Month    51.1
Name: 6799, dtype: object
6800 796 11 ORtg Last Month    72.3636
Name: 6800, dtype: object
6801 65 6 ORtg Last Month    10.8333
Name: 6801, dtype: object
6802 1081 12 ORtg Last Month    90.0833
Name: 6802, dtype: object
6803 1070 10 ORtg Last Month    107
Name: 6803, dtype: object
6804 1391 12 ORtg Last Month    115.917
Name: 6804, dtype: object
6805 1189 12 ORtg Last Month    99.0833
Name: 6805, dtype: object
6806 1150 12 ORtg Last Month    95.8333
Name: 6806, dtype: object
6807 1050 11 ORtg Last Month    95.4545
Name: 6807, dtype: object
6808 1425 14 ORtg Last Month    101.786
Name: 6808, dtype: object
6809 698 8 ORtg Last Month    87.25
Name: 6809, dtype: object
6810 1585 14 ORtg Last Month    113.214
Name: 6810, dtype: object
6811 818 13 ORtg Last Month    62.9231
Name: 6811, dtype: object
6812 1081 14 ORtg Last Month    77.2143
Name: 6812, dtype: object
6813 647 9 ORtg Last Month    71.8889
Name: 6813, dtype: object
6814 1632 14 ORtg Last Month    116.571
Name: 6814, dtype: object
6815 1585 13 ORtg Last Month    121.923
Name: 6815, dtype: object
6816 1643 14 ORtg Last Month    117.357
Name: 6816, dtype: object
6817 1844 14 ORtg Last Month    131.714
Name: 6817, dtype: object
6818 1315 14 ORtg Last Month    93.9286
Name: 6818, dtype: object
6819 1095 13 ORtg Last Month    84.2308
Name: 6819, dtype: object
6820 1210 13 ORtg Last Month    93.0769
Name: 6820, dtype: object
6821 1422 13 ORtg Last Month    109.385
Name: 6821, dtype: object
6822 305 13 ORtg Last Month    23.4615
Name: 6822, dtype: object
6823 1553 13 ORtg Last Month    119.462
Name: 6823, dtype: object
6824 1293 13 ORtg Last Month    99.4615
Name: 6824, dtype: object
6825 1196 12 ORtg Last Month    99.6667
Name: 6825, dtype: object
6826 1065 13 ORtg Last Month    81.9231
Name: 6826, dtype: object
6827 1337 13 ORtg Last Month    102.846
Name: 6827, dtype: object
6828 118 8 ORtg Last Month    14.75
Name: 6828, dtype: object
6829 1522 13 ORtg Last Month    117.077
Name: 6829, dtype: object
6830 1335 12 ORtg Last Month    111.25
Name: 6830, dtype: object
6831 0 7 ORtg Last Month    0
Name: 6831, dtype: object
6832 280 12 ORtg Last Month    23.3333
Name: 6832, dtype: object
6833 1540 14 ORtg Last Month    110
Name: 6833, dtype: object
6834 1491 14 ORtg Last Month    106.5
Name: 6834, dtype: object
6835 1299 14 ORtg Last Month    92.7857
Name: 6835, dtype: object
6836 1701 14 ORtg Last Month    121.5
Name: 6836, dtype: object
6837 1366 14 ORtg Last Month    97.5714
Name: 6837, dtype: object
6838 0 6 ORtg Last Month    0
Name: 6838, dtype: object
6839 91 4 ORtg Last Month    22.75
Name: 6839, dtype: object
6840 1488 14 ORtg Last Month    106.286
Name: 6840, dtype: object
6841 378 4 ORtg Last Month    94.5
Name: 6841, dtype: object
6842 1640 14 ORtg Last Month    117.143
Name: 6842, dtype: object
6843 1162 9 ORtg Last Month    129.111
Name: 6843, dtype: object
6844 713 14 ORtg Last Month    50.9286
Name: 6844, dtype: object
6845 1626 14 ORtg Last Month    116.143
Name: 6845, dtype: object
6846 703 7 ORtg Last Month    100.429
Name: 6846, dtype: object
6847 1348 14 ORtg Last Month    96.2857
Name: 6847, dtype: object
6848 1146 14 ORtg Last Month    81.8571
Name: 6848, dtype: object
6849 1652 14 ORtg Last Month    118
Name: 6849, dtype: object
6850 1437 14 ORtg Last Month    102.643
Name: 6850, dtype: object
6851 257 3 ORtg Last Month    85.6667
Name: 6851, dtype: object
6852 111 9 ORtg Last Month    12.3333
Name: 6852, dtype: object
6853 663 13 ORtg Last Month    51
Name: 6853, dtype: object
6854 94 14 ORtg Last Month    6.71429
Name: 6854, dtype: object
6855 1763 14 ORtg Last Month    125.929
Name: 6855, dtype: object
6856 1238 14 ORtg Last Month    88.4286
Name: 6856, dtype: object
6857 1352 13 ORtg Last Month    104
Name: 6857, dtype: object
6858 1273 14 ORtg Last Month    90.9286
Name: 6858, dtype: object
6859 1397 15 ORtg Last Month    93.1333
Name: 6859, dtype: object
6860 1780 15 ORtg Last Month    118.667
Name: 6860, dtype: object
6861 1263 15 ORtg Last Month    84.2
Name: 6861, dtype: object
6862 560 14 ORtg Last Month    40
Name: 6862, dtype: object
6863 1311 15 ORtg Last Month    87.4
Name: 6863, dtype: object
6864 1074 15 ORtg Last Month    71.6
Name: 6864, dtype: object
6865 869 10 ORtg Last Month    86.9
Name: 6865, dtype: object
6866 1717 15 ORtg Last Month    114.467
Name: 6866, dtype: object
6867 1695 15 ORtg Last Month    113
Name: 6867, dtype: object
6868 1958 15 ORtg Last Month    130.533
Name: 6868, dtype: object
6869 1831 14 ORtg Last Month    130.786
Name: 6869, dtype: object
6870 1436 14 ORtg Last Month    102.571
Name: 6870, dtype: object
6871 751 14 ORtg Last Month    53.6429
Name: 6871, dtype: object
6872 1442 14 ORtg Last Month    103
Name: 6872, dtype: object
6873 1421 13 ORtg Last Month    109.308
Name: 6873, dtype: object
6874 1160 13 ORtg Last Month    89.2308
Name: 6874, dtype: object
6875 796 8 ORtg Last Month    99.5
Name: 6875, dtype: object
6876 1362 14 ORtg Last Month    97.2857
Name: 6876, dtype: object
6877 270 14 ORtg Last Month    19.2857
Name: 6877, dtype: object
6878 1575 14 ORtg Last Month    112.5
Name: 6878, dtype: object
6879 1459 14 ORtg Last Month    104.214
Name: 6879, dtype: object
6880 725 14 ORtg Last Month    51.7857
Name: 6880, dtype: object
6881 1859 16 ORtg Last Month    116.188
Name: 6881, dtype: object
6882 2008 16 ORtg Last Month    125.5
Name: 6882, dtype: object
6883 1058 15 ORtg Last Month    70.5333
Name: 6883, dtype: object
6884 1035 15 ORtg Last Month    69
Name: 6884, dtype: object
6885 0 3 ORtg Last Month    0
Name: 6885, dtype: object
6886 0 4 ORtg Last Month    0
Name: 6886, dtype: object
6887 1364 12 ORtg Last Month    113.667
Name: 6887, dtype: object

6888 1790 16 ORtg Last Month    111.875
Name: 6888, dtype: object
6889 1176 11 ORtg Last Month    106.909
Name: 6889, dtype: object
6890 1783 16 ORtg Last Month    111.438
Name: 6890, dtype: object
6891 1401 14 ORtg Last Month    100.071
Name: 6891, dtype: object
6892 1643 16 ORtg Last Month    102.688
Name: 6892, dtype: object
6893 1095 11 ORtg Last Month    99.5455
Name: 6893, dtype: object
6894 1019 14 ORtg Last Month    72.7857
Name: 6894, dtype: object
6895 1207 13 ORtg Last Month    92.8462
Name: 6895, dtype: object
6896 867 13 ORtg Last Month    66.6923
Name: 6896, dtype: object
6897 274 13 ORtg Last Month    21.0769
Name: 6897, dtype: object
6898 1258 12 ORtg Last Month    104.833
Name: 6898, dtype: object
6899 1108 14 ORtg Last Month    79.1429
Name: 6899, dtype: object
6900 1498 14 ORtg Last Month    107
Name: 6900, dtype: object
6901 1406 13 ORtg Last Month    108.154
Name: 6901, dtype: object
6902 235 14 ORtg Last Month    16.7857
Name: 6902, dtype: object
6903 1634 14 ORtg Last Month    116.714
Name: 6903, dtype: object
6904 1345 14 ORtg Last Month    96.0714
Name: 6904, dtype: object
6905 443 14 ORtg Last Month    31.6429
Name: 6905, dtype: object
6906 1703 15 ORtg Last Month    113.533
Name: 6906, dtype: object
6907 938 11 ORtg Last Month    85.2727
Name: 6907, dtype: object
6908 241 15 ORtg Last Month    16.0667
Name: 6908, dtype: object
6909 1407 15 ORtg Last Month    93.8
Name: 6909, dtype: object
6910 1631 15 ORtg Last Month    108.733
Name: 6910, dtype: object
6911 1811 15 ORtg Last Month    120.733
Name: 6911, dtype: object
6912 1449 15 ORtg Last Month    96.6
Name: 6912, dtype: object
6913 235 3 ORtg Last Month    78.3333
Name: 6913, dtype: object
6914 811 15 ORtg Last Month    54.0667
Name: 6914, dtype: object
6915 1660 15 ORtg Last Month    110.667
Name: 6915, dtype: object
6916 1746 15 ORtg Last Month    116.4
Name: 6916, dtype: object
6917 1546 14 ORtg Last Month    110.429
Name: 6917, dtype: object
6918 1184 13 ORtg Last Month    91.0769
Name: 6918, dtype: object
6919 597 14 ORtg Last Month    42.6429
Name: 6919, dtype: object
6920 1091 14 ORtg Last Month    77.9286
Name: 6920, dtype: object
6921 867 8 ORtg Last Month    108.375
Name: 6921, dtype: object
6922 1419 14 ORtg Last Month    101.357
Name: 6922, dtype: object
6923 1464 14 ORtg Last Month    104.571
Name: 6923, dtype: object
6924 1539 14 ORtg Last Month    109.929
Name: 6924, dtype: object
6925 1510 14 ORtg Last Month    107.857
Name: 6925, dtype: object
6926 81 5 ORtg Last Month    16.2
Name: 6926, dtype: object
6927 1411 14 ORtg Last Month    100.786
Name: 6927, dtype: object
6928 362 10 ORtg Last Month    36.2
Name: 6928, dtype: object
6929 1694 15 ORtg Last Month    112.933
Name: 6929, dtype: object
6930 1281 12 ORtg Last Month    106.75
Name: 6930, dtype: object
6931 1632 14 ORtg Last Month    116.571
Name: 6931, dtype: object
6932 765 15 ORtg Last Month    51
Name: 6932, dtype: object
6933 487 14 ORtg Last Month    34.7857
Name: 6933, dtype: object
6934 1138 10 ORtg Last Month    113.8
Name: 6934, dtype: object
6935 1973 15 ORtg Last Month    131.533
Name: 6935, dtype: object
6936 820 9 ORtg Last Month    91.1111
Name: 6936, dtype: object
6937 953 9 ORtg Last Month    105.889
Name: 6937, dtype: object
6938 1810 15 ORtg Last Month    120.667
Name: 6938, dtype: object
6939 1666 15 ORtg Last Month    111.067
Name: 6939, dtype: object
6940 1652 14 ORtg Last Month    118
Name: 6940, dtype: object
6941 473 15 ORtg Last Month    31.5333
Name: 6941, dtype: object
6942 1473 15 ORtg Last Month    98.2
Name: 6942, dtype: object
6943 1132 12 ORtg Last Month    94.3333
Name: 6943, dtype: object
6944 72 3 ORtg Last Month    24
Name: 6944, dtype: object
6945 1449 15 ORtg Last Month    96.6
Name: 6945, dtype: object
6946 687 14 ORtg Last Month    49.0714
Name: 6946, dtype: object
6947 1438 15 ORtg Last Month    95.8667
Name: 6947, dtype: object
6948 1487 15 ORtg Last Month    99.1333
Name: 6948, dtype: object
6949 428 15 ORtg Last Month    28.5333
Name: 6949, dtype: object
6950 900 13 ORtg Last Month    69.2308
Name: 6950, dtype: object
6951 1392 15 ORtg Last Month    92.8
Name: 6951, dtype: object
6952 1981 15 ORtg Last Month    132.067
Name: 6952, dtype: object
6953 1809 14 ORtg Last Month    129.214
Name: 6953, dtype: object
6954 1279 15 ORtg Last Month    85.2667
Name: 6954, dtype: object
6955 1677 14 ORtg Last Month    119.786
Name: 6955, dtype: object
6956 1554 15 ORtg Last Month    103.6
Name: 6956, dtype: object
6957 1349 15 ORtg Last Month    89.9333
Name: 6957, dtype: object
6958 387 15 ORtg Last Month    25.8
Name: 6958, dtype: object
6959 1433 14 ORtg Last Month    102.357
Name: 6959, dtype: object
6960 1632 15 ORtg Last Month    108.8
Name: 6960, dtype: object
6961 1493 14 ORtg Last Month    106.643
Name: 6961, dtype: object
6962 863 15 ORtg Last Month    57.5333
Name: 6962, dtype: object
6963 577 15 ORtg Last Month    38.4667
Name: 6963, dtype: object
6964 1556 14 ORtg Last Month    111.143
Name: 6964, dtype: object
6965 1550 14 ORtg Last Month    110.714
Name: 6965, dtype: object
6966 587 9 ORtg Last Month    65.2222
Name: 6966, dtype: object
6967 618 9 ORtg Last Month    68.6667
Name: 6967, dtype: object
6968 1318 14 ORtg Last Month    94.1429
Name: 6968, dtype: object
6969 1700 15 ORtg Last Month    113.333
Name: 6969, dtype: object
6970 1025 14 ORtg Last Month    73.2143
Name: 6970, dtype: object
6971 1072 13 ORtg Last Month    82.4615
Name: 6971, dtype: object
6972 1285 15 ORtg Last Month    85.6667
Name: 6972, dtype: object
6973 1343 15 ORtg Last Month    89.5333
Name: 6973, dtype: object
6974 1351 15 ORtg Last Month    90.0667
Name: 6974, dtype: object
6975 1598 15 ORtg Last Month    106.533
Name: 6975, dtype: object
6976 1113 15 ORtg Last Month    74.2
Name: 6976, dtype: object
6977 1354 15 ORtg Last Month    90.2667
Name: 6977, dtype: object
6978 1504 13 ORtg Last Month    115.692
Name: 6978, dtype: object
6979 1064 10 ORtg Last Month    106.4
Name: 6979, dtype: object
6980 1055 13 ORtg Last Month    81.1538
Name: 6980, dtype: object
6981 901 11 ORtg Last Month    81.9091
Name: 6981, dtype: object
6982 328 7 ORtg Last Month    46.8571
Name: 6982, dtype: object
6983 1501 13 ORtg Last Month    115.462
Name: 6983, dtype: object
6984 1471 13 ORtg Last Month    113.154
Name: 6984, dtype: object
6985 791 7 ORtg Last Month    113
Name: 6985, dtype: object
6986 1362 13 ORtg Last Month    104.769
Name: 6986, dtype: object
6987 1515 13 ORtg Last Month    116.538
Name: 6987, dtype: object
6988 1580 13 ORtg Last Month    121.538
Name: 6988, dtype: object
6989 555 12 ORtg Last Month    46.25
Name: 6989, dtype: object
6990 1383 13 ORtg Last Month    106.385
Name: 6990, dtype: object
6991 1421 13 ORtg Last Month    109.308
Name: 6991, dtype: object
6992 869 9 ORtg Last Month    96.5556
Name: 6992, dtype: object
6993 622 6 ORtg Last Month    103.667
Name: 6993, dtype: object
6994 955 11 ORtg Last Month    86.8182
Name: 6994, dtype: object
6995 1592 13 ORtg Last Month    122.462
Name: 6995, dtype: object
6996 1006 12 ORtg Last Month    83.8333
Name: 6996, dtype: object
6997 1595 13 ORtg Last Month    122.692
Name: 6997, dtype: object
6998 1438 13 ORtg Last Month    110.615
Name: 6998, dtype: object
6999 922 13 ORtg Last Month    70.9231
Name: 6999, dtype: object
7000 300 11 ORtg Last Month    27.2727
Name: 7000, dtype: object
7001 1568 15 ORtg Last Month    104.533
Name: 7001, dtype: object
7002 1403 14 ORtg Last Month    100.214
Name: 7002, dtype: object
7003 792 8 ORtg Last Month    99
Name: 7003, dtype: object
7004 767 10 ORtg Last Month    76.7
Name: 7004, dtype: object
7005 1812 15 ORtg Last Month    120.8
Name: 7005, dtype: object
7006 1892 14 ORtg Last Month    135.143
Name: 7006, dtype: object
7007 1615 15 ORtg Last Month    107.667
Name: 7007, dtype: object
7008 1905 15 ORtg Last Month    127
Name: 7008, dtype: object
7009 1827 15 ORtg Last Month    121.8
Name: 7009, dtype: object
7010 1836 15 ORtg Last Month    122.4
Name: 7010, dtype: object
7011 1232 11 ORtg Last Month    112
Name: 7011, dtype: object
7012 543 12 ORtg Last Month    45.25
Name: 7012, dtype: object
7013 987 11 ORtg Last Month    89.7273
Name: 7013, dtype: object
7014 1606 13 ORtg Last Month    123.538
Name: 7014, dtype: object

7015 1296 12 ORtg Last Month    108
Name: 7015, dtype: object
7016 1261 13 ORtg Last Month    97
Name: 7016, dtype: object
7017 1053 13 ORtg Last Month    81
Name: 7017, dtype: object
7018 1770 13 ORtg Last Month    136.154
Name: 7018, dtype: object
7019 384 13 ORtg Last Month    29.5385
Name: 7019, dtype: object
7020 0 0 ORtg Last Month    0
Name: 7020, dtype: object
7021 1419 14 ORtg Last Month    101.357
Name: 7021, dtype: object
7022 1436 14 ORtg Last Month    102.571
Name: 7022, dtype: object
7023 645 14 ORtg Last Month    46.0714
Name: 7023, dtype: object
7024 78 6 ORtg Last Month    13
Name: 7024, dtype: object
7025 1287 14 ORtg Last Month    91.9286
Name: 7025, dtype: object
7026 1669 14 ORtg Last Month    119.214
Name: 7026, dtype: object
7027 1152 13 ORtg Last Month    88.6154
Name: 7027, dtype: object
7028 1396 14 ORtg Last Month    99.7143
Name: 7028, dtype: object
7029 1752 14 ORtg Last Month    125.143
Name: 7029, dtype: object
7030 1225 13 ORtg Last Month    94.2308
Name: 7030, dtype: object
7031 667 14 ORtg Last Month    47.6429
Name: 7031, dtype: object
7032 85 1 ORtg Last Month    85
Name: 7032, dtype: object
7033 1750 14 ORtg Last Month    125
Name: 7033, dtype: object
7034 1644 14 ORtg Last Month    117.429
Name: 7034, dtype: object
7035 1012 9 ORtg Last Month    112.444
Name: 7035, dtype: object
7036 734 13 ORtg Last Month    56.4615
Name: 7036, dtype: object
7037 998 14 ORtg Last Month    71.2857
Name: 7037, dtype: object
7038 300 6 ORtg Last Month    50
Name: 7038, dtype: object
7039 1564 13 ORtg Last Month    120.308
Name: 7039, dtype: object
7040 1617 14 ORtg Last Month    115.5
Name: 7040, dtype: object
7041 1884 14 ORtg Last Month    134.571
Name: 7041, dtype: object
7042 1833 14 ORtg Last Month    130.929
Name: 7042, dtype: object
7043 1407 14 ORtg Last Month    100.5
Name: 7043, dtype: object
7044 959 14 ORtg Last Month    68.5
Name: 7044, dtype: object
7045 270 6 ORtg Last Month    45
Name: 7045, dtype: object
7046 863 9 ORtg Last Month    95.8889
Name: 7046, dtype: object
7047 1641 13 ORtg Last Month    126.231
Name: 7047, dtype: object
7048 1401 13 ORtg Last Month    107.769
Name: 7048, dtype: object
7049 830 13 ORtg Last Month    63.8462
Name: 7049, dtype: object
7050 1484 14 ORtg Last Month    106
Name: 7050, dtype: object
7051 1060 12 ORtg Last Month    88.3333
Name: 7051, dtype: object
7052 1823 14 ORtg Last Month    130.214
Name: 7052, dtype: object
7053 1391 14 ORtg Last Month    99.3571
Name: 7053, dtype: object
7054 855 13 ORtg Last Month    65.7692
Name: 7054, dtype: object
7055 336 13 ORtg Last Month    25.8462
Name: 7055, dtype: object
7056 50 13 ORtg Last Month    3.84615
Name: 7056, dtype: object
7057 1533 14 ORtg Last Month    109.5
Name: 7057, dtype: object
7058 1247 14 ORtg Last Month    89.0714
Name: 7058, dtype: object
7059 1753 16 ORtg Last Month    109.562
Name: 7059, dtype: object
7060 873 16 ORtg Last Month    54.5625
Name: 7060, dtype: object
7061 813 16 ORtg Last Month    50.8125
Name: 7061, dtype: object
7062 1238 16 ORtg Last Month    77.375
Name: 7062, dtype: object
7063 1667 14 ORtg Last Month    119.071
Name: 7063, dtype: object
7064 1311 12 ORtg Last Month    109.25
Name: 7064, dtype: object
7065 1549 16 ORtg Last Month    96.8125
Name: 7065, dtype: object
7066 258 16 ORtg Last Month    16.125
Name: 7066, dtype: object
7067 1846 16 ORtg Last Month    115.375
Name: 7067, dtype: object
7068 1570 16 ORtg Last Month    98.125
Name: 7068, dtype: object
7069 1438 14 ORtg Last Month    102.714
Name: 7069, dtype: object
7070 1897 16 ORtg Last Month    118.562
Name: 7070, dtype: object
7071 317 14 ORtg Last Month    22.6429
Name: 7071, dtype: object
7072 1972 15 ORtg Last Month    131.467
Name: 7072, dtype: object
7073 1557 15 ORtg Last Month    103.8
Name: 7073, dtype: object
7074 751 15 ORtg Last Month    50.0667
Name: 7074, dtype: object
7075 1536 15 ORtg Last Month    102.4
Name: 7075, dtype: object
7076 880 9 ORtg Last Month    97.7778
Name: 7076, dtype: object
7077 1253 14 ORtg Last Month    89.5
Name: 7077, dtype: object
7078 1423 15 ORtg Last Month    94.8667
Name: 7078, dtype: object
7079 1534 14 ORtg Last Month    109.571
Name: 7079, dtype: object
7080 270 15 ORtg Last Month    18
Name: 7080, dtype: object
7081 1701 15 ORtg Last Month    113.4
Name: 7081, dtype: object
7082 1585 15 ORtg Last Month    105.667
Name: 7082, dtype: object
7083 725 15 ORtg Last Month    48.3333
Name: 7083, dtype: object
7084 1642 15 ORtg Last Month    109.467
Name: 7084, dtype: object
7085 1731 15 ORtg Last Month    115.4
Name: 7085, dtype: object
7086 944 10 ORtg Last Month    94.4
Name: 7086, dtype: object
7087 1718 15 ORtg Last Month    114.533
Name: 7087, dtype: object
7088 1502 15 ORtg Last Month    100.133
Name: 7088, dtype: object
7089 1239 12 ORtg Last Month    103.25
Name: 7089, dtype: object
7090 1804 15 ORtg Last Month    120.267
Name: 7090, dtype: object
7091 565 15 ORtg Last Month    37.6667
Name: 7091, dtype: object
7092 928 15 ORtg Last Month    61.8667
Name: 7092, dtype: object
7093 1444 15 ORtg Last Month    96.2667
Name: 7093, dtype: object
7094 1585 14 ORtg Last Month    113.214
Name: 7094, dtype: object
7095 1408 13 ORtg Last Month    108.308
Name: 7095, dtype: object
7096 1607 16 ORtg Last Month    100.438
Name: 7096, dtype: object
7097 1548 16 ORtg Last Month    96.75
Name: 7097, dtype: object
7098 191 4 ORtg Last Month    47.75
Name: 7098, dtype: object
7099 1231 13 ORtg Last Month    94.6923
Name: 7099, dtype: object
7100 803 15 ORtg Last Month    53.5333
Name: 7100, dtype: object
7101 1615 16 ORtg Last Month    100.938
Name: 7101, dtype: object
7102 1595 16 ORtg Last Month    99.6875
Name: 7102, dtype: object
7103 1434 16 ORtg Last Month    89.625
Name: 7103, dtype: object
7104 1150 14 ORtg Last Month    82.1429
Name: 7104, dtype: object
7105 517 16 ORtg Last Month    32.3125
Name: 7105, dtype: object
7106 2122 16 ORtg Last Month    132.625
Name: 7106, dtype: object
7107 1919 15 ORtg Last Month    127.933
Name: 7107, dtype: object
7108 1279 16 ORtg Last Month    79.9375
Name: 7108, dtype: object
7109 1467 14 ORtg Last Month    104.786
Name: 7109, dtype: object
7110 1501 14 ORtg Last Month    107.214
Name: 7110, dtype: object
7111 1471 14 ORtg Last Month    105.071
Name: 7111, dtype: object
7112 1117 14 ORtg Last Month    79.7857
Name: 7112, dtype: object
7113 1199 13 ORtg Last Month    92.2308
Name: 7113, dtype: object
7114 1563 13 ORtg Last Month    120.231
Name: 7114, dtype: object
7115 1616 14 ORtg Last Month    115.429
Name: 7115, dtype: object
7116 1319 14 ORtg Last Month    94.2143
Name: 7116, dtype: object
7117 59 1 ORtg Last Month    59
Name: 7117, dtype: object
7118 874 13 ORtg Last Month    67.2308
Name: 7118, dtype: object
7119 829 14 ORtg Last Month    59.2143
Name: 7119, dtype: object
7120 887 14 ORtg Last Month    63.3571
Name: 7120, dtype: object
7121 1348 15 ORtg Last Month    89.8667
Name: 7121, dtype: object
7122 1811 15 ORtg Last Month    120.733
Name: 7122, dtype: object
7123 1469 14 ORtg Last Month    104.929
Name: 7123, dtype: object
7124 1308 14 ORtg Last Month    93.4286
Name: 7124, dtype: object
7125 1486 15 ORtg Last Month    99.0667
Name: 7125, dtype: object
7126 193 4 ORtg Last Month    48.25
Name: 7126, dtype: object
7127 1332 15 ORtg Last Month    88.8
Name: 7127, dtype: object
7128 588 5 ORtg Last Month    117.6
Name: 7128, dtype: object
7129 1187 12 ORtg Last Month    98.9167
Name: 7129, dtype: object
7130 1459 14 ORtg Last Month    104.214
Name: 7130, dtype: object
7131 1092 15 ORtg Last Month    72.8
Name: 7131, dtype: object
7132 1568 15 ORtg Last Month    104.533
Name: 7132, dtype: object
7133 1576 15 ORtg Last Month    105.067
Name: 7133, dtype: object
7134 1842 15 ORtg Last Month    122.8
Name: 7134, dtype: object
7135 653 15 ORtg Last Month    43.5333
Name: 7135, dtype: object
7136 1916 15 ORtg Last Month    127.733
Name: 7136, dtype: object
7137 1671 15 ORtg Last Month    111.4
Name: 7137, dtype: object
7138 793 15 ORtg Last Month    52.8667
Name: 7138, dtype: object
7139 323 15 ORtg Last Month    21.5333
Name: 7139, dtype: object
7140 1729 15 ORtg Last Month    115.267
Name: 7140, dtype: object
7141 1647 15 ORtg Last Month    109.8
Name: 7141, dtype: object

7142 1677 15 ORtg Last Month    111.8
Name: 7142, dtype: object
7143 1206 12 ORtg Last Month    100.5
Name: 7143, dtype: object
7144 1423 12 ORtg Last Month    118.583
Name: 7144, dtype: object
7145 520 10 ORtg Last Month    52
Name: 7145, dtype: object
7146 65 7 ORtg Last Month    9.28571
Name: 7146, dtype: object
7147 628 11 ORtg Last Month    57.0909
Name: 7147, dtype: object
7148 1105 12 ORtg Last Month    92.0833
Name: 7148, dtype: object
7149 1112 10 ORtg Last Month    111.2
Name: 7149, dtype: object
7150 1241 12 ORtg Last Month    103.417
Name: 7150, dtype: object
7151 1387 12 ORtg Last Month    115.583
Name: 7151, dtype: object
7152 1188 12 ORtg Last Month    99
Name: 7152, dtype: object
7153 823 11 ORtg Last Month    74.8182
Name: 7153, dtype: object
7154 1450 14 ORtg Last Month    103.571
Name: 7154, dtype: object
7155 1406 14 ORtg Last Month    100.429
Name: 7155, dtype: object
7156 574 14 ORtg Last Month    41
Name: 7156, dtype: object
7157 83 6 ORtg Last Month    13.8333
Name: 7157, dtype: object
7158 1291 14 ORtg Last Month    92.2143
Name: 7158, dtype: object
7159 1339 14 ORtg Last Month    95.6429
Name: 7159, dtype: object
7160 1667 14 ORtg Last Month    119.071
Name: 7160, dtype: object
7161 1255 14 ORtg Last Month    89.6429
Name: 7161, dtype: object
7162 1735 14 ORtg Last Month    123.929
Name: 7162, dtype: object
7163 1234 13 ORtg Last Month    94.9231
Name: 7163, dtype: object
7164 85 2 ORtg Last Month    42.5
Name: 7164, dtype: object
7165 667 14 ORtg Last Month    47.6429
Name: 7165, dtype: object
7166 1240 13 ORtg Last Month    95.3846
Name: 7166, dtype: object
7167 1575 13 ORtg Last Month    121.154
Name: 7167, dtype: object
7168 361 13 ORtg Last Month    27.7692
Name: 7168, dtype: object
7169 1529 13 ORtg Last Month    117.615
Name: 7169, dtype: object
7170 1301 13 ORtg Last Month    100.077
Name: 7170, dtype: object
7171 1276 13 ORtg Last Month    98.1538
Name: 7171, dtype: object
7172 1079 13 ORtg Last Month    83
Name: 7172, dtype: object
7173 118 8 ORtg Last Month    14.75
Name: 7173, dtype: object
7174 1289 13 ORtg Last Month    99.1538
Name: 7174, dtype: object
7175 1555 13 ORtg Last Month    119.615
Name: 7175, dtype: object
7176 1316 12 ORtg Last Month    109.667
Name: 7176, dtype: object
7177 280 12 ORtg Last Month    23.3333
Name: 7177, dtype: object
7178 0 8 ORtg Last Month    0
Name: 7178, dtype: object
7179 1536 14 ORtg Last Month    109.714
Name: 7179, dtype: object
7180 1552 14 ORtg Last Month    110.857
Name: 7180, dtype: object
7181 1521 14 ORtg Last Month    108.643
Name: 7181, dtype: object
7182 1284 14 ORtg Last Month    91.7143
Name: 7182, dtype: object
7183 1286 14 ORtg Last Month    91.8571
Name: 7183, dtype: object
7184 1518 14 ORtg Last Month    108.429
Name: 7184, dtype: object
7185 461 5 ORtg Last Month    92.2
Name: 7185, dtype: object
7186 1138 9 ORtg Last Month    126.444
Name: 7186, dtype: object
7187 1597 14 ORtg Last Month    114.071
Name: 7187, dtype: object
7188 639 14 ORtg Last Month    45.6429
Name: 7188, dtype: object
7189 0 3 ORtg Last Month    0
Name: 7189, dtype: object
7190 1640 14 ORtg Last Month    117.143
Name: 7190, dtype: object
7191 1299 14 ORtg Last Month    92.7857
Name: 7191, dtype: object
7192 710 7 ORtg Last Month    101.429
Name: 7192, dtype: object
7193 1349 14 ORtg Last Month    96.3571
Name: 7193, dtype: object
7194 1674 14 ORtg Last Month    119.571
Name: 7194, dtype: object
7195 1380 14 ORtg Last Month    98.5714
Name: 7195, dtype: object
7196 364 4 ORtg Last Month    91
Name: 7196, dtype: object
7197 663 13 ORtg Last Month    51
Name: 7197, dtype: object
7198 111 10 ORtg Last Month    11.1
Name: 7198, dtype: object
7199 94 14 ORtg Last Month    6.71429
Name: 7199, dtype: object
7200 1362 13 ORtg Last Month    104.769
Name: 7200, dtype: object
7201 1780 14 ORtg Last Month    127.143
Name: 7201, dtype: object
7202 1255 14 ORtg Last Month    89.6429
Name: 7202, dtype: object
7203 1833 15 ORtg Last Month    122.2
Name: 7203, dtype: object
7204 1209 15 ORtg Last Month    80.6
Name: 7204, dtype: object
7205 1401 15 ORtg Last Month    93.4
Name: 7205, dtype: object
7206 1389 15 ORtg Last Month    92.6
Name: 7206, dtype: object
7207 560 14 ORtg Last Month    40
Name: 7207, dtype: object
7208 1275 15 ORtg Last Month    85
Name: 7208, dtype: object
7209 1069 15 ORtg Last Month    71.2667
Name: 7209, dtype: object
7210 869 11 ORtg Last Month    79
Name: 7210, dtype: object
7211 1747 15 ORtg Last Month    116.467
Name: 7211, dtype: object
7212 1712 15 ORtg Last Month    114.133
Name: 7212, dtype: object
7213 1899 15 ORtg Last Month    126.6
Name: 7213, dtype: object
7214 1222 12 ORtg Last Month    101.833
Name: 7214, dtype: object
7215 1004 14 ORtg Last Month    71.7143
Name: 7215, dtype: object
7216 1136 13 ORtg Last Month    87.3846
Name: 7216, dtype: object
7217 759 13 ORtg Last Month    58.3846
Name: 7217, dtype: object
7218 196 13 ORtg Last Month    15.0769
Name: 7218, dtype: object
7219 1397 13 ORtg Last Month    107.462
Name: 7219, dtype: object
7220 1160 14 ORtg Last Month    82.8571
Name: 7220, dtype: object
7221 1286 12 ORtg Last Month    107.167
Name: 7221, dtype: object
7222 1477 14 ORtg Last Month    105.5
Name: 7222, dtype: object
7223 105 14 ORtg Last Month    7.5
Name: 7223, dtype: object
7224 1590 14 ORtg Last Month    113.571
Name: 7224, dtype: object
7225 1455 14 ORtg Last Month    103.929
Name: 7225, dtype: object
7226 342 14 ORtg Last Month    24.4286
Name: 7226, dtype: object
7227 1661 15 ORtg Last Month    110.733
Name: 7227, dtype: object
7228 1391 13 ORtg Last Month    107
Name: 7228, dtype: object
7229 1767 15 ORtg Last Month    117.8
Name: 7229, dtype: object
7230 662 15 ORtg Last Month    44.1333
Name: 7230, dtype: object
7231 395 14 ORtg Last Month    28.2143
Name: 7231, dtype: object
7232 1127 10 ORtg Last Month    112.7
Name: 7232, dtype: object
7233 2057 15 ORtg Last Month    137.133
Name: 7233, dtype: object
7234 1717 15 ORtg Last Month    114.467
Name: 7234, dtype: object
7235 830 9 ORtg Last Month    92.2222
Name: 7235, dtype: object
7236 1046 10 ORtg Last Month    104.6
Name: 7236, dtype: object
7237 1704 14 ORtg Last Month    121.714
Name: 7237, dtype: object
7238 1710 15 ORtg Last Month    114
Name: 7238, dtype: object
7239 1469 16 ORtg Last Month    91.8125
Name: 7239, dtype: object
7240 1556 16 ORtg Last Month    97.25
Name: 7240, dtype: object
7241 1578 15 ORtg Last Month    105.2
Name: 7241, dtype: object
7242 253 5 ORtg Last Month    50.6
Name: 7242, dtype: object
7243 1332 16 ORtg Last Month    83.25
Name: 7243, dtype: object
7244 29 6 ORtg Last Month    4.83333
Name: 7244, dtype: object
7245 710 6 ORtg Last Month    118.333
Name: 7245, dtype: object
7246 1343 13 ORtg Last Month    103.308
Name: 7246, dtype: object
7247 1462 15 ORtg Last Month    97.4667
Name: 7247, dtype: object
7248 1092 16 ORtg Last Month    68.25
Name: 7248, dtype: object
7249 1586 15 ORtg Last Month    105.733
Name: 7249, dtype: object
7250 1556 15 ORtg Last Month    103.733
Name: 7250, dtype: object
7251 1901 15 ORtg Last Month    126.733
Name: 7251, dtype: object
7252 1547 15 ORtg Last Month    103.133
Name: 7252, dtype: object
7253 1819 15 ORtg Last Month    121.267
Name: 7253, dtype: object
7254 1251 15 ORtg Last Month    83.4
Name: 7254, dtype: object
7255 1026 10 ORtg Last Month    102.6
Name: 7255, dtype: object
7256 1348 15 ORtg Last Month    89.8667
Name: 7256, dtype: object
7257 607 10 ORtg Last Month    60.7
Name: 7257, dtype: object
7258 124 6 ORtg Last Month    20.6667
Name: 7258, dtype: object
7259 1404 14 ORtg Last Month    100.286
Name: 7259, dtype: object
7260 1726 14 ORtg Last Month    123.286
Name: 7260, dtype: object
7261 1984 15 ORtg Last Month    132.267
Name: 7261, dtype: object
7262 506 14 ORtg Last Month    36.1429
Name: 7262, dtype: object
7263 1324 14 ORtg Last Month    94.5714
Name: 7263, dtype: object
7264 1720 15 ORtg Last Month    114.667
Name: 7264, dtype: object
7265 1298 15 ORtg Last Month    86.5333
Name: 7265, dtype: object
7266 857 14 ORtg Last Month    61.2143
Name: 7266, dtype: object
7267 1287 15 ORtg Last Month    85.8
Name: 7267, dtype: object
7268 1367 15 ORtg Last Month    91.1333
Name: 7268, dtype: object

7269 1646 15 ORtg Last Month    109.733
Name: 7269, dtype: object
7270 1207 13 ORtg Last Month    92.8462
Name: 7270, dtype: object
7271 1242 15 ORtg Last Month    82.8
Name: 7271, dtype: object
7272 1288 15 ORtg Last Month    85.8667
Name: 7272, dtype: object
7273 1512 13 ORtg Last Month    116.308
Name: 7273, dtype: object
7274 1092 13 ORtg Last Month    84
Name: 7274, dtype: object
7275 1171 11 ORtg Last Month    106.455
Name: 7275, dtype: object
7276 223 7 ORtg Last Month    31.8571
Name: 7276, dtype: object
7277 1524 13 ORtg Last Month    117.231
Name: 7277, dtype: object
7278 1436 13 ORtg Last Month    110.462
Name: 7278, dtype: object
7279 1473 13 ORtg Last Month    113.308
Name: 7279, dtype: object
7280 841 7 ORtg Last Month    120.143
Name: 7280, dtype: object
7281 1461 13 ORtg Last Month    112.385
Name: 7281, dtype: object
7282 901 12 ORtg Last Month    75.0833
Name: 7282, dtype: object
7283 1552 13 ORtg Last Month    119.385
Name: 7283, dtype: object
7284 659 12 ORtg Last Month    54.9167
Name: 7284, dtype: object
7285 1327 13 ORtg Last Month    102.077
Name: 7285, dtype: object
7286 1362 13 ORtg Last Month    104.769
Name: 7286, dtype: object
7287 500 6 ORtg Last Month    83.3333
Name: 7287, dtype: object
7288 898 9 ORtg Last Month    99.7778
Name: 7288, dtype: object
7289 1009 12 ORtg Last Month    84.0833
Name: 7289, dtype: object
7290 1567 13 ORtg Last Month    120.538
Name: 7290, dtype: object
7291 430 4 ORtg Last Month    107.5
Name: 7291, dtype: object
7292 1318 12 ORtg Last Month    109.833
Name: 7292, dtype: object
7293 1370 13 ORtg Last Month    105.385
Name: 7293, dtype: object
7294 1578 13 ORtg Last Month    121.385
Name: 7294, dtype: object
7295 836 13 ORtg Last Month    64.3077
Name: 7295, dtype: object
7296 300 12 ORtg Last Month    25
Name: 7296, dtype: object
7297 733 7 ORtg Last Month    104.714
Name: 7297, dtype: object
7298 953 12 ORtg Last Month    79.4167
Name: 7298, dtype: object
7299 1288 12 ORtg Last Month    107.333
Name: 7299, dtype: object
7300 1368 12 ORtg Last Month    114
Name: 7300, dtype: object
7301 1355 12 ORtg Last Month    112.917
Name: 7301, dtype: object
7302 1145 12 ORtg Last Month    95.4167
Name: 7302, dtype: object
7303 250 12 ORtg Last Month    20.8333
Name: 7303, dtype: object
7304 1271 12 ORtg Last Month    105.917
Name: 7304, dtype: object
7305 1066 9 ORtg Last Month    118.444
Name: 7305, dtype: object
7306 559 12 ORtg Last Month    46.5833
Name: 7306, dtype: object
7307 1359 12 ORtg Last Month    113.25
Name: 7307, dtype: object
7308 543 13 ORtg Last Month    41.7692
Name: 7308, dtype: object
7309 1134 12 ORtg Last Month    94.5
Name: 7309, dtype: object
7310 94 1 ORtg Last Month    94
Name: 7310, dtype: object
7311 1416 13 ORtg Last Month    108.923
Name: 7311, dtype: object
7312 1702 14 ORtg Last Month    121.571
Name: 7312, dtype: object
7313 1395 14 ORtg Last Month    99.6429
Name: 7313, dtype: object
7314 1908 14 ORtg Last Month    136.286
Name: 7314, dtype: object
7315 1053 14 ORtg Last Month    75.2143
Name: 7315, dtype: object
7316 453 14 ORtg Last Month    32.3571
Name: 7316, dtype: object
7317 1261 13 ORtg Last Month    97
Name: 7317, dtype: object
7318 512 7 ORtg Last Month    73.1429
Name: 7318, dtype: object
7319 1507 13 ORtg Last Month    115.923
Name: 7319, dtype: object
7320 542 12 ORtg Last Month    45.1667
Name: 7320, dtype: object
7321 824 13 ORtg Last Month    63.3846
Name: 7321, dtype: object
7322 1456 12 ORtg Last Month    121.333
Name: 7322, dtype: object
7323 1555 13 ORtg Last Month    119.615
Name: 7323, dtype: object
7324 647 10 ORtg Last Month    64.7
Name: 7324, dtype: object
7325 1358 13 ORtg Last Month    104.462
Name: 7325, dtype: object
7326 1681 13 ORtg Last Month    129.308
Name: 7326, dtype: object
7327 813 12 ORtg Last Month    67.75
Name: 7327, dtype: object
7328 1705 14 ORtg Last Month    121.786
Name: 7328, dtype: object
7329 1656 14 ORtg Last Month    118.286
Name: 7329, dtype: object
7330 1140 9 ORtg Last Month    126.667
Name: 7330, dtype: object
7331 300 7 ORtg Last Month    42.8571
Name: 7331, dtype: object
7332 1586 13 ORtg Last Month    122
Name: 7332, dtype: object
7333 1555 14 ORtg Last Month    111.071
Name: 7333, dtype: object
7334 1900 14 ORtg Last Month    135.714
Name: 7334, dtype: object
7335 1947 14 ORtg Last Month    139.071
Name: 7335, dtype: object
7336 802 13 ORtg Last Month    61.6923
Name: 7336, dtype: object
7337 1434 14 ORtg Last Month    102.429
Name: 7337, dtype: object
7338 1315 13 ORtg Last Month    101.154
Name: 7338, dtype: object
7339 857 14 ORtg Last Month    61.2143
Name: 7339, dtype: object
7340 955 10 ORtg Last Month    95.5
Name: 7340, dtype: object
7341 1679 14 ORtg Last Month    119.929
Name: 7341, dtype: object
7342 1749 14 ORtg Last Month    124.929
Name: 7342, dtype: object
7343 1529 14 ORtg Last Month    109.214
Name: 7343, dtype: object
7344 830 14 ORtg Last Month    59.2857
Name: 7344, dtype: object
7345 1168 13 ORtg Last Month    89.8462
Name: 7345, dtype: object
7346 1372 14 ORtg Last Month    98
Name: 7346, dtype: object
7347 50 14 ORtg Last Month    3.57143
Name: 7347, dtype: object
7348 855 14 ORtg Last Month    61.0714
Name: 7348, dtype: object
7349 336 14 ORtg Last Month    24
Name: 7349, dtype: object
7350 1635 15 ORtg Last Month    109
Name: 7350, dtype: object
7351 1916 15 ORtg Last Month    127.733
Name: 7351, dtype: object
7352 1370 15 ORtg Last Month    91.3333
Name: 7352, dtype: object
7353 1728 16 ORtg Last Month    108
Name: 7353, dtype: object
7354 896 16 ORtg Last Month    56
Name: 7354, dtype: object
7355 1166 16 ORtg Last Month    72.875
Name: 7355, dtype: object
7356 1705 14 ORtg Last Month    121.786
Name: 7356, dtype: object
7357 1834 16 ORtg Last Month    114.625
Name: 7357, dtype: object
7358 281 16 ORtg Last Month    17.5625
Name: 7358, dtype: object
7359 1422 13 ORtg Last Month    109.385
Name: 7359, dtype: object
7360 250 6 ORtg Last Month    41.6667
Name: 7360, dtype: object
7361 1519 16 ORtg Last Month    94.9375
Name: 7361, dtype: object
7362 1549 15 ORtg Last Month    103.267
Name: 7362, dtype: object
7363 1928 16 ORtg Last Month    120.5
Name: 7363, dtype: object
7364 1470 16 ORtg Last Month    91.875
Name: 7364, dtype: object
7365 194 14 ORtg Last Month    13.8571
Name: 7365, dtype: object
7366 1461 16 ORtg Last Month    91.3125
Name: 7366, dtype: object
7367 1972 16 ORtg Last Month    123.25
Name: 7367, dtype: object
7368 1470 16 ORtg Last Month    91.875
Name: 7368, dtype: object
7369 1275 16 ORtg Last Month    79.6875
Name: 7369, dtype: object
7370 560 15 ORtg Last Month    37.3333
Name: 7370, dtype: object
7371 1181 16 ORtg Last Month    73.8125
Name: 7371, dtype: object
7372 1399 16 ORtg Last Month    87.4375
Name: 7372, dtype: object
7373 924 12 ORtg Last Month    77
Name: 7373, dtype: object
7374 1865 16 ORtg Last Month    116.562
Name: 7374, dtype: object
7375 1969 16 ORtg Last Month    123.062
Name: 7375, dtype: object
7376 1825 16 ORtg Last Month    114.062
Name: 7376, dtype: object
7377 867 8 ORtg Last Month    108.375
Name: 7377, dtype: object
7378 579 7 ORtg Last Month    82.7143
Name: 7378, dtype: object
7379 1548 14 ORtg Last Month    110.571
Name: 7379, dtype: object
7380 926 14 ORtg Last Month    66.1429
Name: 7380, dtype: object
7381 1806 14 ORtg Last Month    129
Name: 7381, dtype: object
7382 1587 14 ORtg Last Month    113.357
Name: 7382, dtype: object
7383 800 12 ORtg Last Month    66.6667
Name: 7383, dtype: object
7384 271 14 ORtg Last Month    19.3571
Name: 7384, dtype: object
7385 1749 14 ORtg Last Month    124.929
Name: 7385, dtype: object
7386 1621 13 ORtg Last Month    124.692
Name: 7386, dtype: object
7387 1190 14 ORtg Last Month    85
Name: 7387, dtype: object
7388 0 1 ORtg Last Month    0
Name: 7388, dtype: object
7389 1538 15 ORtg Last Month    102.533
Name: 7389, dtype: object
7390 1935 15 ORtg Last Month    129
Name: 7390, dtype: object
7391 629 15 ORtg Last Month    41.9333
Name: 7391, dtype: object
7392 1405 15 ORtg Last Month    93.6667
Name: 7392, dtype: object
7393 953 9 ORtg Last Month    105.889
Name: 7393, dtype: object
7394 1609 15 ORtg Last Month    107.267
Name: 7394, dtype: object
7395 1267 14 ORtg Last Month    90.5
Name: 7395, dtype: object

7396 0 7 ORtg Last Month    0
Name: 7396, dtype: object
7397 1722 15 ORtg Last Month    114.8
Name: 7397, dtype: object
7398 1634 15 ORtg Last Month    108.933
Name: 7398, dtype: object
7399 682 15 ORtg Last Month    45.4667
Name: 7399, dtype: object
7400 200 15 ORtg Last Month    13.3333
Name: 7400, dtype: object
7401 1888 16 ORtg Last Month    118
Name: 7401, dtype: object
7402 1077 15 ORtg Last Month    71.8
Name: 7402, dtype: object
7403 2080 16 ORtg Last Month    130
Name: 7403, dtype: object
7404 0 5 ORtg Last Month    0
Name: 7404, dtype: object
7405 1769 16 ORtg Last Month    110.562
Name: 7405, dtype: object
7406 1337 12 ORtg Last Month    111.417
Name: 7406, dtype: object
7407 1469 12 ORtg Last Month    122.417
Name: 7407, dtype: object
7408 1092 15 ORtg Last Month    72.8
Name: 7408, dtype: object
7409 1799 16 ORtg Last Month    112.438
Name: 7409, dtype: object
7410 1402 14 ORtg Last Month    100.143
Name: 7410, dtype: object
7411 1402 16 ORtg Last Month    87.625
Name: 7411, dtype: object
7412 1308 13 ORtg Last Month    100.615
Name: 7412, dtype: object
7413 622 13 ORtg Last Month    47.8462
Name: 7413, dtype: object
7414 1055 14 ORtg Last Month    75.3571
Name: 7414, dtype: object
7415 43 13 ORtg Last Month    3.30769
Name: 7415, dtype: object
7416 1203 14 ORtg Last Month    85.9286
Name: 7416, dtype: object
7417 1299 12 ORtg Last Month    108.25
Name: 7417, dtype: object
7418 1408 13 ORtg Last Month    108.308
Name: 7418, dtype: object
7419 1452 14 ORtg Last Month    103.714
Name: 7419, dtype: object
7420 1470 14 ORtg Last Month    105
Name: 7420, dtype: object
7421 1635 14 ORtg Last Month    116.786
Name: 7421, dtype: object
7422 105 14 ORtg Last Month    7.5
Name: 7422, dtype: object
7423 229 14 ORtg Last Month    16.3571
Name: 7423, dtype: object
7424 1669 15 ORtg Last Month    111.267
Name: 7424, dtype: object
7425 943 11 ORtg Last Month    85.7273
Name: 7425, dtype: object
7426 241 15 ORtg Last Month    16.0667
Name: 7426, dtype: object
7427 1442 15 ORtg Last Month    96.1333
Name: 7427, dtype: object
7428 1503 15 ORtg Last Month    100.2
Name: 7428, dtype: object
7429 1743 15 ORtg Last Month    116.2
Name: 7429, dtype: object
7430 198 3 ORtg Last Month    66
Name: 7430, dtype: object
7431 1409 14 ORtg Last Month    100.643
Name: 7431, dtype: object
7432 1786 15 ORtg Last Month    119.067
Name: 7432, dtype: object
7433 1584 15 ORtg Last Month    105.6
Name: 7433, dtype: object
7434 1705 15 ORtg Last Month    113.667
Name: 7434, dtype: object
7435 811 15 ORtg Last Month    54.0667
Name: 7435, dtype: object
7436 1032 11 ORtg Last Month    93.8182
Name: 7436, dtype: object
7437 1743 15 ORtg Last Month    116.2
Name: 7437, dtype: object
7438 1637 15 ORtg Last Month    109.133
Name: 7438, dtype: object
7439 1241 12 ORtg Last Month    103.417
Name: 7439, dtype: object
7440 1705 15 ORtg Last Month    113.667
Name: 7440, dtype: object
7441 928 15 ORtg Last Month    61.8667
Name: 7441, dtype: object
7442 1503 15 ORtg Last Month    100.2
Name: 7442, dtype: object
7443 1795 15 ORtg Last Month    119.667
Name: 7443, dtype: object
7444 1792 14 ORtg Last Month    128
Name: 7444, dtype: object
7445 1491 15 ORtg Last Month    99.4
Name: 7445, dtype: object
7446 1408 13 ORtg Last Month    108.308
Name: 7446, dtype: object
7447 565 15 ORtg Last Month    37.6667
Name: 7447, dtype: object
7448 1028 11 ORtg Last Month    93.4545
Name: 7448, dtype: object
7449 275 5 ORtg Last Month    55
Name: 7449, dtype: object
7450 1445 15 ORtg Last Month    96.3333
Name: 7450, dtype: object
7451 1440 15 ORtg Last Month    96
Name: 7451, dtype: object
7452 622 14 ORtg Last Month    44.4286
Name: 7452, dtype: object
7453 1543 15 ORtg Last Month    102.867
Name: 7453, dtype: object
7454 1352 15 ORtg Last Month    90.1333
Name: 7454, dtype: object
7455 1485 15 ORtg Last Month    99
Name: 7455, dtype: object
7456 962 13 ORtg Last Month    74
Name: 7456, dtype: object
7457 517 15 ORtg Last Month    34.4667
Name: 7457, dtype: object
7458 1963 15 ORtg Last Month    130.867
Name: 7458, dtype: object
7459 1928 15 ORtg Last Month    128.533
Name: 7459, dtype: object
7460 1210 15 ORtg Last Month    80.6667
Name: 7460, dtype: object
7461 1552 14 ORtg Last Month    110.857
Name: 7461, dtype: object
7462 1493 14 ORtg Last Month    106.643
Name: 7462, dtype: object
7463 1112 14 ORtg Last Month    79.4286
Name: 7463, dtype: object
7464 1481 14 ORtg Last Month    105.786
Name: 7464, dtype: object
7465 0 0 ORtg Last Month    0
Name: 7465, dtype: object
7466 1310 14 ORtg Last Month    93.5714
Name: 7466, dtype: object
7467 1355 13 ORtg Last Month    104.231
Name: 7467, dtype: object
7468 1603 13 ORtg Last Month    123.308
Name: 7468, dtype: object
7469 1607 14 ORtg Last Month    114.786
Name: 7469, dtype: object
7470 903 13 ORtg Last Month    69.4615
Name: 7470, dtype: object
7471 705 14 ORtg Last Month    50.3571
Name: 7471, dtype: object
7472 887 14 ORtg Last Month    63.3571
Name: 7472, dtype: object
7473 1443 14 ORtg Last Month    103.071
Name: 7473, dtype: object
7474 927 9 ORtg Last Month    103
Name: 7474, dtype: object
7475 872 11 ORtg Last Month    79.2727
Name: 7475, dtype: object
7476 1385 14 ORtg Last Month    98.9286
Name: 7476, dtype: object
7477 1646 14 ORtg Last Month    117.571
Name: 7477, dtype: object
7478 1655 14 ORtg Last Month    118.214
Name: 7478, dtype: object
7479 1689 13 ORtg Last Month    129.923
Name: 7479, dtype: object
7480 1484 14 ORtg Last Month    106
Name: 7480, dtype: object
7481 1754 14 ORtg Last Month    125.286
Name: 7481, dtype: object
7482 1803 14 ORtg Last Month    128.786
Name: 7482, dtype: object
7483 1451 14 ORtg Last Month    103.643
Name: 7483, dtype: object
7484 1430 14 ORtg Last Month    102.143
Name: 7484, dtype: object
7485 636 14 ORtg Last Month    45.4286
Name: 7485, dtype: object
7486 83 6 ORtg Last Month    13.8333
Name: 7486, dtype: object
7487 1366 14 ORtg Last Month    97.5714
Name: 7487, dtype: object
7488 1225 14 ORtg Last Month    87.5
Name: 7488, dtype: object
7489 1665 14 ORtg Last Month    118.929
Name: 7489, dtype: object
7490 1458 14 ORtg Last Month    104.143
Name: 7490, dtype: object
7491 1766 14 ORtg Last Month    126.143
Name: 7491, dtype: object
7492 1294 13 ORtg Last Month    99.5385
Name: 7492, dtype: object
7493 85 3 ORtg Last Month    28.3333
Name: 7493, dtype: object
7494 667 14 ORtg Last Month    47.6429
Name: 7494, dtype: object
7495 1369 14 ORtg Last Month    97.7857
Name: 7495, dtype: object
7496 512 8 ORtg Last Month    64
Name: 7496, dtype: object
7497 1538 14 ORtg Last Month    109.857
Name: 7497, dtype: object
7498 542 13 ORtg Last Month    41.6923
Name: 7498, dtype: object
7499 713 11 ORtg Last Month    64.8182
Name: 7499, dtype: object
7500 824 14 ORtg Last Month    58.8571
Name: 7500, dtype: object
7501 1657 14 ORtg Last Month    118.357
Name: 7501, dtype: object
7502 1641 13 ORtg Last Month    126.231
Name: 7502, dtype: object
7503 1474 14 ORtg Last Month    105.286
Name: 7503, dtype: object
7504 1809 14 ORtg Last Month    129.214
Name: 7504, dtype: object
7505 1270 13 ORtg Last Month    97.6923
Name: 7505, dtype: object
7506 957 13 ORtg Last Month    73.6154
Name: 7506, dtype: object
7507 1569 13 ORtg Last Month    120.692
Name: 7507, dtype: object
7508 1293 13 ORtg Last Month    99.4615
Name: 7508, dtype: object
7509 403 13 ORtg Last Month    31
Name: 7509, dtype: object
7510 1481 13 ORtg Last Month    113.923
Name: 7510, dtype: object
7511 1273 13 ORtg Last Month    97.9231
Name: 7511, dtype: object
7512 1294 13 ORtg Last Month    99.5385
Name: 7512, dtype: object
7513 1341 13 ORtg Last Month    103.154
Name: 7513, dtype: object
7514 211 9 ORtg Last Month    23.4444
Name: 7514, dtype: object
7515 1042 13 ORtg Last Month    80.1538
Name: 7515, dtype: object
7516 1518 13 ORtg Last Month    116.769
Name: 7516, dtype: object
7517 1256 12 ORtg Last Month    104.667
Name: 7517, dtype: object
7518 41 9 ORtg Last Month    4.55556
Name: 7518, dtype: object
7519 301 12 ORtg Last Month    25.0833
Name: 7519, dtype: object
7520 1410 13 ORtg Last Month    108.462
Name: 7520, dtype: object
7521 1055 12 ORtg Last Month    87.9167
Name: 7521, dtype: object
7522 630 13 ORtg Last Month    48.4615
Name: 7522, dtype: object

7523 984 9 ORtg Last Month    109.333
Name: 7523, dtype: object
7524 1370 13 ORtg Last Month    105.385
Name: 7524, dtype: object
7525 1387 13 ORtg Last Month    106.692
Name: 7525, dtype: object
7526 1318 13 ORtg Last Month    101.385
Name: 7526, dtype: object
7527 1449 13 ORtg Last Month    111.462
Name: 7527, dtype: object
7528 1063 13 ORtg Last Month    81.7692
Name: 7528, dtype: object
7529 1250 11 ORtg Last Month    113.636
Name: 7529, dtype: object
7530 111 4 ORtg Last Month    27.75
Name: 7530, dtype: object
7531 1260 13 ORtg Last Month    96.9231
Name: 7531, dtype: object
7532 1716 15 ORtg Last Month    114.4
Name: 7532, dtype: object
7533 1784 15 ORtg Last Month    118.933
Name: 7533, dtype: object
7534 1593 14 ORtg Last Month    113.786
Name: 7534, dtype: object
7535 596 15 ORtg Last Month    39.7333
Name: 7535, dtype: object
7536 350 14 ORtg Last Month    25
Name: 7536, dtype: object
7537 1252 11 ORtg Last Month    113.818
Name: 7537, dtype: object
7538 2085 15 ORtg Last Month    139
Name: 7538, dtype: object
7539 1727 15 ORtg Last Month    115.133
Name: 7539, dtype: object
7540 1118 11 ORtg Last Month    101.636
Name: 7540, dtype: object
7541 1065 9 ORtg Last Month    118.333
Name: 7541, dtype: object
7542 1684 14 ORtg Last Month    120.286
Name: 7542, dtype: object
7543 1744 15 ORtg Last Month    116.267
Name: 7543, dtype: object
7544 439 14 ORtg Last Month    31.3571
Name: 7544, dtype: object
7545 1316 15 ORtg Last Month    87.7333
Name: 7545, dtype: object
7546 1512 14 ORtg Last Month    108
Name: 7546, dtype: object
7547 390 10 ORtg Last Month    39
Name: 7547, dtype: object
7548 1482 15 ORtg Last Month    98.8
Name: 7548, dtype: object
7549 362 6 ORtg Last Month    60.3333
Name: 7549, dtype: object
7550 1387 14 ORtg Last Month    99.0714
Name: 7550, dtype: object
7551 1219 15 ORtg Last Month    81.2667
Name: 7551, dtype: object
7552 794 7 ORtg Last Month    113.429
Name: 7552, dtype: object
7553 1302 14 ORtg Last Month    93
Name: 7553, dtype: object
7554 1220 12 ORtg Last Month    101.667
Name: 7554, dtype: object
7555 750 15 ORtg Last Month    50
Name: 7555, dtype: object
7556 1569 13 ORtg Last Month    120.692
Name: 7556, dtype: object
7557 1465 14 ORtg Last Month    104.643
Name: 7557, dtype: object
7558 1259 14 ORtg Last Month    89.9286
Name: 7558, dtype: object
7559 0 0 ORtg Last Month    0
Name: 7559, dtype: object
7560 304 14 ORtg Last Month    21.7143
Name: 7560, dtype: object
7561 1428 13 ORtg Last Month    109.846
Name: 7561, dtype: object
7562 1360 13 ORtg Last Month    104.615
Name: 7562, dtype: object
7563 1577 14 ORtg Last Month    112.643
Name: 7563, dtype: object
7564 419 14 ORtg Last Month    29.9286
Name: 7564, dtype: object
7565 1015 14 ORtg Last Month    72.5
Name: 7565, dtype: object
7566 1544 14 ORtg Last Month    110.286
Name: 7566, dtype: object
7567 484 9 ORtg Last Month    53.7778
Name: 7567, dtype: object
7568 569 8 ORtg Last Month    71.125
Name: 7568, dtype: object
7569 1517 15 ORtg Last Month    101.133
Name: 7569, dtype: object
7570 1492 15 ORtg Last Month    99.4667
Name: 7570, dtype: object
7571 1877 15 ORtg Last Month    125.133
Name: 7571, dtype: object
7572 1075 11 ORtg Last Month    97.7273
Name: 7572, dtype: object
7573 1235 15 ORtg Last Month    82.3333
Name: 7573, dtype: object
7574 1314 15 ORtg Last Month    87.6
Name: 7574, dtype: object
7575 607 11 ORtg Last Month    55.1818
Name: 7575, dtype: object
7576 1743 14 ORtg Last Month    124.5
Name: 7576, dtype: object
7577 1389 14 ORtg Last Month    99.2143
Name: 7577, dtype: object
7578 1904 15 ORtg Last Month    126.933
Name: 7578, dtype: object
7579 306 14 ORtg Last Month    21.8571
Name: 7579, dtype: object
7580 1351 14 ORtg Last Month    96.5
Name: 7580, dtype: object
7581 1278 15 ORtg Last Month    85.2
Name: 7581, dtype: object
7582 1207 13 ORtg Last Month    92.8462
Name: 7582, dtype: object
7583 801 14 ORtg Last Month    57.2143
Name: 7583, dtype: object
7584 1773 15 ORtg Last Month    118.2
Name: 7584, dtype: object
7585 1133 15 ORtg Last Month    75.5333
Name: 7585, dtype: object
7586 1624 15 ORtg Last Month    108.267
Name: 7586, dtype: object
7587 1364 15 ORtg Last Month    90.9333
Name: 7587, dtype: object
7588 1375 15 ORtg Last Month    91.6667
Name: 7588, dtype: object
7589 1146 15 ORtg Last Month    76.4
Name: 7589, dtype: object
7590 1454 13 ORtg Last Month    111.846
Name: 7590, dtype: object
7591 1113 11 ORtg Last Month    101.182
Name: 7591, dtype: object
7592 1065 13 ORtg Last Month    81.9231
Name: 7592, dtype: object
7593 289 8 ORtg Last Month    36.125
Name: 7593, dtype: object
7594 945 12 ORtg Last Month    78.75
Name: 7594, dtype: object
7595 1547 13 ORtg Last Month    119
Name: 7595, dtype: object
7596 1394 13 ORtg Last Month    107.231
Name: 7596, dtype: object
7597 1546 13 ORtg Last Month    118.923
Name: 7597, dtype: object
7598 826 7 ORtg Last Month    118
Name: 7598, dtype: object
7599 1429 13 ORtg Last Month    109.923
Name: 7599, dtype: object
7600 735 12 ORtg Last Month    61.25
Name: 7600, dtype: object
7601 1580 13 ORtg Last Month    121.538
Name: 7601, dtype: object
7602 1299 13 ORtg Last Month    99.9231
Name: 7602, dtype: object
7603 1364 13 ORtg Last Month    104.923
Name: 7603, dtype: object
7604 898 9 ORtg Last Month    99.7778
Name: 7604, dtype: object
7605 330 6 ORtg Last Month    55
Name: 7605, dtype: object
7606 1179 12 ORtg Last Month    98.25
Name: 7606, dtype: object
7607 1512 13 ORtg Last Month    116.308
Name: 7607, dtype: object
7608 1003 12 ORtg Last Month    83.5833
Name: 7608, dtype: object
7609 1498 13 ORtg Last Month    115.231
Name: 7609, dtype: object
7610 1378 13 ORtg Last Month    106
Name: 7610, dtype: object
7611 698 13 ORtg Last Month    53.6923
Name: 7611, dtype: object
7612 300 12 ORtg Last Month    25
Name: 7612, dtype: object
7613 1291 12 ORtg Last Month    107.583
Name: 7613, dtype: object
7614 953 8 ORtg Last Month    119.125
Name: 7614, dtype: object
7615 856 12 ORtg Last Month    71.3333
Name: 7615, dtype: object
7616 1346 12 ORtg Last Month    112.167
Name: 7616, dtype: object
7617 1344 12 ORtg Last Month    112
Name: 7617, dtype: object
7618 250 12 ORtg Last Month    20.8333
Name: 7618, dtype: object
7619 1217 9 ORtg Last Month    135.222
Name: 7619, dtype: object
7620 1302 12 ORtg Last Month    108.5
Name: 7620, dtype: object
7621 731 12 ORtg Last Month    60.9167
Name: 7621, dtype: object
7622 1347 14 ORtg Last Month    96.2143
Name: 7622, dtype: object
7623 1895 15 ORtg Last Month    126.333
Name: 7623, dtype: object
7624 1579 15 ORtg Last Month    105.267
Name: 7624, dtype: object
7625 1594 15 ORtg Last Month    106.267
Name: 7625, dtype: object
7626 1868 15 ORtg Last Month    124.533
Name: 7626, dtype: object
7627 1617 15 ORtg Last Month    107.8
Name: 7627, dtype: object
7628 869 15 ORtg Last Month    57.9333
Name: 7628, dtype: object
7629 428 15 ORtg Last Month    28.5333
Name: 7629, dtype: object
7630 1754 15 ORtg Last Month    116.933
Name: 7630, dtype: object
7631 1593 15 ORtg Last Month    106.2
Name: 7631, dtype: object
7632 1755 15 ORtg Last Month    117
Name: 7632, dtype: object
7633 1285 12 ORtg Last Month    107.083
Name: 7633, dtype: object
7634 445 10 ORtg Last Month    44.5
Name: 7634, dtype: object
7635 1521 12 ORtg Last Month    126.75
Name: 7635, dtype: object
7636 65 8 ORtg Last Month    8.125
Name: 7636, dtype: object
7637 525 11 ORtg Last Month    47.7273
Name: 7637, dtype: object
7638 1073 10 ORtg Last Month    107.3
Name: 7638, dtype: object
7639 1202 12 ORtg Last Month    100.167
Name: 7639, dtype: object
7640 1338 12 ORtg Last Month    111.5
Name: 7640, dtype: object
7641 1250 12 ORtg Last Month    104.167
Name: 7641, dtype: object
7642 1206 12 ORtg Last Month    100.5
Name: 7642, dtype: object
7643 823 11 ORtg Last Month    74.8182
Name: 7643, dtype: object
7644 1478 13 ORtg Last Month    113.692
Name: 7644, dtype: object
7645 1228 12 ORtg Last Month    102.333
Name: 7645, dtype: object
7646 216 2 ORtg Last Month    108
Name: 7646, dtype: object
7647 598 13 ORtg Last Month    46
Name: 7647, dtype: object
7648 1157 12 ORtg Last Month    96.4167
Name: 7648, dtype: object
7649 1701 14 ORtg Last Month    121.5
Name: 7649, dtype: object

7650 828 10 ORtg Last Month    82.8
Name: 7650, dtype: object
7651 1294 14 ORtg Last Month    92.4286
Name: 7651, dtype: object
7652 1550 14 ORtg Last Month    110.714
Name: 7652, dtype: object
7653 1116 14 ORtg Last Month    79.7143
Name: 7653, dtype: object
7654 1960 14 ORtg Last Month    140
Name: 7654, dtype: object
7655 386 14 ORtg Last Month    27.5714
Name: 7655, dtype: object
7656 0 0 ORtg Last Month    0
Name: 7656, dtype: object
7657 1354 14 ORtg Last Month    96.7143
Name: 7657, dtype: object
7658 1717 14 ORtg Last Month    122.643
Name: 7658, dtype: object
7659 403 14 ORtg Last Month    28.7857
Name: 7659, dtype: object
7660 1596 14 ORtg Last Month    114
Name: 7660, dtype: object
7661 1400 14 ORtg Last Month    100
Name: 7661, dtype: object
7662 1361 14 ORtg Last Month    97.2143
Name: 7662, dtype: object
7663 1495 14 ORtg Last Month    106.786
Name: 7663, dtype: object
7664 1042 14 ORtg Last Month    74.4286
Name: 7664, dtype: object
7665 302 10 ORtg Last Month    30.2
Name: 7665, dtype: object
7666 1338 13 ORtg Last Month    102.923
Name: 7666, dtype: object
7667 1603 14 ORtg Last Month    114.5
Name: 7667, dtype: object
7668 41 10 ORtg Last Month    4.1
Name: 7668, dtype: object
7669 301 13 ORtg Last Month    23.1538
Name: 7669, dtype: object
7670 1542 14 ORtg Last Month    110.143
Name: 7670, dtype: object
7671 1526 14 ORtg Last Month    109
Name: 7671, dtype: object
7672 1507 14 ORtg Last Month    107.643
Name: 7672, dtype: object
7673 1286 14 ORtg Last Month    91.8571
Name: 7673, dtype: object
7674 1346 14 ORtg Last Month    96.1429
Name: 7674, dtype: object
7675 1575 14 ORtg Last Month    112.5
Name: 7675, dtype: object
7676 1523 14 ORtg Last Month    108.786
Name: 7676, dtype: object
7677 593 6 ORtg Last Month    98.8333
Name: 7677, dtype: object
7678 1167 9 ORtg Last Month    129.667
Name: 7678, dtype: object
7679 0 8 ORtg Last Month    0
Name: 7679, dtype: object
7680 544 14 ORtg Last Month    38.8571
Name: 7680, dtype: object
7681 0 4 ORtg Last Month    0
Name: 7681, dtype: object
7682 1653 14 ORtg Last Month    118.071
Name: 7682, dtype: object
7683 605 6 ORtg Last Month    100.833
Name: 7683, dtype: object
7684 1414 13 ORtg Last Month    108.769
Name: 7684, dtype: object
7685 1243 13 ORtg Last Month    95.6154
Name: 7685, dtype: object
7686 1528 13 ORtg Last Month    117.538
Name: 7686, dtype: object
7687 1277 13 ORtg Last Month    98.2308
Name: 7687, dtype: object
7688 483 5 ORtg Last Month    96.6
Name: 7688, dtype: object
7689 94 13 ORtg Last Month    7.23077
Name: 7689, dtype: object
7690 1242 12 ORtg Last Month    103.5
Name: 7690, dtype: object
7691 1190 13 ORtg Last Month    91.5385
Name: 7691, dtype: object
7692 1633 13 ORtg Last Month    125.615
Name: 7692, dtype: object
7693 1759 16 ORtg Last Month    109.938
Name: 7693, dtype: object
7694 795 16 ORtg Last Month    49.6875
Name: 7694, dtype: object
7695 1107 16 ORtg Last Month    69.1875
Name: 7695, dtype: object
7696 1742 14 ORtg Last Month    124.429
Name: 7696, dtype: object
7697 1844 16 ORtg Last Month    115.25
Name: 7697, dtype: object
7698 331 16 ORtg Last Month    20.6875
Name: 7698, dtype: object
7699 1519 16 ORtg Last Month    94.9375
Name: 7699, dtype: object
7700 1422 14 ORtg Last Month    101.571
Name: 7700, dtype: object
7701 1471 16 ORtg Last Month    91.9375
Name: 7701, dtype: object
7702 250 6 ORtg Last Month    41.6667
Name: 7702, dtype: object
7703 1672 15 ORtg Last Month    111.467
Name: 7703, dtype: object
7704 1913 16 ORtg Last Month    119.562
Name: 7704, dtype: object
7705 109 14 ORtg Last Month    7.78571
Name: 7705, dtype: object
7706 876 8 ORtg Last Month    109.5
Name: 7706, dtype: object
7707 1513 14 ORtg Last Month    108.071
Name: 7707, dtype: object
7708 701 8 ORtg Last Month    87.625
Name: 7708, dtype: object
7709 1263 11 ORtg Last Month    114.818
Name: 7709, dtype: object
7710 1055 14 ORtg Last Month    75.3571
Name: 7710, dtype: object
7711 1564 14 ORtg Last Month    111.714
Name: 7711, dtype: object
7712 757 12 ORtg Last Month    63.0833
Name: 7712, dtype: object
7713 1810 14 ORtg Last Month    129.286
Name: 7713, dtype: object
7714 471 14 ORtg Last Month    33.6429
Name: 7714, dtype: object
7715 1724 14 ORtg Last Month    123.143
Name: 7715, dtype: object
7716 1688 13 ORtg Last Month    129.846
Name: 7716, dtype: object
7717 1013 14 ORtg Last Month    72.3571
Name: 7717, dtype: object
7718 1983 15 ORtg Last Month    132.2
Name: 7718, dtype: object
7719 1536 15 ORtg Last Month    102.4
Name: 7719, dtype: object
7720 629 15 ORtg Last Month    41.9333
Name: 7720, dtype: object
7721 1378 13 ORtg Last Month    106
Name: 7721, dtype: object
7722 1580 15 ORtg Last Month    105.333
Name: 7722, dtype: object
7723 1449 15 ORtg Last Month    96.6
Name: 7723, dtype: object
7724 1292 14 ORtg Last Month    92.2857
Name: 7724, dtype: object
7725 950 9 ORtg Last Month    105.556
Name: 7725, dtype: object
7726 200 15 ORtg Last Month    13.3333
Name: 7726, dtype: object
7727 1762 15 ORtg Last Month    117.467
Name: 7727, dtype: object
7728 1669 15 ORtg Last Month    111.267
Name: 7728, dtype: object
7729 835 15 ORtg Last Month    55.6667
Name: 7729, dtype: object
7730 1782 15 ORtg Last Month    118.8
Name: 7730, dtype: object
7731 1100 14 ORtg Last Month    78.5714
Name: 7731, dtype: object
7732 899 14 ORtg Last Month    64.2143
Name: 7732, dtype: object
7733 1928 15 ORtg Last Month    128.533
Name: 7733, dtype: object
7734 0 4 ORtg Last Month    0
Name: 7734, dtype: object
7735 1379 12 ORtg Last Month    114.917
Name: 7735, dtype: object
7736 1727 15 ORtg Last Month    115.133
Name: 7736, dtype: object
7737 1439 13 ORtg Last Month    110.692
Name: 7737, dtype: object
7738 1690 15 ORtg Last Month    112.667
Name: 7738, dtype: object
7739 1212 13 ORtg Last Month    93.2308
Name: 7739, dtype: object
7740 1329 15 ORtg Last Month    88.6
Name: 7740, dtype: object
7741 1104 15 ORtg Last Month    73.6
Name: 7741, dtype: object
7742 745 14 ORtg Last Month    53.2143
Name: 7742, dtype: object
7743 43 14 ORtg Last Month    3.07143
Name: 7743, dtype: object
7744 328 4 ORtg Last Month    82
Name: 7744, dtype: object
7745 1330 15 ORtg Last Month    88.6667
Name: 7745, dtype: object
7746 1376 13 ORtg Last Month    105.846
Name: 7746, dtype: object
7747 1501 15 ORtg Last Month    100.067
Name: 7747, dtype: object
7748 105 15 ORtg Last Month    7
Name: 7748, dtype: object
7749 1710 15 ORtg Last Month    114
Name: 7749, dtype: object
7750 1610 15 ORtg Last Month    107.333
Name: 7750, dtype: object
7751 229 15 ORtg Last Month    15.2667
Name: 7751, dtype: object
7752 1581 14 ORtg Last Month    112.929
Name: 7752, dtype: object
7753 923 10 ORtg Last Month    92.3
Name: 7753, dtype: object
7754 241 14 ORtg Last Month    17.2143
Name: 7754, dtype: object
7755 1577 14 ORtg Last Month    112.643
Name: 7755, dtype: object
7756 1369 14 ORtg Last Month    97.7857
Name: 7756, dtype: object
7757 1467 14 ORtg Last Month    104.786
Name: 7757, dtype: object
7758 255 4 ORtg Last Month    63.75
Name: 7758, dtype: object
7759 1407 14 ORtg Last Month    100.5
Name: 7759, dtype: object
7760 1237 13 ORtg Last Month    95.1538
Name: 7760, dtype: object
7761 646 14 ORtg Last Month    46.1429
Name: 7761, dtype: object
7762 1707 14 ORtg Last Month    121.929
Name: 7762, dtype: object
7763 1792 14 ORtg Last Month    128
Name: 7763, dtype: object
7764 1122 12 ORtg Last Month    93.5
Name: 7764, dtype: object
7765 1757 15 ORtg Last Month    117.133
Name: 7765, dtype: object
7766 1611 15 ORtg Last Month    107.4
Name: 7766, dtype: object
7767 1641 15 ORtg Last Month    109.4
Name: 7767, dtype: object
7768 1245 12 ORtg Last Month    103.75
Name: 7768, dtype: object
7769 1498 15 ORtg Last Month    99.8667
Name: 7769, dtype: object
7770 642 15 ORtg Last Month    42.8
Name: 7770, dtype: object
7771 1738 15 ORtg Last Month    115.867
Name: 7771, dtype: object
7772 903 15 ORtg Last Month    60.2
Name: 7772, dtype: object
7773 1470 15 ORtg Last Month    98
Name: 7773, dtype: object
7774 1436 13 ORtg Last Month    110.462
Name: 7774, dtype: object
7775 1903 14 ORtg Last Month    135.929
Name: 7775, dtype: object
7776 1126 12 ORtg Last Month    93.8333
Name: 7776, dtype: object
7777 1510 16 ORtg Last Month    94.375
Name: 7777, dtype: object

7778 386 6 ORtg Last Month    64.3333
Name: 7778, dtype: object
7779 622 15 ORtg Last Month    41.4667
Name: 7779, dtype: object
7780 1452 16 ORtg Last Month    90.75
Name: 7780, dtype: object
7781 1545 16 ORtg Last Month    96.5625
Name: 7781, dtype: object
7782 974 10 ORtg Last Month    97.4
Name: 7782, dtype: object
7783 1618 16 ORtg Last Month    101.125
Name: 7783, dtype: object
7784 1563 16 ORtg Last Month    97.6875
Name: 7784, dtype: object
7785 517 16 ORtg Last Month    32.3125
Name: 7785, dtype: object
7786 2097 16 ORtg Last Month    131.062
Name: 7786, dtype: object
7787 2080 16 ORtg Last Month    130
Name: 7787, dtype: object
7788 1210 16 ORtg Last Month    75.625
Name: 7788, dtype: object
7789 1502 14 ORtg Last Month    107.286
Name: 7789, dtype: object
7790 1566 14 ORtg Last Month    111.857
Name: 7790, dtype: object
7791 1093 14 ORtg Last Month    78.0714
Name: 7791, dtype: object
7792 1437 14 ORtg Last Month    102.643
Name: 7792, dtype: object
7793 146 1 ORtg Last Month    146
Name: 7793, dtype: object
7794 1318 14 ORtg Last Month    94.1429
Name: 7794, dtype: object
7795 1471 14 ORtg Last Month    105.071
Name: 7795, dtype: object
7796 1651 14 ORtg Last Month    117.929
Name: 7796, dtype: object
7797 903 13 ORtg Last Month    69.4615
Name: 7797, dtype: object
7798 741 14 ORtg Last Month    52.9286
Name: 7798, dtype: object
7799 549 14 ORtg Last Month    39.2143
Name: 7799, dtype: object
7800 1724 14 ORtg Last Month    123.143
Name: 7800, dtype: object
7801 1354 15 ORtg Last Month    90.2667
Name: 7801, dtype: object
7802 1659 15 ORtg Last Month    110.6
Name: 7802, dtype: object
7803 461 15 ORtg Last Month    30.7333
Name: 7803, dtype: object
7804 1564 14 ORtg Last Month    111.714
Name: 7804, dtype: object
7805 1692 15 ORtg Last Month    112.8
Name: 7805, dtype: object
7806 1495 14 ORtg Last Month    106.786
Name: 7806, dtype: object
7807 1144 15 ORtg Last Month    76.2667
Name: 7807, dtype: object
7808 510 15 ORtg Last Month    34
Name: 7808, dtype: object
7809 1534 13 ORtg Last Month    118
Name: 7809, dtype: object
7810 1668 15 ORtg Last Month    111.2
Name: 7810, dtype: object
7811 647 10 ORtg Last Month    64.7
Name: 7811, dtype: object
7812 667 9 ORtg Last Month    74.1111
Name: 7812, dtype: object
7813 1580 15 ORtg Last Month    105.333
Name: 7813, dtype: object
7814 1542 15 ORtg Last Month    102.8
Name: 7814, dtype: object
7815 1836 15 ORtg Last Month    122.4
Name: 7815, dtype: object
7816 0 0 ORtg Last Month    0
Name: 7816, dtype: object
7817 1307 15 ORtg Last Month    87.1333
Name: 7817, dtype: object
7818 1235 12 ORtg Last Month    102.917
Name: 7818, dtype: object
7819 607 12 ORtg Last Month    50.5833
Name: 7819, dtype: object
7820 1222 15 ORtg Last Month    81.4667
Name: 7820, dtype: object
7821 124 5 ORtg Last Month    24.8
Name: 7821, dtype: object
7822 1409 14 ORtg Last Month    100.643
Name: 7822, dtype: object
7823 1984 15 ORtg Last Month    132.267
Name: 7823, dtype: object
7824 1776 14 ORtg Last Month    126.857
Name: 7824, dtype: object
7825 306 14 ORtg Last Month    21.8571
Name: 7825, dtype: object
7826 1303 14 ORtg Last Month    93.0714
Name: 7826, dtype: object
7827 1335 15 ORtg Last Month    89
Name: 7827, dtype: object
7828 884 14 ORtg Last Month    63.1429
Name: 7828, dtype: object
7829 1679 15 ORtg Last Month    111.933
Name: 7829, dtype: object
7830 1152 13 ORtg Last Month    88.6154
Name: 7830, dtype: object
7831 1114 15 ORtg Last Month    74.2667
Name: 7831, dtype: object
7832 1379 15 ORtg Last Month    91.9333
Name: 7832, dtype: object
7833 1577 15 ORtg Last Month    105.133
Name: 7833, dtype: object
7834 0 1 ORtg Last Month    0
Name: 7834, dtype: object
7835 1127 15 ORtg Last Month    75.1333
Name: 7835, dtype: object
7836 1529 15 ORtg Last Month    101.933
Name: 7836, dtype: object
7837 1459 14 ORtg Last Month    104.214
Name: 7837, dtype: object
7838 1376 14 ORtg Last Month    98.2857
Name: 7838, dtype: object
7839 330 7 ORtg Last Month    47.1429
Name: 7839, dtype: object
7840 1024 10 ORtg Last Month    102.4
Name: 7840, dtype: object
7841 1088 13 ORtg Last Month    83.6923
Name: 7841, dtype: object
7842 1601 14 ORtg Last Month    114.357
Name: 7842, dtype: object
7843 1301 13 ORtg Last Month    100.077
Name: 7843, dtype: object
7844 1637 14 ORtg Last Month    116.929
Name: 7844, dtype: object
7845 1514 14 ORtg Last Month    108.143
Name: 7845, dtype: object
7846 300 13 ORtg Last Month    23.0769
Name: 7846, dtype: object
7847 1337 12 ORtg Last Month    111.417
Name: 7847, dtype: object
7848 1488 12 ORtg Last Month    124
Name: 7848, dtype: object
7849 489 10 ORtg Last Month    48.9
Name: 7849, dtype: object
7850 404 11 ORtg Last Month    36.7273
Name: 7850, dtype: object
7851 265 9 ORtg Last Month    29.4444
Name: 7851, dtype: object
7852 1184 12 ORtg Last Month    98.6667
Name: 7852, dtype: object
7853 1181 10 ORtg Last Month    118.1
Name: 7853, dtype: object
7854 1332 12 ORtg Last Month    111
Name: 7854, dtype: object
7855 1276 12 ORtg Last Month    106.333
Name: 7855, dtype: object
7856 1157 12 ORtg Last Month    96.4167
Name: 7856, dtype: object
7857 823 11 ORtg Last Month    74.8182
Name: 7857, dtype: object
7858 290 3 ORtg Last Month    96.6667
Name: 7858, dtype: object
7859 1451 14 ORtg Last Month    103.643
Name: 7859, dtype: object
7860 1049 10 ORtg Last Month    104.9
Name: 7860, dtype: object
7861 966 12 ORtg Last Month    80.5
Name: 7861, dtype: object
7862 1477 14 ORtg Last Month    105.5
Name: 7862, dtype: object
7863 1670 14 ORtg Last Month    119.286
Name: 7863, dtype: object
7864 1477 14 ORtg Last Month    105.5
Name: 7864, dtype: object
7865 1660 13 ORtg Last Month    127.692
Name: 7865, dtype: object
7866 1645 14 ORtg Last Month    117.5
Name: 7866, dtype: object
7867 1727 14 ORtg Last Month    123.357
Name: 7867, dtype: object
7868 1736 14 ORtg Last Month    124
Name: 7868, dtype: object
7869 1606 14 ORtg Last Month    114.714
Name: 7869, dtype: object
7870 1372 13 ORtg Last Month    105.538
Name: 7870, dtype: object
7871 402 3 ORtg Last Month    134
Name: 7871, dtype: object
7872 787 14 ORtg Last Month    56.2143
Name: 7872, dtype: object
7873 1909 15 ORtg Last Month    127.267
Name: 7873, dtype: object
7874 1310 13 ORtg Last Month    100.769
Name: 7874, dtype: object
7875 936 11 ORtg Last Month    85.0909
Name: 7875, dtype: object
7876 1678 15 ORtg Last Month    111.867
Name: 7876, dtype: object
7877 1116 15 ORtg Last Month    74.4
Name: 7877, dtype: object
7878 1363 15 ORtg Last Month    90.8667
Name: 7878, dtype: object
7879 2131 15 ORtg Last Month    142.067
Name: 7879, dtype: object
7880 0 1 ORtg Last Month    0
Name: 7880, dtype: object
7881 462 15 ORtg Last Month    30.8
Name: 7881, dtype: object
7882 1392 14 ORtg Last Month    99.4286
Name: 7882, dtype: object
7883 1429 14 ORtg Last Month    102.071
Name: 7883, dtype: object
7884 741 14 ORtg Last Month    52.9286
Name: 7884, dtype: object
7885 83 6 ORtg Last Month    13.8333
Name: 7885, dtype: object
7886 1673 14 ORtg Last Month    119.5
Name: 7886, dtype: object
7887 1220 14 ORtg Last Month    87.1429
Name: 7887, dtype: object
7888 1314 14 ORtg Last Month    93.8571
Name: 7888, dtype: object
7889 1468 14 ORtg Last Month    104.857
Name: 7889, dtype: object
7890 1262 13 ORtg Last Month    97.0769
Name: 7890, dtype: object
7891 1752 14 ORtg Last Month    125.143
Name: 7891, dtype: object
7892 85 4 ORtg Last Month    21.25
Name: 7892, dtype: object
7893 667 14 ORtg Last Month    47.6429
Name: 7893, dtype: object
7894 1714 14 ORtg Last Month    122.429
Name: 7894, dtype: object
7895 1660 14 ORtg Last Month    118.571
Name: 7895, dtype: object
7896 1745 14 ORtg Last Month    124.643
Name: 7896, dtype: object
7897 1432 14 ORtg Last Month    102.286
Name: 7897, dtype: object
7898 1569 14 ORtg Last Month    112.071
Name: 7898, dtype: object
7899 802 13 ORtg Last Month    61.6923
Name: 7899, dtype: object
7900 804 14 ORtg Last Month    57.4286
Name: 7900, dtype: object
7901 1911 14 ORtg Last Month    136.5
Name: 7901, dtype: object
7902 1735 14 ORtg Last Month    123.929
Name: 7902, dtype: object
7903 1072 9 ORtg Last Month    119.111
Name: 7903, dtype: object
7904 1721 13 ORtg Last Month    132.385
Name: 7904, dtype: object

7905 1020 9 ORtg Last Month    113.333
Name: 7905, dtype: object
7906 1681 14 ORtg Last Month    120.071
Name: 7906, dtype: object
7907 718 13 ORtg Last Month    55.2308
Name: 7907, dtype: object
7908 1441 13 ORtg Last Month    110.846
Name: 7908, dtype: object
7909 1135 13 ORtg Last Month    87.3077
Name: 7909, dtype: object
7910 1350 13 ORtg Last Month    103.846
Name: 7910, dtype: object
7911 765 13 ORtg Last Month    58.8462
Name: 7911, dtype: object
7912 227 13 ORtg Last Month    17.4615
Name: 7912, dtype: object
7913 214 13 ORtg Last Month    16.4615
Name: 7913, dtype: object
7914 1501 14 ORtg Last Month    107.214
Name: 7914, dtype: object
7915 1803 14 ORtg Last Month    128.786
Name: 7915, dtype: object
7916 1276 14 ORtg Last Month    91.1429
Name: 7916, dtype: object
7917 1533 15 ORtg Last Month    102.2
Name: 7917, dtype: object
7918 1005 13 ORtg Last Month    77.3077
Name: 7918, dtype: object
7919 1320 15 ORtg Last Month    88
Name: 7919, dtype: object
7920 1666 15 ORtg Last Month    111.067
Name: 7920, dtype: object
7921 1658 15 ORtg Last Month    110.533
Name: 7921, dtype: object
7922 1812 15 ORtg Last Month    120.8
Name: 7922, dtype: object
7923 1862 15 ORtg Last Month    124.133
Name: 7923, dtype: object
7924 1127 15 ORtg Last Month    75.1333
Name: 7924, dtype: object
7925 1459 13 ORtg Last Month    112.231
Name: 7925, dtype: object
7926 1010 12 ORtg Last Month    84.1667
Name: 7926, dtype: object
7927 845 13 ORtg Last Month    65
Name: 7927, dtype: object
7928 1115 10 ORtg Last Month    111.5
Name: 7928, dtype: object
7929 1341 13 ORtg Last Month    103.154
Name: 7929, dtype: object
7930 1340 13 ORtg Last Month    103.077
Name: 7930, dtype: object
7931 1382 12 ORtg Last Month    115.167
Name: 7931, dtype: object
7932 1578 13 ORtg Last Month    121.385
Name: 7932, dtype: object
7933 111 4 ORtg Last Month    27.75
Name: 7933, dtype: object
7934 1204 13 ORtg Last Month    92.6154
Name: 7934, dtype: object
7935 1272 13 ORtg Last Month    97.8462
Name: 7935, dtype: object
7936 524 5 ORtg Last Month    104.8
Name: 7936, dtype: object
7937 1632 15 ORtg Last Month    108.8
Name: 7937, dtype: object
7938 1902 15 ORtg Last Month    126.8
Name: 7938, dtype: object
7939 373 15 ORtg Last Month    24.8667
Name: 7939, dtype: object
7940 350 14 ORtg Last Month    25
Name: 7940, dtype: object
7941 1709 15 ORtg Last Month    113.933
Name: 7941, dtype: object
7942 1249 11 ORtg Last Month    113.545
Name: 7942, dtype: object
7943 1770 15 ORtg Last Month    118
Name: 7943, dtype: object
7944 2144 15 ORtg Last Month    142.933
Name: 7944, dtype: object
7945 1175 12 ORtg Last Month    97.9167
Name: 7945, dtype: object
7946 963 9 ORtg Last Month    107
Name: 7946, dtype: object
7947 1683 14 ORtg Last Month    120.214
Name: 7947, dtype: object
7948 1779 15 ORtg Last Month    118.6
Name: 7948, dtype: object
7949 439 14 ORtg Last Month    31.3571
Name: 7949, dtype: object
7950 1583 15 ORtg Last Month    105.533
Name: 7950, dtype: object
7951 1683 15 ORtg Last Month    112.2
Name: 7951, dtype: object
7952 1545 15 ORtg Last Month    103
Name: 7952, dtype: object
7953 1208 15 ORtg Last Month    80.5333
Name: 7953, dtype: object
7954 1587 13 ORtg Last Month    122.077
Name: 7954, dtype: object
7955 1381 15 ORtg Last Month    92.0667
Name: 7955, dtype: object
7956 1503 15 ORtg Last Month    100.2
Name: 7956, dtype: object
7957 1034 14 ORtg Last Month    73.8571
Name: 7957, dtype: object
7958 646 15 ORtg Last Month    43.0667
Name: 7958, dtype: object
7959 845 15 ORtg Last Month    56.3333
Name: 7959, dtype: object
7960 1436 13 ORtg Last Month    110.462
Name: 7960, dtype: object
7961 1112 11 ORtg Last Month    101.091
Name: 7961, dtype: object
7962 289 9 ORtg Last Month    32.1111
Name: 7962, dtype: object
7963 1000 13 ORtg Last Month    76.9231
Name: 7963, dtype: object
7964 1619 13 ORtg Last Month    124.538
Name: 7964, dtype: object
7965 1557 13 ORtg Last Month    119.769
Name: 7965, dtype: object
7966 916 7 ORtg Last Month    130.857
Name: 7966, dtype: object
7967 1449 13 ORtg Last Month    111.462
Name: 7967, dtype: object
7968 1453 13 ORtg Last Month    111.769
Name: 7968, dtype: object
7969 945 12 ORtg Last Month    78.75
Name: 7969, dtype: object
7970 771 12 ORtg Last Month    64.25
Name: 7970, dtype: object
7971 433 9 ORtg Last Month    48.1111
Name: 7971, dtype: object
7972 1049 9 ORtg Last Month    116.556
Name: 7972, dtype: object
7973 736 12 ORtg Last Month    61.3333
Name: 7973, dtype: object
7974 1374 12 ORtg Last Month    114.5
Name: 7974, dtype: object
7975 1279 12 ORtg Last Month    106.583
Name: 7975, dtype: object
7976 250 12 ORtg Last Month    20.8333
Name: 7976, dtype: object
7977 1328 12 ORtg Last Month    110.667
Name: 7977, dtype: object
7978 1236 9 ORtg Last Month    137.333
Name: 7978, dtype: object
7979 731 12 ORtg Last Month    60.9167
Name: 7979, dtype: object
7980 523 7 ORtg Last Month    74.7143
Name: 7980, dtype: object
7981 1486 13 ORtg Last Month    114.308
Name: 7981, dtype: object
7982 1356 13 ORtg Last Month    104.308
Name: 7982, dtype: object
7983 583 12 ORtg Last Month    48.5833
Name: 7983, dtype: object
7984 700 13 ORtg Last Month    53.8462
Name: 7984, dtype: object
7985 1487 12 ORtg Last Month    123.917
Name: 7985, dtype: object
7986 1581 13 ORtg Last Month    121.615
Name: 7986, dtype: object
7987 1339 13 ORtg Last Month    103
Name: 7987, dtype: object
7988 793 12 ORtg Last Month    66.0833
Name: 7988, dtype: object
7989 1746 13 ORtg Last Month    134.308
Name: 7989, dtype: object
7990 1207 12 ORtg Last Month    100.583
Name: 7990, dtype: object
7991 756 12 ORtg Last Month    63
Name: 7991, dtype: object
7992 1245 14 ORtg Last Month    88.9286
Name: 7992, dtype: object
7993 1731 14 ORtg Last Month    123.643
Name: 7993, dtype: object
7994 1383 14 ORtg Last Month    98.7857
Name: 7994, dtype: object
7995 1581 14 ORtg Last Month    112.929
Name: 7995, dtype: object
7996 1376 14 ORtg Last Month    98.2857
Name: 7996, dtype: object
7997 327 11 ORtg Last Month    29.7273
Name: 7997, dtype: object
7998 1030 14 ORtg Last Month    73.5714
Name: 7998, dtype: object
7999 1520 14 ORtg Last Month    108.571
Name: 7999, dtype: object
8000 703 14 ORtg Last Month    50.2143
Name: 8000, dtype: object
8001 1595 14 ORtg Last Month    113.929
Name: 8001, dtype: object
8002 95 10 ORtg Last Month    9.5
Name: 8002, dtype: object
8003 1501 13 ORtg Last Month    115.462
Name: 8003, dtype: object
8004 301 13 ORtg Last Month    23.1538
Name: 8004, dtype: object
8005 1672 15 ORtg Last Month    111.467
Name: 8005, dtype: object
8006 1657 15 ORtg Last Month    110.467
Name: 8006, dtype: object
8007 1372 15 ORtg Last Month    91.4667
Name: 8007, dtype: object
8008 1578 15 ORtg Last Month    105.2
Name: 8008, dtype: object
8009 0 6 ORtg Last Month    0
Name: 8009, dtype: object
8010 668 7 ORtg Last Month    95.4286
Name: 8010, dtype: object
8011 1639 15 ORtg Last Month    109.267
Name: 8011, dtype: object
8012 1262 10 ORtg Last Month    126.2
Name: 8012, dtype: object
8013 0 9 ORtg Last Month    0
Name: 8013, dtype: object
8014 1346 15 ORtg Last Month    89.7333
Name: 8014, dtype: object
8015 1720 15 ORtg Last Month    114.667
Name: 8015, dtype: object
8016 1756 15 ORtg Last Month    117.067
Name: 8016, dtype: object
8017 544 15 ORtg Last Month    36.2667
Name: 8017, dtype: object
8018 722 7 ORtg Last Month    103.143
Name: 8018, dtype: object
8019 1497 14 ORtg Last Month    106.929
Name: 8019, dtype: object
8020 1327 14 ORtg Last Month    94.7857
Name: 8020, dtype: object
8021 1614 14 ORtg Last Month    115.286
Name: 8021, dtype: object
8022 581 6 ORtg Last Month    96.8333
Name: 8022, dtype: object
8023 1390 14 ORtg Last Month    99.2857
Name: 8023, dtype: object
8024 94 14 ORtg Last Month    6.71429
Name: 8024, dtype: object
8025 1375 13 ORtg Last Month    105.769
Name: 8025, dtype: object
8026 1333 14 ORtg Last Month    95.2143
Name: 8026, dtype: object
8027 1786 14 ORtg Last Month    127.571
Name: 8027, dtype: object
8028 1638 15 ORtg Last Month    109.2
Name: 8028, dtype: object
8029 752 15 ORtg Last Month    50.1333
Name: 8029, dtype: object
8030 924 15 ORtg Last Month    61.6
Name: 8030, dtype: object
8031 524 13 ORtg Last Month    40.3077
Name: 8031, dtype: object

8032 1596 13 ORtg Last Month    122.769
Name: 8032, dtype: object
8033 313 15 ORtg Last Month    20.8667
Name: 8033, dtype: object
8034 1422 15 ORtg Last Month    94.8
Name: 8034, dtype: object
8035 1519 15 ORtg Last Month    101.267
Name: 8035, dtype: object
8036 1640 15 ORtg Last Month    109.333
Name: 8036, dtype: object
8037 1701 14 ORtg Last Month    121.5
Name: 8037, dtype: object
8038 1759 15 ORtg Last Month    117.267
Name: 8038, dtype: object
8039 0 13 ORtg Last Month    0
Name: 8039, dtype: object
8040 1360 15 ORtg Last Month    90.6667
Name: 8040, dtype: object
8041 1770 15 ORtg Last Month    118
Name: 8041, dtype: object
8042 1008 14 ORtg Last Month    72
Name: 8042, dtype: object
8043 1931 15 ORtg Last Month    128.733
Name: 8043, dtype: object
8044 147 5 ORtg Last Month    29.4
Name: 8044, dtype: object
8045 69 6 ORtg Last Month    11.5
Name: 8045, dtype: object
8046 1742 15 ORtg Last Month    116.133
Name: 8046, dtype: object
8047 1499 13 ORtg Last Month    115.308
Name: 8047, dtype: object
8048 1235 14 ORtg Last Month    88.2143
Name: 8048, dtype: object
8049 1696 15 ORtg Last Month    113.067
Name: 8049, dtype: object
8050 1246 13 ORtg Last Month    95.8462
Name: 8050, dtype: object
8051 1350 15 ORtg Last Month    90
Name: 8051, dtype: object
8052 1189 15 ORtg Last Month    79.2667
Name: 8052, dtype: object
8053 65 14 ORtg Last Month    4.64286
Name: 8053, dtype: object
8054 1403 14 ORtg Last Month    100.214
Name: 8054, dtype: object
8055 497 4 ORtg Last Month    124.25
Name: 8055, dtype: object
8056 756 14 ORtg Last Month    54
Name: 8056, dtype: object
8057 1375 13 ORtg Last Month    105.769
Name: 8057, dtype: object
8058 1333 15 ORtg Last Month    88.8667
Name: 8058, dtype: object
8059 1415 15 ORtg Last Month    94.3333
Name: 8059, dtype: object
8060 1808 15 ORtg Last Month    120.533
Name: 8060, dtype: object
8061 1735 15 ORtg Last Month    115.667
Name: 8061, dtype: object
8062 36 15 ORtg Last Month    2.4
Name: 8062, dtype: object
8063 297 15 ORtg Last Month    19.8
Name: 8063, dtype: object
8064 1569 14 ORtg Last Month    112.071
Name: 8064, dtype: object
8065 892 10 ORtg Last Month    89.2
Name: 8065, dtype: object
8066 129 6 ORtg Last Month    21.5
Name: 8066, dtype: object
8067 241 14 ORtg Last Month    17.2143
Name: 8067, dtype: object
8068 1611 14 ORtg Last Month    115.071
Name: 8068, dtype: object
8069 302 5 ORtg Last Month    60.4
Name: 8069, dtype: object
8070 1305 14 ORtg Last Month    93.2143
Name: 8070, dtype: object
8071 1054 13 ORtg Last Month    81.0769
Name: 8071, dtype: object
8072 1665 14 ORtg Last Month    118.929
Name: 8072, dtype: object
8073 1927 14 ORtg Last Month    137.643
Name: 8073, dtype: object
8074 1482 14 ORtg Last Month    105.857
Name: 8074, dtype: object
8075 1757 15 ORtg Last Month    117.133
Name: 8075, dtype: object
8076 1255 13 ORtg Last Month    96.5385
Name: 8076, dtype: object
8077 1611 15 ORtg Last Month    107.4
Name: 8077, dtype: object
8078 1573 15 ORtg Last Month    104.867
Name: 8078, dtype: object
8079 1270 12 ORtg Last Month    105.833
Name: 8079, dtype: object
8080 1657 15 ORtg Last Month    110.467
Name: 8080, dtype: object
8081 831 15 ORtg Last Month    55.4
Name: 8081, dtype: object
8082 1506 15 ORtg Last Month    100.4
Name: 8082, dtype: object
8083 1460 15 ORtg Last Month    97.3333
Name: 8083, dtype: object
8084 1795 14 ORtg Last Month    128.214
Name: 8084, dtype: object
8085 1377 13 ORtg Last Month    105.923
Name: 8085, dtype: object
8086 660 15 ORtg Last Month    44
Name: 8086, dtype: object
8087 1554 16 ORtg Last Month    97.125
Name: 8087, dtype: object
8088 1123 12 ORtg Last Month    93.5833
Name: 8088, dtype: object
8089 501 7 ORtg Last Month    71.5714
Name: 8089, dtype: object
8090 1301 16 ORtg Last Month    81.3125
Name: 8090, dtype: object
8091 518 15 ORtg Last Month    34.5333
Name: 8091, dtype: object
8092 1564 16 ORtg Last Month    97.75
Name: 8092, dtype: object
8093 1619 16 ORtg Last Month    101.188
Name: 8093, dtype: object
8094 1512 16 ORtg Last Month    94.5
Name: 8094, dtype: object
8095 1098 10 ORtg Last Month    109.8
Name: 8095, dtype: object
8096 517 16 ORtg Last Month    32.3125
Name: 8096, dtype: object
8097 2080 16 ORtg Last Month    130
Name: 8097, dtype: object
8098 2120 16 ORtg Last Month    132.5
Name: 8098, dtype: object
8099 1088 16 ORtg Last Month    68
Name: 8099, dtype: object
8100 1578 13 ORtg Last Month    121.385
Name: 8100, dtype: object
8101 1310 14 ORtg Last Month    93.5714
Name: 8101, dtype: object
8102 1314 15 ORtg Last Month    87.6
Name: 8102, dtype: object
8103 1148 15 ORtg Last Month    76.5333
Name: 8103, dtype: object
8104 1433 15 ORtg Last Month    95.5333
Name: 8104, dtype: object
8105 467 7 ORtg Last Month    66.7143
Name: 8105, dtype: object
8106 1380 14 ORtg Last Month    98.5714
Name: 8106, dtype: object
8107 919 8 ORtg Last Month    114.875
Name: 8107, dtype: object
8108 1082 12 ORtg Last Month    90.1667
Name: 8108, dtype: object
8109 917 15 ORtg Last Month    61.1333
Name: 8109, dtype: object
8110 1327 14 ORtg Last Month    94.7857
Name: 8110, dtype: object
8111 1544 15 ORtg Last Month    102.933
Name: 8111, dtype: object
8112 1838 15 ORtg Last Month    122.533
Name: 8112, dtype: object
8113 1500 15 ORtg Last Month    100
Name: 8113, dtype: object
8114 1347 15 ORtg Last Month    89.8
Name: 8114, dtype: object
8115 700 12 ORtg Last Month    58.3333
Name: 8115, dtype: object
8116 1328 13 ORtg Last Month    102.154
Name: 8116, dtype: object
8117 1184 15 ORtg Last Month    78.9333
Name: 8117, dtype: object
8118 221 5 ORtg Last Month    44.2
Name: 8118, dtype: object
8119 1537 13 ORtg Last Month    118.231
Name: 8119, dtype: object
8120 1736 14 ORtg Last Month    124
Name: 8120, dtype: object
8121 1955 15 ORtg Last Month    130.333
Name: 8121, dtype: object
8122 1398 14 ORtg Last Month    99.8571
Name: 8122, dtype: object
8123 510 14 ORtg Last Month    36.4286
Name: 8123, dtype: object
8124 1440 14 ORtg Last Month    102.857
Name: 8124, dtype: object
8125 1364 14 ORtg Last Month    97.4286
Name: 8125, dtype: object
8126 353 7 ORtg Last Month    50.4286
Name: 8126, dtype: object
8127 1389 14 ORtg Last Month    99.2143
Name: 8127, dtype: object
8128 1082 13 ORtg Last Month    83.2308
Name: 8128, dtype: object
8129 1612 14 ORtg Last Month    115.143
Name: 8129, dtype: object
8130 1598 14 ORtg Last Month    114.143
Name: 8130, dtype: object
8131 1466 14 ORtg Last Month    104.714
Name: 8131, dtype: object
8132 300 13 ORtg Last Month    23.0769
Name: 8132, dtype: object
8133 1427 14 ORtg Last Month    101.929
Name: 8133, dtype: object
8134 1585 14 ORtg Last Month    113.214
Name: 8134, dtype: object
8135 1853 14 ORtg Last Month    132.357
Name: 8135, dtype: object
8136 1263 13 ORtg Last Month    97.1538
Name: 8136, dtype: object
8137 0 0 ORtg Last Month    0
Name: 8137, dtype: object
8138 1833 14 ORtg Last Month    130.929
Name: 8138, dtype: object
8139 580 14 ORtg Last Month    41.4286
Name: 8139, dtype: object
8140 1512 14 ORtg Last Month    108
Name: 8140, dtype: object
8141 306 14 ORtg Last Month    21.8571
Name: 8141, dtype: object
8142 1539 14 ORtg Last Month    109.929
Name: 8142, dtype: object
8143 1629 14 ORtg Last Month    116.357
Name: 8143, dtype: object
8144 1575 14 ORtg Last Month    112.5
Name: 8144, dtype: object
8145 553 11 ORtg Last Month    50.2727
Name: 8145, dtype: object
8146 1464 13 ORtg Last Month    112.615
Name: 8146, dtype: object
8147 404 12 ORtg Last Month    33.6667
Name: 8147, dtype: object
8148 1614 13 ORtg Last Month    124.154
Name: 8148, dtype: object
8149 1308 13 ORtg Last Month    100.615
Name: 8149, dtype: object
8150 0 0 ORtg Last Month    0
Name: 8150, dtype: object
8151 1284 11 ORtg Last Month    116.727
Name: 8151, dtype: object
8152 1389 13 ORtg Last Month    106.846
Name: 8152, dtype: object
8153 1422 13 ORtg Last Month    109.385
Name: 8153, dtype: object
8154 823 12 ORtg Last Month    68.5833
Name: 8154, dtype: object
8155 1280 13 ORtg Last Month    98.4615
Name: 8155, dtype: object
8156 1439 14 ORtg Last Month    102.786
Name: 8156, dtype: object
8157 271 3 ORtg Last Month    90.3333
Name: 8157, dtype: object
8158 1114 11 ORtg Last Month    101.273
Name: 8158, dtype: object

8159 1526 14 ORtg Last Month    109
Name: 8159, dtype: object
8160 1166 13 ORtg Last Month    89.6923
Name: 8160, dtype: object
8161 1670 14 ORtg Last Month    119.286
Name: 8161, dtype: object
8162 1646 14 ORtg Last Month    117.571
Name: 8162, dtype: object
8163 1582 14 ORtg Last Month    113
Name: 8163, dtype: object
8164 1669 13 ORtg Last Month    128.385
Name: 8164, dtype: object
8165 98 3 ORtg Last Month    32.6667
Name: 8165, dtype: object
8166 1715 14 ORtg Last Month    122.5
Name: 8166, dtype: object
8167 1725 15 ORtg Last Month    115
Name: 8167, dtype: object
8168 1351 13 ORtg Last Month    103.923
Name: 8168, dtype: object
8169 474 4 ORtg Last Month    118.5
Name: 8169, dtype: object
8170 984 14 ORtg Last Month    70.2857
Name: 8170, dtype: object
8171 1795 15 ORtg Last Month    119.667
Name: 8171, dtype: object
8172 1291 13 ORtg Last Month    99.3077
Name: 8172, dtype: object
8173 1746 15 ORtg Last Month    116.4
Name: 8173, dtype: object
8174 1000 11 ORtg Last Month    90.9091
Name: 8174, dtype: object
8175 1613 15 ORtg Last Month    107.533
Name: 8175, dtype: object
8176 1116 15 ORtg Last Month    74.4
Name: 8176, dtype: object
8177 2100 15 ORtg Last Month    140
Name: 8177, dtype: object
8178 128 2 ORtg Last Month    64
Name: 8178, dtype: object
8179 558 15 ORtg Last Month    37.2
Name: 8179, dtype: object
8180 560 7 ORtg Last Month    80
Name: 8180, dtype: object
8181 1494 13 ORtg Last Month    114.923
Name: 8181, dtype: object
8182 555 13 ORtg Last Month    42.6923
Name: 8182, dtype: object
8183 1380 13 ORtg Last Month    106.154
Name: 8183, dtype: object
8184 793 13 ORtg Last Month    61
Name: 8184, dtype: object
8185 441 12 ORtg Last Month    36.75
Name: 8185, dtype: object
8186 1474 13 ORtg Last Month    113.385
Name: 8186, dtype: object
8187 1480 12 ORtg Last Month    123.333
Name: 8187, dtype: object
8188 1278 13 ORtg Last Month    98.3077
Name: 8188, dtype: object
8189 1756 13 ORtg Last Month    135.077
Name: 8189, dtype: object
8190 1281 12 ORtg Last Month    106.75
Name: 8190, dtype: object
8191 652 12 ORtg Last Month    54.3333
Name: 8191, dtype: object
8192 1108 10 ORtg Last Month    110.8
Name: 8192, dtype: object
8193 1688 14 ORtg Last Month    120.571
Name: 8193, dtype: object
8194 1565 13 ORtg Last Month    120.385
Name: 8194, dtype: object
8195 617 13 ORtg Last Month    47.4615
Name: 8195, dtype: object
8196 1400 13 ORtg Last Month    107.692
Name: 8196, dtype: object
8197 1162 13 ORtg Last Month    89.3846
Name: 8197, dtype: object
8198 1380 13 ORtg Last Month    106.154
Name: 8198, dtype: object
8199 667 13 ORtg Last Month    51.3077
Name: 8199, dtype: object
8200 227 13 ORtg Last Month    17.4615
Name: 8200, dtype: object
8201 214 13 ORtg Last Month    16.4615
Name: 8201, dtype: object
8202 1531 14 ORtg Last Month    109.357
Name: 8202, dtype: object
8203 1764 14 ORtg Last Month    126
Name: 8203, dtype: object
8204 1379 14 ORtg Last Month    98.5
Name: 8204, dtype: object
8205 1762 16 ORtg Last Month    110.125
Name: 8205, dtype: object
8206 892 16 ORtg Last Month    55.75
Name: 8206, dtype: object
8207 1070 16 ORtg Last Month    66.875
Name: 8207, dtype: object
8208 524 14 ORtg Last Month    37.4286
Name: 8208, dtype: object
8209 1557 16 ORtg Last Month    97.3125
Name: 8209, dtype: object
8210 413 16 ORtg Last Month    25.8125
Name: 8210, dtype: object
8211 1640 16 ORtg Last Month    102.5
Name: 8211, dtype: object
8212 1589 16 ORtg Last Month    99.3125
Name: 8212, dtype: object
8213 1360 16 ORtg Last Month    85
Name: 8213, dtype: object
8214 1849 15 ORtg Last Month    123.267
Name: 8214, dtype: object
8215 1838 16 ORtg Last Month    114.875
Name: 8215, dtype: object
8216 200 14 ORtg Last Month    14.2857
Name: 8216, dtype: object
8217 1439 15 ORtg Last Month    95.9333
Name: 8217, dtype: object
8218 1533 15 ORtg Last Month    102.2
Name: 8218, dtype: object
8219 1620 15 ORtg Last Month    108
Name: 8219, dtype: object
8220 381 13 ORtg Last Month    29.3077
Name: 8220, dtype: object
8221 980 14 ORtg Last Month    70
Name: 8221, dtype: object
8222 1115 14 ORtg Last Month    79.6429
Name: 8222, dtype: object
8223 0 0 ORtg Last Month    0
Name: 8223, dtype: object
8224 1065 15 ORtg Last Month    71
Name: 8224, dtype: object
8225 0 1 ORtg Last Month    0
Name: 8225, dtype: object
8226 1793 15 ORtg Last Month    119.533
Name: 8226, dtype: object
8227 1745 15 ORtg Last Month    116.333
Name: 8227, dtype: object
8228 1812 15 ORtg Last Month    120.8
Name: 8228, dtype: object
8229 737 7 ORtg Last Month    105.286
Name: 8229, dtype: object
8230 1347 13 ORtg Last Month    103.615
Name: 8230, dtype: object
8231 1055 13 ORtg Last Month    81.1538
Name: 8231, dtype: object
8232 748 9 ORtg Last Month    83.1111
Name: 8232, dtype: object
8233 982 10 ORtg Last Month    98.2
Name: 8233, dtype: object
8234 1490 13 ORtg Last Month    114.615
Name: 8234, dtype: object
8235 1605 13 ORtg Last Month    123.462
Name: 8235, dtype: object
8236 642 7 ORtg Last Month    91.7143
Name: 8236, dtype: object
8237 700 11 ORtg Last Month    63.6364
Name: 8237, dtype: object
8238 540 13 ORtg Last Month    41.5385
Name: 8238, dtype: object
8239 1573 13 ORtg Last Month    121
Name: 8239, dtype: object
8240 1464 12 ORtg Last Month    122
Name: 8240, dtype: object
8241 1020 13 ORtg Last Month    78.4615
Name: 8241, dtype: object
8242 1587 15 ORtg Last Month    105.8
Name: 8242, dtype: object
8243 1717 15 ORtg Last Month    114.467
Name: 8243, dtype: object
8244 1630 15 ORtg Last Month    108.667
Name: 8244, dtype: object
8245 373 15 ORtg Last Month    24.8667
Name: 8245, dtype: object
8246 350 15 ORtg Last Month    23.3333
Name: 8246, dtype: object
8247 1271 11 ORtg Last Month    115.545
Name: 8247, dtype: object
8248 2098 15 ORtg Last Month    139.867
Name: 8248, dtype: object
8249 1848 15 ORtg Last Month    123.2
Name: 8249, dtype: object
8250 901 9 ORtg Last Month    100.111
Name: 8250, dtype: object
8251 1241 12 ORtg Last Month    103.417
Name: 8251, dtype: object
8252 1692 14 ORtg Last Month    120.857
Name: 8252, dtype: object
8253 1735 15 ORtg Last Month    115.667
Name: 8253, dtype: object
8254 439 14 ORtg Last Month    31.3571
Name: 8254, dtype: object
8255 1665 15 ORtg Last Month    111
Name: 8255, dtype: object
8256 1599 15 ORtg Last Month    106.6
Name: 8256, dtype: object
8257 1558 15 ORtg Last Month    103.867
Name: 8257, dtype: object
8258 1298 15 ORtg Last Month    86.5333
Name: 8258, dtype: object
8259 1374 15 ORtg Last Month    91.6
Name: 8259, dtype: object
8260 1583 13 ORtg Last Month    121.769
Name: 8260, dtype: object
8261 1695 14 ORtg Last Month    121.071
Name: 8261, dtype: object
8262 59 2 ORtg Last Month    29.5
Name: 8262, dtype: object
8263 1542 15 ORtg Last Month    102.8
Name: 8263, dtype: object
8264 1093 14 ORtg Last Month    78.0714
Name: 8264, dtype: object
8265 567 15 ORtg Last Month    37.8
Name: 8265, dtype: object
8266 717 15 ORtg Last Month    47.8
Name: 8266, dtype: object
8267 1263 13 ORtg Last Month    97.1538
Name: 8267, dtype: object
8268 1197 14 ORtg Last Month    85.5
Name: 8268, dtype: object
8269 998 12 ORtg Last Month    83.1667
Name: 8269, dtype: object
8270 1030 14 ORtg Last Month    73.5714
Name: 8270, dtype: object
8271 1529 14 ORtg Last Month    109.214
Name: 8271, dtype: object
8272 1138 14 ORtg Last Month    81.2857
Name: 8272, dtype: object
8273 73 2 ORtg Last Month    36.5
Name: 8273, dtype: object
8274 1402 14 ORtg Last Month    100.143
Name: 8274, dtype: object
8275 1341 14 ORtg Last Month    95.7857
Name: 8275, dtype: object
8276 1361 14 ORtg Last Month    97.2143
Name: 8276, dtype: object
8277 1010 14 ORtg Last Month    72.1429
Name: 8277, dtype: object
8278 1113 11 ORtg Last Month    101.182
Name: 8278, dtype: object
8279 1118 10 ORtg Last Month    111.8
Name: 8279, dtype: object
8280 736 12 ORtg Last Month    61.3333
Name: 8280, dtype: object
8281 1080 10 ORtg Last Month    108
Name: 8281, dtype: object
8282 1391 12 ORtg Last Month    115.917
Name: 8282, dtype: object
8283 1239 12 ORtg Last Month    103.25
Name: 8283, dtype: object
8284 250 12 ORtg Last Month    20.8333
Name: 8284, dtype: object
8285 1365 12 ORtg Last Month    113.75
Name: 8285, dtype: object
8286 1231 9 ORtg Last Month    136.778
Name: 8286, dtype: object

8287 777 12 ORtg Last Month    64.75
Name: 8287, dtype: object
8288 1274 13 ORtg Last Month    98
Name: 8288, dtype: object
8289 1378 13 ORtg Last Month    106
Name: 8289, dtype: object
8290 836 13 ORtg Last Month    64.3077
Name: 8290, dtype: object
8291 83 5 ORtg Last Month    16.6
Name: 8291, dtype: object
8292 1575 13 ORtg Last Month    121.154
Name: 8292, dtype: object
8293 1271 13 ORtg Last Month    97.7692
Name: 8293, dtype: object
8294 1092 13 ORtg Last Month    84
Name: 8294, dtype: object
8295 1452 13 ORtg Last Month    111.692
Name: 8295, dtype: object
8296 0 0 ORtg Last Month    0
Name: 8296, dtype: object
8297 1145 12 ORtg Last Month    95.4167
Name: 8297, dtype: object
8298 1549 13 ORtg Last Month    119.154
Name: 8298, dtype: object
8299 667 13 ORtg Last Month    51.3077
Name: 8299, dtype: object
8300 1279 14 ORtg Last Month    91.3571
Name: 8300, dtype: object
8301 730 7 ORtg Last Month    104.286
Name: 8301, dtype: object
8302 822 8 ORtg Last Month    102.75
Name: 8302, dtype: object
8303 1465 14 ORtg Last Month    104.643
Name: 8303, dtype: object
8304 1260 14 ORtg Last Month    90
Name: 8304, dtype: object
8305 1544 14 ORtg Last Month    110.286
Name: 8305, dtype: object
8306 667 7 ORtg Last Month    95.2857
Name: 8306, dtype: object
8307 532 11 ORtg Last Month    48.3636
Name: 8307, dtype: object
8308 94 14 ORtg Last Month    6.71429
Name: 8308, dtype: object
8309 1373 13 ORtg Last Month    105.615
Name: 8309, dtype: object
8310 1474 14 ORtg Last Month    105.286
Name: 8310, dtype: object
8311 1821 14 ORtg Last Month    130.071
Name: 8311, dtype: object
8312 1991 15 ORtg Last Month    132.733
Name: 8312, dtype: object
8313 1600 15 ORtg Last Month    106.667
Name: 8313, dtype: object
8314 429 15 ORtg Last Month    28.6
Name: 8314, dtype: object
8315 1451 13 ORtg Last Month    111.615
Name: 8315, dtype: object
8316 961 9 ORtg Last Month    106.778
Name: 8316, dtype: object
8317 1614 15 ORtg Last Month    107.6
Name: 8317, dtype: object
8318 1416 15 ORtg Last Month    94.4
Name: 8318, dtype: object
8319 1358 15 ORtg Last Month    90.5333
Name: 8319, dtype: object
8320 200 15 ORtg Last Month    13.3333
Name: 8320, dtype: object
8321 1770 15 ORtg Last Month    118
Name: 8321, dtype: object
8322 1618 15 ORtg Last Month    107.867
Name: 8322, dtype: object
8323 722 15 ORtg Last Month    48.1333
Name: 8323, dtype: object
8324 626 5 ORtg Last Month    125.2
Name: 8324, dtype: object
8325 195 15 ORtg Last Month    13
Name: 8325, dtype: object
8326 1281 15 ORtg Last Month    85.4
Name: 8326, dtype: object
8327 744 14 ORtg Last Month    53.1429
Name: 8327, dtype: object
8328 1370 13 ORtg Last Month    105.385
Name: 8328, dtype: object
8329 1469 15 ORtg Last Month    97.9333
Name: 8329, dtype: object
8330 1297 15 ORtg Last Month    86.4667
Name: 8330, dtype: object
8331 202 15 ORtg Last Month    13.4667
Name: 8331, dtype: object
8332 1848 15 ORtg Last Month    123.2
Name: 8332, dtype: object
8333 1686 15 ORtg Last Month    112.4
Name: 8333, dtype: object
8334 215 15 ORtg Last Month    14.3333
Name: 8334, dtype: object
8335 1583 14 ORtg Last Month    113.071
Name: 8335, dtype: object
8336 951 10 ORtg Last Month    95.1
Name: 8336, dtype: object
8337 241 14 ORtg Last Month    17.2143
Name: 8337, dtype: object
8338 1704 14 ORtg Last Month    121.714
Name: 8338, dtype: object
8339 1203 13 ORtg Last Month    92.5385
Name: 8339, dtype: object
8340 1298 14 ORtg Last Month    92.7143
Name: 8340, dtype: object
8341 415 6 ORtg Last Month    69.1667
Name: 8341, dtype: object
8342 1479 14 ORtg Last Month    105.643
Name: 8342, dtype: object
8343 890 13 ORtg Last Month    68.4615
Name: 8343, dtype: object
8344 544 13 ORtg Last Month    41.8462
Name: 8344, dtype: object
8345 1698 14 ORtg Last Month    121.286
Name: 8345, dtype: object
8346 2044 14 ORtg Last Month    146
Name: 8346, dtype: object
8347 1370 13 ORtg Last Month    105.385
Name: 8347, dtype: object
8348 1153 13 ORtg Last Month    88.6923
Name: 8348, dtype: object
8349 801 13 ORtg Last Month    61.6154
Name: 8349, dtype: object
8350 1322 13 ORtg Last Month    101.692
Name: 8350, dtype: object
8351 1246 11 ORtg Last Month    113.273
Name: 8351, dtype: object
8352 1320 13 ORtg Last Month    101.538
Name: 8352, dtype: object
8353 1087 13 ORtg Last Month    83.6154
Name: 8353, dtype: object
8354 1559 13 ORtg Last Month    119.923
Name: 8354, dtype: object
8355 1390 12 ORtg Last Month    115.833
Name: 8355, dtype: object
8356 30 4 ORtg Last Month    7.5
Name: 8356, dtype: object
8357 1278 13 ORtg Last Month    98.3077
Name: 8357, dtype: object
8358 431 5 ORtg Last Month    86.2
Name: 8358, dtype: object
8359 1392 14 ORtg Last Month    99.4286
Name: 8359, dtype: object
8360 1767 15 ORtg Last Month    117.8
Name: 8360, dtype: object
8361 1669 15 ORtg Last Month    111.267
Name: 8361, dtype: object
8362 1588 15 ORtg Last Month    105.867
Name: 8362, dtype: object
8363 660 15 ORtg Last Month    44
Name: 8363, dtype: object
8364 1726 15 ORtg Last Month    115.067
Name: 8364, dtype: object
8365 1387 15 ORtg Last Month    92.4667
Name: 8365, dtype: object
8366 831 15 ORtg Last Month    55.4
Name: 8366, dtype: object
8367 1386 12 ORtg Last Month    115.5
Name: 8367, dtype: object
8368 2003 14 ORtg Last Month    143.071
Name: 8368, dtype: object
8369 1473 15 ORtg Last Month    98.2
Name: 8369, dtype: object
8370 1365 13 ORtg Last Month    105
Name: 8370, dtype: object
8371 1496 15 ORtg Last Month    99.7333
Name: 8371, dtype: object
8372 1123 12 ORtg Last Month    93.5833
Name: 8372, dtype: object
8373 707 8 ORtg Last Month    88.375
Name: 8373, dtype: object
8374 1148 15 ORtg Last Month    76.5333
Name: 8374, dtype: object
8375 1535 15 ORtg Last Month    102.333
Name: 8375, dtype: object
8376 1450 15 ORtg Last Month    96.6667
Name: 8376, dtype: object
8377 1008 10 ORtg Last Month    100.8
Name: 8377, dtype: object
8378 517 15 ORtg Last Month    34.4667
Name: 8378, dtype: object
8379 1403 15 ORtg Last Month    93.5333
Name: 8379, dtype: object
8380 643 11 ORtg Last Month    58.4545
Name: 8380, dtype: object
8381 1985 15 ORtg Last Month    132.333
Name: 8381, dtype: object
8382 2007 15 ORtg Last Month    133.8
Name: 8382, dtype: object
8383 888 15 ORtg Last Month    59.2
Name: 8383, dtype: object
8384 1058 15 ORtg Last Month    70.5333
Name: 8384, dtype: object
8385 1267 15 ORtg Last Month    84.4667
Name: 8385, dtype: object
8386 1302 14 ORtg Last Month    93
Name: 8386, dtype: object
8387 379 9 ORtg Last Month    42.1111
Name: 8387, dtype: object
8388 1538 13 ORtg Last Month    118.308
Name: 8388, dtype: object
8389 1400 15 ORtg Last Month    93.3333
Name: 8389, dtype: object
8390 590 8 ORtg Last Month    73.75
Name: 8390, dtype: object
8391 1273 14 ORtg Last Month    90.9286
Name: 8391, dtype: object
8392 1059 9 ORtg Last Month    117.667
Name: 8392, dtype: object
8393 1063 12 ORtg Last Month    88.5833
Name: 8393, dtype: object
8394 1066 15 ORtg Last Month    71.0667
Name: 8394, dtype: object
8395 1189 14 ORtg Last Month    84.9286
Name: 8395, dtype: object
8396 1542 15 ORtg Last Month    102.8
Name: 8396, dtype: object
8397 1840 15 ORtg Last Month    122.667
Name: 8397, dtype: object
8398 1523 15 ORtg Last Month    101.533
Name: 8398, dtype: object
8399 1378 13 ORtg Last Month    106
Name: 8399, dtype: object
8400 1383 15 ORtg Last Month    92.2
Name: 8400, dtype: object
8401 1381 14 ORtg Last Month    98.6429
Name: 8401, dtype: object
8402 1200 15 ORtg Last Month    80
Name: 8402, dtype: object
8403 604 12 ORtg Last Month    50.3333
Name: 8403, dtype: object
8404 1679 14 ORtg Last Month    119.929
Name: 8404, dtype: object
8405 1321 14 ORtg Last Month    94.3571
Name: 8405, dtype: object
8406 1932 15 ORtg Last Month    128.8
Name: 8406, dtype: object
8407 436 14 ORtg Last Month    31.1429
Name: 8407, dtype: object
8408 1388 13 ORtg Last Month    106.769
Name: 8408, dtype: object
8409 963 13 ORtg Last Month    74.0769
Name: 8409, dtype: object
8410 1127 11 ORtg Last Month    102.455
Name: 8410, dtype: object
8411 397 10 ORtg Last Month    39.7
Name: 8411, dtype: object
8412 971 12 ORtg Last Month    80.9167
Name: 8412, dtype: object
8413 1368 13 ORtg Last Month    105.231
Name: 8413, dtype: object

8414 1534 13 ORtg Last Month    118
Name: 8414, dtype: object
8415 879 7 ORtg Last Month    125.571
Name: 8415, dtype: object
8416 1593 13 ORtg Last Month    122.538
Name: 8416, dtype: object
8417 1404 12 ORtg Last Month    117
Name: 8417, dtype: object
8418 913 12 ORtg Last Month    76.0833
Name: 8418, dtype: object
8419 192 9 ORtg Last Month    21.3333
Name: 8419, dtype: object
8420 1402 14 ORtg Last Month    100.143
Name: 8420, dtype: object
8421 1450 14 ORtg Last Month    103.571
Name: 8421, dtype: object
8422 1497 15 ORtg Last Month    99.8
Name: 8422, dtype: object
8423 385 7 ORtg Last Month    55
Name: 8423, dtype: object
8424 1082 13 ORtg Last Month    83.2308
Name: 8424, dtype: object
8425 1624 14 ORtg Last Month    116
Name: 8425, dtype: object
8426 0 0 ORtg Last Month    0
Name: 8426, dtype: object
8427 0 0 ORtg Last Month    0
Name: 8427, dtype: object
8428 1659 14 ORtg Last Month    118.5
Name: 8428, dtype: object
8429 1557 14 ORtg Last Month    111.214
Name: 8429, dtype: object
8430 300 13 ORtg Last Month    23.0769
Name: 8430, dtype: object
8431 736 13 ORtg Last Month    56.6154
Name: 8431, dtype: object
8432 1232 12 ORtg Last Month    102.667
Name: 8432, dtype: object
8433 1259 11 ORtg Last Month    114.455
Name: 8433, dtype: object
8434 1407 13 ORtg Last Month    108.231
Name: 8434, dtype: object
8435 1467 13 ORtg Last Month    112.846
Name: 8435, dtype: object
8436 250 13 ORtg Last Month    19.2308
Name: 8436, dtype: object
8437 1204 11 ORtg Last Month    109.455
Name: 8437, dtype: object
8438 1328 10 ORtg Last Month    132.8
Name: 8438, dtype: object
8439 1504 13 ORtg Last Month    115.692
Name: 8439, dtype: object
8440 1409 14 ORtg Last Month    100.643
Name: 8440, dtype: object
8441 1807 14 ORtg Last Month    129.071
Name: 8441, dtype: object
8442 1642 14 ORtg Last Month    117.286
Name: 8442, dtype: object
8443 380 12 ORtg Last Month    31.6667
Name: 8443, dtype: object
8444 0 1 ORtg Last Month    0
Name: 8444, dtype: object
8445 1801 14 ORtg Last Month    128.643
Name: 8445, dtype: object
8446 1492 14 ORtg Last Month    106.571
Name: 8446, dtype: object
8447 655 14 ORtg Last Month    46.7857
Name: 8447, dtype: object
8448 306 14 ORtg Last Month    21.8571
Name: 8448, dtype: object
8449 1589 14 ORtg Last Month    113.5
Name: 8449, dtype: object
8450 1540 14 ORtg Last Month    110
Name: 8450, dtype: object
8451 1610 14 ORtg Last Month    115
Name: 8451, dtype: object
8452 1468 13 ORtg Last Month    112.923
Name: 8452, dtype: object
8453 656 11 ORtg Last Month    59.6364
Name: 8453, dtype: object
8454 265 10 ORtg Last Month    26.5
Name: 8454, dtype: object
8455 1508 13 ORtg Last Month    116
Name: 8455, dtype: object
8456 384 12 ORtg Last Month    32
Name: 8456, dtype: object
8457 1365 13 ORtg Last Month    105
Name: 8457, dtype: object
8458 0 1 ORtg Last Month    0
Name: 8458, dtype: object
8459 1381 13 ORtg Last Month    106.231
Name: 8459, dtype: object
8460 1422 13 ORtg Last Month    109.385
Name: 8460, dtype: object
8461 1198 13 ORtg Last Month    92.1538
Name: 8461, dtype: object
8462 854 12 ORtg Last Month    71.1667
Name: 8462, dtype: object
8463 399 4 ORtg Last Month    99.75
Name: 8463, dtype: object
8464 1553 15 ORtg Last Month    103.533
Name: 8464, dtype: object
8465 1590 15 ORtg Last Month    106
Name: 8465, dtype: object
8466 1230 12 ORtg Last Month    102.5
Name: 8466, dtype: object
8467 1807 15 ORtg Last Month    120.467
Name: 8467, dtype: object
8468 1892 15 ORtg Last Month    126.133
Name: 8468, dtype: object
8469 663 6 ORtg Last Month    110.5
Name: 8469, dtype: object
8470 1669 15 ORtg Last Month    111.267
Name: 8470, dtype: object
8471 1810 14 ORtg Last Month    129.286
Name: 8471, dtype: object
8472 165 4 ORtg Last Month    41.25
Name: 8472, dtype: object
8473 1865 15 ORtg Last Month    124.333
Name: 8473, dtype: object
8474 1509 14 ORtg Last Month    107.786
Name: 8474, dtype: object
8475 663 8 ORtg Last Month    82.875
Name: 8475, dtype: object
8476 1669 14 ORtg Last Month    119.214
Name: 8476, dtype: object
8477 678 14 ORtg Last Month    48.4286
Name: 8477, dtype: object
8478 441 13 ORtg Last Month    33.9231
Name: 8478, dtype: object
8479 793 14 ORtg Last Month    56.6429
Name: 8479, dtype: object
8480 1640 13 ORtg Last Month    126.154
Name: 8480, dtype: object
8481 1598 14 ORtg Last Month    114.143
Name: 8481, dtype: object
8482 1486 14 ORtg Last Month    106.143
Name: 8482, dtype: object
8483 652 13 ORtg Last Month    50.1538
Name: 8483, dtype: object
8484 1859 14 ORtg Last Month    132.786
Name: 8484, dtype: object
8485 1399 13 ORtg Last Month    107.615
Name: 8485, dtype: object
8486 1115 13 ORtg Last Month    85.7692
Name: 8486, dtype: object
8487 1531 13 ORtg Last Month    117.769
Name: 8487, dtype: object
8488 632 13 ORtg Last Month    48.6154
Name: 8488, dtype: object
8489 1466 13 ORtg Last Month    112.769
Name: 8489, dtype: object
8490 1324 13 ORtg Last Month    101.846
Name: 8490, dtype: object
8491 1498 13 ORtg Last Month    115.231
Name: 8491, dtype: object
8492 1303 13 ORtg Last Month    100.231
Name: 8492, dtype: object
8493 1018 13 ORtg Last Month    78.3077
Name: 8493, dtype: object
8494 475 12 ORtg Last Month    39.5833
Name: 8494, dtype: object
8495 1595 13 ORtg Last Month    122.692
Name: 8495, dtype: object
8496 1513 13 ORtg Last Month    116.385
Name: 8496, dtype: object
8497 157 10 ORtg Last Month    15.7
Name: 8497, dtype: object
8498 52 12 ORtg Last Month    4.33333
Name: 8498, dtype: object
8499 1563 14 ORtg Last Month    111.643
Name: 8499, dtype: object
8500 1645 14 ORtg Last Month    117.5
Name: 8500, dtype: object
8501 1074 14 ORtg Last Month    76.7143
Name: 8501, dtype: object
8502 1385 14 ORtg Last Month    98.9286
Name: 8502, dtype: object
8503 0 4 ORtg Last Month    0
Name: 8503, dtype: object
8504 1080 14 ORtg Last Month    77.1429
Name: 8504, dtype: object
8505 761 8 ORtg Last Month    95.125
Name: 8505, dtype: object
8506 1563 14 ORtg Last Month    111.643
Name: 8506, dtype: object
8507 963 9 ORtg Last Month    107
Name: 8507, dtype: object
8508 1523 14 ORtg Last Month    108.786
Name: 8508, dtype: object
8509 570 14 ORtg Last Month    40.7143
Name: 8509, dtype: object
8510 1648 14 ORtg Last Month    117.714
Name: 8510, dtype: object
8511 0 0 ORtg Last Month    0
Name: 8511, dtype: object
8512 1580 13 ORtg Last Month    121.538
Name: 8512, dtype: object
8513 1641 13 ORtg Last Month    126.231
Name: 8513, dtype: object
8514 831 12 ORtg Last Month    69.25
Name: 8514, dtype: object
8515 918 11 ORtg Last Month    83.4545
Name: 8515, dtype: object
8516 977 8 ORtg Last Month    122.125
Name: 8516, dtype: object
8517 300 8 ORtg Last Month    37.5
Name: 8517, dtype: object
8518 1583 13 ORtg Last Month    121.769
Name: 8518, dtype: object
8519 1522 13 ORtg Last Month    117.077
Name: 8519, dtype: object
8520 0 0 ORtg Last Month    0
Name: 8520, dtype: object
8521 1703 13 ORtg Last Month    131
Name: 8521, dtype: object
8522 1403 13 ORtg Last Month    107.923
Name: 8522, dtype: object
8523 758 13 ORtg Last Month    58.3077
Name: 8523, dtype: object
8524 190 6 ORtg Last Month    31.6667
Name: 8524, dtype: object
8525 1240 11 ORtg Last Month    112.727
Name: 8525, dtype: object
8526 1624 13 ORtg Last Month    124.923
Name: 8526, dtype: object
8527 1706 14 ORtg Last Month    121.857
Name: 8527, dtype: object
8528 538 13 ORtg Last Month    41.3846
Name: 8528, dtype: object
8529 1185 13 ORtg Last Month    91.1538
Name: 8529, dtype: object
8530 1394 12 ORtg Last Month    116.167
Name: 8530, dtype: object
8531 1297 12 ORtg Last Month    108.083
Name: 8531, dtype: object
8532 144 13 ORtg Last Month    11.0769
Name: 8532, dtype: object
8533 591 13 ORtg Last Month    45.4615
Name: 8533, dtype: object
8534 164 13 ORtg Last Month    12.6154
Name: 8534, dtype: object
8535 1497 14 ORtg Last Month    106.929
Name: 8535, dtype: object
8536 1822 14 ORtg Last Month    130.143
Name: 8536, dtype: object
8537 1374 14 ORtg Last Month    98.1429
Name: 8537, dtype: object
8538 1786 16 ORtg Last Month    111.625
Name: 8538, dtype: object
8539 940 16 ORtg Last Month    58.75
Name: 8539, dtype: object
8540 1012 16 ORtg Last Month    63.25
Name: 8540, dtype: object
8541 1607 16 ORtg Last Month    100.438
Name: 8541, dtype: object

8542 1360 16 ORtg Last Month    85
Name: 8542, dtype: object
8543 1663 16 ORtg Last Month    103.938
Name: 8543, dtype: object
8544 556 16 ORtg Last Month    34.75
Name: 8544, dtype: object
8545 1578 16 ORtg Last Month    98.625
Name: 8545, dtype: object
8546 1881 15 ORtg Last Month    125.4
Name: 8546, dtype: object
8547 1906 16 ORtg Last Month    119.125
Name: 8547, dtype: object
8548 200 14 ORtg Last Month    14.2857
Name: 8548, dtype: object
8549 826 8 ORtg Last Month    103.25
Name: 8549, dtype: object
8550 1431 14 ORtg Last Month    102.214
Name: 8550, dtype: object
8551 982 11 ORtg Last Month    89.2727
Name: 8551, dtype: object
8552 822 10 ORtg Last Month    82.2
Name: 8552, dtype: object
8553 1151 14 ORtg Last Month    82.2143
Name: 8553, dtype: object
8554 1592 14 ORtg Last Month    113.714
Name: 8554, dtype: object
8555 1766 14 ORtg Last Month    126.143
Name: 8555, dtype: object
8556 800 8 ORtg Last Month    100
Name: 8556, dtype: object
8557 761 12 ORtg Last Month    63.4167
Name: 8557, dtype: object
8558 540 14 ORtg Last Month    38.5714
Name: 8558, dtype: object
8559 1752 14 ORtg Last Month    125.143
Name: 8559, dtype: object
8560 1604 13 ORtg Last Month    123.385
Name: 8560, dtype: object
8561 1098 14 ORtg Last Month    78.4286
Name: 8561, dtype: object
8562 1935 15 ORtg Last Month    129
Name: 8562, dtype: object
8563 1521 15 ORtg Last Month    101.4
Name: 8563, dtype: object
8564 429 15 ORtg Last Month    28.6
Name: 8564, dtype: object
8565 1403 15 ORtg Last Month    93.5333
Name: 8565, dtype: object
8566 1455 13 ORtg Last Month    111.923
Name: 8566, dtype: object
8567 1603 15 ORtg Last Month    106.867
Name: 8567, dtype: object
8568 1154 10 ORtg Last Month    115.4
Name: 8568, dtype: object
8569 1389 15 ORtg Last Month    92.6
Name: 8569, dtype: object
8570 200 15 ORtg Last Month    13.3333
Name: 8570, dtype: object
8571 1775 15 ORtg Last Month    118.333
Name: 8571, dtype: object
8572 1546 15 ORtg Last Month    103.067
Name: 8572, dtype: object
8573 603 15 ORtg Last Month    40.2
Name: 8573, dtype: object
8574 1663 14 ORtg Last Month    118.786
Name: 8574, dtype: object
8575 1011 14 ORtg Last Month    72.2143
Name: 8575, dtype: object
8576 1729 14 ORtg Last Month    123.5
Name: 8576, dtype: object
8577 1281 14 ORtg Last Month    91.5
Name: 8577, dtype: object
8578 1493 13 ORtg Last Month    114.846
Name: 8578, dtype: object
8579 1652 14 ORtg Last Month    118
Name: 8579, dtype: object
8580 1273 13 ORtg Last Month    97.9231
Name: 8580, dtype: object
8581 99 5 ORtg Last Month    19.8
Name: 8581, dtype: object
8582 1551 14 ORtg Last Month    110.786
Name: 8582, dtype: object
8583 1299 12 ORtg Last Month    108.25
Name: 8583, dtype: object
8584 1170 14 ORtg Last Month    83.5714
Name: 8584, dtype: object
8585 1744 15 ORtg Last Month    116.267
Name: 8585, dtype: object
8586 1473 15 ORtg Last Month    98.2
Name: 8586, dtype: object
8587 1648 15 ORtg Last Month    109.867
Name: 8587, dtype: object
8588 1580 15 ORtg Last Month    105.333
Name: 8588, dtype: object
8589 1398 12 ORtg Last Month    116.5
Name: 8589, dtype: object
8590 1742 15 ORtg Last Month    116.133
Name: 8590, dtype: object
8591 1349 15 ORtg Last Month    89.9333
Name: 8591, dtype: object
8592 537 15 ORtg Last Month    35.8
Name: 8592, dtype: object
8593 754 15 ORtg Last Month    50.2667
Name: 8593, dtype: object
8594 1503 15 ORtg Last Month    100.2
Name: 8594, dtype: object
8595 1918 14 ORtg Last Month    137
Name: 8595, dtype: object
8596 1412 13 ORtg Last Month    108.615
Name: 8596, dtype: object
8597 1547 15 ORtg Last Month    103.133
Name: 8597, dtype: object
8598 1643 15 ORtg Last Month    109.533
Name: 8598, dtype: object
8599 1685 15 ORtg Last Month    112.333
Name: 8599, dtype: object
8600 373 15 ORtg Last Month    24.8667
Name: 8600, dtype: object
8601 1384 12 ORtg Last Month    115.333
Name: 8601, dtype: object
8602 2098 15 ORtg Last Month    139.867
Name: 8602, dtype: object
8603 1788 15 ORtg Last Month    119.2
Name: 8603, dtype: object
8604 1232 12 ORtg Last Month    102.667
Name: 8604, dtype: object
8605 968 9 ORtg Last Month    107.556
Name: 8605, dtype: object
8606 1698 15 ORtg Last Month    113.2
Name: 8606, dtype: object
8607 1638 14 ORtg Last Month    117
Name: 8607, dtype: object
8608 439 14 ORtg Last Month    31.3571
Name: 8608, dtype: object
8609 1661 15 ORtg Last Month    110.733
Name: 8609, dtype: object
8610 1555 15 ORtg Last Month    103.667
Name: 8610, dtype: object
8611 1203 15 ORtg Last Month    80.2
Name: 8611, dtype: object
8612 1735 14 ORtg Last Month    123.929
Name: 8612, dtype: object
8613 1438 15 ORtg Last Month    95.8667
Name: 8613, dtype: object
8614 59 3 ORtg Last Month    19.6667
Name: 8614, dtype: object
8615 1240 14 ORtg Last Month    88.5714
Name: 8615, dtype: object
8616 1535 15 ORtg Last Month    102.333
Name: 8616, dtype: object
8617 626 15 ORtg Last Month    41.7333
Name: 8617, dtype: object
8618 637 15 ORtg Last Month    42.4667
Name: 8618, dtype: object
8619 1434 12 ORtg Last Month    119.5
Name: 8619, dtype: object
8620 1235 13 ORtg Last Month    95
Name: 8620, dtype: object
8621 1558 13 ORtg Last Month    119.846
Name: 8621, dtype: object
8622 461 13 ORtg Last Month    35.4615
Name: 8622, dtype: object
8623 1475 13 ORtg Last Month    113.462
Name: 8623, dtype: object
8624 926 10 ORtg Last Month    92.6
Name: 8624, dtype: object
8625 1392 12 ORtg Last Month    116
Name: 8625, dtype: object
8626 1293 12 ORtg Last Month    107.75
Name: 8626, dtype: object
8627 1039 13 ORtg Last Month    79.9231
Name: 8627, dtype: object
8628 1271 11 ORtg Last Month    115.545
Name: 8628, dtype: object
8629 718 11 ORtg Last Month    65.2727
Name: 8629, dtype: object
8630 510 13 ORtg Last Month    39.2308
Name: 8630, dtype: object
8631 1334 13 ORtg Last Month    102.615
Name: 8631, dtype: object
8632 1621 14 ORtg Last Month    115.786
Name: 8632, dtype: object
8633 984 13 ORtg Last Month    75.6923
Name: 8633, dtype: object
8634 1254 12 ORtg Last Month    104.5
Name: 8634, dtype: object
8635 582 5 ORtg Last Month    116.4
Name: 8635, dtype: object
8636 968 10 ORtg Last Month    96.8
Name: 8636, dtype: object
8637 1363 13 ORtg Last Month    104.846
Name: 8637, dtype: object
8638 1577 14 ORtg Last Month    112.643
Name: 8638, dtype: object
8639 1416 14 ORtg Last Month    101.143
Name: 8639, dtype: object
8640 1635 14 ORtg Last Month    116.786
Name: 8640, dtype: object
8641 2017 14 ORtg Last Month    144.071
Name: 8641, dtype: object
8642 181 3 ORtg Last Month    60.3333
Name: 8642, dtype: object
8643 558 14 ORtg Last Month    39.8571
Name: 8643, dtype: object
8644 1449 14 ORtg Last Month    103.5
Name: 8644, dtype: object
8645 1484 14 ORtg Last Month    106
Name: 8645, dtype: object
8646 381 12 ORtg Last Month    31.75
Name: 8646, dtype: object
8647 893 13 ORtg Last Month    68.6923
Name: 8647, dtype: object
8648 1132 14 ORtg Last Month    80.8571
Name: 8648, dtype: object
8649 1347 14 ORtg Last Month    96.2143
Name: 8649, dtype: object
8650 157 1 ORtg Last Month    157
Name: 8650, dtype: object
8651 966 14 ORtg Last Month    69
Name: 8651, dtype: object
8652 1672 14 ORtg Last Month    119.429
Name: 8652, dtype: object
8653 1657 14 ORtg Last Month    118.357
Name: 8653, dtype: object
8654 1757 14 ORtg Last Month    125.5
Name: 8654, dtype: object
8655 0 1 ORtg Last Month    0
Name: 8655, dtype: object
8656 787 5 ORtg Last Month    157.4
Name: 8656, dtype: object
8657 728 14 ORtg Last Month    52
Name: 8657, dtype: object
8658 325 15 ORtg Last Month    21.6667
Name: 8658, dtype: object
8659 1263 15 ORtg Last Month    84.2
Name: 8659, dtype: object
8660 1288 15 ORtg Last Month    85.8667
Name: 8660, dtype: object
8661 1380 15 ORtg Last Month    92
Name: 8661, dtype: object
8662 1344 13 ORtg Last Month    103.385
Name: 8662, dtype: object
8663 1720 15 ORtg Last Month    114.667
Name: 8663, dtype: object
8664 1838 15 ORtg Last Month    122.533
Name: 8664, dtype: object
8665 378 15 ORtg Last Month    25.2
Name: 8665, dtype: object
8666 145 15 ORtg Last Month    9.66667
Name: 8666, dtype: object
8667 1580 14 ORtg Last Month    112.857
Name: 8667, dtype: object
8668 212 14 ORtg Last Month    15.1429
Name: 8668, dtype: object
8669 870 10 ORtg Last Month    87
Name: 8669, dtype: object

8670 779 13 ORtg Last Month    59.9231
Name: 8670, dtype: object
8671 1225 13 ORtg Last Month    94.2308
Name: 8671, dtype: object
8672 1731 14 ORtg Last Month    123.643
Name: 8672, dtype: object
8673 1292 14 ORtg Last Month    92.2857
Name: 8673, dtype: object
8674 519 7 ORtg Last Month    74.1429
Name: 8674, dtype: object
8675 1638 14 ORtg Last Month    117
Name: 8675, dtype: object
8676 1455 14 ORtg Last Month    103.929
Name: 8676, dtype: object
8677 1951 14 ORtg Last Month    139.357
Name: 8677, dtype: object
8678 506 13 ORtg Last Month    38.9231
Name: 8678, dtype: object
8679 1499 15 ORtg Last Month    99.9333
Name: 8679, dtype: object
8680 1209 15 ORtg Last Month    80.6
Name: 8680, dtype: object
8681 1257 13 ORtg Last Month    96.6923
Name: 8681, dtype: object
8682 869 9 ORtg Last Month    96.5556
Name: 8682, dtype: object
8683 312 13 ORtg Last Month    24
Name: 8683, dtype: object
8684 1604 15 ORtg Last Month    106.933
Name: 8684, dtype: object
8685 1468 15 ORtg Last Month    97.8667
Name: 8685, dtype: object
8686 1463 15 ORtg Last Month    97.5333
Name: 8686, dtype: object
8687 516 15 ORtg Last Month    34.4
Name: 8687, dtype: object
8688 1069 10 ORtg Last Month    106.9
Name: 8688, dtype: object
8689 1979 15 ORtg Last Month    131.933
Name: 8689, dtype: object
8690 902 15 ORtg Last Month    60.1333
Name: 8690, dtype: object
8691 2036 15 ORtg Last Month    135.733
Name: 8691, dtype: object
8692 1521 15 ORtg Last Month    101.4
Name: 8692, dtype: object
8693 1778 15 ORtg Last Month    118.533
Name: 8693, dtype: object
8694 1409 15 ORtg Last Month    93.9333
Name: 8694, dtype: object
8695 1480 15 ORtg Last Month    98.6667
Name: 8695, dtype: object
8696 1413 13 ORtg Last Month    108.692
Name: 8696, dtype: object
8697 1415 15 ORtg Last Month    94.3333
Name: 8697, dtype: object
8698 604 12 ORtg Last Month    50.3333
Name: 8698, dtype: object
8699 1212 15 ORtg Last Month    80.8
Name: 8699, dtype: object
8700 1651 14 ORtg Last Month    117.929
Name: 8700, dtype: object
8701 1409 14 ORtg Last Month    100.643
Name: 8701, dtype: object
8702 1960 15 ORtg Last Month    130.667
Name: 8702, dtype: object
8703 436 14 ORtg Last Month    31.1429
Name: 8703, dtype: object
8704 1246 13 ORtg Last Month    95.8462
Name: 8704, dtype: object
8705 1238 14 ORtg Last Month    88.4286
Name: 8705, dtype: object
8706 1415 14 ORtg Last Month    101.071
Name: 8706, dtype: object
8707 1103 14 ORtg Last Month    78.7857
Name: 8707, dtype: object
8708 1029 14 ORtg Last Month    73.5
Name: 8708, dtype: object
8709 156 3 ORtg Last Month    52
Name: 8709, dtype: object
8710 1451 14 ORtg Last Month    103.643
Name: 8710, dtype: object
8711 1333 14 ORtg Last Month    95.2143
Name: 8711, dtype: object
8712 972 12 ORtg Last Month    81
Name: 8712, dtype: object
8713 1274 14 ORtg Last Month    91
Name: 8713, dtype: object
8714 897 14 ORtg Last Month    64.0714
Name: 8714, dtype: object
8715 1376 13 ORtg Last Month    105.846
Name: 8715, dtype: object
8716 1091 11 ORtg Last Month    99.1818
Name: 8716, dtype: object
8717 967 13 ORtg Last Month    74.3846
Name: 8717, dtype: object
8718 397 11 ORtg Last Month    36.0909
Name: 8718, dtype: object
8719 1330 12 ORtg Last Month    110.833
Name: 8719, dtype: object
8720 1588 13 ORtg Last Month    122.154
Name: 8720, dtype: object
8721 1388 13 ORtg Last Month    106.769
Name: 8721, dtype: object
8722 1548 13 ORtg Last Month    119.077
Name: 8722, dtype: object
8723 899 7 ORtg Last Month    128.429
Name: 8723, dtype: object
8724 1201 12 ORtg Last Month    100.083
Name: 8724, dtype: object
8725 1036 12 ORtg Last Month    86.3333
Name: 8725, dtype: object
8726 1463 12 ORtg Last Month    121.917
Name: 8726, dtype: object
8727 1412 15 ORtg Last Month    94.1333
Name: 8727, dtype: object
8728 1438 14 ORtg Last Month    102.714
Name: 8728, dtype: object
8729 1459 14 ORtg Last Month    104.214
Name: 8729, dtype: object
8730 1141 13 ORtg Last Month    87.7692
Name: 8730, dtype: object
8731 1584 14 ORtg Last Month    113.143
Name: 8731, dtype: object
8732 0 1 ORtg Last Month    0
Name: 8732, dtype: object
8733 0 1 ORtg Last Month    0
Name: 8733, dtype: object
8734 1704 14 ORtg Last Month    121.714
Name: 8734, dtype: object
8735 1684 14 ORtg Last Month    120.286
Name: 8735, dtype: object
8736 401 13 ORtg Last Month    30.8462
Name: 8736, dtype: object
8737 591 11 ORtg Last Month    53.7273
Name: 8737, dtype: object
8738 1392 14 ORtg Last Month    99.4286
Name: 8738, dtype: object
8739 1695 14 ORtg Last Month    121.071
Name: 8739, dtype: object
8740 1785 14 ORtg Last Month    127.5
Name: 8740, dtype: object
8741 0 2 ORtg Last Month    0
Name: 8741, dtype: object
8742 1809 14 ORtg Last Month    129.214
Name: 8742, dtype: object
8743 1474 14 ORtg Last Month    105.286
Name: 8743, dtype: object
8744 789 14 ORtg Last Month    56.3571
Name: 8744, dtype: object
8745 380 12 ORtg Last Month    31.6667
Name: 8745, dtype: object
8746 306 14 ORtg Last Month    21.8571
Name: 8746, dtype: object
8747 1577 14 ORtg Last Month    112.643
Name: 8747, dtype: object
8748 1542 14 ORtg Last Month    110.143
Name: 8748, dtype: object
8749 1685 14 ORtg Last Month    120.357
Name: 8749, dtype: object
8750 1459 13 ORtg Last Month    112.231
Name: 8750, dtype: object
8751 1498 13 ORtg Last Month    115.231
Name: 8751, dtype: object
8752 756 11 ORtg Last Month    68.7273
Name: 8752, dtype: object
8753 378 12 ORtg Last Month    31.5
Name: 8753, dtype: object
8754 356 10 ORtg Last Month    35.6
Name: 8754, dtype: object
8755 38 2 ORtg Last Month    19
Name: 8755, dtype: object
8756 1390 13 ORtg Last Month    106.923
Name: 8756, dtype: object
8757 1375 13 ORtg Last Month    105.769
Name: 8757, dtype: object
8758 1390 13 ORtg Last Month    106.923
Name: 8758, dtype: object
8759 1356 13 ORtg Last Month    104.308
Name: 8759, dtype: object
8760 783 12 ORtg Last Month    65.25
Name: 8760, dtype: object
8761 0 0 ORtg Last Month    0
Name: 8761, dtype: object
8762 1531 15 ORtg Last Month    102.067
Name: 8762, dtype: object
8763 459 4 ORtg Last Month    114.75
Name: 8763, dtype: object
8764 1348 13 ORtg Last Month    103.692
Name: 8764, dtype: object
8765 1601 15 ORtg Last Month    106.733
Name: 8765, dtype: object
8766 1908 15 ORtg Last Month    127.2
Name: 8766, dtype: object
8767 1765 15 ORtg Last Month    117.667
Name: 8767, dtype: object
8768 1985 15 ORtg Last Month    132.333
Name: 8768, dtype: object
8769 641 6 ORtg Last Month    106.833
Name: 8769, dtype: object
8770 165 5 ORtg Last Month    33
Name: 8770, dtype: object
8771 1889 15 ORtg Last Month    125.933
Name: 8771, dtype: object
8772 1688 15 ORtg Last Month    112.533
Name: 8772, dtype: object
8773 938 13 ORtg Last Month    72.1538
Name: 8773, dtype: object
8774 1429 13 ORtg Last Month    109.923
Name: 8774, dtype: object
8775 1353 13 ORtg Last Month    104.077
Name: 8775, dtype: object
8776 83 5 ORtg Last Month    16.6
Name: 8776, dtype: object
8777 1561 13 ORtg Last Month    120.077
Name: 8777, dtype: object
8778 1254 13 ORtg Last Month    96.4615
Name: 8778, dtype: object
8779 1070 13 ORtg Last Month    82.3077
Name: 8779, dtype: object
8780 1432 13 ORtg Last Month    110.154
Name: 8780, dtype: object
8781 0 1 ORtg Last Month    0
Name: 8781, dtype: object
8782 667 13 ORtg Last Month    51.3077
Name: 8782, dtype: object
8783 1181 12 ORtg Last Month    98.4167
Name: 8783, dtype: object
8784 1243 14 ORtg Last Month    88.7857
Name: 8784, dtype: object
8785 1623 14 ORtg Last Month    115.929
Name: 8785, dtype: object
8786 1603 14 ORtg Last Month    114.5
Name: 8786, dtype: object
8787 1432 14 ORtg Last Month    102.286
Name: 8787, dtype: object
8788 1642 14 ORtg Last Month    117.286
Name: 8788, dtype: object
8789 682 14 ORtg Last Month    48.7143
Name: 8789, dtype: object
8790 541 13 ORtg Last Month    41.6154
Name: 8790, dtype: object
8791 1082 14 ORtg Last Month    77.2857
Name: 8791, dtype: object
8792 1601 14 ORtg Last Month    114.357
Name: 8792, dtype: object
8793 1841 14 ORtg Last Month    131.5
Name: 8793, dtype: object
8794 0 0 ORtg Last Month    0
Name: 8794, dtype: object
8795 157 11 ORtg Last Month    14.2727
Name: 8795, dtype: object
8796 52 13 ORtg Last Month    4
Name: 8796, dtype: object

8797 1660 14 ORtg Last Month    118.571
Name: 8797, dtype: object
8798 1588 14 ORtg Last Month    113.429
Name: 8798, dtype: object
8799 1321 14 ORtg Last Month    94.3571
Name: 8799, dtype: object
8800 1095 14 ORtg Last Month    78.2143
Name: 8800, dtype: object
8801 895 9 ORtg Last Month    99.4444
Name: 8801, dtype: object
8802 1478 14 ORtg Last Month    105.571
Name: 8802, dtype: object
8803 1067 10 ORtg Last Month    106.7
Name: 8803, dtype: object
8804 0 10 ORtg Last Month    0
Name: 8804, dtype: object
8805 999 14 ORtg Last Month    71.3571
Name: 8805, dtype: object
8806 1535 14 ORtg Last Month    109.643
Name: 8806, dtype: object
8807 82 1 ORtg Last Month    82
Name: 8807, dtype: object
8808 1610 14 ORtg Last Month    115
Name: 8808, dtype: object
8809 1320 14 ORtg Last Month    94.2857
Name: 8809, dtype: object
8810 330 5 ORtg Last Month    66
Name: 8810, dtype: object
8811 834 8 ORtg Last Month    104.25
Name: 8811, dtype: object
8812 725 7 ORtg Last Month    103.571
Name: 8812, dtype: object
8813 1500 14 ORtg Last Month    107.143
Name: 8813, dtype: object
8814 1272 14 ORtg Last Month    90.8571
Name: 8814, dtype: object
8815 767 8 ORtg Last Month    95.875
Name: 8815, dtype: object
8816 461 11 ORtg Last Month    41.9091
Name: 8816, dtype: object
8817 94 14 ORtg Last Month    6.71429
Name: 8817, dtype: object
8818 1731 14 ORtg Last Month    123.643
Name: 8818, dtype: object
8819 1477 14 ORtg Last Month    105.5
Name: 8819, dtype: object
8820 1670 13 ORtg Last Month    128.462
Name: 8820, dtype: object
8821 1633 13 ORtg Last Month    125.615
Name: 8821, dtype: object
8822 0 0 ORtg Last Month    0
Name: 8822, dtype: object
8823 943 8 ORtg Last Month    117.875
Name: 8823, dtype: object
8824 1574 13 ORtg Last Month    121.077
Name: 8824, dtype: object
8825 1347 12 ORtg Last Month    112.25
Name: 8825, dtype: object
8826 1501 13 ORtg Last Month    115.462
Name: 8826, dtype: object
8827 1482 13 ORtg Last Month    114
Name: 8827, dtype: object
8828 994 12 ORtg Last Month    82.8333
Name: 8828, dtype: object
8829 1371 13 ORtg Last Month    105.462
Name: 8829, dtype: object
8830 876 10 ORtg Last Month    87.6
Name: 8830, dtype: object
8831 862 13 ORtg Last Month    66.3077
Name: 8831, dtype: object
8832 148 1 ORtg Last Month    148
Name: 8832, dtype: object
8833 1806 16 ORtg Last Month    112.875
Name: 8833, dtype: object
8834 1024 16 ORtg Last Month    64
Name: 8834, dtype: object
8835 1024 11 ORtg Last Month    93.0909
Name: 8835, dtype: object
8836 1014 16 ORtg Last Month    63.375
Name: 8836, dtype: object
8837 635 16 ORtg Last Month    39.6875
Name: 8837, dtype: object
8838 1626 16 ORtg Last Month    101.625
Name: 8838, dtype: object
8839 1688 16 ORtg Last Month    105.5
Name: 8839, dtype: object
8840 1446 12 ORtg Last Month    120.5
Name: 8840, dtype: object
8841 1619 16 ORtg Last Month    101.188
Name: 8841, dtype: object
8842 1920 15 ORtg Last Month    128
Name: 8842, dtype: object
8843 1838 16 ORtg Last Month    114.875
Name: 8843, dtype: object
8844 1285 16 ORtg Last Month    80.3125
Name: 8844, dtype: object
8845 359 14 ORtg Last Month    25.6429
Name: 8845, dtype: object
8846 860 8 ORtg Last Month    107.5
Name: 8846, dtype: object
8847 1434 14 ORtg Last Month    102.429
Name: 8847, dtype: object
8848 822 11 ORtg Last Month    74.7273
Name: 8848, dtype: object
8849 1083 14 ORtg Last Month    77.3571
Name: 8849, dtype: object
8850 1605 14 ORtg Last Month    114.643
Name: 8850, dtype: object
8851 1749 14 ORtg Last Month    124.929
Name: 8851, dtype: object
8852 762 8 ORtg Last Month    95.25
Name: 8852, dtype: object
8853 650 12 ORtg Last Month    54.1667
Name: 8853, dtype: object
8854 946 11 ORtg Last Month    86
Name: 8854, dtype: object
8855 540 14 ORtg Last Month    38.5714
Name: 8855, dtype: object
8856 1730 14 ORtg Last Month    123.571
Name: 8856, dtype: object
8857 1592 13 ORtg Last Month    122.462
Name: 8857, dtype: object
8858 931 14 ORtg Last Month    66.5
Name: 8858, dtype: object
8859 1488 15 ORtg Last Month    99.2
Name: 8859, dtype: object
8860 2003 15 ORtg Last Month    133.533
Name: 8860, dtype: object
8861 429 15 ORtg Last Month    28.6
Name: 8861, dtype: object
8862 1414 13 ORtg Last Month    108.769
Name: 8862, dtype: object
8863 1243 11 ORtg Last Month    113
Name: 8863, dtype: object
8864 1651 15 ORtg Last Month    110.067
Name: 8864, dtype: object
8865 1448 15 ORtg Last Month    96.5333
Name: 8865, dtype: object
8866 1318 15 ORtg Last Month    87.8667
Name: 8866, dtype: object
8867 1802 15 ORtg Last Month    120.133
Name: 8867, dtype: object
8868 1587 15 ORtg Last Month    105.8
Name: 8868, dtype: object
8869 200 15 ORtg Last Month    13.3333
Name: 8869, dtype: object
8870 550 15 ORtg Last Month    36.6667
Name: 8870, dtype: object
8871 1755 15 ORtg Last Month    117
Name: 8871, dtype: object
8872 1075 15 ORtg Last Month    71.6667
Name: 8872, dtype: object
8873 1818 15 ORtg Last Month    121.2
Name: 8873, dtype: object
8874 1504 13 ORtg Last Month    115.692
Name: 8874, dtype: object
8875 1372 14 ORtg Last Month    98
Name: 8875, dtype: object
8876 1776 15 ORtg Last Month    118.4
Name: 8876, dtype: object
8877 1281 15 ORtg Last Month    85.4
Name: 8877, dtype: object
8878 99 6 ORtg Last Month    16.5
Name: 8878, dtype: object
8879 1430 13 ORtg Last Month    110
Name: 8879, dtype: object
8880 1170 15 ORtg Last Month    78
Name: 8880, dtype: object
8881 0 0 ORtg Last Month    0
Name: 8881, dtype: object
8882 460 15 ORtg Last Month    30.6667
Name: 8882, dtype: object
8883 855 6 ORtg Last Month    142.5
Name: 8883, dtype: object
8884 743 14 ORtg Last Month    53.0714
Name: 8884, dtype: object
8885 1307 15 ORtg Last Month    87.1333
Name: 8885, dtype: object
8886 1290 13 ORtg Last Month    99.2308
Name: 8886, dtype: object
8887 1412 15 ORtg Last Month    94.1333
Name: 8887, dtype: object
8888 1287 15 ORtg Last Month    85.8
Name: 8888, dtype: object
8889 0 0 ORtg Last Month    0
Name: 8889, dtype: object
8890 1722 15 ORtg Last Month    114.8
Name: 8890, dtype: object
8891 1828 15 ORtg Last Month    121.867
Name: 8891, dtype: object
8892 479 15 ORtg Last Month    31.9333
Name: 8892, dtype: object
8893 117 15 ORtg Last Month    7.8
Name: 8893, dtype: object
8894 1391 13 ORtg Last Month    107
Name: 8894, dtype: object
8895 760 13 ORtg Last Month    58.4615
Name: 8895, dtype: object
8896 1351 13 ORtg Last Month    103.923
Name: 8896, dtype: object
8897 1378 12 ORtg Last Month    114.833
Name: 8897, dtype: object
8898 1359 13 ORtg Last Month    104.538
Name: 8898, dtype: object
8899 1440 12 ORtg Last Month    120
Name: 8899, dtype: object
8900 1558 13 ORtg Last Month    119.846
Name: 8900, dtype: object
8901 1149 13 ORtg Last Month    88.3846
Name: 8901, dtype: object
8902 1318 13 ORtg Last Month    101.385
Name: 8902, dtype: object
8903 1169 11 ORtg Last Month    106.273
Name: 8903, dtype: object
8904 400 5 ORtg Last Month    80
Name: 8904, dtype: object
8905 1076 13 ORtg Last Month    82.7692
Name: 8905, dtype: object
8906 1832 16 ORtg Last Month    114.5
Name: 8906, dtype: object
8907 1676 16 ORtg Last Month    104.75
Name: 8907, dtype: object
8908 1544 16 ORtg Last Month    96.5
Name: 8908, dtype: object
8909 1690 16 ORtg Last Month    105.625
Name: 8909, dtype: object
8910 1523 13 ORtg Last Month    117.154
Name: 8910, dtype: object
8911 1897 16 ORtg Last Month    118.562
Name: 8911, dtype: object
8912 1435 16 ORtg Last Month    89.6875
Name: 8912, dtype: object
8913 754 16 ORtg Last Month    47.125
Name: 8913, dtype: object
8914 2081 15 ORtg Last Month    138.733
Name: 8914, dtype: object
8915 1626 16 ORtg Last Month    101.625
Name: 8915, dtype: object
8916 1593 14 ORtg Last Month    113.786
Name: 8916, dtype: object
8917 537 16 ORtg Last Month    33.5625
Name: 8917, dtype: object
8918 1474 15 ORtg Last Month    98.2667
Name: 8918, dtype: object
8919 1599 15 ORtg Last Month    106.6
Name: 8919, dtype: object
8920 1630 15 ORtg Last Month    108.667
Name: 8920, dtype: object
8921 373 15 ORtg Last Month    24.8667
Name: 8921, dtype: object
8922 1513 13 ORtg Last Month    116.385
Name: 8922, dtype: object
8923 2101 15 ORtg Last Month    140.067
Name: 8923, dtype: object
8924 1719 15 ORtg Last Month    114.6
Name: 8924, dtype: object

8925 897 9 ORtg Last Month    99.6667
Name: 8925, dtype: object
8926 1199 12 ORtg Last Month    99.9167
Name: 8926, dtype: object
8927 350 14 ORtg Last Month    25
Name: 8927, dtype: object
8928 1766 15 ORtg Last Month    117.733
Name: 8928, dtype: object
8929 1610 14 ORtg Last Month    115
Name: 8929, dtype: object
8930 415 14 ORtg Last Month    29.6429
Name: 8930, dtype: object
8931 1031 14 ORtg Last Month    73.6429
Name: 8931, dtype: object
8932 1161 14 ORtg Last Month    82.9286
Name: 8932, dtype: object
8933 455 8 ORtg Last Month    56.875
Name: 8933, dtype: object
8934 0 0 ORtg Last Month    0
Name: 8934, dtype: object
8935 1324 14 ORtg Last Month    94.5714
Name: 8935, dtype: object
8936 1308 14 ORtg Last Month    93.4286
Name: 8936, dtype: object
8937 590 9 ORtg Last Month    65.5556
Name: 8937, dtype: object
8938 1184 10 ORtg Last Month    118.4
Name: 8938, dtype: object
8939 1020 11 ORtg Last Month    92.7273
Name: 8939, dtype: object
8940 1029 13 ORtg Last Month    79.1538
Name: 8940, dtype: object
8941 1369 14 ORtg Last Month    97.7857
Name: 8941, dtype: object
8942 1568 13 ORtg Last Month    120.615
Name: 8942, dtype: object
8943 1660 14 ORtg Last Month    118.571
Name: 8943, dtype: object
8944 761 14 ORtg Last Month    54.3571
Name: 8944, dtype: object
8945 1059 11 ORtg Last Month    96.2727
Name: 8945, dtype: object
8946 1379 13 ORtg Last Month    106.077
Name: 8946, dtype: object
8947 1613 14 ORtg Last Month    115.214
Name: 8947, dtype: object
8948 1039 14 ORtg Last Month    74.2143
Name: 8948, dtype: object
8949 1529 13 ORtg Last Month    117.615
Name: 8949, dtype: object
8950 839 12 ORtg Last Month    69.9167
Name: 8950, dtype: object
8951 637 14 ORtg Last Month    45.5
Name: 8951, dtype: object
8952 1883 16 ORtg Last Month    117.688
Name: 8952, dtype: object
8953 1628 16 ORtg Last Month    101.75
Name: 8953, dtype: object
8954 1409 16 ORtg Last Month    88.0625
Name: 8954, dtype: object
8955 1516 16 ORtg Last Month    94.75
Name: 8955, dtype: object
8956 1489 14 ORtg Last Month    106.357
Name: 8956, dtype: object
8957 1579 16 ORtg Last Month    98.6875
Name: 8957, dtype: object
8958 1491 16 ORtg Last Month    93.1875
Name: 8958, dtype: object
8959 697 13 ORtg Last Month    53.6154
Name: 8959, dtype: object
8960 1508 15 ORtg Last Month    100.533
Name: 8960, dtype: object
8961 1765 15 ORtg Last Month    117.667
Name: 8961, dtype: object
8962 2006 16 ORtg Last Month    125.375
Name: 8962, dtype: object
8963 436 15 ORtg Last Month    29.0667
Name: 8963, dtype: object
8964 1169 14 ORtg Last Month    83.5
Name: 8964, dtype: object
8965 1299 14 ORtg Last Month    92.7857
Name: 8965, dtype: object
8966 1253 13 ORtg Last Month    96.3846
Name: 8966, dtype: object
8967 1378 14 ORtg Last Month    98.4286
Name: 8967, dtype: object
8968 975 14 ORtg Last Month    69.6429
Name: 8968, dtype: object
8969 1332 14 ORtg Last Month    95.1429
Name: 8969, dtype: object
8970 299 4 ORtg Last Month    74.75
Name: 8970, dtype: object
8971 1016 12 ORtg Last Month    84.6667
Name: 8971, dtype: object
8972 1490 14 ORtg Last Month    106.429
Name: 8972, dtype: object
8973 675 14 ORtg Last Month    48.2143
Name: 8973, dtype: object
8974 1298 14 ORtg Last Month    92.7143
Name: 8974, dtype: object
8975 1473 14 ORtg Last Month    105.214
Name: 8975, dtype: object
8976 1403 15 ORtg Last Month    93.5333
Name: 8976, dtype: object
8977 1475 14 ORtg Last Month    105.357
Name: 8977, dtype: object
8978 95 2 ORtg Last Month    47.5
Name: 8978, dtype: object
8979 1225 13 ORtg Last Month    94.2308
Name: 8979, dtype: object
8980 51 2 ORtg Last Month    25.5
Name: 8980, dtype: object
8981 1683 14 ORtg Last Month    120.214
Name: 8981, dtype: object
8982 1771 14 ORtg Last Month    126.5
Name: 8982, dtype: object
8983 701 14 ORtg Last Month    50.0714
Name: 8983, dtype: object
8984 607 11 ORtg Last Month    55.1818
Name: 8984, dtype: object
8985 1318 12 ORtg Last Month    109.833
Name: 8985, dtype: object
8986 1102 11 ORtg Last Month    100.182
Name: 8986, dtype: object
8987 1349 12 ORtg Last Month    112.417
Name: 8987, dtype: object
8988 744 12 ORtg Last Month    62
Name: 8988, dtype: object
8989 1361 12 ORtg Last Month    113.417
Name: 8989, dtype: object
8990 1161 9 ORtg Last Month    129
Name: 8990, dtype: object
8991 1311 12 ORtg Last Month    109.25
Name: 8991, dtype: object
8992 1806 14 ORtg Last Month    129
Name: 8992, dtype: object
8993 1821 14 ORtg Last Month    130.071
Name: 8993, dtype: object
8994 1420 14 ORtg Last Month    101.429
Name: 8994, dtype: object
8995 0 3 ORtg Last Month    0
Name: 8995, dtype: object
8996 1833 14 ORtg Last Month    130.929
Name: 8996, dtype: object
8997 1378 14 ORtg Last Month    98.4286
Name: 8997, dtype: object
8998 711 14 ORtg Last Month    50.7857
Name: 8998, dtype: object
8999 380 12 ORtg Last Month    31.6667
Name: 8999, dtype: object
9000 306 14 ORtg Last Month    21.8571
Name: 9000, dtype: object
9001 1601 14 ORtg Last Month    114.357
Name: 9001, dtype: object
9002 1686 14 ORtg Last Month    120.429
Name: 9002, dtype: object
9003 104 4 ORtg Last Month    26
Name: 9003, dtype: object
9004 1691 15 ORtg Last Month    112.733
Name: 9004, dtype: object
9005 1337 13 ORtg Last Month    102.846
Name: 9005, dtype: object
9006 2107 15 ORtg Last Month    140.467
Name: 9006, dtype: object
9007 1656 15 ORtg Last Month    110.4
Name: 9007, dtype: object
9008 1461 14 ORtg Last Month    104.357
Name: 9008, dtype: object
9009 1635 15 ORtg Last Month    109
Name: 9009, dtype: object
9010 335 4 ORtg Last Month    83.75
Name: 9010, dtype: object
9011 1055 11 ORtg Last Month    95.9091
Name: 9011, dtype: object
9012 663 6 ORtg Last Month    110.5
Name: 9012, dtype: object
9013 1413 13 ORtg Last Month    108.692
Name: 9013, dtype: object
9014 1451 13 ORtg Last Month    111.615
Name: 9014, dtype: object
9015 1048 13 ORtg Last Month    80.6154
Name: 9015, dtype: object
9016 110 6 ORtg Last Month    18.3333
Name: 9016, dtype: object
9017 1328 13 ORtg Last Month    102.154
Name: 9017, dtype: object
9018 1095 13 ORtg Last Month    84.2308
Name: 9018, dtype: object
9019 1579 13 ORtg Last Month    121.462
Name: 9019, dtype: object
9020 1526 13 ORtg Last Month    117.385
Name: 9020, dtype: object
9021 0 2 ORtg Last Month    0
Name: 9021, dtype: object
9022 1204 12 ORtg Last Month    100.333
Name: 9022, dtype: object
9023 1360 12 ORtg Last Month    113.333
Name: 9023, dtype: object
9024 765 13 ORtg Last Month    58.8462
Name: 9024, dtype: object
9025 1609 14 ORtg Last Month    114.929
Name: 9025, dtype: object
9026 1518 14 ORtg Last Month    108.429
Name: 9026, dtype: object
9027 725 9 ORtg Last Month    80.5556
Name: 9027, dtype: object
9028 678 14 ORtg Last Month    48.4286
Name: 9028, dtype: object
9029 281 13 ORtg Last Month    21.6154
Name: 9029, dtype: object
9030 1519 14 ORtg Last Month    108.5
Name: 9030, dtype: object
9031 1622 13 ORtg Last Month    124.769
Name: 9031, dtype: object
9032 1316 14 ORtg Last Month    94
Name: 9032, dtype: object
9033 793 14 ORtg Last Month    56.6429
Name: 9033, dtype: object
9034 1833 14 ORtg Last Month    130.929
Name: 9034, dtype: object
9035 727 13 ORtg Last Month    55.9231
Name: 9035, dtype: object
9036 1446 13 ORtg Last Month    111.231
Name: 9036, dtype: object
9037 1526 14 ORtg Last Month    109
Name: 9037, dtype: object
9038 1271 14 ORtg Last Month    90.7857
Name: 9038, dtype: object
9039 0 1 ORtg Last Month    0
Name: 9039, dtype: object
9040 1428 14 ORtg Last Month    102
Name: 9040, dtype: object
9041 1612 14 ORtg Last Month    115.143
Name: 9041, dtype: object
9042 1623 14 ORtg Last Month    115.929
Name: 9042, dtype: object
9043 1082 14 ORtg Last Month    77.2857
Name: 9043, dtype: object
9044 873 14 ORtg Last Month    62.3571
Name: 9044, dtype: object
9045 1581 14 ORtg Last Month    112.929
Name: 9045, dtype: object
9046 1888 14 ORtg Last Month    134.857
Name: 9046, dtype: object
9047 52 13 ORtg Last Month    4
Name: 9047, dtype: object
9048 157 12 ORtg Last Month    13.0833
Name: 9048, dtype: object
9049 1611 14 ORtg Last Month    115.071
Name: 9049, dtype: object
9050 1697 14 ORtg Last Month    121.214
Name: 9050, dtype: object
9051 1288 14 ORtg Last Month    92
Name: 9051, dtype: object

9052 1112 14 ORtg Last Month    79.4286
Name: 9052, dtype: object
9053 814 14 ORtg Last Month    58.1429
Name: 9053, dtype: object
9054 1034 10 ORtg Last Month    103.4
Name: 9054, dtype: object
9055 1224 11 ORtg Last Month    111.273
Name: 9055, dtype: object
9056 1489 14 ORtg Last Month    106.357
Name: 9056, dtype: object
9057 0 10 ORtg Last Month    0
Name: 9057, dtype: object
9058 0 4 ORtg Last Month    0
Name: 9058, dtype: object
9059 1542 14 ORtg Last Month    110.143
Name: 9059, dtype: object
9060 1553 14 ORtg Last Month    110.929
Name: 9060, dtype: object
9061 199 2 ORtg Last Month    99.5
Name: 9061, dtype: object
9062 760 8 ORtg Last Month    95
Name: 9062, dtype: object
9063 883 8 ORtg Last Month    110.375
Name: 9063, dtype: object
9064 1378 14 ORtg Last Month    98.4286
Name: 9064, dtype: object
9065 845 9 ORtg Last Month    93.8889
Name: 9065, dtype: object
9066 562 11 ORtg Last Month    51.0909
Name: 9066, dtype: object
9067 1344 14 ORtg Last Month    96
Name: 9067, dtype: object
9068 94 14 ORtg Last Month    6.71429
Name: 9068, dtype: object
9069 1521 14 ORtg Last Month    108.643
Name: 9069, dtype: object
9070 1504 14 ORtg Last Month    107.429
Name: 9070, dtype: object
9071 1754 14 ORtg Last Month    125.286
Name: 9071, dtype: object
9072 1486 12 ORtg Last Month    123.833
Name: 9072, dtype: object
9073 1353 12 ORtg Last Month    112.75
Name: 9073, dtype: object
9074 1582 13 ORtg Last Month    121.692
Name: 9074, dtype: object
9075 1080 12 ORtg Last Month    90
Name: 9075, dtype: object
9076 1301 12 ORtg Last Month    108.417
Name: 9076, dtype: object
9077 496 12 ORtg Last Month    41.3333
Name: 9077, dtype: object
9078 380 12 ORtg Last Month    31.6667
Name: 9078, dtype: object
9079 144 12 ORtg Last Month    12
Name: 9079, dtype: object
9080 164 12 ORtg Last Month    13.6667
Name: 9080, dtype: object
9081 1452 13 ORtg Last Month    111.692
Name: 9081, dtype: object
9082 1722 13 ORtg Last Month    132.462
Name: 9082, dtype: object
9083 1171 13 ORtg Last Month    90.0769
Name: 9083, dtype: object
9084 1426 14 ORtg Last Month    101.857
Name: 9084, dtype: object
9085 1450 14 ORtg Last Month    103.571
Name: 9085, dtype: object
9086 783 13 ORtg Last Month    60.2308
Name: 9086, dtype: object
9087 381 12 ORtg Last Month    31.75
Name: 9087, dtype: object
9088 986 14 ORtg Last Month    70.4286
Name: 9088, dtype: object
9089 1119 14 ORtg Last Month    79.9286
Name: 9089, dtype: object
9090 1206 14 ORtg Last Month    86.1429
Name: 9090, dtype: object
9091 286 2 ORtg Last Month    143
Name: 9091, dtype: object
9092 1670 14 ORtg Last Month    119.286
Name: 9092, dtype: object
9093 1752 14 ORtg Last Month    125.143
Name: 9093, dtype: object
9094 1720 14 ORtg Last Month    122.857
Name: 9094, dtype: object
9095 0 2 ORtg Last Month    0
Name: 9095, dtype: object
9096 1618 14 ORtg Last Month    115.571
Name: 9096, dtype: object
9097 812 10 ORtg Last Month    81.2
Name: 9097, dtype: object
9098 212 14 ORtg Last Month    15.1429
Name: 9098, dtype: object
9099 1712 14 ORtg Last Month    122.286
Name: 9099, dtype: object
9100 719 8 ORtg Last Month    89.875
Name: 9100, dtype: object
9101 1179 13 ORtg Last Month    90.6923
Name: 9101, dtype: object
9102 798 13 ORtg Last Month    61.3846
Name: 9102, dtype: object
9103 1317 14 ORtg Last Month    94.0714
Name: 9103, dtype: object
9104 1592 14 ORtg Last Month    113.714
Name: 9104, dtype: object
9105 1525 14 ORtg Last Month    108.929
Name: 9105, dtype: object
9106 1928 14 ORtg Last Month    137.714
Name: 9106, dtype: object
9107 580 13 ORtg Last Month    44.6154
Name: 9107, dtype: object
9108 1476 13 ORtg Last Month    113.538
Name: 9108, dtype: object
9109 760 13 ORtg Last Month    58.4615
Name: 9109, dtype: object
9110 1383 12 ORtg Last Month    115.25
Name: 9110, dtype: object
9111 1390 13 ORtg Last Month    106.923
Name: 9111, dtype: object
9112 1479 13 ORtg Last Month    113.769
Name: 9112, dtype: object
9113 1599 13 ORtg Last Month    123
Name: 9113, dtype: object
9114 1041 13 ORtg Last Month    80.0769
Name: 9114, dtype: object
9115 164 5 ORtg Last Month    32.8
Name: 9115, dtype: object
9116 1338 13 ORtg Last Month    102.923
Name: 9116, dtype: object
9117 483 5 ORtg Last Month    96.6
Name: 9117, dtype: object
9118 1202 11 ORtg Last Month    109.273
Name: 9118, dtype: object
9119 1076 13 ORtg Last Month    82.7692
Name: 9119, dtype: object
9120 1699 15 ORtg Last Month    113.267
Name: 9120, dtype: object
9121 1745 15 ORtg Last Month    116.333
Name: 9121, dtype: object
9122 1464 14 ORtg Last Month    104.571
Name: 9122, dtype: object
9123 1202 15 ORtg Last Month    80.1333
Name: 9123, dtype: object
9124 1676 14 ORtg Last Month    119.714
Name: 9124, dtype: object
9125 1500 15 ORtg Last Month    100
Name: 9125, dtype: object
9126 1516 13 ORtg Last Month    116.615
Name: 9126, dtype: object
9127 1579 15 ORtg Last Month    105.267
Name: 9127, dtype: object
9128 637 15 ORtg Last Month    42.4667
Name: 9128, dtype: object
9129 1409 14 ORtg Last Month    100.643
Name: 9129, dtype: object
9130 1492 14 ORtg Last Month    106.571
Name: 9130, dtype: object
9131 1213 12 ORtg Last Month    101.083
Name: 9131, dtype: object
9132 1096 14 ORtg Last Month    78.2857
Name: 9132, dtype: object
9133 397 12 ORtg Last Month    33.0833
Name: 9133, dtype: object
9134 1651 14 ORtg Last Month    117.929
Name: 9134, dtype: object
9135 1448 13 ORtg Last Month    111.385
Name: 9135, dtype: object
9136 1479 14 ORtg Last Month    105.643
Name: 9136, dtype: object
9137 1046 8 ORtg Last Month    130.75
Name: 9137, dtype: object
9138 1710 14 ORtg Last Month    122.143
Name: 9138, dtype: object
9139 1558 13 ORtg Last Month    119.846
Name: 9139, dtype: object
9140 1181 13 ORtg Last Month    90.8462
Name: 9140, dtype: object
9141 245 9 ORtg Last Month    27.2222
Name: 9141, dtype: object
9142 1369 13 ORtg Last Month    105.308
Name: 9142, dtype: object
9143 1398 13 ORtg Last Month    107.538
Name: 9143, dtype: object
9144 1454 13 ORtg Last Month    111.846
Name: 9144, dtype: object
9145 430 12 ORtg Last Month    35.8333
Name: 9145, dtype: object
9146 1425 13 ORtg Last Month    109.615
Name: 9146, dtype: object
9147 1459 13 ORtg Last Month    112.231
Name: 9147, dtype: object
9148 990 12 ORtg Last Month    82.5
Name: 9148, dtype: object
9149 872 12 ORtg Last Month    72.6667
Name: 9149, dtype: object
9150 145 3 ORtg Last Month    48.3333
Name: 9150, dtype: object
9151 1623 13 ORtg Last Month    124.846
Name: 9151, dtype: object
9152 1574 13 ORtg Last Month    121.077
Name: 9152, dtype: object
9153 269 7 ORtg Last Month    38.4286
Name: 9153, dtype: object
9154 837 8 ORtg Last Month    104.625
Name: 9154, dtype: object
9155 1568 13 ORtg Last Month    120.615
Name: 9155, dtype: object
9156 1304 12 ORtg Last Month    108.667
Name: 9156, dtype: object
9157 990 12 ORtg Last Month    82.5
Name: 9157, dtype: object
9158 1503 13 ORtg Last Month    115.615
Name: 9158, dtype: object
9159 1499 13 ORtg Last Month    115.308
Name: 9159, dtype: object
9160 1386 13 ORtg Last Month    106.615
Name: 9160, dtype: object
9161 745 10 ORtg Last Month    74.5
Name: 9161, dtype: object
9162 783 13 ORtg Last Month    60.2308
Name: 9162, dtype: object
9163 503 15 ORtg Last Month    33.5333
Name: 9163, dtype: object
9164 1823 16 ORtg Last Month    113.938
Name: 9164, dtype: object
9165 1834 16 ORtg Last Month    114.625
Name: 9165, dtype: object
9166 1090 16 ORtg Last Month    68.125
Name: 9166, dtype: object
9167 1915 15 ORtg Last Month    127.667
Name: 9167, dtype: object
9168 1437 12 ORtg Last Month    119.75
Name: 9168, dtype: object
9169 772 16 ORtg Last Month    48.25
Name: 9169, dtype: object
9170 1055 16 ORtg Last Month    65.9375
Name: 9170, dtype: object
9171 1588 16 ORtg Last Month    99.25
Name: 9171, dtype: object
9172 1593 16 ORtg Last Month    99.5625
Name: 9172, dtype: object
9173 895 14 ORtg Last Month    63.9286
Name: 9173, dtype: object
9174 1524 15 ORtg Last Month    101.6
Name: 9174, dtype: object
9175 381 13 ORtg Last Month    29.3077
Name: 9175, dtype: object
9176 1300 15 ORtg Last Month    86.6667
Name: 9176, dtype: object
9177 1222 15 ORtg Last Month    81.4667
Name: 9177, dtype: object
9178 286 3 ORtg Last Month    95.3333
Name: 9178, dtype: object

9179 1125 15 ORtg Last Month    75
Name: 9179, dtype: object
9180 1814 15 ORtg Last Month    120.933
Name: 9180, dtype: object
9181 1888 15 ORtg Last Month    125.867
Name: 9181, dtype: object
9182 1829 15 ORtg Last Month    121.933
Name: 9182, dtype: object
9183 0 3 ORtg Last Month    0
Name: 9183, dtype: object
9184 1707 16 ORtg Last Month    106.688
Name: 9184, dtype: object
9185 1592 16 ORtg Last Month    99.5
Name: 9185, dtype: object
9186 1881 16 ORtg Last Month    117.562
Name: 9186, dtype: object
9187 1724 16 ORtg Last Month    107.75
Name: 9187, dtype: object
9188 1620 14 ORtg Last Month    115.714
Name: 9188, dtype: object
9189 1510 16 ORtg Last Month    94.375
Name: 9189, dtype: object
9190 754 16 ORtg Last Month    47.125
Name: 9190, dtype: object
9191 1674 16 ORtg Last Month    104.625
Name: 9191, dtype: object
9192 2133 15 ORtg Last Month    142.2
Name: 9192, dtype: object
9193 537 16 ORtg Last Month    33.5625
Name: 9193, dtype: object
9194 227 2 ORtg Last Month    113.5
Name: 9194, dtype: object
9195 1595 15 ORtg Last Month    106.333
Name: 9195, dtype: object
9196 1421 15 ORtg Last Month    94.7333
Name: 9196, dtype: object
9197 1632 15 ORtg Last Month    108.8
Name: 9197, dtype: object
9198 373 15 ORtg Last Month    24.8667
Name: 9198, dtype: object
9199 1514 13 ORtg Last Month    116.462
Name: 9199, dtype: object
9200 2036 15 ORtg Last Month    135.733
Name: 9200, dtype: object
9201 1786 15 ORtg Last Month    119.067
Name: 9201, dtype: object
9202 984 10 ORtg Last Month    98.4
Name: 9202, dtype: object
9203 1102 12 ORtg Last Month    91.8333
Name: 9203, dtype: object
9204 350 14 ORtg Last Month    25
Name: 9204, dtype: object
9205 1584 14 ORtg Last Month    113.143
Name: 9205, dtype: object
9206 1768 15 ORtg Last Month    117.867
Name: 9206, dtype: object
9207 415 14 ORtg Last Month    29.6429
Name: 9207, dtype: object
9208 1192 13 ORtg Last Month    91.6923
Name: 9208, dtype: object
9209 1520 15 ORtg Last Month    101.333
Name: 9209, dtype: object
9210 994 10 ORtg Last Month    99.4
Name: 9210, dtype: object
9211 400 13 ORtg Last Month    30.7692
Name: 9211, dtype: object
9212 1115 15 ORtg Last Month    74.3333
Name: 9212, dtype: object
9213 603 15 ORtg Last Month    40.2
Name: 9213, dtype: object
9214 1720 15 ORtg Last Month    114.667
Name: 9214, dtype: object
9215 1462 15 ORtg Last Month    97.4667
Name: 9215, dtype: object
9216 1494 15 ORtg Last Month    99.6
Name: 9216, dtype: object
9217 1017 10 ORtg Last Month    101.7
Name: 9217, dtype: object
9218 2010 15 ORtg Last Month    134
Name: 9218, dtype: object
9219 2020 15 ORtg Last Month    134.667
Name: 9219, dtype: object
9220 1040 15 ORtg Last Month    69.3333
Name: 9220, dtype: object
9221 1241 13 ORtg Last Month    95.4615
Name: 9221, dtype: object
9222 1585 13 ORtg Last Month    121.923
Name: 9222, dtype: object
9223 922 13 ORtg Last Month    70.9231
Name: 9223, dtype: object
9224 153 1 ORtg Last Month    153
Name: 9224, dtype: object
9225 1283 12 ORtg Last Month    106.917
Name: 9225, dtype: object
9226 1066 10 ORtg Last Month    106.6
Name: 9226, dtype: object
9227 1551 13 ORtg Last Month    119.308
Name: 9227, dtype: object
9228 929 13 ORtg Last Month    71.4615
Name: 9228, dtype: object
9229 498 5 ORtg Last Month    99.6
Name: 9229, dtype: object
9230 988 13 ORtg Last Month    76
Name: 9230, dtype: object
9231 1378 14 ORtg Last Month    98.4286
Name: 9231, dtype: object
9232 0 0 ORtg Last Month    0
Name: 9232, dtype: object
9233 1461 15 ORtg Last Month    97.4
Name: 9233, dtype: object
9234 1282 15 ORtg Last Month    85.4667
Name: 9234, dtype: object
9235 1071 13 ORtg Last Month    82.3846
Name: 9235, dtype: object
9236 1380 15 ORtg Last Month    92
Name: 9236, dtype: object
9237 374 5 ORtg Last Month    74.8
Name: 9237, dtype: object
9238 1542 15 ORtg Last Month    102.8
Name: 9238, dtype: object
9239 1433 15 ORtg Last Month    95.5333
Name: 9239, dtype: object
9240 0 0 ORtg Last Month    0
Name: 9240, dtype: object
9241 1331 15 ORtg Last Month    88.7333
Name: 9241, dtype: object
9242 758 15 ORtg Last Month    50.5333
Name: 9242, dtype: object
9243 1591 15 ORtg Last Month    106.067
Name: 9243, dtype: object
9244 903 10 ORtg Last Month    90.3
Name: 9244, dtype: object
9245 1579 15 ORtg Last Month    105.267
Name: 9245, dtype: object
9246 1425 15 ORtg Last Month    95
Name: 9246, dtype: object
9247 200 3 ORtg Last Month    66.6667
Name: 9247, dtype: object
9248 1332 14 ORtg Last Month    95.1429
Name: 9248, dtype: object
9249 1574 14 ORtg Last Month    112.429
Name: 9249, dtype: object
9250 395 3 ORtg Last Month    131.667
Name: 9250, dtype: object
9251 1932 15 ORtg Last Month    128.8
Name: 9251, dtype: object
9252 1835 15 ORtg Last Month    122.333
Name: 9252, dtype: object
9253 701 15 ORtg Last Month    46.7333
Name: 9253, dtype: object
9254 607 12 ORtg Last Month    50.5833
Name: 9254, dtype: object
9255 1212 12 ORtg Last Month    101
Name: 9255, dtype: object
9256 876 13 ORtg Last Month    67.3846
Name: 9256, dtype: object
9257 1380 13 ORtg Last Month    106.154
Name: 9257, dtype: object
9258 1467 13 ORtg Last Month    112.846
Name: 9258, dtype: object
9259 1529 13 ORtg Last Month    117.615
Name: 9259, dtype: object
9260 1124 10 ORtg Last Month    112.4
Name: 9260, dtype: object
9261 361 12 ORtg Last Month    30.0833
Name: 9261, dtype: object
9262 1446 13 ORtg Last Month    111.231
Name: 9262, dtype: object
9263 1226 10 ORtg Last Month    122.6
Name: 9263, dtype: object
9264 749 11 ORtg Last Month    68.0909
Name: 9264, dtype: object
9265 1736 14 ORtg Last Month    124
Name: 9265, dtype: object
9266 1365 14 ORtg Last Month    97.5
Name: 9266, dtype: object
9267 1761 14 ORtg Last Month    125.786
Name: 9267, dtype: object
9268 380 12 ORtg Last Month    31.6667
Name: 9268, dtype: object
9269 1325 14 ORtg Last Month    94.6429
Name: 9269, dtype: object
9270 1832 14 ORtg Last Month    130.857
Name: 9270, dtype: object
9271 693 14 ORtg Last Month    49.5
Name: 9271, dtype: object
9272 306 14 ORtg Last Month    21.8571
Name: 9272, dtype: object
9273 1606 14 ORtg Last Month    114.714
Name: 9273, dtype: object
9274 1632 14 ORtg Last Month    116.571
Name: 9274, dtype: object
9275 104 5 ORtg Last Month    20.8
Name: 9275, dtype: object
9276 1428 13 ORtg Last Month    109.846
Name: 9276, dtype: object
9277 449 12 ORtg Last Month    37.4167
Name: 9277, dtype: object
9278 977 12 ORtg Last Month    81.4167
Name: 9278, dtype: object
9279 356 10 ORtg Last Month    35.6
Name: 9279, dtype: object
9280 1415 13 ORtg Last Month    108.846
Name: 9280, dtype: object
9281 199 4 ORtg Last Month    49.75
Name: 9281, dtype: object
9282 0 1 ORtg Last Month    0
Name: 9282, dtype: object
9283 1350 13 ORtg Last Month    103.846
Name: 9283, dtype: object
9284 1437 13 ORtg Last Month    110.538
Name: 9284, dtype: object
9285 1089 12 ORtg Last Month    90.75
Name: 9285, dtype: object
9286 485 4 ORtg Last Month    121.25
Name: 9286, dtype: object
9287 1508 15 ORtg Last Month    100.533
Name: 9287, dtype: object
9288 1477 14 ORtg Last Month    105.5
Name: 9288, dtype: object
9289 1491 15 ORtg Last Month    99.4
Name: 9289, dtype: object
9290 1740 15 ORtg Last Month    116
Name: 9290, dtype: object
9291 2069 15 ORtg Last Month    137.933
Name: 9291, dtype: object
9292 648 6 ORtg Last Month    108
Name: 9292, dtype: object
9293 1625 15 ORtg Last Month    108.333
Name: 9293, dtype: object
9294 1952 15 ORtg Last Month    130.133
Name: 9294, dtype: object
9295 81 2 ORtg Last Month    40.5
Name: 9295, dtype: object
9296 1875 15 ORtg Last Month    125
Name: 9296, dtype: object
9297 1461 13 ORtg Last Month    112.385
Name: 9297, dtype: object
9298 1076 13 ORtg Last Month    82.7692
Name: 9298, dtype: object
9299 1371 13 ORtg Last Month    105.462
Name: 9299, dtype: object
9300 110 7 ORtg Last Month    15.7143
Name: 9300, dtype: object
9301 1366 13 ORtg Last Month    105.077
Name: 9301, dtype: object
9302 1575 13 ORtg Last Month    121.154
Name: 9302, dtype: object
9303 1147 13 ORtg Last Month    88.2308
Name: 9303, dtype: object
9304 1497 13 ORtg Last Month    115.154
Name: 9304, dtype: object
9305 0 3 ORtg Last Month    0
Name: 9305, dtype: object
9306 1216 12 ORtg Last Month    101.333
Name: 9306, dtype: object

9307 1337 12 ORtg Last Month    111.417
Name: 9307, dtype: object
9308 765 13 ORtg Last Month    58.8462
Name: 9308, dtype: object
9309 1482 14 ORtg Last Month    105.857
Name: 9309, dtype: object
9310 1611 14 ORtg Last Month    115.071
Name: 9310, dtype: object
9311 281 13 ORtg Last Month    21.6154
Name: 9311, dtype: object
9312 827 10 ORtg Last Month    82.7
Name: 9312, dtype: object
9313 678 14 ORtg Last Month    48.4286
Name: 9313, dtype: object
9314 793 14 ORtg Last Month    56.6429
Name: 9314, dtype: object
9315 1519 14 ORtg Last Month    108.5
Name: 9315, dtype: object
9316 1585 13 ORtg Last Month    121.923
Name: 9316, dtype: object
9317 1348 14 ORtg Last Month    96.2857
Name: 9317, dtype: object
9318 718 13 ORtg Last Month    55.2308
Name: 9318, dtype: object
9319 1780 14 ORtg Last Month    127.143
Name: 9319, dtype: object
9320 1446 13 ORtg Last Month    111.231
Name: 9320, dtype: object
9321 1322 15 ORtg Last Month    88.1333
Name: 9321, dtype: object
9322 1699 15 ORtg Last Month    113.267
Name: 9322, dtype: object
9323 1003 15 ORtg Last Month    66.8667
Name: 9323, dtype: object
9324 1719 15 ORtg Last Month    114.6
Name: 9324, dtype: object
9325 1575 15 ORtg Last Month    105
Name: 9325, dtype: object
9326 1755 15 ORtg Last Month    117
Name: 9326, dtype: object
9327 1177 15 ORtg Last Month    78.4667
Name: 9327, dtype: object
9328 1690 15 ORtg Last Month    112.667
Name: 9328, dtype: object
9329 2075 15 ORtg Last Month    138.333
Name: 9329, dtype: object
9330 184 13 ORtg Last Month    14.1538
Name: 9330, dtype: object
9331 52 14 ORtg Last Month    3.71429
Name: 9331, dtype: object
9332 50 2 ORtg Last Month    25
Name: 9332, dtype: object
9333 1714 15 ORtg Last Month    114.267
Name: 9333, dtype: object
9334 1791 15 ORtg Last Month    119.4
Name: 9334, dtype: object
9335 1360 15 ORtg Last Month    90.6667
Name: 9335, dtype: object
9336 1166 15 ORtg Last Month    77.7333
Name: 9336, dtype: object
9337 939 15 ORtg Last Month    62.6
Name: 9337, dtype: object
9338 1130 11 ORtg Last Month    102.727
Name: 9338, dtype: object
9339 1288 12 ORtg Last Month    107.333
Name: 9339, dtype: object
9340 1644 15 ORtg Last Month    109.6
Name: 9340, dtype: object
9341 1607 15 ORtg Last Month    107.133
Name: 9341, dtype: object
9342 61 11 ORtg Last Month    5.54545
Name: 9342, dtype: object
9343 1631 15 ORtg Last Month    108.733
Name: 9343, dtype: object
9344 259 3 ORtg Last Month    86.3333
Name: 9344, dtype: object
9345 865 9 ORtg Last Month    96.1111
Name: 9345, dtype: object
9346 430 5 ORtg Last Month    86
Name: 9346, dtype: object
9347 934 8 ORtg Last Month    116.75
Name: 9347, dtype: object
9348 1348 12 ORtg Last Month    112.333
Name: 9348, dtype: object
9349 1424 14 ORtg Last Month    101.714
Name: 9349, dtype: object
9350 544 11 ORtg Last Month    49.4545
Name: 9350, dtype: object
9351 1438 14 ORtg Last Month    102.714
Name: 9351, dtype: object
9352 1306 14 ORtg Last Month    93.2857
Name: 9352, dtype: object
9353 986 10 ORtg Last Month    98.6
Name: 9353, dtype: object
9354 218 14 ORtg Last Month    15.5714
Name: 9354, dtype: object
9355 1806 14 ORtg Last Month    129
Name: 9355, dtype: object
9356 1458 14 ORtg Last Month    104.143
Name: 9356, dtype: object
9357 1660 14 ORtg Last Month    118.571
Name: 9357, dtype: object
9358 1744 14 ORtg Last Month    124.571
Name: 9358, dtype: object
9359 1099 13 ORtg Last Month    84.5385
Name: 9359, dtype: object
9360 269 8 ORtg Last Month    33.625
Name: 9360, dtype: object
9361 837 9 ORtg Last Month    93
Name: 9361, dtype: object
9362 1383 13 ORtg Last Month    106.385
Name: 9362, dtype: object
9363 148 2 ORtg Last Month    74
Name: 9363, dtype: object
9364 1603 14 ORtg Last Month    114.5
Name: 9364, dtype: object
9365 1694 14 ORtg Last Month    121
Name: 9365, dtype: object
9366 1517 14 ORtg Last Month    108.357
Name: 9366, dtype: object
9367 919 11 ORtg Last Month    83.5455
Name: 9367, dtype: object
9368 905 14 ORtg Last Month    64.6429
Name: 9368, dtype: object
9369 503 15 ORtg Last Month    33.5333
Name: 9369, dtype: object
9370 1460 12 ORtg Last Month    121.667
Name: 9370, dtype: object
9371 1447 13 ORtg Last Month    111.308
Name: 9371, dtype: object
9372 1631 13 ORtg Last Month    125.462
Name: 9372, dtype: object
9373 537 12 ORtg Last Month    44.75
Name: 9373, dtype: object
9374 1174 13 ORtg Last Month    90.3077
Name: 9374, dtype: object
9375 1453 12 ORtg Last Month    121.083
Name: 9375, dtype: object
9376 1309 11 ORtg Last Month    119
Name: 9376, dtype: object
9377 253 12 ORtg Last Month    21.0833
Name: 9377, dtype: object
9378 39 12 ORtg Last Month    3.25
Name: 9378, dtype: object
9379 164 12 ORtg Last Month    13.6667
Name: 9379, dtype: object
9380 1429 13 ORtg Last Month    109.923
Name: 9380, dtype: object
9381 1280 13 ORtg Last Month    98.4615
Name: 9381, dtype: object
9382 1734 13 ORtg Last Month    133.385
Name: 9382, dtype: object
9383 1260 17 ORtg Last Month    74.1176
Name: 9383, dtype: object
9384 1933 17 ORtg Last Month    113.706
Name: 9384, dtype: object
9385 1024 12 ORtg Last Month    85.3333
Name: 9385, dtype: object
9386 975 16 ORtg Last Month    60.9375
Name: 9386, dtype: object
9387 1157 17 ORtg Last Month    68.0588
Name: 9387, dtype: object
9388 1712 17 ORtg Last Month    100.706
Name: 9388, dtype: object
9389 873 17 ORtg Last Month    51.3529
Name: 9389, dtype: object
9390 0 4 ORtg Last Month    0
Name: 9390, dtype: object
9391 1451 16 ORtg Last Month    90.6875
Name: 9391, dtype: object
9392 2012 16 ORtg Last Month    125.75
Name: 9392, dtype: object
9393 1969 17 ORtg Last Month    115.824
Name: 9393, dtype: object
9394 1530 13 ORtg Last Month    117.692
Name: 9394, dtype: object
9395 359 15 ORtg Last Month    23.9333
Name: 9395, dtype: object
9396 950 9 ORtg Last Month    105.556
Name: 9396, dtype: object
9397 1357 13 ORtg Last Month    104.385
Name: 9397, dtype: object
9398 871 10 ORtg Last Month    87.1
Name: 9398, dtype: object
9399 822 12 ORtg Last Month    68.5
Name: 9399, dtype: object
9400 892 13 ORtg Last Month    68.6154
Name: 9400, dtype: object
9401 1511 13 ORtg Last Month    116.231
Name: 9401, dtype: object
9402 1609 13 ORtg Last Month    123.769
Name: 9402, dtype: object
9403 688 7 ORtg Last Month    98.2857
Name: 9403, dtype: object
9404 627 11 ORtg Last Month    57
Name: 9404, dtype: object
9405 540 13 ORtg Last Month    41.5385
Name: 9405, dtype: object
9406 1584 13 ORtg Last Month    121.846
Name: 9406, dtype: object
9407 1466 12 ORtg Last Month    122.167
Name: 9407, dtype: object
9408 793 13 ORtg Last Month    61
Name: 9408, dtype: object
9409 1316 14 ORtg Last Month    94
Name: 9409, dtype: object
9410 1781 14 ORtg Last Month    127.214
Name: 9410, dtype: object
9411 658 14 ORtg Last Month    47
Name: 9411, dtype: object
9412 1284 14 ORtg Last Month    91.7143
Name: 9412, dtype: object
9413 1271 12 ORtg Last Month    105.917
Name: 9413, dtype: object
9414 329 14 ORtg Last Month    23.5
Name: 9414, dtype: object
9415 1591 14 ORtg Last Month    113.643
Name: 9415, dtype: object
9416 1302 12 ORtg Last Month    108.5
Name: 9416, dtype: object
9417 0 3 ORtg Last Month    0
Name: 9417, dtype: object
9418 1704 14 ORtg Last Month    121.714
Name: 9418, dtype: object
9419 526 14 ORtg Last Month    37.5714
Name: 9419, dtype: object
9420 1443 14 ORtg Last Month    103.071
Name: 9420, dtype: object
9421 1628 14 ORtg Last Month    116.286
Name: 9421, dtype: object
9422 1337 14 ORtg Last Month    95.5
Name: 9422, dtype: object
9423 1125 14 ORtg Last Month    80.3571
Name: 9423, dtype: object
9424 1704 14 ORtg Last Month    121.714
Name: 9424, dtype: object
9425 147 6 ORtg Last Month    24.5
Name: 9425, dtype: object
9426 1673 14 ORtg Last Month    119.5
Name: 9426, dtype: object
9427 1377 13 ORtg Last Month    105.923
Name: 9427, dtype: object
9428 1402 12 ORtg Last Month    116.833
Name: 9428, dtype: object
9429 1381 13 ORtg Last Month    106.231
Name: 9429, dtype: object
9430 1551 14 ORtg Last Month    110.786
Name: 9430, dtype: object
9431 997 14 ORtg Last Month    71.2143
Name: 9431, dtype: object
9432 946 7 ORtg Last Month    135.143
Name: 9432, dtype: object
9433 749 14 ORtg Last Month    53.5
Name: 9433, dtype: object
9434 577 15 ORtg Last Month    38.4667
Name: 9434, dtype: object

9435 0 0 ORtg Last Month    0
Name: 9435, dtype: object
9436 1325 15 ORtg Last Month    88.3333
Name: 9436, dtype: object
9437 1259 13 ORtg Last Month    96.8462
Name: 9437, dtype: object
9438 1481 15 ORtg Last Month    98.7333
Name: 9438, dtype: object
9439 1171 10 ORtg Last Month    117.1
Name: 9439, dtype: object
9440 479 15 ORtg Last Month    31.9333
Name: 9440, dtype: object
9441 0 1 ORtg Last Month    0
Name: 9441, dtype: object
9442 1724 15 ORtg Last Month    114.933
Name: 9442, dtype: object
9443 1872 15 ORtg Last Month    124.8
Name: 9443, dtype: object
9444 68 15 ORtg Last Month    4.53333
Name: 9444, dtype: object
9445 1423 13 ORtg Last Month    109.462
Name: 9445, dtype: object
9446 1026 13 ORtg Last Month    78.9231
Name: 9446, dtype: object
9447 585 13 ORtg Last Month    45
Name: 9447, dtype: object
9448 1475 13 ORtg Last Month    113.462
Name: 9448, dtype: object
9449 1295 11 ORtg Last Month    117.727
Name: 9449, dtype: object
9450 1382 13 ORtg Last Month    106.308
Name: 9450, dtype: object
9451 1198 11 ORtg Last Month    108.909
Name: 9451, dtype: object
9452 1501 13 ORtg Last Month    115.462
Name: 9452, dtype: object
9453 1717 13 ORtg Last Month    132.077
Name: 9453, dtype: object
9454 1376 13 ORtg Last Month    105.846
Name: 9454, dtype: object
9455 1300 13 ORtg Last Month    100
Name: 9455, dtype: object
9456 358 5 ORtg Last Month    71.6
Name: 9456, dtype: object
9457 1195 13 ORtg Last Month    91.9231
Name: 9457, dtype: object
9458 1512 15 ORtg Last Month    100.8
Name: 9458, dtype: object
9459 1089 15 ORtg Last Month    72.6
Name: 9459, dtype: object
9460 1150 11 ORtg Last Month    104.545
Name: 9460, dtype: object
9461 1633 15 ORtg Last Month    108.867
Name: 9461, dtype: object
9462 1415 15 ORtg Last Month    94.3333
Name: 9462, dtype: object
9463 828 15 ORtg Last Month    55.2
Name: 9463, dtype: object
9464 668 9 ORtg Last Month    74.2222
Name: 9464, dtype: object
9465 1101 11 ORtg Last Month    100.091
Name: 9465, dtype: object
9466 1480 15 ORtg Last Month    98.6667
Name: 9466, dtype: object
9467 1945 15 ORtg Last Month    129.667
Name: 9467, dtype: object
9468 1882 15 ORtg Last Month    125.467
Name: 9468, dtype: object
9469 1040 15 ORtg Last Month    69.3333
Name: 9469, dtype: object
9470 1681 15 ORtg Last Month    112.067
Name: 9470, dtype: object
9471 1250 15 ORtg Last Month    83.3333
Name: 9471, dtype: object
9472 1875 15 ORtg Last Month    125
Name: 9472, dtype: object
9473 1427 14 ORtg Last Month    101.929
Name: 9473, dtype: object
9474 1458 15 ORtg Last Month    97.2
Name: 9474, dtype: object
9475 1456 13 ORtg Last Month    112
Name: 9475, dtype: object
9476 0 1 ORtg Last Month    0
Name: 9476, dtype: object
9477 1724 14 ORtg Last Month    123.143
Name: 9477, dtype: object
9478 1590 15 ORtg Last Month    106
Name: 9478, dtype: object
9479 1510 14 ORtg Last Month    107.857
Name: 9479, dtype: object
9480 785 15 ORtg Last Month    52.3333
Name: 9480, dtype: object
9481 1280 12 ORtg Last Month    106.667
Name: 9481, dtype: object
9482 1643 14 ORtg Last Month    117.357
Name: 9482, dtype: object
9483 1151 13 ORtg Last Month    88.5385
Name: 9483, dtype: object
9484 966 10 ORtg Last Month    96.6
Name: 9484, dtype: object
9485 725 7 ORtg Last Month    103.571
Name: 9485, dtype: object
9486 1457 14 ORtg Last Month    104.071
Name: 9486, dtype: object
9487 1497 14 ORtg Last Month    106.929
Name: 9487, dtype: object
9488 1654 14 ORtg Last Month    118.143
Name: 9488, dtype: object
9489 1200 13 ORtg Last Month    92.3077
Name: 9489, dtype: object
9490 2008 14 ORtg Last Month    143.429
Name: 9490, dtype: object
9491 460 5 ORtg Last Month    92
Name: 9491, dtype: object
9492 786 12 ORtg Last Month    65.5
Name: 9492, dtype: object
9493 564 14 ORtg Last Month    40.2857
Name: 9493, dtype: object
9494 1498 14 ORtg Last Month    107
Name: 9494, dtype: object
9495 371 13 ORtg Last Month    28.5385
Name: 9495, dtype: object
9496 1524 14 ORtg Last Month    108.857
Name: 9496, dtype: object
9497 917 11 ORtg Last Month    83.3636
Name: 9497, dtype: object
9498 1373 14 ORtg Last Month    98.0714
Name: 9498, dtype: object
9499 1638 13 ORtg Last Month    126
Name: 9499, dtype: object
9500 1553 14 ORtg Last Month    110.929
Name: 9500, dtype: object
9501 793 14 ORtg Last Month    56.6429
Name: 9501, dtype: object
9502 828 13 ORtg Last Month    63.6923
Name: 9502, dtype: object
9503 1740 14 ORtg Last Month    124.286
Name: 9503, dtype: object
9504 1354 13 ORtg Last Month    104.154
Name: 9504, dtype: object
9505 1040 8 ORtg Last Month    130
Name: 9505, dtype: object
9506 0 1 ORtg Last Month    0
Name: 9506, dtype: object
9507 662 15 ORtg Last Month    44.1333
Name: 9507, dtype: object
9508 1322 14 ORtg Last Month    94.4286
Name: 9508, dtype: object
9509 1120 10 ORtg Last Month    112
Name: 9509, dtype: object
9510 1384 15 ORtg Last Month    92.2667
Name: 9510, dtype: object
9511 1549 15 ORtg Last Month    103.267
Name: 9511, dtype: object
9512 0 2 ORtg Last Month    0
Name: 9512, dtype: object
9513 1270 13 ORtg Last Month    97.6923
Name: 9513, dtype: object
9514 1704 15 ORtg Last Month    113.6
Name: 9514, dtype: object
9515 1941 15 ORtg Last Month    129.4
Name: 9515, dtype: object
9516 479 15 ORtg Last Month    31.9333
Name: 9516, dtype: object
9517 68 15 ORtg Last Month    4.53333
Name: 9517, dtype: object
9518 1649 14 ORtg Last Month    117.786
Name: 9518, dtype: object
9519 711 10 ORtg Last Month    71.1
Name: 9519, dtype: object
9520 212 14 ORtg Last Month    15.1429
Name: 9520, dtype: object
9521 1597 14 ORtg Last Month    114.071
Name: 9521, dtype: object
9522 872 9 ORtg Last Month    96.8889
Name: 9522, dtype: object
9523 1134 13 ORtg Last Month    87.2308
Name: 9523, dtype: object
9524 872 13 ORtg Last Month    67.0769
Name: 9524, dtype: object
9525 1302 14 ORtg Last Month    93
Name: 9525, dtype: object
9526 1600 14 ORtg Last Month    114.286
Name: 9526, dtype: object
9527 1495 14 ORtg Last Month    106.786
Name: 9527, dtype: object
9528 1836 14 ORtg Last Month    131.143
Name: 9528, dtype: object
9529 487 13 ORtg Last Month    37.4615
Name: 9529, dtype: object
9530 1761 16 ORtg Last Month    110.062
Name: 9530, dtype: object
9531 1559 16 ORtg Last Month    97.4375
Name: 9531, dtype: object
9532 1851 16 ORtg Last Month    115.688
Name: 9532, dtype: object
9533 1738 15 ORtg Last Month    115.867
Name: 9533, dtype: object
9534 1762 16 ORtg Last Month    110.125
Name: 9534, dtype: object
9535 1837 15 ORtg Last Month    122.467
Name: 9535, dtype: object
9536 1492 16 ORtg Last Month    93.25
Name: 9536, dtype: object
9537 603 16 ORtg Last Month    37.6875
Name: 9537, dtype: object
9538 1682 16 ORtg Last Month    105.125
Name: 9538, dtype: object
9539 2271 16 ORtg Last Month    141.938
Name: 9539, dtype: object
9540 721 16 ORtg Last Month    45.0625
Name: 9540, dtype: object
9541 1295 15 ORtg Last Month    86.3333
Name: 9541, dtype: object
9542 1631 15 ORtg Last Month    108.733
Name: 9542, dtype: object
9543 1528 15 ORtg Last Month    101.867
Name: 9543, dtype: object
9544 309 15 ORtg Last Month    20.6
Name: 9544, dtype: object
9545 1988 15 ORtg Last Month    132.533
Name: 9545, dtype: object
9546 1015 12 ORtg Last Month    84.5833
Name: 9546, dtype: object
9547 1808 15 ORtg Last Month    120.533
Name: 9547, dtype: object
9548 1020 10 ORtg Last Month    102
Name: 9548, dtype: object
9549 350 14 ORtg Last Month    25
Name: 9549, dtype: object
9550 1577 14 ORtg Last Month    112.643
Name: 9550, dtype: object
9551 1691 15 ORtg Last Month    112.733
Name: 9551, dtype: object
9552 415 14 ORtg Last Month    29.6429
Name: 9552, dtype: object
9553 1015 13 ORtg Last Month    78.0769
Name: 9553, dtype: object
9554 950 13 ORtg Last Month    73.0769
Name: 9554, dtype: object
9555 480 7 ORtg Last Month    68.5714
Name: 9555, dtype: object
9556 238 1 ORtg Last Month    238
Name: 9556, dtype: object
9557 1150 13 ORtg Last Month    88.4615
Name: 9557, dtype: object
9558 1325 13 ORtg Last Month    101.923
Name: 9558, dtype: object
9559 706 10 ORtg Last Month    70.6
Name: 9559, dtype: object
9560 152 4 ORtg Last Month    38
Name: 9560, dtype: object
9561 1320 11 ORtg Last Month    120
Name: 9561, dtype: object
9562 997 11 ORtg Last Month    90.6364
Name: 9562, dtype: object

9563 949 12 ORtg Last Month    79.0833
Name: 9563, dtype: object
9564 1483 12 ORtg Last Month    123.583
Name: 9564, dtype: object
9565 1560 13 ORtg Last Month    120
Name: 9565, dtype: object
9566 1278 13 ORtg Last Month    98.3077
Name: 9566, dtype: object
9567 1015 13 ORtg Last Month    78.0769
Name: 9567, dtype: object
9568 153 2 ORtg Last Month    76.5
Name: 9568, dtype: object
9569 1347 12 ORtg Last Month    112.25
Name: 9569, dtype: object
9570 1536 13 ORtg Last Month    118.154
Name: 9570, dtype: object
9571 1045 13 ORtg Last Month    80.3846
Name: 9571, dtype: object
9572 644 6 ORtg Last Month    107.333
Name: 9572, dtype: object
9573 1078 13 ORtg Last Month    82.9231
Name: 9573, dtype: object
9574 1049 11 ORtg Last Month    95.3636
Name: 9574, dtype: object
9575 1749 15 ORtg Last Month    116.6
Name: 9575, dtype: object
9576 1496 15 ORtg Last Month    99.7333
Name: 9576, dtype: object
9577 1270 15 ORtg Last Month    84.6667
Name: 9577, dtype: object
9578 1528 15 ORtg Last Month    101.867
Name: 9578, dtype: object
9579 1336 13 ORtg Last Month    102.769
Name: 9579, dtype: object
9580 527 12 ORtg Last Month    43.9167
Name: 9580, dtype: object
9581 1436 15 ORtg Last Month    95.7333
Name: 9581, dtype: object
9582 1525 15 ORtg Last Month    101.667
Name: 9582, dtype: object
9583 1908 15 ORtg Last Month    127.2
Name: 9583, dtype: object
9584 1612 14 ORtg Last Month    115.143
Name: 9584, dtype: object
9585 1478 14 ORtg Last Month    105.571
Name: 9585, dtype: object
9586 320 14 ORtg Last Month    22.8571
Name: 9586, dtype: object
9587 1364 13 ORtg Last Month    104.923
Name: 9587, dtype: object
9588 1089 11 ORtg Last Month    99
Name: 9588, dtype: object
9589 1039 13 ORtg Last Month    79.9231
Name: 9589, dtype: object
9590 1361 12 ORtg Last Month    113.417
Name: 9590, dtype: object
9591 1530 13 ORtg Last Month    117.692
Name: 9591, dtype: object
9592 1431 13 ORtg Last Month    110.077
Name: 9592, dtype: object
9593 1520 13 ORtg Last Month    116.923
Name: 9593, dtype: object
9594 1027 12 ORtg Last Month    85.5833
Name: 9594, dtype: object
9595 915 7 ORtg Last Month    130.714
Name: 9595, dtype: object
9596 1518 12 ORtg Last Month    126.5
Name: 9596, dtype: object
9597 1244 13 ORtg Last Month    95.6923
Name: 9597, dtype: object
9598 150 9 ORtg Last Month    16.6667
Name: 9598, dtype: object
9599 1536 15 ORtg Last Month    102.4
Name: 9599, dtype: object
9600 1019 9 ORtg Last Month    113.222
Name: 9600, dtype: object
9601 1538 15 ORtg Last Month    102.533
Name: 9601, dtype: object
9602 1474 16 ORtg Last Month    92.125
Name: 9602, dtype: object
9603 1486 14 ORtg Last Month    106.143
Name: 9603, dtype: object
9604 1408 15 ORtg Last Month    93.8667
Name: 9604, dtype: object
9605 699 7 ORtg Last Month    99.8571
Name: 9605, dtype: object
9606 383 4 ORtg Last Month    95.75
Name: 9606, dtype: object
9607 413 4 ORtg Last Month    103.25
Name: 9607, dtype: object
9608 2016 15 ORtg Last Month    134.4
Name: 9608, dtype: object
9609 830 15 ORtg Last Month    55.3333
Name: 9609, dtype: object
9610 549 12 ORtg Last Month    45.75
Name: 9610, dtype: object
9611 1422 13 ORtg Last Month    109.385
Name: 9611, dtype: object
9612 965 13 ORtg Last Month    74.2308
Name: 9612, dtype: object
9613 1180 12 ORtg Last Month    98.3333
Name: 9613, dtype: object
9614 1464 13 ORtg Last Month    112.615
Name: 9614, dtype: object
9615 1590 13 ORtg Last Month    122.308
Name: 9615, dtype: object
9616 1080 10 ORtg Last Month    108
Name: 9616, dtype: object
9617 408 12 ORtg Last Month    34
Name: 9617, dtype: object
9618 1409 13 ORtg Last Month    108.385
Name: 9618, dtype: object
9619 1228 10 ORtg Last Month    122.8
Name: 9619, dtype: object
9620 749 11 ORtg Last Month    68.0909
Name: 9620, dtype: object
9621 1307 13 ORtg Last Month    100.538
Name: 9621, dtype: object
9622 1429 13 ORtg Last Month    109.923
Name: 9622, dtype: object
9623 1079 13 ORtg Last Month    83
Name: 9623, dtype: object
9624 547 13 ORtg Last Month    42.0769
Name: 9624, dtype: object
9625 463 11 ORtg Last Month    42.0909
Name: 9625, dtype: object
9626 0 0 ORtg Last Month    0
Name: 9626, dtype: object
9627 0 0 ORtg Last Month    0
Name: 9627, dtype: object
9628 1077 11 ORtg Last Month    97.9091
Name: 9628, dtype: object
9629 313 5 ORtg Last Month    62.6
Name: 9629, dtype: object
9630 1345 12 ORtg Last Month    112.083
Name: 9630, dtype: object
9631 1347 13 ORtg Last Month    103.615
Name: 9631, dtype: object
9632 1469 13 ORtg Last Month    113
Name: 9632, dtype: object
9633 1166 13 ORtg Last Month    89.6923
Name: 9633, dtype: object
9634 1512 15 ORtg Last Month    100.8
Name: 9634, dtype: object
9635 632 5 ORtg Last Month    126.4
Name: 9635, dtype: object
9636 1329 15 ORtg Last Month    88.6
Name: 9636, dtype: object
9637 1538 15 ORtg Last Month    102.533
Name: 9637, dtype: object
9638 1719 15 ORtg Last Month    114.6
Name: 9638, dtype: object
9639 2093 15 ORtg Last Month    139.533
Name: 9639, dtype: object
9640 616 6 ORtg Last Month    102.667
Name: 9640, dtype: object
9641 928 11 ORtg Last Month    84.3636
Name: 9641, dtype: object
9642 190 3 ORtg Last Month    63.3333
Name: 9642, dtype: object
9643 1586 15 ORtg Last Month    105.733
Name: 9643, dtype: object
9644 1937 15 ORtg Last Month    129.133
Name: 9644, dtype: object
9645 161 2 ORtg Last Month    80.5
Name: 9645, dtype: object
9646 1248 13 ORtg Last Month    96
Name: 9646, dtype: object
9647 1493 13 ORtg Last Month    114.846
Name: 9647, dtype: object
9648 1191 13 ORtg Last Month    91.6154
Name: 9648, dtype: object
9649 1375 13 ORtg Last Month    105.769
Name: 9649, dtype: object
9650 1557 13 ORtg Last Month    119.769
Name: 9650, dtype: object
9651 1394 13 ORtg Last Month    107.231
Name: 9651, dtype: object
9652 1161 13 ORtg Last Month    89.3077
Name: 9652, dtype: object
9653 0 4 ORtg Last Month    0
Name: 9653, dtype: object
9654 1215 12 ORtg Last Month    101.25
Name: 9654, dtype: object
9655 1352 12 ORtg Last Month    112.667
Name: 9655, dtype: object
9656 534 13 ORtg Last Month    41.0769
Name: 9656, dtype: object
9657 1706 15 ORtg Last Month    113.733
Name: 9657, dtype: object
9658 1262 15 ORtg Last Month    84.1333
Name: 9658, dtype: object
9659 1770 15 ORtg Last Month    118
Name: 9659, dtype: object
9660 1423 15 ORtg Last Month    94.8667
Name: 9660, dtype: object
9661 1239 12 ORtg Last Month    103.25
Name: 9661, dtype: object
9662 1594 15 ORtg Last Month    106.267
Name: 9662, dtype: object
9663 828 15 ORtg Last Month    55.2
Name: 9663, dtype: object
9664 1397 13 ORtg Last Month    107.462
Name: 9664, dtype: object
9665 1628 15 ORtg Last Month    108.533
Name: 9665, dtype: object
9666 1635 15 ORtg Last Month    109
Name: 9666, dtype: object
9667 336 4 ORtg Last Month    84
Name: 9667, dtype: object
9668 298 12 ORtg Last Month    24.8333
Name: 9668, dtype: object
9669 959 10 ORtg Last Month    95.9
Name: 9669, dtype: object
9670 1255 12 ORtg Last Month    104.583
Name: 9670, dtype: object
9671 845 8 ORtg Last Month    105.625
Name: 9671, dtype: object
9672 1311 14 ORtg Last Month    93.6429
Name: 9672, dtype: object
9673 696 11 ORtg Last Month    63.2727
Name: 9673, dtype: object
9674 1453 14 ORtg Last Month    103.786
Name: 9674, dtype: object
9675 1425 14 ORtg Last Month    101.786
Name: 9675, dtype: object
9676 1015 11 ORtg Last Month    92.2727
Name: 9676, dtype: object
9677 218 14 ORtg Last Month    15.5714
Name: 9677, dtype: object
9678 1468 14 ORtg Last Month    104.857
Name: 9678, dtype: object
9679 1738 14 ORtg Last Month    124.143
Name: 9679, dtype: object
9680 1597 13 ORtg Last Month    122.846
Name: 9680, dtype: object
9681 1602 13 ORtg Last Month    123.231
Name: 9681, dtype: object
9682 358 9 ORtg Last Month    39.7778
Name: 9682, dtype: object
9683 772 8 ORtg Last Month    96.5
Name: 9683, dtype: object
9684 1480 13 ORtg Last Month    113.846
Name: 9684, dtype: object
9685 1256 12 ORtg Last Month    104.667
Name: 9685, dtype: object
9686 1218 12 ORtg Last Month    101.5
Name: 9686, dtype: object
9687 1351 13 ORtg Last Month    103.923
Name: 9687, dtype: object
9688 1262 12 ORtg Last Month    105.167
Name: 9688, dtype: object
9689 1333 13 ORtg Last Month    102.538
Name: 9689, dtype: object

9690 808 10 ORtg Last Month    80.8
Name: 9690, dtype: object
9691 1003 13 ORtg Last Month    77.1538
Name: 9691, dtype: object
9692 551 15 ORtg Last Month    36.7333
Name: 9692, dtype: object
9693 1542 14 ORtg Last Month    110.143
Name: 9693, dtype: object
9694 1560 13 ORtg Last Month    120
Name: 9694, dtype: object
9695 1718 14 ORtg Last Month    122.714
Name: 9695, dtype: object
9696 1579 13 ORtg Last Month    121.462
Name: 9696, dtype: object
9697 1284 14 ORtg Last Month    91.7143
Name: 9697, dtype: object
9698 1372 12 ORtg Last Month    114.333
Name: 9698, dtype: object
9699 655 13 ORtg Last Month    50.3846
Name: 9699, dtype: object
9700 253 13 ORtg Last Month    19.4615
Name: 9700, dtype: object
9701 39 13 ORtg Last Month    3
Name: 9701, dtype: object
9702 164 13 ORtg Last Month    12.6154
Name: 9702, dtype: object
9703 1559 14 ORtg Last Month    111.357
Name: 9703, dtype: object
9704 1792 14 ORtg Last Month    128
Name: 9704, dtype: object
9705 1416 14 ORtg Last Month    101.143
Name: 9705, dtype: object
9706 1897 17 ORtg Last Month    111.588
Name: 9706, dtype: object
9707 1314 17 ORtg Last Month    77.2941
Name: 9707, dtype: object
9708 467 11 ORtg Last Month    42.4545
Name: 9708, dtype: object
9709 1300 12 ORtg Last Month    108.333
Name: 9709, dtype: object
9710 904 16 ORtg Last Month    56.5
Name: 9710, dtype: object
9711 959 17 ORtg Last Month    56.4118
Name: 9711, dtype: object
9712 1663 17 ORtg Last Month    97.8235
Name: 9712, dtype: object
9713 92 4 ORtg Last Month    23
Name: 9713, dtype: object
9714 1255 16 ORtg Last Month    78.4375
Name: 9714, dtype: object
9715 1983 16 ORtg Last Month    123.938
Name: 9715, dtype: object
9716 1964 17 ORtg Last Month    115.529
Name: 9716, dtype: object
9717 1231 17 ORtg Last Month    72.4118
Name: 9717, dtype: object
9718 359 15 ORtg Last Month    23.9333
Name: 9718, dtype: object
9719 1450 14 ORtg Last Month    103.571
Name: 9719, dtype: object
9720 930 13 ORtg Last Month    71.5385
Name: 9720, dtype: object
9721 324 12 ORtg Last Month    27
Name: 9721, dtype: object
9722 1176 14 ORtg Last Month    84
Name: 9722, dtype: object
9723 1160 14 ORtg Last Month    82.8571
Name: 9723, dtype: object
9724 900 14 ORtg Last Month    64.2857
Name: 9724, dtype: object
9725 1704 14 ORtg Last Month    121.714
Name: 9725, dtype: object
9726 1731 14 ORtg Last Month    123.643
Name: 9726, dtype: object
9727 1782 14 ORtg Last Month    127.286
Name: 9727, dtype: object
9728 0 4 ORtg Last Month    0
Name: 9728, dtype: object
9729 1029 10 ORtg Last Month    102.9
Name: 9729, dtype: object
9730 1382 13 ORtg Last Month    106.308
Name: 9730, dtype: object
9731 797 13 ORtg Last Month    61.3077
Name: 9731, dtype: object
9732 1587 13 ORtg Last Month    122.077
Name: 9732, dtype: object
9733 1559 13 ORtg Last Month    119.923
Name: 9733, dtype: object
9734 526 11 ORtg Last Month    47.8182
Name: 9734, dtype: object
9735 834 7 ORtg Last Month    119.143
Name: 9735, dtype: object
9736 971 10 ORtg Last Month    97.1
Name: 9736, dtype: object
9737 477 13 ORtg Last Month    36.6923
Name: 9737, dtype: object
9738 1565 13 ORtg Last Month    120.385
Name: 9738, dtype: object
9739 1490 12 ORtg Last Month    124.167
Name: 9739, dtype: object
9740 786 13 ORtg Last Month    60.4615
Name: 9740, dtype: object
9741 1658 14 ORtg Last Month    118.429
Name: 9741, dtype: object
9742 1115 14 ORtg Last Month    79.6429
Name: 9742, dtype: object
9743 1765 14 ORtg Last Month    126.071
Name: 9743, dtype: object
9744 385 7 ORtg Last Month    55
Name: 9744, dtype: object
9745 69 7 ORtg Last Month    9.85714
Name: 9745, dtype: object
9746 1375 14 ORtg Last Month    98.2143
Name: 9746, dtype: object
9747 1463 13 ORtg Last Month    112.538
Name: 9747, dtype: object
9748 1647 14 ORtg Last Month    117.643
Name: 9748, dtype: object
9749 1421 13 ORtg Last Month    109.308
Name: 9749, dtype: object
9750 963 14 ORtg Last Month    68.7857
Name: 9750, dtype: object
9751 1645 14 ORtg Last Month    117.5
Name: 9751, dtype: object
9752 691 10 ORtg Last Month    69.1
Name: 9752, dtype: object
9753 212 14 ORtg Last Month    15.1429
Name: 9753, dtype: object
9754 1178 13 ORtg Last Month    90.6154
Name: 9754, dtype: object
9755 1593 14 ORtg Last Month    113.786
Name: 9755, dtype: object
9756 1237 14 ORtg Last Month    88.3571
Name: 9756, dtype: object
9757 773 13 ORtg Last Month    59.4615
Name: 9757, dtype: object
9758 1610 14 ORtg Last Month    115
Name: 9758, dtype: object
9759 1805 14 ORtg Last Month    128.929
Name: 9759, dtype: object
9760 1451 14 ORtg Last Month    103.643
Name: 9760, dtype: object
9761 487 13 ORtg Last Month    37.4615
Name: 9761, dtype: object
9762 585 13 ORtg Last Month    45
Name: 9762, dtype: object
9763 1442 13 ORtg Last Month    110.923
Name: 9763, dtype: object
9764 1527 13 ORtg Last Month    117.462
Name: 9764, dtype: object
9765 1509 13 ORtg Last Month    116.077
Name: 9765, dtype: object
9766 1424 13 ORtg Last Month    109.538
Name: 9766, dtype: object
9767 1288 11 ORtg Last Month    117.091
Name: 9767, dtype: object
9768 1740 13 ORtg Last Month    133.846
Name: 9768, dtype: object
9769 979 13 ORtg Last Month    75.3077
Name: 9769, dtype: object
9770 1262 11 ORtg Last Month    114.727
Name: 9770, dtype: object
9771 1339 13 ORtg Last Month    103
Name: 9771, dtype: object
9772 389 5 ORtg Last Month    77.8
Name: 9772, dtype: object
9773 1411 13 ORtg Last Month    108.538
Name: 9773, dtype: object
9774 1436 16 ORtg Last Month    89.75
Name: 9774, dtype: object
9775 1771 16 ORtg Last Month    110.688
Name: 9775, dtype: object
9776 1666 16 ORtg Last Month    104.125
Name: 9776, dtype: object
9777 355 16 ORtg Last Month    22.1875
Name: 9777, dtype: object
9778 1935 16 ORtg Last Month    120.938
Name: 9778, dtype: object
9779 2127 16 ORtg Last Month    132.938
Name: 9779, dtype: object
9780 1103 11 ORtg Last Month    100.273
Name: 9780, dtype: object
9781 1134 13 ORtg Last Month    87.2308
Name: 9781, dtype: object
9782 424 15 ORtg Last Month    28.2667
Name: 9782, dtype: object
9783 1707 15 ORtg Last Month    113.8
Name: 9783, dtype: object
9784 1819 16 ORtg Last Month    113.688
Name: 9784, dtype: object
9785 492 15 ORtg Last Month    32.8
Name: 9785, dtype: object
9786 1275 14 ORtg Last Month    91.0714
Name: 9786, dtype: object
9787 1578 16 ORtg Last Month    98.625
Name: 9787, dtype: object
9788 1268 16 ORtg Last Month    79.25
Name: 9788, dtype: object
9789 400 13 ORtg Last Month    30.7692
Name: 9789, dtype: object
9790 1022 11 ORtg Last Month    92.9091
Name: 9790, dtype: object
9791 1739 16 ORtg Last Month    108.688
Name: 9791, dtype: object
9792 1546 16 ORtg Last Month    96.625
Name: 9792, dtype: object
9793 1507 16 ORtg Last Month    94.1875
Name: 9793, dtype: object
9794 916 16 ORtg Last Month    57.25
Name: 9794, dtype: object
9795 865 10 ORtg Last Month    86.5
Name: 9795, dtype: object
9796 2105 16 ORtg Last Month    131.562
Name: 9796, dtype: object
9797 2004 16 ORtg Last Month    125.25
Name: 9797, dtype: object
9798 1200 16 ORtg Last Month    75
Name: 9798, dtype: object
9799 1289 14 ORtg Last Month    92.0714
Name: 9799, dtype: object
9800 1647 15 ORtg Last Month    109.8
Name: 9800, dtype: object
9801 1975 15 ORtg Last Month    131.667
Name: 9801, dtype: object
9802 1207 15 ORtg Last Month    80.4667
Name: 9802, dtype: object
9803 273 2 ORtg Last Month    136.5
Name: 9803, dtype: object
9804 1394 13 ORtg Last Month    107.231
Name: 9804, dtype: object
9805 1507 15 ORtg Last Month    100.467
Name: 9805, dtype: object
9806 80 2 ORtg Last Month    40
Name: 9806, dtype: object
9807 1595 15 ORtg Last Month    106.333
Name: 9807, dtype: object
9808 1664 14 ORtg Last Month    118.857
Name: 9808, dtype: object
9809 869 15 ORtg Last Month    57.9333
Name: 9809, dtype: object
9810 1286 13 ORtg Last Month    98.9231
Name: 9810, dtype: object
9811 1324 14 ORtg Last Month    94.5714
Name: 9811, dtype: object
9812 132 1 ORtg Last Month    132
Name: 9812, dtype: object
9813 1203 14 ORtg Last Month    85.9286
Name: 9813, dtype: object
9814 846 13 ORtg Last Month    65.0769
Name: 9814, dtype: object
9815 1380 14 ORtg Last Month    98.5714
Name: 9815, dtype: object
9816 1403 14 ORtg Last Month    100.214
Name: 9816, dtype: object

9817 448 6 ORtg Last Month    74.6667
Name: 9817, dtype: object
9818 1310 14 ORtg Last Month    93.5714
Name: 9818, dtype: object
9819 105 1 ORtg Last Month    105
Name: 9819, dtype: object
9820 1186 14 ORtg Last Month    84.7143
Name: 9820, dtype: object
9821 758 14 ORtg Last Month    54.1429
Name: 9821, dtype: object
9822 1038 13 ORtg Last Month    79.8462
Name: 9822, dtype: object
9823 1418 13 ORtg Last Month    109.077
Name: 9823, dtype: object
9824 1210 12 ORtg Last Month    100.833
Name: 9824, dtype: object
9825 1488 13 ORtg Last Month    114.462
Name: 9825, dtype: object
9826 1638 13 ORtg Last Month    126
Name: 9826, dtype: object
9827 1023 10 ORtg Last Month    102.3
Name: 9827, dtype: object
9828 408 12 ORtg Last Month    34
Name: 9828, dtype: object
9829 1426 13 ORtg Last Month    109.692
Name: 9829, dtype: object
9830 1150 10 ORtg Last Month    115
Name: 9830, dtype: object
9831 0 0 ORtg Last Month    0
Name: 9831, dtype: object
9832 749 11 ORtg Last Month    68.0909
Name: 9832, dtype: object
9833 1639 14 ORtg Last Month    117.071
Name: 9833, dtype: object
9834 1240 12 ORtg Last Month    103.333
Name: 9834, dtype: object
9835 0 0 ORtg Last Month    0
Name: 9835, dtype: object
9836 1151 13 ORtg Last Month    88.5385
Name: 9836, dtype: object
9837 859 8 ORtg Last Month    107.375
Name: 9837, dtype: object
9838 1519 14 ORtg Last Month    108.5
Name: 9838, dtype: object
9839 1450 14 ORtg Last Month    103.571
Name: 9839, dtype: object
9840 1178 11 ORtg Last Month    107.091
Name: 9840, dtype: object
9841 1048 13 ORtg Last Month    80.6154
Name: 9841, dtype: object
9842 1947 14 ORtg Last Month    139.071
Name: 9842, dtype: object
9843 603 6 ORtg Last Month    100.5
Name: 9843, dtype: object
9844 929 12 ORtg Last Month    77.4167
Name: 9844, dtype: object
9845 1482 14 ORtg Last Month    105.857
Name: 9845, dtype: object
9846 1458 14 ORtg Last Month    104.143
Name: 9846, dtype: object
9847 631 14 ORtg Last Month    45.0714
Name: 9847, dtype: object
9848 463 13 ORtg Last Month    35.6154
Name: 9848, dtype: object
9849 1647 13 ORtg Last Month    126.692
Name: 9849, dtype: object
9850 1564 14 ORtg Last Month    111.714
Name: 9850, dtype: object
9851 1386 14 ORtg Last Month    99
Name: 9851, dtype: object
9852 925 14 ORtg Last Month    66.0714
Name: 9852, dtype: object
9853 1282 13 ORtg Last Month    98.6154
Name: 9853, dtype: object
9854 1714 14 ORtg Last Month    122.429
Name: 9854, dtype: object
9855 982 13 ORtg Last Month    75.5385
Name: 9855, dtype: object
9856 1562 14 ORtg Last Month    111.571
Name: 9856, dtype: object
9857 1227 14 ORtg Last Month    87.6429
Name: 9857, dtype: object
9858 50 3 ORtg Last Month    16.6667
Name: 9858, dtype: object
9859 1632 14 ORtg Last Month    116.571
Name: 9859, dtype: object
9860 1494 14 ORtg Last Month    106.714
Name: 9860, dtype: object
9861 1011 14 ORtg Last Month    72.2143
Name: 9861, dtype: object
9862 1632 14 ORtg Last Month    116.571
Name: 9862, dtype: object
9863 1075 14 ORtg Last Month    76.7857
Name: 9863, dtype: object
9864 1532 14 ORtg Last Month    109.429
Name: 9864, dtype: object
9865 2087 14 ORtg Last Month    149.071
Name: 9865, dtype: object
9866 184 13 ORtg Last Month    14.1538
Name: 9866, dtype: object
9867 21 14 ORtg Last Month    1.5
Name: 9867, dtype: object
9868 1600 13 ORtg Last Month    123.077
Name: 9868, dtype: object
9869 1105 13 ORtg Last Month    85
Name: 9869, dtype: object
9870 643 13 ORtg Last Month    49.4615
Name: 9870, dtype: object
9871 1353 13 ORtg Last Month    104.077
Name: 9871, dtype: object
9872 1214 12 ORtg Last Month    101.167
Name: 9872, dtype: object
9873 1093 12 ORtg Last Month    91.0833
Name: 9873, dtype: object
9874 1261 13 ORtg Last Month    97
Name: 9874, dtype: object
9875 1385 13 ORtg Last Month    106.538
Name: 9875, dtype: object
9876 1545 13 ORtg Last Month    118.846
Name: 9876, dtype: object
9877 1270 13 ORtg Last Month    97.6923
Name: 9877, dtype: object
9878 658 13 ORtg Last Month    50.6154
Name: 9878, dtype: object
9879 428 13 ORtg Last Month    32.9231
Name: 9879, dtype: object
9880 1218 14 ORtg Last Month    87
Name: 9880, dtype: object
9881 1129 9 ORtg Last Month    125.444
Name: 9881, dtype: object
9882 743 15 ORtg Last Month    49.5333
Name: 9882, dtype: object
9883 53 2 ORtg Last Month    26.5
Name: 9883, dtype: object
9884 1172 13 ORtg Last Month    90.1538
Name: 9884, dtype: object
9885 1114 10 ORtg Last Month    111.4
Name: 9885, dtype: object
9886 1382 15 ORtg Last Month    92.1333
Name: 9886, dtype: object
9887 1530 15 ORtg Last Month    102
Name: 9887, dtype: object
9888 0 0 ORtg Last Month    0
Name: 9888, dtype: object
9889 1921 15 ORtg Last Month    128.067
Name: 9889, dtype: object
9890 1748 15 ORtg Last Month    116.533
Name: 9890, dtype: object
9891 526 15 ORtg Last Month    35.0667
Name: 9891, dtype: object
9892 68 15 ORtg Last Month    4.53333
Name: 9892, dtype: object
9893 1895 16 ORtg Last Month    118.438
Name: 9893, dtype: object
9894 1533 16 ORtg Last Month    95.8125
Name: 9894, dtype: object
9895 1800 16 ORtg Last Month    112.5
Name: 9895, dtype: object
9896 1772 15 ORtg Last Month    118.133
Name: 9896, dtype: object
9897 1767 16 ORtg Last Month    110.438
Name: 9897, dtype: object
9898 1521 16 ORtg Last Month    95.0625
Name: 9898, dtype: object
9899 1892 15 ORtg Last Month    126.133
Name: 9899, dtype: object
9900 690 16 ORtg Last Month    43.125
Name: 9900, dtype: object
9901 1675 16 ORtg Last Month    104.688
Name: 9901, dtype: object
9902 2241 16 ORtg Last Month    140.062
Name: 9902, dtype: object
9903 1346 12 ORtg Last Month    112.167
Name: 9903, dtype: object
9904 921 16 ORtg Last Month    57.5625
Name: 9904, dtype: object
9905 1154 9 ORtg Last Month    128.222
Name: 9905, dtype: object
9906 1089 13 ORtg Last Month    83.7692
Name: 9906, dtype: object
9907 902 13 ORtg Last Month    69.3846
Name: 9907, dtype: object
9908 578 7 ORtg Last Month    82.5714
Name: 9908, dtype: object
9909 238 2 ORtg Last Month    119
Name: 9909, dtype: object
9910 1405 13 ORtg Last Month    108.077
Name: 9910, dtype: object
9911 1165 13 ORtg Last Month    89.6154
Name: 9911, dtype: object
9912 152 4 ORtg Last Month    38
Name: 9912, dtype: object
9913 785 11 ORtg Last Month    71.3636
Name: 9913, dtype: object
9914 1118 12 ORtg Last Month    93.1667
Name: 9914, dtype: object
9915 1411 12 ORtg Last Month    117.583
Name: 9915, dtype: object
9916 971 12 ORtg Last Month    80.9167
Name: 9916, dtype: object
9917 1604 13 ORtg Last Month    123.385
Name: 9917, dtype: object
9918 1397 14 ORtg Last Month    99.7857
Name: 9918, dtype: object
9919 1695 14 ORtg Last Month    121.071
Name: 9919, dtype: object
9920 1102 14 ORtg Last Month    78.7143
Name: 9920, dtype: object
9921 1489 13 ORtg Last Month    114.538
Name: 9921, dtype: object
9922 1621 14 ORtg Last Month    115.786
Name: 9922, dtype: object
9923 1271 11 ORtg Last Month    115.545
Name: 9923, dtype: object
9924 1101 10 ORtg Last Month    110.1
Name: 9924, dtype: object
9925 1108 14 ORtg Last Month    79.1429
Name: 9925, dtype: object
9926 1210 14 ORtg Last Month    86.4286
Name: 9926, dtype: object
9927 790 7 ORtg Last Month    112.857
Name: 9927, dtype: object
9928 1167 12 ORtg Last Month    97.25
Name: 9928, dtype: object
9929 1788 15 ORtg Last Month    119.2
Name: 9929, dtype: object
9930 1493 15 ORtg Last Month    99.5333
Name: 9930, dtype: object
9931 1061 15 ORtg Last Month    70.7333
Name: 9931, dtype: object
9932 1414 13 ORtg Last Month    108.769
Name: 9932, dtype: object
9933 650 12 ORtg Last Month    54.1667
Name: 9933, dtype: object
9934 1440 15 ORtg Last Month    96
Name: 9934, dtype: object
9935 1560 15 ORtg Last Month    104
Name: 9935, dtype: object
9936 97 5 ORtg Last Month    19.4
Name: 9936, dtype: object
9937 227 1 ORtg Last Month    227
Name: 9937, dtype: object
9938 1388 14 ORtg Last Month    99.1429
Name: 9938, dtype: object
9939 1764 14 ORtg Last Month    126
Name: 9939, dtype: object
9940 1852 15 ORtg Last Month    123.467
Name: 9940, dtype: object
9941 320 14 ORtg Last Month    22.8571
Name: 9941, dtype: object
9942 1420 13 ORtg Last Month    109.231
Name: 9942, dtype: object
9943 1038 13 ORtg Last Month    79.8462
Name: 9943, dtype: object

9944 1140 11 ORtg Last Month    103.636
Name: 9944, dtype: object
9945 472 12 ORtg Last Month    39.3333
Name: 9945, dtype: object
9946 1470 13 ORtg Last Month    113.077
Name: 9946, dtype: object
9947 1515 13 ORtg Last Month    116.538
Name: 9947, dtype: object
9948 1364 12 ORtg Last Month    113.667
Name: 9948, dtype: object
9949 1452 13 ORtg Last Month    111.692
Name: 9949, dtype: object
9950 915 8 ORtg Last Month    114.375
Name: 9950, dtype: object
9951 939 12 ORtg Last Month    78.25
Name: 9951, dtype: object
9952 1456 12 ORtg Last Month    121.333
Name: 9952, dtype: object
9953 1221 13 ORtg Last Month    93.9231
Name: 9953, dtype: object
9954 1541 15 ORtg Last Month    102.733
Name: 9954, dtype: object
9955 1427 16 ORtg Last Month    89.1875
Name: 9955, dtype: object
9956 1165 10 ORtg Last Month    116.5
Name: 9956, dtype: object
9957 1537 15 ORtg Last Month    102.467
Name: 9957, dtype: object
9958 1505 14 ORtg Last Month    107.5
Name: 9958, dtype: object
9959 603 7 ORtg Last Month    86.1429
Name: 9959, dtype: object
9960 1501 15 ORtg Last Month    100.067
Name: 9960, dtype: object
9961 594 5 ORtg Last Month    118.8
Name: 9961, dtype: object
9962 540 5 ORtg Last Month    108
Name: 9962, dtype: object
9963 2010 15 ORtg Last Month    134
Name: 9963, dtype: object
9964 592 15 ORtg Last Month    39.4667
Name: 9964, dtype: object
9965 549 12 ORtg Last Month    45.75
Name: 9965, dtype: object
9966 1608 13 ORtg Last Month    123.692
Name: 9966, dtype: object
9967 1317 13 ORtg Last Month    101.308
Name: 9967, dtype: object
9968 1723 13 ORtg Last Month    132.538
Name: 9968, dtype: object
9969 716 13 ORtg Last Month    55.0769
Name: 9969, dtype: object
9970 1677 13 ORtg Last Month    129
Name: 9970, dtype: object
9971 1142 13 ORtg Last Month    87.8462
Name: 9971, dtype: object
9972 0 0 ORtg Last Month    0
Name: 9972, dtype: object
9973 306 13 ORtg Last Month    23.5385
Name: 9973, dtype: object
9974 380 11 ORtg Last Month    34.5455
Name: 9974, dtype: object
9975 1522 13 ORtg Last Month    117.077
Name: 9975, dtype: object
9976 1510 13 ORtg Last Month    116.154
Name: 9976, dtype: object
9977 104 6 ORtg Last Month    17.3333
Name: 9977, dtype: object
9978 700 6 ORtg Last Month    116.667
Name: 9978, dtype: object
9979 1382 14 ORtg Last Month    98.7143
Name: 9979, dtype: object
9980 1239 14 ORtg Last Month    88.5
Name: 9980, dtype: object
9981 1605 14 ORtg Last Month    114.643
Name: 9981, dtype: object
9982 569 5 ORtg Last Month    113.8
Name: 9982, dtype: object
9983 1755 14 ORtg Last Month    125.357
Name: 9983, dtype: object
9984 1020 10 ORtg Last Month    102
Name: 9984, dtype: object
9985 193 3 ORtg Last Month    64.3333
Name: 9985, dtype: object
9986 1749 14 ORtg Last Month    124.929
Name: 9986, dtype: object
9987 1411 14 ORtg Last Month    100.786
Name: 9987, dtype: object
9988 269 3 ORtg Last Month    89.6667
Name: 9988, dtype: object
9989 1584 14 ORtg Last Month    113.143
Name: 9989, dtype: object
9990 1352 14 ORtg Last Month    96.5714
Name: 9990, dtype: object
9991 1191 14 ORtg Last Month    85.0714
Name: 9991, dtype: object
9992 1516 14 ORtg Last Month    108.286
Name: 9992, dtype: object
9993 1653 14 ORtg Last Month    118.071
Name: 9993, dtype: object
9994 1242 14 ORtg Last Month    88.7143
Name: 9994, dtype: object
9995 1634 14 ORtg Last Month    116.714
Name: 9995, dtype: object
9996 0 5 ORtg Last Month    0
Name: 9996, dtype: object
9997 1448 13 ORtg Last Month    111.385
Name: 9997, dtype: object
9998 1327 13 ORtg Last Month    102.077
Name: 9998, dtype: object
9999 534 14 ORtg Last Month    38.1429
Name: 9999, dtype: object
10000 1703 15 ORtg Last Month    113.533
Name: 10000, dtype: object
10001 1391 15 ORtg Last Month    92.7333
Name: 10001, dtype: object
10002 1777 15 ORtg Last Month    118.467
Name: 10002, dtype: object
10003 1297 15 ORtg Last Month    86.4667
Name: 10003, dtype: object
10004 1590 15 ORtg Last Month    106
Name: 10004, dtype: object
10005 1441 13 ORtg Last Month    110.846
Name: 10005, dtype: object
10006 822 15 ORtg Last Month    54.8
Name: 10006, dtype: object
10007 1473 14 ORtg Last Month    105.214
Name: 10007, dtype: object
10008 0 4 ORtg Last Month    0
Name: 10008, dtype: object
10009 1589 15 ORtg Last Month    105.933
Name: 10009, dtype: object
10010 1669 15 ORtg Last Month    111.267
Name: 10010, dtype: object
10011 416 5 ORtg Last Month    83.2
Name: 10011, dtype: object
10012 298 12 ORtg Last Month    24.8333
Name: 10012, dtype: object
10013 784 8 ORtg Last Month    98
Name: 10013, dtype: object
10014 1212 12 ORtg Last Month    101
Name: 10014, dtype: object
10015 1042 11 ORtg Last Month    94.7273
Name: 10015, dtype: object
10016 1376 14 ORtg Last Month    98.2857
Name: 10016, dtype: object
10017 664 11 ORtg Last Month    60.3636
Name: 10017, dtype: object
10018 1092 12 ORtg Last Month    91
Name: 10018, dtype: object
10019 1342 14 ORtg Last Month    95.8571
Name: 10019, dtype: object
10020 1386 14 ORtg Last Month    99
Name: 10020, dtype: object
10021 218 14 ORtg Last Month    15.5714
Name: 10021, dtype: object
10022 1483 14 ORtg Last Month    105.929
Name: 10022, dtype: object
10023 1704 14 ORtg Last Month    121.714
Name: 10023, dtype: object
10024 1022 10 ORtg Last Month    102.2
Name: 10024, dtype: object
10025 1734 14 ORtg Last Month    123.857
Name: 10025, dtype: object
10026 772 9 ORtg Last Month    85.7778
Name: 10026, dtype: object
10027 442 10 ORtg Last Month    44.2
Name: 10027, dtype: object
10028 381 9 ORtg Last Month    42.3333
Name: 10028, dtype: object
10029 1592 14 ORtg Last Month    113.714
Name: 10029, dtype: object
10030 1262 13 ORtg Last Month    97.0769
Name: 10030, dtype: object
10031 1490 14 ORtg Last Month    106.429
Name: 10031, dtype: object
10032 1314 13 ORtg Last Month    101.077
Name: 10032, dtype: object
10033 1351 13 ORtg Last Month    103.923
Name: 10033, dtype: object
10034 1416 14 ORtg Last Month    101.143
Name: 10034, dtype: object
10035 878 11 ORtg Last Month    79.8182
Name: 10035, dtype: object
10036 1158 14 ORtg Last Month    82.7143
Name: 10036, dtype: object
10037 551 15 ORtg Last Month    36.7333
Name: 10037, dtype: object
10038 1548 15 ORtg Last Month    103.2
Name: 10038, dtype: object
10039 1025 14 ORtg Last Month    73.2143
Name: 10039, dtype: object
10040 1289 15 ORtg Last Month    85.9333
Name: 10040, dtype: object
10041 373 4 ORtg Last Month    93.25
Name: 10041, dtype: object
10042 969 15 ORtg Last Month    64.6
Name: 10042, dtype: object
10043 1832 15 ORtg Last Month    122.133
Name: 10043, dtype: object
10044 93 5 ORtg Last Month    18.6
Name: 10044, dtype: object
10045 1853 15 ORtg Last Month    123.533
Name: 10045, dtype: object
10046 1915 15 ORtg Last Month    127.667
Name: 10046, dtype: object
10047 1119 11 ORtg Last Month    101.727
Name: 10047, dtype: object
10048 1370 13 ORtg Last Month    105.385
Name: 10048, dtype: object
10049 721 13 ORtg Last Month    55.4615
Name: 10049, dtype: object
10050 1568 13 ORtg Last Month    120.615
Name: 10050, dtype: object
10051 1556 13 ORtg Last Month    119.692
Name: 10051, dtype: object
10052 850 7 ORtg Last Month    121.429
Name: 10052, dtype: object
10053 477 13 ORtg Last Month    36.6923
Name: 10053, dtype: object
10054 879 10 ORtg Last Month    87.9
Name: 10054, dtype: object
10055 507 11 ORtg Last Month    46.0909
Name: 10055, dtype: object
10056 1587 13 ORtg Last Month    122.077
Name: 10056, dtype: object
10057 1440 12 ORtg Last Month    120
Name: 10057, dtype: object
10058 682 13 ORtg Last Month    52.4615
Name: 10058, dtype: object
10059 1662 14 ORtg Last Month    118.714
Name: 10059, dtype: object
10060 1196 14 ORtg Last Month    85.4286
Name: 10060, dtype: object
10061 1704 14 ORtg Last Month    121.714
Name: 10061, dtype: object
10062 449 7 ORtg Last Month    64.1429
Name: 10062, dtype: object
10063 1617 14 ORtg Last Month    115.5
Name: 10063, dtype: object
10064 1472 13 ORtg Last Month    113.231
Name: 10064, dtype: object
10065 1332 14 ORtg Last Month    95.1429
Name: 10065, dtype: object
10066 0 3 ORtg Last Month    0
Name: 10066, dtype: object
10067 1396 13 ORtg Last Month    107.385
Name: 10067, dtype: object
10068 1560 13 ORtg Last Month    120
Name: 10068, dtype: object

10069 1015 14 ORtg Last Month    72.5
Name: 10069, dtype: object
10070 1708 15 ORtg Last Month    113.867
Name: 10070, dtype: object
10071 691 11 ORtg Last Month    62.8182
Name: 10071, dtype: object
10072 212 15 ORtg Last Month    14.1333
Name: 10072, dtype: object
10073 1239 14 ORtg Last Month    88.5
Name: 10073, dtype: object
10074 1724 15 ORtg Last Month    114.933
Name: 10074, dtype: object
10075 1339 15 ORtg Last Month    89.2667
Name: 10075, dtype: object
10076 970 10 ORtg Last Month    97
Name: 10076, dtype: object
10077 978 14 ORtg Last Month    69.8571
Name: 10077, dtype: object
10078 1632 15 ORtg Last Month    108.8
Name: 10078, dtype: object
10079 1451 15 ORtg Last Month    96.7333
Name: 10079, dtype: object
10080 1900 15 ORtg Last Month    126.667
Name: 10080, dtype: object
10081 531 14 ORtg Last Month    37.9286
Name: 10081, dtype: object
10082 1429 13 ORtg Last Month    109.923
Name: 10082, dtype: object
10083 789 13 ORtg Last Month    60.6923
Name: 10083, dtype: object
10084 1461 13 ORtg Last Month    112.385
Name: 10084, dtype: object
10085 1466 13 ORtg Last Month    112.769
Name: 10085, dtype: object
10086 1546 13 ORtg Last Month    118.923
Name: 10086, dtype: object
10087 1327 11 ORtg Last Month    120.636
Name: 10087, dtype: object
10088 1754 13 ORtg Last Month    134.923
Name: 10088, dtype: object
10089 388 6 ORtg Last Month    64.6667
Name: 10089, dtype: object
10090 1363 13 ORtg Last Month    104.846
Name: 10090, dtype: object
10091 477 6 ORtg Last Month    79.5
Name: 10091, dtype: object
10092 1399 11 ORtg Last Month    127.182
Name: 10092, dtype: object
10093 1318 13 ORtg Last Month    101.385
Name: 10093, dtype: object
10094 1769 16 ORtg Last Month    110.562
Name: 10094, dtype: object
10095 1644 16 ORtg Last Month    102.75
Name: 10095, dtype: object
10096 391 16 ORtg Last Month    24.4375
Name: 10096, dtype: object
10097 1481 16 ORtg Last Month    92.5625
Name: 10097, dtype: object
10098 1422 12 ORtg Last Month    118.5
Name: 10098, dtype: object
10099 2003 16 ORtg Last Month    125.188
Name: 10099, dtype: object
10100 1164 11 ORtg Last Month    105.818
Name: 10100, dtype: object
10101 2049 16 ORtg Last Month    128.062
Name: 10101, dtype: object
10102 1080 13 ORtg Last Month    83.0769
Name: 10102, dtype: object
10103 485 15 ORtg Last Month    32.3333
Name: 10103, dtype: object
10104 1689 15 ORtg Last Month    112.6
Name: 10104, dtype: object
10105 632 15 ORtg Last Month    42.1333
Name: 10105, dtype: object
10106 181 3 ORtg Last Month    60.3333
Name: 10106, dtype: object
10107 1650 15 ORtg Last Month    110
Name: 10107, dtype: object
10108 1264 14 ORtg Last Month    90.2857
Name: 10108, dtype: object
10109 1156 15 ORtg Last Month    77.0667
Name: 10109, dtype: object
10110 1933 15 ORtg Last Month    128.867
Name: 10110, dtype: object
10111 273 3 ORtg Last Month    91
Name: 10111, dtype: object
10112 80 3 ORtg Last Month    26.6667
Name: 10112, dtype: object
10113 1401 13 ORtg Last Month    107.769
Name: 10113, dtype: object
10114 1569 15 ORtg Last Month    104.6
Name: 10114, dtype: object
10115 1569 15 ORtg Last Month    104.6
Name: 10115, dtype: object
10116 1867 14 ORtg Last Month    133.357
Name: 10116, dtype: object
10117 792 15 ORtg Last Month    52.8
Name: 10117, dtype: object
10118 1559 13 ORtg Last Month    119.923
Name: 10118, dtype: object
10119 1685 14 ORtg Last Month    120.357
Name: 10119, dtype: object
10120 1419 14 ORtg Last Month    101.357
Name: 10120, dtype: object
10121 1049 14 ORtg Last Month    74.9286
Name: 10121, dtype: object
10122 1644 14 ORtg Last Month    117.429
Name: 10122, dtype: object
10123 1659 14 ORtg Last Month    118.5
Name: 10123, dtype: object
10124 1316 11 ORtg Last Month    119.636
Name: 10124, dtype: object
10125 1054 10 ORtg Last Month    105.4
Name: 10125, dtype: object
10126 1127 14 ORtg Last Month    80.5
Name: 10126, dtype: object
10127 1318 14 ORtg Last Month    94.1429
Name: 10127, dtype: object
10128 1160 12 ORtg Last Month    96.6667
Name: 10128, dtype: object
10129 856 8 ORtg Last Month    107
Name: 10129, dtype: object
10130 193 2 ORtg Last Month    96.5
Name: 10130, dtype: object
10131 1322 14 ORtg Last Month    94.4286
Name: 10131, dtype: object
10132 1106 14 ORtg Last Month    79
Name: 10132, dtype: object
10133 1319 14 ORtg Last Month    94.2143
Name: 10133, dtype: object
10134 795 13 ORtg Last Month    61.1538
Name: 10134, dtype: object
10135 504 7 ORtg Last Month    72
Name: 10135, dtype: object
10136 1452 14 ORtg Last Month    103.714
Name: 10136, dtype: object
10137 1139 11 ORtg Last Month    103.545
Name: 10137, dtype: object
10138 1285 14 ORtg Last Month    91.7857
Name: 10138, dtype: object
10139 1244 14 ORtg Last Month    88.8571
Name: 10139, dtype: object
10140 218 2 ORtg Last Month    109
Name: 10140, dtype: object
10141 591 14 ORtg Last Month    42.2143
Name: 10141, dtype: object
10142 1165 14 ORtg Last Month    83.2143
Name: 10142, dtype: object
10143 472 13 ORtg Last Month    36.3077
Name: 10143, dtype: object
10144 1512 14 ORtg Last Month    108
Name: 10144, dtype: object
10145 1202 12 ORtg Last Month    100.167
Name: 10145, dtype: object
10146 1575 14 ORtg Last Month    112.5
Name: 10146, dtype: object
10147 1601 14 ORtg Last Month    114.357
Name: 10147, dtype: object
10148 939 13 ORtg Last Month    72.2308
Name: 10148, dtype: object
10149 1625 14 ORtg Last Month    116.071
Name: 10149, dtype: object
10150 964 9 ORtg Last Month    107.111
Name: 10150, dtype: object
10151 1511 13 ORtg Last Month    116.231
Name: 10151, dtype: object
10152 1604 13 ORtg Last Month    123.385
Name: 10152, dtype: object
10153 1348 14 ORtg Last Month    96.2857
Name: 10153, dtype: object
10154 551 13 ORtg Last Month    42.3846
Name: 10154, dtype: object
10155 1446 13 ORtg Last Month    111.231
Name: 10155, dtype: object
10156 1343 13 ORtg Last Month    103.308
Name: 10156, dtype: object
10157 1201 13 ORtg Last Month    92.3846
Name: 10157, dtype: object
10158 463 11 ORtg Last Month    42.0909
Name: 10158, dtype: object
10159 888 8 ORtg Last Month    111
Name: 10159, dtype: object
10160 378 6 ORtg Last Month    63
Name: 10160, dtype: object
10161 1017 11 ORtg Last Month    92.4545
Name: 10161, dtype: object
10162 1354 13 ORtg Last Month    104.154
Name: 10162, dtype: object
10163 1369 12 ORtg Last Month    114.083
Name: 10163, dtype: object
10164 1201 13 ORtg Last Month    92.3846
Name: 10164, dtype: object
10165 1666 14 ORtg Last Month    119
Name: 10165, dtype: object
10166 1249 12 ORtg Last Month    104.083
Name: 10166, dtype: object
10167 44 1 ORtg Last Month    44
Name: 10167, dtype: object
10168 1151 13 ORtg Last Month    88.5385
Name: 10168, dtype: object
10169 1438 14 ORtg Last Month    102.714
Name: 10169, dtype: object
10170 1291 12 ORtg Last Month    107.583
Name: 10170, dtype: object
10171 1536 14 ORtg Last Month    109.714
Name: 10171, dtype: object
10172 1016 9 ORtg Last Month    112.889
Name: 10172, dtype: object
10173 976 13 ORtg Last Month    75.0769
Name: 10173, dtype: object
10174 1933 14 ORtg Last Month    138.071
Name: 10174, dtype: object
10175 777 7 ORtg Last Month    111
Name: 10175, dtype: object
10176 460 11 ORtg Last Month    41.8182
Name: 10176, dtype: object
10177 603 11 ORtg Last Month    54.8182
Name: 10177, dtype: object
10178 1068 13 ORtg Last Month    82.1538
Name: 10178, dtype: object
10179 1539 15 ORtg Last Month    102.6
Name: 10179, dtype: object
10180 1575 15 ORtg Last Month    105
Name: 10180, dtype: object
10181 478 14 ORtg Last Month    34.1429
Name: 10181, dtype: object
10182 680 15 ORtg Last Month    45.3333
Name: 10182, dtype: object
10183 1814 14 ORtg Last Month    129.571
Name: 10183, dtype: object
10184 1672 15 ORtg Last Month    111.467
Name: 10184, dtype: object
10185 1460 15 ORtg Last Month    97.3333
Name: 10185, dtype: object
10186 962 15 ORtg Last Month    64.1333
Name: 10186, dtype: object
10187 1813 15 ORtg Last Month    120.867
Name: 10187, dtype: object
10188 1352 14 ORtg Last Month    96.5714
Name: 10188, dtype: object
10189 1048 14 ORtg Last Month    74.8571
Name: 10189, dtype: object
10190 1200 14 ORtg Last Month    85.7143
Name: 10190, dtype: object
10191 1631 14 ORtg Last Month    116.5
Name: 10191, dtype: object

10192 50 4 ORtg Last Month    12.5
Name: 10192, dtype: object
10193 1596 14 ORtg Last Month    114
Name: 10193, dtype: object
10194 1079 14 ORtg Last Month    77.0714
Name: 10194, dtype: object
10195 1539 14 ORtg Last Month    109.929
Name: 10195, dtype: object
10196 1075 14 ORtg Last Month    76.7857
Name: 10196, dtype: object
10197 1604 14 ORtg Last Month    114.571
Name: 10197, dtype: object
10198 1500 14 ORtg Last Month    107.143
Name: 10198, dtype: object
10199 1984 14 ORtg Last Month    141.714
Name: 10199, dtype: object
10200 184 14 ORtg Last Month    13.1429
Name: 10200, dtype: object
10201 21 14 ORtg Last Month    1.5
Name: 10201, dtype: object
10202 1723 15 ORtg Last Month    114.867
Name: 10202, dtype: object
10203 0 3 ORtg Last Month    0
Name: 10203, dtype: object
10204 1279 15 ORtg Last Month    85.2667
Name: 10204, dtype: object
10205 1370 15 ORtg Last Month    91.3333
Name: 10205, dtype: object
10206 1514 14 ORtg Last Month    108.143
Name: 10206, dtype: object
10207 1640 15 ORtg Last Month    109.333
Name: 10207, dtype: object
10208 1473 15 ORtg Last Month    98.2
Name: 10208, dtype: object
10209 697 15 ORtg Last Month    46.4667
Name: 10209, dtype: object
10210 0 4 ORtg Last Month    0
Name: 10210, dtype: object
10211 1574 15 ORtg Last Month    104.933
Name: 10211, dtype: object
10212 1643 15 ORtg Last Month    109.533
Name: 10212, dtype: object
10213 559 6 ORtg Last Month    93.1667
Name: 10213, dtype: object
10214 298 12 ORtg Last Month    24.8333
Name: 10214, dtype: object
10215 1581 13 ORtg Last Month    121.615
Name: 10215, dtype: object
10216 1427 13 ORtg Last Month    109.769
Name: 10216, dtype: object
10217 1652 13 ORtg Last Month    127.077
Name: 10217, dtype: object
10218 1650 13 ORtg Last Month    126.923
Name: 10218, dtype: object
10219 1200 13 ORtg Last Month    92.3077
Name: 10219, dtype: object
10220 1386 12 ORtg Last Month    115.5
Name: 10220, dtype: object
10221 655 12 ORtg Last Month    54.5833
Name: 10221, dtype: object
10222 159 12 ORtg Last Month    13.25
Name: 10222, dtype: object
10223 39 12 ORtg Last Month    3.25
Name: 10223, dtype: object
10224 164 12 ORtg Last Month    13.6667
Name: 10224, dtype: object
10225 1468 13 ORtg Last Month    112.923
Name: 10225, dtype: object
10226 1382 13 ORtg Last Month    106.308
Name: 10226, dtype: object
10227 1209 12 ORtg Last Month    100.75
Name: 10227, dtype: object
10228 1306 13 ORtg Last Month    100.462
Name: 10228, dtype: object
10229 602 13 ORtg Last Month    46.3077
Name: 10229, dtype: object
10230 1528 13 ORtg Last Month    117.538
Name: 10230, dtype: object
10231 1575 13 ORtg Last Month    121.154
Name: 10231, dtype: object
10232 762 10 ORtg Last Month    76.2
Name: 10232, dtype: object
10233 507 11 ORtg Last Month    46.0909
Name: 10233, dtype: object
10234 735 7 ORtg Last Month    105
Name: 10234, dtype: object
10235 332 13 ORtg Last Month    25.5385
Name: 10235, dtype: object
10236 1582 13 ORtg Last Month    121.692
Name: 10236, dtype: object
10237 1311 12 ORtg Last Month    109.25
Name: 10237, dtype: object
10238 704 13 ORtg Last Month    54.1538
Name: 10238, dtype: object
10239 1523 13 ORtg Last Month    117.154
Name: 10239, dtype: object
10240 1107 12 ORtg Last Month    92.25
Name: 10240, dtype: object
10241 1336 13 ORtg Last Month    102.769
Name: 10241, dtype: object
10242 1308 13 ORtg Last Month    100.615
Name: 10242, dtype: object
10243 1632 13 ORtg Last Month    125.538
Name: 10243, dtype: object
10244 1318 13 ORtg Last Month    101.385
Name: 10244, dtype: object
10245 1181 12 ORtg Last Month    98.4167
Name: 10245, dtype: object
10246 1182 13 ORtg Last Month    90.9231
Name: 10246, dtype: object
10247 1118 13 ORtg Last Month    86
Name: 10247, dtype: object
10248 658 13 ORtg Last Month    50.6154
Name: 10248, dtype: object
10249 804 8 ORtg Last Month    100.5
Name: 10249, dtype: object
10250 861 9 ORtg Last Month    95.6667
Name: 10250, dtype: object
10251 1202 14 ORtg Last Month    85.8571
Name: 10251, dtype: object
10252 53 3 ORtg Last Month    17.6667
Name: 10252, dtype: object
10253 763 15 ORtg Last Month    50.8667
Name: 10253, dtype: object
10254 1110 10 ORtg Last Month    111
Name: 10254, dtype: object
10255 1500 15 ORtg Last Month    100
Name: 10255, dtype: object
10256 1350 15 ORtg Last Month    90
Name: 10256, dtype: object
10257 1652 15 ORtg Last Month    110.133
Name: 10257, dtype: object
10258 2016 15 ORtg Last Month    134.4
Name: 10258, dtype: object
10259 526 15 ORtg Last Month    35.0667
Name: 10259, dtype: object
10260 0 1 ORtg Last Month    0
Name: 10260, dtype: object
10261 68 15 ORtg Last Month    4.53333
Name: 10261, dtype: object
10262 1776 16 ORtg Last Month    111
Name: 10262, dtype: object
10263 1942 16 ORtg Last Month    121.375
Name: 10263, dtype: object
10264 1543 16 ORtg Last Month    96.4375
Name: 10264, dtype: object
10265 1746 16 ORtg Last Month    109.125
Name: 10265, dtype: object
10266 1553 16 ORtg Last Month    97.0625
Name: 10266, dtype: object
10267 1959 16 ORtg Last Month    122.438
Name: 10267, dtype: object
10268 2072 15 ORtg Last Month    138.133
Name: 10268, dtype: object
10269 798 16 ORtg Last Month    49.875
Name: 10269, dtype: object
10270 1758 16 ORtg Last Month    109.875
Name: 10270, dtype: object
10271 2229 16 ORtg Last Month    139.312
Name: 10271, dtype: object
10272 1461 12 ORtg Last Month    121.75
Name: 10272, dtype: object
10273 227 2 ORtg Last Month    113.5
Name: 10273, dtype: object
10274 1980 15 ORtg Last Month    132
Name: 10274, dtype: object
10275 1943 15 ORtg Last Month    129.533
Name: 10275, dtype: object
10276 1221 13 ORtg Last Month    93.9231
Name: 10276, dtype: object
10277 1648 15 ORtg Last Month    109.867
Name: 10277, dtype: object
10278 1538 15 ORtg Last Month    102.533
Name: 10278, dtype: object
10279 1572 15 ORtg Last Month    104.8
Name: 10279, dtype: object
10280 1182 12 ORtg Last Month    98.5
Name: 10280, dtype: object
10281 938 15 ORtg Last Month    62.5333
Name: 10281, dtype: object
10282 1225 15 ORtg Last Month    81.6667
Name: 10282, dtype: object
10283 1547 15 ORtg Last Month    103.133
Name: 10283, dtype: object
10284 1118 13 ORtg Last Month    86
Name: 10284, dtype: object
10285 858 13 ORtg Last Month    66
Name: 10285, dtype: object
10286 1159 9 ORtg Last Month    128.778
Name: 10286, dtype: object
10287 482 3 ORtg Last Month    160.667
Name: 10287, dtype: object
10288 581 7 ORtg Last Month    83
Name: 10288, dtype: object
10289 1146 13 ORtg Last Month    88.1538
Name: 10289, dtype: object
10290 785 12 ORtg Last Month    65.4167
Name: 10290, dtype: object
10291 247 4 ORtg Last Month    61.75
Name: 10291, dtype: object
10292 1429 13 ORtg Last Month    109.923
Name: 10292, dtype: object
10293 1216 13 ORtg Last Month    93.5385
Name: 10293, dtype: object
10294 1493 13 ORtg Last Month    114.846
Name: 10294, dtype: object
10295 996 12 ORtg Last Month    83
Name: 10295, dtype: object
10296 1495 15 ORtg Last Month    99.6667
Name: 10296, dtype: object
10297 1828 15 ORtg Last Month    121.867
Name: 10297, dtype: object
10298 952 15 ORtg Last Month    63.4667
Name: 10298, dtype: object
10299 1415 13 ORtg Last Month    108.846
Name: 10299, dtype: object
10300 1623 15 ORtg Last Month    108.2
Name: 10300, dtype: object
10301 745 12 ORtg Last Month    62.0833
Name: 10301, dtype: object
10302 1464 15 ORtg Last Month    97.6
Name: 10302, dtype: object
10303 1412 14 ORtg Last Month    100.857
Name: 10303, dtype: object
10304 1916 15 ORtg Last Month    127.733
Name: 10304, dtype: object
10305 1918 15 ORtg Last Month    127.867
Name: 10305, dtype: object
10306 204 14 ORtg Last Month    14.5714
Name: 10306, dtype: object
10307 1592 15 ORtg Last Month    106.133
Name: 10307, dtype: object
10308 1290 10 ORtg Last Month    129
Name: 10308, dtype: object
10309 1482 15 ORtg Last Month    98.8
Name: 10309, dtype: object
10310 1459 16 ORtg Last Month    91.1875
Name: 10310, dtype: object
10311 1536 15 ORtg Last Month    102.4
Name: 10311, dtype: object
10312 1512 14 ORtg Last Month    108
Name: 10312, dtype: object
10313 602 7 ORtg Last Month    86
Name: 10313, dtype: object
10314 653 6 ORtg Last Month    108.833
Name: 10314, dtype: object
10315 540 6 ORtg Last Month    90
Name: 10315, dtype: object

10316 2012 15 ORtg Last Month    134.133
Name: 10316, dtype: object
10317 428 12 ORtg Last Month    35.6667
Name: 10317, dtype: object
10318 728 15 ORtg Last Month    48.5333
Name: 10318, dtype: object
10319 983 13 ORtg Last Month    75.6154
Name: 10319, dtype: object
10320 1443 13 ORtg Last Month    111
Name: 10320, dtype: object
10321 1214 12 ORtg Last Month    101.167
Name: 10321, dtype: object
10322 1424 13 ORtg Last Month    109.538
Name: 10322, dtype: object
10323 1518 13 ORtg Last Month    116.769
Name: 10323, dtype: object
10324 158 12 ORtg Last Month    13.1667
Name: 10324, dtype: object
10325 1434 13 ORtg Last Month    110.308
Name: 10325, dtype: object
10326 1108 10 ORtg Last Month    110.8
Name: 10326, dtype: object
10327 1037 10 ORtg Last Month    103.7
Name: 10327, dtype: object
10328 111 1 ORtg Last Month    111
Name: 10328, dtype: object
10329 529 11 ORtg Last Month    48.0909
Name: 10329, dtype: object
10330 1277 13 ORtg Last Month    98.2308
Name: 10330, dtype: object
10331 1653 13 ORtg Last Month    127.154
Name: 10331, dtype: object
10332 1636 13 ORtg Last Month    125.846
Name: 10332, dtype: object
10333 896 13 ORtg Last Month    68.9231
Name: 10333, dtype: object
10334 1120 13 ORtg Last Month    86.1538
Name: 10334, dtype: object
10335 1682 13 ORtg Last Month    129.385
Name: 10335, dtype: object
10336 184 1 ORtg Last Month    184
Name: 10336, dtype: object
10337 125 13 ORtg Last Month    9.61538
Name: 10337, dtype: object
10338 1526 13 ORtg Last Month    117.385
Name: 10338, dtype: object
10339 1510 13 ORtg Last Month    116.154
Name: 10339, dtype: object
10340 104 7 ORtg Last Month    14.8571
Name: 10340, dtype: object
10341 369 4 ORtg Last Month    92.25
Name: 10341, dtype: object
10342 1489 15 ORtg Last Month    99.2667
Name: 10342, dtype: object
10343 1721 15 ORtg Last Month    114.733
Name: 10343, dtype: object
10344 1191 15 ORtg Last Month    79.4
Name: 10344, dtype: object
10345 1652 15 ORtg Last Month    110.133
Name: 10345, dtype: object
10346 1775 15 ORtg Last Month    118.333
Name: 10346, dtype: object
10347 1709 15 ORtg Last Month    113.933
Name: 10347, dtype: object
10348 0 6 ORtg Last Month    0
Name: 10348, dtype: object
10349 1451 14 ORtg Last Month    103.643
Name: 10349, dtype: object
10350 1568 14 ORtg Last Month    112
Name: 10350, dtype: object
10351 534 15 ORtg Last Month    35.6
Name: 10351, dtype: object
10352 1348 15 ORtg Last Month    89.8667
Name: 10352, dtype: object
10353 1693 15 ORtg Last Month    112.867
Name: 10353, dtype: object
10354 157 5 ORtg Last Month    31.4
Name: 10354, dtype: object
10355 1728 15 ORtg Last Month    115.2
Name: 10355, dtype: object
10356 1644 15 ORtg Last Month    109.6
Name: 10356, dtype: object
10357 1197 15 ORtg Last Month    79.8
Name: 10357, dtype: object
10358 1723 15 ORtg Last Month    114.867
Name: 10358, dtype: object
10359 1203 15 ORtg Last Month    80.2
Name: 10359, dtype: object
10360 303 15 ORtg Last Month    20.2
Name: 10360, dtype: object
10361 2092 15 ORtg Last Month    139.467
Name: 10361, dtype: object
10362 165 15 ORtg Last Month    11
Name: 10362, dtype: object
10363 1042 12 ORtg Last Month    86.8333
Name: 10363, dtype: object
10364 740 8 ORtg Last Month    92.5
Name: 10364, dtype: object
10365 1068 12 ORtg Last Month    89
Name: 10365, dtype: object
10366 1400 14 ORtg Last Month    100
Name: 10366, dtype: object
10367 807 12 ORtg Last Month    67.25
Name: 10367, dtype: object
10368 1350 14 ORtg Last Month    96.4286
Name: 10368, dtype: object
10369 1200 13 ORtg Last Month    92.3077
Name: 10369, dtype: object
10370 1381 14 ORtg Last Month    98.6429
Name: 10370, dtype: object
10371 124 14 ORtg Last Month    8.85714
Name: 10371, dtype: object
10372 1010 10 ORtg Last Month    101
Name: 10372, dtype: object
10373 1638 14 ORtg Last Month    117
Name: 10373, dtype: object
10374 1524 14 ORtg Last Month    108.857
Name: 10374, dtype: object
10375 1764 16 ORtg Last Month    110.25
Name: 10375, dtype: object
10376 1286 11 ORtg Last Month    116.909
Name: 10376, dtype: object
10377 1274 16 ORtg Last Month    79.625
Name: 10377, dtype: object
10378 580 10 ORtg Last Month    58
Name: 10378, dtype: object
10379 809 15 ORtg Last Month    53.9333
Name: 10379, dtype: object
10380 1073 16 ORtg Last Month    67.0625
Name: 10380, dtype: object
10381 1260 14 ORtg Last Month    90
Name: 10381, dtype: object
10382 1686 16 ORtg Last Month    105.375
Name: 10382, dtype: object
10383 1007 15 ORtg Last Month    67.1333
Name: 10383, dtype: object
10384 1874 15 ORtg Last Month    124.933
Name: 10384, dtype: object
10385 1917 16 ORtg Last Month    119.812
Name: 10385, dtype: object
10386 1033 16 ORtg Last Month    64.5625
Name: 10386, dtype: object
10387 359 14 ORtg Last Month    25.6429
Name: 10387, dtype: object
10388 1592 15 ORtg Last Month    106.133
Name: 10388, dtype: object
10389 898 8 ORtg Last Month    112.25
Name: 10389, dtype: object
10390 1001 14 ORtg Last Month    71.5
Name: 10390, dtype: object
10391 1327 15 ORtg Last Month    88.4667
Name: 10391, dtype: object
10392 479 5 ORtg Last Month    95.8
Name: 10392, dtype: object
10393 991 15 ORtg Last Month    66.0667
Name: 10393, dtype: object
10394 0 0 ORtg Last Month    0
Name: 10394, dtype: object
10395 1842 15 ORtg Last Month    122.8
Name: 10395, dtype: object
10396 1815 15 ORtg Last Month    121
Name: 10396, dtype: object
10397 233 6 ORtg Last Month    38.8333
Name: 10397, dtype: object
10398 1627 14 ORtg Last Month    116.214
Name: 10398, dtype: object
10399 1804 14 ORtg Last Month    128.857
Name: 10399, dtype: object
10400 1294 14 ORtg Last Month    92.4286
Name: 10400, dtype: object
10401 449 8 ORtg Last Month    56.125
Name: 10401, dtype: object
10402 1366 12 ORtg Last Month    113.833
Name: 10402, dtype: object
10403 1381 13 ORtg Last Month    106.231
Name: 10403, dtype: object
10404 1615 14 ORtg Last Month    115.357
Name: 10404, dtype: object
10405 1272 14 ORtg Last Month    90.8571
Name: 10405, dtype: object
10406 0 3 ORtg Last Month    0
Name: 10406, dtype: object
10407 1419 13 ORtg Last Month    109.154
Name: 10407, dtype: object
10408 1517 13 ORtg Last Month    116.692
Name: 10408, dtype: object
10409 935 14 ORtg Last Month    66.7857
Name: 10409, dtype: object
10410 1540 14 ORtg Last Month    110
Name: 10410, dtype: object
10411 854 14 ORtg Last Month    61
Name: 10411, dtype: object
10412 1638 14 ORtg Last Month    117
Name: 10412, dtype: object
10413 1585 14 ORtg Last Month    113.214
Name: 10413, dtype: object
10414 1627 14 ORtg Last Month    116.214
Name: 10414, dtype: object
10415 1865 14 ORtg Last Month    133.214
Name: 10415, dtype: object
10416 979 13 ORtg Last Month    75.3077
Name: 10416, dtype: object
10417 388 7 ORtg Last Month    55.4286
Name: 10417, dtype: object
10418 1384 12 ORtg Last Month    115.333
Name: 10418, dtype: object
10419 1513 14 ORtg Last Month    108.071
Name: 10419, dtype: object
10420 596 7 ORtg Last Month    85.1429
Name: 10420, dtype: object
10421 1318 14 ORtg Last Month    94.1429
Name: 10421, dtype: object
10422 1727 16 ORtg Last Month    107.938
Name: 10422, dtype: object
10423 391 16 ORtg Last Month    24.4375
Name: 10423, dtype: object
10424 1449 12 ORtg Last Month    120.75
Name: 10424, dtype: object
10425 1177 13 ORtg Last Month    90.5385
Name: 10425, dtype: object
10426 1277 12 ORtg Last Month    106.417
Name: 10426, dtype: object
10427 2027 16 ORtg Last Month    126.688
Name: 10427, dtype: object
10428 485 15 ORtg Last Month    32.3333
Name: 10428, dtype: object
10429 1825 16 ORtg Last Month    114.062
Name: 10429, dtype: object
10430 607 15 ORtg Last Month    40.4667
Name: 10430, dtype: object
10431 181 4 ORtg Last Month    45.25
Name: 10431, dtype: object
10432 1278 14 ORtg Last Month    91.2857
Name: 10432, dtype: object
10433 1677 15 ORtg Last Month    111.8
Name: 10433, dtype: object
10434 1909 15 ORtg Last Month    127.267
Name: 10434, dtype: object
10435 0 1 ORtg Last Month    0
Name: 10435, dtype: object
10436 190 4 ORtg Last Month    47.5
Name: 10436, dtype: object
10437 1471 13 ORtg Last Month    113.154
Name: 10437, dtype: object
10438 59 4 ORtg Last Month    14.75
Name: 10438, dtype: object
10439 1737 14 ORtg Last Month    124.071
Name: 10439, dtype: object

10440 1509 15 ORtg Last Month    100.6
Name: 10440, dtype: object
10441 611 15 ORtg Last Month    40.7333
Name: 10441, dtype: object
10442 1154 14 ORtg Last Month    82.4286
Name: 10442, dtype: object
10443 313 3 ORtg Last Month    104.333
Name: 10443, dtype: object
10444 1054 14 ORtg Last Month    75.2857
Name: 10444, dtype: object
10445 0 0 ORtg Last Month    0
Name: 10445, dtype: object
10446 1399 14 ORtg Last Month    99.9286
Name: 10446, dtype: object
10447 685 13 ORtg Last Month    52.6923
Name: 10447, dtype: object
10448 617 8 ORtg Last Month    77.125
Name: 10448, dtype: object
10449 1373 14 ORtg Last Month    98.0714
Name: 10449, dtype: object
10450 1062 11 ORtg Last Month    96.5455
Name: 10450, dtype: object
10451 294 3 ORtg Last Month    98
Name: 10451, dtype: object
10452 591 14 ORtg Last Month    42.2143
Name: 10452, dtype: object
10453 1306 14 ORtg Last Month    93.2857
Name: 10453, dtype: object
10454 1569 14 ORtg Last Month    112.071
Name: 10454, dtype: object
10455 674 14 ORtg Last Month    48.1429
Name: 10455, dtype: object
10456 1440 14 ORtg Last Month    102.857
Name: 10456, dtype: object
10457 1253 14 ORtg Last Month    89.5
Name: 10457, dtype: object
10458 463 12 ORtg Last Month    38.5833
Name: 10458, dtype: object
10459 1119 12 ORtg Last Month    93.25
Name: 10459, dtype: object
10460 984 9 ORtg Last Month    109.333
Name: 10460, dtype: object
10461 621 7 ORtg Last Month    88.7143
Name: 10461, dtype: object
10462 1483 13 ORtg Last Month    114.077
Name: 10462, dtype: object
10463 1471 14 ORtg Last Month    105.071
Name: 10463, dtype: object
10464 1272 14 ORtg Last Month    90.8571
Name: 10464, dtype: object
10465 1501 13 ORtg Last Month    115.462
Name: 10465, dtype: object
10466 1430 14 ORtg Last Month    102.143
Name: 10466, dtype: object
10467 842 7 ORtg Last Month    120.286
Name: 10467, dtype: object
10468 1364 13 ORtg Last Month    104.923
Name: 10468, dtype: object
10469 1194 14 ORtg Last Month    85.2857
Name: 10469, dtype: object
10470 1622 14 ORtg Last Month    115.857
Name: 10470, dtype: object
10471 1704 14 ORtg Last Month    121.714
Name: 10471, dtype: object
10472 1489 12 ORtg Last Month    124.083
Name: 10472, dtype: object
10473 544 5 ORtg Last Month    108.8
Name: 10473, dtype: object
10474 247 3 ORtg Last Month    82.3333
Name: 10474, dtype: object
10475 1306 14 ORtg Last Month    93.2857
Name: 10475, dtype: object
10476 1807 14 ORtg Last Month    129.071
Name: 10476, dtype: object
10477 1692 14 ORtg Last Month    120.857
Name: 10477, dtype: object
10478 1249 12 ORtg Last Month    104.083
Name: 10478, dtype: object
10479 44 2 ORtg Last Month    22
Name: 10479, dtype: object
10480 1151 13 ORtg Last Month    88.5385
Name: 10480, dtype: object
10481 1432 14 ORtg Last Month    102.286
Name: 10481, dtype: object
10482 1466 14 ORtg Last Month    104.714
Name: 10482, dtype: object
10483 1061 10 ORtg Last Month    106.1
Name: 10483, dtype: object
10484 1412 12 ORtg Last Month    117.667
Name: 10484, dtype: object
10485 819 13 ORtg Last Month    63
Name: 10485, dtype: object
10486 1944 14 ORtg Last Month    138.857
Name: 10486, dtype: object
10487 843 8 ORtg Last Month    105.375
Name: 10487, dtype: object
10488 300 11 ORtg Last Month    27.2727
Name: 10488, dtype: object
10489 1636 15 ORtg Last Month    109.067
Name: 10489, dtype: object
10490 1545 15 ORtg Last Month    103
Name: 10490, dtype: object
10491 541 15 ORtg Last Month    36.0667
Name: 10491, dtype: object
10492 1150 14 ORtg Last Month    82.1429
Name: 10492, dtype: object
10493 532 14 ORtg Last Month    38
Name: 10493, dtype: object
10494 1678 15 ORtg Last Month    111.867
Name: 10494, dtype: object
10495 1780 14 ORtg Last Month    127.143
Name: 10495, dtype: object
10496 1437 15 ORtg Last Month    95.8
Name: 10496, dtype: object
10497 846 15 ORtg Last Month    56.4
Name: 10497, dtype: object
10498 1807 15 ORtg Last Month    120.467
Name: 10498, dtype: object
10499 1252 14 ORtg Last Month    89.4286
Name: 10499, dtype: object
10500 1048 14 ORtg Last Month    74.8571
Name: 10500, dtype: object
10501 1729 14 ORtg Last Month    123.5
Name: 10501, dtype: object
10502 1335 15 ORtg Last Month    89
Name: 10502, dtype: object
10503 104 3 ORtg Last Month    34.6667
Name: 10503, dtype: object
10504 1402 15 ORtg Last Month    93.4667
Name: 10504, dtype: object
10505 1512 15 ORtg Last Month    100.8
Name: 10505, dtype: object
10506 1643 15 ORtg Last Month    109.533
Name: 10506, dtype: object
10507 1366 15 ORtg Last Month    91.0667
Name: 10507, dtype: object
10508 0 4 ORtg Last Month    0
Name: 10508, dtype: object
10509 679 15 ORtg Last Month    45.2667
Name: 10509, dtype: object
10510 1566 15 ORtg Last Month    104.4
Name: 10510, dtype: object
10511 1618 15 ORtg Last Month    107.867
Name: 10511, dtype: object
10512 614 7 ORtg Last Month    87.7143
Name: 10512, dtype: object
10513 298 12 ORtg Last Month    24.8333
Name: 10513, dtype: object
10514 1546 13 ORtg Last Month    118.923
Name: 10514, dtype: object
10515 511 11 ORtg Last Month    46.4545
Name: 10515, dtype: object
10516 724 9 ORtg Last Month    80.4444
Name: 10516, dtype: object
10517 373 8 ORtg Last Month    46.625
Name: 10517, dtype: object
10518 1497 13 ORtg Last Month    115.154
Name: 10518, dtype: object
10519 1043 12 ORtg Last Month    86.9167
Name: 10519, dtype: object
10520 1484 13 ORtg Last Month    114.154
Name: 10520, dtype: object
10521 1284 13 ORtg Last Month    98.7692
Name: 10521, dtype: object
10522 1129 12 ORtg Last Month    94.0833
Name: 10522, dtype: object
10523 1273 13 ORtg Last Month    97.9231
Name: 10523, dtype: object
10524 271 3 ORtg Last Month    90.3333
Name: 10524, dtype: object
10525 1191 13 ORtg Last Month    91.6154
Name: 10525, dtype: object
10526 301 14 ORtg Last Month    21.5
Name: 10526, dtype: object
10527 1479 13 ORtg Last Month    113.769
Name: 10527, dtype: object
10528 1592 13 ORtg Last Month    122.462
Name: 10528, dtype: object
10529 1425 13 ORtg Last Month    109.615
Name: 10529, dtype: object
10530 1286 12 ORtg Last Month    107.167
Name: 10530, dtype: object
10531 1175 13 ORtg Last Month    90.3846
Name: 10531, dtype: object
10532 1689 13 ORtg Last Month    129.923
Name: 10532, dtype: object
10533 723 12 ORtg Last Month    60.25
Name: 10533, dtype: object
10534 174 12 ORtg Last Month    14.5
Name: 10534, dtype: object
10535 164 12 ORtg Last Month    13.6667
Name: 10535, dtype: object
10536 39 12 ORtg Last Month    3.25
Name: 10536, dtype: object
10537 1492 13 ORtg Last Month    114.769
Name: 10537, dtype: object
10538 1469 12 ORtg Last Month    122.417
Name: 10538, dtype: object
10539 1262 13 ORtg Last Month    97.0769
Name: 10539, dtype: object
10540 1577 15 ORtg Last Month    105.133
Name: 10540, dtype: object
10541 997 14 ORtg Last Month    71.2143
Name: 10541, dtype: object
10542 822 8 ORtg Last Month    102.75
Name: 10542, dtype: object
10543 1300 15 ORtg Last Month    86.6667
Name: 10543, dtype: object
10544 1065 15 ORtg Last Month    71
Name: 10544, dtype: object
10545 587 6 ORtg Last Month    97.8333
Name: 10545, dtype: object
10546 0 1 ORtg Last Month    0
Name: 10546, dtype: object
10547 1839 15 ORtg Last Month    122.6
Name: 10547, dtype: object
10548 358 7 ORtg Last Month    51.1429
Name: 10548, dtype: object
10549 1841 15 ORtg Last Month    122.733
Name: 10549, dtype: object
10550 1296 13 ORtg Last Month    99.6923
Name: 10550, dtype: object
10551 1367 14 ORtg Last Month    97.6429
Name: 10551, dtype: object
10552 602 14 ORtg Last Month    43
Name: 10552, dtype: object
10553 1680 14 ORtg Last Month    120
Name: 10553, dtype: object
10554 1694 14 ORtg Last Month    121
Name: 10554, dtype: object
10555 635 12 ORtg Last Month    52.9167
Name: 10555, dtype: object
10556 931 11 ORtg Last Month    84.6364
Name: 10556, dtype: object
10557 834 8 ORtg Last Month    104.25
Name: 10557, dtype: object
10558 332 14 ORtg Last Month    23.7143
Name: 10558, dtype: object
10559 1687 14 ORtg Last Month    120.5
Name: 10559, dtype: object
10560 1407 13 ORtg Last Month    108.231
Name: 10560, dtype: object
10561 776 14 ORtg Last Month    55.4286
Name: 10561, dtype: object
10562 1694 14 ORtg Last Month    121
Name: 10562, dtype: object
10563 1443 14 ORtg Last Month    103.071
Name: 10563, dtype: object

10564 449 9 ORtg Last Month    49.8889
Name: 10564, dtype: object
10565 1900 14 ORtg Last Month    135.714
Name: 10565, dtype: object
10566 1434 13 ORtg Last Month    110.308
Name: 10566, dtype: object
10567 1623 14 ORtg Last Month    115.929
Name: 10567, dtype: object
10568 1391 12 ORtg Last Month    115.917
Name: 10568, dtype: object
10569 1115 14 ORtg Last Month    79.6429
Name: 10569, dtype: object
10570 200 4 ORtg Last Month    50
Name: 10570, dtype: object
10571 1428 13 ORtg Last Month    109.846
Name: 10571, dtype: object
10572 1536 13 ORtg Last Month    118.154
Name: 10572, dtype: object
10573 1020 14 ORtg Last Month    72.8571
Name: 10573, dtype: object
10574 946 9 ORtg Last Month    105.111
Name: 10574, dtype: object
10575 1265 15 ORtg Last Month    84.3333
Name: 10575, dtype: object
10576 967 10 ORtg Last Month    96.7
Name: 10576, dtype: object
10577 129 4 ORtg Last Month    32.25
Name: 10577, dtype: object
10578 763 16 ORtg Last Month    47.6875
Name: 10578, dtype: object
10579 1223 11 ORtg Last Month    111.182
Name: 10579, dtype: object
10580 1402 16 ORtg Last Month    87.625
Name: 10580, dtype: object
10581 1603 16 ORtg Last Month    100.188
Name: 10581, dtype: object
10582 1805 16 ORtg Last Month    112.812
Name: 10582, dtype: object
10583 2161 16 ORtg Last Month    135.062
Name: 10583, dtype: object
10584 526 16 ORtg Last Month    32.875
Name: 10584, dtype: object
10585 68 16 ORtg Last Month    4.25
Name: 10585, dtype: object
10586 0 2 ORtg Last Month    0
Name: 10586, dtype: object
10587 1689 14 ORtg Last Month    120.643
Name: 10587, dtype: object
10588 856 11 ORtg Last Month    77.8182
Name: 10588, dtype: object
10589 79 14 ORtg Last Month    5.64286
Name: 10589, dtype: object
10590 1637 14 ORtg Last Month    116.929
Name: 10590, dtype: object
10591 1075 11 ORtg Last Month    97.7273
Name: 10591, dtype: object
10592 1242 13 ORtg Last Month    95.5385
Name: 10592, dtype: object
10593 1304 14 ORtg Last Month    93.1429
Name: 10593, dtype: object
10594 745 13 ORtg Last Month    57.3077
Name: 10594, dtype: object
10595 1515 14 ORtg Last Month    108.214
Name: 10595, dtype: object
10596 1478 14 ORtg Last Month    105.571
Name: 10596, dtype: object
10597 1810 14 ORtg Last Month    129.286
Name: 10597, dtype: object
10598 386 13 ORtg Last Month    29.6923
Name: 10598, dtype: object
10599 945 14 ORtg Last Month    67.5
Name: 10599, dtype: object
10600 1565 14 ORtg Last Month    111.786
Name: 10600, dtype: object
10601 1594 14 ORtg Last Month    113.857
Name: 10601, dtype: object
10602 887 13 ORtg Last Month    68.2308
Name: 10602, dtype: object
10603 1942 14 ORtg Last Month    138.714
Name: 10603, dtype: object
10604 388 8 ORtg Last Month    48.5
Name: 10604, dtype: object
10605 1646 14 ORtg Last Month    117.571
Name: 10605, dtype: object
10606 1657 14 ORtg Last Month    118.357
Name: 10606, dtype: object
10607 256 4 ORtg Last Month    64
Name: 10607, dtype: object
10608 1202 14 ORtg Last Month    85.8571
Name: 10608, dtype: object
10609 757 8 ORtg Last Month    94.625
Name: 10609, dtype: object
10610 1525 14 ORtg Last Month    108.929
Name: 10610, dtype: object
10611 1548 16 ORtg Last Month    96.75
Name: 10611, dtype: object
10612 1897 16 ORtg Last Month    118.562
Name: 10612, dtype: object
10613 1645 16 ORtg Last Month    102.812
Name: 10613, dtype: object
10614 1714 16 ORtg Last Month    107.125
Name: 10614, dtype: object
10615 1906 16 ORtg Last Month    119.125
Name: 10615, dtype: object
10616 1600 16 ORtg Last Month    100
Name: 10616, dtype: object
10617 798 16 ORtg Last Month    49.875
Name: 10617, dtype: object
10618 1923 15 ORtg Last Month    128.2
Name: 10618, dtype: object
10619 1829 16 ORtg Last Month    114.312
Name: 10619, dtype: object
10620 1601 12 ORtg Last Month    133.417
Name: 10620, dtype: object
10621 2222 16 ORtg Last Month    138.875
Name: 10621, dtype: object
10622 227 3 ORtg Last Month    75.6667
Name: 10622, dtype: object
10623 1241 13 ORtg Last Month    95.4615
Name: 10623, dtype: object
10624 1529 15 ORtg Last Month    101.933
Name: 10624, dtype: object
10625 1184 15 ORtg Last Month    78.9333
Name: 10625, dtype: object
10626 436 11 ORtg Last Month    39.6364
Name: 10626, dtype: object
10627 1243 12 ORtg Last Month    103.583
Name: 10627, dtype: object
10628 1586 15 ORtg Last Month    105.733
Name: 10628, dtype: object
10629 1536 15 ORtg Last Month    102.4
Name: 10629, dtype: object
10630 1607 15 ORtg Last Month    107.133
Name: 10630, dtype: object
10631 1223 13 ORtg Last Month    94.0769
Name: 10631, dtype: object
10632 836 15 ORtg Last Month    55.7333
Name: 10632, dtype: object
10633 1987 15 ORtg Last Month    132.467
Name: 10633, dtype: object
10634 1872 15 ORtg Last Month    124.8
Name: 10634, dtype: object
10635 936 14 ORtg Last Month    66.8571
Name: 10635, dtype: object
10636 1172 13 ORtg Last Month    90.1538
Name: 10636, dtype: object
10637 1144 9 ORtg Last Month    127.111
Name: 10637, dtype: object
10638 934 13 ORtg Last Month    71.8462
Name: 10638, dtype: object
10639 712 4 ORtg Last Month    178
Name: 10639, dtype: object
10640 1180 13 ORtg Last Month    90.7692
Name: 10640, dtype: object
10641 1481 13 ORtg Last Month    113.923
Name: 10641, dtype: object
10642 344 5 ORtg Last Month    68.8
Name: 10642, dtype: object
10643 1064 13 ORtg Last Month    81.8462
Name: 10643, dtype: object
10644 1511 13 ORtg Last Month    116.231
Name: 10644, dtype: object
10645 1274 13 ORtg Last Month    98
Name: 10645, dtype: object
10646 1075 12 ORtg Last Month    89.5833
Name: 10646, dtype: object
10647 1403 14 ORtg Last Month    100.214
Name: 10647, dtype: object
10648 1742 14 ORtg Last Month    124.429
Name: 10648, dtype: object
10649 887 14 ORtg Last Month    63.3571
Name: 10649, dtype: object
10650 1340 12 ORtg Last Month    111.667
Name: 10650, dtype: object
10651 1459 14 ORtg Last Month    104.214
Name: 10651, dtype: object
10652 1344 14 ORtg Last Month    96
Name: 10652, dtype: object
10653 729 12 ORtg Last Month    60.75
Name: 10653, dtype: object
10654 1440 14 ORtg Last Month    102.857
Name: 10654, dtype: object
10655 1779 14 ORtg Last Month    127.071
Name: 10655, dtype: object
10656 1773 14 ORtg Last Month    126.643
Name: 10656, dtype: object
10657 311 14 ORtg Last Month    22.2143
Name: 10657, dtype: object
10658 1320 15 ORtg Last Month    88
Name: 10658, dtype: object
10659 1208 10 ORtg Last Month    120.8
Name: 10659, dtype: object
10660 1557 16 ORtg Last Month    97.3125
Name: 10660, dtype: object
10661 1649 15 ORtg Last Month    109.933
Name: 10661, dtype: object
10662 1665 16 ORtg Last Month    104.062
Name: 10662, dtype: object
10663 714 7 ORtg Last Month    102
Name: 10663, dtype: object
10664 731 8 ORtg Last Month    91.375
Name: 10664, dtype: object
10665 2116 16 ORtg Last Month    132.25
Name: 10665, dtype: object
10666 542 13 ORtg Last Month    41.6923
Name: 10666, dtype: object
10667 806 16 ORtg Last Month    50.375
Name: 10667, dtype: object
10668 1446 13 ORtg Last Month    111.231
Name: 10668, dtype: object
10669 1078 13 ORtg Last Month    82.9231
Name: 10669, dtype: object
10670 1227 12 ORtg Last Month    102.25
Name: 10670, dtype: object
10671 1387 13 ORtg Last Month    106.692
Name: 10671, dtype: object
10672 1487 13 ORtg Last Month    114.385
Name: 10672, dtype: object
10673 282 12 ORtg Last Month    23.5
Name: 10673, dtype: object
10674 1476 13 ORtg Last Month    113.538
Name: 10674, dtype: object
10675 1143 10 ORtg Last Month    114.3
Name: 10675, dtype: object
10676 173 2 ORtg Last Month    86.5
Name: 10676, dtype: object
10677 529 11 ORtg Last Month    48.0909
Name: 10677, dtype: object
10678 1300 13 ORtg Last Month    100
Name: 10678, dtype: object
10679 1629 13 ORtg Last Month    125.308
Name: 10679, dtype: object
10680 1694 13 ORtg Last Month    130.308
Name: 10680, dtype: object
10681 0 4 ORtg Last Month    0
Name: 10681, dtype: object
10682 1633 13 ORtg Last Month    125.615
Name: 10682, dtype: object
10683 1139 13 ORtg Last Month    87.6154
Name: 10683, dtype: object
10684 984 13 ORtg Last Month    75.6923
Name: 10684, dtype: object
10685 237 2 ORtg Last Month    118.5
Name: 10685, dtype: object
10686 125 13 ORtg Last Month    9.61538
Name: 10686, dtype: object

10687 1514 13 ORtg Last Month    116.462
Name: 10687, dtype: object
10688 1528 13 ORtg Last Month    117.538
Name: 10688, dtype: object
10689 104 7 ORtg Last Month    14.8571
Name: 10689, dtype: object
10690 341 3 ORtg Last Month    113.667
Name: 10690, dtype: object
10691 1687 14 ORtg Last Month    120.5
Name: 10691, dtype: object
10692 1412 14 ORtg Last Month    100.857
Name: 10692, dtype: object
10693 1158 14 ORtg Last Month    82.7143
Name: 10693, dtype: object
10694 1599 14 ORtg Last Month    114.214
Name: 10694, dtype: object
10695 1655 14 ORtg Last Month    118.214
Name: 10695, dtype: object
10696 1705 14 ORtg Last Month    121.786
Name: 10696, dtype: object
10697 1103 13 ORtg Last Month    84.8462
Name: 10697, dtype: object
10698 1397 13 ORtg Last Month    107.462
Name: 10698, dtype: object
10699 1444 13 ORtg Last Month    111.077
Name: 10699, dtype: object
10700 446 14 ORtg Last Month    31.8571
Name: 10700, dtype: object
10701 1394 15 ORtg Last Month    92.9333
Name: 10701, dtype: object
10702 1555 15 ORtg Last Month    103.667
Name: 10702, dtype: object
10703 328 6 ORtg Last Month    54.6667
Name: 10703, dtype: object
10704 1682 15 ORtg Last Month    112.133
Name: 10704, dtype: object
10705 1689 15 ORtg Last Month    112.6
Name: 10705, dtype: object
10706 1804 15 ORtg Last Month    120.267
Name: 10706, dtype: object
10707 1143 15 ORtg Last Month    76.2
Name: 10707, dtype: object
10708 1057 15 ORtg Last Month    70.4667
Name: 10708, dtype: object
10709 2097 15 ORtg Last Month    139.8
Name: 10709, dtype: object
10710 446 15 ORtg Last Month    29.7333
Name: 10710, dtype: object
10711 369 15 ORtg Last Month    24.6
Name: 10711, dtype: object
10712 1672 15 ORtg Last Month    111.467
Name: 10712, dtype: object
10713 1326 14 ORtg Last Month    94.7143
Name: 10713, dtype: object
10714 1900 15 ORtg Last Month    126.667
Name: 10714, dtype: object
10715 0 2 ORtg Last Month    0
Name: 10715, dtype: object
10716 1349 14 ORtg Last Month    96.3571
Name: 10716, dtype: object
10717 1516 13 ORtg Last Month    116.615
Name: 10717, dtype: object
10718 310 5 ORtg Last Month    62
Name: 10718, dtype: object
10719 1524 15 ORtg Last Month    101.6
Name: 10719, dtype: object
10720 1867 15 ORtg Last Month    124.467
Name: 10720, dtype: object
10721 534 15 ORtg Last Month    35.6
Name: 10721, dtype: object
10722 0 0 ORtg Last Month    0
Name: 10722, dtype: object
10723 1400 12 ORtg Last Month    116.667
Name: 10723, dtype: object
10724 1658 13 ORtg Last Month    127.538
Name: 10724, dtype: object
10725 1351 13 ORtg Last Month    103.923
Name: 10725, dtype: object
10726 996 13 ORtg Last Month    76.6154
Name: 10726, dtype: object
10727 1550 13 ORtg Last Month    119.231
Name: 10727, dtype: object
10728 1166 10 ORtg Last Month    116.6
Name: 10728, dtype: object
10729 968 9 ORtg Last Month    107.556
Name: 10729, dtype: object
10730 1039 13 ORtg Last Month    79.9231
Name: 10730, dtype: object
10731 1056 9 ORtg Last Month    117.333
Name: 10731, dtype: object
10732 1326 13 ORtg Last Month    102
Name: 10732, dtype: object
10733 1022 11 ORtg Last Month    92.9091
Name: 10733, dtype: object
10734 1855 15 ORtg Last Month    123.667
Name: 10734, dtype: object
10735 1508 15 ORtg Last Month    100.533
Name: 10735, dtype: object
10736 887 15 ORtg Last Month    59.1333
Name: 10736, dtype: object
10737 1477 13 ORtg Last Month    113.615
Name: 10737, dtype: object
10738 787 13 ORtg Last Month    60.5385
Name: 10738, dtype: object
10739 1605 15 ORtg Last Month    107
Name: 10739, dtype: object
10740 1443 15 ORtg Last Month    96.2
Name: 10740, dtype: object
10741 1843 15 ORtg Last Month    122.867
Name: 10741, dtype: object
10742 1548 15 ORtg Last Month    103.2
Name: 10742, dtype: object
10743 1980 15 ORtg Last Month    132
Name: 10743, dtype: object
10744 311 15 ORtg Last Month    20.7333
Name: 10744, dtype: object
10745 422 4 ORtg Last Month    105.5
Name: 10745, dtype: object
10746 1059 14 ORtg Last Month    75.6429
Name: 10746, dtype: object
10747 1377 14 ORtg Last Month    98.3571
Name: 10747, dtype: object
10748 1219 14 ORtg Last Month    87.0714
Name: 10748, dtype: object
10749 780 13 ORtg Last Month    60
Name: 10749, dtype: object
10750 111 1 ORtg Last Month    111
Name: 10750, dtype: object
10751 708 9 ORtg Last Month    78.6667
Name: 10751, dtype: object
10752 1373 14 ORtg Last Month    98.0714
Name: 10752, dtype: object
10753 1157 11 ORtg Last Month    105.182
Name: 10753, dtype: object
10754 373 4 ORtg Last Month    93.25
Name: 10754, dtype: object
10755 1273 14 ORtg Last Month    90.9286
Name: 10755, dtype: object
10756 536 14 ORtg Last Month    38.2857
Name: 10756, dtype: object
10757 1428 14 ORtg Last Month    102
Name: 10757, dtype: object
10758 1200 12 ORtg Last Month    100
Name: 10758, dtype: object
10759 568 13 ORtg Last Month    43.6923
Name: 10759, dtype: object
10760 1240 14 ORtg Last Month    88.5714
Name: 10760, dtype: object
10761 1620 14 ORtg Last Month    115.714
Name: 10761, dtype: object
10762 1461 13 ORtg Last Month    112.385
Name: 10762, dtype: object
10763 1014 10 ORtg Last Month    101.4
Name: 10763, dtype: object
10764 1646 14 ORtg Last Month    117.571
Name: 10764, dtype: object
10765 1568 14 ORtg Last Month    112
Name: 10765, dtype: object
10766 1009 13 ORtg Last Month    77.6154
Name: 10766, dtype: object
10767 1586 13 ORtg Last Month    122
Name: 10767, dtype: object
10768 1463 14 ORtg Last Month    104.5
Name: 10768, dtype: object
10769 1695 16 ORtg Last Month    105.938
Name: 10769, dtype: object
10770 1411 16 ORtg Last Month    88.1875
Name: 10770, dtype: object
10771 1640 17 ORtg Last Month    96.4706
Name: 10771, dtype: object
10772 1322 11 ORtg Last Month    120.182
Name: 10772, dtype: object
10773 834 8 ORtg Last Month    104.25
Name: 10773, dtype: object
10774 1759 17 ORtg Last Month    103.471
Name: 10774, dtype: object
10775 1774 16 ORtg Last Month    110.875
Name: 10775, dtype: object
10776 759 9 ORtg Last Month    84.3333
Name: 10776, dtype: object
10777 2231 17 ORtg Last Month    131.235
Name: 10777, dtype: object
10778 622 14 ORtg Last Month    44.4286
Name: 10778, dtype: object
10779 877 17 ORtg Last Month    51.5882
Name: 10779, dtype: object
10780 1690 15 ORtg Last Month    112.667
Name: 10780, dtype: object
10781 787 15 ORtg Last Month    52.4667
Name: 10781, dtype: object
10782 1504 15 ORtg Last Month    100.267
Name: 10782, dtype: object
10783 1312 15 ORtg Last Month    87.4667
Name: 10783, dtype: object
10784 463 13 ORtg Last Month    35.6154
Name: 10784, dtype: object
10785 1132 10 ORtg Last Month    113.2
Name: 10785, dtype: object
10786 679 8 ORtg Last Month    84.875
Name: 10786, dtype: object
10787 1248 13 ORtg Last Month    96
Name: 10787, dtype: object
10788 1569 14 ORtg Last Month    112.071
Name: 10788, dtype: object
10789 1574 15 ORtg Last Month    104.933
Name: 10789, dtype: object
10790 1501 14 ORtg Last Month    107.214
Name: 10790, dtype: object
10791 1387 15 ORtg Last Month    92.4667
Name: 10791, dtype: object
10792 935 8 ORtg Last Month    116.875
Name: 10792, dtype: object
10793 1386 13 ORtg Last Month    106.615
Name: 10793, dtype: object
10794 1210 12 ORtg Last Month    100.833
Name: 10794, dtype: object
10795 994 13 ORtg Last Month    76.4615
Name: 10795, dtype: object
10796 1546 13 ORtg Last Month    118.923
Name: 10796, dtype: object
10797 1546 13 ORtg Last Month    118.923
Name: 10797, dtype: object
10798 633 6 ORtg Last Month    105.5
Name: 10798, dtype: object
10799 1444 11 ORtg Last Month    131.273
Name: 10799, dtype: object
10800 335 4 ORtg Last Month    83.75
Name: 10800, dtype: object
10801 1774 13 ORtg Last Month    136.462
Name: 10801, dtype: object
10802 1385 13 ORtg Last Month    106.538
Name: 10802, dtype: object
10803 1673 14 ORtg Last Month    119.5
Name: 10803, dtype: object
10804 1222 12 ORtg Last Month    101.833
Name: 10804, dtype: object
10805 908 13 ORtg Last Month    69.8462
Name: 10805, dtype: object
10806 107 3 ORtg Last Month    35.6667
Name: 10806, dtype: object
10807 1533 14 ORtg Last Month    109.5
Name: 10807, dtype: object
10808 1425 14 ORtg Last Month    101.786
Name: 10808, dtype: object
10809 1283 12 ORtg Last Month    106.917
Name: 10809, dtype: object

10810 1163 11 ORtg Last Month    105.727
Name: 10810, dtype: object
10811 672 13 ORtg Last Month    51.6923
Name: 10811, dtype: object
10812 1850 14 ORtg Last Month    132.143
Name: 10812, dtype: object
10813 335 10 ORtg Last Month    33.5
Name: 10813, dtype: object
10814 241 11 ORtg Last Month    21.9091
Name: 10814, dtype: object
10815 951 9 ORtg Last Month    105.667
Name: 10815, dtype: object
10816 412 4 ORtg Last Month    103
Name: 10816, dtype: object
10817 1778 15 ORtg Last Month    118.533
Name: 10817, dtype: object
10818 1456 15 ORtg Last Month    97.0667
Name: 10818, dtype: object
10819 1158 15 ORtg Last Month    77.2
Name: 10819, dtype: object
10820 1760 15 ORtg Last Month    117.333
Name: 10820, dtype: object
10821 1698 15 ORtg Last Month    113.2
Name: 10821, dtype: object
10822 1164 14 ORtg Last Month    83.1429
Name: 10822, dtype: object
10823 1811 15 ORtg Last Month    120.733
Name: 10823, dtype: object
10824 1491 14 ORtg Last Month    106.5
Name: 10824, dtype: object
10825 1606 14 ORtg Last Month    114.714
Name: 10825, dtype: object
10826 446 15 ORtg Last Month    29.7333
Name: 10826, dtype: object
10827 1633 14 ORtg Last Month    116.643
Name: 10827, dtype: object
10828 1720 14 ORtg Last Month    122.857
Name: 10828, dtype: object
10829 1312 15 ORtg Last Month    87.4667
Name: 10829, dtype: object
10830 160 4 ORtg Last Month    40
Name: 10830, dtype: object
10831 1517 15 ORtg Last Month    101.133
Name: 10831, dtype: object
10832 1589 15 ORtg Last Month    105.933
Name: 10832, dtype: object
10833 725 15 ORtg Last Month    48.3333
Name: 10833, dtype: object
10834 0 4 ORtg Last Month    0
Name: 10834, dtype: object
10835 1350 15 ORtg Last Month    90
Name: 10835, dtype: object
10836 1567 15 ORtg Last Month    104.467
Name: 10836, dtype: object
10837 1583 15 ORtg Last Month    105.533
Name: 10837, dtype: object
10838 291 12 ORtg Last Month    24.25
Name: 10838, dtype: object
10839 1505 12 ORtg Last Month    125.417
Name: 10839, dtype: object
10840 1650 14 ORtg Last Month    117.857
Name: 10840, dtype: object
10841 533 12 ORtg Last Month    44.4167
Name: 10841, dtype: object
10842 1610 14 ORtg Last Month    115
Name: 10842, dtype: object
10843 1161 13 ORtg Last Month    89.3077
Name: 10843, dtype: object
10844 1626 14 ORtg Last Month    116.143
Name: 10844, dtype: object
10845 1406 14 ORtg Last Month    100.429
Name: 10845, dtype: object
10846 1129 13 ORtg Last Month    86.8462
Name: 10846, dtype: object
10847 448 4 ORtg Last Month    112
Name: 10847, dtype: object
10848 1381 14 ORtg Last Month    98.6429
Name: 10848, dtype: object
10849 1397 14 ORtg Last Month    99.7857
Name: 10849, dtype: object
10850 229 14 ORtg Last Month    16.3571
Name: 10850, dtype: object
10851 1574 13 ORtg Last Month    121.077
Name: 10851, dtype: object
10852 1506 13 ORtg Last Month    115.846
Name: 10852, dtype: object
10853 0 0 ORtg Last Month    0
Name: 10853, dtype: object
10854 1277 12 ORtg Last Month    106.417
Name: 10854, dtype: object
10855 1224 13 ORtg Last Month    94.1538
Name: 10855, dtype: object
10856 1755 13 ORtg Last Month    135
Name: 10856, dtype: object
10857 825 13 ORtg Last Month    63.4615
Name: 10857, dtype: object
10858 292 13 ORtg Last Month    22.4615
Name: 10858, dtype: object
10859 176 13 ORtg Last Month    13.5385
Name: 10859, dtype: object
10860 262 13 ORtg Last Month    20.1538
Name: 10860, dtype: object
10861 1510 13 ORtg Last Month    116.154
Name: 10861, dtype: object
10862 1516 12 ORtg Last Month    126.333
Name: 10862, dtype: object
10863 1341 13 ORtg Last Month    103.154
Name: 10863, dtype: object
10864 1639 15 ORtg Last Month    109.267
Name: 10864, dtype: object
10865 506 9 ORtg Last Month    56.2222
Name: 10865, dtype: object
10866 1327 15 ORtg Last Month    88.4667
Name: 10866, dtype: object
10867 1394 12 ORtg Last Month    116.167
Name: 10867, dtype: object
10868 1576 15 ORtg Last Month    105.067
Name: 10868, dtype: object
10869 1160 13 ORtg Last Month    89.2308
Name: 10869, dtype: object
10870 1225 15 ORtg Last Month    81.6667
Name: 10870, dtype: object
10871 735 14 ORtg Last Month    52.5
Name: 10871, dtype: object
10872 92 4 ORtg Last Month    23
Name: 10872, dtype: object
10873 1711 14 ORtg Last Month    122.214
Name: 10873, dtype: object
10874 359 14 ORtg Last Month    25.6429
Name: 10874, dtype: object
10875 1033 15 ORtg Last Month    68.8667
Name: 10875, dtype: object
10876 1598 15 ORtg Last Month    106.533
Name: 10876, dtype: object
10877 994 14 ORtg Last Month    71
Name: 10877, dtype: object
10878 758 8 ORtg Last Month    94.75
Name: 10878, dtype: object
10879 1344 15 ORtg Last Month    89.6
Name: 10879, dtype: object
10880 987 12 ORtg Last Month    82.25
Name: 10880, dtype: object
10881 17 2 ORtg Last Month    8.5
Name: 10881, dtype: object
10882 715 7 ORtg Last Month    102.143
Name: 10882, dtype: object
10883 1186 15 ORtg Last Month    79.0667
Name: 10883, dtype: object
10884 1794 15 ORtg Last Month    119.6
Name: 10884, dtype: object
10885 1837 15 ORtg Last Month    122.467
Name: 10885, dtype: object
10886 442 8 ORtg Last Month    55.25
Name: 10886, dtype: object
10887 1404 14 ORtg Last Month    100.286
Name: 10887, dtype: object
10888 1686 14 ORtg Last Month    120.429
Name: 10888, dtype: object
10889 1674 14 ORtg Last Month    119.571
Name: 10889, dtype: object
10890 951 9 ORtg Last Month    105.667
Name: 10890, dtype: object
10891 838 13 ORtg Last Month    64.4615
Name: 10891, dtype: object
10892 927 11 ORtg Last Month    84.2727
Name: 10892, dtype: object
10893 560 14 ORtg Last Month    40
Name: 10893, dtype: object
10894 1661 14 ORtg Last Month    118.643
Name: 10894, dtype: object
10895 1391 13 ORtg Last Month    107
Name: 10895, dtype: object
10896 783 14 ORtg Last Month    55.9286
Name: 10896, dtype: object
10897 1397 12 ORtg Last Month    116.417
Name: 10897, dtype: object
10898 1115 12 ORtg Last Month    92.9167
Name: 10898, dtype: object
10899 416 11 ORtg Last Month    37.8182
Name: 10899, dtype: object
10900 1018 11 ORtg Last Month    92.5455
Name: 10900, dtype: object
10901 1066 12 ORtg Last Month    88.8333
Name: 10901, dtype: object
10902 979 11 ORtg Last Month    89
Name: 10902, dtype: object
10903 1319 12 ORtg Last Month    109.917
Name: 10903, dtype: object
10904 1020 12 ORtg Last Month    85
Name: 10904, dtype: object
10905 1216 12 ORtg Last Month    101.333
Name: 10905, dtype: object
10906 436 12 ORtg Last Month    36.3333
Name: 10906, dtype: object
10907 228 11 ORtg Last Month    20.7273
Name: 10907, dtype: object
10908 1693 14 ORtg Last Month    120.929
Name: 10908, dtype: object
10909 1870 14 ORtg Last Month    133.571
Name: 10909, dtype: object
10910 1512 14 ORtg Last Month    108
Name: 10910, dtype: object
10911 592 10 ORtg Last Month    59.2
Name: 10911, dtype: object
10912 69 6 ORtg Last Month    11.5
Name: 10912, dtype: object
10913 1358 12 ORtg Last Month    113.167
Name: 10913, dtype: object
10914 1632 14 ORtg Last Month    116.571
Name: 10914, dtype: object
10915 1463 13 ORtg Last Month    112.538
Name: 10915, dtype: object
10916 1099 14 ORtg Last Month    78.5
Name: 10916, dtype: object
10917 1396 13 ORtg Last Month    107.385
Name: 10917, dtype: object
10918 1613 13 ORtg Last Month    124.077
Name: 10918, dtype: object
10919 1058 14 ORtg Last Month    75.5714
Name: 10919, dtype: object
10920 965 9 ORtg Last Month    107.222
Name: 10920, dtype: object
10921 1245 15 ORtg Last Month    83
Name: 10921, dtype: object
10922 1042 10 ORtg Last Month    104.2
Name: 10922, dtype: object
10923 348 5 ORtg Last Month    69.6
Name: 10923, dtype: object
10924 763 16 ORtg Last Month    47.6875
Name: 10924, dtype: object
10925 1250 11 ORtg Last Month    113.636
Name: 10925, dtype: object
10926 1266 13 ORtg Last Month    97.3846
Name: 10926, dtype: object
10927 1468 16 ORtg Last Month    91.75
Name: 10927, dtype: object
10928 1585 16 ORtg Last Month    99.0625
Name: 10928, dtype: object
10929 1838 16 ORtg Last Month    114.875
Name: 10929, dtype: object
10930 2177 16 ORtg Last Month    136.062
Name: 10930, dtype: object
10931 490 16 ORtg Last Month    30.625
Name: 10931, dtype: object
10932 0 3 ORtg Last Month    0
Name: 10932, dtype: object
10933 1713 14 ORtg Last Month    122.357
Name: 10933, dtype: object

10934 856 12 ORtg Last Month    71.3333
Name: 10934, dtype: object
10935 79 14 ORtg Last Month    5.64286
Name: 10935, dtype: object
10936 1269 13 ORtg Last Month    97.6154
Name: 10936, dtype: object
10937 1219 12 ORtg Last Month    101.583
Name: 10937, dtype: object
10938 1313 14 ORtg Last Month    93.7857
Name: 10938, dtype: object
10939 1698 14 ORtg Last Month    121.286
Name: 10939, dtype: object
10940 650 13 ORtg Last Month    50
Name: 10940, dtype: object
10941 1635 14 ORtg Last Month    116.786
Name: 10941, dtype: object
10942 1502 14 ORtg Last Month    107.286
Name: 10942, dtype: object
10943 1515 14 ORtg Last Month    108.214
Name: 10943, dtype: object
10944 386 13 ORtg Last Month    29.6923
Name: 10944, dtype: object
10945 1468 14 ORtg Last Month    104.857
Name: 10945, dtype: object
10946 997 14 ORtg Last Month    71.2143
Name: 10946, dtype: object
10947 1606 14 ORtg Last Month    114.714
Name: 10947, dtype: object
10948 1934 14 ORtg Last Month    138.143
Name: 10948, dtype: object
10949 1601 14 ORtg Last Month    114.357
Name: 10949, dtype: object
10950 464 9 ORtg Last Month    51.5556
Name: 10950, dtype: object
10951 867 13 ORtg Last Month    66.6923
Name: 10951, dtype: object
10952 1560 14 ORtg Last Month    111.429
Name: 10952, dtype: object
10953 1616 14 ORtg Last Month    115.429
Name: 10953, dtype: object
10954 823 9 ORtg Last Month    91.4444
Name: 10954, dtype: object
10955 211 4 ORtg Last Month    52.75
Name: 10955, dtype: object
10956 1642 16 ORtg Last Month    102.625
Name: 10956, dtype: object
10957 1579 16 ORtg Last Month    98.6875
Name: 10957, dtype: object
10958 1931 16 ORtg Last Month    120.688
Name: 10958, dtype: object
10959 1743 16 ORtg Last Month    108.938
Name: 10959, dtype: object
10960 1915 16 ORtg Last Month    119.688
Name: 10960, dtype: object
10961 1623 16 ORtg Last Month    101.438
Name: 10961, dtype: object
10962 1833 15 ORtg Last Month    122.2
Name: 10962, dtype: object
10963 926 16 ORtg Last Month    57.875
Name: 10963, dtype: object
10964 1827 16 ORtg Last Month    114.188
Name: 10964, dtype: object
10965 2247 16 ORtg Last Month    140.438
Name: 10965, dtype: object
10966 1777 13 ORtg Last Month    136.692
Name: 10966, dtype: object
10967 430 4 ORtg Last Month    107.5
Name: 10967, dtype: object
10968 1636 14 ORtg Last Month    116.857
Name: 10968, dtype: object
10969 1636 15 ORtg Last Month    109.067
Name: 10969, dtype: object
10970 388 15 ORtg Last Month    25.8667
Name: 10970, dtype: object
10971 1457 12 ORtg Last Month    121.417
Name: 10971, dtype: object
10972 1771 14 ORtg Last Month    126.5
Name: 10972, dtype: object
10973 1166 13 ORtg Last Month    89.6923
Name: 10973, dtype: object
10974 1807 15 ORtg Last Month    120.467
Name: 10974, dtype: object
10975 0 0 ORtg Last Month    0
Name: 10975, dtype: object
10976 1334 13 ORtg Last Month    102.615
Name: 10976, dtype: object
10977 413 14 ORtg Last Month    29.5
Name: 10977, dtype: object
10978 580 14 ORtg Last Month    41.4286
Name: 10978, dtype: object
10979 126 4 ORtg Last Month    31.5
Name: 10979, dtype: object
10980 1221 13 ORtg Last Month    93.9231
Name: 10980, dtype: object
10981 1482 15 ORtg Last Month    98.8
Name: 10981, dtype: object
10982 1147 15 ORtg Last Month    76.4667
Name: 10982, dtype: object
10983 1243 13 ORtg Last Month    95.6154
Name: 10983, dtype: object
10984 1616 15 ORtg Last Month    107.733
Name: 10984, dtype: object
10985 1577 15 ORtg Last Month    105.133
Name: 10985, dtype: object
10986 1328 14 ORtg Last Month    94.8571
Name: 10986, dtype: object
10987 836 15 ORtg Last Month    55.7333
Name: 10987, dtype: object
10988 1579 15 ORtg Last Month    105.267
Name: 10988, dtype: object
10989 831 7 ORtg Last Month    118.714
Name: 10989, dtype: object
10990 1982 15 ORtg Last Month    132.133
Name: 10990, dtype: object
10991 1849 15 ORtg Last Month    123.267
Name: 10991, dtype: object
10992 936 14 ORtg Last Month    66.8571
Name: 10992, dtype: object
10993 1703 15 ORtg Last Month    113.533
Name: 10993, dtype: object
10994 1309 14 ORtg Last Month    93.5
Name: 10994, dtype: object
10995 1846 15 ORtg Last Month    123.067
Name: 10995, dtype: object
10996 0 3 ORtg Last Month    0
Name: 10996, dtype: object
10997 1458 15 ORtg Last Month    97.2
Name: 10997, dtype: object
10998 394 6 ORtg Last Month    65.6667
Name: 10998, dtype: object
10999 1506 13 ORtg Last Month    115.846
Name: 10999, dtype: object
11000 1802 15 ORtg Last Month    120.133
Name: 11000, dtype: object
11001 1591 15 ORtg Last Month    106.067
Name: 11001, dtype: object
11002 602 15 ORtg Last Month    40.1333
Name: 11002, dtype: object
11003 140 1 ORtg Last Month    140
Name: 11003, dtype: object
11004 1462 13 ORtg Last Month    112.462
Name: 11004, dtype: object
11005 1091 13 ORtg Last Month    83.9231
Name: 11005, dtype: object
11006 1288 12 ORtg Last Month    107.333
Name: 11006, dtype: object
11007 1476 13 ORtg Last Month    113.538
Name: 11007, dtype: object
11008 1422 13 ORtg Last Month    109.385
Name: 11008, dtype: object
11009 1472 13 ORtg Last Month    113.231
Name: 11009, dtype: object
11010 529 11 ORtg Last Month    48.0909
Name: 11010, dtype: object
11011 1255 11 ORtg Last Month    114.091
Name: 11011, dtype: object
11012 1082 9 ORtg Last Month    120.222
Name: 11012, dtype: object
11013 327 3 ORtg Last Month    109
Name: 11013, dtype: object
11014 1836 15 ORtg Last Month    122.4
Name: 11014, dtype: object
11015 1376 13 ORtg Last Month    105.846
Name: 11015, dtype: object
11016 162 4 ORtg Last Month    40.5
Name: 11016, dtype: object
11017 1044 14 ORtg Last Month    74.5714
Name: 11017, dtype: object
11018 1555 15 ORtg Last Month    103.667
Name: 11018, dtype: object
11019 1693 15 ORtg Last Month    112.867
Name: 11019, dtype: object
11020 1233 12 ORtg Last Month    102.75
Name: 11020, dtype: object
11021 1404 13 ORtg Last Month    108
Name: 11021, dtype: object
11022 944 14 ORtg Last Month    67.4286
Name: 11022, dtype: object
11023 1984 15 ORtg Last Month    132.267
Name: 11023, dtype: object
11024 951 10 ORtg Last Month    95.1
Name: 11024, dtype: object
11025 241 12 ORtg Last Month    20.0833
Name: 11025, dtype: object
11026 1606 14 ORtg Last Month    114.714
Name: 11026, dtype: object
11027 532 14 ORtg Last Month    38
Name: 11027, dtype: object
11028 1505 14 ORtg Last Month    107.5
Name: 11028, dtype: object
11029 1093 14 ORtg Last Month    78.0714
Name: 11029, dtype: object
11030 505 14 ORtg Last Month    36.0714
Name: 11030, dtype: object
11031 1726 14 ORtg Last Month    123.286
Name: 11031, dtype: object
11032 1575 14 ORtg Last Month    112.5
Name: 11032, dtype: object
11033 1265 14 ORtg Last Month    90.3571
Name: 11033, dtype: object
11034 687 14 ORtg Last Month    49.0714
Name: 11034, dtype: object
11035 1661 14 ORtg Last Month    118.643
Name: 11035, dtype: object
11036 1034 13 ORtg Last Month    79.5385
Name: 11036, dtype: object
11037 972 14 ORtg Last Month    69.4286
Name: 11037, dtype: object
11038 668 7 ORtg Last Month    95.4286
Name: 11038, dtype: object
11039 1154 13 ORtg Last Month    88.7692
Name: 11039, dtype: object
11040 846 11 ORtg Last Month    76.9091
Name: 11040, dtype: object
11041 1224 13 ORtg Last Month    94.1538
Name: 11041, dtype: object
11042 855 11 ORtg Last Month    77.7273
Name: 11042, dtype: object
11043 1182 13 ORtg Last Month    90.9231
Name: 11043, dtype: object
11044 1213 13 ORtg Last Month    93.3077
Name: 11044, dtype: object
11045 124 13 ORtg Last Month    9.53846
Name: 11045, dtype: object
11046 0 1 ORtg Last Month    0
Name: 11046, dtype: object
11047 981 9 ORtg Last Month    109
Name: 11047, dtype: object
11048 1450 13 ORtg Last Month    111.538
Name: 11048, dtype: object
11049 1557 13 ORtg Last Month    119.769
Name: 11049, dtype: object
11050 1172 13 ORtg Last Month    90.1538
Name: 11050, dtype: object
11051 1136 9 ORtg Last Month    126.222
Name: 11051, dtype: object
11052 956 13 ORtg Last Month    73.5385
Name: 11052, dtype: object
11053 712 5 ORtg Last Month    142.4
Name: 11053, dtype: object
11054 696 7 ORtg Last Month    99.4286
Name: 11054, dtype: object
11055 1235 13 ORtg Last Month    95
Name: 11055, dtype: object
11056 1475 13 ORtg Last Month    113.462
Name: 11056, dtype: object

11057 409 6 ORtg Last Month    68.1667
Name: 11057, dtype: object
11058 1064 13 ORtg Last Month    81.8462
Name: 11058, dtype: object
11059 1452 13 ORtg Last Month    111.692
Name: 11059, dtype: object
11060 1109 12 ORtg Last Month    92.4167
Name: 11060, dtype: object
11061 1297 13 ORtg Last Month    99.7692
Name: 11061, dtype: object
11062 1417 12 ORtg Last Month    118.083
Name: 11062, dtype: object
11063 1597 13 ORtg Last Month    122.846
Name: 11063, dtype: object
11064 1316 13 ORtg Last Month    101.231
Name: 11064, dtype: object
11065 996 13 ORtg Last Month    76.6154
Name: 11065, dtype: object
11066 882 9 ORtg Last Month    98
Name: 11066, dtype: object
11067 1521 13 ORtg Last Month    117
Name: 11067, dtype: object
11068 1160 13 ORtg Last Month    89.2308
Name: 11068, dtype: object
11069 1202 10 ORtg Last Month    120.2
Name: 11069, dtype: object
11070 1280 13 ORtg Last Month    98.4615
Name: 11070, dtype: object
11071 1205 10 ORtg Last Month    120.5
Name: 11071, dtype: object
11072 481 8 ORtg Last Month    60.125
Name: 11072, dtype: object
11073 1859 15 ORtg Last Month    123.933
Name: 11073, dtype: object
11074 1500 15 ORtg Last Month    100
Name: 11074, dtype: object
11075 816 15 ORtg Last Month    54.4
Name: 11075, dtype: object
11076 930 13 ORtg Last Month    71.5385
Name: 11076, dtype: object
11077 1758 15 ORtg Last Month    117.2
Name: 11077, dtype: object
11078 1363 15 ORtg Last Month    90.8667
Name: 11078, dtype: object
11079 1482 13 ORtg Last Month    114
Name: 11079, dtype: object
11080 227 2 ORtg Last Month    113.5
Name: 11080, dtype: object
11081 1552 15 ORtg Last Month    103.467
Name: 11081, dtype: object
11082 1818 15 ORtg Last Month    121.2
Name: 11082, dtype: object
11083 1933 15 ORtg Last Month    128.867
Name: 11083, dtype: object
11084 311 15 ORtg Last Month    20.7333
Name: 11084, dtype: object
11085 524 5 ORtg Last Month    104.8
Name: 11085, dtype: object
11086 1543 15 ORtg Last Month    102.867
Name: 11086, dtype: object
11087 1213 15 ORtg Last Month    80.8667
Name: 11087, dtype: object
11088 780 14 ORtg Last Month    55.7143
Name: 11088, dtype: object
11089 111 2 ORtg Last Month    55.5
Name: 11089, dtype: object
11090 836 10 ORtg Last Month    83.6
Name: 11090, dtype: object
11091 1427 15 ORtg Last Month    95.1333
Name: 11091, dtype: object
11092 1256 12 ORtg Last Month    104.667
Name: 11092, dtype: object
11093 1356 15 ORtg Last Month    90.4
Name: 11093, dtype: object
11094 536 15 ORtg Last Month    35.7333
Name: 11094, dtype: object
11095 1413 14 ORtg Last Month    100.929
Name: 11095, dtype: object
11096 1153 12 ORtg Last Month    96.0833
Name: 11096, dtype: object
11097 568 13 ORtg Last Month    43.6923
Name: 11097, dtype: object
11098 1215 14 ORtg Last Month    86.7857
Name: 11098, dtype: object
11099 1513 13 ORtg Last Month    116.385
Name: 11099, dtype: object
11100 1144 11 ORtg Last Month    104
Name: 11100, dtype: object
11101 1643 14 ORtg Last Month    117.357
Name: 11101, dtype: object
11102 1678 14 ORtg Last Month    119.857
Name: 11102, dtype: object
11103 1512 14 ORtg Last Month    108
Name: 11103, dtype: object
11104 940 13 ORtg Last Month    72.3077
Name: 11104, dtype: object
11105 1596 13 ORtg Last Month    122.769
Name: 11105, dtype: object
11106 1463 14 ORtg Last Month    104.5
Name: 11106, dtype: object
11107 1663 16 ORtg Last Month    103.938
Name: 11107, dtype: object
11108 1557 17 ORtg Last Month    91.5882
Name: 11108, dtype: object
11109 1442 16 ORtg Last Month    90.125
Name: 11109, dtype: object
11110 1322 11 ORtg Last Month    120.182
Name: 11110, dtype: object
11111 1787 17 ORtg Last Month    105.118
Name: 11111, dtype: object
11112 1765 16 ORtg Last Month    110.312
Name: 11112, dtype: object
11113 1007 9 ORtg Last Month    111.889
Name: 11113, dtype: object
11114 736 9 ORtg Last Month    81.7778
Name: 11114, dtype: object
11115 2284 17 ORtg Last Month    134.353
Name: 11115, dtype: object
11116 607 14 ORtg Last Month    43.3571
Name: 11116, dtype: object
11117 877 17 ORtg Last Month    51.5882
Name: 11117, dtype: object
11118 1737 15 ORtg Last Month    115.8
Name: 11118, dtype: object
11119 1393 15 ORtg Last Month    92.8667
Name: 11119, dtype: object
11120 866 15 ORtg Last Month    57.7333
Name: 11120, dtype: object
11121 1528 15 ORtg Last Month    101.867
Name: 11121, dtype: object
11122 398 13 ORtg Last Month    30.6154
Name: 11122, dtype: object
11123 1085 10 ORtg Last Month    108.5
Name: 11123, dtype: object
11124 1192 13 ORtg Last Month    91.6923
Name: 11124, dtype: object
11125 742 9 ORtg Last Month    82.4444
Name: 11125, dtype: object
11126 1551 15 ORtg Last Month    103.4
Name: 11126, dtype: object
11127 1580 14 ORtg Last Month    112.857
Name: 11127, dtype: object
11128 1415 14 ORtg Last Month    101.071
Name: 11128, dtype: object
11129 1187 15 ORtg Last Month    79.1333
Name: 11129, dtype: object
11130 495 5 ORtg Last Month    99
Name: 11130, dtype: object
11131 1709 15 ORtg Last Month    113.933
Name: 11131, dtype: object
11132 1465 15 ORtg Last Month    97.6667
Name: 11132, dtype: object
11133 1007 15 ORtg Last Month    67.1333
Name: 11133, dtype: object
11134 1725 15 ORtg Last Month    115
Name: 11134, dtype: object
11135 1736 15 ORtg Last Month    115.733
Name: 11135, dtype: object
11136 1802 15 ORtg Last Month    120.133
Name: 11136, dtype: object
11137 1501 14 ORtg Last Month    107.214
Name: 11137, dtype: object
11138 1571 14 ORtg Last Month    112.214
Name: 11138, dtype: object
11139 350 15 ORtg Last Month    23.3333
Name: 11139, dtype: object
11140 822 8 ORtg Last Month    102.75
Name: 11140, dtype: object
11141 0 0 ORtg Last Month    0
Name: 11141, dtype: object
11142 1427 15 ORtg Last Month    95.1333
Name: 11142, dtype: object
11143 1537 15 ORtg Last Month    102.467
Name: 11143, dtype: object
11144 1656 15 ORtg Last Month    110.4
Name: 11144, dtype: object
11145 1663 15 ORtg Last Month    110.867
Name: 11145, dtype: object
11146 1757 15 ORtg Last Month    117.133
Name: 11146, dtype: object
11147 1219 15 ORtg Last Month    81.2667
Name: 11147, dtype: object
11148 1057 15 ORtg Last Month    70.4667
Name: 11148, dtype: object
11149 425 15 ORtg Last Month    28.3333
Name: 11149, dtype: object
11150 2204 15 ORtg Last Month    146.933
Name: 11150, dtype: object
11151 583 15 ORtg Last Month    38.8667
Name: 11151, dtype: object
11152 1620 14 ORtg Last Month    115.714
Name: 11152, dtype: object
11153 1226 15 ORtg Last Month    81.7333
Name: 11153, dtype: object
11154 1713 14 ORtg Last Month    122.357
Name: 11154, dtype: object
11155 214 5 ORtg Last Month    42.8
Name: 11155, dtype: object
11156 1397 15 ORtg Last Month    93.1333
Name: 11156, dtype: object
11157 1519 15 ORtg Last Month    101.267
Name: 11157, dtype: object
11158 705 15 ORtg Last Month    47
Name: 11158, dtype: object
11159 1316 15 ORtg Last Month    87.7333
Name: 11159, dtype: object
11160 88 5 ORtg Last Month    17.6
Name: 11160, dtype: object
11161 1565 15 ORtg Last Month    104.333
Name: 11161, dtype: object
11162 1624 15 ORtg Last Month    108.267
Name: 11162, dtype: object
11163 512 12 ORtg Last Month    42.6667
Name: 11163, dtype: object
11164 1520 12 ORtg Last Month    126.667
Name: 11164, dtype: object
11165 1619 14 ORtg Last Month    115.643
Name: 11165, dtype: object
11166 734 13 ORtg Last Month    56.4615
Name: 11166, dtype: object
11167 373 8 ORtg Last Month    46.625
Name: 11167, dtype: object
11168 1618 14 ORtg Last Month    115.571
Name: 11168, dtype: object
11169 1148 13 ORtg Last Month    88.3077
Name: 11169, dtype: object
11170 1741 14 ORtg Last Month    124.357
Name: 11170, dtype: object
11171 1515 14 ORtg Last Month    108.214
Name: 11171, dtype: object
11172 944 13 ORtg Last Month    72.6154
Name: 11172, dtype: object
11173 1532 14 ORtg Last Month    109.429
Name: 11173, dtype: object
11174 1403 14 ORtg Last Month    100.214
Name: 11174, dtype: object
11175 561 5 ORtg Last Month    112.2
Name: 11175, dtype: object
11176 229 14 ORtg Last Month    16.3571
Name: 11176, dtype: object
11177 1581 14 ORtg Last Month    112.929
Name: 11177, dtype: object
11178 0 1 ORtg Last Month    0
Name: 11178, dtype: object
11179 1687 14 ORtg Last Month    120.5
Name: 11179, dtype: object

11180 1402 13 ORtg Last Month    107.846
Name: 11180, dtype: object
11181 1322 14 ORtg Last Month    94.4286
Name: 11181, dtype: object
11182 1905 14 ORtg Last Month    136.071
Name: 11182, dtype: object
11183 956 14 ORtg Last Month    68.2857
Name: 11183, dtype: object
11184 176 14 ORtg Last Month    12.5714
Name: 11184, dtype: object
11185 292 14 ORtg Last Month    20.8571
Name: 11185, dtype: object
11186 262 14 ORtg Last Month    18.7143
Name: 11186, dtype: object
11187 1602 14 ORtg Last Month    114.429
Name: 11187, dtype: object
11188 1662 13 ORtg Last Month    127.846
Name: 11188, dtype: object
11189 1483 14 ORtg Last Month    105.929
Name: 11189, dtype: object
11190 1645 15 ORtg Last Month    109.667
Name: 11190, dtype: object
11191 1391 15 ORtg Last Month    92.7333
Name: 11191, dtype: object
11192 538 9 ORtg Last Month    59.7778
Name: 11192, dtype: object
11193 1306 12 ORtg Last Month    108.833
Name: 11193, dtype: object
11194 1558 15 ORtg Last Month    103.867
Name: 11194, dtype: object
11195 1106 13 ORtg Last Month    85.0769
Name: 11195, dtype: object
11196 1312 15 ORtg Last Month    87.4667
Name: 11196, dtype: object
11197 195 5 ORtg Last Month    39
Name: 11197, dtype: object
11198 665 14 ORtg Last Month    47.5
Name: 11198, dtype: object
11199 1690 14 ORtg Last Month    120.714
Name: 11199, dtype: object
11200 1594 14 ORtg Last Month    113.857
Name: 11200, dtype: object
11201 517 14 ORtg Last Month    36.9286
Name: 11201, dtype: object
11202 930 15 ORtg Last Month    62
Name: 11202, dtype: object
11203 1536 15 ORtg Last Month    102.4
Name: 11203, dtype: object
11204 951 14 ORtg Last Month    67.9286
Name: 11204, dtype: object
11205 638 8 ORtg Last Month    79.75
Name: 11205, dtype: object
11206 1377 15 ORtg Last Month    91.8
Name: 11206, dtype: object
11207 132 3 ORtg Last Month    44
Name: 11207, dtype: object
11208 1089 12 ORtg Last Month    90.75
Name: 11208, dtype: object
11209 915 8 ORtg Last Month    114.375
Name: 11209, dtype: object
11210 1377 15 ORtg Last Month    91.8
Name: 11210, dtype: object
11211 1761 15 ORtg Last Month    117.4
Name: 11211, dtype: object
11212 1867 15 ORtg Last Month    124.467
Name: 11212, dtype: object
11213 545 9 ORtg Last Month    60.5556
Name: 11213, dtype: object
11214 1442 12 ORtg Last Month    120.167
Name: 11214, dtype: object
11215 1156 12 ORtg Last Month    96.3333
Name: 11215, dtype: object
11216 489 11 ORtg Last Month    44.4545
Name: 11216, dtype: object
11217 1029 11 ORtg Last Month    93.5455
Name: 11217, dtype: object
11218 935 11 ORtg Last Month    85
Name: 11218, dtype: object
11219 1084 12 ORtg Last Month    90.3333
Name: 11219, dtype: object
11220 1355 12 ORtg Last Month    112.917
Name: 11220, dtype: object
11221 0 2 ORtg Last Month    0
Name: 11221, dtype: object
11222 1242 11 ORtg Last Month    112.909
Name: 11222, dtype: object
11223 1153 12 ORtg Last Month    96.0833
Name: 11223, dtype: object
11224 436 12 ORtg Last Month    36.3333
Name: 11224, dtype: object
11225 351 11 ORtg Last Month    31.9091
Name: 11225, dtype: object
11226 1714 14 ORtg Last Month    122.429
Name: 11226, dtype: object
11227 79 14 ORtg Last Month    5.64286
Name: 11227, dtype: object
11228 1017 13 ORtg Last Month    78.2308
Name: 11228, dtype: object
11229 1255 13 ORtg Last Month    96.5385
Name: 11229, dtype: object
11230 1269 14 ORtg Last Month    90.6429
Name: 11230, dtype: object
11231 1374 13 ORtg Last Month    105.692
Name: 11231, dtype: object
11232 1661 14 ORtg Last Month    118.643
Name: 11232, dtype: object
11233 514 13 ORtg Last Month    39.5385
Name: 11233, dtype: object
11234 1495 14 ORtg Last Month    106.786
Name: 11234, dtype: object
11235 1602 14 ORtg Last Month    114.429
Name: 11235, dtype: object
11236 1586 14 ORtg Last Month    113.286
Name: 11236, dtype: object
11237 386 13 ORtg Last Month    29.6923
Name: 11237, dtype: object
11238 1510 14 ORtg Last Month    107.857
Name: 11238, dtype: object
11239 1074 14 ORtg Last Month    76.7143
Name: 11239, dtype: object
11240 1598 14 ORtg Last Month    114.143
Name: 11240, dtype: object
11241 1545 14 ORtg Last Month    110.357
Name: 11241, dtype: object
11242 1463 14 ORtg Last Month    104.5
Name: 11242, dtype: object
11243 1045 10 ORtg Last Month    104.5
Name: 11243, dtype: object
11244 1747 14 ORtg Last Month    124.786
Name: 11244, dtype: object
11245 522 10 ORtg Last Month    52.2
Name: 11245, dtype: object
11246 1647 14 ORtg Last Month    117.643
Name: 11246, dtype: object
11247 931 10 ORtg Last Month    93.1
Name: 11247, dtype: object
11248 266 4 ORtg Last Month    66.5
Name: 11248, dtype: object
11249 1602 16 ORtg Last Month    100.125
Name: 11249, dtype: object
11250 1967 16 ORtg Last Month    122.938
Name: 11250, dtype: object
11251 1617 16 ORtg Last Month    101.062
Name: 11251, dtype: object
11252 1627 16 ORtg Last Month    101.688
Name: 11252, dtype: object
11253 1763 16 ORtg Last Month    110.188
Name: 11253, dtype: object
11254 1968 16 ORtg Last Month    123
Name: 11254, dtype: object
11255 960 16 ORtg Last Month    60
Name: 11255, dtype: object
11256 1818 15 ORtg Last Month    121.2
Name: 11256, dtype: object
11257 1889 16 ORtg Last Month    118.062
Name: 11257, dtype: object
11258 1970 14 ORtg Last Month    140.714
Name: 11258, dtype: object
11259 2235 16 ORtg Last Month    139.688
Name: 11259, dtype: object
11260 379 4 ORtg Last Month    94.75
Name: 11260, dtype: object
11261 1619 14 ORtg Last Month    115.643
Name: 11261, dtype: object
11262 1671 15 ORtg Last Month    111.4
Name: 11262, dtype: object
11263 327 15 ORtg Last Month    21.8
Name: 11263, dtype: object
11264 1470 12 ORtg Last Month    122.5
Name: 11264, dtype: object
11265 1788 14 ORtg Last Month    127.714
Name: 11265, dtype: object
11266 1289 14 ORtg Last Month    92.0714
Name: 11266, dtype: object
11267 41 1 ORtg Last Month    41
Name: 11267, dtype: object
11268 1417 14 ORtg Last Month    101.214
Name: 11268, dtype: object
11269 413 14 ORtg Last Month    29.5
Name: 11269, dtype: object
11270 724 14 ORtg Last Month    51.7143
Name: 11270, dtype: object
11271 248 4 ORtg Last Month    62
Name: 11271, dtype: object
11272 1407 15 ORtg Last Month    93.8
Name: 11272, dtype: object
11273 1221 15 ORtg Last Month    81.4
Name: 11273, dtype: object
11274 1224 13 ORtg Last Month    94.1538
Name: 11274, dtype: object
11275 1171 13 ORtg Last Month    90.0769
Name: 11275, dtype: object
11276 1637 15 ORtg Last Month    109.133
Name: 11276, dtype: object
11277 1421 14 ORtg Last Month    101.5
Name: 11277, dtype: object
11278 1618 15 ORtg Last Month    107.867
Name: 11278, dtype: object
11279 831 8 ORtg Last Month    103.875
Name: 11279, dtype: object
11280 1093 15 ORtg Last Month    72.8667
Name: 11280, dtype: object
11281 1474 15 ORtg Last Month    98.2667
Name: 11281, dtype: object
11282 1975 15 ORtg Last Month    131.667
Name: 11282, dtype: object
11283 1897 15 ORtg Last Month    126.467
Name: 11283, dtype: object
11284 736 14 ORtg Last Month    52.5714
Name: 11284, dtype: object
11285 1182 13 ORtg Last Month    90.9231
Name: 11285, dtype: object
11286 1436 13 ORtg Last Month    110.462
Name: 11286, dtype: object
11287 1285 12 ORtg Last Month    107.083
Name: 11287, dtype: object
11288 1452 13 ORtg Last Month    111.692
Name: 11288, dtype: object
11289 1518 13 ORtg Last Month    116.769
Name: 11289, dtype: object
11290 282 11 ORtg Last Month    25.6364
Name: 11290, dtype: object
11291 1534 13 ORtg Last Month    118
Name: 11291, dtype: object
11292 1043 9 ORtg Last Month    115.889
Name: 11292, dtype: object
11293 327 4 ORtg Last Month    81.75
Name: 11293, dtype: object
11294 1399 12 ORtg Last Month    116.583
Name: 11294, dtype: object
11295 626 11 ORtg Last Month    56.9091
Name: 11295, dtype: object
11296 1441 12 ORtg Last Month    120.083
Name: 11296, dtype: object
11297 1406 12 ORtg Last Month    117.167
Name: 11297, dtype: object
11298 1483 12 ORtg Last Month    123.583
Name: 11298, dtype: object
11299 1208 12 ORtg Last Month    100.667
Name: 11299, dtype: object
11300 1533 12 ORtg Last Month    127.75
Name: 11300, dtype: object
11301 1206 12 ORtg Last Month    100.5
Name: 11301, dtype: object
11302 1619 12 ORtg Last Month    134.917
Name: 11302, dtype: object

11303 1061 12 ORtg Last Month    88.4167
Name: 11303, dtype: object
11304 104 6 ORtg Last Month    17.3333
Name: 11304, dtype: object
11305 0 5 ORtg Last Month    0
Name: 11305, dtype: object
11306 125 12 ORtg Last Month    10.4167
Name: 11306, dtype: object
11307 305 3 ORtg Last Month    101.667
Name: 11307, dtype: object
11308 1056 9 ORtg Last Month    117.333
Name: 11308, dtype: object
11309 1382 13 ORtg Last Month    106.308
Name: 11309, dtype: object
11310 1248 12 ORtg Last Month    104
Name: 11310, dtype: object
11311 915 13 ORtg Last Month    70.3846
Name: 11311, dtype: object
11312 1554 13 ORtg Last Month    119.538
Name: 11312, dtype: object
11313 1388 11 ORtg Last Month    126.182
Name: 11313, dtype: object
11314 725 7 ORtg Last Month    103.571
Name: 11314, dtype: object
11315 906 8 ORtg Last Month    113.25
Name: 11315, dtype: object
11316 426 5 ORtg Last Month    85.2
Name: 11316, dtype: object
11317 1605 13 ORtg Last Month    123.462
Name: 11317, dtype: object
11318 1783 13 ORtg Last Month    137.154
Name: 11318, dtype: object
11319 1440 13 ORtg Last Month    110.769
Name: 11319, dtype: object
11320 1817 15 ORtg Last Month    121.133
Name: 11320, dtype: object
11321 211 5 ORtg Last Month    42.2
Name: 11321, dtype: object
11322 1044 14 ORtg Last Month    74.5714
Name: 11322, dtype: object
11323 1658 15 ORtg Last Month    110.533
Name: 11323, dtype: object
11324 1573 15 ORtg Last Month    104.867
Name: 11324, dtype: object
11325 1336 13 ORtg Last Month    102.769
Name: 11325, dtype: object
11326 1426 13 ORtg Last Month    109.692
Name: 11326, dtype: object
11327 944 14 ORtg Last Month    67.4286
Name: 11327, dtype: object
11328 1927 15 ORtg Last Month    128.467
Name: 11328, dtype: object
11329 1047 11 ORtg Last Month    95.1818
Name: 11329, dtype: object
11330 241 12 ORtg Last Month    20.0833
Name: 11330, dtype: object
11331 1656 14 ORtg Last Month    118.286
Name: 11331, dtype: object
11332 1576 14 ORtg Last Month    112.571
Name: 11332, dtype: object
11333 1807 14 ORtg Last Month    129.071
Name: 11333, dtype: object
11334 1471 14 ORtg Last Month    105.071
Name: 11334, dtype: object
11335 1231 14 ORtg Last Month    87.9286
Name: 11335, dtype: object
11336 1608 14 ORtg Last Month    114.857
Name: 11336, dtype: object
11337 1042 13 ORtg Last Month    80.1538
Name: 11337, dtype: object
11338 1117 14 ORtg Last Month    79.7857
Name: 11338, dtype: object
11339 502 14 ORtg Last Month    35.8571
Name: 11339, dtype: object
11340 1199 14 ORtg Last Month    85.6429
Name: 11340, dtype: object
11341 437 14 ORtg Last Month    31.2143
Name: 11341, dtype: object
11342 1157 13 ORtg Last Month    89
Name: 11342, dtype: object
11343 1155 12 ORtg Last Month    96.25
Name: 11343, dtype: object
11344 789 8 ORtg Last Month    98.625
Name: 11344, dtype: object
11345 726 11 ORtg Last Month    66
Name: 11345, dtype: object
11346 1200 13 ORtg Last Month    92.3077
Name: 11346, dtype: object
11347 1279 13 ORtg Last Month    98.3846
Name: 11347, dtype: object
11348 1213 13 ORtg Last Month    93.3077
Name: 11348, dtype: object
11349 955 11 ORtg Last Month    86.8182
Name: 11349, dtype: object
11350 124 13 ORtg Last Month    9.53846
Name: 11350, dtype: object
11351 994 9 ORtg Last Month    110.444
Name: 11351, dtype: object
11352 1558 13 ORtg Last Month    119.846
Name: 11352, dtype: object
11353 1548 13 ORtg Last Month    119.077
Name: 11353, dtype: object
11354 1579 14 ORtg Last Month    112.786
Name: 11354, dtype: object
11355 905 14 ORtg Last Month    64.6429
Name: 11355, dtype: object
11356 141 8 ORtg Last Month    17.625
Name: 11356, dtype: object
11357 1110 13 ORtg Last Month    85.3846
Name: 11357, dtype: object
11358 1614 14 ORtg Last Month    115.286
Name: 11358, dtype: object
11359 1747 14 ORtg Last Month    124.786
Name: 11359, dtype: object
11360 1490 14 ORtg Last Month    106.429
Name: 11360, dtype: object
11361 790 13 ORtg Last Month    60.7692
Name: 11361, dtype: object
11362 1394 14 ORtg Last Month    99.5714
Name: 11362, dtype: object
11363 679 6 ORtg Last Month    113.167
Name: 11363, dtype: object
11364 1655 14 ORtg Last Month    118.214
Name: 11364, dtype: object
11365 229 15 ORtg Last Month    15.2667
Name: 11365, dtype: object
11366 1312 13 ORtg Last Month    100.923
Name: 11366, dtype: object
11367 1179 12 ORtg Last Month    98.25
Name: 11367, dtype: object
11368 265 12 ORtg Last Month    22.0833
Name: 11368, dtype: object
11369 1610 13 ORtg Last Month    123.846
Name: 11369, dtype: object
11370 1604 13 ORtg Last Month    123.385
Name: 11370, dtype: object
11371 609 10 ORtg Last Month    60.9
Name: 11371, dtype: object
11372 984 13 ORtg Last Month    75.6923
Name: 11372, dtype: object
11373 1072 9 ORtg Last Month    119.111
Name: 11373, dtype: object
11374 497 13 ORtg Last Month    38.2308
Name: 11374, dtype: object
11375 1531 13 ORtg Last Month    117.769
Name: 11375, dtype: object
11376 1293 13 ORtg Last Month    99.4615
Name: 11376, dtype: object
11377 830 13 ORtg Last Month    63.8462
Name: 11377, dtype: object
11378 1611 13 ORtg Last Month    123.923
Name: 11378, dtype: object
11379 1478 13 ORtg Last Month    113.692
Name: 11379, dtype: object
11380 788 10 ORtg Last Month    78.8
Name: 11380, dtype: object
11381 1619 13 ORtg Last Month    124.538
Name: 11381, dtype: object
11382 314 6 ORtg Last Month    52.3333
Name: 11382, dtype: object
11383 1299 11 ORtg Last Month    118.091
Name: 11383, dtype: object
11384 1526 13 ORtg Last Month    117.385
Name: 11384, dtype: object
11385 1155 13 ORtg Last Month    88.8462
Name: 11385, dtype: object
11386 200 5 ORtg Last Month    40
Name: 11386, dtype: object
11387 1308 12 ORtg Last Month    109
Name: 11387, dtype: object
11388 1344 12 ORtg Last Month    112
Name: 11388, dtype: object
11389 1178 13 ORtg Last Month    90.6154
Name: 11389, dtype: object
11390 859 8 ORtg Last Month    107.375
Name: 11390, dtype: object
11391 1098 11 ORtg Last Month    99.8182
Name: 11391, dtype: object
11392 1206 14 ORtg Last Month    86.1429
Name: 11392, dtype: object
11393 539 10 ORtg Last Month    53.9
Name: 11393, dtype: object
11394 763 15 ORtg Last Month    50.8667
Name: 11394, dtype: object
11395 1123 10 ORtg Last Month    112.3
Name: 11395, dtype: object
11396 1317 13 ORtg Last Month    101.308
Name: 11396, dtype: object
11397 1468 15 ORtg Last Month    97.8667
Name: 11397, dtype: object
11398 1423 15 ORtg Last Month    94.8667
Name: 11398, dtype: object
11399 1736 15 ORtg Last Month    115.733
Name: 11399, dtype: object
11400 2078 15 ORtg Last Month    138.533
Name: 11400, dtype: object
11401 490 15 ORtg Last Month    32.6667
Name: 11401, dtype: object
11402 0 4 ORtg Last Month    0
Name: 11402, dtype: object
11403 1502 16 ORtg Last Month    93.875
Name: 11403, dtype: object
11404 1689 16 ORtg Last Month    105.562
Name: 11404, dtype: object
11405 1913 16 ORtg Last Month    119.562
Name: 11405, dtype: object
11406 1773 16 ORtg Last Month    110.812
Name: 11406, dtype: object
11407 1930 16 ORtg Last Month    120.625
Name: 11407, dtype: object
11408 1733 16 ORtg Last Month    108.312
Name: 11408, dtype: object
11409 1824 15 ORtg Last Month    121.6
Name: 11409, dtype: object
11410 1207 16 ORtg Last Month    75.4375
Name: 11410, dtype: object
11411 1895 16 ORtg Last Month    118.438
Name: 11411, dtype: object
11412 1899 14 ORtg Last Month    135.643
Name: 11412, dtype: object
11413 2166 16 ORtg Last Month    135.375
Name: 11413, dtype: object
11414 502 5 ORtg Last Month    100.4
Name: 11414, dtype: object
11415 1036 12 ORtg Last Month    86.3333
Name: 11415, dtype: object
11416 1662 14 ORtg Last Month    118.714
Name: 11416, dtype: object
11417 1703 15 ORtg Last Month    113.533
Name: 11417, dtype: object
11418 382 15 ORtg Last Month    25.4667
Name: 11418, dtype: object
11419 1754 14 ORtg Last Month    125.286
Name: 11419, dtype: object
11420 160 2 ORtg Last Month    80
Name: 11420, dtype: object
11421 1432 15 ORtg Last Month    95.4667
Name: 11421, dtype: object
11422 1634 14 ORtg Last Month    116.714
Name: 11422, dtype: object
11423 172 14 ORtg Last Month    12.2857
Name: 11423, dtype: object
11424 1463 15 ORtg Last Month    97.5333
Name: 11424, dtype: object
11425 751 14 ORtg Last Month    53.6429
Name: 11425, dtype: object

11426 271 4 ORtg Last Month    67.75
Name: 11426, dtype: object
11427 1430 15 ORtg Last Month    95.3333
Name: 11427, dtype: object
11428 1135 13 ORtg Last Month    87.3077
Name: 11428, dtype: object
11429 1299 15 ORtg Last Month    86.6
Name: 11429, dtype: object
11430 1279 13 ORtg Last Month    98.3846
Name: 11430, dtype: object
11431 1662 15 ORtg Last Month    110.8
Name: 11431, dtype: object
11432 1343 15 ORtg Last Month    89.5333
Name: 11432, dtype: object
11433 1651 15 ORtg Last Month    110.067
Name: 11433, dtype: object
11434 1413 14 ORtg Last Month    100.929
Name: 11434, dtype: object
11435 1474 15 ORtg Last Month    98.2667
Name: 11435, dtype: object
11436 1131 8 ORtg Last Month    141.375
Name: 11436, dtype: object
11437 1932 15 ORtg Last Month    128.8
Name: 11437, dtype: object
11438 1925 15 ORtg Last Month    128.333
Name: 11438, dtype: object
11439 949 14 ORtg Last Month    67.7857
Name: 11439, dtype: object
11440 1681 15 ORtg Last Month    112.067
Name: 11440, dtype: object
11441 1809 15 ORtg Last Month    120.6
Name: 11441, dtype: object
11442 280 2 ORtg Last Month    140
Name: 11442, dtype: object
11443 221 8 ORtg Last Month    27.625
Name: 11443, dtype: object
11444 120 3 ORtg Last Month    40
Name: 11444, dtype: object
11445 1329 14 ORtg Last Month    94.9286
Name: 11445, dtype: object
11446 1456 13 ORtg Last Month    112
Name: 11446, dtype: object
11447 538 7 ORtg Last Month    76.8571
Name: 11447, dtype: object
11448 1884 15 ORtg Last Month    125.6
Name: 11448, dtype: object
11449 1553 15 ORtg Last Month    103.533
Name: 11449, dtype: object
11450 602 15 ORtg Last Month    40.1333
Name: 11450, dtype: object
11451 877 13 ORtg Last Month    67.4615
Name: 11451, dtype: object
11452 1214 13 ORtg Last Month    93.3846
Name: 11452, dtype: object
11453 1070 9 ORtg Last Month    118.889
Name: 11453, dtype: object
11454 712 6 ORtg Last Month    118.667
Name: 11454, dtype: object
11455 587 7 ORtg Last Month    83.8571
Name: 11455, dtype: object
11456 1254 13 ORtg Last Month    96.4615
Name: 11456, dtype: object
11457 963 13 ORtg Last Month    74.0769
Name: 11457, dtype: object
11458 1450 13 ORtg Last Month    111.538
Name: 11458, dtype: object
11459 0 0 ORtg Last Month    0
Name: 11459, dtype: object
11460 409 6 ORtg Last Month    68.1667
Name: 11460, dtype: object
11461 1221 13 ORtg Last Month    93.9231
Name: 11461, dtype: object
11462 1359 13 ORtg Last Month    104.538
Name: 11462, dtype: object
11463 1404 12 ORtg Last Month    117
Name: 11463, dtype: object
11464 1392 13 ORtg Last Month    107.077
Name: 11464, dtype: object
11465 1620 13 ORtg Last Month    124.615
Name: 11465, dtype: object
11466 1225 13 ORtg Last Month    94.2308
Name: 11466, dtype: object
11467 1513 13 ORtg Last Month    116.385
Name: 11467, dtype: object
11468 1389 11 ORtg Last Month    126.273
Name: 11468, dtype: object
11469 1159 10 ORtg Last Month    115.9
Name: 11469, dtype: object
11470 926 9 ORtg Last Month    102.889
Name: 11470, dtype: object
11471 1280 13 ORtg Last Month    98.4615
Name: 11471, dtype: object
11472 450 4 ORtg Last Month    112.5
Name: 11472, dtype: object
11473 1403 13 ORtg Last Month    107.923
Name: 11473, dtype: object
11474 1335 11 ORtg Last Month    121.364
Name: 11474, dtype: object
11475 647 8 ORtg Last Month    80.875
Name: 11475, dtype: object
11476 1481 15 ORtg Last Month    98.7333
Name: 11476, dtype: object
11477 1821 15 ORtg Last Month    121.4
Name: 11477, dtype: object
11478 680 15 ORtg Last Month    45.3333
Name: 11478, dtype: object
11479 1091 13 ORtg Last Month    83.9231
Name: 11479, dtype: object
11480 1502 13 ORtg Last Month    115.538
Name: 11480, dtype: object
11481 1817 15 ORtg Last Month    121.133
Name: 11481, dtype: object
11482 1464 15 ORtg Last Month    97.6
Name: 11482, dtype: object
11483 227 3 ORtg Last Month    75.6667
Name: 11483, dtype: object
11484 1850 15 ORtg Last Month    123.333
Name: 11484, dtype: object
11485 1941 15 ORtg Last Month    129.4
Name: 11485, dtype: object
11486 1552 15 ORtg Last Month    103.467
Name: 11486, dtype: object
11487 311 15 ORtg Last Month    20.7333
Name: 11487, dtype: object
11488 607 6 ORtg Last Month    101.167
Name: 11488, dtype: object
11489 1508 15 ORtg Last Month    100.533
Name: 11489, dtype: object
11490 718 14 ORtg Last Month    51.2857
Name: 11490, dtype: object
11491 1162 15 ORtg Last Month    77.4667
Name: 11491, dtype: object
11492 111 3 ORtg Last Month    37
Name: 11492, dtype: object
11493 1021 14 ORtg Last Month    72.9286
Name: 11493, dtype: object
11494 966 11 ORtg Last Month    87.8182
Name: 11494, dtype: object
11495 1441 15 ORtg Last Month    96.0667
Name: 11495, dtype: object
11496 1334 13 ORtg Last Month    102.615
Name: 11496, dtype: object
11497 990 12 ORtg Last Month    82.5
Name: 11497, dtype: object
11498 1399 15 ORtg Last Month    93.2667
Name: 11498, dtype: object
11499 457 15 ORtg Last Month    30.4667
Name: 11499, dtype: object
11500 1383 14 ORtg Last Month    98.7857
Name: 11500, dtype: object
11501 568 13 ORtg Last Month    43.6923
Name: 11501, dtype: object
11502 1095 14 ORtg Last Month    78.2143
Name: 11502, dtype: object
11503 1136 12 ORtg Last Month    94.6667
Name: 11503, dtype: object
11504 1574 14 ORtg Last Month    112.429
Name: 11504, dtype: object
11505 1365 14 ORtg Last Month    97.5
Name: 11505, dtype: object
11506 1552 14 ORtg Last Month    110.857
Name: 11506, dtype: object
11507 1281 12 ORtg Last Month    106.75
Name: 11507, dtype: object
11508 1462 13 ORtg Last Month    112.462
Name: 11508, dtype: object
11509 811 13 ORtg Last Month    62.3846
Name: 11509, dtype: object
11510 1585 13 ORtg Last Month    121.923
Name: 11510, dtype: object
11511 1364 14 ORtg Last Month    97.4286
Name: 11511, dtype: object
11512 1430 16 ORtg Last Month    89.375
Name: 11512, dtype: object
11513 1673 16 ORtg Last Month    104.562
Name: 11513, dtype: object
11514 1576 17 ORtg Last Month    92.7059
Name: 11514, dtype: object
11515 1400 11 ORtg Last Month    127.273
Name: 11515, dtype: object
11516 1739 17 ORtg Last Month    102.294
Name: 11516, dtype: object
11517 778 9 ORtg Last Month    86.4444
Name: 11517, dtype: object
11518 1093 10 ORtg Last Month    109.3
Name: 11518, dtype: object
11519 540 7 ORtg Last Month    77.1429
Name: 11519, dtype: object
11520 2323 17 ORtg Last Month    136.647
Name: 11520, dtype: object
11521 717 14 ORtg Last Month    51.2143
Name: 11521, dtype: object
11522 877 17 ORtg Last Month    51.5882
Name: 11522, dtype: object
11523 1269 14 ORtg Last Month    90.6429
Name: 11523, dtype: object
11524 1535 14 ORtg Last Month    109.643
Name: 11524, dtype: object
11525 1396 13 ORtg Last Month    107.385
Name: 11525, dtype: object
11526 1553 14 ORtg Last Month    110.929
Name: 11526, dtype: object
11527 1642 14 ORtg Last Month    117.286
Name: 11527, dtype: object
11528 282 12 ORtg Last Month    23.5
Name: 11528, dtype: object
11529 1651 14 ORtg Last Month    117.929
Name: 11529, dtype: object
11530 1194 10 ORtg Last Month    119.4
Name: 11530, dtype: object
11531 1399 13 ORtg Last Month    107.615
Name: 11531, dtype: object
11532 626 12 ORtg Last Month    52.1667
Name: 11532, dtype: object
11533 385 5 ORtg Last Month    77
Name: 11533, dtype: object
11534 1752 15 ORtg Last Month    116.8
Name: 11534, dtype: object
11535 1358 15 ORtg Last Month    90.5333
Name: 11535, dtype: object
11536 1547 15 ORtg Last Month    103.133
Name: 11536, dtype: object
11537 1009 15 ORtg Last Month    67.2667
Name: 11537, dtype: object
11538 398 13 ORtg Last Month    30.6154
Name: 11538, dtype: object
11539 0 1 ORtg Last Month    0
Name: 11539, dtype: object
11540 1047 10 ORtg Last Month    104.7
Name: 11540, dtype: object
11541 1104 13 ORtg Last Month    84.9231
Name: 11541, dtype: object
11542 742 10 ORtg Last Month    74.2
Name: 11542, dtype: object
11543 1510 15 ORtg Last Month    100.667
Name: 11543, dtype: object
11544 1360 14 ORtg Last Month    97.1429
Name: 11544, dtype: object
11545 1583 14 ORtg Last Month    113.071
Name: 11545, dtype: object
11546 1193 15 ORtg Last Month    79.5333
Name: 11546, dtype: object
11547 1155 10 ORtg Last Month    115.5
Name: 11547, dtype: object
11548 1476 14 ORtg Last Month    105.429
Name: 11548, dtype: object

11549 1361 13 ORtg Last Month    104.692
Name: 11549, dtype: object
11550 915 14 ORtg Last Month    65.3571
Name: 11550, dtype: object
11551 1678 14 ORtg Last Month    119.857
Name: 11551, dtype: object
11552 975 8 ORtg Last Month    121.875
Name: 11552, dtype: object
11553 1508 12 ORtg Last Month    125.667
Name: 11553, dtype: object
11554 906 9 ORtg Last Month    100.667
Name: 11554, dtype: object
11555 536 6 ORtg Last Month    89.3333
Name: 11555, dtype: object
11556 1931 14 ORtg Last Month    137.929
Name: 11556, dtype: object
11557 1796 14 ORtg Last Month    128.286
Name: 11557, dtype: object
11558 1480 14 ORtg Last Month    105.714
Name: 11558, dtype: object
11559 652 6 ORtg Last Month    108.667
Name: 11559, dtype: object
11560 1487 15 ORtg Last Month    99.1333
Name: 11560, dtype: object
11561 1732 15 ORtg Last Month    115.467
Name: 11561, dtype: object
11562 999 15 ORtg Last Month    66.6
Name: 11562, dtype: object
11563 1744 15 ORtg Last Month    116.267
Name: 11563, dtype: object
11564 1718 15 ORtg Last Month    114.533
Name: 11564, dtype: object
11565 1727 15 ORtg Last Month    115.133
Name: 11565, dtype: object
11566 1538 14 ORtg Last Month    109.857
Name: 11566, dtype: object
11567 1523 14 ORtg Last Month    108.786
Name: 11567, dtype: object
11568 211 15 ORtg Last Month    14.0667
Name: 11568, dtype: object
11569 1258 15 ORtg Last Month    83.8667
Name: 11569, dtype: object
11570 1764 15 ORtg Last Month    117.6
Name: 11570, dtype: object
11571 1627 15 ORtg Last Month    108.467
Name: 11571, dtype: object
11572 595 15 ORtg Last Month    39.6667
Name: 11572, dtype: object
11573 505 14 ORtg Last Month    36.0714
Name: 11573, dtype: object
11574 1717 15 ORtg Last Month    114.467
Name: 11574, dtype: object
11575 1987 15 ORtg Last Month    132.467
Name: 11575, dtype: object
11576 1372 15 ORtg Last Month    91.4667
Name: 11576, dtype: object
11577 557 15 ORtg Last Month    37.1333
Name: 11577, dtype: object
11578 1827 15 ORtg Last Month    121.8
Name: 11578, dtype: object
11579 1149 14 ORtg Last Month    82.0714
Name: 11579, dtype: object
11580 1262 15 ORtg Last Month    84.1333
Name: 11580, dtype: object
11581 818 8 ORtg Last Month    102.25
Name: 11581, dtype: object
11582 1562 15 ORtg Last Month    104.133
Name: 11582, dtype: object
11583 1413 15 ORtg Last Month    94.2
Name: 11583, dtype: object
11584 89 1 ORtg Last Month    89
Name: 11584, dtype: object
11585 1646 15 ORtg Last Month    109.733
Name: 11585, dtype: object
11586 1698 15 ORtg Last Month    113.2
Name: 11586, dtype: object
11587 1700 15 ORtg Last Month    113.333
Name: 11587, dtype: object
11588 1143 15 ORtg Last Month    76.2
Name: 11588, dtype: object
11589 1057 15 ORtg Last Month    70.4667
Name: 11589, dtype: object
11590 564 15 ORtg Last Month    37.6
Name: 11590, dtype: object
11591 583 15 ORtg Last Month    38.8667
Name: 11591, dtype: object
11592 1610 14 ORtg Last Month    115
Name: 11592, dtype: object
11593 1670 14 ORtg Last Month    119.286
Name: 11593, dtype: object
11594 1270 15 ORtg Last Month    84.6667
Name: 11594, dtype: object
11595 214 6 ORtg Last Month    35.6667
Name: 11595, dtype: object
11596 1466 15 ORtg Last Month    97.7333
Name: 11596, dtype: object
11597 1543 15 ORtg Last Month    102.867
Name: 11597, dtype: object
11598 817 15 ORtg Last Month    54.4667
Name: 11598, dtype: object
11599 0 0 ORtg Last Month    0
Name: 11599, dtype: object
11600 88 6 ORtg Last Month    14.6667
Name: 11600, dtype: object
11601 1518 15 ORtg Last Month    101.2
Name: 11601, dtype: object
11602 1604 15 ORtg Last Month    106.933
Name: 11602, dtype: object
11603 512 12 ORtg Last Month    42.6667
Name: 11603, dtype: object
11604 1236 13 ORtg Last Month    95.0769
Name: 11604, dtype: object
11605 884 9 ORtg Last Month    98.2222
Name: 11605, dtype: object
11606 1283 14 ORtg Last Month    91.6429
Name: 11606, dtype: object
11607 726 12 ORtg Last Month    60.5
Name: 11607, dtype: object
11608 1381 14 ORtg Last Month    98.6429
Name: 11608, dtype: object
11609 1335 14 ORtg Last Month    95.3571
Name: 11609, dtype: object
11610 1060 12 ORtg Last Month    88.3333
Name: 11610, dtype: object
11611 124 14 ORtg Last Month    8.85714
Name: 11611, dtype: object
11612 1062 10 ORtg Last Month    106.2
Name: 11612, dtype: object
11613 1652 14 ORtg Last Month    118
Name: 11613, dtype: object
11614 1632 14 ORtg Last Month    116.571
Name: 11614, dtype: object
11615 1645 14 ORtg Last Month    117.5
Name: 11615, dtype: object
11616 109 2 ORtg Last Month    54.5
Name: 11616, dtype: object
11617 0 0 ORtg Last Month    0
Name: 11617, dtype: object
11618 1339 14 ORtg Last Month    95.6429
Name: 11618, dtype: object
11619 1416 13 ORtg Last Month    108.923
Name: 11619, dtype: object
11620 1060 14 ORtg Last Month    75.7143
Name: 11620, dtype: object
11621 1860 14 ORtg Last Month    132.857
Name: 11621, dtype: object
11622 292 14 ORtg Last Month    20.8571
Name: 11622, dtype: object
11623 476 14 ORtg Last Month    34
Name: 11623, dtype: object
11624 262 14 ORtg Last Month    18.7143
Name: 11624, dtype: object
11625 1592 14 ORtg Last Month    113.714
Name: 11625, dtype: object
11626 1507 14 ORtg Last Month    107.643
Name: 11626, dtype: object
11627 1640 13 ORtg Last Month    126.154
Name: 11627, dtype: object
11628 1622 15 ORtg Last Month    108.133
Name: 11628, dtype: object
11629 1539 15 ORtg Last Month    102.6
Name: 11629, dtype: object
11630 411 9 ORtg Last Month    45.6667
Name: 11630, dtype: object
11631 517 12 ORtg Last Month    43.0833
Name: 11631, dtype: object
11632 1520 15 ORtg Last Month    101.333
Name: 11632, dtype: object
11633 1051 13 ORtg Last Month    80.8462
Name: 11633, dtype: object
11634 1399 15 ORtg Last Month    93.2667
Name: 11634, dtype: object
11635 245 6 ORtg Last Month    40.8333
Name: 11635, dtype: object
11636 551 14 ORtg Last Month    39.3571
Name: 11636, dtype: object
11637 1730 14 ORtg Last Month    123.571
Name: 11637, dtype: object
11638 1561 14 ORtg Last Month    111.5
Name: 11638, dtype: object
11639 618 14 ORtg Last Month    44.1429
Name: 11639, dtype: object
11640 930 15 ORtg Last Month    62
Name: 11640, dtype: object
11641 1369 14 ORtg Last Month    97.7857
Name: 11641, dtype: object
11642 1252 13 ORtg Last Month    96.3077
Name: 11642, dtype: object
11643 265 13 ORtg Last Month    20.3846
Name: 11643, dtype: object
11644 1749 14 ORtg Last Month    124.929
Name: 11644, dtype: object
11645 1713 14 ORtg Last Month    122.357
Name: 11645, dtype: object
11646 737 11 ORtg Last Month    67
Name: 11646, dtype: object
11647 1131 14 ORtg Last Month    80.7857
Name: 11647, dtype: object
11648 1190 10 ORtg Last Month    119
Name: 11648, dtype: object
11649 497 14 ORtg Last Month    35.5
Name: 11649, dtype: object
11650 1635 14 ORtg Last Month    116.786
Name: 11650, dtype: object
11651 1367 14 ORtg Last Month    97.6429
Name: 11651, dtype: object
11652 932 14 ORtg Last Month    66.5714
Name: 11652, dtype: object
11653 1512 13 ORtg Last Month    116.308
Name: 11653, dtype: object
11654 1289 13 ORtg Last Month    99.1538
Name: 11654, dtype: object
11655 489 12 ORtg Last Month    40.75
Name: 11655, dtype: object
11656 1049 12 ORtg Last Month    87.4167
Name: 11656, dtype: object
11657 1118 12 ORtg Last Month    93.1667
Name: 11657, dtype: object
11658 1211 13 ORtg Last Month    93.1538
Name: 11658, dtype: object
11659 1376 13 ORtg Last Month    105.846
Name: 11659, dtype: object
11660 1124 12 ORtg Last Month    93.6667
Name: 11660, dtype: object
11661 1177 13 ORtg Last Month    90.5385
Name: 11661, dtype: object
11662 1355 12 ORtg Last Month    112.917
Name: 11662, dtype: object
11663 351 12 ORtg Last Month    29.25
Name: 11663, dtype: object
11664 436 13 ORtg Last Month    33.5385
Name: 11664, dtype: object
11665 980 9 ORtg Last Month    108.889
Name: 11665, dtype: object
11666 763 16 ORtg Last Month    47.6875
Name: 11666, dtype: object
11667 1285 15 ORtg Last Month    85.6667
Name: 11667, dtype: object
11668 1266 12 ORtg Last Month    105.5
Name: 11668, dtype: object
11669 539 11 ORtg Last Month    49
Name: 11669, dtype: object
11670 1627 16 ORtg Last Month    101.688
Name: 11670, dtype: object
11671 1466 16 ORtg Last Month    91.625
Name: 11671, dtype: object

11672 1444 14 ORtg Last Month    103.143
Name: 11672, dtype: object
11673 1254 11 ORtg Last Month    114
Name: 11673, dtype: object
11674 1865 16 ORtg Last Month    116.562
Name: 11674, dtype: object
11675 2237 16 ORtg Last Month    139.812
Name: 11675, dtype: object
11676 490 16 ORtg Last Month    30.625
Name: 11676, dtype: object
11677 0 5 ORtg Last Month    0
Name: 11677, dtype: object
11678 1701 14 ORtg Last Month    121.5
Name: 11678, dtype: object
11679 1125 14 ORtg Last Month    80.3571
Name: 11679, dtype: object
11680 94 14 ORtg Last Month    6.71429
Name: 11680, dtype: object
11681 1681 14 ORtg Last Month    120.071
Name: 11681, dtype: object
11682 1415 13 ORtg Last Month    108.846
Name: 11682, dtype: object
11683 1281 13 ORtg Last Month    98.5385
Name: 11683, dtype: object
11684 1295 14 ORtg Last Month    92.5
Name: 11684, dtype: object
11685 655 13 ORtg Last Month    50.3846
Name: 11685, dtype: object
11686 1477 14 ORtg Last Month    105.5
Name: 11686, dtype: object
11687 1618 14 ORtg Last Month    115.571
Name: 11687, dtype: object
11688 1458 14 ORtg Last Month    104.143
Name: 11688, dtype: object
11689 395 13 ORtg Last Month    30.3846
Name: 11689, dtype: object
11690 1490 14 ORtg Last Month    106.429
Name: 11690, dtype: object
11691 1144 14 ORtg Last Month    81.7143
Name: 11691, dtype: object
11692 1470 14 ORtg Last Month    105
Name: 11692, dtype: object
11693 1622 14 ORtg Last Month    115.857
Name: 11693, dtype: object
11694 1479 14 ORtg Last Month    105.643
Name: 11694, dtype: object
11695 997 10 ORtg Last Month    99.7
Name: 11695, dtype: object
11696 1725 14 ORtg Last Month    123.214
Name: 11696, dtype: object
11697 522 11 ORtg Last Month    47.4545
Name: 11697, dtype: object
11698 1654 14 ORtg Last Month    118.143
Name: 11698, dtype: object
11699 1106 12 ORtg Last Month    92.1667
Name: 11699, dtype: object
11700 1021 11 ORtg Last Month    92.8182
Name: 11700, dtype: object
11701 266 4 ORtg Last Month    66.5
Name: 11701, dtype: object
11702 1799 16 ORtg Last Month    112.438
Name: 11702, dtype: object
11703 365 3 ORtg Last Month    121.667
Name: 11703, dtype: object
11704 1334 14 ORtg Last Month    95.2857
Name: 11704, dtype: object
11705 1936 16 ORtg Last Month    121
Name: 11705, dtype: object
11706 444 9 ORtg Last Month    49.3333
Name: 11706, dtype: object
11707 120 4 ORtg Last Month    30
Name: 11707, dtype: object
11708 1638 14 ORtg Last Month    117
Name: 11708, dtype: object
11709 1412 15 ORtg Last Month    94.1333
Name: 11709, dtype: object
11710 686 8 ORtg Last Month    85.75
Name: 11710, dtype: object
11711 1645 16 ORtg Last Month    102.812
Name: 11711, dtype: object
11712 2075 16 ORtg Last Month    129.688
Name: 11712, dtype: object
11713 602 16 ORtg Last Month    37.625
Name: 11713, dtype: object
11714 1391 11 ORtg Last Month    126.455
Name: 11714, dtype: object
11715 1319 12 ORtg Last Month    109.917
Name: 11715, dtype: object
11716 1546 12 ORtg Last Month    128.833
Name: 11716, dtype: object
11717 1125 12 ORtg Last Month    93.75
Name: 11717, dtype: object
11718 1356 12 ORtg Last Month    113
Name: 11718, dtype: object
11719 1282 10 ORtg Last Month    128.2
Name: 11719, dtype: object
11720 775 8 ORtg Last Month    96.875
Name: 11720, dtype: object
11721 1133 10 ORtg Last Month    113.3
Name: 11721, dtype: object
11722 1108 12 ORtg Last Month    92.3333
Name: 11722, dtype: object
11723 550 4 ORtg Last Month    137.5
Name: 11723, dtype: object
11724 1421 12 ORtg Last Month    118.417
Name: 11724, dtype: object
11725 687 7 ORtg Last Month    98.1429
Name: 11725, dtype: object
11726 1213 10 ORtg Last Month    121.3
Name: 11726, dtype: object
11727 1320 11 ORtg Last Month    120
Name: 11727, dtype: object
11728 1346 13 ORtg Last Month    103.538
Name: 11728, dtype: object
11729 1198 12 ORtg Last Month    99.8333
Name: 11729, dtype: object
11730 714 13 ORtg Last Month    54.9231
Name: 11730, dtype: object
11731 1588 13 ORtg Last Month    122.154
Name: 11731, dtype: object
11732 1199 11 ORtg Last Month    109
Name: 11732, dtype: object
11733 1147 9 ORtg Last Month    127.444
Name: 11733, dtype: object
11734 682 8 ORtg Last Month    85.25
Name: 11734, dtype: object
11735 656 7 ORtg Last Month    93.7143
Name: 11735, dtype: object
11736 1784 13 ORtg Last Month    137.231
Name: 11736, dtype: object
11737 1690 13 ORtg Last Month    130
Name: 11737, dtype: object
11738 1094 13 ORtg Last Month    84.1538
Name: 11738, dtype: object
11739 1728 14 ORtg Last Month    123.429
Name: 11739, dtype: object
11740 881 13 ORtg Last Month    67.7692
Name: 11740, dtype: object
11741 225 6 ORtg Last Month    37.5
Name: 11741, dtype: object
11742 1448 14 ORtg Last Month    103.429
Name: 11742, dtype: object
11743 1624 14 ORtg Last Month    116
Name: 11743, dtype: object
11744 1545 14 ORtg Last Month    110.357
Name: 11744, dtype: object
11745 1346 12 ORtg Last Month    112.167
Name: 11745, dtype: object
11746 1088 13 ORtg Last Month    83.6923
Name: 11746, dtype: object
11747 1755 14 ORtg Last Month    125.357
Name: 11747, dtype: object
11748 1126 12 ORtg Last Month    93.8333
Name: 11748, dtype: object
11749 241 11 ORtg Last Month    21.9091
Name: 11749, dtype: object
11750 367 8 ORtg Last Month    45.875
Name: 11750, dtype: object
11751 835 10 ORtg Last Month    83.5
Name: 11751, dtype: object
11752 169 2 ORtg Last Month    84.5
Name: 11752, dtype: object
11753 823 8 ORtg Last Month    102.875
Name: 11753, dtype: object
11754 1710 15 ORtg Last Month    114
Name: 11754, dtype: object
11755 1387 15 ORtg Last Month    92.4667
Name: 11755, dtype: object
11756 1663 15 ORtg Last Month    110.867
Name: 11756, dtype: object
11757 1725 15 ORtg Last Month    115
Name: 11757, dtype: object
11758 1810 15 ORtg Last Month    120.667
Name: 11758, dtype: object
11759 1066 15 ORtg Last Month    71.0667
Name: 11759, dtype: object
11760 1057 15 ORtg Last Month    70.4667
Name: 11760, dtype: object
11761 691 15 ORtg Last Month    46.0667
Name: 11761, dtype: object
11762 1945 14 ORtg Last Month    138.929
Name: 11762, dtype: object
11763 631 15 ORtg Last Month    42.0667
Name: 11763, dtype: object
11764 1147 10 ORtg Last Month    114.7
Name: 11764, dtype: object
11765 1455 13 ORtg Last Month    111.923
Name: 11765, dtype: object
11766 1056 14 ORtg Last Month    75.4286
Name: 11766, dtype: object
11767 724 10 ORtg Last Month    72.4
Name: 11767, dtype: object
11768 1400 13 ORtg Last Month    107.692
Name: 11768, dtype: object
11769 975 12 ORtg Last Month    81.25
Name: 11769, dtype: object
11770 1348 13 ORtg Last Month    103.692
Name: 11770, dtype: object
11771 1632 13 ORtg Last Month    125.538
Name: 11771, dtype: object
11772 647 12 ORtg Last Month    53.9167
Name: 11772, dtype: object
11773 1307 13 ORtg Last Month    100.538
Name: 11773, dtype: object
11774 1513 13 ORtg Last Month    116.385
Name: 11774, dtype: object
11775 773 7 ORtg Last Month    110.429
Name: 11775, dtype: object
11776 229 14 ORtg Last Month    16.3571
Name: 11776, dtype: object
11777 1450 14 ORtg Last Month    103.571
Name: 11777, dtype: object
11778 622 7 ORtg Last Month    88.8571
Name: 11778, dtype: object
11779 412 7 ORtg Last Month    58.8571
Name: 11779, dtype: object
11780 802 13 ORtg Last Month    61.6923
Name: 11780, dtype: object
11781 1244 14 ORtg Last Month    88.8571
Name: 11781, dtype: object
11782 1143 11 ORtg Last Month    103.909
Name: 11782, dtype: object
11783 248 4 ORtg Last Month    62
Name: 11783, dtype: object
11784 915 9 ORtg Last Month    101.667
Name: 11784, dtype: object
11785 1254 14 ORtg Last Month    89.5714
Name: 11785, dtype: object
11786 1537 14 ORtg Last Month    109.786
Name: 11786, dtype: object
11787 1730 14 ORtg Last Month    123.571
Name: 11787, dtype: object
11788 724 10 ORtg Last Month    72.4
Name: 11788, dtype: object
11789 1277 13 ORtg Last Month    98.2308
Name: 11789, dtype: object
11790 1106 12 ORtg Last Month    92.1667
Name: 11790, dtype: object
11791 225 12 ORtg Last Month    18.75
Name: 11791, dtype: object
11792 243 6 ORtg Last Month    40.5
Name: 11792, dtype: object
11793 1636 13 ORtg Last Month    125.846
Name: 11793, dtype: object
11794 1585 13 ORtg Last Month    121.923
Name: 11794, dtype: object
11795 860 12 ORtg Last Month    71.6667
Name: 11795, dtype: object

11796 1313 11 ORtg Last Month    119.364
Name: 11796, dtype: object
11797 497 13 ORtg Last Month    38.2308
Name: 11797, dtype: object
11798 1566 13 ORtg Last Month    120.462
Name: 11798, dtype: object
11799 1231 13 ORtg Last Month    94.6923
Name: 11799, dtype: object
11800 1047 13 ORtg Last Month    80.5385
Name: 11800, dtype: object
11801 1613 13 ORtg Last Month    124.077
Name: 11801, dtype: object
11802 1479 13 ORtg Last Month    113.769
Name: 11802, dtype: object
11803 1567 13 ORtg Last Month    120.538
Name: 11803, dtype: object
11804 874 10 ORtg Last Month    87.4
Name: 11804, dtype: object
11805 372 6 ORtg Last Month    62
Name: 11805, dtype: object
11806 1279 11 ORtg Last Month    116.273
Name: 11806, dtype: object
11807 1245 11 ORtg Last Month    113.182
Name: 11807, dtype: object
11808 1525 13 ORtg Last Month    117.308
Name: 11808, dtype: object
11809 1279 13 ORtg Last Month    98.3846
Name: 11809, dtype: object
11810 274 6 ORtg Last Month    45.6667
Name: 11810, dtype: object
11811 1299 12 ORtg Last Month    108.25
Name: 11811, dtype: object
11812 1400 12 ORtg Last Month    116.667
Name: 11812, dtype: object
11813 1335 13 ORtg Last Month    102.692
Name: 11813, dtype: object
11814 1720 14 ORtg Last Month    122.857
Name: 11814, dtype: object
11815 1223 14 ORtg Last Month    87.3571
Name: 11815, dtype: object
11816 94 14 ORtg Last Month    6.71429
Name: 11816, dtype: object
11817 1615 14 ORtg Last Month    115.357
Name: 11817, dtype: object
11818 1265 13 ORtg Last Month    97.3077
Name: 11818, dtype: object
11819 1483 13 ORtg Last Month    114.077
Name: 11819, dtype: object
11820 1295 14 ORtg Last Month    92.5
Name: 11820, dtype: object
11821 605 13 ORtg Last Month    46.5385
Name: 11821, dtype: object
11822 1469 14 ORtg Last Month    104.929
Name: 11822, dtype: object
11823 1508 14 ORtg Last Month    107.714
Name: 11823, dtype: object
11824 1582 14 ORtg Last Month    113
Name: 11824, dtype: object
11825 171 13 ORtg Last Month    13.1538
Name: 11825, dtype: object
11826 1477 15 ORtg Last Month    98.4667
Name: 11826, dtype: object
11827 1190 13 ORtg Last Month    91.5385
Name: 11827, dtype: object
11828 1323 15 ORtg Last Month    88.2
Name: 11828, dtype: object
11829 1279 13 ORtg Last Month    98.3846
Name: 11829, dtype: object
11830 1661 15 ORtg Last Month    110.733
Name: 11830, dtype: object
11831 1351 13 ORtg Last Month    103.923
Name: 11831, dtype: object
11832 1699 15 ORtg Last Month    113.267
Name: 11832, dtype: object
11833 1434 15 ORtg Last Month    95.6
Name: 11833, dtype: object
11834 1513 15 ORtg Last Month    100.867
Name: 11834, dtype: object
11835 1131 9 ORtg Last Month    125.667
Name: 11835, dtype: object
11836 1937 15 ORtg Last Month    129.133
Name: 11836, dtype: object
11837 1875 15 ORtg Last Month    125
Name: 11837, dtype: object
11838 949 14 ORtg Last Month    67.7857
Name: 11838, dtype: object
11839 1145 12 ORtg Last Month    95.4167
Name: 11839, dtype: object
11840 951 8 ORtg Last Month    118.875
Name: 11840, dtype: object
11841 998 12 ORtg Last Month    83.1667
Name: 11841, dtype: object
11842 587 8 ORtg Last Month    73.375
Name: 11842, dtype: object
11843 1137 12 ORtg Last Month    94.75
Name: 11843, dtype: object
11844 1293 12 ORtg Last Month    107.75
Name: 11844, dtype: object
11845 1115 12 ORtg Last Month    92.9167
Name: 11845, dtype: object
11846 55 1 ORtg Last Month    55
Name: 11846, dtype: object
11847 432 7 ORtg Last Month    61.7143
Name: 11847, dtype: object
11848 1327 12 ORtg Last Month    110.583
Name: 11848, dtype: object
11849 1268 11 ORtg Last Month    115.273
Name: 11849, dtype: object
11850 393 5 ORtg Last Month    78.6
Name: 11850, dtype: object
11851 1674 14 ORtg Last Month    119.571
Name: 11851, dtype: object
11852 1370 14 ORtg Last Month    97.8571
Name: 11852, dtype: object
11853 497 14 ORtg Last Month    35.5
Name: 11853, dtype: object
11854 1197 14 ORtg Last Month    85.5
Name: 11854, dtype: object
11855 1442 12 ORtg Last Month    120.167
Name: 11855, dtype: object
11856 1248 14 ORtg Last Month    89.1429
Name: 11856, dtype: object
11857 1789 14 ORtg Last Month    127.786
Name: 11857, dtype: object
11858 227 4 ORtg Last Month    56.75
Name: 11858, dtype: object
11859 1395 14 ORtg Last Month    99.6429
Name: 11859, dtype: object
11860 1836 14 ORtg Last Month    131.143
Name: 11860, dtype: object
11861 1753 14 ORtg Last Month    125.214
Name: 11861, dtype: object
11862 0 0 ORtg Last Month    0
Name: 11862, dtype: object
11863 311 14 ORtg Last Month    22.2143
Name: 11863, dtype: object
11864 915 9 ORtg Last Month    101.667
Name: 11864, dtype: object
11865 759 7 ORtg Last Month    108.429
Name: 11865, dtype: object
11866 1193 14 ORtg Last Month    85.2143
Name: 11866, dtype: object
11867 1557 14 ORtg Last Month    111.214
Name: 11867, dtype: object
11868 728 13 ORtg Last Month    56
Name: 11868, dtype: object
11869 974 13 ORtg Last Month    74.9231
Name: 11869, dtype: object
11870 1126 11 ORtg Last Month    102.364
Name: 11870, dtype: object
11871 1337 14 ORtg Last Month    95.5
Name: 11871, dtype: object
11872 1489 13 ORtg Last Month    114.538
Name: 11872, dtype: object
11873 775 11 ORtg Last Month    70.4545
Name: 11873, dtype: object
11874 1289 14 ORtg Last Month    92.0714
Name: 11874, dtype: object
11875 560 14 ORtg Last Month    40
Name: 11875, dtype: object
11876 1298 13 ORtg Last Month    99.8462
Name: 11876, dtype: object
11877 1219 13 ORtg Last Month    93.7692
Name: 11877, dtype: object
11878 1095 13 ORtg Last Month    84.2308
Name: 11878, dtype: object
11879 521 12 ORtg Last Month    43.4167
Name: 11879, dtype: object
11880 1450 13 ORtg Last Month    111.538
Name: 11880, dtype: object
11881 1238 12 ORtg Last Month    103.167
Name: 11881, dtype: object
11882 1397 13 ORtg Last Month    107.462
Name: 11882, dtype: object
11883 1364 13 ORtg Last Month    104.923
Name: 11883, dtype: object
11884 1268 13 ORtg Last Month    97.5385
Name: 11884, dtype: object
11885 859 12 ORtg Last Month    71.5833
Name: 11885, dtype: object
11886 1425 12 ORtg Last Month    118.75
Name: 11886, dtype: object
11887 1049 13 ORtg Last Month    80.6923
Name: 11887, dtype: object
11888 1526 15 ORtg Last Month    101.733
Name: 11888, dtype: object
11889 1373 16 ORtg Last Month    85.8125
Name: 11889, dtype: object
11890 1348 15 ORtg Last Month    89.8667
Name: 11890, dtype: object
11891 1035 10 ORtg Last Month    103.5
Name: 11891, dtype: object
11892 1626 16 ORtg Last Month    101.625
Name: 11892, dtype: object
11893 1093 11 ORtg Last Month    99.3636
Name: 11893, dtype: object
11894 540 8 ORtg Last Month    67.5
Name: 11894, dtype: object
11895 2120 16 ORtg Last Month    132.5
Name: 11895, dtype: object
11896 758 13 ORtg Last Month    58.3077
Name: 11896, dtype: object
11897 1018 16 ORtg Last Month    63.625
Name: 11897, dtype: object
11898 1481 14 ORtg Last Month    105.786
Name: 11898, dtype: object
11899 1253 14 ORtg Last Month    89.5
Name: 11899, dtype: object
11900 1378 13 ORtg Last Month    106
Name: 11900, dtype: object
11901 1521 14 ORtg Last Month    108.643
Name: 11901, dtype: object
11902 1658 14 ORtg Last Month    118.429
Name: 11902, dtype: object
11903 282 12 ORtg Last Month    23.5
Name: 11903, dtype: object
11904 1666 14 ORtg Last Month    119
Name: 11904, dtype: object
11905 1194 10 ORtg Last Month    119.4
Name: 11905, dtype: object
11906 385 6 ORtg Last Month    64.1667
Name: 11906, dtype: object
11907 1517 14 ORtg Last Month    108.357
Name: 11907, dtype: object
11908 407 12 ORtg Last Month    33.9167
Name: 11908, dtype: object
11909 1312 11 ORtg Last Month    119.273
Name: 11909, dtype: object
11910 1426 11 ORtg Last Month    129.636
Name: 11910, dtype: object
11911 1129 11 ORtg Last Month    102.636
Name: 11911, dtype: object
11912 158 6 ORtg Last Month    26.3333
Name: 11912, dtype: object
11913 1399 11 ORtg Last Month    127.182
Name: 11913, dtype: object
11914 1069 11 ORtg Last Month    97.1818
Name: 11914, dtype: object
11915 1033 11 ORtg Last Month    93.9091
Name: 11915, dtype: object
11916 325 11 ORtg Last Month    29.5455
Name: 11916, dtype: object
11917 320 4 ORtg Last Month    80
Name: 11917, dtype: object
11918 1324 11 ORtg Last Month    120.364
Name: 11918, dtype: object

11919 1210 11 ORtg Last Month    110
Name: 11919, dtype: object
11920 119 6 ORtg Last Month    19.8333
Name: 11920, dtype: object
11921 1608 14 ORtg Last Month    114.857
Name: 11921, dtype: object
11922 1212 14 ORtg Last Month    86.5714
Name: 11922, dtype: object
11923 1395 14 ORtg Last Month    99.6429
Name: 11923, dtype: object
11924 1072 14 ORtg Last Month    76.5714
Name: 11924, dtype: object
11925 398 12 ORtg Last Month    33.1667
Name: 11925, dtype: object
11926 0 2 ORtg Last Month    0
Name: 11926, dtype: object
11927 888 9 ORtg Last Month    98.6667
Name: 11927, dtype: object
11928 950 12 ORtg Last Month    79.1667
Name: 11928, dtype: object
11929 789 11 ORtg Last Month    71.7273
Name: 11929, dtype: object
11930 1437 13 ORtg Last Month    110.538
Name: 11930, dtype: object
11931 1365 14 ORtg Last Month    97.5
Name: 11931, dtype: object
11932 1359 13 ORtg Last Month    104.538
Name: 11932, dtype: object
11933 1193 14 ORtg Last Month    85.2143
Name: 11933, dtype: object
11934 752 7 ORtg Last Month    107.429
Name: 11934, dtype: object
11935 1778 15 ORtg Last Month    118.533
Name: 11935, dtype: object
11936 1448 15 ORtg Last Month    96.5333
Name: 11936, dtype: object
11937 1718 15 ORtg Last Month    114.533
Name: 11937, dtype: object
11938 968 12 ORtg Last Month    80.6667
Name: 11938, dtype: object
11939 1719 15 ORtg Last Month    114.6
Name: 11939, dtype: object
11940 1771 15 ORtg Last Month    118.067
Name: 11940, dtype: object
11941 0 0 ORtg Last Month    0
Name: 11941, dtype: object
11942 1557 14 ORtg Last Month    111.214
Name: 11942, dtype: object
11943 1652 15 ORtg Last Month    110.133
Name: 11943, dtype: object
11944 1203 14 ORtg Last Month    85.9286
Name: 11944, dtype: object
11945 1534 14 ORtg Last Month    109.571
Name: 11945, dtype: object
11946 1602 14 ORtg Last Month    114.429
Name: 11946, dtype: object
11947 809 14 ORtg Last Month    57.7857
Name: 11947, dtype: object
11948 370 13 ORtg Last Month    28.4615
Name: 11948, dtype: object
11949 1607 14 ORtg Last Month    114.786
Name: 11949, dtype: object
11950 1892 14 ORtg Last Month    135.143
Name: 11950, dtype: object
11951 1419 14 ORtg Last Month    101.357
Name: 11951, dtype: object
11952 557 14 ORtg Last Month    39.7857
Name: 11952, dtype: object
11953 1709 14 ORtg Last Month    122.071
Name: 11953, dtype: object
11954 1145 14 ORtg Last Month    81.7857
Name: 11954, dtype: object
11955 959 13 ORtg Last Month    73.7692
Name: 11955, dtype: object
11956 1557 13 ORtg Last Month    119.769
Name: 11956, dtype: object
11957 1524 13 ORtg Last Month    117.231
Name: 11957, dtype: object
11958 1123 14 ORtg Last Month    80.2143
Name: 11958, dtype: object
11959 1514 14 ORtg Last Month    108.143
Name: 11959, dtype: object
11960 1534 14 ORtg Last Month    109.571
Name: 11960, dtype: object
11961 728 14 ORtg Last Month    52
Name: 11961, dtype: object
11962 46 1 ORtg Last Month    46
Name: 11962, dtype: object
11963 973 11 ORtg Last Month    88.4545
Name: 11963, dtype: object
11964 1108 13 ORtg Last Month    85.2308
Name: 11964, dtype: object
11965 1390 14 ORtg Last Month    99.2857
Name: 11965, dtype: object
11966 1413 14 ORtg Last Month    100.929
Name: 11966, dtype: object
11967 708 8 ORtg Last Month    88.5
Name: 11967, dtype: object
11968 642 11 ORtg Last Month    58.3636
Name: 11968, dtype: object
11969 1019 10 ORtg Last Month    101.9
Name: 11969, dtype: object
11970 1186 12 ORtg Last Month    98.8333
Name: 11970, dtype: object
11971 1176 13 ORtg Last Month    90.4615
Name: 11971, dtype: object
11972 466 11 ORtg Last Month    42.3636
Name: 11972, dtype: object
11973 1220 13 ORtg Last Month    93.8462
Name: 11973, dtype: object
11974 1397 13 ORtg Last Month    107.462
Name: 11974, dtype: object
11975 1163 12 ORtg Last Month    96.9167
Name: 11975, dtype: object
11976 1183 11 ORtg Last Month    107.545
Name: 11976, dtype: object
11977 0 1 ORtg Last Month    0
Name: 11977, dtype: object
11978 124 13 ORtg Last Month    9.53846
Name: 11978, dtype: object
11979 964 9 ORtg Last Month    107.111
Name: 11979, dtype: object
11980 1584 13 ORtg Last Month    121.846
Name: 11980, dtype: object
11981 1500 13 ORtg Last Month    115.385
Name: 11981, dtype: object
11982 1305 12 ORtg Last Month    108.75
Name: 11982, dtype: object
11983 1464 13 ORtg Last Month    112.615
Name: 11983, dtype: object
11984 195 3 ORtg Last Month    65
Name: 11984, dtype: object
11985 1420 12 ORtg Last Month    118.333
Name: 11985, dtype: object
11986 1365 13 ORtg Last Month    105
Name: 11986, dtype: object
11987 1747 13 ORtg Last Month    134.385
Name: 11987, dtype: object
11988 1137 13 ORtg Last Month    87.4615
Name: 11988, dtype: object
11989 292 13 ORtg Last Month    22.4615
Name: 11989, dtype: object
11990 476 13 ORtg Last Month    36.6154
Name: 11990, dtype: object
11991 262 13 ORtg Last Month    20.1538
Name: 11991, dtype: object
11992 1472 13 ORtg Last Month    113.231
Name: 11992, dtype: object
11993 1461 12 ORtg Last Month    121.75
Name: 11993, dtype: object
11994 1541 13 ORtg Last Month    118.538
Name: 11994, dtype: object
11995 1567 14 ORtg Last Month    111.929
Name: 11995, dtype: object
11996 1679 14 ORtg Last Month    119.929
Name: 11996, dtype: object
11997 379 8 ORtg Last Month    47.375
Name: 11997, dtype: object
11998 324 11 ORtg Last Month    29.4545
Name: 11998, dtype: object
11999 1390 14 ORtg Last Month    99.2857
Name: 11999, dtype: object
12000 1019 12 ORtg Last Month    84.9167
Name: 12000, dtype: object
12001 1521 14 ORtg Last Month    108.643
Name: 12001, dtype: object
12002 245 7 ORtg Last Month    35
Name: 12002, dtype: object
12003 398 13 ORtg Last Month    30.6154
Name: 12003, dtype: object
12004 1689 14 ORtg Last Month    120.643
Name: 12004, dtype: object
12005 1404 13 ORtg Last Month    108
Name: 12005, dtype: object
12006 752 13 ORtg Last Month    57.8462
Name: 12006, dtype: object
12007 722 14 ORtg Last Month    51.5714
Name: 12007, dtype: object
12008 1383 12 ORtg Last Month    115.25
Name: 12008, dtype: object
12009 1232 12 ORtg Last Month    102.667
Name: 12009, dtype: object
12010 459 11 ORtg Last Month    41.7273
Name: 12010, dtype: object
12011 1038 11 ORtg Last Month    94.3636
Name: 12011, dtype: object
12012 1047 11 ORtg Last Month    95.1818
Name: 12012, dtype: object
12013 1219 12 ORtg Last Month    101.583
Name: 12013, dtype: object
12014 1154 12 ORtg Last Month    96.1667
Name: 12014, dtype: object
12015 1051 11 ORtg Last Month    95.5455
Name: 12015, dtype: object
12016 1201 11 ORtg Last Month    109.182
Name: 12016, dtype: object
12017 1069 12 ORtg Last Month    89.0833
Name: 12017, dtype: object
12018 436 12 ORtg Last Month    36.3333
Name: 12018, dtype: object
12019 351 11 ORtg Last Month    31.9091
Name: 12019, dtype: object
12020 850 8 ORtg Last Month    106.25
Name: 12020, dtype: object
12021 539 10 ORtg Last Month    53.9
Name: 12021, dtype: object
12022 1277 13 ORtg Last Month    98.2308
Name: 12022, dtype: object
12023 348 6 ORtg Last Month    58
Name: 12023, dtype: object
12024 930 15 ORtg Last Month    62
Name: 12024, dtype: object
12025 1093 10 ORtg Last Month    109.3
Name: 12025, dtype: object
12026 1358 13 ORtg Last Month    104.462
Name: 12026, dtype: object
12027 1334 15 ORtg Last Month    88.9333
Name: 12027, dtype: object
12028 1556 15 ORtg Last Month    103.733
Name: 12028, dtype: object
12029 1736 15 ORtg Last Month    115.733
Name: 12029, dtype: object
12030 2097 15 ORtg Last Month    139.8
Name: 12030, dtype: object
12031 490 15 ORtg Last Month    32.6667
Name: 12031, dtype: object
12032 0 6 ORtg Last Month    0
Name: 12032, dtype: object
12033 1446 13 ORtg Last Month    111.231
Name: 12033, dtype: object
12034 963 13 ORtg Last Month    74.0769
Name: 12034, dtype: object
12035 1396 13 ORtg Last Month    107.385
Name: 12035, dtype: object
12036 1365 13 ORtg Last Month    105
Name: 12036, dtype: object
12037 1551 13 ORtg Last Month    119.308
Name: 12037, dtype: object
12038 492 10 ORtg Last Month    49.2
Name: 12038, dtype: object
12039 963 10 ORtg Last Month    96.3
Name: 12039, dtype: object
12040 1576 13 ORtg Last Month    121.231
Name: 12040, dtype: object
12041 1598 13 ORtg Last Month    122.923
Name: 12041, dtype: object

12042 1062 12 ORtg Last Month    88.5
Name: 12042, dtype: object
12043 925 11 ORtg Last Month    84.0909
Name: 12043, dtype: object
12044 143 4 ORtg Last Month    35.75
Name: 12044, dtype: object
12045 1577 15 ORtg Last Month    105.133
Name: 12045, dtype: object
12046 1360 15 ORtg Last Month    90.6667
Name: 12046, dtype: object
12047 1710 15 ORtg Last Month    114
Name: 12047, dtype: object
12048 0 0 ORtg Last Month    0
Name: 12048, dtype: object
12049 1651 15 ORtg Last Month    110.067
Name: 12049, dtype: object
12050 1524 15 ORtg Last Month    101.6
Name: 12050, dtype: object
12051 1825 15 ORtg Last Month    121.667
Name: 12051, dtype: object
12052 1521 14 ORtg Last Month    108.643
Name: 12052, dtype: object
12053 1207 15 ORtg Last Month    80.4667
Name: 12053, dtype: object
12054 1782 15 ORtg Last Month    118.8
Name: 12054, dtype: object
12055 2043 15 ORtg Last Month    136.2
Name: 12055, dtype: object
12056 1814 13 ORtg Last Month    139.538
Name: 12056, dtype: object
12057 757 10 ORtg Last Month    75.7
Name: 12057, dtype: object
12058 1469 13 ORtg Last Month    113
Name: 12058, dtype: object
12059 1461 14 ORtg Last Month    104.357
Name: 12059, dtype: object
12060 418 14 ORtg Last Month    29.8571
Name: 12060, dtype: object
12061 1402 11 ORtg Last Month    127.455
Name: 12061, dtype: object
12062 1488 13 ORtg Last Month    114.462
Name: 12062, dtype: object
12063 1283 14 ORtg Last Month    91.6429
Name: 12063, dtype: object
12064 286 3 ORtg Last Month    95.3333
Name: 12064, dtype: object
12065 472 13 ORtg Last Month    36.3077
Name: 12065, dtype: object
12066 1297 14 ORtg Last Month    92.6429
Name: 12066, dtype: object
12067 1568 13 ORtg Last Month    120.615
Name: 12067, dtype: object
12068 1281 11 ORtg Last Month    116.455
Name: 12068, dtype: object
12069 850 13 ORtg Last Month    65.3846
Name: 12069, dtype: object
12070 1219 13 ORtg Last Month    93.7692
Name: 12070, dtype: object
12071 1652 15 ORtg Last Month    110.133
Name: 12071, dtype: object
12072 1830 15 ORtg Last Month    122
Name: 12072, dtype: object
12073 472 4 ORtg Last Month    118
Name: 12073, dtype: object
12074 444 9 ORtg Last Month    49.3333
Name: 12074, dtype: object
12075 1287 14 ORtg Last Month    91.9286
Name: 12075, dtype: object
12076 1549 13 ORtg Last Month    119.154
Name: 12076, dtype: object
12077 778 9 ORtg Last Month    86.4444
Name: 12077, dtype: object
12078 1511 15 ORtg Last Month    100.733
Name: 12078, dtype: object
12079 771 15 ORtg Last Month    51.4
Name: 12079, dtype: object
12080 1926 15 ORtg Last Month    128.4
Name: 12080, dtype: object
12081 1396 11 ORtg Last Month    126.909
Name: 12081, dtype: object
12082 1516 12 ORtg Last Month    126.333
Name: 12082, dtype: object
12083 1346 12 ORtg Last Month    112.167
Name: 12083, dtype: object
12084 1125 12 ORtg Last Month    93.75
Name: 12084, dtype: object
12085 1281 10 ORtg Last Month    128.1
Name: 12085, dtype: object
12086 1108 10 ORtg Last Month    110.8
Name: 12086, dtype: object
12087 858 9 ORtg Last Month    95.3333
Name: 12087, dtype: object
12088 1330 12 ORtg Last Month    110.833
Name: 12088, dtype: object
12089 956 12 ORtg Last Month    79.6667
Name: 12089, dtype: object
12090 490 4 ORtg Last Month    122.5
Name: 12090, dtype: object
12091 1512 12 ORtg Last Month    126
Name: 12091, dtype: object
12092 687 7 ORtg Last Month    98.1429
Name: 12092, dtype: object
12093 1407 12 ORtg Last Month    117.25
Name: 12093, dtype: object
12094 1290 13 ORtg Last Month    99.2308
Name: 12094, dtype: object
12095 1146 12 ORtg Last Month    95.5
Name: 12095, dtype: object
12096 758 13 ORtg Last Month    58.3077
Name: 12096, dtype: object
12097 1588 13 ORtg Last Month    122.154
Name: 12097, dtype: object
12098 1158 11 ORtg Last Month    105.273
Name: 12098, dtype: object
12099 1210 10 ORtg Last Month    121
Name: 12099, dtype: object
12100 708 8 ORtg Last Month    88.5
Name: 12100, dtype: object
12101 1637 13 ORtg Last Month    125.923
Name: 12101, dtype: object
12102 1756 13 ORtg Last Month    135.077
Name: 12102, dtype: object
12103 1040 13 ORtg Last Month    80
Name: 12103, dtype: object
12104 1712 14 ORtg Last Month    122.286
Name: 12104, dtype: object
12105 879 10 ORtg Last Month    87.9
Name: 12105, dtype: object
12106 881 13 ORtg Last Month    67.7692
Name: 12106, dtype: object
12107 225 7 ORtg Last Month    32.1429
Name: 12107, dtype: object
12108 1390 14 ORtg Last Month    99.2857
Name: 12108, dtype: object
12109 1594 14 ORtg Last Month    113.857
Name: 12109, dtype: object
12110 1430 13 ORtg Last Month    110
Name: 12110, dtype: object
12111 1623 14 ORtg Last Month    115.929
Name: 12111, dtype: object
12112 954 13 ORtg Last Month    73.3846
Name: 12112, dtype: object
12113 1739 14 ORtg Last Month    124.214
Name: 12113, dtype: object
12114 1229 13 ORtg Last Month    94.5385
Name: 12114, dtype: object
12115 172 11 ORtg Last Month    15.6364
Name: 12115, dtype: object
12116 1383 15 ORtg Last Month    92.2
Name: 12116, dtype: object
12117 853 8 ORtg Last Month    106.625
Name: 12117, dtype: object
12118 1571 15 ORtg Last Month    104.733
Name: 12118, dtype: object
12119 0 0 ORtg Last Month    0
Name: 12119, dtype: object
12120 1713 15 ORtg Last Month    114.2
Name: 12120, dtype: object
12121 1100 15 ORtg Last Month    73.3333
Name: 12121, dtype: object
12122 1862 15 ORtg Last Month    124.133
Name: 12122, dtype: object
12123 1229 15 ORtg Last Month    81.9333
Name: 12123, dtype: object
12124 1958 14 ORtg Last Month    139.857
Name: 12124, dtype: object
12125 859 15 ORtg Last Month    57.2667
Name: 12125, dtype: object
12126 1038 10 ORtg Last Month    103.8
Name: 12126, dtype: object
12127 931 15 ORtg Last Month    62.0667
Name: 12127, dtype: object
12128 0 0 ORtg Last Month    0
Name: 12128, dtype: object
12129 1178 10 ORtg Last Month    117.8
Name: 12129, dtype: object
12130 1461 13 ORtg Last Month    112.385
Name: 12130, dtype: object
12131 1203 14 ORtg Last Month    85.9286
Name: 12131, dtype: object
12132 468 10 ORtg Last Month    46.8
Name: 12132, dtype: object
12133 1388 13 ORtg Last Month    106.769
Name: 12133, dtype: object
12134 968 12 ORtg Last Month    80.6667
Name: 12134, dtype: object
12135 1400 13 ORtg Last Month    107.692
Name: 12135, dtype: object
12136 1344 13 ORtg Last Month    103.385
Name: 12136, dtype: object
12137 517 12 ORtg Last Month    43.0833
Name: 12137, dtype: object
12138 850 8 ORtg Last Month    106.25
Name: 12138, dtype: object
12139 1309 13 ORtg Last Month    100.692
Name: 12139, dtype: object
12140 1624 13 ORtg Last Month    124.923
Name: 12140, dtype: object
12141 229 14 ORtg Last Month    16.3571
Name: 12141, dtype: object
12142 1394 14 ORtg Last Month    99.5714
Name: 12142, dtype: object
12143 605 7 ORtg Last Month    86.4286
Name: 12143, dtype: object
12144 673 13 ORtg Last Month    51.7692
Name: 12144, dtype: object
12145 374 7 ORtg Last Month    53.4286
Name: 12145, dtype: object
12146 1341 14 ORtg Last Month    95.7857
Name: 12146, dtype: object
12147 915 10 ORtg Last Month    91.5
Name: 12147, dtype: object
12148 1245 11 ORtg Last Month    113.182
Name: 12148, dtype: object
12149 304 5 ORtg Last Month    60.8
Name: 12149, dtype: object
12150 1184 14 ORtg Last Month    84.5714
Name: 12150, dtype: object
12151 1520 14 ORtg Last Month    108.571
Name: 12151, dtype: object
12152 870 11 ORtg Last Month    79.0909
Name: 12152, dtype: object
12153 1738 14 ORtg Last Month    124.143
Name: 12153, dtype: object
12154 1609 13 ORtg Last Month    123.769
Name: 12154, dtype: object
12155 1449 13 ORtg Last Month    111.462
Name: 12155, dtype: object
12156 1496 13 ORtg Last Month    115.077
Name: 12156, dtype: object
12157 372 6 ORtg Last Month    62
Name: 12157, dtype: object
12158 1505 13 ORtg Last Month    115.769
Name: 12158, dtype: object
12159 1223 11 ORtg Last Month    111.182
Name: 12159, dtype: object
12160 1318 13 ORtg Last Month    101.385
Name: 12160, dtype: object
12161 274 7 ORtg Last Month    39.1429
Name: 12161, dtype: object
12162 1200 11 ORtg Last Month    109.091
Name: 12162, dtype: object
12163 1300 12 ORtg Last Month    108.333
Name: 12163, dtype: object
12164 1364 12 ORtg Last Month    113.667
Name: 12164, dtype: object
12165 1335 13 ORtg Last Month    102.692
Name: 12165, dtype: object

12166 1715 14 ORtg Last Month    122.5
Name: 12166, dtype: object
12167 1278 14 ORtg Last Month    91.2857
Name: 12167, dtype: object
12168 260 14 ORtg Last Month    18.5714
Name: 12168, dtype: object
12169 1484 13 ORtg Last Month    114.154
Name: 12169, dtype: object
12170 1759 14 ORtg Last Month    125.643
Name: 12170, dtype: object
12171 1175 14 ORtg Last Month    83.9286
Name: 12171, dtype: object
12172 1259 13 ORtg Last Month    96.8462
Name: 12172, dtype: object
12173 605 14 ORtg Last Month    43.2143
Name: 12173, dtype: object
12174 1451 14 ORtg Last Month    103.643
Name: 12174, dtype: object
12175 1553 14 ORtg Last Month    110.929
Name: 12175, dtype: object
12176 1475 14 ORtg Last Month    105.357
Name: 12176, dtype: object
12177 171 13 ORtg Last Month    13.1538
Name: 12177, dtype: object
12178 1566 14 ORtg Last Month    111.857
Name: 12178, dtype: object
12179 1069 14 ORtg Last Month    76.3571
Name: 12179, dtype: object
12180 1063 11 ORtg Last Month    96.6364
Name: 12180, dtype: object
12181 1525 14 ORtg Last Month    108.929
Name: 12181, dtype: object
12182 1466 14 ORtg Last Month    104.714
Name: 12182, dtype: object
12183 1613 14 ORtg Last Month    115.214
Name: 12183, dtype: object
12184 1722 14 ORtg Last Month    123
Name: 12184, dtype: object
12185 698 11 ORtg Last Month    63.4545
Name: 12185, dtype: object
12186 1711 14 ORtg Last Month    122.214
Name: 12186, dtype: object
12187 1181 13 ORtg Last Month    90.8462
Name: 12187, dtype: object
12188 1020 12 ORtg Last Month    85
Name: 12188, dtype: object
12189 309 5 ORtg Last Month    61.8
Name: 12189, dtype: object
12190 1284 14 ORtg Last Month    91.7143
Name: 12190, dtype: object
12191 1311 14 ORtg Last Month    93.6429
Name: 12191, dtype: object
12192 1362 14 ORtg Last Month    97.2857
Name: 12192, dtype: object
12193 1076 12 ORtg Last Month    89.6667
Name: 12193, dtype: object
12194 1564 14 ORtg Last Month    111.714
Name: 12194, dtype: object
12195 1303 13 ORtg Last Month    100.231
Name: 12195, dtype: object
12196 1488 14 ORtg Last Month    106.286
Name: 12196, dtype: object
12197 1585 14 ORtg Last Month    113.214
Name: 12197, dtype: object
12198 1056 8 ORtg Last Month    132
Name: 12198, dtype: object
12199 1328 14 ORtg Last Month    94.8571
Name: 12199, dtype: object
12200 1767 14 ORtg Last Month    126.214
Name: 12200, dtype: object
12201 1815 14 ORtg Last Month    129.643
Name: 12201, dtype: object
12202 725 13 ORtg Last Month    55.7692
Name: 12202, dtype: object
12203 1151 12 ORtg Last Month    95.9167
Name: 12203, dtype: object
12204 1027 8 ORtg Last Month    128.375
Name: 12204, dtype: object
12205 1116 12 ORtg Last Month    93
Name: 12205, dtype: object
12206 587 9 ORtg Last Month    65.2222
Name: 12206, dtype: object
12207 1190 12 ORtg Last Month    99.1667
Name: 12207, dtype: object
12208 1256 12 ORtg Last Month    104.667
Name: 12208, dtype: object
12209 55 2 ORtg Last Month    27.5
Name: 12209, dtype: object
12210 1121 12 ORtg Last Month    93.4167
Name: 12210, dtype: object
12211 432 8 ORtg Last Month    54
Name: 12211, dtype: object
12212 1279 11 ORtg Last Month    116.273
Name: 12212, dtype: object
12213 1279 12 ORtg Last Month    106.583
Name: 12213, dtype: object
12214 420 5 ORtg Last Month    84
Name: 12214, dtype: object
12215 1455 15 ORtg Last Month    97
Name: 12215, dtype: object
12216 1800 15 ORtg Last Month    120
Name: 12216, dtype: object
12217 497 15 ORtg Last Month    33.1333
Name: 12217, dtype: object
12218 1373 15 ORtg Last Month    91.5333
Name: 12218, dtype: object
12219 1880 15 ORtg Last Month    125.333
Name: 12219, dtype: object
12220 1313 15 ORtg Last Month    87.5333
Name: 12220, dtype: object
12221 1598 13 ORtg Last Month    122.923
Name: 12221, dtype: object
12222 1753 15 ORtg Last Month    116.867
Name: 12222, dtype: object
12223 1938 15 ORtg Last Month    129.2
Name: 12223, dtype: object
12224 1506 15 ORtg Last Month    100.4
Name: 12224, dtype: object
12225 311 15 ORtg Last Month    20.7333
Name: 12225, dtype: object
12226 841 8 ORtg Last Month    105.125
Name: 12226, dtype: object
12227 966 9 ORtg Last Month    107.333
Name: 12227, dtype: object
12228 1241 14 ORtg Last Month    88.6429
Name: 12228, dtype: object
12229 1520 14 ORtg Last Month    108.571
Name: 12229, dtype: object
12230 765 13 ORtg Last Month    58.8462
Name: 12230, dtype: object
12231 908 13 ORtg Last Month    69.8462
Name: 12231, dtype: object
12232 1222 12 ORtg Last Month    101.833
Name: 12232, dtype: object
12233 1209 14 ORtg Last Month    86.3571
Name: 12233, dtype: object
12234 1398 13 ORtg Last Month    107.538
Name: 12234, dtype: object
12235 664 11 ORtg Last Month    60.3636
Name: 12235, dtype: object
12236 1228 14 ORtg Last Month    87.7143
Name: 12236, dtype: object
12237 690 14 ORtg Last Month    49.2857
Name: 12237, dtype: object
12238 1305 13 ORtg Last Month    100.385
Name: 12238, dtype: object
12239 1196 13 ORtg Last Month    92
Name: 12239, dtype: object
12240 1095 13 ORtg Last Month    84.2308
Name: 12240, dtype: object
12241 521 12 ORtg Last Month    43.4167
Name: 12241, dtype: object
12242 1482 13 ORtg Last Month    114
Name: 12242, dtype: object
12243 1381 13 ORtg Last Month    106.231
Name: 12243, dtype: object
12244 1258 12 ORtg Last Month    104.833
Name: 12244, dtype: object
12245 1334 13 ORtg Last Month    102.615
Name: 12245, dtype: object
12246 1267 13 ORtg Last Month    97.4615
Name: 12246, dtype: object
12247 859 12 ORtg Last Month    71.5833
Name: 12247, dtype: object
12248 1390 12 ORtg Last Month    115.833
Name: 12248, dtype: object
12249 945 13 ORtg Last Month    72.6923
Name: 12249, dtype: object
12250 1365 15 ORtg Last Month    91
Name: 12250, dtype: object
12251 1579 15 ORtg Last Month    105.267
Name: 12251, dtype: object
12252 1424 16 ORtg Last Month    89
Name: 12252, dtype: object
12253 1023 10 ORtg Last Month    102.3
Name: 12253, dtype: object
12254 1228 12 ORtg Last Month    102.333
Name: 12254, dtype: object
12255 1630 16 ORtg Last Month    101.875
Name: 12255, dtype: object
12256 659 9 ORtg Last Month    73.2222
Name: 12256, dtype: object
12257 1442 13 ORtg Last Month    110.923
Name: 12257, dtype: object
12258 2105 16 ORtg Last Month    131.562
Name: 12258, dtype: object
12259 1077 16 ORtg Last Month    67.3125
Name: 12259, dtype: object
12260 793 13 ORtg Last Month    61
Name: 12260, dtype: object
12261 1656 15 ORtg Last Month    110.4
Name: 12261, dtype: object
12262 1253 15 ORtg Last Month    83.5333
Name: 12262, dtype: object
12263 1515 14 ORtg Last Month    108.214
Name: 12263, dtype: object
12264 1646 15 ORtg Last Month    109.733
Name: 12264, dtype: object
12265 1710 15 ORtg Last Month    114
Name: 12265, dtype: object
12266 282 13 ORtg Last Month    21.6923
Name: 12266, dtype: object
12267 1812 15 ORtg Last Month    120.8
Name: 12267, dtype: object
12268 1633 15 ORtg Last Month    108.867
Name: 12268, dtype: object
12269 1301 11 ORtg Last Month    118.273
Name: 12269, dtype: object
12270 499 7 ORtg Last Month    71.2857
Name: 12270, dtype: object
12271 407 13 ORtg Last Month    31.3077
Name: 12271, dtype: object
12272 1078 11 ORtg Last Month    98
Name: 12272, dtype: object
12273 1392 11 ORtg Last Month    126.545
Name: 12273, dtype: object
12274 1284 11 ORtg Last Month    116.727
Name: 12274, dtype: object
12275 158 7 ORtg Last Month    22.5714
Name: 12275, dtype: object
12276 1084 11 ORtg Last Month    98.5455
Name: 12276, dtype: object
12277 1045 11 ORtg Last Month    95
Name: 12277, dtype: object
12278 1386 11 ORtg Last Month    126
Name: 12278, dtype: object
12279 320 5 ORtg Last Month    64
Name: 12279, dtype: object
12280 471 11 ORtg Last Month    42.8182
Name: 12280, dtype: object
12281 1307 11 ORtg Last Month    118.818
Name: 12281, dtype: object
12282 1159 11 ORtg Last Month    105.364
Name: 12282, dtype: object
12283 317 7 ORtg Last Month    45.2857
Name: 12283, dtype: object
12284 1556 14 ORtg Last Month    111.143
Name: 12284, dtype: object
12285 1122 14 ORtg Last Month    80.1429
Name: 12285, dtype: object
12286 1449 14 ORtg Last Month    103.5
Name: 12286, dtype: object
12287 1286 14 ORtg Last Month    91.8571
Name: 12287, dtype: object
12288 398 12 ORtg Last Month    33.1667
Name: 12288, dtype: object

12289 896 9 ORtg Last Month    99.5556
Name: 12289, dtype: object
12290 789 12 ORtg Last Month    65.75
Name: 12290, dtype: object
12291 887 12 ORtg Last Month    73.9167
Name: 12291, dtype: object
12292 1420 14 ORtg Last Month    101.429
Name: 12292, dtype: object
12293 1440 13 ORtg Last Month    110.769
Name: 12293, dtype: object
12294 1292 13 ORtg Last Month    99.3846
Name: 12294, dtype: object
12295 1258 14 ORtg Last Month    89.8571
Name: 12295, dtype: object
12296 1648 14 ORtg Last Month    117.714
Name: 12296, dtype: object
12297 860 8 ORtg Last Month    107.5
Name: 12297, dtype: object
12298 1444 14 ORtg Last Month    103.143
Name: 12298, dtype: object
12299 854 13 ORtg Last Month    65.6923
Name: 12299, dtype: object
12300 1641 14 ORtg Last Month    117.214
Name: 12300, dtype: object
12301 978 11 ORtg Last Month    88.9091
Name: 12301, dtype: object
12302 1603 14 ORtg Last Month    114.5
Name: 12302, dtype: object
12303 1529 14 ORtg Last Month    109.214
Name: 12303, dtype: object
12304 0 1 ORtg Last Month    0
Name: 12304, dtype: object
12305 1433 13 ORtg Last Month    110.231
Name: 12305, dtype: object
12306 1479 14 ORtg Last Month    105.643
Name: 12306, dtype: object
12307 323 13 ORtg Last Month    24.8462
Name: 12307, dtype: object
12308 1340 15 ORtg Last Month    89.3333
Name: 12308, dtype: object
12309 905 15 ORtg Last Month    60.3333
Name: 12309, dtype: object
12310 1699 15 ORtg Last Month    113.267
Name: 12310, dtype: object
12311 1667 15 ORtg Last Month    111.133
Name: 12311, dtype: object
12312 370 14 ORtg Last Month    26.4286
Name: 12312, dtype: object
12313 2008 15 ORtg Last Month    133.867
Name: 12313, dtype: object
12314 1732 15 ORtg Last Month    115.467
Name: 12314, dtype: object
12315 557 15 ORtg Last Month    37.1333
Name: 12315, dtype: object
12316 1483 15 ORtg Last Month    98.8667
Name: 12316, dtype: object
12317 1863 15 ORtg Last Month    124.2
Name: 12317, dtype: object
12318 959 14 ORtg Last Month    68.5
Name: 12318, dtype: object
12319 1285 15 ORtg Last Month    85.6667
Name: 12319, dtype: object
12320 1406 15 ORtg Last Month    93.7333
Name: 12320, dtype: object
12321 1614 15 ORtg Last Month    107.6
Name: 12321, dtype: object
12322 831 8 ORtg Last Month    103.875
Name: 12322, dtype: object
12323 217 1 ORtg Last Month    217
Name: 12323, dtype: object
12324 328 7 ORtg Last Month    46.8571
Name: 12324, dtype: object
12325 1698 15 ORtg Last Month    113.2
Name: 12325, dtype: object
12326 1927 15 ORtg Last Month    128.467
Name: 12326, dtype: object
12327 1165 15 ORtg Last Month    77.6667
Name: 12327, dtype: object
12328 1187 15 ORtg Last Month    79.1333
Name: 12328, dtype: object
12329 1919 14 ORtg Last Month    137.071
Name: 12329, dtype: object
12330 919 15 ORtg Last Month    61.2667
Name: 12330, dtype: object
12331 890 15 ORtg Last Month    59.3333
Name: 12331, dtype: object
12332 0 1 ORtg Last Month    0
Name: 12332, dtype: object
12333 1236 12 ORtg Last Month    103
Name: 12333, dtype: object
12334 1130 13 ORtg Last Month    86.9231
Name: 12334, dtype: object
12335 1135 11 ORtg Last Month    103.182
Name: 12335, dtype: object
12336 351 11 ORtg Last Month    31.9091
Name: 12336, dtype: object
12337 1255 13 ORtg Last Month    96.5385
Name: 12337, dtype: object
12338 1170 12 ORtg Last Month    97.5
Name: 12338, dtype: object
12339 1253 11 ORtg Last Month    113.909
Name: 12339, dtype: object
12340 1396 13 ORtg Last Month    107.385
Name: 12340, dtype: object
12341 1440 13 ORtg Last Month    110.769
Name: 12341, dtype: object
12342 994 9 ORtg Last Month    110.444
Name: 12342, dtype: object
12343 1552 13 ORtg Last Month    119.385
Name: 12343, dtype: object
12344 1323 12 ORtg Last Month    110.25
Name: 12344, dtype: object
12345 1378 13 ORtg Last Month    106
Name: 12345, dtype: object
12346 195 4 ORtg Last Month    48.75
Name: 12346, dtype: object
12347 1332 12 ORtg Last Month    111
Name: 12347, dtype: object
12348 1346 13 ORtg Last Month    103.538
Name: 12348, dtype: object
12349 1756 13 ORtg Last Month    135.077
Name: 12349, dtype: object
12350 1194 13 ORtg Last Month    91.8462
Name: 12350, dtype: object
12351 292 13 ORtg Last Month    22.4615
Name: 12351, dtype: object
12352 726 13 ORtg Last Month    55.8462
Name: 12352, dtype: object
12353 262 13 ORtg Last Month    20.1538
Name: 12353, dtype: object
12354 1498 13 ORtg Last Month    115.231
Name: 12354, dtype: object
12355 1534 12 ORtg Last Month    127.833
Name: 12355, dtype: object
12356 1585 13 ORtg Last Month    121.923
Name: 12356, dtype: object
12357 1610 14 ORtg Last Month    115
Name: 12357, dtype: object
12358 1689 14 ORtg Last Month    120.643
Name: 12358, dtype: object
12359 324 11 ORtg Last Month    29.4545
Name: 12359, dtype: object
12360 487 8 ORtg Last Month    60.875
Name: 12360, dtype: object
12361 1556 14 ORtg Last Month    111.143
Name: 12361, dtype: object
12362 1014 12 ORtg Last Month    84.5
Name: 12362, dtype: object
12363 1368 14 ORtg Last Month    97.7143
Name: 12363, dtype: object
12364 282 13 ORtg Last Month    21.6923
Name: 12364, dtype: object
12365 245 8 ORtg Last Month    30.625
Name: 12365, dtype: object
12366 1687 14 ORtg Last Month    120.5
Name: 12366, dtype: object
12367 1396 13 ORtg Last Month    107.385
Name: 12367, dtype: object
12368 878 13 ORtg Last Month    67.5385
Name: 12368, dtype: object
12369 722 14 ORtg Last Month    51.5714
Name: 12369, dtype: object
12370 1369 14 ORtg Last Month    97.7857
Name: 12370, dtype: object
12371 1217 13 ORtg Last Month    93.6154
Name: 12371, dtype: object
12372 225 13 ORtg Last Month    17.3077
Name: 12372, dtype: object
12373 1705 14 ORtg Last Month    121.786
Name: 12373, dtype: object
12374 520 14 ORtg Last Month    37.1429
Name: 12374, dtype: object
12375 976 13 ORtg Last Month    75.0769
Name: 12375, dtype: object
12376 1414 12 ORtg Last Month    117.833
Name: 12376, dtype: object
12377 1742 14 ORtg Last Month    124.429
Name: 12377, dtype: object
12378 1709 14 ORtg Last Month    122.071
Name: 12378, dtype: object
12379 1311 14 ORtg Last Month    93.6429
Name: 12379, dtype: object
12380 1151 14 ORtg Last Month    82.2143
Name: 12380, dtype: object
12381 1415 12 ORtg Last Month    117.917
Name: 12381, dtype: object
12382 1302 12 ORtg Last Month    108.5
Name: 12382, dtype: object
12383 459 11 ORtg Last Month    41.7273
Name: 12383, dtype: object
12384 1157 12 ORtg Last Month    96.4167
Name: 12384, dtype: object
12385 1155 11 ORtg Last Month    105
Name: 12385, dtype: object
12386 1208 12 ORtg Last Month    100.667
Name: 12386, dtype: object
12387 1109 11 ORtg Last Month    100.818
Name: 12387, dtype: object
12388 1048 11 ORtg Last Month    95.2727
Name: 12388, dtype: object
12389 1169 11 ORtg Last Month    106.273
Name: 12389, dtype: object
12390 940 12 ORtg Last Month    78.3333
Name: 12390, dtype: object
12391 351 11 ORtg Last Month    31.9091
Name: 12391, dtype: object
12392 436 12 ORtg Last Month    36.3333
Name: 12392, dtype: object
12393 887 8 ORtg Last Month    110.875
Name: 12393, dtype: object
12394 1017 13 ORtg Last Month    78.2308
Name: 12394, dtype: object
12395 1360 14 ORtg Last Month    97.1429
Name: 12395, dtype: object
12396 650 10 ORtg Last Month    65
Name: 12396, dtype: object
12397 930 15 ORtg Last Month    62
Name: 12397, dtype: object
12398 1607 15 ORtg Last Month    107.133
Name: 12398, dtype: object
12399 1087 10 ORtg Last Month    108.7
Name: 12399, dtype: object
12400 1338 15 ORtg Last Month    89.2
Name: 12400, dtype: object
12401 1427 13 ORtg Last Month    109.769
Name: 12401, dtype: object
12402 1704 15 ORtg Last Month    113.6
Name: 12402, dtype: object
12403 2077 15 ORtg Last Month    138.467
Name: 12403, dtype: object
12404 490 15 ORtg Last Month    32.6667
Name: 12404, dtype: object
12405 0 7 ORtg Last Month    0
Name: 12405, dtype: object
12406 1375 15 ORtg Last Month    91.6667
Name: 12406, dtype: object
12407 1564 15 ORtg Last Month    104.267
Name: 12407, dtype: object
12408 1597 15 ORtg Last Month    106.467
Name: 12408, dtype: object
12409 1674 15 ORtg Last Month    111.6
Name: 12409, dtype: object
12410 1765 15 ORtg Last Month    117.667
Name: 12410, dtype: object
12411 1574 15 ORtg Last Month    104.933
Name: 12411, dtype: object

12412 1434 14 ORtg Last Month    102.429
Name: 12412, dtype: object
12413 1207 15 ORtg Last Month    80.4667
Name: 12413, dtype: object
12414 1790 15 ORtg Last Month    119.333
Name: 12414, dtype: object
12415 1965 15 ORtg Last Month    131
Name: 12415, dtype: object
12416 1967 13 ORtg Last Month    151.308
Name: 12416, dtype: object
12417 502 6 ORtg Last Month    83.6667
Name: 12417, dtype: object
12418 0 0 ORtg Last Month    0
Name: 12418, dtype: object
12419 1497 14 ORtg Last Month    106.929
Name: 12419, dtype: object
12420 1392 13 ORtg Last Month    107.077
Name: 12420, dtype: object
12421 418 14 ORtg Last Month    29.8571
Name: 12421, dtype: object
12422 1403 11 ORtg Last Month    127.545
Name: 12422, dtype: object
12423 1013 14 ORtg Last Month    72.3571
Name: 12423, dtype: object
12424 1330 14 ORtg Last Month    95
Name: 12424, dtype: object
12425 1486 13 ORtg Last Month    114.308
Name: 12425, dtype: object
12426 472 13 ORtg Last Month    36.3077
Name: 12426, dtype: object
12427 1248 11 ORtg Last Month    113.455
Name: 12427, dtype: object
12428 271 5 ORtg Last Month    54.2
Name: 12428, dtype: object
12429 1498 13 ORtg Last Month    115.231
Name: 12429, dtype: object
12430 992 14 ORtg Last Month    70.8571
Name: 12430, dtype: object
12431 1590 15 ORtg Last Month    106
Name: 12431, dtype: object
12432 1736 15 ORtg Last Month    115.733
Name: 12432, dtype: object
12433 540 5 ORtg Last Month    108
Name: 12433, dtype: object
12434 444 9 ORtg Last Month    49.3333
Name: 12434, dtype: object
12435 273 4 ORtg Last Month    68.25
Name: 12435, dtype: object
12436 120 5 ORtg Last Month    24
Name: 12436, dtype: object
12437 1571 13 ORtg Last Month    120.846
Name: 12437, dtype: object
12438 1301 14 ORtg Last Month    92.9286
Name: 12438, dtype: object
12439 778 10 ORtg Last Month    77.8
Name: 12439, dtype: object
12440 1911 15 ORtg Last Month    127.4
Name: 12440, dtype: object
12441 897 15 ORtg Last Month    59.8
Name: 12441, dtype: object
12442 1189 12 ORtg Last Month    99.0833
Name: 12442, dtype: object
12443 1156 12 ORtg Last Month    96.3333
Name: 12443, dtype: object
12444 1132 9 ORtg Last Month    125.778
Name: 12444, dtype: object
12445 587 10 ORtg Last Month    58.7
Name: 12445, dtype: object
12446 1235 12 ORtg Last Month    102.917
Name: 12446, dtype: object
12447 166 3 ORtg Last Month    55.3333
Name: 12447, dtype: object
12448 1212 12 ORtg Last Month    101
Name: 12448, dtype: object
12449 1057 12 ORtg Last Month    88.0833
Name: 12449, dtype: object
12450 309 8 ORtg Last Month    38.625
Name: 12450, dtype: object
12451 1324 11 ORtg Last Month    120.364
Name: 12451, dtype: object
12452 954 10 ORtg Last Month    95.4
Name: 12452, dtype: object
12453 390 3 ORtg Last Month    130
Name: 12453, dtype: object
12454 1547 12 ORtg Last Month    128.917
Name: 12454, dtype: object
12455 1596 13 ORtg Last Month    122.769
Name: 12455, dtype: object
12456 1443 13 ORtg Last Month    111
Name: 12456, dtype: object
12457 1125 13 ORtg Last Month    86.5385
Name: 12457, dtype: object
12458 1392 13 ORtg Last Month    107.077
Name: 12458, dtype: object
12459 1404 11 ORtg Last Month    127.636
Name: 12459, dtype: object
12460 1246 11 ORtg Last Month    113.273
Name: 12460, dtype: object
12461 977 10 ORtg Last Month    97.7
Name: 12461, dtype: object
12462 1256 13 ORtg Last Month    96.6154
Name: 12462, dtype: object
12463 596 5 ORtg Last Month    119.2
Name: 12463, dtype: object
12464 687 8 ORtg Last Month    85.875
Name: 12464, dtype: object
12465 1636 13 ORtg Last Month    125.846
Name: 12465, dtype: object
12466 625 15 ORtg Last Month    41.6667
Name: 12466, dtype: object
12467 311 15 ORtg Last Month    20.7333
Name: 12467, dtype: object
12468 1443 15 ORtg Last Month    96.2
Name: 12468, dtype: object
12469 1734 15 ORtg Last Month    115.6
Name: 12469, dtype: object
12470 227 5 ORtg Last Month    45.4
Name: 12470, dtype: object
12471 1481 13 ORtg Last Month    113.923
Name: 12471, dtype: object
12472 1868 15 ORtg Last Month    124.533
Name: 12472, dtype: object
12473 1919 15 ORtg Last Month    127.933
Name: 12473, dtype: object
12474 1385 15 ORtg Last Month    92.3333
Name: 12474, dtype: object
12475 1456 15 ORtg Last Month    97.0667
Name: 12475, dtype: object
12476 1360 13 ORtg Last Month    104.615
Name: 12476, dtype: object
12477 455 12 ORtg Last Month    37.9167
Name: 12477, dtype: object
12478 1037 13 ORtg Last Month    79.7692
Name: 12478, dtype: object
12479 1324 12 ORtg Last Month    110.333
Name: 12479, dtype: object
12480 1417 13 ORtg Last Month    109
Name: 12480, dtype: object
12481 1226 13 ORtg Last Month    94.3077
Name: 12481, dtype: object
12482 1453 13 ORtg Last Month    111.769
Name: 12482, dtype: object
12483 815 12 ORtg Last Month    67.9167
Name: 12483, dtype: object
12484 1167 13 ORtg Last Month    89.7692
Name: 12484, dtype: object
12485 1363 12 ORtg Last Month    113.583
Name: 12485, dtype: object
12486 53 4 ORtg Last Month    13.25
Name: 12486, dtype: object
12487 869 13 ORtg Last Month    66.8462
Name: 12487, dtype: object
12488 1500 16 ORtg Last Month    93.75
Name: 12488, dtype: object
12489 1395 16 ORtg Last Month    87.1875
Name: 12489, dtype: object
12490 1604 15 ORtg Last Month    106.933
Name: 12490, dtype: object
12491 1135 11 ORtg Last Month    103.182
Name: 12491, dtype: object
12492 1613 16 ORtg Last Month    100.812
Name: 12492, dtype: object
12493 740 10 ORtg Last Month    74
Name: 12493, dtype: object
12494 1308 13 ORtg Last Month    100.615
Name: 12494, dtype: object
12495 1337 13 ORtg Last Month    102.846
Name: 12495, dtype: object
12496 2078 16 ORtg Last Month    129.875
Name: 12496, dtype: object
12497 1185 16 ORtg Last Month    74.0625
Name: 12497, dtype: object
12498 768 13 ORtg Last Month    59.0769
Name: 12498, dtype: object
12499 1186 12 ORtg Last Month    98.8333
Name: 12499, dtype: object
12500 1455 12 ORtg Last Month    121.25
Name: 12500, dtype: object
12501 1524 12 ORtg Last Month    127
Name: 12501, dtype: object
12502 384 8 ORtg Last Month    48
Name: 12502, dtype: object
12503 1486 12 ORtg Last Month    123.833
Name: 12503, dtype: object
12504 1172 12 ORtg Last Month    97.6667
Name: 12504, dtype: object
12505 1096 12 ORtg Last Month    91.3333
Name: 12505, dtype: object
12506 320 6 ORtg Last Month    53.3333
Name: 12506, dtype: object
12507 471 12 ORtg Last Month    39.25
Name: 12507, dtype: object
12508 1419 12 ORtg Last Month    118.25
Name: 12508, dtype: object
12509 1264 12 ORtg Last Month    105.333
Name: 12509, dtype: object
12510 448 4 ORtg Last Month    112
Name: 12510, dtype: object
12511 317 8 ORtg Last Month    39.625
Name: 12511, dtype: object
12512 1495 13 ORtg Last Month    115
Name: 12512, dtype: object
12513 1367 14 ORtg Last Month    97.6429
Name: 12513, dtype: object
12514 758 14 ORtg Last Month    54.1429
Name: 12514, dtype: object
12515 1231 13 ORtg Last Month    94.6923
Name: 12515, dtype: object
12516 1701 14 ORtg Last Month    121.5
Name: 12516, dtype: object
12517 1433 11 ORtg Last Month    130.273
Name: 12517, dtype: object
12518 1270 12 ORtg Last Month    105.833
Name: 12518, dtype: object
12519 811 9 ORtg Last Month    90.1111
Name: 12519, dtype: object
12520 1887 14 ORtg Last Month    134.786
Name: 12520, dtype: object
12521 1741 14 ORtg Last Month    124.357
Name: 12521, dtype: object
12522 1040 14 ORtg Last Month    74.2857
Name: 12522, dtype: object
12523 1722 14 ORtg Last Month    123
Name: 12523, dtype: object
12524 952 10 ORtg Last Month    95.2
Name: 12524, dtype: object
12525 725 13 ORtg Last Month    55.7692
Name: 12525, dtype: object
12526 1419 14 ORtg Last Month    101.357
Name: 12526, dtype: object
12527 1614 14 ORtg Last Month    115.286
Name: 12527, dtype: object
12528 1609 14 ORtg Last Month    114.929
Name: 12528, dtype: object
12529 1567 14 ORtg Last Month    111.929
Name: 12529, dtype: object
12530 920 13 ORtg Last Month    70.7692
Name: 12530, dtype: object
12531 1737 14 ORtg Last Month    124.071
Name: 12531, dtype: object
12532 1440 14 ORtg Last Month    102.857
Name: 12532, dtype: object
12533 172 11 ORtg Last Month    15.6364
Name: 12533, dtype: object
12534 1416 15 ORtg Last Month    94.4
Name: 12534, dtype: object
12535 1778 15 ORtg Last Month    118.533
Name: 12535, dtype: object

12536 1054 15 ORtg Last Month    70.2667
Name: 12536, dtype: object
12537 1631 15 ORtg Last Month    108.733
Name: 12537, dtype: object
12538 370 14 ORtg Last Month    26.4286
Name: 12538, dtype: object
12539 1947 15 ORtg Last Month    129.8
Name: 12539, dtype: object
12540 1720 15 ORtg Last Month    114.667
Name: 12540, dtype: object
12541 1393 15 ORtg Last Month    92.8667
Name: 12541, dtype: object
12542 658 15 ORtg Last Month    43.8667
Name: 12542, dtype: object
12543 1842 15 ORtg Last Month    122.8
Name: 12543, dtype: object
12544 1198 15 ORtg Last Month    79.8667
Name: 12544, dtype: object
12545 1056 15 ORtg Last Month    70.4
Name: 12545, dtype: object
12546 1513 13 ORtg Last Month    116.385
Name: 12546, dtype: object
12547 1598 13 ORtg Last Month    122.923
Name: 12547, dtype: object
12548 1158 14 ORtg Last Month    82.7143
Name: 12548, dtype: object
12549 214 6 ORtg Last Month    35.6667
Name: 12549, dtype: object
12550 84 2 ORtg Last Month    42
Name: 12550, dtype: object
12551 1471 14 ORtg Last Month    105.071
Name: 12551, dtype: object
12552 666 14 ORtg Last Month    47.5714
Name: 12552, dtype: object
12553 1546 14 ORtg Last Month    110.429
Name: 12553, dtype: object
12554 836 11 ORtg Last Month    76
Name: 12554, dtype: object
12555 1108 13 ORtg Last Month    85.2308
Name: 12555, dtype: object
12556 1354 14 ORtg Last Month    96.7143
Name: 12556, dtype: object
12557 1436 14 ORtg Last Month    102.571
Name: 12557, dtype: object
12558 836 9 ORtg Last Month    92.8889
Name: 12558, dtype: object
12559 1371 13 ORtg Last Month    105.462
Name: 12559, dtype: object
12560 974 12 ORtg Last Month    81.1667
Name: 12560, dtype: object
12561 1342 13 ORtg Last Month    103.231
Name: 12561, dtype: object
12562 1113 10 ORtg Last Month    111.3
Name: 12562, dtype: object
12563 973 9 ORtg Last Month    108.111
Name: 12563, dtype: object
12564 1274 14 ORtg Last Month    91
Name: 12564, dtype: object
12565 1465 13 ORtg Last Month    112.692
Name: 12565, dtype: object
12566 1344 13 ORtg Last Month    103.385
Name: 12566, dtype: object
12567 1448 13 ORtg Last Month    111.385
Name: 12567, dtype: object
12568 1588 13 ORtg Last Month    122.154
Name: 12568, dtype: object
12569 1572 14 ORtg Last Month    112.286
Name: 12569, dtype: object
12570 1686 14 ORtg Last Month    120.429
Name: 12570, dtype: object
12571 466 11 ORtg Last Month    42.3636
Name: 12571, dtype: object
12572 637 9 ORtg Last Month    70.7778
Name: 12572, dtype: object
12573 779 8 ORtg Last Month    97.375
Name: 12573, dtype: object
12574 1010 12 ORtg Last Month    84.1667
Name: 12574, dtype: object
12575 1520 14 ORtg Last Month    108.571
Name: 12575, dtype: object
12576 245 8 ORtg Last Month    30.625
Name: 12576, dtype: object
12577 282 13 ORtg Last Month    21.6923
Name: 12577, dtype: object
12578 0 0 ORtg Last Month    0
Name: 12578, dtype: object
12579 1421 13 ORtg Last Month    109.308
Name: 12579, dtype: object
12580 1710 14 ORtg Last Month    122.143
Name: 12580, dtype: object
12581 973 13 ORtg Last Month    74.8462
Name: 12581, dtype: object
12582 1361 13 ORtg Last Month    104.692
Name: 12582, dtype: object
12583 197 6 ORtg Last Month    32.8333
Name: 12583, dtype: object
12584 484 6 ORtg Last Month    80.6667
Name: 12584, dtype: object
12585 758 12 ORtg Last Month    63.1667
Name: 12585, dtype: object
12586 1275 13 ORtg Last Month    98.0769
Name: 12586, dtype: object
12587 961 10 ORtg Last Month    96.1
Name: 12587, dtype: object
12588 304 6 ORtg Last Month    50.6667
Name: 12588, dtype: object
12589 974 13 ORtg Last Month    74.9231
Name: 12589, dtype: object
12590 1030 11 ORtg Last Month    93.6364
Name: 12590, dtype: object
12591 1000 12 ORtg Last Month    83.3333
Name: 12591, dtype: object
12592 1421 13 ORtg Last Month    109.308
Name: 12592, dtype: object
12593 1585 13 ORtg Last Month    121.923
Name: 12593, dtype: object
12594 899 8 ORtg Last Month    112.375
Name: 12594, dtype: object
12595 1428 15 ORtg Last Month    95.2
Name: 12595, dtype: object
12596 1042 13 ORtg Last Month    80.1538
Name: 12596, dtype: object
12597 527 10 ORtg Last Month    52.7
Name: 12597, dtype: object
12598 930 15 ORtg Last Month    62
Name: 12598, dtype: object
12599 1090 10 ORtg Last Month    109
Name: 12599, dtype: object
12600 1688 15 ORtg Last Month    112.533
Name: 12600, dtype: object
12601 1350 13 ORtg Last Month    103.846
Name: 12601, dtype: object
12602 1284 15 ORtg Last Month    85.6
Name: 12602, dtype: object
12603 1761 15 ORtg Last Month    117.4
Name: 12603, dtype: object
12604 2170 15 ORtg Last Month    144.667
Name: 12604, dtype: object
12605 490 15 ORtg Last Month    32.6667
Name: 12605, dtype: object
12606 0 8 ORtg Last Month    0
Name: 12606, dtype: object
12607 1677 14 ORtg Last Month    119.786
Name: 12607, dtype: object
12608 1271 14 ORtg Last Month    90.7857
Name: 12608, dtype: object
12609 260 14 ORtg Last Month    18.5714
Name: 12609, dtype: object
12610 1548 13 ORtg Last Month    119.077
Name: 12610, dtype: object
12611 1740 14 ORtg Last Month    124.286
Name: 12611, dtype: object
12612 1173 14 ORtg Last Month    83.7857
Name: 12612, dtype: object
12613 1185 13 ORtg Last Month    91.1538
Name: 12613, dtype: object
12614 605 14 ORtg Last Month    43.2143
Name: 12614, dtype: object
12615 1425 14 ORtg Last Month    101.786
Name: 12615, dtype: object
12616 1514 14 ORtg Last Month    108.143
Name: 12616, dtype: object
12617 1373 14 ORtg Last Month    98.0714
Name: 12617, dtype: object
12618 171 13 ORtg Last Month    13.1538
Name: 12618, dtype: object
12619 1398 15 ORtg Last Month    93.2
Name: 12619, dtype: object
12620 1626 15 ORtg Last Month    108.4
Name: 12620, dtype: object
12621 1585 15 ORtg Last Month    105.667
Name: 12621, dtype: object
12622 1700 15 ORtg Last Month    113.333
Name: 12622, dtype: object
12623 1771 15 ORtg Last Month    118.067
Name: 12623, dtype: object
12624 1588 15 ORtg Last Month    105.867
Name: 12624, dtype: object
12625 1507 14 ORtg Last Month    107.643
Name: 12625, dtype: object
12626 1032 15 ORtg Last Month    68.8
Name: 12626, dtype: object
12627 1821 15 ORtg Last Month    121.4
Name: 12627, dtype: object
12628 1951 15 ORtg Last Month    130.067
Name: 12628, dtype: object
12629 1960 13 ORtg Last Month    150.769
Name: 12629, dtype: object
12630 502 7 ORtg Last Month    71.7143
Name: 12630, dtype: object
12631 0 1 ORtg Last Month    0
Name: 12631, dtype: object
12632 1428 14 ORtg Last Month    102
Name: 12632, dtype: object
12633 1284 14 ORtg Last Month    91.7143
Name: 12633, dtype: object
12634 1022 12 ORtg Last Month    85.1667
Name: 12634, dtype: object
12635 1607 14 ORtg Last Month    114.786
Name: 12635, dtype: object
12636 1117 14 ORtg Last Month    79.7857
Name: 12636, dtype: object
12637 1404 14 ORtg Last Month    100.286
Name: 12637, dtype: object
12638 1566 14 ORtg Last Month    111.857
Name: 12638, dtype: object
12639 1056 8 ORtg Last Month    132
Name: 12639, dtype: object
12640 1763 14 ORtg Last Month    125.929
Name: 12640, dtype: object
12641 1736 14 ORtg Last Month    124
Name: 12641, dtype: object
12642 789 13 ORtg Last Month    60.6923
Name: 12642, dtype: object
12643 0 0 ORtg Last Month    0
Name: 12643, dtype: object
12644 1596 15 ORtg Last Month    106.4
Name: 12644, dtype: object
12645 1732 15 ORtg Last Month    115.467
Name: 12645, dtype: object
12646 657 6 ORtg Last Month    109.5
Name: 12646, dtype: object
12647 420 9 ORtg Last Month    46.6667
Name: 12647, dtype: object
12648 1298 14 ORtg Last Month    92.7143
Name: 12648, dtype: object
12649 1572 13 ORtg Last Month    120.923
Name: 12649, dtype: object
12650 881 10 ORtg Last Month    88.1
Name: 12650, dtype: object
12651 2044 15 ORtg Last Month    136.267
Name: 12651, dtype: object
12652 954 15 ORtg Last Month    63.6
Name: 12652, dtype: object
12653 957 9 ORtg Last Month    106.333
Name: 12653, dtype: object
12654 992 9 ORtg Last Month    110.222
Name: 12654, dtype: object
12655 1473 14 ORtg Last Month    105.214
Name: 12655, dtype: object
12656 1179 14 ORtg Last Month    84.2143
Name: 12656, dtype: object
12657 831 13 ORtg Last Month    63.9231
Name: 12657, dtype: object
12658 778 13 ORtg Last Month    59.8462
Name: 12658, dtype: object
12659 1298 13 ORtg Last Month    99.8462
Name: 12659, dtype: object

12660 1249 14 ORtg Last Month    89.2143
Name: 12660, dtype: object
12661 1433 13 ORtg Last Month    110.231
Name: 12661, dtype: object
12662 566 11 ORtg Last Month    51.4545
Name: 12662, dtype: object
12663 1219 14 ORtg Last Month    87.0714
Name: 12663, dtype: object
12664 690 14 ORtg Last Month    49.2857
Name: 12664, dtype: object
12665 1458 15 ORtg Last Month    97.2
Name: 12665, dtype: object
12666 1253 15 ORtg Last Month    83.5333
Name: 12666, dtype: object
12667 1522 14 ORtg Last Month    108.714
Name: 12667, dtype: object
12668 1664 15 ORtg Last Month    110.933
Name: 12668, dtype: object
12669 1608 15 ORtg Last Month    107.2
Name: 12669, dtype: object
12670 282 13 ORtg Last Month    21.6923
Name: 12670, dtype: object
12671 1815 15 ORtg Last Month    121
Name: 12671, dtype: object
12672 1210 11 ORtg Last Month    110
Name: 12672, dtype: object
12673 620 8 ORtg Last Month    77.5
Name: 12673, dtype: object
12674 1631 15 ORtg Last Month    108.733
Name: 12674, dtype: object
12675 235 13 ORtg Last Month    18.0769
Name: 12675, dtype: object
12676 1513 15 ORtg Last Month    100.867
Name: 12676, dtype: object
12677 1384 14 ORtg Last Month    98.8571
Name: 12677, dtype: object
12678 949 13 ORtg Last Month    73
Name: 12678, dtype: object
12679 1527 14 ORtg Last Month    109.071
Name: 12679, dtype: object
12680 1640 15 ORtg Last Month    109.333
Name: 12680, dtype: object
12681 978 10 ORtg Last Month    97.8
Name: 12681, dtype: object
12682 1522 15 ORtg Last Month    101.467
Name: 12682, dtype: object
12683 1295 15 ORtg Last Month    86.3333
Name: 12683, dtype: object
12684 1245 15 ORtg Last Month    83
Name: 12684, dtype: object
12685 943 13 ORtg Last Month    72.5385
Name: 12685, dtype: object
12686 836 8 ORtg Last Month    104.5
Name: 12686, dtype: object
12687 1576 15 ORtg Last Month    105.067
Name: 12687, dtype: object
12688 1446 15 ORtg Last Month    96.4
Name: 12688, dtype: object
12689 328 8 ORtg Last Month    41
Name: 12689, dtype: object
12690 1684 15 ORtg Last Month    112.267
Name: 12690, dtype: object
12691 1903 15 ORtg Last Month    126.867
Name: 12691, dtype: object
12692 1236 15 ORtg Last Month    82.4
Name: 12692, dtype: object
12693 1187 15 ORtg Last Month    79.1333
Name: 12693, dtype: object
12694 881 9 ORtg Last Month    97.8889
Name: 12694, dtype: object
12695 1959 14 ORtg Last Month    139.929
Name: 12695, dtype: object
12696 0 2 ORtg Last Month    0
Name: 12696, dtype: object
12697 890 15 ORtg Last Month    59.3333
Name: 12697, dtype: object
12698 999 15 ORtg Last Month    66.6
Name: 12698, dtype: object
12699 1240 14 ORtg Last Month    88.5714
Name: 12699, dtype: object
12700 1349 13 ORtg Last Month    103.769
Name: 12700, dtype: object
12701 1233 12 ORtg Last Month    102.75
Name: 12701, dtype: object
12702 351 12 ORtg Last Month    29.25
Name: 12702, dtype: object
12703 1459 12 ORtg Last Month    121.583
Name: 12703, dtype: object
12704 1375 14 ORtg Last Month    98.2143
Name: 12704, dtype: object
12705 1302 13 ORtg Last Month    100.154
Name: 12705, dtype: object
12706 124 13 ORtg Last Month    9.53846
Name: 12706, dtype: object
12707 1678 14 ORtg Last Month    119.857
Name: 12707, dtype: object
12708 1129 10 ORtg Last Month    112.9
Name: 12708, dtype: object
12709 1630 14 ORtg Last Month    116.429
Name: 12709, dtype: object
12710 1402 13 ORtg Last Month    107.846
Name: 12710, dtype: object
12711 195 5 ORtg Last Month    39
Name: 12711, dtype: object
12712 0 1 ORtg Last Month    0
Name: 12712, dtype: object
12713 1313 12 ORtg Last Month    109.417
Name: 12713, dtype: object
12714 1374 13 ORtg Last Month    105.692
Name: 12714, dtype: object
12715 1704 13 ORtg Last Month    131.077
Name: 12715, dtype: object
12716 1102 13 ORtg Last Month    84.7692
Name: 12716, dtype: object
12717 133 13 ORtg Last Month    10.2308
Name: 12717, dtype: object
12718 687 13 ORtg Last Month    52.8462
Name: 12718, dtype: object
12719 98 13 ORtg Last Month    7.53846
Name: 12719, dtype: object
12720 1502 13 ORtg Last Month    115.538
Name: 12720, dtype: object
12721 1455 12 ORtg Last Month    121.25
Name: 12721, dtype: object
12722 1483 13 ORtg Last Month    114.077
Name: 12722, dtype: object
12723 1359 14 ORtg Last Month    97.0714
Name: 12723, dtype: object
12724 1264 13 ORtg Last Month    97.2308
Name: 12724, dtype: object
12725 211 13 ORtg Last Month    16.2308
Name: 12725, dtype: object
12726 1641 14 ORtg Last Month    117.214
Name: 12726, dtype: object
12727 1668 14 ORtg Last Month    119.143
Name: 12727, dtype: object
12728 1076 14 ORtg Last Month    76.8571
Name: 12728, dtype: object
12729 461 14 ORtg Last Month    32.9286
Name: 12729, dtype: object
12730 1614 13 ORtg Last Month    124.154
Name: 12730, dtype: object
12731 1739 14 ORtg Last Month    124.214
Name: 12731, dtype: object
12732 1212 14 ORtg Last Month    86.5714
Name: 12732, dtype: object
12733 1265 14 ORtg Last Month    90.3571
Name: 12733, dtype: object
12734 1174 11 ORtg Last Month    106.727
Name: 12734, dtype: object
12735 1434 12 ORtg Last Month    119.5
Name: 12735, dtype: object
12736 1251 12 ORtg Last Month    104.25
Name: 12736, dtype: object
12737 1074 11 ORtg Last Month    97.6364
Name: 12737, dtype: object
12738 1267 12 ORtg Last Month    105.583
Name: 12738, dtype: object
12739 904 12 ORtg Last Month    75.3333
Name: 12739, dtype: object
12740 1163 12 ORtg Last Month    96.9167
Name: 12740, dtype: object
12741 992 11 ORtg Last Month    90.1818
Name: 12741, dtype: object
12742 1583 13 ORtg Last Month    121.769
Name: 12742, dtype: object
12743 1477 13 ORtg Last Month    113.615
Name: 12743, dtype: object
12744 303 6 ORtg Last Month    50.5
Name: 12744, dtype: object
12745 1522 13 ORtg Last Month    117.077
Name: 12745, dtype: object
12746 1314 13 ORtg Last Month    101.077
Name: 12746, dtype: object
12747 401 8 ORtg Last Month    50.125
Name: 12747, dtype: object
12748 1533 13 ORtg Last Month    117.923
Name: 12748, dtype: object
12749 1276 11 ORtg Last Month    116
Name: 12749, dtype: object
12750 1147 11 ORtg Last Month    104.273
Name: 12750, dtype: object
12751 1397 12 ORtg Last Month    116.417
Name: 12751, dtype: object
12752 1185 13 ORtg Last Month    91.1538
Name: 12752, dtype: object
12753 1819 15 ORtg Last Month    121.267
Name: 12753, dtype: object
12754 1337 15 ORtg Last Month    89.1333
Name: 12754, dtype: object
12755 510 15 ORtg Last Month    34
Name: 12755, dtype: object
12756 0 1 ORtg Last Month    0
Name: 12756, dtype: object
12757 1861 15 ORtg Last Month    124.067
Name: 12757, dtype: object
12758 1217 14 ORtg Last Month    86.9286
Name: 12758, dtype: object
12759 1246 15 ORtg Last Month    83.0667
Name: 12759, dtype: object
12760 656 15 ORtg Last Month    43.7333
Name: 12760, dtype: object
12761 1536 15 ORtg Last Month    102.4
Name: 12761, dtype: object
12762 1373 15 ORtg Last Month    91.5333
Name: 12762, dtype: object
12763 1610 15 ORtg Last Month    107.333
Name: 12763, dtype: object
12764 171 14 ORtg Last Month    12.2143
Name: 12764, dtype: object
12765 1530 14 ORtg Last Month    109.286
Name: 12765, dtype: object
12766 1054 14 ORtg Last Month    75.2857
Name: 12766, dtype: object
12767 1440 14 ORtg Last Month    102.857
Name: 12767, dtype: object
12768 1599 14 ORtg Last Month    114.214
Name: 12768, dtype: object
12769 1094 11 ORtg Last Month    99.4545
Name: 12769, dtype: object
12770 1509 14 ORtg Last Month    107.786
Name: 12770, dtype: object
12771 757 11 ORtg Last Month    68.8182
Name: 12771, dtype: object
12772 1631 14 ORtg Last Month    116.5
Name: 12772, dtype: object
12773 1738 14 ORtg Last Month    124.143
Name: 12773, dtype: object
12774 1283 14 ORtg Last Month    91.6429
Name: 12774, dtype: object
12775 879 12 ORtg Last Month    73.25
Name: 12775, dtype: object
12776 309 6 ORtg Last Month    51.5
Name: 12776, dtype: object
12777 1444 13 ORtg Last Month    111.077
Name: 12777, dtype: object
12778 1369 14 ORtg Last Month    97.7857
Name: 12778, dtype: object
12779 418 14 ORtg Last Month    29.8571
Name: 12779, dtype: object
12780 1363 11 ORtg Last Month    123.909
Name: 12780, dtype: object
12781 1384 13 ORtg Last Month    106.462
Name: 12781, dtype: object
12782 1416 14 ORtg Last Month    101.143
Name: 12782, dtype: object

12783 407 4 ORtg Last Month    101.75
Name: 12783, dtype: object
12784 608 13 ORtg Last Month    46.7692
Name: 12784, dtype: object
12785 1079 14 ORtg Last Month    77.0714
Name: 12785, dtype: object
12786 1370 13 ORtg Last Month    105.385
Name: 12786, dtype: object
12787 1235 11 ORtg Last Month    112.273
Name: 12787, dtype: object
12788 1021 14 ORtg Last Month    72.9286
Name: 12788, dtype: object
12789 460 6 ORtg Last Month    76.6667
Name: 12789, dtype: object
12790 1230 12 ORtg Last Month    102.5
Name: 12790, dtype: object
12791 1267 10 ORtg Last Month    126.7
Name: 12791, dtype: object
12792 1303 12 ORtg Last Month    108.583
Name: 12792, dtype: object
12793 494 10 ORtg Last Month    49.4
Name: 12793, dtype: object
12794 1217 12 ORtg Last Month    101.417
Name: 12794, dtype: object
12795 309 9 ORtg Last Month    34.3333
Name: 12795, dtype: object
12796 1027 12 ORtg Last Month    85.5833
Name: 12796, dtype: object
12797 331 4 ORtg Last Month    82.75
Name: 12797, dtype: object
12798 1307 11 ORtg Last Month    118.818
Name: 12798, dtype: object
12799 928 10 ORtg Last Month    92.8
Name: 12799, dtype: object
12800 248 3 ORtg Last Month    82.6667
Name: 12800, dtype: object
12801 1527 12 ORtg Last Month    127.25
Name: 12801, dtype: object
12802 1437 13 ORtg Last Month    110.538
Name: 12802, dtype: object
12803 1500 13 ORtg Last Month    115.385
Name: 12803, dtype: object
12804 968 13 ORtg Last Month    74.4615
Name: 12804, dtype: object
12805 1053 11 ORtg Last Month    95.7273
Name: 12805, dtype: object
12806 1391 13 ORtg Last Month    107
Name: 12806, dtype: object
12807 1414 11 ORtg Last Month    128.545
Name: 12807, dtype: object
12808 1236 11 ORtg Last Month    112.364
Name: 12808, dtype: object
12809 1191 13 ORtg Last Month    91.6154
Name: 12809, dtype: object
12810 714 6 ORtg Last Month    119
Name: 12810, dtype: object
12811 1562 13 ORtg Last Month    120.154
Name: 12811, dtype: object
12812 662 8 ORtg Last Month    82.75
Name: 12812, dtype: object
12813 1404 13 ORtg Last Month    108
Name: 12813, dtype: object
12814 1131 13 ORtg Last Month    87
Name: 12814, dtype: object
12815 611 12 ORtg Last Month    50.9167
Name: 12815, dtype: object
12816 1128 12 ORtg Last Month    94
Name: 12816, dtype: object
12817 1339 12 ORtg Last Month    111.583
Name: 12817, dtype: object
12818 1401 13 ORtg Last Month    107.769
Name: 12818, dtype: object
12819 1422 13 ORtg Last Month    109.385
Name: 12819, dtype: object
12820 1022 13 ORtg Last Month    78.6154
Name: 12820, dtype: object
12821 1225 13 ORtg Last Month    94.2308
Name: 12821, dtype: object
12822 1422 12 ORtg Last Month    118.5
Name: 12822, dtype: object
12823 833 13 ORtg Last Month    64.0769
Name: 12823, dtype: object
12824 53 5 ORtg Last Month    10.6
Name: 12824, dtype: object
12825 1468 15 ORtg Last Month    97.8667
Name: 12825, dtype: object
12826 1146 15 ORtg Last Month    76.4
Name: 12826, dtype: object
12827 1631 15 ORtg Last Month    108.733
Name: 12827, dtype: object
12828 1573 14 ORtg Last Month    112.357
Name: 12828, dtype: object
12829 1686 15 ORtg Last Month    112.4
Name: 12829, dtype: object
12830 282 13 ORtg Last Month    21.6923
Name: 12830, dtype: object
12831 1822 15 ORtg Last Month    121.467
Name: 12831, dtype: object
12832 235 13 ORtg Last Month    18.0769
Name: 12832, dtype: object
12833 1567 15 ORtg Last Month    104.467
Name: 12833, dtype: object
12834 1281 12 ORtg Last Month    106.75
Name: 12834, dtype: object
12835 1619 14 ORtg Last Month    115.643
Name: 12835, dtype: object
12836 1397 14 ORtg Last Month    99.7857
Name: 12836, dtype: object
12837 1210 13 ORtg Last Month    93.0769
Name: 12837, dtype: object
12838 817 14 ORtg Last Month    58.3571
Name: 12838, dtype: object
12839 1640 14 ORtg Last Month    117.143
Name: 12839, dtype: object
12840 1408 12 ORtg Last Month    117.333
Name: 12840, dtype: object
12841 1535 12 ORtg Last Month    127.917
Name: 12841, dtype: object
12842 67 3 ORtg Last Month    22.3333
Name: 12842, dtype: object
12843 885 10 ORtg Last Month    88.5
Name: 12843, dtype: object
12844 1027 14 ORtg Last Month    73.3571
Name: 12844, dtype: object
12845 1891 14 ORtg Last Month    135.071
Name: 12845, dtype: object
12846 1807 14 ORtg Last Month    129.071
Name: 12846, dtype: object
12847 1711 14 ORtg Last Month    122.214
Name: 12847, dtype: object
12848 933 10 ORtg Last Month    93.3
Name: 12848, dtype: object
12849 225 8 ORtg Last Month    28.125
Name: 12849, dtype: object
12850 536 13 ORtg Last Month    41.2308
Name: 12850, dtype: object
12851 1568 14 ORtg Last Month    112
Name: 12851, dtype: object
12852 1581 14 ORtg Last Month    112.929
Name: 12852, dtype: object
12853 1476 14 ORtg Last Month    105.429
Name: 12853, dtype: object
12854 851 13 ORtg Last Month    65.4615
Name: 12854, dtype: object
12855 1670 14 ORtg Last Month    119.286
Name: 12855, dtype: object
12856 1585 14 ORtg Last Month    113.214
Name: 12856, dtype: object
12857 96 11 ORtg Last Month    8.72727
Name: 12857, dtype: object
12858 945 9 ORtg Last Month    105
Name: 12858, dtype: object
12859 1760 14 ORtg Last Month    125.714
Name: 12859, dtype: object
12860 1390 14 ORtg Last Month    99.2857
Name: 12860, dtype: object
12861 922 13 ORtg Last Month    70.9231
Name: 12861, dtype: object
12862 1633 14 ORtg Last Month    116.643
Name: 12862, dtype: object
12863 1676 14 ORtg Last Month    119.714
Name: 12863, dtype: object
12864 1027 11 ORtg Last Month    93.3636
Name: 12864, dtype: object
12865 1498 14 ORtg Last Month    107
Name: 12865, dtype: object
12866 0 2 ORtg Last Month    0
Name: 12866, dtype: object
12867 1557 14 ORtg Last Month    111.214
Name: 12867, dtype: object
12868 1430 13 ORtg Last Month    110
Name: 12868, dtype: object
12869 433 13 ORtg Last Month    33.3077
Name: 12869, dtype: object
12870 1584 13 ORtg Last Month    121.846
Name: 12870, dtype: object
12871 1499 13 ORtg Last Month    115.308
Name: 12871, dtype: object
12872 1165 14 ORtg Last Month    83.2143
Name: 12872, dtype: object
12873 214 7 ORtg Last Month    30.5714
Name: 12873, dtype: object
12874 1486 14 ORtg Last Month    106.143
Name: 12874, dtype: object
12875 1474 14 ORtg Last Month    105.286
Name: 12875, dtype: object
12876 741 11 ORtg Last Month    67.3636
Name: 12876, dtype: object
12877 207 3 ORtg Last Month    69
Name: 12877, dtype: object
12878 1022 13 ORtg Last Month    78.6154
Name: 12878, dtype: object
12879 807 14 ORtg Last Month    57.6429
Name: 12879, dtype: object
12880 1350 14 ORtg Last Month    96.4286
Name: 12880, dtype: object
12881 1425 14 ORtg Last Month    101.786
Name: 12881, dtype: object
12882 924 10 ORtg Last Month    92.4
Name: 12882, dtype: object
12883 1512 14 ORtg Last Month    108
Name: 12883, dtype: object
12884 228 6 ORtg Last Month    38
Name: 12884, dtype: object
12885 0 2 ORtg Last Month    0
Name: 12885, dtype: object
12886 1464 13 ORtg Last Month    112.615
Name: 12886, dtype: object
12887 1476 14 ORtg Last Month    105.429
Name: 12887, dtype: object
12888 1198 14 ORtg Last Month    85.5714
Name: 12888, dtype: object
12889 1811 14 ORtg Last Month    129.357
Name: 12889, dtype: object
12890 133 14 ORtg Last Month    9.5
Name: 12890, dtype: object
12891 687 14 ORtg Last Month    49.0714
Name: 12891, dtype: object
12892 98 14 ORtg Last Month    7
Name: 12892, dtype: object
12893 1633 14 ORtg Last Month    116.643
Name: 12893, dtype: object
12894 1576 13 ORtg Last Month    121.231
Name: 12894, dtype: object
12895 1564 14 ORtg Last Month    111.714
Name: 12895, dtype: object
12896 1567 14 ORtg Last Month    111.929
Name: 12896, dtype: object
12897 0 0 ORtg Last Month    0
Name: 12897, dtype: object
12898 1632 14 ORtg Last Month    116.571
Name: 12898, dtype: object
12899 1368 13 ORtg Last Month    105.231
Name: 12899, dtype: object
12900 1046 12 ORtg Last Month    87.1667
Name: 12900, dtype: object
12901 1531 14 ORtg Last Month    109.357
Name: 12901, dtype: object
12902 1446 13 ORtg Last Month    111.231
Name: 12902, dtype: object
12903 1090 13 ORtg Last Month    83.8462
Name: 12903, dtype: object
12904 592 13 ORtg Last Month    45.5385
Name: 12904, dtype: object
12905 1286 14 ORtg Last Month    91.8571
Name: 12905, dtype: object
12906 1258 13 ORtg Last Month    96.7692
Name: 12906, dtype: object

12907 376 13 ORtg Last Month    28.9231
Name: 12907, dtype: object
12908 1645 14 ORtg Last Month    117.5
Name: 12908, dtype: object
12909 1694 14 ORtg Last Month    121
Name: 12909, dtype: object
12910 443 14 ORtg Last Month    31.6429
Name: 12910, dtype: object
12911 1614 14 ORtg Last Month    115.286
Name: 12911, dtype: object
12912 1214 14 ORtg Last Month    86.7143
Name: 12912, dtype: object
12913 1786 14 ORtg Last Month    127.571
Name: 12913, dtype: object
12914 1197 14 ORtg Last Month    85.5
Name: 12914, dtype: object
12915 1272 14 ORtg Last Month    90.8571
Name: 12915, dtype: object
12916 1038 11 ORtg Last Month    94.3636
Name: 12916, dtype: object
12917 0 0 ORtg Last Month    0
Name: 12917, dtype: object
12918 518 10 ORtg Last Month    51.8
Name: 12918, dtype: object
12919 1234 12 ORtg Last Month    102.833
Name: 12919, dtype: object
12920 1225 12 ORtg Last Month    102.083
Name: 12920, dtype: object
12921 1106 11 ORtg Last Month    100.545
Name: 12921, dtype: object
12922 1165 12 ORtg Last Month    97.0833
Name: 12922, dtype: object
12923 1186 11 ORtg Last Month    107.818
Name: 12923, dtype: object
12924 899 12 ORtg Last Month    74.9167
Name: 12924, dtype: object
12925 500 10 ORtg Last Month    50
Name: 12925, dtype: object
12926 385 11 ORtg Last Month    35
Name: 12926, dtype: object
12927 0 0 ORtg Last Month    0
Name: 12927, dtype: object
12928 1031 9 ORtg Last Month    114.556
Name: 12928, dtype: object
12929 1289 15 ORtg Last Month    85.9333
Name: 12929, dtype: object
12930 990 13 ORtg Last Month    76.1538
Name: 12930, dtype: object
12931 461 10 ORtg Last Month    46.1
Name: 12931, dtype: object
12932 865 15 ORtg Last Month    57.6667
Name: 12932, dtype: object
12933 1196 11 ORtg Last Month    108.727
Name: 12933, dtype: object
12934 1375 13 ORtg Last Month    105.769
Name: 12934, dtype: object
12935 1789 15 ORtg Last Month    119.267
Name: 12935, dtype: object
12936 1299 15 ORtg Last Month    86.6
Name: 12936, dtype: object
12937 1817 15 ORtg Last Month    121.133
Name: 12937, dtype: object
12938 490 15 ORtg Last Month    32.6667
Name: 12938, dtype: object
12939 0 9 ORtg Last Month    0
Name: 12939, dtype: object
12940 0 9 ORtg Last Month    0
Name: 12940, dtype: object
12941 1441 15 ORtg Last Month    96.0667
Name: 12941, dtype: object
12942 1642 15 ORtg Last Month    109.467
Name: 12942, dtype: object
12943 1655 15 ORtg Last Month    110.333
Name: 12943, dtype: object
12944 1714 15 ORtg Last Month    114.267
Name: 12944, dtype: object
12945 1587 15 ORtg Last Month    105.8
Name: 12945, dtype: object
12946 1480 14 ORtg Last Month    105.714
Name: 12946, dtype: object
12947 963 15 ORtg Last Month    64.2
Name: 12947, dtype: object
12948 1831 15 ORtg Last Month    122.067
Name: 12948, dtype: object
12949 1874 13 ORtg Last Month    144.154
Name: 12949, dtype: object
12950 2035 15 ORtg Last Month    135.667
Name: 12950, dtype: object
12951 0 2 ORtg Last Month    0
Name: 12951, dtype: object
12952 502 8 ORtg Last Month    62.75
Name: 12952, dtype: object
12953 1422 12 ORtg Last Month    118.5
Name: 12953, dtype: object
12954 1246 12 ORtg Last Month    103.833
Name: 12954, dtype: object
12955 1455 12 ORtg Last Month    121.25
Name: 12955, dtype: object
12956 86 1 ORtg Last Month    86
Name: 12956, dtype: object
12957 384 9 ORtg Last Month    42.6667
Name: 12957, dtype: object
12958 1298 12 ORtg Last Month    108.167
Name: 12958, dtype: object
12959 1088 12 ORtg Last Month    90.6667
Name: 12959, dtype: object
12960 1509 12 ORtg Last Month    125.75
Name: 12960, dtype: object
12961 471 12 ORtg Last Month    39.25
Name: 12961, dtype: object
12962 1424 12 ORtg Last Month    118.667
Name: 12962, dtype: object
12963 423 4 ORtg Last Month    105.75
Name: 12963, dtype: object
12964 1224 12 ORtg Last Month    102
Name: 12964, dtype: object
12965 1457 14 ORtg Last Month    104.071
Name: 12965, dtype: object
12966 198 11 ORtg Last Month    18
Name: 12966, dtype: object
12967 1422 14 ORtg Last Month    101.571
Name: 12967, dtype: object
12968 1205 14 ORtg Last Month    86.0714
Name: 12968, dtype: object
12969 1362 14 ORtg Last Month    97.2857
Name: 12969, dtype: object
12970 873 9 ORtg Last Month    97
Name: 12970, dtype: object
12971 1087 14 ORtg Last Month    77.6429
Name: 12971, dtype: object
12972 835 12 ORtg Last Month    69.5833
Name: 12972, dtype: object
12973 1417 13 ORtg Last Month    109
Name: 12973, dtype: object
12974 1414 14 ORtg Last Month    101
Name: 12974, dtype: object
12975 1394 13 ORtg Last Month    107.231
Name: 12975, dtype: object
12976 1280 13 ORtg Last Month    98.4615
Name: 12976, dtype: object
12977 1580 15 ORtg Last Month    105.333
Name: 12977, dtype: object
12978 1856 15 ORtg Last Month    123.733
Name: 12978, dtype: object
12979 1402 15 ORtg Last Month    93.4667
Name: 12979, dtype: object
12980 1090 15 ORtg Last Month    72.6667
Name: 12980, dtype: object
12981 251 14 ORtg Last Month    17.9286
Name: 12981, dtype: object
12982 1947 15 ORtg Last Month    129.8
Name: 12982, dtype: object
12983 1655 15 ORtg Last Month    110.333
Name: 12983, dtype: object
12984 1399 15 ORtg Last Month    93.2667
Name: 12984, dtype: object
12985 701 15 ORtg Last Month    46.7333
Name: 12985, dtype: object
12986 1776 15 ORtg Last Month    118.4
Name: 12986, dtype: object
12987 1012 15 ORtg Last Month    67.4667
Name: 12987, dtype: object
12988 1299 15 ORtg Last Month    86.6
Name: 12988, dtype: object
12989 1391 13 ORtg Last Month    107
Name: 12989, dtype: object
12990 1076 10 ORtg Last Month    107.6
Name: 12990, dtype: object
12991 1249 13 ORtg Last Month    96.0769
Name: 12991, dtype: object
12992 235 9 ORtg Last Month    26.1111
Name: 12992, dtype: object
12993 1391 13 ORtg Last Month    107
Name: 12993, dtype: object
12994 1067 12 ORtg Last Month    88.9167
Name: 12994, dtype: object
12995 1229 13 ORtg Last Month    94.5385
Name: 12995, dtype: object
12996 1469 13 ORtg Last Month    113
Name: 12996, dtype: object
12997 329 11 ORtg Last Month    29.9091
Name: 12997, dtype: object
12998 1374 13 ORtg Last Month    105.692
Name: 12998, dtype: object
12999 1570 13 ORtg Last Month    120.769
Name: 12999, dtype: object
13000 1083 10 ORtg Last Month    108.3
Name: 13000, dtype: object
13001 125 12 ORtg Last Month    10.4167
Name: 13001, dtype: object
13002 1366 13 ORtg Last Month    105.077
Name: 13002, dtype: object
13003 792 13 ORtg Last Month    60.9231
Name: 13003, dtype: object
13004 413 6 ORtg Last Month    68.8333
Name: 13004, dtype: object
13005 386 7 ORtg Last Month    55.1429
Name: 13005, dtype: object
13006 1256 13 ORtg Last Month    96.6154
Name: 13006, dtype: object
13007 888 10 ORtg Last Month    88.8
Name: 13007, dtype: object
13008 401 7 ORtg Last Month    57.2857
Name: 13008, dtype: object
13009 1030 12 ORtg Last Month    85.8333
Name: 13009, dtype: object
13010 901 13 ORtg Last Month    69.3077
Name: 13010, dtype: object
13011 1516 13 ORtg Last Month    116.615
Name: 13011, dtype: object
13012 1118 13 ORtg Last Month    86
Name: 13012, dtype: object
13013 1407 13 ORtg Last Month    108.231
Name: 13013, dtype: object
13014 1569 13 ORtg Last Month    120.692
Name: 13014, dtype: object
13015 1519 13 ORtg Last Month    116.846
Name: 13015, dtype: object
13016 1428 13 ORtg Last Month    109.846
Name: 13016, dtype: object
13017 419 7 ORtg Last Month    59.8571
Name: 13017, dtype: object
13018 1212 11 ORtg Last Month    110.182
Name: 13018, dtype: object
13019 1499 13 ORtg Last Month    115.308
Name: 13019, dtype: object
13020 477 9 ORtg Last Month    53
Name: 13020, dtype: object
13021 1194 11 ORtg Last Month    108.545
Name: 13021, dtype: object
13022 1258 13 ORtg Last Month    96.7692
Name: 13022, dtype: object
13023 1173 11 ORtg Last Month    106.636
Name: 13023, dtype: object
13024 1363 12 ORtg Last Month    113.583
Name: 13024, dtype: object
13025 1122 13 ORtg Last Month    86.3077
Name: 13025, dtype: object
13026 1796 15 ORtg Last Month    119.733
Name: 13026, dtype: object
13027 1309 15 ORtg Last Month    87.2667
Name: 13027, dtype: object
13028 592 15 ORtg Last Month    39.4667
Name: 13028, dtype: object
13029 1892 15 ORtg Last Month    126.133
Name: 13029, dtype: object
13030 1605 13 ORtg Last Month    123.462
Name: 13030, dtype: object

13031 1255 14 ORtg Last Month    89.6429
Name: 13031, dtype: object
13032 1251 15 ORtg Last Month    83.4
Name: 13032, dtype: object
13033 736 15 ORtg Last Month    49.0667
Name: 13033, dtype: object
13034 1518 15 ORtg Last Month    101.2
Name: 13034, dtype: object
13035 1389 15 ORtg Last Month    92.6
Name: 13035, dtype: object
13036 1640 15 ORtg Last Month    109.333
Name: 13036, dtype: object
13037 1573 14 ORtg Last Month    112.357
Name: 13037, dtype: object
13038 1196 14 ORtg Last Month    85.4286
Name: 13038, dtype: object
13039 1590 14 ORtg Last Month    113.571
Name: 13039, dtype: object
13040 1538 14 ORtg Last Month    109.857
Name: 13040, dtype: object
13041 1410 14 ORtg Last Month    100.714
Name: 13041, dtype: object
13042 1055 11 ORtg Last Month    95.9091
Name: 13042, dtype: object
13043 1649 14 ORtg Last Month    117.786
Name: 13043, dtype: object
13044 914 11 ORtg Last Month    83.0909
Name: 13044, dtype: object
13045 1729 14 ORtg Last Month    123.5
Name: 13045, dtype: object
13046 879 12 ORtg Last Month    73.25
Name: 13046, dtype: object
13047 1417 14 ORtg Last Month    101.214
Name: 13047, dtype: object
13048 309 7 ORtg Last Month    44.1429
Name: 13048, dtype: object
13049 1434 13 ORtg Last Month    110.308
Name: 13049, dtype: object
13050 1419 14 ORtg Last Month    101.357
Name: 13050, dtype: object
13051 418 14 ORtg Last Month    29.8571
Name: 13051, dtype: object
13052 1332 11 ORtg Last Month    121.091
Name: 13052, dtype: object
13053 461 5 ORtg Last Month    92.2
Name: 13053, dtype: object
13054 1402 14 ORtg Last Month    100.143
Name: 13054, dtype: object
13055 1371 13 ORtg Last Month    105.462
Name: 13055, dtype: object
13056 1014 14 ORtg Last Month    72.4286
Name: 13056, dtype: object
13057 608 13 ORtg Last Month    46.7692
Name: 13057, dtype: object
13058 1395 13 ORtg Last Month    107.308
Name: 13058, dtype: object
13059 1206 11 ORtg Last Month    109.636
Name: 13059, dtype: object
13060 1061 14 ORtg Last Month    75.7857
Name: 13060, dtype: object
13061 623 7 ORtg Last Month    89
Name: 13061, dtype: object
13062 1250 13 ORtg Last Month    96.1538
Name: 13062, dtype: object
13063 1278 14 ORtg Last Month    91.2857
Name: 13063, dtype: object
13064 1579 14 ORtg Last Month    112.786
Name: 13064, dtype: object
13065 1021 12 ORtg Last Month    85.0833
Name: 13065, dtype: object
13066 1442 13 ORtg Last Month    110.923
Name: 13066, dtype: object
13067 1544 14 ORtg Last Month    110.286
Name: 13067, dtype: object
13068 1705 14 ORtg Last Month    121.786
Name: 13068, dtype: object
13069 1398 14 ORtg Last Month    99.8571
Name: 13069, dtype: object
13070 1193 14 ORtg Last Month    85.2143
Name: 13070, dtype: object
13071 1153 9 ORtg Last Month    128.111
Name: 13071, dtype: object
13072 1743 14 ORtg Last Month    124.5
Name: 13072, dtype: object
13073 1805 14 ORtg Last Month    128.929
Name: 13073, dtype: object
13074 973 13 ORtg Last Month    74.8462
Name: 13074, dtype: object
13075 1368 11 ORtg Last Month    124.364
Name: 13075, dtype: object
13076 1328 13 ORtg Last Month    102.154
Name: 13076, dtype: object
13077 612 11 ORtg Last Month    55.6364
Name: 13077, dtype: object
13078 1345 13 ORtg Last Month    103.462
Name: 13078, dtype: object
13079 445 10 ORtg Last Month    44.5
Name: 13079, dtype: object
13080 1329 13 ORtg Last Month    102.231
Name: 13080, dtype: object
13081 1117 13 ORtg Last Month    85.9231
Name: 13081, dtype: object
13082 1037 11 ORtg Last Month    94.2727
Name: 13082, dtype: object
13083 1470 12 ORtg Last Month    122.5
Name: 13083, dtype: object
13084 1281 11 ORtg Last Month    116.455
Name: 13084, dtype: object
13085 381 4 ORtg Last Month    95.25
Name: 13085, dtype: object
13086 1450 13 ORtg Last Month    111.538
Name: 13086, dtype: object
13087 1423 13 ORtg Last Month    109.462
Name: 13087, dtype: object
13088 968 13 ORtg Last Month    74.4615
Name: 13088, dtype: object
13089 0 2 ORtg Last Month    0
Name: 13089, dtype: object
13090 1138 11 ORtg Last Month    103.455
Name: 13090, dtype: object
13091 1425 11 ORtg Last Month    129.545
Name: 13091, dtype: object
13092 1217 12 ORtg Last Month    101.417
Name: 13092, dtype: object
13093 1369 13 ORtg Last Month    105.308
Name: 13093, dtype: object
13094 1147 13 ORtg Last Month    88.2308
Name: 13094, dtype: object
13095 727 6 ORtg Last Month    121.167
Name: 13095, dtype: object
13096 1582 13 ORtg Last Month    121.692
Name: 13096, dtype: object
13097 708 8 ORtg Last Month    88.5
Name: 13097, dtype: object
13098 1325 13 ORtg Last Month    101.923
Name: 13098, dtype: object
13099 1656 14 ORtg Last Month    118.286
Name: 13099, dtype: object
13100 603 14 ORtg Last Month    43.0714
Name: 13100, dtype: object
13101 1316 14 ORtg Last Month    94
Name: 13101, dtype: object
13102 1623 14 ORtg Last Month    115.929
Name: 13102, dtype: object
13103 1330 14 ORtg Last Month    95
Name: 13103, dtype: object
13104 1868 14 ORtg Last Month    133.429
Name: 13104, dtype: object
13105 93 5 ORtg Last Month    18.6
Name: 13105, dtype: object
13106 1759 14 ORtg Last Month    125.643
Name: 13106, dtype: object
13107 1503 13 ORtg Last Month    115.615
Name: 13107, dtype: object
13108 224 14 ORtg Last Month    16
Name: 13108, dtype: object
13109 1044 10 ORtg Last Month    104.4
Name: 13109, dtype: object
13110 860 8 ORtg Last Month    107.5
Name: 13110, dtype: object
13111 1052 13 ORtg Last Month    80.9231
Name: 13111, dtype: object
13112 538 12 ORtg Last Month    44.8333
Name: 13112, dtype: object
13113 1438 13 ORtg Last Month    110.615
Name: 13113, dtype: object
13114 619 12 ORtg Last Month    51.5833
Name: 13114, dtype: object
13115 1324 13 ORtg Last Month    101.846
Name: 13115, dtype: object
13116 1515 12 ORtg Last Month    126.25
Name: 13116, dtype: object
13117 1165 13 ORtg Last Month    89.6154
Name: 13117, dtype: object
13118 393 10 ORtg Last Month    39.3
Name: 13118, dtype: object
13119 508 13 ORtg Last Month    39.0769
Name: 13119, dtype: object
13120 1014 13 ORtg Last Month    78
Name: 13120, dtype: object
13121 1449 13 ORtg Last Month    111.462
Name: 13121, dtype: object
13122 616 12 ORtg Last Month    51.3333
Name: 13122, dtype: object
13123 0 0 ORtg Last Month    0
Name: 13123, dtype: object
13124 1056 12 ORtg Last Month    88
Name: 13124, dtype: object
13125 1178 13 ORtg Last Month    90.6154
Name: 13125, dtype: object
13126 1497 13 ORtg Last Month    115.154
Name: 13126, dtype: object
13127 1308 12 ORtg Last Month    109
Name: 13127, dtype: object
13128 1012 13 ORtg Last Month    77.8462
Name: 13128, dtype: object
13129 1214 13 ORtg Last Month    93.3846
Name: 13129, dtype: object
13130 589 11 ORtg Last Month    53.5455
Name: 13130, dtype: object
13131 176 5 ORtg Last Month    35.2
Name: 13131, dtype: object
13132 836 13 ORtg Last Month    64.3077
Name: 13132, dtype: object
13133 1359 15 ORtg Last Month    90.6
Name: 13133, dtype: object
13134 1505 14 ORtg Last Month    107.5
Name: 13134, dtype: object
13135 1401 15 ORtg Last Month    93.4
Name: 13135, dtype: object
13136 1213 12 ORtg Last Month    101.083
Name: 13136, dtype: object
13137 1139 12 ORtg Last Month    94.9167
Name: 13137, dtype: object
13138 1570 15 ORtg Last Month    104.667
Name: 13138, dtype: object
13139 878 11 ORtg Last Month    79.8182
Name: 13139, dtype: object
13140 1347 14 ORtg Last Month    96.2143
Name: 13140, dtype: object
13141 2071 15 ORtg Last Month    138.067
Name: 13141, dtype: object
13142 705 5 ORtg Last Month    141
Name: 13142, dtype: object
13143 1213 15 ORtg Last Month    80.8667
Name: 13143, dtype: object
13144 0 0 ORtg Last Month    0
Name: 13144, dtype: object
13145 1217 15 ORtg Last Month    81.1333
Name: 13145, dtype: object
13146 1472 15 ORtg Last Month    98.1333
Name: 13146, dtype: object
13147 1675 15 ORtg Last Month    111.667
Name: 13147, dtype: object
13148 1675 15 ORtg Last Month    111.667
Name: 13148, dtype: object
13149 1669 15 ORtg Last Month    111.267
Name: 13149, dtype: object
13150 1465 15 ORtg Last Month    97.6667
Name: 13150, dtype: object
13151 1728 15 ORtg Last Month    115.2
Name: 13151, dtype: object
13152 1317 13 ORtg Last Month    101.308
Name: 13152, dtype: object
13153 762 9 ORtg Last Month    84.6667
Name: 13153, dtype: object

13154 389 13 ORtg Last Month    29.9231
Name: 13154, dtype: object
13155 1585 15 ORtg Last Month    105.667
Name: 13155, dtype: object
13156 1233 15 ORtg Last Month    82.2
Name: 13156, dtype: object
13157 1472 15 ORtg Last Month    98.1333
Name: 13157, dtype: object
13158 1373 15 ORtg Last Month    91.5333
Name: 13158, dtype: object
13159 346 12 ORtg Last Month    28.8333
Name: 13159, dtype: object
13160 1185 15 ORtg Last Month    79
Name: 13160, dtype: object
13161 948 10 ORtg Last Month    94.8
Name: 13161, dtype: object
13162 835 13 ORtg Last Month    64.2308
Name: 13162, dtype: object
13163 1525 14 ORtg Last Month    108.929
Name: 13163, dtype: object
13164 1522 15 ORtg Last Month    101.467
Name: 13164, dtype: object
13165 1516 14 ORtg Last Month    108.286
Name: 13165, dtype: object
13166 1280 14 ORtg Last Month    91.4286
Name: 13166, dtype: object
13167 1455 14 ORtg Last Month    103.929
Name: 13167, dtype: object
13168 766 7 ORtg Last Month    109.429
Name: 13168, dtype: object
13169 1388 14 ORtg Last Month    99.1429
Name: 13169, dtype: object
13170 1752 14 ORtg Last Month    125.143
Name: 13170, dtype: object
13171 1241 14 ORtg Last Month    88.6429
Name: 13171, dtype: object
13172 1541 14 ORtg Last Month    110.071
Name: 13172, dtype: object
13173 918 14 ORtg Last Month    65.5714
Name: 13173, dtype: object
13174 761 8 ORtg Last Month    95.125
Name: 13174, dtype: object
13175 999 14 ORtg Last Month    71.3571
Name: 13175, dtype: object
13176 1762 13 ORtg Last Month    135.538
Name: 13176, dtype: object
13177 774 14 ORtg Last Month    55.2857
Name: 13177, dtype: object
13178 1530 13 ORtg Last Month    117.692
Name: 13178, dtype: object
13179 1264 14 ORtg Last Month    90.2857
Name: 13179, dtype: object
13180 1492 13 ORtg Last Month    114.769
Name: 13180, dtype: object
13181 1570 14 ORtg Last Month    112.143
Name: 13181, dtype: object
13182 253 4 ORtg Last Month    63.25
Name: 13182, dtype: object
13183 1459 14 ORtg Last Month    104.214
Name: 13183, dtype: object
13184 807 14 ORtg Last Month    57.6429
Name: 13184, dtype: object
13185 864 11 ORtg Last Month    78.5455
Name: 13185, dtype: object
13186 961 13 ORtg Last Month    73.9231
Name: 13186, dtype: object
13187 1360 14 ORtg Last Month    97.1429
Name: 13187, dtype: object
13188 1399 14 ORtg Last Month    99.9286
Name: 13188, dtype: object
13189 997 11 ORtg Last Month    90.6364
Name: 13189, dtype: object
13190 409 9 ORtg Last Month    45.4444
Name: 13190, dtype: object
13191 1355 13 ORtg Last Month    104.231
Name: 13191, dtype: object
13192 1264 12 ORtg Last Month    105.333
Name: 13192, dtype: object
13193 161 11 ORtg Last Month    14.6364
Name: 13193, dtype: object
13194 1337 13 ORtg Last Month    102.846
Name: 13194, dtype: object
13195 1600 13 ORtg Last Month    123.077
Name: 13195, dtype: object
13196 1212 12 ORtg Last Month    101
Name: 13196, dtype: object
13197 1255 12 ORtg Last Month    104.583
Name: 13197, dtype: object
13198 0 0 ORtg Last Month    0
Name: 13198, dtype: object
13199 124 12 ORtg Last Month    10.3333
Name: 13199, dtype: object
13200 948 9 ORtg Last Month    105.333
Name: 13200, dtype: object
13201 1427 13 ORtg Last Month    109.769
Name: 13201, dtype: object
13202 1511 13 ORtg Last Month    116.231
Name: 13202, dtype: object
13203 1556 14 ORtg Last Month    111.143
Name: 13203, dtype: object
13204 228 7 ORtg Last Month    32.5714
Name: 13204, dtype: object
13205 0 3 ORtg Last Month    0
Name: 13205, dtype: object
13206 1458 14 ORtg Last Month    104.143
Name: 13206, dtype: object
13207 133 14 ORtg Last Month    9.5
Name: 13207, dtype: object
13208 1767 14 ORtg Last Month    126.214
Name: 13208, dtype: object
13209 1302 14 ORtg Last Month    93
Name: 13209, dtype: object
13210 687 14 ORtg Last Month    49.0714
Name: 13210, dtype: object
13211 0 0 ORtg Last Month    0
Name: 13211, dtype: object
13212 98 14 ORtg Last Month    7
Name: 13212, dtype: object
13213 1636 14 ORtg Last Month    116.857
Name: 13213, dtype: object
13214 1693 13 ORtg Last Month    130.231
Name: 13214, dtype: object
13215 1578 14 ORtg Last Month    112.714
Name: 13215, dtype: object
13216 90 1 ORtg Last Month    90
Name: 13216, dtype: object
13217 1562 14 ORtg Last Month    111.571
Name: 13217, dtype: object
13218 346 10 ORtg Last Month    34.6
Name: 13218, dtype: object
13219 1652 14 ORtg Last Month    118
Name: 13219, dtype: object
13220 637 9 ORtg Last Month    70.7778
Name: 13220, dtype: object
13221 1159 12 ORtg Last Month    96.5833
Name: 13221, dtype: object
13222 1415 13 ORtg Last Month    108.846
Name: 13222, dtype: object
13223 1521 14 ORtg Last Month    108.643
Name: 13223, dtype: object
13224 212 12 ORtg Last Month    17.6667
Name: 13224, dtype: object
13225 1551 13 ORtg Last Month    119.308
Name: 13225, dtype: object
13226 1511 13 ORtg Last Month    116.231
Name: 13226, dtype: object
13227 1022 13 ORtg Last Month    78.6154
Name: 13227, dtype: object
13228 673 13 ORtg Last Month    51.7692
Name: 13228, dtype: object
13229 1399 15 ORtg Last Month    93.2667
Name: 13229, dtype: object
13230 1306 14 ORtg Last Month    93.2857
Name: 13230, dtype: object
13231 376 14 ORtg Last Month    26.8571
Name: 13231, dtype: object
13232 1748 15 ORtg Last Month    116.533
Name: 13232, dtype: object
13233 1827 15 ORtg Last Month    121.8
Name: 13233, dtype: object
13234 609 15 ORtg Last Month    40.6
Name: 13234, dtype: object
13235 1685 15 ORtg Last Month    112.333
Name: 13235, dtype: object
13236 1242 15 ORtg Last Month    82.8
Name: 13236, dtype: object
13237 0 0 ORtg Last Month    0
Name: 13237, dtype: object
13238 1906 15 ORtg Last Month    127.067
Name: 13238, dtype: object
13239 1361 15 ORtg Last Month    90.7333
Name: 13239, dtype: object
13240 1360 15 ORtg Last Month    90.6667
Name: 13240, dtype: object
13241 1465 12 ORtg Last Month    122.083
Name: 13241, dtype: object
13242 1150 12 ORtg Last Month    95.8333
Name: 13242, dtype: object
13243 180 1 ORtg Last Month    180
Name: 13243, dtype: object
13244 595 11 ORtg Last Month    54.0909
Name: 13244, dtype: object
13245 1338 13 ORtg Last Month    102.923
Name: 13245, dtype: object
13246 1304 13 ORtg Last Month    100.308
Name: 13246, dtype: object
13247 1198 12 ORtg Last Month    99.8333
Name: 13247, dtype: object
13248 1275 13 ORtg Last Month    98.0769
Name: 13248, dtype: object
13249 1279 12 ORtg Last Month    106.583
Name: 13249, dtype: object
13250 1009 13 ORtg Last Month    77.6154
Name: 13250, dtype: object
13251 525 12 ORtg Last Month    43.75
Name: 13251, dtype: object
13252 673 11 ORtg Last Month    61.1818
Name: 13252, dtype: object
13253 1541 13 ORtg Last Month    118.538
Name: 13253, dtype: object
13254 1506 13 ORtg Last Month    115.846
Name: 13254, dtype: object
13255 1537 13 ORtg Last Month    118.231
Name: 13255, dtype: object
13256 419 7 ORtg Last Month    59.8571
Name: 13256, dtype: object
13257 1519 13 ORtg Last Month    116.846
Name: 13257, dtype: object
13258 1169 13 ORtg Last Month    89.9231
Name: 13258, dtype: object
13259 649 10 ORtg Last Month    64.9
Name: 13259, dtype: object
13260 1204 11 ORtg Last Month    109.455
Name: 13260, dtype: object
13261 1326 12 ORtg Last Month    110.5
Name: 13261, dtype: object
13262 1095 13 ORtg Last Month    84.2308
Name: 13262, dtype: object
13263 1055 9 ORtg Last Month    117.222
Name: 13263, dtype: object
13264 1297 15 ORtg Last Month    86.4667
Name: 13264, dtype: object
13265 509 10 ORtg Last Month    50.9
Name: 13265, dtype: object
13266 735 15 ORtg Last Month    49
Name: 13266, dtype: object
13267 924 13 ORtg Last Month    71.0769
Name: 13267, dtype: object
13268 1250 15 ORtg Last Month    83.3333
Name: 13268, dtype: object
13269 1765 15 ORtg Last Month    117.667
Name: 13269, dtype: object
13270 1327 12 ORtg Last Month    110.583
Name: 13270, dtype: object
13271 1418 13 ORtg Last Month    109.077
Name: 13271, dtype: object
13272 1851 15 ORtg Last Month    123.4
Name: 13272, dtype: object
13273 2093 14 ORtg Last Month    149.5
Name: 13273, dtype: object
13274 424 15 ORtg Last Month    28.2667
Name: 13274, dtype: object
13275 100 10 ORtg Last Month    10
Name: 13275, dtype: object
13276 1642 14 ORtg Last Month    117.286
Name: 13276, dtype: object
13277 1472 14 ORtg Last Month    105.143
Name: 13277, dtype: object

13278 779 7 ORtg Last Month    111.286
Name: 13278, dtype: object
13279 420 10 ORtg Last Month    42
Name: 13279, dtype: object
13280 1583 13 ORtg Last Month    121.769
Name: 13280, dtype: object
13281 1203 13 ORtg Last Month    92.5385
Name: 13281, dtype: object
13282 408 4 ORtg Last Month    102
Name: 13282, dtype: object
13283 1017 11 ORtg Last Month    92.4545
Name: 13283, dtype: object
13284 2012 14 ORtg Last Month    143.714
Name: 13284, dtype: object
13285 857 14 ORtg Last Month    61.2143
Name: 13285, dtype: object
13286 1252 12 ORtg Last Month    104.333
Name: 13286, dtype: object
13287 128 1 ORtg Last Month    128
Name: 13287, dtype: object
13288 1401 12 ORtg Last Month    116.75
Name: 13288, dtype: object
13289 1470 12 ORtg Last Month    122.5
Name: 13289, dtype: object
13290 384 9 ORtg Last Month    42.6667
Name: 13290, dtype: object
13291 1555 12 ORtg Last Month    129.583
Name: 13291, dtype: object
13292 1284 12 ORtg Last Month    107
Name: 13292, dtype: object
13293 1147 12 ORtg Last Month    95.5833
Name: 13293, dtype: object
13294 471 12 ORtg Last Month    39.25
Name: 13294, dtype: object
13295 1391 12 ORtg Last Month    115.917
Name: 13295, dtype: object
13296 1330 12 ORtg Last Month    110.833
Name: 13296, dtype: object
13297 465 4 ORtg Last Month    116.25
Name: 13297, dtype: object
13298 1294 13 ORtg Last Month    99.5385
Name: 13298, dtype: object
13299 1547 13 ORtg Last Month    119
Name: 13299, dtype: object
13300 1203 12 ORtg Last Month    100.25
Name: 13300, dtype: object
13301 799 13 ORtg Last Month    61.4615
Name: 13301, dtype: object
13302 1494 13 ORtg Last Month    114.923
Name: 13302, dtype: object
13303 1318 11 ORtg Last Month    119.818
Name: 13303, dtype: object
13304 1599 13 ORtg Last Month    123
Name: 13304, dtype: object
13305 1036 11 ORtg Last Month    94.1818
Name: 13305, dtype: object
13306 1805 13 ORtg Last Month    138.846
Name: 13306, dtype: object
13307 995 13 ORtg Last Month    76.5385
Name: 13307, dtype: object
13308 1549 13 ORtg Last Month    119.154
Name: 13308, dtype: object
13309 1603 13 ORtg Last Month    123.308
Name: 13309, dtype: object
13310 911 9 ORtg Last Month    101.222
Name: 13310, dtype: object
13311 289 9 ORtg Last Month    32.1111
Name: 13311, dtype: object
13312 303 12 ORtg Last Month    25.25
Name: 13312, dtype: object
13313 1403 13 ORtg Last Month    107.923
Name: 13313, dtype: object
13314 1581 13 ORtg Last Month    121.615
Name: 13314, dtype: object
13315 1356 13 ORtg Last Month    104.308
Name: 13315, dtype: object
13316 404 3 ORtg Last Month    134.667
Name: 13316, dtype: object
13317 601 12 ORtg Last Month    50.0833
Name: 13317, dtype: object
13318 1554 13 ORtg Last Month    119.538
Name: 13318, dtype: object
13319 1429 13 ORtg Last Month    109.923
Name: 13319, dtype: object
13320 0 10 ORtg Last Month    0
Name: 13320, dtype: object
13321 1643 15 ORtg Last Month    109.533
Name: 13321, dtype: object
13322 1399 15 ORtg Last Month    93.2667
Name: 13322, dtype: object
13323 1704 15 ORtg Last Month    113.6
Name: 13323, dtype: object
13324 1637 15 ORtg Last Month    109.133
Name: 13324, dtype: object
13325 1498 15 ORtg Last Month    99.8667
Name: 13325, dtype: object
13326 1737 15 ORtg Last Month    115.8
Name: 13326, dtype: object
13327 1151 12 ORtg Last Month    95.9167
Name: 13327, dtype: object
13328 914 12 ORtg Last Month    76.1667
Name: 13328, dtype: object
13329 1794 15 ORtg Last Month    119.6
Name: 13329, dtype: object
13330 979 13 ORtg Last Month    75.3077
Name: 13330, dtype: object
13331 1492 15 ORtg Last Month    99.4667
Name: 13331, dtype: object
13332 309 8 ORtg Last Month    38.625
Name: 13332, dtype: object
13333 1611 15 ORtg Last Month    107.4
Name: 13333, dtype: object
13334 1482 15 ORtg Last Month    98.8
Name: 13334, dtype: object
13335 1599 15 ORtg Last Month    106.6
Name: 13335, dtype: object
13336 0 1 ORtg Last Month    0
Name: 13336, dtype: object
13337 1698 15 ORtg Last Month    113.2
Name: 13337, dtype: object
13338 1561 14 ORtg Last Month    111.5
Name: 13338, dtype: object
13339 1889 13 ORtg Last Month    145.308
Name: 13339, dtype: object
13340 1715 15 ORtg Last Month    114.333
Name: 13340, dtype: object
13341 1258 14 ORtg Last Month    89.8571
Name: 13341, dtype: object
13342 963 15 ORtg Last Month    64.2
Name: 13342, dtype: object
13343 1831 15 ORtg Last Month    122.067
Name: 13343, dtype: object
13344 1939 15 ORtg Last Month    129.267
Name: 13344, dtype: object
13345 0 3 ORtg Last Month    0
Name: 13345, dtype: object
13346 1376 14 ORtg Last Month    98.2857
Name: 13346, dtype: object
13347 1504 13 ORtg Last Month    115.692
Name: 13347, dtype: object
13348 418 14 ORtg Last Month    29.8571
Name: 13348, dtype: object
13349 549 7 ORtg Last Month    78.4286
Name: 13349, dtype: object
13350 1363 11 ORtg Last Month    123.909
Name: 13350, dtype: object
13351 588 6 ORtg Last Month    98
Name: 13351, dtype: object
13352 1349 13 ORtg Last Month    103.769
Name: 13352, dtype: object
13353 1455 14 ORtg Last Month    103.929
Name: 13353, dtype: object
13354 1149 14 ORtg Last Month    82.0714
Name: 13354, dtype: object
13355 1426 13 ORtg Last Month    109.692
Name: 13355, dtype: object
13356 1166 11 ORtg Last Month    106
Name: 13356, dtype: object
13357 1177 14 ORtg Last Month    84.0714
Name: 13357, dtype: object
13358 623 8 ORtg Last Month    77.875
Name: 13358, dtype: object
13359 1329 13 ORtg Last Month    102.231
Name: 13359, dtype: object
13360 1343 11 ORtg Last Month    122.091
Name: 13360, dtype: object
13361 612 12 ORtg Last Month    51
Name: 13361, dtype: object
13362 1317 13 ORtg Last Month    101.308
Name: 13362, dtype: object
13363 1335 13 ORtg Last Month    102.692
Name: 13363, dtype: object
13364 552 11 ORtg Last Month    50.1818
Name: 13364, dtype: object
13365 994 13 ORtg Last Month    76.4615
Name: 13365, dtype: object
13366 1158 11 ORtg Last Month    105.273
Name: 13366, dtype: object
13367 1453 12 ORtg Last Month    121.083
Name: 13367, dtype: object
13368 1272 11 ORtg Last Month    115.636
Name: 13368, dtype: object
13369 1543 14 ORtg Last Month    110.214
Name: 13369, dtype: object
13370 1578 14 ORtg Last Month    112.714
Name: 13370, dtype: object
13371 968 14 ORtg Last Month    69.1429
Name: 13371, dtype: object
13372 0 3 ORtg Last Month    0
Name: 13372, dtype: object
13373 1292 12 ORtg Last Month    107.667
Name: 13373, dtype: object
13374 1292 13 ORtg Last Month    99.3846
Name: 13374, dtype: object
13375 1450 14 ORtg Last Month    103.571
Name: 13375, dtype: object
13376 1282 14 ORtg Last Month    91.5714
Name: 13376, dtype: object
13377 874 7 ORtg Last Month    124.857
Name: 13377, dtype: object
13378 1771 14 ORtg Last Month    126.5
Name: 13378, dtype: object
13379 812 9 ORtg Last Month    90.2222
Name: 13379, dtype: object
13380 1346 13 ORtg Last Month    103.538
Name: 13380, dtype: object
13381 1646 14 ORtg Last Month    117.571
Name: 13381, dtype: object
13382 603 14 ORtg Last Month    43.0714
Name: 13382, dtype: object
13383 1743 14 ORtg Last Month    124.5
Name: 13383, dtype: object
13384 1404 14 ORtg Last Month    100.286
Name: 13384, dtype: object
13385 1348 14 ORtg Last Month    96.2857
Name: 13385, dtype: object
13386 0 0 ORtg Last Month    0
Name: 13386, dtype: object
13387 1877 14 ORtg Last Month    134.071
Name: 13387, dtype: object
13388 1798 14 ORtg Last Month    128.429
Name: 13388, dtype: object
13389 1590 13 ORtg Last Month    122.308
Name: 13389, dtype: object
13390 224 14 ORtg Last Month    16
Name: 13390, dtype: object
13391 1146 11 ORtg Last Month    104.182
Name: 13391, dtype: object
13392 884 8 ORtg Last Month    110.5
Name: 13392, dtype: object
13393 616 12 ORtg Last Month    51.3333
Name: 13393, dtype: object
13394 1054 13 ORtg Last Month    81.0769
Name: 13394, dtype: object
13395 1542 13 ORtg Last Month    118.615
Name: 13395, dtype: object
13396 111 4 ORtg Last Month    27.75
Name: 13396, dtype: object
13397 1351 13 ORtg Last Month    103.923
Name: 13397, dtype: object
13398 316 10 ORtg Last Month    31.6
Name: 13398, dtype: object
13399 1519 12 ORtg Last Month    126.583
Name: 13399, dtype: object
13400 1105 13 ORtg Last Month    85
Name: 13400, dtype: object
13401 633 13 ORtg Last Month    48.6923
Name: 13401, dtype: object

13402 1407 15 ORtg Last Month    93.8
Name: 13402, dtype: object
13403 1331 15 ORtg Last Month    88.7333
Name: 13403, dtype: object
13404 1511 14 ORtg Last Month    107.929
Name: 13404, dtype: object
13405 1189 12 ORtg Last Month    99.0833
Name: 13405, dtype: object
13406 1580 15 ORtg Last Month    105.333
Name: 13406, dtype: object
13407 112 1 ORtg Last Month    112
Name: 13407, dtype: object
13408 996 12 ORtg Last Month    83
Name: 13408, dtype: object
13409 2004 15 ORtg Last Month    133.6
Name: 13409, dtype: object
13410 676 5 ORtg Last Month    135.2
Name: 13410, dtype: object
13411 1213 15 ORtg Last Month    80.8667
Name: 13411, dtype: object
13412 1464 15 ORtg Last Month    97.6
Name: 13412, dtype: object
13413 1296 15 ORtg Last Month    86.4
Name: 13413, dtype: object
13414 1663 15 ORtg Last Month    110.867
Name: 13414, dtype: object
13415 1715 15 ORtg Last Month    114.333
Name: 13415, dtype: object
13416 1582 15 ORtg Last Month    105.467
Name: 13416, dtype: object
13417 1732 15 ORtg Last Month    115.467
Name: 13417, dtype: object
13418 1551 15 ORtg Last Month    103.4
Name: 13418, dtype: object
13419 897 10 ORtg Last Month    89.7
Name: 13419, dtype: object
13420 463 13 ORtg Last Month    35.6154
Name: 13420, dtype: object
13421 1305 13 ORtg Last Month    100.385
Name: 13421, dtype: object
13422 1063 10 ORtg Last Month    106.3
Name: 13422, dtype: object
13423 1341 13 ORtg Last Month    103.154
Name: 13423, dtype: object
13424 1642 13 ORtg Last Month    126.308
Name: 13424, dtype: object
13425 725 12 ORtg Last Month    60.4167
Name: 13425, dtype: object
13426 1556 13 ORtg Last Month    119.692
Name: 13426, dtype: object
13427 1507 13 ORtg Last Month    115.923
Name: 13427, dtype: object
13428 979 10 ORtg Last Month    97.9
Name: 13428, dtype: object
13429 1359 13 ORtg Last Month    104.538
Name: 13429, dtype: object
13430 1421 12 ORtg Last Month    118.417
Name: 13430, dtype: object
13431 1504 13 ORtg Last Month    115.692
Name: 13431, dtype: object
13432 433 12 ORtg Last Month    36.0833
Name: 13432, dtype: object
13433 1696 14 ORtg Last Month    121.143
Name: 13433, dtype: object
13434 1454 14 ORtg Last Month    103.857
Name: 13434, dtype: object
13435 1071 14 ORtg Last Month    76.5
Name: 13435, dtype: object
13436 1292 14 ORtg Last Month    92.2857
Name: 13436, dtype: object
13437 1788 14 ORtg Last Month    127.714
Name: 13437, dtype: object
13438 1574 14 ORtg Last Month    112.429
Name: 13438, dtype: object
13439 1187 14 ORtg Last Month    84.7857
Name: 13439, dtype: object
13440 701 14 ORtg Last Month    50.0714
Name: 13440, dtype: object
13441 922 14 ORtg Last Month    65.8571
Name: 13441, dtype: object
13442 1676 14 ORtg Last Month    119.714
Name: 13442, dtype: object
13443 0 0 ORtg Last Month    0
Name: 13443, dtype: object
13444 1335 14 ORtg Last Month    95.3571
Name: 13444, dtype: object
13445 840 8 ORtg Last Month    105
Name: 13445, dtype: object
13446 1461 15 ORtg Last Month    97.4
Name: 13446, dtype: object
13447 1531 15 ORtg Last Month    102.067
Name: 13447, dtype: object
13448 328 9 ORtg Last Month    36.4444
Name: 13448, dtype: object
13449 1882 15 ORtg Last Month    125.467
Name: 13449, dtype: object
13450 1304 15 ORtg Last Month    86.9333
Name: 13450, dtype: object
13451 147 2 ORtg Last Month    73.5
Name: 13451, dtype: object
13452 1008 15 ORtg Last Month    67.2
Name: 13452, dtype: object
13453 843 9 ORtg Last Month    93.6667
Name: 13453, dtype: object
13454 1145 15 ORtg Last Month    76.3333
Name: 13454, dtype: object
13455 1957 14 ORtg Last Month    139.786
Name: 13455, dtype: object
13456 774 15 ORtg Last Month    51.6
Name: 13456, dtype: object
13457 1498 14 ORtg Last Month    107
Name: 13457, dtype: object
13458 1651 14 ORtg Last Month    117.929
Name: 13458, dtype: object
13459 292 7 ORtg Last Month    41.7143
Name: 13459, dtype: object
13460 1366 15 ORtg Last Month    91.0667
Name: 13460, dtype: object
13461 1672 15 ORtg Last Month    111.467
Name: 13461, dtype: object
13462 1550 15 ORtg Last Month    103.333
Name: 13462, dtype: object
13463 372 5 ORtg Last Month    74.4
Name: 13463, dtype: object
13464 864 12 ORtg Last Month    72
Name: 13464, dtype: object
13465 1495 15 ORtg Last Month    99.6667
Name: 13465, dtype: object
13466 1520 15 ORtg Last Month    101.333
Name: 13466, dtype: object
13467 1208 12 ORtg Last Month    100.667
Name: 13467, dtype: object
13468 409 10 ORtg Last Month    40.9
Name: 13468, dtype: object
13469 1254 12 ORtg Last Month    104.5
Name: 13469, dtype: object
13470 1043 12 ORtg Last Month    86.9167
Name: 13470, dtype: object
13471 1372 13 ORtg Last Month    105.538
Name: 13471, dtype: object
13472 73 11 ORtg Last Month    6.63636
Name: 13472, dtype: object
13473 1398 13 ORtg Last Month    107.538
Name: 13473, dtype: object
13474 1271 12 ORtg Last Month    105.917
Name: 13474, dtype: object
13475 1749 13 ORtg Last Month    134.538
Name: 13475, dtype: object
13476 1293 12 ORtg Last Month    107.75
Name: 13476, dtype: object
13477 103 1 ORtg Last Month    103
Name: 13477, dtype: object
13478 124 12 ORtg Last Month    10.3333
Name: 13478, dtype: object
13479 920 9 ORtg Last Month    102.222
Name: 13479, dtype: object
13480 1456 13 ORtg Last Month    112
Name: 13480, dtype: object
13481 1659 13 ORtg Last Month    127.615
Name: 13481, dtype: object
13482 1522 14 ORtg Last Month    108.714
Name: 13482, dtype: object
13483 1242 11 ORtg Last Month    112.909
Name: 13483, dtype: object
13484 1292 13 ORtg Last Month    99.3846
Name: 13484, dtype: object
13485 1500 14 ORtg Last Month    107.143
Name: 13485, dtype: object
13486 1183 13 ORtg Last Month    91
Name: 13486, dtype: object
13487 329 12 ORtg Last Month    27.4167
Name: 13487, dtype: object
13488 1600 14 ORtg Last Month    114.286
Name: 13488, dtype: object
13489 1369 14 ORtg Last Month    97.7857
Name: 13489, dtype: object
13490 519 5 ORtg Last Month    103.8
Name: 13490, dtype: object
13491 1153 11 ORtg Last Month    104.818
Name: 13491, dtype: object
13492 1516 14 ORtg Last Month    108.286
Name: 13492, dtype: object
13493 246 12 ORtg Last Month    20.5
Name: 13493, dtype: object
13494 1663 14 ORtg Last Month    118.786
Name: 13494, dtype: object
13495 527 6 ORtg Last Month    87.8333
Name: 13495, dtype: object
13496 1576 14 ORtg Last Month    112.571
Name: 13496, dtype: object
13497 247 8 ORtg Last Month    30.875
Name: 13497, dtype: object
13498 44 4 ORtg Last Month    11
Name: 13498, dtype: object
13499 1476 14 ORtg Last Month    105.429
Name: 13499, dtype: object
13500 234 14 ORtg Last Month    16.7143
Name: 13500, dtype: object
13501 1366 14 ORtg Last Month    97.5714
Name: 13501, dtype: object
13502 1736 14 ORtg Last Month    124
Name: 13502, dtype: object
13503 687 14 ORtg Last Month    49.0714
Name: 13503, dtype: object
13504 98 14 ORtg Last Month    7
Name: 13504, dtype: object
13505 1654 14 ORtg Last Month    118.143
Name: 13505, dtype: object
13506 1649 13 ORtg Last Month    126.846
Name: 13506, dtype: object
13507 1709 14 ORtg Last Month    122.071
Name: 13507, dtype: object
13508 1353 13 ORtg Last Month    104.077
Name: 13508, dtype: object
13509 386 8 ORtg Last Month    48.25
Name: 13509, dtype: object
13510 449 6 ORtg Last Month    74.8333
Name: 13510, dtype: object
13511 972 13 ORtg Last Month    74.7692
Name: 13511, dtype: object
13512 833 10 ORtg Last Month    83.3
Name: 13512, dtype: object
13513 1286 13 ORtg Last Month    98.9231
Name: 13513, dtype: object
13514 801 13 ORtg Last Month    61.6154
Name: 13514, dtype: object
13515 401 8 ORtg Last Month    50.125
Name: 13515, dtype: object
13516 873 12 ORtg Last Month    72.75
Name: 13516, dtype: object
13517 1545 13 ORtg Last Month    118.846
Name: 13517, dtype: object
13518 1420 13 ORtg Last Month    109.231
Name: 13518, dtype: object
13519 1301 13 ORtg Last Month    100.077
Name: 13519, dtype: object
13520 1382 15 ORtg Last Month    92.1333
Name: 13520, dtype: object
13521 1296 14 ORtg Last Month    92.5714
Name: 13521, dtype: object
13522 280 14 ORtg Last Month    20
Name: 13522, dtype: object
13523 1764 15 ORtg Last Month    117.6
Name: 13523, dtype: object
13524 1792 15 ORtg Last Month    119.467
Name: 13524, dtype: object
13525 1561 15 ORtg Last Month    104.067
Name: 13525, dtype: object

13526 1258 15 ORtg Last Month    83.8667
Name: 13526, dtype: object
13527 774 15 ORtg Last Month    51.6
Name: 13527, dtype: object
13528 1846 15 ORtg Last Month    123.067
Name: 13528, dtype: object
13529 1363 15 ORtg Last Month    90.8667
Name: 13529, dtype: object
13530 1361 15 ORtg Last Month    90.7333
Name: 13530, dtype: object
13531 1484 12 ORtg Last Month    123.667
Name: 13531, dtype: object
13532 1206 12 ORtg Last Month    100.5
Name: 13532, dtype: object
13533 817 11 ORtg Last Month    74.2727
Name: 13533, dtype: object
13534 1228 12 ORtg Last Month    102.333
Name: 13534, dtype: object
13535 1339 13 ORtg Last Month    103
Name: 13535, dtype: object
13536 916 10 ORtg Last Month    91.6
Name: 13536, dtype: object
13537 1180 13 ORtg Last Month    90.7692
Name: 13537, dtype: object
13538 1293 13 ORtg Last Month    99.4615
Name: 13538, dtype: object
13539 1277 12 ORtg Last Month    106.417
Name: 13539, dtype: object
13540 1051 13 ORtg Last Month    80.8462
Name: 13540, dtype: object
13541 673 11 ORtg Last Month    61.1818
Name: 13541, dtype: object
13542 586 12 ORtg Last Month    48.8333
Name: 13542, dtype: object
13543 1186 10 ORtg Last Month    118.6
Name: 13543, dtype: object
13544 841 13 ORtg Last Month    64.6923
Name: 13544, dtype: object
13545 1233 15 ORtg Last Month    82.2
Name: 13545, dtype: object
13546 567 10 ORtg Last Month    56.7
Name: 13546, dtype: object
13547 712 15 ORtg Last Month    47.4667
Name: 13547, dtype: object
13548 1412 13 ORtg Last Month    108.615
Name: 13548, dtype: object
13549 1749 15 ORtg Last Month    116.6
Name: 13549, dtype: object
13550 1266 15 ORtg Last Month    84.4
Name: 13550, dtype: object
13551 1349 13 ORtg Last Month    103.769
Name: 13551, dtype: object
13552 2172 14 ORtg Last Month    155.143
Name: 13552, dtype: object
13553 1860 15 ORtg Last Month    124
Name: 13553, dtype: object
13554 248 15 ORtg Last Month    16.5333
Name: 13554, dtype: object
13555 0 8 ORtg Last Month    0
Name: 13555, dtype: object
13556 1652 14 ORtg Last Month    118
Name: 13556, dtype: object
13557 1349 14 ORtg Last Month    96.3571
Name: 13557, dtype: object
13558 135 1 ORtg Last Month    135
Name: 13558, dtype: object
13559 1684 14 ORtg Last Month    120.286
Name: 13559, dtype: object
13560 1241 14 ORtg Last Month    88.6429
Name: 13560, dtype: object
13561 1489 12 ORtg Last Month    124.083
Name: 13561, dtype: object
13562 736 14 ORtg Last Month    52.5714
Name: 13562, dtype: object
13563 1095 14 ORtg Last Month    78.2143
Name: 13563, dtype: object
13564 1444 14 ORtg Last Month    103.143
Name: 13564, dtype: object
13565 1441 14 ORtg Last Month    102.929
Name: 13565, dtype: object
13566 1274 14 ORtg Last Month    91
Name: 13566, dtype: object
13567 1159 13 ORtg Last Month    89.1538
Name: 13567, dtype: object
13568 1104 12 ORtg Last Month    92
Name: 13568, dtype: object
13569 1433 13 ORtg Last Month    110.231
Name: 13569, dtype: object
13570 653 11 ORtg Last Month    59.3636
Name: 13570, dtype: object
13571 1377 13 ORtg Last Month    105.923
Name: 13571, dtype: object
13572 1349 12 ORtg Last Month    112.417
Name: 13572, dtype: object
13573 1319 13 ORtg Last Month    101.462
Name: 13573, dtype: object
13574 1127 13 ORtg Last Month    86.6923
Name: 13574, dtype: object
13575 1653 13 ORtg Last Month    127.154
Name: 13575, dtype: object
13576 965 9 ORtg Last Month    107.222
Name: 13576, dtype: object
13577 1711 13 ORtg Last Month    131.615
Name: 13577, dtype: object
13578 1631 13 ORtg Last Month    125.462
Name: 13578, dtype: object
13579 759 12 ORtg Last Month    63.25
Name: 13579, dtype: object
13580 1465 14 ORtg Last Month    104.643
Name: 13580, dtype: object
13581 1666 14 ORtg Last Month    119
Name: 13581, dtype: object
13582 871 8 ORtg Last Month    108.875
Name: 13582, dtype: object
13583 420 10 ORtg Last Month    42
Name: 13583, dtype: object
13584 1202 13 ORtg Last Month    92.4615
Name: 13584, dtype: object
13585 359 4 ORtg Last Month    89.75
Name: 13585, dtype: object
13586 1688 13 ORtg Last Month    129.846
Name: 13586, dtype: object
13587 1113 12 ORtg Last Month    92.75
Name: 13587, dtype: object
13588 787 14 ORtg Last Month    56.2143
Name: 13588, dtype: object
13589 2021 14 ORtg Last Month    144.357
Name: 13589, dtype: object
13590 270 5 ORtg Last Month    54
Name: 13590, dtype: object
13591 1424 13 ORtg Last Month    109.538
Name: 13591, dtype: object
13592 1476 13 ORtg Last Month    113.538
Name: 13592, dtype: object
13593 1438 13 ORtg Last Month    110.615
Name: 13593, dtype: object
13594 680 12 ORtg Last Month    56.6667
Name: 13594, dtype: object
13595 1075 13 ORtg Last Month    82.6923
Name: 13595, dtype: object
13596 1255 13 ORtg Last Month    96.5385
Name: 13596, dtype: object
13597 1072 12 ORtg Last Month    89.3333
Name: 13597, dtype: object
13598 989 13 ORtg Last Month    76.0769
Name: 13598, dtype: object
13599 1492 14 ORtg Last Month    106.571
Name: 13599, dtype: object
13600 1456 15 ORtg Last Month    97.0667
Name: 13600, dtype: object
13601 1276 15 ORtg Last Month    85.0667
Name: 13601, dtype: object
13602 1208 12 ORtg Last Month    100.667
Name: 13602, dtype: object
13603 1545 15 ORtg Last Month    103
Name: 13603, dtype: object
13604 1140 12 ORtg Last Month    95
Name: 13604, dtype: object
13605 155 2 ORtg Last Month    77.5
Name: 13605, dtype: object
13606 1222 12 ORtg Last Month    101.833
Name: 13606, dtype: object
13607 606 5 ORtg Last Month    121.2
Name: 13607, dtype: object
13608 1943 15 ORtg Last Month    129.533
Name: 13608, dtype: object
13609 1270 15 ORtg Last Month    84.6667
Name: 13609, dtype: object
13610 1395 15 ORtg Last Month    93
Name: 13610, dtype: object
13611 1520 15 ORtg Last Month    101.333
Name: 13611, dtype: object
13612 1674 15 ORtg Last Month    111.6
Name: 13612, dtype: object
13613 275 11 ORtg Last Month    25
Name: 13613, dtype: object
13614 1764 15 ORtg Last Month    117.6
Name: 13614, dtype: object
13615 1521 15 ORtg Last Month    101.4
Name: 13615, dtype: object
13616 1526 15 ORtg Last Month    101.733
Name: 13616, dtype: object
13617 1885 15 ORtg Last Month    125.667
Name: 13617, dtype: object
13618 1245 13 ORtg Last Month    95.7692
Name: 13618, dtype: object
13619 463 14 ORtg Last Month    33.0714
Name: 13619, dtype: object
13620 1398 12 ORtg Last Month    116.5
Name: 13620, dtype: object
13621 507 4 ORtg Last Month    126.75
Name: 13621, dtype: object
13622 236 2 ORtg Last Month    118
Name: 13622, dtype: object
13623 1267 12 ORtg Last Month    105.583
Name: 13623, dtype: object
13624 1334 12 ORtg Last Month    111.167
Name: 13624, dtype: object
13625 1139 12 ORtg Last Month    94.9167
Name: 13625, dtype: object
13626 1248 12 ORtg Last Month    104
Name: 13626, dtype: object
13627 1393 12 ORtg Last Month    116.083
Name: 13627, dtype: object
13628 1392 12 ORtg Last Month    116
Name: 13628, dtype: object
13629 1608 12 ORtg Last Month    134
Name: 13629, dtype: object
13630 1364 14 ORtg Last Month    97.4286
Name: 13630, dtype: object
13631 1506 14 ORtg Last Month    107.571
Name: 13631, dtype: object
13632 1429 14 ORtg Last Month    102.071
Name: 13632, dtype: object
13633 1234 14 ORtg Last Month    88.1429
Name: 13633, dtype: object
13634 255 12 ORtg Last Month    21.25
Name: 13634, dtype: object
13635 1104 10 ORtg Last Month    110.4
Name: 13635, dtype: object
13636 794 12 ORtg Last Month    66.1667
Name: 13636, dtype: object
13637 1249 14 ORtg Last Month    89.2143
Name: 13637, dtype: object
13638 1440 13 ORtg Last Month    110.769
Name: 13638, dtype: object
13639 1450 14 ORtg Last Month    103.571
Name: 13639, dtype: object
13640 1320 13 ORtg Last Month    101.538
Name: 13640, dtype: object
13641 1494 13 ORtg Last Month    114.923
Name: 13641, dtype: object
13642 1321 13 ORtg Last Month    101.615
Name: 13642, dtype: object
13643 780 13 ORtg Last Month    60
Name: 13643, dtype: object
13644 1227 12 ORtg Last Month    102.25
Name: 13644, dtype: object
13645 1469 13 ORtg Last Month    113
Name: 13645, dtype: object
13646 1349 11 ORtg Last Month    122.636
Name: 13646, dtype: object
13647 1699 13 ORtg Last Month    130.692
Name: 13647, dtype: object
13648 1142 12 ORtg Last Month    95.1667
Name: 13648, dtype: object
13649 1773 13 ORtg Last Month    136.385
Name: 13649, dtype: object

13650 1493 13 ORtg Last Month    114.846
Name: 13650, dtype: object
13651 1081 13 ORtg Last Month    83.1538
Name: 13651, dtype: object
13652 1724 14 ORtg Last Month    123.143
Name: 13652, dtype: object
13653 934 9 ORtg Last Month    103.778
Name: 13653, dtype: object
13654 411 10 ORtg Last Month    41.1
Name: 13654, dtype: object
13655 303 13 ORtg Last Month    23.3077
Name: 13655, dtype: object
13656 1763 14 ORtg Last Month    125.929
Name: 13656, dtype: object
13657 1533 14 ORtg Last Month    109.5
Name: 13657, dtype: object
13658 1416 14 ORtg Last Month    101.143
Name: 13658, dtype: object
13659 522 4 ORtg Last Month    130.5
Name: 13659, dtype: object
13660 666 13 ORtg Last Month    51.2308
Name: 13660, dtype: object
13661 1704 14 ORtg Last Month    121.714
Name: 13661, dtype: object
13662 1429 14 ORtg Last Month    102.071
Name: 13662, dtype: object
13663 0 11 ORtg Last Month    0
Name: 13663, dtype: object
13664 1510 14 ORtg Last Month    107.857
Name: 13664, dtype: object
13665 1653 14 ORtg Last Month    118.071
Name: 13665, dtype: object
13666 365 8 ORtg Last Month    45.625
Name: 13666, dtype: object
13667 1359 15 ORtg Last Month    90.6
Name: 13667, dtype: object
13668 1642 15 ORtg Last Month    109.467
Name: 13668, dtype: object
13669 430 6 ORtg Last Month    71.6667
Name: 13669, dtype: object
13670 1562 15 ORtg Last Month    104.133
Name: 13670, dtype: object
13671 1088 13 ORtg Last Month    83.6923
Name: 13671, dtype: object
13672 760 12 ORtg Last Month    63.3333
Name: 13672, dtype: object
13673 1498 15 ORtg Last Month    99.8667
Name: 13673, dtype: object
13674 1535 15 ORtg Last Month    102.333
Name: 13674, dtype: object
13675 1197 12 ORtg Last Month    99.75
Name: 13675, dtype: object
13676 409 10 ORtg Last Month    40.9
Name: 13676, dtype: object
13677 1496 14 ORtg Last Month    106.857
Name: 13677, dtype: object
13678 1295 11 ORtg Last Month    117.727
Name: 13678, dtype: object
13679 1405 13 ORtg Last Month    108.077
Name: 13679, dtype: object
13680 1587 14 ORtg Last Month    113.357
Name: 13680, dtype: object
13681 1365 14 ORtg Last Month    97.5
Name: 13681, dtype: object
13682 1206 14 ORtg Last Month    86.1429
Name: 13682, dtype: object
13683 1583 14 ORtg Last Month    113.071
Name: 13683, dtype: object
13684 396 12 ORtg Last Month    33
Name: 13684, dtype: object
13685 616 6 ORtg Last Month    102.667
Name: 13685, dtype: object
13686 1492 14 ORtg Last Month    106.571
Name: 13686, dtype: object
13687 1188 11 ORtg Last Month    108
Name: 13687, dtype: object
13688 1649 14 ORtg Last Month    117.786
Name: 13688, dtype: object
13689 273 12 ORtg Last Month    22.75
Name: 13689, dtype: object
13690 1392 13 ORtg Last Month    107.077
Name: 13690, dtype: object
13691 222 2 ORtg Last Month    111
Name: 13691, dtype: object
13692 637 9 ORtg Last Month    70.7778
Name: 13692, dtype: object
13693 476 9 ORtg Last Month    52.8889
Name: 13693, dtype: object
13694 1483 13 ORtg Last Month    114.077
Name: 13694, dtype: object
13695 1173 12 ORtg Last Month    97.75
Name: 13695, dtype: object
13696 1106 11 ORtg Last Month    100.545
Name: 13696, dtype: object
13697 51 11 ORtg Last Month    4.63636
Name: 13697, dtype: object
13698 1299 13 ORtg Last Month    99.9231
Name: 13698, dtype: object
13699 1360 12 ORtg Last Month    113.333
Name: 13699, dtype: object
13700 1437 12 ORtg Last Month    119.75
Name: 13700, dtype: object
13701 863 12 ORtg Last Month    71.9167
Name: 13701, dtype: object
13702 521 12 ORtg Last Month    43.4167
Name: 13702, dtype: object
13703 1578 13 ORtg Last Month    121.385
Name: 13703, dtype: object
13704 1552 13 ORtg Last Month    119.385
Name: 13704, dtype: object
13705 727 8 ORtg Last Month    90.875
Name: 13705, dtype: object
13706 1550 13 ORtg Last Month    119.231
Name: 13706, dtype: object
13707 679 8 ORtg Last Month    84.875
Name: 13707, dtype: object
13708 811 10 ORtg Last Month    81.1
Name: 13708, dtype: object
13709 1547 13 ORtg Last Month    119
Name: 13709, dtype: object
13710 1260 13 ORtg Last Month    96.9231
Name: 13710, dtype: object
13711 1271 11 ORtg Last Month    115.545
Name: 13711, dtype: object
13712 1235 12 ORtg Last Month    102.917
Name: 13712, dtype: object
13713 1095 13 ORtg Last Month    84.2308
Name: 13713, dtype: object
13714 1751 15 ORtg Last Month    116.733
Name: 13714, dtype: object
13715 1412 15 ORtg Last Month    94.1333
Name: 13715, dtype: object
13716 135 2 ORtg Last Month    67.5
Name: 13716, dtype: object
13717 1341 15 ORtg Last Month    89.4
Name: 13717, dtype: object
13718 1831 15 ORtg Last Month    122.067
Name: 13718, dtype: object
13719 854 15 ORtg Last Month    56.9333
Name: 13719, dtype: object
13720 1095 15 ORtg Last Month    73
Name: 13720, dtype: object
13721 1560 15 ORtg Last Month    104
Name: 13721, dtype: object
13722 1554 15 ORtg Last Month    103.6
Name: 13722, dtype: object
13723 1495 15 ORtg Last Month    99.6667
Name: 13723, dtype: object
13724 1645 15 ORtg Last Month    109.667
Name: 13724, dtype: object
13725 1513 15 ORtg Last Month    100.867
Name: 13725, dtype: object
13726 1713 15 ORtg Last Month    114.2
Name: 13726, dtype: object
13727 1496 15 ORtg Last Month    99.7333
Name: 13727, dtype: object
13728 1671 15 ORtg Last Month    111.4
Name: 13728, dtype: object
13729 1659 15 ORtg Last Month    110.6
Name: 13729, dtype: object
13730 780 12 ORtg Last Month    65
Name: 13730, dtype: object
13731 1790 15 ORtg Last Month    119.333
Name: 13731, dtype: object
13732 1018 13 ORtg Last Month    78.3077
Name: 13732, dtype: object
13733 1511 15 ORtg Last Month    100.733
Name: 13733, dtype: object
13734 309 9 ORtg Last Month    34.3333
Name: 13734, dtype: object
13735 1493 14 ORtg Last Month    106.643
Name: 13735, dtype: object
13736 1517 14 ORtg Last Month    108.357
Name: 13736, dtype: object
13737 1694 14 ORtg Last Month    121
Name: 13737, dtype: object
13738 1603 14 ORtg Last Month    114.5
Name: 13738, dtype: object
13739 1551 13 ORtg Last Month    119.308
Name: 13739, dtype: object
13740 1712 12 ORtg Last Month    142.667
Name: 13740, dtype: object
13741 1616 14 ORtg Last Month    115.429
Name: 13741, dtype: object
13742 980 14 ORtg Last Month    70
Name: 13742, dtype: object
13743 1014 13 ORtg Last Month    78
Name: 13743, dtype: object
13744 1723 14 ORtg Last Month    123.071
Name: 13744, dtype: object
13745 1758 14 ORtg Last Month    125.571
Name: 13745, dtype: object
13746 502 9 ORtg Last Month    55.7778
Name: 13746, dtype: object
13747 0 4 ORtg Last Month    0
Name: 13747, dtype: object
13748 1536 13 ORtg Last Month    118.154
Name: 13748, dtype: object
13749 1443 14 ORtg Last Month    103.071
Name: 13749, dtype: object
13750 557 14 ORtg Last Month    39.7857
Name: 13750, dtype: object
13751 479 7 ORtg Last Month    68.4286
Name: 13751, dtype: object
13752 1350 11 ORtg Last Month    122.727
Name: 13752, dtype: object
13753 1287 13 ORtg Last Month    99
Name: 13753, dtype: object
13754 710 7 ORtg Last Month    101.429
Name: 13754, dtype: object
13755 1387 14 ORtg Last Month    99.0714
Name: 13755, dtype: object
13756 1395 14 ORtg Last Month    99.6429
Name: 13756, dtype: object
13757 1393 13 ORtg Last Month    107.154
Name: 13757, dtype: object
13758 1150 11 ORtg Last Month    104.545
Name: 13758, dtype: object
13759 1195 14 ORtg Last Month    85.3571
Name: 13759, dtype: object
13760 737 9 ORtg Last Month    81.8889
Name: 13760, dtype: object
13761 1297 14 ORtg Last Month    92.6429
Name: 13761, dtype: object
13762 1217 13 ORtg Last Month    93.6154
Name: 13762, dtype: object
13763 1542 14 ORtg Last Month    110.143
Name: 13763, dtype: object
13764 777 12 ORtg Last Month    64.75
Name: 13764, dtype: object
13765 1488 14 ORtg Last Month    106.286
Name: 13765, dtype: object
13766 1500 13 ORtg Last Month    115.385
Name: 13766, dtype: object
13767 1653 14 ORtg Last Month    118.071
Name: 13767, dtype: object
13768 1437 14 ORtg Last Month    102.643
Name: 13768, dtype: object
13769 1235 14 ORtg Last Month    88.2143
Name: 13769, dtype: object
13770 965 10 ORtg Last Month    96.5
Name: 13770, dtype: object
13771 1752 14 ORtg Last Month    125.143
Name: 13771, dtype: object
13772 1895 14 ORtg Last Month    135.357
Name: 13772, dtype: object

13773 1009 13 ORtg Last Month    77.6154
Name: 13773, dtype: object
13774 1268 11 ORtg Last Month    115.273
Name: 13774, dtype: object
13775 1378 13 ORtg Last Month    106
Name: 13775, dtype: object
13776 595 12 ORtg Last Month    49.5833
Name: 13776, dtype: object
13777 1265 13 ORtg Last Month    97.3077
Name: 13777, dtype: object
13778 614 12 ORtg Last Month    51.1667
Name: 13778, dtype: object
13779 1293 13 ORtg Last Month    99.4615
Name: 13779, dtype: object
13780 1024 13 ORtg Last Month    78.7692
Name: 13780, dtype: object
13781 1436 12 ORtg Last Month    119.667
Name: 13781, dtype: object
13782 1260 11 ORtg Last Month    114.545
Name: 13782, dtype: object
13783 1249 11 ORtg Last Month    113.545
Name: 13783, dtype: object
13784 181 2 ORtg Last Month    90.5
Name: 13784, dtype: object
13785 1376 13 ORtg Last Month    105.846
Name: 13785, dtype: object
13786 703 14 ORtg Last Month    50.2143
Name: 13786, dtype: object
13787 1644 14 ORtg Last Month    117.429
Name: 13787, dtype: object
13788 1488 14 ORtg Last Month    106.286
Name: 13788, dtype: object
13789 1804 14 ORtg Last Month    128.857
Name: 13789, dtype: object
13790 1409 14 ORtg Last Month    100.643
Name: 13790, dtype: object
13791 1737 14 ORtg Last Month    124.071
Name: 13791, dtype: object
13792 64 1 ORtg Last Month    64
Name: 13792, dtype: object
13793 1804 14 ORtg Last Month    128.857
Name: 13793, dtype: object
13794 1512 13 ORtg Last Month    116.308
Name: 13794, dtype: object
13795 224 14 ORtg Last Month    16
Name: 13795, dtype: object
13796 1000 9 ORtg Last Month    111.111
Name: 13796, dtype: object
13797 1304 12 ORtg Last Month    108.667
Name: 13797, dtype: object
13798 1163 14 ORtg Last Month    83.0714
Name: 13798, dtype: object
13799 1636 14 ORtg Last Month    116.857
Name: 13799, dtype: object
13800 746 13 ORtg Last Month    57.3846
Name: 13800, dtype: object
13801 1447 14 ORtg Last Month    103.357
Name: 13801, dtype: object
13802 1573 13 ORtg Last Month    121
Name: 13802, dtype: object
13803 973 14 ORtg Last Month    69.5
Name: 13803, dtype: object
13804 377 11 ORtg Last Month    34.2727
Name: 13804, dtype: object
13805 463 5 ORtg Last Month    92.6
Name: 13805, dtype: object
13806 1131 14 ORtg Last Month    80.7857
Name: 13806, dtype: object
13807 633 14 ORtg Last Month    45.2143
Name: 13807, dtype: object
13808 1526 14 ORtg Last Month    109
Name: 13808, dtype: object
13809 1145 13 ORtg Last Month    88.0769
Name: 13809, dtype: object
13810 821 13 ORtg Last Month    63.1538
Name: 13810, dtype: object
13811 1185 14 ORtg Last Month    84.6429
Name: 13811, dtype: object
13812 63 1 ORtg Last Month    63
Name: 13812, dtype: object
13813 1518 14 ORtg Last Month    108.429
Name: 13813, dtype: object
13814 1637 14 ORtg Last Month    116.929
Name: 13814, dtype: object
13815 1403 14 ORtg Last Month    100.214
Name: 13815, dtype: object
13816 1189 14 ORtg Last Month    84.9286
Name: 13816, dtype: object
13817 403 11 ORtg Last Month    36.6364
Name: 13817, dtype: object
13818 397 6 ORtg Last Month    66.1667
Name: 13818, dtype: object
13819 806 13 ORtg Last Month    62
Name: 13819, dtype: object
13820 1180 11 ORtg Last Month    107.273
Name: 13820, dtype: object
13821 1734 14 ORtg Last Month    123.857
Name: 13821, dtype: object
13822 1420 14 ORtg Last Month    101.429
Name: 13822, dtype: object
13823 725 13 ORtg Last Month    55.7692
Name: 13823, dtype: object
13824 1609 14 ORtg Last Month    114.929
Name: 13824, dtype: object
13825 1690 14 ORtg Last Month    120.714
Name: 13825, dtype: object
13826 1521 14 ORtg Last Month    108.643
Name: 13826, dtype: object
13827 1066 11 ORtg Last Month    96.9091
Name: 13827, dtype: object
13828 1566 13 ORtg Last Month    120.462
Name: 13828, dtype: object
13829 433 13 ORtg Last Month    33.3077
Name: 13829, dtype: object
13830 1427 14 ORtg Last Month    101.929
Name: 13830, dtype: object
13831 1780 14 ORtg Last Month    127.143
Name: 13831, dtype: object
13832 1305 14 ORtg Last Month    93.2143
Name: 13832, dtype: object
13833 1245 14 ORtg Last Month    88.9286
Name: 13833, dtype: object
13834 1613 14 ORtg Last Month    115.214
Name: 13834, dtype: object
13835 1838 14 ORtg Last Month    131.286
Name: 13835, dtype: object
13836 1242 14 ORtg Last Month    88.7143
Name: 13836, dtype: object
13837 701 14 ORtg Last Month    50.0714
Name: 13837, dtype: object
13838 1022 14 ORtg Last Month    73
Name: 13838, dtype: object
13839 1720 14 ORtg Last Month    122.857
Name: 13839, dtype: object
13840 0 1 ORtg Last Month    0
Name: 13840, dtype: object
13841 1134 14 ORtg Last Month    81
Name: 13841, dtype: object
13842 782 8 ORtg Last Month    97.75
Name: 13842, dtype: object
13843 1518 15 ORtg Last Month    101.2
Name: 13843, dtype: object
13844 1418 15 ORtg Last Month    94.5333
Name: 13844, dtype: object
13845 328 10 ORtg Last Month    32.8
Name: 13845, dtype: object
13846 1333 15 ORtg Last Month    88.8667
Name: 13846, dtype: object
13847 215 2 ORtg Last Month    107.5
Name: 13847, dtype: object
13848 1858 15 ORtg Last Month    123.867
Name: 13848, dtype: object
13849 1018 15 ORtg Last Month    67.8667
Name: 13849, dtype: object
13850 1936 14 ORtg Last Month    138.286
Name: 13850, dtype: object
13851 1285 15 ORtg Last Month    85.6667
Name: 13851, dtype: object
13852 774 15 ORtg Last Month    51.6
Name: 13852, dtype: object
13853 884 9 ORtg Last Month    98.2222
Name: 13853, dtype: object
13854 1390 13 ORtg Last Month    106.923
Name: 13854, dtype: object
13855 1144 13 ORtg Last Month    88
Name: 13855, dtype: object
13856 1450 14 ORtg Last Month    103.571
Name: 13856, dtype: object
13857 73 12 ORtg Last Month    6.08333
Name: 13857, dtype: object
13858 1857 14 ORtg Last Month    132.643
Name: 13858, dtype: object
13859 1500 14 ORtg Last Month    107.143
Name: 13859, dtype: object
13860 1381 13 ORtg Last Month    106.231
Name: 13860, dtype: object
13861 1389 13 ORtg Last Month    106.846
Name: 13861, dtype: object
13862 103 2 ORtg Last Month    51.5
Name: 13862, dtype: object
13863 124 13 ORtg Last Month    9.53846
Name: 13863, dtype: object
13864 1595 14 ORtg Last Month    113.929
Name: 13864, dtype: object
13865 1730 14 ORtg Last Month    123.571
Name: 13865, dtype: object
13866 1045 10 ORtg Last Month    104.5
Name: 13866, dtype: object
13867 571 6 ORtg Last Month    95.1667
Name: 13867, dtype: object
13868 1659 14 ORtg Last Month    118.5
Name: 13868, dtype: object
13869 247 9 ORtg Last Month    27.4444
Name: 13869, dtype: object
13870 44 5 ORtg Last Month    8.8
Name: 13870, dtype: object
13871 1455 14 ORtg Last Month    103.929
Name: 13871, dtype: object
13872 1389 14 ORtg Last Month    99.2143
Name: 13872, dtype: object
13873 1725 14 ORtg Last Month    123.214
Name: 13873, dtype: object
13874 346 14 ORtg Last Month    24.7143
Name: 13874, dtype: object
13875 687 14 ORtg Last Month    49.0714
Name: 13875, dtype: object
13876 98 14 ORtg Last Month    7
Name: 13876, dtype: object
13877 1647 14 ORtg Last Month    117.643
Name: 13877, dtype: object
13878 1580 13 ORtg Last Month    121.538
Name: 13878, dtype: object
13879 1849 14 ORtg Last Month    132.071
Name: 13879, dtype: object
13880 1367 15 ORtg Last Month    91.1333
Name: 13880, dtype: object
13881 1258 14 ORtg Last Month    89.8571
Name: 13881, dtype: object
13882 280 14 ORtg Last Month    20
Name: 13882, dtype: object
13883 1742 15 ORtg Last Month    116.133
Name: 13883, dtype: object
13884 1807 15 ORtg Last Month    120.467
Name: 13884, dtype: object
13885 1530 15 ORtg Last Month    102
Name: 13885, dtype: object
13886 774 15 ORtg Last Month    51.6
Name: 13886, dtype: object
13887 1264 15 ORtg Last Month    84.2667
Name: 13887, dtype: object
13888 1874 15 ORtg Last Month    124.933
Name: 13888, dtype: object
13889 1481 15 ORtg Last Month    98.7333
Name: 13889, dtype: object
13890 1455 15 ORtg Last Month    97
Name: 13890, dtype: object
13891 1372 12 ORtg Last Month    114.333
Name: 13891, dtype: object
13892 960 10 ORtg Last Month    96
Name: 13892, dtype: object
13893 817 11 ORtg Last Month    74.2727
Name: 13893, dtype: object
13894 1145 12 ORtg Last Month    95.4167
Name: 13894, dtype: object
13895 1334 13 ORtg Last Month    102.615
Name: 13895, dtype: object
13896 1246 13 ORtg Last Month    95.8462
Name: 13896, dtype: object

13897 1189 12 ORtg Last Month    99.0833
Name: 13897, dtype: object
13898 1193 13 ORtg Last Month    91.7692
Name: 13898, dtype: object
13899 1279 12 ORtg Last Month    106.583
Name: 13899, dtype: object
13900 1043 13 ORtg Last Month    80.2308
Name: 13900, dtype: object
13901 673 11 ORtg Last Month    61.1818
Name: 13901, dtype: object
13902 665 12 ORtg Last Month    55.4167
Name: 13902, dtype: object
13903 927 13 ORtg Last Month    71.3077
Name: 13903, dtype: object
13904 1293 15 ORtg Last Month    86.2
Name: 13904, dtype: object
13905 1296 11 ORtg Last Month    117.818
Name: 13905, dtype: object
13906 583 10 ORtg Last Month    58.3
Name: 13906, dtype: object
13907 577 15 ORtg Last Month    38.4667
Name: 13907, dtype: object
13908 1530 14 ORtg Last Month    109.286
Name: 13908, dtype: object
13909 1304 15 ORtg Last Month    86.9333
Name: 13909, dtype: object
13910 1761 15 ORtg Last Month    117.4
Name: 13910, dtype: object
13911 1319 13 ORtg Last Month    101.462
Name: 13911, dtype: object
13912 1865 15 ORtg Last Month    124.333
Name: 13912, dtype: object
13913 2183 14 ORtg Last Month    155.929
Name: 13913, dtype: object
13914 147 15 ORtg Last Month    9.8
Name: 13914, dtype: object
13915 0 8 ORtg Last Month    0
Name: 13915, dtype: object
13916 479 8 ORtg Last Month    59.875
Name: 13916, dtype: object
13917 1477 15 ORtg Last Month    98.4667
Name: 13917, dtype: object
13918 1697 14 ORtg Last Month    121.214
Name: 13918, dtype: object
13919 557 15 ORtg Last Month    37.1333
Name: 13919, dtype: object
13920 767 8 ORtg Last Month    95.875
Name: 13920, dtype: object
13921 1412 14 ORtg Last Month    100.857
Name: 13921, dtype: object
13922 1429 15 ORtg Last Month    95.2667
Name: 13922, dtype: object
13923 1395 15 ORtg Last Month    93
Name: 13923, dtype: object
13924 1560 14 ORtg Last Month    111.429
Name: 13924, dtype: object
13925 1268 12 ORtg Last Month    105.667
Name: 13925, dtype: object
13926 1195 15 ORtg Last Month    79.6667
Name: 13926, dtype: object
13927 737 10 ORtg Last Month    73.7
Name: 13927, dtype: object
13928 1441 14 ORtg Last Month    102.929
Name: 13928, dtype: object
13929 1558 14 ORtg Last Month    111.286
Name: 13929, dtype: object
13930 976 9 ORtg Last Month    108.444
Name: 13930, dtype: object
13931 420 10 ORtg Last Month    42
Name: 13931, dtype: object
13932 365 4 ORtg Last Month    91.25
Name: 13932, dtype: object
13933 1785 14 ORtg Last Month    127.5
Name: 13933, dtype: object
13934 1260 13 ORtg Last Month    96.9231
Name: 13934, dtype: object
13935 1234 13 ORtg Last Month    94.9231
Name: 13935, dtype: object
13936 910 14 ORtg Last Month    65
Name: 13936, dtype: object
13937 1991 14 ORtg Last Month    142.214
Name: 13937, dtype: object
13938 1386 11 ORtg Last Month    126
Name: 13938, dtype: object
13939 1585 14 ORtg Last Month    113.214
Name: 13939, dtype: object
13940 1570 14 ORtg Last Month    112.143
Name: 13940, dtype: object
13941 796 14 ORtg Last Month    56.8571
Name: 13941, dtype: object
13942 1391 14 ORtg Last Month    99.3571
Name: 13942, dtype: object
13943 1276 12 ORtg Last Month    106.333
Name: 13943, dtype: object
13944 1439 11 ORtg Last Month    130.818
Name: 13944, dtype: object
13945 1284 13 ORtg Last Month    98.7692
Name: 13945, dtype: object
13946 1375 14 ORtg Last Month    98.2143
Name: 13946, dtype: object
13947 874 7 ORtg Last Month    124.857
Name: 13947, dtype: object
13948 1770 14 ORtg Last Month    126.429
Name: 13948, dtype: object
13949 915 8 ORtg Last Month    114.375
Name: 13949, dtype: object
13950 685 9 ORtg Last Month    76.1111
Name: 13950, dtype: object
13951 826 14 ORtg Last Month    59
Name: 13951, dtype: object
13952 1645 14 ORtg Last Month    117.5
Name: 13952, dtype: object
13953 1396 13 ORtg Last Month    107.385
Name: 13953, dtype: object
13954 1402 14 ORtg Last Month    100.143
Name: 13954, dtype: object
13955 100 2 ORtg Last Month    50
Name: 13955, dtype: object
13956 93 6 ORtg Last Month    15.5
Name: 13956, dtype: object
13957 1726 14 ORtg Last Month    123.286
Name: 13957, dtype: object
13958 1546 14 ORtg Last Month    110.429
Name: 13958, dtype: object
13959 224 14 ORtg Last Month    16
Name: 13959, dtype: object
13960 1627 13 ORtg Last Month    125.154
Name: 13960, dtype: object
13961 1834 14 ORtg Last Month    131
Name: 13961, dtype: object
13962 1520 16 ORtg Last Month    95
Name: 13962, dtype: object
13963 1491 16 ORtg Last Month    93.1875
Name: 13963, dtype: object
13964 1755 16 ORtg Last Month    109.688
Name: 13964, dtype: object
13965 1833 16 ORtg Last Month    114.562
Name: 13965, dtype: object
13966 1556 16 ORtg Last Month    97.25
Name: 13966, dtype: object
13967 392 12 ORtg Last Month    32.6667
Name: 13967, dtype: object
13968 1998 16 ORtg Last Month    124.875
Name: 13968, dtype: object
13969 1666 16 ORtg Last Month    104.125
Name: 13969, dtype: object
13970 897 11 ORtg Last Month    81.5455
Name: 13970, dtype: object
13971 1355 14 ORtg Last Month    96.7857
Name: 13971, dtype: object
13972 1397 12 ORtg Last Month    116.417
Name: 13972, dtype: object
13973 369 3 ORtg Last Month    123
Name: 13973, dtype: object
13974 1373 12 ORtg Last Month    114.417
Name: 13974, dtype: object
13975 1239 12 ORtg Last Month    103.25
Name: 13975, dtype: object
13976 384 8 ORtg Last Month    48
Name: 13976, dtype: object
13977 1448 12 ORtg Last Month    120.667
Name: 13977, dtype: object
13978 1367 12 ORtg Last Month    113.917
Name: 13978, dtype: object
13979 1237 12 ORtg Last Month    103.083
Name: 13979, dtype: object
13980 471 11 ORtg Last Month    42.8182
Name: 13980, dtype: object
13981 1444 12 ORtg Last Month    120.333
Name: 13981, dtype: object
13982 485 4 ORtg Last Month    121.25
Name: 13982, dtype: object
13983 1391 12 ORtg Last Month    115.917
Name: 13983, dtype: object
13984 1515 14 ORtg Last Month    108.214
Name: 13984, dtype: object
13985 1397 14 ORtg Last Month    99.7857
Name: 13985, dtype: object
13986 1356 14 ORtg Last Month    96.8571
Name: 13986, dtype: object
13987 1139 14 ORtg Last Month    81.3571
Name: 13987, dtype: object
13988 255 12 ORtg Last Month    21.25
Name: 13988, dtype: object
13989 1225 11 ORtg Last Month    111.364
Name: 13989, dtype: object
13990 1184 14 ORtg Last Month    84.5714
Name: 13990, dtype: object
13991 846 12 ORtg Last Month    70.5
Name: 13991, dtype: object
13992 1450 13 ORtg Last Month    111.538
Name: 13992, dtype: object
13993 1433 14 ORtg Last Month    102.357
Name: 13993, dtype: object
13994 1113 13 ORtg Last Month    85.6154
Name: 13994, dtype: object
13995 923 12 ORtg Last Month    76.9167
Name: 13995, dtype: object
13996 1753 14 ORtg Last Month    125.214
Name: 13996, dtype: object
13997 1071 10 ORtg Last Month    107.1
Name: 13997, dtype: object
13998 511 11 ORtg Last Month    46.4545
Name: 13998, dtype: object
13999 1538 14 ORtg Last Month    109.857
Name: 13999, dtype: object
14000 1547 14 ORtg Last Month    110.5
Name: 14000, dtype: object
14001 1806 14 ORtg Last Month    129
Name: 14001, dtype: object
14002 550 4 ORtg Last Month    137.5
Name: 14002, dtype: object
14003 617 13 ORtg Last Month    47.4615
Name: 14003, dtype: object
14004 1766 14 ORtg Last Month    126.143
Name: 14004, dtype: object
14005 1508 14 ORtg Last Month    107.714
Name: 14005, dtype: object
14006 0 11 ORtg Last Month    0
Name: 14006, dtype: object
14007 1512 15 ORtg Last Month    100.8
Name: 14007, dtype: object
14008 851 9 ORtg Last Month    94.5556
Name: 14008, dtype: object
14009 1353 15 ORtg Last Month    90.2
Name: 14009, dtype: object
14010 371 10 ORtg Last Month    37.1
Name: 14010, dtype: object
14011 1380 13 ORtg Last Month    106.154
Name: 14011, dtype: object
14012 206 2 ORtg Last Month    103
Name: 14012, dtype: object
14013 1846 15 ORtg Last Month    123.067
Name: 14013, dtype: object
14014 1427 15 ORtg Last Month    95.1333
Name: 14014, dtype: object
14015 904 15 ORtg Last Month    60.2667
Name: 14015, dtype: object
14016 792 9 ORtg Last Month    88
Name: 14016, dtype: object
14017 1934 14 ORtg Last Month    138.143
Name: 14017, dtype: object
14018 1382 15 ORtg Last Month    92.1333
Name: 14018, dtype: object
14019 842 15 ORtg Last Month    56.1333
Name: 14019, dtype: object
14020 1556 14 ORtg Last Month    111.143
Name: 14020, dtype: object

14021 1607 14 ORtg Last Month    114.786
Name: 14021, dtype: object
14022 436 9 ORtg Last Month    48.4444
Name: 14022, dtype: object
14023 1280 15 ORtg Last Month    85.3333
Name: 14023, dtype: object
14024 1570 15 ORtg Last Month    104.667
Name: 14024, dtype: object
14025 1522 15 ORtg Last Month    101.467
Name: 14025, dtype: object
14026 603 12 ORtg Last Month    50.25
Name: 14026, dtype: object
14027 1004 13 ORtg Last Month    77.2308
Name: 14027, dtype: object
14028 88 5 ORtg Last Month    17.6
Name: 14028, dtype: object
14029 1108 12 ORtg Last Month    92.3333
Name: 14029, dtype: object
14030 1478 15 ORtg Last Month    98.5333
Name: 14030, dtype: object
14031 1578 15 ORtg Last Month    105.2
Name: 14031, dtype: object
14032 409 11 ORtg Last Month    37.1818
Name: 14032, dtype: object
14033 1330 11 ORtg Last Month    120.909
Name: 14033, dtype: object
14034 1522 14 ORtg Last Month    108.714
Name: 14034, dtype: object
14035 1553 14 ORtg Last Month    110.929
Name: 14035, dtype: object
14036 0 0 ORtg Last Month    0
Name: 14036, dtype: object
14037 1585 14 ORtg Last Month    113.214
Name: 14037, dtype: object
14038 1417 14 ORtg Last Month    101.214
Name: 14038, dtype: object
14039 1698 14 ORtg Last Month    121.286
Name: 14039, dtype: object
14040 1230 14 ORtg Last Month    87.8571
Name: 14040, dtype: object
14041 270 12 ORtg Last Month    22.5
Name: 14041, dtype: object
14042 1460 14 ORtg Last Month    104.286
Name: 14042, dtype: object
14043 1591 14 ORtg Last Month    113.643
Name: 14043, dtype: object
14044 649 6 ORtg Last Month    108.167
Name: 14044, dtype: object
14045 273 13 ORtg Last Month    21
Name: 14045, dtype: object
14046 1451 13 ORtg Last Month    111.615
Name: 14046, dtype: object
14047 350 3 ORtg Last Month    116.667
Name: 14047, dtype: object
14048 735 10 ORtg Last Month    73.5
Name: 14048, dtype: object
14049 1477 13 ORtg Last Month    113.615
Name: 14049, dtype: object
14050 602 9 ORtg Last Month    66.8889
Name: 14050, dtype: object
14051 1265 12 ORtg Last Month    105.417
Name: 14051, dtype: object
14052 245 8 ORtg Last Month    30.625
Name: 14052, dtype: object
14053 51 11 ORtg Last Month    4.63636
Name: 14053, dtype: object
14054 1162 13 ORtg Last Month    89.3846
Name: 14054, dtype: object
14055 1472 12 ORtg Last Month    122.667
Name: 14055, dtype: object
14056 1391 12 ORtg Last Month    115.917
Name: 14056, dtype: object
14057 1032 12 ORtg Last Month    86
Name: 14057, dtype: object
14058 646 12 ORtg Last Month    53.8333
Name: 14058, dtype: object
14059 1346 13 ORtg Last Month    103.538
Name: 14059, dtype: object
14060 502 9 ORtg Last Month    55.7778
Name: 14060, dtype: object
14061 423 6 ORtg Last Month    70.5
Name: 14061, dtype: object
14062 865 13 ORtg Last Month    66.5385
Name: 14062, dtype: object
14063 1316 13 ORtg Last Month    101.231
Name: 14063, dtype: object
14064 905 10 ORtg Last Month    90.5
Name: 14064, dtype: object
14065 401 9 ORtg Last Month    44.5556
Name: 14065, dtype: object
14066 744 12 ORtg Last Month    62
Name: 14066, dtype: object
14067 1396 13 ORtg Last Month    107.385
Name: 14067, dtype: object
14068 1550 13 ORtg Last Month    119.231
Name: 14068, dtype: object
14069 1385 13 ORtg Last Month    106.538
Name: 14069, dtype: object
14070 816 11 ORtg Last Month    74.1818
Name: 14070, dtype: object
14071 1451 12 ORtg Last Month    120.917
Name: 14071, dtype: object
14072 1052 12 ORtg Last Month    87.6667
Name: 14072, dtype: object
14073 922 10 ORtg Last Month    92.2
Name: 14073, dtype: object
14074 1233 13 ORtg Last Month    94.8462
Name: 14074, dtype: object
14075 1310 13 ORtg Last Month    100.769
Name: 14075, dtype: object
14076 1214 12 ORtg Last Month    101.167
Name: 14076, dtype: object
14077 1161 13 ORtg Last Month    89.3077
Name: 14077, dtype: object
14078 1268 12 ORtg Last Month    105.667
Name: 14078, dtype: object
14079 712 12 ORtg Last Month    59.3333
Name: 14079, dtype: object
14080 844 11 ORtg Last Month    76.7273
Name: 14080, dtype: object
14081 1081 13 ORtg Last Month    83.1538
Name: 14081, dtype: object
14082 1728 15 ORtg Last Month    115.2
Name: 14082, dtype: object
14083 1435 15 ORtg Last Month    95.6667
Name: 14083, dtype: object
14084 135 3 ORtg Last Month    45
Name: 14084, dtype: object
14085 849 15 ORtg Last Month    56.6
Name: 14085, dtype: object
14086 1795 15 ORtg Last Month    119.667
Name: 14086, dtype: object
14087 1379 15 ORtg Last Month    91.9333
Name: 14087, dtype: object
14088 1371 12 ORtg Last Month    114.25
Name: 14088, dtype: object
14089 1002 15 ORtg Last Month    66.8
Name: 14089, dtype: object
14090 1621 15 ORtg Last Month    108.067
Name: 14090, dtype: object
14091 1513 15 ORtg Last Month    100.867
Name: 14091, dtype: object
14092 1465 15 ORtg Last Month    97.6667
Name: 14092, dtype: object
14093 1556 15 ORtg Last Month    103.733
Name: 14093, dtype: object
14094 1632 15 ORtg Last Month    108.8
Name: 14094, dtype: object
14095 1501 15 ORtg Last Month    100.067
Name: 14095, dtype: object
14096 1709 15 ORtg Last Month    113.933
Name: 14096, dtype: object
14097 1731 15 ORtg Last Month    115.4
Name: 14097, dtype: object
14098 1655 15 ORtg Last Month    110.333
Name: 14098, dtype: object
14099 881 13 ORtg Last Month    67.7692
Name: 14099, dtype: object
14100 1762 15 ORtg Last Month    117.467
Name: 14100, dtype: object
14101 1127 13 ORtg Last Month    86.6923
Name: 14101, dtype: object
14102 623 4 ORtg Last Month    155.75
Name: 14102, dtype: object
14103 1385 15 ORtg Last Month    92.3333
Name: 14103, dtype: object
14104 309 10 ORtg Last Month    30.9
Name: 14104, dtype: object
14105 1561 14 ORtg Last Month    111.5
Name: 14105, dtype: object
14106 1533 14 ORtg Last Month    109.5
Name: 14106, dtype: object
14107 1644 14 ORtg Last Month    117.429
Name: 14107, dtype: object
14108 1539 14 ORtg Last Month    109.929
Name: 14108, dtype: object
14109 1624 12 ORtg Last Month    135.333
Name: 14109, dtype: object
14110 1581 14 ORtg Last Month    112.929
Name: 14110, dtype: object
14111 980 13 ORtg Last Month    75.3846
Name: 14111, dtype: object
14112 1230 14 ORtg Last Month    87.8571
Name: 14112, dtype: object
14113 1770 14 ORtg Last Month    126.429
Name: 14113, dtype: object
14114 1748 14 ORtg Last Month    124.857
Name: 14114, dtype: object
14115 0 5 ORtg Last Month    0
Name: 14115, dtype: object
14116 552 10 ORtg Last Month    55.2
Name: 14116, dtype: object
14117 1337 14 ORtg Last Month    95.5
Name: 14117, dtype: object
14118 778 12 ORtg Last Month    64.8333
Name: 14118, dtype: object
14119 1207 13 ORtg Last Month    92.8462
Name: 14119, dtype: object
14120 1451 13 ORtg Last Month    111.615
Name: 14120, dtype: object
14121 1397 14 ORtg Last Month    99.7857
Name: 14121, dtype: object
14122 1121 14 ORtg Last Month    80.0714
Name: 14122, dtype: object
14123 1544 14 ORtg Last Month    110.286
Name: 14123, dtype: object
14124 0 0 ORtg Last Month    0
Name: 14124, dtype: object
14125 965 11 ORtg Last Month    87.7273
Name: 14125, dtype: object
14126 1887 14 ORtg Last Month    134.786
Name: 14126, dtype: object
14127 1724 14 ORtg Last Month    123.143
Name: 14127, dtype: object
14128 967 13 ORtg Last Month    74.3846
Name: 14128, dtype: object
14129 1426 12 ORtg Last Month    118.833
Name: 14129, dtype: object
14130 1410 13 ORtg Last Month    108.462
Name: 14130, dtype: object
14131 556 12 ORtg Last Month    46.3333
Name: 14131, dtype: object
14132 729 13 ORtg Last Month    56.0769
Name: 14132, dtype: object
14133 1327 13 ORtg Last Month    102.077
Name: 14133, dtype: object
14134 908 13 ORtg Last Month    69.8462
Name: 14134, dtype: object
14135 1247 13 ORtg Last Month    95.9231
Name: 14135, dtype: object
14136 1441 12 ORtg Last Month    120.083
Name: 14136, dtype: object
14137 1288 11 ORtg Last Month    117.091
Name: 14137, dtype: object
14138 1254 11 ORtg Last Month    114
Name: 14138, dtype: object
14139 284 3 ORtg Last Month    94.6667
Name: 14139, dtype: object
14140 1520 14 ORtg Last Month    108.571
Name: 14140, dtype: object
14141 1135 14 ORtg Last Month    81.0714
Name: 14141, dtype: object
14142 1144 13 ORtg Last Month    88
Name: 14142, dtype: object
14143 950 13 ORtg Last Month    73.0769
Name: 14143, dtype: object

14144 1548 14 ORtg Last Month    110.571
Name: 14144, dtype: object
14145 1655 14 ORtg Last Month    118.214
Name: 14145, dtype: object
14146 1329 11 ORtg Last Month    120.818
Name: 14146, dtype: object
14147 1335 14 ORtg Last Month    95.3571
Name: 14147, dtype: object
14148 1131 14 ORtg Last Month    80.7857
Name: 14148, dtype: object
14149 403 11 ORtg Last Month    36.6364
Name: 14149, dtype: object
14150 506 7 ORtg Last Month    72.2857
Name: 14150, dtype: object
14151 661 13 ORtg Last Month    50.8462
Name: 14151, dtype: object
14152 1385 13 ORtg Last Month    106.538
Name: 14152, dtype: object
14153 1292 14 ORtg Last Month    92.2857
Name: 14153, dtype: object
14154 1151 14 ORtg Last Month    82.2143
Name: 14154, dtype: object
14155 340 10 ORtg Last Month    34
Name: 14155, dtype: object
14156 1208 13 ORtg Last Month    92.9231
Name: 14156, dtype: object
14157 1450 14 ORtg Last Month    103.571
Name: 14157, dtype: object
14158 826 11 ORtg Last Month    75.0909
Name: 14158, dtype: object
14159 487 4 ORtg Last Month    121.75
Name: 14159, dtype: object
14160 563 11 ORtg Last Month    51.1818
Name: 14160, dtype: object
14161 1067 14 ORtg Last Month    76.2143
Name: 14161, dtype: object
14162 1719 14 ORtg Last Month    122.786
Name: 14162, dtype: object
14163 1276 12 ORtg Last Month    106.333
Name: 14163, dtype: object
14164 1399 12 ORtg Last Month    116.583
Name: 14164, dtype: object
14165 1485 12 ORtg Last Month    123.75
Name: 14165, dtype: object
14166 519 8 ORtg Last Month    64.875
Name: 14166, dtype: object
14167 1410 12 ORtg Last Month    117.5
Name: 14167, dtype: object
14168 1271 12 ORtg Last Month    105.917
Name: 14168, dtype: object
14169 1419 12 ORtg Last Month    118.25
Name: 14169, dtype: object
14170 471 11 ORtg Last Month    42.8182
Name: 14170, dtype: object
14171 1409 12 ORtg Last Month    117.417
Name: 14171, dtype: object
14172 607 5 ORtg Last Month    121.4
Name: 14172, dtype: object
14173 1421 12 ORtg Last Month    118.417
Name: 14173, dtype: object
14174 1344 13 ORtg Last Month    103.385
Name: 14174, dtype: object
14175 1507 13 ORtg Last Month    115.923
Name: 14175, dtype: object
14176 942 13 ORtg Last Month    72.4615
Name: 14176, dtype: object
14177 1552 13 ORtg Last Month    119.385
Name: 14177, dtype: object
14178 1304 11 ORtg Last Month    118.545
Name: 14178, dtype: object
14179 1670 13 ORtg Last Month    128.462
Name: 14179, dtype: object
14180 1279 13 ORtg Last Month    98.3846
Name: 14180, dtype: object
14181 1868 13 ORtg Last Month    143.692
Name: 14181, dtype: object
14182 1467 13 ORtg Last Month    112.846
Name: 14182, dtype: object
14183 1061 13 ORtg Last Month    81.6154
Name: 14183, dtype: object
14184 1618 13 ORtg Last Month    124.462
Name: 14184, dtype: object
14185 1277 12 ORtg Last Month    106.417
Name: 14185, dtype: object
14186 1250 13 ORtg Last Month    96.1538
Name: 14186, dtype: object
14187 0 1 ORtg Last Month    0
Name: 14187, dtype: object
14188 787 12 ORtg Last Month    65.5833
Name: 14188, dtype: object
14189 1565 13 ORtg Last Month    120.385
Name: 14189, dtype: object
14190 1474 13 ORtg Last Month    113.385
Name: 14190, dtype: object
14191 1381 13 ORtg Last Month    106.231
Name: 14191, dtype: object
14192 912 10 ORtg Last Month    91.2
Name: 14192, dtype: object
14193 0 4 ORtg Last Month    0
Name: 14193, dtype: object
14194 1560 13 ORtg Last Month    120
Name: 14194, dtype: object
14195 416 12 ORtg Last Month    34.6667
Name: 14195, dtype: object
14196 1494 14 ORtg Last Month    106.714
Name: 14196, dtype: object
14197 1282 14 ORtg Last Month    91.5714
Name: 14197, dtype: object
14198 1735 14 ORtg Last Month    123.929
Name: 14198, dtype: object
14199 1307 14 ORtg Last Month    93.3571
Name: 14199, dtype: object
14200 1843 14 ORtg Last Month    131.643
Name: 14200, dtype: object
14201 1634 14 ORtg Last Month    116.714
Name: 14201, dtype: object
14202 1232 14 ORtg Last Month    88
Name: 14202, dtype: object
14203 701 14 ORtg Last Month    50.0714
Name: 14203, dtype: object
14204 1713 14 ORtg Last Month    122.357
Name: 14204, dtype: object
14205 1163 14 ORtg Last Month    83.0714
Name: 14205, dtype: object
14206 203 2 ORtg Last Month    101.5
Name: 14206, dtype: object
14207 1044 14 ORtg Last Month    74.5714
Name: 14207, dtype: object
14208 1197 12 ORtg Last Month    99.75
Name: 14208, dtype: object
14209 1103 12 ORtg Last Month    91.9167
Name: 14209, dtype: object
14210 1198 13 ORtg Last Month    92.1538
Name: 14210, dtype: object
14211 73 13 ORtg Last Month    5.61538
Name: 14211, dtype: object
14212 103 3 ORtg Last Month    34.3333
Name: 14212, dtype: object
14213 1491 13 ORtg Last Month    114.692
Name: 14213, dtype: object
14214 1245 12 ORtg Last Month    103.75
Name: 14214, dtype: object
14215 1279 12 ORtg Last Month    106.583
Name: 14215, dtype: object
14216 1715 13 ORtg Last Month    131.923
Name: 14216, dtype: object
14217 0 12 ORtg Last Month    0
Name: 14217, dtype: object
14218 1072 11 ORtg Last Month    97.4545
Name: 14218, dtype: object
14219 1578 13 ORtg Last Month    121.385
Name: 14219, dtype: object
14220 1387 13 ORtg Last Month    106.692
Name: 14220, dtype: object
14221 607 6 ORtg Last Month    101.167
Name: 14221, dtype: object
14222 1617 14 ORtg Last Month    115.5
Name: 14222, dtype: object
14223 247 10 ORtg Last Month    24.7
Name: 14223, dtype: object
14224 869 8 ORtg Last Month    108.625
Name: 14224, dtype: object
14225 44 6 ORtg Last Month    7.33333
Name: 14225, dtype: object
14226 1460 14 ORtg Last Month    104.286
Name: 14226, dtype: object
14227 1576 14 ORtg Last Month    112.571
Name: 14227, dtype: object
14228 407 14 ORtg Last Month    29.0714
Name: 14228, dtype: object
14229 1354 14 ORtg Last Month    96.7143
Name: 14229, dtype: object
14230 98 14 ORtg Last Month    7
Name: 14230, dtype: object
14231 1662 14 ORtg Last Month    118.714
Name: 14231, dtype: object
14232 1593 13 ORtg Last Month    122.538
Name: 14232, dtype: object
14233 1800 14 ORtg Last Month    128.571
Name: 14233, dtype: object
14234 395 6 ORtg Last Month    65.8333
Name: 14234, dtype: object
14235 1362 13 ORtg Last Month    104.769
Name: 14235, dtype: object
14236 622 10 ORtg Last Month    62.2
Name: 14236, dtype: object
14237 838 13 ORtg Last Month    64.4615
Name: 14237, dtype: object
14238 1319 13 ORtg Last Month    101.462
Name: 14238, dtype: object
14239 904 10 ORtg Last Month    90.4
Name: 14239, dtype: object
14240 401 10 ORtg Last Month    40.1
Name: 14240, dtype: object
14241 744 12 ORtg Last Month    62
Name: 14241, dtype: object
14242 1507 13 ORtg Last Month    115.923
Name: 14242, dtype: object
14243 1422 13 ORtg Last Month    109.385
Name: 14243, dtype: object
14244 1496 13 ORtg Last Month    115.077
Name: 14244, dtype: object
14245 1361 15 ORtg Last Month    90.7333
Name: 14245, dtype: object
14246 1201 14 ORtg Last Month    85.7857
Name: 14246, dtype: object
14247 280 14 ORtg Last Month    20
Name: 14247, dtype: object
14248 1736 15 ORtg Last Month    115.733
Name: 14248, dtype: object
14249 1502 15 ORtg Last Month    100.133
Name: 14249, dtype: object
14250 1813 15 ORtg Last Month    120.867
Name: 14250, dtype: object
14251 1196 15 ORtg Last Month    79.7333
Name: 14251, dtype: object
14252 892 15 ORtg Last Month    59.4667
Name: 14252, dtype: object
14253 1906 15 ORtg Last Month    127.067
Name: 14253, dtype: object
14254 1507 15 ORtg Last Month    100.467
Name: 14254, dtype: object
14255 1516 15 ORtg Last Month    101.067
Name: 14255, dtype: object
14256 1557 13 ORtg Last Month    119.769
Name: 14256, dtype: object
14257 1591 13 ORtg Last Month    122.385
Name: 14257, dtype: object
14258 1537 13 ORtg Last Month    118.231
Name: 14258, dtype: object
14259 853 9 ORtg Last Month    94.7778
Name: 14259, dtype: object
14260 972 9 ORtg Last Month    108
Name: 14260, dtype: object
14261 1302 13 ORtg Last Month    100.154
Name: 14261, dtype: object
14262 1018 10 ORtg Last Month    101.8
Name: 14262, dtype: object
14263 923 10 ORtg Last Month    92.3
Name: 14263, dtype: object
14264 1384 12 ORtg Last Month    115.333
Name: 14264, dtype: object
14265 1201 12 ORtg Last Month    100.083
Name: 14265, dtype: object
14266 1076 13 ORtg Last Month    82.7692
Name: 14266, dtype: object

14267 0 0 ORtg Last Month    0
Name: 14267, dtype: object
14268 1303 15 ORtg Last Month    86.8667
Name: 14268, dtype: object
14269 460 15 ORtg Last Month    30.6667
Name: 14269, dtype: object
14270 960 13 ORtg Last Month    73.8462
Name: 14270, dtype: object
14271 570 10 ORtg Last Month    57
Name: 14271, dtype: object
14272 1291 13 ORtg Last Month    99.3077
Name: 14272, dtype: object
14273 1350 15 ORtg Last Month    90
Name: 14273, dtype: object
14274 1658 15 ORtg Last Month    110.533
Name: 14274, dtype: object
14275 1743 15 ORtg Last Month    116.2
Name: 14275, dtype: object
14276 1885 15 ORtg Last Month    125.667
Name: 14276, dtype: object
14277 2234 14 ORtg Last Month    159.571
Name: 14277, dtype: object
14278 147 15 ORtg Last Month    9.8
Name: 14278, dtype: object
14279 0 8 ORtg Last Month    0
Name: 14279, dtype: object
14280 1572 15 ORtg Last Month    104.8
Name: 14280, dtype: object
14281 1750 15 ORtg Last Month    116.667
Name: 14281, dtype: object
14282 763 13 ORtg Last Month    58.6923
Name: 14282, dtype: object
14283 1665 15 ORtg Last Month    111
Name: 14283, dtype: object
14284 1761 15 ORtg Last Month    117.4
Name: 14284, dtype: object
14285 1511 15 ORtg Last Month    100.733
Name: 14285, dtype: object
14286 1633 15 ORtg Last Month    108.867
Name: 14286, dtype: object
14287 1756 15 ORtg Last Month    117.067
Name: 14287, dtype: object
14288 920 13 ORtg Last Month    70.7692
Name: 14288, dtype: object
14289 1427 15 ORtg Last Month    95.1333
Name: 14289, dtype: object
14290 509 11 ORtg Last Month    46.2727
Name: 14290, dtype: object
14291 524 8 ORtg Last Month    65.5
Name: 14291, dtype: object
14292 1705 14 ORtg Last Month    121.786
Name: 14292, dtype: object
14293 1568 15 ORtg Last Month    104.533
Name: 14293, dtype: object
14294 0 0 ORtg Last Month    0
Name: 14294, dtype: object
14295 1368 11 ORtg Last Month    124.364
Name: 14295, dtype: object
14296 1469 15 ORtg Last Month    97.9333
Name: 14296, dtype: object
14297 949 9 ORtg Last Month    105.444
Name: 14297, dtype: object
14298 1308 15 ORtg Last Month    87.2
Name: 14298, dtype: object
14299 1582 14 ORtg Last Month    113
Name: 14299, dtype: object
14300 1281 12 ORtg Last Month    106.75
Name: 14300, dtype: object
14301 1294 15 ORtg Last Month    86.2667
Name: 14301, dtype: object
14302 1037 11 ORtg Last Month    94.2727
Name: 14302, dtype: object
14303 1458 14 ORtg Last Month    104.143
Name: 14303, dtype: object
14304 1528 14 ORtg Last Month    109.143
Name: 14304, dtype: object
14305 1115 10 ORtg Last Month    111.5
Name: 14305, dtype: object
14306 0 3 ORtg Last Month    0
Name: 14306, dtype: object
14307 1365 14 ORtg Last Month    97.5
Name: 14307, dtype: object
14308 1756 14 ORtg Last Month    125.429
Name: 14308, dtype: object
14309 1215 13 ORtg Last Month    93.4615
Name: 14309, dtype: object
14310 340 4 ORtg Last Month    85
Name: 14310, dtype: object
14311 873 14 ORtg Last Month    62.3571
Name: 14311, dtype: object
14312 2031 14 ORtg Last Month    145.071
Name: 14312, dtype: object
14313 1504 14 ORtg Last Month    107.429
Name: 14313, dtype: object
14314 1558 13 ORtg Last Month    119.846
Name: 14314, dtype: object
14315 713 13 ORtg Last Month    54.8462
Name: 14315, dtype: object
14316 1247 14 ORtg Last Month    89.0714
Name: 14316, dtype: object
14317 1391 14 ORtg Last Month    99.3571
Name: 14317, dtype: object
14318 851 14 ORtg Last Month    60.7857
Name: 14318, dtype: object
14319 908 14 ORtg Last Month    64.8571
Name: 14319, dtype: object
14320 1570 13 ORtg Last Month    120.769
Name: 14320, dtype: object
14321 1366 12 ORtg Last Month    113.833
Name: 14321, dtype: object
14322 1271 12 ORtg Last Month    105.917
Name: 14322, dtype: object
14323 284 4 ORtg Last Month    71
Name: 14323, dtype: object
14324 1548 14 ORtg Last Month    110.571
Name: 14324, dtype: object
14325 1366 11 ORtg Last Month    124.182
Name: 14325, dtype: object
14326 1544 14 ORtg Last Month    110.286
Name: 14326, dtype: object
14327 778 14 ORtg Last Month    55.5714
Name: 14327, dtype: object
14328 1175 13 ORtg Last Month    90.3846
Name: 14328, dtype: object
14329 1397 11 ORtg Last Month    127
Name: 14329, dtype: object
14330 1366 14 ORtg Last Month    97.5714
Name: 14330, dtype: object
14331 1256 12 ORtg Last Month    104.667
Name: 14331, dtype: object
14332 1432 14 ORtg Last Month    102.286
Name: 14332, dtype: object
14333 1803 14 ORtg Last Month    128.786
Name: 14333, dtype: object
14334 1030 8 ORtg Last Month    128.75
Name: 14334, dtype: object
14335 915 9 ORtg Last Month    101.667
Name: 14335, dtype: object
14336 706 9 ORtg Last Month    78.4444
Name: 14336, dtype: object
14337 1360 13 ORtg Last Month    104.615
Name: 14337, dtype: object
14338 1643 14 ORtg Last Month    117.357
Name: 14338, dtype: object
14339 899 14 ORtg Last Month    64.2143
Name: 14339, dtype: object
14340 1614 13 ORtg Last Month    124.154
Name: 14340, dtype: object
14341 1535 14 ORtg Last Month    109.643
Name: 14341, dtype: object
14342 1463 14 ORtg Last Month    104.5
Name: 14342, dtype: object
14343 175 3 ORtg Last Month    58.3333
Name: 14343, dtype: object
14344 1584 14 ORtg Last Month    113.143
Name: 14344, dtype: object
14345 1600 13 ORtg Last Month    123.077
Name: 14345, dtype: object
14346 1808 14 ORtg Last Month    129.143
Name: 14346, dtype: object
14347 349 14 ORtg Last Month    24.9286
Name: 14347, dtype: object
14348 1408 13 ORtg Last Month    108.308
Name: 14348, dtype: object
14349 928 8 ORtg Last Month    116
Name: 14349, dtype: object
14350 724 12 ORtg Last Month    60.3333
Name: 14350, dtype: object
14351 1031 13 ORtg Last Month    79.3077
Name: 14351, dtype: object
14352 1571 13 ORtg Last Month    120.846
Name: 14352, dtype: object
14353 1327 13 ORtg Last Month    102.077
Name: 14353, dtype: object
14354 1503 12 ORtg Last Month    125.25
Name: 14354, dtype: object
14355 1054 13 ORtg Last Month    81.0769
Name: 14355, dtype: object
14356 169 10 ORtg Last Month    16.9
Name: 14356, dtype: object
14357 591 6 ORtg Last Month    98.5
Name: 14357, dtype: object
14358 1115 13 ORtg Last Month    85.7692
Name: 14358, dtype: object
14359 634 13 ORtg Last Month    48.7692
Name: 14359, dtype: object
14360 1487 14 ORtg Last Month    106.214
Name: 14360, dtype: object
14361 1269 14 ORtg Last Month    90.6429
Name: 14361, dtype: object
14362 1459 15 ORtg Last Month    97.2667
Name: 14362, dtype: object
14363 1267 15 ORtg Last Month    84.4667
Name: 14363, dtype: object
14364 480 11 ORtg Last Month    43.6364
Name: 14364, dtype: object
14365 1577 15 ORtg Last Month    105.133
Name: 14365, dtype: object
14366 900 12 ORtg Last Month    75
Name: 14366, dtype: object
14367 1147 12 ORtg Last Month    95.5833
Name: 14367, dtype: object
14368 1098 12 ORtg Last Month    91.5
Name: 14368, dtype: object
14369 611 5 ORtg Last Month    122.2
Name: 14369, dtype: object
14370 765 12 ORtg Last Month    63.75
Name: 14370, dtype: object
14371 1291 15 ORtg Last Month    86.0667
Name: 14371, dtype: object
14372 1359 16 ORtg Last Month    84.9375
Name: 14372, dtype: object
14373 1504 16 ORtg Last Month    94
Name: 14373, dtype: object
14374 1761 16 ORtg Last Month    110.062
Name: 14374, dtype: object
14375 1805 16 ORtg Last Month    112.812
Name: 14375, dtype: object
14376 1549 16 ORtg Last Month    96.8125
Name: 14376, dtype: object
14377 392 13 ORtg Last Month    30.1538
Name: 14377, dtype: object
14378 1355 15 ORtg Last Month    90.3333
Name: 14378, dtype: object
14379 1964 16 ORtg Last Month    122.75
Name: 14379, dtype: object
14380 1741 16 ORtg Last Month    108.812
Name: 14380, dtype: object
14381 463 15 ORtg Last Month    30.8667
Name: 14381, dtype: object
14382 1576 14 ORtg Last Month    112.571
Name: 14382, dtype: object
14383 1235 14 ORtg Last Month    88.2143
Name: 14383, dtype: object
14384 1342 14 ORtg Last Month    95.8571
Name: 14384, dtype: object
14385 1413 14 ORtg Last Month    100.929
Name: 14385, dtype: object
14386 255 13 ORtg Last Month    19.6154
Name: 14386, dtype: object
14387 1263 14 ORtg Last Month    90.2143
Name: 14387, dtype: object
14388 1311 12 ORtg Last Month    109.25
Name: 14388, dtype: object
14389 880 13 ORtg Last Month    67.6923
Name: 14389, dtype: object
14390 1438 14 ORtg Last Month    102.714
Name: 14390, dtype: object

14391 1476 13 ORtg Last Month    113.538
Name: 14391, dtype: object
14392 1110 13 ORtg Last Month    85.3846
Name: 14392, dtype: object
14393 1755 14 ORtg Last Month    125.357
Name: 14393, dtype: object
14394 1058 10 ORtg Last Month    105.8
Name: 14394, dtype: object
14395 511 12 ORtg Last Month    42.5833
Name: 14395, dtype: object
14396 1601 14 ORtg Last Month    114.357
Name: 14396, dtype: object
14397 1612 14 ORtg Last Month    115.143
Name: 14397, dtype: object
14398 1852 14 ORtg Last Month    132.286
Name: 14398, dtype: object
14399 617 14 ORtg Last Month    44.0714
Name: 14399, dtype: object
14400 544 4 ORtg Last Month    136
Name: 14400, dtype: object
14401 1768 14 ORtg Last Month    126.286
Name: 14401, dtype: object
14402 1487 14 ORtg Last Month    106.214
Name: 14402, dtype: object
14403 0 12 ORtg Last Month    0
Name: 14403, dtype: object
14404 1385 13 ORtg Last Month    106.538
Name: 14404, dtype: object
14405 1771 14 ORtg Last Month    126.5
Name: 14405, dtype: object
14406 1404 14 ORtg Last Month    100.286
Name: 14406, dtype: object
14407 787 13 ORtg Last Month    60.5385
Name: 14407, dtype: object
14408 0 2 ORtg Last Month    0
Name: 14408, dtype: object
14409 973 11 ORtg Last Month    88.4545
Name: 14409, dtype: object
14410 1728 14 ORtg Last Month    123.429
Name: 14410, dtype: object
14411 1610 14 ORtg Last Month    115
Name: 14411, dtype: object
14412 1527 14 ORtg Last Month    109.071
Name: 14412, dtype: object
14413 0 5 ORtg Last Month    0
Name: 14413, dtype: object
14414 1685 14 ORtg Last Month    120.357
Name: 14414, dtype: object
14415 473 13 ORtg Last Month    36.3846
Name: 14415, dtype: object
14416 1420 15 ORtg Last Month    94.6667
Name: 14416, dtype: object
14417 970 10 ORtg Last Month    97
Name: 14417, dtype: object
14418 1442 15 ORtg Last Month    96.1333
Name: 14418, dtype: object
14419 1299 13 ORtg Last Month    99.9231
Name: 14419, dtype: object
14420 363 3 ORtg Last Month    121
Name: 14420, dtype: object
14421 1802 15 ORtg Last Month    120.133
Name: 14421, dtype: object
14422 1361 15 ORtg Last Month    90.7333
Name: 14422, dtype: object
14423 824 15 ORtg Last Month    54.9333
Name: 14423, dtype: object
14424 1494 15 ORtg Last Month    99.6
Name: 14424, dtype: object
14425 760 9 ORtg Last Month    84.4444
Name: 14425, dtype: object
14426 1854 14 ORtg Last Month    132.429
Name: 14426, dtype: object
14427 815 15 ORtg Last Month    54.3333
Name: 14427, dtype: object
14428 1579 14 ORtg Last Month    112.786
Name: 14428, dtype: object
14429 1208 15 ORtg Last Month    80.5333
Name: 14429, dtype: object
14430 1599 14 ORtg Last Month    114.214
Name: 14430, dtype: object
14431 474 10 ORtg Last Month    47.4
Name: 14431, dtype: object
14432 1590 15 ORtg Last Month    106
Name: 14432, dtype: object
14433 1035 13 ORtg Last Month    79.6154
Name: 14433, dtype: object
14434 1469 15 ORtg Last Month    97.9333
Name: 14434, dtype: object
14435 711 12 ORtg Last Month    59.25
Name: 14435, dtype: object
14436 180 6 ORtg Last Month    30
Name: 14436, dtype: object
14437 1460 15 ORtg Last Month    97.3333
Name: 14437, dtype: object
14438 1576 15 ORtg Last Month    105.067
Name: 14438, dtype: object
14439 1149 12 ORtg Last Month    95.75
Name: 14439, dtype: object
14440 617 12 ORtg Last Month    51.4167
Name: 14440, dtype: object
14441 1348 11 ORtg Last Month    122.545
Name: 14441, dtype: object
14442 1492 14 ORtg Last Month    106.571
Name: 14442, dtype: object
14443 1660 14 ORtg Last Month    118.571
Name: 14443, dtype: object
14444 1558 14 ORtg Last Month    111.286
Name: 14444, dtype: object
14445 1434 14 ORtg Last Month    102.429
Name: 14445, dtype: object
14446 1261 14 ORtg Last Month    90.0714
Name: 14446, dtype: object
14447 1715 14 ORtg Last Month    122.5
Name: 14447, dtype: object
14448 270 12 ORtg Last Month    22.5
Name: 14448, dtype: object
14449 1509 14 ORtg Last Month    107.786
Name: 14449, dtype: object
14450 574 6 ORtg Last Month    95.6667
Name: 14450, dtype: object
14451 1647 14 ORtg Last Month    117.643
Name: 14451, dtype: object
14452 1230 11 ORtg Last Month    111.818
Name: 14452, dtype: object
14453 273 13 ORtg Last Month    21
Name: 14453, dtype: object
14454 1465 13 ORtg Last Month    112.692
Name: 14454, dtype: object
14455 434 4 ORtg Last Month    108.5
Name: 14455, dtype: object
14456 890 11 ORtg Last Month    80.9091
Name: 14456, dtype: object
14457 1411 13 ORtg Last Month    108.538
Name: 14457, dtype: object
14458 816 10 ORtg Last Month    81.6
Name: 14458, dtype: object
14459 1249 12 ORtg Last Month    104.083
Name: 14459, dtype: object
14460 300 9 ORtg Last Month    33.3333
Name: 14460, dtype: object
14461 51 12 ORtg Last Month    4.25
Name: 14461, dtype: object
14462 1061 13 ORtg Last Month    81.6154
Name: 14462, dtype: object
14463 1508 12 ORtg Last Month    125.667
Name: 14463, dtype: object
14464 1357 12 ORtg Last Month    113.083
Name: 14464, dtype: object
14465 59 1 ORtg Last Month    59
Name: 14465, dtype: object
14466 1137 13 ORtg Last Month    87.4615
Name: 14466, dtype: object
14467 1527 13 ORtg Last Month    117.462
Name: 14467, dtype: object
14468 912 12 ORtg Last Month    76
Name: 14468, dtype: object
14469 1099 13 ORtg Last Month    84.5385
Name: 14469, dtype: object
14470 1389 14 ORtg Last Month    99.2143
Name: 14470, dtype: object
14471 1373 14 ORtg Last Month    98.0714
Name: 14471, dtype: object
14472 1194 14 ORtg Last Month    85.2857
Name: 14472, dtype: object
14473 1329 13 ORtg Last Month    102.231
Name: 14473, dtype: object
14474 931 11 ORtg Last Month    84.6364
Name: 14474, dtype: object
14475 1384 13 ORtg Last Month    106.462
Name: 14475, dtype: object
14476 844 12 ORtg Last Month    70.3333
Name: 14476, dtype: object
14477 816 13 ORtg Last Month    62.7692
Name: 14477, dtype: object
14478 1683 14 ORtg Last Month    120.214
Name: 14478, dtype: object
14479 1647 14 ORtg Last Month    117.643
Name: 14479, dtype: object
14480 1747 14 ORtg Last Month    124.786
Name: 14480, dtype: object
14481 954 10 ORtg Last Month    95.4
Name: 14481, dtype: object
14482 1101 10 ORtg Last Month    110.1
Name: 14482, dtype: object
14483 1442 14 ORtg Last Month    103
Name: 14483, dtype: object
14484 1184 11 ORtg Last Month    107.636
Name: 14484, dtype: object
14485 999 11 ORtg Last Month    90.8182
Name: 14485, dtype: object
14486 1502 13 ORtg Last Month    115.538
Name: 14486, dtype: object
14487 1303 13 ORtg Last Month    100.231
Name: 14487, dtype: object
14488 1221 14 ORtg Last Month    87.2143
Name: 14488, dtype: object
14489 1399 16 ORtg Last Month    87.4375
Name: 14489, dtype: object
14490 570 11 ORtg Last Month    51.8182
Name: 14490, dtype: object
14491 566 16 ORtg Last Month    35.375
Name: 14491, dtype: object
14492 1018 14 ORtg Last Month    72.7143
Name: 14492, dtype: object
14493 1446 16 ORtg Last Month    90.375
Name: 14493, dtype: object
14494 1761 16 ORtg Last Month    110.062
Name: 14494, dtype: object
14495 1427 14 ORtg Last Month    101.929
Name: 14495, dtype: object
14496 1878 16 ORtg Last Month    117.375
Name: 14496, dtype: object
14497 0 0 ORtg Last Month    0
Name: 14497, dtype: object
14498 2454 15 ORtg Last Month    163.6
Name: 14498, dtype: object
14499 1999 16 ORtg Last Month    124.938
Name: 14499, dtype: object
14500 147 16 ORtg Last Month    9.1875
Name: 14500, dtype: object
14501 0 9 ORtg Last Month    0
Name: 14501, dtype: object
14502 1699 15 ORtg Last Month    113.267
Name: 14502, dtype: object
14503 1574 15 ORtg Last Month    104.933
Name: 14503, dtype: object
14504 135 4 ORtg Last Month    33.75
Name: 14504, dtype: object
14505 1781 15 ORtg Last Month    118.733
Name: 14505, dtype: object
14506 1413 15 ORtg Last Month    94.2
Name: 14506, dtype: object
14507 922 15 ORtg Last Month    61.4667
Name: 14507, dtype: object
14508 951 15 ORtg Last Month    63.4
Name: 14508, dtype: object
14509 1456 15 ORtg Last Month    97.0667
Name: 14509, dtype: object
14510 1613 15 ORtg Last Month    107.533
Name: 14510, dtype: object
14511 1543 15 ORtg Last Month    102.867
Name: 14511, dtype: object
14512 1575 14 ORtg Last Month    112.5
Name: 14512, dtype: object
14513 1608 14 ORtg Last Month    114.857
Name: 14513, dtype: object
14514 1626 14 ORtg Last Month    116.143
Name: 14514, dtype: object

14515 1543 14 ORtg Last Month    110.214
Name: 14515, dtype: object
14516 1611 14 ORtg Last Month    115.071
Name: 14516, dtype: object
14517 980 14 ORtg Last Month    70
Name: 14517, dtype: object
14518 1765 13 ORtg Last Month    135.769
Name: 14518, dtype: object
14519 1230 14 ORtg Last Month    87.8571
Name: 14519, dtype: object
14520 1784 14 ORtg Last Month    127.429
Name: 14520, dtype: object
14521 121 6 ORtg Last Month    20.1667
Name: 14521, dtype: object
14522 1717 14 ORtg Last Month    122.643
Name: 14522, dtype: object
14523 552 10 ORtg Last Month    55.2
Name: 14523, dtype: object
14524 1317 14 ORtg Last Month    94.0714
Name: 14524, dtype: object
14525 737 12 ORtg Last Month    61.4167
Name: 14525, dtype: object
14526 1381 14 ORtg Last Month    98.6429
Name: 14526, dtype: object
14527 1562 14 ORtg Last Month    111.571
Name: 14527, dtype: object
14528 1511 13 ORtg Last Month    116.231
Name: 14528, dtype: object
14529 1306 14 ORtg Last Month    93.2857
Name: 14529, dtype: object
14530 965 12 ORtg Last Month    80.4167
Name: 14530, dtype: object
14531 0 1 ORtg Last Month    0
Name: 14531, dtype: object
14532 1885 14 ORtg Last Month    134.643
Name: 14532, dtype: object
14533 1751 14 ORtg Last Month    125.071
Name: 14533, dtype: object
14534 967 13 ORtg Last Month    74.3846
Name: 14534, dtype: object
14535 1565 15 ORtg Last Month    104.333
Name: 14535, dtype: object
14536 1640 15 ORtg Last Month    109.333
Name: 14536, dtype: object
14537 1201 11 ORtg Last Month    109.182
Name: 14537, dtype: object
14538 122 4 ORtg Last Month    30.5
Name: 14538, dtype: object
14539 120 6 ORtg Last Month    20
Name: 14539, dtype: object
14540 436 5 ORtg Last Month    87.2
Name: 14540, dtype: object
14541 1271 14 ORtg Last Month    90.7857
Name: 14541, dtype: object
14542 1895 15 ORtg Last Month    126.333
Name: 14542, dtype: object
14543 1509 15 ORtg Last Month    100.6
Name: 14543, dtype: object
14544 1013 15 ORtg Last Month    67.5333
Name: 14544, dtype: object
14545 2160 15 ORtg Last Month    144
Name: 14545, dtype: object
14546 1469 12 ORtg Last Month    122.417
Name: 14546, dtype: object
14547 1570 14 ORtg Last Month    112.143
Name: 14547, dtype: object
14548 1551 14 ORtg Last Month    110.786
Name: 14548, dtype: object
14549 861 14 ORtg Last Month    61.5
Name: 14549, dtype: object
14550 1446 11 ORtg Last Month    131.455
Name: 14550, dtype: object
14551 1365 14 ORtg Last Month    97.5
Name: 14551, dtype: object
14552 1370 13 ORtg Last Month    105.385
Name: 14552, dtype: object
14553 1219 13 ORtg Last Month    93.7692
Name: 14553, dtype: object
14554 1376 14 ORtg Last Month    98.2857
Name: 14554, dtype: object
14555 1161 9 ORtg Last Month    129
Name: 14555, dtype: object
14556 918 9 ORtg Last Month    102
Name: 14556, dtype: object
14557 1874 14 ORtg Last Month    133.857
Name: 14557, dtype: object
14558 776 10 ORtg Last Month    77.6
Name: 14558, dtype: object
14559 1244 12 ORtg Last Month    103.667
Name: 14559, dtype: object
14560 1355 12 ORtg Last Month    112.917
Name: 14560, dtype: object
14561 1396 12 ORtg Last Month    116.333
Name: 14561, dtype: object
14562 562 9 ORtg Last Month    62.4444
Name: 14562, dtype: object
14563 501 4 ORtg Last Month    125.25
Name: 14563, dtype: object
14564 1458 12 ORtg Last Month    121.5
Name: 14564, dtype: object
14565 1339 12 ORtg Last Month    111.583
Name: 14565, dtype: object
14566 1330 12 ORtg Last Month    110.833
Name: 14566, dtype: object
14567 471 11 ORtg Last Month    42.8182
Name: 14567, dtype: object
14568 1395 12 ORtg Last Month    116.25
Name: 14568, dtype: object
14569 1401 12 ORtg Last Month    116.75
Name: 14569, dtype: object
14570 725 6 ORtg Last Month    120.833
Name: 14570, dtype: object
14571 1350 14 ORtg Last Month    96.4286
Name: 14571, dtype: object
14572 1398 14 ORtg Last Month    99.8571
Name: 14572, dtype: object
14573 1399 14 ORtg Last Month    99.9286
Name: 14573, dtype: object
14574 1592 14 ORtg Last Month    113.714
Name: 14574, dtype: object
14575 148 13 ORtg Last Month    11.3846
Name: 14575, dtype: object
14576 1413 13 ORtg Last Month    108.692
Name: 14576, dtype: object
14577 1013 14 ORtg Last Month    72.3571
Name: 14577, dtype: object
14578 1274 14 ORtg Last Month    91
Name: 14578, dtype: object
14579 1373 14 ORtg Last Month    98.0714
Name: 14579, dtype: object
14580 1145 13 ORtg Last Month    88.0769
Name: 14580, dtype: object
14581 1760 14 ORtg Last Month    125.714
Name: 14581, dtype: object
14582 1307 14 ORtg Last Month    93.3571
Name: 14582, dtype: object
14583 1289 14 ORtg Last Month    92.0714
Name: 14583, dtype: object
14584 1465 14 ORtg Last Month    104.643
Name: 14584, dtype: object
14585 1626 14 ORtg Last Month    116.143
Name: 14585, dtype: object
14586 1850 14 ORtg Last Month    132.143
Name: 14586, dtype: object
14587 1182 14 ORtg Last Month    84.4286
Name: 14587, dtype: object
14588 791 14 ORtg Last Month    56.5
Name: 14588, dtype: object
14589 1763 14 ORtg Last Month    125.929
Name: 14589, dtype: object
14590 300 3 ORtg Last Month    100
Name: 14590, dtype: object
14591 1263 14 ORtg Last Month    90.2143
Name: 14591, dtype: object
14592 934 14 ORtg Last Month    66.7143
Name: 14592, dtype: object
14593 1173 12 ORtg Last Month    97.75
Name: 14593, dtype: object
14594 1116 12 ORtg Last Month    93
Name: 14594, dtype: object
14595 1290 13 ORtg Last Month    99.2308
Name: 14595, dtype: object
14596 73 13 ORtg Last Month    5.61538
Name: 14596, dtype: object
14597 1478 13 ORtg Last Month    113.692
Name: 14597, dtype: object
14598 1563 13 ORtg Last Month    120.231
Name: 14598, dtype: object
14599 1348 12 ORtg Last Month    112.333
Name: 14599, dtype: object
14600 242 4 ORtg Last Month    60.5
Name: 14600, dtype: object
14601 1163 12 ORtg Last Month    96.9167
Name: 14601, dtype: object
14602 0 12 ORtg Last Month    0
Name: 14602, dtype: object
14603 1458 13 ORtg Last Month    112.154
Name: 14603, dtype: object
14604 1185 12 ORtg Last Month    98.75
Name: 14604, dtype: object
14605 1579 13 ORtg Last Month    121.462
Name: 14605, dtype: object
14606 1394 15 ORtg Last Month    92.9333
Name: 14606, dtype: object
14607 1214 14 ORtg Last Month    86.7143
Name: 14607, dtype: object
14608 280 14 ORtg Last Month    20
Name: 14608, dtype: object
14609 1810 15 ORtg Last Month    120.667
Name: 14609, dtype: object
14610 1666 15 ORtg Last Month    111.067
Name: 14610, dtype: object
14611 1473 15 ORtg Last Month    98.2
Name: 14611, dtype: object
14612 892 15 ORtg Last Month    59.4667
Name: 14612, dtype: object
14613 1242 15 ORtg Last Month    82.8
Name: 14613, dtype: object
14614 1888 15 ORtg Last Month    125.867
Name: 14614, dtype: object
14615 1583 15 ORtg Last Month    105.533
Name: 14615, dtype: object
14616 1558 15 ORtg Last Month    103.867
Name: 14616, dtype: object
14617 1860 15 ORtg Last Month    124
Name: 14617, dtype: object
14618 1690 15 ORtg Last Month    112.667
Name: 14618, dtype: object
14619 1745 15 ORtg Last Month    116.333
Name: 14619, dtype: object
14620 1455 15 ORtg Last Month    97
Name: 14620, dtype: object
14621 889 10 ORtg Last Month    88.9
Name: 14621, dtype: object
14622 1713 15 ORtg Last Month    114.2
Name: 14622, dtype: object
14623 910 14 ORtg Last Month    65
Name: 14623, dtype: object
14624 1762 15 ORtg Last Month    117.467
Name: 14624, dtype: object
14625 748 13 ORtg Last Month    57.5385
Name: 14625, dtype: object
14626 502 3 ORtg Last Month    167.333
Name: 14626, dtype: object
14627 1448 15 ORtg Last Month    96.5333
Name: 14627, dtype: object
14628 1726 15 ORtg Last Month    115.067
Name: 14628, dtype: object
14629 1688 15 ORtg Last Month    112.533
Name: 14629, dtype: object
14630 1700 15 ORtg Last Month    113.333
Name: 14630, dtype: object
14631 1602 15 ORtg Last Month    106.8
Name: 14631, dtype: object
14632 1729 15 ORtg Last Month    115.267
Name: 14632, dtype: object
14633 1847 14 ORtg Last Month    131.929
Name: 14633, dtype: object
14634 997 15 ORtg Last Month    66.4667
Name: 14634, dtype: object
14635 1230 15 ORtg Last Month    82
Name: 14635, dtype: object
14636 1879 15 ORtg Last Month    125.267
Name: 14636, dtype: object
14637 223 7 ORtg Last Month    31.8571
Name: 14637, dtype: object

14638 1808 15 ORtg Last Month    120.533
Name: 14638, dtype: object
14639 552 11 ORtg Last Month    50.1818
Name: 14639, dtype: object
14640 1595 15 ORtg Last Month    106.333
Name: 14640, dtype: object
14641 1639 14 ORtg Last Month    117.071
Name: 14641, dtype: object
14642 732 14 ORtg Last Month    52.2857
Name: 14642, dtype: object
14643 1343 15 ORtg Last Month    89.5333
Name: 14643, dtype: object
14644 908 15 ORtg Last Month    60.5333
Name: 14644, dtype: object
14645 1490 15 ORtg Last Month    99.3333
Name: 14645, dtype: object
14646 884 15 ORtg Last Month    58.9333
Name: 14646, dtype: object
14647 1482 13 ORtg Last Month    114
Name: 14647, dtype: object
14648 1696 14 ORtg Last Month    121.143
Name: 14648, dtype: object
14649 1401 13 ORtg Last Month    107.769
Name: 14649, dtype: object
14650 284 5 ORtg Last Month    56.8
Name: 14650, dtype: object
14651 1470 14 ORtg Last Month    105
Name: 14651, dtype: object
14652 1006 15 ORtg Last Month    67.0667
Name: 14652, dtype: object
14653 1734 15 ORtg Last Month    115.6
Name: 14653, dtype: object
14654 1597 15 ORtg Last Month    106.467
Name: 14654, dtype: object
14655 1732 14 ORtg Last Month    123.714
Name: 14655, dtype: object
14656 158 7 ORtg Last Month    22.5714
Name: 14656, dtype: object
14657 266 4 ORtg Last Month    66.5
Name: 14657, dtype: object
14658 1649 15 ORtg Last Month    109.933
Name: 14658, dtype: object
14659 1946 15 ORtg Last Month    129.733
Name: 14659, dtype: object
14660 0 1 ORtg Last Month    0
Name: 14660, dtype: object
14661 1732 14 ORtg Last Month    123.714
Name: 14661, dtype: object
14662 349 15 ORtg Last Month    23.2667
Name: 14662, dtype: object
14663 914 8 ORtg Last Month    114.25
Name: 14663, dtype: object
14664 1378 13 ORtg Last Month    106
Name: 14664, dtype: object
14665 1556 13 ORtg Last Month    119.692
Name: 14665, dtype: object
14666 1071 13 ORtg Last Month    82.3846
Name: 14666, dtype: object
14667 841 13 ORtg Last Month    64.6923
Name: 14667, dtype: object
14668 1311 12 ORtg Last Month    109.25
Name: 14668, dtype: object
14669 1340 13 ORtg Last Month    103.077
Name: 14669, dtype: object
14670 1354 13 ORtg Last Month    104.154
Name: 14670, dtype: object
14671 112 10 ORtg Last Month    11.2
Name: 14671, dtype: object
14672 587 6 ORtg Last Month    97.8333
Name: 14672, dtype: object
14673 1191 13 ORtg Last Month    91.6154
Name: 14673, dtype: object
14674 757 13 ORtg Last Month    58.2308
Name: 14674, dtype: object
14675 1487 14 ORtg Last Month    106.214
Name: 14675, dtype: object
14676 1173 14 ORtg Last Month    83.7857
Name: 14676, dtype: object
14677 950 13 ORtg Last Month    73.0769
Name: 14677, dtype: object
14678 1157 13 ORtg Last Month    89
Name: 14678, dtype: object
14679 1276 11 ORtg Last Month    116
Name: 14679, dtype: object
14680 1542 14 ORtg Last Month    110.143
Name: 14680, dtype: object
14681 1647 14 ORtg Last Month    117.643
Name: 14681, dtype: object
14682 1331 14 ORtg Last Month    95.0714
Name: 14682, dtype: object
14683 1098 14 ORtg Last Month    78.4286
Name: 14683, dtype: object
14684 403 12 ORtg Last Month    33.5833
Name: 14684, dtype: object
14685 659 7 ORtg Last Month    94.1429
Name: 14685, dtype: object
14686 598 13 ORtg Last Month    46
Name: 14686, dtype: object
14687 1564 15 ORtg Last Month    104.267
Name: 14687, dtype: object
14688 631 11 ORtg Last Month    57.3636
Name: 14688, dtype: object
14689 1289 15 ORtg Last Month    85.9333
Name: 14689, dtype: object
14690 1532 14 ORtg Last Month    109.429
Name: 14690, dtype: object
14691 1334 14 ORtg Last Month    95.2857
Name: 14691, dtype: object
14692 1586 15 ORtg Last Month    105.733
Name: 14692, dtype: object
14693 969 12 ORtg Last Month    80.75
Name: 14693, dtype: object
14694 1049 12 ORtg Last Month    87.4167
Name: 14694, dtype: object
14695 1170 12 ORtg Last Month    97.5
Name: 14695, dtype: object
14696 889 12 ORtg Last Month    74.0833
Name: 14696, dtype: object
14697 534 5 ORtg Last Month    106.8
Name: 14697, dtype: object
14698 1277 15 ORtg Last Month    85.1333
Name: 14698, dtype: object
14699 1313 16 ORtg Last Month    82.0625
Name: 14699, dtype: object
14700 1297 16 ORtg Last Month    81.0625
Name: 14700, dtype: object
14701 1799 16 ORtg Last Month    112.438
Name: 14701, dtype: object
14702 1826 16 ORtg Last Month    114.125
Name: 14702, dtype: object
14703 1427 16 ORtg Last Month    89.1875
Name: 14703, dtype: object
14704 1966 16 ORtg Last Month    122.875
Name: 14704, dtype: object
14705 1723 16 ORtg Last Month    107.688
Name: 14705, dtype: object
14706 1404 15 ORtg Last Month    93.6
Name: 14706, dtype: object
14707 999 12 ORtg Last Month    83.25
Name: 14707, dtype: object
14708 463 15 ORtg Last Month    30.8667
Name: 14708, dtype: object
14709 1475 13 ORtg Last Month    113.462
Name: 14709, dtype: object
14710 1387 13 ORtg Last Month    106.692
Name: 14710, dtype: object
14711 1043 13 ORtg Last Month    80.2308
Name: 14711, dtype: object
14712 1037 11 ORtg Last Month    94.2727
Name: 14712, dtype: object
14713 1535 13 ORtg Last Month    118.077
Name: 14713, dtype: object
14714 1400 11 ORtg Last Month    127.273
Name: 14714, dtype: object
14715 144 1 ORtg Last Month    144
Name: 14715, dtype: object
14716 1685 13 ORtg Last Month    129.615
Name: 14716, dtype: object
14717 1922 13 ORtg Last Month    147.846
Name: 14717, dtype: object
14718 1302 13 ORtg Last Month    100.154
Name: 14718, dtype: object
14719 1050 13 ORtg Last Month    80.7692
Name: 14719, dtype: object
14720 1488 13 ORtg Last Month    114.462
Name: 14720, dtype: object
14721 1738 14 ORtg Last Month    124.143
Name: 14721, dtype: object
14722 655 13 ORtg Last Month    50.3846
Name: 14722, dtype: object
14723 1100 10 ORtg Last Month    110
Name: 14723, dtype: object
14724 1789 14 ORtg Last Month    127.786
Name: 14724, dtype: object
14725 639 4 ORtg Last Month    159.75
Name: 14725, dtype: object
14726 905 14 ORtg Last Month    64.6429
Name: 14726, dtype: object
14727 1591 14 ORtg Last Month    113.643
Name: 14727, dtype: object
14728 1506 14 ORtg Last Month    107.571
Name: 14728, dtype: object
14729 1772 14 ORtg Last Month    126.571
Name: 14729, dtype: object
14730 0 13 ORtg Last Month    0
Name: 14730, dtype: object
14731 1344 14 ORtg Last Month    96
Name: 14731, dtype: object
14732 1493 14 ORtg Last Month    106.643
Name: 14732, dtype: object
14733 1726 14 ORtg Last Month    123.286
Name: 14733, dtype: object
14734 1476 14 ORtg Last Month    105.429
Name: 14734, dtype: object
14735 809 13 ORtg Last Month    62.2308
Name: 14735, dtype: object
14736 0 2 ORtg Last Month    0
Name: 14736, dtype: object
14737 1687 14 ORtg Last Month    120.5
Name: 14737, dtype: object
14738 965 11 ORtg Last Month    87.7273
Name: 14738, dtype: object
14739 1589 14 ORtg Last Month    113.5
Name: 14739, dtype: object
14740 1554 14 ORtg Last Month    111
Name: 14740, dtype: object
14741 62 5 ORtg Last Month    12.4
Name: 14741, dtype: object
14742 1732 14 ORtg Last Month    123.714
Name: 14742, dtype: object
14743 598 13 ORtg Last Month    46
Name: 14743, dtype: object
14744 1426 15 ORtg Last Month    95.0667
Name: 14744, dtype: object
14745 1068 11 ORtg Last Month    97.0909
Name: 14745, dtype: object
14746 1402 15 ORtg Last Month    93.4667
Name: 14746, dtype: object
14747 489 4 ORtg Last Month    122.25
Name: 14747, dtype: object
14748 1311 13 ORtg Last Month    100.846
Name: 14748, dtype: object
14749 1807 15 ORtg Last Month    120.467
Name: 14749, dtype: object
14750 1365 15 ORtg Last Month    91
Name: 14750, dtype: object
14751 752 15 ORtg Last Month    50.1333
Name: 14751, dtype: object
14752 1629 15 ORtg Last Month    108.6
Name: 14752, dtype: object
14753 868 9 ORtg Last Month    96.4444
Name: 14753, dtype: object
14754 815 15 ORtg Last Month    54.3333
Name: 14754, dtype: object
14755 1683 14 ORtg Last Month    120.214
Name: 14755, dtype: object
14756 1435 14 ORtg Last Month    102.5
Name: 14756, dtype: object
14757 1362 11 ORtg Last Month    123.818
Name: 14757, dtype: object
14758 1683 14 ORtg Last Month    120.214
Name: 14758, dtype: object
14759 1457 14 ORtg Last Month    104.071
Name: 14759, dtype: object
14760 1267 14 ORtg Last Month    90.5
Name: 14760, dtype: object

14761 1815 14 ORtg Last Month    129.643
Name: 14761, dtype: object
14762 270 13 ORtg Last Month    20.7692
Name: 14762, dtype: object
14763 1471 14 ORtg Last Month    105.071
Name: 14763, dtype: object
14764 564 6 ORtg Last Month    94
Name: 14764, dtype: object
14765 1107 11 ORtg Last Month    100.636
Name: 14765, dtype: object
14766 1618 14 ORtg Last Month    115.571
Name: 14766, dtype: object
14767 0 0 ORtg Last Month    0
Name: 14767, dtype: object
14768 225 13 ORtg Last Month    17.3077
Name: 14768, dtype: object
14769 769 8 ORtg Last Month    96.125
Name: 14769, dtype: object
14770 603 6 ORtg Last Month    100.5
Name: 14770, dtype: object
14771 1658 14 ORtg Last Month    118.429
Name: 14771, dtype: object
14772 247 11 ORtg Last Month    22.4545
Name: 14772, dtype: object
14773 1490 14 ORtg Last Month    106.429
Name: 14773, dtype: object
14774 1338 14 ORtg Last Month    95.5714
Name: 14774, dtype: object
14775 1561 14 ORtg Last Month    111.5
Name: 14775, dtype: object
14776 571 14 ORtg Last Month    40.7857
Name: 14776, dtype: object
14777 0 1 ORtg Last Month    0
Name: 14777, dtype: object
14778 98 14 ORtg Last Month    7
Name: 14778, dtype: object
14779 1654 14 ORtg Last Month    118.143
Name: 14779, dtype: object
14780 1620 13 ORtg Last Month    124.615
Name: 14780, dtype: object
14781 1764 14 ORtg Last Month    126
Name: 14781, dtype: object
14782 1365 13 ORtg Last Month    105
Name: 14782, dtype: object
14783 709 11 ORtg Last Month    64.4545
Name: 14783, dtype: object
14784 479 7 ORtg Last Month    68.4286
Name: 14784, dtype: object
14785 971 13 ORtg Last Month    74.6923
Name: 14785, dtype: object
14786 806 10 ORtg Last Month    80.6
Name: 14786, dtype: object
14787 1294 13 ORtg Last Month    99.5385
Name: 14787, dtype: object
14788 401 11 ORtg Last Month    36.4545
Name: 14788, dtype: object
14789 657 12 ORtg Last Month    54.75
Name: 14789, dtype: object
14790 1420 13 ORtg Last Month    109.231
Name: 14790, dtype: object
14791 1620 13 ORtg Last Month    124.615
Name: 14791, dtype: object
14792 1642 14 ORtg Last Month    117.286
Name: 14792, dtype: object
14793 1601 14 ORtg Last Month    114.357
Name: 14793, dtype: object
14794 1687 14 ORtg Last Month    120.5
Name: 14794, dtype: object
14795 773 10 ORtg Last Month    77.3
Name: 14795, dtype: object
14796 1161 10 ORtg Last Month    116.1
Name: 14796, dtype: object
14797 1462 12 ORtg Last Month    121.833
Name: 14797, dtype: object
14798 1204 11 ORtg Last Month    109.455
Name: 14798, dtype: object
14799 999 12 ORtg Last Month    83.25
Name: 14799, dtype: object
14800 1423 14 ORtg Last Month    101.643
Name: 14800, dtype: object
14801 1274 13 ORtg Last Month    98
Name: 14801, dtype: object
14802 1704 15 ORtg Last Month    113.6
Name: 14802, dtype: object
14803 1573 15 ORtg Last Month    104.867
Name: 14803, dtype: object
14804 198 5 ORtg Last Month    39.6
Name: 14804, dtype: object
14805 1409 15 ORtg Last Month    93.9333
Name: 14805, dtype: object
14806 1121 15 ORtg Last Month    74.7333
Name: 14806, dtype: object
14807 1764 15 ORtg Last Month    117.6
Name: 14807, dtype: object
14808 1024 15 ORtg Last Month    68.2667
Name: 14808, dtype: object
14809 1597 15 ORtg Last Month    106.467
Name: 14809, dtype: object
14810 1519 15 ORtg Last Month    101.267
Name: 14810, dtype: object
14811 1604 15 ORtg Last Month    106.933
Name: 14811, dtype: object
14812 1535 14 ORtg Last Month    109.643
Name: 14812, dtype: object
14813 1496 13 ORtg Last Month    115.077
Name: 14813, dtype: object
14814 439 7 ORtg Last Month    62.7143
Name: 14814, dtype: object
14815 1396 11 ORtg Last Month    126.909
Name: 14815, dtype: object
14816 1188 12 ORtg Last Month    99
Name: 14816, dtype: object
14817 1471 14 ORtg Last Month    105.071
Name: 14817, dtype: object
14818 988 10 ORtg Last Month    98.8
Name: 14818, dtype: object
14819 1103 14 ORtg Last Month    78.7857
Name: 14819, dtype: object
14820 534 10 ORtg Last Month    53.4
Name: 14820, dtype: object
14821 1390 13 ORtg Last Month    106.923
Name: 14821, dtype: object
14822 1127 11 ORtg Last Month    102.455
Name: 14822, dtype: object
14823 1270 14 ORtg Last Month    90.7143
Name: 14823, dtype: object
14824 1037 12 ORtg Last Month    86.4167
Name: 14824, dtype: object
14825 1369 14 ORtg Last Month    97.7857
Name: 14825, dtype: object
14826 1369 14 ORtg Last Month    97.7857
Name: 14826, dtype: object
14827 1348 14 ORtg Last Month    96.2857
Name: 14827, dtype: object
14828 1517 13 ORtg Last Month    116.692
Name: 14828, dtype: object
14829 1560 14 ORtg Last Month    111.429
Name: 14829, dtype: object
14830 1018 12 ORtg Last Month    84.8333
Name: 14830, dtype: object
14831 0 2 ORtg Last Month    0
Name: 14831, dtype: object
14832 1851 14 ORtg Last Month    132.214
Name: 14832, dtype: object
14833 1734 14 ORtg Last Month    123.857
Name: 14833, dtype: object
14834 807 13 ORtg Last Month    62.0769
Name: 14834, dtype: object
14835 1609 15 ORtg Last Month    107.267
Name: 14835, dtype: object
14836 1647 15 ORtg Last Month    109.8
Name: 14836, dtype: object
14837 1349 12 ORtg Last Month    112.417
Name: 14837, dtype: object
14838 122 5 ORtg Last Month    24.4
Name: 14838, dtype: object
14839 228 7 ORtg Last Month    32.5714
Name: 14839, dtype: object
14840 1240 13 ORtg Last Month    95.3846
Name: 14840, dtype: object
14841 1900 15 ORtg Last Month    126.667
Name: 14841, dtype: object
14842 545 5 ORtg Last Month    109
Name: 14842, dtype: object
14843 1570 15 ORtg Last Month    104.667
Name: 14843, dtype: object
14844 2178 15 ORtg Last Month    145.2
Name: 14844, dtype: object
14845 944 15 ORtg Last Month    62.9333
Name: 14845, dtype: object
14846 1452 12 ORtg Last Month    121
Name: 14846, dtype: object
14847 1560 14 ORtg Last Month    111.429
Name: 14847, dtype: object
14848 1489 14 ORtg Last Month    106.357
Name: 14848, dtype: object
14849 1024 14 ORtg Last Month    73.1429
Name: 14849, dtype: object
14850 1437 11 ORtg Last Month    130.636
Name: 14850, dtype: object
14851 1399 14 ORtg Last Month    99.9286
Name: 14851, dtype: object
14852 1279 14 ORtg Last Month    91.3571
Name: 14852, dtype: object
14853 1478 14 ORtg Last Month    105.571
Name: 14853, dtype: object
14854 1546 14 ORtg Last Month    110.429
Name: 14854, dtype: object
14855 1205 10 ORtg Last Month    120.5
Name: 14855, dtype: object
14856 1834 14 ORtg Last Month    131
Name: 14856, dtype: object
14857 980 9 ORtg Last Month    108.889
Name: 14857, dtype: object
14858 862 11 ORtg Last Month    78.3636
Name: 14858, dtype: object
14859 1455 14 ORtg Last Month    103.929
Name: 14859, dtype: object
14860 1027 9 ORtg Last Month    114.111
Name: 14860, dtype: object
14861 1170 14 ORtg Last Month    83.5714
Name: 14861, dtype: object
14862 1739 14 ORtg Last Month    124.214
Name: 14862, dtype: object
14863 980 14 ORtg Last Month    70
Name: 14863, dtype: object
14864 1432 14 ORtg Last Month    102.286
Name: 14864, dtype: object
14865 1392 13 ORtg Last Month    107.077
Name: 14865, dtype: object
14866 112 11 ORtg Last Month    10.1818
Name: 14866, dtype: object
14867 1345 13 ORtg Last Month    103.462
Name: 14867, dtype: object
14868 1310 14 ORtg Last Month    93.5714
Name: 14868, dtype: object
14869 865 14 ORtg Last Month    61.7857
Name: 14869, dtype: object
14870 1459 14 ORtg Last Month    104.214
Name: 14870, dtype: object
14871 1059 14 ORtg Last Month    75.6429
Name: 14871, dtype: object
14872 1236 14 ORtg Last Month    88.2857
Name: 14872, dtype: object
14873 63 2 ORtg Last Month    31.5
Name: 14873, dtype: object
14874 1599 14 ORtg Last Month    114.214
Name: 14874, dtype: object
14875 1550 14 ORtg Last Month    110.714
Name: 14875, dtype: object
14876 1456 14 ORtg Last Month    104
Name: 14876, dtype: object
14877 1277 11 ORtg Last Month    116.091
Name: 14877, dtype: object
14878 1116 14 ORtg Last Month    79.7143
Name: 14878, dtype: object
14879 526 12 ORtg Last Month    43.8333
Name: 14879, dtype: object
14880 744 7 ORtg Last Month    106.286
Name: 14880, dtype: object
14881 644 13 ORtg Last Month    49.5385
Name: 14881, dtype: object
14882 1359 13 ORtg Last Month    104.538
Name: 14882, dtype: object
14883 1538 13 ORtg Last Month    118.308
Name: 14883, dtype: object
14884 1524 13 ORtg Last Month    117.231
Name: 14884, dtype: object

14885 599 10 ORtg Last Month    59.9
Name: 14885, dtype: object
14886 0 0 ORtg Last Month    0
Name: 14886, dtype: object
14887 1604 13 ORtg Last Month    123.385
Name: 14887, dtype: object
14888 1424 13 ORtg Last Month    109.538
Name: 14888, dtype: object
14889 771 12 ORtg Last Month    64.25
Name: 14889, dtype: object
14890 1518 13 ORtg Last Month    116.769
Name: 14890, dtype: object
14891 816 7 ORtg Last Month    116.571
Name: 14891, dtype: object
14892 1551 13 ORtg Last Month    119.308
Name: 14892, dtype: object
14893 1555 14 ORtg Last Month    111.071
Name: 14893, dtype: object
14894 1336 14 ORtg Last Month    95.4286
Name: 14894, dtype: object
14895 1399 14 ORtg Last Month    99.9286
Name: 14895, dtype: object
14896 273 13 ORtg Last Month    21
Name: 14896, dtype: object
14897 1358 14 ORtg Last Month    97
Name: 14897, dtype: object
14898 1571 14 ORtg Last Month    112.214
Name: 14898, dtype: object
14899 1046 14 ORtg Last Month    74.7143
Name: 14899, dtype: object
14900 1275 14 ORtg Last Month    91.0714
Name: 14900, dtype: object
14901 1442 13 ORtg Last Month    110.923
Name: 14901, dtype: object
14902 1348 14 ORtg Last Month    96.2857
Name: 14902, dtype: object
14903 1116 13 ORtg Last Month    85.8462
Name: 14903, dtype: object
14904 583 10 ORtg Last Month    58.3
Name: 14904, dtype: object
14905 1326 14 ORtg Last Month    94.7143
Name: 14905, dtype: object
14906 1416 14 ORtg Last Month    101.143
Name: 14906, dtype: object
14907 1792 14 ORtg Last Month    128
Name: 14907, dtype: object
14908 1329 14 ORtg Last Month    94.9286
Name: 14908, dtype: object
14909 1838 14 ORtg Last Month    131.286
Name: 14909, dtype: object
14910 1650 14 ORtg Last Month    117.857
Name: 14910, dtype: object
14911 1130 14 ORtg Last Month    80.7143
Name: 14911, dtype: object
14912 659 14 ORtg Last Month    47.0714
Name: 14912, dtype: object
14913 1786 14 ORtg Last Month    127.571
Name: 14913, dtype: object
14914 1277 14 ORtg Last Month    91.2143
Name: 14914, dtype: object
14915 780 14 ORtg Last Month    55.7143
Name: 14915, dtype: object
14916 401 4 ORtg Last Month    100.25
Name: 14916, dtype: object
14917 1429 13 ORtg Last Month    109.923
Name: 14917, dtype: object
14918 1120 14 ORtg Last Month    80
Name: 14918, dtype: object
14919 1546 13 ORtg Last Month    118.923
Name: 14919, dtype: object
14920 474 11 ORtg Last Month    43.0909
Name: 14920, dtype: object
14921 1402 14 ORtg Last Month    100.143
Name: 14921, dtype: object
14922 597 11 ORtg Last Month    54.2727
Name: 14922, dtype: object
14923 1343 14 ORtg Last Month    95.9286
Name: 14923, dtype: object
14924 1031 13 ORtg Last Month    79.3077
Name: 14924, dtype: object
14925 180 7 ORtg Last Month    25.7143
Name: 14925, dtype: object
14926 1426 14 ORtg Last Month    101.857
Name: 14926, dtype: object
14927 1455 14 ORtg Last Month    103.929
Name: 14927, dtype: object
14928 1034 11 ORtg Last Month    94
Name: 14928, dtype: object
14929 617 12 ORtg Last Month    51.4167
Name: 14929, dtype: object
14930 1269 12 ORtg Last Month    105.75
Name: 14930, dtype: object
14931 1154 12 ORtg Last Month    96.1667
Name: 14931, dtype: object
14932 1378 13 ORtg Last Month    106
Name: 14932, dtype: object
14933 0 13 ORtg Last Month    0
Name: 14933, dtype: object
14934 1556 13 ORtg Last Month    119.692
Name: 14934, dtype: object
14935 1578 13 ORtg Last Month    121.385
Name: 14935, dtype: object
14936 1077 12 ORtg Last Month    89.75
Name: 14936, dtype: object
14937 335 5 ORtg Last Month    67
Name: 14937, dtype: object
14938 0 12 ORtg Last Month    0
Name: 14938, dtype: object
14939 1565 13 ORtg Last Month    120.385
Name: 14939, dtype: object
14940 1445 13 ORtg Last Month    111.154
Name: 14940, dtype: object
14941 1360 12 ORtg Last Month    113.333
Name: 14941, dtype: object
14942 1655 14 ORtg Last Month    118.214
Name: 14942, dtype: object
14943 565 6 ORtg Last Month    94.1667
Name: 14943, dtype: object
14944 247 12 ORtg Last Month    20.5833
Name: 14944, dtype: object
14945 44 7 ORtg Last Month    6.28571
Name: 14945, dtype: object
14946 1476 14 ORtg Last Month    105.429
Name: 14946, dtype: object
14947 1265 14 ORtg Last Month    90.3571
Name: 14947, dtype: object
14948 1414 14 ORtg Last Month    101
Name: 14948, dtype: object
14949 98 14 ORtg Last Month    7
Name: 14949, dtype: object
14950 571 14 ORtg Last Month    40.7857
Name: 14950, dtype: object
14951 0 2 ORtg Last Month    0
Name: 14951, dtype: object
14952 1679 14 ORtg Last Month    119.929
Name: 14952, dtype: object
14953 1651 13 ORtg Last Month    127
Name: 14953, dtype: object
14954 1734 14 ORtg Last Month    123.857
Name: 14954, dtype: object
14955 1429 12 ORtg Last Month    119.083
Name: 14955, dtype: object
14956 527 5 ORtg Last Month    105.4
Name: 14956, dtype: object
14957 976 11 ORtg Last Month    88.7273
Name: 14957, dtype: object
14958 1280 12 ORtg Last Month    106.667
Name: 14958, dtype: object
14959 797 9 ORtg Last Month    88.5556
Name: 14959, dtype: object
14960 1065 10 ORtg Last Month    106.5
Name: 14960, dtype: object
14961 1081 11 ORtg Last Month    98.2727
Name: 14961, dtype: object
14962 51 11 ORtg Last Month    4.63636
Name: 14962, dtype: object
14963 861 12 ORtg Last Month    71.75
Name: 14963, dtype: object
14964 1446 11 ORtg Last Month    131.455
Name: 14964, dtype: object
14965 1294 11 ORtg Last Month    117.636
Name: 14965, dtype: object
14966 128 1 ORtg Last Month    128
Name: 14966, dtype: object
14967 1260 12 ORtg Last Month    105
Name: 14967, dtype: object
14968 1432 15 ORtg Last Month    95.4667
Name: 14968, dtype: object
14969 1216 14 ORtg Last Month    86.8571
Name: 14969, dtype: object
14970 280 14 ORtg Last Month    20
Name: 14970, dtype: object
14971 1654 15 ORtg Last Month    110.267
Name: 14971, dtype: object
14972 1814 15 ORtg Last Month    120.933
Name: 14972, dtype: object
14973 1050 15 ORtg Last Month    70
Name: 14973, dtype: object
14974 1517 15 ORtg Last Month    101.133
Name: 14974, dtype: object
14975 1449 15 ORtg Last Month    96.6
Name: 14975, dtype: object
14976 1869 15 ORtg Last Month    124.6
Name: 14976, dtype: object
14977 1624 15 ORtg Last Month    108.267
Name: 14977, dtype: object
14978 1602 13 ORtg Last Month    123.231
Name: 14978, dtype: object
14979 891 12 ORtg Last Month    74.25
Name: 14979, dtype: object
14980 1017 13 ORtg Last Month    78.2308
Name: 14980, dtype: object
14981 1425 14 ORtg Last Month    101.786
Name: 14981, dtype: object
14982 1389 14 ORtg Last Month    99.2143
Name: 14982, dtype: object
14983 1340 14 ORtg Last Month    95.7143
Name: 14983, dtype: object
14984 1259 14 ORtg Last Month    89.9286
Name: 14984, dtype: object
14985 0 1 ORtg Last Month    0
Name: 14985, dtype: object
14986 793 11 ORtg Last Month    72.0909
Name: 14986, dtype: object
14987 1429 13 ORtg Last Month    109.923
Name: 14987, dtype: object
14988 883 12 ORtg Last Month    73.5833
Name: 14988, dtype: object
14989 533 13 ORtg Last Month    41
Name: 14989, dtype: object
14990 1302 15 ORtg Last Month    86.8
Name: 14990, dtype: object
14991 599 11 ORtg Last Month    54.4545
Name: 14991, dtype: object
14992 434 15 ORtg Last Month    28.9333
Name: 14992, dtype: object
14993 1265 13 ORtg Last Month    97.3077
Name: 14993, dtype: object
14994 1385 15 ORtg Last Month    92.3333
Name: 14994, dtype: object
14995 1638 15 ORtg Last Month    109.2
Name: 14995, dtype: object
14996 1775 15 ORtg Last Month    118.333
Name: 14996, dtype: object
14997 1802 15 ORtg Last Month    120.133
Name: 14997, dtype: object
14998 2350 14 ORtg Last Month    167.857
Name: 14998, dtype: object
14999 0 1 ORtg Last Month    0
Name: 14999, dtype: object
15000 100 15 ORtg Last Month    6.66667
Name: 15000, dtype: object
15001 0 8 ORtg Last Month    0
Name: 15001, dtype: object
15002 1558 15 ORtg Last Month    103.867
Name: 15002, dtype: object
15003 1776 15 ORtg Last Month    118.4
Name: 15003, dtype: object
15004 1396 15 ORtg Last Month    93.0667
Name: 15004, dtype: object
15005 1731 15 ORtg Last Month    115.4
Name: 15005, dtype: object
15006 894 10 ORtg Last Month    89.4
Name: 15006, dtype: object
15007 1664 15 ORtg Last Month    110.933
Name: 15007, dtype: object
15008 1720 15 ORtg Last Month    114.667
Name: 15008, dtype: object

15009 971 15 ORtg Last Month    64.7333
Name: 15009, dtype: object
15010 1757 15 ORtg Last Month    117.133
Name: 15010, dtype: object
15011 429 3 ORtg Last Month    143
Name: 15011, dtype: object
15012 845 13 ORtg Last Month    65
Name: 15012, dtype: object
15013 1360 15 ORtg Last Month    90.6667
Name: 15013, dtype: object
15014 1769 15 ORtg Last Month    117.933
Name: 15014, dtype: object
15015 1691 15 ORtg Last Month    112.733
Name: 15015, dtype: object
15016 1735 15 ORtg Last Month    115.667
Name: 15016, dtype: object
15017 1571 15 ORtg Last Month    104.733
Name: 15017, dtype: object
15018 1768 15 ORtg Last Month    117.867
Name: 15018, dtype: object
15019 2128 15 ORtg Last Month    141.867
Name: 15019, dtype: object
15020 820 15 ORtg Last Month    54.6667
Name: 15020, dtype: object
15021 1091 15 ORtg Last Month    72.7333
Name: 15021, dtype: object
15022 1929 15 ORtg Last Month    128.6
Name: 15022, dtype: object
15023 1919 15 ORtg Last Month    127.933
Name: 15023, dtype: object
15024 452 8 ORtg Last Month    56.5
Name: 15024, dtype: object
15025 552 12 ORtg Last Month    46
Name: 15025, dtype: object
15026 1389 14 ORtg Last Month    99.2143
Name: 15026, dtype: object
15027 0 1 ORtg Last Month    0
Name: 15027, dtype: object
15028 1361 14 ORtg Last Month    97.2143
Name: 15028, dtype: object
15029 1503 14 ORtg Last Month    107.357
Name: 15029, dtype: object
15030 1364 14 ORtg Last Month    97.4286
Name: 15030, dtype: object
15031 1410 13 ORtg Last Month    108.462
Name: 15031, dtype: object
15032 60 3 ORtg Last Month    20
Name: 15032, dtype: object
15033 998 12 ORtg Last Month    83.1667
Name: 15033, dtype: object
15034 1831 14 ORtg Last Month    130.786
Name: 15034, dtype: object
15035 1687 14 ORtg Last Month    120.5
Name: 15035, dtype: object
15036 871 13 ORtg Last Month    67
Name: 15036, dtype: object
15037 1582 15 ORtg Last Month    105.467
Name: 15037, dtype: object
15038 1751 14 ORtg Last Month    125.071
Name: 15038, dtype: object
15039 284 6 ORtg Last Month    47.3333
Name: 15039, dtype: object
15040 1388 15 ORtg Last Month    92.5333
Name: 15040, dtype: object
15041 1326 13 ORtg Last Month    102
Name: 15041, dtype: object
15042 1756 15 ORtg Last Month    117.067
Name: 15042, dtype: object
15043 1445 15 ORtg Last Month    96.3333
Name: 15043, dtype: object
15044 870 15 ORtg Last Month    58
Name: 15044, dtype: object
15045 1647 15 ORtg Last Month    109.8
Name: 15045, dtype: object
15046 1299 15 ORtg Last Month    86.6
Name: 15046, dtype: object
15047 1488 14 ORtg Last Month    106.286
Name: 15047, dtype: object
15048 1265 14 ORtg Last Month    90.3571
Name: 15048, dtype: object
15049 715 11 ORtg Last Month    65
Name: 15049, dtype: object
15050 1603 15 ORtg Last Month    106.867
Name: 15050, dtype: object
15051 975 12 ORtg Last Month    81.25
Name: 15051, dtype: object
15052 1159 12 ORtg Last Month    96.5833
Name: 15052, dtype: object
15053 994 12 ORtg Last Month    82.8333
Name: 15053, dtype: object
15054 621 6 ORtg Last Month    103.5
Name: 15054, dtype: object
15055 1067 12 ORtg Last Month    88.9167
Name: 15055, dtype: object
15056 1215 15 ORtg Last Month    81
Name: 15056, dtype: object
15057 1722 15 ORtg Last Month    114.8
Name: 15057, dtype: object
15058 1283 15 ORtg Last Month    85.5333
Name: 15058, dtype: object
15059 1125 15 ORtg Last Month    75
Name: 15059, dtype: object
15060 0 0 ORtg Last Month    0
Name: 15060, dtype: object
15061 1709 15 ORtg Last Month    113.933
Name: 15061, dtype: object
15062 1306 15 ORtg Last Month    87.0667
Name: 15062, dtype: object
15063 345 11 ORtg Last Month    31.3636
Name: 15063, dtype: object
15064 1837 15 ORtg Last Month    122.467
Name: 15064, dtype: object
15065 1402 14 ORtg Last Month    100.143
Name: 15065, dtype: object
15066 1710 15 ORtg Last Month    114
Name: 15066, dtype: object
15067 888 12 ORtg Last Month    74
Name: 15067, dtype: object
15068 463 14 ORtg Last Month    33.0714
Name: 15068, dtype: object
15069 1432 14 ORtg Last Month    102.286
Name: 15069, dtype: object
15070 1643 14 ORtg Last Month    117.357
Name: 15070, dtype: object
15071 1652 14 ORtg Last Month    118
Name: 15071, dtype: object
15072 599 11 ORtg Last Month    54.4545
Name: 15072, dtype: object
15073 1657 14 ORtg Last Month    118.357
Name: 15073, dtype: object
15074 72 1 ORtg Last Month    72
Name: 15074, dtype: object
15075 1467 14 ORtg Last Month    104.786
Name: 15075, dtype: object
15076 771 13 ORtg Last Month    59.3077
Name: 15076, dtype: object
15077 1642 14 ORtg Last Month    117.286
Name: 15077, dtype: object
15078 1706 14 ORtg Last Month    121.857
Name: 15078, dtype: object
15079 896 8 ORtg Last Month    112
Name: 15079, dtype: object
15080 317 7 ORtg Last Month    45.2857
Name: 15080, dtype: object
15081 1550 13 ORtg Last Month    119.231
Name: 15081, dtype: object
15082 1456 13 ORtg Last Month    112
Name: 15082, dtype: object
15083 1077 11 ORtg Last Month    97.9091
Name: 15083, dtype: object
15084 1076 13 ORtg Last Month    82.7692
Name: 15084, dtype: object
15085 1598 13 ORtg Last Month    122.923
Name: 15085, dtype: object
15086 1538 12 ORtg Last Month    128.167
Name: 15086, dtype: object
15087 1643 13 ORtg Last Month    126.385
Name: 15087, dtype: object
15088 1444 13 ORtg Last Month    111.077
Name: 15088, dtype: object
15089 2014 13 ORtg Last Month    154.923
Name: 15089, dtype: object
15090 1550 13 ORtg Last Month    119.231
Name: 15090, dtype: object
15091 1020 13 ORtg Last Month    78.4615
Name: 15091, dtype: object
15092 1737 14 ORtg Last Month    124.071
Name: 15092, dtype: object
15093 1178 10 ORtg Last Month    117.8
Name: 15093, dtype: object
15094 714 13 ORtg Last Month    54.9231
Name: 15094, dtype: object
15095 1634 14 ORtg Last Month    116.714
Name: 15095, dtype: object
15096 1750 14 ORtg Last Month    125
Name: 15096, dtype: object
15097 1487 14 ORtg Last Month    106.214
Name: 15097, dtype: object
15098 770 5 ORtg Last Month    154
Name: 15098, dtype: object
15099 1048 14 ORtg Last Month    74.8571
Name: 15099, dtype: object
15100 1810 14 ORtg Last Month    129.286
Name: 15100, dtype: object
15101 90 14 ORtg Last Month    6.42857
Name: 15101, dtype: object
15102 1370 14 ORtg Last Month    97.8571
Name: 15102, dtype: object
15103 1418 15 ORtg Last Month    94.5333
Name: 15103, dtype: object
15104 1156 12 ORtg Last Month    96.3333
Name: 15104, dtype: object
15105 1338 15 ORtg Last Month    89.2
Name: 15105, dtype: object
15106 1254 13 ORtg Last Month    96.4615
Name: 15106, dtype: object
15107 1784 15 ORtg Last Month    118.933
Name: 15107, dtype: object
15108 590 5 ORtg Last Month    118
Name: 15108, dtype: object
15109 772 15 ORtg Last Month    51.4667
Name: 15109, dtype: object
15110 1408 15 ORtg Last Month    93.8667
Name: 15110, dtype: object
15111 818 9 ORtg Last Month    90.8889
Name: 15111, dtype: object
15112 1737 15 ORtg Last Month    115.8
Name: 15112, dtype: object
15113 1761 14 ORtg Last Month    125.786
Name: 15113, dtype: object
15114 951 15 ORtg Last Month    63.4
Name: 15114, dtype: object
15115 1570 13 ORtg Last Month    120.769
Name: 15115, dtype: object
15116 1401 14 ORtg Last Month    100.071
Name: 15116, dtype: object
15117 1511 14 ORtg Last Month    107.929
Name: 15117, dtype: object
15118 1392 11 ORtg Last Month    126.545
Name: 15118, dtype: object
15119 1186 12 ORtg Last Month    98.8333
Name: 15119, dtype: object
15120 1599 14 ORtg Last Month    114.214
Name: 15120, dtype: object
15121 653 6 ORtg Last Month    108.833
Name: 15121, dtype: object
15122 1522 14 ORtg Last Month    108.714
Name: 15122, dtype: object
15123 1743 14 ORtg Last Month    124.5
Name: 15123, dtype: object
15124 1244 14 ORtg Last Month    88.8571
Name: 15124, dtype: object
15125 225 13 ORtg Last Month    17.3077
Name: 15125, dtype: object
15126 270 13 ORtg Last Month    20.7692
Name: 15126, dtype: object
15127 1363 13 ORtg Last Month    104.846
Name: 15127, dtype: object
15128 657 10 ORtg Last Month    65.7
Name: 15128, dtype: object
15129 629 8 ORtg Last Month    78.625
Name: 15129, dtype: object
15130 816 12 ORtg Last Month    68
Name: 15130, dtype: object
15131 1283 13 ORtg Last Month    98.6923
Name: 15131, dtype: object
15132 990 13 ORtg Last Month    76.1538
Name: 15132, dtype: object

15133 911 10 ORtg Last Month    91.1
Name: 15133, dtype: object
15134 514 12 ORtg Last Month    42.8333
Name: 15134, dtype: object
15135 657 13 ORtg Last Month    50.5385
Name: 15135, dtype: object
15136 1580 13 ORtg Last Month    121.538
Name: 15136, dtype: object
15137 1416 13 ORtg Last Month    108.923
Name: 15137, dtype: object
15138 1535 13 ORtg Last Month    118.077
Name: 15138, dtype: object
15139 1016 12 ORtg Last Month    84.6667
Name: 15139, dtype: object
15140 876 13 ORtg Last Month    67.3846
Name: 15140, dtype: object
15141 1450 14 ORtg Last Month    103.571
Name: 15141, dtype: object
15142 1428 14 ORtg Last Month    102
Name: 15142, dtype: object
15143 1395 14 ORtg Last Month    99.6429
Name: 15143, dtype: object
15144 1272 14 ORtg Last Month    90.8571
Name: 15144, dtype: object
15145 0 2 ORtg Last Month    0
Name: 15145, dtype: object
15146 700 11 ORtg Last Month    63.6364
Name: 15146, dtype: object
15147 1401 13 ORtg Last Month    107.769
Name: 15147, dtype: object
15148 1095 12 ORtg Last Month    91.25
Name: 15148, dtype: object
15149 533 13 ORtg Last Month    41
Name: 15149, dtype: object
15150 1659 14 ORtg Last Month    118.5
Name: 15150, dtype: object
15151 1645 14 ORtg Last Month    117.5
Name: 15151, dtype: object
15152 1701 14 ORtg Last Month    121.5
Name: 15152, dtype: object
15153 709 10 ORtg Last Month    70.9
Name: 15153, dtype: object
15154 1471 12 ORtg Last Month    122.583
Name: 15154, dtype: object
15155 1279 11 ORtg Last Month    116.273
Name: 15155, dtype: object
15156 1159 11 ORtg Last Month    105.364
Name: 15156, dtype: object
15157 1114 13 ORtg Last Month    85.6923
Name: 15157, dtype: object
15158 1308 14 ORtg Last Month    93.4286
Name: 15158, dtype: object
15159 165 1 ORtg Last Month    165
Name: 15159, dtype: object
15160 1384 12 ORtg Last Month    115.333
Name: 15160, dtype: object
15161 1382 14 ORtg Last Month    98.7143
Name: 15161, dtype: object
15162 1006 13 ORtg Last Month    77.3846
Name: 15162, dtype: object
15163 1761 15 ORtg Last Month    117.4
Name: 15163, dtype: object
15164 1657 15 ORtg Last Month    110.467
Name: 15164, dtype: object
15165 288 6 ORtg Last Month    48
Name: 15165, dtype: object
15166 1769 15 ORtg Last Month    117.933
Name: 15166, dtype: object
15167 1507 15 ORtg Last Month    100.467
Name: 15167, dtype: object
15168 925 15 ORtg Last Month    61.6667
Name: 15168, dtype: object
15169 1132 15 ORtg Last Month    75.4667
Name: 15169, dtype: object
15170 1751 15 ORtg Last Month    116.733
Name: 15170, dtype: object
15171 1663 15 ORtg Last Month    110.867
Name: 15171, dtype: object
15172 1650 15 ORtg Last Month    110
Name: 15172, dtype: object
15173 466 7 ORtg Last Month    66.5714
Name: 15173, dtype: object
15174 1548 14 ORtg Last Month    110.571
Name: 15174, dtype: object
15175 0 1 ORtg Last Month    0
Name: 15175, dtype: object
15176 1480 13 ORtg Last Month    113.846
Name: 15176, dtype: object
15177 1505 12 ORtg Last Month    125.417
Name: 15177, dtype: object
15178 1225 12 ORtg Last Month    102.083
Name: 15178, dtype: object
15179 1573 14 ORtg Last Month    112.357
Name: 15179, dtype: object
15180 1096 11 ORtg Last Month    99.6364
Name: 15180, dtype: object
15181 436 10 ORtg Last Month    43.6
Name: 15181, dtype: object
15182 155 3 ORtg Last Month    51.6667
Name: 15182, dtype: object
15183 1410 13 ORtg Last Month    108.462
Name: 15183, dtype: object
15184 1093 11 ORtg Last Month    99.3636
Name: 15184, dtype: object
15185 1246 14 ORtg Last Month    89
Name: 15185, dtype: object
15186 1644 15 ORtg Last Month    109.6
Name: 15186, dtype: object
15187 1662 15 ORtg Last Month    110.8
Name: 15187, dtype: object
15188 1430 13 ORtg Last Month    110
Name: 15188, dtype: object
15189 122 5 ORtg Last Month    24.4
Name: 15189, dtype: object
15190 228 8 ORtg Last Month    28.5
Name: 15190, dtype: object
15191 1191 13 ORtg Last Month    91.6154
Name: 15191, dtype: object
15192 623 6 ORtg Last Month    103.833
Name: 15192, dtype: object
15193 1830 15 ORtg Last Month    122
Name: 15193, dtype: object
15194 1570 15 ORtg Last Month    104.667
Name: 15194, dtype: object
15195 2110 15 ORtg Last Month    140.667
Name: 15195, dtype: object
15196 1144 15 ORtg Last Month    76.2667
Name: 15196, dtype: object
15197 964 14 ORtg Last Month    68.8571
Name: 15197, dtype: object
15198 1402 14 ORtg Last Month    100.143
Name: 15198, dtype: object
15199 0 2 ORtg Last Month    0
Name: 15199, dtype: object
15200 1377 14 ORtg Last Month    98.3571
Name: 15200, dtype: object
15201 1333 14 ORtg Last Month    95.2143
Name: 15201, dtype: object
15202 1397 11 ORtg Last Month    127
Name: 15202, dtype: object
15203 1425 14 ORtg Last Month    101.786
Name: 15203, dtype: object
15204 1436 14 ORtg Last Month    102.571
Name: 15204, dtype: object
15205 1736 14 ORtg Last Month    124
Name: 15205, dtype: object
15206 1305 11 ORtg Last Month    118.636
Name: 15206, dtype: object
15207 862 12 ORtg Last Month    71.8333
Name: 15207, dtype: object
15208 914 9 ORtg Last Month    101.556
Name: 15208, dtype: object
15209 1403 13 ORtg Last Month    107.923
Name: 15209, dtype: object
15210 1531 14 ORtg Last Month    109.357
Name: 15210, dtype: object
15211 1103 14 ORtg Last Month    78.7857
Name: 15211, dtype: object
15212 1438 14 ORtg Last Month    102.714
Name: 15212, dtype: object
15213 1389 14 ORtg Last Month    99.2143
Name: 15213, dtype: object
15214 1514 13 ORtg Last Month    116.462
Name: 15214, dtype: object
15215 339 5 ORtg Last Month    67.8
Name: 15215, dtype: object
15216 288 7 ORtg Last Month    41.1429
Name: 15216, dtype: object
15217 1767 14 ORtg Last Month    126.214
Name: 15217, dtype: object
15218 1523 13 ORtg Last Month    117.154
Name: 15218, dtype: object
15219 416 14 ORtg Last Month    29.7143
Name: 15219, dtype: object
15220 133 2 ORtg Last Month    66.5
Name: 15220, dtype: object
15221 1465 14 ORtg Last Month    104.643
Name: 15221, dtype: object
15222 1023 12 ORtg Last Month    85.25
Name: 15222, dtype: object
15223 1195 14 ORtg Last Month    85.3571
Name: 15223, dtype: object
15224 1182 14 ORtg Last Month    84.4286
Name: 15224, dtype: object
15225 1277 11 ORtg Last Month    116.091
Name: 15225, dtype: object
15226 1490 14 ORtg Last Month    106.429
Name: 15226, dtype: object
15227 1592 14 ORtg Last Month    113.714
Name: 15227, dtype: object
15228 1050 14 ORtg Last Month    75
Name: 15228, dtype: object
15229 1515 14 ORtg Last Month    108.214
Name: 15229, dtype: object
15230 526 12 ORtg Last Month    43.8333
Name: 15230, dtype: object
15231 860 8 ORtg Last Month    107.5
Name: 15231, dtype: object
15232 517 13 ORtg Last Month    39.7692
Name: 15232, dtype: object
15233 1622 15 ORtg Last Month    108.133
Name: 15233, dtype: object
15234 1396 15 ORtg Last Month    93.0667
Name: 15234, dtype: object
15235 1461 15 ORtg Last Month    97.4
Name: 15235, dtype: object
15236 573 14 ORtg Last Month    40.9286
Name: 15236, dtype: object
15237 1503 15 ORtg Last Month    100.2
Name: 15237, dtype: object
15238 1705 15 ORtg Last Month    113.667
Name: 15238, dtype: object
15239 1382 15 ORtg Last Month    92.1333
Name: 15239, dtype: object
15240 1125 15 ORtg Last Month    75
Name: 15240, dtype: object
15241 1476 15 ORtg Last Month    98.4
Name: 15241, dtype: object
15242 1585 14 ORtg Last Month    113.214
Name: 15242, dtype: object
15243 1116 14 ORtg Last Month    79.7143
Name: 15243, dtype: object
15244 1847 15 ORtg Last Month    123.133
Name: 15244, dtype: object
15245 1223 10 ORtg Last Month    122.3
Name: 15245, dtype: object
15246 1534 15 ORtg Last Month    102.267
Name: 15246, dtype: object
15247 1743 15 ORtg Last Month    116.2
Name: 15247, dtype: object
15248 1855 15 ORtg Last Month    123.667
Name: 15248, dtype: object
15249 1048 15 ORtg Last Month    69.8667
Name: 15249, dtype: object
15250 817 6 ORtg Last Month    136.167
Name: 15250, dtype: object
15251 227 3 ORtg Last Month    75.6667
Name: 15251, dtype: object
15252 1370 15 ORtg Last Month    91.3333
Name: 15252, dtype: object
15253 158 15 ORtg Last Month    10.5333
Name: 15253, dtype: object
15254 1879 14 ORtg Last Month    134.214
Name: 15254, dtype: object
15255 1308 14 ORtg Last Month    93.4286
Name: 15255, dtype: object
15256 1396 14 ORtg Last Month    99.7143
Name: 15256, dtype: object

15257 1413 14 ORtg Last Month    100.929
Name: 15257, dtype: object
15258 1769 14 ORtg Last Month    126.357
Name: 15258, dtype: object
15259 1626 14 ORtg Last Month    116.143
Name: 15259, dtype: object
15260 1056 14 ORtg Last Month    75.4286
Name: 15260, dtype: object
15261 622 14 ORtg Last Month    44.4286
Name: 15261, dtype: object
15262 1815 14 ORtg Last Month    129.643
Name: 15262, dtype: object
15263 1333 14 ORtg Last Month    95.2143
Name: 15263, dtype: object
15264 714 14 ORtg Last Month    51
Name: 15264, dtype: object
15265 401 5 ORtg Last Month    80.2
Name: 15265, dtype: object
15266 1418 13 ORtg Last Month    109.077
Name: 15266, dtype: object
15267 1107 14 ORtg Last Month    79.0714
Name: 15267, dtype: object
15268 474 12 ORtg Last Month    39.5
Name: 15268, dtype: object
15269 1289 14 ORtg Last Month    92.0714
Name: 15269, dtype: object
15270 688 11 ORtg Last Month    62.5455
Name: 15270, dtype: object
15271 1493 14 ORtg Last Month    106.643
Name: 15271, dtype: object
15272 180 7 ORtg Last Month    25.7143
Name: 15272, dtype: object
15273 960 13 ORtg Last Month    73.8462
Name: 15273, dtype: object
15274 1484 14 ORtg Last Month    106
Name: 15274, dtype: object
15275 1449 14 ORtg Last Month    103.5
Name: 15275, dtype: object
15276 995 11 ORtg Last Month    90.4545
Name: 15276, dtype: object
15277 617 12 ORtg Last Month    51.4167
Name: 15277, dtype: object
15278 1539 13 ORtg Last Month    118.385
Name: 15278, dtype: object
15279 657 6 ORtg Last Month    109.5
Name: 15279, dtype: object
15280 1077 12 ORtg Last Month    89.75
Name: 15280, dtype: object
15281 1331 13 ORtg Last Month    102.385
Name: 15281, dtype: object
15282 797 10 ORtg Last Month    79.7
Name: 15282, dtype: object
15283 1143 12 ORtg Last Month    95.25
Name: 15283, dtype: object
15284 1104 11 ORtg Last Month    100.364
Name: 15284, dtype: object
15285 861 13 ORtg Last Month    66.2308
Name: 15285, dtype: object
15286 51 12 ORtg Last Month    4.25
Name: 15286, dtype: object
15287 1560 12 ORtg Last Month    130
Name: 15287, dtype: object
15288 1419 12 ORtg Last Month    118.25
Name: 15288, dtype: object
15289 1260 13 ORtg Last Month    96.9231
Name: 15289, dtype: object
15290 236 2 ORtg Last Month    118
Name: 15290, dtype: object
15291 1692 15 ORtg Last Month    112.8
Name: 15291, dtype: object
15292 1632 15 ORtg Last Month    108.8
Name: 15292, dtype: object
15293 288 7 ORtg Last Month    41.1429
Name: 15293, dtype: object
15294 1783 15 ORtg Last Month    118.867
Name: 15294, dtype: object
15295 1556 15 ORtg Last Month    103.733
Name: 15295, dtype: object
15296 1111 15 ORtg Last Month    74.0667
Name: 15296, dtype: object
15297 1134 15 ORtg Last Month    75.6
Name: 15297, dtype: object
15298 1074 10 ORtg Last Month    107.4
Name: 15298, dtype: object
15299 1731 15 ORtg Last Month    115.4
Name: 15299, dtype: object
15300 1545 15 ORtg Last Month    103
Name: 15300, dtype: object
15301 1638 15 ORtg Last Month    109.2
Name: 15301, dtype: object
15302 1562 15 ORtg Last Month    104.133
Name: 15302, dtype: object
15303 1832 15 ORtg Last Month    122.133
Name: 15303, dtype: object
15304 1704 15 ORtg Last Month    113.6
Name: 15304, dtype: object
15305 1414 15 ORtg Last Month    94.2667
Name: 15305, dtype: object
15306 1672 15 ORtg Last Month    111.467
Name: 15306, dtype: object
15307 1638 15 ORtg Last Month    109.2
Name: 15307, dtype: object
15308 909 10 ORtg Last Month    90.9
Name: 15308, dtype: object
15309 971 15 ORtg Last Month    64.7333
Name: 15309, dtype: object
15310 308 3 ORtg Last Month    102.667
Name: 15310, dtype: object
15311 1728 15 ORtg Last Month    115.2
Name: 15311, dtype: object
15312 1001 13 ORtg Last Month    77
Name: 15312, dtype: object
15313 1241 15 ORtg Last Month    82.7333
Name: 15313, dtype: object
15314 1743 15 ORtg Last Month    116.2
Name: 15314, dtype: object
15315 1675 15 ORtg Last Month    111.667
Name: 15315, dtype: object
15316 1641 15 ORtg Last Month    109.4
Name: 15316, dtype: object
15317 1550 15 ORtg Last Month    103.333
Name: 15317, dtype: object
15318 2031 15 ORtg Last Month    135.4
Name: 15318, dtype: object
15319 642 15 ORtg Last Month    42.8
Name: 15319, dtype: object
15320 992 15 ORtg Last Month    66.1333
Name: 15320, dtype: object
15321 1915 15 ORtg Last Month    127.667
Name: 15321, dtype: object
15322 503 9 ORtg Last Month    55.8889
Name: 15322, dtype: object
15323 1995 15 ORtg Last Month    133
Name: 15323, dtype: object
15324 781 13 ORtg Last Month    60.0769
Name: 15324, dtype: object
15325 1511 15 ORtg Last Month    100.733
Name: 15325, dtype: object
15326 116 2 ORtg Last Month    58
Name: 15326, dtype: object
15327 1479 15 ORtg Last Month    98.6
Name: 15327, dtype: object
15328 1643 15 ORtg Last Month    109.533
Name: 15328, dtype: object
15329 1482 15 ORtg Last Month    98.8
Name: 15329, dtype: object
15330 1462 14 ORtg Last Month    104.429
Name: 15330, dtype: object
15331 998 13 ORtg Last Month    76.7692
Name: 15331, dtype: object
15332 60 4 ORtg Last Month    15
Name: 15332, dtype: object
15333 1956 15 ORtg Last Month    130.4
Name: 15333, dtype: object
15334 1785 15 ORtg Last Month    119
Name: 15334, dtype: object
15335 871 14 ORtg Last Month    62.2143
Name: 15335, dtype: object
15336 1623 15 ORtg Last Month    108.2
Name: 15336, dtype: object
15337 230 4 ORtg Last Month    57.5
Name: 15337, dtype: object
15338 1378 15 ORtg Last Month    91.8667
Name: 15338, dtype: object
15339 760 14 ORtg Last Month    54.2857
Name: 15339, dtype: object
15340 1402 15 ORtg Last Month    93.4667
Name: 15340, dtype: object
15341 1051 15 ORtg Last Month    70.0667
Name: 15341, dtype: object
15342 1347 13 ORtg Last Month    103.615
Name: 15342, dtype: object
15343 1769 14 ORtg Last Month    126.357
Name: 15343, dtype: object
15344 405 7 ORtg Last Month    57.8571
Name: 15344, dtype: object
15345 1022 9 ORtg Last Month    113.556
Name: 15345, dtype: object
15346 1530 13 ORtg Last Month    117.692
Name: 15346, dtype: object
15347 1370 13 ORtg Last Month    105.385
Name: 15347, dtype: object
15348 1167 13 ORtg Last Month    89.7692
Name: 15348, dtype: object
15349 980 13 ORtg Last Month    75.3846
Name: 15349, dtype: object
15350 174 10 ORtg Last Month    17.4
Name: 15350, dtype: object
15351 1360 13 ORtg Last Month    104.615
Name: 15351, dtype: object
15352 1524 13 ORtg Last Month    117.231
Name: 15352, dtype: object
15353 1382 12 ORtg Last Month    115.167
Name: 15353, dtype: object
15354 544 5 ORtg Last Month    108.8
Name: 15354, dtype: object
15355 865 13 ORtg Last Month    66.5385
Name: 15355, dtype: object
15356 1192 13 ORtg Last Month    91.6923
Name: 15356, dtype: object
15357 1450 14 ORtg Last Month    103.571
Name: 15357, dtype: object
15358 1752 14 ORtg Last Month    125.143
Name: 15358, dtype: object
15359 599 12 ORtg Last Month    49.9167
Name: 15359, dtype: object
15360 1673 14 ORtg Last Month    119.5
Name: 15360, dtype: object
15361 161 2 ORtg Last Month    80.5
Name: 15361, dtype: object
15362 1334 12 ORtg Last Month    111.167
Name: 15362, dtype: object
15363 1551 14 ORtg Last Month    110.786
Name: 15363, dtype: object
15364 1330 14 ORtg Last Month    95
Name: 15364, dtype: object
15365 771 13 ORtg Last Month    59.3077
Name: 15365, dtype: object
15366 1665 14 ORtg Last Month    118.929
Name: 15366, dtype: object
15367 1720 14 ORtg Last Month    122.857
Name: 15367, dtype: object
15368 1016 9 ORtg Last Month    112.889
Name: 15368, dtype: object
15369 317 7 ORtg Last Month    45.2857
Name: 15369, dtype: object
15370 1566 13 ORtg Last Month    120.462
Name: 15370, dtype: object
15371 1444 13 ORtg Last Month    111.077
Name: 15371, dtype: object
15372 976 13 ORtg Last Month    75.0769
Name: 15372, dtype: object
15373 1206 12 ORtg Last Month    100.5
Name: 15373, dtype: object
15374 1592 13 ORtg Last Month    122.462
Name: 15374, dtype: object
15375 1684 13 ORtg Last Month    129.538
Name: 15375, dtype: object
15376 1730 13 ORtg Last Month    133.077
Name: 15376, dtype: object
15377 1452 13 ORtg Last Month    111.692
Name: 15377, dtype: object
15378 1910 13 ORtg Last Month    146.923
Name: 15378, dtype: object
15379 1555 13 ORtg Last Month    119.615
Name: 15379, dtype: object
15380 1018 13 ORtg Last Month    78.3077
Name: 15380, dtype: object

15381 1631 13 ORtg Last Month    125.462
Name: 15381, dtype: object
15382 1397 13 ORtg Last Month    107.462
Name: 15382, dtype: object
15383 1367 13 ORtg Last Month    105.154
Name: 15383, dtype: object
15384 945 12 ORtg Last Month    78.75
Name: 15384, dtype: object
15385 1486 13 ORtg Last Month    114.308
Name: 15385, dtype: object
15386 1528 13 ORtg Last Month    117.538
Name: 15386, dtype: object
15387 907 10 ORtg Last Month    90.7
Name: 15387, dtype: object
15388 1371 13 ORtg Last Month    105.462
Name: 15388, dtype: object
15389 62 4 ORtg Last Month    15.5
Name: 15389, dtype: object
15390 1101 9 ORtg Last Month    122.333
Name: 15390, dtype: object
15391 1674 13 ORtg Last Month    128.769
Name: 15391, dtype: object
15392 692 12 ORtg Last Month    57.6667
Name: 15392, dtype: object
15393 1377 15 ORtg Last Month    91.8
Name: 15393, dtype: object
15394 1275 13 ORtg Last Month    98.0769
Name: 15394, dtype: object
15395 1343 15 ORtg Last Month    89.5333
Name: 15395, dtype: object
15396 1250 13 ORtg Last Month    96.1538
Name: 15396, dtype: object
15397 1733 15 ORtg Last Month    115.533
Name: 15397, dtype: object
15398 810 15 ORtg Last Month    54
Name: 15398, dtype: object
15399 694 6 ORtg Last Month    115.667
Name: 15399, dtype: object
15400 1306 15 ORtg Last Month    87.0667
Name: 15400, dtype: object
15401 740 9 ORtg Last Month    82.2222
Name: 15401, dtype: object
15402 1653 14 ORtg Last Month    118.071
Name: 15402, dtype: object
15403 1741 15 ORtg Last Month    116.067
Name: 15403, dtype: object
15404 832 15 ORtg Last Month    55.4667
Name: 15404, dtype: object
15405 1349 12 ORtg Last Month    112.417
Name: 15405, dtype: object
15406 1266 12 ORtg Last Month    105.5
Name: 15406, dtype: object
15407 1366 13 ORtg Last Month    105.077
Name: 15407, dtype: object
15408 0 13 ORtg Last Month    0
Name: 15408, dtype: object
15409 1566 13 ORtg Last Month    120.462
Name: 15409, dtype: object
15410 1532 13 ORtg Last Month    117.846
Name: 15410, dtype: object
15411 1141 12 ORtg Last Month    95.0833
Name: 15411, dtype: object
15412 407 6 ORtg Last Month    67.8333
Name: 15412, dtype: object
15413 0 12 ORtg Last Month    0
Name: 15413, dtype: object
15414 1215 12 ORtg Last Month    101.25
Name: 15414, dtype: object
15415 1394 12 ORtg Last Month    116.167
Name: 15415, dtype: object
15416 1544 13 ORtg Last Month    118.769
Name: 15416, dtype: object
15417 1414 13 ORtg Last Month    108.769
Name: 15417, dtype: object
15418 1487 14 ORtg Last Month    106.214
Name: 15418, dtype: object
15419 1505 12 ORtg Last Month    125.417
Name: 15419, dtype: object
15420 1669 14 ORtg Last Month    119.214
Name: 15420, dtype: object
15421 1545 13 ORtg Last Month    118.846
Name: 15421, dtype: object
15422 1593 14 ORtg Last Month    113.786
Name: 15422, dtype: object
15423 1365 14 ORtg Last Month    97.5
Name: 15423, dtype: object
15424 1741 14 ORtg Last Month    124.357
Name: 15424, dtype: object
15425 203 13 ORtg Last Month    15.6154
Name: 15425, dtype: object
15426 1543 14 ORtg Last Month    110.214
Name: 15426, dtype: object
15427 1329 13 ORtg Last Month    102.231
Name: 15427, dtype: object
15428 1363 13 ORtg Last Month    104.846
Name: 15428, dtype: object
15429 649 6 ORtg Last Month    108.167
Name: 15429, dtype: object
15430 278 13 ORtg Last Month    21.3846
Name: 15430, dtype: object
15431 633 7 ORtg Last Month    90.4286
Name: 15431, dtype: object
15432 566 6 ORtg Last Month    94.3333
Name: 15432, dtype: object
15433 1775 14 ORtg Last Month    126.786
Name: 15433, dtype: object
15434 247 13 ORtg Last Month    19
Name: 15434, dtype: object
15435 1451 14 ORtg Last Month    103.643
Name: 15435, dtype: object
15436 1440 14 ORtg Last Month    102.857
Name: 15436, dtype: object
15437 348 14 ORtg Last Month    24.8571
Name: 15437, dtype: object
15438 1307 14 ORtg Last Month    93.3571
Name: 15438, dtype: object
15439 582 14 ORtg Last Month    41.5714
Name: 15439, dtype: object
15440 0 3 ORtg Last Month    0
Name: 15440, dtype: object
15441 1682 14 ORtg Last Month    120.143
Name: 15441, dtype: object
15442 1911 14 ORtg Last Month    136.5
Name: 15442, dtype: object
15443 1765 14 ORtg Last Month    126.071
Name: 15443, dtype: object
15444 1349 14 ORtg Last Month    96.3571
Name: 15444, dtype: object
15445 1195 13 ORtg Last Month    91.9231
Name: 15445, dtype: object
15446 280 13 ORtg Last Month    21.5385
Name: 15446, dtype: object
15447 0 1 ORtg Last Month    0
Name: 15447, dtype: object
15448 1473 14 ORtg Last Month    105.214
Name: 15448, dtype: object
15449 1739 14 ORtg Last Month    124.214
Name: 15449, dtype: object
15450 1577 14 ORtg Last Month    112.643
Name: 15450, dtype: object
15451 1303 14 ORtg Last Month    93.0714
Name: 15451, dtype: object
15452 1273 14 ORtg Last Month    90.9286
Name: 15452, dtype: object
15453 1793 14 ORtg Last Month    128.071
Name: 15453, dtype: object
15454 1572 14 ORtg Last Month    112.286
Name: 15454, dtype: object
15455 1704 14 ORtg Last Month    121.714
Name: 15455, dtype: object
15456 1598 14 ORtg Last Month    114.143
Name: 15456, dtype: object
15457 1631 14 ORtg Last Month    116.5
Name: 15457, dtype: object
15458 1392 12 ORtg Last Month    116
Name: 15458, dtype: object
15459 1242 11 ORtg Last Month    112.909
Name: 15459, dtype: object
15460 1114 13 ORtg Last Month    85.6923
Name: 15460, dtype: object
15461 1472 12 ORtg Last Month    122.667
Name: 15461, dtype: object
15462 1252 14 ORtg Last Month    89.4286
Name: 15462, dtype: object
15463 1355 12 ORtg Last Month    112.917
Name: 15463, dtype: object
15464 1006 13 ORtg Last Month    77.3846
Name: 15464, dtype: object
15465 1449 14 ORtg Last Month    103.5
Name: 15465, dtype: object
15466 0 0 ORtg Last Month    0
Name: 15466, dtype: object
15467 1261 14 ORtg Last Month    90.0714
Name: 15467, dtype: object
15468 1242 11 ORtg Last Month    112.909
Name: 15468, dtype: object
15469 716 12 ORtg Last Month    59.6667
Name: 15469, dtype: object
15470 529 14 ORtg Last Month    37.7857
Name: 15470, dtype: object
15471 1296 13 ORtg Last Month    99.6923
Name: 15471, dtype: object
15472 1478 14 ORtg Last Month    105.571
Name: 15472, dtype: object
15473 1711 14 ORtg Last Month    122.214
Name: 15473, dtype: object
15474 1336 14 ORtg Last Month    95.4286
Name: 15474, dtype: object
15475 1719 14 ORtg Last Month    122.786
Name: 15475, dtype: object
15476 2186 13 ORtg Last Month    168.154
Name: 15476, dtype: object
15477 37 2 ORtg Last Month    18.5
Name: 15477, dtype: object
15478 100 14 ORtg Last Month    7.14286
Name: 15478, dtype: object
15479 0 7 ORtg Last Month    0
Name: 15479, dtype: object
15480 1350 11 ORtg Last Month    122.727
Name: 15480, dtype: object
15481 1473 13 ORtg Last Month    113.308
Name: 15481, dtype: object
15482 1414 14 ORtg Last Month    101
Name: 15482, dtype: object
15483 1079 14 ORtg Last Month    77.0714
Name: 15483, dtype: object
15484 0 3 ORtg Last Month    0
Name: 15484, dtype: object
15485 1416 14 ORtg Last Month    101.143
Name: 15485, dtype: object
15486 1419 14 ORtg Last Month    101.357
Name: 15486, dtype: object
15487 1407 14 ORtg Last Month    100.5
Name: 15487, dtype: object
15488 1357 11 ORtg Last Month    123.364
Name: 15488, dtype: object
15489 1477 14 ORtg Last Month    105.5
Name: 15489, dtype: object
15490 1441 12 ORtg Last Month    120.083
Name: 15490, dtype: object
15491 200 1 ORtg Last Month    200
Name: 15491, dtype: object
15492 930 13 ORtg Last Month    71.5385
Name: 15492, dtype: object
15493 1766 14 ORtg Last Month    126.143
Name: 15493, dtype: object
15494 1475 14 ORtg Last Month    105.357
Name: 15494, dtype: object
15495 1347 13 ORtg Last Month    103.615
Name: 15495, dtype: object
15496 1049 14 ORtg Last Month    74.9286
Name: 15496, dtype: object
15497 1449 13 ORtg Last Month    111.462
Name: 15497, dtype: object
15498 1406 14 ORtg Last Month    100.429
Name: 15498, dtype: object
15499 355 6 ORtg Last Month    59.1667
Name: 15499, dtype: object
15500 1437 14 ORtg Last Month    102.643
Name: 15500, dtype: object
15501 288 8 ORtg Last Month    36
Name: 15501, dtype: object
15502 1753 14 ORtg Last Month    125.214
Name: 15502, dtype: object
15503 768 7 ORtg Last Month    109.714
Name: 15503, dtype: object

15504 1522 13 ORtg Last Month    117.077
Name: 15504, dtype: object
15505 309 14 ORtg Last Month    22.0714
Name: 15505, dtype: object
15506 1372 13 ORtg Last Month    105.538
Name: 15506, dtype: object
15507 1047 13 ORtg Last Month    80.5385
Name: 15507, dtype: object
15508 655 11 ORtg Last Month    59.5455
Name: 15508, dtype: object
15509 1280 14 ORtg Last Month    91.4286
Name: 15509, dtype: object
15510 1659 14 ORtg Last Month    118.5
Name: 15510, dtype: object
15511 811 11 ORtg Last Month    73.7273
Name: 15511, dtype: object
15512 1140 11 ORtg Last Month    103.636
Name: 15512, dtype: object
15513 1471 14 ORtg Last Month    105.071
Name: 15513, dtype: object
15514 1043 11 ORtg Last Month    94.8182
Name: 15514, dtype: object
15515 729 7 ORtg Last Month    104.143
Name: 15515, dtype: object
15516 1001 14 ORtg Last Month    71.5
Name: 15516, dtype: object
15517 1293 15 ORtg Last Month    86.2
Name: 15517, dtype: object
15518 1236 15 ORtg Last Month    82.4
Name: 15518, dtype: object
15519 0 1 ORtg Last Month    0
Name: 15519, dtype: object
15520 1712 15 ORtg Last Month    114.133
Name: 15520, dtype: object
15521 1748 15 ORtg Last Month    116.533
Name: 15521, dtype: object
15522 1356 15 ORtg Last Month    90.4
Name: 15522, dtype: object
15523 221 11 ORtg Last Month    20.0909
Name: 15523, dtype: object
15524 1839 15 ORtg Last Month    122.6
Name: 15524, dtype: object
15525 1363 14 ORtg Last Month    97.3571
Name: 15525, dtype: object
15526 1674 15 ORtg Last Month    111.6
Name: 15526, dtype: object
15527 956 12 ORtg Last Month    79.6667
Name: 15527, dtype: object
15528 463 14 ORtg Last Month    33.0714
Name: 15528, dtype: object
15529 1581 15 ORtg Last Month    105.4
Name: 15529, dtype: object
15530 1432 15 ORtg Last Month    95.4667
Name: 15530, dtype: object
15531 1450 15 ORtg Last Month    96.6667
Name: 15531, dtype: object
15532 1380 15 ORtg Last Month    92
Name: 15532, dtype: object
15533 1287 15 ORtg Last Month    85.8
Name: 15533, dtype: object
15534 1762 15 ORtg Last Month    117.467
Name: 15534, dtype: object
15535 1091 15 ORtg Last Month    72.7333
Name: 15535, dtype: object
15536 1561 14 ORtg Last Month    111.5
Name: 15536, dtype: object
15537 1450 15 ORtg Last Month    96.6667
Name: 15537, dtype: object
15538 583 11 ORtg Last Month    53
Name: 15538, dtype: object
15539 1120 14 ORtg Last Month    80
Name: 15539, dtype: object
15540 1738 14 ORtg Last Month    124.143
Name: 15540, dtype: object
15541 1593 14 ORtg Last Month    113.786
Name: 15541, dtype: object
15542 1378 13 ORtg Last Month    106
Name: 15542, dtype: object
15543 1110 14 ORtg Last Month    79.2857
Name: 15543, dtype: object
15544 1734 14 ORtg Last Month    123.857
Name: 15544, dtype: object
15545 1867 14 ORtg Last Month    133.357
Name: 15545, dtype: object
15546 1831 14 ORtg Last Month    130.786
Name: 15546, dtype: object
15547 1595 14 ORtg Last Month    113.929
Name: 15547, dtype: object
15548 2064 14 ORtg Last Month    147.429
Name: 15548, dtype: object
15549 1698 14 ORtg Last Month    121.286
Name: 15549, dtype: object
15550 1095 14 ORtg Last Month    78.2143
Name: 15550, dtype: object
15551 1834 15 ORtg Last Month    122.267
Name: 15551, dtype: object
15552 1326 11 ORtg Last Month    120.545
Name: 15552, dtype: object
15553 1750 15 ORtg Last Month    116.667
Name: 15553, dtype: object
15554 746 7 ORtg Last Month    106.571
Name: 15554, dtype: object
15555 1457 15 ORtg Last Month    97.1333
Name: 15555, dtype: object
15556 1191 15 ORtg Last Month    79.4
Name: 15556, dtype: object
15557 1519 15 ORtg Last Month    101.267
Name: 15557, dtype: object
15558 158 15 ORtg Last Month    10.5333
Name: 15558, dtype: object
15559 317 3 ORtg Last Month    105.667
Name: 15559, dtype: object
15560 687 11 ORtg Last Month    62.4545
Name: 15560, dtype: object
15561 1324 14 ORtg Last Month    94.5714
Name: 15561, dtype: object
15562 1803 14 ORtg Last Month    128.786
Name: 15562, dtype: object
15563 1386 14 ORtg Last Month    99
Name: 15563, dtype: object
15564 1504 14 ORtg Last Month    107.429
Name: 15564, dtype: object
15565 1651 14 ORtg Last Month    117.929
Name: 15565, dtype: object
15566 1791 14 ORtg Last Month    127.929
Name: 15566, dtype: object
15567 1271 14 ORtg Last Month    90.7857
Name: 15567, dtype: object
15568 500 14 ORtg Last Month    35.7143
Name: 15568, dtype: object
15569 1820 14 ORtg Last Month    130
Name: 15569, dtype: object
15570 1358 14 ORtg Last Month    97
Name: 15570, dtype: object
15571 401 6 ORtg Last Month    66.8333
Name: 15571, dtype: object
15572 714 14 ORtg Last Month    51
Name: 15572, dtype: object
15573 501 12 ORtg Last Month    41.75
Name: 15573, dtype: object
15574 1389 13 ORtg Last Month    106.846
Name: 15574, dtype: object
15575 1166 14 ORtg Last Month    83.2857
Name: 15575, dtype: object
15576 1456 14 ORtg Last Month    104
Name: 15576, dtype: object
15577 730 11 ORtg Last Month    66.3636
Name: 15577, dtype: object
15578 913 13 ORtg Last Month    70.2308
Name: 15578, dtype: object
15579 1324 14 ORtg Last Month    94.5714
Name: 15579, dtype: object
15580 238 7 ORtg Last Month    34
Name: 15580, dtype: object
15581 1401 14 ORtg Last Month    100.071
Name: 15581, dtype: object
15582 1457 14 ORtg Last Month    104.071
Name: 15582, dtype: object
15583 1049 11 ORtg Last Month    95.3636
Name: 15583, dtype: object
15584 783 12 ORtg Last Month    65.25
Name: 15584, dtype: object
15585 1603 15 ORtg Last Month    106.867
Name: 15585, dtype: object
15586 1612 13 ORtg Last Month    124
Name: 15586, dtype: object
15587 1791 15 ORtg Last Month    119.4
Name: 15587, dtype: object
15588 1660 14 ORtg Last Month    118.571
Name: 15588, dtype: object
15589 1493 15 ORtg Last Month    99.5333
Name: 15589, dtype: object
15590 1694 15 ORtg Last Month    112.933
Name: 15590, dtype: object
15591 291 14 ORtg Last Month    20.7857
Name: 15591, dtype: object
15592 1945 15 ORtg Last Month    129.667
Name: 15592, dtype: object
15593 1450 14 ORtg Last Month    103.571
Name: 15593, dtype: object
15594 1681 15 ORtg Last Month    112.067
Name: 15594, dtype: object
15595 797 7 ORtg Last Month    113.857
Name: 15595, dtype: object
15596 1461 14 ORtg Last Month    104.357
Name: 15596, dtype: object
15597 553 14 ORtg Last Month    39.5
Name: 15597, dtype: object
15598 1532 13 ORtg Last Month    117.846
Name: 15598, dtype: object
15599 771 7 ORtg Last Month    110.143
Name: 15599, dtype: object
15600 1214 12 ORtg Last Month    101.167
Name: 15600, dtype: object
15601 1278 13 ORtg Last Month    98.3077
Name: 15601, dtype: object
15602 797 10 ORtg Last Month    79.7
Name: 15602, dtype: object
15603 1112 11 ORtg Last Month    101.091
Name: 15603, dtype: object
15604 1274 12 ORtg Last Month    106.167
Name: 15604, dtype: object
15605 51 12 ORtg Last Month    4.25
Name: 15605, dtype: object
15606 709 13 ORtg Last Month    54.5385
Name: 15606, dtype: object
15607 1553 12 ORtg Last Month    129.417
Name: 15607, dtype: object
15608 268 3 ORtg Last Month    89.3333
Name: 15608, dtype: object
15609 1417 12 ORtg Last Month    118.083
Name: 15609, dtype: object
15610 1375 13 ORtg Last Month    105.769
Name: 15610, dtype: object
15611 1558 13 ORtg Last Month    119.846
Name: 15611, dtype: object
15612 1131 13 ORtg Last Month    87
Name: 15612, dtype: object
15613 780 13 ORtg Last Month    60
Name: 15613, dtype: object
15614 1352 14 ORtg Last Month    96.5714
Name: 15614, dtype: object
15615 1410 14 ORtg Last Month    100.714
Name: 15615, dtype: object
15616 1509 14 ORtg Last Month    107.786
Name: 15616, dtype: object
15617 1375 14 ORtg Last Month    98.2143
Name: 15617, dtype: object
15618 0 3 ORtg Last Month    0
Name: 15618, dtype: object
15619 623 11 ORtg Last Month    56.6364
Name: 15619, dtype: object
15620 1426 13 ORtg Last Month    109.692
Name: 15620, dtype: object
15621 1240 13 ORtg Last Month    95.3846
Name: 15621, dtype: object
15622 533 13 ORtg Last Month    41
Name: 15622, dtype: object
15623 1798 16 ORtg Last Month    112.375
Name: 15623, dtype: object
15624 1738 16 ORtg Last Month    108.625
Name: 15624, dtype: object
15625 288 8 ORtg Last Month    36
Name: 15625, dtype: object
15626 1239 16 ORtg Last Month    77.4375
Name: 15626, dtype: object
15627 1913 16 ORtg Last Month    119.562
Name: 15627, dtype: object

15628 1681 16 ORtg Last Month    105.062
Name: 15628, dtype: object
15629 1193 16 ORtg Last Month    74.5625
Name: 15629, dtype: object
15630 1074 11 ORtg Last Month    97.6364
Name: 15630, dtype: object
15631 1835 16 ORtg Last Month    114.688
Name: 15631, dtype: object
15632 1718 16 ORtg Last Month    107.375
Name: 15632, dtype: object
15633 1737 16 ORtg Last Month    108.562
Name: 15633, dtype: object
15634 1656 15 ORtg Last Month    110.4
Name: 15634, dtype: object
15635 1699 15 ORtg Last Month    113.267
Name: 15635, dtype: object
15636 1870 15 ORtg Last Month    124.667
Name: 15636, dtype: object
15637 1544 15 ORtg Last Month    102.933
Name: 15637, dtype: object
15638 1649 14 ORtg Last Month    117.786
Name: 15638, dtype: object
15639 974 9 ORtg Last Month    108.222
Name: 15639, dtype: object
15640 2002 15 ORtg Last Month    133.467
Name: 15640, dtype: object
15641 992 15 ORtg Last Month    66.1333
Name: 15641, dtype: object
15642 642 15 ORtg Last Month    42.8
Name: 15642, dtype: object
15643 1973 15 ORtg Last Month    131.533
Name: 15643, dtype: object
15644 1917 15 ORtg Last Month    127.8
Name: 15644, dtype: object
15645 587 10 ORtg Last Month    58.7
Name: 15645, dtype: object
15646 781 13 ORtg Last Month    60.0769
Name: 15646, dtype: object
15647 555 7 ORtg Last Month    79.2857
Name: 15647, dtype: object
15648 1342 13 ORtg Last Month    103.231
Name: 15648, dtype: object
15649 1482 13 ORtg Last Month    114
Name: 15649, dtype: object
15650 0 2 ORtg Last Month    0
Name: 15650, dtype: object
15651 1393 11 ORtg Last Month    126.636
Name: 15651, dtype: object
15652 1088 11 ORtg Last Month    98.9091
Name: 15652, dtype: object
15653 1221 12 ORtg Last Month    101.75
Name: 15653, dtype: object
15654 436 9 ORtg Last Month    48.4444
Name: 15654, dtype: object
15655 155 4 ORtg Last Month    38.75
Name: 15655, dtype: object
15656 916 10 ORtg Last Month    91.6
Name: 15656, dtype: object
15657 1432 13 ORtg Last Month    110.154
Name: 15657, dtype: object
15658 1160 13 ORtg Last Month    89.2308
Name: 15658, dtype: object
15659 1553 15 ORtg Last Month    103.533
Name: 15659, dtype: object
15660 223 3 ORtg Last Month    74.3333
Name: 15660, dtype: object
15661 1372 14 ORtg Last Month    98
Name: 15661, dtype: object
15662 1712 15 ORtg Last Month    114.133
Name: 15662, dtype: object
15663 1464 15 ORtg Last Month    97.6
Name: 15663, dtype: object
15664 1510 15 ORtg Last Month    100.667
Name: 15664, dtype: object
15665 1085 14 ORtg Last Month    77.5
Name: 15665, dtype: object
15666 60 5 ORtg Last Month    12
Name: 15666, dtype: object
15667 1949 15 ORtg Last Month    129.933
Name: 15667, dtype: object
15668 1778 15 ORtg Last Month    118.533
Name: 15668, dtype: object
15669 871 15 ORtg Last Month    58.0667
Name: 15669, dtype: object
15670 1116 10 ORtg Last Month    111.6
Name: 15670, dtype: object
15671 1321 13 ORtg Last Month    101.615
Name: 15671, dtype: object
15672 1650 13 ORtg Last Month    126.923
Name: 15672, dtype: object
15673 1175 13 ORtg Last Month    90.3846
Name: 15673, dtype: object
15674 829 13 ORtg Last Month    63.7692
Name: 15674, dtype: object
15675 1378 13 ORtg Last Month    106
Name: 15675, dtype: object
15676 329 11 ORtg Last Month    29.9091
Name: 15676, dtype: object
15677 1498 13 ORtg Last Month    115.231
Name: 15677, dtype: object
15678 1428 12 ORtg Last Month    119
Name: 15678, dtype: object
15679 513 5 ORtg Last Month    102.6
Name: 15679, dtype: object
15680 1145 13 ORtg Last Month    88.0769
Name: 15680, dtype: object
15681 844 13 ORtg Last Month    64.9231
Name: 15681, dtype: object
15682 1552 14 ORtg Last Month    110.857
Name: 15682, dtype: object
15683 1032 12 ORtg Last Month    86
Name: 15683, dtype: object
15684 1105 14 ORtg Last Month    78.9286
Name: 15684, dtype: object
15685 1190 14 ORtg Last Month    85
Name: 15685, dtype: object
15686 1615 14 ORtg Last Month    115.357
Name: 15686, dtype: object
15687 1263 11 ORtg Last Month    114.818
Name: 15687, dtype: object
15688 1536 14 ORtg Last Month    109.714
Name: 15688, dtype: object
15689 1120 14 ORtg Last Month    80
Name: 15689, dtype: object
15690 1621 14 ORtg Last Month    115.786
Name: 15690, dtype: object
15691 367 12 ORtg Last Month    30.5833
Name: 15691, dtype: object
15692 990 9 ORtg Last Month    110
Name: 15692, dtype: object
15693 402 13 ORtg Last Month    30.9231
Name: 15693, dtype: object
15694 1464 14 ORtg Last Month    104.571
Name: 15694, dtype: object
15695 1769 14 ORtg Last Month    126.357
Name: 15695, dtype: object
15696 501 5 ORtg Last Month    100.2
Name: 15696, dtype: object
15697 1583 14 ORtg Last Month    113.071
Name: 15697, dtype: object
15698 735 13 ORtg Last Month    56.5385
Name: 15698, dtype: object
15699 1313 12 ORtg Last Month    109.417
Name: 15699, dtype: object
15700 1564 14 ORtg Last Month    111.714
Name: 15700, dtype: object
15701 1429 14 ORtg Last Month    102.071
Name: 15701, dtype: object
15702 800 13 ORtg Last Month    61.5385
Name: 15702, dtype: object
15703 1666 14 ORtg Last Month    119
Name: 15703, dtype: object
15704 1144 10 ORtg Last Month    114.4
Name: 15704, dtype: object
15705 1732 14 ORtg Last Month    123.714
Name: 15705, dtype: object
15706 1330 13 ORtg Last Month    102.308
Name: 15706, dtype: object
15707 1626 13 ORtg Last Month    125.077
Name: 15707, dtype: object
15708 1403 13 ORtg Last Month    107.923
Name: 15708, dtype: object
15709 1102 12 ORtg Last Month    91.8333
Name: 15709, dtype: object
15710 1538 13 ORtg Last Month    118.308
Name: 15710, dtype: object
15711 1066 11 ORtg Last Month    96.9091
Name: 15711, dtype: object
15712 1547 13 ORtg Last Month    119
Name: 15712, dtype: object
15713 1297 13 ORtg Last Month    99.7692
Name: 15713, dtype: object
15714 195 4 ORtg Last Month    48.75
Name: 15714, dtype: object
15715 1131 9 ORtg Last Month    125.667
Name: 15715, dtype: object
15716 1655 13 ORtg Last Month    127.308
Name: 15716, dtype: object
15717 737 12 ORtg Last Month    61.4167
Name: 15717, dtype: object
15718 1415 15 ORtg Last Month    94.3333
Name: 15718, dtype: object
15719 1378 15 ORtg Last Month    91.8667
Name: 15719, dtype: object
15720 1381 14 ORtg Last Month    98.6429
Name: 15720, dtype: object
15721 1238 13 ORtg Last Month    95.2308
Name: 15721, dtype: object
15722 1663 15 ORtg Last Month    110.867
Name: 15722, dtype: object
15723 884 15 ORtg Last Month    58.9333
Name: 15723, dtype: object
15724 756 7 ORtg Last Month    108
Name: 15724, dtype: object
15725 1238 15 ORtg Last Month    82.5333
Name: 15725, dtype: object
15726 1732 15 ORtg Last Month    115.467
Name: 15726, dtype: object
15727 1743 14 ORtg Last Month    124.5
Name: 15727, dtype: object
15728 689 15 ORtg Last Month    45.9333
Name: 15728, dtype: object
15729 842 10 ORtg Last Month    84.2
Name: 15729, dtype: object
15730 1370 11 ORtg Last Month    124.545
Name: 15730, dtype: object
15731 1068 11 ORtg Last Month    97.0909
Name: 15731, dtype: object
15732 1222 11 ORtg Last Month    111.091
Name: 15732, dtype: object
15733 629 9 ORtg Last Month    69.8889
Name: 15733, dtype: object
15734 1034 11 ORtg Last Month    94
Name: 15734, dtype: object
15735 509 8 ORtg Last Month    63.625
Name: 15735, dtype: object
15736 1073 11 ORtg Last Month    97.5455
Name: 15736, dtype: object
15737 0 0 ORtg Last Month    0
Name: 15737, dtype: object
15738 842 11 ORtg Last Month    76.5455
Name: 15738, dtype: object
15739 1372 14 ORtg Last Month    98
Name: 15739, dtype: object
15740 1211 13 ORtg Last Month    93.1538
Name: 15740, dtype: object
15741 280 13 ORtg Last Month    21.5385
Name: 15741, dtype: object
15742 1471 14 ORtg Last Month    105.071
Name: 15742, dtype: object
15743 1530 14 ORtg Last Month    109.286
Name: 15743, dtype: object
15744 1736 14 ORtg Last Month    124
Name: 15744, dtype: object
15745 1285 14 ORtg Last Month    91.7857
Name: 15745, dtype: object
15746 1094 14 ORtg Last Month    78.1429
Name: 15746, dtype: object
15747 1797 14 ORtg Last Month    128.357
Name: 15747, dtype: object
15748 1637 14 ORtg Last Month    116.929
Name: 15748, dtype: object
15749 1309 11 ORtg Last Month    119
Name: 15749, dtype: object
15750 1572 13 ORtg Last Month    120.923
Name: 15750, dtype: object
15751 1555 13 ORtg Last Month    119.615
Name: 15751, dtype: object

15752 1449 13 ORtg Last Month    111.462
Name: 15752, dtype: object
15753 1316 11 ORtg Last Month    119.636
Name: 15753, dtype: object
15754 1399 11 ORtg Last Month    127.182
Name: 15754, dtype: object
15755 1137 10 ORtg Last Month    113.7
Name: 15755, dtype: object
15756 1047 12 ORtg Last Month    87.25
Name: 15756, dtype: object
15757 1165 13 ORtg Last Month    89.6154
Name: 15757, dtype: object
15758 176 1 ORtg Last Month    176
Name: 15758, dtype: object
15759 1290 11 ORtg Last Month    117.273
Name: 15759, dtype: object
15760 1302 13 ORtg Last Month    100.154
Name: 15760, dtype: object
15761 871 12 ORtg Last Month    72.5833
Name: 15761, dtype: object
15762 1178 11 ORtg Last Month    107.091
Name: 15762, dtype: object
15763 812 13 ORtg Last Month    62.4615
Name: 15763, dtype: object
15764 1257 14 ORtg Last Month    89.7857
Name: 15764, dtype: object
15765 636 14 ORtg Last Month    45.4286
Name: 15765, dtype: object
15766 1400 14 ORtg Last Month    100
Name: 15766, dtype: object
15767 1681 14 ORtg Last Month    120.071
Name: 15767, dtype: object
15768 1456 14 ORtg Last Month    104
Name: 15768, dtype: object
15769 1272 14 ORtg Last Month    90.8571
Name: 15769, dtype: object
15770 1677 14 ORtg Last Month    119.786
Name: 15770, dtype: object
15771 2137 13 ORtg Last Month    164.385
Name: 15771, dtype: object
15772 37 3 ORtg Last Month    12.3333
Name: 15772, dtype: object
15773 100 14 ORtg Last Month    7.14286
Name: 15773, dtype: object
15774 0 7 ORtg Last Month    0
Name: 15774, dtype: object
15775 1552 14 ORtg Last Month    110.857
Name: 15775, dtype: object
15776 1756 14 ORtg Last Month    125.429
Name: 15776, dtype: object
15777 1607 14 ORtg Last Month    114.786
Name: 15777, dtype: object
15778 1345 14 ORtg Last Month    96.0714
Name: 15778, dtype: object
15779 1603 14 ORtg Last Month    114.5
Name: 15779, dtype: object
15780 1557 14 ORtg Last Month    111.214
Name: 15780, dtype: object
15781 985 10 ORtg Last Month    98.5
Name: 15781, dtype: object
15782 895 14 ORtg Last Month    63.9286
Name: 15782, dtype: object
15783 1559 14 ORtg Last Month    111.357
Name: 15783, dtype: object
15784 404 4 ORtg Last Month    101
Name: 15784, dtype: object
15785 1043 12 ORtg Last Month    86.9167
Name: 15785, dtype: object
15786 1014 14 ORtg Last Month    72.4286
Name: 15786, dtype: object
15787 668 8 ORtg Last Month    83.5
Name: 15787, dtype: object
15788 1385 14 ORtg Last Month    98.9286
Name: 15788, dtype: object
15789 1482 14 ORtg Last Month    105.857
Name: 15789, dtype: object
15790 769 12 ORtg Last Month    64.0833
Name: 15790, dtype: object
15791 1187 12 ORtg Last Month    98.9167
Name: 15791, dtype: object
15792 1351 13 ORtg Last Month    103.923
Name: 15792, dtype: object
15793 155 5 ORtg Last Month    31
Name: 15793, dtype: object
15794 1528 14 ORtg Last Month    109.143
Name: 15794, dtype: object
15795 1025 11 ORtg Last Month    93.1818
Name: 15795, dtype: object
15796 1300 14 ORtg Last Month    92.8571
Name: 15796, dtype: object
15797 1119 11 ORtg Last Month    101.727
Name: 15797, dtype: object
15798 1525 14 ORtg Last Month    108.929
Name: 15798, dtype: object
15799 755 7 ORtg Last Month    107.857
Name: 15799, dtype: object
15800 1306 14 ORtg Last Month    93.2857
Name: 15800, dtype: object
15801 1481 14 ORtg Last Month    105.786
Name: 15801, dtype: object
15802 2013 14 ORtg Last Month    143.786
Name: 15802, dtype: object
15803 1358 14 ORtg Last Month    97
Name: 15803, dtype: object
15804 1629 14 ORtg Last Month    116.357
Name: 15804, dtype: object
15805 1471 14 ORtg Last Month    105.071
Name: 15805, dtype: object
15806 1229 14 ORtg Last Month    87.7857
Name: 15806, dtype: object
15807 1477 12 ORtg Last Month    123.083
Name: 15807, dtype: object
15808 1612 14 ORtg Last Month    115.143
Name: 15808, dtype: object
15809 1554 15 ORtg Last Month    103.6
Name: 15809, dtype: object
15810 1079 15 ORtg Last Month    71.9333
Name: 15810, dtype: object
15811 1481 15 ORtg Last Month    98.7333
Name: 15811, dtype: object
15812 1435 12 ORtg Last Month    119.583
Name: 15812, dtype: object
15813 1559 15 ORtg Last Month    103.933
Name: 15813, dtype: object
15814 1527 15 ORtg Last Month    101.8
Name: 15814, dtype: object
15815 1477 15 ORtg Last Month    98.4667
Name: 15815, dtype: object
15816 362 2 ORtg Last Month    181
Name: 15816, dtype: object
15817 1592 13 ORtg Last Month    122.462
Name: 15817, dtype: object
15818 930 14 ORtg Last Month    66.4286
Name: 15818, dtype: object
15819 1766 15 ORtg Last Month    117.733
Name: 15819, dtype: object
15820 1358 13 ORtg Last Month    104.462
Name: 15820, dtype: object
15821 1133 14 ORtg Last Month    80.9286
Name: 15821, dtype: object
15822 1495 14 ORtg Last Month    106.786
Name: 15822, dtype: object
15823 1443 13 ORtg Last Month    111
Name: 15823, dtype: object
15824 1463 14 ORtg Last Month    104.5
Name: 15824, dtype: object
15825 511 7 ORtg Last Month    73
Name: 15825, dtype: object
15826 1492 14 ORtg Last Month    106.571
Name: 15826, dtype: object
15827 1816 14 ORtg Last Month    129.714
Name: 15827, dtype: object
15828 1315 13 ORtg Last Month    101.154
Name: 15828, dtype: object
15829 776 7 ORtg Last Month    110.857
Name: 15829, dtype: object
15830 309 14 ORtg Last Month    22.0714
Name: 15830, dtype: object
15831 684 11 ORtg Last Month    62.1818
Name: 15831, dtype: object
15832 1290 14 ORtg Last Month    92.1429
Name: 15832, dtype: object
15833 1507 14 ORtg Last Month    107.643
Name: 15833, dtype: object
15834 1665 14 ORtg Last Month    118.929
Name: 15834, dtype: object
15835 1051 13 ORtg Last Month    80.8462
Name: 15835, dtype: object
15836 1131 11 ORtg Last Month    102.818
Name: 15836, dtype: object
15837 1438 14 ORtg Last Month    102.714
Name: 15837, dtype: object
15838 818 11 ORtg Last Month    74.3636
Name: 15838, dtype: object
15839 1125 11 ORtg Last Month    102.273
Name: 15839, dtype: object
15840 930 14 ORtg Last Month    66.4286
Name: 15840, dtype: object
15841 1579 15 ORtg Last Month    105.267
Name: 15841, dtype: object
15842 1267 15 ORtg Last Month    84.4667
Name: 15842, dtype: object
15843 1591 15 ORtg Last Month    106.067
Name: 15843, dtype: object
15844 1513 15 ORtg Last Month    100.867
Name: 15844, dtype: object
15845 573 13 ORtg Last Month    44.0769
Name: 15845, dtype: object
15846 1376 15 ORtg Last Month    91.7333
Name: 15846, dtype: object
15847 1061 15 ORtg Last Month    70.7333
Name: 15847, dtype: object
15848 1727 15 ORtg Last Month    115.133
Name: 15848, dtype: object
15849 1609 14 ORtg Last Month    114.929
Name: 15849, dtype: object
15850 730 11 ORtg Last Month    66.3636
Name: 15850, dtype: object
15851 1458 15 ORtg Last Month    97.2
Name: 15851, dtype: object
15852 1790 14 ORtg Last Month    127.857
Name: 15852, dtype: object
15853 1555 14 ORtg Last Month    111.071
Name: 15853, dtype: object
15854 1307 14 ORtg Last Month    93.3571
Name: 15854, dtype: object
15855 1453 13 ORtg Last Month    111.769
Name: 15855, dtype: object
15856 1725 14 ORtg Last Month    123.214
Name: 15856, dtype: object
15857 1813 14 ORtg Last Month    129.5
Name: 15857, dtype: object
15858 1838 14 ORtg Last Month    131.286
Name: 15858, dtype: object
15859 1686 14 ORtg Last Month    120.429
Name: 15859, dtype: object
15860 0 0 ORtg Last Month    0
Name: 15860, dtype: object
15861 2025 14 ORtg Last Month    144.643
Name: 15861, dtype: object
15862 1016 14 ORtg Last Month    72.5714
Name: 15862, dtype: object
15863 1812 14 ORtg Last Month    129.429
Name: 15863, dtype: object
15864 1329 14 ORtg Last Month    94.9286
Name: 15864, dtype: object
15865 1660 14 ORtg Last Month    118.571
Name: 15865, dtype: object
15866 1423 14 ORtg Last Month    101.643
Name: 15866, dtype: object
15867 1460 14 ORtg Last Month    104.286
Name: 15867, dtype: object
15868 0 0 ORtg Last Month    0
Name: 15868, dtype: object
15869 1634 14 ORtg Last Month    116.714
Name: 15869, dtype: object
15870 1341 14 ORtg Last Month    95.7857
Name: 15870, dtype: object
15871 1754 14 ORtg Last Month    125.286
Name: 15871, dtype: object
15872 621 14 ORtg Last Month    44.3571
Name: 15872, dtype: object
15873 1755 14 ORtg Last Month    125.357
Name: 15873, dtype: object
15874 541 7 ORtg Last Month    77.2857
Name: 15874, dtype: object

15875 1413 14 ORtg Last Month    100.929
Name: 15875, dtype: object
15876 765 14 ORtg Last Month    54.6429
Name: 15876, dtype: object
15877 1484 14 ORtg Last Month    106
Name: 15877, dtype: object
15878 1186 14 ORtg Last Month    84.7143
Name: 15878, dtype: object
15879 531 12 ORtg Last Month    44.25
Name: 15879, dtype: object
15880 892 13 ORtg Last Month    68.6154
Name: 15880, dtype: object
15881 1508 14 ORtg Last Month    107.714
Name: 15881, dtype: object
15882 687 11 ORtg Last Month    62.4545
Name: 15882, dtype: object
15883 1284 14 ORtg Last Month    91.7143
Name: 15883, dtype: object
15884 218 7 ORtg Last Month    31.1429
Name: 15884, dtype: object
15885 1363 14 ORtg Last Month    97.3571
Name: 15885, dtype: object
15886 1485 14 ORtg Last Month    106.071
Name: 15886, dtype: object
15887 1051 11 ORtg Last Month    95.5455
Name: 15887, dtype: object
15888 932 12 ORtg Last Month    77.6667
Name: 15888, dtype: object
15889 1255 12 ORtg Last Month    104.583
Name: 15889, dtype: object
15890 1366 12 ORtg Last Month    113.833
Name: 15890, dtype: object
15891 1338 13 ORtg Last Month    102.923
Name: 15891, dtype: object
15892 141 13 ORtg Last Month    10.8462
Name: 15892, dtype: object
15893 1138 12 ORtg Last Month    94.8333
Name: 15893, dtype: object
15894 440 7 ORtg Last Month    62.8571
Name: 15894, dtype: object
15895 1526 13 ORtg Last Month    117.385
Name: 15895, dtype: object
15896 1526 13 ORtg Last Month    117.385
Name: 15896, dtype: object
15897 0 12 ORtg Last Month    0
Name: 15897, dtype: object
15898 1215 12 ORtg Last Month    101.25
Name: 15898, dtype: object
15899 1493 13 ORtg Last Month    114.846
Name: 15899, dtype: object
15900 1303 12 ORtg Last Month    108.583
Name: 15900, dtype: object
15901 1342 13 ORtg Last Month    103.231
Name: 15901, dtype: object
15902 644 7 ORtg Last Month    92
Name: 15902, dtype: object
15903 653 6 ORtg Last Month    108.833
Name: 15903, dtype: object
15904 264 14 ORtg Last Month    18.8571
Name: 15904, dtype: object
15905 1408 14 ORtg Last Month    100.571
Name: 15905, dtype: object
15906 1282 14 ORtg Last Month    91.5714
Name: 15906, dtype: object
15907 1405 14 ORtg Last Month    100.357
Name: 15907, dtype: object
15908 641 14 ORtg Last Month    45.7857
Name: 15908, dtype: object
15909 0 4 ORtg Last Month    0
Name: 15909, dtype: object
15910 379 14 ORtg Last Month    27.0714
Name: 15910, dtype: object
15911 0 0 ORtg Last Month    0
Name: 15911, dtype: object
15912 1777 14 ORtg Last Month    126.929
Name: 15912, dtype: object
15913 1668 14 ORtg Last Month    119.143
Name: 15913, dtype: object
15914 1926 14 ORtg Last Month    137.571
Name: 15914, dtype: object
15915 1655 14 ORtg Last Month    118.214
Name: 15915, dtype: object
15916 865 8 ORtg Last Month    108.125
Name: 15916, dtype: object
15917 1278 14 ORtg Last Month    91.2857
Name: 15917, dtype: object
15918 1214 13 ORtg Last Month    93.3846
Name: 15918, dtype: object
15919 797 11 ORtg Last Month    72.4545
Name: 15919, dtype: object
15920 1230 12 ORtg Last Month    102.5
Name: 15920, dtype: object
15921 1386 13 ORtg Last Month    106.615
Name: 15921, dtype: object
15922 709 14 ORtg Last Month    50.6429
Name: 15922, dtype: object
15923 51 13 ORtg Last Month    3.92308
Name: 15923, dtype: object
15924 1598 13 ORtg Last Month    122.923
Name: 15924, dtype: object
15925 1663 13 ORtg Last Month    127.923
Name: 15925, dtype: object
15926 434 4 ORtg Last Month    108.5
Name: 15926, dtype: object
15927 1460 14 ORtg Last Month    104.286
Name: 15927, dtype: object
15928 1691 14 ORtg Last Month    120.786
Name: 15928, dtype: object
15929 1218 14 ORtg Last Month    87
Name: 15929, dtype: object
15930 780 14 ORtg Last Month    55.7143
Name: 15930, dtype: object
15931 1519 15 ORtg Last Month    101.267
Name: 15931, dtype: object
15932 1609 15 ORtg Last Month    107.267
Name: 15932, dtype: object
15933 1490 15 ORtg Last Month    99.3333
Name: 15933, dtype: object
15934 1483 15 ORtg Last Month    98.8667
Name: 15934, dtype: object
15935 623 12 ORtg Last Month    51.9167
Name: 15935, dtype: object
15936 1534 14 ORtg Last Month    109.571
Name: 15936, dtype: object
15937 863 11 ORtg Last Month    78.4545
Name: 15937, dtype: object
15938 533 14 ORtg Last Month    38.0714
Name: 15938, dtype: object
15939 1362 14 ORtg Last Month    97.2857
Name: 15939, dtype: object
15940 1811 16 ORtg Last Month    113.188
Name: 15940, dtype: object
15941 1836 16 ORtg Last Month    114.75
Name: 15941, dtype: object
15942 288 9 ORtg Last Month    32
Name: 15942, dtype: object
15943 1904 16 ORtg Last Month    119
Name: 15943, dtype: object
15944 1679 16 ORtg Last Month    104.938
Name: 15944, dtype: object
15945 1404 16 ORtg Last Month    87.75
Name: 15945, dtype: object
15946 930 11 ORtg Last Month    84.5455
Name: 15946, dtype: object
15947 1178 16 ORtg Last Month    73.625
Name: 15947, dtype: object
15948 1849 16 ORtg Last Month    115.562
Name: 15948, dtype: object
15949 1751 16 ORtg Last Month    109.438
Name: 15949, dtype: object
15950 1812 16 ORtg Last Month    113.25
Name: 15950, dtype: object
15951 1907 15 ORtg Last Month    127.133
Name: 15951, dtype: object
15952 1641 15 ORtg Last Month    109.4
Name: 15952, dtype: object
15953 1749 15 ORtg Last Month    116.6
Name: 15953, dtype: object
15954 945 9 ORtg Last Month    105
Name: 15954, dtype: object
15955 1678 14 ORtg Last Month    119.857
Name: 15955, dtype: object
15956 2012 15 ORtg Last Month    134.133
Name: 15956, dtype: object
15957 642 15 ORtg Last Month    42.8
Name: 15957, dtype: object
15958 1526 15 ORtg Last Month    101.733
Name: 15958, dtype: object
15959 800 15 ORtg Last Month    53.3333
Name: 15959, dtype: object
15960 1854 15 ORtg Last Month    123.6
Name: 15960, dtype: object
15961 689 11 ORtg Last Month    62.6364
Name: 15961, dtype: object
15962 2047 15 ORtg Last Month    136.467
Name: 15962, dtype: object
15963 0 1 ORtg Last Month    0
Name: 15963, dtype: object
15964 1564 15 ORtg Last Month    104.267
Name: 15964, dtype: object
15965 309 3 ORtg Last Month    103
Name: 15965, dtype: object
15966 1505 15 ORtg Last Month    100.333
Name: 15966, dtype: object
15967 1393 14 ORtg Last Month    99.5
Name: 15967, dtype: object
15968 1539 15 ORtg Last Month    102.6
Name: 15968, dtype: object
15969 1753 15 ORtg Last Month    116.867
Name: 15969, dtype: object
15970 1226 15 ORtg Last Month    81.7333
Name: 15970, dtype: object
15971 60 6 ORtg Last Month    10
Name: 15971, dtype: object
15972 1975 15 ORtg Last Month    131.667
Name: 15972, dtype: object
15973 1800 15 ORtg Last Month    120
Name: 15973, dtype: object
15974 1096 15 ORtg Last Month    73.0667
Name: 15974, dtype: object
15975 1509 14 ORtg Last Month    107.786
Name: 15975, dtype: object
15976 1519 13 ORtg Last Month    116.846
Name: 15976, dtype: object
15977 438 12 ORtg Last Month    36.5
Name: 15977, dtype: object
15978 1306 14 ORtg Last Month    93.2857
Name: 15978, dtype: object
15979 1283 14 ORtg Last Month    91.6429
Name: 15979, dtype: object
15980 772 14 ORtg Last Month    55.1429
Name: 15980, dtype: object
15981 701 13 ORtg Last Month    53.9231
Name: 15981, dtype: object
15982 1705 13 ORtg Last Month    131.154
Name: 15982, dtype: object
15983 1199 12 ORtg Last Month    99.9167
Name: 15983, dtype: object
15984 566 8 ORtg Last Month    70.75
Name: 15984, dtype: object
15985 1149 10 ORtg Last Month    114.9
Name: 15985, dtype: object
15986 1496 12 ORtg Last Month    124.667
Name: 15986, dtype: object
15987 1586 15 ORtg Last Month    105.733
Name: 15987, dtype: object
15988 1662 14 ORtg Last Month    118.714
Name: 15988, dtype: object
15989 1079 15 ORtg Last Month    71.9333
Name: 15989, dtype: object
15990 1503 15 ORtg Last Month    100.2
Name: 15990, dtype: object
15991 1526 15 ORtg Last Month    101.733
Name: 15991, dtype: object
15992 1499 13 ORtg Last Month    115.308
Name: 15992, dtype: object
15993 1356 15 ORtg Last Month    90.4
Name: 15993, dtype: object
15994 1768 14 ORtg Last Month    126.286
Name: 15994, dtype: object
15995 276 2 ORtg Last Month    138
Name: 15995, dtype: object
15996 1697 15 ORtg Last Month    113.133
Name: 15996, dtype: object
15997 1163 15 ORtg Last Month    77.5333
Name: 15997, dtype: object

15998 601 8 ORtg Last Month    75.125
Name: 15998, dtype: object
15999 1195 11 ORtg Last Month    108.636
Name: 15999, dtype: object
16000 1312 13 ORtg Last Month    100.923
Name: 16000, dtype: object
16001 1580 13 ORtg Last Month    121.538
Name: 16001, dtype: object
16002 1221 13 ORtg Last Month    93.9231
Name: 16002, dtype: object
16003 913 13 ORtg Last Month    70.2308
Name: 16003, dtype: object
16004 1375 13 ORtg Last Month    105.769
Name: 16004, dtype: object
16005 486 12 ORtg Last Month    40.5
Name: 16005, dtype: object
16006 1539 13 ORtg Last Month    118.385
Name: 16006, dtype: object
16007 1451 12 ORtg Last Month    120.917
Name: 16007, dtype: object
16008 530 5 ORtg Last Month    106
Name: 16008, dtype: object
16009 1204 13 ORtg Last Month    92.6154
Name: 16009, dtype: object
16010 948 13 ORtg Last Month    72.9231
Name: 16010, dtype: object
16011 1543 14 ORtg Last Month    110.214
Name: 16011, dtype: object
16012 1060 12 ORtg Last Month    88.3333
Name: 16012, dtype: object
16013 1199 14 ORtg Last Month    85.6429
Name: 16013, dtype: object
16014 1190 14 ORtg Last Month    85
Name: 16014, dtype: object
16015 1217 11 ORtg Last Month    110.636
Name: 16015, dtype: object
16016 1588 14 ORtg Last Month    113.429
Name: 16016, dtype: object
16017 1621 14 ORtg Last Month    115.786
Name: 16017, dtype: object
16018 1204 14 ORtg Last Month    86
Name: 16018, dtype: object
16019 1573 14 ORtg Last Month    112.357
Name: 16019, dtype: object
16020 367 12 ORtg Last Month    30.5833
Name: 16020, dtype: object
16021 1216 10 ORtg Last Month    121.6
Name: 16021, dtype: object
16022 402 13 ORtg Last Month    30.9231
Name: 16022, dtype: object
16023 1294 14 ORtg Last Month    92.4286
Name: 16023, dtype: object
16024 1512 14 ORtg Last Month    108
Name: 16024, dtype: object
16025 1654 14 ORtg Last Month    118.143
Name: 16025, dtype: object
16026 1153 13 ORtg Last Month    88.6923
Name: 16026, dtype: object
16027 748 11 ORtg Last Month    68
Name: 16027, dtype: object
16028 776 11 ORtg Last Month    70.5455
Name: 16028, dtype: object
16029 1371 14 ORtg Last Month    97.9286
Name: 16029, dtype: object
16030 1155 11 ORtg Last Month    105
Name: 16030, dtype: object
16031 0 0 ORtg Last Month    0
Name: 16031, dtype: object
16032 1121 11 ORtg Last Month    101.909
Name: 16032, dtype: object
16033 1005 14 ORtg Last Month    71.7857
Name: 16033, dtype: object
16034 1709 15 ORtg Last Month    113.933
Name: 16034, dtype: object
16035 1272 15 ORtg Last Month    84.8
Name: 16035, dtype: object
16036 1232 15 ORtg Last Month    82.1333
Name: 16036, dtype: object
16037 0 2 ORtg Last Month    0
Name: 16037, dtype: object
16038 1672 15 ORtg Last Month    111.467
Name: 16038, dtype: object
16039 1434 15 ORtg Last Month    95.6
Name: 16039, dtype: object
16040 221 11 ORtg Last Month    20.0909
Name: 16040, dtype: object
16041 1843 15 ORtg Last Month    122.867
Name: 16041, dtype: object
16042 1720 15 ORtg Last Month    114.667
Name: 16042, dtype: object
16043 1496 15 ORtg Last Month    99.7333
Name: 16043, dtype: object
16044 463 14 ORtg Last Month    33.0714
Name: 16044, dtype: object
16045 941 12 ORtg Last Month    78.4167
Name: 16045, dtype: object
16046 1496 14 ORtg Last Month    106.857
Name: 16046, dtype: object
16047 1558 14 ORtg Last Month    111.286
Name: 16047, dtype: object
16048 1781 14 ORtg Last Month    127.214
Name: 16048, dtype: object
16049 627 6 ORtg Last Month    104.5
Name: 16049, dtype: object
16050 877 13 ORtg Last Month    67.4615
Name: 16050, dtype: object
16051 1258 12 ORtg Last Month    104.833
Name: 16051, dtype: object
16052 263 3 ORtg Last Month    87.6667
Name: 16052, dtype: object
16053 1628 14 ORtg Last Month    116.286
Name: 16053, dtype: object
16054 800 13 ORtg Last Month    61.5385
Name: 16054, dtype: object
16055 1482 14 ORtg Last Month    105.857
Name: 16055, dtype: object
16056 1674 14 ORtg Last Month    119.571
Name: 16056, dtype: object
16057 1305 11 ORtg Last Month    118.636
Name: 16057, dtype: object
16058 1818 14 ORtg Last Month    129.857
Name: 16058, dtype: object
16059 1558 15 ORtg Last Month    103.867
Name: 16059, dtype: object
16060 1522 15 ORtg Last Month    101.467
Name: 16060, dtype: object
16061 1228 15 ORtg Last Month    81.8667
Name: 16061, dtype: object
16062 573 13 ORtg Last Month    44.0769
Name: 16062, dtype: object
16063 1439 15 ORtg Last Month    95.9333
Name: 16063, dtype: object
16064 1419 15 ORtg Last Month    94.6
Name: 16064, dtype: object
16065 1710 15 ORtg Last Month    114
Name: 16065, dtype: object
16066 1171 15 ORtg Last Month    78.0667
Name: 16066, dtype: object
16067 1587 14 ORtg Last Month    113.357
Name: 16067, dtype: object
16068 868 11 ORtg Last Month    78.9091
Name: 16068, dtype: object
16069 1005 13 ORtg Last Month    77.3077
Name: 16069, dtype: object
16070 0 0 ORtg Last Month    0
Name: 16070, dtype: object
16071 1688 14 ORtg Last Month    120.571
Name: 16071, dtype: object
16072 1443 12 ORtg Last Month    120.25
Name: 16072, dtype: object
16073 698 6 ORtg Last Month    116.333
Name: 16073, dtype: object
16074 1560 14 ORtg Last Month    111.429
Name: 16074, dtype: object
16075 817 7 ORtg Last Month    116.714
Name: 16075, dtype: object
16076 1443 14 ORtg Last Month    103.071
Name: 16076, dtype: object
16077 676 10 ORtg Last Month    67.6
Name: 16077, dtype: object
16078 1534 14 ORtg Last Month    109.571
Name: 16078, dtype: object
16079 971 14 ORtg Last Month    69.3571
Name: 16079, dtype: object
16080 90 3 ORtg Last Month    30
Name: 16080, dtype: object
16081 158 14 ORtg Last Month    11.2857
Name: 16081, dtype: object
16082 1259 12 ORtg Last Month    104.917
Name: 16082, dtype: object
16083 1535 12 ORtg Last Month    127.917
Name: 16083, dtype: object
16084 1368 12 ORtg Last Month    114
Name: 16084, dtype: object
16085 1102 11 ORtg Last Month    100.182
Name: 16085, dtype: object
16086 1436 12 ORtg Last Month    119.667
Name: 16086, dtype: object
16087 1017 10 ORtg Last Month    101.7
Name: 16087, dtype: object
16088 1396 12 ORtg Last Month    116.333
Name: 16088, dtype: object
16089 1088 12 ORtg Last Month    90.6667
Name: 16089, dtype: object
16090 222 5 ORtg Last Month    44.4
Name: 16090, dtype: object
16091 1494 12 ORtg Last Month    124.5
Name: 16091, dtype: object
16092 1047 8 ORtg Last Month    130.875
Name: 16092, dtype: object
16093 737 11 ORtg Last Month    67
Name: 16093, dtype: object
16094 1408 15 ORtg Last Month    93.8667
Name: 16094, dtype: object
16095 1241 15 ORtg Last Month    82.7333
Name: 16095, dtype: object
16096 1458 15 ORtg Last Month    97.2
Name: 16096, dtype: object
16097 1272 13 ORtg Last Month    97.8462
Name: 16097, dtype: object
16098 1481 15 ORtg Last Month    98.7333
Name: 16098, dtype: object
16099 1695 15 ORtg Last Month    113
Name: 16099, dtype: object
16100 834 8 ORtg Last Month    104.25
Name: 16100, dtype: object
16101 1004 15 ORtg Last Month    66.9333
Name: 16101, dtype: object
16102 1050 11 ORtg Last Month    95.4545
Name: 16102, dtype: object
16103 1809 15 ORtg Last Month    120.6
Name: 16103, dtype: object
16104 1654 14 ORtg Last Month    118.143
Name: 16104, dtype: object
16105 698 15 ORtg Last Month    46.5333
Name: 16105, dtype: object
16106 1254 14 ORtg Last Month    89.5714
Name: 16106, dtype: object
16107 1509 14 ORtg Last Month    107.786
Name: 16107, dtype: object
16108 477 12 ORtg Last Month    39.75
Name: 16108, dtype: object
16109 936 13 ORtg Last Month    72
Name: 16109, dtype: object
16110 1270 14 ORtg Last Month    90.7143
Name: 16110, dtype: object
16111 843 12 ORtg Last Month    70.25
Name: 16111, dtype: object
16112 1608 14 ORtg Last Month    114.857
Name: 16112, dtype: object
16113 218 8 ORtg Last Month    27.25
Name: 16113, dtype: object
16114 711 12 ORtg Last Month    59.25
Name: 16114, dtype: object
16115 1467 14 ORtg Last Month    104.786
Name: 16115, dtype: object
16116 1365 13 ORtg Last Month    105
Name: 16116, dtype: object
16117 1444 13 ORtg Last Month    111.077
Name: 16117, dtype: object
16118 1464 14 ORtg Last Month    104.571
Name: 16118, dtype: object
16119 198 14 ORtg Last Month    14.1429
Name: 16119, dtype: object
16120 1526 14 ORtg Last Month    109
Name: 16120, dtype: object
16121 502 8 ORtg Last Month    62.75
Name: 16121, dtype: object

16122 1586 14 ORtg Last Month    113.286
Name: 16122, dtype: object
16123 1255 13 ORtg Last Month    96.5385
Name: 16123, dtype: object
16124 0 13 ORtg Last Month    0
Name: 16124, dtype: object
16125 1299 13 ORtg Last Month    99.9231
Name: 16125, dtype: object
16126 1382 13 ORtg Last Month    106.308
Name: 16126, dtype: object
16127 1625 14 ORtg Last Month    116.071
Name: 16127, dtype: object
16128 1398 14 ORtg Last Month    99.8571
Name: 16128, dtype: object
16129 1510 14 ORtg Last Month    107.857
Name: 16129, dtype: object
16130 1598 13 ORtg Last Month    122.923
Name: 16130, dtype: object
16131 1705 14 ORtg Last Month    121.786
Name: 16131, dtype: object
16132 53 3 ORtg Last Month    17.6667
Name: 16132, dtype: object
16133 1580 13 ORtg Last Month    121.538
Name: 16133, dtype: object
16134 1593 14 ORtg Last Month    113.786
Name: 16134, dtype: object
16135 1614 14 ORtg Last Month    115.286
Name: 16135, dtype: object
16136 1307 14 ORtg Last Month    93.3571
Name: 16136, dtype: object
16137 369 13 ORtg Last Month    28.3846
Name: 16137, dtype: object
16138 1579 14 ORtg Last Month    112.786
Name: 16138, dtype: object
16139 1281 13 ORtg Last Month    98.5385
Name: 16139, dtype: object
16140 841 8 ORtg Last Month    105.125
Name: 16140, dtype: object
16141 1120 13 ORtg Last Month    86.1538
Name: 16141, dtype: object
16142 1361 14 ORtg Last Month    97.2143
Name: 16142, dtype: object
16143 1298 14 ORtg Last Month    92.7143
Name: 16143, dtype: object
16144 280 14 ORtg Last Month    20
Name: 16144, dtype: object
16145 1461 14 ORtg Last Month    104.357
Name: 16145, dtype: object
16146 1692 14 ORtg Last Month    120.857
Name: 16146, dtype: object
16147 1528 14 ORtg Last Month    109.143
Name: 16147, dtype: object
16148 1125 14 ORtg Last Month    80.3571
Name: 16148, dtype: object
16149 1320 14 ORtg Last Month    94.2857
Name: 16149, dtype: object
16150 1800 14 ORtg Last Month    128.571
Name: 16150, dtype: object
16151 1360 11 ORtg Last Month    123.636
Name: 16151, dtype: object
16152 1711 14 ORtg Last Month    122.214
Name: 16152, dtype: object
16153 1646 14 ORtg Last Month    117.571
Name: 16153, dtype: object
16154 1255 14 ORtg Last Month    89.6429
Name: 16154, dtype: object
16155 672 14 ORtg Last Month    48
Name: 16155, dtype: object
16156 1534 15 ORtg Last Month    102.267
Name: 16156, dtype: object
16157 1549 15 ORtg Last Month    103.267
Name: 16157, dtype: object
16158 1437 15 ORtg Last Month    95.8
Name: 16158, dtype: object
16159 519 12 ORtg Last Month    43.25
Name: 16159, dtype: object
16160 1671 15 ORtg Last Month    111.4
Name: 16160, dtype: object
16161 1647 15 ORtg Last Month    109.8
Name: 16161, dtype: object
16162 533 14 ORtg Last Month    38.0714
Name: 16162, dtype: object
16163 880 11 ORtg Last Month    80
Name: 16163, dtype: object
16164 1239 14 ORtg Last Month    88.5
Name: 16164, dtype: object
16165 1536 13 ORtg Last Month    118.154
Name: 16165, dtype: object
16166 1569 13 ORtg Last Month    120.692
Name: 16166, dtype: object
16167 1391 13 ORtg Last Month    107
Name: 16167, dtype: object
16168 1308 11 ORtg Last Month    118.909
Name: 16168, dtype: object
16169 1440 11 ORtg Last Month    130.909
Name: 16169, dtype: object
16170 1111 10 ORtg Last Month    111.1
Name: 16170, dtype: object
16171 1150 13 ORtg Last Month    88.4615
Name: 16171, dtype: object
16172 1211 13 ORtg Last Month    93.1538
Name: 16172, dtype: object
16173 176 2 ORtg Last Month    88
Name: 16173, dtype: object
16174 1283 11 ORtg Last Month    116.636
Name: 16174, dtype: object
16175 1366 13 ORtg Last Month    105.077
Name: 16175, dtype: object
16176 661 12 ORtg Last Month    55.0833
Name: 16176, dtype: object
16177 1187 11 ORtg Last Month    107.909
Name: 16177, dtype: object
16178 950 14 ORtg Last Month    67.8571
Name: 16178, dtype: object
16179 1286 14 ORtg Last Month    91.8571
Name: 16179, dtype: object
16180 636 14 ORtg Last Month    45.4286
Name: 16180, dtype: object
16181 1392 14 ORtg Last Month    99.4286
Name: 16181, dtype: object
16182 1424 14 ORtg Last Month    101.714
Name: 16182, dtype: object
16183 1699 14 ORtg Last Month    121.357
Name: 16183, dtype: object
16184 1281 14 ORtg Last Month    91.5
Name: 16184, dtype: object
16185 1680 14 ORtg Last Month    120
Name: 16185, dtype: object
16186 37 4 ORtg Last Month    9.25
Name: 16186, dtype: object
16187 2069 13 ORtg Last Month    159.154
Name: 16187, dtype: object
16188 100 14 ORtg Last Month    7.14286
Name: 16188, dtype: object
16189 0 8 ORtg Last Month    0
Name: 16189, dtype: object
16190 1519 14 ORtg Last Month    108.5
Name: 16190, dtype: object
16191 1795 14 ORtg Last Month    128.214
Name: 16191, dtype: object
16192 1606 14 ORtg Last Month    114.714
Name: 16192, dtype: object
16193 1047 11 ORtg Last Month    95.1818
Name: 16193, dtype: object
16194 1453 14 ORtg Last Month    103.786
Name: 16194, dtype: object
16195 1612 14 ORtg Last Month    115.143
Name: 16195, dtype: object
16196 1582 14 ORtg Last Month    113
Name: 16196, dtype: object
16197 837 14 ORtg Last Month    59.7857
Name: 16197, dtype: object
16198 1572 14 ORtg Last Month    112.286
Name: 16198, dtype: object
16199 504 5 ORtg Last Month    100.8
Name: 16199, dtype: object
16200 1079 13 ORtg Last Month    83
Name: 16200, dtype: object
16201 906 14 ORtg Last Month    64.7143
Name: 16201, dtype: object
16202 758 9 ORtg Last Month    84.2222
Name: 16202, dtype: object
16203 1537 14 ORtg Last Month    109.786
Name: 16203, dtype: object
16204 1451 14 ORtg Last Month    103.643
Name: 16204, dtype: object
16205 0 3 ORtg Last Month    0
Name: 16205, dtype: object
16206 1233 12 ORtg Last Month    102.75
Name: 16206, dtype: object
16207 1384 13 ORtg Last Month    106.462
Name: 16207, dtype: object
16208 863 12 ORtg Last Month    71.9167
Name: 16208, dtype: object
16209 155 6 ORtg Last Month    25.8333
Name: 16209, dtype: object
16210 436 9 ORtg Last Month    48.4444
Name: 16210, dtype: object
16211 1528 14 ORtg Last Month    109.143
Name: 16211, dtype: object
16212 1123 12 ORtg Last Month    93.5833
Name: 16212, dtype: object
16213 1092 11 ORtg Last Month    99.2727
Name: 16213, dtype: object
16214 1250 14 ORtg Last Month    89.2857
Name: 16214, dtype: object
16215 1637 15 ORtg Last Month    109.133
Name: 16215, dtype: object
16216 1324 15 ORtg Last Month    88.2667
Name: 16216, dtype: object
16217 1197 13 ORtg Last Month    92.0769
Name: 16217, dtype: object
16218 1376 15 ORtg Last Month    91.7333
Name: 16218, dtype: object
16219 1768 15 ORtg Last Month    117.867
Name: 16219, dtype: object
16220 1427 12 ORtg Last Month    118.917
Name: 16220, dtype: object
16221 1738 15 ORtg Last Month    115.867
Name: 16221, dtype: object
16222 1332 15 ORtg Last Month    88.8
Name: 16222, dtype: object
16223 1742 15 ORtg Last Month    116.133
Name: 16223, dtype: object
16224 667 13 ORtg Last Month    51.3077
Name: 16224, dtype: object
16225 1378 11 ORtg Last Month    125.273
Name: 16225, dtype: object
16226 402 14 ORtg Last Month    28.7143
Name: 16226, dtype: object
16227 1361 13 ORtg Last Month    104.692
Name: 16227, dtype: object
16228 1663 13 ORtg Last Month    127.923
Name: 16228, dtype: object
16229 1485 13 ORtg Last Month    114.231
Name: 16229, dtype: object
16230 1321 12 ORtg Last Month    110.083
Name: 16230, dtype: object
16231 1478 13 ORtg Last Month    113.692
Name: 16231, dtype: object
16232 1158 11 ORtg Last Month    105.273
Name: 16232, dtype: object
16233 1583 13 ORtg Last Month    121.769
Name: 16233, dtype: object
16234 1207 13 ORtg Last Month    92.8462
Name: 16234, dtype: object
16235 222 6 ORtg Last Month    37
Name: 16235, dtype: object
16236 1144 9 ORtg Last Month    127.111
Name: 16236, dtype: object
16237 1647 13 ORtg Last Month    126.692
Name: 16237, dtype: object
16238 803 12 ORtg Last Month    66.9167
Name: 16238, dtype: object
16239 1587 14 ORtg Last Month    113.357
Name: 16239, dtype: object
16240 1394 14 ORtg Last Month    99.5714
Name: 16240, dtype: object
16241 1358 14 ORtg Last Month    97
Name: 16241, dtype: object
16242 1412 14 ORtg Last Month    100.857
Name: 16242, dtype: object
16243 78 1 ORtg Last Month    78
Name: 16243, dtype: object
16244 1622 14 ORtg Last Month    115.857
Name: 16244, dtype: object

16245 744 14 ORtg Last Month    53.1429
Name: 16245, dtype: object
16246 1386 14 ORtg Last Month    99
Name: 16246, dtype: object
16247 1701 14 ORtg Last Month    121.5
Name: 16247, dtype: object
16248 664 8 ORtg Last Month    83
Name: 16248, dtype: object
16249 1408 14 ORtg Last Month    100.571
Name: 16249, dtype: object
16250 538 14 ORtg Last Month    38.4286
Name: 16250, dtype: object
16251 657 7 ORtg Last Month    93.8571
Name: 16251, dtype: object
16252 779 7 ORtg Last Month    111.286
Name: 16252, dtype: object
16253 336 14 ORtg Last Month    24
Name: 16253, dtype: object
16254 1323 14 ORtg Last Month    94.5
Name: 16254, dtype: object
16255 1421 14 ORtg Last Month    101.5
Name: 16255, dtype: object
16256 743 14 ORtg Last Month    53.0714
Name: 16256, dtype: object
16257 1272 14 ORtg Last Month    90.8571
Name: 16257, dtype: object
16258 379 14 ORtg Last Month    27.0714
Name: 16258, dtype: object
16259 0 5 ORtg Last Month    0
Name: 16259, dtype: object
16260 0 1 ORtg Last Month    0
Name: 16260, dtype: object
16261 1679 14 ORtg Last Month    119.929
Name: 16261, dtype: object
16262 1763 14 ORtg Last Month    125.929
Name: 16262, dtype: object
16263 1894 14 ORtg Last Month    135.286
Name: 16263, dtype: object
16264 1319 12 ORtg Last Month    109.917
Name: 16264, dtype: object
16265 623 10 ORtg Last Month    62.3
Name: 16265, dtype: object
16266 1427 15 ORtg Last Month    95.1333
Name: 16266, dtype: object
16267 1044 15 ORtg Last Month    69.6
Name: 16267, dtype: object
16268 812 15 ORtg Last Month    54.1333
Name: 16268, dtype: object
16269 1517 15 ORtg Last Month    101.133
Name: 16269, dtype: object
16270 1522 15 ORtg Last Month    101.467
Name: 16270, dtype: object
16271 1344 15 ORtg Last Month    89.6
Name: 16271, dtype: object
16272 1809 15 ORtg Last Month    120.6
Name: 16272, dtype: object
16273 100 15 ORtg Last Month    6.66667
Name: 16273, dtype: object
16274 198 5 ORtg Last Month    39.6
Name: 16274, dtype: object
16275 0 9 ORtg Last Month    0
Name: 16275, dtype: object
16276 1932 15 ORtg Last Month    128.8
Name: 16276, dtype: object
16277 1668 15 ORtg Last Month    111.2
Name: 16277, dtype: object
16278 1709 15 ORtg Last Month    113.933
Name: 16278, dtype: object
16279 135 2 ORtg Last Month    67.5
Name: 16279, dtype: object
16280 904 9 ORtg Last Month    100.444
Name: 16280, dtype: object
16281 1394 15 ORtg Last Month    92.9333
Name: 16281, dtype: object
16282 1632 14 ORtg Last Month    116.571
Name: 16282, dtype: object
16283 2002 15 ORtg Last Month    133.467
Name: 16283, dtype: object
16284 643 15 ORtg Last Month    42.8667
Name: 16284, dtype: object
16285 686 15 ORtg Last Month    45.7333
Name: 16285, dtype: object
16286 1814 15 ORtg Last Month    120.933
Name: 16286, dtype: object
16287 2041 15 ORtg Last Month    136.067
Name: 16287, dtype: object
16288 779 12 ORtg Last Month    64.9167
Name: 16288, dtype: object
16289 1456 14 ORtg Last Month    104
Name: 16289, dtype: object
16290 1514 13 ORtg Last Month    116.462
Name: 16290, dtype: object
16291 438 12 ORtg Last Month    36.5
Name: 16291, dtype: object
16292 701 13 ORtg Last Month    53.9231
Name: 16292, dtype: object
16293 1475 14 ORtg Last Month    105.357
Name: 16293, dtype: object
16294 772 14 ORtg Last Month    55.1429
Name: 16294, dtype: object
16295 1312 14 ORtg Last Month    93.7143
Name: 16295, dtype: object
16296 1122 10 ORtg Last Month    112.2
Name: 16296, dtype: object
16297 1718 13 ORtg Last Month    132.154
Name: 16297, dtype: object
16298 1209 12 ORtg Last Month    100.75
Name: 16298, dtype: object
16299 760 9 ORtg Last Month    84.4444
Name: 16299, dtype: object
16300 1537 12 ORtg Last Month    128.083
Name: 16300, dtype: object
16301 1677 14 ORtg Last Month    119.786
Name: 16301, dtype: object
16302 1588 15 ORtg Last Month    105.867
Name: 16302, dtype: object
16303 1095 15 ORtg Last Month    73
Name: 16303, dtype: object
16304 1584 14 ORtg Last Month    113.143
Name: 16304, dtype: object
16305 1530 15 ORtg Last Month    102
Name: 16305, dtype: object
16306 1504 15 ORtg Last Month    100.267
Name: 16306, dtype: object
16307 1450 14 ORtg Last Month    103.571
Name: 16307, dtype: object
16308 1454 15 ORtg Last Month    96.9333
Name: 16308, dtype: object
16309 1866 15 ORtg Last Month    124.4
Name: 16309, dtype: object
16310 403 3 ORtg Last Month    134.333
Name: 16310, dtype: object
16311 997 15 ORtg Last Month    66.4667
Name: 16311, dtype: object
16312 1570 15 ORtg Last Month    104.667
Name: 16312, dtype: object
16313 1350 12 ORtg Last Month    112.5
Name: 16313, dtype: object
16314 1380 13 ORtg Last Month    106.154
Name: 16314, dtype: object
16315 1177 13 ORtg Last Month    90.5385
Name: 16315, dtype: object
16316 1320 12 ORtg Last Month    110
Name: 16316, dtype: object
16317 601 8 ORtg Last Month    75.125
Name: 16317, dtype: object
16318 1327 13 ORtg Last Month    102.077
Name: 16318, dtype: object
16319 1395 13 ORtg Last Month    107.308
Name: 16319, dtype: object
16320 1307 12 ORtg Last Month    108.917
Name: 16320, dtype: object
16321 1549 13 ORtg Last Month    119.154
Name: 16321, dtype: object
16322 638 6 ORtg Last Month    106.333
Name: 16322, dtype: object
16323 1290 13 ORtg Last Month    99.2308
Name: 16323, dtype: object
16324 1297 12 ORtg Last Month    108.083
Name: 16324, dtype: object
16325 1617 13 ORtg Last Month    124.385
Name: 16325, dtype: object
16326 1286 13 ORtg Last Month    98.9231
Name: 16326, dtype: object
16327 873 13 ORtg Last Month    67.1538
Name: 16327, dtype: object
16328 1342 13 ORtg Last Month    103.231
Name: 16328, dtype: object
16329 1564 13 ORtg Last Month    120.308
Name: 16329, dtype: object
16330 607 13 ORtg Last Month    46.6923
Name: 16330, dtype: object
16331 1361 12 ORtg Last Month    113.417
Name: 16331, dtype: object
16332 1198 13 ORtg Last Month    92.1538
Name: 16332, dtype: object
16333 669 6 ORtg Last Month    111.5
Name: 16333, dtype: object
16334 948 13 ORtg Last Month    72.9231
Name: 16334, dtype: object
16335 1277 14 ORtg Last Month    91.2143
Name: 16335, dtype: object
16336 799 12 ORtg Last Month    66.5833
Name: 16336, dtype: object
16337 1499 14 ORtg Last Month    107.071
Name: 16337, dtype: object
16338 1172 13 ORtg Last Month    90.1538
Name: 16338, dtype: object
16339 1677 14 ORtg Last Month    119.786
Name: 16339, dtype: object
16340 1142 11 ORtg Last Month    103.818
Name: 16340, dtype: object
16341 1360 14 ORtg Last Month    97.1429
Name: 16341, dtype: object
16342 780 11 ORtg Last Month    70.9091
Name: 16342, dtype: object
16343 263 1 ORtg Last Month    263
Name: 16343, dtype: object
16344 1166 11 ORtg Last Month    106
Name: 16344, dtype: object
16345 1005 14 ORtg Last Month    71.7857
Name: 16345, dtype: object
16346 1659 15 ORtg Last Month    110.6
Name: 16346, dtype: object
16347 1297 15 ORtg Last Month    86.4667
Name: 16347, dtype: object
16348 1169 15 ORtg Last Month    77.9333
Name: 16348, dtype: object
16349 200 3 ORtg Last Month    66.6667
Name: 16349, dtype: object
16350 1393 15 ORtg Last Month    92.8667
Name: 16350, dtype: object
16351 1691 15 ORtg Last Month    112.733
Name: 16351, dtype: object
16352 252 12 ORtg Last Month    21
Name: 16352, dtype: object
16353 0 0 ORtg Last Month    0
Name: 16353, dtype: object
16354 1809 15 ORtg Last Month    120.6
Name: 16354, dtype: object
16355 1446 15 ORtg Last Month    96.4
Name: 16355, dtype: object
16356 1715 15 ORtg Last Month    114.333
Name: 16356, dtype: object
16357 941 12 ORtg Last Month    78.4167
Name: 16357, dtype: object
16358 1521 15 ORtg Last Month    101.4
Name: 16358, dtype: object
16359 1528 15 ORtg Last Month    101.867
Name: 16359, dtype: object
16360 1254 15 ORtg Last Month    83.6
Name: 16360, dtype: object
16361 1439 15 ORtg Last Month    95.9333
Name: 16361, dtype: object
16362 649 13 ORtg Last Month    49.9231
Name: 16362, dtype: object
16363 0 0 ORtg Last Month    0
Name: 16363, dtype: object
16364 1677 15 ORtg Last Month    111.8
Name: 16364, dtype: object
16365 1189 15 ORtg Last Month    79.2667
Name: 16365, dtype: object
16366 1557 15 ORtg Last Month    103.8
Name: 16366, dtype: object
16367 1590 14 ORtg Last Month    113.571
Name: 16367, dtype: object
16368 900 11 ORtg Last Month    81.8182
Name: 16368, dtype: object

16369 964 13 ORtg Last Month    74.1538
Name: 16369, dtype: object
16370 1549 14 ORtg Last Month    110.643
Name: 16370, dtype: object
16371 1792 14 ORtg Last Month    128
Name: 16371, dtype: object
16372 1472 13 ORtg Last Month    113.231
Name: 16372, dtype: object
16373 1420 14 ORtg Last Month    101.429
Name: 16373, dtype: object
16374 1734 14 ORtg Last Month    123.857
Name: 16374, dtype: object
16375 1910 14 ORtg Last Month    136.429
Name: 16375, dtype: object
16376 1850 14 ORtg Last Month    132.143
Name: 16376, dtype: object
16377 1803 14 ORtg Last Month    128.786
Name: 16377, dtype: object
16378 1997 14 ORtg Last Month    142.643
Name: 16378, dtype: object
16379 108 1 ORtg Last Month    108
Name: 16379, dtype: object
16380 1705 14 ORtg Last Month    121.786
Name: 16380, dtype: object
16381 961 14 ORtg Last Month    68.6429
Name: 16381, dtype: object
16382 1689 14 ORtg Last Month    120.643
Name: 16382, dtype: object
16383 1550 13 ORtg Last Month    119.231
Name: 16383, dtype: object
16384 547 10 ORtg Last Month    54.7
Name: 16384, dtype: object
16385 1515 14 ORtg Last Month    108.214
Name: 16385, dtype: object
16386 979 8 ORtg Last Month    122.375
Name: 16386, dtype: object
16387 1553 14 ORtg Last Month    110.929
Name: 16387, dtype: object
16388 309 13 ORtg Last Month    23.7692
Name: 16388, dtype: object
16389 728 6 ORtg Last Month    121.333
Name: 16389, dtype: object
16390 158 14 ORtg Last Month    11.2857
Name: 16390, dtype: object
16391 1078 14 ORtg Last Month    77
Name: 16391, dtype: object
16392 1605 14 ORtg Last Month    114.643
Name: 16392, dtype: object
16393 1391 15 ORtg Last Month    92.7333
Name: 16393, dtype: object
16394 217 2 ORtg Last Month    108.5
Name: 16394, dtype: object
16395 1455 15 ORtg Last Month    97
Name: 16395, dtype: object
16396 43 5 ORtg Last Month    8.6
Name: 16396, dtype: object
16397 1485 15 ORtg Last Month    99
Name: 16397, dtype: object
16398 937 9 ORtg Last Month    104.111
Name: 16398, dtype: object
16399 1279 13 ORtg Last Month    98.3846
Name: 16399, dtype: object
16400 1079 15 ORtg Last Month    71.9333
Name: 16400, dtype: object
16401 1710 15 ORtg Last Month    114
Name: 16401, dtype: object
16402 1861 15 ORtg Last Month    124.067
Name: 16402, dtype: object
16403 1179 12 ORtg Last Month    98.25
Name: 16403, dtype: object
16404 698 15 ORtg Last Month    46.5333
Name: 16404, dtype: object
16405 1695 14 ORtg Last Month    121.071
Name: 16405, dtype: object
16406 1487 14 ORtg Last Month    106.214
Name: 16406, dtype: object
16407 1279 13 ORtg Last Month    98.3846
Name: 16407, dtype: object
16408 1260 14 ORtg Last Month    90
Name: 16408, dtype: object
16409 908 13 ORtg Last Month    69.8462
Name: 16409, dtype: object
16410 1451 14 ORtg Last Month    103.643
Name: 16410, dtype: object
16411 1563 14 ORtg Last Month    111.643
Name: 16411, dtype: object
16412 811 12 ORtg Last Month    67.5833
Name: 16412, dtype: object
16413 1290 14 ORtg Last Month    92.1429
Name: 16413, dtype: object
16414 567 12 ORtg Last Month    47.25
Name: 16414, dtype: object
16415 1551 14 ORtg Last Month    110.786
Name: 16415, dtype: object
16416 1410 13 ORtg Last Month    108.462
Name: 16416, dtype: object
16417 1442 14 ORtg Last Month    103
Name: 16417, dtype: object
16418 198 14 ORtg Last Month    14.1429
Name: 16418, dtype: object
16419 1606 14 ORtg Last Month    114.714
Name: 16419, dtype: object
16420 1555 14 ORtg Last Month    111.071
Name: 16420, dtype: object
16421 638 9 ORtg Last Month    70.8889
Name: 16421, dtype: object
16422 1167 13 ORtg Last Month    89.7692
Name: 16422, dtype: object
16423 0 13 ORtg Last Month    0
Name: 16423, dtype: object
16424 1640 14 ORtg Last Month    117.143
Name: 16424, dtype: object
16425 1328 13 ORtg Last Month    102.154
Name: 16425, dtype: object
16426 1406 13 ORtg Last Month    108.154
Name: 16426, dtype: object
16427 1344 14 ORtg Last Month    96
Name: 16427, dtype: object
16428 1630 13 ORtg Last Month    125.385
Name: 16428, dtype: object
16429 1594 14 ORtg Last Month    113.857
Name: 16429, dtype: object
16430 1612 14 ORtg Last Month    115.143
Name: 16430, dtype: object
16431 53 4 ORtg Last Month    13.25
Name: 16431, dtype: object
16432 1554 13 ORtg Last Month    119.538
Name: 16432, dtype: object
16433 1577 14 ORtg Last Month    112.643
Name: 16433, dtype: object
16434 1300 14 ORtg Last Month    92.8571
Name: 16434, dtype: object
16435 1641 14 ORtg Last Month    117.214
Name: 16435, dtype: object
16436 369 13 ORtg Last Month    28.3846
Name: 16436, dtype: object
16437 1618 14 ORtg Last Month    115.571
Name: 16437, dtype: object
16438 1266 13 ORtg Last Month    97.3846
Name: 16438, dtype: object
16439 896 13 ORtg Last Month    68.9231
Name: 16439, dtype: object
16440 1117 9 ORtg Last Month    124.111
Name: 16440, dtype: object
16441 1564 13 ORtg Last Month    120.308
Name: 16441, dtype: object
16442 1592 13 ORtg Last Month    122.462
Name: 16442, dtype: object
16443 1247 13 ORtg Last Month    95.9231
Name: 16443, dtype: object
16444 543 5 ORtg Last Month    108.6
Name: 16444, dtype: object
16445 944 9 ORtg Last Month    104.889
Name: 16445, dtype: object
16446 1170 12 ORtg Last Month    97.5
Name: 16446, dtype: object
16447 1234 11 ORtg Last Month    112.182
Name: 16447, dtype: object
16448 1238 12 ORtg Last Month    103.167
Name: 16448, dtype: object
16449 1175 13 ORtg Last Month    90.3846
Name: 16449, dtype: object
16450 206 7 ORtg Last Month    29.4286
Name: 16450, dtype: object
16451 755 10 ORtg Last Month    75.5
Name: 16451, dtype: object
16452 209 1 ORtg Last Month    209
Name: 16452, dtype: object
16453 462 7 ORtg Last Month    66
Name: 16453, dtype: object
16454 971 10 ORtg Last Month    97.1
Name: 16454, dtype: object
16455 917 10 ORtg Last Month    91.7
Name: 16455, dtype: object
16456 1149 10 ORtg Last Month    114.9
Name: 16456, dtype: object
16457 754 7 ORtg Last Month    107.714
Name: 16457, dtype: object
16458 1042 10 ORtg Last Month    104.2
Name: 16458, dtype: object
16459 605 10 ORtg Last Month    60.5
Name: 16459, dtype: object
16460 1208 10 ORtg Last Month    120.8
Name: 16460, dtype: object
16461 1596 15 ORtg Last Month    106.4
Name: 16461, dtype: object
16462 1455 15 ORtg Last Month    97
Name: 16462, dtype: object
16463 1274 15 ORtg Last Month    84.9333
Name: 16463, dtype: object
16464 1825 15 ORtg Last Month    121.667
Name: 16464, dtype: object
16465 1404 15 ORtg Last Month    93.6
Name: 16465, dtype: object
16466 1930 15 ORtg Last Month    128.667
Name: 16466, dtype: object
16467 1566 12 ORtg Last Month    130.5
Name: 16467, dtype: object
16468 1674 15 ORtg Last Month    111.6
Name: 16468, dtype: object
16469 1320 15 ORtg Last Month    88
Name: 16469, dtype: object
16470 1731 15 ORtg Last Month    115.4
Name: 16470, dtype: object
16471 1723 14 ORtg Last Month    123.071
Name: 16471, dtype: object
16472 1367 14 ORtg Last Month    97.6429
Name: 16472, dtype: object
16473 539 14 ORtg Last Month    38.5
Name: 16473, dtype: object
16474 1520 15 ORtg Last Month    101.333
Name: 16474, dtype: object
16475 1602 15 ORtg Last Month    106.8
Name: 16475, dtype: object
16476 1432 15 ORtg Last Month    95.4667
Name: 16476, dtype: object
16477 630 13 ORtg Last Month    48.4615
Name: 16477, dtype: object
16478 0 3 ORtg Last Month    0
Name: 16478, dtype: object
16479 1644 15 ORtg Last Month    109.6
Name: 16479, dtype: object
16480 960 11 ORtg Last Month    87.2727
Name: 16480, dtype: object
16481 665 14 ORtg Last Month    47.5
Name: 16481, dtype: object
16482 1239 14 ORtg Last Month    88.5
Name: 16482, dtype: object
16483 1648 14 ORtg Last Month    117.714
Name: 16483, dtype: object
16484 1654 14 ORtg Last Month    118.143
Name: 16484, dtype: object
16485 1556 14 ORtg Last Month    111.143
Name: 16485, dtype: object
16486 1190 11 ORtg Last Month    108.182
Name: 16486, dtype: object
16487 1562 12 ORtg Last Month    130.167
Name: 16487, dtype: object
16488 176 3 ORtg Last Month    58.6667
Name: 16488, dtype: object
16489 1261 14 ORtg Last Month    90.0714
Name: 16489, dtype: object
16490 1211 14 ORtg Last Month    86.5
Name: 16490, dtype: object
16491 1407 12 ORtg Last Month    117.25
Name: 16491, dtype: object
16492 661 13 ORtg Last Month    50.8462
Name: 16492, dtype: object

16493 1463 14 ORtg Last Month    104.5
Name: 16493, dtype: object
16494 0 0 ORtg Last Month    0
Name: 16494, dtype: object
16495 1715 15 ORtg Last Month    114.333
Name: 16495, dtype: object
16496 1623 15 ORtg Last Month    108.2
Name: 16496, dtype: object
16497 498 6 ORtg Last Month    83
Name: 16497, dtype: object
16498 1574 15 ORtg Last Month    104.933
Name: 16498, dtype: object
16499 1357 15 ORtg Last Month    90.4667
Name: 16499, dtype: object
16500 1899 15 ORtg Last Month    126.6
Name: 16500, dtype: object
16501 830 10 ORtg Last Month    83
Name: 16501, dtype: object
16502 969 15 ORtg Last Month    64.6
Name: 16502, dtype: object
16503 1771 15 ORtg Last Month    118.067
Name: 16503, dtype: object
16504 1731 15 ORtg Last Month    115.4
Name: 16504, dtype: object
16505 1662 15 ORtg Last Month    110.8
Name: 16505, dtype: object
16506 28 5 ORtg Last Month    5.6
Name: 16506, dtype: object
16507 1535 14 ORtg Last Month    109.643
Name: 16507, dtype: object
16508 1725 14 ORtg Last Month    123.214
Name: 16508, dtype: object
16509 1432 14 ORtg Last Month    102.286
Name: 16509, dtype: object
16510 1459 14 ORtg Last Month    104.214
Name: 16510, dtype: object
16511 1648 14 ORtg Last Month    117.714
Name: 16511, dtype: object
16512 1006 11 ORtg Last Month    91.4545
Name: 16512, dtype: object
16513 1602 14 ORtg Last Month    114.429
Name: 16513, dtype: object
16514 837 14 ORtg Last Month    59.7857
Name: 16514, dtype: object
16515 1582 14 ORtg Last Month    113
Name: 16515, dtype: object
16516 593 6 ORtg Last Month    98.8333
Name: 16516, dtype: object
16517 1176 14 ORtg Last Month    84
Name: 16517, dtype: object
16518 816 14 ORtg Last Month    58.2857
Name: 16518, dtype: object
16519 1580 14 ORtg Last Month    112.857
Name: 16519, dtype: object
16520 732 7 ORtg Last Month    104.571
Name: 16520, dtype: object
16521 392 4 ORtg Last Month    98
Name: 16521, dtype: object
16522 1213 13 ORtg Last Month    93.3077
Name: 16522, dtype: object
16523 1536 14 ORtg Last Month    109.714
Name: 16523, dtype: object
16524 1397 14 ORtg Last Month    99.7857
Name: 16524, dtype: object
16525 1600 14 ORtg Last Month    114.286
Name: 16525, dtype: object
16526 1025 14 ORtg Last Month    73.2143
Name: 16526, dtype: object
16527 127 7 ORtg Last Month    18.1429
Name: 16527, dtype: object
16528 1903 14 ORtg Last Month    135.929
Name: 16528, dtype: object
16529 1651 14 ORtg Last Month    117.929
Name: 16529, dtype: object
16530 910 14 ORtg Last Month    65
Name: 16530, dtype: object
16531 1383 13 ORtg Last Month    106.385
Name: 16531, dtype: object
16532 1392 13 ORtg Last Month    107.077
Name: 16532, dtype: object
16533 1279 13 ORtg Last Month    98.3846
Name: 16533, dtype: object
16534 108 6 ORtg Last Month    18
Name: 16534, dtype: object
16535 1205 13 ORtg Last Month    92.6923
Name: 16535, dtype: object
16536 865 8 ORtg Last Month    108.125
Name: 16536, dtype: object
16537 1235 13 ORtg Last Month    95
Name: 16537, dtype: object
16538 1480 13 ORtg Last Month    113.846
Name: 16538, dtype: object
16539 1852 13 ORtg Last Month    142.462
Name: 16539, dtype: object
16540 1379 13 ORtg Last Month    106.077
Name: 16540, dtype: object
16541 1653 15 ORtg Last Month    110.2
Name: 16541, dtype: object
16542 1182 15 ORtg Last Month    78.8
Name: 16542, dtype: object
16543 1318 15 ORtg Last Month    87.8667
Name: 16543, dtype: object
16544 1642 15 ORtg Last Month    109.467
Name: 16544, dtype: object
16545 1411 15 ORtg Last Month    94.0667
Name: 16545, dtype: object
16546 252 12 ORtg Last Month    21
Name: 16546, dtype: object
16547 1794 15 ORtg Last Month    119.6
Name: 16547, dtype: object
16548 883 12 ORtg Last Month    73.5833
Name: 16548, dtype: object
16549 1405 15 ORtg Last Month    93.6667
Name: 16549, dtype: object
16550 1805 15 ORtg Last Month    120.333
Name: 16550, dtype: object
16551 524 13 ORtg Last Month    40.3077
Name: 16551, dtype: object
16552 1575 14 ORtg Last Month    112.5
Name: 16552, dtype: object
16553 1344 14 ORtg Last Month    96
Name: 16553, dtype: object
16554 1253 14 ORtg Last Month    89.5
Name: 16554, dtype: object
16555 107 2 ORtg Last Month    53.5
Name: 16555, dtype: object
16556 1617 14 ORtg Last Month    115.5
Name: 16556, dtype: object
16557 1245 14 ORtg Last Month    88.9286
Name: 16557, dtype: object
16558 1376 14 ORtg Last Month    98.2857
Name: 16558, dtype: object
16559 754 14 ORtg Last Month    53.8571
Name: 16559, dtype: object
16560 1646 14 ORtg Last Month    117.571
Name: 16560, dtype: object
16561 736 9 ORtg Last Month    81.7778
Name: 16561, dtype: object
16562 1417 14 ORtg Last Month    101.214
Name: 16562, dtype: object
16563 475 14 ORtg Last Month    33.9286
Name: 16563, dtype: object
16564 320 14 ORtg Last Month    22.8571
Name: 16564, dtype: object
16565 727 7 ORtg Last Month    103.857
Name: 16565, dtype: object
16566 44 8 ORtg Last Month    5.5
Name: 16566, dtype: object
16567 1237 14 ORtg Last Month    88.3571
Name: 16567, dtype: object
16568 1391 14 ORtg Last Month    99.3571
Name: 16568, dtype: object
16569 1367 14 ORtg Last Month    97.6429
Name: 16569, dtype: object
16570 844 14 ORtg Last Month    60.2857
Name: 16570, dtype: object
16571 431 14 ORtg Last Month    30.7857
Name: 16571, dtype: object
16572 0 2 ORtg Last Month    0
Name: 16572, dtype: object
16573 0 6 ORtg Last Month    0
Name: 16573, dtype: object
16574 1711 14 ORtg Last Month    122.214
Name: 16574, dtype: object
16575 1737 14 ORtg Last Month    124.071
Name: 16575, dtype: object
16576 1824 14 ORtg Last Month    130.286
Name: 16576, dtype: object
16577 1530 15 ORtg Last Month    102
Name: 16577, dtype: object
16578 1434 15 ORtg Last Month    95.6
Name: 16578, dtype: object
16579 280 14 ORtg Last Month    20
Name: 16579, dtype: object
16580 1615 15 ORtg Last Month    107.667
Name: 16580, dtype: object
16581 1699 15 ORtg Last Month    113.267
Name: 16581, dtype: object
16582 1841 15 ORtg Last Month    122.733
Name: 16582, dtype: object
16583 1404 15 ORtg Last Month    93.6
Name: 16583, dtype: object
16584 1295 15 ORtg Last Month    86.3333
Name: 16584, dtype: object
16585 110 1 ORtg Last Month    110
Name: 16585, dtype: object
16586 1950 15 ORtg Last Month    130
Name: 16586, dtype: object
16587 1595 12 ORtg Last Month    132.917
Name: 16587, dtype: object
16588 1735 15 ORtg Last Month    115.667
Name: 16588, dtype: object
16589 1292 12 ORtg Last Month    107.667
Name: 16589, dtype: object
16590 1370 15 ORtg Last Month    91.3333
Name: 16590, dtype: object
16591 812 15 ORtg Last Month    54.1333
Name: 16591, dtype: object
16592 665 10 ORtg Last Month    66.5
Name: 16592, dtype: object
16593 1119 15 ORtg Last Month    74.6
Name: 16593, dtype: object
16594 1402 15 ORtg Last Month    93.4667
Name: 16594, dtype: object
16595 1513 15 ORtg Last Month    100.867
Name: 16595, dtype: object
16596 1752 15 ORtg Last Month    116.8
Name: 16596, dtype: object
16597 1506 15 ORtg Last Month    100.4
Name: 16597, dtype: object
16598 206 15 ORtg Last Month    13.7333
Name: 16598, dtype: object
16599 381 6 ORtg Last Month    63.5
Name: 16599, dtype: object
16600 0 10 ORtg Last Month    0
Name: 16600, dtype: object
16601 1833 16 ORtg Last Month    114.562
Name: 16601, dtype: object
16602 1797 16 ORtg Last Month    112.312
Name: 16602, dtype: object
16603 498 7 ORtg Last Month    71.1429
Name: 16603, dtype: object
16604 2037 16 ORtg Last Month    127.312
Name: 16604, dtype: object
16605 1480 16 ORtg Last Month    92.5
Name: 16605, dtype: object
16606 1035 11 ORtg Last Month    94.0909
Name: 16606, dtype: object
16607 1697 16 ORtg Last Month    106.062
Name: 16607, dtype: object
16608 969 16 ORtg Last Month    60.5625
Name: 16608, dtype: object
16609 1871 16 ORtg Last Month    116.938
Name: 16609, dtype: object
16610 1678 16 ORtg Last Month    104.875
Name: 16610, dtype: object
16611 1915 16 ORtg Last Month    119.688
Name: 16611, dtype: object
16612 28 6 ORtg Last Month    4.66667
Name: 16612, dtype: object
16613 1820 15 ORtg Last Month    121.333
Name: 16613, dtype: object
16614 1605 15 ORtg Last Month    107
Name: 16614, dtype: object
16615 1535 15 ORtg Last Month    102.333
Name: 16615, dtype: object
16616 1748 15 ORtg Last Month    116.533
Name: 16616, dtype: object

16617 837 15 ORtg Last Month    55.8
Name: 16617, dtype: object
16618 1621 15 ORtg Last Month    108.067
Name: 16618, dtype: object
16619 1668 15 ORtg Last Month    111.2
Name: 16619, dtype: object
16620 694 7 ORtg Last Month    99.1429
Name: 16620, dtype: object
16621 1269 15 ORtg Last Month    84.6
Name: 16621, dtype: object
16622 1728 15 ORtg Last Month    115.2
Name: 16622, dtype: object
16623 816 15 ORtg Last Month    54.4
Name: 16623, dtype: object
16624 1294 13 ORtg Last Month    99.5385
Name: 16624, dtype: object
16625 790 9 ORtg Last Month    87.7778
Name: 16625, dtype: object
16626 1476 13 ORtg Last Month    113.538
Name: 16626, dtype: object
16627 32 4 ORtg Last Month    8
Name: 16627, dtype: object
16628 847 11 ORtg Last Month    77
Name: 16628, dtype: object
16629 1356 12 ORtg Last Month    113
Name: 16629, dtype: object
16630 1340 12 ORtg Last Month    111.667
Name: 16630, dtype: object
16631 211 7 ORtg Last Month    30.1429
Name: 16631, dtype: object
16632 269 8 ORtg Last Month    33.625
Name: 16632, dtype: object
16633 1268 13 ORtg Last Month    97.5385
Name: 16633, dtype: object
16634 1435 13 ORtg Last Month    110.385
Name: 16634, dtype: object
16635 1019 10 ORtg Last Month    101.9
Name: 16635, dtype: object
16636 1059 13 ORtg Last Month    81.4615
Name: 16636, dtype: object
16637 1499 14 ORtg Last Month    107.071
Name: 16637, dtype: object
16638 1513 13 ORtg Last Month    116.385
Name: 16638, dtype: object
16639 593 12 ORtg Last Month    49.4167
Name: 16639, dtype: object
16640 528 14 ORtg Last Month    37.7143
Name: 16640, dtype: object
16641 757 13 ORtg Last Month    58.2308
Name: 16641, dtype: object
16642 1413 14 ORtg Last Month    100.929
Name: 16642, dtype: object
16643 1812 14 ORtg Last Month    129.429
Name: 16643, dtype: object
16644 1139 10 ORtg Last Month    113.9
Name: 16644, dtype: object
16645 1161 12 ORtg Last Month    96.75
Name: 16645, dtype: object
16646 760 10 ORtg Last Month    76
Name: 16646, dtype: object
16647 1557 15 ORtg Last Month    103.8
Name: 16647, dtype: object
16648 1057 15 ORtg Last Month    70.4667
Name: 16648, dtype: object
16649 1641 14 ORtg Last Month    117.214
Name: 16649, dtype: object
16650 1485 15 ORtg Last Month    99
Name: 16650, dtype: object
16651 1424 14 ORtg Last Month    101.714
Name: 16651, dtype: object
16652 1528 15 ORtg Last Month    101.867
Name: 16652, dtype: object
16653 1619 14 ORtg Last Month    115.643
Name: 16653, dtype: object
16654 1441 15 ORtg Last Month    96.0667
Name: 16654, dtype: object
16655 1420 15 ORtg Last Month    94.6667
Name: 16655, dtype: object
16656 480 4 ORtg Last Month    120
Name: 16656, dtype: object
16657 393 7 ORtg Last Month    56.1429
Name: 16657, dtype: object
16658 873 15 ORtg Last Month    58.2
Name: 16658, dtype: object
16659 1410 12 ORtg Last Month    117.5
Name: 16659, dtype: object
16660 1342 13 ORtg Last Month    103.231
Name: 16660, dtype: object
16661 1339 13 ORtg Last Month    103
Name: 16661, dtype: object
16662 1459 13 ORtg Last Month    112.231
Name: 16662, dtype: object
16663 1318 12 ORtg Last Month    109.833
Name: 16663, dtype: object
16664 1355 13 ORtg Last Month    104.231
Name: 16664, dtype: object
16665 738 9 ORtg Last Month    82
Name: 16665, dtype: object
16666 288 7 ORtg Last Month    41.1429
Name: 16666, dtype: object
16667 1504 13 ORtg Last Month    115.692
Name: 16667, dtype: object
16668 1319 12 ORtg Last Month    109.917
Name: 16668, dtype: object
16669 653 6 ORtg Last Month    108.833
Name: 16669, dtype: object
16670 1407 13 ORtg Last Month    108.231
Name: 16670, dtype: object
16671 1258 13 ORtg Last Month    96.7692
Name: 16671, dtype: object
16672 1262 13 ORtg Last Month    97.0769
Name: 16672, dtype: object
16673 1551 13 ORtg Last Month    119.308
Name: 16673, dtype: object
16674 805 13 ORtg Last Month    61.9231
Name: 16674, dtype: object
16675 1279 13 ORtg Last Month    98.3846
Name: 16675, dtype: object
16676 1549 13 ORtg Last Month    119.154
Name: 16676, dtype: object
16677 1324 12 ORtg Last Month    110.333
Name: 16677, dtype: object
16678 788 7 ORtg Last Month    112.571
Name: 16678, dtype: object
16679 1231 13 ORtg Last Month    94.6923
Name: 16679, dtype: object
16680 818 13 ORtg Last Month    62.9231
Name: 16680, dtype: object
16681 1509 14 ORtg Last Month    107.786
Name: 16681, dtype: object
16682 1152 12 ORtg Last Month    96
Name: 16682, dtype: object
16683 1284 14 ORtg Last Month    91.7143
Name: 16683, dtype: object
16684 1460 14 ORtg Last Month    104.286
Name: 16684, dtype: object
16685 1667 14 ORtg Last Month    119.071
Name: 16685, dtype: object
16686 1310 11 ORtg Last Month    119.091
Name: 16686, dtype: object
16687 1658 14 ORtg Last Month    118.429
Name: 16687, dtype: object
16688 1620 14 ORtg Last Month    115.714
Name: 16688, dtype: object
16689 1256 14 ORtg Last Month    89.7143
Name: 16689, dtype: object
16690 1515 12 ORtg Last Month    126.25
Name: 16690, dtype: object
16691 402 13 ORtg Last Month    30.9231
Name: 16691, dtype: object
16692 1608 14 ORtg Last Month    114.857
Name: 16692, dtype: object
16693 1322 14 ORtg Last Month    94.4286
Name: 16693, dtype: object
16694 1459 14 ORtg Last Month    104.214
Name: 16694, dtype: object
16695 1122 13 ORtg Last Month    86.3077
Name: 16695, dtype: object
16696 884 12 ORtg Last Month    73.6667
Name: 16696, dtype: object
16697 1326 14 ORtg Last Month    94.7143
Name: 16697, dtype: object
16698 846 12 ORtg Last Month    70.5
Name: 16698, dtype: object
16699 1240 11 ORtg Last Month    112.727
Name: 16699, dtype: object
16700 263 2 ORtg Last Month    131.5
Name: 16700, dtype: object
16701 1257 11 ORtg Last Month    114.273
Name: 16701, dtype: object
16702 1038 14 ORtg Last Month    74.1429
Name: 16702, dtype: object
16703 702 7 ORtg Last Month    100.286
Name: 16703, dtype: object
16704 1545 14 ORtg Last Month    110.357
Name: 16704, dtype: object
16705 1625 14 ORtg Last Month    116.071
Name: 16705, dtype: object
16706 1840 14 ORtg Last Month    131.429
Name: 16706, dtype: object
16707 355 4 ORtg Last Month    88.75
Name: 16707, dtype: object
16708 1584 14 ORtg Last Month    113.143
Name: 16708, dtype: object
16709 1259 12 ORtg Last Month    104.917
Name: 16709, dtype: object
16710 1387 14 ORtg Last Month    99.0714
Name: 16710, dtype: object
16711 681 13 ORtg Last Month    52.3846
Name: 16711, dtype: object
16712 1744 14 ORtg Last Month    124.571
Name: 16712, dtype: object
16713 1448 12 ORtg Last Month    120.667
Name: 16713, dtype: object
16714 1852 14 ORtg Last Month    132.286
Name: 16714, dtype: object
16715 1483 15 ORtg Last Month    98.8667
Name: 16715, dtype: object
16716 1341 15 ORtg Last Month    89.4
Name: 16716, dtype: object
16717 1427 15 ORtg Last Month    95.1333
Name: 16717, dtype: object
16718 1448 15 ORtg Last Month    96.5333
Name: 16718, dtype: object
16719 755 13 ORtg Last Month    58.0769
Name: 16719, dtype: object
16720 1671 15 ORtg Last Month    111.4
Name: 16720, dtype: object
16721 1560 15 ORtg Last Month    104
Name: 16721, dtype: object
16722 1218 15 ORtg Last Month    81.2
Name: 16722, dtype: object
16723 1636 14 ORtg Last Month    116.857
Name: 16723, dtype: object
16724 803 11 ORtg Last Month    73
Name: 16724, dtype: object
16725 1011 13 ORtg Last Month    77.7692
Name: 16725, dtype: object
16726 1673 14 ORtg Last Month    119.5
Name: 16726, dtype: object
16727 1576 14 ORtg Last Month    112.571
Name: 16727, dtype: object
16728 533 10 ORtg Last Month    53.3
Name: 16728, dtype: object
16729 683 6 ORtg Last Month    113.833
Name: 16729, dtype: object
16730 1489 14 ORtg Last Month    106.357
Name: 16730, dtype: object
16731 1499 14 ORtg Last Month    107.071
Name: 16731, dtype: object
16732 1069 9 ORtg Last Month    118.778
Name: 16732, dtype: object
16733 420 13 ORtg Last Month    32.3077
Name: 16733, dtype: object
16734 798 14 ORtg Last Month    57
Name: 16734, dtype: object
16735 1726 14 ORtg Last Month    123.286
Name: 16735, dtype: object
16736 257 14 ORtg Last Month    18.3571
Name: 16736, dtype: object
16737 1565 12 ORtg Last Month    130.417
Name: 16737, dtype: object
16738 1388 12 ORtg Last Month    115.667
Name: 16738, dtype: object
16739 1221 12 ORtg Last Month    101.75
Name: 16739, dtype: object

16740 1240 11 ORtg Last Month    112.727
Name: 16740, dtype: object
16741 1490 12 ORtg Last Month    124.167
Name: 16741, dtype: object
16742 1311 12 ORtg Last Month    109.25
Name: 16742, dtype: object
16743 1291 12 ORtg Last Month    107.583
Name: 16743, dtype: object
16744 1223 12 ORtg Last Month    101.917
Name: 16744, dtype: object
16745 222 7 ORtg Last Month    31.7143
Name: 16745, dtype: object
16746 1028 8 ORtg Last Month    128.5
Name: 16746, dtype: object
16747 1552 12 ORtg Last Month    129.333
Name: 16747, dtype: object
16748 603 11 ORtg Last Month    54.8182
Name: 16748, dtype: object
16749 1342 14 ORtg Last Month    95.8571
Name: 16749, dtype: object
16750 1241 14 ORtg Last Month    88.6429
Name: 16750, dtype: object
16751 1590 14 ORtg Last Month    113.571
Name: 16751, dtype: object
16752 268 3 ORtg Last Month    89.3333
Name: 16752, dtype: object
16753 1573 14 ORtg Last Month    112.357
Name: 16753, dtype: object
16754 852 14 ORtg Last Month    60.8571
Name: 16754, dtype: object
16755 1249 14 ORtg Last Month    89.2143
Name: 16755, dtype: object
16756 1204 14 ORtg Last Month    86
Name: 16756, dtype: object
16757 1670 14 ORtg Last Month    119.286
Name: 16757, dtype: object
16758 1589 14 ORtg Last Month    113.5
Name: 16758, dtype: object
16759 841 10 ORtg Last Month    84.1
Name: 16759, dtype: object
16760 475 14 ORtg Last Month    33.9286
Name: 16760, dtype: object
16761 1477 14 ORtg Last Month    105.5
Name: 16761, dtype: object
16762 1335 14 ORtg Last Month    95.3571
Name: 16762, dtype: object
16763 621 12 ORtg Last Month    51.75
Name: 16763, dtype: object
16764 1459 14 ORtg Last Month    104.214
Name: 16764, dtype: object
16765 876 13 ORtg Last Month    67.3846
Name: 16765, dtype: object
16766 1184 14 ORtg Last Month    84.5714
Name: 16766, dtype: object
16767 902 13 ORtg Last Month    69.3846
Name: 16767, dtype: object
16768 0 0 ORtg Last Month    0
Name: 16768, dtype: object
16769 308 7 ORtg Last Month    44
Name: 16769, dtype: object
16770 1276 13 ORtg Last Month    98.1538
Name: 16770, dtype: object
16771 1431 14 ORtg Last Month    102.214
Name: 16771, dtype: object
16772 773 12 ORtg Last Month    64.4167
Name: 16772, dtype: object
16773 1300 13 ORtg Last Month    100
Name: 16773, dtype: object
16774 1268 12 ORtg Last Month    105.667
Name: 16774, dtype: object
16775 1434 13 ORtg Last Month    110.308
Name: 16775, dtype: object
16776 198 13 ORtg Last Month    15.2308
Name: 16776, dtype: object
16777 1439 13 ORtg Last Month    110.692
Name: 16777, dtype: object
16778 736 10 ORtg Last Month    73.6
Name: 16778, dtype: object
16779 1524 13 ORtg Last Month    117.231
Name: 16779, dtype: object
16780 0 12 ORtg Last Month    0
Name: 16780, dtype: object
16781 1060 13 ORtg Last Month    81.5385
Name: 16781, dtype: object
16782 1274 12 ORtg Last Month    106.167
Name: 16782, dtype: object
16783 1565 13 ORtg Last Month    120.385
Name: 16783, dtype: object
16784 1119 12 ORtg Last Month    93.25
Name: 16784, dtype: object
16785 1078 13 ORtg Last Month    82.9231
Name: 16785, dtype: object
16786 1550 13 ORtg Last Month    119.231
Name: 16786, dtype: object
16787 1040 10 ORtg Last Month    104
Name: 16787, dtype: object
16788 1256 12 ORtg Last Month    104.667
Name: 16788, dtype: object
16789 1124 13 ORtg Last Month    86.4615
Name: 16789, dtype: object
16790 797 11 ORtg Last Month    72.4545
Name: 16790, dtype: object
16791 1204 11 ORtg Last Month    109.455
Name: 16791, dtype: object
16792 1189 12 ORtg Last Month    99.0833
Name: 16792, dtype: object
16793 413 12 ORtg Last Month    34.4167
Name: 16793, dtype: object
16794 0 11 ORtg Last Month    0
Name: 16794, dtype: object
16795 1281 13 ORtg Last Month    98.5385
Name: 16795, dtype: object
16796 1614 13 ORtg Last Month    124.154
Name: 16796, dtype: object
16797 659 6 ORtg Last Month    109.833
Name: 16797, dtype: object
16798 206 7 ORtg Last Month    29.4286
Name: 16798, dtype: object
16799 878 11 ORtg Last Month    79.8182
Name: 16799, dtype: object
16800 1094 11 ORtg Last Month    99.4545
Name: 16800, dtype: object
16801 536 8 ORtg Last Month    67
Name: 16801, dtype: object
16802 679 9 ORtg Last Month    75.4444
Name: 16802, dtype: object
16803 1029 11 ORtg Last Month    93.5455
Name: 16803, dtype: object
16804 1126 11 ORtg Last Month    102.364
Name: 16804, dtype: object
16805 347 9 ORtg Last Month    38.5556
Name: 16805, dtype: object
16806 115 9 ORtg Last Month    12.7778
Name: 16806, dtype: object
16807 680 11 ORtg Last Month    61.8182
Name: 16807, dtype: object
16808 1242 11 ORtg Last Month    112.909
Name: 16808, dtype: object
16809 387 2 ORtg Last Month    193.5
Name: 16809, dtype: object
16810 862 8 ORtg Last Month    107.75
Name: 16810, dtype: object
16811 1756 14 ORtg Last Month    125.429
Name: 16811, dtype: object
16812 431 14 ORtg Last Month    30.7857
Name: 16812, dtype: object
16813 1368 14 ORtg Last Month    97.7143
Name: 16813, dtype: object
16814 1457 15 ORtg Last Month    97.1333
Name: 16814, dtype: object
16815 1438 14 ORtg Last Month    102.714
Name: 16815, dtype: object
16816 641 13 ORtg Last Month    49.3077
Name: 16816, dtype: object
16817 1529 15 ORtg Last Month    101.933
Name: 16817, dtype: object
16818 1633 15 ORtg Last Month    108.867
Name: 16818, dtype: object
16819 1706 15 ORtg Last Month    113.733
Name: 16819, dtype: object
16820 982 11 ORtg Last Month    89.2727
Name: 16820, dtype: object
16821 780 14 ORtg Last Month    55.7143
Name: 16821, dtype: object
16822 1239 14 ORtg Last Month    88.5
Name: 16822, dtype: object
16823 1570 14 ORtg Last Month    112.143
Name: 16823, dtype: object
16824 1680 14 ORtg Last Month    120
Name: 16824, dtype: object
16825 1621 14 ORtg Last Month    115.786
Name: 16825, dtype: object
16826 1545 12 ORtg Last Month    128.75
Name: 16826, dtype: object
16827 257 4 ORtg Last Month    64.25
Name: 16827, dtype: object
16828 1367 12 ORtg Last Month    113.917
Name: 16828, dtype: object
16829 1251 14 ORtg Last Month    89.3571
Name: 16829, dtype: object
16830 1207 14 ORtg Last Month    86.2143
Name: 16830, dtype: object
16831 1425 12 ORtg Last Month    118.75
Name: 16831, dtype: object
16832 1444 14 ORtg Last Month    103.143
Name: 16832, dtype: object
16833 553 13 ORtg Last Month    42.5385
Name: 16833, dtype: object
16834 1826 14 ORtg Last Month    130.429
Name: 16834, dtype: object
16835 1495 14 ORtg Last Month    106.786
Name: 16835, dtype: object
16836 1561 14 ORtg Last Month    111.5
Name: 16836, dtype: object
16837 135 3 ORtg Last Month    45
Name: 16837, dtype: object
16838 1228 14 ORtg Last Month    87.7143
Name: 16838, dtype: object
16839 774 8 ORtg Last Month    96.75
Name: 16839, dtype: object
16840 1597 13 ORtg Last Month    122.846
Name: 16840, dtype: object
16841 726 14 ORtg Last Month    51.8571
Name: 16841, dtype: object
16842 439 14 ORtg Last Month    31.3571
Name: 16842, dtype: object
16843 1728 14 ORtg Last Month    123.429
Name: 16843, dtype: object
16844 1881 14 ORtg Last Month    134.357
Name: 16844, dtype: object
16845 0 2 ORtg Last Month    0
Name: 16845, dtype: object
16846 779 13 ORtg Last Month    59.9231
Name: 16846, dtype: object
16847 905 10 ORtg Last Month    90.5
Name: 16847, dtype: object
16848 1443 14 ORtg Last Month    103.071
Name: 16848, dtype: object
16849 1571 14 ORtg Last Month    112.214
Name: 16849, dtype: object
16850 32 5 ORtg Last Month    6.4
Name: 16850, dtype: object
16851 1451 13 ORtg Last Month    111.615
Name: 16851, dtype: object
16852 1449 13 ORtg Last Month    111.462
Name: 16852, dtype: object
16853 254 8 ORtg Last Month    31.75
Name: 16853, dtype: object
16854 1027 12 ORtg Last Month    85.5833
Name: 16854, dtype: object
16855 1374 14 ORtg Last Month    98.1429
Name: 16855, dtype: object
16856 1547 14 ORtg Last Month    110.5
Name: 16856, dtype: object
16857 1086 14 ORtg Last Month    77.5714
Name: 16857, dtype: object
16858 1592 14 ORtg Last Month    113.714
Name: 16858, dtype: object
16859 728 7 ORtg Last Month    104
Name: 16859, dtype: object
16860 392 5 ORtg Last Month    78.4
Name: 16860, dtype: object
16861 1363 14 ORtg Last Month    97.3571
Name: 16861, dtype: object
16862 1241 13 ORtg Last Month    95.4615
Name: 16862, dtype: object
16863 1629 14 ORtg Last Month    116.357
Name: 16863, dtype: object

16864 1582 14 ORtg Last Month    113
Name: 16864, dtype: object
16865 1025 14 ORtg Last Month    73.2143
Name: 16865, dtype: object
16866 127 8 ORtg Last Month    15.875
Name: 16866, dtype: object
16867 1869 14 ORtg Last Month    133.5
Name: 16867, dtype: object
16868 910 14 ORtg Last Month    65
Name: 16868, dtype: object
16869 1671 14 ORtg Last Month    119.357
Name: 16869, dtype: object
16870 1660 13 ORtg Last Month    127.692
Name: 16870, dtype: object
16871 1414 12 ORtg Last Month    117.833
Name: 16871, dtype: object
16872 1531 13 ORtg Last Month    117.769
Name: 16872, dtype: object
16873 1485 13 ORtg Last Month    114.231
Name: 16873, dtype: object
16874 1587 13 ORtg Last Month    122.077
Name: 16874, dtype: object
16875 1825 13 ORtg Last Month    140.385
Name: 16875, dtype: object
16876 1482 13 ORtg Last Month    114
Name: 16876, dtype: object
16877 250 2 ORtg Last Month    125
Name: 16877, dtype: object
16878 61 1 ORtg Last Month    61
Name: 16878, dtype: object
16879 1596 13 ORtg Last Month    122.769
Name: 16879, dtype: object
16880 215 2 ORtg Last Month    107.5
Name: 16880, dtype: object
16881 1814 13 ORtg Last Month    139.538
Name: 16881, dtype: object
16882 1004 13 ORtg Last Month    77.2308
Name: 16882, dtype: object
16883 154 1 ORtg Last Month    154
Name: 16883, dtype: object
16884 1478 15 ORtg Last Month    98.5333
Name: 16884, dtype: object
16885 1477 15 ORtg Last Month    98.4667
Name: 16885, dtype: object
16886 1598 15 ORtg Last Month    106.533
Name: 16886, dtype: object
16887 1264 13 ORtg Last Month    97.2308
Name: 16887, dtype: object
16888 1480 15 ORtg Last Month    98.6667
Name: 16888, dtype: object
16889 1085 10 ORtg Last Month    108.5
Name: 16889, dtype: object
16890 1214 15 ORtg Last Month    80.9333
Name: 16890, dtype: object
16891 1279 13 ORtg Last Month    98.3846
Name: 16891, dtype: object
16892 1880 15 ORtg Last Month    125.333
Name: 16892, dtype: object
16893 733 15 ORtg Last Month    48.8667
Name: 16893, dtype: object
16894 1754 15 ORtg Last Month    116.933
Name: 16894, dtype: object
16895 364 14 ORtg Last Month    26
Name: 16895, dtype: object
16896 827 8 ORtg Last Month    103.375
Name: 16896, dtype: object
16897 164 8 ORtg Last Month    20.5
Name: 16897, dtype: object
16898 893 8 ORtg Last Month    111.625
Name: 16898, dtype: object
16899 1379 14 ORtg Last Month    98.5
Name: 16899, dtype: object
16900 1324 14 ORtg Last Month    94.5714
Name: 16900, dtype: object
16901 1376 14 ORtg Last Month    98.2857
Name: 16901, dtype: object
16902 497 14 ORtg Last Month    35.5
Name: 16902, dtype: object
16903 961 14 ORtg Last Month    68.6429
Name: 16903, dtype: object
16904 113 7 ORtg Last Month    16.1429
Name: 16904, dtype: object
16905 1737 14 ORtg Last Month    124.071
Name: 16905, dtype: object
16906 1726 14 ORtg Last Month    123.286
Name: 16906, dtype: object
16907 1663 14 ORtg Last Month    118.786
Name: 16907, dtype: object
16908 1676 14 ORtg Last Month    119.714
Name: 16908, dtype: object
16909 1095 11 ORtg Last Month    99.5455
Name: 16909, dtype: object
16910 1389 13 ORtg Last Month    106.846
Name: 16910, dtype: object
16911 797 12 ORtg Last Month    66.4167
Name: 16911, dtype: object
16912 1149 14 ORtg Last Month    82.0714
Name: 16912, dtype: object
16913 1279 13 ORtg Last Month    98.3846
Name: 16913, dtype: object
16914 413 13 ORtg Last Month    31.7692
Name: 16914, dtype: object
16915 175 5 ORtg Last Month    35
Name: 16915, dtype: object
16916 0 12 ORtg Last Month    0
Name: 16916, dtype: object
16917 1365 14 ORtg Last Month    97.5
Name: 16917, dtype: object
16918 206 8 ORtg Last Month    25.75
Name: 16918, dtype: object
16919 1539 15 ORtg Last Month    102.6
Name: 16919, dtype: object
16920 1466 15 ORtg Last Month    97.7333
Name: 16920, dtype: object
16921 280 14 ORtg Last Month    20
Name: 16921, dtype: object
16922 1630 15 ORtg Last Month    108.667
Name: 16922, dtype: object
16923 1823 15 ORtg Last Month    121.533
Name: 16923, dtype: object
16924 1721 15 ORtg Last Month    114.733
Name: 16924, dtype: object
16925 1404 15 ORtg Last Month    93.6
Name: 16925, dtype: object
16926 1172 15 ORtg Last Month    78.1333
Name: 16926, dtype: object
16927 0 1 ORtg Last Month    0
Name: 16927, dtype: object
16928 1963 15 ORtg Last Month    130.867
Name: 16928, dtype: object
16929 1878 15 ORtg Last Month    125.2
Name: 16929, dtype: object
16930 1586 12 ORtg Last Month    132.167
Name: 16930, dtype: object
16931 1280 12 ORtg Last Month    106.667
Name: 16931, dtype: object
16932 1119 15 ORtg Last Month    74.6
Name: 16932, dtype: object
16933 622 10 ORtg Last Month    62.2
Name: 16933, dtype: object
16934 737 15 ORtg Last Month    49.1333
Name: 16934, dtype: object
16935 1430 15 ORtg Last Month    95.3333
Name: 16935, dtype: object
16936 1486 15 ORtg Last Month    99.0667
Name: 16936, dtype: object
16937 1698 15 ORtg Last Month    113.2
Name: 16937, dtype: object
16938 1409 15 ORtg Last Month    93.9333
Name: 16938, dtype: object
16939 316 15 ORtg Last Month    21.0667
Name: 16939, dtype: object
16940 420 7 ORtg Last Month    60
Name: 16940, dtype: object
16941 0 11 ORtg Last Month    0
Name: 16941, dtype: object
16942 1840 16 ORtg Last Month    115
Name: 16942, dtype: object
16943 1781 16 ORtg Last Month    111.312
Name: 16943, dtype: object
16944 498 7 ORtg Last Month    71.1429
Name: 16944, dtype: object
16945 1570 16 ORtg Last Month    98.125
Name: 16945, dtype: object
16946 968 11 ORtg Last Month    88
Name: 16946, dtype: object
16947 1724 16 ORtg Last Month    107.75
Name: 16947, dtype: object
16948 2039 16 ORtg Last Month    127.438
Name: 16948, dtype: object
16949 889 16 ORtg Last Month    55.5625
Name: 16949, dtype: object
16950 1861 16 ORtg Last Month    116.312
Name: 16950, dtype: object
16951 1732 16 ORtg Last Month    108.25
Name: 16951, dtype: object
16952 28 6 ORtg Last Month    4.66667
Name: 16952, dtype: object
16953 1928 16 ORtg Last Month    120.5
Name: 16953, dtype: object
16954 1287 12 ORtg Last Month    107.25
Name: 16954, dtype: object
16955 1282 12 ORtg Last Month    106.833
Name: 16955, dtype: object
16956 1158 12 ORtg Last Month    96.5
Name: 16956, dtype: object
16957 108 5 ORtg Last Month    21.6
Name: 16957, dtype: object
16958 0 0 ORtg Last Month    0
Name: 16958, dtype: object
16959 1189 12 ORtg Last Month    99.0833
Name: 16959, dtype: object
16960 979 9 ORtg Last Month    108.778
Name: 16960, dtype: object
16961 1297 12 ORtg Last Month    108.083
Name: 16961, dtype: object
16962 1155 12 ORtg Last Month    96.25
Name: 16962, dtype: object
16963 1638 12 ORtg Last Month    136.5
Name: 16963, dtype: object
16964 1266 12 ORtg Last Month    105.5
Name: 16964, dtype: object
16965 1385 14 ORtg Last Month    98.9286
Name: 16965, dtype: object
16966 1527 13 ORtg Last Month    117.462
Name: 16966, dtype: object
16967 1489 14 ORtg Last Month    106.357
Name: 16967, dtype: object
16968 288 8 ORtg Last Month    36
Name: 16968, dtype: object
16969 1445 13 ORtg Last Month    111.154
Name: 16969, dtype: object
16970 1464 14 ORtg Last Month    104.571
Name: 16970, dtype: object
16971 1586 14 ORtg Last Month    113.286
Name: 16971, dtype: object
16972 805 10 ORtg Last Month    80.5
Name: 16972, dtype: object
16973 1358 13 ORtg Last Month    104.462
Name: 16973, dtype: object
16974 728 7 ORtg Last Month    104
Name: 16974, dtype: object
16975 1614 14 ORtg Last Month    115.286
Name: 16975, dtype: object
16976 0 0 ORtg Last Month    0
Name: 16976, dtype: object
16977 1518 14 ORtg Last Month    108.429
Name: 16977, dtype: object
16978 1378 14 ORtg Last Month    98.4286
Name: 16978, dtype: object
16979 1654 14 ORtg Last Month    118.143
Name: 16979, dtype: object
16980 1353 14 ORtg Last Month    96.6429
Name: 16980, dtype: object
16981 1005 14 ORtg Last Month    71.7857
Name: 16981, dtype: object
16982 1390 14 ORtg Last Month    99.2857
Name: 16982, dtype: object
16983 1666 14 ORtg Last Month    119
Name: 16983, dtype: object
16984 730 13 ORtg Last Month    56.1538
Name: 16984, dtype: object
16985 1415 13 ORtg Last Month    108.846
Name: 16985, dtype: object
16986 870 8 ORtg Last Month    108.75
Name: 16986, dtype: object
16987 1318 14 ORtg Last Month    94.1429
Name: 16987, dtype: object

16988 844 14 ORtg Last Month    60.2857
Name: 16988, dtype: object
16989 1638 15 ORtg Last Month    109.2
Name: 16989, dtype: object
16990 1460 15 ORtg Last Month    97.3333
Name: 16990, dtype: object
16991 1417 15 ORtg Last Month    94.4667
Name: 16991, dtype: object
16992 1280 13 ORtg Last Month    98.4615
Name: 16992, dtype: object
16993 1825 15 ORtg Last Month    121.667
Name: 16993, dtype: object
16994 1711 15 ORtg Last Month    114.067
Name: 16994, dtype: object
16995 1737 15 ORtg Last Month    115.8
Name: 16995, dtype: object
16996 1451 12 ORtg Last Month    120.917
Name: 16996, dtype: object
16997 1464 15 ORtg Last Month    97.6
Name: 16997, dtype: object
16998 467 12 ORtg Last Month    38.9167
Name: 16998, dtype: object
16999 1639 13 ORtg Last Month    126.077
Name: 16999, dtype: object
17000 402 14 ORtg Last Month    28.7143
Name: 17000, dtype: object
17001 1722 15 ORtg Last Month    114.8
Name: 17001, dtype: object
17002 1570 15 ORtg Last Month    104.667
Name: 17002, dtype: object
17003 1416 15 ORtg Last Month    94.4
Name: 17003, dtype: object
17004 1242 14 ORtg Last Month    88.7143
Name: 17004, dtype: object
17005 950 13 ORtg Last Month    73.0769
Name: 17005, dtype: object
17006 1478 15 ORtg Last Month    98.5333
Name: 17006, dtype: object
17007 908 13 ORtg Last Month    69.8462
Name: 17007, dtype: object
17008 263 3 ORtg Last Month    87.6667
Name: 17008, dtype: object
17009 1324 12 ORtg Last Month    110.333
Name: 17009, dtype: object
17010 1347 12 ORtg Last Month    112.25
Name: 17010, dtype: object
17011 783 7 ORtg Last Month    111.857
Name: 17011, dtype: object
17012 1119 15 ORtg Last Month    74.6
Name: 17012, dtype: object
17013 1644 15 ORtg Last Month    109.6
Name: 17013, dtype: object
17014 1275 15 ORtg Last Month    85
Name: 17014, dtype: object
17015 1216 15 ORtg Last Month    81.0667
Name: 17015, dtype: object
17016 1480 15 ORtg Last Month    98.6667
Name: 17016, dtype: object
17017 1657 15 ORtg Last Month    110.467
Name: 17017, dtype: object
17018 252 12 ORtg Last Month    21
Name: 17018, dtype: object
17019 1818 15 ORtg Last Month    121.2
Name: 17019, dtype: object
17020 1406 15 ORtg Last Month    93.7333
Name: 17020, dtype: object
17021 1887 15 ORtg Last Month    125.8
Name: 17021, dtype: object
17022 1011 12 ORtg Last Month    84.25
Name: 17022, dtype: object
17023 524 13 ORtg Last Month    40.3077
Name: 17023, dtype: object
17024 1840 15 ORtg Last Month    122.667
Name: 17024, dtype: object
17025 1625 15 ORtg Last Month    108.333
Name: 17025, dtype: object
17026 1761 15 ORtg Last Month    117.4
Name: 17026, dtype: object
17027 834 8 ORtg Last Month    104.25
Name: 17027, dtype: object
17028 497 5 ORtg Last Month    99.4
Name: 17028, dtype: object
17029 1366 13 ORtg Last Month    105.077
Name: 17029, dtype: object
17030 1686 15 ORtg Last Month    112.4
Name: 17030, dtype: object
17031 1387 15 ORtg Last Month    92.4667
Name: 17031, dtype: object
17032 0 0 ORtg Last Month    0
Name: 17032, dtype: object
17033 681 14 ORtg Last Month    48.6429
Name: 17033, dtype: object
17034 1491 13 ORtg Last Month    114.692
Name: 17034, dtype: object
17035 1950 15 ORtg Last Month    130
Name: 17035, dtype: object
17036 1867 15 ORtg Last Month    124.467
Name: 17036, dtype: object
17037 1614 16 ORtg Last Month    100.875
Name: 17037, dtype: object
17038 1504 16 ORtg Last Month    94
Name: 17038, dtype: object
17039 1532 16 ORtg Last Month    95.75
Name: 17039, dtype: object
17040 1453 16 ORtg Last Month    90.8125
Name: 17040, dtype: object
17041 755 14 ORtg Last Month    53.9286
Name: 17041, dtype: object
17042 1731 16 ORtg Last Month    108.188
Name: 17042, dtype: object
17043 1239 16 ORtg Last Month    77.4375
Name: 17043, dtype: object
17044 1636 16 ORtg Last Month    102.25
Name: 17044, dtype: object
17045 1761 15 ORtg Last Month    117.4
Name: 17045, dtype: object
17046 1171 13 ORtg Last Month    90.0769
Name: 17046, dtype: object
17047 908 12 ORtg Last Month    75.6667
Name: 17047, dtype: object
17048 1134 14 ORtg Last Month    81
Name: 17048, dtype: object
17049 1691 14 ORtg Last Month    120.786
Name: 17049, dtype: object
17050 1529 14 ORtg Last Month    109.214
Name: 17050, dtype: object
17051 533 10 ORtg Last Month    53.3
Name: 17051, dtype: object
17052 707 6 ORtg Last Month    117.833
Name: 17052, dtype: object
17053 1464 14 ORtg Last Month    104.571
Name: 17053, dtype: object
17054 1185 10 ORtg Last Month    118.5
Name: 17054, dtype: object
17055 1513 14 ORtg Last Month    108.071
Name: 17055, dtype: object
17056 514 14 ORtg Last Month    36.7143
Name: 17056, dtype: object
17057 1623 14 ORtg Last Month    115.929
Name: 17057, dtype: object
17058 798 14 ORtg Last Month    57
Name: 17058, dtype: object
17059 257 14 ORtg Last Month    18.3571
Name: 17059, dtype: object
17060 1458 15 ORtg Last Month    97.2
Name: 17060, dtype: object
17061 1681 15 ORtg Last Month    112.067
Name: 17061, dtype: object
17062 398 4 ORtg Last Month    99.5
Name: 17062, dtype: object
17063 1343 15 ORtg Last Month    89.5333
Name: 17063, dtype: object
17064 1707 15 ORtg Last Month    113.8
Name: 17064, dtype: object
17065 852 15 ORtg Last Month    56.8
Name: 17065, dtype: object
17066 1249 15 ORtg Last Month    83.2667
Name: 17066, dtype: object
17067 1204 15 ORtg Last Month    80.2667
Name: 17067, dtype: object
17068 1714 15 ORtg Last Month    114.267
Name: 17068, dtype: object
17069 1826 15 ORtg Last Month    121.733
Name: 17069, dtype: object
17070 947 11 ORtg Last Month    86.0909
Name: 17070, dtype: object
17071 475 15 ORtg Last Month    31.6667
Name: 17071, dtype: object
17072 1603 15 ORtg Last Month    106.867
Name: 17072, dtype: object
17073 1432 15 ORtg Last Month    95.4667
Name: 17073, dtype: object
17074 737 13 ORtg Last Month    56.6923
Name: 17074, dtype: object
17075 1023 14 ORtg Last Month    73.0714
Name: 17075, dtype: object
17076 1574 15 ORtg Last Month    104.933
Name: 17076, dtype: object
17077 961 14 ORtg Last Month    68.6429
Name: 17077, dtype: object
17078 1281 15 ORtg Last Month    85.4
Name: 17078, dtype: object
17079 0 0 ORtg Last Month    0
Name: 17079, dtype: object
17080 0 1 ORtg Last Month    0
Name: 17080, dtype: object
17081 1400 14 ORtg Last Month    100
Name: 17081, dtype: object
17082 1566 15 ORtg Last Month    104.4
Name: 17082, dtype: object
17083 1144 12 ORtg Last Month    95.3333
Name: 17083, dtype: object
17084 773 13 ORtg Last Month    59.4615
Name: 17084, dtype: object
17085 1520 14 ORtg Last Month    108.571
Name: 17085, dtype: object
17086 1367 13 ORtg Last Month    105.154
Name: 17086, dtype: object
17087 1419 14 ORtg Last Month    101.357
Name: 17087, dtype: object
17088 198 14 ORtg Last Month    14.1429
Name: 17088, dtype: object
17089 1565 14 ORtg Last Month    111.786
Name: 17089, dtype: object
17090 1557 14 ORtg Last Month    111.214
Name: 17090, dtype: object
17091 1060 14 ORtg Last Month    75.7143
Name: 17091, dtype: object
17092 0 13 ORtg Last Month    0
Name: 17092, dtype: object
17093 1391 13 ORtg Last Month    107
Name: 17093, dtype: object
17094 1700 14 ORtg Last Month    121.429
Name: 17094, dtype: object
17095 1206 13 ORtg Last Month    92.7692
Name: 17095, dtype: object
17096 1078 14 ORtg Last Month    77
Name: 17096, dtype: object
17097 1507 13 ORtg Last Month    115.923
Name: 17097, dtype: object
17098 1629 13 ORtg Last Month    125.308
Name: 17098, dtype: object
17099 1429 13 ORtg Last Month    109.923
Name: 17099, dtype: object
17100 1493 12 ORtg Last Month    124.417
Name: 17100, dtype: object
17101 1516 13 ORtg Last Month    116.615
Name: 17101, dtype: object
17102 1353 13 ORtg Last Month    104.077
Name: 17102, dtype: object
17103 1512 13 ORtg Last Month    116.308
Name: 17103, dtype: object
17104 325 12 ORtg Last Month    27.0833
Name: 17104, dtype: object
17105 1545 13 ORtg Last Month    118.846
Name: 17105, dtype: object
17106 1117 10 ORtg Last Month    111.7
Name: 17106, dtype: object
17107 1149 12 ORtg Last Month    95.75
Name: 17107, dtype: object
17108 978 12 ORtg Last Month    81.5
Name: 17108, dtype: object
17109 553 10 ORtg Last Month    55.3
Name: 17109, dtype: object
17110 495 15 ORtg Last Month    33
Name: 17110, dtype: object
17111 273 9 ORtg Last Month    30.3333
Name: 17111, dtype: object

17112 919 9 ORtg Last Month    102.111
Name: 17112, dtype: object
17113 1488 15 ORtg Last Month    99.2
Name: 17113, dtype: object
17114 1405 15 ORtg Last Month    93.6667
Name: 17114, dtype: object
17115 624 15 ORtg Last Month    41.6
Name: 17115, dtype: object
17116 961 15 ORtg Last Month    64.0667
Name: 17116, dtype: object
17117 130 3 ORtg Last Month    43.3333
Name: 17117, dtype: object
17118 1555 15 ORtg Last Month    103.667
Name: 17118, dtype: object
17119 113 8 ORtg Last Month    14.125
Name: 17119, dtype: object
17120 1883 15 ORtg Last Month    125.533
Name: 17120, dtype: object
17121 1773 15 ORtg Last Month    118.2
Name: 17121, dtype: object
17122 1885 15 ORtg Last Month    125.667
Name: 17122, dtype: object
17123 619 9 ORtg Last Month    68.7778
Name: 17123, dtype: object
17124 586 8 ORtg Last Month    73.25
Name: 17124, dtype: object
17125 951 11 ORtg Last Month    86.4545
Name: 17125, dtype: object
17126 383 9 ORtg Last Month    42.5556
Name: 17126, dtype: object
17127 1014 11 ORtg Last Month    92.1818
Name: 17127, dtype: object
17128 1127 11 ORtg Last Month    102.455
Name: 17128, dtype: object
17129 115 9 ORtg Last Month    12.7778
Name: 17129, dtype: object
17130 680 11 ORtg Last Month    61.8182
Name: 17130, dtype: object
17131 1209 11 ORtg Last Month    109.909
Name: 17131, dtype: object
17132 597 3 ORtg Last Month    199
Name: 17132, dtype: object
17133 735 8 ORtg Last Month    91.875
Name: 17133, dtype: object
17134 1894 15 ORtg Last Month    126.267
Name: 17134, dtype: object
17135 531 15 ORtg Last Month    35.4
Name: 17135, dtype: object
17136 1544 15 ORtg Last Month    102.933
Name: 17136, dtype: object
17137 1704 16 ORtg Last Month    106.5
Name: 17137, dtype: object
17138 1582 16 ORtg Last Month    98.875
Name: 17138, dtype: object
17139 796 14 ORtg Last Month    56.8571
Name: 17139, dtype: object
17140 1611 16 ORtg Last Month    100.688
Name: 17140, dtype: object
17141 0 4 ORtg Last Month    0
Name: 17141, dtype: object
17142 1805 16 ORtg Last Month    112.812
Name: 17142, dtype: object
17143 1112 12 ORtg Last Month    92.6667
Name: 17143, dtype: object
17144 780 15 ORtg Last Month    52
Name: 17144, dtype: object
17145 1239 15 ORtg Last Month    82.6
Name: 17145, dtype: object
17146 1368 13 ORtg Last Month    105.231
Name: 17146, dtype: object
17147 1252 16 ORtg Last Month    78.25
Name: 17147, dtype: object
17148 739 11 ORtg Last Month    67.1818
Name: 17148, dtype: object
17149 869 16 ORtg Last Month    54.3125
Name: 17149, dtype: object
17150 1478 16 ORtg Last Month    92.375
Name: 17150, dtype: object
17151 1590 16 ORtg Last Month    99.375
Name: 17151, dtype: object
17152 1861 16 ORtg Last Month    116.312
Name: 17152, dtype: object
17153 424 16 ORtg Last Month    26.5
Name: 17153, dtype: object
17154 511 8 ORtg Last Month    63.875
Name: 17154, dtype: object
17155 0 12 ORtg Last Month    0
Name: 17155, dtype: object
17156 1489 15 ORtg Last Month    99.2667
Name: 17156, dtype: object
17157 1825 15 ORtg Last Month    121.667
Name: 17157, dtype: object
17158 1580 15 ORtg Last Month    105.333
Name: 17158, dtype: object
17159 1709 15 ORtg Last Month    113.933
Name: 17159, dtype: object
17160 932 11 ORtg Last Month    84.7273
Name: 17160, dtype: object
17161 1592 15 ORtg Last Month    106.133
Name: 17161, dtype: object
17162 1524 15 ORtg Last Month    101.6
Name: 17162, dtype: object
17163 976 15 ORtg Last Month    65.0667
Name: 17163, dtype: object
17164 1795 15 ORtg Last Month    119.667
Name: 17164, dtype: object
17165 792 8 ORtg Last Month    99
Name: 17165, dtype: object
17166 1294 15 ORtg Last Month    86.2667
Name: 17166, dtype: object
17167 876 15 ORtg Last Month    58.4
Name: 17167, dtype: object
17168 1014 11 ORtg Last Month    92.1818
Name: 17168, dtype: object
17169 1533 15 ORtg Last Month    102.2
Name: 17169, dtype: object
17170 1676 15 ORtg Last Month    111.733
Name: 17170, dtype: object
17171 1255 10 ORtg Last Month    125.5
Name: 17171, dtype: object
17172 1567 14 ORtg Last Month    111.929
Name: 17172, dtype: object
17173 1547 14 ORtg Last Month    110.5
Name: 17173, dtype: object
17174 1083 10 ORtg Last Month    108.3
Name: 17174, dtype: object
17175 1122 13 ORtg Last Month    86.3077
Name: 17175, dtype: object
17176 387 9 ORtg Last Month    43
Name: 17176, dtype: object
17177 1657 15 ORtg Last Month    110.467
Name: 17177, dtype: object
17178 1501 15 ORtg Last Month    100.067
Name: 17178, dtype: object
17179 1168 15 ORtg Last Month    77.8667
Name: 17179, dtype: object
17180 1620 14 ORtg Last Month    115.714
Name: 17180, dtype: object
17181 774 7 ORtg Last Month    110.571
Name: 17181, dtype: object
17182 392 6 ORtg Last Month    65.3333
Name: 17182, dtype: object
17183 1581 14 ORtg Last Month    112.929
Name: 17183, dtype: object
17184 1314 14 ORtg Last Month    93.8571
Name: 17184, dtype: object
17185 1235 13 ORtg Last Month    95
Name: 17185, dtype: object
17186 1628 14 ORtg Last Month    116.286
Name: 17186, dtype: object
17187 725 14 ORtg Last Month    51.7857
Name: 17187, dtype: object
17188 127 9 ORtg Last Month    14.1111
Name: 17188, dtype: object
17189 1891 14 ORtg Last Month    135.071
Name: 17189, dtype: object
17190 1517 14 ORtg Last Month    108.357
Name: 17190, dtype: object
17191 1022 14 ORtg Last Month    73
Name: 17191, dtype: object
17192 1371 13 ORtg Last Month    105.462
Name: 17192, dtype: object
17193 1429 13 ORtg Last Month    109.923
Name: 17193, dtype: object
17194 108 6 ORtg Last Month    18
Name: 17194, dtype: object
17195 1325 13 ORtg Last Month    101.923
Name: 17195, dtype: object
17196 1401 13 ORtg Last Month    107.769
Name: 17196, dtype: object
17197 1330 13 ORtg Last Month    102.308
Name: 17197, dtype: object
17198 1046 10 ORtg Last Month    104.6
Name: 17198, dtype: object
17199 1170 13 ORtg Last Month    90
Name: 17199, dtype: object
17200 1804 13 ORtg Last Month    138.769
Name: 17200, dtype: object
17201 1266 13 ORtg Last Month    97.3846
Name: 17201, dtype: object
17202 1459 14 ORtg Last Month    104.214
Name: 17202, dtype: object
17203 1459 13 ORtg Last Month    112.231
Name: 17203, dtype: object
17204 1295 14 ORtg Last Month    92.5
Name: 17204, dtype: object
17205 593 12 ORtg Last Month    49.4167
Name: 17205, dtype: object
17206 1142 13 ORtg Last Month    87.8462
Name: 17206, dtype: object
17207 552 14 ORtg Last Month    39.4286
Name: 17207, dtype: object
17208 854 13 ORtg Last Month    65.6923
Name: 17208, dtype: object
17209 1853 14 ORtg Last Month    132.357
Name: 17209, dtype: object
17210 1158 10 ORtg Last Month    115.8
Name: 17210, dtype: object
17211 1294 13 ORtg Last Month    99.5385
Name: 17211, dtype: object
17212 692 10 ORtg Last Month    69.2
Name: 17212, dtype: object
17213 1346 11 ORtg Last Month    122.364
Name: 17213, dtype: object
17214 1644 14 ORtg Last Month    117.429
Name: 17214, dtype: object
17215 1566 15 ORtg Last Month    104.4
Name: 17215, dtype: object
17216 1221 15 ORtg Last Month    81.4
Name: 17216, dtype: object
17217 1507 15 ORtg Last Month    100.467
Name: 17217, dtype: object
17218 1577 14 ORtg Last Month    112.643
Name: 17218, dtype: object
17219 1479 14 ORtg Last Month    105.643
Name: 17219, dtype: object
17220 1547 15 ORtg Last Month    103.133
Name: 17220, dtype: object
17221 1441 15 ORtg Last Month    96.0667
Name: 17221, dtype: object
17222 1740 14 ORtg Last Month    124.286
Name: 17222, dtype: object
17223 579 5 ORtg Last Month    115.8
Name: 17223, dtype: object
17224 1465 15 ORtg Last Month    97.6667
Name: 17224, dtype: object
17225 971 15 ORtg Last Month    64.7333
Name: 17225, dtype: object
17226 948 9 ORtg Last Month    105.333
Name: 17226, dtype: object
17227 1880 15 ORtg Last Month    125.333
Name: 17227, dtype: object
17228 1826 15 ORtg Last Month    121.733
Name: 17228, dtype: object
17229 719 12 ORtg Last Month    59.9167
Name: 17229, dtype: object
17230 1683 15 ORtg Last Month    112.2
Name: 17230, dtype: object
17231 632 6 ORtg Last Month    105.333
Name: 17231, dtype: object
17232 1400 13 ORtg Last Month    107.692
Name: 17232, dtype: object
17233 1288 15 ORtg Last Month    85.8667
Name: 17233, dtype: object
17234 457 14 ORtg Last Month    32.6429
Name: 17234, dtype: object
17235 1783 15 ORtg Last Month    118.867
Name: 17235, dtype: object

17236 1985 15 ORtg Last Month    132.333
Name: 17236, dtype: object
17237 1649 14 ORtg Last Month    117.786
Name: 17237, dtype: object
17238 1699 13 ORtg Last Month    130.692
Name: 17238, dtype: object
17239 1559 13 ORtg Last Month    119.923
Name: 17239, dtype: object
17240 1462 12 ORtg Last Month    121.833
Name: 17240, dtype: object
17241 1345 13 ORtg Last Month    103.462
Name: 17241, dtype: object
17242 1556 13 ORtg Last Month    119.692
Name: 17242, dtype: object
17243 1853 13 ORtg Last Month    142.538
Name: 17243, dtype: object
17244 1552 13 ORtg Last Month    119.385
Name: 17244, dtype: object
17245 250 3 ORtg Last Month    83.3333
Name: 17245, dtype: object
17246 0 1 ORtg Last Month    0
Name: 17246, dtype: object
17247 1654 13 ORtg Last Month    127.231
Name: 17247, dtype: object
17248 334 3 ORtg Last Month    111.333
Name: 17248, dtype: object
17249 1889 13 ORtg Last Month    145.308
Name: 17249, dtype: object
17250 910 13 ORtg Last Month    70
Name: 17250, dtype: object
17251 1549 12 ORtg Last Month    129.083
Name: 17251, dtype: object
17252 1291 12 ORtg Last Month    107.583
Name: 17252, dtype: object
17253 1240 12 ORtg Last Month    103.333
Name: 17253, dtype: object
17254 0 3 ORtg Last Month    0
Name: 17254, dtype: object
17255 1332 12 ORtg Last Month    111
Name: 17255, dtype: object
17256 1489 12 ORtg Last Month    124.083
Name: 17256, dtype: object
17257 1227 12 ORtg Last Month    102.25
Name: 17257, dtype: object
17258 1247 12 ORtg Last Month    103.917
Name: 17258, dtype: object
17259 222 8 ORtg Last Month    27.75
Name: 17259, dtype: object
17260 1023 8 ORtg Last Month    127.875
Name: 17260, dtype: object
17261 1607 12 ORtg Last Month    133.917
Name: 17261, dtype: object
17262 603 12 ORtg Last Month    50.25
Name: 17262, dtype: object
17263 1603 15 ORtg Last Month    106.867
Name: 17263, dtype: object
17264 1365 15 ORtg Last Month    91
Name: 17264, dtype: object
17265 826 14 ORtg Last Month    59
Name: 17265, dtype: object
17266 1058 14 ORtg Last Month    75.5714
Name: 17266, dtype: object
17267 19 1 ORtg Last Month    19
Name: 17267, dtype: object
17268 1618 15 ORtg Last Month    107.867
Name: 17268, dtype: object
17269 0 2 ORtg Last Month    0
Name: 17269, dtype: object
17270 1353 14 ORtg Last Month    96.6429
Name: 17270, dtype: object
17271 1610 15 ORtg Last Month    107.333
Name: 17271, dtype: object
17272 1129 12 ORtg Last Month    94.0833
Name: 17272, dtype: object
17273 773 13 ORtg Last Month    59.4615
Name: 17273, dtype: object
17274 1371 14 ORtg Last Month    97.9286
Name: 17274, dtype: object
17275 1645 14 ORtg Last Month    117.5
Name: 17275, dtype: object
17276 1316 13 ORtg Last Month    101.231
Name: 17276, dtype: object
17277 1300 13 ORtg Last Month    100
Name: 17277, dtype: object
17278 393 13 ORtg Last Month    30.2308
Name: 17278, dtype: object
17279 1217 12 ORtg Last Month    101.417
Name: 17279, dtype: object
17280 1036 14 ORtg Last Month    74
Name: 17280, dtype: object
17281 310 8 ORtg Last Month    38.75
Name: 17281, dtype: object
17282 1248 11 ORtg Last Month    113.455
Name: 17282, dtype: object
17283 867 12 ORtg Last Month    72.25
Name: 17283, dtype: object
17284 253 5 ORtg Last Month    50.6
Name: 17284, dtype: object
17285 1615 14 ORtg Last Month    115.357
Name: 17285, dtype: object
17286 1705 14 ORtg Last Month    121.786
Name: 17286, dtype: object
17287 1681 14 ORtg Last Month    120.071
Name: 17287, dtype: object
17288 284 5 ORtg Last Month    56.8
Name: 17288, dtype: object
17289 354 5 ORtg Last Month    70.8
Name: 17289, dtype: object
17290 1592 12 ORtg Last Month    132.667
Name: 17290, dtype: object
17291 1111 14 ORtg Last Month    79.3571
Name: 17291, dtype: object
17292 1375 14 ORtg Last Month    98.2143
Name: 17292, dtype: object
17293 165 2 ORtg Last Month    82.5
Name: 17293, dtype: object
17294 1567 14 ORtg Last Month    111.929
Name: 17294, dtype: object
17295 553 13 ORtg Last Month    42.5385
Name: 17295, dtype: object
17296 1765 16 ORtg Last Month    110.312
Name: 17296, dtype: object
17297 332 7 ORtg Last Month    47.4286
Name: 17297, dtype: object
17298 2014 16 ORtg Last Month    125.875
Name: 17298, dtype: object
17299 1013 11 ORtg Last Month    92.0909
Name: 17299, dtype: object
17300 1689 16 ORtg Last Month    105.562
Name: 17300, dtype: object
17301 1713 16 ORtg Last Month    107.062
Name: 17301, dtype: object
17302 854 16 ORtg Last Month    53.375
Name: 17302, dtype: object
17303 1894 16 ORtg Last Month    118.375
Name: 17303, dtype: object
17304 1730 16 ORtg Last Month    108.125
Name: 17304, dtype: object
17305 1820 16 ORtg Last Month    113.75
Name: 17305, dtype: object
17306 91 6 ORtg Last Month    15.1667
Name: 17306, dtype: object
17307 1702 14 ORtg Last Month    121.571
Name: 17307, dtype: object
17308 841 8 ORtg Last Month    105.125
Name: 17308, dtype: object
17309 779 14 ORtg Last Month    55.6429
Name: 17309, dtype: object
17310 1872 14 ORtg Last Month    133.714
Name: 17310, dtype: object
17311 1540 14 ORtg Last Month    110
Name: 17311, dtype: object
17312 1650 14 ORtg Last Month    117.857
Name: 17312, dtype: object
17313 135 3 ORtg Last Month    45
Name: 17313, dtype: object
17314 1596 13 ORtg Last Month    122.769
Name: 17314, dtype: object
17315 847 14 ORtg Last Month    60.5
Name: 17315, dtype: object
17316 439 14 ORtg Last Month    31.3571
Name: 17316, dtype: object
17317 1878 14 ORtg Last Month    134.143
Name: 17317, dtype: object
17318 0 2 ORtg Last Month    0
Name: 17318, dtype: object
17319 1494 14 ORtg Last Month    106.714
Name: 17319, dtype: object
17320 1374 14 ORtg Last Month    98.1429
Name: 17320, dtype: object
17321 1605 14 ORtg Last Month    114.643
Name: 17321, dtype: object
17322 877 14 ORtg Last Month    62.6429
Name: 17322, dtype: object
17323 1240 14 ORtg Last Month    88.5714
Name: 17323, dtype: object
17324 0 1 ORtg Last Month    0
Name: 17324, dtype: object
17325 0 0 ORtg Last Month    0
Name: 17325, dtype: object
17326 1401 14 ORtg Last Month    100.071
Name: 17326, dtype: object
17327 1424 13 ORtg Last Month    109.538
Name: 17327, dtype: object
17328 893 13 ORtg Last Month    68.6923
Name: 17328, dtype: object
17329 1277 14 ORtg Last Month    91.2143
Name: 17329, dtype: object
17330 972 9 ORtg Last Month    108
Name: 17330, dtype: object
17331 714 14 ORtg Last Month    51
Name: 17331, dtype: object
17332 1513 15 ORtg Last Month    100.867
Name: 17332, dtype: object
17333 1741 15 ORtg Last Month    116.067
Name: 17333, dtype: object
17334 1287 14 ORtg Last Month    91.9286
Name: 17334, dtype: object
17335 1406 15 ORtg Last Month    93.7333
Name: 17335, dtype: object
17336 1533 15 ORtg Last Month    102.2
Name: 17336, dtype: object
17337 1032 14 ORtg Last Month    73.7143
Name: 17337, dtype: object
17338 307 4 ORtg Last Month    76.75
Name: 17338, dtype: object
17339 1376 12 ORtg Last Month    114.667
Name: 17339, dtype: object
17340 759 7 ORtg Last Month    108.429
Name: 17340, dtype: object
17341 1060 15 ORtg Last Month    70.6667
Name: 17341, dtype: object
17342 1632 15 ORtg Last Month    108.8
Name: 17342, dtype: object
17343 1216 15 ORtg Last Month    81.0667
Name: 17343, dtype: object
17344 1162 15 ORtg Last Month    77.4667
Name: 17344, dtype: object
17345 1612 15 ORtg Last Month    107.467
Name: 17345, dtype: object
17346 1615 15 ORtg Last Month    107.667
Name: 17346, dtype: object
17347 252 12 ORtg Last Month    21
Name: 17347, dtype: object
17348 1811 15 ORtg Last Month    120.733
Name: 17348, dtype: object
17349 1904 15 ORtg Last Month    126.933
Name: 17349, dtype: object
17350 931 12 ORtg Last Month    77.5833
Name: 17350, dtype: object
17351 1464 15 ORtg Last Month    97.6
Name: 17351, dtype: object
17352 524 13 ORtg Last Month    40.3077
Name: 17352, dtype: object
17353 1677 14 ORtg Last Month    119.786
Name: 17353, dtype: object
17354 0 0 ORtg Last Month    0
Name: 17354, dtype: object
17355 1522 14 ORtg Last Month    108.714
Name: 17355, dtype: object
17356 533 10 ORtg Last Month    53.3
Name: 17356, dtype: object
17357 676 6 ORtg Last Month    112.667
Name: 17357, dtype: object
17358 1303 11 ORtg Last Month    118.455
Name: 17358, dtype: object
17359 1501 14 ORtg Last Month    107.214
Name: 17359, dtype: object

17360 1480 14 ORtg Last Month    105.714
Name: 17360, dtype: object
17361 670 14 ORtg Last Month    47.8571
Name: 17361, dtype: object
17362 1518 14 ORtg Last Month    108.429
Name: 17362, dtype: object
17363 798 14 ORtg Last Month    57
Name: 17363, dtype: object
17364 257 14 ORtg Last Month    18.3571
Name: 17364, dtype: object
17365 1646 15 ORtg Last Month    109.733
Name: 17365, dtype: object
17366 1295 15 ORtg Last Month    86.3333
Name: 17366, dtype: object
17367 1403 15 ORtg Last Month    93.5333
Name: 17367, dtype: object
17368 572 5 ORtg Last Month    114.4
Name: 17368, dtype: object
17369 1699 15 ORtg Last Month    113.267
Name: 17369, dtype: object
17370 1140 15 ORtg Last Month    76
Name: 17370, dtype: object
17371 1153 15 ORtg Last Month    76.8667
Name: 17371, dtype: object
17372 852 15 ORtg Last Month    56.8
Name: 17372, dtype: object
17373 1747 15 ORtg Last Month    116.467
Name: 17373, dtype: object
17374 1821 15 ORtg Last Month    121.4
Name: 17374, dtype: object
17375 1034 12 ORtg Last Month    86.1667
Name: 17375, dtype: object
17376 335 15 ORtg Last Month    22.3333
Name: 17376, dtype: object
17377 139 1 ORtg Last Month    139
Name: 17377, dtype: object
17378 1121 14 ORtg Last Month    80.0714
Name: 17378, dtype: object
17379 126 2 ORtg Last Month    63
Name: 17379, dtype: object
17380 1387 14 ORtg Last Month    99.0714
Name: 17380, dtype: object
17381 1495 14 ORtg Last Month    106.786
Name: 17381, dtype: object
17382 1269 14 ORtg Last Month    90.6429
Name: 17382, dtype: object
17383 1186 11 ORtg Last Month    107.818
Name: 17383, dtype: object
17384 1337 14 ORtg Last Month    95.5
Name: 17384, dtype: object
17385 1707 14 ORtg Last Month    121.929
Name: 17385, dtype: object
17386 1374 13 ORtg Last Month    105.692
Name: 17386, dtype: object
17387 433 14 ORtg Last Month    30.9286
Name: 17387, dtype: object
17388 1550 14 ORtg Last Month    110.714
Name: 17388, dtype: object
17389 1363 13 ORtg Last Month    104.846
Name: 17389, dtype: object
17390 1522 14 ORtg Last Month    108.714
Name: 17390, dtype: object
17391 198 14 ORtg Last Month    14.1429
Name: 17391, dtype: object
17392 1511 14 ORtg Last Month    107.929
Name: 17392, dtype: object
17393 833 11 ORtg Last Month    75.7273
Name: 17393, dtype: object
17394 1618 14 ORtg Last Month    115.571
Name: 17394, dtype: object
17395 953 14 ORtg Last Month    68.0714
Name: 17395, dtype: object
17396 0 13 ORtg Last Month    0
Name: 17396, dtype: object
17397 1401 13 ORtg Last Month    107.769
Name: 17397, dtype: object
17398 1241 13 ORtg Last Month    95.4615
Name: 17398, dtype: object
17399 1745 14 ORtg Last Month    124.643
Name: 17399, dtype: object
17400 996 14 ORtg Last Month    71.1429
Name: 17400, dtype: object
17401 1513 12 ORtg Last Month    126.083
Name: 17401, dtype: object
17402 1502 13 ORtg Last Month    115.538
Name: 17402, dtype: object
17403 1542 13 ORtg Last Month    118.615
Name: 17403, dtype: object
17404 1658 13 ORtg Last Month    127.538
Name: 17404, dtype: object
17405 1468 13 ORtg Last Month    112.923
Name: 17405, dtype: object
17406 1483 13 ORtg Last Month    114.077
Name: 17406, dtype: object
17407 1375 13 ORtg Last Month    105.769
Name: 17407, dtype: object
17408 1478 13 ORtg Last Month    113.692
Name: 17408, dtype: object
17409 1072 12 ORtg Last Month    89.3333
Name: 17409, dtype: object
17410 576 15 ORtg Last Month    38.4
Name: 17410, dtype: object
17411 308 10 ORtg Last Month    30.8
Name: 17411, dtype: object
17412 1474 15 ORtg Last Month    98.2667
Name: 17412, dtype: object
17413 813 15 ORtg Last Month    54.2
Name: 17413, dtype: object
17414 1469 15 ORtg Last Month    97.9333
Name: 17414, dtype: object
17415 1433 15 ORtg Last Month    95.5333
Name: 17415, dtype: object
17416 1113 15 ORtg Last Month    74.2
Name: 17416, dtype: object
17417 113 9 ORtg Last Month    12.5556
Name: 17417, dtype: object
17418 335 4 ORtg Last Month    83.75
Name: 17418, dtype: object
17419 1896 15 ORtg Last Month    126.4
Name: 17419, dtype: object
17420 1776 15 ORtg Last Month    118.4
Name: 17420, dtype: object
17421 1842 15 ORtg Last Month    122.8
Name: 17421, dtype: object
17422 741 9 ORtg Last Month    82.3333
Name: 17422, dtype: object
17423 583 8 ORtg Last Month    72.875
Name: 17423, dtype: object
17424 1005 11 ORtg Last Month    91.3636
Name: 17424, dtype: object
17425 1160 11 ORtg Last Month    105.455
Name: 17425, dtype: object
17426 680 11 ORtg Last Month    61.8182
Name: 17426, dtype: object
17427 585 9 ORtg Last Month    65
Name: 17427, dtype: object
17428 991 11 ORtg Last Month    90.0909
Name: 17428, dtype: object
17429 159 9 ORtg Last Month    17.6667
Name: 17429, dtype: object
17430 709 4 ORtg Last Month    177.25
Name: 17430, dtype: object
17431 1223 11 ORtg Last Month    111.182
Name: 17431, dtype: object
17432 650 8 ORtg Last Month    81.25
Name: 17432, dtype: object
17433 1646 15 ORtg Last Month    109.733
Name: 17433, dtype: object
17434 1563 15 ORtg Last Month    104.2
Name: 17434, dtype: object
17435 1805 15 ORtg Last Month    120.333
Name: 17435, dtype: object
17436 1946 15 ORtg Last Month    129.733
Name: 17436, dtype: object
17437 1470 15 ORtg Last Month    98
Name: 17437, dtype: object
17438 1732 15 ORtg Last Month    115.467
Name: 17438, dtype: object
17439 1599 12 ORtg Last Month    133.25
Name: 17439, dtype: object
17440 1452 15 ORtg Last Month    96.8
Name: 17440, dtype: object
17441 1920 15 ORtg Last Month    128
Name: 17441, dtype: object
17442 491 15 ORtg Last Month    32.7333
Name: 17442, dtype: object
17443 1834 15 ORtg Last Month    122.267
Name: 17443, dtype: object
17444 1535 15 ORtg Last Month    102.333
Name: 17444, dtype: object
17445 1508 16 ORtg Last Month    94.25
Name: 17445, dtype: object
17446 1694 16 ORtg Last Month    105.875
Name: 17446, dtype: object
17447 1578 16 ORtg Last Month    98.625
Name: 17447, dtype: object
17448 758 14 ORtg Last Month    54.1429
Name: 17448, dtype: object
17449 0 5 ORtg Last Month    0
Name: 17449, dtype: object
17450 1826 16 ORtg Last Month    114.125
Name: 17450, dtype: object
17451 780 15 ORtg Last Month    52
Name: 17451, dtype: object
17452 1239 15 ORtg Last Month    82.6
Name: 17452, dtype: object
17453 1189 12 ORtg Last Month    99.0833
Name: 17453, dtype: object
17454 1360 13 ORtg Last Month    104.615
Name: 17454, dtype: object
17455 800 12 ORtg Last Month    66.6667
Name: 17455, dtype: object
17456 1248 16 ORtg Last Month    78
Name: 17456, dtype: object
17457 933 16 ORtg Last Month    58.3125
Name: 17457, dtype: object
17458 0 0 ORtg Last Month    0
Name: 17458, dtype: object
17459 1553 16 ORtg Last Month    97.0625
Name: 17459, dtype: object
17460 1850 16 ORtg Last Month    115.625
Name: 17460, dtype: object
17461 1467 16 ORtg Last Month    91.6875
Name: 17461, dtype: object
17462 1774 11 ORtg Last Month    161.273
Name: 17462, dtype: object
17463 523 16 ORtg Last Month    32.6875
Name: 17463, dtype: object
17464 0 13 ORtg Last Month    0
Name: 17464, dtype: object
17465 0 0 ORtg Last Month    0
Name: 17465, dtype: object
17466 1369 14 ORtg Last Month    97.7857
Name: 17466, dtype: object
17467 1608 14 ORtg Last Month    114.857
Name: 17467, dtype: object
17468 1716 14 ORtg Last Month    122.571
Name: 17468, dtype: object
17469 719 10 ORtg Last Month    71.9
Name: 17469, dtype: object
17470 1361 14 ORtg Last Month    97.2143
Name: 17470, dtype: object
17471 1462 14 ORtg Last Month    104.429
Name: 17471, dtype: object
17472 1369 14 ORtg Last Month    97.7857
Name: 17472, dtype: object
17473 711 14 ORtg Last Month    50.7857
Name: 17473, dtype: object
17474 1679 14 ORtg Last Month    119.929
Name: 17474, dtype: object
17475 885 9 ORtg Last Month    98.3333
Name: 17475, dtype: object
17476 1199 14 ORtg Last Month    85.6429
Name: 17476, dtype: object
17477 655 14 ORtg Last Month    46.7857
Name: 17477, dtype: object
17478 1774 15 ORtg Last Month    118.267
Name: 17478, dtype: object
17479 1994 15 ORtg Last Month    132.933
Name: 17479, dtype: object
17480 1640 15 ORtg Last Month    109.333
Name: 17480, dtype: object
17481 235 4 ORtg Last Month    58.75
Name: 17481, dtype: object
17482 1639 13 ORtg Last Month    126.077
Name: 17482, dtype: object
17483 979 9 ORtg Last Month    108.778
Name: 17483, dtype: object

17484 1726 14 ORtg Last Month    123.286
Name: 17484, dtype: object
17485 1001 15 ORtg Last Month    66.7333
Name: 17485, dtype: object
17486 566 15 ORtg Last Month    37.7333
Name: 17486, dtype: object
17487 1831 15 ORtg Last Month    122.067
Name: 17487, dtype: object
17488 2070 15 ORtg Last Month    138
Name: 17488, dtype: object
17489 921 15 ORtg Last Month    61.4
Name: 17489, dtype: object
17490 0 3 ORtg Last Month    0
Name: 17490, dtype: object
17491 1115 12 ORtg Last Month    92.9167
Name: 17491, dtype: object
17492 1503 15 ORtg Last Month    100.2
Name: 17492, dtype: object
17493 1540 15 ORtg Last Month    102.667
Name: 17493, dtype: object
17494 1250 10 ORtg Last Month    125
Name: 17494, dtype: object
17495 1603 14 ORtg Last Month    114.5
Name: 17495, dtype: object
17496 1555 14 ORtg Last Month    111.071
Name: 17496, dtype: object
17497 1028 10 ORtg Last Month    102.8
Name: 17497, dtype: object
17498 387 10 ORtg Last Month    38.7
Name: 17498, dtype: object
17499 1122 13 ORtg Last Month    86.3077
Name: 17499, dtype: object
17500 1523 15 ORtg Last Month    101.533
Name: 17500, dtype: object
17501 1721 15 ORtg Last Month    114.733
Name: 17501, dtype: object
17502 1132 15 ORtg Last Month    75.4667
Name: 17502, dtype: object
17503 1625 14 ORtg Last Month    116.071
Name: 17503, dtype: object
17504 781 7 ORtg Last Month    111.571
Name: 17504, dtype: object
17505 392 7 ORtg Last Month    56
Name: 17505, dtype: object
17506 1350 14 ORtg Last Month    96.4286
Name: 17506, dtype: object
17507 1247 13 ORtg Last Month    95.9231
Name: 17507, dtype: object
17508 1597 14 ORtg Last Month    114.071
Name: 17508, dtype: object
17509 809 14 ORtg Last Month    57.7857
Name: 17509, dtype: object
17510 1750 14 ORtg Last Month    125
Name: 17510, dtype: object
17511 127 10 ORtg Last Month    12.7
Name: 17511, dtype: object
17512 1903 14 ORtg Last Month    135.929
Name: 17512, dtype: object
17513 1586 14 ORtg Last Month    113.286
Name: 17513, dtype: object
17514 958 14 ORtg Last Month    68.4286
Name: 17514, dtype: object
17515 1482 13 ORtg Last Month    114
Name: 17515, dtype: object
17516 1416 13 ORtg Last Month    108.923
Name: 17516, dtype: object
17517 1257 13 ORtg Last Month    96.6923
Name: 17517, dtype: object
17518 108 7 ORtg Last Month    15.4286
Name: 17518, dtype: object
17519 122 5 ORtg Last Month    24.4
Name: 17519, dtype: object
17520 1323 13 ORtg Last Month    101.769
Name: 17520, dtype: object
17521 1120 11 ORtg Last Month    101.818
Name: 17521, dtype: object
17522 1360 13 ORtg Last Month    104.615
Name: 17522, dtype: object
17523 1802 13 ORtg Last Month    138.615
Name: 17523, dtype: object
17524 1480 14 ORtg Last Month    105.714
Name: 17524, dtype: object
17525 1451 13 ORtg Last Month    111.615
Name: 17525, dtype: object
17526 1301 14 ORtg Last Month    92.9286
Name: 17526, dtype: object
17527 750 12 ORtg Last Month    62.5
Name: 17527, dtype: object
17528 1083 13 ORtg Last Month    83.3077
Name: 17528, dtype: object
17529 507 14 ORtg Last Month    36.2143
Name: 17529, dtype: object
17530 854 13 ORtg Last Month    65.6923
Name: 17530, dtype: object
17531 1410 14 ORtg Last Month    100.714
Name: 17531, dtype: object
17532 1880 14 ORtg Last Month    134.286
Name: 17532, dtype: object
17533 1163 10 ORtg Last Month    116.3
Name: 17533, dtype: object
17534 794 10 ORtg Last Month    79.4
Name: 17534, dtype: object
17535 1662 14 ORtg Last Month    118.714
Name: 17535, dtype: object
17536 1540 15 ORtg Last Month    102.667
Name: 17536, dtype: object
17537 1221 15 ORtg Last Month    81.4
Name: 17537, dtype: object
17538 1553 14 ORtg Last Month    110.929
Name: 17538, dtype: object
17539 1537 15 ORtg Last Month    102.467
Name: 17539, dtype: object
17540 1580 15 ORtg Last Month    105.333
Name: 17540, dtype: object
17541 1392 14 ORtg Last Month    99.4286
Name: 17541, dtype: object
17542 1141 15 ORtg Last Month    76.0667
Name: 17542, dtype: object
17543 1749 14 ORtg Last Month    124.929
Name: 17543, dtype: object
17544 657 6 ORtg Last Month    109.5
Name: 17544, dtype: object
17545 971 15 ORtg Last Month    64.7333
Name: 17545, dtype: object
17546 1341 15 ORtg Last Month    89.4
Name: 17546, dtype: object
17547 598 7 ORtg Last Month    85.4286
Name: 17547, dtype: object
17548 1420 12 ORtg Last Month    118.333
Name: 17548, dtype: object
17549 1281 13 ORtg Last Month    98.5385
Name: 17549, dtype: object
17550 122 1 ORtg Last Month    122
Name: 17550, dtype: object
17551 1449 13 ORtg Last Month    111.462
Name: 17551, dtype: object
17552 1359 13 ORtg Last Month    104.538
Name: 17552, dtype: object
17553 1308 12 ORtg Last Month    109
Name: 17553, dtype: object
17554 416 8 ORtg Last Month    52
Name: 17554, dtype: object
17555 896 11 ORtg Last Month    81.4545
Name: 17555, dtype: object
17556 688 6 ORtg Last Month    114.667
Name: 17556, dtype: object
17557 1384 12 ORtg Last Month    115.333
Name: 17557, dtype: object
17558 1501 13 ORtg Last Month    115.462
Name: 17558, dtype: object
17559 1461 14 ORtg Last Month    104.357
Name: 17559, dtype: object
17560 1059 12 ORtg Last Month    88.25
Name: 17560, dtype: object
17561 1262 14 ORtg Last Month    90.1429
Name: 17561, dtype: object
17562 1554 14 ORtg Last Month    111
Name: 17562, dtype: object
17563 1272 11 ORtg Last Month    115.636
Name: 17563, dtype: object
17564 1455 14 ORtg Last Month    103.929
Name: 17564, dtype: object
17565 1662 14 ORtg Last Month    118.714
Name: 17565, dtype: object
17566 1660 14 ORtg Last Month    118.571
Name: 17566, dtype: object
17567 1708 14 ORtg Last Month    122
Name: 17567, dtype: object
17568 467 11 ORtg Last Month    42.4545
Name: 17568, dtype: object
17569 1750 14 ORtg Last Month    125
Name: 17569, dtype: object
17570 402 13 ORtg Last Month    30.9231
Name: 17570, dtype: object
17571 1819 15 ORtg Last Month    121.267
Name: 17571, dtype: object
17572 1036 10 ORtg Last Month    103.6
Name: 17572, dtype: object
17573 1791 15 ORtg Last Month    119.4
Name: 17573, dtype: object
17574 699 12 ORtg Last Month    58.25
Name: 17574, dtype: object
17575 756 7 ORtg Last Month    108
Name: 17575, dtype: object
17576 1693 15 ORtg Last Month    112.867
Name: 17576, dtype: object
17577 1209 15 ORtg Last Month    80.6
Name: 17577, dtype: object
17578 1489 13 ORtg Last Month    114.538
Name: 17578, dtype: object
17579 457 14 ORtg Last Month    32.6429
Name: 17579, dtype: object
17580 1818 15 ORtg Last Month    121.2
Name: 17580, dtype: object
17581 2051 15 ORtg Last Month    136.733
Name: 17581, dtype: object
17582 1816 15 ORtg Last Month    121.067
Name: 17582, dtype: object
17583 1749 13 ORtg Last Month    134.538
Name: 17583, dtype: object
17584 1594 13 ORtg Last Month    122.615
Name: 17584, dtype: object
17585 1345 13 ORtg Last Month    103.462
Name: 17585, dtype: object
17586 1529 12 ORtg Last Month    127.417
Name: 17586, dtype: object
17587 1801 13 ORtg Last Month    138.538
Name: 17587, dtype: object
17588 1552 13 ORtg Last Month    119.385
Name: 17588, dtype: object
17589 0 2 ORtg Last Month    0
Name: 17589, dtype: object
17590 1365 13 ORtg Last Month    105
Name: 17590, dtype: object
17591 250 4 ORtg Last Month    62.5
Name: 17591, dtype: object
17592 445 4 ORtg Last Month    111.25
Name: 17592, dtype: object
17593 1918 13 ORtg Last Month    147.538
Name: 17593, dtype: object
17594 910 13 ORtg Last Month    70
Name: 17594, dtype: object
17595 1523 12 ORtg Last Month    126.917
Name: 17595, dtype: object
17596 1136 12 ORtg Last Month    94.6667
Name: 17596, dtype: object
17597 1349 12 ORtg Last Month    112.417
Name: 17597, dtype: object
17598 0 4 ORtg Last Month    0
Name: 17598, dtype: object
17599 1455 12 ORtg Last Month    121.25
Name: 17599, dtype: object
17600 1314 12 ORtg Last Month    109.5
Name: 17600, dtype: object
17601 1186 12 ORtg Last Month    98.8333
Name: 17601, dtype: object
17602 0 1 ORtg Last Month    0
Name: 17602, dtype: object
17603 222 9 ORtg Last Month    24.6667
Name: 17603, dtype: object
17604 1000 8 ORtg Last Month    125
Name: 17604, dtype: object
17605 1586 12 ORtg Last Month    132.167
Name: 17605, dtype: object
17606 493 12 ORtg Last Month    41.0833
Name: 17606, dtype: object
17607 1679 15 ORtg Last Month    111.933
Name: 17607, dtype: object

17608 1377 15 ORtg Last Month    91.8
Name: 17608, dtype: object
17609 1456 15 ORtg Last Month    97.0667
Name: 17609, dtype: object
17610 669 6 ORtg Last Month    111.5
Name: 17610, dtype: object
17611 1726 15 ORtg Last Month    115.067
Name: 17611, dtype: object
17612 1206 15 ORtg Last Month    80.4
Name: 17612, dtype: object
17613 1004 15 ORtg Last Month    66.9333
Name: 17613, dtype: object
17614 685 15 ORtg Last Month    45.6667
Name: 17614, dtype: object
17615 1791 15 ORtg Last Month    119.4
Name: 17615, dtype: object
17616 1785 15 ORtg Last Month    119
Name: 17616, dtype: object
17617 278 15 ORtg Last Month    18.5333
Name: 17617, dtype: object
17618 1150 13 ORtg Last Month    88.4615
Name: 17618, dtype: object
17619 1729 16 ORtg Last Month    108.062
Name: 17619, dtype: object
17620 977 8 ORtg Last Month    122.125
Name: 17620, dtype: object
17621 1454 16 ORtg Last Month    90.875
Name: 17621, dtype: object
17622 826 15 ORtg Last Month    55.0667
Name: 17622, dtype: object
17623 1057 14 ORtg Last Month    75.5
Name: 17623, dtype: object
17624 203 2 ORtg Last Month    101.5
Name: 17624, dtype: object
17625 0 3 ORtg Last Month    0
Name: 17625, dtype: object
17626 1618 16 ORtg Last Month    101.125
Name: 17626, dtype: object
17627 1484 15 ORtg Last Month    98.9333
Name: 17627, dtype: object
17628 1733 16 ORtg Last Month    108.312
Name: 17628, dtype: object
17629 1251 13 ORtg Last Month    96.2308
Name: 17629, dtype: object
17630 843 14 ORtg Last Month    60.2143
Name: 17630, dtype: object
17631 827 10 ORtg Last Month    82.7
Name: 17631, dtype: object
17632 1114 12 ORtg Last Month    92.8333
Name: 17632, dtype: object
17633 1047 12 ORtg Last Month    87.25
Name: 17633, dtype: object
17634 786 12 ORtg Last Month    65.5
Name: 17634, dtype: object
17635 731 10 ORtg Last Month    73.1
Name: 17635, dtype: object
17636 1268 12 ORtg Last Month    105.667
Name: 17636, dtype: object
17637 202 10 ORtg Last Month    20.2
Name: 17637, dtype: object
17638 1254 12 ORtg Last Month    104.5
Name: 17638, dtype: object
17639 835 5 ORtg Last Month    167
Name: 17639, dtype: object
17640 650 9 ORtg Last Month    72.2222
Name: 17640, dtype: object
17641 0 0 ORtg Last Month    0
Name: 17641, dtype: object
17642 1526 13 ORtg Last Month    117.385
Name: 17642, dtype: object
17643 1225 13 ORtg Last Month    94.2308
Name: 17643, dtype: object
17644 1240 12 ORtg Last Month    103.333
Name: 17644, dtype: object
17645 1424 13 ORtg Last Month    109.538
Name: 17645, dtype: object
17646 1386 13 ORtg Last Month    106.615
Name: 17646, dtype: object
17647 896 12 ORtg Last Month    74.6667
Name: 17647, dtype: object
17648 368 8 ORtg Last Month    46
Name: 17648, dtype: object
17649 249 2 ORtg Last Month    124.5
Name: 17649, dtype: object
17650 541 6 ORtg Last Month    90.1667
Name: 17650, dtype: object
17651 1509 13 ORtg Last Month    116.077
Name: 17651, dtype: object
17652 1531 13 ORtg Last Month    117.769
Name: 17652, dtype: object
17653 1425 14 ORtg Last Month    101.786
Name: 17653, dtype: object
17654 1341 14 ORtg Last Month    95.7857
Name: 17654, dtype: object
17655 1240 14 ORtg Last Month    88.5714
Name: 17655, dtype: object
17656 1637 14 ORtg Last Month    116.929
Name: 17656, dtype: object
17657 900 14 ORtg Last Month    64.2857
Name: 17657, dtype: object
17658 0 1 ORtg Last Month    0
Name: 17658, dtype: object
17659 1452 14 ORtg Last Month    103.714
Name: 17659, dtype: object
17660 1014 13 ORtg Last Month    78
Name: 17660, dtype: object
17661 1444 13 ORtg Last Month    111.077
Name: 17661, dtype: object
17662 0 2 ORtg Last Month    0
Name: 17662, dtype: object
17663 1057 10 ORtg Last Month    105.7
Name: 17663, dtype: object
17664 1267 14 ORtg Last Month    90.5
Name: 17664, dtype: object
17665 714 14 ORtg Last Month    51
Name: 17665, dtype: object
17666 1434 14 ORtg Last Month    102.429
Name: 17666, dtype: object
17667 1606 14 ORtg Last Month    114.714
Name: 17667, dtype: object
17668 1313 14 ORtg Last Month    93.7857
Name: 17668, dtype: object
17669 1260 13 ORtg Last Month    96.9231
Name: 17669, dtype: object
17670 0 0 ORtg Last Month    0
Name: 17670, dtype: object
17671 1415 14 ORtg Last Month    101.071
Name: 17671, dtype: object
17672 1142 13 ORtg Last Month    87.8462
Name: 17672, dtype: object
17673 495 5 ORtg Last Month    99
Name: 17673, dtype: object
17674 509 6 ORtg Last Month    84.8333
Name: 17674, dtype: object
17675 1477 11 ORtg Last Month    134.273
Name: 17675, dtype: object
17676 979 14 ORtg Last Month    69.9286
Name: 17676, dtype: object
17677 1541 15 ORtg Last Month    102.733
Name: 17677, dtype: object
17678 755 13 ORtg Last Month    58.0769
Name: 17678, dtype: object
17679 1450 15 ORtg Last Month    96.6667
Name: 17679, dtype: object
17680 1579 15 ORtg Last Month    105.267
Name: 17680, dtype: object
17681 1337 15 ORtg Last Month    89.1333
Name: 17681, dtype: object
17682 128 1 ORtg Last Month    128
Name: 17682, dtype: object
17683 1529 15 ORtg Last Month    101.933
Name: 17683, dtype: object
17684 1124 15 ORtg Last Month    74.9333
Name: 17684, dtype: object
17685 1090 12 ORtg Last Month    90.8333
Name: 17685, dtype: object
17686 1669 14 ORtg Last Month    119.214
Name: 17686, dtype: object
17687 842 11 ORtg Last Month    76.5455
Name: 17687, dtype: object
17688 933 13 ORtg Last Month    71.7692
Name: 17688, dtype: object
17689 1675 14 ORtg Last Month    119.643
Name: 17689, dtype: object
17690 114 1 ORtg Last Month    114
Name: 17690, dtype: object
17691 1474 14 ORtg Last Month    105.286
Name: 17691, dtype: object
17692 533 11 ORtg Last Month    48.4545
Name: 17692, dtype: object
17693 1520 14 ORtg Last Month    108.571
Name: 17693, dtype: object
17694 660 6 ORtg Last Month    110
Name: 17694, dtype: object
17695 1530 12 ORtg Last Month    127.5
Name: 17695, dtype: object
17696 1450 14 ORtg Last Month    103.571
Name: 17696, dtype: object
17697 663 13 ORtg Last Month    51
Name: 17697, dtype: object
17698 1498 14 ORtg Last Month    107
Name: 17698, dtype: object
17699 798 14 ORtg Last Month    57
Name: 17699, dtype: object
17700 257 14 ORtg Last Month    18.3571
Name: 17700, dtype: object
17701 247 2 ORtg Last Month    123.5
Name: 17701, dtype: object
17702 1135 14 ORtg Last Month    81.0714
Name: 17702, dtype: object
17703 126 2 ORtg Last Month    63
Name: 17703, dtype: object
17704 1448 14 ORtg Last Month    103.429
Name: 17704, dtype: object
17705 1487 14 ORtg Last Month    106.214
Name: 17705, dtype: object
17706 1343 14 ORtg Last Month    95.9286
Name: 17706, dtype: object
17707 1380 14 ORtg Last Month    98.5714
Name: 17707, dtype: object
17708 1276 12 ORtg Last Month    106.333
Name: 17708, dtype: object
17709 1448 14 ORtg Last Month    103.429
Name: 17709, dtype: object
17710 1756 14 ORtg Last Month    125.429
Name: 17710, dtype: object
17711 1428 14 ORtg Last Month    102
Name: 17711, dtype: object
17712 687 14 ORtg Last Month    49.0714
Name: 17712, dtype: object
17713 1469 13 ORtg Last Month    113
Name: 17713, dtype: object
17714 1355 13 ORtg Last Month    104.231
Name: 17714, dtype: object
17715 1468 12 ORtg Last Month    122.333
Name: 17715, dtype: object
17716 1446 13 ORtg Last Month    111.231
Name: 17716, dtype: object
17717 351 12 ORtg Last Month    29.25
Name: 17717, dtype: object
17718 1488 13 ORtg Last Month    114.462
Name: 17718, dtype: object
17719 1480 13 ORtg Last Month    113.846
Name: 17719, dtype: object
17720 1605 13 ORtg Last Month    123.462
Name: 17720, dtype: object
17721 978 12 ORtg Last Month    81.5
Name: 17721, dtype: object
17722 1117 11 ORtg Last Month    101.545
Name: 17722, dtype: object
17723 957 11 ORtg Last Month    87
Name: 17723, dtype: object
17724 553 10 ORtg Last Month    55.3
Name: 17724, dtype: object
17725 1571 13 ORtg Last Month    120.846
Name: 17725, dtype: object
17726 921 13 ORtg Last Month    70.8462
Name: 17726, dtype: object
17727 1274 12 ORtg Last Month    106.167
Name: 17727, dtype: object
17728 832 11 ORtg Last Month    75.6364
Name: 17728, dtype: object
17729 328 4 ORtg Last Month    82
Name: 17729, dtype: object
17730 1411 13 ORtg Last Month    108.538
Name: 17730, dtype: object
17731 320 12 ORtg Last Month    26.6667
Name: 17731, dtype: object

17732 0 10 ORtg Last Month    0
Name: 17732, dtype: object
17733 1333 13 ORtg Last Month    102.538
Name: 17733, dtype: object
17734 425 8 ORtg Last Month    53.125
Name: 17734, dtype: object
17735 1526 15 ORtg Last Month    101.733
Name: 17735, dtype: object
17736 1491 15 ORtg Last Month    99.4
Name: 17736, dtype: object
17737 165 13 ORtg Last Month    12.6923
Name: 17737, dtype: object
17738 1766 15 ORtg Last Month    117.733
Name: 17738, dtype: object
17739 1838 15 ORtg Last Month    122.533
Name: 17739, dtype: object
17740 956 14 ORtg Last Month    68.2857
Name: 17740, dtype: object
17741 1410 15 ORtg Last Month    94
Name: 17741, dtype: object
17742 0 2 ORtg Last Month    0
Name: 17742, dtype: object
17743 1607 12 ORtg Last Month    133.917
Name: 17743, dtype: object
17744 1960 15 ORtg Last Month    130.667
Name: 17744, dtype: object
17745 1751 15 ORtg Last Month    116.733
Name: 17745, dtype: object
17746 648 15 ORtg Last Month    43.2
Name: 17746, dtype: object
17747 1309 13 ORtg Last Month    100.692
Name: 17747, dtype: object
17748 1547 15 ORtg Last Month    103.133
Name: 17748, dtype: object
17749 1572 16 ORtg Last Month    98.25
Name: 17749, dtype: object
17750 1674 16 ORtg Last Month    104.625
Name: 17750, dtype: object
17751 1563 16 ORtg Last Month    97.6875
Name: 17751, dtype: object
17752 752 14 ORtg Last Month    53.7143
Name: 17752, dtype: object
17753 1770 16 ORtg Last Month    110.625
Name: 17753, dtype: object
17754 1101 12 ORtg Last Month    91.75
Name: 17754, dtype: object
17755 678 15 ORtg Last Month    45.2
Name: 17755, dtype: object
17756 1090 15 ORtg Last Month    72.6667
Name: 17756, dtype: object
17757 1605 14 ORtg Last Month    114.643
Name: 17757, dtype: object
17758 1668 14 ORtg Last Month    119.143
Name: 17758, dtype: object
17759 1697 14 ORtg Last Month    121.214
Name: 17759, dtype: object
17760 1067 9 ORtg Last Month    118.556
Name: 17760, dtype: object
17761 1287 11 ORtg Last Month    117
Name: 17761, dtype: object
17762 1524 12 ORtg Last Month    127
Name: 17762, dtype: object
17763 470 6 ORtg Last Month    78.3333
Name: 17763, dtype: object
17764 1160 14 ORtg Last Month    82.8571
Name: 17764, dtype: object
17765 1305 11 ORtg Last Month    118.636
Name: 17765, dtype: object
17766 1502 14 ORtg Last Month    107.286
Name: 17766, dtype: object
17767 647 13 ORtg Last Month    49.7692
Name: 17767, dtype: object
17768 1233 12 ORtg Last Month    102.75
Name: 17768, dtype: object
17769 777 11 ORtg Last Month    70.6364
Name: 17769, dtype: object
17770 1309 15 ORtg Last Month    87.2667
Name: 17770, dtype: object
17771 991 15 ORtg Last Month    66.0667
Name: 17771, dtype: object
17772 0 1 ORtg Last Month    0
Name: 17772, dtype: object
17773 1714 15 ORtg Last Month    114.267
Name: 17773, dtype: object
17774 1390 15 ORtg Last Month    92.6667
Name: 17774, dtype: object
17775 1532 15 ORtg Last Month    102.133
Name: 17775, dtype: object
17776 131 1 ORtg Last Month    131
Name: 17776, dtype: object
17777 1500 10 ORtg Last Month    150
Name: 17777, dtype: object
17778 612 15 ORtg Last Month    40.8
Name: 17778, dtype: object
17779 0 14 ORtg Last Month    0
Name: 17779, dtype: object
17780 1861 14 ORtg Last Month    132.929
Name: 17780, dtype: object
17781 1637 14 ORtg Last Month    116.929
Name: 17781, dtype: object
17782 1571 14 ORtg Last Month    112.214
Name: 17782, dtype: object
17783 235 5 ORtg Last Month    47
Name: 17783, dtype: object
17784 1647 12 ORtg Last Month    137.25
Name: 17784, dtype: object
17785 917 8 ORtg Last Month    114.625
Name: 17785, dtype: object
17786 1677 13 ORtg Last Month    129
Name: 17786, dtype: object
17787 881 14 ORtg Last Month    62.9286
Name: 17787, dtype: object
17788 595 14 ORtg Last Month    42.5
Name: 17788, dtype: object
17789 1718 14 ORtg Last Month    122.714
Name: 17789, dtype: object
17790 1896 14 ORtg Last Month    135.429
Name: 17790, dtype: object
17791 1031 14 ORtg Last Month    73.6429
Name: 17791, dtype: object
17792 0 4 ORtg Last Month    0
Name: 17792, dtype: object
17793 1316 12 ORtg Last Month    109.667
Name: 17793, dtype: object
17794 0 1 ORtg Last Month    0
Name: 17794, dtype: object
17795 108 7 ORtg Last Month    15.4286
Name: 17795, dtype: object
17796 1409 12 ORtg Last Month    117.417
Name: 17796, dtype: object
17797 1177 12 ORtg Last Month    98.0833
Name: 17797, dtype: object
17798 1235 12 ORtg Last Month    102.917
Name: 17798, dtype: object
17799 1216 12 ORtg Last Month    101.333
Name: 17799, dtype: object
17800 1272 12 ORtg Last Month    106
Name: 17800, dtype: object
17801 1009 11 ORtg Last Month    91.7273
Name: 17801, dtype: object
17802 1654 12 ORtg Last Month    137.833
Name: 17802, dtype: object
17803 1187 11 ORtg Last Month    107.909
Name: 17803, dtype: object
17804 1510 14 ORtg Last Month    107.857
Name: 17804, dtype: object
17805 1422 13 ORtg Last Month    109.385
Name: 17805, dtype: object
17806 1078 13 ORtg Last Month    82.9231
Name: 17806, dtype: object
17807 0 0 ORtg Last Month    0
Name: 17807, dtype: object
17808 432 14 ORtg Last Month    30.8571
Name: 17808, dtype: object
17809 854 13 ORtg Last Month    65.6923
Name: 17809, dtype: object
17810 1288 14 ORtg Last Month    92
Name: 17810, dtype: object
17811 1929 14 ORtg Last Month    137.786
Name: 17811, dtype: object
17812 1320 11 ORtg Last Month    120
Name: 17812, dtype: object
17813 1431 14 ORtg Last Month    102.214
Name: 17813, dtype: object
17814 977 11 ORtg Last Month    88.8182
Name: 17814, dtype: object
17815 1565 15 ORtg Last Month    104.333
Name: 17815, dtype: object
17816 1694 14 ORtg Last Month    121
Name: 17816, dtype: object
17817 1295 15 ORtg Last Month    86.3333
Name: 17817, dtype: object
17818 1606 15 ORtg Last Month    107.067
Name: 17818, dtype: object
17819 1538 15 ORtg Last Month    102.533
Name: 17819, dtype: object
17820 1316 14 ORtg Last Month    94
Name: 17820, dtype: object
17821 1505 14 ORtg Last Month    107.5
Name: 17821, dtype: object
17822 1077 15 ORtg Last Month    71.8
Name: 17822, dtype: object
17823 1757 14 ORtg Last Month    125.5
Name: 17823, dtype: object
17824 1252 15 ORtg Last Month    83.4667
Name: 17824, dtype: object
17825 905 15 ORtg Last Month    60.3333
Name: 17825, dtype: object
17826 783 7 ORtg Last Month    111.857
Name: 17826, dtype: object
17827 1338 14 ORtg Last Month    95.5714
Name: 17827, dtype: object
17828 1588 14 ORtg Last Month    113.429
Name: 17828, dtype: object
17829 1253 14 ORtg Last Month    89.5
Name: 17829, dtype: object
17830 0 2 ORtg Last Month    0
Name: 17830, dtype: object
17831 1021 14 ORtg Last Month    72.9286
Name: 17831, dtype: object
17832 1511 14 ORtg Last Month    107.929
Name: 17832, dtype: object
17833 1464 14 ORtg Last Month    104.571
Name: 17833, dtype: object
17834 1151 13 ORtg Last Month    88.5385
Name: 17834, dtype: object
17835 0 3 ORtg Last Month    0
Name: 17835, dtype: object
17836 1200 11 ORtg Last Month    109.091
Name: 17836, dtype: object
17837 1304 14 ORtg Last Month    93.1429
Name: 17837, dtype: object
17838 714 14 ORtg Last Month    51
Name: 17838, dtype: object
17839 1411 14 ORtg Last Month    100.786
Name: 17839, dtype: object
17840 1222 14 ORtg Last Month    87.2857
Name: 17840, dtype: object
17841 1398 14 ORtg Last Month    99.8571
Name: 17841, dtype: object
17842 0 0 ORtg Last Month    0
Name: 17842, dtype: object
17843 1651 14 ORtg Last Month    117.929
Name: 17843, dtype: object
17844 1608 14 ORtg Last Month    114.857
Name: 17844, dtype: object
17845 1315 11 ORtg Last Month    119.545
Name: 17845, dtype: object
17846 467 11 ORtg Last Month    42.4545
Name: 17846, dtype: object
17847 1635 14 ORtg Last Month    116.786
Name: 17847, dtype: object
17848 1585 14 ORtg Last Month    113.214
Name: 17848, dtype: object
17849 1912 14 ORtg Last Month    136.571
Name: 17849, dtype: object
17850 402 13 ORtg Last Month    30.9231
Name: 17850, dtype: object
17851 1526 14 ORtg Last Month    109
Name: 17851, dtype: object
17852 1420 14 ORtg Last Month    101.429
Name: 17852, dtype: object
17853 1074 14 ORtg Last Month    76.7143
Name: 17853, dtype: object
17854 1497 14 ORtg Last Month    106.929
Name: 17854, dtype: object
17855 1577 14 ORtg Last Month    112.643
Name: 17855, dtype: object

17856 513 11 ORtg Last Month    46.6364
Name: 17856, dtype: object
17857 1699 14 ORtg Last Month    121.357
Name: 17857, dtype: object
17858 1842 14 ORtg Last Month    131.571
Name: 17858, dtype: object
17859 785 11 ORtg Last Month    71.3636
Name: 17859, dtype: object
17860 1326 14 ORtg Last Month    94.7143
Name: 17860, dtype: object
17861 524 12 ORtg Last Month    43.6667
Name: 17861, dtype: object
17862 1795 15 ORtg Last Month    119.667
Name: 17862, dtype: object
17863 1843 15 ORtg Last Month    122.867
Name: 17863, dtype: object
17864 1128 11 ORtg Last Month    102.545
Name: 17864, dtype: object
17865 699 12 ORtg Last Month    58.25
Name: 17865, dtype: object
17866 878 8 ORtg Last Month    109.75
Name: 17866, dtype: object
17867 1406 13 ORtg Last Month    108.154
Name: 17867, dtype: object
17868 1063 15 ORtg Last Month    70.8667
Name: 17868, dtype: object
17869 1718 15 ORtg Last Month    114.533
Name: 17869, dtype: object
17870 457 14 ORtg Last Month    32.6429
Name: 17870, dtype: object
17871 1775 15 ORtg Last Month    118.333
Name: 17871, dtype: object
17872 1773 15 ORtg Last Month    118.2
Name: 17872, dtype: object
17873 2049 15 ORtg Last Month    136.6
Name: 17873, dtype: object
17874 36 5 ORtg Last Month    7.2
Name: 17874, dtype: object
17875 1255 13 ORtg Last Month    96.5385
Name: 17875, dtype: object
17876 1441 13 ORtg Last Month    110.846
Name: 17876, dtype: object
17877 1638 13 ORtg Last Month    126
Name: 17877, dtype: object
17878 1563 13 ORtg Last Month    120.231
Name: 17878, dtype: object
17879 1411 13 ORtg Last Month    108.538
Name: 17879, dtype: object
17880 1278 13 ORtg Last Month    98.3077
Name: 17880, dtype: object
17881 159 2 ORtg Last Month    79.5
Name: 17881, dtype: object
17882 1672 13 ORtg Last Month    128.615
Name: 17882, dtype: object
17883 1114 9 ORtg Last Month    123.778
Name: 17883, dtype: object
17884 559 13 ORtg Last Month    43
Name: 17884, dtype: object
17885 1735 16 ORtg Last Month    108.438
Name: 17885, dtype: object
17886 942 8 ORtg Last Month    117.75
Name: 17886, dtype: object
17887 1465 16 ORtg Last Month    91.5625
Name: 17887, dtype: object
17888 826 15 ORtg Last Month    55.0667
Name: 17888, dtype: object
17889 293 3 ORtg Last Month    97.6667
Name: 17889, dtype: object
17890 1060 14 ORtg Last Month    75.7143
Name: 17890, dtype: object
17891 0 4 ORtg Last Month    0
Name: 17891, dtype: object
17892 1528 16 ORtg Last Month    95.5
Name: 17892, dtype: object
17893 1480 15 ORtg Last Month    98.6667
Name: 17893, dtype: object
17894 843 15 ORtg Last Month    56.2
Name: 17894, dtype: object
17895 1302 13 ORtg Last Month    100.154
Name: 17895, dtype: object
17896 1676 16 ORtg Last Month    104.75
Name: 17896, dtype: object
17897 1444 13 ORtg Last Month    111.077
Name: 17897, dtype: object
17898 1179 12 ORtg Last Month    98.25
Name: 17898, dtype: object
17899 329 13 ORtg Last Month    25.3077
Name: 17899, dtype: object
17900 1362 13 ORtg Last Month    104.769
Name: 17900, dtype: object
17901 911 12 ORtg Last Month    75.9167
Name: 17901, dtype: object
17902 0 13 ORtg Last Month    0
Name: 17902, dtype: object
17903 755 13 ORtg Last Month    58.0769
Name: 17903, dtype: object
17904 1583 13 ORtg Last Month    121.769
Name: 17904, dtype: object
17905 1313 12 ORtg Last Month    109.417
Name: 17905, dtype: object
17906 898 13 ORtg Last Month    69.0769
Name: 17906, dtype: object
17907 1333 13 ORtg Last Month    102.538
Name: 17907, dtype: object
17908 654 14 ORtg Last Month    46.7143
Name: 17908, dtype: object
17909 1391 14 ORtg Last Month    99.3571
Name: 17909, dtype: object
17910 1365 14 ORtg Last Month    97.5
Name: 17910, dtype: object
17911 1113 14 ORtg Last Month    79.5
Name: 17911, dtype: object
17912 1306 14 ORtg Last Month    93.2857
Name: 17912, dtype: object
17913 989 14 ORtg Last Month    70.6429
Name: 17913, dtype: object
17914 113 10 ORtg Last Month    11.3
Name: 17914, dtype: object
17915 1794 14 ORtg Last Month    128.143
Name: 17915, dtype: object
17916 1753 14 ORtg Last Month    125.214
Name: 17916, dtype: object
17917 1831 14 ORtg Last Month    130.786
Name: 17917, dtype: object
17918 0 0 ORtg Last Month    0
Name: 17918, dtype: object
17919 1673 14 ORtg Last Month    119.5
Name: 17919, dtype: object
17920 1057 14 ORtg Last Month    75.5
Name: 17920, dtype: object
17921 1363 13 ORtg Last Month    104.846
Name: 17921, dtype: object
17922 969 12 ORtg Last Month    80.75
Name: 17922, dtype: object
17923 444 5 ORtg Last Month    88.8
Name: 17923, dtype: object
17924 1536 14 ORtg Last Month    109.714
Name: 17924, dtype: object
17925 455 13 ORtg Last Month    35
Name: 17925, dtype: object
17926 95 11 ORtg Last Month    8.63636
Name: 17926, dtype: object
17927 1466 14 ORtg Last Month    104.714
Name: 17927, dtype: object
17928 514 9 ORtg Last Month    57.1111
Name: 17928, dtype: object
17929 722 10 ORtg Last Month    72.2
Name: 17929, dtype: object
17930 1165 12 ORtg Last Month    97.0833
Name: 17930, dtype: object
17931 120 1 ORtg Last Month    120
Name: 17931, dtype: object
17932 1064 12 ORtg Last Month    88.6667
Name: 17932, dtype: object
17933 851 12 ORtg Last Month    70.9167
Name: 17933, dtype: object
17934 1236 12 ORtg Last Month    103
Name: 17934, dtype: object
17935 720 10 ORtg Last Month    72
Name: 17935, dtype: object
17936 202 10 ORtg Last Month    20.2
Name: 17936, dtype: object
17937 985 6 ORtg Last Month    164.167
Name: 17937, dtype: object
17938 1174 12 ORtg Last Month    97.8333
Name: 17938, dtype: object
17939 600 9 ORtg Last Month    66.6667
Name: 17939, dtype: object
17940 1525 13 ORtg Last Month    117.308
Name: 17940, dtype: object
17941 1608 14 ORtg Last Month    114.857
Name: 17941, dtype: object
17942 31 5 ORtg Last Month    6.2
Name: 17942, dtype: object
17943 1645 14 ORtg Last Month    117.5
Name: 17943, dtype: object
17944 1589 14 ORtg Last Month    113.5
Name: 17944, dtype: object
17945 879 10 ORtg Last Month    87.9
Name: 17945, dtype: object
17946 1836 14 ORtg Last Month    131.143
Name: 17946, dtype: object
17947 1751 14 ORtg Last Month    125.071
Name: 17947, dtype: object
17948 1675 14 ORtg Last Month    119.643
Name: 17948, dtype: object
17949 63 4 ORtg Last Month    15.75
Name: 17949, dtype: object
17950 1689 14 ORtg Last Month    120.643
Name: 17950, dtype: object
17951 1351 14 ORtg Last Month    96.5
Name: 17951, dtype: object
17952 1633 14 ORtg Last Month    116.643
Name: 17952, dtype: object
17953 1380 14 ORtg Last Month    98.5714
Name: 17953, dtype: object
17954 1724 14 ORtg Last Month    123.143
Name: 17954, dtype: object
17955 1379 14 ORtg Last Month    98.5
Name: 17955, dtype: object
17956 760 10 ORtg Last Month    76
Name: 17956, dtype: object
17957 1269 14 ORtg Last Month    90.6429
Name: 17957, dtype: object
17958 996 10 ORtg Last Month    99.6
Name: 17958, dtype: object
17959 1310 14 ORtg Last Month    93.5714
Name: 17959, dtype: object
17960 1709 14 ORtg Last Month    122.071
Name: 17960, dtype: object
17961 496 14 ORtg Last Month    35.4286
Name: 17961, dtype: object
17962 200 5 ORtg Last Month    40
Name: 17962, dtype: object
17963 1629 14 ORtg Last Month    116.357
Name: 17963, dtype: object
17964 924 8 ORtg Last Month    115.5
Name: 17964, dtype: object
17965 392 8 ORtg Last Month    49
Name: 17965, dtype: object
17966 1378 14 ORtg Last Month    98.4286
Name: 17966, dtype: object
17967 1380 14 ORtg Last Month    98.5714
Name: 17967, dtype: object
17968 1667 14 ORtg Last Month    119.071
Name: 17968, dtype: object
17969 1626 14 ORtg Last Month    116.143
Name: 17969, dtype: object
17970 956 14 ORtg Last Month    68.2857
Name: 17970, dtype: object
17971 127 11 ORtg Last Month    11.5455
Name: 17971, dtype: object
17972 1878 14 ORtg Last Month    134.143
Name: 17972, dtype: object
17973 1532 14 ORtg Last Month    109.429
Name: 17973, dtype: object
17974 774 14 ORtg Last Month    55.2857
Name: 17974, dtype: object
17975 1446 13 ORtg Last Month    111.231
Name: 17975, dtype: object
17976 1177 13 ORtg Last Month    90.5385
Name: 17976, dtype: object
17977 296 8 ORtg Last Month    37
Name: 17977, dtype: object
17978 1491 13 ORtg Last Month    114.692
Name: 17978, dtype: object
17979 145 2 ORtg Last Month    72.5
Name: 17979, dtype: object

17980 1404 13 ORtg Last Month    108
Name: 17980, dtype: object
17981 1135 12 ORtg Last Month    94.5833
Name: 17981, dtype: object
17982 1346 13 ORtg Last Month    103.538
Name: 17982, dtype: object
17983 1307 13 ORtg Last Month    100.538
Name: 17983, dtype: object
17984 1744 13 ORtg Last Month    134.154
Name: 17984, dtype: object
17985 1239 12 ORtg Last Month    103.25
Name: 17985, dtype: object
17986 1651 14 ORtg Last Month    117.929
Name: 17986, dtype: object
17987 1341 14 ORtg Last Month    95.7857
Name: 17987, dtype: object
17988 1535 14 ORtg Last Month    109.643
Name: 17988, dtype: object
17989 1365 13 ORtg Last Month    105
Name: 17989, dtype: object
17990 1457 14 ORtg Last Month    104.071
Name: 17990, dtype: object
17991 962 13 ORtg Last Month    74
Name: 17991, dtype: object
17992 368 9 ORtg Last Month    40.8889
Name: 17992, dtype: object
17993 249 3 ORtg Last Month    83
Name: 17993, dtype: object
17994 1611 14 ORtg Last Month    115.071
Name: 17994, dtype: object
17995 1660 14 ORtg Last Month    118.571
Name: 17995, dtype: object
17996 649 7 ORtg Last Month    92.7143
Name: 17996, dtype: object
17997 133 2 ORtg Last Month    66.5
Name: 17997, dtype: object
17998 1188 14 ORtg Last Month    84.8571
Name: 17998, dtype: object
17999 1528 14 ORtg Last Month    109.143
Name: 17999, dtype: object
18000 200 4 ORtg Last Month    50
Name: 18000, dtype: object
18001 1458 14 ORtg Last Month    104.143
Name: 18001, dtype: object
18002 1554 14 ORtg Last Month    111
Name: 18002, dtype: object
18003 642 11 ORtg Last Month    58.3636
Name: 18003, dtype: object
18004 1930 14 ORtg Last Month    137.857
Name: 18004, dtype: object
18005 1392 14 ORtg Last Month    99.4286
Name: 18005, dtype: object
18006 324 12 ORtg Last Month    27
Name: 18006, dtype: object
18007 953 12 ORtg Last Month    79.4167
Name: 18007, dtype: object
18008 1612 15 ORtg Last Month    107.467
Name: 18008, dtype: object
18009 1418 15 ORtg Last Month    94.5333
Name: 18009, dtype: object
18010 1584 15 ORtg Last Month    105.6
Name: 18010, dtype: object
18011 1220 15 ORtg Last Month    81.3333
Name: 18011, dtype: object
18012 816 14 ORtg Last Month    58.2857
Name: 18012, dtype: object
18013 1555 14 ORtg Last Month    111.071
Name: 18013, dtype: object
18014 1143 15 ORtg Last Month    76.2
Name: 18014, dtype: object
18015 1511 15 ORtg Last Month    100.733
Name: 18015, dtype: object
18016 1117 12 ORtg Last Month    93.0833
Name: 18016, dtype: object
18017 1634 14 ORtg Last Month    116.714
Name: 18017, dtype: object
18018 807 11 ORtg Last Month    73.3636
Name: 18018, dtype: object
18019 933 14 ORtg Last Month    66.6429
Name: 18019, dtype: object
18020 1621 12 ORtg Last Month    135.083
Name: 18020, dtype: object
18021 1422 11 ORtg Last Month    129.273
Name: 18021, dtype: object
18022 1223 12 ORtg Last Month    101.917
Name: 18022, dtype: object
18023 1435 12 ORtg Last Month    119.583
Name: 18023, dtype: object
18024 1309 12 ORtg Last Month    109.083
Name: 18024, dtype: object
18025 1606 12 ORtg Last Month    133.833
Name: 18025, dtype: object
18026 211 4 ORtg Last Month    52.75
Name: 18026, dtype: object
18027 1386 9 ORtg Last Month    154
Name: 18027, dtype: object
18028 1439 11 ORtg Last Month    130.818
Name: 18028, dtype: object
18029 578 5 ORtg Last Month    115.6
Name: 18029, dtype: object
18030 1793 12 ORtg Last Month    149.417
Name: 18030, dtype: object
18031 851 12 ORtg Last Month    70.9167
Name: 18031, dtype: object
18032 1521 13 ORtg Last Month    117
Name: 18032, dtype: object
18033 1336 13 ORtg Last Month    102.769
Name: 18033, dtype: object
18034 137 6 ORtg Last Month    22.8333
Name: 18034, dtype: object
18035 1376 13 ORtg Last Month    105.846
Name: 18035, dtype: object
18036 1579 13 ORtg Last Month    121.462
Name: 18036, dtype: object
18037 1406 13 ORtg Last Month    108.154
Name: 18037, dtype: object
18038 1330 13 ORtg Last Month    102.308
Name: 18038, dtype: object
18039 198 2 ORtg Last Month    99
Name: 18039, dtype: object
18040 1041 9 ORtg Last Month    115.667
Name: 18040, dtype: object
18041 1654 13 ORtg Last Month    127.231
Name: 18041, dtype: object
18042 559 13 ORtg Last Month    43
Name: 18042, dtype: object
18043 1665 15 ORtg Last Month    111
Name: 18043, dtype: object
18044 1450 15 ORtg Last Month    96.6667
Name: 18044, dtype: object
18045 1384 15 ORtg Last Month    92.2667
Name: 18045, dtype: object
18046 801 7 ORtg Last Month    114.429
Name: 18046, dtype: object
18047 1772 15 ORtg Last Month    118.133
Name: 18047, dtype: object
18048 1268 15 ORtg Last Month    84.5333
Name: 18048, dtype: object
18049 562 15 ORtg Last Month    37.4667
Name: 18049, dtype: object
18050 968 15 ORtg Last Month    64.5333
Name: 18050, dtype: object
18051 1789 15 ORtg Last Month    119.267
Name: 18051, dtype: object
18052 177 15 ORtg Last Month    11.8
Name: 18052, dtype: object
18053 1805 15 ORtg Last Month    120.333
Name: 18053, dtype: object
18054 1150 14 ORtg Last Month    82.1429
Name: 18054, dtype: object
18055 322 3 ORtg Last Month    107.333
Name: 18055, dtype: object
18056 1147 14 ORtg Last Month    81.9286
Name: 18056, dtype: object
18057 0 0 ORtg Last Month    0
Name: 18057, dtype: object
18058 1271 14 ORtg Last Month    90.7857
Name: 18058, dtype: object
18059 1460 14 ORtg Last Month    104.286
Name: 18059, dtype: object
18060 945 10 ORtg Last Month    94.5
Name: 18060, dtype: object
18061 1502 14 ORtg Last Month    107.286
Name: 18061, dtype: object
18062 1301 14 ORtg Last Month    92.9286
Name: 18062, dtype: object
18063 1350 13 ORtg Last Month    103.846
Name: 18063, dtype: object
18064 1464 14 ORtg Last Month    104.571
Name: 18064, dtype: object
18065 1323 14 ORtg Last Month    94.5
Name: 18065, dtype: object
18066 1860 14 ORtg Last Month    132.857
Name: 18066, dtype: object
18067 687 14 ORtg Last Month    49.0714
Name: 18067, dtype: object
18068 1612 14 ORtg Last Month    115.143
Name: 18068, dtype: object
18069 1669 13 ORtg Last Month    128.385
Name: 18069, dtype: object
18070 1455 14 ORtg Last Month    103.929
Name: 18070, dtype: object
18071 1595 13 ORtg Last Month    122.692
Name: 18071, dtype: object
18072 1532 14 ORtg Last Month    109.429
Name: 18072, dtype: object
18073 1634 14 ORtg Last Month    116.714
Name: 18073, dtype: object
18074 1480 14 ORtg Last Month    105.714
Name: 18074, dtype: object
18075 547 13 ORtg Last Month    42.0769
Name: 18075, dtype: object
18076 1124 13 ORtg Last Month    86.4615
Name: 18076, dtype: object
18077 1724 14 ORtg Last Month    123.143
Name: 18077, dtype: object
18078 1150 12 ORtg Last Month    95.8333
Name: 18078, dtype: object
18079 957 12 ORtg Last Month    79.75
Name: 18079, dtype: object
18080 553 11 ORtg Last Month    50.2727
Name: 18080, dtype: object
18081 1701 15 ORtg Last Month    113.4
Name: 18081, dtype: object
18082 1232 13 ORtg Last Month    94.7692
Name: 18082, dtype: object
18083 626 15 ORtg Last Month    41.7333
Name: 18083, dtype: object
18084 1630 15 ORtg Last Month    108.667
Name: 18084, dtype: object
18085 1524 15 ORtg Last Month    101.6
Name: 18085, dtype: object
18086 1467 15 ORtg Last Month    97.8
Name: 18086, dtype: object
18087 1435 14 ORtg Last Month    102.5
Name: 18087, dtype: object
18088 0 6 ORtg Last Month    0
Name: 18088, dtype: object
18089 1678 15 ORtg Last Month    111.867
Name: 18089, dtype: object
18090 1095 11 ORtg Last Month    99.5455
Name: 18090, dtype: object
18091 917 15 ORtg Last Month    61.1333
Name: 18091, dtype: object
18092 1612 14 ORtg Last Month    115.143
Name: 18092, dtype: object
18093 1779 14 ORtg Last Month    127.071
Name: 18093, dtype: object
18094 1620 14 ORtg Last Month    115.714
Name: 18094, dtype: object
18095 1183 9 ORtg Last Month    131.444
Name: 18095, dtype: object
18096 1267 13 ORtg Last Month    97.4615
Name: 18096, dtype: object
18097 1547 12 ORtg Last Month    128.917
Name: 18097, dtype: object
18098 1282 11 ORtg Last Month    116.545
Name: 18098, dtype: object
18099 522 7 ORtg Last Month    74.5714
Name: 18099, dtype: object
18100 1381 14 ORtg Last Month    98.6429
Name: 18100, dtype: object
18101 1414 12 ORtg Last Month    117.833
Name: 18101, dtype: object
18102 1534 14 ORtg Last Month    109.571
Name: 18102, dtype: object

18103 1795 14 ORtg Last Month    128.214
Name: 18103, dtype: object
18104 1657 14 ORtg Last Month    118.357
Name: 18104, dtype: object
18105 1579 14 ORtg Last Month    112.786
Name: 18105, dtype: object
18106 235 6 ORtg Last Month    39.1667
Name: 18106, dtype: object
18107 896 11 ORtg Last Month    81.4545
Name: 18107, dtype: object
18108 1026 9 ORtg Last Month    114
Name: 18108, dtype: object
18109 1658 13 ORtg Last Month    127.538
Name: 18109, dtype: object
18110 1639 12 ORtg Last Month    136.583
Name: 18110, dtype: object
18111 595 14 ORtg Last Month    42.5
Name: 18111, dtype: object
18112 1081 14 ORtg Last Month    77.2143
Name: 18112, dtype: object
18113 1746 14 ORtg Last Month    124.714
Name: 18113, dtype: object
18114 1095 14 ORtg Last Month    78.2143
Name: 18114, dtype: object
18115 1994 14 ORtg Last Month    142.429
Name: 18115, dtype: object
18116 1468 14 ORtg Last Month    104.857
Name: 18116, dtype: object
18117 1254 13 ORtg Last Month    96.4615
Name: 18117, dtype: object
18118 1433 14 ORtg Last Month    102.357
Name: 18118, dtype: object
18119 1170 9 ORtg Last Month    130
Name: 18119, dtype: object
18120 1625 14 ORtg Last Month    116.071
Name: 18120, dtype: object
18121 1585 13 ORtg Last Month    121.923
Name: 18121, dtype: object
18122 387 11 ORtg Last Month    35.1818
Name: 18122, dtype: object
18123 898 9 ORtg Last Month    99.7778
Name: 18123, dtype: object
18124 1056 12 ORtg Last Month    88
Name: 18124, dtype: object
18125 1652 14 ORtg Last Month    118
Name: 18125, dtype: object
18126 1455 14 ORtg Last Month    103.929
Name: 18126, dtype: object
18127 1300 14 ORtg Last Month    92.8571
Name: 18127, dtype: object
18128 824 9 ORtg Last Month    91.5556
Name: 18128, dtype: object
18129 1539 14 ORtg Last Month    109.929
Name: 18129, dtype: object
18130 1459 13 ORtg Last Month    112.231
Name: 18130, dtype: object
18131 632 11 ORtg Last Month    57.4545
Name: 18131, dtype: object
18132 1070 13 ORtg Last Month    82.3077
Name: 18132, dtype: object
18133 123 1 ORtg Last Month    123
Name: 18133, dtype: object
18134 1262 14 ORtg Last Month    90.1429
Name: 18134, dtype: object
18135 777 13 ORtg Last Month    59.7692
Name: 18135, dtype: object
18136 1393 12 ORtg Last Month    116.083
Name: 18136, dtype: object
18137 1852 14 ORtg Last Month    132.286
Name: 18137, dtype: object
18138 1021 12 ORtg Last Month    85.0833
Name: 18138, dtype: object
18139 1421 14 ORtg Last Month    101.5
Name: 18139, dtype: object
18140 1069 9 ORtg Last Month    118.778
Name: 18140, dtype: object
18141 1579 15 ORtg Last Month    105.267
Name: 18141, dtype: object
18142 1693 14 ORtg Last Month    120.929
Name: 18142, dtype: object
18143 1469 15 ORtg Last Month    97.9333
Name: 18143, dtype: object
18144 1514 14 ORtg Last Month    108.143
Name: 18144, dtype: object
18145 1596 15 ORtg Last Month    106.4
Name: 18145, dtype: object
18146 1372 14 ORtg Last Month    98
Name: 18146, dtype: object
18147 1564 15 ORtg Last Month    104.267
Name: 18147, dtype: object
18148 1238 15 ORtg Last Month    82.5333
Name: 18148, dtype: object
18149 1795 14 ORtg Last Month    128.214
Name: 18149, dtype: object
18150 911 8 ORtg Last Month    113.875
Name: 18150, dtype: object
18151 978 15 ORtg Last Month    65.2
Name: 18151, dtype: object
18152 1362 15 ORtg Last Month    90.8
Name: 18152, dtype: object
18153 1384 14 ORtg Last Month    98.8571
Name: 18153, dtype: object
18154 1205 14 ORtg Last Month    86.0714
Name: 18154, dtype: object
18155 1124 12 ORtg Last Month    93.6667
Name: 18155, dtype: object
18156 1351 14 ORtg Last Month    96.5
Name: 18156, dtype: object
18157 1621 14 ORtg Last Month    115.786
Name: 18157, dtype: object
18158 1761 14 ORtg Last Month    125.786
Name: 18158, dtype: object
18159 1661 14 ORtg Last Month    118.643
Name: 18159, dtype: object
18160 1173 11 ORtg Last Month    106.636
Name: 18160, dtype: object
18161 1527 14 ORtg Last Month    109.071
Name: 18161, dtype: object
18162 1872 14 ORtg Last Month    133.714
Name: 18162, dtype: object
18163 339 13 ORtg Last Month    26.0769
Name: 18163, dtype: object
18164 1819 15 ORtg Last Month    121.267
Name: 18164, dtype: object
18165 1865 15 ORtg Last Month    124.333
Name: 18165, dtype: object
18166 699 12 ORtg Last Month    58.25
Name: 18166, dtype: object
18167 1610 15 ORtg Last Month    107.333
Name: 18167, dtype: object
18168 956 9 ORtg Last Month    106.222
Name: 18168, dtype: object
18169 1341 13 ORtg Last Month    103.154
Name: 18169, dtype: object
18170 977 15 ORtg Last Month    65.1333
Name: 18170, dtype: object
18171 457 14 ORtg Last Month    32.6429
Name: 18171, dtype: object
18172 1775 15 ORtg Last Month    118.333
Name: 18172, dtype: object
18173 1782 15 ORtg Last Month    118.8
Name: 18173, dtype: object
18174 1986 15 ORtg Last Month    132.4
Name: 18174, dtype: object
18175 1654 14 ORtg Last Month    118.143
Name: 18175, dtype: object
18176 233 2 ORtg Last Month    116.5
Name: 18176, dtype: object
18177 1488 14 ORtg Last Month    106.286
Name: 18177, dtype: object
18178 469 11 ORtg Last Month    42.6364
Name: 18178, dtype: object
18179 768 7 ORtg Last Month    109.714
Name: 18179, dtype: object
18180 1526 14 ORtg Last Month    109
Name: 18180, dtype: object
18181 1448 14 ORtg Last Month    103.429
Name: 18181, dtype: object
18182 1713 13 ORtg Last Month    131.769
Name: 18182, dtype: object
18183 778 14 ORtg Last Month    55.5714
Name: 18183, dtype: object
18184 90 3 ORtg Last Month    30
Name: 18184, dtype: object
18185 798 14 ORtg Last Month    57
Name: 18185, dtype: object
18186 257 14 ORtg Last Month    18.3571
Name: 18186, dtype: object
18187 1625 14 ORtg Last Month    116.071
Name: 18187, dtype: object
18188 1364 16 ORtg Last Month    85.25
Name: 18188, dtype: object
18189 818 15 ORtg Last Month    54.5333
Name: 18189, dtype: object
18190 935 8 ORtg Last Month    116.875
Name: 18190, dtype: object
18191 1075 15 ORtg Last Month    71.6667
Name: 18191, dtype: object
18192 401 4 ORtg Last Month    100.25
Name: 18192, dtype: object
18193 1351 16 ORtg Last Month    84.4375
Name: 18193, dtype: object
18194 0 5 ORtg Last Month    0
Name: 18194, dtype: object
18195 308 8 ORtg Last Month    38.5
Name: 18195, dtype: object
18196 1044 13 ORtg Last Month    80.3077
Name: 18196, dtype: object
18197 1346 13 ORtg Last Month    103.538
Name: 18197, dtype: object
18198 1006 16 ORtg Last Month    62.875
Name: 18198, dtype: object
18199 1480 15 ORtg Last Month    98.6667
Name: 18199, dtype: object
18200 1697 16 ORtg Last Month    106.062
Name: 18200, dtype: object
18201 1240 12 ORtg Last Month    103.333
Name: 18201, dtype: object
18202 1530 14 ORtg Last Month    109.286
Name: 18202, dtype: object
18203 1299 13 ORtg Last Month    99.9231
Name: 18203, dtype: object
18204 1451 14 ORtg Last Month    103.643
Name: 18204, dtype: object
18205 1003 13 ORtg Last Month    77.1538
Name: 18205, dtype: object
18206 428 14 ORtg Last Month    30.5714
Name: 18206, dtype: object
18207 755 14 ORtg Last Month    53.9286
Name: 18207, dtype: object
18208 0 14 ORtg Last Month    0
Name: 18208, dtype: object
18209 1440 13 ORtg Last Month    110.769
Name: 18209, dtype: object
18210 1004 14 ORtg Last Month    71.7143
Name: 18210, dtype: object
18211 1682 14 ORtg Last Month    120.143
Name: 18211, dtype: object
18212 1400 14 ORtg Last Month    100
Name: 18212, dtype: object
18213 298 2 ORtg Last Month    149
Name: 18213, dtype: object
18214 1182 12 ORtg Last Month    98.5
Name: 18214, dtype: object
18215 1038 12 ORtg Last Month    86.5
Name: 18215, dtype: object
18216 1222 12 ORtg Last Month    101.833
Name: 18216, dtype: object
18217 973 12 ORtg Last Month    81.0833
Name: 18217, dtype: object
18218 797 10 ORtg Last Month    79.7
Name: 18218, dtype: object
18219 1154 12 ORtg Last Month    96.1667
Name: 18219, dtype: object
18220 1076 7 ORtg Last Month    153.714
Name: 18220, dtype: object
18221 533 9 ORtg Last Month    59.2222
Name: 18221, dtype: object
18222 684 7 ORtg Last Month    97.7143
Name: 18222, dtype: object
18223 0 0 ORtg Last Month    0
Name: 18223, dtype: object
18224 1489 14 ORtg Last Month    106.357
Name: 18224, dtype: object
18225 1512 14 ORtg Last Month    108
Name: 18225, dtype: object
18226 0 12 ORtg Last Month    0
Name: 18226, dtype: object

18227 1688 14 ORtg Last Month    120.571
Name: 18227, dtype: object
18228 1692 14 ORtg Last Month    120.857
Name: 18228, dtype: object
18229 1276 14 ORtg Last Month    91.1429
Name: 18229, dtype: object
18230 926 13 ORtg Last Month    71.2308
Name: 18230, dtype: object
18231 1581 13 ORtg Last Month    121.615
Name: 18231, dtype: object
18232 140 3 ORtg Last Month    46.6667
Name: 18232, dtype: object
18233 1683 13 ORtg Last Month    129.462
Name: 18233, dtype: object
18234 1437 11 ORtg Last Month    130.636
Name: 18234, dtype: object
18235 1700 14 ORtg Last Month    121.429
Name: 18235, dtype: object
18236 919 8 ORtg Last Month    114.875
Name: 18236, dtype: object
18237 1691 14 ORtg Last Month    120.786
Name: 18237, dtype: object
18238 476 9 ORtg Last Month    52.8889
Name: 18238, dtype: object
18239 1423 14 ORtg Last Month    101.643
Name: 18239, dtype: object
18240 1301 14 ORtg Last Month    92.9286
Name: 18240, dtype: object
18241 1634 14 ORtg Last Month    116.714
Name: 18241, dtype: object
18242 1019 14 ORtg Last Month    72.7857
Name: 18242, dtype: object
18243 1530 14 ORtg Last Month    109.286
Name: 18243, dtype: object
18244 235 12 ORtg Last Month    19.5833
Name: 18244, dtype: object
18245 1831 14 ORtg Last Month    130.786
Name: 18245, dtype: object
18246 1500 14 ORtg Last Month    107.143
Name: 18246, dtype: object
18247 774 14 ORtg Last Month    55.2857
Name: 18247, dtype: object
18248 1590 14 ORtg Last Month    113.571
Name: 18248, dtype: object
18249 1488 13 ORtg Last Month    114.462
Name: 18249, dtype: object
18250 755 11 ORtg Last Month    68.6364
Name: 18250, dtype: object
18251 1134 13 ORtg Last Month    87.2308
Name: 18251, dtype: object
18252 196 2 ORtg Last Month    98
Name: 18252, dtype: object
18253 1189 14 ORtg Last Month    84.9286
Name: 18253, dtype: object
18254 592 13 ORtg Last Month    45.5385
Name: 18254, dtype: object
18255 1819 14 ORtg Last Month    129.929
Name: 18255, dtype: object
18256 1448 12 ORtg Last Month    120.667
Name: 18256, dtype: object
18257 1337 14 ORtg Last Month    95.5
Name: 18257, dtype: object
18258 1091 13 ORtg Last Month    83.9231
Name: 18258, dtype: object
18259 1610 14 ORtg Last Month    115
Name: 18259, dtype: object
18260 1341 14 ORtg Last Month    95.7857
Name: 18260, dtype: object
18261 1500 14 ORtg Last Month    107.143
Name: 18261, dtype: object
18262 1414 14 ORtg Last Month    101
Name: 18262, dtype: object
18263 368 9 ORtg Last Month    40.8889
Name: 18263, dtype: object
18264 1366 13 ORtg Last Month    105.077
Name: 18264, dtype: object
18265 1043 14 ORtg Last Month    74.5
Name: 18265, dtype: object
18266 249 4 ORtg Last Month    62.25
Name: 18266, dtype: object
18267 1638 14 ORtg Last Month    117
Name: 18267, dtype: object
18268 1602 14 ORtg Last Month    114.429
Name: 18268, dtype: object
18269 747 8 ORtg Last Month    93.375
Name: 18269, dtype: object
18270 133 3 ORtg Last Month    44.3333
Name: 18270, dtype: object
18271 1350 13 ORtg Last Month    103.846
Name: 18271, dtype: object
18272 1331 14 ORtg Last Month    95.0714
Name: 18272, dtype: object
18273 1296 14 ORtg Last Month    92.5714
Name: 18273, dtype: object
18274 1596 14 ORtg Last Month    114
Name: 18274, dtype: object
18275 250 3 ORtg Last Month    83.3333
Name: 18275, dtype: object
18276 943 14 ORtg Last Month    67.3571
Name: 18276, dtype: object
18277 1439 14 ORtg Last Month    102.786
Name: 18277, dtype: object
18278 1507 13 ORtg Last Month    115.923
Name: 18278, dtype: object
18279 0 4 ORtg Last Month    0
Name: 18279, dtype: object
18280 1315 12 ORtg Last Month    109.583
Name: 18280, dtype: object
18281 1344 14 ORtg Last Month    96
Name: 18281, dtype: object
18282 589 14 ORtg Last Month    42.0714
Name: 18282, dtype: object
18283 1393 14 ORtg Last Month    99.5
Name: 18283, dtype: object
18284 1325 14 ORtg Last Month    94.6429
Name: 18284, dtype: object
18285 1187 12 ORtg Last Month    98.9167
Name: 18285, dtype: object
18286 1287 14 ORtg Last Month    91.9286
Name: 18286, dtype: object
18287 1254 12 ORtg Last Month    104.5
Name: 18287, dtype: object
18288 1781 14 ORtg Last Month    127.214
Name: 18288, dtype: object
18289 1661 14 ORtg Last Month    118.643
Name: 18289, dtype: object
18290 1684 14 ORtg Last Month    120.286
Name: 18290, dtype: object
18291 1669 14 ORtg Last Month    119.214
Name: 18291, dtype: object
18292 1802 14 ORtg Last Month    128.714
Name: 18292, dtype: object
18293 246 13 ORtg Last Month    18.9231
Name: 18293, dtype: object
18294 1623 14 ORtg Last Month    115.929
Name: 18294, dtype: object
18295 1446 14 ORtg Last Month    103.286
Name: 18295, dtype: object
18296 1315 14 ORtg Last Month    93.9286
Name: 18296, dtype: object
18297 1294 13 ORtg Last Month    99.5385
Name: 18297, dtype: object
18298 0 1 ORtg Last Month    0
Name: 18298, dtype: object
18299 0 0 ORtg Last Month    0
Name: 18299, dtype: object
18300 1418 14 ORtg Last Month    101.286
Name: 18300, dtype: object
18301 1126 13 ORtg Last Month    86.6154
Name: 18301, dtype: object
18302 542 6 ORtg Last Month    90.3333
Name: 18302, dtype: object
18303 1070 9 ORtg Last Month    118.889
Name: 18303, dtype: object
18304 553 6 ORtg Last Month    92.1667
Name: 18304, dtype: object
18305 1585 12 ORtg Last Month    132.083
Name: 18305, dtype: object
18306 979 14 ORtg Last Month    69.9286
Name: 18306, dtype: object
18307 1406 13 ORtg Last Month    108.154
Name: 18307, dtype: object
18308 1521 14 ORtg Last Month    108.643
Name: 18308, dtype: object
18309 1159 14 ORtg Last Month    82.7857
Name: 18309, dtype: object
18310 200 5 ORtg Last Month    40
Name: 18310, dtype: object
18311 1442 14 ORtg Last Month    103
Name: 18311, dtype: object
18312 1549 14 ORtg Last Month    110.643
Name: 18312, dtype: object
18313 786 12 ORtg Last Month    65.5
Name: 18313, dtype: object
18314 1409 14 ORtg Last Month    100.643
Name: 18314, dtype: object
18315 1865 14 ORtg Last Month    133.214
Name: 18315, dtype: object
18316 899 12 ORtg Last Month    74.9167
Name: 18316, dtype: object
18317 363 12 ORtg Last Month    30.25
Name: 18317, dtype: object
18318 2026 16 ORtg Last Month    126.625
Name: 18318, dtype: object
18319 1978 16 ORtg Last Month    123.625
Name: 18319, dtype: object
18320 699 13 ORtg Last Month    53.7692
Name: 18320, dtype: object
18321 1421 14 ORtg Last Month    101.5
Name: 18321, dtype: object
18322 1075 10 ORtg Last Month    107.5
Name: 18322, dtype: object
18323 1796 16 ORtg Last Month    112.25
Name: 18323, dtype: object
18324 977 16 ORtg Last Month    61.0625
Name: 18324, dtype: object
18325 457 15 ORtg Last Month    30.4667
Name: 18325, dtype: object
18326 1951 16 ORtg Last Month    121.938
Name: 18326, dtype: object
18327 2127 16 ORtg Last Month    132.938
Name: 18327, dtype: object
18328 1943 16 ORtg Last Month    121.438
Name: 18328, dtype: object
18329 1508 13 ORtg Last Month    116
Name: 18329, dtype: object
18330 1499 14 ORtg Last Month    107.071
Name: 18330, dtype: object
18331 1076 11 ORtg Last Month    97.8182
Name: 18331, dtype: object
18332 1387 13 ORtg Last Month    106.692
Name: 18332, dtype: object
18333 969 10 ORtg Last Month    96.9
Name: 18333, dtype: object
18334 1357 14 ORtg Last Month    96.9286
Name: 18334, dtype: object
18335 1080 14 ORtg Last Month    77.1429
Name: 18335, dtype: object
18336 1415 14 ORtg Last Month    101.071
Name: 18336, dtype: object
18337 1415 14 ORtg Last Month    101.071
Name: 18337, dtype: object
18338 1451 12 ORtg Last Month    120.917
Name: 18338, dtype: object
18339 1734 13 ORtg Last Month    133.385
Name: 18339, dtype: object
18340 1223 13 ORtg Last Month    94.0769
Name: 18340, dtype: object
18341 1500 12 ORtg Last Month    125
Name: 18341, dtype: object
18342 1542 13 ORtg Last Month    118.615
Name: 18342, dtype: object
18343 1657 13 ORtg Last Month    127.462
Name: 18343, dtype: object
18344 1495 13 ORtg Last Month    115
Name: 18344, dtype: object
18345 211 5 ORtg Last Month    42.2
Name: 18345, dtype: object
18346 1386 10 ORtg Last Month    138.6
Name: 18346, dtype: object
18347 654 6 ORtg Last Month    109
Name: 18347, dtype: object
18348 1538 12 ORtg Last Month    128.167
Name: 18348, dtype: object
18349 1937 13 ORtg Last Month    149
Name: 18349, dtype: object

18350 851 13 ORtg Last Month    65.4615
Name: 18350, dtype: object
18351 1774 15 ORtg Last Month    118.267
Name: 18351, dtype: object
18352 1604 15 ORtg Last Month    106.933
Name: 18352, dtype: object
18353 469 12 ORtg Last Month    39.0833
Name: 18353, dtype: object
18354 1553 15 ORtg Last Month    103.533
Name: 18354, dtype: object
18355 1881 14 ORtg Last Month    134.357
Name: 18355, dtype: object
18356 1645 15 ORtg Last Month    109.667
Name: 18356, dtype: object
18357 928 8 ORtg Last Month    116
Name: 18357, dtype: object
18358 931 14 ORtg Last Month    66.5
Name: 18358, dtype: object
18359 1625 15 ORtg Last Month    108.333
Name: 18359, dtype: object
18360 221 4 ORtg Last Month    55.25
Name: 18360, dtype: object
18361 257 15 ORtg Last Month    17.1333
Name: 18361, dtype: object
18362 798 15 ORtg Last Month    53.2
Name: 18362, dtype: object
18363 1639 14 ORtg Last Month    117.071
Name: 18363, dtype: object
18364 1409 14 ORtg Last Month    100.643
Name: 18364, dtype: object
18365 1376 14 ORtg Last Month    98.2857
Name: 18365, dtype: object
18366 1514 14 ORtg Last Month    108.143
Name: 18366, dtype: object
18367 1702 14 ORtg Last Month    121.571
Name: 18367, dtype: object
18368 1101 11 ORtg Last Month    100.091
Name: 18368, dtype: object
18369 225 7 ORtg Last Month    32.1429
Name: 18369, dtype: object
18370 198 3 ORtg Last Month    66
Name: 18370, dtype: object
18371 1177 10 ORtg Last Month    117.7
Name: 18371, dtype: object
18372 1691 14 ORtg Last Month    120.786
Name: 18372, dtype: object
18373 559 14 ORtg Last Month    39.9286
Name: 18373, dtype: object
18374 1366 15 ORtg Last Month    91.0667
Name: 18374, dtype: object
18375 1763 15 ORtg Last Month    117.533
Name: 18375, dtype: object
18376 333 15 ORtg Last Month    22.2
Name: 18376, dtype: object
18377 1306 15 ORtg Last Month    87.0667
Name: 18377, dtype: object
18378 1674 15 ORtg Last Month    111.6
Name: 18378, dtype: object
18379 1772 15 ORtg Last Month    118.133
Name: 18379, dtype: object
18380 1441 15 ORtg Last Month    96.0667
Name: 18380, dtype: object
18381 890 8 ORtg Last Month    111.25
Name: 18381, dtype: object
18382 1771 15 ORtg Last Month    118.067
Name: 18382, dtype: object
18383 1150 15 ORtg Last Month    76.6667
Name: 18383, dtype: object
18384 428 4 ORtg Last Month    107
Name: 18384, dtype: object
18385 151 4 ORtg Last Month    37.75
Name: 18385, dtype: object
18386 1057 14 ORtg Last Month    75.5
Name: 18386, dtype: object
18387 1509 14 ORtg Last Month    107.786
Name: 18387, dtype: object
18388 1359 14 ORtg Last Month    97.0714
Name: 18388, dtype: object
18389 1458 14 ORtg Last Month    104.143
Name: 18389, dtype: object
18390 976 10 ORtg Last Month    97.6
Name: 18390, dtype: object
18391 1284 14 ORtg Last Month    91.7143
Name: 18391, dtype: object
18392 1495 14 ORtg Last Month    106.786
Name: 18392, dtype: object
18393 1797 14 ORtg Last Month    128.357
Name: 18393, dtype: object
18394 687 14 ORtg Last Month    49.0714
Name: 18394, dtype: object
18395 1518 14 ORtg Last Month    108.429
Name: 18395, dtype: object
18396 1246 14 ORtg Last Month    89
Name: 18396, dtype: object
18397 1322 13 ORtg Last Month    101.692
Name: 18397, dtype: object
18398 1523 14 ORtg Last Month    108.786
Name: 18398, dtype: object
18399 1267 13 ORtg Last Month    97.4615
Name: 18399, dtype: object
18400 1411 14 ORtg Last Month    100.786
Name: 18400, dtype: object
18401 958 13 ORtg Last Month    73.6923
Name: 18401, dtype: object
18402 728 14 ORtg Last Month    52
Name: 18402, dtype: object
18403 0 14 ORtg Last Month    0
Name: 18403, dtype: object
18404 675 14 ORtg Last Month    48.2143
Name: 18404, dtype: object
18405 1413 13 ORtg Last Month    108.692
Name: 18405, dtype: object
18406 871 14 ORtg Last Month    62.2143
Name: 18406, dtype: object
18407 1737 14 ORtg Last Month    124.071
Name: 18407, dtype: object
18408 1340 14 ORtg Last Month    95.7143
Name: 18408, dtype: object
18409 1596 13 ORtg Last Month    122.769
Name: 18409, dtype: object
18410 1431 14 ORtg Last Month    102.214
Name: 18410, dtype: object
18411 1587 14 ORtg Last Month    113.357
Name: 18411, dtype: object
18412 1619 13 ORtg Last Month    124.538
Name: 18412, dtype: object
18413 1555 14 ORtg Last Month    111.071
Name: 18413, dtype: object
18414 547 13 ORtg Last Month    42.0769
Name: 18414, dtype: object
18415 1640 14 ORtg Last Month    117.143
Name: 18415, dtype: object
18416 1340 14 ORtg Last Month    95.7143
Name: 18416, dtype: object
18417 1658 14 ORtg Last Month    118.429
Name: 18417, dtype: object
18418 1179 13 ORtg Last Month    90.6923
Name: 18418, dtype: object
18419 1182 13 ORtg Last Month    90.9231
Name: 18419, dtype: object
18420 0 1 ORtg Last Month    0
Name: 18420, dtype: object
18421 864 12 ORtg Last Month    72
Name: 18421, dtype: object
18422 752 13 ORtg Last Month    57.8462
Name: 18422, dtype: object
18423 683 8 ORtg Last Month    85.375
Name: 18423, dtype: object
18424 80 1 ORtg Last Month    80
Name: 18424, dtype: object
18425 1231 13 ORtg Last Month    94.6923
Name: 18425, dtype: object
18426 1080 13 ORtg Last Month    83.0769
Name: 18426, dtype: object
18427 1372 13 ORtg Last Month    105.538
Name: 18427, dtype: object
18428 1215 13 ORtg Last Month    93.4615
Name: 18428, dtype: object
18429 1122 13 ORtg Last Month    86.3077
Name: 18429, dtype: object
18430 113 10 ORtg Last Month    11.3
Name: 18430, dtype: object
18431 1649 13 ORtg Last Month    126.846
Name: 18431, dtype: object
18432 1540 13 ORtg Last Month    118.462
Name: 18432, dtype: object
18433 1643 13 ORtg Last Month    126.385
Name: 18433, dtype: object
18434 1441 13 ORtg Last Month    110.846
Name: 18434, dtype: object
18435 989 13 ORtg Last Month    76.0769
Name: 18435, dtype: object
18436 1560 13 ORtg Last Month    120
Name: 18436, dtype: object
18437 810 12 ORtg Last Month    67.5
Name: 18437, dtype: object
18438 1057 11 ORtg Last Month    96.0909
Name: 18438, dtype: object
18439 565 6 ORtg Last Month    94.1667
Name: 18439, dtype: object
18440 1401 13 ORtg Last Month    107.769
Name: 18440, dtype: object
18441 439 12 ORtg Last Month    36.5833
Name: 18441, dtype: object
18442 95 11 ORtg Last Month    8.63636
Name: 18442, dtype: object
18443 519 8 ORtg Last Month    64.875
Name: 18443, dtype: object
18444 1414 13 ORtg Last Month    108.769
Name: 18444, dtype: object
18445 1730 15 ORtg Last Month    115.333
Name: 18445, dtype: object
18446 1093 13 ORtg Last Month    84.0769
Name: 18446, dtype: object
18447 476 15 ORtg Last Month    31.7333
Name: 18447, dtype: object
18448 1520 15 ORtg Last Month    101.333
Name: 18448, dtype: object
18449 1405 14 ORtg Last Month    100.357
Name: 18449, dtype: object
18450 1417 15 ORtg Last Month    94.4667
Name: 18450, dtype: object
18451 1657 15 ORtg Last Month    110.467
Name: 18451, dtype: object
18452 0 7 ORtg Last Month    0
Name: 18452, dtype: object
18453 1664 15 ORtg Last Month    110.933
Name: 18453, dtype: object
18454 917 15 ORtg Last Month    61.1333
Name: 18454, dtype: object
18455 1075 11 ORtg Last Month    97.7273
Name: 18455, dtype: object
18456 1522 13 ORtg Last Month    117.077
Name: 18456, dtype: object
18457 1498 13 ORtg Last Month    115.231
Name: 18457, dtype: object
18458 434 6 ORtg Last Month    72.3333
Name: 18458, dtype: object
18459 1741 13 ORtg Last Month    133.923
Name: 18459, dtype: object
18460 1151 9 ORtg Last Month    127.889
Name: 18460, dtype: object
18461 612 8 ORtg Last Month    76.5
Name: 18461, dtype: object
18462 1102 12 ORtg Last Month    91.8333
Name: 18462, dtype: object
18463 1231 13 ORtg Last Month    94.6923
Name: 18463, dtype: object
18464 1263 11 ORtg Last Month    114.818
Name: 18464, dtype: object
18465 1509 13 ORtg Last Month    116.077
Name: 18465, dtype: object
18466 598 11 ORtg Last Month    54.3636
Name: 18466, dtype: object
18467 1142 11 ORtg Last Month    103.818
Name: 18467, dtype: object
18468 1187 14 ORtg Last Month    84.7857
Name: 18468, dtype: object
18469 901 10 ORtg Last Month    90.1
Name: 18469, dtype: object
18470 0 2 ORtg Last Month    0
Name: 18470, dtype: object
18471 884 14 ORtg Last Month    63.1429
Name: 18471, dtype: object
18472 1353 14 ORtg Last Month    96.6429
Name: 18472, dtype: object

18473 1722 14 ORtg Last Month    123
Name: 18473, dtype: object
18474 1425 14 ORtg Last Month    101.786
Name: 18474, dtype: object
18475 865 8 ORtg Last Month    108.125
Name: 18475, dtype: object
18476 1429 10 ORtg Last Month    142.9
Name: 18476, dtype: object
18477 512 14 ORtg Last Month    36.5714
Name: 18477, dtype: object
18478 0 14 ORtg Last Month    0
Name: 18478, dtype: object
18479 210 2 ORtg Last Month    105
Name: 18479, dtype: object
18480 1378 14 ORtg Last Month    98.4286
Name: 18480, dtype: object
18481 1561 14 ORtg Last Month    111.5
Name: 18481, dtype: object
18482 1745 14 ORtg Last Month    124.643
Name: 18482, dtype: object
18483 787 10 ORtg Last Month    78.7
Name: 18483, dtype: object
18484 1411 14 ORtg Last Month    100.786
Name: 18484, dtype: object
18485 1406 14 ORtg Last Month    100.429
Name: 18485, dtype: object
18486 1337 14 ORtg Last Month    95.5
Name: 18486, dtype: object
18487 1768 14 ORtg Last Month    126.286
Name: 18487, dtype: object
18488 1109 11 ORtg Last Month    100.818
Name: 18488, dtype: object
18489 1381 14 ORtg Last Month    98.6429
Name: 18489, dtype: object
18490 621 14 ORtg Last Month    44.3571
Name: 18490, dtype: object
18491 420 5 ORtg Last Month    84
Name: 18491, dtype: object
18492 1657 15 ORtg Last Month    110.467
Name: 18492, dtype: object
18493 1766 15 ORtg Last Month    117.733
Name: 18493, dtype: object
18494 1951 15 ORtg Last Month    130.067
Name: 18494, dtype: object
18495 1129 10 ORtg Last Month    112.9
Name: 18495, dtype: object
18496 999 12 ORtg Last Month    83.25
Name: 18496, dtype: object
18497 1778 14 ORtg Last Month    127
Name: 18497, dtype: object
18498 1708 13 ORtg Last Month    131.385
Name: 18498, dtype: object
18499 825 15 ORtg Last Month    55
Name: 18499, dtype: object
18500 1081 15 ORtg Last Month    72.0667
Name: 18500, dtype: object
18501 1863 15 ORtg Last Month    124.2
Name: 18501, dtype: object
18502 1195 15 ORtg Last Month    79.6667
Name: 18502, dtype: object
18503 2087 15 ORtg Last Month    139.133
Name: 18503, dtype: object
18504 0 5 ORtg Last Month    0
Name: 18504, dtype: object
18505 1776 15 ORtg Last Month    118.4
Name: 18505, dtype: object
18506 1067 9 ORtg Last Month    118.556
Name: 18506, dtype: object
18507 476 10 ORtg Last Month    47.6
Name: 18507, dtype: object
18508 1398 15 ORtg Last Month    93.2
Name: 18508, dtype: object
18509 1562 15 ORtg Last Month    104.133
Name: 18509, dtype: object
18510 1559 15 ORtg Last Month    103.933
Name: 18510, dtype: object
18511 1195 15 ORtg Last Month    79.6667
Name: 18511, dtype: object
18512 1756 15 ORtg Last Month    117.067
Name: 18512, dtype: object
18513 235 13 ORtg Last Month    18.0769
Name: 18513, dtype: object
18514 1981 15 ORtg Last Month    132.067
Name: 18514, dtype: object
18515 1667 15 ORtg Last Month    111.133
Name: 18515, dtype: object
18516 774 15 ORtg Last Month    51.6
Name: 18516, dtype: object
18517 1479 13 ORtg Last Month    113.769
Name: 18517, dtype: object
18518 1526 13 ORtg Last Month    117.385
Name: 18518, dtype: object
18519 398 9 ORtg Last Month    44.2222
Name: 18519, dtype: object
18520 1197 13 ORtg Last Month    92.0769
Name: 18520, dtype: object
18521 0 0 ORtg Last Month    0
Name: 18521, dtype: object
18522 1301 13 ORtg Last Month    100.077
Name: 18522, dtype: object
18523 1387 13 ORtg Last Month    106.692
Name: 18523, dtype: object
18524 1347 13 ORtg Last Month    103.615
Name: 18524, dtype: object
18525 1160 12 ORtg Last Month    96.6667
Name: 18525, dtype: object
18526 1722 13 ORtg Last Month    132.462
Name: 18526, dtype: object
18527 1317 12 ORtg Last Month    109.75
Name: 18527, dtype: object
18528 1173 10 ORtg Last Month    117.3
Name: 18528, dtype: object
18529 1697 14 ORtg Last Month    121.214
Name: 18529, dtype: object
18530 1551 15 ORtg Last Month    103.4
Name: 18530, dtype: object
18531 1469 15 ORtg Last Month    97.9333
Name: 18531, dtype: object
18532 1616 15 ORtg Last Month    107.733
Name: 18532, dtype: object
18533 1542 14 ORtg Last Month    110.143
Name: 18533, dtype: object
18534 1576 15 ORtg Last Month    105.067
Name: 18534, dtype: object
18535 1386 14 ORtg Last Month    99
Name: 18535, dtype: object
18536 1103 15 ORtg Last Month    73.5333
Name: 18536, dtype: object
18537 1777 14 ORtg Last Month    126.929
Name: 18537, dtype: object
18538 1173 15 ORtg Last Month    78.2
Name: 18538, dtype: object
18539 1085 15 ORtg Last Month    72.3333
Name: 18539, dtype: object
18540 1482 16 ORtg Last Month    92.625
Name: 18540, dtype: object
18541 1814 16 ORtg Last Month    113.375
Name: 18541, dtype: object
18542 890 9 ORtg Last Month    98.8889
Name: 18542, dtype: object
18543 864 15 ORtg Last Month    57.6
Name: 18543, dtype: object
18544 1834 16 ORtg Last Month    114.625
Name: 18544, dtype: object
18545 1483 16 ORtg Last Month    92.6875
Name: 18545, dtype: object
18546 1553 16 ORtg Last Month    97.0625
Name: 18546, dtype: object
18547 562 15 ORtg Last Month    37.4667
Name: 18547, dtype: object
18548 468 16 ORtg Last Month    29.25
Name: 18548, dtype: object
18549 1867 16 ORtg Last Month    116.688
Name: 18549, dtype: object
18550 1150 16 ORtg Last Month    71.875
Name: 18550, dtype: object
18551 1771 16 ORtg Last Month    110.688
Name: 18551, dtype: object
18552 1768 15 ORtg Last Month    117.867
Name: 18552, dtype: object
18553 1386 16 ORtg Last Month    86.625
Name: 18553, dtype: object
18554 905 16 ORtg Last Month    56.5625
Name: 18554, dtype: object
18555 1112 15 ORtg Last Month    74.1333
Name: 18555, dtype: object
18556 37 6 ORtg Last Month    6.16667
Name: 18556, dtype: object
18557 1378 16 ORtg Last Month    86.125
Name: 18557, dtype: object
18558 473 5 ORtg Last Month    94.6
Name: 18558, dtype: object
18559 308 9 ORtg Last Month    34.2222
Name: 18559, dtype: object
18560 1467 15 ORtg Last Month    97.8
Name: 18560, dtype: object
18561 1537 16 ORtg Last Month    96.0625
Name: 18561, dtype: object
18562 1295 13 ORtg Last Month    99.6154
Name: 18562, dtype: object
18563 1123 16 ORtg Last Month    70.1875
Name: 18563, dtype: object
18564 402 3 ORtg Last Month    134
Name: 18564, dtype: object
18565 1287 13 ORtg Last Month    99
Name: 18565, dtype: object
18566 1071 13 ORtg Last Month    82.3846
Name: 18566, dtype: object
18567 1137 13 ORtg Last Month    87.4615
Name: 18567, dtype: object
18568 1337 13 ORtg Last Month    102.846
Name: 18568, dtype: object
18569 797 11 ORtg Last Month    72.4545
Name: 18569, dtype: object
18570 1668 13 ORtg Last Month    128.308
Name: 18570, dtype: object
18571 771 8 ORtg Last Month    96.375
Name: 18571, dtype: object
18572 1249 13 ORtg Last Month    96.0769
Name: 18572, dtype: object
18573 0 1 ORtg Last Month    0
Name: 18573, dtype: object
18574 608 10 ORtg Last Month    60.8
Name: 18574, dtype: object
18575 1539 14 ORtg Last Month    109.929
Name: 18575, dtype: object
18576 1616 14 ORtg Last Month    115.429
Name: 18576, dtype: object
18577 0 12 ORtg Last Month    0
Name: 18577, dtype: object
18578 1728 14 ORtg Last Month    123.429
Name: 18578, dtype: object
18579 1665 14 ORtg Last Month    118.929
Name: 18579, dtype: object
18580 1547 13 ORtg Last Month    119
Name: 18580, dtype: object
18581 957 13 ORtg Last Month    73.6154
Name: 18581, dtype: object
18582 140 4 ORtg Last Month    35
Name: 18582, dtype: object
18583 1657 13 ORtg Last Month    127.462
Name: 18583, dtype: object
18584 1716 14 ORtg Last Month    122.571
Name: 18584, dtype: object
18585 1364 11 ORtg Last Month    124
Name: 18585, dtype: object
18586 1352 13 ORtg Last Month    104
Name: 18586, dtype: object
18587 1283 13 ORtg Last Month    98.6923
Name: 18587, dtype: object
18588 32 6 ORtg Last Month    5.33333
Name: 18588, dtype: object
18589 991 8 ORtg Last Month    123.875
Name: 18589, dtype: object
18590 540 11 ORtg Last Month    49.0909
Name: 18590, dtype: object
18591 1516 13 ORtg Last Month    116.615
Name: 18591, dtype: object
18592 1497 12 ORtg Last Month    124.75
Name: 18592, dtype: object
18593 769 8 ORtg Last Month    96.125
Name: 18593, dtype: object
18594 394 11 ORtg Last Month    35.8182
Name: 18594, dtype: object
18595 1333 13 ORtg Last Month    102.538
Name: 18595, dtype: object
18596 1528 13 ORtg Last Month    117.538
Name: 18596, dtype: object

18597 1058 13 ORtg Last Month    81.3846
Name: 18597, dtype: object
18598 710 8 ORtg Last Month    88.75
Name: 18598, dtype: object
18599 1588 14 ORtg Last Month    113.429
Name: 18599, dtype: object
18600 1439 13 ORtg Last Month    110.692
Name: 18600, dtype: object
18601 1176 13 ORtg Last Month    90.4615
Name: 18601, dtype: object
18602 1065 14 ORtg Last Month    76.0714
Name: 18602, dtype: object
18603 295 3 ORtg Last Month    98.3333
Name: 18603, dtype: object
18604 562 13 ORtg Last Month    43.2308
Name: 18604, dtype: object
18605 608 12 ORtg Last Month    50.6667
Name: 18605, dtype: object
18606 1164 14 ORtg Last Month    83.1429
Name: 18606, dtype: object
18607 1860 14 ORtg Last Month    132.857
Name: 18607, dtype: object
18608 1484 12 ORtg Last Month    123.667
Name: 18608, dtype: object
18609 1327 14 ORtg Last Month    94.7857
Name: 18609, dtype: object
18610 1331 14 ORtg Last Month    95.0714
Name: 18610, dtype: object
18611 1590 14 ORtg Last Month    113.571
Name: 18611, dtype: object
18612 1399 14 ORtg Last Month    99.9286
Name: 18612, dtype: object
18613 443 10 ORtg Last Month    44.3
Name: 18613, dtype: object
18614 249 5 ORtg Last Month    49.8
Name: 18614, dtype: object
18615 1052 14 ORtg Last Month    75.1429
Name: 18615, dtype: object
18616 1393 14 ORtg Last Month    99.5
Name: 18616, dtype: object
18617 0 0 ORtg Last Month    0
Name: 18617, dtype: object
18618 1287 13 ORtg Last Month    99
Name: 18618, dtype: object
18619 1622 14 ORtg Last Month    115.857
Name: 18619, dtype: object
18620 816 9 ORtg Last Month    90.6667
Name: 18620, dtype: object
18621 133 4 ORtg Last Month    33.25
Name: 18621, dtype: object
18622 1707 14 ORtg Last Month    121.929
Name: 18622, dtype: object
18623 2118 16 ORtg Last Month    132.375
Name: 18623, dtype: object
18624 2019 16 ORtg Last Month    126.188
Name: 18624, dtype: object
18625 699 13 ORtg Last Month    53.7692
Name: 18625, dtype: object
18626 1469 14 ORtg Last Month    104.929
Name: 18626, dtype: object
18627 1183 11 ORtg Last Month    107.545
Name: 18627, dtype: object
18628 892 16 ORtg Last Month    55.75
Name: 18628, dtype: object
18629 457 15 ORtg Last Month    30.4667
Name: 18629, dtype: object
18630 1804 16 ORtg Last Month    112.75
Name: 18630, dtype: object
18631 2083 16 ORtg Last Month    130.188
Name: 18631, dtype: object
18632 1932 16 ORtg Last Month    120.75
Name: 18632, dtype: object
18633 1415 15 ORtg Last Month    94.3333
Name: 18633, dtype: object
18634 1635 15 ORtg Last Month    109
Name: 18634, dtype: object
18635 1435 15 ORtg Last Month    95.6667
Name: 18635, dtype: object
18636 668 13 ORtg Last Month    51.3846
Name: 18636, dtype: object
18637 1204 14 ORtg Last Month    86
Name: 18637, dtype: object
18638 1162 15 ORtg Last Month    77.4667
Name: 18638, dtype: object
18639 1538 14 ORtg Last Month    109.857
Name: 18639, dtype: object
18640 1419 15 ORtg Last Month    94.6
Name: 18640, dtype: object
18641 1182 12 ORtg Last Month    98.5
Name: 18641, dtype: object
18642 1598 14 ORtg Last Month    114.143
Name: 18642, dtype: object
18643 1106 11 ORtg Last Month    100.545
Name: 18643, dtype: object
18644 719 13 ORtg Last Month    55.3077
Name: 18644, dtype: object
18645 1788 15 ORtg Last Month    119.2
Name: 18645, dtype: object
18646 388 3 ORtg Last Month    129.333
Name: 18646, dtype: object
18647 1611 15 ORtg Last Month    107.4
Name: 18647, dtype: object
18648 347 12 ORtg Last Month    28.9167
Name: 18648, dtype: object
18649 1876 14 ORtg Last Month    134
Name: 18649, dtype: object
18650 1644 15 ORtg Last Month    109.6
Name: 18650, dtype: object
18651 1583 15 ORtg Last Month    105.533
Name: 18651, dtype: object
18652 1050 14 ORtg Last Month    75
Name: 18652, dtype: object
18653 1749 15 ORtg Last Month    116.6
Name: 18653, dtype: object
18654 257 15 ORtg Last Month    17.1333
Name: 18654, dtype: object
18655 270 5 ORtg Last Month    54
Name: 18655, dtype: object
18656 1666 14 ORtg Last Month    119
Name: 18656, dtype: object
18657 1407 14 ORtg Last Month    100.5
Name: 18657, dtype: object
18658 1414 14 ORtg Last Month    101
Name: 18658, dtype: object
18659 1680 14 ORtg Last Month    120
Name: 18659, dtype: object
18660 1557 14 ORtg Last Month    111.214
Name: 18660, dtype: object
18661 1051 11 ORtg Last Month    95.5455
Name: 18661, dtype: object
18662 270 8 ORtg Last Month    33.75
Name: 18662, dtype: object
18663 198 4 ORtg Last Month    49.5
Name: 18663, dtype: object
18664 1177 10 ORtg Last Month    117.7
Name: 18664, dtype: object
18665 1626 14 ORtg Last Month    116.143
Name: 18665, dtype: object
18666 559 14 ORtg Last Month    39.9286
Name: 18666, dtype: object
18667 1480 14 ORtg Last Month    105.714
Name: 18667, dtype: object
18668 1563 13 ORtg Last Month    120.231
Name: 18668, dtype: object
18669 1391 14 ORtg Last Month    99.3571
Name: 18669, dtype: object
18670 1565 13 ORtg Last Month    120.385
Name: 18670, dtype: object
18671 1496 14 ORtg Last Month    106.857
Name: 18671, dtype: object
18672 1394 14 ORtg Last Month    99.5714
Name: 18672, dtype: object
18673 569 13 ORtg Last Month    43.7692
Name: 18673, dtype: object
18674 1726 14 ORtg Last Month    123.286
Name: 18674, dtype: object
18675 1735 14 ORtg Last Month    123.929
Name: 18675, dtype: object
18676 1137 13 ORtg Last Month    87.4615
Name: 18676, dtype: object
18677 1123 13 ORtg Last Month    86.3846
Name: 18677, dtype: object
18678 0 2 ORtg Last Month    0
Name: 18678, dtype: object
18679 774 12 ORtg Last Month    64.5
Name: 18679, dtype: object
18680 1654 14 ORtg Last Month    118.143
Name: 18680, dtype: object
18681 922 13 ORtg Last Month    70.9231
Name: 18681, dtype: object
18682 1556 14 ORtg Last Month    111.143
Name: 18682, dtype: object
18683 1100 14 ORtg Last Month    78.5714
Name: 18683, dtype: object
18684 1057 12 ORtg Last Month    88.0833
Name: 18684, dtype: object
18685 708 7 ORtg Last Month    101.143
Name: 18685, dtype: object
18686 1483 14 ORtg Last Month    105.929
Name: 18686, dtype: object
18687 476 13 ORtg Last Month    36.6154
Name: 18687, dtype: object
18688 95 12 ORtg Last Month    7.91667
Name: 18688, dtype: object
18689 1502 14 ORtg Last Month    107.286
Name: 18689, dtype: object
18690 666 9 ORtg Last Month    74
Name: 18690, dtype: object
18691 1142 11 ORtg Last Month    103.818
Name: 18691, dtype: object
18692 803 10 ORtg Last Month    80.3
Name: 18692, dtype: object
18693 1253 14 ORtg Last Month    89.5
Name: 18693, dtype: object
18694 227 3 ORtg Last Month    75.6667
Name: 18694, dtype: object
18695 884 14 ORtg Last Month    63.1429
Name: 18695, dtype: object
18696 1408 14 ORtg Last Month    100.571
Name: 18696, dtype: object
18697 1374 14 ORtg Last Month    98.1429
Name: 18697, dtype: object
18698 1706 14 ORtg Last Month    121.857
Name: 18698, dtype: object
18699 871 8 ORtg Last Month    108.875
Name: 18699, dtype: object
18700 1382 10 ORtg Last Month    138.2
Name: 18700, dtype: object
18701 512 14 ORtg Last Month    36.5714
Name: 18701, dtype: object
18702 0 14 ORtg Last Month    0
Name: 18702, dtype: object
18703 210 3 ORtg Last Month    70
Name: 18703, dtype: object
18704 1358 14 ORtg Last Month    97
Name: 18704, dtype: object
18705 1569 14 ORtg Last Month    112.071
Name: 18705, dtype: object
18706 1747 14 ORtg Last Month    124.786
Name: 18706, dtype: object
18707 839 10 ORtg Last Month    83.9
Name: 18707, dtype: object
18708 1359 14 ORtg Last Month    97.0714
Name: 18708, dtype: object
18709 1393 14 ORtg Last Month    99.5
Name: 18709, dtype: object
18710 1341 14 ORtg Last Month    95.7857
Name: 18710, dtype: object
18711 1197 12 ORtg Last Month    99.75
Name: 18711, dtype: object
18712 1377 14 ORtg Last Month    98.3571
Name: 18712, dtype: object
18713 1807 14 ORtg Last Month    129.071
Name: 18713, dtype: object
18714 475 14 ORtg Last Month    33.9286
Name: 18714, dtype: object
18715 420 5 ORtg Last Month    84
Name: 18715, dtype: object
18716 1607 15 ORtg Last Month    107.133
Name: 18716, dtype: object
18717 1779 15 ORtg Last Month    118.6
Name: 18717, dtype: object
18718 100 6 ORtg Last Month    16.6667
Name: 18718, dtype: object
18719 985 12 ORtg Last Month    82.0833
Name: 18719, dtype: object
18720 1655 13 ORtg Last Month    127.308
Name: 18720, dtype: object

18721 1131 10 ORtg Last Month    113.1
Name: 18721, dtype: object
18722 1842 14 ORtg Last Month    131.571
Name: 18722, dtype: object
18723 1081 15 ORtg Last Month    72.0667
Name: 18723, dtype: object
18724 812 15 ORtg Last Month    54.1333
Name: 18724, dtype: object
18725 1854 15 ORtg Last Month    123.6
Name: 18725, dtype: object
18726 2046 15 ORtg Last Month    136.4
Name: 18726, dtype: object
18727 1311 15 ORtg Last Month    87.4
Name: 18727, dtype: object
18728 0 6 ORtg Last Month    0
Name: 18728, dtype: object
18729 1491 13 ORtg Last Month    114.692
Name: 18729, dtype: object
18730 1598 13 ORtg Last Month    122.923
Name: 18730, dtype: object
18731 514 10 ORtg Last Month    51.4
Name: 18731, dtype: object
18732 1175 13 ORtg Last Month    90.3846
Name: 18732, dtype: object
18733 104 1 ORtg Last Month    104
Name: 18733, dtype: object
18734 1396 13 ORtg Last Month    107.385
Name: 18734, dtype: object
18735 1336 13 ORtg Last Month    102.769
Name: 18735, dtype: object
18736 1325 13 ORtg Last Month    101.923
Name: 18736, dtype: object
18737 1115 12 ORtg Last Month    92.9167
Name: 18737, dtype: object
18738 1677 13 ORtg Last Month    129
Name: 18738, dtype: object
18739 1194 12 ORtg Last Month    99.5
Name: 18739, dtype: object
18740 1713 14 ORtg Last Month    122.357
Name: 18740, dtype: object
18741 1511 15 ORtg Last Month    100.733
Name: 18741, dtype: object
18742 1341 15 ORtg Last Month    89.4
Name: 18742, dtype: object
18743 0 2 ORtg Last Month    0
Name: 18743, dtype: object
18744 1659 15 ORtg Last Month    110.6
Name: 18744, dtype: object
18745 1335 14 ORtg Last Month    95.3571
Name: 18745, dtype: object
18746 1584 15 ORtg Last Month    105.6
Name: 18746, dtype: object
18747 1010 15 ORtg Last Month    67.3333
Name: 18747, dtype: object
18748 1647 15 ORtg Last Month    109.8
Name: 18748, dtype: object
18749 1783 14 ORtg Last Month    127.357
Name: 18749, dtype: object
18750 1251 15 ORtg Last Month    83.4
Name: 18750, dtype: object
18751 1085 15 ORtg Last Month    72.3333
Name: 18751, dtype: object
18752 1454 14 ORtg Last Month    103.857
Name: 18752, dtype: object
18753 1341 14 ORtg Last Month    95.7857
Name: 18753, dtype: object
18754 1199 12 ORtg Last Month    99.9167
Name: 18754, dtype: object
18755 1146 14 ORtg Last Month    81.8571
Name: 18755, dtype: object
18756 1373 13 ORtg Last Month    105.615
Name: 18756, dtype: object
18757 1830 14 ORtg Last Month    130.714
Name: 18757, dtype: object
18758 1664 14 ORtg Last Month    118.857
Name: 18758, dtype: object
18759 1646 14 ORtg Last Month    117.571
Name: 18759, dtype: object
18760 1661 14 ORtg Last Month    118.643
Name: 18760, dtype: object
18761 0 0 ORtg Last Month    0
Name: 18761, dtype: object
18762 1817 14 ORtg Last Month    129.786
Name: 18762, dtype: object
18763 246 14 ORtg Last Month    17.5714
Name: 18763, dtype: object
18764 1219 13 ORtg Last Month    93.7692
Name: 18764, dtype: object
18765 1520 13 ORtg Last Month    116.923
Name: 18765, dtype: object
18766 1349 13 ORtg Last Month    103.769
Name: 18766, dtype: object
18767 1375 13 ORtg Last Month    105.769
Name: 18767, dtype: object
18768 121 5 ORtg Last Month    24.2
Name: 18768, dtype: object
18769 157 1 ORtg Last Month    157
Name: 18769, dtype: object
18770 1070 10 ORtg Last Month    107
Name: 18770, dtype: object
18771 654 7 ORtg Last Month    93.4286
Name: 18771, dtype: object
18772 479 5 ORtg Last Month    95.8
Name: 18772, dtype: object
18773 1668 13 ORtg Last Month    128.308
Name: 18773, dtype: object
18774 724 13 ORtg Last Month    55.6923
Name: 18774, dtype: object
18775 1673 15 ORtg Last Month    111.533
Name: 18775, dtype: object
18776 1350 14 ORtg Last Month    96.4286
Name: 18776, dtype: object
18777 1387 15 ORtg Last Month    92.4667
Name: 18777, dtype: object
18778 1538 15 ORtg Last Month    102.533
Name: 18778, dtype: object
18779 747 13 ORtg Last Month    57.4615
Name: 18779, dtype: object
18780 1558 14 ORtg Last Month    111.286
Name: 18780, dtype: object
18781 1309 15 ORtg Last Month    87.2667
Name: 18781, dtype: object
18782 1516 15 ORtg Last Month    101.067
Name: 18782, dtype: object
18783 1249 12 ORtg Last Month    104.083
Name: 18783, dtype: object
18784 1585 14 ORtg Last Month    113.214
Name: 18784, dtype: object
18785 1192 12 ORtg Last Month    99.3333
Name: 18785, dtype: object
18786 719 13 ORtg Last Month    55.3077
Name: 18786, dtype: object
18787 1531 15 ORtg Last Month    102.067
Name: 18787, dtype: object
18788 1817 15 ORtg Last Month    121.133
Name: 18788, dtype: object
18789 1508 15 ORtg Last Month    100.533
Name: 18789, dtype: object
18790 1826 15 ORtg Last Month    121.733
Name: 18790, dtype: object
18791 1645 15 ORtg Last Month    109.667
Name: 18791, dtype: object
18792 311 9 ORtg Last Month    34.5556
Name: 18792, dtype: object
18793 1120 12 ORtg Last Month    93.3333
Name: 18793, dtype: object
18794 198 5 ORtg Last Month    39.6
Name: 18794, dtype: object
18795 1252 11 ORtg Last Month    113.818
Name: 18795, dtype: object
18796 1792 15 ORtg Last Month    119.467
Name: 18796, dtype: object
18797 559 15 ORtg Last Month    37.2667
Name: 18797, dtype: object
18798 1781 16 ORtg Last Month    111.312
Name: 18798, dtype: object
18799 1509 16 ORtg Last Month    94.3125
Name: 18799, dtype: object
18800 1013 10 ORtg Last Month    101.3
Name: 18800, dtype: object
18801 749 15 ORtg Last Month    49.9333
Name: 18801, dtype: object
18802 1813 16 ORtg Last Month    113.312
Name: 18802, dtype: object
18803 1440 16 ORtg Last Month    90
Name: 18803, dtype: object
18804 1547 16 ORtg Last Month    96.6875
Name: 18804, dtype: object
18805 635 15 ORtg Last Month    42.3333
Name: 18805, dtype: object
18806 1864 16 ORtg Last Month    116.5
Name: 18806, dtype: object
18807 1624 16 ORtg Last Month    101.5
Name: 18807, dtype: object
18808 586 16 ORtg Last Month    36.625
Name: 18808, dtype: object
18809 1248 16 ORtg Last Month    78
Name: 18809, dtype: object
18810 516 5 ORtg Last Month    103.2
Name: 18810, dtype: object
18811 1048 14 ORtg Last Month    74.8571
Name: 18811, dtype: object
18812 97 1 ORtg Last Month    97
Name: 18812, dtype: object
18813 1526 14 ORtg Last Month    109
Name: 18813, dtype: object
18814 1339 14 ORtg Last Month    95.6429
Name: 18814, dtype: object
18815 1076 11 ORtg Last Month    97.8182
Name: 18815, dtype: object
18816 1493 14 ORtg Last Month    106.643
Name: 18816, dtype: object
18817 1460 14 ORtg Last Month    104.286
Name: 18817, dtype: object
18818 1492 14 ORtg Last Month    106.571
Name: 18818, dtype: object
18819 1752 14 ORtg Last Month    125.143
Name: 18819, dtype: object
18820 872 14 ORtg Last Month    62.2857
Name: 18820, dtype: object
18821 1021 14 ORtg Last Month    72.9286
Name: 18821, dtype: object
18822 1639 14 ORtg Last Month    117.071
Name: 18822, dtype: object
18823 1380 15 ORtg Last Month    92
Name: 18823, dtype: object
18824 596 6 ORtg Last Month    99.3333
Name: 18824, dtype: object
18825 761 15 ORtg Last Month    50.7333
Name: 18825, dtype: object
18826 1168 15 ORtg Last Month    77.8667
Name: 18826, dtype: object
18827 498 6 ORtg Last Month    83
Name: 18827, dtype: object
18828 117 7 ORtg Last Month    16.7143
Name: 18828, dtype: object
18829 308 10 ORtg Last Month    30.8
Name: 18829, dtype: object
18830 1243 15 ORtg Last Month    82.8667
Name: 18830, dtype: object
18831 1193 15 ORtg Last Month    79.5333
Name: 18831, dtype: object
18832 1437 15 ORtg Last Month    95.8
Name: 18832, dtype: object
18833 1286 12 ORtg Last Month    107.167
Name: 18833, dtype: object
18834 1352 13 ORtg Last Month    104
Name: 18834, dtype: object
18835 1469 14 ORtg Last Month    104.929
Name: 18835, dtype: object
18836 1240 13 ORtg Last Month    95.3846
Name: 18836, dtype: object
18837 1423 14 ORtg Last Month    101.643
Name: 18837, dtype: object
18838 1025 13 ORtg Last Month    78.8462
Name: 18838, dtype: object
18839 728 14 ORtg Last Month    52
Name: 18839, dtype: object
18840 0 14 ORtg Last Month    0
Name: 18840, dtype: object
18841 579 14 ORtg Last Month    41.3571
Name: 18841, dtype: object
18842 1383 13 ORtg Last Month    106.385
Name: 18842, dtype: object
18843 1278 14 ORtg Last Month    91.2857
Name: 18843, dtype: object
18844 897 14 ORtg Last Month    64.0714
Name: 18844, dtype: object

18845 1706 14 ORtg Last Month    121.857
Name: 18845, dtype: object
18846 855 13 ORtg Last Month    65.7692
Name: 18846, dtype: object
18847 80 2 ORtg Last Month    40
Name: 18847, dtype: object
18848 548 5 ORtg Last Month    109.6
Name: 18848, dtype: object
18849 736 8 ORtg Last Month    92
Name: 18849, dtype: object
18850 1342 13 ORtg Last Month    103.231
Name: 18850, dtype: object
18851 1181 13 ORtg Last Month    90.8462
Name: 18851, dtype: object
18852 1269 13 ORtg Last Month    97.6154
Name: 18852, dtype: object
18853 1203 13 ORtg Last Month    92.5385
Name: 18853, dtype: object
18854 1285 13 ORtg Last Month    98.8462
Name: 18854, dtype: object
18855 113 11 ORtg Last Month    10.2727
Name: 18855, dtype: object
18856 1640 13 ORtg Last Month    126.154
Name: 18856, dtype: object
18857 1574 13 ORtg Last Month    121.077
Name: 18857, dtype: object
18858 1561 13 ORtg Last Month    120.077
Name: 18858, dtype: object
18859 477 4 ORtg Last Month    119.25
Name: 18859, dtype: object
18860 1268 13 ORtg Last Month    97.5385
Name: 18860, dtype: object
18861 1101 13 ORtg Last Month    84.6923
Name: 18861, dtype: object
18862 1292 13 ORtg Last Month    99.3846
Name: 18862, dtype: object
18863 797 11 ORtg Last Month    72.4545
Name: 18863, dtype: object
18864 1057 13 ORtg Last Month    81.3077
Name: 18864, dtype: object
18865 1201 8 ORtg Last Month    150.125
Name: 18865, dtype: object
18866 1515 12 ORtg Last Month    126.25
Name: 18866, dtype: object
18867 1246 13 ORtg Last Month    95.8462
Name: 18867, dtype: object
18868 804 8 ORtg Last Month    100.5
Name: 18868, dtype: object
18869 482 10 ORtg Last Month    48.2
Name: 18869, dtype: object
18870 1551 14 ORtg Last Month    110.786
Name: 18870, dtype: object
18871 1647 14 ORtg Last Month    117.643
Name: 18871, dtype: object
18872 0 1 ORtg Last Month    0
Name: 18872, dtype: object
18873 0 12 ORtg Last Month    0
Name: 18873, dtype: object
18874 1726 14 ORtg Last Month    123.286
Name: 18874, dtype: object
18875 1712 14 ORtg Last Month    122.286
Name: 18875, dtype: object
18876 1569 13 ORtg Last Month    120.692
Name: 18876, dtype: object
18877 1166 13 ORtg Last Month    89.6923
Name: 18877, dtype: object
18878 1005 13 ORtg Last Month    77.3077
Name: 18878, dtype: object
18879 1669 13 ORtg Last Month    128.385
Name: 18879, dtype: object
18880 1364 11 ORtg Last Month    124
Name: 18880, dtype: object
18881 1843 14 ORtg Last Month    131.643
Name: 18881, dtype: object
18882 1765 15 ORtg Last Month    117.667
Name: 18882, dtype: object
18883 1164 13 ORtg Last Month    89.5385
Name: 18883, dtype: object
18884 476 15 ORtg Last Month    31.7333
Name: 18884, dtype: object
18885 1391 14 ORtg Last Month    99.3571
Name: 18885, dtype: object
18886 1435 15 ORtg Last Month    95.6667
Name: 18886, dtype: object
18887 1616 15 ORtg Last Month    107.733
Name: 18887, dtype: object
18888 1509 15 ORtg Last Month    100.6
Name: 18888, dtype: object
18889 0 8 ORtg Last Month    0
Name: 18889, dtype: object
18890 1643 15 ORtg Last Month    109.533
Name: 18890, dtype: object
18891 1063 15 ORtg Last Month    70.8667
Name: 18891, dtype: object
18892 398 13 ORtg Last Month    30.6154
Name: 18892, dtype: object
18893 0 0 ORtg Last Month    0
Name: 18893, dtype: object
18894 1538 13 ORtg Last Month    118.308
Name: 18894, dtype: object
18895 1497 13 ORtg Last Month    115.154
Name: 18895, dtype: object
18896 1731 13 ORtg Last Month    133.154
Name: 18896, dtype: object
18897 1305 10 ORtg Last Month    130.5
Name: 18897, dtype: object
18898 1133 13 ORtg Last Month    87.1538
Name: 18898, dtype: object
18899 402 3 ORtg Last Month    134
Name: 18899, dtype: object
18900 1254 11 ORtg Last Month    114
Name: 18900, dtype: object
18901 1482 13 ORtg Last Month    114
Name: 18901, dtype: object
18902 990 12 ORtg Last Month    82.5
Name: 18902, dtype: object
18903 598 11 ORtg Last Month    54.3636
Name: 18903, dtype: object
18904 1368 11 ORtg Last Month    124.364
Name: 18904, dtype: object
18905 1430 12 ORtg Last Month    119.167
Name: 18905, dtype: object
18906 153 7 ORtg Last Month    21.8571
Name: 18906, dtype: object
18907 1515 12 ORtg Last Month    126.25
Name: 18907, dtype: object
18908 1348 12 ORtg Last Month    112.333
Name: 18908, dtype: object
18909 826 9 ORtg Last Month    91.7778
Name: 18909, dtype: object
18910 1535 12 ORtg Last Month    127.917
Name: 18910, dtype: object
18911 1298 12 ORtg Last Month    108.167
Name: 18911, dtype: object
18912 1759 12 ORtg Last Month    146.583
Name: 18912, dtype: object
18913 1392 12 ORtg Last Month    116
Name: 18913, dtype: object
18914 121 5 ORtg Last Month    24.2
Name: 18914, dtype: object
18915 1323 12 ORtg Last Month    110.25
Name: 18915, dtype: object
18916 1389 13 ORtg Last Month    106.846
Name: 18916, dtype: object
18917 1299 13 ORtg Last Month    99.9231
Name: 18917, dtype: object
18918 78 7 ORtg Last Month    11.1429
Name: 18918, dtype: object
18919 991 8 ORtg Last Month    123.875
Name: 18919, dtype: object
18920 1540 13 ORtg Last Month    118.462
Name: 18920, dtype: object
18921 1518 12 ORtg Last Month    126.5
Name: 18921, dtype: object
18922 800 8 ORtg Last Month    100
Name: 18922, dtype: object
18923 719 11 ORtg Last Month    65.3636
Name: 18923, dtype: object
18924 393 10 ORtg Last Month    39.3
Name: 18924, dtype: object
18925 1365 13 ORtg Last Month    105
Name: 18925, dtype: object
18926 1485 13 ORtg Last Month    114.231
Name: 18926, dtype: object
18927 1147 13 ORtg Last Month    88.2308
Name: 18927, dtype: object
18928 1558 14 ORtg Last Month    111.286
Name: 18928, dtype: object
18929 1303 14 ORtg Last Month    93.0714
Name: 18929, dtype: object
18930 1317 14 ORtg Last Month    94.0714
Name: 18930, dtype: object
18931 1232 13 ORtg Last Month    94.7692
Name: 18931, dtype: object
18932 1122 14 ORtg Last Month    80.1429
Name: 18932, dtype: object
18933 0 0 ORtg Last Month    0
Name: 18933, dtype: object
18934 1367 14 ORtg Last Month    97.6429
Name: 18934, dtype: object
18935 528 11 ORtg Last Month    48
Name: 18935, dtype: object
18936 401 6 ORtg Last Month    66.8333
Name: 18936, dtype: object
18937 1579 14 ORtg Last Month    112.786
Name: 18937, dtype: object
18938 1609 14 ORtg Last Month    114.929
Name: 18938, dtype: object
18939 885 10 ORtg Last Month    88.5
Name: 18939, dtype: object
18940 1224 12 ORtg Last Month    102
Name: 18940, dtype: object
18941 1154 13 ORtg Last Month    88.7692
Name: 18941, dtype: object
18942 1308 13 ORtg Last Month    100.615
Name: 18942, dtype: object
18943 1526 13 ORtg Last Month    117.385
Name: 18943, dtype: object
18944 791 13 ORtg Last Month    60.8462
Name: 18944, dtype: object
18945 284 4 ORtg Last Month    71
Name: 18945, dtype: object
18946 1400 13 ORtg Last Month    107.692
Name: 18946, dtype: object
18947 1368 13 ORtg Last Month    105.231
Name: 18947, dtype: object
18948 1393 13 ORtg Last Month    107.154
Name: 18948, dtype: object
18949 705 13 ORtg Last Month    54.2308
Name: 18949, dtype: object
18950 1489 14 ORtg Last Month    106.357
Name: 18950, dtype: object
18951 1017 14 ORtg Last Month    72.6429
Name: 18951, dtype: object
18952 1364 14 ORtg Last Month    97.4286
Name: 18952, dtype: object
18953 1663 14 ORtg Last Month    118.786
Name: 18953, dtype: object
18954 1497 14 ORtg Last Month    106.929
Name: 18954, dtype: object
18955 1776 14 ORtg Last Month    126.857
Name: 18955, dtype: object
18956 1672 14 ORtg Last Month    119.429
Name: 18956, dtype: object
18957 1646 14 ORtg Last Month    117.571
Name: 18957, dtype: object
18958 551 10 ORtg Last Month    55.1
Name: 18958, dtype: object
18959 141 1 ORtg Last Month    141
Name: 18959, dtype: object
18960 1934 14 ORtg Last Month    138.143
Name: 18960, dtype: object
18961 246 14 ORtg Last Month    17.5714
Name: 18961, dtype: object
18962 1349 12 ORtg Last Month    112.417
Name: 18962, dtype: object
18963 1312 13 ORtg Last Month    100.923
Name: 18963, dtype: object
18964 1235 13 ORtg Last Month    95
Name: 18964, dtype: object
18965 706 9 ORtg Last Month    78.4444
Name: 18965, dtype: object
18966 1554 13 ORtg Last Month    119.538
Name: 18966, dtype: object
18967 1326 13 ORtg Last Month    102
Name: 18967, dtype: object
18968 806 12 ORtg Last Month    67.1667
Name: 18968, dtype: object

18969 202 9 ORtg Last Month    22.4444
Name: 18969, dtype: object
18970 1740 13 ORtg Last Month    133.846
Name: 18970, dtype: object
18971 1429 13 ORtg Last Month    109.923
Name: 18971, dtype: object
18972 899 12 ORtg Last Month    74.9167
Name: 18972, dtype: object
18973 363 11 ORtg Last Month    33
Name: 18973, dtype: object
18974 1183 10 ORtg Last Month    118.3
Name: 18974, dtype: object
18975 2130 16 ORtg Last Month    133.125
Name: 18975, dtype: object
18976 2036 16 ORtg Last Month    127.25
Name: 18976, dtype: object
18977 763 14 ORtg Last Month    54.5
Name: 18977, dtype: object
18978 1437 14 ORtg Last Month    102.643
Name: 18978, dtype: object
18979 1657 16 ORtg Last Month    103.562
Name: 18979, dtype: object
18980 1276 12 ORtg Last Month    106.333
Name: 18980, dtype: object
18981 76 1 ORtg Last Month    76
Name: 18981, dtype: object
18982 993 16 ORtg Last Month    62.0625
Name: 18982, dtype: object
18983 547 16 ORtg Last Month    34.1875
Name: 18983, dtype: object
18984 1881 16 ORtg Last Month    117.562
Name: 18984, dtype: object
18985 1992 16 ORtg Last Month    124.5
Name: 18985, dtype: object
18986 1325 11 ORtg Last Month    120.455
Name: 18986, dtype: object
18987 1587 12 ORtg Last Month    132.25
Name: 18987, dtype: object
18988 995 12 ORtg Last Month    82.9167
Name: 18988, dtype: object
18989 1405 11 ORtg Last Month    127.727
Name: 18989, dtype: object
18990 1433 12 ORtg Last Month    119.417
Name: 18990, dtype: object
18991 1618 12 ORtg Last Month    134.833
Name: 18991, dtype: object
18992 1346 9 ORtg Last Month    149.556
Name: 18992, dtype: object
18993 1294 12 ORtg Last Month    107.833
Name: 18993, dtype: object
18994 211 6 ORtg Last Month    35.1667
Name: 18994, dtype: object
18995 763 7 ORtg Last Month    109
Name: 18995, dtype: object
18996 1431 11 ORtg Last Month    130.091
Name: 18996, dtype: object
18997 1637 12 ORtg Last Month    136.417
Name: 18997, dtype: object
18998 547 12 ORtg Last Month    45.5833
Name: 18998, dtype: object
18999 1831 15 ORtg Last Month    122.067
Name: 18999, dtype: object
19000 491 4 ORtg Last Month    122.75
Name: 19000, dtype: object
19001 1565 15 ORtg Last Month    104.333
Name: 19001, dtype: object
19002 247 12 ORtg Last Month    20.5833
Name: 19002, dtype: object
19003 1574 15 ORtg Last Month    104.933
Name: 19003, dtype: object
19004 1616 15 ORtg Last Month    107.733
Name: 19004, dtype: object
19005 988 9 ORtg Last Month    109.778
Name: 19005, dtype: object
19006 1906 14 ORtg Last Month    136.143
Name: 19006, dtype: object
19007 1209 14 ORtg Last Month    86.3571
Name: 19007, dtype: object
19008 270 6 ORtg Last Month    45
Name: 19008, dtype: object
19009 257 15 ORtg Last Month    17.1333
Name: 19009, dtype: object
19010 1721 15 ORtg Last Month    114.733
Name: 19010, dtype: object
19011 1471 14 ORtg Last Month    105.071
Name: 19011, dtype: object
19012 1538 13 ORtg Last Month    118.308
Name: 19012, dtype: object
19013 1400 14 ORtg Last Month    100
Name: 19013, dtype: object
19014 1573 13 ORtg Last Month    121
Name: 19014, dtype: object
19015 1475 14 ORtg Last Month    105.357
Name: 19015, dtype: object
19016 1363 14 ORtg Last Month    97.3571
Name: 19016, dtype: object
19017 1623 14 ORtg Last Month    115.929
Name: 19017, dtype: object
19018 676 13 ORtg Last Month    52
Name: 19018, dtype: object
19019 1780 14 ORtg Last Month    127.143
Name: 19019, dtype: object
19020 1158 13 ORtg Last Month    89.0769
Name: 19020, dtype: object
19021 1149 13 ORtg Last Month    88.3846
Name: 19021, dtype: object
19022 158 3 ORtg Last Month    52.6667
Name: 19022, dtype: object
19023 1579 14 ORtg Last Month    112.786
Name: 19023, dtype: object
19024 1061 14 ORtg Last Month    75.7857
Name: 19024, dtype: object
19025 1535 14 ORtg Last Month    109.643
Name: 19025, dtype: object
19026 900 13 ORtg Last Month    69.2308
Name: 19026, dtype: object
19027 793 8 ORtg Last Month    99.125
Name: 19027, dtype: object
19028 1430 14 ORtg Last Month    102.143
Name: 19028, dtype: object
19029 718 13 ORtg Last Month    55.2308
Name: 19029, dtype: object
19030 95 12 ORtg Last Month    7.91667
Name: 19030, dtype: object
19031 950 8 ORtg Last Month    118.75
Name: 19031, dtype: object
19032 665 9 ORtg Last Month    73.8889
Name: 19032, dtype: object
19033 1472 14 ORtg Last Month    105.143
Name: 19033, dtype: object
19034 1238 14 ORtg Last Month    88.4286
Name: 19034, dtype: object
19035 800 10 ORtg Last Month    80
Name: 19035, dtype: object
19036 227 4 ORtg Last Month    56.75
Name: 19036, dtype: object
19037 884 14 ORtg Last Month    63.1429
Name: 19037, dtype: object
19038 1346 14 ORtg Last Month    96.1429
Name: 19038, dtype: object
19039 1462 14 ORtg Last Month    104.429
Name: 19039, dtype: object
19040 1700 14 ORtg Last Month    121.429
Name: 19040, dtype: object
19041 861 8 ORtg Last Month    107.625
Name: 19041, dtype: object
19042 1370 10 ORtg Last Month    137
Name: 19042, dtype: object
19043 512 14 ORtg Last Month    36.5714
Name: 19043, dtype: object
19044 1421 14 ORtg Last Month    101.5
Name: 19044, dtype: object
19045 1684 14 ORtg Last Month    120.286
Name: 19045, dtype: object
19046 1723 14 ORtg Last Month    123.071
Name: 19046, dtype: object
19047 1317 14 ORtg Last Month    94.0714
Name: 19047, dtype: object
19048 1322 14 ORtg Last Month    94.4286
Name: 19048, dtype: object
19049 1179 14 ORtg Last Month    84.2143
Name: 19049, dtype: object
19050 994 11 ORtg Last Month    90.3636
Name: 19050, dtype: object
19051 1343 13 ORtg Last Month    103.308
Name: 19051, dtype: object
19052 1362 14 ORtg Last Month    97.2857
Name: 19052, dtype: object
19053 1797 14 ORtg Last Month    128.357
Name: 19053, dtype: object
19054 420 5 ORtg Last Month    84
Name: 19054, dtype: object
19055 475 14 ORtg Last Month    33.9286
Name: 19055, dtype: object
19056 1724 15 ORtg Last Month    114.933
Name: 19056, dtype: object
19057 1624 15 ORtg Last Month    108.267
Name: 19057, dtype: object
19058 100 7 ORtg Last Month    14.2857
Name: 19058, dtype: object
19059 1149 10 ORtg Last Month    114.9
Name: 19059, dtype: object
19060 1691 13 ORtg Last Month    130.077
Name: 19060, dtype: object
19061 1275 15 ORtg Last Month    85
Name: 19061, dtype: object
19062 562 15 ORtg Last Month    37.4667
Name: 19062, dtype: object
19063 1826 14 ORtg Last Month    130.429
Name: 19063, dtype: object
19064 2033 15 ORtg Last Month    135.533
Name: 19064, dtype: object
19065 229 6 ORtg Last Month    38.1667
Name: 19065, dtype: object
19066 0 7 ORtg Last Month    0
Name: 19066, dtype: object
19067 1438 15 ORtg Last Month    95.8667
Name: 19067, dtype: object
19068 933 8 ORtg Last Month    116.625
Name: 19068, dtype: object
19069 1628 14 ORtg Last Month    116.286
Name: 19069, dtype: object
19070 196 2 ORtg Last Month    98
Name: 19070, dtype: object
19071 676 11 ORtg Last Month    61.4545
Name: 19071, dtype: object
19072 1435 14 ORtg Last Month    102.5
Name: 19072, dtype: object
19073 1546 14 ORtg Last Month    110.429
Name: 19073, dtype: object
19074 1249 14 ORtg Last Month    89.2143
Name: 19074, dtype: object
19075 1303 14 ORtg Last Month    93.0714
Name: 19075, dtype: object
19076 1594 14 ORtg Last Month    113.857
Name: 19076, dtype: object
19077 286 14 ORtg Last Month    20.4286
Name: 19077, dtype: object
19078 1794 14 ORtg Last Month    128.143
Name: 19078, dtype: object
19079 1617 14 ORtg Last Month    115.5
Name: 19079, dtype: object
19080 628 14 ORtg Last Month    44.8571
Name: 19080, dtype: object
19081 1495 13 ORtg Last Month    115
Name: 19081, dtype: object
19082 1641 13 ORtg Last Month    126.231
Name: 19082, dtype: object
19083 1153 13 ORtg Last Month    88.6923
Name: 19083, dtype: object
19084 658 11 ORtg Last Month    59.8182
Name: 19084, dtype: object
19085 104 2 ORtg Last Month    52
Name: 19085, dtype: object
19086 1410 13 ORtg Last Month    108.462
Name: 19086, dtype: object
19087 1397 13 ORtg Last Month    107.462
Name: 19087, dtype: object
19088 1209 12 ORtg Last Month    100.75
Name: 19088, dtype: object
19089 1297 13 ORtg Last Month    99.7692
Name: 19089, dtype: object
19090 1651 13 ORtg Last Month    127
Name: 19090, dtype: object
19091 1186 12 ORtg Last Month    98.8333
Name: 19091, dtype: object

19092 1599 14 ORtg Last Month    114.214
Name: 19092, dtype: object
19093 1398 13 ORtg Last Month    107.538
Name: 19093, dtype: object
19094 92 1 ORtg Last Month    92
Name: 19094, dtype: object
19095 1274 13 ORtg Last Month    98
Name: 19095, dtype: object
19096 1087 14 ORtg Last Month    77.6429
Name: 19096, dtype: object
19097 425 4 ORtg Last Month    106.25
Name: 19097, dtype: object
19098 562 13 ORtg Last Month    43.2308
Name: 19098, dtype: object
19099 1864 14 ORtg Last Month    133.143
Name: 19099, dtype: object
19100 1463 12 ORtg Last Month    121.917
Name: 19100, dtype: object
19101 1206 14 ORtg Last Month    86.1429
Name: 19101, dtype: object
19102 1385 14 ORtg Last Month    98.9286
Name: 19102, dtype: object
19103 1196 10 ORtg Last Month    119.6
Name: 19103, dtype: object
19104 1485 15 ORtg Last Month    99
Name: 19104, dtype: object
19105 1736 14 ORtg Last Month    124
Name: 19105, dtype: object
19106 1331 15 ORtg Last Month    88.7333
Name: 19106, dtype: object
19107 1675 15 ORtg Last Month    111.667
Name: 19107, dtype: object
19108 1593 15 ORtg Last Month    106.2
Name: 19108, dtype: object
19109 1370 14 ORtg Last Month    97.8571
Name: 19109, dtype: object
19110 1561 15 ORtg Last Month    104.067
Name: 19110, dtype: object
19111 877 15 ORtg Last Month    58.4667
Name: 19111, dtype: object
19112 1218 15 ORtg Last Month    81.2
Name: 19112, dtype: object
19113 1740 14 ORtg Last Month    124.286
Name: 19113, dtype: object
19114 885 15 ORtg Last Month    59
Name: 19114, dtype: object
19115 598 7 ORtg Last Month    85.4286
Name: 19115, dtype: object
19116 1621 15 ORtg Last Month    108.067
Name: 19116, dtype: object
19117 1822 15 ORtg Last Month    121.467
Name: 19117, dtype: object
19118 1502 15 ORtg Last Month    100.133
Name: 19118, dtype: object
19119 1634 15 ORtg Last Month    108.933
Name: 19119, dtype: object
19120 1840 15 ORtg Last Month    122.667
Name: 19120, dtype: object
19121 1184 12 ORtg Last Month    98.6667
Name: 19121, dtype: object
19122 493 10 ORtg Last Month    49.3
Name: 19122, dtype: object
19123 1411 12 ORtg Last Month    117.583
Name: 19123, dtype: object
19124 1813 15 ORtg Last Month    120.867
Name: 19124, dtype: object
19125 494 15 ORtg Last Month    32.9333
Name: 19125, dtype: object
19126 1013 11 ORtg Last Month    92.0909
Name: 19126, dtype: object
19127 1868 16 ORtg Last Month    116.75
Name: 19127, dtype: object
19128 1458 16 ORtg Last Month    91.125
Name: 19128, dtype: object
19129 687 15 ORtg Last Month    45.8
Name: 19129, dtype: object
19130 576 6 ORtg Last Month    96
Name: 19130, dtype: object
19131 735 15 ORtg Last Month    49
Name: 19131, dtype: object
19132 1888 16 ORtg Last Month    118
Name: 19132, dtype: object
19133 1045 16 ORtg Last Month    65.3125
Name: 19133, dtype: object
19134 0 0 ORtg Last Month    0
Name: 19134, dtype: object
19135 594 6 ORtg Last Month    99
Name: 19135, dtype: object
19136 1445 13 ORtg Last Month    111.154
Name: 19136, dtype: object
19137 1325 13 ORtg Last Month    101.923
Name: 19137, dtype: object
19138 196 2 ORtg Last Month    98
Name: 19138, dtype: object
19139 1082 11 ORtg Last Month    98.3636
Name: 19139, dtype: object
19140 1321 13 ORtg Last Month    101.615
Name: 19140, dtype: object
19141 1071 12 ORtg Last Month    89.25
Name: 19141, dtype: object
19142 1542 13 ORtg Last Month    118.615
Name: 19142, dtype: object
19143 783 13 ORtg Last Month    60.2308
Name: 19143, dtype: object
19144 919 13 ORtg Last Month    70.6923
Name: 19144, dtype: object
19145 1630 14 ORtg Last Month    116.429
Name: 19145, dtype: object
19146 723 15 ORtg Last Month    48.2
Name: 19146, dtype: object
19147 510 6 ORtg Last Month    85
Name: 19147, dtype: object
19148 642 7 ORtg Last Month    91.7143
Name: 19148, dtype: object
19149 1214 15 ORtg Last Month    80.9333
Name: 19149, dtype: object
19150 329 10 ORtg Last Month    32.9
Name: 19150, dtype: object
19151 213 8 ORtg Last Month    26.625
Name: 19151, dtype: object
19152 1462 15 ORtg Last Month    97.4667
Name: 19152, dtype: object
19153 1150 15 ORtg Last Month    76.6667
Name: 19153, dtype: object
19154 1185 12 ORtg Last Month    98.75
Name: 19154, dtype: object
19155 190 3 ORtg Last Month    63.3333
Name: 19155, dtype: object
19156 949 13 ORtg Last Month    73
Name: 19156, dtype: object
19157 606 8 ORtg Last Month    75.75
Name: 19157, dtype: object
19158 1245 13 ORtg Last Month    95.7692
Name: 19158, dtype: object
19159 1397 13 ORtg Last Month    107.462
Name: 19159, dtype: object
19160 1229 13 ORtg Last Month    94.5385
Name: 19160, dtype: object
19161 1320 13 ORtg Last Month    101.538
Name: 19161, dtype: object
19162 1224 13 ORtg Last Month    94.1538
Name: 19162, dtype: object
19163 335 5 ORtg Last Month    67
Name: 19163, dtype: object
19164 113 12 ORtg Last Month    9.41667
Name: 19164, dtype: object
19165 1654 13 ORtg Last Month    127.231
Name: 19165, dtype: object
19166 1504 13 ORtg Last Month    115.692
Name: 19166, dtype: object
19167 1582 13 ORtg Last Month    121.692
Name: 19167, dtype: object
19168 1563 14 ORtg Last Month    111.643
Name: 19168, dtype: object
19169 1686 14 ORtg Last Month    120.429
Name: 19169, dtype: object
19170 0 2 ORtg Last Month    0
Name: 19170, dtype: object
19171 0 12 ORtg Last Month    0
Name: 19171, dtype: object
19172 1736 14 ORtg Last Month    124
Name: 19172, dtype: object
19173 1723 14 ORtg Last Month    123.071
Name: 19173, dtype: object
19174 1575 13 ORtg Last Month    121.154
Name: 19174, dtype: object
19175 1188 13 ORtg Last Month    91.3846
Name: 19175, dtype: object
19176 955 13 ORtg Last Month    73.4615
Name: 19176, dtype: object
19177 0 0 ORtg Last Month    0
Name: 19177, dtype: object
19178 1656 13 ORtg Last Month    127.385
Name: 19178, dtype: object
19179 1513 11 ORtg Last Month    137.545
Name: 19179, dtype: object
19180 1951 14 ORtg Last Month    139.357
Name: 19180, dtype: object
19181 1652 14 ORtg Last Month    118
Name: 19181, dtype: object
19182 855 12 ORtg Last Month    71.25
Name: 19182, dtype: object
19183 429 14 ORtg Last Month    30.6429
Name: 19183, dtype: object
19184 1508 14 ORtg Last Month    107.714
Name: 19184, dtype: object
19185 1326 13 ORtg Last Month    102
Name: 19185, dtype: object
19186 1564 14 ORtg Last Month    111.714
Name: 19186, dtype: object
19187 1345 14 ORtg Last Month    96.0714
Name: 19187, dtype: object
19188 0 9 ORtg Last Month    0
Name: 19188, dtype: object
19189 1513 14 ORtg Last Month    108.071
Name: 19189, dtype: object
19190 901 14 ORtg Last Month    64.3571
Name: 19190, dtype: object
19191 247 12 ORtg Last Month    20.5833
Name: 19191, dtype: object
19192 0 1 ORtg Last Month    0
Name: 19192, dtype: object
19193 1347 11 ORtg Last Month    122.455
Name: 19193, dtype: object
19194 1392 12 ORtg Last Month    116
Name: 19194, dtype: object
19195 153 7 ORtg Last Month    21.8571
Name: 19195, dtype: object
19196 1574 12 ORtg Last Month    131.167
Name: 19196, dtype: object
19197 1481 12 ORtg Last Month    123.417
Name: 19197, dtype: object
19198 1096 12 ORtg Last Month    91.3333
Name: 19198, dtype: object
19199 1312 12 ORtg Last Month    109.333
Name: 19199, dtype: object
19200 923 9 ORtg Last Month    102.556
Name: 19200, dtype: object
19201 1290 12 ORtg Last Month    107.5
Name: 19201, dtype: object
19202 1761 12 ORtg Last Month    146.75
Name: 19202, dtype: object
19203 1326 12 ORtg Last Month    110.5
Name: 19203, dtype: object
19204 1710 15 ORtg Last Month    114
Name: 19204, dtype: object
19205 1570 15 ORtg Last Month    104.667
Name: 19205, dtype: object
19206 919 11 ORtg Last Month    83.5455
Name: 19206, dtype: object
19207 1243 11 ORtg Last Month    113
Name: 19207, dtype: object
19208 1765 14 ORtg Last Month    126.071
Name: 19208, dtype: object
19209 1675 13 ORtg Last Month    128.846
Name: 19209, dtype: object
19210 1431 15 ORtg Last Month    95.4
Name: 19210, dtype: object
19211 675 15 ORtg Last Month    45
Name: 19211, dtype: object
19212 1712 14 ORtg Last Month    122.286
Name: 19212, dtype: object
19213 2085 15 ORtg Last Month    139
Name: 19213, dtype: object
19214 359 6 ORtg Last Month    59.8333
Name: 19214, dtype: object
19215 106 8 ORtg Last Month    13.25
Name: 19215, dtype: object
19216 1397 15 ORtg Last Month    93.1333
Name: 19216, dtype: object

19217 1289 13 ORtg Last Month    99.1538
Name: 19217, dtype: object
19218 1332 12 ORtg Last Month    111
Name: 19218, dtype: object
19219 78 8 ORtg Last Month    9.75
Name: 19219, dtype: object
19220 789 8 ORtg Last Month    98.625
Name: 19220, dtype: object
19221 1544 12 ORtg Last Month    128.667
Name: 19221, dtype: object
19222 1538 13 ORtg Last Month    118.308
Name: 19222, dtype: object
19223 393 11 ORtg Last Month    35.7273
Name: 19223, dtype: object
19224 1124 9 ORtg Last Month    124.889
Name: 19224, dtype: object
19225 1467 13 ORtg Last Month    112.846
Name: 19225, dtype: object
19226 1401 13 ORtg Last Month    107.769
Name: 19226, dtype: object
19227 1615 14 ORtg Last Month    115.357
Name: 19227, dtype: object
19228 0 0 ORtg Last Month    0
Name: 19228, dtype: object
19229 1395 14 ORtg Last Month    99.6429
Name: 19229, dtype: object
19230 1345 14 ORtg Last Month    96.0714
Name: 19230, dtype: object
19231 120 1 ORtg Last Month    120
Name: 19231, dtype: object
19232 1448 14 ORtg Last Month    103.429
Name: 19232, dtype: object
19233 1201 14 ORtg Last Month    85.7857
Name: 19233, dtype: object
19234 1314 14 ORtg Last Month    93.8571
Name: 19234, dtype: object
19235 1577 14 ORtg Last Month    112.643
Name: 19235, dtype: object
19236 1006 11 ORtg Last Month    91.4545
Name: 19236, dtype: object
19237 1590 14 ORtg Last Month    113.571
Name: 19237, dtype: object
19238 1351 13 ORtg Last Month    103.923
Name: 19238, dtype: object
19239 1291 14 ORtg Last Month    92.2143
Name: 19239, dtype: object
19240 1639 14 ORtg Last Month    117.071
Name: 19240, dtype: object
19241 1434 14 ORtg Last Month    102.429
Name: 19241, dtype: object
19242 791 14 ORtg Last Month    56.5
Name: 19242, dtype: object
19243 284 5 ORtg Last Month    56.8
Name: 19243, dtype: object
19244 1201 13 ORtg Last Month    92.3846
Name: 19244, dtype: object
19245 1503 14 ORtg Last Month    107.357
Name: 19245, dtype: object
19246 1534 14 ORtg Last Month    109.571
Name: 19246, dtype: object
19247 1540 14 ORtg Last Month    110
Name: 19247, dtype: object
19248 808 14 ORtg Last Month    57.7143
Name: 19248, dtype: object
19249 1315 13 ORtg Last Month    101.154
Name: 19249, dtype: object
19250 1215 13 ORtg Last Month    93.4615
Name: 19250, dtype: object
19251 1402 13 ORtg Last Month    107.846
Name: 19251, dtype: object
19252 247 12 ORtg Last Month    20.5833
Name: 19252, dtype: object
19253 265 2 ORtg Last Month    132.5
Name: 19253, dtype: object
19254 735 8 ORtg Last Month    91.875
Name: 19254, dtype: object
19255 529 5 ORtg Last Month    105.8
Name: 19255, dtype: object
19256 257 15 ORtg Last Month    17.1333
Name: 19256, dtype: object
19257 1595 13 ORtg Last Month    122.692
Name: 19257, dtype: object
19258 0 0 ORtg Last Month    0
Name: 19258, dtype: object
19259 500 13 ORtg Last Month    38.4615
Name: 19259, dtype: object
19260 518 8 ORtg Last Month    64.75
Name: 19260, dtype: object
19261 1330 12 ORtg Last Month    110.833
Name: 19261, dtype: object
19262 1391 13 ORtg Last Month    107
Name: 19262, dtype: object
19263 1264 13 ORtg Last Month    97.2308
Name: 19263, dtype: object
19264 200 6 ORtg Last Month    33.3333
Name: 19264, dtype: object
19265 1530 13 ORtg Last Month    117.692
Name: 19265, dtype: object
19266 806 12 ORtg Last Month    67.1667
Name: 19266, dtype: object
19267 909 13 ORtg Last Month    69.9231
Name: 19267, dtype: object
19268 202 8 ORtg Last Month    25.25
Name: 19268, dtype: object
19269 1756 13 ORtg Last Month    135.077
Name: 19269, dtype: object
19270 1550 13 ORtg Last Month    119.231
Name: 19270, dtype: object
19271 947 12 ORtg Last Month    78.9167
Name: 19271, dtype: object
19272 1107 9 ORtg Last Month    123
Name: 19272, dtype: object
19273 1928 15 ORtg Last Month    128.533
Name: 19273, dtype: object
19274 2031 15 ORtg Last Month    135.4
Name: 19274, dtype: object
19275 585 13 ORtg Last Month    45
Name: 19275, dtype: object
19276 1354 13 ORtg Last Month    104.154
Name: 19276, dtype: object
19277 1296 13 ORtg Last Month    99.6923
Name: 19277, dtype: object
19278 896 15 ORtg Last Month    59.7333
Name: 19278, dtype: object
19279 1588 15 ORtg Last Month    105.867
Name: 19279, dtype: object
19280 131 2 ORtg Last Month    65.5
Name: 19280, dtype: object
19281 547 15 ORtg Last Month    36.4667
Name: 19281, dtype: object
19282 1806 15 ORtg Last Month    120.4
Name: 19282, dtype: object
19283 1931 15 ORtg Last Month    128.733
Name: 19283, dtype: object
19284 150 2 ORtg Last Month    75
Name: 19284, dtype: object
19285 1658 15 ORtg Last Month    110.533
Name: 19285, dtype: object
19286 1380 15 ORtg Last Month    92
Name: 19286, dtype: object
19287 747 13 ORtg Last Month    57.4615
Name: 19287, dtype: object
19288 1373 14 ORtg Last Month    98.0714
Name: 19288, dtype: object
19289 1394 15 ORtg Last Month    92.9333
Name: 19289, dtype: object
19290 1429 15 ORtg Last Month    95.2667
Name: 19290, dtype: object
19291 996 13 ORtg Last Month    76.6154
Name: 19291, dtype: object
19292 1267 12 ORtg Last Month    105.583
Name: 19292, dtype: object
19293 1569 14 ORtg Last Month    112.071
Name: 19293, dtype: object
19294 1356 12 ORtg Last Month    113
Name: 19294, dtype: object
19295 596 11 ORtg Last Month    54.1818
Name: 19295, dtype: object
19296 1368 11 ORtg Last Month    124.364
Name: 19296, dtype: object
19297 1604 12 ORtg Last Month    133.667
Name: 19297, dtype: object
19298 1540 12 ORtg Last Month    128.333
Name: 19298, dtype: object
19299 981 12 ORtg Last Month    81.75
Name: 19299, dtype: object
19300 1505 12 ORtg Last Month    125.417
Name: 19300, dtype: object
19301 1695 12 ORtg Last Month    141.25
Name: 19301, dtype: object
19302 1381 9 ORtg Last Month    153.444
Name: 19302, dtype: object
19303 1285 12 ORtg Last Month    107.083
Name: 19303, dtype: object
19304 384 7 ORtg Last Month    54.8571
Name: 19304, dtype: object
19305 891 8 ORtg Last Month    111.375
Name: 19305, dtype: object
19306 1394 11 ORtg Last Month    126.727
Name: 19306, dtype: object
19307 1608 12 ORtg Last Month    134
Name: 19307, dtype: object
19308 584 12 ORtg Last Month    48.6667
Name: 19308, dtype: object
19309 1370 13 ORtg Last Month    105.385
Name: 19309, dtype: object
19310 1273 12 ORtg Last Month    106.083
Name: 19310, dtype: object
19311 1387 13 ORtg Last Month    106.692
Name: 19311, dtype: object
19312 1033 12 ORtg Last Month    86.0833
Name: 19312, dtype: object
19313 463 13 ORtg Last Month    35.6154
Name: 19313, dtype: object
19314 0 0 ORtg Last Month    0
Name: 19314, dtype: object
19315 0 13 ORtg Last Month    0
Name: 19315, dtype: object
19316 1421 12 ORtg Last Month    118.417
Name: 19316, dtype: object
19317 1181 13 ORtg Last Month    90.8462
Name: 19317, dtype: object
19318 821 13 ORtg Last Month    63.1538
Name: 19318, dtype: object
19319 1562 13 ORtg Last Month    120.154
Name: 19319, dtype: object
19320 0 13 ORtg Last Month    0
Name: 19320, dtype: object
19321 1568 14 ORtg Last Month    112
Name: 19321, dtype: object
19322 1525 13 ORtg Last Month    117.308
Name: 19322, dtype: object
19323 1396 14 ORtg Last Month    99.7143
Name: 19323, dtype: object
19324 0 0 ORtg Last Month    0
Name: 19324, dtype: object
19325 1616 13 ORtg Last Month    124.308
Name: 19325, dtype: object
19326 1375 14 ORtg Last Month    98.2143
Name: 19326, dtype: object
19327 676 13 ORtg Last Month    52
Name: 19327, dtype: object
19328 1676 14 ORtg Last Month    119.714
Name: 19328, dtype: object
19329 1745 14 ORtg Last Month    124.643
Name: 19329, dtype: object
19330 1239 14 ORtg Last Month    88.5
Name: 19330, dtype: object
19331 1309 13 ORtg Last Month    100.692
Name: 19331, dtype: object
19332 281 4 ORtg Last Month    70.25
Name: 19332, dtype: object
19333 333 4 ORtg Last Month    83.25
Name: 19333, dtype: object
19334 515 8 ORtg Last Month    64.375
Name: 19334, dtype: object
19335 979 13 ORtg Last Month    75.3077
Name: 19335, dtype: object
19336 1200 13 ORtg Last Month    92.3077
Name: 19336, dtype: object
19337 1451 13 ORtg Last Month    111.615
Name: 19337, dtype: object
19338 1418 13 ORtg Last Month    109.077
Name: 19338, dtype: object
19339 1229 13 ORtg Last Month    94.5385
Name: 19339, dtype: object
19340 1060 13 ORtg Last Month    81.5385
Name: 19340, dtype: object

19341 174 13 ORtg Last Month    13.3846
Name: 19341, dtype: object
19342 335 6 ORtg Last Month    55.8333
Name: 19342, dtype: object
19343 1679 13 ORtg Last Month    129.154
Name: 19343, dtype: object
19344 1616 13 ORtg Last Month    124.308
Name: 19344, dtype: object
19345 1566 13 ORtg Last Month    120.462
Name: 19345, dtype: object
19346 1578 14 ORtg Last Month    112.714
Name: 19346, dtype: object
19347 1085 14 ORtg Last Month    77.5
Name: 19347, dtype: object
19348 1485 14 ORtg Last Month    106.071
Name: 19348, dtype: object
19349 768 13 ORtg Last Month    59.0769
Name: 19349, dtype: object
19350 872 8 ORtg Last Month    109
Name: 19350, dtype: object
19351 1482 14 ORtg Last Month    105.857
Name: 19351, dtype: object
19352 1372 15 ORtg Last Month    91.4667
Name: 19352, dtype: object
19353 718 13 ORtg Last Month    55.2308
Name: 19353, dtype: object
19354 328 8 ORtg Last Month    41
Name: 19354, dtype: object
19355 652 5 ORtg Last Month    130.4
Name: 19355, dtype: object
19356 993 8 ORtg Last Month    124.125
Name: 19356, dtype: object
19357 850 9 ORtg Last Month    94.4444
Name: 19357, dtype: object
19358 1195 12 ORtg Last Month    99.5833
Name: 19358, dtype: object
19359 608 5 ORtg Last Month    121.6
Name: 19359, dtype: object
19360 812 12 ORtg Last Month    67.6667
Name: 19360, dtype: object
19361 1263 12 ORtg Last Month    105.25
Name: 19361, dtype: object
19362 998 12 ORtg Last Month    83.1667
Name: 19362, dtype: object
19363 893 10 ORtg Last Month    89.3
Name: 19363, dtype: object
19364 1532 12 ORtg Last Month    127.667
Name: 19364, dtype: object
19365 1384 9 ORtg Last Month    153.778
Name: 19365, dtype: object
19366 569 7 ORtg Last Month    81.2857
Name: 19366, dtype: object
19367 0 2 ORtg Last Month    0
Name: 19367, dtype: object
19368 1124 12 ORtg Last Month    93.6667
Name: 19368, dtype: object
19369 1510 13 ORtg Last Month    116.154
Name: 19369, dtype: object
19370 1459 13 ORtg Last Month    112.231
Name: 19370, dtype: object
19371 1299 10 ORtg Last Month    129.9
Name: 19371, dtype: object
19372 1262 10 ORtg Last Month    126.2
Name: 19372, dtype: object
19373 1695 15 ORtg Last Month    113
Name: 19373, dtype: object
19374 1093 13 ORtg Last Month    84.0769
Name: 19374, dtype: object
19375 1425 15 ORtg Last Month    95
Name: 19375, dtype: object
19376 1261 11 ORtg Last Month    114.636
Name: 19376, dtype: object
19377 586 15 ORtg Last Month    39.0667
Name: 19377, dtype: object
19378 453 11 ORtg Last Month    41.1818
Name: 19378, dtype: object
19379 1174 12 ORtg Last Month    97.8333
Name: 19379, dtype: object
19380 1883 14 ORtg Last Month    134.5
Name: 19380, dtype: object
19381 1293 14 ORtg Last Month    92.3571
Name: 19381, dtype: object
19382 1197 12 ORtg Last Month    99.75
Name: 19382, dtype: object
19383 774 10 ORtg Last Month    77.4
Name: 19383, dtype: object
19384 286 5 ORtg Last Month    57.2
Name: 19384, dtype: object
19385 836 14 ORtg Last Month    59.7143
Name: 19385, dtype: object
19386 1431 14 ORtg Last Month    102.214
Name: 19386, dtype: object
19387 1368 14 ORtg Last Month    97.7143
Name: 19387, dtype: object
19388 1655 14 ORtg Last Month    118.214
Name: 19388, dtype: object
19389 839 8 ORtg Last Month    104.875
Name: 19389, dtype: object
19390 512 14 ORtg Last Month    36.5714
Name: 19390, dtype: object
19391 1266 10 ORtg Last Month    126.6
Name: 19391, dtype: object
19392 1265 13 ORtg Last Month    97.3077
Name: 19392, dtype: object
19393 1456 13 ORtg Last Month    112
Name: 19393, dtype: object
19394 1575 13 ORtg Last Month    121.154
Name: 19394, dtype: object
19395 1593 13 ORtg Last Month    122.538
Name: 19395, dtype: object
19396 1261 13 ORtg Last Month    97
Name: 19396, dtype: object
19397 1314 13 ORtg Last Month    101.077
Name: 19397, dtype: object
19398 1228 13 ORtg Last Month    94.4615
Name: 19398, dtype: object
19399 1656 13 ORtg Last Month    127.385
Name: 19399, dtype: object
19400 1312 13 ORtg Last Month    100.923
Name: 19400, dtype: object
19401 1336 13 ORtg Last Month    102.769
Name: 19401, dtype: object
19402 301 13 ORtg Last Month    23.1538
Name: 19402, dtype: object
19403 1484 13 ORtg Last Month    114.154
Name: 19403, dtype: object
19404 1652 13 ORtg Last Month    127.077
Name: 19404, dtype: object
19405 1168 13 ORtg Last Month    89.8462
Name: 19405, dtype: object
19406 747 12 ORtg Last Month    62.25
Name: 19406, dtype: object
19407 404 3 ORtg Last Month    134.667
Name: 19407, dtype: object
19408 1090 11 ORtg Last Month    99.0909
Name: 19408, dtype: object
19409 1406 13 ORtg Last Month    108.154
Name: 19409, dtype: object
19410 1440 13 ORtg Last Month    110.769
Name: 19410, dtype: object
19411 95 12 ORtg Last Month    7.91667
Name: 19411, dtype: object
19412 1161 12 ORtg Last Month    96.75
Name: 19412, dtype: object
19413 1321 12 ORtg Last Month    110.083
Name: 19413, dtype: object
19414 1668 13 ORtg Last Month    128.308
Name: 19414, dtype: object
19415 1046 12 ORtg Last Month    87.1667
Name: 19415, dtype: object
19416 1514 13 ORtg Last Month    116.462
Name: 19416, dtype: object
19417 1250 12 ORtg Last Month    104.167
Name: 19417, dtype: object
19418 1264 12 ORtg Last Month    105.333
Name: 19418, dtype: object
19419 503 5 ORtg Last Month    100.6
Name: 19419, dtype: object
19420 1029 13 ORtg Last Month    79.1538
Name: 19420, dtype: object
19421 688 12 ORtg Last Month    57.3333
Name: 19421, dtype: object
19422 1373 11 ORtg Last Month    124.818
Name: 19422, dtype: object
19423 1698 13 ORtg Last Month    130.615
Name: 19423, dtype: object
19424 1362 13 ORtg Last Month    104.769
Name: 19424, dtype: object
19425 1286 13 ORtg Last Month    98.9231
Name: 19425, dtype: object
19426 1524 15 ORtg Last Month    101.6
Name: 19426, dtype: object
19427 1200 10 ORtg Last Month    120
Name: 19427, dtype: object
19428 1744 14 ORtg Last Month    124.571
Name: 19428, dtype: object
19429 1155 15 ORtg Last Month    77
Name: 19429, dtype: object
19430 1380 14 ORtg Last Month    98.5714
Name: 19430, dtype: object
19431 1415 15 ORtg Last Month    94.3333
Name: 19431, dtype: object
19432 1714 15 ORtg Last Month    114.267
Name: 19432, dtype: object
19433 1591 15 ORtg Last Month    106.067
Name: 19433, dtype: object
19434 817 15 ORtg Last Month    54.4667
Name: 19434, dtype: object
19435 1728 14 ORtg Last Month    123.429
Name: 19435, dtype: object
19436 1220 15 ORtg Last Month    81.3333
Name: 19436, dtype: object
19437 449 7 ORtg Last Month    64.1429
Name: 19437, dtype: object
19438 815 15 ORtg Last Month    54.3333
Name: 19438, dtype: object
19439 1407 13 ORtg Last Month    108.231
Name: 19439, dtype: object
19440 1304 14 ORtg Last Month    93.1429
Name: 19440, dtype: object
19441 1618 14 ORtg Last Month    115.571
Name: 19441, dtype: object
19442 284 6 ORtg Last Month    47.3333
Name: 19442, dtype: object
19443 1365 14 ORtg Last Month    97.5
Name: 19443, dtype: object
19444 1228 13 ORtg Last Month    94.4615
Name: 19444, dtype: object
19445 1354 14 ORtg Last Month    96.7143
Name: 19445, dtype: object
19446 1577 14 ORtg Last Month    112.643
Name: 19446, dtype: object
19447 1520 14 ORtg Last Month    108.571
Name: 19447, dtype: object
19448 775 14 ORtg Last Month    55.3571
Name: 19448, dtype: object
19449 1518 14 ORtg Last Month    108.429
Name: 19449, dtype: object
19450 1305 14 ORtg Last Month    93.2143
Name: 19450, dtype: object
19451 1015 14 ORtg Last Month    72.5
Name: 19451, dtype: object
19452 1487 14 ORtg Last Month    106.214
Name: 19452, dtype: object
19453 1726 14 ORtg Last Month    123.286
Name: 19453, dtype: object
19454 1644 14 ORtg Last Month    117.429
Name: 19454, dtype: object
19455 1545 14 ORtg Last Month    110.357
Name: 19455, dtype: object
19456 1711 14 ORtg Last Month    122.214
Name: 19456, dtype: object
19457 551 10 ORtg Last Month    55.1
Name: 19457, dtype: object
19458 270 2 ORtg Last Month    135
Name: 19458, dtype: object
19459 1824 14 ORtg Last Month    130.286
Name: 19459, dtype: object
19460 246 14 ORtg Last Month    17.5714
Name: 19460, dtype: object
19461 1322 13 ORtg Last Month    101.692
Name: 19461, dtype: object
19462 1251 13 ORtg Last Month    96.2308
Name: 19462, dtype: object
19463 1254 13 ORtg Last Month    96.4615
Name: 19463, dtype: object

19464 103 12 ORtg Last Month    8.58333
Name: 19464, dtype: object
19465 383 3 ORtg Last Month    127.667
Name: 19465, dtype: object
19466 975 10 ORtg Last Month    97.5
Name: 19466, dtype: object
19467 797 9 ORtg Last Month    88.5556
Name: 19467, dtype: object
19468 630 6 ORtg Last Month    105
Name: 19468, dtype: object
19469 352 15 ORtg Last Month    23.4667
Name: 19469, dtype: object
19470 385 13 ORtg Last Month    29.6154
Name: 19470, dtype: object
19471 1621 13 ORtg Last Month    124.692
Name: 19471, dtype: object
19472 607 5 ORtg Last Month    121.4
Name: 19472, dtype: object
19473 1735 14 ORtg Last Month    123.929
Name: 19473, dtype: object
19474 1445 14 ORtg Last Month    103.214
Name: 19474, dtype: object
19475 1133 10 ORtg Last Month    113.3
Name: 19475, dtype: object
19476 1457 14 ORtg Last Month    104.071
Name: 19476, dtype: object
19477 994 12 ORtg Last Month    82.8333
Name: 19477, dtype: object
19478 1461 14 ORtg Last Month    104.357
Name: 19478, dtype: object
19479 1218 13 ORtg Last Month    93.6923
Name: 19479, dtype: object
19480 1617 14 ORtg Last Month    115.5
Name: 19480, dtype: object
19481 1522 14 ORtg Last Month    108.714
Name: 19481, dtype: object
19482 1723 14 ORtg Last Month    123.071
Name: 19482, dtype: object
19483 1401 14 ORtg Last Month    100.071
Name: 19483, dtype: object
19484 1548 14 ORtg Last Month    110.571
Name: 19484, dtype: object
19485 1124 11 ORtg Last Month    102.182
Name: 19485, dtype: object
19486 1715 14 ORtg Last Month    122.5
Name: 19486, dtype: object
19487 534 9 ORtg Last Month    59.3333
Name: 19487, dtype: object
19488 1620 14 ORtg Last Month    115.714
Name: 19488, dtype: object
19489 1593 13 ORtg Last Month    122.538
Name: 19489, dtype: object
19490 336 14 ORtg Last Month    24
Name: 19490, dtype: object
19491 1950 16 ORtg Last Month    121.875
Name: 19491, dtype: object
19492 1453 16 ORtg Last Month    90.8125
Name: 19492, dtype: object
19493 1080 12 ORtg Last Month    90
Name: 19493, dtype: object
19494 757 15 ORtg Last Month    50.4667
Name: 19494, dtype: object
19495 558 6 ORtg Last Month    93
Name: 19495, dtype: object
19496 1584 12 ORtg Last Month    132
Name: 19496, dtype: object
19497 727 9 ORtg Last Month    80.7778
Name: 19497, dtype: object
19498 1004 14 ORtg Last Month    71.7143
Name: 19498, dtype: object
19499 716 15 ORtg Last Month    47.7333
Name: 19499, dtype: object
19500 1832 16 ORtg Last Month    114.5
Name: 19500, dtype: object
19501 1514 12 ORtg Last Month    126.167
Name: 19501, dtype: object
19502 1027 16 ORtg Last Month    64.1875
Name: 19502, dtype: object
19503 1634 14 ORtg Last Month    116.714
Name: 19503, dtype: object
19504 1464 15 ORtg Last Month    97.6
Name: 19504, dtype: object
19505 1197 12 ORtg Last Month    99.75
Name: 19505, dtype: object
19506 802 15 ORtg Last Month    53.4667
Name: 19506, dtype: object
19507 435 8 ORtg Last Month    54.375
Name: 19507, dtype: object
19508 1209 15 ORtg Last Month    80.6
Name: 19508, dtype: object
19509 719 10 ORtg Last Month    71.9
Name: 19509, dtype: object
19510 751 8 ORtg Last Month    93.875
Name: 19510, dtype: object
19511 245 9 ORtg Last Month    27.2222
Name: 19511, dtype: object
19512 430 10 ORtg Last Month    43
Name: 19512, dtype: object
19513 1143 12 ORtg Last Month    95.25
Name: 19513, dtype: object
19514 1484 15 ORtg Last Month    98.9333
Name: 19514, dtype: object
19515 1281 15 ORtg Last Month    85.4
Name: 19515, dtype: object
19516 1621 14 ORtg Last Month    115.786
Name: 19516, dtype: object
19517 1518 13 ORtg Last Month    116.769
Name: 19517, dtype: object
19518 1417 14 ORtg Last Month    101.214
Name: 19518, dtype: object
19519 207 1 ORtg Last Month    207
Name: 19519, dtype: object
19520 1391 13 ORtg Last Month    107
Name: 19520, dtype: object
19521 1626 14 ORtg Last Month    116.143
Name: 19521, dtype: object
19522 775 13 ORtg Last Month    59.6154
Name: 19522, dtype: object
19523 1378 14 ORtg Last Month    98.4286
Name: 19523, dtype: object
19524 1788 14 ORtg Last Month    127.714
Name: 19524, dtype: object
19525 1316 13 ORtg Last Month    101.231
Name: 19525, dtype: object
19526 1323 14 ORtg Last Month    94.5
Name: 19526, dtype: object
19527 281 5 ORtg Last Month    56.2
Name: 19527, dtype: object
19528 627 6 ORtg Last Month    104.5
Name: 19528, dtype: object
19529 1554 14 ORtg Last Month    111
Name: 19529, dtype: object
19530 1401 14 ORtg Last Month    100.071
Name: 19530, dtype: object
19531 1151 14 ORtg Last Month    82.2143
Name: 19531, dtype: object
19532 836 13 ORtg Last Month    64.3077
Name: 19532, dtype: object
19533 900 8 ORtg Last Month    112.5
Name: 19533, dtype: object
19534 1463 14 ORtg Last Month    104.5
Name: 19534, dtype: object
19535 706 7 ORtg Last Month    100.857
Name: 19535, dtype: object
19536 1332 15 ORtg Last Month    88.8
Name: 19536, dtype: object
19537 718 13 ORtg Last Month    55.2308
Name: 19537, dtype: object
19538 328 8 ORtg Last Month    41
Name: 19538, dtype: object
19539 626 5 ORtg Last Month    125.2
Name: 19539, dtype: object
19540 932 8 ORtg Last Month    116.5
Name: 19540, dtype: object
19541 989 10 ORtg Last Month    98.9
Name: 19541, dtype: object
19542 711 6 ORtg Last Month    118.5
Name: 19542, dtype: object
19543 1266 13 ORtg Last Month    97.3846
Name: 19543, dtype: object
19544 1066 13 ORtg Last Month    82
Name: 19544, dtype: object
19545 890 13 ORtg Last Month    68.4615
Name: 19545, dtype: object
19546 1368 13 ORtg Last Month    105.231
Name: 19546, dtype: object
19547 961 11 ORtg Last Month    87.3636
Name: 19547, dtype: object
19548 1605 12 ORtg Last Month    133.75
Name: 19548, dtype: object
19549 1538 10 ORtg Last Month    153.8
Name: 19549, dtype: object
19550 1124 13 ORtg Last Month    86.4615
Name: 19550, dtype: object
19551 714 8 ORtg Last Month    89.25
Name: 19551, dtype: object
19552 279 3 ORtg Last Month    93
Name: 19552, dtype: object
19553 1570 14 ORtg Last Month    112.143
Name: 19553, dtype: object
19554 1652 14 ORtg Last Month    118
Name: 19554, dtype: object
19555 0 3 ORtg Last Month    0
Name: 19555, dtype: object
19556 0 12 ORtg Last Month    0
Name: 19556, dtype: object
19557 1751 14 ORtg Last Month    125.071
Name: 19557, dtype: object
19558 1780 14 ORtg Last Month    127.143
Name: 19558, dtype: object
19559 1483 13 ORtg Last Month    114.077
Name: 19559, dtype: object
19560 1321 13 ORtg Last Month    101.615
Name: 19560, dtype: object
19561 755 13 ORtg Last Month    58.0769
Name: 19561, dtype: object
19562 1673 13 ORtg Last Month    128.692
Name: 19562, dtype: object
19563 1506 11 ORtg Last Month    136.909
Name: 19563, dtype: object
19564 1902 14 ORtg Last Month    135.857
Name: 19564, dtype: object
19565 950 12 ORtg Last Month    79.1667
Name: 19565, dtype: object
19566 1638 14 ORtg Last Month    117
Name: 19566, dtype: object
19567 429 14 ORtg Last Month    30.6429
Name: 19567, dtype: object
19568 1585 14 ORtg Last Month    113.214
Name: 19568, dtype: object
19569 1552 14 ORtg Last Month    110.857
Name: 19569, dtype: object
19570 1443 14 ORtg Last Month    103.071
Name: 19570, dtype: object
19571 1350 13 ORtg Last Month    103.846
Name: 19571, dtype: object
19572 0 10 ORtg Last Month    0
Name: 19572, dtype: object
19573 1544 14 ORtg Last Month    110.286
Name: 19573, dtype: object
19574 906 14 ORtg Last Month    64.7143
Name: 19574, dtype: object
19575 0 2 ORtg Last Month    0
Name: 19575, dtype: object
19576 247 12 ORtg Last Month    20.5833
Name: 19576, dtype: object
19577 1702 14 ORtg Last Month    121.571
Name: 19577, dtype: object
19578 970 11 ORtg Last Month    88.1818
Name: 19578, dtype: object
19579 1729 15 ORtg Last Month    115.267
Name: 19579, dtype: object
19580 2168 15 ORtg Last Month    144.533
Name: 19580, dtype: object
19581 1756 14 ORtg Last Month    125.429
Name: 19581, dtype: object
19582 1653 13 ORtg Last Month    127.154
Name: 19582, dtype: object
19583 1652 15 ORtg Last Month    110.133
Name: 19583, dtype: object
19584 1714 15 ORtg Last Month    114.267
Name: 19584, dtype: object
19585 1295 15 ORtg Last Month    86.3333
Name: 19585, dtype: object
19586 359 6 ORtg Last Month    59.8333
Name: 19586, dtype: object
19587 675 15 ORtg Last Month    45
Name: 19587, dtype: object

19588 1344 12 ORtg Last Month    112
Name: 19588, dtype: object
19589 1331 13 ORtg Last Month    102.385
Name: 19589, dtype: object
19590 278 8 ORtg Last Month    34.75
Name: 19590, dtype: object
19591 980 9 ORtg Last Month    108.889
Name: 19591, dtype: object
19592 1696 13 ORtg Last Month    130.462
Name: 19592, dtype: object
19593 1628 13 ORtg Last Month    125.231
Name: 19593, dtype: object
19594 461 12 ORtg Last Month    38.4167
Name: 19594, dtype: object
19595 721 8 ORtg Last Month    90.125
Name: 19595, dtype: object
19596 1430 13 ORtg Last Month    110
Name: 19596, dtype: object
19597 1529 13 ORtg Last Month    117.615
Name: 19597, dtype: object
19598 1230 12 ORtg Last Month    102.5
Name: 19598, dtype: object
19599 555 6 ORtg Last Month    92.5
Name: 19599, dtype: object
19600 1701 13 ORtg Last Month    130.846
Name: 19600, dtype: object
19601 1510 13 ORtg Last Month    116.154
Name: 19601, dtype: object
19602 882 8 ORtg Last Month    110.25
Name: 19602, dtype: object
19603 1531 13 ORtg Last Month    117.769
Name: 19603, dtype: object
19604 1358 13 ORtg Last Month    104.462
Name: 19604, dtype: object
19605 1154 13 ORtg Last Month    88.7692
Name: 19605, dtype: object
19606 1403 13 ORtg Last Month    107.923
Name: 19606, dtype: object
19607 141 1 ORtg Last Month    141
Name: 19607, dtype: object
19608 1450 13 ORtg Last Month    111.538
Name: 19608, dtype: object
19609 676 12 ORtg Last Month    56.3333
Name: 19609, dtype: object
19610 1208 13 ORtg Last Month    92.9231
Name: 19610, dtype: object
19611 838 13 ORtg Last Month    64.4615
Name: 19611, dtype: object
19612 0 0 ORtg Last Month    0
Name: 19612, dtype: object
19613 1460 13 ORtg Last Month    112.308
Name: 19613, dtype: object
19614 1638 13 ORtg Last Month    126
Name: 19614, dtype: object
19615 1092 13 ORtg Last Month    84
Name: 19615, dtype: object
19616 639 12 ORtg Last Month    53.25
Name: 19616, dtype: object
19617 604 4 ORtg Last Month    151
Name: 19617, dtype: object
19618 1245 11 ORtg Last Month    113.182
Name: 19618, dtype: object
19619 1442 13 ORtg Last Month    110.923
Name: 19619, dtype: object
19620 132 12 ORtg Last Month    11
Name: 19620, dtype: object
19621 1462 13 ORtg Last Month    112.462
Name: 19621, dtype: object
19622 1020 12 ORtg Last Month    85
Name: 19622, dtype: object
19623 1356 12 ORtg Last Month    113
Name: 19623, dtype: object
19624 1638 13 ORtg Last Month    126
Name: 19624, dtype: object
19625 896 12 ORtg Last Month    74.6667
Name: 19625, dtype: object
19626 1641 14 ORtg Last Month    117.214
Name: 19626, dtype: object
19627 1387 13 ORtg Last Month    106.692
Name: 19627, dtype: object
19628 1406 13 ORtg Last Month    108.154
Name: 19628, dtype: object
19629 587 6 ORtg Last Month    97.8333
Name: 19629, dtype: object
19630 688 13 ORtg Last Month    52.9231
Name: 19630, dtype: object
19631 1163 14 ORtg Last Month    83.0714
Name: 19631, dtype: object
19632 1817 14 ORtg Last Month    129.786
Name: 19632, dtype: object
19633 1530 14 ORtg Last Month    109.286
Name: 19633, dtype: object
19634 1351 14 ORtg Last Month    96.5
Name: 19634, dtype: object
19635 1549 12 ORtg Last Month    129.083
Name: 19635, dtype: object
19636 1313 12 ORtg Last Month    109.417
Name: 19636, dtype: object
19637 1385 13 ORtg Last Month    106.538
Name: 19637, dtype: object
19638 652 9 ORtg Last Month    72.4444
Name: 19638, dtype: object
19639 1354 13 ORtg Last Month    104.154
Name: 19639, dtype: object
19640 400 7 ORtg Last Month    57.1429
Name: 19640, dtype: object
19641 1566 13 ORtg Last Month    120.462
Name: 19641, dtype: object
19642 920 12 ORtg Last Month    76.6667
Name: 19642, dtype: object
19643 265 9 ORtg Last Month    29.4444
Name: 19643, dtype: object
19644 925 13 ORtg Last Month    71.1538
Name: 19644, dtype: object
19645 1812 13 ORtg Last Month    139.385
Name: 19645, dtype: object
19646 1523 13 ORtg Last Month    117.154
Name: 19646, dtype: object
19647 1015 13 ORtg Last Month    78.0769
Name: 19647, dtype: object
19648 1486 12 ORtg Last Month    123.833
Name: 19648, dtype: object
19649 1714 13 ORtg Last Month    131.846
Name: 19649, dtype: object
19650 1747 13 ORtg Last Month    134.385
Name: 19650, dtype: object
19651 1052 13 ORtg Last Month    80.9231
Name: 19651, dtype: object
19652 1620 13 ORtg Last Month    124.615
Name: 19652, dtype: object
19653 1516 10 ORtg Last Month    151.6
Name: 19653, dtype: object
19654 1285 13 ORtg Last Month    98.8462
Name: 19654, dtype: object
19655 384 8 ORtg Last Month    48
Name: 19655, dtype: object
19656 1496 12 ORtg Last Month    124.667
Name: 19656, dtype: object
19657 999 9 ORtg Last Month    111
Name: 19657, dtype: object
19658 1711 13 ORtg Last Month    131.615
Name: 19658, dtype: object
19659 584 13 ORtg Last Month    44.9231
Name: 19659, dtype: object
19660 1440 13 ORtg Last Month    110.769
Name: 19660, dtype: object
19661 739 7 ORtg Last Month    105.571
Name: 19661, dtype: object
19662 1400 13 ORtg Last Month    107.692
Name: 19662, dtype: object
19663 1065 11 ORtg Last Month    96.8182
Name: 19663, dtype: object
19664 322 3 ORtg Last Month    107.333
Name: 19664, dtype: object
19665 1341 13 ORtg Last Month    103.154
Name: 19665, dtype: object
19666 1334 12 ORtg Last Month    111.167
Name: 19666, dtype: object
19667 1089 12 ORtg Last Month    90.75
Name: 19667, dtype: object
19668 1507 13 ORtg Last Month    115.923
Name: 19668, dtype: object
19669 1414 12 ORtg Last Month    117.833
Name: 19669, dtype: object
19670 919 13 ORtg Last Month    70.6923
Name: 19670, dtype: object
19671 1020 13 ORtg Last Month    78.4615
Name: 19671, dtype: object
19672 1288 13 ORtg Last Month    99.0769
Name: 19672, dtype: object
19673 1245 12 ORtg Last Month    103.75
Name: 19673, dtype: object
19674 1359 13 ORtg Last Month    104.538
Name: 19674, dtype: object
19675 1022 12 ORtg Last Month    85.1667
Name: 19675, dtype: object
19676 453 13 ORtg Last Month    34.8462
Name: 19676, dtype: object
19677 200 1 ORtg Last Month    200
Name: 19677, dtype: object
19678 0 13 ORtg Last Month    0
Name: 19678, dtype: object
19679 1409 12 ORtg Last Month    117.417
Name: 19679, dtype: object
19680 1445 13 ORtg Last Month    111.154
Name: 19680, dtype: object
19681 952 13 ORtg Last Month    73.2308
Name: 19681, dtype: object
19682 1180 13 ORtg Last Month    90.7692
Name: 19682, dtype: object
19683 0 13 ORtg Last Month    0
Name: 19683, dtype: object
19684 1761 15 ORtg Last Month    117.4
Name: 19684, dtype: object
19685 1089 13 ORtg Last Month    83.7692
Name: 19685, dtype: object
19686 429 15 ORtg Last Month    28.6
Name: 19686, dtype: object
19687 1696 15 ORtg Last Month    113.067
Name: 19687, dtype: object
19688 1516 15 ORtg Last Month    101.067
Name: 19688, dtype: object
19689 1673 15 ORtg Last Month    111.533
Name: 19689, dtype: object
19690 1429 14 ORtg Last Month    102.071
Name: 19690, dtype: object
19691 0 11 ORtg Last Month    0
Name: 19691, dtype: object
19692 1650 15 ORtg Last Month    110
Name: 19692, dtype: object
19693 1041 15 ORtg Last Month    69.4
Name: 19693, dtype: object
19694 324 13 ORtg Last Month    24.9231
Name: 19694, dtype: object
19695 202 3 ORtg Last Month    67.3333
Name: 19695, dtype: object
19696 1581 13 ORtg Last Month    121.615
Name: 19696, dtype: object
19697 1503 13 ORtg Last Month    115.615
Name: 19697, dtype: object
19698 1702 15 ORtg Last Month    113.467
Name: 19698, dtype: object
19699 1414 11 ORtg Last Month    128.545
Name: 19699, dtype: object
19700 1339 10 ORtg Last Month    133.9
Name: 19700, dtype: object
19701 1168 13 ORtg Last Month    89.8462
Name: 19701, dtype: object
19702 1416 15 ORtg Last Month    94.4
Name: 19702, dtype: object
19703 603 10 ORtg Last Month    60.3
Name: 19703, dtype: object
19704 1658 14 ORtg Last Month    118.429
Name: 19704, dtype: object
19705 1213 11 ORtg Last Month    110.273
Name: 19705, dtype: object
19706 782 15 ORtg Last Month    52.1333
Name: 19706, dtype: object
19707 1174 12 ORtg Last Month    97.8333
Name: 19707, dtype: object
19708 453 11 ORtg Last Month    41.1818
Name: 19708, dtype: object
19709 1198 11 ORtg Last Month    108.909
Name: 19709, dtype: object
19710 1118 12 ORtg Last Month    93.1667
Name: 19710, dtype: object
19711 1287 14 ORtg Last Month    91.9286
Name: 19711, dtype: object

19712 794 10 ORtg Last Month    79.4
Name: 19712, dtype: object
19713 286 6 ORtg Last Month    47.6667
Name: 19713, dtype: object
19714 802 14 ORtg Last Month    57.2857
Name: 19714, dtype: object
19715 1358 14 ORtg Last Month    97
Name: 19715, dtype: object
19716 1662 14 ORtg Last Month    118.714
Name: 19716, dtype: object
19717 1488 14 ORtg Last Month    106.286
Name: 19717, dtype: object
19718 878 8 ORtg Last Month    109.75
Name: 19718, dtype: object
19719 1216 10 ORtg Last Month    121.6
Name: 19719, dtype: object
19720 582 14 ORtg Last Month    41.5714
Name: 19720, dtype: object
19721 1339 11 ORtg Last Month    121.727
Name: 19721, dtype: object
19722 1510 12 ORtg Last Month    125.833
Name: 19722, dtype: object
19723 90 7 ORtg Last Month    12.8571
Name: 19723, dtype: object
19724 1352 12 ORtg Last Month    112.667
Name: 19724, dtype: object
19725 965 10 ORtg Last Month    96.5
Name: 19725, dtype: object
19726 1286 12 ORtg Last Month    107.167
Name: 19726, dtype: object
19727 1521 12 ORtg Last Month    126.75
Name: 19727, dtype: object
19728 1641 12 ORtg Last Month    136.75
Name: 19728, dtype: object
19729 1320 12 ORtg Last Month    110
Name: 19729, dtype: object
19730 1168 12 ORtg Last Month    97.3333
Name: 19730, dtype: object
19731 1892 12 ORtg Last Month    157.667
Name: 19731, dtype: object
19732 326 4 ORtg Last Month    81.5
Name: 19732, dtype: object
19733 1225 13 ORtg Last Month    94.2308
Name: 19733, dtype: object
19734 1582 13 ORtg Last Month    121.692
Name: 19734, dtype: object
19735 1474 13 ORtg Last Month    113.385
Name: 19735, dtype: object
19736 1266 13 ORtg Last Month    97.3846
Name: 19736, dtype: object
19737 1209 13 ORtg Last Month    93
Name: 19737, dtype: object
19738 1588 13 ORtg Last Month    122.154
Name: 19738, dtype: object
19739 1309 13 ORtg Last Month    100.692
Name: 19739, dtype: object
19740 697 9 ORtg Last Month    77.4444
Name: 19740, dtype: object
19741 1251 13 ORtg Last Month    96.2308
Name: 19741, dtype: object
19742 1656 13 ORtg Last Month    127.385
Name: 19742, dtype: object
19743 1292 13 ORtg Last Month    99.3846
Name: 19743, dtype: object
19744 301 13 ORtg Last Month    23.1538
Name: 19744, dtype: object
19745 1475 13 ORtg Last Month    113.462
Name: 19745, dtype: object
19746 1200 13 ORtg Last Month    92.3077
Name: 19746, dtype: object
19747 104 1 ORtg Last Month    104
Name: 19747, dtype: object
19748 1272 13 ORtg Last Month    97.8462
Name: 19748, dtype: object
19749 256 2 ORtg Last Month    128
Name: 19749, dtype: object
19750 1228 13 ORtg Last Month    94.4615
Name: 19750, dtype: object
19751 1153 13 ORtg Last Month    88.6923
Name: 19751, dtype: object
19752 1444 13 ORtg Last Month    111.077
Name: 19752, dtype: object
19753 1508 13 ORtg Last Month    116
Name: 19753, dtype: object
19754 1087 12 ORtg Last Month    90.5833
Name: 19754, dtype: object
19755 1421 13 ORtg Last Month    109.308
Name: 19755, dtype: object
19756 1318 14 ORtg Last Month    94.1429
Name: 19756, dtype: object
19757 1537 14 ORtg Last Month    109.786
Name: 19757, dtype: object
19758 1294 14 ORtg Last Month    92.4286
Name: 19758, dtype: object
19759 535 13 ORtg Last Month    41.1538
Name: 19759, dtype: object
19760 1257 13 ORtg Last Month    96.6923
Name: 19760, dtype: object
19761 1412 14 ORtg Last Month    100.857
Name: 19761, dtype: object
19762 0 4 ORtg Last Month    0
Name: 19762, dtype: object
19763 1608 14 ORtg Last Month    114.857
Name: 19763, dtype: object
19764 1555 14 ORtg Last Month    111.071
Name: 19764, dtype: object
19765 838 14 ORtg Last Month    59.8571
Name: 19765, dtype: object
19766 1568 14 ORtg Last Month    112
Name: 19766, dtype: object
19767 1262 14 ORtg Last Month    90.1429
Name: 19767, dtype: object
19768 1561 14 ORtg Last Month    111.5
Name: 19768, dtype: object
19769 1773 14 ORtg Last Month    126.643
Name: 19769, dtype: object
19770 1692 14 ORtg Last Month    120.857
Name: 19770, dtype: object
19771 1754 14 ORtg Last Month    125.286
Name: 19771, dtype: object
19772 1553 14 ORtg Last Month    110.929
Name: 19772, dtype: object
19773 428 10 ORtg Last Month    42.8
Name: 19773, dtype: object
19774 405 3 ORtg Last Month    135
Name: 19774, dtype: object
19775 1739 14 ORtg Last Month    124.214
Name: 19775, dtype: object
19776 82 14 ORtg Last Month    5.85714
Name: 19776, dtype: object
19777 1295 14 ORtg Last Month    92.5
Name: 19777, dtype: object
19778 1243 13 ORtg Last Month    95.6154
Name: 19778, dtype: object
19779 1262 13 ORtg Last Month    97.0769
Name: 19779, dtype: object
19780 1349 13 ORtg Last Month    103.769
Name: 19780, dtype: object
19781 285 12 ORtg Last Month    23.75
Name: 19781, dtype: object
19782 461 4 ORtg Last Month    115.25
Name: 19782, dtype: object
19783 834 10 ORtg Last Month    83.4
Name: 19783, dtype: object
19784 1039 10 ORtg Last Month    103.9
Name: 19784, dtype: object
19785 764 7 ORtg Last Month    109.143
Name: 19785, dtype: object
19786 376 15 ORtg Last Month    25.0667
Name: 19786, dtype: object
19787 91 1 ORtg Last Month    91
Name: 19787, dtype: object
19788 685 13 ORtg Last Month    52.6923
Name: 19788, dtype: object
19789 247 8 ORtg Last Month    30.875
Name: 19789, dtype: object
19790 1305 12 ORtg Last Month    108.75
Name: 19790, dtype: object
19791 1241 13 ORtg Last Month    95.4615
Name: 19791, dtype: object
19792 652 9 ORtg Last Month    72.4444
Name: 19792, dtype: object
19793 1398 13 ORtg Last Month    107.538
Name: 19793, dtype: object
19794 1610 13 ORtg Last Month    123.846
Name: 19794, dtype: object
19795 925 14 ORtg Last Month    66.0714
Name: 19795, dtype: object
19796 956 13 ORtg Last Month    73.5385
Name: 19796, dtype: object
19797 265 9 ORtg Last Month    29.4444
Name: 19797, dtype: object
19798 1820 13 ORtg Last Month    140
Name: 19798, dtype: object
19799 1377 13 ORtg Last Month    105.923
Name: 19799, dtype: object
19800 1077 13 ORtg Last Month    82.8462
Name: 19800, dtype: object
19801 2009 15 ORtg Last Month    133.933
Name: 19801, dtype: object
19802 1842 15 ORtg Last Month    122.8
Name: 19802, dtype: object
19803 1104 9 ORtg Last Month    122.667
Name: 19803, dtype: object
19804 1448 14 ORtg Last Month    103.429
Name: 19804, dtype: object
19805 1442 15 ORtg Last Month    96.1333
Name: 19805, dtype: object
19806 131 3 ORtg Last Month    43.6667
Name: 19806, dtype: object
19807 1324 13 ORtg Last Month    101.846
Name: 19807, dtype: object
19808 1006 15 ORtg Last Month    67.0667
Name: 19808, dtype: object
19809 1793 15 ORtg Last Month    119.533
Name: 19809, dtype: object
19810 1922 15 ORtg Last Month    128.133
Name: 19810, dtype: object
19811 1394 12 ORtg Last Month    116.167
Name: 19811, dtype: object
19812 1609 14 ORtg Last Month    114.929
Name: 19812, dtype: object
19813 1207 14 ORtg Last Month    86.2143
Name: 19813, dtype: object
19814 1201 14 ORtg Last Month    85.7857
Name: 19814, dtype: object
19815 1441 13 ORtg Last Month    110.846
Name: 19815, dtype: object
19816 750 12 ORtg Last Month    62.5
Name: 19816, dtype: object
19817 1343 14 ORtg Last Month    95.9286
Name: 19817, dtype: object
19818 728 12 ORtg Last Month    60.6667
Name: 19818, dtype: object
19819 1060 12 ORtg Last Month    88.3333
Name: 19819, dtype: object
19820 1297 11 ORtg Last Month    117.909
Name: 19820, dtype: object
19821 1605 14 ORtg Last Month    114.643
Name: 19821, dtype: object
19822 327 10 ORtg Last Month    32.7
Name: 19822, dtype: object
19823 1503 13 ORtg Last Month    115.615
Name: 19823, dtype: object
19824 1697 14 ORtg Last Month    121.214
Name: 19824, dtype: object
19825 736 6 ORtg Last Month    122.667
Name: 19825, dtype: object
19826 1461 14 ORtg Last Month    104.357
Name: 19826, dtype: object
19827 1486 14 ORtg Last Month    106.143
Name: 19827, dtype: object
19828 1224 11 ORtg Last Month    111.273
Name: 19828, dtype: object
19829 1385 14 ORtg Last Month    98.9286
Name: 19829, dtype: object
19830 923 12 ORtg Last Month    76.9167
Name: 19830, dtype: object
19831 1262 13 ORtg Last Month    97.0769
Name: 19831, dtype: object
19832 270 7 ORtg Last Month    38.5714
Name: 19832, dtype: object
19833 302 11 ORtg Last Month    27.4545
Name: 19833, dtype: object
19834 1535 14 ORtg Last Month    109.643
Name: 19834, dtype: object

19835 1729 14 ORtg Last Month    123.5
Name: 19835, dtype: object
19836 1547 14 ORtg Last Month    110.5
Name: 19836, dtype: object
19837 1326 14 ORtg Last Month    94.7143
Name: 19837, dtype: object
19838 1670 14 ORtg Last Month    119.286
Name: 19838, dtype: object
19839 1148 11 ORtg Last Month    104.364
Name: 19839, dtype: object
19840 1554 14 ORtg Last Month    111
Name: 19840, dtype: object
19841 823 9 ORtg Last Month    91.4444
Name: 19841, dtype: object
19842 589 9 ORtg Last Month    65.4444
Name: 19842, dtype: object
19843 1727 14 ORtg Last Month    123.357
Name: 19843, dtype: object
19844 1572 14 ORtg Last Month    112.286
Name: 19844, dtype: object
19845 242 14 ORtg Last Month    17.2857
Name: 19845, dtype: object
19846 1998 16 ORtg Last Month    124.875
Name: 19846, dtype: object
19847 1510 16 ORtg Last Month    94.375
Name: 19847, dtype: object
19848 1080 13 ORtg Last Month    83.0769
Name: 19848, dtype: object
19849 630 15 ORtg Last Month    42
Name: 19849, dtype: object
19850 1615 12 ORtg Last Month    134.583
Name: 19850, dtype: object
19851 1063 15 ORtg Last Month    70.8667
Name: 19851, dtype: object
19852 596 6 ORtg Last Month    99.3333
Name: 19852, dtype: object
19853 846 10 ORtg Last Month    84.6
Name: 19853, dtype: object
19854 716 15 ORtg Last Month    47.7333
Name: 19854, dtype: object
19855 1832 16 ORtg Last Month    114.5
Name: 19855, dtype: object
19856 1495 12 ORtg Last Month    124.583
Name: 19856, dtype: object
19857 926 16 ORtg Last Month    57.875
Name: 19857, dtype: object
19858 1424 14 ORtg Last Month    101.714
Name: 19858, dtype: object
19859 1346 13 ORtg Last Month    103.538
Name: 19859, dtype: object
19860 1518 14 ORtg Last Month    108.429
Name: 19860, dtype: object
19861 1146 13 ORtg Last Month    88.1538
Name: 19861, dtype: object
19862 453 14 ORtg Last Month    32.3571
Name: 19862, dtype: object
19863 200 2 ORtg Last Month    100
Name: 19863, dtype: object
19864 0 14 ORtg Last Month    0
Name: 19864, dtype: object
19865 1220 14 ORtg Last Month    87.1429
Name: 19865, dtype: object
19866 1018 14 ORtg Last Month    72.7143
Name: 19866, dtype: object
19867 1546 13 ORtg Last Month    118.923
Name: 19867, dtype: object
19868 1570 14 ORtg Last Month    112.143
Name: 19868, dtype: object
19869 0 14 ORtg Last Month    0
Name: 19869, dtype: object
19870 1468 13 ORtg Last Month    112.923
Name: 19870, dtype: object
19871 1640 14 ORtg Last Month    117.143
Name: 19871, dtype: object
19872 1543 14 ORtg Last Month    110.214
Name: 19872, dtype: object
19873 457 2 ORtg Last Month    228.5
Name: 19873, dtype: object
19874 1627 13 ORtg Last Month    125.154
Name: 19874, dtype: object
19875 1352 13 ORtg Last Month    104
Name: 19875, dtype: object
19876 1681 14 ORtg Last Month    120.071
Name: 19876, dtype: object
19877 1284 14 ORtg Last Month    91.7143
Name: 19877, dtype: object
19878 873 13 ORtg Last Month    67.1538
Name: 19878, dtype: object
19879 1722 14 ORtg Last Month    123
Name: 19879, dtype: object
19880 1224 13 ORtg Last Month    94.1538
Name: 19880, dtype: object
19881 1299 14 ORtg Last Month    92.7857
Name: 19881, dtype: object
19882 438 5 ORtg Last Month    87.6
Name: 19882, dtype: object
19883 545 8 ORtg Last Month    68.125
Name: 19883, dtype: object
19884 650 7 ORtg Last Month    92.8571
Name: 19884, dtype: object
19885 979 13 ORtg Last Month    75.3077
Name: 19885, dtype: object
19886 460 5 ORtg Last Month    92
Name: 19886, dtype: object
19887 1521 13 ORtg Last Month    117
Name: 19887, dtype: object
19888 1521 13 ORtg Last Month    117
Name: 19888, dtype: object
19889 1140 13 ORtg Last Month    87.6923
Name: 19889, dtype: object
19890 1060 13 ORtg Last Month    81.5385
Name: 19890, dtype: object
19891 174 13 ORtg Last Month    13.3846
Name: 19891, dtype: object
19892 1658 13 ORtg Last Month    127.538
Name: 19892, dtype: object
19893 1638 13 ORtg Last Month    126
Name: 19893, dtype: object
19894 1544 13 ORtg Last Month    118.769
Name: 19894, dtype: object
19895 842 7 ORtg Last Month    120.286
Name: 19895, dtype: object
19896 604 5 ORtg Last Month    120.8
Name: 19896, dtype: object
19897 1205 13 ORtg Last Month    92.6923
Name: 19897, dtype: object
19898 1056 13 ORtg Last Month    81.2308
Name: 19898, dtype: object
19899 1255 13 ORtg Last Month    96.5385
Name: 19899, dtype: object
19900 887 13 ORtg Last Month    68.2308
Name: 19900, dtype: object
19901 848 11 ORtg Last Month    77.0909
Name: 19901, dtype: object
19902 1608 12 ORtg Last Month    134
Name: 19902, dtype: object
19903 1705 11 ORtg Last Month    155
Name: 19903, dtype: object
19904 1181 13 ORtg Last Month    90.8462
Name: 19904, dtype: object
19905 661 8 ORtg Last Month    82.625
Name: 19905, dtype: object
19906 279 4 ORtg Last Month    69.75
Name: 19906, dtype: object
19907 1525 14 ORtg Last Month    108.929
Name: 19907, dtype: object
19908 123 4 ORtg Last Month    30.75
Name: 19908, dtype: object
19909 0 12 ORtg Last Month    0
Name: 19909, dtype: object
19910 1796 14 ORtg Last Month    128.286
Name: 19910, dtype: object
19911 1507 13 ORtg Last Month    115.923
Name: 19911, dtype: object
19912 1187 13 ORtg Last Month    91.3077
Name: 19912, dtype: object
19913 548 13 ORtg Last Month    42.1538
Name: 19913, dtype: object
19914 200 1 ORtg Last Month    200
Name: 19914, dtype: object
19915 1639 13 ORtg Last Month    126.077
Name: 19915, dtype: object
19916 1612 12 ORtg Last Month    134.333
Name: 19916, dtype: object
19917 1905 14 ORtg Last Month    136.071
Name: 19917, dtype: object
19918 1329 11 ORtg Last Month    120.818
Name: 19918, dtype: object
19919 1495 12 ORtg Last Month    124.583
Name: 19919, dtype: object
19920 1515 12 ORtg Last Month    126.25
Name: 19920, dtype: object
19921 1573 12 ORtg Last Month    131.083
Name: 19921, dtype: object
19922 1044 11 ORtg Last Month    94.9091
Name: 19922, dtype: object
19923 1300 12 ORtg Last Month    108.333
Name: 19923, dtype: object
19924 1334 12 ORtg Last Month    111.167
Name: 19924, dtype: object
19925 1280 12 ORtg Last Month    106.667
Name: 19925, dtype: object
19926 1132 12 ORtg Last Month    94.3333
Name: 19926, dtype: object
19927 1839 12 ORtg Last Month    153.25
Name: 19927, dtype: object
19928 326 5 ORtg Last Month    65.2
Name: 19928, dtype: object
19929 1343 12 ORtg Last Month    111.917
Name: 19929, dtype: object
19930 278 9 ORtg Last Month    30.8889
Name: 19930, dtype: object
19931 948 9 ORtg Last Month    105.333
Name: 19931, dtype: object
19932 1658 13 ORtg Last Month    127.538
Name: 19932, dtype: object
19933 692 13 ORtg Last Month    53.2308
Name: 19933, dtype: object
19934 624 8 ORtg Last Month    78
Name: 19934, dtype: object
19935 1621 13 ORtg Last Month    124.692
Name: 19935, dtype: object
19936 1468 13 ORtg Last Month    112.923
Name: 19936, dtype: object
19937 1509 13 ORtg Last Month    116.077
Name: 19937, dtype: object
19938 1306 13 ORtg Last Month    100.462
Name: 19938, dtype: object
19939 473 6 ORtg Last Month    78.8333
Name: 19939, dtype: object
19940 1451 13 ORtg Last Month    111.615
Name: 19940, dtype: object
19941 657 12 ORtg Last Month    54.75
Name: 19941, dtype: object
19942 1170 13 ORtg Last Month    90
Name: 19942, dtype: object
19943 1473 13 ORtg Last Month    113.308
Name: 19943, dtype: object
19944 320 13 ORtg Last Month    24.6154
Name: 19944, dtype: object
19945 1484 13 ORtg Last Month    114.154
Name: 19945, dtype: object
19946 1353 11 ORtg Last Month    123
Name: 19946, dtype: object
19947 1020 12 ORtg Last Month    85
Name: 19947, dtype: object
19948 1299 12 ORtg Last Month    108.25
Name: 19948, dtype: object
19949 1643 13 ORtg Last Month    126.385
Name: 19949, dtype: object
19950 696 12 ORtg Last Month    58
Name: 19950, dtype: object
19951 1630 14 ORtg Last Month    116.429
Name: 19951, dtype: object
19952 1114 14 ORtg Last Month    79.5714
Name: 19952, dtype: object
19953 681 7 ORtg Last Month    97.2857
Name: 19953, dtype: object
19954 1359 13 ORtg Last Month    104.538
Name: 19954, dtype: object
19955 765 13 ORtg Last Month    58.8462
Name: 19955, dtype: object
19956 1782 14 ORtg Last Month    127.286
Name: 19956, dtype: object
19957 1441 12 ORtg Last Month    120.083
Name: 19957, dtype: object
19958 1590 14 ORtg Last Month    113.571
Name: 19958, dtype: object

19959 1484 14 ORtg Last Month    106
Name: 19959, dtype: object
19960 1567 14 ORtg Last Month    111.929
Name: 19960, dtype: object
19961 1543 13 ORtg Last Month    118.692
Name: 19961, dtype: object
19962 1105 14 ORtg Last Month    78.9286
Name: 19962, dtype: object
19963 1591 14 ORtg Last Month    113.643
Name: 19963, dtype: object
19964 1298 13 ORtg Last Month    99.8462
Name: 19964, dtype: object
19965 1259 14 ORtg Last Month    89.9286
Name: 19965, dtype: object
19966 1510 14 ORtg Last Month    107.857
Name: 19966, dtype: object
19967 584 14 ORtg Last Month    41.7143
Name: 19967, dtype: object
19968 1653 13 ORtg Last Month    127.154
Name: 19968, dtype: object
19969 1221 14 ORtg Last Month    87.2143
Name: 19969, dtype: object
19970 729 14 ORtg Last Month    52.0714
Name: 19970, dtype: object
19971 241 6 ORtg Last Month    40.1667
Name: 19971, dtype: object
19972 1690 13 ORtg Last Month    130
Name: 19972, dtype: object
19973 1469 12 ORtg Last Month    122.417
Name: 19973, dtype: object
19974 1686 13 ORtg Last Month    129.692
Name: 19974, dtype: object
19975 1043 13 ORtg Last Month    80.2308
Name: 19975, dtype: object
19976 1579 13 ORtg Last Month    121.462
Name: 19976, dtype: object
19977 1680 12 ORtg Last Month    140
Name: 19977, dtype: object
19978 1391 13 ORtg Last Month    107
Name: 19978, dtype: object
19979 1562 10 ORtg Last Month    156.2
Name: 19979, dtype: object
19980 144 3 ORtg Last Month    48
Name: 19980, dtype: object
19981 1091 10 ORtg Last Month    109.1
Name: 19981, dtype: object
19982 1424 12 ORtg Last Month    118.667
Name: 19982, dtype: object
19983 1662 13 ORtg Last Month    127.846
Name: 19983, dtype: object
19984 463 13 ORtg Last Month    35.6154
Name: 19984, dtype: object
19985 807 8 ORtg Last Month    100.875
Name: 19985, dtype: object
19986 1474 13 ORtg Last Month    113.385
Name: 19986, dtype: object
19987 1281 13 ORtg Last Month    98.5385
Name: 19987, dtype: object
19988 426 4 ORtg Last Month    106.5
Name: 19988, dtype: object
19989 1149 11 ORtg Last Month    104.455
Name: 19989, dtype: object
19990 1275 12 ORtg Last Month    106.25
Name: 19990, dtype: object
19991 1356 13 ORtg Last Month    104.308
Name: 19991, dtype: object
19992 1573 13 ORtg Last Month    121
Name: 19992, dtype: object
19993 941 13 ORtg Last Month    72.3846
Name: 19993, dtype: object
19994 1428 12 ORtg Last Month    119
Name: 19994, dtype: object
19995 1360 14 ORtg Last Month    97.1429
Name: 19995, dtype: object
19996 1168 12 ORtg Last Month    97.3333
Name: 19996, dtype: object
19997 825 15 ORtg Last Month    55
Name: 19997, dtype: object
19998 435 8 ORtg Last Month    54.375
Name: 19998, dtype: object
19999 1613 14 ORtg Last Month    115.214
Name: 19999, dtype: object
20000 861 10 ORtg Last Month    86.1
Name: 20000, dtype: object
20001 1279 15 ORtg Last Month    85.2667
Name: 20001, dtype: object
20002 814 9 ORtg Last Month    90.4444
Name: 20002, dtype: object
20003 0 0 ORtg Last Month    0
Name: 20003, dtype: object
20004 1170 12 ORtg Last Month    97.5
Name: 20004, dtype: object
20005 1445 15 ORtg Last Month    96.3333
Name: 20005, dtype: object
20006 1416 15 ORtg Last Month    94.4
Name: 20006, dtype: object
20007 1547 14 ORtg Last Month    110.5
Name: 20007, dtype: object
20008 1200 14 ORtg Last Month    85.7143
Name: 20008, dtype: object
20009 1363 14 ORtg Last Month    97.3571
Name: 20009, dtype: object
20010 886 13 ORtg Last Month    68.1538
Name: 20010, dtype: object
20011 718 7 ORtg Last Month    102.571
Name: 20011, dtype: object
20012 1498 14 ORtg Last Month    107
Name: 20012, dtype: object
20013 1031 9 ORtg Last Month    114.556
Name: 20013, dtype: object
20014 1135 14 ORtg Last Month    81.0714
Name: 20014, dtype: object
20015 718 13 ORtg Last Month    55.2308
Name: 20015, dtype: object
20016 910 8 ORtg Last Month    113.75
Name: 20016, dtype: object
20017 1383 12 ORtg Last Month    115.25
Name: 20017, dtype: object
20018 632 5 ORtg Last Month    126.4
Name: 20018, dtype: object
20019 1082 11 ORtg Last Month    98.3636
Name: 20019, dtype: object
20020 1005 13 ORtg Last Month    77.3077
Name: 20020, dtype: object
20021 1854 15 ORtg Last Month    123.6
Name: 20021, dtype: object
20022 429 15 ORtg Last Month    28.6
Name: 20022, dtype: object
20023 1723 15 ORtg Last Month    114.867
Name: 20023, dtype: object
20024 1521 15 ORtg Last Month    101.4
Name: 20024, dtype: object
20025 1428 14 ORtg Last Month    102
Name: 20025, dtype: object
20026 1685 15 ORtg Last Month    112.333
Name: 20026, dtype: object
20027 80 11 ORtg Last Month    7.27273
Name: 20027, dtype: object
20028 1712 15 ORtg Last Month    114.133
Name: 20028, dtype: object
20029 989 15 ORtg Last Month    65.9333
Name: 20029, dtype: object
20030 431 4 ORtg Last Month    107.75
Name: 20030, dtype: object
20031 415 13 ORtg Last Month    31.9231
Name: 20031, dtype: object
20032 1436 13 ORtg Last Month    110.462
Name: 20032, dtype: object
20033 1624 13 ORtg Last Month    124.923
Name: 20033, dtype: object
20034 1373 10 ORtg Last Month    137.3
Name: 20034, dtype: object
20035 1471 11 ORtg Last Month    133.727
Name: 20035, dtype: object
20036 1764 15 ORtg Last Month    117.6
Name: 20036, dtype: object
20037 820 10 ORtg Last Month    82
Name: 20037, dtype: object
20038 1303 13 ORtg Last Month    100.231
Name: 20038, dtype: object
20039 1513 15 ORtg Last Month    100.867
Name: 20039, dtype: object
20040 1527 14 ORtg Last Month    109.071
Name: 20040, dtype: object
20041 1365 12 ORtg Last Month    113.75
Name: 20041, dtype: object
20042 952 15 ORtg Last Month    63.4667
Name: 20042, dtype: object
20043 1059 12 ORtg Last Month    88.25
Name: 20043, dtype: object
20044 453 12 ORtg Last Month    37.75
Name: 20044, dtype: object
20045 1608 14 ORtg Last Month    114.857
Name: 20045, dtype: object
20046 1531 14 ORtg Last Month    109.357
Name: 20046, dtype: object
20047 133 8 ORtg Last Month    16.625
Name: 20047, dtype: object
20048 1368 12 ORtg Last Month    114
Name: 20048, dtype: object
20049 901 10 ORtg Last Month    90.1
Name: 20049, dtype: object
20050 1419 12 ORtg Last Month    118.25
Name: 20050, dtype: object
20051 1533 13 ORtg Last Month    117.923
Name: 20051, dtype: object
20052 1745 14 ORtg Last Month    124.643
Name: 20052, dtype: object
20053 771 14 ORtg Last Month    55.0714
Name: 20053, dtype: object
20054 1543 13 ORtg Last Month    118.692
Name: 20054, dtype: object
20055 1936 14 ORtg Last Month    138.286
Name: 20055, dtype: object
20056 130 5 ORtg Last Month    26
Name: 20056, dtype: object
20057 1154 14 ORtg Last Month    82.4286
Name: 20057, dtype: object
20058 1364 12 ORtg Last Month    113.667
Name: 20058, dtype: object
20059 1016 9 ORtg Last Month    112.889
Name: 20059, dtype: object
20060 261 2 ORtg Last Month    130.5
Name: 20060, dtype: object
20061 840 12 ORtg Last Month    70
Name: 20061, dtype: object
20062 1348 12 ORtg Last Month    112.333
Name: 20062, dtype: object
20063 1303 12 ORtg Last Month    108.583
Name: 20063, dtype: object
20064 1330 12 ORtg Last Month    110.833
Name: 20064, dtype: object
20065 1143 12 ORtg Last Month    95.25
Name: 20065, dtype: object
20066 174 1 ORtg Last Month    174
Name: 20066, dtype: object
20067 1157 12 ORtg Last Month    96.4167
Name: 20067, dtype: object
20068 1621 12 ORtg Last Month    135.083
Name: 20068, dtype: object
20069 1394 12 ORtg Last Month    116.167
Name: 20069, dtype: object
20070 774 12 ORtg Last Month    64.5
Name: 20070, dtype: object
20071 1609 14 ORtg Last Month    114.929
Name: 20071, dtype: object
20072 1337 15 ORtg Last Month    89.1333
Name: 20072, dtype: object
20073 0 3 ORtg Last Month    0
Name: 20073, dtype: object
20074 1465 14 ORtg Last Month    104.643
Name: 20074, dtype: object
20075 1704 15 ORtg Last Month    113.6
Name: 20075, dtype: object
20076 1601 15 ORtg Last Month    106.733
Name: 20076, dtype: object
20077 1389 15 ORtg Last Month    92.6
Name: 20077, dtype: object
20078 584 15 ORtg Last Month    38.9333
Name: 20078, dtype: object
20079 1796 14 ORtg Last Month    128.286
Name: 20079, dtype: object
20080 1429 15 ORtg Last Month    95.2667
Name: 20080, dtype: object
20081 729 15 ORtg Last Month    48.6
Name: 20081, dtype: object
20082 1594 14 ORtg Last Month    113.857
Name: 20082, dtype: object

20083 158 2 ORtg Last Month    79
Name: 20083, dtype: object
20084 1415 14 ORtg Last Month    101.071
Name: 20084, dtype: object
20085 1464 14 ORtg Last Month    104.571
Name: 20085, dtype: object
20086 1334 13 ORtg Last Month    102.615
Name: 20086, dtype: object
20087 379 3 ORtg Last Month    126.333
Name: 20087, dtype: object
20088 1578 14 ORtg Last Month    112.714
Name: 20088, dtype: object
20089 1614 14 ORtg Last Month    115.286
Name: 20089, dtype: object
20090 1164 13 ORtg Last Month    89.5385
Name: 20090, dtype: object
20091 1454 13 ORtg Last Month    111.846
Name: 20091, dtype: object
20092 1577 14 ORtg Last Month    112.643
Name: 20092, dtype: object
20093 1232 14 ORtg Last Month    88
Name: 20093, dtype: object
20094 535 13 ORtg Last Month    41.1538
Name: 20094, dtype: object
20095 1233 13 ORtg Last Month    94.8462
Name: 20095, dtype: object
20096 1328 14 ORtg Last Month    94.8571
Name: 20096, dtype: object
20097 0 5 ORtg Last Month    0
Name: 20097, dtype: object
20098 1606 14 ORtg Last Month    114.714
Name: 20098, dtype: object
20099 1525 14 ORtg Last Month    108.929
Name: 20099, dtype: object
20100 838 14 ORtg Last Month    59.8571
Name: 20100, dtype: object
20101 1349 13 ORtg Last Month    103.769
Name: 20101, dtype: object
20102 1236 13 ORtg Last Month    95.0769
Name: 20102, dtype: object
20103 1322 13 ORtg Last Month    101.692
Name: 20103, dtype: object
20104 411 12 ORtg Last Month    34.25
Name: 20104, dtype: object
20105 941 10 ORtg Last Month    94.1
Name: 20105, dtype: object
20106 542 5 ORtg Last Month    108.4
Name: 20106, dtype: object
20107 176 8 ORtg Last Month    22
Name: 20107, dtype: object
20108 834 11 ORtg Last Month    75.8182
Name: 20108, dtype: object
20109 456 15 ORtg Last Month    30.4
Name: 20109, dtype: object
20110 900 8 ORtg Last Month    112.5
Name: 20110, dtype: object
20111 1424 12 ORtg Last Month    118.667
Name: 20111, dtype: object
20112 685 13 ORtg Last Month    52.6923
Name: 20112, dtype: object
20113 1290 12 ORtg Last Month    107.5
Name: 20113, dtype: object
20114 1253 13 ORtg Last Month    96.3846
Name: 20114, dtype: object
20115 1330 13 ORtg Last Month    102.308
Name: 20115, dtype: object
20116 765 9 ORtg Last Month    85
Name: 20116, dtype: object
20117 1572 13 ORtg Last Month    120.923
Name: 20117, dtype: object
20118 956 13 ORtg Last Month    73.5385
Name: 20118, dtype: object
20119 1049 14 ORtg Last Month    74.9286
Name: 20119, dtype: object
20120 265 9 ORtg Last Month    29.4444
Name: 20120, dtype: object
20121 1383 13 ORtg Last Month    106.385
Name: 20121, dtype: object
20122 1057 13 ORtg Last Month    81.3077
Name: 20122, dtype: object
20123 1833 13 ORtg Last Month    141
Name: 20123, dtype: object
20124 363 9 ORtg Last Month    40.3333
Name: 20124, dtype: object
20125 1750 14 ORtg Last Month    125
Name: 20125, dtype: object
20126 1887 14 ORtg Last Month    134.786
Name: 20126, dtype: object
20127 993 8 ORtg Last Month    124.125
Name: 20127, dtype: object
20128 0 0 ORtg Last Month    0
Name: 20128, dtype: object
20129 1384 13 ORtg Last Month    106.462
Name: 20129, dtype: object
20130 1416 14 ORtg Last Month    101.143
Name: 20130, dtype: object
20131 1324 14 ORtg Last Month    94.5714
Name: 20131, dtype: object
20132 933 14 ORtg Last Month    66.6429
Name: 20132, dtype: object
20133 131 4 ORtg Last Month    32.75
Name: 20133, dtype: object
20134 247 13 ORtg Last Month    19
Name: 20134, dtype: object
20135 1619 14 ORtg Last Month    115.643
Name: 20135, dtype: object
20136 1287 11 ORtg Last Month    117
Name: 20136, dtype: object
20137 1789 14 ORtg Last Month    127.786
Name: 20137, dtype: object
20138 1647 14 ORtg Last Month    117.643
Name: 20138, dtype: object
20139 1126 14 ORtg Last Month    80.4286
Name: 20139, dtype: object
20140 1337 13 ORtg Last Month    102.846
Name: 20140, dtype: object
20141 450 12 ORtg Last Month    37.5
Name: 20141, dtype: object
20142 1423 14 ORtg Last Month    101.643
Name: 20142, dtype: object
20143 766 12 ORtg Last Month    63.8333
Name: 20143, dtype: object
20144 1299 14 ORtg Last Month    92.7857
Name: 20144, dtype: object
20145 1310 11 ORtg Last Month    119.091
Name: 20145, dtype: object
20146 1597 14 ORtg Last Month    114.071
Name: 20146, dtype: object
20147 421 11 ORtg Last Month    38.2727
Name: 20147, dtype: object
20148 1714 13 ORtg Last Month    131.846
Name: 20148, dtype: object
20149 1639 13 ORtg Last Month    126.077
Name: 20149, dtype: object
20150 1498 12 ORtg Last Month    124.833
Name: 20150, dtype: object
20151 1157 13 ORtg Last Month    89
Name: 20151, dtype: object
20152 1589 13 ORtg Last Month    122.231
Name: 20152, dtype: object
20153 1514 10 ORtg Last Month    151.4
Name: 20153, dtype: object
20154 144 4 ORtg Last Month    36
Name: 20154, dtype: object
20155 1416 13 ORtg Last Month    108.923
Name: 20155, dtype: object
20156 1436 12 ORtg Last Month    119.667
Name: 20156, dtype: object
20157 422 13 ORtg Last Month    32.4615
Name: 20157, dtype: object
20158 1812 13 ORtg Last Month    139.385
Name: 20158, dtype: object
20159 1701 14 ORtg Last Month    121.5
Name: 20159, dtype: object
20160 903 7 ORtg Last Month    129
Name: 20160, dtype: object
20161 1332 12 ORtg Last Month    111
Name: 20161, dtype: object
20162 1372 14 ORtg Last Month    98
Name: 20162, dtype: object
20163 1576 14 ORtg Last Month    112.571
Name: 20163, dtype: object
20164 957 12 ORtg Last Month    79.75
Name: 20164, dtype: object
20165 1425 14 ORtg Last Month    101.786
Name: 20165, dtype: object
20166 1535 14 ORtg Last Month    109.643
Name: 20166, dtype: object
20167 487 8 ORtg Last Month    60.875
Name: 20167, dtype: object
20168 302 11 ORtg Last Month    27.4545
Name: 20168, dtype: object
20169 1835 15 ORtg Last Month    122.333
Name: 20169, dtype: object
20170 1630 15 ORtg Last Month    108.667
Name: 20170, dtype: object
20171 1326 15 ORtg Last Month    88.4
Name: 20171, dtype: object
20172 1649 15 ORtg Last Month    109.933
Name: 20172, dtype: object
20173 1820 15 ORtg Last Month    121.333
Name: 20173, dtype: object
20174 1265 12 ORtg Last Month    105.417
Name: 20174, dtype: object
20175 985 10 ORtg Last Month    98.5
Name: 20175, dtype: object
20176 589 10 ORtg Last Month    58.9
Name: 20176, dtype: object
20177 1683 15 ORtg Last Month    112.2
Name: 20177, dtype: object
20178 1879 15 ORtg Last Month    125.267
Name: 20178, dtype: object
20179 242 15 ORtg Last Month    16.1333
Name: 20179, dtype: object
20180 1506 16 ORtg Last Month    94.125
Name: 20180, dtype: object
20181 511 15 ORtg Last Month    34.0667
Name: 20181, dtype: object
20182 2007 16 ORtg Last Month    125.438
Name: 20182, dtype: object
20183 1312 14 ORtg Last Month    93.7143
Name: 20183, dtype: object
20184 586 6 ORtg Last Month    97.6667
Name: 20184, dtype: object
20185 1083 15 ORtg Last Month    72.2
Name: 20185, dtype: object
20186 1665 12 ORtg Last Month    138.75
Name: 20186, dtype: object
20187 840 10 ORtg Last Month    84
Name: 20187, dtype: object
20188 716 15 ORtg Last Month    47.7333
Name: 20188, dtype: object
20189 1851 16 ORtg Last Month    115.688
Name: 20189, dtype: object
20190 1395 12 ORtg Last Month    116.25
Name: 20190, dtype: object
20191 926 16 ORtg Last Month    57.875
Name: 20191, dtype: object
20192 1067 12 ORtg Last Month    88.9167
Name: 20192, dtype: object
20193 1503 15 ORtg Last Month    100.2
Name: 20193, dtype: object
20194 1613 15 ORtg Last Month    107.533
Name: 20194, dtype: object
20195 888 16 ORtg Last Month    55.5
Name: 20195, dtype: object
20196 435 9 ORtg Last Month    48.3333
Name: 20196, dtype: object
20197 890 10 ORtg Last Month    89
Name: 20197, dtype: object
20198 970 11 ORtg Last Month    88.1818
Name: 20198, dtype: object
20199 1364 16 ORtg Last Month    85.25
Name: 20199, dtype: object
20200 150 1 ORtg Last Month    150
Name: 20200, dtype: object
20201 1322 13 ORtg Last Month    101.692
Name: 20201, dtype: object
20202 1522 16 ORtg Last Month    95.125
Name: 20202, dtype: object
20203 1528 16 ORtg Last Month    95.5
Name: 20203, dtype: object
20204 1358 14 ORtg Last Month    97
Name: 20204, dtype: object
20205 1323 13 ORtg Last Month    101.769
Name: 20205, dtype: object
20206 1185 13 ORtg Last Month    91.1538
Name: 20206, dtype: object

20207 1467 14 ORtg Last Month    104.786
Name: 20207, dtype: object
20208 411 14 ORtg Last Month    29.3571
Name: 20208, dtype: object
20209 426 3 ORtg Last Month    142
Name: 20209, dtype: object
20210 0 14 ORtg Last Month    0
Name: 20210, dtype: object
20211 1204 14 ORtg Last Month    86
Name: 20211, dtype: object
20212 1514 14 ORtg Last Month    108.143
Name: 20212, dtype: object
20213 1631 14 ORtg Last Month    116.5
Name: 20213, dtype: object
20214 983 14 ORtg Last Month    70.2143
Name: 20214, dtype: object
20215 0 14 ORtg Last Month    0
Name: 20215, dtype: object
20216 1515 13 ORtg Last Month    116.538
Name: 20216, dtype: object
20217 1495 14 ORtg Last Month    106.786
Name: 20217, dtype: object
20218 1588 14 ORtg Last Month    113.429
Name: 20218, dtype: object
20219 457 3 ORtg Last Month    152.333
Name: 20219, dtype: object
20220 1629 13 ORtg Last Month    125.308
Name: 20220, dtype: object
20221 1375 13 ORtg Last Month    105.769
Name: 20221, dtype: object
20222 1623 14 ORtg Last Month    115.929
Name: 20222, dtype: object
20223 1240 14 ORtg Last Month    88.5714
Name: 20223, dtype: object
20224 1024 13 ORtg Last Month    78.7692
Name: 20224, dtype: object
20225 1662 14 ORtg Last Month    118.714
Name: 20225, dtype: object
20226 1217 13 ORtg Last Month    93.6154
Name: 20226, dtype: object
20227 1156 14 ORtg Last Month    82.5714
Name: 20227, dtype: object
20228 438 6 ORtg Last Month    73
Name: 20228, dtype: object
20229 576 8 ORtg Last Month    72
Name: 20229, dtype: object
20230 774 8 ORtg Last Month    96.75
Name: 20230, dtype: object
20231 522 6 ORtg Last Month    87
Name: 20231, dtype: object
20232 1085 13 ORtg Last Month    83.4615
Name: 20232, dtype: object
20233 1394 13 ORtg Last Month    107.231
Name: 20233, dtype: object
20234 1166 13 ORtg Last Month    89.6923
Name: 20234, dtype: object
20235 1538 13 ORtg Last Month    118.308
Name: 20235, dtype: object
20236 1034 13 ORtg Last Month    79.5385
Name: 20236, dtype: object
20237 174 13 ORtg Last Month    13.3846
Name: 20237, dtype: object
20238 1669 13 ORtg Last Month    128.385
Name: 20238, dtype: object
20239 1581 13 ORtg Last Month    121.615
Name: 20239, dtype: object
20240 1541 13 ORtg Last Month    118.538
Name: 20240, dtype: object
20241 1272 13 ORtg Last Month    97.8462
Name: 20241, dtype: object
20242 981 8 ORtg Last Month    122.625
Name: 20242, dtype: object
20243 745 6 ORtg Last Month    124.167
Name: 20243, dtype: object
20244 1251 13 ORtg Last Month    96.2308
Name: 20244, dtype: object
20245 767 11 ORtg Last Month    69.7273
Name: 20245, dtype: object
20246 1032 13 ORtg Last Month    79.3846
Name: 20246, dtype: object
20247 818 13 ORtg Last Month    62.9231
Name: 20247, dtype: object
20248 1871 12 ORtg Last Month    155.917
Name: 20248, dtype: object
20249 1580 12 ORtg Last Month    131.667
Name: 20249, dtype: object
20250 623 8 ORtg Last Month    77.875
Name: 20250, dtype: object
20251 1161 13 ORtg Last Month    89.3077
Name: 20251, dtype: object
20252 279 5 ORtg Last Month    55.8
Name: 20252, dtype: object
20253 1406 13 ORtg Last Month    108.154
Name: 20253, dtype: object
20254 1676 13 ORtg Last Month    128.923
Name: 20254, dtype: object
20255 1397 10 ORtg Last Month    139.7
Name: 20255, dtype: object
20256 1843 16 ORtg Last Month    115.188
Name: 20256, dtype: object
20257 1459 11 ORtg Last Month    132.636
Name: 20257, dtype: object
20258 1736 16 ORtg Last Month    108.5
Name: 20258, dtype: object
20259 990 10 ORtg Last Month    99
Name: 20259, dtype: object
20260 1480 14 ORtg Last Month    105.714
Name: 20260, dtype: object
20261 1371 12 ORtg Last Month    114.25
Name: 20261, dtype: object
20262 1065 16 ORtg Last Month    66.5625
Name: 20262, dtype: object
20263 453 12 ORtg Last Month    37.75
Name: 20263, dtype: object
20264 1059 12 ORtg Last Month    88.25
Name: 20264, dtype: object
20265 794 11 ORtg Last Month    72.1818
Name: 20265, dtype: object
20266 1307 12 ORtg Last Month    108.917
Name: 20266, dtype: object
20267 1097 12 ORtg Last Month    91.4167
Name: 20267, dtype: object
20268 687 14 ORtg Last Month    49.0714
Name: 20268, dtype: object
20269 1248 14 ORtg Last Month    89.1429
Name: 20269, dtype: object
20270 286 7 ORtg Last Month    40.8571
Name: 20270, dtype: object
20271 1431 14 ORtg Last Month    102.214
Name: 20271, dtype: object
20272 1633 14 ORtg Last Month    116.643
Name: 20272, dtype: object
20273 1361 14 ORtg Last Month    97.2143
Name: 20273, dtype: object
20274 885 8 ORtg Last Month    110.625
Name: 20274, dtype: object
20275 1205 10 ORtg Last Month    120.5
Name: 20275, dtype: object
20276 697 14 ORtg Last Month    49.7857
Name: 20276, dtype: object
20277 1327 11 ORtg Last Month    120.636
Name: 20277, dtype: object
20278 1429 12 ORtg Last Month    119.083
Name: 20278, dtype: object
20279 0 6 ORtg Last Month    0
Name: 20279, dtype: object
20280 1564 12 ORtg Last Month    130.333
Name: 20280, dtype: object
20281 1206 12 ORtg Last Month    100.5
Name: 20281, dtype: object
20282 1497 12 ORtg Last Month    124.75
Name: 20282, dtype: object
20283 1119 12 ORtg Last Month    93.25
Name: 20283, dtype: object
20284 1397 12 ORtg Last Month    116.417
Name: 20284, dtype: object
20285 1281 12 ORtg Last Month    106.75
Name: 20285, dtype: object
20286 1141 12 ORtg Last Month    95.0833
Name: 20286, dtype: object
20287 326 6 ORtg Last Month    54.3333
Name: 20287, dtype: object
20288 1812 12 ORtg Last Month    151
Name: 20288, dtype: object
20289 1237 13 ORtg Last Month    95.1538
Name: 20289, dtype: object
20290 1610 13 ORtg Last Month    123.846
Name: 20290, dtype: object
20291 1199 12 ORtg Last Month    99.9167
Name: 20291, dtype: object
20292 1146 12 ORtg Last Month    95.5
Name: 20292, dtype: object
20293 1599 13 ORtg Last Month    123
Name: 20293, dtype: object
20294 1261 13 ORtg Last Month    97
Name: 20294, dtype: object
20295 1134 13 ORtg Last Month    87.2308
Name: 20295, dtype: object
20296 697 10 ORtg Last Month    69.7
Name: 20296, dtype: object
20297 1649 13 ORtg Last Month    126.846
Name: 20297, dtype: object
20298 1322 13 ORtg Last Month    101.692
Name: 20298, dtype: object
20299 1136 13 ORtg Last Month    87.3846
Name: 20299, dtype: object
20300 301 13 ORtg Last Month    23.1538
Name: 20300, dtype: object
20301 1410 12 ORtg Last Month    117.5
Name: 20301, dtype: object
20302 1312 12 ORtg Last Month    109.333
Name: 20302, dtype: object
20303 278 9 ORtg Last Month    30.8889
Name: 20303, dtype: object
20304 631 8 ORtg Last Month    78.875
Name: 20304, dtype: object
20305 1573 13 ORtg Last Month    121
Name: 20305, dtype: object
20306 1642 13 ORtg Last Month    126.308
Name: 20306, dtype: object
20307 1493 13 ORtg Last Month    114.846
Name: 20307, dtype: object
20308 1519 13 ORtg Last Month    116.846
Name: 20308, dtype: object
20309 1315 13 ORtg Last Month    101.154
Name: 20309, dtype: object
20310 473 7 ORtg Last Month    67.5714
Name: 20310, dtype: object
20311 1474 13 ORtg Last Month    113.385
Name: 20311, dtype: object
20312 1200 13 ORtg Last Month    92.3077
Name: 20312, dtype: object
20313 777 12 ORtg Last Month    64.75
Name: 20313, dtype: object
20314 1275 11 ORtg Last Month    115.909
Name: 20314, dtype: object
20315 1492 13 ORtg Last Month    114.769
Name: 20315, dtype: object
20316 1454 13 ORtg Last Month    111.846
Name: 20316, dtype: object
20317 450 13 ORtg Last Month    34.6154
Name: 20317, dtype: object
20318 1002 12 ORtg Last Month    83.5
Name: 20318, dtype: object
20319 1409 13 ORtg Last Month    108.385
Name: 20319, dtype: object
20320 1660 13 ORtg Last Month    127.692
Name: 20320, dtype: object
20321 611 12 ORtg Last Month    50.9167
Name: 20321, dtype: object
20322 1607 14 ORtg Last Month    114.786
Name: 20322, dtype: object
20323 746 8 ORtg Last Month    93.25
Name: 20323, dtype: object
20324 1331 13 ORtg Last Month    102.385
Name: 20324, dtype: object
20325 1204 14 ORtg Last Month    86
Name: 20325, dtype: object
20326 584 13 ORtg Last Month    44.9231
Name: 20326, dtype: object
20327 0 0 ORtg Last Month    0
Name: 20327, dtype: object
20328 1559 13 ORtg Last Month    119.923
Name: 20328, dtype: object
20329 1457 14 ORtg Last Month    104.071
Name: 20329, dtype: object
20330 1561 14 ORtg Last Month    111.5
Name: 20330, dtype: object

20331 1797 14 ORtg Last Month    128.357
Name: 20331, dtype: object
20332 1175 13 ORtg Last Month    90.3846
Name: 20332, dtype: object
20333 1471 13 ORtg Last Month    113.154
Name: 20333, dtype: object
20334 783 12 ORtg Last Month    65.25
Name: 20334, dtype: object
20335 1093 13 ORtg Last Month    84.0769
Name: 20335, dtype: object
20336 1501 13 ORtg Last Month    115.462
Name: 20336, dtype: object
20337 1472 13 ORtg Last Month    113.231
Name: 20337, dtype: object
20338 1609 13 ORtg Last Month    123.769
Name: 20338, dtype: object
20339 1618 13 ORtg Last Month    124.462
Name: 20339, dtype: object
20340 1469 13 ORtg Last Month    113
Name: 20340, dtype: object
20341 428 9 ORtg Last Month    47.5556
Name: 20341, dtype: object
20342 547 4 ORtg Last Month    136.75
Name: 20342, dtype: object
20343 82 13 ORtg Last Month    6.30769
Name: 20343, dtype: object
20344 1567 14 ORtg Last Month    111.929
Name: 20344, dtype: object
20345 1292 14 ORtg Last Month    92.2857
Name: 20345, dtype: object
20346 1309 14 ORtg Last Month    93.5
Name: 20346, dtype: object
20347 886 13 ORtg Last Month    68.1538
Name: 20347, dtype: object
20348 1060 10 ORtg Last Month    106
Name: 20348, dtype: object
20349 708 7 ORtg Last Month    101.143
Name: 20349, dtype: object
20350 1393 14 ORtg Last Month    99.5
Name: 20350, dtype: object
20351 1087 14 ORtg Last Month    77.6429
Name: 20351, dtype: object
20352 718 13 ORtg Last Month    55.2308
Name: 20352, dtype: object
20353 901 8 ORtg Last Month    112.625
Name: 20353, dtype: object
20354 537 5 ORtg Last Month    107.4
Name: 20354, dtype: object
20355 1359 12 ORtg Last Month    113.25
Name: 20355, dtype: object
20356 1102 12 ORtg Last Month    91.8333
Name: 20356, dtype: object
20357 1069 9 ORtg Last Month    118.778
Name: 20357, dtype: object
20358 745 7 ORtg Last Month    106.429
Name: 20358, dtype: object
20359 1404 14 ORtg Last Month    100.286
Name: 20359, dtype: object
20360 1362 14 ORtg Last Month    97.2857
Name: 20360, dtype: object
20361 1119 14 ORtg Last Month    79.9286
Name: 20361, dtype: object
20362 1012 12 ORtg Last Month    84.3333
Name: 20362, dtype: object
20363 1721 13 ORtg Last Month    132.385
Name: 20363, dtype: object
20364 682 9 ORtg Last Month    75.7778
Name: 20364, dtype: object
20365 2014 13 ORtg Last Month    154.923
Name: 20365, dtype: object
20366 1243 14 ORtg Last Month    88.7857
Name: 20366, dtype: object
20367 279 6 ORtg Last Month    46.5
Name: 20367, dtype: object
20368 1525 14 ORtg Last Month    108.929
Name: 20368, dtype: object
20369 143 12 ORtg Last Month    11.9167
Name: 20369, dtype: object
20370 293 5 ORtg Last Month    58.6
Name: 20370, dtype: object
20371 1855 14 ORtg Last Month    132.5
Name: 20371, dtype: object
20372 1524 13 ORtg Last Month    117.231
Name: 20372, dtype: object
20373 988 13 ORtg Last Month    76
Name: 20373, dtype: object
20374 525 13 ORtg Last Month    40.3846
Name: 20374, dtype: object
20375 200 2 ORtg Last Month    100
Name: 20375, dtype: object
20376 1678 13 ORtg Last Month    129.077
Name: 20376, dtype: object
20377 1566 13 ORtg Last Month    120.462
Name: 20377, dtype: object
20378 1789 14 ORtg Last Month    127.786
Name: 20378, dtype: object
20379 1030 13 ORtg Last Month    79.2308
Name: 20379, dtype: object
20380 1824 15 ORtg Last Month    121.6
Name: 20380, dtype: object
20381 574 15 ORtg Last Month    38.2667
Name: 20381, dtype: object
20382 1447 14 ORtg Last Month    103.357
Name: 20382, dtype: object
20383 1511 15 ORtg Last Month    100.733
Name: 20383, dtype: object
20384 1616 15 ORtg Last Month    107.733
Name: 20384, dtype: object
20385 1716 15 ORtg Last Month    114.4
Name: 20385, dtype: object
20386 289 11 ORtg Last Month    26.2727
Name: 20386, dtype: object
20387 1720 15 ORtg Last Month    114.667
Name: 20387, dtype: object
20388 990 15 ORtg Last Month    66
Name: 20388, dtype: object
20389 715 13 ORtg Last Month    55
Name: 20389, dtype: object
20390 476 5 ORtg Last Month    95.2
Name: 20390, dtype: object
20391 625 5 ORtg Last Month    125
Name: 20391, dtype: object
20392 1159 11 ORtg Last Month    105.364
Name: 20392, dtype: object
20393 1173 10 ORtg Last Month    117.3
Name: 20393, dtype: object
20394 0 0 ORtg Last Month    0
Name: 20394, dtype: object
20395 1128 11 ORtg Last Month    102.545
Name: 20395, dtype: object
20396 1253 11 ORtg Last Month    113.909
Name: 20396, dtype: object
20397 1244 11 ORtg Last Month    113.091
Name: 20397, dtype: object
20398 1042 11 ORtg Last Month    94.7273
Name: 20398, dtype: object
20399 422 11 ORtg Last Month    38.3636
Name: 20399, dtype: object
20400 1273 10 ORtg Last Month    127.3
Name: 20400, dtype: object
20401 428 11 ORtg Last Month    38.9091
Name: 20401, dtype: object
20402 1350 11 ORtg Last Month    122.727
Name: 20402, dtype: object
20403 205 5 ORtg Last Month    41
Name: 20403, dtype: object
20404 1162 11 ORtg Last Month    105.636
Name: 20404, dtype: object
20405 1175 11 ORtg Last Month    106.818
Name: 20405, dtype: object
20406 259 3 ORtg Last Month    86.3333
Name: 20406, dtype: object
20407 502 4 ORtg Last Month    125.5
Name: 20407, dtype: object
20408 1052 10 ORtg Last Month    105.2
Name: 20408, dtype: object
20409 1186 11 ORtg Last Month    107.818
Name: 20409, dtype: object
20410 856 10 ORtg Last Month    85.6
Name: 20410, dtype: object
20411 0 0 ORtg Last Month    0
Name: 20411, dtype: object
20412 824 10 ORtg Last Month    82.4
Name: 20412, dtype: object
20413 1237 11 ORtg Last Month    112.455
Name: 20413, dtype: object
20414 1289 11 ORtg Last Month    117.182
Name: 20414, dtype: object
20415 1030 11 ORtg Last Month    93.6364
Name: 20415, dtype: object
20416 992 10 ORtg Last Month    99.2
Name: 20416, dtype: object
20417 1046 10 ORtg Last Month    104.6
Name: 20417, dtype: object
20418 493 12 ORtg Last Month    41.0833
Name: 20418, dtype: object
20419 996 10 ORtg Last Month    99.6
Name: 20419, dtype: object
20420 751 7 ORtg Last Month    107.286
Name: 20420, dtype: object
20421 775 6 ORtg Last Month    129.167
Name: 20421, dtype: object
20422 195 5 ORtg Last Month    39
Name: 20422, dtype: object
20423 966 9 ORtg Last Month    107.333
Name: 20423, dtype: object
20424 987 9 ORtg Last Month    109.667
Name: 20424, dtype: object
20425 193 2 ORtg Last Month    96.5
Name: 20425, dtype: object
20426 489 12 ORtg Last Month    40.75
Name: 20426, dtype: object
20427 436 10 ORtg Last Month    43.6
Name: 20427, dtype: object
20428 1195 10 ORtg Last Month    119.5
Name: 20428, dtype: object
20429 1083 9 ORtg Last Month    120.333
Name: 20429, dtype: object
20430 658 10 ORtg Last Month    65.8
Name: 20430, dtype: object
20431 1196 9 ORtg Last Month    132.889
Name: 20431, dtype: object
20432 1264 10 ORtg Last Month    126.4
Name: 20432, dtype: object
20433 1181 8 ORtg Last Month    147.625
Name: 20433, dtype: object
20434 908 7 ORtg Last Month    129.714
Name: 20434, dtype: object
20435 1187 10 ORtg Last Month    118.7
Name: 20435, dtype: object
20436 235 5 ORtg Last Month    47
Name: 20436, dtype: object
20437 949 9 ORtg Last Month    105.444
Name: 20437, dtype: object
20438 995 9 ORtg Last Month    110.556
Name: 20438, dtype: object
20439 1409 10 ORtg Last Month    140.9
Name: 20439, dtype: object
20440 366 10 ORtg Last Month    36.6
Name: 20440, dtype: object
20441 1035 8 ORtg Last Month    129.375
Name: 20441, dtype: object
20442 1325 11 ORtg Last Month    120.455
Name: 20442, dtype: object
20443 1084 10 ORtg Last Month    108.4
Name: 20443, dtype: object
20444 1096 10 ORtg Last Month    109.6
Name: 20444, dtype: object
20445 1058 11 ORtg Last Month    96.1818
Name: 20445, dtype: object
20446 1241 11 ORtg Last Month    112.818
Name: 20446, dtype: object
20447 0 0 ORtg Last Month    0
Name: 20447, dtype: object
20448 1444 11 ORtg Last Month    131.273
Name: 20448, dtype: object
20449 946 11 ORtg Last Month    86
Name: 20449, dtype: object
20450 0 8 ORtg Last Month    0
Name: 20450, dtype: object
20451 1044 9 ORtg Last Month    116
Name: 20451, dtype: object
20452 893 9 ORtg Last Month    99.2222
Name: 20452, dtype: object
20453 932 9 ORtg Last Month    103.556
Name: 20453, dtype: object
20454 41 2 ORtg Last Month    20.5
Name: 20454, dtype: object
20455 557 5 ORtg Last Month    111.4
Name: 20455, dtype: object

20456 714 7 ORtg Last Month    102
Name: 20456, dtype: object
20457 837 8 ORtg Last Month    104.625
Name: 20457, dtype: object
20458 996 9 ORtg Last Month    110.667
Name: 20458, dtype: object
20459 452 7 ORtg Last Month    64.5714
Name: 20459, dtype: object
20460 1063 9 ORtg Last Month    118.111
Name: 20460, dtype: object
20461 392 8 ORtg Last Month    49
Name: 20461, dtype: object
20462 712 9 ORtg Last Month    79.1111
Name: 20462, dtype: object
20463 0 0 ORtg Last Month    0
Name: 20463, dtype: object
20464 1025 10 ORtg Last Month    102.5
Name: 20464, dtype: object
20465 1050 11 ORtg Last Month    95.4545
Name: 20465, dtype: object
20466 993 10 ORtg Last Month    99.3
Name: 20466, dtype: object
20467 1262 11 ORtg Last Month    114.727
Name: 20467, dtype: object
20468 335 11 ORtg Last Month    30.4545
Name: 20468, dtype: object
20469 164 3 ORtg Last Month    54.6667
Name: 20469, dtype: object
20470 426 4 ORtg Last Month    106.5
Name: 20470, dtype: object
20471 0 11 ORtg Last Month    0
Name: 20471, dtype: object
20472 963 11 ORtg Last Month    87.5455
Name: 20472, dtype: object
20473 1281 11 ORtg Last Month    116.455
Name: 20473, dtype: object
20474 1238 11 ORtg Last Month    112.545
Name: 20474, dtype: object
20475 1044 11 ORtg Last Month    94.9091
Name: 20475, dtype: object
20476 0 11 ORtg Last Month    0
Name: 20476, dtype: object
20477 1209 10 ORtg Last Month    120.9
Name: 20477, dtype: object
20478 1166 11 ORtg Last Month    106
Name: 20478, dtype: object
20479 1116 11 ORtg Last Month    101.455
Name: 20479, dtype: object
20480 1279 10 ORtg Last Month    127.9
Name: 20480, dtype: object
20481 1083 10 ORtg Last Month    108.3
Name: 20481, dtype: object
20482 1350 11 ORtg Last Month    122.727
Name: 20482, dtype: object
20483 775 11 ORtg Last Month    70.4545
Name: 20483, dtype: object
20484 858 10 ORtg Last Month    85.8
Name: 20484, dtype: object
20485 1259 11 ORtg Last Month    114.455
Name: 20485, dtype: object
20486 887 10 ORtg Last Month    88.7
Name: 20486, dtype: object
20487 96 2 ORtg Last Month    48
Name: 20487, dtype: object
20488 757 11 ORtg Last Month    68.8182
Name: 20488, dtype: object
20489 438 7 ORtg Last Month    62.5714
Name: 20489, dtype: object
20490 1077 10 ORtg Last Month    107.7
Name: 20490, dtype: object
20491 1297 10 ORtg Last Month    129.7
Name: 20491, dtype: object
20492 1463 13 ORtg Last Month    112.538
Name: 20492, dtype: object
20493 1167 8 ORtg Last Month    145.875
Name: 20493, dtype: object
20494 991 8 ORtg Last Month    123.875
Name: 20494, dtype: object
20495 1250 13 ORtg Last Month    96.1538
Name: 20495, dtype: object
20496 852 7 ORtg Last Month    121.714
Name: 20496, dtype: object
20497 1325 12 ORtg Last Month    110.417
Name: 20497, dtype: object
20498 1043 13 ORtg Last Month    80.2308
Name: 20498, dtype: object
20499 648 9 ORtg Last Month    72
Name: 20499, dtype: object
20500 94 9 ORtg Last Month    10.4444
Name: 20500, dtype: object
20501 992 9 ORtg Last Month    110.222
Name: 20501, dtype: object
20502 775 9 ORtg Last Month    86.1111
Name: 20502, dtype: object
20503 832 11 ORtg Last Month    75.6364
Name: 20503, dtype: object
20504 948 11 ORtg Last Month    86.1818
Name: 20504, dtype: object
20505 130 2 ORtg Last Month    65
Name: 20505, dtype: object
20506 494 11 ORtg Last Month    44.9091
Name: 20506, dtype: object
20507 1112 11 ORtg Last Month    101.091
Name: 20507, dtype: object
20508 1060 11 ORtg Last Month    96.3636
Name: 20508, dtype: object
20509 1254 11 ORtg Last Month    114
Name: 20509, dtype: object
20510 654 6 ORtg Last Month    109
Name: 20510, dtype: object
20511 941 8 ORtg Last Month    117.625
Name: 20511, dtype: object
20512 591 11 ORtg Last Month    53.7273
Name: 20512, dtype: object
20513 1007 8 ORtg Last Month    125.875
Name: 20513, dtype: object
20514 1140 9 ORtg Last Month    126.667
Name: 20514, dtype: object
20515 877 9 ORtg Last Month    97.4444
Name: 20515, dtype: object
20516 1171 9 ORtg Last Month    130.111
Name: 20516, dtype: object
20517 1125 9 ORtg Last Month    125
Name: 20517, dtype: object
20518 1158 9 ORtg Last Month    128.667
Name: 20518, dtype: object
20519 856 9 ORtg Last Month    95.1111
Name: 20519, dtype: object
20520 900 9 ORtg Last Month    100
Name: 20520, dtype: object
20521 159 8 ORtg Last Month    19.875
Name: 20521, dtype: object
20522 883 9 ORtg Last Month    98.1111
Name: 20522, dtype: object
20523 326 7 ORtg Last Month    46.5714
Name: 20523, dtype: object
20524 1106 9 ORtg Last Month    122.889
Name: 20524, dtype: object
20525 929 10 ORtg Last Month    92.9
Name: 20525, dtype: object
20526 1320 10 ORtg Last Month    132
Name: 20526, dtype: object
20527 925 9 ORtg Last Month    102.778
Name: 20527, dtype: object
20528 1161 10 ORtg Last Month    116.1
Name: 20528, dtype: object
20529 971 10 ORtg Last Month    97.1
Name: 20529, dtype: object
20530 1000 10 ORtg Last Month    100
Name: 20530, dtype: object
20531 440 7 ORtg Last Month    62.8571
Name: 20531, dtype: object
20532 968 10 ORtg Last Month    96.8
Name: 20532, dtype: object
20533 1062 10 ORtg Last Month    106.2
Name: 20533, dtype: object
20534 1265 10 ORtg Last Month    126.5
Name: 20534, dtype: object
20535 944 10 ORtg Last Month    94.4
Name: 20535, dtype: object
20536 301 10 ORtg Last Month    30.1
Name: 20536, dtype: object
20537 1388 12 ORtg Last Month    115.667
Name: 20537, dtype: object
20538 0 1 ORtg Last Month    0
Name: 20538, dtype: object
20539 0 0 ORtg Last Month    0
Name: 20539, dtype: object
20540 855 9 ORtg Last Month    95
Name: 20540, dtype: object
20541 972 12 ORtg Last Month    81
Name: 20541, dtype: object
20542 652 11 ORtg Last Month    59.2727
Name: 20542, dtype: object
20543 1462 12 ORtg Last Month    121.833
Name: 20543, dtype: object
20544 1470 12 ORtg Last Month    122.5
Name: 20544, dtype: object
20545 1311 12 ORtg Last Month    109.25
Name: 20545, dtype: object
20546 1241 12 ORtg Last Month    103.417
Name: 20546, dtype: object
20547 1184 10 ORtg Last Month    118.4
Name: 20547, dtype: object
20548 836 11 ORtg Last Month    76
Name: 20548, dtype: object
20549 932 10 ORtg Last Month    93.2
Name: 20549, dtype: object
20550 1183 11 ORtg Last Month    107.545
Name: 20550, dtype: object
20551 1167 12 ORtg Last Month    97.25
Name: 20551, dtype: object
20552 1114 11 ORtg Last Month    101.273
Name: 20552, dtype: object
20553 1306 11 ORtg Last Month    118.727
Name: 20553, dtype: object
20554 1263 11 ORtg Last Month    114.818
Name: 20554, dtype: object
20555 723 11 ORtg Last Month    65.7273
Name: 20555, dtype: object
20556 1215 11 ORtg Last Month    110.455
Name: 20556, dtype: object
20557 548 6 ORtg Last Month    91.3333
Name: 20557, dtype: object
20558 969 11 ORtg Last Month    88.0909
Name: 20558, dtype: object
20559 765 10 ORtg Last Month    76.5
Name: 20559, dtype: object
20560 1272 11 ORtg Last Month    115.636
Name: 20560, dtype: object
20561 1230 11 ORtg Last Month    111.818
Name: 20561, dtype: object
20562 1292 11 ORtg Last Month    117.455
Name: 20562, dtype: object
20563 1322 11 ORtg Last Month    120.182
Name: 20563, dtype: object
20564 1065 11 ORtg Last Month    96.8182
Name: 20564, dtype: object
20565 672 5 ORtg Last Month    134.4
Name: 20565, dtype: object
20566 1144 10 ORtg Last Month    114.4
Name: 20566, dtype: object
20567 248 11 ORtg Last Month    22.5455
Name: 20567, dtype: object
20568 1050 10 ORtg Last Month    105
Name: 20568, dtype: object
20569 1032 10 ORtg Last Month    103.2
Name: 20569, dtype: object
20570 781 10 ORtg Last Month    78.1
Name: 20570, dtype: object
20571 1081 10 ORtg Last Month    108.1
Name: 20571, dtype: object
20572 465 10 ORtg Last Month    46.5
Name: 20572, dtype: object
20573 615 10 ORtg Last Month    61.5
Name: 20573, dtype: object
20574 1107 10 ORtg Last Month    110.7
Name: 20574, dtype: object
20575 1380 10 ORtg Last Month    138
Name: 20575, dtype: object
20576 331 7 ORtg Last Month    47.2857
Name: 20576, dtype: object
20577 873 10 ORtg Last Month    87.3
Name: 20577, dtype: object
20578 1087 10 ORtg Last Month    108.7
Name: 20578, dtype: object
20579 656 6 ORtg Last Month    109.333
Name: 20579, dtype: object
20580 1419 12 ORtg Last Month    118.25
Name: 20580, dtype: object
20581 103 1 ORtg Last Month    103
Name: 20581, dtype: object

20582 1627 12 ORtg Last Month    135.583
Name: 20582, dtype: object
20583 490 5 ORtg Last Month    98
Name: 20583, dtype: object
20584 1276 12 ORtg Last Month    106.333
Name: 20584, dtype: object
20585 574 12 ORtg Last Month    47.8333
Name: 20585, dtype: object
20586 131 5 ORtg Last Month    26.2
Name: 20586, dtype: object
20587 117 11 ORtg Last Month    10.6364
Name: 20587, dtype: object
20588 1147 12 ORtg Last Month    95.5833
Name: 20588, dtype: object
20589 1318 12 ORtg Last Month    109.833
Name: 20589, dtype: object
20590 1006 9 ORtg Last Month    111.778
Name: 20590, dtype: object
20591 1490 12 ORtg Last Month    124.167
Name: 20591, dtype: object
20592 1290 10 ORtg Last Month    129
Name: 20592, dtype: object
20593 770 10 ORtg Last Month    77
Name: 20593, dtype: object
20594 951 9 ORtg Last Month    105.667
Name: 20594, dtype: object
20595 268 9 ORtg Last Month    29.7778
Name: 20595, dtype: object
20596 862 10 ORtg Last Month    86.2
Name: 20596, dtype: object
20597 680 9 ORtg Last Month    75.5556
Name: 20597, dtype: object
20598 955 10 ORtg Last Month    95.5
Name: 20598, dtype: object
20599 1224 9 ORtg Last Month    136
Name: 20599, dtype: object
20600 1160 10 ORtg Last Month    116
Name: 20600, dtype: object
20601 179 8 ORtg Last Month    22.375
Name: 20601, dtype: object
20602 123 6 ORtg Last Month    20.5
Name: 20602, dtype: object
20603 1370 10 ORtg Last Month    137
Name: 20603, dtype: object
20604 1496 12 ORtg Last Month    124.667
Name: 20604, dtype: object
20605 1275 12 ORtg Last Month    106.25
Name: 20605, dtype: object
20606 732 12 ORtg Last Month    61
Name: 20606, dtype: object
20607 1343 12 ORtg Last Month    111.917
Name: 20607, dtype: object
20608 827 9 ORtg Last Month    91.8889
Name: 20608, dtype: object
20609 1354 12 ORtg Last Month    112.833
Name: 20609, dtype: object
20610 723 7 ORtg Last Month    103.286
Name: 20610, dtype: object
20611 411 6 ORtg Last Month    68.5
Name: 20611, dtype: object
20612 589 11 ORtg Last Month    53.5455
Name: 20612, dtype: object
20613 1297 12 ORtg Last Month    108.083
Name: 20613, dtype: object
20614 131 12 ORtg Last Month    10.9167
Name: 20614, dtype: object
20615 1571 12 ORtg Last Month    130.917
Name: 20615, dtype: object
20616 1293 12 ORtg Last Month    107.75
Name: 20616, dtype: object
20617 247 11 ORtg Last Month    22.4545
Name: 20617, dtype: object
20618 1195 12 ORtg Last Month    99.5833
Name: 20618, dtype: object
20619 520 4 ORtg Last Month    130
Name: 20619, dtype: object
20620 777 11 ORtg Last Month    70.6364
Name: 20620, dtype: object
20621 1258 9 ORtg Last Month    139.778
Name: 20621, dtype: object
20622 502 6 ORtg Last Month    83.6667
Name: 20622, dtype: object
20623 276 11 ORtg Last Month    25.0909
Name: 20623, dtype: object
20624 1444 12 ORtg Last Month    120.333
Name: 20624, dtype: object
20625 894 9 ORtg Last Month    99.3333
Name: 20625, dtype: object
20626 693 12 ORtg Last Month    57.75
Name: 20626, dtype: object
20627 1166 11 ORtg Last Month    106
Name: 20627, dtype: object
20628 1119 11 ORtg Last Month    101.727
Name: 20628, dtype: object
20629 866 9 ORtg Last Month    96.2222
Name: 20629, dtype: object
20630 431 8 ORtg Last Month    53.875
Name: 20630, dtype: object
20631 624 12 ORtg Last Month    52
Name: 20631, dtype: object
20632 1079 11 ORtg Last Month    98.0909
Name: 20632, dtype: object
20633 616 9 ORtg Last Month    68.4444
Name: 20633, dtype: object
20634 0 0 ORtg Last Month    0
Name: 20634, dtype: object
20635 1113 12 ORtg Last Month    92.75
Name: 20635, dtype: object
20636 1161 11 ORtg Last Month    105.545
Name: 20636, dtype: object
20637 1100 12 ORtg Last Month    91.6667
Name: 20637, dtype: object
20638 414 6 ORtg Last Month    69
Name: 20638, dtype: object
20639 409 5 ORtg Last Month    81.8
Name: 20639, dtype: object
20640 0 1 ORtg Last Month    0
Name: 20640, dtype: object
20641 822 7 ORtg Last Month    117.429
Name: 20641, dtype: object
20642 993 10 ORtg Last Month    99.3
Name: 20642, dtype: object
20643 793 8 ORtg Last Month    99.125
Name: 20643, dtype: object
20644 1262 10 ORtg Last Month    126.2
Name: 20644, dtype: object
20645 537 10 ORtg Last Month    53.7
Name: 20645, dtype: object
20646 1269 10 ORtg Last Month    126.9
Name: 20646, dtype: object
20647 851 10 ORtg Last Month    85.1
Name: 20647, dtype: object
20648 61 10 ORtg Last Month    6.1
Name: 20648, dtype: object
20649 1181 10 ORtg Last Month    118.1
Name: 20649, dtype: object
20650 1329 12 ORtg Last Month    110.75
Name: 20650, dtype: object
20651 239 5 ORtg Last Month    47.8
Name: 20651, dtype: object
20652 1180 12 ORtg Last Month    98.3333
Name: 20652, dtype: object
20653 1167 12 ORtg Last Month    97.25
Name: 20653, dtype: object
20654 886 12 ORtg Last Month    73.8333
Name: 20654, dtype: object
20655 1196 11 ORtg Last Month    108.727
Name: 20655, dtype: object
20656 499 5 ORtg Last Month    99.8
Name: 20656, dtype: object
20657 689 11 ORtg Last Month    62.6364
Name: 20657, dtype: object
20658 718 12 ORtg Last Month    59.8333
Name: 20658, dtype: object
20659 1234 12 ORtg Last Month    102.833
Name: 20659, dtype: object
20660 410 4 ORtg Last Month    102.5
Name: 20660, dtype: object
20661 641 6 ORtg Last Month    106.833
Name: 20661, dtype: object
20662 1201 10 ORtg Last Month    120.1
Name: 20662, dtype: object
20663 83 1 ORtg Last Month    83
Name: 20663, dtype: object
20664 1285 13 ORtg Last Month    98.8462
Name: 20664, dtype: object
20665 849 8 ORtg Last Month    106.125
Name: 20665, dtype: object
20666 1211 13 ORtg Last Month    93.1538
Name: 20666, dtype: object
20667 1032 13 ORtg Last Month    79.3846
Name: 20667, dtype: object
20668 1012 13 ORtg Last Month    77.8462
Name: 20668, dtype: object
20669 0 0 ORtg Last Month    0
Name: 20669, dtype: object
20670 770 12 ORtg Last Month    64.1667
Name: 20670, dtype: object
20671 1367 10 ORtg Last Month    136.7
Name: 20671, dtype: object
20672 1111 13 ORtg Last Month    85.4615
Name: 20672, dtype: object
20673 1743 12 ORtg Last Month    145.25
Name: 20673, dtype: object
20674 588 8 ORtg Last Month    73.5
Name: 20674, dtype: object
20675 1085 10 ORtg Last Month    108.5
Name: 20675, dtype: object
20676 1018 8 ORtg Last Month    127.25
Name: 20676, dtype: object
20677 357 5 ORtg Last Month    71.4
Name: 20677, dtype: object
20678 343 9 ORtg Last Month    38.1111
Name: 20678, dtype: object
20679 1293 10 ORtg Last Month    129.3
Name: 20679, dtype: object
20680 968 8 ORtg Last Month    121
Name: 20680, dtype: object
20681 990 9 ORtg Last Month    110
Name: 20681, dtype: object
20682 713 9 ORtg Last Month    79.2222
Name: 20682, dtype: object
20683 0 0 ORtg Last Month    0
Name: 20683, dtype: object
20684 289 9 ORtg Last Month    32.1111
Name: 20684, dtype: object
20685 1015 9 ORtg Last Month    112.778
Name: 20685, dtype: object
20686 1276 10 ORtg Last Month    127.6
Name: 20686, dtype: object
20687 1101 10 ORtg Last Month    110.1
Name: 20687, dtype: object
20688 1491 12 ORtg Last Month    124.25
Name: 20688, dtype: object
20689 778 10 ORtg Last Month    77.8
Name: 20689, dtype: object
20690 697 12 ORtg Last Month    58.0833
Name: 20690, dtype: object
20691 1260 12 ORtg Last Month    105
Name: 20691, dtype: object
20692 1210 12 ORtg Last Month    100.833
Name: 20692, dtype: object
20693 1287 12 ORtg Last Month    107.25
Name: 20693, dtype: object
20694 1414 12 ORtg Last Month    117.833
Name: 20694, dtype: object
20695 1380 12 ORtg Last Month    115
Name: 20695, dtype: object
20696 1076 12 ORtg Last Month    89.6667
Name: 20696, dtype: object
20697 644 10 ORtg Last Month    64.4
Name: 20697, dtype: object
20698 676 6 ORtg Last Month    112.667
Name: 20698, dtype: object
20699 1367 11 ORtg Last Month    124.273
Name: 20699, dtype: object
20700 753 6 ORtg Last Month    125.5
Name: 20700, dtype: object
20701 1264 11 ORtg Last Month    114.909
Name: 20701, dtype: object
20702 737 7 ORtg Last Month    105.286
Name: 20702, dtype: object
20703 1150 10 ORtg Last Month    115
Name: 20703, dtype: object
20704 1262 11 ORtg Last Month    114.727
Name: 20704, dtype: object
20705 1043 9 ORtg Last Month    115.889
Name: 20705, dtype: object
20706 1318 11 ORtg Last Month    119.818
Name: 20706, dtype: object

20707 771 11 ORtg Last Month    70.0909
Name: 20707, dtype: object
20708 1471 11 ORtg Last Month    133.727
Name: 20708, dtype: object
20709 1216 10 ORtg Last Month    121.6
Name: 20709, dtype: object
20710 306 8 ORtg Last Month    38.25
Name: 20710, dtype: object
20711 878 11 ORtg Last Month    79.8182
Name: 20711, dtype: object
20712 1065 9 ORtg Last Month    118.333
Name: 20712, dtype: object
20713 1190 11 ORtg Last Month    108.182
Name: 20713, dtype: object
20714 730 9 ORtg Last Month    81.1111
Name: 20714, dtype: object
20715 0 0 ORtg Last Month    0
Name: 20715, dtype: object
20716 795 8 ORtg Last Month    99.375
Name: 20716, dtype: object
20717 1279 10 ORtg Last Month    127.9
Name: 20717, dtype: object
20718 773 9 ORtg Last Month    85.8889
Name: 20718, dtype: object
20719 1175 10 ORtg Last Month    117.5
Name: 20719, dtype: object
20720 0 0 ORtg Last Month    0
Name: 20720, dtype: object
20721 1151 10 ORtg Last Month    115.1
Name: 20721, dtype: object
20722 1172 10 ORtg Last Month    117.2
Name: 20722, dtype: object
20723 1053 10 ORtg Last Month    105.3
Name: 20723, dtype: object
20724 273 5 ORtg Last Month    54.6
Name: 20724, dtype: object
20725 961 9 ORtg Last Month    106.778
Name: 20725, dtype: object
20726 1010 9 ORtg Last Month    112.222
Name: 20726, dtype: object
20727 399 3 ORtg Last Month    133
Name: 20727, dtype: object
20728 564 9 ORtg Last Month    62.6667
Name: 20728, dtype: object
20729 847 9 ORtg Last Month    94.1111
Name: 20729, dtype: object
20730 1044 9 ORtg Last Month    116
Name: 20730, dtype: object
20731 1089 9 ORtg Last Month    121
Name: 20731, dtype: object
20732 964 9 ORtg Last Month    107.111
Name: 20732, dtype: object
20733 174 2 ORtg Last Month    87
Name: 20733, dtype: object
20734 830 9 ORtg Last Month    92.2222
Name: 20734, dtype: object
20735 1251 9 ORtg Last Month    139
Name: 20735, dtype: object
20736 1054 9 ORtg Last Month    117.111
Name: 20736, dtype: object
20737 522 9 ORtg Last Month    58
Name: 20737, dtype: object
20738 1415 12 ORtg Last Month    117.917
Name: 20738, dtype: object
20739 1314 10 ORtg Last Month    131.4
Name: 20739, dtype: object
20740 1082 12 ORtg Last Month    90.1667
Name: 20740, dtype: object
20741 1379 12 ORtg Last Month    114.917
Name: 20741, dtype: object
20742 824 8 ORtg Last Month    103
Name: 20742, dtype: object
20743 509 11 ORtg Last Month    46.2727
Name: 20743, dtype: object
20744 737 11 ORtg Last Month    67
Name: 20744, dtype: object
20745 1095 10 ORtg Last Month    109.5
Name: 20745, dtype: object
20746 1432 12 ORtg Last Month    119.333
Name: 20746, dtype: object
20747 1510 12 ORtg Last Month    125.833
Name: 20747, dtype: object
20748 337 11 ORtg Last Month    30.6364
Name: 20748, dtype: object
20749 1425 12 ORtg Last Month    118.75
Name: 20749, dtype: object
20750 176 2 ORtg Last Month    88
Name: 20750, dtype: object
20751 0 1 ORtg Last Month    0
Name: 20751, dtype: object
20752 942 10 ORtg Last Month    94.2
Name: 20752, dtype: object
20753 562 11 ORtg Last Month    51.0909
Name: 20753, dtype: object
20754 1123 12 ORtg Last Month    93.5833
Name: 20754, dtype: object
20755 1459 12 ORtg Last Month    121.583
Name: 20755, dtype: object
20756 1418 12 ORtg Last Month    118.167
Name: 20756, dtype: object
20757 1249 12 ORtg Last Month    104.083
Name: 20757, dtype: object
20758 1302 12 ORtg Last Month    108.5
Name: 20758, dtype: object
20759 720 6 ORtg Last Month    120
Name: 20759, dtype: object
20760 1116 11 ORtg Last Month    101.455
Name: 20760, dtype: object
20761 1071 10 ORtg Last Month    107.1
Name: 20761, dtype: object
20762 964 11 ORtg Last Month    87.6364
Name: 20762, dtype: object
20763 1044 11 ORtg Last Month    94.9091
Name: 20763, dtype: object
20764 1219 11 ORtg Last Month    110.818
Name: 20764, dtype: object
20765 1285 11 ORtg Last Month    116.818
Name: 20765, dtype: object
20766 1123 10 ORtg Last Month    112.3
Name: 20766, dtype: object
20767 555 11 ORtg Last Month    50.4545
Name: 20767, dtype: object
20768 1389 11 ORtg Last Month    126.273
Name: 20768, dtype: object
20769 1214 11 ORtg Last Month    110.364
Name: 20769, dtype: object
20770 330 11 ORtg Last Month    30
Name: 20770, dtype: object
20771 0 5 ORtg Last Month    0
Name: 20771, dtype: object
20772 1136 11 ORtg Last Month    103.273
Name: 20772, dtype: object
20773 350 4 ORtg Last Month    87.5
Name: 20773, dtype: object
20774 1210 11 ORtg Last Month    110
Name: 20774, dtype: object
20775 1166 11 ORtg Last Month    106
Name: 20775, dtype: object
20776 1012 10 ORtg Last Month    101.2
Name: 20776, dtype: object
20777 616 5 ORtg Last Month    123.2
Name: 20777, dtype: object
20778 715 10 ORtg Last Month    71.5
Name: 20778, dtype: object
20779 819 10 ORtg Last Month    81.9
Name: 20779, dtype: object
20780 0 1 ORtg Last Month    0
Name: 20780, dtype: object
20781 1245 11 ORtg Last Month    113.182
Name: 20781, dtype: object
20782 1392 11 ORtg Last Month    126.545
Name: 20782, dtype: object
20783 1006 11 ORtg Last Month    91.4545
Name: 20783, dtype: object
20784 1205 10 ORtg Last Month    120.5
Name: 20784, dtype: object
20785 1220 11 ORtg Last Month    110.909
Name: 20785, dtype: object
20786 884 11 ORtg Last Month    80.3636
Name: 20786, dtype: object
20787 891 10 ORtg Last Month    89.1
Name: 20787, dtype: object
20788 428 9 ORtg Last Month    47.5556
Name: 20788, dtype: object
20789 1114 11 ORtg Last Month    101.273
Name: 20789, dtype: object
20790 1276 13 ORtg Last Month    98.1538
Name: 20790, dtype: object
20791 1300 11 ORtg Last Month    118.182
Name: 20791, dtype: object
20792 1316 11 ORtg Last Month    119.636
Name: 20792, dtype: object
20793 763 11 ORtg Last Month    69.3636
Name: 20793, dtype: object
20794 1199 11 ORtg Last Month    109
Name: 20794, dtype: object
20795 508 6 ORtg Last Month    84.6667
Name: 20795, dtype: object
20796 910 11 ORtg Last Month    82.7273
Name: 20796, dtype: object
20797 668 10 ORtg Last Month    66.8
Name: 20797, dtype: object
20798 1375 11 ORtg Last Month    125
Name: 20798, dtype: object
20799 1265 11 ORtg Last Month    115
Name: 20799, dtype: object
20800 1137 11 ORtg Last Month    103.364
Name: 20800, dtype: object
20801 1203 11 ORtg Last Month    109.364
Name: 20801, dtype: object
20802 1198 11 ORtg Last Month    108.909
Name: 20802, dtype: object
20803 792 6 ORtg Last Month    132
Name: 20803, dtype: object
20804 1220 10 ORtg Last Month    122
Name: 20804, dtype: object
20805 248 11 ORtg Last Month    22.5455
Name: 20805, dtype: object
20806 975 10 ORtg Last Month    97.5
Name: 20806, dtype: object
20807 989 10 ORtg Last Month    98.9
Name: 20807, dtype: object
20808 625 12 ORtg Last Month    52.0833
Name: 20808, dtype: object
20809 1043 10 ORtg Last Month    104.3
Name: 20809, dtype: object
20810 744 7 ORtg Last Month    106.286
Name: 20810, dtype: object
20811 967 7 ORtg Last Month    138.143
Name: 20811, dtype: object
20812 195 5 ORtg Last Month    39
Name: 20812, dtype: object
20813 279 3 ORtg Last Month    93
Name: 20813, dtype: object
20814 1005 9 ORtg Last Month    111.667
Name: 20814, dtype: object
20815 602 12 ORtg Last Month    50.1667
Name: 20815, dtype: object
20816 1106 10 ORtg Last Month    110.6
Name: 20816, dtype: object
20817 355 10 ORtg Last Month    35.5
Name: 20817, dtype: object
20818 906 10 ORtg Last Month    90.6
Name: 20818, dtype: object
20819 1161 11 ORtg Last Month    105.545
Name: 20819, dtype: object
20820 1201 11 ORtg Last Month    109.182
Name: 20820, dtype: object
20821 1183 11 ORtg Last Month    107.545
Name: 20821, dtype: object
20822 615 11 ORtg Last Month    55.9091
Name: 20822, dtype: object
20823 594 10 ORtg Last Month    59.4
Name: 20823, dtype: object
20824 1107 11 ORtg Last Month    100.636
Name: 20824, dtype: object
20825 1512 11 ORtg Last Month    137.455
Name: 20825, dtype: object
20826 926 11 ORtg Last Month    84.1818
Name: 20826, dtype: object
20827 451 8 ORtg Last Month    56.375
Name: 20827, dtype: object
20828 693 10 ORtg Last Month    69.3
Name: 20828, dtype: object
20829 1305 10 ORtg Last Month    130.5
Name: 20829, dtype: object
20830 268 9 ORtg Last Month    29.7778
Name: 20830, dtype: object
20831 976 10 ORtg Last Month    97.6
Name: 20831, dtype: object
20832 779 9 ORtg Last Month    86.5556
Name: 20832, dtype: object

20833 892 10 ORtg Last Month    89.2
Name: 20833, dtype: object
20834 1357 10 ORtg Last Month    135.7
Name: 20834, dtype: object
20835 1135 10 ORtg Last Month    113.5
Name: 20835, dtype: object
20836 299 9 ORtg Last Month    33.2222
Name: 20836, dtype: object
20837 1510 10 ORtg Last Month    151
Name: 20837, dtype: object
20838 136 6 ORtg Last Month    22.6667
Name: 20838, dtype: object
20839 1325 11 ORtg Last Month    120.455
Name: 20839, dtype: object
20840 1187 10 ORtg Last Month    118.7
Name: 20840, dtype: object
20841 1196 10 ORtg Last Month    119.6
Name: 20841, dtype: object
20842 752 11 ORtg Last Month    68.3636
Name: 20842, dtype: object
20843 1378 11 ORtg Last Month    125.273
Name: 20843, dtype: object
20844 1279 9 ORtg Last Month    142.111
Name: 20844, dtype: object
20845 961 8 ORtg Last Month    120.125
Name: 20845, dtype: object
20846 1187 11 ORtg Last Month    107.909
Name: 20846, dtype: object
20847 1065 10 ORtg Last Month    106.5
Name: 20847, dtype: object
20848 366 11 ORtg Last Month    33.2727
Name: 20848, dtype: object
20849 1151 10 ORtg Last Month    115.1
Name: 20849, dtype: object
20850 1494 11 ORtg Last Month    135.818
Name: 20850, dtype: object
20851 1184 9 ORtg Last Month    131.556
Name: 20851, dtype: object
20852 1048 10 ORtg Last Month    104.8
Name: 20852, dtype: object
20853 1077 11 ORtg Last Month    97.9091
Name: 20853, dtype: object
20854 1079 10 ORtg Last Month    107.9
Name: 20854, dtype: object
20855 1180 11 ORtg Last Month    107.273
Name: 20855, dtype: object
20856 1544 11 ORtg Last Month    140.364
Name: 20856, dtype: object
20857 101 1 ORtg Last Month    101
Name: 20857, dtype: object
20858 1196 11 ORtg Last Month    108.727
Name: 20858, dtype: object
20859 0 8 ORtg Last Month    0
Name: 20859, dtype: object
20860 1503 12 ORtg Last Month    125.25
Name: 20860, dtype: object
20861 1259 12 ORtg Last Month    104.917
Name: 20861, dtype: object
20862 732 12 ORtg Last Month    61
Name: 20862, dtype: object
20863 1298 12 ORtg Last Month    108.167
Name: 20863, dtype: object
20864 1338 12 ORtg Last Month    111.5
Name: 20864, dtype: object
20865 772 7 ORtg Last Month    110.286
Name: 20865, dtype: object
20866 864 9 ORtg Last Month    96
Name: 20866, dtype: object
20867 589 12 ORtg Last Month    49.0833
Name: 20867, dtype: object
20868 1280 12 ORtg Last Month    106.667
Name: 20868, dtype: object
20869 263 12 ORtg Last Month    21.9167
Name: 20869, dtype: object
20870 1157 10 ORtg Last Month    115.7
Name: 20870, dtype: object
20871 955 10 ORtg Last Month    95.5
Name: 20871, dtype: object
20872 932 10 ORtg Last Month    93.2
Name: 20872, dtype: object
20873 41 3 ORtg Last Month    13.6667
Name: 20873, dtype: object
20874 665 6 ORtg Last Month    110.833
Name: 20874, dtype: object
20875 828 8 ORtg Last Month    103.5
Name: 20875, dtype: object
20876 941 8 ORtg Last Month    117.625
Name: 20876, dtype: object
20877 562 8 ORtg Last Month    70.25
Name: 20877, dtype: object
20878 1066 10 ORtg Last Month    106.6
Name: 20878, dtype: object
20879 1202 10 ORtg Last Month    120.2
Name: 20879, dtype: object
20880 712 10 ORtg Last Month    71.2
Name: 20880, dtype: object
20881 392 9 ORtg Last Month    43.5556
Name: 20881, dtype: object
20882 675 7 ORtg Last Month    96.4286
Name: 20882, dtype: object
20883 1147 11 ORtg Last Month    104.273
Name: 20883, dtype: object
20884 845 9 ORtg Last Month    93.8889
Name: 20884, dtype: object
20885 1105 11 ORtg Last Month    100.455
Name: 20885, dtype: object
20886 508 12 ORtg Last Month    42.3333
Name: 20886, dtype: object
20887 534 8 ORtg Last Month    66.75
Name: 20887, dtype: object
20888 1058 12 ORtg Last Month    88.1667
Name: 20888, dtype: object
20889 45 1 ORtg Last Month    45
Name: 20889, dtype: object
20890 1231 12 ORtg Last Month    102.583
Name: 20890, dtype: object
20891 563 9 ORtg Last Month    62.5556
Name: 20891, dtype: object
20892 233 2 ORtg Last Month    116.5
Name: 20892, dtype: object
20893 1314 12 ORtg Last Month    109.5
Name: 20893, dtype: object
20894 1243 12 ORtg Last Month    103.583
Name: 20894, dtype: object
20895 1019 10 ORtg Last Month    101.9
Name: 20895, dtype: object
20896 0 0 ORtg Last Month    0
Name: 20896, dtype: object
20897 1232 11 ORtg Last Month    112
Name: 20897, dtype: object
20898 986 10 ORtg Last Month    98.6
Name: 20898, dtype: object
20899 249 3 ORtg Last Month    83
Name: 20899, dtype: object
20900 426 5 ORtg Last Month    85.2
Name: 20900, dtype: object
20901 210 4 ORtg Last Month    52.5
Name: 20901, dtype: object
20902 541 11 ORtg Last Month    49.1818
Name: 20902, dtype: object
20903 0 11 ORtg Last Month    0
Name: 20903, dtype: object
20904 1249 11 ORtg Last Month    113.545
Name: 20904, dtype: object
20905 1074 11 ORtg Last Month    97.6364
Name: 20905, dtype: object
20906 1257 11 ORtg Last Month    114.273
Name: 20906, dtype: object
20907 0 11 ORtg Last Month    0
Name: 20907, dtype: object
20908 1170 12 ORtg Last Month    97.5
Name: 20908, dtype: object
20909 1323 11 ORtg Last Month    120.273
Name: 20909, dtype: object
20910 1209 12 ORtg Last Month    100.75
Name: 20910, dtype: object
20911 1398 11 ORtg Last Month    127.091
Name: 20911, dtype: object
20912 1166 11 ORtg Last Month    106
Name: 20912, dtype: object
20913 775 12 ORtg Last Month    64.5833
Name: 20913, dtype: object
20914 1463 12 ORtg Last Month    121.917
Name: 20914, dtype: object
20915 858 11 ORtg Last Month    78
Name: 20915, dtype: object
20916 1345 12 ORtg Last Month    112.083
Name: 20916, dtype: object
20917 116 2 ORtg Last Month    58
Name: 20917, dtype: object
20918 1114 11 ORtg Last Month    101.273
Name: 20918, dtype: object
20919 757 12 ORtg Last Month    63.0833
Name: 20919, dtype: object
20920 438 8 ORtg Last Month    54.75
Name: 20920, dtype: object
20921 139 2 ORtg Last Month    69.5
Name: 20921, dtype: object
20922 516 6 ORtg Last Month    86
Name: 20922, dtype: object
20923 517 7 ORtg Last Month    73.8571
Name: 20923, dtype: object
20924 993 11 ORtg Last Month    90.2727
Name: 20924, dtype: object
20925 890 9 ORtg Last Month    98.8889
Name: 20925, dtype: object
20926 672 11 ORtg Last Month    61.0909
Name: 20926, dtype: object
20927 1371 11 ORtg Last Month    124.636
Name: 20927, dtype: object
20928 172 11 ORtg Last Month    15.6364
Name: 20928, dtype: object
20929 916 11 ORtg Last Month    83.2727
Name: 20929, dtype: object
20930 1372 11 ORtg Last Month    124.727
Name: 20930, dtype: object
20931 1309 11 ORtg Last Month    119
Name: 20931, dtype: object
20932 1315 12 ORtg Last Month    109.583
Name: 20932, dtype: object
20933 302 5 ORtg Last Month    60.4
Name: 20933, dtype: object
20934 886 12 ORtg Last Month    73.8333
Name: 20934, dtype: object
20935 1132 12 ORtg Last Month    94.3333
Name: 20935, dtype: object
20936 1142 12 ORtg Last Month    95.1667
Name: 20936, dtype: object
20937 1259 12 ORtg Last Month    104.917
Name: 20937, dtype: object
20938 729 11 ORtg Last Month    66.2727
Name: 20938, dtype: object
20939 718 12 ORtg Last Month    59.8333
Name: 20939, dtype: object
20940 0 5 ORtg Last Month    0
Name: 20940, dtype: object
20941 1201 11 ORtg Last Month    109.182
Name: 20941, dtype: object
20942 1409 12 ORtg Last Month    117.417
Name: 20942, dtype: object
20943 647 6 ORtg Last Month    107.833
Name: 20943, dtype: object
20944 1239 10 ORtg Last Month    123.9
Name: 20944, dtype: object
20945 1205 11 ORtg Last Month    109.545
Name: 20945, dtype: object
20946 1090 9 ORtg Last Month    121.111
Name: 20946, dtype: object
20947 343 10 ORtg Last Month    34.3
Name: 20947, dtype: object
20948 357 6 ORtg Last Month    59.5
Name: 20948, dtype: object
20949 1436 11 ORtg Last Month    130.545
Name: 20949, dtype: object
20950 91 1 ORtg Last Month    91
Name: 20950, dtype: object
20951 1129 9 ORtg Last Month    125.444
Name: 20951, dtype: object
20952 1139 10 ORtg Last Month    113.9
Name: 20952, dtype: object
20953 873 10 ORtg Last Month    87.3
Name: 20953, dtype: object
20954 289 10 ORtg Last Month    28.9
Name: 20954, dtype: object
20955 1325 11 ORtg Last Month    120.455
Name: 20955, dtype: object
20956 1125 10 ORtg Last Month    112.5
Name: 20956, dtype: object
20957 1101 11 ORtg Last Month    100.091
Name: 20957, dtype: object

20958 1033 10 ORtg Last Month    103.3
Name: 20958, dtype: object
20959 1362 12 ORtg Last Month    113.5
Name: 20959, dtype: object
20960 1212 12 ORtg Last Month    101
Name: 20960, dtype: object
20961 1278 9 ORtg Last Month    142
Name: 20961, dtype: object
20962 1316 10 ORtg Last Month    131.6
Name: 20962, dtype: object
20963 760 7 ORtg Last Month    108.571
Name: 20963, dtype: object
20964 557 9 ORtg Last Month    61.8889
Name: 20964, dtype: object
20965 978 8 ORtg Last Month    122.25
Name: 20965, dtype: object
20966 1162 12 ORtg Last Month    96.8333
Name: 20966, dtype: object
20967 94 9 ORtg Last Month    10.4444
Name: 20967, dtype: object
20968 1209 12 ORtg Last Month    100.75
Name: 20968, dtype: object
20969 739 9 ORtg Last Month    82.1111
Name: 20969, dtype: object
20970 994 9 ORtg Last Month    110.444
Name: 20970, dtype: object
20971 59 2 ORtg Last Month    29.5
Name: 20971, dtype: object
20972 402 11 ORtg Last Month    36.5455
Name: 20972, dtype: object
20973 871 11 ORtg Last Month    79.1818
Name: 20973, dtype: object
20974 999 11 ORtg Last Month    90.8182
Name: 20974, dtype: object
20975 1147 11 ORtg Last Month    104.273
Name: 20975, dtype: object
20976 1288 11 ORtg Last Month    117.091
Name: 20976, dtype: object
20977 1026 11 ORtg Last Month    93.2727
Name: 20977, dtype: object
20978 0 0 ORtg Last Month    0
Name: 20978, dtype: object
20979 776 7 ORtg Last Month    110.857
Name: 20979, dtype: object
20980 1042 9 ORtg Last Month    115.778
Name: 20980, dtype: object
20981 481 11 ORtg Last Month    43.7273
Name: 20981, dtype: object
20982 914 9 ORtg Last Month    101.556
Name: 20982, dtype: object
20983 974 8 ORtg Last Month    121.75
Name: 20983, dtype: object
20984 935 9 ORtg Last Month    103.889
Name: 20984, dtype: object
20985 329 8 ORtg Last Month    41.125
Name: 20985, dtype: object
20986 1266 9 ORtg Last Month    140.667
Name: 20986, dtype: object
20987 1117 9 ORtg Last Month    124.111
Name: 20987, dtype: object
20988 1008 9 ORtg Last Month    112
Name: 20988, dtype: object
20989 1149 9 ORtg Last Month    127.667
Name: 20989, dtype: object
20990 752 9 ORtg Last Month    83.5556
Name: 20990, dtype: object
20991 326 8 ORtg Last Month    40.75
Name: 20991, dtype: object
20992 1044 10 ORtg Last Month    104.4
Name: 20992, dtype: object
20993 1337 10 ORtg Last Month    133.7
Name: 20993, dtype: object
20994 811 9 ORtg Last Month    90.1111
Name: 20994, dtype: object
20995 1175 10 ORtg Last Month    117.5
Name: 20995, dtype: object
20996 969 10 ORtg Last Month    96.9
Name: 20996, dtype: object
20997 968 10 ORtg Last Month    96.8
Name: 20997, dtype: object
20998 493 7 ORtg Last Month    70.4286
Name: 20998, dtype: object
20999 968 10 ORtg Last Month    96.8
Name: 20999, dtype: object
21000 1082 10 ORtg Last Month    108.2
Name: 21000, dtype: object
21001 1210 10 ORtg Last Month    121
Name: 21001, dtype: object
21002 952 10 ORtg Last Month    95.2
Name: 21002, dtype: object
21003 200 10 ORtg Last Month    20
Name: 21003, dtype: object
21004 949 9 ORtg Last Month    105.444
Name: 21004, dtype: object
21005 950 9 ORtg Last Month    105.556
Name: 21005, dtype: object
21006 487 4 ORtg Last Month    121.75
Name: 21006, dtype: object
21007 564 9 ORtg Last Month    62.6667
Name: 21007, dtype: object
21008 1076 9 ORtg Last Month    119.556
Name: 21008, dtype: object
21009 891 9 ORtg Last Month    99
Name: 21009, dtype: object
21010 940 9 ORtg Last Month    104.444
Name: 21010, dtype: object
21011 1107 9 ORtg Last Month    123
Name: 21011, dtype: object
21012 233 3 ORtg Last Month    77.6667
Name: 21012, dtype: object
21013 830 9 ORtg Last Month    92.2222
Name: 21013, dtype: object
21014 1253 9 ORtg Last Month    139.222
Name: 21014, dtype: object
21015 1204 9 ORtg Last Month    133.778
Name: 21015, dtype: object
21016 410 9 ORtg Last Month    45.5556
Name: 21016, dtype: object
21017 1573 13 ORtg Last Month    121
Name: 21017, dtype: object
21018 1436 11 ORtg Last Month    130.545
Name: 21018, dtype: object
21019 1176 13 ORtg Last Month    90.4615
Name: 21019, dtype: object
21020 1472 13 ORtg Last Month    113.231
Name: 21020, dtype: object
21021 870 9 ORtg Last Month    96.6667
Name: 21021, dtype: object
21022 518 11 ORtg Last Month    47.0909
Name: 21022, dtype: object
21023 737 12 ORtg Last Month    61.4167
Name: 21023, dtype: object
21024 1577 13 ORtg Last Month    121.308
Name: 21024, dtype: object
21025 1091 10 ORtg Last Month    109.1
Name: 21025, dtype: object
21026 1557 13 ORtg Last Month    119.769
Name: 21026, dtype: object
21027 337 12 ORtg Last Month    28.0833
Name: 21027, dtype: object
21028 671 6 ORtg Last Month    111.833
Name: 21028, dtype: object
21029 1587 12 ORtg Last Month    132.25
Name: 21029, dtype: object
21030 465 5 ORtg Last Month    93
Name: 21030, dtype: object
21031 229 2 ORtg Last Month    114.5
Name: 21031, dtype: object
21032 1527 12 ORtg Last Month    127.25
Name: 21032, dtype: object
21033 1282 12 ORtg Last Month    106.833
Name: 21033, dtype: object
21034 1045 12 ORtg Last Month    87.0833
Name: 21034, dtype: object
21035 636 12 ORtg Last Month    53
Name: 21035, dtype: object
21036 356 6 ORtg Last Month    59.3333
Name: 21036, dtype: object
21037 117 11 ORtg Last Month    10.6364
Name: 21037, dtype: object
21038 1086 9 ORtg Last Month    120.667
Name: 21038, dtype: object
21039 1309 12 ORtg Last Month    109.083
Name: 21039, dtype: object
21040 1490 12 ORtg Last Month    124.167
Name: 21040, dtype: object
21041 1559 12 ORtg Last Month    129.917
Name: 21041, dtype: object
21042 1280 12 ORtg Last Month    106.667
Name: 21042, dtype: object
21043 1065 12 ORtg Last Month    88.75
Name: 21043, dtype: object
21044 346 11 ORtg Last Month    31.4545
Name: 21044, dtype: object
21045 814 11 ORtg Last Month    74
Name: 21045, dtype: object
21046 637 5 ORtg Last Month    127.4
Name: 21046, dtype: object
21047 1135 9 ORtg Last Month    126.111
Name: 21047, dtype: object
21048 457 6 ORtg Last Month    76.1667
Name: 21048, dtype: object
21049 276 11 ORtg Last Month    25.0909
Name: 21049, dtype: object
21050 934 9 ORtg Last Month    103.778
Name: 21050, dtype: object
21051 1423 12 ORtg Last Month    118.583
Name: 21051, dtype: object
21052 587 12 ORtg Last Month    48.9167
Name: 21052, dtype: object
21053 82 1 ORtg Last Month    82
Name: 21053, dtype: object
21054 1260 13 ORtg Last Month    96.9231
Name: 21054, dtype: object
21055 849 9 ORtg Last Month    94.3333
Name: 21055, dtype: object
21056 1224 13 ORtg Last Month    94.1538
Name: 21056, dtype: object
21057 1051 13 ORtg Last Month    80.8462
Name: 21057, dtype: object
21058 920 13 ORtg Last Month    70.7692
Name: 21058, dtype: object
21059 770 12 ORtg Last Month    64.1667
Name: 21059, dtype: object
21060 1590 12 ORtg Last Month    132.5
Name: 21060, dtype: object
21061 1091 13 ORtg Last Month    83.9231
Name: 21061, dtype: object
21062 0 1 ORtg Last Month    0
Name: 21062, dtype: object
21063 588 9 ORtg Last Month    65.3333
Name: 21063, dtype: object
21064 1482 12 ORtg Last Month    123.5
Name: 21064, dtype: object
21065 597 12 ORtg Last Month    49.75
Name: 21065, dtype: object
21066 1333 12 ORtg Last Month    111.083
Name: 21066, dtype: object
21067 1343 12 ORtg Last Month    111.917
Name: 21067, dtype: object
21068 1245 12 ORtg Last Month    103.75
Name: 21068, dtype: object
21069 1246 12 ORtg Last Month    103.833
Name: 21069, dtype: object
21070 1400 12 ORtg Last Month    116.667
Name: 21070, dtype: object
21071 1297 12 ORtg Last Month    108.083
Name: 21071, dtype: object
21072 644 10 ORtg Last Month    64.4
Name: 21072, dtype: object
21073 676 7 ORtg Last Month    96.5714
Name: 21073, dtype: object
21074 1241 11 ORtg Last Month    112.818
Name: 21074, dtype: object
21075 1375 11 ORtg Last Month    125
Name: 21075, dtype: object
21076 685 6 ORtg Last Month    114.167
Name: 21076, dtype: object
21077 765 7 ORtg Last Month    109.286
Name: 21077, dtype: object
21078 1139 10 ORtg Last Month    113.9
Name: 21078, dtype: object
21079 771 11 ORtg Last Month    70.0909
Name: 21079, dtype: object
21080 1163 10 ORtg Last Month    116.3
Name: 21080, dtype: object
21081 1243 11 ORtg Last Month    113
Name: 21081, dtype: object
21082 1197 11 ORtg Last Month    108.818
Name: 21082, dtype: object

21083 1195 10 ORtg Last Month    119.5
Name: 21083, dtype: object
21084 1468 11 ORtg Last Month    133.455
Name: 21084, dtype: object
21085 878 11 ORtg Last Month    79.8182
Name: 21085, dtype: object
21086 306 8 ORtg Last Month    38.25
Name: 21086, dtype: object
21087 1080 9 ORtg Last Month    120
Name: 21087, dtype: object
21088 654 9 ORtg Last Month    72.6667
Name: 21088, dtype: object
21089 1185 11 ORtg Last Month    107.727
Name: 21089, dtype: object
21090 0 1 ORtg Last Month    0
Name: 21090, dtype: object
21091 1343 10 ORtg Last Month    134.3
Name: 21091, dtype: object
21092 983 10 ORtg Last Month    98.3
Name: 21092, dtype: object
21093 1116 10 ORtg Last Month    111.6
Name: 21093, dtype: object
21094 1188 10 ORtg Last Month    118.8
Name: 21094, dtype: object
21095 1018 10 ORtg Last Month    101.8
Name: 21095, dtype: object
21096 1153 10 ORtg Last Month    115.3
Name: 21096, dtype: object
21097 273 6 ORtg Last Month    45.5
Name: 21097, dtype: object
21098 1554 13 ORtg Last Month    119.538
Name: 21098, dtype: object
21099 213 3 ORtg Last Month    71
Name: 21099, dtype: object
21100 0 2 ORtg Last Month    0
Name: 21100, dtype: object
21101 1059 11 ORtg Last Month    96.2727
Name: 21101, dtype: object
21102 1120 11 ORtg Last Month    101.818
Name: 21102, dtype: object
21103 1123 13 ORtg Last Month    86.3846
Name: 21103, dtype: object
21104 634 12 ORtg Last Month    52.8333
Name: 21104, dtype: object
21105 0 1 ORtg Last Month    0
Name: 21105, dtype: object
21106 1554 13 ORtg Last Month    119.538
Name: 21106, dtype: object
21107 1586 13 ORtg Last Month    122
Name: 21107, dtype: object
21108 1354 13 ORtg Last Month    104.154
Name: 21108, dtype: object
21109 1333 13 ORtg Last Month    102.538
Name: 21109, dtype: object
21110 1160 11 ORtg Last Month    105.455
Name: 21110, dtype: object
21111 422 5 ORtg Last Month    84.4
Name: 21111, dtype: object
21112 1197 11 ORtg Last Month    108.818
Name: 21112, dtype: object
21113 1058 10 ORtg Last Month    105.8
Name: 21113, dtype: object
21114 1291 11 ORtg Last Month    117.364
Name: 21114, dtype: object
21115 723 10 ORtg Last Month    72.3
Name: 21115, dtype: object
21116 855 10 ORtg Last Month    85.5
Name: 21116, dtype: object
21117 681 6 ORtg Last Month    113.5
Name: 21117, dtype: object
21118 57 1 ORtg Last Month    57
Name: 21118, dtype: object
21119 0 2 ORtg Last Month    0
Name: 21119, dtype: object
21120 1302 11 ORtg Last Month    118.364
Name: 21120, dtype: object
21121 1414 11 ORtg Last Month    128.545
Name: 21121, dtype: object
21122 896 11 ORtg Last Month    81.4545
Name: 21122, dtype: object
21123 1211 10 ORtg Last Month    121.1
Name: 21123, dtype: object
21124 1310 11 ORtg Last Month    119.091
Name: 21124, dtype: object
21125 428 9 ORtg Last Month    47.5556
Name: 21125, dtype: object
21126 1096 11 ORtg Last Month    99.6364
Name: 21126, dtype: object
21127 1164 11 ORtg Last Month    105.818
Name: 21127, dtype: object
21128 1346 11 ORtg Last Month    122.364
Name: 21128, dtype: object
21129 1460 11 ORtg Last Month    132.727
Name: 21129, dtype: object
21130 896 11 ORtg Last Month    81.4545
Name: 21130, dtype: object
21131 1244 11 ORtg Last Month    113.091
Name: 21131, dtype: object
21132 634 6 ORtg Last Month    105.667
Name: 21132, dtype: object
21133 1000 11 ORtg Last Month    90.9091
Name: 21133, dtype: object
21134 571 10 ORtg Last Month    57.1
Name: 21134, dtype: object
21135 1229 11 ORtg Last Month    111.727
Name: 21135, dtype: object
21136 1271 11 ORtg Last Month    115.545
Name: 21136, dtype: object
21137 1379 11 ORtg Last Month    125.364
Name: 21137, dtype: object
21138 1250 11 ORtg Last Month    113.636
Name: 21138, dtype: object
21139 1123 11 ORtg Last Month    102.091
Name: 21139, dtype: object
21140 893 7 ORtg Last Month    127.571
Name: 21140, dtype: object
21141 1342 10 ORtg Last Month    134.2
Name: 21141, dtype: object
21142 248 11 ORtg Last Month    22.5455
Name: 21142, dtype: object
21143 1034 10 ORtg Last Month    103.4
Name: 21143, dtype: object
21144 984 10 ORtg Last Month    98.4
Name: 21144, dtype: object
21145 1020 10 ORtg Last Month    102
Name: 21145, dtype: object
21146 740 12 ORtg Last Month    61.6667
Name: 21146, dtype: object
21147 734 7 ORtg Last Month    104.857
Name: 21147, dtype: object
21148 1088 8 ORtg Last Month    136
Name: 21148, dtype: object
21149 195 5 ORtg Last Month    39
Name: 21149, dtype: object
21150 425 4 ORtg Last Month    106.25
Name: 21150, dtype: object
21151 1138 10 ORtg Last Month    113.8
Name: 21151, dtype: object
21152 687 12 ORtg Last Month    57.25
Name: 21152, dtype: object
21153 1020 9 ORtg Last Month    113.333
Name: 21153, dtype: object
21154 355 10 ORtg Last Month    35.5
Name: 21154, dtype: object
21155 855 8 ORtg Last Month    106.875
Name: 21155, dtype: object
21156 1249 11 ORtg Last Month    113.545
Name: 21156, dtype: object
21157 1176 11 ORtg Last Month    106.909
Name: 21157, dtype: object
21158 914 10 ORtg Last Month    91.4
Name: 21158, dtype: object
21159 1120 11 ORtg Last Month    101.818
Name: 21159, dtype: object
21160 721 11 ORtg Last Month    65.5455
Name: 21160, dtype: object
21161 1387 11 ORtg Last Month    126.091
Name: 21161, dtype: object
21162 518 10 ORtg Last Month    51.8
Name: 21162, dtype: object
21163 1477 11 ORtg Last Month    134.273
Name: 21163, dtype: object
21164 996 11 ORtg Last Month    90.5455
Name: 21164, dtype: object
21165 929 10 ORtg Last Month    92.9
Name: 21165, dtype: object
21166 503 8 ORtg Last Month    62.875
Name: 21166, dtype: object
21167 1310 10 ORtg Last Month    131
Name: 21167, dtype: object
21168 788 10 ORtg Last Month    78.8
Name: 21168, dtype: object
21169 268 9 ORtg Last Month    29.7778
Name: 21169, dtype: object
21170 1066 10 ORtg Last Month    106.6
Name: 21170, dtype: object
21171 873 9 ORtg Last Month    97
Name: 21171, dtype: object
21172 730 10 ORtg Last Month    73
Name: 21172, dtype: object
21173 1368 10 ORtg Last Month    136.8
Name: 21173, dtype: object
21174 1127 10 ORtg Last Month    112.7
Name: 21174, dtype: object
21175 388 9 ORtg Last Month    43.1111
Name: 21175, dtype: object
21176 1477 10 ORtg Last Month    147.7
Name: 21176, dtype: object
21177 136 6 ORtg Last Month    22.6667
Name: 21177, dtype: object
21178 1320 11 ORtg Last Month    120
Name: 21178, dtype: object
21179 1220 10 ORtg Last Month    122
Name: 21179, dtype: object
21180 1152 10 ORtg Last Month    115.2
Name: 21180, dtype: object
21181 752 11 ORtg Last Month    68.3636
Name: 21181, dtype: object
21182 1404 11 ORtg Last Month    127.636
Name: 21182, dtype: object
21183 1181 9 ORtg Last Month    131.222
Name: 21183, dtype: object
21184 1054 11 ORtg Last Month    95.8182
Name: 21184, dtype: object
21185 1044 9 ORtg Last Month    116
Name: 21185, dtype: object
21186 235 5 ORtg Last Month    47
Name: 21186, dtype: object
21187 1027 10 ORtg Last Month    102.7
Name: 21187, dtype: object
21188 1097 10 ORtg Last Month    109.7
Name: 21188, dtype: object
21189 1512 11 ORtg Last Month    137.455
Name: 21189, dtype: object
21190 1305 10 ORtg Last Month    130.5
Name: 21190, dtype: object
21191 1172 10 ORtg Last Month    117.2
Name: 21191, dtype: object
21192 1016 10 ORtg Last Month    101.6
Name: 21192, dtype: object
21193 0 0 ORtg Last Month    0
Name: 21193, dtype: object
21194 1100 10 ORtg Last Month    110
Name: 21194, dtype: object
21195 1096 11 ORtg Last Month    99.6364
Name: 21195, dtype: object
21196 1157 11 ORtg Last Month    105.182
Name: 21196, dtype: object
21197 739 8 ORtg Last Month    92.375
Name: 21197, dtype: object
21198 1511 11 ORtg Last Month    137.364
Name: 21198, dtype: object
21199 200 2 ORtg Last Month    100
Name: 21199, dtype: object
21200 0 8 ORtg Last Month    0
Name: 21200, dtype: object
21201 0 0 ORtg Last Month    0
Name: 21201, dtype: object
21202 1620 13 ORtg Last Month    124.615
Name: 21202, dtype: object
21203 1361 13 ORtg Last Month    104.692
Name: 21203, dtype: object
21204 732 13 ORtg Last Month    56.3077
Name: 21204, dtype: object
21205 1442 13 ORtg Last Month    110.923
Name: 21205, dtype: object
21206 1438 13 ORtg Last Month    110.615
Name: 21206, dtype: object
21207 945 8 ORtg Last Month    118.125
Name: 21207, dtype: object

21208 897 10 ORtg Last Month    89.7
Name: 21208, dtype: object
21209 589 13 ORtg Last Month    45.3077
Name: 21209, dtype: object
21210 1389 13 ORtg Last Month    106.846
Name: 21210, dtype: object
21211 1371 11 ORtg Last Month    124.636
Name: 21211, dtype: object
21212 391 13 ORtg Last Month    30.0769
Name: 21212, dtype: object
21213 1651 12 ORtg Last Month    137.583
Name: 21213, dtype: object
21214 440 11 ORtg Last Month    40
Name: 21214, dtype: object
21215 1214 12 ORtg Last Month    101.167
Name: 21215, dtype: object
21216 920 12 ORtg Last Month    76.6667
Name: 21216, dtype: object
21217 742 6 ORtg Last Month    123.667
Name: 21217, dtype: object
21218 790 11 ORtg Last Month    71.8182
Name: 21218, dtype: object
21219 498 6 ORtg Last Month    83
Name: 21219, dtype: object
21220 1238 10 ORtg Last Month    123.8
Name: 21220, dtype: object
21221 276 11 ORtg Last Month    25.0909
Name: 21221, dtype: object
21222 1439 12 ORtg Last Month    119.917
Name: 21222, dtype: object
21223 1018 10 ORtg Last Month    101.8
Name: 21223, dtype: object
21224 644 12 ORtg Last Month    53.6667
Name: 21224, dtype: object
21225 1155 10 ORtg Last Month    115.5
Name: 21225, dtype: object
21226 900 10 ORtg Last Month    90
Name: 21226, dtype: object
21227 955 10 ORtg Last Month    95.5
Name: 21227, dtype: object
21228 41 4 ORtg Last Month    10.25
Name: 21228, dtype: object
21229 788 7 ORtg Last Month    112.571
Name: 21229, dtype: object
21230 858 8 ORtg Last Month    107.25
Name: 21230, dtype: object
21231 933 8 ORtg Last Month    116.625
Name: 21231, dtype: object
21232 1010 10 ORtg Last Month    101
Name: 21232, dtype: object
21233 538 8 ORtg Last Month    67.25
Name: 21233, dtype: object
21234 1231 10 ORtg Last Month    123.1
Name: 21234, dtype: object
21235 675 8 ORtg Last Month    84.375
Name: 21235, dtype: object
21236 615 9 ORtg Last Month    68.3333
Name: 21236, dtype: object
21237 805 10 ORtg Last Month    80.5
Name: 21237, dtype: object
21238 1161 11 ORtg Last Month    105.545
Name: 21238, dtype: object
21239 1086 11 ORtg Last Month    98.7273
Name: 21239, dtype: object
21240 955 9 ORtg Last Month    106.111
Name: 21240, dtype: object
21241 419 12 ORtg Last Month    34.9167
Name: 21241, dtype: object
21242 534 9 ORtg Last Month    59.3333
Name: 21242, dtype: object
21243 1297 12 ORtg Last Month    108.083
Name: 21243, dtype: object
21244 103 2 ORtg Last Month    51.5
Name: 21244, dtype: object
21245 1090 12 ORtg Last Month    90.8333
Name: 21245, dtype: object
21246 245 8 ORtg Last Month    30.625
Name: 21246, dtype: object
21247 611 9 ORtg Last Month    67.8889
Name: 21247, dtype: object
21248 355 3 ORtg Last Month    118.333
Name: 21248, dtype: object
21249 1340 12 ORtg Last Month    111.667
Name: 21249, dtype: object
21250 1384 12 ORtg Last Month    115.333
Name: 21250, dtype: object
21251 1028 10 ORtg Last Month    102.8
Name: 21251, dtype: object
21252 50 1 ORtg Last Month    50
Name: 21252, dtype: object
21253 1082 11 ORtg Last Month    98.3636
Name: 21253, dtype: object
21254 1265 11 ORtg Last Month    115
Name: 21254, dtype: object
21255 564 6 ORtg Last Month    94
Name: 21255, dtype: object
21256 233 3 ORtg Last Month    77.6667
Name: 21256, dtype: object
21257 0 11 ORtg Last Month    0
Name: 21257, dtype: object
21258 510 5 ORtg Last Month    102
Name: 21258, dtype: object
21259 1249 11 ORtg Last Month    113.545
Name: 21259, dtype: object
21260 1171 11 ORtg Last Month    106.455
Name: 21260, dtype: object
21261 1239 11 ORtg Last Month    112.636
Name: 21261, dtype: object
21262 101 10 ORtg Last Month    10.1
Name: 21262, dtype: object
21263 1320 11 ORtg Last Month    120
Name: 21263, dtype: object
21264 1203 12 ORtg Last Month    100.25
Name: 21264, dtype: object
21265 457 4 ORtg Last Month    114.25
Name: 21265, dtype: object
21266 1193 11 ORtg Last Month    108.455
Name: 21266, dtype: object
21267 832 11 ORtg Last Month    75.6364
Name: 21267, dtype: object
21268 1385 12 ORtg Last Month    115.417
Name: 21268, dtype: object
21269 1360 12 ORtg Last Month    113.333
Name: 21269, dtype: object
21270 273 3 ORtg Last Month    91
Name: 21270, dtype: object
21271 1284 11 ORtg Last Month    116.727
Name: 21271, dtype: object
21272 711 12 ORtg Last Month    59.25
Name: 21272, dtype: object
21273 438 9 ORtg Last Month    48.6667
Name: 21273, dtype: object
21274 0 0 ORtg Last Month    0
Name: 21274, dtype: object
21275 822 8 ORtg Last Month    102.75
Name: 21275, dtype: object
21276 248 3 ORtg Last Month    82.6667
Name: 21276, dtype: object
21277 554 5 ORtg Last Month    110.8
Name: 21277, dtype: object
21278 781 10 ORtg Last Month    78.1
Name: 21278, dtype: object
21279 567 7 ORtg Last Month    81
Name: 21279, dtype: object
21280 1179 10 ORtg Last Month    117.9
Name: 21280, dtype: object
21281 829 8 ORtg Last Month    103.625
Name: 21281, dtype: object
21282 866 10 ORtg Last Month    86.6
Name: 21282, dtype: object
21283 1267 10 ORtg Last Month    126.7
Name: 21283, dtype: object
21284 720 10 ORtg Last Month    72
Name: 21284, dtype: object
21285 368 10 ORtg Last Month    36.8
Name: 21285, dtype: object
21286 1037 8 ORtg Last Month    129.625
Name: 21286, dtype: object
21287 1136 10 ORtg Last Month    113.6
Name: 21287, dtype: object
21288 993 8 ORtg Last Month    124.125
Name: 21288, dtype: object
21289 1352 12 ORtg Last Month    112.667
Name: 21289, dtype: object
21290 290 5 ORtg Last Month    58
Name: 21290, dtype: object
21291 1113 12 ORtg Last Month    92.75
Name: 21291, dtype: object
21292 940 12 ORtg Last Month    78.3333
Name: 21292, dtype: object
21293 1142 12 ORtg Last Month    95.1667
Name: 21293, dtype: object
21294 504 5 ORtg Last Month    100.8
Name: 21294, dtype: object
21295 1302 12 ORtg Last Month    108.5
Name: 21295, dtype: object
21296 768 11 ORtg Last Month    69.8182
Name: 21296, dtype: object
21297 610 12 ORtg Last Month    50.8333
Name: 21297, dtype: object
21298 757 7 ORtg Last Month    108.143
Name: 21298, dtype: object
21299 525 5 ORtg Last Month    105
Name: 21299, dtype: object
21300 1442 12 ORtg Last Month    120.167
Name: 21300, dtype: object
21301 1233 10 ORtg Last Month    123.3
Name: 21301, dtype: object
21302 1163 11 ORtg Last Month    105.727
Name: 21302, dtype: object
21303 1417 11 ORtg Last Month    128.818
Name: 21303, dtype: object
21304 1355 12 ORtg Last Month    112.917
Name: 21304, dtype: object
21305 1420 10 ORtg Last Month    142
Name: 21305, dtype: object
21306 1053 9 ORtg Last Month    117
Name: 21306, dtype: object
21307 1367 12 ORtg Last Month    113.917
Name: 21307, dtype: object
21308 791 7 ORtg Last Month    113
Name: 21308, dtype: object
21309 1147 12 ORtg Last Month    95.5833
Name: 21309, dtype: object
21310 1240 12 ORtg Last Month    103.333
Name: 21310, dtype: object
21311 690 10 ORtg Last Month    69
Name: 21311, dtype: object
21312 188 10 ORtg Last Month    18.8
Name: 21312, dtype: object
21313 896 8 ORtg Last Month    112
Name: 21313, dtype: object
21314 801 9 ORtg Last Month    89
Name: 21314, dtype: object
21315 693 10 ORtg Last Month    69.3
Name: 21315, dtype: object
21316 303 10 ORtg Last Month    30.3
Name: 21316, dtype: object
21317 154 2 ORtg Last Month    77
Name: 21317, dtype: object
21318 759 10 ORtg Last Month    75.9
Name: 21318, dtype: object
21319 1020 10 ORtg Last Month    102
Name: 21319, dtype: object
21320 1107 10 ORtg Last Month    110.7
Name: 21320, dtype: object
21321 982 10 ORtg Last Month    98.2
Name: 21321, dtype: object
21322 0 1 ORtg Last Month    0
Name: 21322, dtype: object
21323 918 8 ORtg Last Month    114.75
Name: 21323, dtype: object
21324 1189 10 ORtg Last Month    118.9
Name: 21324, dtype: object
21325 345 10 ORtg Last Month    34.5
Name: 21325, dtype: object
21326 1004 8 ORtg Last Month    125.5
Name: 21326, dtype: object
21327 1016 9 ORtg Last Month    112.889
Name: 21327, dtype: object
21328 0 4 ORtg Last Month    0
Name: 21328, dtype: object
21329 951 9 ORtg Last Month    105.667
Name: 21329, dtype: object
21330 1280 9 ORtg Last Month    142.222
Name: 21330, dtype: object
21331 1105 9 ORtg Last Month    122.778
Name: 21331, dtype: object
21332 1142 9 ORtg Last Month    126.889
Name: 21332, dtype: object
21333 975 9 ORtg Last Month    108.333
Name: 21333, dtype: object

21334 444 8 ORtg Last Month    55.5
Name: 21334, dtype: object
21335 798 9 ORtg Last Month    88.6667
Name: 21335, dtype: object
21336 326 9 ORtg Last Month    36.2222
Name: 21336, dtype: object
21337 986 8 ORtg Last Month    123.25
Name: 21337, dtype: object
21338 1059 10 ORtg Last Month    105.9
Name: 21338, dtype: object
21339 1341 10 ORtg Last Month    134.1
Name: 21339, dtype: object
21340 816 9 ORtg Last Month    90.6667
Name: 21340, dtype: object
21341 1153 10 ORtg Last Month    115.3
Name: 21341, dtype: object
21342 1043 10 ORtg Last Month    104.3
Name: 21342, dtype: object
21343 953 10 ORtg Last Month    95.3
Name: 21343, dtype: object
21344 493 8 ORtg Last Month    61.625
Name: 21344, dtype: object
21345 830 10 ORtg Last Month    83
Name: 21345, dtype: object
21346 1084 10 ORtg Last Month    108.4
Name: 21346, dtype: object
21347 1100 10 ORtg Last Month    110
Name: 21347, dtype: object
21348 1205 10 ORtg Last Month    120.5
Name: 21348, dtype: object
21349 200 10 ORtg Last Month    20
Name: 21349, dtype: object
21350 685 7 ORtg Last Month    97.8571
Name: 21350, dtype: object
21351 1371 12 ORtg Last Month    114.25
Name: 21351, dtype: object
21352 1440 12 ORtg Last Month    120
Name: 21352, dtype: object
21353 899 8 ORtg Last Month    112.375
Name: 21353, dtype: object
21354 1250 11 ORtg Last Month    113.636
Name: 21354, dtype: object
21355 1277 11 ORtg Last Month    116.091
Name: 21355, dtype: object
21356 1359 12 ORtg Last Month    113.25
Name: 21356, dtype: object
21357 1344 12 ORtg Last Month    112
Name: 21357, dtype: object
21358 951 12 ORtg Last Month    79.25
Name: 21358, dtype: object
21359 1313 11 ORtg Last Month    119.364
Name: 21359, dtype: object
21360 1626 12 ORtg Last Month    135.5
Name: 21360, dtype: object
21361 962 12 ORtg Last Month    80.1667
Name: 21361, dtype: object
21362 306 9 ORtg Last Month    34
Name: 21362, dtype: object
21363 742 6 ORtg Last Month    123.667
Name: 21363, dtype: object
21364 1042 10 ORtg Last Month    104.2
Name: 21364, dtype: object
21365 1156 11 ORtg Last Month    105.091
Name: 21365, dtype: object
21366 1209 11 ORtg Last Month    109.909
Name: 21366, dtype: object
21367 1052 11 ORtg Last Month    95.6364
Name: 21367, dtype: object
21368 1262 11 ORtg Last Month    114.727
Name: 21368, dtype: object
21369 1166 10 ORtg Last Month    116.6
Name: 21369, dtype: object
21370 555 11 ORtg Last Month    50.4545
Name: 21370, dtype: object
21371 1392 11 ORtg Last Month    126.545
Name: 21371, dtype: object
21372 0 6 ORtg Last Month    0
Name: 21372, dtype: object
21373 330 11 ORtg Last Month    30
Name: 21373, dtype: object
21374 1379 11 ORtg Last Month    125.364
Name: 21374, dtype: object
21375 558 6 ORtg Last Month    93
Name: 21375, dtype: object
21376 1461 11 ORtg Last Month    132.818
Name: 21376, dtype: object
21377 307 3 ORtg Last Month    102.333
Name: 21377, dtype: object
21378 1465 11 ORtg Last Month    133.182
Name: 21378, dtype: object
21379 391 4 ORtg Last Month    97.75
Name: 21379, dtype: object
21380 1135 11 ORtg Last Month    103.182
Name: 21380, dtype: object
21381 955 11 ORtg Last Month    86.8182
Name: 21381, dtype: object
21382 90 10 ORtg Last Month    9
Name: 21382, dtype: object
21383 613 11 ORtg Last Month    55.7273
Name: 21383, dtype: object
21384 354 6 ORtg Last Month    59
Name: 21384, dtype: object
21385 1259 11 ORtg Last Month    114.455
Name: 21385, dtype: object
21386 890 8 ORtg Last Month    111.25
Name: 21386, dtype: object
21387 1368 11 ORtg Last Month    124.364
Name: 21387, dtype: object
21388 1228 13 ORtg Last Month    94.4615
Name: 21388, dtype: object
21389 210 2 ORtg Last Month    105
Name: 21389, dtype: object
21390 1013 10 ORtg Last Month    101.3
Name: 21390, dtype: object
21391 1100 13 ORtg Last Month    84.6154
Name: 21391, dtype: object
21392 1300 13 ORtg Last Month    100
Name: 21392, dtype: object
21393 859 13 ORtg Last Month    66.0769
Name: 21393, dtype: object
21394 1636 12 ORtg Last Month    136.333
Name: 21394, dtype: object
21395 0 2 ORtg Last Month    0
Name: 21395, dtype: object
21396 1112 13 ORtg Last Month    85.5385
Name: 21396, dtype: object
21397 588 10 ORtg Last Month    58.8
Name: 21397, dtype: object
21398 1197 11 ORtg Last Month    108.818
Name: 21398, dtype: object
21399 1088 9 ORtg Last Month    120.889
Name: 21399, dtype: object
21400 431 10 ORtg Last Month    43.1
Name: 21400, dtype: object
21401 357 7 ORtg Last Month    51
Name: 21401, dtype: object
21402 1393 11 ORtg Last Month    126.636
Name: 21402, dtype: object
21403 1130 9 ORtg Last Month    125.556
Name: 21403, dtype: object
21404 210 2 ORtg Last Month    105
Name: 21404, dtype: object
21405 1133 10 ORtg Last Month    113.3
Name: 21405, dtype: object
21406 878 10 ORtg Last Month    87.8
Name: 21406, dtype: object
21407 289 10 ORtg Last Month    28.9
Name: 21407, dtype: object
21408 1131 10 ORtg Last Month    113.1
Name: 21408, dtype: object
21409 1355 11 ORtg Last Month    123.182
Name: 21409, dtype: object
21410 955 11 ORtg Last Month    86.8182
Name: 21410, dtype: object
21411 1549 12 ORtg Last Month    129.083
Name: 21411, dtype: object
21412 689 12 ORtg Last Month    57.4167
Name: 21412, dtype: object
21413 1203 12 ORtg Last Month    100.25
Name: 21413, dtype: object
21414 1298 12 ORtg Last Month    108.167
Name: 21414, dtype: object
21415 1355 12 ORtg Last Month    112.917
Name: 21415, dtype: object
21416 1330 12 ORtg Last Month    110.833
Name: 21416, dtype: object
21417 1423 12 ORtg Last Month    118.583
Name: 21417, dtype: object
21418 1401 12 ORtg Last Month    116.75
Name: 21418, dtype: object
21419 644 10 ORtg Last Month    64.4
Name: 21419, dtype: object
21420 676 8 ORtg Last Month    84.5
Name: 21420, dtype: object
21421 1085 9 ORtg Last Month    120.556
Name: 21421, dtype: object
21422 1165 11 ORtg Last Month    105.909
Name: 21422, dtype: object
21423 795 9 ORtg Last Month    88.3333
Name: 21423, dtype: object
21424 99 2 ORtg Last Month    49.5
Name: 21424, dtype: object
21425 779 8 ORtg Last Month    97.375
Name: 21425, dtype: object
21426 1279 10 ORtg Last Month    127.9
Name: 21426, dtype: object
21427 1014 10 ORtg Last Month    101.4
Name: 21427, dtype: object
21428 992 10 ORtg Last Month    99.2
Name: 21428, dtype: object
21429 0 1 ORtg Last Month    0
Name: 21429, dtype: object
21430 1151 10 ORtg Last Month    115.1
Name: 21430, dtype: object
21431 922 9 ORtg Last Month    102.444
Name: 21431, dtype: object
21432 1138 10 ORtg Last Month    113.8
Name: 21432, dtype: object
21433 273 7 ORtg Last Month    39
Name: 21433, dtype: object
21434 1550 13 ORtg Last Month    119.231
Name: 21434, dtype: object
21435 0 3 ORtg Last Month    0
Name: 21435, dtype: object
21436 384 4 ORtg Last Month    96
Name: 21436, dtype: object
21437 1096 13 ORtg Last Month    84.3077
Name: 21437, dtype: object
21438 1209 11 ORtg Last Month    109.909
Name: 21438, dtype: object
21439 1140 12 ORtg Last Month    95
Name: 21439, dtype: object
21440 634 12 ORtg Last Month    52.8333
Name: 21440, dtype: object
21441 1539 13 ORtg Last Month    118.385
Name: 21441, dtype: object
21442 1564 13 ORtg Last Month    120.308
Name: 21442, dtype: object
21443 1357 13 ORtg Last Month    104.385
Name: 21443, dtype: object
21444 1370 13 ORtg Last Month    105.385
Name: 21444, dtype: object
21445 827 7 ORtg Last Month    118.143
Name: 21445, dtype: object
21446 1231 12 ORtg Last Month    102.583
Name: 21446, dtype: object
21447 964 11 ORtg Last Month    87.6364
Name: 21447, dtype: object
21448 1296 12 ORtg Last Month    108
Name: 21448, dtype: object
21449 1355 12 ORtg Last Month    112.917
Name: 21449, dtype: object
21450 1146 12 ORtg Last Month    95.5
Name: 21450, dtype: object
21451 1270 11 ORtg Last Month    115.455
Name: 21451, dtype: object
21452 667 12 ORtg Last Month    55.5833
Name: 21452, dtype: object
21453 1490 12 ORtg Last Month    124.167
Name: 21453, dtype: object
21454 1379 12 ORtg Last Month    114.917
Name: 21454, dtype: object
21455 142 7 ORtg Last Month    20.2857
Name: 21455, dtype: object
21456 424 12 ORtg Last Month    35.3333
Name: 21456, dtype: object
21457 1276 12 ORtg Last Month    106.333
Name: 21457, dtype: object
21458 1251 12 ORtg Last Month    104.25
Name: 21458, dtype: object

21459 542 6 ORtg Last Month    90.3333
Name: 21459, dtype: object
21460 747 7 ORtg Last Month    106.714
Name: 21460, dtype: object
21461 838 11 ORtg Last Month    76.1818
Name: 21461, dtype: object
21462 966 11 ORtg Last Month    87.8182
Name: 21462, dtype: object
21463 1143 11 ORtg Last Month    103.909
Name: 21463, dtype: object
21464 1449 12 ORtg Last Month    120.75
Name: 21464, dtype: object
21465 0 3 ORtg Last Month    0
Name: 21465, dtype: object
21466 1424 12 ORtg Last Month    118.667
Name: 21466, dtype: object
21467 896 12 ORtg Last Month    74.6667
Name: 21467, dtype: object
21468 1512 12 ORtg Last Month    126
Name: 21468, dtype: object
21469 1218 10 ORtg Last Month    121.8
Name: 21469, dtype: object
21470 825 9 ORtg Last Month    91.6667
Name: 21470, dtype: object
21471 1294 11 ORtg Last Month    117.636
Name: 21471, dtype: object
21472 1185 11 ORtg Last Month    107.727
Name: 21472, dtype: object
21473 446 9 ORtg Last Month    49.5556
Name: 21473, dtype: object
21474 517 6 ORtg Last Month    86.1667
Name: 21474, dtype: object
21475 1095 11 ORtg Last Month    99.5455
Name: 21475, dtype: object
21476 1100 11 ORtg Last Month    100
Name: 21476, dtype: object
21477 1337 11 ORtg Last Month    121.545
Name: 21477, dtype: object
21478 1475 11 ORtg Last Month    134.091
Name: 21478, dtype: object
21479 975 11 ORtg Last Month    88.6364
Name: 21479, dtype: object
21480 1330 12 ORtg Last Month    110.833
Name: 21480, dtype: object
21481 715 7 ORtg Last Month    102.143
Name: 21481, dtype: object
21482 482 10 ORtg Last Month    48.2
Name: 21482, dtype: object
21483 1000 12 ORtg Last Month    83.3333
Name: 21483, dtype: object
21484 1339 12 ORtg Last Month    111.583
Name: 21484, dtype: object
21485 1384 12 ORtg Last Month    115.333
Name: 21485, dtype: object
21486 1505 12 ORtg Last Month    125.417
Name: 21486, dtype: object
21487 1316 12 ORtg Last Month    109.667
Name: 21487, dtype: object
21488 1238 12 ORtg Last Month    103.167
Name: 21488, dtype: object
21489 128 6 ORtg Last Month    21.3333
Name: 21489, dtype: object
21490 1071 8 ORtg Last Month    133.875
Name: 21490, dtype: object
21491 1477 11 ORtg Last Month    134.273
Name: 21491, dtype: object
21492 842 8 ORtg Last Month    105.25
Name: 21492, dtype: object
21493 1171 11 ORtg Last Month    106.455
Name: 21493, dtype: object
21494 1255 11 ORtg Last Month    114.091
Name: 21494, dtype: object
21495 1091 11 ORtg Last Month    99.1818
Name: 21495, dtype: object
21496 701 11 ORtg Last Month    63.7273
Name: 21496, dtype: object
21497 1126 11 ORtg Last Month    102.364
Name: 21497, dtype: object
21498 475 10 ORtg Last Month    47.5
Name: 21498, dtype: object
21499 1528 11 ORtg Last Month    138.909
Name: 21499, dtype: object
21500 989 11 ORtg Last Month    89.9091
Name: 21500, dtype: object
21501 1059 10 ORtg Last Month    105.9
Name: 21501, dtype: object
21502 503 8 ORtg Last Month    62.875
Name: 21502, dtype: object
21503 1423 11 ORtg Last Month    129.364
Name: 21503, dtype: object
21504 949 11 ORtg Last Month    86.2727
Name: 21504, dtype: object
21505 268 10 ORtg Last Month    26.8
Name: 21505, dtype: object
21506 857 9 ORtg Last Month    95.2222
Name: 21506, dtype: object
21507 1224 11 ORtg Last Month    111.273
Name: 21507, dtype: object
21508 815 11 ORtg Last Month    74.0909
Name: 21508, dtype: object
21509 1497 11 ORtg Last Month    136.091
Name: 21509, dtype: object
21510 1242 11 ORtg Last Month    112.909
Name: 21510, dtype: object
21511 1559 11 ORtg Last Month    141.727
Name: 21511, dtype: object
21512 495 10 ORtg Last Month    49.5
Name: 21512, dtype: object
21513 136 7 ORtg Last Month    19.4286
Name: 21513, dtype: object
21514 1237 10 ORtg Last Month    123.7
Name: 21514, dtype: object
21515 1269 11 ORtg Last Month    115.364
Name: 21515, dtype: object
21516 752 11 ORtg Last Month    68.3636
Name: 21516, dtype: object
21517 1159 10 ORtg Last Month    115.9
Name: 21517, dtype: object
21518 1425 11 ORtg Last Month    129.545
Name: 21518, dtype: object
21519 1044 10 ORtg Last Month    104.4
Name: 21519, dtype: object
21520 1222 9 ORtg Last Month    135.778
Name: 21520, dtype: object
21521 235 5 ORtg Last Month    47
Name: 21521, dtype: object
21522 1117 11 ORtg Last Month    101.545
Name: 21522, dtype: object
21523 570 10 ORtg Last Month    57
Name: 21523, dtype: object
21524 1099 10 ORtg Last Month    109.9
Name: 21524, dtype: object
21525 1525 11 ORtg Last Month    138.636
Name: 21525, dtype: object
21526 1152 10 ORtg Last Month    115.2
Name: 21526, dtype: object
21527 1355 10 ORtg Last Month    135.5
Name: 21527, dtype: object
21528 1066 10 ORtg Last Month    106.6
Name: 21528, dtype: object
21529 1214 11 ORtg Last Month    110.364
Name: 21529, dtype: object
21530 1119 11 ORtg Last Month    101.727
Name: 21530, dtype: object
21531 1114 10 ORtg Last Month    111.4
Name: 21531, dtype: object
21532 735 8 ORtg Last Month    91.875
Name: 21532, dtype: object
21533 361 3 ORtg Last Month    120.333
Name: 21533, dtype: object
21534 1525 11 ORtg Last Month    138.636
Name: 21534, dtype: object
21535 0 1 ORtg Last Month    0
Name: 21535, dtype: object
21536 1108 10 ORtg Last Month    110.8
Name: 21536, dtype: object
21537 0 8 ORtg Last Month    0
Name: 21537, dtype: object
21538 1372 13 ORtg Last Month    105.538
Name: 21538, dtype: object
21539 1572 13 ORtg Last Month    120.923
Name: 21539, dtype: object
21540 663 13 ORtg Last Month    51
Name: 21540, dtype: object
21541 1445 13 ORtg Last Month    111.154
Name: 21541, dtype: object
21542 1472 13 ORtg Last Month    113.231
Name: 21542, dtype: object
21543 1035 8 ORtg Last Month    129.375
Name: 21543, dtype: object
21544 1311 11 ORtg Last Month    119.182
Name: 21544, dtype: object
21545 391 13 ORtg Last Month    30.0769
Name: 21545, dtype: object
21546 1646 12 ORtg Last Month    137.167
Name: 21546, dtype: object
21547 1060 12 ORtg Last Month    88.3333
Name: 21547, dtype: object
21548 573 11 ORtg Last Month    52.0909
Name: 21548, dtype: object
21549 861 7 ORtg Last Month    123
Name: 21549, dtype: object
21550 898 11 ORtg Last Month    81.6364
Name: 21550, dtype: object
21551 1182 10 ORtg Last Month    118.2
Name: 21551, dtype: object
21552 595 7 ORtg Last Month    85
Name: 21552, dtype: object
21553 276 11 ORtg Last Month    25.0909
Name: 21553, dtype: object
21554 1450 12 ORtg Last Month    120.833
Name: 21554, dtype: object
21555 1016 10 ORtg Last Month    101.6
Name: 21555, dtype: object
21556 528 12 ORtg Last Month    44
Name: 21556, dtype: object
21557 814 10 ORtg Last Month    81.4
Name: 21557, dtype: object
21558 1134 10 ORtg Last Month    113.4
Name: 21558, dtype: object
21559 41 4 ORtg Last Month    10.25
Name: 21559, dtype: object
21560 884 8 ORtg Last Month    110.5
Name: 21560, dtype: object
21561 979 9 ORtg Last Month    108.778
Name: 21561, dtype: object
21562 1053 9 ORtg Last Month    117
Name: 21562, dtype: object
21563 773 10 ORtg Last Month    77.3
Name: 21563, dtype: object
21564 977 10 ORtg Last Month    97.7
Name: 21564, dtype: object
21565 458 8 ORtg Last Month    57.25
Name: 21565, dtype: object
21566 1249 10 ORtg Last Month    124.9
Name: 21566, dtype: object
21567 668 8 ORtg Last Month    83.5
Name: 21567, dtype: object
21568 678 9 ORtg Last Month    75.3333
Name: 21568, dtype: object
21569 551 10 ORtg Last Month    55.1
Name: 21569, dtype: object
21570 1061 11 ORtg Last Month    96.4545
Name: 21570, dtype: object
21571 1181 11 ORtg Last Month    107.364
Name: 21571, dtype: object
21572 975 9 ORtg Last Month    108.333
Name: 21572, dtype: object
21573 377 9 ORtg Last Month    41.8889
Name: 21573, dtype: object
21574 419 12 ORtg Last Month    34.9167
Name: 21574, dtype: object
21575 1038 12 ORtg Last Month    86.5
Name: 21575, dtype: object
21576 1229 12 ORtg Last Month    102.417
Name: 21576, dtype: object
21577 160 3 ORtg Last Month    53.3333
Name: 21577, dtype: object
21578 611 9 ORtg Last Month    67.8889
Name: 21578, dtype: object
21579 1347 12 ORtg Last Month    112.25
Name: 21579, dtype: object
21580 454 4 ORtg Last Month    113.5
Name: 21580, dtype: object
21581 1008 10 ORtg Last Month    100.8
Name: 21581, dtype: object
21582 146 2 ORtg Last Month    73
Name: 21582, dtype: object

21583 835 9 ORtg Last Month    92.7778
Name: 21583, dtype: object
21584 1254 11 ORtg Last Month    114
Name: 21584, dtype: object
21585 541 10 ORtg Last Month    54.1
Name: 21585, dtype: object
21586 233 3 ORtg Last Month    77.6667
Name: 21586, dtype: object
21587 1128 11 ORtg Last Month    102.545
Name: 21587, dtype: object
21588 0 11 ORtg Last Month    0
Name: 21588, dtype: object
21589 645 7 ORtg Last Month    92.1429
Name: 21589, dtype: object
21590 1286 11 ORtg Last Month    116.909
Name: 21590, dtype: object
21591 1161 11 ORtg Last Month    105.545
Name: 21591, dtype: object
21592 187 10 ORtg Last Month    18.7
Name: 21592, dtype: object
21593 1256 12 ORtg Last Month    104.667
Name: 21593, dtype: object
21594 1325 11 ORtg Last Month    120.455
Name: 21594, dtype: object
21595 1102 9 ORtg Last Month    122.444
Name: 21595, dtype: object
21596 1173 11 ORtg Last Month    106.636
Name: 21596, dtype: object
21597 1308 10 ORtg Last Month    130.8
Name: 21597, dtype: object
21598 945 12 ORtg Last Month    78.75
Name: 21598, dtype: object
21599 1363 12 ORtg Last Month    113.583
Name: 21599, dtype: object
21600 399 4 ORtg Last Month    99.75
Name: 21600, dtype: object
21601 1278 12 ORtg Last Month    106.5
Name: 21601, dtype: object
21602 1418 12 ORtg Last Month    118.167
Name: 21602, dtype: object
21603 817 12 ORtg Last Month    68.0833
Name: 21603, dtype: object
21604 42 1 ORtg Last Month    42
Name: 21604, dtype: object
21605 438 10 ORtg Last Month    43.8
Name: 21605, dtype: object
21606 642 6 ORtg Last Month    107
Name: 21606, dtype: object
21607 380 4 ORtg Last Month    95
Name: 21607, dtype: object
21608 670 10 ORtg Last Month    67
Name: 21608, dtype: object
21609 787 8 ORtg Last Month    98.375
Name: 21609, dtype: object
21610 936 10 ORtg Last Month    93.6
Name: 21610, dtype: object
21611 1291 10 ORtg Last Month    129.1
Name: 21611, dtype: object
21612 783 10 ORtg Last Month    78.3
Name: 21612, dtype: object
21613 1097 10 ORtg Last Month    109.7
Name: 21613, dtype: object
21614 368 10 ORtg Last Month    36.8
Name: 21614, dtype: object
21615 1017 8 ORtg Last Month    127.125
Name: 21615, dtype: object
21616 1163 10 ORtg Last Month    116.3
Name: 21616, dtype: object
21617 825 8 ORtg Last Month    103.125
Name: 21617, dtype: object
21618 1346 12 ORtg Last Month    112.167
Name: 21618, dtype: object
21619 329 5 ORtg Last Month    65.8
Name: 21619, dtype: object
21620 1064 12 ORtg Last Month    88.6667
Name: 21620, dtype: object
21621 830 12 ORtg Last Month    69.1667
Name: 21621, dtype: object
21622 1013 12 ORtg Last Month    84.4167
Name: 21622, dtype: object
21623 980 10 ORtg Last Month    98
Name: 21623, dtype: object
21624 1279 12 ORtg Last Month    106.583
Name: 21624, dtype: object
21625 537 5 ORtg Last Month    107.4
Name: 21625, dtype: object
21626 864 12 ORtg Last Month    72
Name: 21626, dtype: object
21627 864 8 ORtg Last Month    108
Name: 21627, dtype: object
21628 637 6 ORtg Last Month    106.167
Name: 21628, dtype: object
21629 1464 12 ORtg Last Month    122
Name: 21629, dtype: object
21630 1158 10 ORtg Last Month    115.8
Name: 21630, dtype: object
21631 1129 9 ORtg Last Month    125.444
Name: 21631, dtype: object
21632 1042 9 ORtg Last Month    115.778
Name: 21632, dtype: object
21633 991 9 ORtg Last Month    110.111
Name: 21633, dtype: object
21634 1170 9 ORtg Last Month    130
Name: 21634, dtype: object
21635 1169 9 ORtg Last Month    129.889
Name: 21635, dtype: object
21636 1106 9 ORtg Last Month    122.889
Name: 21636, dtype: object
21637 989 9 ORtg Last Month    109.889
Name: 21637, dtype: object
21638 585 8 ORtg Last Month    73.125
Name: 21638, dtype: object
21639 783 9 ORtg Last Month    87
Name: 21639, dtype: object
21640 326 10 ORtg Last Month    32.6
Name: 21640, dtype: object
21641 746 8 ORtg Last Month    93.25
Name: 21641, dtype: object
21642 1046 10 ORtg Last Month    104.6
Name: 21642, dtype: object
21643 1221 10 ORtg Last Month    122.1
Name: 21643, dtype: object
21644 849 9 ORtg Last Month    94.3333
Name: 21644, dtype: object
21645 1000 10 ORtg Last Month    100
Name: 21645, dtype: object
21646 1130 10 ORtg Last Month    113
Name: 21646, dtype: object
21647 925 10 ORtg Last Month    92.5
Name: 21647, dtype: object
21648 490 8 ORtg Last Month    61.25
Name: 21648, dtype: object
21649 844 10 ORtg Last Month    84.4
Name: 21649, dtype: object
21650 1085 10 ORtg Last Month    108.5
Name: 21650, dtype: object
21651 1158 10 ORtg Last Month    115.8
Name: 21651, dtype: object
21652 1108 10 ORtg Last Month    110.8
Name: 21652, dtype: object
21653 200 10 ORtg Last Month    20
Name: 21653, dtype: object
21654 471 6 ORtg Last Month    78.5
Name: 21654, dtype: object
21655 1233 11 ORtg Last Month    112.091
Name: 21655, dtype: object
21656 1143 11 ORtg Last Month    103.909
Name: 21656, dtype: object
21657 1020 9 ORtg Last Month    113.333
Name: 21657, dtype: object
21658 1136 11 ORtg Last Month    103.273
Name: 21658, dtype: object
21659 1109 10 ORtg Last Month    110.9
Name: 21659, dtype: object
21660 1194 11 ORtg Last Month    108.545
Name: 21660, dtype: object
21661 1190 11 ORtg Last Month    108.182
Name: 21661, dtype: object
21662 795 11 ORtg Last Month    72.2727
Name: 21662, dtype: object
21663 1165 10 ORtg Last Month    116.5
Name: 21663, dtype: object
21664 1367 11 ORtg Last Month    124.273
Name: 21664, dtype: object
21665 506 8 ORtg Last Month    63.25
Name: 21665, dtype: object
21666 710 11 ORtg Last Month    64.5455
Name: 21666, dtype: object
21667 852 8 ORtg Last Month    106.5
Name: 21667, dtype: object
21668 885 8 ORtg Last Month    110.625
Name: 21668, dtype: object
21669 547 5 ORtg Last Month    109.4
Name: 21669, dtype: object
21670 564 8 ORtg Last Month    70.5
Name: 21670, dtype: object
21671 996 8 ORtg Last Month    124.5
Name: 21671, dtype: object
21672 824 8 ORtg Last Month    103
Name: 21672, dtype: object
21673 1029 8 ORtg Last Month    128.625
Name: 21673, dtype: object
21674 476 4 ORtg Last Month    119
Name: 21674, dtype: object
21675 737 8 ORtg Last Month    92.125
Name: 21675, dtype: object
21676 502 8 ORtg Last Month    62.75
Name: 21676, dtype: object
21677 1108 8 ORtg Last Month    138.5
Name: 21677, dtype: object
21678 1027 8 ORtg Last Month    128.375
Name: 21678, dtype: object
21679 410 8 ORtg Last Month    51.25
Name: 21679, dtype: object
21680 1391 11 ORtg Last Month    126.455
Name: 21680, dtype: object
21681 1149 9 ORtg Last Month    127.667
Name: 21681, dtype: object
21682 1029 11 ORtg Last Month    93.5455
Name: 21682, dtype: object
21683 1224 11 ORtg Last Month    111.273
Name: 21683, dtype: object
21684 651 8 ORtg Last Month    81.375
Name: 21684, dtype: object
21685 567 11 ORtg Last Month    51.5455
Name: 21685, dtype: object
21686 644 11 ORtg Last Month    58.5455
Name: 21686, dtype: object
21687 1008 9 ORtg Last Month    112
Name: 21687, dtype: object
21688 1297 11 ORtg Last Month    117.909
Name: 21688, dtype: object
21689 1256 11 ORtg Last Month    114.182
Name: 21689, dtype: object
21690 233 11 ORtg Last Month    21.1818
Name: 21690, dtype: object
21691 974 10 ORtg Last Month    97.4
Name: 21691, dtype: object
21692 992 10 ORtg Last Month    99.2
Name: 21692, dtype: object
21693 815 12 ORtg Last Month    67.9167
Name: 21693, dtype: object
21694 985 10 ORtg Last Month    98.5
Name: 21694, dtype: object
21695 791 7 ORtg Last Month    113
Name: 21695, dtype: object
21696 1278 9 ORtg Last Month    142
Name: 21696, dtype: object
21697 335 5 ORtg Last Month    67
Name: 21697, dtype: object
21698 537 5 ORtg Last Month    107.4
Name: 21698, dtype: object
21699 1003 9 ORtg Last Month    111.444
Name: 21699, dtype: object
21700 831 12 ORtg Last Month    69.25
Name: 21700, dtype: object
21701 1246 10 ORtg Last Month    124.6
Name: 21701, dtype: object
21702 300 10 ORtg Last Month    30
Name: 21702, dtype: object
21703 694 7 ORtg Last Month    99.1429
Name: 21703, dtype: object
21704 381 4 ORtg Last Month    95.25
Name: 21704, dtype: object
21705 1447 11 ORtg Last Month    131.545
Name: 21705, dtype: object
21706 403 4 ORtg Last Month    100.75
Name: 21706, dtype: object
21707 1437 11 ORtg Last Month    130.636
Name: 21707, dtype: object
21708 1149 11 ORtg Last Month    104.455
Name: 21708, dtype: object

21709 613 11 ORtg Last Month    55.7273
Name: 21709, dtype: object
21710 837 11 ORtg Last Month    76.0909
Name: 21710, dtype: object
21711 354 7 ORtg Last Month    50.5714
Name: 21711, dtype: object
21712 90 10 ORtg Last Month    9
Name: 21712, dtype: object
21713 1286 11 ORtg Last Month    116.909
Name: 21713, dtype: object
21714 1338 11 ORtg Last Month    121.636
Name: 21714, dtype: object
21715 943 8 ORtg Last Month    117.875
Name: 21715, dtype: object
21716 1235 11 ORtg Last Month    112.273
Name: 21716, dtype: object
21717 1287 10 ORtg Last Month    128.7
Name: 21717, dtype: object
21718 772 11 ORtg Last Month    70.1818
Name: 21718, dtype: object
21719 1101 10 ORtg Last Month    110.1
Name: 21719, dtype: object
21720 1007 11 ORtg Last Month    91.5455
Name: 21720, dtype: object
21721 1150 11 ORtg Last Month    104.545
Name: 21721, dtype: object
21722 91 5 ORtg Last Month    18.2
Name: 21722, dtype: object
21723 926 9 ORtg Last Month    102.889
Name: 21723, dtype: object
21724 1211 11 ORtg Last Month    110.091
Name: 21724, dtype: object
21725 545 10 ORtg Last Month    54.5
Name: 21725, dtype: object
21726 1490 11 ORtg Last Month    135.455
Name: 21726, dtype: object
21727 1254 11 ORtg Last Month    114
Name: 21727, dtype: object
21728 1455 11 ORtg Last Month    132.273
Name: 21728, dtype: object
21729 1157 11 ORtg Last Month    105.182
Name: 21729, dtype: object
21730 1333 12 ORtg Last Month    111.083
Name: 21730, dtype: object
21731 1369 12 ORtg Last Month    114.083
Name: 21731, dtype: object
21732 504 4 ORtg Last Month    126
Name: 21732, dtype: object
21733 0 9 ORtg Last Month    0
Name: 21733, dtype: object
21734 1108 11 ORtg Last Month    100.727
Name: 21734, dtype: object
21735 0 2 ORtg Last Month    0
Name: 21735, dtype: object
21736 1393 13 ORtg Last Month    107.154
Name: 21736, dtype: object
21737 1554 13 ORtg Last Month    119.538
Name: 21737, dtype: object
21738 637 13 ORtg Last Month    49
Name: 21738, dtype: object
21739 1446 13 ORtg Last Month    111.231
Name: 21739, dtype: object
21740 1468 13 ORtg Last Month    112.923
Name: 21740, dtype: object
21741 1041 8 ORtg Last Month    130.125
Name: 21741, dtype: object
21742 1297 11 ORtg Last Month    117.909
Name: 21742, dtype: object
21743 532 13 ORtg Last Month    40.9231
Name: 21743, dtype: object
21744 964 10 ORtg Last Month    96.4
Name: 21744, dtype: object
21745 308 3 ORtg Last Month    102.667
Name: 21745, dtype: object
21746 1133 11 ORtg Last Month    103
Name: 21746, dtype: object
21747 1408 12 ORtg Last Month    117.333
Name: 21747, dtype: object
21748 1185 12 ORtg Last Month    98.75
Name: 21748, dtype: object
21749 296 4 ORtg Last Month    74
Name: 21749, dtype: object
21750 731 11 ORtg Last Month    66.4545
Name: 21750, dtype: object
21751 645 8 ORtg Last Month    80.625
Name: 21751, dtype: object
21752 0 12 ORtg Last Month    0
Name: 21752, dtype: object
21753 1317 12 ORtg Last Month    109.75
Name: 21753, dtype: object
21754 1418 12 ORtg Last Month    118.167
Name: 21754, dtype: object
21755 187 11 ORtg Last Month    17
Name: 21755, dtype: object
21756 567 8 ORtg Last Month    70.875
Name: 21756, dtype: object
21757 752 7 ORtg Last Month    107.429
Name: 21757, dtype: object
21758 472 5 ORtg Last Month    94.4
Name: 21758, dtype: object
21759 744 11 ORtg Last Month    67.6364
Name: 21759, dtype: object
21760 885 9 ORtg Last Month    98.3333
Name: 21760, dtype: object
21761 1358 11 ORtg Last Month    123.455
Name: 21761, dtype: object
21762 879 11 ORtg Last Month    79.9091
Name: 21762, dtype: object
21763 1065 11 ORtg Last Month    96.8182
Name: 21763, dtype: object
21764 368 11 ORtg Last Month    33.4545
Name: 21764, dtype: object
21765 1163 9 ORtg Last Month    129.222
Name: 21765, dtype: object
21766 1303 11 ORtg Last Month    118.455
Name: 21766, dtype: object
21767 825 9 ORtg Last Month    91.6667
Name: 21767, dtype: object
21768 1218 12 ORtg Last Month    101.5
Name: 21768, dtype: object
21769 308 3 ORtg Last Month    102.667
Name: 21769, dtype: object
21770 1147 11 ORtg Last Month    104.273
Name: 21770, dtype: object
21771 1192 12 ORtg Last Month    99.3333
Name: 21771, dtype: object
21772 997 12 ORtg Last Month    83.0833
Name: 21772, dtype: object
21773 703 12 ORtg Last Month    58.5833
Name: 21773, dtype: object
21774 1172 12 ORtg Last Month    97.6667
Name: 21774, dtype: object
21775 1528 11 ORtg Last Month    138.909
Name: 21775, dtype: object
21776 125 3 ORtg Last Month    41.6667
Name: 21776, dtype: object
21777 588 11 ORtg Last Month    53.4545
Name: 21777, dtype: object
21778 1219 11 ORtg Last Month    110.818
Name: 21778, dtype: object
21779 1047 9 ORtg Last Month    116.333
Name: 21779, dtype: object
21780 431 11 ORtg Last Month    39.1818
Name: 21780, dtype: object
21781 357 8 ORtg Last Month    44.625
Name: 21781, dtype: object
21782 1169 9 ORtg Last Month    129.889
Name: 21782, dtype: object
21783 300 3 ORtg Last Month    100
Name: 21783, dtype: object
21784 1109 10 ORtg Last Month    110.9
Name: 21784, dtype: object
21785 893 10 ORtg Last Month    89.3
Name: 21785, dtype: object
21786 289 11 ORtg Last Month    26.2727
Name: 21786, dtype: object
21787 1106 10 ORtg Last Month    110.6
Name: 21787, dtype: object
21788 1352 11 ORtg Last Month    122.909
Name: 21788, dtype: object
21789 854 11 ORtg Last Month    77.6364
Name: 21789, dtype: object
21790 1564 12 ORtg Last Month    130.333
Name: 21790, dtype: object
21791 908 10 ORtg Last Month    90.8
Name: 21791, dtype: object
21792 585 12 ORtg Last Month    48.75
Name: 21792, dtype: object
21793 1211 12 ORtg Last Month    100.917
Name: 21793, dtype: object
21794 1255 12 ORtg Last Month    104.583
Name: 21794, dtype: object
21795 1387 12 ORtg Last Month    115.583
Name: 21795, dtype: object
21796 1262 12 ORtg Last Month    105.167
Name: 21796, dtype: object
21797 1464 12 ORtg Last Month    122
Name: 21797, dtype: object
21798 1473 12 ORtg Last Month    122.75
Name: 21798, dtype: object
21799 644 10 ORtg Last Month    64.4
Name: 21799, dtype: object
21800 676 9 ORtg Last Month    75.1111
Name: 21800, dtype: object
21801 1161 11 ORtg Last Month    105.545
Name: 21801, dtype: object
21802 1392 11 ORtg Last Month    126.545
Name: 21802, dtype: object
21803 1238 11 ORtg Last Month    112.545
Name: 21803, dtype: object
21804 1504 11 ORtg Last Month    136.727
Name: 21804, dtype: object
21805 1038 9 ORtg Last Month    115.333
Name: 21805, dtype: object
21806 1228 11 ORtg Last Month    111.636
Name: 21806, dtype: object
21807 920 12 ORtg Last Month    76.6667
Name: 21807, dtype: object
21808 803 7 ORtg Last Month    114.714
Name: 21808, dtype: object
21809 691 10 ORtg Last Month    69.1
Name: 21809, dtype: object
21810 94 10 ORtg Last Month    9.4
Name: 21810, dtype: object
21811 0 0 ORtg Last Month    0
Name: 21811, dtype: object
21812 955 9 ORtg Last Month    106.111
Name: 21812, dtype: object
21813 564 9 ORtg Last Month    62.6667
Name: 21813, dtype: object
21814 1118 9 ORtg Last Month    124.222
Name: 21814, dtype: object
21815 737 9 ORtg Last Month    81.8889
Name: 21815, dtype: object
21816 476 5 ORtg Last Month    95.2
Name: 21816, dtype: object
21817 1117 9 ORtg Last Month    124.111
Name: 21817, dtype: object
21818 905 9 ORtg Last Month    100.556
Name: 21818, dtype: object
21819 502 9 ORtg Last Month    55.7778
Name: 21819, dtype: object
21820 1140 9 ORtg Last Month    126.667
Name: 21820, dtype: object
21821 1251 9 ORtg Last Month    139
Name: 21821, dtype: object
21822 410 9 ORtg Last Month    45.5556
Name: 21822, dtype: object
21823 1533 13 ORtg Last Month    117.923
Name: 21823, dtype: object
21824 384 5 ORtg Last Month    76.8
Name: 21824, dtype: object
21825 1124 13 ORtg Last Month    86.4615
Name: 21825, dtype: object
21826 1220 11 ORtg Last Month    110.909
Name: 21826, dtype: object
21827 1177 13 ORtg Last Month    90.5385
Name: 21827, dtype: object
21828 634 12 ORtg Last Month    52.8333
Name: 21828, dtype: object
21829 1312 13 ORtg Last Month    100.923
Name: 21829, dtype: object
21830 1552 13 ORtg Last Month    119.385
Name: 21830, dtype: object
21831 1303 13 ORtg Last Month    100.231
Name: 21831, dtype: object
21832 0 0 ORtg Last Month    0
Name: 21832, dtype: object
21833 911 8 ORtg Last Month    113.875
Name: 21833, dtype: object

21834 1241 12 ORtg Last Month    103.417
Name: 21834, dtype: object
21835 1041 10 ORtg Last Month    104.1
Name: 21835, dtype: object
21836 890 11 ORtg Last Month    80.9091
Name: 21836, dtype: object
21837 1392 12 ORtg Last Month    116
Name: 21837, dtype: object
21838 1128 12 ORtg Last Month    94
Name: 21838, dtype: object
21839 1251 12 ORtg Last Month    104.25
Name: 21839, dtype: object
21840 1304 11 ORtg Last Month    118.545
Name: 21840, dtype: object
21841 667 12 ORtg Last Month    55.5833
Name: 21841, dtype: object
21842 1445 12 ORtg Last Month    120.417
Name: 21842, dtype: object
21843 1402 12 ORtg Last Month    116.833
Name: 21843, dtype: object
21844 142 7 ORtg Last Month    20.2857
Name: 21844, dtype: object
21845 424 12 ORtg Last Month    35.3333
Name: 21845, dtype: object
21846 1165 11 ORtg Last Month    105.909
Name: 21846, dtype: object
21847 542 7 ORtg Last Month    77.4286
Name: 21847, dtype: object
21848 0 0 ORtg Last Month    0
Name: 21848, dtype: object
21849 1150 11 ORtg Last Month    104.545
Name: 21849, dtype: object
21850 1052 10 ORtg Last Month    105.2
Name: 21850, dtype: object
21851 1327 11 ORtg Last Month    120.636
Name: 21851, dtype: object
21852 848 10 ORtg Last Month    84.8
Name: 21852, dtype: object
21853 985 10 ORtg Last Month    98.5
Name: 21853, dtype: object
21854 874 8 ORtg Last Month    109.25
Name: 21854, dtype: object
21855 119 4 ORtg Last Month    29.75
Name: 21855, dtype: object
21856 1336 11 ORtg Last Month    121.455
Name: 21856, dtype: object
21857 797 11 ORtg Last Month    72.4545
Name: 21857, dtype: object
21858 1323 11 ORtg Last Month    120.273
Name: 21858, dtype: object
21859 1234 10 ORtg Last Month    123.4
Name: 21859, dtype: object
21860 865 9 ORtg Last Month    96.1111
Name: 21860, dtype: object
21861 1221 11 ORtg Last Month    111
Name: 21861, dtype: object
21862 1420 11 ORtg Last Month    129.091
Name: 21862, dtype: object
21863 325 9 ORtg Last Month    36.1111
Name: 21863, dtype: object
21864 517 6 ORtg Last Month    86.1667
Name: 21864, dtype: object
21865 1123 11 ORtg Last Month    102.091
Name: 21865, dtype: object
21866 1077 11 ORtg Last Month    97.9091
Name: 21866, dtype: object
21867 1323 11 ORtg Last Month    120.273
Name: 21867, dtype: object
21868 1484 11 ORtg Last Month    134.909
Name: 21868, dtype: object
21869 1026 11 ORtg Last Month    93.2727
Name: 21869, dtype: object
21870 1346 12 ORtg Last Month    112.167
Name: 21870, dtype: object
21871 658 7 ORtg Last Month    94
Name: 21871, dtype: object
21872 393 10 ORtg Last Month    39.3
Name: 21872, dtype: object
21873 905 12 ORtg Last Month    75.4167
Name: 21873, dtype: object
21874 1418 12 ORtg Last Month    118.167
Name: 21874, dtype: object
21875 1318 12 ORtg Last Month    109.833
Name: 21875, dtype: object
21876 1551 12 ORtg Last Month    129.25
Name: 21876, dtype: object
21877 1314 12 ORtg Last Month    109.5
Name: 21877, dtype: object
21878 1219 12 ORtg Last Month    101.583
Name: 21878, dtype: object
21879 1189 9 ORtg Last Month    132.111
Name: 21879, dtype: object
21880 248 11 ORtg Last Month    22.5455
Name: 21880, dtype: object
21881 1468 11 ORtg Last Month    133.455
Name: 21881, dtype: object
21882 1099 12 ORtg Last Month    91.5833
Name: 21882, dtype: object
21883 1590 12 ORtg Last Month    132.5
Name: 21883, dtype: object
21884 573 11 ORtg Last Month    52.0909
Name: 21884, dtype: object
21885 963 8 ORtg Last Month    120.375
Name: 21885, dtype: object
21886 1163 10 ORtg Last Month    116.3
Name: 21886, dtype: object
21887 981 11 ORtg Last Month    89.1818
Name: 21887, dtype: object
21888 652 8 ORtg Last Month    81.5
Name: 21888, dtype: object
21889 276 11 ORtg Last Month    25.0909
Name: 21889, dtype: object
21890 1011 10 ORtg Last Month    101.1
Name: 21890, dtype: object
21891 1498 12 ORtg Last Month    124.833
Name: 21891, dtype: object
21892 528 12 ORtg Last Month    44
Name: 21892, dtype: object
21893 842 10 ORtg Last Month    84.2
Name: 21893, dtype: object
21894 1121 10 ORtg Last Month    112.1
Name: 21894, dtype: object
21895 200 1 ORtg Last Month    200
Name: 21895, dtype: object
21896 0 4 ORtg Last Month    0
Name: 21896, dtype: object
21897 1001 9 ORtg Last Month    111.222
Name: 21897, dtype: object
21898 1098 10 ORtg Last Month    109.8
Name: 21898, dtype: object
21899 1051 10 ORtg Last Month    105.1
Name: 21899, dtype: object
21900 429 8 ORtg Last Month    53.625
Name: 21900, dtype: object
21901 1179 10 ORtg Last Month    117.9
Name: 21901, dtype: object
21902 1232 10 ORtg Last Month    123.2
Name: 21902, dtype: object
21903 537 8 ORtg Last Month    67.125
Name: 21903, dtype: object
21904 802 9 ORtg Last Month    89.1111
Name: 21904, dtype: object
21905 551 10 ORtg Last Month    55.1
Name: 21905, dtype: object
21906 1241 12 ORtg Last Month    103.417
Name: 21906, dtype: object
21907 1525 12 ORtg Last Month    127.083
Name: 21907, dtype: object
21908 1102 10 ORtg Last Month    110.2
Name: 21908, dtype: object
21909 1299 10 ORtg Last Month    129.9
Name: 21909, dtype: object
21910 1177 11 ORtg Last Month    107
Name: 21910, dtype: object
21911 858 12 ORtg Last Month    71.5
Name: 21911, dtype: object
21912 1357 12 ORtg Last Month    113.083
Name: 21912, dtype: object
21913 544 5 ORtg Last Month    108.8
Name: 21913, dtype: object
21914 1533 12 ORtg Last Month    127.75
Name: 21914, dtype: object
21915 1221 12 ORtg Last Month    101.75
Name: 21915, dtype: object
21916 671 12 ORtg Last Month    55.9167
Name: 21916, dtype: object
21917 42 2 ORtg Last Month    21
Name: 21917, dtype: object
21918 438 11 ORtg Last Month    39.8182
Name: 21918, dtype: object
21919 1345 12 ORtg Last Month    112.083
Name: 21919, dtype: object
21920 421 6 ORtg Last Month    70.1667
Name: 21920, dtype: object
21921 1130 12 ORtg Last Month    94.1667
Name: 21921, dtype: object
21922 816 12 ORtg Last Month    68
Name: 21922, dtype: object
21923 568 6 ORtg Last Month    94.6667
Name: 21923, dtype: object
21924 1215 12 ORtg Last Month    101.25
Name: 21924, dtype: object
21925 955 10 ORtg Last Month    95.5
Name: 21925, dtype: object
21926 353 11 ORtg Last Month    32.0909
Name: 21926, dtype: object
21927 750 12 ORtg Last Month    62.5
Name: 21927, dtype: object
21928 757 7 ORtg Last Month    108.143
Name: 21928, dtype: object
21929 1496 12 ORtg Last Month    124.667
Name: 21929, dtype: object
21930 994 9 ORtg Last Month    110.444
Name: 21930, dtype: object
21931 1025 10 ORtg Last Month    102.5
Name: 21931, dtype: object
21932 756 7 ORtg Last Month    108
Name: 21932, dtype: object
21933 454 9 ORtg Last Month    50.4444
Name: 21933, dtype: object
21934 936 10 ORtg Last Month    93.6
Name: 21934, dtype: object
21935 258 3 ORtg Last Month    86
Name: 21935, dtype: object
21936 550 9 ORtg Last Month    61.1111
Name: 21936, dtype: object
21937 579 9 ORtg Last Month    64.3333
Name: 21937, dtype: object
21938 945 9 ORtg Last Month    105
Name: 21938, dtype: object
21939 926 9 ORtg Last Month    102.889
Name: 21939, dtype: object
21940 879 9 ORtg Last Month    97.6667
Name: 21940, dtype: object
21941 0 2 ORtg Last Month    0
Name: 21941, dtype: object
21942 1028 9 ORtg Last Month    114.222
Name: 21942, dtype: object
21943 1066 9 ORtg Last Month    118.444
Name: 21943, dtype: object
21944 256 9 ORtg Last Month    28.4444
Name: 21944, dtype: object
21945 1253 10 ORtg Last Month    125.3
Name: 21945, dtype: object
21946 1042 10 ORtg Last Month    104.2
Name: 21946, dtype: object
21947 0 5 ORtg Last Month    0
Name: 21947, dtype: object
21948 1349 10 ORtg Last Month    134.9
Name: 21948, dtype: object
21949 1117 10 ORtg Last Month    111.7
Name: 21949, dtype: object
21950 1298 10 ORtg Last Month    129.8
Name: 21950, dtype: object
21951 983 9 ORtg Last Month    109.222
Name: 21951, dtype: object
21952 1124 10 ORtg Last Month    112.4
Name: 21952, dtype: object
21953 783 10 ORtg Last Month    78.3
Name: 21953, dtype: object
21954 746 9 ORtg Last Month    82.8889
Name: 21954, dtype: object
21955 326 11 ORtg Last Month    29.6364
Name: 21955, dtype: object
21956 1174 11 ORtg Last Month    106.727
Name: 21956, dtype: object
21957 718 9 ORtg Last Month    79.7778
Name: 21957, dtype: object
21958 1348 11 ORtg Last Month    122.545
Name: 21958, dtype: object

21959 1239 11 ORtg Last Month    112.636
Name: 21959, dtype: object
21960 1046 11 ORtg Last Month    95.0909
Name: 21960, dtype: object
21961 1127 11 ORtg Last Month    102.455
Name: 21961, dtype: object
21962 533 8 ORtg Last Month    66.625
Name: 21962, dtype: object
21963 844 11 ORtg Last Month    76.7273
Name: 21963, dtype: object
21964 1248 11 ORtg Last Month    113.455
Name: 21964, dtype: object
21965 1191 11 ORtg Last Month    108.273
Name: 21965, dtype: object
21966 200 11 ORtg Last Month    18.1818
Name: 21966, dtype: object
21967 58 2 ORtg Last Month    29
Name: 21967, dtype: object
21968 1060 9 ORtg Last Month    117.778
Name: 21968, dtype: object
21969 1159 11 ORtg Last Month    105.364
Name: 21969, dtype: object
21970 882 9 ORtg Last Month    98
Name: 21970, dtype: object
21971 225 3 ORtg Last Month    75
Name: 21971, dtype: object
21972 775 8 ORtg Last Month    96.875
Name: 21972, dtype: object
21973 1219 10 ORtg Last Month    121.9
Name: 21973, dtype: object
21974 995 10 ORtg Last Month    99.5
Name: 21974, dtype: object
21975 947 10 ORtg Last Month    94.7
Name: 21975, dtype: object
21976 93 2 ORtg Last Month    46.5
Name: 21976, dtype: object
21977 951 9 ORtg Last Month    105.667
Name: 21977, dtype: object
21978 1186 10 ORtg Last Month    118.6
Name: 21978, dtype: object
21979 1216 10 ORtg Last Month    121.6
Name: 21979, dtype: object
21980 362 8 ORtg Last Month    45.25
Name: 21980, dtype: object
21981 1362 11 ORtg Last Month    123.818
Name: 21981, dtype: object
21982 1189 9 ORtg Last Month    132.111
Name: 21982, dtype: object
21983 1103 11 ORtg Last Month    100.273
Name: 21983, dtype: object
21984 613 8 ORtg Last Month    76.625
Name: 21984, dtype: object
21985 1253 11 ORtg Last Month    113.909
Name: 21985, dtype: object
21986 580 11 ORtg Last Month    52.7273
Name: 21986, dtype: object
21987 518 11 ORtg Last Month    47.0909
Name: 21987, dtype: object
21988 1276 11 ORtg Last Month    116
Name: 21988, dtype: object
21989 969 9 ORtg Last Month    107.667
Name: 21989, dtype: object
21990 1342 11 ORtg Last Month    122
Name: 21990, dtype: object
21991 181 11 ORtg Last Month    16.4545
Name: 21991, dtype: object
21992 1261 12 ORtg Last Month    105.083
Name: 21992, dtype: object
21993 652 8 ORtg Last Month    81.5
Name: 21993, dtype: object
21994 101 1 ORtg Last Month    101
Name: 21994, dtype: object
21995 1150 12 ORtg Last Month    95.8333
Name: 21995, dtype: object
21996 980 11 ORtg Last Month    89.0909
Name: 21996, dtype: object
21997 1438 12 ORtg Last Month    119.833
Name: 21997, dtype: object
21998 1064 11 ORtg Last Month    96.7273
Name: 21998, dtype: object
21999 1205 11 ORtg Last Month    109.545
Name: 21999, dtype: object
22000 1004 9 ORtg Last Month    111.556
Name: 22000, dtype: object
22001 119 5 ORtg Last Month    23.8
Name: 22001, dtype: object
22002 956 12 ORtg Last Month    79.6667
Name: 22002, dtype: object
22003 1467 12 ORtg Last Month    122.25
Name: 22003, dtype: object
22004 1323 12 ORtg Last Month    110.25
Name: 22004, dtype: object
22005 1009 10 ORtg Last Month    100.9
Name: 22005, dtype: object
22006 1185 10 ORtg Last Month    118.5
Name: 22006, dtype: object
22007 832 7 ORtg Last Month    118.857
Name: 22007, dtype: object
22008 1021 10 ORtg Last Month    102.1
Name: 22008, dtype: object
22009 300 10 ORtg Last Month    30
Name: 22009, dtype: object
22010 1426 10 ORtg Last Month    142.6
Name: 22010, dtype: object
22011 963 12 ORtg Last Month    80.25
Name: 22011, dtype: object
22012 868 12 ORtg Last Month    72.3333
Name: 22012, dtype: object
22013 415 6 ORtg Last Month    69.1667
Name: 22013, dtype: object
22014 977 10 ORtg Last Month    97.7
Name: 22014, dtype: object
22015 861 8 ORtg Last Month    107.625
Name: 22015, dtype: object
22016 1132 11 ORtg Last Month    102.909
Name: 22016, dtype: object
22017 1128 11 ORtg Last Month    102.545
Name: 22017, dtype: object
22018 669 8 ORtg Last Month    83.625
Name: 22018, dtype: object
22019 1086 11 ORtg Last Month    98.7273
Name: 22019, dtype: object
22020 646 11 ORtg Last Month    58.7273
Name: 22020, dtype: object
22021 893 11 ORtg Last Month    81.1818
Name: 22021, dtype: object
22022 475 9 ORtg Last Month    52.7778
Name: 22022, dtype: object
22023 1512 11 ORtg Last Month    137.455
Name: 22023, dtype: object
22024 945 11 ORtg Last Month    85.9091
Name: 22024, dtype: object
22025 503 8 ORtg Last Month    62.875
Name: 22025, dtype: object
22026 1222 10 ORtg Last Month    122.2
Name: 22026, dtype: object
22027 820 8 ORtg Last Month    102.5
Name: 22027, dtype: object
22028 1431 11 ORtg Last Month    130.091
Name: 22028, dtype: object
22029 454 5 ORtg Last Month    90.8
Name: 22029, dtype: object
22030 1326 11 ORtg Last Month    120.545
Name: 22030, dtype: object
22031 413 4 ORtg Last Month    103.25
Name: 22031, dtype: object
22032 1196 11 ORtg Last Month    108.727
Name: 22032, dtype: object
22033 563 11 ORtg Last Month    51.1818
Name: 22033, dtype: object
22034 811 11 ORtg Last Month    73.7273
Name: 22034, dtype: object
22035 354 8 ORtg Last Month    44.25
Name: 22035, dtype: object
22036 90 10 ORtg Last Month    9
Name: 22036, dtype: object
22037 1260 11 ORtg Last Month    114.545
Name: 22037, dtype: object
22038 929 8 ORtg Last Month    116.125
Name: 22038, dtype: object
22039 1351 11 ORtg Last Month    122.818
Name: 22039, dtype: object
22040 1175 11 ORtg Last Month    106.818
Name: 22040, dtype: object
22041 1246 11 ORtg Last Month    113.273
Name: 22041, dtype: object
22042 1447 11 ORtg Last Month    131.545
Name: 22042, dtype: object
22043 1365 11 ORtg Last Month    124.091
Name: 22043, dtype: object
22044 867 9 ORtg Last Month    96.3333
Name: 22044, dtype: object
22045 495 10 ORtg Last Month    49.5
Name: 22045, dtype: object
22046 994 11 ORtg Last Month    90.3636
Name: 22046, dtype: object
22047 820 11 ORtg Last Month    74.5455
Name: 22047, dtype: object
22048 210 5 ORtg Last Month    42
Name: 22048, dtype: object
22049 207 10 ORtg Last Month    20.7
Name: 22049, dtype: object
22050 1507 11 ORtg Last Month    137
Name: 22050, dtype: object
22051 1331 12 ORtg Last Month    110.917
Name: 22051, dtype: object
22052 1101 11 ORtg Last Month    100.091
Name: 22052, dtype: object
22053 888 12 ORtg Last Month    74
Name: 22053, dtype: object
22054 1450 11 ORtg Last Month    131.818
Name: 22054, dtype: object
22055 1202 9 ORtg Last Month    133.556
Name: 22055, dtype: object
22056 91 6 ORtg Last Month    15.1667
Name: 22056, dtype: object
22057 1080 12 ORtg Last Month    90
Name: 22057, dtype: object
22058 1235 12 ORtg Last Month    102.917
Name: 22058, dtype: object
22059 1027 10 ORtg Last Month    102.7
Name: 22059, dtype: object
22060 1358 12 ORtg Last Month    113.167
Name: 22060, dtype: object
22061 674 11 ORtg Last Month    61.2727
Name: 22061, dtype: object
22062 1616 13 ORtg Last Month    124.308
Name: 22062, dtype: object
22063 1509 13 ORtg Last Month    116.077
Name: 22063, dtype: object
22064 568 13 ORtg Last Month    43.6923
Name: 22064, dtype: object
22065 1500 13 ORtg Last Month    115.385
Name: 22065, dtype: object
22066 1521 13 ORtg Last Month    117
Name: 22066, dtype: object
22067 1059 8 ORtg Last Month    132.375
Name: 22067, dtype: object
22068 844 10 ORtg Last Month    84.4
Name: 22068, dtype: object
22069 213 5 ORtg Last Month    42.6
Name: 22069, dtype: object
22070 1262 11 ORtg Last Month    114.727
Name: 22070, dtype: object
22071 642 13 ORtg Last Month    49.3846
Name: 22071, dtype: object
22072 1256 11 ORtg Last Month    114.182
Name: 22072, dtype: object
22073 948 11 ORtg Last Month    86.1818
Name: 22073, dtype: object
22074 0 5 ORtg Last Month    0
Name: 22074, dtype: object
22075 1132 10 ORtg Last Month    113.2
Name: 22075, dtype: object
22076 1173 11 ORtg Last Month    106.636
Name: 22076, dtype: object
22077 592 9 ORtg Last Month    65.7778
Name: 22077, dtype: object
22078 1276 11 ORtg Last Month    116
Name: 22078, dtype: object
22079 1150 11 ORtg Last Month    104.545
Name: 22079, dtype: object
22080 1383 11 ORtg Last Month    125.727
Name: 22080, dtype: object
22081 710 9 ORtg Last Month    78.8889
Name: 22081, dtype: object
22082 802 10 ORtg Last Month    80.2
Name: 22082, dtype: object
22083 551 11 ORtg Last Month    50.0909
Name: 22083, dtype: object

22084 1076 11 ORtg Last Month    97.8182
Name: 22084, dtype: object
22085 349 11 ORtg Last Month    31.7273
Name: 22085, dtype: object
22086 1012 10 ORtg Last Month    101.2
Name: 22086, dtype: object
22087 1082 10 ORtg Last Month    108.2
Name: 22087, dtype: object
22088 478 9 ORtg Last Month    53.1111
Name: 22088, dtype: object
22089 1111 11 ORtg Last Month    101
Name: 22089, dtype: object
22090 656 10 ORtg Last Month    65.6
Name: 22090, dtype: object
22091 293 4 ORtg Last Month    73.25
Name: 22091, dtype: object
22092 1030 11 ORtg Last Month    93.6364
Name: 22092, dtype: object
22093 568 5 ORtg Last Month    113.6
Name: 22093, dtype: object
22094 1210 11 ORtg Last Month    110
Name: 22094, dtype: object
22095 1282 10 ORtg Last Month    128.2
Name: 22095, dtype: object
22096 1006 10 ORtg Last Month    100.6
Name: 22096, dtype: object
22097 1207 12 ORtg Last Month    100.583
Name: 22097, dtype: object
22098 1008 11 ORtg Last Month    91.6364
Name: 22098, dtype: object
22099 1452 12 ORtg Last Month    121
Name: 22099, dtype: object
22100 1201 12 ORtg Last Month    100.083
Name: 22100, dtype: object
22101 434 5 ORtg Last Month    86.8
Name: 22101, dtype: object
22102 645 9 ORtg Last Month    71.6667
Name: 22102, dtype: object
22103 0 12 ORtg Last Month    0
Name: 22103, dtype: object
22104 750 8 ORtg Last Month    93.75
Name: 22104, dtype: object
22105 1321 12 ORtg Last Month    110.083
Name: 22105, dtype: object
22106 1466 12 ORtg Last Month    122.167
Name: 22106, dtype: object
22107 187 11 ORtg Last Month    17
Name: 22107, dtype: object
22108 1022 10 ORtg Last Month    102.2
Name: 22108, dtype: object
22109 457 5 ORtg Last Month    91.4
Name: 22109, dtype: object
22110 1370 13 ORtg Last Month    105.385
Name: 22110, dtype: object
22111 1399 11 ORtg Last Month    127.182
Name: 22111, dtype: object
22112 1351 12 ORtg Last Month    112.583
Name: 22112, dtype: object
22113 1015 13 ORtg Last Month    78.0769
Name: 22113, dtype: object
22114 1440 13 ORtg Last Month    110.769
Name: 22114, dtype: object
22115 1320 13 ORtg Last Month    101.538
Name: 22115, dtype: object
22116 664 6 ORtg Last Month    110.667
Name: 22116, dtype: object
22117 1657 13 ORtg Last Month    127.462
Name: 22117, dtype: object
22118 438 12 ORtg Last Month    36.5
Name: 22118, dtype: object
22119 671 13 ORtg Last Month    51.6154
Name: 22119, dtype: object
22120 42 3 ORtg Last Month    14
Name: 22120, dtype: object
22121 1348 12 ORtg Last Month    112.333
Name: 22121, dtype: object
22122 512 7 ORtg Last Month    73.1429
Name: 22122, dtype: object
22123 1136 12 ORtg Last Month    94.6667
Name: 22123, dtype: object
22124 753 12 ORtg Last Month    62.75
Name: 22124, dtype: object
22125 967 10 ORtg Last Month    96.7
Name: 22125, dtype: object
22126 1236 12 ORtg Last Month    103
Name: 22126, dtype: object
22127 750 13 ORtg Last Month    57.6923
Name: 22127, dtype: object
22128 719 7 ORtg Last Month    102.714
Name: 22128, dtype: object
22129 279 11 ORtg Last Month    25.3636
Name: 22129, dtype: object
22130 0 4 ORtg Last Month    0
Name: 22130, dtype: object
22131 1119 10 ORtg Last Month    111.9
Name: 22131, dtype: object
22132 1569 12 ORtg Last Month    130.75
Name: 22132, dtype: object
22133 1091 10 ORtg Last Month    109.1
Name: 22133, dtype: object
22134 1182 11 ORtg Last Month    107.455
Name: 22134, dtype: object
22135 964 9 ORtg Last Month    107.111
Name: 22135, dtype: object
22136 464 11 ORtg Last Month    42.1818
Name: 22136, dtype: object
22137 357 9 ORtg Last Month    39.6667
Name: 22137, dtype: object
22138 1187 9 ORtg Last Month    131.889
Name: 22138, dtype: object
22139 426 4 ORtg Last Month    106.5
Name: 22139, dtype: object
22140 1076 10 ORtg Last Month    107.6
Name: 22140, dtype: object
22141 1240 11 ORtg Last Month    112.727
Name: 22141, dtype: object
22142 153 11 ORtg Last Month    13.9091
Name: 22142, dtype: object
22143 1234 10 ORtg Last Month    123.4
Name: 22143, dtype: object
22144 1206 11 ORtg Last Month    109.636
Name: 22144, dtype: object
22145 1393 11 ORtg Last Month    126.636
Name: 22145, dtype: object
22146 837 11 ORtg Last Month    76.0909
Name: 22146, dtype: object
22147 495 12 ORtg Last Month    41.25
Name: 22147, dtype: object
22148 1561 12 ORtg Last Month    130.083
Name: 22148, dtype: object
22149 1018 10 ORtg Last Month    101.8
Name: 22149, dtype: object
22150 1238 12 ORtg Last Month    103.167
Name: 22150, dtype: object
22151 1254 12 ORtg Last Month    104.5
Name: 22151, dtype: object
22152 1219 12 ORtg Last Month    101.583
Name: 22152, dtype: object
22153 1339 12 ORtg Last Month    111.583
Name: 22153, dtype: object
22154 475 8 ORtg Last Month    59.375
Name: 22154, dtype: object
22155 1427 12 ORtg Last Month    118.917
Name: 22155, dtype: object
22156 1589 12 ORtg Last Month    132.417
Name: 22156, dtype: object
22157 644 10 ORtg Last Month    64.4
Name: 22157, dtype: object
22158 676 10 ORtg Last Month    67.6
Name: 22158, dtype: object
22159 1155 11 ORtg Last Month    105
Name: 22159, dtype: object
22160 1387 11 ORtg Last Month    126.091
Name: 22160, dtype: object
22161 1426 11 ORtg Last Month    129.636
Name: 22161, dtype: object
22162 1377 12 ORtg Last Month    114.75
Name: 22162, dtype: object
22163 1327 12 ORtg Last Month    110.583
Name: 22163, dtype: object
22164 1021 9 ORtg Last Month    113.444
Name: 22164, dtype: object
22165 711 7 ORtg Last Month    101.571
Name: 22165, dtype: object
22166 809 12 ORtg Last Month    67.4167
Name: 22166, dtype: object
22167 874 11 ORtg Last Month    79.4545
Name: 22167, dtype: object
22168 151 10 ORtg Last Month    15.1
Name: 22168, dtype: object
22169 0 1 ORtg Last Month    0
Name: 22169, dtype: object
22170 861 8 ORtg Last Month    107.625
Name: 22170, dtype: object
22171 344 4 ORtg Last Month    86
Name: 22171, dtype: object
22172 884 10 ORtg Last Month    88.4
Name: 22172, dtype: object
22173 585 10 ORtg Last Month    58.5
Name: 22173, dtype: object
22174 579 10 ORtg Last Month    57.9
Name: 22174, dtype: object
22175 1030 10 ORtg Last Month    103
Name: 22175, dtype: object
22176 1106 10 ORtg Last Month    110.6
Name: 22176, dtype: object
22177 951 10 ORtg Last Month    95.1
Name: 22177, dtype: object
22178 0 3 ORtg Last Month    0
Name: 22178, dtype: object
22179 1152 10 ORtg Last Month    115.2
Name: 22179, dtype: object
22180 1179 10 ORtg Last Month    117.9
Name: 22180, dtype: object
22181 388 10 ORtg Last Month    38.8
Name: 22181, dtype: object
22182 498 6 ORtg Last Month    83
Name: 22182, dtype: object
22183 1339 11 ORtg Last Month    121.727
Name: 22183, dtype: object
22184 1200 11 ORtg Last Month    109.091
Name: 22184, dtype: object
22185 33 4 ORtg Last Month    8.25
Name: 22185, dtype: object
22186 1096 10 ORtg Last Month    109.6
Name: 22186, dtype: object
22187 1135 10 ORtg Last Month    113.5
Name: 22187, dtype: object
22188 1073 11 ORtg Last Month    97.5455
Name: 22188, dtype: object
22189 1152 11 ORtg Last Month    104.727
Name: 22189, dtype: object
22190 990 11 ORtg Last Month    90
Name: 22190, dtype: object
22191 795 11 ORtg Last Month    72.2727
Name: 22191, dtype: object
22192 1123 10 ORtg Last Month    112.3
Name: 22192, dtype: object
22193 1304 11 ORtg Last Month    118.545
Name: 22193, dtype: object
22194 130 4 ORtg Last Month    32.5
Name: 22194, dtype: object
22195 903 9 ORtg Last Month    100.333
Name: 22195, dtype: object
22196 897 8 ORtg Last Month    112.125
Name: 22196, dtype: object
22197 504 9 ORtg Last Month    56
Name: 22197, dtype: object
22198 1127 9 ORtg Last Month    125.222
Name: 22198, dtype: object
22199 907 9 ORtg Last Month    100.778
Name: 22199, dtype: object
22200 765 9 ORtg Last Month    85
Name: 22200, dtype: object
22201 1092 9 ORtg Last Month    121.333
Name: 22201, dtype: object
22202 603 6 ORtg Last Month    100.5
Name: 22202, dtype: object
22203 439 9 ORtg Last Month    48.7778
Name: 22203, dtype: object
22204 1189 9 ORtg Last Month    132.111
Name: 22204, dtype: object
22205 1240 9 ORtg Last Month    137.778
Name: 22205, dtype: object
22206 410 9 ORtg Last Month    45.5556
Name: 22206, dtype: object
22207 1524 13 ORtg Last Month    117.231
Name: 22207, dtype: object
22208 495 6 ORtg Last Month    82.5
Name: 22208, dtype: object

22209 0 2 ORtg Last Month    0
Name: 22209, dtype: object
22210 1104 13 ORtg Last Month    84.9231
Name: 22210, dtype: object
22211 1223 11 ORtg Last Month    111.182
Name: 22211, dtype: object
22212 0 1 ORtg Last Month    0
Name: 22212, dtype: object
22213 1216 13 ORtg Last Month    93.5385
Name: 22213, dtype: object
22214 435 12 ORtg Last Month    36.25
Name: 22214, dtype: object
22215 1354 13 ORtg Last Month    104.154
Name: 22215, dtype: object
22216 1584 13 ORtg Last Month    121.846
Name: 22216, dtype: object
22217 1021 9 ORtg Last Month    113.444
Name: 22217, dtype: object
22218 1327 12 ORtg Last Month    110.583
Name: 22218, dtype: object
22219 970 10 ORtg Last Month    97
Name: 22219, dtype: object
22220 716 11 ORtg Last Month    65.0909
Name: 22220, dtype: object
22221 1218 12 ORtg Last Month    101.5
Name: 22221, dtype: object
22222 1322 12 ORtg Last Month    110.167
Name: 22222, dtype: object
22223 1272 11 ORtg Last Month    115.636
Name: 22223, dtype: object
22224 1089 12 ORtg Last Month    90.75
Name: 22224, dtype: object
22225 506 12 ORtg Last Month    42.1667
Name: 22225, dtype: object
22226 1430 12 ORtg Last Month    119.167
Name: 22226, dtype: object
22227 106 1 ORtg Last Month    106
Name: 22227, dtype: object
22228 1334 12 ORtg Last Month    111.167
Name: 22228, dtype: object
22229 142 8 ORtg Last Month    17.75
Name: 22229, dtype: object
22230 895 9 ORtg Last Month    99.4444
Name: 22230, dtype: object
22231 1444 11 ORtg Last Month    131.273
Name: 22231, dtype: object
22232 325 9 ORtg Last Month    36.1111
Name: 22232, dtype: object
22233 1341 11 ORtg Last Month    121.909
Name: 22233, dtype: object
22234 1257 11 ORtg Last Month    114.273
Name: 22234, dtype: object
22235 267 6 ORtg Last Month    44.5
Name: 22235, dtype: object
22236 1002 11 ORtg Last Month    91.0909
Name: 22236, dtype: object
22237 1375 11 ORtg Last Month    125
Name: 22237, dtype: object
22238 1487 11 ORtg Last Month    135.182
Name: 22238, dtype: object
22239 1133 11 ORtg Last Month    103
Name: 22239, dtype: object
22240 1370 12 ORtg Last Month    114.167
Name: 22240, dtype: object
22241 1381 12 ORtg Last Month    115.083
Name: 22241, dtype: object
22242 267 11 ORtg Last Month    24.2727
Name: 22242, dtype: object
22243 1445 12 ORtg Last Month    120.417
Name: 22243, dtype: object
22244 770 8 ORtg Last Month    96.25
Name: 22244, dtype: object
22245 1303 10 ORtg Last Month    130.3
Name: 22245, dtype: object
22246 1440 12 ORtg Last Month    120
Name: 22246, dtype: object
22247 1408 12 ORtg Last Month    117.333
Name: 22247, dtype: object
22248 1460 11 ORtg Last Month    132.727
Name: 22248, dtype: object
22249 1031 11 ORtg Last Month    93.7273
Name: 22249, dtype: object
22250 1106 11 ORtg Last Month    100.545
Name: 22250, dtype: object
22251 1114 11 ORtg Last Month    101.273
Name: 22251, dtype: object
22252 1082 13 ORtg Last Month    83.2308
Name: 22252, dtype: object
22253 929 8 ORtg Last Month    116.125
Name: 22253, dtype: object
22254 1530 11 ORtg Last Month    139.091
Name: 22254, dtype: object
22255 546 7 ORtg Last Month    78
Name: 22255, dtype: object
22256 697 6 ORtg Last Month    116.167
Name: 22256, dtype: object
22257 1294 11 ORtg Last Month    117.636
Name: 22257, dtype: object
22258 934 13 ORtg Last Month    71.8462
Name: 22258, dtype: object
22259 438 11 ORtg Last Month    39.8182
Name: 22259, dtype: object
22260 1393 11 ORtg Last Month    126.636
Name: 22260, dtype: object
22261 949 11 ORtg Last Month    86.2727
Name: 22261, dtype: object
22262 281 10 ORtg Last Month    28.1
Name: 22262, dtype: object
22263 1283 11 ORtg Last Month    116.636
Name: 22263, dtype: object
22264 1049 10 ORtg Last Month    104.9
Name: 22264, dtype: object
22265 901 11 ORtg Last Month    81.9091
Name: 22265, dtype: object
22266 1452 11 ORtg Last Month    132
Name: 22266, dtype: object
22267 1287 11 ORtg Last Month    117
Name: 22267, dtype: object
22268 623 10 ORtg Last Month    62.3
Name: 22268, dtype: object
22269 1345 11 ORtg Last Month    122.273
Name: 22269, dtype: object
22270 136 6 ORtg Last Month    22.6667
Name: 22270, dtype: object
22271 1299 11 ORtg Last Month    118.091
Name: 22271, dtype: object
22272 1442 11 ORtg Last Month    131.091
Name: 22272, dtype: object
22273 1264 11 ORtg Last Month    114.909
Name: 22273, dtype: object
22274 1077 10 ORtg Last Month    107.7
Name: 22274, dtype: object
22275 1378 12 ORtg Last Month    114.833
Name: 22275, dtype: object
22276 1326 12 ORtg Last Month    110.5
Name: 22276, dtype: object
22277 619 5 ORtg Last Month    123.8
Name: 22277, dtype: object
22278 956 11 ORtg Last Month    86.9091
Name: 22278, dtype: object
22279 152 9 ORtg Last Month    16.8889
Name: 22279, dtype: object
22280 0 3 ORtg Last Month    0
Name: 22280, dtype: object
22281 1127 12 ORtg Last Month    93.9167
Name: 22281, dtype: object
22282 1587 12 ORtg Last Month    132.25
Name: 22282, dtype: object
22283 573 11 ORtg Last Month    52.0909
Name: 22283, dtype: object
22284 602 10 ORtg Last Month    60.2
Name: 22284, dtype: object
22285 1094 9 ORtg Last Month    121.556
Name: 22285, dtype: object
22286 1101 10 ORtg Last Month    110.1
Name: 22286, dtype: object
22287 1085 11 ORtg Last Month    98.6364
Name: 22287, dtype: object
22288 768 9 ORtg Last Month    85.3333
Name: 22288, dtype: object
22289 276 11 ORtg Last Month    25.0909
Name: 22289, dtype: object
22290 1051 10 ORtg Last Month    105.1
Name: 22290, dtype: object
22291 1488 12 ORtg Last Month    124
Name: 22291, dtype: object
22292 528 12 ORtg Last Month    44
Name: 22292, dtype: object
22293 1118 11 ORtg Last Month    101.636
Name: 22293, dtype: object
22294 1061 10 ORtg Last Month    106.1
Name: 22294, dtype: object
22295 514 10 ORtg Last Month    51.4
Name: 22295, dtype: object
22296 478 12 ORtg Last Month    39.8333
Name: 22296, dtype: object
22297 1111 11 ORtg Last Month    101
Name: 22297, dtype: object
22298 1231 12 ORtg Last Month    102.583
Name: 22298, dtype: object
22299 1030 12 ORtg Last Month    85.8333
Name: 22299, dtype: object
22300 802 10 ORtg Last Month    80.2
Name: 22300, dtype: object
22301 384 5 ORtg Last Month    76.8
Name: 22301, dtype: object
22302 714 6 ORtg Last Month    119
Name: 22302, dtype: object
22303 1336 12 ORtg Last Month    111.333
Name: 22303, dtype: object
22304 1402 11 ORtg Last Month    127.455
Name: 22304, dtype: object
22305 872 8 ORtg Last Month    109
Name: 22305, dtype: object
22306 669 9 ORtg Last Month    74.3333
Name: 22306, dtype: object
22307 681 6 ORtg Last Month    113.5
Name: 22307, dtype: object
22308 0 0 ORtg Last Month    0
Name: 22308, dtype: object
22309 627 11 ORtg Last Month    57
Name: 22309, dtype: object
22310 1312 11 ORtg Last Month    119.273
Name: 22310, dtype: object
22311 905 9 ORtg Last Month    100.556
Name: 22311, dtype: object
22312 489 11 ORtg Last Month    44.4545
Name: 22312, dtype: object
22313 1101 11 ORtg Last Month    100.091
Name: 22313, dtype: object
22314 911 11 ORtg Last Month    82.8182
Name: 22314, dtype: object
22315 1204 9 ORtg Last Month    133.778
Name: 22315, dtype: object
22316 1341 11 ORtg Last Month    121.909
Name: 22316, dtype: object
22317 657 9 ORtg Last Month    73
Name: 22317, dtype: object
22318 409 4 ORtg Last Month    102.25
Name: 22318, dtype: object
22319 1239 12 ORtg Last Month    103.25
Name: 22319, dtype: object
22320 1199 12 ORtg Last Month    99.9167
Name: 22320, dtype: object
22321 1231 12 ORtg Last Month    102.583
Name: 22321, dtype: object
22322 1000 12 ORtg Last Month    83.3333
Name: 22322, dtype: object
22323 742 12 ORtg Last Month    61.8333
Name: 22323, dtype: object
22324 1648 11 ORtg Last Month    149.818
Name: 22324, dtype: object
22325 1234 12 ORtg Last Month    102.833
Name: 22325, dtype: object
22326 588 12 ORtg Last Month    49
Name: 22326, dtype: object
22327 255 4 ORtg Last Month    63.75
Name: 22327, dtype: object
22328 1058 10 ORtg Last Month    105.8
Name: 22328, dtype: object
22329 1267 12 ORtg Last Month    105.583
Name: 22329, dtype: object
22330 611 12 ORtg Last Month    50.9167
Name: 22330, dtype: object
22331 1284 10 ORtg Last Month    128.4
Name: 22331, dtype: object
22332 1146 11 ORtg Last Month    104.182
Name: 22332, dtype: object
22333 1338 12 ORtg Last Month    111.5
Name: 22333, dtype: object

22334 575 5 ORtg Last Month    115
Name: 22334, dtype: object
22335 200 3 ORtg Last Month    66.6667
Name: 22335, dtype: object
22336 153 12 ORtg Last Month    12.75
Name: 22336, dtype: object
22337 1234 11 ORtg Last Month    112.182
Name: 22337, dtype: object
22338 1329 12 ORtg Last Month    110.75
Name: 22338, dtype: object
22339 1532 12 ORtg Last Month    127.667
Name: 22339, dtype: object
22340 837 12 ORtg Last Month    69.75
Name: 22340, dtype: object
22341 1511 12 ORtg Last Month    125.917
Name: 22341, dtype: object
22342 996 10 ORtg Last Month    99.6
Name: 22342, dtype: object
22343 643 12 ORtg Last Month    53.5833
Name: 22343, dtype: object
22344 1208 12 ORtg Last Month    100.667
Name: 22344, dtype: object
22345 1297 12 ORtg Last Month    108.083
Name: 22345, dtype: object
22346 1388 12 ORtg Last Month    115.667
Name: 22346, dtype: object
22347 1233 12 ORtg Last Month    102.75
Name: 22347, dtype: object
22348 475 8 ORtg Last Month    59.375
Name: 22348, dtype: object
22349 1457 12 ORtg Last Month    121.417
Name: 22349, dtype: object
22350 1778 12 ORtg Last Month    148.167
Name: 22350, dtype: object
22351 644 11 ORtg Last Month    58.5455
Name: 22351, dtype: object
22352 676 11 ORtg Last Month    61.4545
Name: 22352, dtype: object
22353 1255 10 ORtg Last Month    125.5
Name: 22353, dtype: object
22354 1035 10 ORtg Last Month    103.5
Name: 22354, dtype: object
22355 1238 10 ORtg Last Month    123.8
Name: 22355, dtype: object
22356 1318 10 ORtg Last Month    131.8
Name: 22356, dtype: object
22357 1117 10 ORtg Last Month    111.7
Name: 22357, dtype: object
22358 593 7 ORtg Last Month    84.7143
Name: 22358, dtype: object
22359 1041 10 ORtg Last Month    104.1
Name: 22359, dtype: object
22360 1335 10 ORtg Last Month    133.5
Name: 22360, dtype: object
22361 692 10 ORtg Last Month    69.2
Name: 22361, dtype: object
22362 1115 9 ORtg Last Month    123.889
Name: 22362, dtype: object
22363 836 9 ORtg Last Month    92.8889
Name: 22363, dtype: object
22364 1107 11 ORtg Last Month    100.636
Name: 22364, dtype: object
22365 1014 10 ORtg Last Month    101.4
Name: 22365, dtype: object
22366 933 10 ORtg Last Month    93.3
Name: 22366, dtype: object
22367 1374 10 ORtg Last Month    137.4
Name: 22367, dtype: object
22368 93 3 ORtg Last Month    31
Name: 22368, dtype: object
22369 1181 10 ORtg Last Month    118.1
Name: 22369, dtype: object
22370 962 9 ORtg Last Month    106.889
Name: 22370, dtype: object
22371 1195 10 ORtg Last Month    119.5
Name: 22371, dtype: object
22372 362 8 ORtg Last Month    45.25
Name: 22372, dtype: object
22373 1339 11 ORtg Last Month    121.727
Name: 22373, dtype: object
22374 1141 9 ORtg Last Month    126.778
Name: 22374, dtype: object
22375 991 11 ORtg Last Month    90.0909
Name: 22375, dtype: object
22376 703 8 ORtg Last Month    87.875
Name: 22376, dtype: object
22377 1220 11 ORtg Last Month    110.909
Name: 22377, dtype: object
22378 397 11 ORtg Last Month    36.0909
Name: 22378, dtype: object
22379 641 11 ORtg Last Month    58.2727
Name: 22379, dtype: object
22380 923 9 ORtg Last Month    102.556
Name: 22380, dtype: object
22381 1284 11 ORtg Last Month    116.727
Name: 22381, dtype: object
22382 1316 11 ORtg Last Month    119.636
Name: 22382, dtype: object
22383 103 11 ORtg Last Month    9.36364
Name: 22383, dtype: object
22384 1552 13 ORtg Last Month    119.385
Name: 22384, dtype: object
22385 612 7 ORtg Last Month    87.4286
Name: 22385, dtype: object
22386 1317 13 ORtg Last Month    101.308
Name: 22386, dtype: object
22387 1118 13 ORtg Last Month    86
Name: 22387, dtype: object
22388 1201 11 ORtg Last Month    109.182
Name: 22388, dtype: object
22389 144 3 ORtg Last Month    48
Name: 22389, dtype: object
22390 162 2 ORtg Last Month    81
Name: 22390, dtype: object
22391 495 13 ORtg Last Month    38.0769
Name: 22391, dtype: object
22392 1573 13 ORtg Last Month    121
Name: 22392, dtype: object
22393 1457 13 ORtg Last Month    112.077
Name: 22393, dtype: object
22394 1297 12 ORtg Last Month    108.083
Name: 22394, dtype: object
22395 748 9 ORtg Last Month    83.1111
Name: 22395, dtype: object
22396 168 2 ORtg Last Month    84
Name: 22396, dtype: object
22397 1043 12 ORtg Last Month    86.9167
Name: 22397, dtype: object
22398 1196 11 ORtg Last Month    108.727
Name: 22398, dtype: object
22399 987 11 ORtg Last Month    89.7273
Name: 22399, dtype: object
22400 1400 12 ORtg Last Month    116.667
Name: 22400, dtype: object
22401 1035 10 ORtg Last Month    103.5
Name: 22401, dtype: object
22402 161 6 ORtg Last Month    26.8333
Name: 22402, dtype: object
22403 160 3 ORtg Last Month    53.3333
Name: 22403, dtype: object
22404 1379 12 ORtg Last Month    114.917
Name: 22404, dtype: object
22405 1408 12 ORtg Last Month    117.333
Name: 22405, dtype: object
22406 976 12 ORtg Last Month    81.3333
Name: 22406, dtype: object
22407 965 9 ORtg Last Month    107.222
Name: 22407, dtype: object
22408 1098 11 ORtg Last Month    99.8182
Name: 22408, dtype: object
22409 736 9 ORtg Last Month    81.7778
Name: 22409, dtype: object
22410 1086 11 ORtg Last Month    98.7273
Name: 22410, dtype: object
22411 528 10 ORtg Last Month    52.8
Name: 22411, dtype: object
22412 1184 11 ORtg Last Month    107.636
Name: 22412, dtype: object
22413 732 12 ORtg Last Month    61
Name: 22413, dtype: object
22414 793 11 ORtg Last Month    72.0909
Name: 22414, dtype: object
22415 1515 11 ORtg Last Month    137.727
Name: 22415, dtype: object
22416 1164 10 ORtg Last Month    116.4
Name: 22416, dtype: object
22417 941 11 ORtg Last Month    85.5455
Name: 22417, dtype: object
22418 456 8 ORtg Last Month    57
Name: 22418, dtype: object
22419 939 9 ORtg Last Month    104.333
Name: 22419, dtype: object
22420 1372 11 ORtg Last Month    124.727
Name: 22420, dtype: object
22421 535 6 ORtg Last Month    89.1667
Name: 22421, dtype: object
22422 484 5 ORtg Last Month    96.8
Name: 22422, dtype: object
22423 1259 11 ORtg Last Month    114.455
Name: 22423, dtype: object
22424 1142 11 ORtg Last Month    103.818
Name: 22424, dtype: object
22425 625 11 ORtg Last Month    56.8182
Name: 22425, dtype: object
22426 578 11 ORtg Last Month    52.5455
Name: 22426, dtype: object
22427 354 9 ORtg Last Month    39.3333
Name: 22427, dtype: object
22428 1229 11 ORtg Last Month    111.727
Name: 22428, dtype: object
22429 886 8 ORtg Last Month    110.75
Name: 22429, dtype: object
22430 1388 11 ORtg Last Month    126.182
Name: 22430, dtype: object
22431 0 1 ORtg Last Month    0
Name: 22431, dtype: object
22432 1691 13 ORtg Last Month    130.077
Name: 22432, dtype: object
22433 1274 13 ORtg Last Month    98
Name: 22433, dtype: object
22434 667 12 ORtg Last Month    55.5833
Name: 22434, dtype: object
22435 638 11 ORtg Last Month    58
Name: 22435, dtype: object
22436 1206 10 ORtg Last Month    120.6
Name: 22436, dtype: object
22437 1254 11 ORtg Last Month    114
Name: 22437, dtype: object
22438 1098 11 ORtg Last Month    99.8182
Name: 22438, dtype: object
22439 981 9 ORtg Last Month    109
Name: 22439, dtype: object
22440 516 12 ORtg Last Month    43
Name: 22440, dtype: object
22441 1582 13 ORtg Last Month    121.692
Name: 22441, dtype: object
22442 1136 11 ORtg Last Month    103.273
Name: 22442, dtype: object
22443 610 13 ORtg Last Month    46.9231
Name: 22443, dtype: object
22444 904 11 ORtg Last Month    82.1818
Name: 22444, dtype: object
22445 0 6 ORtg Last Month    0
Name: 22445, dtype: object
22446 200 2 ORtg Last Month    100
Name: 22446, dtype: object
22447 1155 10 ORtg Last Month    115.5
Name: 22447, dtype: object
22448 665 9 ORtg Last Month    73.8889
Name: 22448, dtype: object
22449 1210 11 ORtg Last Month    110
Name: 22449, dtype: object
22450 1289 11 ORtg Last Month    117.182
Name: 22450, dtype: object
22451 1156 11 ORtg Last Month    105.091
Name: 22451, dtype: object
22452 1440 11 ORtg Last Month    130.909
Name: 22452, dtype: object
22453 656 9 ORtg Last Month    72.8889
Name: 22453, dtype: object
22454 551 11 ORtg Last Month    50.0909
Name: 22454, dtype: object
22455 0 1 ORtg Last Month    0
Name: 22455, dtype: object
22456 1202 12 ORtg Last Month    100.167
Name: 22456, dtype: object
22457 1006 10 ORtg Last Month    100.6
Name: 22457, dtype: object
22458 1465 12 ORtg Last Month    122.083
Name: 22458, dtype: object

22459 1239 12 ORtg Last Month    103.25
Name: 22459, dtype: object
22460 594 6 ORtg Last Month    99
Name: 22460, dtype: object
22461 1105 11 ORtg Last Month    100.455
Name: 22461, dtype: object
22462 0 12 ORtg Last Month    0
Name: 22462, dtype: object
22463 781 10 ORtg Last Month    78.1
Name: 22463, dtype: object
22464 651 8 ORtg Last Month    81.375
Name: 22464, dtype: object
22465 1346 12 ORtg Last Month    112.167
Name: 22465, dtype: object
22466 1435 12 ORtg Last Month    119.583
Name: 22466, dtype: object
22467 1066 9 ORtg Last Month    118.444
Name: 22467, dtype: object
22468 256 12 ORtg Last Month    21.3333
Name: 22468, dtype: object
22469 1592 12 ORtg Last Month    132.667
Name: 22469, dtype: object
22470 1264 13 ORtg Last Month    97.2308
Name: 22470, dtype: object
22471 457 6 ORtg Last Month    76.1667
Name: 22471, dtype: object
22472 1392 11 ORtg Last Month    126.545
Name: 22472, dtype: object
22473 716 7 ORtg Last Month    102.286
Name: 22473, dtype: object
22474 1320 12 ORtg Last Month    110
Name: 22474, dtype: object
22475 1445 13 ORtg Last Month    111.154
Name: 22475, dtype: object
22476 1119 13 ORtg Last Month    86.0769
Name: 22476, dtype: object
22477 1716 13 ORtg Last Month    132
Name: 22477, dtype: object
22478 1410 13 ORtg Last Month    108.462
Name: 22478, dtype: object
22479 562 13 ORtg Last Month    43.2308
Name: 22479, dtype: object
22480 591 13 ORtg Last Month    45.4615
Name: 22480, dtype: object
22481 546 10 ORtg Last Month    54.6
Name: 22481, dtype: object
22482 1448 13 ORtg Last Month    111.385
Name: 22482, dtype: object
22483 618 8 ORtg Last Month    77.25
Name: 22483, dtype: object
22484 1260 13 ORtg Last Month    96.9231
Name: 22484, dtype: object
22485 753 13 ORtg Last Month    57.9231
Name: 22485, dtype: object
22486 1345 13 ORtg Last Month    103.462
Name: 22486, dtype: object
22487 1111 11 ORtg Last Month    101
Name: 22487, dtype: object
22488 719 8 ORtg Last Month    89.875
Name: 22488, dtype: object
22489 279 12 ORtg Last Month    23.25
Name: 22489, dtype: object
22490 960 13 ORtg Last Month    73.8462
Name: 22490, dtype: object
22491 0 4 ORtg Last Month    0
Name: 22491, dtype: object
22492 1238 11 ORtg Last Month    112.545
Name: 22492, dtype: object
22493 862 8 ORtg Last Month    107.75
Name: 22493, dtype: object
22494 1666 13 ORtg Last Month    128.154
Name: 22494, dtype: object
22495 1264 12 ORtg Last Month    105.333
Name: 22495, dtype: object
22496 509 5 ORtg Last Month    101.8
Name: 22496, dtype: object
22497 1199 13 ORtg Last Month    92.2308
Name: 22497, dtype: object
22498 1225 12 ORtg Last Month    102.083
Name: 22498, dtype: object
22499 971 12 ORtg Last Month    80.9167
Name: 22499, dtype: object
22500 804 12 ORtg Last Month    67
Name: 22500, dtype: object
22501 1281 12 ORtg Last Month    106.75
Name: 22501, dtype: object
22502 315 5 ORtg Last Month    63
Name: 22502, dtype: object
22503 1672 11 ORtg Last Month    152
Name: 22503, dtype: object
22504 606 12 ORtg Last Month    50.5
Name: 22504, dtype: object
22505 967 9 ORtg Last Month    107.444
Name: 22505, dtype: object
22506 913 10 ORtg Last Month    91.3
Name: 22506, dtype: object
22507 550 10 ORtg Last Month    55
Name: 22507, dtype: object
22508 685 11 ORtg Last Month    62.2727
Name: 22508, dtype: object
22509 579 11 ORtg Last Month    52.6364
Name: 22509, dtype: object
22510 498 5 ORtg Last Month    99.6
Name: 22510, dtype: object
22511 1151 11 ORtg Last Month    104.636
Name: 22511, dtype: object
22512 1069 11 ORtg Last Month    97.1818
Name: 22512, dtype: object
22513 1244 11 ORtg Last Month    113.091
Name: 22513, dtype: object
22514 0 4 ORtg Last Month    0
Name: 22514, dtype: object
22515 1310 11 ORtg Last Month    119.091
Name: 22515, dtype: object
22516 1308 11 ORtg Last Month    118.909
Name: 22516, dtype: object
22517 498 11 ORtg Last Month    45.2727
Name: 22517, dtype: object
22518 1207 11 ORtg Last Month    109.727
Name: 22518, dtype: object
22519 1261 11 ORtg Last Month    114.636
Name: 22519, dtype: object
22520 813 10 ORtg Last Month    81.3
Name: 22520, dtype: object
22521 1214 11 ORtg Last Month    110.364
Name: 22521, dtype: object
22522 949 10 ORtg Last Month    94.9
Name: 22522, dtype: object
22523 833 11 ORtg Last Month    75.7273
Name: 22523, dtype: object
22524 1073 11 ORtg Last Month    97.5455
Name: 22524, dtype: object
22525 611 8 ORtg Last Month    76.375
Name: 22525, dtype: object
22526 1242 11 ORtg Last Month    112.909
Name: 22526, dtype: object
22527 1121 11 ORtg Last Month    101.909
Name: 22527, dtype: object
22528 0 11 ORtg Last Month    0
Name: 22528, dtype: object
22529 0 2 ORtg Last Month    0
Name: 22529, dtype: object
22530 460 6 ORtg Last Month    76.6667
Name: 22530, dtype: object
22531 1148 11 ORtg Last Month    104.364
Name: 22531, dtype: object
22532 1409 11 ORtg Last Month    128.091
Name: 22532, dtype: object
22533 1132 10 ORtg Last Month    113.2
Name: 22533, dtype: object
22534 1124 10 ORtg Last Month    112.4
Name: 22534, dtype: object
22535 1098 11 ORtg Last Month    99.8182
Name: 22535, dtype: object
22536 1170 11 ORtg Last Month    106.364
Name: 22536, dtype: object
22537 990 11 ORtg Last Month    90
Name: 22537, dtype: object
22538 627 11 ORtg Last Month    57
Name: 22538, dtype: object
22539 1148 10 ORtg Last Month    114.8
Name: 22539, dtype: object
22540 1329 11 ORtg Last Month    120.818
Name: 22540, dtype: object
22541 130 5 ORtg Last Month    26
Name: 22541, dtype: object
22542 506 8 ORtg Last Month    63.25
Name: 22542, dtype: object
22543 945 9 ORtg Last Month    105
Name: 22543, dtype: object
22544 858 8 ORtg Last Month    107.25
Name: 22544, dtype: object
22545 504 9 ORtg Last Month    56
Name: 22545, dtype: object
22546 896 9 ORtg Last Month    99.5556
Name: 22546, dtype: object
22547 718 9 ORtg Last Month    79.7778
Name: 22547, dtype: object
22548 1107 9 ORtg Last Month    123
Name: 22548, dtype: object
22549 1161 9 ORtg Last Month    129
Name: 22549, dtype: object
22550 712 7 ORtg Last Month    101.714
Name: 22550, dtype: object
22551 263 9 ORtg Last Month    29.2222
Name: 22551, dtype: object
22552 1156 9 ORtg Last Month    128.444
Name: 22552, dtype: object
22553 1171 9 ORtg Last Month    130.111
Name: 22553, dtype: object
22554 410 9 ORtg Last Month    45.5556
Name: 22554, dtype: object
22555 1050 9 ORtg Last Month    116.667
Name: 22555, dtype: object
22556 926 10 ORtg Last Month    92.6
Name: 22556, dtype: object
22557 1355 12 ORtg Last Month    112.917
Name: 22557, dtype: object
22558 716 11 ORtg Last Month    65.0909
Name: 22558, dtype: object
22559 1214 11 ORtg Last Month    110.364
Name: 22559, dtype: object
22560 1305 12 ORtg Last Month    108.75
Name: 22560, dtype: object
22561 1238 12 ORtg Last Month    103.167
Name: 22561, dtype: object
22562 961 12 ORtg Last Month    80.0833
Name: 22562, dtype: object
22563 506 12 ORtg Last Month    42.1667
Name: 22563, dtype: object
22564 1479 12 ORtg Last Month    123.25
Name: 22564, dtype: object
22565 1416 12 ORtg Last Month    118
Name: 22565, dtype: object
22566 89 1 ORtg Last Month    89
Name: 22566, dtype: object
22567 94 11 ORtg Last Month    8.54545
Name: 22567, dtype: object
22568 1289 11 ORtg Last Month    117.182
Name: 22568, dtype: object
22569 917 9 ORtg Last Month    101.889
Name: 22569, dtype: object
22570 1447 11 ORtg Last Month    131.545
Name: 22570, dtype: object
22571 1214 11 ORtg Last Month    110.364
Name: 22571, dtype: object
22572 432 9 ORtg Last Month    48
Name: 22572, dtype: object
22573 1014 10 ORtg Last Month    101.4
Name: 22573, dtype: object
22574 1043 11 ORtg Last Month    94.8182
Name: 22574, dtype: object
22575 1453 11 ORtg Last Month    132.091
Name: 22575, dtype: object
22576 1311 11 ORtg Last Month    119.182
Name: 22576, dtype: object
22577 1097 11 ORtg Last Month    99.7273
Name: 22577, dtype: object
22578 1244 11 ORtg Last Month    113.091
Name: 22578, dtype: object
22579 958 11 ORtg Last Month    87.0909
Name: 22579, dtype: object
22580 1307 10 ORtg Last Month    130.7
Name: 22580, dtype: object
22581 1008 11 ORtg Last Month    91.6364
Name: 22581, dtype: object
22582 1021 11 ORtg Last Month    92.8182
Name: 22582, dtype: object
22583 1107 8 ORtg Last Month    138.375
Name: 22583, dtype: object

22584 273 7 ORtg Last Month    39
Name: 22584, dtype: object
22585 965 9 ORtg Last Month    107.222
Name: 22585, dtype: object
22586 1243 11 ORtg Last Month    113
Name: 22586, dtype: object
22587 846 10 ORtg Last Month    84.6
Name: 22587, dtype: object
22588 1158 10 ORtg Last Month    115.8
Name: 22588, dtype: object
22589 1408 11 ORtg Last Month    128
Name: 22589, dtype: object
22590 1118 10 ORtg Last Month    111.8
Name: 22590, dtype: object
22591 1061 11 ORtg Last Month    96.4545
Name: 22591, dtype: object
22592 1347 11 ORtg Last Month    122.455
Name: 22592, dtype: object
22593 1009 9 ORtg Last Month    112.111
Name: 22593, dtype: object
22594 763 6 ORtg Last Month    127.167
Name: 22594, dtype: object
22595 988 10 ORtg Last Month    98.8
Name: 22595, dtype: object
22596 152 8 ORtg Last Month    19
Name: 22596, dtype: object
22597 0 4 ORtg Last Month    0
Name: 22597, dtype: object
22598 1517 12 ORtg Last Month    126.417
Name: 22598, dtype: object
22599 1496 12 ORtg Last Month    124.667
Name: 22599, dtype: object
22600 530 12 ORtg Last Month    44.1667
Name: 22600, dtype: object
22601 1364 12 ORtg Last Month    113.667
Name: 22601, dtype: object
22602 1453 12 ORtg Last Month    121.083
Name: 22602, dtype: object
22603 847 10 ORtg Last Month    84.7
Name: 22603, dtype: object
22604 1096 8 ORtg Last Month    137
Name: 22604, dtype: object
22605 1073 10 ORtg Last Month    107.3
Name: 22605, dtype: object
22606 781 12 ORtg Last Month    65.0833
Name: 22606, dtype: object
22607 1111 12 ORtg Last Month    92.5833
Name: 22607, dtype: object
22608 1172 11 ORtg Last Month    106.545
Name: 22608, dtype: object
22609 1124 11 ORtg Last Month    102.182
Name: 22609, dtype: object
22610 469 9 ORtg Last Month    52.1111
Name: 22610, dtype: object
22611 884 11 ORtg Last Month    80.3636
Name: 22611, dtype: object
22612 1012 12 ORtg Last Month    84.3333
Name: 22612, dtype: object
22613 1279 12 ORtg Last Month    106.583
Name: 22613, dtype: object
22614 433 6 ORtg Last Month    72.1667
Name: 22614, dtype: object
22615 1214 12 ORtg Last Month    101.167
Name: 22615, dtype: object
22616 806 7 ORtg Last Month    115.143
Name: 22616, dtype: object
22617 1285 11 ORtg Last Month    116.818
Name: 22617, dtype: object
22618 780 10 ORtg Last Month    78
Name: 22618, dtype: object
22619 889 8 ORtg Last Month    111.125
Name: 22619, dtype: object
22620 799 7 ORtg Last Month    114.143
Name: 22620, dtype: object
22621 123 1 ORtg Last Month    123
Name: 22621, dtype: object
22622 524 11 ORtg Last Month    47.6364
Name: 22622, dtype: object
22623 886 9 ORtg Last Month    98.4444
Name: 22623, dtype: object
22624 1349 11 ORtg Last Month    122.636
Name: 22624, dtype: object
22625 1102 11 ORtg Last Month    100.182
Name: 22625, dtype: object
22626 714 11 ORtg Last Month    64.9091
Name: 22626, dtype: object
22627 600 11 ORtg Last Month    54.5455
Name: 22627, dtype: object
22628 1208 9 ORtg Last Month    134.222
Name: 22628, dtype: object
22629 1341 11 ORtg Last Month    121.909
Name: 22629, dtype: object
22630 626 9 ORtg Last Month    69.5556
Name: 22630, dtype: object
22631 1241 12 ORtg Last Month    103.417
Name: 22631, dtype: object
22632 964 10 ORtg Last Month    96.4
Name: 22632, dtype: object
22633 765 12 ORtg Last Month    63.75
Name: 22633, dtype: object
22634 1076 11 ORtg Last Month    97.8182
Name: 22634, dtype: object
22635 1291 10 ORtg Last Month    129.1
Name: 22635, dtype: object
22636 655 6 ORtg Last Month    109.167
Name: 22636, dtype: object
22637 1218 11 ORtg Last Month    110.727
Name: 22637, dtype: object
22638 1432 12 ORtg Last Month    119.333
Name: 22638, dtype: object
22639 200 4 ORtg Last Month    50
Name: 22639, dtype: object
22640 1325 12 ORtg Last Month    110.417
Name: 22640, dtype: object
22641 1574 12 ORtg Last Month    131.167
Name: 22641, dtype: object
22642 742 12 ORtg Last Month    61.8333
Name: 22642, dtype: object
22643 1508 12 ORtg Last Month    125.667
Name: 22643, dtype: object
22644 996 10 ORtg Last Month    99.6
Name: 22644, dtype: object
22645 643 12 ORtg Last Month    53.5833
Name: 22645, dtype: object
22646 0 0 ORtg Last Month    0
Name: 22646, dtype: object
22647 1212 12 ORtg Last Month    101
Name: 22647, dtype: object
22648 1266 12 ORtg Last Month    105.5
Name: 22648, dtype: object
22649 1387 12 ORtg Last Month    115.583
Name: 22649, dtype: object
22650 475 8 ORtg Last Month    59.375
Name: 22650, dtype: object
22651 1497 12 ORtg Last Month    124.75
Name: 22651, dtype: object
22652 644 12 ORtg Last Month    53.6667
Name: 22652, dtype: object
22653 1770 12 ORtg Last Month    147.5
Name: 22653, dtype: object
22654 676 12 ORtg Last Month    56.3333
Name: 22654, dtype: object
22655 1008 10 ORtg Last Month    100.8
Name: 22655, dtype: object
22656 1333 10 ORtg Last Month    133.3
Name: 22656, dtype: object
22657 1282 11 ORtg Last Month    116.545
Name: 22657, dtype: object
22658 964 9 ORtg Last Month    107.111
Name: 22658, dtype: object
22659 1300 10 ORtg Last Month    130
Name: 22659, dtype: object
22660 1186 11 ORtg Last Month    107.818
Name: 22660, dtype: object
22661 794 8 ORtg Last Month    99.25
Name: 22661, dtype: object
22662 528 11 ORtg Last Month    48
Name: 22662, dtype: object
22663 0 1 ORtg Last Month    0
Name: 22663, dtype: object
22664 151 10 ORtg Last Month    15.1
Name: 22664, dtype: object
22665 0 2 ORtg Last Month    0
Name: 22665, dtype: object
22666 1348 11 ORtg Last Month    122.545
Name: 22666, dtype: object
22667 1177 11 ORtg Last Month    107
Name: 22667, dtype: object
22668 1227 11 ORtg Last Month    111.545
Name: 22668, dtype: object
22669 1420 11 ORtg Last Month    129.091
Name: 22669, dtype: object
22670 1430 11 ORtg Last Month    130
Name: 22670, dtype: object
22671 1115 10 ORtg Last Month    111.5
Name: 22671, dtype: object
22672 532 6 ORtg Last Month    88.6667
Name: 22672, dtype: object
22673 1404 11 ORtg Last Month    127.636
Name: 22673, dtype: object
22674 624 7 ORtg Last Month    89.1429
Name: 22674, dtype: object
22675 692 11 ORtg Last Month    62.9091
Name: 22675, dtype: object
22676 106 10 ORtg Last Month    10.6
Name: 22676, dtype: object
22677 643 9 ORtg Last Month    71.4444
Name: 22677, dtype: object
22678 1240 10 ORtg Last Month    124
Name: 22678, dtype: object
22679 931 10 ORtg Last Month    93.1
Name: 22679, dtype: object
22680 961 10 ORtg Last Month    96.1
Name: 22680, dtype: object
22681 831 8 ORtg Last Month    103.875
Name: 22681, dtype: object
22682 1459 11 ORtg Last Month    132.636
Name: 22682, dtype: object
22683 1014 11 ORtg Last Month    92.1818
Name: 22683, dtype: object
22684 1156 11 ORtg Last Month    105.091
Name: 22684, dtype: object
22685 93 4 ORtg Last Month    23.25
Name: 22685, dtype: object
22686 1305 11 ORtg Last Month    118.636
Name: 22686, dtype: object
22687 1281 11 ORtg Last Month    116.455
Name: 22687, dtype: object
22688 1005 9 ORtg Last Month    111.667
Name: 22688, dtype: object
22689 362 9 ORtg Last Month    40.2222
Name: 22689, dtype: object
22690 1518 13 ORtg Last Month    116.769
Name: 22690, dtype: object
22691 764 8 ORtg Last Month    95.5
Name: 22691, dtype: object
22692 1139 13 ORtg Last Month    87.6154
Name: 22692, dtype: object
22693 1214 11 ORtg Last Month    110.364
Name: 22693, dtype: object
22694 1467 13 ORtg Last Month    112.846
Name: 22694, dtype: object
22695 242 4 ORtg Last Month    60.5
Name: 22695, dtype: object
22696 268 3 ORtg Last Month    89.3333
Name: 22696, dtype: object
22697 495 13 ORtg Last Month    38.0769
Name: 22697, dtype: object
22698 1184 10 ORtg Last Month    118.4
Name: 22698, dtype: object
22699 1433 13 ORtg Last Month    110.231
Name: 22699, dtype: object
22700 959 10 ORtg Last Month    95.9
Name: 22700, dtype: object
22701 1311 12 ORtg Last Month    109.25
Name: 22701, dtype: object
22702 806 11 ORtg Last Month    73.2727
Name: 22702, dtype: object
22703 1292 12 ORtg Last Month    107.667
Name: 22703, dtype: object
22704 947 12 ORtg Last Month    78.9167
Name: 22704, dtype: object
22705 1318 11 ORtg Last Month    119.818
Name: 22705, dtype: object
22706 1209 12 ORtg Last Month    100.75
Name: 22706, dtype: object
22707 506 12 ORtg Last Month    42.1667
Name: 22707, dtype: object
22708 1522 12 ORtg Last Month    126.833
Name: 22708, dtype: object

22709 1345 12 ORtg Last Month    112.083
Name: 22709, dtype: object
22710 206 2 ORtg Last Month    103
Name: 22710, dtype: object
22711 239 11 ORtg Last Month    21.7273
Name: 22711, dtype: object
22712 142 9 ORtg Last Month    15.7778
Name: 22712, dtype: object
22713 320 3 ORtg Last Month    106.667
Name: 22713, dtype: object
22714 1316 12 ORtg Last Month    109.667
Name: 22714, dtype: object
22715 876 10 ORtg Last Month    87.6
Name: 22715, dtype: object
22716 1153 12 ORtg Last Month    96.0833
Name: 22716, dtype: object
22717 1048 11 ORtg Last Month    95.2727
Name: 22717, dtype: object
22718 1478 12 ORtg Last Month    123.167
Name: 22718, dtype: object
22719 1293 11 ORtg Last Month    117.545
Name: 22719, dtype: object
22720 1114 11 ORtg Last Month    101.273
Name: 22720, dtype: object
22721 239 7 ORtg Last Month    34.1429
Name: 22721, dtype: object
22722 111 3 ORtg Last Month    37
Name: 22722, dtype: object
22723 1434 12 ORtg Last Month    119.5
Name: 22723, dtype: object
22724 1403 12 ORtg Last Month    116.917
Name: 22724, dtype: object
22725 907 12 ORtg Last Month    75.5833
Name: 22725, dtype: object
22726 1393 12 ORtg Last Month    116.083
Name: 22726, dtype: object
22727 993 10 ORtg Last Month    99.3
Name: 22727, dtype: object
22728 1553 12 ORtg Last Month    129.417
Name: 22728, dtype: object
22729 1348 12 ORtg Last Month    112.333
Name: 22729, dtype: object
22730 432 10 ORtg Last Month    43.2
Name: 22730, dtype: object
22731 1072 11 ORtg Last Month    97.4545
Name: 22731, dtype: object
22732 1151 12 ORtg Last Month    95.9167
Name: 22732, dtype: object
22733 1577 12 ORtg Last Month    131.417
Name: 22733, dtype: object
22734 1417 12 ORtg Last Month    118.083
Name: 22734, dtype: object
22735 1219 12 ORtg Last Month    101.583
Name: 22735, dtype: object
22736 1214 11 ORtg Last Month    110.364
Name: 22736, dtype: object
22737 696 7 ORtg Last Month    99.4286
Name: 22737, dtype: object
22738 144 8 ORtg Last Month    18
Name: 22738, dtype: object
22739 548 10 ORtg Last Month    54.8
Name: 22739, dtype: object
22740 1250 11 ORtg Last Month    113.636
Name: 22740, dtype: object
22741 1305 11 ORtg Last Month    118.636
Name: 22741, dtype: object
22742 1252 11 ORtg Last Month    113.818
Name: 22742, dtype: object
22743 1144 11 ORtg Last Month    104
Name: 22743, dtype: object
22744 809 10 ORtg Last Month    80.9
Name: 22744, dtype: object
22745 1393 11 ORtg Last Month    126.636
Name: 22745, dtype: object
22746 381 10 ORtg Last Month    38.1
Name: 22746, dtype: object
22747 1363 10 ORtg Last Month    136.3
Name: 22747, dtype: object
22748 1134 11 ORtg Last Month    103.091
Name: 22748, dtype: object
22749 1134 11 ORtg Last Month    103.091
Name: 22749, dtype: object
22750 1073 11 ORtg Last Month    97.5455
Name: 22750, dtype: object
22751 1138 12 ORtg Last Month    94.8333
Name: 22751, dtype: object
22752 1491 11 ORtg Last Month    135.545
Name: 22752, dtype: object
22753 928 8 ORtg Last Month    116
Name: 22753, dtype: object
22754 671 8 ORtg Last Month    83.875
Name: 22754, dtype: object
22755 833 7 ORtg Last Month    119
Name: 22755, dtype: object
22756 1278 11 ORtg Last Month    116.182
Name: 22756, dtype: object
22757 1007 12 ORtg Last Month    83.9167
Name: 22757, dtype: object
22758 438 11 ORtg Last Month    39.8182
Name: 22758, dtype: object
22759 916 9 ORtg Last Month    101.778
Name: 22759, dtype: object
22760 1102 11 ORtg Last Month    100.182
Name: 22760, dtype: object
22761 959 11 ORtg Last Month    87.1818
Name: 22761, dtype: object
22762 843 10 ORtg Last Month    84.3
Name: 22762, dtype: object
22763 701 12 ORtg Last Month    58.4167
Name: 22763, dtype: object
22764 1137 11 ORtg Last Month    103.364
Name: 22764, dtype: object
22765 694 11 ORtg Last Month    63.0909
Name: 22765, dtype: object
22766 656 11 ORtg Last Month    59.6364
Name: 22766, dtype: object
22767 0 0 ORtg Last Month    0
Name: 22767, dtype: object
22768 1608 11 ORtg Last Month    146.182
Name: 22768, dtype: object
22769 493 8 ORtg Last Month    61.625
Name: 22769, dtype: object
22770 977 11 ORtg Last Month    88.8182
Name: 22770, dtype: object
22771 1051 10 ORtg Last Month    105.1
Name: 22771, dtype: object
22772 577 6 ORtg Last Month    96.1667
Name: 22772, dtype: object
22773 1373 11 ORtg Last Month    124.818
Name: 22773, dtype: object
22774 1166 11 ORtg Last Month    106
Name: 22774, dtype: object
22775 608 7 ORtg Last Month    86.8571
Name: 22775, dtype: object
22776 1128 11 ORtg Last Month    102.545
Name: 22776, dtype: object
22777 647 11 ORtg Last Month    58.8182
Name: 22777, dtype: object
22778 446 11 ORtg Last Month    40.5455
Name: 22778, dtype: object
22779 354 10 ORtg Last Month    35.4
Name: 22779, dtype: object
22780 1265 11 ORtg Last Month    115
Name: 22780, dtype: object
22781 905 8 ORtg Last Month    113.125
Name: 22781, dtype: object
22782 1385 11 ORtg Last Month    125.909
Name: 22782, dtype: object
22783 0 2 ORtg Last Month    0
Name: 22783, dtype: object
22784 967 11 ORtg Last Month    87.9091
Name: 22784, dtype: object
22785 1368 11 ORtg Last Month    124.364
Name: 22785, dtype: object
22786 668 6 ORtg Last Month    111.333
Name: 22786, dtype: object
22787 281 11 ORtg Last Month    25.5455
Name: 22787, dtype: object
22788 1368 11 ORtg Last Month    124.364
Name: 22788, dtype: object
22789 869 9 ORtg Last Month    96.5556
Name: 22789, dtype: object
22790 1026 11 ORtg Last Month    93.2727
Name: 22790, dtype: object
22791 1453 11 ORtg Last Month    132.091
Name: 22791, dtype: object
22792 1288 11 ORtg Last Month    117.091
Name: 22792, dtype: object
22793 729 10 ORtg Last Month    72.9
Name: 22793, dtype: object
22794 136 7 ORtg Last Month    19.4286
Name: 22794, dtype: object
22795 930 11 ORtg Last Month    84.5455
Name: 22795, dtype: object
22796 226 7 ORtg Last Month    32.2857
Name: 22796, dtype: object
22797 0 2 ORtg Last Month    0
Name: 22797, dtype: object
22798 1270 11 ORtg Last Month    115.455
Name: 22798, dtype: object
22799 749 9 ORtg Last Month    83.2222
Name: 22799, dtype: object
22800 1204 11 ORtg Last Month    109.455
Name: 22800, dtype: object
22801 598 8 ORtg Last Month    74.75
Name: 22801, dtype: object
22802 1118 11 ORtg Last Month    101.636
Name: 22802, dtype: object
22803 1426 11 ORtg Last Month    129.636
Name: 22803, dtype: object
22804 430 11 ORtg Last Month    39.0909
Name: 22804, dtype: object
22805 0 2 ORtg Last Month    0
Name: 22805, dtype: object
22806 705 9 ORtg Last Month    78.3333
Name: 22806, dtype: object
22807 1063 10 ORtg Last Month    106.3
Name: 22807, dtype: object
22808 1179 12 ORtg Last Month    98.25
Name: 22808, dtype: object
22809 1490 12 ORtg Last Month    124.167
Name: 22809, dtype: object
22810 1263 12 ORtg Last Month    105.25
Name: 22810, dtype: object
22811 1226 11 ORtg Last Month    111.455
Name: 22811, dtype: object
22812 725 7 ORtg Last Month    103.571
Name: 22812, dtype: object
22813 781 11 ORtg Last Month    71
Name: 22813, dtype: object
22814 603 8 ORtg Last Month    75.375
Name: 22814, dtype: object
22815 0 12 ORtg Last Month    0
Name: 22815, dtype: object
22816 1361 12 ORtg Last Month    113.417
Name: 22816, dtype: object
22817 1055 9 ORtg Last Month    117.222
Name: 22817, dtype: object
22818 1443 12 ORtg Last Month    120.25
Name: 22818, dtype: object
22819 256 12 ORtg Last Month    21.3333
Name: 22819, dtype: object
22820 935 11 ORtg Last Month    85
Name: 22820, dtype: object
22821 891 8 ORtg Last Month    111.375
Name: 22821, dtype: object
22822 1014 9 ORtg Last Month    112.667
Name: 22822, dtype: object
22823 123 2 ORtg Last Month    61.5
Name: 22823, dtype: object
22824 524 12 ORtg Last Month    43.6667
Name: 22824, dtype: object
22825 996 10 ORtg Last Month    99.6
Name: 22825, dtype: object
22826 843 12 ORtg Last Month    70.25
Name: 22826, dtype: object
22827 1459 12 ORtg Last Month    121.583
Name: 22827, dtype: object
22828 1224 12 ORtg Last Month    102
Name: 22828, dtype: object
22829 706 12 ORtg Last Month    58.8333
Name: 22829, dtype: object
22830 1350 10 ORtg Last Month    135
Name: 22830, dtype: object
22831 728 10 ORtg Last Month    72.8
Name: 22831, dtype: object
22832 1479 12 ORtg Last Month    123.25
Name: 22832, dtype: object
22833 1482 13 ORtg Last Month    114
Name: 22833, dtype: object

22834 1234 13 ORtg Last Month    94.9231
Name: 22834, dtype: object
22835 750 8 ORtg Last Month    93.75
Name: 22835, dtype: object
22836 641 13 ORtg Last Month    49.3077
Name: 22836, dtype: object
22837 1327 13 ORtg Last Month    102.077
Name: 22837, dtype: object
22838 1170 11 ORtg Last Month    106.364
Name: 22838, dtype: object
22839 797 9 ORtg Last Month    88.5556
Name: 22839, dtype: object
22840 878 13 ORtg Last Month    67.5385
Name: 22840, dtype: object
22841 242 12 ORtg Last Month    20.1667
Name: 22841, dtype: object
22842 1362 12 ORtg Last Month    113.5
Name: 22842, dtype: object
22843 980 9 ORtg Last Month    108.889
Name: 22843, dtype: object
22844 1086 10 ORtg Last Month    108.6
Name: 22844, dtype: object
22845 1597 13 ORtg Last Month    122.846
Name: 22845, dtype: object
22846 1356 12 ORtg Last Month    113
Name: 22846, dtype: object
22847 591 6 ORtg Last Month    98.5
Name: 22847, dtype: object
22848 1095 13 ORtg Last Month    84.2308
Name: 22848, dtype: object
22849 1252 12 ORtg Last Month    104.333
Name: 22849, dtype: object
22850 1058 12 ORtg Last Month    88.1667
Name: 22850, dtype: object
22851 879 12 ORtg Last Month    73.25
Name: 22851, dtype: object
22852 947 7 ORtg Last Month    135.286
Name: 22852, dtype: object
22853 1767 12 ORtg Last Month    147.25
Name: 22853, dtype: object
22854 1242 12 ORtg Last Month    103.5
Name: 22854, dtype: object
22855 414 6 ORtg Last Month    69
Name: 22855, dtype: object
22856 567 12 ORtg Last Month    47.25
Name: 22856, dtype: object
22857 1121 11 ORtg Last Month    101.909
Name: 22857, dtype: object
22858 1440 11 ORtg Last Month    130.909
Name: 22858, dtype: object
22859 1430 11 ORtg Last Month    130
Name: 22859, dtype: object
22860 528 12 ORtg Last Month    44
Name: 22860, dtype: object
22861 1107 10 ORtg Last Month    110.7
Name: 22861, dtype: object
22862 1226 11 ORtg Last Month    111.455
Name: 22862, dtype: object
22863 1339 11 ORtg Last Month    121.727
Name: 22863, dtype: object
22864 0 2 ORtg Last Month    0
Name: 22864, dtype: object
22865 890 9 ORtg Last Month    98.8889
Name: 22865, dtype: object
22866 281 11 ORtg Last Month    25.5455
Name: 22866, dtype: object
22867 879 10 ORtg Last Month    87.9
Name: 22867, dtype: object
22868 83 3 ORtg Last Month    27.6667
Name: 22868, dtype: object
22869 965 9 ORtg Last Month    107.222
Name: 22869, dtype: object
22870 983 10 ORtg Last Month    98.3
Name: 22870, dtype: object
22871 790 11 ORtg Last Month    71.8182
Name: 22871, dtype: object
22872 582 10 ORtg Last Month    58.2
Name: 22872, dtype: object
22873 498 6 ORtg Last Month    83
Name: 22873, dtype: object
22874 417 11 ORtg Last Month    37.9091
Name: 22874, dtype: object
22875 1203 11 ORtg Last Month    109.364
Name: 22875, dtype: object
22876 1267 11 ORtg Last Month    115.182
Name: 22876, dtype: object
22877 1034 11 ORtg Last Month    94
Name: 22877, dtype: object
22878 0 5 ORtg Last Month    0
Name: 22878, dtype: object
22879 1298 11 ORtg Last Month    118
Name: 22879, dtype: object
22880 1367 11 ORtg Last Month    124.273
Name: 22880, dtype: object
22881 715 11 ORtg Last Month    65
Name: 22881, dtype: object
22882 1197 11 ORtg Last Month    108.818
Name: 22882, dtype: object
22883 1197 11 ORtg Last Month    108.818
Name: 22883, dtype: object
22884 696 10 ORtg Last Month    69.6
Name: 22884, dtype: object
22885 995 10 ORtg Last Month    99.5
Name: 22885, dtype: object
22886 1204 11 ORtg Last Month    109.455
Name: 22886, dtype: object
22887 1070 11 ORtg Last Month    97.2727
Name: 22887, dtype: object
22888 851 11 ORtg Last Month    77.3636
Name: 22888, dtype: object
22889 618 8 ORtg Last Month    77.25
Name: 22889, dtype: object
22890 1206 11 ORtg Last Month    109.636
Name: 22890, dtype: object
22891 1139 11 ORtg Last Month    103.545
Name: 22891, dtype: object
22892 0 11 ORtg Last Month    0
Name: 22892, dtype: object
22893 510 6 ORtg Last Month    85
Name: 22893, dtype: object
22894 1356 11 ORtg Last Month    123.273
Name: 22894, dtype: object
22895 1157 11 ORtg Last Month    105.182
Name: 22895, dtype: object
22896 33 4 ORtg Last Month    8.25
Name: 22896, dtype: object
22897 1114 10 ORtg Last Month    111.4
Name: 22897, dtype: object
22898 1131 10 ORtg Last Month    113.1
Name: 22898, dtype: object
22899 1171 11 ORtg Last Month    106.455
Name: 22899, dtype: object
22900 1045 11 ORtg Last Month    95
Name: 22900, dtype: object
22901 990 11 ORtg Last Month    90
Name: 22901, dtype: object
22902 573 11 ORtg Last Month    52.0909
Name: 22902, dtype: object
22903 1124 10 ORtg Last Month    112.4
Name: 22903, dtype: object
22904 368 6 ORtg Last Month    61.3333
Name: 22904, dtype: object
22905 506 8 ORtg Last Month    63.25
Name: 22905, dtype: object
22906 930 9 ORtg Last Month    103.333
Name: 22906, dtype: object
22907 864 8 ORtg Last Month    108
Name: 22907, dtype: object
22908 304 9 ORtg Last Month    33.7778
Name: 22908, dtype: object
22909 1106 9 ORtg Last Month    122.889
Name: 22909, dtype: object
22910 980 9 ORtg Last Month    108.889
Name: 22910, dtype: object
22911 770 9 ORtg Last Month    85.5556
Name: 22911, dtype: object
22912 1172 9 ORtg Last Month    130.222
Name: 22912, dtype: object
22913 985 8 ORtg Last Month    123.125
Name: 22913, dtype: object
22914 155 9 ORtg Last Month    17.2222
Name: 22914, dtype: object
22915 1209 9 ORtg Last Month    134.333
Name: 22915, dtype: object
22916 1079 9 ORtg Last Month    119.889
Name: 22916, dtype: object
22917 210 9 ORtg Last Month    23.3333
Name: 22917, dtype: object
22918 1347 11 ORtg Last Month    122.455
Name: 22918, dtype: object
22919 1123 9 ORtg Last Month    124.778
Name: 22919, dtype: object
22920 908 11 ORtg Last Month    82.5455
Name: 22920, dtype: object
22921 1267 11 ORtg Last Month    115.182
Name: 22921, dtype: object
22922 852 9 ORtg Last Month    94.6667
Name: 22922, dtype: object
22923 526 11 ORtg Last Month    47.8182
Name: 22923, dtype: object
22924 641 11 ORtg Last Month    58.2727
Name: 22924, dtype: object
22925 923 9 ORtg Last Month    102.556
Name: 22925, dtype: object
22926 1305 11 ORtg Last Month    118.636
Name: 22926, dtype: object
22927 1328 11 ORtg Last Month    120.727
Name: 22927, dtype: object
22928 103 11 ORtg Last Month    9.36364
Name: 22928, dtype: object
22929 1504 12 ORtg Last Month    125.333
Name: 22929, dtype: object
22930 1488 12 ORtg Last Month    124
Name: 22930, dtype: object
22931 413 12 ORtg Last Month    34.4167
Name: 22931, dtype: object
22932 1430 12 ORtg Last Month    119.167
Name: 22932, dtype: object
22933 1412 12 ORtg Last Month    117.667
Name: 22933, dtype: object
22934 1219 9 ORtg Last Month    135.444
Name: 22934, dtype: object
22935 869 10 ORtg Last Month    86.9
Name: 22935, dtype: object
22936 278 8 ORtg Last Month    34.75
Name: 22936, dtype: object
22937 1081 10 ORtg Last Month    108.1
Name: 22937, dtype: object
22938 865 12 ORtg Last Month    72.0833
Name: 22938, dtype: object
22939 1248 12 ORtg Last Month    104
Name: 22939, dtype: object
22940 1512 11 ORtg Last Month    137.455
Name: 22940, dtype: object
22941 0 0 ORtg Last Month    0
Name: 22941, dtype: object
22942 1242 10 ORtg Last Month    124.2
Name: 22942, dtype: object
22943 1169 11 ORtg Last Month    106.273
Name: 22943, dtype: object
22944 880 12 ORtg Last Month    73.3333
Name: 22944, dtype: object
22945 812 8 ORtg Last Month    101.5
Name: 22945, dtype: object
22946 1265 12 ORtg Last Month    105.417
Name: 22946, dtype: object
22947 1223 12 ORtg Last Month    101.917
Name: 22947, dtype: object
22948 1727 12 ORtg Last Month    143.917
Name: 22948, dtype: object
22949 322 9 ORtg Last Month    35.7778
Name: 22949, dtype: object
22950 367 12 ORtg Last Month    30.5833
Name: 22950, dtype: object
22951 433 12 ORtg Last Month    36.0833
Name: 22951, dtype: object
22952 1252 12 ORtg Last Month    104.333
Name: 22952, dtype: object
22953 989 10 ORtg Last Month    98.9
Name: 22953, dtype: object
22954 1049 12 ORtg Last Month    87.4167
Name: 22954, dtype: object
22955 1056 11 ORtg Last Month    96
Name: 22955, dtype: object
22956 1248 10 ORtg Last Month    124.8
Name: 22956, dtype: object
22957 736 7 ORtg Last Month    105.143
Name: 22957, dtype: object
22958 1411 12 ORtg Last Month    117.583
Name: 22958, dtype: object

22959 1298 12 ORtg Last Month    108.167
Name: 22959, dtype: object
22960 200 5 ORtg Last Month    40
Name: 22960, dtype: object
22961 1310 12 ORtg Last Month    109.167
Name: 22961, dtype: object
22962 1490 12 ORtg Last Month    124.167
Name: 22962, dtype: object
22963 496 12 ORtg Last Month    41.3333
Name: 22963, dtype: object
22964 1456 12 ORtg Last Month    121.333
Name: 22964, dtype: object
22965 1232 12 ORtg Last Month    102.667
Name: 22965, dtype: object
22966 1518 12 ORtg Last Month    126.5
Name: 22966, dtype: object
22967 1186 11 ORtg Last Month    107.818
Name: 22967, dtype: object
22968 1363 12 ORtg Last Month    113.583
Name: 22968, dtype: object
22969 1553 12 ORtg Last Month    129.417
Name: 22969, dtype: object
22970 1501 12 ORtg Last Month    125.083
Name: 22970, dtype: object
22971 740 7 ORtg Last Month    105.714
Name: 22971, dtype: object
22972 643 10 ORtg Last Month    64.3
Name: 22972, dtype: object
22973 106 10 ORtg Last Month    10.6
Name: 22973, dtype: object
22974 692 12 ORtg Last Month    57.6667
Name: 22974, dtype: object
22975 1522 13 ORtg Last Month    117.077
Name: 22975, dtype: object
22976 1101 11 ORtg Last Month    100.091
Name: 22976, dtype: object
22977 1644 13 ORtg Last Month    126.462
Name: 22977, dtype: object
22978 1551 13 ORtg Last Month    119.308
Name: 22978, dtype: object
22979 432 11 ORtg Last Month    39.2727
Name: 22979, dtype: object
22980 1081 11 ORtg Last Month    98.2727
Name: 22980, dtype: object
22981 1237 13 ORtg Last Month    95.1538
Name: 22981, dtype: object
22982 1502 13 ORtg Last Month    115.538
Name: 22982, dtype: object
22983 1685 13 ORtg Last Month    129.615
Name: 22983, dtype: object
22984 1281 13 ORtg Last Month    98.5385
Name: 22984, dtype: object
22985 1168 11 ORtg Last Month    106.182
Name: 22985, dtype: object
22986 678 7 ORtg Last Month    96.8571
Name: 22986, dtype: object
22987 98 8 ORtg Last Month    12.25
Name: 22987, dtype: object
22988 446 10 ORtg Last Month    44.6
Name: 22988, dtype: object
22989 1245 11 ORtg Last Month    113.182
Name: 22989, dtype: object
22990 1235 11 ORtg Last Month    112.273
Name: 22990, dtype: object
22991 1208 11 ORtg Last Month    109.818
Name: 22991, dtype: object
22992 0 5 ORtg Last Month    0
Name: 22992, dtype: object
22993 1130 11 ORtg Last Month    102.727
Name: 22993, dtype: object
22994 745 10 ORtg Last Month    74.5
Name: 22994, dtype: object
22995 1350 11 ORtg Last Month    122.727
Name: 22995, dtype: object
22996 500 10 ORtg Last Month    50
Name: 22996, dtype: object
22997 1105 11 ORtg Last Month    100.455
Name: 22997, dtype: object
22998 1210 12 ORtg Last Month    100.833
Name: 22998, dtype: object
22999 1163 11 ORtg Last Month    105.727
Name: 22999, dtype: object
23000 990 9 ORtg Last Month    110
Name: 23000, dtype: object
23001 1541 11 ORtg Last Month    140.091
Name: 23001, dtype: object
23002 762 9 ORtg Last Month    84.6667
Name: 23002, dtype: object
23003 991 8 ORtg Last Month    123.875
Name: 23003, dtype: object
23004 792 7 ORtg Last Month    113.143
Name: 23004, dtype: object
23005 1038 12 ORtg Last Month    86.5
Name: 23005, dtype: object
23006 1279 11 ORtg Last Month    116.273
Name: 23006, dtype: object
23007 438 11 ORtg Last Month    39.8182
Name: 23007, dtype: object
23008 1035 10 ORtg Last Month    103.5
Name: 23008, dtype: object
23009 1223 12 ORtg Last Month    101.917
Name: 23009, dtype: object
23010 843 11 ORtg Last Month    76.6364
Name: 23010, dtype: object
23011 1045 12 ORtg Last Month    87.0833
Name: 23011, dtype: object
23012 1254 12 ORtg Last Month    104.5
Name: 23012, dtype: object
23013 869 12 ORtg Last Month    72.4167
Name: 23013, dtype: object
23014 859 12 ORtg Last Month    71.5833
Name: 23014, dtype: object
23015 656 12 ORtg Last Month    54.6667
Name: 23015, dtype: object
23016 0 1 ORtg Last Month    0
Name: 23016, dtype: object
23017 1792 12 ORtg Last Month    149.333
Name: 23017, dtype: object
23018 1025 12 ORtg Last Month    85.4167
Name: 23018, dtype: object
23019 726 9 ORtg Last Month    80.6667
Name: 23019, dtype: object
23020 1138 11 ORtg Last Month    103.455
Name: 23020, dtype: object
23021 1336 11 ORtg Last Month    121.455
Name: 23021, dtype: object
23022 1149 11 ORtg Last Month    104.455
Name: 23022, dtype: object
23023 688 8 ORtg Last Month    86
Name: 23023, dtype: object
23024 756 7 ORtg Last Month    108
Name: 23024, dtype: object
23025 647 11 ORtg Last Month    58.8182
Name: 23025, dtype: object
23026 1172 11 ORtg Last Month    106.545
Name: 23026, dtype: object
23027 345 11 ORtg Last Month    31.3636
Name: 23027, dtype: object
23028 354 11 ORtg Last Month    32.1818
Name: 23028, dtype: object
23029 1326 11 ORtg Last Month    120.545
Name: 23029, dtype: object
23030 1420 11 ORtg Last Month    129.091
Name: 23030, dtype: object
23031 1038 9 ORtg Last Month    115.333
Name: 23031, dtype: object
23032 0 3 ORtg Last Month    0
Name: 23032, dtype: object
23033 1244 10 ORtg Last Month    124.4
Name: 23033, dtype: object
23034 1003 10 ORtg Last Month    100.3
Name: 23034, dtype: object
23035 332 5 ORtg Last Month    66.4
Name: 23035, dtype: object
23036 1318 10 ORtg Last Month    131.8
Name: 23036, dtype: object
23037 978 10 ORtg Last Month    97.8
Name: 23037, dtype: object
23038 975 9 ORtg Last Month    108.333
Name: 23038, dtype: object
23039 1316 10 ORtg Last Month    131.6
Name: 23039, dtype: object
23040 1149 10 ORtg Last Month    114.9
Name: 23040, dtype: object
23041 892 10 ORtg Last Month    89.2
Name: 23041, dtype: object
23042 136 6 ORtg Last Month    22.6667
Name: 23042, dtype: object
23043 958 9 ORtg Last Month    106.444
Name: 23043, dtype: object
23044 1251 10 ORtg Last Month    125.1
Name: 23044, dtype: object
23045 1348 12 ORtg Last Month    112.333
Name: 23045, dtype: object
23046 1040 10 ORtg Last Month    104
Name: 23046, dtype: object
23047 1053 12 ORtg Last Month    87.75
Name: 23047, dtype: object
23048 1383 11 ORtg Last Month    125.727
Name: 23048, dtype: object
23049 1251 9 ORtg Last Month    139
Name: 23049, dtype: object
23050 1138 12 ORtg Last Month    94.8333
Name: 23050, dtype: object
23051 318 8 ORtg Last Month    39.75
Name: 23051, dtype: object
23052 1093 12 ORtg Last Month    91.0833
Name: 23052, dtype: object
23053 1032 10 ORtg Last Month    103.2
Name: 23053, dtype: object
23054 1364 12 ORtg Last Month    113.667
Name: 23054, dtype: object
23055 1282 10 ORtg Last Month    128.2
Name: 23055, dtype: object
23056 934 11 ORtg Last Month    84.9091
Name: 23056, dtype: object
23057 1127 10 ORtg Last Month    112.7
Name: 23057, dtype: object
23058 1388 11 ORtg Last Month    126.182
Name: 23058, dtype: object
23059 1190 10 ORtg Last Month    119
Name: 23059, dtype: object
23060 1121 10 ORtg Last Month    112.1
Name: 23060, dtype: object
23061 1153 11 ORtg Last Month    104.818
Name: 23061, dtype: object
23062 1358 11 ORtg Last Month    123.455
Name: 23062, dtype: object
23063 471 6 ORtg Last Month    78.5
Name: 23063, dtype: object
23064 874 7 ORtg Last Month    124.857
Name: 23064, dtype: object
23065 900 10 ORtg Last Month    90
Name: 23065, dtype: object
23066 0 5 ORtg Last Month    0
Name: 23066, dtype: object
23067 390 9 ORtg Last Month    43.3333
Name: 23067, dtype: object
23068 1390 11 ORtg Last Month    126.364
Name: 23068, dtype: object
23069 1085 11 ORtg Last Month    98.6364
Name: 23069, dtype: object
23070 705 11 ORtg Last Month    64.0909
Name: 23070, dtype: object
23071 515 9 ORtg Last Month    57.2222
Name: 23071, dtype: object
23072 1333 11 ORtg Last Month    121.182
Name: 23072, dtype: object
23073 1223 10 ORtg Last Month    122.3
Name: 23073, dtype: object
23074 1133 10 ORtg Last Month    113.3
Name: 23074, dtype: object
23075 1118 10 ORtg Last Month    111.8
Name: 23075, dtype: object
23076 343 11 ORtg Last Month    31.1818
Name: 23076, dtype: object
23077 0 0 ORtg Last Month    0
Name: 23077, dtype: object
23078 1088 10 ORtg Last Month    108.8
Name: 23078, dtype: object
23079 1308 11 ORtg Last Month    118.909
Name: 23079, dtype: object
23080 1016 11 ORtg Last Month    92.3636
Name: 23080, dtype: object
23081 1041 10 ORtg Last Month    104.1
Name: 23081, dtype: object
23082 1051 10 ORtg Last Month    105.1
Name: 23082, dtype: object

23083 469 10 ORtg Last Month    46.9
Name: 23083, dtype: object
23084 774 11 ORtg Last Month    70.3636
Name: 23084, dtype: object
23085 433 7 ORtg Last Month    61.8571
Name: 23085, dtype: object
23086 1149 11 ORtg Last Month    104.455
Name: 23086, dtype: object
23087 858 10 ORtg Last Month    85.8
Name: 23087, dtype: object
23088 953 8 ORtg Last Month    119.125
Name: 23088, dtype: object
23089 1223 11 ORtg Last Month    111.182
Name: 23089, dtype: object
23090 1159 10 ORtg Last Month    115.9
Name: 23090, dtype: object
23091 1101 10 ORtg Last Month    110.1
Name: 23091, dtype: object
23092 1116 12 ORtg Last Month    93
Name: 23092, dtype: object
23093 462 4 ORtg Last Month    115.5
Name: 23093, dtype: object
23094 1426 12 ORtg Last Month    118.833
Name: 23094, dtype: object
23095 1292 11 ORtg Last Month    117.455
Name: 23095, dtype: object
23096 763 8 ORtg Last Month    95.375
Name: 23096, dtype: object
23097 1191 12 ORtg Last Month    99.25
Name: 23097, dtype: object
23098 485 8 ORtg Last Month    60.625
Name: 23098, dtype: object
23099 0 12 ORtg Last Month    0
Name: 23099, dtype: object
23100 1380 12 ORtg Last Month    115
Name: 23100, dtype: object
23101 1414 12 ORtg Last Month    117.833
Name: 23101, dtype: object
23102 1016 9 ORtg Last Month    112.889
Name: 23102, dtype: object
23103 256 12 ORtg Last Month    21.3333
Name: 23103, dtype: object
23104 819 8 ORtg Last Month    102.375
Name: 23104, dtype: object
23105 1298 13 ORtg Last Month    99.8462
Name: 23105, dtype: object
23106 537 13 ORtg Last Month    41.3077
Name: 23106, dtype: object
23107 1358 13 ORtg Last Month    104.462
Name: 23107, dtype: object
23108 582 12 ORtg Last Month    48.5
Name: 23108, dtype: object
23109 1175 11 ORtg Last Month    106.818
Name: 23109, dtype: object
23110 0 12 ORtg Last Month    0
Name: 23110, dtype: object
23111 0 5 ORtg Last Month    0
Name: 23111, dtype: object
23112 1455 13 ORtg Last Month    111.923
Name: 23112, dtype: object
23113 1512 13 ORtg Last Month    116.308
Name: 23113, dtype: object
23114 1050 10 ORtg Last Month    105
Name: 23114, dtype: object
23115 1259 12 ORtg Last Month    104.917
Name: 23115, dtype: object
23116 976 10 ORtg Last Month    97.6
Name: 23116, dtype: object
23117 1049 12 ORtg Last Month    87.4167
Name: 23117, dtype: object
23118 1059 11 ORtg Last Month    96.2727
Name: 23118, dtype: object
23119 842 8 ORtg Last Month    105.25
Name: 23119, dtype: object
23120 1269 12 ORtg Last Month    105.75
Name: 23120, dtype: object
23121 1266 10 ORtg Last Month    126.6
Name: 23121, dtype: object
23122 1419 12 ORtg Last Month    118.25
Name: 23122, dtype: object
23123 200 6 ORtg Last Month    33.3333
Name: 23123, dtype: object
23124 1377 12 ORtg Last Month    114.75
Name: 23124, dtype: object
23125 1312 12 ORtg Last Month    109.333
Name: 23125, dtype: object
23126 336 12 ORtg Last Month    28
Name: 23126, dtype: object
23127 1528 12 ORtg Last Month    127.333
Name: 23127, dtype: object
23128 643 12 ORtg Last Month    53.5833
Name: 23128, dtype: object
23129 1233 12 ORtg Last Month    102.75
Name: 23129, dtype: object
23130 1081 11 ORtg Last Month    98.2727
Name: 23130, dtype: object
23131 1396 12 ORtg Last Month    116.333
Name: 23131, dtype: object
23132 1246 12 ORtg Last Month    103.833
Name: 23132, dtype: object
23133 475 8 ORtg Last Month    59.375
Name: 23133, dtype: object
23134 1498 12 ORtg Last Month    124.833
Name: 23134, dtype: object
23135 1798 12 ORtg Last Month    149.833
Name: 23135, dtype: object
23136 790 12 ORtg Last Month    65.8333
Name: 23136, dtype: object
23137 676 12 ORtg Last Month    56.3333
Name: 23137, dtype: object
23138 1127 11 ORtg Last Month    102.455
Name: 23138, dtype: object
23139 1479 11 ORtg Last Month    134.455
Name: 23139, dtype: object
23140 1418 11 ORtg Last Month    128.909
Name: 23140, dtype: object
23141 1312 11 ORtg Last Month    119.273
Name: 23141, dtype: object
23142 553 12 ORtg Last Month    46.0833
Name: 23142, dtype: object
23143 1227 11 ORtg Last Month    111.545
Name: 23143, dtype: object
23144 1201 11 ORtg Last Month    109.182
Name: 23144, dtype: object
23145 890 10 ORtg Last Month    89
Name: 23145, dtype: object
23146 707 10 ORtg Last Month    70.7
Name: 23146, dtype: object
23147 83 4 ORtg Last Month    20.75
Name: 23147, dtype: object
23148 404 11 ORtg Last Month    36.7273
Name: 23148, dtype: object
23149 1189 10 ORtg Last Month    118.9
Name: 23149, dtype: object
23150 860 10 ORtg Last Month    86
Name: 23150, dtype: object
23151 685 7 ORtg Last Month    97.8571
Name: 23151, dtype: object
23152 1277 10 ORtg Last Month    127.7
Name: 23152, dtype: object
23153 1167 10 ORtg Last Month    116.7
Name: 23153, dtype: object
23154 838 10 ORtg Last Month    83.8
Name: 23154, dtype: object
23155 1200 9 ORtg Last Month    133.333
Name: 23155, dtype: object
23156 93 5 ORtg Last Month    18.6
Name: 23156, dtype: object
23157 1137 10 ORtg Last Month    113.7
Name: 23157, dtype: object
23158 1181 10 ORtg Last Month    118.1
Name: 23158, dtype: object
23159 1029 9 ORtg Last Month    114.333
Name: 23159, dtype: object
23160 217 9 ORtg Last Month    24.1111
Name: 23160, dtype: object
23161 1013 10 ORtg Last Month    101.3
Name: 23161, dtype: object
23162 304 10 ORtg Last Month    30.4
Name: 23162, dtype: object
23163 1199 10 ORtg Last Month    119.9
Name: 23163, dtype: object
23164 1085 10 ORtg Last Month    108.5
Name: 23164, dtype: object
23165 929 10 ORtg Last Month    92.9
Name: 23165, dtype: object
23166 1215 10 ORtg Last Month    121.5
Name: 23166, dtype: object
23167 1084 9 ORtg Last Month    120.444
Name: 23167, dtype: object
23168 155 10 ORtg Last Month    15.5
Name: 23168, dtype: object
23169 1318 10 ORtg Last Month    131.8
Name: 23169, dtype: object
23170 1235 10 ORtg Last Month    123.5
Name: 23170, dtype: object
23171 210 10 ORtg Last Month    21
Name: 23171, dtype: object
23172 1373 11 ORtg Last Month    124.818
Name: 23172, dtype: object
23173 1077 9 ORtg Last Month    119.667
Name: 23173, dtype: object
23174 791 11 ORtg Last Month    71.9091
Name: 23174, dtype: object
23175 992 10 ORtg Last Month    99.2
Name: 23175, dtype: object
23176 1305 11 ORtg Last Month    118.636
Name: 23176, dtype: object
23177 462 11 ORtg Last Month    42
Name: 23177, dtype: object
23178 641 11 ORtg Last Month    58.2727
Name: 23178, dtype: object
23179 1025 10 ORtg Last Month    102.5
Name: 23179, dtype: object
23180 1332 11 ORtg Last Month    121.091
Name: 23180, dtype: object
23181 1307 11 ORtg Last Month    118.818
Name: 23181, dtype: object
23182 0 11 ORtg Last Month    0
Name: 23182, dtype: object
23183 1498 13 ORtg Last Month    115.231
Name: 23183, dtype: object
23184 814 9 ORtg Last Month    90.4444
Name: 23184, dtype: object
23185 1431 13 ORtg Last Month    110.077
Name: 23185, dtype: object
23186 1104 13 ORtg Last Month    84.9231
Name: 23186, dtype: object
23187 1115 11 ORtg Last Month    101.364
Name: 23187, dtype: object
23188 268 4 ORtg Last Month    67
Name: 23188, dtype: object
23189 495 13 ORtg Last Month    38.0769
Name: 23189, dtype: object
23190 1172 10 ORtg Last Month    117.2
Name: 23190, dtype: object
23191 1427 13 ORtg Last Month    109.769
Name: 23191, dtype: object
23192 0 0 ORtg Last Month    0
Name: 23192, dtype: object
23193 1030 9 ORtg Last Month    114.444
Name: 23193, dtype: object
23194 1280 12 ORtg Last Month    106.667
Name: 23194, dtype: object
23195 982 10 ORtg Last Month    98.2
Name: 23195, dtype: object
23196 673 11 ORtg Last Month    61.1818
Name: 23196, dtype: object
23197 1059 12 ORtg Last Month    88.25
Name: 23197, dtype: object
23198 1297 11 ORtg Last Month    117.909
Name: 23198, dtype: object
23199 1262 12 ORtg Last Month    105.167
Name: 23199, dtype: object
23200 1232 12 ORtg Last Month    102.667
Name: 23200, dtype: object
23201 431 12 ORtg Last Month    35.9167
Name: 23201, dtype: object
23202 1559 12 ORtg Last Month    129.917
Name: 23202, dtype: object
23203 258 3 ORtg Last Month    86
Name: 23203, dtype: object
23204 239 11 ORtg Last Month    21.7273
Name: 23204, dtype: object
23205 1264 12 ORtg Last Month    105.333
Name: 23205, dtype: object
23206 447 4 ORtg Last Month    111.75
Name: 23206, dtype: object
23207 1204 11 ORtg Last Month    109.455
Name: 23207, dtype: object

23208 986 11 ORtg Last Month    89.6364
Name: 23208, dtype: object
23209 1049 10 ORtg Last Month    104.9
Name: 23209, dtype: object
23210 1163 10 ORtg Last Month    116.3
Name: 23210, dtype: object
23211 1450 11 ORtg Last Month    131.818
Name: 23211, dtype: object
23212 1068 11 ORtg Last Month    97.0909
Name: 23212, dtype: object
23213 239 8 ORtg Last Month    29.875
Name: 23213, dtype: object
23214 26 2 ORtg Last Month    13
Name: 23214, dtype: object
23215 1378 11 ORtg Last Month    125.273
Name: 23215, dtype: object
23216 1319 11 ORtg Last Month    119.909
Name: 23216, dtype: object
23217 717 11 ORtg Last Month    65.1818
Name: 23217, dtype: object
23218 1154 11 ORtg Last Month    104.909
Name: 23218, dtype: object
23219 163 2 ORtg Last Month    81.5
Name: 23219, dtype: object
23220 372 10 ORtg Last Month    37.2
Name: 23220, dtype: object
23221 98 9 ORtg Last Month    10.8889
Name: 23221, dtype: object
23222 1222 11 ORtg Last Month    111.091
Name: 23222, dtype: object
23223 1113 11 ORtg Last Month    101.182
Name: 23223, dtype: object
23224 1316 11 ORtg Last Month    119.636
Name: 23224, dtype: object
23225 1304 11 ORtg Last Month    118.545
Name: 23225, dtype: object
23226 156 5 ORtg Last Month    31.2
Name: 23226, dtype: object
23227 576 10 ORtg Last Month    57.6
Name: 23227, dtype: object
23228 1335 11 ORtg Last Month    121.364
Name: 23228, dtype: object
23229 1228 9 ORtg Last Month    136.444
Name: 23229, dtype: object
23230 945 11 ORtg Last Month    85.9091
Name: 23230, dtype: object
23231 347 8 ORtg Last Month    43.375
Name: 23231, dtype: object
23232 122 3 ORtg Last Month    40.6667
Name: 23232, dtype: object
23233 1276 11 ORtg Last Month    116
Name: 23233, dtype: object
23234 859 10 ORtg Last Month    85.9
Name: 23234, dtype: object
23235 982 10 ORtg Last Month    98.2
Name: 23235, dtype: object
23236 1076 11 ORtg Last Month    97.8182
Name: 23236, dtype: object
23237 140 3 ORtg Last Month    46.6667
Name: 23237, dtype: object
23238 395 11 ORtg Last Month    35.9091
Name: 23238, dtype: object
23239 1371 11 ORtg Last Month    124.636
Name: 23239, dtype: object
23240 581 9 ORtg Last Month    64.5556
Name: 23240, dtype: object
23241 1474 11 ORtg Last Month    134
Name: 23241, dtype: object
23242 1221 12 ORtg Last Month    101.75
Name: 23242, dtype: object
23243 143 1 ORtg Last Month    143
Name: 23243, dtype: object
23244 607 6 ORtg Last Month    101.167
Name: 23244, dtype: object
23245 1217 10 ORtg Last Month    121.7
Name: 23245, dtype: object
23246 860 9 ORtg Last Month    95.5556
Name: 23246, dtype: object
23247 1176 11 ORtg Last Month    106.909
Name: 23247, dtype: object
23248 1221 12 ORtg Last Month    101.75
Name: 23248, dtype: object
23249 1032 12 ORtg Last Month    86
Name: 23249, dtype: object
23250 1221 12 ORtg Last Month    101.75
Name: 23250, dtype: object
23251 1605 12 ORtg Last Month    133.75
Name: 23251, dtype: object
23252 277 12 ORtg Last Month    23.0833
Name: 23252, dtype: object
23253 279 9 ORtg Last Month    31
Name: 23253, dtype: object
23254 1112 10 ORtg Last Month    111.2
Name: 23254, dtype: object
23255 1056 11 ORtg Last Month    96
Name: 23255, dtype: object
23256 1028 8 ORtg Last Month    128.5
Name: 23256, dtype: object
23257 259 3 ORtg Last Month    86.3333
Name: 23257, dtype: object
23258 430 12 ORtg Last Month    35.8333
Name: 23258, dtype: object
23259 1406 12 ORtg Last Month    117.167
Name: 23259, dtype: object
23260 843 12 ORtg Last Month    70.25
Name: 23260, dtype: object
23261 972 12 ORtg Last Month    81
Name: 23261, dtype: object
23262 1368 12 ORtg Last Month    114
Name: 23262, dtype: object
23263 1024 10 ORtg Last Month    102.4
Name: 23263, dtype: object
23264 1323 10 ORtg Last Month    132.3
Name: 23264, dtype: object
23265 1522 12 ORtg Last Month    126.833
Name: 23265, dtype: object
23266 714 10 ORtg Last Month    71.4
Name: 23266, dtype: object
23267 964 7 ORtg Last Month    137.714
Name: 23267, dtype: object
23268 1683 12 ORtg Last Month    140.25
Name: 23268, dtype: object
23269 872 12 ORtg Last Month    72.6667
Name: 23269, dtype: object
23270 618 7 ORtg Last Month    88.2857
Name: 23270, dtype: object
23271 1297 12 ORtg Last Month    108.083
Name: 23271, dtype: object
23272 1374 12 ORtg Last Month    114.5
Name: 23272, dtype: object
23273 1094 12 ORtg Last Month    91.1667
Name: 23273, dtype: object
23274 567 12 ORtg Last Month    47.25
Name: 23274, dtype: object
23275 795 12 ORtg Last Month    66.25
Name: 23275, dtype: object
23276 414 7 ORtg Last Month    59.1429
Name: 23276, dtype: object
23277 949 9 ORtg Last Month    105.444
Name: 23277, dtype: object
23278 1069 10 ORtg Last Month    106.9
Name: 23278, dtype: object
23279 498 9 ORtg Last Month    55.3333
Name: 23279, dtype: object
23280 827 10 ORtg Last Month    82.7
Name: 23280, dtype: object
23281 729 7 ORtg Last Month    104.143
Name: 23281, dtype: object
23282 1063 10 ORtg Last Month    106.3
Name: 23282, dtype: object
23283 1210 10 ORtg Last Month    121
Name: 23283, dtype: object
23284 846 10 ORtg Last Month    84.6
Name: 23284, dtype: object
23285 0 6 ORtg Last Month    0
Name: 23285, dtype: object
23286 1257 10 ORtg Last Month    125.7
Name: 23286, dtype: object
23287 1184 10 ORtg Last Month    118.4
Name: 23287, dtype: object
23288 746 10 ORtg Last Month    74.6
Name: 23288, dtype: object
23289 1512 12 ORtg Last Month    126
Name: 23289, dtype: object
23290 1219 12 ORtg Last Month    101.583
Name: 23290, dtype: object
23291 0 5 ORtg Last Month    0
Name: 23291, dtype: object
23292 1266 12 ORtg Last Month    105.5
Name: 23292, dtype: object
23293 1425 12 ORtg Last Month    118.75
Name: 23293, dtype: object
23294 1475 12 ORtg Last Month    122.917
Name: 23294, dtype: object
23295 1312 12 ORtg Last Month    109.333
Name: 23295, dtype: object
23296 1506 12 ORtg Last Month    125.5
Name: 23296, dtype: object
23297 809 7 ORtg Last Month    115.571
Name: 23297, dtype: object
23298 663 12 ORtg Last Month    55.25
Name: 23298, dtype: object
23299 754 10 ORtg Last Month    75.4
Name: 23299, dtype: object
23300 0 10 ORtg Last Month    0
Name: 23300, dtype: object
23301 1080 10 ORtg Last Month    108
Name: 23301, dtype: object
23302 731 10 ORtg Last Month    73.1
Name: 23302, dtype: object
23303 1078 10 ORtg Last Month    107.8
Name: 23303, dtype: object
23304 1053 10 ORtg Last Month    105.3
Name: 23304, dtype: object
23305 1169 10 ORtg Last Month    116.9
Name: 23305, dtype: object
23306 1014 10 ORtg Last Month    101.4
Name: 23306, dtype: object
23307 1036 10 ORtg Last Month    103.6
Name: 23307, dtype: object
23308 960 10 ORtg Last Month    96
Name: 23308, dtype: object
23309 618 9 ORtg Last Month    68.6667
Name: 23309, dtype: object
23310 1359 11 ORtg Last Month    123.545
Name: 23310, dtype: object
23311 1077 9 ORtg Last Month    119.667
Name: 23311, dtype: object
23312 690 11 ORtg Last Month    62.7273
Name: 23312, dtype: object
23313 1298 11 ORtg Last Month    118
Name: 23313, dtype: object
23314 1094 11 ORtg Last Month    99.4545
Name: 23314, dtype: object
23315 479 11 ORtg Last Month    43.5455
Name: 23315, dtype: object
23316 641 11 ORtg Last Month    58.2727
Name: 23316, dtype: object
23317 1161 11 ORtg Last Month    105.545
Name: 23317, dtype: object
23318 1314 11 ORtg Last Month    119.455
Name: 23318, dtype: object
23319 1361 11 ORtg Last Month    123.727
Name: 23319, dtype: object
23320 0 11 ORtg Last Month    0
Name: 23320, dtype: object
23321 1527 13 ORtg Last Month    117.462
Name: 23321, dtype: object
23322 887 9 ORtg Last Month    98.5556
Name: 23322, dtype: object
23323 1088 11 ORtg Last Month    98.9091
Name: 23323, dtype: object
23324 1100 13 ORtg Last Month    84.6154
Name: 23324, dtype: object
23325 1413 13 ORtg Last Month    108.692
Name: 23325, dtype: object
23326 369 13 ORtg Last Month    28.3846
Name: 23326, dtype: object
23327 268 5 ORtg Last Month    53.6
Name: 23327, dtype: object
23328 1220 10 ORtg Last Month    122
Name: 23328, dtype: object
23329 1411 13 ORtg Last Month    108.538
Name: 23329, dtype: object
23330 1408 11 ORtg Last Month    128
Name: 23330, dtype: object
23331 58 1 ORtg Last Month    58
Name: 23331, dtype: object
23332 1474 13 ORtg Last Month    113.385
Name: 23332, dtype: object

23333 1238 11 ORtg Last Month    112.545
Name: 23333, dtype: object
23334 1240 13 ORtg Last Month    95.3846
Name: 23334, dtype: object
23335 1508 13 ORtg Last Month    116
Name: 23335, dtype: object
23336 1244 13 ORtg Last Month    95.6923
Name: 23336, dtype: object
23337 1617 13 ORtg Last Month    124.385
Name: 23337, dtype: object
23338 1066 11 ORtg Last Month    96.9091
Name: 23338, dtype: object
23339 1653 13 ORtg Last Month    127.154
Name: 23339, dtype: object
23340 432 11 ORtg Last Month    39.2727
Name: 23340, dtype: object
23341 1041 10 ORtg Last Month    104.1
Name: 23341, dtype: object
23342 1291 12 ORtg Last Month    107.583
Name: 23342, dtype: object
23343 963 12 ORtg Last Month    80.25
Name: 23343, dtype: object
23344 916 11 ORtg Last Month    83.2727
Name: 23344, dtype: object
23345 1211 12 ORtg Last Month    100.917
Name: 23345, dtype: object
23346 959 12 ORtg Last Month    79.9167
Name: 23346, dtype: object
23347 906 12 ORtg Last Month    75.5
Name: 23347, dtype: object
23348 656 12 ORtg Last Month    54.6667
Name: 23348, dtype: object
23349 1033 9 ORtg Last Month    114.778
Name: 23349, dtype: object
23350 1761 12 ORtg Last Month    146.75
Name: 23350, dtype: object
23351 1000 12 ORtg Last Month    83.3333
Name: 23351, dtype: object
23352 847 9 ORtg Last Month    94.1111
Name: 23352, dtype: object
23353 1266 11 ORtg Last Month    115.091
Name: 23353, dtype: object
23354 1430 11 ORtg Last Month    130
Name: 23354, dtype: object
23355 1349 11 ORtg Last Month    122.636
Name: 23355, dtype: object
23356 1182 11 ORtg Last Month    107.455
Name: 23356, dtype: object
23357 1484 11 ORtg Last Month    134.909
Name: 23357, dtype: object
23358 1028 10 ORtg Last Month    102.8
Name: 23358, dtype: object
23359 957 11 ORtg Last Month    87
Name: 23359, dtype: object
23360 136 7 ORtg Last Month    19.4286
Name: 23360, dtype: object
23361 267 10 ORtg Last Month    26.7
Name: 23361, dtype: object
23362 332 6 ORtg Last Month    55.3333
Name: 23362, dtype: object
23363 1217 10 ORtg Last Month    121.7
Name: 23363, dtype: object
23364 1291 12 ORtg Last Month    107.583
Name: 23364, dtype: object
23365 1128 10 ORtg Last Month    112.8
Name: 23365, dtype: object
23366 966 12 ORtg Last Month    80.5
Name: 23366, dtype: object
23367 1364 11 ORtg Last Month    124
Name: 23367, dtype: object
23368 1198 9 ORtg Last Month    133.111
Name: 23368, dtype: object
23369 1203 12 ORtg Last Month    100.25
Name: 23369, dtype: object
23370 1123 12 ORtg Last Month    93.5833
Name: 23370, dtype: object
23371 1348 12 ORtg Last Month    112.333
Name: 23371, dtype: object
23372 1016 10 ORtg Last Month    101.6
Name: 23372, dtype: object
23373 1261 10 ORtg Last Month    126.1
Name: 23373, dtype: object
23374 829 11 ORtg Last Month    75.3636
Name: 23374, dtype: object
23375 1346 11 ORtg Last Month    122.364
Name: 23375, dtype: object
23376 1105 10 ORtg Last Month    110.5
Name: 23376, dtype: object
23377 1177 10 ORtg Last Month    117.7
Name: 23377, dtype: object
23378 1126 10 ORtg Last Month    112.6
Name: 23378, dtype: object
23379 1133 11 ORtg Last Month    103
Name: 23379, dtype: object
23380 1363 11 ORtg Last Month    123.909
Name: 23380, dtype: object
23381 519 6 ORtg Last Month    86.5
Name: 23381, dtype: object
23382 984 8 ORtg Last Month    123
Name: 23382, dtype: object
23383 1051 10 ORtg Last Month    105.1
Name: 23383, dtype: object
23384 654 10 ORtg Last Month    65.4
Name: 23384, dtype: object
23385 43 6 ORtg Last Month    7.16667
Name: 23385, dtype: object
23386 1334 11 ORtg Last Month    121.273
Name: 23386, dtype: object
23387 1236 11 ORtg Last Month    112.364
Name: 23387, dtype: object
23388 296 11 ORtg Last Month    26.9091
Name: 23388, dtype: object
23389 1271 11 ORtg Last Month    115.545
Name: 23389, dtype: object
23390 1234 11 ORtg Last Month    112.182
Name: 23390, dtype: object
23391 1304 10 ORtg Last Month    130.4
Name: 23391, dtype: object
23392 0 2 ORtg Last Month    0
Name: 23392, dtype: object
23393 295 7 ORtg Last Month    42.1429
Name: 23393, dtype: object
23394 741 6 ORtg Last Month    123.5
Name: 23394, dtype: object
23395 844 9 ORtg Last Month    93.7778
Name: 23395, dtype: object
23396 918 11 ORtg Last Month    83.4545
Name: 23396, dtype: object
23397 1060 11 ORtg Last Month    96.3636
Name: 23397, dtype: object
23398 1139 11 ORtg Last Month    103.545
Name: 23398, dtype: object
23399 1140 11 ORtg Last Month    103.636
Name: 23399, dtype: object
23400 616 11 ORtg Last Month    56
Name: 23400, dtype: object
23401 399 9 ORtg Last Month    44.3333
Name: 23401, dtype: object
23402 858 11 ORtg Last Month    78
Name: 23402, dtype: object
23403 860 11 ORtg Last Month    78.1818
Name: 23403, dtype: object
23404 1179 11 ORtg Last Month    107.182
Name: 23404, dtype: object
23405 493 8 ORtg Last Month    61.625
Name: 23405, dtype: object
23406 1091 9 ORtg Last Month    121.222
Name: 23406, dtype: object
23407 1359 11 ORtg Last Month    123.545
Name: 23407, dtype: object
23408 1155 10 ORtg Last Month    115.5
Name: 23408, dtype: object
23409 1261 13 ORtg Last Month    97
Name: 23409, dtype: object
23410 558 5 ORtg Last Month    111.6
Name: 23410, dtype: object
23411 1232 11 ORtg Last Month    112
Name: 23411, dtype: object
23412 1458 12 ORtg Last Month    121.5
Name: 23412, dtype: object
23413 1294 13 ORtg Last Month    99.5385
Name: 23413, dtype: object
23414 1598 13 ORtg Last Month    122.923
Name: 23414, dtype: object
23415 875 9 ORtg Last Month    97.2222
Name: 23415, dtype: object
23416 485 9 ORtg Last Month    53.8889
Name: 23416, dtype: object
23417 0 13 ORtg Last Month    0
Name: 23417, dtype: object
23418 1546 13 ORtg Last Month    118.923
Name: 23418, dtype: object
23419 1122 10 ORtg Last Month    112.2
Name: 23419, dtype: object
23420 1591 13 ORtg Last Month    122.385
Name: 23420, dtype: object
23421 256 13 ORtg Last Month    19.6923
Name: 23421, dtype: object
23422 1353 13 ORtg Last Month    104.077
Name: 23422, dtype: object
23423 1603 12 ORtg Last Month    133.583
Name: 23423, dtype: object
23424 298 2 ORtg Last Month    149
Name: 23424, dtype: object
23425 607 7 ORtg Last Month    86.7143
Name: 23425, dtype: object
23426 1359 11 ORtg Last Month    123.545
Name: 23426, dtype: object
23427 1271 12 ORtg Last Month    105.917
Name: 23427, dtype: object
23428 1164 13 ORtg Last Month    89.5385
Name: 23428, dtype: object
23429 1014 10 ORtg Last Month    101.4
Name: 23429, dtype: object
23430 1301 13 ORtg Last Month    100.077
Name: 23430, dtype: object
23431 1378 13 ORtg Last Month    106
Name: 23431, dtype: object
23432 279 9 ORtg Last Month    31
Name: 23432, dtype: object
23433 1730 13 ORtg Last Month    133.077
Name: 23433, dtype: object
23434 277 13 ORtg Last Month    21.3077
Name: 23434, dtype: object
23435 1135 11 ORtg Last Month    103.182
Name: 23435, dtype: object
23436 1119 9 ORtg Last Month    124.333
Name: 23436, dtype: object
23437 1230 11 ORtg Last Month    111.818
Name: 23437, dtype: object
23438 353 4 ORtg Last Month    88.25
Name: 23438, dtype: object
23439 400 12 ORtg Last Month    33.3333
Name: 23439, dtype: object
23440 0 0 ORtg Last Month    0
Name: 23440, dtype: object
23441 887 12 ORtg Last Month    73.9167
Name: 23441, dtype: object
23442 1382 12 ORtg Last Month    115.167
Name: 23442, dtype: object
23443 1340 12 ORtg Last Month    111.667
Name: 23443, dtype: object
23444 1096 12 ORtg Last Month    91.3333
Name: 23444, dtype: object
23445 0 1 ORtg Last Month    0
Name: 23445, dtype: object
23446 1517 12 ORtg Last Month    126.417
Name: 23446, dtype: object
23447 580 10 ORtg Last Month    58
Name: 23447, dtype: object
23448 945 9 ORtg Last Month    105
Name: 23448, dtype: object
23449 1281 13 ORtg Last Month    98.5385
Name: 23449, dtype: object
23450 542 13 ORtg Last Month    41.6923
Name: 23450, dtype: object
23451 0 0 ORtg Last Month    0
Name: 23451, dtype: object
23452 1120 11 ORtg Last Month    101.818
Name: 23452, dtype: object
23453 1314 13 ORtg Last Month    101.077
Name: 23453, dtype: object
23454 77 12 ORtg Last Month    6.41667
Name: 23454, dtype: object
23455 633 13 ORtg Last Month    48.6923
Name: 23455, dtype: object
23456 0 6 ORtg Last Month    0
Name: 23456, dtype: object
23457 1099 10 ORtg Last Month    109.9
Name: 23457, dtype: object

23458 1411 13 ORtg Last Month    108.538
Name: 23458, dtype: object
23459 1430 13 ORtg Last Month    110
Name: 23459, dtype: object
23460 961 10 ORtg Last Month    96.1
Name: 23460, dtype: object
23461 1448 13 ORtg Last Month    111.385
Name: 23461, dtype: object
23462 706 8 ORtg Last Month    88.25
Name: 23462, dtype: object
23463 966 13 ORtg Last Month    74.3077
Name: 23463, dtype: object
23464 1353 13 ORtg Last Month    104.077
Name: 23464, dtype: object
23465 1154 13 ORtg Last Month    88.7692
Name: 23465, dtype: object
23466 990 13 ORtg Last Month    76.1538
Name: 23466, dtype: object
23467 1818 13 ORtg Last Month    139.846
Name: 23467, dtype: object
23468 1249 12 ORtg Last Month    104.083
Name: 23468, dtype: object
23469 1108 8 ORtg Last Month    138.5
Name: 23469, dtype: object
23470 677 13 ORtg Last Month    52.0769
Name: 23470, dtype: object
23471 446 8 ORtg Last Month    55.75
Name: 23471, dtype: object
23472 1513 12 ORtg Last Month    126.083
Name: 23472, dtype: object
23473 741 12 ORtg Last Month    61.75
Name: 23473, dtype: object
23474 0 1 ORtg Last Month    0
Name: 23474, dtype: object
23475 1087 11 ORtg Last Month    98.8182
Name: 23475, dtype: object
23476 1207 12 ORtg Last Month    100.583
Name: 23476, dtype: object
23477 1403 12 ORtg Last Month    116.917
Name: 23477, dtype: object
23478 1247 12 ORtg Last Month    103.917
Name: 23478, dtype: object
23479 475 8 ORtg Last Month    59.375
Name: 23479, dtype: object
23480 1477 12 ORtg Last Month    123.083
Name: 23480, dtype: object
23481 1792 12 ORtg Last Month    149.333
Name: 23481, dtype: object
23482 790 12 ORtg Last Month    65.8333
Name: 23482, dtype: object
23483 676 12 ORtg Last Month    56.3333
Name: 23483, dtype: object
23484 1212 12 ORtg Last Month    101
Name: 23484, dtype: object
23485 1577 12 ORtg Last Month    131.417
Name: 23485, dtype: object
23486 1465 12 ORtg Last Month    122.083
Name: 23486, dtype: object
23487 1521 12 ORtg Last Month    126.75
Name: 23487, dtype: object
23488 1281 12 ORtg Last Month    106.75
Name: 23488, dtype: object
23489 1270 12 ORtg Last Month    105.833
Name: 23489, dtype: object
23490 566 12 ORtg Last Month    47.1667
Name: 23490, dtype: object
23491 951 11 ORtg Last Month    86.4545
Name: 23491, dtype: object
23492 449 4 ORtg Last Month    112.25
Name: 23492, dtype: object
23493 442 12 ORtg Last Month    36.8333
Name: 23493, dtype: object
23494 223 5 ORtg Last Month    44.6
Name: 23494, dtype: object
23495 779 11 ORtg Last Month    70.8182
Name: 23495, dtype: object
23496 1047 10 ORtg Last Month    104.7
Name: 23496, dtype: object
23497 1190 11 ORtg Last Month    108.182
Name: 23497, dtype: object
23498 993 11 ORtg Last Month    90.2727
Name: 23498, dtype: object
23499 595 10 ORtg Last Month    59.5
Name: 23499, dtype: object
23500 950 8 ORtg Last Month    118.75
Name: 23500, dtype: object
23501 1169 11 ORtg Last Month    106.273
Name: 23501, dtype: object
23502 946 11 ORtg Last Month    86
Name: 23502, dtype: object
23503 1358 11 ORtg Last Month    123.455
Name: 23503, dtype: object
23504 0 7 ORtg Last Month    0
Name: 23504, dtype: object
23505 1388 11 ORtg Last Month    126.182
Name: 23505, dtype: object
23506 1254 11 ORtg Last Month    114
Name: 23506, dtype: object
23507 877 11 ORtg Last Month    79.7273
Name: 23507, dtype: object
23508 897 9 ORtg Last Month    99.6667
Name: 23508, dtype: object
23509 1084 9 ORtg Last Month    120.444
Name: 23509, dtype: object
23510 650 7 ORtg Last Month    92.8571
Name: 23510, dtype: object
23511 0 3 ORtg Last Month    0
Name: 23511, dtype: object
23512 972 9 ORtg Last Month    108
Name: 23512, dtype: object
23513 858 9 ORtg Last Month    95.3333
Name: 23513, dtype: object
23514 978 9 ORtg Last Month    108.667
Name: 23514, dtype: object
23515 262 9 ORtg Last Month    29.1111
Name: 23515, dtype: object
23516 460 9 ORtg Last Month    51.1111
Name: 23516, dtype: object
23517 1027 9 ORtg Last Month    114.111
Name: 23517, dtype: object
23518 946 8 ORtg Last Month    118.25
Name: 23518, dtype: object
23519 457 5 ORtg Last Month    91.4
Name: 23519, dtype: object
23520 200 6 ORtg Last Month    33.3333
Name: 23520, dtype: object
23521 1200 10 ORtg Last Month    120
Name: 23521, dtype: object
23522 898 10 ORtg Last Month    89.8
Name: 23522, dtype: object
23523 1263 10 ORtg Last Month    126.3
Name: 23523, dtype: object
23524 783 10 ORtg Last Month    78.3
Name: 23524, dtype: object
23525 1194 10 ORtg Last Month    119.4
Name: 23525, dtype: object
23526 1247 9 ORtg Last Month    138.556
Name: 23526, dtype: object
23527 136 6 ORtg Last Month    22.6667
Name: 23527, dtype: object
23528 1156 10 ORtg Last Month    115.6
Name: 23528, dtype: object
23529 1157 10 ORtg Last Month    115.7
Name: 23529, dtype: object
23530 1093 10 ORtg Last Month    109.3
Name: 23530, dtype: object
23531 343 10 ORtg Last Month    34.3
Name: 23531, dtype: object
23532 1074 9 ORtg Last Month    119.333
Name: 23532, dtype: object
23533 922 10 ORtg Last Month    92.2
Name: 23533, dtype: object
23534 1317 12 ORtg Last Month    109.75
Name: 23534, dtype: object
23535 673 11 ORtg Last Month    61.1818
Name: 23535, dtype: object
23536 1155 12 ORtg Last Month    96.25
Name: 23536, dtype: object
23537 1294 11 ORtg Last Month    117.636
Name: 23537, dtype: object
23538 1105 12 ORtg Last Month    92.0833
Name: 23538, dtype: object
23539 489 12 ORtg Last Month    40.75
Name: 23539, dtype: object
23540 1559 12 ORtg Last Month    129.917
Name: 23540, dtype: object
23541 388 4 ORtg Last Month    97
Name: 23541, dtype: object
23542 1144 12 ORtg Last Month    95.3333
Name: 23542, dtype: object
23543 142 9 ORtg Last Month    15.7778
Name: 23543, dtype: object
23544 331 11 ORtg Last Month    30.0909
Name: 23544, dtype: object
23545 1200 11 ORtg Last Month    109.091
Name: 23545, dtype: object
23546 578 5 ORtg Last Month    115.6
Name: 23546, dtype: object
23547 924 11 ORtg Last Month    84
Name: 23547, dtype: object
23548 884 10 ORtg Last Month    88.4
Name: 23548, dtype: object
23549 1011 11 ORtg Last Month    91.9091
Name: 23549, dtype: object
23550 1412 11 ORtg Last Month    128.364
Name: 23550, dtype: object
23551 1126 10 ORtg Last Month    112.6
Name: 23551, dtype: object
23552 1177 10 ORtg Last Month    117.7
Name: 23552, dtype: object
23553 26 3 ORtg Last Month    8.66667
Name: 23553, dtype: object
23554 239 9 ORtg Last Month    26.5556
Name: 23554, dtype: object
23555 1405 11 ORtg Last Month    127.727
Name: 23555, dtype: object
23556 1256 11 ORtg Last Month    114.182
Name: 23556, dtype: object
23557 636 11 ORtg Last Month    57.8182
Name: 23557, dtype: object
23558 1253 12 ORtg Last Month    104.417
Name: 23558, dtype: object
23559 546 11 ORtg Last Month    49.6364
Name: 23559, dtype: object
23560 254 3 ORtg Last Month    84.6667
Name: 23560, dtype: object
23561 98 10 ORtg Last Month    9.8
Name: 23561, dtype: object
23562 1409 12 ORtg Last Month    117.417
Name: 23562, dtype: object
23563 205 6 ORtg Last Month    34.1667
Name: 23563, dtype: object
23564 1283 12 ORtg Last Month    106.917
Name: 23564, dtype: object
23565 746 11 ORtg Last Month    67.8182
Name: 23565, dtype: object
23566 1228 10 ORtg Last Month    122.8
Name: 23566, dtype: object
23567 1079 11 ORtg Last Month    98.0909
Name: 23567, dtype: object
23568 1363 11 ORtg Last Month    123.909
Name: 23568, dtype: object
23569 1180 11 ORtg Last Month    107.273
Name: 23569, dtype: object
23570 1060 10 ORtg Last Month    106
Name: 23570, dtype: object
23571 885 10 ORtg Last Month    88.5
Name: 23571, dtype: object
23572 1574 11 ORtg Last Month    143.091
Name: 23572, dtype: object
23573 37 3 ORtg Last Month    12.3333
Name: 23573, dtype: object
23574 1013 8 ORtg Last Month    126.625
Name: 23574, dtype: object
23575 750 7 ORtg Last Month    107.143
Name: 23575, dtype: object
23576 1065 11 ORtg Last Month    96.8182
Name: 23576, dtype: object
23577 438 11 ORtg Last Month    39.8182
Name: 23577, dtype: object
23578 1178 11 ORtg Last Month    107.091
Name: 23578, dtype: object
23579 1201 11 ORtg Last Month    109.182
Name: 23579, dtype: object
23580 1356 11 ORtg Last Month    123.273
Name: 23580, dtype: object
23581 243 10 ORtg Last Month    24.3
Name: 23581, dtype: object

23582 1193 11 ORtg Last Month    108.455
Name: 23582, dtype: object
23583 1467 11 ORtg Last Month    133.364
Name: 23583, dtype: object
23584 1055 10 ORtg Last Month    105.5
Name: 23584, dtype: object
23585 1453 11 ORtg Last Month    132.091
Name: 23585, dtype: object
23586 1300 11 ORtg Last Month    118.182
Name: 23586, dtype: object
23587 1080 11 ORtg Last Month    98.1818
Name: 23587, dtype: object
23588 811 9 ORtg Last Month    90.1111
Name: 23588, dtype: object
23589 263 8 ORtg Last Month    32.875
Name: 23589, dtype: object
23590 1180 11 ORtg Last Month    107.273
Name: 23590, dtype: object
23591 1433 12 ORtg Last Month    119.417
Name: 23591, dtype: object
23592 1217 11 ORtg Last Month    110.636
Name: 23592, dtype: object
23593 1249 11 ORtg Last Month    113.545
Name: 23593, dtype: object
23594 1584 12 ORtg Last Month    132
Name: 23594, dtype: object
23595 519 7 ORtg Last Month    74.1429
Name: 23595, dtype: object
23596 1216 12 ORtg Last Month    101.333
Name: 23596, dtype: object
23597 1127 9 ORtg Last Month    125.222
Name: 23597, dtype: object
23598 975 7 ORtg Last Month    139.286
Name: 23598, dtype: object
23599 654 11 ORtg Last Month    59.4545
Name: 23599, dtype: object
23600 1103 11 ORtg Last Month    100.273
Name: 23600, dtype: object
23601 1322 11 ORtg Last Month    120.182
Name: 23601, dtype: object
23602 1099 11 ORtg Last Month    99.9091
Name: 23602, dtype: object
23603 635 11 ORtg Last Month    57.7273
Name: 23603, dtype: object
23604 1343 11 ORtg Last Month    122.091
Name: 23604, dtype: object
23605 1323 11 ORtg Last Month    120.273
Name: 23605, dtype: object
23606 1204 11 ORtg Last Month    109.455
Name: 23606, dtype: object
23607 1163 11 ORtg Last Month    105.727
Name: 23607, dtype: object
23608 272 11 ORtg Last Month    24.7273
Name: 23608, dtype: object
23609 0 1 ORtg Last Month    0
Name: 23609, dtype: object
23610 1306 11 ORtg Last Month    118.727
Name: 23610, dtype: object
23611 1194 11 ORtg Last Month    108.545
Name: 23611, dtype: object
23612 1269 12 ORtg Last Month    105.75
Name: 23612, dtype: object
23613 961 10 ORtg Last Month    96.1
Name: 23613, dtype: object
23614 455 8 ORtg Last Month    56.875
Name: 23614, dtype: object
23615 1049 12 ORtg Last Month    87.4167
Name: 23615, dtype: object
23616 1010 11 ORtg Last Month    91.8182
Name: 23616, dtype: object
23617 1233 10 ORtg Last Month    123.3
Name: 23617, dtype: object
23618 1402 12 ORtg Last Month    116.833
Name: 23618, dtype: object
23619 1251 12 ORtg Last Month    104.25
Name: 23619, dtype: object
23620 961 9 ORtg Last Month    106.778
Name: 23620, dtype: object
23621 0 6 ORtg Last Month    0
Name: 23621, dtype: object
23622 1302 12 ORtg Last Month    108.5
Name: 23622, dtype: object
23623 1358 12 ORtg Last Month    113.167
Name: 23623, dtype: object
23624 227 12 ORtg Last Month    18.9167
Name: 23624, dtype: object
23625 1115 10 ORtg Last Month    111.5
Name: 23625, dtype: object
23626 421 9 ORtg Last Month    46.7778
Name: 23626, dtype: object
23627 913 10 ORtg Last Month    91.3
Name: 23627, dtype: object
23628 744 10 ORtg Last Month    74.4
Name: 23628, dtype: object
23629 1073 10 ORtg Last Month    107.3
Name: 23629, dtype: object
23630 1008 10 ORtg Last Month    100.8
Name: 23630, dtype: object
23631 1047 10 ORtg Last Month    104.7
Name: 23631, dtype: object
23632 719 10 ORtg Last Month    71.9
Name: 23632, dtype: object
23633 1165 10 ORtg Last Month    116.5
Name: 23633, dtype: object
23634 1028 10 ORtg Last Month    102.8
Name: 23634, dtype: object
23635 0 9 ORtg Last Month    0
Name: 23635, dtype: object
23636 0 2 ORtg Last Month    0
Name: 23636, dtype: object
23637 1325 11 ORtg Last Month    120.455
Name: 23637, dtype: object
23638 1017 11 ORtg Last Month    92.4545
Name: 23638, dtype: object
23639 811 7 ORtg Last Month    115.857
Name: 23639, dtype: object
23640 1311 11 ORtg Last Month    119.182
Name: 23640, dtype: object
23641 1399 10 ORtg Last Month    139.9
Name: 23641, dtype: object
23642 933 11 ORtg Last Month    84.8182
Name: 23642, dtype: object
23643 1383 11 ORtg Last Month    125.727
Name: 23643, dtype: object
23644 296 7 ORtg Last Month    42.2857
Name: 23644, dtype: object
23645 1301 11 ORtg Last Month    118.273
Name: 23645, dtype: object
23646 1284 11 ORtg Last Month    116.727
Name: 23646, dtype: object
23647 1194 11 ORtg Last Month    108.545
Name: 23647, dtype: object
23648 343 11 ORtg Last Month    31.1818
Name: 23648, dtype: object
23649 1042 10 ORtg Last Month    104.2
Name: 23649, dtype: object
23650 0 0 ORtg Last Month    0
Name: 23650, dtype: object
23651 383 10 ORtg Last Month    38.3
Name: 23651, dtype: object
23652 1143 10 ORtg Last Month    114.3
Name: 23652, dtype: object
23653 1067 10 ORtg Last Month    106.7
Name: 23653, dtype: object
23654 1203 10 ORtg Last Month    120.3
Name: 23654, dtype: object
23655 987 10 ORtg Last Month    98.7
Name: 23655, dtype: object
23656 1163 10 ORtg Last Month    116.3
Name: 23656, dtype: object
23657 0 10 ORtg Last Month    0
Name: 23657, dtype: object
23658 1267 10 ORtg Last Month    126.7
Name: 23658, dtype: object
23659 1215 10 ORtg Last Month    121.5
Name: 23659, dtype: object
23660 0 10 ORtg Last Month    0
Name: 23660, dtype: object
23661 1371 11 ORtg Last Month    124.636
Name: 23661, dtype: object
23662 1101 9 ORtg Last Month    122.333
Name: 23662, dtype: object
23663 618 11 ORtg Last Month    56.1818
Name: 23663, dtype: object
23664 1379 11 ORtg Last Month    125.364
Name: 23664, dtype: object
23665 1040 11 ORtg Last Month    94.5455
Name: 23665, dtype: object
23666 533 11 ORtg Last Month    48.4545
Name: 23666, dtype: object
23667 604 11 ORtg Last Month    54.9091
Name: 23667, dtype: object
23668 1127 11 ORtg Last Month    102.455
Name: 23668, dtype: object
23669 1234 11 ORtg Last Month    112.182
Name: 23669, dtype: object
23670 1346 11 ORtg Last Month    122.364
Name: 23670, dtype: object
23671 0 11 ORtg Last Month    0
Name: 23671, dtype: object
23672 954 10 ORtg Last Month    95.4
Name: 23672, dtype: object
23673 1579 12 ORtg Last Month    131.583
Name: 23673, dtype: object
23674 1565 12 ORtg Last Month    130.417
Name: 23674, dtype: object
23675 535 11 ORtg Last Month    48.6364
Name: 23675, dtype: object
23676 0 3 ORtg Last Month    0
Name: 23676, dtype: object
23677 1114 10 ORtg Last Month    111.4
Name: 23677, dtype: object
23678 1075 12 ORtg Last Month    89.5833
Name: 23678, dtype: object
23679 1463 12 ORtg Last Month    121.917
Name: 23679, dtype: object
23680 1333 12 ORtg Last Month    111.083
Name: 23680, dtype: object
23681 1098 12 ORtg Last Month    91.5
Name: 23681, dtype: object
23682 1138 11 ORtg Last Month    103.455
Name: 23682, dtype: object
23683 1207 11 ORtg Last Month    109.727
Name: 23683, dtype: object
23684 1206 11 ORtg Last Month    109.636
Name: 23684, dtype: object
23685 1174 11 ORtg Last Month    106.727
Name: 23685, dtype: object
23686 1586 11 ORtg Last Month    144.182
Name: 23686, dtype: object
23687 1027 11 ORtg Last Month    93.3636
Name: 23687, dtype: object
23688 300 3 ORtg Last Month    100
Name: 23688, dtype: object
23689 790 7 ORtg Last Month    112.857
Name: 23689, dtype: object
23690 138 11 ORtg Last Month    12.5455
Name: 23690, dtype: object
23691 1297 12 ORtg Last Month    108.083
Name: 23691, dtype: object
23692 1042 10 ORtg Last Month    104.2
Name: 23692, dtype: object
23693 971 12 ORtg Last Month    80.9167
Name: 23693, dtype: object
23694 782 11 ORtg Last Month    71.0909
Name: 23694, dtype: object
23695 1170 12 ORtg Last Month    97.5
Name: 23695, dtype: object
23696 948 12 ORtg Last Month    79
Name: 23696, dtype: object
23697 542 12 ORtg Last Month    45.1667
Name: 23697, dtype: object
23698 995 12 ORtg Last Month    82.9167
Name: 23698, dtype: object
23699 1755 12 ORtg Last Month    146.25
Name: 23699, dtype: object
23700 1047 12 ORtg Last Month    87.25
Name: 23700, dtype: object
23701 1065 9 ORtg Last Month    118.333
Name: 23701, dtype: object
23702 847 10 ORtg Last Month    84.7
Name: 23702, dtype: object
23703 1024 10 ORtg Last Month    102.4
Name: 23703, dtype: object
23704 1041 10 ORtg Last Month    104.1
Name: 23704, dtype: object
23705 853 8 ORtg Last Month    106.625
Name: 23705, dtype: object

23706 1255 10 ORtg Last Month    125.5
Name: 23706, dtype: object
23707 771 9 ORtg Last Month    85.6667
Name: 23707, dtype: object
23708 1043 10 ORtg Last Month    104.3
Name: 23708, dtype: object
23709 578 10 ORtg Last Month    57.8
Name: 23709, dtype: object
23710 299 10 ORtg Last Month    29.9
Name: 23710, dtype: object
23711 141 10 ORtg Last Month    14.1
Name: 23711, dtype: object
23712 1187 10 ORtg Last Month    118.7
Name: 23712, dtype: object
23713 1130 10 ORtg Last Month    113
Name: 23713, dtype: object
23714 1247 10 ORtg Last Month    124.7
Name: 23714, dtype: object
23715 0 3 ORtg Last Month    0
Name: 23715, dtype: object
23716 1293 11 ORtg Last Month    117.545
Name: 23716, dtype: object
23717 1162 11 ORtg Last Month    105.636
Name: 23717, dtype: object
23718 377 11 ORtg Last Month    34.2727
Name: 23718, dtype: object
23719 1240 11 ORtg Last Month    112.727
Name: 23719, dtype: object
23720 1242 11 ORtg Last Month    112.909
Name: 23720, dtype: object
23721 1425 11 ORtg Last Month    129.545
Name: 23721, dtype: object
23722 0 3 ORtg Last Month    0
Name: 23722, dtype: object
23723 793 9 ORtg Last Month    88.1111
Name: 23723, dtype: object
23724 703 6 ORtg Last Month    117.167
Name: 23724, dtype: object
23725 1044 11 ORtg Last Month    94.9091
Name: 23725, dtype: object
23726 1111 11 ORtg Last Month    101
Name: 23726, dtype: object
23727 1338 11 ORtg Last Month    121.636
Name: 23727, dtype: object
23728 709 11 ORtg Last Month    64.4545
Name: 23728, dtype: object
23729 1229 11 ORtg Last Month    111.727
Name: 23729, dtype: object
23730 1312 11 ORtg Last Month    119.273
Name: 23730, dtype: object
23731 131 2 ORtg Last Month    65.5
Name: 23731, dtype: object
23732 1102 11 ORtg Last Month    100.182
Name: 23732, dtype: object
23733 477 11 ORtg Last Month    43.3636
Name: 23733, dtype: object
23734 1317 11 ORtg Last Month    119.727
Name: 23734, dtype: object
23735 1232 11 ORtg Last Month    112
Name: 23735, dtype: object
23736 875 11 ORtg Last Month    79.5455
Name: 23736, dtype: object
23737 561 9 ORtg Last Month    62.3333
Name: 23737, dtype: object
23738 0 0 ORtg Last Month    0
Name: 23738, dtype: object
23739 122 4 ORtg Last Month    30.5
Name: 23739, dtype: object
23740 1267 11 ORtg Last Month    115.182
Name: 23740, dtype: object
23741 966 11 ORtg Last Month    87.8182
Name: 23741, dtype: object
23742 995 9 ORtg Last Month    110.556
Name: 23742, dtype: object
23743 1060 11 ORtg Last Month    96.3636
Name: 23743, dtype: object
23744 880 10 ORtg Last Month    88
Name: 23744, dtype: object
23745 1363 11 ORtg Last Month    123.909
Name: 23745, dtype: object
23746 513 11 ORtg Last Month    46.6364
Name: 23746, dtype: object
23747 260 4 ORtg Last Month    65
Name: 23747, dtype: object
23748 581 10 ORtg Last Month    58.1
Name: 23748, dtype: object
23749 1238 12 ORtg Last Month    103.167
Name: 23749, dtype: object
23750 1452 11 ORtg Last Month    132
Name: 23750, dtype: object
23751 348 6 ORtg Last Month    58
Name: 23751, dtype: object
23752 1360 11 ORtg Last Month    123.636
Name: 23752, dtype: object
23753 1289 12 ORtg Last Month    107.417
Name: 23753, dtype: object
23754 1171 12 ORtg Last Month    97.5833
Name: 23754, dtype: object
23755 1225 12 ORtg Last Month    102.083
Name: 23755, dtype: object
23756 362 3 ORtg Last Month    120.667
Name: 23756, dtype: object
23757 1305 12 ORtg Last Month    108.75
Name: 23757, dtype: object
23758 1117 10 ORtg Last Month    111.7
Name: 23758, dtype: object
23759 1541 12 ORtg Last Month    128.417
Name: 23759, dtype: object
23760 138 12 ORtg Last Month    11.5
Name: 23760, dtype: object
23761 251 9 ORtg Last Month    27.8889
Name: 23761, dtype: object
23762 1257 10 ORtg Last Month    125.7
Name: 23762, dtype: object
23763 433 5 ORtg Last Month    86.6
Name: 23763, dtype: object
23764 621 12 ORtg Last Month    51.75
Name: 23764, dtype: object
23765 1312 12 ORtg Last Month    109.333
Name: 23765, dtype: object
23766 1019 12 ORtg Last Month    84.9167
Name: 23766, dtype: object
23767 0 1 ORtg Last Month    0
Name: 23767, dtype: object
23768 1371 12 ORtg Last Month    114.25
Name: 23768, dtype: object
23769 1132 12 ORtg Last Month    94.3333
Name: 23769, dtype: object
23770 1352 12 ORtg Last Month    112.667
Name: 23770, dtype: object
23771 1206 9 ORtg Last Month    134
Name: 23771, dtype: object
23772 1581 12 ORtg Last Month    131.75
Name: 23772, dtype: object
23773 499 10 ORtg Last Month    49.9
Name: 23773, dtype: object
23774 1080 10 ORtg Last Month    108
Name: 23774, dtype: object
23775 1219 12 ORtg Last Month    101.583
Name: 23775, dtype: object
23776 557 12 ORtg Last Month    46.4167
Name: 23776, dtype: object
23777 54 1 ORtg Last Month    54
Name: 23777, dtype: object
23778 1083 10 ORtg Last Month    108.3
Name: 23778, dtype: object
23779 1114 12 ORtg Last Month    92.8333
Name: 23779, dtype: object
23780 0 5 ORtg Last Month    0
Name: 23780, dtype: object
23781 540 12 ORtg Last Month    45
Name: 23781, dtype: object
23782 174 11 ORtg Last Month    15.8182
Name: 23782, dtype: object
23783 937 9 ORtg Last Month    104.111
Name: 23783, dtype: object
23784 1339 12 ORtg Last Month    111.583
Name: 23784, dtype: object
23785 1252 12 ORtg Last Month    104.333
Name: 23785, dtype: object
23786 1024 11 ORtg Last Month    93.0909
Name: 23786, dtype: object
23787 744 9 ORtg Last Month    82.6667
Name: 23787, dtype: object
23788 1395 12 ORtg Last Month    116.25
Name: 23788, dtype: object
23789 766 12 ORtg Last Month    63.8333
Name: 23789, dtype: object
23790 1322 12 ORtg Last Month    110.167
Name: 23790, dtype: object
23791 1103 12 ORtg Last Month    91.9167
Name: 23791, dtype: object
23792 1004 12 ORtg Last Month    83.6667
Name: 23792, dtype: object
23793 918 7 ORtg Last Month    131.143
Name: 23793, dtype: object
23794 1239 11 ORtg Last Month    112.636
Name: 23794, dtype: object
23795 1656 12 ORtg Last Month    138
Name: 23795, dtype: object
23796 532 12 ORtg Last Month    44.3333
Name: 23796, dtype: object
23797 446 9 ORtg Last Month    49.5556
Name: 23797, dtype: object
23798 1265 12 ORtg Last Month    105.417
Name: 23798, dtype: object
23799 1421 12 ORtg Last Month    118.417
Name: 23799, dtype: object
23800 1229 12 ORtg Last Month    102.417
Name: 23800, dtype: object
23801 1439 12 ORtg Last Month    119.917
Name: 23801, dtype: object
23802 629 12 ORtg Last Month    52.4167
Name: 23802, dtype: object
23803 1312 12 ORtg Last Month    109.333
Name: 23803, dtype: object
23804 951 12 ORtg Last Month    79.25
Name: 23804, dtype: object
23805 0 0 ORtg Last Month    0
Name: 23805, dtype: object
23806 496 4 ORtg Last Month    124
Name: 23806, dtype: object
23807 759 6 ORtg Last Month    126.5
Name: 23807, dtype: object
23808 843 11 ORtg Last Month    76.6364
Name: 23808, dtype: object
23809 489 12 ORtg Last Month    40.75
Name: 23809, dtype: object
23810 523 6 ORtg Last Month    87.1667
Name: 23810, dtype: object
23811 1551 12 ORtg Last Month    129.25
Name: 23811, dtype: object
23812 1138 12 ORtg Last Month    94.8333
Name: 23812, dtype: object
23813 1352 12 ORtg Last Month    112.667
Name: 23813, dtype: object
23814 1391 12 ORtg Last Month    115.917
Name: 23814, dtype: object
23815 1418 12 ORtg Last Month    118.167
Name: 23815, dtype: object
23816 339 5 ORtg Last Month    67.8
Name: 23816, dtype: object
23817 1474 12 ORtg Last Month    122.833
Name: 23817, dtype: object
23818 837 8 ORtg Last Month    104.625
Name: 23818, dtype: object
23819 797 12 ORtg Last Month    66.4167
Name: 23819, dtype: object
23820 593 10 ORtg Last Month    59.3
Name: 23820, dtype: object
23821 0 11 ORtg Last Month    0
Name: 23821, dtype: object
23822 721 8 ORtg Last Month    90.125
Name: 23822, dtype: object
23823 1128 9 ORtg Last Month    125.333
Name: 23823, dtype: object
23824 918 9 ORtg Last Month    102
Name: 23824, dtype: object
23825 0 4 ORtg Last Month    0
Name: 23825, dtype: object
23826 999 9 ORtg Last Month    111
Name: 23826, dtype: object
23827 936 9 ORtg Last Month    104
Name: 23827, dtype: object
23828 887 9 ORtg Last Month    98.5556
Name: 23828, dtype: object
23829 147 9 ORtg Last Month    16.3333
Name: 23829, dtype: object
23830 242 9 ORtg Last Month    26.8889
Name: 23830, dtype: object

23831 1046 9 ORtg Last Month    116.222
Name: 23831, dtype: object
23832 964 8 ORtg Last Month    120.5
Name: 23832, dtype: object
23833 457 5 ORtg Last Month    91.4
Name: 23833, dtype: object
23834 200 7 ORtg Last Month    28.5714
Name: 23834, dtype: object
23835 1383 12 ORtg Last Month    115.25
Name: 23835, dtype: object
23836 1009 10 ORtg Last Month    100.9
Name: 23836, dtype: object
23837 972 10 ORtg Last Month    97.2
Name: 23837, dtype: object
23838 1438 12 ORtg Last Month    119.833
Name: 23838, dtype: object
23839 251 12 ORtg Last Month    20.9167
Name: 23839, dtype: object
23840 1052 12 ORtg Last Month    87.6667
Name: 23840, dtype: object
23841 268 6 ORtg Last Month    44.6667
Name: 23841, dtype: object
23842 1123 9 ORtg Last Month    124.778
Name: 23842, dtype: object
23843 1224 12 ORtg Last Month    102
Name: 23843, dtype: object
23844 1285 10 ORtg Last Month    128.5
Name: 23844, dtype: object
23845 58 2 ORtg Last Month    29
Name: 23845, dtype: object
23846 693 6 ORtg Last Month    115.5
Name: 23846, dtype: object
23847 1282 12 ORtg Last Month    106.833
Name: 23847, dtype: object
23848 992 12 ORtg Last Month    82.6667
Name: 23848, dtype: object
23849 1020 11 ORtg Last Month    92.7273
Name: 23849, dtype: object
23850 1548 12 ORtg Last Month    129
Name: 23850, dtype: object
23851 1231 11 ORtg Last Month    111.909
Name: 23851, dtype: object
23852 1176 12 ORtg Last Month    98
Name: 23852, dtype: object
23853 271 10 ORtg Last Month    27.1
Name: 23853, dtype: object
23854 26 4 ORtg Last Month    6.5
Name: 23854, dtype: object
23855 1329 12 ORtg Last Month    110.75
Name: 23855, dtype: object
23856 1572 12 ORtg Last Month    131
Name: 23856, dtype: object
23857 636 12 ORtg Last Month    53
Name: 23857, dtype: object
23858 1428 12 ORtg Last Month    119
Name: 23858, dtype: object
23859 1294 12 ORtg Last Month    107.833
Name: 23859, dtype: object
23860 255 11 ORtg Last Month    23.1818
Name: 23860, dtype: object
23861 186 2 ORtg Last Month    93
Name: 23861, dtype: object
23862 1512 12 ORtg Last Month    126
Name: 23862, dtype: object
23863 1262 12 ORtg Last Month    105.167
Name: 23863, dtype: object
23864 1147 11 ORtg Last Month    104.273
Name: 23864, dtype: object
23865 1377 12 ORtg Last Month    114.75
Name: 23865, dtype: object
23866 1156 12 ORtg Last Month    96.3333
Name: 23866, dtype: object
23867 1555 12 ORtg Last Month    129.583
Name: 23867, dtype: object
23868 861 10 ORtg Last Month    86.1
Name: 23868, dtype: object
23869 1059 9 ORtg Last Month    117.667
Name: 23869, dtype: object
23870 1154 11 ORtg Last Month    104.909
Name: 23870, dtype: object
23871 930 9 ORtg Last Month    103.333
Name: 23871, dtype: object
23872 760 11 ORtg Last Month    69.0909
Name: 23872, dtype: object
23873 1249 9 ORtg Last Month    138.778
Name: 23873, dtype: object
23874 1193 11 ORtg Last Month    108.455
Name: 23874, dtype: object
23875 422 9 ORtg Last Month    46.8889
Name: 23875, dtype: object
23876 803 11 ORtg Last Month    73
Name: 23876, dtype: object
23877 925 9 ORtg Last Month    102.778
Name: 23877, dtype: object
23878 1160 9 ORtg Last Month    128.889
Name: 23878, dtype: object
23879 1234 11 ORtg Last Month    112.182
Name: 23879, dtype: object
23880 829 10 ORtg Last Month    82.9
Name: 23880, dtype: object
23881 1189 11 ORtg Last Month    108.091
Name: 23881, dtype: object
23882 1410 12 ORtg Last Month    117.5
Name: 23882, dtype: object
23883 1197 11 ORtg Last Month    108.818
Name: 23883, dtype: object
23884 1285 11 ORtg Last Month    116.818
Name: 23884, dtype: object
23885 589 7 ORtg Last Month    84.1429
Name: 23885, dtype: object
23886 1624 12 ORtg Last Month    135.333
Name: 23886, dtype: object
23887 1160 12 ORtg Last Month    96.6667
Name: 23887, dtype: object
23888 0 0 ORtg Last Month    0
Name: 23888, dtype: object
23889 1263 10 ORtg Last Month    126.3
Name: 23889, dtype: object
23890 993 7 ORtg Last Month    141.857
Name: 23890, dtype: object
23891 654 12 ORtg Last Month    54.5
Name: 23891, dtype: object
23892 43 7 ORtg Last Month    6.14286
Name: 23892, dtype: object
23893 1077 11 ORtg Last Month    97.9091
Name: 23893, dtype: object
23894 1177 11 ORtg Last Month    107
Name: 23894, dtype: object
23895 616 11 ORtg Last Month    56
Name: 23895, dtype: object
23896 1177 11 ORtg Last Month    107
Name: 23896, dtype: object
23897 822 11 ORtg Last Month    74.7273
Name: 23897, dtype: object
23898 921 11 ORtg Last Month    83.7273
Name: 23898, dtype: object
23899 562 9 ORtg Last Month    62.4444
Name: 23899, dtype: object
23900 1178 11 ORtg Last Month    107.091
Name: 23900, dtype: object
23901 1322 11 ORtg Last Month    120.182
Name: 23901, dtype: object
23902 1247 10 ORtg Last Month    124.7
Name: 23902, dtype: object
23903 1191 10 ORtg Last Month    119.1
Name: 23903, dtype: object
23904 1092 10 ORtg Last Month    109.2
Name: 23904, dtype: object
23905 657 6 ORtg Last Month    109.5
Name: 23905, dtype: object
23906 1176 12 ORtg Last Month    98
Name: 23906, dtype: object
23907 1400 12 ORtg Last Month    116.667
Name: 23907, dtype: object
23908 1198 12 ORtg Last Month    99.8333
Name: 23908, dtype: object
23909 932 10 ORtg Last Month    93.2
Name: 23909, dtype: object
23910 0 12 ORtg Last Month    0
Name: 23910, dtype: object
23911 1536 11 ORtg Last Month    139.636
Name: 23911, dtype: object
23912 357 8 ORtg Last Month    44.625
Name: 23912, dtype: object
23913 977 9 ORtg Last Month    108.556
Name: 23913, dtype: object
23914 1521 12 ORtg Last Month    126.75
Name: 23914, dtype: object
23915 1430 12 ORtg Last Month    119.167
Name: 23915, dtype: object
23916 256 12 ORtg Last Month    21.3333
Name: 23916, dtype: object
23917 1290 12 ORtg Last Month    107.5
Name: 23917, dtype: object
23918 969 10 ORtg Last Month    96.9
Name: 23918, dtype: object
23919 332 8 ORtg Last Month    41.5
Name: 23919, dtype: object
23920 1049 12 ORtg Last Month    87.4167
Name: 23920, dtype: object
23921 946 11 ORtg Last Month    86
Name: 23921, dtype: object
23922 1262 10 ORtg Last Month    126.2
Name: 23922, dtype: object
23923 1293 12 ORtg Last Month    107.75
Name: 23923, dtype: object
23924 1334 12 ORtg Last Month    111.167
Name: 23924, dtype: object
23925 0 8 ORtg Last Month    0
Name: 23925, dtype: object
23926 1307 12 ORtg Last Month    108.917
Name: 23926, dtype: object
23927 1372 12 ORtg Last Month    114.333
Name: 23927, dtype: object
23928 104 12 ORtg Last Month    8.66667
Name: 23928, dtype: object
23929 1290 11 ORtg Last Month    117.273
Name: 23929, dtype: object
23930 946 11 ORtg Last Month    86
Name: 23930, dtype: object
23931 0 2 ORtg Last Month    0
Name: 23931, dtype: object
23932 1102 11 ORtg Last Month    100.182
Name: 23932, dtype: object
23933 1309 11 ORtg Last Month    119
Name: 23933, dtype: object
23934 1072 11 ORtg Last Month    97.4545
Name: 23934, dtype: object
23935 924 10 ORtg Last Month    92.4
Name: 23935, dtype: object
23936 395 7 ORtg Last Month    56.4286
Name: 23936, dtype: object
23937 1331 11 ORtg Last Month    121
Name: 23937, dtype: object
23938 1718 11 ORtg Last Month    156.182
Name: 23938, dtype: object
23939 735 11 ORtg Last Month    66.8182
Name: 23939, dtype: object
23940 245 11 ORtg Last Month    22.2727
Name: 23940, dtype: object
23941 1066 10 ORtg Last Month    106.6
Name: 23941, dtype: object
23942 1160 10 ORtg Last Month    116
Name: 23942, dtype: object
23943 993 10 ORtg Last Month    99.3
Name: 23943, dtype: object
23944 575 9 ORtg Last Month    63.8889
Name: 23944, dtype: object
23945 253 8 ORtg Last Month    31.625
Name: 23945, dtype: object
23946 950 9 ORtg Last Month    105.556
Name: 23946, dtype: object
23947 1075 10 ORtg Last Month    107.5
Name: 23947, dtype: object
23948 1325 10 ORtg Last Month    132.5
Name: 23948, dtype: object
23949 857 10 ORtg Last Month    85.7
Name: 23949, dtype: object
23950 0 8 ORtg Last Month    0
Name: 23950, dtype: object
23951 1151 10 ORtg Last Month    115.1
Name: 23951, dtype: object
23952 1266 10 ORtg Last Month    126.6
Name: 23952, dtype: object
23953 777 10 ORtg Last Month    77.7
Name: 23953, dtype: object
23954 1034 10 ORtg Last Month    103.4
Name: 23954, dtype: object
23955 716 7 ORtg Last Month    102.286
Name: 23955, dtype: object

23956 407 4 ORtg Last Month    101.75
Name: 23956, dtype: object
23957 31 1 ORtg Last Month    31
Name: 23957, dtype: object
23958 1156 10 ORtg Last Month    115.6
Name: 23958, dtype: object
23959 1041 10 ORtg Last Month    104.1
Name: 23959, dtype: object
23960 1051 10 ORtg Last Month    105.1
Name: 23960, dtype: object
23961 1083 10 ORtg Last Month    108.3
Name: 23961, dtype: object
23962 899 10 ORtg Last Month    89.9
Name: 23962, dtype: object
23963 211 10 ORtg Last Month    21.1
Name: 23963, dtype: object
23964 1251 10 ORtg Last Month    125.1
Name: 23964, dtype: object
23965 1210 10 ORtg Last Month    121
Name: 23965, dtype: object
23966 0 10 ORtg Last Month    0
Name: 23966, dtype: object
23967 1362 11 ORtg Last Month    123.818
Name: 23967, dtype: object
23968 1112 9 ORtg Last Month    123.556
Name: 23968, dtype: object
23969 625 11 ORtg Last Month    56.8182
Name: 23969, dtype: object
23970 1036 11 ORtg Last Month    94.1818
Name: 23970, dtype: object
23971 1316 11 ORtg Last Month    119.636
Name: 23971, dtype: object
23972 416 11 ORtg Last Month    37.8182
Name: 23972, dtype: object
23973 1274 11 ORtg Last Month    115.818
Name: 23973, dtype: object
23974 1126 11 ORtg Last Month    102.364
Name: 23974, dtype: object
23975 1235 11 ORtg Last Month    112.273
Name: 23975, dtype: object
23976 0 11 ORtg Last Month    0
Name: 23976, dtype: object
23977 1019 9 ORtg Last Month    113.222
Name: 23977, dtype: object
23978 1377 12 ORtg Last Month    114.75
Name: 23978, dtype: object
23979 545 11 ORtg Last Month    49.5455
Name: 23979, dtype: object
23980 1105 12 ORtg Last Month    92.0833
Name: 23980, dtype: object
23981 1218 12 ORtg Last Month    101.5
Name: 23981, dtype: object
23982 1099 11 ORtg Last Month    99.9091
Name: 23982, dtype: object
23983 1299 11 ORtg Last Month    118.091
Name: 23983, dtype: object
23984 564 12 ORtg Last Month    47
Name: 23984, dtype: object
23985 1581 12 ORtg Last Month    131.75
Name: 23985, dtype: object
23986 462 5 ORtg Last Month    92.4
Name: 23986, dtype: object
23987 299 9 ORtg Last Month    33.2222
Name: 23987, dtype: object
23988 370 11 ORtg Last Month    33.6364
Name: 23988, dtype: object
23989 1168 11 ORtg Last Month    106.182
Name: 23989, dtype: object
23990 1190 11 ORtg Last Month    108.182
Name: 23990, dtype: object
23991 1183 11 ORtg Last Month    107.545
Name: 23991, dtype: object
23992 1269 11 ORtg Last Month    115.364
Name: 23992, dtype: object
23993 1120 11 ORtg Last Month    101.818
Name: 23993, dtype: object
23994 1618 11 ORtg Last Month    147.091
Name: 23994, dtype: object
23995 300 3 ORtg Last Month    100
Name: 23995, dtype: object
23996 886 8 ORtg Last Month    110.75
Name: 23996, dtype: object
23997 1025 8 ORtg Last Month    128.125
Name: 23997, dtype: object
23998 803 10 ORtg Last Month    80.3
Name: 23998, dtype: object
23999 191 11 ORtg Last Month    17.3636
Name: 23999, dtype: object
24000 886 9 ORtg Last Month    98.4444
Name: 24000, dtype: object
24001 1280 11 ORtg Last Month    116.364
Name: 24001, dtype: object
24002 950 11 ORtg Last Month    86.3636
Name: 24002, dtype: object
24003 562 10 ORtg Last Month    56.2
Name: 24003, dtype: object
24004 1127 11 ORtg Last Month    102.455
Name: 24004, dtype: object
24005 795 11 ORtg Last Month    72.2727
Name: 24005, dtype: object
24006 995 11 ORtg Last Month    90.4545
Name: 24006, dtype: object
24007 506 11 ORtg Last Month    46
Name: 24007, dtype: object
24008 1584 11 ORtg Last Month    144
Name: 24008, dtype: object
24009 981 8 ORtg Last Month    122.625
Name: 24009, dtype: object
24010 1012 11 ORtg Last Month    92
Name: 24010, dtype: object
24011 847 11 ORtg Last Month    77
Name: 24011, dtype: object
24012 1101 10 ORtg Last Month    110.1
Name: 24012, dtype: object
24013 1055 10 ORtg Last Month    105.5
Name: 24013, dtype: object
24014 983 9 ORtg Last Month    109.222
Name: 24014, dtype: object
24015 1225 10 ORtg Last Month    122.5
Name: 24015, dtype: object
24016 771 10 ORtg Last Month    77.1
Name: 24016, dtype: object
24017 1029 10 ORtg Last Month    102.9
Name: 24017, dtype: object
24018 441 10 ORtg Last Month    44.1
Name: 24018, dtype: object
24019 446 10 ORtg Last Month    44.6
Name: 24019, dtype: object
24020 87 1 ORtg Last Month    87
Name: 24020, dtype: object
24021 1177 10 ORtg Last Month    117.7
Name: 24021, dtype: object
24022 1220 10 ORtg Last Month    122
Name: 24022, dtype: object
24023 1245 10 ORtg Last Month    124.5
Name: 24023, dtype: object
24024 209 4 ORtg Last Month    52.25
Name: 24024, dtype: object
24025 1328 11 ORtg Last Month    120.727
Name: 24025, dtype: object
24026 1138 11 ORtg Last Month    103.455
Name: 24026, dtype: object
24027 472 11 ORtg Last Month    42.9091
Name: 24027, dtype: object
24028 1271 11 ORtg Last Month    115.545
Name: 24028, dtype: object
24029 1206 11 ORtg Last Month    109.636
Name: 24029, dtype: object
24030 1382 11 ORtg Last Month    125.636
Name: 24030, dtype: object
24031 660 6 ORtg Last Month    110
Name: 24031, dtype: object
24032 724 9 ORtg Last Month    80.4444
Name: 24032, dtype: object
24033 1044 11 ORtg Last Month    94.9091
Name: 24033, dtype: object
24034 957 11 ORtg Last Month    87
Name: 24034, dtype: object
24035 648 10 ORtg Last Month    64.8
Name: 24035, dtype: object
24036 0 1 ORtg Last Month    0
Name: 24036, dtype: object
24037 122 5 ORtg Last Month    24.4
Name: 24037, dtype: object
24038 1283 11 ORtg Last Month    116.636
Name: 24038, dtype: object
24039 1030 11 ORtg Last Month    93.6364
Name: 24039, dtype: object
24040 966 9 ORtg Last Month    107.333
Name: 24040, dtype: object
24041 1078 11 ORtg Last Month    98
Name: 24041, dtype: object
24042 922 10 ORtg Last Month    92.2
Name: 24042, dtype: object
24043 1347 11 ORtg Last Month    122.455
Name: 24043, dtype: object
24044 485 11 ORtg Last Month    44.0909
Name: 24044, dtype: object
24045 296 5 ORtg Last Month    59.2
Name: 24045, dtype: object
24046 459 10 ORtg Last Month    45.9
Name: 24046, dtype: object
24047 1407 11 ORtg Last Month    127.909
Name: 24047, dtype: object
24048 578 12 ORtg Last Month    48.1667
Name: 24048, dtype: object
24049 581 6 ORtg Last Month    96.8333
Name: 24049, dtype: object
24050 0 1 ORtg Last Month    0
Name: 24050, dtype: object
24051 804 9 ORtg Last Month    89.3333
Name: 24051, dtype: object
24052 1311 12 ORtg Last Month    109.25
Name: 24052, dtype: object
24053 1117 12 ORtg Last Month    93.0833
Name: 24053, dtype: object
24054 1206 12 ORtg Last Month    100.5
Name: 24054, dtype: object
24055 1228 12 ORtg Last Month    102.333
Name: 24055, dtype: object
24056 155 2 ORtg Last Month    77.5
Name: 24056, dtype: object
24057 1199 9 ORtg Last Month    133.222
Name: 24057, dtype: object
24058 1557 12 ORtg Last Month    129.75
Name: 24058, dtype: object
24059 567 10 ORtg Last Month    56.7
Name: 24059, dtype: object
24060 1317 12 ORtg Last Month    109.75
Name: 24060, dtype: object
24061 1048 11 ORtg Last Month    95.2727
Name: 24061, dtype: object
24062 906 12 ORtg Last Month    75.5
Name: 24062, dtype: object
24063 270 8 ORtg Last Month    33.75
Name: 24063, dtype: object
24064 922 11 ORtg Last Month    83.8182
Name: 24064, dtype: object
24065 961 10 ORtg Last Month    96.1
Name: 24065, dtype: object
24066 1369 12 ORtg Last Month    114.083
Name: 24066, dtype: object
24067 1374 11 ORtg Last Month    124.909
Name: 24067, dtype: object
24068 1224 12 ORtg Last Month    102
Name: 24068, dtype: object
24069 0 8 ORtg Last Month    0
Name: 24069, dtype: object
24070 1329 12 ORtg Last Month    110.75
Name: 24070, dtype: object
24071 1444 12 ORtg Last Month    120.333
Name: 24071, dtype: object
24072 67 12 ORtg Last Month    5.58333
Name: 24072, dtype: object
24073 1415 12 ORtg Last Month    117.917
Name: 24073, dtype: object
24074 1063 12 ORtg Last Month    88.5833
Name: 24074, dtype: object
24075 0 3 ORtg Last Month    0
Name: 24075, dtype: object
24076 1200 12 ORtg Last Month    100
Name: 24076, dtype: object
24077 981 11 ORtg Last Month    89.1818
Name: 24077, dtype: object
24078 1168 12 ORtg Last Month    97.3333
Name: 24078, dtype: object
24079 1419 12 ORtg Last Month    118.25
Name: 24079, dtype: object
24080 395 8 ORtg Last Month    49.375
Name: 24080, dtype: object

24081 1433 12 ORtg Last Month    119.417
Name: 24081, dtype: object
24082 1825 12 ORtg Last Month    152.083
Name: 24082, dtype: object
24083 735 12 ORtg Last Month    61.25
Name: 24083, dtype: object
24084 245 12 ORtg Last Month    20.4167
Name: 24084, dtype: object
24085 1085 10 ORtg Last Month    108.5
Name: 24085, dtype: object
24086 556 9 ORtg Last Month    61.7778
Name: 24086, dtype: object
24087 796 10 ORtg Last Month    79.6
Name: 24087, dtype: object
24088 1009 10 ORtg Last Month    100.9
Name: 24088, dtype: object
24089 1107 10 ORtg Last Month    110.7
Name: 24089, dtype: object
24090 790 10 ORtg Last Month    79
Name: 24090, dtype: object
24091 1023 10 ORtg Last Month    102.3
Name: 24091, dtype: object
24092 875 10 ORtg Last Month    87.5
Name: 24092, dtype: object
24093 1163 10 ORtg Last Month    116.3
Name: 24093, dtype: object
24094 590 5 ORtg Last Month    118
Name: 24094, dtype: object
24095 1136 10 ORtg Last Month    113.6
Name: 24095, dtype: object
24096 0 9 ORtg Last Month    0
Name: 24096, dtype: object
24097 0 3 ORtg Last Month    0
Name: 24097, dtype: object
24098 844 10 ORtg Last Month    84.4
Name: 24098, dtype: object
24099 0 1 ORtg Last Month    0
Name: 24099, dtype: object
24100 717 6 ORtg Last Month    119.5
Name: 24100, dtype: object
24101 821 10 ORtg Last Month    82.1
Name: 24101, dtype: object
24102 1250 10 ORtg Last Month    125
Name: 24102, dtype: object
24103 1219 10 ORtg Last Month    121.9
Name: 24103, dtype: object
24104 1160 9 ORtg Last Month    128.889
Name: 24104, dtype: object
24105 369 8 ORtg Last Month    46.125
Name: 24105, dtype: object
24106 1218 10 ORtg Last Month    121.8
Name: 24106, dtype: object
24107 1037 10 ORtg Last Month    103.7
Name: 24107, dtype: object
24108 643 10 ORtg Last Month    64.3
Name: 24108, dtype: object
24109 0 0 ORtg Last Month    0
Name: 24109, dtype: object
24110 1157 11 ORtg Last Month    105.182
Name: 24110, dtype: object
24111 820 8 ORtg Last Month    102.5
Name: 24111, dtype: object
24112 494 5 ORtg Last Month    98.8
Name: 24112, dtype: object
24113 31 2 ORtg Last Month    15.5
Name: 24113, dtype: object
24114 1295 11 ORtg Last Month    117.727
Name: 24114, dtype: object
24115 1139 11 ORtg Last Month    103.545
Name: 24115, dtype: object
24116 991 11 ORtg Last Month    90.0909
Name: 24116, dtype: object
24117 1151 11 ORtg Last Month    104.636
Name: 24117, dtype: object
24118 272 11 ORtg Last Month    24.7273
Name: 24118, dtype: object
24119 1211 11 ORtg Last Month    110.091
Name: 24119, dtype: object
24120 1345 11 ORtg Last Month    122.273
Name: 24120, dtype: object
24121 1381 11 ORtg Last Month    125.545
Name: 24121, dtype: object
24122 209 11 ORtg Last Month    19
Name: 24122, dtype: object
24123 1100 10 ORtg Last Month    110
Name: 24123, dtype: object
24124 1019 10 ORtg Last Month    101.9
Name: 24124, dtype: object
24125 625 11 ORtg Last Month    56.8182
Name: 24125, dtype: object
24126 1615 12 ORtg Last Month    134.583
Name: 24126, dtype: object
24127 1621 12 ORtg Last Month    135.083
Name: 24127, dtype: object
24128 1147 12 ORtg Last Month    95.5833
Name: 24128, dtype: object
24129 1118 10 ORtg Last Month    111.8
Name: 24129, dtype: object
24130 1495 12 ORtg Last Month    124.583
Name: 24130, dtype: object
24131 1306 12 ORtg Last Month    108.833
Name: 24131, dtype: object
24132 1211 12 ORtg Last Month    100.917
Name: 24132, dtype: object
24133 1144 11 ORtg Last Month    104
Name: 24133, dtype: object
24134 715 8 ORtg Last Month    89.375
Name: 24134, dtype: object
24135 261 3 ORtg Last Month    87
Name: 24135, dtype: object
24136 529 10 ORtg Last Month    52.9
Name: 24136, dtype: object
24137 1220 11 ORtg Last Month    110.909
Name: 24137, dtype: object
24138 1148 10 ORtg Last Month    114.8
Name: 24138, dtype: object
24139 320 5 ORtg Last Month    64
Name: 24139, dtype: object
24140 1106 10 ORtg Last Month    110.6
Name: 24140, dtype: object
24141 1197 11 ORtg Last Month    108.818
Name: 24141, dtype: object
24142 693 8 ORtg Last Month    86.625
Name: 24142, dtype: object
24143 1052 9 ORtg Last Month    116.889
Name: 24143, dtype: object
24144 854 10 ORtg Last Month    85.4
Name: 24144, dtype: object
24145 1376 12 ORtg Last Month    114.667
Name: 24145, dtype: object
24146 1350 12 ORtg Last Month    112.5
Name: 24146, dtype: object
24147 334 5 ORtg Last Month    66.8
Name: 24147, dtype: object
24148 282 11 ORtg Last Month    25.6364
Name: 24148, dtype: object
24149 1328 12 ORtg Last Month    110.667
Name: 24149, dtype: object
24150 1432 12 ORtg Last Month    119.333
Name: 24150, dtype: object
24151 1066 11 ORtg Last Month    96.9091
Name: 24151, dtype: object
24152 1479 12 ORtg Last Month    123.25
Name: 24152, dtype: object
24153 1338 12 ORtg Last Month    111.5
Name: 24153, dtype: object
24154 756 10 ORtg Last Month    75.6
Name: 24154, dtype: object
24155 1149 12 ORtg Last Month    95.75
Name: 24155, dtype: object
24156 1191 11 ORtg Last Month    108.273
Name: 24156, dtype: object
24157 1130 11 ORtg Last Month    102.727
Name: 24157, dtype: object
24158 1283 11 ORtg Last Month    116.636
Name: 24158, dtype: object
24159 0 1 ORtg Last Month    0
Name: 24159, dtype: object
24160 1591 12 ORtg Last Month    132.583
Name: 24160, dtype: object
24161 559 7 ORtg Last Month    79.8571
Name: 24161, dtype: object
24162 1138 12 ORtg Last Month    94.8333
Name: 24162, dtype: object
24163 1400 11 ORtg Last Month    127.273
Name: 24163, dtype: object
24164 953 7 ORtg Last Month    136.143
Name: 24164, dtype: object
24165 985 10 ORtg Last Month    98.5
Name: 24165, dtype: object
24166 654 12 ORtg Last Month    54.5
Name: 24166, dtype: object
24167 1134 11 ORtg Last Month    103.091
Name: 24167, dtype: object
24168 1284 11 ORtg Last Month    116.727
Name: 24168, dtype: object
24169 777 11 ORtg Last Month    70.6364
Name: 24169, dtype: object
24170 1284 10 ORtg Last Month    128.4
Name: 24170, dtype: object
24171 1303 11 ORtg Last Month    118.455
Name: 24171, dtype: object
24172 1146 11 ORtg Last Month    104.182
Name: 24172, dtype: object
24173 283 3 ORtg Last Month    94.3333
Name: 24173, dtype: object
24174 1164 11 ORtg Last Month    105.818
Name: 24174, dtype: object
24175 477 11 ORtg Last Month    43.3636
Name: 24175, dtype: object
24176 1301 11 ORtg Last Month    118.273
Name: 24176, dtype: object
24177 1285 11 ORtg Last Month    116.818
Name: 24177, dtype: object
24178 965 11 ORtg Last Month    87.7273
Name: 24178, dtype: object
24179 813 11 ORtg Last Month    73.9091
Name: 24179, dtype: object
24180 122 6 ORtg Last Month    20.3333
Name: 24180, dtype: object
24181 19 2 ORtg Last Month    9.5
Name: 24181, dtype: object
24182 935 9 ORtg Last Month    103.889
Name: 24182, dtype: object
24183 981 11 ORtg Last Month    89.1818
Name: 24183, dtype: object
24184 1039 11 ORtg Last Month    94.4545
Name: 24184, dtype: object
24185 285 5 ORtg Last Month    57
Name: 24185, dtype: object
24186 1035 11 ORtg Last Month    94.0909
Name: 24186, dtype: object
24187 1356 11 ORtg Last Month    123.273
Name: 24187, dtype: object
24188 296 6 ORtg Last Month    49.3333
Name: 24188, dtype: object
24189 459 10 ORtg Last Month    45.9
Name: 24189, dtype: object
24190 485 11 ORtg Last Month    44.0909
Name: 24190, dtype: object
24191 1172 10 ORtg Last Month    117.2
Name: 24191, dtype: object
24192 778 7 ORtg Last Month    111.143
Name: 24192, dtype: object
24193 1187 12 ORtg Last Month    98.9167
Name: 24193, dtype: object
24194 1440 12 ORtg Last Month    120
Name: 24194, dtype: object
24195 1200 12 ORtg Last Month    100
Name: 24195, dtype: object
24196 1053 11 ORtg Last Month    95.7273
Name: 24196, dtype: object
24197 1469 11 ORtg Last Month    133.545
Name: 24197, dtype: object
24198 231 8 ORtg Last Month    28.875
Name: 24198, dtype: object
24199 108 12 ORtg Last Month    9
Name: 24199, dtype: object
24200 1015 9 ORtg Last Month    112.778
Name: 24200, dtype: object
24201 1639 12 ORtg Last Month    136.583
Name: 24201, dtype: object
24202 1516 12 ORtg Last Month    126.333
Name: 24202, dtype: object
24203 256 12 ORtg Last Month    21.3333
Name: 24203, dtype: object
24204 1205 12 ORtg Last Month    100.417
Name: 24204, dtype: object
24205 1424 11 ORtg Last Month    129.455
Name: 24205, dtype: object

24206 257 6 ORtg Last Month    42.8333
Name: 24206, dtype: object
24207 1349 11 ORtg Last Month    122.636
Name: 24207, dtype: object
24208 1300 12 ORtg Last Month    108.333
Name: 24208, dtype: object
24209 1089 12 ORtg Last Month    90.75
Name: 24209, dtype: object
24210 1261 12 ORtg Last Month    105.083
Name: 24210, dtype: object
24211 662 4 ORtg Last Month    165.5
Name: 24211, dtype: object
24212 1230 11 ORtg Last Month    111.818
Name: 24212, dtype: object
24213 1511 12 ORtg Last Month    125.917
Name: 24213, dtype: object
24214 1358 12 ORtg Last Month    113.167
Name: 24214, dtype: object
24215 138 12 ORtg Last Month    11.5
Name: 24215, dtype: object
24216 251 9 ORtg Last Month    27.8889
Name: 24216, dtype: object
24217 1181 11 ORtg Last Month    107.364
Name: 24217, dtype: object
24218 1226 12 ORtg Last Month    102.167
Name: 24218, dtype: object
24219 641 12 ORtg Last Month    53.4167
Name: 24219, dtype: object
24220 88 2 ORtg Last Month    44
Name: 24220, dtype: object
24221 1147 10 ORtg Last Month    114.7
Name: 24221, dtype: object
24222 1163 12 ORtg Last Month    96.9167
Name: 24222, dtype: object
24223 19 6 ORtg Last Month    3.16667
Name: 24223, dtype: object
24224 725 12 ORtg Last Month    60.4167
Name: 24224, dtype: object
24225 174 11 ORtg Last Month    15.8182
Name: 24225, dtype: object
24226 1334 12 ORtg Last Month    111.167
Name: 24226, dtype: object
24227 933 11 ORtg Last Month    84.8182
Name: 24227, dtype: object
24228 1381 12 ORtg Last Month    115.083
Name: 24228, dtype: object
24229 223 2 ORtg Last Month    111.5
Name: 24229, dtype: object
24230 876 10 ORtg Last Month    87.6
Name: 24230, dtype: object
24231 1375 12 ORtg Last Month    114.583
Name: 24231, dtype: object
24232 701 12 ORtg Last Month    58.4167
Name: 24232, dtype: object
24233 1298 12 ORtg Last Month    108.167
Name: 24233, dtype: object
24234 1186 12 ORtg Last Month    98.8333
Name: 24234, dtype: object
24235 1053 12 ORtg Last Month    87.75
Name: 24235, dtype: object
24236 40 3 ORtg Last Month    13.3333
Name: 24236, dtype: object
24237 904 7 ORtg Last Month    129.143
Name: 24237, dtype: object
24238 1665 12 ORtg Last Month    138.75
Name: 24238, dtype: object
24239 1278 11 ORtg Last Month    116.182
Name: 24239, dtype: object
24240 431 12 ORtg Last Month    35.9167
Name: 24240, dtype: object
24241 446 10 ORtg Last Month    44.6
Name: 24241, dtype: object
24242 1213 11 ORtg Last Month    110.273
Name: 24242, dtype: object
24243 1175 11 ORtg Last Month    106.818
Name: 24243, dtype: object
24244 1206 10 ORtg Last Month    120.6
Name: 24244, dtype: object
24245 1292 11 ORtg Last Month    117.455
Name: 24245, dtype: object
24246 1079 11 ORtg Last Month    98.0909
Name: 24246, dtype: object
24247 1064 11 ORtg Last Month    96.7273
Name: 24247, dtype: object
24248 753 11 ORtg Last Month    68.4545
Name: 24248, dtype: object
24249 629 11 ORtg Last Month    57.1818
Name: 24249, dtype: object
24250 331 3 ORtg Last Month    110.333
Name: 24250, dtype: object
24251 609 5 ORtg Last Month    121.8
Name: 24251, dtype: object
24252 489 11 ORtg Last Month    44.4545
Name: 24252, dtype: object
24253 843 10 ORtg Last Month    84.3
Name: 24253, dtype: object
24254 1168 11 ORtg Last Month    106.182
Name: 24254, dtype: object
24255 1195 11 ORtg Last Month    108.636
Name: 24255, dtype: object
24256 681 10 ORtg Last Month    68.1
Name: 24256, dtype: object
24257 1257 11 ORtg Last Month    114.273
Name: 24257, dtype: object
24258 1172 11 ORtg Last Month    106.545
Name: 24258, dtype: object
24259 946 11 ORtg Last Month    86
Name: 24259, dtype: object
24260 1398 11 ORtg Last Month    127.091
Name: 24260, dtype: object
24261 0 9 ORtg Last Month    0
Name: 24261, dtype: object
24262 1306 11 ORtg Last Month    118.727
Name: 24262, dtype: object
24263 1273 11 ORtg Last Month    115.727
Name: 24263, dtype: object
24264 1053 11 ORtg Last Month    95.7273
Name: 24264, dtype: object
24265 1469 11 ORtg Last Month    133.545
Name: 24265, dtype: object
24266 1103 11 ORtg Last Month    100.273
Name: 24266, dtype: object
24267 85 4 ORtg Last Month    21.25
Name: 24267, dtype: object
24268 1305 11 ORtg Last Month    118.636
Name: 24268, dtype: object
24269 955 10 ORtg Last Month    95.5
Name: 24269, dtype: object
24270 274 4 ORtg Last Month    68.5
Name: 24270, dtype: object
24271 1248 11 ORtg Last Month    113.455
Name: 24271, dtype: object
24272 1366 11 ORtg Last Month    124.182
Name: 24272, dtype: object
24273 611 11 ORtg Last Month    55.5455
Name: 24273, dtype: object
24274 960 9 ORtg Last Month    106.667
Name: 24274, dtype: object
24275 0 10 ORtg Last Month    0
Name: 24275, dtype: object
24276 432 9 ORtg Last Month    48
Name: 24276, dtype: object
24277 1199 11 ORtg Last Month    109
Name: 24277, dtype: object
24278 796 11 ORtg Last Month    72.3636
Name: 24278, dtype: object
24279 575 10 ORtg Last Month    57.5
Name: 24279, dtype: object
24280 1255 11 ORtg Last Month    114.091
Name: 24280, dtype: object
24281 1147 11 ORtg Last Month    104.273
Name: 24281, dtype: object
24282 1099 11 ORtg Last Month    99.9091
Name: 24282, dtype: object
24283 934 11 ORtg Last Month    84.9091
Name: 24283, dtype: object
24284 854 11 ORtg Last Month    77.6364
Name: 24284, dtype: object
24285 1313 11 ORtg Last Month    119.364
Name: 24285, dtype: object
24286 1229 11 ORtg Last Month    111.727
Name: 24286, dtype: object
24287 717 6 ORtg Last Month    119.5
Name: 24287, dtype: object
24288 0 4 ORtg Last Month    0
Name: 24288, dtype: object
24289 0 10 ORtg Last Month    0
Name: 24289, dtype: object
24290 856 9 ORtg Last Month    95.1111
Name: 24290, dtype: object
24291 825 9 ORtg Last Month    91.6667
Name: 24291, dtype: object
24292 1160 9 ORtg Last Month    128.889
Name: 24292, dtype: object
24293 0 4 ORtg Last Month    0
Name: 24293, dtype: object
24294 1056 9 ORtg Last Month    117.333
Name: 24294, dtype: object
24295 783 7 ORtg Last Month    111.857
Name: 24295, dtype: object
24296 845 9 ORtg Last Month    93.8889
Name: 24296, dtype: object
24297 889 9 ORtg Last Month    98.7778
Name: 24297, dtype: object
24298 242 9 ORtg Last Month    26.8889
Name: 24298, dtype: object
24299 147 9 ORtg Last Month    16.3333
Name: 24299, dtype: object
24300 1127 8 ORtg Last Month    140.875
Name: 24300, dtype: object
24301 1042 9 ORtg Last Month    115.778
Name: 24301, dtype: object
24302 200 8 ORtg Last Month    25
Name: 24302, dtype: object
24303 1332 11 ORtg Last Month    121.091
Name: 24303, dtype: object
24304 1175 10 ORtg Last Month    117.5
Name: 24304, dtype: object
24305 735 11 ORtg Last Month    66.8182
Name: 24305, dtype: object
24306 1114 11 ORtg Last Month    101.273
Name: 24306, dtype: object
24307 1213 11 ORtg Last Month    110.273
Name: 24307, dtype: object
24308 533 10 ORtg Last Month    53.3
Name: 24308, dtype: object
24309 286 11 ORtg Last Month    26
Name: 24309, dtype: object
24310 1285 11 ORtg Last Month    116.818
Name: 24310, dtype: object
24311 1298 11 ORtg Last Month    118
Name: 24311, dtype: object
24312 1083 11 ORtg Last Month    98.4545
Name: 24312, dtype: object
24313 0 11 ORtg Last Month    0
Name: 24313, dtype: object
24314 1155 9 ORtg Last Month    128.333
Name: 24314, dtype: object
24315 1472 12 ORtg Last Month    122.667
Name: 24315, dtype: object
24316 1268 10 ORtg Last Month    126.8
Name: 24316, dtype: object
24317 1405 12 ORtg Last Month    117.083
Name: 24317, dtype: object
24318 1062 10 ORtg Last Month    106.2
Name: 24318, dtype: object
24319 1001 12 ORtg Last Month    83.4167
Name: 24319, dtype: object
24320 1285 12 ORtg Last Month    107.083
Name: 24320, dtype: object
24321 1115 11 ORtg Last Month    101.364
Name: 24321, dtype: object
24322 1133 10 ORtg Last Month    113.3
Name: 24322, dtype: object
24323 1308 11 ORtg Last Month    118.909
Name: 24323, dtype: object
24324 1012 11 ORtg Last Month    92
Name: 24324, dtype: object
24325 1006 10 ORtg Last Month    100.6
Name: 24325, dtype: object
24326 1146 11 ORtg Last Month    104.182
Name: 24326, dtype: object
24327 1401 11 ORtg Last Month    127.364
Name: 24327, dtype: object
24328 570 6 ORtg Last Month    95
Name: 24328, dtype: object
24329 860 9 ORtg Last Month    95.5556
Name: 24329, dtype: object

24330 701 10 ORtg Last Month    70.1
Name: 24330, dtype: object
24331 378 11 ORtg Last Month    34.3636
Name: 24331, dtype: object
24332 1142 11 ORtg Last Month    103.818
Name: 24332, dtype: object
24333 798 7 ORtg Last Month    114
Name: 24333, dtype: object
24334 934 11 ORtg Last Month    84.9091
Name: 24334, dtype: object
24335 1155 11 ORtg Last Month    105
Name: 24335, dtype: object
24336 1166 10 ORtg Last Month    116.6
Name: 24336, dtype: object
24337 26 5 ORtg Last Month    5.2
Name: 24337, dtype: object
24338 517 6 ORtg Last Month    86.1667
Name: 24338, dtype: object
24339 1309 11 ORtg Last Month    119
Name: 24339, dtype: object
24340 396 11 ORtg Last Month    36
Name: 24340, dtype: object
24341 1507 11 ORtg Last Month    137
Name: 24341, dtype: object
24342 1214 11 ORtg Last Month    110.364
Name: 24342, dtype: object
24343 0 0 ORtg Last Month    0
Name: 24343, dtype: object
24344 429 11 ORtg Last Month    39
Name: 24344, dtype: object
24345 1164 11 ORtg Last Month    105.818
Name: 24345, dtype: object
24346 1168 11 ORtg Last Month    106.182
Name: 24346, dtype: object
24347 1221 11 ORtg Last Month    111
Name: 24347, dtype: object
24348 1228 11 ORtg Last Month    111.636
Name: 24348, dtype: object
24349 1067 11 ORtg Last Month    97
Name: 24349, dtype: object
24350 1385 11 ORtg Last Month    125.909
Name: 24350, dtype: object
24351 300 3 ORtg Last Month    100
Name: 24351, dtype: object
24352 1098 9 ORtg Last Month    122
Name: 24352, dtype: object
24353 884 8 ORtg Last Month    110.5
Name: 24353, dtype: object
24354 741 10 ORtg Last Month    74.1
Name: 24354, dtype: object
24355 191 11 ORtg Last Month    17.3636
Name: 24355, dtype: object
24356 1287 11 ORtg Last Month    117
Name: 24356, dtype: object
24357 896 11 ORtg Last Month    81.4545
Name: 24357, dtype: object
24358 546 10 ORtg Last Month    54.6
Name: 24358, dtype: object
24359 1096 11 ORtg Last Month    99.6364
Name: 24359, dtype: object
24360 723 11 ORtg Last Month    65.7273
Name: 24360, dtype: object
24361 324 11 ORtg Last Month    29.4545
Name: 24361, dtype: object
24362 0 2 ORtg Last Month    0
Name: 24362, dtype: object
24363 795 11 ORtg Last Month    72.2727
Name: 24363, dtype: object
24364 991 8 ORtg Last Month    123.875
Name: 24364, dtype: object
24365 1064 11 ORtg Last Month    96.7273
Name: 24365, dtype: object
24366 1571 11 ORtg Last Month    142.818
Name: 24366, dtype: object
24367 682 11 ORtg Last Month    62
Name: 24367, dtype: object
24368 1119 10 ORtg Last Month    111.9
Name: 24368, dtype: object
24369 1069 10 ORtg Last Month    106.9
Name: 24369, dtype: object
24370 1194 10 ORtg Last Month    119.4
Name: 24370, dtype: object
24371 1033 10 ORtg Last Month    103.3
Name: 24371, dtype: object
24372 668 10 ORtg Last Month    66.8
Name: 24372, dtype: object
24373 1054 10 ORtg Last Month    105.4
Name: 24373, dtype: object
24374 538 10 ORtg Last Month    53.8
Name: 24374, dtype: object
24375 586 9 ORtg Last Month    65.1111
Name: 24375, dtype: object
24376 446 10 ORtg Last Month    44.6
Name: 24376, dtype: object
24377 0 1 ORtg Last Month    0
Name: 24377, dtype: object
24378 1222 10 ORtg Last Month    122.2
Name: 24378, dtype: object
24379 1187 10 ORtg Last Month    118.7
Name: 24379, dtype: object
24380 1167 10 ORtg Last Month    116.7
Name: 24380, dtype: object
24381 1045 10 ORtg Last Month    104.5
Name: 24381, dtype: object
24382 984 8 ORtg Last Month    123
Name: 24382, dtype: object
24383 678 10 ORtg Last Month    67.8
Name: 24383, dtype: object
24384 779 9 ORtg Last Month    86.5556
Name: 24384, dtype: object
24385 997 10 ORtg Last Month    99.7
Name: 24385, dtype: object
24386 1168 9 ORtg Last Month    129.778
Name: 24386, dtype: object
24387 612 10 ORtg Last Month    61.2
Name: 24387, dtype: object
24388 331 8 ORtg Last Month    41.375
Name: 24388, dtype: object
24389 987 9 ORtg Last Month    109.667
Name: 24389, dtype: object
24390 1075 10 ORtg Last Month    107.5
Name: 24390, dtype: object
24391 955 9 ORtg Last Month    106.111
Name: 24391, dtype: object
24392 1005 8 ORtg Last Month    125.625
Name: 24392, dtype: object
24393 1328 11 ORtg Last Month    120.727
Name: 24393, dtype: object
24394 1083 11 ORtg Last Month    98.4545
Name: 24394, dtype: object
24395 472 11 ORtg Last Month    42.9091
Name: 24395, dtype: object
24396 1237 11 ORtg Last Month    112.455
Name: 24396, dtype: object
24397 1255 11 ORtg Last Month    114.091
Name: 24397, dtype: object
24398 415 6 ORtg Last Month    69.1667
Name: 24398, dtype: object
24399 1362 11 ORtg Last Month    123.818
Name: 24399, dtype: object
24400 738 9 ORtg Last Month    82
Name: 24400, dtype: object
24401 714 6 ORtg Last Month    119
Name: 24401, dtype: object
24402 1044 11 ORtg Last Month    94.9091
Name: 24402, dtype: object
24403 1099 10 ORtg Last Month    109.9
Name: 24403, dtype: object
24404 986 10 ORtg Last Month    98.6
Name: 24404, dtype: object
24405 562 10 ORtg Last Month    56.2
Name: 24405, dtype: object
24406 1029 10 ORtg Last Month    102.9
Name: 24406, dtype: object
24407 660 10 ORtg Last Month    66
Name: 24407, dtype: object
24408 833 10 ORtg Last Month    83.3
Name: 24408, dtype: object
24409 995 10 ORtg Last Month    99.5
Name: 24409, dtype: object
24410 765 10 ORtg Last Month    76.5
Name: 24410, dtype: object
24411 1024 9 ORtg Last Month    113.778
Name: 24411, dtype: object
24412 1195 10 ORtg Last Month    119.5
Name: 24412, dtype: object
24413 1088 9 ORtg Last Month    120.889
Name: 24413, dtype: object
24414 1321 12 ORtg Last Month    110.083
Name: 24414, dtype: object
24415 1339 13 ORtg Last Month    103
Name: 24415, dtype: object
24416 703 13 ORtg Last Month    54.0769
Name: 24416, dtype: object
24417 88 3 ORtg Last Month    29.3333
Name: 24417, dtype: object
24418 1249 11 ORtg Last Month    113.545
Name: 24418, dtype: object
24419 1266 13 ORtg Last Month    97.3846
Name: 24419, dtype: object
24420 725 13 ORtg Last Month    55.7692
Name: 24420, dtype: object
24421 174 12 ORtg Last Month    14.5
Name: 24421, dtype: object
24422 144 7 ORtg Last Month    20.5714
Name: 24422, dtype: object
24423 1436 13 ORtg Last Month    110.462
Name: 24423, dtype: object
24424 1020 9 ORtg Last Month    113.333
Name: 24424, dtype: object
24425 1457 13 ORtg Last Month    112.077
Name: 24425, dtype: object
24426 1054 12 ORtg Last Month    87.8333
Name: 24426, dtype: object
24427 1423 13 ORtg Last Month    109.462
Name: 24427, dtype: object
24428 1149 12 ORtg Last Month    95.75
Name: 24428, dtype: object
24429 270 9 ORtg Last Month    30
Name: 24429, dtype: object
24430 906 13 ORtg Last Month    69.6923
Name: 24430, dtype: object
24431 1035 12 ORtg Last Month    86.25
Name: 24431, dtype: object
24432 1435 12 ORtg Last Month    119.583
Name: 24432, dtype: object
24433 1086 11 ORtg Last Month    98.7273
Name: 24433, dtype: object
24434 1512 13 ORtg Last Month    116.308
Name: 24434, dtype: object
24435 1364 13 ORtg Last Month    104.923
Name: 24435, dtype: object
24436 0 9 ORtg Last Month    0
Name: 24436, dtype: object
24437 1423 13 ORtg Last Month    109.462
Name: 24437, dtype: object
24438 1499 13 ORtg Last Month    115.308
Name: 24438, dtype: object
24439 67 13 ORtg Last Month    5.15385
Name: 24439, dtype: object
24440 1190 11 ORtg Last Month    108.182
Name: 24440, dtype: object
24441 950 10 ORtg Last Month    95
Name: 24441, dtype: object
24442 1206 11 ORtg Last Month    109.636
Name: 24442, dtype: object
24443 369 8 ORtg Last Month    46.125
Name: 24443, dtype: object
24444 1160 11 ORtg Last Month    105.455
Name: 24444, dtype: object
24445 980 11 ORtg Last Month    89.0909
Name: 24445, dtype: object
24446 1378 11 ORtg Last Month    125.273
Name: 24446, dtype: object
24447 0 10 ORtg Last Month    0
Name: 24447, dtype: object
24448 1169 11 ORtg Last Month    106.273
Name: 24448, dtype: object
24449 1260 11 ORtg Last Month    114.545
Name: 24449, dtype: object
24450 1419 11 ORtg Last Month    129
Name: 24450, dtype: object
24451 1063 11 ORtg Last Month    96.6364
Name: 24451, dtype: object
24452 966 10 ORtg Last Month    96.6
Name: 24452, dtype: object
24453 1071 11 ORtg Last Month    97.3636
Name: 24453, dtype: object
24454 1224 10 ORtg Last Month    122.4
Name: 24454, dtype: object
24455 1223 11 ORtg Last Month    111.182
Name: 24455, dtype: object

24456 241 4 ORtg Last Month    60.25
Name: 24456, dtype: object
24457 1373 11 ORtg Last Month    124.818
Name: 24457, dtype: object
24458 1100 10 ORtg Last Month    110
Name: 24458, dtype: object
24459 636 11 ORtg Last Month    57.8182
Name: 24459, dtype: object
24460 0 10 ORtg Last Month    0
Name: 24460, dtype: object
24461 432 9 ORtg Last Month    48
Name: 24461, dtype: object
24462 912 10 ORtg Last Month    91.2
Name: 24462, dtype: object
24463 1298 10 ORtg Last Month    129.8
Name: 24463, dtype: object
24464 940 10 ORtg Last Month    94
Name: 24464, dtype: object
24465 115 5 ORtg Last Month    23
Name: 24465, dtype: object
24466 1160 10 ORtg Last Month    116
Name: 24466, dtype: object
24467 925 8 ORtg Last Month    115.625
Name: 24467, dtype: object
24468 967 10 ORtg Last Month    96.7
Name: 24468, dtype: object
24469 1001 10 ORtg Last Month    100.1
Name: 24469, dtype: object
24470 220 10 ORtg Last Month    22
Name: 24470, dtype: object
24471 358 10 ORtg Last Month    35.8
Name: 24471, dtype: object
24472 1162 10 ORtg Last Month    116.2
Name: 24472, dtype: object
24473 1303 9 ORtg Last Month    144.778
Name: 24473, dtype: object
24474 486 5 ORtg Last Month    97.2
Name: 24474, dtype: object
24475 1206 11 ORtg Last Month    109.636
Name: 24475, dtype: object
24476 856 8 ORtg Last Month    107
Name: 24476, dtype: object
24477 467 5 ORtg Last Month    93.4
Name: 24477, dtype: object
24478 1207 11 ORtg Last Month    109.727
Name: 24478, dtype: object
24479 1000 11 ORtg Last Month    90.9091
Name: 24479, dtype: object
24480 1262 11 ORtg Last Month    114.727
Name: 24480, dtype: object
24481 539 11 ORtg Last Month    49
Name: 24481, dtype: object
24482 1073 11 ORtg Last Month    97.5455
Name: 24482, dtype: object
24483 1377 11 ORtg Last Month    125.182
Name: 24483, dtype: object
24484 1390 11 ORtg Last Month    126.364
Name: 24484, dtype: object
24485 209 11 ORtg Last Month    19
Name: 24485, dtype: object
24486 1332 11 ORtg Last Month    121.091
Name: 24486, dtype: object
24487 1313 11 ORtg Last Month    119.364
Name: 24487, dtype: object
24488 754 11 ORtg Last Month    68.5455
Name: 24488, dtype: object
24489 0 0 ORtg Last Month    0
Name: 24489, dtype: object
24490 1142 11 ORtg Last Month    103.818
Name: 24490, dtype: object
24491 1156 11 ORtg Last Month    105.091
Name: 24491, dtype: object
24492 765 10 ORtg Last Month    76.5
Name: 24492, dtype: object
24493 227 11 ORtg Last Month    20.6364
Name: 24493, dtype: object
24494 1031 11 ORtg Last Month    93.7273
Name: 24494, dtype: object
24495 1354 11 ORtg Last Month    123.091
Name: 24495, dtype: object
24496 1270 11 ORtg Last Month    115.455
Name: 24496, dtype: object
24497 0 11 ORtg Last Month    0
Name: 24497, dtype: object
24498 1489 12 ORtg Last Month    124.083
Name: 24498, dtype: object
24499 1384 12 ORtg Last Month    115.333
Name: 24499, dtype: object
24500 1063 12 ORtg Last Month    88.5833
Name: 24500, dtype: object
24501 1389 12 ORtg Last Month    115.75
Name: 24501, dtype: object
24502 1116 10 ORtg Last Month    111.6
Name: 24502, dtype: object
24503 285 11 ORtg Last Month    25.9091
Name: 24503, dtype: object
24504 362 7 ORtg Last Month    51.7143
Name: 24504, dtype: object
24505 1180 10 ORtg Last Month    118
Name: 24505, dtype: object
24506 1186 9 ORtg Last Month    131.778
Name: 24506, dtype: object
24507 1320 12 ORtg Last Month    110
Name: 24507, dtype: object
24508 291 3 ORtg Last Month    97
Name: 24508, dtype: object
24509 1222 12 ORtg Last Month    101.833
Name: 24509, dtype: object
24510 999 12 ORtg Last Month    83.25
Name: 24510, dtype: object
24511 905 8 ORtg Last Month    113.125
Name: 24511, dtype: object
24512 690 10 ORtg Last Month    69
Name: 24512, dtype: object
24513 1241 11 ORtg Last Month    112.818
Name: 24513, dtype: object
24514 1379 12 ORtg Last Month    114.917
Name: 24514, dtype: object
24515 1341 12 ORtg Last Month    111.75
Name: 24515, dtype: object
24516 585 7 ORtg Last Month    83.5714
Name: 24516, dtype: object
24517 631 12 ORtg Last Month    52.5833
Name: 24517, dtype: object
24518 148 6 ORtg Last Month    24.6667
Name: 24518, dtype: object
24519 1673 12 ORtg Last Month    139.417
Name: 24519, dtype: object
24520 1309 12 ORtg Last Month    109.083
Name: 24520, dtype: object
24521 518 12 ORtg Last Month    43.1667
Name: 24521, dtype: object
24522 1107 10 ORtg Last Month    110.7
Name: 24522, dtype: object
24523 1576 12 ORtg Last Month    131.333
Name: 24523, dtype: object
24524 1112 11 ORtg Last Month    101.091
Name: 24524, dtype: object
24525 1638 12 ORtg Last Month    136.5
Name: 24525, dtype: object
24526 487 11 ORtg Last Month    44.2727
Name: 24526, dtype: object
24527 1221 12 ORtg Last Month    101.75
Name: 24527, dtype: object
24528 1093 10 ORtg Last Month    109.3
Name: 24528, dtype: object
24529 1538 12 ORtg Last Month    128.167
Name: 24529, dtype: object
24530 1268 12 ORtg Last Month    105.667
Name: 24530, dtype: object
24531 1189 12 ORtg Last Month    99.0833
Name: 24531, dtype: object
24532 1183 11 ORtg Last Month    107.545
Name: 24532, dtype: object
24533 838 9 ORtg Last Month    93.1111
Name: 24533, dtype: object
24534 428 10 ORtg Last Month    42.8
Name: 24534, dtype: object
24535 202 3 ORtg Last Month    67.3333
Name: 24535, dtype: object
24536 1233 11 ORtg Last Month    112.091
Name: 24536, dtype: object
24537 1203 10 ORtg Last Month    120.3
Name: 24537, dtype: object
24538 1074 10 ORtg Last Month    107.4
Name: 24538, dtype: object
24539 470 5 ORtg Last Month    94
Name: 24539, dtype: object
24540 789 8 ORtg Last Month    98.625
Name: 24540, dtype: object
24541 1174 11 ORtg Last Month    106.727
Name: 24541, dtype: object
24542 789 10 ORtg Last Month    78.9
Name: 24542, dtype: object
24543 1214 10 ORtg Last Month    121.4
Name: 24543, dtype: object
24544 1372 12 ORtg Last Month    114.333
Name: 24544, dtype: object
24545 1554 12 ORtg Last Month    129.5
Name: 24545, dtype: object
24546 282 11 ORtg Last Month    25.6364
Name: 24546, dtype: object
24547 1352 12 ORtg Last Month    112.667
Name: 24547, dtype: object
24548 1374 12 ORtg Last Month    114.5
Name: 24548, dtype: object
24549 1044 11 ORtg Last Month    94.9091
Name: 24549, dtype: object
24550 1497 12 ORtg Last Month    124.75
Name: 24550, dtype: object
24551 1302 12 ORtg Last Month    108.5
Name: 24551, dtype: object
24552 785 10 ORtg Last Month    78.5
Name: 24552, dtype: object
24553 1129 12 ORtg Last Month    94.0833
Name: 24553, dtype: object
24554 278 9 ORtg Last Month    30.8889
Name: 24554, dtype: object
24555 1248 11 ORtg Last Month    113.455
Name: 24555, dtype: object
24556 1199 11 ORtg Last Month    109
Name: 24556, dtype: object
24557 1206 12 ORtg Last Month    100.5
Name: 24557, dtype: object
24558 134 2 ORtg Last Month    67
Name: 24558, dtype: object
24559 563 7 ORtg Last Month    80.4286
Name: 24559, dtype: object
24560 1265 11 ORtg Last Month    115
Name: 24560, dtype: object
24561 1041 12 ORtg Last Month    86.75
Name: 24561, dtype: object
24562 1483 12 ORtg Last Month    123.583
Name: 24562, dtype: object
24563 1534 12 ORtg Last Month    127.833
Name: 24563, dtype: object
24564 869 10 ORtg Last Month    86.9
Name: 24564, dtype: object
24565 654 12 ORtg Last Month    54.5
Name: 24565, dtype: object
24566 953 7 ORtg Last Month    136.143
Name: 24566, dtype: object
24567 1148 11 ORtg Last Month    104.364
Name: 24567, dtype: object
24568 1385 11 ORtg Last Month    125.909
Name: 24568, dtype: object
24569 659 11 ORtg Last Month    59.9091
Name: 24569, dtype: object
24570 65 6 ORtg Last Month    10.8333
Name: 24570, dtype: object
24571 1269 10 ORtg Last Month    126.9
Name: 24571, dtype: object
24572 1301 11 ORtg Last Month    118.273
Name: 24572, dtype: object
24573 1125 11 ORtg Last Month    102.273
Name: 24573, dtype: object
24574 1050 11 ORtg Last Month    95.4545
Name: 24574, dtype: object
24575 315 4 ORtg Last Month    78.75
Name: 24575, dtype: object
24576 488 11 ORtg Last Month    44.3636
Name: 24576, dtype: object
24577 1298 11 ORtg Last Month    118
Name: 24577, dtype: object
24578 1259 11 ORtg Last Month    114.455
Name: 24578, dtype: object
24579 1251 11 ORtg Last Month    113.727
Name: 24579, dtype: object
24580 930 12 ORtg Last Month    77.5
Name: 24580, dtype: object

24581 1027 10 ORtg Last Month    102.7
Name: 24581, dtype: object
24582 1488 12 ORtg Last Month    124
Name: 24582, dtype: object
24583 390 7 ORtg Last Month    55.7143
Name: 24583, dtype: object
24584 1069 12 ORtg Last Month    89.0833
Name: 24584, dtype: object
24585 1110 12 ORtg Last Month    92.5
Name: 24585, dtype: object
24586 1088 12 ORtg Last Month    90.6667
Name: 24586, dtype: object
24587 1035 12 ORtg Last Month    86.25
Name: 24587, dtype: object
24588 540 12 ORtg Last Month    45
Name: 24588, dtype: object
24589 1137 12 ORtg Last Month    94.75
Name: 24589, dtype: object
24590 840 8 ORtg Last Month    105
Name: 24590, dtype: object
24591 1418 12 ORtg Last Month    118.167
Name: 24591, dtype: object
24592 1152 12 ORtg Last Month    96
Name: 24592, dtype: object
24593 1171 12 ORtg Last Month    97.5833
Name: 24593, dtype: object
24594 105 8 ORtg Last Month    13.125
Name: 24594, dtype: object
24595 1387 11 ORtg Last Month    126.091
Name: 24595, dtype: object
24596 355 8 ORtg Last Month    44.375
Name: 24596, dtype: object
24597 108 12 ORtg Last Month    9
Name: 24597, dtype: object
24598 1615 12 ORtg Last Month    134.583
Name: 24598, dtype: object
24599 1501 12 ORtg Last Month    125.083
Name: 24599, dtype: object
24600 1050 9 ORtg Last Month    116.667
Name: 24600, dtype: object
24601 256 12 ORtg Last Month    21.3333
Name: 24601, dtype: object
24602 1247 12 ORtg Last Month    103.917
Name: 24602, dtype: object
24603 134 6 ORtg Last Month    22.3333
Name: 24603, dtype: object
24604 1330 11 ORtg Last Month    120.909
Name: 24604, dtype: object
24605 1328 12 ORtg Last Month    110.667
Name: 24605, dtype: object
24606 1212 12 ORtg Last Month    101
Name: 24606, dtype: object
24607 1409 12 ORtg Last Month    117.417
Name: 24607, dtype: object
24608 662 5 ORtg Last Month    132.4
Name: 24608, dtype: object
24609 1338 12 ORtg Last Month    111.5
Name: 24609, dtype: object
24610 257 12 ORtg Last Month    21.4167
Name: 24610, dtype: object
24611 1308 12 ORtg Last Month    109
Name: 24611, dtype: object
24612 1506 12 ORtg Last Month    125.5
Name: 24612, dtype: object
24613 251 10 ORtg Last Month    25.1
Name: 24613, dtype: object
24614 153 8 ORtg Last Month    19.125
Name: 24614, dtype: object
24615 1558 12 ORtg Last Month    129.833
Name: 24615, dtype: object
24616 432 12 ORtg Last Month    36
Name: 24616, dtype: object
24617 633 7 ORtg Last Month    90.4286
Name: 24617, dtype: object
24618 0 2 ORtg Last Month    0
Name: 24618, dtype: object
24619 1088 11 ORtg Last Month    98.9091
Name: 24619, dtype: object
24620 1210 12 ORtg Last Month    100.833
Name: 24620, dtype: object
24621 881 10 ORtg Last Month    88.1
Name: 24621, dtype: object
24622 1273 12 ORtg Last Month    106.083
Name: 24622, dtype: object
24623 1192 12 ORtg Last Month    99.3333
Name: 24623, dtype: object
24624 1317 12 ORtg Last Month    109.75
Name: 24624, dtype: object
24625 1191 9 ORtg Last Month    132.333
Name: 24625, dtype: object
24626 1540 12 ORtg Last Month    128.333
Name: 24626, dtype: object
24627 661 10 ORtg Last Month    66.1
Name: 24627, dtype: object
24628 720 6 ORtg Last Month    120
Name: 24628, dtype: object
24629 953 11 ORtg Last Month    86.6364
Name: 24629, dtype: object
24630 1201 11 ORtg Last Month    109.182
Name: 24630, dtype: object
24631 0 3 ORtg Last Month    0
Name: 24631, dtype: object
24632 1106 11 ORtg Last Month    100.545
Name: 24632, dtype: object
24633 122 1 ORtg Last Month    122
Name: 24633, dtype: object
24634 1481 11 ORtg Last Month    134.636
Name: 24634, dtype: object
24635 1152 11 ORtg Last Month    104.727
Name: 24635, dtype: object
24636 867 11 ORtg Last Month    78.8182
Name: 24636, dtype: object
24637 1317 11 ORtg Last Month    119.727
Name: 24637, dtype: object
24638 0 0 ORtg Last Month    0
Name: 24638, dtype: object
24639 912 11 ORtg Last Month    82.9091
Name: 24639, dtype: object
24640 1096 11 ORtg Last Month    99.6364
Name: 24640, dtype: object
24641 1018 11 ORtg Last Month    92.5455
Name: 24641, dtype: object
24642 900 10 ORtg Last Month    90
Name: 24642, dtype: object
24643 1270 11 ORtg Last Month    115.455
Name: 24643, dtype: object
24644 111 7 ORtg Last Month    15.8571
Name: 24644, dtype: object
24645 1299 11 ORtg Last Month    118.091
Name: 24645, dtype: object
24646 1612 11 ORtg Last Month    146.545
Name: 24646, dtype: object
24647 428 11 ORtg Last Month    38.9091
Name: 24647, dtype: object
24648 0 11 ORtg Last Month    0
Name: 24648, dtype: object
24649 1258 11 ORtg Last Month    114.364
Name: 24649, dtype: object
24650 1194 11 ORtg Last Month    108.545
Name: 24650, dtype: object
24651 1151 10 ORtg Last Month    115.1
Name: 24651, dtype: object
24652 1269 11 ORtg Last Month    115.364
Name: 24652, dtype: object
24653 1097 11 ORtg Last Month    99.7273
Name: 24653, dtype: object
24654 1125 11 ORtg Last Month    102.273
Name: 24654, dtype: object
24655 759 11 ORtg Last Month    69
Name: 24655, dtype: object
24656 521 11 ORtg Last Month    47.3636
Name: 24656, dtype: object
24657 305 3 ORtg Last Month    101.667
Name: 24657, dtype: object
24658 640 5 ORtg Last Month    128
Name: 24658, dtype: object
24659 489 11 ORtg Last Month    44.4545
Name: 24659, dtype: object
24660 843 10 ORtg Last Month    84.3
Name: 24660, dtype: object
24661 1210 11 ORtg Last Month    110
Name: 24661, dtype: object
24662 845 11 ORtg Last Month    76.8182
Name: 24662, dtype: object
24663 502 10 ORtg Last Month    50.2
Name: 24663, dtype: object
24664 1151 11 ORtg Last Month    104.636
Name: 24664, dtype: object
24665 1056 11 ORtg Last Month    96
Name: 24665, dtype: object
24666 1272 11 ORtg Last Month    115.636
Name: 24666, dtype: object
24667 763 11 ORtg Last Month    69.3636
Name: 24667, dtype: object
24668 1087 11 ORtg Last Month    98.8182
Name: 24668, dtype: object
24669 727 6 ORtg Last Month    121.167
Name: 24669, dtype: object
24670 1186 11 ORtg Last Month    107.818
Name: 24670, dtype: object
24671 1342 11 ORtg Last Month    122
Name: 24671, dtype: object
24672 0 10 ORtg Last Month    0
Name: 24672, dtype: object
24673 0 0 ORtg Last Month    0
Name: 24673, dtype: object
24674 845 10 ORtg Last Month    84.5
Name: 24674, dtype: object
24675 817 7 ORtg Last Month    116.714
Name: 24675, dtype: object
24676 1154 10 ORtg Last Month    115.4
Name: 24676, dtype: object
24677 841 10 ORtg Last Month    84.1
Name: 24677, dtype: object
24678 1216 10 ORtg Last Month    121.6
Name: 24678, dtype: object
24679 1261 10 ORtg Last Month    126.1
Name: 24679, dtype: object
24680 488 9 ORtg Last Month    54.2222
Name: 24680, dtype: object
24681 1068 10 ORtg Last Month    106.8
Name: 24681, dtype: object
24682 1182 10 ORtg Last Month    118.2
Name: 24682, dtype: object
24683 114 1 ORtg Last Month    114
Name: 24683, dtype: object
24684 603 10 ORtg Last Month    60.3
Name: 24684, dtype: object
24685 1254 11 ORtg Last Month    114
Name: 24685, dtype: object
24686 1468 12 ORtg Last Month    122.333
Name: 24686, dtype: object
24687 944 10 ORtg Last Month    94.4
Name: 24687, dtype: object
24688 162 10 ORtg Last Month    16.2
Name: 24688, dtype: object
24689 0 0 ORtg Last Month    0
Name: 24689, dtype: object
24690 1117 11 ORtg Last Month    101.545
Name: 24690, dtype: object
24691 1118 12 ORtg Last Month    93.1667
Name: 24691, dtype: object
24692 1288 12 ORtg Last Month    107.333
Name: 24692, dtype: object
24693 501 12 ORtg Last Month    41.75
Name: 24693, dtype: object
24694 1489 12 ORtg Last Month    124.083
Name: 24694, dtype: object
24695 757 7 ORtg Last Month    108.143
Name: 24695, dtype: object
24696 825 11 ORtg Last Month    75
Name: 24696, dtype: object
24697 370 10 ORtg Last Month    37
Name: 24697, dtype: object
24698 1205 11 ORtg Last Month    109.545
Name: 24698, dtype: object
24699 1194 12 ORtg Last Month    99.5
Name: 24699, dtype: object
24700 1695 13 ORtg Last Month    130.385
Name: 24700, dtype: object
24701 1757 13 ORtg Last Month    135.154
Name: 24701, dtype: object
24702 542 12 ORtg Last Month    45.1667
Name: 24702, dtype: object
24703 1316 13 ORtg Last Month    101.231
Name: 24703, dtype: object
24704 1636 13 ORtg Last Month    125.846
Name: 24704, dtype: object
24705 1365 13 ORtg Last Month    105
Name: 24705, dtype: object

24706 1314 13 ORtg Last Month    101.077
Name: 24706, dtype: object
24707 1323 12 ORtg Last Month    110.25
Name: 24707, dtype: object
24708 1299 12 ORtg Last Month    108.25
Name: 24708, dtype: object
24709 1284 12 ORtg Last Month    107
Name: 24709, dtype: object
24710 700 7 ORtg Last Month    100
Name: 24710, dtype: object
24711 1372 12 ORtg Last Month    114.333
Name: 24711, dtype: object
24712 1484 12 ORtg Last Month    123.667
Name: 24712, dtype: object
24713 1117 12 ORtg Last Month    93.0833
Name: 24713, dtype: object
24714 842 11 ORtg Last Month    76.5455
Name: 24714, dtype: object
24715 1032 9 ORtg Last Month    114.667
Name: 24715, dtype: object
24716 191 12 ORtg Last Month    15.9167
Name: 24716, dtype: object
24717 821 9 ORtg Last Month    91.2222
Name: 24717, dtype: object
24718 1231 10 ORtg Last Month    123.1
Name: 24718, dtype: object
24719 892 9 ORtg Last Month    99.1111
Name: 24719, dtype: object
24720 1444 12 ORtg Last Month    120.333
Name: 24720, dtype: object
24721 1040 12 ORtg Last Month    86.6667
Name: 24721, dtype: object
24722 689 11 ORtg Last Month    62.6364
Name: 24722, dtype: object
24723 1236 12 ORtg Last Month    103
Name: 24723, dtype: object
24724 847 12 ORtg Last Month    70.5833
Name: 24724, dtype: object
24725 324 12 ORtg Last Month    27
Name: 24725, dtype: object
24726 795 12 ORtg Last Month    66.25
Name: 24726, dtype: object
24727 1711 12 ORtg Last Month    142.583
Name: 24727, dtype: object
24728 1150 9 ORtg Last Month    127.778
Name: 24728, dtype: object
24729 682 12 ORtg Last Month    56.8333
Name: 24729, dtype: object
24730 1158 12 ORtg Last Month    96.5
Name: 24730, dtype: object
24731 1179 11 ORtg Last Month    107.182
Name: 24731, dtype: object
24732 1106 11 ORtg Last Month    100.545
Name: 24732, dtype: object
24733 1227 11 ORtg Last Month    111.545
Name: 24733, dtype: object
24734 1336 11 ORtg Last Month    121.455
Name: 24734, dtype: object
24735 668 11 ORtg Last Month    60.7273
Name: 24735, dtype: object
24736 1196 11 ORtg Last Month    108.727
Name: 24736, dtype: object
24737 586 10 ORtg Last Month    58.6
Name: 24737, dtype: object
24738 567 11 ORtg Last Month    51.5455
Name: 24738, dtype: object
24739 446 11 ORtg Last Month    40.5455
Name: 24739, dtype: object
24740 0 2 ORtg Last Month    0
Name: 24740, dtype: object
24741 1331 11 ORtg Last Month    121
Name: 24741, dtype: object
24742 1300 11 ORtg Last Month    118.182
Name: 24742, dtype: object
24743 1276 11 ORtg Last Month    116
Name: 24743, dtype: object
24744 1532 13 ORtg Last Month    117.846
Name: 24744, dtype: object
24745 1702 13 ORtg Last Month    130.923
Name: 24745, dtype: object
24746 334 5 ORtg Last Month    66.8
Name: 24746, dtype: object
24747 282 12 ORtg Last Month    23.5
Name: 24747, dtype: object
24748 1439 13 ORtg Last Month    110.692
Name: 24748, dtype: object
24749 1496 13 ORtg Last Month    115.077
Name: 24749, dtype: object
24750 1093 12 ORtg Last Month    91.0833
Name: 24750, dtype: object
24751 1648 13 ORtg Last Month    126.769
Name: 24751, dtype: object
24752 1252 13 ORtg Last Month    96.3077
Name: 24752, dtype: object
24753 907 11 ORtg Last Month    82.4545
Name: 24753, dtype: object
24754 1154 11 ORtg Last Month    104.909
Name: 24754, dtype: object
24755 1096 9 ORtg Last Month    121.778
Name: 24755, dtype: object
24756 756 11 ORtg Last Month    68.7273
Name: 24756, dtype: object
24757 894 10 ORtg Last Month    89.4
Name: 24757, dtype: object
24758 941 8 ORtg Last Month    117.625
Name: 24758, dtype: object
24759 1138 11 ORtg Last Month    103.455
Name: 24759, dtype: object
24760 733 11 ORtg Last Month    66.6364
Name: 24760, dtype: object
24761 331 9 ORtg Last Month    36.7778
Name: 24761, dtype: object
24762 1202 11 ORtg Last Month    109.273
Name: 24762, dtype: object
24763 0 0 ORtg Last Month    0
Name: 24763, dtype: object
24764 1100 9 ORtg Last Month    122.222
Name: 24764, dtype: object
24765 1023 10 ORtg Last Month    102.3
Name: 24765, dtype: object
24766 1444 12 ORtg Last Month    120.333
Name: 24766, dtype: object
24767 1127 12 ORtg Last Month    93.9167
Name: 24767, dtype: object
24768 472 12 ORtg Last Month    39.3333
Name: 24768, dtype: object
24769 1359 12 ORtg Last Month    113.25
Name: 24769, dtype: object
24770 1362 12 ORtg Last Month    113.5
Name: 24770, dtype: object
24771 1483 12 ORtg Last Month    123.583
Name: 24771, dtype: object
24772 509 7 ORtg Last Month    72.7143
Name: 24772, dtype: object
24773 852 10 ORtg Last Month    85.2
Name: 24773, dtype: object
24774 833 7 ORtg Last Month    119
Name: 24774, dtype: object
24775 1044 12 ORtg Last Month    87
Name: 24775, dtype: object
24776 993 9 ORtg Last Month    110.333
Name: 24776, dtype: object
24777 1255 13 ORtg Last Month    96.5385
Name: 24777, dtype: object
24778 235 9 ORtg Last Month    26.1111
Name: 24778, dtype: object
24779 1481 13 ORtg Last Month    113.923
Name: 24779, dtype: object
24780 1270 13 ORtg Last Month    97.6923
Name: 24780, dtype: object
24781 1256 13 ORtg Last Month    96.6154
Name: 24781, dtype: object
24782 355 9 ORtg Last Month    39.4444
Name: 24782, dtype: object
24783 0 0 ORtg Last Month    0
Name: 24783, dtype: object
24784 108 13 ORtg Last Month    8.30769
Name: 24784, dtype: object
24785 1577 13 ORtg Last Month    121.308
Name: 24785, dtype: object
24786 1731 13 ORtg Last Month    133.154
Name: 24786, dtype: object
24787 1167 10 ORtg Last Month    116.7
Name: 24787, dtype: object
24788 256 13 ORtg Last Month    19.6923
Name: 24788, dtype: object
24789 1451 13 ORtg Last Month    111.615
Name: 24789, dtype: object
24790 1285 13 ORtg Last Month    98.8462
Name: 24790, dtype: object
24791 838 13 ORtg Last Month    64.4615
Name: 24791, dtype: object
24792 211 4 ORtg Last Month    52.75
Name: 24792, dtype: object
24793 1252 13 ORtg Last Month    96.3077
Name: 24793, dtype: object
24794 1224 11 ORtg Last Month    111.273
Name: 24794, dtype: object
24795 813 13 ORtg Last Month    62.5385
Name: 24795, dtype: object
24796 174 12 ORtg Last Month    14.5
Name: 24796, dtype: object
24797 144 8 ORtg Last Month    18
Name: 24797, dtype: object
24798 1405 13 ORtg Last Month    108.077
Name: 24798, dtype: object
24799 1016 9 ORtg Last Month    112.889
Name: 24799, dtype: object
24800 1465 13 ORtg Last Month    112.692
Name: 24800, dtype: object
24801 1019 12 ORtg Last Month    84.9167
Name: 24801, dtype: object
24802 1219 12 ORtg Last Month    101.583
Name: 24802, dtype: object
24803 1109 12 ORtg Last Month    92.4167
Name: 24803, dtype: object
24804 661 11 ORtg Last Month    60.0909
Name: 24804, dtype: object
24805 268 2 ORtg Last Month    134
Name: 24805, dtype: object
24806 1219 12 ORtg Last Month    101.583
Name: 24806, dtype: object
24807 141 4 ORtg Last Month    35.25
Name: 24807, dtype: object
24808 1319 12 ORtg Last Month    109.917
Name: 24808, dtype: object
24809 965 12 ORtg Last Month    80.4167
Name: 24809, dtype: object
24810 846 7 ORtg Last Month    120.857
Name: 24810, dtype: object
24811 446 11 ORtg Last Month    40.5455
Name: 24811, dtype: object
24812 1589 12 ORtg Last Month    132.417
Name: 24812, dtype: object
24813 312 11 ORtg Last Month    28.3636
Name: 24813, dtype: object
24814 1250 13 ORtg Last Month    96.1538
Name: 24814, dtype: object
24815 706 13 ORtg Last Month    54.3077
Name: 24815, dtype: object
24816 261 9 ORtg Last Month    29
Name: 24816, dtype: object
24817 1037 12 ORtg Last Month    86.4167
Name: 24817, dtype: object
24818 1527 13 ORtg Last Month    117.462
Name: 24818, dtype: object
24819 1311 13 ORtg Last Month    100.846
Name: 24819, dtype: object
24820 1209 12 ORtg Last Month    100.75
Name: 24820, dtype: object
24821 1490 13 ORtg Last Month    114.615
Name: 24821, dtype: object
24822 0 9 ORtg Last Month    0
Name: 24822, dtype: object
24823 1430 13 ORtg Last Month    110
Name: 24823, dtype: object
24824 0 13 ORtg Last Month    0
Name: 24824, dtype: object
24825 1302 12 ORtg Last Month    108.5
Name: 24825, dtype: object
24826 1234 12 ORtg Last Month    102.833
Name: 24826, dtype: object
24827 549 10 ORtg Last Month    54.9
Name: 24827, dtype: object
24828 1050 11 ORtg Last Month    95.4545
Name: 24828, dtype: object
24829 369 9 ORtg Last Month    41
Name: 24829, dtype: object

24830 1094 12 ORtg Last Month    91.1667
Name: 24830, dtype: object
24831 1496 12 ORtg Last Month    124.667
Name: 24831, dtype: object
24832 109 11 ORtg Last Month    9.90909
Name: 24832, dtype: object
24833 1394 12 ORtg Last Month    116.167
Name: 24833, dtype: object
24834 1283 12 ORtg Last Month    106.917
Name: 24834, dtype: object
24835 1535 12 ORtg Last Month    127.917
Name: 24835, dtype: object
24836 1182 12 ORtg Last Month    98.5
Name: 24836, dtype: object
24837 85 4 ORtg Last Month    21.25
Name: 24837, dtype: object
24838 1354 11 ORtg Last Month    123.091
Name: 24838, dtype: object
24839 1310 12 ORtg Last Month    109.167
Name: 24839, dtype: object
24840 1066 11 ORtg Last Month    96.9091
Name: 24840, dtype: object
24841 290 5 ORtg Last Month    58
Name: 24841, dtype: object
24842 1159 12 ORtg Last Month    96.5833
Name: 24842, dtype: object
24843 1475 12 ORtg Last Month    122.917
Name: 24843, dtype: object
24844 636 12 ORtg Last Month    53
Name: 24844, dtype: object
24845 1128 11 ORtg Last Month    102.545
Name: 24845, dtype: object
24846 432 10 ORtg Last Month    43.2
Name: 24846, dtype: object
24847 1096 11 ORtg Last Month    99.6364
Name: 24847, dtype: object
24848 1026 11 ORtg Last Month    93.2727
Name: 24848, dtype: object
24849 1418 11 ORtg Last Month    128.909
Name: 24849, dtype: object
24850 115 6 ORtg Last Month    19.1667
Name: 24850, dtype: object
24851 1276 11 ORtg Last Month    116
Name: 24851, dtype: object
24852 1019 9 ORtg Last Month    113.222
Name: 24852, dtype: object
24853 1162 11 ORtg Last Month    105.636
Name: 24853, dtype: object
24854 1086 11 ORtg Last Month    98.7273
Name: 24854, dtype: object
24855 220 11 ORtg Last Month    20
Name: 24855, dtype: object
24856 358 11 ORtg Last Month    32.5455
Name: 24856, dtype: object
24857 1235 11 ORtg Last Month    112.273
Name: 24857, dtype: object
24858 1421 10 ORtg Last Month    142.1
Name: 24858, dtype: object
24859 486 6 ORtg Last Month    81
Name: 24859, dtype: object
24860 131 1 ORtg Last Month    131
Name: 24860, dtype: object
24861 1038 9 ORtg Last Month    115.333
Name: 24861, dtype: object
24862 957 11 ORtg Last Month    87
Name: 24862, dtype: object
24863 1293 11 ORtg Last Month    117.545
Name: 24863, dtype: object
24864 1281 11 ORtg Last Month    116.455
Name: 24864, dtype: object
24865 935 11 ORtg Last Month    85
Name: 24865, dtype: object
24866 488 10 ORtg Last Month    48.8
Name: 24866, dtype: object
24867 1261 11 ORtg Last Month    114.636
Name: 24867, dtype: object
24868 1278 11 ORtg Last Month    116.182
Name: 24868, dtype: object
24869 1195 11 ORtg Last Month    108.636
Name: 24869, dtype: object
24870 229 2 ORtg Last Month    114.5
Name: 24870, dtype: object
24871 603 11 ORtg Last Month    54.8182
Name: 24871, dtype: object
24872 955 9 ORtg Last Month    106.111
Name: 24872, dtype: object
24873 1310 12 ORtg Last Month    109.167
Name: 24873, dtype: object
24874 573 6 ORtg Last Month    95.5
Name: 24874, dtype: object
24875 1368 12 ORtg Last Month    114
Name: 24875, dtype: object
24876 1312 12 ORtg Last Month    109.333
Name: 24876, dtype: object
24877 1105 12 ORtg Last Month    92.0833
Name: 24877, dtype: object
24878 1181 12 ORtg Last Month    98.4167
Name: 24878, dtype: object
24879 1211 11 ORtg Last Month    110.091
Name: 24879, dtype: object
24880 674 12 ORtg Last Month    56.1667
Name: 24880, dtype: object
24881 1510 12 ORtg Last Month    125.833
Name: 24881, dtype: object
24882 1504 12 ORtg Last Month    125.333
Name: 24882, dtype: object
24883 209 12 ORtg Last Month    17.4167
Name: 24883, dtype: object
24884 1446 12 ORtg Last Month    120.5
Name: 24884, dtype: object
24885 1515 12 ORtg Last Month    126.25
Name: 24885, dtype: object
24886 0 1 ORtg Last Month    0
Name: 24886, dtype: object
24887 867 12 ORtg Last Month    72.25
Name: 24887, dtype: object
24888 1243 12 ORtg Last Month    103.583
Name: 24888, dtype: object
24889 1243 12 ORtg Last Month    103.583
Name: 24889, dtype: object
24890 765 11 ORtg Last Month    69.5455
Name: 24890, dtype: object
24891 227 12 ORtg Last Month    18.9167
Name: 24891, dtype: object
24892 1162 12 ORtg Last Month    96.8333
Name: 24892, dtype: object
24893 1418 12 ORtg Last Month    118.167
Name: 24893, dtype: object
24894 1509 12 ORtg Last Month    125.75
Name: 24894, dtype: object
24895 0 12 ORtg Last Month    0
Name: 24895, dtype: object
24896 1589 13 ORtg Last Month    122.231
Name: 24896, dtype: object
24897 1463 13 ORtg Last Month    112.538
Name: 24897, dtype: object
24898 1499 13 ORtg Last Month    115.308
Name: 24898, dtype: object
24899 1150 11 ORtg Last Month    104.545
Name: 24899, dtype: object
24900 1125 13 ORtg Last Month    86.5385
Name: 24900, dtype: object
24901 362 8 ORtg Last Month    45.25
Name: 24901, dtype: object
24902 285 12 ORtg Last Month    23.75
Name: 24902, dtype: object
24903 1295 10 ORtg Last Month    129.5
Name: 24903, dtype: object
24904 1275 11 ORtg Last Month    115.909
Name: 24904, dtype: object
24905 1449 13 ORtg Last Month    111.462
Name: 24905, dtype: object
24906 1346 13 ORtg Last Month    103.538
Name: 24906, dtype: object
24907 1092 13 ORtg Last Month    84
Name: 24907, dtype: object
24908 984 9 ORtg Last Month    109.333
Name: 24908, dtype: object
24909 1405 13 ORtg Last Month    108.077
Name: 24909, dtype: object
24910 1472 13 ORtg Last Month    113.231
Name: 24910, dtype: object
24911 1388 12 ORtg Last Month    115.667
Name: 24911, dtype: object
24912 631 13 ORtg Last Month    48.5385
Name: 24912, dtype: object
24913 686 8 ORtg Last Month    85.75
Name: 24913, dtype: object
24914 148 7 ORtg Last Month    21.1429
Name: 24914, dtype: object
24915 518 13 ORtg Last Month    39.8462
Name: 24915, dtype: object
24916 1795 13 ORtg Last Month    138.077
Name: 24916, dtype: object
24917 1444 13 ORtg Last Month    111.077
Name: 24917, dtype: object
24918 211 1 ORtg Last Month    211
Name: 24918, dtype: object
24919 1248 12 ORtg Last Month    104
Name: 24919, dtype: object
24920 202 4 ORtg Last Month    50.5
Name: 24920, dtype: object
24921 428 11 ORtg Last Month    38.9091
Name: 24921, dtype: object
24922 0 9 ORtg Last Month    0
Name: 24922, dtype: object
24923 1336 12 ORtg Last Month    111.333
Name: 24923, dtype: object
24924 1245 12 ORtg Last Month    103.75
Name: 24924, dtype: object
24925 1297 11 ORtg Last Month    117.909
Name: 24925, dtype: object
24926 528 6 ORtg Last Month    88
Name: 24926, dtype: object
24927 868 9 ORtg Last Month    96.4444
Name: 24927, dtype: object
24928 1112 11 ORtg Last Month    101.091
Name: 24928, dtype: object
24929 890 11 ORtg Last Month    80.9091
Name: 24929, dtype: object
24930 1269 11 ORtg Last Month    115.364
Name: 24930, dtype: object
24931 1257 12 ORtg Last Month    104.75
Name: 24931, dtype: object
24932 1173 10 ORtg Last Month    117.3
Name: 24932, dtype: object
24933 918 12 ORtg Last Month    76.5
Name: 24933, dtype: object
24934 1046 9 ORtg Last Month    116.222
Name: 24934, dtype: object
24935 733 12 ORtg Last Month    61.0833
Name: 24935, dtype: object
24936 1263 10 ORtg Last Month    126.3
Name: 24936, dtype: object
24937 1277 12 ORtg Last Month    106.417
Name: 24937, dtype: object
24938 331 10 ORtg Last Month    33.1
Name: 24938, dtype: object
24939 1301 12 ORtg Last Month    108.417
Name: 24939, dtype: object
24940 125 1 ORtg Last Month    125
Name: 24940, dtype: object
24941 1312 10 ORtg Last Month    131.2
Name: 24941, dtype: object
24942 1097 11 ORtg Last Month    99.7273
Name: 24942, dtype: object
24943 1295 12 ORtg Last Month    107.917
Name: 24943, dtype: object
24944 1432 12 ORtg Last Month    119.333
Name: 24944, dtype: object
24945 1206 13 ORtg Last Month    92.7692
Name: 24945, dtype: object
24946 275 3 ORtg Last Month    91.6667
Name: 24946, dtype: object
24947 1598 13 ORtg Last Month    122.923
Name: 24947, dtype: object
24948 1372 12 ORtg Last Month    114.333
Name: 24948, dtype: object
24949 1114 13 ORtg Last Month    85.6923
Name: 24949, dtype: object
24950 672 8 ORtg Last Month    84
Name: 24950, dtype: object
24951 1703 13 ORtg Last Month    131
Name: 24951, dtype: object
24952 953 8 ORtg Last Month    119.125
Name: 24952, dtype: object
24953 654 13 ORtg Last Month    50.3077
Name: 24953, dtype: object

24954 927 11 ORtg Last Month    84.2727
Name: 24954, dtype: object
24955 1242 13 ORtg Last Month    95.5385
Name: 24955, dtype: object
24956 472 13 ORtg Last Month    36.3077
Name: 24956, dtype: object
24957 610 8 ORtg Last Month    76.25
Name: 24957, dtype: object
24958 1464 13 ORtg Last Month    112.615
Name: 24958, dtype: object
24959 1418 13 ORtg Last Month    109.077
Name: 24959, dtype: object
24960 1598 13 ORtg Last Month    122.923
Name: 24960, dtype: object
24961 898 8 ORtg Last Month    112.25
Name: 24961, dtype: object
24962 982 11 ORtg Last Month    89.2727
Name: 24962, dtype: object
24963 1044 13 ORtg Last Month    80.3077
Name: 24963, dtype: object
24964 1545 12 ORtg Last Month    128.75
Name: 24964, dtype: object
24965 1268 12 ORtg Last Month    105.667
Name: 24965, dtype: object
24966 659 12 ORtg Last Month    54.9167
Name: 24966, dtype: object
24967 1389 11 ORtg Last Month    126.273
Name: 24967, dtype: object
24968 1156 12 ORtg Last Month    96.3333
Name: 24968, dtype: object
24969 1205 12 ORtg Last Month    100.417
Name: 24969, dtype: object
24970 1461 12 ORtg Last Month    121.75
Name: 24970, dtype: object
24971 315 5 ORtg Last Month    63
Name: 24971, dtype: object
24972 488 12 ORtg Last Month    40.6667
Name: 24972, dtype: object
24973 1403 12 ORtg Last Month    116.917
Name: 24973, dtype: object
24974 1331 12 ORtg Last Month    110.917
Name: 24974, dtype: object
24975 1176 13 ORtg Last Month    90.4615
Name: 24975, dtype: object
24976 1091 13 ORtg Last Month    83.9231
Name: 24976, dtype: object
24977 146 7 ORtg Last Month    20.8571
Name: 24977, dtype: object
24978 19 3 ORtg Last Month    6.33333
Name: 24978, dtype: object
24979 1224 13 ORtg Last Month    94.1538
Name: 24979, dtype: object
24980 1143 11 ORtg Last Month    103.909
Name: 24980, dtype: object
24981 1228 13 ORtg Last Month    94.4615
Name: 24981, dtype: object
24982 1103 13 ORtg Last Month    84.8462
Name: 24982, dtype: object
24983 1591 13 ORtg Last Month    122.385
Name: 24983, dtype: object
24984 661 13 ORtg Last Month    50.8462
Name: 24984, dtype: object
24985 589 11 ORtg Last Month    53.5455
Name: 24985, dtype: object
24986 410 6 ORtg Last Month    68.3333
Name: 24986, dtype: object
24987 521 8 ORtg Last Month    65.125
Name: 24987, dtype: object
24988 1344 13 ORtg Last Month    103.385
Name: 24988, dtype: object
24989 272 7 ORtg Last Month    38.8571
Name: 24989, dtype: object
24990 1443 13 ORtg Last Month    111
Name: 24990, dtype: object
24991 1346 13 ORtg Last Month    103.538
Name: 24991, dtype: object
24992 1409 13 ORtg Last Month    108.385
Name: 24992, dtype: object
24993 1485 12 ORtg Last Month    123.75
Name: 24993, dtype: object
24994 662 6 ORtg Last Month    110.333
Name: 24994, dtype: object
24995 140 2 ORtg Last Month    70
Name: 24995, dtype: object
24996 1428 13 ORtg Last Month    109.846
Name: 24996, dtype: object
24997 1354 13 ORtg Last Month    104.154
Name: 24997, dtype: object
24998 416 13 ORtg Last Month    32
Name: 24998, dtype: object
24999 1627 13 ORtg Last Month    125.154
Name: 24999, dtype: object
25000 0 4 ORtg Last Month    0
Name: 25000, dtype: object
25001 1602 13 ORtg Last Month    123.231
Name: 25001, dtype: object
25002 547 13 ORtg Last Month    42.0769
Name: 25002, dtype: object
25003 0 3 ORtg Last Month    0
Name: 25003, dtype: object
25004 965 11 ORtg Last Month    87.7273
Name: 25004, dtype: object
25005 1336 13 ORtg Last Month    102.769
Name: 25005, dtype: object
25006 1372 13 ORtg Last Month    105.538
Name: 25006, dtype: object
25007 1403 13 ORtg Last Month    107.923
Name: 25007, dtype: object
25008 1309 13 ORtg Last Month    100.692
Name: 25008, dtype: object
25009 633 8 ORtg Last Month    79.125
Name: 25009, dtype: object
25010 1289 10 ORtg Last Month    128.9
Name: 25010, dtype: object
25011 907 11 ORtg Last Month    82.4545
Name: 25011, dtype: object
25012 1671 13 ORtg Last Month    128.538
Name: 25012, dtype: object
25013 1369 12 ORtg Last Month    114.083
Name: 25013, dtype: object
25014 1274 12 ORtg Last Month    106.167
Name: 25014, dtype: object
25015 1248 12 ORtg Last Month    104
Name: 25015, dtype: object
25016 1280 11 ORtg Last Month    116.364
Name: 25016, dtype: object
25017 1430 12 ORtg Last Month    119.167
Name: 25017, dtype: object
25018 858 12 ORtg Last Month    71.5
Name: 25018, dtype: object
25019 1210 12 ORtg Last Month    100.833
Name: 25019, dtype: object
25020 521 12 ORtg Last Month    43.4167
Name: 25020, dtype: object
25021 489 12 ORtg Last Month    40.75
Name: 25021, dtype: object
25022 732 6 ORtg Last Month    122
Name: 25022, dtype: object
25023 843 11 ORtg Last Month    76.6364
Name: 25023, dtype: object
25024 1330 12 ORtg Last Month    110.833
Name: 25024, dtype: object
25025 980 12 ORtg Last Month    81.6667
Name: 25025, dtype: object
25026 717 11 ORtg Last Month    65.1818
Name: 25026, dtype: object
25027 890 12 ORtg Last Month    74.1667
Name: 25027, dtype: object
25028 1393 12 ORtg Last Month    116.083
Name: 25028, dtype: object
25029 1276 12 ORtg Last Month    106.333
Name: 25029, dtype: object
25030 1216 12 ORtg Last Month    101.333
Name: 25030, dtype: object
25031 1210 12 ORtg Last Month    100.833
Name: 25031, dtype: object
25032 872 7 ORtg Last Month    124.571
Name: 25032, dtype: object
25033 1463 12 ORtg Last Month    121.917
Name: 25033, dtype: object
25034 1308 12 ORtg Last Month    109
Name: 25034, dtype: object
25035 91 11 ORtg Last Month    8.27273
Name: 25035, dtype: object
25036 1375 12 ORtg Last Month    114.583
Name: 25036, dtype: object
25037 1024 11 ORtg Last Month    93.0909
Name: 25037, dtype: object
25038 1553 13 ORtg Last Month    119.462
Name: 25038, dtype: object
25039 162 11 ORtg Last Month    14.7273
Name: 25039, dtype: object
25040 1198 12 ORtg Last Month    99.8333
Name: 25040, dtype: object
25041 1234 13 ORtg Last Month    94.9231
Name: 25041, dtype: object
25042 1366 13 ORtg Last Month    105.077
Name: 25042, dtype: object
25043 501 13 ORtg Last Month    38.5385
Name: 25043, dtype: object
25044 1625 13 ORtg Last Month    125
Name: 25044, dtype: object
25045 873 8 ORtg Last Month    109.125
Name: 25045, dtype: object
25046 934 12 ORtg Last Month    77.8333
Name: 25046, dtype: object
25047 370 11 ORtg Last Month    33.6364
Name: 25047, dtype: object
25048 499 9 ORtg Last Month    55.4444
Name: 25048, dtype: object
25049 1321 13 ORtg Last Month    101.615
Name: 25049, dtype: object
25050 1765 14 ORtg Last Month    126.071
Name: 25050, dtype: object
25051 1889 14 ORtg Last Month    134.929
Name: 25051, dtype: object
25052 620 13 ORtg Last Month    47.6923
Name: 25052, dtype: object
25053 1423 14 ORtg Last Month    101.643
Name: 25053, dtype: object
25054 1471 14 ORtg Last Month    105.071
Name: 25054, dtype: object
25055 1476 14 ORtg Last Month    105.429
Name: 25055, dtype: object
25056 1785 14 ORtg Last Month    127.5
Name: 25056, dtype: object
25057 1403 13 ORtg Last Month    107.923
Name: 25057, dtype: object
25058 1444 13 ORtg Last Month    111.077
Name: 25058, dtype: object
25059 1438 13 ORtg Last Month    110.615
Name: 25059, dtype: object
25060 1620 13 ORtg Last Month    124.615
Name: 25060, dtype: object
25061 1517 13 ORtg Last Month    116.692
Name: 25061, dtype: object
25062 1307 13 ORtg Last Month    100.538
Name: 25062, dtype: object
25063 300 4 ORtg Last Month    75
Name: 25063, dtype: object
25064 821 10 ORtg Last Month    82.1
Name: 25064, dtype: object
25065 1134 10 ORtg Last Month    113.4
Name: 25065, dtype: object
25066 1231 11 ORtg Last Month    111.909
Name: 25066, dtype: object
25067 0 0 ORtg Last Month    0
Name: 25067, dtype: object
25068 986 12 ORtg Last Month    82.1667
Name: 25068, dtype: object
25069 191 13 ORtg Last Month    14.6923
Name: 25069, dtype: object
25070 994 10 ORtg Last Month    99.4
Name: 25070, dtype: object
25071 1538 13 ORtg Last Month    118.308
Name: 25071, dtype: object
25072 790 12 ORtg Last Month    65.8333
Name: 25072, dtype: object
25073 1139 13 ORtg Last Month    87.6154
Name: 25073, dtype: object
25074 985 13 ORtg Last Month    75.7692
Name: 25074, dtype: object
25075 795 13 ORtg Last Month    61.1538
Name: 25075, dtype: object
25076 1349 13 ORtg Last Month    103.769
Name: 25076, dtype: object

25077 324 13 ORtg Last Month    24.9231
Name: 25077, dtype: object
25078 0 3 ORtg Last Month    0
Name: 25078, dtype: object
25079 1884 13 ORtg Last Month    144.923
Name: 25079, dtype: object
25080 840 13 ORtg Last Month    64.6154
Name: 25080, dtype: object
25081 1294 13 ORtg Last Month    99.5385
Name: 25081, dtype: object
25082 1424 13 ORtg Last Month    109.538
Name: 25082, dtype: object
25083 1569 13 ORtg Last Month    120.692
Name: 25083, dtype: object
25084 1281 14 ORtg Last Month    91.5
Name: 25084, dtype: object
25085 1698 14 ORtg Last Month    121.286
Name: 25085, dtype: object
25086 1158 14 ORtg Last Month    82.7143
Name: 25086, dtype: object
25087 395 4 ORtg Last Month    98.75
Name: 25087, dtype: object
25088 672 9 ORtg Last Month    74.6667
Name: 25088, dtype: object
25089 1846 14 ORtg Last Month    131.857
Name: 25089, dtype: object
25090 927 12 ORtg Last Month    77.25
Name: 25090, dtype: object
25091 727 14 ORtg Last Month    51.9286
Name: 25091, dtype: object
25092 1249 11 ORtg Last Month    113.545
Name: 25092, dtype: object
25093 1136 11 ORtg Last Month    103.273
Name: 25093, dtype: object
25094 700 11 ORtg Last Month    63.6364
Name: 25094, dtype: object
25095 216 7 ORtg Last Month    30.8571
Name: 25095, dtype: object
25096 811 11 ORtg Last Month    73.7273
Name: 25096, dtype: object
25097 1092 11 ORtg Last Month    99.2727
Name: 25097, dtype: object
25098 978 11 ORtg Last Month    88.9091
Name: 25098, dtype: object
25099 0 1 ORtg Last Month    0
Name: 25099, dtype: object
25100 0 0 ORtg Last Month    0
Name: 25100, dtype: object
25101 1139 10 ORtg Last Month    113.9
Name: 25101, dtype: object
25102 1315 11 ORtg Last Month    119.545
Name: 25102, dtype: object
25103 1288 10 ORtg Last Month    128.8
Name: 25103, dtype: object
25104 1149 10 ORtg Last Month    114.9
Name: 25104, dtype: object
25105 1379 14 ORtg Last Month    98.5
Name: 25105, dtype: object
25106 1569 14 ORtg Last Month    112.071
Name: 25106, dtype: object
25107 1341 14 ORtg Last Month    95.7857
Name: 25107, dtype: object
25108 390 10 ORtg Last Month    39
Name: 25108, dtype: object
25109 1329 14 ORtg Last Month    94.9286
Name: 25109, dtype: object
25110 355 10 ORtg Last Month    35.5
Name: 25110, dtype: object
25111 0 1 ORtg Last Month    0
Name: 25111, dtype: object
25112 108 14 ORtg Last Month    7.71429
Name: 25112, dtype: object
25113 1811 14 ORtg Last Month    129.357
Name: 25113, dtype: object
25114 1256 11 ORtg Last Month    114.182
Name: 25114, dtype: object
25115 1739 14 ORtg Last Month    124.214
Name: 25115, dtype: object
25116 256 14 ORtg Last Month    18.2857
Name: 25116, dtype: object
25117 1435 14 ORtg Last Month    102.5
Name: 25117, dtype: object
25118 23 5 ORtg Last Month    4.6
Name: 25118, dtype: object
25119 354 8 ORtg Last Month    44.25
Name: 25119, dtype: object
25120 1558 14 ORtg Last Month    111.286
Name: 25120, dtype: object
25121 1480 14 ORtg Last Month    105.714
Name: 25121, dtype: object
25122 1473 14 ORtg Last Month    105.214
Name: 25122, dtype: object
25123 1485 13 ORtg Last Month    114.231
Name: 25123, dtype: object
25124 662 7 ORtg Last Month    94.5714
Name: 25124, dtype: object
25125 140 3 ORtg Last Month    46.6667
Name: 25125, dtype: object
25126 1556 14 ORtg Last Month    111.143
Name: 25126, dtype: object
25127 473 14 ORtg Last Month    33.7857
Name: 25127, dtype: object
25128 1627 14 ORtg Last Month    116.214
Name: 25128, dtype: object
25129 42 4 ORtg Last Month    10.5
Name: 25129, dtype: object
25130 946 14 ORtg Last Month    67.5714
Name: 25130, dtype: object
25131 1390 14 ORtg Last Month    99.2857
Name: 25131, dtype: object
25132 1579 14 ORtg Last Month    112.786
Name: 25132, dtype: object
25133 290 5 ORtg Last Month    58
Name: 25133, dtype: object
25134 813 14 ORtg Last Month    58.0714
Name: 25134, dtype: object
25135 1361 14 ORtg Last Month    97.2143
Name: 25135, dtype: object
25136 1316 12 ORtg Last Month    109.667
Name: 25136, dtype: object
25137 174 13 ORtg Last Month    13.3846
Name: 25137, dtype: object
25138 1069 13 ORtg Last Month    82.2308
Name: 25138, dtype: object
25139 1570 14 ORtg Last Month    112.143
Name: 25139, dtype: object
25140 1530 14 ORtg Last Month    109.286
Name: 25140, dtype: object
25141 1199 13 ORtg Last Month    92.2308
Name: 25141, dtype: object
25142 783 12 ORtg Last Month    65.25
Name: 25142, dtype: object
25143 1299 13 ORtg Last Month    99.9231
Name: 25143, dtype: object
25144 1411 13 ORtg Last Month    108.538
Name: 25144, dtype: object
25145 212 5 ORtg Last Month    42.4
Name: 25145, dtype: object
25146 1075 13 ORtg Last Month    82.6923
Name: 25146, dtype: object
25147 1620 13 ORtg Last Month    124.615
Name: 25147, dtype: object
25148 555 12 ORtg Last Month    46.25
Name: 25148, dtype: object
25149 957 8 ORtg Last Month    119.625
Name: 25149, dtype: object
25150 384 12 ORtg Last Month    32
Name: 25150, dtype: object
25151 1347 13 ORtg Last Month    103.615
Name: 25151, dtype: object
25152 1346 14 ORtg Last Month    96.1429
Name: 25152, dtype: object
25153 261 10 ORtg Last Month    26.1
Name: 25153, dtype: object
25154 749 14 ORtg Last Month    53.5
Name: 25154, dtype: object
25155 1161 13 ORtg Last Month    89.3077
Name: 25155, dtype: object
25156 1680 14 ORtg Last Month    120
Name: 25156, dtype: object
25157 1396 14 ORtg Last Month    99.7143
Name: 25157, dtype: object
25158 1273 13 ORtg Last Month    97.9231
Name: 25158, dtype: object
25159 1555 14 ORtg Last Month    111.071
Name: 25159, dtype: object
25160 61 10 ORtg Last Month    6.1
Name: 25160, dtype: object
25161 1555 14 ORtg Last Month    111.071
Name: 25161, dtype: object
25162 1458 13 ORtg Last Month    112.154
Name: 25162, dtype: object
25163 0 14 ORtg Last Month    0
Name: 25163, dtype: object
25164 1436 12 ORtg Last Month    119.667
Name: 25164, dtype: object
25165 92 1 ORtg Last Month    92
Name: 25165, dtype: object
25166 912 12 ORtg Last Month    76
Name: 25166, dtype: object
25167 1214 12 ORtg Last Month    101.167
Name: 25167, dtype: object
25168 1103 12 ORtg Last Month    91.9167
Name: 25168, dtype: object
25169 1270 12 ORtg Last Month    105.833
Name: 25169, dtype: object
25170 947 11 ORtg Last Month    86.0909
Name: 25170, dtype: object
25171 111 8 ORtg Last Month    13.875
Name: 25171, dtype: object
25172 1417 12 ORtg Last Month    118.083
Name: 25172, dtype: object
25173 1719 12 ORtg Last Month    143.25
Name: 25173, dtype: object
25174 0 12 ORtg Last Month    0
Name: 25174, dtype: object
25175 428 12 ORtg Last Month    35.6667
Name: 25175, dtype: object
25176 0 0 ORtg Last Month    0
Name: 25176, dtype: object
25177 1532 13 ORtg Last Month    117.846
Name: 25177, dtype: object
25178 1274 13 ORtg Last Month    98
Name: 25178, dtype: object
25179 1538 13 ORtg Last Month    118.308
Name: 25179, dtype: object
25180 1397 12 ORtg Last Month    116.417
Name: 25180, dtype: object
25181 1378 13 ORtg Last Month    106
Name: 25181, dtype: object
25182 1210 13 ORtg Last Month    93.0769
Name: 25182, dtype: object
25183 995 13 ORtg Last Month    76.5385
Name: 25183, dtype: object
25184 521 13 ORtg Last Month    40.0769
Name: 25184, dtype: object
25185 436 4 ORtg Last Month    109
Name: 25185, dtype: object
25186 811 7 ORtg Last Month    115.857
Name: 25186, dtype: object
25187 615 13 ORtg Last Month    47.3077
Name: 25187, dtype: object
25188 843 12 ORtg Last Month    70.25
Name: 25188, dtype: object
25189 523 7 ORtg Last Month    74.7143
Name: 25189, dtype: object
25190 1669 13 ORtg Last Month    128.385
Name: 25190, dtype: object
25191 1314 13 ORtg Last Month    101.077
Name: 25191, dtype: object
25192 85 5 ORtg Last Month    17
Name: 25192, dtype: object
25193 1494 12 ORtg Last Month    124.5
Name: 25193, dtype: object
25194 1159 13 ORtg Last Month    89.1538
Name: 25194, dtype: object
25195 311 6 ORtg Last Month    51.8333
Name: 25195, dtype: object
25196 1172 12 ORtg Last Month    97.6667
Name: 25196, dtype: object
25197 1444 13 ORtg Last Month    111.077
Name: 25197, dtype: object
25198 1213 12 ORtg Last Month    101.083
Name: 25198, dtype: object
25199 1581 13 ORtg Last Month    121.615
Name: 25199, dtype: object
25200 721 13 ORtg Last Month    55.4615
Name: 25200, dtype: object

25201 432 11 ORtg Last Month    39.2727
Name: 25201, dtype: object
25202 1143 12 ORtg Last Month    95.25
Name: 25202, dtype: object
25203 1198 12 ORtg Last Month    99.8333
Name: 25203, dtype: object
25204 1482 12 ORtg Last Month    123.5
Name: 25204, dtype: object
25205 115 7 ORtg Last Month    16.4286
Name: 25205, dtype: object
25206 1401 12 ORtg Last Month    116.75
Name: 25206, dtype: object
25207 1127 10 ORtg Last Month    112.7
Name: 25207, dtype: object
25208 1203 12 ORtg Last Month    100.25
Name: 25208, dtype: object
25209 1239 12 ORtg Last Month    103.25
Name: 25209, dtype: object
25210 220 12 ORtg Last Month    18.3333
Name: 25210, dtype: object
25211 358 12 ORtg Last Month    29.8333
Name: 25211, dtype: object
25212 1384 12 ORtg Last Month    115.333
Name: 25212, dtype: object
25213 1551 11 ORtg Last Month    141
Name: 25213, dtype: object
25214 486 7 ORtg Last Month    69.4286
Name: 25214, dtype: object
25215 286 2 ORtg Last Month    143
Name: 25215, dtype: object
25216 1080 12 ORtg Last Month    90
Name: 25216, dtype: object
25217 953 8 ORtg Last Month    119.125
Name: 25217, dtype: object
25218 1436 12 ORtg Last Month    119.667
Name: 25218, dtype: object
25219 1408 12 ORtg Last Month    117.333
Name: 25219, dtype: object
25220 1023 12 ORtg Last Month    85.25
Name: 25220, dtype: object
25221 1362 12 ORtg Last Month    113.5
Name: 25221, dtype: object
25222 652 11 ORtg Last Month    59.2727
Name: 25222, dtype: object
25223 1408 12 ORtg Last Month    117.333
Name: 25223, dtype: object
25224 1290 12 ORtg Last Month    107.5
Name: 25224, dtype: object
25225 1032 9 ORtg Last Month    114.667
Name: 25225, dtype: object
25226 697 12 ORtg Last Month    58.0833
Name: 25226, dtype: object
25227 323 3 ORtg Last Month    107.667
Name: 25227, dtype: object
25228 1399 13 ORtg Last Month    107.615
Name: 25228, dtype: object
25229 1046 10 ORtg Last Month    104.6
Name: 25229, dtype: object
25230 673 7 ORtg Last Month    96.1429
Name: 25230, dtype: object
25231 403 9 ORtg Last Month    44.7778
Name: 25231, dtype: object
25232 1422 13 ORtg Last Month    109.385
Name: 25232, dtype: object
25233 1503 13 ORtg Last Month    115.615
Name: 25233, dtype: object
25234 1354 13 ORtg Last Month    104.154
Name: 25234, dtype: object
25235 1324 12 ORtg Last Month    110.333
Name: 25235, dtype: object
25236 1249 13 ORtg Last Month    96.0769
Name: 25236, dtype: object
25237 810 13 ORtg Last Month    62.3077
Name: 25237, dtype: object
25238 1686 13 ORtg Last Month    129.692
Name: 25238, dtype: object
25239 1634 13 ORtg Last Month    125.692
Name: 25239, dtype: object
25240 275 13 ORtg Last Month    21.1538
Name: 25240, dtype: object
25241 1607 13 ORtg Last Month    123.615
Name: 25241, dtype: object
25242 1584 13 ORtg Last Month    121.846
Name: 25242, dtype: object
25243 994 13 ORtg Last Month    76.4615
Name: 25243, dtype: object
25244 1335 13 ORtg Last Month    102.692
Name: 25244, dtype: object
25245 1387 13 ORtg Last Month    106.692
Name: 25245, dtype: object
25246 227 13 ORtg Last Month    17.4615
Name: 25246, dtype: object
25247 849 12 ORtg Last Month    70.75
Name: 25247, dtype: object
25248 1254 13 ORtg Last Month    96.4615
Name: 25248, dtype: object
25249 1500 13 ORtg Last Month    115.385
Name: 25249, dtype: object
25250 1567 13 ORtg Last Month    120.538
Name: 25250, dtype: object
25251 23 13 ORtg Last Month    1.76923
Name: 25251, dtype: object
25252 1703 14 ORtg Last Month    121.643
Name: 25252, dtype: object
25253 1537 14 ORtg Last Month    109.786
Name: 25253, dtype: object
25254 1669 14 ORtg Last Month    119.214
Name: 25254, dtype: object
25255 1224 12 ORtg Last Month    102
Name: 25255, dtype: object
25256 1188 14 ORtg Last Month    84.8571
Name: 25256, dtype: object
25257 485 13 ORtg Last Month    37.3077
Name: 25257, dtype: object
25258 362 9 ORtg Last Month    40.2222
Name: 25258, dtype: object
25259 0 0 ORtg Last Month    0
Name: 25259, dtype: object
25260 1344 12 ORtg Last Month    112
Name: 25260, dtype: object
25261 1536 14 ORtg Last Month    109.714
Name: 25261, dtype: object
25262 1415 11 ORtg Last Month    128.636
Name: 25262, dtype: object
25263 1366 13 ORtg Last Month    105.077
Name: 25263, dtype: object
25264 428 12 ORtg Last Month    35.6667
Name: 25264, dtype: object
25265 257 5 ORtg Last Month    51.4
Name: 25265, dtype: object
25266 0 10 ORtg Last Month    0
Name: 25266, dtype: object
25267 965 10 ORtg Last Month    96.5
Name: 25267, dtype: object
25268 1352 13 ORtg Last Month    104
Name: 25268, dtype: object
25269 1227 12 ORtg Last Month    102.25
Name: 25269, dtype: object
25270 1497 13 ORtg Last Month    115.154
Name: 25270, dtype: object
25271 624 7 ORtg Last Month    89.1429
Name: 25271, dtype: object
25272 1400 12 ORtg Last Month    116.667
Name: 25272, dtype: object
25273 1423 12 ORtg Last Month    118.583
Name: 25273, dtype: object
25274 996 12 ORtg Last Month    83
Name: 25274, dtype: object
25275 1119 11 ORtg Last Month    101.727
Name: 25275, dtype: object
25276 1277 14 ORtg Last Month    91.2143
Name: 25276, dtype: object
25277 906 13 ORtg Last Month    69.6923
Name: 25277, dtype: object
25278 1683 14 ORtg Last Month    120.214
Name: 25278, dtype: object
25279 1122 14 ORtg Last Month    80.1429
Name: 25279, dtype: object
25280 481 14 ORtg Last Month    34.3571
Name: 25280, dtype: object
25281 1414 14 ORtg Last Month    101
Name: 25281, dtype: object
25282 858 14 ORtg Last Month    61.2857
Name: 25282, dtype: object
25283 27 4 ORtg Last Month    6.75
Name: 25283, dtype: object
25284 1980 14 ORtg Last Month    141.429
Name: 25284, dtype: object
25285 1231 10 ORtg Last Month    123.1
Name: 25285, dtype: object
25286 940 14 ORtg Last Month    67.1429
Name: 25286, dtype: object
25287 1362 14 ORtg Last Month    97.2857
Name: 25287, dtype: object
25288 1302 12 ORtg Last Month    108.5
Name: 25288, dtype: object
25289 1316 12 ORtg Last Month    109.667
Name: 25289, dtype: object
25290 1248 12 ORtg Last Month    104
Name: 25290, dtype: object
25291 1415 12 ORtg Last Month    117.917
Name: 25291, dtype: object
25292 711 12 ORtg Last Month    59.25
Name: 25292, dtype: object
25293 732 11 ORtg Last Month    66.5455
Name: 25293, dtype: object
25294 1287 12 ORtg Last Month    107.25
Name: 25294, dtype: object
25295 567 12 ORtg Last Month    47.25
Name: 25295, dtype: object
25296 446 12 ORtg Last Month    37.1667
Name: 25296, dtype: object
25297 1467 12 ORtg Last Month    122.25
Name: 25297, dtype: object
25298 1459 12 ORtg Last Month    121.583
Name: 25298, dtype: object
25299 1361 12 ORtg Last Month    113.417
Name: 25299, dtype: object
25300 209 5 ORtg Last Month    41.8
Name: 25300, dtype: object
25301 1639 14 ORtg Last Month    117.071
Name: 25301, dtype: object
25302 1839 14 ORtg Last Month    131.357
Name: 25302, dtype: object
25303 282 13 ORtg Last Month    21.6923
Name: 25303, dtype: object
25304 334 6 ORtg Last Month    55.6667
Name: 25304, dtype: object
25305 1576 14 ORtg Last Month    112.571
Name: 25305, dtype: object
25306 1602 14 ORtg Last Month    114.429
Name: 25306, dtype: object
25307 1231 13 ORtg Last Month    94.6923
Name: 25307, dtype: object
25308 1773 14 ORtg Last Month    126.643
Name: 25308, dtype: object
25309 1398 13 ORtg Last Month    107.538
Name: 25309, dtype: object
25310 1374 14 ORtg Last Month    98.1429
Name: 25310, dtype: object
25311 1132 12 ORtg Last Month    94.3333
Name: 25311, dtype: object
25312 1277 11 ORtg Last Month    116.091
Name: 25312, dtype: object
25313 1348 13 ORtg Last Month    103.692
Name: 25313, dtype: object
25314 1059 11 ORtg Last Month    96.2727
Name: 25314, dtype: object
25315 1023 13 ORtg Last Month    78.6923
Name: 25315, dtype: object
25316 1171 10 ORtg Last Month    117.1
Name: 25316, dtype: object
25317 1443 11 ORtg Last Month    131.182
Name: 25317, dtype: object
25318 880 13 ORtg Last Month    67.6923
Name: 25318, dtype: object
25319 1312 13 ORtg Last Month    100.923
Name: 25319, dtype: object
25320 1113 10 ORtg Last Month    111.3
Name: 25320, dtype: object
25321 1435 13 ORtg Last Month    110.385
Name: 25321, dtype: object
25322 218 2 ORtg Last Month    109
Name: 25322, dtype: object
25323 1406 11 ORtg Last Month    127.818
Name: 25323, dtype: object

25324 1097 12 ORtg Last Month    91.4167
Name: 25324, dtype: object
25325 1329 14 ORtg Last Month    94.9286
Name: 25325, dtype: object
25326 563 14 ORtg Last Month    40.2143
Name: 25326, dtype: object
25327 1520 14 ORtg Last Month    108.571
Name: 25327, dtype: object
25328 719 9 ORtg Last Month    79.8889
Name: 25328, dtype: object
25329 1568 14 ORtg Last Month    112
Name: 25329, dtype: object
25330 1702 14 ORtg Last Month    121.571
Name: 25330, dtype: object
25331 1019 9 ORtg Last Month    113.222
Name: 25331, dtype: object
25332 1044 14 ORtg Last Month    74.5714
Name: 25332, dtype: object
25333 1100 12 ORtg Last Month    91.6667
Name: 25333, dtype: object
25334 1687 14 ORtg Last Month    120.5
Name: 25334, dtype: object
25335 668 14 ORtg Last Month    47.7143
Name: 25335, dtype: object
25336 0 4 ORtg Last Month    0
Name: 25336, dtype: object
25337 1067 12 ORtg Last Month    88.9167
Name: 25337, dtype: object
25338 1481 14 ORtg Last Month    105.786
Name: 25338, dtype: object
25339 1497 14 ORtg Last Month    106.929
Name: 25339, dtype: object
25340 1551 14 ORtg Last Month    110.786
Name: 25340, dtype: object
25341 633 9 ORtg Last Month    70.3333
Name: 25341, dtype: object
25342 1309 14 ORtg Last Month    93.5
Name: 25342, dtype: object
25343 1398 11 ORtg Last Month    127.091
Name: 25343, dtype: object
25344 1107 12 ORtg Last Month    92.25
Name: 25344, dtype: object
25345 1671 14 ORtg Last Month    119.357
Name: 25345, dtype: object
25346 1394 13 ORtg Last Month    107.231
Name: 25346, dtype: object
25347 1109 12 ORtg Last Month    92.4167
Name: 25347, dtype: object
25348 1361 13 ORtg Last Month    104.692
Name: 25348, dtype: object
25349 640 11 ORtg Last Month    58.1818
Name: 25349, dtype: object
25350 369 10 ORtg Last Month    36.9
Name: 25350, dtype: object
25351 1598 13 ORtg Last Month    122.923
Name: 25351, dtype: object
25352 1186 13 ORtg Last Month    91.2308
Name: 25352, dtype: object
25353 309 12 ORtg Last Month    25.75
Name: 25353, dtype: object
25354 1535 13 ORtg Last Month    118.077
Name: 25354, dtype: object
25355 1328 11 ORtg Last Month    120.727
Name: 25355, dtype: object
25356 1373 13 ORtg Last Month    105.615
Name: 25356, dtype: object
25357 1443 13 ORtg Last Month    111
Name: 25357, dtype: object
25358 980 13 ORtg Last Month    75.3846
Name: 25358, dtype: object
25359 717 12 ORtg Last Month    59.75
Name: 25359, dtype: object
25360 1348 13 ORtg Last Month    103.692
Name: 25360, dtype: object
25361 1017 13 ORtg Last Month    78.2308
Name: 25361, dtype: object
25362 1524 13 ORtg Last Month    117.231
Name: 25362, dtype: object
25363 1313 13 ORtg Last Month    101
Name: 25363, dtype: object
25364 1302 13 ORtg Last Month    100.154
Name: 25364, dtype: object
25365 1021 8 ORtg Last Month    127.625
Name: 25365, dtype: object
25366 1584 13 ORtg Last Month    121.846
Name: 25366, dtype: object
25367 1396 13 ORtg Last Month    107.385
Name: 25367, dtype: object
25368 91 12 ORtg Last Month    7.58333
Name: 25368, dtype: object
25369 1522 14 ORtg Last Month    108.714
Name: 25369, dtype: object
25370 1241 11 ORtg Last Month    112.818
Name: 25370, dtype: object
25371 844 8 ORtg Last Month    105.5
Name: 25371, dtype: object
25372 504 10 ORtg Last Month    50.4
Name: 25372, dtype: object
25373 1564 14 ORtg Last Month    111.714
Name: 25373, dtype: object
25374 1522 14 ORtg Last Month    108.714
Name: 25374, dtype: object
25375 1358 14 ORtg Last Month    97
Name: 25375, dtype: object
25376 1622 14 ORtg Last Month    115.857
Name: 25376, dtype: object
25377 1436 13 ORtg Last Month    110.462
Name: 25377, dtype: object
25378 965 14 ORtg Last Month    68.9286
Name: 25378, dtype: object
25379 1815 14 ORtg Last Month    129.643
Name: 25379, dtype: object
25380 1859 14 ORtg Last Month    132.786
Name: 25380, dtype: object
25381 315 14 ORtg Last Month    22.5
Name: 25381, dtype: object
25382 1710 14 ORtg Last Month    122.143
Name: 25382, dtype: object
25383 1712 14 ORtg Last Month    122.286
Name: 25383, dtype: object
25384 1062 14 ORtg Last Month    75.8571
Name: 25384, dtype: object
25385 1470 14 ORtg Last Month    105
Name: 25385, dtype: object
25386 227 14 ORtg Last Month    16.2143
Name: 25386, dtype: object
25387 849 13 ORtg Last Month    65.3077
Name: 25387, dtype: object
25388 1697 14 ORtg Last Month    121.214
Name: 25388, dtype: object
25389 1363 14 ORtg Last Month    97.3571
Name: 25389, dtype: object
25390 1601 14 ORtg Last Month    114.357
Name: 25390, dtype: object
25391 23 14 ORtg Last Month    1.64286
Name: 25391, dtype: object
25392 1467 14 ORtg Last Month    104.786
Name: 25392, dtype: object
25393 1084 10 ORtg Last Month    108.4
Name: 25393, dtype: object
25394 1217 14 ORtg Last Month    86.9286
Name: 25394, dtype: object
25395 690 11 ORtg Last Month    62.7273
Name: 25395, dtype: object
25396 1580 14 ORtg Last Month    112.857
Name: 25396, dtype: object
25397 1469 13 ORtg Last Month    113
Name: 25397, dtype: object
25398 1468 14 ORtg Last Month    104.857
Name: 25398, dtype: object
25399 749 14 ORtg Last Month    53.5
Name: 25399, dtype: object
25400 912 9 ORtg Last Month    101.333
Name: 25400, dtype: object
25401 1618 14 ORtg Last Month    115.571
Name: 25401, dtype: object
25402 1915 14 ORtg Last Month    136.786
Name: 25402, dtype: object
25403 659 14 ORtg Last Month    47.0714
Name: 25403, dtype: object
25404 1513 14 ORtg Last Month    108.071
Name: 25404, dtype: object
25405 1556 14 ORtg Last Month    111.143
Name: 25405, dtype: object
25406 1549 14 ORtg Last Month    110.643
Name: 25406, dtype: object
25407 1602 14 ORtg Last Month    114.429
Name: 25407, dtype: object
25408 1700 14 ORtg Last Month    121.429
Name: 25408, dtype: object
25409 1416 14 ORtg Last Month    101.143
Name: 25409, dtype: object
25410 1287 12 ORtg Last Month    107.25
Name: 25410, dtype: object
25411 961 11 ORtg Last Month    87.3636
Name: 25411, dtype: object
25412 211 1 ORtg Last Month    211
Name: 25412, dtype: object
25413 1274 11 ORtg Last Month    115.818
Name: 25413, dtype: object
25414 1023 13 ORtg Last Month    78.6923
Name: 25414, dtype: object
25415 191 14 ORtg Last Month    13.6429
Name: 25415, dtype: object
25416 1419 13 ORtg Last Month    109.154
Name: 25416, dtype: object
25417 1411 13 ORtg Last Month    108.538
Name: 25417, dtype: object
25418 1407 13 ORtg Last Month    108.231
Name: 25418, dtype: object
25419 1529 13 ORtg Last Month    117.615
Name: 25419, dtype: object
25420 711 13 ORtg Last Month    54.6923
Name: 25420, dtype: object
25421 1403 13 ORtg Last Month    107.923
Name: 25421, dtype: object
25422 876 12 ORtg Last Month    73
Name: 25422, dtype: object
25423 0 3 ORtg Last Month    0
Name: 25423, dtype: object
25424 446 13 ORtg Last Month    34.3077
Name: 25424, dtype: object
25425 567 13 ORtg Last Month    43.6154
Name: 25425, dtype: object
25426 1613 13 ORtg Last Month    124.077
Name: 25426, dtype: object
25427 1497 13 ORtg Last Month    115.154
Name: 25427, dtype: object
25428 1574 13 ORtg Last Month    121.077
Name: 25428, dtype: object
25429 1559 14 ORtg Last Month    111.357
Name: 25429, dtype: object
25430 1684 14 ORtg Last Month    120.286
Name: 25430, dtype: object
25431 1377 15 ORtg Last Month    91.8
Name: 25431, dtype: object
25432 1844 15 ORtg Last Month    122.933
Name: 25432, dtype: object
25433 1527 13 ORtg Last Month    117.462
Name: 25433, dtype: object
25434 479 5 ORtg Last Month    95.8
Name: 25434, dtype: object
25435 1272 15 ORtg Last Month    84.8
Name: 25435, dtype: object
25436 788 10 ORtg Last Month    78.8
Name: 25436, dtype: object
25437 2001 15 ORtg Last Month    133.4
Name: 25437, dtype: object
25438 927 13 ORtg Last Month    71.3077
Name: 25438, dtype: object
25439 727 15 ORtg Last Month    48.4667
Name: 25439, dtype: object
25440 1063 9 ORtg Last Month    118.111
Name: 25440, dtype: object
25441 1421 13 ORtg Last Month    109.308
Name: 25441, dtype: object
25442 1678 13 ORtg Last Month    129.077
Name: 25442, dtype: object
25443 659 13 ORtg Last Month    50.6923
Name: 25443, dtype: object
25444 1507 12 ORtg Last Month    125.583
Name: 25444, dtype: object
25445 1530 13 ORtg Last Month    117.692
Name: 25445, dtype: object
25446 1276 13 ORtg Last Month    98.1538
Name: 25446, dtype: object

25447 1354 13 ORtg Last Month    104.154
Name: 25447, dtype: object
25448 374 6 ORtg Last Month    62.3333
Name: 25448, dtype: object
25449 488 13 ORtg Last Month    37.5385
Name: 25449, dtype: object
25450 1526 13 ORtg Last Month    117.385
Name: 25450, dtype: object
25451 1435 13 ORtg Last Month    110.385
Name: 25451, dtype: object
25452 1162 14 ORtg Last Month    83
Name: 25452, dtype: object
25453 1252 14 ORtg Last Month    89.4286
Name: 25453, dtype: object
25454 146 8 ORtg Last Month    18.25
Name: 25454, dtype: object
25455 1370 12 ORtg Last Month    114.167
Name: 25455, dtype: object
25456 1224 12 ORtg Last Month    102
Name: 25456, dtype: object
25457 1374 14 ORtg Last Month    98.1429
Name: 25457, dtype: object
25458 1422 14 ORtg Last Month    101.571
Name: 25458, dtype: object
25459 285 6 ORtg Last Month    47.5
Name: 25459, dtype: object
25460 1695 14 ORtg Last Month    121.071
Name: 25460, dtype: object
25461 410 7 ORtg Last Month    58.5714
Name: 25461, dtype: object
25462 726 14 ORtg Last Month    51.8571
Name: 25462, dtype: object
25463 521 9 ORtg Last Month    57.8889
Name: 25463, dtype: object
25464 816 12 ORtg Last Month    68
Name: 25464, dtype: object
25465 1221 12 ORtg Last Month    101.75
Name: 25465, dtype: object
25466 216 8 ORtg Last Month    27
Name: 25466, dtype: object
25467 1405 12 ORtg Last Month    117.083
Name: 25467, dtype: object
25468 922 12 ORtg Last Month    76.8333
Name: 25468, dtype: object
25469 1085 12 ORtg Last Month    90.4167
Name: 25469, dtype: object
25470 1217 12 ORtg Last Month    101.417
Name: 25470, dtype: object
25471 0 2 ORtg Last Month    0
Name: 25471, dtype: object
25472 0 1 ORtg Last Month    0
Name: 25472, dtype: object
25473 1262 11 ORtg Last Month    114.727
Name: 25473, dtype: object
25474 1288 11 ORtg Last Month    117.091
Name: 25474, dtype: object
25475 1420 12 ORtg Last Month    118.333
Name: 25475, dtype: object
25476 1448 15 ORtg Last Month    96.5333
Name: 25476, dtype: object
25477 1288 11 ORtg Last Month    117.091
Name: 25477, dtype: object
25478 1397 15 ORtg Last Month    93.1333
Name: 25478, dtype: object
25479 1665 15 ORtg Last Month    111
Name: 25479, dtype: object
25480 1443 15 ORtg Last Month    96.2
Name: 25480, dtype: object
25481 536 11 ORtg Last Month    48.7273
Name: 25481, dtype: object
25482 355 11 ORtg Last Month    32.2727
Name: 25482, dtype: object
25483 108 15 ORtg Last Month    7.2
Name: 25483, dtype: object
25484 1387 12 ORtg Last Month    115.583
Name: 25484, dtype: object
25485 1412 12 ORtg Last Month    117.667
Name: 25485, dtype: object
25486 1944 15 ORtg Last Month    129.6
Name: 25486, dtype: object
25487 1882 15 ORtg Last Month    125.467
Name: 25487, dtype: object
25488 256 15 ORtg Last Month    17.0667
Name: 25488, dtype: object
25489 354 9 ORtg Last Month    39.3333
Name: 25489, dtype: object
25490 1545 15 ORtg Last Month    103
Name: 25490, dtype: object
25491 23 6 ORtg Last Month    3.83333
Name: 25491, dtype: object
25492 1485 14 ORtg Last Month    106.071
Name: 25492, dtype: object
25493 1669 15 ORtg Last Month    111.267
Name: 25493, dtype: object
25494 1632 15 ORtg Last Month    108.8
Name: 25494, dtype: object
25495 1548 15 ORtg Last Month    103.2
Name: 25495, dtype: object
25496 140 4 ORtg Last Month    35
Name: 25496, dtype: object
25497 662 8 ORtg Last Month    82.75
Name: 25497, dtype: object
25498 1720 15 ORtg Last Month    114.667
Name: 25498, dtype: object
25499 1703 15 ORtg Last Month    113.533
Name: 25499, dtype: object
25500 558 15 ORtg Last Month    37.2
Name: 25500, dtype: object
25501 1297 14 ORtg Last Month    92.6429
Name: 25501, dtype: object
25502 0 0 ORtg Last Month    0
Name: 25502, dtype: object
25503 272 3 ORtg Last Month    90.6667
Name: 25503, dtype: object
25504 854 13 ORtg Last Month    65.6923
Name: 25504, dtype: object
25505 1427 14 ORtg Last Month    101.929
Name: 25505, dtype: object
25506 332 6 ORtg Last Month    55.3333
Name: 25506, dtype: object
25507 1536 14 ORtg Last Month    109.714
Name: 25507, dtype: object
25508 1075 14 ORtg Last Month    76.7857
Name: 25508, dtype: object
25509 1752 14 ORtg Last Month    125.143
Name: 25509, dtype: object
25510 1069 9 ORtg Last Month    118.778
Name: 25510, dtype: object
25511 696 13 ORtg Last Month    53.5385
Name: 25511, dtype: object
25512 427 13 ORtg Last Month    32.8462
Name: 25512, dtype: object
25513 1452 14 ORtg Last Month    103.714
Name: 25513, dtype: object
25514 1429 15 ORtg Last Month    95.2667
Name: 25514, dtype: object
25515 749 15 ORtg Last Month    49.9333
Name: 25515, dtype: object
25516 261 11 ORtg Last Month    23.7273
Name: 25516, dtype: object
25517 1268 14 ORtg Last Month    90.5714
Name: 25517, dtype: object
25518 1758 15 ORtg Last Month    117.2
Name: 25518, dtype: object
25519 1483 15 ORtg Last Month    98.8667
Name: 25519, dtype: object
25520 1406 14 ORtg Last Month    100.429
Name: 25520, dtype: object
25521 1666 15 ORtg Last Month    111.067
Name: 25521, dtype: object
25522 61 11 ORtg Last Month    5.54545
Name: 25522, dtype: object
25523 1643 15 ORtg Last Month    109.533
Name: 25523, dtype: object
25524 1584 14 ORtg Last Month    113.143
Name: 25524, dtype: object
25525 0 15 ORtg Last Month    0
Name: 25525, dtype: object
25526 1594 13 ORtg Last Month    122.615
Name: 25526, dtype: object
25527 179 2 ORtg Last Month    89.5
Name: 25527, dtype: object
25528 1020 13 ORtg Last Month    78.4615
Name: 25528, dtype: object
25529 1236 13 ORtg Last Month    95.0769
Name: 25529, dtype: object
25530 1075 12 ORtg Last Month    89.5833
Name: 25530, dtype: object
25531 1366 13 ORtg Last Month    105.077
Name: 25531, dtype: object
25532 1368 13 ORtg Last Month    105.231
Name: 25532, dtype: object
25533 1523 13 ORtg Last Month    117.154
Name: 25533, dtype: object
25534 1852 13 ORtg Last Month    142.462
Name: 25534, dtype: object
25535 476 13 ORtg Last Month    36.6154
Name: 25535, dtype: object
25536 0 13 ORtg Last Month    0
Name: 25536, dtype: object
25537 1270 13 ORtg Last Month    97.6923
Name: 25537, dtype: object
25538 1577 13 ORtg Last Month    121.308
Name: 25538, dtype: object
25539 1281 13 ORtg Last Month    98.5385
Name: 25539, dtype: object
25540 115 8 ORtg Last Month    14.375
Name: 25540, dtype: object
25541 1503 13 ORtg Last Month    115.615
Name: 25541, dtype: object
25542 1256 11 ORtg Last Month    114.182
Name: 25542, dtype: object
25543 1317 13 ORtg Last Month    101.308
Name: 25543, dtype: object
25544 1335 13 ORtg Last Month    102.692
Name: 25544, dtype: object
25545 220 13 ORtg Last Month    16.9231
Name: 25545, dtype: object
25546 358 13 ORtg Last Month    27.5385
Name: 25546, dtype: object
25547 1508 13 ORtg Last Month    116
Name: 25547, dtype: object
25548 1648 12 ORtg Last Month    137.333
Name: 25548, dtype: object
25549 486 8 ORtg Last Month    60.75
Name: 25549, dtype: object
25550 404 3 ORtg Last Month    134.667
Name: 25550, dtype: object
25551 1168 13 ORtg Last Month    89.8462
Name: 25551, dtype: object
25552 1061 9 ORtg Last Month    117.889
Name: 25552, dtype: object
25553 1576 13 ORtg Last Month    121.231
Name: 25553, dtype: object
25554 1080 13 ORtg Last Month    83.0769
Name: 25554, dtype: object
25555 1525 13 ORtg Last Month    117.308
Name: 25555, dtype: object
25556 1362 13 ORtg Last Month    104.769
Name: 25556, dtype: object
25557 652 12 ORtg Last Month    54.3333
Name: 25557, dtype: object
25558 1532 13 ORtg Last Month    117.846
Name: 25558, dtype: object
25559 1433 13 ORtg Last Month    110.231
Name: 25559, dtype: object
25560 1135 10 ORtg Last Month    113.5
Name: 25560, dtype: object
25561 323 4 ORtg Last Month    80.75
Name: 25561, dtype: object
25562 1800 15 ORtg Last Month    120
Name: 25562, dtype: object
25563 1575 15 ORtg Last Month    105
Name: 25563, dtype: object
25564 1325 13 ORtg Last Month    101.923
Name: 25564, dtype: object
25565 674 14 ORtg Last Month    48.1429
Name: 25565, dtype: object
25566 1830 15 ORtg Last Month    122
Name: 25566, dtype: object
25567 1282 15 ORtg Last Month    85.4667
Name: 25567, dtype: object
25568 1511 12 ORtg Last Month    125.917
Name: 25568, dtype: object
25569 1511 13 ORtg Last Month    116.231
Name: 25569, dtype: object
25570 1665 15 ORtg Last Month    111
Name: 25570, dtype: object

25571 0 1 ORtg Last Month    0
Name: 25571, dtype: object
25572 1484 13 ORtg Last Month    114.154
Name: 25572, dtype: object
25573 1501 14 ORtg Last Month    107.214
Name: 25573, dtype: object
25574 1311 14 ORtg Last Month    93.6429
Name: 25574, dtype: object
25575 1313 13 ORtg Last Month    101
Name: 25575, dtype: object
25576 1647 14 ORtg Last Month    117.643
Name: 25576, dtype: object
25577 1149 12 ORtg Last Month    95.75
Name: 25577, dtype: object
25578 934 13 ORtg Last Month    71.8462
Name: 25578, dtype: object
25579 747 14 ORtg Last Month    53.3571
Name: 25579, dtype: object
25580 499 10 ORtg Last Month    49.9
Name: 25580, dtype: object
25581 370 12 ORtg Last Month    30.8333
Name: 25581, dtype: object
25582 1889 15 ORtg Last Month    125.933
Name: 25582, dtype: object
25583 1437 14 ORtg Last Month    102.643
Name: 25583, dtype: object
25584 674 14 ORtg Last Month    48.1429
Name: 25584, dtype: object
25585 1986 15 ORtg Last Month    132.4
Name: 25585, dtype: object
25586 0 4 ORtg Last Month    0
Name: 25586, dtype: object
25587 1481 15 ORtg Last Month    98.7333
Name: 25587, dtype: object
25588 1621 15 ORtg Last Month    108.067
Name: 25588, dtype: object
25589 1597 15 ORtg Last Month    106.467
Name: 25589, dtype: object
25590 1882 15 ORtg Last Month    125.467
Name: 25590, dtype: object
25591 1473 14 ORtg Last Month    105.214
Name: 25591, dtype: object
25592 1505 14 ORtg Last Month    107.5
Name: 25592, dtype: object
25593 713 8 ORtg Last Month    89.125
Name: 25593, dtype: object
25594 1435 13 ORtg Last Month    110.385
Name: 25594, dtype: object
25595 1576 14 ORtg Last Month    112.571
Name: 25595, dtype: object
25596 533 13 ORtg Last Month    41
Name: 25596, dtype: object
25597 1057 13 ORtg Last Month    81.3077
Name: 25597, dtype: object
25598 380 6 ORtg Last Month    63.3333
Name: 25598, dtype: object
25599 1565 13 ORtg Last Month    120.385
Name: 25599, dtype: object
25600 1189 12 ORtg Last Month    99.0833
Name: 25600, dtype: object
25601 1766 15 ORtg Last Month    117.733
Name: 25601, dtype: object
25602 987 14 ORtg Last Month    70.5
Name: 25602, dtype: object
25603 1455 15 ORtg Last Month    97
Name: 25603, dtype: object
25604 0 0 ORtg Last Month    0
Name: 25604, dtype: object
25605 621 15 ORtg Last Month    41.4
Name: 25605, dtype: object
25606 1224 15 ORtg Last Month    81.6
Name: 25606, dtype: object
25607 1460 15 ORtg Last Month    97.3333
Name: 25607, dtype: object
25608 950 15 ORtg Last Month    63.3333
Name: 25608, dtype: object
25609 27 5 ORtg Last Month    5.4
Name: 25609, dtype: object
25610 1432 15 ORtg Last Month    95.4667
Name: 25610, dtype: object
25611 1335 11 ORtg Last Month    121.364
Name: 25611, dtype: object
25612 2158 15 ORtg Last Month    143.867
Name: 25612, dtype: object
25613 1740 15 ORtg Last Month    116
Name: 25613, dtype: object
25614 1991 15 ORtg Last Month    132.733
Name: 25614, dtype: object
25615 282 14 ORtg Last Month    20.1429
Name: 25615, dtype: object
25616 1727 15 ORtg Last Month    115.133
Name: 25616, dtype: object
25617 1735 15 ORtg Last Month    115.667
Name: 25617, dtype: object
25618 1360 14 ORtg Last Month    97.1429
Name: 25618, dtype: object
25619 1507 14 ORtg Last Month    107.643
Name: 25619, dtype: object
25620 1890 15 ORtg Last Month    126
Name: 25620, dtype: object
25621 1515 15 ORtg Last Month    101
Name: 25621, dtype: object
25622 1204 13 ORtg Last Month    92.6154
Name: 25622, dtype: object
25623 278 10 ORtg Last Month    27.8
Name: 25623, dtype: object
25624 1060 14 ORtg Last Month    75.7143
Name: 25624, dtype: object
25625 1386 12 ORtg Last Month    115.5
Name: 25625, dtype: object
25626 1285 11 ORtg Last Month    116.818
Name: 25626, dtype: object
25627 981 14 ORtg Last Month    70.0714
Name: 25627, dtype: object
25628 1410 14 ORtg Last Month    100.714
Name: 25628, dtype: object
25629 331 11 ORtg Last Month    30.0909
Name: 25629, dtype: object
25630 1579 12 ORtg Last Month    131.583
Name: 25630, dtype: object
25631 1230 11 ORtg Last Month    111.818
Name: 25631, dtype: object
25632 1636 12 ORtg Last Month    136.333
Name: 25632, dtype: object
25633 1574 14 ORtg Last Month    112.429
Name: 25633, dtype: object
25634 1397 13 ORtg Last Month    107.462
Name: 25634, dtype: object
25635 1405 13 ORtg Last Month    108.077
Name: 25635, dtype: object
25636 1332 13 ORtg Last Month    102.462
Name: 25636, dtype: object
25637 945 13 ORtg Last Month    72.6923
Name: 25637, dtype: object
25638 319 9 ORtg Last Month    35.4444
Name: 25638, dtype: object
25639 1218 13 ORtg Last Month    93.6923
Name: 25639, dtype: object
25640 1030 13 ORtg Last Month    79.2308
Name: 25640, dtype: object
25641 1322 13 ORtg Last Month    101.692
Name: 25641, dtype: object
25642 0 3 ORtg Last Month    0
Name: 25642, dtype: object
25643 0 2 ORtg Last Month    0
Name: 25643, dtype: object
25644 1359 12 ORtg Last Month    113.25
Name: 25644, dtype: object
25645 1420 13 ORtg Last Month    109.231
Name: 25645, dtype: object
25646 1439 12 ORtg Last Month    119.917
Name: 25646, dtype: object
25647 1550 16 ORtg Last Month    96.875
Name: 25647, dtype: object
25648 1307 12 ORtg Last Month    108.917
Name: 25648, dtype: object
25649 1765 16 ORtg Last Month    110.312
Name: 25649, dtype: object
25650 1519 16 ORtg Last Month    94.9375
Name: 25650, dtype: object
25651 590 12 ORtg Last Month    49.1667
Name: 25651, dtype: object
25652 1533 16 ORtg Last Month    95.8125
Name: 25652, dtype: object
25653 451 12 ORtg Last Month    37.5833
Name: 25653, dtype: object
25654 108 16 ORtg Last Month    6.75
Name: 25654, dtype: object
25655 1387 13 ORtg Last Month    106.692
Name: 25655, dtype: object
25656 2058 16 ORtg Last Month    128.625
Name: 25656, dtype: object
25657 2001 16 ORtg Last Month    125.062
Name: 25657, dtype: object
25658 1533 13 ORtg Last Month    117.923
Name: 25658, dtype: object
25659 304 16 ORtg Last Month    19
Name: 25659, dtype: object
25660 1790 15 ORtg Last Month    119.333
Name: 25660, dtype: object
25661 736 15 ORtg Last Month    49.0667
Name: 25661, dtype: object
25662 780 10 ORtg Last Month    78
Name: 25662, dtype: object
25663 0 5 ORtg Last Month    0
Name: 25663, dtype: object
25664 1587 15 ORtg Last Month    105.8
Name: 25664, dtype: object
25665 1166 13 ORtg Last Month    89.6923
Name: 25665, dtype: object
25666 1607 15 ORtg Last Month    107.133
Name: 25666, dtype: object
25667 1657 15 ORtg Last Month    110.467
Name: 25667, dtype: object
25668 1408 15 ORtg Last Month    93.8667
Name: 25668, dtype: object
25669 203 3 ORtg Last Month    67.6667
Name: 25669, dtype: object
25670 1502 12 ORtg Last Month    125.167
Name: 25670, dtype: object
25671 1201 13 ORtg Last Month    92.3846
Name: 25671, dtype: object
25672 1671 15 ORtg Last Month    111.4
Name: 25672, dtype: object
25673 1660 14 ORtg Last Month    118.571
Name: 25673, dtype: object
25674 1306 14 ORtg Last Month    93.2857
Name: 25674, dtype: object
25675 1530 13 ORtg Last Month    117.692
Name: 25675, dtype: object
25676 1659 14 ORtg Last Month    118.5
Name: 25676, dtype: object
25677 1288 14 ORtg Last Month    92
Name: 25677, dtype: object
25678 1504 14 ORtg Last Month    107.429
Name: 25678, dtype: object
25679 1117 14 ORtg Last Month    79.7857
Name: 25679, dtype: object
25680 521 14 ORtg Last Month    37.2143
Name: 25680, dtype: object
25681 583 5 ORtg Last Month    116.6
Name: 25681, dtype: object
25682 866 8 ORtg Last Month    108.25
Name: 25682, dtype: object
25683 615 14 ORtg Last Month    43.9286
Name: 25683, dtype: object
25684 843 13 ORtg Last Month    64.8462
Name: 25684, dtype: object
25685 523 8 ORtg Last Month    65.375
Name: 25685, dtype: object
25686 1494 14 ORtg Last Month    106.714
Name: 25686, dtype: object
25687 1483 14 ORtg Last Month    105.929
Name: 25687, dtype: object
25688 1209 13 ORtg Last Month    93
Name: 25688, dtype: object
25689 369 11 ORtg Last Month    33.5455
Name: 25689, dtype: object
25690 0 0 ORtg Last Month    0
Name: 25690, dtype: object
25691 1705 14 ORtg Last Month    121.786
Name: 25691, dtype: object
25692 408 13 ORtg Last Month    31.3846
Name: 25692, dtype: object
25693 1665 14 ORtg Last Month    118.929
Name: 25693, dtype: object
25694 1481 12 ORtg Last Month    123.417
Name: 25694, dtype: object

25695 1438 14 ORtg Last Month    102.714
Name: 25695, dtype: object
25696 1837 14 ORtg Last Month    131.214
Name: 25696, dtype: object
25697 1430 14 ORtg Last Month    102.143
Name: 25697, dtype: object
25698 208 6 ORtg Last Month    34.6667
Name: 25698, dtype: object
25699 1518 14 ORtg Last Month    108.429
Name: 25699, dtype: object
25700 1619 13 ORtg Last Month    124.538
Name: 25700, dtype: object
25701 1329 13 ORtg Last Month    102.231
Name: 25701, dtype: object
25702 407 7 ORtg Last Month    58.1429
Name: 25702, dtype: object
25703 1289 14 ORtg Last Month    92.0714
Name: 25703, dtype: object
25704 1708 14 ORtg Last Month    122
Name: 25704, dtype: object
25705 1342 13 ORtg Last Month    103.231
Name: 25705, dtype: object
25706 771 14 ORtg Last Month    55.0714
Name: 25706, dtype: object
25707 432 12 ORtg Last Month    36
Name: 25707, dtype: object
25708 1565 14 ORtg Last Month    111.786
Name: 25708, dtype: object
25709 1085 14 ORtg Last Month    77.5
Name: 25709, dtype: object
25710 717 13 ORtg Last Month    55.1538
Name: 25710, dtype: object
25711 1176 14 ORtg Last Month    84
Name: 25711, dtype: object
25712 1489 14 ORtg Last Month    106.357
Name: 25712, dtype: object
25713 1628 14 ORtg Last Month    116.286
Name: 25713, dtype: object
25714 1393 14 ORtg Last Month    99.5
Name: 25714, dtype: object
25715 1428 14 ORtg Last Month    102
Name: 25715, dtype: object
25716 1142 9 ORtg Last Month    126.889
Name: 25716, dtype: object
25717 91 13 ORtg Last Month    7
Name: 25717, dtype: object
25718 1711 14 ORtg Last Month    122.214
Name: 25718, dtype: object
25719 1624 15 ORtg Last Month    108.267
Name: 25719, dtype: object
25720 1383 12 ORtg Last Month    115.25
Name: 25720, dtype: object
25721 932 9 ORtg Last Month    103.556
Name: 25721, dtype: object
25722 1691 15 ORtg Last Month    112.733
Name: 25722, dtype: object
25723 1657 15 ORtg Last Month    110.467
Name: 25723, dtype: object
25724 1444 15 ORtg Last Month    96.2667
Name: 25724, dtype: object
25725 1661 15 ORtg Last Month    110.733
Name: 25725, dtype: object
25726 1469 14 ORtg Last Month    104.929
Name: 25726, dtype: object
25727 965 15 ORtg Last Month    64.3333
Name: 25727, dtype: object
25728 1979 15 ORtg Last Month    131.933
Name: 25728, dtype: object
25729 1943 15 ORtg Last Month    129.533
Name: 25729, dtype: object
25730 315 15 ORtg Last Month    21
Name: 25730, dtype: object
25731 1854 15 ORtg Last Month    123.6
Name: 25731, dtype: object
25732 1832 15 ORtg Last Month    122.133
Name: 25732, dtype: object
25733 1078 15 ORtg Last Month    71.8667
Name: 25733, dtype: object
25734 197 2 ORtg Last Month    98.5
Name: 25734, dtype: object
25735 1532 15 ORtg Last Month    102.133
Name: 25735, dtype: object
25736 849 14 ORtg Last Month    60.6429
Name: 25736, dtype: object
25737 372 15 ORtg Last Month    24.8
Name: 25737, dtype: object
25738 1686 15 ORtg Last Month    112.4
Name: 25738, dtype: object
25739 1864 15 ORtg Last Month    124.267
Name: 25739, dtype: object
25740 1494 15 ORtg Last Month    99.6
Name: 25740, dtype: object
25741 23 15 ORtg Last Month    1.53333
Name: 25741, dtype: object
25742 1503 13 ORtg Last Month    115.615
Name: 25742, dtype: object
25743 1672 14 ORtg Last Month    119.429
Name: 25743, dtype: object
25744 1230 12 ORtg Last Month    102.5
Name: 25744, dtype: object
25745 162 11 ORtg Last Month    14.7273
Name: 25745, dtype: object
25746 0 1 ORtg Last Month    0
Name: 25746, dtype: object
25747 1084 10 ORtg Last Month    108.4
Name: 25747, dtype: object
25748 1329 14 ORtg Last Month    94.9286
Name: 25748, dtype: object
25749 1541 14 ORtg Last Month    110.071
Name: 25749, dtype: object
25750 723 14 ORtg Last Month    51.6429
Name: 25750, dtype: object
25751 1079 13 ORtg Last Month    83
Name: 25751, dtype: object
25752 987 9 ORtg Last Month    109.667
Name: 25752, dtype: object
25753 475 12 ORtg Last Month    39.5833
Name: 25753, dtype: object
25754 0 0 ORtg Last Month    0
Name: 25754, dtype: object
25755 1610 15 ORtg Last Month    107.333
Name: 25755, dtype: object
25756 471 7 ORtg Last Month    67.2857
Name: 25756, dtype: object
25757 666 14 ORtg Last Month    47.5714
Name: 25757, dtype: object
25758 0 11 ORtg Last Month    0
Name: 25758, dtype: object
25759 1648 15 ORtg Last Month    109.867
Name: 25759, dtype: object
25760 826 9 ORtg Last Month    91.7778
Name: 25760, dtype: object
25761 1653 15 ORtg Last Month    110.2
Name: 25761, dtype: object
25762 1551 14 ORtg Last Month    110.786
Name: 25762, dtype: object
25763 1209 14 ORtg Last Month    86.3571
Name: 25763, dtype: object
25764 1673 14 ORtg Last Month    119.5
Name: 25764, dtype: object
25765 1505 14 ORtg Last Month    107.5
Name: 25765, dtype: object
25766 1601 14 ORtg Last Month    114.357
Name: 25766, dtype: object
25767 1504 14 ORtg Last Month    107.429
Name: 25767, dtype: object
25768 1566 14 ORtg Last Month    111.857
Name: 25768, dtype: object
25769 1677 14 ORtg Last Month    119.786
Name: 25769, dtype: object
25770 1416 14 ORtg Last Month    101.143
Name: 25770, dtype: object
25771 1328 12 ORtg Last Month    110.667
Name: 25771, dtype: object
25772 1001 11 ORtg Last Month    91
Name: 25772, dtype: object
25773 272 2 ORtg Last Month    136
Name: 25773, dtype: object
25774 1013 13 ORtg Last Month    77.9231
Name: 25774, dtype: object
25775 191 14 ORtg Last Month    13.6429
Name: 25775, dtype: object
25776 1174 11 ORtg Last Month    106.727
Name: 25776, dtype: object
25777 1547 14 ORtg Last Month    110.5
Name: 25777, dtype: object
25778 1537 14 ORtg Last Month    109.786
Name: 25778, dtype: object
25779 1561 14 ORtg Last Month    111.5
Name: 25779, dtype: object
25780 1607 14 ORtg Last Month    114.786
Name: 25780, dtype: object
25781 711 14 ORtg Last Month    50.7857
Name: 25781, dtype: object
25782 1502 14 ORtg Last Month    107.286
Name: 25782, dtype: object
25783 1035 13 ORtg Last Month    79.6154
Name: 25783, dtype: object
25784 238 4 ORtg Last Month    59.5
Name: 25784, dtype: object
25785 446 14 ORtg Last Month    31.8571
Name: 25785, dtype: object
25786 567 14 ORtg Last Month    40.5
Name: 25786, dtype: object
25787 1727 14 ORtg Last Month    123.357
Name: 25787, dtype: object
25788 1681 14 ORtg Last Month    120.071
Name: 25788, dtype: object
25789 1667 14 ORtg Last Month    119.071
Name: 25789, dtype: object
25790 2087 16 ORtg Last Month    130.438
Name: 25790, dtype: object
25791 1860 16 ORtg Last Month    116.25
Name: 25791, dtype: object
25792 282 15 ORtg Last Month    18.8
Name: 25792, dtype: object
25793 239 2 ORtg Last Month    119.5
Name: 25793, dtype: object
25794 1848 16 ORtg Last Month    115.5
Name: 25794, dtype: object
25795 1852 16 ORtg Last Month    115.75
Name: 25795, dtype: object
25796 1594 15 ORtg Last Month    106.267
Name: 25796, dtype: object
25797 1638 15 ORtg Last Month    109.2
Name: 25797, dtype: object
25798 2043 16 ORtg Last Month    127.688
Name: 25798, dtype: object
25799 1697 16 ORtg Last Month    106.062
Name: 25799, dtype: object
25800 1263 14 ORtg Last Month    90.2143
Name: 25800, dtype: object
25801 1318 13 ORtg Last Month    101.385
Name: 25801, dtype: object
25802 1344 12 ORtg Last Month    112
Name: 25802, dtype: object
25803 1229 11 ORtg Last Month    111.727
Name: 25803, dtype: object
25804 1046 14 ORtg Last Month    74.7143
Name: 25804, dtype: object
25805 1264 11 ORtg Last Month    114.909
Name: 25805, dtype: object
25806 1555 14 ORtg Last Month    111.071
Name: 25806, dtype: object
25807 1042 14 ORtg Last Month    74.4286
Name: 25807, dtype: object
25808 0 0 ORtg Last Month    0
Name: 25808, dtype: object
25809 417 11 ORtg Last Month    37.9091
Name: 25809, dtype: object
25810 1506 14 ORtg Last Month    107.571
Name: 25810, dtype: object
25811 294 3 ORtg Last Month    98
Name: 25811, dtype: object
25812 1729 12 ORtg Last Month    144.083
Name: 25812, dtype: object
25813 1426 13 ORtg Last Month    109.692
Name: 25813, dtype: object
25814 1645 14 ORtg Last Month    117.5
Name: 25814, dtype: object
25815 1607 14 ORtg Last Month    114.786
Name: 25815, dtype: object
25816 1316 15 ORtg Last Month    87.7333
Name: 25816, dtype: object
25817 1521 13 ORtg Last Month    117
Name: 25817, dtype: object
25818 498 6 ORtg Last Month    83
Name: 25818, dtype: object

25819 1785 15 ORtg Last Month    119
Name: 25819, dtype: object
25820 882 11 ORtg Last Month    80.1818
Name: 25820, dtype: object
25821 1416 15 ORtg Last Month    94.4
Name: 25821, dtype: object
25822 869 9 ORtg Last Month    96.5556
Name: 25822, dtype: object
25823 2005 15 ORtg Last Month    133.667
Name: 25823, dtype: object
25824 727 15 ORtg Last Month    48.4667
Name: 25824, dtype: object
25825 780 13 ORtg Last Month    60
Name: 25825, dtype: object
25826 726 15 ORtg Last Month    48.4
Name: 25826, dtype: object
25827 1379 15 ORtg Last Month    91.9333
Name: 25827, dtype: object
25828 1635 15 ORtg Last Month    109
Name: 25828, dtype: object
25829 1640 15 ORtg Last Month    109.333
Name: 25829, dtype: object
25830 817 10 ORtg Last Month    81.7
Name: 25830, dtype: object
25831 1810 15 ORtg Last Month    120.667
Name: 25831, dtype: object
25832 240 5 ORtg Last Month    48
Name: 25832, dtype: object
25833 0 0 ORtg Last Month    0
Name: 25833, dtype: object
25834 1145 13 ORtg Last Month    88.0769
Name: 25834, dtype: object
25835 1100 10 ORtg Last Month    110
Name: 25835, dtype: object
25836 1174 15 ORtg Last Month    78.2667
Name: 25836, dtype: object
25837 1659 13 ORtg Last Month    127.615
Name: 25837, dtype: object
25838 1644 14 ORtg Last Month    117.429
Name: 25838, dtype: object
25839 1549 14 ORtg Last Month    110.643
Name: 25839, dtype: object
25840 1652 14 ORtg Last Month    118
Name: 25840, dtype: object
25841 1782 14 ORtg Last Month    127.286
Name: 25841, dtype: object
25842 1358 14 ORtg Last Month    97
Name: 25842, dtype: object
25843 1407 14 ORtg Last Month    100.5
Name: 25843, dtype: object
25844 374 7 ORtg Last Month    53.4286
Name: 25844, dtype: object
25845 1683 14 ORtg Last Month    120.214
Name: 25845, dtype: object
25846 1309 14 ORtg Last Month    93.5
Name: 25846, dtype: object
25847 1251 14 ORtg Last Month    89.3571
Name: 25847, dtype: object
25848 0 0 ORtg Last Month    0
Name: 25848, dtype: object
25849 146 9 ORtg Last Month    16.2222
Name: 25849, dtype: object
25850 1352 12 ORtg Last Month    112.667
Name: 25850, dtype: object
25851 1202 12 ORtg Last Month    100.167
Name: 25851, dtype: object
25852 1425 14 ORtg Last Month    101.786
Name: 25852, dtype: object
25853 285 6 ORtg Last Month    47.5
Name: 25853, dtype: object
25854 1688 14 ORtg Last Month    120.571
Name: 25854, dtype: object
25855 568 7 ORtg Last Month    81.1429
Name: 25855, dtype: object
25856 726 14 ORtg Last Month    51.8571
Name: 25856, dtype: object
25857 521 9 ORtg Last Month    57.8889
Name: 25857, dtype: object
25858 1567 15 ORtg Last Month    104.467
Name: 25858, dtype: object
25859 384 9 ORtg Last Month    42.6667
Name: 25859, dtype: object
25860 93 7 ORtg Last Month    13.2857
Name: 25860, dtype: object
25861 1490 14 ORtg Last Month    106.429
Name: 25861, dtype: object
25862 1739 15 ORtg Last Month    115.933
Name: 25862, dtype: object
25863 1753 15 ORtg Last Month    116.867
Name: 25863, dtype: object
25864 1585 15 ORtg Last Month    105.667
Name: 25864, dtype: object
25865 219 4 ORtg Last Month    54.75
Name: 25865, dtype: object
25866 662 9 ORtg Last Month    73.5556
Name: 25866, dtype: object
25867 1740 15 ORtg Last Month    116
Name: 25867, dtype: object
25868 1649 15 ORtg Last Month    109.933
Name: 25868, dtype: object
25869 42 5 ORtg Last Month    8.4
Name: 25869, dtype: object
25870 744 15 ORtg Last Month    49.6
Name: 25870, dtype: object
25871 1485 15 ORtg Last Month    99
Name: 25871, dtype: object
25872 1681 15 ORtg Last Month    112.067
Name: 25872, dtype: object
25873 354 6 ORtg Last Month    59
Name: 25873, dtype: object
25874 1072 15 ORtg Last Month    71.4667
Name: 25874, dtype: object
25875 933 15 ORtg Last Month    62.2
Name: 25875, dtype: object
25876 1458 15 ORtg Last Month    97.2
Name: 25876, dtype: object
25877 1396 13 ORtg Last Month    107.385
Name: 25877, dtype: object
25878 174 14 ORtg Last Month    12.4286
Name: 25878, dtype: object
25879 1152 10 ORtg Last Month    115.2
Name: 25879, dtype: object
25880 1575 15 ORtg Last Month    105
Name: 25880, dtype: object
25881 1686 15 ORtg Last Month    112.4
Name: 25881, dtype: object
25882 1149 14 ORtg Last Month    82.0714
Name: 25882, dtype: object
25883 153 8 ORtg Last Month    19.125
Name: 25883, dtype: object
25884 1157 10 ORtg Last Month    115.7
Name: 25884, dtype: object
25885 1385 15 ORtg Last Month    92.3333
Name: 25885, dtype: object
25886 334 4 ORtg Last Month    83.5
Name: 25886, dtype: object
25887 1602 15 ORtg Last Month    106.8
Name: 25887, dtype: object
25888 1904 15 ORtg Last Month    126.933
Name: 25888, dtype: object
25889 1149 15 ORtg Last Month    76.6
Name: 25889, dtype: object
25890 442 7 ORtg Last Month    63.1429
Name: 25890, dtype: object
25891 1526 15 ORtg Last Month    101.733
Name: 25891, dtype: object
25892 943 14 ORtg Last Month    67.3571
Name: 25892, dtype: object
25893 110 1 ORtg Last Month    110
Name: 25893, dtype: object
25894 1546 14 ORtg Last Month    110.429
Name: 25894, dtype: object
25895 979 14 ORtg Last Month    69.9286
Name: 25895, dtype: object
25896 717 13 ORtg Last Month    55.1538
Name: 25896, dtype: object
25897 1508 14 ORtg Last Month    107.714
Name: 25897, dtype: object
25898 1340 14 ORtg Last Month    95.7143
Name: 25898, dtype: object
25899 1313 14 ORtg Last Month    93.7857
Name: 25899, dtype: object
25900 1678 14 ORtg Last Month    119.857
Name: 25900, dtype: object
25901 1448 14 ORtg Last Month    103.429
Name: 25901, dtype: object
25902 1129 9 ORtg Last Month    125.444
Name: 25902, dtype: object
25903 1663 14 ORtg Last Month    118.786
Name: 25903, dtype: object
25904 204 13 ORtg Last Month    15.6923
Name: 25904, dtype: object
25905 1404 14 ORtg Last Month    100.286
Name: 25905, dtype: object
25906 1395 14 ORtg Last Month    99.6429
Name: 25906, dtype: object
25907 1722 14 ORtg Last Month    123
Name: 25907, dtype: object
25908 233 9 ORtg Last Month    25.8889
Name: 25908, dtype: object
25909 1594 14 ORtg Last Month    113.857
Name: 25909, dtype: object
25910 1331 12 ORtg Last Month    110.917
Name: 25910, dtype: object
25911 1388 14 ORtg Last Month    99.1429
Name: 25911, dtype: object
25912 1440 14 ORtg Last Month    102.857
Name: 25912, dtype: object
25913 220 14 ORtg Last Month    15.7143
Name: 25913, dtype: object
25914 358 14 ORtg Last Month    25.5714
Name: 25914, dtype: object
25915 1598 14 ORtg Last Month    114.143
Name: 25915, dtype: object
25916 1788 13 ORtg Last Month    137.538
Name: 25916, dtype: object
25917 486 9 ORtg Last Month    54
Name: 25917, dtype: object
25918 510 4 ORtg Last Month    127.5
Name: 25918, dtype: object
25919 1157 10 ORtg Last Month    115.7
Name: 25919, dtype: object
25920 1316 14 ORtg Last Month    94
Name: 25920, dtype: object
25921 1174 10 ORtg Last Month    117.4
Name: 25921, dtype: object
25922 1131 14 ORtg Last Month    80.7857
Name: 25922, dtype: object
25923 1740 14 ORtg Last Month    124.286
Name: 25923, dtype: object
25924 1582 14 ORtg Last Month    113
Name: 25924, dtype: object
25925 1362 14 ORtg Last Month    97.2857
Name: 25925, dtype: object
25926 652 13 ORtg Last Month    50.1538
Name: 25926, dtype: object
25927 1642 14 ORtg Last Month    117.286
Name: 25927, dtype: object
25928 1554 14 ORtg Last Month    111
Name: 25928, dtype: object
25929 1248 11 ORtg Last Month    113.455
Name: 25929, dtype: object
25930 697 13 ORtg Last Month    53.6154
Name: 25930, dtype: object
25931 1476 14 ORtg Last Month    105.429
Name: 25931, dtype: object
25932 1154 14 ORtg Last Month    82.4286
Name: 25932, dtype: object
25933 1185 11 ORtg Last Month    107.727
Name: 25933, dtype: object
25934 609 11 ORtg Last Month    55.3636
Name: 25934, dtype: object
25935 840 14 ORtg Last Month    60
Name: 25935, dtype: object
25936 1476 13 ORtg Last Month    113.538
Name: 25936, dtype: object
25937 1630 14 ORtg Last Month    116.429
Name: 25937, dtype: object
25938 1543 14 ORtg Last Month    110.214
Name: 25938, dtype: object
25939 882 9 ORtg Last Month    98
Name: 25939, dtype: object
25940 1607 14 ORtg Last Month    114.786
Name: 25940, dtype: object
25941 1911 14 ORtg Last Month    136.5
Name: 25941, dtype: object
25942 608 14 ORtg Last Month    43.4286
Name: 25942, dtype: object

25943 1372 13 ORtg Last Month    105.538
Name: 25943, dtype: object
25944 918 13 ORtg Last Month    70.6154
Name: 25944, dtype: object
25945 390 9 ORtg Last Month    43.3333
Name: 25945, dtype: object
25946 1233 13 ORtg Last Month    94.8462
Name: 25946, dtype: object
25947 1288 13 ORtg Last Month    99.0769
Name: 25947, dtype: object
25948 1082 13 ORtg Last Month    83.2308
Name: 25948, dtype: object
25949 99 4 ORtg Last Month    24.75
Name: 25949, dtype: object
25950 130 3 ORtg Last Month    43.3333
Name: 25950, dtype: object
25951 1466 13 ORtg Last Month    112.769
Name: 25951, dtype: object
25952 1400 12 ORtg Last Month    116.667
Name: 25952, dtype: object
25953 1503 15 ORtg Last Month    100.2
Name: 25953, dtype: object
25954 1443 14 ORtg Last Month    103.071
Name: 25954, dtype: object
25955 261 11 ORtg Last Month    23.7273
Name: 25955, dtype: object
25956 749 15 ORtg Last Month    49.9333
Name: 25956, dtype: object
25957 1267 14 ORtg Last Month    90.5
Name: 25957, dtype: object
25958 1453 15 ORtg Last Month    96.8667
Name: 25958, dtype: object
25959 1715 15 ORtg Last Month    114.333
Name: 25959, dtype: object
25960 1506 15 ORtg Last Month    100.4
Name: 25960, dtype: object
25961 1367 14 ORtg Last Month    97.6429
Name: 25961, dtype: object
25962 61 11 ORtg Last Month    5.54545
Name: 25962, dtype: object
25963 1640 15 ORtg Last Month    109.333
Name: 25963, dtype: object
25964 1602 14 ORtg Last Month    114.429
Name: 25964, dtype: object
25965 0 15 ORtg Last Month    0
Name: 25965, dtype: object
25966 243 3 ORtg Last Month    81
Name: 25966, dtype: object
25967 1592 13 ORtg Last Month    122.462
Name: 25967, dtype: object
25968 1020 13 ORtg Last Month    78.4615
Name: 25968, dtype: object
25969 133 4 ORtg Last Month    33.25
Name: 25969, dtype: object
25970 1250 13 ORtg Last Month    96.1538
Name: 25970, dtype: object
25971 1341 13 ORtg Last Month    103.154
Name: 25971, dtype: object
25972 1100 12 ORtg Last Month    91.6667
Name: 25972, dtype: object
25973 1420 13 ORtg Last Month    109.231
Name: 25973, dtype: object
25974 1512 13 ORtg Last Month    116.308
Name: 25974, dtype: object
25975 1706 13 ORtg Last Month    131.231
Name: 25975, dtype: object
25976 0 13 ORtg Last Month    0
Name: 25976, dtype: object
25977 476 13 ORtg Last Month    36.6154
Name: 25977, dtype: object
25978 0 0 ORtg Last Month    0
Name: 25978, dtype: object
25979 1221 14 ORtg Last Month    87.2143
Name: 25979, dtype: object
25980 1568 13 ORtg Last Month    120.615
Name: 25980, dtype: object
25981 1620 14 ORtg Last Month    115.714
Name: 25981, dtype: object
25982 1345 14 ORtg Last Month    96.0714
Name: 25982, dtype: object
25983 458 14 ORtg Last Month    32.7143
Name: 25983, dtype: object
25984 1497 14 ORtg Last Month    106.929
Name: 25984, dtype: object
25985 0 1 ORtg Last Month    0
Name: 25985, dtype: object
25986 0 2 ORtg Last Month    0
Name: 25986, dtype: object
25987 716 6 ORtg Last Month    119.333
Name: 25987, dtype: object
25988 879 8 ORtg Last Month    109.875
Name: 25988, dtype: object
25989 810 13 ORtg Last Month    62.3077
Name: 25989, dtype: object
25990 615 14 ORtg Last Month    43.9286
Name: 25990, dtype: object
25991 1509 14 ORtg Last Month    107.786
Name: 25991, dtype: object
25992 383 11 ORtg Last Month    34.8182
Name: 25992, dtype: object
25993 1615 14 ORtg Last Month    115.357
Name: 25993, dtype: object
25994 0 1 ORtg Last Month    0
Name: 25994, dtype: object
25995 1296 13 ORtg Last Month    99.6923
Name: 25995, dtype: object
25996 660 11 ORtg Last Month    60
Name: 25996, dtype: object
25997 1715 14 ORtg Last Month    122.5
Name: 25997, dtype: object
25998 463 14 ORtg Last Month    33.0714
Name: 25998, dtype: object
25999 1640 14 ORtg Last Month    117.143
Name: 25999, dtype: object
26000 1521 14 ORtg Last Month    108.643
Name: 26000, dtype: object
26001 1492 12 ORtg Last Month    124.333
Name: 26001, dtype: object
26002 1887 14 ORtg Last Month    134.786
Name: 26002, dtype: object
26003 1592 14 ORtg Last Month    113.714
Name: 26003, dtype: object
26004 208 7 ORtg Last Month    29.7143
Name: 26004, dtype: object
26005 1658 13 ORtg Last Month    127.538
Name: 26005, dtype: object
26006 1368 13 ORtg Last Month    105.231
Name: 26006, dtype: object
26007 1476 14 ORtg Last Month    105.429
Name: 26007, dtype: object
26008 443 7 ORtg Last Month    63.2857
Name: 26008, dtype: object
26009 1265 14 ORtg Last Month    90.3571
Name: 26009, dtype: object
26010 1698 14 ORtg Last Month    121.286
Name: 26010, dtype: object
26011 1304 13 ORtg Last Month    100.308
Name: 26011, dtype: object
26012 919 14 ORtg Last Month    65.6429
Name: 26012, dtype: object
26013 432 12 ORtg Last Month    36
Name: 26013, dtype: object
26014 1391 12 ORtg Last Month    115.917
Name: 26014, dtype: object
26015 1670 15 ORtg Last Month    111.333
Name: 26015, dtype: object
26016 992 9 ORtg Last Month    110.222
Name: 26016, dtype: object
26017 1659 15 ORtg Last Month    110.6
Name: 26017, dtype: object
26018 1622 15 ORtg Last Month    108.133
Name: 26018, dtype: object
26019 1433 15 ORtg Last Month    95.5333
Name: 26019, dtype: object
26020 1654 15 ORtg Last Month    110.267
Name: 26020, dtype: object
26021 1473 14 ORtg Last Month    105.214
Name: 26021, dtype: object
26022 1067 15 ORtg Last Month    71.1333
Name: 26022, dtype: object
26023 2002 15 ORtg Last Month    133.467
Name: 26023, dtype: object
26024 1907 15 ORtg Last Month    127.133
Name: 26024, dtype: object
26025 439 15 ORtg Last Month    29.2667
Name: 26025, dtype: object
26026 1672 14 ORtg Last Month    119.429
Name: 26026, dtype: object
26027 1509 14 ORtg Last Month    107.786
Name: 26027, dtype: object
26028 1719 14 ORtg Last Month    122.786
Name: 26028, dtype: object
26029 1465 14 ORtg Last Month    104.643
Name: 26029, dtype: object
26030 1121 14 ORtg Last Month    80.0714
Name: 26030, dtype: object
26031 713 13 ORtg Last Month    54.8462
Name: 26031, dtype: object
26032 0 2 ORtg Last Month    0
Name: 26032, dtype: object
26033 1411 12 ORtg Last Month    117.583
Name: 26033, dtype: object
26034 1619 14 ORtg Last Month    115.643
Name: 26034, dtype: object
26035 1390 11 ORtg Last Month    126.364
Name: 26035, dtype: object
26036 1630 14 ORtg Last Month    116.429
Name: 26036, dtype: object
26037 1240 12 ORtg Last Month    103.333
Name: 26037, dtype: object
26038 313 11 ORtg Last Month    28.4545
Name: 26038, dtype: object
26039 1164 12 ORtg Last Month    97
Name: 26039, dtype: object
26040 1108 10 ORtg Last Month    110.8
Name: 26040, dtype: object
26041 1310 14 ORtg Last Month    93.5714
Name: 26041, dtype: object
26042 1517 14 ORtg Last Month    108.357
Name: 26042, dtype: object
26043 863 14 ORtg Last Month    61.6429
Name: 26043, dtype: object
26044 1526 12 ORtg Last Month    127.167
Name: 26044, dtype: object
26045 1108 10 ORtg Last Month    110.8
Name: 26045, dtype: object
26046 654 12 ORtg Last Month    54.5
Name: 26046, dtype: object
26047 1044 13 ORtg Last Month    80.3077
Name: 26047, dtype: object
26048 0 1 ORtg Last Month    0
Name: 26048, dtype: object
26049 1603 14 ORtg Last Month    114.5
Name: 26049, dtype: object
26050 1764 14 ORtg Last Month    126
Name: 26050, dtype: object
26051 762 14 ORtg Last Month    54.4286
Name: 26051, dtype: object
26052 62 5 ORtg Last Month    12.4
Name: 26052, dtype: object
26053 1349 14 ORtg Last Month    96.3571
Name: 26053, dtype: object
26054 1451 14 ORtg Last Month    103.643
Name: 26054, dtype: object
26055 1532 14 ORtg Last Month    109.429
Name: 26055, dtype: object
26056 1648 14 ORtg Last Month    117.714
Name: 26056, dtype: object
26057 1497 14 ORtg Last Month    106.929
Name: 26057, dtype: object
26058 611 8 ORtg Last Month    76.375
Name: 26058, dtype: object
26059 547 13 ORtg Last Month    42.0769
Name: 26059, dtype: object
26060 0 10 ORtg Last Month    0
Name: 26060, dtype: object
26061 751 9 ORtg Last Month    83.4444
Name: 26061, dtype: object
26062 959 10 ORtg Last Month    95.9
Name: 26062, dtype: object
26063 1528 14 ORtg Last Month    109.143
Name: 26063, dtype: object
26064 1452 13 ORtg Last Month    111.692
Name: 26064, dtype: object
26065 1542 14 ORtg Last Month    110.143
Name: 26065, dtype: object
26066 759 8 ORtg Last Month    94.875
Name: 26066, dtype: object

26067 1334 13 ORtg Last Month    102.615
Name: 26067, dtype: object
26068 1370 13 ORtg Last Month    105.385
Name: 26068, dtype: object
26069 1605 14 ORtg Last Month    114.643
Name: 26069, dtype: object
26070 1573 14 ORtg Last Month    112.357
Name: 26070, dtype: object
26071 1431 14 ORtg Last Month    102.214
Name: 26071, dtype: object
26072 1516 14 ORtg Last Month    108.286
Name: 26072, dtype: object
26073 1559 14 ORtg Last Month    111.357
Name: 26073, dtype: object
26074 1700 14 ORtg Last Month    121.429
Name: 26074, dtype: object
26075 300 5 ORtg Last Month    60
Name: 26075, dtype: object
26076 1289 12 ORtg Last Month    107.417
Name: 26076, dtype: object
26077 1002 11 ORtg Last Month    91.0909
Name: 26077, dtype: object
26078 365 3 ORtg Last Month    121.667
Name: 26078, dtype: object
26079 1019 13 ORtg Last Month    78.3846
Name: 26079, dtype: object
26080 191 14 ORtg Last Month    13.6429
Name: 26080, dtype: object
26081 1036 11 ORtg Last Month    94.1818
Name: 26081, dtype: object
26082 1319 13 ORtg Last Month    101.462
Name: 26082, dtype: object
26083 1712 14 ORtg Last Month    122.286
Name: 26083, dtype: object
26084 870 13 ORtg Last Month    66.9231
Name: 26084, dtype: object
26085 1381 14 ORtg Last Month    98.6429
Name: 26085, dtype: object
26086 37 1 ORtg Last Month    37
Name: 26086, dtype: object
26087 506 14 ORtg Last Month    36.1429
Name: 26087, dtype: object
26088 1352 14 ORtg Last Month    96.5714
Name: 26088, dtype: object
26089 1216 14 ORtg Last Month    86.8571
Name: 26089, dtype: object
26090 738 14 ORtg Last Month    52.7143
Name: 26090, dtype: object
26091 2126 14 ORtg Last Month    151.857
Name: 26091, dtype: object
26092 1462 11 ORtg Last Month    132.909
Name: 26092, dtype: object
26093 1415 14 ORtg Last Month    101.071
Name: 26093, dtype: object
26094 845 13 ORtg Last Month    65
Name: 26094, dtype: object
26095 1499 14 ORtg Last Month    107.071
Name: 26095, dtype: object
26096 1566 14 ORtg Last Month    111.857
Name: 26096, dtype: object
26097 1611 14 ORtg Last Month    115.071
Name: 26097, dtype: object
26098 0 0 ORtg Last Month    0
Name: 26098, dtype: object
26099 585 14 ORtg Last Month    41.7857
Name: 26099, dtype: object
26100 1441 14 ORtg Last Month    102.929
Name: 26100, dtype: object
26101 1132 13 ORtg Last Month    87.0769
Name: 26101, dtype: object
26102 556 14 ORtg Last Month    39.7143
Name: 26102, dtype: object
26103 279 14 ORtg Last Month    19.9286
Name: 26103, dtype: object
26104 317 5 ORtg Last Month    63.4
Name: 26104, dtype: object
26105 1740 14 ORtg Last Month    124.286
Name: 26105, dtype: object
26106 1639 14 ORtg Last Month    117.071
Name: 26106, dtype: object
26107 1641 14 ORtg Last Month    117.214
Name: 26107, dtype: object
26108 1694 15 ORtg Last Month    112.933
Name: 26108, dtype: object
26109 2013 15 ORtg Last Month    134.2
Name: 26109, dtype: object
26110 282 14 ORtg Last Month    20.1429
Name: 26110, dtype: object
26111 1768 15 ORtg Last Month    117.867
Name: 26111, dtype: object
26112 1754 15 ORtg Last Month    116.933
Name: 26112, dtype: object
26113 1519 14 ORtg Last Month    108.5
Name: 26113, dtype: object
26114 1583 14 ORtg Last Month    113.071
Name: 26114, dtype: object
26115 1887 15 ORtg Last Month    125.8
Name: 26115, dtype: object
26116 1639 15 ORtg Last Month    109.267
Name: 26116, dtype: object
26117 1052 13 ORtg Last Month    80.9231
Name: 26117, dtype: object
26118 142 9 ORtg Last Month    15.7778
Name: 26118, dtype: object
26119 1719 15 ORtg Last Month    114.6
Name: 26119, dtype: object
26120 1642 14 ORtg Last Month    117.286
Name: 26120, dtype: object
26121 1322 15 ORtg Last Month    88.1333
Name: 26121, dtype: object
26122 0 1 ORtg Last Month    0
Name: 26122, dtype: object
26123 674 7 ORtg Last Month    96.2857
Name: 26123, dtype: object
26124 1782 15 ORtg Last Month    118.8
Name: 26124, dtype: object
26125 1000 12 ORtg Last Month    83.3333
Name: 26125, dtype: object
26126 1545 13 ORtg Last Month    118.846
Name: 26126, dtype: object
26127 2048 15 ORtg Last Month    136.533
Name: 26127, dtype: object
26128 727 15 ORtg Last Month    48.4667
Name: 26128, dtype: object
26129 0 0 ORtg Last Month    0
Name: 26129, dtype: object
26130 637 13 ORtg Last Month    49
Name: 26130, dtype: object
26131 1880 14 ORtg Last Month    134.286
Name: 26131, dtype: object
26132 1575 14 ORtg Last Month    112.5
Name: 26132, dtype: object
26133 560 13 ORtg Last Month    43.0769
Name: 26133, dtype: object
26134 65 6 ORtg Last Month    10.8333
Name: 26134, dtype: object
26135 1666 13 ORtg Last Month    128.154
Name: 26135, dtype: object
26136 1444 14 ORtg Last Month    103.143
Name: 26136, dtype: object
26137 1345 14 ORtg Last Month    96.0714
Name: 26137, dtype: object
26138 447 8 ORtg Last Month    55.875
Name: 26138, dtype: object
26139 488 13 ORtg Last Month    37.5385
Name: 26139, dtype: object
26140 1650 14 ORtg Last Month    117.857
Name: 26140, dtype: object
26141 1725 14 ORtg Last Month    123.214
Name: 26141, dtype: object
26142 226 6 ORtg Last Month    37.6667
Name: 26142, dtype: object
26143 1309 14 ORtg Last Month    93.5
Name: 26143, dtype: object
26144 1330 14 ORtg Last Month    95
Name: 26144, dtype: object
26145 0 1 ORtg Last Month    0
Name: 26145, dtype: object
26146 146 10 ORtg Last Month    14.6
Name: 26146, dtype: object
26147 1345 12 ORtg Last Month    112.083
Name: 26147, dtype: object
26148 1445 14 ORtg Last Month    103.214
Name: 26148, dtype: object
26149 303 6 ORtg Last Month    50.5
Name: 26149, dtype: object
26150 1188 12 ORtg Last Month    99
Name: 26150, dtype: object
26151 1705 14 ORtg Last Month    121.786
Name: 26151, dtype: object
26152 633 14 ORtg Last Month    45.2143
Name: 26152, dtype: object
26153 521 10 ORtg Last Month    52.1
Name: 26153, dtype: object
26154 634 11 ORtg Last Month    57.6364
Name: 26154, dtype: object
26155 1483 15 ORtg Last Month    98.8667
Name: 26155, dtype: object
26156 1357 12 ORtg Last Month    113.083
Name: 26156, dtype: object
26157 1483 15 ORtg Last Month    98.8667
Name: 26157, dtype: object
26158 1695 15 ORtg Last Month    113
Name: 26158, dtype: object
26159 1372 15 ORtg Last Month    91.4667
Name: 26159, dtype: object
26160 579 12 ORtg Last Month    48.25
Name: 26160, dtype: object
26161 313 11 ORtg Last Month    28.4545
Name: 26161, dtype: object
26162 0 2 ORtg Last Month    0
Name: 26162, dtype: object
26163 108 15 ORtg Last Month    7.2
Name: 26163, dtype: object
26164 1919 15 ORtg Last Month    127.933
Name: 26164, dtype: object
26165 1440 12 ORtg Last Month    120
Name: 26165, dtype: object
26166 1943 15 ORtg Last Month    129.533
Name: 26166, dtype: object
26167 203 15 ORtg Last Month    13.5333
Name: 26167, dtype: object
26168 1599 15 ORtg Last Month    106.6
Name: 26168, dtype: object
26169 486 9 ORtg Last Month    54
Name: 26169, dtype: object
26170 324 6 ORtg Last Month    54
Name: 26170, dtype: object
26171 662 10 ORtg Last Month    66.2
Name: 26171, dtype: object
26172 1472 14 ORtg Last Month    105.143
Name: 26172, dtype: object
26173 1856 15 ORtg Last Month    123.733
Name: 26173, dtype: object
26174 214 4 ORtg Last Month    53.5
Name: 26174, dtype: object
26175 1684 15 ORtg Last Month    112.267
Name: 26175, dtype: object
26176 1738 15 ORtg Last Month    115.867
Name: 26176, dtype: object
26177 831 15 ORtg Last Month    55.4
Name: 26177, dtype: object
26178 1563 15 ORtg Last Month    104.2
Name: 26178, dtype: object
26179 220 6 ORtg Last Month    36.6667
Name: 26179, dtype: object
26180 1233 12 ORtg Last Month    102.75
Name: 26180, dtype: object
26181 1696 14 ORtg Last Month    121.143
Name: 26181, dtype: object
26182 792 14 ORtg Last Month    56.5714
Name: 26182, dtype: object
26183 780 11 ORtg Last Month    70.9091
Name: 26183, dtype: object
26184 0 6 ORtg Last Month    0
Name: 26184, dtype: object
26185 1058 12 ORtg Last Month    88.1667
Name: 26185, dtype: object
26186 1506 14 ORtg Last Month    107.571
Name: 26186, dtype: object
26187 1518 14 ORtg Last Month    108.429
Name: 26187, dtype: object
26188 1210 14 ORtg Last Month    86.4286
Name: 26188, dtype: object
26189 1453 14 ORtg Last Month    103.786
Name: 26189, dtype: object
26190 203 4 ORtg Last Month    50.75
Name: 26190, dtype: object

26191 1629 13 ORtg Last Month    125.308
Name: 26191, dtype: object
26192 1281 14 ORtg Last Month    91.5
Name: 26192, dtype: object
26193 1434 14 ORtg Last Month    102.429
Name: 26193, dtype: object
26194 1513 14 ORtg Last Month    108.071
Name: 26194, dtype: object
26195 1449 14 ORtg Last Month    103.5
Name: 26195, dtype: object
26196 965 14 ORtg Last Month    68.9286
Name: 26196, dtype: object
26197 437 7 ORtg Last Month    62.4286
Name: 26197, dtype: object
26198 1330 14 ORtg Last Month    95
Name: 26198, dtype: object
26199 1463 13 ORtg Last Month    112.538
Name: 26199, dtype: object
26200 902 14 ORtg Last Month    64.4286
Name: 26200, dtype: object
26201 474 13 ORtg Last Month    36.4615
Name: 26201, dtype: object
26202 296 8 ORtg Last Month    37
Name: 26202, dtype: object
26203 1489 14 ORtg Last Month    106.357
Name: 26203, dtype: object
26204 1530 14 ORtg Last Month    109.286
Name: 26204, dtype: object
26205 1020 13 ORtg Last Month    78.4615
Name: 26205, dtype: object
26206 1710 14 ORtg Last Month    122.143
Name: 26206, dtype: object
26207 413 4 ORtg Last Month    103.25
Name: 26207, dtype: object
26208 1151 14 ORtg Last Month    82.2143
Name: 26208, dtype: object
26209 1548 14 ORtg Last Month    110.571
Name: 26209, dtype: object
26210 1436 14 ORtg Last Month    102.571
Name: 26210, dtype: object
26211 1393 14 ORtg Last Month    99.5
Name: 26211, dtype: object
26212 1227 13 ORtg Last Month    94.3846
Name: 26212, dtype: object
26213 1650 14 ORtg Last Month    117.857
Name: 26213, dtype: object
26214 1851 14 ORtg Last Month    132.214
Name: 26214, dtype: object
26215 476 14 ORtg Last Month    34
Name: 26215, dtype: object
26216 207 14 ORtg Last Month    14.7857
Name: 26216, dtype: object
26217 1508 14 ORtg Last Month    107.714
Name: 26217, dtype: object
26218 977 14 ORtg Last Month    69.7857
Name: 26218, dtype: object
26219 608 13 ORtg Last Month    46.7692
Name: 26219, dtype: object
26220 1481 14 ORtg Last Month    105.786
Name: 26220, dtype: object
26221 1348 14 ORtg Last Month    96.2857
Name: 26221, dtype: object
26222 1738 14 ORtg Last Month    124.143
Name: 26222, dtype: object
26223 1458 14 ORtg Last Month    104.143
Name: 26223, dtype: object
26224 1549 14 ORtg Last Month    110.643
Name: 26224, dtype: object
26225 1665 14 ORtg Last Month    118.929
Name: 26225, dtype: object
26226 1148 9 ORtg Last Month    127.556
Name: 26226, dtype: object
26227 234 13 ORtg Last Month    18
Name: 26227, dtype: object
26228 1407 14 ORtg Last Month    100.5
Name: 26228, dtype: object
26229 1662 14 ORtg Last Month    118.714
Name: 26229, dtype: object
26230 1437 14 ORtg Last Month    102.643
Name: 26230, dtype: object
26231 320 10 ORtg Last Month    32
Name: 26231, dtype: object
26232 1575 14 ORtg Last Month    112.5
Name: 26232, dtype: object
26233 1416 14 ORtg Last Month    101.143
Name: 26233, dtype: object
26234 1318 12 ORtg Last Month    109.833
Name: 26234, dtype: object
26235 1394 14 ORtg Last Month    99.5714
Name: 26235, dtype: object
26236 558 14 ORtg Last Month    39.8571
Name: 26236, dtype: object
26237 220 14 ORtg Last Month    15.7143
Name: 26237, dtype: object
26238 1640 14 ORtg Last Month    117.143
Name: 26238, dtype: object
26239 1794 13 ORtg Last Month    138
Name: 26239, dtype: object
26240 686 10 ORtg Last Month    68.6
Name: 26240, dtype: object
26241 1141 10 ORtg Last Month    114.1
Name: 26241, dtype: object
26242 645 5 ORtg Last Month    129
Name: 26242, dtype: object
26243 1271 14 ORtg Last Month    90.7857
Name: 26243, dtype: object
26244 1195 10 ORtg Last Month    119.5
Name: 26244, dtype: object
26245 1276 14 ORtg Last Month    91.1429
Name: 26245, dtype: object
26246 1459 14 ORtg Last Month    104.214
Name: 26246, dtype: object
26247 1625 14 ORtg Last Month    116.071
Name: 26247, dtype: object
26248 1400 14 ORtg Last Month    100
Name: 26248, dtype: object
26249 1288 11 ORtg Last Month    117.091
Name: 26249, dtype: object
26250 1608 14 ORtg Last Month    114.857
Name: 26250, dtype: object
26251 1631 14 ORtg Last Month    116.5
Name: 26251, dtype: object
26252 225 3 ORtg Last Month    75
Name: 26252, dtype: object
26253 1641 14 ORtg Last Month    117.214
Name: 26253, dtype: object
26254 1729 14 ORtg Last Month    123.5
Name: 26254, dtype: object
26255 958 14 ORtg Last Month    68.4286
Name: 26255, dtype: object
26256 293 3 ORtg Last Month    97.6667
Name: 26256, dtype: object
26257 1501 14 ORtg Last Month    107.214
Name: 26257, dtype: object
26258 1668 14 ORtg Last Month    119.143
Name: 26258, dtype: object
26259 1362 12 ORtg Last Month    113.5
Name: 26259, dtype: object
26260 849 13 ORtg Last Month    65.3077
Name: 26260, dtype: object
26261 314 14 ORtg Last Month    22.4286
Name: 26261, dtype: object
26262 1426 14 ORtg Last Month    101.857
Name: 26262, dtype: object
26263 1783 14 ORtg Last Month    127.357
Name: 26263, dtype: object
26264 23 14 ORtg Last Month    1.64286
Name: 26264, dtype: object
26265 1705 15 ORtg Last Month    113.667
Name: 26265, dtype: object
26266 846 15 ORtg Last Month    56.4
Name: 26266, dtype: object
26267 1883 15 ORtg Last Month    125.533
Name: 26267, dtype: object
26268 179 6 ORtg Last Month    29.8333
Name: 26268, dtype: object
26269 1448 15 ORtg Last Month    96.5333
Name: 26269, dtype: object
26270 0 0 ORtg Last Month    0
Name: 26270, dtype: object
26271 1770 15 ORtg Last Month    118
Name: 26271, dtype: object
26272 1634 15 ORtg Last Month    108.933
Name: 26272, dtype: object
26273 1313 13 ORtg Last Month    101
Name: 26273, dtype: object
26274 1352 12 ORtg Last Month    112.667
Name: 26274, dtype: object
26275 1351 11 ORtg Last Month    122.818
Name: 26275, dtype: object
26276 1237 14 ORtg Last Month    88.3571
Name: 26276, dtype: object
26277 1306 11 ORtg Last Month    118.727
Name: 26277, dtype: object
26278 1390 11 ORtg Last Month    126.364
Name: 26278, dtype: object
26279 1855 14 ORtg Last Month    132.5
Name: 26279, dtype: object
26280 1106 14 ORtg Last Month    79
Name: 26280, dtype: object
26281 1152 10 ORtg Last Month    115.2
Name: 26281, dtype: object
26282 1575 14 ORtg Last Month    112.5
Name: 26282, dtype: object
26283 1727 12 ORtg Last Month    143.917
Name: 26283, dtype: object
26284 469 4 ORtg Last Month    117.25
Name: 26284, dtype: object
26285 1299 11 ORtg Last Month    118.091
Name: 26285, dtype: object
26286 1295 14 ORtg Last Month    92.5
Name: 26286, dtype: object
26287 873 14 ORtg Last Month    62.3571
Name: 26287, dtype: object
26288 1614 14 ORtg Last Month    115.286
Name: 26288, dtype: object
26289 1521 14 ORtg Last Month    108.643
Name: 26289, dtype: object
26290 734 9 ORtg Last Month    81.5556
Name: 26290, dtype: object
26291 1603 14 ORtg Last Month    114.5
Name: 26291, dtype: object
26292 240 4 ORtg Last Month    60
Name: 26292, dtype: object
26293 1264 14 ORtg Last Month    90.2857
Name: 26293, dtype: object
26294 946 9 ORtg Last Month    105.111
Name: 26294, dtype: object
26295 1051 14 ORtg Last Month    75.0714
Name: 26295, dtype: object
26296 1419 15 ORtg Last Month    94.6
Name: 26296, dtype: object
26297 1418 15 ORtg Last Month    94.5333
Name: 26297, dtype: object
26298 0 2 ORtg Last Month    0
Name: 26298, dtype: object
26299 280 11 ORtg Last Month    25.4545
Name: 26299, dtype: object
26300 1282 13 ORtg Last Month    98.6154
Name: 26300, dtype: object
26301 402 7 ORtg Last Month    57.4286
Name: 26301, dtype: object
26302 1597 15 ORtg Last Month    106.467
Name: 26302, dtype: object
26303 1229 13 ORtg Last Month    94.5385
Name: 26303, dtype: object
26304 1850 15 ORtg Last Month    123.333
Name: 26304, dtype: object
26305 686 11 ORtg Last Month    62.3636
Name: 26305, dtype: object
26306 742 15 ORtg Last Month    49.4667
Name: 26306, dtype: object
26307 634 12 ORtg Last Month    52.8333
Name: 26307, dtype: object
26308 1302 12 ORtg Last Month    108.5
Name: 26308, dtype: object
26309 1387 13 ORtg Last Month    106.692
Name: 26309, dtype: object
26310 1066 13 ORtg Last Month    82
Name: 26310, dtype: object
26311 461 9 ORtg Last Month    51.2222
Name: 26311, dtype: object
26312 1305 13 ORtg Last Month    100.385
Name: 26312, dtype: object
26313 1266 13 ORtg Last Month    97.3846
Name: 26313, dtype: object
26314 1096 13 ORtg Last Month    84.3077
Name: 26314, dtype: object

26315 99 5 ORtg Last Month    19.8
Name: 26315, dtype: object
26316 1461 13 ORtg Last Month    112.385
Name: 26316, dtype: object
26317 1358 12 ORtg Last Month    113.167
Name: 26317, dtype: object
26318 1421 14 ORtg Last Month    101.5
Name: 26318, dtype: object
26319 1529 15 ORtg Last Month    101.933
Name: 26319, dtype: object
26320 661 15 ORtg Last Month    44.0667
Name: 26320, dtype: object
26321 346 11 ORtg Last Month    31.4545
Name: 26321, dtype: object
26322 1681 15 ORtg Last Month    112.067
Name: 26322, dtype: object
26323 1288 14 ORtg Last Month    92
Name: 26323, dtype: object
26324 1608 15 ORtg Last Month    107.2
Name: 26324, dtype: object
26325 1499 15 ORtg Last Month    99.9333
Name: 26325, dtype: object
26326 61 11 ORtg Last Month    5.54545
Name: 26326, dtype: object
26327 1577 15 ORtg Last Month    105.133
Name: 26327, dtype: object
26328 1688 14 ORtg Last Month    120.571
Name: 26328, dtype: object
26329 1303 14 ORtg Last Month    93.0714
Name: 26329, dtype: object
26330 0 15 ORtg Last Month    0
Name: 26330, dtype: object
26331 1534 14 ORtg Last Month    109.571
Name: 26331, dtype: object
26332 660 11 ORtg Last Month    60
Name: 26332, dtype: object
26333 1155 13 ORtg Last Month    88.8462
Name: 26333, dtype: object
26334 471 11 ORtg Last Month    42.8182
Name: 26334, dtype: object
26335 53 2 ORtg Last Month    26.5
Name: 26335, dtype: object
26336 1598 14 ORtg Last Month    114.143
Name: 26336, dtype: object
26337 1674 14 ORtg Last Month    119.571
Name: 26337, dtype: object
26338 492 14 ORtg Last Month    35.1429
Name: 26338, dtype: object
26339 1586 14 ORtg Last Month    113.286
Name: 26339, dtype: object
26340 1592 14 ORtg Last Month    113.714
Name: 26340, dtype: object
26341 1423 12 ORtg Last Month    118.583
Name: 26341, dtype: object
26342 1851 14 ORtg Last Month    132.214
Name: 26342, dtype: object
26343 1585 14 ORtg Last Month    113.214
Name: 26343, dtype: object
26344 458 8 ORtg Last Month    57.25
Name: 26344, dtype: object
26345 1413 14 ORtg Last Month    100.929
Name: 26345, dtype: object
26346 1358 13 ORtg Last Month    104.462
Name: 26346, dtype: object
26347 1213 14 ORtg Last Month    86.6429
Name: 26347, dtype: object
26348 654 8 ORtg Last Month    81.75
Name: 26348, dtype: object
26349 1631 13 ORtg Last Month    125.462
Name: 26349, dtype: object
26350 913 14 ORtg Last Month    65.2143
Name: 26350, dtype: object
26351 1351 13 ORtg Last Month    103.923
Name: 26351, dtype: object
26352 432 13 ORtg Last Month    33.2308
Name: 26352, dtype: object
26353 0 9 ORtg Last Month    0
Name: 26353, dtype: object
26354 1385 12 ORtg Last Month    115.417
Name: 26354, dtype: object
26355 1619 15 ORtg Last Month    107.933
Name: 26355, dtype: object
26356 1068 9 ORtg Last Month    118.667
Name: 26356, dtype: object
26357 504 9 ORtg Last Month    56
Name: 26357, dtype: object
26358 1636 15 ORtg Last Month    109.067
Name: 26358, dtype: object
26359 1572 15 ORtg Last Month    104.8
Name: 26359, dtype: object
26360 1354 14 ORtg Last Month    96.7143
Name: 26360, dtype: object
26361 1471 15 ORtg Last Month    98.0667
Name: 26361, dtype: object
26362 1641 15 ORtg Last Month    109.4
Name: 26362, dtype: object
26363 1190 15 ORtg Last Month    79.3333
Name: 26363, dtype: object
26364 2030 15 ORtg Last Month    135.333
Name: 26364, dtype: object
26365 1979 15 ORtg Last Month    131.933
Name: 26365, dtype: object
26366 645 15 ORtg Last Month    43
Name: 26366, dtype: object
26367 1765 15 ORtg Last Month    117.667
Name: 26367, dtype: object
26368 1830 15 ORtg Last Month    122
Name: 26368, dtype: object
26369 357 4 ORtg Last Month    89.25
Name: 26369, dtype: object
26370 1092 15 ORtg Last Month    72.8
Name: 26370, dtype: object
26371 1625 15 ORtg Last Month    108.333
Name: 26371, dtype: object
26372 1745 15 ORtg Last Month    116.333
Name: 26372, dtype: object
26373 1496 13 ORtg Last Month    115.077
Name: 26373, dtype: object
26374 849 14 ORtg Last Month    60.6429
Name: 26374, dtype: object
26375 314 15 ORtg Last Month    20.9333
Name: 26375, dtype: object
26376 1854 15 ORtg Last Month    123.6
Name: 26376, dtype: object
26377 1519 15 ORtg Last Month    101.267
Name: 26377, dtype: object
26378 23 15 ORtg Last Month    1.53333
Name: 26378, dtype: object
26379 1122 13 ORtg Last Month    86.3077
Name: 26379, dtype: object
26380 1343 13 ORtg Last Month    103.308
Name: 26380, dtype: object
26381 1314 12 ORtg Last Month    109.5
Name: 26381, dtype: object
26382 453 10 ORtg Last Month    45.3
Name: 26382, dtype: object
26383 1361 13 ORtg Last Month    104.692
Name: 26383, dtype: object
26384 1385 12 ORtg Last Month    115.417
Name: 26384, dtype: object
26385 1417 13 ORtg Last Month    109
Name: 26385, dtype: object
26386 1026 13 ORtg Last Month    78.9231
Name: 26386, dtype: object
26387 148 8 ORtg Last Month    18.5
Name: 26387, dtype: object
26388 644 8 ORtg Last Month    80.5
Name: 26388, dtype: object
26389 608 13 ORtg Last Month    46.7692
Name: 26389, dtype: object
26390 1463 13 ORtg Last Month    112.538
Name: 26390, dtype: object
26391 1772 13 ORtg Last Month    136.308
Name: 26391, dtype: object
26392 1638 14 ORtg Last Month    117
Name: 26392, dtype: object
26393 1574 14 ORtg Last Month    112.429
Name: 26393, dtype: object
26394 1422 14 ORtg Last Month    101.571
Name: 26394, dtype: object
26395 1514 14 ORtg Last Month    108.143
Name: 26395, dtype: object
26396 1604 14 ORtg Last Month    114.571
Name: 26396, dtype: object
26397 1664 14 ORtg Last Month    118.857
Name: 26397, dtype: object
26398 300 6 ORtg Last Month    50
Name: 26398, dtype: object
26399 967 11 ORtg Last Month    87.9091
Name: 26399, dtype: object
26400 1242 12 ORtg Last Month    103.5
Name: 26400, dtype: object
26401 490 4 ORtg Last Month    122.5
Name: 26401, dtype: object
26402 959 13 ORtg Last Month    73.7692
Name: 26402, dtype: object
26403 191 14 ORtg Last Month    13.6429
Name: 26403, dtype: object
26404 952 11 ORtg Last Month    86.5455
Name: 26404, dtype: object
26405 1327 13 ORtg Last Month    102.077
Name: 26405, dtype: object
26406 1725 14 ORtg Last Month    123.214
Name: 26406, dtype: object
26407 998 13 ORtg Last Month    76.7692
Name: 26407, dtype: object
26408 1360 14 ORtg Last Month    97.1429
Name: 26408, dtype: object
26409 37 2 ORtg Last Month    18.5
Name: 26409, dtype: object
26410 1251 14 ORtg Last Month    89.3571
Name: 26410, dtype: object
26411 685 14 ORtg Last Month    48.9286
Name: 26411, dtype: object
26412 1403 14 ORtg Last Month    100.214
Name: 26412, dtype: object
26413 738 14 ORtg Last Month    52.7143
Name: 26413, dtype: object
26414 2095 14 ORtg Last Month    149.643
Name: 26414, dtype: object
26415 1406 14 ORtg Last Month    100.429
Name: 26415, dtype: object
26416 1439 11 ORtg Last Month    130.818
Name: 26416, dtype: object
26417 845 13 ORtg Last Month    65
Name: 26417, dtype: object
26418 1576 14 ORtg Last Month    112.571
Name: 26418, dtype: object
26419 1530 14 ORtg Last Month    109.286
Name: 26419, dtype: object
26420 1531 14 ORtg Last Month    109.357
Name: 26420, dtype: object
26421 1359 13 ORtg Last Month    104.538
Name: 26421, dtype: object
26422 507 14 ORtg Last Month    36.2143
Name: 26422, dtype: object
26423 1413 14 ORtg Last Month    100.929
Name: 26423, dtype: object
26424 317 6 ORtg Last Month    52.8333
Name: 26424, dtype: object
26425 983 13 ORtg Last Month    75.6154
Name: 26425, dtype: object
26426 205 14 ORtg Last Month    14.6429
Name: 26426, dtype: object
26427 492 14 ORtg Last Month    35.1429
Name: 26427, dtype: object
26428 1730 14 ORtg Last Month    123.571
Name: 26428, dtype: object
26429 1605 14 ORtg Last Month    114.643
Name: 26429, dtype: object
26430 1596 14 ORtg Last Month    114
Name: 26430, dtype: object
26431 1933 15 ORtg Last Month    128.867
Name: 26431, dtype: object
26432 1687 15 ORtg Last Month    112.467
Name: 26432, dtype: object
26433 282 14 ORtg Last Month    20.1429
Name: 26433, dtype: object
26434 1774 15 ORtg Last Month    118.267
Name: 26434, dtype: object
26435 1660 14 ORtg Last Month    118.571
Name: 26435, dtype: object
26436 1691 15 ORtg Last Month    112.733
Name: 26436, dtype: object
26437 1856 15 ORtg Last Month    123.733
Name: 26437, dtype: object

26438 1566 14 ORtg Last Month    111.857
Name: 26438, dtype: object
26439 1618 15 ORtg Last Month    107.867
Name: 26439, dtype: object
26440 142 9 ORtg Last Month    15.7778
Name: 26440, dtype: object
26441 1089 13 ORtg Last Month    83.7692
Name: 26441, dtype: object
26442 1706 15 ORtg Last Month    113.733
Name: 26442, dtype: object
26443 1582 14 ORtg Last Month    113
Name: 26443, dtype: object
26444 1314 15 ORtg Last Month    87.6
Name: 26444, dtype: object
26445 0 1 ORtg Last Month    0
Name: 26445, dtype: object
26446 1440 13 ORtg Last Month    110.769
Name: 26446, dtype: object
26447 946 12 ORtg Last Month    78.8333
Name: 26447, dtype: object
26448 1717 15 ORtg Last Month    114.467
Name: 26448, dtype: object
26449 814 8 ORtg Last Month    101.75
Name: 26449, dtype: object
26450 2028 15 ORtg Last Month    135.2
Name: 26450, dtype: object
26451 637 14 ORtg Last Month    45.5
Name: 26451, dtype: object
26452 840 15 ORtg Last Month    56
Name: 26452, dtype: object
26453 1689 13 ORtg Last Month    129.923
Name: 26453, dtype: object
26454 36 5 ORtg Last Month    7.2
Name: 26454, dtype: object
26455 426 12 ORtg Last Month    35.5
Name: 26455, dtype: object
26456 1565 12 ORtg Last Month    130.417
Name: 26456, dtype: object
26457 1251 13 ORtg Last Month    96.2308
Name: 26457, dtype: object
26458 1522 12 ORtg Last Month    126.833
Name: 26458, dtype: object
26459 509 9 ORtg Last Month    56.5556
Name: 26459, dtype: object
26460 1380 13 ORtg Last Month    106.154
Name: 26460, dtype: object
26461 488 12 ORtg Last Month    40.6667
Name: 26461, dtype: object
26462 1523 13 ORtg Last Month    117.154
Name: 26462, dtype: object
26463 1641 13 ORtg Last Month    126.231
Name: 26463, dtype: object
26464 82 5 ORtg Last Month    16.4
Name: 26464, dtype: object
26465 0 0 ORtg Last Month    0
Name: 26465, dtype: object
26466 1304 12 ORtg Last Month    108.667
Name: 26466, dtype: object
26467 1505 15 ORtg Last Month    100.333
Name: 26467, dtype: object
26468 1489 15 ORtg Last Month    99.2667
Name: 26468, dtype: object
26469 618 13 ORtg Last Month    47.5385
Name: 26469, dtype: object
26470 1485 15 ORtg Last Month    99
Name: 26470, dtype: object
26471 232 11 ORtg Last Month    21.0909
Name: 26471, dtype: object
26472 0 3 ORtg Last Month    0
Name: 26472, dtype: object
26473 108 15 ORtg Last Month    7.2
Name: 26473, dtype: object
26474 1862 15 ORtg Last Month    124.133
Name: 26474, dtype: object
26475 1381 12 ORtg Last Month    115.083
Name: 26475, dtype: object
26476 1862 15 ORtg Last Month    124.133
Name: 26476, dtype: object
26477 117 15 ORtg Last Month    7.8
Name: 26477, dtype: object
26478 1589 15 ORtg Last Month    105.933
Name: 26478, dtype: object
26479 572 10 ORtg Last Month    57.2
Name: 26479, dtype: object
26480 324 6 ORtg Last Month    54
Name: 26480, dtype: object
26481 1638 15 ORtg Last Month    109.2
Name: 26481, dtype: object
26482 1566 15 ORtg Last Month    104.4
Name: 26482, dtype: object
26483 316 5 ORtg Last Month    63.2
Name: 26483, dtype: object
26484 1914 15 ORtg Last Month    127.6
Name: 26484, dtype: object
26485 1658 14 ORtg Last Month    118.429
Name: 26485, dtype: object
26486 1769 15 ORtg Last Month    117.933
Name: 26486, dtype: object
26487 1577 15 ORtg Last Month    105.133
Name: 26487, dtype: object
26488 822 15 ORtg Last Month    54.8
Name: 26488, dtype: object
26489 178 6 ORtg Last Month    29.6667
Name: 26489, dtype: object
26490 1107 12 ORtg Last Month    92.25
Name: 26490, dtype: object
26491 1515 14 ORtg Last Month    108.214
Name: 26491, dtype: object
26492 983 14 ORtg Last Month    70.2143
Name: 26492, dtype: object
26493 437 8 ORtg Last Month    54.625
Name: 26493, dtype: object
26494 898 14 ORtg Last Month    64.1429
Name: 26494, dtype: object
26495 1366 14 ORtg Last Month    97.5714
Name: 26495, dtype: object
26496 1543 14 ORtg Last Month    110.214
Name: 26496, dtype: object
26497 474 13 ORtg Last Month    36.4615
Name: 26497, dtype: object
26498 1496 14 ORtg Last Month    106.857
Name: 26498, dtype: object
26499 429 8 ORtg Last Month    53.625
Name: 26499, dtype: object
26500 921 13 ORtg Last Month    70.8462
Name: 26500, dtype: object
26501 1481 14 ORtg Last Month    105.786
Name: 26501, dtype: object
26502 466 5 ORtg Last Month    93.2
Name: 26502, dtype: object
26503 1300 14 ORtg Last Month    92.8571
Name: 26503, dtype: object
26504 865 13 ORtg Last Month    66.5385
Name: 26504, dtype: object
26505 1447 14 ORtg Last Month    103.357
Name: 26505, dtype: object
26506 1444 14 ORtg Last Month    103.143
Name: 26506, dtype: object
26507 511 6 ORtg Last Month    85.1667
Name: 26507, dtype: object
26508 1157 14 ORtg Last Month    82.6429
Name: 26508, dtype: object
26509 1924 14 ORtg Last Month    137.429
Name: 26509, dtype: object
26510 1157 10 ORtg Last Month    115.7
Name: 26510, dtype: object
26511 821 12 ORtg Last Month    68.4167
Name: 26511, dtype: object
26512 427 12 ORtg Last Month    35.5833
Name: 26512, dtype: object
26513 1705 14 ORtg Last Month    121.786
Name: 26513, dtype: object
26514 498 5 ORtg Last Month    99.6
Name: 26514, dtype: object
26515 977 14 ORtg Last Month    69.7857
Name: 26515, dtype: object
26516 1450 14 ORtg Last Month    103.571
Name: 26516, dtype: object
26517 1553 14 ORtg Last Month    110.929
Name: 26517, dtype: object
26518 1412 14 ORtg Last Month    100.857
Name: 26518, dtype: object
26519 1189 13 ORtg Last Month    91.4615
Name: 26519, dtype: object
26520 1633 14 ORtg Last Month    116.643
Name: 26520, dtype: object
26521 1884 14 ORtg Last Month    134.571
Name: 26521, dtype: object
26522 207 14 ORtg Last Month    14.7857
Name: 26522, dtype: object
26523 476 14 ORtg Last Month    34
Name: 26523, dtype: object
26524 1470 12 ORtg Last Month    122.5
Name: 26524, dtype: object
26525 152 1 ORtg Last Month    152
Name: 26525, dtype: object
26526 1096 13 ORtg Last Month    84.3077
Name: 26526, dtype: object
26527 1453 12 ORtg Last Month    121.083
Name: 26527, dtype: object
26528 1401 13 ORtg Last Month    107.769
Name: 26528, dtype: object
26529 1478 13 ORtg Last Month    113.692
Name: 26529, dtype: object
26530 1237 13 ORtg Last Month    95.1538
Name: 26530, dtype: object
26531 73 2 ORtg Last Month    36.5
Name: 26531, dtype: object
26532 457 13 ORtg Last Month    35.1538
Name: 26532, dtype: object
26533 808 7 ORtg Last Month    115.429
Name: 26533, dtype: object
26534 754 7 ORtg Last Month    107.714
Name: 26534, dtype: object
26535 821 13 ORtg Last Month    63.1538
Name: 26535, dtype: object
26536 736 12 ORtg Last Month    61.3333
Name: 26536, dtype: object
26537 1550 14 ORtg Last Month    110.714
Name: 26537, dtype: object
26538 1023 14 ORtg Last Month    73.0714
Name: 26538, dtype: object
26539 464 13 ORtg Last Month    35.6923
Name: 26539, dtype: object
26540 1516 14 ORtg Last Month    108.286
Name: 26540, dtype: object
26541 1425 14 ORtg Last Month    101.786
Name: 26541, dtype: object
26542 1774 14 ORtg Last Month    126.714
Name: 26542, dtype: object
26543 1581 14 ORtg Last Month    112.929
Name: 26543, dtype: object
26544 1561 14 ORtg Last Month    111.5
Name: 26544, dtype: object
26545 1768 14 ORtg Last Month    126.286
Name: 26545, dtype: object
26546 1132 9 ORtg Last Month    125.778
Name: 26546, dtype: object
26547 388 13 ORtg Last Month    29.8462
Name: 26547, dtype: object
26548 1621 13 ORtg Last Month    124.692
Name: 26548, dtype: object
26549 1362 13 ORtg Last Month    104.769
Name: 26549, dtype: object
26550 1404 13 ORtg Last Month    108
Name: 26550, dtype: object
26551 320 11 ORtg Last Month    29.0909
Name: 26551, dtype: object
26552 1444 13 ORtg Last Month    111.077
Name: 26552, dtype: object
26553 1201 11 ORtg Last Month    109.182
Name: 26553, dtype: object
26554 1336 13 ORtg Last Month    102.769
Name: 26554, dtype: object
26555 1350 13 ORtg Last Month    103.846
Name: 26555, dtype: object
26556 73 13 ORtg Last Month    5.61538
Name: 26556, dtype: object
26557 378 13 ORtg Last Month    29.0769
Name: 26557, dtype: object
26558 1534 13 ORtg Last Month    118
Name: 26558, dtype: object
26559 1739 12 ORtg Last Month    144.917
Name: 26559, dtype: object
26560 686 11 ORtg Last Month    62.3636
Name: 26560, dtype: object
26561 738 6 ORtg Last Month    123
Name: 26561, dtype: object

26562 1230 14 ORtg Last Month    87.8571
Name: 26562, dtype: object
26563 1136 10 ORtg Last Month    113.6
Name: 26563, dtype: object
26564 216 3 ORtg Last Month    72
Name: 26564, dtype: object
26565 1718 14 ORtg Last Month    122.714
Name: 26565, dtype: object
26566 1381 14 ORtg Last Month    98.6429
Name: 26566, dtype: object
26567 1336 14 ORtg Last Month    95.4286
Name: 26567, dtype: object
26568 652 13 ORtg Last Month    50.1538
Name: 26568, dtype: object
26569 1613 14 ORtg Last Month    115.214
Name: 26569, dtype: object
26570 1307 11 ORtg Last Month    118.818
Name: 26570, dtype: object
26571 1551 14 ORtg Last Month    110.786
Name: 26571, dtype: object
26572 697 12 ORtg Last Month    58.0833
Name: 26572, dtype: object
26573 1672 14 ORtg Last Month    119.429
Name: 26573, dtype: object
26574 1338 14 ORtg Last Month    95.5714
Name: 26574, dtype: object
26575 1412 14 ORtg Last Month    100.857
Name: 26575, dtype: object
26576 797 13 ORtg Last Month    61.3077
Name: 26576, dtype: object
26577 1743 14 ORtg Last Month    124.5
Name: 26577, dtype: object
26578 1111 14 ORtg Last Month    79.3571
Name: 26578, dtype: object
26579 247 3 ORtg Last Month    82.3333
Name: 26579, dtype: object
26580 1334 11 ORtg Last Month    121.273
Name: 26580, dtype: object
26581 1494 12 ORtg Last Month    124.5
Name: 26581, dtype: object
26582 1591 14 ORtg Last Month    113.643
Name: 26582, dtype: object
26583 1369 12 ORtg Last Month    114.083
Name: 26583, dtype: object
26584 1696 14 ORtg Last Month    121.143
Name: 26584, dtype: object
26585 1229 12 ORtg Last Month    102.417
Name: 26585, dtype: object
26586 313 12 ORtg Last Month    26.0833
Name: 26586, dtype: object
26587 1201 12 ORtg Last Month    100.083
Name: 26587, dtype: object
26588 1551 14 ORtg Last Month    110.786
Name: 26588, dtype: object
26589 1107 10 ORtg Last Month    110.7
Name: 26589, dtype: object
26590 1316 14 ORtg Last Month    94
Name: 26590, dtype: object
26591 751 14 ORtg Last Month    53.6429
Name: 26591, dtype: object
26592 1572 12 ORtg Last Month    131
Name: 26592, dtype: object
26593 1245 11 ORtg Last Month    113.182
Name: 26593, dtype: object
26594 1102 13 ORtg Last Month    84.7692
Name: 26594, dtype: object
26595 495 8 ORtg Last Month    61.875
Name: 26595, dtype: object
26596 1523 14 ORtg Last Month    108.786
Name: 26596, dtype: object
26597 724 9 ORtg Last Month    80.4444
Name: 26597, dtype: object
26598 612 13 ORtg Last Month    47.0769
Name: 26598, dtype: object
26599 0 10 ORtg Last Month    0
Name: 26599, dtype: object
26600 1609 14 ORtg Last Month    114.929
Name: 26600, dtype: object
26601 1084 11 ORtg Last Month    98.5455
Name: 26601, dtype: object
26602 1396 13 ORtg Last Month    107.385
Name: 26602, dtype: object
26603 1537 14 ORtg Last Month    109.786
Name: 26603, dtype: object
26604 644 8 ORtg Last Month    80.5
Name: 26604, dtype: object
26605 1056 10 ORtg Last Month    105.6
Name: 26605, dtype: object
26606 1474 13 ORtg Last Month    113.385
Name: 26606, dtype: object
26607 1319 13 ORtg Last Month    101.462
Name: 26607, dtype: object
26608 1565 14 ORtg Last Month    111.786
Name: 26608, dtype: object
26609 1534 14 ORtg Last Month    109.571
Name: 26609, dtype: object
26610 1607 14 ORtg Last Month    114.786
Name: 26610, dtype: object
26611 1269 13 ORtg Last Month    97.6154
Name: 26611, dtype: object
26612 411 14 ORtg Last Month    29.3571
Name: 26612, dtype: object
26613 1328 14 ORtg Last Month    94.8571
Name: 26613, dtype: object
26614 1029 13 ORtg Last Month    79.1538
Name: 26614, dtype: object
26615 341 7 ORtg Last Month    48.7143
Name: 26615, dtype: object
26616 492 14 ORtg Last Month    35.1429
Name: 26616, dtype: object
26617 236 14 ORtg Last Month    16.8571
Name: 26617, dtype: object
26618 1710 14 ORtg Last Month    122.143
Name: 26618, dtype: object
26619 1563 14 ORtg Last Month    111.643
Name: 26619, dtype: object
26620 1632 14 ORtg Last Month    116.571
Name: 26620, dtype: object
26621 1351 13 ORtg Last Month    103.923
Name: 26621, dtype: object
26622 1339 12 ORtg Last Month    111.583
Name: 26622, dtype: object
26623 1338 11 ORtg Last Month    121.636
Name: 26623, dtype: object
26624 1396 14 ORtg Last Month    99.7143
Name: 26624, dtype: object
26625 1348 11 ORtg Last Month    122.545
Name: 26625, dtype: object
26626 1370 11 ORtg Last Month    124.545
Name: 26626, dtype: object
26627 1106 14 ORtg Last Month    79
Name: 26627, dtype: object
26628 1879 14 ORtg Last Month    134.214
Name: 26628, dtype: object
26629 1536 14 ORtg Last Month    109.714
Name: 26629, dtype: object
26630 1112 10 ORtg Last Month    111.2
Name: 26630, dtype: object
26631 1655 12 ORtg Last Month    137.917
Name: 26631, dtype: object
26632 702 5 ORtg Last Month    140.4
Name: 26632, dtype: object
26633 1276 13 ORtg Last Month    98.1538
Name: 26633, dtype: object
26634 1254 11 ORtg Last Month    114
Name: 26634, dtype: object
26635 1232 14 ORtg Last Month    88
Name: 26635, dtype: object
26636 873 14 ORtg Last Month    62.3571
Name: 26636, dtype: object
26637 1618 14 ORtg Last Month    115.571
Name: 26637, dtype: object
26638 1530 14 ORtg Last Month    109.286
Name: 26638, dtype: object
26639 765 9 ORtg Last Month    85
Name: 26639, dtype: object
26640 1607 14 ORtg Last Month    114.786
Name: 26640, dtype: object
26641 240 4 ORtg Last Month    60
Name: 26641, dtype: object
26642 1311 14 ORtg Last Month    93.6429
Name: 26642, dtype: object
26643 914 9 ORtg Last Month    101.556
Name: 26643, dtype: object
26644 1051 14 ORtg Last Month    75.0714
Name: 26644, dtype: object
26645 1445 15 ORtg Last Month    96.3333
Name: 26645, dtype: object
26646 1533 15 ORtg Last Month    102.2
Name: 26646, dtype: object
26647 359 12 ORtg Last Month    29.9167
Name: 26647, dtype: object
26648 178 3 ORtg Last Month    59.3333
Name: 26648, dtype: object
26649 1370 12 ORtg Last Month    114.167
Name: 26649, dtype: object
26650 1587 15 ORtg Last Month    105.8
Name: 26650, dtype: object
26651 497 7 ORtg Last Month    71
Name: 26651, dtype: object
26652 1265 13 ORtg Last Month    97.3077
Name: 26652, dtype: object
26653 1863 15 ORtg Last Month    124.2
Name: 26653, dtype: object
26654 783 12 ORtg Last Month    65.25
Name: 26654, dtype: object
26655 855 15 ORtg Last Month    57
Name: 26655, dtype: object
26656 558 12 ORtg Last Month    46.5
Name: 26656, dtype: object
26657 877 14 ORtg Last Month    62.6429
Name: 26657, dtype: object
26658 1692 14 ORtg Last Month    120.857
Name: 26658, dtype: object
26659 889 12 ORtg Last Month    74.0833
Name: 26659, dtype: object
26660 0 7 ORtg Last Month    0
Name: 26660, dtype: object
26661 1072 12 ORtg Last Month    89.3333
Name: 26661, dtype: object
26662 1533 14 ORtg Last Month    109.5
Name: 26662, dtype: object
26663 1411 14 ORtg Last Month    100.786
Name: 26663, dtype: object
26664 1537 14 ORtg Last Month    109.786
Name: 26664, dtype: object
26665 1306 14 ORtg Last Month    93.2857
Name: 26665, dtype: object
26666 203 5 ORtg Last Month    40.6
Name: 26666, dtype: object
26667 1600 13 ORtg Last Month    123.077
Name: 26667, dtype: object
26668 1388 14 ORtg Last Month    99.1429
Name: 26668, dtype: object
26669 1321 14 ORtg Last Month    94.3571
Name: 26669, dtype: object
26670 1435 14 ORtg Last Month    102.5
Name: 26670, dtype: object
26671 1491 15 ORtg Last Month    99.4
Name: 26671, dtype: object
26672 661 15 ORtg Last Month    44.0667
Name: 26672, dtype: object
26673 346 11 ORtg Last Month    31.4545
Name: 26673, dtype: object
26674 1293 14 ORtg Last Month    92.3571
Name: 26674, dtype: object
26675 1626 15 ORtg Last Month    108.4
Name: 26675, dtype: object
26676 1537 15 ORtg Last Month    102.467
Name: 26676, dtype: object
26677 1581 15 ORtg Last Month    105.4
Name: 26677, dtype: object
26678 61 11 ORtg Last Month    5.54545
Name: 26678, dtype: object
26679 1635 15 ORtg Last Month    109
Name: 26679, dtype: object
26680 1704 14 ORtg Last Month    121.714
Name: 26680, dtype: object
26681 1287 14 ORtg Last Month    91.9286
Name: 26681, dtype: object
26682 0 15 ORtg Last Month    0
Name: 26682, dtype: object
26683 1834 14 ORtg Last Month    131
Name: 26683, dtype: object
26684 1541 14 ORtg Last Month    110.071
Name: 26684, dtype: object
26685 624 8 ORtg Last Month    78
Name: 26685, dtype: object

26686 1463 14 ORtg Last Month    104.5
Name: 26686, dtype: object
26687 1569 13 ORtg Last Month    120.692
Name: 26687, dtype: object
26688 1234 14 ORtg Last Month    88.1429
Name: 26688, dtype: object
26689 751 9 ORtg Last Month    83.4444
Name: 26689, dtype: object
26690 1414 13 ORtg Last Month    108.769
Name: 26690, dtype: object
26691 1316 13 ORtg Last Month    101.231
Name: 26691, dtype: object
26692 1007 14 ORtg Last Month    71.9286
Name: 26692, dtype: object
26693 558 13 ORtg Last Month    42.9231
Name: 26693, dtype: object
26694 116 9 ORtg Last Month    12.8889
Name: 26694, dtype: object
26695 1704 16 ORtg Last Month    106.5
Name: 26695, dtype: object
26696 1507 13 ORtg Last Month    115.923
Name: 26696, dtype: object
26697 1152 10 ORtg Last Month    115.2
Name: 26697, dtype: object
26698 599 10 ORtg Last Month    59.9
Name: 26698, dtype: object
26699 1763 16 ORtg Last Month    110.188
Name: 26699, dtype: object
26700 1692 16 ORtg Last Month    105.75
Name: 26700, dtype: object
26701 1569 16 ORtg Last Month    98.0625
Name: 26701, dtype: object
26702 1508 15 ORtg Last Month    100.533
Name: 26702, dtype: object
26703 1708 16 ORtg Last Month    106.75
Name: 26703, dtype: object
26704 1251 16 ORtg Last Month    78.1875
Name: 26704, dtype: object
26705 2183 16 ORtg Last Month    136.438
Name: 26705, dtype: object
26706 2094 16 ORtg Last Month    130.875
Name: 26706, dtype: object
26707 645 16 ORtg Last Month    40.3125
Name: 26707, dtype: object
26708 1882 16 ORtg Last Month    117.625
Name: 26708, dtype: object
26709 1961 16 ORtg Last Month    122.562
Name: 26709, dtype: object
26710 538 5 ORtg Last Month    107.6
Name: 26710, dtype: object
26711 1150 16 ORtg Last Month    71.875
Name: 26711, dtype: object
26712 1773 16 ORtg Last Month    110.812
Name: 26712, dtype: object
26713 849 15 ORtg Last Month    56.6
Name: 26713, dtype: object
26714 1833 16 ORtg Last Month    114.562
Name: 26714, dtype: object
26715 314 16 ORtg Last Month    19.625
Name: 26715, dtype: object
26716 1613 16 ORtg Last Month    100.812
Name: 26716, dtype: object
26717 1966 16 ORtg Last Month    122.875
Name: 26717, dtype: object
26718 23 16 ORtg Last Month    1.4375
Name: 26718, dtype: object
26719 313 12 ORtg Last Month    26.0833
Name: 26719, dtype: object
26720 1669 14 ORtg Last Month    119.214
Name: 26720, dtype: object
26721 1306 13 ORtg Last Month    100.462
Name: 26721, dtype: object
26722 1126 10 ORtg Last Month    112.6
Name: 26722, dtype: object
26723 1326 14 ORtg Last Month    94.7143
Name: 26723, dtype: object
26724 1572 14 ORtg Last Month    112.286
Name: 26724, dtype: object
26725 1191 12 ORtg Last Month    99.25
Name: 26725, dtype: object
26726 751 14 ORtg Last Month    53.6429
Name: 26726, dtype: object
26727 1079 13 ORtg Last Month    83
Name: 26727, dtype: object
26728 495 8 ORtg Last Month    61.875
Name: 26728, dtype: object
26729 1380 12 ORtg Last Month    115
Name: 26729, dtype: object
26730 0 2 ORtg Last Month    0
Name: 26730, dtype: object
26731 664 11 ORtg Last Month    60.3636
Name: 26731, dtype: object
26732 1291 13 ORtg Last Month    99.3077
Name: 26732, dtype: object
26733 1235 13 ORtg Last Month    95
Name: 26733, dtype: object
26734 1429 13 ORtg Last Month    109.923
Name: 26734, dtype: object
26735 399 10 ORtg Last Month    39.9
Name: 26735, dtype: object
26736 1451 13 ORtg Last Month    111.615
Name: 26736, dtype: object
26737 1324 12 ORtg Last Month    110.333
Name: 26737, dtype: object
26738 1170 13 ORtg Last Month    90
Name: 26738, dtype: object
26739 655 8 ORtg Last Month    81.875
Name: 26739, dtype: object
26740 1282 13 ORtg Last Month    98.6154
Name: 26740, dtype: object
26741 398 9 ORtg Last Month    44.2222
Name: 26741, dtype: object
26742 1765 13 ORtg Last Month    135.769
Name: 26742, dtype: object
26743 1584 13 ORtg Last Month    121.846
Name: 26743, dtype: object
26744 625 13 ORtg Last Month    48.0769
Name: 26744, dtype: object
26745 1597 14 ORtg Last Month    114.071
Name: 26745, dtype: object
26746 1697 14 ORtg Last Month    121.214
Name: 26746, dtype: object
26747 830 14 ORtg Last Month    59.2857
Name: 26747, dtype: object
26748 234 6 ORtg Last Month    39
Name: 26748, dtype: object
26749 51 1 ORtg Last Month    51
Name: 26749, dtype: object
26750 1394 14 ORtg Last Month    99.5714
Name: 26750, dtype: object
26751 1679 14 ORtg Last Month    119.929
Name: 26751, dtype: object
26752 1703 14 ORtg Last Month    121.643
Name: 26752, dtype: object
26753 1657 15 ORtg Last Month    110.467
Name: 26753, dtype: object
26754 1770 15 ORtg Last Month    118
Name: 26754, dtype: object
26755 1540 15 ORtg Last Month    102.667
Name: 26755, dtype: object
26756 1597 15 ORtg Last Month    106.467
Name: 26756, dtype: object
26757 1794 15 ORtg Last Month    119.6
Name: 26757, dtype: object
26758 1777 15 ORtg Last Month    118.467
Name: 26758, dtype: object
26759 300 7 ORtg Last Month    42.8571
Name: 26759, dtype: object
26760 596 5 ORtg Last Month    119.2
Name: 26760, dtype: object
26761 1121 12 ORtg Last Month    93.4167
Name: 26761, dtype: object
26762 1027 14 ORtg Last Month    73.3571
Name: 26762, dtype: object
26763 952 12 ORtg Last Month    79.3333
Name: 26763, dtype: object
26764 191 15 ORtg Last Month    12.7333
Name: 26764, dtype: object
26765 1663 15 ORtg Last Month    110.867
Name: 26765, dtype: object
26766 1952 15 ORtg Last Month    130.133
Name: 26766, dtype: object
26767 282 14 ORtg Last Month    20.1429
Name: 26767, dtype: object
26768 1818 15 ORtg Last Month    121.2
Name: 26768, dtype: object
26769 1823 14 ORtg Last Month    130.214
Name: 26769, dtype: object
26770 1753 15 ORtg Last Month    116.867
Name: 26770, dtype: object
26771 1911 15 ORtg Last Month    127.4
Name: 26771, dtype: object
26772 1767 15 ORtg Last Month    117.8
Name: 26772, dtype: object
26773 1055 13 ORtg Last Month    81.1538
Name: 26773, dtype: object
26774 351 9 ORtg Last Month    39
Name: 26774, dtype: object
26775 1736 15 ORtg Last Month    115.733
Name: 26775, dtype: object
26776 1577 14 ORtg Last Month    112.643
Name: 26776, dtype: object
26777 0 2 ORtg Last Month    0
Name: 26777, dtype: object
26778 1374 15 ORtg Last Month    91.6
Name: 26778, dtype: object
26779 1509 13 ORtg Last Month    116.077
Name: 26779, dtype: object
26780 1668 15 ORtg Last Month    111.2
Name: 26780, dtype: object
26781 845 9 ORtg Last Month    93.8889
Name: 26781, dtype: object
26782 980 12 ORtg Last Month    81.6667
Name: 26782, dtype: object
26783 2015 15 ORtg Last Month    134.333
Name: 26783, dtype: object
26784 725 14 ORtg Last Month    51.7857
Name: 26784, dtype: object
26785 244 1 ORtg Last Month    244
Name: 26785, dtype: object
26786 920 15 ORtg Last Month    61.3333
Name: 26786, dtype: object
26787 1274 11 ORtg Last Month    115.818
Name: 26787, dtype: object
26788 1228 14 ORtg Last Month    87.7143
Name: 26788, dtype: object
26789 780 14 ORtg Last Month    55.7143
Name: 26789, dtype: object
26790 1653 14 ORtg Last Month    118.071
Name: 26790, dtype: object
26791 1541 14 ORtg Last Month    110.071
Name: 26791, dtype: object
26792 1591 14 ORtg Last Month    113.643
Name: 26792, dtype: object
26793 843 10 ORtg Last Month    84.3
Name: 26793, dtype: object
26794 240 5 ORtg Last Month    48
Name: 26794, dtype: object
26795 1336 14 ORtg Last Month    95.4286
Name: 26795, dtype: object
26796 1026 10 ORtg Last Month    102.6
Name: 26796, dtype: object
26797 844 14 ORtg Last Month    60.2857
Name: 26797, dtype: object
26798 1634 13 ORtg Last Month    125.692
Name: 26798, dtype: object
26799 1657 12 ORtg Last Month    138.083
Name: 26799, dtype: object
26800 167 6 ORtg Last Month    27.8333
Name: 26800, dtype: object
26801 534 12 ORtg Last Month    44.5
Name: 26801, dtype: object
26802 1276 13 ORtg Last Month    98.1538
Name: 26802, dtype: object
26803 1538 12 ORtg Last Month    128.167
Name: 26803, dtype: object
26804 1377 13 ORtg Last Month    105.923
Name: 26804, dtype: object
26805 698 10 ORtg Last Month    69.8
Name: 26805, dtype: object
26806 683 12 ORtg Last Month    56.9167
Name: 26806, dtype: object
26807 1464 13 ORtg Last Month    112.615
Name: 26807, dtype: object
26808 1660 13 ORtg Last Month    127.692
Name: 26808, dtype: object
26809 322 5 ORtg Last Month    64.4
Name: 26809, dtype: object

26810 1201 11 ORtg Last Month    109.182
Name: 26810, dtype: object
26811 1241 12 ORtg Last Month    103.417
Name: 26811, dtype: object
26812 1077 12 ORtg Last Month    89.75
Name: 26812, dtype: object
26813 519 8 ORtg Last Month    64.875
Name: 26813, dtype: object
26814 1264 12 ORtg Last Month    105.333
Name: 26814, dtype: object
26815 1199 12 ORtg Last Month    99.9167
Name: 26815, dtype: object
26816 144 5 ORtg Last Month    28.8
Name: 26816, dtype: object
26817 1007 12 ORtg Last Month    83.9167
Name: 26817, dtype: object
26818 130 4 ORtg Last Month    32.5
Name: 26818, dtype: object
26819 1347 12 ORtg Last Month    112.25
Name: 26819, dtype: object
26820 1271 12 ORtg Last Month    105.917
Name: 26820, dtype: object
26821 1457 15 ORtg Last Month    97.1333
Name: 26821, dtype: object
26822 1261 12 ORtg Last Month    105.083
Name: 26822, dtype: object
26823 1522 15 ORtg Last Month    101.467
Name: 26823, dtype: object
26824 1535 15 ORtg Last Month    102.333
Name: 26824, dtype: object
26825 750 14 ORtg Last Month    53.5714
Name: 26825, dtype: object
26826 0 4 ORtg Last Month    0
Name: 26826, dtype: object
26827 108 15 ORtg Last Month    7.2
Name: 26827, dtype: object
26828 305 11 ORtg Last Month    27.7273
Name: 26828, dtype: object
26829 1543 13 ORtg Last Month    118.692
Name: 26829, dtype: object
26830 1803 15 ORtg Last Month    120.2
Name: 26830, dtype: object
26831 1837 15 ORtg Last Month    122.467
Name: 26831, dtype: object
26832 117 15 ORtg Last Month    7.8
Name: 26832, dtype: object
26833 952 14 ORtg Last Month    68
Name: 26833, dtype: object
26834 1710 14 ORtg Last Month    122.143
Name: 26834, dtype: object
26835 1056 13 ORtg Last Month    81.2308
Name: 26835, dtype: object
26836 0 8 ORtg Last Month    0
Name: 26836, dtype: object
26837 1062 12 ORtg Last Month    88.5
Name: 26837, dtype: object
26838 1489 14 ORtg Last Month    106.357
Name: 26838, dtype: object
26839 1327 14 ORtg Last Month    94.7857
Name: 26839, dtype: object
26840 1588 14 ORtg Last Month    113.429
Name: 26840, dtype: object
26841 1560 14 ORtg Last Month    111.429
Name: 26841, dtype: object
26842 203 6 ORtg Last Month    33.8333
Name: 26842, dtype: object
26843 1544 13 ORtg Last Month    118.769
Name: 26843, dtype: object
26844 1503 14 ORtg Last Month    107.357
Name: 26844, dtype: object
26845 1181 14 ORtg Last Month    84.3571
Name: 26845, dtype: object
26846 1285 14 ORtg Last Month    91.7857
Name: 26846, dtype: object
26847 582 6 ORtg Last Month    97
Name: 26847, dtype: object
26848 791 13 ORtg Last Month    60.8462
Name: 26848, dtype: object
26849 1460 14 ORtg Last Month    104.286
Name: 26849, dtype: object
26850 1435 14 ORtg Last Month    102.5
Name: 26850, dtype: object
26851 1099 14 ORtg Last Month    78.5
Name: 26851, dtype: object
26852 598 7 ORtg Last Month    85.4286
Name: 26852, dtype: object
26853 513 12 ORtg Last Month    42.75
Name: 26853, dtype: object
26854 1901 14 ORtg Last Month    135.786
Name: 26854, dtype: object
26855 1235 11 ORtg Last Month    112.273
Name: 26855, dtype: object
26856 839 12 ORtg Last Month    69.9167
Name: 26856, dtype: object
26857 1713 14 ORtg Last Month    122.357
Name: 26857, dtype: object
26858 554 6 ORtg Last Month    92.3333
Name: 26858, dtype: object
26859 945 14 ORtg Last Month    67.5
Name: 26859, dtype: object
26860 1459 14 ORtg Last Month    104.214
Name: 26860, dtype: object
26861 1515 14 ORtg Last Month    108.214
Name: 26861, dtype: object
26862 1410 14 ORtg Last Month    100.714
Name: 26862, dtype: object
26863 1263 13 ORtg Last Month    97.1538
Name: 26863, dtype: object
26864 1568 14 ORtg Last Month    112
Name: 26864, dtype: object
26865 1946 14 ORtg Last Month    139
Name: 26865, dtype: object
26866 476 14 ORtg Last Month    34
Name: 26866, dtype: object
26867 407 14 ORtg Last Month    29.0714
Name: 26867, dtype: object
26868 1578 13 ORtg Last Month    121.385
Name: 26868, dtype: object
26869 1175 14 ORtg Last Month    83.9286
Name: 26869, dtype: object
26870 242 2 ORtg Last Month    121
Name: 26870, dtype: object
26871 1578 14 ORtg Last Month    112.714
Name: 26871, dtype: object
26872 1554 13 ORtg Last Month    119.538
Name: 26872, dtype: object
26873 1534 14 ORtg Last Month    109.571
Name: 26873, dtype: object
26874 1197 12 ORtg Last Month    99.75
Name: 26874, dtype: object
26875 1390 14 ORtg Last Month    99.2857
Name: 26875, dtype: object
26876 73 3 ORtg Last Month    24.3333
Name: 26876, dtype: object
26877 457 14 ORtg Last Month    32.6429
Name: 26877, dtype: object
26878 736 13 ORtg Last Month    56.6154
Name: 26878, dtype: object
26879 821 14 ORtg Last Month    58.6429
Name: 26879, dtype: object
26880 918 8 ORtg Last Month    114.75
Name: 26880, dtype: object
26881 1557 14 ORtg Last Month    111.214
Name: 26881, dtype: object
26882 671 11 ORtg Last Month    61
Name: 26882, dtype: object
26883 1145 13 ORtg Last Month    88.0769
Name: 26883, dtype: object
26884 576 11 ORtg Last Month    52.3636
Name: 26884, dtype: object
26885 53 3 ORtg Last Month    17.6667
Name: 26885, dtype: object
26886 1644 14 ORtg Last Month    117.429
Name: 26886, dtype: object
26887 958 11 ORtg Last Month    87.0909
Name: 26887, dtype: object
26888 1520 14 ORtg Last Month    108.571
Name: 26888, dtype: object
26889 1573 14 ORtg Last Month    112.357
Name: 26889, dtype: object
26890 1702 14 ORtg Last Month    121.571
Name: 26890, dtype: object
26891 492 14 ORtg Last Month    35.1429
Name: 26891, dtype: object
26892 1843 14 ORtg Last Month    131.643
Name: 26892, dtype: object
26893 1643 14 ORtg Last Month    117.357
Name: 26893, dtype: object
26894 844 9 ORtg Last Month    93.7778
Name: 26894, dtype: object
26895 1526 13 ORtg Last Month    117.385
Name: 26895, dtype: object
26896 1221 14 ORtg Last Month    87.2143
Name: 26896, dtype: object
26897 1488 13 ORtg Last Month    114.462
Name: 26897, dtype: object
26898 1496 14 ORtg Last Month    106.857
Name: 26898, dtype: object
26899 834 10 ORtg Last Month    83.4
Name: 26899, dtype: object
26900 1350 13 ORtg Last Month    103.846
Name: 26900, dtype: object
26901 684 13 ORtg Last Month    52.6154
Name: 26901, dtype: object
26902 1120 14 ORtg Last Month    80
Name: 26902, dtype: object
26903 217 9 ORtg Last Month    24.1111
Name: 26903, dtype: object
26904 1540 14 ORtg Last Month    110
Name: 26904, dtype: object
26905 464 13 ORtg Last Month    35.6923
Name: 26905, dtype: object
26906 1007 14 ORtg Last Month    71.9286
Name: 26906, dtype: object
26907 1429 14 ORtg Last Month    102.071
Name: 26907, dtype: object
26908 1510 14 ORtg Last Month    107.857
Name: 26908, dtype: object
26909 1738 14 ORtg Last Month    124.143
Name: 26909, dtype: object
26910 1770 14 ORtg Last Month    126.429
Name: 26910, dtype: object
26911 1094 9 ORtg Last Month    121.556
Name: 26911, dtype: object
26912 1857 14 ORtg Last Month    132.643
Name: 26912, dtype: object
26913 470 13 ORtg Last Month    36.1538
Name: 26913, dtype: object
26914 0 5 ORtg Last Month    0
Name: 26914, dtype: object
26915 852 7 ORtg Last Month    121.714
Name: 26915, dtype: object
26916 1086 10 ORtg Last Month    108.6
Name: 26916, dtype: object
26917 1270 14 ORtg Last Month    90.7143
Name: 26917, dtype: object
26918 149 3 ORtg Last Month    49.6667
Name: 26918, dtype: object
26919 0 1 ORtg Last Month    0
Name: 26919, dtype: object
26920 1386 14 ORtg Last Month    99
Name: 26920, dtype: object
26921 1750 14 ORtg Last Month    125
Name: 26921, dtype: object
26922 656 13 ORtg Last Month    50.4615
Name: 26922, dtype: object
26923 1217 11 ORtg Last Month    110.636
Name: 26923, dtype: object
26924 1501 14 ORtg Last Month    107.214
Name: 26924, dtype: object
26925 801 12 ORtg Last Month    66.75
Name: 26925, dtype: object
26926 1612 14 ORtg Last Month    115.143
Name: 26926, dtype: object
26927 1315 11 ORtg Last Month    119.545
Name: 26927, dtype: object
26928 898 13 ORtg Last Month    69.0769
Name: 26928, dtype: object
26929 1638 14 ORtg Last Month    117
Name: 26929, dtype: object
26930 1525 14 ORtg Last Month    108.929
Name: 26930, dtype: object
26931 1412 14 ORtg Last Month    100.857
Name: 26931, dtype: object
26932 1115 14 ORtg Last Month    79.6429
Name: 26932, dtype: object
26933 404 4 ORtg Last Month    101
Name: 26933, dtype: object

26934 1466 14 ORtg Last Month    104.714
Name: 26934, dtype: object
26935 1693 14 ORtg Last Month    120.929
Name: 26935, dtype: object
26936 1523 14 ORtg Last Month    108.786
Name: 26936, dtype: object
26937 634 13 ORtg Last Month    48.7692
Name: 26937, dtype: object
26938 878 10 ORtg Last Month    87.8
Name: 26938, dtype: object
26939 0 10 ORtg Last Month    0
Name: 26939, dtype: object
26940 1499 14 ORtg Last Month    107.071
Name: 26940, dtype: object
26941 929 10 ORtg Last Month    92.9
Name: 26941, dtype: object
26942 1198 11 ORtg Last Month    108.909
Name: 26942, dtype: object
26943 1645 14 ORtg Last Month    117.5
Name: 26943, dtype: object
26944 1380 13 ORtg Last Month    106.154
Name: 26944, dtype: object
26945 642 8 ORtg Last Month    80.25
Name: 26945, dtype: object
26946 1662 14 ORtg Last Month    118.714
Name: 26946, dtype: object
26947 1248 13 ORtg Last Month    96
Name: 26947, dtype: object
26948 1080 14 ORtg Last Month    77.1429
Name: 26948, dtype: object
26949 1682 14 ORtg Last Month    120.143
Name: 26949, dtype: object
26950 1419 14 ORtg Last Month    101.357
Name: 26950, dtype: object
26951 37 3 ORtg Last Month    12.3333
Name: 26951, dtype: object
26952 1420 14 ORtg Last Month    101.429
Name: 26952, dtype: object
26953 1290 14 ORtg Last Month    92.1429
Name: 26953, dtype: object
26954 772 14 ORtg Last Month    55.1429
Name: 26954, dtype: object
26955 738 14 ORtg Last Month    52.7143
Name: 26955, dtype: object
26956 88 6 ORtg Last Month    14.6667
Name: 26956, dtype: object
26957 1380 14 ORtg Last Month    98.5714
Name: 26957, dtype: object
26958 2090 14 ORtg Last Month    149.286
Name: 26958, dtype: object
26959 957 13 ORtg Last Month    73.6154
Name: 26959, dtype: object
26960 1317 11 ORtg Last Month    119.727
Name: 26960, dtype: object
26961 1586 14 ORtg Last Month    113.286
Name: 26961, dtype: object
26962 1249 13 ORtg Last Month    96.0769
Name: 26962, dtype: object
26963 1575 14 ORtg Last Month    112.5
Name: 26963, dtype: object
26964 1665 14 ORtg Last Month    118.929
Name: 26964, dtype: object
26965 360 14 ORtg Last Month    25.7143
Name: 26965, dtype: object
26966 1303 14 ORtg Last Month    93.0714
Name: 26966, dtype: object
26967 427 8 ORtg Last Month    53.375
Name: 26967, dtype: object
26968 1183 13 ORtg Last Month    91
Name: 26968, dtype: object
26969 492 14 ORtg Last Month    35.1429
Name: 26969, dtype: object
26970 236 14 ORtg Last Month    16.8571
Name: 26970, dtype: object
26971 1745 14 ORtg Last Month    124.643
Name: 26971, dtype: object
26972 1599 14 ORtg Last Month    114.214
Name: 26972, dtype: object
26973 1635 14 ORtg Last Month    116.786
Name: 26973, dtype: object
26974 1279 12 ORtg Last Month    106.583
Name: 26974, dtype: object
26975 1386 13 ORtg Last Month    106.615
Name: 26975, dtype: object
26976 1193 11 ORtg Last Month    108.455
Name: 26976, dtype: object
26977 1445 10 ORtg Last Month    144.5
Name: 26977, dtype: object
26978 915 13 ORtg Last Month    70.3846
Name: 26978, dtype: object
26979 1328 11 ORtg Last Month    120.727
Name: 26979, dtype: object
26980 1806 13 ORtg Last Month    138.923
Name: 26980, dtype: object
26981 1346 11 ORtg Last Month    122.364
Name: 26981, dtype: object
26982 1407 13 ORtg Last Month    108.231
Name: 26982, dtype: object
26983 1099 10 ORtg Last Month    109.9
Name: 26983, dtype: object
26984 702 6 ORtg Last Month    117
Name: 26984, dtype: object
26985 1015 12 ORtg Last Month    84.5833
Name: 26985, dtype: object
26986 1650 11 ORtg Last Month    150
Name: 26986, dtype: object
26987 1806 14 ORtg Last Month    129
Name: 26987, dtype: object
26988 1728 13 ORtg Last Month    132.923
Name: 26988, dtype: object
26989 653 13 ORtg Last Month    50.2308
Name: 26989, dtype: object
26990 272 7 ORtg Last Month    38.8571
Name: 26990, dtype: object
26991 1586 12 ORtg Last Month    132.167
Name: 26991, dtype: object
26992 1479 14 ORtg Last Month    105.643
Name: 26992, dtype: object
26993 1565 14 ORtg Last Month    111.786
Name: 26993, dtype: object
26994 1678 13 ORtg Last Month    129.077
Name: 26994, dtype: object
26995 793 11 ORtg Last Month    72.0909
Name: 26995, dtype: object
26996 683 13 ORtg Last Month    52.5385
Name: 26996, dtype: object
26997 1595 14 ORtg Last Month    113.929
Name: 26997, dtype: object
26998 1788 14 ORtg Last Month    127.714
Name: 26998, dtype: object
26999 1489 15 ORtg Last Month    99.2667
Name: 26999, dtype: object
27000 1610 15 ORtg Last Month    107.333
Name: 27000, dtype: object
27001 359 13 ORtg Last Month    27.6154
Name: 27001, dtype: object
27002 983 12 ORtg Last Month    81.9167
Name: 27002, dtype: object
27003 1554 15 ORtg Last Month    103.6
Name: 27003, dtype: object
27004 511 7 ORtg Last Month    73
Name: 27004, dtype: object
27005 1906 15 ORtg Last Month    127.067
Name: 27005, dtype: object
27006 558 12 ORtg Last Month    46.5
Name: 27006, dtype: object
27007 1004 15 ORtg Last Month    66.9333
Name: 27007, dtype: object
27008 927 13 ORtg Last Month    71.3077
Name: 27008, dtype: object
27009 0 0 ORtg Last Month    0
Name: 27009, dtype: object
27010 1356 13 ORtg Last Month    104.308
Name: 27010, dtype: object
27011 1195 13 ORtg Last Month    91.9231
Name: 27011, dtype: object
27012 519 9 ORtg Last Month    57.6667
Name: 27012, dtype: object
27013 703 7 ORtg Last Month    100.429
Name: 27013, dtype: object
27014 1007 13 ORtg Last Month    77.4615
Name: 27014, dtype: object
27015 1318 13 ORtg Last Month    101.385
Name: 27015, dtype: object
27016 1375 13 ORtg Last Month    105.769
Name: 27016, dtype: object
27017 364 6 ORtg Last Month    60.6667
Name: 27017, dtype: object
27018 130 5 ORtg Last Month    26
Name: 27018, dtype: object
27019 1474 13 ORtg Last Month    113.385
Name: 27019, dtype: object
27020 1372 13 ORtg Last Month    105.538
Name: 27020, dtype: object
27021 0 0 ORtg Last Month    0
Name: 27021, dtype: object
27022 324 6 ORtg Last Month    54
Name: 27022, dtype: object
27023 455 6 ORtg Last Month    75.8333
Name: 27023, dtype: object
27024 178 6 ORtg Last Month    29.6667
Name: 27024, dtype: object
27025 1951 15 ORtg Last Month    130.067
Name: 27025, dtype: object
27026 1832 15 ORtg Last Month    122.133
Name: 27026, dtype: object
27027 659 11 ORtg Last Month    59.9091
Name: 27027, dtype: object
27028 893 15 ORtg Last Month    59.5333
Name: 27028, dtype: object
27029 1497 15 ORtg Last Month    99.8
Name: 27029, dtype: object
27030 1530 14 ORtg Last Month    109.286
Name: 27030, dtype: object
27031 919 14 ORtg Last Month    65.6429
Name: 27031, dtype: object
27032 655 9 ORtg Last Month    72.7778
Name: 27032, dtype: object
27033 474 14 ORtg Last Month    33.8571
Name: 27033, dtype: object
27034 1030 14 ORtg Last Month    73.5714
Name: 27034, dtype: object
27035 1395 14 ORtg Last Month    99.6429
Name: 27035, dtype: object
27036 567 8 ORtg Last Month    70.875
Name: 27036, dtype: object
27037 1484 14 ORtg Last Month    106
Name: 27037, dtype: object
27038 1494 14 ORtg Last Month    106.714
Name: 27038, dtype: object
27039 1065 13 ORtg Last Month    81.9231
Name: 27039, dtype: object
27040 1467 14 ORtg Last Month    104.786
Name: 27040, dtype: object
27041 1496 15 ORtg Last Month    99.7333
Name: 27041, dtype: object
27042 628 15 ORtg Last Month    41.8667
Name: 27042, dtype: object
27043 346 11 ORtg Last Month    31.4545
Name: 27043, dtype: object
27044 1392 15 ORtg Last Month    92.8
Name: 27044, dtype: object
27045 1613 15 ORtg Last Month    107.533
Name: 27045, dtype: object
27046 1538 15 ORtg Last Month    102.533
Name: 27046, dtype: object
27047 1400 15 ORtg Last Month    93.3333
Name: 27047, dtype: object
27048 61 11 ORtg Last Month    5.54545
Name: 27048, dtype: object
27049 1663 15 ORtg Last Month    110.867
Name: 27049, dtype: object
27050 1224 14 ORtg Last Month    87.4286
Name: 27050, dtype: object
27051 1738 14 ORtg Last Month    124.143
Name: 27051, dtype: object
27052 0 15 ORtg Last Month    0
Name: 27052, dtype: object
27053 1653 15 ORtg Last Month    110.2
Name: 27053, dtype: object
27054 1085 15 ORtg Last Month    72.3333
Name: 27054, dtype: object
27055 700 14 ORtg Last Month    50
Name: 27055, dtype: object
27056 1638 15 ORtg Last Month    109.2
Name: 27056, dtype: object
27057 1592 15 ORtg Last Month    106.133
Name: 27057, dtype: object

27058 1822 15 ORtg Last Month    121.467
Name: 27058, dtype: object
27059 1843 15 ORtg Last Month    122.867
Name: 27059, dtype: object
27060 1561 14 ORtg Last Month    111.5
Name: 27060, dtype: object
27061 1949 15 ORtg Last Month    129.933
Name: 27061, dtype: object
27062 602 14 ORtg Last Month    43
Name: 27062, dtype: object
27063 0 6 ORtg Last Month    0
Name: 27063, dtype: object
27064 1462 13 ORtg Last Month    112.462
Name: 27064, dtype: object
27065 1404 13 ORtg Last Month    108
Name: 27065, dtype: object
27066 1359 13 ORtg Last Month    104.538
Name: 27066, dtype: object
27067 320 12 ORtg Last Month    26.6667
Name: 27067, dtype: object
27068 1494 13 ORtg Last Month    114.923
Name: 27068, dtype: object
27069 1205 11 ORtg Last Month    109.545
Name: 27069, dtype: object
27070 1326 13 ORtg Last Month    102
Name: 27070, dtype: object
27071 1475 13 ORtg Last Month    113.462
Name: 27071, dtype: object
27072 105 13 ORtg Last Month    8.07692
Name: 27072, dtype: object
27073 378 13 ORtg Last Month    29.0769
Name: 27073, dtype: object
27074 1507 13 ORtg Last Month    115.923
Name: 27074, dtype: object
27075 1723 12 ORtg Last Month    143.583
Name: 27075, dtype: object
27076 93 5 ORtg Last Month    18.6
Name: 27076, dtype: object
27077 1898 16 ORtg Last Month    118.625
Name: 27077, dtype: object
27078 635 6 ORtg Last Month    105.833
Name: 27078, dtype: object
27079 2016 16 ORtg Last Month    126
Name: 27079, dtype: object
27080 1117 16 ORtg Last Month    69.8125
Name: 27080, dtype: object
27081 1784 16 ORtg Last Month    111.5
Name: 27081, dtype: object
27082 206 16 ORtg Last Month    12.875
Name: 27082, dtype: object
27083 1681 16 ORtg Last Month    105.062
Name: 27083, dtype: object
27084 949 15 ORtg Last Month    63.2667
Name: 27084, dtype: object
27085 1927 16 ORtg Last Month    120.438
Name: 27085, dtype: object
27086 1636 16 ORtg Last Month    102.25
Name: 27086, dtype: object
27087 23 16 ORtg Last Month    1.4375
Name: 27087, dtype: object
27088 1303 11 ORtg Last Month    118.455
Name: 27088, dtype: object
27089 1588 14 ORtg Last Month    113.429
Name: 27089, dtype: object
27090 1262 13 ORtg Last Month    97.0769
Name: 27090, dtype: object
27091 452 12 ORtg Last Month    37.6667
Name: 27091, dtype: object
27092 1213 12 ORtg Last Month    101.083
Name: 27092, dtype: object
27093 1166 10 ORtg Last Month    116.6
Name: 27093, dtype: object
27094 1339 14 ORtg Last Month    95.6429
Name: 27094, dtype: object
27095 809 14 ORtg Last Month    57.7857
Name: 27095, dtype: object
27096 1476 11 ORtg Last Month    134.182
Name: 27096, dtype: object
27097 1450 13 ORtg Last Month    111.538
Name: 27097, dtype: object
27098 664 11 ORtg Last Month    60.3636
Name: 27098, dtype: object
27099 1114 13 ORtg Last Month    85.6923
Name: 27099, dtype: object
27100 495 8 ORtg Last Month    61.875
Name: 27100, dtype: object
27101 1306 13 ORtg Last Month    100.462
Name: 27101, dtype: object
27102 1218 13 ORtg Last Month    93.6923
Name: 27102, dtype: object
27103 1393 13 ORtg Last Month    107.154
Name: 27103, dtype: object
27104 399 10 ORtg Last Month    39.9
Name: 27104, dtype: object
27105 1268 12 ORtg Last Month    105.667
Name: 27105, dtype: object
27106 1465 13 ORtg Last Month    112.692
Name: 27106, dtype: object
27107 1350 13 ORtg Last Month    103.846
Name: 27107, dtype: object
27108 1308 13 ORtg Last Month    100.615
Name: 27108, dtype: object
27109 846 8 ORtg Last Month    105.75
Name: 27109, dtype: object
27110 398 10 ORtg Last Month    39.8
Name: 27110, dtype: object
27111 1763 13 ORtg Last Month    135.615
Name: 27111, dtype: object
27112 1765 13 ORtg Last Month    135.769
Name: 27112, dtype: object
27113 466 13 ORtg Last Month    35.8462
Name: 27113, dtype: object
27114 1543 14 ORtg Last Month    110.214
Name: 27114, dtype: object
27115 1666 14 ORtg Last Month    119
Name: 27115, dtype: object
27116 922 14 ORtg Last Month    65.8571
Name: 27116, dtype: object
27117 324 6 ORtg Last Month    54
Name: 27117, dtype: object
27118 1376 14 ORtg Last Month    98.2857
Name: 27118, dtype: object
27119 165 2 ORtg Last Month    82.5
Name: 27119, dtype: object
27120 1646 14 ORtg Last Month    117.571
Name: 27120, dtype: object
27121 1667 14 ORtg Last Month    119.071
Name: 27121, dtype: object
27122 0 0 ORtg Last Month    0
Name: 27122, dtype: object
27123 1469 14 ORtg Last Month    104.929
Name: 27123, dtype: object
27124 754 13 ORtg Last Month    58
Name: 27124, dtype: object
27125 935 11 ORtg Last Month    85
Name: 27125, dtype: object
27126 43 10 ORtg Last Month    4.3
Name: 27126, dtype: object
27127 1480 14 ORtg Last Month    105.714
Name: 27127, dtype: object
27128 730 8 ORtg Last Month    91.25
Name: 27128, dtype: object
27129 1323 13 ORtg Last Month    101.769
Name: 27129, dtype: object
27130 1565 14 ORtg Last Month    111.786
Name: 27130, dtype: object
27131 1295 12 ORtg Last Month    107.917
Name: 27131, dtype: object
27132 885 10 ORtg Last Month    88.5
Name: 27132, dtype: object
27133 1256 13 ORtg Last Month    96.6154
Name: 27133, dtype: object
27134 1640 14 ORtg Last Month    117.143
Name: 27134, dtype: object
27135 1676 15 ORtg Last Month    111.733
Name: 27135, dtype: object
27136 1739 15 ORtg Last Month    115.933
Name: 27136, dtype: object
27137 1485 15 ORtg Last Month    99
Name: 27137, dtype: object
27138 1801 15 ORtg Last Month    120.067
Name: 27138, dtype: object
27139 1731 15 ORtg Last Month    115.4
Name: 27139, dtype: object
27140 1568 15 ORtg Last Month    104.533
Name: 27140, dtype: object
27141 502 8 ORtg Last Month    62.75
Name: 27141, dtype: object
27142 1099 12 ORtg Last Month    91.5833
Name: 27142, dtype: object
27143 978 12 ORtg Last Month    81.5
Name: 27143, dtype: object
27144 714 6 ORtg Last Month    119
Name: 27144, dtype: object
27145 1070 14 ORtg Last Month    76.4286
Name: 27145, dtype: object
27146 191 15 ORtg Last Month    12.7333
Name: 27146, dtype: object
27147 1230 15 ORtg Last Month    82
Name: 27147, dtype: object
27148 1792 15 ORtg Last Month    119.467
Name: 27148, dtype: object
27149 37 4 ORtg Last Month    9.25
Name: 27149, dtype: object
27150 1532 15 ORtg Last Month    102.133
Name: 27150, dtype: object
27151 1452 15 ORtg Last Month    96.8
Name: 27151, dtype: object
27152 1551 15 ORtg Last Month    103.4
Name: 27152, dtype: object
27153 961 15 ORtg Last Month    64.0667
Name: 27153, dtype: object
27154 855 15 ORtg Last Month    57
Name: 27154, dtype: object
27155 1043 14 ORtg Last Month    74.5
Name: 27155, dtype: object
27156 2159 15 ORtg Last Month    143.933
Name: 27156, dtype: object
27157 1361 12 ORtg Last Month    113.417
Name: 27157, dtype: object
27158 1455 15 ORtg Last Month    97
Name: 27158, dtype: object
27159 1774 16 ORtg Last Month    110.875
Name: 27159, dtype: object
27160 2064 16 ORtg Last Month    129
Name: 27160, dtype: object
27161 334 6 ORtg Last Month    55.6667
Name: 27161, dtype: object
27162 282 15 ORtg Last Month    18.8
Name: 27162, dtype: object
27163 239 3 ORtg Last Month    79.6667
Name: 27163, dtype: object
27164 1884 16 ORtg Last Month    117.75
Name: 27164, dtype: object
27165 1942 15 ORtg Last Month    129.467
Name: 27165, dtype: object
27166 2035 16 ORtg Last Month    127.188
Name: 27166, dtype: object
27167 1871 16 ORtg Last Month    116.938
Name: 27167, dtype: object
27168 1154 14 ORtg Last Month    82.4286
Name: 27168, dtype: object
27169 351 10 ORtg Last Month    35.1
Name: 27169, dtype: object
27170 728 14 ORtg Last Month    52
Name: 27170, dtype: object
27171 1142 14 ORtg Last Month    81.5714
Name: 27171, dtype: object
27172 1616 14 ORtg Last Month    115.429
Name: 27172, dtype: object
27173 1532 14 ORtg Last Month    109.429
Name: 27173, dtype: object
27174 903 11 ORtg Last Month    82.0909
Name: 27174, dtype: object
27175 1585 14 ORtg Last Month    113.214
Name: 27175, dtype: object
27176 0 3 ORtg Last Month    0
Name: 27176, dtype: object
27177 240 6 ORtg Last Month    40
Name: 27177, dtype: object
27178 1400 14 ORtg Last Month    100
Name: 27178, dtype: object
27179 1132 11 ORtg Last Month    102.909
Name: 27179, dtype: object
27180 734 14 ORtg Last Month    52.4286
Name: 27180, dtype: object
27181 1185 12 ORtg Last Month    98.75
Name: 27181, dtype: object

27182 1472 15 ORtg Last Month    98.1333
Name: 27182, dtype: object
27183 1534 15 ORtg Last Month    102.267
Name: 27183, dtype: object
27184 817 15 ORtg Last Month    54.4667
Name: 27184, dtype: object
27185 1549 15 ORtg Last Month    103.267
Name: 27185, dtype: object
27186 305 11 ORtg Last Month    27.7273
Name: 27186, dtype: object
27187 0 5 ORtg Last Month    0
Name: 27187, dtype: object
27188 108 15 ORtg Last Month    7.2
Name: 27188, dtype: object
27189 1812 15 ORtg Last Month    120.8
Name: 27189, dtype: object
27190 1796 15 ORtg Last Month    119.733
Name: 27190, dtype: object
27191 1683 14 ORtg Last Month    120.214
Name: 27191, dtype: object
27192 174 15 ORtg Last Month    11.6
Name: 27192, dtype: object
27193 1452 14 ORtg Last Month    103.714
Name: 27193, dtype: object
27194 781 12 ORtg Last Month    65.0833
Name: 27194, dtype: object
27195 445 7 ORtg Last Month    63.5714
Name: 27195, dtype: object
27196 1489 14 ORtg Last Month    106.357
Name: 27196, dtype: object
27197 1915 15 ORtg Last Month    127.667
Name: 27197, dtype: object
27198 576 7 ORtg Last Month    82.2857
Name: 27198, dtype: object
27199 1512 14 ORtg Last Month    108
Name: 27199, dtype: object
27200 1435 13 ORtg Last Month    110.385
Name: 27200, dtype: object
27201 1861 15 ORtg Last Month    124.067
Name: 27201, dtype: object
27202 1014 15 ORtg Last Month    67.6
Name: 27202, dtype: object
27203 278 6 ORtg Last Month    46.3333
Name: 27203, dtype: object
27204 1445 15 ORtg Last Month    96.3333
Name: 27204, dtype: object
27205 1613 14 ORtg Last Month    115.214
Name: 27205, dtype: object
27206 1031 14 ORtg Last Month    73.6429
Name: 27206, dtype: object
27207 1226 14 ORtg Last Month    87.5714
Name: 27207, dtype: object
27208 0 9 ORtg Last Month    0
Name: 27208, dtype: object
27209 1090 12 ORtg Last Month    90.8333
Name: 27209, dtype: object
27210 1525 14 ORtg Last Month    108.929
Name: 27210, dtype: object
27211 1525 14 ORtg Last Month    108.929
Name: 27211, dtype: object
27212 1392 14 ORtg Last Month    99.4286
Name: 27212, dtype: object
27213 1510 14 ORtg Last Month    107.857
Name: 27213, dtype: object
27214 0 0 ORtg Last Month    0
Name: 27214, dtype: object
27215 1511 13 ORtg Last Month    116.231
Name: 27215, dtype: object
27216 1597 14 ORtg Last Month    114.071
Name: 27216, dtype: object
27217 1053 14 ORtg Last Month    75.2143
Name: 27217, dtype: object
27218 1303 14 ORtg Last Month    93.0714
Name: 27218, dtype: object
27219 687 7 ORtg Last Month    98.1429
Name: 27219, dtype: object
27220 739 13 ORtg Last Month    56.8462
Name: 27220, dtype: object
27221 1355 14 ORtg Last Month    96.7857
Name: 27221, dtype: object
27222 1450 14 ORtg Last Month    103.571
Name: 27222, dtype: object
27223 1089 14 ORtg Last Month    77.7857
Name: 27223, dtype: object
27224 598 8 ORtg Last Month    74.75
Name: 27224, dtype: object
27225 623 12 ORtg Last Month    51.9167
Name: 27225, dtype: object
27226 1843 14 ORtg Last Month    131.643
Name: 27226, dtype: object
27227 1235 12 ORtg Last Month    102.917
Name: 27227, dtype: object
27228 709 12 ORtg Last Month    59.0833
Name: 27228, dtype: object
27229 705 7 ORtg Last Month    100.714
Name: 27229, dtype: object
27230 1737 14 ORtg Last Month    124.071
Name: 27230, dtype: object
27231 945 14 ORtg Last Month    67.5
Name: 27231, dtype: object
27232 1442 14 ORtg Last Month    103
Name: 27232, dtype: object
27233 1555 14 ORtg Last Month    111.071
Name: 27233, dtype: object
27234 1491 14 ORtg Last Month    106.5
Name: 27234, dtype: object
27235 1274 13 ORtg Last Month    98
Name: 27235, dtype: object
27236 1567 14 ORtg Last Month    111.929
Name: 27236, dtype: object
27237 1982 14 ORtg Last Month    141.571
Name: 27237, dtype: object
27238 407 14 ORtg Last Month    29.0714
Name: 27238, dtype: object
27239 476 14 ORtg Last Month    34
Name: 27239, dtype: object
27240 1591 13 ORtg Last Month    122.385
Name: 27240, dtype: object
27241 1187 14 ORtg Last Month    84.7857
Name: 27241, dtype: object
27242 242 3 ORtg Last Month    80.6667
Name: 27242, dtype: object
27243 1569 14 ORtg Last Month    112.071
Name: 27243, dtype: object
27244 1567 14 ORtg Last Month    111.929
Name: 27244, dtype: object
27245 1224 12 ORtg Last Month    102
Name: 27245, dtype: object
27246 1401 14 ORtg Last Month    100.071
Name: 27246, dtype: object
27247 0 3 ORtg Last Month    0
Name: 27247, dtype: object
27248 457 14 ORtg Last Month    32.6429
Name: 27248, dtype: object
27249 73 4 ORtg Last Month    18.25
Name: 27249, dtype: object
27250 1020 9 ORtg Last Month    113.333
Name: 27250, dtype: object
27251 724 13 ORtg Last Month    55.6923
Name: 27251, dtype: object
27252 979 14 ORtg Last Month    69.9286
Name: 27252, dtype: object
27253 1585 14 ORtg Last Month    113.214
Name: 27253, dtype: object
27254 810 11 ORtg Last Month    73.6364
Name: 27254, dtype: object
27255 53 4 ORtg Last Month    13.25
Name: 27255, dtype: object
27256 699 11 ORtg Last Month    63.5455
Name: 27256, dtype: object
27257 1151 13 ORtg Last Month    88.5385
Name: 27257, dtype: object
27258 981 11 ORtg Last Month    89.1818
Name: 27258, dtype: object
27259 1566 14 ORtg Last Month    111.857
Name: 27259, dtype: object
27260 1498 14 ORtg Last Month    107
Name: 27260, dtype: object
27261 1670 14 ORtg Last Month    119.286
Name: 27261, dtype: object
27262 1280 11 ORtg Last Month    116.364
Name: 27262, dtype: object
27263 492 14 ORtg Last Month    35.1429
Name: 27263, dtype: object
27264 1802 14 ORtg Last Month    128.714
Name: 27264, dtype: object
27265 1638 14 ORtg Last Month    117
Name: 27265, dtype: object
27266 844 9 ORtg Last Month    93.7778
Name: 27266, dtype: object
27267 880 11 ORtg Last Month    80
Name: 27267, dtype: object
27268 1504 13 ORtg Last Month    115.692
Name: 27268, dtype: object
27269 1488 13 ORtg Last Month    114.462
Name: 27269, dtype: object
27270 1402 14 ORtg Last Month    100.143
Name: 27270, dtype: object
27271 1234 14 ORtg Last Month    88.1429
Name: 27271, dtype: object
27272 1458 14 ORtg Last Month    104.143
Name: 27272, dtype: object
27273 693 13 ORtg Last Month    53.3077
Name: 27273, dtype: object
27274 1142 14 ORtg Last Month    81.5714
Name: 27274, dtype: object
27275 217 9 ORtg Last Month    24.1111
Name: 27275, dtype: object
27276 1059 10 ORtg Last Month    105.9
Name: 27276, dtype: object
27277 983 8 ORtg Last Month    122.875
Name: 27277, dtype: object
27278 1310 14 ORtg Last Month    93.5714
Name: 27278, dtype: object
27279 203 2 ORtg Last Month    101.5
Name: 27279, dtype: object
27280 274 3 ORtg Last Month    91.3333
Name: 27280, dtype: object
27281 1721 14 ORtg Last Month    122.929
Name: 27281, dtype: object
27282 1062 9 ORtg Last Month    118
Name: 27282, dtype: object
27283 1446 14 ORtg Last Month    103.286
Name: 27283, dtype: object
27284 656 13 ORtg Last Month    50.4615
Name: 27284, dtype: object
27285 1291 11 ORtg Last Month    117.364
Name: 27285, dtype: object
27286 1509 14 ORtg Last Month    107.786
Name: 27286, dtype: object
27287 1497 14 ORtg Last Month    106.929
Name: 27287, dtype: object
27288 801 12 ORtg Last Month    66.75
Name: 27288, dtype: object
27289 1620 15 ORtg Last Month    108
Name: 27289, dtype: object
27290 1508 13 ORtg Last Month    116
Name: 27290, dtype: object
27291 1110 10 ORtg Last Month    111
Name: 27291, dtype: object
27292 575 9 ORtg Last Month    63.8889
Name: 27292, dtype: object
27293 1662 15 ORtg Last Month    110.8
Name: 27293, dtype: object
27294 1469 14 ORtg Last Month    104.929
Name: 27294, dtype: object
27295 1655 15 ORtg Last Month    110.333
Name: 27295, dtype: object
27296 1251 15 ORtg Last Month    83.4
Name: 27296, dtype: object
27297 1759 15 ORtg Last Month    117.267
Name: 27297, dtype: object
27298 2040 15 ORtg Last Month    136
Name: 27298, dtype: object
27299 791 15 ORtg Last Month    52.7333
Name: 27299, dtype: object
27300 0 0 ORtg Last Month    0
Name: 27300, dtype: object
27301 1625 14 ORtg Last Month    116.071
Name: 27301, dtype: object
27302 1447 14 ORtg Last Month    103.357
Name: 27302, dtype: object
27303 1140 14 ORtg Last Month    81.4286
Name: 27303, dtype: object
27304 1403 14 ORtg Last Month    100.214
Name: 27304, dtype: object
27305 984 13 ORtg Last Month    75.6923
Name: 27305, dtype: object

27306 1683 14 ORtg Last Month    120.214
Name: 27306, dtype: object
27307 1499 14 ORtg Last Month    107.071
Name: 27307, dtype: object
27308 519 5 ORtg Last Month    103.8
Name: 27308, dtype: object
27309 0 0 ORtg Last Month    0
Name: 27309, dtype: object
27310 1592 14 ORtg Last Month    113.714
Name: 27310, dtype: object
27311 279 14 ORtg Last Month    19.9286
Name: 27311, dtype: object
27312 1642 14 ORtg Last Month    117.286
Name: 27312, dtype: object
27313 1560 14 ORtg Last Month    111.429
Name: 27313, dtype: object
27314 1217 13 ORtg Last Month    93.6154
Name: 27314, dtype: object
27315 1183 13 ORtg Last Month    91
Name: 27315, dtype: object
27316 1311 14 ORtg Last Month    93.6429
Name: 27316, dtype: object
27317 236 14 ORtg Last Month    16.8571
Name: 27317, dtype: object
27318 502 9 ORtg Last Month    55.7778
Name: 27318, dtype: object
27319 477 14 ORtg Last Month    34.0714
Name: 27319, dtype: object
27320 1728 14 ORtg Last Month    123.429
Name: 27320, dtype: object
27321 1578 14 ORtg Last Month    112.714
Name: 27321, dtype: object
27322 1554 14 ORtg Last Month    111
Name: 27322, dtype: object
27323 1336 12 ORtg Last Month    111.333
Name: 27323, dtype: object
27324 1314 12 ORtg Last Month    109.5
Name: 27324, dtype: object
27325 1393 13 ORtg Last Month    107.154
Name: 27325, dtype: object
27326 1446 10 ORtg Last Month    144.6
Name: 27326, dtype: object
27327 1377 11 ORtg Last Month    125.182
Name: 27327, dtype: object
27328 1402 11 ORtg Last Month    127.455
Name: 27328, dtype: object
27329 1710 13 ORtg Last Month    131.538
Name: 27329, dtype: object
27330 1060 13 ORtg Last Month    81.5385
Name: 27330, dtype: object
27331 1123 10 ORtg Last Month    112.3
Name: 27331, dtype: object
27332 1426 13 ORtg Last Month    109.692
Name: 27332, dtype: object
27333 1784 12 ORtg Last Month    148.667
Name: 27333, dtype: object
27334 861 7 ORtg Last Month    123
Name: 27334, dtype: object
27335 948 12 ORtg Last Month    79
Name: 27335, dtype: object
27336 1721 15 ORtg Last Month    114.733
Name: 27336, dtype: object
27337 1607 14 ORtg Last Month    114.786
Name: 27337, dtype: object
27338 1162 15 ORtg Last Month    77.4667
Name: 27338, dtype: object
27339 0 3 ORtg Last Month    0
Name: 27339, dtype: object
27340 929 10 ORtg Last Month    92.9
Name: 27340, dtype: object
27341 1621 14 ORtg Last Month    115.786
Name: 27341, dtype: object
27342 1680 15 ORtg Last Month    112
Name: 27342, dtype: object
27343 980 13 ORtg Last Month    75.3846
Name: 27343, dtype: object
27344 975 12 ORtg Last Month    81.25
Name: 27344, dtype: object
27345 616 7 ORtg Last Month    88
Name: 27345, dtype: object
27346 2058 15 ORtg Last Month    137.2
Name: 27346, dtype: object
27347 768 15 ORtg Last Month    51.2
Name: 27347, dtype: object
27348 725 14 ORtg Last Month    51.7857
Name: 27348, dtype: object
27349 1476 14 ORtg Last Month    105.429
Name: 27349, dtype: object
27350 1765 14 ORtg Last Month    126.071
Name: 27350, dtype: object
27351 419 13 ORtg Last Month    32.2308
Name: 27351, dtype: object
27352 124 1 ORtg Last Month    124
Name: 27352, dtype: object
27353 1467 14 ORtg Last Month    104.786
Name: 27353, dtype: object
27354 965 11 ORtg Last Month    87.7273
Name: 27354, dtype: object
27355 522 8 ORtg Last Month    65.25
Name: 27355, dtype: object
27356 1701 14 ORtg Last Month    121.5
Name: 27356, dtype: object
27357 1068 14 ORtg Last Month    76.2857
Name: 27357, dtype: object
27358 393 11 ORtg Last Month    35.7273
Name: 27358, dtype: object
27359 1052 14 ORtg Last Month    75.1429
Name: 27359, dtype: object
27360 1508 14 ORtg Last Month    107.714
Name: 27360, dtype: object
27361 1491 15 ORtg Last Month    99.4
Name: 27361, dtype: object
27362 554 15 ORtg Last Month    36.9333
Name: 27362, dtype: object
27363 1507 15 ORtg Last Month    100.467
Name: 27363, dtype: object
27364 1596 15 ORtg Last Month    106.4
Name: 27364, dtype: object
27365 1534 15 ORtg Last Month    102.267
Name: 27365, dtype: object
27366 1330 15 ORtg Last Month    88.6667
Name: 27366, dtype: object
27367 248 11 ORtg Last Month    22.5455
Name: 27367, dtype: object
27368 61 11 ORtg Last Month    5.54545
Name: 27368, dtype: object
27369 1669 15 ORtg Last Month    111.267
Name: 27369, dtype: object
27370 1599 14 ORtg Last Month    114.214
Name: 27370, dtype: object
27371 1144 14 ORtg Last Month    81.7143
Name: 27371, dtype: object
27372 0 15 ORtg Last Month    0
Name: 27372, dtype: object
27373 1619 15 ORtg Last Month    107.933
Name: 27373, dtype: object
27374 1146 15 ORtg Last Month    76.4
Name: 27374, dtype: object
27375 605 14 ORtg Last Month    43.2143
Name: 27375, dtype: object
27376 1680 15 ORtg Last Month    112
Name: 27376, dtype: object
27377 1850 15 ORtg Last Month    123.333
Name: 27377, dtype: object
27378 1561 14 ORtg Last Month    111.5
Name: 27378, dtype: object
27379 1812 15 ORtg Last Month    120.8
Name: 27379, dtype: object
27380 1651 15 ORtg Last Month    110.067
Name: 27380, dtype: object
27381 1200 10 ORtg Last Month    120
Name: 27381, dtype: object
27382 671 14 ORtg Last Month    47.9286
Name: 27382, dtype: object
27383 1962 15 ORtg Last Month    130.8
Name: 27383, dtype: object
27384 0 6 ORtg Last Month    0
Name: 27384, dtype: object
27385 1346 13 ORtg Last Month    103.538
Name: 27385, dtype: object
27386 1476 13 ORtg Last Month    113.538
Name: 27386, dtype: object
27387 1361 13 ORtg Last Month    104.692
Name: 27387, dtype: object
27388 320 12 ORtg Last Month    26.6667
Name: 27388, dtype: object
27389 1503 13 ORtg Last Month    115.615
Name: 27389, dtype: object
27390 1195 11 ORtg Last Month    108.636
Name: 27390, dtype: object
27391 1384 13 ORtg Last Month    106.462
Name: 27391, dtype: object
27392 1411 13 ORtg Last Month    108.538
Name: 27392, dtype: object
27393 105 13 ORtg Last Month    8.07692
Name: 27393, dtype: object
27394 316 13 ORtg Last Month    24.3077
Name: 27394, dtype: object
27395 1490 13 ORtg Last Month    114.615
Name: 27395, dtype: object
27396 1760 12 ORtg Last Month    146.667
Name: 27396, dtype: object
27397 686 11 ORtg Last Month    62.3636
Name: 27397, dtype: object
27398 1582 14 ORtg Last Month    113
Name: 27398, dtype: object
27399 1389 14 ORtg Last Month    99.2143
Name: 27399, dtype: object
27400 1379 14 ORtg Last Month    98.5
Name: 27400, dtype: object
27401 1004 13 ORtg Last Month    77.2308
Name: 27401, dtype: object
27402 1179 14 ORtg Last Month    84.2143
Name: 27402, dtype: object
27403 63 1 ORtg Last Month    63
Name: 27403, dtype: object
27404 1466 12 ORtg Last Month    122.167
Name: 27404, dtype: object
27405 1514 14 ORtg Last Month    108.143
Name: 27405, dtype: object
27406 622 6 ORtg Last Month    103.667
Name: 27406, dtype: object
27407 1266 11 ORtg Last Month    115.091
Name: 27407, dtype: object
27408 1564 14 ORtg Last Month    111.714
Name: 27408, dtype: object
27409 1299 13 ORtg Last Month    99.9231
Name: 27409, dtype: object
27410 452 12 ORtg Last Month    37.6667
Name: 27410, dtype: object
27411 0 0 ORtg Last Month    0
Name: 27411, dtype: object
27412 1170 10 ORtg Last Month    117
Name: 27412, dtype: object
27413 1264 12 ORtg Last Month    105.333
Name: 27413, dtype: object
27414 921 14 ORtg Last Month    65.7857
Name: 27414, dtype: object
27415 1448 11 ORtg Last Month    131.636
Name: 27415, dtype: object
27416 1428 13 ORtg Last Month    109.846
Name: 27416, dtype: object
27417 1074 13 ORtg Last Month    82.6154
Name: 27417, dtype: object
27418 908 12 ORtg Last Month    75.6667
Name: 27418, dtype: object
27419 495 8 ORtg Last Month    61.875
Name: 27419, dtype: object
27420 1272 13 ORtg Last Month    97.8462
Name: 27420, dtype: object
27421 1428 13 ORtg Last Month    109.846
Name: 27421, dtype: object
27422 1258 13 ORtg Last Month    96.7692
Name: 27422, dtype: object
27423 399 10 ORtg Last Month    39.9
Name: 27423, dtype: object
27424 1538 13 ORtg Last Month    118.308
Name: 27424, dtype: object
27425 1318 13 ORtg Last Month    101.385
Name: 27425, dtype: object
27426 1297 12 ORtg Last Month    108.083
Name: 27426, dtype: object
27427 1317 13 ORtg Last Month    101.308
Name: 27427, dtype: object
27428 761 8 ORtg Last Month    95.125
Name: 27428, dtype: object
27429 0 0 ORtg Last Month    0
Name: 27429, dtype: object

27430 1775 13 ORtg Last Month    136.538
Name: 27430, dtype: object
27431 348 13 ORtg Last Month    26.7692
Name: 27431, dtype: object
27432 1659 13 ORtg Last Month    127.615
Name: 27432, dtype: object
27433 1493 14 ORtg Last Month    106.643
Name: 27433, dtype: object
27434 1689 14 ORtg Last Month    120.643
Name: 27434, dtype: object
27435 351 6 ORtg Last Month    58.5
Name: 27435, dtype: object
27436 900 14 ORtg Last Month    64.2857
Name: 27436, dtype: object
27437 160 1 ORtg Last Month    160
Name: 27437, dtype: object
27438 165 3 ORtg Last Month    55
Name: 27438, dtype: object
27439 1372 14 ORtg Last Month    98
Name: 27439, dtype: object
27440 1634 14 ORtg Last Month    116.714
Name: 27440, dtype: object
27441 1578 14 ORtg Last Month    112.714
Name: 27441, dtype: object
27442 1510 14 ORtg Last Month    107.857
Name: 27442, dtype: object
27443 985 12 ORtg Last Month    82.0833
Name: 27443, dtype: object
27444 828 14 ORtg Last Month    59.1429
Name: 27444, dtype: object
27445 43 11 ORtg Last Month    3.90909
Name: 27445, dtype: object
27446 0 0 ORtg Last Month    0
Name: 27446, dtype: object
27447 1434 14 ORtg Last Month    102.429
Name: 27447, dtype: object
27448 1490 14 ORtg Last Month    106.429
Name: 27448, dtype: object
27449 1396 13 ORtg Last Month    107.385
Name: 27449, dtype: object
27450 846 9 ORtg Last Month    94
Name: 27450, dtype: object
27451 771 10 ORtg Last Month    77.1
Name: 27451, dtype: object
27452 1544 14 ORtg Last Month    110.286
Name: 27452, dtype: object
27453 1289 13 ORtg Last Month    99.1538
Name: 27453, dtype: object
27454 1197 12 ORtg Last Month    99.75
Name: 27454, dtype: object
27455 1279 15 ORtg Last Month    85.2667
Name: 27455, dtype: object
27456 1887 15 ORtg Last Month    125.8
Name: 27456, dtype: object
27457 1474 15 ORtg Last Month    98.2667
Name: 27457, dtype: object
27458 88 5 ORtg Last Month    17.6
Name: 27458, dtype: object
27459 1535 15 ORtg Last Month    102.333
Name: 27459, dtype: object
27460 846 15 ORtg Last Month    56.4
Name: 27460, dtype: object
27461 1006 15 ORtg Last Month    67.0667
Name: 27461, dtype: object
27462 2203 15 ORtg Last Month    146.867
Name: 27462, dtype: object
27463 1107 14 ORtg Last Month    79.0714
Name: 27463, dtype: object
27464 1449 15 ORtg Last Month    96.6
Name: 27464, dtype: object
27465 1442 12 ORtg Last Month    120.167
Name: 27465, dtype: object
27466 1694 15 ORtg Last Month    112.933
Name: 27466, dtype: object
27467 1752 15 ORtg Last Month    116.8
Name: 27467, dtype: object
27468 1271 14 ORtg Last Month    90.7857
Name: 27468, dtype: object
27469 1634 15 ORtg Last Month    108.933
Name: 27469, dtype: object
27470 400 15 ORtg Last Month    26.6667
Name: 27470, dtype: object
27471 1385 15 ORtg Last Month    92.3333
Name: 27471, dtype: object
27472 1289 14 ORtg Last Month    92.0714
Name: 27472, dtype: object
27473 610 10 ORtg Last Month    61
Name: 27473, dtype: object
27474 477 15 ORtg Last Month    31.8
Name: 27474, dtype: object
27475 423 15 ORtg Last Month    28.2
Name: 27475, dtype: object
27476 1801 15 ORtg Last Month    120.067
Name: 27476, dtype: object
27477 1633 15 ORtg Last Month    108.867
Name: 27477, dtype: object
27478 1678 15 ORtg Last Month    111.867
Name: 27478, dtype: object
27479 1610 15 ORtg Last Month    107.333
Name: 27479, dtype: object
27480 2046 15 ORtg Last Month    136.4
Name: 27480, dtype: object
27481 334 7 ORtg Last Month    47.7143
Name: 27481, dtype: object
27482 208 14 ORtg Last Month    14.8571
Name: 27482, dtype: object
27483 1718 15 ORtg Last Month    114.533
Name: 27483, dtype: object
27484 1509 14 ORtg Last Month    107.786
Name: 27484, dtype: object
27485 1766 14 ORtg Last Month    126.143
Name: 27485, dtype: object
27486 1875 15 ORtg Last Month    125
Name: 27486, dtype: object
27487 1769 15 ORtg Last Month    117.933
Name: 27487, dtype: object
27488 351 10 ORtg Last Month    35.1
Name: 27488, dtype: object
27489 1197 13 ORtg Last Month    92.0769
Name: 27489, dtype: object
27490 1586 14 ORtg Last Month    113.286
Name: 27490, dtype: object
27491 1769 15 ORtg Last Month    117.933
Name: 27491, dtype: object
27492 1178 15 ORtg Last Month    78.5333
Name: 27492, dtype: object
27493 273 4 ORtg Last Month    68.25
Name: 27493, dtype: object
27494 1057 11 ORtg Last Month    96.0909
Name: 27494, dtype: object
27495 1591 14 ORtg Last Month    113.643
Name: 27495, dtype: object
27496 1673 15 ORtg Last Month    111.533
Name: 27496, dtype: object
27497 975 12 ORtg Last Month    81.25
Name: 27497, dtype: object
27498 1072 14 ORtg Last Month    76.5714
Name: 27498, dtype: object
27499 2074 15 ORtg Last Month    138.267
Name: 27499, dtype: object
27500 771 8 ORtg Last Month    96.375
Name: 27500, dtype: object
27501 797 15 ORtg Last Month    53.1333
Name: 27501, dtype: object
27502 569 14 ORtg Last Month    40.6429
Name: 27502, dtype: object
27503 1067 14 ORtg Last Month    76.2143
Name: 27503, dtype: object
27504 863 14 ORtg Last Month    61.6429
Name: 27504, dtype: object
27505 1474 14 ORtg Last Month    105.286
Name: 27505, dtype: object
27506 1620 14 ORtg Last Month    115.714
Name: 27506, dtype: object
27507 1578 14 ORtg Last Month    112.714
Name: 27507, dtype: object
27508 961 11 ORtg Last Month    87.3636
Name: 27508, dtype: object
27509 0 3 ORtg Last Month    0
Name: 27509, dtype: object
27510 240 7 ORtg Last Month    34.2857
Name: 27510, dtype: object
27511 216 1 ORtg Last Month    216
Name: 27511, dtype: object
27512 1269 12 ORtg Last Month    105.75
Name: 27512, dtype: object
27513 1495 14 ORtg Last Month    106.786
Name: 27513, dtype: object
27514 595 14 ORtg Last Month    42.5
Name: 27514, dtype: object
27515 1628 13 ORtg Last Month    125.231
Name: 27515, dtype: object
27516 759 12 ORtg Last Month    63.25
Name: 27516, dtype: object
27517 436 7 ORtg Last Month    62.2857
Name: 27517, dtype: object
27518 1482 11 ORtg Last Month    134.727
Name: 27518, dtype: object
27519 1417 12 ORtg Last Month    118.083
Name: 27519, dtype: object
27520 1374 13 ORtg Last Month    105.692
Name: 27520, dtype: object
27521 887 12 ORtg Last Month    73.9167
Name: 27521, dtype: object
27522 1300 13 ORtg Last Month    100
Name: 27522, dtype: object
27523 443 12 ORtg Last Month    36.9167
Name: 27523, dtype: object
27524 1544 13 ORtg Last Month    118.769
Name: 27524, dtype: object
27525 1679 13 ORtg Last Month    129.154
Name: 27525, dtype: object
27526 418 4 ORtg Last Month    104.5
Name: 27526, dtype: object
27527 1308 12 ORtg Last Month    109
Name: 27527, dtype: object
27528 381 8 ORtg Last Month    47.625
Name: 27528, dtype: object
27529 1189 12 ORtg Last Month    99.0833
Name: 27529, dtype: object
27530 69 1 ORtg Last Month    69
Name: 27530, dtype: object
27531 986 12 ORtg Last Month    82.1667
Name: 27531, dtype: object
27532 1244 12 ORtg Last Month    103.667
Name: 27532, dtype: object
27533 1319 12 ORtg Last Month    109.917
Name: 27533, dtype: object
27534 469 7 ORtg Last Month    67
Name: 27534, dtype: object
27535 162 6 ORtg Last Month    27
Name: 27535, dtype: object
27536 1397 12 ORtg Last Month    116.417
Name: 27536, dtype: object
27537 1495 15 ORtg Last Month    99.6667
Name: 27537, dtype: object
27538 1308 13 ORtg Last Month    100.615
Name: 27538, dtype: object
27539 710 6 ORtg Last Month    118.333
Name: 27539, dtype: object
27540 1525 15 ORtg Last Month    101.667
Name: 27540, dtype: object
27541 1327 12 ORtg Last Month    110.583
Name: 27541, dtype: object
27542 903 15 ORtg Last Month    60.2
Name: 27542, dtype: object
27543 569 9 ORtg Last Month    63.2222
Name: 27543, dtype: object
27544 169 11 ORtg Last Month    15.3636
Name: 27544, dtype: object
27545 108 15 ORtg Last Month    7.2
Name: 27545, dtype: object
27546 1830 15 ORtg Last Month    122
Name: 27546, dtype: object
27547 1785 15 ORtg Last Month    119
Name: 27547, dtype: object
27548 1740 15 ORtg Last Month    116
Name: 27548, dtype: object
27549 169 15 ORtg Last Month    11.2667
Name: 27549, dtype: object
27550 1620 14 ORtg Last Month    115.714
Name: 27550, dtype: object
27551 1245 14 ORtg Last Month    88.9286
Name: 27551, dtype: object
27552 1162 14 ORtg Last Month    83
Name: 27552, dtype: object
27553 0 10 ORtg Last Month    0
Name: 27553, dtype: object

27554 1090 12 ORtg Last Month    90.8333
Name: 27554, dtype: object
27555 1568 14 ORtg Last Month    112
Name: 27555, dtype: object
27556 1580 14 ORtg Last Month    112.857
Name: 27556, dtype: object
27557 1418 14 ORtg Last Month    101.286
Name: 27557, dtype: object
27558 1506 14 ORtg Last Month    107.571
Name: 27558, dtype: object
27559 0 1 ORtg Last Month    0
Name: 27559, dtype: object
27560 203 7 ORtg Last Month    29
Name: 27560, dtype: object
27561 1472 13 ORtg Last Month    113.231
Name: 27561, dtype: object
27562 1641 14 ORtg Last Month    117.214
Name: 27562, dtype: object
27563 974 13 ORtg Last Month    74.9231
Name: 27563, dtype: object
27564 1444 13 ORtg Last Month    111.077
Name: 27564, dtype: object
27565 722 10 ORtg Last Month    72.2
Name: 27565, dtype: object
27566 1164 13 ORtg Last Month    89.5385
Name: 27566, dtype: object
27567 840 13 ORtg Last Month    64.6154
Name: 27567, dtype: object
27568 619 13 ORtg Last Month    47.6154
Name: 27568, dtype: object
27569 1349 13 ORtg Last Month    103.769
Name: 27569, dtype: object
27570 511 7 ORtg Last Month    73
Name: 27570, dtype: object
27571 984 12 ORtg Last Month    82
Name: 27571, dtype: object
27572 1363 13 ORtg Last Month    104.846
Name: 27572, dtype: object
27573 1282 14 ORtg Last Month    91.5714
Name: 27573, dtype: object
27574 842 13 ORtg Last Month    64.7692
Name: 27574, dtype: object
27575 598 9 ORtg Last Month    66.4444
Name: 27575, dtype: object
27576 1475 14 ORtg Last Month    105.357
Name: 27576, dtype: object
27577 1103 14 ORtg Last Month    78.7857
Name: 27577, dtype: object
27578 1385 14 ORtg Last Month    98.9286
Name: 27578, dtype: object
27579 1880 14 ORtg Last Month    134.286
Name: 27579, dtype: object
27580 704 12 ORtg Last Month    58.6667
Name: 27580, dtype: object
27581 649 12 ORtg Last Month    54.0833
Name: 27581, dtype: object
27582 1235 13 ORtg Last Month    95
Name: 27582, dtype: object
27583 0 0 ORtg Last Month    0
Name: 27583, dtype: object
27584 818 8 ORtg Last Month    102.25
Name: 27584, dtype: object
27585 1595 13 ORtg Last Month    122.692
Name: 27585, dtype: object
27586 934 13 ORtg Last Month    71.8462
Name: 27586, dtype: object
27587 1404 13 ORtg Last Month    108
Name: 27587, dtype: object
27588 1194 12 ORtg Last Month    99.5
Name: 27588, dtype: object
27589 1348 13 ORtg Last Month    103.692
Name: 27589, dtype: object
27590 1437 13 ORtg Last Month    110.538
Name: 27590, dtype: object
27591 238 7 ORtg Last Month    34
Name: 27591, dtype: object
27592 1381 13 ORtg Last Month    106.231
Name: 27592, dtype: object
27593 1781 13 ORtg Last Month    137
Name: 27593, dtype: object
27594 540 13 ORtg Last Month    41.5385
Name: 27594, dtype: object
27595 605 13 ORtg Last Month    46.5385
Name: 27595, dtype: object
27596 1571 13 ORtg Last Month    120.846
Name: 27596, dtype: object
27597 1187 14 ORtg Last Month    84.7857
Name: 27597, dtype: object
27598 242 4 ORtg Last Month    60.5
Name: 27598, dtype: object
27599 1615 14 ORtg Last Month    115.357
Name: 27599, dtype: object
27600 1592 14 ORtg Last Month    113.714
Name: 27600, dtype: object
27601 1447 12 ORtg Last Month    120.583
Name: 27601, dtype: object
27602 1306 12 ORtg Last Month    108.833
Name: 27602, dtype: object
27603 1362 14 ORtg Last Month    97.2857
Name: 27603, dtype: object
27604 117 5 ORtg Last Month    23.4
Name: 27604, dtype: object
27605 468 14 ORtg Last Month    33.4286
Name: 27605, dtype: object
27606 595 13 ORtg Last Month    45.7692
Name: 27606, dtype: object
27607 1126 10 ORtg Last Month    112.6
Name: 27607, dtype: object
27608 1078 14 ORtg Last Month    77
Name: 27608, dtype: object
27609 772 11 ORtg Last Month    70.1818
Name: 27609, dtype: object
27610 997 13 ORtg Last Month    76.6923
Name: 27610, dtype: object
27611 217 5 ORtg Last Month    43.4
Name: 27611, dtype: object
27612 1592 14 ORtg Last Month    113.714
Name: 27612, dtype: object
27613 1020 11 ORtg Last Month    92.7273
Name: 27613, dtype: object
27614 1564 14 ORtg Last Month    111.714
Name: 27614, dtype: object
27615 1462 14 ORtg Last Month    104.429
Name: 27615, dtype: object
27616 1277 11 ORtg Last Month    116.091
Name: 27616, dtype: object
27617 1683 14 ORtg Last Month    120.214
Name: 27617, dtype: object
27618 600 14 ORtg Last Month    42.8571
Name: 27618, dtype: object
27619 1792 14 ORtg Last Month    128
Name: 27619, dtype: object
27620 1635 14 ORtg Last Month    116.786
Name: 27620, dtype: object
27621 844 10 ORtg Last Month    84.4
Name: 27621, dtype: object
27622 1081 12 ORtg Last Month    90.0833
Name: 27622, dtype: object
27623 1486 13 ORtg Last Month    114.308
Name: 27623, dtype: object
27624 1488 13 ORtg Last Month    114.462
Name: 27624, dtype: object
27625 1288 14 ORtg Last Month    92
Name: 27625, dtype: object
27626 1401 14 ORtg Last Month    100.071
Name: 27626, dtype: object
27627 1498 14 ORtg Last Month    107
Name: 27627, dtype: object
27628 1249 14 ORtg Last Month    89.2143
Name: 27628, dtype: object
27629 217 10 ORtg Last Month    21.7
Name: 27629, dtype: object
27630 860 14 ORtg Last Month    61.4286
Name: 27630, dtype: object
27631 379 13 ORtg Last Month    29.1538
Name: 27631, dtype: object
27632 1613 14 ORtg Last Month    115.214
Name: 27632, dtype: object
27633 1481 14 ORtg Last Month    105.786
Name: 27633, dtype: object
27634 1511 14 ORtg Last Month    107.929
Name: 27634, dtype: object
27635 1270 12 ORtg Last Month    105.833
Name: 27635, dtype: object
27636 1476 14 ORtg Last Month    105.429
Name: 27636, dtype: object
27637 1641 14 ORtg Last Month    117.214
Name: 27637, dtype: object
27638 105 14 ORtg Last Month    7.5
Name: 27638, dtype: object
27639 1438 14 ORtg Last Month    102.714
Name: 27639, dtype: object
27640 316 14 ORtg Last Month    22.5714
Name: 27640, dtype: object
27641 1601 14 ORtg Last Month    114.357
Name: 27641, dtype: object
27642 1976 13 ORtg Last Month    152
Name: 27642, dtype: object
27643 686 12 ORtg Last Month    57.1667
Name: 27643, dtype: object
27644 1110 10 ORtg Last Month    111
Name: 27644, dtype: object
27645 1118 9 ORtg Last Month    124.222
Name: 27645, dtype: object
27646 359 4 ORtg Last Month    89.75
Name: 27646, dtype: object
27647 1354 14 ORtg Last Month    96.7143
Name: 27647, dtype: object
27648 284 3 ORtg Last Month    94.6667
Name: 27648, dtype: object
27649 1195 10 ORtg Last Month    119.5
Name: 27649, dtype: object
27650 1766 14 ORtg Last Month    126.143
Name: 27650, dtype: object
27651 1448 14 ORtg Last Month    103.429
Name: 27651, dtype: object
27652 656 13 ORtg Last Month    50.4615
Name: 27652, dtype: object
27653 1474 14 ORtg Last Month    105.286
Name: 27653, dtype: object
27654 1281 11 ORtg Last Month    116.455
Name: 27654, dtype: object
27655 1535 14 ORtg Last Month    109.643
Name: 27655, dtype: object
27656 969 12 ORtg Last Month    80.75
Name: 27656, dtype: object
27657 1611 15 ORtg Last Month    107.4
Name: 27657, dtype: object
27658 1186 11 ORtg Last Month    107.818
Name: 27658, dtype: object
27659 575 9 ORtg Last Month    63.8889
Name: 27659, dtype: object
27660 1696 15 ORtg Last Month    113.067
Name: 27660, dtype: object
27661 1304 15 ORtg Last Month    86.9333
Name: 27661, dtype: object
27662 1694 15 ORtg Last Month    112.933
Name: 27662, dtype: object
27663 1460 14 ORtg Last Month    104.286
Name: 27663, dtype: object
27664 0 0 ORtg Last Month    0
Name: 27664, dtype: object
27665 2088 15 ORtg Last Month    139.2
Name: 27665, dtype: object
27666 915 15 ORtg Last Month    61
Name: 27666, dtype: object
27667 0 1 ORtg Last Month    0
Name: 27667, dtype: object
27668 1751 15 ORtg Last Month    116.733
Name: 27668, dtype: object
27669 717 7 ORtg Last Month    102.429
Name: 27669, dtype: object
27670 1169 15 ORtg Last Month    77.9333
Name: 27670, dtype: object
27671 1840 15 ORtg Last Month    122.667
Name: 27671, dtype: object
27672 744 14 ORtg Last Month    53.1429
Name: 27672, dtype: object
27673 1635 15 ORtg Last Month    109
Name: 27673, dtype: object
27674 145 15 ORtg Last Month    9.66667
Name: 27674, dtype: object
27675 1831 15 ORtg Last Month    122.067
Name: 27675, dtype: object
27676 1457 15 ORtg Last Month    97.1333
Name: 27676, dtype: object
27677 23 15 ORtg Last Month    1.53333
Name: 27677, dtype: object

27678 1579 14 ORtg Last Month    112.786
Name: 27678, dtype: object
27679 1651 14 ORtg Last Month    117.929
Name: 27679, dtype: object
27680 1412 14 ORtg Last Month    100.857
Name: 27680, dtype: object
27681 1397 14 ORtg Last Month    99.7857
Name: 27681, dtype: object
27682 1583 14 ORtg Last Month    113.071
Name: 27682, dtype: object
27683 1658 14 ORtg Last Month    118.429
Name: 27683, dtype: object
27684 502 9 ORtg Last Month    55.7778
Name: 27684, dtype: object
27685 975 11 ORtg Last Month    88.6364
Name: 27685, dtype: object
27686 1146 13 ORtg Last Month    88.1538
Name: 27686, dtype: object
27687 1049 13 ORtg Last Month    80.6923
Name: 27687, dtype: object
27688 212 14 ORtg Last Month    15.1429
Name: 27688, dtype: object
27689 1450 13 ORtg Last Month    111.538
Name: 27689, dtype: object
27690 1397 13 ORtg Last Month    107.462
Name: 27690, dtype: object
27691 1481 14 ORtg Last Month    105.786
Name: 27691, dtype: object
27692 1546 12 ORtg Last Month    128.833
Name: 27692, dtype: object
27693 235 8 ORtg Last Month    29.375
Name: 27693, dtype: object
27694 1160 14 ORtg Last Month    82.8571
Name: 27694, dtype: object
27695 1793 14 ORtg Last Month    128.071
Name: 27695, dtype: object
27696 1245 11 ORtg Last Month    113.182
Name: 27696, dtype: object
27697 1527 14 ORtg Last Month    109.071
Name: 27697, dtype: object
27698 1899 13 ORtg Last Month    146.077
Name: 27698, dtype: object
27699 948 13 ORtg Last Month    72.9231
Name: 27699, dtype: object
27700 1643 14 ORtg Last Month    117.357
Name: 27700, dtype: object
27701 1442 14 ORtg Last Month    103
Name: 27701, dtype: object
27702 419 13 ORtg Last Month    32.2308
Name: 27702, dtype: object
27703 124 2 ORtg Last Month    62
Name: 27703, dtype: object
27704 634 9 ORtg Last Month    70.4444
Name: 27704, dtype: object
27705 1499 14 ORtg Last Month    107.071
Name: 27705, dtype: object
27706 1199 14 ORtg Last Month    85.6429
Name: 27706, dtype: object
27707 1686 14 ORtg Last Month    120.429
Name: 27707, dtype: object
27708 411 11 ORtg Last Month    37.3636
Name: 27708, dtype: object
27709 1090 14 ORtg Last Month    77.8571
Name: 27709, dtype: object
27710 218 3 ORtg Last Month    72.6667
Name: 27710, dtype: object
27711 930 13 ORtg Last Month    71.5385
Name: 27711, dtype: object
27712 587 8 ORtg Last Month    73.375
Name: 27712, dtype: object
27713 1480 13 ORtg Last Month    113.846
Name: 27713, dtype: object
27714 1365 13 ORtg Last Month    105
Name: 27714, dtype: object
27715 1337 13 ORtg Last Month    102.846
Name: 27715, dtype: object
27716 682 8 ORtg Last Month    85.25
Name: 27716, dtype: object
27717 1951 14 ORtg Last Month    139.357
Name: 27717, dtype: object
27718 1138 12 ORtg Last Month    94.8333
Name: 27718, dtype: object
27719 1712 14 ORtg Last Month    122.286
Name: 27719, dtype: object
27720 1083 14 ORtg Last Month    77.3571
Name: 27720, dtype: object
27721 1201 14 ORtg Last Month    85.7857
Name: 27721, dtype: object
27722 278 6 ORtg Last Month    46.3333
Name: 27722, dtype: object
27723 1669 14 ORtg Last Month    119.214
Name: 27723, dtype: object
27724 1286 15 ORtg Last Month    85.7333
Name: 27724, dtype: object
27725 242 5 ORtg Last Month    48.4
Name: 27725, dtype: object
27726 1758 15 ORtg Last Month    117.2
Name: 27726, dtype: object
27727 1461 15 ORtg Last Month    97.4
Name: 27727, dtype: object
27728 1727 15 ORtg Last Month    115.133
Name: 27728, dtype: object
27729 117 6 ORtg Last Month    19.5
Name: 27729, dtype: object
27730 468 15 ORtg Last Month    31.2
Name: 27730, dtype: object
27731 953 8 ORtg Last Month    119.125
Name: 27731, dtype: object
27732 719 14 ORtg Last Month    51.3571
Name: 27732, dtype: object
27733 1240 11 ORtg Last Month    112.727
Name: 27733, dtype: object
27734 1284 15 ORtg Last Month    85.6
Name: 27734, dtype: object
27735 115 3 ORtg Last Month    38.3333
Name: 27735, dtype: object
27736 1607 15 ORtg Last Month    107.133
Name: 27736, dtype: object
27737 1187 15 ORtg Last Month    79.1333
Name: 27737, dtype: object
27738 1693 15 ORtg Last Month    112.867
Name: 27738, dtype: object
27739 1691 15 ORtg Last Month    112.733
Name: 27739, dtype: object
27740 1585 14 ORtg Last Month    113.214
Name: 27740, dtype: object
27741 1770 15 ORtg Last Month    118
Name: 27741, dtype: object
27742 1860 15 ORtg Last Month    124
Name: 27742, dtype: object
27743 0 0 ORtg Last Month    0
Name: 27743, dtype: object
27744 1884 15 ORtg Last Month    125.6
Name: 27744, dtype: object
27745 1313 11 ORtg Last Month    119.364
Name: 27745, dtype: object
27746 813 14 ORtg Last Month    58.0714
Name: 27746, dtype: object
27747 30 6 ORtg Last Month    5
Name: 27747, dtype: object
27748 1656 14 ORtg Last Month    118.286
Name: 27748, dtype: object
27749 1305 14 ORtg Last Month    93.2143
Name: 27749, dtype: object
27750 1572 13 ORtg Last Month    120.923
Name: 27750, dtype: object
27751 1139 13 ORtg Last Month    87.6154
Name: 27751, dtype: object
27752 63 2 ORtg Last Month    31.5
Name: 27752, dtype: object
27753 1585 13 ORtg Last Month    121.923
Name: 27753, dtype: object
27754 1583 14 ORtg Last Month    113.071
Name: 27754, dtype: object
27755 729 7 ORtg Last Month    104.143
Name: 27755, dtype: object
27756 1252 11 ORtg Last Month    113.818
Name: 27756, dtype: object
27757 1553 14 ORtg Last Month    110.929
Name: 27757, dtype: object
27758 477 12 ORtg Last Month    39.75
Name: 27758, dtype: object
27759 1297 13 ORtg Last Month    99.7692
Name: 27759, dtype: object
27760 1235 12 ORtg Last Month    102.917
Name: 27760, dtype: object
27761 1166 10 ORtg Last Month    116.6
Name: 27761, dtype: object
27762 1345 13 ORtg Last Month    103.462
Name: 27762, dtype: object
27763 988 14 ORtg Last Month    70.5714
Name: 27763, dtype: object
27764 1465 13 ORtg Last Month    112.692
Name: 27764, dtype: object
27765 1396 11 ORtg Last Month    126.909
Name: 27765, dtype: object
27766 495 9 ORtg Last Month    55
Name: 27766, dtype: object
27767 1000 13 ORtg Last Month    76.9231
Name: 27767, dtype: object
27768 763 12 ORtg Last Month    63.5833
Name: 27768, dtype: object
27769 1640 15 ORtg Last Month    109.333
Name: 27769, dtype: object
27770 951 15 ORtg Last Month    63.4
Name: 27770, dtype: object
27771 1120 13 ORtg Last Month    86.1538
Name: 27771, dtype: object
27772 43 12 ORtg Last Month    3.58333
Name: 27772, dtype: object
27773 0 1 ORtg Last Month    0
Name: 27773, dtype: object
27774 1575 15 ORtg Last Month    105
Name: 27774, dtype: object
27775 1537 15 ORtg Last Month    102.467
Name: 27775, dtype: object
27776 928 10 ORtg Last Month    92.8
Name: 27776, dtype: object
27777 1509 14 ORtg Last Month    107.786
Name: 27777, dtype: object
27778 771 11 ORtg Last Month    70.0909
Name: 27778, dtype: object
27779 1674 15 ORtg Last Month    111.6
Name: 27779, dtype: object
27780 1396 14 ORtg Last Month    99.7143
Name: 27780, dtype: object
27781 1751 15 ORtg Last Month    116.733
Name: 27781, dtype: object
27782 1722 15 ORtg Last Month    114.8
Name: 27782, dtype: object
27783 1501 15 ORtg Last Month    100.067
Name: 27783, dtype: object
27784 1536 15 ORtg Last Month    102.4
Name: 27784, dtype: object
27785 1681 15 ORtg Last Month    112.067
Name: 27785, dtype: object
27786 1742 15 ORtg Last Month    116.133
Name: 27786, dtype: object
27787 502 10 ORtg Last Month    50.2
Name: 27787, dtype: object
27788 1097 12 ORtg Last Month    91.4167
Name: 27788, dtype: object
27789 868 7 ORtg Last Month    124
Name: 27789, dtype: object
27790 1249 14 ORtg Last Month    89.2143
Name: 27790, dtype: object
27791 1129 14 ORtg Last Month    80.6429
Name: 27791, dtype: object
27792 212 15 ORtg Last Month    14.1333
Name: 27792, dtype: object
27793 1280 15 ORtg Last Month    85.3333
Name: 27793, dtype: object
27794 88 6 ORtg Last Month    14.6667
Name: 27794, dtype: object
27795 1526 15 ORtg Last Month    101.733
Name: 27795, dtype: object
27796 695 15 ORtg Last Month    46.3333
Name: 27796, dtype: object
27797 1577 15 ORtg Last Month    105.133
Name: 27797, dtype: object
27798 1006 15 ORtg Last Month    67.0667
Name: 27798, dtype: object
27799 1431 14 ORtg Last Month    102.214
Name: 27799, dtype: object
27800 1173 14 ORtg Last Month    83.7857
Name: 27800, dtype: object

27801 1493 15 ORtg Last Month    99.5333
Name: 27801, dtype: object
27802 1385 12 ORtg Last Month    115.417
Name: 27802, dtype: object
27803 1691 15 ORtg Last Month    112.733
Name: 27803, dtype: object
27804 1241 14 ORtg Last Month    88.6429
Name: 27804, dtype: object
27805 1820 15 ORtg Last Month    121.333
Name: 27805, dtype: object
27806 1642 15 ORtg Last Month    109.467
Name: 27806, dtype: object
27807 327 15 ORtg Last Month    21.8
Name: 27807, dtype: object
27808 1286 14 ORtg Last Month    91.8571
Name: 27808, dtype: object
27809 1414 15 ORtg Last Month    94.2667
Name: 27809, dtype: object
27810 613 15 ORtg Last Month    40.8667
Name: 27810, dtype: object
27811 486 15 ORtg Last Month    32.4
Name: 27811, dtype: object
27812 836 11 ORtg Last Month    76
Name: 27812, dtype: object
27813 1788 15 ORtg Last Month    119.2
Name: 27813, dtype: object
27814 1707 15 ORtg Last Month    113.8
Name: 27814, dtype: object
27815 1668 15 ORtg Last Month    111.2
Name: 27815, dtype: object
27816 1697 16 ORtg Last Month    106.062
Name: 27816, dtype: object
27817 2108 16 ORtg Last Month    131.75
Name: 27817, dtype: object
27818 208 15 ORtg Last Month    13.8667
Name: 27818, dtype: object
27819 1851 16 ORtg Last Month    115.688
Name: 27819, dtype: object
27820 1778 15 ORtg Last Month    118.533
Name: 27820, dtype: object
27821 1611 15 ORtg Last Month    107.4
Name: 27821, dtype: object
27822 1343 12 ORtg Last Month    111.917
Name: 27822, dtype: object
27823 1994 16 ORtg Last Month    124.625
Name: 27823, dtype: object
27824 1817 16 ORtg Last Month    113.562
Name: 27824, dtype: object
27825 1197 14 ORtg Last Month    85.5
Name: 27825, dtype: object
27826 576 11 ORtg Last Month    52.3636
Name: 27826, dtype: object
27827 1418 13 ORtg Last Month    109.077
Name: 27827, dtype: object
27828 1502 14 ORtg Last Month    107.286
Name: 27828, dtype: object
27829 1502 14 ORtg Last Month    107.286
Name: 27829, dtype: object
27830 1543 11 ORtg Last Month    140.273
Name: 27830, dtype: object
27831 1583 12 ORtg Last Month    131.917
Name: 27831, dtype: object
27832 1119 14 ORtg Last Month    79.9286
Name: 27832, dtype: object
27833 1791 14 ORtg Last Month    127.929
Name: 27833, dtype: object
27834 374 8 ORtg Last Month    46.75
Name: 27834, dtype: object
27835 1541 14 ORtg Last Month    110.071
Name: 27835, dtype: object
27836 1014 8 ORtg Last Month    126.75
Name: 27836, dtype: object
27837 902 13 ORtg Last Month    69.3846
Name: 27837, dtype: object
27838 2063 14 ORtg Last Month    147.357
Name: 27838, dtype: object
27839 1790 15 ORtg Last Month    119.333
Name: 27839, dtype: object
27840 1643 14 ORtg Last Month    117.357
Name: 27840, dtype: object
27841 1146 15 ORtg Last Month    76.4
Name: 27841, dtype: object
27842 273 5 ORtg Last Month    54.6
Name: 27842, dtype: object
27843 1598 15 ORtg Last Month    106.533
Name: 27843, dtype: object
27844 1638 14 ORtg Last Month    117
Name: 27844, dtype: object
27845 791 12 ORtg Last Month    65.9167
Name: 27845, dtype: object
27846 1072 15 ORtg Last Month    71.4667
Name: 27846, dtype: object
27847 1253 12 ORtg Last Month    104.417
Name: 27847, dtype: object
27848 2096 15 ORtg Last Month    139.733
Name: 27848, dtype: object
27849 849 9 ORtg Last Month    94.3333
Name: 27849, dtype: object
27850 653 15 ORtg Last Month    43.5333
Name: 27850, dtype: object
27851 1067 14 ORtg Last Month    76.2143
Name: 27851, dtype: object
27852 944 14 ORtg Last Month    67.4286
Name: 27852, dtype: object
27853 923 11 ORtg Last Month    83.9091
Name: 27853, dtype: object
27854 1511 14 ORtg Last Month    107.929
Name: 27854, dtype: object
27855 1579 14 ORtg Last Month    112.786
Name: 27855, dtype: object
27856 1562 14 ORtg Last Month    111.571
Name: 27856, dtype: object
27857 240 8 ORtg Last Month    30
Name: 27857, dtype: object
27858 216 2 ORtg Last Month    108
Name: 27858, dtype: object
27859 1561 14 ORtg Last Month    111.5
Name: 27859, dtype: object
27860 1383 13 ORtg Last Month    106.385
Name: 27860, dtype: object
27861 511 14 ORtg Last Month    36.5
Name: 27861, dtype: object
27862 1581 13 ORtg Last Month    121.615
Name: 27862, dtype: object
27863 484 7 ORtg Last Month    69.1429
Name: 27863, dtype: object
27864 703 12 ORtg Last Month    58.5833
Name: 27864, dtype: object
27865 1466 11 ORtg Last Month    133.273
Name: 27865, dtype: object
27866 1243 13 ORtg Last Month    95.6154
Name: 27866, dtype: object
27867 987 13 ORtg Last Month    75.9231
Name: 27867, dtype: object
27868 486 12 ORtg Last Month    40.5
Name: 27868, dtype: object
27869 1407 12 ORtg Last Month    117.25
Name: 27869, dtype: object
27870 1575 13 ORtg Last Month    121.154
Name: 27870, dtype: object
27871 1636 13 ORtg Last Month    125.846
Name: 27871, dtype: object
27872 543 4 ORtg Last Month    135.75
Name: 27872, dtype: object
27873 0 1 ORtg Last Month    0
Name: 27873, dtype: object
27874 1717 15 ORtg Last Month    114.467
Name: 27874, dtype: object
27875 1516 15 ORtg Last Month    101.067
Name: 27875, dtype: object
27876 580 14 ORtg Last Month    41.4286
Name: 27876, dtype: object
27877 1550 15 ORtg Last Month    103.333
Name: 27877, dtype: object
27878 191 3 ORtg Last Month    63.6667
Name: 27878, dtype: object
27879 689 10 ORtg Last Month    68.9
Name: 27879, dtype: object
27880 1792 15 ORtg Last Month    119.467
Name: 27880, dtype: object
27881 1304 15 ORtg Last Month    86.9333
Name: 27881, dtype: object
27882 555 12 ORtg Last Month    46.25
Name: 27882, dtype: object
27883 1183 15 ORtg Last Month    78.8667
Name: 27883, dtype: object
27884 218 4 ORtg Last Month    54.5
Name: 27884, dtype: object
27885 1280 12 ORtg Last Month    106.667
Name: 27885, dtype: object
27886 1259 12 ORtg Last Month    104.917
Name: 27886, dtype: object
27887 475 9 ORtg Last Month    52.7778
Name: 27887, dtype: object
27888 1085 9 ORtg Last Month    120.556
Name: 27888, dtype: object
27889 1392 12 ORtg Last Month    116
Name: 27889, dtype: object
27890 1314 12 ORtg Last Month    109.5
Name: 27890, dtype: object
27891 1098 12 ORtg Last Month    91.5
Name: 27891, dtype: object
27892 604 8 ORtg Last Month    75.5
Name: 27892, dtype: object
27893 217 7 ORtg Last Month    31
Name: 27893, dtype: object
27894 1381 12 ORtg Last Month    115.083
Name: 27894, dtype: object
27895 617 7 ORtg Last Month    88.1429
Name: 27895, dtype: object
27896 291 4 ORtg Last Month    72.75
Name: 27896, dtype: object
27897 1391 14 ORtg Last Month    99.3571
Name: 27897, dtype: object
27898 1488 15 ORtg Last Month    99.2
Name: 27898, dtype: object
27899 630 6 ORtg Last Month    105
Name: 27899, dtype: object
27900 954 15 ORtg Last Month    63.6
Name: 27900, dtype: object
27901 1541 15 ORtg Last Month    102.733
Name: 27901, dtype: object
27902 475 9 ORtg Last Month    52.7778
Name: 27902, dtype: object
27903 169 11 ORtg Last Month    15.3636
Name: 27903, dtype: object
27904 0 6 ORtg Last Month    0
Name: 27904, dtype: object
27905 1295 14 ORtg Last Month    92.5
Name: 27905, dtype: object
27906 108 15 ORtg Last Month    7.2
Name: 27906, dtype: object
27907 1851 15 ORtg Last Month    123.4
Name: 27907, dtype: object
27908 1807 15 ORtg Last Month    120.467
Name: 27908, dtype: object
27909 1773 15 ORtg Last Month    118.2
Name: 27909, dtype: object
27910 1696 14 ORtg Last Month    121.143
Name: 27910, dtype: object
27911 1284 14 ORtg Last Month    91.7143
Name: 27911, dtype: object
27912 1358 14 ORtg Last Month    97
Name: 27912, dtype: object
27913 0 11 ORtg Last Month    0
Name: 27913, dtype: object
27914 1566 14 ORtg Last Month    111.857
Name: 27914, dtype: object
27915 1096 12 ORtg Last Month    91.3333
Name: 27915, dtype: object
27916 1557 14 ORtg Last Month    111.214
Name: 27916, dtype: object
27917 1377 14 ORtg Last Month    98.3571
Name: 27917, dtype: object
27918 1386 14 ORtg Last Month    99
Name: 27918, dtype: object
27919 0 2 ORtg Last Month    0
Name: 27919, dtype: object
27920 203 8 ORtg Last Month    25.375
Name: 27920, dtype: object
27921 1484 13 ORtg Last Month    114.154
Name: 27921, dtype: object
27922 1627 14 ORtg Last Month    116.214
Name: 27922, dtype: object
27923 1374 13 ORtg Last Month    105.692
Name: 27923, dtype: object
27924 1074 13 ORtg Last Month    82.6154
Name: 27924, dtype: object

27925 851 11 ORtg Last Month    77.3636
Name: 27925, dtype: object
27926 1179 13 ORtg Last Month    90.6923
Name: 27926, dtype: object
27927 714 13 ORtg Last Month    54.9231
Name: 27927, dtype: object
27928 965 13 ORtg Last Month    74.2308
Name: 27928, dtype: object
27929 1352 13 ORtg Last Month    104
Name: 27929, dtype: object
27930 1432 13 ORtg Last Month    110.154
Name: 27930, dtype: object
27931 573 7 ORtg Last Month    81.8571
Name: 27931, dtype: object
27932 1082 13 ORtg Last Month    83.2308
Name: 27932, dtype: object
27933 957 13 ORtg Last Month    73.6154
Name: 27933, dtype: object
27934 704 10 ORtg Last Month    70.4
Name: 27934, dtype: object
27935 1434 14 ORtg Last Month    102.429
Name: 27935, dtype: object
27936 1116 14 ORtg Last Month    79.7143
Name: 27936, dtype: object
27937 1365 14 ORtg Last Month    97.5
Name: 27937, dtype: object
27938 1929 14 ORtg Last Month    137.786
Name: 27938, dtype: object
27939 550 12 ORtg Last Month    45.8333
Name: 27939, dtype: object
27940 717 12 ORtg Last Month    59.75
Name: 27940, dtype: object
27941 1235 14 ORtg Last Month    88.2143
Name: 27941, dtype: object
27942 83 1 ORtg Last Month    83
Name: 27942, dtype: object
27943 1408 13 ORtg Last Month    108.308
Name: 27943, dtype: object
27944 1367 14 ORtg Last Month    97.6429
Name: 27944, dtype: object
27945 189 14 ORtg Last Month    13.5
Name: 27945, dtype: object
27946 1522 14 ORtg Last Month    108.714
Name: 27946, dtype: object
27947 1524 14 ORtg Last Month    108.857
Name: 27947, dtype: object
27948 1486 14 ORtg Last Month    106.143
Name: 27948, dtype: object
27949 61 11 ORtg Last Month    5.54545
Name: 27949, dtype: object
27950 248 12 ORtg Last Month    20.6667
Name: 27950, dtype: object
27951 1184 14 ORtg Last Month    84.5714
Name: 27951, dtype: object
27952 1559 14 ORtg Last Month    111.357
Name: 27952, dtype: object
27953 1497 13 ORtg Last Month    115.154
Name: 27953, dtype: object
27954 1088 13 ORtg Last Month    83.6923
Name: 27954, dtype: object
27955 0 14 ORtg Last Month    0
Name: 27955, dtype: object
27956 1550 13 ORtg Last Month    119.231
Name: 27956, dtype: object
27957 943 9 ORtg Last Month    104.778
Name: 27957, dtype: object
27958 934 13 ORtg Last Month    71.8462
Name: 27958, dtype: object
27959 1410 13 ORtg Last Month    108.462
Name: 27959, dtype: object
27960 1354 13 ORtg Last Month    104.154
Name: 27960, dtype: object
27961 1373 13 ORtg Last Month    105.615
Name: 27961, dtype: object
27962 1360 13 ORtg Last Month    104.615
Name: 27962, dtype: object
27963 238 7 ORtg Last Month    34
Name: 27963, dtype: object
27964 1416 13 ORtg Last Month    108.923
Name: 27964, dtype: object
27965 1764 13 ORtg Last Month    135.692
Name: 27965, dtype: object
27966 394 13 ORtg Last Month    30.3077
Name: 27966, dtype: object
27967 605 13 ORtg Last Month    46.5385
Name: 27967, dtype: object
27968 894 11 ORtg Last Month    81.2727
Name: 27968, dtype: object
27969 1085 13 ORtg Last Month    83.4615
Name: 27969, dtype: object
27970 883 11 ORtg Last Month    80.2727
Name: 27970, dtype: object
27971 303 6 ORtg Last Month    50.5
Name: 27971, dtype: object
27972 1003 11 ORtg Last Month    91.1818
Name: 27972, dtype: object
27973 1506 14 ORtg Last Month    107.571
Name: 27973, dtype: object
27974 1440 14 ORtg Last Month    102.857
Name: 27974, dtype: object
27975 743 14 ORtg Last Month    53.0714
Name: 27975, dtype: object
27976 1567 14 ORtg Last Month    111.929
Name: 27976, dtype: object
27977 1800 14 ORtg Last Month    128.571
Name: 27977, dtype: object
27978 1651 14 ORtg Last Month    117.929
Name: 27978, dtype: object
27979 955 11 ORtg Last Month    86.8182
Name: 27979, dtype: object
27980 1403 14 ORtg Last Month    100.214
Name: 27980, dtype: object
27981 1522 13 ORtg Last Month    117.077
Name: 27981, dtype: object
27982 1302 14 ORtg Last Month    93
Name: 27982, dtype: object
27983 1227 12 ORtg Last Month    102.25
Name: 27983, dtype: object
27984 1486 13 ORtg Last Month    114.308
Name: 27984, dtype: object
27985 1504 14 ORtg Last Month    107.429
Name: 27985, dtype: object
27986 1408 14 ORtg Last Month    100.571
Name: 27986, dtype: object
27987 860 14 ORtg Last Month    61.4286
Name: 27987, dtype: object
27988 217 10 ORtg Last Month    21.7
Name: 27988, dtype: object
27989 1341 16 ORtg Last Month    83.8125
Name: 27989, dtype: object
27990 1726 16 ORtg Last Month    107.875
Name: 27990, dtype: object
27991 680 14 ORtg Last Month    48.5714
Name: 27991, dtype: object
27992 1821 16 ORtg Last Month    113.812
Name: 27992, dtype: object
27993 1852 16 ORtg Last Month    115.75
Name: 27993, dtype: object
27994 1837 16 ORtg Last Month    114.812
Name: 27994, dtype: object
27995 2074 16 ORtg Last Month    129.625
Name: 27995, dtype: object
27996 1681 15 ORtg Last Month    112.067
Name: 27996, dtype: object
27997 0 1 ORtg Last Month    0
Name: 27997, dtype: object
27998 1411 12 ORtg Last Month    117.583
Name: 27998, dtype: object
27999 908 15 ORtg Last Month    60.5333
Name: 27999, dtype: object
28000 30 7 ORtg Last Month    4.28571
Name: 28000, dtype: object
28001 1458 14 ORtg Last Month    104.143
Name: 28001, dtype: object
28002 1471 14 ORtg Last Month    105.071
Name: 28002, dtype: object
28003 1670 14 ORtg Last Month    119.286
Name: 28003, dtype: object
28004 505 14 ORtg Last Month    36.0714
Name: 28004, dtype: object
28005 1225 12 ORtg Last Month    102.083
Name: 28005, dtype: object
28006 1635 14 ORtg Last Month    116.786
Name: 28006, dtype: object
28007 1504 14 ORtg Last Month    107.429
Name: 28007, dtype: object
28008 105 14 ORtg Last Month    7.5
Name: 28008, dtype: object
28009 369 14 ORtg Last Month    26.3571
Name: 28009, dtype: object
28010 1618 14 ORtg Last Month    115.571
Name: 28010, dtype: object
28011 1951 13 ORtg Last Month    150.077
Name: 28011, dtype: object
28012 492 12 ORtg Last Month    41
Name: 28012, dtype: object
28013 0 0 ORtg Last Month    0
Name: 28013, dtype: object
28014 1162 10 ORtg Last Month    116.2
Name: 28014, dtype: object
28015 1218 10 ORtg Last Month    121.8
Name: 28015, dtype: object
28016 1403 14 ORtg Last Month    100.214
Name: 28016, dtype: object
28017 501 5 ORtg Last Month    100.2
Name: 28017, dtype: object
28018 1184 10 ORtg Last Month    118.4
Name: 28018, dtype: object
28019 1730 14 ORtg Last Month    123.571
Name: 28019, dtype: object
28020 1086 10 ORtg Last Month    108.6
Name: 28020, dtype: object
28021 1447 14 ORtg Last Month    103.357
Name: 28021, dtype: object
28022 656 13 ORtg Last Month    50.4615
Name: 28022, dtype: object
28023 1294 11 ORtg Last Month    117.636
Name: 28023, dtype: object
28024 1486 14 ORtg Last Month    106.143
Name: 28024, dtype: object
28025 1487 14 ORtg Last Month    106.214
Name: 28025, dtype: object
28026 969 12 ORtg Last Month    80.75
Name: 28026, dtype: object
28027 1672 15 ORtg Last Month    111.467
Name: 28027, dtype: object
28028 654 9 ORtg Last Month    72.6667
Name: 28028, dtype: object
28029 1442 12 ORtg Last Month    120.167
Name: 28029, dtype: object
28030 1751 15 ORtg Last Month    116.733
Name: 28030, dtype: object
28031 1485 15 ORtg Last Month    99
Name: 28031, dtype: object
28032 1519 14 ORtg Last Month    108.5
Name: 28032, dtype: object
28033 1658 15 ORtg Last Month    110.533
Name: 28033, dtype: object
28034 1244 14 ORtg Last Month    88.8571
Name: 28034, dtype: object
28035 0 1 ORtg Last Month    0
Name: 28035, dtype: object
28036 2050 15 ORtg Last Month    136.667
Name: 28036, dtype: object
28037 1097 15 ORtg Last Month    73.1333
Name: 28037, dtype: object
28038 0 2 ORtg Last Month    0
Name: 28038, dtype: object
28039 1849 16 ORtg Last Month    115.562
Name: 28039, dtype: object
28040 0 0 ORtg Last Month    0
Name: 28040, dtype: object
28041 821 8 ORtg Last Month    102.625
Name: 28041, dtype: object
28042 1310 16 ORtg Last Month    81.875
Name: 28042, dtype: object
28043 1920 16 ORtg Last Month    120
Name: 28043, dtype: object
28044 1417 15 ORtg Last Month    94.4667
Name: 28044, dtype: object
28045 849 15 ORtg Last Month    56.6
Name: 28045, dtype: object
28046 145 16 ORtg Last Month    9.0625
Name: 28046, dtype: object
28047 1570 16 ORtg Last Month    98.125
Name: 28047, dtype: object
28048 1977 16 ORtg Last Month    123.562
Name: 28048, dtype: object

28049 23 16 ORtg Last Month    1.4375
Name: 28049, dtype: object
28050 1159 12 ORtg Last Month    96.5833
Name: 28050, dtype: object
28051 1246 12 ORtg Last Month    103.833
Name: 28051, dtype: object
28052 199 9 ORtg Last Month    22.1111
Name: 28052, dtype: object
28053 1087 12 ORtg Last Month    90.5833
Name: 28053, dtype: object
28054 1429 12 ORtg Last Month    119.083
Name: 28054, dtype: object
28055 1413 12 ORtg Last Month    117.75
Name: 28055, dtype: object
28056 1180 12 ORtg Last Month    98.3333
Name: 28056, dtype: object
28057 919 9 ORtg Last Month    102.111
Name: 28057, dtype: object
28058 1185 11 ORtg Last Month    107.727
Name: 28058, dtype: object
28059 1631 12 ORtg Last Month    135.917
Name: 28059, dtype: object
28060 1548 12 ORtg Last Month    129
Name: 28060, dtype: object
28061 403 12 ORtg Last Month    33.5833
Name: 28061, dtype: object
28062 427 7 ORtg Last Month    61
Name: 28062, dtype: object
28063 1269 13 ORtg Last Month    97.6154
Name: 28063, dtype: object
28064 1612 13 ORtg Last Month    124
Name: 28064, dtype: object
28065 900 13 ORtg Last Month    69.2308
Name: 28065, dtype: object
28066 294 2 ORtg Last Month    147
Name: 28066, dtype: object
28067 262 4 ORtg Last Month    65.5
Name: 28067, dtype: object
28068 1246 13 ORtg Last Month    95.8462
Name: 28068, dtype: object
28069 1514 13 ORtg Last Month    116.462
Name: 28069, dtype: object
28070 1479 13 ORtg Last Month    113.769
Name: 28070, dtype: object
28071 1480 14 ORtg Last Month    105.714
Name: 28071, dtype: object
28072 1071 14 ORtg Last Month    76.5
Name: 28072, dtype: object
28073 675 9 ORtg Last Month    75
Name: 28073, dtype: object
28074 1428 14 ORtg Last Month    102
Name: 28074, dtype: object
28075 2053 15 ORtg Last Month    136.867
Name: 28075, dtype: object
28076 769 9 ORtg Last Month    85.4444
Name: 28076, dtype: object
28077 1517 14 ORtg Last Month    108.357
Name: 28077, dtype: object
28078 1138 13 ORtg Last Month    87.5385
Name: 28078, dtype: object
28079 1805 15 ORtg Last Month    120.333
Name: 28079, dtype: object
28080 1263 15 ORtg Last Month    84.2
Name: 28080, dtype: object
28081 1227 15 ORtg Last Month    81.8
Name: 28081, dtype: object
28082 278 7 ORtg Last Month    39.7143
Name: 28082, dtype: object
28083 1566 13 ORtg Last Month    120.462
Name: 28083, dtype: object
28084 1182 14 ORtg Last Month    84.4286
Name: 28084, dtype: object
28085 242 6 ORtg Last Month    40.3333
Name: 28085, dtype: object
28086 1656 14 ORtg Last Month    118.286
Name: 28086, dtype: object
28087 1591 14 ORtg Last Month    113.643
Name: 28087, dtype: object
28088 1439 14 ORtg Last Month    102.786
Name: 28088, dtype: object
28089 191 7 ORtg Last Month    27.2857
Name: 28089, dtype: object
28090 372 14 ORtg Last Month    26.5714
Name: 28090, dtype: object
28091 1060 9 ORtg Last Month    117.778
Name: 28091, dtype: object
28092 725 14 ORtg Last Month    51.7857
Name: 28092, dtype: object
28093 1440 12 ORtg Last Month    120
Name: 28093, dtype: object
28094 115 4 ORtg Last Month    28.75
Name: 28094, dtype: object
28095 1031 14 ORtg Last Month    73.6429
Name: 28095, dtype: object
28096 1343 14 ORtg Last Month    95.9286
Name: 28096, dtype: object
28097 1311 13 ORtg Last Month    100.846
Name: 28097, dtype: object
28098 1561 13 ORtg Last Month    120.077
Name: 28098, dtype: object
28099 1052 13 ORtg Last Month    80.9231
Name: 28099, dtype: object
28100 1220 13 ORtg Last Month    93.8462
Name: 28100, dtype: object
28101 163 3 ORtg Last Month    54.3333
Name: 28101, dtype: object
28102 1571 14 ORtg Last Month    112.214
Name: 28102, dtype: object
28103 901 8 ORtg Last Month    112.625
Name: 28103, dtype: object
28104 1380 12 ORtg Last Month    115
Name: 28104, dtype: object
28105 1526 14 ORtg Last Month    109
Name: 28105, dtype: object
28106 1343 13 ORtg Last Month    103.308
Name: 28106, dtype: object
28107 621 12 ORtg Last Month    51.75
Name: 28107, dtype: object
28108 1255 10 ORtg Last Month    125.5
Name: 28108, dtype: object
28109 1322 13 ORtg Last Month    101.692
Name: 28109, dtype: object
28110 1241 11 ORtg Last Month    112.818
Name: 28110, dtype: object
28111 1231 12 ORtg Last Month    102.583
Name: 28111, dtype: object
28112 1130 14 ORtg Last Month    80.7143
Name: 28112, dtype: object
28113 1353 11 ORtg Last Month    123
Name: 28113, dtype: object
28114 975 13 ORtg Last Month    75
Name: 28114, dtype: object
28115 1564 13 ORtg Last Month    120.308
Name: 28115, dtype: object
28116 548 9 ORtg Last Month    60.8889
Name: 28116, dtype: object
28117 1303 13 ORtg Last Month    100.231
Name: 28117, dtype: object
28118 1368 13 ORtg Last Month    105.231
Name: 28118, dtype: object
28119 199 10 ORtg Last Month    19.9
Name: 28119, dtype: object
28120 1243 13 ORtg Last Month    95.6154
Name: 28120, dtype: object
28121 1508 13 ORtg Last Month    116
Name: 28121, dtype: object
28122 1016 10 ORtg Last Month    101.6
Name: 28122, dtype: object
28123 1602 13 ORtg Last Month    123.231
Name: 28123, dtype: object
28124 1266 13 ORtg Last Month    97.3846
Name: 28124, dtype: object
28125 1257 12 ORtg Last Month    104.75
Name: 28125, dtype: object
28126 1847 13 ORtg Last Month    142.077
Name: 28126, dtype: object
28127 1740 13 ORtg Last Month    133.846
Name: 28127, dtype: object
28128 403 13 ORtg Last Month    31
Name: 28128, dtype: object
28129 1698 15 ORtg Last Month    113.2
Name: 28129, dtype: object
28130 1073 15 ORtg Last Month    71.5333
Name: 28130, dtype: object
28131 1176 14 ORtg Last Month    84
Name: 28131, dtype: object
28132 43 12 ORtg Last Month    3.58333
Name: 28132, dtype: object
28133 0 2 ORtg Last Month    0
Name: 28133, dtype: object
28134 287 5 ORtg Last Month    57.4
Name: 28134, dtype: object
28135 1652 15 ORtg Last Month    110.133
Name: 28135, dtype: object
28136 1586 15 ORtg Last Month    105.733
Name: 28136, dtype: object
28137 1593 15 ORtg Last Month    106.2
Name: 28137, dtype: object
28138 1005 11 ORtg Last Month    91.3636
Name: 28138, dtype: object
28139 1660 15 ORtg Last Month    110.667
Name: 28139, dtype: object
28140 1262 14 ORtg Last Month    90.1429
Name: 28140, dtype: object
28141 1514 15 ORtg Last Month    100.933
Name: 28141, dtype: object
28142 1799 15 ORtg Last Month    119.933
Name: 28142, dtype: object
28143 1711 15 ORtg Last Month    114.067
Name: 28143, dtype: object
28144 1596 15 ORtg Last Month    106.4
Name: 28144, dtype: object
28145 1676 15 ORtg Last Month    111.733
Name: 28145, dtype: object
28146 502 11 ORtg Last Month    45.6364
Name: 28146, dtype: object
28147 1093 12 ORtg Last Month    91.0833
Name: 28147, dtype: object
28148 1392 15 ORtg Last Month    92.8
Name: 28148, dtype: object
28149 909 10 ORtg Last Month    90.9
Name: 28149, dtype: object
28150 212 15 ORtg Last Month    14.1333
Name: 28150, dtype: object
28151 1183 14 ORtg Last Month    84.5
Name: 28151, dtype: object
28152 1431 15 ORtg Last Month    95.4
Name: 28152, dtype: object
28153 1758 14 ORtg Last Month    125.571
Name: 28153, dtype: object
28154 187 7 ORtg Last Month    26.7143
Name: 28154, dtype: object
28155 1496 15 ORtg Last Month    99.7333
Name: 28155, dtype: object
28156 1406 14 ORtg Last Month    100.429
Name: 28156, dtype: object
28157 1541 15 ORtg Last Month    102.733
Name: 28157, dtype: object
28158 1120 15 ORtg Last Month    74.6667
Name: 28158, dtype: object
28159 674 15 ORtg Last Month    44.9333
Name: 28159, dtype: object
28160 1050 14 ORtg Last Month    75
Name: 28160, dtype: object
28161 2019 14 ORtg Last Month    144.214
Name: 28161, dtype: object
28162 1548 15 ORtg Last Month    103.2
Name: 28162, dtype: object
28163 1525 15 ORtg Last Month    101.667
Name: 28163, dtype: object
28164 1294 14 ORtg Last Month    92.4286
Name: 28164, dtype: object
28165 247 15 ORtg Last Month    16.4667
Name: 28165, dtype: object
28166 1876 15 ORtg Last Month    125.067
Name: 28166, dtype: object
28167 0 1 ORtg Last Month    0
Name: 28167, dtype: object
28168 836 12 ORtg Last Month    69.6667
Name: 28168, dtype: object
28169 1467 14 ORtg Last Month    104.786
Name: 28169, dtype: object
28170 1335 15 ORtg Last Month    89
Name: 28170, dtype: object
28171 613 15 ORtg Last Month    40.8667
Name: 28171, dtype: object
28172 0 0 ORtg Last Month    0
Name: 28172, dtype: object

28173 486 15 ORtg Last Month    32.4
Name: 28173, dtype: object
28174 1643 15 ORtg Last Month    109.533
Name: 28174, dtype: object
28175 209 4 ORtg Last Month    52.25
Name: 28175, dtype: object
28176 1627 16 ORtg Last Month    101.688
Name: 28176, dtype: object
28177 1995 16 ORtg Last Month    124.688
Name: 28177, dtype: object
28178 143 15 ORtg Last Month    9.53333
Name: 28178, dtype: object
28179 1828 16 ORtg Last Month    114.25
Name: 28179, dtype: object
28180 1514 15 ORtg Last Month    100.933
Name: 28180, dtype: object
28181 1791 15 ORtg Last Month    119.4
Name: 28181, dtype: object
28182 1901 16 ORtg Last Month    118.812
Name: 28182, dtype: object
28183 1397 12 ORtg Last Month    116.417
Name: 28183, dtype: object
28184 1766 16 ORtg Last Month    110.375
Name: 28184, dtype: object
28185 576 11 ORtg Last Month    52.3636
Name: 28185, dtype: object
28186 1373 15 ORtg Last Month    91.5333
Name: 28186, dtype: object
28187 1560 14 ORtg Last Month    111.429
Name: 28187, dtype: object
28188 1580 15 ORtg Last Month    105.333
Name: 28188, dtype: object
28189 1677 15 ORtg Last Month    111.8
Name: 28189, dtype: object
28190 1786 12 ORtg Last Month    148.833
Name: 28190, dtype: object
28191 1696 13 ORtg Last Month    130.462
Name: 28191, dtype: object
28192 374 9 ORtg Last Month    41.5556
Name: 28192, dtype: object
28193 1293 15 ORtg Last Month    86.2
Name: 28193, dtype: object
28194 1854 15 ORtg Last Month    123.6
Name: 28194, dtype: object
28195 1659 15 ORtg Last Month    110.6
Name: 28195, dtype: object
28196 1295 11 ORtg Last Month    117.727
Name: 28196, dtype: object
28197 2167 15 ORtg Last Month    144.467
Name: 28197, dtype: object
28198 1129 9 ORtg Last Month    125.444
Name: 28198, dtype: object
28199 1016 14 ORtg Last Month    72.5714
Name: 28199, dtype: object
28200 1902 16 ORtg Last Month    118.875
Name: 28200, dtype: object
28201 1782 15 ORtg Last Month    118.8
Name: 28201, dtype: object
28202 1236 16 ORtg Last Month    77.25
Name: 28202, dtype: object
28203 359 6 ORtg Last Month    59.8333
Name: 28203, dtype: object
28204 1767 15 ORtg Last Month    117.8
Name: 28204, dtype: object
28205 1348 13 ORtg Last Month    103.692
Name: 28205, dtype: object
28206 1734 16 ORtg Last Month    108.375
Name: 28206, dtype: object
28207 1187 16 ORtg Last Month    74.1875
Name: 28207, dtype: object
28208 897 13 ORtg Last Month    69
Name: 28208, dtype: object
28209 2238 16 ORtg Last Month    139.875
Name: 28209, dtype: object
28210 652 14 ORtg Last Month    46.5714
Name: 28210, dtype: object
28211 936 10 ORtg Last Month    93.6
Name: 28211, dtype: object
28212 742 16 ORtg Last Month    46.375
Name: 28212, dtype: object
28213 1046 14 ORtg Last Month    74.7143
Name: 28213, dtype: object
28214 927 8 ORtg Last Month    115.875
Name: 28214, dtype: object
28215 944 14 ORtg Last Month    67.4286
Name: 28215, dtype: object
28216 1520 14 ORtg Last Month    108.571
Name: 28216, dtype: object
28217 1578 14 ORtg Last Month    112.714
Name: 28217, dtype: object
28218 1630 14 ORtg Last Month    116.429
Name: 28218, dtype: object
28219 0 4 ORtg Last Month    0
Name: 28219, dtype: object
28220 222 8 ORtg Last Month    27.75
Name: 28220, dtype: object
28221 1491 14 ORtg Last Month    106.5
Name: 28221, dtype: object
28222 1612 14 ORtg Last Month    115.143
Name: 28222, dtype: object
28223 458 14 ORtg Last Month    32.7143
Name: 28223, dtype: object
28224 1692 14 ORtg Last Month    120.857
Name: 28224, dtype: object
28225 516 8 ORtg Last Month    64.5
Name: 28225, dtype: object
28226 796 13 ORtg Last Month    61.2308
Name: 28226, dtype: object
28227 1434 13 ORtg Last Month    110.308
Name: 28227, dtype: object
28228 1076 14 ORtg Last Month    76.8571
Name: 28228, dtype: object
28229 1365 14 ORtg Last Month    97.5
Name: 28229, dtype: object
28230 686 13 ORtg Last Month    52.7692
Name: 28230, dtype: object
28231 1696 14 ORtg Last Month    121.143
Name: 28231, dtype: object
28232 543 5 ORtg Last Month    108.6
Name: 28232, dtype: object
28233 1747 14 ORtg Last Month    124.786
Name: 28233, dtype: object
28234 0 2 ORtg Last Month    0
Name: 28234, dtype: object
28235 1732 15 ORtg Last Month    115.467
Name: 28235, dtype: object
28236 533 14 ORtg Last Month    38.0714
Name: 28236, dtype: object
28237 1515 15 ORtg Last Month    101
Name: 28237, dtype: object
28238 1661 15 ORtg Last Month    110.733
Name: 28238, dtype: object
28239 303 4 ORtg Last Month    75.75
Name: 28239, dtype: object
28240 1783 15 ORtg Last Month    118.867
Name: 28240, dtype: object
28241 668 12 ORtg Last Month    55.6667
Name: 28241, dtype: object
28242 1338 15 ORtg Last Month    89.2
Name: 28242, dtype: object
28243 1196 15 ORtg Last Month    79.7333
Name: 28243, dtype: object
28244 218 5 ORtg Last Month    43.6
Name: 28244, dtype: object
28245 1433 13 ORtg Last Month    110.231
Name: 28245, dtype: object
28246 1369 13 ORtg Last Month    105.308
Name: 28246, dtype: object
28247 572 10 ORtg Last Month    57.2
Name: 28247, dtype: object
28248 1531 13 ORtg Last Month    117.769
Name: 28248, dtype: object
28249 1412 13 ORtg Last Month    108.615
Name: 28249, dtype: object
28250 1223 13 ORtg Last Month    94.0769
Name: 28250, dtype: object
28251 716 9 ORtg Last Month    79.5556
Name: 28251, dtype: object
28252 317 8 ORtg Last Month    39.625
Name: 28252, dtype: object
28253 1507 13 ORtg Last Month    115.923
Name: 28253, dtype: object
28254 441 5 ORtg Last Month    88.2
Name: 28254, dtype: object
28255 595 6 ORtg Last Month    99.1667
Name: 28255, dtype: object
28256 1077 15 ORtg Last Month    71.8
Name: 28256, dtype: object
28257 1539 15 ORtg Last Month    102.6
Name: 28257, dtype: object
28258 1780 15 ORtg Last Month    118.667
Name: 28258, dtype: object
28259 1577 15 ORtg Last Month    105.133
Name: 28259, dtype: object
28260 1886 15 ORtg Last Month    125.733
Name: 28260, dtype: object
28261 1513 15 ORtg Last Month    100.867
Name: 28261, dtype: object
28262 1640 15 ORtg Last Month    109.333
Name: 28262, dtype: object
28263 545 9 ORtg Last Month    60.5556
Name: 28263, dtype: object
28264 1502 14 ORtg Last Month    107.286
Name: 28264, dtype: object
28265 782 10 ORtg Last Month    78.2
Name: 28265, dtype: object
28266 1213 15 ORtg Last Month    80.8667
Name: 28266, dtype: object
28267 1400 14 ORtg Last Month    100
Name: 28267, dtype: object
28268 1402 14 ORtg Last Month    100.143
Name: 28268, dtype: object
28269 2063 15 ORtg Last Month    137.533
Name: 28269, dtype: object
28270 891 10 ORtg Last Month    89.1
Name: 28270, dtype: object
28271 1012 13 ORtg Last Month    77.8462
Name: 28271, dtype: object
28272 1765 15 ORtg Last Month    117.667
Name: 28272, dtype: object
28273 1304 15 ORtg Last Month    86.9333
Name: 28273, dtype: object
28274 1254 15 ORtg Last Month    83.6
Name: 28274, dtype: object
28275 278 8 ORtg Last Month    34.75
Name: 28275, dtype: object
28276 1683 14 ORtg Last Month    120.214
Name: 28276, dtype: object
28277 0 12 ORtg Last Month    0
Name: 28277, dtype: object
28278 1369 14 ORtg Last Month    97.7857
Name: 28278, dtype: object
28279 1382 14 ORtg Last Month    98.7143
Name: 28279, dtype: object
28280 1100 12 ORtg Last Month    91.6667
Name: 28280, dtype: object
28281 1618 14 ORtg Last Month    115.571
Name: 28281, dtype: object
28282 1407 14 ORtg Last Month    100.5
Name: 28282, dtype: object
28283 1351 14 ORtg Last Month    96.5
Name: 28283, dtype: object
28284 1381 14 ORtg Last Month    98.6429
Name: 28284, dtype: object
28285 0 3 ORtg Last Month    0
Name: 28285, dtype: object
28286 203 9 ORtg Last Month    22.5556
Name: 28286, dtype: object
28287 1447 13 ORtg Last Month    111.308
Name: 28287, dtype: object
28288 1637 14 ORtg Last Month    116.929
Name: 28288, dtype: object
28289 1416 13 ORtg Last Month    108.923
Name: 28289, dtype: object
28290 1212 13 ORtg Last Month    93.2308
Name: 28290, dtype: object
28291 958 12 ORtg Last Month    79.8333
Name: 28291, dtype: object
28292 932 9 ORtg Last Month    103.556
Name: 28292, dtype: object
28293 1210 13 ORtg Last Month    93.0769
Name: 28293, dtype: object
28294 767 13 ORtg Last Month    59
Name: 28294, dtype: object
28295 965 13 ORtg Last Month    74.2308
Name: 28295, dtype: object
28296 1057 10 ORtg Last Month    105.7
Name: 28296, dtype: object

28297 1071 13 ORtg Last Month    82.3846
Name: 28297, dtype: object
28298 748 7 ORtg Last Month    106.857
Name: 28298, dtype: object
28299 1535 13 ORtg Last Month    118.077
Name: 28299, dtype: object
28300 1363 13 ORtg Last Month    104.846
Name: 28300, dtype: object
28301 1058 13 ORtg Last Month    81.3846
Name: 28301, dtype: object
28302 813 11 ORtg Last Month    73.9091
Name: 28302, dtype: object
28303 1389 14 ORtg Last Month    99.2143
Name: 28303, dtype: object
28304 1291 14 ORtg Last Month    92.2143
Name: 28304, dtype: object
28305 1115 14 ORtg Last Month    79.6429
Name: 28305, dtype: object
28306 179 2 ORtg Last Month    89.5
Name: 28306, dtype: object
28307 788 12 ORtg Last Month    65.6667
Name: 28307, dtype: object
28308 1974 14 ORtg Last Month    141
Name: 28308, dtype: object
28309 673 12 ORtg Last Month    56.0833
Name: 28309, dtype: object
28310 1107 14 ORtg Last Month    79.0714
Name: 28310, dtype: object
28311 0 0 ORtg Last Month    0
Name: 28311, dtype: object
28312 1416 13 ORtg Last Month    108.923
Name: 28312, dtype: object
28313 1406 14 ORtg Last Month    100.429
Name: 28313, dtype: object
28314 354 14 ORtg Last Month    25.2857
Name: 28314, dtype: object
28315 248 13 ORtg Last Month    19.0769
Name: 28315, dtype: object
28316 1527 14 ORtg Last Month    109.071
Name: 28316, dtype: object
28317 1474 14 ORtg Last Month    105.286
Name: 28317, dtype: object
28318 1451 14 ORtg Last Month    103.643
Name: 28318, dtype: object
28319 183 12 ORtg Last Month    15.25
Name: 28319, dtype: object
28320 1073 14 ORtg Last Month    76.6429
Name: 28320, dtype: object
28321 1114 13 ORtg Last Month    85.6923
Name: 28321, dtype: object
28322 1576 14 ORtg Last Month    112.571
Name: 28322, dtype: object
28323 1479 13 ORtg Last Month    113.769
Name: 28323, dtype: object
28324 0 14 ORtg Last Month    0
Name: 28324, dtype: object
28325 1673 14 ORtg Last Month    119.5
Name: 28325, dtype: object
28326 1042 10 ORtg Last Month    104.2
Name: 28326, dtype: object
28327 987 14 ORtg Last Month    70.5
Name: 28327, dtype: object
28328 1503 14 ORtg Last Month    107.357
Name: 28328, dtype: object
28329 1491 14 ORtg Last Month    106.5
Name: 28329, dtype: object
28330 1510 14 ORtg Last Month    107.857
Name: 28330, dtype: object
28331 1544 14 ORtg Last Month    110.286
Name: 28331, dtype: object
28332 365 8 ORtg Last Month    45.625
Name: 28332, dtype: object
28333 1571 14 ORtg Last Month    112.214
Name: 28333, dtype: object
28334 1878 14 ORtg Last Month    134.143
Name: 28334, dtype: object
28335 551 14 ORtg Last Month    39.3571
Name: 28335, dtype: object
28336 811 14 ORtg Last Month    57.9286
Name: 28336, dtype: object
28337 958 11 ORtg Last Month    87.0909
Name: 28337, dtype: object
28338 973 13 ORtg Last Month    74.8462
Name: 28338, dtype: object
28339 888 11 ORtg Last Month    80.7273
Name: 28339, dtype: object
28340 303 7 ORtg Last Month    43.2857
Name: 28340, dtype: object
28341 1103 11 ORtg Last Month    100.273
Name: 28341, dtype: object
28342 1483 14 ORtg Last Month    105.929
Name: 28342, dtype: object
28343 1497 14 ORtg Last Month    106.929
Name: 28343, dtype: object
28344 1667 14 ORtg Last Month    119.071
Name: 28344, dtype: object
28345 895 14 ORtg Last Month    63.9286
Name: 28345, dtype: object
28346 1758 14 ORtg Last Month    125.571
Name: 28346, dtype: object
28347 1563 14 ORtg Last Month    111.643
Name: 28347, dtype: object
28348 955 12 ORtg Last Month    79.5833
Name: 28348, dtype: object
28349 1429 14 ORtg Last Month    102.071
Name: 28349, dtype: object
28350 1351 13 ORtg Last Month    103.923
Name: 28350, dtype: object
28351 1527 13 ORtg Last Month    117.462
Name: 28351, dtype: object
28352 1528 13 ORtg Last Month    117.538
Name: 28352, dtype: object
28353 1445 14 ORtg Last Month    103.214
Name: 28353, dtype: object
28354 1575 14 ORtg Last Month    112.5
Name: 28354, dtype: object
28355 1498 14 ORtg Last Month    107
Name: 28355, dtype: object
28356 217 10 ORtg Last Month    21.7
Name: 28356, dtype: object
28357 640 14 ORtg Last Month    45.7143
Name: 28357, dtype: object
28358 1695 16 ORtg Last Month    105.938
Name: 28358, dtype: object
28359 1349 16 ORtg Last Month    84.3125
Name: 28359, dtype: object
28360 1809 16 ORtg Last Month    113.062
Name: 28360, dtype: object
28361 1810 16 ORtg Last Month    113.125
Name: 28361, dtype: object
28362 1825 16 ORtg Last Month    114.062
Name: 28362, dtype: object
28363 1700 15 ORtg Last Month    113.333
Name: 28363, dtype: object
28364 2145 16 ORtg Last Month    134.062
Name: 28364, dtype: object
28365 93 2 ORtg Last Month    46.5
Name: 28365, dtype: object
28366 94 6 ORtg Last Month    15.6667
Name: 28366, dtype: object
28367 1477 13 ORtg Last Month    113.615
Name: 28367, dtype: object
28368 1944 15 ORtg Last Month    129.6
Name: 28368, dtype: object
28369 113 8 ORtg Last Month    14.125
Name: 28369, dtype: object
28370 1771 14 ORtg Last Month    126.5
Name: 28370, dtype: object
28371 1542 14 ORtg Last Month    110.143
Name: 28371, dtype: object
28372 1446 14 ORtg Last Month    103.286
Name: 28372, dtype: object
28373 572 14 ORtg Last Month    40.8571
Name: 28373, dtype: object
28374 1654 14 ORtg Last Month    118.143
Name: 28374, dtype: object
28375 1532 14 ORtg Last Month    109.429
Name: 28375, dtype: object
28376 1284 12 ORtg Last Month    107
Name: 28376, dtype: object
28377 369 14 ORtg Last Month    26.3571
Name: 28377, dtype: object
28378 1250 13 ORtg Last Month    96.1538
Name: 28378, dtype: object
28379 137 14 ORtg Last Month    9.78571
Name: 28379, dtype: object
28380 1640 14 ORtg Last Month    117.143
Name: 28380, dtype: object
28381 2128 14 ORtg Last Month    152
Name: 28381, dtype: object
28382 60 1 ORtg Last Month    60
Name: 28382, dtype: object
28383 1605 15 ORtg Last Month    107
Name: 28383, dtype: object
28384 1315 11 ORtg Last Month    119.545
Name: 28384, dtype: object
28385 1860 15 ORtg Last Month    124
Name: 28385, dtype: object
28386 1495 15 ORtg Last Month    99.6667
Name: 28386, dtype: object
28387 1640 15 ORtg Last Month    109.333
Name: 28387, dtype: object
28388 1277 11 ORtg Last Month    116.091
Name: 28388, dtype: object
28389 1411 12 ORtg Last Month    117.583
Name: 28389, dtype: object
28390 1323 11 ORtg Last Month    120.273
Name: 28390, dtype: object
28391 1173 11 ORtg Last Month    106.636
Name: 28391, dtype: object
28392 1721 15 ORtg Last Month    114.733
Name: 28392, dtype: object
28393 751 9 ORtg Last Month    83.4444
Name: 28393, dtype: object
28394 1240 14 ORtg Last Month    88.5714
Name: 28394, dtype: object
28395 1766 15 ORtg Last Month    117.733
Name: 28395, dtype: object
28396 1685 15 ORtg Last Month    112.333
Name: 28396, dtype: object
28397 1738 15 ORtg Last Month    115.867
Name: 28397, dtype: object
28398 1494 14 ORtg Last Month    106.714
Name: 28398, dtype: object
28399 128 2 ORtg Last Month    64
Name: 28399, dtype: object
28400 2060 15 ORtg Last Month    137.333
Name: 28400, dtype: object
28401 1256 15 ORtg Last Month    83.7333
Name: 28401, dtype: object
28402 200 3 ORtg Last Month    66.6667
Name: 28402, dtype: object
28403 1881 16 ORtg Last Month    117.562
Name: 28403, dtype: object
28404 1824 16 ORtg Last Month    114
Name: 28404, dtype: object
28405 1406 16 ORtg Last Month    87.875
Name: 28405, dtype: object
28406 166 1 ORtg Last Month    166
Name: 28406, dtype: object
28407 924 9 ORtg Last Month    102.667
Name: 28407, dtype: object
28408 1402 15 ORtg Last Month    93.4667
Name: 28408, dtype: object
28409 793 15 ORtg Last Month    52.8667
Name: 28409, dtype: object
28410 2002 16 ORtg Last Month    125.125
Name: 28410, dtype: object
28411 1585 16 ORtg Last Month    99.0625
Name: 28411, dtype: object
28412 23 16 ORtg Last Month    1.4375
Name: 28412, dtype: object
28413 49 2 ORtg Last Month    24.5
Name: 28413, dtype: object
28414 704 12 ORtg Last Month    58.6667
Name: 28414, dtype: object
28415 1287 13 ORtg Last Month    99
Name: 28415, dtype: object
28416 0 1 ORtg Last Month    0
Name: 28416, dtype: object
28417 1072 14 ORtg Last Month    76.5714
Name: 28417, dtype: object
28418 1308 11 ORtg Last Month    118.909
Name: 28418, dtype: object
28419 548 10 ORtg Last Month    54.8
Name: 28419, dtype: object

28420 732 11 ORtg Last Month    66.5455
Name: 28420, dtype: object
28421 1030 13 ORtg Last Month    79.2308
Name: 28421, dtype: object
28422 1283 13 ORtg Last Month    98.6923
Name: 28422, dtype: object
28423 1584 13 ORtg Last Month    121.846
Name: 28423, dtype: object
28424 563 8 ORtg Last Month    70.375
Name: 28424, dtype: object
28425 900 13 ORtg Last Month    69.2308
Name: 28425, dtype: object
28426 438 3 ORtg Last Month    146
Name: 28426, dtype: object
28427 1174 13 ORtg Last Month    90.3077
Name: 28427, dtype: object
28428 345 5 ORtg Last Month    69
Name: 28428, dtype: object
28429 1576 13 ORtg Last Month    121.231
Name: 28429, dtype: object
28430 1513 13 ORtg Last Month    116.385
Name: 28430, dtype: object
28431 1606 14 ORtg Last Month    114.714
Name: 28431, dtype: object
28432 899 14 ORtg Last Month    64.2143
Name: 28432, dtype: object
28433 1137 14 ORtg Last Month    81.2143
Name: 28433, dtype: object
28434 0 3 ORtg Last Month    0
Name: 28434, dtype: object
28435 250 5 ORtg Last Month    50
Name: 28435, dtype: object
28436 1564 14 ORtg Last Month    111.714
Name: 28436, dtype: object
28437 1496 14 ORtg Last Month    106.857
Name: 28437, dtype: object
28438 1501 14 ORtg Last Month    107.214
Name: 28438, dtype: object
28439 808 10 ORtg Last Month    80.8
Name: 28439, dtype: object
28440 946 10 ORtg Last Month    94.6
Name: 28440, dtype: object
28441 1536 14 ORtg Last Month    109.714
Name: 28441, dtype: object
28442 1359 14 ORtg Last Month    97.0714
Name: 28442, dtype: object
28443 1785 15 ORtg Last Month    119
Name: 28443, dtype: object
28444 1596 15 ORtg Last Month    106.4
Name: 28444, dtype: object
28445 1459 15 ORtg Last Month    97.2667
Name: 28445, dtype: object
28446 1623 15 ORtg Last Month    108.2
Name: 28446, dtype: object
28447 1558 15 ORtg Last Month    103.867
Name: 28447, dtype: object
28448 1630 14 ORtg Last Month    116.429
Name: 28448, dtype: object
28449 648 12 ORtg Last Month    54
Name: 28449, dtype: object
28450 1242 12 ORtg Last Month    103.5
Name: 28450, dtype: object
28451 1122 14 ORtg Last Month    80.1429
Name: 28451, dtype: object
28452 1416 15 ORtg Last Month    94.4
Name: 28452, dtype: object
28453 278 15 ORtg Last Month    18.5333
Name: 28453, dtype: object
28454 935 10 ORtg Last Month    93.5
Name: 28454, dtype: object
28455 972 10 ORtg Last Month    97.2
Name: 28455, dtype: object
28456 1583 15 ORtg Last Month    105.533
Name: 28456, dtype: object
28457 1751 14 ORtg Last Month    125.071
Name: 28457, dtype: object
28458 1471 15 ORtg Last Month    98.0667
Name: 28458, dtype: object
28459 300 8 ORtg Last Month    37.5
Name: 28459, dtype: object
28460 1407 14 ORtg Last Month    100.5
Name: 28460, dtype: object
28461 1610 15 ORtg Last Month    107.333
Name: 28461, dtype: object
28462 1271 15 ORtg Last Month    84.7333
Name: 28462, dtype: object
28463 88 5 ORtg Last Month    17.6
Name: 28463, dtype: object
28464 1477 15 ORtg Last Month    98.4667
Name: 28464, dtype: object
28465 2031 14 ORtg Last Month    145.071
Name: 28465, dtype: object
28466 1464 13 ORtg Last Month    112.615
Name: 28466, dtype: object
28467 1067 14 ORtg Last Month    76.2143
Name: 28467, dtype: object
28468 1834 15 ORtg Last Month    122.267
Name: 28468, dtype: object
28469 1287 14 ORtg Last Month    91.9286
Name: 28469, dtype: object
28470 1633 14 ORtg Last Month    116.643
Name: 28470, dtype: object
28471 1560 15 ORtg Last Month    104
Name: 28471, dtype: object
28472 236 15 ORtg Last Month    15.7333
Name: 28472, dtype: object
28473 1530 14 ORtg Last Month    109.286
Name: 28473, dtype: object
28474 500 15 ORtg Last Month    33.3333
Name: 28474, dtype: object
28475 746 15 ORtg Last Month    49.7333
Name: 28475, dtype: object
28476 1390 15 ORtg Last Month    92.6667
Name: 28476, dtype: object
28477 948 13 ORtg Last Month    72.9231
Name: 28477, dtype: object
28478 1652 15 ORtg Last Month    110.133
Name: 28478, dtype: object
28479 1661 14 ORtg Last Month    118.643
Name: 28479, dtype: object
28480 1615 14 ORtg Last Month    115.357
Name: 28480, dtype: object
28481 1628 16 ORtg Last Month    101.75
Name: 28481, dtype: object
28482 1861 16 ORtg Last Month    116.312
Name: 28482, dtype: object
28483 143 16 ORtg Last Month    8.9375
Name: 28483, dtype: object
28484 1436 15 ORtg Last Month    95.7333
Name: 28484, dtype: object
28485 1844 15 ORtg Last Month    122.933
Name: 28485, dtype: object
28486 1901 16 ORtg Last Month    118.812
Name: 28486, dtype: object
28487 1925 16 ORtg Last Month    120.312
Name: 28487, dtype: object
28488 1362 12 ORtg Last Month    113.5
Name: 28488, dtype: object
28489 1373 15 ORtg Last Month    91.5333
Name: 28489, dtype: object
28490 1744 16 ORtg Last Month    109
Name: 28490, dtype: object
28491 576 11 ORtg Last Month    52.3636
Name: 28491, dtype: object
28492 1788 15 ORtg Last Month    119.2
Name: 28492, dtype: object
28493 1622 14 ORtg Last Month    115.857
Name: 28493, dtype: object
28494 1768 12 ORtg Last Month    147.333
Name: 28494, dtype: object
28495 421 9 ORtg Last Month    46.7778
Name: 28495, dtype: object
28496 1877 15 ORtg Last Month    125.133
Name: 28496, dtype: object
28497 1228 15 ORtg Last Month    81.8667
Name: 28497, dtype: object
28498 0 1 ORtg Last Month    0
Name: 28498, dtype: object
28499 1260 11 ORtg Last Month    114.545
Name: 28499, dtype: object
28500 1223 14 ORtg Last Month    87.3571
Name: 28500, dtype: object
28501 2206 15 ORtg Last Month    147.067
Name: 28501, dtype: object
28502 1703 15 ORtg Last Month    113.533
Name: 28502, dtype: object
28503 1927 16 ORtg Last Month    120.438
Name: 28503, dtype: object
28504 1820 15 ORtg Last Month    121.333
Name: 28504, dtype: object
28505 1283 16 ORtg Last Month    80.1875
Name: 28505, dtype: object
28506 434 7 ORtg Last Month    62
Name: 28506, dtype: object
28507 818 13 ORtg Last Month    62.9231
Name: 28507, dtype: object
28508 1768 15 ORtg Last Month    117.867
Name: 28508, dtype: object
28509 1759 16 ORtg Last Month    109.938
Name: 28509, dtype: object
28510 1529 14 ORtg Last Month    109.214
Name: 28510, dtype: object
28511 1242 16 ORtg Last Month    77.625
Name: 28511, dtype: object
28512 2319 16 ORtg Last Month    144.938
Name: 28512, dtype: object
28513 656 14 ORtg Last Month    46.8571
Name: 28513, dtype: object
28514 643 16 ORtg Last Month    40.1875
Name: 28514, dtype: object
28515 1111 11 ORtg Last Month    101
Name: 28515, dtype: object
28516 1612 15 ORtg Last Month    107.467
Name: 28516, dtype: object
28517 567 14 ORtg Last Month    40.5
Name: 28517, dtype: object
28518 1440 15 ORtg Last Month    96
Name: 28518, dtype: object
28519 1758 15 ORtg Last Month    117.2
Name: 28519, dtype: object
28520 434 5 ORtg Last Month    86.8
Name: 28520, dtype: object
28521 1361 15 ORtg Last Month    90.7333
Name: 28521, dtype: object
28522 806 12 ORtg Last Month    67.1667
Name: 28522, dtype: object
28523 1795 15 ORtg Last Month    119.667
Name: 28523, dtype: object
28524 1190 15 ORtg Last Month    79.3333
Name: 28524, dtype: object
28525 218 6 ORtg Last Month    36.3333
Name: 28525, dtype: object
28526 1461 13 ORtg Last Month    112.385
Name: 28526, dtype: object
28527 1316 13 ORtg Last Month    101.231
Name: 28527, dtype: object
28528 738 11 ORtg Last Month    67.0909
Name: 28528, dtype: object
28529 1396 13 ORtg Last Month    107.385
Name: 28529, dtype: object
28530 1514 13 ORtg Last Month    116.462
Name: 28530, dtype: object
28531 1251 13 ORtg Last Month    96.2308
Name: 28531, dtype: object
28532 716 10 ORtg Last Month    71.6
Name: 28532, dtype: object
28533 317 9 ORtg Last Month    35.2222
Name: 28533, dtype: object
28534 532 5 ORtg Last Month    106.4
Name: 28534, dtype: object
28535 1527 13 ORtg Last Month    117.462
Name: 28535, dtype: object
28536 1531 15 ORtg Last Month    102.067
Name: 28536, dtype: object
28537 1510 15 ORtg Last Month    100.667
Name: 28537, dtype: object
28538 549 6 ORtg Last Month    91.5
Name: 28538, dtype: object
28539 1145 13 ORtg Last Month    88.0769
Name: 28539, dtype: object
28540 1204 15 ORtg Last Month    80.2667
Name: 28540, dtype: object
28541 1575 15 ORtg Last Month    105
Name: 28541, dtype: object
28542 108 14 ORtg Last Month    7.71429
Name: 28542, dtype: object
28543 169 11 ORtg Last Month    15.3636
Name: 28543, dtype: object

28544 0 7 ORtg Last Month    0
Name: 28544, dtype: object
28545 1801 15 ORtg Last Month    120.067
Name: 28545, dtype: object
28546 1828 15 ORtg Last Month    121.867
Name: 28546, dtype: object
28547 1566 15 ORtg Last Month    104.4
Name: 28547, dtype: object
28548 169 13 ORtg Last Month    13
Name: 28548, dtype: object
28549 1738 14 ORtg Last Month    124.143
Name: 28549, dtype: object
28550 1303 14 ORtg Last Month    93.0714
Name: 28550, dtype: object
28551 81 13 ORtg Last Month    6.23077
Name: 28551, dtype: object
28552 1230 12 ORtg Last Month    102.5
Name: 28552, dtype: object
28553 1611 14 ORtg Last Month    115.071
Name: 28553, dtype: object
28554 1329 14 ORtg Last Month    94.9286
Name: 28554, dtype: object
28555 1364 14 ORtg Last Month    97.4286
Name: 28555, dtype: object
28556 203 10 ORtg Last Month    20.3
Name: 28556, dtype: object
28557 0 4 ORtg Last Month    0
Name: 28557, dtype: object
28558 1474 14 ORtg Last Month    105.286
Name: 28558, dtype: object
28559 1750 14 ORtg Last Month    125
Name: 28559, dtype: object
28560 1270 13 ORtg Last Month    97.6923
Name: 28560, dtype: object
28561 1411 13 ORtg Last Month    108.538
Name: 28561, dtype: object
28562 1045 13 ORtg Last Month    80.3846
Name: 28562, dtype: object
28563 1241 13 ORtg Last Month    95.4615
Name: 28563, dtype: object
28564 812 13 ORtg Last Month    62.4615
Name: 28564, dtype: object
28565 1184 13 ORtg Last Month    91.0769
Name: 28565, dtype: object
28566 855 8 ORtg Last Month    106.875
Name: 28566, dtype: object
28567 1547 13 ORtg Last Month    119
Name: 28567, dtype: object
28568 1263 13 ORtg Last Month    97.1538
Name: 28568, dtype: object
28569 1021 13 ORtg Last Month    78.5385
Name: 28569, dtype: object
28570 1441 14 ORtg Last Month    102.929
Name: 28570, dtype: object
28571 1323 14 ORtg Last Month    94.5
Name: 28571, dtype: object
28572 179 3 ORtg Last Month    59.6667
Name: 28572, dtype: object
28573 929 12 ORtg Last Month    77.4167
Name: 28573, dtype: object
28574 809 12 ORtg Last Month    67.4167
Name: 28574, dtype: object
28575 1996 14 ORtg Last Month    142.571
Name: 28575, dtype: object
28576 852 12 ORtg Last Month    71
Name: 28576, dtype: object
28577 0 1 ORtg Last Month    0
Name: 28577, dtype: object
28578 963 14 ORtg Last Month    68.7857
Name: 28578, dtype: object
28579 1412 13 ORtg Last Month    108.615
Name: 28579, dtype: object
28580 1446 14 ORtg Last Month    103.286
Name: 28580, dtype: object
28581 527 14 ORtg Last Month    37.6429
Name: 28581, dtype: object
28582 248 14 ORtg Last Month    17.7143
Name: 28582, dtype: object
28583 1594 14 ORtg Last Month    113.857
Name: 28583, dtype: object
28584 1508 14 ORtg Last Month    107.714
Name: 28584, dtype: object
28585 1578 14 ORtg Last Month    112.714
Name: 28585, dtype: object
28586 183 13 ORtg Last Month    14.0769
Name: 28586, dtype: object
28587 958 14 ORtg Last Month    68.4286
Name: 28587, dtype: object
28588 1554 14 ORtg Last Month    111
Name: 28588, dtype: object
28589 1111 13 ORtg Last Month    85.4615
Name: 28589, dtype: object
28590 1490 13 ORtg Last Month    114.615
Name: 28590, dtype: object
28591 227 14 ORtg Last Month    16.2143
Name: 28591, dtype: object
28592 1607 13 ORtg Last Month    123.615
Name: 28592, dtype: object
28593 269 7 ORtg Last Month    38.4286
Name: 28593, dtype: object
28594 1185 14 ORtg Last Month    84.6429
Name: 28594, dtype: object
28595 311 14 ORtg Last Month    22.2143
Name: 28595, dtype: object
28596 1536 14 ORtg Last Month    109.714
Name: 28596, dtype: object
28597 256 8 ORtg Last Month    32
Name: 28597, dtype: object
28598 1231 10 ORtg Last Month    123.1
Name: 28598, dtype: object
28599 0 0 ORtg Last Month    0
Name: 28599, dtype: object
28600 69 2 ORtg Last Month    34.5
Name: 28600, dtype: object
28601 292 5 ORtg Last Month    58.4
Name: 28601, dtype: object
28602 1606 13 ORtg Last Month    123.538
Name: 28602, dtype: object
28603 993 14 ORtg Last Month    70.9286
Name: 28603, dtype: object
28604 814 14 ORtg Last Month    58.1429
Name: 28604, dtype: object
28605 993 11 ORtg Last Month    90.2727
Name: 28605, dtype: object
28606 1004 12 ORtg Last Month    83.6667
Name: 28606, dtype: object
28607 861 13 ORtg Last Month    66.2308
Name: 28607, dtype: object
28608 398 8 ORtg Last Month    49.75
Name: 28608, dtype: object
28609 1095 11 ORtg Last Month    99.5455
Name: 28609, dtype: object
28610 1475 14 ORtg Last Month    105.357
Name: 28610, dtype: object
28611 1387 14 ORtg Last Month    99.0714
Name: 28611, dtype: object
28612 1624 14 ORtg Last Month    116
Name: 28612, dtype: object
28613 997 14 ORtg Last Month    71.2143
Name: 28613, dtype: object
28614 1755 14 ORtg Last Month    125.357
Name: 28614, dtype: object
28615 1521 14 ORtg Last Month    108.643
Name: 28615, dtype: object
28616 870 12 ORtg Last Month    72.5
Name: 28616, dtype: object
28617 1512 13 ORtg Last Month    116.308
Name: 28617, dtype: object
28618 1469 14 ORtg Last Month    104.929
Name: 28618, dtype: object
28619 1491 14 ORtg Last Month    106.5
Name: 28619, dtype: object
28620 1503 13 ORtg Last Month    115.615
Name: 28620, dtype: object
28621 1451 14 ORtg Last Month    103.643
Name: 28621, dtype: object
28622 1639 14 ORtg Last Month    117.071
Name: 28622, dtype: object
28623 1439 14 ORtg Last Month    102.786
Name: 28623, dtype: object
28624 217 10 ORtg Last Month    21.7
Name: 28624, dtype: object
28625 551 14 ORtg Last Month    39.3571
Name: 28625, dtype: object
28626 1386 12 ORtg Last Month    115.5
Name: 28626, dtype: object
28627 1300 14 ORtg Last Month    92.8571
Name: 28627, dtype: object
28628 501 6 ORtg Last Month    83.5
Name: 28628, dtype: object
28629 284 4 ORtg Last Month    71
Name: 28629, dtype: object
28630 1289 11 ORtg Last Month    117.182
Name: 28630, dtype: object
28631 1656 15 ORtg Last Month    110.4
Name: 28631, dtype: object
28632 1852 15 ORtg Last Month    123.467
Name: 28632, dtype: object
28633 1074 11 ORtg Last Month    97.6364
Name: 28633, dtype: object
28634 613 13 ORtg Last Month    47.1538
Name: 28634, dtype: object
28635 843 12 ORtg Last Month    70.25
Name: 28635, dtype: object
28636 1746 15 ORtg Last Month    116.4
Name: 28636, dtype: object
28637 1636 15 ORtg Last Month    109.067
Name: 28637, dtype: object
28638 323 5 ORtg Last Month    64.6
Name: 28638, dtype: object
28639 1700 15 ORtg Last Month    113.333
Name: 28639, dtype: object
28640 769 9 ORtg Last Month    85.4444
Name: 28640, dtype: object
28641 1733 15 ORtg Last Month    115.533
Name: 28641, dtype: object
28642 1703 15 ORtg Last Month    113.533
Name: 28642, dtype: object
28643 1486 14 ORtg Last Month    106.143
Name: 28643, dtype: object
28644 1846 15 ORtg Last Month    123.067
Name: 28644, dtype: object
28645 1292 14 ORtg Last Month    92.2857
Name: 28645, dtype: object
28646 128 3 ORtg Last Month    42.6667
Name: 28646, dtype: object
28647 2102 15 ORtg Last Month    140.133
Name: 28647, dtype: object
28648 1515 11 ORtg Last Month    137.727
Name: 28648, dtype: object
28649 1405 15 ORtg Last Month    93.6667
Name: 28649, dtype: object
28650 1755 15 ORtg Last Month    117
Name: 28650, dtype: object
28651 1715 15 ORtg Last Month    114.333
Name: 28651, dtype: object
28652 285 2 ORtg Last Month    142.5
Name: 28652, dtype: object
28653 1537 15 ORtg Last Month    102.467
Name: 28653, dtype: object
28654 1342 14 ORtg Last Month    95.8571
Name: 28654, dtype: object
28655 711 14 ORtg Last Month    50.7857
Name: 28655, dtype: object
28656 112 15 ORtg Last Month    7.46667
Name: 28656, dtype: object
28657 1447 15 ORtg Last Month    96.4667
Name: 28657, dtype: object
28658 1835 15 ORtg Last Month    122.333
Name: 28658, dtype: object
28659 1456 12 ORtg Last Month    121.333
Name: 28659, dtype: object
28660 1246 13 ORtg Last Month    95.8462
Name: 28660, dtype: object
28661 1220 12 ORtg Last Month    101.667
Name: 28661, dtype: object
28662 937 12 ORtg Last Month    78.0833
Name: 28662, dtype: object
28663 1341 12 ORtg Last Month    111.75
Name: 28663, dtype: object
28664 266 4 ORtg Last Month    66.5
Name: 28664, dtype: object
28665 1373 12 ORtg Last Month    114.417
Name: 28665, dtype: object
28666 1274 11 ORtg Last Month    115.818
Name: 28666, dtype: object
28667 1466 13 ORtg Last Month    112.769
Name: 28667, dtype: object

28668 1056 9 ORtg Last Month    117.333
Name: 28668, dtype: object
28669 1336 13 ORtg Last Month    102.769
Name: 28669, dtype: object
28670 199 11 ORtg Last Month    18.0909
Name: 28670, dtype: object
28671 1353 13 ORtg Last Month    104.077
Name: 28671, dtype: object
28672 1167 13 ORtg Last Month    89.7692
Name: 28672, dtype: object
28673 1321 13 ORtg Last Month    101.615
Name: 28673, dtype: object
28674 1242 11 ORtg Last Month    112.909
Name: 28674, dtype: object
28675 372 8 ORtg Last Month    46.5
Name: 28675, dtype: object
28676 0 1 ORtg Last Month    0
Name: 28676, dtype: object
28677 1702 13 ORtg Last Month    130.923
Name: 28677, dtype: object
28678 403 13 ORtg Last Month    31
Name: 28678, dtype: object
28679 1797 13 ORtg Last Month    138.231
Name: 28679, dtype: object
28680 1820 13 ORtg Last Month    140
Name: 28680, dtype: object
28681 211 2 ORtg Last Month    105.5
Name: 28681, dtype: object
28682 1582 13 ORtg Last Month    121.692
Name: 28682, dtype: object
28683 658 9 ORtg Last Month    73.1111
Name: 28683, dtype: object
28684 1254 13 ORtg Last Month    96.4615
Name: 28684, dtype: object
28685 797 13 ORtg Last Month    61.3077
Name: 28685, dtype: object
28686 1106 13 ORtg Last Month    85.0769
Name: 28686, dtype: object
28687 437 6 ORtg Last Month    72.8333
Name: 28687, dtype: object
28688 1559 13 ORtg Last Month    119.923
Name: 28688, dtype: object
28689 1466 13 ORtg Last Month    112.769
Name: 28689, dtype: object
28690 1727 15 ORtg Last Month    115.133
Name: 28690, dtype: object
28691 1276 15 ORtg Last Month    85.0667
Name: 28691, dtype: object
28692 1025 15 ORtg Last Month    68.3333
Name: 28692, dtype: object
28693 43 11 ORtg Last Month    3.90909
Name: 28693, dtype: object
28694 250 6 ORtg Last Month    41.6667
Name: 28694, dtype: object
28695 1720 15 ORtg Last Month    114.667
Name: 28695, dtype: object
28696 1655 15 ORtg Last Month    110.333
Name: 28696, dtype: object
28697 1649 15 ORtg Last Month    109.933
Name: 28697, dtype: object
28698 990 11 ORtg Last Month    90
Name: 28698, dtype: object
28699 868 9 ORtg Last Month    96.4444
Name: 28699, dtype: object
28700 1467 15 ORtg Last Month    97.8
Name: 28700, dtype: object
28701 1671 15 ORtg Last Month    111.4
Name: 28701, dtype: object
28702 1770 14 ORtg Last Month    126.429
Name: 28702, dtype: object
28703 1603 15 ORtg Last Month    106.867
Name: 28703, dtype: object
28704 1671 15 ORtg Last Month    111.4
Name: 28704, dtype: object
28705 300 9 ORtg Last Month    33.3333
Name: 28705, dtype: object
28706 497 14 ORtg Last Month    35.5
Name: 28706, dtype: object
28707 1648 15 ORtg Last Month    109.867
Name: 28707, dtype: object
28708 1478 14 ORtg Last Month    105.571
Name: 28708, dtype: object
28709 1271 15 ORtg Last Month    84.7333
Name: 28709, dtype: object
28710 88 6 ORtg Last Month    14.6667
Name: 28710, dtype: object
28711 1465 15 ORtg Last Month    97.6667
Name: 28711, dtype: object
28712 2023 14 ORtg Last Month    144.5
Name: 28712, dtype: object
28713 1067 14 ORtg Last Month    76.2143
Name: 28713, dtype: object
28714 1719 15 ORtg Last Month    114.6
Name: 28714, dtype: object
28715 1658 16 ORtg Last Month    103.625
Name: 28715, dtype: object
28716 1985 16 ORtg Last Month    124.062
Name: 28716, dtype: object
28717 1434 15 ORtg Last Month    95.6
Name: 28717, dtype: object
28718 236 16 ORtg Last Month    14.75
Name: 28718, dtype: object
28719 1410 16 ORtg Last Month    88.125
Name: 28719, dtype: object
28720 1639 15 ORtg Last Month    109.267
Name: 28720, dtype: object
28721 975 16 ORtg Last Month    60.9375
Name: 28721, dtype: object
28722 731 16 ORtg Last Month    45.6875
Name: 28722, dtype: object
28723 948 14 ORtg Last Month    67.7143
Name: 28723, dtype: object
28724 1718 15 ORtg Last Month    114.533
Name: 28724, dtype: object
28725 1680 15 ORtg Last Month    112
Name: 28725, dtype: object
28726 1773 16 ORtg Last Month    110.812
Name: 28726, dtype: object
28727 1558 16 ORtg Last Month    97.375
Name: 28727, dtype: object
28728 1813 16 ORtg Last Month    113.312
Name: 28728, dtype: object
28729 0 5 ORtg Last Month    0
Name: 28729, dtype: object
28730 39 16 ORtg Last Month    2.4375
Name: 28730, dtype: object
28731 1464 15 ORtg Last Month    97.6
Name: 28731, dtype: object
28732 1802 16 ORtg Last Month    112.625
Name: 28732, dtype: object
28733 2016 16 ORtg Last Month    126
Name: 28733, dtype: object
28734 1860 16 ORtg Last Month    116.25
Name: 28734, dtype: object
28735 1478 16 ORtg Last Month    92.375
Name: 28735, dtype: object
28736 1621 16 ORtg Last Month    101.312
Name: 28736, dtype: object
28737 449 11 ORtg Last Month    40.8182
Name: 28737, dtype: object
28738 1434 14 ORtg Last Month    102.429
Name: 28738, dtype: object
28739 1939 15 ORtg Last Month    129.267
Name: 28739, dtype: object
28740 1595 12 ORtg Last Month    132.917
Name: 28740, dtype: object
28741 554 10 ORtg Last Month    55.4
Name: 28741, dtype: object
28742 137 2 ORtg Last Month    68.5
Name: 28742, dtype: object
28743 1342 15 ORtg Last Month    89.4667
Name: 28743, dtype: object
28744 1046 9 ORtg Last Month    116.222
Name: 28744, dtype: object
28745 1812 15 ORtg Last Month    120.8
Name: 28745, dtype: object
28746 1357 14 ORtg Last Month    96.9286
Name: 28746, dtype: object
28747 2252 15 ORtg Last Month    150.133
Name: 28747, dtype: object
28748 1338 10 ORtg Last Month    133.8
Name: 28748, dtype: object
28749 896 14 ORtg Last Month    64
Name: 28749, dtype: object
28750 1100 14 ORtg Last Month    78.5714
Name: 28750, dtype: object
28751 882 8 ORtg Last Month    110.25
Name: 28751, dtype: object
28752 956 11 ORtg Last Month    86.9091
Name: 28752, dtype: object
28753 222 8 ORtg Last Month    27.75
Name: 28753, dtype: object
28754 216 3 ORtg Last Month    72
Name: 28754, dtype: object
28755 1604 14 ORtg Last Month    114.571
Name: 28755, dtype: object
28756 0 4 ORtg Last Month    0
Name: 28756, dtype: object
28757 1551 14 ORtg Last Month    110.786
Name: 28757, dtype: object
28758 463 14 ORtg Last Month    33.0714
Name: 28758, dtype: object
28759 1526 14 ORtg Last Month    109
Name: 28759, dtype: object
28760 1311 10 ORtg Last Month    131.1
Name: 28760, dtype: object
28761 1700 14 ORtg Last Month    121.429
Name: 28761, dtype: object
28762 628 8 ORtg Last Month    78.5
Name: 28762, dtype: object
28763 868 13 ORtg Last Month    66.7692
Name: 28763, dtype: object
28764 1441 11 ORtg Last Month    131
Name: 28764, dtype: object
28765 1459 13 ORtg Last Month    112.231
Name: 28765, dtype: object
28766 1299 12 ORtg Last Month    108.25
Name: 28766, dtype: object
28767 1547 14 ORtg Last Month    110.5
Name: 28767, dtype: object
28768 809 13 ORtg Last Month    62.2308
Name: 28768, dtype: object
28769 1161 14 ORtg Last Month    82.9286
Name: 28769, dtype: object
28770 1737 14 ORtg Last Month    124.071
Name: 28770, dtype: object
28771 1684 14 ORtg Last Month    120.286
Name: 28771, dtype: object
28772 1440 13 ORtg Last Month    110.769
Name: 28772, dtype: object
28773 955 11 ORtg Last Month    86.8182
Name: 28773, dtype: object
28774 1398 13 ORtg Last Month    107.538
Name: 28774, dtype: object
28775 821 8 ORtg Last Month    102.625
Name: 28775, dtype: object
28776 1443 13 ORtg Last Month    111
Name: 28776, dtype: object
28777 1424 13 ORtg Last Month    109.538
Name: 28777, dtype: object
28778 1016 11 ORtg Last Month    92.3636
Name: 28778, dtype: object
28779 317 10 ORtg Last Month    31.7
Name: 28779, dtype: object
28780 1256 13 ORtg Last Month    96.6154
Name: 28780, dtype: object
28781 1401 13 ORtg Last Month    107.769
Name: 28781, dtype: object
28782 647 5 ORtg Last Month    129.4
Name: 28782, dtype: object
28783 1531 15 ORtg Last Month    102.067
Name: 28783, dtype: object
28784 648 6 ORtg Last Month    108
Name: 28784, dtype: object
28785 1505 15 ORtg Last Month    100.333
Name: 28785, dtype: object
28786 375 12 ORtg Last Month    31.25
Name: 28786, dtype: object
28787 183 14 ORtg Last Month    13.0714
Name: 28787, dtype: object
28788 1243 13 ORtg Last Month    95.6154
Name: 28788, dtype: object
28789 45 8 ORtg Last Month    5.625
Name: 28789, dtype: object
28790 1573 15 ORtg Last Month    104.867
Name: 28790, dtype: object
28791 1280 15 ORtg Last Month    85.3333
Name: 28791, dtype: object

28792 1796 15 ORtg Last Month    119.733
Name: 28792, dtype: object
28793 1671 15 ORtg Last Month    111.4
Name: 28793, dtype: object
28794 1860 15 ORtg Last Month    124
Name: 28794, dtype: object
28795 169 13 ORtg Last Month    13
Name: 28795, dtype: object
28796 890 11 ORtg Last Month    80.9091
Name: 28796, dtype: object
28797 1292 14 ORtg Last Month    92.2857
Name: 28797, dtype: object
28798 1324 13 ORtg Last Month    101.846
Name: 28798, dtype: object
28799 1330 13 ORtg Last Month    102.308
Name: 28799, dtype: object
28800 1855 14 ORtg Last Month    132.5
Name: 28800, dtype: object
28801 998 11 ORtg Last Month    90.7273
Name: 28801, dtype: object
28802 795 12 ORtg Last Month    66.25
Name: 28802, dtype: object
28803 1432 14 ORtg Last Month    102.286
Name: 28803, dtype: object
28804 278 9 ORtg Last Month    30.8889
Name: 28804, dtype: object
28805 1180 14 ORtg Last Month    84.2857
Name: 28805, dtype: object
28806 1294 14 ORtg Last Month    92.4286
Name: 28806, dtype: object
28807 1689 14 ORtg Last Month    120.643
Name: 28807, dtype: object
28808 159 13 ORtg Last Month    12.2308
Name: 28808, dtype: object
28809 1362 13 ORtg Last Month    104.769
Name: 28809, dtype: object
28810 1623 14 ORtg Last Month    115.929
Name: 28810, dtype: object
28811 1298 14 ORtg Last Month    92.7143
Name: 28811, dtype: object
28812 1407 14 ORtg Last Month    100.5
Name: 28812, dtype: object
28813 284 10 ORtg Last Month    28.4
Name: 28813, dtype: object
28814 1500 14 ORtg Last Month    107.143
Name: 28814, dtype: object
28815 90 5 ORtg Last Month    18
Name: 28815, dtype: object
28816 1822 14 ORtg Last Month    130.143
Name: 28816, dtype: object
28817 376 10 ORtg Last Month    37.6
Name: 28817, dtype: object
28818 864 8 ORtg Last Month    108
Name: 28818, dtype: object
28819 1157 13 ORtg Last Month    89
Name: 28819, dtype: object
28820 929 13 ORtg Last Month    71.4615
Name: 28820, dtype: object
28821 1435 14 ORtg Last Month    102.5
Name: 28821, dtype: object
28822 1308 14 ORtg Last Month    93.4286
Name: 28822, dtype: object
28823 280 4 ORtg Last Month    70
Name: 28823, dtype: object
28824 915 13 ORtg Last Month    70.3846
Name: 28824, dtype: object
28825 0 2 ORtg Last Month    0
Name: 28825, dtype: object
28826 922 12 ORtg Last Month    76.8333
Name: 28826, dtype: object
28827 1954 14 ORtg Last Month    139.571
Name: 28827, dtype: object
28828 921 12 ORtg Last Month    76.75
Name: 28828, dtype: object
28829 906 14 ORtg Last Month    64.7143
Name: 28829, dtype: object
28830 1544 14 ORtg Last Month    110.286
Name: 28830, dtype: object
28831 1545 15 ORtg Last Month    103
Name: 28831, dtype: object
28832 669 15 ORtg Last Month    44.6
Name: 28832, dtype: object
28833 248 15 ORtg Last Month    16.5333
Name: 28833, dtype: object
28834 0 0 ORtg Last Month    0
Name: 28834, dtype: object
28835 1616 15 ORtg Last Month    107.733
Name: 28835, dtype: object
28836 1708 15 ORtg Last Month    113.867
Name: 28836, dtype: object
28837 958 15 ORtg Last Month    63.8667
Name: 28837, dtype: object
28838 183 14 ORtg Last Month    13.0714
Name: 28838, dtype: object
28839 1267 14 ORtg Last Month    90.5
Name: 28839, dtype: object
28840 1594 14 ORtg Last Month    113.857
Name: 28840, dtype: object
28841 1661 15 ORtg Last Month    110.733
Name: 28841, dtype: object
28842 227 15 ORtg Last Month    15.1333
Name: 28842, dtype: object
28843 1149 11 ORtg Last Month    104.455
Name: 28843, dtype: object
28844 1608 13 ORtg Last Month    123.692
Name: 28844, dtype: object
28845 275 3 ORtg Last Month    91.6667
Name: 28845, dtype: object
28846 684 13 ORtg Last Month    52.6154
Name: 28846, dtype: object
28847 1421 13 ORtg Last Month    109.308
Name: 28847, dtype: object
28848 1427 13 ORtg Last Month    109.769
Name: 28848, dtype: object
28849 1474 13 ORtg Last Month    113.385
Name: 28849, dtype: object
28850 365 7 ORtg Last Month    52.1429
Name: 28850, dtype: object
28851 811 13 ORtg Last Month    62.3846
Name: 28851, dtype: object
28852 1633 13 ORtg Last Month    125.615
Name: 28852, dtype: object
28853 438 13 ORtg Last Month    33.6923
Name: 28853, dtype: object
28854 1161 14 ORtg Last Month    82.9286
Name: 28854, dtype: object
28855 359 8 ORtg Last Month    44.875
Name: 28855, dtype: object
28856 442 14 ORtg Last Month    31.5714
Name: 28856, dtype: object
28857 361 9 ORtg Last Month    40.1111
Name: 28857, dtype: object
28858 1391 13 ORtg Last Month    107
Name: 28858, dtype: object
28859 71 1 ORtg Last Month    71
Name: 28859, dtype: object
28860 140 3 ORtg Last Month    46.6667
Name: 28860, dtype: object
28861 1723 14 ORtg Last Month    123.071
Name: 28861, dtype: object
28862 1040 14 ORtg Last Month    74.2857
Name: 28862, dtype: object
28863 454 6 ORtg Last Month    75.6667
Name: 28863, dtype: object
28864 870 13 ORtg Last Month    66.9231
Name: 28864, dtype: object
28865 1655 15 ORtg Last Month    110.333
Name: 28865, dtype: object
28866 1869 15 ORtg Last Month    124.6
Name: 28866, dtype: object
28867 1451 15 ORtg Last Month    96.7333
Name: 28867, dtype: object
28868 1515 14 ORtg Last Month    108.214
Name: 28868, dtype: object
28869 1491 15 ORtg Last Month    99.4
Name: 28869, dtype: object
28870 1671 14 ORtg Last Month    119.357
Name: 28870, dtype: object
28871 1577 15 ORtg Last Month    105.133
Name: 28871, dtype: object
28872 217 11 ORtg Last Month    19.7273
Name: 28872, dtype: object
28873 551 15 ORtg Last Month    36.7333
Name: 28873, dtype: object
28874 1456 15 ORtg Last Month    97.0667
Name: 28874, dtype: object
28875 1770 15 ORtg Last Month    118
Name: 28875, dtype: object
28876 1722 16 ORtg Last Month    107.625
Name: 28876, dtype: object
28877 1387 16 ORtg Last Month    86.6875
Name: 28877, dtype: object
28878 1823 16 ORtg Last Month    113.938
Name: 28878, dtype: object
28879 1823 16 ORtg Last Month    113.938
Name: 28879, dtype: object
28880 1827 16 ORtg Last Month    114.188
Name: 28880, dtype: object
28881 1777 15 ORtg Last Month    118.467
Name: 28881, dtype: object
28882 2086 16 ORtg Last Month    130.375
Name: 28882, dtype: object
28883 93 3 ORtg Last Month    31
Name: 28883, dtype: object
28884 94 5 ORtg Last Month    18.8
Name: 28884, dtype: object
28885 1591 14 ORtg Last Month    113.643
Name: 28885, dtype: object
28886 113 9 ORtg Last Month    12.5556
Name: 28886, dtype: object
28887 1966 15 ORtg Last Month    131.067
Name: 28887, dtype: object
28888 1471 14 ORtg Last Month    105.071
Name: 28888, dtype: object
28889 1762 14 ORtg Last Month    125.857
Name: 28889, dtype: object
28890 1541 14 ORtg Last Month    110.071
Name: 28890, dtype: object
28891 757 14 ORtg Last Month    54.0714
Name: 28891, dtype: object
28892 1651 14 ORtg Last Month    117.929
Name: 28892, dtype: object
28893 1346 13 ORtg Last Month    103.538
Name: 28893, dtype: object
28894 1555 14 ORtg Last Month    111.071
Name: 28894, dtype: object
28895 1160 13 ORtg Last Month    89.2308
Name: 28895, dtype: object
28896 509 14 ORtg Last Month    36.3571
Name: 28896, dtype: object
28897 1647 14 ORtg Last Month    117.643
Name: 28897, dtype: object
28898 2094 14 ORtg Last Month    149.571
Name: 28898, dtype: object
28899 171 2 ORtg Last Month    85.5
Name: 28899, dtype: object
28900 372 11 ORtg Last Month    33.8182
Name: 28900, dtype: object
28901 827 10 ORtg Last Month    82.7
Name: 28901, dtype: object
28902 1975 16 ORtg Last Month    123.438
Name: 28902, dtype: object
28903 1602 15 ORtg Last Month    106.8
Name: 28903, dtype: object
28904 1395 15 ORtg Last Month    93
Name: 28904, dtype: object
28905 1873 16 ORtg Last Month    117.062
Name: 28905, dtype: object
28906 1810 16 ORtg Last Month    113.125
Name: 28906, dtype: object
28907 128 4 ORtg Last Month    32
Name: 28907, dtype: object
28908 1405 16 ORtg Last Month    87.8125
Name: 28908, dtype: object
28909 200 4 ORtg Last Month    50
Name: 28909, dtype: object
28910 1621 12 ORtg Last Month    135.083
Name: 28910, dtype: object
                  Name    Pos       Date  Starter Team  Home  W     MP  FG  \
0         Terry Rozier  PG/SG 2018-10-16        0  BOS     1  1  26.52   5
1         Kyrie Irving     PG 2018-10-16        1  BOS     1  1  29.00   2
2         Marcus Smart  PG/SG 2018-10-16        0  BOS     1  1  25.02   2
3       Brad Wanamaker     PG 2018-10-16        0  BOS     1  1   0.82   1
4         Jayson Tatum  SF/PF 2018-10-16        1  BOS     1  1  28.93   9
...                ...    ...        ...      ...  ...   ... ..    ...  ..
28906    Royce O'Neale     SF 2019-04-10        1  UTA     0  0  24.85   3
28907  Tyler Cavanaugh     PF 2019-04-10        0  UTA     0  0  15.58   0
28908        Ekpe Udoh      C 2019-04-10        1  UTA     0  0  28.78   5
28909     Tony Bradley      C 2019-04-10        0  UTA     0  0  24.22   7
28910   Derrick Favors   PF/C 2019-04-10        0  UTA     0  0   0.00   0

       FGA  ...  MP Last Month  MP Last Week    ORtg_AVG  eFG_perc_AVG  \
0       10  ...       0.000000      0.000000    0.000000      0.000000
1       14  ...       0.000000      0.000000    0.000000      0.000000
2        4  ...       0.000000      0.000000    0.000000      0.000000
3        1  ...       0.000000      0.000000    0.000000      0.000000
4       17  ...       0.000000      0.000000    0.000000      0.000000
...    ...  ...            ...           ...         ...           ...
28906    6  ...      24.551875     24.551875  101.987654      0.530444
28907    2  ...       1.337500      1.337500   21.789474      0.057000
28908    7  ...       6.189375      6.189375   66.900000      0.268962
28909   12  ...       0.770000      0.770000   48.200000      0.200000
28910    0  ...      21.986667     21.986667  124.407895      0.606553

        3PA_AVG   TOV_AVG    DRtg_AVG  USG_perc_AVG    3P_AVG  ORtg Last Month
0      0.000000  0.000000    0.000000      0.000000  0.000000         0.000000
1      0.000000  0.000000    0.000000      0.000000  0.000000         0.000000
2      0.000000  0.000000    0.000000      0.000000  0.000000         0.000000
3      0.000000  0.000000    0.000000      0.000000  0.000000         0.000000
4      0.000000  0.000000    0.000000      0.000000  0.000000         0.000000
...         ...       ...         ...           ...       ...              ...
28906  2.135802  0.851852  106.419753     11.475309  0.839506       113.125000
28907  0.263158  0.052632   59.842105      6.984211  0.052632        32.000000
28908  0.000000  0.162500   63.962500      8.475000  0.000000        87.812500
28909  0.000000  0.200000   37.400000      6.620000  0.000000        50.000000
28910  1.026316  1.105263  102.802632     19.139474  0.223684       135.083333

[28911 rows x 70 columns]

In [16]:
merged_df.to_csv("main_merged6.csv", encoding='utf-8', index=False)

In [10]:
merged_df.columns

Index(['Name', 'Pos', 'Date', 'Starter', 'Team', 'Home', 'W', 'W_PTS', 'L_PTS',
       'MP', 'FG', 'FGA', 'FG_perc', '3P', '3PA', '3P_perc', 'FT', 'FTA',
       'FT_perc', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'USG_perc',
       'DRtg', 'ORtg', 'AST_perc', 'DRB_perc', 'ORB_perc', 'BLK_perc',
       'TOV_perc', 'STL_perc', 'eFG_perc', 'PG', 'SG', 'F', 'C',
       'PTS_AVG Last Month', 'PTS_AVG Last Week', 'AST Last Week', 'PTS_AVG',
       'AST Last Month', 'MP_AVG', 'FG_AVG', 'FGA_AVG', 'FG_perc_AVG',
       'FG_AVG Last Week', 'FGA_AVG Last Week', 'FG_perc_AVG Last Week',
       'AST_AVG', 'FG_AVG Last Month', 'FGA_AVG Last Month',
       'FG_perc_AVG Last Month', 'Opp', 'BLK_AVG', 'BLK Last Week',
       'BLK Last Month', 'TRB_AVG', 'STL_AVG', 'MP Last Month',
       'MP Last Week'],
      dtype='object')

In [ ]:
def add_binary_positions(df):
    zeros = [0 for i in range(df.shape[0])]
    PG, SG, SF, PF, C = zeros.copy(), zeros.copy(), zeros.copy(), zeros.copy(), zeros.copy()
        
    for i in range(df.shape[0]):
        if 'PG' in df.loc[i,'Pos']:
            PG[i] = 1
            
        elif 'SG' in df.loc[i,'Pos']:
            SG[i] = 1

        elif 'C' in df.loc[i,'Pos']:
            C[i] = 1
            
        elif 'PF' in df.loc[i,'Pos']:
            C[i] = 1
            
        elif 'SF' in df.loc[i,'Pos']:
            C[i] = 1
            
    df['PG'] = PG
    df['SG'] = SG
    df['SF'] = SF
    df['PF'] = SF
    df['C'] = C

In [92]:
merged_path = "C:/Users/ozgur/Desktop/dev/Fantasy-Basketball-Player-Recomendation-System/ML/merged1.csv"
merged_df = pd.read_csv(merged_path, index_col=None, header=0)
temp_df = merged_df.drop(['Pos', 'Date', 'Name', 'Team', 'Value', 'Home', 'W', 'W_PTS', 'L_PTS', 'Salary', 'FPTS'], axis=1)

k_means = KMeans(init = "k-means++", n_clusters = 8, n_init = 100)
k_means.fit(temp_df)

merged_df['POS Type'] = k_means.labels_
merged_df.to_csv("merged2.csv", encoding='utf-8', index=False)

In [13]:
merged_df.Date[12000:14000].to_list()

[Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-26 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-27 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-28 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),
 Timestamp('2018-12-29 00:00:00'),

merged_df.columns