In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
path = "C:/Users/ozgur/Downloads/fantasy-basketball-master/data/Boxscores/2014-15"
all_files = glob.glob(path + "/*.csv")

In [3]:
temp_list = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    temp_list.append(df)

dataframe = pd.concat(temp_list, axis=0, ignore_index=True)

In [4]:
print(dataframe)

                   Name      Date Team  Home    W  W_PTS    L  L_PTS     MP  \
0           Monta Ellis  20141028  DAL     0  SAS    101  DAL    100  37.22
1      Chandler Parsons  20141028  DAL     0  SAS    101  DAL    100  33.82
2         Dirk Nowitzki  20141028  DAL     0  SAS    101  DAL    100  31.67
3         Jameer Nelson  20141028  DAL     0  SAS    101  DAL    100  30.47
4        Tyson Chandler  20141028  DAL     0  SAS    101  DAL    100  27.75
...                 ...       ...  ...   ...  ...    ...  ...    ...    ...
32077    Meyers Leonard  20150425  POR     1  MEM    115  POR    109   5.08
32078        Alonzo Gee  20150425  POR     1  MEM    115  POR    109   0.00
32079      Allen Crabbe  20150425  POR     1  MEM    115  POR    109   0.00
32080       Tim Frazier  20150425  POR     1  MEM    115  POR    109   0.00
32081     Joel Freeland  20150425  POR     1  MEM    115  POR    109   0.00

       FG  ...  ORB_perc  DRB_perc  TRB_perc  AST_perc  STL_perc  BLK_perc  \
0      11  ...       3.4      11.7       7.3      32.5       1.5       0.0
1       2  ...       0.0      17.2       8.0       0.0       3.3       3.4
2       7  ...       8.0      18.4      12.8      11.1       1.8       0.0
3       3  ...       0.0       0.0       0.0      14.2       1.8       3.8
4       4  ...      13.7      36.7      24.4       0.0       4.0       0.0
...    ..  ...       ...       ...       ...       ...       ...       ...
32077   0  ...       0.0       0.0       0.0       0.0       0.0       0.0
32078   0  ...       0.0       0.0       0.0       0.0       0.0       0.0
32079   0  ...       0.0       0.0       0.0       0.0       0.0       0.0
32080   0  ...       0.0       0.0       0.0       0.0       0.0       0.0
32081   0  ...       0.0       0.0       0.0       0.0       0.0       0.0

       TOV_perc  USG_perc   ORtg   DRtg
0          11.6      34.5  114.0  120.0
1           9.1      16.2   50.0  112.0
2           7.3      21.6  143.0  118.0
3           0.0      11.4  144.0  120.0
4          11.1      16.2  106.0  108.0
...         ...       ...    ...    ...
32077       NaN       0.0    0.0  130.0
32078       0.0       0.0    0.0    0.0
32079       0.0       0.0    0.0    0.0
32080       0.0       0.0    0.0    0.0
32081       0.0       0.0    0.0    0.0

[32082 rows x 42 columns]

In [8]:
missing_data = dataframe.isnull()

for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Name
False    32082
Name: Name, dtype: int64

Date
False    32082
Name: Date, dtype: int64

Team
False    32082
Name: Team, dtype: int64

Home
False    32082
Name: Home, dtype: int64

W
False    32082
Name: W, dtype: int64

W_PTS
False    32082
Name: W_PTS, dtype: int64

L
False    32082
Name: L, dtype: int64

L_PTS
False    32082
Name: L_PTS, dtype: int64

MP
False    32082
Name: MP, dtype: int64

FG
False    32082
Name: FG, dtype: int64

FGA
False    32082
Name: FGA, dtype: int64

FG_perc
False    32082
Name: FG_perc, dtype: int64

3P
False    32082
Name: 3P, dtype: int64

3PA
False    32082
Name: 3PA, dtype: int64

3P_perc
False    32082
Name: 3P_perc, dtype: int64

FT
False    32082
Name: FT, dtype: int64

FTA
False    32082
Name: FTA, dtype: int64

FT_perc
False    32082
Name: FT_perc, dtype: int64

ORB
False    32082
Name: ORB, dtype: int64

DRB
False    32082
Name: DRB, dtype: int64

TRB
False    32082
Name: TRB, dtype: int64

AST
False    32082
Name: AST, dtype: int64

STL
False    32082
Name: STL, dtype: int64

BLK
False    32082
Name: BLK, dtype: int64

TOV
False    32082
Name: TOV, dtype: int64

PF
False    32082
Name: PF, dtype: int64

PTS
False    32082
Name: PTS, dtype: int64

+-
False    32077
True         5
Name: +-, dtype: int64

TS_perc
False    31003
True      1079
Name: TS_perc, dtype: int64

eFG_perc
False    30839
True      1243
Name: eFG_perc, dtype: int64

3PAr
False    30839
True      1243
Name: 3PAr, dtype: int64

FTr
False    30839
True      1243
Name: FTr, dtype: int64

ORB_perc
False    32080
True         2
Name: ORB_perc, dtype: int64

DRB_perc
False    32080
True         2
Name: DRB_perc, dtype: int64

TRB_perc
False    32080
True         2
Name: TRB_perc, dtype: int64

AST_perc
False    32080
True         2
Name: AST_perc, dtype: int64

STL_perc
False    32080
True         2
Name: STL_perc, dtype: int64

BLK_perc
False    32080
True         2
Name: BLK_perc, dtype: int64

TOV_perc
False    31208
True       874
Name: TOV_perc, dtype: int64

USG_perc
False    32080
True         2
Name: USG_perc, dtype: int64

ORtg
False    32080
True         2
Name: ORtg, dtype: int64

DRtg
False    32080
True         2
Name: DRtg, dtype: int64

In [5]:
for index, row in dataframe.iterrows():
    if row['3PA'] is 0 and row.isnull()['3P_perc']:
        dataframe.loc[index, ['3P_perc']] = 0

In [6]:
for index, row in dataframe.iterrows():
    if row['FGA'] is 0 and row.isnull()['FG_perc']:
        dataframe.loc[index, ['FG_perc']] = 0

In [7]:
for index, row in dataframe.iterrows():
    if row['FTA'] is 0 and row.isnull()['FT_perc']:
        dataframe.loc[index, ['FT_perc']] = 0